Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pin ci actions
  .github/workflows/ci.yaml
Due: none

pin pr actions
  .github/workflows/pr.yaml
Due: none

pin release actions
  .github/workflows/release.yaml
Due: none

Fix parsing --drain-priority-config
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/config/flags/flags_test.go
Due: none

Revert "Add VMs implementation to master (#8078)"
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

pin all actions
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
Due: none

azure: fix azure_agent_pool UT
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

include pod namespace when logging updates
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Refactor PatchSet to be contained in a separate package for reusability.
  cluster-autoscaler/simulator/common/patch.go
  cluster-autoscaler/simulator/common/patch_test.go
  cluster-autoscaler/simulator/common/patchset.go
  cluster-autoscaler/simulator/common/patchset_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/test_utils.go
Due: none

CA - AWS - May25 Instance Update
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Due: none

bump golangci lint to v2
  .github/workflows/ci.yaml
Due: none

nit: when scheduling fails on topology constraints, skip the last node that failed scheduling
  cluster-autoscaler/estimator/binpacking_estimator.go
Due: none

Enable DeltaSnapshotStore to work when DRA is enabled
  cluster-autoscaler/main.go
Due: none

Handle node readiness for DRA after a scale-up
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_dra_test.go
  cluster-autoscaler/processors/customresources/custom_resources_processor.go
  cluster-autoscaler/processors/customresources/default_custom_processor.go
  cluster-autoscaler/processors/customresources/default_custom_processor_test.go
  cluster-autoscaler/processors/customresources/dra_processor.go
  cluster-autoscaler/processors/customresources/dra_processor_test.go
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/test/common.go
Due: none

Update deps to use k8s 1.34.0-alpha.0
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_test.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
  cluster-autoscaler/version/version.go
Due: none

(CA) leaner go.mod configuration
  cluster-autoscaler/go.mod
Due: none

Remove redundant warning
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Due: none

chore: update 1.33 k8s libraries for CA 1.33.0 release
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_test.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
  cluster-autoscaler/version/version.go
Due: none

Wait for the VMSS capacity update until the context timeout expires
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

Create a proposal for Buffers API.
  cluster-autoscaler/proposals/buffers.md
  cluster-autoscaler/proposals/images/buffers-component-structure.jpg
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
