Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

tests: added testautoprovisioningcloudprovider to static_autoscaler tests
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

chore: refactored config parsing
  cluster-autoscaler/cloudprovider/hetzner/README.md
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
Due: none

tests: added testautoprovisioningcloudprovider to static_autoscaler tests
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/dynamicresources/dynamic_resources_processor_test.go
Due: none

tests: added testautoprovisioningcloudprovider to static_autoscaler tests
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/dynamicresources/dynamic_resources_processor.go
Due: none

Update release instructions for automatically built images
  vertical-pod-autoscaler/RELEASE.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

tests: added testautoprovisioningcloudprovider to static_autoscaler tests
  cluster-autoscaler/processors/dynamicresources/dynamic_resources_processor.go
Due: none

feat(cluster-autoscaler/exoscale): add `volumeattachments` to ClusterRole
  cluster-autoscaler/cloudprovider/exoscale/examples/cluster-autoscaler-run-on-control-plane.yaml
  cluster-autoscaler/cloudprovider/exoscale/examples/cluster-autoscaler.yaml
Due: none

tests: added testautoprovisioningcloudprovider to static_autoscaler tests
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_dra_test.go
  cluster-autoscaler/processors/dynamicresources/dynamic_resources_processor.go
Due: none

fix: linting
  cluster-autoscaler/processors/dynamicresources/dynamic_resources_processor.go
Due: none

fix: linting
  cluster-autoscaler/core/static_autoscaler.go
Due: none

fix: reverted to original tests, without the added autoprovisioned node groups
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/dynamicresources/dynamic_resources_processor.go
Due: none

Add docs for in-place updates
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

chore: improve logging for missing limit assignments
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Bump VPA Go dependencies prior to next release
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Bump to Kubernetes 1.33
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
  vertical-pod-autoscaler/hack/update-kubernetes-deps-in-e2e.sh
  vertical-pod-autoscaler/hack/update-kubernetes-deps.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Adjust comments
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

vpa-updater: Allow patch and update for events
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fix(autoscaler): Fix internal cache issue when downscale is stressed
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider_test.go
Due: none

feat(ovhcloud): update gpu categories
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
Due: none

feat(ovhcloud): allow openstack application credentials to authenticate
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/openstack.go
  cluster-autoscaler/cloudprovider/ovhcloud/sdk/ovh.go
Due: none

Deprecate min-checkpoints flag and make it a no-op
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Run `hack/generate-flags.sh`
  vertical-pod-autoscaler/docs/flags.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update features.md
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

[AKS VMs Pool] Add VMs implementation to 1.31
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

[AKS VMs Pool] Add VMs implementation to 1.32
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

VPA: bump up overall e2e test timeout
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix cool down status condition to trigger scale down
  cluster-autoscaler/core/static_autoscaler.go
Due: none

Introduce a metric measuring heterogeneity of binpacking
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/metrics/metrics.go
Due: none

Prevent nil dereference of preFilterStatus
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner_test.go
  cluster-autoscaler/utils/test/test_utils.go
Due: none

Use exponential rather than arbitrary bucketing
  cluster-autoscaler/metrics/metrics.go
Due: none

Add unit test for cleaning deletion soft taints in scale down cool down
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

feat(chart): support configuring dnsConfig
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Due: none

Emit scale down metric even when there is no scale down candidates. Update scale scaleDownInCooldown definition to skip considering zero candidates as a reason to be in scaleDownInCooldown state
  cluster-autoscaler/core/scaledown/status/status.go
  cluster-autoscaler/core/static_autoscaler.go
Due: none
