Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

test: use testing.Cleanup() to ensure loadEnv()
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

Update index.yaml
  index.yaml
Due: none

test: support both fast/not fast delete on an affected test
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.30] test: clean up environments properly before/after each unit test in azure_manager_test.go (#7751)
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.29] test: clean up environments properly before/after each unit test in azure_manager_test.go (#7752)
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.31] test: clean up environments properly before/after each unit test in azure_manager_test.go (#7739)
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.28] test: clean up environments properly before/after each unit test in azure_manager_test.go (#7753)
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.32] test: clean up environments properly before/after each unit test in azure_manager_test.go (#7738)
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

fix: undefined instance state on provisioning state failed (#7750)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

fix: undefined instance state on provisioning state failed
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
Due: pull-cluster-autoscaler-e2e-azure-master

test: add unit tests for provisioning state failed + fast delete
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.31] fix: undefined instance state on provisioning state failed (#7758)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.30] fix: undefined instance state on provisioning state failed (#7754)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.29] fix: undefined instance state on provisioning state failed (#7755)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.32] fix: undefined instance state on provisioning state failed (#7757)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

chore: replace deprecated NewIndexerInformer
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

doc(gce): Update manual MIG specification URL
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
Due: none

Revert https://github.com/kubernetes/autoscaler/pull/7233
  cluster-autoscaler/main.go
Due: none

fix: move leader election flag binding above flag parsing which happens in kube_flag.InitFlags()
  cluster-autoscaler/main.go
Due: none

Bump addon-resizer to 1.8.23
  addon-resizer/Makefile
Due: none

Fix RELEASE.md command line.
  vertical-pod-autoscaler/RELEASE.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add globalPruningGracePeriod flag which defaults to a long time for non-breaking opt-in change
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: refactor pruning grace period as vpa apiObject annotation instead of containerPolicy
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add e2e tests for pruning grace period and stale recommendations
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: resolve various TODOs and review comments
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: fix setting VPAContainersPerPod correctly; allow old aggregates to be linked to new containers
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
