Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

Revert "Parallelize creating cluster snapshot"
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/podlistprocessor/filter_out_schedulable_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta_benchmark_test.go
Due: none

Fix data race while setting delta cluster state in parallel
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
Due: none

Make informer use correct namespace flag
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add e2e tests and remove unit tests
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Minor refactor to scale-up orchestrator for more re-usability
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/core/scaleup/orchestrator/executor_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/utils/errors/errors.go
  cluster-autoscaler/utils/errors/errors_test.go
Due: none

Add default for UpdateMode
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixup! VPA: Add UpdateModeInPlaceOrRecreate to types
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixup! VPA: fix logs and cleanup TODOs according to review
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixup! VPA: Allow VPA updater to actuate recommendations in-place
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixup! fixup! VPA: fix logs and cleanup TODOs according to review
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixup! fixup! VPA: Allow VPA updater to actuate recommendations in-place
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update default VPA version to 1.2.2 in vpa-release-1.2 branch
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update default VPA version to 1.2.2 in main branch
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix cert generation for VPA 1.2.2 when running vpa-up.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix auto_scaling_group asg failed multi line warn log
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups_test.go
Due: none

Small cleanup to version compatability table
  vertical-pod-autoscaler/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Small cleanup of version compatability table
  vertical-pod-autoscaler/docs/installation.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fixed * in containerPolicy.ContainerName
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fix: don't crash when vmss not present or has no nodes
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

VPA: Bump go to 1.23.5
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix bash or logic
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

clean up cluster_feeder tests
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

gofmt
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Feat: improve VPA filtering and checkpoint garbage collection
  vertical-pod-autoscaler/common/flags.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Bump the go version to v1.23.2 for the GitHub workflows.
  .github/workflows/ci.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

chore: replace deprecated NewIndexerInformer
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

change default cluster-autoscaler to least-waste
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/main.go
Due: none

Fixed typo
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update version.go to 1.2.3
  vertical-pod-autoscaler/common/version.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full
