Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

adding env variable EnableLabelPrediction (#8324)
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

adding ut test and nil scenario
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

addressing comments
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
Due: pull-cluster-autoscaler-e2e-azure-master

adding env variable EnableLabelPrediction
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

changing default value to true
  cluster-autoscaler/cloudprovider/azure/azure_config.go
Due: pull-cluster-autoscaler-e2e-azure-master

adding ephemeral storage ut
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.30] adding env variable EnableLabelPrediction (#8338)
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.31] adding env variable EnableLabelPrediction (#8339)
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.32] adding env variable EnableLabelPrediction (#8340)
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.33] adding env variable EnableLabelPrediction (#8343)
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

remove outdated Utho Go module versions from go.sum
  cluster-autoscaler/go.sum
Due: none

Do not remove healthy nodes from partially failing zero-or-max-scaling node pool
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

Create a proposal for NodeAutoscalingBuffers API.
  cluster-autoscaler/proposals/buffers.md
  cluster-autoscaler/proposals/images/buffers-component-structure.jpg
Due: none

Update cluster-api provider to use machineTemplate.status.nodeInfo for architecture-aware autoscale from zero
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

[Tests] Update cluster-api provider to use machineTemplate.status.nodeInfo for architecture-aware autoscale from zero
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Due: none

Make API changes for CPU Startup boost
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add readiness and liveness for vpa admission
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

format files
  cluster-autoscaler/cloudprovider/hetzner/hetzner_ip_reserver.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Due: none

Handle Out of host capacity scenario in OCI nodepools
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
Due: none

adds datacrunch provider
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_datacrunch.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/datacrunch/README.md
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch-go/client.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch-go/instances.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch-go/scripts.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch-go/sshkeys.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch-go/types.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch-go/volumes.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_cloud_provider.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_manager.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_node_group.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_server_type_cache.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_server_type_cache_test.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_servers_cache.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_servers_cache_test.go
  cluster-autoscaler/cloudprovider/datacrunch/examples/Dockerfile
  cluster-autoscaler/cloudprovider/datacrunch/examples/autoscaler.yaml
  cluster-autoscaler/cloudprovider/datacrunch/examples/clusterconfig.yaml
  cluster-autoscaler/cloudprovider/datacrunch/examples/startup-script-server.go
  cluster-autoscaler/cloudprovider/datacrunch/examples/startup-script-server.yaml
  cluster-autoscaler/cloudprovider/datacrunch/examples/test-gpu.yaml
Due: none

CI checks
  cluster-autoscaler/cloudprovider/datacrunch/README.md
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch-go/types.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_manager.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_node_group.go
  cluster-autoscaler/cloudprovider/datacrunch/examples/startup-script-server.go
Due: none

Update deps for CA 1.30.5 release
  .github/workflows/ci.yaml
  builder/Dockerfile
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_getters.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/userns/types.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/userns/userns_manager.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/userns/userns_manager_windows.go
  cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  cluster-autoscaler/vendor/modules.txt
Due: pull-cluster-autoscaler-e2e-azure-master

refactored startup script logic
  cluster-autoscaler/cloudprovider/datacrunch/README.md
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_manager.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_node_group.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_server_type_cache.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_servers_cache.go
  cluster-autoscaler/cloudprovider/datacrunch/examples/Dockerfile
  cluster-autoscaler/cloudprovider/datacrunch/examples/autoscaler.yaml
  cluster-autoscaler/cloudprovider/datacrunch/examples/startup-script-server.go
  cluster-autoscaler/cloudprovider/datacrunch/examples/startup-script-server.yaml
  cluster-autoscaler/cloudprovider/datacrunch/examples/startup-script.yaml
Due: none

adds DATACRUNCH_STARTUP_SCRIPT_FILE env var
  cluster-autoscaler/cloudprovider/datacrunch/README.md
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_manager.go
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_node_group.go
Due: none
