Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

missing ;;
  hack/for-go-proj.sh
Due: none

Add custom pricing information for n4d instance type
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Due: none

clean up the non-goals section
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

docs(aep-8459): clarify AEP
  vertical-pod-autoscaler/enhancements/8459-memory-per-cpu/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

feat(recommender): add OOMMinBumpUp&OOMBumpUpRatio to CRD
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/fake/clientset_generated.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/poc.autoscaling.k8s.io/v1alpha1/poc.autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add e2e tests for CPU startup boost
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

feat(chart): affinity, tolerations, nodeSelector for VPA Admission Controller
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

refactor core.AutoscalerOptions in a new package
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/options/autoscaler.go
Due: none

add RegisterCombinedScaledDownCandidateProcessor
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_processor.go
Due: none

add clusterapi scale down upgrade processor
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_processors.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
Due: none

ensure cloud provider is initalized last
  cluster-autoscaler/core/autoscaler.go
Due: none

refactor gpu_processor_test to remove cyclic dependency
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
Due: none

Fix simulator/dynamicresources/snapshot unit test
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_test.go
Due: none

feat(vpa-chart): add chart logic for the vpa recommender
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/_helpers.tpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-clusterrolebindings.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-clusterroles.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-leader-election-rbac.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-pdb.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-serviceaccount.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixed e2e tests
  vertical-pod-autoscaler/e2e/v1/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

update path to helm charts in azure e2e test
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

cluster-autoscaler: update charts directory in E2E
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

#8325 Adds kube-api linter
  hack/install-verify-tools.sh
  vertical-pod-autoscaler/.golangci-kal.yml
  vertical-pod-autoscaler/Makefile
  vertical-pod-autoscaler/hack/tools/.custom-gcl.yml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

init
  cluster-autoscaler/cloudprovider/proxmox/instance_cache.go
  cluster-autoscaler/cloudprovider/proxmox/proxmox_client.go
  cluster-autoscaler/cloudprovider/proxmox/proxmox_cloud_provider.go
  cluster-autoscaler/cloudprovider/proxmox/proxmox_manager.go
  cluster-autoscaler/cloudprovider/proxmox/proxmox_node_group.go
  cluster-autoscaler/cloudprovider/proxmox/proxmox_utils.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: none

Update features.go
  vertical-pod-autoscaler/pkg/features/features.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update index.yaml
  index.yaml
Due: none

feat(chart): VPA Updater deployment
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/_helpers.tpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add capacity buffers scale up events
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor_test.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor.go
Due: none

feat(recommender): add OOMMinBumpUp&OOMBumpUpRatio to CRD (#8012)
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/fake/clientset_generated.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/poc.autoscaling.k8s.io/v1alpha1/poc.autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Regenerate proto
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.pb.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc_grpc.pb.go
  cluster-autoscaler/expander/grpcplugin/example/fake_grpc_server.go
  cluster-autoscaler/expander/grpcplugin/protos/expander.pb.go
  cluster-autoscaler/expander/grpcplugin/protos/expander_grpc.pb.go
Due: none

Add protobuf generation script
  cluster-autoscaler/cloudprovider/externalgrpc/README.md
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.proto
  cluster-autoscaler/expander/grpcplugin/README.md
  cluster-autoscaler/expander/grpcplugin/protos/expander.proto
  cluster-autoscaler/hack/genproto/.gitignore
  cluster-autoscaler/hack/genproto/go.mod
  cluster-autoscaler/hack/genproto/go.sum
  cluster-autoscaler/hack/update-proto.sh
  hack/boilerplate/boilerplate.py
Due: none

Add peer fields to cloudprovider/externalgrpc to replace inlined non proto-message Kubernetes objects
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/wrapper/wrapper.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.pb.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.proto
Due: none

Add peer fields to expander/grpcplugin to replace inlined non proto-message Kubernetes objects
  cluster-autoscaler/expander/grpcplugin/grpc_client.go
  cluster-autoscaler/expander/grpcplugin/grpc_client_test.go
  cluster-autoscaler/expander/grpcplugin/protos/expander.pb.go
  cluster-autoscaler/expander/grpcplugin/protos/expander.proto
Due: none
