Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

[VPA] Add prometheus bearer auth support (#8263)
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

chore: bump CA Chart image to v1.33
  cluster-autoscaler/README.md
Due: none

chore: bump CA Chart image to v1.33
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/README.md
Due: none

add price info for M4 machine family
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Due: none

docs: update the link of metrics
  vertical-pod-autoscaler/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add files
  cluster-autoscaler/cloudprovider/hetzner/README.md
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group_test.go
Due: none

typo
  cluster-autoscaler/cloudprovider/hetzner/README.md
Due: none

fix: removed ClaimWithoutAdminAccessRequests sanitization
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize.go
Due: none

feat(recommender): add round memory bytes
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

bug(recommender): treat memory as BinarySi
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Omit fake pod evictions
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
Due: none

Improve error message for unknown error in
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

toc
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

feat: improve external gPRC ca example
  cluster-autoscaler/cloudprovider/externalgrpc/examples/certmanager-manifests/ca.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

azure: 2025-06-30 CA E2E module updates
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Add support for additional rule in role/clusterrole
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/clusterrole.yaml
  charts/cluster-autoscaler/templates/role.yaml
  charts/cluster-autoscaler/values.yaml
Due: none

feat(recommender): add round memory bytes (#8298)
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fallback to eviction when InPlaceUpdate fail
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

added annotation to the service account and env var for region
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
Due: none

Fix: instance reference name from placeholder with ASG that contains `/` in its name
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Due: none

docs: Unify the header for a section
  vertical-pod-autoscaler/docs/examples.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

dependabot: add release-note-none label
  .github/dependabot.yml
Due: none

Should check placeholder regex first
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Due: none

Do not remove healthy nodes from partially failing zero-or-max-scaling node pool
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

Do not consider pod PreemptionPolicy while determining whether pod is expendable
  cluster-autoscaler/core/utils/expendable.go
  cluster-autoscaler/core/utils/expendable_test.go
Due: none

Remove exit after scale-up is performed
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

Handle Out of host capacity scenario in OCI nodepools
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
Due: none

Add memoryAggregationIntervalCount
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full
