Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

feat(recommender): add round cpu millicores
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fixed error log
  vertical-pod-autoscaler/pkg/recommender/model/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add option to skip similar nodegroup recomputation
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/main.go
Due: none

Add test for skipSimilarNodeGroupRecomputation
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
Due: none

feat: implement force delete
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

Allow to prefix provisioningClassName to filter provisioning requests
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/provreq/injector.go
  cluster-autoscaler/processors/provreq/injector_test.go
  cluster-autoscaler/processors/provreq/processor.go
  cluster-autoscaler/processors/provreq/processor_test.go
  cluster-autoscaler/provisioningrequest/besteffortatomic/provisioning_class.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/conditions/condition_test.go
  cluster-autoscaler/provisioningrequest/conditions/conditions.go
  cluster-autoscaler/provisioningrequest/supported_classes.go
Due: none

Update vertical-pod-autoscaler/docs/sidecar-containers.md
  vertical-pod-autoscaler/docs/sidecar-containers.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Enforce provisioning requests processing even if all pods are new
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/pods/scaleup_enforcer.go
  cluster-autoscaler/processors/pods/scaleup_enforcer_test.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/provreq/pods_filter.go
  cluster-autoscaler/processors/provreq/scaleup_enforcer.go
  cluster-autoscaler/processors/provreq/scaleup_enforcer_test.go
  cluster-autoscaler/processors/test/common.go
Due: none

fixed docs
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

refactor: force delete
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

VPA Disable v1beta2 API
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Remove v1beta2 from e2e tests
  vertical-pod-autoscaler/e2e/v1beta2/actuation.go
  vertical-pod-autoscaler/e2e/v1beta2/admission_controller.go
  vertical-pod-autoscaler/e2e/v1beta2/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1beta2/common.go
  vertical-pod-autoscaler/e2e/v1beta2/e2e.go
  vertical-pod-autoscaler/e2e/v1beta2/e2e_test.go
  vertical-pod-autoscaler/e2e/v1beta2/full_vpa.go
  vertical-pod-autoscaler/e2e/v1beta2/recommender.go
  vertical-pod-autoscaler/e2e/v1beta2/updater.go
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Regenerate CRDs
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixup! fixup! VPA: immediately prune stale vpa aggregates
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add flag to doc
  vertical-pod-autoscaler/docs/flags.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

capi: fix error when listing infra machines
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

doc(gce): Update manual MIG specification URL
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
Due: none

Migrate Admission Controller Validation to CEL
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update version.go to 1.2.2
  vertical-pod-autoscaler/common/version.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add UpdateModeInPlaceOrRecreate to types
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add metrics gauges for in-place updates
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow admission-controller to validate in-place spec
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Make eviction restriction in-place aware
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Updater logic allows in-place scaling
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Stuck in-place resizes still require eviction
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Update mocks to accommodate in-place VPA changes
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: hack unit tests to account for in-place
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow VPA updater to actuate recommendations in-place
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_recommendation_provider.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_updated.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_inplace_update.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: allow rule-breaking updates if disruptionless
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

only allow in-place if explicitly set (for testing)
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add e2e tests for in-place scaling
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/e2e/v1beta2/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Enable InPlacePodVerticalScaling feature flag on e2e
  vertical-pod-autoscaler/hack/e2e/vpa-rbac.yaml
  vertical-pod-autoscaler/hack/kind-config.yaml
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add in-place actuation and admission-controller e2e tests
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: fix logs and cleanup TODOs according to review
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Clean instance templates for untracked migs.
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
