Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

fix: ran gofmt
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize.go
Due: none

fix: false positives on SanitizedPodResourceClaims
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize.go
Due: none

fix: non admin results get removed from resourceclaim when requests is empty
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
  cluster-autoscaler/simulator/utilization/info_test.go
Due: none

Address review comments
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

metrics(recommender): Add counter and duration RoundTrippers to Prometheus API client
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

metrics(recommender): Add counter and duration metrics for `promhttp` RoundTripper
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

cluster-autoscaler: make-image-arch via make all
  cluster-autoscaler/Makefile
Due: none

Fix default registry in VPA makefiles
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Makefile
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Re-phrase error log for checkpoints-timeout
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

cloudbuild.yaml file for cluster-autoscaler
  cluster-autoscaler/cloudbuild.yaml
Due: none

Build VPA components in parallel
  vertical-pod-autoscaler/cloudbuild.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Address comments
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

small tweaks to makefile to ensure it works in Cloud Build
  cluster-autoscaler/Makefile
  cluster-autoscaler/cloudbuild.yaml
Due: none

feat: Support DRA Admin Access
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/utilization/info_test.go
Due: none

Bump golang.org/x/net to v0.36.0
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: none

Describe why the additional bucket handling is necessary
  vertical-pod-autoscaler/pkg/recommender/util/histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Address review comments
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fixes histograms becoming empty after loaded from checkpoints
  vertical-pod-autoscaler/pkg/recommender/util/histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update VPA version to 1.3.1
  vertical-pod-autoscaler/common/version.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add metric to track calls to get container/pod resources grouped by data source
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/utils/metrics/resources/resources.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix linter errors
  vertical-pod-autoscaler/pkg/utils/metrics/resources/resources.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

chore: update k8s to v0.33.0
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_test.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
  cluster-autoscaler/version/version.go
Due: none

Update default version in VPA 1.3 branch to 1.3.1
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update default version of VPA to 1.3.1 in main branch
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

[AKS VMs Pool] Add VMs implementation to master
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Update flags documentation
  vertical-pod-autoscaler/docs/flags.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update version documentation
  vertical-pod-autoscaler/docs/installation.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Bump build time and remove parallel builds (they don't work)
  vertical-pod-autoscaler/cloudbuild.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Make InstanceResourceSlices func more efficient and make comments about DRA annotation in capi more recognizable
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

Update golang version to 1.24 for addon-resizer to fix build
  addon-resizer/Dockerfile
  addon-resizer/Makefile
  addon-resizer/go.mod
Due: none

feat: added readiness filter for nodes with dynamic resources
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/processors.go
Due: none

feat: added readiness filter for nodes with dynamic resources
  cluster-autoscaler/processors/dynamicresources/dynamic_resources_processor.go
  cluster-autoscaler/processors/dynamicresources/dynamic_resources_processor_test.go
Due: none

Add proposal for CSI node awareness
  cluster-autoscaler/proposals/csinode.md
Due: none

fix: linting
  cluster-autoscaler/processors/dynamicresources/dynamic_resources_processor.go
Due: none

tests: added dynamicresourceprocessor to NewTestProcessors
  cluster-autoscaler/processors/test/common.go
Due: none
