Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

Re-write parts of AEP-4016 to align with the new KEP changes
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add emeritus approvers section
  cluster-autoscaler/cloudprovider/digitalocean/OWNERS
Due: none

Small edits based on comments
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixed bug in script
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

wrapped flags
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fixing scale from zero if the nodeSelector of workload contains 'node.kubernetes.io/instance-type'
  cluster-autoscaler/cloudprovider/oci/common/oci_shape.go
  cluster-autoscaler/cloudprovider/oci/common/oci_shape_test.go
Due: none

fix tests
  cluster-autoscaler/cloudprovider/oci/common/oci_shape.go
Due: none

fixing non flex shapes
  cluster-autoscaler/cloudprovider/oci/common/oci_shape.go
Due: none

vpa-recommender: Add support for configuring global max allowed resources
  vertical-pod-autoscaler/docs/examples.md
  vertical-pod-autoscaler/docs/faq.md
  vertical-pod-autoscaler/docs/known-limitations.md
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/routines/capping_post_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Address review comment from adrianmoisey
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Rename `--max-allowed-{cpu,memory}` to `--container-recommendation-max-allowed-{cpu,memory}`
  vertical-pod-autoscaler/docs/examples.md
  vertical-pod-autoscaler/docs/faq.md
  vertical-pod-autoscaler/docs/known-limitations.md
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Address review feedback from raywainman
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

added possibility to retrieve hcloud cluster config from file
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
Due: none

VPA: Remove obsolete comment and a few lines of code from addCPUSample
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Remove Request property from ContainerUsageSample
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

special handling for --v flag
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Address review feedback from raywainman (2)
  vertical-pod-autoscaler/pkg/recommender/routines/capping_post_processor.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Address review feedback from plkokanov
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Ensure added taints are present on the node in the snapshot
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Due: none

Update skewer version on master branch
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Update skewer version for 1.32 release branch
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

cluster-api: node template in scale-from-0-nodes scenario with DRA
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
Due: none

Fixes based on code review
  cluster-autoscaler/cloudprovider/gce/templates.go
  cluster-autoscaler/cloudprovider/gce/templates_test.go
Due: none

ignore unexpored fields
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_test.go
  cluster-autoscaler/simulator/framework/infos_test.go
Due: none

Improve events when max total nodes of the cluster is reached.
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor.go
  cluster-autoscaler/processors/status/eventing_scale_up_processor_test.go
Due: none

add more dashes
  vertical-pod-autoscaler/hack/generate-flags.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Remove date
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

removed unused script
  vertical-pod-autoscaler/hack/create-flags-doc-vpa.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix static autoscaler tests
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none
