Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Update cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

adding ut and changing logging level
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

read min and max values from nodepool tags for oci autodiscovery
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
Due: none

Add Capacity Buffer controller logic
  cluster-autoscaler/capacitybuffer/common/common.go
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/filters/filter.go
  cluster-autoscaler/capacitybuffer/filters/status_filter.go
  cluster-autoscaler/capacitybuffer/filters/status_filter_test.go
  cluster-autoscaler/capacitybuffer/filters/strategy_filter.go
  cluster-autoscaler/capacitybuffer/filters/strategy_filter_test.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/translator.go
  cluster-autoscaler/capacitybuffer/updater/status_updater.go
  cluster-autoscaler/capacitybuffer/updater/status_updater_test.go
Due: none

Handle Multiple Projects For MIG Cache
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Due: none

compare autodiscover nodepools with previous cycle and log the updates
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
Due: none

DigitalOcean: Implement TemplateNodeInfo in cloud provider CA to support scale to zero
  cluster-autoscaler/cloudprovider/digitalocean/README.md
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_manager.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_manager_test.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: none

Update vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

modify non-goals section
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

extend validation section, add examples for when the feature is enabled
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

feat: added flag to set deletion candidate taint TTL
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/utils/kubernetes/testlisters.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
  hack/verify-gofmt.sh
Due: none

update dynamic validation section
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

remove unused package
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
Due: none

[cluster-autoscaler-release-1.30] Process apiGroup in capi provider (#8452)
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

Update K8S dependency to use 1.34.1
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/hack/update-deps.sh
  cluster-autoscaler/version/version.go
Due: none

[cluster-autoscaler-release-1.31] Process apiGroup in capi provider (#8453)
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

[cluster-autoscaler-release-1.32] Process apiGroup in capi provider (#8454)
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

Update deps for CA 1.30.6 release
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/vendor/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
  cluster-autoscaler/vendor/k8s.io/component-base/metrics/prometheus/slis/routes.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/version/version.go
Due: none

add IsNodeCandidateForDeletion interface
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/bizflycloud/bizflycloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_cloud_provider.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_cloud_provider.go
  cluster-autoscaler/cloudprovider/civo/civo_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_cloud_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_provider.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider.go
  cluster-autoscaler/cloudprovider/equinixmetal/cloud_provider.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/ionoscloud/ionoscloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kwok/kwok_provider.go
  cluster-autoscaler/cloudprovider/linode/linode_cloud_provider.go
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
  cluster-autoscaler/cloudprovider/mocks/CloudProvider.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
  cluster-autoscaler/cloudprovider/rancher/rancher_provider.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider.go
  cluster-autoscaler/cloudprovider/tencentcloud/tencentcloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/cloudprovider/utho/utho_cloud_provider.go
  cluster-autoscaler/cloudprovider/volcengine/volcengine_cloud_provider.go
  cluster-autoscaler/cloudprovider/vultr/vultr_cloud_provider.go
  cluster-autoscaler/processors/nodes/pre_filtering_processor.go
  cluster-autoscaler/processors/nodes/pre_filtering_processor_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

add clusterapi IsNodeCandidateForDeletion impl
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
Due: none

Update deps for CA 1.32.3 release
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: none

Update deps for CA 1.33.1 release
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: none

[cluster-autoscaler-1.30]: use go 1.22.12
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/go.mod
Due: pull-cluster-autoscaler-e2e-azure-master

[cluster-autoscaler-release-1.30]: go 1.22.12 in modules.txt
  cluster-autoscaler/vendor/modules.txt
Due: none

Validate CA 1.33.1 before release
  cluster-autoscaler/version/version.go
Due: none

add e2e tests
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

update e2e tests
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add TestConfigBuilder interface to clusterapi
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_test_framework.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
