Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

azure: increase UT coverage in azure_vms_pool
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

Emit error event on failed async scale-up
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer.go
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Due: none

fix: adding "since" annotation to k8s nodes
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Due: none

fix: adding "since" annotation to k8s nodes
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Due: none

fix: adding "since" annotation to k8s nodes
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/awserr/error.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/client/default_retryer.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/corehandlers/awsinternal.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/chain_provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/credentials.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ec2rolecreds/ec2_role_provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/endpointcreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/plugincreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/processcreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ssocreds/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ssocreds/sso_cached_token.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/enable.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/reporter.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/endpoints/defaults.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/logger.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/request.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/request_pagination.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/timeout_read_closer.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/session/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/awstesting/assert.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/awstesting/cmd/bucket_cleanup/main.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/ini/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/ini/literal_tokens.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/s3shared/arn/accesspoint_arn.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/s3shared/arn/outpost_arn.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/sdkmath/floor.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/sdkmath/floor_go1.9.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/api.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/legacy_jsonvalue.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/load.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/cli/gen-endpoints/main.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/protocol/eventstream/eventstreamtest/testing.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Due: none

fix: check if annotations is nil
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: none

Adapt pipeline_definition to include SAST linting logs in OCM descriptor (#347)
  .ci/check
  .ci/pipeline_definitions
  cluster-autoscaler/.gitignore
  cluster-autoscaler/cloudprovider/mcm/mcm_manager.go
  cluster-autoscaler/cloudprovider/utils.go
  cluster-autoscaler/hack/sast.sh
  cluster-autoscaler/integration/framework.go
  cluster-autoscaler/main.go
Due: none

fix(autoscaler): Fix internal cache issue when downscale is stressed
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_manager_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group_test.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider_test.go
Due: none

bug: fixed humanize memory bug
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fixes histograms becoming empty after loaded from checkpoints
  vertical-pod-autoscaler/pkg/recommender/util/histogram.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add new approvers for autoscaler/hack
  hack/OWNERS
Due: none

Revert "add new approvers for autoscaler/hack"
  hack/OWNERS
Due: none

add new OWNERS for autoscaler/hack
  hack/OWNERS
Due: none

Update FAQ to reflect recent changes in ProvisioningRequests processing
  cluster-autoscaler/FAQ.md
Due: none

Allow to prefix provisioningClassName to filter provisioning requests
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/provreq/injector.go
  cluster-autoscaler/processors/provreq/injector_test.go
  cluster-autoscaler/processors/provreq/processor.go
  cluster-autoscaler/processors/provreq/processor_test.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/conditions/condition_test.go
  cluster-autoscaler/provisioningrequest/conditions/conditions.go
  cluster-autoscaler/provisioningrequest/supported_classes.go
Due: none

Differentiate provisioning requests using Parameters field. Keep prefixing as not recommended approach
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/provreq/injector.go
  cluster-autoscaler/processors/provreq/injector_test.go
  cluster-autoscaler/processors/provreq/processor.go
  cluster-autoscaler/provisioningrequest/besteffortatomic/provisioning_class.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/conditions/condition_test.go
  cluster-autoscaler/provisioningrequest/conditions/conditions.go
  cluster-autoscaler/provisioningrequest/provreqclient/client.go
  cluster-autoscaler/provisioningrequest/supported_class_test.go
  cluster-autoscaler/provisioningrequest/supported_classes.go
Due: none

add more owners to autoscaler/hack
  hack/OWNERS
Due: none

fix(helm): Allow pdb minAvailable to take precedence over default maxUnavailable
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/templates/pdb.yaml
Due: none

fix(helm): fail pdb if both are provided and only apply one of them
  charts/cluster-autoscaler/templates/pdb.yaml
Due: none

wip
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Migrating flags off main.go to a separate package
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/config/flags/flags_test.go
  cluster-autoscaler/main.go
Due: none

Migrating flags off main.go to a separate package
  cluster-autoscaler/config/flags/flags.go
Due: none

Convert ClusterState to interface
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_source.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Drop MetricSamples for InitContainers
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Store InitContainers in PodState
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test_util.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add UpdateModeInPlaceOrRecreate to types
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Stuck in-place resizes still require eviction
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Make eviction restriction in-place aware
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add metrics gauges for in-place updates
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow admission-controller to validate in-place spec
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Updater logic allows in-place scaling
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full
