Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

Test race test
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Protect clusterstate.getContributiveAggregateStateKeys() from race condition
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Protect ObjectCounter.Add() from race condition
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Protect AggregateContainerState.LastRecommendation from race condition
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix recommender's --update-worker-count output
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

feat(chart): support configuring dnsConfig
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/values.yaml
Due: none

adding env variable EnableLabelPrediction
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

addressing comments
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
Due: pull-cluster-autoscaler-e2e-azure-master

Used quantity instead of string
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Handle Out of host capacity scenario in OCI nodepools
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
Due: none

adding ut test and nil scenario
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

adding ephemeral storage ut
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

changing default value to true
  cluster-autoscaler/cloudprovider/azure/azure_config.go
Due: pull-cluster-autoscaler-e2e-azure-master

Exit when stopped leading
  cluster-autoscaler/main.go
Due: none

cloudprovider: init Utho cloud provider
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_utho.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/utho/OWNERS
  cluster-autoscaler/cloudprovider/utho/README.md
Due: none

Add ignore-instance-creation-stockout-errors
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/nodegroupconfig/node_group_config_processor.go
Due: none

AEP-8026: per-vpa-component-configuration (#8026)
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fix: added DeletionCandidateStalenessTTL on new nodes when intializing first set of unneeded nodes
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Due: none

Do not remove healthy nodes from partially failing zero-or-max-scaling node pool
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

fix: build error on unneeded/nodes_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
Due: none

fix(tests): bad DeletionCandidateStalenessTTL in TestNodeLoadFromExistingTaints
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
Due: none

Format Unknown error better
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Switch VPA checkpoint to use a lister
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add utho cloud provider logic
  cluster-autoscaler/cloudprovider/utho/utho_cloud_provider.go
  cluster-autoscaler/cloudprovider/utho/utho_manager.go
  cluster-autoscaler/cloudprovider/utho/utho_node_group.go
  cluster-autoscaler/cloudprovider/utho/utils.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: none

Implement subnet validation and (Subnet-)IP assignment for server creation
  cluster-autoscaler/cloudprovider/hetzner/hetzner_ip_reserver.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Due: none

Add HCLOUD_SUBNET documentation for subnet CIDR configuration
  cluster-autoscaler/cloudprovider/hetzner/README.md
Due: none

cleanup: remove commented-out testing code
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
Due: none

fix: missing permission; wrong name
  charts/cluster-autoscaler/templates/clusterrole.yaml
Due: none

fix: don't error if extraArgs not provided
  charts/cluster-autoscaler/templates/clusterrole.yaml
Due: none

fix: moving status configmap and lease permission to role
  charts/cluster-autoscaler/templates/clusterrole.yaml
  charts/cluster-autoscaler/templates/role.yaml
Due: none

fix: cannot update resource "configmaps" in API group "" in the namespace
  charts/cluster-autoscaler/templates/clusterrole.yaml
Due: none

implement tests and mock client for Utho cloud provider functionality
  cluster-autoscaler/cloudprovider/utho/utho_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/utho/utho_manager_test.go
  cluster-autoscaler/cloudprovider/utho/utho_mock_test.go
Due: none

enhance Utho cloud provider: improve logging, add ReadNodePool method, and restore toProviderID function
  cluster-autoscaler/cloudprovider/utho/utho_cloud_provider.go
  cluster-autoscaler/cloudprovider/utho/utho_manager.go
  cluster-autoscaler/cloudprovider/utho/utho_node_group.go
  cluster-autoscaler/cloudprovider/utho/utils.go
Due: none

add unit tests for Utho cloud provider node group functionality
  cluster-autoscaler/cloudprovider/utho/utho_node_group_test.go
Due: none

Fix log message when balancing similar node groups
  cluster-autoscaler/processors/nodegroupset/label_nodegroups.go
Due: none

add deployment and secret configuration for Utho cloud provider
  cluster-autoscaler/cloudprovider/utho/examples/cluster-autoscaler-deployment.yaml
  cluster-autoscaler/cloudprovider/utho/examples/cluster-autoscaler-secret.yaml
Due: none

adding env variable EnableLabelPrediction (#8324)
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master
