Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

make linter happy
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_node_group.go
Due: none

fixes race condition during cloud init
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_node_group.go
Due: none

fix syntax error
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_node_group.go
Due: none

..
  cluster-autoscaler/cloudprovider/datacrunch/datacrunch_node_group.go
Due: none

Update deps for CA 1.31.3 release
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Update deps for CA 1.32.2 release
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Handle Out of host capacity scenario in OCI nodepools
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
Due: none

Do not consider pod PreemptionPolicy while determining whether pod is expendable
  cluster-autoscaler/core/utils/expendable.go
  cluster-autoscaler/core/utils/expendable_test.go
Due: none

OCI provider: Avoid interpreting HTTP 404 as success on delete node call.
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
Due: none

tests: reverted to old test behavior
  cluster-autoscaler/estimator/binpacking_estimator_test.go
Due: none

nit: when scheduling fails on topology constraints, skip the last node that failed scheduling
  cluster-autoscaler/estimator/binpacking_estimator.go
Due: none

fix: binpacking simulator scale up optimization on pods with topology spread constraint
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
  cluster-autoscaler/utils/test/test_utils.go
Due: none

fix: added check for hostname to minimize bin-packing compute
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/estimator/binpacking_estimator_test.go
Due: none

CA: stop mutating the result of .TemplateNodeInfo() in SanitizedTemplateNodeInfoFromNodeGroup
  cluster-autoscaler/simulator/node_info_utils.go
  cluster-autoscaler/simulator/node_info_utils_test.go
Due: none

Add created node group to considered node groups during scale-up
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
Due: none

Omit fake pod evictions
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
Due: none

Export fake pods definition to a dedicated module
  cluster-autoscaler/processors/podinjection/enforce_injected_pods_limit_processor.go
  cluster-autoscaler/processors/podinjection/enforce_injected_pods_limit_processor_test.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/processors/podinjection/scale_up_status_processor.go
  cluster-autoscaler/processors/podinjection/scale_up_status_processor_test.go
  cluster-autoscaler/simulator/fake/pod.go
  cluster-autoscaler/simulator/fake/pod_test.go
Due: none

Validate CA 1.30.5 before release
  cluster-autoscaler/version/version.go
Due: none

(CA) leaner go.mod configuration
  cluster-autoscaler/go.mod
Due: none

update e2e test
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

update e2e
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

update e2e
  vertical-pod-autoscaler/e2e/v1/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

migrate to quantity
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/fake/clientset_generated.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/poc.autoscaling.k8s.io/v1alpha1/poc.autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Protect AggregateContainerState.LastRecommendation from race condition
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix recommender's --update-worker-count output
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Protect clusterstate.getContributiveAggregateStateKeys() from race condition
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Protect ObjectCounter.Add() from race condition
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Use exit instead.
  cluster-autoscaler/main.go
Due: none

Address PR review feedback
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full
