Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Update to golang.org/x/oauth2@v0.27 to fix CVE-2025-22868
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Use Patch to Scale clusterapi nodepools to avoid modification conflicts
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

Ensure random ID generation
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
Due: none

Address review feedback
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Address comments and wrap lines
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add time based drainability rule for non-pdb-assigned system pods
  cluster-autoscaler/simulator/drain.go
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/simulator/drainability/context.go
  cluster-autoscaler/simulator/drainability/rules/system/rule.go
  cluster-autoscaler/simulator/drainability/rules/system/rule_test.go
Due: none

Removed flags docs from faq
  vertical-pod-autoscaler/docs/faq.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

DigitalOcean: Implement TemplateNodeInfo in cloud provider CA to support scale to zero
  cluster-autoscaler/cloudprovider/digitalocean/README.md
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_manager.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_manager_test.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: none

Fix incorrect usage of klog .*f functions
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/loop/trigger.go
Due: none

Fix incorrect usage of klog Warningf function
  cluster-autoscaler/processors/actionablecluster/actionable_cluster_processor.go
Due: none

CR Feedback - improve generating worker name reliability
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group_test.go
Due: none

Add FetchAvailableDiskTypesByFilter.
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/fixtures/diskTypes_aggregatedList_withFiltering.json
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Due: none

Update Kubernetes deps to 1.33.0-beta.0
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: none

Bump go version in builder
  builder/Dockerfile
Due: none

add test-build-tags make target
  cluster-autoscaler/Makefile
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_bizflycloud.go
  cluster-autoscaler/cloudprovider/builder/builder_brightbox.go
  cluster-autoscaler/cloudprovider/builder/builder_cherry.go
  cluster-autoscaler/cloudprovider/builder/builder_civo.go
  cluster-autoscaler/cloudprovider/builder/builder_cloudstack.go
  cluster-autoscaler/cloudprovider/builder/builder_clusterapi.go
  cluster-autoscaler/cloudprovider/builder/builder_digitalocean.go
  cluster-autoscaler/cloudprovider/builder/builder_equinixmetal.go
  cluster-autoscaler/cloudprovider/builder/builder_exoscale.go
  cluster-autoscaler/cloudprovider/builder/builder_gce.go
  cluster-autoscaler/cloudprovider/builder/builder_hetzner.go
  cluster-autoscaler/cloudprovider/builder/builder_ionoscloud.go
  cluster-autoscaler/cloudprovider/builder/builder_kamatera.go
  cluster-autoscaler/cloudprovider/builder/builder_magnum.go
  cluster-autoscaler/cloudprovider/builder/builder_ovhcloud.go
  cluster-autoscaler/cloudprovider/builder/builder_scaleway.go
  cluster-autoscaler/cloudprovider/builder/builder_tencentcloud.go
  cluster-autoscaler/cloudprovider/builder/builder_vultr.go
Due: none

Update deps to Kubernetes 1.32.3 & bump CA version
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: none

Update deps to Kubernetes 1.31.7 & bump CA version
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: none

make DecreaseTargetSize more accurate for clusterapi
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Due: none

Update AEP-4106 (Support for in place updates in VPA)
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add features gates; add InPlaceVerticalScaling feature gate
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: update updater unit tests
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_pod.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Revert using containerStatus resources to calculate update priority
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: updated in-place e2e tests to account for feature gate
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: add InPlaceVerticalScaling feature gate to admission-controller
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/admission-controller-service.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Introduce VPA feature gates; add InPlaceOrRecreate feature gate
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow deploying InPlaceOrRecreate in local e2e and ci
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/admission-controller-service.yaml
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/hack/kind-config.yaml
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add UpdateModeInPlaceOrRecreate to types
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: add document behavior for Requests & Limits
  vertical-pod-autoscaler/docs/faq.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update pipeline_definitions to target go `v1.23` (#349)
  .ci/pipeline_definitions
  cluster-autoscaler/Dockerfile
Due: none

Add adrianmoisey to VPA approvers
  vertical-pod-autoscaler/OWNERS
Due: pull-kubernetes-e2e-autoscaling-vpa-full

this allows DRY common metadata
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/serviceaccount.yaml
Due: none

wip
  charts/vertical-pod-autoscaler/Chart.yaml
  charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller/_helpers.tpl
  charts/vertical-pod-autoscaler/templates/admission-controller/clusterrole.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller/clusterrolebinding.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller/deployment.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller/service.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller/serviceaccount.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller/tls-certs.yaml
  charts/vertical-pod-autoscaler/templates/updater/_helpers.tpl
  charts/vertical-pod-autoscaler/templates/updater/clusterrole.yaml
  charts/vertical-pod-autoscaler/templates/updater/clusterrolebinding.yaml
  charts/vertical-pod-autoscaler/templates/updater/deployment.yaml
  charts/vertical-pod-autoscaler/templates/updater/serviceaccount.yaml
  charts/vertical-pod-autoscaler/values.yaml
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
