Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Bump VPA dependencies
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Bump VPA e2e dependencies
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/hack/update-kubernetes-deps-in-e2e.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix struct
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

go mod tidy
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Bump all e2e dependencies
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Node removal latency metrics added
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/latencytracker/latencytracker_test.go
  cluster-autoscaler/core/scaledown/latencytracker/nodelatencytracker.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/metrics/metrics.go
Due: none

Switch away from github.com/golang/mock
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/target/mock/fetcher_mock.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update cluster-api provider to use machineTemplate.status.nodeInfo for architecture-aware autoscale from zero
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

add prometheus auth via environment variables
  vertical-pod-autoscaler/docs/faq.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update VPA defaults to 1.4.2 in the master branch
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

hetzner: add node.kubernetes.io/instance-type label to template
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Due: none

[Tests] Update cluster-api provider to use machineTemplate.status.nodeInfo for architecture-aware autoscale from zero
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Due: none

Update VPA version.go to 1.6.0 for release
  vertical-pod-autoscaler/common/version.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

removed test for same name check, not a valid case
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

native sidecar support
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/util.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test_util.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

adding feature flag `NativeSidecar`
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

update AEP
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Revert to old configurations
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixed typo
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

updated history init for prometheus to take container types into account
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

generate updated azure static sku list
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Due: pull-cluster-autoscaler-e2e-azure-master

Add capacity buffer CRD
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1/doc.go
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1/register.go
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1/types.go
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1/capacitybufferspec.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1/capacitybufferstatus.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1/localobjectref.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1/scalableref.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/internal/internal.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/utils.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/clientset.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/doc.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/register.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/scheme/doc.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/scheme/register.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/doc.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/doc.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/fake_autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/fake_capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/generated_expansion.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/interface.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1/interface.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/factory.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/generic.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  cluster-autoscaler/apis/capacitybuffer/client/listers/autoscaling.x-k8s.io/v1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/listers/autoscaling.x-k8s.io/v1/expansion_generated.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: none

adding support for force delete in azure
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

Update cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

adding ut and changing logging level
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

feat: Add support for podLabelSelector in Vertical Pod Autoscaler
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/examples/hamster-labelselectors.yaml
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fix: apply gofmt
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

feat: allow vpa to use podLabelSelector in addition to targetRef
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/examples/hamster-labelselectors.yaml
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add initial AEP for supporting custom request-to-limit ratio at VPA object level
  vertical-pod-autoscaler/enhancements/support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

set AEP id
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

drop QuantityPercentage, rename QuantityValue to Quantity
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

WIP update to include unschedulable nodes
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler_test.go
  cluster-autoscaler/core/scaledown/actuation/softtaint_test.go
  cluster-autoscaler/core/scaledown/planner/controller_test.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/resource/manager_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/nodeinfosprovider/annotation_node_info_provider.go
  cluster-autoscaler/processors/nodeinfosprovider/asg_tag_resource_node_info_provider.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
  cluster-autoscaler/processors/nodeinfosprovider/node_info_provider_processor.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/simulator/drainability/rules/replicacount/rule_test.go
  cluster-autoscaler/simulator/drainability/rules/replicated/rule_test.go
  cluster-autoscaler/simulator/node_info_utils.go
  cluster-autoscaler/utils/kubernetes/listers.go
  cluster-autoscaler/utils/kubernetes/ready.go
Due: none

move common functions from v1 to utils
  vertical-pod-autoscaler/e2e/utils/common.go
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add integration test
  vertical-pod-autoscaler/e2e/integration/integration.go
  vertical-pod-autoscaler/e2e/integration/integration_test.go
  vertical-pod-autoscaler/e2e/integration/recommender.go
  vertical-pod-autoscaler/e2e/utils/common.go
  vertical-pod-autoscaler/hack/local-cluster.md
  vertical-pod-autoscaler/hack/run-integration-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Updated AWS static instance list - 09/11/2025
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
