Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

tests: reverted to old test behavior
  cluster-autoscaler/estimator/binpacking_estimator_test.go
Due: none

Bump VPA version to 1.4.1
  vertical-pod-autoscaler/common/version.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Enable TestUnchangedCAReloader tests
  vertical-pod-autoscaler/pkg/admission-controller/certs_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix the setup-go Github action caching
  .github/workflows/ci.yaml
Due: none

fix: :bug: Fix failed to watch *v1.VolumeAttachment in another example files
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
Due: none

chore: :wrench: Update image version to v1.32.1
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
Due: none

Fix the setup-go Github action caching
  .github/workflows/ci.yaml
  hack/for-go-proj.sh
Due: none

Bump to Go 1.24
  .github/workflows/ci.yaml
Due: none

Update VPA default version to 1.4.1
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update VPA default version to 1.4.1 (main branch)
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

ignore autoscaler for hyperpod instance
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Due: none

refactor(hetzner): fix deprecated methods
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
Due: none

migrate ClaimOwningPod to use upstream IsForPod
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims_test.go
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize.go
  cluster-autoscaler/simulator/node_info_utils_test.go
Due: none

Add the missing labels/taints for VMs pool
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

Add VMs implementation to master
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Add VMs implementation to 1.32
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Add the missing labels/taints for VMs pool 1.30
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

Add VMs implementation to master (#8078)
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Add VMs implementation to 1.32 (#8096)
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

OCI provider: Avoid interpreting HTTP 404 as success on delete node call.
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
Due: none

Revert "Enable TestUnchangedCAReloader tests"
  vertical-pod-autoscaler/pkg/admission-controller/certs_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

CA: stop mutating the result of .TemplateNodeInfo() in SanitizedTemplateNodeInfoFromNodeGroup
  cluster-autoscaler/simulator/node_info_utils.go
  cluster-autoscaler/simulator/node_info_utils_test.go
Due: none

fix: PR comments
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Due: none

fix: PR comments
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

fix: PR comments
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Due: none

bump golangci lint to v2
  .github/workflows/ci.yaml
  vertical-pod-autoscaler/.golangci.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

check hyperpod prefix
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
Due: none

fix: PR comments
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/utils/taints/taints.go
Due: none
