Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

Update clusterrole.yaml
  charts/cluster-autoscaler/templates/clusterrole.yaml
Due: none

Update Chart.yaml
  charts/cluster-autoscaler/Chart.yaml
Due: none

URL and formatting updates
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

more anchor fixes
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

added clarification on eviction after in-place failure
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Undo previous changes made by go mod vendor
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Update only skewer with go get dep@ver
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

migrate ClaimOwningPod to use upstream IsForPod
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
Due: none

VPA - Cleanup OWNERS
  vertical-pod-autoscaler/OWNERS
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fix scale up bug
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
Due: none

get all node shapes
  cluster-autoscaler/cloudprovider/oci/common/oci_shape.go
Due: none

fixes
  cluster-autoscaler/cloudprovider/oci/common/oci_shape.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
Due: none

VPA: when PodEvictionAdmission calls cleanup, clean up the memory
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

WIP: fixed humanize memory bug
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

comment out TestUnchangedCAReloader test (flake)
  vertical-pod-autoscaler/pkg/admission-controller/certs_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Charts - Add jackfrancis to Approvers
  charts/OWNERS
Due: none

VPA: Add e2e tests for in-place scaling
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: hack unit tests to account for in-place
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Update mocks to accommodate in-place VPA changes
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add metrics gauges for in-place updates
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: allow rule-breaking updates if disruptionless
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: only allow in-place if explicitly set
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow VPA updater to actuate recommendations in-place
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_recommendation_provider.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_updated.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_inplace_update.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Enable InPlacePodVerticalScaling feature flag on e2e
  vertical-pod-autoscaler/hack/kind-config.yaml
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: fix logs and cleanup TODOs according to review
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add in-place actuation and admission-controller e2e tests
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Support CPU Startup Boost in VPA
  vertical-pod-autoscaler/enhancements/cpu-startup-boost/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

unit test coverage
  cluster-autoscaler/cloudprovider/oci/common/oci_shape_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
Due: none

Add AEP ID
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update index.yaml
  index.yaml
Due: none

comment out TestUnchangedCAReloader test (flake)
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/secret.yaml
  charts/cluster-autoscaler/values.yaml
  vertical-pod-autoscaler/pkg/admission-controller/certs_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

update secret name
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/secret.yaml
Due: none

remove extra lines
  charts/cluster-autoscaler/Chart.yaml
Due: none
