Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

Change names for certificate keys in secret
  vertical-pod-autoscaler/pkg/admission-controller/gencerts.sh
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

adding force delete support for azure
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

adding support for force delete in azure
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

Add tests for NodeGroupScaleUpTime()
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
Due: none

update AEP
  vertical-pod-autoscaler/enhancements/8459-memory-per-cpu/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Bump google.golang.org/api; cache MIG workload policy
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: none

Add feature flag to admission controller
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/features/features.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Introduce API changes and fetaure gate CPU startup boost
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

improve the Motivation
  vertical-pod-autoscaler/enhancements/8459-memory-per-cpu/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

improve the Design Details
  vertical-pod-autoscaler/enhancements/8459-memory-per-cpu/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

adding ut and changing logging level
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

remove example 4
  vertical-pod-autoscaler/enhancements/8459-memory-per-cpu/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Apply CPU startup boost in admission controller if its set
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_cpu_boost.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Bump VPA version to 1.4.2
  vertical-pod-autoscaler/common/version.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

cas: remove unused simulator removal funcs
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
Due: none

Force delete nodes with errors
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

Update VPA defaults to 1.4.2 in the vpa-release-1.4 branch
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Testing
  vertical-pod-autoscaler/go.mod
Due: pull-kubernetes-e2e-autoscaling-vpa-full

test
  .github/workflows/ci.yaml
Due: none

Skip cache test
  .github/workflows/ci.yaml
Due: none

Revert "test"
  .github/workflows/ci.yaml
Due: none

docs: added helpful comments
  cluster-autoscaler/simulator/cluster.go
Due: none

tests: added test to check that scaledowns work with topology spread constraints
  cluster-autoscaler/simulator/cluster_test.go
Due: none

fix: hard topology spread constraints stop scaledown
  cluster-autoscaler/simulator/cluster.go
Due: none

Force delete nodes with errors
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

before 1.33 flags were on main, cherry-pick has to be modified to accomodate this change
  cluster-autoscaler/main.go
Due: none

fix(cluster-autoscaler): prevent panic in SimulateNodeRemoval by handling missing node info
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
Due: none
