Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

edit round up description
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

specify rounded up in docs
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA - Add .golangci with imports enabled
  vertical-pod-autoscaler/.golangci.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

migrate claimReservedForPod to use upstream IsReservedForPod
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims_test.go
Due: none

[cluster-autoscaler-release-1.28] fix: undefined instance state on provisioning state failed (#7756)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

VPA - Add golangci-lint to GitHub Actions
  .github/workflows/ci.yaml
Due: none

VPA: Updater logic allows in-place scaling
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Make eviction restriction in-place aware
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add UpdateModeInPlaceOrRecreate to types
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Update mocks to accommodate in-place VPA changes
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow admission-controller to validate in-place spec
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add metrics gauges for in-place updates
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Stuck in-place resizes still require eviction
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: hack unit tests to account for in-place
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow VPA updater to actuate recommendations in-place
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_recommendation_provider.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_updated.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_inplace_update.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Enable InPlacePodVerticalScaling feature flag on e2e
  vertical-pod-autoscaler/hack/e2e/vpa-rbac.yaml
  vertical-pod-autoscaler/hack/kind-config.yaml
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

only allow in-place if explicitly set (for testing)
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add e2e tests for in-place scaling
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: allow rule-breaking updates if disruptionless
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add in-place actuation and admission-controller e2e tests
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: fix logs and cleanup TODOs according to review
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Refactor to format VPA Updater log more efficiently
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Apply review suggestions
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add forceful deletion of full eviction pods if eviction fails
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
Due: none

Add forceful deletion of drained node if pods eviction fails
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler.go
Due: none

Change function name
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix Race conditions in Targeted Deletion of machines by CA (#341)
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider.go
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager_test.go
  cluster-autoscaler/cloudprovider/mcm/test_utils.go
  cluster-autoscaler/vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/machineutils/utils.go
  cluster-autoscaler/vendor/modules.txt
Due: none

Reduce error output on "kubectl delete" by adding "--ignore-not-found"
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
  vertical-pod-autoscaler/pkg/admission-controller/delete-webhook.sh
  vertical-pod-autoscaler/pkg/admission-controller/rmcerts.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

cluster-api: node template in scale-from-0-nodes scenario with DRA
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
Due: none

Remove "pull-requests: read"
  .github/workflows/ci.yaml
Due: none

Fix a panic in GetContainersResources()
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Use better flags-docs creator
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/docs/vpa-flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/vpa-generate-flags.go
  vertical-pod-autoscaler/pkg/admission-controller/Makefile
  vertical-pod-autoscaler/pkg/recommender/Makefile
  vertical-pod-autoscaler/pkg/updater/Makefile
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fixed typo
  vertical-pod-autoscaler/docs/vpa-flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add Boilerplate header
  vertical-pod-autoscaler/hack/generate-flags.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Removed type
  vertical-pod-autoscaler/docs/vpa-flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full
