Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

deps(hetzner): update hcloud-go to v2.24.0
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/client.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/deprecation.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/error.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/actionutil/actions.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/ctxutil/ctxutil.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/doc.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/kit/envutil/env.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/kit/randutil/id.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/kit/sshutil/ssh_key.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/labelutil/selector.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/mockutil/http.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/firewall.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/hcloud.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/pricing.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/firewall.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/primary_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/zz_schema.go
Due: none

read min and max values from nodepool tags for oci autodiscovery
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
Due: none

compare autodiscover nodepools with previous cycle and log the updates
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
Due: none

Add Capacity Buffer controller logic
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1/types.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
  cluster-autoscaler/capacitybuffer/common/common.go
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/filters/filter.go
  cluster-autoscaler/capacitybuffer/filters/status_filter.go
  cluster-autoscaler/capacitybuffer/filters/status_filter_test.go
  cluster-autoscaler/capacitybuffer/filters/strategy_filter.go
  cluster-autoscaler/capacitybuffer/filters/strategy_filter_test.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/translator.go
  cluster-autoscaler/capacitybuffer/updater/status_updater.go
  cluster-autoscaler/capacitybuffer/updater/status_updater_test.go
Due: none

feat: added flag to set deletion candidate taint TTL
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/utils/kubernetes/testlisters.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
  hack/verify-gofmt.sh
Due: none

Add rapid release channel to GKE cluster creation command
  vertical-pod-autoscaler/RELEASE.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

change kwok nodegroup annotation key
  cluster-autoscaler/cloudprovider/kwok/README.md
  cluster-autoscaler/cloudprovider/kwok/kwok_config.go
  cluster-autoscaler/cloudprovider/kwok/kwok_config_test.go
  cluster-autoscaler/cloudprovider/kwok/kwok_types.go
  cluster-autoscaler/cloudprovider/kwok/samples/dynamic_nodegroups_config.yaml
  cluster-autoscaler/cloudprovider/kwok/samples/static_nodegroups_config.yaml
Due: none

validate v1.30.6
  cluster-autoscaler/version/version.go
Due: none

validate 1.31.4
  cluster-autoscaler/version/version.go
Due: none

validate v1.32.3
  cluster-autoscaler/version/version.go
Due: none

Add ForceDeleteNodes method to NodeGroup interface
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/bizflycloud/bizflycloud_node_group.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_node_group.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_node_group.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_node_group.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/equinixmetal/node_group.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_node_group_instance_pool.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_node_group_sks_nodepool.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/ionoscloud/ionoscloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kubemark/kubemark_linux.go
  cluster-autoscaler/cloudprovider/kwok/kwok_nodegroups.go
  cluster-autoscaler/cloudprovider/linode/linode_node_group.go
  cluster-autoscaler/cloudprovider/magnum/magnum_nodegroup.go
  cluster-autoscaler/cloudprovider/mocks/NodeGroup.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group.go
  cluster-autoscaler/cloudprovider/tencentcloud/tencentcloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/cloudprovider/volcengine/volcengine_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/vultr/vultr_node_group.go
  cluster-autoscaler/expander/waste/waste_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

Force delete nodes with errors
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

before 1.33 flags were on main, cherry-pick has to be modified to accomodate this change
  cluster-autoscaler/main.go
Due: none

correcting name in vm pool
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

adding support for force delete in azure
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

Update cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

adding ut and changing logging level
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

Add maintainer
  charts/vertical-pod-autoscaler/Chart.yaml
Due: none

Removed mutatingwebhookconfigurations permissions & clean poc api
  charts/vertical-pod-autoscaler/templates/admission-controller-clusterrole.yaml
Due: none

fixed values file
  charts/vertical-pod-autoscaler/values.yaml
Due: none

Add certgen job
  charts/vertical-pod-autoscaler/templates/_helpers.tpl
  charts/vertical-pod-autoscaler/values.yaml
Due: none

removed trailing spaces
  charts/vertical-pod-autoscaler/values.yaml
Due: none

Add tls
  charts/vertical-pod-autoscaler/templates/_helpers.tpl
  charts/vertical-pod-autoscaler/templates/admission-contoller-serviceaccount.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller-clusterrole.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller-clusterrolebinding.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller-service.yaml
  charts/vertical-pod-autoscaler/templates/admission-controller-tls-secret.yaml
  charts/vertical-pod-autoscaler/values.yaml
Due: none

hide security context & probes
  charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  charts/vertical-pod-autoscaler/values.yaml
Due: none

Add maintainers
  charts/vertical-pod-autoscaler/Chart.yaml
Due: none

changed app version
  charts/vertical-pod-autoscaler/Chart.yaml
Due: none

Disable GPU resource processor for nodes using DRA for accelerator attachment
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/dynamicresources.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/kwok/kwok_provider_test.go
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
  cluster-autoscaler/simulator/utilization/info.go
  cluster-autoscaler/simulator/utilization/info_test.go
  cluster-autoscaler/utils/gpu/gpu.go
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
