Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

VPA: re-design aggregate pruning
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add unit tests for pruning grace period and containersPerPod field
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update main.go
  cluster-autoscaler/main.go
Due: none

fix: add `--leader-elect` flags back by reverting https://github.com/kubernetes/autoscaler/pull/7233 (#7761)
  cluster-autoscaler/main.go
Due: none

tags fixes and add support for filter name prefix
  cluster-autoscaler/cloudprovider/kamatera/README.md
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_config.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_utils_test.go
Due: none

shorten the uuids
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
Due: none

docs: add comment to prevent leader-election flag binding to moved
  cluster-autoscaler/main.go
Due: none

add retry mechanism
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_request.go
Due: none

fix tag name attribute
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest_test.go
Due: none

chore: fix metricsClient logs
  vertical-pod-autoscaler/pkg/recommender/input/metrics/metrics_client.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Finalize VPA release 1.3.0.
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add recommender vpa-object-namespace quick integration test
  vertical-pod-autoscaler/hack/e2e/deploy/recommender/ignored-vpa-object-namespaces.sh
  vertical-pod-autoscaler/hack/e2e/deploy/recommender/ignored-vpa-object-namespaces.yaml
  vertical-pod-autoscaler/hack/e2e/deploy/recommender/vpa-object-namespace.sh
  vertical-pod-autoscaler/hack/e2e/deploy/recommender/vpa-object-namespace.yaml
  vertical-pod-autoscaler/hack/local-cluster.md
  vertical-pod-autoscaler/hack/run-integration-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

integration-tests directory, kubectl wait
  vertical-pod-autoscaler/hack/integration-tests/deploy/recommender/ignored-vpa-object-namespaces.sh
  vertical-pod-autoscaler/hack/integration-tests/deploy/recommender/ignored-vpa-object-namespaces.yaml
  vertical-pod-autoscaler/hack/integration-tests/deploy/recommender/vpa-object-namespace.sh
  vertical-pod-autoscaler/hack/integration-tests/deploy/recommender/vpa-object-namespace.yaml
  vertical-pod-autoscaler/hack/integration-tests/run-integration-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add failing test for humanize bug
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

directory structure
  vertical-pod-autoscaler/hack/integration-tests/recommender/deploy/ignored-vpa-object-namespaces.yaml
  vertical-pod-autoscaler/hack/integration-tests/recommender/deploy/vpa-object-namespace.yaml
  vertical-pod-autoscaler/hack/integration-tests/recommender/ignored-vpa-object-namespaces.sh
  vertical-pod-autoscaler/hack/integration-tests/recommender/vpa-object-namespace.sh
  vertical-pod-autoscaler/hack/integration-tests/run-integration-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

This should pass
  vertical-pod-autoscaler/pkg/recommender/model/types_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Bump latest VPA version to 1.3.0.
  vertical-pod-autoscaler/docs/installation.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Dropped comment to avoid dubious interpretation
  cluster-autoscaler/core/static_autoscaler.go
Due: none

Fixed verbiage of the method calculateCoresMemoryTotal (#7129)
  cluster-autoscaler/core/static_autoscaler.go
Due: none

Small documentation changes to supplement removal of v1beta2
  vertical-pod-autoscaler/MIGRATE.md
  vertical-pod-autoscaler/examples/redis.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

ignore backoff for specified errors
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/main.go
Due: none

Improve logging when the cluster reaches max nodes total.
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/status/scale_up_status_processor.go
Due: none

fix missing rbac for cluster autoscaler
  charts/cluster-autoscaler/templates/clusterrole.yaml
Due: none

Removes stale owners from DO cluster autoscaler owners file and updates to current DO employee
  cluster-autoscaler/cloudprovider/digitalocean/OWNERS
Due: none

Simplify function
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Drop unused gomock import
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

using wrapf errors
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
