Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

VPA: fix erroneous container resource split
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/logic/recommender_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: clean orphaned container checkpoints
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Slightly improve runtime on splitting aggregates
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: immediately prune stale vpa aggregates
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update version.go for VPA 1.3.0 release
  vertical-pod-autoscaler/common/version.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update RELEASE.md to specify correct minor version when branching
  vertical-pod-autoscaler/RELEASE.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Tweaks to release instructions.
  vertical-pod-autoscaler/RELEASE.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

feat(chart): Add support for civo provider
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/README.md.gotmpl
  charts/cluster-autoscaler/templates/deployment.yaml
  charts/cluster-autoscaler/templates/secret.yaml
  charts/cluster-autoscaler/values.yaml
Due: none

test: clean up environments properly before/after each unit test in azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

VPA: Introduce pruningGracePeriod which allows a grace period before the updater prunes aggregateContainerStates/recommendations due to non-existent containers
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

test: add additional assertion for dynamic SKU list test
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

test: use testing.Cleanup() to ensure loadEnv()
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

chore: remove unnecessary logs on fast delete and add a relevant note
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
Due: pull-cluster-autoscaler-e2e-azure-master

test: clean up environments properly before/after each unit test in azure_manager_test.go (#7735)
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

chore: remove unnecessary logs on fast delete and add a relevant note (#7736)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
Due: pull-cluster-autoscaler-e2e-azure-master

test: add additional assertion for dynamic SKU list test (#7737)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

fix: undefined instance state on provisioning state failed
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
Due: pull-cluster-autoscaler-e2e-azure-master

test: add unit tests for provisioning state failed + fast delete
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: pull-cluster-autoscaler-e2e-azure-master
