Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Added the TemplateNodeInfo() to support cluster-autoscaler can simulate pod placement on template nodes
  cluster-autoscaler/cloudprovider/vcloud/vcloud_manager.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group.go
Due: none

Update test to following new changes
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group_test.go
Due: none

Update _test.go for cloudprovider/vcloud
  cluster-autoscaler/cloudprovider/vcloud/vcloud_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_manager_test.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group_test.go
Due: none

Update to improve node manager
  cluster-autoscaler/cloudprovider/vcloud/vcloud_manager.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group.go
Due: none

Update to improve [sig-autoscaling] Cluster size autoscaling [Slow] [It] should scale up when unprocessed pod is created and is going to be unschedulable should pass successfully
  cluster-autoscaler/cloudprovider/vcloud/vcloud_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_manager.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group_test.go
Due: none

Update _test.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group_test.go
Due: none

add logging for failed node balancing
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
Due: none

Decouple Startup CPU Boost from VPA modes
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

azure: Add volumeattachments read to ClusterRole for examples
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-aks.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
Due: pull-cluster-autoscaler-e2e-azure-master

azure: Make it easier to compare examples
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-aks.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-standard.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-control-plane.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml
  cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml
Due: pull-cluster-autoscaler-e2e-azure-master

Update vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

rename the flags and change comment
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

revert gofmt on other files
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/awserr/error.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/client/default_retryer.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/corehandlers/awsinternal.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/chain_provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/credentials.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ec2rolecreds/ec2_role_provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/endpointcreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/plugincreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/processcreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ssocreds/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ssocreds/sso_cached_token.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/enable.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/reporter.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/endpoints/defaults.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/logger.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/request.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/request_pagination.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/timeout_read_closer.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/session/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/awstesting/assert.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/awstesting/cmd/bucket_cleanup/main.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/ini/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/ini/literal_tokens.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/s3shared/arn/accesspoint_arn.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/s3shared/arn/outpost_arn.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/sdkmath/floor.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/sdkmath/floor_go1.9.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/api.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/legacy_jsonvalue.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/load.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/cli/gen-endpoints/main.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/protocol/eventstream/eventstreamtest/testing.go
Due: none

Consume aws-sdk-go-v2
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups_test.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_metrics.go
  cluster-autoscaler/cloudprovider/aws/aws_sdk_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_sdk_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
  cluster-autoscaler/cloudprovider/aws/instance_type_cache_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
Due: none

add h4d pricing (#8205)
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Due: none

fix: changed maxDeletionCandidateStaleness to maxDeletionCandidateTTL in flag definition
  cluster-autoscaler/config/flags/flags.go
Due: none

fix: typo in function name updateInternalState
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Due: none

fix: cleaned up unneeded nodes loading
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Due: none

fix: cleared up taint staleness log
  cluster-autoscaler/utils/taints/taints.go
Due: none

fix: removed old comment
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Due: none

Export fake pods definition to a dedicated module
  cluster-autoscaler/processors/podinjection/enforce_injected_pods_limit_processor.go
  cluster-autoscaler/processors/podinjection/enforce_injected_pods_limit_processor_test.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/processors/podinjection/scale_up_status_processor.go
  cluster-autoscaler/processors/podinjection/scale_up_status_processor_test.go
  cluster-autoscaler/simulator/fake/pod.go
  cluster-autoscaler/simulator/fake/pod_test.go
Due: none

Omit fake pod evictions
  cluster-autoscaler/core/scaledown/actuation/drain.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
Due: none

fix: fixed log on node skip due to stale deleltionCandidate taint
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

fix: changed log from plural to singular
  cluster-autoscaler/utils/taints/taints.go
Due: none

refactor: removed old flag naming maxDeletionCandidateTTL -> nodeDeletionCandidateTTL
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Due: none

fix: simplified CleanAllTaints' logic of ignoring nodes without taintKey
  cluster-autoscaler/utils/taints/taints.go
Due: none

fix: moved taint cleaning from static_autoscaler initialization to scaledown planner initialization
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/static_autoscaler.go
Due: none

Move oomBumpUpRatio to string
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Create a proposal for NodeAutoscalingBuffers API.
  cluster-autoscaler/proposals/buffers.md
  cluster-autoscaler/proposals/images/buffers-component-structure.jpg
Due: none

fix: gofmt on flags.go
  cluster-autoscaler/config/flags/flags.go
Due: none

fix: add check to planner.New() that allnodelister isn't nil
  cluster-autoscaler/core/scaledown/planner/planner.go
Due: none

fix: taint deleting made conditional on non-default deletionCandidateTTL flag
  cluster-autoscaler/core/scaledown/planner/planner.go
Due: none

tests: moved tests of deletionCandidate taint management from static_autoscaler_test.go to taints_test.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
