Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

Allow atomic scale down if number of candidates is equal to number of registered nodes
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/core/scaledown/budgets/budgets.go
  cluster-autoscaler/core/scaledown/budgets/budgets_test.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/nodes/scale_down_set_processor.go
  cluster-autoscaler/processors/nodes/scale_down_set_processor_test.go
  cluster-autoscaler/utils/annotations/annotations.go
Due: none

Test 1.34.0
  cluster-autoscaler/version/version.go
Due: none

Add readme
  charts/vertical-pod-autoscaler/README.md
Due: none

removed reload cert arg
  charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
Due: none

Add README.md.gotmpl
  charts/vertical-pod-autoscaler/README.md
  charts/vertical-pod-autoscaler/README.md.gotmpl
Due: none

Fix completions set to 1 being recognized as work queue.
  cluster-autoscaler/processors/podinjection/job_controller.go
  cluster-autoscaler/processors/podinjection/job_controller_test.go
Due: none

Fixed README.md file
  charts/vertical-pod-autoscaler/README.md
Due: none

Fix capacity buffers injector order in pod list processor
  cluster-autoscaler/main.go
Due: none

vertical-pod-autoscaler: Fix the `k8s.io/client-go` version
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/hack/update-kubernetes-deps.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

vertical-pod-autoscaler/e2e: Fix the `k8s.io/client-go` version
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
Due: pull-kubernetes-e2e-autoscaling-vpa-full

update sig-autoscaling-leads
  OWNERS_ALIASES
Due: none

Update index.yaml
  index.yaml
Due: none

add emeritus section
  OWNERS_ALIASES
Due: none

Handle resource utilization calculation for GPUs exposed using DRA
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/dynamicresources.go
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/simulator/utilization/info.go
  cluster-autoscaler/simulator/utilization/info_test.go
Due: none

Change `make test-unit` to have the same go test parameters as `make test-in-docker`
  cluster-autoscaler/Makefile
Due: none

add initial KEP for pod-level resources support in VPA
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/client.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/deprecation.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/error.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/actionutil/actions.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/ctxutil/ctxutil.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/doc.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/kit/envutil/env.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/kit/randutil/id.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/kit/sshutil/ssh_key.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/labelutil/selector.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/exp/mockutil/http.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/firewall.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/hcloud.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/pricing.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/firewall.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/load_balancer.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/primary_ip.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/schema/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/server_type.go
  cluster-autoscaler/cloudprovider/hetzner/hcloud-go/hcloud/zz_schema.go
  vertical-pod-autoscaler/enhancements/support-pod-level-resources/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

typos
  vertical-pod-autoscaler/enhancements/support-pod-level-resources/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add support for pod-level resources in VPA
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix a race condition in TestNodeLoadFromExistingTaints
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
Due: none

Apply CPU startup boost in admission controller if its set
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_cpu_boost.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_cpu_boost_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

refactor core.AutoscalerOptions in a new package
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/options/autoscaler.go
Due: none

add scale down registration method
  cluster-autoscaler/core/options/autoscaler.go
Due: none

refactor NewCloudProvider to accept AutoscalerOptions
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/bizflycloud/bizflycloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_cloud_provider.go
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_cloud_provider.go
  cluster-autoscaler/cloudprovider/civo/civo_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_cloud_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_provider.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider.go
  cluster-autoscaler/cloudprovider/equinixmetal/cloud_provider.go
  cluster-autoscaler/cloudprovider/exoscale/exoscale_cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/ionoscloud/ionoscloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kwok/kwok_provider.go
  cluster-autoscaler/cloudprovider/linode/linode_cloud_provider.go
  cluster-autoscaler/cloudprovider/magnum/magnum_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_provider.go
  cluster-autoscaler/cloudprovider/rancher/rancher_provider.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider.go
  cluster-autoscaler/cloudprovider/tencentcloud/tencentcloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/utho/utho_cloud_provider.go
  cluster-autoscaler/cloudprovider/volcengine/volcengine_cloud_provider.go
  cluster-autoscaler/cloudprovider/vultr/vultr_cloud_provider.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_processor.go
Due: pull-cluster-autoscaler-e2e-azure-master

refactor gpu_processor_test to remove cyclic dependency
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
Due: none

CAS: move DRA consts go into core
  cluster-autoscaler/cloudprovider/gce/dynamicresources.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
  cluster-autoscaler/utils/gpu/gpu.go
Due: none

remove ScaleDownFindNodesToRemove const
  cluster-autoscaler/metrics/metrics.go
Due: none

cas: remove unused simulator removal funcs
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
Due: none
