Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Add created node group to considered node groups during scale-up
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
Due: none

run generate flags
  vertical-pod-autoscaler/docs/flags.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Wait for the VMSS capacity update for 1 min
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

Update deployment.yaml to add volumeattachments permission
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Due: none

fix go fmt
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/awserr/error.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/client/default_retryer.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/corehandlers/awsinternal.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/chain_provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/credentials.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ec2rolecreds/ec2_role_provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/endpointcreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/plugincreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/processcreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ssocreds/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ssocreds/sso_cached_token.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/enable.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/reporter.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/endpoints/defaults.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/logger.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/request.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/request_pagination.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/timeout_read_closer.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/session/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/awstesting/assert.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/awstesting/cmd/bucket_cleanup/main.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/ini/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/ini/literal_tokens.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/s3shared/arn/accesspoint_arn.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/s3shared/arn/outpost_arn.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/sdkmath/floor.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/sdkmath/floor_go1.9.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/api.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/legacy_jsonvalue.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/load.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/cli/gen-endpoints/main.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/protocol/eventstream/eventstreamtest/testing.go
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Due: none

suppoer providerId
  cluster-autoscaler/cloudprovider/vke/sdk/node.go
  cluster-autoscaler/cloudprovider/vke/sdk/nodepool.go
  cluster-autoscaler/cloudprovider/vke/vke_cloud_manager.go
  cluster-autoscaler/cloudprovider/vke/vke_cloud_node_group.go
  cluster-autoscaler/cloudprovider/vke/vke_cloud_provider.go
Due: none

Add feature flag
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

in-progress
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

in-progress
  vertical-pod-autoscaler/pkg/features/versioned_features.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add VPA approvers
  vertical-pod-autoscaler/OWNERS
Due: pull-kubernetes-e2e-autoscaling-vpa-full

include pod namespace when logging updates
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Create a proposal for NodeAutoscalingBuffers API.
  cluster-autoscaler/proposals/buffers.md
  cluster-autoscaler/proposals/images/buffers-component-structure.jpg
Due: none

Updated on/off feature flag
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

evictAfterOomThreshold->evictAfterOOMThreshold
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix vpa in-place metrics
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

do not update webhook CA when registerWebhook is disabled
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Use factory start to fill caches instead of separate informers
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/limitrange/limit_range_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add factory start to the test
  vertical-pod-autoscaler/pkg/utils/limitrange/limit_range_calculator_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Initial commit to add cloudprovider/vcloud
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_vcloud.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/vcloud/README.md
  cluster-autoscaler/cloudprovider/vcloud/vcloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_manager.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group_test.go
Due: none

Update README
  cluster-autoscaler/cloudprovider/vcloud/README.md
Due: none

Update Unit Tests
  cluster-autoscaler/cloudprovider/vcloud/vcloud_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_manager_test.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group_test.go
Due: none

Initial Commit
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_vcloud.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/vcloud/README.md
  cluster-autoscaler/cloudprovider/vcloud/vcloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_manager.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_manager_test.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group_test.go
Due: none

Update README to add example build commands for amd64/arm64
  cluster-autoscaler/cloudprovider/vcloud/README.md
Due: none

Add prometheus bearer auth
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Prefix for prometheus bearer flags
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add more info
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Error and exit on failure
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

oomBumpUpRatio to int
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fixed typo
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Address comments from code review
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: pull-cluster-autoscaler-e2e-azure-master

Update NodeGroup handler to increase more efficient query to back-end API
  cluster-autoscaler/cloudprovider/vcloud/vcloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/vcloud/vcloud_node_group.go
Due: none

Update readme to explain how to vendor aws-sdk-go-v2
  cluster-autoscaler/cloudprovider/aws/README.md
  hack/boilerplate/boilerplate.py
  hack/for-go-proj.sh
  hack/verify-gofmt.sh
  hack/verify-golint.sh
  hack/verify-spelling.sh
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
