Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Update vertical-pod-autoscaler/RELEASE.md
  vertical-pod-autoscaler/RELEASE.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Handle node readiness for DRA after a scale-up
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/customresources/custom_resources_processor.go
  cluster-autoscaler/processors/customresources/dra_processor.go
  cluster-autoscaler/processors/customresources/dra_processor_test.go
  cluster-autoscaler/processors/customresources/multiple_custom_processor.go
  cluster-autoscaler/processors/customresources/multiple_custom_processor_test.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/test/common.go
Due: none

Move DRA provider to autoscaling context.
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

Patch TestCleaningSoftTaintsInScaleDown to be compatible with new isScaleDownInCooldown signature.
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

VPA: add InPlaceOrRecreate e2e tests
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: refactor e2e test ginkgo wrapper functions
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Fix cool down status condition to trigger scale down
  cluster-autoscaler/core/static_autoscaler.go
Due: none

Add unit test for cleaning deletion soft taints in scale down cool down
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

VPA: Introduce VPA feature gates; add InPlaceOrRecreate feature gate
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add UpdateModeInPlaceOrRecreate to types
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow deploying InPlaceOrRecreate in local e2e and ci
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/admission-controller-service.yaml
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add metrics gauges for in-place updates
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow admission-controller to validate in-place spec
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Allow updater to actuate InPlaceOrRecreate updates
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/util.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_recommendation_provider.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_updated.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_inplace_update.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add docs for in-place updates
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Update vpa-rbac.yaml for allowing in place resize requests
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Updater in-place updates unit tests
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_pod.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: refactor in-place and eviction logic
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/calculator.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/observed_containers.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_recommendation_provider.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_updated.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/fake_pods_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory_test.go
  vertical-pod-autoscaler/pkg/updater/utils/types.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

address raywainman and omerap12 comments
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_updated.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: fixup vpa-process-yaml.sh script
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Adjust comments
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update features.md
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: bump up overall e2e test timeout
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
  vertical-pod-autoscaler/hack/vpa-process-yamls.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/features.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: add InPlaceOrRecreate e2e tests
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Emit scale down metric even when there is no scale down candidates
  cluster-autoscaler/core/scaledown/status/status.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

correct and clarify documentation on cluster-autoscaler priority expander configmap
  cluster-autoscaler/expander/priority/readme.md
Due: none

VPA: use sha256 digest for local kind image
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: upgrade InPlacePodVerticalScaling internal logic to k8s 1.33
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory_test.go
  vertical-pod-autoscaler/pkg/updater/utils/types.go
  vertical-pod-autoscaler/pkg/utils/test/test_pod.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: fix InPlaceOrRecreate feature gate version
  vertical-pod-autoscaler/pkg/features/versioned_features.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Patches based implementation for DRA snapshot.
  cluster-autoscaler/core/podlistprocessor/filter_out_expendable_test.go
  cluster-autoscaler/core/podlistprocessor/filter_out_schedulable_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/resource/manager_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_benchmark_test.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/clustersnapshot/store/basic.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta_benchmark_test.go
  cluster-autoscaler/simulator/clustersnapshot/test_utils.go
  cluster-autoscaler/simulator/dynamicresources/provider/provider.go
  cluster-autoscaler/simulator/dynamicresources/provider/provider_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/patchset.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_claim_tracker.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_claim_tracker_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_lister.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/test_utils.go
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
Due: none

Add PredicateSnapshot benchmark for scheduling with DRA objects.
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_dra_benchmark_test.go
Due: none

chore: bump k8s to v1.33.0
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_test.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
Due: none

chore: fixing formatting in 'format' functions to avoid: 'non-constant format string in call'
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/awstesting/assert.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/service/sqs/checksums.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/kwok/kwok_nodegroups.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_cache.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Due: pull-cluster-autoscaler-e2e-azure-master

chore: fixing formatting in 'format' functions to avoid: 'non-constant format string in call'
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/session/shared_config.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud-sdk-go/util/util.go
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/errors.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud-sdk-go-v3/core/sdkerr/types.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/add_on_options.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/addon.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/addon_configuration.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/addon_error.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/addon_option_summary.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/addon_summary.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/addon_version_configuration.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/addon_versions.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/admission_controller_options.go
  cluster-autoscaler/cloudprovider/oci/vendor-internal/github.com/oracle/oci-go-sdk/v65/containerengine/cluster_create_options.go
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
