Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

tests: moved tests of deletionCandidate taint management from static_autoscaler_test.go to taints_test.go
  cluster-autoscaler/utils/taints/taints_test.go
Due: none

update-deps.sh
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: none

tmp: make apis/ a package
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
Due: none

update-codegen.sh
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/internal/internal.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/utils.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/clientset.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/fake_autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/fake/fake_provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/fake_autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/fake_provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/factory.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/generic.go
  cluster-autoscaler/apis/provisioningrequest/client/listers/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/listers/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/go.mod
Due: none

Revert "tmp: make apis/ a package"
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
Due: none

cleanup: drop no-op component-descriptor callback-script
  .ci/component_descriptor
Due: none

migrate pipeline to GitHub-Actions
  .ci/pipeline_definitions
  .github/workflows/build.yaml
  .github/workflows/gardener-release.yaml
  .github/workflows/non-release.yaml
  .ocm/base-component.yaml
Due: none

cluster-autoscaler: add release notes automation
  cluster-autoscaler/Makefile
Due: none

Give sig-autoscaling-leads approval of the AEP directory
  OWNERS_ALIASES
  vertical-pod-autoscaler/OWNERS
  vertical-pod-autoscaler/enhancements/OWNERS
Due: pull-kubernetes-e2e-autoscaling-vpa-full

add dependencies=false config
  cluster-autoscaler/Makefile
Due: none

Fix cool down status condition to trigger scale down
  cluster-autoscaler/core/static_autoscaler.go
Due: none

Add unit test for cleaning deletion soft taints in scale down cool down
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

Emit scale down metric even when there is no scale down candidates
  cluster-autoscaler/core/scaledown/status/status.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

removing UT cases where changes in azure api may affect results, fake values in real apis not necessary
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

azure: 2025-06-30 CA E2E module updates
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

dependabot manages CA go.mod
  .github/dependabot.yml
Due: none

Create a proposal for NodeAutoscalingBuffers API.
  cluster-autoscaler/proposals/buffers.md
  cluster-autoscaler/proposals/images/buffers-component-structure.jpg
Due: none

small nit with context cancel vs stopch
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add a test for both methods
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

tests: readded TestStaticAutoscalerRunOnceWithExistingDeletionCandidateNodes with clientset
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/utils/kubernetes/testlisters.go
Due: none

lint: added comment to NewDynamicTestNodeLister
  cluster-autoscaler/utils/kubernetes/testlisters.go
Due: none

Filterout non-existing node-groups before scale-up balancing
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Due: none

Do not remove healthy nodes from partially failing zero-or-max-scaling node pool
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

Revert filter out non-existing node-groups before scale-up balancing
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Due: none

capi: fix error when listing infra machines
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

ci: Add Dependabot for GitHub Actions and update action versions
  .github/dependabot.yml
  .github/workflows/pr.yaml
Due: none

fixing jwt version
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: pull-cluster-autoscaler-e2e-azure-master

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
