Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

remove unreferenced ScaleDownMiscOperations
  cluster-autoscaler/metrics/metrics.go
Due: none

chore: incorporate suggestions
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/templates/vpa.yaml
  charts/cluster-autoscaler/values.yaml
Due: none

lint
  charts/cluster-autoscaler/templates/vpa.yaml
Due: none

Fix max-graceful-termination-sec to allow node deletion after timeout
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler_test.go
Due: none

Fix DRA enablement logic
  cluster-autoscaler/main.go
Due: none

Update helm-docs & improve output
  .github/workflows/pr.yaml
Due: none

Update helm-docs & improve output
  .github/workflows/pr.yaml
  charts/vertical-pod-autoscaler/README.md
Due: none

Bump VPA chart version to 0.1.1 for README update
  charts/vertical-pod-autoscaler/Chart.yaml
  charts/vertical-pod-autoscaler/README.md
Due: none

chore: explicit k8s.io/kube-scheduler in go.mod
  cluster-autoscaler/go.mod
Due: none

Address comments
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

fix: updated resourceapi to v1
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: none

Update VPA defaults to 1.5.1 in the vpa-release-1.5 branch
  vertical-pod-autoscaler/common/version.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

cas: enable overridable node GPU config during cloud provider tests
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
Due: none

Update cluster-api provider to use machineTemplate.status.nodeInfo for architecture-aware autoscale from zero
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: none

[Tests] Update cluster-api provider to use machineTemplate.status.nodeInfo for architecture-aware autoscale from zero
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_test_framework.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Due: none

Fix proactive scale up injecting fake pods for scheduling gated pods
  cluster-autoscaler/processors/podinjection/pod_group.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/utils/kubernetes/listers.go
  cluster-autoscaler/utils/test/test_utils.go
Due: none

Add support for multiple resource limits
  cluster-autoscaler/cloudprovider/resource_limiter.go
  cluster-autoscaler/resourcelimits/factory.go
  cluster-autoscaler/resourcelimits/factory_test.go
  cluster-autoscaler/resourcelimits/provider.go
  cluster-autoscaler/resourcelimits/provider_test.go
  cluster-autoscaler/resourcelimits/testutils.go
  cluster-autoscaler/resourcelimits/tracker.go
  cluster-autoscaler/resourcelimits/tracker_test.go
  cluster-autoscaler/resourcelimits/usage.go
  cluster-autoscaler/resourcelimits/usage_test.go
Due: none

chore: migrated to v1
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: none

fix: changed methodology to using ptr.Deref
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize.go
Due: none

update node info processor to include unschedulable nodes
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/resource/manager_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/processors/nodeinfosprovider/annotation_node_info_provider.go
  cluster-autoscaler/processors/nodeinfosprovider/asg_tag_resource_node_info_provider.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
  cluster-autoscaler/processors/nodeinfosprovider/node_info_provider_processor.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
  cluster-autoscaler/simulator/node_info_utils.go
Due: none

test: use custom gpu node config for processor tests
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
Due: none

cas: remove unused simulator removal funcs (#8473)
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_test.go
Due: none

fix: changed methodology to using ptr.Deref
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
Due: none

Update index.yaml
  index.yaml
Due: none

Correctly wrap the ErrNodeInvalidOwner error
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Update VPA default to 1.5.1 in the vpa-release-1.5 branch
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

docs: update StartupBoost.CPU.Type to be required and fix examples
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Add more details to VPA release process
  vertical-pod-autoscaler/RELEASE.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

make type field required
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

chore: bump CA Chart image to v1.34
  charts/cluster-autoscaler/Chart.yaml
  charts/cluster-autoscaler/README.md
  charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/README.md
Due: none

fix clarity
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

change implementation to parse the iprange clusterconfig early refactor some code update README.md
  cluster-autoscaler/cloudprovider/hetzner/README.md
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Due: none
