Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-kubernetes-e2e-autoscaling-vpa-full:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Update index.yaml
  index.yaml
Due: none

VPA: Revert changes that related to disruption/disruptionless changes
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Fix in-place actuation tests to align with updated AEP
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Lock deletion scheduler so race detector does not complain
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
Due: none

VPA: Enforce flag documentation check in CI
  hack/verify-vpa-flags.sh
  vertical-pod-autoscaler/hack/verify-vpa-flags.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Enforce flag documentation check in CI
  hack/verify-vpa-flags.sh
Due: none

Clean delete taints on a copy to avoid data race
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
Due: none

Revert "Lock deletion scheduler so race detector does not complain"
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
Due: none

Reword comment since there is no race condition
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
Due: none

Run go mod tidy on master
  cluster-autoscaler/go.mod
Due: none

use go 1.23 to drive CI
  .github/workflows/ci.yaml
Due: none

VPA: only allow in-place if explicitly set
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: allow rule-breaking updates if disruptionless
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

azure: increase UT coverage in azure_vms_pool
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Due: pull-cluster-autoscaler-e2e-azure-master

VPA: Allow VPA updater to actuate recommendations in-place
  vertical-pod-autoscaler/deploy/vpa-rbac.yaml
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_recommendation_provider.go
  vertical-pod-autoscaler/pkg/updater/inplace/inplace_updated.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_inplace_update.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: fix logs and cleanup TODOs according to review
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/updater/eviction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Enable InPlacePodVerticalScaling feature flag on e2e
  vertical-pod-autoscaler/hack/kind-config.yaml
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
Due: pull-kubernetes-e2e-autoscaling-vpa-full

VPA: Add in-place actuation and admission-controller e2e tests
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Ignore VPA rbac file generated from local e2e installation
  vertical-pod-autoscaler/.gitignore
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Make AddTaints and CleanTaints thread safe
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/softtaint.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Due: none

Revert unneded changes from #7868 and #7820
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
Due: none

fix: added node annotation as backup method for cooldown timers
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/utils/utils.go
Due: none

fix: added node annotation as backup method for cooldown timers
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/go.mod
Due: none

execute make test-in-docker
  hack/for-go-proj.sh
Due: none

test with -count 5
  cluster-autoscaler/Makefile
Due: none

Add taints from endpoint to template
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
Due: none

DigitalOcean: Implement TemplateNodeInfo in cloud provider CA to support scale to zero
  cluster-autoscaler/cloudprovider/digitalocean/README.md
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_manager.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_manager_test.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: none

Updated the setup-go version
  .github/workflows/ci.yaml
Due: none

another test
  hack/for-go-proj.sh
Due: none

remove count 5 and run test 5 times
  cluster-autoscaler/Makefile
Due: none

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/
