Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-autoscaler-e2e-azure-master, pull-kubernetes-e2e-autoscaling-vpa-full

Path conditions:
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-kubernetes-e2e-autoscaling-vpa-full: any of: ^vertical-pod-autoscaler\/

change implementation to parse the iprange clusterconfig early refactor some code update README.md
  cluster-autoscaler/cloudprovider/hetzner/README.md
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_manager.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Due: none

squash
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

removed allocation status check from getDeviceResultRequest
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
Due: none

squash (#8596)
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
Due: pull-cluster-autoscaler-e2e-azure-master

docs: Update VPA udpate mode docs
  vertical-pod-autoscaler/docs/quickstart.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

[Feature] Make GPU utils function neutral for vendor's resource names
  cluster-autoscaler/utils/gpu/gpu.go
  cluster-autoscaler/utils/gpu/gpu_test.go
Due: none

Fix VPA startup boost validation error messages
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

update AEP summary section
  vertical-pod-autoscaler/enhancements/8515-support-custom-request-to-limit-ratio/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Make changes to updater to add the unboosting logic
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/util.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/inplace/unboost_patch_calculator.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Due: pull-kubernetes-e2e-autoscaling-vpa-full

fix term
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

exclude aws-sdk-go from gofmt
  hack/update-gofmt.sh
Due: none

CA CAPI provider: move more tests from createTestSpec() to TC builder
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
Due: none

aws: apply gofmt
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/awserr/error.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/client/default_retryer.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/corehandlers/awsinternal.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/chain_provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/credentials.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ec2rolecreds/ec2_role_provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/endpointcreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/plugincreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/processcreds/provider.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ssocreds/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/credentials/ssocreds/sso_cached_token.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/enable.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/csm/reporter.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/endpoints/defaults.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/logger.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/request.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/request_pagination.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/request/timeout_read_closer.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/aws/session/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/awstesting/assert.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/awstesting/cmd/bucket_cleanup/main.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/ini/doc.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/ini/literal_tokens.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/s3shared/arn/accesspoint_arn.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/s3shared/arn/outpost_arn.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/sdkmath/floor.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/internal/sdkmath/floor_go1.9.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/api.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/legacy_jsonvalue.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/api/load.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/model/cli/gen-endpoints/main.go
  cluster-autoscaler/cloudprovider/aws/aws-sdk-go/private/protocol/eventstream/eventstreamtest/testing.go
Due: none

Node removal latency metrics added
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/latencytracker/latencytracker_test.go
  cluster-autoscaler/core/scaledown/latencytracker/nodelatencytracker.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/metrics/metrics.go
Due: none

Update node_deletion_duration_seconds metrics bucket distribution
  cluster-autoscaler/metrics/metrics.go
Due: none

Rename files according to convention
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
Due: none

removed lock from metrics tracking
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
Due: none

fix clarity
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: pull-kubernetes-e2e-autoscaling-vpa-full

Create and use LatencyTracker interface for better testability
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/planner/planner.go
Due: none

Change UpdateStateWithUnneededList logic to also process nodes that are currently under deletion
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/core/scaledown/planner/planner.go
Due: none

cover planner node deletion latency tracking with test
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
Due: none

Add UpdateThreshold method to ndlt and use it during RemovableAt
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
Due: none

remove GetUnneededTimeForNode
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
Due: none

Move ObserveDeletion to a correct place and test
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
Due: none

Add node latency tracker tests
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
Due: none

Expose GetTrackedNodes in interface for testing
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
Due: none

fix merge errors
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: none

fix linting issues
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/metrics/metrics.go
Due: none

change name flag from nodeLatencyTrackingEnabled to nodeRemovalLatencyTrackingEnabled
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/static_autoscaler.go
Due: none
