Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

Update dependencies
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  tools/otel/traceserver/go.mod
  tools/otel/traceserver/go.sum
  vendor/github.com/aws/aws-sdk-go-v2/config/CHANGELOG.md
  vendor/github.com/aws/aws-sdk-go-v2/config/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/credentials/CHANGELOG.md
  vendor/github.com/aws/aws-sdk-go-v2/credentials/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/service/ec2/CHANGELOG.md
  vendor/github.com/aws/aws-sdk-go-v2/service/ec2/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/service/ec2/serializers.go
  vendor/github.com/aws/aws-sdk-go-v2/service/ssooidc/CHANGELOG.md
  vendor/github.com/aws/aws-sdk-go-v2/service/ssooidc/api_op_CreateToken.go
  vendor/github.com/aws/aws-sdk-go-v2/service/ssooidc/api_op_CreateTokenWithIAM.go
  vendor/github.com/aws/aws-sdk-go-v2/service/ssooidc/api_op_RegisterClient.go
  vendor/github.com/aws/aws-sdk-go-v2/service/ssooidc/deserializers.go
  vendor/github.com/aws/aws-sdk-go-v2/service/ssooidc/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/service/ssooidc/serializers.go
  vendor/github.com/aws/aws-sdk-go-v2/service/ssooidc/types/errors.go
  vendor/google.golang.org/api/container/v1/container-api.json
  vendor/google.golang.org/api/container/v1/container-gen.go
  vendor/google.golang.org/api/internal/version.go
  vendor/modules.txt
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

azure: Remove unused VFS client code
  util/pkg/vfs/azureclient.go
Due: none

azure: Add armstorage dependency
  go.mod
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/accounts_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/blobcontainers_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/blobinventorypolicies_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/blobservices_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/client_factory.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/deletedaccounts_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/encryptionscopes_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/fileservices_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/fileshares_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/localusers_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/managementpolicies_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/objectreplicationpolicies_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/operations_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/privateendpointconnections_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/privatelinkresources_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/queue_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/queueservices_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/skus_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/table_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/tableservices_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/time_rfc3339.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/usages_client.go
  vendor/modules.txt
Due: none

azure: Limit VMSS scope to specific storage account
  pkg/model/azuremodel/vmscaleset.go
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/roleassignment.go
  upup/pkg/fi/cloudup/azure/storageaccount.go
  upup/pkg/fi/cloudup/azuretasks/roleassignment.go
  upup/pkg/fi/cloudup/azuretasks/roleassignment_test.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
  upup/pkg/fi/cloudup/defaults.go
Due: none

azure: Add storage account ID config
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
Due: none

fix KOPS_AWS_ROLE_ARN assume behaviour
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
Due: none

add service account issuer migration doc to index
  docs/README.md
Due: none

tests: use version from go.mod in github actions
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
Due: none

Upgrade node-termination-handler to 1.22.0
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/nodeterminationhandler.go
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

add service account issuer migration doc
  mkdocs.yml
Due: none

docs: Update release notes to reflect release of 1.29
  docs/releases/1.29-NOTES.md
  docs/releases/1.30-NOTES.md
Due: none

aws: Use EndpointResolverV2 for enabling dual-stack
  util/pkg/vfs/s3context.go
Due: none

aws node handshake: support both v1 and v2 signatures, default to v1
  upup/pkg/fi/cloudup/awsup/aws_authenticator.go
  upup/pkg/fi/cloudup/awsup/aws_authenticator_test.go
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/cloudup/awsup/aws_verifier_test.go
Due: none

tests: add mock for STS to better test node handshake
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/cloudup/awsup/aws_verifier_test.go
Due: none

tests: add test for token generated with aws-sdk-go v1
  upup/pkg/fi/cloudup/awsup/aws_verifier_test.go
Due: none

aws: Experiment with Adaptive retry mode
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Due: none

Make ASG Warmpool depend on ASG Lifecycle hook
  upup/pkg/fi/cloudup/awstasks/warmpool.go
Due: none

nonedns cluster validated
  pkg/model/scalewaymodel/api_loadbalancer.go
  pkg/model/scalewaymodel/context.go
  pkg/model/scalewaymodel/instances.go
  pkg/model/scalewaymodel/network.go
  pkg/resources/scaleway/resources.go
  protokube/pkg/gossip/scaleway/seeds.go
  upup/models/cloudup/resources/addons/scaleway-cloud-controller.addons.k8s.io/k8s-1.24.yaml.template
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scaleway/utils.go
  upup/pkg/fi/cloudup/scaleway/verifier.go
  upup/pkg/fi/cloudup/scalewaytasks/gateway.go
  upup/pkg/fi/cloudup/scalewaytasks/gateway_fitask.go
  upup/pkg/fi/cloudup/scalewaytasks/gateway_network.go
  upup/pkg/fi/cloudup/scalewaytasks/gatewaynetwork_fitask.go
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
  upup/pkg/fi/cloudup/scalewaytasks/lb_backend.go
  upup/pkg/fi/cloudup/scalewaytasks/loadbalancer.go
  upup/pkg/fi/cloudup/scalewaytasks/private_network.go
  upup/pkg/fi/cloudup/scalewaytasks/private_nic.go
  upup/pkg/fi/cloudup/scalewaytasks/privatenetwork_fitask.go
  upup/pkg/fi/cloudup/scalewaytasks/privatenic_fitask.go
  upup/pkg/fi/cloudup/scalewaytasks/vpc.go
  upup/pkg/fi/cloudup/scalewaytasks/vpc_fitask.go
  upup/pkg/fi/cloudup/template_functions.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/vpc/v2/vpc_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/vpcgw/v1/vpcgw_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/vpcgw/v1/vpcgw_utils.go
  vendor/modules.txt
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

remove commented code + replace calls to ipam.ListIPs by GetXxxIP
  pkg/resources/scaleway/resources.go
  protokube/pkg/protokube/scaleway_volumes.go
  upup/models/cloudup/resources/addons/scaleway-cloud-controller.addons.k8s.io/k8s-1.24.yaml.template
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scalewaytasks/gateway_network.go
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

update headers
  pkg/model/scalewaymodel/network.go
  upup/pkg/fi/cloudup/scalewaytasks/gateway.go
  upup/pkg/fi/cloudup/scalewaytasks/gateway_network.go
  upup/pkg/fi/cloudup/scalewaytasks/private_network.go
  upup/pkg/fi/cloudup/scalewaytasks/private_nic.go
  upup/pkg/fi/cloudup/scalewaytasks/vpc.go
Due: none

add tf support to new tasks + fix minor lb compiling error
  upup/pkg/fi/cloudup/scalewaytasks/gateway.go
  upup/pkg/fi/cloudup/scalewaytasks/gateway_network.go
  upup/pkg/fi/cloudup/scalewaytasks/loadbalancer.go
  upup/pkg/fi/cloudup/scalewaytasks/private_network.go
  upup/pkg/fi/cloudup/scalewaytasks/private_nic.go
  upup/pkg/fi/cloudup/scalewaytasks/vpc.go
Due: none

update integration test with none DNS + update expected
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_manifests-etcdmanager-events-control-plane-fr-par-1_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_manifests-etcdmanager-main-control-plane-fr-par-1_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_nodeupconfig-control-plane-fr-par-1_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_nodeupconfig-nodes-fr-par-1_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.example.com-addons-scaleway-cloud-controller.addons.k8s.io-k8s-1.24_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.example.com-addons-scaleway-csi-driver.addons.k8s.io-k8s-1.24_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_scaleway/data/scaleway_instance_server_control-plane-fr-par-1-0_user_data
  tests/integration/update_cluster/minimal_scaleway/data/scaleway_instance_server_nodes-fr-par-1-0_user_data
  tests/integration/update_cluster/minimal_scaleway/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_scaleway/kubernetes.tf
Due: pull-kops-verify-terraform

replace placeholderIP before creating DNS record
  dnsprovider/pkg/dnsprovider/providers/scaleway/dns.go
  pkg/model/scalewaymodel/dns.go
  upup/pkg/fi/cloudup/scalewaytasks/dns_record.go
Due: none

remove ForAPIServer field as HasAddress seems to do the trick
  pkg/model/scalewaymodel/instances.go
  upup/pkg/fi/cloudup/scalewaytasks/loadbalancer.go
  upup/pkg/fi/cloudup/scalewaytasks/private_nic.go
Due: none

gwn configuration to allow external traffic to worker
  upup/pkg/fi/cloudup/scalewaytasks/gateway_network.go
Due: none

tf support: add server_id to private_nic
  tests/integration/update_cluster/minimal_scaleway/kubernetes.tf
  upup/pkg/fi/cloudup/scalewaytasks/private_nic.go
Due: pull-kops-verify-terraform

don't push default route on gateway to allow public traffic
  upup/pkg/fi/cloudup/scalewaytasks/gateway.go
  upup/pkg/fi/cloudup/scalewaytasks/gateway_network.go
Due: none

move GetControlPlanesIPs function to utils.go
  upup/pkg/fi/cloudup/scaleway/utils.go
  upup/pkg/fi/cloudup/scalewaytasks/lb_backend.go
Due: none

Add results of hack/update-expected.sh
  k8s/crds/kops.k8s.io_clusters.yaml
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
Due: pull-kops-verify-terraform

Enabling statefulsets withut pvs for load tests
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[DOCS] Add docs for Debian 12 on AWS
  docs/operations/images.md
Due: none
