Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

fix permissions required for NTH Queue Processor
  docs/addons.md
  docs/releases/1.21-NOTES.md
  pkg/resources/aws/eventbridge.go
Due: none

Add GCE Router task
  cmd/kops/integration_test.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/network.go
  pkg/resources/gce/gce.go
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_master-us-test1-a-minimal-gce-private-example-com_metadata_ssh-keys
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_master-us-test1-a-minimal-gce-private-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_nodes-minimal-gce-private-example-com_metadata_ssh-keys
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_nodes-minimal-gce-private-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_private/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_private/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/BUILD.bazel
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
  upup/pkg/fi/cloudup/gcetasks/router.go
  upup/pkg/fi/cloudup/gcetasks/router_fitask.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Update seeds.go
  protokube/pkg/gossip/openstack/seeds.go
Due: none

update gomod
  vendor/github.com/jetstack/cert-manager/pkg/apis/acme/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/acme/v1/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/acme/v1alpha2/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/acme/v1alpha3/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/acme/v1beta1/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/certmanager/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/certmanager/v1/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/certmanager/v1alpha2/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/certmanager/v1alpha3/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/certmanager/v1beta1/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/meta/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/apis/meta/v1/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/fake/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/scheme/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/acme/v1/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/acme/v1/fake/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/acme/v1alpha2/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/acme/v1alpha2/fake/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/acme/v1alpha3/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/acme/v1alpha3/fake/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/acme/v1beta1/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/acme/v1beta1/fake/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/certmanager/v1/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/certmanager/v1/fake/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/certmanager/v1alpha2/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/certmanager/v1alpha2/fake/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/certmanager/v1alpha3/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/certmanager/v1alpha3/fake/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/certmanager/v1beta1/BUILD.bazel
  vendor/github.com/jetstack/cert-manager/pkg/client/clientset/versioned/typed/certmanager/v1beta1/fake/BUILD.bazel
  vendor/github.com/weaveworks/mesh/BUILD.bazel
  vendor/github.com/weaveworks/mesh/peer_name_hash.go
  vendor/github.com/weaveworks/mesh/peer_name_mac.go
Due: none

Add warm pool docs and release notes
  docs/instance_groups.md
  docs/releases/1.21-NOTES.md
Due: none

Add ability to set a default Issuer in certManager addon
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
Due: none

Use the full operator instead of the generic one
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Due: pull-kops-e2e-cni-cilium

Improve warm pool documentation
  docs/instance_groups.md
  docs/releases/1.21-NOTES.md
Due: none

Use the full operator instead of the generic one
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Due: pull-kops-e2e-cni-cilium

Allow disabling warm pool by setting WarmPool.MaxSize to 0
  pkg/apis/kops/instancegroup.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/iam.go
  upup/pkg/fi/nodeup/command.go
Due: none

Disallow negative warmpool sizes
  pkg/apis/kops/validation/instancegroup.go
Due: none

Promote channel alpha to stable
  channels/stable
Due: none

Update Ubuntu images to latest version
  channels/alpha
  channels/stable
  pkg/apis/kops/channel.go
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.18/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.19/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Due: none
