Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

Update golden tests for gce metadata-proxy fix
  tests/integration/update_cluster/ha_gce/data/aws_s3_bucket_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_bucket_object_ha-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_bucket_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_bucket_object_minimal-gce-private.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Fix load balancer retry logic while retrieving api ingress status
  upup/pkg/fi/cloudup/do/BUILD.bazel
  upup/pkg/fi/cloudup/do/cloud.go
  upup/pkg/fi/cloudup/dotasks/BUILD.bazel
  upup/pkg/fi/cloudup/dotasks/loadbalancer.go
Due: none

Use custom image for etcd-manager
  pkg/model/components/etcdmanager/model.go
Due: none

etcd-manager listens on ipv6 on ipv6 clusters
  pkg/model/components/etcdmanager/model.go
Due: none

hack to success
  nodeup/pkg/model/kubelet.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/nodeup/command.go
Due: pull-kops-e2e-cni-amazonvpc

Conditionally use RBN or ip names in kops-controller
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Due: none

Set Resource Based Naming in dual-stack Subnets
  cloudmock/aws/mockec2/launch_templates.go
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Due: none

update bazel
  nodeup/pkg/model/BUILD.bazel
Due: none

Connect to etcd on ipv6 localhost on ipv6 clusters
  cmd/kops/create_cluster.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_apiserver.go
  pkg/model/components/apiserver.go
  pkg/model/components/context.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium

Skip e2e tests that can't be configured with the required topology keys
  tests/e2e/pkg/tester/skip_regex.go
Due: none

Add gofumpt scripts
  hack/update-gofumpt.sh
  hack/verify-gofumpt.sh
Due: none

feat(spot/addon): bump spotinst/ocean-controller to v1.0.80
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
Due: none

Remove unused StorageBucketIam GCE task
  upup/pkg/fi/cloudup/gcetasks/BUILD.bazel
  upup/pkg/fi/cloudup/gcetasks/storagebucketiam.go
  upup/pkg/fi/cloudup/gcetasks/storagebucketiam_fitask.go
Due: none

Fix area/provider/gcp GitHub label assignment
  pkg/model/gcemodel/OWNERS
  pkg/resources/gce/OWNERS
  upup/pkg/fi/cloudup/gce/OWNERS
  upup/pkg/fi/cloudup/gcetasks/OWNERS
Due: none

Don't assign CIDRs to shared subnets
  upup/pkg/fi/cloudup/awstasks/subnet.go
Due: none

Replace gofmt with gofumpt
  Makefile
  hack/update-gofmt.sh
Due: none

Add labels to GCE instance templates
  pkg/model/gcemodel/autoscalinggroup.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gce/labels.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation
