Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

tests/ai-conformance: add toleration for nvidia.com/gpu taint
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

tests/ai-conformance: use nvidia GPU operator to install GPU drivers
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Use elbv2 tag condition for all elasticloadbalancing actions
  pkg/model/iam/iam_builder.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

./hack/update-expected.sh
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/many-addons/data/aws_iam_role_policy_masters.many-addons.example.com_policy
Due: pull-kops-verify-terraform

implemented fake instance client
  cloudmock/gce/mock_gce_cloud.go
  pkg/instancegroups/delete_test.go
Due: none

Add opts to func GetCloudGroups
  cloudmock/gce/mock_gce_cloud.go
  cmd/kops/delete_instance.go
  cmd/kops/delete_instancegroup.go
  cmd/kops/delete_instancegroup_test.go
  cmd/kops/get_instances.go
  cmd/kops/rolling-update_cluster.go
  pkg/instancegroups/delete.go
  pkg/instancegroups/delete_test.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
  upup/pkg/fi/cloud.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/azure/status.go
  upup/pkg/fi/cloudup/azure/status_test.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
  upup/pkg/fi/cloudup/do/cloud.go
  upup/pkg/fi/cloudup/do/mock_do_cloud.go
  upup/pkg/fi/cloudup/gce/instancegroups.go
  upup/pkg/fi/cloudup/hetzner/cloud.go
  upup/pkg/fi/cloudup/metal/cloud.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
Due: none

test: Update test license headers
  cmd/kops/delete_instancegroup_test.go
  pkg/instancegroups/delete_test.go
Due: none

test: Update gce cloudmock
  cloudmock/gce/mock_gce_cloud.go
  pkg/instancegroups/delete_test.go
Due: none

refactor DeleteInstanceGroup func
  cmd/kops/delete_instancegroup.go
  pkg/instancegroups/delete.go
  pkg/instancegroups/delete_test.go
Due: none

update delete tests
  cmd/kops/delete_instancegroup_test.go
  pkg/instancegroups/delete_test.go
Due: none

update headers
  cmd/kops/delete_instancegroup_test.go
  pkg/instancegroups/delete_test.go
Due: none

Update delete ig tests
  cmd/kops/delete_instancegroup_test.go
  pkg/instancegroups/delete_test.go
Due: none

Update generated markdown docs
  docs/cli/kops_delete_instancegroup.md
Due: none

Update delete instancegroup tests
  pkg/instancegroups/delete_test.go
  pkg/instancegroups/main_test.go
Due: none

Bump release tools for E2E tests
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Lambda AI Karpenter provider
  experimental/karpenter-provider-lambda-ai/Makefile
  experimental/karpenter-provider-lambda-ai/cmd/controller/main.go
  experimental/karpenter-provider-lambda-ai/config/crd/bases/karpenter.lambda.ai_lambdaainodeclasses.yaml
  experimental/karpenter-provider-lambda-ai/go.mod
  experimental/karpenter-provider-lambda-ai/go.sum
  experimental/karpenter-provider-lambda-ai/pkg/apis/v1alpha1/groupversion_info.go
  experimental/karpenter-provider-lambda-ai/pkg/apis/v1alpha1/lambdaainodeclass.go
  experimental/karpenter-provider-lambda-ai/pkg/apis/v1alpha1/zz_generated.deepcopy.go
  experimental/karpenter-provider-lambda-ai/pkg/cloudprovider/provider.go
  experimental/karpenter-provider-lambda-ai/pkg/lambdaapi/client.go
  experimental/karpenter-provider-lambda-ai/pkg/lambdaapi/client_test.go
  experimental/karpenter-provider-lambda-ai/pkg/lambdaapi/types.go
Due: none

tests/ai-conformance: Install prometheus for metrics
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Keep skipping certain tests on older cilium versions
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

chore: Add hashes for additional February releases
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/cni-1.6.yaml
  pkg/assets/assetdata/k8s-1.32.yaml
  pkg/assets/assetdata/k8s-1.33.yaml
  pkg/assets/assetdata/k8s-1.34.yaml
  pkg/assets/assetdata/k8s-1.35.yaml
Due: none

chore: Bump alpha channels with additional February releases
  channels/alpha
Due: none

chore: Bump etcd-manager to v3.0.20260227
  pkg/model/components/etcdmanager/model.go
Due: none

Add more diagnostics for DGCM exporter pods
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Ensure DGCM exporter schedule on GPU nodes
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Get more informations about the GPU operator
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

fix: allow AWS subnet ID without zone in cluster manifest
  upup/pkg/fi/cloudup/awsup/aws_utils.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
Due: none

chore(channels): promote alpha to stable
  channels/stable
Due: none

enable metrics server for scale tests
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/deployer/build.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/scalability/pre-test.sh
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

feat: Use wellknownports for etcd and add cilium etcd ports
  docs/contributing/ports.md
  pkg/model/awsmodel/firewall.go
  pkg/model/azuremodel/network.go
  pkg/model/components/apiserver.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/openstackmodel/firewall.go
  pkg/wellknownports/wellknownports.go
Due: none

run make gofmt
  pkg/model/awsmodel/firewall.go
Due: none

metrics addons kubelet preferred address types change to k8s default arguments
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Due: pull-kops-verify-terraform
