Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/

bump aws cni to 1.12.6
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
Due: pull-kops-e2e-cni-amazonvpc

Support Cilium operator pod annotations
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha3/networking.go
  tests/integration/update_cluster/privatecilium/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.12.yaml.template
Due: pull-kops-e2e-cni-cilium, pull-kops-verify-terraform

make apimachinery && make crds
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
Due: pull-kops-verify-terraform

Update containerd to v1.6.20
  pkg/model/components/containerd.go
  upup/pkg/fi/cloudup/containerd.go
Due: pull-kops-verify-hashes

update runc to 1.1.7
  pkg/model/components/containerd.go
  upup/pkg/fi/cloudup/runc.go
Due: none

set default runc version to 1.1.5
  pkg/model/components/containerd.go
  upup/pkg/fi/cloudup/runc.go
Due: none

Update containerd to v1.6.21
  pkg/model/components/containerd.go
  upup/pkg/fi/cloudup/containerd.go
Due: pull-kops-verify-hashes

makefile: use go run to execute ko
  Makefile
  hack/install-ko.sh
Due: none

Update ko to v0.13.0
  Makefile
Due: none

add removeAll to vfs
  pkg/client/simple/vfsclientset/clientset.go
  upup/models/vfs.go
  util/pkg/vfs/azureblob.go
  util/pkg/vfs/fs.go
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/k8sfs.go
  util/pkg/vfs/memfs.go
  util/pkg/vfs/s3fs.go
  util/pkg/vfs/sshfs.go
  util/pkg/vfs/swiftfs.go
  util/pkg/vfs/vfs.go
Due: none

If the Cluster Name is not default the hubble relay shows TLS errors on request from the hubble UI
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.12.yaml.template
Due: pull-kops-e2e-cni-cilium

Support dualstack NLBs with Terraform
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-cilium/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6/kubernetes.tf
  tests/integration/update_cluster/shared_vpc_ipv6/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Due: pull-kops-verify-terraform

do not mount same dir twice
  nodeup/pkg/model/kube_apiserver.go
Due: none

Add missing ServiceAccount in snapshot-validation-deployment
  upup/models/cloudup/resources/addons/snapshot-controller.addons.k8s.io/k8s-1.20.yaml.template
Due: none

Add generated deepcopies
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Due: none

promote alpha to stable
  channels/stable
Due: none

bump kubernetesVersion 1.24 under `kopsVersions` in alpha (missed in previous PR)
  channels/alpha
Due: none

hack/update-expected
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Due: none

nodeup: Use functional options pattern for HostPathMapping
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_scheduler.go
  pkg/kubemanifest/volumes.go
  pkg/model/components/etcdmanager/model.go
Due: none

typo in manifests
  upup/models/cloudup/resources/addons/scaleway-cloud-controller.addons.k8s.io/k8s-1.24.yaml.template
  upup/models/cloudup/resources/addons/scaleway-csi-driver.addons.k8s.io/k8s-1.24.yaml.template
Due: none

rename serverName -> instanceGroupName in GetClusterServers
  upup/pkg/fi/cloudup/scaleway/cloud.go
Due: none

get zone from uuid in identify
  pkg/nodeidentity/scaleway/identify.go
Due: none

tests/e2e: use dl.k8s.io not gs://kubernetes-release
  tests/e2e/e2e.mk
  tests/e2e/scenarios/aws-boskos/run-test.sh
  tests/e2e/scenarios/digital-ocean/run-test
  tests/e2e/scenarios/lib/common.sh
  tests/e2e/scenarios/scalability/run-test.sh
  tests/e2e/scenarios/upgrade-ab/run-test.sh
  tests/e2e/scenarios/upgrade-ha-leader-migration/run-test.sh
Due: none

docs: use dl.k8s.io not gs://kubernetes-release
  docs/examples/basic-requirements.md
  docs/install.md
Due: none

use dl.k8s.io not gs://kubernetes-release
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/tests/golden/side-loading/cluster.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/networking_test.go
Due: pull-kops-e2e-cni-amazonvpc

hack/update-expected.sh
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium-eni/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
Due: pull-kops-verify-terraform

Make NLBs dualstack when they're in IPv6-capable subnets
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/bastion.go
  pkg/model/awsmodel/dns.go
  pkg/model/context.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Due: none

Update test files for addons-snapshot-controller
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
Due: pull-kops-verify-terraform

scaleway resources are tagged with cloud tags
  pkg/model/master_volumes.go
  pkg/model/scalewaymodel/api_loadbalancer.go
  pkg/model/scalewaymodel/instances.go
  tests/integration/update_cluster/minimal_scaleway/kubernetes.tf
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
Due: pull-kops-verify-terraform

local volumes should be at least 50GB at instance creation
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
Due: none

terminate instances instead of stopping and deleting
  upup/pkg/fi/cloudup/scaleway/cloud.go
Due: none

In AWS, we use a Network load balancer (NLB) to expose the Ingress-Nginx Controller behind a Service of Type=LoadBalancer.
  addons/ingress-nginx/v1.7.1-aws.yaml
Due: none

Used a network load balancer
  addons/ingress-nginx/v1.7.1-aws.yaml
Due: none

Use registry.k8s.io for legacy addons
  addons/ingress-nginx/README.md
Due: none

Delete v1.7.1-aws.yaml
  addons/ingress-nginx/v1.7.1-aws.yaml
Due: none
