Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

pull-kops-e2e-cni-amazonvpc:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-calico:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-canal:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-cilium:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-flannel:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-kuberouter:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-weave:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

pull-kops-verify-terraform:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-terraform
      securityContext:
        privileged: true

Run hack/update-expected.sh
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/aws-cloud-controller.addons.k8s.io-k8s-1.18.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Due: none

Remove version from addons
  channels/pkg/api/BUILD.bazel
  channels/pkg/api/channel.go
  channels/pkg/api/channel_test.go
  channels/pkg/channels/BUILD.bazel
  channels/pkg/channels/addon.go
  channels/pkg/channels/addons.go
  channels/pkg/channels/addons_test.go
  channels/pkg/channels/channel_version.go
  channels/pkg/cmd/apply_channel.go
  channels/pkg/cmd/get_addons.go
  pkg/model/components/addonmanifests/remap.go
  pkg/wellknownoperators/operators.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
Due: none

Allow overriding the ServiceAccountIssuer for IRSA
  pkg/model/awsmodel/iam.go
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/discovery.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/subject.go
  pkg/model/issuerdiscovery.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/manifest.yaml
Due: none

Move fields from AuxConfig to nodeup.Config
  nodeup/pkg/model/context.go
  nodeup/pkg/model/file_assets.go
  nodeup/pkg/model/hooks.go
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/update_service.go
  pkg/apis/nodeup/config.go
  upup/pkg/fi/nodeup/command.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium

Remove Config.ClusterLocation
  pkg/apis/nodeup/config.go
  upup/pkg/fi/nodeup/command.go
Due: none

Move most of nodeup.Config out of userdata
  cmd/kops-controller/pkg/server/node_config.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/kubelet_test.go
  pkg/apis/nodeup/bootstrap.go
  pkg/apis/nodeup/config.go
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/nodeup/command.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium

Refactor etcd-client-cilium secrets
  cmd/kops/integration_test.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kops_controller.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/networking/BUILD.bazel
  nodeup/pkg/model/networking/cilium.go
  nodeup/pkg/model/networking/cilium_test.go
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/azuremodel/vmscaleset_test.go
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/iam/iam_builder.go
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium

hack/update-expected.sh
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privateciliumadvanced/data/aws_launch_template_master-us-test-1a.masters.privateciliumadvanced.example.com_user_data
  tests/integration/update_cluster/privateciliumadvanced/data/aws_launch_template_nodes.privateciliumadvanced.example.com_user_data
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Catch calls to GetBootstrapCert from control plane
  nodeup/pkg/model/context.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium

Control plane nodes need the etcd-clients-ca-cilium keypair
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privateciliumadvanced/data/aws_launch_template_master-us-test-1a.masters.privateciliumadvanced.example.com_user_data
  upup/pkg/fi/cloudup/apply_cluster.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Use DualStack API NLB for IPv6
  cloudmock/aws/mockelbv2/loadbalancers.go
  pkg/apis/kops/validation/validation.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/dns.go
  pkg/model/context.go
  pkg/resources/aws/aws.go
  tests/integration/update_cluster/minimal-ipv6/cloudformation.json
  tests/integration/update_cluster/minimal-ipv6/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/dnsname.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Simplify config server protocol
  cmd/kops-controller/pkg/server/node_config.go
  pkg/apis/nodeup/bootstrap.go
  pkg/configserver/keystore.go
  upup/pkg/fi/nodeup/command.go
Due: none

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/
