Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-e2e-k8s-containerd, pull-kops-verify-hashes, pull-kops-verify-terraform

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-k8s-containerd: any of: ^nodeup\/pkg\/
  pull-kops-verify-hashes: any of: ^nodeup\/pkg\/
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/

allow ARTIFACTS env var to be overridden in makefile
  Makefile
Due: none

Update integration tests
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
Due: pull-kops-verify-terraform

Treat InvalidDhcpOptionsId.NotFound as already-deleted
  pkg/resources/aws/aws.go
Due: none

Add required toleration
  docs/gpu.md
Due: none

Update kube-router to v1.1.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Due: pull-kops-e2e-cni-kuberouter

Update stable channel with recent k8s releases
  channels/stable
Due: none

Use the same package version as that reported by apiserver
  Makefile
Due: none

Support a --kubernetes-version flag that is passed to `kops create cluster`
  Makefile
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
Due: none

cleanup some input validation error messages
  tests/e2e/kubetest2-kops/deployer/build.go
Due: none

Dump cluster and IG manifests into artifacts
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
Due: none

Use custom containerd socket with Flatcar
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/protokube_test.go
  nodeup/pkg/model/tests/protokube/containerd-flatcar/cluster.yaml
  nodeup/pkg/model/tests/protokube/containerd-flatcar/tasks-protokube.yaml
  nodeup/pkg/model/tests/protokube/containerd/tasks-protokube.yaml
  nodeup/pkg/model/tests/protokube/docker/tasks-protokube.yaml
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/load_image.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-k8s-containerd, pull-kops-verify-hashes

Only include API server SGs in IGs for masters
  pkg/model/awsmodel/autoscalinggroup.go
Due: none
