Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

Use karpenter-snapshots
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add "namespaces" to ClusterRole
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

WIP: Support channels over OCI
  Makefile
  cmd/kops/toolbox_template.go
  cmd/kops/upgrade_cluster.go
  pkg/apis/kops/channel.go
  pkg/apis/kops/channel/load.go
  pkg/apis/kops/channel/oci.go
  pkg/apis/kops/channel/resolve.go
  pkg/testutils/integrationtestharness.go
  pkg/wellknownoperators/operators.go
  tests/integration/channel/integration_test.go
  tests/integration/channel/simple/mock_channel.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/new_cluster.go
Due: pull-kops-e2e-cni-amazonvpc

Fix broken links
  docs/README.md
Due: none

Upgrade karpenter to 0.13.1
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Fix doc of NewOpenStackCloudProvider
  protokube/pkg/protokube/openstack_volume.go
Due: none

Add config drive as a source for OpenStack instance metadata
  protokube/pkg/protokube/openstack_volume.go
  protokube/pkg/protokube/openstack_volume_test.go
  protokube/pkg/protokube/testdata/metadata_drive.json
  protokube/pkg/protokube/testdata/metadata_service.json
  vendor/k8s.io/utils/exec/testing/fake_exec.go
  vendor/modules.txt
Due: none

Be more specific when filtering OS instance ports
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/openstacktasks/instance_test.go
Due: none

Use csi-snapshotter for OS only when the controller is enabled
  docs/releases/1.24-NOTES.md
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Due: none

Bump EBS CSI driver to 1.8.0
  pkg/model/components/awsebscsidriver.go
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
Due: none

Set SpecOverrideFlag to true by default
  docs/cli/kops_create_cluster.md
  docs/cli/kops_edit_cluster.md
  docs/cli/kops_edit_instancegroup.md
  pkg/featureflag/featureflag.go
Due: none

Release notes for 1.24.0
  docs/releases/1.24-NOTES.md
  mkdocs.yml
Due: none

Fix release notes for 1.24.0
  docs/releases/1.24-NOTES.md
Due: none

Add release 1.24.0 to channels
  channels/alpha
  channels/stable
Due: none

Applier should be more tolerant of errors
  channels/pkg/channels/apply.go
Due: none

Use control-plane node role for AWS IAM Authenticator
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave
