Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-karpenter:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-canal:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

azure: Use `kops` as the default admin user
  nodeup/pkg/model/kubectl.go
  pkg/apis/nodeup/config.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/up.go
  upup/pkg/fi/cloudup/new_cluster.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

azure: Use creation timestamp tag in e2e tests
  tests/e2e/kubetest2-kops/deployer/up.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

azure: Fix protokube tags parsing
  protokube/pkg/gossip/azure/client.go
Due: none

Fix invalid filters for describing security group rules
  upup/pkg/fi/cloudup/awstasks/securitygroup.go
Due: none

protokube: Initialize CloudProvider only with Gossip
  protokube/cmd/protokube/main.go
Due: none

protokube: Simplify CloudProvider initialization
  protokube/cmd/protokube/main.go
Due: none

Wait for the GCE disk creation operation to finish
  upup/pkg/fi/cloudup/gcetasks/disk.go
Due: none

Don't require . in dns=none cluster names
  pkg/apis/kops/validation/validation.go
Due: none

Prefer using id_ed25519.pub instead of id_rsa.pub
  cmd/kops/create_cluster.go
  docs/releases/1.34-NOTES.md
Due: none

Fix IPv6 routes and use kube 1.32
  tests/e2e/scenarios/bare-metal/scenario-ipv6
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

metal: simple IPAM for IPv6
  cmd/kops-controller/controllers/gceipam.go
  cmd/kops-controller/controllers/metalipam.go
  cmd/kops-controller/main.go
  cmd/kops/toolbox_enroll.go
  docs/cli/kops_toolbox_enroll.md
  k8s/crds/kops.k8s.io_hosts.yaml
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/prefix.go
  pkg/apis/kops/v1alpha2/host.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/commands/toolbox_enroll.go
  pkg/kubeconfig/create_kubecfg.go
  tests/e2e/scenarios/bare-metal/scenario-ipv6
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

metal: split host creation from enrollment
  cmd/kops/toolbox_enroll.go
  docs/cli/kops_toolbox_enroll.md
  pkg/commands/toolbox_enroll.go
  tests/e2e/scenarios/bare-metal/scenario-ipv6
  upup/pkg/fi/loader/options_loader.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

metal: don't set CCM external always for IPv6
  pkg/model/components/kubelet.go
  tests/e2e/scenarios/bare-metal/e2e_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

tests: add test for bare-metal with ipv6
  .github/workflows/e2e.yml
  tests/e2e/scenarios/bare-metal/cleanup
  tests/e2e/scenarios/bare-metal/scenario-ipv6
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

azure: Remove DNS domain for generated cluster names
  tests/e2e/kubetest2-kops/deployer/common.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

azure: Remove `-netconfig` suffix for VMSS network configuration
  upup/pkg/fi/cloudup/azure/verifier.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset_test.go
Due: none

azure: Fix subscription ID check
  cmd/kops/create_cluster.go
  upup/pkg/fi/cloudup/new_cluster.go
Due: none

azure: Remove `-ipconfig` suffix for VMSS IP configuration
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset_test.go
Due: none

azure: Remove `-publicipconfig` suffix for VMSS piblic IP configuration
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset_test.go
Due: none

Add support for passing image tag for nvidia-k8s-device-plgin
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha3/containerdconfig.go
  pkg/model/components/containerd.go
  upup/models/cloudup/resources/addons/nvidia.addons.k8s.io/k8s-1.16.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-kuberouter

Add support for passing image for nvidia-k8s-device-plugin
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/containerdconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/model/components/containerd.go
  tests/integration/update_cluster/nvidia/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/nvidia/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/nvidia/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/nvidia/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nvidia/data/aws_s3_object_minimal.example.com-addons-nvidia.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/nvidia/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/nvidia/data/aws_s3_object_nodeupconfig-nodes_content
  upup/models/cloudup/resources/addons/nvidia.addons.k8s.io/k8s-1.16.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-kuberouter, pull-kops-verify-terraform

Add support for using ECR as pull-through image cache
  docs/iam_roles.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/containerdconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/containerd-custom/data/aws_iam_role_policy_masters.containerd.example.com_policy
  tests/integration/update_cluster/containerd-custom/data/aws_iam_role_policy_nodes.containerd.example.com_policy
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_master-us-test-1a.masters.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_nodes.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  vendor/k8s.io/kubelet/config/v1/doc.go
  vendor/k8s.io/kubelet/config/v1/register.go
  vendor/k8s.io/kubelet/config/v1/types.go
  vendor/k8s.io/kubelet/config/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-verify-terraform

feat/ccm-aws: added permissions to RW*TargetGroupAttributes
  pkg/model/iam/iam_builder.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

Revert "Fix panic when security group ID is not known"
  upup/pkg/fi/cloudup/awstasks/securitygroup.go
Due: none

Revert "Ensure only owned security groups are deleted"
  upup/pkg/fi/cloudup/awstasks/securitygroup.go
Due: none

Revert "Fix invalid filters for describing security group rules"
  upup/pkg/fi/cloudup/awstasks/securitygroup.go
Due: none

testing: Fix e2e test job name
  tests/e2e/kubetest2-kops/deployer/common.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
