Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

pull-kops-e2e-cni-amazonvpc:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-calico:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-canal:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-cilium:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-flannel:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-kuberouter:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-weave:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

pull-kops-verify-terraform:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-terraform
      securityContext:
        privileged: true

Adjust sorting of resources in hcl2
  tests/integration/update_cluster/aws-lb-controller/kubernetes.tf
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/irsa/kubernetes.tf
  tests/integration/update_cluster/lifecycle_phases/network-kubernetes.tf
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/nth_sqs_resources/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks-apiserver/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  tests/integration/update_cluster/vfs-said/kubernetes.tf
  upup/pkg/fi/cloudup/terraform/target.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Split out getResourcesByType()
  upup/pkg/fi/cloudup/terraform/target.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
  upup/pkg/fi/cloudup/terraform/target_json.go
Due: none

Adjust sorting of outputs in hcl2
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Due: none

Split out getOutputs()
  upup/pkg/fi/cloudup/terraform/literal.go
  upup/pkg/fi/cloudup/terraform/target.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
  upup/pkg/fi/cloudup/terraform/target_hcl2_test.go
  upup/pkg/fi/cloudup/terraform/target_json.go
  upup/pkg/fi/cloudup/terraform/target_test.go
Due: none

Update Calico to v3.19.0
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-e2e-cni-calico

add permission to create sa tokens
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/k8s-1.13.yaml.template
Due: none

Add more support for cilium 1.10
  pkg/apis/kops/validation/validation.go
  pkg/model/components/cilium.go
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
Due: pull-kops-e2e-cni-cilium

Remove unused k8s version parsing
  nodeup/pkg/model/logrotate.go
Due: none

Fix upgrade of service-account key
  upup/pkg/fi/fitasks/keypair.go
  upup/pkg/fi/vfs_castore.go
Due: none

Update Calico to v3.18.3
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-e2e-cni-calico

Don't try to mount hubble TLS on the agent if we don't use hubble
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Due: pull-kops-e2e-cni-cilium

Don't try to mount hubble TLS on the agent if we don't use hubble
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Due: pull-kops-e2e-cni-cilium

Add a new kops upgrade test
  tests/e2e/scenarios/kops-upgrade/run-test.sh
Due: none

Move existing upgrade test and fix shellcheck errors
  tests/e2e/scenarios/k8s-upgrade/run-test.sh
Due: none

Rename upgrade scenario to k8s-upgrade
  tests/e2e/scenarios/k8s-upgrade/run-test
Due: none

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/
