Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

pull-kops-e2e-cni-amazonvpc:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-calico:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-canal:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-cilium:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-flannel:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-kuberouter:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-weave:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

pull-kops-verify-terraform:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-terraform
      securityContext:
        privileged: true

e2e: fix test flakes where we specify a non-schedulable zone
  tests/e2e/pkg/tester/tester.go
Due: none

Release notes for 1.24.0-alpha.1
  docs/releases/1.24-NOTES.md
Due: none

Update oldest supported and recommended Kubernetes versions
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none

Release notes for 1.23.0-beta.1
  docs/releases/1.23-NOTES.md
  mkdocs.yml
Due: none

Fix failing test
  cmd/kops/integration_test.go
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium2/data/aws_iam_role_policy_nodes.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium2/data/aws_launch_template_master-us-test-1a.masters.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium2/data/aws_launch_template_nodes.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_privatecilium.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_privatecilium.example.com-addons-rbac.addons.k8s.io-k8s-1.8_content
  tests/integration/update_cluster/privatecilium2/in-v1alpha2.yaml
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add integration test for k8s 1.24
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal-1.24/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.24/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.24/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.24/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.24/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_kops-version.txt_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_manifests-etcdmanager-events_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_manifests-etcdmanager-main_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-core.addons.k8s.io_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.24/id_rsa.pub
  tests/integration/update_cluster/minimal-1.24/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-1.24/kubernetes.tf
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Only shellcheck files
  hack/verify-shellcheck.sh
Due: none

Do not set insecure port on k8s 1.20+
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_apiserver_test.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-apiserver.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/flagbuilder/buildflags_test.go
  pkg/model/components/apiserver.go
  tests/integration/update_cluster/privatecilium2/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium2/data/aws_launch_template_master-us-test-1a.masters.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Validate insecurePort
  pkg/apis/kops/validation/validation.go
Due: none

Set the default LT version to the new LT version
  cloudmock/aws/mockec2/launch_templates.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
Due: none

nodeup: store the CloudProvider in the context
  nodeup/pkg/model/bootstrap_client.go
  nodeup/pkg/model/cloudconfig.go
  nodeup/pkg/model/cloudconfig_test.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/ntp.go
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/sysctls.go
  nodeup/pkg/model/warm_pool.go
  upup/pkg/fi/nodeup/command.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel

tests: Improve logging on test failure
  nodeup/pkg/model/cloudconfig_test.go
Due: none

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/
