Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

fix: minor
  pkg/nodeidentity/elemento/identify.go
Due: none

feat: Add CPU and memory resource configuration for AWS Load Balancer Controller
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/in-v1alpha2.yaml
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-verify-terraform

aws: Update VPC CNI to v1.20.2
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc

hack/update-expected.sh
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Due: pull-kops-verify-terraform

Update Calico to v3.30.3
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6

hack/update-expected.sh
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
Due: pull-kops-verify-terraform

fix: nodeup auto script
  upup/pkg/fi/cloudup/elemento/cloud.go
  upup/pkg/fi/executor.go
Due: none

Restore default SELinux security contexts for containerd binaries
  nodeup/pkg/model/containerd.go
Due: none

Update etcd to v3.6.5 for K8s 1.34+
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/options.go
Due: none

WIP: More cluster-api
  clusterapi/README.md
  clusterapi/bootstrap/kops/api/v1beta1/zz_generated.deepcopy.go
  clusterapi/config/crds/controlplane.cluster.x-k8s.io_kopscontrolplanes.yaml
  clusterapi/controllers/cluster_controller.go
  clusterapi/controllers/instancegroup_controller.go
  clusterapi/controllers/kopsconfig_controller.go
  clusterapi/controllers/kopscontrolplane_controller.go
  clusterapi/controllers/utils.go
  clusterapi/controlplane/kops/api/v1beta1/kopscontrolplane_types.go
  clusterapi/controlplane/kops/api/v1beta1/zz_generated.deepcopy.go
  clusterapi/examples/clustersecret.yaml
  clusterapi/examples/ig.yaml
  clusterapi/examples/kopscontroller.yaml
  clusterapi/examples/manifest.yaml
  clusterapi/main.go
  clusterapi/manifests/build/cluster-api-provider-gcp.yaml
  clusterapi/manifests/build/cluster-api.yaml
  clusterapi/manifests/cluster-api-provider-gcp/kustomization.yaml
  clusterapi/manifests/cluster-api/kustomization.yaml
  clusterapi/manifests/cluster-api/patches/set_feature_gates.yaml
  clusterapi/manifests/cluster-api/patches/set_manager_image.yaml
  clusterapi/snapshot/cluster-api/api/v1beta1/zz_generated.deepcopy.go
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/server/node_config.go
  cmd/kops-controller/pkg/server/server.go
  hack/go.mod
  k8s/kustomization.yaml
  pkg/model/bootstrapscript.go
  pkg/nodeidentity/gce/identify.go
  tests/e2e/go.mod
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/nodeup/command.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Update etcd to v3.5.23 for K8s <1.34
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/options.go
Due: none

Update cluster-autoscaler to v1.34.0 releases
  pkg/model/components/clusterautoscaler.go
Due: none

hack/update-expected.sh
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
Due: pull-kops-verify-terraform

Update Flannel to v0.27.4
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.25.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-flannel

hack/update-expected.sh
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-networking.flannel-k8s-1.25_content
Due: pull-kops-verify-terraform

Remove Canal support
  cmd/kops/create_cluster.go
  cmd/kops/integration_test.go
  docs/cli/kops_create_cluster.md
  docs/cluster_spec.md
  docs/networking.md
  docs/networking/canal.md
  docs/releases/1.34-NOTES.md
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  tests/e2e/pkg/tester/skip_regex.go
  tests/integration/conversion/canal/v1alpha2.yaml
  tests/integration/conversion/canal/v1alpha3.yaml
  tests/integration/conversion/integration_test.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.25.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-canal, pull-kops-kubernetes-e2e-ubuntu-gce-build

make crds
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_hosts.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  k8s/crds/kops.k8s.io_keysets.yaml
  k8s/crds/kops.k8s.io_sshcredentials.yaml
Due: none

make gen-cli-docs
  cmd/kops/otel.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/MIGRATION.md
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/attribute_group.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/error_type.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/schema.go
  vendor/modules.txt
Due: none

Fix tests
  tests/codecs/componentconfig_test.go
  upup/pkg/fi/vfs_castore_test.go
Due: none

make apimachinery
  pkg/apis/kops/v1alpha2/zz_generated.defaults.go
  pkg/apis/kops/v1alpha3/zz_generated.defaults.go
Due: none

Update CCM for AWS, Azure and Hetzner
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/hetznercloudcontrollermanager.go
  upup/models/cloudup/resources/addons/azure-cloud-node.addons.k8s.io/k8s-1.31.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons

Use fake.NewClientset()
  channels/pkg/channels/addons_test.go
  channels/pkg/channels/channel_version_test.go
  channels/pkg/cmd/apply_channel_test.go
  dns-controller/pkg/watchers/pod_test.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/instancegroups/rollingupdate_test.go
  pkg/validation/validate_cluster_test.go
Due: none

Update Kube-router to v2.6.1
  pkg/apis/kops/cluster.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-kuberouter

Stop rendering large CAPI manifests
  clusterapi/README.md
  clusterapi/manifests/build.sh
  clusterapi/manifests/build/cluster-api-provider-gcp.yaml
  clusterapi/manifests/build/cluster-api.yaml
Due: none

TMP
  pkg/apis/kops/cluster.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-kuberouter

update openstack csi images
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons

tests: allow env vars to be exported from kubetest2-kops
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/lib/common.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build
