Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

pull-kops-e2e-cni-amazonvpc:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-calico:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-canal:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-cilium:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-flannel:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-kuberouter:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-weave:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

pull-kops-verify-terraform:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-terraform
      securityContext:
        privileged: true

Add docs on gpu
  docs/gpu.md
  docs/releases/1.22-NOTES.md
Due: none

Add notes and docs on external-dns
  docs/cluster_spec.md
  docs/releases/1.22-NOTES.md
Due: none

Set explicit fsType to be able to mount volumes
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Due: none

dev: hack/update-expected script should clear KOPS_ARCH
  hack/update-expected.sh
Due: none

Add helper to convert kubemanifest.Object to unstructured
  pkg/kubemanifest/BUILD.bazel
  pkg/kubemanifest/manifest.go
Due: none

tests: create-cluster integration tests should validate additional objects
  cmd/kops/create_cluster_integration_test.go
Due: none

use ipip Always by default in OpenStack
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave

Include kops- prefix in external-dns TXT record
  upup/pkg/fi/cloudup/dns.go
Due: none

Fix docs for external-dns provider
  docs/cluster_spec.md
Due: none

Ensure heritage record exists
  upup/pkg/fi/cloudup/dns.go
Due: none

option to omit --cluster-cidr from kubeproxy config
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/kubeproxy.go
Due: pull-kops-e2e-cni-amazonvpc

Fix cluster spec typo in CCM integration tests
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/in-v1alpha2.yaml
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/in-v1alpha2.yaml
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/
