Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-gce-cni-calico:
  optional: true
  labels:
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    serviceAccountName: k8s-kops-test
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

test: hack/update-expected
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Due: pull-kops-verify-terraform

Default to AWS CCM v1.36.1 for all k8s versions
  pkg/model/components/awscloudcontrollermanager.go
Due: none

docs: gossip removal in kOps 1.37 and migration guide
  docs/aws-china.md
  docs/bastion.md
  docs/cluster_spec.md
  docs/getting_started/aws.md
  docs/getting_started/digitalocean.md
  docs/getting_started/scaleway.md
  docs/gossip.md
  docs/releases/1.36-NOTES.md
  mkdocs.yml
Due: none

Move hosts and etcd cluster spec packages out of protokube
  pkg/dns/hosts/hosts.go
  pkg/dns/hosts/hosts_test.go
  pkg/etcd/cluster_spec.go
  pkg/etcd/utils.go
  protokube/pkg/gossip/dns/hosts.go
  upup/pkg/fi/cloudup/awsup/status.go
  upup/pkg/fi/cloudup/azure/status.go
  upup/pkg/fi/cloudup/do/cloud.go
  upup/pkg/fi/cloudup/gce/status.go
  upup/pkg/fi/cloudup/openstack/status.go
  upup/pkg/fi/nodeup/nodetasks/update_etc_hosts_task.go
Due: none

Prepare for split control plane IGs.
  channels/pkg/cmd/apply_channel.go
  channels/pkg/nodelabeler/labeler.go
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/create_instancegroup.go
  hack/verify-ig-role-comparisons.sh
  pkg/apis/kops/instancegroup.go
  pkg/model/components/channels/model.go
  pkg/model/gcemodel/context.go
  pkg/model/iam/subject.go
  pkg/nodelabels/builder.go
  pkg/nodelabels/builder_test.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Due: none

make gen-cli-docs
  docs/cli/kops_rolling-update_cluster.md
  docs/cli/kops_update_cluster.md
Due: none

Fixed direct role equality check.
  pkg/apis/kops/validation/instancegroup.go
  pkg/nodelabels/builder_test.go
  pkg/validation/validate_cluster.go
Due: none

Factored in feedback.
  pkg/apis/kops/instancegroup.go
  pkg/apis/nodeup/config.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/spotinst.go
  pkg/model/bootstrapscript.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/context.go
  pkg/nodelabels/builder.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
Due: none

protokube: stop passing cloud tokens to control-plane nodes
  nodeup/pkg/bootstrap/install.go
  pkg/model/resources/nodeup.go
Due: none

Align kops scalability configuration with kube-up for scheduler QPS/BURST
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Align kops scalability configuration with kube-up for CCM concurrentNodeSyncs
  pkg/apis/kops/componentconfig.go
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

iam: narrow AWS instance-role permissions to actual consumers
  pkg/model/iam/iam_builder.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/iam/tests/iam_builder_node_kuberouter.json
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

test: hack/update-expected
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/external_dns_irsa/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/karpenter/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-kindnet/data/aws_iam_role_policy_masters.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-kindnet/data/aws_iam_role_policy_nodes.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal_hetzner/data/hcloud_server_master-fsn1_user_data
  tests/integration/update_cluster/minimal_scaleway/data/scaleway_instance_server_control-plane-fr-par-1-0_user_data
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_iam_role_policy_masters.nthimdsprocessor.longclustername.example.com_policy
  tests/integration/update_cluster/privatekindnet/data/aws_iam_role_policy_masters.privatekindnet.example.com_policy
  tests/integration/update_cluster/privatekindnet/data/aws_iam_role_policy_nodes.privatekindnet.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_policy_masters.minimal.example.com_policy
Due: pull-kops-verify-terraform

release-notes: document instance permission changes
  docs/releases/1.37-NOTES.md
Due: none

release-notes: suggest how to restore the removed credentials
  docs/releases/1.37-NOTES.md
Due: none

Fixing labels based on latest agreement.
  pkg/nodelabels/builder.go
  upup/pkg/fi/cloudup/template_functions.go
Due: none

iam: narrow remaining unconditional AWS describe permissions
  pkg/apis/kops/cluster.go
  pkg/model/iam/iam_builder.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/iam/tests/iam_builder_bastion.json
  pkg/model/iam/tests/iam_builder_node_describe_instance_types.json
  pkg/model/iam/tests/iam_builder_node_kuberouter.json
  pkg/model/iam/tests/iam_builder_node_strict_ecr.json
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

tests: derive the expected integration test files from the test data
  cmd/kops/integration_test.go
  tests/integration/update_cluster/karpenter/data/aws_sqs_queue_minimal-example-com-nth_policy
  tests/integration/update_cluster/many-addons/data/aws_sqs_queue_minimal-example-com-nth_policy
Due: pull-kops-verify-terraform

fix: only treat known ready conditions as health signals
  pkg/applylib/applyset/health.go
  pkg/applylib/applyset/health_test.go
Due: none

refactor(resources): use DNS topology for discovery
  pkg/resources/aws/aws.go
  pkg/resources/clusterinfo.go
  pkg/resources/clusterinfo_test.go
  pkg/resources/digitalocean/resources.go
  pkg/resources/gce/gce.go
  pkg/resources/openstack/dns.go
  pkg/resources/openstack/openstack.go
  pkg/resources/scaleway/resources.go
Due: none

refactor(dns): isolate legacy gossip validation
  pkg/apis/kops/cluster.go
  pkg/apis/kops/validation/validation.go
  pkg/dns/gossip.go
  pkg/dns/gossip_test.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
  upup/pkg/fi/cloudup/new_cluster.go
Due: none

fix(hooks): remove protokube service calls
  hooks/nvidia-device-plugin/image/files/02-nvidia-docker.sh
Due: none

docs: remove stale gossip guidance
  docs/examples/kops-tests-private-net-bastion-host.md
Due: none

fix: honour kind-specific readiness conditions
  pkg/applylib/applyset/health.go
  pkg/applylib/applyset/health_test.go
Due: none

aws: download nodeup from private S3 buckets with curl
  Makefile
  docs/operations/asset-repository.md
  docs/releases/1.37-NOTES.md
  hack/dev-build-aws.sh
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/assets/assetcopy/copyfile.go
  pkg/assets/assetcopy/copyfile_test.go
  pkg/assets/builder.go
  pkg/assets/builder_test.go
  pkg/commands/toolbox_enroll.go
  pkg/model/bootstrapscript.go
  pkg/model/resources/nodeup.go
  pkg/model/resources/nodeup_test.go
  tests/e2e/kubetest2-kops/aws/s3.go
  tests/e2e/kubetest2-kops/aws/s3_test.go
  tests/e2e/kubetest2-kops/builder/build.go
  tests/e2e/kubetest2-kops/builder/build_test.go
  tests/e2e/kubetest2-kops/deployer/build.go
  tests/e2e/kubetest2-kops/deployer/build_test.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/common_test.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/down.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/lib/upgrade.sh
  upup/pkg/fi/assetstore.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
  upup/pkg/fi/http.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

test(e2e): keep the s3:// base URL for AWS staged artifacts
  tests/e2e/go.mod
  tests/e2e/kubetest2-kops/builder/build.go
  tests/e2e/kubetest2-kops/builder/build_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

assets: drop the redundant RawPath reset in remapURL
  pkg/assets/builder.go
Due: none

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
