Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

Remove gpu-helm-charts Helm repository
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Enable DCGM exporter in GPU Operator with ServiceMonitor
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

fixup! Enable DCGM exporter in GPU Operator with ServiceMonitor Signed-off-by: Arnaud Meukam <ameukam@gmail.com>
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Remove standalone DCGM exporter installation
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Update DCGM verification for gpu-operator namespace
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Add comprehensive GPU Operator debugging output
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Add addons node to scalability tests
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/deployer/build.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/scalability/pre-test.sh
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

tests/ai-conformance: Enable Cluster AutoScaler and Metrics Server
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Fix node bootstrap challenge response hashing
  pkg/bootstrap/challenge_server.go
Due: none

test: Skip dumping not found nodes for GCE
  pkg/resources/gce/dump.go
Due: none

Fix DumpManagedInstance for nil instanceDetails
  pkg/resources/gce/dump.go
Due: none

Fix adding addon node
  tests/e2e/scenarios/scalability/pre-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

fix: ecloud version
  go.mod
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Due: none

allow pods to reach metric ports running on control plane nodes when using gce alias ip
  pkg/model/gcemodel/firewall.go
  pkg/wellknownports/wellknownports.go
Due: none

fix: minor
  upup/pkg/fi/cloudup/elementotasks/servergroup.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Due: none

[aiconformance] Add test for gang scheduling with kueue
  tests/e2e/scenarios/ai-conformance/validators/harness.go
  tests/e2e/scenarios/ai-conformance/validators/kube.go
  tests/e2e/scenarios/ai-conformance/validators/markdown.go
  tests/e2e/scenarios/ai-conformance/validators/output.go
  tests/e2e/scenarios/ai-conformance/validators/scheduling-orchestration/gangscheduling_test.go
  tests/e2e/scenarios/ai-conformance/validators/scheduling-orchestration/testdata/gangscheduling/gangscheduling-kueue.yaml
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Move Prometheus to addon nodes in GCE
  tests/e2e/scenarios/scalability/pre-test.sh
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: dump per-test kube objects into artifacts
  tests/e2e/scenarios/ai-conformance/validators/kube.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance] Add tests for security / isolation
  tests/e2e/scenarios/ai-conformance/run-test.sh
  tests/e2e/scenarios/ai-conformance/validators/accelerators/dra_support/dra_cuda_test.go
  tests/e2e/scenarios/ai-conformance/validators/kube.go
  tests/e2e/scenarios/ai-conformance/validators/output.go
  tests/e2e/scenarios/ai-conformance/validators/security/secure_accelerator_access/secure_accelerator_access_test.go
  tests/e2e/scenarios/ai-conformance/validators/security/secure_accelerator_access/testdata/accelerator-isolation.yaml
  tests/e2e/scenarios/ai-conformance/validators/security/secure_accelerator_access/testdata/accelerator-not-requested.yaml
  tests/e2e/scenarios/ai-conformance/validators/security/secure_accelerator_access/testdata/accelerator-requested.yaml
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: Install kuberay from helm
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: wait for cert-manager to be ready before proceeding
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: also dump pod logs
  tests/e2e/scenarios/ai-conformance/validators/kube.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: Add robust_controller test using KubeRay
  tests/e2e/scenarios/ai-conformance/validators/operator/robust_controller/robust_controller_test.go
  tests/e2e/scenarios/ai-conformance/validators/operator/robust_controller/testdata/rayjob-sample.yaml
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: increase timeout for gang scheduling test
  tests/e2e/scenarios/ai-conformance/validators/scheduling-orchestration/gangscheduling_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance] Validate networking/ai_inference requirements
  tests/e2e/scenarios/ai-conformance/run-test.sh
  tests/e2e/scenarios/ai-conformance/validators/markdown.go
  tests/e2e/scenarios/ai-conformance/validators/networking/ai_inference/ai_inference_test.go
  tests/e2e/scenarios/ai-conformance/validators/networking/ai_inference/testdata/header-based-routing.yaml
  tests/e2e/scenarios/ai-conformance/validators/networking/ai_inference/testdata/weighted-traffic-splitting.yaml
  tests/e2e/scenarios/ai-conformance/validators/output.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: wait for HTTPRoute
  tests/e2e/scenarios/ai-conformance/validators/kube.go
  tests/e2e/scenarios/ai-conformance/validators/kubeobject.go
  tests/e2e/scenarios/ai-conformance/validators/networking/ai_inference/ai_inference_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: dump resources we apply
  tests/e2e/scenarios/ai-conformance/validators/harness.go
  tests/e2e/scenarios/ai-conformance/validators/kube.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: use helm to install kueue
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build
