Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-karpenter:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-canal:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      imagePullPolicy: Always
  ...

Add toolbox command to generate ClusterAPI objects
  clusterapi/pkg/builders/machinedeploymentbuilder.go
  clusterapi/pkg/builders/utils.go
  docs/cli/kops_toolbox_clusterapi.md
  docs/cli/kops_toolbox_clusterapi_generate.md
  docs/cli/kops_toolbox_clusterapi_generate_machinedeployment.md
  pkg/commands/toolbox/clusterapi.go
  pkg/commands/toolbox/clusterapi/generate.go
  pkg/commands/toolbox/clusterapi/generate_machinedeployment.go
Due: none

Remove unused kubelet flag --pod-infra-container-image
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/containerd.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/containerdconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/containerd.go
  pkg/model/components/kubelet.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-kuberouter

run scale tests on kops
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

chore: bump kOps version in tests
  cmd/kops/integration_test.go
  cmd/kops/lifecycle_integration_test.go
  pkg/resources/aws/vpc_test.go
Due: none

HACK: bypass version check
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none

More cluster-api support
  clusterapi/README.md
  clusterapi/config/crds/bootstrap.cluster.x-k8s.io_kopsconfigs.yaml
  clusterapi/config/crds/bootstrap.cluster.x-k8s.io_kopsconfigtemplates.yaml
  clusterapi/config/crds/controlplane.cluster.x-k8s.io_kopscontrolplanes.yaml
  clusterapi/config/crds/controlplane.cluster.x-k8s.io_kopscontrolplanetemplates.yaml
  clusterapi/controllers/cluster_controller.go
  clusterapi/controllers/instancegroup_controller.go
  clusterapi/controllers/kopsconfig_controller.go
  clusterapi/controllers/kopscontrolplane_controller.go
  clusterapi/controllers/utils.go
  clusterapi/controlplane/kops/api/v1beta1/kopscontrolplane_types.go
  clusterapi/controlplane/kops/api/v1beta1/kopscontrolplanetemplate_types.go
  clusterapi/controlplane/kops/api/v1beta1/zz_generated.deepcopy.go
  clusterapi/examples/capi-loopback.yaml
  clusterapi/examples/kopscontroller.yaml
  clusterapi/examples/machinedeployment-direct.yaml
  clusterapi/examples/manifest.yaml
  clusterapi/main.go
  clusterapi/manifests/cluster-api-provider-gcp/kustomization.yaml
  clusterapi/manifests/cluster-api/kustomization.yaml
  clusterapi/manifests/cluster-api/patches/set_feature_gates.yaml
  clusterapi/manifests/cluster-api/patches/set_manager_image.yaml
  cmd/kops-controller/controllers/gceipam.go
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/config/options.go
  cmd/kops-controller/pkg/server/node_config.go
  cmd/kops-controller/pkg/server/server.go
  k8s/kustomization.yaml
  pkg/bootstrap/authenticate.go
  pkg/nodeidentity/clusterapi/machines.go
  pkg/nodeidentity/clusterapi/manager.go
  pkg/nodeidentity/gce/identify.go
  tests/e2e/scenarios/clusterapi/run-test.sh
  upup/pkg/fi/cloudup/gce/tpm/gcetpmverifier/tpmverifier.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/nodeup/command.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

tests: set gcloud project in scripts
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/scenarios/lib/common.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

validation: add information when pod is not ready
  pkg/validation/validate_cluster.go
Due: none

WIP: debug
  tests/e2e/scenarios/clusterapi/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

clusterapi: move machinedeployment generation to a toolbox command
  clusterapi/README.md
  clusterapi/examples/machinedeployment-direct.yaml
  tests/e2e/scenarios/clusterapi/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

fix: use kopsbase.Version instead of kopsbase.KOPS_RELEASE_VERSION
  cmd/kops/create_cluster.go
  pkg/apis/kops/channel.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/template_functions.go
Due: none

Address review comments
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/validation/validation.go
Due: none

Update Karpenter to v1.8.1
  pkg/model/components/karpenter.go
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter

hack/update-expected.sh
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
Due: pull-kops-verify-terraform

aws: Add the option to set Karpenter feature gates
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter

hack/update-expected.sh
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/options.yaml
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  tests/integration/update_cluster/karpenter/in-v1alpha2.yaml
Due: pull-kops-verify-terraform

Use static capacity in the test scenario
  tests/e2e/scenarios/karpenter/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Initial support for Ubuntu 25.10 (Questing Quokka)
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/ubuntu2510/etc/os-release
Due: none

chore: remove old (unused) bazel libraries
  tools/gzip.bzl
  tools/hashes.bzl
Due: none

Drop the libltdl package
  nodeup/pkg/model/packages.go
Due: none

Drop the pigz package
  nodeup/pkg/model/packages.go
Due: none

Experiment with apt packages installation
  nodeup/pkg/model/ntp.go
  nodeup/pkg/model/packages.go
  tests/e2e/scenarios/karpenter/run-test.sh
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/update_packages.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

aws: Bypass the graceful OS shutdown process on cluster deletion
  pkg/resources/aws/aws.go
Due: none

test: Enforce max node to dump for unregistered nodes
  pkg/dump/dumper.go
Due: none

add KOPS_CL2_TEST_CONFIG to scalibility/run-test.sh
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Update scalability/run-test.sh to use custom TEST_CONFIG
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

test: Remove non-nitro instance types from the AWS scale test
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

aws: Enforce the graceful OS shutdown for Xen instances
  pkg/resources/aws/aws.go
Due: none

Prevent failing DNS requests on shutdown of CoreDNS pods
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons

chore: changed module repo from tesi-paolobeci to ecloud-go
  go.mod
  pkg/nodeidentity/elemento/identify.go
  upup/pkg/fi/cloudup/elemento/authenticator.go
  upup/pkg/fi/cloudup/elemento/cloud.go
  upup/pkg/fi/cloudup/elemento/verifier.go
  upup/pkg/fi/cloudup/elementotasks/network.go
  upup/pkg/fi/cloudup/elementotasks/servergroup.go
  upup/pkg/fi/cloudup/elementotasks/sshkey.go
  upup/pkg/fi/executor.go
Due: none

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
