Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

gce cloudmock: minimal IAM support
  cloudmock/gce/mockiam/serviceaccounts.go
Due: none

gce: Use per-role serviceaccounts
  pkg/model/gcemodel/service_accounts.go
Due: none

Deletion of custom roles takes 7 days, cna't use it
  cloudmock/gce/mockiam/BUILD.bazel
  pkg/model/gcemodel/service_accounts.go
  upup/pkg/fi/cloudup/gcetasks/BUILD.bazel
  upup/pkg/fi/cloudup/gcetasks/iamrole.go
Due: none

Cleanups post merge
  upup/pkg/fi/cloudup/gce/gce_cloud.go
Due: none

gce: use serviceaccounts per role
  pkg/model/gcemodel/storageacl.go
  upup/pkg/fi/cloudup/gce/gce_cloud.go
Due: none

gce: serviceaccounts rely on KopsControllerStateStore feature flag
  hack/dev-build-gce.sh
Due: none

gce: Add iamrole task
  cloudmock/gce/mockiam/api.go
  cloudmock/gce/mockiam/roles.go
  upup/pkg/fi/cloudup/gcetasks/iamrole.go
  upup/pkg/fi/cloudup/gcetasks/iamrole_fitask.go
  upup/pkg/fi/cloudup/gcetasks/iamrole_test.go
Due: none

cleanups
  cloudmock/gce/mock_gce_cloud.go
  pkg/model/gcemodel/service_accounts.go
  pkg/model/gcemodel/storageacl.go
Due: none

Rename ServiceAccount to DefaultServiceAccount
  cloudmock/gce/mock_gce_cloud.go
  pkg/acls/gce/storage.go
  upup/pkg/fi/cloudup/gce/gce_cloud.go
Due: none

mock roles deleted
  cloudmock/gce/mockiam/roles.go
Due: none

gce: create ServiceAccount task
  upup/pkg/fi/cloudup/gcetasks/serviceaccount.go
Due: none

WIP: deletion cleanup
  pkg/resources/gce/gce.go
Due: none

Add documentation on karpenter
  docs/addons.md
  docs/operations/karpenter.md
  docs/releases/1.24-NOTES.md
  mkdocs.yml
Due: none

external CCM for GCE
  pkg/model/components/gcpcloudcontrollermanager.go
  upup/models/cloudup/resources/addons/gcp-cloud-controller.addons.k8s.io/k8s-1.23.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Due: none

generated: ./hack/update-bazel.sh
  pkg/model/components/BUILD.bazel
  upup/models/BUILD.bazel
Due: none

Migrate to GCE CCM in k8s 1.24
  cmd/kops/integration_test.go
  pkg/model/components/gcpcloudcontrollermanager.go
  pkg/model/components/kubecontrollermanager.go
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  upup/models/cloudup/resources/addons/leader-migration.rbac.addons.k8s.io/k8s-1.23.yaml
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

addons: support for kopeio-networking addon
  channels/alpha
  channels/packages/operator.coredns.addons.x-k8s.io/0.1.0-kops.1/manifest.yaml
  channels/packages/operator.networking.addons.kope.io/0.1.0-kops.1/manifest.yaml
  cmd/kops/BUILD.bazel
  cmd/kops/create.go
  cmd/kops/create_cluster.go
  pkg/apis/kops/channel.go
  pkg/apis/kops/util/versions.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/kubemanifest/manifest.go
  pkg/wellknownoperators/BUILD.bazel
  pkg/wellknownoperators/operators.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: none

Add support for addons to filter based on kOps/k8s versions
  pkg/apis/kops/BUILD.bazel
  pkg/apis/kops/channel.go
  pkg/apis/kops/util/versions.go
  pkg/wellknownoperators/operators.go
Due: none

Bump Cluster Autoscaler and update manifest
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Migrate to GCE CCM in k8s 1.24
  cmd/kops/integration_test.go
  pkg/model/components/gcpcloudcontrollermanager.go
  pkg/model/components/kubecontrollermanager.go
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  upup/models/cloudup/resources/addons/leader-migration.rbac.addons.k8s.io/k8s-1.23.yaml
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Support attribute based instance type selection for karpenter
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave

Use instance requirements to get a wider set of instance types by default
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave
