Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

pull-kops-e2e-cni-amazonvpc:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-calico:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-canal:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-cilium:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-flannel:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-kuberouter:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-weave:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

pull-kops-verify-terraform:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-terraform
      securityContext:
        privileged: true

Allow cluster autoscaler to get EC2 instance types
  pkg/model/components/addonmanifests/clusterautoscaler/iam.go
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_cluster-autoscaler.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_iam_role_policy_cluster-autoscaler.kube-system.sa.minimal.example.com_policy
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Use a pointer type in type assertion
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/tests/gsfs_test.go
Due: none

Allow cluster autoscaler to get EC2 instance types
  pkg/model/components/addonmanifests/clusterautoscaler/BUILD.bazel
  pkg/model/components/addonmanifests/clusterautoscaler/iam.go
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_cluster-autoscaler.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_iam_role_policy_cluster-autoscaler.kube-system.sa.minimal.example.com_policy
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Shell out to ssh-keygen for creating ed25519 keys
  tests/e2e/go.mod
  tests/e2e/pkg/util/pki.go
Due: none

Update control plane toleration for external-dns
  tests/integration/update_cluster/external_dns/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns/data/aws_s3_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add relnote about breaking change with custom DHCP opts
  docs/releases/1.23-NOTES.md
Due: none

Pin AWS CCM image tag for k8s 1.25
  pkg/model/components/awscloudcontrollermanager.go
Due: none

fix pod annotations in addon yamls
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

fix pod annotations in addon yamls
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Skip SCTP tests in k8s 1.25 as well
  tests/e2e/pkg/tester/skip_regex.go
Due: none

Trim GCE Subnet and Disk names
  pkg/model/gcemodel/context.go
  pkg/model/master_volumes.go
Due: none

Update codegen to v1.24.0-rc.0
  Makefile
Due: none

Run "make apimachinery"
  pkg/client/clientset_generated/clientset/clientset.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/fake/fake_cluster.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/fake/fake_instancegroup.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/fake/fake_keyset.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/fake/fake_sshcredential.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/kops_client.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha2/fake/fake_cluster.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha2/fake/fake_instancegroup.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha2/fake/fake_keyset.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha2/fake/fake_sshcredential.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha2/kops_client.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha3/fake/fake_cluster.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha3/fake/fake_instancegroup.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha3/fake/fake_keyset.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha3/fake/fake_sshcredential.go
  pkg/client/clientset_generated/clientset/typed/kops/v1alpha3/kops_client.go
  pkg/client/clientset_generated/internalclientset/clientset.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/fake/fake_cluster.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/fake/fake_instancegroup.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/fake/fake_keyset.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/fake/fake_sshcredential.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/kops_client.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha2/fake/fake_cluster.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha2/fake/fake_instancegroup.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha2/fake/fake_keyset.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha2/fake/fake_sshcredential.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha2/kops_client.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha3/fake/fake_cluster.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha3/fake/fake_instancegroup.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha3/fake/fake_keyset.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha3/fake/fake_sshcredential.go
  pkg/client/clientset_generated/internalclientset/typed/kops/v1alpha3/kops_client.go
Due: none

Update tests/e2e/go.mod to v1.24.0-rc.0
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: none

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/
