Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-e2e-k8s-containerd, pull-kops-verify-hashes, pull-kops-verify-terraform

pull-kops-e2e-cni-amazonvpc:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-calico:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-canal:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-cilium:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-flannel:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-kuberouter:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-weave:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-k8s-containerd:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201021-a62ce8a-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

feat(spot/addon): bump ocean-controller to 1.0.70
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: none

Add zones for DO
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/do/zones.go
Due: none

Update k8s versions with January releases
  channels/alpha
Due: none

Bump recommended kOps 1.19 version to beta.3
  channels/alpha
Due: none

Give kubetest2 its own makefile
  Makefile
  tests/e2e/e2e.mk
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: none

Use Bazel 3.4.1 for postsubmit jobs
  cloudbuild.yaml
Due: none

Update tests/e2e/kubetest2-kops/do/zones.go
  tests/e2e/kubetest2-kops/do/zones.go
Due: none

Allow nodeup (and others) to replace in-use files
  upup/pkg/fi/files.go
Due: none

Dial-down logging on flagbuilder
  pkg/flagbuilder/build_flags.go
Due: none

Fix default make target
  Makefile
Due: none

containerd: Support for kubenet-style networking modes
  cmd/kops/create_cluster.go
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/networking/BUILD.bazel
  nodeup/pkg/model/networking/kopeio.go
  pkg/apis/kops/validation/validation.go
  pkg/model/components/containerd.go
  pkg/model/components/context.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
  pkg/model/components/networking.go
  upup/pkg/fi/nodeup/command.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium, pull-kops-e2e-k8s-containerd, pull-kops-verify-hashes

containerd: Add /etc/crictl config to enable crictl
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Due: pull-kops-e2e-k8s-containerd, pull-kops-verify-hashes

Update integration test for gp3 with etcd volumes
  tests/integration/update_cluster/minimal-gp3/cloudformation.json
  tests/integration/update_cluster/minimal-gp3/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Due: pull-kops-verify-terraform

Add CF integration test for gp3 volumes
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal-gp3/cloudformation.json
  tests/integration/update_cluster/minimal-gp3/cloudformation.json.extracted.yaml
Due: pull-kops-verify-terraform

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-k8s-containerd: any of: ^nodeup\/pkg\/
  pull-kops-verify-hashes: any of: ^nodeup\/pkg\/
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
