Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-gce-cni-calico:
  optional: true
  labels:
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    serviceAccountName: k8s-kops-test
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

Pull CNI plugins from GitHub
  hack/generate-asset-hashes.sh
  pkg/nodemodel/wellknownassets/cni.go
  pkg/nodemodel/wellknownassets/cni_test.go
Due: none

hack/generate-asset-hashes.sh
  pkg/assets/assetdata/cni-1.6.yaml
  pkg/assets/assetdata/cni-legacy-0.9.yaml
  pkg/assets/assetdata/cni-legacy-1.2.yaml
  pkg/assets/assetdata/cni-legacy-1.3.yaml
  pkg/assets/assetdata/cni-legacy-1.4.yaml
  pkg/assets/assetdata/cni-legacy-1.5.yaml
  pkg/assets/assetdata/cni-legacy-1.6.yaml
  pkg/assets/assetdata/containerd-1.7.yaml
  pkg/assets/assetdata/containerd-2.1.yaml
  pkg/assets/assetdata/k8s-1.31.yaml
  pkg/assets/assetdata/k8s-1.32.yaml
  pkg/assets/assetdata/k8s-1.33.yaml
  pkg/assets/assetdata/k8s-1.34.yaml
  pkg/assets/assetdata/k8s-1.35.yaml
  pkg/assets/assetdata/runc-1.3.yaml
  pkg/assets/assetdata/runc-1.4.yaml
Due: none

Add ability to pull user defined images in the warm pool
  docs/instance_groups.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/nodemodel/nodeupconfigbuilder.go
Due: none

rework the markers to make kops markers behave the same as kubernetes markers
  Makefile
  cloudbuild.yaml
  hack/set-version
  kops-version.go
  tests/e2e/kubetest2-kops/builder/build.go
  tests/e2e/pkg/kops/download.go
  tools/get_version.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Normalize the hardcoded images used for warmpool pre-pulling
  pkg/nodemodel/nodeupconfigbuilder.go
Due: none

Extract image normalizing into separate function
  pkg/assets/builder.go
Due: none

remove unnecessary error from function signature
  pkg/assets/builder.go
  pkg/assets/builder_test.go
  pkg/kubemanifest/images.go
  pkg/model/components/context.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubelet.go
Due: none

scaleway: Fix failing terraform test
  tests/integration/update_cluster/minimal_scaleway/kubernetes.tf
  upup/pkg/fi/cloudup/scalewaytasks/lb_backend.go
Due: pull-kops-verify-terraform

Add --control-plane-volume-type flag to kops create cluster
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  pkg/apis/kops/validation/instancegroup.go
  tests/integration/create_cluster/volume_type/expected-v1alpha2.yaml
  tests/integration/create_cluster/volume_type/options.yaml
Due: none

kube-router: bump version v2.5.0 -> 2.7.1
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-kuberouter

chore: Add asset hashes for February 2026 releases
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/containerd-2.2.yaml
  pkg/assets/assetdata/k8s-1.32.yaml
  pkg/assets/assetdata/k8s-1.33.yaml
  pkg/assets/assetdata/k8s-1.34.yaml
  pkg/assets/assetdata/k8s-1.35.yaml
  pkg/assets/assetdata/runc-1.2.yaml
Due: none

chore: Add asset hashes for February 2026 releases
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/containerd-2.0.yaml
  pkg/assets/assetdata/containerd-2.2.yaml
  pkg/assets/assetdata/k8s-1.32.yaml
  pkg/assets/assetdata/k8s-1.33.yaml
  pkg/assets/assetdata/k8s-1.34.yaml
  pkg/assets/assetdata/k8s-1.35.yaml
  pkg/assets/assetdata/runc-1.2.yaml
Due: none

chore: Add asset hashes for February 2026 releases
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/containerd-2.0.yaml
  pkg/assets/assetdata/containerd-2.2.yaml
  pkg/assets/assetdata/k8s-1.29.yaml
  pkg/assets/assetdata/k8s-1.30.yaml
  pkg/assets/assetdata/k8s-1.32.yaml
  pkg/assets/assetdata/k8s-1.33.yaml
  pkg/assets/assetdata/k8s-1.34.yaml
  pkg/assets/assetdata/k8s-1.35.yaml
  pkg/assets/assetdata/runc-1.2.yaml
Due: none

Remove reference to unbound variable
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Enable huge-service tests to run on AWS
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

drop storage.googleapis.com/k8s-artifacts-cni as a mirror
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/cni-0.9.yaml
  pkg/assets/assetdata/cni-1.2.yaml
  pkg/assets/assetdata/cni-1.3.yaml
  pkg/assets/assetdata/cni-1.4.yaml
  pkg/assets/assetdata/cni-1.5.yaml
  pkg/assets/assetdata/cni-1.6.yaml
  pkg/assets/assetdata/cni-legacy-1.4.yaml
  pkg/assets/assetdata/cni-legacy-1.6.yaml
  pkg/assets/mirrors.go
Due: none

drop cdn.dl.k8s.io as a mirror
  pkg/assets/mirrors.go
Due: none

drop storage.googleapis.com/k8s-artifacts-cni as a mirror
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/cni-0.9.yaml
  pkg/assets/assetdata/cni-1.2.yaml
  pkg/assets/assetdata/cni-1.3.yaml
  pkg/assets/assetdata/cni-1.4.yaml
  pkg/assets/assetdata/cni-1.5.yaml
  pkg/assets/assetdata/cni-1.6.yaml
  pkg/assets/assetdata/cni-legacy-0.9.yaml
  pkg/assets/assetdata/cni-legacy-1.2.yaml
  pkg/assets/assetdata/cni-legacy-1.3.yaml
  pkg/assets/assetdata/cni-legacy-1.4.yaml
  pkg/assets/assetdata/cni-legacy-1.5.yaml
  pkg/assets/assetdata/cni-legacy-1.6.yaml
  pkg/assets/mirrors.go
Due: none

tests/ai-conformance: fix syntax for enabling gatewayAPI with cilium
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

kubetest2-kops: don't panic if no zones for AWS
  tests/e2e/kubetest2-kops/deployer/common.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Set PATH to include kops binary in upgrade scenario
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

kubetest2-kops - Set KOPS env var for --test=exec subprocesses
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/karpenter/test.sh
  tests/e2e/scenarios/keypair-rotation/test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
