Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

./hack/update-expected.sh
  tests/integration/update_cluster/minimal-dns-none/kubernetes.tf
Due: pull-kops-verify-terraform

fix: use HTTPS instead of TLS for kops-controller NLB health check protocol
  tests/integration/update_cluster/minimal-dns-none/kubernetes.tf
Due: pull-kops-verify-terraform

fix: use HTTPS instead of TLS for kops-controller NLB health check protocol
  pkg/model/awsmodel/api_loadbalancer.go
Due: none

Apply suggestions from code review
  pkg/model/awsmodel/api_loadbalancer.go
Due: none

initial commit on the branch
  go.mod
  pkg/model/elementomodel/dns.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/elemento/cloud.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

chore: first lines of code to start integrating elemento's DNS in kops
  pkg/model/elementomodel/dns.go
  upup/pkg/fi/cloudup/elemento/cloud.go
  upup/pkg/fi/cloudup/elementotasks/dns_record.go
  upup/pkg/fi/cloudup/elementotasks/dns_record_fitask.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Due: none

overwrite KOPS_BASE_URL when we downloaded kops for PreTestCmd
  tests/e2e/kubetest2-kops/deployer/up.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

linode: add Linode (Akamai) cloud provider implementation packages
  pkg/model/linodemodel/OWNERS
  pkg/model/linodemodel/api_loadbalancer.go
  pkg/model/linodemodel/context.go
  pkg/model/linodemodel/instances.go
  pkg/model/linodemodel/sshkey.go
  pkg/model/linodemodel/sshkey_test.go
  pkg/resources/linode/OWNERS
  pkg/resources/linode/resources.go
  pkg/resources/linode/resources_test.go
  upup/models/cloudup/resources/addons/linode-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/linode-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/linode/api_target.go
  upup/pkg/fi/cloudup/linode/cloud.go
  upup/pkg/fi/cloudup/linode/cloud_test.go
  upup/pkg/fi/cloudup/linode/verifier.go
  upup/pkg/fi/cloudup/linodetasks/OWNERS
  upup/pkg/fi/cloudup/linodetasks/instance.go
  upup/pkg/fi/cloudup/linodetasks/instance_test.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_backends.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_test.go
  upup/pkg/fi/cloudup/linodetasks/sshkey.go
  upup/pkg/fi/cloudup/linodetasks/sshkey_test.go
  upup/pkg/fi/cloudup/linodetasks/volume.go
  upup/pkg/fi/cloudup/linodetasks/volume_test.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

feat(linode): add cloud controller and CSI driver addons
  upup/models/cloudup/resources/addons/linode-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/linode-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

feat(linode): add resource discovery and deletion support
  pkg/resources/clusterinfo.go
  pkg/resources/linode/OWNERS
  pkg/resources/linode/resources.go
  pkg/resources/linode/resources_test.go
Due: none

feat(linode): add cloud foundation and LoadBalancer task
  pkg/model/linodemodel/OWNERS
  pkg/model/linodemodel/api_loadbalancer.go
  pkg/model/linodemodel/context.go
  upup/pkg/fi/cloudup/linode/api_target.go
  upup/pkg/fi/cloudup/linode/cloud.go
  upup/pkg/fi/cloudup/linode/cloud_test.go
  upup/pkg/fi/cloudup/linode/verifier.go
  upup/pkg/fi/cloudup/linodetasks/OWNERS
  upup/pkg/fi/cloudup/linodetasks/loadbalancer.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_backends.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_test.go
Due: none

feat(linode): add instance, SSH key, and volume tasks with model builders
  pkg/model/linodemodel/instances.go
  pkg/model/linodemodel/sshkey.go
  pkg/model/linodemodel/sshkey_test.go
  upup/pkg/fi/cloudup/linodetasks/instance.go
  upup/pkg/fi/cloudup/linodetasks/instance_test.go
  upup/pkg/fi/cloudup/linodetasks/sshkey.go
  upup/pkg/fi/cloudup/linodetasks/sshkey_test.go
  upup/pkg/fi/cloudup/linodetasks/volume.go
  upup/pkg/fi/cloudup/linodetasks/volume_test.go
Due: none

feat(linode): add master volume and etcd manager support
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/master_volumes.go
  pkg/model/master_volumes_test.go
Due: none

feat(linode): wire cloud provider into core apply pipeline
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/utils.go
Due: none

feat(linode): add node bootstrap configuration
  pkg/nodemodel/nodeupconfigbuilder.go
Due: none

feat(linode): add resource collection support
  pkg/resources/ops/collector.go
Due: none

feat(linode): add DNS controller support
  dns-controller/cmd/dns-controller/main.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

refactor(linode): extract MockLinodeClient/MockLinodeCloud to remove test duplication
  upup/pkg/fi/cloudup/linode/cloud_test.go
  upup/pkg/fi/cloudup/linode/mock_linode_cloud.go
  upup/pkg/fi/cloudup/linodetasks/instance_test.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_test.go
  upup/pkg/fi/cloudup/linodetasks/sshkey_test.go
  upup/pkg/fi/cloudup/linodetasks/testing_helpers_test.go
  upup/pkg/fi/cloudup/linodetasks/volume_test.go
Due: none

refactor(linode): extract shared test helpers into testing_helpers_test.go
  upup/pkg/fi/cloudup/linodetasks/sshkey_test.go
  upup/pkg/fi/cloudup/linodetasks/testing_helpers_test.go
Due: none

feat(linode): add control plane component configuration
  pkg/model/context.go
Due: none

feat(linode): add DNS provider and controller support
  dnsprovider/pkg/dnsprovider/providers/linode/dns.go
  dnsprovider/pkg/dnsprovider/providers/linode/dns_test.go
  pkg/model/linodemodel/dns.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/pkg/fi/cloudup/linode/cloud.go
  upup/pkg/fi/cloudup/linodetasks/dnsrecord.go
  upup/pkg/fi/cloudup/utils_test.go
Due: none

Expose EnableNFTables in flannel config
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.25.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet

Upgrade flannel
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-networking.flannel-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.25.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-flannel, pull-kops-verify-terraform

Fix RequestTag key for LBC's Create actions
  pkg/model/iam/iam_builder.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

./hack/update-expected.sh
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/many-addons/data/aws_iam_role_policy_masters.many-addons.example.com_policy
Due: pull-kops-verify-terraform

Add AddTags statement
  pkg/model/iam/iam_builder.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

Use elbv2 tag condition for all elasticloadbalancing actions
  pkg/model/iam/iam_builder.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

modprobe nft_compat
  upup/pkg/fi/nodeup/command.go
Due: none

WIP force RHEL10 + EnableNFTables
  upup/pkg/fi/cloudup/new_cluster.go
Due: none

WIP: force ec2-user
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Run LBC E2E tests in parallel
  tests/e2e/scenarios/aws-lb-controller/test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Load additional modules for VPC CNI
  upup/pkg/fi/nodeup/command.go
Due: none

WIP - force rhel10
  tests/e2e/kubetest2-kops/deployer/up.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

chore: add `.tool-versions` to `.gitignore`
  .gitignore
Due: none

refactor(linode): run fitask generator and adopt proper fitask pattern
  upup/pkg/fi/cloudup/linodetasks/dnsrecord.go
  upup/pkg/fi/cloudup/linodetasks/dnsrecord_fitask.go
  upup/pkg/fi/cloudup/linodetasks/instance.go
  upup/pkg/fi/cloudup/linodetasks/instance_fitask.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_backends.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_fitask.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_test.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancerbackends_fitask.go
  upup/pkg/fi/cloudup/linodetasks/sshkey.go
  upup/pkg/fi/cloudup/linodetasks/sshkey_fitask.go
  upup/pkg/fi/cloudup/linodetasks/volume.go
  upup/pkg/fi/cloudup/linodetasks/volume_fitask.go
Due: none

feat(linode): add cloud foundation and LoadBalancer task
  pkg/model/linodemodel/OWNERS
  pkg/model/linodemodel/api_loadbalancer.go
  pkg/model/linodemodel/context.go
  upup/pkg/fi/cloudup/linode/api_target.go
  upup/pkg/fi/cloudup/linode/cloud.go
  upup/pkg/fi/cloudup/linode/cloud_test.go
  upup/pkg/fi/cloudup/linode/mock_linode_cloud.go
  upup/pkg/fi/cloudup/linode/verifier.go
  upup/pkg/fi/cloudup/linodetasks/OWNERS
  upup/pkg/fi/cloudup/linodetasks/loadbalancer.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_backends.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_fitask.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancer_test.go
  upup/pkg/fi/cloudup/linodetasks/loadbalancerbackends_fitask.go
Due: none

Setup CNI with nft when necessary
  nodeup/pkg/model/containerd.go
Due: none

update tests
  nodeup/pkg/model/containerd_test.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/nftables/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/nftables/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Due: none
