Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

add support for ed25519 keys
  pkg/pki/sshkey.go
  pkg/pki/sshkey_test.go
Due: none

Append policy config map arguments only if UsePolicyConfigmap is true (#13308)
  nodeup/pkg/model/kube_scheduler.go
Due: none

Cluster config update after kOps update
  docs/operations/updates_and_upgrades.md
Due: none

Use function to get cloud provider from cluster spec
  cmd/kops/create_cluster.go
  cmd/kops/create_instancegroup.go
  cmd/kops/get_cluster.go
  cmd/kops/toolbox_instance-selector.go
  cmd/kops/update_cluster.go
  nodeup/pkg/model/kubelet_test.go
  pkg/acls/gce/storage.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/model/features.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/nodeup/config.go
  pkg/cloudinstances/cloud_instance_group.go
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/settings.go
  pkg/model/bootstrapscript.go
  pkg/model/components/apiserver.go
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/awsebscsidriver.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/gcpcloudcontrollermanager.go
  pkg/model/components/gcppdcsidriver.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubedns.go
  pkg/model/components/kubelet.go
  pkg/model/components/openstack.go
  pkg/model/context.go
  pkg/model/iam/subject.go
  pkg/model/master_volumes.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/utils.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/prefix.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave

Add conversion tests for other cloud providers
  tests/integration/conversion/BUILD.bazel
  tests/integration/conversion/azure/v1alpha2.yaml
  tests/integration/conversion/azure/v1alpha3.yaml
  tests/integration/conversion/do/v1alpha2.yaml
  tests/integration/conversion/do/v1alpha3.yaml
  tests/integration/conversion/gce/v1alpha2.yaml
  tests/integration/conversion/gce/v1alpha3.yaml
  tests/integration/conversion/integration_test.go
  tests/integration/conversion/openstack/v1alpha2.yaml
  tests/integration/conversion/openstack/v1alpha3.yaml
Due: none

Cluster config update after kOps update (#13306)
  docs/operations/updates_and_upgrades.md
Due: none

Move Azure settings to cloudProvider.azure
  nodeup/pkg/model/cloudconfig.go
  nodeup/pkg/model/cloudconfig_test.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/azuremodel/context.go
  pkg/model/azuremodel/testing.go
  pkg/model/azuremodel/vmscaleset.go
  pkg/resources/azure/azure_test.go
  tests/integration/conversion/azure/v1alpha2.yaml
  tests/integration/conversion/azure/v1alpha3.yaml
  upup/pkg/fi/cloudup/azure/status_test.go
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/utils.go
Due: pull-kops-e2e-cni-amazonvpc

Fix capitalization to match Go conventions
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  tests/integration/conversion/azure/v1alpha3.yaml
Due: none

Update containerd to v1.6.1
  pkg/model/components/containerd.go
  upup/pkg/fi/cloudup/containerd.go
Due: pull-kops-verify-hashes

Run hack/update-expected.sh
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Run hack/update-expected.sh
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Use proper image and add health check
  tests/integration/update_cluster/irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_bucket_object_minimal.example.com-addons-eks-pod-identity-webhook.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Delete oidc providers that a certain test leaked
  pkg/resources/aws/aws.go
Due: none
