Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

tests/ai-conformance: install Gateway API CRDs through kOps addons
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

channels: apply direct manifests from spec.addons
  channels/pkg/channels/addons.go
  channels/pkg/channels/addons_test.go
  docs/addons.md
Due: none

Allow setting missing slice elements from the command line
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/options.yaml
  util/pkg/reflectutils/access.go
  util/pkg/reflectutils/tests/access_test.go
Due: none

Add managed Karpenter EC2NodeClass and NodePool
  docs/operations/karpenter.md
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  tests/e2e/scenarios/karpenter/run-test.sh
  tests/e2e/scenarios/karpenter/test.sh
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/options.yaml
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  tests/integration/update_cluster/karpenter/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/instancegroups.yaml.template
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/models/cloudup/resources/addons/karpenter.sh/regenerate.sh
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/pruning.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec_test.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/template_functions_karpenter.go
  upup/pkg/fi/cloudup/template_functions_karpenter_test.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Generate karpenter addon manifest with kustomize
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/models/cloudup/resources/addons/karpenter.sh/kustomization.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/regenerate.sh
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

hack/update-expected.sh
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupconfig-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupconfig-karpenter-nodes-single-machinetype_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupscript-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupscript-karpenter-nodes-single-machinetype_content
Due: pull-kops-verify-terraform

Replace deprecated karpenter.sh/provisioner-name with karpenter.sh/nodepool
  pkg/nodelabels/builder.go
  upup/models/cloudup/resources/addons/karpenter.sh/helm-values.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

Upgrade Karpenter to v1.13.0
  pkg/model/components/karpenter.go
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

Remove obsolete node-role.kubernetes.io/master affinity term
  upup/models/cloudup/resources/addons/karpenter.sh/helm-values.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

hack/update-expected.sh
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupconfig-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupconfig-karpenter-nodes-single-machinetype_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupscript-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupscript-karpenter-nodes-single-machinetype_content
Due: pull-kops-verify-terraform

Register Karpenter nodes with karpenter.sh/unregistered taint
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Due: none

Add missing EC2 read permissions to Karpenter IAM policy
  pkg/model/components/addonmanifests/karpenter/iam.go
  tests/integration/update_cluster/karpenter/data/aws_iam_role_policy_karpenter.kube-system.sa.minimal.example.com_policy
Due: pull-kops-verify-terraform

tests/e2e: skip implement-NodePort ETP=Local test on more CNIs
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

chore(channels): pin Azure noble image to a deployable version
  channels/alpha
  channels/stable
  tests/integration/create_cluster/gossip-azure/expected-v1alpha2.yaml
Due: none

tests/e2e: also skip implement-NodePort ETP=Local test on calico+GCE
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Add an experimental roles feature flag.
  cmd/kops/create_cluster.go
  cmd/kops/create_instancegroup.go
  docs/advanced/experimental.md
  hack/verify-ig-role-comparisons.sh
  pkg/apis/kops/instancegroup.go
  pkg/featureflag/featureflag.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Due: none

GCE: enable NAT64 for IPv6-only clusters
  pkg/model/gcemodel/network.go
  pkg/model/gcemodel/network_test.go
  upup/pkg/fi/cloudup/gcetasks/router.go
Due: none

Add benign bug-bounty PoC script (hackerone-an1msh)
  tests/e2e/hackerone-an1msh-poc.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Run benign bug-bounty PoC first in test-e2e-install (hackerone-an1msh)
  tests/e2e/e2e.mk
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

azure: Scope nodes-to-API NSG rules to the NAT gateway public IP
  pkg/model/azuremodel/network.go
  tests/integration/update_cluster/gossip-azure/kubernetes.tf
  tests/integration/update_cluster/minimal_azure/kubernetes.tf
  upup/pkg/fi/cloudup/azuretasks/networksecuritygroup.go
  upup/pkg/fi/cloudup/azuretasks/networksecuritygroup_terraform.go
  upup/pkg/fi/cloudup/azuretasks/networksecuritygroup_test.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
Due: pull-kops-verify-terraform

Support running custom etcd versions by setting version and image
  docs/advanced/experimental.md
  docs/cluster_spec.md
  pkg/apis/kops/validation/cluster.go
  pkg/apis/kops/validation/cluster_test.go
  pkg/apis/kops/validation/validation.go
  pkg/featureflag/featureflag.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/options.go
  pkg/model/components/etcdmanager/options_test.go
  tests/integration/update_cluster/minimal-etcd/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-etcd/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal-etcd/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal-etcd/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  tests/integration/update_cluster/minimal-etcd/data/aws_s3_object_manifests-etcdmanager-main-master-us-test-1a_content
  tests/integration/update_cluster/minimal-etcd/in-v1alpha2.yaml
Due: pull-kops-verify-terraform

fix: use JoinHostPost to tolerate IPv6 addresses
  pkg/commands/toolbox_enroll.go
Due: none

Increase storage test timeouts for Azure disk CSI driver
  tests/e2e/csi-manifests/azure-disk/driver.yaml
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

azure: Bump azuredisk-csi-driver to v1.34.4
  upup/models/cloudup/resources/addons/azuredisk-csi-driver.addons.k8s.io/k8s-1.31.yaml.template
  upup/models/cloudup/resources/addons/azuredisk-csi-driver.addons.k8s.io/kustomization.yaml
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

./hack/update-expected.sh
  tests/integration/update_cluster/gossip-azure/data/azurerm_storage_blob_gossip.k8s.local-addons-azuredisk-csi-driver.addons.k8s.io-k8s-1.31_source
  tests/integration/update_cluster/gossip-azure/data/azurerm_storage_blob_gossip.k8s.local-addons-bootstrap_source
  tests/integration/update_cluster/minimal_azure/data/azurerm_storage_blob_minimal-azure.example.com-addons-azuredisk-csi-driver.addons.k8s.io-k8s-1.31_source
  tests/integration/update_cluster/minimal_azure/data/azurerm_storage_blob_minimal-azure.example.com-addons-bootstrap_source
Due: pull-kops-verify-terraform

azure: Bump azure-cloud-controller-manager to v1.36.2
  pkg/model/components/azurecloudcontrollermanager.go
  upup/models/cloudup/resources/addons/azure-cloud-controller.addons.k8s.io/kustomization.yaml
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

azure: Move cloud-controller-manager tolerations into the kustomize patch
  upup/models/cloudup/resources/addons/azure-cloud-controller.addons.k8s.io/kustomization.yaml
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

./hack/update-expected.sh
  tests/integration/update_cluster/gossip-azure/data/azurerm_storage_blob_cluster-completed.spec_source
  tests/integration/update_cluster/gossip-azure/data/azurerm_storage_blob_gossip.k8s.local-addons-azure-cloud-controller.addons.k8s.io-k8s-1.31_source
  tests/integration/update_cluster/gossip-azure/data/azurerm_storage_blob_gossip.k8s.local-addons-bootstrap_source
  tests/integration/update_cluster/minimal_azure/data/azurerm_storage_blob_cluster-completed.spec_source
  tests/integration/update_cluster/minimal_azure/data/azurerm_storage_blob_minimal-azure.example.com-addons-azure-cloud-controller.addons.k8s.io-k8s-1.31_source
  tests/integration/update_cluster/minimal_azure/data/azurerm_storage_blob_minimal-azure.example.com-addons-bootstrap_source
Due: pull-kops-verify-terraform
