Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

gce: Fix google_project_iam_binding member -> members
  pkg/truncate/truncate.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/projectiambinding.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Refactor nodeup script to avoid action-at-a-distance
  pkg/model/BUILD.bazel
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/resources/BUILD.bazel
  pkg/model/resources/nodeup.go
  pkg/model/resources/nodeup_test.go
  pkg/model/resources/template_resource.go
Due: none

Use terraform literals in GCP service account references
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/instance.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

kops-controller: use controller-runtime manager
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/server/server.go
Due: none

Create helper functions for parsing public keys
  pkg/pki/BUILD.bazel
  pkg/pki/publickey.go
Due: none

componentconfig: expose advertise-address flag for kube-apiserver
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
Due: none

Do not allow docker on k8s 1.24+
  docs/releases/1.24-NOTES.md
  pkg/apis/kops/validation/validation.go
Due: none

Ignore images hosted in private ECR repositories as containerd cannot actually pull these
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none

Skip RuntimeClass tests for older Kubernetes versions
  tests/e2e/pkg/tester/skip_regex.go
Due: none

Bump karpenter to 0.5.3 and RBN support
  pkg/apis/nodeup/config.go
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add kubetest2-kops flags for overriding instance group fields
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
Due: none

Support creating dualstack internal NLBs
  pkg/model/awsmodel/api_loadbalancer.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Due: none

Use kubelet --non-masquerade-cidr only for Docker with kubenet
  nodeup/pkg/model/docker.go
  pkg/apis/kops/validation/legacy.go
  pkg/model/components/kubelet.go
Due: none
