Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

pull-kops-e2e-cni-amazonvpc:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-calico:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-canal:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-cilium:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-flannel:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-kuberouter:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-weave:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

pull-kops-verify-terraform:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210402-0a23031-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-terraform
      securityContext:
        privileged: true

Add shell completion for `--target`
  cmd/kops/create_cluster.go
  cmd/kops/update_cluster.go
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none

Add irsa support for nth
  pkg/model/components/addonmanifests/BUILD.bazel
  pkg/model/components/addonmanifests/nodeterminationhandler/BUILD.bazel
  pkg/model/components/addonmanifests/nodeterminationhandler/iam.go
  pkg/model/components/addonmanifests/remap.go
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/nth_sqs_resources/cloudformation.json
  tests/integration/update_cluster/nth_sqs_resources/data/aws_iam_role_policy_masters.nthsqsresources.example.com_policy
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_bucket_object_nthsqsresources.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_bucket_object_nthsqsresources.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/BUILD.bazel
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Set vpc-id on aws lbc
  pkg/testutils/integrationtestharness.go
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.9.yaml.template
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Remove redundant call to addSnapshotPermissions
  pkg/model/iam/iam_builder.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium

Remove addons that no longer works
  addons/monitoring-standalone/README.md
  addons/monitoring-standalone/addon.yaml
  addons/monitoring-standalone/v1.1.0.yaml
  addons/monitoring-standalone/v1.11.0.yaml
  addons/monitoring-standalone/v1.2.0.yaml
  addons/monitoring-standalone/v1.3.0.yaml
  addons/monitoring-standalone/v1.6.0.yaml
  addons/monitoring-standalone/v1.7.0.yaml
  addons/route53-mapper/README.md
  addons/route53-mapper/addon.yml
  addons/route53-mapper/v1.2.0.yml
  addons/route53-mapper/v1.3.0.yml
Due: none

Implement completion for "kops get"
  cmd/kops/get.go
  cmd/kops/get_assets.go
  cmd/kops/get_cluster.go
  cmd/kops/get_instancegroups.go
  cmd/kops/get_instances.go
  cmd/kops/get_keypairs.go
  cmd/kops/get_secrets.go
  docs/cli/kops_get.md
  docs/cli/kops_get_assets.md
  docs/cli/kops_get_clusters.md
  docs/cli/kops_get_instancegroups.md
  docs/cli/kops_get_instances.md
  docs/cli/kops_get_keypairs.md
  docs/cli/kops_get_secrets.md
Due: none

Implement completion for "kops get assets"
  cmd/kops/get_assets.go
  docs/cli/kops_get_assets.md
Due: none

Implement completion for "kops get clusters"
  cmd/kops/delete_cluster.go
  cmd/kops/edit_cluster.go
  cmd/kops/export_kubeconfig.go
  cmd/kops/get.go
  cmd/kops/get_assets.go
  cmd/kops/get_cluster.go
  cmd/kops/rollingupdate_cluster.go
  cmd/kops/root.go
  cmd/kops/toolbox_dump.go
  cmd/kops/toolbox_template.go
  cmd/kops/update_cluster.go
  cmd/kops/upgrade_cluster.go
  cmd/kops/validate_cluster.go
  docs/cli/kops_get_clusters.md
  pkg/commands/commandutils/BUILD.bazel
  pkg/commands/commandutils/cluster.go
Due: none

Fix whitespace to be consistent in file
  tests/e2e/scenarios/lib/common.sh
Due: none

Assert the correct number of kubeconfig CAs during keypair rotation
  tests/e2e/scenarios/keypair-rotation/run-test.sh
Due: none

Upgrade mkdocs dependencies
  images/mkdocs/requirements.txt
  mkdocs.yml
Due: none

keypair rotation - export new credentials between promote and distruts
  tests/e2e/scenarios/keypair-rotation/run-test.sh
Due: none

Use kubeconfig for authentication and authorization as well
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-controller-manager.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-scheduler.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-arm64.yaml
Due: none

Apply suggestions from code review
  cmd/kops/get.go
  cmd/kops/get_assets.go
  docs/cli/kops_get_assets.md
Due: none

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/
