Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

Do not precreate dns record for api lbs
  upup/pkg/fi/cloudup/dns.go
  upup/pkg/fi/cloudup/dns_test.go
Due: none

Make AWS CCM NodeIPFamilies configurable
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/cloudconfig.go
  nodeup/pkg/model/cloudconfig_test.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/cloudconfiguration.go
Due: none

Allow AWS LBC to attach certificates
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/many-addons/data/aws_iam_role_policy_masters.minimal.example.com_policy
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Largely ignore the value of hostnameOverride
  nodeup/pkg/model/context.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium

Bump aws ebs csi driver to 1.2.1
  pkg/model/components/awsebscsidriver.go
  tests/e2e/scenarios/aws-ebs-csi/run-test.sh
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_master-us-test-1a.masters.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Update Bazel to v4.2.1
  .bazelversion
  WORKSPACE
  hack/go.mod
  hack/go.sum
Due: none

Default to latest staging image for AWS CCM
  pkg/model/components/awscloudcontrollermanager.go
Due: none

Bump snapshot-controller to 4.2.1
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  upup/models/cloudup/resources/addons/snapshot-controller.addons.k8s.io/k8s-1.20.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Install nvidia container runtime
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/containerd_test.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/nvidia.go
  pkg/model/components/defaults.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/http.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/aptsource.go
  upup/pkg/fi/nodeup/nodetasks/update_packages.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium

Add nvidia configuration to the api
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/apis/nodeup/config.go
Due: none

Add validation rules for nvidia
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Due: none

Don't allow IGs with both GPU and non-GPU types
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Due: none

Install nvidia device driver addon
  cmd/kops/integration_test.go
  tests/integration/update_cluster/nvidia/cloudformation.json
  tests/integration/update_cluster/nvidia/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/nvidia/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/nvidia/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/nvidia/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/nvidia/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/nvidia/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/nvidia/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/nvidia/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_kops-version.txt_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_manifests-etcdmanager-events_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_manifests-etcdmanager-main_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-core.addons.k8s.io_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-nvidia.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/nvidia/id_rsa.pub
  tests/integration/update_cluster/nvidia/in-v1alpha2.yaml
  tests/integration/update_cluster/nvidia/kubernetes.tf
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/nvidia.addons.k8s.io/k8s-1.16.yaml
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add labels and taints to gpu nodes
  tests/integration/update_cluster/nvidia/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/nvidia/kubernetes.tf
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Move nvidia config under containerd
  cmd/kops/integration_test.go
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/context.go
  nodeup/pkg/model/nvidia.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/apis/nodeup/config.go
  pkg/model/components/containerd.go
  pkg/model/components/defaults.go
  tests/integration/update_cluster/nvidia/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/nvidia/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/nvidia/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/nodeup/command.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add docs on gpu
  docs/gpu.md
  docs/releases/1.22-NOTES.md
Due: none

Upgrade hcl to 2.10.1
  go.mod
  go.sum
  tests/e2e/go.sum
  vendor/github.com/hashicorp/hcl/v2/CHANGELOG.md
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression_template.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/parser.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/spec.md
  vendor/github.com/hashicorp/hcl/v2/ops.go
  vendor/modules.txt
Due: none

Allow arbitrary length terraform literals
  upup/pkg/fi/cloudup/terraform/hcl2.go
  upup/pkg/fi/cloudup/terraform/hcl2_test.go
  upup/pkg/fi/cloudup/terraformWriter/literal.go
Due: none

Use sg rule ids and tags where possible
  cloudmock/aws/mockec2/api.go
  cloudmock/aws/mockec2/securitygroups.go
  pkg/model/awsmodel/firewall.go
  upup/pkg/fi/cloudup/awstasks/securitygroup.go
  upup/pkg/fi/cloudup/awstasks/securitygroup_test.go
  upup/pkg/fi/cloudup/awstasks/securitygrouprule.go
Due: none

Fix cluster spec typo in CCM integration tests
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa/in-v1alpha2.yaml
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm/in-v1alpha2.yaml
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation
