Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

e2e tests: dump ip information for each VM
  tests/e2e/scenarios/bare-metal/dump-artifacts
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

2024 scale dev
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

kubetest2-kops: add support for boskos-resource-type flag
  tests/e2e/kubetest2-kops/deployer/boskos.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/down.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

kubetest2-kops: automatically create buckets
  tests/e2e/go.mod
  tests/e2e/kubetest2-kops/aws/s3.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/down.go
  tests/e2e/kubetest2-kops/deployer/template.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

tests: run kops toolbox dump in bare-metal e2e
  tests/e2e/scenarios/bare-metal/dump-artifacts
  tests/e2e/scenarios/bare-metal/run-test
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

toolbox dump: support dumping only k8s resources
  cmd/kops/toolbox_dump.go
  docs/cli/kops_toolbox_dump.md
  tests/e2e/scenarios/bare-metal/dump-artifacts
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

metal: simple IPAM for IPv6
  cmd/kops-controller/controllers/gceipam.go
  cmd/kops-controller/controllers/metalipam.go
  cmd/kops-controller/main.go
  cmd/kops/toolbox_enroll.go
  docs/cli/kops_toolbox_enroll.md
  k8s/crds/kops.k8s.io_hosts.yaml
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/prefix.go
  pkg/apis/kops/v1alpha2/host.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/commands/toolbox_enroll.go
  pkg/kubeconfig/create_kubecfg.go
  tests/e2e/scenarios/bare-metal/scenario-ipv6
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

tests: add test for bare-metal with ipv6
  .github/workflows/e2e.yml
  tests/e2e/scenarios/bare-metal/cleanup
  tests/e2e/scenarios/bare-metal/scenario-ipv6
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

WIP: use node-ipam-controller
  tests/e2e/scenarios/bare-metal/node-ipam-controller.yaml
  tests/e2e/scenarios/bare-metal/scenario-ipv6
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

chore(channels): update alpha k8s and ubuntu ami versions
  channels/alpha
Due: none

add openstack support to external-dns
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

chore(upup): bump aws-cni to 1.18.6
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc

test: hack/update-expected
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Due: pull-kops-verify-terraform

feat(docs): add toggle for light/dark mode support
  mkdocs.yml
Due: none

chore(channels): promote alpha to stable
  channels/stable
Due: none

test: hack/update-expected
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex-private/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.28/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.29/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.30/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Due: none

refactor: build assets for kubernetes and nodeup explicitly
  clusterapi/bootstrap/controllers/kopsconfig_controller.go
  pkg/commands/toolbox_enroll.go
  pkg/nodemodel/fileassets.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none

Fix channels for K8s 1.26
  channels/alpha
  channels/stable
Due: none

Allocate more resources to cloudbuild
  cloudbuild.yaml
Due: none

refactor: create abstraction over cluster/instancegroup for building assets
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_proxy_test.go
  pkg/apis/kops/model/features.go
  pkg/apis/kops/model/instance_group.go
  pkg/apis/kops/model/kubernetes_version.go
  pkg/apis/kops/util/versions.go
  pkg/model/components/context.go
  pkg/nodemodel/fileassets.go
  pkg/nodemodel/nodeupconfigbuilder.go
  pkg/nodemodel/wellknownassets/cni.go
  pkg/nodemodel/wellknownassets/cni_test.go
  pkg/nodemodel/wellknownassets/containerd.go
  pkg/nodemodel/wellknownassets/crictl.go
  pkg/nodemodel/wellknownassets/crictl_test.go
  pkg/nodemodel/wellknownassets/nerdctl.go
  pkg/nodemodel/wellknownassets/runc.go
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

Add hashes for containerd 1.17.22
  pkg/assets/assetdata/containerd.yaml
Due: none

chore(channels): bump k8s and ubuntu jammy ami versions in alpha channel
  channels/alpha
Due: none

Recognize fedora 41 and debian 13
  upup/pkg/fi/nodeup/nodetasks/package.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
Due: none

Remove more unnecessary IMDS request logging
  dnsprovider/pkg/dnsprovider/providers/aws/route53/route53.go
Due: none

Use port 9811 for EBS CSI controller healthcheck
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

Revert 1.30 Cherrypick "correct hubble tls file names as mapped from secret hubble-server-certs"
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-verify-terraform

Automatically preserve kubelet supported version skew on worker nodes, while control plane is being updated
  cmd/kops/update_cluster.go
  pkg/apis/kops/model/instance_group.go
  pkg/assets/builder.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none
