Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

Enable AWS IAM Authenticator in complex integration test
  cmd/kops/integration_test.go
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-authentication.aws-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Upgrade complex integration test case to k8s 1.24
  cmd/kops/integration_test.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/complex/data/aws_iam_role_policy_masters.complex.example.com_policy
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_launch_template_nodes.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-authentication.aws-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/complex/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/complex/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Use control-plane node role for AWS IAM Authenticator
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave

Use Calico v3.23 for Kubernetes 1.22+
  cmd/kops/integration_test.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave

Run hack/update-expected.sh
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Remove non-functional scheduler annotations
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/authentication.kope.io/k8s-1.12.yaml
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/digitalocean-cloud-controller.addons.k8s.io/k8s-1.8.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.kope.io/k8s-1.12.yaml
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/k8s-1.13.yaml.template
Due: none

Upgrade complex integration test case to k8s 1.24
  cmd/kops/integration_test.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/complex/data/aws_iam_role_policy_masters.complex.example.com_policy
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_launch_template_nodes.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-authentication.aws-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/complex/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/complex/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Skip deregistering the instance during rolling update for Spotinst
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Due: none

Improve CI and release workflow
  .github/workflows/main.yml
Due: none

Remove 'bp' suffix from the release tag
  tools/get_version.sh
Due: none

Check PR with workflow
  .github/workflows/check-pr.yml
Due: none

Enable auto merge via workflow
  .github/workflows/check-pr.yml
Due: none

Run CI only on actual code changes
  .github/workflows/main.yml
Due: none

Use git clone for full checkout
  .github/workflows/main.yml
Due: none

Run builds when releasing
  .github/workflows/main.yml
Due: none

Remove windows build
  .github/workflows/main.yml
Due: none

Add option to set etcd-manager backup interval
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/etcdmanager/tests/interval/cluster.yaml
  pkg/model/components/etcdmanager/tests/interval/tasks.yaml
Due: none

Fix path of kops binaries in CI
  .github/workflows/main.yml
Due: none

Fix permissions for release CI job
  .github/workflows/main.yml
Due: none

Adding GCE SPOT support
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/gce.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/gcemodel/autoscalinggroup.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

bump alpha channel k8s releases
  channels/alpha
Due: none
