Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

Add integration test case for cilium hubble metrics
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/in-v1alpha2.yaml
Due: pull-kops-verify-terraform

Bump cloudbuild to go 1.22.5
  cloudbuild.yaml
  go.mod
Due: none

Add the hubble-metrics service for cilium
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

Add new API field for VPC CNI's network policy agent image
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
Due: none

Allow network policy agent image to be overridden
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc

Add integration test for VPC CNI image fields
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/in-v1alpha2.yaml
Due: pull-kops-verify-terraform

Allow additional network tags to be set for GCP instances
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/gcemodel/autoscalinggroup.go
  tests/integration/update_cluster/minimal_gce/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
Due: pull-kops-verify-terraform

Drop InTreePluginAWSUnregister feature gate for k8s 1.31 and above
  pkg/model/components/apiserver.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
  pkg/model/components/kubescheduler.go
Due: none

Replace deprecated flag with the suggested one.
  docs/run_in_existing_vpc.md
Due: none

Test 1.31 beta on AWS
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

test: Fix rendering of cloudConfig.gceServiceAccount
  tests/integration/update_cluster/ha_gce/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_ilb/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_longclustername/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_plb/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_private/in-v1alpha2.yaml
Due: pull-kops-verify-terraform

hack/update-expected.sh
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
Due: pull-kops-verify-terraform

Add some debug logging to options loader
  upup/pkg/fi/loader/options_loader.go
Due: none

WIP
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

potential fix
  pkg/model/components/apiserver.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
  pkg/model/components/kubescheduler.go
Due: none

Fix InTreePluginAWSUnregister feature gate removal in 1.31
  pkg/model/components/apiserver.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
  pkg/model/components/kubescheduler.go
Due: none

Add option for enabling GCE startup script
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/gcemodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/gcetasks/instance.go
Due: none

Add option for enabling GCE startup script tests
  cmd/kops/integration_test.go
  tests/integration/conversion/gce/v1alpha2.yaml
  tests/integration/conversion/gce/v1alpha3.yaml
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
Due: pull-kops-verify-terraform

refactor: support multiple podCIDRs in the node patch
  cmd/kops-controller/controllers/awsipam.go
  cmd/kops-controller/controllers/gceipam.go
Due: none

Update Service Account Issuer Migration doc
  docs/operations/service_account_issuer_migration.md
Due: none

Test 1.31 beta on AWS (#16701)
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

update controller v2, inform user on conflict with aws nodeTerminationHandler and Ocean
  pkg/model/awsmodel/spotinst.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons
