Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

Split oidc_provider
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/issuerdiscovery.go
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none

Rename serviceaccountissuerdiscovery struct
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Due: none

Move publicDataStore to serviceAccountIssuerDiscovery.discoveryStore
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/iam/subject.go
  pkg/model/issuerdiscovery.go
  tests/integration/update_cluster/aws-lb-controller/in-v1alpha2.yaml
  tests/integration/update_cluster/public-jwks/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/cluster.yaml
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add toggle for AWS OIDC provider. Free it from any feature flag
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/model/awsmodel/oidc_provider.go
  tests/integration/update_cluster/aws-lb-controller/in-v1alpha2.yaml
  tests/integration/update_cluster/public-jwks/in-v1alpha2.yaml
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Allow cert-manager to be provisioned externally
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: none

Use VFS as service account issuer if configured
  cmd/kops/integration_test.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/subject.go
  tests/integration/update_cluster/public-jwks-apiserver/README.md
  tests/integration/update_cluster/public-jwks-apiserver/ca.crt
  tests/integration/update_cluster/public-jwks-apiserver/ca.key
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_policy_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks-apiserver/id_rsa.pub
  tests/integration/update_cluster/public-jwks-apiserver/in-v1alpha2.yaml
  tests/integration/update_cluster/public-jwks-apiserver/kubernetes.tf
  tests/integration/update_cluster/vfs-said/README.md
  tests/integration/update_cluster/vfs-said/ca.crt
  tests/integration/update_cluster/vfs-said/ca.key
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_policy_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/vfs-said/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/vfs-said/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/vfs-said/id_rsa.pub
  tests/integration/update_cluster/vfs-said/in-v1alpha2.yaml
  tests/integration/update_cluster/vfs-said/kubernetes.tf
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Expose hubble agent when hubble is enabled
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Due: pull-kops-e2e-cni-cilium

skip detached nodes from readiness and system-*-critical checks
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Due: none

Mark control-plane node for update when etcd volume size changes
  pkg/model/bootstrapscript.go
  tests/integration/update_cluster/minimal-gp3/cloudformation.json
  tests/integration/update_cluster/minimal-gp3/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-gp3/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-gp3/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add support for IRSA in he api
  cmd/kops/integration_test.go
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/featureflag/featureflag.go
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/iam.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/iam_builder.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/iam/subject.go
  pkg/model/issuerdiscovery.go
  tests/integration/update_cluster/irsa/data/aws_iam_role_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_iam_role_myotherserviceaccount.myapp.sa.minimal.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_iam_role_myserviceaccount.default.sa.minimal.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_iam_role_policy_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_iam_role_policy_myotherserviceaccount.myapp.sa.minimal.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/irsa/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/irsa/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/irsa/id_rsa.pub
  tests/integration/update_cluster/irsa/in-v1alpha2.yaml
  tests/integration/update_cluster/irsa/kubernetes.tf
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add integration test for etcd
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal-etcd/cloudformation.json
  tests/integration/update_cluster/minimal-etcd/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-etcd/id_rsa.pub
  tests/integration/update_cluster/minimal-etcd/in-v1alpha2.yaml
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Mark control-plane node for update when etcd manager config changes
  pkg/model/bootstrapscript.go
  pkg/model/components/etcdmanager/options.go
  tests/integration/update_cluster/minimal-etcd/cloudformation.json.extracted.yaml
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Apply suggestions from code review
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/validation/validation.go
Due: none

Separate TerraformTarget.AddFile() into two receivers
  upup/pkg/fi/cloudup/awstasks/eventbridgerule.go
  upup/pkg/fi/cloudup/awstasks/iamrole.go
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/sqs.go
  upup/pkg/fi/cloudup/awstasks/sshkey.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  upup/pkg/fi/cloudup/terraform/target.go
Due: none

Adjust sorting of resources in hcl2
  tests/integration/update_cluster/aws-lb-controller/kubernetes.tf
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/irsa/kubernetes.tf
  tests/integration/update_cluster/lifecycle_phases/network-kubernetes.tf
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/nth_sqs_resources/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks-apiserver/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  tests/integration/update_cluster/vfs-said/kubernetes.tf
  upup/pkg/fi/cloudup/terraform/target.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation
