Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-gce-cni-calico:
  optional: true
  labels:
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    serviceAccountName: k8s-kops-test
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

chore(assetdata): drop bogus SHA512 entries from runc 1.5 hashes
  pkg/assets/assetdata/runc-1.5.yaml
Due: none

Add a cloud provider failure reporting capability
  pkg/cloudinstances/cloud_instance.go
  pkg/cloudinstances/reporting.go
Due: none

Implement failure reporting for AWS and GCE
  cloudmock/aws/mockautoscaling/api.go
  cloudmock/aws/mockautoscaling/scaling_activities.go
  cloudmock/gce/mock_gce_cloud.go
  cloudmock/gce/mockcompute/api.go
  cloudmock/gce/mockcompute/instance_group_manager.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/aws_cloud_test.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/gce/compute.go
  upup/pkg/fi/cloudup/gce/instancegroups.go
  upup/pkg/fi/cloudup/gce/instancegroups_test.go
  util/pkg/awsinterfaces/autoscaling.go
Due: none

Surface cloud provider failures during cluster validation
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Due: none

Report cloud provider failures when the API server is unreachable
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Due: none

Dump cloud instance group state during toolbox dump
  cmd/kops/toolbox_dump.go
  pkg/dump/cloudgroups.go
  pkg/dump/cloudgroups_test.go
Due: none

aws: health check the API target groups with HTTPS /readyz
  cloudmock/aws/mockelbv2/targetgroups.go
  docs/releases/1.38-NOTES.md
  pkg/model/awsmodel/api_loadbalancer.go
Due: none

kube-apiserver: replace the healthcheck sidecar with path-scoped anonymous auth
  Makefile
  cloudbuild.yaml
  cmd/kube-apiserver-healthcheck/README.md
  cmd/kube-apiserver-healthcheck/main.go
  cmd/kube-apiserver-healthcheck/proxy_test.go
  docs/cluster_spec.md
  docs/contributing/ports.md
  docs/releases/1.38-NOTES.md
  hack/set-version
  hack/update-expected.sh
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_apiserver_authentication.go
  nodeup/pkg/model/kube_apiserver_authentication_test.go
  nodeup/pkg/model/kube_apiserver_healthcheck.go
  pkg/assets/builder.go
  pkg/model/components/apiserver.go
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/model_test.go
  pkg/model/components/kubeapiserver/tests/minimal/cluster.yaml
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  pkg/nodemodel/nodeupconfigbuilder.go
  pkg/wellknownusers/wellknownusers.go
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none

gce: use HTTPS /readyz health checks and a backend service for the public API LB
  cloudmock/gce/mockcompute/backend_services.go
  cloudmock/gce/mockcompute/health_checks.go
  cloudmock/gce/mockcompute/http_healthcheck.go
  cloudmock/gce/mockcompute/instance_group_manager.go
  cloudmock/gce/mockcompute/target_pool.go
  docs/releases/1.38-NOTES.md
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/context.go
  pkg/wellknownports/wellknownports.go
  upup/pkg/fi/cloudup/gce/compute.go
  upup/pkg/fi/cloudup/gce/utils.go
  upup/pkg/fi/cloudup/gcetasks/api_loadbalancer_migration_test.go
  upup/pkg/fi/cloudup/gcetasks/backend_service.go
  upup/pkg/fi/cloudup/gcetasks/forwardingrule.go
  upup/pkg/fi/cloudup/gcetasks/healthcheck.go
  upup/pkg/fi/cloudup/gcetasks/httphealthcheck.go
  upup/pkg/fi/cloudup/gcetasks/httphealthcheck_fitask.go
  upup/pkg/fi/cloudup/gcetasks/httphealthcheck_test.go
  upup/pkg/fi/cloudup/gcetasks/instancegroupmanager.go
  upup/pkg/fi/cloudup/gcetasks/poolhealthcheck.go
  upup/pkg/fi/cloudup/gcetasks/poolhealthcheck_fitask.go
  upup/pkg/fi/cloudup/gcetasks/targetpool.go
Due: none

aws: keep the TCP health check for API servers that only accept TLS 1.3
  docs/releases/1.38-NOTES.md
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/api_loadbalancer_test.go
Due: none

kube-apiserver: reserve the path of the generated authentication config
  docs/cluster_spec.md
  nodeup/pkg/model/kube_apiserver_authentication.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/wellknownpaths/wellknownpaths.go
Due: none

hack/update-expected.sh
  nodeup/pkg/model/tests/golden/audit/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/awsiam/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/dedicated-apiserver/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/envvars/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/oidc/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-arm64.yaml
  nodeup/pkg/model/tests/golden/without-etcd-events/tasks-kube-apiserver.yaml
Due: none

gce: patch backend service backends together with health checks
  upup/pkg/fi/cloudup/gcetasks/api_loadbalancer_migration_test.go
  upup/pkg/fi/cloudup/gcetasks/backend_service.go
Due: none

api: reject OIDC claims that v1alpha2 cannot store
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/conversion_test.go
Due: none

Update kindnet to v1.0.2
  pkg/model/components/kindnet.go
  tests/integration/update_cluster/minimal-ipv6-kindnet/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-kindnet/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-kindnet/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.kindnet-k8s-1.32_content
  tests/integration/update_cluster/privatekindnet/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatekindnet/data/aws_s3_object_privatekindnet.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatekindnet/data/aws_s3_object_privatekindnet.example.com-addons-networking.kindnet-k8s-1.32_content
Due: pull-kops-verify-terraform

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

terraform: read shared VPC IPv6 CIDRs from associations
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/shared_vpc_ipv6/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/vpc.go
Due: pull-kops-verify-terraform

don't build kubetest2 when running as a periodic and switch to dl.k8s.io/ci
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/aws/zones_test.go
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Map v1alpha2 field paths in kops edit instancegroup --set/--unset
  pkg/apis/kops/fieldmap.go
  pkg/apis/kops/fieldmap_test.go
  pkg/commands/set_instancegroups.go
  pkg/commands/set_instancegroups_test.go
  pkg/commands/unset_instancegroups.go
  pkg/commands/unset_instancegroups_test.go
Due: none

fix(e2e): preserve scalability variant metadata
  tests/e2e/scenarios/scalability/run-test.sh
  tests/e2e/scenarios/scalability/run-test_test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

containerd: set override_path for registry mirrors with a path
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/complex/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/complex/tasks.yaml
Due: none

containerd: normalize mirror endpoints like containerd before checking the path
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/containerd_test.go
Due: none

set kube bastion and kops-version in metadata.json
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/pkg/tester/tester.go
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Move olemarkus to emeritus
  OWNERS
Due: none

feat(containerd): validate registry mirror endpoints
  docs/cluster_spec.md
  docs/releases/1.38-NOTES.md
  nodeup/pkg/model/containerd.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
Due: pull-kops-verify-terraform

./hack/update-expected.sh
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_master-us-test-1a.masters.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_nodes.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-nodes_content
Due: pull-kops-verify-terraform

Move zetaab to emeritus, keep as OpenStack reviewer
  OWNERS
  pkg/model/openstackmodel/OWNERS
  pkg/resources/openstack/OWNERS
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/OWNERS
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/OWNERS
  upup/pkg/fi/cloudup/openstack/OWNERS
  upup/pkg/fi/cloudup/openstacktasks/OWNERS
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

fix: reject partial Terraform updates
  cmd/kops/update_cluster.go
  cmd/kops/update_cluster_test.go
  docs/terraform.md
Due: none

terraform: don't hide errors in the shared VPC IPv6 lookup
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/shared_vpc_ipv6/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/vpc.go
Due: pull-kops-verify-terraform

fix(terraform): raise scaleway provider floor to 2.54.0
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Due: none

fix(terraform): raise google provider floor to 6.8.0
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Due: none

fix(terraform): raise aws provider floor to 6.57.1
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Due: none

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
