Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

test: make gomod
  tests/e2e/go.mod
  tests/e2e/go.sum
  vendor/github.com/linode/linodego/README.md
  vendor/modules.txt
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

gce: allow TCP metrics ports in GCE firewall
  pkg/model/gcemodel/firewall.go
  tests/integration/update_cluster/gossip-gce/kubernetes.tf
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/many-addons-gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_cilium_etcd/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb_apiserver/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
Due: pull-kops-verify-terraform

Default the Prometheus server env vars in the scalability scenario
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Install CNI plugins bundle for chained Cilium
  pkg/apis/kops/cluster.go
  pkg/apis/kops/cluster_test.go
Due: none

feat(linode): Refactor VPC model into broader Network model, and add subnet task
  pkg/model/linodemodel/network.go
  pkg/model/linodemodel/network_test.go
  pkg/model/linodemodel/vpc.go
  pkg/model/linodemodel/vpc_test.go
  pkg/resources/linode/resources.go
  pkg/resources/linode/resources_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/linode/cloud.go
  upup/pkg/fi/cloudup/linode/mock_linode_cloud.go
  upup/pkg/fi/cloudup/linodetasks/subnet.go
  upup/pkg/fi/cloudup/linodetasks/subnet_fitask.go
  upup/pkg/fi/cloudup/linodetasks/subnet_test.go
  upup/pkg/fi/cloudup/linodetasks/vpc.go
  upup/pkg/fi/cloudup/linodetasks/vpc_test.go
Due: none

docs: update 1.36 release notes
  docs/releases/1.36-NOTES.md
Due: none

fix: retry listing cloud resources in kops delete cluster
  cmd/kops/delete_cluster.go
Due: none

hack/promote-to-github.sh: parallelize transfers and verify checksums
  hack/promote-to-github.sh
Due: none

hack/validate-github-release.sh: validate GitHub release assets against artifacts.k8s.io
  hack/validate-github-release.sh
Due: none

hack: share release asset definitions between promote and validate scripts
  hack/promote-to-github.sh
  hack/release-assets.sh
  hack/validate-github-release.sh
Due: none

docs: update 1.36 release notes post-release
  docs/releases/1.36-NOTES.md
Due: none

nodeup: don't mutate the cluster spec when clearing authenticator config
  pkg/apis/nodeup/config.go
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-authentication.aws-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
Due: pull-kops-verify-terraform

deps: add armcontainerregistry
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/agentpools_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/cacherules_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/client_factory.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/credentialsets_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/interfaces.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/operations_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/polymorphic_helpers.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/privateendpointconnections_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/registries_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/replications_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/runs_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/scopemaps_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/taskruns_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/tasks_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/time_rfc3339.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/tokens_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/webhooks_client.go
  vendor/github.com/google/go-containerregistry/pkg/v1/static/layer.go
  vendor/modules.txt
Due: none

azure: add assets.managed API field
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/apis/nodeup/config.go
  pkg/assets/builder.go
  pkg/assets/builder_test.go
  pkg/model/components/assets.go
  pkg/model/components/assets_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Due: none

azure: create and clean up a per-cluster container registry for assets
  pkg/model/azuremodel/containerregistry.go
  pkg/model/azuremodel/context.go
  pkg/model/azuremodel/vmscaleset.go
  pkg/resources/azure/azure.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/containerregistry.go
  upup/pkg/fi/cloudup/azure/roleassignment.go
  upup/pkg/fi/cloudup/azuretasks/containerregistry.go
  upup/pkg/fi/cloudup/azuretasks/containerregistry_fitask.go
  upup/pkg/fi/cloudup/azuretasks/containerregistry_terraform.go
  upup/pkg/fi/cloudup/azuretasks/containerregistry_test.go
  upup/pkg/fi/cloudup/azuretasks/registryassets.go
  upup/pkg/fi/cloudup/azuretasks/registryassets_fitask.go
  upup/pkg/fi/cloudup/azuretasks/registryassets_test.go
  upup/pkg/fi/cloudup/azuretasks/roleassignment.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/addonmanifest.go
  upup/pkg/fi/topological_sort.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

assets: push file and image assets to an oci:// fileRepository
  cmd/kops/update_cluster.go
  pkg/assets/assetcopy/copy.go
  pkg/assets/assetcopy/copyimage.go
  pkg/assets/assetcopy/copyoci.go
  pkg/assets/assetdata/acr.yaml
Due: none

hack: enable assets.managed in the azure e2e jobs
  tests/e2e/kubetest2-kops/azure/zones.go
  tests/e2e/kubetest2-kops/deployer/up.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

azure: download assets from the OCI registry on nodes
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kubelet.go
  pkg/model/resources/nodeup.go
  pkg/model/resources/nodeup_test.go
  pkg/nodemodel/fileassets.go
  upup/pkg/fi/assetstore.go
  upup/pkg/fi/http.go
  upup/pkg/fi/nodeup/nodetasks/pull_image.go
  upup/pkg/fi/oci.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

docs: document oci:// fileRepository and assets.managed
  docs/cluster_spec.md
Due: none

azure: allow kindnet pod CIDR to reach the kube-apiserver
  pkg/model/azuremodel/network.go
  pkg/model/azuremodel/network_test.go
Due: none

tests/e2e: disable uksouth-3 in Azure e2e zone pool
  tests/e2e/kubetest2-kops/azure/zones.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

tests/e2e: skip attach-flaky azuredisk storage tests on Azure
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Provision SQS interruption queue for Karpenter
  cmd/kops/integration_test.go
  pkg/model/awsmodel/karpenter.go
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-Karpenter-InstanceScheduledChange_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-Karpenter-InstanceStateChange_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-Karpenter-RebalanceRecommendation_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-Karpenter-SpotInterruption_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_iam_role_policy_karpenter.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  tests/integration/update_cluster/karpenter/data/aws_sqs_queue_minimal-example-com-karpenter_policy
  tests/integration/update_cluster/karpenter/kubernetes.tf
  upup/models/cloudup/resources/addons/karpenter.sh/helm-values.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-verify-terraform

hack: fix gcloud storage buckets create command in dev-build-gce.sh
  hack/dev-build-gce.sh
Due: none

tests/e2e: replace gsutil with gcloud storage
  tests/e2e/kubetest2-kops/deployer/publish.go
  tests/e2e/kubetest2-kops/gce/gcs.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Makefile, hack: replace gsutil with gcloud storage
  Makefile
  hack/install-gcloud.sh
  hack/upload
Due: none

docs: replace gsutil with gcloud storage
  docs/contributing/release-process.md
  docs/getting_started/gce.md
  docs/opentelemetry.md
Due: none

Validate etcd version compatibility before allowing kOps downgrade
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/options.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/apply_cluster_test.go
Due: none

assets: push file assets to an oci:// fileRepository
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/assets/assetcopy/copy.go
  pkg/assets/assetcopy/copyoci.go
  pkg/assets/assetcopy/copyoci_test.go
  pkg/assets/builder.go
  pkg/assets/builder_test.go
Due: none

deps: vendor github.com/google/go-containerregistry/pkg/v1/static
  vendor/github.com/google/go-containerregistry/pkg/v1/static/layer.go
  vendor/modules.txt
Due: none

deps: vendor github.com/google/go-containerregistry/pkg/registry
  vendor/github.com/google/go-containerregistry/internal/httptest/httptest.go
  vendor/github.com/google/go-containerregistry/pkg/registry/README.md
  vendor/github.com/google/go-containerregistry/pkg/registry/blobs.go
  vendor/github.com/google/go-containerregistry/pkg/registry/blobs_disk.go
  vendor/github.com/google/go-containerregistry/pkg/registry/error.go
  vendor/github.com/google/go-containerregistry/pkg/registry/manifest.go
  vendor/github.com/google/go-containerregistry/pkg/registry/registry.go
  vendor/github.com/google/go-containerregistry/pkg/registry/tls.go
  vendor/modules.txt
Due: none
