Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

testing: Skip broken test that depends on expired credential
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Add more context to terraform fatal log
  upup/pkg/fi/cloudup/terraformWriter/writer.go
Due: none

Use ssm parameter for AMI ID in LBC scenario
  tests/e2e/scenarios/aws-lb-controller/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

autogen: update vendor
  vendor/k8s.io/apimachinery/pkg/api/apitesting/codec.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/fuzzer.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/valuefuzz.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/compatibility.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/construct.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/fuzz_norace.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/fuzz_race.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/roundtrip.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/unstructured.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/fuzzer/fuzzer.go
  vendor/modules.txt
Due: none

api: Add Host PodCIDRs (to all versions)
  pkg/apis/kops/host.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/host.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Due: none

autogen: generate apimachinery
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/host.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/fake/fake_host.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/fake/fake_kops_client.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/generated_expansion.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/host.go
  pkg/client/clientset_generated/clientset/typed/kops/internalversion/kops_client.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/fake/fake_host.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/fake/fake_kops_client.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/generated_expansion.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/host.go
  pkg/client/clientset_generated/internalclientset/typed/kops/internalversion/kops_client.go
Due: none

apimachinery: Enable round-trip tests now we have two versions in play
  pkg/apis/kops/install/roundtrip_test.go
Due: none

Add Host to internal API version
  pkg/apis/kops/host.go
  pkg/apis/kops/register.go
Due: none

tests: add test for APIs not in internal version
  pkg/apis/kops/install/install_test.go
Due: none

hack/generate-asset-hashes.sh
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/containerd-1.7.yaml
  pkg/assets/assetdata/containerd-2.0.yaml
  pkg/assets/assetdata/containerd-2.1.yaml
  pkg/assets/assetdata/k8s-1.29.yaml
  pkg/assets/assetdata/k8s-1.30.yaml
  pkg/assets/assetdata/k8s-1.31.yaml
  pkg/assets/assetdata/k8s-1.32.yaml
  pkg/assets/assetdata/k8s-1.33.yaml
  pkg/assets/assetdata/runc-1.2.yaml
  pkg/assets/assetdata/runc-1.3.yaml
Due: none

Update containerd to v1.7.28
  pkg/model/components/containerd.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-kuberouter

kubetest2-kops: use ephemeral discovery store for AWS
  tests/e2e/kubetest2-kops/aws/s3.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/down.go
  tests/e2e/kubetest2-kops/deployer/up.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Use official etcd images from registry.k8s.io
  pkg/model/components/etcdmanager/options.go
Due: none

metal: Update Debian image
  docs/metal.md
  tests/e2e/scenarios/bare-metal/start-vms
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Update saved image name
  docs/metal.md
Due: none

Update containerd to v2.1.4
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/containerd_test.go
  pkg/model/components/containerd.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-kuberouter

tests: Fix failing CNI tests
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

azure: Fix rolling-update error
  upup/pkg/fi/cloudup/utils.go
Due: none

Update etcd-manager to v3.0.20250803
  pkg/model/components/etcdmanager/model.go
Due: none

fix: compatibility with elemento lib
  upup/pkg/fi/cloudup/elemento/cloud.go
  upup/pkg/fi/cloudup/elementotasks/network.go
  upup/pkg/fi/cloudup/elementotasks/servergroup.go
  upup/pkg/fi/cloudup/elementotasks/sshkey.go
Due: none

Add support for using ECR as pull-through image cache
  docs/iam_roles.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/containerdconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/containerd-custom/data/aws_iam_role_policy_masters.containerd.example.com_policy
  tests/integration/update_cluster/containerd-custom/data/aws_iam_role_policy_nodes.containerd.example.com_policy
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_master-us-test-1a.masters.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_nodes.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  vendor/k8s.io/kubelet/config/v1/doc.go
  vendor/k8s.io/kubelet/config/v1/register.go
  vendor/k8s.io/kubelet/config/v1/types.go
  vendor/k8s.io/kubelet/config/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-verify-terraform
