Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-gce-cni-calico:
  optional: true
  labels:
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    serviceAccountName: k8s-kops-test
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

Use sleep instead of wait for large clusters
  tests/e2e/scenarios/scalability/pre-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

test/ai-conformance: Enable Cluster Autoscaler for GPU Nodes
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

docs: document optional leases etcd shard
  docs/cluster_spec.md
Due: none

Fix leases override format
  nodeup/pkg/model/kube_apiserver.go
  pkg/model/components/apiserver.go
Due: none

Add leasesEtcdDNSName variable
  nodeup/pkg/model/kube_apiserver.go
Due: none

ai-conformance: Enable Metrics Server
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Increase scalability tests log verbosity to 3
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Run Metrics Server in insecure mode
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: kueue queue-name should be a label
  tests/e2e/scenarios/ai-conformance/validators/scheduling-orchestration/testdata/gangscheduling/gangscheduling-kueue.yaml
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

fix: don't panic when dumping nodes if we didn't capture cloud resources
  pkg/dump/dumper.go
Due: none

[aiconformance]: Add accelerator metrics validator test
  tests/e2e/scenarios/ai-conformance/validators/observability/accelerator_metrics/accelerator_metrics_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Use protobuf
  cmd/kops/util/factory.go
Due: none

[aiconformance]: observability/ai_service_metrics
  tests/e2e/scenarios/ai-conformance/validators/harness.go
  tests/e2e/scenarios/ai-conformance/validators/kubeobject.go
  tests/e2e/scenarios/ai-conformance/validators/kubeobjects/client.go
  tests/e2e/scenarios/ai-conformance/validators/kubeobjects/service.go
  tests/e2e/scenarios/ai-conformance/validators/observability/accelerator_metrics/accelerator_metrics_test.go
  tests/e2e/scenarios/ai-conformance/validators/observability/accelerator_metrics/ai_service_metrics_test.go
  tests/e2e/scenarios/ai-conformance/validators/observability/accelerator_metrics/testdata/ai-service-metrics.yaml
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: Add K8s wrapper for DaemonSet object
  tests/e2e/scenarios/ai-conformance/validators/kubeobjects/daemonset.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: Add driver_runtime_management validator
  tests/e2e/scenarios/ai-conformance/validators/accelerators/driver_runtime_management/driver_runtime_management_test.go
  tests/e2e/scenarios/ai-conformance/validators/accelerators/driver_runtime_management/testdata/driver-check.yaml
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: unify output under tests/ directory
  tests/e2e/scenarios/ai-conformance/validators/kube.go
  tests/e2e/scenarios/ai-conformance/validators/markdown.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: render markdown to HTML
  tests/e2e/scenarios/ai-conformance/go.mod
  tests/e2e/scenarios/ai-conformance/go.sum
  tests/e2e/scenarios/ai-conformance/validators/markdown.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: better output of shell commands in markdown
  tests/e2e/scenarios/ai-conformance/validators/exec.go
  tests/e2e/scenarios/ai-conformance/validators/markdown.go
  tests/e2e/scenarios/ai-conformance/validators/output.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Align kops scalability configuration with kube-up
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Align kops scalability configuration with kube-up for scheduler QPS/BURST
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Align kops scalability configuration with kube-up for kube-apiserver deleteCollectionsWorkers and MaxRequestInflight
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Align kops scalability configuration with kube-up for CCM concurrentNodeSyncs
  pkg/apis/kops/componentconfig.go
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Align kops scalability configuration with kube-up for kubelet kubeAPIQPS
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: Write conformance report to file
  tests/e2e/scenarios/ai-conformance/conformance_test.go
  tests/e2e/scenarios/ai-conformance/go.mod
  tests/e2e/scenarios/ai-conformance/run-test.sh
  tests/e2e/scenarios/ai-conformance/tools/write-conformance-report/main.go
  tests/e2e/scenarios/ai-conformance/validators/accelerators/dra_support/apiversions_test.go
  tests/e2e/scenarios/ai-conformance/validators/accelerators/driver_runtime_management/driver_runtime_management_test.go
  tests/e2e/scenarios/ai-conformance/validators/conformance/report.go
  tests/e2e/scenarios/ai-conformance/validators/conformance/reporter.go
  tests/e2e/scenarios/ai-conformance/validators/harness.go
  tests/e2e/scenarios/ai-conformance/validators/networking/ai_inference/ai_inference_test.go
  tests/e2e/scenarios/ai-conformance/validators/observability/accelerator_metrics/accelerator_metrics_test.go
  tests/e2e/scenarios/ai-conformance/validators/observability/accelerator_metrics/ai_service_metrics_test.go
  tests/e2e/scenarios/ai-conformance/validators/operator/robust_controller/robust_controller_test.go
  tests/e2e/scenarios/ai-conformance/validators/output.go
  tests/e2e/scenarios/ai-conformance/validators/scheduling-orchestration/gangscheduling_test.go
  tests/e2e/scenarios/ai-conformance/validators/security/secure_accelerator_access/secure_accelerator_access_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: Unify how we write test artifacts
  tests/e2e/scenarios/ai-conformance/testartifacts/output.go
  tests/e2e/scenarios/ai-conformance/validators/conformance/reporter.go
  tests/e2e/scenarios/ai-conformance/validators/kube.go
  tests/e2e/scenarios/ai-conformance/validators/markdown.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Align kops scalability configuration with kube-up for kubeapisever CompactionInterval
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Also consider private subnets with an IPv6 CIDR range as already having a CIDR range associated
  upup/pkg/fi/cloudup/subnets.go
Due: none

[aiconformance]: expose vLLM metrics from prometheus
  tests/e2e/scenarios/ai-conformance/run-test.sh
  tests/e2e/scenarios/ai-conformance/validators/scheduling-orchestration/podautoscaling/podautoscaling_test.go
  tests/e2e/scenarios/ai-conformance/validators/scheduling-orchestration/podautoscaling/testdata/pod-autoscaling-workload.yaml
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[aiconformance]: lots more debugging in pod-autoscaling test
  tests/e2e/scenarios/ai-conformance/validators/markdown.go
  tests/e2e/scenarios/ai-conformance/validators/scheduling-orchestration/podautoscaling/podautoscaling_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
