Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

Remove mixedInstancesPolicy in update when it is removed from expected
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Due: none

Pre-pull cilium and kube-proxy in warming mode
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_proxy_test.go
  nodeup/pkg/model/networking/cilium.go
  nodeup/pkg/model/tests/golden/minimal/tasks-warmpool.yaml
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/pull_image.go
  upup/pkg/fi/nodeup/nodetasks/service.go
Due: pull-kops-e2e-cni-cilium

Make it possible to detect field changes when mixedInstancePolicy is removed
  upup/pkg/fi/dryrun_target.go
Due: none

Update rolling update documentation
  docs/operations/rolling-update.md
Due: none

Apply suggestions from code review
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/networking/cilium.go
  upup/pkg/fi/nodeup/nodetasks/pull_image.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium

[docs] Add a note for updating hashes when changing addon manifests
  docs/contributing/adding_a_feature.md
  docs/networking/cilium.md
Due: none

[cilium] Add support for choosing resources
  docs/networking/cilium.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/cilium.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Due: pull-kops-e2e-cni-cilium

Add install section to kubelet unit
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/tests/kubelet/featuregates/tasks.yaml
  nodeup/pkg/model/tests/kubelet/warmpool/tasks.yaml
Due: pull-kops-e2e-cni-amazonvpc

change permisisons & node selector
  pkg/model/iam/iam_builder.go
  upup/models/cloudup/resources/addons/node-termination-handler.aws/queue-processor-k8s-1.11.yaml.template
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium

integ tests
  cloudmock/aws/mockautoscaling/attach.go
  cloudmock/aws/mockautoscaling/group.go
  cmd/kops/BUILD.bazel
  cmd/kops/integration_test.go
  pkg/model/components/nodeterminationhandler.go
  pkg/model/names.go
  pkg/resources/aws/sqs.go
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/cloudformation.json
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_cloudwatch_event_rule_queueprocessor.example.com-ASGLifecycle_event_pattern
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_cloudwatch_event_rule_queueprocessor.example.com-RebalanceRecommendation_event_pattern
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_cloudwatch_event_rule_queueprocessor.example.com-SpotInterruption_event_pattern
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_iam_role_masters.queueprocessor.example.com_policy
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_iam_role_nodes.queueprocessor.example.com_policy
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_iam_role_policy_masters.queueprocessor.example.com_policy
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_iam_role_policy_nodes.queueprocessor.example.com_policy
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_key_pair_kubernetes.queueprocessor.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_launch_template_master-us-test-1a.masters.queueprocessor.example.com_user_data
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_launch_template_nodes.queueprocessor.example.com_user_data
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_sqs_queue_queueprocessor-example-com-nth_policy
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/id_rsa.pub
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/in-v1alpha2.yaml
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/kubernetes.tf
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
  upup/models/cloudup/resources/addons/node-termination-handler.aws/queue-processor-k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
  vendor/github.com/aws/aws-sdk-go/service/eventbridge/api.go
  vendor/github.com/aws/aws-sdk-go/service/eventbridge/eventbridgeiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/sqs/api.go
  vendor/modules.txt
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-terraform, pull-kops-verify-cloudformation

fix existing tests
  cloudmock/aws/mockautoscaling/attach.go
  cloudmock/aws/mockeventbridge/BUILD.bazel
  cloudmock/aws/mockeventbridge/api.go
  cloudmock/aws/mocksqs/BUILD.bazel
  cloudmock/aws/mocksqs/api.go
  pkg/model/awsmodel/BUILD.bazel
  pkg/resources/aws/BUILD.bazel
  pkg/testutils/BUILD.bazel
  pkg/testutils/integrationtestharness.go
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  vendor/github.com/aws/aws-sdk-go/service/eventbridge/BUILD.bazel
  vendor/github.com/aws/aws-sdk-go/service/eventbridge/eventbridgeiface/BUILD.bazel
  vendor/github.com/aws/aws-sdk-go/service/sqs/BUILD.bazel
  vendor/github.com/aws/aws-sdk-go/service/sqs/sqsiface/BUILD.bazel
Due: none

rebase & update tf output
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/kubernetes.tf
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

fix staticcheck
  cloudmock/aws/mockeventbridge/api.go
  cloudmock/aws/mocksqs/api.go
  pkg/model/awsmodel/nodeterminationhandler.go
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/cloudformation.json
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_cloudwatch_event_rule_queueprocessor.example.com-ASGLifecycle_event_pattern
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_cloudwatch_event_rule_queueprocessor.example.com-SpotInterruption_event_pattern
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/awstasks/sqs.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

update cloudformation test output
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/cloudformation.json
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_iam_role_policy_masters.queueprocessor.example.com_policy
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/data/aws_iam_role_policy_nodes.queueprocessor.example.com_policy
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

fix cloudformation verify
  tests/integration/update_cluster/nodeterminationhandler_sqs_resources/cloudformation.json
  upup/pkg/fi/cloudup/awstasks/eventbridgerule.go
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

run make verify
  cloudmock/aws/mockautoscaling/attach.go
  cloudmock/aws/mockeventbridge/api.go
  cloudmock/aws/mocksqs/api.go
  pkg/testutils/BUILD.bazel
  pkg/testutils/integrationtestharness.go
Due: none
