Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

Fix error reported by `captLocal` from gocritic
  pkg/nodeidentity/aws/identify.go
  pkg/nodeidentity/hetzner/identify.go
  pkg/nodeidentity/openstack/identify.go
  pkg/nodeidentity/scaleway/identify.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Due: none

Fix error reported by `deprecatedComment` from gocritic
  upup/pkg/fi/cloudup/gce/utils.go
Due: none

Fix error reported by `valSwap` from gocritic
  util/pkg/tables/format.go
Due: none

Fix error reported by `unlambda` from gocritic
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/resources/scaleway/resources.go
Due: none

make goimports executed Signed-off-by: Arnaud Meukam <ameukam@gmail.com>
  pkg/resources/scaleway/resources.go
Due: none

Ensure containerd starts after dbus
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/complex/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Due: none

Add release notes
  docs/releases/1.34-NOTES.md
Due: none

Add back some previous customizations
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter, pull-kops-verify-terraform

test: Install crictl for the gce-build presubmit
  tests/e2e/scenarios/build/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Add validation for enabling with node-termination-handler
  pkg/apis/kops/validation/validation.go
  pkg/model/components/nodeterminationhandler.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
Due: pull-kops-verify-terraform

stupid hack
  nodeup/pkg/model/crictl.go
Due: none

hack/update-expected.sh
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Due: pull-kops-verify-terraform

Update Cilium to v1.18.1
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/cilium.go
  upup/models/cloudup/resources/addons/networking.cilium.io/helm-values.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

TMP
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

TMP 2
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

hack/update-expected.sh
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Due: pull-kops-verify-terraform

azure: Use internal K8s API endpoint for cloud-node-manager
  upup/models/cloudup/resources/addons/azure-cloud-node.addons.k8s.io/k8s-1.31.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons

Enable more plugins for golangci-lint Signed-off-by: Arnaud Meukam <ameukam@gmail.com>
  .golangci.yaml
Due: none

Bump coredns to 1.12.4
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/coredns/coredns.addons.k8s.io-k8s-1.12.yaml
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons

fix: bugs
  .gitignore
  pkg/model/components/etcdmanager/model.go
  upup/pkg/fi/cloudup/elemento/cloud.go
Due: none

Bump k8s assets
  hack/generate-asset-hashes.sh
Due: none

./hack/generate-assets.sh executed
  pkg/assets/assetdata/k8s-1.31.yaml
  pkg/assets/assetdata/k8s-1.32.yaml
  pkg/assets/assetdata/k8s-1.33.yaml
  pkg/assets/assetdata/k8s-1.34.yaml
Due: none

azure: Add udev disk rules
  nodeup/pkg/model/azure.go
  nodeup/pkg/model/resources/80-azure-disk.rules
  upup/pkg/fi/nodeup/command.go
Due: none

azure: Update getting started docs
  docs/getting_started/azure.md
Due: none

Bump versions in netlify and mkdocs
  images/mkdocs/Dockerfile
  images/mkdocs/requirements.txt
  netlify.toml
Due: none

nodeup: Use embed for containerd license
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/resources/containerd-license.txt
  nodeup/pkg/model/resources/docker_healthcheck.go
  nodeup/pkg/model/resources/docker_license.go
  nodeup/pkg/model/tests/containerdbuilder/complex/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Due: none

fix: remove verify token between nodes for development purpose
  nodeup/pkg/model/bootstrap_client.go
  pkg/apis/kops/model/features.go
  pkg/bootstrap/pkibootstrap/pkisigner.go
  pkg/bootstrap/pkibootstrap/pkiverifier.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/elementomodel/servers.go
  upup/pkg/fi/cloudup/elemento/authenticator.go
  upup/pkg/fi/cloudup/elemento/cloud.go
  upup/pkg/fi/cloudup/elemento/verifier.go
  upup/pkg/fi/cloudup/elementotasks/servergroup.go
Due: none

Update etcd-manager to v3.0.20250917
  pkg/model/components/etcdmanager/model.go
Due: none

Update etcd to v3.6.4 for K8s 1.34+
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/options.go
Due: none

docs: migrate to control-plane nomenclature
  docs/operations/high_availability.md
Due: none

Update high_availability.md
  docs/operations/high_availability.md
Due: none

Update Karpenter to v1.7.1
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k129-ko129-to-k130-kolatest-karpenter

hack/update-expected.sh
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
Due: pull-kops-verify-terraform

Add support for cilium-etcd with dns=none
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/wellknownservices/wellknownservices.go
Due: none

Update Cilium to v1.18.2
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/cilium.go
  pkg/model/iam/iam_builder.go
  upup/models/cloudup/resources/addons/networking.cilium.io/helm-values.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-k130-ko130-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

hack/update-expected.sh
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_iam_role_policy_masters.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_iam_role_policy_masters.privateciliumadvanced.example.com_policy
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Due: pull-kops-verify-terraform
