Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-gce-cni-calico:
  optional: true
  labels:
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    serviceAccountName: k8s-kops-test
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

./hack/update-expected.sh
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Due: pull-kops-verify-terraform

Allow release of the discovery service
  Makefile
  cloudbuild.yaml
Due: none

Fix upgrades to CI k8s versions
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none

Continue skipping hostPort protocol test with Cilium
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Skip SupplementalGroupsPolicy in deb11 jobs
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Use a different systemd-networkd configuration for AL2023
  nodeup/pkg/model/networking/amazon-vpc-routed-eni.go
Due: none

kube-scheduler: Wait for the auth conf from the API server
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-scheduler.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-arm64.yaml
Due: none

bump openstack csi images
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

Pull cluster name from context when running fetching version
  cmd/kops/version.go
Due: none

Removed dead code in upup/pkg/fi/timestamp.go
  upup/pkg/fi/timestamp.go
Due: none

fix: add kops details to Hetzner Cloud client user agent
  pkg/nodeidentity/hetzner/identify.go
  protokube/pkg/protokube/hetzner_volume.go
  upup/pkg/fi/cloudup/hetzner/cloud.go
  upup/pkg/fi/cloudup/hetzner/verifier.go
Due: none

Delete more dead code
  upup/pkg/fi/utils/net.go
  upup/pkg/fi/utils/yaml.go
Due: none

truncate very long sqs queue names
  pkg/model/names.go
Due: none

Add HTTP/HTTPS toggle for etcd client connections
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/etcdcluster_helpers.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/apiserver.go
  pkg/model/components/etcdmanager/model.go
Due: none

Bump golang to 1.25.6
  cloudbuild.yaml
  go.mod
  hack/go.mod
  tests/e2e/go.mod
  tools/otel/traceserver/go.mod
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Disable cloud-init network hotplug on Ubuntu 24.04 for Cilium and Amazon VPC CNI
  nodeup/pkg/model/networking/amazon-vpc-routed-eni.go
  nodeup/pkg/model/networking/cilium.go
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

metal: support dns=none, use API server IP for kops-controller
  pkg/nodemodel/nodeupconfigbuilder.go
Due: none

fix aws scalability tests
  tests/e2e/kubetest2-kops/aws/s3.go
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

fix truncate long sqs
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal-longclustername/data/aws_cloudwatch_event_rule_this.is.truly.a.really.really.rea-cbmd7d-ASGLifecycle_event_pattern
  tests/integration/update_cluster/minimal-longclustername/data/aws_cloudwatch_event_rule_this.is.truly.a.really.really.rea-cbmd7d-InstanceScheduledChange_event_pattern
  tests/integration/update_cluster/minimal-longclustername/data/aws_cloudwatch_event_rule_this.is.truly.a.really.really.rea-cbmd7d-InstanceStateChange_event_pattern
  tests/integration/update_cluster/minimal-longclustername/data/aws_cloudwatch_event_rule_this.is.truly.a.really.really.rea-cbmd7d-SpotInterruption_event_pattern
  tests/integration/update_cluster/minimal-longclustername/data/aws_iam_role_masters.this.is.truly.a.really.really.really.really.reall-g6fsnu_policy
  tests/integration/update_cluster/minimal-longclustername/data/aws_iam_role_nodes.this.is.truly.a.really.really.really.really.really.-d86ibl_policy
  tests/integration/update_cluster/minimal-longclustername/data/aws_iam_role_policy_masters.this.is.truly.a.really.really.really.really.reall-g6fsnu_policy
  tests/integration/update_cluster/minimal-longclustername/data/aws_iam_role_policy_nodes.this.is.truly.a.really.really.really.really.really.-d86ibl_policy
  tests/integration/update_cluster/minimal-longclustername/data/aws_key_pair_kubernetes.this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/minimal-longclustername/data/aws_launch_template_master-us-test-1a.masters.this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-longclustername/data/aws_launch_template_nodes.this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_manifests-etcdmanager-main-master-us-test-1a_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_s3_object_this.is.truly.a.really.really.really.really.really.long.cluster-name.minimal.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/minimal-longclustername/data/aws_sqs_queue_this-is-truly-a-really-really-really-really-really-long-cluster-name-ueip1f-nth_policy
  tests/integration/update_cluster/minimal-longclustername/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-longclustername/kubernetes.tf
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-verify-terraform

fix broken podidentitywebhook job
  tests/e2e/kubetest2-kops/aws/s3.go
  tests/e2e/kubetest2-kops/deployer/build.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/gce/gcs.go
  tests/e2e/kubetest2-kops/gce/zones.go
  tests/e2e/scenarios/podidentitywebhook/run-test.sh
  tests/e2e/scenarios/podidentitywebhook/test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Add EtcdEventsHTTP feature flag for HTTP on events etcd
  docs/advanced/experimental.md
  pkg/featureflag/featureflag.go
  pkg/model/components/apiserver.go
  pkg/model/components/etcdmanager/model.go
Due: none

Consolidate env var utils
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/protokube.go
  util/pkg/env/proxy.go
  util/pkg/env/proxy_test.go
  util/pkg/env/standard.go
Due: none

Add tip to use gotestfail
  docs/contributing/testing.md
Due: none

Enable EtcdEventsHTTP in scalability tests
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Add diagnostic logging for feature flag parsing
  pkg/featureflag/featureflag.go
Due: none

Fix kubetest2-kops handling of comma-separated --env values
  tests/e2e/kubetest2-kops/deployer/common.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Add Scenario for AI conformance
  tests/e2e/scenarios/ai-conformance/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Remove year from copyright header boilerplate
  Makefile
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/update-header.sh
Due: none

fix: require zones for instancegroups with GCE
  cmd/kops/create_instancegroup.go
  cmd/kops/create_instancegroup_test.go
  cmd/kops/edit_instancegroup_test.go
  pkg/apis/kops/validation/gce.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/autoscalinggroup_test.go
  pkg/model/iam/iam_builder_test.go
  pkg/testutils/cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Due: none

test: fix failing test TestRunCreateInstanceGroup
  cmd/kops/create_instancegroup_test.go
  pkg/testutils/cluster.go
Due: none

test: update instancegroup tests
  cloudmock/gce/mockcompute/zone.go
  tests/integration/update_cluster/minimal_gce/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_dns-none/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
Due: pull-kops-verify-terraform

test: Use cloud project for new clusters
  cmd/kops/create_instancegroup_test.go
  docs/cli/kops_create_instancegroup.md
  pkg/testutils/cluster.go
  upup/pkg/fi/cloudup/gce/gce_cloud.go
Due: none

fix broken metrics server test
  tests/e2e/scenarios/metrics-server/run-test.sh
  tests/e2e/scenarios/metrics-server/test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Update Cilium to v1.18.6
  pkg/model/components/cilium.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

Read secrets from any namespace, not just kube-system
  upup/models/cloudup/resources/addons/networking.cilium.io/helm-values.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

Fix envoy config for GatewayAPI
  upup/models/cloudup/resources/addons/networking.cilium.io/helm-values.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

hack/update-expected.sh
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Due: pull-kops-verify-terraform

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
