Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/

Update Cilium to 1.11.6
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.11.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-terraform, pull-kops-verify-cloudformation

Refactor ClusterPrefixedName and ClusterSuffixedName to not return error
  pkg/model/gcemodel/context.go
  pkg/model/master_volumes.go
  pkg/resources/gce/gce.go
  upup/pkg/fi/cloudup/gce/utils.go
Due: none

Use csi-snapshotter for OS only when the controller is enabled
  docs/releases/1.25-NOTES.md
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Due: none

Wait longer after update in the e2e upgrade scenario
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Due: none

Mount /etc/hosts from host for CoreDNS
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
Due: none

Run hack/update-expected.sh
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Run hack/update-expected.sh
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_bucket_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_bucket_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_bucket_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_bucket_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Limit GCE names to 63 chars for various resources
  pkg/model/gcemodel/context.go
  upup/pkg/fi/cloudup/gce/gce_cloud.go
Due: none

Make IRSA webhook configure apps to use regional STS and set the default region on them
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-eks-pod-identity-webhook.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Make it possible to enable the shield addon for LBC
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/model/components/addonmanifests/awsloadbalancercontroller/iam.go
  pkg/model/iam/iam_builder.go
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.19.yaml.template
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium

Run hack/update-expected.sh
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Increase length of cluster name for GCE long cluster name integration test
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal_gce_longclustername/in-v1alpha2.yaml
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Add integration test for GCE cluster with internal LB and very long cluster name
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/in-v1alpha2.yaml
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation
