Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-gce-cni-calico:
  optional: true
  labels:
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    serviceAccountName: k8s-kops-test
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

Don't delete Karpenter NodePools when updating only some instance groups
  cmd/kops/integration_test.go
  pkg/model/awsmodel/network.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/addonmanifest.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/addonmanifest_test.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/pruning.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/pruning_test.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

Keep security group rules when updating only some instance groups
  cmd/kops/integration_test.go
  pkg/model/awsmodel/bastion.go
  pkg/model/awsmodel/bastion_test.go
  pkg/model/awsmodel/firewall.go
  pkg/model/context.go
  pkg/model/context_test.go
Due: none

Keep warm pool permissions when updating only the control plane
  cmd/kops/integration_test.go
  pkg/model/awsmodel/iam.go
Due: none

Keep the GCE API load balancer when updating only some instance groups
  cmd/kops/integration_test.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/api_loadbalancer_test.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/context.go
Due: none

Keep the nvidia and gVisor addons when updating only some instance groups
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

Fix Azure and Hetzner API load balancers when updating some instance groups
  pkg/model/awsmodel/api_loadbalancer_test.go
  pkg/model/azuremodel/api_loadbalancer_test.go
  pkg/model/context.go
  pkg/model/hetznermodel/loadbalancer.go
  pkg/model/hetznermodel/loadbalancer_test.go
Due: none

./hack/update-expected.sh
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
Due: pull-kops-verify-terraform

Keep the cluster-autoscaler node groups when updating only some instance groups
  cmd/kops/integration_test.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/template_functions_test.go
Due: none

Share the cluster setup of the bootstrap channel builder tests
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
Due: none

scenarios/scalability: install kubetest2-kops when --metadata flag is missing
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

gce: list instances per zone in GetCloudGroups instead of per-instance Get
  upup/pkg/fi/cloudup/gce/instancegroups.go
  upup/pkg/fi/cloudup/gce/instancegroups_test.go
Due: none

add a configure-bastion flag to the kops tester
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/pkg/tester/tester.go
  tests/e2e/pkg/tester/tester_test.go
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

gce: filter the per-zone instance listing by cluster label
  cloudmock/gce/mockcompute/instance.go
  upup/pkg/fi/cloudup/gce/compute.go
  upup/pkg/fi/cloudup/gce/instancegroups.go
  upup/pkg/fi/cloudup/gce/instancegroups_test.go
Due: none

Re-add support for the cgroupfs cgroup driver
  docs/cluster_spec.md
  docs/releases/1.38-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/containerd_test.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/tests/containerdbuilder/cgroupfs/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/cgroupfs/tasks.yaml
  nodeup/pkg/model/tests/kubelet/cgroupfs/cluster.yaml
  nodeup/pkg/model/tests/kubelet/cgroupfs/tasks.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/kubelet.go
  pkg/model/components/kubelet_test.go
Due: pull-kops-e2e-cni-amazonvpc

feat(api): parse InstanceGroup role as a set of roles
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/instancegroup_test.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/conversion_test.go
  pkg/model/context.go
Due: none

refactor: make Is*Only mean only, and role dispatch explicit
  hack/verify-ig-role-comparisons.sh
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/instancegroup_test.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/nodeup/config.go
  pkg/commands/toolbox_enroll.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/spotinst.go
  pkg/model/azuremodel/vmscaleset.go
  pkg/model/defaults/volumes.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/context.go
  pkg/model/gcemodel/service_accounts.go
  pkg/model/iam/subject.go
  pkg/model/names.go
  pkg/model/openstackmodel/servergroup.go
  pkg/nodelabels/builder.go
  pkg/nodelabels/builder_test.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/template_functions_karpenter.go
Due: none

fix: derive etcd locality from membership, not instance group role
  cmd/kops/integration_test.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/manifests.go
  pkg/nodemodel/nodeupconfigbuilder.go
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_manifests-channels-kops-channels_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_manifests-etcdmanager-events-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_manifests-etcdmanager-main-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_nodeupconfig-apiserver-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/google_compute_instance_template_apiserver-us-test1-a-minimal-gce-split-cp-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_split_cp/data/google_compute_instance_template_master-us-test1-a-minimal-gce-split-cp-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_split_cp/data/google_compute_instance_template_nodes-minimal-gce-split-cp-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_split_cp/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_split_cp/kubernetes.tf
Due: pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-verify-terraform

Add new control plane type - frontend
  nodeup/pkg/model/context_test.go
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_manifests-channels-kops-channels_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_manifests-etcdmanager-events-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_manifests-etcdmanager-main-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_minimal-gce-split-cp.example.com-addons-storage-gce.addons.k8s.io-v1.7.0_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_nodeupconfig-apiserver-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_split_cp/data/google_compute_instance_template_apiserver-us-test1-a-minimal-gce-split-cp-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_split_cp/data/google_compute_instance_template_master-us-test1-a-minimal-gce-split-cp-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_split_cp/data/google_compute_instance_template_nodes-minimal-gce-split-cp-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_split_cp/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_split_cp/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_split_cp/kubernetes.tf
Due: pull-kops-verify-terraform

feat(api): add servesWellKnownServices and hostedComponents
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/instancegroup_test.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/deepvalidate_test.go
Due: none

feat: place scheduled cluster components per instance group
  cmd/kops-controller/controllers/node_controller.go
  nodeup/pkg/model/channels.go
  nodeup/pkg/model/channels_test.go
  pkg/apis/nodeup/config.go
  pkg/commands/toolbox_enroll.go
  pkg/model/components/channels/model.go
  pkg/nodelabels/builder.go
  pkg/nodelabels/builder_test.go
  pkg/nodemodel/nodeupconfigbuilder.go
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-external-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-internal-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-kcm-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-scheduler-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_external-us-test1-a-minimal-gce-multirole-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_internal-us-test1-a-minimal-gce-multirole-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_kcm-us-test1-a-minimal-gce-multirole-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_scheduler-us-test1-a-minimal-gce-multirole-example-com_metadata_user-data
  upup/pkg/fi/cloudup/apply_cluster.go
Due: pull-kops-verify-terraform

feat: validate component placement, label split roles, add an e2e scenario
  pkg/apis/kops/validation/legacy.go
  pkg/nodeidentity/gce/identify.go
  pkg/nodeidentity/gce/identify_test.go
  tests/e2e/scenarios/multirolecp/cluster.yaml.tmpl
  tests/e2e/scenarios/multirolecp/run-test.sh
  tests/e2e/scenarios/multirolecp/test.sh
  upup/pkg/fi/cloudup/deepvalidate_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

feat(gce): route load balancer traffic by served endpoint
  cmd/kops/integration_test.go
  pkg/apis/kops/instancegroup.go
  pkg/model/context.go
  pkg/model/context_test.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/context.go
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_manifests-channels-kops-channels_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_manifests-etcdmanager-events-etcd-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_manifests-etcdmanager-main-etcd-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_minimal-gce-multirole.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_minimal-gce-multirole.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_minimal-gce-multirole.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_minimal-gce-multirole.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_minimal-gce-multirole.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_minimal-gce-multirole.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_minimal-gce-multirole.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_minimal-gce-multirole.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_minimal-gce-multirole.example.com-addons-storage-gce.addons.k8s.io-v1.7.0_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-etcd-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-external-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-internal-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-kcm-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_multirole/data/aws_s3_object_nodeupconfig-scheduler-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_etcd-us-test1-a-minimal-gce-multirole-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_external-us-test1-a-minimal-gce-multirole-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_internal-us-test1-a-minimal-gce-multirole-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_kcm-us-test1-a-minimal-gce-multirole-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_nodes-minimal-gce-multirole-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_multirole/data/google_compute_instance_template_scheduler-us-test1-a-minimal-gce-multirole-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_multirole/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_multirole/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_multirole/kubernetes.tf
Due: pull-kops-verify-terraform

tests/e2e: add agent-sandbox benchmark scenario
  tests/e2e/scenarios/agent-sandbox/README.md
  tests/e2e/scenarios/agent-sandbox/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

scalability: capture kubelet heap profiles after the test
  tests/e2e/scenarios/scalability/post-test.sh
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

test(kubetest2): give AWS e2e bastions instance-type fallbacks
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/deployer/up_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

tests/e2e: fix gosec findings in nested modules
  tests/e2e/kubetest2-kops/builder/build.go
  tests/e2e/kubetest2-kops/deployer/template.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/pkg/target/terraform.go
  tests/e2e/pkg/tester/tester.go
  tests/e2e/pkg/util/http.go
  tests/e2e/pkg/util/zip.go
  tests/e2e/scenarios/ai-conformance/testartifacts/output.go
  tests/e2e/scenarios/ai-conformance/validators/conformance/report.go
  tests/e2e/scenarios/ai-conformance/validators/kube.go
  tests/e2e/scenarios/ai-conformance/validators/markdown.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Test, vet, and lint nested Go modules
  Makefile
  hack/verify-golangci-lint.sh
Due: none

tests/e2e: set a state store in TestEnvExportsSSHKeyAndUser
  tests/e2e/kubetest2-kops/deployer/common_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Reuse NTH interruption queue for Karpenter
  pkg/model/awsmodel/nodeterminationhandler.go
  pkg/model/awsmodel/nodeterminationhandler_test.go
  pkg/model/iam/iam_builder.go
  pkg/model/names.go
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-InstanceScheduledChange_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-InstanceStateChange_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-RebalanceRecommendation_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-SpotInterruption_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_iam_role_policy_karpenter.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  tests/integration/update_cluster/karpenter/data/aws_sqs_queue_minimal-example-com-nth_policy
  tests/integration/update_cluster/karpenter/kubernetes.tf
  upup/models/cloudup/resources/addons/karpenter.sh/helm-values.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/template_functions.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-verify-terraform

tests/e2e/scalability: configure watch progress notify interval for scale clusters
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Persist OIDC settings structurally in v1alpha2
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/install/fuzzer_test.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/conversion_test.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
Due: none

Test that legacy OIDC flags are still promoted from JSON
  pkg/apis/kops/v1alpha2/conversion_test.go
Due: none

scalability: default to pd-ssd for n1/n2/e2 GCE control planes
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Remove IAM role from its instance profile before deleting orphaned role
  cloudmock/aws/mockiam/iaminstanceprofile.go
  cloudmock/aws/mockiam/iamrole.go
  pkg/model/awsmodel/iam.go
  pkg/model/awsmodel/iam_test.go
  upup/pkg/fi/cloudup/awstasks/iamrole.go
  upup/pkg/fi/cloudup/awstasks/iamrole_test.go
Due: none

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
