Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-e2e-k8s-containerd, pull-kops-verify-hashes, pull-kops-verify-terraform

pull-kops-e2e-cni-amazonvpc:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-calico:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-canal:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-cilium:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-flannel:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-kuberouter:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-weave:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-k8s-containerd:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201021-a62ce8a-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

Release notes for 1.21.0-alpha.2
  docs/releases/1.20-NOTES.md
  docs/releases/1.21-NOTES.md
  mkdocs.yml
Due: none

Update release process docs
  docs/release-process.md
Due: none

Use "tag on create" for EIPs, NLBs, and TargetGroups
  cloudmock/aws/mockec2/address.go
  cloudmock/aws/mockelbv2/loadbalancers.go
  cloudmock/aws/mockelbv2/targetgroups.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
Due: none

Load env vars from file for kops-configuration service
  nodeup/pkg/bootstrap/BUILD.bazel
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/install_test.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
Due: pull-kops-e2e-k8s-containerd, pull-kops-verify-hashes

future proof AWS endpoint and IAM Prefix generation to handle new AWS Partitions and future new ones. Offload to AWS SDK.
  pkg/model/iam.go
  pkg/model/iam/iam_builder.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium

fix BUILD.bazel
  pkg/model/BUILD.bazel
  pkg/model/iam/BUILD.bazel
Due: none

fix bazel
  pkg/model/iam/BUILD.bazel
Due: none

Kubetest2 - Setup SSH keys for GCE
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/gce/ssh.go
Due: none

Update kube-router to v1.2.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-e2e-cni-kuberouter

[kubelet] Remove deprecated flag allowPrivileged
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/kubelet.go
Due: none

Validate that kube-apiserver has the necessary authz modes set
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Due: none

remove instance-selector label
  cmd/kops/toolbox_instance_selector.go
Due: none

Fix DO Tag issue
  pkg/model/domodel/droplets.go
Due: none

Kubetest2 - fix temp directory created for GCE SSH keys
  tests/e2e/kubetest2-kops/deployer/publish.go
  tests/e2e/kubetest2-kops/deployer/template.go
  tests/e2e/kubetest2-kops/gce/ssh.go
  tests/e2e/pkg/kops/download.go
  tests/e2e/pkg/target/terraform.go
  tests/e2e/pkg/tester/kubectl.go
  tests/e2e/pkg/util/zip.go
Due: none

use regex instead of hard-coded incomplete zones to guess cloud provider
  upup/pkg/fi/BUILD.bazel
  upup/pkg/fi/cloud.go
  upup/pkg/fi/cloud_test.go
Due: none

Revert "Update kube-router to v1.2.0"
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: pull-kops-e2e-cni-kuberouter

replace hard coded aws region checks with aws sdk calls
  pkg/model/BUILD.bazel
  pkg/model/iam.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/iam_builder.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/iam_test.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-k8s-containerd: any of: ^nodeup\/pkg\/
  pull-kops-verify-hashes: any of: ^nodeup\/pkg\/
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
