Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

Upgrade kube-router to v2.10.0
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-kuberouter

Disable strict external IP validation
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-kuberouter

azure: Use IMDS attested metadata document for node identity
  go.mod
  go.sum
  upup/pkg/fi/cloudup/azure/attest.go
  upup/pkg/fi/cloudup/azure/attest_test.go
  upup/pkg/fi/cloudup/azure/authenticator.go
  upup/pkg/fi/cloudup/azure/imds.go
  upup/pkg/fi/cloudup/azure/verifier.go
  upup/pkg/fi/cloudup/azure/verifier_test.go
  vendor/github.com/smallstep/pkcs7/.gitignore
  vendor/github.com/smallstep/pkcs7/LICENSE
  vendor/github.com/smallstep/pkcs7/Makefile
  vendor/github.com/smallstep/pkcs7/README.md
  vendor/github.com/smallstep/pkcs7/ber.go
  vendor/github.com/smallstep/pkcs7/decrypt.go
  vendor/github.com/smallstep/pkcs7/encrypt.go
  vendor/github.com/smallstep/pkcs7/internal/legacy/x509/debug.go
  vendor/github.com/smallstep/pkcs7/internal/legacy/x509/doc.go
  vendor/github.com/smallstep/pkcs7/internal/legacy/x509/oid.go
  vendor/github.com/smallstep/pkcs7/internal/legacy/x509/parser.go
  vendor/github.com/smallstep/pkcs7/internal/legacy/x509/pkcs1.go
  vendor/github.com/smallstep/pkcs7/internal/legacy/x509/verify.go
  vendor/github.com/smallstep/pkcs7/internal/legacy/x509/x509.go
  vendor/github.com/smallstep/pkcs7/pkcs7.go
  vendor/github.com/smallstep/pkcs7/sign.go
  vendor/github.com/smallstep/pkcs7/verify.go
  vendor/modules.txt
Due: none

azure: Address review feedback on IMDS attestation
  nodeup/pkg/model/kubelet.go
  pkg/nodeidentity/azure/client.go
  upup/pkg/fi/cloudup/azure/attest.go
  upup/pkg/fi/cloudup/azure/attest_test.go
  upup/pkg/fi/cloudup/azure/authenticator.go
  upup/pkg/fi/cloudup/azure/imds.go
  upup/pkg/fi/cloudup/azure/verifier.go
Due: pull-kops-e2e-cni-amazonvpc

azure: Reflow comments to 100 columns
  pkg/nodeidentity/azure/client.go
  upup/pkg/fi/cloudup/azure/attest.go
  upup/pkg/fi/cloudup/azure/attest_test.go
  upup/pkg/fi/cloudup/azure/authenticator.go
  upup/pkg/fi/cloudup/azure/imds.go
  upup/pkg/fi/cloudup/azure/verifier.go
  upup/pkg/fi/cloudup/azure/verifier_test.go
Due: none

azure: Resolve intermediate CA chain across multiple AIA hops
  upup/pkg/fi/cloudup/azure/attest.go
  upup/pkg/fi/cloudup/azure/attest_test.go
Due: none

aws: pin LBC selectors to fix in-place upgrades
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19-irsa_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19-irsa_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/default/kustomization.yaml
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/irsa/kustomization.yaml
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.19-irsa.yaml.template
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-verify-terraform

cert-manager: set AWS_REGION on controller for Route53 dns-01
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

./hack/update-expected.sh
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Due: pull-kops-verify-terraform

cert-manager: upgrade to v1.19.5
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

cilium: allow disabling masquerade in ENI IPAM mode
  docs/networking/cilium.md
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Due: none

feat(gce): add regional MIG support for multi-AZ instance groups
  .gitignore
  cloudmock/gce/mockcompute/api.go
  cloudmock/gce/mockcompute/region_instance_group_manager.go
  pkg/featureflag/featureflag.go
  pkg/model/gcemodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/gce/compute.go
  upup/pkg/fi/cloudup/gce/instancegroups.go
  upup/pkg/fi/cloudup/gcetasks/regioninstancegroupmanager.go
Due: none

etcd-manager: bump etcd to latest patches (3.5.31, 3.6.12)
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/options.go
Due: none

etcd-manager: upgrade to v3.0.20260531
  pkg/model/components/etcdmanager/model.go
Due: none

tests/e2e/scalability: add CONTROL_PLANE_LB_TYPE passthrough
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Update e2e zones for local testing.
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

Add a e2e test
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/validation/instancegroup.go
  tests/e2e/scenarios/clusterapi/cluster.yaml.tmpl
  tests/e2e/scenarios/clusterapi/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Enable nf_conntrack kernel module on Rocky 9
  upup/pkg/fi/nodeup/command.go
Due: none

Load nf_tables module and install iptables-nft on RHEL10+
  nodeup/pkg/model/packages.go
  upup/pkg/fi/nodeup/command.go
Due: none

chore: Update Cluster Autoscaler RBAC
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

./hack/update-expected.sh
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
Due: pull-kops-verify-terraform

Build only linux/amd64 in kubernetes scalability presubmits
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

chore: downgrade containerd to v2.2.4
  docs/releases/1.36-NOTES.md
  pkg/model/components/containerd.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-kuberouter

./hack/update-expected.sh
  tests/integration/update_cluster/gossip-aws/data/aws_launch_template_master-us-test-1a.masters.gossip.k8s.local_user_data
  tests/integration/update_cluster/gossip-aws/data/aws_launch_template_nodes.gossip.k8s.local_user_data
  tests/integration/update_cluster/gossip-aws/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/gossip-aws/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/gossip-aws/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/gossip-azure/data/azurerm_linux_virtual_machine_scale_set_control-plane-eastus-1.masters.gossip.k8s.local_user_data
  tests/integration/update_cluster/gossip-azure/data/azurerm_linux_virtual_machine_scale_set_nodes-eastus-1.gossip.k8s.local_user_data
  tests/integration/update_cluster/gossip-azure/data/azurerm_storage_blob_cluster-completed.spec_source
  tests/integration/update_cluster/gossip-azure/data/azurerm_storage_blob_nodeupconfig-control-plane-eastus-1_source
  tests/integration/update_cluster/gossip-azure/data/azurerm_storage_blob_nodeupconfig-nodes-eastus-1_source
  tests/integration/update_cluster/gossip-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/gossip-gce/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/gossip-gce/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/gossip-gce/data/google_compute_instance_template_master-us-test1-a-gossip-k8s-local_metadata_user-data
  tests/integration/update_cluster/gossip-gce/data/google_compute_instance_template_nodes-gossip-k8s-local_metadata_user-data
  tests/integration/update_cluster/gossip-hetzner/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/gossip-hetzner/data/aws_s3_object_nodeupconfig-master-fsn1_content
  tests/integration/update_cluster/gossip-hetzner/data/aws_s3_object_nodeupconfig-nodes-fsn1_content
  tests/integration/update_cluster/gossip-hetzner/data/hcloud_server_master-fsn1_user_data
  tests/integration/update_cluster/gossip-hetzner/data/hcloud_server_nodes-fsn1_user_data
  tests/integration/update_cluster/minimal-1.36/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.36/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.36/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.36/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.36/data/aws_s3_object_nodeupconfig-nodes_content
Due: pull-kops-verify-terraform

Skip the live kubelet version skew probe for Terraform golden tests
  cmd/kops/integration_test.go
Due: none

Ignore the default kubeconfig for hack/update-expected.sh
  hack/update-expected.sh
Due: none

Allow feature gates to be set in scalability tests
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

dump: add --node-dump-timeout flag for per-node dump timeout
  cmd/kops/toolbox_dump.go
  docs/cli/kops_toolbox_dump.md
  pkg/dump/dumper.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build
