Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-karpenter:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-canal:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      imagePullPolicy: Always
  ...

hetzner: Update CCM to v1.19.0
  pkg/model/components/hetznercloudcontrollermanager.go
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

hetzner: Update CSI to v2.6.0
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

hack/update-expected.sh
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-hcloud-csi-driver.addons.k8s.io-k8s-1.22_content
Due: pull-kops-verify-terraform

Migrate AWS Verifier to aws-sdk-go-v2
  cmd/kops-controller/main.go
  nodeup/pkg/model/bootstrap_client.go
  upup/pkg/fi/cloudup/awsup/aws_authenticator.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/nodeup/command.go
Due: none

Update token validation for aws-sdk-go v2
  go.mod
  upup/pkg/fi/cloudup/awsup/aws_authenticator.go
  upup/pkg/fi/cloudup/awsup/aws_authenticator_test.go
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/cloudup/awsup/aws_verifier_test.go
Due: none

WIP: log bad header
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
Due: none

Resolve conflict
  go.mod
Due: none

Split signed headers on semicolon
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
Due: none

aws: Update CCM to v1.28.5
  pkg/model/components/awscloudcontrollermanager.go
Due: none

dns: Update dns-node-cache to v1.23.0
  pkg/model/components/kubedns.go
Due: none

dns: Update coredns to v1.11.1
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

dns: Update external-dns to v0.14.1
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

Update etcd to v3.5.13
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/options.go
Due: none

Update cluster-autoscaler to v1.30.0
  pkg/model/components/clusterautoscaler.go
Due: none

hack/update-expected.sh
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
Due: pull-kops-verify-terraform

Update containerd to v1.7.16
  pkg/model/components/containerd.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter

hack/update-expected.sh
  tests/integration/update_cluster/additionalobjects/data/aws_launch_template_master-us-test-1a.masters.additionalobjects.example.com_user_data
  tests/integration/update_cluster/additionalobjects/data/aws_launch_template_nodes.additionalobjects.example.com_user_data
  tests/integration/update_cluster/additionalobjects/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/additionalobjects/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/additionalobjects/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.27/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.27/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.28/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.28/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.28/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.28/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.28/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.29/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.29/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.29/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.29/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.29/data/aws_s3_object_nodeupconfig-nodes_content
Due: pull-kops-verify-terraform

Increase QPS - reduce total test duration
  tests/e2e/scenarios/scalability/run-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Fix postsubmit jobs
  cloudbuild.yaml
Due: none

hack/update-expected.sh
  tests/integration/update_cluster/minimal-1.27/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.27/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_nodeupconfig-nodes_content
Due: pull-kops-verify-terraform

Add node-problem-detector to many-addons test template
  tests/e2e/templates/many-addons.yaml.tmpl
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

hack/update-expected.sh
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-node-problem-detector.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons/kubernetes.tf
Due: pull-kops-verify-terraform

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
