Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e

Generate karpenter addon manifest with kustomize
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/models/cloudup/resources/addons/karpenter.sh/kustomization.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/regenerate.sh
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

Upgrade Karpenter to v1.13.0
  pkg/model/components/karpenter.go
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

Remove obsolete node-role.kubernetes.io/master affinity term
  upup/models/cloudup/resources/addons/karpenter.sh/helm-values.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

Replace deprecated karpenter.sh/provisioner-name with karpenter.sh/nodepool
  pkg/nodelabels/builder.go
  upup/models/cloudup/resources/addons/karpenter.sh/helm-values.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

channels: Add Kubernetes 1.36.0 support
  channels/alpha
  channels/stable
Due: none

Skip ImageVolume tests on COS 121
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

gce: emit kops.k8s.io/instancegroup node label
  pkg/nodeidentity/gce/identify.go
Due: none

Register Karpenter nodes with karpenter.sh/unregistered taint
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Due: none

hack/update-expected.sh
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupconfig-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupconfig-karpenter-nodes-single-machinetype_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupscript-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupscript-karpenter-nodes-single-machinetype_content
Due: pull-kops-verify-terraform

Add missing EC2 read permissions to Karpenter IAM policy
  pkg/model/components/addonmanifests/karpenter/iam.go
  tests/integration/update_cluster/karpenter/data/aws_iam_role_policy_karpenter.kube-system.sa.minimal.example.com_policy
Due: pull-kops-verify-terraform

scaletest: report experiment variant after kubetest2 runs
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

nodeup: load ip_set module and disable firewalld on RHEL10+/Rocky10+
  nodeup/pkg/model/firewall.go
  upup/pkg/fi/nodeup/command.go
Due: none

fix(kubeconfig): ensure context AuthInfo matches user during merge
  pkg/kubeconfig/kubecfg_builder.go
Due: none

fix(cli): populate ZONES column for GCE clusters in get cluster output
  cmd/kops/get_cluster.go
Due: none

Adding flag to enable machine type for APIServer only.
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  pkg/apis/kops/validation/instancegroup.go
  tests/e2e/scenarios/splitkcp/run-test.sh
  tests/integration/create_cluster/apiserver-gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/apiserver-gce/options.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

feat(validation): add Go native fuzz testing target for ValidateCluster
  pkg/apis/kops/validation/validation_fuzz_test.go
Due: none

Adding flag to enable machine type for APIServer only.
  docs/cli/kops_create_cluster.md
Due: none

Adding GCE test for APIServer only option.
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/integration_test.go
Due: none

Fixing LB behavior when you have both APIServer and Control Plane.
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/integration_test.go
  docs/cli/kops_create_cluster.md
  pkg/model/gcemodel/autoscalinggroup.go
  tests/integration/update_cluster/minimal_gce_plb_apiserver/kubernetes.tf
Due: pull-kops-verify-terraform

Remove namespace from DO ClusterRole
  upup/models/cloudup/resources/addons/digitalocean-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

chore(channels): promote alpha to stable
  channels/stable
Due: none

chore(channels): bump node images
  channels/alpha
  channels/stable
Due: none

chore(channels): recommend kOps 1.35.1 for k8s 1.30-1.35, 1.34.3 for 1.29
  channels/alpha
  channels/stable
Due: none

chore(channels): add arm64 GCE and Azure noble node images
  channels/alpha
  channels/stable
  pkg/apis/kops/channel.go
Due: none

channels: defer apply when CRD is not yet registered
  pkg/applylib/applyset/applyset.go
  pkg/applylib/applyset/results.go
  pkg/applylib/applyset/results_test.go
Due: none

Increase storage test timeouts for Azure disk CSI driver
  tests/e2e/csi-manifests/azure-disk/driver.yaml
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

./hack/update-expected.sh
  tests/integration/create_cluster/calico_bpf/expected-v1alpha2.yaml
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex-private/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/gossip-aws/expected-v1alpha2.yaml
  tests/integration/create_cluster/gossip-azure/expected-v1alpha2.yaml
  tests/integration/create_cluster/gossip-gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.31/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.32/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.35/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.36/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-gce-dns-none/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
  tests/integration/create_cluster/volume_type/expected-v1alpha2.yaml
Due: none

scale-test: bind etcd metrics to all interfaces
  tests/e2e/scenarios/scalability/run-test.sh
Due: presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-kubernetes-e2e-ubuntu-gce-build

e2e: test the PR's own channels, not master's
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/deployer/up_test.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Adding isolated script for kube-burner execution
  tests/e2e/scenarios/scalability/run-kube-burner-test.sh
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

tests/e2e: refine externalTrafficPolicy=Local and hostNetwork skips
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

Update CCM pods to tolerate all taints
  upup/models/cloudup/resources/addons/aws-cloud-controller.addons.k8s.io/k8s-1.18.yaml.template
  upup/models/cloudup/resources/addons/azure-cloud-controller.addons.k8s.io/k8s-1.31.yaml.template
  upup/models/cloudup/resources/addons/digitalocean-cloud-controller.addons.k8s.io/k8s-1.8.yaml.template
  upup/models/cloudup/resources/addons/gcp-cloud-controller.addons.k8s.io/k8s-1.23.yaml.template
  upup/models/cloudup/resources/addons/scaleway-cloud-controller.addons.k8s.io/k8s-1.24.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons
