Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-kindnet, pull-kops-e2e-azure-cni-kindnet, pull-kops-e2e-gce-cni-kindnet, pull-kops-e2e-cni-kindnet-ipv6, pull-kops-e2e-cni-kubenet, pull-kops-e2e-azure-cni-kubenet, presubmit-kops-gce-small-scale-ipalias-using-cl2, pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-kubernetes-e2e-ubuntu-gce-build

pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-gce-cni-calico:
  optional: true
  labels:
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    serviceAccountName: k8s-kops-test
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-k8s-kops-aws-credential: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

pull-kops-e2e-azure-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-kops-azure-cred-wi: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      imagePullPolicy: Always
      command:
      - runner.sh
  ...

release: publish only compressed nodeup
  Makefile
  hack/dev-build.sh
  hack/release-assets.sh
Due: none

tests/e2e: keep cilium externalTrafficPolicy skips through k8s 1.38
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

chore(deps): bump linodego to v2.6.0
  go.mod
  go.sum
Due: none

chore(deps): make gomod
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  tools/otel/traceserver/go.sum
  vendor/github.com/linode/linodego/v2/.golangci.yml
  vendor/github.com/linode/linodego/v2/AGENTS.md
  vendor/github.com/linode/linodego/v2/README.md
  vendor/github.com/linode/linodego/v2/instances.go
  vendor/github.com/linode/linodego/v2/interfaces.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/go.yaml.in/yaml/v3/parserc.go
  vendor/go.yaml.in/yaml/v3/yamlh.go
  vendor/gopkg.in/yaml.v3/LICENSE
  vendor/gopkg.in/yaml.v3/NOTICE
  vendor/gopkg.in/yaml.v3/README.md
  vendor/gopkg.in/yaml.v3/apic.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/emitterc.go
  vendor/gopkg.in/yaml.v3/encode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/gopkg.in/yaml.v3/readerc.go
  vendor/gopkg.in/yaml.v3/resolve.go
  vendor/gopkg.in/yaml.v3/scannerc.go
  vendor/gopkg.in/yaml.v3/sorter.go
  vendor/gopkg.in/yaml.v3/writerc.go
  vendor/gopkg.in/yaml.v3/yaml.go
  vendor/gopkg.in/yaml.v3/yamlh.go
  vendor/gopkg.in/yaml.v3/yamlprivateh.go
  vendor/modules.txt
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

tests: add minimal_gce_ipv6 integration test
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_manifests-channels-kops-channels_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_manifests-etcdmanager-events-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_manifests-etcdmanager-main-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_minimal-gce-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_minimal-gce-ipv6.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_minimal-gce-ipv6.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_minimal-gce-ipv6.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_minimal-gce-ipv6.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_minimal-gce-ipv6.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_minimal-gce-ipv6.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_minimal-gce-ipv6.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_minimal-gce-ipv6.example.com-addons-storage-gce.addons.k8s.io-v1.7.0_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_ipv6/data/google_compute_instance_template_master-us-test1-a-minimal-gce-ipv6-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ipv6/data/google_compute_instance_template_nodes-minimal-gce-ipv6-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ipv6/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_ipv6/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_ipv6/kubernetes.tf
Due: pull-kops-verify-terraform

gce: don't rewrite IPv6-only clusters to IPv4 in the IP-alias path
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_manifests-channels-kops-channels_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_manifests-etcdmanager-events-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_manifests-etcdmanager-main-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-networking.kindnet-k8s-1.32_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_minimal-gce-ipv6-kindnet.example.com-addons-storage-gce.addons.k8s.io-v1.7.0_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/google_compute_instance_template_master-us-test1-a-minimal-gce-ipv6-kindnet-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/data/google_compute_instance_template_nodes-minimal-gce-ipv6-kindnet-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_ipv6_kindnet/kubernetes.tf
  upup/pkg/fi/cloudup/gce/network.go
  upup/pkg/fi/cloudup/gce/network_test.go
  upup/pkg/fi/cloudup/new_cluster.go
Due: pull-kops-verify-terraform

tests: add create cluster golden test for GCE IPv6 kindnet
  cmd/kops/create_cluster_integration_test.go
  tests/integration/create_cluster/minimal-gce-ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-gce-ipv6/options.yaml
Due: none

docs: describe how we prefer to test new configurations
  AGENTS.md
  docs/contributing/testing_new_configurations.md
Due: none

Update Go to 1.26.8 and bump golang.org/x modules
  cloudbuild.yaml
  go.mod
  go.sum
  hack/go.mod
  hack/go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/scenarios/ai-conformance/go.mod
  tests/e2e/scenarios/ai-conformance/tools/check-aws-availability/go.mod
  tools/metal/dhcp/go.mod
  tools/metal/storage/go.mod
  tools/otel/traceserver/go.mod
  tools/otel/traceserver/go.sum
  vendor/modules.txt
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

aws: update cloud-controller-manager to v1.37.0
  pkg/model/components/awscloudcontrollermanager.go
Due: none

aws: update EBS CSI driver to v1.65.0
  pkg/model/components/awsebscsidriver.go
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

aws: stop rendering the unused EBS volumemodifier Service
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/helm-values.yaml
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

azure: update cloud-controller-manager to v1.36.5
  pkg/model/components/azurecloudcontrollermanager.go
Due: none

gcp: update cloud-controller-manager to v36.2.4
  pkg/model/components/gcpcloudcontrollermanager.go
Due: none

gcp: update PD CSI driver to v1.26.0
  pkg/model/components/gcppdcsidriver.go
  upup/models/cloudup/resources/addons/gcp-pd-csi-driver.addons.k8s.io/k8s-1.23.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

aws: update ecr-credential-provider to v1.37.0
  pkg/assets/assetdata/ecr.yaml
  pkg/nodemodel/fileassets.go
Due: none

hetzner: update cloud-controller-manager to v1.36.0
  pkg/model/components/hetznercloudcontrollermanager.go
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/kustomization.yaml
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

azure: update azuredisk CSI driver to v1.34.5
  upup/models/cloudup/resources/addons/azuredisk-csi-driver.addons.k8s.io/k8s-1.31.yaml.template
  upup/models/cloudup/resources/addons/azuredisk-csi-driver.addons.k8s.io/kustomization.yaml
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

hetzner: update CSI driver to v2.22.2
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/kustomization.yaml
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

digitalocean: update cloud-controller-manager to v0.1.69
  upup/models/cloudup/resources/addons/digitalocean-cloud-controller.addons.k8s.io/k8s-1.8.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

docs: note CCM and CSI updates in 1.37 release notes
  docs/releases/1.37-NOTES.md
Due: none

akamai: update cloud-controller-manager to v0.9.8
  pkg/model/components/linodecloudcontrollermanager.go
Due: none

digitalocean: update CSI driver to v4.18.0
  upup/models/cloudup/resources/addons/digitalocean-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

digitalocean: keep cloud-controller-manager at v0.1.45
  docs/releases/1.37-NOTES.md
  upup/models/cloudup/resources/addons/digitalocean-cloud-controller.addons.k8s.io/k8s-1.8.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

do: set providerID on DigitalOcean nodes
  nodeup/pkg/model/kubelet.go
  upup/pkg/fi/cloudup/do/dometadata/authenticator.go
Due: pull-kops-e2e-cni-amazonvpc

do: update cloud-controller-manager to v0.1.69
  docs/releases/1.37-NOTES.md
  upup/models/cloudup/resources/addons/digitalocean-cloud-controller.addons.k8s.io/k8s-1.8.yaml.template
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

tests/e2e: skip Volume metrics specs on DigitalOcean
  tests/e2e/pkg/tester/skip_regex.go
Due: pull-kops-kubernetes-e2e-ubuntu-gce-build

[WIP] Initial work to make split control plane work.
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  nodeup/pkg/model/bootstrap_client.go
  nodeup/pkg/model/channels.go
  nodeup/pkg/model/discovery_service.go
  nodeup/pkg/model/etcd_manager_tls.go
  nodeup/pkg/model/kops_controller.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/manifests.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/nodeup/config.go
  pkg/model/awsmodel/iam.go
  pkg/model/bootstrapscript.go
  pkg/model/defaults/volumes.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/context.go
  pkg/model/gcemodel/external_access.go
  pkg/model/gcemodel/firewall.go
  pkg/model/iam/iam_builder.go
  pkg/model/iam/subject.go
  pkg/model/names.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/nodelabels/builder.go
  pkg/nodelabels/builder_test.go
  pkg/nodemodel/nodeupconfigbuilder.go
  tests/e2e/scenarios/splitkcp/run-test.sh
  upup/pkg/fi/cloudup/deepvalidate_test.go
  upup/pkg/fi/cloudup/loader.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/executor.go
  upup/pkg/fi/nodeup/nodetasks/service.go
  upup/pkg/fi/task.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-azure-cni-calico, pull-kops-e2e-gce-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-cilium, pull-kops-e2e-azure-cni-cilium, pull-kops-e2e-gce-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-kubernetes-e2e-ubuntu-gce-build

Minor tweaks to fix minor issues.
  cmd/kops-controller/controllers/node_controller.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/nodeup/config.go
  pkg/commands/toolbox_enroll.go
  pkg/model/bootstrapscript.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/nodelabels/builder.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons, pull-kops-e2e-cni-amazonvpc

Got a working cluster with split control plane.
  nodeup/pkg/model/channels.go
  pkg/model/components/channels/model.go
  pkg/nodelabels/builder.go
  upup/models/cloudup/resources/addons/gcp-cloud-controller.addons.k8s.io/k8s-1.23.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

Switched new kops role to be about workload not destination.
  pkg/apis/kops/validation/legacy.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/nodelabels/builder.go
  pkg/nodelabels/builder_test.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/models/cloudup/resources/addons/gcp-cloud-controller.addons.k8s.io/k8s-1.23.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/deepvalidate_test.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
Due: pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons

docs: add third-party dependency update guide for agents
  AGENTS.md
  docs/dependency-updates.md
Due: none

Path conditions:
  pull-kops-e2e-aws-upgrade-k133-ko133-to-kstable-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-azure-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-gce-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-azure-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-gce-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-azure-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-gce-cni-kindnet: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kindnet-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kindnet)
  pull-kops-e2e-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  pull-kops-e2e-azure-cni-kubenet: any of: ^pkg\/apis\/kops\/networking.go
  presubmit-kops-gce-small-scale-ipalias-using-cl2: any of: ^tests\/e2e\/scenarios\/scalability\/run-test.sh
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/runc
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-kubernetes-e2e-ubuntu-gce-build: any of: tests/e2e
