Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-e2e-k8s-containerd, pull-kops-verify-hashes, pull-kops-verify-terraform

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-k8s-containerd: any of: ^nodeup\/pkg\/
  pull-kops-verify-hashes: any of: ^nodeup\/pkg\/
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/

Update etcd-manager to 3.0.20210228
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Due: none

Fix node label conversion in Azure
  pkg/model/azuremodel/context.go
  pkg/model/azuremodel/context_test.go
  pkg/nodeidentity/azure/BUILD.bazel
  pkg/nodeidentity/azure/identify.go
Due: none

Log an error message on an unexpected tag value
  pkg/nodeidentity/azure/identify.go
Due: none

Return an error
  pkg/nodeidentity/azure/identify.go
Due: none

Add support for defining a transit gateway for a default route
  docs/cluster_spec.md
  pkg/apis/kops/cluster.go
  pkg/apis/kops/validation/validation.go
  pkg/model/network.go
  upup/pkg/fi/cloudup/awstasks/route.go
Due: none

Add integration test for transit gateway support
  cloudmock/aws/mockec2/routetable.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
Due: pull-kops-verify-terraform

gce doesn't suffix the IG names with ClusterName
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Due: none

Update Calico to v3.17.3
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Due: pull-kops-e2e-cni-calico

validation.go: remove checks on CNI
  pkg/apis/kops/validation/validation.go
Due: none

move CNI block check to allow option with others CNI
  pkg/apis/kops/validation/validation.go
Due: none

Allow multi-CNI setups to set usesSecondaryIP (#10828)
  pkg/apis/kops/validation/validation.go
Due: none

Reverted changes in context.go
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/context.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium, pull-kops-e2e-k8s-containerd, pull-kops-verify-hashes

Fix
  pkg/model/components/kubelet.go
Due: none

feat(spot/addon): bump ocean-controller to 1.0.73
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Due: none

fix: don't skip lb attachments when hybrid is enabled
  pkg/model/awsmodel/autoscalinggroup.go
Due: none

Add new CPUCredits field to instance group spec
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/zz_generated.deepcopy.go
Due: none

Add explicit RBAC permissions for finalizers subresources
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
Due: pull-kops-e2e-cni-cilium

Use new CPUCredits IG spec field in launch templates
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Due: none

Use CPUCredits in integration test
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/instancegroup.nodes.overrides.txt
  tests/integration/update_cluster/complex/kubernetes.tf
Due: pull-kops-verify-terraform
