Repository kubernetes-sigs/kueue: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Path conditions:
  pull-kueue-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-baseline-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-extended-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-32: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-33: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-34: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-tas-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-customconfigs-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-kueueviz-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-verify-main: unless all of: ^docs/|^\.github/|^(README|LICENSE|OWNERS)$
  pull-kueue-build-image-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-scheduling-perf-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-verify-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-integration-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-e2e-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/

test(tas): wait for TrainingRuntime visibility before creating TrainJob
  test/e2e/tas/trainjob_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

test(e2e): isolate queue names in managejobswithoutqueuename spec
  test/e2e/customconfigs/managejobswithoutqueuename_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

test(populator): reuse shared cluster cleanup helper in run-e2e script
  cmd/experimental/kueue-populator/run-e2e.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add WaitForWebhookReady to fix flaky tests after controller restart (#8220)
  test/util/e2e.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

add field multiplyBy for ResourceTransformation (#7599)
  apis/config/v1beta1/configuration_types.go
  apis/config/v1beta1/zz_generated.conversion.go
  apis/config/v1beta2/configuration_types.go
  pkg/workload/workload.go
  pkg/workload/workload_test.go
  site/content/en/docs/reference/kueue-config.v1beta1.md
  site/content/en/docs/reference/kueue-config.v1beta2.md
  test/integration/singlecluster/scheduler/resourcetransformations/resource_transformations_test.go
  test/integration/singlecluster/scheduler/resourcetransformations/suite_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

fix: Align allowed origins with validateOrigin logic (#8027)
  charts/kueue/README.md
  charts/kueue/tests/kueue_test.yaml
  charts/kueue/values.yaml
Due: pull-kueue-verify-main

Update main with the latest v0.15.1 (#8215)
  CHANGELOG/CHANGELOG-0.15.md
  Makefile
  README.md
  SECURITY-INSIGHTS.yaml
  charts/kueue/Chart.yaml
  charts/kueue/README.md
  charts/kueue/README.md.gotmpl
  cmd/experimental/kueue-populator/README.md
  cmd/experimental/kueue-populator/charts/kueue-populator/Chart.yaml
  cmd/experimental/kueue-populator/charts/kueue-populator/README.md
  cmd/kueueviz/INSTALL.md
  cmd/kueueviz/frontend/package-lock.json
  cmd/kueueviz/frontend/package.json
  site/hugo.toml
  test/e2e/kueueviz/package-lock.json
  test/e2e/kueueviz/package.json
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add CHANGELOG for v0.14.6 (#8219)
  CHANGELOG/CHANGELOG-0.14.md
Due: pull-kueue-verify-main

Fix flaky test for StrictFIFO in cohort by relaxing the assert (#8203)
  test/integration/singlecluster/scheduler/preemption_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Queue cache - add reverse workload mapping to stop relying on previous workload state during update/delete (#8001)
  pkg/cache/queue/manager.go
  pkg/cache/queue/manager_test.go
  pkg/controller/core/workload_controller.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix file descriptor leak in RayJob integration test suite (#8261)
  test/integration/singlecluster/controller/jobs/rayjob/suite_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix OWNERS. (#8414)
  OWNERS
Due: none

Use bestMatchByCondition instead of FirstReserving() and RemoteFinishedCondition(). (#8253)
  pkg/controller/admissionchecks/multikueue/workload.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

cleanup: add ginkgo.By to the Consistently block in second-pass backoff integration test (#8335)
  test/integration/singlecluster/tas/tas_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add permissions for test approvers to approve util/testing and util/testingjobs. (#8250)
  pkg/util/testing/OWNERS
  pkg/util/testingjobs/OWNERS
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix typo on bestMatchByCondition docs. (#8307)
  pkg/controller/admissionchecks/multikueue/workload.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Adjust waitForPodsReady snippet to use blockAdmission: false and clarify example configuration (#8316)
  site/content/en/docs/tasks/manage/setup_wait_for_pods_ready.md
Due: pull-kueue-verify-main

Extend permissions for dependencies approvers to approve package.json and package-lock.json. (#8283)
  OWNERS
Due: none

Fix OWNERS. (#8386)
  OWNERS
Due: none

Self-nominate pbundyra as a partial approver (#8259)
  OWNERS_ALIASES
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Revert "Add support for JobSet DependsOn with PodsReady (#7889)" (#8294)
  pkg/controller/jobs/jobset/jobset_controller.go
  pkg/controller/jobs/jobset/jobset_controller_test.go
  pkg/util/testingjobs/jobset/wrappers.go
  test/e2e/customconfigs/waitforpodsready_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

[TAS] Do not reconcile on Nodes heartbeats (#8342)
  pkg/controller/tas/resource_flavor.go
  pkg/controller/tas/resource_flavor_test.go
  pkg/util/testingjobs/node/wrappers.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Clarify validation for WorkloadPriorityClass changes in workloads (#8334)
  pkg/controller/jobframework/validation.go
  pkg/controller/jobs/job/job_webhook_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

TAS NodeHotSwap: fix the bug that allows workload to requeue by scheduler even if already deleted on TAS NodeHotSwap eviction. (#8278)
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_tas_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Update main with the latest v0.15.2 (#8360)
  CHANGELOG/CHANGELOG-0.15.md
  Makefile
  README.md
  SECURITY-INSIGHTS.yaml
  charts/kueue/Chart.yaml
  charts/kueue/README.md
  charts/kueue/README.md.gotmpl
  cmd/experimental/kueue-populator/README.md
  cmd/experimental/kueue-populator/charts/kueue-populator/Chart.yaml
  cmd/experimental/kueue-populator/charts/kueue-populator/README.md
  cmd/kueueviz/INSTALL.md
  cmd/kueueviz/frontend/package-lock.json
  cmd/kueueviz/frontend/package.json
  site/hugo.toml
  test/e2e/kueueviz/package-lock.json
  test/e2e/kueueviz/package.json
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix log.Error typo on Update event. (#8297)
  pkg/controller/core/workload_controller.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Make sure the scheduler logs unhealthyNodes when eviction fails (#8324)
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_tas_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix OWNERS. (#8411)
  OWNERS
Due: none

Fix npm vulnerabilities (#8091)
  cmd/kueueviz/frontend/Dockerfile
  cmd/kueueviz/frontend/package-lock.json
  cmd/kueueviz/frontend/package.json
  cmd/kueueviz/frontend/start.sh
  hack/e2e-kueueviz-frontend.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Improve integration tests execution time (#8327)
  test/integration/singlecluster/controller/admissionchecks/provisioning/provisioning_test.go
  test/integration/singlecluster/controller/core/clusterqueue_controller_test.go
  test/integration/singlecluster/controller/core/localqueue_controller_test.go
  test/integration/singlecluster/controller/core/workload_controller_test.go
  test/integration/singlecluster/controller/dra/dra_test.go
  test/integration/singlecluster/controller/jobs/appwrapper/appwrapper_controller_test.go
  test/integration/singlecluster/controller/jobs/jaxjob/jaxjob_controller_test.go
  test/integration/singlecluster/controller/jobs/job/job_controller_test.go
  test/integration/singlecluster/controller/jobs/jobset/jobset_controller_test.go
  test/integration/singlecluster/controller/jobs/mpijob/mpijob_controller_test.go
  test/integration/singlecluster/controller/jobs/pod/pod_controller_test.go
  test/integration/singlecluster/controller/jobs/pytorchjob/pytorchjob_controller_test.go
  test/integration/singlecluster/controller/jobs/raycluster/raycluster_controller_test.go
  test/integration/singlecluster/controller/jobs/rayjob/rayjob_controller_test.go
  test/integration/singlecluster/controller/jobs/trainjob/trainjob_controller_test.go
  test/integration/singlecluster/importer/importer_test.go
  test/integration/singlecluster/kueuectl/passthrough_test.go
  test/integration/singlecluster/scheduler/fairsharing/fair_sharing_test.go
  test/integration/singlecluster/scheduler/podsready/scheduler_test.go
  test/integration/singlecluster/scheduler/preemption_test.go
  test/integration/singlecluster/scheduler/scheduler_test.go
  test/integration/singlecluster/scheduler/workload_controller_test.go
  test/integration/singlecluster/tas/tas_test.go
  test/integration/singlecluster/webhook/jobs/raycluster_webhook_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix helm-chart-package package. (#8401)
  hack/helm-chart-package.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add Secret test wrapper (#8323)
  pkg/controller/admissionchecks/multikueue/multikueuecluster_test.go
  pkg/util/testing/wrappers.go
  test/e2e/multikueue/suite_test.go
  test/integration/multikueue/cluster_role_sharing_test.go
  test/integration/multikueue/dispatcher_test.go
  test/integration/multikueue/enabled_integration_test.go
  test/integration/multikueue/external_job_test.go
  test/integration/multikueue/jobs_test.go
  test/integration/multikueue/no_gc_test.go
  test/integration/multikueue/provisioning_test.go
  test/integration/multikueue/setup_test.go
  test/integration/multikueue/tas/tas_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix the releasing script for promoting images (#8301)
  hack/releasing/promote_pull.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Remove unused KeepAdmissionCheckPending method (#8295)
  pkg/controller/admissionchecks/multikueue/externalframeworks/adapter.go
  pkg/controller/jobframework/interface.go
  pkg/controller/jobs/appwrapper/appwrapper_multikueue_adapter.go
  pkg/controller/jobs/job/job_multikueue_adapter.go
  pkg/controller/jobs/jobset/jobset_multikueue_adapter.go
  pkg/controller/jobs/kubeflow/kubeflowjob/kubeflowjob_multikueue_adapter.go
  pkg/controller/jobs/mpijob/mpijob_multikueue_adapter.go
  pkg/controller/jobs/pod/pod_multikueue_adapter.go
  pkg/controller/jobs/raycluster/raycluster_multikueue_adapter.go
  pkg/controller/jobs/rayjob/rayjob_multikueue_adapter.go
  pkg/controller/jobs/trainjob/trainjob_multikueue_adapter.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

docs: add TrainJob to Job-integrated features table on Overview (#7950)
  site/content/en/docs/overview/_index.md
Due: pull-kueue-verify-main

Adjust approval permissions for Makefile-test.mk and Makefile-deps.mk (#8345)
  OWNERS
Due: none

Add issue templates for documentation and flaky tests (#8270)
  .github/ISSUE_TEMPLATE/DOCUMENTATION.md
  .github/ISSUE_TEMPLATE/FLAKE.md
Due: none

Remove outdated suspend: true requirement from docs and examples (#8315)
  site/content/en/docs/tasks/run/jobs.md
  site/content/en/docs/tasks/run/run_cronjobs.md
  site/static/examples/admission-fs/lq-a-simple-job.yaml
  site/static/examples/admission-fs/lq-b-simple-job.yaml
  site/static/examples/appwrapper/deployment-sample.yaml
  site/static/examples/jobs/ray-job-sample.yaml
  site/static/examples/jobs/sample-job-partial-admission.yaml
  site/static/examples/jobs/sample-job.yaml
  site/static/examples/jobs/sample-scalable-job.yaml
  site/static/examples/multikueue/dev/sample-tas-job.yaml
  site/static/examples/provisioning/sample-job.yaml
Due: pull-kueue-verify-main

Rename updated variable to remoteFinished. (#8353)
  pkg/controller/jobs/job/job_multikueue_adapter.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add E2E tests for Admission Fair Sharing (#8331)
  test/e2e/customconfigs/admission_fair_sharing_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main
