Repository kubernetes-sigs/kueue: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Path conditions:
  pull-kueue-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-baseline-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-extended-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-32: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-33: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-34: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-tas-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-customconfigs-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-kueueviz-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-verify-main: unless all of: ^docs/|^\.github/|^(README|LICENSE|OWNERS)$
  pull-kueue-build-image-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-scheduling-perf-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-verify-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-integration-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-e2e-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/

Remove the stale prepare-pull command.
  .github/workflows/release-utils.yml
Due: none

Remove traget param.
  .github/workflows/release-utils.yml
Due: none

Add Action checkout validation job.
  .github/workflows/release-utils.yml
Due: none

Allow empty resource groups and flavors in ClusterQueue
  apis/kueue/v1beta1/clusterqueue_types.go
  apis/kueue/v1beta2/clusterqueue_types.go
  config/components/crd/bases/kueue.x-k8s.io_clusterqueues.yaml
  config/components/crd/bases/kueue.x-k8s.io_cohorts.yaml
  pkg/cache/scheduler/cache_test.go
  pkg/cache/scheduler/clusterqueue.go
  pkg/scheduler/scheduler_test.go
  test/integration/singlecluster/webhook/core/clusterqueue_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Allow ClusterQueues without flavors
  apis/kueue/v1beta1/clusterqueue_types.go
  apis/kueue/v1beta2/clusterqueue_types.go
  config/components/crd/bases/kueue.x-k8s.io_clusterqueues.yaml
  config/components/crd/bases/kueue.x-k8s.io_cohorts.yaml
  pkg/cache/scheduler/cache_test.go
  pkg/cache/scheduler/clusterqueue_test.go
  pkg/cache/scheduler/snapshot_test.go
  pkg/scheduler/preemption/preemption_hierarchical_test.go
  pkg/scheduler/preemption/preemption_test.go
  pkg/scheduler/scheduler_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Update tests for empty ClusterQueues
  .golangci-kal.yaml
  apis/kueue/v1beta2/clusterqueue_types.go
  charts/kueue/templates/crd/kueue.x-k8s.io_clusterqueues.yaml
  charts/kueue/templates/crd/kueue.x-k8s.io_cohorts.yaml
  pkg/controller/core/workload_controller_test.go
  pkg/scheduler/preemption/preemption_test.go
  test/e2e/sequential/baseline/default_config_test.go
  test/e2e/sequential/baseline/visibility_server_test.go
  test/e2e/singlecluster/baseline/kueuectl_test.go
  test/integration/multikueue/cluster_role_sharing_test.go
  test/integration/multikueue/dispatcher_test.go
  test/integration/multikueue/dra_test.go
  test/integration/multikueue/enabled_integration_test.go
  test/integration/multikueue/external_job_test.go
  test/integration/multikueue/no_gc_test.go
  test/integration/multikueue/setup_test.go
  test/integration/singlecluster/controller/core/admissioncheck_controller_test.go
  test/integration/singlecluster/kueuectl/list_test.go
  test/integration/singlecluster/webhook/core/clusterqueue_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Address review comments on empty ResourceGroups schema
  apis/kueue/v1beta1/clusterqueue_types.go
  apis/kueue/v1beta2/clusterqueue_types.go
  charts/kueue/templates/crd/kueue.x-k8s.io_clusterqueues.yaml
  charts/kueue/templates/crd/kueue.x-k8s.io_cohorts.yaml
  client-go/applyconfiguration/kueue/v1beta1/resourcegroup.go
  client-go/applyconfiguration/kueue/v1beta2/resourcegroup.go
  config/components/crd/bases/kueue.x-k8s.io_clusterqueues.yaml
  config/components/crd/bases/kueue.x-k8s.io_cohorts.yaml
  pkg/controller/core/workload_controller_test.go
  site/content/en/docs/reference/kueue.v1beta2.md
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Make v1beta2 ResourceGroup flavors optional
  apis/kueue/v1beta2/clusterqueue_types.go
  charts/kueue/templates/crd/kueue.x-k8s.io_clusterqueues.yaml
  charts/kueue/templates/crd/kueue.x-k8s.io_cohorts.yaml
  config/components/crd/bases/kueue.x-k8s.io_clusterqueues.yaml
  config/components/crd/bases/kueue.x-k8s.io_cohorts.yaml
  site/content/en/docs/reference/kueue.v1beta2.md
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Address review comments. Update simulation snapshot deficiencies.
  pkg/cache/scheduler/scheduling_simulator_default.go
  pkg/cache/scheduler/simulator/interface.go
  pkg/cache/scheduler/was/scheduling_simulator.go
  pkg/cache/scheduler/was/scheduling_simulator_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Naming adjustment.
  pkg/cache/scheduler/cache.go
  pkg/cache/scheduler/scheduling_simulator_default.go
  pkg/cache/scheduler/simulator/interface.go
  pkg/cache/scheduler/tas_cache.go
  pkg/cache/scheduler/tas_flavor.go
  pkg/cache/scheduler/was/scheduling_simulator.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Revert "Naming adjustment."
  pkg/cache/scheduler/cache.go
  pkg/cache/scheduler/scheduling_simulator_default.go
  pkg/cache/scheduler/simulator/interface.go
  pkg/cache/scheduler/tas_cache.go
  pkg/cache/scheduler/tas_flavor.go
  pkg/cache/scheduler/was/scheduling_simulator.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Docs adjustment.
  pkg/cache/scheduler/simulator/interface.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

review
  keps/12100-partial-scaleup-for-elasticjob/README.md
  keps/12100-partial-scaleup-for-elasticjob/kep.yaml
Due: pull-kueue-verify-main

Update workload annotation name check.
  pkg/cache/scheduler/was/scheduling_simulator.go
  pkg/cache/scheduler/was/scheduling_simulator_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Remove redundant locking.
  pkg/cache/scheduler/was/scheduling_simulator.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Test fix.
  pkg/cache/scheduler/was/scheduling_simulator_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix pod group PodSet ordering
  pkg/controller/jobs/pod/pod_controller.go
  pkg/controller/jobs/pod/pod_controller_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Cease storing context in struct.
  pkg/cache/scheduler/scheduling_simulator_default.go
  pkg/cache/scheduler/simulator/interface.go
  pkg/cache/scheduler/was/scheduling_simulator.go
  pkg/cache/scheduler/was/scheduling_simulator_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Release prepare pull remove (#14813)
  .github/workflows/release-utils.yml
Due: none

charts: omit namespace from KueueViz cluster RBAC
  charts/kueue/templates/kueueviz/cluster-role-binding.yaml
  charts/kueue/templates/kueueviz/clusterrole.yaml
  charts/kueue/tests/rbac_namespace_scope_test.yaml
  config/components/kueueviz/cluster-role-binding.yaml
  config/components/kueueviz/clusterrole.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Update "unassigned pod" handling.
  pkg/cache/scheduler/was/scheduling_simulator.go
  pkg/cache/scheduler/was/scheduling_simulator_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Code cleanup.
  pkg/cache/scheduler/was/scheduling_simulator.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

docs: fix duplicated word and grammar typos in setup_failure_recovery.md
  site/content/en/docs/tasks/manage/setup_failure_recovery.md
Due: pull-kueue-verify-main

Ensure consistent preemptor state across queue heads and second pass
  pkg/cache/queue/cluster_queue.go
  pkg/cache/queue/cluster_queue_test.go
  pkg/cache/queue/manager.go
  pkg/cache/queue/manager_test.go
  pkg/cache/queue/second_pass_queue.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add Action checkout validation job. (#14814)
  .github/workflows/release-utils.yml
Due: none

Use iter.Seq in takeAllReady and skip second-pass workloads with missing ClusterQueue
  pkg/cache/queue/manager.go
  pkg/cache/queue/manager_test.go
  pkg/cache/queue/second_pass_queue.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

docs: fix duplicated word and grammar typos in setup_failure_recovery.md (#14817)
  site/content/en/docs/tasks/manage/setup_failure_recovery.md
Due: pull-kueue-verify-main

Return Head from ClusterQueue.PopHead
  pkg/cache/queue/cluster_queue.go
  pkg/cache/queue/cluster_queue_test.go
  pkg/cache/queue/manager.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

docs: fix duplicated word and grammar typos in setup_failure_recovery.md (#14818)
  site/content/en/docs/tasks/manage/setup_failure_recovery.md
Due: pull-kueue-verify-main

docs: exact topology distribution KEP
  keps/13416-exact-topology-distribution/README.md
  keps/13416-exact-topology-distribution/kep.yaml
Due: pull-kueue-verify-main

Gate worker Job TTL clearing in MultiKueue
  pkg/controller/jobs/job/job_multikueue_adapter.go
  pkg/controller/jobs/job/job_multikueue_adapter_test.go
  pkg/features/kube_features.go
  site/data/featuregates/versioned_feature_list.yaml
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

DRA: trim explanatory comments per review feedback
  pkg/cache/queue/manager.go
  pkg/controller/core/workload_controller.go
  pkg/workload/workload.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Update formula for minCount
  keps/12100-partial-scaleup-for-elasticjob/README.md
Due: pull-kueue-verify-main

Retry the e2e Kueue image pull and report failures
  hack/testing/e2e-common.sh
  hack/testing/e2e-common_test.sh
  hack/testing/e2e-test.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

docs(kep-10076): update approver and risk mitigation details
  keps/10076-quota-release-strategy/README.md
  keps/10076-quota-release-strategy/kep.yaml
Due: pull-kueue-verify-main

charts: omit namespace from KueueViz cluster RBAC (#14816)
  charts/kueue/templates/kueueviz/cluster-role-binding.yaml
  charts/kueue/templates/kueueviz/clusterrole.yaml
  charts/kueue/tests/rbac_namespace_scope_test.yaml
  config/components/kueueviz/cluster-role-binding.yaml
  config/components/kueueviz/clusterrole.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

charts: omit namespace from KueueViz cluster RBAC (#14824)
  charts/kueue/templates/kueueviz/cluster-role-binding.yaml
  charts/kueue/templates/kueueviz/clusterrole.yaml
  charts/kueue/tests/rbac_namespace_scope_test.yaml
  config/components/kueueviz/cluster-role-binding.yaml
  config/components/kueueviz/clusterrole.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main
