Repository kubernetes-sigs/kueue: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

pull-kueue-test-unit-main:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.25
      env:
      - name: GO_TEST_FLAGS
        value: -race -count 3
      - name: GOMAXPROCS
        value: '6'
      command:
      - make
      args:
      - test
      resources:
        requests:
          cpu: '6'
  ...

pull-kueue-test-integration-baseline-main:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.25
      command:
      - make
      args:
      - test-integration-baseline
      env:
      - name: GOMAXPROCS
        value: '7'
      resources:
        requests:
          cpu: '7'
          memory: 10Gi
        limits:
  ...

pull-kueue-test-integration-extended-main:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.25
      command:
      - make
      args:
      - test-integration-extended
      env:
      - name: GOMAXPROCS
        value: '7'
      resources:
        requests:
          cpu: '7'
          memory: 10Gi
        limits:
  ...

pull-kueue-test-integration-multikueue-main:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.25
      command:
      - make
      args:
      - test-multikueue-integration
      env:
      - name: GOMAXPROCS
        value: '7'
      resources:
        requests:
          cpu: '7'
          memory: 10Gi
        limits:
  ...

pull-kueue-test-e2e-main-1-32:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      env:
      - name: E2E_K8S_VERSION
        value: '1.32'
      - name: BASE_BUILDER_IMAGE
        value: public.ecr.aws/docker/library/golang
  ...

pull-kueue-test-e2e-main-1-33:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      env:
      - name: E2E_K8S_VERSION
        value: '1.33'
      - name: BASE_BUILDER_IMAGE
        value: public.ecr.aws/docker/library/golang
  ...

pull-kueue-test-e2e-main-1-34:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      env:
      - name: E2E_K8S_VERSION
        value: '1.34'
      - name: BASE_BUILDER_IMAGE
        value: public.ecr.aws/docker/library/golang
  ...

pull-kueue-test-e2e-multikueue-main:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      env:
      - name: E2E_K8S_VERSION
        value: '1.34'
      - name: BASE_BUILDER_IMAGE
        value: public.ecr.aws/docker/library/golang
  ...

Fix compile issue: workloadSliceEnabled() -> WorkloadSliceEnabled()
  pkg/controller/jobframework/reconciler.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix file descriptor leak in RayJob integration test suite (#8280)
  test/integration/singlecluster/controller/jobs/rayjob/suite_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Extend permissions for dependencies approvers to approve package.json and package-lock.json.
  OWNERS
Due: none

Improve RayJob InTreeAutoscaling e2e test (#8174)
  pkg/util/testingjobs/rayjob/wrappers.go
  test/e2e/singlecluster/kuberay_test.go
  test/util/util.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix file descriptor leak in RayJob integration test suite (#8281)
  test/integration/singlecluster/controller/jobs/rayjob/suite_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Ray: Support RayJob InTreeAutoscaling by using the ElasticJobsViaWorkloadSlices feature (#8082)
  pkg/controller/jobframework/integrationmanager.go
  pkg/controller/jobframework/reconciler.go
  pkg/controller/jobs/job/job_controller.go
  pkg/controller/jobs/job/job_controller_test.go
  pkg/controller/jobs/job/job_webhook.go
  pkg/controller/jobs/job/ray_utils.go
  pkg/controller/jobs/job/ray_utils_test.go
  pkg/controller/jobs/raycluster/raycluster_controller.go
  pkg/controller/jobs/rayjob/rayjob_controller.go
  pkg/controller/jobs/rayjob/rayjob_webhook.go
  pkg/controller/jobs/rayjob/rayjob_webhook_test.go
  pkg/util/testingjobs/rayjob/wrappers.go
  pkg/workloadslicing/workloadslicing.go
  test/e2e/config/default/controller_manager_config.yaml
  test/e2e/config/default/values.yaml
  test/e2e/singlecluster/kuberay_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Cleanup evictWorkloadAfterFailedTASReplacement().
  pkg/scheduler/scheduler.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Cherry-pick from main to 0.14: Ray: Support RayJob InTreeAutoscaling by using the ElasticJobsViaWorkloadSlices feature (#8282)
  pkg/controller/jobframework/integrationmanager.go
  pkg/controller/jobframework/reconciler.go
  pkg/controller/jobs/job/job_controller.go
  pkg/controller/jobs/job/job_controller_test.go
  pkg/controller/jobs/job/job_webhook.go
  pkg/controller/jobs/job/ray_utils.go
  pkg/controller/jobs/job/ray_utils_test.go
  pkg/controller/jobs/raycluster/raycluster_controller.go
  pkg/controller/jobs/rayjob/rayjob_controller.go
  pkg/controller/jobs/rayjob/rayjob_webhook.go
  pkg/controller/jobs/rayjob/rayjob_webhook_test.go
  pkg/util/testingjobs/rayjob/wrappers.go
  pkg/workloadslicing/workloadslicing.go
  test/e2e/config/default/controller_manager_config.yaml
  test/e2e/config/default/values.yaml
  test/e2e/singlecluster/kuberay_test.go
  test/util/util.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Cherry-pick from main to 0.15: Ray: Support RayJob InTreeAutoscaling by using the ElasticJobsViaWorkloadSlices feature (#8284)
  pkg/controller/jobframework/integrationmanager.go
  pkg/controller/jobframework/reconciler.go
  pkg/controller/jobs/job/job_controller.go
  pkg/controller/jobs/job/job_controller_test.go
  pkg/controller/jobs/job/job_webhook.go
  pkg/controller/jobs/job/ray_utils.go
  pkg/controller/jobs/job/ray_utils_test.go
  pkg/controller/jobs/raycluster/raycluster_controller.go
  pkg/controller/jobs/rayjob/rayjob_controller.go
  pkg/controller/jobs/rayjob/rayjob_webhook.go
  pkg/controller/jobs/rayjob/rayjob_webhook_test.go
  pkg/util/testingjobs/rayjob/wrappers.go
  pkg/workloadslicing/workloadslicing.go
  test/e2e/config/default/controller_manager_config.yaml
  test/e2e/config/default/values.yaml
  test/e2e/singlecluster/kuberay_test.go
  test/util/util.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Cleanup evictWorkloadAfterFailedTASReplacement(). (#8285)
  pkg/scheduler/scheduler.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add support for JobSet DependsOn with PodsReady (#7889)
  pkg/controller/jobs/jobset/jobset_controller.go
  pkg/controller/jobs/jobset/jobset_controller_test.go
  pkg/util/testingjobs/jobset/wrappers.go
  test/e2e/customconfigs/waitforpodsready_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

reveiw pending
  site/content/en/docs/overview/_index.md
Due: pull-kueue-verify-main

docs: add TrainJob to Job-integrated features table on Overview (#7950)
  site/content/en/docs/overview/_index.md
Due: pull-kueue-verify-main

docs: add TrainJob to Job-integrated features tabl
  site/content/en/docs/overview/_index.md
Due: pull-kueue-verify-main

[website] docs: add TrainJob to Job-integrated features table on Overview (#8286)
  site/content/en/docs/overview/_index.md
Due: pull-kueue-verify-main

run only singlecluster tests in parallel
  Makefile-test.mk
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add replica_role label to metrics for HA setups
  cmd/kueue/main.go
  pkg/cache/queue/manager.go
  pkg/cache/scheduler/cache.go
  pkg/cache/scheduler/clusterqueue.go
  pkg/controller/core/clusterqueue_controller.go
  pkg/controller/core/clusterqueue_controller_test.go
  pkg/controller/core/cohort_controller.go
  pkg/controller/core/localqueue_controller.go
  pkg/controller/core/workload_controller.go
  pkg/controller/jobframework/reconciler.go
  pkg/controller/tas/node_failure_controller.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/scheduler/preemption/preemption.go
  pkg/scheduler/preemption/preemption_fair_test.go
  pkg/scheduler/preemption/preemption_hierarchical_test.go
  pkg/scheduler/preemption/preemption_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/util/roletracker/logger_test.go
  pkg/util/roletracker/tracker.go
  pkg/util/roletracker/tracker_test.go
  pkg/workload/workload.go
  site/content/en/docs/reference/metrics.md
  test/integration/singlecluster/scheduler/fairsharing/fair_sharing_test.go
  test/util/util.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

TAS NodeHotSwap: fix the bug that allows workload to requeue by scheduler even if already deleted on TAS NodeHotSwap eviction.
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_tas_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix MultiKueue admission check stuck pending for pod groups
  pkg/controller/admissionchecks/multikueue/workload.go
  pkg/controller/admissionchecks/multikueue/workload_test.go
  pkg/controller/jobframework/reconciler.go
  pkg/controller/jobs/job/job_multikueue_adapter.go
  pkg/controller/jobs/pod/pod_multikueue_adapter.go
  pkg/util/admissioncheck/admissioncheck.go
  test/e2e/multikueue/e2e_test.go
  test/integration/multikueue/jobs_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Provide an event handler for ClusterProfile
  pkg/controller/admissionchecks/multikueue/multikueuecluster.go
  pkg/controller/admissionchecks/multikueue/multikueuecluster_test.go
  test/integration/multikueue/setup_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add replica_role label to metrics for HA setups (#8080)
  cmd/kueue/main.go
  pkg/cache/queue/manager.go
  pkg/cache/scheduler/cache.go
  pkg/cache/scheduler/clusterqueue.go
  pkg/controller/core/clusterqueue_controller.go
  pkg/controller/core/clusterqueue_controller_test.go
  pkg/controller/core/cohort_controller.go
  pkg/controller/core/localqueue_controller.go
  pkg/controller/core/workload_controller.go
  pkg/controller/jobframework/reconciler.go
  pkg/controller/tas/node_failure_controller.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/scheduler/preemption/preemption.go
  pkg/scheduler/preemption/preemption_fair_test.go
  pkg/scheduler/preemption/preemption_hierarchical_test.go
  pkg/scheduler/preemption/preemption_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/util/roletracker/logger_test.go
  pkg/util/roletracker/tracker.go
  pkg/util/roletracker/tracker_test.go
  pkg/workload/workload.go
  site/content/en/docs/reference/metrics.md
  test/integration/singlecluster/scheduler/fairsharing/fair_sharing_test.go
  test/util/util.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Extend permissions for dependencies approvers to approve package.json and package-lock.json. (#8283)
  OWNERS
Due: none

Extend permissions for dependencies approvers to approve package.json and package-lock.json. (#8292)
  OWNERS
Due: none

Revert "Add support for JobSet DependsOn with PodsReady (#7889)"
  pkg/controller/jobs/jobset/jobset_controller.go
  pkg/controller/jobs/jobset/jobset_controller_test.go
  pkg/util/testingjobs/jobset/wrappers.go
  test/e2e/customconfigs/waitforpodsready_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Extend permissions for dependencies approvers to approve package.json and package-lock.json. (#8291)
  OWNERS
Due: none

restore fair sharing tests
  test/e2e/singlecluster/fair_sharing_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix integration tests
  test/integration/multikueue/enabled_integration_test.go
  test/integration/multikueue/jobs_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Revert "Add support for JobSet DependsOn with PodsReady (#7889)" (#8294)
  pkg/controller/jobs/jobset/jobset_controller.go
  pkg/controller/jobs/jobset/jobset_controller_test.go
  pkg/util/testingjobs/jobset/wrappers.go
  test/e2e/customconfigs/waitforpodsready_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Remove unused KeepAdmissionCheckPending method
  pkg/controller/admissionchecks/multikueue/externalframeworks/adapter.go
  pkg/controller/jobframework/interface.go
  pkg/controller/jobs/appwrapper/appwrapper_multikueue_adapter.go
  pkg/controller/jobs/job/job_multikueue_adapter.go
  pkg/controller/jobs/jobset/jobset_multikueue_adapter.go
  pkg/controller/jobs/kubeflow/kubeflowjob/kubeflowjob_multikueue_adapter.go
  pkg/controller/jobs/mpijob/mpijob_multikueue_adapter.go
  pkg/controller/jobs/pod/pod_multikueue_adapter.go
  pkg/controller/jobs/raycluster/raycluster_multikueue_adapter.go
  pkg/controller/jobs/rayjob/rayjob_multikueue_adapter.go
  pkg/controller/jobs/trainjob/trainjob_multikueue_adapter.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix MultiKueue admission check stuck pending for pod groups (#8288)
  pkg/controller/admissionchecks/multikueue/workload.go
  pkg/controller/admissionchecks/multikueue/workload_test.go
  pkg/controller/jobframework/reconciler.go
  pkg/controller/jobs/job/job_multikueue_adapter.go
  pkg/controller/jobs/pod/pod_multikueue_adapter.go
  pkg/util/admissioncheck/admissioncheck.go
  test/e2e/multikueue/e2e_test.go
  test/integration/multikueue/jobs_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Provide an event handler for ClusterProfile (#8290)
  pkg/controller/admissionchecks/multikueue/multikueuecluster.go
  pkg/controller/admissionchecks/multikueue/multikueuecluster_test.go
  test/integration/multikueue/setup_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

run e2e singlecluster tests with 2 procs
  Makefile-test.mk
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Automated cherry pick of #8189: Fix MultiKueue admission check stuck pending for pod groups (#8293)
  pkg/controller/admissionchecks/multikueue/workload.go
  pkg/controller/admissionchecks/multikueue/workload_test.go
  pkg/controller/jobframework/reconciler.go
  pkg/controller/jobs/job/job_multikueue_adapter.go
  pkg/controller/jobs/pod/pod_multikueue_adapter.go
  pkg/util/admissioncheck/admissioncheck.go
  test/e2e/multikueue/e2e_test.go
  test/integration/multikueue/enabled_integration_test.go
  test/integration/multikueue/jobs_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

update slow spec
  test/integration/framework/framework.go
  test/integration/singlecluster/controller/admissionchecks/provisioning/provisioning_test.go
  test/integration/singlecluster/controller/core/workload_controller_test.go
  test/integration/singlecluster/controller/jobs/job/job_controller_test.go
  test/integration/singlecluster/controller/jobs/pod/pod_controller_test.go
  test/integration/singlecluster/controller/jobs/raycluster/raycluster_controller_test.go
  test/integration/singlecluster/controller/jobs/trainjob/trainjob_controller_test.go
  test/integration/singlecluster/scheduler/fairsharing/fair_sharing_test.go
  test/integration/singlecluster/scheduler/podsready/scheduler_test.go
  test/integration/singlecluster/scheduler/scheduler_test.go
  test/integration/singlecluster/scheduler/workload_controller_test.go
  test/integration/singlecluster/tas/tas_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Remove unused KeepAdmissionCheckPending method (#8295)
  pkg/controller/admissionchecks/multikueue/externalframeworks/adapter.go
  pkg/controller/jobframework/interface.go
  pkg/controller/jobs/appwrapper/appwrapper_multikueue_adapter.go
  pkg/controller/jobs/job/job_multikueue_adapter.go
  pkg/controller/jobs/jobset/jobset_multikueue_adapter.go
  pkg/controller/jobs/kubeflow/kubeflowjob/kubeflowjob_multikueue_adapter.go
  pkg/controller/jobs/mpijob/mpijob_multikueue_adapter.go
  pkg/controller/jobs/pod/pod_multikueue_adapter.go
  pkg/controller/jobs/raycluster/raycluster_multikueue_adapter.go
  pkg/controller/jobs/rayjob/rayjob_multikueue_adapter.go
  pkg/controller/jobs/trainjob/trainjob_multikueue_adapter.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Path conditions:
  pull-kueue-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-baseline-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-extended-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-32: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-33: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-34: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-tas-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-customconfigs-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-kueueviz-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-verify-main: unless all of: ^docs/|^\.github/|^(README|LICENSE|OWNERS)$
  pull-kueue-build-image-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-scheduling-perf-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-verify-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-integration-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-e2e-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
