Repository kubernetes-sigs/kueue: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Path conditions:
  pull-kueue-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-baseline-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-extended-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-32: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-33: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-34: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-tas-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-customconfigs-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-kueueviz-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-verify-main: unless all of: ^docs/|^\.github/|^(README|LICENSE|OWNERS)$
  pull-kueue-build-image-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-scheduling-perf-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-verify-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-integration-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-e2e-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/

MultiKueue: fix eviction initiated by the manager cluster
  pkg/controller/admissionchecks/multikueue/workload.go
  pkg/controller/jobs/job/job_multikueue_adapter.go
  test/e2e/multikueue/e2e_test.go
  test/e2e/multikueue/suite_test.go
  test/integration/multikueue/scheduler/scheduler_test.go
  test/integration/multikueue/scheduler/suite_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

MultiKueue: fix eviction initiated by the manager cluster (#8151)
  pkg/controller/admissionchecks/multikueue/workload.go
  pkg/controller/jobs/job/job_multikueue_adapter.go
  test/e2e/multikueue/e2e_test.go
  test/e2e/multikueue/suite_test.go
  test/integration/multikueue/scheduler/scheduler_test.go
  test/integration/multikueue/scheduler/suite_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Use bestMatchByCondition instead of FirstReserving() and RemoteFinishedCondition().
  pkg/controller/admissionchecks/multikueue/workload.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Use options... pattern for WorkloadShouldBeSuspended
  pkg/controller/jobframework/defaults.go
  pkg/controller/jobframework/defaults_test.go
  pkg/controller/jobs/deployment/deployment_webhook.go
  pkg/controller/jobs/leaderworkerset/leaderworkerset_reconciler.go
  pkg/controller/jobs/leaderworkerset/leaderworkerset_webhook.go
  pkg/controller/jobs/raycluster/raycluster_webhook.go
  pkg/controller/jobs/statefulset/statefulset_reconciler.go
  pkg/controller/jobs/statefulset/statefulset_webhook.go
  pkg/controller/jobs/trainjob/trainjob_webhook.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add back validations in rayjob webhook
  pkg/controller/jobs/rayjob/rayjob_webhook.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add back more validation in RayJobWebhook, update unit test
  pkg/controller/jobs/rayjob/rayjob_webhook.go
  pkg/controller/jobs/rayjob/rayjob_webhook_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

wip
  config/components/manager/controller_manager_config.yaml
  config/components/manager/manager.yaml
  site/static/examples/walltime/single-clusterqueue-setup.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

implementation of tls min version kep
  apis/config/v1beta1/configuration_types.go
  apis/config/v1beta1/zz_generated.conversion.go
  apis/config/v1beta1/zz_generated.deepcopy.go
  apis/config/v1beta2/configuration_types.go
  apis/config/v1beta2/zz_generated.deepcopy.go
  cmd/kueue/main.go
  pkg/config/config.go
  pkg/util/tlsconfig/tlsconfig.go
  pkg/util/tlsconfig/tlsconfig_test.go
  pkg/visibility/server.go
  site/content/en/docs/reference/kueue-config.v1beta1.md
  site/content/en/docs/reference/kueue-config.v1beta2.md
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Add documentation for RayJob Autoscaling feature
  site/content/en/docs/concepts/elastic_workload.md
  site/content/en/docs/tasks/run/rayjobs.md
  site/static/examples/jobs/ray-job-autoscaling-code-sample.yaml
  site/static/examples/jobs/ray-job-autoscaling-sample.yaml
Due: pull-kueue-verify-main

Create zh-CN version of elastic_workload.md
  site/content/zh-CN/docs/concepts/elastic_workload.md
Due: pull-kueue-verify-main

Update zh-CN version rayjobs.md
  site/content/zh-CN/docs/tasks/run/rayjobs.md
Due: pull-kueue-verify-main

Update job_controller_test.go
  pkg/controller/jobs/job/job_controller_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Update raycluster_controller_test.go
  test/integration/singlecluster/controller/jobs/raycluster/raycluster_controller_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Check raycluster suspend for low priority rayJob integration test
  test/integration/singlecluster/controller/jobs/rayjob/rayjob_controller_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Remove populator dependecies before make artifact. (#8371)
  hack/helm-chart-package.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

refactor: remove cmd/kueuectl/app/util package
  cmd/kueuectl/app/clientgetter/client_getter.go
  cmd/kueuectl/app/cmd.go
  cmd/kueuectl/app/completion/completion.go
  cmd/kueuectl/app/create/create.go
  cmd/kueuectl/app/create/create_clusterqueue.go
  cmd/kueuectl/app/create/create_localqueue.go
  cmd/kueuectl/app/create/create_resourceflavor.go
  cmd/kueuectl/app/delete/delete_workload.go
  cmd/kueuectl/app/delete/helpers.go
  cmd/kueuectl/app/dryrun/dry_run.go
  cmd/kueuectl/app/flags/flags.go
  cmd/kueuectl/app/list/list.go
  cmd/kueuectl/app/list/list_clusterqueue.go
  cmd/kueuectl/app/list/list_localqueue.go
  cmd/kueuectl/app/list/list_pods.go
  cmd/kueuectl/app/list/list_resourceflavor.go
  cmd/kueuectl/app/list/list_workload.go
  cmd/kueuectl/app/options/update_workload_activation_options.go
  cmd/kueuectl/app/passthrough/passthrough.go
  cmd/kueuectl/app/resume/resume.go
  cmd/kueuectl/app/resume/resume_clusterqueue.go
  cmd/kueuectl/app/resume/resume_localqueue.go
  cmd/kueuectl/app/resume/resume_workload.go
  cmd/kueuectl/app/stop/stop.go
  cmd/kueuectl/app/stop/stop_clusterqueue.go
  cmd/kueuectl/app/stop/stop_localqueue.go
  cmd/kueuectl/app/stop/stop_workload.go
  cmd/kueuectl/app/testing/fake.go
  cmd/kueuectl/app/version/version.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

fix import_test.go
  cmd/importer/pod/import_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

fix manager_test.go
  pkg/cache/queue/manager_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

fix raycluster_controller_test.go
  pkg/controller/jobs/raycluster/raycluster_controller_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

fix scheduler_test.go
  pkg/scheduler/scheduler_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

fix workload_controller_test.go
  pkg/controller/core/workload_controller_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

fix workload_webhook_test.go
  pkg/webhooks/workload_webhook_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

fix topology_ungater_test.go
  pkg/controller/tas/topology_ungater_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

fix workload_test.go
  pkg/webhooks/workload_webhook_test.go
  pkg/workload/workload_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

introduce short name kwl for kueue workloads
  apis/kueue/v1beta1/workload_types.go
  apis/kueue/v1beta2/workload_types.go
  charts/kueue/templates/crd/kueue.x-k8s.io_workloads.yaml
  config/components/crd/bases/kueue.x-k8s.io_workloads.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Apply suggestions from code review
  pkg/controller/jobs/sparkapplication/sparkapplication_controller.go
  pkg/controller/jobs/sparkapplication/sparkapplication_podset.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Apply suggestions from code review
  pkg/controller/jobs/sparkapplication/sparkapplication_podset.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Improve integration tests execution time (#8327)
  test/integration/singlecluster/controller/admissionchecks/provisioning/provisioning_test.go
  test/integration/singlecluster/controller/core/clusterqueue_controller_test.go
  test/integration/singlecluster/controller/core/localqueue_controller_test.go
  test/integration/singlecluster/controller/core/workload_controller_test.go
  test/integration/singlecluster/controller/dra/dra_test.go
  test/integration/singlecluster/controller/jobs/appwrapper/appwrapper_controller_test.go
  test/integration/singlecluster/controller/jobs/jaxjob/jaxjob_controller_test.go
  test/integration/singlecluster/controller/jobs/job/job_controller_test.go
  test/integration/singlecluster/controller/jobs/jobset/jobset_controller_test.go
  test/integration/singlecluster/controller/jobs/mpijob/mpijob_controller_test.go
  test/integration/singlecluster/controller/jobs/pod/pod_controller_test.go
  test/integration/singlecluster/controller/jobs/pytorchjob/pytorchjob_controller_test.go
  test/integration/singlecluster/controller/jobs/raycluster/raycluster_controller_test.go
  test/integration/singlecluster/controller/jobs/rayjob/rayjob_controller_test.go
  test/integration/singlecluster/controller/jobs/trainjob/trainjob_controller_test.go
  test/integration/singlecluster/importer/importer_test.go
  test/integration/singlecluster/kueuectl/passthrough_test.go
  test/integration/singlecluster/scheduler/fairsharing/fair_sharing_test.go
  test/integration/singlecluster/scheduler/podsready/scheduler_test.go
  test/integration/singlecluster/scheduler/preemption_test.go
  test/integration/singlecluster/scheduler/scheduler_test.go
  test/integration/singlecluster/scheduler/workload_controller_test.go
  test/integration/singlecluster/tas/tas_test.go
  test/integration/singlecluster/webhook/jobs/raycluster_webhook_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

cleanup: improve ExpectWorkloadsToBeAdmittedCount fail message (#8373)
  test/util/util.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

cleanup: add ginkgo.By to the Consistently block in second-pass backoff integration test (#8335)
  test/integration/singlecluster/tas/tas_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fix OWNERS.
  OWNERS
Due: none

Fix OWNERS. (#8386)
  OWNERS
Due: none

Fix OWNERS. (#8388)
  OWNERS
Due: none

Fix OWNERS. (#8389)
  OWNERS
Due: none

Switching to workload test builder in manager test.
  pkg/cache/queue/manager_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Streamline the MultiKueue ClusterProfile API documentation
  site/content/en/docs/tasks/manage/setup_multikueue.md
Due: pull-kueue-verify-main

Queue cache - add reverse workload mapping to stop relying on previous workload state during update/delete (#8001)
  pkg/cache/queue/manager.go
  pkg/cache/queue/manager_test.go
  pkg/controller/core/workload_controller.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main
