Repository kubernetes-sigs/kueue: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Path conditions:
  pull-kueue-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-baseline-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-extended-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-integration-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-32: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-33: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-main-1-34: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-multikueue-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-tas-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-customconfigs-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-kueueviz-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-e2e-certmanager-upgrade-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-verify-main: unless all of: ^docs/|^\.github/|^(README|LICENSE|OWNERS)$
  pull-kueue-build-image-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-test-scheduling-perf-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-verify-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-integration-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/
  pull-kueue-populator-test-e2e-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$|^(keps|site|charts)/

Requeue pending workloads when a non-TAS ResourceFlavor nodeTaints change
  pkg/controller/core/resourceflavor_controller.go
  test/integration/singlecluster/scheduler/scheduler_nodetaints_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Requeue pending workloads when a non-TAS ResourceFlavor nodeTaints change (#13670)
  pkg/controller/core/resourceflavor_controller.go
  test/integration/singlecluster/scheduler/scheduler_nodetaints_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Skip usage of resource API when resource it's not available (#13629)
  cmd/kueue/main.go
  pkg/controller/core/core.go
  pkg/controller/core/workload_controller.go
  pkg/util/dra/dra.go
  pkg/util/dra/dra_test.go
  test/integration/singlecluster/controller/dra/suite_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Requeue pending workloads when a non-TAS ResourceFlavor nodeTaints change (#13687)
  pkg/controller/core/resourceflavor_controller.go
  test/integration/singlecluster/scheduler/scheduler_nodetaints_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Requeue pending workloads when a non-TAS ResourceFlavor nodeTaints change (#13688)
  pkg/controller/core/resourceflavor_controller.go
  test/integration/singlecluster/scheduler/scheduler_nodetaints_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Harden Netlify preview link verification (#13591)
  Makefile-verify.mk
  hack/testing/linkchecker/README.md
  hack/testing/linkchecker/verify-preview.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Harden Netlify preview link verification
  Makefile-verify.mk
  hack/testing/linkchecker/README.md
  hack/testing/linkchecker/verify-preview.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Harden Netlify preview link verification (#13690)
  Makefile-verify.mk
  hack/testing/linkchecker/README.md
  hack/testing/linkchecker/verify-preview.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

TAS Scheduler sliceSize division-by-zero hardening (#12728)
  pkg/features/kube_features.go
  pkg/webhooks/workload_webhook.go
  pkg/webhooks/workload_webhook_test.go
  site/data/featuregates/versioned_feature_list.yaml
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/integration/singlecluster/tas/tas_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

TAS: add TASFlavorFallback gate to allow flavor fallback on TAS recompute
  keps/2724-topology-aware-scheduling/README.md
  keps/2724-topology-aware-scheduling/kep.yaml
  pkg/features/kube_features.go
  pkg/scheduler/flavorassigner/flavorassigner.go
  pkg/scheduler/scheduler_tas_test.go
  site/data/featuregates/versioned_feature_list.yaml
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

MultiKueue: allow update on workloads in the example worker RBAC
  site/static/examples/multikueue/create-multikueue-kubeconfig.sh
Due: pull-kueue-verify-main

update doc
  keps/77-dynamically-sized-jobs/README.md
Due: pull-kueue-verify-main

MultiKueue: also grant patch on workloads in the example worker RBAC
  site/static/examples/multikueue/create-multikueue-kubeconfig.sh
Due: pull-kueue-verify-main

MultiKueue: allow update on workloads in the example worker RBAC (#13692)
  site/static/examples/multikueue/create-multikueue-kubeconfig.sh
Due: pull-kueue-verify-main

[release-0.18] MultiKueue: allow update on workloads in the example worker RBAC (#13694)
  site/static/examples/multikueue/create-multikueue-kubeconfig.sh
Due: pull-kueue-verify-main

[release-0.19] MultiKueue: allow update on workloads in the example worker RBAC (#13693)
  site/static/examples/multikueue/create-multikueue-kubeconfig.sh
Due: pull-kueue-verify-main

Eliminate concrete uses of MapRequests outside pkg/resources
  pkg/cache/scheduler/cache_test.go
  pkg/cache/scheduler/tas_cache_update_test.go
  pkg/cache/scheduler/tas_flavor.go
  pkg/cache/scheduler/tas_flavor_snapshot.go
  pkg/cache/scheduler/tas_flavor_snapshot_test.go
  pkg/cache/scheduler/tas_flavor_test.go
  pkg/cache/scheduler/tas_non_tas_pod_cache.go
  pkg/cache/scheduler/tas_non_tas_pod_cache_test.go
  pkg/dra/claims.go
  pkg/resources/factory.go
  pkg/resources/interface.go
  pkg/resources/requests.go
  pkg/resources/requests_test.go
  pkg/resources/resource.go
  pkg/resources/slice_requests.go
  pkg/resources/slice_requests_fuzz_test.go
  pkg/resources/slice_requests_test.go
  pkg/scheduler/flavorassigner/flavorassigner.go
  pkg/scheduler/flavorassigner/flavorassigner_test.go
  pkg/util/limitrange/limitrange.go
  pkg/util/tas/tas_assignment.go
  pkg/workload/workload.go
  pkg/workload/workload_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Address PR review comments
  pkg/resources/factory.go
  pkg/resources/slice_requests.go
  pkg/util/limitrange/limitrange.go
  pkg/util/limitrange/limitrange_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

docs: add broken website link for CI validation
  site/content/en/docs/overview/_index.md
Due: pull-kueue-verify-main

Cleanup: Removed SkipFinalizersForPodsSuspendedByParent
  pkg/features/kube_features.go
  site/data/featuregates/removed_feature_list.yaml
  site/data/featuregates/versioned_feature_list.yaml
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

should work
  hack/testing/calculate_performance_thresholds.py
  test/performance/scheduler/configs/baseline/rangespec.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

multikueue: setup MultiKueue controllers for follower binaries
  pkg/controller/admissionchecks/multikueue/multikueuecluster.go
  pkg/controller/admissionchecks/multikueue/workload.go
  pkg/controller/core/leader_aware_reconciler.go
  pkg/controller/core/leader_aware_reconciler_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

docs: prepare non-website CI validation
  README.md
  site/content/en/docs/overview/_index.md
Due: pull-kueue-verify-main

Report rehearsal failures before the missing-credential message, code rabbit comment
  .github/workflows/release-utils.yml
Due: none

self nominate kannon92 for owners for config directory (#12384)
  pkg/config/OWNERS
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

cleanup: remove JobSuspended hack logic
  pkg/controller/jobs/job/job_multikueue_adapter.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Updated test code comments for MultiKueue Adapter to match behavior after hack removal
  pkg/controller/jobs/job/job_multikueue_adapter_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

feat: add Alpha FG to disable JobSuspended workaround
  pkg/controller/jobs/job/job_multikueue_adapter.go
  pkg/controller/jobs/job/job_multikueue_adapter_test.go
  pkg/features/kube_features.go
  site/data/featuregates/versioned_feature_list.yaml
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Test update.
  test/integration/singlecluster/controller/core/custom_labels_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Correct Flavor Assignment in Pod Importer
  cmd/importer/README.md
  cmd/importer/cache/cache.go
  cmd/importer/pod/check.go
  cmd/importer/pod/check_test.go
  cmd/importer/pod/import.go
  cmd/importer/pod/import_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Replace heavy operation with live workload tracker.
  pkg/cache/queue/cluster_queue.go
  pkg/cache/queue/cluster_queue_test.go
  pkg/cache/queue/inadmissible_workloads.go
  pkg/cache/queue/manager.go
  pkg/cache/queue/metrics.go
  pkg/metrics/custom_labels.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

update unit teste before FG graduation
  pkg/controller/core/workload_controller_inadmissible_test.go
  pkg/controller/jobs/job/job_controller_test.go
  pkg/controller/jobs/pod/pod_controller_test.go
  pkg/controller/jobs/raycluster/raycluster_controller_test.go
  pkg/util/testing/observability.go
  pkg/workload/admissionchecks_test.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Fixes and adjustments
  pkg/cache/queue/cluster_queue.go
  pkg/metrics/custom_labels.go
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main

Reduce website link checker attempts
  hack/testing/linkchecker/verify.sh
Due: pull-kueue-test-unit-main, pull-kueue-test-integration-baseline-main, pull-kueue-test-integration-extended-main, pull-kueue-test-integration-multikueue-main, pull-kueue-test-e2e-main-1-32, pull-kueue-test-e2e-main-1-33, pull-kueue-test-e2e-main-1-34, pull-kueue-test-e2e-multikueue-main, pull-kueue-test-e2e-tas-main, pull-kueue-test-e2e-customconfigs-main, pull-kueue-test-e2e-certmanager-main, pull-kueue-test-e2e-kueueviz-main, pull-kueue-test-e2e-upgrade-main, pull-kueue-test-e2e-certmanager-upgrade-main, pull-kueue-verify-main, pull-kueue-build-image-main, pull-kueue-test-scheduling-perf-main, pull-kueue-populator-verify-main, pull-kueue-populator-test-unit-main, pull-kueue-populator-test-integration-main, pull-kueue-populator-test-e2e-main
