Repository kubernetes-sigs/windows-testing: changes, and which Prow jobs are due for each by the changed paths.
All: pull-e2e-capz-windows-2022-extension, pull-e2e-run-capz-sh-windows-2022-hyperv, pull-e2e-capz-windows-2022-extension-gmsa, pull-e2e-capz-validate-pr-templates, pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

pull-e2e-capz-windows-2022-extension:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-capz-windows-common: 'true'
    preset-capz-containerd-1-7-latest: 'true'
    preset-azure-community: 'true'
    preset-capz-windows-2022: 'true'
  spec:
    serviceAccountName: azure
  ...

pull-e2e-run-capz-sh-windows-2022-hyperv:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
    preset-capz-windows-common: 'true'
    preset-capz-containerd-1-7-latest: 'true'
    preset-capz-windows-2022: 'true'
  spec:
    serviceAccountName: azure
  ...

pull-e2e-capz-windows-2022-extension-gmsa:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
    preset-capz-windows-common: 'true'
    preset-capz-containerd-1-7-latest: 'true'
    preset-capz-windows-2022: 'true'
  spec:
    serviceAccountName: azure
  ...

pull-e2e-capz-validate-pr-templates:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
    preset-capz-containerd-1-7-latest: 'true'
    preset-capz-windows-common: 'true'
    preset-capz-windows-2022: 'true'
  spec:
    serviceAccountName: azure
  ...

pull-kubernetes-e2enode-windows:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
      - ./scripts/ci-k8s-e2e-node-test.sh
  ...

pull-kubernetes-unit-windows:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
      - ./scripts/ci-k8s-unit-test.sh
  ...

Adding kuberentes staging go packages to list of packages to run Windows unit tests for
  scripts/k8s_unit_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

temp change to trigger PR gate checkin
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

skipping apiserver related unit tests in staging packages for Windows
  scripts/k8s_unit_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

use native containerd logging to file
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

update the owners file
  OWNERS
Due: none

use native containerd logging to file (#547)
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Remove adelina-t from approvers list
  OWNERS
Due: none

Update Hyper-V mutating webhook to controller-runtime v0.19
  helpers/helm/templates/deployment.yaml
  helpers/helm/templates/mutatingwebhookconfiguration.yaml
  helpers/helm/values-hyperv.yaml
  helpers/helm/values.yaml
  helpers/hyper-v-mutating-webhook/deployment.yaml
  helpers/hyper-v-mutating-webhook/go.mod
  helpers/hyper-v-mutating-webhook/go.sum
  helpers/hyper-v-mutating-webhook/main.go
  helpers/hyper-v-mutating-webhook/webhook.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

Fix Hyper-V E2E: pin containerd to v2.1.6 and fix webhook scheduling
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Fix Hyper-V E2E: pin containerd to v2.1.6 and fix webhook scheduling
  capz/run-capz-e2e.sh
  helpers/helm/values-hyperv.yaml
  helpers/hyper-v-mutating-webhook/main.go
  helpers/hyper-v-mutating-webhook/webhook.go
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-run-capz-sh-windows-2022-hyperv

Exclude Helm templates from yamllint
  .yamllint.yml
Due: none

update the owners file (#548)
  OWNERS
Due: none

Update Hyper-V mutating webhook to controller-runtime v0.19 (#546)
  .yamllint.yml
  capz/run-capz-e2e.sh
  helpers/helm/templates/deployment.yaml
  helpers/helm/templates/mutatingwebhookconfiguration.yaml
  helpers/helm/values-hyperv.yaml
  helpers/helm/values.yaml
  helpers/hyper-v-mutating-webhook/deployment.yaml
  helpers/hyper-v-mutating-webhook/go.mod
  helpers/hyper-v-mutating-webhook/go.sum
  helpers/hyper-v-mutating-webhook/main.go
  helpers/hyper-v-mutating-webhook/webhook.go
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-run-capz-sh-windows-2022-hyperv

Support USE_COMMUNITY_GALLERY flag for local deployment
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Revert "Adding a way to specify a shared image gallery so we can test staging images produced from image-builder before promoting them (#528)"
  capz/templates/ci/patches/compute-gallery.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Temp fix the test grid windows master test failure
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Temp fix the test grid windows master test failure (#551)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Fix capz PR jobs - downloand and import image tars instead of retagging missing images
  capz/templates/gmsa-pr.yaml
  capz/templates/pr/patches/kubeadm-bootstrap-control-plane-pr.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

Fix capz PR jobs - downloand and import image tars instead of retagging missing images (#552)
  capz/templates/gmsa-pr.yaml
  capz/templates/pr/patches/kubeadm-bootstrap-control-plane-pr.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

Fix Hyper-V webhook: restore objectSelector and skip hostNetwork pods
  helpers/helm/values-hyperv.yaml
  helpers/hyper-v-mutating-webhook/webhook.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

Fix Hyper-V webhook: restore objectSelector and skip hostNetwork pods (#553)
  helpers/helm/values-hyperv.yaml
  helpers/hyper-v-mutating-webhook/webhook.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

Fix Hyper-V webhook image name in Makefile and remove containerd v2.1.6 pin
  capz/run-capz-e2e.sh
  helpers/Makefile
Due: pull-e2e-capz-windows-2022-extension

Fix Hyper-V webhook image name in Makefile and remove containerd v2.1.6 pin (#554)
  capz/run-capz-e2e.sh
  helpers/Makefile
Due: pull-e2e-capz-windows-2022-extension

Pin GitHub Actions to commit SHAs and configure Dependabot
  .github/dependabot.yml
  .github/workflows/capz.yml
  .github/workflows/helm-chart-validation.yaml
  .github/workflows/webhook-build.yaml
Due: none

Pin GitHub Actions to commit SHAs and configure Dependabot (#555)
  .github/dependabot.yml
  .github/workflows/capz.yml
  .github/workflows/helm-chart-validation.yaml
  .github/workflows/webhook-build.yaml
Due: none

Fix Hyper-V sandbox image for Windows Server 2025 compatibility
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Fix Hyper-V sandbox image for Windows Server 2025 compatibility (#557)
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Add Pod Overhead and scheduling to Hyper-V RuntimeClass
  helpers/helm/templates/runtimeclass.yaml
  helpers/helm/values-hyperv.yaml
  helpers/hyper-v-mutating-webhook/hyperv-runtimeclass.yaml
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

Fix the lint errors
  capz/gmsa/configuration/configure.go
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-windows-2022-extension-gmsa

Add Pod Overhead and scheduling to Hyper-V RuntimeClass (#560)
  helpers/helm/templates/runtimeclass.yaml
  helpers/helm/values-hyperv.yaml
  helpers/hyper-v-mutating-webhook/hyperv-runtimeclass.yaml
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

chore(deps): (deps): bump the actions group with 4 updates (#558)
  .claude/settings.json
  .github/workflows/capz.yml
  .github/workflows/helm-chart-validation.yaml
  .github/workflows/webhook-build.yaml
  capz/gmsa/configuration/.golangci.yml
  capz/gmsa/configuration/configure.go
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-windows-2022-extension-gmsa

Skip non-Windows pods in Hyper-V mutating webhook
  helpers/hyper-v-mutating-webhook/webhook.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

Skip non-Windows pods in Hyper-V mutating webhook (#561)
  helpers/hyper-v-mutating-webhook/webhook.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

Adding out-of-tree azure credentail provider set up to CAPZ templates
  capz/run-capz-e2e.sh
  capz/templates/ci/kustomization.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/patches/oot-credential-provider-kcp.yaml
  capz/templates/patches/oot-credential-provider-win.yaml
  capz/templates/pr/kustomization.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

Adding out-of-tree azure credentail provider set up to CAPZ templates (#562)
  capz/run-capz-e2e.sh
  capz/templates/ci/kustomization.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/patches/oot-credential-provider-kcp.yaml
  capz/templates/patches/oot-credential-provider-win.yaml
  capz/templates/pr/kustomization.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

helpers/helm: skip img-puller namespace in Hyper-V webhook
  helpers/helm/values-hyperv.yaml
Due: none

helpers/helm: skip img-puller namespace in Hyper-V webhook (#563)
  helpers/helm/values-hyperv.yaml
Due: none

Set AZURE_RESOURCE_GROUP to workload cluster resource group for some e2e test scenarios
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Path conditions:
  pull-e2e-capz-windows-2022-extension: any of: capz/.*
  pull-e2e-run-capz-sh-windows-2022-hyperv: any of: helpers/hyper-v-mutating-webhook/.*
  pull-e2e-capz-windows-2022-extension-gmsa: any of: capz/gmsa/.*|capz/templates/gmsa.yaml
  pull-e2e-capz-validate-pr-templates: any of: capz/templates/pr/.*
  pull-kubernetes-e2enode-windows: any of: ^scripts\/.*
  pull-kubernetes-unit-windows: any of: ^scripts\/.*
