Repository kubernetes-sigs/windows-testing: changes, and which Prow jobs are due for each by the changed paths.
All: pull-e2e-capz-windows-2022-extension, pull-e2e-run-capz-sh-windows-2022-hyperv, pull-e2e-capz-windows-2022-extension-gmsa, pull-e2e-capz-validate-pr-templates

pull-e2e-capz-windows-2022-extension:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
    preset-windows-private-registry-cred: 'true'
    preset-capz-windows-common: 'true'
  ...

pull-e2e-run-capz-sh-windows-2022-hyperv:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
    preset-windows-private-registry-cred: 'true'
    preset-capz-windows-common: 'true'
  ...

pull-e2e-capz-windows-2022-extension-gmsa:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
    preset-windows-private-registry-cred: 'true'
    preset-capz-windows-common: 'true'
  ...

pull-e2e-capz-validate-pr-templates:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
    preset-capz-containerd-1-7-latest: 'true'
    preset-capz-windows-common: 'true'
    preset-capz-windows-2022: 'true'
  ...

don't repeat output
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Set registry keys to write process dumps to c:\localdumps
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Add ability to use workload identity
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

unittests: Updates kubeadm build flags
  scripts/k8s_unit_windows.ps1
Due: none

Be explicit on namespace for cloud-provider
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Use calculated template and save it for debugging
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

be explicit with ns for cloud-provider
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Add retries properly
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Remove storage secret from docs
  capz/readme.md
Due: pull-e2e-capz-windows-2022-extension

Trying to debug why clusters aren't coming up for PR jobs
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

bump helm to v3.15.2
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

remove file that was removed in capz
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Parse prow creds when token file not present
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Bump go version
  .github/workflows/capz.yml
  capz/gmsa/configuration/go.mod
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-windows-2022-extension-gmsa

Must parse values before loading cli
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Update azure sdk for golang
  capz/gmsa/configuration/configure.go
  capz/gmsa/configuration/go.mod
  capz/gmsa/configuration/go.sum
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-windows-2022-extension-gmsa

drop west europe do to re-occuring capacity issues
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Add ability to use community clusters
  .gitignore
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Dummy commit to test jobs
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Update regions for new sub
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

update skip until #446 is resolved
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Skip DynamicResourceAllocation
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

When moving to new sub, the name of the keyvault changed
  capz/gmsa/ci-gmsa.sh
  capz/gmsa/domain.init.tmpl
  capz/gmsa/readme.md
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-windows-2022-extension-gmsa

Use federated token to signin on new sub
  scripts/ci-k8s-unit-test.sh
Due: none

debug az login issues
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

more stdout
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Fix cleanup error
  capz/gmsa/readme.md
  capz/gmsa/setup-gmsa.sh
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-windows-2022-extension-gmsa

Wiring user identities
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
  images/image-repo-list-private-registry-community
Due: pull-e2e-capz-windows-2022-extension

Fixing az command in readme
  capz/readme.md
Due: pull-e2e-capz-windows-2022-extension

Revert "Merge pull request #463 from ritikaguptams/wire-workload-id"
  capz/readme.md
Due: pull-e2e-capz-windows-2022-extension

Revert "Wiring user identities"
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
  images/image-repo-list-private-registry-community
Due: pull-e2e-capz-windows-2022-extension

Apply registry key to fix WS2022 networking
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Stop setting HPAContianerMetrics feature-gate because it will be removed i n v1.32
  capz/readme.md
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

tweaks
  capz/templates/pr/patches/kubeadm-bootstrap-control-plane-pr.yaml
  capz/templates/pr/patches/kubeadm-bootstrap-windows-pr.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

fix imagetag
  capz/templates/pr/patches/kubeadm-bootstrap-control-plane-pr.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

fix image arch
  capz/templates/pr/patches/kubeadm-bootstrap-control-plane-pr.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

fix typo
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

fix with hardcode azlogin
  capz/templates/pr/patches/kubeadm-bootstrap-control-plane-pr.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

windows vm identity
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Path conditions:
  pull-e2e-capz-windows-2022-extension: any of: capz/.*
  pull-e2e-run-capz-sh-windows-2022-hyperv: any of: helpers/hyper-v-mutating-webhook/.*
  pull-e2e-capz-windows-2022-extension-gmsa: any of: capz/gmsa/.*|capz/templates/gmsa.yaml
  pull-e2e-capz-validate-pr-templates: any of: capz/templates/pr/.*
