Repository kubernetes-sigs/windows-testing: changes, and which Prow jobs are due for each by the changed paths.
All: pull-e2e-capz-windows-2022-extension, pull-e2e-run-capz-sh-windows-2022-hyperv, pull-e2e-capz-windows-2022-extension-gmsa

Path conditions:
  pull-e2e-capz-windows-2022-extension: any of: capz/.*
  pull-e2e-run-capz-sh-windows-2022-hyperv: any of: helpers/hyper-v-mutating-webhook/.*
  pull-e2e-capz-windows-2022-extension-gmsa: any of: capz/gmsa/.*|capz/templates/gmsa.yaml

capz: Add env vars for SSH access
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Don't use JOB_NAME when fetching e2e.test in capz-run-e2e.sh
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

fixup
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

fixup! fixup! Adding NODE_FEATURE_GATES to control plane node
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

fixup! Adding NODE_FEATURE_GATES to control plane node
  capz/readme.md
Due: pull-e2e-capz-windows-2022-extension

Updating capz/readme.md
  capz/readme.md
Due: pull-e2e-capz-windows-2022-extension

Update capz/readme.md
  capz/readme.md
Due: pull-e2e-capz-windows-2022-extension

Adding NODE_FEATURE_GATES to control plane node
  capz/readme.md
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Updating capz/readme.md (#404)
  capz/readme.md
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

capz/templates: Allow enabling the NodeLogQuery feature
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

capz: Export KUBE_SSH_USER
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Enable annual channel via Azure SIGs
  capz/Makefile
  capz/run-capz-e2e.sh
  capz/templates/ci/kustomization.yaml
  capz/templates/ci/patches/market-place.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/sig/kustomization.yaml
  capz/templates/sig/patches/shared-gallery.yaml
Due: pull-e2e-capz-windows-2022-extension

capz: export KUBE_SSH_KEY
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

unit tests: Update golang to 1.21.6
  scripts/prepare_env_windows.ps1
Due: none

Remove depreciated flag in move to external cloud-provider
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Disable transfer service until stabalizes in containerd
  capz/templates/ci/patches/kubeadm-bootstrap-windows-ci.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-ci.yaml
Due: pull-e2e-capz-windows-2022-extension

Update annual channel image
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/sig/patches/shared-gallery.yaml
Due: pull-e2e-capz-windows-2022-extension

Use annual channel image
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Add missing ssh rule
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/sig/kustomization.yaml
  capz/templates/sig/patches/kubeadm-bootstrap-ssh.yaml
Due: pull-e2e-capz-windows-2022-extension

Use windows ci as default
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Update az capi test component
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Include proxy in Windows unit test runs
  scripts/k8s_unit_windows.ps1
Due: none

skipping linux-speicifc proxy packages during windows unit test execution
  scripts/k8s_unit_windows.ps1
Due: none

Update webhook.go
  helpers/hyper-v-mutating-webhook/webhook.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

Update helpers/hyper-v-mutating-webhook/webhook.go
  helpers/hyper-v-mutating-webhook/webhook.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

Don't install cloud provider with capi ext
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Update gh actions to latest versions
  .github/workflows/capz.yml
Due: none

Use managed identity for the clusters and remove az capi
  .gitignore
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Run with ci file changes
  .github/workflows/capz.yml
  .github/workflows/hyperv-webhook-build.yaml
Due: none

install the tools and use them directly
  .gitignore
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Helm script checks for path
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Update cert-manager deploy for hyperv
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Apply suggestions from code review
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

update readme and add outputs to cli commands
  capz/readme.md
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Add tags so it doesn't get deleted
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Add envs for AKS networking
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Add flake attempt retry
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Use 2019 as default
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Parameterize k8s_unit_windows.ps1 to accept a list of packages
  scripts/ci-k8s-unit-test.sh
  scripts/k8s_unit_windows.ps1
Due: none

Retry creating cluster with new name and region
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension
