Repository kubernetes-sigs/windows-testing: changes, and which Prow jobs are due for each by the changed paths.
All: pull-e2e-capz-windows-2022-extension, pull-e2e-run-capz-sh-windows-2022-hyperv, pull-e2e-capz-windows-2022-extension-gmsa, pull-e2e-capz-validate-pr-templates

Path conditions:
  pull-e2e-capz-windows-2022-extension: any of: capz/.*
  pull-e2e-run-capz-sh-windows-2022-hyperv: any of: helpers/hyper-v-mutating-webhook/.*
  pull-e2e-capz-windows-2022-extension-gmsa: any of: capz/gmsa/.*|capz/templates/gmsa.yaml
  pull-e2e-capz-validate-pr-templates: any of: capz/templates/pr/.*

more tweaks
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

fix windows path typo
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

give up on vmidentity
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

fix identity field
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

fix another case
  capz/templates/gmsa-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

fix curl download in capz e2e
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

remove hardcode id
  capz/templates/gmsa-pr.yaml
  capz/templates/pr/patches/kubeadm-bootstrap-control-plane-pr.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

Including disclaimer for running CAPZ in appropriate Linux environment
  capz/readme.md
Due: pull-e2e-capz-windows-2022-extension

Move to compute gallery
  capz/templates/ci/kustomization.yaml
  capz/templates/ci/patches/compute-gallery.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/pr/kustomization.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates

Update regions to gallery replicated regions
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Use latest version of communit images
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Use a known version
  capz/run-capz-e2e.sh
  capz/templates/ci/patches/compute-gallery.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Fix gallery and image names
  capz/templates/ci/patches/compute-gallery.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Use latest gallery image
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Add firewall rule
  capz/templates/ci/kustomization.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/windows-ci.yaml
Due: pull-e2e-capz-windows-2022-extension

copy ssh key to administrator authorized keys
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

print CAPI_VERSION
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

override provider versions
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

debug
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Temp disable the graceful shutdown e2e test case
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

minor fixes
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Updating aks management cluster to 1.31.3
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

bump golang version to v1.23.6 for unit tests
  scripts/prepare_env_windows.ps1
Due: none

Use if C:\Users\marosset is not set in prepare_env_windows.ps1
  scripts/prepare_env_windows.ps1
Due: none

Run gotestsum.exe in parralel for different unit test packages
  scripts/k8s_unit_windows.ps1
Due: none

Preserve log output when running unit tests in parralel
  scripts/k8s_unit_windows.ps1
Due: none

fail script if any gotestsum instances fail
  scripts/k8s_unit_windows.ps1
Due: none

don't trigger pre-submit code branch if repo name is windows-testing
  scripts/ci-k8s-unit-test.sh
Due: none

don't skip cleanup / log copy if k8s_unit_windows.ps1 fails
  scripts/ci-k8s-unit-test.sh
Due: none

return 0 in run_remote_cmd()
  scripts/ci-k8s-unit-test.sh
Due: none

rework exit codes
  scripts/ci-k8s-unit-test.sh
Due: none

Unit tests fixes and parallel (#480)
  scripts/ci-k8s-unit-test.sh
  scripts/k8s_unit_windows.ps1
  scripts/prepare_env_windows.ps1
Due: none
