Repository kubernetes-sigs/windows-testing: changes, and which Prow jobs are due for each by the changed paths.
All: pull-e2e-capz-windows-2022-extension, pull-e2e-run-capz-sh-windows-2022-hyperv, pull-e2e-capz-windows-2022-extension-gmsa, pull-e2e-capz-validate-pr-templates, pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

Path conditions:
  pull-e2e-capz-windows-2022-extension: any of: capz/.*
  pull-e2e-run-capz-sh-windows-2022-hyperv: any of: helpers/hyper-v-mutating-webhook/.*
  pull-e2e-capz-windows-2022-extension-gmsa: any of: capz/gmsa/.*|capz/templates/gmsa.yaml
  pull-e2e-capz-validate-pr-templates: any of: capz/templates/pr/.*
  pull-kubernetes-e2enode-windows: any of: ^scripts\/.*
  pull-kubernetes-unit-windows: any of: ^scripts\/.*

Set AZURE_RESOURCE_GROUP to workload cluster resource group for some e2e test scenarios (#565)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Set os disk caching for in capz templates
  capz/templates/1.29/windows-ci.yaml
  capz/templates/1.29/windows-pr.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Set os disk caching for in capz templates (#566)
  capz/templates/1.29/windows-ci.yaml
  capz/templates/1.29/windows-pr.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

capz: add MAX_PODS knob to override kubelet max pods
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

capz: add MAX_PODS knob to override kubelet max pods (#567)
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Add rzlink to the owners
  OWNERS
Due: none

Run Windows-specific e2e node tests
  scripts/k8s_e2e_node_windows.ps1
  scripts/prepare_e2e_node_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

capz: actually restart kubelet in nssm fallback so config.yaml changes apply
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

capz: actually restart kubelet in nssm fallback so config.yaml changes apply (#571)
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Run Windows-specific e2e node tests (#569)
  scripts/k8s_e2e_node_windows.ps1
  scripts/prepare_e2e_node_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

fix the error of arguments not parsed correctly
  scripts/ci-k8s-e2e-node-test.sh
  scripts/k8s_e2e_node_windows.ps1
  scripts/prepare_env_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

fix the error of arguments not parsed correctly (#573)
  scripts/ci-k8s-e2e-node-test.sh
  scripts/k8s_e2e_node_windows.ps1
  scripts/prepare_env_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

fix(webhook): preserve pod fields in mutation
  helpers/hyper-v-mutating-webhook/webhook.go
  helpers/hyper-v-mutating-webhook/webhook_test.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

fix(webhook): preserve pod fields in mutation (#576)
  helpers/hyper-v-mutating-webhook/webhook.go
  helpers/hyper-v-mutating-webhook/webhook_test.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

webhook: bump k8s API to v0.35.0 to support restartPolicyRules
  helpers/Dockerfile.hyperv
  helpers/Makefile
  helpers/hyper-v-mutating-webhook/go.mod
  helpers/hyper-v-mutating-webhook/go.sum
  helpers/hyper-v-mutating-webhook/webhook_test.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

webhook: bump k8s API to v0.35.0 to support restartPolicyRules (#579)
  helpers/Dockerfile.hyperv
  helpers/Makefile
  helpers/hyper-v-mutating-webhook/go.mod
  helpers/hyper-v-mutating-webhook/go.sum
  helpers/hyper-v-mutating-webhook/webhook_test.go
Due: pull-e2e-run-capz-sh-windows-2022-hyperv

Adding clientcmd pkg to list of packages to unit test
  scripts/k8s_unit_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

switch the node test to use the contianerd 2.3.3
  scripts/ci-k8s-e2e-node-test.sh
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

switch the node test to use the contianerd 2.3.3 (#582)
  scripts/ci-k8s-e2e-node-test.sh
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

Add more logging (and collection) for the windows e2e node test
  scripts/ci-k8s-e2e-node-test.sh
  scripts/k8s_e2e_node_windows.ps1
  scripts/prepare_e2e_node_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

Add more logging (and collection) for the windows e2e node test (#583)
  scripts/ci-k8s-e2e-node-test.sh
  scripts/k8s_e2e_node_windows.ps1
  scripts/prepare_e2e_node_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

Dynamic set the AKS version for management cluster
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Dynamic set the AKS version for management cluster (#584)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Harden enable_ssh_windows.ps1 against Windows Update outages
  scripts/enable_ssh_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

capz: revert Calico to v3.29.2
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

update the caclio registry to capzcicommunity (#590)
  capz/templates/calico/values.yaml
Due: pull-e2e-capz-windows-2022-extension

Drop Win32-OpenSSH release fallback, keep Add-WindowsCapability retry
  scripts/enable_ssh_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

Harden enable_ssh_windows.ps1 against Windows Update outages (#585)
  scripts/enable_ssh_windows.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

Fix CAPZ Windows containerd 2.4 CNI config
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Fix CAPZ Windows containerd 2.4 CNI config (#593)
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Revert "Fix CAPZ Windows containerd 2.4 CNI config (#593)"
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Check the existing of the defender before running (#596)
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Re-apply "Fix CAPZ Windows containerd 2.4 CNI config (#593)"
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Re-apply "Fix CAPZ Windows containerd 2.4 CNI config (#593)" (#598)
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

capz: make windows-base CNI-neutral
  capz/templates/ci/component/kustomization.yaml
  capz/templates/ci/kustomization.yaml
  capz/templates/networking/calico/kustomization.yaml
  capz/templates/networking/calico/patches/cluster.yaml
  capz/templates/networking/calico/patches/kubeadm-windows.yaml
  capz/templates/pr/component/kustomization.yaml
  capz/templates/pr/kustomization.yaml
  capz/templates/sig/kustomization.yaml
  capz/templates/windows-base.yaml
Due: pull-e2e-capz-windows-2022-extension, pull-e2e-capz-validate-pr-templates
