Repository kubernetes-sigs/windows-testing: changes, and which Prow jobs are due for each by the changed paths.
All: pull-e2e-capz-windows-2022-extension, pull-e2e-run-capz-sh-windows-2022-hyperv, pull-e2e-capz-windows-2022-extension-gmsa, pull-e2e-capz-validate-pr-templates, pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

pull-e2e-capz-windows-2022-extension:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-capz-windows-common: 'true'
    preset-capz-containerd-1-7-latest: 'true'
    preset-azure-community: 'true'
    preset-capz-windows-2022: 'true'
  spec:
    serviceAccountName: azure
  ...

pull-e2e-run-capz-sh-windows-2022-hyperv:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
    preset-capz-windows-common: 'true'
    preset-capz-containerd-1-7-latest: 'true'
    preset-capz-windows-2022: 'true'
  spec:
    serviceAccountName: azure
  ...

pull-e2e-capz-windows-2022-extension-gmsa:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
    preset-capz-windows-common: 'true'
    preset-capz-containerd-1-7-latest: 'true'
    preset-capz-windows-2022: 'true'
  spec:
    serviceAccountName: azure
  ...

pull-e2e-capz-validate-pr-templates:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
    preset-capz-containerd-1-7-latest: 'true'
    preset-capz-windows-common: 'true'
    preset-capz-windows-2022: 'true'
  spec:
    serviceAccountName: azure
  ...

pull-kubernetes-e2enode-windows:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-master
      command:
      - runner.sh
      - ./scripts/ci-k8s-e2e-node-test.sh
  ...

pull-kubernetes-unit-windows:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-master
      command:
      - runner.sh
      - ./scripts/ci-k8s-unit-test.sh
  ...

fix shellcheck errors
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Adding a way to specify a shared image gallery so we can test staging images produced from image-builder before promoting them (#528)
  capz/templates/ci/patches/compute-gallery.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Updating run-capz-e2e.sh to run extra commands
  capz/readme.md
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Revert "Revert "capz: use provider-agnostic bastion resolution (#520)"" (#527)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Try to upgrade calico to 3.31.0 (#524)
  capz/run-capz-e2e.sh
  capz/templates/calico/values.yaml
Due: pull-e2e-capz-windows-2022-extension

Set node.cloudprovider.kuberentes.io/uninitialized taint on new nodes so cloud-node-manager processes them
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

take 2
  capz/run-capz-e2e.sh
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

fixup
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

again
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

after wait_for_nodes
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

logging
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Set node.cloudprovider.kuberentes.io/uninitialized taint on new nodes so cloud-node-manager processes them
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Set node.cloudprovider.kuberentes.io/uninitialized taint on new nodes so cloud-node-manager processes them (#530)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Bump AKS management cluster versin to v1.33.5
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Bump AKS management cluster versin to v1.33.5 (#531)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

fix the kubeconfig for gmsa related setup
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

fix the kubeconfig for gmsa related setup (#532)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Updating run-capz-e2e.sh to run extra commands (#529)
  capz/readme.md
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Fix: Guard cleanup call in run-capz-e2e.sh to prevent command not found
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

temporarilty overriding kubeadm-control-plane image for kubeadm fixed to bootstrap k8s v1.36 cluster
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

temporarilty overriding kubeadm-control-plane image for kubeadm fixed to bootstrap k8s v1.36 cluster (#535)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Add the hpc webhook
  helpers/Dockerfile.hpc
  helpers/Dockerfile.hyperv
  helpers/Makefile
  helpers/README.md
  helpers/helm/.helmignore
  helpers/helm/Chart.yaml
  helpers/helm/templates/_helpers.tpl
  helpers/helm/templates/certificate.yaml
  helpers/helm/templates/deployment.yaml
  helpers/helm/templates/mutatingwebhookconfiguration.yaml
  helpers/helm/templates/namespace.yaml
  helpers/helm/templates/poddisruptionbudget.yaml
  helpers/helm/templates/rbac.yaml
  helpers/helm/templates/runtimeclass.yaml
  helpers/helm/templates/service.yaml
  helpers/helm/templates/serviceaccount.yaml
  helpers/helm/values-hpc.yaml
  helpers/helm/values-hyperv.yaml
  helpers/helm/values.yaml
  helpers/hpc-mutating-webhook/go.mod
  helpers/hpc-mutating-webhook/go.sum
  helpers/hpc-mutating-webhook/main.go
Due: none

use the latest capi
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

use the latest capi (#536)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Fix: Guard cleanup call in run-capz-e2e.sh to prevent command not found (#534)
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-windows-2022-extension

Address the comments
  .github/workflows/helm-chart-validation.yaml
  .github/workflows/hyperv-webhook-build.yaml
  .github/workflows/webhook-build.yaml
  helpers/Makefile
Due: none

Add the hpc webhook (#533)
  .github/workflows/helm-chart-validation.yaml
  .github/workflows/hyperv-webhook-build.yaml
  .github/workflows/webhook-build.yaml
  helpers/Dockerfile.hpc
  helpers/Dockerfile.hyperv
  helpers/Makefile
  helpers/README.md
  helpers/helm/.helmignore
  helpers/helm/Chart.yaml
  helpers/helm/templates/_helpers.tpl
  helpers/helm/templates/certificate.yaml
  helpers/helm/templates/deployment.yaml
  helpers/helm/templates/mutatingwebhookconfiguration.yaml
  helpers/helm/templates/namespace.yaml
  helpers/helm/templates/poddisruptionbudget.yaml
  helpers/helm/templates/rbac.yaml
  helpers/helm/templates/runtimeclass.yaml
  helpers/helm/templates/service.yaml
  helpers/helm/templates/serviceaccount.yaml
  helpers/helm/values-hpc.yaml
  helpers/helm/values-hyperv.yaml
  helpers/helm/values.yaml
  helpers/hpc-mutating-webhook/go.mod
  helpers/hpc-mutating-webhook/go.sum
  helpers/hpc-mutating-webhook/main.go
Due: none

Add the scripts to set up registery directory sturcture
  .github/workflows/helm-chart-validation.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
  helpers/README.md
  scripts/install-registry-structure.ps1
Due: pull-e2e-capz-windows-2022-extension, pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

Add the scripts to set up registery directory sturcture
  scripts/install-registry-structure.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

Add the scripts to set up registery directory sturcture (#537)
  scripts/install-registry-structure.ps1
Due: pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

A few changes to the action workflow file
  .github/workflows/helm-chart-validation.yaml
  .github/workflows/webhook-build.yaml
Due: none

Apply the scripts to set up fake registry structure
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

A few changes to the action workflow file (#539)
  .github/workflows/helm-chart-validation.yaml
  .github/workflows/webhook-build.yaml
Due: none

Apply the scripts to set up fake registry structure (#538)
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/shared-image-gallery-ci.yaml
  capz/templates/windows-base.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-windows-2022-extension

Deploying HPC webhook to the cluster
  .markdownlinignore
  capz/run-capz-e2e.sh
  helpers/README.md
  helpers/helm/Chart.yaml
  helpers/helm/values-hpc.yaml
  helpers/helm/values-hyperv.yaml
  helpers/helm/values.yaml
  scripts/install-registry-structure.ps1
Due: pull-e2e-capz-windows-2022-extension, pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

fixing the reading the docker credentials from github action
  .github/workflows/webhook-build.yaml
Due: none

fixing the reading the docker credentials from github action (#543)
  .github/workflows/webhook-build.yaml
Due: none

Deploying HPC webhook to the cluster (#540)
  .markdownlinignore
  capz/run-capz-e2e.sh
  helpers/README.md
  helpers/helm/Chart.yaml
  helpers/helm/values-hpc.yaml
  helpers/helm/values-hyperv.yaml
  helpers/helm/values.yaml
  scripts/install-registry-structure.ps1
Due: pull-e2e-capz-windows-2022-extension, pull-kubernetes-e2enode-windows, pull-kubernetes-unit-windows

Path conditions:
  pull-e2e-capz-windows-2022-extension: any of: capz/.*
  pull-e2e-run-capz-sh-windows-2022-hyperv: any of: helpers/hyper-v-mutating-webhook/.*
  pull-e2e-capz-windows-2022-extension-gmsa: any of: capz/gmsa/.*|capz/templates/gmsa.yaml
  pull-e2e-capz-validate-pr-templates: any of: capz/templates/pr/.*
  pull-kubernetes-e2enode-windows: any of: ^scripts\/.*
  pull-kubernetes-unit-windows: any of: ^scripts\/.*
