Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

pull-cloud-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - fmt

pull-cloud-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - lint

pull-cloud-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - vet

pull-cloud-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - docs/book/node_modules
      - .

pull-cloud-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

add experimental support for Service Type=LoadBalancer w/ NSX-T
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/loadbalancer.go
  pkg/cloudprovider/vsphere/types.go
  pkg/common/config/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

add loadbalancer_utils.go file
  pkg/cloudprovider/vsphere/loadbalancer.go
  pkg/cloudprovider/vsphere/loadbalancer_utils.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

refactor so that each Service Port gets a virutal serer
  pkg/cloudprovider/vsphere/loadbalancer.go
  pkg/cloudprovider/vsphere/loadbalancer_utils.go
  pkg/common/config/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Fix failing go test
  pkg/common/vclib/connection_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Always ensure KIND is present for integration test
  test/integration/Makefile
  test/integration/install_kind.sh
  test/kind/kind-config.yaml
Due: pull-cloud-provider-vsphere-verify-shell

New IP address type discovery logic
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/config.go
  pkg/cloudprovider/vsphere/config_test.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/types.go
  pkg/cloudprovider/vsphere/vsphere_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

remove RegisterNode and UnregisterNode methods in node manager
  pkg/cloudprovider/vsphere/instances_test.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/zones_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

remove unused map nodeRegUUIDMap
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/types.go
  pkg/cloudprovider/vsphere/zones_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

remove redundant node informer in node manager
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/common/kubernetes/informers.go
  pkg/common/kubernetes/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Doc updates to include helm
  README.md
  docs/book/tutorials/kubernetes-on-vsphere-with-helm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Make informer factory a singleton
  pkg/common/kubernetes/informers.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Report Active Nodes Only
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/proto/cloudprovidervsphere.pb.go
  pkg/cloudprovider/vsphere/proto/cloudprovidervsphere.proto
  pkg/cloudprovider/vsphere/server/server.go
  pkg/cloudprovider/vsphere/server/server_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Revert "Implement VM Network name for Internal/External IP Addy Selection"
  pkg/cloudprovider/vsphere/config.go
  pkg/cloudprovider/vsphere/config_test.go
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Implement VM Network name for Internal/External IP Addy Selection
  pkg/cloudprovider/vsphere/config.go
  pkg/cloudprovider/vsphere/config_test.go
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Implements VM Networks for k8s IP Addy Selection
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/config.go
  pkg/cloudprovider/vsphere/config_test.go
  pkg/cloudprovider/vsphere/instances_test.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/types.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/cloudprovider/vsphere/zones_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Updating docs related to vsphere-csi
  docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Removed references to 'official' from README
  docs/book/README.md
Due: pull-cloud-provider-vsphere-verify-markdown

Added fstype to default storageclass
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Fix doc link
  docs/book/SUMMARY.md
Due: pull-cloud-provider-vsphere-verify-markdown

Added guide on how to install CSI on an already-existing K8s cluster
  docs/book/tutorials/enabling-vsphere-csi-on-an-existing-cluster.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update CPI image to use non-root account
  cluster/images/controller-manager/Dockerfile
Due: none

Update container_storage_interface.md
  docs/book/container_storage_interface.md
Due: pull-cloud-provider-vsphere-verify-markdown

NSX-T loadbalancer support
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
  go.sum
  hack/release.sh
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/config.go
  pkg/cloudprovider/vsphere/loadbalancer/README.md
  pkg/cloudprovider/vsphere/loadbalancer/access.go
  pkg/cloudprovider/vsphere/loadbalancer/class.go
  pkg/cloudprovider/vsphere/loadbalancer/cleanup.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_test.go
  pkg/cloudprovider/vsphere/loadbalancer/helpers.go
  pkg/cloudprovider/vsphere/loadbalancer/interface.go
  pkg/cloudprovider/vsphere/loadbalancer/lbprovider.go
  pkg/cloudprovider/vsphere/loadbalancer/lbservice.go
  pkg/cloudprovider/vsphere/loadbalancer/lock.go
  pkg/cloudprovider/vsphere/loadbalancer/mapping.go
  pkg/cloudprovider/vsphere/loadbalancer/nsxt_broker.go
  pkg/cloudprovider/vsphere/loadbalancer/nsxt_type_converter.go
  pkg/cloudprovider/vsphere/loadbalancer/state.go
  pkg/cloudprovider/vsphere/loadbalancer/tag.go
  pkg/cloudprovider/vsphere/loadbalancer/tag_test.go
  pkg/cloudprovider/vsphere/types.go
  pkg/cloudprovider/vsphere/vapilogger.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

fix/typo: removed typo in line 5
  docs/book/concepts/csi_overview.md
Due: pull-cloud-provider-vsphere-verify-markdown

Initial implementation for YAML based config
  docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/config/config.go
  pkg/cloudprovider/vsphere/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/config/config_ini_legacy_test.go
  pkg/cloudprovider/vsphere/config/config_yaml.go
  pkg/cloudprovider/vsphere/config/types_common.go
  pkg/cloudprovider/vsphere/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/config/types_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy_test.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/config/consts_and_errors.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_common.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/lbprovider.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/types.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/common/config/config.go
  pkg/common/config/config_ini_legacy.go
  pkg/common/config/config_ini_legacy_test.go
  pkg/common/config/config_yaml.go
  pkg/common/config/types_common.go
  pkg/common/config/types_ini_legacy.go
  pkg/common/config/types_yaml.go
  pkg/common/config/virtualcenterconfig.go
  pkg/common/connectionmanager/list_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown

Updated to include node selector based tainting
  .markdownlintrc
  docs/book/tutorials/enabling-vsphere-csi-on-an-existing-cluster.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update README.md
  docs/book/README.md
Due: pull-cloud-provider-vsphere-verify-markdown

Added detail to CPI/CSI how-to to clarify what is actually needed to make CSI functional
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update glossary.md
  docs/book/glossary.md
Due: pull-cloud-provider-vsphere-verify-markdown

fix OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Update docs/book/glossary.md
  docs/book/glossary.md
Due: pull-cloud-provider-vsphere-verify-markdown

Fix typo
  cmd/vcpctl/provision/provision.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Update vmware_vsphere_storage.md
  docs/book/concepts/vmware_vsphere_storage.md
Due: pull-cloud-provider-vsphere-verify-markdown

Add services/status patch role for service type:LoadBalancer controllers
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: none

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: ^((cmd|pkg)/)|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: ^((cmd|pkg)/)|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
