Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod|Dockerfile|Makefile
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod

Bump the Kubernetes group to v0.34.0-beta.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump CAPI&CAPV&Controller Runtime in E2E (#1526)
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_vm_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump CAPI v1.11.0-beta.0 & CAPV v1.14.0-beta.0 in E2E
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_vm_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Make sure to use a non-existent token in tests
  pkg/common/vclib/vc_session_manager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Automate image promotion
  Makefile
Due: pull-cloud-provider-vsphere-build

Fix security scan
  .github/workflows/weekly-security-scan.yaml
Due: none

Enable weekly security check job
  .github/workflows/weekly-security-scan.yaml
  Makefile
  hack/ensure-trivy.sh
  hack/go-install.sh
  hack/verify-container-images.sh
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build

Update branch
  .github/workflows/weekly-security-scan.yaml
Due: none

Fix security scan (#1546)
  .github/workflows/weekly-security-scan.yaml
Due: none

[release-1.31] 🌱 Enable weekly security check job (#1549)
  .github/workflows/weekly-security-scan.yaml
  Makefile
  hack/ensure-trivy.sh
  hack/go-install.sh
  hack/verify-container-images.sh
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build

[release-1.32] 🌱 Enable weekly security check job (#1548)
  .github/workflows/weekly-security-scan.yaml
  Makefile
  hack/ensure-trivy.sh
  hack/go-install.sh
  hack/verify-container-images.sh
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build

[release-1.33] 🌱 Enable weekly security check job (#1547)
  .github/workflows/weekly-security-scan.yaml
  Makefile
  hack/ensure-trivy.sh
  hack/go-install.sh
  hack/verify-container-images.sh
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build

Return nil when VirtualMachineService is not found
  pkg/cloudprovider/vsphereparavirtual/loadbalancer.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Implemented InstancesV2
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/instances_v2.go
  pkg/cloudprovider/vsphere/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Created tests for InstancesV2
  pkg/cloudprovider/vsphere/instances_v2_test.go
  pkg/cloudprovider/vsphere/mock.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Added new node-labels cmd flag
  cmd/vsphere-cloud-controller-manager/main.go
  pkg/cloudprovider/vsphere/options/flags.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Return nil when VirtualMachineService is not found (#1551)
  pkg/cloudprovider/vsphereparavirtual/loadbalancer.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump the Kubernetes group to v0.34.0-rc.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump CAPI v1.11.0-rc.0 & CAPV v1.14.0-rc.0 in E2E
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-build

Bump go to 1.24.6
  cluster/images/controller-manager/Dockerfile
Due: pull-cloud-provider-vsphere-build

Fix: Tags client not returning tags when session manager is used
  pkg/common/connectionmanager/zones.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Sync e2e.sh with CAPV
  hack/e2e.sh
Due: pull-cloud-provider-vsphere-verify-shell

Bump CAPI v1.11.0 & CAPV v1.14.0-rc.1 in E2E
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-build

feat: add rhel8/9/10 to guest os list
  pkg/cloudprovider/vsphere/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump the K8s to 1.34.0 and e2e to CAPI 1.11.0 & CAPV 1.14.0-rc.1
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

update documents for v1.34.0 release
  README.md
  charts/vsphere-cpi-1.34.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/v1.34/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Add helm release 1.34.0
  charts/vsphere-cpi-1.34.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  index.yaml
  releases/README.md
  releases/v1.34/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown
