Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod|Dockerfile|Makefile
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod

Added the ability to define hostAliases on the DaemonSet.
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/values.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Bump CAPI to v1.10.1 & CAPV to 1.13.0 in E2E
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump CAPI&CAPV in E2E
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Implement vc session manager client
  pkg/common/vclib/vc_session_manager.go
  pkg/common/vclib/vc_session_manager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Implement vc session manager on credential manager
  pkg/common/credentialmanager/credentialmanager.go
  pkg/common/credentialmanager/credentialmanager_test.go
  pkg/common/credentialmanager/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Implement vc session manager on vc client
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/connectionmanager/zones.go
  pkg/common/vclib/connection.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Support using serviceaccount on session auth
  pkg/common/connectionmanager/zones.go
  pkg/common/credentialmanager/credentialmanager.go
  pkg/common/credentialmanager/credentialmanager_test.go
  pkg/common/vclib/connection.go
  pkg/common/vclib/vc_session_manager.go
  pkg/common/vclib/vc_session_manager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add docs on shared session implementation
  docs/book/vc_shared_sessions.md
Due: pull-cloud-provider-vsphere-verify-markdown

Fix release-staging job
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

Enable weekly security check job
  .github/workflows/weekly-security-scan.yaml
  Makefile
  hack/ensure-trivy.sh
  hack/go-install.sh
  hack/verify-container-images.sh
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build

e2e: adjustments to enable e2e on community prow
  hack/e2e.sh
Due: pull-cloud-provider-vsphere-verify-shell

test/e2e: revert k8s.io bump for test/e2e
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

e2e: fixup input vars
  hack/e2e.sh
Due: pull-cloud-provider-vsphere-verify-shell

e2e: fix config variables
  test/e2e/config/vsphere-ci.yaml
Due: none

cleanup e2e.sh
  hack/e2e.sh
Due: pull-cloud-provider-vsphere-verify-shell

test/e2e: revert k8s.io bump for test/e2e
  test/e2e/go.mod
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

[Cherry-pick] e2e: adjustments to enable e2e on community prow
  hack/e2e.sh
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-shell

[release-1.33] e2e: adjustments to enable e2e on community prow (#1503)
  hack/e2e.sh
  test/e2e/config/vsphere-ci.yaml
  test/e2e/go.mod
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Remove dead code or unused code from CPI
  pkg/common/connectionmanager/search.go
  pkg/common/connectionmanager/search_test.go
  pkg/common/connectionmanager/types.go
  pkg/common/vclib/datacenter.go
  pkg/common/vclib/datacenter_test.go
  pkg/common/vclib/datastore.go
  pkg/common/vclib/datastore_test.go
  pkg/common/vclib/fcd.go
  pkg/common/vclib/folder.go
  pkg/common/vclib/folder_test.go
  pkg/common/vclib/pbm.go
  pkg/common/vclib/storagepod.go
  pkg/common/vclib/storagepod_test.go
  pkg/common/vclib/utils.go
  pkg/common/vclib/virtualmachine.go
  pkg/common/vclib/virtualmachine_test.go
  pkg/common/vclib/volumeoptions.go
  pkg/common/vclib/vsphere_metrics.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

fix: incorrect rolebinding namespace for kube-system:extension-apiserver-authentication-reader role
  charts/vsphere-cpi/templates/role-binding.yaml
Due: none

Add worload cluster kube-system logs to artifacts
  test/e2e/e2e_suite_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

[Cherry-pick] e2e: adjustments to enable e2e on community prow (#1505)
  hack/e2e.sh
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-shell

fix: incorrect rolebinding namespace for kube-system:extension-apiserver-authentication-reader role (#1507)
  charts/vsphere-cpi/templates/role-binding.yaml
Due: none

Update Supervisor API calls to use FQDN
  pkg/cloudprovider/vsphereparavirtual/config.go
  pkg/cloudprovider/vsphereparavirtual/config_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Restart CPI when ownerreference file changes
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/config/config.go
  pkg/cloudprovider/vsphereparavirtual/config/config_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Restart CPI when ownerreference file changes
  cmd/vsphere-cloud-controller-manager/main.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/config/config.go
  pkg/cloudprovider/vsphereparavirtual/config/config_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Restart CPI when ownerreference file changes (#1522)
  cmd/vsphere-cloud-controller-manager/main.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/config/config.go
  pkg/cloudprovider/vsphereparavirtual/config/config_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Update config file path due to TKC retirement
  pkg/cloudprovider/vsphereparavirtual/config/config.go
  pkg/cloudprovider/vsphereparavirtual/config/config_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Fix releasing scripts
  hack/update-docs.sh
Due: pull-cloud-provider-vsphere-verify-shell

Bump CAPI&CAPV&Controller Runtime in E2E
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_vm_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Implemented InstancesV2
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/instances_v2.go
  pkg/cloudprovider/vsphere/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Added new node-labels cmd flag
  cmd/vsphere-cloud-controller-manager/main.go
  pkg/cloudprovider/vsphere/options/flags.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Created tests for InstancesV2
  pkg/cloudprovider/vsphere/instances_v2_test.go
  pkg/cloudprovider/vsphere/mock.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test
