Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod|Dockerfile|Makefile
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod

Fix CI: pin gcb-docker-gcloud image to digest
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

Fail closed when legacy VirtualMachineService lookup errors
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

✨Remove the use of the cryptographically weak MD5 hash
  hack/images/ci/conformance.sh
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Return error when multiple VMS found
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Align copyright header boilerplate with Kubernetes and add validation
  Makefile
  hack/boilerplate.go.txt
  hack/check-boilerplate.sh
  hack/verify-boilerplate.py
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build

Upgrade Go to 1.26.5 and OpenTelemetry-Go to 1.43.0 to fix CVEs
  Makefile
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add Helm index entry for v1.36.0 chart
  index.yaml
Due: none

Bumped Kubernetes Version to v0.37.0-beta.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Revert "Bumped Kubernetes Version to v0.37.0-beta.0"
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Re-bumped Kubernetes Version to v0.37.0-beta.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

:seedling: (chore): Bump CI for CAPI 1.14 and CAPV 1.17
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Pin GitHub Actions to full-length commit SHAs
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/bump-k8s-dep.yml
  .github/workflows/bump-test-k8s-dep.yml
  .github/workflows/generate-release-notes.yml
Due: none

Fix multiple reviewer separation and add 12345lcr
  Makefile
Due: pull-cloud-provider-vsphere-build

Update CPI release guide with comprehensive step-by-step instructions
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

Explain official support window for tracked Dependabot branches
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

Fix markdown lint violations in CPI release guide
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update Dependabot config to track release-1.36 to release-1.33 (N to N-3)
  .github/dependabot.yml
Due: none

Update Phase 8 in release guide to support N to N-3 branches
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

Add security check step to Phase 1 of release guide
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

Rearrange release guide Phases 1 and 2 and update update-docs notes
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

Remove local build instructions from Phase 1 of release guide
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

feat(helm): add nodes config section for node IP address selection
  charts/vsphere-cpi/templates/configmap.yaml
  charts/vsphere-cpi/values.yaml
Due: none

test(e2e): add nodes config validation test for CPI helm upgrade
  test/e2e/cpi_install_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

fix(test, e2e): wait for worker node readiness before nodes config test
  test/e2e/cpi_install_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

fix(test, e2e): flaky test timeout
  test/e2e/cpi_install_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add Phase 5 for cutting new release branch and update Phase 4 tag notes
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

fix node IP address parsing in test helper
  test/e2e/cpi_vm_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Handle timing race when fetching CAPI Machine and VM objects
  test/e2e/cpi_vm_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add missing copyright headers to vsphereparavirtual files
  pkg/cloudprovider/vsphereparavirtual/vmoperator.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/fake_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachineservice_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachineservice_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/interface.go
  pkg/cloudprovider/vsphereparavirtual/zone.go
  pkg/cloudprovider/vsphereparavirtual/zone_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Restore worker node state to fix e2e test flake
  test/e2e/cpi_vm_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

test(e2e): pause CAPI reconciliation when deleting VM to avoid power state conflict
  test/e2e/cpi_vm_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

feat(helm): add nodes config section for node IP address selection
  charts/vsphere-cpi/templates/configmap.yaml
  charts/vsphere-cpi/values.yaml
  test/e2e/cpi_install_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump Kubernetes dependencies to v0.37.0-rc.0
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test
