Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

pull-cloud-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - fmt

pull-cloud-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - lint

pull-cloud-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - vet

pull-cloud-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - docs/book/node_modules
      - .

pull-cloud-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

Remove ToLower when using FQDN
  pkg/common/credentialmanager/credentialmanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

More info
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Fixed a bug in InstanceExistsByProviderID()
  pkg/cloudprovider/vsphere/instances.go
  pkg/cloudprovider/vsphere/instances_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Documentation pointers for CPI version 1.1.0 and earlier
  docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Add SECURITY.md
  SECURITY.md
Due: pull-cloud-provider-vsphere-verify-markdown

Found bug when zones are not configured
  pkg/cloudprovider/vsphere/zones.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

InstanceExistsByProviderID signal deletion
  docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.md
  pkg/cloudprovider/vsphere/instances.go
  pkg/cloudprovider/vsphere/instances_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown

Continue to check the chain
  pkg/cloudprovider/vsphere/zones.go
  pkg/common/connectionmanager/zones.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

bumpd k8s.io/kubernetes to v1.18.6
  go.mod
  go.sum
Due: none

fix prometheus imports to use k8s.io/component-base
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

update client-go List call to pass in context
  pkg/cloudprovider/vsphere/loadbalancer/cleanup.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

add clodu provider interface type check
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/instances.go
  pkg/cloudprovider/vsphere/zones.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

bump go version to v1.13.14
  cluster/images/controller-manager/Dockerfile
  go.mod
Due: none

instances: return InstanceNotFound error in InstanceID
  pkg/cloudprovider/vsphere/instances.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Update kubernetes-on-vsphere-with-helm.md
  docs/book/tutorials/kubernetes-on-vsphere-with-helm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update README.md
  pkg/cloudprovider/vsphere/loadbalancer/README.md
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown

fix version logging on start up
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

docs: add a Known Issues section
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/known_issues.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

docs: include cali* as part of CNI interface exclude-filter list
  docs/book/known_issues.md
Due: pull-cloud-provider-vsphere-verify-markdown

Remove inactive members from OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Minimum NSX-T Support
  pkg/cloudprovider/vsphere/loadbalancer/README.md
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown

README for vcsim keys used in go test
  pkg/common/vclib/fixtures/README.md
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown

nodemanager: error discovering node if guest hostname is empty
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

nodemanager: only find VM by IP if not found by node name
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

nodemanager: only lookup VM by reverse UUID if not exists by normal UUID
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

nodemanager: add explicit nil returns to improve readability
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Revert "Bump k8s.io/kubernetes to v1.18.6"
  cluster/images/controller-manager/Dockerfile
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/instances.go
  pkg/cloudprovider/vsphere/loadbalancer/cleanup.go
  pkg/cloudprovider/vsphere/zones.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

nodemanager: don't return ErrNoVMFound if nodeID is empty
  pkg/cloudprovider/vsphere/instances_test.go
  pkg/common/connectionmanager/search.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

External/Internal Address Discovery Fix
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

instances: skip node deletion by VM name
  pkg/cloudprovider/vsphere/instances.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

fix dual stack is not supported
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

alpha dual stack feature
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

add dual stack test
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/vsphere_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Update to v1.18.9
  go.mod
  go.sum
Due: none

add more testcases for dual stack feature
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/vsphere_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

fix fmt issue
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/vsphere_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: ^((cmd|pkg)/)|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: ^((cmd|pkg)/)|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
