Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod|Dockerfile|Makefile
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-e2e-test: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/|charts/vsphere-cpi/
  pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/|charts/vsphere-cpi/

Fixup reconcile objec being deleted
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Fixup nil pointer dereference panic
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

:sparkles: make sure the cloud provider vsphere pod restart only on modify event and restart gracefully
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Replace IPPool with IPAddressAllocation API to Claim Pod CIDR in the VPC network
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/config.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/core.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller_test.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ippool/ippool_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller_test.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/utils/utils.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/interfaces.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha1/ippoolmanager.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha1/ippoolmanager_test.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha2/ippoolmanager.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha2/ippoolmanager_test.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/const.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/interfaces.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_t1.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc_test.go
  pkg/common/kubernetes/informers.go
  pkg/util/tests.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Fixup orphan IPAddressAllocation after Node removed
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Fix AllocationSize
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update nsx-operator API mod
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/core.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller_test.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc_test.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/staticroute/routemanager.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/staticroute/routemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Fix IPAddressVisibility type
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

update-dockerfile-golang-version
  cluster/images/controller-manager/Dockerfile
Due: pull-cloud-provider-vsphere-build

update dockerfile golang version (#1218)
  cluster/images/controller-manager/Dockerfile
Due: pull-cloud-provider-vsphere-build

fix post merge image build job failure
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

fix post merge image build job failure (#1219)
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

Bump nsx-operator mod
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

cherry pick nsx op api bump to release 1.31
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

cherry pick nsx op api bump to release 1.31 (#1226)
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

update golang version to 1.22 for hack/tools
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

replace pre merge check image registry
  hack/check-mdlint.sh
  hack/check-shell.sh
Due: pull-cloud-provider-vsphere-verify-shell

Added logic to check YAML before attempting YAML config load.
  pkg/common/config/config.go
  pkg/common/config/config_ini_legacy_test.go
  pkg/common/config/config_test.go
  pkg/common/config/config_yaml.go
  pkg/common/config/config_yaml_test.go
  pkg/common/config/consts_and_errors.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

add gong as cpi maintainer
  OWNERS_ALIASES
Due: none

Add support for MOID on datacenter field
  pkg/common/vclib/datacenter.go
  pkg/common/vclib/datacenter_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Release 1.30.2
  README.md
  charts/vsphere-cpi-1.30.2.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.30/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Release 1.31.1
  README.md
  charts/vsphere-cpi-1.31.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.31/vsphere-cloud-controller-manager.yaml
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Release 1.29.2
  charts/vsphere-cpi-1.29.2.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.29/vsphere-cloud-controller-manager.yaml
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Generate helm chart for v1.31.1
  charts/vsphere-cpi-1.31.1.tgz
  index.yaml
Due: none

Add release v1.31.1
  charts/vsphere-cpi-1.31.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update helm index for v1.31.1
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump the Kubernetes group to v0.32.0-beta.0
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Add permission for the GitHub actions
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/bump-k8s-dep.yml
  .github/workflows/bump-test-k8s-dep.yml
Due: none

Update helm repo index for 1.31.1
  index.yaml
Due: none
