Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod

Update yaml or doc to reflect 1.21.1 version
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/deploying-cpi-with-k3s.md
  index.yaml
  releases/v1.21/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Fix file to bump to 1.22.1
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/deploying-cpi-with-k3s.md
  index.yaml
  releases/v1.21/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Pin the version to 1.22.0
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/deploying-cpi-with-k3s.md
  index.yaml
  releases/v1.21/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Pin the version to 1.22.1
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/deploying-cpi-with-k3s.md
  index.yaml
  releases/v1.21/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Add missing yaml and fix version
  README.md
  manifests/controller-manager/README.md
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

pin version to 1.22.2
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/deploying-cpi-with-k3s.md
  index.yaml
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Fix version for 1.21, also added 1.22 folder
  README.md
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/deploying-cpi-with-k3s.md
  index.yaml
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

add doc on deploying cpi with release yamls
  releases/README.md
Due: pull-cloud-provider-vsphere-verify-markdown

add doc on disabling node deletion when VM is not found
  docs/book/tutorials/disable-node-deletion.md
  docs/book/tutorials/disable-node-deletion.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

disable node registration when UUID is empty
  pkg/cloudprovider/vsphere/instances.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Internal & External subnets accepts multiple CIDRs
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

disable node registration when UUID is empty
  pkg/cloudprovider/vsphere/instances.go
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

chart: fix helm errors by quoting credentials
  charts/vsphere-cpi/templates/secret.yaml
Due: none

Remove documentation about vSphere CSI Driver from CPI Documentation and update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/failing-test.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
  README.md
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/cloud_provider_interface.md
  docs/book/concepts/cpi_overview.md
  docs/book/concepts/csi_overview.md
  docs/book/container_storage_interface.md
  docs/book/tutorials/deploying_cpi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/enabling-vsphere-csi-on-an-existing-cluster.md
  releases/README.md
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

add snatDisabled flag to loadbalancer configuration
  pkg/cloudprovider/vsphere/loadbalancer/README.md
  pkg/cloudprovider/vsphere/loadbalancer/access.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy_test.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml_test.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_common.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/nsxt_type_converter.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

restart pod if the cloud-config map is updated
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

show vsphere-cloud-controller-manager version in the log correctly
  Makefile
  cluster/images/controller-manager/Dockerfile
Due: none

add release guide doc
  docs/book/README.md
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

Remove cache based on UUID when unregister node
  pkg/cloudprovider/vsphere/instances.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add Han Fang as reviewer
  OWNERS_ALIASES
Due: none

do not use the cached node addresses when NodeAddresses is invoked.
  pkg/cloudprovider/vsphere/instances.go
  pkg/cloudprovider/vsphere/instances_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add Han Fang as reviewer (#542)
  OWNERS_ALIASES
Due: none

Fix go fmt issue
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

Cherry pick node cache fix 1.22 (#543)
  Makefile
  cluster/images/controller-manager/Dockerfile
  pkg/cloudprovider/vsphere/instances.go
  pkg/cloudprovider/vsphere/instances_test.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Report error empty uuid when finding instance, this is for paravirtual
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

1.22 Cherry pick fix for reporting error empty uuid when finding instance, this is for paravirtual (#547)
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Update doc and tag to point to 1.22.4
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/README.md
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Update doc and tag to point to 1.22.4 (#548)
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/README.md
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

chart: allow configuration of secret name
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/templates/configmap.yaml
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/templates/secret.yaml
  charts/vsphere-cpi/values.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Remove dead code
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

added unit test for zones
  pkg/cloudprovider/vsphereparavirtual/zone_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Exclude subnets for node ip selection
  pkg/cloudprovider/vsphere/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/config/config_ini_legacy_test.go
  pkg/cloudprovider/vsphere/config/config_yaml.go
  pkg/cloudprovider/vsphere/config/config_yaml_test.go
  pkg/cloudprovider/vsphere/config/types_common.go
  pkg/cloudprovider/vsphere/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/config/types_yaml.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

add e2e tests for vsphere-cpi.
  .gitignore
  Makefile
  go.mod
  go.sum
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
  pkg/util/fake_client_wrapper.go
  test/e2e/Makefile
  test/e2e/README.md
  test/e2e/config/vsphere-dev.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/sanity_test.go
  test/e2e/vsphere.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

added comment to ignore auto_generated
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump to golang 1.17
  cluster/images/controller-manager/Dockerfile
  go.mod
  hack/images/ci/Dockerfile
Due: pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test
