Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

pull-cloud-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - fmt

pull-cloud-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - lint

pull-cloud-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - vet

pull-cloud-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - docs/book/node_modules
      - .

pull-cloud-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

Update in_tree_vs_out_of_tree.md
  docs/book/concepts/in_tree_vs_out_of_tree.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update vcp_overview.md
  docs/book/concepts/vcp_overview.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update SUMMARY.md
  docs/book/SUMMARY.md
Due: pull-cloud-provider-vsphere-verify-markdown

support NSX-T connection with proxy
  pkg/cloudprovider/vsphere/loadbalancer/nsxt_broker.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Update cpi_overview.md
  docs/book/concepts/cpi_overview.md
Due: pull-cloud-provider-vsphere-verify-markdown

Add files via upload
  docs/images/vsphere-in-tree-architecture.png
Due: none

Update csi_overview.md
  docs/book/concepts/csi_overview.md
Due: pull-cloud-provider-vsphere-verify-markdown

fix invalid url
  CONTRIBUTING.md
Due: pull-cloud-provider-vsphere-verify-markdown

fix invalid url
  README.md
Due: pull-cloud-provider-vsphere-verify-markdown

fix invalid url
  docs/book/cloud_provider_interface.md
Due: pull-cloud-provider-vsphere-verify-markdown

Revert "fix invalid url"
  README.md
Due: pull-cloud-provider-vsphere-verify-markdown

instances: don't cache discovered node if no addresses are found
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

update simulator VM to include network devices in tests
  pkg/cloudprovider/vsphere/instances_test.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/cloudprovider/vsphere/zones_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

set gitVersion in cloud-controller-manager LDFLAGS
  Makefile
Due: none

vSphere cloud-controller-manager should tolerate not-ready taint since it is a system critical pod
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
Due: none

return err if VM guest property is nil
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Update config.go
  pkg/cloudprovider/vsphere/config.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Update config.go
  pkg/common/config/config.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Update cloud_provider_interface.md
  docs/book/cloud_provider_interface.md
Due: pull-cloud-provider-vsphere-verify-markdown

typos
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update CSI driver documentation
  docs/book/tutorials/enabling-vsphere-csi-on-an-existing-cluster.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update docs for VMTools exclude-nics filtering
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Add lang to code block
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Remove trailing period
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Updated br*
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

skip staticcheck for SA1019
  hack/check-staticcheck.sh
Due: pull-cloud-provider-vsphere-verify-shell

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: ^((cmd|pkg)/)|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: ^((cmd|pkg)/)|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
