Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod|Dockerfile|Makefile
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod

vsphereparavirtual: support multiple VM Operator API versions (v1alpha2, v1alpha5)
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha2/adapter.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha2/adapter_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha2/fake/fake.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha5/adapter.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha5/adapter_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha5/fake/fake.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/fake/fake.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/fake_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/fake_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachineservice_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/factory/factory.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/factory/factory_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/interface.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/provider/v1alpha5/client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/provider/v1alpha5/client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/types/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
  pkg/cloudprovider/vsphereparavirtual/zone.go
  pkg/cloudprovider/vsphereparavirtual/zone_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump k8s group to 0.36.0-beta.0, vm-operator and go
  Makefile
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  test/e2e/go.mod
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Allow supervisor hostname override
  pkg/cloudprovider/vsphereparavirtual/config/config.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

vsphereparavirtual: support multiple VM Operator API versions (v1alpha2, v1alpha5)
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha2/adapter.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha2/adapter_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha2/fake/fake.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha5/adapter.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha5/adapter_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha5/fake/fake.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/fake_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachineservice_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachineservice_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/factory/factory.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/factory/factory_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/interface.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/provider/v1alpha2/client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/provider/v1alpha2/client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/provider/v1alpha5/client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/provider/v1alpha5/client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/types/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
  pkg/cloudprovider/vsphereparavirtual/zone.go
  pkg/cloudprovider/vsphereparavirtual/zone_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Fix CVE-2026-33186 (CVSS 9.1) and CVE-2026-24051 (CVSS 7.0) on release-1.35
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Prevent unwanted k8s.io version bumps by Dependabot
  .github/dependabot.yml
Due: none

update documents for v1.35.1 release
  charts/vsphere-cpi-1.35.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/disable-node-deletion.yaml
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller.go.bak
  releases/v1.35/vsphere-cloud-controller-manager.yaml
  test.log
Due: pull-cloud-provider-vsphere-verify-shell

Release v1.35.1
  README.md
  charts/vsphere-cpi-1.35.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.35/vsphere-cloud-controller-manager.yaml
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-build

Add helm release 1.35.1
  README.md
  charts/vsphere-cpi-1.35.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/README.md
  releases/v1.35/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Bump Kubernetes dependencies to v0.36.0-rc.0 and etcd to v3.6.10
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Fix CI: Update gcb-docker-gcloud image to a valid version
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

Add support for vm-operator API version v1alpha6
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha6/adapter.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha6/adapter_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha6/dualstack_unstructured.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha6/fake/fake.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/factory/factory.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/factory/factory_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/provider/v1alpha6/client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/provider/v1alpha6/client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/types/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add helm release 1.36.0
  charts/vsphere-cpi-1.36.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/disable-node-deletion.yaml
  releases/README.md
  releases/v1.36/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Add tests for custom supervisor hostname
  pkg/cloudprovider/vsphereparavirtual/config/config_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Fix typo: occured -> occurred
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

[release-1.34]:Fix CVE-2026-24051
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

[release-1.35] Update security scan job by adding go-version
  Makefile
Due: pull-cloud-provider-vsphere-build

Update actions/setup-go to v6.4.0 in weekly security scan workflow
  .github/workflows/weekly-security-scan.yaml
Due: none

feat: add IPv6 and dual-stack support in CPI core
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/route/routeprovider.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/cluster_ip_family.go
  pkg/cloudprovider/vsphereparavirtual/cluster_ip_family_test.go
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/route.go
  pkg/cloudprovider/vsphereparavirtual/route_test.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/helper/helper.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/staticroute/routemanager.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha2/adapter.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha5/adapter.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/adapter/v1alpha6/adapter.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/networkutil/strip.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/networkutil/strip_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/types/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Update Go version to 1.26.3 to fix standard library vulnerabilities
  Makefile
  cluster/images/controller-manager/Dockerfile
Due: pull-cloud-provider-vsphere-build

feat(vsphereparavirtual): Support IPv6/dual-stack routable pods with NSX-VPC
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/cluster_ip_family.go
  pkg/cloudprovider/vsphereparavirtual/cluster_ip_family_test.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/core.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ipaddressallocation/ipaddressallocation_controller_test.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ippool/ippool_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/utils/utils.go
  pkg/cloudprovider/vsphereparavirtual/ipfamily/ipfamily.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc.go
  pkg/cloudprovider/vsphereparavirtual/nsxipmanager/nsx_vpc_test.go
  pkg/cloudprovider/vsphereparavirtual/route.go
  pkg/cloudprovider/vsphereparavirtual/route_test.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/helper/helper.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/helper/helper_test.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/staticroute/routemanager.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/staticroute/routemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Remove unused SUPERVISOR_APISERVER_ENDPOINT_IP env var requirement
  pkg/cloudprovider/vsphereparavirtual/config/config.go
  pkg/cloudprovider/vsphereparavirtual/config/config_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Remove unused SUPERVISOR_APISERVER_ENDPOINT_IP env var requirement
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/config/config.go
  pkg/cloudprovider/vsphereparavirtual/config/config_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Update Go version to 1.26.4 to fix standard library vulnerabilities
  Makefile
  cluster/images/controller-manager/Dockerfile
Due: pull-cloud-provider-vsphere-build

✨Support token reload without restarting
  cmd/vsphere-cloud-controller-manager/main.go
  cmd/vsphere-cloud-controller-manager/main_test.go
  pkg/cloudprovider/vsphereparavirtual/config/config.go
  pkg/cloudprovider/vsphereparavirtual/config/config_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Address comments to remove the dependency on crypto/sha256
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

✨Remove the use of the cryptographically weak MD5 hash
  hack/images/ci/conformance.sh
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test
