Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

pull-cloud-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201201-1941b8f-master
      command:
      - make
      args:
      - fmt

pull-cloud-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201201-1941b8f-master
      command:
      - make
      args:
      - lint

pull-cloud-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201201-1941b8f-master
      command:
      - make
      args:
      - vet

pull-cloud-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - docs/book/node_modules
      - .

pull-cloud-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cloud-provider-vsphere-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201201-1941b8f-master
      command:
      - make
      args:
      - staticcheck

pull-cloud-provider-vsphere-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201201-1941b8f-master
      command:
      - make
      args:
      - build

pull-cloud-provider-vsphere-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201201-1941b8f-master
      command:
      - make
      args:
      - unit-test

pull-cloud-provider-vsphere-integration-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201201-1941b8f-master
      command:
      - make
      args:
      - integration-test
      securityContext:
        privileged: true

Fix nil pointer error if the connector manager config is not set
  pkg/nsxt/connector_manager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

bump k8s version v1.19
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
  hack/images/ci/Dockerfile
  pkg/cloudprovider/vsphere/cloud.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

bump k8s version v1.20.2
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

remove dependency to k8s.io/kubernetes by replacing controller.NoResyncPeriodFunc()
  pkg/common/credentialmanager/credentialmanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

remove k8s.io/kubernetes from go modules
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add more validations for NSXT config
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/nsxt/config/config_ini_legacy.go
  pkg/nsxt/config/config_ini_legacy_test.go
  pkg/nsxt/config/config_yaml.go
  pkg/nsxt/config/config_yaml_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add paravirtual vsphere cloud provider
  Makefile
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/config.go
  pkg/cloudprovider/vsphereparavirtual/config_test.go
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/mocks/doc.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/testutil/fake_client_wrapper.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_suite_test.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
  pkg/util/retry.go
  pkg/util/retry_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

remove InstancesV2 warning since it is very noisy
  pkg/cloudprovider/vsphere/cloud.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

revert dual-stack node changes since network field in GuestNicInfo is not guarenteed
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

add more unit tests for routable pods
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/route/config/config_ini_legacy_test.go
  pkg/nsxt/config/config_ini_legacy_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Fix cloud provider flag error - '--cloud-provider cannot be empty'
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

enable vsphere paravirtual cloud provider
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

add deployment manifests for vsphere paravirtual cloud provider
  releases/v1.20/vsphere-paravirtual/cloud-controller-manager.yaml
Due: none

remove instancesV2 not implemented log
  pkg/cloudprovider/vsphereparavirtual/cloud.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

refactor LB unit tests to remove the use of ginkgo
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

refactor vmservice unit tests
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

go mod tidy
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add more people to maintainer list
  OWNERS_ALIASES
Due: none

remove vmservice_suite_test.go since it does not actually test anything
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_suite_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

update go mod dependencies
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

fix static check
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

minor lint for unit tests
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

when nodes have multiple NICs, we need to go through all listed items before returning error.
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Set providerID of vsphereparavirtual to 'vsphere' Use two different constant ProviderName for registering and for constructing ProviderID
  cmd/vsphere-cloud-controller-manager/main.go
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/util.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/instances.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

remove Travis CI check
  .travis.yml
Due: none

address comments
  go.sum
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

split TestCreateOrUpdateVMService into 2 functions, one for redefined GetFunc and the other one for redefined CreateFunc
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Refactor main.go based on sample main from k8s go module version v0.20.6
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

add test
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

fix style issue
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

when nodes have multiple NICs, we need to go through all listed items before returning error.
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add RouteSet CRD apis and client interfaces
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/doc.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/register.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/routeset_types.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/clientset.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/clientset_generated.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_routeset.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/generated_expansion.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/routeset.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/factory.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/generic.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/interface.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/interface.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/routeset.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/expansion_generated.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/routeset.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add IPPool CRD API and client interfaces
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/ippool_types.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/register.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_ippool.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/generated_expansion.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/ippool.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/generic.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/interface.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/ippool.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/expansion_generated.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/ippool.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Update RouteSet CRD
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/routeset_types.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add lubronzhan to the maintainer list
  OWNERS_ALIASES
Due: none

add nicolehanjing to maintainer list
  OWNERS_ALIASES
Due: none

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod
