Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod

Bump cloud-provider-vsphere to k8s v1.23
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

add documentation for cloud config Nodes values
  docs/book/cloud_config.md
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

v1.23.0-alpha.1 release
  README.md
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  releases/README.md
  releases/v1.23/vsphere-cloud-controller-manager.yaml
  test/e2e/config/vsphere-dev.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Missing doc
  charts/vsphere-cpi/Chart.yaml
Due: none

Fix staticcheck error by cluster-api dependency.
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Remove extra key name in char release config
  .github/workflows/release.yml
Due: none

Return error if multiple VMs with same hostnames found
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/common/vclib/custom_errors.go
  pkg/common/vclib/datacenter.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Update helm chart release
  charts/vsphere-cpi-1.0.0.tgz
  charts/vsphere-cpi/templates/daemonset.yaml
  index.yaml
Due: none

Update kubernetes-on-vsphere-with-kubeadm.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Exclude subnets for node ip selection
  docs/book/cloud_config.md
  pkg/cloudprovider/vsphere/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/config/config_ini_legacy_test.go
  pkg/cloudprovider/vsphere/config/config_yaml.go
  pkg/cloudprovider/vsphere/config/config_yaml_test.go
  pkg/cloudprovider/vsphere/config/types_common.go
  pkg/cloudprovider/vsphere/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/config/types_yaml.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Bump CPI to 1.22.5
  .github/workflows/release.yml
  charts/vsphere-cpi-1.0.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/README.md
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

patch priorityClassName: system-node-critical in CPI daemonset
  charts/vsphere-cpi/templates/daemonset.yaml
  releases/v1.18/vsphere-cloud-controller-manager.yaml
  releases/v1.19/vsphere-cloud-controller-manager.yaml
  releases/v1.2/vsphere-cloud-controller-manager.yaml
  releases/v1.20/vsphere-cloud-controller-manager.yaml
  releases/v1.21/vsphere-cloud-controller-manager.yaml
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: none

deprecate pod priority annotation in cpi deployment
  charts/vsphere-cpi/templates/daemonset.yaml
  docs/book/tutorials/disable-node-deletion.yaml
  releases/v1.18/vsphere-cloud-controller-manager.yaml
  releases/v1.19/vsphere-cloud-controller-manager.yaml
  releases/v1.20/vsphere-cloud-controller-manager.yaml
  releases/v1.21/vsphere-cloud-controller-manager.yaml
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: none

deprecate pod priority annotation in cpi deployment
  charts/vsphere-cpi/templates/daemonset.yaml
  docs/book/tutorials/disable-node-deletion.yaml
  releases/v1.18/vsphere-cloud-controller-manager.yaml
  releases/v1.19/vsphere-cloud-controller-manager.yaml
  releases/v1.20/vsphere-cloud-controller-manager.yaml
  releases/v1.21/vsphere-cloud-controller-manager.yaml
  releases/v1.22/vsphere-cloud-controller-manager.yaml
  releases/v1.23/vsphere-cloud-controller-manager.yaml
Due: none

Add script for test coverage pipeline
  .gitignore
  Makefile
  scripts/ci-test-coverage.sh
Due: pull-cloud-provider-vsphere-verify-shell

Skip e2e for calculating coverage
  test/e2e/e2e_suite_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Skip e2e for calculating coverage (#575)
  test/e2e/e2e_suite_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Refactor unit-test and test-cover in MAKEFILE
  Makefile
Due: none

Update cluster/node selector labels for paravirutal
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

update govmomi to v0.27.3
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Return error when VM's info returned from VC doesn't contains IP address
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add missing logic to pass RemoteAuth when constructing Config
  pkg/nsxt/config/config_ini_legacy.go
  pkg/nsxt/config/config_ini_legacy_test.go
  pkg/nsxt/config/config_yaml.go
  pkg/nsxt/config/config_yaml_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add dual stack support doc
  docs/book/known_issues.md
  docs/book/tutorials/enable-dual-stack.md
Due: pull-cloud-provider-vsphere-verify-markdown

Fixed broken link
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

add xudong as cloud provider vsphere maintainer
  OWNERS_ALIASES
Due: none

Report error empty uuid when finding instance, this is for paravirtual
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Fix incorrect kubebuilder path in Makefile.
  Makefile
Due: none
