Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod

docs: Improve documents/tutorials and fix broken linksadd nicolehanjing to maintainer list
  README.md
  docs/book/SUMMARY.md
  docs/book/cloud_provider_interface.md
  docs/images/vsphere_kubernetes_logo.png
Due: pull-cloud-provider-vsphere-verify-markdown

Implement Route interface and add the script to generate client code
  Makefile
  go.mod
  go.sum
  hack/boilerplate.go.txt
  hack/tools.go
  hack/update-codegen.sh
  hack/verify-codegen.sh
  pkg/cloudprovider/vsphere/route/routeprovider.go
  pkg/cloudprovider/vsphere/route/routeprovider_test.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/route.go
  pkg/cloudprovider/vsphereparavirtual/route_test.go
  pkg/cloudprovider/vsphereparavirtual/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
  pkg/util/fake_client_wrapper.go
  pkg/util/fake_routeset_client_wrapper.go
  pkg/util/utils.go
  pkg/util/utils_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add node and ippool controllers to do node ipam
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/core.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/helper/ippool.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ippool/ippool_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ippool/ippool_controller_test.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller_test.go
  pkg/common/kubernetes/informers.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Use Ippool's status as source of truth. Regardless cidr value, assign to node anyway
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ippool/ippool_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ippool/ippool_controller_test.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

add script to squash all commits of current branch and build docker image
  Makefile
  hack/git-squash.sh
Due: pull-cloud-provider-vsphere-verify-shell

Add docs for providing release version matrix
  CONTRIBUTING.md
  README.md
Due: pull-cloud-provider-vsphere-verify-markdown

Migrate the helm chart to /charts repo and update related docs
  charts/vsphere-cpi/.helmignore
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/templates/NOTES.txt
  charts/vsphere-cpi/templates/_helpers.tpl
  charts/vsphere-cpi/templates/common.yaml
  charts/vsphere-cpi/templates/configmap.yaml
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/templates/ingress.yaml
  charts/vsphere-cpi/templates/podsecuritypolicy.yaml
  charts/vsphere-cpi/templates/role-binding.yaml
  charts/vsphere-cpi/templates/role.yaml
  charts/vsphere-cpi/templates/secret.yaml
  charts/vsphere-cpi/templates/service-account.yaml
  charts/vsphere-cpi/templates/service.yaml
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/kubernetes-on-vsphere-with-helm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Add RouteSet CRD apis and client interfaces
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/doc.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/register.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/routeset_types.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/clientset.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/clientset_generated.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/doc.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_routeset.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/generated_expansion.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/routeset.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/factory.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/generic.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/interface.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/interface.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/routeset.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/expansion_generated.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/routeset.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add IPPool CRD API and client interfaces
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/ippool_types.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/register.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_ippool.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/fake/fake_nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/generated_expansion.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/ippool.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/typed/nsxnetworking/v1alpha1/nsxnetworking_client.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/generic.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/interface.go
  pkg/cloudprovider/vsphereparavirtual/client/informers/externalversions/nsxnetworking/v1alpha1/ippool.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/expansion_generated.go
  pkg/cloudprovider/vsphereparavirtual/client/listers/nsxnetworking/v1alpha1/ippool.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

add nicolehanjing to maintainer list
  OWNERS_ALIASES
Due: none

Update RouteSet CRD
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/routeset_types.go
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add lubronzhan to the maintainer list
  OWNERS_ALIASES
Due: none

Fix link in in_tree_vs_out_of_tree.md
  docs/book/concepts/in_tree_vs_out_of_tree.md
Due: pull-cloud-provider-vsphere-verify-markdown

fix issue 485: panic error after not finding matching VM in k3s
  pkg/cloudprovider/vsphere/instances.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

docs: deploy cpi with k3s
  docs/book/tutorials/deploying-cpi-with-k3s.md
Due: pull-cloud-provider-vsphere-verify-markdown

helm doc and folder structure updates
  .github/workflows/release.yml
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/index.yaml
  charts/vsphere-cpi/templates/common.yaml
  charts/vsphere-cpi/templates/configmap.yaml
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/templates/ingress.yaml
  charts/vsphere-cpi/templates/role-binding.yaml
  charts/vsphere-cpi/templates/role.yaml
  charts/vsphere-cpi/templates/secret.yaml
  charts/vsphere-cpi/templates/service-account.yaml
  charts/vsphere-cpi/values.yaml
  charts/vsphere-cpi/vsphere-cpi-1.0.0.tgz
Due: none

fix helm doc and update helm charts
  charts/vsphere-cpi-1.0.0.tgz
  charts/vsphere-cpi/README.md
  index.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

fix helm commands
  charts/vsphere-cpi/README.md
  docs/book/tutorials/kubernetes-on-vsphere-with-helm.md
  index.yaml
  vsphere-cpi-1.0.0.tgz
Due: pull-cloud-provider-vsphere-verify-markdown

helm chart template fix: fix configMap name in volumes settings
  charts/vsphere-cpi-1.0.0.tgz
  charts/vsphere-cpi/templates/daemonset.yaml
  index.yaml
Due: none

remove CSI related docs
  README.md
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/cloud_provider_interface.md
  docs/book/concepts/csi_overview.md
  docs/book/container_storage_interface.md
  docs/book/tutorials/deploying_cpi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/enabling-vsphere-csi-on-an-existing-cluster.md
  docs/book/tutorials/kubernetes-on-vsphere-with-helm.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Add Cilium to the list of excluded nics
  docs/book/known_issues.md
Due: pull-cloud-provider-vsphere-verify-markdown

Revert "Remove documentation about vSphere CSI Driver from CPI Documentation"
  README.md
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/cloud_provider_interface.md
  docs/book/concepts/csi_overview.md
  docs/book/container_storage_interface.md
  docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/enabling-vsphere-csi-on-an-existing-cluster.md
  docs/book/tutorials/kubernetes-on-vsphere-with-helm.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Bump k8s dependencies to 1.22 and go to 1.16
  Makefile
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
  hack/images/ci/Dockerfile
Due: pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

backfill testcoverage for node IP discovery
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Support dualstack node IP discovery
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

comment private functions
  pkg/cloudprovider/vsphere/nodemanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Extract ArrayContainsCaseInsensitive to util.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/util.go
  pkg/cloudprovider/vsphere/util_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

fix api binding config
  charts/vsphere-cpi/templates/daemonset.yaml
Due: none

Change go get to go install since go 1.17 deprecates go get
  hack/check-format.sh
  hack/check-lint.sh
  hack/check-staticcheck.sh
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck

Still need go get to download, go install just install the command
  hack/check-format.sh
  hack/check-lint.sh
  hack/check-staticcheck.sh
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck

Tests for added private functions
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Commit change
  pkg/cloudprovider/vsphereparavirtual/apis/nsxnetworking/v1alpha1/zz_generated.deepcopy.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

optionally check for orphan, unmanaged load balancer service
  pkg/cloudprovider/vsphere/loadbalancer/cleanup.go
  pkg/cloudprovider/vsphere/loadbalancer/interface.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test
