Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

pull-cloud-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - make
      args:
      - fmt

pull-cloud-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - make
      args:
      - lint

pull-cloud-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - make
      args:
      - vet

pull-cloud-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - docs/book/node_modules
      - .

pull-cloud-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cloud-provider-vsphere-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - make
      args:
      - staticcheck

pull-cloud-provider-vsphere-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - make
      args:
      - build

pull-cloud-provider-vsphere-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - make
      args:
      - unit-test

pull-cloud-provider-vsphere-integration-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - make
      args:
      - integration-test
      securityContext:
        privileged: true

pull-cloud-provider-vsphere-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cloud-provider-vsphere-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  spec:
    containers:
  ...

Also bump controller-runtime
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

update go version and toolchain
  test/e2e/go.mod
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Bump cluster-api to main
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

automatic generate release notes
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/bump-k8s-dep.yml
  .github/workflows/bump-test-k8s-dep.yml
  .github/workflows/generate-release-notes.yml
Due: none

skip verify to test
  .github/workflows/generate-release-notes.yml
Due: none

automatic generate release notes (#1056)
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/bump-k8s-dep.yml
  .github/workflows/bump-test-k8s-dep.yml
  .github/workflows/generate-release-notes.yml
Due: none

verify generate release note github action
  .github/workflows/generate-release-notes.yml
Due: none

add github action to auo sync doc changes to gh-pages
  .github/workflows/auto-sync-gh-pages.yml
Due: none

fix integration test
  test/integration/Makefile
  test/integration/install_kind.sh
Due: pull-cloud-provider-vsphere-verify-shell

fix integration test (#1061)
  test/integration/Makefile
  test/integration/install_kind.sh
Due: pull-cloud-provider-vsphere-verify-shell

update all the image registry related document
  Makefile
  README.md
  charts/vsphere-cpi-v1.30.1.tgz
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/disable-node-deletion.yaml
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
  docs/book/tutorials/make_a_new_cpi_release.md
  hack/images/ci/README.md
  hack/make.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.28/vsphere-cloud-controller-manager.yaml
  releases/v1.29/vsphere-cloud-controller-manager.yaml
  releases/v1.30/vsphere-cloud-controller-manager.yaml
  test/e2e/Makefile
  test/e2e/e2e_suite_test.go
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

fix helm chart release
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
Due: pull-cloud-provider-vsphere-verify-markdown

fix helm chart release (#1062)
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update index.yaml
  index.yaml
Due: none

Use absolute paths in tests
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-e2e-test

add a script to auto change all the docs, helm chart and readme
  README.md
  charts/vsphere-cpi-v1.2.3.tgz
  hack/install-gh.sh
  hack/update-docs.sh
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

update docuemnt for v1.33.0 release
  charts/vsphere-cpi-v1.33.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
Due: none

update docuemnt for v1.99.9 release
  README.md
  charts/vsphere-cpi-v1.99.9.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.99/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

add github action to auo sync doc changes to gh-pages (#1059)
  .github/workflows/auto-sync-gh-pages.yml
Due: none

add a script to auto change all the docs, helm chart and readme
  .github/workflows/generate-release-notes.yml
  README.md
  hack/install-gh.sh
  hack/update-docs.sh
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

test/e2e: use vSphere projects from Boskos
  hack/e2e.sh
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-e2e-test

add a script to auto change all the docs, helm chart and readme (#1066)
  .github/workflows/generate-release-notes.yml
  README.md
  hack/install-gh.sh
  hack/update-docs.sh
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

cherry pick image registry changes to release 1.29 branch
  .github/dependabot.yml
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/promote-image.yml
  Makefile
  README.md
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  hack/e2e.sh
  hack/images/ci/Makefile
  hack/images/ci/README.md
  hack/install-gh.sh
  hack/install-helm.sh
  hack/kpromo.sh
  hack/make.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/update-docs.sh
  releases/v1.28/vsphere-cloud-controller-manager.yaml
  releases/v1.29/vsphere-cloud-controller-manager.yaml
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_install_test.go
  test/e2e/cpi_vm_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

cherry pick image registry changes to release 1.28 branch
  .github/dependabot.yml
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/promote-image.yml
  Makefile
  README.md
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  hack/e2e.sh
  hack/images/ci/Makefile
  hack/images/ci/README.md
  hack/install-gh.sh
  hack/install-helm.sh
  hack/kpromo.sh
  hack/make.sh
  hack/release.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/update-docs.sh
  releases/v1.28/vsphere-cloud-controller-manager.yaml
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_install_test.go
  test/e2e/cpi_vm_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

cherry pick e2e env change to release 1.29
  hack/e2e.sh
  hack/release.sh
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-e2e-test

cherry pick e2e test env change to release 1.30
  hack/release.sh
Due: pull-cloud-provider-vsphere-verify-shell

cherry pick e2e env change to release 1.28
  hack/e2e.sh
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-e2e-test

Monitor the path of supervisor config
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Only watch supervisor path if it's paravirtual
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

update docuemnt for v1.28.1 release
  README.md
  charts/vsphere-cpi-v1.28.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.28/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

update docuemnt for v1.28.1 release (#1090)
  README.md
  charts/vsphere-cpi-v1.28.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.28/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

fix kpromo action
  hack/kpromo.sh
Due: pull-cloud-provider-vsphere-verify-shell

update docuemnt for v1.29.1 release
  README.md
  charts/vsphere-cpi-v1.29.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  hack/kpromo.sh
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.29/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

update docuemnt for v1.30.2 release
  README.md
  charts/vsphere-cpi-v1.30.2.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  hack/kpromo.sh
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.30/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

fix update docs script
  hack/update-docs.sh
Due: pull-cloud-provider-vsphere-verify-shell

fix kpromo action (#1091)
  hack/kpromo.sh
Due: pull-cloud-provider-vsphere-verify-shell

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-e2e-test: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/
