Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod|Dockerfile|Makefile
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-e2e-test: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/|charts/vsphere-cpi/
  pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/|charts/vsphere-cpi/

Bump govmomi to v0.45.1
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Fix generate release notes error
  .github/workflows/generate-release-notes.yml
Due: none

Fix the stale Node issue in cache
  hack/tools/go.mod
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/route.go
  pkg/cloudprovider/vsphereparavirtual/route_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Added the ability to apply extra volumes and volume mounts to the daemonset.
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/values.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update some of the values defaults in the readme.
  charts/vsphere-cpi/README.md
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update the configmap to allow the caFile path to be specified.
  charts/vsphere-cpi/templates/configmap.yaml
  charts/vsphere-cpi/values.yaml
Due: pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump the Kubernetes group to v0.32.0-rc.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump e2e to use latest CAPI/CAPV
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_vm_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump the K8s group to v0.32.0 and capi for e2e to v1.9.0
  go.mod
  go.sum
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

update documents for v1.32.0 release
  .gcloudignore
  .gitignore
  README.md
  charts/vsphere-cpi-1.32.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.32/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

update documents for v1.32.1 release
  README.md
  charts/vsphere-cpi-1.32.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.32/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Add helm release 1.32.1
  README.md
  charts/vsphere-cpi-1.32.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  index.yaml
  releases/README.md
  releases/v1.32/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump E2E to use CAPI 1.9.1 & CAPV 1.12.0
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update packages to fix CVEs
  go.mod
  go.sum
  hack/update-docs.sh
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

update documents for v1.32.2 release
  1
  README.md
  charts/vsphere-cpi-1.32.2.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  pod-repro-describe.yaml
  pod_on_GC1.30.1.log
  releases/README.md
  releases/v1.32/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

update documents for v1.32.2 release
  README.md
  charts/vsphere-cpi-1.32.2.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.32/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Add helm release 1.32.2
  charts/vsphere-cpi-1.32.2.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/README.md
  releases/v1.32/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update dependabot for 1.32 release
  .github/dependabot.yml
Due: none

Update vsphere-cpi-1.32.2.tgz with right tag
  charts/vsphere-cpi-1.32.2.tgz
Due: none

Allow changing the default cluster.role on vmservice
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Fix X509 verification test against Go 1.24
  pkg/common/vclib/connection_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Adjust to govmomi simulator breaking changes
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/instances_test.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/cloudprovider/vsphere/zones_test.go
  pkg/common/connectionmanager/list_test.go
  pkg/common/connectionmanager/search_test.go
  pkg/common/connectionmanager/zones_test.go
  pkg/common/vclib/datacenter_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump the Kubernetes group to v0.33.0-beta.0
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump Go to 1.24 and Kubernetes group to v0.33.0-beta.0
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
  hack/tools/go.mod
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Add support for service annotation propagation
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update jwt to fix CVE
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump the Kubernetes group to v0.33.0-rc.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump e2e to use latest CAPI/CAPV
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_vm_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/vsphere.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump e2e to use latest CAPI/CAPV and refine testcases
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_vm_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/vsphere.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

debug cpi node provider id
  pkg/cloudprovider/vsphereparavirtual/instances.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

feat: add rhel8 and rhel9 to guest os list
  pkg/cloudprovider/vsphere/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

update documents for v1.33.0 release
  README.md
  charts/vsphere-cpi-v1.33.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.33/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump e2e to use latest CAPI/CAPV
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update Documents for v1.33.0 release
  README.md
  charts/vsphere-cpi-1.33.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.33/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Bump the Kubernetes group to v0.33.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Add helm release 1.33.0
  charts/vsphere-cpi-1.33.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  index.yaml
  releases/README.md
  releases/v1.33/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Fix ca-file config entry to be : not = seperated.
  charts/vsphere-cpi/templates/configmap.yaml
Due: pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update dependabot for 1.33 release
  .github/dependabot.yml
Due: none
