Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: ^((cmd|pkg)/)|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: ^((cmd|pkg)/)|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$

Introduce new release tooling and structure
  Makefile
  cluster/images/controller-manager/Dockerfile
  hack/match-release-tag.sh
  hack/release.sh
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-shell

IPv6 and Dual Stack
  go.mod
  manifests/controller-manager/cloud-controller-manager-role-bindings.yaml
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/util.go
  pkg/common/config/config.go
  pkg/common/config/config_test.go
  pkg/common/config/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Update and clean up vSphere Cloud Provider docs
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/cloud_provider_interface.md
  docs/book/cluster_architecture.md
  docs/book/concepts/cpi_overview.md
  docs/book/concepts/csi_overview.md
  docs/book/concepts/in_tree_vs_out_of_tree.md
  docs/book/concepts/vcp_overview.md
  docs/book/concepts/vmware_vsphere_storage.md
  docs/book/container_storage_interface.md
  docs/book/glossary.md
  docs/book/installation_and_operations.md
  docs/book/kubernetes_concepts.md
  docs/book/vsphere_integrations.md
  docs/images/cpi_node_addresses_example.png
  docs/images/cpi_nodes_instance_type_example.png
  docs/images/cpi_zones_topology_example.png
Due: pull-cloud-provider-vsphere-verify-markdown

docs: fix link to CSI page
  docs/book/SUMMARY.md
Due: pull-cloud-provider-vsphere-verify-markdown

Fix import syntax in cloudprovidervsphere.pb.go
  pkg/cloudprovider/vsphere/proto/cloudprovidervsphere.pb.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Fix tagging of latest in hack/release.sh
  hack/release.sh
Due: pull-cloud-provider-vsphere-verify-shell

Add links to container images to README
  README.md
Due: pull-cloud-provider-vsphere-verify-markdown

Fix build output location in release.sh
  hack/release.sh
Due: pull-cloud-provider-vsphere-verify-shell

Initial commit for handling multiple service accounts
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/instances_test.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/proto/cloudprovidervsphere.pb.go
  pkg/cloudprovider/vsphere/types.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/cloudprovider/vsphere/zones.go
  pkg/cloudprovider/vsphere/zones_test.go
  pkg/common/config/config.go
  pkg/common/config/config_test.go
  pkg/common/config/consts_and_errors.go
  pkg/common/config/types.go
  pkg/common/config/virtualcenterconfig.go
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/connectionmanager/consts_and_errors.go
  pkg/common/connectionmanager/custom_errors.go
  pkg/common/connectionmanager/list.go
  pkg/common/connectionmanager/list_test.go
  pkg/common/connectionmanager/search.go
  pkg/common/connectionmanager/search_test.go
  pkg/common/connectionmanager/types.go
  pkg/common/connectionmanager/zones.go
  pkg/common/connectionmanager/zones_test.go
  pkg/common/credentialmanager/consts_and_errors.go
  pkg/common/credentialmanager/credentialmanager.go
  pkg/common/credentialmanager/credentialmanager_test.go
  pkg/common/credentialmanager/types.go
  pkg/common/kubernetes/informers.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Add a staticcheck verify script and fix errors
  Makefile
  cmd/vcpctl/provision/provision.go
  go.mod
  go.sum
  hack/check-format.sh
  hack/check-staticcheck.sh
  pkg/cli/cli.go
  pkg/cli/user.go
  pkg/cloudprovider/vsphere/cloud.go
  pkg/common/config/config.go
  pkg/common/connectionmanager/search.go
  pkg/common/connectionmanager/zones.go
  pkg/common/vclib/pbm.go
  pkg/common/vclib/utils.go
  pkg/common/vclib/virtualmachine.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell

Refactor used single SharedInformer
  pkg/cloudprovider/vsphere/cloud.go
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/kubernetes/informers.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

refactor to initialize shared informer only once
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/types.go
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/connectionmanager/types.go
  pkg/common/kubernetes/informers.go
  pkg/common/kubernetes/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Tutorial updates
  docs/book/README.md
  docs/book/tutorials/deploying_cloud_provider_vsphere_with_rbac.md
  docs/book/tutorials/k8s-vcp-on-vsphere-with-kubeadm.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
  docs/images/cns-mongo-pvs-labels.png
  docs/images/cns-mongo-pvs.png
  docs/images/space-efficient.png
Due: pull-cloud-provider-vsphere-verify-markdown

doc updates
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

fix space formatting in kubeadm vsphere tutorial
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

fix image URLs in kubeadm + vsphere tutorial
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

increase log level for calling Instances() and Zones() interface, log warning for unsupported cloud provider features
  pkg/cloudprovider/vsphere/cloud.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Doc updates
  docs/book/tutorials/deploying_ccm_and_csi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Doc Updates
  docs/book/tutorials/deploying_ccm_and_csi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Doc Updates
  docs/book/tutorials/deploying_ccm_and_csi_with_multi_dc_vc_aka_zones.md
Due: pull-cloud-provider-vsphere-verify-markdown

Doc Updates
  docs/book/README.md
  docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Doc updates
  docs/book/README.md
Due: pull-cloud-provider-vsphere-verify-markdown

Controller Manifest Update to point to apps/v1
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
Due: none

Updated docs to use manifest yaml links rather than copy and paste
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

update verbiage in README
  README.md
Due: pull-cloud-provider-vsphere-verify-markdown

add Documentation section to README
  README.md
Due: pull-cloud-provider-vsphere-verify-markdown

add extra note on the deprecation of the in-tree provider
  README.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update Go docker images to 1.12.10
  cluster/images/controller-manager/Dockerfile
  hack/images/ci/Dockerfile
Due: none

Default GOPROXY to https://proxy.golang.org
  cluster/images/controller-manager/Dockerfile
  hack/images/ci/Dockerfile
Due: none

Remove Go linter from CI image
  hack/images/ci/Dockerfile
Due: none

Fix install of python3 PIP and awscli
  hack/images/ci/Dockerfile
Due: none

remove ServiceAccount in cloud config, previously used to set the client user agent
  pkg/cloudprovider/vsphere/cloud.go
  pkg/common/config/config.go
  pkg/common/config/consts_and_errors.go
  pkg/common/config/types.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Updates to docs
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/cloud_config.md
  docs/book/tutorials/deploying_cloud_provider_vsphere_with_rbac.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

docs: add in-tree tutorial to SUMMARY.md otherwise page is not rendered
  docs/book/SUMMARY.md
Due: pull-cloud-provider-vsphere-verify-markdown

Modify CPI to used k8s secrets
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Added firewall considerations and adjusted header levels
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Updated docs to reflect GA status of CSI plugin
  docs/book/concepts/csi_overview.md
  docs/book/container_storage_interface.md
Due: pull-cloud-provider-vsphere-verify-markdown
