Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod

Add release branch to chart config so that each release could also publish in chart (#632)
  .github/workflows/release.yml
Due: none

Release helm chart vsphere-cpi 1.23.1
  charts/vsphere-cpi-1.23.0.tgz
  charts/vsphere-cpi-1.23.1.tgz
  index.yaml
Due: none

Fix the typo inside helm chart config
  .github/workflows/release.yml
Due: none

Remove the service inside helm chart spec
  charts/vsphere-cpi/values.yaml
Due: none

Fix the branch regex in helm chart config
  .github/workflows/release.yml
Due: none

Release the helm chart 1.23.1 again to fix the issue
  charts/vsphere-cpi-1.23.1.tgz
Due: none

Add changes in 1.23
  README.md
  charts/vsphere-cpi-1.0.0.tgz
  charts/vsphere-cpi-1.23.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  releases/v1.23/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Add changes in 1.23 (#634)
  README.md
  charts/vsphere-cpi-1.0.0.tgz
  charts/vsphere-cpi-1.23.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  releases/v1.23/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Add changes in 1.23
  charts/vsphere-cpi-1.23.1.tgz
Due: none

Add changes in 1.23 again
  charts/vsphere-cpi-1.23.1.tgz
Due: none

Cut CPI version for 1.24 Kubernetes.
  README.md
  charts/vsphere-cpi-1.23.1.tgz
  charts/vsphere-cpi-1.24.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  index.yaml
  releases/v1.24/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

WIP: Document the least required vCenter permissions for CPV
  docs/book/vcp_roles.md
Due: pull-cloud-provider-vsphere-verify-markdown

Add missing logic to pass RemoteAuth when constructing Config (#589)
  pkg/nsxt/config/config_ini_legacy.go
  pkg/nsxt/config/config_ini_legacy_test.go
  pkg/nsxt/config/config_yaml.go
  pkg/nsxt/config/config_yaml_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Formatted code
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/util.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/register.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/connectionmanager/zones.go
  pkg/common/vclib/utils.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Use full resource path for ipclaim and ipaddress in e2e CI.
  hack/e2e.sh
  hack/release.sh
Due: pull-cloud-provider-vsphere-verify-shell

Update helm chart, remove the service, add rke type nodeselector
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/templates/NOTES.txt
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/templates/ingress.yaml
  charts/vsphere-cpi/templates/service.yaml
  charts/vsphere-cpi/values.yaml
  index.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Update tarball of helm
  charts/vsphere-cpi-1.24.0.tgz
Due: none

Fix helm_doc
  charts/vsphere-cpi/README.md
Due: pull-cloud-provider-vsphere-verify-markdown

Release 1.24.1
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/v1.24/vsphere-cloud-controller-manager.yaml
Due: none

Sync vsphere-cpi with capi
  test/e2e/config/vsphere-ci.yaml
Due: none

Fix fmt
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/util.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/register.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/connectionmanager/zones.go
  pkg/common/vclib/utils.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Fix fmt
  pkg/cloudprovider/vsphere/util.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/register.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Release 1.24.1 (#646)
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  go.mod
  go.sum
  index.yaml
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/util.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/register.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/connectionmanager/zones.go
  pkg/common/vclib/utils.go
  pkg/nsxt/config/config_ini_legacy.go
  pkg/nsxt/config/config_ini_legacy_test.go
  pkg/nsxt/config/config_yaml.go
  pkg/nsxt/config/config_yaml_test.go
  releases/v1.24/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Update helm chart, remove the service, add rke type nodeselector
  charts/vsphere-cpi-1.24.0.tgz
  charts/vsphere-cpi-1.24.1.tgz
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/templates/NOTES.txt
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/templates/ingress.yaml
  charts/vsphere-cpi/templates/service.yaml
  charts/vsphere-cpi/values.yaml
  index.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Formatted code (#644)
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/util.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/fake/register.go
  pkg/cloudprovider/vsphereparavirtual/client/clientset/versioned/scheme/register.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/connectionmanager/zones.go
  pkg/common/vclib/utils.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Clean up and refactor the logic for CCM entrypoint.
  cmd/vsphere-cloud-controller-manager/main.go
  hack/release.sh
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Don't trigger helm chart release to each release branch. Since not enough permission
  .github/workflows/release.yml
Due: none

Merge release 1.24.1 to master (#648)
  charts/vsphere-cpi-1.24.0.tgz
  charts/vsphere-cpi-1.24.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/v1.24/vsphere-cloud-controller-manager.yaml
Due: none

CredentialsManager accepts alternate Secret format
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
  pkg/common/credentialmanager/consts_and_errors.go
  pkg/common/credentialmanager/credentialmanager.go
  pkg/common/credentialmanager/credentialmanager_test.go
  releases/README.md
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Check for vm state using mof when VM can't be found by using uuid
  pkg/cloudprovider/vsphere/instances.go
  pkg/common/vclib/virtualmachine.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add comment
  pkg/common/vclib/virtualmachine.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Add new legacy flag to indicate whether it's legacy paravirtual mode
  cmd/vsphere-cloud-controller-manager/main.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Merge pull request #650 from lubronzhan/add_more_vm_state_check
  pkg/cloudprovider/vsphere/instances.go
  pkg/common/vclib/virtualmachine.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test

Merge pull request #653 from lubronzhan/add_new_legagcy_flag
  cmd/vsphere-cloud-controller-manager/main.go
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test
