Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod|Dockerfile|Makefile
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-e2e-test: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/|charts/vsphere-cpi/
  pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/|charts/vsphere-cpi/

fix update docs script (#1094)
  hack/update-docs.sh
Due: pull-cloud-provider-vsphere-verify-shell

test boskos
  hack/e2e.sh
  test/e2e/e2e_suite_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

fix generate release notes github action
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
Due: none

fix generate release notes github action (#1096)
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
Due: none

update docuemnt for v1.29.1 release (#1092)
  README.md
  charts/vsphere-cpi-v1.29.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/disable-node-deletion.yaml
  hack/kpromo.sh
  hack/update-docs.sh
  index.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
  releases/README.md
  releases/v1.29/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

fix release 1.29 github action
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/bump-k8s-dep.yml
  .github/workflows/bump-test-k8s-dep.yml
  .github/workflows/generate-release-notes.yml
Due: none

fix release 1.29 github action (#1097)
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/bump-k8s-dep.yml
  .github/workflows/bump-test-k8s-dep.yml
  .github/workflows/generate-release-notes.yml
Due: none

fix release github action
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
Due: none

fix release github action
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
Due: none

fix release github action (#1099)
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
Due: none

fcherry pick release action fix
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/release.yml
  hack/kpromo.sh
  hack/update-docs.sh
Due: pull-cloud-provider-vsphere-verify-shell

fcherry pick release action fix
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/release.yml
  hack/bump-k8s-dep.sh
Due: pull-cloud-provider-vsphere-verify-shell

cherry pick release action fix
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/bump-k8s-dep.yml
  .github/workflows/bump-test-k8s-dep.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/release.yml
  hack/bump-k8s-dep.sh
  hack/kpromo.sh
Due: pull-cloud-provider-vsphere-verify-shell

fcherry pick release action fix (#1102)
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/release.yml
  hack/kpromo.sh
  hack/update-docs.sh
Due: pull-cloud-provider-vsphere-verify-shell

fcherry pick release action fix (#1103)
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/release.yml
  hack/bump-k8s-dep.sh
Due: pull-cloud-provider-vsphere-verify-shell

cherry pick release action fix (#1104)
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/bump-k8s-dep.yml
  .github/workflows/bump-test-k8s-dep.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/release.yml
  hack/bump-k8s-dep.sh
  hack/kpromo.sh
Due: pull-cloud-provider-vsphere-verify-shell

cherry pick release action fix
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  Makefile
  README.md
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  hack/e2e.sh
  hack/images/ci/Makefile
  hack/images/ci/README.md
  hack/install-gh.sh
  hack/install-helm.sh
  hack/kpromo.sh
  hack/make.sh
  hack/release.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/update-docs.sh
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_install_test.go
  test/e2e/cpi_vm_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

cherry pick env fix to 1.27
  hack/e2e.sh
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_install_test.go
  test/e2e/cpi_vm_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

revert irrelevant changes
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  README.md
  hack/images/ci/README.md
  hack/install-gh.sh
  hack/make.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/update-docs.sh
  test/e2e/config/vsphere-ci.yaml
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

fix generate release note action
  .github/workflows/generate-release-notes.yml
Due: none

fix generate release note action (#1117)
  .github/workflows/generate-release-notes.yml
Due: none

fix generate release note action (#1118)
  .github/workflows/generate-release-notes.yml
Due: none

cherry pick release action fix
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  Makefile
  README.md
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  hack/e2e.sh
  hack/images/ci/Makefile
  hack/images/ci/README.md
  hack/install-gh.sh
  hack/install-helm.sh
  hack/kpromo.sh
  hack/make.sh
  hack/release.sh
  hack/update-docs.sh
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_install_test.go
  test/e2e/cpi_vm_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Remove unnecessary change
  .github/workflows/auto-release-helm-chart.yml
  .github/workflows/auto-sync-gh-pages.yml
  .github/workflows/generate-release-notes.yml
  README.md
  hack/images/ci/README.md
  hack/install-gh.sh
  hack/make.sh
  test/e2e/config/vsphere-ci.yaml
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Fix integration test
  test/integration/Makefile
Due: pull-cloud-provider-vsphere-build

Fix e2e
  test/e2e/config/vsphere-ci.yaml
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Update go mod for hack/tools
  hack/tools/go.mod
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

Remove ginkgo v1
  test/e2e/cpi_install_test.go
  test/e2e/cpi_vm_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

remove VSPHERE_TLS_THUMBPRINT default value and switch to sha256
  pkg/common/vclib/connection_test.go
  test/e2e/README.md
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

switch to use vm operator valpah2 api
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
  hack/images/ci/Dockerfile
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/fake_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachineservice_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachineservice_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/interface.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
  pkg/cloudprovider/vsphereparavirtual/zone.go
  pkg/cloudprovider/vsphereparavirtual/zone_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version

bump govmomi to 0.37.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test, pull-cloud-provider-vsphere-e2e-test-on-latest-k8s-version
