Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-e2e-test: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/

improve actions
  .github/workflows/bump-k8s.yml
Due: none

improve actions
  .github/workflows/bump-k8s-for-e2e-test.yml
  .github/workflows/bump-k8s.yml
Due: none

improve actions
  .github/workflows/bump-k8s-for-e2e-test.yml
  .github/workflows/bump-k8s.yml
  hack/bump-k8s-dep.sh
Due: pull-cloud-provider-vsphere-verify-shell

improve github actions (#899)
  .github/workflows/bump-k8s-for-e2e-test.yml
  .github/workflows/bump-k8s.yml
Due: none

fix cpi post merge job fail because of docker unavailable
  Makefile
Due: none

fix integration test
  test/integration/Makefile
Due: none

trigger test
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/client.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

revert trigger test
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/client.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

fix integration test (#904)
  test/integration/Makefile
Due: none

run dependabot on three latest release branches
  .github/dependabot.yml
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

improve dependabot to make the PRs more readable
  .github/dependabot.yml
Due: none

Chery pick https://github.com/kubernetes/cloud-provider-vsphere/pull/904 to fix integration test
  test/integration/Makefile
Due: none

[1.29]Cherry pick #904 to fix integration test (#940)
  test/integration/Makefile
Due: none

Add additional members to maintainers alias
  OWNERS_ALIASES
Due: none

Bump goland image 1.22
  cluster/images/controller-manager/Dockerfile
Due: none

Bump
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-e2e-test

Support specifying Pod IPPool type.
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/core.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/interfaces.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha2/ippoolmanager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Add podIPPoolType configuration unit test
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha2/ippoolmanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Fix empty pod ip pool type check
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/config.go
  pkg/cloudprovider/vsphereparavirtual/config_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

fix auto bump github action
  hack/bump-k8s-dep.sh
Due: pull-cloud-provider-vsphere-verify-shell

fix auto bump github action
  .github/workflows/release.yml
  hack/bump-k8s-dep.sh
Due: pull-cloud-provider-vsphere-verify-shell

fix auto bump github action
  .github/workflows/bump-k8s.yml
  hack/bump-k8s-dep.sh
Due: pull-cloud-provider-vsphere-verify-shell

fix e2e test auto bump
  .github/workflows/bump-k8s-for-e2e-test.yml
  .github/workflows/bump-k8s.yml
Due: none

add 1.30-rc.0 pre-release
  charts/vsphere-cpi-v1.30.0-rc.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  index.yaml
Due: none

release vsphere cpi 1.30
  README.md
  charts/vsphere-cpi-v1.30.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  index.yaml
  releases/README.md
  releases/v1.30/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Update index.yaml
  index.yaml
Due: none

add 1.30 release
  README.md
  charts/vsphere-cpi-v1.30.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  index.yaml
  releases/README.md
  releases/v1.30/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

update e2e test for v1.30.0
  test/e2e/config/vsphere-ci.yaml
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

update e2e go mod to 1.30
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Revert "update e2e go mod to 1.30"
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

add 1.30 release (#982)
  README.md
  charts/vsphere-cpi-v1.30.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  index.yaml
  releases/README.md
  releases/v1.30/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

fix release script
  hack/release.sh
Due: pull-cloud-provider-vsphere-verify-shell
