Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell

pull-cloud-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - fmt

pull-cloud-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - lint

pull-cloud-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - make
      args:
      - vet

pull-cloud-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - docs/book/node_modules
      - .

pull-cloud-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

revert go mod and go sum
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
  pkg/cloudprovider/vsphere/vsphere_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

bump k8s.io/kubernetes@v1.19.3
  go.mod
  go.sum
Due: none

remove dependency to sample-controller for signal handling
  pkg/common/kubernetes/informers.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

add unimplemented InstancesV2
  pkg/cloudprovider/vsphere/cloud.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

run go mod tidy
  go.mod
  go.sum
Due: none

release: bump v1.2 manifest version to v1.2.1
  releases/v1.2/vsphere-cloud-controller-manager.yaml
Due: none

release: add latest manifest folder
  releases/latest/vsphere-cloud-controller-manager.yaml
Due: none

add deprecation notice for manifests directory
  manifests/controller-manager/README.md
Due: pull-cloud-provider-vsphere-verify-markdown

release: add v1.2 manifests
  releases/v1.2/vsphere-cloud-controller-manager.yaml
Due: none

fixup
  manifests/controller-manager/cloud-controller-manager-roles.yaml
  releases/latest/vsphere-cloud-controller-manager.yaml
  releases/v1.2/vsphere-cloud-controller-manager.yaml
Due: none

lock image tags to v1.2.1 for deprecated example manifests
  manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
  manifests/controller-manager/vsphere-cloud-controller-manager-pod.yaml
Due: none

remove releases/latest/vsphere-cloud-controller-manager.yaml
  releases/latest/vsphere-cloud-controller-manager.yaml
Due: none

remove latest tagging during releases
  Makefile
  hack/release.sh
Due: pull-cloud-provider-vsphere-verify-shell

allow create/update for leases.coordination.k8s.io
  manifests/controller-manager/cloud-controller-manager-roles.yaml
  releases/v1.2/vsphere-cloud-controller-manager.yaml
Due: none

Align YAML with Chart
  releases/v1.18/vsphere-cloud-controller-manager.yaml
  test/integration/Makefile
  test/integration/secrets.yaml
  test/integration/vsphere.conf
Due: none

Fixes integration tests
  test/integration/Makefile
Due: none

test/integration: upgrade kind version to v0.8.1 which deploys v1.18 clusters by default
  test/integration/install_kind.sh
Due: pull-cloud-provider-vsphere-verify-shell

test/integration: add --kubeconfig to kind create command since kind v0.8.1 uses default kubeconfig
  test/integration/Makefile
Due: none

test/integration: use correct configmap name cloud-config for vsphere-cloud-controller-manager
  test/integration/Makefile
Due: none

test/integration: vcsim statefulset should use apps/v1 apiVersion since apps/v1beta1 was removed in v1.17
  test/vcsim/deployment.yaml
Due: none

support for remote authentication for NSX-T load balancer
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/loadbalancer/access.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy_test.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml_test.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_common.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/lbprovider.go
  pkg/cloudprovider/vsphere/loadbalancer/nsxt_broker.go
  pkg/cloudprovider/vsphere/loadbalancer/state.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Use Exists operator in node-role.kubernetes.io/master toleration
  releases/v1.18/vsphere-cloud-controller-manager.yaml
Due: none

Move nsxt connection part to a separate dir
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/loadbalancer/config/config.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_common.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/nsxt_broker.go
  pkg/nsxt/config/config.go
  pkg/nsxt/config/config_ini_legacy.go
  pkg/nsxt/config/config_ini_legacy_test.go
  pkg/nsxt/config/config_test.go
  pkg/nsxt/config/config_yaml.go
  pkg/nsxt/config/config_yaml_test.go
  pkg/nsxt/config/types_common.go
  pkg/nsxt/config/types_ini_legacy.go
  pkg/nsxt/config/types_yaml.go
  pkg/nsxt/nsxt_connector.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

revert k8s module version to v1.18 latest
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Add in 1.19 YAML
  releases/v1.19/vsphere-cloud-controller-manager.yaml
Due: none

Update deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.md
  docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.md
Due: pull-cloud-provider-vsphere-verify-markdown

Update kubernetes-on-vsphere-with-helm.md
  docs/book/tutorials/kubernetes-on-vsphere-with-helm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Add route interfaces
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/route/config/config.go
  pkg/cloudprovider/vsphere/route/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/route/config/config_ini_legacy_test.go
  pkg/cloudprovider/vsphere/route/config/config_yaml.go
  pkg/cloudprovider/vsphere/route/config/config_yaml_test.go
  pkg/cloudprovider/vsphere/route/config/consts_and_errors.go
  pkg/cloudprovider/vsphere/route/config/types_common.go
  pkg/cloudprovider/vsphere/route/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/route/config/types_yaml.go
  pkg/cloudprovider/vsphere/route/mock_nsxtbroker.go
  pkg/cloudprovider/vsphere/route/nsxtbroker.go
  pkg/cloudprovider/vsphere/route/routeprovider.go
  pkg/cloudprovider/vsphere/route/routeprovider_test.go
  pkg/cloudprovider/vsphere/types.go
  pkg/cloudprovider/vsphere/vsphere_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Find node connected router automatically
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/route/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/route/config/config_yaml.go
  pkg/cloudprovider/vsphere/route/config/consts_and_errors.go
  pkg/cloudprovider/vsphere/route/nsxtbroker.go
  pkg/cloudprovider/vsphere/route/routeprovider.go
  pkg/common/kubernetes/informers.go
  pkg/nsxt/nsxt_connector.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Change CPI to use klog/v2
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
  pkg/cli/cli.go
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/config/config.go
  pkg/cloudprovider/vsphere/instances.go
  pkg/cloudprovider/vsphere/loadbalancer/cleanup.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/state.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/server/client.go
  pkg/cloudprovider/vsphere/server/server.go
  pkg/cloudprovider/vsphere/util.go
  pkg/cloudprovider/vsphere/vapilogger.go
  pkg/cloudprovider/vsphere/zones.go
  pkg/common/config/config.go
  pkg/common/config/config_ini_legacy.go
  pkg/common/config/config_yaml.go
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/connectionmanager/list.go
  pkg/common/connectionmanager/search.go
  pkg/common/connectionmanager/zones.go
  pkg/common/credentialmanager/credentialmanager.go
  pkg/common/kubernetes/kubernetes.go
  pkg/common/vclib/connection.go
  pkg/common/vclib/datacenter.go
  pkg/common/vclib/datastore.go
  pkg/common/vclib/folder.go
  pkg/common/vclib/pbm.go
  pkg/common/vclib/storagepod.go
  pkg/common/vclib/utils.go
  pkg/common/vclib/virtualmachine.go
  pkg/common/vclib/volumeoptions.go
  pkg/nsxt/config/config.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Update route provider part
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/route/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/route/config/config_yaml.go
  pkg/cloudprovider/vsphere/route/nsxtbroker.go
  pkg/cloudprovider/vsphere/route/routeprovider.go
  pkg/cloudprovider/vsphere/route/routeprovider_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Validate certificate in NSXT config
  go.sum
  pkg/cloudprovider/vsphere/route/config/config.go
  pkg/cloudprovider/vsphere/route/routeprovider.go
  pkg/nsxt/config/config_ini_legacy.go
  pkg/nsxt/config/config_ini_legacy_test.go
  pkg/nsxt/config/config_yaml.go
  pkg/nsxt/config/config_yaml_test.go
  pkg/nsxt/nsxt_connector.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Get NSXT username/password from secret
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_ini_legacy_test.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/config/config_yaml_test.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_common.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/loadbalancer/config/types_yaml.go
  pkg/cloudprovider/vsphere/loadbalancer/lbprovider.go
  pkg/cloudprovider/vsphere/loadbalancer/nsxt_broker.go
  pkg/cloudprovider/vsphere/route/config/config.go
  pkg/cloudprovider/vsphere/route/config/config_ini_legacy.go
  pkg/cloudprovider/vsphere/route/config/config_ini_legacy_test.go
  pkg/cloudprovider/vsphere/route/config/config_yaml.go
  pkg/cloudprovider/vsphere/route/config/config_yaml_test.go
  pkg/cloudprovider/vsphere/route/config/types_common.go
  pkg/cloudprovider/vsphere/route/config/types_ini_legacy.go
  pkg/cloudprovider/vsphere/route/nsxtbroker.go
  pkg/cloudprovider/vsphere/route/routeprovider.go
  pkg/cloudprovider/vsphere/types.go
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/common/kubernetes/informers.go
  pkg/nsxt/config/config.go
  pkg/nsxt/config/config_ini_legacy.go
  pkg/nsxt/config/config_ini_legacy_test.go
  pkg/nsxt/config/config_test.go
  pkg/nsxt/config/config_yaml.go
  pkg/nsxt/config/config_yaml_test.go
  pkg/nsxt/config/consts_and_errors.go
  pkg/nsxt/config/types_common.go
  pkg/nsxt/config/types_ini_legacy.go
  pkg/nsxt/config/types_yaml.go
  pkg/nsxt/connector_manager.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

WIP:add test for dual stack with internal/external subnet
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

add internalip discovery
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

remove support for NSX-T routes configuration via env vars
  pkg/cloudprovider/vsphere/route/config/config.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

remove alpha feature gate for NSX-T LB support
  pkg/cloudprovider/vsphere/cloud.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

refactor dual-stack config validation
  pkg/cloudprovider/vsphere/cloud.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

clean up TestAlphaDualStackConfig by comparing errors directly
  pkg/cloudprovider/vsphere/vsphere_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

add unit tests for validateDualStack
  pkg/cloudprovider/vsphere/cloud_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: ^((cmd|pkg)/)|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: ^((cmd|pkg)/)|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
