Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

Path conditions:
  gce-build-up-down: any of: kubetest2-gce/.*
  pull-kubetest2-gke-up-down-singlecluster: any of: kubetest2-gke/.*
  pull-kubetest2-gke-up-down-multicluster: any of: kubetest2-gke/.*
  pull-kubetest2-build-gce: any of: kubetest2-gce/.*
  pull-kubetest2-build-gke: any of: kubetest2-gke/.*
  pull-kubetest2-build-kind: any of: kubetest2-kind/.*

Ensure Down can run on build and test failure
  pkg/app/app.go
Due: none

support creating private GKE Autopilot clusters
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/network_test.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Set up GoReleaser to make releases for tags
  .github/workflows/release.yaml
  .gitignore
  .goreleaser.yaml
  Makefile
  RELEASE.md
Due: none

Some updates and fixes to the kubetest2 gke deployer
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/deployer_test.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/network_test.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Decouple RunDir from Artifacts
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/artifacts/paths.go
  pkg/testers/ginkgo/package.go
  pkg/types/types.go
Due: none

promote MushuEE to approver
  OWNERS
Due: none

drop inactive reviewer
  OWNERS
Due: none

emeritus spiffxp for now
  OWNERS
Due: none

Bump klog to klog2
  go.mod
  go.sum
  kubetest2-gce/deployer/build.go
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
  kubetest2-gce/deployer/down.go
  kubetest2-gce/deployer/dumplogs.go
  kubetest2-gce/deployer/firewall.go
  kubetest2-gce/deployer/up.go
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/build/gke_make.go
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/options/build.go
  kubetest2-gke/deployer/up.go
  kubetest2-gke/deployer/utils/util.go
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/deployer.go
  kubetest2-kind/deployer/down.go
  kubetest2-kind/deployer/dumplogs.go
  kubetest2-kind/deployer/up.go
  kubetest2-noop/deployer/deployer.go
  pkg/app/app.go
  pkg/artifacts/paths.go
  pkg/boskos/boskos.go
  pkg/build/bazel.go
  pkg/build/build.go
  pkg/exec/local.go
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/package.go
  pkg/testers/node/node.go
Due: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

Add support for MASTER_SIZE and NODE_SIZE in gce deployer
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Switch to golang native error wrapping
  go.mod
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/app/shim/deployers.go
  pkg/app/shim/testers.go
  pkg/build/krel.go
Due: none

Bump golang to 1.17
  go.mod
  go.sum
Due: none

update ginkgo flags
  pkg/testers/ginkgo/ginkgo.go
Due: none

revert naming of FlakeAttempts
  pkg/testers/ginkgo/ginkgo.go
Due: none

revert timeout parameter
  pkg/testers/ginkgo/ginkgo.go
Due: none

ginkgo v2 backwards compatible
  pkg/testers/ginkgo/ginkgo.go
Due: none

Update sigs.k8s.io/boskos to 37bd9bb41b86a849da3e2fa379e5c60d666cb4de
  go.mod
  go.sum
Due: none

Fix: Ensure there's a "v" prefix in markers version
  kubetest2-gke/deployer/utils/util.go
  kubetest2-gke/deployer/utils/util_test.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

move bentheelder to emeritus
  OWNERS
Due: none

synchronize systemout
  pkg/process/junitexec.go
  pkg/process/mutexwriter.go
Due: none

Update REVIEWERS
  OWNERS
Due: none

update .go-version to 1.17.13 and go mod tidy
  .go-version
  go.mod
Due: none

verify go.mod and .go-version are compatible
  Makefile
  hack/verify/go-version.sh
Due: none

OWNERS: add spiffxp as approver
  OWNERS
Due: none

Start of implementation of e2e-framework kubetest2 tester
  kubetest2-tester-e2e-framework/examples/noop-provider/README.md
  kubetest2-tester-e2e-framework/examples/noop-provider/go.mod
  kubetest2-tester-e2e-framework/examples/noop-provider/go.sum
  kubetest2-tester-e2e-framework/examples/noop-provider/simple_test.go
  kubetest2-tester-e2e-framework/main.go
  pkg/testers/e2eframework/README.md
  pkg/testers/e2eframework/e2ef.go
Due: none

Update README
  README.md
Due: none

tester-ginkgo: clarify where test binaries are looked for
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/package.go
Due: none

tester-ginkgo: add klog flags
  pkg/testers/ginkgo/ginkgo.go
Due: none

tester-ginkgo: write metadata.json in Test
  pkg/testers/ginkgo/ginkgo.go
Due: none

place metadata.json in artifacts
  pkg/app/app.go
  pkg/testers/metadata.go
Due: none

fail when no build script can be found
  kubetest2-gke/deployer/options/build.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

ensure artifacts dir exists
  pkg/app/app.go
Due: none

dump cluster logs to artifacts dir instead of run dir
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-kind/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

kubetest2-gce: ensure bazel 5.3.0 for ci tests
  kubetest2-gce/ci-tests/buildupdown.sh
Due: gce-build-up-down, pull-kubetest2-build-gce

Add support for an extra nodepool.
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/cluster.go
  kubetest2-gke/deployer/up.go
  kubetest2-gke/deployer/up_test.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Update OWNERS to include new reviewer
  OWNERS
Due: none

Don't shut down on control-C, if we should not shut down
  pkg/app/app.go
Due: none

allow to specify the ingress-gce image to use in the cluster
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-build-gce

fix: remove reference to kubernetes-release bucket
  pkg/testers/ginkgo/ginkgo.go
Due: none

Define the parameters needed to build arm64 binaries
  pkg/testers/node/node.go
Due: none
