Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: gce-build-up-down, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

config/jobs/kubernetes-sigs/kubetest2/kubetest2-canaries.yaml:

presubmits:
  kubernetes-sigs/kubetest2:
  - name: gce-build-up-down
    decorate: true
    run_if_changed: "kubetest2-gce/.*"
    labels:
      preset-dind-enabled: "true"
      preset-service-account: "true"
    annotations:
      testgrid-dashboards: sig-testing-canaries
    extra_refs:
    - base_ref: master
      org: kubernetes
      repo: cloud-provider-gcp
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20210204-b06ec78-master
        command:
        - "runner.sh"
        args:
        - "./kubetest2-gce/ci-tests/buildupdown.sh"
        securityContext:
          privileged: true

config/jobs/kubernetes-sigs/kubetest2/kubetest2-presubmits.yaml:

presubmits:
  kubernetes-sigs/kubetest2:
  - name: pull-kubetest2-verify-lint
    decorate: true
    always_run: true
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - lint
        securityContext:
          privileged: true
  - name: pull-kubetest2-verify-shellcheck
    decorate: true
    always_run: true
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - shellcheck
        securityContext:
          privileged: true
  - name: pull-kubetest2-build
    decorate: true
    always_run: true
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - install
        securityContext:
          privileged: true
  - name: pull-kubetest2-build-gce
    decorate: true
    run_if_changed: "kubetest2-gce/.*"
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - install-deployer-gce
        securityContext:
          privileged: true
  - name: pull-kubetest2-build-gke
    decorate: true
    run_if_changed: "kubetest2-gke/.*"
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - install-deployer-gke
        securityContext:
          privileged: true
  - name: pull-kubetest2-build-kind
    decorate: true
    run_if_changed: "kubetest2-kind/.*"
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - install-deployer-kind
        securityContext:
          privileged: true

Add gke_make
  pkg/build/gke_make.go
Due: none

Use gke_make in gke deployer
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/build/gke_make.go
  kubetest2-gke/deployer/options/build.go
  pkg/build/options.go
Due: pull-kubetest2-build-gke

bump go to 1.16
  .go-version
  go.sum
Due: none

fail fast, and surface errors better
  kubetest2-gke/deployer/build/gke_make.go
Due: pull-kubetest2-build-gke

move verify kubectl outside of init, since kubectl binaries can be built after Build()
  kubetest2-gce/deployer/down.go
  kubetest2-gce/deployer/up.go
Due: gce-build-up-down, pull-kubetest2-build-gce

set KUBE_CONFIG_FILE for customizing the cluster configuration
  kubetest2-gce/deployer/common.go
Due: gce-build-up-down, pull-kubetest2-build-gce

explicitly set the gce network
  kubetest2-gce/deployer/common.go
Due: gce-build-up-down, pull-kubetest2-build-gce

use a identifiable uuid prefix as default
  kubetest2-gce/deployer/deployer.go
  kubetest2-gce/deployer/deployer_test.go
Due: gce-build-up-down, pull-kubetest2-build-gce

don't fail firewall rule deletion
  kubetest2-gce/deployer/down.go
  kubetest2-gce/deployer/firewall.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Add classname attr to the JUnit test case and add a flag to allow skipping test junit report
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/metadata/junit.go
  pkg/metadata/writer.go
  pkg/metadata/writer_test.go
  pkg/types/types.go
Due: none

Add DeployerWithPostTester interface
  pkg/app/app.go
  pkg/types/types.go
Due: none

expand env
  pkg/testers/exec/exec_test.go
Due: none

allow expanding env
  pkg/testers/exec/exec.go
Due: none

update go to 1.16.2
  .go-version
Due: none

For private clusters, do not use --create-subnetwork if it's multi-project profile
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/network_test.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

default gke to ignor gcp ssh keys.
  kubetest2-gke/deployer/deployer.go
Due: pull-kubetest2-build-gke

setup ssh keys from envs
  kubetest2-gce/deployer/up.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Add make targets for CI builds.
  Makefile
Due: none

add a script to build ci-binaries
  hack/build/ci-binaries.sh
Due: none

add a script to push-ci-binaries to gcs
  hack/ci/push-binaries/push-binaries.sh
Due: none

add cloudbuild config for ci pushes
  hack/ci/push-binaries/cloudbuild.yaml
Due: none

gzip everything into tarballs
  hack/build/ci-binaries.sh
  hack/ci/push-binaries/push-binaries.sh
Due: none

figure out repo_root from bash_source instead of git-revparse
  hack/ci/push-binaries/push-binaries.sh
Due: none

compute from bash_source
  hack/build/ci-binaries.sh
Due: none

bump timeout
  hack/ci/push-binaries/cloudbuild.yaml
Due: none

Shorten PULL_BASE_SHA
  hack/build/ci-binaries.sh
  hack/ci/push-binaries/push-binaries.sh
Due: none

tar only the files
  hack/build/ci-binaries.sh
Due: none

Kubetest2 Version Addition
  Makefile
  pkg/app/cmd.go
  pkg/app/shim/shim.go
Due: none

Ensure destination parent directory exists.
  pkg/fs/fs.go
Due: none

Let CI override user.
  kubetest2-gce/deployer/common.go
Due: gce-build-up-down, pull-kubetest2-build-gce

allow kubetest2 gke accept major.minor cluster version
  kubetest2-gke/deployer/up.go
  kubetest2-gke/deployer/up_test.go
Due: pull-kubetest2-build-gke

create a new instance variable to appease linter
  kubetest2-gke/deployer/up_test.go
Due: pull-kubetest2-build-gke

gke deployer supports creating GKE Autopilot clusters
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Fixes to subnets creation for GKE multiproject profile.
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/deployer_test.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

kubetest2 deployer retries
  go.mod
  go.sum
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/deployer_test.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/up.go
  pkg/exec/exec.go
Due: pull-kubetest2-build-gke

pass single zone to DumpClusterLogs
  kubetest2-gke/deployer/dumplogs.go
Due: pull-kubetest2-build-gke

Change the functions for kubetest2-gke deployer to public
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/options/common.go
  kubetest2-gke/deployer/options/up.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Do not send heartbeat requests to Boskos if the interval is set to 0
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/up.go
  pkg/boskos/boskos.go
Due: gce-build-up-down, pull-kubetest2-build-gce, pull-kubetest2-build-gke

[kubetest2-gke deployer] Normalize kubeconfig files so that they can be used everywhere without gcloud
  go.mod
  go.sum
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

kubetest2-gke automatically resolves the release channel if it's not specified
  go.mod
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/up.go
  kubetest2-gke/deployer/version.go
  kubetest2-gke/deployer/version_test.go
Due: pull-kubetest2-build-gke
