Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

gce-build-up-down:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gce/ci-tests/buildupdown.sh
  ...

pull-kubetest2-gke-up-down-singlecluster:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210824-2dc36d0-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gke/ci-tests/buildupdown.sh
      - --cluster-topology
  ...

pull-kubetest2-gke-up-down-multicluster:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210824-2dc36d0-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gke/ci-tests/buildupdown.sh
      - --cluster-topology
      - multicluster

pull-kubetest2-build-gce:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gce
      securityContext:
        privileged: true

pull-kubetest2-build-gke:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gke
      securityContext:
        privileged: true

pull-kubetest2-build-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-kind
      securityContext:
        privileged: true

add support for running node-tester against EC2
  pkg/testers/node/node.go
Due: none

aadd myself and dims as reviewers
  OWNERS
Due: none

add sig-testing chairs as approvers
  OWNERS
Due: none

fix: update NumNodes description
  kubetest2-gke/deployer/options/cluster.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Add an env for `timeout` for ginkgo tests
  pkg/testers/node/node.go
Due: none

bump go version and move boskos client intree
  .go-version
  go.mod
  go.sum
  hack/tools/tools.go
  internal/boskos/client/README.md
  internal/boskos/client/client.go
  internal/boskos/client/client_test.go
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/build/gke_make.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/down.go
  kubetest2-kind/deployer/dumplogs.go
  kubetest2-kind/deployer/up.go
  pkg/boskos/boskos.go
  pkg/build/options.go
  pkg/testers/node/node.go
Due: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

fix flag redefined panic
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-kind/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

bump timeout and copy boilerplate from k/k
  Makefile
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.generatego.txt
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/boilerplate/boilerplate_test.py
  hack/boilerplate/test/fail.go
  hack/boilerplate/test/fail.py
  hack/boilerplate/test/pass.go
  hack/boilerplate/test/pass.py
  hack/tools/.golangci.yml
  hack/verify/boilerplate.py
  hack/verify/boilerplate.sh
  kubetest2-gke/deployer/build/gke_make.go
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/dumplogs.go
  kubetest2-kind/deployer/up.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke, pull-kubetest2-build-kind

upgrade golangci lint fix all the linting errors
  hack/tools/.golangci.yml
  hack/tools/go.mod
  hack/tools/go.sum
  internal/boskos/client/client.go
  internal/boskos/client/client_test.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/up.go
  pkg/app/app.go
  pkg/app/shim/deployers.go
  pkg/app/shim/shim.go
  pkg/app/shim/testers.go
  pkg/build/options.go
  pkg/exec/exec.go
  pkg/metadata/metadata.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/metadata.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Fix flag redefined panic with Testers and noop deployer
  kubetest2-noop/deployer/deployer.go
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/node/node.go
Due: none

run the e2e tests as well instead of just building a cluster + fix node tests
  kubetest2-gce/ci-tests/buildupdown.sh
  kubetest2-tester-node/ci-tests/gce-test.sh
Due: gce-build-up-down, pull-kubetest2-build-gce

configure timeout on gingko tester
  pkg/testers/ginkgo/ginkgo.go
Due: none

configure node-env, delete-instances flags and tweak version hash
  Makefile
  kubetest2-tester-node/ci-tests/gce-test.sh
  pkg/testers/node/node.go
Due: none

Support for --cloud-provider and --featuregates
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Fix env var key - should be CLOUD_PROVIDER_FLAG
  kubetest2-gce/deployer/common.go
Due: gce-build-up-down, pull-kubetest2-build-gce

move the test to a separate file
  kubetest2-gce/ci-tests/buildupdown-legacy.sh
  kubetest2-gce/ci-tests/buildupdown.sh
Due: gce-build-up-down, pull-kubetest2-build-gce

add env, target-build-arch flags
  kubetest2-gce/ci-tests/buildupdown.sh
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
  pkg/build/make.go
  pkg/build/options.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Prune junit xml file when things get too big
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/junitxml/prune.go
  pkg/testers/ginkgo/junitxml/report.go
Due: none

[cl2] pass through a couple of prometheus parameters
  pkg/testers/clusterloader2/cl2.go
Due: none

fix legacy test
  README.md
  kubetest2-gce/ci-tests/buildupdown-legacy.sh
Due: gce-build-up-down, pull-kubetest2-build-gce

undo client changes
  go.mod
  internal/boskos/client/README.md
  internal/boskos/client/client.go
  internal/boskos/client/client_test.go
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/deployer.go
  pkg/boskos/boskos.go
  pkg/testers/node/node.go
Due: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke

add env variable to ginkgo tester
  pkg/testers/ginkgo/ginkgo.go
Due: none

set ginkgo dir to rundir by default
  kubetest2-gce/ci-tests/buildupdown-legacy.sh
  pkg/testers/ginkgo/ginkgo.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Add --use-binaries-from-path to ginkgo tester
  pkg/testers/ginkgo/ginkgo.go
Due: none

export all deployer struct
  kubetest2-gce/deployer/build.go
  kubetest2-gce/deployer/build_test.go
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
  kubetest2-gce/deployer/down.go
  kubetest2-gce/deployer/dumplogs.go
  kubetest2-gce/deployer/firewall.go
  kubetest2-gce/deployer/up.go
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/deployer.go
  kubetest2-kind/deployer/down.go
  kubetest2-kind/deployer/dumplogs.go
  kubetest2-kind/deployer/up.go
  kubetest2-noop/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-build-gce, pull-kubetest2-build-kind

Add DeployerWithInit interface
  pkg/app/app.go
  pkg/types/types.go
Due: none

download binaries from dl.k8s.io
  go.mod
  go.sum
  kubetest2-gce/ci-tests/updown-legacy.sh
  kubetest2-gce/deployer/deployer.go
  kubetest2-gce/deployer/up.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/package.go
  pkg/util/util.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Add DeployerWithFinish interface
  pkg/app/app.go
  pkg/types/types.go
Due: none

allow passing arbitary cl2 args
  pkg/testers/clusterloader2/cl2.go
Due: none

bump deps and build arm64 binaries
  .go-version
  go.mod
  go.sum
  hack/build/ci-binaries.sh
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-kind/deployer/deployer.go
  kubetest2-noop/deployer/deployer.go
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/node/node.go
  pkg/util/util.go
  pkg/util/util_test.go
Due: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

build darwin binaries and fix image version being used
  .go-version
  hack/build/ci-binaries.sh
  hack/ci/push-binaries/cloudbuild.yaml
Due: none

Make it obvious where test tar ball is downloaded from
  pkg/testers/ginkgo/package.go
Due: none

Instead of overriding the env variables add them to the environment.
  pkg/testers/ginkgo/ginkgo.go
Due: none

Delete the bazel version as the cloud-provider-gcp already has .bazelversion. Otherwise the test fails with "Current Bazel version is 5.3.0, expected at least 5.4.0".
  kubetest2-gce/ci-tests/buildupdown.sh
Due: gce-build-up-down, pull-kubetest2-build-gce

Support "--base-image" in kind deployer's build phase.
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/deployer.go
Due: pull-kubetest2-build-kind

add aojea to OWNERS
  OWNERS
Due: none

move Mushuee and spffxp to emeritus
  OWNERS
Due: none

add updroid as approver (and sort approvers alphabetically)
  OWNERS
Due: none

Upgrade github.com/docker/docker github.com/sigstore/cosign/v2 to latest version
  go.mod
  go.sum
Due: none

Allow specifying network stack type
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/options/network.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Path conditions:
  gce-build-up-down: any of: kubetest2-gce/.*
  pull-kubetest2-gke-up-down-singlecluster: any of: kubetest2-gke/.*
  pull-kubetest2-gke-up-down-multicluster: any of: kubetest2-gke/.*
  pull-kubetest2-build-gce: any of: kubetest2-gce/.*
  pull-kubetest2-build-gke: any of: kubetest2-gke/.*
  pull-kubetest2-build-kind: any of: kubetest2-kind/.*
