Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: gce-build-up-down, gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

gce-build-up-down:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210204-b06ec78-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gce/ci-tests/buildupdown.sh
      securityContext:
  ...

gke-up-down-singlecluster:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210715-521d667-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gke/ci-tests/buildupdown.sh
      - --cluster-topology
  ...

gke-up-down-multicluster:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210715-521d667-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gke/ci-tests/buildupdown.sh
      - --cluster-topology
      - multicluster

pull-kubetest2-build-gce:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gce
      securityContext:
        privileged: true

pull-kubetest2-build-gke:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gke
      securityContext:
        privileged: true

pull-kubetest2-build-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-kind
      securityContext:
        privileged: true

Deprecate gke version flag, to avoid confusion with deployer version
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/up.go
  kubetest2-gke/deployer/up.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

allow deployers to specify version
  pkg/app/app.go
  pkg/types/types.go
Due: none

update comment
  kubetest2-gke/deployer/deployer.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

Reorganize the kubetest2-gke deployer flags
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/cluster.go
  kubetest2-gke/deployer/options/common.go
  kubetest2-gke/deployer/options/network.go
  kubetest2-gke/deployer/options/project.go
  kubetest2-gke/deployer/options/up.go
  kubetest2-gke/deployer/up.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

Segment the kubetest2 gke deployer flags to different groups
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/options/project.go
  kubetest2-gke/deployer/up.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

Allow kubetest2 gke --down to run individually
  kubetest2-gke/deployer/common.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

Add a new test case for version.go
  kubetest2-gke/deployer/version_test.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

added required flags
  pkg/testers/node/node.go
Due: none

small nits
  pkg/testers/node/node.go
Due: none

indentation correction
  pkg/testers/node/node.go
Due: none

Added flags needed for pull-kubernetes-node-e2e job (#166)
  pkg/testers/node/node.go
Due: none

Fix Autopilot firewall rules since it cannot get the compute instance tags
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/options/cluster.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

adding boskos default config
  pkg/testers/node/node.go
Due: none

initializing heartbeat interval
  pkg/testers/node/node.go
Due: none

passing ssh_key
  pkg/testers/node/node.go
Due: none

Setting sshUser
  pkg/testers/node/node.go
Due: none

adding image-config-dir
  pkg/testers/node/node.go
Due: none

gke: Avoid hardcoding COS as default image type
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/up.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

gke: Remove windows image defaulting
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/up.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

Use gce-project to run e2e tests for kubetest2 gke deployer
  kubetest2-gke/ci-tests/buildupdown.sh
  kubetest2-gke/deployer/down.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

gke: Remove hardcoded default machine types
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/up.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

added --gcp-project-type flag
  pkg/testers/node/node.go
Due: none

added --runtime-config flag
  pkg/testers/node/node.go
Due: none

adding defualt val
  pkg/testers/node/node.go
Due: none

small nit
  pkg/testers/node/node.go
Due: none

check for runtime-config
  pkg/testers/node/node.go
Due: none

Clean up resource if any signal interruption
  kubetest2-kind/deployer/down.go
  pkg/app/app.go
Due: pull-kubetest2-build-kind

kubetest2 gke --down releases Boskos projects if they are acquired from Boskos
  kubetest2-gce/deployer/down.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/network_test.go
  pkg/boskos/boskos.go
  pkg/testers/node/node.go
Due: gce-build-up-down, gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke

Add support for NODE_SCOPES and KUBE_GCE_NODE_SERVICE_ACCOUNT env variables.
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Update kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/common.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Update common.go
  kubetest2-gce/deployer/common.go
Due: gce-build-up-down, pull-kubetest2-build-gce

emeritus amwat
  OWNERS
Due: none

[Bug fix] Boskos release should set the resource state to dirty
  pkg/boskos/boskos.go
Due: none

Clarify error message when pre-built binary not-found
  pkg/testers/ginkgo/ginkgo.go
Due: none

Allow rundir to be set
  pkg/testers/ginkgo/ginkgo.go
Due: none

Added a new flag --update-latest-green-marker to the GKE deployer. When set to true, will update the latest green build marker after the smoke test successfully completes.
  kubetest2-gke/deployer/build/gke_make.go
  kubetest2-gke/deployer/options/build.go
  kubetest2-gke/deployer/post_tester.go
  kubetest2-gke/deployer/utils/util.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

Fixed the copyright year
  kubetest2-gke/deployer/build/gke_make.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

Fixed the gke minor version regex.
  kubetest2-gke/deployer/utils/util.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

Fixed the error message to show the correct default file name to be uploaded.
  kubetest2-gke/deployer/utils/util.go
Due: gke-up-down-singlecluster, gke-up-down-multicluster, pull-kubetest2-build-gke

Path conditions:
  gce-build-up-down: any of: kubetest2-gce/.*
  gke-up-down-singlecluster: any of: kubetest2-gke/.*
  gke-up-down-multicluster: any of: kubetest2-gke/.*
  pull-kubetest2-build-gce: any of: kubetest2-gce/.*
  pull-kubetest2-build-gke: any of: kubetest2-gke/.*
  pull-kubetest2-build-kind: any of: kubetest2-kind/.*
