Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: gce-build-up-down, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

gce-build-up-down:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210204-b06ec78-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gce/ci-tests/buildupdown.sh
      securityContext:
  ...

pull-kubetest2-build-gce:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gce
      securityContext:
        privileged: true

pull-kubetest2-build-gke:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gke
      securityContext:
        privileged: true

pull-kubetest2-build-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-kind
      securityContext:
        privileged: true

kubetest2 gke deployer supports retries with different subnet ranges to avoid conflicts.
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/network_test.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Revert "kubetest2 gke deployer supports retries with different subnet ranges to avoid conflicts."
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/network_test.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

add setReproducibilityEnv for bazel&make build
  pkg/build/bazel.go
  pkg/build/build.go
  pkg/build/make.go
Due: none

Update pkg/build/build.go
  pkg/build/build.go
Due: none

Revert[Revert[kubetest2 gke deployer supports retries with different subnet ranges to avoid conflicts.]]
  go.mod
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/network_test.go
Due: pull-kubetest2-build-gke

Fix gke deployer cluster retries when creating non-private clusters
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/network_test.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Fix the logic to parse server config by switching to json.Unmarshal
  kubetest2-gke/deployer/version.go
Due: pull-kubetest2-build-gke

set the env only for the specific cmd
  pkg/build/bazel.go
  pkg/build/build.go
  pkg/build/make.go
Due: none

Fix two issue for kubetest2 gke retry
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Clean up resource if any signal interruption
  pkg/app/app.go
Due: none

Support downloading kubectl for ginkgo tests
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/package.go
Due: none

make kubectl executable
  pkg/testers/ginkgo/package.go
Due: none

fix lint
  pkg/testers/ginkgo/package.go
Due: none

Support Windows node pool in kubetest2-gke
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/up.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Return the error directly if the GKE cluster creation fails in the last retryable region/zone
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Support downloading kubectl for ginkgo tester (#149)
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/package.go
Due: none

Reorganize the kubetest2-gke deployer flags
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/options/cluster.go
  kubetest2-gke/deployer/options/common.go
  kubetest2-gke/deployer/options/network.go
  kubetest2-gke/deployer/options/project.go
  kubetest2-gke/deployer/options/up.go
  kubetest2-gke/deployer/up.go
  kubetest2-gke/deployer/version_test.go
Due: pull-kubetest2-build-gke

Artifatcs and report-dir update
  pkg/testers/clusterloader2/cl2.go
Due: none

Add windows/amd64 in target platform
  kubetest2-gke/deployer/build/gke_make.go
Due: pull-kubetest2-build-gke

Add a script for running e2e tests for kubetest2 gke deployer
  kubetest2-gke/ci-tests/buildupdown.sh
  kubetest2-gke/ci-tests/test.sh
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Enable Private Google Access for subnets used by private clusters
  kubetest2-gke/deployer/network.go
Due: pull-kubetest2-build-gke

Do not set --workload-pool when creating GKE autopilot clusters
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

impl
  kubetest2-gke/deployer/build/gke_make.go
  kubetest2-gke/deployer/options/build.go
  pkg/build/options.go
Due: pull-kubetest2-build-gke

patch 2
  kubetest2-gke/deployer/build/gke_make.go
  pkg/build/krel.go
  pkg/build/options.go
Due: pull-kubetest2-build-gke

fix comments
  kubetest2-gke/deployer/build/gke_make.go
Due: pull-kubetest2-build-gke

use raw string for regex
  kubetest2-gke/deployer/build/gke_make.go
Due: pull-kubetest2-build-gke

make sure the content type is correctly set
  kubetest2-gke/deployer/build/gke_make.go
Due: pull-kubetest2-build-gke

determine build system at runtime
  kubetest2-gce/deployer/build.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Make sure the regex in the raw string does not use double backslash to escape.
  kubetest2-gke/deployer/build/gke_make.go
Due: pull-kubetest2-build-gke

Add noop deployer
  kubetest2-noop/deployer/deployer.go
  kubetest2-noop/main.go
Due: none

add node tester
  kubetest2-tester-node/main.go
  pkg/testers/node/node.go
Due: none

add boskos heartbeat to node tester
  pkg/testers/node/node.go
Due: none

Minor fixes to shim version
  Makefile
  pkg/app/cmd.go
  pkg/app/shim/shim.go
Due: none

add metadata.json functionality
  pkg/metadata/metadata.go
  pkg/metadata/metadata_test.go
Due: none

write metadata for in-tree testers
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/node/node.go
Due: none

Inject version in deployers
  Makefile
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-kind/deployer/deployer.go
  kubetest2-noop/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

Inject git tag in testers
  Makefile
  pkg/app/cmd.go
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/node/node.go
Due: none

write shim version to metadata.json
  pkg/app/app.go
  pkg/app/shim/shim.go
Due: none

Add version for in-tree deployers
  kubetest2-gce/deployer/deployer.go
  kubetest2-kind/deployer/deployer.go
  kubetest2-noop/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-build-gce, pull-kubetest2-build-kind

write tester version to metadata
  pkg/testers/metadata.go
Due: none

Path conditions:
  gce-build-up-down: any of: kubetest2-gce/.*
  pull-kubetest2-build-gce: any of: kubetest2-gce/.*
  pull-kubetest2-build-gke: any of: kubetest2-gke/.*
  pull-kubetest2-build-kind: any of: kubetest2-kind/.*
