Repository kubernetes-sigs/cluster-api-addon-provider-helm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

pull-cluster-api-addon-provider-helm-e2e:
  decorate: true
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240223-1ded72f317-1.29
      command:
      - runner.sh
      args:
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-addon-provider-helm-capi-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240223-1ded72f317-1.29
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-addon-provider-helm-apiversion-upgrade:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240223-1ded72f317-1.29
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

add VersionTemplate support for HelmChartProxy
  api/v1alpha1/helmchartproxy_types.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  docs/quick-start.md
  internal/value_substitutions.go
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump controller-runtime
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Revert controller runtime
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Revert klog and utils
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.8.4
  Makefile
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

:chore: Fix golangci-lint issues on PRs #300
  .github/workflows/golangci-lint.yml
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

:chore: Fix golangci-lint issues on PRs #300
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

✨ Update golangci-lint version and fix related linting issues (#302)
  .github/workflows/golangci-lint.yml
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

Fix GitHub linter warnings
  .golangci.yaml
  cloudbuild.yaml
  metadata.yaml
  test/e2e/data/shared/v1beta1-provider/metadata.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  tilt-provider.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump CAPI to v1.8.5
  Makefile
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Add `ReconcileStrategy` field to HelmChartProxy spec
  Makefile
  api/v1alpha1/helmchartproxy_types.go
  api/v1alpha1/helmchartproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_types.go
  api/v1alpha1/helmreleaseproxy_webhook.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  config/manager/manager.yaml
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  controllers/helmchartproxy/helmchartproxy_controller_test.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller_test.go
  internal/util.go
  test/e2e/common.go
  test/e2e/config/helm.yaml
  test/e2e/helm_out_of_band.go
  test/e2e/helm_test.go
  test/e2e/helm_unchanged.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Set REGISTRY to localhost:5000 by default if gcloud project name is not set
  Makefile
Due: none

:bug: HelmChartProxy is removed even when the release cannot be uninstalled
  controllers/controllers_test.go
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/suite_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.9.0-rc.0
  Makefile
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  config/rbac/role.yaml
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  go.mod
  go.sum
  internal/value_substitutions.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

:sparkles: Able to run controller inside the container platform with write access to root restrictions
  config/manager/manager.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

:sparkles: Skip reconciliation if deleting cluster
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
Due: pull-cluster-api-addon-provider-helm-e2e

:sparkles: Able to build provider docker without Makefile and Dockerfile modifications
  Dockerfile
  Makefile
Due: pull-cluster-api-addon-provider-helm-e2e

Init helm release drift manager POC based on dynamic manifest objects watch
  api/v1alpha1/helmchartproxy_types.go
  api/v1alpha1/helmreleaseproxy_types.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmreleasedrift/manager.go
  controllers/helmreleasedrift/manager_test.go
  controllers/helmreleasedrift/releasedrift_controller.go
  controllers/helmreleasedrift/suite_test.go
  controllers/helmreleasedrift/test/fake/fakemanifest_controller.go
  controllers/helmreleasedrift/testdata/manifest.yaml
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  go.mod
  go.sum
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Rebase go.mod
  go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.9.3
  Makefile
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  config/rbac/role.yaml
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  go.mod
  go.sum
  internal/value_substitutions.go
  test/e2e/config/helm.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump CAPI to v1.8.8
  go.mod
  go.sum
  test/e2e/config/helm.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

:seedling: Download Cluster API CRDs for every integration test
  Makefile
  config/manager/manager.yaml
  controllers/suite_test.go
  test/controllers/data/crd/cluster.x-k8s.io_clusters.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Add helm diff logic and starting e2e test implementation
  README.md
  config/manager/manager.yaml
  controllers/helmreleasedrift/releasedrift_controller.go
  go.mod
  go.sum
  internal/helm_client.go
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/helm.yaml
  test/e2e/helm_releasedrift.go
  test/e2e/helm_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

:bug: Fix golang version getter bash script in Makefile
  Makefile
Due: none

Add dmvolod to reviewers
  OWNERS_ALIASES
Due: none

Bump Helm version to v3.16.4
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.9.4
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Add HelmChartProxy spec field for mapping Kubernetes versions to Helm chart versions
  api/v1alpha1/helmchartproxy_types.go
  config/samples/calico-cni.yaml
  config/samples/descheduler.yaml
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  go.mod
  go.sum
  internal/util.go
  internal/util_test.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Start adding tests
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  controllers/helmchartproxy/helmchartproxy_controller_test.go
  internal/util_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Regenerate
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Fix tests
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Add more tests
  internal/util.go
  internal/util_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Add more tests
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  internal/util.go
Due: pull-cluster-api-addon-provider-helm-e2e

:seedling: pre-pull and load Calico CNI images
  Makefile
  scripts/ci-e2e-lib.sh
  test/e2e/data/addons-helm/v1.5/bases/calico.yaml
  test/e2e/data/addons-helm/v1.5/cluster-template.yaml
  test/e2e/data/addons-helm/v1beta1/bases/calico.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template-upgrades.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template.yaml
  test/e2e/data/shared/v1beta1-provider/metadata.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Path conditions:
  pull-cluster-api-addon-provider-helm-e2e: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-addon-provider-helm-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-addon-provider-helm-apiversion-upgrade: any of: ^test\/e2e\/(config\/helm\.yaml)|(data\/shared\/v1beta1-provider\/metadata\.yaml)$
