Repository kubernetes-sigs/cluster-api-addon-provider-helm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Path conditions:
  pull-cluster-api-addon-provider-helm-e2e: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-addon-provider-helm-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-addon-provider-helm-apiversion-upgrade: any of: ^test\/e2e\/(config\/helm\.yaml)|(data\/shared\/v1beta1-provider\/metadata\.yaml)$

Update namespace for calico-apiserver pods in e2e tests
  test/e2e/common.go
Due: pull-cluster-api-addon-provider-helm-e2e

Update e2e tests to replace nginx with metallb Helm chart
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Run verify-security weekly as a GitHub action
  .github/workflows/scan.yml
  .github/workflows/security-scan.yml
  Makefile
  hack/ensure-trivy.sh
  hack/verify-container-images.sh
Due: pull-cluster-api-addon-provider-helm-e2e

Update github.com/containerd/containerd
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.11.1
  .golangci.yaml
  Makefile
  api/v1alpha1/condition_consts.go
  api/v1alpha1/helmchartproxy_types.go
  api/v1alpha1/helmreleaseproxy_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  controllers/controllers_test.go
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  controllers/helmchartproxy/helmchartproxy_controller_test.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  internal/value_substitutions.go
  main.go
  test/e2e/common.go
  test/e2e/config/helm.yaml
  test/e2e/data/addons-helm/v1beta2/bases/calico.yaml
  test/e2e/data/addons-helm/v1beta2/bases/cluster-with-kcp.yaml
  test/e2e/data/addons-helm/v1beta2/bases/cluster-with-topology.yaml
  test/e2e/data/addons-helm/v1beta2/bases/md.yaml
  test/e2e/data/addons-helm/v1beta2/cluster-template-upgrades.yaml
  test/e2e/data/addons-helm/v1beta2/cluster-template-upgrades/kustomization.yaml
  test/e2e/data/addons-helm/v1beta2/cluster-template.yaml
  test/e2e/data/addons-helm/v1beta2/cluster-template/kustomization.yaml
  test/e2e/data/addons-helm/v1beta2/clusterclass-quick-start.yaml
  test/e2e/data/shared/v1beta2/metadata.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helm_install.go
  test/e2e/helm_out_of_band.go
  test/e2e/helm_test.go
  test/e2e/helm_unchanged.go
  test/e2e/helm_uninstall.go
  test/e2e/helm_upgrade.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump hack/tools/go.mod and GH actions to Go 1.24
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump golang.org/x/crypto to v0.45.0
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.11.3
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Add new version 0.5 with contract v1beta2
  metadata.yaml
Due: none

Update releasing doc to include metadata.yaml update
  docs/releasing.md
Due: none

fix: InfrastructureRef and ControlPlaneRef CRD version
  internal/value_substitutions.go
Due: pull-cluster-api-addon-provider-helm-e2e

fix: add list CRD rbac
  config/rbac/role.yaml
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

fixup! :bug: Try to upgrade Releases in pending states
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e

fixup! :bug: Try to upgrade Releases in pending states
  internal/helm_client.go
  internal/helm_client_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump Go toolchain to v1.24.11
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.11.4
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump CAPI to v1.12.0
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.12.0
  api/v1alpha1/helmchartproxy_types.go
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/helm.yaml
  test/e2e/data/shared/v1beta2-provider/metadata.yaml
  test/e2e/data/shared/v1beta2/metadata.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump tools to sync with CAPI v1.12
  Makefile
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.12.1
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump Go toolchain to v1.24.12
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.12.2
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Add 0.6.x to metadata.yaml
  metadata.yaml
Due: none

test: Verify recovery when helm release has pending status
  test/e2e/helm_pending.go
  test/e2e/helm_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e

fix: Recover when helm release has pending status
  internal/helm_client.go
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Replace verify action with inline script
  .github/workflows/verify.yml
  hack/verify-pr-title.sh
Due: pull-cluster-api-addon-provider-helm-e2e

Add TakeOwnership optional flag to helm options
  api/v1alpha1/helmchartproxy_types.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e

Add e2e test for TakeOwnership Helm option
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Add unit tests for generateHelmInstallConfig and generateHelmUpgradeConfig
  internal/helm_client_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Add negative e2e test for TakeOwnership flag
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.12.4
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Delete existing calico HelmChartProxy before 2nd cluster Create
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Fix gci import ordering in e2e test files
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/helm_install.go
  test/e2e/helm_out_of_band.go
  test/e2e/helm_test.go
  test/e2e/helm_unchanged.go
  test/e2e/helm_uninstall.go
  test/e2e/helm_upgrade.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Fix gci import ordering
  internal/helm_client_test.go
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/helm_install.go
  test/e2e/helm_out_of_band.go
  test/e2e/helm_test.go
  test/e2e/helm_unchanged.go
  test/e2e/helm_uninstall.go
  test/e2e/helm_upgrade.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

🌱 Bump CAPI to v1.12.4 (#522)
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/helm.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helm_install.go
  test/e2e/helm_out_of_band.go
  test/e2e/helm_test.go
  test/e2e/helm_unchanged.go
  test/e2e/helm_uninstall.go
  test/e2e/helm_upgrade.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

🌱 Add TakeOwnership tests (#528)
  internal/helm_client_test.go
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Update staging repo URL
  docs/releasing.md
Due: none

Update Go version to 1.25.0
  go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Update Makefile tool versions to match CAPI v1.13
  .github/workflows/golangci-lint.yml
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI dependency to v1.13.0-beta.1
  api/v1alpha1/helmchartproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook.go
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e
