Repository kubernetes-sigs/cluster-api-addon-provider-helm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Path conditions:
  pull-cluster-api-addon-provider-helm-e2e: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-addon-provider-helm-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-addon-provider-helm-apiversion-upgrade: any of: ^test\/e2e\/(config\/helm\.yaml)|(data\/shared\/v1beta1-provider\/metadata\.yaml)$

fix: update metadata for v0.3.0 release
  metadata.yaml
Due: none

Update API version upgrade test for CAAPH v0.3
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Update API version upgrade test for CAAPH v0.3
  test/e2e/config/helm.yaml
  test/e2e/data/shared/v1beta1-provider/metadata.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Update webhook
  api/v1alpha1/helmchartproxy_types.go
  api/v1alpha1/helmchartproxy_webhook.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Fix test
  internal/util_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Fix lint
  api/v1alpha1/helmchartproxy_webhook.go
Due: pull-cluster-api-addon-provider-helm-e2e

:seedling: Fix bump golangci/golangci-lint-action from 6.3.1 to 6.5.0
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  controllers/helmchartproxy/helmchartproxy_controller_test.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

:seedling: Fix typos in development guide
  docs/development.md
Due: none

update controllerName
  main.go
Due: pull-cluster-api-addon-provider-helm-e2e

fix: Replace deprecated gcr.io/kubebuilder/kube-rbac-proxy
  config/default/manager_auth_proxy_patch.yaml
  config/manager/controller_manager_config.yaml
  config/manager/kustomization.yaml
  config/manager/metrics_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

docs: Update quick-start.md with correct secret structure
  docs/quick-start.md
Due: none

:seedling: Fix missing Metadata kind in metadata.yaml
  metadata.yaml
  test/e2e/data/shared/v1beta1-provider/metadata.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump CAPI to v1.9.6
  Makefile
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

add rest config options (kube-api-qps & kube-api-burst)
  main.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump go compiler to v1.23.8
  go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.10.0-beta.1
  Makefile
  api/v1alpha1/helmchartproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook.go
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

make generate
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

fix: add registry client TLS connection idle timeout
  internal/helm_client.go
  internal/helm_client_test.go
  internal/testdata/ca-bundle.pem
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.10.0
  Makefile
  api/v1alpha1/helmchartproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/helm.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Init helm release drift manager POC based on dynamic manifest objects watch
  api/v1alpha1/helmchartproxy_types.go
  api/v1alpha1/helmreleaseproxy_types.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmreleasedrift/manager.go
  controllers/helmreleasedrift/manager_test.go
  controllers/helmreleasedrift/releasedrift_controller.go
  controllers/helmreleasedrift/suite_test.go
  controllers/helmreleasedrift/test/fake/fakemanifest_controller.go
  controllers/helmreleasedrift/testdata/manifest.yaml
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  go.mod
  go.sum
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Add helm diff logic and starting e2e test implementation
  README.md
  controllers/helmreleasedrift/releasedrift_controller.go
  go.mod
  go.sum
  internal/helm_client.go
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/helm.yaml
  test/e2e/helm_releasedrift.go
  test/e2e/helm_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Add logic to generate labels for release drift with kustomize API
  controllers/helmreleasedrift/manager.go
  internal/data/kustomization.yaml
  internal/helm_client.go
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Add manager filter for predicate
  controllers/helmreleasedrift/releasedrift_controller.go
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e

Fix e2e tests for empty helm values
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  test/e2e/helm_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e

Finalize e2e tests
  api/v1alpha1/helmchartproxy_types.go
  controllers/helmreleasedrift/test/fake/manifest_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  test/e2e/helm_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e

Add common filter by manager function
  controllers/helmreleasedrift/releasedrift_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

Fix e2e test to utilise chart which is able to install with wait option
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  test/e2e/helm_releasedrift.go
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Fix go.mod
  go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Rebase
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Fix cluster API replacement
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Fix linter
  controllers/helmreleasedrift/releasedrift_controller.go
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e

TESTING: trivial change to see if linter is broken on main
  README.md
Due: none

Update golangci-lint to v1.64.8
  .github/workflows/golangci-lint.yml
  .golangci.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Bump go compiler to v1.23.10
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

:bug: get_go_version in Makefile is not supporting replace in go.mod
  Makefile
Due: none
