Repository kubernetes-sigs/cluster-api-addon-provider-helm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Path conditions:
  pull-cluster-api-addon-provider-helm-e2e: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-addon-provider-helm-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-addon-provider-helm-apiversion-upgrade: any of: ^test\/e2e\/(config\/helm\.yaml)|(data\/shared\/v1beta1-provider\/metadata\.yaml)$

Add e2e test to install Helm chart on multiple Clusters
  test/e2e/common.go
  test/e2e/helm_install.go
  test/e2e/helm_test.go
  test/e2e/helm_upgrade.go
Due: pull-cluster-api-addon-provider-helm-e2e

fix: Skip HelmChartProxy reconciliation for paused clusters
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  controllers/helmchartproxy/helmchartproxy_controller_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI versions in e2e config
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Add mboersma to OWNERS
  OWNERS_ALIASES
Due: none

Add release process documentation
  docs/releasing.md
Due: none

Fix missing minor version in metadata.yaml and helm.yaml
  metadata.yaml
  test/e2e/config/helm.yaml
  test/e2e/data/shared/v1beta1-provider/metadata.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Add visualizer label patch for HelmChartProxy and HelmReleaseProxy
  config/crd/patches/visualizer_label_in_helmchartproxies.yaml
  config/crd/patches/visualizer_label_in_helmreleaseproxies.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAAPH version in API version upgrade test
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Add visualizer label patch to kustomization.yaml
  config/crd/kustomization.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.6.4
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Remove extra key in metadata.yaml
  metadata.yaml
Due: none

add explicit securityContext the CAAPH deployment
  config/default/manager_auth_proxy_patch.yaml
  config/manager/manager.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Fix TestReconcileForCluster unit test
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.7.1
  Makefile
  go.mod
  go.sum
  internal/value_substitutions.go
  test/e2e/config/helm.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump CAPI to v1.7.2
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

:bug: Fix e2e test by using quay.io for images
  test/e2e/config/helm.yaml
  test/e2e/data/addons-helm/v1.5/bases/calico.yaml
  test/e2e/data/addons-helm/v1.5/cluster-template.yaml
  test/e2e/data/addons-helm/v1beta1/bases/calico.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template-upgrades.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Add yaml CI validation for yml\yaml files
  .github/workflows/yamlvalidator.yml
  .github/yamllint_config.yaml
Due: none

:sparkles: Add support for specifying TLS config including custom CA certificates
  api/v1alpha1/condition_consts.go
  api/v1alpha1/helmchartproxy_types.go
  api/v1alpha1/helmreleaseproxy_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller_test.go
  controllers/suite_test.go
  internal/helm_client.go
  internal/mocks/helm_client_mock.go
Due: pull-cluster-api-addon-provider-helm-e2e

:seedling: Use upstream cluster RESTConfig utility
  controllers/controllers_test.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller_test.go
  controllers/suite_test.go
  internal/helm_client.go
  internal/kubeconfig.go
  internal/mocks/doc.go
  internal/mocks/helm_client_mock.go
  internal/mocks/kubeconfig_mock.go
  main.go
Due: pull-cluster-api-addon-provider-helm-e2e

add log options from component base
  go.mod
  main.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

:bug: Fix OCI client configuration logic
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e

fix: pointer checks if user doesn't specify CASecret
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump Go version to v1.22 Helm to v3.15.1
  .github/workflows/dependabot.yml
  Makefile
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump controller runtime
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Fix watches
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

Update README.md
  README.md
Due: none

🌱 Bump CAPI to v1.7.3
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

:seedling: Bump CAPI to v1.7.3
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Use envtest binaries from controller-tools repo
  Makefile
Due: none

🌱 Bump CAPI to v1.7.4
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump CAPI to v1.8 beta and Helm to v3.15.3
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.8.1 beta and Helm to v3.15.3
  go.mod
  go.sum
  main.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Fix HCP watch
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

Regenerate
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Bump go container version
  Makefile
Due: none

Bump go to 1.22.6 and helm to 3.15.4
  Makefile
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Go mod tidy
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e

✨ Bump CAPI to v1.8.1, Helm to v3.15.3, and Go version to 1.22.5 (#272)
  Makefile
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  controllers/helmchartproxy/helmchartproxy_controller.go
  go.mod
  go.sum
  main.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.8.3
  Makefile
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  go.mod
  go.sum
  test/e2e/data/addons-helm/v1.5/cluster-template/kustomization.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template-upgrades/kustomization.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template/kustomization.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

expose resetThenReuseValues upgrade option
  api/v1alpha1/helmchartproxy_types.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e
