Repository kubernetes-sigs/cluster-api-addon-provider-helm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

pull-cluster-api-addon-provider-helm-e2e:
  decorate: true
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
      args:
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-addon-provider-helm-capi-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-addon-provider-helm-apiversion-upgrade:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

Bump CAPI to v1.9.9
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump CAPI to v1.10.3
  Makefile
  api/v1alpha1/helmchartproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook.go
  config/certmanager/kustomization.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/rbac/kustomization.yaml
  config/webhook/kustomization.yaml
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/helm.yaml
  test/e2e/data/addons-helm/v1.5/cluster-template/kustomization.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template-upgrades/kustomization.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template/kustomization.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump golangci-lint to v2.1.6
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e

:bug: Try to upgrade Releases in pending states
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e

Add TakeOwnership optional flag to helm options
  api/v1alpha1/helmchartproxy_types.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  internal/helm_client.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.10.4
  Makefile
  api/v1alpha1/helmchartproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook.go
  config/certmanager/kustomization.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/rbac/kustomization.yaml
  config/webhook/kustomization.yaml
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/helm.yaml
  test/e2e/data/addons-helm/v1.5/cluster-template/kustomization.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template-upgrades/kustomization.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template/kustomization.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump Go to v1.23.12
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.10.5
  Makefile
  api/v1alpha1/helmchartproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook.go
  config/certmanager/kustomization.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/rbac/kustomization.yaml
  config/webhook/kustomization.yaml
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/helm.yaml
  test/e2e/data/addons-helm/v1.5/cluster-template/kustomization.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template-upgrades/kustomization.yaml
  test/e2e/data/addons-helm/v1beta1/cluster-template/kustomization.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/helm_test.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Prefer go.mod's version of Helm
  Makefile
Due: none

Run verify-security weekly as a GitHub action
  .github/workflows/scan.yml
  .github/workflows/security-scan.yml
  Makefile
  hack/ensure-trivy.sh
  hack/verify-container-images.sh
Due: pull-cluster-api-addon-provider-helm-e2e

Fix USER_FORK definition in Makefile
  Makefile
Due: none

Bump CAPI to v1.10.6
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

adding rollingStepSize to helm chart proxy spec
  api/v1alpha1/condition_consts.go
  api/v1alpha1/helmchartproxy_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

implementation and unit tests
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmchartproxy/helmchartproxy_controller_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

fixing reason names. updating condition message
  api/v1alpha1/condition_consts.go
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

fixing lint
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

add 0.4 for metadata.yaml
  metadata.yaml
Due: none

removes unneeded condition getter fn. replaces it with get from cluster-api's condition package.
  api/v1alpha1/helmchartproxy_types.go
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

using conditions.IsFalse to determine condition status
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

moved cluster detetion check to within the fn to reconcile for cluster
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
Due: pull-cluster-api-addon-provider-helm-e2e

sorts cluster meta by namespaced name before rolling out HelmReleaseProxies
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

rolloutStepSize description update
  api/v1alpha1/helmchartproxy_types.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

verbose naming for getNamespacedNameStringFor
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

adding hrp ready condition check
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

ensure rollout completed condition is setup for rolled out hrp
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

adding a check for hrp ready condition being unknown
  controllers/helmchartproxy/helmchartproxy_controller.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.10.7
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

rollout options added to the resoruce
  api/v1alpha1/condition_consts.go
  api/v1alpha1/helmchartproxy_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

rollout options implemented within the controller
  controllers/helmchartproxy/helmchartproxy_controller.go
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

ensuring helmchartproxy reconciliation is sequential
  main.go
Due: pull-cluster-api-addon-provider-helm-e2e

adding samples for rollout options
  config/samples/withrollout.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.10.8
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Dummy PR
  README.md
Due: none

Path conditions:
  pull-cluster-api-addon-provider-helm-e2e: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-addon-provider-helm-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-addon-provider-helm-apiversion-upgrade: any of: ^test\/e2e\/(config\/helm\.yaml)|(data\/shared\/v1beta1-provider\/metadata\.yaml)$
