Repository kubernetes-sigs/cluster-api-addon-provider-helm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

pull-cluster-api-addon-provider-helm-e2e:
  decorate: true
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
      args:
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-addon-provider-helm-capi-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-addon-provider-helm-apiversion-upgrade:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

Bump CAPI dependency to v1.13.0-rc.0
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump CAPI to v1.12.5
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump Go toolchain to go1.25.9
  go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump golangci-lint to v2.7.0 for Go 1.25 support
  .github/workflows/golangci-lint.yml
  .golangci.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Bump Go toolchain to v1.25.9
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  Makefile
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Bump opentelemetry to v1.43.0/v1.10.0
  .gitignore
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Pin actions/checkout to SHA in yamlvalidator workflow
  .github/workflows/yamlvalidator.yml
Due: none

Bump CAPI dependency to v1.13.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Update GCB image and machine type in cloudbuild.yaml
  cloudbuild.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

Bump CAPI to v1.13.1
  go.mod
  go.sum
  test/e2e/config/helm.yaml
  test/e2e/data/shared/v1beta2/metadata.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

Bump golangci-lint to v2.12.1
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  hack/ensure-golangci-lint.sh
Due: pull-cluster-api-addon-provider-helm-e2e

Pin tigera-operator chart version in e2e templates
  test/e2e/data/addons-helm/v1beta2/bases/calico.yaml
  test/e2e/data/addons-helm/v1beta2/cluster-template-upgrades.yaml
  test/e2e/data/addons-helm/v1beta2/cluster-template.yaml
Due: pull-cluster-api-addon-provider-helm-e2e

🌱 Bump CAPI to v1.13.2
  Makefile
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

🌱 Bump Go toolchain to 1.25.10
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

🌱 Fix verify-govulncheck target
  Makefile
Due: none

🌱 Bump Go toolchain to 1.25.11
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

🌱 Bump golang.org/x/net to v0.55.0
  go.mod
  go.sum
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

🌱 Bump CAPI to v1.13.3
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

🌱 Bump Go to 1.26
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

🌱 Bump CAPI to v1.13.4
  go.mod
  go.sum
  test/e2e/config/helm.yaml
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e, pull-cluster-api-addon-provider-helm-apiversion-upgrade

🌱 Limit values template functions
  internal/value_substitutions.go
  internal/value_substitutions_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

🌱 Restrict Helm repository URL schemes
  api/v1alpha1/helmchartproxy_url_test.go
  api/v1alpha1/helmchartproxy_webhook.go
Due: pull-cluster-api-addon-provider-helm-e2e

🌱 Restrict Secret references to proxy namespaces
  api/v1alpha1/helmchartproxy_secret_references_test.go
  api/v1alpha1/helmchartproxy_types.go
  api/v1alpha1/helmchartproxy_webhook.go
  config/crd/bases/addons.cluster.x-k8s.io_helmchartproxies.yaml
  config/crd/bases/addons.cluster.x-k8s.io_helmreleaseproxies.yaml
  controllers/helmchartproxy/helmchartproxy_controller_phases.go
  controllers/helmchartproxy/helmchartproxy_controller_phases_test.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller_test.go
  docs/quick-start.md
Due: pull-cluster-api-addon-provider-helm-e2e

🌱 Tighten Helm repository URL validation
  api/v1alpha1/helmchartproxy_url_test.go
  api/v1alpha1/helmchartproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

🌱 Restrict Helm repository URL schemes (#585)
  api/v1alpha1/helmchartproxy_url_test.go
  api/v1alpha1/helmchartproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook.go
  api/v1alpha1/helmreleaseproxy_webhook_test.go
Due: pull-cluster-api-addon-provider-helm-e2e

Bump Helm to v4.1.4
  Makefile
  controllers/controllers_test.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller.go
  controllers/helmreleaseproxy/helmreleaseproxy_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  internal/helm_client.go
  internal/helm_client_test.go
  internal/mocks/helm_client_mock.go
  test/e2e/common.go
  test/e2e/helm_pending.go
  test/e2e/helm_test.go
  test/e2e/helm_uninstall.go
  test/e2e/helpers.go
Due: pull-cluster-api-addon-provider-helm-e2e, pull-cluster-api-addon-provider-helm-capi-e2e

Path conditions:
  pull-cluster-api-addon-provider-helm-e2e: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-addon-provider-helm-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-addon-provider-helm-apiversion-upgrade: any of: ^test\/e2e\/(config\/helm\.yaml)|(data\/shared\/v1beta1-provider\/metadata\.yaml)$
