Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

pull-azure-sigs:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
      - name: AZURE_BUILD_FORMAT
        value: sig
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Test WS2025 GA image
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/windows-2025-containerd.json
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate

fix: 🐛 /var/log/messages gets filled up in vSphere Photon
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/providers/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/vmware-photon.yml
  images/capi/ansible/roles/providers/templates/etc/logrotate.d/messages.j2
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

ci(docker): add OCI labels
  images/capi/Dockerfile
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Bump ansible-core to v2.15.3
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

AMI support Amazon Linux 2023
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/amazonLinux.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/ami/amazon-2.json
  images/capi/packer/ami/amazon-2023.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Add support for Flatcar build for Proxmox VE
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/proxmox.yml
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/flatcar.json
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Bump goss to v0.4.9
  docs/book/src/capi/goss/goss.md
  images/capi/packer/config/goss-args.json
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Make image-build-flatcar.sh POSIX-compliant
  images/capi/hack/image-build-flatcar.sh
Due: none

Bump default Kubernetes to 1.31.4
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix: goss-command.yml gathers kube image names
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

feat(proxmox): make disk format configurable
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

feat(proxmox): make cpu numa configurable
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

Fixes the Windows update categories are not correctly set
  images/capi/ansible/windows/roles/systemprep/defaults/main.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Add new RAW builoder targets for e.g. 2404
  images/capi/Makefile
  images/capi/packer/raw/.gitignore
  images/capi/packer/raw/linux/ubuntu/http/22.04.efi/meta-data
  images/capi/packer/raw/linux/ubuntu/http/22.04.efi/user-data.tmpl
  images/capi/packer/raw/linux/ubuntu/http/22.04/meta-data
  images/capi/packer/raw/linux/ubuntu/http/22.04/user-data.tmpl
  images/capi/packer/raw/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/raw/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/raw/raw-ubuntu-2004-efi.json
  images/capi/packer/raw/raw-ubuntu-2004.json
  images/capi/packer/raw/raw-ubuntu-2204-efi.json
  images/capi/packer/raw/raw-ubuntu-2204.json
  images/capi/packer/raw/raw-ubuntu-2404-efi.json
  images/capi/packer/raw/raw-ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

cleaning images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/ansible/roles/setup/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

feat ajout tests goss basiques pour almalinux outscale
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

initial modification for almalinux on outscale, not functionnal
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/outscale.yml
  images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/packer/outscale/almaLinux-9-2024.json
  images/capi/packer/outscale/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Add Ubuntu 2204 target to the RAW builder.
  images/capi/Makefile
  images/capi/packer/raw/.gitignore
  images/capi/packer/raw/linux/ubuntu/http/22.04.efi/meta-data
  images/capi/packer/raw/linux/ubuntu/http/22.04.efi/user-data.tmpl
  images/capi/packer/raw/linux/ubuntu/http/22.04/meta-data
  images/capi/packer/raw/linux/ubuntu/http/22.04/user-data.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/raw/raw-ubuntu-2004-efi.json
  images/capi/packer/raw/raw-ubuntu-2004.json
  images/capi/packer/raw/raw-ubuntu-2204-efi.json
  images/capi/packer/raw/raw-ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

docs(proxmox): add documentation for changing disk_format
  docs/book/src/capi/providers/proxmox.md
Due: none

Support customize Windows admin password for image build
  images/capi/hack/windows-ova-unattend.py
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Compatibility fixes for ssh password script
  images/capi/hack/set-ssh-password.sh
Due: none

fix: added nvidia_ceph default values to the gpu role
  images/capi/ansible/roles/gpu/README.md
  images/capi/ansible/roles/gpu/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

fix: adds custom datasource for ubuntu 22.04 and newer to prevent cloud-init restart
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/90_dpkg.cfg
  images/capi/ansible/roles/providers/files/usr/lib/python3/dist-packages/cloudinit/sources/DataSourceEc2Kubernetes.py
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/packer/ami/ubuntu-2204.json
  images/capi/packer/ami/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Add custom multipath.conf management to Ansible roles
  images/capi/ansible/roles/multipathd/README.md
  images/capi/ansible/roles/multipathd/defaults/main.yml
  images/capi/ansible/roles/multipathd/files/multipath.conf
  images/capi/ansible/roles/multipathd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

fix: increase azure polling duration timeout
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

add condition
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

modify goss template
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

fix: goos var
  images/capi/packer/goss/goss-package.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

upgrade goss
  docs/book/src/capi/goss/goss.md
  images/capi/packer/config/goss-args.json
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

cleanup goos variable
  images/capi/packer/goss/goss-package.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

update permission
  images/capi/scripts/ci-disable-goss-inspect.json
Due: json-sort-check

downgrade to 0.3.23
  docs/book/src/capi/goss/goss.md
  images/capi/packer/config/goss-args.json
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

upgrade goss to v0.4.0
  docs/book/src/capi/goss/goss.md
  images/capi/packer/config/goss-args.json
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

delete unused contents section
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

fix: ci
  images/capi/packer/goss/goss-files.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

upgrade goss to v0.4.9
  docs/book/src/capi/goss/goss.md
  images/capi/packer/config/goss-args.json
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

modify regex
  images/capi/packer/gce/packer.json
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

add escape
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
