Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Update metadata so it can be re-used
  images/capi/ansible/windows/roles/cloudbase-init/templates/format-drive.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Use a scheduled task instead of setupcomplete
  images/capi/ansible/windows/node_windows.yml
  images/capi/ansible/windows/roles/cloudbase-init/tasks/main.yml
  images/capi/ansible/windows/roles/cloudbase-init/templates/SetupComplete2.cmd
  images/capi/ansible/windows/roles/cloudbase-init/templates/configure-k8s.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Make kubelet as a windows service
  env.sh
  images/capi/ansible/windows/roles/kubernetes/defaults/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/nssm.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/ansible/windows/roles/kubernetes/templates/RestartKubelet.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Added changes to ensure oscap ansible script is added to build process of AMI images for ubuntu 2404
  images/capi/Makefile
  images/capi/packer/ami/packer.json
  images/capi/packer/ami/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Removed my branch which I was using to test. This ensures that only a merge to main and a workflow dispatch will trigger the workflow
  .github/workflows/image-ami-builds.yaml
Due: none

Added support for flatcar_production_kubevirt_image
  images/capi/packer/qemu/qemu-flatcar-kubevirt-cloudimg.json
Due: json-sort-check, pull-packer-validate

fix: Duplicate kubelet parameter by automatic resource sizing script
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: add prefix gpu_ to nvidia_ceph variable
  images/capi/ansible/roles/gpu/README.md
  images/capi/ansible/roles/gpu/defaults/main.yml
  images/capi/ansible/roles/gpu/tasks/nvidia.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

bump caontaired version
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

Try to address the cloudbase init
  env.sh
  images/capi/ansible/windows/roles/cloudbase-init/tasks/main.yml
  images/capi/packer/azure/scripts/sysprep.ps1
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

add LimitNOFILE configuration for Flatcar OS
  images/capi/ansible/roles/containerd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

patch: adding rockylinux support to openstack and updating rockylinux goss package args from cloud-utils to cloud-utils-growpart.
  images/capi/Makefile
  images/capi/ansible/roles/security/tasks/falco.yml
  images/capi/ansible/roles/security/tasks/trivy.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/rockylinux-9.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Updated docs for v0.1.42
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

feat(raw): add ubuntu 24.04 target
  images/capi/Makefile
  images/capi/packer/raw/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/raw/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/raw/linux/ubuntu/http/24.04/meta-data
  images/capi/packer/raw/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/raw/raw-ubuntu-2404-efi.json
  images/capi/packer/raw/raw-ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

chore(deps): Update k8s versions in the API builds
  .github/workflows/image-ami-builds.yaml
Due: none

feat(packer/outscale): define omi_name as user
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate

feat: get containerd checksum from sha256sum file
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

fix: added missing kubelet sysconfig path for deb systems in kubelet_resource_sizing script and fix restart behaviour
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat: add conditional to check if its a checksum URL and set win_get_url parameter accordingly
  images/capi/ansible/windows/roles/runtimes/tasks/containerd.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat(hcloud): add Flatcar arm64 support
  docs/book/src/capi/providers/hcloud.md
  images/capi/Makefile
  images/capi/packer/hcloud/flatcar-arm64.json
  images/capi/packer/hcloud/hcloud-config.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/hcloud/scripts/install-flatcar.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

WIP: Image Builder test image work
  .github/workflows/image-ami-builds.yaml
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/ami/scripts/oscap.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

WIP: Update to make data source configured from packer files
  images/capi/ansible/roles/providers/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/templates/etc/logrotate.d/90_dpkg.cfg.j2
  images/capi/packer/ami/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all

fix: Ec2Kubernetes cloud-init datasource failure
  images/capi/ansible/roles/providers/files/usr/lib/python3/dist-packages/cloudinit/sources/DataSourceEc2Kubernetes.py
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Increase builder instance type
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

Update default k8s version
  .github/workflows/image-ami-builds.yaml
Due: none

We are removing support for versions prior to 1.21 in the templates to simplify support levels
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

docs: Fix ami variable descriptions and add missing default value in table
  docs/book/src/capi/providers/aws.md
Due: none

Update govc to v0.49.0
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Update docker/dockerfile to version 1.14
  images/capi/Dockerfile
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Better sed expression
  images/capi/ansible/roles/providers/files/usr/local/bin/modify-cloud-init-cfg.sh
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Remove cdrom from vsphere-iso after build
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

extend tools.conf
  images/capi/ansible/roles/providers/files/etc/vmware-tools/tools.conf
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

refactor no swap for ova/ubuntu
  images/capi/packer/ova/linux/ubuntu/http/22.04.efi/user-data.tmpl
  images/capi/packer/ova/linux/ubuntu/http/22.04/user-data.tmpl
  images/capi/packer/ova/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/ova/linux/ubuntu/http/24.04/user-data.tmpl
Due: pull-ova-all, pull-packer-validate

remove replaced exclude-nics key
  images/capi/ansible/roles/providers/files/etc/vmware-tools/tools.conf
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix(ansible/sysprep/tasks/debian) : step name typo
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Populate the AMIs 'name' tag with the build name
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

install packer-plugin-vsphere
  images/capi/Makefile
  images/capi/packer/ova/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Bump default Kubernetes to 1.32.4
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate
