Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

pull-azure-sigs:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
      - name: AZURE_BUILD_FORMAT
        value: sig
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

fix(outscale): Remove cloud-init obsolete installation package
  images/capi/ansible/roles/providers/files/tmp/cloud-init_22.2-outscale.deb
  images/capi/ansible/roles/providers/tasks/outscale.yml
  images/capi/packer/outscale/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Set the pipefail option
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds

Update docs for v0.1.24 and include a new script to handle the docs updates
  Makefile
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
  images/capi/scripts/release-update-docs.sh
Due: none

Set the pipefail option (#1371)
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds

Update qemu ubuntu 22.04
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
Due: json-sort-check, pull-packer-validate

Promote drew-viles to maintainer
  OWNERS_ALIASES
Due: none

fix: Increase waiting for GRUB
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

Upgrade Centos 9 Stream base image to newer version.
  images/capi/packer/qemu/qemu-centos-9.json
Due: json-sort-check, pull-packer-validate

feat(crio): support other CRI flavours
  images/capi/Makefile
  images/capi/ansible/node.yml
  images/capi/ansible/roles/crio/defaults/main.yml
  images/capi/ansible/roles/crio/tasks/debian.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/templates/etc/crictl.yaml
  images/capi/ansible/roles/crio/templates/systemd/system/crio.service.d/http-proxy.conf
  images/capi/ansible/roles/crio/templates/systemd/system/crio.service.d/max-tasks.conf
  images/capi/ansible/roles/crio/templates/systemd/system/crio.service.d/memory-pressure.conf
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
  images/capi/packer/config/crio.json
  images/capi/packer/qemu/qemu-ubuntu-2204-crio.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

feat(crio): fixed crio installation and missing crictl
  docs/book/src/SUMMARY.md
  docs/book/src/capi/cri/cri.md
  docs/book/src/capi/cri/customizing-containerd.md
  images/capi/ansible/node.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/templates/etc/systemd/system/crio.service.d/http-proxy.conf
  images/capi/ansible/roles/crio/templates/etc/systemd/system/crio.service.d/max-tasks.conf
  images/capi/ansible/roles/crio/templates/etc/systemd/system/crio.service.d/memory-pressure.conf
  images/capi/ansible/roles/kubernetes/tasks/kubeadmpull.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
  images/capi/ansible/roles/kubernetes/templates/etc/kubeadm.yml
  images/capi/ansible/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/roles/load_additional_components/tasks/url.yml
  images/capi/packer/qemu/qemu-ubuntu-2004.json
  images/capi/packer/qemu/qemu-ubuntu-2204-crio.json
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

update nightly build images for capg
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
  images/capi/packer/gce/ci/nightly/overwrite-1-28.json
  images/capi/packer/gce/ci/nightly/overwrite-1-29.json
Due: json-sort-check, pull-packer-validate

feat(crio): implement goss spec for crio and edit docs
  docs/book/src/capi/capi.md
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add EFI support for VMware Windows OVA
  images/capi/Makefile
  images/capi/packer/ova/packer-common.json
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/ova/windows-2019-efi.json
  images/capi/packer/ova/windows-2022-efi.json
  images/capi/packer/ova/windows/windows-2019-efi/autounattend.xml
  images/capi/packer/ova/windows/windows-2022-efi/autounattend.xml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

feat(crio-gvisor): This commit partially implements gvisor support
  docs/book/src/capi/cri/cri.md
  images/capi/ansible/roles/crio/defaults/main.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/templates/etc/crio/crio.conf
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/crio.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix(crio): remove default CNI for crio
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

feat(banner): add banner
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/templates/etc/network/if-up.d/mod-etc-issue
Due: pull-ova-all, pull-azure-vhds

Fix qemu ubuntu 22.04 URL
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

Update ISO URLs to latest, add script to update ISO checksums
  images/capi/Makefile
  images/capi/hack/update-iso-checksums.sh
  images/capi/packer/ova/rockylinux-8.json
  images/capi/packer/ova/ubuntu-2204-efi.json
  images/capi/packer/ova/ubuntu-2204.json
  images/capi/packer/proxmox/packer.json
  images/capi/packer/proxmox/ubuntu-2204.json
  images/capi/packer/qemu/qemu-centos-9.json
  images/capi/packer/qemu/qemu-ubuntu-2004-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2004.json
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
  images/capi/packer/qemu/qemu-ubuntu-2304.json
  images/capi/packer/raw/raw-ubuntu-2004-efi.json
  images/capi/packer/raw/raw-ubuntu-2004.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

fix(crio): Small fixes for gvisor compat, docs tweaks and CRI-O CNI
  docs/book/src/capi/cri/cri.md
  docs/book/src/capi/cri/customizing-containerd.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/templates/etc/crio/crio.conf
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/crio.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Load vbox plugins via config file
  images/capi/Makefile
  images/capi/packer/vbox/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Load amazon plugin via config file
  images/capi/Makefile
  images/capi/packer/ami/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Load googlecompute plugin via config file
  images/capi/Makefile
  images/capi/packer/gce/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Load node-ova plugins via config file
  images/capi/Makefile
  images/capi/packer/ova/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Load qemu plugin via config file
  images/capi/Makefile
  images/capi/packer/qemu/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

use yum fqcn
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
Due: pull-ova-all, pull-azure-vhds

fix(outscale): Configure ec2 provider so VM userdata will work again
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/99_metadata.cfg
Due: pull-ova-all, pull-azure-vhds

docs: Updated docs for 0.1.25 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Add raw image building support for rhel-9 and rhel-9 efi
  images/capi/Makefile
  images/capi/packer/raw/linux/rhel
  images/capi/packer/raw/linux/rhel/7/ks.cfg
  images/capi/packer/raw/linux/rhel/8/ks.cfg
  images/capi/packer/raw/linux/rhel/9/ks-efi.cfg
  images/capi/packer/raw/linux/rhel/9/ks.cfg
  images/capi/packer/raw/packer.json
  images/capi/packer/raw/raw-rhel-9-efi.json
  images/capi/packer/raw/raw-rhel-9.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Add QEMU support for RHEL 9
  images/capi/Makefile
  images/capi/packer/qemu/qemu-rhel-9.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Add NIC exclusion to VMware tools conf in VMware Windows OVA
  images/capi/ansible/windows/roles/providers/files/vmware/vmtools/tools.conf
  images/capi/ansible/windows/roles/providers/tasks/vmware.yml
Due: pull-ova-all, pull-azure-vhds

Migrate Ubuntu 20.04 OVA autoinstalls to subiquity
  images/capi/packer/ova/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/ova/linux/ubuntu/http/20.04.efi/meta-data
  images/capi/packer/ova/linux/ubuntu/http/20.04.efi/user-data
  images/capi/packer/ova/linux/ubuntu/http/20.04/meta-data
  images/capi/packer/ova/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/ova/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/ova/linux/ubuntu/http/20.04/user-data
  images/capi/packer/ova/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/ova/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/ova/ubuntu-2004-efi.json
  images/capi/packer/ova/ubuntu-2004.json
  images/capi/packer/qemu/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/raw/linux/ubuntu/http/18.04/preseed.cfg
Due: pull-ova-all, json-sort-check, pull-packer-validate

Revert updates to Ubuntu 2004 ISO URLs
  images/capi/packer/qemu/qemu-ubuntu-2004-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2004.json
  images/capi/packer/raw/raw-ubuntu-2004-efi.json
  images/capi/packer/raw/raw-ubuntu-2004.json
Due: json-sort-check, pull-packer-validate

Place RHEL kickstart files for raw builds in `http` directory
  images/capi/packer/raw/linux/rhel/http/7/ks.cfg
  images/capi/packer/raw/linux/rhel/http/8/ks.cfg
  images/capi/packer/raw/linux/rhel/http/9/ks-efi.cfg
  images/capi/packer/raw/linux/rhel/http/9/ks.cfg
Due: pull-packer-validate

Replace symlink OS folders with actual folders, remove unused kickstart/preseed configs
  images/capi/packer/ova/linux/photon/http/4
  images/capi/packer/ova/linux/photon/http/4/ks.json
  images/capi/packer/ova/linux/rhel
  images/capi/packer/ova/linux/rhel/http/7/ks.cfg
  images/capi/packer/ova/linux/rhel/http/8/ks.cfg
  images/capi/packer/ova/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/qemu/linux/photon/http/4
  images/capi/packer/qemu/linux/rhel
  images/capi/packer/qemu/linux/rhel/http/8/ks.cfg
  images/capi/packer/qemu/linux/rhel/http/9/ks.cfg
  images/capi/packer/qemu/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/raw/linux/ubuntu/http/18.04/preseed.cfg
Due: pull-ova-all, json-sort-check, pull-packer-validate

Add Network Configuration plugin to VMware cloudbase-init plugin list
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Removing VirtualBox target
  docs/book/src/SUMMARY.md
  docs/book/src/capi/providers/virtualbox.md
  docs/book/src/glossary.md
  images/capi/Makefile
  images/capi/packer/vbox/OWNERS
  images/capi/packer/vbox/packer-common.json
  images/capi/packer/vbox/packer-windows.json
  images/capi/packer/vbox/vagrantfile-windows_2019.template
  images/capi/packer/vbox/windows-2019.json
  images/capi/packer/vbox/windows/enable-winrm.ps1
  images/capi/packer/vbox/windows/sysprep.ps1
  images/capi/packer/vbox/windows/windows-2019/autounattend.xml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

feat(crio): add support for centos (redhat)
  images/capi/Makefile
  images/capi/ansible/roles/crio/tasks/debian.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/tasks/redhat.yml
  images/capi/packer/qemu/qemu-centos-9-crio.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Bump ansible-core to v2.15.10
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
