Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Write image-builder commit provenance into built images
  .github/workflows/build-azure-sig.yaml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/maas/packer-arm64.json.tmpl
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/oxide/packer.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Add goss check for the provenance file
  images/capi/packer/azure/packer.json
  images/capi/packer/goss/goss-files.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

Default image_builder_version goss var to fix spec render
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

Use now() for provenance build date
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Pin ansible to tested version in Azure SIG workflow
  .github/workflows/build-azure-sig.yaml
Due: none

Force-install pinned ansible-core in Azure SIG workflow
  .github/workflows/build-azure-sig.yaml
Due: none

Consume DALEC zip packages for Windows kubernetes binaries
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/roles/kubernetes/defaults/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/url.yml
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Bump ansible to v2.18.17
  images/capi/hack/utils.sh
Due: none

Use ${_version_ansible_core:?} to fail fast if unset
  .github/workflows/build-azure-sig.yaml
Due: none

Pin ansible to tested version in Azure SIG workflow (#2040)
  .github/workflows/build-azure-sig.yaml
Due: none

feat: Add support for legacy_imds_endpoints_disabled
  docs/book/src/capi/providers/oci.md
  images/capi/packer/oci/config.pkr.hcl
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/oci/packer.json
Due: json-sort-check, pull-packer-validate

Raise Windows Feature goss check timeout to 180s
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

Increase ansible connection timeout
  images/capi/ansible.cfg
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all

Add SSH keepalives and enable pipelining
  images/capi/ansible.cfg
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all

Default Windows kubelet to native service manager
  images/capi/ansible/windows/example.vars.yml
  images/capi/packer/config/windows/common.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Write image-builder commit provenance into built images
  .github/workflows/build-azure-sig.yaml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/maas/packer-arm64.json.tmpl
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/oxide/packer.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

bisect: test tree of a06cb7183d710b94c844a7a003fc3a43b0deed8e (Merge pull request #2002 from mboersma/cleanup-goss-vars-rhel8)
  Makefile
  docs/book/src/capi/providers/azure.md
  docs/book/src/capi/windows/windows.md
  images/capi/Makefile
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/azure_targets.sh
  images/capi/packer/azure/azure-vhd.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-vhd.sh
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/nutanix/linux/cloud-init/rhel/8/user-data.tmpl
  images/capi/packer/nutanix/linux/cloud-init/rockylinux/8/user-data.tmpl
  images/capi/scripts/ci-azure-e2e.sh
  images/capi/scripts/ci-packer-validate.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

bisect VERIFY: rebuild known-good endpoint tree 567d5b08b3c9463e1a54aebdfbab1b6f03ac9061 (run #25760818683 was green 05-12)
  docs/book/src/capi/containerd/customizing-containerd.md
  images/capi/Makefile
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/ansible/windows/roles/kubernetes/templates/StartKubelet.ps1
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/ci/nightly/overwrite-1-34.json
  images/capi/packer/gce/ci/nightly/overwrite-1-35.json
  images/capi/packer/gce/packer.json
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/centos-10.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Strengthen SSH resilience: retries, longer ControlPersist, higher timeout
  images/capi/ansible.cfg
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all

Neutralize needrestart and harden sshd keepalive to prevent mid-build SSH drops
  images/capi/ansible/roles/node/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: avoid following cri-tools symlinks
  images/capi/ansible/roles/containerd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: default empty public repo flags before bool
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/tasks/photon.yml
  images/capi/ansible/roles/setup/tasks/rpm_repos.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/rpm_repos.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: default additional component flags to booleans
  images/capi/ansible/roles/load_additional_components/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Remove SSH ControlMaster persistence so flaky runner->VM connections reconnect fresh
  images/capi/ansible.cfg
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all

feat(outscale): Add Flatcar and NVIDIA GPU support (#1986)
  README.md
  docs/book/src/capi/providers/3dsoutscale.md
  images/capi/Makefile
  images/capi/ansible/roles/gpu/README.md
  images/capi/ansible/roles/gpu/defaults/main.yml
  images/capi/ansible/roles/gpu/tasks/flatcar-nvidia.yml
  images/capi/ansible/roles/gpu/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/outscale.yml
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/outscale/flatcar.json
  images/capi/packer/outscale/packer-flatcar.json
  images/capi/packer/outscale/scripts/install-flatcar.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

capi: use deb822 repository for Kubernetes apt repo
  images/capi/ansible/roles/kubernetes/handlers/main.yml
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Allow Debian Kubernetes package downgrades
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Azure: ansible use_proxy=false + SSH keepalives so flaky runner-to-VM builds reconnect instead of hanging
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Azure: drop literal quotes in ANSIBLE_SSH_ARGS so multiple ssh -o options tokenize correctly
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Azure: restore SSH ControlMaster/ControlPersist so sysprep host-key removal does not break connection reuse
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Trim to proven Azure SSH fix: drop no-op ansible.cfg ssh_args and disproven needrestart change
  images/capi/ansible.cfg
  images/capi/ansible/roles/node/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: dynamically include OS setup tasks
  images/capi/ansible/roles/setup/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: wait for apt cleanup lock
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: allow deferring sysprep SSH cleanup
  images/capi/ansible/roles/sysprep/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: exclude Ansible temp payloads from sysprep cleanup
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: trust Microsoft key for legacy apt repos
  images/capi/ansible/roles/providers/tasks/azurecli.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: retry QEMU Ansible provisioners
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-packer-validate

Allow Bring Your Own Packer via PACKER_BIN/PACKER_VERSION env vars
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/packer.md
  images/capi/Dockerfile
  images/capi/Makefile
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build
