Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Feat#1943 Add CentOS Stream 10 support for QEMU builds
  README.md
  images/capi/Makefile
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/qemu/linux/centos/http/10/ks.cfg.tmpl
  images/capi/packer/qemu/qemu-centos-10.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Feat#1943 Update CentOS Stream 10 and 9 iso + checksum
  images/capi/packer/qemu/qemu-centos-10.json
  images/capi/packer/qemu/qemu-centos-9.json
Due: json-sort-check, pull-packer-validate

Feat#1943 Add CentOS Stream 10 support for QEMU builds (#2015)
  README.md
  images/capi/Makefile
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/qemu/linux/centos/http/10/ks.cfg.tmpl
  images/capi/packer/qemu/qemu-centos-10.json
  images/capi/packer/qemu/qemu-centos-9.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: fix swap removal in qemu Ubuntu autoinstall templates
  images/capi/packer/qemu/linux/ubuntu/http/22.04.efi.qemu/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/22.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/22.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04/user-data.tmpl
Due: pull-packer-validate

docs: updating the docs for the ~new~ duplicate release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

🚑 Add LimitNOFILE=1048576 configuration to all OS families
  images/capi/ansible/roles/containerd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi/qemu: skip shell cleanup during reboot handoff (#2109)
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-packer-validate

PowerVS: add CentOS Stream 10 DHCP image configuration
  images/capi/Makefile
  images/capi/packer/powervs/centos-10-dhcp.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Proxmox: make variables user-configurable (#1968)
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

Remove dead Azure Linux 2 (CBL-Mariner) references
  docs/book/src/capi/containerd/customizing-containerd.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

capi: validate CNI plugin install source
  images/capi/ansible/roles/kubernetes/tasks/cni-pkg.yml
  images/capi/ansible/roles/kubernetes/tasks/cni-url.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Use upstream CNI plugin tarballs by default
  docs/book/src/capi/providers/proxmox.md
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/cni-url.yml
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/photon.yml
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/config/cni.json
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

capi: decouple CNI package install from kubernetes_source_type and validate CNI source type
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/cni-pkg.yml
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/photon.yml
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: allow Ubuntu autoinstall mirror overrides
  images/capi/Makefile
  images/capi/hack/set-ssh-password.sh
  images/capi/packer/maas/README.md
  images/capi/packer/maas/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.arm64/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/26.04/user-data.tmpl
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/26.04/user-data.tmpl
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04/user-data.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

fix(capi): resolve target var file in ubuntu mirror renderer
  images/capi/Makefile
  images/capi/hack/set-ssh-password.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: add optional QEMU boot smoke helper
  images/capi/Makefile
  images/capi/hack/qemu-boot-smoke.sh
  images/capi/packer/qemu/README.md
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: fix qemu-boot-smoke accelerator and Flatcar handling
  images/capi/hack/qemu-boot-smoke.sh
Due: none

capi: fix Galaxy token leak via xtrace and collection path discovery
  docs/book/src/capi/capi.md
  images/capi/hack/utils.sh
Due: none

capi: allow configuring Ansible Galaxy installs
  docs/book/src/capi/capi.md
  images/capi/hack/ensure-ansible.sh
  images/capi/hack/ensure-s3.sh
  images/capi/hack/utils.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

capi: support empty galaxy args on bash 3
  images/capi/hack/utils.sh
Due: none

capi: avoid double-running post-sysprep roles in node-sysext.yml
  images/capi/ansible/node-sysext.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: require --os-id/--os-version in build-sysext-layer.sh
  images/capi/sysext/README.md
  images/capi/sysext/build-sysext-layer.sh
  images/capi/sysext/test-build-sysext-layer.sh
Due: none

capi: clarify sysext foundation docs
  images/capi/sysext/README.md
Due: none

capi: cover all sysusr_prefix paths in sysext payload-absence check
  images/capi/packer/goss/goss-sysext-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: add sysext file headers
  images/capi/ansible/roles/systemd_sysext/defaults/main.yml
  images/capi/ansible/roles/systemd_sysext/tasks/main.yml
  images/capi/hack/ensure-sysext-tools.sh
  images/capi/sysext/build-sysext-layer.sh
  images/capi/sysext/test-build-sysext-layer.sh
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add systemd-sysext image tooling foundation
  images/capi/ansible/node-sysext.yml
  images/capi/ansible/roles/systemd_sysext/defaults/main.yml
  images/capi/ansible/roles/systemd_sysext/tasks/main.yml
  images/capi/hack/ensure-sysext-tools.sh
  images/capi/packer/goss/goss-sysext-command.yaml
  images/capi/packer/goss/goss-sysext-files.yaml
  images/capi/packer/goss/goss-sysext.yaml
  images/capi/sysext/README.md
  images/capi/sysext/build-sysext-layer.sh
  images/capi/sysext/templates/basic-layer/layer.yaml
  images/capi/sysext/templates/basic-layer/rootfs/usr/lib/.keep
  images/capi/sysext/test-build-sysext-layer.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

capi: persist CAPI paths for immutable qemu images
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
  images/capi/packer/qemu/scripts/configure_immutable_runtime_test.py
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: broaden immutable writable runtime paths
  docs/book/src/capi/immutable-qemu.md
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime_test.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall.py
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: expand qemu immutable runtime writes
  docs/book/src/capi/immutable-qemu.md
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
  images/capi/packer/qemu/scripts/configure_immutable_runtime_test.py
Due: json-sort-check, pull-packer-validate

docs: add immutable qemu image guide
  docs/book/src/SUMMARY.md
  docs/book/src/capi/immutable-qemu.md
  images/capi/packer/qemu/README.md
Due: pull-packer-validate

docs: clarify immutable CAPI validation scope
  images/capi/packer/qemu/README.md
Due: pull-packer-validate

capi: test qemu immutable helpers
  images/capi/Makefile
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/user-data.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
  images/capi/packer/qemu/scripts/configure_immutable_runtime_test.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall_test.py
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: add qemu Ubuntu immutable target
  images/capi/Makefile
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/user-data.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall.py
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

docs: document immutable CAPI boot validation
  images/capi/packer/qemu/README.md
Due: pull-packer-validate

capi: fix errexit masking and SHA256SUMS error handling in update-ubuntu-iso-urls.sh
  images/capi/hack/update-ubuntu-iso-urls.sh
Due: none

fix(capi): probe persistent paths with the same privilege as the copy
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
Due: pull-packer-validate

fix(capi): preserve ssh password and packer var-file precedence in autoinstall renderer
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall_test.py
Due: pull-packer-validate

capi: persist node mount roots in immutable target
  docs/book/src/capi/immutable-qemu.md
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime_test.py
Due: json-sort-check, pull-packer-validate

capi: harden immutable runtime mounts
  docs/book/src/capi/immutable-qemu.md
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
  images/capi/packer/qemu/scripts/configure_immutable_runtime_test.py
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: add Ubuntu ISO URL update helper
  images/capi/Makefile
  images/capi/hack/update-iso-checksums.sh
  images/capi/hack/update-ubuntu-iso-urls.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build
