Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcve-e2e-config: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Add configurable proxmox variables, keeping old defaults
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

Update Scaleway OWNERS
  OWNERS_ALIASES
Due: none

Windows build fixes (#1963)
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Revert "fix: update Azure build VM size to a more modern v2 generation"
  images/capi/packer/azure/azure-config.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Update Azure build regions
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

Refactor Azure GH workflow smoke test
  .github/workflows/build-azure-sig.yaml
  images/capi/packer/azure/scripts/test-templates/linux/kustomization.yaml
  images/capi/packer/azure/scripts/test-templates/patches/azuremachinetemplate-controlplane.yaml
  images/capi/packer/azure/scripts/test-templates/patches/azuremachinetemplate-windows.yaml
  images/capi/packer/azure/scripts/test-templates/patches/azuremachinetemplate-workload.yaml
  images/capi/packer/azure/scripts/test-templates/patches/kubeadmcontrolplane-windows.yaml
  images/capi/packer/azure/scripts/test-templates/patches/machinedeployment-windows.yaml
  images/capi/packer/azure/scripts/test-templates/windows/kustomization.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Check containerd version in goss tests
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

Update docs for image-builder v0.1.50
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Bump ansible to v2.16.18
  images/capi/hack/utils.sh
Due: none

Bump ansible to v2.17.14
  images/capi/hack/utils.sh
Due: none

Use mktemp and reduce timeout
  .github/workflows/build-azure-sig.yaml
Due: none

Fail on kubeadm init --dry-run failures
  .github/workflows/build-azure-sig.yaml
Due: none

Add northcentralus to replicated regions default
  .github/workflows/build-azure-sig.yaml
Due: none

De-duplicate replicated regions
  .github/workflows/build-azure-sig.yaml
Due: none

Default build region to northcentralus
  .github/workflows/build-azure-sig.yaml
Due: none

Prepend comprehensive PATH to help find containerd w/ goss test
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

set default ubuntu repos for setup role
  images/capi/ansible/roles/setup/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

update devsec hardening
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

Refactor Azure GH workflow smoke test (#1969)
  .github/workflows/build-azure-sig.yaml
  images/capi/packer/azure/scripts/test-templates/linux/kustomization.yaml
  images/capi/packer/azure/scripts/test-templates/patches/azuremachinetemplate-controlplane.yaml
  images/capi/packer/azure/scripts/test-templates/patches/azuremachinetemplate-windows.yaml
  images/capi/packer/azure/scripts/test-templates/patches/azuremachinetemplate-workload.yaml
  images/capi/packer/azure/scripts/test-templates/patches/kubeadmcontrolplane-windows.yaml
  images/capi/packer/azure/scripts/test-templates/patches/machinedeployment-windows.yaml
  images/capi/packer/azure/scripts/test-templates/windows/kustomization.yaml
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-gcp-all, pull-goss-populate

Replace ansible.builtin.yum with ansible.builtin.dnf
  images/capi/ansible/roles/containerd/tasks/redhat.yml
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/ansible/roles/providers/tasks/googlecompute.yml
  images/capi/ansible/roles/providers/tasks/hcloud.yml
  images/capi/ansible/roles/providers/tasks/nutanix-redhat.yml
  images/capi/ansible/roles/providers/tasks/proxmox.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/ansible/roles/providers/tasks/raw.yml
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Bump ansible to v2.18.15
  images/capi/hack/utils.sh
Due: none

Squashed Changes to Merge Change for Windows 2022 support for Proxmox provider
  README.md
  docs/book/src/capi/providers/proxmox.md
  images/capi/Makefile
  images/capi/ansible/windows/roles/cloudbase-init/templates/cloudbase-init.conf
  images/capi/ansible/windows/roles/providers/files/proxmox/cloudbase_helper.py
  images/capi/ansible/windows/roles/providers/tasks/main.yml
  images/capi/ansible/windows/roles/providers/tasks/proxmox.yml
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/config/windows/common.json
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/packer-windows.json.tmpl
  images/capi/packer/proxmox/windows-2022.json
  images/capi/packer/proxmox/windows/Install_agent.ps1
  images/capi/packer/proxmox/windows/disable-network-discovery.cmd
  images/capi/packer/proxmox/windows/enable_winrm.ps1
  images/capi/packer/proxmox/windows/goss-wip.json
  images/capi/packer/proxmox/windows/sysprep.ps1
  images/capi/packer/proxmox/windows/windows-2022/autounattend-eval.xml
  images/capi/packer/proxmox/windows/windows-2022/autounattend.xml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Bump ansible to v2.18.15 (#1974)
  images/capi/ansible/roles/containerd/tasks/redhat.yml
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/ansible/roles/providers/tasks/googlecompute.yml
  images/capi/ansible/roles/providers/tasks/hcloud.yml
  images/capi/ansible/roles/providers/tasks/nutanix-redhat.yml
  images/capi/ansible/roles/providers/tasks/proxmox.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/ansible/roles/providers/tasks/raw.yml
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/hack/utils.sh
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix name[missing] ansible-lint violations
  images/capi/.ansible-lint-ignore
  images/capi/ansible/firstboot.yml
  images/capi/ansible/node.yml
  images/capi/ansible/python.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/firstboot/tasks/main.yaml
  images/capi/ansible/roles/firstboot/tasks/qemu.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/load_additional_components/tasks/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/nutanix.yml
  images/capi/ansible/roles/providers/tasks/vmware.yml
  images/capi/ansible/roles/python/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/flatcar.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/photon.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/azurelinux.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/ansible/windows/roles/gmsa/tasks/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/main.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/main.yml
  images/capi/ansible/windows/roles/providers/tasks/main.yml
  images/capi/ansible/windows/roles/runtimes/tasks/main.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix jinja[spacing] ansible-lint violations
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
  images/capi/ansible/roles/kubernetes/tasks/photon.yml
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
  images/capi/ansible/roles/security/tasks/trivy.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix name[play] ansible-lint violations
  images/capi/.ansible-lint-ignore
  images/capi/ansible/firstboot.yml
  images/capi/ansible/node.yml
  images/capi/ansible/python.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Ran Json sort to resolve issue in CI tests
  images/capi/packer/proxmox/windows-2022.json
  images/capi/packer/proxmox/windows/goss-wip.json
Due: json-sort-check, pull-packer-validate

Fix some ansible lint warnings (#1979)
  images/capi/.ansible-lint-ignore
  images/capi/ansible/firstboot.yml
  images/capi/ansible/node.yml
  images/capi/ansible/python.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/firstboot/tasks/main.yaml
  images/capi/ansible/roles/firstboot/tasks/qemu.yml
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/photon.yml
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
  images/capi/ansible/roles/load_additional_components/tasks/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/nutanix.yml
  images/capi/ansible/roles/providers/tasks/vmware.yml
  images/capi/ansible/roles/python/tasks/main.yml
  images/capi/ansible/roles/security/tasks/trivy.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/flatcar.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/photon.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/azurelinux.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/ansible/windows/roles/gmsa/tasks/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/main.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/main.yml
  images/capi/ansible/windows/roles/providers/tasks/main.yml
  images/capi/ansible/windows/roles/runtimes/tasks/main.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix command-instead-of-shell ansible-lint violations
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/kubernetes/tasks/ecrpull.yml
  images/capi/ansible/roles/kubernetes/tasks/kubeadmpull.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
  images/capi/ansible/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/roles/load_additional_components/tasks/url.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/tasks/cloudstack.yml
  images/capi/ansible/roles/providers/tasks/googlecompute.yml
  images/capi/ansible/roles/providers/tasks/raw.yml
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix package-latest ansible-lint violations
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix command-instead-of-module ansible-lint violations in debian.yml
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/setup/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix name[template] ansible-lint violation in crictl-url.yml
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/kubernetes/tasks/crictl-url.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix schema[tasks] ansible-lint violations for become_method
  images/capi/.ansible-lint-ignore
  images/capi/ansible/windows/roles/cloudbase-init/tasks/main.yml
  images/capi/ansible/windows/roles/providers/tasks/azure.yml
  images/capi/ansible/windows/roles/systemprep/tasks/ssh-feature.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix more ansible lint violations (#1980)
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/kubernetes/tasks/crictl-url.yml
  images/capi/ansible/roles/kubernetes/tasks/ecrpull.yml
  images/capi/ansible/roles/kubernetes/tasks/kubeadmpull.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
  images/capi/ansible/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/roles/load_additional_components/tasks/url.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/ansible/roles/providers/tasks/cloudstack.yml
  images/capi/ansible/roles/providers/tasks/googlecompute.yml
  images/capi/ansible/roles/providers/tasks/raw.yml
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/windows/roles/cloudbase-init/tasks/main.yml
  images/capi/ansible/windows/roles/providers/tasks/azure.yml
  images/capi/ansible/windows/roles/systemprep/tasks/ssh-feature.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix yaml line-length lint violations from facts migration
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix bare 'services' variable from service_facts in debian.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add westus2 to default replicated regions for Azure SIG images
  .github/workflows/build-azure-sig.yaml
Due: none

Pin GitHub Actions to SHAs and add dependabot config
  .github/dependabot.yml
  .github/workflows/build-azure-sig.yaml
Due: none

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
