Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

Bump ansible-core to v2.15.8
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds

Add QEMU Support for CentOS 9 Stream
  images/capi/Makefile
  images/capi/packer/qemu/linux/centos/http/9/ks.cfg
  images/capi/packer/qemu/qemu-centos-9.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Remove containerd-wasm-shim tarballs after installing
  images/capi/ansible/roles/containerd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Simplify installation of az CLI on Windows
  images/capi/ansible/windows/roles/providers/tasks/azure.yml
Due: pull-ova-all, pull-azure-vhds

Fix cloud-init feature flags issue for redhat 9 (issue #1235)
  images/capi/ansible/roles/providers/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Delete all rotated logs
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Add ubuntu 22.04 for outscale
  images/capi/Makefile
  images/capi/packer/outscale/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Rockylinux image download fix
  images/capi/packer/qemu/qemu-rockylinux-8.json
  images/capi/packer/qemu/qemu-rockylinux-9.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Fix: Correctly parse Ansible version in ensure-ansible.sh
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds

CAPI: Add option to automatically set system-reserved using formulas shared with EKS and GKE.
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/templates/usr/lib/systemd/system/kubelet.service.d/11-resource-sizing.conf
  images/capi/packer/ami/packer.json
  images/capi/packer/config/ansible-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

update cni-plugins to v1.3.0
  images/capi/packer/config/cni.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update docs after v0.1.22 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

CAPI: Add kubeadm KUBECONFIG and k8s bash completion
  images/capi/ansible/roles/kubernetes/files/etc/profile.d/kubernetes.sh
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Use openvpn from community-owned registry
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds

Migrate interface configuration files to NetworkManager keyfiles on RHEL 9
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds

Set root make targets to default to images/capi/Makefile
  Makefile
Due: none

pin packer version to 1.9.5
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds

drop eol 1.25
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

start building images for 1.29
  images/capi/packer/gce/ci/nightly/overwrite-1-29.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

update releases for 1.26/27/28
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
  images/capi/packer/gce/ci/nightly/overwrite-1-28.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

rocky linux 9
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/linux/rockylinux/http/9/ks.cfg
  images/capi/packer/ova/rockylinux-9.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Bump ansible-core to v2.15.9
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds

Use specific CNI package only if defined
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
  images/capi/ansible/roles/kubernetes/tasks/mariner.yml
  images/capi/ansible/roles/kubernetes/tasks/photon.yml
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/config/cni.json
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add timeout to Goss test for Windows AZ CLI
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

patch: qemu efi fixes
  images/capi/packer/qemu/linux/ubuntu/http/22.04.efi.qemu/user-data
Due: pull-azure-vhds, pull-packer-validate

update packer script
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds

Support Azure OOT credential provider
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/windows/roles/providers/tasks/azure.yml
Due: pull-ova-all, pull-azure-vhds

Update CAPZ test templates used in pipeline
  images/capi/packer/azure/.pipelines/test-vhd.yaml
  images/capi/packer/azure/scripts/test-templates/linux/kustomization.yaml
  images/capi/packer/azure/scripts/test-templates/windows/kustomization.yaml
Due: pull-azure-vhds, pull-packer-validate

Bump containerd to 1.7.13
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update docs for release v0.1.23
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Fix flatcar python error
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Use PATH to find waagent on Flatcar
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Manually execute userdel when deprovisioning Flatcar
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Set HOME_MODE to 0700 in Flatcar images
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Update the GitHub issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

patch: new GPU role to support both AMD and NVIDIA drivers
  .gitignore
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/gpu/README.md
  images/capi/ansible/roles/gpu/defaults/main.yml
  images/capi/ansible/roles/gpu/tasks/amd.yml
  images/capi/ansible/roles/gpu/tasks/main.yml
  images/capi/ansible/roles/gpu/tasks/nvidia.yml
  images/capi/ansible/roles/gpu/templates/gridd.conf.j2
  images/capi/ansible/roles/nvidia/README.md
Due: pull-ova-all, pull-azure-vhds

Fix boolean condition for kubernetes_enable_automatic_resource_sizing
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Remove unneeded pip and package upgrade
  images/capi/ansible/roles/providers/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

Update wasm-shims to v0.11.1
  images/capi/packer/config/wasm-shims.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate
