Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

Remove leftover CAPI OWNERS file
  images/capi/OWNERS
Due: pull-azure-vhds

Update docs for v0.1.16 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Bump containerd-wasm-shims to v0.6.0
  images/capi/packer/config/wasm-shims.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update containerd to 1.6.21
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Arm64: flatcar: fix portable python3/python2 download
  images/capi/packer/files/flatcar/scripts/bootstrap-flatcar.sh
Due: pull-azure-vhds, pull-packer-validate

Lock packages versions
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Flatcar: ARM64: fix make deps
  images/capi/hack/ensure-goss.sh
  images/capi/hack/utils.sh
Due: pull-ova-all, pull-azure-vhds

Remove Ubuntu-18.04 from GCE provider
  images/capi/Makefile
  images/capi/packer/gce/ubuntu-1804.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Remove VMWare open-vm-tools from qemu images
  images/capi/packer/qemu/linux
  images/capi/packer/qemu/linux/centos/http/7/ks.cfg
  images/capi/packer/qemu/linux/centos/http/8/ks.cfg
  images/capi/packer/qemu/linux/photon/http/3/ks.json
  images/capi/packer/qemu/linux/photon/http/4
  images/capi/packer/qemu/linux/rhel
  images/capi/packer/qemu/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/qemu/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/qemu/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/qemu/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/qemu/linux/ubuntu/http/22.04.efi/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/22.04.efi/user-data
  images/capi/packer/qemu/linux/ubuntu/http/22.04/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/22.04/user-data
  images/capi/packer/qemu/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/qemu/linux/ubuntu/http/base/preseed.cfg
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

CAPC: add ConfigDrive to cloud-init datasource_list in cloudstack images
  images/capi/ansible/roles/providers/tasks/cloudstack.yml
Due: pull-ova-all, pull-azure-vhds

Update main branch referenced in docs
  docs/book/src/capi/container-image.md
  docs/book/src/capi/quickstart.md
  docs/book/src/capi/releasing.md
Due: none

Fix host arch detection for arm64
  images/capi/hack/utils.sh
Due: pull-azure-vhds

Disable Flatcar updates during image creation
  images/capi/Makefile
  images/capi/packer/ami/flatcar.json
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/flatcar-gen2.json
  images/capi/packer/azure/flatcar.json
  images/capi/packer/azure/packer.json
  images/capi/packer/files/flatcar/clc/bootstrap.yaml
  images/capi/packer/files/flatcar/ignition/bootstrap.json
  images/capi/packer/ova/flatcar.json
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/raw/raw-flatcar.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Clean up book intro page
  docs/book/src/introduction.md
Due: none

Add Azure packer config file
  images/capi/Makefile
  images/capi/packer/azure/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Move packer installs to the Dependency targets
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Bump nighly CI to use latest Kubernetes patch versions
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

fix broken rocky link
  images/capi/packer/nutanix/rockylinux-8.json
  images/capi/packer/nutanix/rockylinux-9.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

update redhat family
  docs/book/src/capi/providers/nutanix.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/nutanix-redhat.yml
  images/capi/ansible/roles/providers/tasks/nutanix-ubuntu.yml
  images/capi/ansible/roles/providers/tasks/nutanix.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/nutanix/packer.json
  images/capi/packer/nutanix/rhel-8.json
  images/capi/packer/nutanix/rhel-9.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add fallback for gcloud call
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Allow running Make tasks from root directory
  Makefile
  images/capi/Makefile
  images/capi/hack/ensure-ansible-windows.sh
  images/capi/hack/ensure-ansible.sh
  images/capi/hack/ensure-azure-cli.sh
  images/capi/hack/ensure-goss.sh
  images/capi/hack/ensure-ovftool.sh
  images/capi/hack/ensure-powervs.sh
  images/capi/hack/ensure-s3.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Add fallback for tools that don't have darwin/arm64 binaries
  images/capi/hack/ensure-goss.sh
  images/capi/hack/utils.sh
  images/capi/packer/azure/scripts/ensure-kustomize.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Make containerd unpack location configurable
  images/capi/ansible/roles/containerd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Use ssh-extra-args param
  images/capi/packer/powervs/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Bump packer-plugin-powervs to 0.2.1
  images/capi/hack/ensure-powervs.sh
Due: pull-azure-vhds

Bump packer to 1.9.1
  images/capi/Makefile
  images/capi/hack/ensure-packer.sh
  images/capi/packer/openstack/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Add support for Mariner Linux on Azure
  docs/book/src/capi/goss/goss.md
  images/capi/Makefile
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/systemd/system/containerd.service.d/limit-nofile.conf
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/mariner.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/roles/providers/tasks/mariner.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/mariner.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/mariner.yml
  images/capi/azure_targets.sh
  images/capi/packer/azure/mariner-2-gen2.json
  images/capi/packer/azure/mariner-2.json
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/kubernetes.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Updated wasm-shims to 0.7.0, added support for wws
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/packer/azure/azure-config.json
  images/capi/packer/config/wasm-shims.json
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix: making nvidia standalone due to conflicts with load_additional_components
  images/capi/ansible/roles/nvidia/README.md
  images/capi/ansible/roles/nvidia/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Feature flag for containerd auditd rules
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/packer/config/ansible-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update docs for v0.1.17 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

images/capi/packer/config/ansible-args.json: remove ssh-rsa workaround
  images/capi/Makefile
  images/capi/packer/config.pkr.hcl
  images/capi/packer/config/ansible-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add photon-5 OVA support
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/photon-5.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add chrony hook for Openstack
  images/capi/ansible/roles/providers/tasks/openstack.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Move kubernetes arch variable to JSON config file for dynamic override
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

add photon-5 support
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/linux/photon/http/5/ks.json
  images/capi/packer/ova/photon-5.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

remove centos-7 from ci, cleanup
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds

qemu: configure networkd-dispatcher only if ansible_os_family is Debian
  images/capi/ansible/roles/providers/tasks/openstack.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
Due: pull-ova-all, pull-azure-vhds

align debug tools
  images/capi/ansible/roles/providers/tasks/nutanix-redhat.yml
  images/capi/ansible/roles/providers/tasks/nutanix-ubuntu.yml
Due: pull-ova-all, pull-azure-vhds

Update CAPV maintainers
  OWNERS_ALIASES
Due: none
