Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

capi: test qemu immutable helpers
  images/capi/Makefile
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/user-data.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
  images/capi/packer/qemu/scripts/configure_immutable_runtime_test.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall_test.py
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: add qemu Ubuntu immutable target
  images/capi/Makefile
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/user-data.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall.py
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

docs: clarify immutable CAPI validation scope
  images/capi/packer/qemu/README.md
Due: pull-packer-validate

capi: persist CAPI paths for immutable qemu images
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
  images/capi/packer/qemu/scripts/configure_immutable_runtime_test.py
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

docs: document immutable CAPI boot validation
  images/capi/packer/qemu/README.md
Due: pull-packer-validate

docs: add immutable qemu image guide
  docs/book/src/SUMMARY.md
  docs/book/src/capi/immutable-qemu.md
  images/capi/packer/qemu/README.md
Due: pull-packer-validate

fix: use defaults folder instead of vars
  images/capi/ansible/roles/disable-modules/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: keep defaults empty
  images/capi/ansible/roles/disable-modules/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: rename to use underscore
  images/capi/ansible/roles/disable_modules/defaults/main.yml
  images/capi/ansible/roles/disable_modules/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: remove blacklist task
  images/capi/ansible/roles/disable_modules/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: add mode
  images/capi/ansible/roles/disable_modules/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: quote Azure SIG wait pids
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

capi: isolate Azure CI CLI auth per SIG build
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

capi: avoid OVA CI SSH password races
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

capi: wait for qemu post-reboot systemd state
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-packer-validate

capi: detect Microsoft apt source in apt root
  images/capi/ansible/roles/setup/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: re-enable Ubuntu 26.04 OVA CI
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

docs: document custom CAPI build targets
  docs/book/src/SUMMARY.md
  docs/book/src/capi/custom-build-targets.md
Due: none

capi: sync Azure validate target help
  images/capi/Makefile
  images/capi/packer/azure/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Add configurable proxmox variables, keeping old defaults
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

tidy formatting
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

add defaults for new variables
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

capi: batch debian sysprep package holds
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: make image hygiene goss checks effective
  images/capi/packer/goss/goss-image-hygiene.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: add final image hygiene goss checks
  images/capi/packer/goss/goss-image-hygiene.yaml
  images/capi/packer/goss/goss.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: remove new subiquity cloud-init networking disable file
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: prevent qemu Hyper-V daemon starts
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: guard OVA Boskos cleanup
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

capi: refresh Microsoft apt key after setup packages
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/tasks/trust_microsoft_apt_key.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: import Kubernetes RPM repository key
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: normalize crictl archive ownership
  images/capi/ansible/roles/kubernetes/tasks/crictl-url.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Bump containerd to 2.3.2 and runc to 1.4.3
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Bump ansible to v2.18.18
  images/capi/hack/utils.sh
Due: none

Fix Windows Azure OSProvisioningTimedOut on sysprep
  images/capi/packer/azure/scripts/sysprep.ps1
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

capi: extend Azure credential provider download timeout
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/windows/roles/providers/tasks/azure.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Schedule QEMU reboot asynchronously
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-packer-validate

capi: skip post-reboot shell cleanup
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-packer-validate

capi: isolate OVA CI packer caches
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

capi: skip Windows debug tools in Azure CI
  images/capi/packer/azure/scripts/disable-windows-debug-tools.json
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

docs: Update docs for image-builder v0.1.54
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none
