Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

fix: make lint failing consistently
  images/capi/hack/ensure-ansible-lint.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

docs: ✏️ Update docs on how to by pass GitHub API rate limits during container image builds
  docs/book/src/capi/container-image.md
Due: none

fix: 🐛 Make kubelet log redirection optional for windows
  images/capi/ansible/windows/roles/kubernetes/defaults/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Disable hardcoded MaaS curtin scripts
  images/capi/ansible/roles/providers/tasks/maas-ubuntu.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: 🐛 Make sure all references to builder user is deleted - OVA
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

fix: make lint failing consistently
  images/capi/hack/ensure-ansible-lint.sh
  images/capi/hack/ensure-ansible.sh
  images/capi/hack/utils.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

feat: add support to containerd 2.0
  docs/book/src/capi/providers/oci.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

fix: use containerd_version variable to download the appropriate containerd.service
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

feat(containerd): add support to config version 3
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/ansible/windows/roles/runtimes/templates/config.toml
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Remove Ubuntu 20.04 as end of life
  docs/book/src/capi/container-image.md
  docs/book/src/capi/providers/3dsoutscale.md
  docs/book/src/capi/providers/aws.md
  docs/book/src/capi/providers/azure.md
  docs/book/src/capi/providers/cloudstack.md
  docs/book/src/capi/providers/digitalocean.md
  docs/book/src/capi/providers/hcloud.md
  docs/book/src/capi/providers/ibmcloud.md
  docs/book/src/capi/providers/nutanix.md
  docs/book/src/capi/providers/oci.md
  docs/book/src/capi/providers/openstack-remote.md
  docs/book/src/capi/providers/openstack.md
  docs/book/src/capi/providers/raw.md
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/ami/ubuntu-2004.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/ubuntu-2004-cvm.json
  images/capi/packer/azure/ubuntu-2004-gen2.json
  images/capi/packer/azure/ubuntu-2004.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/digitalocean/ubuntu-2004.json
  images/capi/packer/hcloud/ubuntu-2004.json
  images/capi/packer/nutanix/ubuntu-2004.json
  images/capi/packer/oci/packer.json
  images/capi/packer/oci/ubuntu-2004.json
  images/capi/packer/openstack/ubuntu-2004.json
  images/capi/packer/outscale/ubuntu-2004.json
  images/capi/packer/ova/ubuntu-2004-efi.json
  images/capi/packer/ova/ubuntu-2004.json
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/qemu-ubuntu-2004-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2004.json
  images/capi/packer/raw/raw-ubuntu-2004-efi.json
  images/capi/packer/raw/raw-ubuntu-2004.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Remove RHEL-7 as end of life
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/ansible/roles/firstboot/meta/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/hack/image-build-ova.py
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/linux/rhel/http/7/ks.cfg.tmpl
  images/capi/packer/ova/rhel-7.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Remove RHEL7 and Ubuntu 20.04 from readme
  README.md
Due: none

Add instructions for re-enabling custom curtin hooks
  images/capi/ansible/roles/providers/tasks/maas-ubuntu.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: 🐛 Make kubelet log redirection optional for windows
  images/capi/ansible/windows/roles/kubernetes/defaults/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

add support for custom vm_size
  images/capi/packer/azure/azure-config.json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

remove support for legacy managed image
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

remove variables related to plan
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

upgrade azure package
  images/capi/packer/azure/config.pkr.hcl
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

update arch var
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Fix: Remove stale Packer nameserver in RHEL-based images on OpenStack
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-rockylinux-9.json
Due: json-sort-check, pull-packer-validate

Update docs/book/src/capi/capi.md
  docs/book/src/capi/capi.md
Due: none

fix(ova): create missing /usr/local/sbin directory in photon os
  images/capi/ansible/roles/containerd/tasks/photon.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

update pypy url
  images/capi/ansible/roles/python/defaults/main.yml
  images/capi/ansible/roles/python/tasks/flatcar.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: 🐛 builder user remenants should not be present in node images
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
Due: pull-packer-validate

Added syntax comment to Dockerfile for secret mount-type support
  cloudbuild.yaml
  images/capi/Dockerfile
Due: pull-container-image-build

Revert "fix: 🐛 Allow users to pass custom Packer GitHub API token value" and "docs: ✏️ Update docs on how to by pass GitHub API rate limits during container image builds"
  docs/book/src/capi/container-image.md
  images/capi/Dockerfile
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Add wait for vSphere reachable to ci-ova.sh
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Update ubuntu patch version
  images/capi/packer/maas/maas-ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/ubuntu-2404-efi.json
  images/capi/packer/proxmox/ubuntu-2404.json
  images/capi/packer/qemu/qemu-ubuntu-2404-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2404.json
  images/capi/packer/raw/raw-ubuntu-2404-efi.json
  images/capi/packer/raw/raw-ubuntu-2404.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

fix: adding defaults and type check to some bool checks and making a few 'and' statements into lists
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/rpm_repos.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

chore: adding an option to bypass sysprep task that copies the grub file
  images/capi/ansible/roles/sysprep/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

update nightly jobs for gcp
  images/capi/packer/gce/ci/nightly/overwrite-1-31.json
  images/capi/packer/gce/ci/nightly/overwrite-1-32.json
  images/capi/packer/gce/ci/nightly/overwrite-1-33.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

drop 1.30 as EOL
  images/capi/packer/gce/ci/nightly/overwrite-1-30.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

Update docs for image-builder v0.1.46
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

feat: add support for Windows-specific userdata and configuration in Packer templates
  docs/book/src/capi/goss/goss.md
  images/capi/Makefile
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/windows-2022.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Remove outdated references to unused capv-images bucket
  docs/book/src/capi/providers/vsphere.md
  images/capi/hack/image-upload.py
Due: none

packer/outscale: bump outscale provider to 1.5.0
  images/capi/packer/outscale/config.pkr.hcl
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate

packer/outscale: use naming more consistent with other images
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate
