Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Added a job to cleanup old AMI. Started working on the script to handle the cleanup action. Updated the packer file to reduce the number of regions an image is copied to.
  .github/workflows/image-ami-builds.yaml
  images/capi/packer/ami/ubuntu-2404.json
  images/capi/scripts/cleanup_outdated_ami.sh
Due: json-sort-check, pull-packer-validate

Updated the logic to get the live version of the clusters
  images/capi/scripts/cleanup_outdated_ami.sh
Due: none

chore(deps): Update k8s versions in the API builds
  .github/workflows/image-ami-builds.yaml
Due: none

Increase builder instance type
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

fix: Ec2Kubernetes cloud-init datasource failure
  images/capi/ansible/roles/providers/files/usr/lib/python3/dist-packages/cloudinit/sources/DataSourceEc2Kubernetes.py
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Update default k8s version
  .github/workflows/image-ami-builds.yaml
Due: none

Updated workflow to use argocd as the point of access to get the live k8s cluster versions.
  .github/workflows/image-ami-builds.yaml
Due: none

We are removing support for versions prior to 1.21 in the templates to simplify support levels
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Added ap-southeast-2 to the ubuntu2404.json ami_regions list. Added missing 'a' for the aws-actions workflow
  .github/workflows/image-ami-builds.yaml
  images/capi/packer/ami/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Removed the cleanup_outdated_ami.sh script since we update the github workflow to use argocd to get the cluster k8s version
  .github/workflows/image-ami-builds.yaml
  images/capi/scripts/cleanup_outdated_ami.sh
Due: none

Remove test branch from workflow triggers
  .github/workflows/image-ami-builds.yaml
Due: none

Partial Revert "Merge pull request #8 from getditto/ore/ditto-image-builder"
  images/capi/ansible/roles/providers/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/templates/etc/logrotate.d/90_dpkg.cfg.j2
  images/capi/packer/ami/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all

Update workflow set default Kubernetes version to 1.31.4 in the AMI build
  .github/workflows/image-ami-builds.yaml
Due: none

feat: add oscap playbook for GCP
  images/capi/Makefile
  images/capi/packer/gce/packer.json
  images/capi/scripts/oscap.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

fix: update GCP Kubernetes version to 1.32.4
  .github/workflows/image-ami-builds.yaml
Due: none

Add GCP AMI build workflow
  .github/workflows/image-ami-builds.yaml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/make_ami_public.sh
  images/capi/make_images_public.sh
  images/capi/packer/gce/packer.json
  images/capi/packer/gce/ubuntu-2404.json
  images/capi/update_k8s_version.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all

fix: Renable Ec2Kubernetes cloud-init datasource
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

Make public step optional
  .github/workflows/image-ami-builds.yaml
Due: none

fix
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

fix: add branch for fixing Kubernetes version in workflow
  .github/workflows/image-ami-builds.yaml
Due: none

fix: update Kubernetes version handling in update_k8s_version.sh
  images/capi/update_k8s_version.sh
Due: none

fix boot command for rockylinux 8
  images/capi/packer/ova/rockylinux-8.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Move maas grub changes to conditional task
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Aligned conditional to providers/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix pypy installer
  images/capi/ansible/roles/python/defaults/main.yml
  images/capi/ansible/roles/python/tasks/flatcar.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

update url
  images/capi/ansible/roles/python/tasks/flatcar.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Enable RockyLinux-8 on OVA tests (#1801)
  images/capi/packer/ova/rockylinux-8.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, json-sort-check, pull-packer-validate

feat(outscale): add ubuntu-2404
  README.md
  images/capi/Makefile
  images/capi/packer/outscale/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

feat(outscale): update doc
  docs/book/src/capi/providers/3dsoutscale.md
Due: none

feat(outscale): fix Makefile targer ubuntu-2404
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

fix: 🐛 Allow users to pass custom Packer GitHub API token value
  images/capi/Dockerfile
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Add more debug file for windows node
  images/capi/ansible/windows/roles/debug/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat: 🎸 Optimize the VMDK disk size by cleaningup removed data
  images/capi/packer/files/ova/scripts/optimize-disk.sh
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

chore: 🤖 Fix json sort issues wrt packer-node configuration
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Update security contacts to current maintainers
  SECURITY_CONTACTS
Due: none

fix: use containerd_version variable to download the appropriate containerd.service
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

feat: add support to containerd 2.0
  docs/book/src/capi/providers/oci.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

feat(containerd): add support to config version 3
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/ansible/windows/roles/runtimes/templates/config.toml
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Add NFS client packages (nfs-utils, nfs-common) to allow Kubernetes workloads to mount NFS volumes
  images/capi/ansible/roles/node/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add ntnx-psirt to cluster-api-nutanix-reviewers
  OWNERS_ALIASES
Due: none

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
