Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Update CI to use Azure workload ID
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

Enable use_azure_cli_auth in azure-arm packer plugin
  images/capi/packer/azure/azure-config.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Make variable explicitly a bool
  images/capi/packer/azure/azure-config.json
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Add DEBUG
  images/capi/packer/azure/azure-config.json
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Remove client_secret and friends
  images/capi/packer/azure/azure-config.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Cleaned up and working locally
  images/capi/packer/azure/azure-config.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

More cleanup
  images/capi/packer/azure/azure-config.json
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Enable use_azure_cli_auth in Packer plugin
  images/capi/packer/azure/azure-config.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Testing -- please ignore
  images/capi/packer/azure/azure-config.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Use UTC for system clock in Windows VMware OVA
  images/capi/packer/ova/windows/windows-2019-efi/autounattend.xml
  images/capi/packer/ova/windows/windows-2019/autounattend.xml
  images/capi/packer/ova/windows/windows-2022-efi/autounattend.xml
  images/capi/packer/ova/windows/windows-2022/autounattend.xml
Due: pull-ova-all, pull-packer-validate

Try logging in within each loop
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

Update test regions and use randomizer
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/scripts/init-vhd.sh
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Update Azure e2e test regions and log in each SIG build
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/scripts/init-vhd.sh
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

adding a make target for openstack-ubuntu-2404
  images/capi/Makefile
  images/capi/packer/openstack/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Load packer oci, outscale and qemu plugins via config files
  images/capi/Makefile
  images/capi/packer/oci/config.pkr.hcl
  images/capi/packer/outscale/config.pkr.hcl
  images/capi/packer/qemu/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Load packer goss plugin via config file
  images/capi/Makefile
  images/capi/hack/ensure-goss.sh
  images/capi/packer/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Add WS2025 VHD - Adds commands for Windows Server 2025 VHD and SIG images - Adds Purchase Plan info for Azure Market Place Images
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/windows-2025-containerd.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Set the system real clock to UTC in cloudbase-init
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/roles/cloudbase-init/templates/cloudbase-init.conf
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/config/windows/cloudbase-init.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

feat: add proxmox ubuntu 24.04
  docs/book/src/capi/providers/proxmox.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/proxmox.yml
  images/capi/packer/proxmox/linux/ubuntu/http/24.04/meta-data
  images/capi/packer/proxmox/linux/ubuntu/http/24.04/user-data
  images/capi/packer/proxmox/packer.json
  images/capi/packer/proxmox/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

fix: 🐛 networkd-dispatcher not enabled for Ubuntu 24.04
  images/capi/ansible/roles/providers/tasks/vmware-ubuntu.yml
Due: pull-ova-all, pull-azure-vhds

fix: 🐛 Update preseed and cloud-init to use CD for boot files
  images/capi/Dockerfile
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/photon-5.json
  images/capi/packer/ova/ubuntu-2204-efi.json
  images/capi/packer/ova/ubuntu-2204.json
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, json-sort-check, pull-packer-validate, pull-container-image-build

Remove unneeded wait in boot command for ubuntu 22.04
  images/capi/packer/ova/ubuntu-2204.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

fix: copyright notice year
  images/capi/ansible/roles/providers/tasks/proxmox.yml
Due: pull-ova-all, pull-azure-vhds

Update docs for image-builder v0.1.31 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

ansible: enable unnattended upgrades
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

add 23h2-datacenter-core image as windows-annual-containerd
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/windows-annual-containerd.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Bump default Kubernetes to 1.30.3
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

switch to latest v1.29
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix distrbution* vals
  images/capi/packer/azure/windows-annual-containerd.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

use dirty state when releasing boskos projects
  images/capi/scripts/ci-gce.sh
Due: none

add dependabot to image builder repo
  .github/dependabot.yml
Due: none

add pip package-ecosystem to images/capi
  .github/dependabot.yml
Due: none

fix: 🐛 Fix broken Ubuntu EFI OVA builds
  images/capi/packer/ova/ubuntu-2204-efi.json
  images/capi/packer/ova/ubuntu-2404-efi.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Allow specifying Flatcar version for base AMI
  images/capi/packer/ami/flatcar.json
Due: json-sort-check, pull-packer-validate

Updated docs for v0.1.32
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Better handling of Flatcar iso boot command
  images/capi/packer/ova/flatcar.json
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/raw/raw-flatcar.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Updated docs for v0.1.33
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

ansible: Enable unnattended upgrades
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

Set correct Guest OS type to Windows Server 2022 for VMware
  images/capi/packer/ova/windows-2022-efi.json
  images/capi/packer/ova/windows-2022.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

containerd v1.7.20
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate
