Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

pull-azure-sigs:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
      - name: AZURE_BUILD_FORMAT
        value: sig
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

fix(capi-ubuntu24): pin cloud-init deb package version
  images/capi/packer/ami/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Add possibilty to set iso_file or iso_url and add Disk Format to qcow2
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/packer.json
  images/capi/packer/proxmox/ubuntu-2204.json
  images/capi/packer/proxmox/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Sort json
  images/capi/packer/proxmox/packer.json
  images/capi/packer/proxmox/ubuntu-2204.json
  images/capi/packer/proxmox/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

try flatcar
  images/capi/Makefile
  images/capi/packer/proxmox/flatcar.json
  images/capi/packer/proxmox/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

try flatcar -2
  images/capi/ansible/roles/providers/tasks/proxmox.yml
  images/capi/packer/proxmox/flatcar.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

fix comment
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

sort jsonm
  images/capi/packer/proxmox/flatcar.json
Due: json-sort-check, pull-packer-validate

fix: pin cloud-init for ubuntu 22.04 image
  images/capi/packer/ami/ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

Update docs for v0.1.37
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

fix(proxmox): Get rockylinux-9 working on proxmox
  images/capi/ansible/roles/providers/tasks/proxmox.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/proxmox/linux/rockylinux/http/9/ks.cfg
  images/capi/packer/proxmox/packer.json
  images/capi/packer/proxmox/rockylinux-9.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix(proxmox): switch kickstart back to text install
  images/capi/packer/proxmox/linux/rockylinux/http/9/ks.cfg
Due: pull-packer-validate

fix(proxmox): switch from x86-64-v2 to Westmere to support older versions of Proxmox
  images/capi/packer/proxmox/rockylinux-9.json
Due: json-sort-check, pull-packer-validate

Ensure builder user is cleaned up for Proxmox provider
  images/capi/packer/proxmox/packer.json
Due: json-sort-check, pull-packer-validate

Set random ssh password for builder
  images/capi/packer/nutanix/packer.json
  images/capi/packer/ova/packer-common.json
  images/capi/packer/proxmox/packer.json
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Update docs for v0.1.38
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Install gcloud from rpm on gce rhel8
  images/capi/ansible/roles/providers/tasks/googlecompute.yml
Due: pull-ova-all, pull-azure-vhds

Remove windows-2019 and -2025 targets from CI
  images/capi/azure_targets.sh
Due: none

docs(gcp): add configuration examples
  docs/book/src/capi/providers/gcp.md
Due: none

outscale: fix goss error: <.Vars.OS_VERSION>: map has no entry for key "OS_VERSION"
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate

Update Azure Linux 3 base image source
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/azure_targets.sh
  images/capi/packer/azure/azurelinux-3-gen2.json
  images/capi/packer/azure/azurelinux-3.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

add proxmox example docker commandline
  docs/book/src/capi/container-image.md
Due: none

add container based proxmox example docker commandline
  docs/book/src/capi/container-image.md
Due: none

Fix gMSA setup on Windows and add (back) WS2025 CI
  docs/book/src/capi/windows/windows.md
  images/capi/ansible/windows/roles/gmsa/files/install-gmsa-keyvault-plugin.ps1
  images/capi/ansible/windows/roles/gmsa/tasks/gmsa_keyvault.yml
  images/capi/azure_targets.sh
  images/capi/packer/config/goss-args.json
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update docs for v0.1.39
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Fix user-data filename in Nutanix gitignore
  images/capi/packer/nutanix/.gitignore
Due: pull-packer-validate

Pin Azure windows-2019 to known working version
  images/capi/packer/azure/windows-2019-containerd.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

outscale: user can make OMI publicly accessible or not
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate

Bump goss to v0.4.9
  docs/book/src/capi/goss/goss.md
  images/capi/packer/config/goss-args.json
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Bump pywinrm to v0.5.0
  images/capi/hack/ensure-ansible-windows.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Bump ansible-core to v2.15.2
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Skip Get-WindowsFeature goss spec for windows-2025
  images/capi/azure_targets.sh
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
