Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

Bump k8s version to v1.20.9
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

add 1.22 config
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add option to enable .local lookups via DNS
  docs/book/src/capi/providers/vsphere.md
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/tasks/photon.yml
Due: pull-azure-vhds

provide a way for users to bring their own containerd config
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/windows/roles/runtimes/defaults/main.yml
  images/capi/ansible/windows/roles/runtimes/tasks/containerd.yml
Due: pull-azure-vhds

capi: do not use containerd version only for Flatcar
  images/capi/packer/ami/flatcar.json
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/raw/raw-flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

capi: provide user-defined containerd version and sha256 for Flatcar
  images/capi/hack/image-build-flatcar.sh
Due: pull-azure-vhds

Bump Containerd to 1.5.5
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Allow specifying kubernetes version
  images/capi/Makefile
  images/capi/packer/config/kubernetes-versions/version-1-18.json
  images/capi/packer/config/kubernetes-versions/version-1-19.json
  images/capi/packer/config/kubernetes-versions/version-1-20.json
  images/capi/packer/config/kubernetes-versions/version-1-21.json
  images/capi/packer/config/kubernetes-versions/version-1-22.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Support building Azure images using custom networks
  docs/book/src/capi/providers/azure.md
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Adding Windows Server 2022 support for vSphere
  images/capi/Makefile
  images/capi/packer/ova/windows-2022.json
  images/capi/packer/ova/windows/windows-2022/autounattend.xml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Remove erroneous line added in error to Makefile
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Added ability to set timezone in auto unattend
  images/capi/Makefile
  images/capi/hack/windows-ova-unattend.py
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/ova/windows/windows-2004/autounattend.xml
  images/capi/packer/ova/windows/windows-2019/autounattend.xml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Support building Azure SIG images using custom networks
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

fix Windows sigs
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-packer-validate

move variable to docker-ee for naming convetions
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/windows/roles/runtimes/tasks/main.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/config/windows/common.json
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-service.yaml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix centos gen2 build
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Add support for SIG flatcar image
  images/capi/Makefile
  images/capi/ansible/python.yml
  images/capi/ansible/roles/python/defaults/main.yml
  images/capi/ansible/roles/python/tasks/flatcar.yml
  images/capi/ansible/roles/python/tasks/main.yml
  images/capi/packer/azure/flatcar.json
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

install the latest azure cli and ensure setup tools is up to date
  images/capi/hack/ensure-azure-cli.sh
Due: pull-azure-vhds

block traffic to 168.63.129.16 port 80 for cve-2021-27075
  images/capi/ansible/roles/providers/tasks/azure.yml
Due: pull-azure-vhds

config: update k8s release 1.20 to use 1.20.10
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Create ssh program data if not exists on image
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-azure-vhds

add win firewall rule to block 168.63.129.16:80 for cve-2021-27075
  images/capi/ansible/windows/node_windows.yml
  images/capi/ansible/windows/roles/providers/tasks/azure.yml
  images/capi/ansible/windows/roles/providers/tasks/main.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Bump Ubuntu 18.04 ISO to currently available ISO
  images/capi/packer/ova/ubuntu-1804.json
  images/capi/packer/qemu/qemu-ubuntu-1804.json
  images/capi/packer/raw/raw-ubuntu-1804.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Checking if ssh directory exists before creating it
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-azure-vhds

capi: fully install containerd in Flatcar instead of using inbuilt
  images/capi/README-flatcar.md
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/ansible/roles/containerd/templates/etc/systemd/system/containerd-flatcar.conf
  images/capi/ansible/roles/containerd/templates/etc/systemd/system/containerd-flatcar.service
  images/capi/ansible/roles/kubernetes/tasks/url.yml
  images/capi/ansible/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/roles/load_additional_components/tasks/url.yml
  images/capi/hack/image-build-flatcar.sh
  images/capi/packer/ami/flatcar.json
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/raw/raw-flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

capi: remove machine ID for systemd first boot semantics on Flatcar
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-azure-vhds

capi: disable OS update for Flatcar Container Linux
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
Due: pull-azure-vhds

capi: create overlay at /usr/libexec on Flatcar
  images/capi/ansible/roles/setup/files/etc/systemd/system/usr-libexec.mount
  images/capi/ansible/roles/setup/tasks/flatcar.yml
Due: pull-azure-vhds

capi: do not set the hostname for Flatcar
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-azure-vhds

capi: azure: no longer override containerd version on Flatcar
  images/capi/packer/azure/flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

capi: mask docker service on Flatcar
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
Due: pull-azure-vhds

capi: azure: execute 'waagent -deprovision' for Flatcar
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

capi: ensure first_boot marker is created for Flatcar
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/files/bootstrap-flatcar.sh
Due: pull-azure-vhds, pull-packer-validate

capi: ensure 127.0.0.1 is first in /etc/hosts
  images/capi/ansible/roles/sysprep/files/etc/hosts
Due: pull-azure-vhds

capi: remove any default Ignition files used by Packer
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-azure-vhds

capi: set cgroup v1 in Flatcar to match containerd/kubelet config
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
Due: pull-azure-vhds

capi: use commit reference to download Flatcar installer Ignition file
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/raw/raw-flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

capi: update Flatcar to 2905.2.3
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

capi: Makefile: append packer download location to PATH
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

capi: support FLATCAR_VERSION=current to use the latest channel release of Flatcar Container Linux
  images/capi/Makefile
  images/capi/README-flatcar.md
  images/capi/hack/image-grok-latest-flatcar-version.sh
Due: pull-azure-vhds, pull-packer-validate
