Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcve-e2e-config: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Feat#1943 Add CentOS Stream 10 support for QEMU builds
  README.md
  images/capi/Makefile
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/qemu/linux/centos/http/10/ks.cfg.tmpl
  images/capi/packer/qemu/qemu-centos-10.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

⬆️ Bump containerd to v2.3.1 and runc to v1.4.2
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

improve systemReserved already set checks
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Retire Azure VHD (unmanaged disk) builder
  docs/book/src/capi/providers/azure.md
  docs/book/src/capi/windows/windows.md
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/azure-vhd.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-vhd.sh
  images/capi/scripts/ci-azure-e2e.sh
  images/capi/scripts/ci-packer-validate.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Validate target names in top-level Makefile to prevent command injection
  Makefile
Due: none

Fix apt-mark hold race with apt-daily/unattended-upgrades
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Allow bring-your-own Packer via PACKER_BIN/PACKER_VERSION env vars
  images/capi/Makefile
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Plumb PACKER_VERSION/IB_ALLOW_ANY_PACKER through Dockerfile
  images/capi/Dockerfile
Due: pull-container-image-build

Document Packer pin and Bring Your Own Packer
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/packer.md
Due: none

MAAS ARM64 Support
  images/capi/Makefile
  images/capi/ansible/roles/firstboot/meta/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/maas/.gitignore
  images/capi/packer/maas/README.md
  images/capi/packer/maas/linux/ubuntu/http/22.04.arm64/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04.arm64/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.arm64/meta-data
  images/capi/packer/maas/linux/ubuntu/http/24.04.arm64/user-data.tmpl
  images/capi/packer/maas/maas-ubuntu-2204-arm64.json
  images/capi/packer/maas/maas-ubuntu-2404-arm64.json
  images/capi/packer/maas/packer-arm64.json.tmpl
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Feat#1943 Update CentOS Stream 10 and 9 iso + checksum
  images/capi/packer/qemu/qemu-centos-10.json
  images/capi/packer/qemu/qemu-centos-9.json
Due: json-sort-check, pull-packer-validate

fix wrong kubelet config extension & use safer procedure to save KUBELET_CONFIG & move the drop-in configuration in main.yml
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
  images/capi/ansible/roles/kubernetes/templates/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

ansible: add disable-modules role
  images/capi/ansible/roles/disable-modules/tasks/main.yml
  images/capi/ansible/roles/disable-modules/vars/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Switch Windows kubernetes_base_url to dl.k8s.io
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Update Scaleway OWNERS
  OWNERS_ALIASES
Due: none

fix: version range for KUBELET_CONFIG_DROPIN_DIR_ALPHA variable & remove debug leftovers
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Resolve latest Flatcar version from release server version.txt
  images/capi/hack/image-grok-latest-flatcar-version.sh
Due: none

fix(facts): ansible_architecture
  images/capi/ansible/roles/firstboot/meta/main.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat: Add support for legacy_imds_endpoints_disabled
  docs/book/src/capi/providers/oci.md
  images/capi/packer/oci/config.pkr.hcl
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/oci/packer.json
Due: json-sort-check, pull-packer-validate

Add initial support for Oxide.
  README.md
  docs/book/src/SUMMARY.md
  docs/book/src/capi/providers/oxide.md
  images/capi/Makefile
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/oxide/config.pkr.hcl
  images/capi/packer/oxide/packer.json
  images/capi/packer/oxide/ubuntu-2404.json
  images/capi/scripts/ci-packer-validate.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Remove stale Microsoft prod repo on Azure Ubuntu builds
  images/capi/ansible/roles/providers/tasks/azure.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

move kubelet --system-reserved deprecated flag to kubelet-config file (#1947)
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

PowerVS: add CentOS Stream 10 DHCP image configuration
  images/capi/packer/powervs/centos-10-dhcp.json
Due: json-sort-check, pull-packer-validate

✨ Upgrade Kubernetes image to 1.36
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

Exclude Ubuntu 26.04 OVA build from CI
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Add Azure Linux 4 Gen2 Azure SIG target
  README.md
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/azurelinux-4-gen2.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Disable firewalld on Azure Linux to allow Kubernetes API server traffic
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix Ansible roles for Azure Linux 4 compatibility
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix ansible-lint no-changed-when on libdnf5 raw task
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Remove dead Azure Linux 2 (CBL-Mariner) references
  docs/book/src/capi/containerd/customizing-containerd.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Move Azure WS2022 builds to new windowsserver2022 offer
  images/capi/packer/azure/windows-2022-containerd-cvm.json
  images/capi/packer/azure/windows-2022-containerd.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Mask apt-daily and unattended-upgrades early in node role
  images/capi/ansible/roles/node/tasks/debian.yml
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add qemu-ubuntu-2404-cloudimg build
  images/capi/Makefile
  images/capi/packer/qemu/linux/ubuntu/cloud-init/24.04/meta-data
  images/capi/packer/qemu/linux/ubuntu/cloud-init/24.04/user-data.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-cloudimg.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

feature: create Flatcar OS Snapshot (OS Image) on Vultr cloud
  README.md
  docs/book/src/capi/providers/vultr.md
  images/capi/Makefile
  images/capi/packer/vultr/flatcar-stable.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

fix conflict
  docs/book/src/capi/providers/3dsoutscale.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/outscale.yml
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/outscale/flatcar.json
  images/capi/packer/outscale/packer-flatcar.json
  images/capi/packer/outscale/scripts/install-flatcar.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

feat(outscale): add NVIDIA Flatcar support via sysext for Outscale
  images/capi/ansible/roles/gpu/README.md
  images/capi/ansible/roles/gpu/defaults/main.yml
  images/capi/ansible/roles/gpu/tasks/flatcar-nvidia.yml
  images/capi/ansible/roles/gpu/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

docs: Update provider matrix with Outscale Flatcar support
  README.md
Due: none

chore: json-sort
  images/capi/packer/outscale/packer-flatcar.json
Due: json-sort-check, pull-packer-validate

fix: set safe defaults for FLATCAR_CHANNEL and FLATCAR_VERSION to match with docs
  images/capi/packer/outscale/scripts/install-flatcar.sh
Due: pull-packer-validate

Vultr: use `tags` instead of deprecated `tag` field
  images/capi/packer/vultr/packer.json
Due: json-sort-check, pull-packer-validate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
