Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

fix: disable kernel update at curtin script due packages are hold by ansible
  images/capi/ansible/roles/providers/files/maas/curtin/setup-bootloader
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Update hcloud-config.json, remove containerd_wasm_shims_runtimes
  images/capi/packer/hcloud/hcloud-config.json
Due: json-sort-check, pull-packer-validate

Add support for Canonical MaaS Provider
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/maas.md
  docs/book/src/glossary.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/files/maas/curtin/NOTICE.md
  images/capi/ansible/roles/providers/files/maas/curtin/curtin-hooks
  images/capi/ansible/roles/providers/files/maas/curtin/install-custom-packages
  images/capi/ansible/roles/providers/files/maas/curtin/setup-bootloader
  images/capi/ansible/roles/providers/tasks/maas-ubuntu.yml
  images/capi/ansible/roles/providers/tasks/maas.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/packer/maas/.gitignore
  images/capi/packer/maas/OWNERS
  images/capi/packer/maas/README.md
  images/capi/packer/maas/cloud-init/meta-data
  images/capi/packer/maas/cloud-init/user-data.tmpl
  images/capi/packer/maas/config.pkr.hcl
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi.qemu/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi.qemu/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/22.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/23.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/base/preseed-efi.cfg.tmpl
  images/capi/packer/maas/linux/ubuntu/http/base/preseed.cfg.tmpl
  images/capi/packer/maas/maas-ubuntu-2204-efi.json
  images/capi/packer/maas/maas-ubuntu-2404-efi.json
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/maas/scripts/generate-maas-image.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Remove Duplicate (and broken) oem_id in Proxmox
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

Move boot iso configuration into boot_iso object
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

Update ubuntu download URLs and checksums
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/ubuntu-2404-efi.json
  images/capi/packer/proxmox/ubuntu-2404.json
  images/capi/packer/qemu/qemu-ubuntu-2404-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2404.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

including owners files
  OWNERS_ALIASES
  images/capi/packer/maas/OWNERS
Due: pull-packer-validate

WIP: Added workflow to test building ami and making the images public
  .github/workflows/image-ami-builds.yaml
Due: none

patch: adding rockylinux support to openstack and updating rockylinux goss package args from cloud-utils to cloud-utils-growpart.
  images/capi/Makefile
  images/capi/ansible/roles/security/tasks/falco.yml
  images/capi/ansible/roles/security/tasks/trivy.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/rockylinux-8.json
  images/capi/packer/openstack/rockylinux-9.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Supports static IP assignment in VMware Windows OVA
  images/capi/hack/windows-ova-unattend.py
  images/capi/packer/ova/packer-common.json.tmpl
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Removing our users from the OWNERS and OWNERS_ALIASES files 🔧
  OWNERS_ALIASES
  images/capi/packer/maas/OWNERS
Due: pull-packer-validate

Updated packer files for image to enable publish to scratchpad cluster
  .github/workflows/image-ami-builds.yaml
  images/capi/packer/ami/amazon-2.json
  images/capi/packer/ami/amazon-2023.json
  images/capi/packer/ami/centos-7.json
  images/capi/packer/ami/ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

Reverted my config changes since we only need to build ubuntu-2404 images for now
  images/capi/packer/ami/amazon-2.json
  images/capi/packer/ami/amazon-2023.json
  images/capi/packer/ami/ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

Updated ubuntu-2404.json to enable it to build ubuntu-2404 images
  images/capi/packer/ami/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Updated image-builder workflow based on Matt's comment
  .github/workflows/image-ami-builds.yaml
Due: none

Reverted slight change to amazon-2.json file
  images/capi/packer/ami/amazon-2.json
Due: json-sort-check, pull-packer-validate

Updated the default value for the k8s version in the workflow.
  .github/workflows/image-ami-builds.yaml
Due: none

update broken iso url for ubuntu 24.04
  images/capi/packer/qemu/qemu-ubuntu-2404-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Updated workflow to test the workflow run
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the packer validate command.
  .github/workflows/image-ami-builds.yaml
Due: none

Updating workflow ti install amazon packer plugin
  .github/workflows/image-ami-builds.yaml
Due: none

Updated command to install all required packer plugins
  .github/workflows/image-ami-builds.yaml
Due: none

Added a step to install packer plugins
  .github/workflows/image-ami-builds.yaml
Due: none

Resolving issues with the install packer plugin step
  .github/workflows/image-ami-builds.yaml
Due: none

Resolving packer config file location
  .github/workflows/image-ami-builds.yaml
Due: none

Removed the install packge step and moved the command to the validate step
  .github/workflows/image-ami-builds.yaml
Due: none

Running tests
  .github/workflows/image-ami-builds.yaml
Due: none

Updating workflow to fix aws authentication
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the role for aws authentication for the workflow
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the github action sha
  .github/workflows/image-ami-builds.yaml
Due: none

Corrected github action sha spelling
  .github/workflows/image-ami-builds.yaml
Due: none

Added permissions to the job
  .github/workflows/image-ami-builds.yaml
Due: none

Testing removing some env variables
  .github/workflows/image-ami-builds.yaml
Due: none

Made adjustments to make built image public
  .github/workflows/image-ami-builds.yaml
Due: none

Added a manifest output file for the ubuntu ami
  images/capi/packer/ami/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Made some adjustments to the script that will make the AMI public
  .github/workflows/image-ami-builds.yaml
Due: none

Made some adjustments to the script to remove the special characters from the AMI ID
  .github/workflows/image-ami-builds.yaml
Due: none

fix: use containerd_version variable to download the appropriate containerd.service
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
