Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

pull-azure-sigs:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
      - name: AZURE_BUILD_FORMAT
        value: sig
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

update the way to install cloud-init
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/99_metadata.cfg
  images/capi/ansible/roles/providers/tasks/outscale.yml
Due: pull-ova-all, pull-azure-vhds

feat(crio): support other CRI flavours
  images/capi/Makefile
  images/capi/ansible/node.yml
  images/capi/ansible/roles/crio/defaults/main.yml
  images/capi/ansible/roles/crio/tasks/debian.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/templates/etc/crictl.yaml
  images/capi/ansible/roles/crio/templates/systemd/system/crio.service.d/http-proxy.conf
  images/capi/ansible/roles/crio/templates/systemd/system/crio.service.d/max-tasks.conf
  images/capi/ansible/roles/crio/templates/systemd/system/crio.service.d/memory-pressure.conf
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
  images/capi/packer/config/crio.json
  images/capi/packer/qemu/qemu-ubuntu-2204-crio.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

feat(crio): fixed crio installation and missing crictl
  docs/book/src/SUMMARY.md
  docs/book/src/capi/cri/cri.md
  docs/book/src/capi/cri/customizing-containerd.md
  images/capi/ansible/node.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/templates/etc/systemd/system/crio.service.d/http-proxy.conf
  images/capi/ansible/roles/crio/templates/etc/systemd/system/crio.service.d/max-tasks.conf
  images/capi/ansible/roles/crio/templates/etc/systemd/system/crio.service.d/memory-pressure.conf
  images/capi/ansible/roles/kubernetes/tasks/kubeadmpull.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
  images/capi/ansible/roles/kubernetes/templates/etc/kubeadm.yml
  images/capi/ansible/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/roles/load_additional_components/tasks/url.yml
  images/capi/packer/qemu/qemu-ubuntu-2004.json
  images/capi/packer/qemu/qemu-ubuntu-2204-crio.json
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

feat(crio): implement goss spec for crio and edit docs
  docs/book/src/capi/capi.md
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

feat(crio-gvisor): This commit partially implements gvisor support
  docs/book/src/capi/cri/cri.md
  images/capi/ansible/roles/crio/defaults/main.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/templates/etc/crio/crio.conf
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/crio.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix(crio): remove default CNI for crio
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

feat(banner): add banner
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/templates/etc/network/if-up.d/mod-etc-issue
Due: pull-ova-all, pull-azure-vhds

fix(crio): Small fixes for gvisor compat, docs tweaks and CRI-O CNI
  docs/book/src/capi/cri/cri.md
  docs/book/src/capi/cri/customizing-containerd.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/templates/etc/crio/crio.conf
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/crio.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

feat(crio): add support for centos (redhat)
  images/capi/Makefile
  images/capi/ansible/roles/crio/tasks/debian.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/tasks/redhat.yml
  images/capi/packer/qemu/qemu-centos-9-crio.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

feat(crio): Fix documentation and formatting
  docs/book/src/capi/cri/cri.md
  images/capi/ansible/roles/crio/defaults/main.yml
  images/capi/ansible/roles/crio/tasks/debian.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/tasks/redhat.yml
  images/capi/ansible/roles/crio/templates/etc/crio/crio.conf
  images/capi/packer/qemu/qemu-ubuntu-2004.json
  images/capi/packer/qemu/qemu-ubuntu-2204-crio.json
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

feat(crio): json sort
  images/capi/packer/config/common.json
  images/capi/packer/config/crio.json
  images/capi/packer/qemu/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix(lint): fix linting errors
  images/capi/ansible/roles/gpu/tasks/main.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

feat(crio): linted ansible files
  images/capi/.ansible-lint-ignore
  images/capi/ansible/node.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/crio/defaults/main.yml
  images/capi/ansible/roles/crio/tasks/debian.yml
  images/capi/ansible/roles/crio/tasks/main.yml
  images/capi/ansible/roles/crio/tasks/redhat.yml
  images/capi/ansible/roles/gpu/tasks/main.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

photon: update photon-repos to download recent gpg keys
  images/capi/ansible/roles/setup/tasks/photon.yml
Due: pull-ova-all, pull-azure-vhds

Update Ubuntu 22.04 ISO URLs to use stable URLs
  images/capi/packer/ova/ubuntu-2204-efi.json
  images/capi/packer/ova/ubuntu-2204.json
  images/capi/packer/proxmox/ubuntu-2204.json
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

photon: Ensure grub2 and gawk are installed
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

update 1.27/1.28/1.29 nightly images
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
  images/capi/packer/gce/ci/nightly/overwrite-1-28.json
  images/capi/packer/gce/ci/nightly/overwrite-1-29.json
Due: json-sort-check, pull-packer-validate

drop config for 1.26 as it is deprecated
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
Due: json-sort-check, pull-packer-validate

add config for 1.30
  images/capi/packer/gce/ci/nightly/overwrite-1-30.json
Due: json-sort-check, pull-packer-validate

set python version to 3.9 minimum
  images/capi/ansible/roles/python/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

fix gce nightly
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
  images/capi/packer/gce/ci/nightly/overwrite-1-28.json
  images/capi/packer/gce/ci/nightly/overwrite-1-29.json
Due: json-sort-check, pull-packer-validate

add ubuntu 22.04 for digitalocean
  images/capi/Makefile
  images/capi/packer/digitalocean/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Bump default Kubernetes to 1.28.9
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Azure: Remove pipeline refs to CONTAINER_IMAGE
  images/capi/packer/azure/.pipelines/build-vhd.yaml
  images/capi/packer/azure/.pipelines/cleanup.yaml
  images/capi/packer/azure/.pipelines/create-disk-version.yaml
  images/capi/packer/azure/.pipelines/create-sku.yaml
  images/capi/packer/azure/.pipelines/smoke-test.yaml
  images/capi/packer/azure/.pipelines/stages.yaml
  images/capi/packer/azure/.pipelines/test-vhd.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

add Ubuntu 24.04 LTS support for Nutanix
  docs/book/src/capi/providers/nutanix.md
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/nutanix/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

patch: adding optional security tools
  images/capi/ansible/roles/security/README.md
  images/capi/ansible/roles/security/defaults/main.yml
  images/capi/ansible/roles/security/tasks/falco.yml
  images/capi/ansible/roles/security/tasks/main.yml
  images/capi/ansible/roles/security/tasks/trivy.yml
Due: pull-ova-all, pull-azure-vhds

add Ubuntu 24.04 LTS support for DigitalOcean
  docs/book/src/capi/providers/digitalocean.md
  images/capi/Makefile
  images/capi/packer/digitalocean/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Add Ubuntu 24.04 LTS for AWS
  docs/book/src/capi/providers/aws.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/packer/ami/ubuntu-2404.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Add instruction to build DHCP configured images
  docs/book/src/capi/providers/ibmcloud.md
  images/capi/hack/ensure-powervs.sh
  images/capi/packer/powervs/packer.json
Due: json-sort-check, pull-packer-validate

Azure: allow Mariner publishing in pipeline
  images/capi/packer/azure/scripts/new-sku.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Don't install Azure CLI by default
  docs/book/src/capi/providers/azure.md
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/providers/tasks/debian.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/mariner.yml
  images/capi/ansible/roles/providers/tasks/redhat.yml
  images/capi/ansible/windows/roles/providers/tasks/azure.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add support for Ubuntu 24.04 on Azure
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/ubuntu-2404-cvm.json
  images/capi/packer/azure/ubuntu-2404-gen2.json
  images/capi/packer/azure/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

openstack: add goss option
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

allow override of ubuntu repository urls with ubuntu_repo,ubuntu_security_repo variables
  images/capi/ansible/roles/setup/templates/etc/apt/sources.list.j2
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update rocky 9 URL
  images/capi/packer/ova/rockylinux-9.json
  images/capi/packer/qemu/qemu-rockylinux-9.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Test cloud-init version for Guestinfo
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
Due: pull-ova-all, pull-azure-vhds

Update Rocky Linux 9 ISO URLs (#1464)
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
  images/capi/packer/ova/rockylinux-9.json
  images/capi/packer/qemu/qemu-rockylinux-9.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

fix: 🐛 Make sure nouveau kernel module is never loaded
  images/capi/ansible/roles/gpu/handlers/main.yml
  images/capi/ansible/roles/gpu/tasks/main.yml
  images/capi/ansible/roles/gpu/templates/etc/modprobe.d/blacklist-nouveau.conf
  images/capi/ansible/roles/gpu/vars/debian.yml
  images/capi/ansible/roles/gpu/vars/photon.yml
Due: pull-ova-all, pull-azure-vhds

Change Mariner to Azure Linux
  docs/book/src/capi/goss/goss.md
  images/capi/.ansible-lint-ignore
  images/capi/Makefile
  images/capi/ansible/roles/containerd/templates/etc/systemd/system/containerd.service.d/limit-nofile.conf
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/azurelinux.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/azure/scripts/new-sku.sh
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-goss-populate, pull-container-image-build

Add Azure Linux 3 for Azure
  images/capi/Makefile
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/azure_targets.sh
  images/capi/packer/azure/azurelinux-3-gen2.json
  images/capi/packer/azure/azurelinux-3.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
