Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

Remove inline provisioner for GCE Ubuntu
  images/capi/packer/gce/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

fix ansible condition
  images/capi/ansible/roles/providers/tasks/hcloud.yml
Due: pull-ova-all, pull-azure-vhds

changes suggested after review
  images/capi/Makefile
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/hcloud/ubuntu-1804.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Remove quotes from tags
  images/capi/packer/azure/.pipelines/test-vhd.yaml
Due: pull-azure-vhds, pull-packer-validate

Add drew-viles to reviewers
  OWNERS_ALIASES
Due: none

Remove kops-maintainers group from OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

CAPI/OVA: set resource_pool for jobs and improve cleanup
  images/capi/packer/ova/packer-node.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Install Kubernetes artifacts from pkgs.k8s.io
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
  images/capi/ansible/roles/kubernetes/tasks/mariner.yml
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
  images/capi/packer/config/cni.json
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add dracut cmd to generate initramfs with all drivers for rhel raw
  images/capi/ansible/roles/providers/tasks/raw.yml
  images/capi/packer/raw/raw-rhel-8.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Add script to ensure minimum Python version
  images/capi/Makefile
  images/capi/hack/ensure-python.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Update docs for v0.1.19 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

GCE: Fix k8s deb/rpm image versions revision part based on OBS format
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Replace 'go get' with 'go install' while installing boskosctl
  images/capi/hack/ensure-boskosctl.sh
Due: pull-azure-vhds

ADD Support for Proxmox build
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/proxmox.md
  images/capi/.gitignore
  images/capi/Makefile
  images/capi/packer/proxmox/config.pkr.hcl
  images/capi/packer/proxmox/linux/ubuntu/http/22.04/meta-data
  images/capi/packer/proxmox/linux/ubuntu/http/22.04/user-data
  images/capi/packer/proxmox/packer.json
  images/capi/packer/proxmox/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Update k8s-config logic in Azure pipeline
  images/capi/packer/azure/.pipelines/k8s-config.yaml
Due: pull-azure-vhds, pull-packer-validate

drop 1.24 build
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

update 1.25/1.26/1.27 to latest release and add 1.28 release
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
  images/capi/packer/gce/ci/nightly/overwrite-1-28.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add ansible-lint to Makefile target
  images/capi/Makefile
  images/capi/hack/ensure-ansible-lint.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Ignore VS code file droppings
  .gitignore
Due: none

capi: move CI to new resource pool and folder in VMC
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds

Create README.md
  images/capi/packer/proxmox/README.md
Due: pull-azure-vhds, pull-packer-validate

Bump ansible to 2.15.4
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds

Add scripts and ignore file for ansible-lint
  images/capi/.ansible-lint-ignore
  images/capi/Makefile
  images/capi/scripts/ci-lint.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Ensure Windows and common deps are installed before ansible-lint
  images/capi/Makefile
  images/capi/ansible/python.yml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Disable colour output with ansible-lint
  images/capi/scripts/ci-lint.sh
Due: pull-azure-vhds

Bump containerd to 1.7.6
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix some incorrect auto-fixes
  images/capi/ansible/roles/containerd/tasks/photon.yml
  images/capi/ansible/roles/kubernetes/tasks/ecrpull.yml
  images/capi/ansible/roles/kubernetes/tasks/kubeadmpull.yml
  images/capi/ansible/roles/kubernetes/tasks/photon.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
  images/capi/ansible/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/roles/load_additional_components/tasks/url.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/node/tasks/photon.yml
  images/capi/ansible/roles/nvidia/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/ansible/roles/providers/tasks/cloudstack.yml
  images/capi/ansible/roles/providers/tasks/googlecompute.yml
  images/capi/ansible/roles/providers/tasks/nutanix-redhat.yml
  images/capi/ansible/roles/providers/tasks/nutanix-ubuntu.yml
  images/capi/ansible/roles/providers/tasks/raw.yml
  images/capi/ansible/roles/providers/tasks/redhat.yml
  images/capi/ansible/roles/providers/tasks/vmware-photon.yml
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/tasks/photon.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/setup/tasks/rpm_repos.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/rpm_repos.yml
Due: pull-ova-all, pull-azure-vhds

Fix over-eager shell replacements
  images/capi/ansible/roles/containerd/tasks/photon.yml
  images/capi/ansible/roles/kubernetes/tasks/ecrpull.yml
  images/capi/ansible/roles/kubernetes/tasks/kubeadmpull.yml
  images/capi/ansible/roles/kubernetes/tasks/photon.yml
  images/capi/ansible/roles/nvidia/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/ansible/roles/providers/tasks/redhat.yml
  images/capi/ansible/roles/providers/tasks/vmware-photon.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/tasks/photon.yml
  images/capi/ansible/roles/setup/tasks/rpm_repos.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/rpm_repos.yml
Due: pull-ova-all, pull-azure-vhds

Update lint ignore list
  images/capi/.ansible-lint-ignore
Due: pull-azure-vhds

add rocky9-ova support
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

add rockylinux-9
  images/capi/packer/ova/linux/rockylinux/http/9/ks.cfg
  images/capi/packer/ova/rockylinux-9.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Update main.yml
  images/capi/ansible/roles/node/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

Update containerd_wasm_shims to v0.9.1
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/packer/azure/azure-config.json
  images/capi/packer/config/wasm-shims.json
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Disable tdnf cache timer
  images/capi/ansible/roles/node/tasks/photon.yml
Due: pull-ova-all, pull-azure-vhds

Expose ssh_proxy variables for vSphere builder
  images/capi/packer/ova/packer-common.json
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Fix json sorting
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Fix path issues in post-processor of vsphere
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Azure: added image cleanup pipeline
  images/capi/packer/azure/.pipelines/cleanup.yaml
  images/capi/packer/azure/scripts/delete-unused-storage.sh
Due: pull-azure-vhds, pull-packer-validate
