Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Update docs for image-builder v0.1.47
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Remove trailing newline from Windows kubelet service definition
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat: flatcar disable usb
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/tasks/flatcar.yml
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

introduce feature DiskControllerTypes to allow nvme disks
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

fixed reference
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Remove --pod-infra-container-image default argument
  images/capi/ansible/roles/kubernetes/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix image build in Azure with existing vnet
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

TEST: please ignore
  README.md
Due: none

Fix: rename containerd_runc_version var to runc_version
  images/capi/ansible/roles/containerd/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

chore: bump containerd and runc
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

chore: bump containerd to v1.7.29
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

Skip OVA rockylinux-8 and photon-5 builds in CI
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Require promotion approval in Azure image pipeline
  images/capi/packer/azure/.pipelines/promote-sig.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

fix: ignore var-naming for containerd role
  images/capi/.ansible-lint-ignore
Due: pull-lint

Expose network tags for GCE builder
  images/capi/packer/gce/packer.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

feat(outscale): update base image
  images/capi/packer/outscale/ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

nutanix: pass ansible scp extra args to provisioner
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json.tmpl
Due: json-sort-check, pull-packer-validate

feat(outscale): update ubuntu-2404 base image
  images/capi/packer/outscale/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

fix(flatcar): use newer butane instead of ct
  images/capi/Makefile
  images/capi/hack/ensure-butane.sh
  images/capi/packer/files/flatcar/clc/bootstrap-cloud.yaml
  images/capi/packer/files/flatcar/clc/bootstrap-pass-auth.yaml
  images/capi/packer/files/flatcar/ignition/bootstrap-cloud.json
  images/capi/packer/files/flatcar/ignition/bootstrap-pass-auth.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

fix(flatcar): set butane version to v0.25.1
  images/capi/hack/ensure-butane.sh
Due: none

Pin ansible community general before 12.0.0
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

test: 💍 Re-enable CI for photon-5 OVA builds
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

feat(caas): update ansible devsec hardening (#41)
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

Fix: runc_version overwrite and bump containerd and runc (#1880)
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

remove AWS_DEFAULT_REGION from example env file
  docs/book/src/capi/container-image.md
Due: none

Upgrade ansible to v2.20.0 to support Python 3.14
  images/capi/hack/utils.sh
Due: none

Update docs for image-builder v0.1.48
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Fix MAAS Deploy "in memory"
  images/capi/packer/maas/packer.json.tmpl
Due: pull-packer-validate

Fix chrony configuration issues
  images/capi/ansible/roles/providers/tasks/openstack.yml
  images/capi/ansible/roles/providers/tasks/proxmox.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/ansible/roles/providers/tasks/vmware-photon.yml
  images/capi/ansible/roles/providers/tasks/vmware-ubuntu.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix Ansible linter errors in Outscale provider tasks
  images/capi/ansible/roles/providers/tasks/outscale.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: environment path for tc
  images/capi/ansible/roles/node/files/usr/local/bin/etcd-network-tuning.sh
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

rockylinux 9.6 iso
  images/capi/packer/ova/rockylinux-9.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

fix: update rockylinux 9 repo urls
  images/capi/packer/ova/linux/rockylinux/http/9/ks.cfg.tmpl
Due: pull-ova-all, pull-packer-validate

cleanup: since 615ec65694 crictl_source_type is no longer used, so remove it
  images/capi/packer/ami/flatcar-arm64.json
  images/capi/packer/ami/flatcar.json
  images/capi/packer/azure/flatcar.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/kubernetes.json
  images/capi/packer/hcloud/flatcar-arm64.json
  images/capi/packer/hcloud/flatcar.json
  images/capi/packer/nutanix/flatcar.json
  images/capi/packer/openstack/flatcar.json
  images/capi/packer/ova/flatcar.json
  images/capi/packer/proxmox/flatcar.json
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/raw/raw-flatcar.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

Remove bundled MaaS curtin hook scripts
  docs/book/src/capi/providers/maas.md
  images/capi/ansible/roles/providers/files/maas/curtin/NOTICE.md
  images/capi/ansible/roles/providers/files/maas/curtin/curtin-hooks
  images/capi/ansible/roles/providers/files/maas/curtin/install-custom-packages
  images/capi/ansible/roles/providers/files/maas/curtin/setup-bootloader
  images/capi/ansible/roles/providers/tasks/maas-ubuntu.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Update CAPC OWNERS
  OWNERS_ALIASES
Due: none

fix: update Azure build VM size to a more modern v2 generation
  images/capi/packer/azure/azure-config.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

add vars file for using the HPC image. Add support for arm64. Doesn't work yet.
  images/capi/Makefile
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/templates/etc/apt/sources.list.d/ubuntu.sources.arm64.j2
  images/capi/azure_targets.sh
  images/capi/hpc-image.json
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/ubuntu-2404-arm64-gen2.json
  images/capi/packer/config/arm64/common.json
  images/capi/packer/config/common.json
  images/capi/packer/config/x86_64/common.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

trying to avoid linux-cloud-tools-virtual but failing.
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

add qemu image
  images/capi/packer/qemu/qemu-ubuntu-2404-arm64.json
Due: json-sort-check, pull-packer-validate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
