Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Add unique IQN generation mechanism
  images/capi/ansible/roles/providers/files/maas/curtin/curtin-hooks
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Remove test branch from workflow triggers
  .github/workflows/image-ami-builds.yaml
Due: none

OVA E2E: also build photon-5
  docs/book/src/capi/providers/vsphere.md
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Add Scaleway packer provider
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/scaleway.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/scaleway.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/scaleway/config.pkr.hcl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/scaleway/rockylinux-9.json
  images/capi/packer/scaleway/ubuntu-2204.json
  images/capi/packer/scaleway/ubuntu-2404.json
  images/capi/scripts/ci-packer-validate.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Remove Ubuntu 20.04 from GCP provider
  docs/book/src/capi/providers/gcp.md
  images/capi/Makefile
  images/capi/packer/gce/ubuntu-2004.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Added Scaleway staff as reviewers for Scaleway provider
  OWNERS_ALIASES
  images/capi/packer/scaleway/OWNERS
Due: pull-packer-validate

Add remyleone as image-builder-scaleway-reviewer
  OWNERS_ALIASES
Due: none

feat: add support to containerd 2.0
  docs/book/src/capi/providers/oci.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

fix: use containerd_version variable to download the appropriate containerd.service
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

Increased task_timeout for larger ISOs slower Proxmox servers
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

build 1.33.2/1.32.6/1.31.10/1.30.14 k8s images for capg
  images/capi/packer/gce/ci/nightly/overwrite-1-30.json
  images/capi/packer/gce/ci/nightly/overwrite-1-31.json
  images/capi/packer/gce/ci/nightly/overwrite-1-32.json
  images/capi/packer/gce/ci/nightly/overwrite-1-33.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

add damdo and salasberryfin to CAPG maintainers
  OWNERS_ALIASES
Due: none

fix: Renable Ec2Kubernetes cloud-init datasource
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

MAAS: Support both UEFI and BIOS boot modes in setup-bootloader
  images/capi/ansible/roles/providers/files/maas/curtin/curtin-hooks
  images/capi/ansible/roles/providers/files/maas/curtin/setup-bootloader
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

MAAS: Update ubuntu 24.04 iso version
  images/capi/packer/maas/maas-ubuntu-2404-efi.json
Due: json-sort-check, pull-packer-validate

Remove Photon-3 OS as end of life March 2024
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/packer/ova/photon-3.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Remove Ubuntu 23.04 as end of life Jan 2024
  images/capi/Makefile
  images/capi/packer/qemu/qemu-ubuntu-2304.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Remove Centos-7 due to end of life June 2024
  docs/book/src/capi/providers/aws.md
  docs/book/src/capi/providers/digitalocean.md
  docs/book/src/capi/providers/hcloud.md
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/ami/centos-7.json
  images/capi/packer/azure/centos-7-gen2.json
  images/capi/packer/azure/centos-7.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/digitalocean/centos-7.json
  images/capi/packer/hcloud/centos-7.json
  images/capi/packer/ova/centos-7.json
  images/capi/packer/qemu/qemu-centos-7.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Update the OVA test script to dynamically detect targets to test
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Switch OVA OSs to use cd for boot
  images/capi/hack/set-ssh-password.sh
  images/capi/packer/ova/centos-7.json
  images/capi/packer/ova/photon-4.json
  images/capi/packer/ova/rockylinux-8.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Attempt to fix photon
  images/capi/packer/ova/photon-4.json
  images/capi/packer/ova/photon-5.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Revert photon changes
  images/capi/packer/ova/photon-4.json
  images/capi/packer/ova/photon-5.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Enable packer debug logging
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Change rockylinux8
  images/capi/packer/ova/rockylinux-8.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Remove Photon3 references from goss
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Set rockylinux-8 to efi
  images/capi/packer/ova/rockylinux-8.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Revert efi change
  images/capi/packer/ova/rockylinux-8.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Remove Mariner-2 as end-of-life
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/mariner-2-gen2.json
  images/capi/packer/azure/mariner-2.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Remove Ubuntu 20.04 as end of life
  docs/book/src/capi/container-image.md
  docs/book/src/capi/providers/3dsoutscale.md
  docs/book/src/capi/providers/aws.md
  docs/book/src/capi/providers/azure.md
  docs/book/src/capi/providers/cloudstack.md
  docs/book/src/capi/providers/digitalocean.md
  docs/book/src/capi/providers/hcloud.md
  docs/book/src/capi/providers/ibmcloud.md
  docs/book/src/capi/providers/nutanix.md
  docs/book/src/capi/providers/oci.md
  docs/book/src/capi/providers/openstack-remote.md
  docs/book/src/capi/providers/openstack.md
  docs/book/src/capi/providers/raw.md
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/ami/ubuntu-2004.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/ubuntu-2004-cvm.json
  images/capi/packer/azure/ubuntu-2004-gen2.json
  images/capi/packer/azure/ubuntu-2004.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/digitalocean/ubuntu-2004.json
  images/capi/packer/hcloud/ubuntu-2004.json
  images/capi/packer/nutanix/ubuntu-2004.json
  images/capi/packer/oci/packer.json
  images/capi/packer/oci/ubuntu-2004.json
  images/capi/packer/openstack/ubuntu-2004.json
  images/capi/packer/outscale/ubuntu-2004.json
  images/capi/packer/ova/ubuntu-2004-efi.json
  images/capi/packer/ova/ubuntu-2004.json
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/qemu-ubuntu-2004-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2004.json
  images/capi/packer/raw/raw-ubuntu-2004-efi.json
  images/capi/packer/raw/raw-ubuntu-2004.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Remove leftover Centos-7 and Photon-3 files
  images/capi/packer/ova/linux/centos/http/7/ks.cfg.tmpl
  images/capi/packer/ova/linux/photon/http/3/ks.json.tmpl
  images/capi/packer/qemu/linux/centos/http/7/ks.cfg.tmpl
Due: pull-ova-all, pull-packer-validate

Remove RHEL-7 as end of life
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/ansible/roles/firstboot/meta/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/hack/image-build-ova.py
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/linux/centos/http/7/ks.cfg.tmpl
  images/capi/packer/ova/linux/rhel/http/7/ks.cfg.tmpl
  images/capi/packer/ova/rhel-7.json
  images/capi/packer/qemu/linux/centos/http/7/ks.cfg.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Introduce hack to avoid rm failing with not found
  images/capi/hack/set-ssh-password.sh
Due: none

Fix missing variable for goss in oci provider
  images/capi/packer/oci/packer.json
Due: json-sort-check, pull-packer-validate

Force setting windows_admin_password for OVA and Nutanix
  images/capi/Makefile
  images/capi/hack/windows-unattend.py
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/windows/windows-2022/autounattend.xml
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/ova/windows/windows-2019-efi/autounattend.xml
  images/capi/packer/ova/windows/windows-2019/autounattend.xml
  images/capi/packer/ova/windows/windows-2022-efi/autounattend.xml
  images/capi/packer/ova/windows/windows-2022/autounattend.xml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Work around 2022 4B image
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

update the log file name to be consistent with existing tooling
  images/capi/ansible/windows/roles/kubernetes/templates/RestartKubelet.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all
