Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

capi: add systemd environment generator to fix-up PATH for Flatcar
  images/capi/ansible/roles/setup/files/etc/systemd/system-environment-generators/10-flatcar-path
  images/capi/ansible/roles/setup/tasks/flatcar.yml
Due: pull-azure-vhds

upgrade pause image to 3.6
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/windows/example.vars.yml
  images/capi/packer/config/common.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

include the common var file for windows
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

add qemu-centos-7 packer json
  images/capi/packer/qemu/qemu-centos-7.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

capi: ensure kubelet service is stopped
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-azure-vhds

DO: update packer configuration
  images/capi/packer/digitalocean/OWNERS
  images/capi/packer/digitalocean/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Added the ability to install Win32-OpenSSH from Portable Archive
  docs/book/src/capi/windows/windows.md
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/ansible/windows/roles/systemprep/tasks/ssh-archive.yml
  images/capi/ansible/windows/roles/systemprep/tasks/ssh-feature.yml
  images/capi/packer/config/windows/ansible-args-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Bump to ansible v2.11.5
  images/capi/hack/ensure-ansible.sh
Due: pull-azure-vhds

capi: add CentOS7 support for qemu images
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/packer/qemu/qemu-centos-7.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

qemu: fix json-sort issue
  images/capi/packer/qemu/qemu-centos-7.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

containerd: 1.5.5 -> 1.5.7
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add Windows approvers for docs and Win config
  docs/OWNERS
  images/capi/packer/config/windows/OWNERS
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Support for RHEL/Rocky 8
  images/capi/Makefile
  images/capi/ansible/node.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/ova/linux/centos/http/8/ks.cfg
  images/capi/packer/qemu/qemu-rocky-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Allow subset of users to have access to wireserver
  images/capi/ansible/windows/roles/providers/tasks/azure.yml
  images/capi/packer/azure/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

persist and add test iptable rule drop 168.63.129.16 on Azure
  images/capi/ansible/roles/providers/files/etc/azure/iptables
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Added WS2022 as build target
  images/capi/Makefile
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/windows-2022-containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

added repo_root_cert_pem variable
  images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

kernel values to support --protect-kernel-defaults
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-azure-vhds

Update Flatcar-related URLs
  images/capi/README-flatcar.md
  images/capi/hack/image-build-flatcar.sh
  images/capi/hack/image-grok-latest-flatcar-version.sh
Due: pull-azure-vhds

add qemu capi image docker build support
  docs/book/src/capi/container-image.md
  images/capi/Dockerfile
Due: pull-azure-vhds

Add OpenStack qemu-kvm doc changes
  docs/book/src/capi/container-image.md
  docs/book/src/capi/providers/openstack.md
Due: none

Update container-image.md
  docs/book/src/capi/container-image.md
Due: none

Support RockyLinux-8 on vSphere
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/hack/image-build-ova.py
  images/capi/packer/config/ansible-args.json
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/ova/rockylinux-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Downgrade cloud-init. Workaround for #712
  images/capi/ansible/roles/providers/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/vmware.yml
Due: pull-azure-vhds

Added virtual floppy disk feature to centos-7
  images/capi/packer/ova/centos-7.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Updated to rhel7.9 and added virtual floppy disk support
  images/capi/packer/ova/rhel-7.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

verify protect-kernel-defaults values in goss
  images/capi/packer/goss/goss-kernel-params.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

fixed kickstart file for centos-7 and rhel-7 and added centos-7 to ci-ova.sh script
  images/capi/packer/ova/linux/centos/http/7/ks.cfg
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds, pull-packer-validate

add efi support to raw and qemu builder
  images/capi/Makefile
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/qemu-ubuntu-2004-efi.json
  images/capi/packer/raw/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/raw/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/raw/packer.json
  images/capi/packer/raw/raw-ubuntu-2004-efi.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

add goss and custom provisioner to qemu and raw
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/raw.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

remove build for 1.18 release
  images/capi/packer/gce/ci/nightly/overwrite-1-18.json
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

update k8s releases to the latest
  images/capi/packer/gce/ci/nightly/overwrite-1-19.json
  images/capi/packer/gce/ci/nightly/overwrite-1-20.json
  images/capi/packer/gce/ci/nightly/overwrite-1-21.json
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

feat: set a default Containerd imports directory
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/ansible/windows/roles/runtimes/tasks/containerd.yml
  images/capi/ansible/windows/roles/runtimes/templates/config.toml
Due: pull-azure-vhds

kernel values to support --protect-kernel-defaults (#724)
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/packer/goss/goss-kernel-params.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

remove python2-pip from photon GOSS pkg test
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Add networkd-dispatcher script to access NTP servers provided by DHCP
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/providers/defaults/main.yml
  images/capi/ansible/roles/providers/files/etc/networkd-dispatcher/no-carrier.d/20-chrony.j2
  images/capi/ansible/roles/providers/files/etc/networkd-dispatcher/off.d/20-chrony.j2
  images/capi/ansible/roles/providers/files/etc/networkd-dispatcher/routable.d/20-chrony.j2
  images/capi/ansible/roles/providers/files/usr/libexec/chrony-helper
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/vmware-photon.yml
  images/capi/ansible/roles/providers/tasks/vmware-ubuntu.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Install apparmor-parser on photon-3
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

capg: drop to build 1.19 images
  images/capi/packer/gce/ci/nightly/overwrite-1-19.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

capg: build 1.20.13/1.21.7/1.22.4 k8s images for capg
  images/capi/packer/gce/ci/nightly/overwrite-1-20.json
  images/capi/packer/gce/ci/nightly/overwrite-1-21.json
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

set defaults
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/providers/defaults/main.yml
  images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-azure-vhds
