Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcve-e2e-config: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Update pause image to support windows 2025
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/roles/runtimes/defaults/main.yml
  images/capi/packer/config/common.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

move kubelet --system-reserved deprecated flag to kubelet-config file
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/templates/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat(outscale): add Flatcar support for Outscale
  docs/book/src/capi/providers/3dsoutscale.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/outscale.yml
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/outscale/flatcar.json
  images/capi/packer/outscale/packer-flatcar.json
  images/capi/packer/outscale/scripts/install-flatcar.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

feat(outscale): add NVIDIA Flatcar support via sysext for Outscale
  images/capi/ansible/roles/gpu/README.md
  images/capi/ansible/roles/gpu/defaults/main.yml
  images/capi/ansible/roles/gpu/tasks/flatcar-nvidia.yml
  images/capi/ansible/roles/gpu/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

docs: Update provider matrix with Outscale Flatcar support
  README.md
Due: none

Add support for arm64-based AMIs
  images/capi/Makefile
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/packer/ami/amazon-2023-arm64.json
  images/capi/packer/ami/packer.json
  images/capi/packer/ami/ubuntu-2204-arm64.json
  images/capi/packer/ami/ubuntu-2404-arm64.json
  images/capi/packer/goss/goss-package.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

goss var naming
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

ova: fix Photon 5 distro-sync failure due to alternatives/chkconfig conflict
  images/capi/ansible/roles/setup/tasks/photon.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

ova: also swap chkconfig->alternatives in vmware-photon provider role
  images/capi/ansible/roles/providers/tasks/vmware-photon.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: create /etc/sysctl.d directory for Flatcar
  images/capi/ansible/roles/setup/tasks/flatcar.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: bump Flatcar AMI volume_size to 15 GB
  images/capi/packer/ami/flatcar-arm64.json
  images/capi/packer/ami/flatcar.json
Due: json-sort-check, pull-packer-validate

Upgrade Kubernetes to v1.35.0
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

Upgrade Kubernetes to v1.36.0
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

fix resource sizing script & add version check on main.yaml and 10-kubeadm.conf
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/templates/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat(containerd): adding ability to override the default image_pull_progress_timeout for containerd. Defaults to containerd defaults
  docs/book/src/capi/containerd/customizing-containerd.md
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/ansible/windows/roles/runtimes/templates/config.toml
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/config/windows/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Bump ansible to v2.18.16
  images/capi/hack/utils.sh
Due: none

chore(ci): updating the cloudbuild gcb-docker-gcloud image to the latest release
  cloudbuild.yaml
  docs/book/src/capi/releasing.md
Due: none

docs: Update docs for image-builder v0.1.52
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Fix windows-cvm source SKUs after Marketplace removal
  images/capi/packer/azure/windows-2019-containerd-cvm.json
  images/capi/packer/azure/windows-2022-containerd-cvm.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Remove dead python2 references
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Remove dead RHEL 7/8 ansible code paths and orphaned nutanix cloud-init files
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/nutanix/linux/cloud-init/rhel/8/user-data.tmpl
  images/capi/packer/nutanix/linux/cloud-init/rockylinux/8/user-data.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all

fix(ansible): disable both .list and .sources repos when disable_public_repos=true
  images/capi/ansible/roles/setup/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Windows: robustify StartKubelet.ps1 kubelet bootstrap
  images/capi/ansible/windows/roles/kubernetes/templates/StartKubelet.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Bump CAPG nightly Kubernetes versions to 1.34.8 and 1.35.5
  images/capi/packer/gce/ci/nightly/overwrite-1-34.json
  images/capi/packer/gce/ci/nightly/overwrite-1-35.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

Windows: load kubeadm-flags.env in sc.exe kubelet service
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Remove dead RHEL/CentOS 8 entries from goss-vars
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

WIP: run Kubernetes node conformance tests in Build Azure SIG Image
  .github/workflows/build-azure-sig.yaml
  images/capi/hack/node-conformance.sh
Due: none

Verify Kubernetes test tarball with published SHA-256
  images/capi/hack/node-conformance.sh
Due: none

Match kubelet --runtime-cgroups to detected container runtime
  images/capi/hack/node-conformance.sh
Due: none

Distinguish SSH transport failures from node-conformance failures
  .github/workflows/build-azure-sig.yaml
Due: none

Drop hard-coded --kubelet-cgroups=/kubelet.slice flag
  images/capi/hack/node-conformance.sh
Due: none

Fix node conformance kubelet discovery and exit-code disambiguation
  .github/workflows/build-azure-sig.yaml
  images/capi/hack/node-conformance.sh
Due: none

Add CentOS Stream 10 support for PowerVS image builds
  images/capi/Makefile
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/powervs/centos-10.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Install a minimal CNI config so the test kubelet reaches Ready
  images/capi/hack/node-conformance.sh
Due: none

feat: adding containerd_enable_limit_no_file as an option to allow users to add this file on demand as required.
  docs/book/src/capi/containerd/customizing-containerd.md
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Add Azure Linux 4 Gen2 Azure SIG target
  README.md
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/azurelinux-4-gen2.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Fix Ansible roles for Azure Linux 4 compatibility
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Disable firewalld on Azure Linux to allow Kubernetes API server traffic
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
