Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

caas/tools: extend the list of tools
  images/capi/ansible/roles/dhc/tasks/debian.yml
Due: pull-azure-vhds

Update debian.yml
  images/capi/ansible/roles/dhc/tasks/debian.yml
Due: pull-azure-vhds

caas/containerd: version bump to 1.5.4
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

containerd: update to 1.5.3
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

images/capi/packer/config/containerd.json bump containerd to v1.5.9
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

capi/containerd: bump to v1.4.4
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

add arp-scan
  images/capi/ansible/roles/dhc/tasks/debian.yml
Due: pull-azure-vhds

images/capi bump linux kernel to mainline 5.15
  images/capi/ansible/roles/dhc/tasks/debian.yml
Due: pull-azure-vhds

install mainline kernel 5.14
  images/capi/ansible/roles/dhc/tasks/debian.yml
Due: pull-azure-vhds

caas/containderd: fix cri-containerd-cni sha256sum
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

images/capi/ansible/roles/dhc/tasks/debian.yml add nomodeset to disable extended vga graphics and have a working spice console
  images/capi/ansible/roles/dhc/tasks/debian.yml
Due: pull-azure-vhds

images/capi/ansible/roles/dhc/tasks/debian.yml: update kernel to 5.15.23
  images/capi/ansible/roles/dhc/tasks/debian.yml
Due: pull-azure-vhds

allow user to specify temporary_security_group_source_cidrs
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add containerd source client header for CAPZ
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/ansible/windows/roles/runtimes/templates/config.toml
Due: pull-azure-vhds

Delete burrito code from image-builder
  images/capi/hack/README.md
  images/capi/hack/serve_artifacts.go
Due: pull-azure-vhds

Separate Azure CI logs
  images/capi/.dockerignore
  images/capi/Dockerfile
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-packer-validate

Replacing \var\lib\kubelet path to \etc\kubernetes
  images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Azure: archive storage accounts used for reference images
  images/capi/packer/azure/scripts/delete-unused-storage.sh
Due: pull-azure-vhds, pull-packer-validate

images/capi: move custom files to t1
  CAAS.md
  images/capi/ansible/roles/dhc/tasks/debian.yml
  images/capi/ansible/roles/dhc/tasks/files/etc/systemd/system/ssh.service.d/boot-order.conf
  images/capi/ansible/roles/dhc/tasks/main.yaml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/hack/image-build-vmdk-optimize-qcow2.sh
Due: pull-azure-vhds

images/capi/packer/goss: disable auditd, do not install kubernetes
  images/capi/packer/goss/goss-service.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

do not stop auditd
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/packer/goss/goss-service.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

images/capi/packer: use upstream files
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/vmware.yml
  images/capi/packer/config/containerd.json
  images/capi/packer/qemu/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

remove README
  CAAS.md
Due: none

Fix hyperlink in Azure docs
  docs/book/src/capi/providers/azure.md
Due: none

Move resources under pkg
  v1/pkg/resources/defaults.yml
  v1/pkg/resources/distros/amazonLinux.yml
  v1/pkg/resources/distros/centos.yml
  v1/pkg/resources/distros/debian.yml
  v1/pkg/resources/distros/ubuntu.yml
  v1/pkg/resources/ks.cfg
  v1/pkg/resources/preseed.cfg
Due: none

Fix cli Makefile
  v1/Makefile
Due: none

Run `go mod tidy`
  v1/go.mod
  v1/go.sum
Due: none

Don't swallow error from distro lookup
  v1/cmd/build.go
Due: none

Reformat unknown distro error
  v1/pkg/distros/distro.go
Due: none

containerd: update to v1.6.1
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update VMware GuestInfo DS to v1.4.1
  images/capi/packer/ova/packer-common.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Revert kubernetes config
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

capi: use generic GOSS validations for Flatcar
  images/capi/ansible/roles/setup/tasks/flatcar.yml
  images/capi/packer/ami/flatcar.json
  images/capi/packer/azure/flatcar.json
  images/capi/packer/goss/goss-flatcar.yaml
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

capi: don't enforce cloud-init package on Flatcar
  images/capi/packer/goss/goss-package.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

capa: specify distribution for Flatcar
  images/capi/packer/ami/flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add pipeline for building image-builder Docker image
  deploy/jobs/build-docker.yml
  deploy/pipelines/image-builder.yml
Due: none

Modify path
  deploy/pipelines/image-builder.yml
Due: none

Update ACR connection name
  deploy/pipelines/image-builder.yml
Due: none

Disable failing build
  deploy/jobs/build-docker.yml
Due: none

Trigger build on tags
  deploy/pipelines/image-builder.yml
Due: none
