Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Made some adjustments to the script to ensure the [] character is not included when getting the ami name
  .github/workflows/image-ami-builds.yaml
Due: none

Updated script so it updates each ami ID it creates and makes each image public
  .github/workflows/image-ami-builds.yaml
Due: none

Removed the use of matrix for the workflow
  .github/workflows/image-ami-builds.yaml
Due: none

Made adjustments to workflows step that makes the image public
  .github/workflows/image-ami-builds.yaml
Due: none

Testing step to make ami public
  .github/workflows/image-ami-builds.yaml
Due: none

Removed script from build-ami section
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the script to correct the wrong output format of the and
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the script to correct the wrong output format
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the step to make AMI public to have a section that disables block of public access for AMI first
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the step that makes the image public
  .github/workflows/image-ami-builds.yaml
Due: none

Update step to make AMI public
  .github/workflows/image-ami-builds.yaml
Due: none

UpdateD step to make AMI public to make sure it makes every AMI it creates public
  .github/workflows/image-ami-builds.yaml
Due: none

Updating script to add check to verify all published amis are made public
  .github/workflows/image-ami-builds.yaml
Due: none

Verifying the output of the artifact from the packer manifest file
  .github/workflows/image-ami-builds.yaml
Due: none

Corrected error in workflow
  .github/workflows/image-ami-builds.yaml
Due: none

Testing script
  .github/workflows/image-ami-builds.yaml
Due: none

Reworking script to make each ami in every region public
  .github/workflows/image-ami-builds.yaml
Due: none

Testing make ami public step
  .github/workflows/image-ami-builds.yaml
Due: none

Resolving syntax error
  .github/workflows/image-ami-builds.yaml
Due: none

Update Packer VM hardware version for RHEL 9 OVA builds
  images/capi/hack/image-build-ova.py
  images/capi/packer/ova/rhel-9.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Updated the script to test some changes
  .github/workflows/image-ami-builds.yaml
Due: none

Moved the content of the make AMI public step to a script
  .github/workflows/image-ami-builds.yaml
  images/capi/make_ami_public.sh
Due: none

Made an adjustment to ensure block access is removed from each region before the image is made public
  images/capi/make_ami_public.sh
Due: none

Use setupcomplete2 on Azure
  images/capi/ansible/windows/roles/cloudbase-init/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Making updates to test script
  images/capi/make_ami_public.sh
Due: none

Updated the script to ensure that we verify that the AMI IDs are made public
  images/capi/make_ami_public.sh
Due: none

Removed branch I used for testing.
  .github/workflows/image-ami-builds.yaml
Due: none

Added a script to enable us set the kubernetes version in the packer build file
  .github/workflows/image-ami-builds.yaml
  images/capi/update_k8s_version.sh
Due: none

Added my PR branch to check and make sure everything looks good with the script I added
  .github/workflows/image-ami-builds.yaml
Due: none

Added the correct script for updating the k8s version
  .github/workflows/image-ami-builds.yaml
Due: none

create environmental variable to pass K8S_VERSION into the script
  .github/workflows/image-ami-builds.yaml
  images/capi/update_k8s_version.sh
Due: none

Resolved bad substitution issue
  images/capi/update_k8s_version.sh
Due: none

Updated the workflow to make sure we have a k8s semver when it is not run manually
  .github/workflows/image-ami-builds.yaml
Due: none

Update VMware tools to latest 12.5.1 for VMware OVA configuration
  images/capi/packer/ova/windows-2019-efi.json
  images/capi/packer/ova/windows-2019.json
  images/capi/packer/ova/windows-2022-efi.json
  images/capi/packer/ova/windows-2022.json
  images/capi/packer/ova/windows/windows-2019-efi/autounattend.xml
  images/capi/packer/ova/windows/windows-2019/autounattend.xml
  images/capi/packer/ova/windows/windows-2022-efi/autounattend.xml
  images/capi/packer/ova/windows/windows-2022/autounattend.xml
Due: pull-ova-all, json-sort-check, pull-packer-validate

Use Nocloud configuration in Azure
  images/capi/ansible/windows/roles/cloudbase-init/tasks/main.yml
  images/capi/ansible/windows/roles/cloudbase-init/templates/SetupComplete2.cmd
  images/capi/ansible/windows/roles/cloudbase-init/templates/format-drive.ps1
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/scripts/sysprep.ps1
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all

Use systemdrive and add acls
  images/capi/ansible/windows/roles/cloudbase-init/templates/format-drive.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix Flatcar ansible_python_interpreter
  images/capi/ansible/roles/setup/tasks/bootstrap-flatcar.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix up test
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

Update metadata so it can be re-used
  images/capi/ansible/windows/roles/cloudbase-init/templates/format-drive.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
