Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/packer/azure/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/hack/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

Avoid errors when RHEL subscription username and password are not provided
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds

docs: Fix WinRM link from Ansible
  docs/book/src/capi/windows/windows.md
Due: none

* Add OS_VERSION to goss for qemu * Add `distribution_version` to all configuration files
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/qemu-centos-7.json
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/qemu/qemu-rhel-8.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
  images/capi/packer/qemu/qemu-ubuntu-1804.json
  images/capi/packer/qemu/qemu-ubuntu-2004-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2004.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

add image_export option
  docs/book/src/capi/providers/nutanix.md
  images/capi/packer/nutanix/config.pkr.hcl
  images/capi/packer/nutanix/nutanix.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Rename Ansible variable from import to docker_import
  images/capi/ansible/windows/roles/load_additional_components/tasks/url.yml
Due: pull-ova-all, pull-azure-vhds

Add gcp rhel-8 support
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/googlecompute.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/gce/packer.json
  images/capi/packer/gce/rhel-8.json
  images/capi/packer/gce/ubuntu-1804.json
  images/capi/packer/gce/ubuntu-2004.json
  images/capi/packer/gce/ubuntu-2204.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Apply feature flag only for RedHat
  images/capi/ansible/roles/providers/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Update container image docs for v0.1.15 release
  docs/book/src/capi/container-image.md
Due: none

Docs: Correct default values for kubernetes version
  docs/book/src/capi/capi.md
Due: none

Remove subiquity autoinstall leftovers
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/packer/ova/linux/ubuntu/http/22.04.efi/user-data
  images/capi/packer/ova/linux/ubuntu/http/22.04/user-data
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Add release tools and documentation
  RELEASE.md
  docs/book/src/SUMMARY.md
  docs/book/src/capi/releasing.md
  images/capi/Makefile
  images/capi/hack/ensure-kpromo.sh
  images/capi/hack/ensure-yq.sh
  images/capi/hack/get-project-maintainers.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Add AverageMarcus to project maintainers
  OWNERS_ALIASES
Due: none

Skip Ubuntu 18.04 in ova CI tests
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds

remove 1.23 build, add 1.27 and update others to latest release
  images/capi/packer/gce/ci/nightly/overwrite-1-23.json
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

update CAPG owners alias
  OWNERS_ALIASES
Due: none

update CAPDO owners alias
  OWNERS_ALIASES
Due: none

Add support for Confidential VM images
  docs/book/src/capi/providers/azure.md
  images/capi/Makefile
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/azure_targets.sh
  images/capi/packer/azure/azure-sig-cvm.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/ubuntu-2004-cvm.json
  images/capi/packer/azure/ubuntu-2204-cvm.json
  images/capi/packer/azure/windows-2019-containerd-cvm.json
  images/capi/packer/azure/windows-2022-containerd-cvm.json
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

[azure] Update pip and az before installing extension
  images/capi/packer/azure/.pipelines/test-vhd.yaml
Due: pull-azure-vhds, pull-packer-validate

Removing user and deleting sudoers file
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Refactor Ignition config files
  images/capi/Makefile
  images/capi/packer/files/flatcar/clc/bootstrap-cloud.yaml
  images/capi/packer/files/flatcar/clc/bootstrap-pass-auth.yaml
  images/capi/packer/files/flatcar/ignition/bootstrap-cloud.json
  images/capi/packer/files/flatcar/ignition/bootstrap-pass-auth.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Remove inactive reviewer from project owners
  OWNERS_ALIASES
Due: none

Authenticate pip with Azure internal feed
  images/capi/packer/azure/.pipelines/test-vhd.yaml
Due: pull-azure-vhds, pull-packer-validate

Removed konfigadm project
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  images/konfigadm/.gitignore
  images/konfigadm/.keep
  images/konfigadm/Makefile
  images/konfigadm/README.md
  images/konfigadm/appveyor.yml
  images/konfigadm/k8s-1.13.yml
  images/konfigadm/k8s-1.14.yml
  images/konfigadm/k8s-1.15.yml
  images/konfigadm/setup.yml
  images/konfigadm/test/ci-verify.sh
  images/konfigadm/test/kubeadm.yml
Due: none

Include main in branches for Azure nightly job
  images/capi/packer/azure/.pipelines/smoke-test.yaml
Due: pull-azure-vhds, pull-packer-validate

Clean up readme information
  README.md
Due: none

Bump default k8s to 1.25.10
  docs/book/src/capi/capi.md
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Bump packer to 1.8.7
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds

Remove leftover Make vars
  Makefile
Due: none

Update README.md
  README.md
Due: none

Use required_plugin with DigitalOcean provider
  images/capi/Makefile
  images/capi/packer/digitalocean/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Nutanix scsi/iscsi tuning
  images/capi/ansible/roles/providers/tasks/nutanix.yml
Due: pull-ova-all, pull-azure-vhds

feat: Enable ability to build GPU drives during image build
  docs/book/src/capi/capi.md
  images/capi/Makefile
  images/capi/ansible/roles/load_additional_components/tasks/s3.yml
  images/capi/ansible/roles/nvidia/README.md
  images/capi/ansible/roles/nvidia/tasks/main.yml
  images/capi/ansible/roles/nvidia/templates/gridd.conf.j2
  images/capi/hack/ensure-s3.sh
  images/capi/packer/config/additional_components.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Shrink qemu ubuntu image size
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/ova/linux/ubuntu/http/22.04.efi/user-data
  images/capi/packer/ova/linux/ubuntu/http/22.04/user-data
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Update qemu-rockylinux-8.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Update Rocky Linux to 8.8
  images/capi/packer/ova/rockylinux-8.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

use an env for qemu flatcar pypy http origin
  images/capi/packer/ami/packer.json
  images/capi/packer/files/flatcar/scripts/bootstrap-flatcar.sh
  images/capi/packer/nutanix/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

fix: s3 task causing errors with other tasks in load_additional_components
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/load_additional_components/defaults/main.yml
  images/capi/ansible/roles/load_additional_components/tasks/main.yml
  images/capi/ansible/roles/load_additional_components/tasks/s3.yml
  images/capi/ansible/roles/nvidia/README.md
  images/capi/ansible/roles/nvidia/tasks/main.yml
  images/capi/hack/ensure-s3.sh
  images/capi/packer/config/ansible-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
