Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

Switch base image from focal to latest
  images/capi/Dockerfile
Due: pull-azure-vhds

Move VMware tools installation to specialize phase of Windows install
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/ova/windows/install-vm-tools.cmd
  images/capi/packer/ova/windows/windows-2004/autounattend.xml
  images/capi/packer/ova/windows/windows-2019/autounattend.xml
  images/capi/packer/ova/windows/windows-2022/autounattend.xml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

fix al2 rpm list
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

images: use k8s-staging-test-infra/gcb-docker-gcloud
  cloudbuild.yaml
Due: none

Add open-vm-tools via common_virt_rpms to AL2 images
  images/capi/ansible/roles/node/meta/main.yml
Due: pull-azure-vhds

images: fix invalid k8s-staging-test-infra/gcb-docker-gcloud tag
  cloudbuild.yaml
Due: none

Azure: archive storage accounts used for reference images
  images/capi/packer/azure/scripts/delete-unused-storage.sh
Due: pull-azure-vhds, pull-packer-validate

support specifying remote_folder for packer provisioner
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

fix review comments
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/windows/roles/providers/defaults/main.yml
Due: pull-azure-vhds

capi: Add support for RHEL8 and RockyLinux8
  images/capi/Makefile
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/ova/linux/centos/http/8/ks.cfg
  images/capi/packer/ova/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/qemu/qemu-rhel-8.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Fix OVA CI script to catch background errors
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Expand windows dynamic port range
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Disable apparmor service on photon-3
  images/capi/ansible/roles/setup/tasks/photon.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

set defaults for the ansible variables (#739)
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/windows/roles/providers/defaults/main.yml
Due: pull-azure-vhds

photon: disable apparmor in kernel
  images/capi/ansible/roles/node/tasks/photon.yml
  images/capi/ansible/roles/setup/tasks/photon.yml
Due: pull-azure-vhds

photon: Add GOSS test for apparmor disabled
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Remove unwanted boot-order from the containerd service
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/systemd/system/containerd.service.d/boot-order.conf
Due: pull-azure-vhds

Use dword to turn off auto updates
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Fix failure observed during adding additional registry images
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
Due: pull-azure-vhds

fix ova-ci script to use vCenter IP directly
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Use nssm for log rotation
  images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/nssm.yml
  images/capi/ansible/windows/roles/kubernetes/templates/StartKubelet.ps1
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add photon-3 to OVA CI list
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Make debug_tools configurable
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Move debug_tools to common.json
  images/capi/packer/config/windows/common.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix the location of the containerd state/root folders
  images/capi/ansible/windows/roles/runtimes/templates/config.toml
  images/capi/packer/goss/goss-command.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

ensure goss installation for the qemu and raw targets
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Link to Windows docs in TOC
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
Due: none

Bump mdBook to v0.4.14
  docs/book/build.sh
Due: none

Use python3 for windows build
  images/capi/hack/windows-ova-unattend.py
Due: pull-azure-vhds

Always install Galaxy collections
  images/capi/hack/ensure-ansible.sh
Due: pull-azure-vhds

Bump Containerd to 1.5.9
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add support for OCI Images
  docs/book/src/SUMMARY.md
  docs/book/src/capi/providers/oci.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/oci.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/oci/oracle-linux-8.json
  images/capi/packer/oci/packer.json
  images/capi/packer/oci/ubuntu-1804.json
  images/capi/packer/oci/ubuntu-2004.json
  images/capi/scripts/ci-packer-validate.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Update CAPI provider owners to match project owners
  OWNERS_ALIASES
Due: none

Move inactive approvers to emeritus
  OWNERS
  OWNERS_ALIASES
Due: none

Add jsturtevant and kkeshavamurthy to approvers
  OWNERS_ALIASES
Due: none

Fix target argument in Makefile substitution command
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Update container-image.md
  docs/book/src/capi/container-image.md
Due: none

add qemu capi image docker build support
  docs/book/src/capi/container-image.md
  images/capi/Dockerfile
Due: pull-azure-vhds

Add OpenStack qemu-kvm doc changes
  docs/book/src/capi/container-image.md
  docs/book/src/capi/providers/openstack.md
Due: none

[ansible][windows] Add `ExtendVolumesPlugin` cloubase-init plugin
  images/capi/ansible/windows/roles/cloudbase-init/templates/cloudbase-init.conf
Due: pull-azure-vhds
