Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

Don't recreate Azure resource group if it already exists
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/scripts/init-vhd.sh
Due: pull-azure-vhds, pull-packer-validate

capi: remove pki Ansible role
  images/capi/ansible/roles/pki/files/usr/local/bin/new-ca.sh
  images/capi/ansible/roles/pki/files/usr/local/bin/new-cert.sh
  images/capi/ansible/roles/pki/tasks/main.yml
Due: pull-azure-vhds

update nightly gce images
  images/capi/packer/gce/ci/nightly/overwrite-1-21.json
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
  images/capi/packer/gce/ci/nightly/overwrite-1-23.json
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add option for custom pre/post roles
  docs/book/src/capi/capi.md
  images/capi/ansible/firstboot.yml
  images/capi/ansible/node.yml
  images/capi/ansible/windows/node_windows.yml
  images/capi/hack/image-build-ova.py
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

bump base template for photon-3 OVA ci
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Add RockyLinux 8 to OVA CI
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Update containerd version
  images/capi/packer/config/ppc64le/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

prevent package upgrades on node images
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
Due: pull-azure-vhds

initial checkin of nutanix image-builder
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/nutanix.md
  images/capi/Makefile
  images/capi/packer/nutanix/OWNERS
  images/capi/packer/nutanix/nutanix.json
  images/capi/packer/nutanix/packer.json
  images/capi/packer/nutanix/ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

images/capi/ansible/roles/node: fix some missing trailing whitespace
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/files/etc/udev/rules.d/90-etcd-tuning.rules
  images/capi/ansible/roles/node/tasks/amazonLinux2.yml
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-azure-vhds

etcd-network-tuning.sh: use $0 when printing usage path
  images/capi/ansible/roles/node/files/usr/local/bin/etcd-network-tuning.sh
Due: pull-azure-vhds

images/capi/ansible/roles/node: make external binary path configurable
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/node/templates/etc/udev/rules.d/90-etcd-tuning.rules
Due: pull-azure-vhds

images/capi/ansible/roles/node: fix external binary path for Flatcar
  images/capi/ansible/roles/node/defaults/main.yml
Due: pull-azure-vhds

use kubernetes_semver in AMI naming
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Move bootstrap-flatcar.sh under flatcar dir
  images/capi/packer/ami/packer.json
  images/capi/packer/files/flatcar/scripts/bootstrap-flatcar.sh
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Serve Ignition files locally
  images/capi/packer/qemu/qemu-flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add a readme for the "files" dir
  images/capi/packer/files/flatcar/README.md
Due: pull-azure-vhds, pull-packer-validate

Add Make targets for Ignition
  images/capi/Makefile
  images/capi/hack/ensure-ct.sh
Due: pull-azure-vhds, pull-packer-validate

Add bootstrap Ignition config
  images/capi/packer/files/flatcar/clc/bootstrap.yaml
  images/capi/packer/files/flatcar/ignition/bootstrap.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Document bootstrap-flatcar.sh
  images/capi/packer/files/flatcar/scripts/bootstrap-flatcar.sh
Due: pull-azure-vhds, pull-packer-validate

Sync Azure maintainers with CAPZ project
  OWNERS_ALIASES
Due: none

move pkg marking
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
Due: pull-azure-vhds

initial checkin of nutanix image-builder
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

added complete path of the nutanix.json file
  docs/book/src/capi/providers/nutanix.md
Due: none

removed duplicate rule
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Adding default 5 minutes to containerd url download
  images/capi/ansible/windows/roles/runtimes/tasks/containerd.yml
Due: pull-azure-vhds

fixed the var passed to packer
  images/capi/packer/nutanix/nutanix.json
  images/capi/packer/nutanix/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

testing only: added myself in owners list
  images/capi/packer/nutanix/OWNERS
Due: pull-azure-vhds, pull-packer-validate

Example definitions for virtual_network_resource_group_name and virtual_network_subnet_name were flipped under the azure provider readme in the documentation book
  docs/book/src/capi/providers/azure.md
Due: none

Remove CUSTOM_ROLE property from ovf_template.xml
  images/capi/hack/ovf_template.xml
Due: pull-azure-vhds

Remove reference to custom_role user variable
  images/capi/packer/config/windows/ansible-args-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

configure respective files for the installation of GPU drivers in ubuntu 20.04 GCE image
  images/capi/Makefile
  images/capi/packer/config/ansible-args.json
  images/capi/packer/files/bootstrap-ubuntu-2004-gpu.sh
  images/capi/packer/files/flatcar/scripts/bootstrap-flatcar.sh
  images/capi/packer/gce/packer.json
  images/capi/packer/gce/ubuntu-2004-gpu.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix raw build target
  images/capi/Makefile
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/raw/packer.json
  images/capi/packer/raw/raw-flatcar.json
  images/capi/packer/raw/raw-ubuntu-1804.json
  images/capi/packer/raw/raw-ubuntu-2004-efi.json
  images/capi/packer/raw/raw-ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

updated docs and fixed makefile
  docs/book/src/capi/providers/nutanix.md
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

updated owners list
  images/capi/packer/nutanix/OWNERS
Due: pull-azure-vhds, pull-packer-validate

initial checkin of nutanix image-builder
  images/capi/packer/nutanix/nutanix.json
  images/capi/packer/nutanix/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Extract ansible common SSH args to a single place
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/oci/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Workaround for building images with OpenSSH version 8.8+
  images/capi/packer/config/ansible-args.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate
