Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Make ensure-packer.sh safe for parallel CI builds
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

Fix flaky GitHub-runner to Azure VM SSH that hung Linux SIG builds
  images/capi/ansible.cfg
  images/capi/packer/azure/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

Scope ANSIBLE_PIPELINING to Azure provisioners to fix RHEL OVA builds
  images/capi/ansible.cfg
  images/capi/packer/azure/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

Match PR azure-sig-ssh-fix tree on creds branch for pipeline test
  .github/workflows/build-azure-sig.yaml
  README.md
  docs/book/src/capi/providers/3dsoutscale.md
  docs/book/src/capi/providers/oci.md
  images/capi/Makefile
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/gpu/README.md
  images/capi/ansible/roles/gpu/defaults/main.yml
  images/capi/ansible/roles/gpu/tasks/flatcar-nvidia.yml
  images/capi/ansible/roles/gpu/tasks/main.yml
  images/capi/ansible/roles/kubernetes/handlers/main.yml
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
  images/capi/ansible/roles/load_additional_components/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/providers/tasks/outscale.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/photon.yml
  images/capi/ansible/roles/setup/tasks/rpm_repos.yml
  images/capi/ansible/roles/sysprep/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/rpm_repos.yml
  images/capi/ansible/windows/example.vars.yml
  images/capi/hack/utils.sh
  images/capi/packer/config/windows/common.json
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/oci/config.pkr.hcl
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/oci/packer.json
  images/capi/packer/outscale/flatcar.json
  images/capi/packer/outscale/packer-flatcar.json
  images/capi/packer/outscale/scripts/install-flatcar.sh
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

capi: normalize Ubuntu OVA seed ISO label
  images/capi/packer/ova/ubuntu-2204-efi.json
  images/capi/packer/ova/ubuntu-2204.json
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
  images/capi/packer/ova/ubuntu-2604-efi.json
  images/capi/packer/ova/ubuntu-2604.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

docs: document post-sysprep node hook
  docs/book/src/capi/capi.md
Due: none

capi: remove containerd wasm shim tarballs
  images/capi/ansible/roles/containerd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: exclude Ansible temp payloads from sysprep cleanup
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: default Windows additional component flags to booleans
  images/capi/ansible/windows/roles/load_additional_components/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: use current Goss file contents key
  images/capi/packer/goss/goss-files.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: wait for Azure apt package locks
  images/capi/ansible/roles/providers/tasks/azure.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: prefix Azure CLI role variables
  images/capi/ansible/roles/providers/tasks/azurecli.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Write image-builder commit provenance into built images (#2039)
  .github/workflows/build-azure-sig.yaml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/maas/packer-arm64.json.tmpl
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/oxide/packer.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Fix flaky GitHub-runner to Azure VM SSH that hung Linux SIG builds (#2058)
  images/capi/ansible.cfg
  images/capi/packer/azure/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

capi: preserve Ansible temp dirs during sysprep
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: avoid duplicate phased custom roles
  images/capi/ansible/node.yml
  images/capi/ansible/windows/node_windows.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: trust Microsoft key in Azure provider builds
  images/capi/ansible/roles/setup/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: add Ubuntu 24.04 QEMU cloud image target
  images/capi/Makefile
  images/capi/packer/qemu/qemu-ubuntu-2404-cloudimg.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: retry OpenStack Ansible provisioning
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

capi: use modules for sysprep log cleanup
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: resolve Kubernetes Debian package revisions
  .github/actions/configure-k8s-version/action.yaml
  .github/actions/configure-k8s-version/resolve-kubernetes-deb-version.py
Due: none

docs: Update docs for image-builder v0.1.53
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

outscale: bump base images & packer provider
  images/capi/packer/outscale/config.pkr.hcl
  images/capi/packer/outscale/flatcar.json
  images/capi/packer/outscale/ubuntu-2204.json
  images/capi/packer/outscale/ubuntu-2404.json
  images/capi/packer/outscale/ubuntu-2604.json
Due: json-sort-check, pull-packer-validate

Add systemd-sysext image tooling foundation
  images/capi/ansible/node-sysext.yml
  images/capi/ansible/roles/systemd_sysext/defaults/main.yml
  images/capi/ansible/roles/systemd_sysext/tasks/main.yml
  images/capi/hack/ensure-sysext-tools.sh
  images/capi/packer/goss/goss-sysext-command.yaml
  images/capi/packer/goss/goss-sysext-files.yaml
  images/capi/packer/goss/goss-sysext.yaml
  images/capi/sysext/README.md
  images/capi/sysext/build-sysext-layer.sh
  images/capi/sysext/templates/basic-layer/layer.yaml
  images/capi/sysext/templates/basic-layer/rootfs/usr/lib/.keep
  images/capi/sysext/test-build-sysext-layer.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

capi: isolate Azure CI CLI auth per SIG build
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

capi: allow configuring Ansible Galaxy installs
  docs/book/src/capi/capi.md
  images/capi/hack/ensure-ansible.sh
  images/capi/hack/ensure-s3.sh
  images/capi/hack/utils.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

capi: add optional QEMU boot smoke helper
  images/capi/Makefile
  images/capi/hack/qemu-boot-smoke.sh
  images/capi/packer/qemu/README.md
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: wait for qemu post-reboot systemd state
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-packer-validate

capi: allow Ubuntu autoinstall mirror overrides
  images/capi/Makefile
  images/capi/hack/set-ssh-password.sh
  images/capi/packer/maas/README.md
  images/capi/packer/maas/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.arm64/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/26.04/user-data.tmpl
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/26.04/user-data.tmpl
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04/user-data.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: allow custom Ansible collection paths
  images/capi/packer/openstack/packer.json
  images/capi/packer/qemu/packer.json.tmpl
Due: json-sort-check, pull-packer-validate

capi: add final image hygiene goss checks
  images/capi/packer/goss/goss-image-hygiene.yaml
  images/capi/packer/goss/goss.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: make node Ansible TMPDIR configurable
  docs/book/src/capi/capi.md
  images/capi/ansible/node.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

capi: use dpkg selections in Debian sysprep
  images/capi/ansible/roles/sysprep/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix(outscale): use ansible_facts for os_family with inject_facts_as_vars disabled
  images/capi/ansible/roles/providers/tasks/outscale.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Remove dead Azure Linux 2 (CBL-Mariner) references
  docs/book/src/capi/containerd/customizing-containerd.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Add Azure Linux 4 Gen2 Azure SIG target
  README.md
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/azurelinux-4-gen2.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Fix ansible-lint no-changed-when on libdnf5 raw task
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Disable firewalld on Azure Linux to allow Kubernetes API server traffic
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix Ansible roles for Azure Linux 4 compatibility
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all
