Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/packer/azure/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/hack/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

Revert "Merge branch 'main' of https://github.com/kubernetes-sigs/image-builder into ansible-lint"
  images/capi/packer/ova/packer-common.json
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

rock-vmware
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/rocky.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/vmware-rocky.yml
  images/capi/ansible/roles/providers/tasks/vmware.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/rocky.yml
Due: pull-ova-all, pull-azure-vhds

Update pip install to handle "error: externally-managed-environment"
  images/capi/hack/ensure-ansible-lint.sh
  images/capi/hack/ensure-ansible-windows.sh
  images/capi/hack/ensure-ansible.sh
  images/capi/hack/ensure-azure-cli.sh
  images/capi/hack/utils.sh
Due: pull-ova-all, pull-azure-vhds

Add new gpu image and add source_image_family and ssh_username for the existing one
  images/capi/packer/gce/ubuntu-2004-gpu.json
  images/capi/packer/gce/ubuntu-2204-gpu.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add target to build Ubuntu 1804 image with GPU driver
  images/capi/Makefile
  images/capi/packer/gce/files/bootstrap-ubuntu-gpu.sh
  images/capi/packer/gce/packer.json
  images/capi/packer/gce/ubuntu-1804-gpu.json
  images/capi/packer/gce/ubuntu-2004-gpu.json
  images/capi/packer/gce/ubuntu-2004.json
  images/capi/packer/gce/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Bump ansible-lint to v6.20.3
  images/capi/hack/ensure-ansible-lint.sh
Due: pull-ova-all, pull-azure-vhds

Updated docs post v0.1.20 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Update kubectl version commands in Goss tests
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

add az-cli for capz windows images
  images/capi/ansible/windows/roles/providers/tasks/azure.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Add tasks to install runsc for gvisor integration
  docs/book/src/SUMMARY.md
  docs/book/src/capi/containerd/customizing-containerd.md
  docs/book/src/glossary.md
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/nutanix/packer.json
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/powervs/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

update 1.25/26/27/28 gce images
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
  images/capi/packer/gce/ci/nightly/overwrite-1-28.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Check ansible version when installing dependencies
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds

QEMU Support for Ubuntu 23.04 and RockyLinux 9
  images/capi/.ansible-lint-ignore
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/qemu/linux/rockylinux/http/9/ks.cfg
  images/capi/packer/qemu/linux/ubuntu/http/23.04/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/23.04/user-data
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/qemu-rockylinux-9.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
  images/capi/packer/qemu/qemu-ubuntu-2304.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Document building with custom Kubernetes version
  docs/book/src/capi/capi.md
  images/capi/packer/proxmox/README.md
  images/capi/packer/qemu/README.md
Due: pull-azure-vhds, pull-packer-validate

Updated README.md and updated sysprep/tasks/debian.yml to run CIS hardening tool for Debian/Ubuntu images
  README.md
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

Set Flatcar OS_TYPE as other3xLinux64Guest
  images/capi/hack/image-build-ova.py
Due: pull-azure-vhds

Bump ansible-lint to v6.21.1
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/firstboot/meta/main.yml
  images/capi/ansible/roles/kubernetes/tasks/photon.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/python/tasks/flatcar.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/hack/ensure-ansible-lint.sh
Due: pull-ova-all, pull-azure-vhds

Add Goss output files to .gitignore
  images/capi/.gitignore
Due: pull-azure-vhds

Change other3xLinux64Guest as other4xLinux64Guest
  images/capi/hack/image-build-ova.py
  images/capi/packer/ova/flatcar.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

cis benchmark patching
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Update docs after v0.1.21 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Flatcar: Use OS default volume/exec symlink
  images/capi/ansible/roles/setup/files/etc/systemd/system/usr-libexec.mount
  images/capi/ansible/roles/setup/tasks/flatcar.yml
Due: pull-ova-all, pull-azure-vhds

Restore /etc/resolv.conf symlink on Flatcar CAPI Azure images
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Install linux-modules-extra-azure to work around CIFS bug
  images/capi/ansible/roles/providers/tasks/azure.yml
Due: pull-ova-all, pull-azure-vhds

Update containerd to 1.7.10
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

made gridd and license optional
  images/capi/ansible/roles/nvidia/README.md
  images/capi/ansible/roles/nvidia/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Update wasm-shims to v0.10.0
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/wasm-shims.json
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add an ensure shellcheck file
  images/capi/Makefile
  images/capi/hack/ensure-shellcheck.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Remove wins
  docs/book/src/capi/windows/windows.md
  images/capi/.ansible-lint-ignore
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/node_windows.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/wins.yml
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/windows-2019-containerd-cvm.json
  images/capi/packer/azure/windows-2019-containerd.json
  images/capi/packer/azure/windows-2022-containerd-cvm.json
  images/capi/packer/azure/windows-2022-containerd.json
  images/capi/packer/config/windows/common.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/windows-2022.json
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add Windows Annual Channel target
  docs/book/src/capi/windows/windows.md
  images/capi/Makefile
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/windows-annual-containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Remove docker-ee for Windows
  images/capi/.ansible-lint-ignore
  images/capi/Makefile
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/ansible/windows/roles/kubernetes/templates/StartKubelet.ps1
  images/capi/ansible/windows/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/url.yml
  images/capi/ansible/windows/roles/runtimes/tasks/docker_ee.yml
  images/capi/ansible/windows/roles/runtimes/tasks/main.yml
  images/capi/azure_targets.sh
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/windows-2019.json
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/config/windows/common.json
  images/capi/packer/config/windows/docker.json
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/vbox/packer-windows.json
  images/capi/packer/vbox/windows-2019.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Revert "Install linux-modules-extra-azure to work around CIFS bug"
  images/capi/ansible/roles/providers/tasks/azure.yml
Due: pull-ova-all, pull-azure-vhds

Bump ansible-core to v2.16.1
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds

Bump packer to v1.9.5
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds

Add Build for IONOS Cloud ubunut 22.04
  images/capi/Makefile
  images/capi/packer/ionos/config.pkr.hcl
  images/capi/packer/ionos/packer.json
  images/capi/packer/ionos/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
