Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/packer/azure/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/hack/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

Adding ip_settle_timeout to detect the IP change
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Upgraded containerd_wasm_shims_version to v0.8.0
  images/capi/packer/config/wasm-shims.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update containerd to 1.6.22
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Adding the destroy field to vsphere-clone and vsphere-iso builders
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Bump Packer to v1.9.2
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds

Ensure directories for network-dispatcher exist
  images/capi/ansible/roles/providers/tasks/qemu.yml
Due: pull-ova-all, pull-azure-vhds

Update docs for v0.1.18 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

CAPC: Remove ConfigDrive from cloud-init datasource_list in cloudstack images
  images/capi/ansible/roles/providers/tasks/cloudstack.yml
Due: pull-ova-all, pull-azure-vhds

get output of all the generate-sas.yaml commands
  images/capi/packer/azure/.pipelines/generate-sas.yaml
Due: pull-azure-vhds, pull-packer-validate

use azure hashicorp sdk to < 2.0.0
  images/capi/packer/azure/config.pkr.hcl
Due: pull-azure-vhds, pull-packer-validate

Remove nutanix from validate-all target
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Pin Nutanix version to pre 0.8.0
  images/capi/packer/nutanix/config.pkr.hcl
Due: pull-azure-vhds, pull-packer-validate

update version to 0.8.1 and implement new feature
  docs/book/src/capi/providers/nutanix.md
  images/capi/packer/nutanix/config.pkr.hcl
  images/capi/packer/nutanix/nutanix.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json
  images/capi/scripts/ci-packer-validate.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Remove Ubuntu 18.04 from all providers
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/ami/packer.json
  images/capi/packer/ami/ubuntu-1804.json
  images/capi/packer/azure/.pipelines/build-vhd.yaml
  images/capi/packer/azure/.pipelines/create-disk-version.yaml
  images/capi/packer/azure/.pipelines/create-sku.yaml
  images/capi/packer/azure/.pipelines/stages.yaml
  images/capi/packer/azure/.pipelines/test-vhd.yaml
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/scripts/new-disk-version.sh
  images/capi/packer/azure/scripts/new-sku.sh
  images/capi/packer/azure/ubuntu-1804-gen2.json
  images/capi/packer/azure/ubuntu-1804.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/digitalocean/ubuntu-1804.json
  images/capi/packer/gce/packer.json
  images/capi/packer/oci/packer.json
  images/capi/packer/oci/ubuntu-1804.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/ubuntu-1804.json
  images/capi/packer/qemu/qemu-ubuntu-1804.json
  images/capi/packer/raw/raw-ubuntu-1804.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Update qemu ubuntu-2204 image to use latest #1251
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Bump default k8s to 1.26.7
  docs/book/src/capi/capi.md
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Bump ansible to v2.15.3
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds

Bump Packer to v1.9.4
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds

support for flatcer container linux
  images/capi/packer/hcloud/flatcar.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/scripts/install-flatcar.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

provisioning wokrs
  images/capi/packer/hcloud/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

provisioning and snapshoting works for ubuntu and rockylinunx
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/hcloud.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/hcloud/centos-7.json
  images/capi/packer/hcloud/hcloud-config.json
  images/capi/packer/hcloud/rockylinux-8.json
  images/capi/packer/hcloud/rockylinux-9.json
  images/capi/packer/hcloud/ubuntu-2004.json
  images/capi/packer/hcloud/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

adding owners file
  images/capi/packer/hcloud/OWNERS
Due: pull-azure-vhds, pull-packer-validate

provisioning wokrs; snapshot creation fails
  images/capi/Makefile
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/hcloud/hcloud-config.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/hcloud/ubuntu-1804.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

adding label for caph
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

fix json sorting
  images/capi/packer/hcloud/hcloud-config.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/hcloud/rockylinux-8.json
  images/capi/packer/hcloud/rockylinux-9.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

install hcloud packer plugin in make-deps
  images/capi/Makefile
  images/capi/packer/hcloud/config.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

fix ci validation test
  images/capi/scripts/ci-packer-validate.sh
Due: pull-azure-vhds, pull-packer-validate

stop support for ubuntu 1804 due to EOL
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Update images/capi/ansible/roles/providers/tasks/hcloud.yml
  images/capi/ansible/roles/providers/tasks/hcloud.yml
Due: pull-ova-all, pull-azure-vhds

Update docker image base to Ubuntu jammy
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Remove unsupported SAC release
  images/capi/Makefile
  images/capi/ansible/windows/roles/runtimes/defaults/main.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/hack/image-build-ova.py
  images/capi/packer/ami/windows-2004.json
  images/capi/packer/azure/.pipelines/build-vhd.yaml
  images/capi/packer/azure/.pipelines/create-disk-version.yaml
  images/capi/packer/azure/.pipelines/create-sku.yaml
  images/capi/packer/azure/windows-2004.json
  images/capi/packer/ova/windows-2004.json
  images/capi/packer/ova/windows/windows-2004/autounattend.xml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Remove Windows 2004 from all providers
  images/capi/Makefile
  images/capi/ansible/windows/roles/runtimes/defaults/main.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/hack/image-build-ova.py
  images/capi/packer/ami/windows-2004.json
  images/capi/packer/azure/windows-2004.json
  images/capi/packer/ova/windows-2004.json
  images/capi/packer/ova/windows/windows-2004/autounattend.xml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Clean up references to Ubuntu 18.04
  docs/book/src/capi/providers/openstack.md
  docs/book/src/capi/providers/raw.md
Due: none

update windows reference template
  images/capi/packer/azure/scripts/test-templates/windows/kustomization.yaml
Due: pull-azure-vhds, pull-packer-validate

Update containerd to 1.6.23
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update digitalocean.md
  docs/book/src/capi/providers/digitalocean.md
Due: none

Adding support for qemu-ubuntu-2204-efi.
  docs/book/src/capi/providers/raw.md
  images/capi/Makefile
  images/capi/packer/qemu/linux/ubuntu/http/22.04.efi.qemu/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/22.04.efi.qemu/user-data
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Setting the right ubuntu link
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
