Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

Add OWNERS for Windows Ansible roles
  OWNERS_ALIASES
  images/capi/ansible/windows/OWNERS
Due: pull-azure-vhds

capg: add options to set a service account or disable the default one
  images/capi/packer/gce/ci/nightly/overwrite-1-18.json
  images/capi/packer/gce/ci/nightly/overwrite-1-19.json
  images/capi/packer/gce/ci/nightly/overwrite-1-20.json
  images/capi/packer/gce/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

bump linux kernel to 5.10 and containerd to 1.5.2
  images/capi/ansible/roles/dhc/tasks/debian.yml
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update debian.yml
  images/capi/ansible/roles/dhc/tasks/debian.yml
Due: pull-azure-vhds

Fix k8s.gcr.io URLs for container images
  docs/book/src/capi/container-image.md
Due: none

caas/containderd: fix cri-containerd-cni sha256sum
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update Azure "pub" tool to v0.3.2
  images/capi/packer/azure/scripts/new-disk-version.sh
  images/capi/packer/azure/scripts/new-sku.sh
Due: pull-azure-vhds, pull-packer-validate

Consistent cpu & ram capacity for all vsphere builders
  images/capi/packer/ova/packer-common.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Skip ovf export in vsphere-iso-base builder
  images/capi/packer/ova/packer-node.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

make enabling ipv6 during boot configurable
  images/capi/packer/ova/ubuntu-1804.json
  images/capi/packer/ova/ubuntu-2004-efi.json
  images/capi/packer/ova/ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Support CI for OVAs
  images/capi/packer/ova/packer-node.json
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Expose env var for setting container base image
  images/capi/Dockerfile
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Add CI script for container build
  images/capi/scripts/ci-container-image.sh
Due: pull-azure-vhds

Add support for SIG flatcar image
  images/capi/Makefile
  images/capi/ansible/python.yml
  images/capi/ansible/roles/python/defaults/main.yml
  images/capi/ansible/roles/python/tasks/flatcar.yml
  images/capi/ansible/roles/python/tasks/main.yml
  images/capi/packer/azure/flatcar.json
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Added windows optimisations and tidy up
  images/capi/ansible/windows/node_windows.yml
  images/capi/ansible/windows/roles/cloudbase-init/tasks/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/nssm.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/url.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/wins.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/executables.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/url.yml
  images/capi/ansible/windows/roles/runtimes/tasks/containerd.yml
  images/capi/ansible/windows/roles/runtimes/tasks/docker_ee.yml
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/hack/ensure-ansible-windows.sh
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-package.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

skip on RHEL before 8, merge before vacuum
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-azure-vhds

Bump containerd to v1.5.3
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

switch to distribution_major_version
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-azure-vhds

containerd: update to 1.5.3
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

capg: make capg node images available to use in another accounts
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds

images/capi/hack: use python3 for image-new-kube.py
  images/capi/hack/image-new-kube.py
Due: pull-azure-vhds

images/capi/hack: use dl.k8s.io for image-new-kube.py
  images/capi/hack/image-new-kube.py
Due: pull-azure-vhds

images/capi/hack: image-new-kube.py formatting nits
  images/capi/hack/image-new-kube.py
Due: pull-azure-vhds

use dl.k8s.io instead of kubernetes-release uri
  images/capi/ansible/windows/example.vars.yml
  images/capi/hack/serve_artifacts.go
  images/capi/packer/config/kubernetes.json
  images/kube-deploy/imagebuilder/templates/1.11-stretch.yml
  images/kube-deploy/imagebuilder/templates/1.12-stretch.yml
  images/kube-deploy/imagebuilder/templates/1.13-stretch.yml
  images/kube-deploy/imagebuilder/templates/1.14-stretch.yml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Can use newer versions of ansible with new windows package
  images/capi/hack/ensure-ansible-windows.sh
Due: pull-azure-vhds

Use newer windows packge for fixes
  images/capi/hack/ensure-ansible-windows.sh
  images/capi/hack/ensure-ansible.sh
Due: pull-azure-vhds

Use newer versions of Windows ansible package
  images/capi/hack/ensure-ansible.sh
Due: pull-azure-vhds

cleanup netplan files, cleanup journald
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-azure-vhds

restart timeout increase
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

bump containerd to 1.5.4
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add a script to delete unused Azure image storage
  images/capi/packer/azure/scripts/delete-unused-storage.sh
Due: pull-azure-vhds, pull-packer-validate

Add a "smoke test" job to Azure pipelines
  images/capi/packer/azure/.pipelines/smoke-test.yaml
Due: pull-azure-vhds, pull-packer-validate

caas/containerd: version bump to 1.5.4
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

capg: update k8s for 1.18/19/20 to use the latest releases
  images/capi/packer/gce/ci/nightly/overwrite-1-18.json
  images/capi/packer/gce/ci/nightly/overwrite-1-19.json
  images/capi/packer/gce/ci/nightly/overwrite-1-20.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

capg: add config for 1.21 release
  images/capi/packer/gce/ci/nightly/overwrite-1-21.json
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

lower concurrency for windows goss
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add containerd make target for ci
  images/capi/Makefile
  images/capi/ansible/windows/roles/runtimes/templates/config.toml
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/windows-2019-containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add Cilium to list of excluded nics
  images/capi/ansible/roles/providers/files/etc/vmware-tools/tools.conf
Due: pull-azure-vhds

Update kubeadm API version to v1beta2
  images/capi/ansible/roles/kubernetes/templates/etc/kubeadm.yml
  images/capi/cloudinit/user-data
Due: pull-azure-vhds
