Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

packer/outscale: add overwrite_existing config param
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate

fix package list on debian
  images/capi/ansible/roles/providers/tasks/outscale.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

packer/outscale: use public_ip to connect to builder
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate

Add ca-certificates-legacy to Azure Linux builds
  images/capi/ansible/roles/node/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add access_cfg_file and access_cfg_file_account for token auth
  images/capi/packer/oci/packer.json
Due: json-sort-check, pull-packer-validate

fix: update containerd installation and add runc configuration in maas packer template
  .ansible/.lock
  images/capi/packer/maas/packer.json.tmpl
Due: pull-packer-validate

fix: update containerd and add runc configuration in maas packer template
  images/capi/packer/maas/packer.json.tmpl
Due: pull-packer-validate

Revert "fix: 🐛 Make kubelet log redirection optional for windows"
  images/capi/ansible/windows/roles/kubernetes/defaults/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

fix: Ensure correct architecture containerd/runc is downloaded
  docs/book/src/capi/providers/oci.md
  images/capi/ansible/node.yml
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/ecr_credential_provider/defaults/main.yml
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/ansible/roles/kubernetes/tasks/crictl-url.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
  images/capi/ansible/windows/node_windows.yml
  images/capi/packer/ami/flatcar-arm64.json
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/config/kubernetes.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Don't fail Photon 5 if tdnf cache timer doesn't exist
  images/capi/ansible/roles/node/tasks/photon.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: Ensure containerd_sha256 is not required
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

fix: Ensure kubernetes_goarch is settable
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: Ensure kubernetes_goarch is settable but not set as default
  images/capi/packer/config/kubernetes.json
  images/capi/packer/hcloud/flatcar-arm64.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

fix: Ensure CNI plugin download URL is properly formed
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/packer/ami/flatcar-arm64.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/cni.json
  images/capi/packer/config/ppc64le/cni.json
  images/capi/packer/hcloud/flatcar-arm64.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

fix: Ansible linting
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: JSON sorting
  images/capi/packer/hcloud/flatcar-arm64.json
Due: json-sort-check, pull-packer-validate

fix: Set sane default for kubernetes_goarch if necessary
  images/capi/ansible/roles/kubernetes/defaults/main.yml
  images/capi/ansible/roles/kubernetes/tasks/url.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat: Use sha256sum file for runc verification
  docs/book/src/capi/providers/oci.md
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Add Ubuntu 24.04 LTS for Vultr
  README.md
  docs/book/src/capi/providers/vultr.md
  images/capi/Makefile
  images/capi/packer/vultr/packer.json
  images/capi/packer/vultr/ubuntu-2204.json
  images/capi/packer/vultr/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

fix: set explicit file permissions and add task names
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/load_additional_components/tasks/url.yml
  images/capi/ansible/roles/node/tasks/photon.yml
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/nutanix-redhat.yml
  images/capi/ansible/roles/providers/tasks/nutanix-ubuntu.yml
  images/capi/ansible/roles/providers/tasks/nutanix.yml
  images/capi/ansible/roles/providers/tasks/vmware-photon.yml
  images/capi/ansible/roles/providers/tasks/vmware-ubuntu.yml
  images/capi/ansible/roles/setup/tasks/flatcar.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/windows/node_windows.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Remove deprecated pod-infra-container-image flag
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/ansible/windows/roles/kubernetes/templates/RestartKubelet.ps1
  images/capi/ansible/windows/roles/kubernetes/templates/StartKubelet.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix broken URL links and filenames
  docs/book/src/capi/providers/aws.md
Due: none

feat: flatcar disable usb
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/tasks/flatcar.yml
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: Ensure containerd_sha256 is not required
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

fix: update containerd installation and add runc configuration in maas packer template
  images/capi/packer/maas/packer.json.tmpl
Due: pull-packer-validate

call parent method to prevent infinite recursion
  images/capi/ansible/roles/providers/files/usr/lib/python3/dist-packages/cloudinit/sources/DataSourceEc2Kubernetes.py
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all
