Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/packer/azure/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/hack/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

Add ubuntu pipeline stub
  deploy/pipelines/ubuntu-2004.yml
Due: none

Bump OVA template version used for Photon CI
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Add support for Arm based images in OCI
  docs/book/src/capi/providers/oci.md
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
Due: pull-azure-vhds

capz: add Flatcar azure GOSS var
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Install nfs-common package for Azure image
  images/capi/ansible/roles/providers/tasks/azure.yml
Due: pull-azure-vhds

remove admin user when creating custom user
  images/capi/ansible/windows/roles/cloudbase-init/templates/cloudbase-init.conf
Due: pull-azure-vhds

feat: allow overriding volume_type and throughput
  images/capi/packer/ami/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

feat: allow specifying instance_type as variable
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

fix(windows): custom role arguments passing
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/windows/ansible-args-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

doc: add OCI to CAPI provider list
  docs/book/src/capi/capi.md
Due: none

Make al-2 images immutable by disabling security updates on boot. Disable security update on first boot
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/tasks/amazonLinux2.yml
  images/capi/packer/ami/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Added support for opensuse 15.3 Cloud image
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-azure-vhds

make the diff to upstream as small as possible
  images/capi/ansible/node.yml
  images/capi/ansible/roles/providers/files/debian/DataSourceOpenStack.patch
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/05_logging.cfg
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
  images/capi/packer/config/kubernetes.json
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/qemu/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix: windows goss wrong provider on AWS
  images/capi/packer/ami/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Switch kubernetes_container_registry to registry.k8s.io
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Install Azure Key Vault plugin if configured
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/node_windows.yml
  images/capi/ansible/windows/roles/gmsa/defaults/main.yml
  images/capi/ansible/windows/roles/gmsa/files/install-gmsa-keyvault-plugin.ps1
  images/capi/ansible/windows/roles/gmsa/tasks/gmsa_keyvault.yml
  images/capi/ansible/windows/roles/gmsa/tasks/main.yml
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/goss/goss-command.yaml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Modify permission of SSH folder
  images/capi/ansible/windows/roles/systemprep/tasks/ssh-archive.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/config/windows/common.json
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add ssh_source_url to all windows packer
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/vbox/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix(AWS): add SSH key to windows images
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

disable Hyper-V KVP protocol daemon on GCE ubuntu images
  images/capi/ansible/roles/providers/tasks/googlecompute.yml
Due: pull-azure-vhds

Add ability to supply global pip config file
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix tdnf install in firstboot role
  images/capi/ansible/roles/firstboot/meta/main.yml
  images/capi/ansible/roles/setup/tasks/photon.yml
Due: pull-azure-vhds

Add missing comma in vsphere.md
  docs/book/src/capi/providers/vsphere.md
Due: none

Absolute in Windows kubelet don't work < 1.23
  images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml
Due: pull-azure-vhds

containerd: update to v1.6.2
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add support for RHEL 8 Raw image builds
  images/capi/Makefile
  images/capi/packer/ova/linux/centos/http/8/ks.cfg
  images/capi/packer/ova/rhel-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

images/capi/packer/azure: pass image_version from user to sig builder
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

images/capi/packer/azure/flatcar.json: specify image version
  images/capi/packer/azure/flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

images/capi/ansible/roles/setup: override ansible_os_family for Flatcar
  images/capi/ansible/roles/setup/tasks/bootstrap-flatcar.yml
  images/capi/ansible/roles/setup/tasks/main.yml
Due: pull-azure-vhds

images/capi/ansible/roles/setup: remove redundant Flatcar condition
  images/capi/ansible/roles/setup/tasks/flatcar.yml
Due: pull-azure-vhds

images/capi/ansible: add some comments on inconsistencies and config
  images/capi/ansible/python.yml
  images/capi/ansible/roles/python/tasks/main.yml
Due: pull-azure-vhds

hack/ensure-ansible.sh: install collections in batch
  images/capi/hack/ensure-ansible.sh
Due: pull-azure-vhds

packer/azure/scripts/init-sig.sh: remove trailing whitespace
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-packer-validate

images/capi: create only built Azure SIG image definitions
  images/capi/Makefile
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-packer-validate

qemu: Fix Flatcar build
  images/capi/Makefile
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/qemu-centos-7.json
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Remove deprecated HAProxy OVA
  images/capi/Makefile
  images/capi/ansible/haproxy.yml
  images/capi/ansible/roles/haproxy/defaults/main.yml
  images/capi/ansible/roles/haproxy/files/etc/haproxy/haproxy.cfg
  images/capi/ansible/roles/haproxy/files/etc/systemd/system/haproxy.service.d/cloud-init.conf
  images/capi/ansible/roles/haproxy/meta/main.yml
  images/capi/ansible/roles/haproxy/tasks/main.yml
  images/capi/hack/image-build-ova.py
  images/capi/hack/image-upload.py
  images/capi/packer/ova/packer-haproxy.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

feat: expose security group and ssh variables in capi packer ami
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Separate OVA CI logs into separate files
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Add support for RHEL 8 OVA builds
  images/capi/Makefile
  images/capi/hack/generate-goss-specs.py
  images/capi/hack/image-build-ova.py
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/goss/README.md
  images/capi/packer/goss/goss-package.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/linux/centos/http/8/ks.cfg
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/rhel-8.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

ami: Use cloud-init only on supported distros
  images/capi/packer/ami/flatcar.json
  images/capi/packer/ami/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
