Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/packer/azure/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/hack/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

Do not display skipped ansible tasks
  images/capi/ansible.cfg
Due: pull-azure-vhds

Windows: burrito server and README
  images/capi/hack/README.md
  images/capi/hack/serve_artifacts.go
Due: pull-azure-vhds

add OWNERS file and OWNERS_ALIASES for ibmcloud
  OWNERS_ALIASES
  images/capi/packer/ibmcloud/OWNERS
Due: pull-azure-vhds, pull-packer-validate

Fix typo and add wide version of Azure logo
  images/capi/packer/azure/sku-template.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

initial changes to support ibm cloud vpc images
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
Due: none

Bump packer-provisioner-goss to 3.0.3 & packer to 1.7.2
  images/capi/hack/ensure-goss.sh
  images/capi/hack/ensure-packer.sh
Due: pull-azure-vhds

build qcow2 images for IBM Cloud VPC
  OWNERS_ALIASES
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/ibmcloudvpc.md
  images/capi/Makefile
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config_ibmcloud.toml
  images/capi/packer/ibmcloud/OWNERS
  images/capi/packer/ibmcloud/packer.json
  images/capi/packer/ibmcloud/qemu-ibmcloud-ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Initial Version of subiquity-based builds for OVAs replaces old 20.04 builder
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/hack/image-build-ova.py
  images/capi/hack/ovf_template.xml
  images/capi/packer/ova/linux/ubuntu/http/20.04/meta-data
  images/capi/packer/ova/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/ova/linux/ubuntu/http/20.04/user-data
  images/capi/packer/ova/packer-common.json
  images/capi/packer/ova/packer-haproxy.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add extra newline to comply with json sort check
  images/capi/packer/ova/ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Adding Windows Goss support
  docs/book/src/capi/goss/goss.md
  images/capi/Makefile
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-kernel-params.yaml
  images/capi/packer/goss/goss-package.yaml
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/goss/goss.yaml
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add EFI Support
  images/capi/Makefile
  images/capi/hack/image-build-ova.py
  images/capi/hack/ovf_template.xml
  images/capi/packer/ova/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/ova/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/ova/packer-common.json
  images/capi/packer/ova/packer-haproxy.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/ubuntu-2004-efi.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

remove default settings
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-azure-vhds

Add 'load_additional_components' role
  docs/book/src/capi/capi.md
  images/capi/Makefile
  images/capi/ansible/node.yml
  images/capi/ansible/roles/load_additional_components/defaults/main.yml
  images/capi/ansible/roles/load_additional_components/tasks/executables.yml
  images/capi/ansible/roles/load_additional_components/tasks/main.yml
  images/capi/ansible/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/roles/load_additional_components/tasks/url.yml
  images/capi/packer/config/additional_components.json
  images/capi/packer/config/ansible-args.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix apt-daily services and add GOSS tests
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Use Azure STORAGE_ACCOUNT_NAME env if set during init-vhd Update docs
  docs/book/src/capi/providers/azure.md
  images/capi/packer/azure/scripts/init-vhd.sh
Due: pull-azure-vhds, pull-packer-validate

Added missing firmware from post processors
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

bump containerd to v1.5.0
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add option to set windows kube bins to fetch
  images/capi/ansible/windows/roles/kubernetes/defaults/main.yml
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/config/windows/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

bump containerd version to v1.5.1
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

add owners file for windows
  images/capi/ansible/windows/OWNERS.md
Due: pull-azure-vhds

Bump base K8s version to v1.19.11
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

gce: add scripts for CI test
  images/capi/hack/ensure-boskosctl.sh
  images/capi/hack/ensure-go.sh
  images/capi/scripts/ci-gce.sh
Due: pull-azure-vhds

gce: add scripts for CI nightly builds
  images/capi/packer/gce/ci/nightly/README.md
  images/capi/packer/gce/ci/nightly/overwrite-1-18.json
  images/capi/packer/gce/ci/nightly/overwrite-1-19.json
  images/capi/packer/gce/ci/nightly/overwrite-1-20.json
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Fix a typo: commmand
  v1/api/image.go
Due: none

pass IB_OVFTOOL_ARGS env value if set to ovftool to build ova
  docs/book/src/capi/providers/vsphere.md
  images/capi/hack/image-build-ova.py
Due: pull-azure-vhds

add windows additional components
  images/capi/Makefile
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/node_windows.yml
  images/capi/ansible/windows/roles/load_additional_components/defaults/main.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/executables.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/main.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/url.yml
  images/capi/ansible/windows/roles/runtimes/tasks/containerd.yml
  images/capi/ansible/windows/roles/runtimes/tasks/docker_ee.yml
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/windows-2019.json
  images/capi/packer/config/windows/ansible-args-windows.json
  images/capi/packer/config/windows/common.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

bump containerd version to v1.5.2
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Bump containerd version to 1.5.2
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

locked ansible base version
  images/capi/hack/ensure-ansible.sh
Due: pull-azure-vhds

capg/nightly: remove check credentials
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds

add ansible_user_vars as a way to pass user defined variable to ansible
  docs/book/src/capi/capi.md
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Disable GOSS inspect mode for CI tests
  images/capi/scripts/ci-azure-e2e.sh
  images/capi/scripts/ci-disable-goss-inspect.json
  images/capi/scripts/ci-gce.sh
Due: pull-azure-vhds, json-sort-check

fixes for generating azure gen2 images
  images/capi/Makefile
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/ubuntu-1804-gen2.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Building ova using ovftool errors out when no args are set.
  images/capi/hack/image-build-ova.py
Due: pull-azure-vhds

Increase the /tmp size from 1Gb to 5Gb during image building process to accomodate downloading of additional components in later roles
  images/capi/ansible/roles/setup/tasks/photon.yml
Due: pull-azure-vhds

Prevent custom iptables rules getting overwritten by sysprep
  images/capi/ansible/roles/setup/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
Due: pull-azure-vhds

Fix for multiple lines returned for Azure OS_DISK_URI
  images/capi/packer/azure/.pipelines/generate-sas.yaml
Due: pull-azure-vhds, pull-packer-validate

Add more user configurable goss provisioner options
  docs/book/src/capi/goss/goss.md
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/goss-args.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
