Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Patch feature flags directly into cloud-init code since newer versions do not load `feature_overrides.py` anymore
  images/capi/ansible/roles/providers/files/cloud-init-features.patch
  images/capi/ansible/roles/providers/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Install AWS CLI with --update flag
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
Due: pull-ova-all, pull-azure-vhds

Update guest types for VMware Windows 2019 and 2022 OVA
  images/capi/hack/image-build-ova.py
  images/capi/packer/ova/windows-2019-efi.json
  images/capi/packer/ova/windows-2019.json
  images/capi/packer/ova/windows-2022-efi.json
  images/capi/packer/ova/windows-2022.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

fix: unrooted path for 90proxy file
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

Fix timesyncd support in latest Flatcar release for Azure
  images/capi/ansible/roles/providers/tasks/azure.yml
Due: pull-ova-all, pull-azure-vhds

Pin base container image to Ubuntu 24.04
  images/capi/Dockerfile
Due: pull-container-image-build

Updated docs for release v0.1.34
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Ensure systemd-timesyncd service is started on Flatcar
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/roles/setup/tasks/flatcar.yml
Due: pull-ova-all, pull-azure-vhds

Disable Goss inspect_mode to have validation failures fail the image build
  images/capi/packer/config/goss-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

feat: proxmox rockylinux 9
  images/capi/Makefile
  images/capi/packer/proxmox/linux/rockylinux/http/9/ks.cfg
  images/capi/packer/proxmox/packer.json
  images/capi/packer/proxmox/rockylinux-9.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Update Ubuntu 24.04 to latest (pinned) ISO
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
  images/capi/packer/proxmox/ubuntu-2404.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

start and enable networkd-dispatcher during proxmox build
  images/capi/ansible/roles/providers/tasks/proxmox.yml
Due: pull-ova-all, pull-azure-vhds

add disk size and type to gcs/packer.json
  images/capi/packer/gce/packer.json
Due: json-sort-check, pull-packer-validate

Add vnc_bind_address var to QEMU builder
  images/capi/packer/qemu/packer.json
Due: json-sort-check, pull-packer-validate

Update Ubuntu 22.04 to latest point release and checksum
  images/capi/packer/ova/ubuntu-2204-efi.json
  images/capi/packer/ova/ubuntu-2204.json
  images/capi/packer/proxmox/ubuntu-2204.json
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Update docs for release v0.1.35
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Fix Goss variables for RHEL-based images
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Add optional support for including ecr-credential-provider
  docs/book/src/SUMMARY.md
  docs/book/src/capi/ecr-credential-provider.md
  images/capi/.ansible-lint-ignore
  images/capi/Makefile
  images/capi/ansible/node.yml
  images/capi/ansible/roles/ecr_credential_provider/defaults/main.yml
  images/capi/ansible/roles/ecr_credential_provider/tasks/main.yaml
  images/capi/ansible/roles/ecr_credential_provider/templates/var/usr/ecr-credential-provider/ecr-credential-provider-config
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/ecr_credential_provider.json
  images/capi/packer/config/windows/ansible-args-windows.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Updated docs for release v0.1.36
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

cleanup: Use artifacts.k8s.io instead of storage.googleapis.com for ECR credential provider
  .gitignore
  images/capi/ansible/roles/ecr_credential_provider/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

fix(qemu-ubuntu-2404): update URL to 24.04.1 image
  images/capi/packer/qemu/qemu-ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

outscale: user can define vm_type
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate

feature: add qemu-ubuntu-2404-efi
  images/capi/Makefile
  images/capi/packer/qemu/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/24.04.efi/user-data
  images/capi/packer/qemu/qemu-ubuntu-2404 copy.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

fix filename
  images/capi/packer/qemu/qemu-ubuntu-2404-efi.json
Due: json-sort-check, pull-packer-validate

Add WS2025 SIG image - Adds commands for Windows Server 2025 SIG images - Adds Purchase Plan info for Azure Market Place Images
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/windows-2025-containerd.json
  images/capi/packer/config/goss-args.json
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

retry-timeout: 180s instead of 480s.
  images/capi/packer/config/goss-args.json
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

chore(ubuntu-2404): add ubuntu 24.04 template files and make target
  images/capi/Makefile
  images/capi/packer/qemu/qemu-ubuntu-2404-crio.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Bump default Kubernetes to 1.30.5
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add pipeline for Azure community gallery image publishing
  images/capi/packer/azure/.pipelines/build-sig.yaml
  images/capi/packer/azure/.pipelines/promote-sig.yaml
  images/capi/packer/azure/.pipelines/sig-publishing-info.yaml
  images/capi/packer/azure/.pipelines/stages.yaml
  images/capi/packer/azure/.pipelines/test-sig.yaml
  images/capi/packer/azure/config.pkr.hcl
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Delete existing version before re-publishing
  images/capi/packer/azure/.pipelines/promote-sig.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Remove cruft
  images/capi/packer/azure/.pipelines/build-sig.yaml
  images/capi/packer/azure/.pipelines/build-vhd.yaml
  images/capi/packer/azure/.pipelines/cleanup.yaml
  images/capi/packer/azure/.pipelines/create-disk-version.yaml
  images/capi/packer/azure/.pipelines/create-sku.yaml
  images/capi/packer/azure/.pipelines/delete-storage-account.yaml
  images/capi/packer/azure/.pipelines/generate-sas.yaml
  images/capi/packer/azure/.pipelines/smoke-test.yaml
  images/capi/packer/azure/.pipelines/test-vhd.yaml
  images/capi/packer/azure/.pipelines/vhd-publishing-info.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

ensure ansible uses bash when adding credential provider flags
  images/capi/ansible/roles/ecr_credential_provider/tasks/main.yaml
Due: pull-ova-all, pull-azure-vhds

Use external googlecompute packer plugin
  images/capi/packer/qemu/config.pkr.hcl
Due: pull-packer-validate

Create config.pkr.hcl
  images/capi/packer/gce/config.pkr.hcl
Due: pull-packer-validate

Discard changes to images/capi/packer/qemu/config.pkr.hcl
  images/capi/packer/qemu/config.pkr.hcl
Due: pull-packer-validate

fix: update packer qemu plugin name
  images/capi/packer/qemu/config.pkr.hcl
Due: pull-packer-validate

Update config.pkr.hcl
  images/capi/packer/oci/config.pkr.hcl
Due: pull-packer-validate

Update config.pkr.hcl
  images/capi/packer/outscale/config.pkr.hcl
Due: pull-packer-validate

Update Makefile
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

GCE: use n2-standard-2 machine type
  images/capi/packer/gce/packer.json
Due: json-sort-check, pull-packer-validate
