Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/packer/azure/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/hack/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

Use the legacy SCP protocol instead of SFTP
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

use pause image from mcr.microsoft.com for azure images
  images/capi/Makefile
  images/capi/packer/azure/common.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

added packer init to download nutanix provider till it becomes mainstream
  images/capi/Makefile
  images/capi/packer/nutanix/config.pkr.hcl
Due: pull-azure-vhds, pull-packer-validate

Workaround scp behaviour in OpenSSH 9.0
  images/capi/packer/qemu/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Bump versions to build images for Kubernetes 1.24.2
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Support Flatcar OVA images
  docs/book/src/capi/goss/goss.md
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/vmware.yml
  images/capi/hack/image-build-ova.py
  images/capi/hack/image-upload.py
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/flatcar.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/photon-3.json
  images/capi/packer/ova/rockylinux-8.json
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Initial support for building on OpenStack
  images/capi/Makefile
  images/capi/packer/openstack/OWNERS
  images/capi/packer/openstack/linux/centos/http/7/ks.cfg
  images/capi/packer/openstack/linux/centos/http/8/ks.cfg
  images/capi/packer/openstack/linux/photon/http/3/ks.json
  images/capi/packer/openstack/linux/rhel/http/7/ks.cfg
  images/capi/packer/openstack/linux/rhel/http/8/ks.cfg
  images/capi/packer/openstack/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/openstack/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/qemu-centos-7.json
  images/capi/packer/openstack/qemu-flatcar.json
  images/capi/packer/openstack/qemu-rhel-8.json
  images/capi/packer/openstack/qemu-rockylinux-8.json
  images/capi/packer/openstack/qemu-ubuntu-1804.json
  images/capi/packer/openstack/qemu-ubuntu-2004-efi.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

expose advanced packer googlecompute auth options to users
  images/capi/packer/gce/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

expose 'access_token' option of googlecompute packer builder as user_var
  images/capi/packer/gce/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

update packer to latest 1.7.x minor
  images/capi/hack/ensure-packer.sh
Due: pull-azure-vhds

Bump photon-3 builds to use latest rev3-u1 ISO
  images/capi/packer/ova/photon-3.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

also install devsec hardening collection
  images/capi/hack/ensure-ansible.sh
Due: pull-azure-vhds

Build RHEL-8 OVA Add OVA goss tests
  images/capi/Makefile
  images/capi/hack/generate-goss-specs.py
  images/capi/hack/image-build-ova.py
  images/capi/packer/goss/goss-package.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/linux/centos/http/8/ks.cfg
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/rhel-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

add extra oci builder properties
  images/capi/packer/oci/packer.json
  images/capi/packer/oci/ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Sort and add more packer oci builder properties
  images/capi/packer/oci/packer.json
  images/capi/packer/oci/ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

feat: expose os_disk_size_db to allow overriding
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

upgrade packer to 1.8.3
  images/capi/hack/ensure-packer.sh
Due: pull-azure-vhds

fix: image name different among runtimes
  images/capi/packer/azure/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

feat: allow setting storage_account_type
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

retry apt when locked
  images/capi/ansible/roles/setup/tasks/debian.yml
Due: pull-azure-vhds

oci: wait for cloud-final to finish before installing private repos
  images/capi/ansible/roles/setup/tasks/debian.yml
Due: pull-azure-vhds

Use PubkeyAcceptedKeyTypes for backward-compatibility
  images/capi/packer/config/ansible-args.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

upgrade pip to latest for azure-cli installation
  images/capi/ansible/roles/providers/tasks/debian.yml
Due: pull-azure-vhds

fix: updated image registry to new domain
  images/capi/cloudinit/user-data
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Specify coredns repository override
  images/capi/ansible/roles/kubernetes/templates/etc/kubeadm.yml
Due: pull-azure-vhds

add goss checks for oci targets
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/oci/oracle-linux-8.json
  images/capi/packer/oci/packer.json
  images/capi/packer/oci/ubuntu-1804.json
  images/capi/packer/oci/ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

images/capi/packer/azure: allow excluding SIG images from latest version
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

images/capi/packer/azure: fix specifying multiple replication regions
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

fix: updated image registry to new domain (#956)
  images/capi/ansible/roles/kubernetes/templates/etc/kubeadm.yml
  images/capi/cloudinit/user-data
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Set default Flatcar version to "current"
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Remove outdated Flatcar-specific README
  images/capi/README-flatcar.md
Due: pull-azure-vhds

Support setting oem_id for Flatcar QEMU images
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/qemu-flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

fix: 🐛 Update pyOpenSSL to latest
  images/capi/ansible/roles/providers/tasks/debian.yml
Due: pull-azure-vhds

Add timeout and retry when installing baseline dependencies.
  images/capi/ansible/roles/setup/tasks/debian.yml
Due: pull-azure-vhds

Bump k8s version to 1.23.10-0
  docs/book/src/capi/capi.md
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix Flatcar detection in node role
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-azure-vhds

Align external_binary_path setting between roles
  images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/ansible/roles/setup/tasks/bootstrap-flatcar.yml
Due: pull-azure-vhds

Update references following Flatcar GH org rename
  images/capi/hack/boxes-flatcar.sh
  images/capi/hack/ensure-ct.sh
  images/capi/hack/image-build-flatcar.sh
  images/capi/packer/goss/goss-service.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Update Flatcar website domain in docs
  images/capi/hack/image-build-flatcar.sh
  images/capi/hack/image-grok-latest-flatcar-version.sh
  images/capi/packer/files/flatcar/README.md
Due: pull-azure-vhds, pull-packer-validate

Expose AWS_SESSION_TOKEN as a user variable
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
