Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

fix(capi): upload immutable runtime helper via packer script, fail on real stop errors
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/scripts/stop_immutable_runtime_services.sh
  images/capi/packer/qemu/scripts/stop_immutable_runtime_services_test.py
Due: pull-packer-validate

Use Ubuntu 24.04 point release ISO URLs
  images/capi/packer/maas/maas-ubuntu-2404-arm64.json
  images/capi/packer/maas/maas-ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/ubuntu-2404-efi.json
  images/capi/packer/proxmox/ubuntu-2404.json
  images/capi/packer/qemu/qemu-ubuntu-2404-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2404.json
  images/capi/packer/raw/raw-ubuntu-2404-efi.json
  images/capi/packer/raw/raw-ubuntu-2404.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

capi: add node conformance CI helper
  docs/book/src/capi/node-conformance.md
  images/capi/scripts/ci-qemu-node-conformance.sh
Due: none

capi: preserve CRI images during node conformance
  images/capi/.gitignore
  images/capi/hack/run-e2e-node-conformance.sh
Due: none

capi: add qemu node conformance validation hook
  docs/book/src/SUMMARY.md
  docs/book/src/capi/node-conformance.md
  images/capi/Makefile
  images/capi/hack/run-e2e-node-conformance.sh
  images/capi/packer/config/node-conformance.json
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

capi: always overwrite node-conformance summary.env on failure
  images/capi/hack/run-e2e-node-conformance.sh
  images/capi/packer/config/node-conformance.json
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/scripts/ci-qemu-node-conformance.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: run node conformance Serial tests by default
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-packer-validate

capi: fail fast when containerd_version overrides bundled service unit
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: render containerd service unit locally
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/systemd/system/containerd.service
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/maas/packer-arm64.json.tmpl
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer-flatcar.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/oxide/packer.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all

capi: install containerd service unit world-readable
  images/capi/ansible/roles/containerd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: allow diverging containerd version pins in service template updater
  images/capi/hack/update-containerd-service-template.py
Due: none

capi: verify bundled containerd service template
  images/capi/Makefile
  images/capi/hack/update-containerd-service-template.py
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: update containerd service template for dependabot
  .github/workflows/README.md
  .github/workflows/update-containerd-service-template.yaml
Due: none

capi: initialize GCE CI test status
  images/capi/scripts/ci-gce.sh
Due: pull-gcp-all

capi: preserve GCE CI build failures
  images/capi/scripts/ci-gce.sh
Due: pull-gcp-all

capi: validate release-pinned entries match their selector minor
  images/capi/hack/kubernetes-version-matrix.py
Due: none

capi: add Kubernetes minor version matrix
  .github/dependabot.yml
  .github/workflows/update-kubernetes-version-matrix.yaml
  docs/book/src/SUMMARY.md
  docs/book/src/capi/kubernetes-version-matrix.md
  images/capi/hack/kubernetes-version-matrix.py
  images/capi/packer/config/kubernetes-version-dependencies/latest/go.mod
  images/capi/packer/config/kubernetes-version-dependencies/release-1-31/go.mod
  images/capi/packer/config/kubernetes-version-dependencies/release-1-32/go.mod
  images/capi/packer/config/kubernetes-version-dependencies/release-1-33/go.mod
  images/capi/packer/config/kubernetes-version-dependencies/release-1-34/go.mod
  images/capi/packer/config/kubernetes-version-dependencies/release-1-35/go.mod
  images/capi/packer/config/kubernetes-version-dependencies/release-1-36/go.mod
  images/capi/packer/config/kubernetes-version-latest.yaml
  images/capi/packer/config/kubernetes-version-matrix.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: preserve trap and Boskos release failures in GCE CI cleanup
  images/capi/scripts/ci-gce.sh
Due: pull-gcp-all

capi: drop kubernetes/CNI source-type from version matrix
  docs/book/src/capi/kubernetes-version-matrix.md
  images/capi/hack/kubernetes-version-matrix.py
  images/capi/packer/config/kubernetes-version-latest.yaml
  images/capi/packer/config/kubernetes-version-matrix.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

capi: ignore no-changed-when for new CNI package install task
  images/capi/.ansible-lint-ignore
Due: pull-lint

Reset machine-id on Azure Linux during sysprep
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: retry Azure Linux tdnf installs on transient mirror failures
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: retry Azure SIG builds on transient replication storage errors
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

capi: wire containerd service template verification into pull-packer-validate
  images/capi/scripts/ci-packer-validate.sh
Due: pull-packer-validate

capi: document kubernetes-cni package/tarball overlay on the default path
  docs/book/src/capi/capi.md
Due: none

Fix Ansible roles for Azure Linux 4 compatibility
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azurecli.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add Azure Linux 4 Gen2 Azure SIG target
  README.md
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/azurelinux-4-gen2.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Fix ansible-lint no-changed-when on libdnf5 raw task
  images/capi/ansible/roles/setup/tasks/azurelinux.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Disable firewalld on Azure Linux to allow Kubernetes API server traffic
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: add qemu Ubuntu immutable target (#2092)
  docs/book/src/SUMMARY.md
  docs/book/src/capi/immutable-qemu.md
  images/capi/Makefile
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/user-data.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/scripts/configure_immutable_runtime.sh
  images/capi/packer/qemu/scripts/configure_immutable_runtime_test.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall_test.py
  images/capi/packer/qemu/scripts/stop_immutable_runtime_services.sh
  images/capi/packer/qemu/scripts/stop_immutable_runtime_services_test.py
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Revert "capi: use dpkg selections in Debian sysprep"
  images/capi/ansible/roles/sysprep/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Enable VVTD in generated OVFs
  images/capi/hack/ovf_template.xml
Due: none

fix: ansible-lint var-naming
  images/capi/ansible/roles/disabled_kernel_modules/defaults/main.yml
  images/capi/ansible/roles/disabled_kernel_modules/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Handle optional Azure Linux services safely
  images/capi/ansible/roles/kubernetes/tasks/azurelinux.yml
  images/capi/ansible/roles/providers/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Fix RockyLinux 9 qemu kickstart repo baseurl
  images/capi/packer/qemu/linux/rockylinux/http/9/ks.cfg.tmpl
Due: pull-packer-validate

fix: bump kubeadm
  images/capi/ansible/roles/kubernetes/templates/etc/kubeadm.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all
