Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

feat: add support to containerd 2.0
  docs/book/src/capi/providers/oci.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

fix: use containerd_version variable to download the appropriate containerd.service
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

feat(ami): add Flatcar arm64 support
  docs/book/src/capi/providers/aws.md
  images/capi/Makefile
  images/capi/packer/ami/amazon-2.json
  images/capi/packer/ami/amazon-2023.json
  images/capi/packer/ami/centos-7.json
  images/capi/packer/ami/flatcar-arm64.json
  images/capi/packer/ami/packer.json
  images/capi/packer/ami/rhel-8.json
  images/capi/packer/ami/rockylinux-8.json
  images/capi/packer/ami/ubuntu-2004.json
  images/capi/packer/ami/ubuntu-2204.json
  images/capi/packer/ami/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Ansible: stopp rsyslog service iff installed
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Update docs for v0.1.43
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

fix: ssh handshake failed error for raw and qemu target
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
Due: pull-packer-validate

feat: 🎸 Add ability to run playbooks post sysprep
  images/capi/ansible/node.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Added a job to cleanup old AMI. Started working on the script to handle the cleanup action. Updated the packer file to reduce the number of regions an image is copied to.
  .github/workflows/image-ami-builds.yaml
  images/capi/packer/ami/ubuntu-2404.json
  images/capi/scripts/cleanup_outdated_ami.sh
Due: json-sort-check, pull-packer-validate

Updated the logic to get the live version of the clusters
  images/capi/scripts/cleanup_outdated_ami.sh
Due: none

WIP: Testing cleanup workflow and script for outdated amis
  .github/workflows/image-ami-builds.yaml
  images/capi/scripts/cleanup_outdated_ami.sh
Due: none

Use full role paths in playbooks
  images/capi/ansible/playbooks/firstboot.yml
  images/capi/ansible/playbooks/node.yml
  images/capi/ansible/playbooks/python.yml
  images/capi/ansible/windows/README.md
  images/capi/ansible/windows/playbooks/node_windows.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat: 🎸 Allow overriding buildkit syntax
  images/capi/Dockerfile
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

update gcp nightly job
  images/capi/packer/gce/ci/nightly/overwrite-1-29.json
  images/capi/packer/gce/ci/nightly/overwrite-1-30.json
  images/capi/packer/gce/ci/nightly/overwrite-1-31.json
  images/capi/packer/gce/ci/nightly/overwrite-1-32.json
  images/capi/packer/gce/ci/nightly/overwrite-1-33.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

feat: 🎸 Add ability to run playbooks post sysprep
  images/capi/ansible/node.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
  images/capi/scripts/ci-disable-goss-inspect.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Address the comments
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/ansible/windows/roles/kubernetes/templates/RestartKubelet.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Use correct user value for AMI Name tag
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

Bump packer-plugin-powervs to 0.2.10
  images/capi/hack/ensure-powervs.sh
Due: none

Update docs for v0.1.44
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Fix a few typos
  images/capi/ansible/windows/roles/kubernetes/templates/RestartKubelet.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add support for Canonical MaaS Provider
  OWNERS_ALIASES
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/maas.md
  docs/book/src/glossary.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/files/maas/curtin/NOTICE.md
  images/capi/ansible/roles/providers/files/maas/curtin/curtin-hooks
  images/capi/ansible/roles/providers/files/maas/curtin/install-custom-packages
  images/capi/ansible/roles/providers/files/maas/curtin/setup-bootloader
  images/capi/ansible/roles/providers/tasks/maas-ubuntu.yml
  images/capi/ansible/roles/providers/tasks/maas.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/packer/maas/.gitignore
  images/capi/packer/maas/OWNERS
  images/capi/packer/maas/README.md
  images/capi/packer/maas/cloud-init/meta-data
  images/capi/packer/maas/cloud-init/user-data.tmpl
  images/capi/packer/maas/config.pkr.hcl
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi.qemu/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi.qemu/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/22.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/23.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/base/preseed-efi.cfg.tmpl
  images/capi/packer/maas/linux/ubuntu/http/base/preseed.cfg.tmpl
  images/capi/packer/maas/maas-ubuntu-2204-efi.json
  images/capi/packer/maas/maas-ubuntu-2404-efi.json
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/maas/scripts/generate-maas-image.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Updated workflow to use argocd as the point of access to get the live k8s cluster versions.
  .github/workflows/image-ami-builds.yaml
Due: none

Removed the cleanup_outdated_ami.sh script since we update the github workflow to use argocd to get the cluster k8s version
  .github/workflows/image-ami-builds.yaml
  images/capi/scripts/cleanup_outdated_ami.sh
Due: none

Update office hour notes link
  README.md
Due: none

Added ap-southeast-2 to the ubuntu2404.json ami_regions list. Added missing 'a' for the aws-actions workflow
  .github/workflows/image-ami-builds.yaml
  images/capi/packer/ami/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

capi: adjust ova script for community infrastructure
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Update pause image to 3.10
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/roles/runtimes/defaults/main.yml
  images/capi/packer/config/common.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Enable install kubelet through sc
  images/capi/ansible/windows/roles/kubernetes/defaults/main.yml
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/ansible/windows/roles/kubernetes/templates/RestartKubelet.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

ova: make the root partition xfs for Photon 5, Ubuntu 22.04, and Ubuntu 24.04
  images/capi/packer/ova/linux/photon/http/5/ks.json.tmpl
  images/capi/packer/ova/linux/ubuntu/http/22.04.efi/user-data.tmpl
  images/capi/packer/ova/linux/ubuntu/http/22.04/user-data.tmpl
  images/capi/packer/ova/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/ova/linux/ubuntu/http/24.04/user-data.tmpl
Due: pull-ova-all, pull-packer-validate

Add GCP AMI build workflow
  .github/workflows/image-ami-builds.yaml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/make_ami_public.sh
  images/capi/make_images_public.sh
  images/capi/packer/gce/packer.json
  images/capi/packer/gce/ubuntu-2404.json
  images/capi/update_k8s_version.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all

ova: fixup settings and remove photon due to required auth
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

images/capi/packer/ova/packer-node.json fix vsphere-iso-base to use cd_files
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

ova: drop testing ubuntu 20.04 and rockylinux-8
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

ova: fix rockylinux 9 args
  images/capi/packer/ova/rockylinux-9.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

json sort
  images/capi/packer/ova/rockylinux-9.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

ova: fixup rockylinux
  images/capi/packer/ova/linux/rockylinux/http/9/ks.cfg.tmpl
  images/capi/packer/ova/rockylinux-9.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

ova: drop not-used clone target
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Add unique IQN generation mechanism
  images/capi/ansible/roles/providers/files/maas/curtin/curtin-hooks
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add Scaleway packer provider
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/scaleway.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/scaleway.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/scaleway/config.pkr.hcl
  images/capi/packer/scaleway/packer.json
  images/capi/packer/scaleway/rockylinux-9.json
  images/capi/packer/scaleway/ubuntu-2204.json
  images/capi/packer/scaleway/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Update workflow set default Kubernetes version to 1.31.4 in the AMI build
  .github/workflows/image-ami-builds.yaml
Due: none
