Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

pull-azure-sigs:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
      - name: AZURE_BUILD_FORMAT
        value: sig
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

try flatcar
  images/capi/Makefile
  images/capi/packer/proxmox/flatcar.json
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Build Proxmox flatcar with openstack OEM
  images/capi/packer/files/flatcar/ignition/proxmox-bootstrap-pass-auth.json
  images/capi/packer/proxmox/flatcar.json
Due: json-sort-check, pull-packer-validate

sort jsonm
  images/capi/packer/proxmox/flatcar.json
Due: json-sort-check, pull-packer-validate

Add scsi controller and write docs
  images/capi/packer/files/flatcar/ignition/proxmox-bootstrap-pass-auth.json
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/flatcar.json
  images/capi/packer/proxmox/packer.json.tmpl
Due: json-sort-check, pull-packer-validate

Fix gMSA setup on Windows and add (back) WS2025 CI
  docs/book/src/capi/windows/windows.md
  images/capi/ansible/windows/roles/gmsa/files/install-gmsa-keyvault-plugin.ps1
  images/capi/ansible/windows/roles/gmsa/tasks/gmsa_keyvault.yml
  images/capi/azure_targets.sh
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

ansible: Enable unnattended upgrades
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

add example proxmox build using image-builder container
  docs/book/src/capi/container-image.md
Due: none

Add pipeline for Azure community gallery image publishing
  images/capi/packer/azure/.pipelines/build-sig.yaml
  images/capi/packer/azure/.pipelines/build-vhd.yaml
  images/capi/packer/azure/.pipelines/clean-sig.yaml
  images/capi/packer/azure/.pipelines/cleanup.yaml
  images/capi/packer/azure/.pipelines/create-disk-version.yaml
  images/capi/packer/azure/.pipelines/create-sku.yaml
  images/capi/packer/azure/.pipelines/delete-storage-account.yaml
  images/capi/packer/azure/.pipelines/generate-sas.yaml
  images/capi/packer/azure/.pipelines/promote-sig.yaml
  images/capi/packer/azure/.pipelines/sig-publishing-info.yaml
  images/capi/packer/azure/.pipelines/smoke-test.yaml
  images/capi/packer/azure/.pipelines/stages.yaml
  images/capi/packer/azure/.pipelines/test-sig.yaml
  images/capi/packer/azure/.pipelines/test-vhd.yaml
  images/capi/packer/azure/.pipelines/vhd-publishing-info.yaml
  images/capi/packer/azure/config.pkr.hcl
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/delete-unused-storage.sh
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/scripts/new-disk-version.sh
  images/capi/packer/azure/scripts/new-sku.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Fix gMSA setup on Windows and add (back) WS2025 CI
  docs/book/src/capi/windows/windows.md
  images/capi/ansible/windows/roles/gmsa/files/install-gmsa-keyvault-plugin.ps1
  images/capi/ansible/windows/roles/gmsa/tasks/gmsa_keyvault.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

update packe google compute plugin
  images/capi/packer/gce/config.pkr.hcl
Due: pull-packer-validate

add rhel image info and cleanup
  images/capi/scripts/ci-gce.sh
Due: none

update goss to reflect daily upgrades changes
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Add option to disable TTY autologin in grub
  images/capi/ansible/roles/sysprep/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
Due: pull-ova-all, pull-azure-vhds

making sure networkd-dispatcher is installed to fix goss tests failing
  images/capi/ansible/roles/providers/tasks/openstack.yml
Due: pull-ova-all, pull-azure-vhds

fix comment
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

try flatcar -2
  images/capi/ansible/roles/providers/tasks/proxmox.yml
  images/capi/packer/proxmox/flatcar.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Flatcar for Proxmox VE
  images/capi/packer/proxmox/README.md
Due: pull-packer-validate

generate password if not set
  images/capi/hack/set-ssh-password.sh
Due: none

amazon 2: fix add epel, install kubernetes
  images/capi/ansible/roles/kubernetes/tasks/redhat.yml
  images/capi/ansible/roles/setup/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds

Removing config for tcp_congestion_control as the cloud providers defaults have better performance.
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

change output format to raw from qcow2
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

add HTTPCallbackAddress, needed when running within a kubernetes cluster
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

ami: fix rockylinux 8
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/packer/ami/rockylinux-8.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

init
  images/capi/Makefile
  images/capi/packer/ami/amazon-2023.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

basic
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/amazonLinux.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/ami/amazon-2023.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

finish goss test
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/packer/ami/amazon-2.json
  images/capi/packer/ami/amazon-2023.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix az command to always emit JSON
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Azure: Update to windows-2025 release
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/windows-2025-containerd.json
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate

Updated docs for release v0.1.40
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

fix(ansible/openstack): run networkd-dispatcher only on debian
  images/capi/ansible/roles/providers/tasks/openstack.yml
Due: pull-ova-all, pull-azure-vhds

Fix state for Ansible RHSM repository module
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds

fix: 🐛 /var/log/messages getting filled up for vSphere photon
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/providers/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/vmware-photon.yml
  images/capi/ansible/roles/providers/templates/etc/logrotate.d/messages.j2
  images/capi/ansible/roles/sysprep/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

update rocky linux image url
  images/capi/packer/ova/rockylinux-9.json
  images/capi/packer/proxmox/rockylinux-9.json
  images/capi/packer/qemu/qemu-rockylinux-9.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Test WS2025 GA image
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/windows-2025-containerd.json
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate

goss vars correct awscli
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
