Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcve-e2e-config: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

include devel repo
  images/capi/packer/qemu/linux/rockylinux/http/9/ks.cfg.tmpl
Due: pull-packer-validate

capi: bump kubeadm config API from v1beta3 to v1beta4
  images/capi/ansible/roles/kubernetes/templates/etc/kubeadm.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: skip assertions for packages-x86 during arm64 builds
  images/capi/packer/goss/goss-package.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

fix(ci): make goss ARCH vars match packer configs
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

feat: migrate nutanix to HCL
  images/capi/.gitignore
  images/capi/Makefile
  images/capi/hack/set-ssh-password.sh
  images/capi/packer/nutanix/build.pkr.hcl
  images/capi/packer/nutanix/flatcar.json
  images/capi/packer/nutanix/locals.pkr.hcl
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/nutanix/sources.pkr.hcl
  images/capi/packer/nutanix/variables.pkr.hcl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

fix: skip assertions for packages-x86 during arm64 builds (#2140)
  images/capi/packer/goss/goss-package.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

fix: wire up Ec2Kubernetes cloud-init datasource for AlmaLinux 9
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Use Ubuntu point-release ISO URLs (#2100)
  images/capi/Makefile
  images/capi/hack/update-iso-checksums.sh
  images/capi/hack/update-ubuntu-iso-urls.sh
  images/capi/packer/maas/maas-ubuntu-2404-arm64.json
  images/capi/packer/maas/maas-ubuntu-2404-efi.json
  images/capi/packer/maas/maas-ubuntu-2604-efi.json
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
  images/capi/packer/ova/ubuntu-2604-efi.json
  images/capi/packer/ova/ubuntu-2604.json
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/ubuntu-2404-efi.json
  images/capi/packer/proxmox/ubuntu-2404.json
  images/capi/packer/proxmox/ubuntu-2604-efi.json
  images/capi/packer/proxmox/ubuntu-2604.json
  images/capi/packer/qemu/qemu-ubuntu-2404-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2404-immutable.json
  images/capi/packer/qemu/qemu-ubuntu-2404.json
  images/capi/packer/qemu/qemu-ubuntu-2604-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2604.json
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall_test.py
  images/capi/packer/raw/raw-ubuntu-2404-efi.json
  images/capi/packer/raw/raw-ubuntu-2404.json
  images/capi/packer/raw/raw-ubuntu-2604-efi.json
  images/capi/packer/raw/raw-ubuntu-2604.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

docs(capi): clarify Galaxy 2.18 authentication settings
  docs/book/src/capi/capi.md
Due: none

fix(capi): tighten version matrix validation
  .github/dependabot.yml
  .github/workflows/update-kubernetes-version-matrix.yaml
  images/capi/hack/kubernetes-version-matrix.py
Due: none

test(capi): guard matrix validation failures
  .github/workflows/update-kubernetes-version-matrix.yaml
  images/capi/hack/kubernetes-version-matrix.py
  images/capi/hack/kubernetes_version_matrix_test.py
Due: none

docs(capi): qualify default Galaxy token path
  docs/book/src/capi/capi.md
Due: none

test(capi): exercise matrix review regression paths
  .github/workflows/update-kubernetes-version-matrix.yaml
  images/capi/hack/kubernetes_version_matrix_test.py
Due: none

capi: simplify node conformance runner feedback
  docs/book/src/capi/node-conformance.md
  images/capi/hack/qemu-node-conformance.sh
  images/capi/hack/run-e2e-node-conformance.sh
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/scripts/node_conformance_hook_test.py
  images/capi/scripts/ci-qemu-node-conformance.sh
Due: pull-packer-validate

capi: serialize autoinstall rendering targets
  docs/book/src/capi/capi.md
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

kubernetes: remove conflicting Azure Linux CNI package
  images/capi/ansible/roles/kubernetes/tasks/cni-pkg.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: derive validate target help from build names
  docs/book/src/capi/custom-build-targets.md
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

docs: clarify node conformance artifact directory defaults
  docs/book/src/capi/node-conformance.md
  images/capi/hack/qemu-node-conformance.sh
Due: none

fix: reject packaged containerd in sysext base images
  images/capi/packer/goss/goss-sysext-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

fix: Remove --machine-id flag
  images/capi/ansible/roles/sysprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: document Ansible Galaxy configuration and forward it in GCE CI (#2081)
  docs/book/src/capi/capi.md
  images/capi/scripts/ci-gce-nightly.sh
  images/capi/scripts/ci-gce.sh
Due: pull-gcp-all

capi: use tdnf package locks on Azure Linux
  images/capi/ansible/roles/sysprep/tasks/azurelinux.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

capi: refresh CentOS Stream ISO pins to current composes
  images/capi/packer/qemu/qemu-centos-10.json
  images/capi/packer/qemu/qemu-centos-9.json
Due: json-sort-check, pull-packer-validate

capi: allow Ubuntu autoinstall mirror overrides
  images/capi/Makefile
  images/capi/hack/set-ssh-password.sh
  images/capi/packer/maas/README.md
  images/capi/packer/maas/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.arm64/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/26.04/user-data.tmpl
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/26.04/user-data.tmpl
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04/user-data.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: render Ubuntu autoinstall mirrors per build target
  docs/book/src/capi/capi.md
  docs/book/src/capi/immutable-qemu.md
  images/capi/Makefile
  images/capi/hack/set-ssh-password.sh
  images/capi/packer/maas/.gitignore
  images/capi/packer/maas/README.md
  images/capi/packer/proxmox/.gitignore
  images/capi/packer/proxmox/README.md
  images/capi/packer/qemu/.gitignore
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/user-data.tmpl
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall_test.py
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: serialize autoinstall rendering targets
  docs/book/src/capi/capi.md
  images/capi/Makefile
  images/capi/hack/set-ssh-password.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: factor shared qemu guest helpers into hack/lib
  images/capi/hack/lib/qemu-guest.sh
  images/capi/hack/qemu-boot-smoke.sh
  images/capi/packer/qemu/scripts/qemu_guest_lib_test.py
Due: pull-packer-validate

capi: run node conformance against a disposable image overlay
  docs/book/src/SUMMARY.md
  docs/book/src/capi/node-conformance.md
  images/capi/.gitignore
  images/capi/Makefile
  images/capi/hack/qemu-node-conformance.sh
  images/capi/hack/run-e2e-node-conformance.sh
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/scripts/node_conformance_hook_test.py
  images/capi/scripts/ci-qemu-node-conformance.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: isolate autoinstall HTTP data per build target
  docs/book/src/capi/capi.md
  images/capi/Makefile
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall_test.py
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: keep temporary autoinstall HTTP roots private
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall_test.py
Due: pull-packer-validate

capi: resolve extensionless Packer output images
  images/capi/hack/lib/qemu-guest.sh
  images/capi/packer/qemu/scripts/qemu_guest_lib_test.py
Due: pull-packer-validate

test: remove remaining conformance source-text assertions
  images/capi/packer/qemu/scripts/node_conformance_hook_test.py
  images/capi/packer/qemu/scripts/qemu_guest_lib_test.py
Due: pull-packer-validate

fix(capi): ignore non-network files when preparing CNI
  images/capi/hack/run-e2e-node-conformance.sh
  images/capi/packer/qemu/scripts/node_conformance_hook_test.py
Due: pull-packer-validate

capi: fix autoinstall http_directory wiring for maas and proxmox EFI builds (#2160)
  images/capi/Makefile
  images/capi/packer/maas/linux/ubuntu/http/23.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/maas/packer-arm64.json.tmpl
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/proxmox/ubuntu-2404-efi.json
  images/capi/packer/proxmox/ubuntu-2604-efi.json
  images/capi/packer/qemu/linux/ubuntu/http/22.04.efi/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/22.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/23.04/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/23.04/user-data.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

fix: refresh CentOS Stream ISO composes
  images/capi/packer/qemu/qemu-centos-10.json
  images/capi/packer/qemu/qemu-centos-9.json
Due: json-sort-check, pull-packer-validate

Rebase image-builder PR 2072 onto main
  docs/book/src/capi/capi.md
  docs/book/src/capi/immutable-qemu.md
  images/capi/Makefile
  images/capi/hack/set-ssh-password.sh
  images/capi/packer/maas/.gitignore
  images/capi/packer/maas/README.md
  images/capi/packer/maas/linux/ubuntu/http/24.04.arm64/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/26.04/user-data.tmpl
  images/capi/packer/proxmox/.gitignore
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/proxmox/linux/ubuntu/http/26.04/user-data.tmpl
  images/capi/packer/qemu/.gitignore
  images/capi/packer/qemu/README.md
  images/capi/packer/qemu/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04.immutable/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04.efi/user-data.tmpl
  images/capi/packer/qemu/linux/ubuntu/http/26.04/user-data.tmpl
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall.py
  images/capi/packer/qemu/scripts/render_ubuntu_autoinstall_test.py
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

capi: allow Azure to upgrade curl packages
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

capi: fix rockylinux qemu goss cloud-utils package name
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
