Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Consolidate workflow into a single task
  .github/workflows/azure-sig-build.yaml
  .github/workflows/azure-sig-clean.yaml
  .github/workflows/azure-sig-promote.yaml
  .github/workflows/azure-sig-test.yaml
  .github/workflows/build-azure-sig.yaml
Due: none

Update README for single workflow
  .github/workflows/README.md
Due: none

Add pull_request trigger for testing
  .github/workflows/build-azure-sig.yaml
Due: none

hack: ensure packer is installed under $HOME/.local/bin
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

hack: ensure user local python3 binaries are also checked
  images/capi/hack/utils.sh
Due: none

hack: set ansible commands as variables, checking $HOME/.local/bin
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-gcp-all, pull-container-image-build

ignore: add 'get-pip.py' to .gitignore under capi/
  images/capi/.gitignore
Due: none

hack: fix typo on variable's value. add the missing $
  images/capi/hack/utils.sh
Due: none

Add AlmaLinux 9 OVA build
  images/capi/Makefile
  images/capi/hack/image-build-ova.py
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/almalinux-9.json
  images/capi/packer/ova/linux/almalinux/http/9/ks.cfg.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Add AlmaLinux 9 to the OS matrix in README
  README.md
Due: none

fix: move kubelet --system-reserved deprecated flag to kubelet-config file
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
  images/capi/ansible/roles/kubernetes/templates/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Publish Azure VHDs via GitHub Action
  .github/workflows/README.md
  .github/workflows/build-azure-sig.yaml
Due: none

Remove obsolete Azure ADO build pipeline
  images/capi/packer/azure/.pipelines/build-sig.yaml
  images/capi/packer/azure/.pipelines/clean-sig.yaml
  images/capi/packer/azure/.pipelines/k8s-config.yaml
  images/capi/packer/azure/.pipelines/promote-sig.yaml
  images/capi/packer/azure/.pipelines/sig-publishing-info.yaml
  images/capi/packer/azure/.pipelines/stages.yaml
  images/capi/packer/azure/.pipelines/test-sig.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Sort Provider/OS table alphabetically
  README.md
Due: none

Fix guest OS type for AlmaLinux 9
  images/capi/hack/image-build-ova.py
  images/capi/packer/ova/almalinux-9.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Make REPLICATED_REGIONS an overridable input variable
  .github/workflows/build-azure-sig.yaml
Due: none

Extract duplicate sed commands into a composite action
  .github/actions/configure-k8s-version/action.yaml
  .github/workflows/build-azure-sig.yaml
Due: none

Quote var references in command statements
  .github/workflows/build-azure-sig.yaml
Due: none

Check for Windows kube-proxy image via HEAD request
  .github/workflows/build-azure-sig.yaml
Due: none

Update Ubuntu ISO images from 24.04.3 to 24.04.4
  images/capi/packer/maas/maas-ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
  images/capi/packer/proxmox/ubuntu-2404-efi.json
  images/capi/packer/proxmox/ubuntu-2404.json
  images/capi/packer/qemu/qemu-ubuntu-2404-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2404.json
  images/capi/packer/raw/raw-ubuntu-2404-efi.json
  images/capi/packer/raw/raw-ubuntu-2404.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Add AlmaLinux 9 OVA build (#1946)
  README.md
  images/capi/Makefile
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/almalinux-9.json
  images/capi/packer/ova/linux/almalinux/http/9/ks.cfg.tmpl
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Publish Azure SIG images via GitHub Action (#1944)
  .github/actions/configure-k8s-version/action.yaml
  .github/workflows/README.md
  .github/workflows/build-azure-sig.yaml
  images/capi/packer/azure/.pipelines/build-sig.yaml
  images/capi/packer/azure/.pipelines/clean-sig.yaml
  images/capi/packer/azure/.pipelines/k8s-config.yaml
  images/capi/packer/azure/.pipelines/promote-sig.yaml
  images/capi/packer/azure/.pipelines/sig-publishing-info.yaml
  images/capi/packer/azure/.pipelines/stages.yaml
  images/capi/packer/azure/.pipelines/test-sig.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

fix: skip IMDS crawl in DataSourceEc2KubernetesLocal init-local phase
  images/capi/ansible/roles/providers/files/usr/lib/python3/dist-packages/cloudinit/sources/DataSourceEc2Kubernetes.py
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Install networkd-dispatcher package before enabling service in openstack provider
  images/capi/ansible/roles/providers/tasks/openstack.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Upgrade ansible to v2.20.0 to support Python 3.14
  images/capi/hack/utils.sh
Due: none

Fix Windows failure caused by WinRM connection reset
  images/capi/ansible/windows/ansible_winrm.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Update docs for image-builder v0.1.49
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

⚰️ Remove RHEL 8 and related unsupported OS support
  README.md
  docs/book/src/capi/providers/aws.md
  docs/book/src/capi/providers/gcp.md
  docs/book/src/capi/providers/hcloud.md
  docs/book/src/capi/providers/ibmcloud.md
  docs/book/src/capi/providers/nutanix.md
  docs/book/src/capi/providers/oci.md
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/azure_targets.sh
  images/capi/hack/image-build-ova.py
  images/capi/packer/ami/rhel-8.json
  images/capi/packer/ami/rockylinux-8.json
  images/capi/packer/azure/rhel-8.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/gce/rhel-8.json
  images/capi/packer/hcloud/rockylinux-8.json
  images/capi/packer/nutanix/rhel-8.json
  images/capi/packer/nutanix/rockylinux-8.json
  images/capi/packer/oci/oracle-linux-8.json
  images/capi/packer/ova/linux/centos/http/8/ks.cfg.tmpl
  images/capi/packer/ova/linux/rhel/http/8/ks.cfg.tmpl
  images/capi/packer/ova/linux/rockylinux/http/8/ks.cfg.tmpl
  images/capi/packer/ova/rhel-8.json
  images/capi/packer/ova/rockylinux-8.json
  images/capi/packer/powervs/centos-8.json
  images/capi/packer/qemu/linux/centos/http/8/ks.cfg.tmpl
  images/capi/packer/qemu/linux/rhel/http/8/ks.cfg.tmpl
  images/capi/packer/qemu/linux/rockylinux/http/8/ks.cfg.tmpl
  images/capi/packer/qemu/qemu-rhel-8.json
  images/capi/packer/qemu/qemu-rockylinux-8-cloudimg.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
  images/capi/packer/raw/linux/rhel/http/8/ks.cfg.tmpl
  images/capi/packer/raw/raw-rhel-8.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Check powershell execution policy for Windows before trying to set a new one
  images/capi/ansible/windows/ansible_winrm.ps1
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Check if WindowsAzureTelemtryService is installed before checking service status
  images/capi/packer/azure/scripts/sysprep.ps1
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Add Packer debug logging to Azure GH workflow
  .github/workflows/build-azure-sig.yaml
Due: none

delete unnecessary script
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

fix: use ubuntu repo vars in apt config for ubuntu 24 instead of hardcoded value
  images/capi/ansible/roles/setup/templates/etc/apt/sources.list.d/ubuntu.sources.j2
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Authenticate with GITHUB_TOKEN to avoid rate limiting
  .github/workflows/build-azure-sig.yaml
Due: none

Fix kubernetes_base_url path: binaries/node/windows -> bin/windows
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Reduce Packer ansible provisioner max_retries from 5 to 1 for Windows Azure builds
  images/capi/packer/azure/packer-windows.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Pin Python path to survive tdnf upgrade
  images/capi/ansible/roles/setup/tasks/photon.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

scaleway: fix missing containerd_service_url variable
  images/capi/packer/scaleway/packer.json
Due: json-sort-check, pull-packer-validate

⬆️ Upgrade ContainerD (1.7 -> 2.2) & Runc Version (1.2 -> 1.3)
  images/capi/ansible/roles/containerd/defaults/main.yml
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate
