Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-image-builder-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Add Ubuntu 2404 EFI for Proxmox VE
  images/capi/Makefile
  images/capi/packer/proxmox/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/proxmox/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/proxmox/ubuntu-2404-efi.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Supports static IP assignment in VMware Windows OVA
  images/capi/hack/windows-ova-unattend.py
  images/capi/packer/ova/packer-common.json.tmpl
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

disable GOSS_USE_ALPHA
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/ova/packer-windows.json
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

delete containerd
  images/capi/packer/goss/goss-service.yaml
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

fix: goss var
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

set GOSS_USE_ALPHA
  images/capi/packer/azure/packer-windows.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

add goss-donwload-url var
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

delete url
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Set proxmox oem-id for flatcar
  docs/book/src/capi/providers/proxmox.md
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/flatcar.json
Due: json-sort-check, pull-packer-validate

fix: Error building Rocky Linux 9 Image (QEMU)
  images/capi/packer/qemu/linux/rockylinux/http/9/ks.cfg.tmpl
Due: pull-packer-validate

Set proxmox oem-id for flatcar
  docs/book/src/capi/providers/proxmox.md
  images/capi/packer/proxmox/README.md
  images/capi/packer/proxmox/flatcar.json
  images/capi/packer/proxmox/packer.json.tmpl
Due: json-sort-check, pull-packer-validate

feat(outscale): parametrize image owner and use timestamp as suffix
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate

make json-sort
  images/capi/packer/proxmox/ubuntu-2404-efi.json
Due: json-sort-check, pull-packer-validate

downgrade to v0.3.23
  docs/book/src/capi/goss/goss.md
  images/capi/packer/config/goss-args.json
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

restore configuration
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

Fix proxmox quotes
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

feat(proxmox): make disk format configurable
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

docs(proxmox): add documentation for changing disk_format
  docs/book/src/capi/providers/proxmox.md
Due: none

feat(proxmox): make cpu numa configurable
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

upgrade packer-goss
  images/capi/packer/config.pkr.hcl
Due: pull-packer-validate

Support for Huaweicloud
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/huaweicloud.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/huaweicloud.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/huaweicloud/config.pkr.hcl
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/huaweicloud/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Update docs for image-builder v0.1.41
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Add huaweicloud into documentation summary
  docs/book/src/SUMMARY.md
Due: none

fix(flatcar): copy runc in /opt/bin
  images/capi/ansible/roles/containerd/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

restore default containerd version
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

feat: support containerd 2.0 for qemu
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

fix: added containerd 2.0 support for ova and powervs
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

fix: sort json & fix sha
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

fix(containerd): fix containerd release url in packer.json for all supported providers
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

style: removed trailing spaces
  images/capi/packer/ami/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

fix: increase azure polling duration timeout
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

fix: runc and crictl installation
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat: add containerd 2.0 support for huaweicloud
  images/capi/packer/huaweicloud/packer.json
Due: json-sort-check, pull-packer-validate

Add support for Canonical MaaS Provider
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/maas.md
  docs/book/src/glossary.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/files/maas/curtin/NOTICE.md
  images/capi/ansible/roles/providers/files/maas/curtin/curtin-hooks
  images/capi/ansible/roles/providers/files/maas/curtin/install-custom-packages
  images/capi/ansible/roles/providers/files/maas/curtin/setup-bootloader
  images/capi/ansible/roles/providers/tasks/maas-ubuntu.yml
  images/capi/ansible/roles/providers/tasks/maas.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/packer/maas/.gitignore
  images/capi/packer/maas/OWNERS
  images/capi/packer/maas/README.md
  images/capi/packer/maas/cloud-init/meta-data
  images/capi/packer/maas/cloud-init/user-data.tmpl
  images/capi/packer/maas/config.pkr.hcl
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi.qemu/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi.qemu/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/22.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/23.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/23.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/maas/linux/ubuntu/http/24.04.efi/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04/meta-data
  images/capi/packer/maas/linux/ubuntu/http/24.04/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/base/preseed-efi.cfg.tmpl
  images/capi/packer/maas/linux/ubuntu/http/base/preseed.cfg.tmpl
  images/capi/packer/maas/maas-ubuntu-2204-efi.json
  images/capi/packer/maas/maas-ubuntu-2404-efi.json
  images/capi/packer/maas/packer.json.tmpl
  images/capi/packer/maas/scripts/generate-maas-image.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

Renamed almaLinux-9-2024 to almaLinux-9
  images/capi/Makefile
  images/capi/packer/outscale/almaLinux-9-2024.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

feat: add support to containerd 2.0
  docs/book/src/capi/providers/oci.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

kubeReserved bugfix for instances >130GiB memory
  images/capi/ansible/roles/kubernetes/files/usr/libexec/kubernetes/kubelet-resource-sizing.sh
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add 3 regions for replication to Azure pipeline
  images/capi/packer/azure/.pipelines/promote-sig.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

drop 1.28/29 add 1.31/32 and update others to latest release
  images/capi/packer/gce/ci/nightly/overwrite-1-27.json
  images/capi/packer/gce/ci/nightly/overwrite-1-28.json
  images/capi/packer/gce/ci/nightly/overwrite-1-29.json
  images/capi/packer/gce/ci/nightly/overwrite-1-30.json
  images/capi/packer/gce/ci/nightly/overwrite-1-31.json
  images/capi/packer/gce/ci/nightly/overwrite-1-32.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
