Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py

use com2 serial port for logging on Azure
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Quote multi-value fields in ansible-args.json
  images/capi/packer/config/ansible-args.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

unpin WS 2022 image
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/packer/azure/windows-2022-containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

use link with no default locale
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-azure-vhds

Improve building Azure SIG images (#867)
  images/capi/Makefile
  images/capi/hack/ensure-ansible.sh
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-packer-validate

Update Azure scripts for new naming scheme
  images/capi/packer/azure/.pipelines/create-sku.yaml
  images/capi/packer/azure/scripts/new-disk-version.sh
  images/capi/packer/azure/scripts/new-sku.sh
Due: pull-azure-vhds, pull-packer-validate

capi: support building flatcar-gen2 images
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/flatcar-gen2.json
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

capi: make PATH extension work when ran from a different directory
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

capi: override FLATCAR_VERSION to correct version when using "current"
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

capi: bump default FLATCAR_VERSION to 3033.2.4
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

squashed all caas relevant commits into one with changes like: (#1)
  images/capi/ansible/node.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/kubernetes.json
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/ova/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/qemu/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

qemu: Set Flatcar boot_media_path
  images/capi/packer/qemu/qemu-flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

qemu: Remove unnecessary boot_media_path overrides
  images/capi/packer/qemu/qemu-centos-7.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Set transparent huge pages to madvise
  images/capi/ansible/roles/firstboot/tasks/photon.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-azure-vhds, pull-packer-validate, pull-goss-populate

Simplify conditional in Flatcar provisioner
  images/capi/packer/ami/packer.json
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

ova:Make sure goss inpsect mode is disabled for CI
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

qemu,raw: Freeze Flatcar version
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/raw/raw-flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Enabling custom roles instructions
  docs/book/src/capi/capi.md
Due: none

remove nightly image fo 1.20
  images/capi/packer/gce/ci/nightly/overwrite-1-20.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

add nightly for 1.24
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

update 1.23/1.22/1.21 nightly images
  images/capi/packer/gce/ci/nightly/overwrite-1-21.json
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
  images/capi/packer/gce/ci/nightly/overwrite-1-23.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Revert "Simplify conditional in Flatcar provisioner"
  images/capi/packer/ami/packer.json
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Clean up Flatcar provisioner
  images/capi/packer/ami/packer.json
  images/capi/packer/files/bootstrap-flatcar.sh
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

ova: remove downgrade of cloud-init
  images/capi/ansible/roles/providers/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/vmware.yml
Due: pull-azure-vhds

refactor role providers/vmware
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/vmware-photon.yml
  images/capi/ansible/roles/providers/tasks/vmware-redhat.yml
  images/capi/ansible/roles/providers/tasks/vmware-ubuntu.yml
  images/capi/ansible/roles/providers/tasks/vmware.yml
Due: pull-azure-vhds

qemu,raw: Mask sshd during bootstrap
  images/capi/packer/qemu/qemu-flatcar.json
  images/capi/packer/raw/raw-flatcar.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Bump k8s version v1.22.9
  docs/book/src/capi/capi.md
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Remove KUBERNETES_VERSION from Azure SKU template
  images/capi/packer/azure/sku-template.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Add PowerVS support
  images/capi/Makefile
  images/capi/hack/ensure-powervs.sh
  images/capi/packer/config/powervs/cni.json
  images/capi/packer/config/powervs/common.json
  images/capi/packer/config/powervs/containerd.json
  images/capi/packer/config/powervs/kubernetes.json
  images/capi/packer/powervs/centos-8.json
  images/capi/packer/powervs/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix comments
  images/capi/Makefile
  images/capi/ansible/roles/kubernetes/tasks/crictl-url.yml
  images/capi/hack/ensure-powervs.sh
  images/capi/packer/config/cni.json
  images/capi/packer/config/kubernetes.json
  images/capi/packer/config/powervs/cni.json
  images/capi/packer/config/powervs/containerd.json
  images/capi/packer/config/powervs/kubernetes.json
  images/capi/packer/config/ppc64le/cni.json
  images/capi/packer/config/ppc64le/common.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/config/ppc64le/kubernetes.json
  images/capi/packer/powervs/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix the ci error
  images/capi/packer/config/kubernetes.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/powervs/centos-8.json
  images/capi/packer/powervs/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

tune node images for max etcd network performance
  images/capi/ansible/roles/node/files/etc/udev/rules.d/90-etcd-tuning.rules
  images/capi/ansible/roles/node/files/usr/local/bin/etcd-network-tuning.sh
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-azure-vhds

Update to Rocky Linux 8.6
  images/capi/packer/ova/rockylinux-8.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Modify cloud.cfg to preserve hostname on reboot for OVAs
  images/capi/ansible/roles/providers/files/etc/systemd/system/modify-cloud-init-cfg.service
  images/capi/ansible/roles/providers/files/usr/local/bin/modify-cloud-init-cfg.sh
  images/capi/ansible/roles/providers/tasks/vmware.yml
Due: pull-azure-vhds

fix crictl checksum
  images/capi/ansible/roles/kubernetes/tasks/crictl-url.yml
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add IBMCloud PowerVS support (#860)
  images/capi/Makefile
  images/capi/ansible/roles/kubernetes/tasks/crictl-url.yml
  images/capi/hack/ensure-powervs.sh
  images/capi/packer/config/cni.json
  images/capi/packer/config/kubernetes.json
  images/capi/packer/config/ppc64le/cni.json
  images/capi/packer/config/ppc64le/common.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/config/ppc64le/kubernetes.json
  images/capi/packer/powervs/centos-8.json
  images/capi/packer/powervs/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Adding support for CloudStack capi images
  OWNERS_ALIASES
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/cloudstack.md
  images/capi/ansible/roles/firstboot/defaults
  images/capi/ansible/roles/firstboot/tasks/main.yaml
  images/capi/ansible/roles/firstboot/tasks/qemu.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/providers/tasks/cloudstack.yml
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/hack/convert-cloudstack-image.sh
  images/capi/hack/ensure-vhdutil.sh
  images/capi/packer/qemu/OWNERS
  images/capi/packer/qemu/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

build 1.21.13/1.22.10/1.23.7/1.24.1 nightly images
  images/capi/packer/gce/ci/nightly/overwrite-1-21.json
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
  images/capi/packer/gce/ci/nightly/overwrite-1-23.json
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Added support for opensuse 15.3 Cloud image
  images/capi/Makefile
  images/capi/ansible/roles/firstboot/meta/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/suse.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/roles/providers/tasks/suse.yml
  images/capi/ansible/roles/setup/tasks/main.yml
  images/capi/ansible/roles/setup/tasks/suse.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/suse.yml
  images/capi/packer/ova/linux/opensuse/http/README
  images/capi/packer/qemu/cloud-init/meta-data
  images/capi/packer/qemu/cloud-init/user-data
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/qemu-opensuse-153.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Pause before and retry Azure ansible provisioner
  images/capi/packer/azure/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate
