Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

fix: 🐛 Fix issues with initramfs variables not getting loaded
  images/capi/ansible/roles/gpu/defaults/main.yml
  images/capi/ansible/roles/gpu/handlers/main.yml
  images/capi/ansible/roles/gpu/tasks/main.yml
  images/capi/ansible/roles/gpu/templates/etc/modprobe.d/blacklist-nouveau.conf
  images/capi/packer/config/ansible-args.json
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Remove unused var while copying containerd config file
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Updated docs for v0.1.26
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Fix aws cli installation on Flatcar
  images/capi/.ansible-lint-ignore
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
Due: pull-ova-all, pull-azure-vhds

Fix tag date lookup in release docs
  images/capi/scripts/release-update-docs.sh
Due: none

Update docs for v0.1.27
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Support the image_name user variable when building AMIs
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

In packer/openstack, add source_image_filter to select source image name by name
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

RHEL9 OVA
  images/capi/Makefile
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/linux/rhel/http/9/ks.cfg
  images/capi/packer/ova/rhel-9.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

fix: 🐛 Fix goss validation for blacklist nouveau
  images/capi/ansible/roles/gpu/templates/etc/modprobe.d/blacklist-nouveau.conf
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix: 🐛 Fix lint issues wrt ignore_errors
  images/capi/ansible/roles/gpu/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

fix: 🐛 fix PR pre-submit checks failure wrt json-sort
  images/capi/packer/config/ansible-args.json
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Support setting image_name user var for OVA image name output
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Update docs for v0.1.28
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Update docs for v0.1.29
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Remove 90-installer-network.cfg on ubuntu, left by recent subiquity
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

add ubuntu 24.04 and docs for hcloud
  docs/book/src/SUMMARY.md
  docs/book/src/capi/providers/hcloud.md
  images/capi/Makefile
  images/capi/packer/hcloud/config.pkr.hcl
  images/capi/packer/hcloud/hcloud-config.json
  images/capi/packer/hcloud/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

fix: error in conditionals for Debian
  images/capi/ansible/roles/crio/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

fix: fix incorrect clause comparison
  images/capi/ansible/roles/crio/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

make json-sort
  images/capi/packer/hcloud/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Update docs/book/src/capi/providers/hcloud.md
  docs/book/src/capi/providers/hcloud.md
Due: none

Add ubuntu 24.04 and docs for hcloud (#1481)
  docs/book/src/SUMMARY.md
  docs/book/src/capi/providers/hcloud.md
  images/capi/Makefile
  images/capi/packer/hcloud/config.pkr.hcl
  images/capi/packer/hcloud/hcloud-config.json
  images/capi/packer/hcloud/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Configure Ubuntu grub defaults like a cloud-image
  images/capi/ansible/roles/sysprep/files/etc/default/grub.d/50-cloudimg-settings.cfg
  images/capi/ansible/roles/sysprep/handlers/main.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

feat(crio): add local packer var for building local image
  .gitignore
Due: none

fix(crio): fix gitignore
  .gitignore
Due: none

fix(iso): fix iso image
  images/capi/packer/qemu/qemu-ubuntu-2204-crio.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

feat(crio): add support for packaging version (>= 1.29)
  images/capi/ansible/roles/crio/tasks/debian.yml
  images/capi/ansible/roles/crio/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds

chore: sort json
  images/capi/packer/config/common.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

chore: linted files
  images/capi/ansible/roles/crio/tasks/debian.yml
  images/capi/ansible/roles/crio/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds

refactor: refactor some files, removed a block
  images/capi/ansible/roles/crio/tasks/debian.yml
  images/capi/ansible/roles/crio/tasks/redhat.yml
Due: pull-ova-all, pull-azure-vhds

proxmox-ubuntu-22.04: Make boot command wait times more robust
  images/capi/packer/proxmox/ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

cloud-init: improve logging to stream logs to the cloud-init-output.log file instead of dumping at the end
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/05_logging.cfg
Due: pull-ova-all, pull-azure-vhds

pin packer version to 1.9.5
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Add cloud image based qemu builds
  images/capi/Makefile
  images/capi/ansible/firstboot.yml
  images/capi/packer/qemu/cloud-init/meta-data
  images/capi/packer/qemu/cloud-init/user-data
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/qemu-rockylinux-8-cloudimg.json
  images/capi/packer/qemu/qemu-rockylinux-9-cloudimg.json
  images/capi/packer/qemu/qemu-ubuntu-2204-cloudimg.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

fix: 🐛 Updating photon gpg keys should not enable disabled repo
  images/capi/ansible/roles/setup/tasks/photon.yml
  images/capi/ansible/roles/sysprep/tasks/photon.yml
Due: pull-ova-all, pull-azure-vhds

refactor: 💡 Make ci linter happy
  images/capi/ansible/roles/gpu/defaults/main.yml
  images/capi/ansible/roles/gpu/tasks/main.yml
  images/capi/ansible/roles/gpu/templates/etc/modprobe.d/blacklist-nouveau.conf
  images/capi/ansible/roles/gpu/vars/debian.yml
  images/capi/ansible/roles/gpu/vars/photon.yml
  images/capi/packer/config/ansible-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

fix: 🐛 Revisit term used for blocklisting nouveau
  images/capi/ansible/roles/gpu/tasks/main.yml
  images/capi/ansible/roles/gpu/templates/etc/modprobe.d/blocklist-nouveau.conf
  images/capi/packer/goss/goss-files.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Use vSphere projects from Boskos
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all

Support overriding the gallert-image-definition name completely for CAPZ
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Update docs for v0.1.30
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none
