Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcve-e2e-config: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
  ...

pull-azure-sigs:
  labels:
    preset-azure-community: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-lint.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-gcp-all:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-gce.sh
      env:
      - name: BOSKOS_HOST
  ...

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 1000m
  ...

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

continue iterating on arm stuff
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/packer/azure/ubuntu-2404-arm64-gen2.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

add hack script for boostrap
  hack/az-arm64-build.sh
Due: none

fix: reset seqno each day. export vars needed deeper in the makefile stack.
  hack/az-arm64-build.sh
Due: none

chore: Clean up a BUNCH of stuff related to arm64 on Azure. Delete some draft work attempting arm64 on QEMU.
  hack/az-arm64-build.sh
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/setup/templates/etc/apt/sources.list.d/ubuntu.sources.arm64.j2
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/ubuntu-2404-arm64-gen2.json
  images/capi/packer/config/amd64/common.json
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/qemu/qemu-ubuntu-2404-arm64.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

nit: forgot to save a goss arch thing
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

fix: get aarch64 wasm containerd shims. side bar: wasm containerd shims seems to be an archived project... should flag to image-builder maintainers
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/packer/config/wasm-shims.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Fix containerd wasm shim sha256 ducting into ansible
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/packer/config/ansible-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

clean up hpc and other stuff. it doesn't quite work.
  hack/az-arm64-build.sh
  images/capi/hpc-image.json
Due: json-sort-check

update readme to list arm64 image as new image type
  README.md
Due: none

add user specified kernel boot command line parameters to final image
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/ansible/roles/sysprep/templates/etc/default/grub.d/50-cloudimg-settings.cfg
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/common.json
  images/capi/packer/goss/goss-files.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/raw/packer.json.tmpl
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

docs: Clarify no binary/application to install
  docs/book/src/capi/quickstart.md
Due: none

Added Kubernetes-version to the proxmox-template as a proxmox-VM-Tag
  images/capi/packer/proxmox/packer.json.tmpl
Due: pull-packer-validate

MAAS ARM64 Support
  images/capi/Makefile
  images/capi/ansible/roles/firstboot/meta/main.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/ansible/roles/setup/templates/etc/apt/sources.list.d/ubuntu.sources.j2
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/maas/.gitignore
  images/capi/packer/maas/README.md
  images/capi/packer/maas/linux/ubuntu/http/22.04.arm64/meta-data
  images/capi/packer/maas/linux/ubuntu/http/22.04.arm64/user-data.tmpl
  images/capi/packer/maas/linux/ubuntu/http/24.04.arm64/meta-data
  images/capi/packer/maas/linux/ubuntu/http/24.04.arm64/user-data.tmpl
  images/capi/packer/maas/maas-ubuntu-2204-arm64.json
  images/capi/packer/maas/maas-ubuntu-2404-arm64.json
  images/capi/packer/maas/packer-arm64.json.tmpl
  images/capi/scripts/ci-goss-populate.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

capg: add overwrite-1-34
  images/capi/packer/gce/ci/nightly/overwrite-1-34.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

capg: add overwrite-1-35
  images/capi/packer/gce/ci/nightly/overwrite-1-35.json
Due: json-sort-check, pull-packer-validate, pull-gcp-all

create ctr symlink after installation
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Install prereqs for new ADO build agents
  images/capi/packer/azure/.pipelines/build-sig.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

fix: handle missing secret-userdata.txt for MachinePool/ASG nodes
  images/capi/ansible/roles/providers/files/usr/lib/python3/dist-packages/cloudinit/sources/DataSourceEc2Kubernetes.py
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

outscale: update base images to v2026-01-12
  images/capi/packer/outscale/ubuntu-2204.json
  images/capi/packer/outscale/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Install prereqs for new ADO build agents
  images/capi/packer/azure/.pipelines/build-sig.yaml
  images/capi/packer/azure/.pipelines/clean-sig.yaml
  images/capi/packer/azure/.pipelines/promote-sig.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Remove windows-2019 from default Azure e2e
  docs/book/src/capi/providers/azure.md
  images/capi/azure_targets.sh
Due: none

Fixed arch code for ppc64le
  images/capi/ansible/node.yml
  images/capi/packer/powervs/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all

Make py3_install more flexible
  images/capi/hack/utils.sh
Due: none

Bump ansible to v2.16.16
  images/capi/hack/utils.sh
Due: none

Revert "fix: update Azure build VM size to a more modern v2 generation"
  images/capi/packer/azure/azure-config.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Bump default k8s version to v1.34.3
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

fix: move extra_kernel_boot_params default variable from setup to sysprep role
  images/capi/ansible/roles/setup/defaults/main.yml
  images/capi/ansible/roles/sysprep/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Publish Azure VHDs via GitHub Action
  .github/workflows/azure-sig-build.yaml
  .github/workflows/azure-sig-clean.yaml
  .github/workflows/azure-sig-promote.yaml
  .github/workflows/azure-sig-test.yaml
  .github/workflows/build-azure-sig.yaml
Due: none

Add a README.md to document the GH workflows
  .github/workflows/README.md
Due: none

Apply regkey for windows 2025
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

feat: add SHA256 checksum verification for Kubernetes binaries and images
  images/capi/ansible/roles/kubernetes/tasks/url.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

fix: validate only configured wasm shims in goss tests
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

increase azure disk size
  images/capi/packer/azure/azurelinux-3-gen2.json
  images/capi/packer/azure/azurelinux-3.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Upgrade CentOS 9 Stream base image on qemu to newer version.
  images/capi/packer/qemu/qemu-centos-9.json
Due: json-sort-check, pull-packer-validate

fix: goss validation openstack flatcar
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-gcp-all, pull-goss-populate

chore: adding overrides for cpu and machine type on qemu
  images/capi/packer/qemu/packer.json.tmpl
Due: pull-packer-validate

Bump ansible-lint to 25.2.0
  images/capi/Makefile
  images/capi/hack/ensure-ansible-lint.sh
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-lint, pull-gcp-all, pull-container-image-build

fix: 🐛 Update packer vsphere plugin location for ova
  images/capi/packer/ova/config.pkr.hcl
Due: pull-ova-all, pull-packer-validate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
