Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/packer/azure/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/hack/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

Debug OVA ci
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Only provide dockershim flags with docker below 1.24
  images/capi/ansible/windows/roles/kubernetes/tasks/sc.yml
  images/capi/ansible/windows/roles/kubernetes/templates/StartKubelet.ps1
Due: pull-azure-vhds

Adding virtualbox local build for local environment base box
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/virtualbox.md
  docs/book/src/glossary.md
  images/capi/Makefile
  images/capi/packer/vbox/OWNERS
  images/capi/packer/vbox/packer-common.json
  images/capi/packer/vbox/packer-windows.json
  images/capi/packer/vbox/vagrantfile-windows_2019.template
  images/capi/packer/vbox/windows-2019.json
  images/capi/packer/vbox/windows/enable-winrm.ps1
  images/capi/packer/vbox/windows/sysprep.ps1
  images/capi/packer/vbox/windows/windows-2019/autounattend.xml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Added vmware-vmx reference
  docs/book/src/capi/providers/vsphere.md
Due: none

disable WS 2022 from ci
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

fix cloud-init install & downgrade ordering
  images/capi/ansible/roles/providers/tasks/vmware.yml
Due: pull-azure-vhds

Removing unecessary default vagrant credentials
  images/capi/packer/vbox/vagrantfile-windows_2019.template
Due: pull-azure-vhds, pull-packer-validate

Update vSphere CI credentials
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Remove CentOS-7 from OVA CI
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

Deprecate vSphere esx builder for node & haproxy images
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/packer/ova/esx.json
  images/capi/packer/ova/packer-haproxy.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Revert "disable WS 2022 from ci"
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Pin the WS 2022 image to December patches
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/windows-2022-containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Update docs to use latest image-builder container v0.1.11
  docs/book/src/capi/container-image.md
Due: none

Updating links to Rocky Linux 8.5
  images/capi/packer/ova/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/ova/rockylinux-8.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

update k8s releases and add 1.23 to be build in the job
  images/capi/packer/gce/ci/nightly/overwrite-1-20.json
  images/capi/packer/gce/ci/nightly/overwrite-1-21.json
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
  images/capi/packer/gce/ci/nightly/overwrite-1-23.json
  images/capi/scripts/ci-gce-nightly.sh
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Upgrade pip on EL-7 distros
  images/capi/ansible/roles/providers/tasks/vmware.yml
Due: pull-azure-vhds

Re-add CentOS 7 to CI OVA
  images/capi/scripts/ci-ova.sh
Due: pull-azure-vhds

enable ubuntu 20.04 for gce
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Bump up Kubernetes version to match the doucmentation(n-2), and minor fixes in doc
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/oci.md
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Build RockyLinux-8 AMI
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/packer/ami/rockylinux-8.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

containerd: update to 1.6.0
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add skip_create_ami flag to amazon-ebs builder
  docs/book/src/capi/providers/aws.md
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

Move the symlink creation prior to tools usage
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-azure-vhds

Added support for opensuse 15.3 Cloud image
  images/capi/Makefile
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/suse.yml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/ansible/roles/providers/tasks/suse.yml
  images/capi/ansible/roles/setup/tasks/suse.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/ansible/roles/sysprep/tasks/suse.yml
  images/capi/packer/config/kubernetes.json
  images/capi/packer/qemu/cloud-init/meta-data
  images/capi/packer/qemu/cloud-init/user-data
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/qemu-opensuse-153-cloud.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

crictl: update crictl to release v1.23.0
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

k8s: update k9s packages to v1.21.10
  images/capi/packer/config/kubernetes.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

add goss tests to gce images
  docs/book/src/capi/goss/goss.md
  images/capi/packer/gce/packer.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

sort json
  images/capi/packer/gce/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

add goss provisioner to 'deps-gce' target
  images/capi/Makefile
Due: pull-azure-vhds, pull-packer-validate

Add option to compress qemu images
  images/capi/packer/qemu/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

squashed all caas relevant commits into one with changes like: (#1)
  CAAS.md
  images/capi/ansible/node.yml
  images/capi/ansible/roles/dhc/tasks/debian.yml
  images/capi/ansible/roles/dhc/tasks/files/etc/systemd/system/ssh.service.d/boot-order.conf
  images/capi/ansible/roles/dhc/tasks/main.yaml
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/providers/files/debian/DataSourceOpenStack.patch
  images/capi/ansible/roles/providers/files/debian/cloud.cfg
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/ansible/roles/providers/tasks/vmware.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/hack/image-build-vmdk-optimize-qcow2.sh
  images/capi/packer/ova/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/qemu/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

dhc/caas: nfs-shares should be mounted again (#2)
  images/capi/ansible/roles/dhc/tasks/debian.yml
  images/capi/packer/qemu/packer.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate

images/capi configure chrony.conf makestep analog to azure
  images/capi/ansible/roles/providers/tasks/qemu.yml
Due: pull-azure-vhds

dhc/caas: increase /var/log partition to 2GB
  images/capi/hack/image-build-vmdk-optimize-qcow2.sh
  images/capi/packer/ova/linux/ubuntu/http/base/preseed.cfg
Due: pull-azure-vhds, pull-packer-validate

images/capi/ansible/roles/node/tasks/main.yml disable auditd because it creates massive amount of logs
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-azure-vhds

hwe kernel 5.8 and containerd 1.4.3
  images/capi/ansible/roles/dhc/tasks/debian.yml
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

caas/containerd: version bump to 1.5.5
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

containerd: bump to 1.5.7
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

bump linux kernel to 5.10 and containerd to 1.5.2
  images/capi/ansible/roles/dhc/tasks/debian.yml
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

images/ansible/cloud-init use ts instead of python to add the timestamp
  images/capi/ansible/roles/dhc/tasks/debian.yml
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/05_logging.cfg
Due: pull-azure-vhds

Path conditions:
  pull-azure-vhds: any of: images/capi/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
