Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh|images/capi/scripts/ensure-packer\.sh
  pull-lint: any of: images/capi/Makefile|images/capi/ansible/.*|images/capi/scripts/ci-lint\.sh|images/capi/scripts/ensure-ansible-lint\.sh|images/capi/.ansible-lint-ignore
  pull-gcp-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-gce\.sh|images/capi/packer/(config|goss|gce)/.*|images/capi/hack/ensure-(ansible|packer|jq|goss).*
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Enable RockyLinux-8 on OVA tests
  images/capi/packer/ova/rockylinux-8.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, json-sort-check, pull-packer-validate

Updated Azure CI tests to automatically detect targets
  images/capi/azure_targets.sh
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

Update docs for v0.1.45 release
  RELEASE.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/releasing.md
Due: none

Remove goals from readme
  README.md
Due: none

Added provider/os matrix table to Readme
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: none

fix: added missing gvisor vars to ansible_common_vars
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/packer/config/ansible-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

Add more comments
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Work around 2022 4B image (#1798)
  images/capi/ansible/windows/roles/kubernetes/templates/RestartKubelet.ps1
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add gvisor goss test for all providers that support it
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/scaleway/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all, pull-goss-populate

feat: add support to containerd 2.0
  docs/book/src/capi/providers/oci.md
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/kubernetes/tasks/main.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/containerd.json
  images/capi/packer/config/ppc64le/containerd.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-lint, pull-gcp-all, pull-goss-populate

fix: use containerd_version variable to download the appropriate containerd.service
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/hcloud/packer-flatcar.json
  images/capi/packer/hcloud/packer.json
  images/capi/packer/huaweicloud/packer.json
  images/capi/packer/nutanix/packer.json.tmpl
  images/capi/packer/oci/packer.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/proxmox/packer.json.tmpl
  images/capi/packer/qemu/packer.json.tmpl
  images/capi/packer/raw/packer.json.tmpl
  images/capi/packer/vultr/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-gcp-all

Add AndiDog as a reviewer for image-builder
  OWNERS_ALIASES
Due: none

fixes permissive permissions on cri and ctr binaries
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add note to README regarding access restrictions on the office hours doc
  README.md
Due: none

Update 90_dpkg.cfg to fix cloud-init issue
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/90_dpkg.cfg
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

Add wait for reboot
  images/capi/packer/maas/packer.json.tmpl
Due: pull-packer-validate

Exclude grub packages from apt-mark hold
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds, pull-lint, pull-gcp-all

WIP: Added workflow to test building ami and making the images public
  .github/workflows/image-ami-builds.yaml
Due: none

Updated packer files for image to enable publish to scratchpad cluster
  .github/workflows/image-ami-builds.yaml
  images/capi/packer/ami/amazon-2.json
  images/capi/packer/ami/amazon-2023.json
  images/capi/packer/ami/centos-7.json
  images/capi/packer/ami/ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

Updated image-builder workflow based on Matt's comment
  .github/workflows/image-ami-builds.yaml
Due: none

Updated ubuntu-2404.json to enable it to build ubuntu-2404 images
  images/capi/packer/ami/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Updated workflow to test the workflow run
  .github/workflows/image-ami-builds.yaml
Due: none

Reverted my config changes since we only need to build ubuntu-2404 images for now
  images/capi/packer/ami/amazon-2.json
  images/capi/packer/ami/amazon-2023.json
  images/capi/packer/ami/ubuntu-2204.json
Due: json-sort-check, pull-packer-validate

Updated the default value for the k8s version in the workflow.
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the packer validate command.
  .github/workflows/image-ami-builds.yaml
Due: none

Reverted slight change to amazon-2.json file
  images/capi/packer/ami/amazon-2.json
Due: json-sort-check, pull-packer-validate

Updated command to install all required packer plugins
  .github/workflows/image-ami-builds.yaml
Due: none

Updating workflow to fix aws authentication
  .github/workflows/image-ami-builds.yaml
Due: none

Removed the install packge step and moved the command to the validate step
  .github/workflows/image-ami-builds.yaml
Due: none

Resolving issues with the install packer plugin step
  .github/workflows/image-ami-builds.yaml
Due: none

Running tests
  .github/workflows/image-ami-builds.yaml
Due: none

Resolving packer config file location
  .github/workflows/image-ami-builds.yaml
Due: none

Added a step to install packer plugins
  .github/workflows/image-ami-builds.yaml
Due: none

Updating workflow ti install amazon packer plugin
  .github/workflows/image-ami-builds.yaml
Due: none

Made adjustments to make built image public
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the github action sha
  .github/workflows/image-ami-builds.yaml
Due: none

Corrected github action sha spelling
  .github/workflows/image-ami-builds.yaml
Due: none

Added a manifest output file for the ubuntu ami
  images/capi/packer/ami/ubuntu-2404.json
Due: json-sort-check, pull-packer-validate

Added permissions to the job
  .github/workflows/image-ami-builds.yaml
Due: none

Updated the role for aws authentication for the workflow
  .github/workflows/image-ami-builds.yaml
Due: none
