Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Add Ubuntu 24.04 for GCE
  docs/book/src/capi/providers/gcp.md
  images/capi/Makefile
  images/capi/packer/gce/ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

move to cx22 types for hcloud
  images/capi/packer/hcloud/hcloud-config.json
Due: json-sort-check, pull-packer-validate

Only modify grub configuration if update-grub command is present
  images/capi/ansible/roles/sysprep/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

Optionally source /etc/default/kubelet in kubelet.service
  images/capi/ansible/roles/kubernetes/templates/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf
Due: pull-ova-all, pull-azure-vhds

fix: 🐛 Update package source management to adhere to deb822
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/templates/etc/apt/sources.list.d/ubuntu.sources.j2
Due: pull-ova-all, pull-azure-vhds

feat: 🎸 Initial changes for Ubuntu 24.04 support in vSphere
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/packer/ova/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/ova/linux/ubuntu/http/24.04.efi/user-data
  images/capi/packer/ova/linux/ubuntu/http/24.04/meta-data
  images/capi/packer/ova/linux/ubuntu/http/24.04/user-data
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

fix: 🐛 Fix issues with hyperv daemon loading for ubuntu 24.04
  images/capi/ansible/roles/providers/tasks/vmware-ubuntu.yml
Due: pull-ova-all, pull-azure-vhds

squashed all caas relevant commits into one with changes like: (#1)
  images/capi/ansible/node.yml
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/kubernetes.json
  images/capi/packer/goss/goss-service.yaml
  images/capi/packer/ova/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/qemu/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

also install devsec hardening collection
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

implement custom_post_processor from qemu packer.json
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

make ami_name configurable
  docs/book/src/capi/providers/aws.md
Due: none

chore(rebase): Ansible devsec.hardening version assigned manually.
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

fix(ansible): indent when condition in node.yml
  images/capi/ansible/node.yml
Due: pull-ova-all, pull-azure-vhds

fix: apply caas changes to qemu preseed, now separate from ova
  images/capi/packer/ova/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/qemu/linux/ubuntu/http/base/preseed.cfg
Due: pull-ova-all, pull-packer-validate

reset ami files, not being used
  docs/book/src/capi/providers/aws.md
  images/capi/packer/ami/packer.json
Due: json-sort-check, pull-packer-validate

goss validation removing kubectl --short flag
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Implement hardening recommendations from kube-bench
  images/capi/ansible/roles/kubernetes/tasks/url.yml
Due: pull-ova-all, pull-azure-vhds

fix(packer/openstack): allow availability_zone
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

add vultr packer provider
  docs/book/src/capi/providers/vultr.md
  images/capi/Makefile
  images/capi/packer/vultr/config.pkr.hcl
  images/capi/packer/vultr/packer.json
  images/capi/packer/vultr/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Add containerd configuration for hosts.toml paths
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
Due: pull-ova-all, pull-azure-vhds

Add centos-9 support for CAPIBM PowerVS images
  docs/book/src/capi/providers/ibmcloud.md
  images/capi/Makefile
  images/capi/packer/powervs/centos-9.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Add 2404 targets to the OVA and RAW builder, also 2204 to the raw builder
  docs/book/src/capi/providers/vsphere.md
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/packer/ova/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/ova/linux/ubuntu/http/24.04.efi/user-data
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/raw/linux/ubuntu/http/22.04.efi/meta-data
  images/capi/packer/raw/linux/ubuntu/http/22.04.efi/user-data
  images/capi/packer/raw/linux/ubuntu/http/22.04/meta-data
  images/capi/packer/raw/linux/ubuntu/http/22.04/user-data
  images/capi/packer/raw/linux/ubuntu/http/24.04.efi/meta-data
  images/capi/packer/raw/linux/ubuntu/http/24.04.efi/user-data
  images/capi/packer/raw/packer.json
  images/capi/packer/raw/raw-ubuntu-2004-efi.json
  images/capi/packer/raw/raw-ubuntu-2004.json
  images/capi/packer/raw/raw-ubuntu-2204-efi.json
  images/capi/packer/raw/raw-ubuntu-2204.json
  images/capi/packer/raw/raw-ubuntu-2404-efi.json
  images/capi/packer/raw/raw-ubuntu-2404.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Add Ubuntu 24.02 for QEMU
  images/capi/Makefile
  images/capi/packer/qemu/linux/ubuntu/http/24.04/meta-data
  images/capi/packer/qemu/linux/ubuntu/http/24.04/user-data
  images/capi/packer/qemu/qemu-ubuntu-2404.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Support configuring VLAN and MTU for proxmox builds
  images/capi/packer/proxmox/packer.json
Due: json-sort-check, pull-packer-validate

Add docs regarding env vars and permissions setup
  docs/book/src/capi/providers/proxmox.md
Due: none

Grammar update
  docs/book/src/capi/providers/proxmox.md
Due: none

Proxmox network requirements
  docs/book/src/capi/providers/proxmox.md
Due: none

Clarification
  docs/book/src/capi/providers/proxmox.md
Due: none

Allow Azure auth with federated token in scripts
  images/capi/packer/azure/.pipelines/delete-storage-account.yaml
  images/capi/packer/azure/.pipelines/generate-sas.yaml
  images/capi/packer/azure/.pipelines/test-vhd.yaml
  images/capi/packer/azure/scripts/delete-unused-storage.sh
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/scripts/init-vhd.sh
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Use AZURE_STORAGE_AUTH_MODE with federated auth
  images/capi/packer/azure/.pipelines/generate-sas.yaml
  images/capi/packer/azure/scripts/delete-unused-storage.sh
  images/capi/packer/azure/scripts/init-vhd.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Allow the configuration of cloud_environment_name to target other Azure clouds
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

test
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

test2
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

test3
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

test4
  images/capi/packer/ova/ubuntu-2404-efi.json
  images/capi/packer/ova/ubuntu-2404.json
Due: pull-ova-all, json-sort-check, pull-packer-validate
