Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-build-image-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: refactor nfd pod configuration
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Advertise RDT L3 num_closid
  docs/usage/customization-guide.md
  source/cpu/cpu.go
  source/cpu/rdt_amd64.go
  source/cpu/rdt_stub.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-master: disallow unprefixed and kubernetes taints
  docs/usage/customization-guide.md
  pkg/apis/nfd/v1alpha1/annotations_labels.go
  pkg/nfd-master/nfd-master.go
  test/e2e/data/nodefeaturerule-3-updated.yaml
  test/e2e/data/nodefeaturerule-3.yaml
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-master: fix node update
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Create extended resources with NodeFeatureRule
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/base/rbac/master-clusterrole.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  docs/usage/customization-guide.md
  examples/nodefeaturerule.yaml
  pkg/apis/nfd/v1alpha1/annotations_labels.go
  pkg/apis/nfd/v1alpha1/rule.go
  pkg/apis/nfd/v1alpha1/types.go
  pkg/apis/nfd/v1alpha1/zz_generated.deepcopy.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  test/e2e/data/nodefeaturerule-4.yaml
  test/e2e/node_feature_discovery_test.go
  test/e2e/utils/rbac.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Add annitations field to NodeFeatureRule CR spec
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/apis/nfd/v1alpha1/annotations_labels.go
  pkg/apis/nfd/v1alpha1/rule.go
  pkg/apis/nfd/v1alpha1/types.go
  pkg/apis/nfd/v1alpha1/zz_generated.deepcopy.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  test/e2e/data/nodefeaturerule-5.yaml
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add node annotations feature to document
  docs/get-started/introduction.md
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Dockerfile: bump grpc-health-probe to v0.4.17
  Dockerfile
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

docs: add missing mentions of extended resources and taints
  docs/deployment/uninstallation.md
  docs/get-started/introduction.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

e2e: add codecov uploader configuration
  codecov.yml
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: increase controller resync period to 1 hour
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: deprecate the -resource-labels flag
  cmd/nfd-master/main.go
  docs/reference/master-commandline-reference.md
  docs/reference/master-configuration-reference.md
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

feat: support builtin kernel mods
  deployment/components/common/worker-mounts-combined.yaml
  deployment/components/common/worker-mounts.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  docs/usage/customization-guide.md
  pkg/utils/hostpath/hostpath.go
  source/kernel/kernel.go
  source/kernel/modules.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-master: re-try on node update failures
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Makefile: set e2e test timeout to 1 hour
  Makefile
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

source/cpu: don't create cpu-security.tdx.total_keys label
  docs/usage/features.md
  source/cpu/cpu.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

docs: mark release as unsupported
  docs/_includes/class/content-wrap.liquid
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

helm: make master port configurable
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/service.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

feat: add enableTaints to helm chart
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

cpu: make SGX EPC resource available to NodeFeatureRules
  docs/usage/customization-guide.md
  docs/usage/features.md
  source/cpu/cpu.go
  source/cpu/security_amd64.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for v0.12
  v0.12/404.html
  v0.12/contributing/index.html
  v0.12/data.json
  v0.12/deployment/helm.html
  v0.12/deployment/image-variants.html
  v0.12/deployment/index.html
  v0.12/deployment/kustomize.html
  v0.12/deployment/operator.html
  v0.12/deployment/tls.html
  v0.12/deployment/uninstallation.html
  v0.12/developer-guide/index.html
  v0.12/get-started/index.html
  v0.12/get-started/introduction.html
  v0.12/get-started/quick-start.html
  v0.12/reference/index.html
  v0.12/reference/master-commandline-reference.html
  v0.12/reference/topology-updater-commandline-reference.html
  v0.12/reference/topology-updater-configuration-reference.html
  v0.12/reference/worker-commandline-reference.html
  v0.12/reference/worker-configuration-reference.html
  v0.12/search.html
  v0.12/sitemap.xml
  v0.12/usage/custom-resources.html
  v0.12/usage/customization-guide.html
  v0.12/usage/examples-and-demos.html
  v0.12/usage/features.html
  v0.12/usage/index.html
  v0.12/usage/nfd-master.html
  v0.12/usage/nfd-topology-updater.html
  v0.12/usage/nfd-worker.html
  v0.12/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for
  stable
  v0.6/404.html
  v0.6/advanced/index.html
  v0.6/contributing/index.html
  v0.6/get-started/deployment-and-usage.html
  v0.6/get-started/examples-and-demos.html
  v0.6/get-started/features.html
  v0.6/get-started/index.html
  v0.6/get-started/introduction.html
  v0.6/get-started/quick-start.html
  v0.6/search.html
  v0.6/sitemap.xml
  versions.js
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master
