Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

Release v0.19.0
  Makefile
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/_metadata.gotmpl
  deployment/helm/node-feature-discovery/values.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix(ci): bump gcb-docker-gcloud builder to v20260205-38cfa9523f
  cloudbuild.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix(helm): regenerate values schema after release ref bump
  deployment/helm/node-feature-discovery/values.schema.json
Due: pull-node-feature-discovery-verify-master

Update Helm repo index for release v0.19.0
  charts/index.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

chore: point master README and netlify redirect to v0.19.0
  README.md
  netlify.toml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test(nfd-master): add regression tests for NodeFeatureGroup namespace scoping
  pkg/nfd-master/nfd-master-nfg-namespace_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix(nfd-master): scope NodeFeatureGroup updates to their own namespace
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-master.go
  pkg/nfd-master/updater-pool.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

chore(release): call out Helm chart promotion in release checklists
  .github/ISSUE_TEMPLATE/new-patch-release.md
  .github/ISSUE_TEMPLATE/new-release.md
Due: none

feat(hack): add verify-release-artifacts.sh release artifact check
  hack/verify-release-artifacts.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix(docs): repair kustomize quote and stale helm chart version in README
  README.md
Due: none

replace fixed topology dimensions with variable fabric tiers and accelerated domains
  enhancements/2549-nfd-network-topology-updater/README.md
Due: none

Add security section, fix the internal inconsistencies and align with the multi weight rule sets design
  enhancements/2403-nfd-image-compatibility-scheduler/README.md
  enhancements/2403-nfd-image-compatibility-scheduler/proposal-C.png
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

kubectl-nfd: Add NodeFeatureGroup dryrun, validation and test
  cmd/kubectl-nfd/subcmd/dryrun.go
  cmd/kubectl-nfd/subcmd/root.go
  cmd/kubectl-nfd/subcmd/test.go
  cmd/kubectl-nfd/subcmd/validate.go
  docs/usage/kubectl-plugin.md
  examples/nodefeaturegroup.yaml
  pkg/kubectl-nfd/common.go
  pkg/kubectl-nfd/common_test.go
  pkg/kubectl-nfd/dryrun.go
  pkg/kubectl-nfd/test.go
  pkg/kubectl-nfd/validate.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

move get+update to a server side patch for topology updater
  deployment/base/rbac-topologyupdater/topologyupdater-clusterrole.yaml
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  go.mod
  go.sum
  pkg/nfd-topology-updater/nfd-topology-updater.go
  pkg/nfd-topology-updater/nfd-topology-updater_test.go
  pkg/utils/kubeconf/kubelet_configz.go
  test/e2e/topology_updater_test.go
  test/e2e/utils/rbac.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

cpu: add TDX module version labels
  docs/usage/customization-guide.md
  docs/usage/features.md
  source/cpu/security_amd64.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

kubectl-nfd: Add NodeFeatureGroup dryrun, validation and test
  cmd/kubectl-nfd/subcmd/dryrun.go
  cmd/kubectl-nfd/subcmd/root.go
  cmd/kubectl-nfd/subcmd/test.go
  cmd/kubectl-nfd/subcmd/validate.go
  docs/reference/plugin-commandline-reference.md
  docs/usage/kubectl-plugin.md
  examples/nodefeaturegroup.yaml
  pkg/kubectl-nfd/common.go
  pkg/kubectl-nfd/common_test.go
  pkg/kubectl-nfd/dryrun.go
  pkg/kubectl-nfd/test.go
  pkg/kubectl-nfd/validate.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Make Prometheus datasource a template variable
  examples/grafana-dashboard.json
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Address review feedback for KEP-2403 image compatibility scheduler
  enhancements/2403-nfd-image-compatibility-scheduler/README.md
Due: none

helm: set explicit namespace on the PodMonitor
  deployment/helm/node-feature-discovery/templates/prometheus.yaml
Due: pull-node-feature-discovery-verify-master

Bump Go to v1.27
  Dockerfile
  Makefile
  Tiltfile
  go.mod
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Switch to native uuid package
  go.mod
  pkg/nfd-master/nfd-master.go
  test/e2e/utils/daemonset/daemonset.go
  test/e2e/utils/pod/pod.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

go.mod: bump Kubernetes to v1.37
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-topology-updater: fix call args of podresources.GetPodResClient
  pkg/nfd-topology-updater/nfd-topology-updater.go
  pkg/podres/client.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test(nfd-master): add regression tests for NodeFeatureGroup namespace scoping
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master-nfg-namespace_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: add KEP-2549 for NFD network topology updater
  enhancements/2549-nfd-network-topology-updater/README.md
Due: none

Fix: ICQ refcount lifecycle, webhook's admission budget and RBAC
  enhancements/2403-nfd-image-compatibility-scheduler/README.md
Due: none
