Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/verify.sh

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/build.sh

documentaion: document the reactive updates feature
  docs/deployment/helm.md
  docs/reference/topology-updater-commandline-reference.md
  docs/usage/nfd-topology-updater.md
Due: pull-node-feature-discovery-verify-docs-master

reactive updates: add an option to disable the feature
  docs/reference/topology-updater-commandline-reference.md
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

chore: add debug dump of nfd worker configuration
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

values.yml: revert change on line 19
  deployment/helm/nfd-operator/values.yaml
Due: pull-node-feature-discovery-verify-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

feat: add enableTaints to helm chart
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Lesson learned from v0.6 cut
  api/operator/v1/nodefeaturediscovery_types.go
  deployment/helm/nfd-operator/crds/nfd-api-crds.yaml
  deployment/helm/nfd-operator/templates/deployment.yaml
  deployment/operator/bundle/manifests/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  deployment/operator/bundle/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
  deployment/operator/config/crd/bases/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  deployment/operator/config/manager/kustomization.yaml
  deployment/operator/config/manifests/bases/nfd-operator.clusterserviceversion.yaml
  deployment/operator/config/samples/nfd.kubernetes.io_v1_nodefeaturediscovery.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-worker: add annotation with worker-conf sha256 hash
  deployment/helm/node-feature-discovery/templates/worker.yaml
Due: pull-node-feature-discovery-verify-master

cpu: expose AMD SEV support
  docs/usage/customization-guide.md
  docs/usage/features.md
  source/cpu/cpu.go
  source/cpu/security_amd64.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

cpu: Expose the total number of keys for TDX
  docs/usage/customization-guide.md
  docs/usage/features.md
  source/cpu/security_amd64.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Rename images
  deployment/operator/bundle/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
  deployment/operator/config/manifests/bases/nfd-operator.clusterserviceversion.yaml
Due: pull-node-feature-discovery-verify-master

helm: create topology-updater RBAC rules by default
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

helm: fix topology-updater rbac clusterrole
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
Due: pull-node-feature-discovery-verify-master

source/cpu: fix build flags of cpuid detection
  source/cpu/cpuid_linux_arm.go
  source/cpu/cpuid_linux_arm64.go
  source/cpu/cpuid_linux_ppc64le.go
  source/cpu/cpuid_linux_s390x.go
  source/cpu/cpuid_stub.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

helm: fix handling of topologyUpdater.kubeletConfigPath
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
Due: pull-node-feature-discovery-verify-master

kustomize: drop mount for kubelet config in topology-updater
  deployment/components/topology-updater/topologyupdater-mounts.yaml
Due: pull-node-feature-discovery-verify-master

Update documentation for v0.12
  v0.12/404.html
  v0.12/contributing/index.html
  v0.12/deployment/helm.html
  v0.12/deployment/image-variants.html
  v0.12/deployment/index.html
  v0.12/deployment/kustomize.html
  v0.12/deployment/operator.html
  v0.12/deployment/tls.html
  v0.12/deployment/uninstallation.html
  v0.12/developer-guide/index.html
  v0.12/get-started/index.html
  v0.12/get-started/introduction.html
  v0.12/get-started/quick-start.html
  v0.12/reference/index.html
  v0.12/reference/master-commandline-reference.html
  v0.12/reference/topology-updater-commandline-reference.html
  v0.12/reference/topology-updater-configuration-reference.html
  v0.12/reference/worker-commandline-reference.html
  v0.12/reference/worker-configuration-reference.html
  v0.12/search.html
  v0.12/sitemap.xml
  v0.12/usage/custom-resources.html
  v0.12/usage/customization-guide.html
  v0.12/usage/examples-and-demos.html
  v0.12/usage/features.html
  v0.12/usage/index.html
  v0.12/usage/nfd-master.html
  v0.12/usage/nfd-topology-updater.html
  v0.12/usage/nfd-worker.html
  v0.12/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update kubernetes to v1.26.3
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update kubernetes to v1.26.2
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update references to release v0.12.2
  Makefile
  README.md
  deployment/base/master-worker-combined/master-worker-daemonset.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for v0.12
  v0.12/404.html
  v0.12/contributing/index.html
  v0.12/data.json
  v0.12/deployment/helm.html
  v0.12/deployment/image-variants.html
  v0.12/deployment/index.html
  v0.12/deployment/kustomize.html
  v0.12/deployment/operator.html
  v0.12/deployment/tls.html
  v0.12/deployment/uninstallation.html
  v0.12/developer-guide/index.html
  v0.12/get-started/index.html
  v0.12/get-started/introduction.html
  v0.12/get-started/quick-start.html
  v0.12/reference/index.html
  v0.12/reference/master-commandline-reference.html
  v0.12/reference/topology-updater-commandline-reference.html
  v0.12/reference/topology-updater-configuration-reference.html
  v0.12/reference/worker-commandline-reference.html
  v0.12/reference/worker-configuration-reference.html
  v0.12/search.html
  v0.12/sitemap.xml
  v0.12/usage/custom-resources.html
  v0.12/usage/customization-guide.html
  v0.12/usage/examples-and-demos.html
  v0.12/usage/features.html
  v0.12/usage/index.html
  v0.12/usage/nfd-master.html
  v0.12/usage/nfd-topology-updater.html
  v0.12/usage/nfd-worker.html
  v0.12/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add master config file
  Makefile
  cmd/nfd-master/main.go
  deployment/base/master/master-deployment.yaml
  deployment/components/common/kustomization.yaml
  deployment/components/common/master-mounts.yaml
  deployment/components/master-config/kustomization.yaml
  deployment/components/master-config/nfd-master.conf.example
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-master-conf.yaml
  deployment/helm/node-feature-discovery/values.yaml
  deployment/overlays/default-combined/kustomization.yaml
  deployment/overlays/default-job/kustomization.yaml
  deployment/overlays/default/kustomization.yaml
  deployment/overlays/master-worker-topologyupdater/kustomization.yaml
  docs/deployment/helm.md
  docs/reference/master-commandline-reference.md
  docs/reference/master-configuration-reference.md
  docs/reference/topology-gc-commandline-reference.md
  docs/reference/topology-updater-commandline-reference.md
  docs/reference/topology-updater-configuration-reference.md
  docs/reference/worker-configuration-reference.md
  docs/usage/nfd-master.md
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  pkg/nfd-master/nfd-master_test.go
  pkg/nfd-worker/nfd-worker_test.go
  test/e2e/node_feature_discovery_test.go
  test/e2e/utils/configmap.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for v0.12
  charts/index.yaml
  charts/node-feature-discovery-chart-0.12.2.tgz.id
  v0.12/404.html
  v0.12/contributing/index.html
  v0.12/deployment/helm.html
  v0.12/deployment/image-variants.html
  v0.12/deployment/index.html
  v0.12/deployment/kustomize.html
  v0.12/deployment/operator.html
  v0.12/deployment/tls.html
  v0.12/deployment/uninstallation.html
  v0.12/developer-guide/index.html
  v0.12/get-started/index.html
  v0.12/get-started/introduction.html
  v0.12/get-started/quick-start.html
  v0.12/reference/index.html
  v0.12/reference/master-commandline-reference.html
  v0.12/reference/topology-updater-commandline-reference.html
  v0.12/reference/topology-updater-configuration-reference.html
  v0.12/reference/worker-commandline-reference.html
  v0.12/reference/worker-configuration-reference.html
  v0.12/search.html
  v0.12/sitemap.xml
  v0.12/usage/custom-resources.html
  v0.12/usage/customization-guide.html
  v0.12/usage/examples-and-demos.html
  v0.12/usage/features.html
  v0.12/usage/index.html
  v0.12/usage/nfd-master.html
  v0.12/usage/nfd-topology-updater.html
  v0.12/usage/nfd-worker.html
  v0.12/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

README: update to release v0.12.2
  README.md
Due: none

source/cpu: deprecate cpu-rdt.* labels
  docs/usage/customization-guide.md
  docs/usage/features.md
Due: pull-node-feature-discovery-verify-docs-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: fix node cleanup function
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: wait for CRD deletion to complete
  test/e2e/utils/crd.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
