Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml:

presubmits:
  kubernetes-sigs/node-feature-discovery:
  - name: pull-node-feature-discovery-verify-master
    skip_if_only_changed: "^docs/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-master
      description: "Verify source code of node-feature-discovery: check formatting, lint etc."
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/verify.sh
  - name: pull-node-feature-discovery-verify-docs-master
    run_if_changed: "^docs/"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-docs-master
      description: "Verify documentation sources"
    spec:
      containers:
      - image: ruby:slim
        command:
        - scripts/test-infra/mdlint.sh
  - name: pull-node-feature-discovery-build-master
    skip_if_only_changed: "^docs/|^demo/|^deployment/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: build-master
      description: "Build node-feature-discovery binaries"
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/build.sh

test/e2e: reduce worker wait-for-ready period to 2s
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: cleanup NodeFeature objects before/after tests
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update worker-configuration-reference.md
  docs/reference/worker-configuration-reference.md
Due: pull-node-feature-discovery-verify-docs-master

helm: fix topology-updater rbac clusterrole
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
Due: pull-node-feature-discovery-verify-master

helm: create topology-updater RBAC rules by default
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

kustomize: drop mount for kubelet config in topology-updater
  deployment/components/topology-updater/topologyupdater-mounts.yaml
Due: pull-node-feature-discovery-verify-master

helm: fix handling of topologyUpdater.kubeletConfigPath
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
Due: pull-node-feature-discovery-verify-master

test: implement e2e test of the deny-label-ns flag
  go.mod
  go.sum
  test/e2e/data/nodefeature-3.yaml
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

scripts/test-infra: bump golangci-lint to v1.51.2
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update kubernetes to v1.26.2
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

dependency: bump the mockery version to 2.20.0
  Dockerfile_generator
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

omit go version control information (buildvcs)
  hack/generate.sh
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

update re-generated code with make-generate results
  pkg/apihelper/mock_APIHelpers.go
  pkg/apis/nfd/v1alpha1/generated.pb.go
  pkg/apis/nfd/v1alpha1/generated.proto
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/doc.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/doc.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/doc.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/doc.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/fake/doc.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeature.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerule.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeature.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerule.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/generated/informers/externalversions/nfd/interface.go
  pkg/generated/informers/externalversions/nfd/v1alpha1/interface.go
  pkg/generated/informers/externalversions/nfd/v1alpha1/nodefeature.go
  pkg/generated/informers/externalversions/nfd/v1alpha1/nodefeaturerule.go
  pkg/generated/listers/nfd/v1alpha1/expansion_generated.go
  pkg/generated/listers/nfd/v1alpha1/nodefeature.go
  pkg/generated/listers/nfd/v1alpha1/nodefeaturerule.go
  pkg/labeler/mock_LabelerClient.go
  source/mock_LabelSource.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

kubeletnotifier: introduce kubeletnotifier package
  pkg/nfd-topology-updater/kubeletnotifier/kubeletnotifier.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

topology-updater: add kubelet-state-dir flag
  cmd/nfd-topology-updater/main.go
  pkg/nfd-topology-updater/kubeletnotifier/kubeletnotifier.go
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

topology-updater: log event type that triggered update
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

topology-updater: update CRs when notified
  cmd/nfd-topology-updater/main.go
  pkg/nfd-topology-updater/kubeletnotifier/kubeletnotifier.go
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

deployment/topology-updater: add mount for kubelet state dir
  deployment/components/topology-updater/topologyupdater-mounts.yaml
Due: pull-node-feature-discovery-verify-master

e2e: reactive updates test
  test/e2e/topology_updater_test.go
  test/e2e/utils/pod/pod.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

topology-updater: make it possible to disable sleep-interval
  cmd/nfd-topology-updater/main.go
  docs/reference/topology-updater-commandline-reference.md
  pkg/nfd-topology-updater/kubeletnotifier/kubeletnotifier.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

gitignore: ignore codecov coverage report
  .gitignore
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

HELM values nfd -> controller
  deployment/helm/nfd-operator/values.yaml
Due: pull-node-feature-discovery-verify-master

pkg/utils: add UnmarshalJSON method to StringSetVal
  pkg/utils/flags.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Enable automated Prune via CRD NodeFeatureDiscoveries
  api/operator/v1/nodefeaturediscovery_types.go
  deployment/helm/nfd-operator/crds/nfd-api-crds.yaml
  deployment/operator/config/crd/bases/nfd.kubernetes.io_nodefeaturediscoveries.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

kustomize: trim prune overlay
  deployment/overlays/prune/master-clusterrole.yaml
Due: pull-node-feature-discovery-verify-master

deployment/helm: update helm charts
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master
