Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

refactor: rename skipLabelRemoval to skipRemoval
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix: honor -stderrthreshold when -logtostderr=true
  cmd/nfd-gc/main.go
  cmd/nfd-topology-updater/main.go
  deployment/components/master-config/nfd-master.conf.example
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/master-commandline-reference.md
  docs/reference/master-configuration-reference.md
  docs/reference/worker-commandline-reference.md
  docs/reference/worker-configuration-reference.md
  pkg/utils/klog/klog.go
  pkg/utils/klog/klog_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test(klog): restore klog global state after each sub-test
  pkg/utils/klog/klog_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

cpu/s390x: implement getCpuidAttributes() with machine generation mapping
  source/cpu/cpuid_linux_s390x.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

perf(nodefeaturerule): cache compiled MatchInRegexp patterns
  pkg/apis/nfd/nodefeaturerule/expression.go
  pkg/apis/nfd/nodefeaturerule/expression_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix: propagate InitKlogFlags error and remove dead klog state in topology-updater
  cmd/nfd-gc/main.go
  cmd/nfd-master/main.go
  cmd/nfd-topology-updater/main.go
  cmd/nfd-worker/main.go
  pkg/nfd-topology-updater/nfd-topology-updater.go
  pkg/utils/klog/klog.go
  pkg/utils/klog/klog_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

perf(nfd-master): reconcile only on NodeFeature/Rule/Group spec changes
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-api-controller_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat(nfd-worker): add core.noPublishFeatures to slim NodeFeature objects
  cmd/nfd-worker/main.go
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/worker-commandline-reference.md
  docs/reference/worker-configuration-reference.md
  pkg/nfd-worker/nfd-worker-internal_test.go
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

source/crypto: add IBM CEX card feature discovery for s390x
  docs/get-started/introduction.md
  docs/usage/crypto-source.md
  docs/usage/features.md
  pkg/nfd-worker/nfd-worker.go
  source/crypto/crypto.go
  source/crypto/crypto_linux_s390x.go
  source/crypto/crypto_stub.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix(nfd-master): prevent stop() panic and informer leak on init failure
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-api-controller_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

topology-updater: serve per-pod lookups from a node-scoped Pod informer
  deployment/base/rbac-topologyupdater/topologyupdater-clusterrole.yaml
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  pkg/nfd-topology-updater/nfd-topology-updater.go
  pkg/resourcemonitor/podresourcesscanner.go
  pkg/resourcemonitor/podresourcesscanner_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix(nfd-worker): trim whitespace in noPublishFeatures patterns
  pkg/utils/flags.go
  pkg/utils/flags_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

refactor: reduce cognitive complexity of nfd-master controller and worker config
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

enhancement(kep-2403): refine architecture with ICQ CRD, webhook, and drift handling
  enhancements/2403-nfd-image-compatibility-scheduler/README.md
  enhancements/2403-nfd-image-compatibility-scheduler/proposal-C.png
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Add graceful signal handling to all NFD daemon entrypoints
  cmd/nfd-gc/main.go
  cmd/nfd-master/main.go
  cmd/nfd-topology-updater/main.go
  cmd/nfd-worker/main.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: add KEP for nested NodeFeatureGroup
  enhancements/2548-nested-nodefeaturegroups/README.md
Due: none

docs: add KEP-2549 for NFD network topology updater
  enhancements/2549-nfd-network-topology-updater/README.md
Due: none
