Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

Update Helm repo index for release v0.16.7
  charts/index.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update Helm repo index for release v0.17.1
  charts/index.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Make DNS Policy configurable in helm chart
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

Add documentation for helm dnsPolicy values
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

deps: bump kubernetes to v0.32.1
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Reformat tables in helm docs
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Make DNS Policy configurable in helm chart (#2025)
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

deploy: add spire manifests in helm and kustomize
  deployment/helm/node-feature-discovery/Chart.lock
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/helm/node-feature-discovery/charts/spire-0.24.1.tgz
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/master-commandline-reference.md
  docs/reference/worker-commandline-reference.md
  go.mod
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: add utility for namespace labels patching and add the test cases for denyNodeFeatureLabels restriction
  pkg/utils/jsonpatch.go
  test/e2e/node_feature_discovery_test.go
  test/e2e/utils/namespace/namespace.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

source/pci: Group identical PCI entries
  source/pci/utils.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

source/network: Ignore bonding_masters interface during scanning
  source/network/network.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

helm: fix usage of worker.extraArgs
  deployment/helm/node-feature-discovery/templates/worker.yaml
Due: pull-node-feature-discovery-verify-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.17
  v0.17/404.html
  v0.17/contributing/index.html
  v0.17/deployment/helm.html
  v0.17/deployment/image-variants.html
  v0.17/deployment/index.html
  v0.17/deployment/kustomize.html
  v0.17/deployment/metrics.html
  v0.17/deployment/operator.html
  v0.17/deployment/uninstallation.html
  v0.17/developer-guide/index.html
  v0.17/get-started/index.html
  v0.17/get-started/introduction.html
  v0.17/get-started/quick-start.html
  v0.17/reference/feature-gates.html
  v0.17/reference/gc-commandline-reference.html
  v0.17/reference/index.html
  v0.17/reference/master-commandline-reference.html
  v0.17/reference/master-configuration-reference.html
  v0.17/reference/node-feature-client-reference.html
  v0.17/reference/plugin-commandline-reference.html
  v0.17/reference/topology-updater-commandline-reference.html
  v0.17/reference/topology-updater-configuration-reference.html
  v0.17/reference/versions.html
  v0.17/reference/worker-commandline-reference.html
  v0.17/reference/worker-configuration-reference.html
  v0.17/search.html
  v0.17/sitemap.xml
  v0.17/usage/custom-resources.html
  v0.17/usage/customization-guide.html
  v0.17/usage/examples-and-demos.html
  v0.17/usage/features.html
  v0.17/usage/image-compatibility.html
  v0.17/usage/index.html
  v0.17/usage/kubectl-plugin.html
  v0.17/usage/nfd-gc.html
  v0.17/usage/nfd-master.html
  v0.17/usage/nfd-topology-updater.html
  v0.17/usage/nfd-worker.html
  v0.17/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-worker: drop the gRPC health port
  cmd/nfd-worker/main.go
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-worker: replace --metrics with --port
  cmd/nfd-worker/main.go
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-worker: add healthz endpoint
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Refactoring of image compatibility node validator.
  pkg/client-nfd/compat/node-validator/node-validator.go
  pkg/client-nfd/compat/node-validator/node-validator_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-topology-updater: serve metrics and healthz on the same port
  cmd/nfd-topology-updater/main.go
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-master: serve metrics and healthz endpoint on the same port
  cmd/nfd-master/main.go
  deployment/base/master/master-deployment.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Allow DS_PROMETHEUS substitution for grafana dashboard
  examples/grafana-dashboard.json
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-worker: Add support to configure the ownerReference to Node
  cmd/nfd-worker/main.go
  docs/reference/worker-commandline-reference.md
  docs/reference/worker-configuration-reference.md
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

go: bump go version to 1.24
  Makefile
  Tiltfile
  go.mod
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Add MTU attribute for physical and virtual devices
  docs/usage/customization-guide.md
  source/network/network.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

config file for informerPageSize
  cmd/nfd-master/main.go
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/master-configuration-reference.md
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

update comment
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

drop tools.go in favor of go's native tool directive
  Makefile
  Tiltfile
  go.mod
  hack/tools.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

bump golangci-lint to v1.64.5
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master
