Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh
      resources:
  ...

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh
      resources:
  ...

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token
      resources:
        limits:
  ...

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/build.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-e2e-test-master:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/test-e2e-presubmit.sh
      resources:
  ...

fix(deploy,helm,overlays): use correct port for PodMonitor
  deployment/helm/node-feature-discovery/templates/prometheus.yaml
  deployment/overlays/prometheus/monitor.yaml
Due: pull-node-feature-discovery-verify-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-export.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

helm: add validation schema
  deployment/helm/node-feature-discovery/.schema.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

Makefile: add helm-schema target
  Makefile
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.18
  v0.18/404.html
  v0.18/contributing/index.html
  v0.18/deployment/helm.html
  v0.18/deployment/image-variants.html
  v0.18/deployment/index.html
  v0.18/deployment/kustomize.html
  v0.18/deployment/metrics.html
  v0.18/deployment/operator.html
  v0.18/deployment/uninstallation.html
  v0.18/developer-guide/index.html
  v0.18/get-started/index.html
  v0.18/get-started/introduction.html
  v0.18/get-started/quick-start.html
  v0.18/reference/feature-gates.html
  v0.18/reference/gc-commandline-reference.html
  v0.18/reference/index.html
  v0.18/reference/master-commandline-reference.html
  v0.18/reference/master-configuration-reference.html
  v0.18/reference/node-feature-client-reference.html
  v0.18/reference/plugin-commandline-reference.html
  v0.18/reference/topology-updater-commandline-reference.html
  v0.18/reference/topology-updater-configuration-reference.html
  v0.18/reference/versions.html
  v0.18/reference/worker-commandline-reference.html
  v0.18/reference/worker-configuration-reference.html
  v0.18/search.html
  v0.18/sitemap.xml
  v0.18/usage/custom-resources.html
  v0.18/usage/customization-guide.html
  v0.18/usage/examples-and-demos.html
  v0.18/usage/features.html
  v0.18/usage/image-compatibility.html
  v0.18/usage/index.html
  v0.18/usage/kubectl-plugin.html
  v0.18/usage/nfd-export.html
  v0.18/usage/nfd-gc.html
  v0.18/usage/nfd-master.html
  v0.18/usage/nfd-topology-updater.html
  v0.18/usage/nfd-worker.html
  v0.18/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: mark v0.16 EOL
  docs/_includes/templates/content.liquid
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

helm: Drop obsolete lableSelector for node-role.kubernetes.io/master
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

scripts/test-infra: add step to verify Helm validation schema
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: include Helm as an option in quick-start instructions
  README.md
  docs/get-started/index.md
  docs/get-started/quick-start.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

helm: auto-generate chart readme
  deployment/helm/node-feature-discovery/.helmignore
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/README.md.gotmpl
  deployment/helm/node-feature-discovery/_metadata.gotmpl
  deployment/helm/node-feature-discovery/values.yaml
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Makefile: add helm-docs target
  Makefile
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

hack/prepare-release.sh: update Helm README
  hack/prepare-release.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

scripts/test-infra: add step to verify Helm README
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Makefile: pin the toolchain to the same version as in go.mod
  Makefile
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Use helm-values-schema-json as a go tool
  Makefile
  go.mod
  go.sum
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Release v0.18.1
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

helm: add global.imagePullSecrets in values.yaml
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

scripts/test-infra/verify: re-enable logcheck
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

helm: common documentation in html docs and chart readme
  Makefile
  deployment/helm/node-feature-discovery/.helmignore
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/README.md.gotmpl
  deployment/helm/node-feature-discovery/_metadata-site.gotmpl
  deployment/helm/node-feature-discovery/_metadata.gotmpl
  deployment/helm/node-feature-discovery/_templates.gotmpl
  docs/deployment/helm.md
  docs/deployment/helm.md.gotmpl
  hack/prepare-release.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update Helm repo index for release v0.18.1
  charts/index.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

README: release v0.18.1
  README.md
Due: none

Makefile: add helm-generate target
  Makefile
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
