Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

pull-node-feature-discovery-build-image-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image.sh

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/verify.sh
      resources:
        limits:
          cpu: 1
          memory: 4Gi
        requests:
          cpu: 1
          memory: 4Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
  ...

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh
      resources:
        limits:
          cpu: 1
          memory: 4Gi
        requests:
          cpu: 1
          memory: 4Gi

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/build.sh
      resources:
        limits:
          cpu: 1
          memory: 4Gi
        requests:
          cpu: 1
          memory: 4Gi

Use generics for maps and slices
  go.mod
  pkg/apis/nfd/v1alpha1/expression.go
  pkg/apis/nfd/v1alpha1/feature.go
  pkg/apis/nfd/v1alpha1/rule.go
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/flags.go
  pkg/utils/memory_resources.go
  source/pci/pci.go
  source/usb/usb.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: drop creation helper functions
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/apis/nfd/v1alpha1/expression.go
  pkg/apis/nfd/v1alpha1/expression_test.go
  pkg/apis/nfd/v1alpha1/rule_test.go
  pkg/apis/nfd/v1alpha1/types.go
  source/custom/static_features.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: drop the private template caching fields
  pkg/apis/nfd/v1alpha1/rule.go
  pkg/apis/nfd/v1alpha1/rule_test.go
  pkg/apis/nfd/v1alpha1/types.go
  pkg/apis/nfd/v1alpha1/zz_generated.deepcopy.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add sample NodeFeatureRules for all built-in labels
  samples/nodefeaturerule-cpu.yaml
  samples/nodefeaturerule-custom.yaml
  samples/nodefeaturerule-kernel.yaml
  samples/nodefeaturerule-local.yaml
  samples/nodefeaturerule-memory.yaml
  samples/nodefeaturerule-network.yaml
  samples/nodefeaturerule-pci.yaml
  samples/nodefeaturerule-storage.yaml
  samples/nodefeaturerule-system.yaml
  samples/nodefeaturerule-usb.yaml
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: fix an error in auto-generated code
  pkg/apis/nfd/v1alpha1/zz_generated.deepcopy.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: add matchName field in feature matcher terms
  deployment/base/nfd-crds/cr-sample.yaml
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/usage/customization-guide.md
  pkg/apis/nfd/v1alpha1/expression.go
  pkg/apis/nfd/v1alpha1/rule.go
  pkg/apis/nfd/v1alpha1/rule_test.go
  pkg/apis/nfd/v1alpha1/types.go
  pkg/apis/nfd/v1alpha1/zz_generated.deepcopy.go
  source/custom/static_features.go
  test/e2e/data/nodefeaturerule-1.yaml
  test/e2e/data/nodefeaturerule-2.yaml
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

feat: add cpu socket number in cpu.topology
  docs/usage/customization-guide.md
  source/cpu/cpu.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Document the NodeFeatureRule samples and move them under deployment dir
  deployment/nodefeaturerule/samples/nodefeaturerule-cpu.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-custom.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-kernel.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-local.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-memory.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-network.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-pci.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-storage.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-system.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-usb.yaml
  docs/usage/custom-resources.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

source/custom: add internal rule api
  source/custom/api/conversion.go
  source/custom/api/conversion_test.go
  source/custom/api/expression.go
  source/custom/api/expression_test.go
  source/custom/api/types.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: drop custom unmarshaller functions
  pkg/apis/nfd/v1alpha1/expression.go
  pkg/apis/nfd/v1alpha1/rule_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

source/custom: use internal api for config parsing
  source/custom/custom.go
  source/custom/directory_features.go
  source/custom/static_features.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: drop unused validate function
  pkg/apis/nfd/v1alpha1/expression.go
  pkg/apis/nfd/v1alpha1/expression_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

chore: combine cpu count and thread_siblings functions into discover topology function
  source/cpu/cpu.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

chore(nfd-worker): fix minor typo in wrong label value format error
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: split rule processing into a separate package
  pkg/apis/nfd/v1alpha1/expression_test.go
  pkg/apis/nfd/v1alpha1/nodefeaturerule/expression-api_test.go
  pkg/apis/nfd/v1alpha1/nodefeaturerule/expression.go
  pkg/apis/nfd/v1alpha1/nodefeaturerule/expression_test.go
  pkg/apis/nfd/v1alpha1/nodefeaturerule/rule.go
  pkg/apis/nfd/v1alpha1/nodefeaturerule/rule_test.go
  pkg/nfd-master/nfd-master.go
  source/custom/custom.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: bump kubernetes to v1.29
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: replace k8s.io/utils/pointer package
  test/e2e/utils/pod/pod.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update dependencies
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update references to release v0.14.4
  Makefile
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master-worker-combined/master-worker-daemonset.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Dockerfile: update grpc-health-probe to v0.4.24
  Dockerfile
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.14
  v0.14/404.html
  v0.14/contributing/index.html
  v0.14/deployment/helm.html
  v0.14/deployment/image-variants.html
  v0.14/deployment/index.html
  v0.14/deployment/kustomize.html
  v0.14/deployment/metrics.html
  v0.14/deployment/operator.html
  v0.14/deployment/tls.html
  v0.14/deployment/uninstallation.html
  v0.14/developer-guide/index.html
  v0.14/get-started/index.html
  v0.14/get-started/introduction.html
  v0.14/get-started/quick-start.html
  v0.14/reference/gc-commandline-reference.html
  v0.14/reference/index.html
  v0.14/reference/master-commandline-reference.html
  v0.14/reference/master-configuration-reference.html
  v0.14/reference/topology-updater-commandline-reference.html
  v0.14/reference/topology-updater-configuration-reference.html
  v0.14/reference/versions.html
  v0.14/reference/worker-commandline-reference.html
  v0.14/reference/worker-configuration-reference.html
  v0.14/search.html
  v0.14/sitemap.xml
  v0.14/usage/custom-resources.html
  v0.14/usage/customization-guide.html
  v0.14/usage/examples-and-demos.html
  v0.14/usage/features.html
  v0.14/usage/index.html
  v0.14/usage/nfd-gc.html
  v0.14/usage/nfd-master.html
  v0.14/usage/nfd-topology-updater.html
  v0.14/usage/nfd-worker.html
  v0.14/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.14
  v0.14/404.html
  v0.14/contributing/index.html
  v0.14/data.json
  v0.14/deployment/helm.html
  v0.14/deployment/image-variants.html
  v0.14/deployment/index.html
  v0.14/deployment/kustomize.html
  v0.14/deployment/metrics.html
  v0.14/deployment/operator.html
  v0.14/deployment/tls.html
  v0.14/deployment/uninstallation.html
  v0.14/developer-guide/index.html
  v0.14/get-started/index.html
  v0.14/get-started/introduction.html
  v0.14/get-started/quick-start.html
  v0.14/reference/gc-commandline-reference.html
  v0.14/reference/index.html
  v0.14/reference/master-commandline-reference.html
  v0.14/reference/master-configuration-reference.html
  v0.14/reference/topology-updater-commandline-reference.html
  v0.14/reference/topology-updater-configuration-reference.html
  v0.14/reference/versions.html
  v0.14/reference/worker-commandline-reference.html
  v0.14/reference/worker-configuration-reference.html
  v0.14/search.html
  v0.14/sitemap.xml
  v0.14/usage/custom-resources.html
  v0.14/usage/customization-guide.html
  v0.14/usage/examples-and-demos.html
  v0.14/usage/features.html
  v0.14/usage/index.html
  v0.14/usage/nfd-gc.html
  v0.14/usage/nfd-master.html
  v0.14/usage/nfd-topology-updater.html
  v0.14/usage/nfd-worker.html
  v0.14/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

docs: use default instead of minimal image variant
  docs/deployment/image-variants.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: document new x86 cpuid features
  docs/usage/features.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: fix malformed hyperlink syntax
  docs/usage/custom-resources.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Add kubectl-nfd
  Makefile
  cmd/kubectl-nfd/main.go
  cmd/kubectl-nfd/subcmd/dryrun.go
  cmd/kubectl-nfd/subcmd/root.go
  cmd/kubectl-nfd/subcmd/test.go
  cmd/kubectl-nfd/subcmd/validate.go
  docs/reference/plugin-commandline-reference.md
  docs/reference/versions.md
  docs/usage/kubectl-plugin.md
  examples/nodefeature.yaml
  examples/nodefeaturerule.yaml
  go.mod
  pkg/apis/nfd/validate/validate.go
  pkg/kubectl-nfd/dryrun.go
  pkg/kubectl-nfd/test.go
  pkg/kubectl-nfd/validate.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-build-image-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
