Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Report hugepages total count
  source/memory/memory.go
  source/memory/memory_test.go
  source/memory/testdata/hugepages/kernel/mm/hugepages/hugepages-2048kB/nr_hugepages
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update huge pages documentation
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Add a new line in memory hugepages testdata file
  source/memory/testdata/hugepages/kernel/mm/hugepages/hugepages-2048kB/nr_hugepages
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Bugfix: handle matchAny and matchFeatures when they appear in one spec
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/client-nfd/compat/node-validator/node-validator_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nodefeaturerule: refactor template handling
  pkg/apis/nfd/nodefeaturerule/rule.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Change ExecuteGroupRule to return detailed result
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Remove deprecated toleration/affinity value
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

Adding tolerations implementation to master and worker pod
  pkg/operator/daemonset/daemonset.go
  pkg/operator/daemonset/worker.go
  pkg/operator/daemonset/worker_test.go
  pkg/operator/deployment/deployment.go
  pkg/operator/deployment/deployment_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Remove deprecated toleration/affinity value
  deployment/components/common/master-affinity.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

Add Ge Le and GeLe operators
  api/nfd/v1alpha1/types.go
  docs/usage/customization-guide.md
  pkg/apis/nfd/nodefeaturerule/expression.go
  pkg/apis/nfd/nodefeaturerule/expression_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Drop gRPC startup probe
  deployment/base/master/master-deployment.yaml
Due: pull-node-feature-discovery-verify-master

cleanupLabels implementation
  deployment/helm/node-feature-discovery/templates/post-delete-job.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

feat: add spiffe integration in master and worker
  cmd/nfd-master/main.go
  cmd/nfd-worker/main.go
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

deploy: add spire manifests in helm and kustomize
  deployment/helm/node-feature-discovery/Chart.lock
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/helm/node-feature-discovery/charts/spire-0.24.1.tgz
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/master-commandline-reference.md
  docs/reference/worker-commandline-reference.md
  go.mod
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

rename podHasIntegralCPUs
  pkg/resourcemonitor/podresourcesscanner.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Adding WorkerEnvs and MasterEnv fields to the NFD CR
  api/operator/v1/nodefeaturediscovery_types.go
  api/operator/v1/zz_generated.deepcopy.go
  deployment/operator/config/crd/bases/nfd.kubernetes.io_nodefeaturediscoveries.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Replace golang.org/x/exp/maps with the standard library's maps package.
  go.mod
  pkg/apis/nfd/nodefeaturerule/expression.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/flags.go
  source/pci/pci.go
  source/usb/usb.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

allow configuration of image pull secrets in post-delete job
  deployment/helm/node-feature-discovery/templates/post-delete-job.yaml
Due: pull-node-feature-discovery-verify-master

MasterENVs and WorkerENVs implementations
  pkg/operator/daemonset/daemonset.go
  pkg/operator/daemonset/daemonset_test.go
  pkg/operator/deployment/deployment.go
  pkg/operator/deployment/deployment_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: fix erroneous assert
  pkg/apis/nfd/nodefeaturerule/rule_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nodefeaturegroup: add unit tests
  pkg/apis/nfd/nodefeaturerule/grouprule_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

api/nfd: extend NodeFeatureGroup to support vars
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nodefeaturegroup: implement vars
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master
