Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh
      resources:
  ...

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh
      resources:
  ...

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token
      resources:
        limits:
  ...

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/build.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-e2e-test-master:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/test-e2e-presubmit.sh
      resources:
  ...

images: Publish s390x and ppc64le images
  Makefile
  scripts/test-infra/build-image-cross.sh
  scripts/test-infra/push-image.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-export.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.18
  v0.18/404.html
  v0.18/contributing/index.html
  v0.18/deployment/helm.html
  v0.18/deployment/image-variants.html
  v0.18/deployment/index.html
  v0.18/deployment/kustomize.html
  v0.18/deployment/metrics.html
  v0.18/deployment/operator.html
  v0.18/deployment/uninstallation.html
  v0.18/developer-guide/index.html
  v0.18/get-started/index.html
  v0.18/get-started/introduction.html
  v0.18/get-started/quick-start.html
  v0.18/reference/feature-gates.html
  v0.18/reference/gc-commandline-reference.html
  v0.18/reference/index.html
  v0.18/reference/master-commandline-reference.html
  v0.18/reference/master-configuration-reference.html
  v0.18/reference/node-feature-client-reference.html
  v0.18/reference/plugin-commandline-reference.html
  v0.18/reference/topology-updater-commandline-reference.html
  v0.18/reference/topology-updater-configuration-reference.html
  v0.18/reference/versions.html
  v0.18/reference/worker-commandline-reference.html
  v0.18/reference/worker-configuration-reference.html
  v0.18/search.html
  v0.18/sitemap.xml
  v0.18/usage/custom-resources.html
  v0.18/usage/customization-guide.html
  v0.18/usage/examples-and-demos.html
  v0.18/usage/features.html
  v0.18/usage/image-compatibility.html
  v0.18/usage/index.html
  v0.18/usage/kubectl-plugin.html
  v0.18/usage/nfd-export.html
  v0.18/usage/nfd-gc.html
  v0.18/usage/nfd-master.html
  v0.18/usage/nfd-topology-updater.html
  v0.18/usage/nfd-worker.html
  v0.18/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Release v0.18.3
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Increase image building timeout
  cloudbuild.yaml
  scripts/test-infra/test-e2e.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

README: release v0.18.3
  README.md
Due: none

Update Helm repo index for release v0.18.3
  charts/index.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix: bump go pkg to fix CVEs
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

source/kernel: Add kvm availability
  deployment/base/nfd-crds/cr-sample.yaml
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/values.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-kernel.yaml
  docs/usage/customization-guide.md
  docs/usage/features.md
  source/kernel/kernel.go
  source/kernel/kvm.go
  test/e2e/e2e-test-config.example.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

go.mod: bump github.com/opencontainers/runc to 1.3.3
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

go.mod: bump k8s to v1.34.2
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Remove deprecated // +build directives from CPU source files
  source/cpu/coprocessor_ppc64le.go
  source/cpu/coprocessor_stub.go
  source/cpu/cpuid_stub.go
  source/cpu/cstate_stub.go
  source/cpu/power_stub.go
  source/cpu/pstate_stub.go
  source/cpu/rdt_linux_amd64.go
  source/cpu/rdt_stub.go
  source/cpu/security_amd64.go
  source/cpu/security_s390x.go
  source/cpu/security_stub.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Replace deprecated golang.org/x/net/context with standard library
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  pkg/nfd-topology-updater/nfd-topology-updater.go
  pkg/nfd-worker/nfd-worker.go
  pkg/nfd-worker/nfd-worker_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Allow the Helm chart to customize labels attached to spawned pods.
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

netlify: fix build
  netlify.toml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: bump Ruby version and update build deps
  Makefile
  docs/Gemfile.lock
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

netlify: use bundler to run jekyll
  netlify.toml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Add `labels` to Helm chart.
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
