Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh
      resources:
  ...

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh
      resources:
  ...

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token
      resources:
        limits:
  ...

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/build.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-e2e-test-master:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/test-e2e-presubmit.sh
      resources:
  ...

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-export.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Set default to `-` so git doesn't report whitespace errors
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

chore(helm): include optional networkPolicy
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/master-networkpolicy.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc-networkpolicy.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater-networkpolicy.yaml
  deployment/helm/node-feature-discovery/templates/worker-networkpolicy.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

topology-updater: wait for NodeResourceTopology CRD at startup
  deployment/base/rbac-topologyupdater/topologyupdater-clusterrole.yaml
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  docs/usage/nfd-topology-updater.md
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Add auto-generated API documentation using crd-ref-docs
  Makefile
  docs/mdl-style.rb
  docs/reference/nfd-api-reference.md
  hack/crd-ref-docs/config.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat(helm): Allow control of hostUsers
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

ci: reduce presubmit build platforms to amd64+arm64
  scripts/test-infra/build-image-cross.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

source/local: Fix fsnotify watcher resource leak
  source/local/local.go
  source/local/local_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update KEP with proposal C(Node pre-grouping) chosen as preferred solution
  enhancements/2403-nfd-image-compatibility-scheduler/README.md
  enhancements/2403-nfd-image-compatibility-scheduler/proposal-A.png
  enhancements/2403-nfd-image-compatibility-scheduler/proposal-B.png
  enhancements/2403-nfd-image-compatibility-scheduler/proposal-C.png
  enhancements/2403-nfd-image-compatibility-scheduler/solution3.png
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Remove default CPU limits
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
Due: pull-node-feature-discovery-verify-master

nfd: switch permission to nodes/configz
  deployment/base/rbac-topologyupdater/topologyupdater-clusterrole.yaml
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  docs/reference/topology-updater-commandline-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

nfd-gc: remove unused nodes/proxy permission
  deployment/base/gc/gc-clusterrole.yaml
Due: pull-node-feature-discovery-verify-master

Tighten or remove nodes/proxy permissions
  deployment/helm/nfd-operator/templates/rbac/gc/clusterrole.yaml
  deployment/helm/nfd-operator/templates/rbac/topologyupdater/clusterrole.yaml
  deployment/operator/config/rbac/gc/clusterrole.yaml
  deployment/operator/config/rbac/topologyupdater/clusterrole.yaml
Due: pull-node-feature-discovery-verify-master

nfd-gc: remove unused nodes/proxy permission
  deployment/base/gc/gc-clusterrole.yaml
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
Due: pull-node-feature-discovery-verify-master

ci: add helm and use variables for tool versions
  scripts/test-infra/push-image.sh
  scripts/test-infra/test-e2e-presubmit.sh
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: add Helm E2E tests for chart deployment verification
  Makefile
  go.mod
  go.sum
  test/e2e/helm_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: add helpers.go for shared test utilities
  test/e2e/helpers.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update test/e2e/helm_test.go
  test/e2e/helm_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Address review feedback
  Makefile
  docs/mdl-style.rb
  docs/reference/generated-nfd-api-reference.md
  docs/usage/customization-guide.md
  go.mod
  go.sum
  scripts/test-infra/mdlint.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

safely remove existing buildx builder before recreate
  hack/init-buildx.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

deps: update dependencies and get rid of external CVE
  api/nfd/go.mod
  api/nfd/go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-master: Auto-disable leader election if replicaCount is 1
  deployment/helm/node-feature-discovery/values.yaml
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
