Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

docs: re-align helm values tables
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

nfd-worker: Watch features.d changes
  pkg/nfd-worker/nfd-worker.go
  source/local/local.go
  source/source.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-gc: Add liveness probe
  cmd/nfd-gc/main.go
  deployment/base/gc/gc.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/values.yaml
  pkg/nfd-gc/nfd-gc.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-gc: add healthz endpoint
  cmd/nfd-gc/main.go
  deployment/base/gc/gc.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-gc/nfd-gc.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update: use default values and update documentation
  deployment/base/gc/gc.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

go.mod: remove unnecessary replace directive
  go.mod
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

deps: bump kubernetes to v1.33.2
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update: align columns in helm.md
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Update: properly align columns
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Allow unprefixed annotations via feature-gate
  docs/usage/customization-guide.md
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Allow unprefixed extended resources via feature-gate
  docs/usage/customization-guide.md
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat: add ability to export features for static node
  cmd/nfd/subcmd/export/export.go
  cmd/nfd/subcmd/export/features.go
  docs/usage/nfd-export.md
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

logging: refine logging level in pod resources scanner
  pkg/resourcemonitor/podresourcesscanner.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat: add ability to export
  cmd/nfd/subcmd/export/export.go
  cmd/nfd/subcmd/export/features.go
  cmd/nfd/subcmd/export/labels.go
  docs/usage/nfd-export.md
  pkg/nfd-worker/nfd-worker-internal_test.go
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Expose swap behavior via label
  cmd/nfd-worker/main.go
  deployment/components/common/worker-mounts.yaml
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/kubeconf/kubelet_config_file.go
  source/memory/memory.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: update config options list to include the kubelet config path
  docs/reference/worker-commandline-reference.md
  docs/reference/worker-configuration-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

tilt: use anonymous, ephemeral image registry
  Tiltfile
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

update
  pkg/resourcemonitor/podresourcesscanner.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Install NRT by default with topology-updater
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat(rbac): add permissions for daemonsets finalizers in worker role
  deployment/helm/node-feature-discovery/templates/role.yaml
Due: pull-node-feature-discovery-verify-master

Bugfix: NFR and NFG rules processing
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/client-nfd/compat/node-validator/node-validator_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

update: add support for 'imagePullSecrets' propagation by root helm chart, in case nfd serves as sub-chart
  deployment/helm/node-feature-discovery/templates/_helpers.tpl
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/post-delete-job.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

github: set JEKYLL_GITHUB_TOKEN env
  .github/workflows/gh-pages.yml
Due: none

Makefile: pass JEKYLL_GITHUB_TOKEN env to doc builder container
  Makefile
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: fix documentation of the DisableAutoPrefix feature gate
  docs/reference/feature-gates.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

deps: bump Kubernetes to v1.33.3
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat: add ability to export
  cmd/nfd/subcmd/export/export.go
  cmd/nfd/subcmd/export/features.go
  cmd/nfd/subcmd/export/labels.go
  cmd/nfd/subcmd/export/utils.go
  docs/usage/nfd-export.md
  pkg/nfd-worker/nfd-worker-internal_test.go
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: switch to jekyll-theme-read-the-docs
  Makefile
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  netlify.toml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master
