Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Bump vektra/mockery to v2.52.2
  Dockerfile_generator
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update auto-generated code
  api/generated/clientset/versioned/clientset.go
  api/generated/clientset/versioned/fake/clientset_generated.go
  api/generated/clientset/versioned/fake/doc.go
  api/generated/clientset/versioned/fake/register.go
  api/generated/clientset/versioned/scheme/doc.go
  api/generated/clientset/versioned/scheme/register.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/doc.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/doc.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerule.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerule.go
  api/generated/informers/externalversions/factory.go
  api/generated/informers/externalversions/generic.go
  api/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  api/generated/informers/externalversions/nfd/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeature.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturerule.go
  api/generated/listers/nfd/v1alpha1/expansion_generated.go
  api/generated/listers/nfd/v1alpha1/nodefeature.go
  api/generated/listers/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/listers/nfd/v1alpha1/nodefeaturerule.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  pkg/client-nfd/compat/artifact-client/mock_ArtifactClient.go
  pkg/podres/mocks/PodResourcesListerClient.go
  source/mock_LabelSource.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

deps: bump k/k to v1.32.2
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.17
  v0.17/404.html
  v0.17/contributing/index.html
  v0.17/deployment/helm.html
  v0.17/deployment/image-variants.html
  v0.17/deployment/index.html
  v0.17/deployment/kustomize.html
  v0.17/deployment/metrics.html
  v0.17/deployment/operator.html
  v0.17/deployment/uninstallation.html
  v0.17/developer-guide/index.html
  v0.17/get-started/index.html
  v0.17/get-started/introduction.html
  v0.17/get-started/quick-start.html
  v0.17/reference/feature-gates.html
  v0.17/reference/gc-commandline-reference.html
  v0.17/reference/index.html
  v0.17/reference/master-commandline-reference.html
  v0.17/reference/master-configuration-reference.html
  v0.17/reference/node-feature-client-reference.html
  v0.17/reference/plugin-commandline-reference.html
  v0.17/reference/topology-updater-commandline-reference.html
  v0.17/reference/topology-updater-configuration-reference.html
  v0.17/reference/versions.html
  v0.17/reference/worker-commandline-reference.html
  v0.17/reference/worker-configuration-reference.html
  v0.17/search.html
  v0.17/sitemap.xml
  v0.17/usage/custom-resources.html
  v0.17/usage/customization-guide.html
  v0.17/usage/examples-and-demos.html
  v0.17/usage/features.html
  v0.17/usage/image-compatibility.html
  v0.17/usage/index.html
  v0.17/usage/kubectl-plugin.html
  v0.17/usage/nfd-gc.html
  v0.17/usage/nfd-master.html
  v0.17/usage/nfd-topology-updater.html
  v0.17/usage/nfd-worker.html
  v0.17/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat: add support to differentiate specific hypervisors on s390x
  source/cpu/cpuid_amd64.go
  source/cpu/cpuid_linux_arm.go
  source/cpu/cpuid_linux_arm64.go
  source/cpu/cpuid_linux_ppc64le.go
  source/cpu/cpuid_linux_s390x.go
  source/cpu/cpuid_stub.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

goland removed dep
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

format
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Release v0.17.2
  Makefile
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Use Sprig template functions and add asLabelValue function
  docs/usage/customization-guide.md
  go.mod
  go.sum
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/apis/nfd/template/template.go
  pkg/apis/nfd/validate/validate.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Introduce memory.hugepages feature
  docs/usage/customization-guide.md
  source/memory/memory.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.17
  v0.17/404.html
  v0.17/contributing/index.html
  v0.17/data.json
  v0.17/deployment/helm.html
  v0.17/deployment/image-variants.html
  v0.17/deployment/index.html
  v0.17/deployment/kustomize.html
  v0.17/deployment/metrics.html
  v0.17/deployment/operator.html
  v0.17/deployment/uninstallation.html
  v0.17/developer-guide/index.html
  v0.17/get-started/index.html
  v0.17/get-started/introduction.html
  v0.17/get-started/quick-start.html
  v0.17/reference/feature-gates.html
  v0.17/reference/gc-commandline-reference.html
  v0.17/reference/index.html
  v0.17/reference/master-commandline-reference.html
  v0.17/reference/master-configuration-reference.html
  v0.17/reference/node-feature-client-reference.html
  v0.17/reference/plugin-commandline-reference.html
  v0.17/reference/topology-updater-commandline-reference.html
  v0.17/reference/topology-updater-configuration-reference.html
  v0.17/reference/versions.html
  v0.17/reference/worker-commandline-reference.html
  v0.17/reference/worker-configuration-reference.html
  v0.17/search.html
  v0.17/sitemap.xml
  v0.17/usage/custom-resources.html
  v0.17/usage/customization-guide.html
  v0.17/usage/examples-and-demos.html
  v0.17/usage/features.html
  v0.17/usage/image-compatibility.html
  v0.17/usage/index.html
  v0.17/usage/kubectl-plugin.html
  v0.17/usage/nfd-gc.html
  v0.17/usage/nfd-master.html
  v0.17/usage/nfd-topology-updater.html
  v0.17/usage/nfd-worker.html
  v0.17/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat: add spiffe integration in master and worker
  cmd/nfd-master/main.go
  cmd/nfd-worker/main.go
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

deploy: add spire manifests in helm and kustomize
  deployment/helm/node-feature-discovery/Chart.lock
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/helm/node-feature-discovery/charts/spire-0.24.1.tgz
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/master-commandline-reference.md
  docs/reference/worker-commandline-reference.md
  go.mod
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update Helm repo index for release v0.17.2
  charts/index.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

README: update to v0.17.2
  README.md
Due: none

Add unit tests for huge pages detection
  source/memory/memory.go
  source/memory/memory_test.go
  source/memory/testdata/hugepages/kernel/mm/hugepages/hugepages-1048576kB/nr_hugepages
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

go.mod: bump cpuid to v2.2.10
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

source/cpu: suppress cpufreq related error if driver is not enabled
  source/cpu/pstate_amd64.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Change ExecuteGroupRule to return detailed result
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Adding Tolerations fields to the NFD CRD
  api/operator/v1/nodefeaturediscovery_types.go
  api/operator/v1/zz_generated.deepcopy.go
  deployment/operator/config/crd/bases/nfd.kubernetes.io_nodefeaturediscoveries.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master
