Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

pull-node-feature-discovery-build-image-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image.sh
      resources:
  ...

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh
      resources:
  ...

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh
      resources:
  ...

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token
      resources:
        limits:
  ...

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/build.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-e2e-test-master:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/test-e2e-presubmit.sh
      resources:
  ...

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Drop setup of grpc logging
  cmd/nfd-master/main.go
  cmd/nfd-topology-updater/main.go
  cmd/nfd-worker/main.go
  pkg/utils/grpc_log.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-worker: set BlockOwnerDeletion in owner refs to false
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: mark v0.15 EOL
  docs/_includes/templates/content.liquid
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Add support running with OwnerReferencesPermissionEnforcement
  deployment/base/rbac/worker-role.yaml
  deployment/helm/node-feature-discovery/templates/role.yaml
  pkg/nfd-worker/nfd-worker.go
  test/e2e/utils/rbac.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Allow for rule processing in case of a missing feature
  pkg/apis/nfd/nodefeaturerule/rule.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Fix image compatibility processing panic in case of a nil pointer
  pkg/client-nfd/compat/node-validator/node-validator.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Sort the list of compatibility artifacts in desc order
  pkg/client-nfd/compat/artifact-client/client.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.17
  v0.17/404.html
  v0.17/contributing/index.html
  v0.17/deployment/helm.html
  v0.17/deployment/image-variants.html
  v0.17/deployment/index.html
  v0.17/deployment/kustomize.html
  v0.17/deployment/metrics.html
  v0.17/deployment/operator.html
  v0.17/deployment/uninstallation.html
  v0.17/developer-guide/index.html
  v0.17/get-started/index.html
  v0.17/get-started/introduction.html
  v0.17/get-started/quick-start.html
  v0.17/reference/feature-gates.html
  v0.17/reference/gc-commandline-reference.html
  v0.17/reference/index.html
  v0.17/reference/master-commandline-reference.html
  v0.17/reference/master-configuration-reference.html
  v0.17/reference/node-feature-client-reference.html
  v0.17/reference/plugin-commandline-reference.html
  v0.17/reference/topology-updater-commandline-reference.html
  v0.17/reference/topology-updater-configuration-reference.html
  v0.17/reference/versions.html
  v0.17/reference/worker-commandline-reference.html
  v0.17/reference/worker-configuration-reference.html
  v0.17/search.html
  v0.17/sitemap.xml
  v0.17/usage/custom-resources.html
  v0.17/usage/customization-guide.html
  v0.17/usage/examples-and-demos.html
  v0.17/usage/features.html
  v0.17/usage/image-compatibility.html
  v0.17/usage/index.html
  v0.17/usage/kubectl-plugin.html
  v0.17/usage/nfd-gc.html
  v0.17/usage/nfd-master.html
  v0.17/usage/nfd-topology-updater.html
  v0.17/usage/nfd-worker.html
  v0.17/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update cmd/nfd-master/main.go
  cmd/nfd-master/main.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update docs/reference/master-commandline-reference.md
  docs/reference/master-commandline-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Add unit tests for invalid feature in the compatibility spec
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/client-nfd/compat/node-validator/node-validator_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

go.mod: update golang.org deps
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

update flag name
  cmd/nfd-master/main.go
  docs/reference/master-commandline-reference.md
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

line length
  docs/reference/master-commandline-reference.md
  docs/usage/nfd-master.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

trailing spaces
  docs/reference/master-commandline-reference.md
  docs/usage/nfd-master.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.15
  v0.15/404.html
  v0.15/contributing/index.html
  v0.15/deployment/helm.html
  v0.15/deployment/image-variants.html
  v0.15/deployment/index.html
  v0.15/deployment/kustomize.html
  v0.15/deployment/metrics.html
  v0.15/deployment/operator.html
  v0.15/deployment/tls.html
  v0.15/deployment/uninstallation.html
  v0.15/developer-guide/index.html
  v0.15/get-started/index.html
  v0.15/get-started/introduction.html
  v0.15/get-started/quick-start.html
  v0.15/reference/gc-commandline-reference.html
  v0.15/reference/index.html
  v0.15/reference/master-commandline-reference.html
  v0.15/reference/master-configuration-reference.html
  v0.15/reference/plugin-commandline-reference.html
  v0.15/reference/topology-updater-commandline-reference.html
  v0.15/reference/topology-updater-configuration-reference.html
  v0.15/reference/versions.html
  v0.15/reference/worker-commandline-reference.html
  v0.15/reference/worker-configuration-reference.html
  v0.15/search.html
  v0.15/sitemap.xml
  v0.15/usage/custom-resources.html
  v0.15/usage/customization-guide.html
  v0.15/usage/examples-and-demos.html
  v0.15/usage/features.html
  v0.15/usage/index.html
  v0.15/usage/kubectl-plugin.html
  v0.15/usage/nfd-gc.html
  v0.15/usage/nfd-master.html
  v0.15/usage/nfd-topology-updater.html
  v0.15/usage/nfd-worker.html
  v0.15/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Release v0.16.7
  Makefile
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/data.json
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Release v0.17.1
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Update documentation for v0.17
  v0.17/404.html
  v0.17/contributing/index.html
  v0.17/data.json
  v0.17/deployment/helm.html
  v0.17/deployment/image-variants.html
  v0.17/deployment/index.html
  v0.17/deployment/kustomize.html
  v0.17/deployment/metrics.html
  v0.17/deployment/operator.html
  v0.17/deployment/uninstallation.html
  v0.17/developer-guide/index.html
  v0.17/get-started/index.html
  v0.17/get-started/introduction.html
  v0.17/get-started/quick-start.html
  v0.17/reference/feature-gates.html
  v0.17/reference/gc-commandline-reference.html
  v0.17/reference/index.html
  v0.17/reference/master-commandline-reference.html
  v0.17/reference/master-configuration-reference.html
  v0.17/reference/node-feature-client-reference.html
  v0.17/reference/plugin-commandline-reference.html
  v0.17/reference/topology-updater-commandline-reference.html
  v0.17/reference/topology-updater-configuration-reference.html
  v0.17/reference/versions.html
  v0.17/reference/worker-commandline-reference.html
  v0.17/reference/worker-configuration-reference.html
  v0.17/search.html
  v0.17/sitemap.xml
  v0.17/usage/custom-resources.html
  v0.17/usage/customization-guide.html
  v0.17/usage/examples-and-demos.html
  v0.17/usage/features.html
  v0.17/usage/image-compatibility.html
  v0.17/usage/index.html
  v0.17/usage/kubectl-plugin.html
  v0.17/usage/nfd-gc.html
  v0.17/usage/nfd-master.html
  v0.17/usage/nfd-topology-updater.html
  v0.17/usage/nfd-worker.html
  v0.17/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

README: update to v0.17.1
  README.md
Due: none

Path conditions:
  pull-node-feature-discovery-build-image-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
