Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

docs: switch to jekyll-theme-read-the-docs
  docs/Gemfile.lock
  docs/_config.yml
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: switch to jekyll-theme-read-the-docs
  docs/_config.yml
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: switch to jekyll-theme-read-the-docs
  Makefile
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  netlify.toml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: backport site customization
  docs/_includes/templates/addons.liquid
  docs/_includes/templates/content.liquid
  docs/_includes/templates/sidebar.liquid
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

scripts/test-infra: fix mdlint script
  scripts/test-infra/mdlint.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

scripts/test-infra: bump k8s logcheck to v0.8.1
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Makefile: increase golangci-lint timeout to 10min
  Makefile
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

github: specify workflow permissions
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
Due: none

github: specify workflow permissions
  .github/workflows/gh-pages.yml
Due: none

github: limit gh-pages build of tags to (final) semver releases
  .github/workflows/gh-pages.yml
Due: none
