Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-export.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-worker: Watch features.d changes
  pkg/nfd-worker/nfd-worker-internal_test.go
  pkg/nfd-worker/nfd-worker.go
  source/local/local.go
  source/source.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

source/kernel: Add kvm availability
  deployment/base/nfd-crds/cr-sample.yaml
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/values.yaml
  docs/usage/customization-guide.md
  source/kernel/kernel.go
  source/kernel/kvm.go
  test/e2e/e2e-test-config.example.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix(cpu): use runtime.GOARCH for s390x hypervisor detection logic
  source/cpu/cpu.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix(cpu): improve hypervisor detection logic
  source/cpu/cpu.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix(cpu): replace klog.Error with klog.ErrorS
  source/cpu/cpu.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat(cpu): detect hypervisor on x86_64 and arm64 via CPUID
  docs/usage/customization-guide.md
  source/cpu/cpu.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

helm: bundle schema refs to support air-gapped environments
  deployment/helm/node-feature-discovery/.schema.yaml
  deployment/helm/node-feature-discovery/values.schema.json
Due: pull-node-feature-discovery-verify-master

build(deps): bump the k8sio group across 1 directory with 2 updates
  go.mod
  go.sum
  pkg/nfd-master/nfd-api-controller_test.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master_test.go
  pkg/nfd-master/updater-pool_test.go
  pkg/nfd-worker/nfd-worker-internal_test.go
  pkg/nfd-worker/nfd-worker_test.go
  pkg/resourcemonitor/podresourcesscanner_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Add ttlSecondsAfterFinished to Jobs
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/templates/post-delete-job.yaml
  deployment/overlays/prune/master-job.yaml
Due: pull-node-feature-discovery-verify-master

Add NFD image compatibility scheduler proposal. Co-authored-by: Marcin Franczyk <marcin0franczyk@gmail.com> Co-authored-by: Joe Huang <joehuang.sweden@gmail.com>
  enhancements/2402-nfd-image-compatibility-scheduler/README.md
  enhancements/2402-nfd-image-compatibility-scheduler/solution1.png
  enhancements/2402-nfd-image-compatibility-scheduler/solution2.png
  enhancements/2402-nfd-image-compatibility-scheduler/solution3.png
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Add NFD image compatibility scheduler proposal. Co-authored-by: Joe Huang <joehuang.sweden@gmail.com>
  enhancements/2403-nfd-image-compatibility-scheduler/README.md
  enhancements/2403-nfd-image-compatibility-scheduler/solution1.png
  enhancements/2403-nfd-image-compatibility-scheduler/solution2.png
  enhancements/2403-nfd-image-compatibility-scheduler/solution3.png
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

chore(helm): include optional networkPolicy
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/master-networkpolicy.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc-networkpolicy.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater-networkpolicy.yaml
  deployment/helm/node-feature-discovery/templates/worker-networkpolicy.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

nfd-topology-updater: Detect E/P cores and expose through attributes
  pkg/nfd-topology-updater/nfd-topology-updater.go
  source/cpu/cpu.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-master: prevent label removal on incomplete cache sync
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix flag passing to config override informerpagesize
  cmd/nfd-master/main.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-master: prevent label removal on incomplete cache sync
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  pkg/nfd-master/updater-pool.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master
