Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-export.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

deps: bump k8s packages to v1.35.1
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix: rbac nfd-master nodefeaturegroup
  deployment/base/rbac/master-clusterrole.yaml
Due: pull-node-feature-discovery-verify-master

Change serviceAccount: to serviceAccountName:
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/overlays/prune/master-job.yaml
Due: pull-node-feature-discovery-verify-master

add --load flag to docker buildx build
  Makefile
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Allowing to configure priority class for the worker pods
  api/operator/v1/nodefeaturediscovery_types.go
  deployment/operator/config/crd/bases/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  pkg/operator/daemonset/daemonset.go
  pkg/operator/daemonset/daemonset_test.go
  pkg/operator/daemonset/testdata/test_worker_daemonset.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

go.mod: update all k8s modules to v1.35.2
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

netlify: fix build
  netlify.toml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

netlify: use bundler to run jekyll
  netlify.toml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

scripts/test-infra: fix periodic e2e
  scripts/test-infra/test-e2e.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.18
  v0.18/404.html
  v0.18/contributing/index.html
  v0.18/deployment/helm.html
  v0.18/deployment/image-variants.html
  v0.18/deployment/index.html
  v0.18/deployment/kustomize.html
  v0.18/deployment/metrics.html
  v0.18/deployment/operator.html
  v0.18/deployment/uninstallation.html
  v0.18/developer-guide/index.html
  v0.18/get-started/index.html
  v0.18/get-started/introduction.html
  v0.18/get-started/quick-start.html
  v0.18/reference/feature-gates.html
  v0.18/reference/gc-commandline-reference.html
  v0.18/reference/index.html
  v0.18/reference/master-commandline-reference.html
  v0.18/reference/master-configuration-reference.html
  v0.18/reference/node-feature-client-reference.html
  v0.18/reference/plugin-commandline-reference.html
  v0.18/reference/topology-updater-commandline-reference.html
  v0.18/reference/topology-updater-configuration-reference.html
  v0.18/reference/versions.html
  v0.18/reference/worker-commandline-reference.html
  v0.18/reference/worker-configuration-reference.html
  v0.18/search.html
  v0.18/sitemap.xml
  v0.18/usage/custom-resources.html
  v0.18/usage/customization-guide.html
  v0.18/usage/examples-and-demos.html
  v0.18/usage/features.html
  v0.18/usage/image-compatibility.html
  v0.18/usage/index.html
  v0.18/usage/kubectl-plugin.html
  v0.18/usage/nfd-export.html
  v0.18/usage/nfd-gc.html
  v0.18/usage/nfd-master.html
  v0.18/usage/nfd-topology-updater.html
  v0.18/usage/nfd-worker.html
  v0.18/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat: Add additional DMI attributes to system feature source
  docs/usage/customization-guide.md
  examples/nodefeature.yaml
  source/system/system.go
  source/system/system_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Add auto-generated API documentation using crd-ref-docs
  Makefile
  docs/mdl-style.rb
  docs/reference/nfd-api-reference.md
  hack/crd-ref-docs/config.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Address review feedback
  Makefile
  docs/mdl-style.rb
  docs/reference/generated-nfd-api-reference.md
  docs/usage/customization-guide.md
  go.mod
  go.sum
  scripts/test-infra/mdlint.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-master: Auto-disable leader election if replicaCount is 1
  deployment/helm/node-feature-discovery/templates/master.yaml
Due: pull-node-feature-discovery-verify-master

source/cpu: Expose CPU cores information
  docs/usage/features.md
  source/cpu/cpu.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat: Add initContainers support for all Helm chart components
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

source/memory: Detect total memory
  docs/usage/features.md
  source/memory/memory.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

refactor: rename skipLabelRemoval to skipRemoval
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix: use atomic resolveNodeState for compound state check
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix: protect extended resources from removal during cache miss
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master
