Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh
      resources:
  ...

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh
      resources:
  ...

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token
      resources:
        limits:
  ...

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/build.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-e2e-test-master:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/test-e2e-presubmit.sh
      resources:
  ...

test/e2e: keep the NRT CRD in the nfd-gc specs
  test/e2e/nfd_gc_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

enhancements: propose moving the NFD Operator into node-feature-discovery
  enhancements/2602-nfd-operator/README.md
Due: none

operator: build the imported code in the NFD module
  cmd/nfd-operator/main.go
  go.mod
  go.sum
  pkg/operator/configmap/configmap.go
  pkg/operator/configmap/configmap_test.go
  pkg/operator/configmap/mock_configmap.go
  pkg/operator/configmap/suite_test.go
  pkg/operator/controllers/mock_nodefeaturediscovery_reconciler.go
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
  pkg/operator/controllers/nodefeaturediscovery_reconciler_test.go
  pkg/operator/controllers/suite_test.go
  pkg/operator/daemonset/daemonset.go
  pkg/operator/daemonset/daemonset_test.go
  pkg/operator/daemonset/mock_daemonset.go
  pkg/operator/daemonset/suite_test.go
  pkg/operator/daemonset/worker.go
  pkg/operator/daemonset/worker_test.go
  pkg/operator/deployment/deployment.go
  pkg/operator/deployment/deployment_test.go
  pkg/operator/deployment/mock_deployment.go
  pkg/operator/deployment/suite_test.go
  pkg/operator/job/job.go
  pkg/operator/job/job_test.go
  pkg/operator/job/mock_job.go
  pkg/operator/job/suite_test.go
  pkg/operator/status/mock_status.go
  pkg/operator/status/status.go
  pkg/operator/status/status_test.go
  pkg/operator/status/suite_test.go
  pkg/operator/test/scheme.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

operator: fix the logcheck finding in cmd/nfd-operator
  cmd/nfd-operator/main.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

operator: run mockgen through go tool
  pkg/operator/client/client.go
  pkg/operator/configmap/configmap.go
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
  pkg/operator/daemonset/daemonset.go
  pkg/operator/deployment/deployment.go
  pkg/operator/job/job.go
  pkg/operator/status/status.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

hack: generate CRDs from the NFD API only
  hack/update_codegen.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

github: leave controller-runtime minor updates to the k8s.io bumps
  .github/dependabot.yml
Due: none

cpu: add TDX module version labels
  docs/usage/customization-guide.md
  docs/usage/features.md
  source/cpu/security_amd64.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

enhancements: KEP-2602: operand image and e2e first, rendering later
  enhancements/2602-nfd-operator/README.md
Due: none

docs: describe the local source in the worker config reference
  docs/reference/worker-configuration-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

fix(ci): bump gcb-docker-gcloud builder to v20260729-0b834bafc6
  cloudbuild.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs(get-started): fix quick start commands and expected output
  docs/get-started/index.md
  docs/get-started/quick-start.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(get-started): update the introduction to the current architecture
  docs/get-started/introduction.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(customization-guide): fix NodeFeatureGroup, feature file and rule field examples
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(customization-guide): fix rule examples and the available features table
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(usage): correct NodeFeatureGroup scope and examples on the CRDs page
  docs/usage/custom-resources.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(reference): update the feature gate descriptions
  docs/reference/feature-gates.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(helm): correct chart parameter descriptions
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/_templates.gotmpl
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

docs(api): document required fields, scope and status types
  api/nfd/v1alpha1/types.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  docs/reference/generated-nfd-api-reference.md
  hack/crd-ref-docs/config.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs(deployment): fix the kustomize uninstall steps and one-shot note
  docs/deployment/kustomize.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(api): add crd-ref-docs templates for the API reference
  hack/crd-ref-docs/templates/gv_details.tpl
  hack/crd-ref-docs/templates/gv_list.tpl
  hack/crd-ref-docs/templates/type.tpl
  hack/crd-ref-docs/templates/type_members.tpl
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs(reference): correct nfd-master usage and reference pages
  docs/reference/master-commandline-reference.md
  docs/reference/master-configuration-reference.md
  docs/usage/nfd-master.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(features): correct built-in label names and descriptions
  docs/usage/features.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(reference): document the e2e test configuration file
  docs/reference/e2e-configuration-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(deployment): correct the metrics page
  docs/deployment/metrics.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(image-compatibility): fix schema, manifest example, build step and Job
  docs/usage/image-compatibility.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(deployment): note that the operatorhub NFD Operator is outdated
  docs/deployment/operator.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

fix(deployment): give the prune overlay its own RBAC
  deployment/overlays/prune/kustomization.yaml
  deployment/overlays/prune/master-clusterrole.yaml
  deployment/overlays/prune/master-job.yaml
  deployment/overlays/prune/prune-clusterrole.yaml
  deployment/overlays/prune/prune-clusterrolebinding.yaml
  deployment/overlays/prune/prune-serviceaccount.yaml
Due: pull-node-feature-discovery-verify-master

docs(developer-guide): fix image build commands and build variables
  docs/developer-guide/index.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(reference): correct nfd-worker usage and reference pages
  docs/reference/worker-commandline-reference.md
  docs/reference/worker-configuration-reference.md
  docs/usage/nfd-worker.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(reference): fix kubectl-nfd help flag and drop --namespace
  docs/reference/plugin-commandline-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(developer-guide): fix local run commands and Tilt registry notes
  docs/developer-guide/index.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(contributing): describe how to contribute code
  docs/contributing/index.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(reference): document all klog flags and options
  docs/reference/gc-commandline-reference.md
  docs/reference/master-commandline-reference.md
  docs/reference/master-configuration-reference.md
  docs/reference/topology-updater-commandline-reference.md
  docs/reference/worker-commandline-reference.md
  docs/reference/worker-configuration-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(usage): correct nfd-topology-updater usage and reference pages
  docs/reference/topology-updater-commandline-reference.md
  docs/usage/nfd-topology-updater.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(usage): document nfd-gc node-name handling and nfd client gaps
  docs/reference/node-feature-client-reference.md
  docs/usage/nfd-gc.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(reference): note that the worker source value `all` excludes fake
  docs/reference/worker-commandline-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
