Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh
      resources:
  ...

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh
      resources:
  ...

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token
      resources:
        limits:
  ...

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/build.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-e2e-test-master:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/test-e2e-presubmit.sh
      resources:
  ...

ci: migrate coverage upload to Codecov CLI
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

helm: add updateStrategy to the topology-updater DaemonSet
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

deps: bump k8s.io to v0.35.3 and controller-runtime to v0.23.3
  pkg/operator/client/mock_client.go
  pkg/operator/configmap/mock_configmap.go
  pkg/operator/controllers/mock_nodefeaturediscovery_reconciler.go
  pkg/operator/daemonset/mock_daemonset.go
  pkg/operator/deployment/mock_deployment.go
  pkg/operator/job/mock_job.go
  pkg/operator/status/mock_status.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test/e2e: stop re-creating the NRT CRD before every topology-updater spec
  test/e2e/topology_updater_test.go
  test/e2e/utils/noderesourcetopology.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

generated: regenerate CRD and deepcopy with controller-gen v0.18.0
  api/operator/v1/zz_generated.deepcopy.go
  deployment/operator/config/crd/bases/nfd.kubernetes.io_nodefeaturediscoveries.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

samples: point kustomization at the renamed NodeFeatureRule sample
  deployment/operator/config/samples/kustomization.yaml
Due: pull-node-feature-discovery-verify-master

lint: fix staticcheck quickfix findings
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
  pkg/operator/daemonset/daemonset.go
  pkg/operator/deployment/deployment.go
  pkg/operator/status/status.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: expect NFD v0.19.0 operand objects
  pkg/operator/daemonset/testdata/test_worker_daemonset.yaml
  pkg/operator/deployment/deployment_test.go
  pkg/operator/deployment/testdata/test_master_deployment.yaml
  pkg/operator/job/job_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

rbac: grant v0.19.0 operand permissions and fix binding namespaces
  deployment/helm/nfd-operator/templates/rbac/gc/clusterrole_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/master/clusterrole.yaml
  deployment/helm/nfd-operator/templates/rbac/prune/clusterrole.yaml
  deployment/helm/nfd-operator/templates/rbac/topologyupdater/clusterrole.yaml
  deployment/helm/nfd-operator/templates/rbac/topologyupdater/clusterrole_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/worker/role.yaml
  deployment/operator/config/rbac/master/clusterrole.yaml
  deployment/operator/config/rbac/master/clusterrole_binding.yaml
  deployment/operator/config/rbac/prune/clusterrole.yaml
  deployment/operator/config/rbac/prune/clusterrole_binding.yaml
  deployment/operator/config/rbac/topologyupdater/clusterrole.yaml
  deployment/operator/config/rbac/topologyupdater/clusterrole_binding.yaml
  deployment/operator/config/rbac/worker/role.yaml
  deployment/operator/config/rbac/worker/role_binding.yaml
Due: pull-node-feature-discovery-verify-master

operand: deploy NFD v0.19.0
  pkg/operator/daemonset/worker.go
  pkg/operator/deployment/deployment.go
  pkg/operator/job/job.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

crd: sync NodeFeatureDiscovery CRD copies with the generated one
  deployment/helm/nfd-operator/crds/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  deployment/operator/bundle/manifests/nfd.kubernetes.io_nodefeaturediscoveries.yaml
Due: pull-node-feature-discovery-verify-master

crd: sync operand CRDs from NFD v0.19.0
  deployment/helm/nfd-operator/crds/nfd.k8s-sigs.io_nodefeaturegroups.yaml
  deployment/helm/nfd-operator/crds/nfd.k8s-sigs.io_nodefeatures.yaml
  deployment/helm/nfd-operator/crds/nfd.k8s-sigs.io_v1alpha1_nodefeaturerules.yaml
  deployment/helm/nfd-operator/crds/node.k8s.io_v1alpha1_noderesourcetopologies.yaml
  deployment/operator/config/crd/bases/nfd.k8s-sigs.io_nodefeaturegroups.yaml
  deployment/operator/config/crd/bases/nfd.k8s-sigs.io_nodefeatures.yaml
  deployment/operator/config/crd/bases/nfd.k8s-sigs.io_v1alpha1_nodefeaturerules.yaml
  deployment/operator/config/crd/bases/node.k8s.io_v1alpha1_noderesourcetopologies.yaml
Due: pull-node-feature-discovery-verify-master

github: add a pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

metrics: serve /metrics without the kube-rbac-proxy sidecar
  cmd/nfd-operator/main.go
  deployment/helm/nfd-operator/templates/configmap.yaml
  deployment/helm/nfd-operator/templates/deployment.yaml
  deployment/operator/bundle/manifests/nfd-manager-config_v1_configmap.yaml
  deployment/operator/bundle/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
  deployment/operator/config/default/kustomization.yaml
  deployment/operator/config/default/manager_auth_proxy_patch.yaml
  deployment/operator/config/default/manager_metrics_patch.yaml
  deployment/operator/config/manager/controller_manager_config.yaml
  deployment/operator/config/manifests/bases/nfd-operator.clusterserviceversion.yaml
  deployment/operator/config/rbac/kustomization.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: expect /metrics served over TLS with authentication
  cmd/nfd-operator/main_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

samples: default the operand to NFD v0.19.0
  deployment/helm/nfd-operator/templates/deployment.yaml
  deployment/helm/nfd-operator/values.yaml
  deployment/operator/bundle/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
  deployment/operator/config/manager/manager.yaml
  deployment/operator/config/manifests/bases/nfd-operator.clusterserviceversion.yaml
  deployment/operator/config/samples/nfd.kubernetes.io_v1_nodefeaturediscovery.yaml
Due: pull-node-feature-discovery-verify-master

operand: drop the /usr/src mount from nfd-worker
  pkg/operator/daemonset/worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: expect a retried prune Job to finish the prune
  pkg/operator/controllers/nodefeaturediscovery_reconciler_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: expect nfd-worker without the /usr/src mount
  pkg/operator/daemonset/testdata/test_worker_daemonset.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: compare the prune Job with its fixture
  pkg/operator/job/job_test.go
  pkg/operator/job/testdata/test_prune_job.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

operand: finish pruning once the prune Job succeeded
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

operand: warn that spec.resourceLabels is ignored
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

test: expect a warning when spec.resourceLabels is set
  pkg/operator/controllers/nodefeaturediscovery_reconciler_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

api: say that resourceLabels is ignored and which NFD the operand needs
  api/operator/v1/nodefeaturediscovery_types.go
  deployment/helm/nfd-operator/crds/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  deployment/operator/bundle/manifests/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  deployment/operator/config/crd/bases/nfd.kubernetes.io_nodefeaturediscoveries.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

scripts/test-infra/verify: bump logcheck to v0.10.1
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: fix broken links
  docs/contributing/index.md
  docs/developer-guide/index.md
  docs/get-started/introduction.md
  docs/reference/worker-configuration-reference.md
  docs/usage/custom-resources.md
  docs/usage/customization-guide.md
  docs/usage/features.md
  docs/usage/nfd-gc.md
  docs/usage/nfd-master.md
  docs/usage/nfd-topology-updater.md
  docs/usage/nfd-worker.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: fix wrong names in examples and config notes
  docs/usage/customization-guide.md
  docs/usage/nfd-topology-updater.md
  docs/usage/nfd-worker.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: document -kubeconfig for nfd-topology-updater and nfd-gc
  docs/reference/gc-commandline-reference.md
  docs/reference/topology-updater-commandline-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
