Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-build-image-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

generate: update controller-gen to v0.11.3
  Dockerfile_generator
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

generate: update mockery to v2.25.1
  Dockerfile_generator
  pkg/apihelper/mock_APIHelpers.go
  pkg/labeler/mock_LabelerClient.go
  pkg/podres/mocks/PodResourcesListerClient.go
  source/mock_LabelSource.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: support noPublish with -prune
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: support no publish with -prune
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.13
  v0.13/404.html
  v0.13/contributing/index.html
  v0.13/deployment/helm.html
  v0.13/deployment/image-variants.html
  v0.13/deployment/index.html
  v0.13/deployment/kustomize.html
  v0.13/deployment/operator.html
  v0.13/deployment/tls.html
  v0.13/deployment/uninstallation.html
  v0.13/developer-guide/index.html
  v0.13/get-started/index.html
  v0.13/get-started/introduction.html
  v0.13/get-started/quick-start.html
  v0.13/reference/index.html
  v0.13/reference/master-commandline-reference.html
  v0.13/reference/master-configuration-reference.html
  v0.13/reference/topology-gc-commandline-reference.html
  v0.13/reference/topology-updater-commandline-reference.html
  v0.13/reference/topology-updater-configuration-reference.html
  v0.13/reference/worker-commandline-reference.html
  v0.13/reference/worker-configuration-reference.html
  v0.13/search.html
  v0.13/sitemap.xml
  v0.13/usage/custom-resources.html
  v0.13/usage/customization-guide.html
  v0.13/usage/examples-and-demos.html
  v0.13/usage/features.html
  v0.13/usage/index.html
  v0.13/usage/nfd-master.html
  v0.13/usage/nfd-topology-gc.html
  v0.13/usage/nfd-topology-updater.html
  v0.13/usage/nfd-worker.html
  v0.13/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: configure before prune
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

deployment/kustomize: add master config to prune overlay
  deployment/overlays/prune/kustomization.yaml
Due: pull-node-feature-discovery-verify-master

nfd-master: don't create emtpy annotations
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

pkg/nfd-master/nfd-master.go: Fix typo
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: fix a crash when processing NodeFeatureRules
  pkg/apis/nfd/v1alpha1/feature.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.12
  v0.12/404.html
  v0.12/contributing/index.html
  v0.12/deployment/helm.html
  v0.12/deployment/image-variants.html
  v0.12/deployment/index.html
  v0.12/deployment/kustomize.html
  v0.12/deployment/operator.html
  v0.12/deployment/tls.html
  v0.12/deployment/uninstallation.html
  v0.12/developer-guide/index.html
  v0.12/get-started/index.html
  v0.12/get-started/introduction.html
  v0.12/get-started/quick-start.html
  v0.12/reference/index.html
  v0.12/reference/master-commandline-reference.html
  v0.12/reference/topology-updater-commandline-reference.html
  v0.12/reference/topology-updater-configuration-reference.html
  v0.12/reference/worker-commandline-reference.html
  v0.12/reference/worker-configuration-reference.html
  v0.12/search.html
  v0.12/sitemap.xml
  v0.12/usage/custom-resources.html
  v0.12/usage/customization-guide.html
  v0.12/usage/examples-and-demos.html
  v0.12/usage/features.html
  v0.12/usage/index.html
  v0.12/usage/nfd-master.html
  v0.12/usage/nfd-topology-updater.html
  v0.12/usage/nfd-worker.html
  v0.12/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: reject malformed extended resource dynamic capacity assignment
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update deps
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add annitations field to NodeFeatureRule CR spec
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/apis/nfd/v1alpha1/annotations_labels.go
  pkg/apis/nfd/v1alpha1/rule.go
  pkg/apis/nfd/v1alpha1/types.go
  pkg/apis/nfd/v1alpha1/zz_generated.deepcopy.go
  test/e2e/data/nodefeaturerule-5.yaml
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add node annotations feature to document
  docs/get-started/introduction.md
  docs/usage/customization-guide.md
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

OWNERS: add ArangoGutierrez as an approver
  OWNERS
Due: none

feat: add master resync period configurability
  cmd/nfd-master/main.go
  deployment/components/master-config/nfd-master.conf.example
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  docs/reference/master-commandline-reference.md
  docs/reference/master-configuration-reference.md
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/flags.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-topology-updater: fix kubelet state file notifier
  pkg/nfd-topology-updater/kubeletnotifier/kubeletnotifier.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master
