Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

fix: protect taints from removal during cache miss
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix: add periodic reconciliation to clean up genuinely absent NodeFeatures
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

chore: address code review feedback
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

go.mod: bump kubernetes to v1.35.3
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs: Document -kubeconfig option for nfd-master
  docs/reference/master-commandline-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

kubectl-nfd: Fix typo for the validate's flag name in the doc
  docs/reference/plugin-commandline-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

github: pin versions of github actions to sha
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
Due: none

helm: add checksumValuesOnly option to prevent unnecessary pod restarts
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

nfd-worker: Don't connect to apiserver in case --no-publish is used
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-master: fix panic on NodeFeature delete and improve assertions
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

api: register List types in scheme
  api/nfd/v1alpha1/register.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update documentation for v0.18
  v0.18/404.html
  v0.18/contributing/index.html
  v0.18/deployment/helm.html
  v0.18/deployment/image-variants.html
  v0.18/deployment/index.html
  v0.18/deployment/kustomize.html
  v0.18/deployment/metrics.html
  v0.18/deployment/operator.html
  v0.18/deployment/uninstallation.html
  v0.18/developer-guide/index.html
  v0.18/get-started/index.html
  v0.18/get-started/introduction.html
  v0.18/get-started/quick-start.html
  v0.18/reference/feature-gates.html
  v0.18/reference/gc-commandline-reference.html
  v0.18/reference/index.html
  v0.18/reference/master-commandline-reference.html
  v0.18/reference/master-configuration-reference.html
  v0.18/reference/node-feature-client-reference.html
  v0.18/reference/plugin-commandline-reference.html
  v0.18/reference/topology-updater-commandline-reference.html
  v0.18/reference/topology-updater-configuration-reference.html
  v0.18/reference/versions.html
  v0.18/reference/worker-commandline-reference.html
  v0.18/reference/worker-configuration-reference.html
  v0.18/search.html
  v0.18/sitemap.xml
  v0.18/usage/custom-resources.html
  v0.18/usage/customization-guide.html
  v0.18/usage/examples-and-demos.html
  v0.18/usage/features.html
  v0.18/usage/image-compatibility.html
  v0.18/usage/index.html
  v0.18/usage/kubectl-plugin.html
  v0.18/usage/nfd-export.html
  v0.18/usage/nfd-gc.html
  v0.18/usage/nfd-master.html
  v0.18/usage/nfd-topology-updater.html
  v0.18/usage/nfd-worker.html
  v0.18/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

nfd-master: Add command line unit test
  cmd/nfd-master/main.go
  cmd/nfd-master/main_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

helm: run make helm-generate to update docs and schema
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/values.schema.json
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

kubectl-nfd: Add NodeFeatureGroup dryrun, validation and test
  cmd/kubectl-nfd/subcmd/dryrun.go
  cmd/kubectl-nfd/subcmd/root.go
  cmd/kubectl-nfd/subcmd/test.go
  cmd/kubectl-nfd/subcmd/validate.go
  docs/usage/kubectl-plugin.md
  examples/nodefeaturegroup.yaml
  pkg/kubectl-nfd/common.go
  pkg/kubectl-nfd/dryrun.go
  pkg/kubectl-nfd/test.go
  pkg/kubectl-nfd/validate.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat(cpu): add x86-64 level CPUID flags
  docs/usage/features.md
  source/cpu/cpu_test.go
  source/cpu/cpuid_amd64.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

feat(network): add aggregated SR-IOV VF capacity and usage labels
  docs/usage/features.md
  source/network/network.go
  source/network/network_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

fix: honor -stderrthreshold when -logtostderr=true
  cmd/nfd-gc/main.go
  cmd/nfd-topology-updater/main.go
  pkg/utils/klog/klog.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master
