Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

pull-node-feature-discovery-build-image-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image.sh

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/verify.sh
      resources:
        limits:
          cpu: 1
          memory: 4Gi
        requests:
          cpu: 1
          memory: 4Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
  ...

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh
      resources:
        limits:
          cpu: 1
          memory: 4Gi
        requests:
          cpu: 1
          memory: 4Gi

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/build.sh
      resources:
        limits:
          cpu: 1
          memory: 4Gi
        requests:
          cpu: 1
          memory: 4Gi

Update documentation for v0.14
  v0.14/404.html
  v0.14/contributing/index.html
  v0.14/data.json
  v0.14/deployment/helm.html
  v0.14/deployment/image-variants.html
  v0.14/deployment/index.html
  v0.14/deployment/kustomize.html
  v0.14/deployment/metrics.html
  v0.14/deployment/operator.html
  v0.14/deployment/tls.html
  v0.14/deployment/uninstallation.html
  v0.14/developer-guide/index.html
  v0.14/get-started/index.html
  v0.14/get-started/introduction.html
  v0.14/get-started/quick-start.html
  v0.14/reference/gc-commandline-reference.html
  v0.14/reference/index.html
  v0.14/reference/master-commandline-reference.html
  v0.14/reference/master-configuration-reference.html
  v0.14/reference/topology-updater-commandline-reference.html
  v0.14/reference/topology-updater-configuration-reference.html
  v0.14/reference/versions.html
  v0.14/reference/worker-commandline-reference.html
  v0.14/reference/worker-configuration-reference.html
  v0.14/search.html
  v0.14/sitemap.xml
  v0.14/usage/custom-resources.html
  v0.14/usage/customization-guide.html
  v0.14/usage/examples-and-demos.html
  v0.14/usage/features.html
  v0.14/usage/index.html
  v0.14/usage/nfd-gc.html
  v0.14/usage/nfd-master.html
  v0.14/usage/nfd-topology-updater.html
  v0.14/usage/nfd-worker.html
  v0.14/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.13
  v0.13/404.html
  v0.13/contributing/index.html
  v0.13/data.json
  v0.13/deployment/helm.html
  v0.13/deployment/image-variants.html
  v0.13/deployment/index.html
  v0.13/deployment/kustomize.html
  v0.13/deployment/operator.html
  v0.13/deployment/tls.html
  v0.13/deployment/uninstallation.html
  v0.13/developer-guide/index.html
  v0.13/get-started/index.html
  v0.13/get-started/introduction.html
  v0.13/get-started/quick-start.html
  v0.13/reference/index.html
  v0.13/reference/master-commandline-reference.html
  v0.13/reference/master-configuration-reference.html
  v0.13/reference/topology-gc-commandline-reference.html
  v0.13/reference/topology-updater-commandline-reference.html
  v0.13/reference/topology-updater-configuration-reference.html
  v0.13/reference/worker-commandline-reference.html
  v0.13/reference/worker-configuration-reference.html
  v0.13/search.html
  v0.13/sitemap.xml
  v0.13/usage/custom-resources.html
  v0.13/usage/customization-guide.html
  v0.13/usage/examples-and-demos.html
  v0.13/usage/features.html
  v0.13/usage/index.html
  v0.13/usage/nfd-master.html
  v0.13/usage/nfd-topology-gc.html
  v0.13/usage/nfd-topology-updater.html
  v0.13/usage/nfd-worker.html
  v0.13/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.14
  v0.14/404.html
  v0.14/contributing/index.html
  v0.14/deployment/helm.html
  v0.14/deployment/image-variants.html
  v0.14/deployment/index.html
  v0.14/deployment/kustomize.html
  v0.14/deployment/metrics.html
  v0.14/deployment/operator.html
  v0.14/deployment/tls.html
  v0.14/deployment/uninstallation.html
  v0.14/developer-guide/index.html
  v0.14/get-started/index.html
  v0.14/get-started/introduction.html
  v0.14/get-started/quick-start.html
  v0.14/reference/gc-commandline-reference.html
  v0.14/reference/index.html
  v0.14/reference/master-commandline-reference.html
  v0.14/reference/master-configuration-reference.html
  v0.14/reference/topology-updater-commandline-reference.html
  v0.14/reference/topology-updater-configuration-reference.html
  v0.14/reference/versions.html
  v0.14/reference/worker-commandline-reference.html
  v0.14/reference/worker-configuration-reference.html
  v0.14/search.html
  v0.14/sitemap.xml
  v0.14/usage/custom-resources.html
  v0.14/usage/customization-guide.html
  v0.14/usage/examples-and-demos.html
  v0.14/usage/features.html
  v0.14/usage/index.html
  v0.14/usage/nfd-gc.html
  v0.14/usage/nfd-master.html
  v0.14/usage/nfd-topology-updater.html
  v0.14/usage/nfd-worker.html
  v0.14/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.13
  v0.13/404.html
  v0.13/contributing/index.html
  v0.13/deployment/helm.html
  v0.13/deployment/image-variants.html
  v0.13/deployment/index.html
  v0.13/deployment/kustomize.html
  v0.13/deployment/operator.html
  v0.13/deployment/tls.html
  v0.13/deployment/uninstallation.html
  v0.13/developer-guide/index.html
  v0.13/get-started/index.html
  v0.13/get-started/introduction.html
  v0.13/get-started/quick-start.html
  v0.13/reference/index.html
  v0.13/reference/master-commandline-reference.html
  v0.13/reference/master-configuration-reference.html
  v0.13/reference/topology-gc-commandline-reference.html
  v0.13/reference/topology-updater-commandline-reference.html
  v0.13/reference/topology-updater-configuration-reference.html
  v0.13/reference/worker-commandline-reference.html
  v0.13/reference/worker-configuration-reference.html
  v0.13/search.html
  v0.13/sitemap.xml
  v0.13/usage/custom-resources.html
  v0.13/usage/customization-guide.html
  v0.13/usage/examples-and-demos.html
  v0.13/usage/features.html
  v0.13/usage/index.html
  v0.13/usage/nfd-master.html
  v0.13/usage/nfd-topology-gc.html
  v0.13/usage/nfd-topology-updater.html
  v0.13/usage/nfd-worker.html
  v0.13/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Replace gRPC health probe utility with k8s built-in health probe
  Dockerfile
  deployment/base/master-worker-combined/master-worker-daemonset.yaml
  deployment/base/master/master-deployment.yaml
  deployment/helm/node-feature-discovery/templates/cert-manager-certs.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/overlays/samples/cert-manager/master-cert.yaml
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update Helm repo index for release v0.13.5
  charts/index.yaml
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update Helm repo index for release v0.14.1
  charts/index.yaml
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

README: update to v0.14.1
  README.md
Due: none

nfd-master: fix filtering of extended resources
  pkg/nfd-master/nfd-master.go
  test/e2e/data/nodefeaturerule-4.yaml
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update values.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

apis/nfd: drop one stale comment line
  pkg/apis/nfd/v1alpha1/types.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update master-job.yaml's nfd-worker flag -prune to --prune (#1)
  deployment/overlays/prune/master-job.yaml
Due: pull-node-feature-discovery-verify-master

Helm - Move remaining gPRC related flags to conditional
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

Helm - service to be only deployed when needed
  deployment/helm/node-feature-discovery/templates/service.yaml
Due: pull-node-feature-discovery-verify-master

Bump to Go 1.21
  Makefile
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update deployment/helm/node-feature-discovery/templates/service.yaml
  deployment/helm/node-feature-discovery/templates/service.yaml
Due: pull-node-feature-discovery-verify-master

Helm - service to be only deployed when needed (#1389)
  deployment/helm/node-feature-discovery/templates/service.yaml
Due: pull-node-feature-discovery-verify-master

Bump Go to v1.21
  Makefile
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update Makefile
  Makefile
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update kubernetes and controller-runtime
  deployment/operator/config/crd/bases/nfd.kubernetes.io_nodefeaturediscoveries.yaml
Due: pull-node-feature-discovery-verify-master

feat: support raw features
  docs/usage/customization-guide.md
  source/local/local.go
  source/local/local_test.go
  source/local/testdata/features.d/features_with_labels
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Fix serviceaccount handling for nfd-gc to be consistent with others
  deployment/helm/node-feature-discovery/templates/clusterrolebinding.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/serviceaccount.yaml
Due: pull-node-feature-discovery-verify-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: correctly clean up annotations
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: stop creating NFD version annotations
  docs/get-started/introduction.md
  pkg/apis/nfd/v1alpha1/annotations_labels.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  test/e2e/e2e-test-config.example.yaml
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

source/custom: drop support for the legacy rule format
  docs/usage/customization-guide.md
  source/custom/custom.go
  source/custom/rules/cpuid_rule.go
  source/custom/rules/kconfig_rule.go
  source/custom/rules/loaded_kmod_rule.go
  source/custom/rules/nodename_rule.go
  source/custom/rules/pci_id_rule.go
  source/custom/rules/usb_id_rule.go
  source/custom/static_features.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Enable Auto_tolerate
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/role.yaml
  deployment/helm/node-feature-discovery/templates/rolebinding.yaml
  pkg/apihelper/apihelpers.go
  pkg/apihelper/k8shelpers.go
  pkg/apihelper/mock_APIHelpers.go
  pkg/nfd-master/nfd-master.go
  pkg/podres/mocks/PodResourcesListerClient.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-build-image-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
