Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

pull-node-feature-discovery-build-image-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image.sh

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/verify.sh

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/build.sh

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Fix missing apostrophe for jq
  README.md
  docs/get-started/index.md
  docs/get-started/quick-start.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

hooks: disable hooks by default
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/worker-configuration-reference.md
  docs/usage/customization-guide.md
  source/local/local.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Removal of the bases field as it is deprecated by kustomize
  deployment/overlays/default-combined/kustomization.yaml
  deployment/overlays/default-job/kustomization.yaml
  deployment/overlays/default/kustomization.yaml
  deployment/overlays/master-worker-topologyupdater/kustomization.yaml
  deployment/overlays/prune/kustomization.yaml
  deployment/overlays/topologyupdater/kustomization.yaml
Due: pull-node-feature-discovery-verify-master

Docs: Fix typo on customization-guide
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

nfd-master-internal_test.go rm pkg imported twice
  pkg/nfd-master/nfd-master-internal_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

node_feature_discovery_test.go rm pkg imported twice
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

fix: Drop the e2elog instead
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

fix typo in helm chart
  deployment/helm/node-feature-discovery/templates/master.yaml
Due: pull-node-feature-discovery-verify-master

Stop ticker in time to avoid memory leak
  pkg/nfd-topology-gc/nfd-nrt-gc.go
  pkg/nfd-topology-updater/kubeletnotifier/kubeletnotifier.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: check for nil references in nfdAPIUpdateAllNodes
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: fix node updates on config change
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update kubernetes to v1.26.6
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.12
  v0.12/404.html
  v0.12/contributing/index.html
  v0.12/deployment/helm.html
  v0.12/deployment/image-variants.html
  v0.12/deployment/index.html
  v0.12/deployment/kustomize.html
  v0.12/deployment/operator.html
  v0.12/deployment/tls.html
  v0.12/deployment/uninstallation.html
  v0.12/developer-guide/index.html
  v0.12/get-started/index.html
  v0.12/get-started/introduction.html
  v0.12/get-started/quick-start.html
  v0.12/reference/index.html
  v0.12/reference/master-commandline-reference.html
  v0.12/reference/topology-updater-commandline-reference.html
  v0.12/reference/topology-updater-configuration-reference.html
  v0.12/reference/worker-commandline-reference.html
  v0.12/reference/worker-configuration-reference.html
  v0.12/search.html
  v0.12/sitemap.xml
  v0.12/usage/custom-resources.html
  v0.12/usage/customization-guide.html
  v0.12/usage/examples-and-demos.html
  v0.12/usage/features.html
  v0.12/usage/index.html
  v0.12/usage/nfd-master.html
  v0.12/usage/nfd-topology-updater.html
  v0.12/usage/nfd-worker.html
  v0.12/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.13
  v0.13/404.html
  v0.13/contributing/index.html
  v0.13/deployment/helm.html
  v0.13/deployment/image-variants.html
  v0.13/deployment/index.html
  v0.13/deployment/kustomize.html
  v0.13/deployment/operator.html
  v0.13/deployment/tls.html
  v0.13/deployment/uninstallation.html
  v0.13/developer-guide/index.html
  v0.13/get-started/index.html
  v0.13/get-started/introduction.html
  v0.13/get-started/quick-start.html
  v0.13/reference/index.html
  v0.13/reference/master-commandline-reference.html
  v0.13/reference/master-configuration-reference.html
  v0.13/reference/topology-gc-commandline-reference.html
  v0.13/reference/topology-updater-commandline-reference.html
  v0.13/reference/topology-updater-configuration-reference.html
  v0.13/reference/worker-commandline-reference.html
  v0.13/reference/worker-configuration-reference.html
  v0.13/search.html
  v0.13/sitemap.xml
  v0.13/usage/custom-resources.html
  v0.13/usage/customization-guide.html
  v0.13/usage/examples-and-demos.html
  v0.13/usage/features.html
  v0.13/usage/index.html
  v0.13/usage/nfd-master.html
  v0.13/usage/nfd-topology-gc.html
  v0.13/usage/nfd-topology-updater.html
  v0.13/usage/nfd-worker.html
  v0.13/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

cpu: Take cgroupsv1 into account when reading misc.capacity
  source/cpu/security_amd64.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

cpu: Add retrieveCgroupMiscCapacityValue() for legibility
  source/cpu/security_amd64.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test: add node updater pool unit tests
  pkg/nfd-master/node-updater-pool_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update kubernetes to v1.27.4
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update kubernetes to v1.26.7
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update references to release v0.12.5
  Makefile
  README.md
  deployment/base/master-worker-combined/master-worker-daemonset.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-build-image-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
