Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-build-image-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/mdl-style.rb
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

docs: slightly rework how tainting is documented
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: note that extended resources are not supported by custom source
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: rename heading in customization guide
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: rename fields sub-headings in customization guide
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

test/e2e: fix broken feature-annotations test
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: fix log messages
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: improved test logging
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: cleanup feature annotations
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

chore: add helm and kustomize deployments of spiffe
  deployment/helm/node-feature-discovery/templates/spire-agent-cluster-role.yaml
  deployment/helm/node-feature-discovery/templates/spire-agent-configmap.yaml
  deployment/helm/node-feature-discovery/templates/spire-agent-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/spire-agent-service-account.yaml
  deployment/helm/node-feature-discovery/templates/spire-bundle-configmap.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-cluster-role.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-configmap.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-service-account.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-service.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-statefulset.yaml
  deployment/helm/node-feature-discovery/values.yaml
  deployment/overlays/spiffe/kustomization.yaml
  deployment/overlays/spiffe/spire-agent-cluster-role.yaml
  deployment/overlays/spiffe/spire-agent-configmap.yaml
  deployment/overlays/spiffe/spire-agent-daemonset.yaml
  deployment/overlays/spiffe/spire-agent-service-account.yaml
  deployment/overlays/spiffe/spire-bundle-configmap.yaml
  deployment/overlays/spiffe/spire-server-cluster-role.yaml
  deployment/overlays/spiffe/spire-server-configmap.yaml
  deployment/overlays/spiffe/spire-server-service-account.yaml
  deployment/overlays/spiffe/spire-server-service.yaml
  deployment/overlays/spiffe/spire-server-statefulset.yaml
Due: pull-node-feature-discovery-verify-master

chore: make spiffe optional
  Makefile
  cmd/nfd-master/main.go
  cmd/nfd-worker/main.go
  deployment/components/master-config/nfd-master.conf.example
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/spire-agent-cluster-role.yaml
  deployment/helm/node-feature-discovery/templates/spire-agent-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-cluster-role.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-configmap.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-statefulset.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  deployment/overlays/spiffe/spire-agent-cluster-role.yaml
  deployment/overlays/spiffe/spire-server-cluster-role.yaml
  deployment/overlays/spiffe/spire-server-statefulset.yaml
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pre-doc
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update deps
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

chore: adjust the spiffe utils and make it testable
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test: add unit-tests for spiffe utils
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

docs: fix documentation on SEV security features
  docs/usage/customization-guide.md
  docs/usage/features.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: use correct storage.block name for block device feature
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

Update documentation for v0.14
  v0.14/404.html
  v0.14/contributing/index.html
  v0.14/data.json
  v0.14/deployment/helm.html
  v0.14/deployment/image-variants.html
  v0.14/deployment/index.html
  v0.14/deployment/kustomize.html
  v0.14/deployment/metrics.html
  v0.14/deployment/operator.html
  v0.14/deployment/tls.html
  v0.14/deployment/uninstallation.html
  v0.14/developer-guide/index.html
  v0.14/get-started/index.html
  v0.14/get-started/introduction.html
  v0.14/get-started/quick-start.html
  v0.14/reference/gc-commandline-reference.html
  v0.14/reference/index.html
  v0.14/reference/master-commandline-reference.html
  v0.14/reference/master-configuration-reference.html
  v0.14/reference/topology-updater-commandline-reference.html
  v0.14/reference/topology-updater-configuration-reference.html
  v0.14/reference/versions.html
  v0.14/reference/worker-commandline-reference.html
  v0.14/reference/worker-configuration-reference.html
  v0.14/search.html
  v0.14/sitemap.xml
  v0.14/usage/custom-resources.html
  v0.14/usage/customization-guide.html
  v0.14/usage/examples-and-demos.html
  v0.14/usage/features.html
  v0.14/usage/index.html
  v0.14/usage/nfd-gc.html
  v0.14/usage/nfd-master.html
  v0.14/usage/nfd-topology-updater.html
  v0.14/usage/nfd-worker.html
  v0.14/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

source/network: refactor readIfaceInfo
  source/network/network.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

feat: discover virtual network interfaces
  source/network/network.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: Update cpuid to its v2.2.6 release
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

docs: stop advertising --resource-labels flag
  docs/usage/features.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs: add network.virtual in customization guide
  docs/usage/customization-guide.md
  source/network/network.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Dockerfile: bump grpc-health-probe to v0.4.22
  Dockerfile
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: fix logging of rule expression processing
  pkg/apis/nfd/v1alpha1/expression.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master
