Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

pull-node-feature-discovery-build-image-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image.sh

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/verify.sh

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/build.sh

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: refactor matching of node properties
  test/e2e/gomega.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: rework taints matching
  test/e2e/gomega.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: rework annotations matcher
  test/e2e/gomega.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: rework node capacity matching
  test/e2e/gomega.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

deployment/kustomize: drop pod-resources mount for topology-updater
  deployment/components/topology-updater/topologyupdater-mounts.yaml
Due: pull-node-feature-discovery-verify-master

deployment/helm: fix default for kubeletStateDir parameter
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

deployment/helm: avoid overlapping mount paths on topology-updater
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
Due: pull-node-feature-discovery-verify-master

deployment/helm: improve handling of topologyUpdater.kubeletStateFiles
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Update documentation for v0.13
  v0.13/404.html
  v0.13/contributing/index.html
  v0.13/deployment/helm.html
  v0.13/deployment/image-variants.html
  v0.13/deployment/index.html
  v0.13/deployment/kustomize.html
  v0.13/deployment/operator.html
  v0.13/deployment/tls.html
  v0.13/deployment/uninstallation.html
  v0.13/developer-guide/index.html
  v0.13/get-started/index.html
  v0.13/get-started/introduction.html
  v0.13/get-started/quick-start.html
  v0.13/reference/index.html
  v0.13/reference/master-commandline-reference.html
  v0.13/reference/master-configuration-reference.html
  v0.13/reference/topology-gc-commandline-reference.html
  v0.13/reference/topology-updater-commandline-reference.html
  v0.13/reference/topology-updater-configuration-reference.html
  v0.13/reference/worker-commandline-reference.html
  v0.13/reference/worker-configuration-reference.html
  v0.13/search.html
  v0.13/sitemap.xml
  v0.13/usage/custom-resources.html
  v0.13/usage/customization-guide.html
  v0.13/usage/examples-and-demos.html
  v0.13/usage/features.html
  v0.13/usage/index.html
  v0.13/usage/nfd-master.html
  v0.13/usage/nfd-topology-gc.html
  v0.13/usage/nfd-topology-updater.html
  v0.13/usage/nfd-worker.html
  v0.13/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

deployment/helm: user dedicated serviceaccount for topology-updater
  deployment/helm/node-feature-discovery/templates/clusterrolebinding.yaml
  deployment/helm/node-feature-discovery/templates/serviceaccount.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/topology-gc-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-gc.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.12
  v0.12/404.html
  v0.12/contributing/index.html
  v0.12/data.json
  v0.12/deployment/helm.html
  v0.12/deployment/image-variants.html
  v0.12/deployment/index.html
  v0.12/deployment/kustomize.html
  v0.12/deployment/operator.html
  v0.12/deployment/tls.html
  v0.12/deployment/uninstallation.html
  v0.12/developer-guide/index.html
  v0.12/get-started/index.html
  v0.12/get-started/introduction.html
  v0.12/get-started/quick-start.html
  v0.12/reference/index.html
  v0.12/reference/master-commandline-reference.html
  v0.12/reference/topology-updater-commandline-reference.html
  v0.12/reference/topology-updater-configuration-reference.html
  v0.12/reference/worker-commandline-reference.html
  v0.12/reference/worker-configuration-reference.html
  v0.12/search.html
  v0.12/sitemap.xml
  v0.12/usage/custom-resources.html
  v0.12/usage/customization-guide.html
  v0.12/usage/examples-and-demos.html
  v0.12/usage/features.html
  v0.12/usage/index.html
  v0.12/usage/nfd-master.html
  v0.12/usage/nfd-topology-updater.html
  v0.12/usage/nfd-worker.html
  v0.12/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.13
  v0.13/404.html
  v0.13/contributing/index.html
  v0.13/data.json
  v0.13/deployment/helm.html
  v0.13/deployment/image-variants.html
  v0.13/deployment/index.html
  v0.13/deployment/kustomize.html
  v0.13/deployment/operator.html
  v0.13/deployment/tls.html
  v0.13/deployment/uninstallation.html
  v0.13/developer-guide/index.html
  v0.13/get-started/index.html
  v0.13/get-started/introduction.html
  v0.13/get-started/quick-start.html
  v0.13/reference/index.html
  v0.13/reference/master-commandline-reference.html
  v0.13/reference/master-configuration-reference.html
  v0.13/reference/topology-gc-commandline-reference.html
  v0.13/reference/topology-updater-commandline-reference.html
  v0.13/reference/topology-updater-configuration-reference.html
  v0.13/reference/worker-commandline-reference.html
  v0.13/reference/worker-configuration-reference.html
  v0.13/search.html
  v0.13/sitemap.xml
  v0.13/usage/custom-resources.html
  v0.13/usage/customization-guide.html
  v0.13/usage/examples-and-demos.html
  v0.13/usage/features.html
  v0.13/usage/index.html
  v0.13/usage/nfd-master.html
  v0.13/usage/nfd-topology-gc.html
  v0.13/usage/nfd-topology-updater.html
  v0.13/usage/nfd-worker.html
  v0.13/usage/using-labels.html
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

topology-updater: use node IP in the default configz URI
  cmd/nfd-topology-updater/main.go
  deployment/components/topology-updater/env.yaml
  deployment/components/topology-updater/kustomization.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  docs/reference/topology-updater-commandline-reference.md
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Apply suggestions from code review
  docs/get-started/introduction.md
  docs/usage/customization-guide.md
  pkg/apis/nfd/v1alpha1/annotations_labels.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Don't create empty annotaionKeys When featureAnnotations is empty
  pkg/apis/nfd/v1alpha1/annotations_labels.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

e2e: delete CRs only if found
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

e2e: re-write pre-submit test to use minikube as an ephemeral cluster
  scripts/test-infra/test-e2e-presubmit.sh
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

add github action to run e2e tests
  .github/workflows/e2e.yaml
Due: none

Add new flag enable-leader-election for nfd-master.
  cmd/nfd-master/main.go
  deployment/base/rbac/master-clusterrole.yaml
  deployment/components/master-config/nfd-master.conf.example
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/master-commandline-reference.md
  docs/reference/master-configuration-reference.md
  docs/usage/nfd-master.md
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Fixed type in Header under deployment/kustomize.md
  docs/deployment/kustomize.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

go.mod: bump kubernetes to v1.26.5
  go.mod
  go.sum
Due: pull-node-feature-discovery-build-image-generic, pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-build-image-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
