Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

pull-node-feature-discovery-build-image-cross-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-image-cross.sh
      resources:
  ...

pull-node-feature-discovery-build-gh-pages-generic:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/build-gh-pages.sh
      resources:
  ...

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token
      resources:
        limits:
  ...

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.23
      command:
      - scripts/test-infra/build.sh
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-node-feature-discovery-e2e-test-master:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      securityContext:
        privileged: true
      command:
      - runner.sh
      args:
      - scripts/test-infra/test-e2e-presubmit.sh
      resources:
  ...

fix(helm): pass gc.port to nfd-gc as -port
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
Due: pull-node-feature-discovery-verify-master

docs(api): render the API reference with the repo templates
  Makefile
  docs/reference/generated-nfd-api-reference.md
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs(api): regenerate the apply configurations for the new type comments
  api/generated/applyconfiguration/nfd/v1alpha1/featuregroupnode.go
  api/generated/applyconfiguration/nfd/v1alpha1/nodefeature.go
  api/generated/applyconfiguration/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/applyconfiguration/nfd/v1alpha1/nodefeaturegroupstatus.go
  api/generated/applyconfiguration/nfd/v1alpha1/nodefeaturerule.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs(customization-guide): say that nfd-gc deletes unlabeled NodeFeatures
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(examples): create the NodeFeatureGroup example in the nfd-master namespace
  examples/nodefeaturegroup.yaml
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

docs(deployment): fix example config comments
  deployment/components/master-config/nfd-master.conf.example
  deployment/components/topology-updater-config/nfd-topology-updater.conf.example
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

docs(reference): say that -instance does not prefix the taints annotation
  docs/reference/master-commandline-reference.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-docs-master

docs(contributing): point to the CNCF CLA and Go modules
  CONTRIBUTING.md
Due: none

enhancements: KEP-2602: keep the operator's Go operand objects
  enhancements/2602-nfd-operator/README.md
Due: none

compat: return the error when the referrers lookup fails
  pkg/client-nfd/compat/artifact-client/client.go
  pkg/client-nfd/compat/artifact-client/client_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

compat: fail on incomplete registry credential flags
  cmd/nfd/subcmd/compat/validate-node.go
  cmd/nfd/subcmd/compat/validate-node_test.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

enhancements: KEP-2602: operator API as its own Go module
  enhancements/2602-nfd-operator/README.md
Due: none

enhancements: KEP-2602: NodeResourceTopology CRD needs both chart flags
  enhancements/2602-nfd-operator/README.md
Due: none

enhancements: KEP-2602: apply the CRDs before helm upgrade
  enhancements/2602-nfd-operator/README.md
Due: none

replace fixed topology dimensions with variable fabric tiers and accelerated domains
  enhancements/2549-nfd-network-topology-updater/README.md
Due: none

fix(nfd-master): name NodeFeatureGroup members after their Node
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Update enhancements/2548-nested-nodefeaturegroups/README.md
  enhancements/2548-nested-nodefeaturegroups/README.md
Due: none

docs: expand README with components overview and quick-start context
  README.md
Due: none

fix(helm): render the worker priorityClassName only once
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

feat(helm): make the nfd-gc container securityContext configurable
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/values.schema.json
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-build-gh-pages-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

ci: migrate coverage upload to Codecov CLI
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

ci: pin Codecov CLI, verify signing key, fail on upload error
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-build-image-cross-generic, pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master, pull-node-feature-discovery-e2e-test-master

Path conditions:
  pull-node-feature-discovery-build-image-cross-generic: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-build-gh-pages-generic: any of: ^docs/
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-e2e-test-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
