Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: (any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile|tests\/playbooks)) or (any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/))
  openstack-cloud-controller-manager-ovn-e2e-test: any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/|manifests\/cinder-csi-plugin\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-keystone-authentication-authorization-test: any of: ^(pkg\/util\/|pkg\/identity\/|cmd\/k8s-keystone-auth\/|tests\/e2e\/k8s-keystone-auth\/|Dockerfile|tests\/playbooks)

group all dependabot updates to one pr (#2812)
  .github/dependabot.yml
Due: none

Remove .github/dependabot.yml due to unexpected behavior
  .github/dependabot.yml
Due: none

[cinder-csi-plugin] Refactor list volumes (#2766)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/cinder/utils.go
  pkg/csi/cinder/utils_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[cinder-csi-plugin] Refactor list volumes (#2766) (#2842)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/cinder/utils.go
  pkg/csi/cinder/utils_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[cinder-csi-plugin] Support of one storage class for Multi region/clouds
  docs/cinder-csi-plugin/multi-region-clouds.md
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/driver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

update k8s deps
  go.mod
  go.sum
Due: none

update deps
  go.mod
  go.sum
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/identityserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/csiclient/client.go
  pkg/csi/manila/identityserver.go
  pkg/csi/manila/nodeserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

revert github.com/containerd/errdefs
  go.mod
  go.sum
Due: none

fix test
  pkg/csi/cinder/utils_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

pass ctx use go 1.23.6
  go.mod
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/csiclient/client.go
  pkg/csi/manila/csiclient/interface.go
  pkg/csi/manila/driver.go
  pkg/ingress/controller/controller.go
  tests/sanity/manila/fakecsiclient.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

remove log prints
  pkg/csi/cinder/controllerserver.go
  pkg/csi/manila/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

update dependencies to kubernetes 1.32.2 (#2844)
  go.mod
  go.sum
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/identityserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/utils_test.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/csiclient/client.go
  pkg/csi/manila/csiclient/interface.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/identityserver.go
  pkg/csi/manila/nodeserver.go
  pkg/ingress/controller/controller.go
  tests/sanity/manila/fakecsiclient.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

upgrade test depencency versions
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

release 1.32.0
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: openstack-cloud-csi-cinder-e2e-test

release 1.32.0 (#2845)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: openstack-cloud-csi-cinder-e2e-test

Update index.yaml
  index.yaml
Due: none

2.33 alpha charts
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

2.33 alpha charts (#2849)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

[release-130] preapre a new 1.30.3 release
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

[release-131] preapre a new 1.31.3 release
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  pkg/ingress/controller/controller.go
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

[release-131] preapre a new 1.31.3 release (#2850)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  pkg/ingress/controller/controller.go
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

[charts] fix chart version
  charts/cinder-csi-plugin/Chart.yaml
Due: none

[release-130] preapre a new 1.30.3 release (#2851)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Add missing release namespace for manila charts
  charts/manila-csi-plugin/templates/controllerplugin-role.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-service.yaml
  charts/manila-csi-plugin/templates/controllerplugin-serviceaccount.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-serviceaccount.yaml
  charts/manila-csi-plugin/templates/runtimeconfig-cm.yaml
Due: none

feat(occm/lb): octavia prometheus listener's annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/util_test.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

feat(occm/lb): fix lint
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

feat(occm/lb): octavia prometheus listener's annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  go.mod
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/util_test.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

chore(ci): fix golangci-lint version to run with go1.24
  Makefile
Due: none

Adapt labels to kubernetes recommended ones
  charts/cinder-csi-plugin/templates/_helpers.tpl
  charts/cinder-csi-plugin/templates/cinder-csi-driver.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-podmonitor.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/secret.yaml
  charts/cinder-csi-plugin/templates/storageclass.yaml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_report.md
  Makefile
Due: none

Update issue templates (#2857)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_report.md
  Makefile
Due: none

return ResourceExhausted code in CreateVolume
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

return ResourceExhausted code in CreateVolume
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/util/errors/errors.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

cinder-csi-plugin, manila-csi-plugin: Correct formatting character
  pkg/csi/cinder/driver.go
  pkg/csi/manila/driver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

cinder-csi-plugin: Don't report topology capability when --with-topology=False
  pkg/csi/cinder/identityserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

manila-csi-plugin: Unify some logging between cinder, manila
  pkg/csi/manila/identityserver.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test
