Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

openstack-cloud-controller-manager-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-controller-manager-ovn-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-cinder-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-manila-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-cinder-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      command:
      - make
      args:
      - test-cinder-csi-sanity
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

openstack-cloud-csi-manila-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      command:
      - make
      args:
      - test-manila-csi-sanity
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

openstack-cloud-keystone-authentication-authorization-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240130-9db6d59ca0-master
      env:
      - name: BOSKOS_HOST
  ...

Bump golangci-lint for go 1.22
  Makefile
Due: none

Bump golangci-lint for go 1.22 (#2567)
  Makefile
Due: none

Remove enforcement of IPv6 LB as internal (#2557) (#2566)
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Allow changing cluster-name on existing deployments
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_rename.go
  pkg/openstack/loadbalancer_rename_test.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Allow changing cluster-name on existing deployments (#2552)
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_rename.go
  pkg/openstack/loadbalancer_rename_test.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

fix(occm/loadbalancer): enable proxy-protocol only for supported listeners
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Allow changing cluster-name on existing deployments (#2568)
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_rename.go
  pkg/openstack/loadbalancer_rename_test.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

fix to volume backup & restore creation
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/openstack/openstack_backups.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

define availability zone for snapshot backup
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_backups.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  tests/sanity/cinder/fakecloud.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

added route section to cloud-config secret
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Set `--use-service-account-credentials=false`
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
Due: none

added route section to cloud-config secret (#2570)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

add doc
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

[occm] add tag on floating ip create
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Enable optional storageclasses.
  charts/cinder-csi-plugin/README.md
  charts/cinder-csi-plugin/templates/storageclass.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

Bump chart version.
  charts/cinder-csi-plugin/Chart.yaml
Due: none

Move code from kingdaemonX repository, fixed unit tests. Added test for load balancer and listener tags. Added documentation about new annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_sg.go
  pkg/openstack/loadbalancer_test.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

[cinder-csi-plugin] define availability zone for snapshot backup (#2569)
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_backups.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  tests/sanity/cinder/fakecloud.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Update Cinder and Manila CSI charts maintainers
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
Due: none

Bump K8s to v1.30.0
  Dockerfile
  go.mod
  go.sum
  pkg/util/mount/mount_mock.go
  tests/playbooks/roles/install-golang/defaults/main.yml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Set `--use-service-account-credentials=false` (#2572)
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
Due: none

Keep default and make optional.
  charts/cinder-csi-plugin/templates/storageclass.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

Update Cinder and Manila CSI charts maintainers (#2583)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
Due: none

Bump versions for 1.30
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Bump version.
  charts/cinder-csi-plugin/Chart.yaml
Due: none

Bump K8s to v1.30.0 (#2581)
  Dockerfile
  go.mod
  go.sum
  pkg/util/mount/mount_mock.go
  tests/playbooks/roles/install-golang/defaults/main.yml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

[occm] ensure tag exist on floating ip create or lookup
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

[occm] handling tag list error
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

[occm] untag FIP when force CCM to not delete the FIP
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

fix(occm): Empty nodeSelector by default
  charts/openstack-cloud-controller-manager/README.md
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

fix(occm): Fix typo in the README.md file
  charts/openstack-cloud-controller-manager/README.md
Due: none

fix(occm): Bump chart version to 2.29.3
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

KEP-1860: Add support for LoadBalancer ipMode
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

cleaner: use assertEqual for test
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

[occm] KEP-1860: Add support for LoadBalancer ipMode (#2587)
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

use rc2 for k3s
  tests/playbooks/roles/install-k3s/defaults/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Bump versions for 1.30 (#2589)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: (any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile|tests\/playbooks)) or (any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/))
  openstack-cloud-controller-manager-ovn-e2e-test: any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/|manifests\/cinder-csi-plugin\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-keystone-authentication-authorization-test: any of: ^(pkg\/util\/|pkg\/identity\/|cmd\/k8s-keystone-auth\/|tests\/e2e\/k8s-keystone-auth\/|Dockerfile|tests\/playbooks)
