Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

openstack-cloud-controller-manager-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-controller-manager-ovn-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-cinder-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-manila-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-cinder-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - test-cinder-csi-sanity
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

openstack-cloud-csi-manila-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - test-manila-csi-sanity
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

openstack-cloud-keystone-authentication-authorization-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

Bump ginkgo to v2.26.0
  go.mod
  go.sum
Due: none

tests: Replace deprecated ginkgo opts
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Add tests for keystone webhooks
  pkg/identity/keystone/keystone_test.go
Due: openstack-cloud-keystone-authentication-authorization-test

Remove use of github.com/go-chi/chi/v5
  go.mod
  go.sum
  pkg/identity/keystone/keystone.go
Due: openstack-cloud-keystone-authentication-authorization-test

Remove unnecessary go.mod replaces
  go.mod
Due: none

Bump CSI sidecar containers in helm charts
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/values.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/values.yaml
Due: none

Bump CSI sidecar containers
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: openstack-cloud-csi-cinder-e2e-test

[all] Bump ginkgo to v2.26.0 (latest) (#3005)
  go.mod
  go.sum
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Bump gophercloud to v2.8.0 (#3006)
  go.mod
  go.sum
  pkg/identity/keystone/token_getter_test.go
Due: openstack-cloud-keystone-authentication-authorization-test

[cinder-csi-plugin][manila-csi-plugin] Bump sidecar image versions (#3008)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/values.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: openstack-cloud-csi-cinder-e2e-test

[k8s-keystone-auth] Remove use of github.com/go-chi/chi/v5 (#3007)
  go.mod
  go.sum
  pkg/identity/keystone/keystone.go
  pkg/identity/keystone/keystone_test.go
Due: openstack-cloud-keystone-authentication-authorization-test

update deps to 1.34.1
  Dockerfile
  go.mod
  go.sum
  pkg/kms/server/server.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

docs: Expand release procedure doc
  docs/release-procedure.md
Due: none

update deps to 1.34.1 (#3010)
  Dockerfile
  go.mod
  go.sum
  pkg/kms/server/server.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

add release 1.34.0
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  hack/release-image-digests.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: openstack-cloud-csi-cinder-e2e-test

docs: Expand release procedure doc (#3009)
  docs/release-procedure.md
Due: none

trivial: camelCase variable name
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

trivial: Explain overloaded context term
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

cinder-csi-plugin: Use generated VolumeContext
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

cinder-csi-plugin: Handle potentially unset volCtx arg
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[cinder-csi-plugin] Use context (#2864)
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

add release 1.34.0 (#3011)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  hack/release-image-digests.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: openstack-cloud-csi-cinder-e2e-test

Update index.yaml
  index.yaml
Due: none

Refactor splitter code, add unit tests/doc comments
  pkg/csi/manila/shareadapters/cephfs.go
  pkg/csi/manila/shareadapters/cephfs_test.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Fix unresolved name for release version (#2997)
  tests/playbooks/roles/install-k3s/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

fix bump scripts
  hack/bump-charts.sh
  hack/bump-release.sh
Due: none

fix bump scripts (#3013)
  hack/bump-charts.sh
  hack/bump-release.sh
Due: none

fix bump scripts (#3014)
  hack/bump-charts.sh
  hack/bump-release.sh
Due: none

[manila-csi-plugin] Seed fsName to ceph-csi's node plugin (#2994)
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/shareadapters/cephfs.go
  pkg/csi/manila/shareadapters/cephfs_test.go
  pkg/csi/manila/shareadapters/shareadapter.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Seed fsName to ceph-csi's node plugin
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/shareadapters/cephfs.go
  pkg/csi/manila/shareadapters/shareadapter.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

[release-1.34] [manila-csi-plugin] Seed fsName to ceph-csi's node plugin (#3015)
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/shareadapters/cephfs.go
  pkg/csi/manila/shareadapters/cephfs_test.go
  pkg/csi/manila/shareadapters/shareadapter.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

release 1.34.1
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: openstack-cloud-csi-cinder-e2e-test

update test deps
  tests/playbooks/roles/install-golang/defaults/main.yml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

add debug logging on deployment failure, update nfs image
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

fix: Incorrect SA name in auth-delegate clusterRoleBiding
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding-sm.yaml
Due: none

update test deps (#3017)
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-golang/defaults/main.yml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: (any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile|tests\/playbooks)) or (any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/))
  openstack-cloud-controller-manager-ovn-e2e-test: any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/|manifests\/cinder-csi-plugin\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-keystone-authentication-authorization-test: any of: ^(pkg\/util\/|pkg\/identity\/|cmd\/k8s-keystone-auth\/|tests\/e2e\/k8s-keystone-auth\/|Dockerfile|tests\/playbooks)
