Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

openstack-cloud-controller-manager-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-controller-manager-ovn-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-cinder-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-manila-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-cinder-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - test-cinder-csi-sanity
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

openstack-cloud-csi-manila-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - test-manila-csi-sanity
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

openstack-cloud-keystone-authentication-authorization-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

[manila-csi-plugin] Restore --nodeid and --nodeaz as optional overrides
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/metadata_test.go
  tests/sanity/manila/sanity_test.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Address second review round from kayrus
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

docs: drop issue links from the multi-cluster section
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
Due: none

cinder-csi: make csi-snapshotter sidecar optional (#3078)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/ci/snapshotter-disabled-values.yaml
  charts/cinder-csi-plugin/ci/snapshotter-enabled-values.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

cinder-csi: configure topology with --with-topology
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/ci/topology-disabled-values.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  docs/cinder-csi-plugin/features.md
Due: none

[phase2] decompose large functions
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

[phase3] standardize error handling
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

[phase1] extract helper functions
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

[phase4] add godoc comments and group into sections
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

fix(manila-csi-plugin): revert to setting cluster id from environment variable
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
Due: none

feat(cinder-csi-plugin): add splitMode
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/cinder-csi-driver.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-podmonitor.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/custom_storageclass.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/storageclass.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

chore: add ci test files
  charts/cinder-csi-plugin/ci/hostmount-values.yaml
  charts/cinder-csi-plugin/ci/secret-enabled-values.yaml
Due: none

feat: add support for exclude network for openstack cloud controller manager
  pkg/openstack/instances_addresses.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

fix: preserve valid config on failed reload
  pkg/identity/keystone/keystone.go
  pkg/identity/keystone/keystone_test.go
Due: openstack-cloud-keystone-authentication-authorization-test

wrapping error message with cloudprovider.InstanceNotFound
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

feat(occm/lb): support X-Forwarded-Port and X-Forwarded-Proto
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: cover X-Forwarded header handling
  pkg/openstack/loadbalancer_test.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

docs: document X-Forwarded header annotations
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
Due: none

[cinder-csi-plugin]: add appendVolumeMetadata support to Cinder CSI
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/fake.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

fix: Resolve merge conflict
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

chore: bump gophercloud dep
  go.mod
  go.sum
Due: none

client: report caller line for OpenStack debug logs (#3108)
  pkg/client/client.go
  pkg/client/client_test.go
Due: none

k8s-keystone-auth: Don't log tokens
  pkg/identity/keystone/keystone.go
Due: openstack-cloud-keystone-authentication-authorization-test

Add OpenStack server hostID as k8s node label
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

chore: bump gophercloud dep (#3163)
  go.mod
  go.sum
Due: none

fix format
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Update pkg/openstack/instances.go
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

[occm] Add OpenStack server host ID as node label (#3166)
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Add mandre to approvers
  OWNERS
Due: none

k8s-keystone-auth: Don't log tokens (#3164)
  pkg/identity/keystone/keystone.go
Due: openstack-cloud-keystone-authentication-authorization-test

Add mandre to approvers (#3167)
  OWNERS
Due: none

[occm] Prevent access to PVs
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: none

[occm] Limit verbs for node access
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: none

[occm] Add new Role for secrets
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/role.yaml
  charts/openstack-cloud-controller-manager/templates/rolebinding.yaml
  manifests/controller-manager/cloud-controller-manager-role-bindings.yaml
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: none

occm: Bump openstack-cloud-controller-manager chart to 2.36.2
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

make: Remove irrelevant header
  Makefile
Due: none

[occm] Reduce ClusterRole scope (#3165)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/role.yaml
  charts/openstack-cloud-controller-manager/templates/rolebinding.yaml
  manifests/controller-manager/cloud-controller-manager-role-bindings.yaml
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: none

make: Rework check target
  Makefile
Due: none

Update Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

Chart version bump
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

Path conditions:
  openstack-cloud-controller-manager-e2e-test: (any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile|tests\/playbooks)) or (any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/))
  openstack-cloud-controller-manager-ovn-e2e-test: any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/|manifests\/cinder-csi-plugin\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-keystone-authentication-authorization-test: any of: ^(pkg\/util\/|pkg\/identity\/|cmd\/k8s-keystone-auth\/|tests\/e2e\/k8s-keystone-auth\/|Dockerfile|tests\/playbooks)
