Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

openstack-cloud-controller-manager-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-controller-manager-ovn-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-cinder-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-manila-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

openstack-cloud-csi-cinder-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - test-cinder-csi-sanity
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

openstack-cloud-csi-manila-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - test-manila-csi-sanity
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

openstack-cloud-keystone-authentication-authorization-test:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      env:
      - name: BOSKOS_HOST
  ...

tests: Correct broken conditions
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: Bump DevStack to Epoxy (2025.1) (#2742)
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/test-occm-e2e.yaml
  tests/scripts/create-gce-vm.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: Bump DevStack to Epoxy (2025.1)
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: Bump amphora image
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: Suffix image version
  tests/scripts/create-gce-vm.sh
Due: none

tests: Install Ansible from Debian Testing
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
Due: none

tests: Prefer ginkgo timeout
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: Decrease device detach timeout
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: Align opts for Cinder, Manila tests
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

devstack: Remove USE_PYTHON3
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: create volumev3 service type
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: create volumev3 service type (#2959)
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: create volumev3 service type (#2960)
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: create volumev3 service type (#2961)
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: fix create volumev3 service type task
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

[release-1.32] tests: Bump DevStack to Epoxy (2025.1) (#2956)
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/test-occm-e2e.yaml
  tests/scripts/create-gce-vm.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

support keystone token in cloud config
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/client/client.go
Due: none

[cinder-csi-plugin]: do not allow DetachVolume when status is detaching
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[manila-csi-plugin] support muilple share rules
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  examples/manila-csi-plugin/nfs/static-provisioning/preprovisioned-pvc.yaml
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/options/shareoptions.go
  pkg/csi/manila/shareadapters/cephfs.go
  pkg/csi/manila/shareadapters/nfs.go
  pkg/csi/manila/shareadapters/shareadapter.go
  tests/e2e/csi/manila/testdriver.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Bump CSI test timeouts
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

migrate away from gcr.io/k8s-testimages
  cloudbuild.yaml
Due: none

migrate away from gcr.io/k8s-testimages (#2967)
  cloudbuild.yaml
Due: none

tests: Temporarily remove share v1 endpoint
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Bump CSI test timeouts (#2966)
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: (any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile|tests\/playbooks)) or (any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/))
  openstack-cloud-controller-manager-ovn-e2e-test: any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/|manifests\/cinder-csi-plugin\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-keystone-authentication-authorization-test: any of: ^(pkg\/util\/|pkg\/identity\/|cmd\/k8s-keystone-auth\/|tests\/e2e\/k8s-keystone-auth\/|Dockerfile|tests\/playbooks)
