Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: (any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile|tests\/playbooks)) or (any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/))
  openstack-cloud-controller-manager-ovn-e2e-test: any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/|manifests\/cinder-csi-plugin\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-keystone-authentication-authorization-test: any of: ^(pkg\/util\/|pkg\/identity\/|cmd\/k8s-keystone-auth\/|tests\/e2e\/k8s-keystone-auth\/|Dockerfile|tests\/playbooks)

manila-csi-plugin: Drop redundant capabilities add
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

cinder-csi-plugin: Set priorityClassName
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: openstack-cloud-csi-cinder-e2e-test

tests: Report kernel features on hosts
  tests/playbooks/roles/install-k3s/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

cinder-csi-plugin: Bump cinder-csi-plugin chart to 2.36.4
  charts/cinder-csi-plugin/Chart.yaml
Due: none

manila-csi-plugin: Set priorityClassName
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/values.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: none

manila-csi-plugin: Bump manila-csi-plugin chart to 2.36.3
  charts/manila-csi-plugin/Chart.yaml
Due: none

[occm] Make hostNetwork configurable in the Helm chart (#3097)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

openstack-cloud-controller-manager: Add note on why hostNetwork is required
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

openstack-cloud-controller-manager: Add securityContext for controller containers
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

openstack-cloud-controller-manager: Set dnsPolicy
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

openstack-cloud-controller-manager: Set priorityClassName
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

openstack-cloud-controller-manager: Drop Bitnami common chart dependency
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding-sm.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/role.yaml
  charts/openstack-cloud-controller-manager/templates/rolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/secret.yaml
  charts/openstack-cloud-controller-manager/templates/service-sm.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/templates/servicemonitor.yaml
Due: none

openstack-cloud-controller-manager: Bump openstack-cloud-controller-manager chart to 2.36.5
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

openstack-cloud-controller-manager: Drop all capabilities
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

Add zizmor security scanner (#3117)
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yaml
Due: none

[cinder-csi-plugin] Support creating incremental backups (#3172)
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_backups.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[manila-csi-plugin] Restore --nodeid and --nodeaz as optional overrides (#3140)
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/metadata_test.go
  tests/sanity/manila/sanity_test.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

[cinder-csi-plugin] Reduce caps of manifests, charts (#3181)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

[manila-csi-plugin] Reduce caps of manifests, charts (#3182)
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/values.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

fix: preserve valid config on failed reload (#3159)
  pkg/identity/keystone/keystone.go
  pkg/identity/keystone/keystone_test.go
Due: openstack-cloud-keystone-authentication-authorization-test

docs: remove deprecated OCCM ServiceMonitor bearer token
  docs/metrics.md
  tests/helm/openstack-cloud-controller-manager/servicemonitor_test.yaml
Due: none

[cinder-csi-plugin] Allow setting parameters on chart-managed StorageClasses
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/README.md
  charts/cinder-csi-plugin/templates/storageclass.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

[cinder-csi-plugin] Allow setting parameters on chart-managed StorageClasses (#3173)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/README.md
  charts/cinder-csi-plugin/templates/storageclass.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

openstack-cloud-controller-manager: Use stable labels
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
  charts/openstack-cloud-controller-manager/templates/servicemonitor.yaml
Due: none

[occm] Reduce caps of manifests, charts (#3191)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding-sm.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/role.yaml
  charts/openstack-cloud-controller-manager/templates/rolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/secret.yaml
  charts/openstack-cloud-controller-manager/templates/service-sm.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/templates/servicemonitor.yaml
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

Add dependabot configuration
  .github/dependabot.yml
Due: none

docs: Add section on helm charts update
  docs/release-procedure.md
Due: none

tests: make E2E tests optional and add local development workflow
  .gitignore
  docs/developers-guide.md
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/defaults/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/roles/install-docker/tasks/main.yml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

tests: remove become from the playbooks to keep minimum privilege
  docs/developers-guide.md
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/fetch-logs.yaml
  tests/playbooks/roles/fetch-logs/tasks/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
  tests/playbooks/roles/install-docker-registry/tasks/main.yml
  tests/playbooks/roles/install-docker/handlers/main.yml
  tests/playbooks/roles/install-docker/tasks/main.yml
  tests/playbooks/roles/install-golang/tasks/main.yml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

[occm] Include cloudConfigContents in DaemonSet checksum annotation (#3080)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
Due: none

[manila-csi-plugin, cinder-csi-plugin]: Allow cluster-id to be populated from configmap / secret (#3152)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
Due: none

Fix config drive mount and add flag to control the search order in which the driver retrieves instance metadata (#3141)
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/values.yaml
  cmd/manila-csi-plugin/main.go
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

cinder-csi: make csi-snapshotter sidecar optional (#3078)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/ci/snapshotter-disabled-values.yaml
  charts/cinder-csi-plugin/ci/snapshotter-enabled-values.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

[occm] Reduce ClusterRole scope (#3165)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/role.yaml
  charts/openstack-cloud-controller-manager/templates/rolebinding.yaml
  manifests/controller-manager/cloud-controller-manager-role-bindings.yaml
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: none

[occm] Fix serviceMonitor labelSelector and remove deprecated bearerTokenFile auth (#3039)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/servicemonitor.yaml
Due: none

cinder-csi: configure topology with --with-topology (#3155)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/ci/topology-disabled-values.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  docs/cinder-csi-plugin/features.md
Due: none
