Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: (any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile|tests\/playbooks)) or (any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/))
  openstack-cloud-controller-manager-ovn-e2e-test: any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/|manifests\/cinder-csi-plugin\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-keystone-authentication-authorization-test: any of: ^(pkg\/util\/|pkg\/identity\/|cmd\/k8s-keystone-auth\/|tests\/e2e\/k8s-keystone-auth\/|Dockerfile|tests\/playbooks)

[manila-csi-plugin] make auth more tolerant
  pkg/client/client.go
Due: none

Add podSecurityContext
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/values.yaml
Due: none

version bump
  charts/manila-csi-plugin/Chart.yaml
Due: none

Add Openstack server hostId as k8s node label
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Add comment about hostId limitation
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

fix helm chart versions
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

fix helm chart versions (#2761)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

update deps
  go.mod
  go.sum
Due: none

feat(occm/lb): octavia prometheus listener's annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/util_test.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Allow automatic recreation on LB ERROR state to be disabled
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

refactor list volumes call
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

upgrade tests
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Added two test cases for preserving floating ip and for testing health monitors
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Resolved merge conflicts
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
Due: none

update deps (#2762)
  go.mod
  go.sum
Due: none

[cinder-csi-plugin] retry mount operation with rescan (#2610)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
Due: none

Update golang.org/x/net to v0.33.0
  go.mod
  go.sum
Due: none

dump version
  charts/manila-csi-plugin/Chart.yaml
Due: none

update dockerfile
  Dockerfile
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

update dockerfile (#2770)
  Dockerfile
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Update golang.org/x/net to v0.33.0 (#2769)
  go.mod
  go.sum
Due: none

comments improvements
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

fix imports and list options
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

token split
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/cinder/utils.go
  pkg/csi/cinder/utils_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

add more jointoken tests
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/utils_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

tests: increase golangci-lint timeout
  Makefile
Due: none

tests: increase golangci-lint timeout (#2772)
  Makefile
Due: none

add dependabot
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

add daily schedule
  .github/dependabot.yml
Due: none

update github-actions interval
  .github/dependabot.yml
Due: none

add dependabot (#2774)
  .github/dependabot.yml
Due: none

tests: increase golangci-lint timeout (#2776)
  Makefile
Due: none

tests: increase golangci-lint timeout (#2775)
  Makefile
Due: none

group all dependabot updates to one pr
  .github/dependabot.yml
Due: none

disable releases, disable k8s.io group, group other deps by pattern
  .github/dependabot.yml
Due: none
