Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: (any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile|tests\/playbooks)) or (any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/))
  openstack-cloud-controller-manager-ovn-e2e-test: any of: ^(pkg\/util\/|pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/|Dockerfile)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/|manifests\/cinder-csi-plugin\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/|Dockerfile|tests\/playbooks)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/util\/|pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/|Dockerfile|tests\/playbooks)
  openstack-cloud-keystone-authentication-authorization-test: any of: ^(pkg\/util\/|pkg\/identity\/|cmd\/k8s-keystone-auth\/|tests\/e2e\/k8s-keystone-auth\/|Dockerfile|tests\/playbooks)

lint: Remove embedded fields from selectors
  .golangci.yaml
  pkg/identity/keystone/authenticator.go
  pkg/ingress/controller/controller.go
  pkg/openstack/instances_addresses.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-keystone-authentication-authorization-test

Add amphorav2 as a supported loadbalancer provider
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

podSecurityContext is missing is nodePlugin DaemonSet
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
Due: none

[cinder-csi-plugin] Bump chart version
  charts/cinder-csi-plugin/Chart.yaml
Due: none

[cinder-csi-plugin] Support of one storage class for Multi region/clouds
  docs/cinder-csi-plugin/multi-region-clouds.md
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/driver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

feat(occm/lb): octavia prometheus listener's annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/util_test.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

[manila-csi-plugin] support muilple share rules
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  examples/manila-csi-plugin/nfs/static-provisioning/preprovisioned-pvc.yaml
  pkg/csi/manila/adapters.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/options/shareoptions.go
  pkg/csi/manila/shareadapters/cephfs.go
  pkg/csi/manila/shareadapters/nfs.go
  pkg/csi/manila/shareadapters/shareadapter.go
  tests/e2e/csi/manila/testdriver.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Bump golangci-lint to v2 (#2979)
  .golangci.yaml
  Makefile
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/healthcheck/plugin_endpoint.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/cinder/utils.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/identity/keystone/authenticator.go
  pkg/identity/keystone/authorizer.go
  pkg/identity/keystone/keystone.go
  pkg/identity/keystone/sync.go
  pkg/identity/keystone/sync_test.go
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/kms/encryption/aescbc/aescbc.go
  pkg/kms/server/server.go
  pkg/openstack/instances_addresses.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/blockdevice/blockdevice_linux.go
  pkg/util/mount/mount.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

Add amphorav2 as a supported loadbalancer provider (#2980)
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Add amphorav2 as a supported loadbalancer provider (#2982)
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Bump k8s.io/kubernetes from 1.33.3 to 1.33.4 (#2984)
  go.mod
  go.sum
Due: none

[release-1.31] tests: Bump DevStack to Epoxy (2025.1) (#2977)
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/test-occm-e2e.yaml
  tests/scripts/create-gce-vm.sh
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

cinder-csi-plugin: Use generated VolumeContext
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

trivial: Explain overloaded context term
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

trivial: camelCase variable name
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

docs: Add troubleshooting steps for AZ mismatches
  docs/cinder-csi-plugin/troubleshooting.md
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

docs: Correct nits with Cinder CSI docs
  docs/cinder-csi-plugin/features.md
  docs/cinder-csi-plugin/multi-region-clouds.md
Due: none

[cinder-csi-plugin] Update ignore-volume-az docs (#2985)
  docs/cinder-csi-plugin/features.md
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/cinder-csi-plugin/troubleshooting.md
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

Set lbMethod annotation to svcConfig
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Update ServiceMonitor to use common labels
  charts/openstack-cloud-controller-manager/templates/servicemonitor.yaml
Due: none

Bump version to 2.33.1
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

Set lbMethod annotation to svcConfig (#2988)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Set lbMethod annotation to svcConfig (#2991)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Set lbMethod annotation to svcConfig (#2990)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

[cinder-csi-plugin] Rationalise all things topology (#2865)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/openstack/openstack_mock.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Seed fsName to ceph-csi's node plugin
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/shareadapters/cephfs.go
  pkg/csi/manila/shareadapters/shareadapter.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Added logic for exclude-network-name
  pkg/openstack/instances_addresses.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test

Fix unresolved name for release version
  tests/playbooks/roles/install-k3s/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

cinder-csi-plugin: Tweak behavior of --with-topology flag
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[manila-csi-plugin] make auth more tolerant
  pkg/client/client.go
Due: none

[manila-csi-plugin] make auth more tolerant (#2758)
  pkg/client/client.go
Due: none

doc: fix typo in keystone sync example
  docs/keystone-auth/using-auth-data-synchronization.md
Due: none

doc: fix typo in keystone sync example (#3003)
  docs/keystone-auth/using-auth-data-synchronization.md
Due: none

update deps to 1.34
  Dockerfile
  go.mod
  go.sum
  pkg/identity/keystone/token_getter_test.go
  pkg/kms/server/server.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-controller-manager-ovn-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test, openstack-cloud-keystone-authentication-authorization-test

cinder-csi-plugin: Tweak behavior of --with-topology flag (#2998)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Bump gophercloud to v2.8.0
  go.mod
  go.sum
  pkg/identity/keystone/token_getter_test.go
Due: openstack-cloud-keystone-authentication-authorization-test
