Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

post-k8s-deploy-registry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
      - .
      env:
  ...

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      resources:
        limits:
          cpu: 1
          memory: 1Gi
        requests:
          cpu: 1
          memory: 1Gi
      env:
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
          memory: 512Mi

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.5.2-0
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/registry.k8s.io
      - --use-prow-manifest-diff
      resources:
        limits:
  ...

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

Image promotion for provider-aws v1.61.0 / v1.61.0-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: k8sio-k8s-resources-verify

Image promotion for provider-aws v1.61.1 / v1.61.1-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bump network proxy to 0.36.0
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

feat: setup mimir on GKE utility cluster with GCS block storage
  dns/zone-configs/k8s.io._0_base.yaml
  kubernetes/apps/mimir.yaml
  kubernetes/gke-utility/helm/mimir.yaml
  kubernetes/gke-utility/mimir/external-secrets.yaml
  kubernetes/gke-utility/mimir/httproute.yaml
  kubernetes/gke-utility/mimir/kustomization.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Image promotion for artifact-promoter v4.5.1-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Graduate CSI sidecars
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

feat: remove pod antiaffinity and zone aware replication
  kubernetes/gke-utility/helm/mimir.yaml
Due: k8sio-k8s-resources-verify

feat: add remote write config to eks and gcp monitoring setup
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/mimir-credentials.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
  kubernetes/gke-prow-build/helm/monitoring.yaml
Due: k8sio-k8s-resources-verify

Add Scaleway infrastructure admin group
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote etcd-manager 3.0.20260608 images
  registry.k8s.io/images/k8s-staging-etcd-manager/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Create Multi Zone Boskos resources
  infra/ibmcloud/terraform/k8s-s390x-conformance/README.md
  infra/ibmcloud/terraform/k8s-s390x-conformance/main.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/vpc/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/vpc/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/vpc/vpc.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/variables.tf
  kubernetes/ibm-s390x/prow/boskos-resources-configmap.yaml
Due: k8sio-k8s-resources-verify

Image promotion for build-image v1.33.0-go1.25.11-bullseye.0 / v1.34.0-go1.25.11-bullseye.0 / v1.35.0-go1.25.11-bullseye.0 / v1.36.0-go1.26.4-bullseye.0 / v1.37.0-go1.26.4-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v2.4.0-go1.26.4-bookworm.0 / v2.4.0-go1.25.11-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for releng 1.26.4-trixie-0 / 1.25.11-trixie-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add bhope to OWNERS approvers list
  registry.k8s.io/images/k8s-staging-kube-state-metrics/OWNERS
Due: none

sig-instrumentation: Update ACL for kube-state-metrics
  groups/sig-instrumentation/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for provider-aws v1.32.6 / v1.32.7 / v1.32.8 / v1.33.3 / v1.33.4 / v1.34.1 / v1.34.2 / v1.34.3 / v1.35.1 / v1.35.2 / v1.36.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v0.8.11 / v0.9.3
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote agnhost image to 2.64.0
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-inventory-api v0.1.3
  registry.k8s.io/images/k8s-staging-cluster-inventory-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

feat: setup kps for prow consolidated monitoring
  kubernetes/apps/monitoring.yaml
  kubernetes/gke-utility/helm/mimir.yaml
  kubernetes/gke-utility/helm/monitoring.yaml
  kubernetes/gke-utility/istio-system/auth-policy.yaml
  kubernetes/gke-utility/monitoring/httproute.yaml
  kubernetes/gke-utility/monitoring/kustomization.yaml
  kubernetes/gke-utility/monitoring/secrets.yaml
Due: k8sio-k8s-resources-verify

feat: disable kube metrics
  kubernetes/gke-utility/helm/monitoring.yaml
Due: k8sio-k8s-resources-verify

feat: disable nodeexporter
  kubernetes/gke-utility/helm/monitoring.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cloud-provider-gcp v1.26.0
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update groups.yaml
  groups/sig-scalability/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: add davanum@gmail.com to k8s-infra-sig-scalability-oncall
  groups/sig-scalability/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

releng: Image promotion for kubernetes v1.37.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

slack-infra: update slack-welcomer welcome message
  apps/slack-infra/resources/slack-welcomer/message.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-slack-infra

slack-infra: migrate slack-welcomer, slack-moderator and slack-post-message images to registry.k8s.io
  apps/slack-infra/resources/slack-moderator/deployment.yaml
  apps/slack-infra/resources/slack-post-message/deployment.yaml
  apps/slack-infra/resources/slack-welcomer/deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-slack-infra

Revise welcome message for Slack community
  apps/slack-infra/resources/slack-welcomer/message.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-slack-infra

feat: added mimir data source to the central grafana
  kubernetes/gke-utility/helm/monitoring.yaml
Due: k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.33.13
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.34.9
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.35.6
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.36.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for kube-state-metrics v2.19.1
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote v0.18.1
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote v0.17.5
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/
