Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

post-k8s-deploy-registry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
      - .
      env:
  ...

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      resources:
        limits:
          cpu: 1
          memory: 1Gi
        requests:
          cpu: 1
          memory: 1Gi
      env:
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
          memory: 512Mi

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.5.2-0
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/registry.k8s.io
      - --use-prow-manifest-diff
      resources:
        limits:
  ...

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

Bumping boskos and ghproxy and prow
  kubernetes/eks-prow-build/prow/boskos-janitor.yaml
  kubernetes/eks-prow-build/prow/boskos-reaper.yaml
  kubernetes/eks-prow-build/prow/boskos.yaml
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
  kubernetes/ibm-s390x/prow/boskos-janitor.yaml
  kubernetes/ibm-s390x/prow/boskos-reaper.yaml
  kubernetes/ibm-s390x/prow/boskos.yaml
Due: k8sio-k8s-resources-verify

Promote Gateway API echo-basic test image
  registry.k8s.io/images/k8s-staging-gateway-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add rikatz to Gateway API maintainers
  registry.k8s.io/images/k8s-staging-gateway-api/OWNERS
Due: none

Add permissions for v1.37 release team leads and subteam leads
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

apps: bump nginx
  apps/k8s-io/deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-k8s-io

AWS: migrate kOps CI EKS cluster to use access entries
  infra/aws/terraform/kops-infra-ci/data.tf
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/providers.tf
Due: none

bump karpenter to v1.12.2
  kubernetes/eks-prow-build/kube-system/ec2nodeclass.yaml
  kubernetes/eks-prow-build/kube-system/kustomization.yaml
  kubernetes/eks-prow-build/kube-system/nodepool.yaml
Due: k8sio-k8s-resources-verify

harden the shared staging image project
  infra/gcp/terraform/k8s-infra-oci-proxy/iam.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/provider.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/versions.tf
  infra/gcp/terraform/k8s-staging-images/buckets.tf
  infra/gcp/terraform/k8s-staging-images/registries.tf
  infra/gcp/terraform/modules/oci-proxy/versions.tf
Due: post-k8s-deploy-registry

Remove slackin-kubernetes - removed from slack-infra repo
  registry.k8s.io/images/k8s-staging-slack-infra/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

monitoring: include DinD child containers in prow:job usage rules
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kubelet/prow-rules.yaml
  kubernetes/gke-prow-build/monitoring/rules.yaml
Due: k8sio-k8s-resources-verify

Promote cluster-api-ibmcloud-controller:v0.14.0
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-gcp v1.12.0
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: k8sio-k8s-resources-verify

fix: improve verifier dependency errors
  hack/verify-shellcheck.sh
  hack/verify-yamllint.sh
Due: none

resize our GKE node pools
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/modules/gke-cluster/main.tf
Due: post-k8sio-deploy-prow-build-resources

Promote Gateway API echoserver 1.6.0-dev.2
  registry.k8s.io/images/k8s-staging-gateway-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote Gateway API UDP echoserver 1.6.0-dev.2
  registry.k8s.io/images/k8s-staging-gateway-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Address review comments
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cluster-api-azure v1.23.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.24.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote dra-example-driver image and chart v0.3.0
  registry.k8s.io/images/k8s-staging-dra-example-driver/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

[descheduler v0.36.0] promote images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Review comment: Remove trailing space
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

etcd: Promote v3.7.0-beta.0 image
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cloud-provider-gcp v36.0.3 / v36.0.4 / v36.0.7
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for kube-state-metrics v2.19.0
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

resize our GKE node pools (#9506)
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/modules/gke-cluster/main.tf
Due: post-k8sio-deploy-prow-build-resources

Image promotion for provider-aws v1.60.1 / v1.60.1-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote vSphere CSI v3.7.1 images
  registry.k8s.io/images/k8s-staging-csi-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

strip the url prefix when accessing kops ci bucket
  .atlantis.yaml
  infra/fastly/terraform/cdn/vcl/binaries.vcl
Due: k8sio-k8s-resources-verify

kubespray: add staging registry for CI images
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
  infra/gcp/terraform/k8s-staging-images/registries.tf
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for build-image bookworm-v1.0.8
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

feat: create gcs buckets for mimir long term storage
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
Due: none

Promote some CSI sidecars
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

fix: switch to single bucket for mimir
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
Due: none

update autoscaling TL
  OWNERS_ALIASES
  groups/sig-autoscaling/groups.yaml
  registry.k8s.io/images/k8s-staging-autoscaling/OWNERS
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

fix: resolve groups restrictions paths relative to config
  groups/reconcile.go
  groups/reconcile_test.go
Due: pull-k8sio-groups-test, post-k8sio-groups

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/
