Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/

promote csi-secrets-store driver:v1.5.4
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

deploy datadog to gke clusters
  infra/gcp/terraform/kubernetes-public/iam.tf
  kubernetes/gke-aaa/datadog/kustomization.yaml
  kubernetes/gke-aaa/datadog/secrets.yaml
  kubernetes/gke-aaa/datadog/values.yaml
  kubernetes/gke-aaa/helm/external-secrets.yaml
  kubernetes/gke-prow-build-trusted/datadog/kustomization.yaml
  kubernetes/gke-prow-build-trusted/datadog/secrets.yaml
  kubernetes/gke-prow-build-trusted/datadog/values.yaml
  kubernetes/gke-prow-build-trusted/helm/external-secrets.yaml
  kubernetes/gke-prow-build/datadog/kustomization.yaml
  kubernetes/gke-prow-build/datadog/secrets.yaml
  kubernetes/gke-prow-build/datadog/values.yaml
  kubernetes/gke-prow/datadog/kustomization.yaml
  kubernetes/gke-prow/datadog/secrets.yaml
  kubernetes/gke-prow/datadog/values.yaml
  kubernetes/gke-prow/helm/external-secrets.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
  kubernetes/gke-utility/datadog/kustomization.yaml
  kubernetes/gke-utility/datadog/secrets.yaml
  kubernetes/gke-utility/datadog/values.yaml
Due: pull-k8sio-terraform-kubernetes-public, k8sio-k8s-resources-verify

correct readme in various places
  apps/README.md
  audit/README.md
  dns/README.md
  groups/reconcile.go
  groups/service.go
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/README.md
Due: pull-k8sio-groups-test, pull-k8sio-dns-validate-config, post-k8sio-deploy-prow-build-resources, post-k8sio-groups

image: promote node-feature-discovery v0.18.0
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-operator v0.24.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.50.0 / v1.50.0-a1compat / v1.50.0-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Rotate SIG K8s leads
  OWNERS
  OWNERS_ALIASES
  dns/zone-configs/k8s.io._0_base.yaml
  groups/groups_test.go
  groups/sig-contributor-experience/groups.yaml
  groups/sig-docs/groups.yaml
  groups/sig-k8s-infra/groups.yaml
  groups/sig-testing/groups.yaml
  kubernetes/gke-utility/argocd/extras.yaml
Due: pull-k8sio-groups-test, pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update, post-k8sio-groups

Update sig-release/groups.yaml
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote kOps 1.34.0-beta.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.34.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.34.0-beta.1.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

Promote VPA 1.5.1 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

etcd: Use gcr.io/etcd-development/etcd as source
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
  registry.k8s.io/manifests/k8s-staging-etcd/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add single process oom kill kubeletconfig to GKE nodes
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/k8s-infra-prow-build/provider.tf
  infra/gcp/terraform/modules/gke-cluster/versions.tf
  infra/gcp/terraform/modules/gke-nodepool/versions.tf
  infra/gcp/terraform/modules/gke-project/versions.tf
  infra/gcp/terraform/modules/workload-identity-service-account/versions.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, post-k8sio-deploy-prow-build-resources

Added comms shadow
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

move 3 scale projects to 5k and manage the manual boskos projects via Terraform
  infra/gcp/terraform/boskos/main.tf
  kubernetes/gke-prow-build/prow/boskos-resources-configmap.yaml
Due: k8sio-k8s-resources-verify

Fix email for GenPage
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

add karpenter cluster api staging registry
  OWNERS_ALIASES
  infra/gcp/terraform/k8s-staging-images/registries.tf
  registry.k8s.io/images/k8s-staging-karpenter-cluster-api/OWNERS
  registry.k8s.io/images/k8s-staging-karpenter-cluster-api/images.yaml
  registry.k8s.io/manifests/k8s-staging-karpenter-cluster-api/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

image: promote node-feature-discovery v0.18.1
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Added sreeram-venkitesh to k8s-infra-release-editors
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cluster-api v1.11.2
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.10.7
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.49.1 / v1.49.1-a1compat / v1.49.1-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

AWS: add access key for kops-ci-user
  infra/aws/terraform/kops-infra-ci/iam.tf
Due: none

Image promotion for provider-aws v1.50.1 / v1.50.1-a1compat / v1.50.1-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

create the scale-cache-puller in the prow-build project
  infra/gcp/terraform/k8s-infra-prow-build/scale.tf
  kubernetes/gke-prow-build/prow/externalsecrets.yaml
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Image promotion for build-image bookworm-v1.0.6
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote v0.14.1
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote v0.13.6
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.35.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add terraform for provisioning s390x build cluster on ibmcloud
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/bastion.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/data.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/load_balancer.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/nodes.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/providers.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/README.md
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/main.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/resource_group/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/resource_group/resource_group.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/resource_group/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/secret_manager.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/vpc.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/providers.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/var.tfvars
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/versions.tf
Due: none

Updated Reviewed Changes
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/README.md
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/bastion.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/data.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/load_balancer.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/nodes.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/README.md
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/main.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/resource_group/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/resource_group/resource_group.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/resource_group/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/secret_manager.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/vpc.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/providers.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/versions.tf
Due: none

Image promotion for build-image v1.33.0-go1.24.8-bullseye.0 / v1.34.0-go1.24.8-bullseye.0 / v1.35.0-go1.25.2-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v2.4.0-go1.24.8-bookworm.0 / v2.4.0-go1.25.2-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for releng 1.24.8-bookworm-0 / 1.25.2-trixie-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

chore(infra): added karpenter-ibm image infra
  groups/restrictions.yaml
  groups/sig-autoscaling/groups.yaml
  infra/gcp/infra.yaml
  infra/gcp/terraform/k8s-staging-images/registries.tf
  registry.k8s.io/images/k8s-staging-karpenter-provider-ibm-cloud/OWNERS
  registry.k8s.io/images/k8s-staging-karpenter-provider-ibm-cloud/images.yaml
  registry.k8s.io/manifests/k8s-staging-karpenter-provider-ibm-cloud/promoter-manifest.yaml
Due: pull-k8sio-groups-test, pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify, post-k8sio-groups

SIG Node CI group should allow all emails to accept test failure notification
  groups/sig-node/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Cluster Autoscaler v1.31.5 release
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Cluster Autoscaler v1.32.4 release
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Cluster Autoscaler v1.33.2 release
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
