Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-deploy-app-gcsweb:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/gcsweb/deploy.sh

post-k8sio-deploy-app-k8s-io:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/k8s-io/deploy.sh

post-k8sio-deploy-app-kubernetes-external-secrets:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/kubernetes-external-secrets/deploy.sh

Update README.md
  images/public-log-vendor-matcher/README.md
Due: none

Update README.md and lib-16-stop-stopgres.sh
  images/public-log-vendor-matcher/README.md
  images/public-log-vendor-matcher/pg-init.d/lib-16-stop-postgres.sh
Due: none

Fix variable name
  images/public-log-vendor-matcher/pg-init.d/lib-16-stop-postgres.sh
Due: none

Ensure ASN data has only uniques
  images/public-log-vendor-matcher/pg-init.d/lib-01-prepare-company-asn-data.sh
Due: none

Update stop-postgres comments and logging
  images/public-log-vendor-matcher/pg-init.d/lib-16-stop-postgres.sh
Due: none

Append to BQ_OUTPUT
  images/public-log-vendor-matcher/pg-init.d/lib-04-load-into-a-bigquery-dataset.sh
  images/public-log-vendor-matcher/pg-init.d/lib-06-bq-load-metadata.sh
  images/public-log-vendor-matcher/pg-init.d/lib-07-bq-load-logs.sh
  images/public-log-vendor-matcher/pg-init.d/lib-08-bq-usage-data-transformation.sh
  images/public-log-vendor-matcher/pg-init.d/lib-09-download-c-ip-int.sh
  images/public-log-vendor-matcher/pg-init.d/lib-10-download-expanded-ips.sh
  images/public-log-vendor-matcher/pg-init.d/lib-12-upload-ip-range-2-ip.sh
  images/public-log-vendor-matcher/pg-init.d/lib-13-add-c-ip-int-to-usage-all.sh
  images/public-log-vendor-matcher/pg-init.d/lib-14-prepare-final-table.sh
  images/public-log-vendor-matcher/pg-init.d/lib-15-promote-bq-dataset-as-prod.sh
Due: none

Rename public-log-vendor-matcher -> public-log-asn-matcher
  images/public-log-asn-matcher/Dockerfile
  images/public-log-asn-matcher/README.md
  images/public-log-asn-matcher/app/add_c_ip_int_to_usage_all.sql
  images/public-log-asn-matcher/app/add_c_ip_int_to_usage_all_no_logs.sql
  images/public-log-asn-matcher/app/asn-autnums-extractor.py
  images/public-log-asn-matcher/app/distinct_c_ip_count.sql
  images/public-log-asn-matcher/app/distinct_c_ip_count_logs.sql
  images/public-log-asn-matcher/app/distinct_ip_int.sql
  images/public-log-asn-matcher/app/distinct_ipint_only.sql
  images/public-log-asn-matcher/app/ext-ip-asn.sql
  images/public-log-asn-matcher/app/ip-from-pyasn.py
  images/public-log-asn-matcher/app/join_all_the_things.sql
  images/public-log-asn-matcher/app/join_all_the_things_no_logs.sql
  images/public-log-asn-matcher/app/join_asn_and_company_name.sql
  images/public-log-asn-matcher/app/potaroo_extra_yaml_name_column.sql
  images/public-log-asn-matcher/app/potaroo_yaml_name_subbed.sql
  images/public-log-asn-matcher/buckets.txt
  images/public-log-asn-matcher/generate-buckets.sh
  images/public-log-asn-matcher/pg-init.d/lib-00-prepare.sh
  images/public-log-asn-matcher/pg-init.d/lib-01-prepare-company-asn-data.sh
  images/public-log-asn-matcher/pg-init.d/lib-02-migrate-schemas.sql
  images/public-log-asn-matcher/pg-init.d/lib-03-load-pyasn-output.sql
  images/public-log-asn-matcher/pg-init.d/lib-04-load-into-a-bigquery-dataset.sh
  images/public-log-asn-matcher/pg-init.d/lib-05-load-asn-data.sql
  images/public-log-asn-matcher/pg-init.d/lib-06-bq-load-metadata.sh
  images/public-log-asn-matcher/pg-init.d/lib-07-bq-load-logs.sh
  images/public-log-asn-matcher/pg-init.d/lib-08-bq-usage-data-transformation.sh
  images/public-log-asn-matcher/pg-init.d/lib-09-download-c-ip-int.sh
  images/public-log-asn-matcher/pg-init.d/lib-10-download-expanded-ips.sh
  images/public-log-asn-matcher/pg-init.d/lib-11-load-single-ip-int.sql
  images/public-log-asn-matcher/pg-init.d/lib-12-upload-ip-range-2-ip.sh
  images/public-log-asn-matcher/pg-init.d/lib-13-add-c-ip-int-to-usage-all.sh
  images/public-log-asn-matcher/pg-init.d/lib-14-prepare-final-table.sh
  images/public-log-asn-matcher/pg-init.d/lib-15-promote-bq-dataset-as-prod.sh
  images/public-log-asn-matcher/pg-init.d/lib-16-stop-postgres.sh
Due: none

Add boilerplate copyright
  images/public-log-asn-matcher/Dockerfile
  images/public-log-asn-matcher/app/asn-autnums-extractor.py
  images/public-log-asn-matcher/app/ip-from-pyasn.py
  images/public-log-asn-matcher/generate-buckets.sh
  images/public-log-asn-matcher/pg-init.d/lib-00-prepare.sh
  images/public-log-asn-matcher/pg-init.d/lib-01-prepare-company-asn-data.sh
  images/public-log-asn-matcher/pg-init.d/lib-04-load-into-a-bigquery-dataset.sh
  images/public-log-asn-matcher/pg-init.d/lib-06-bq-load-metadata.sh
  images/public-log-asn-matcher/pg-init.d/lib-07-bq-load-logs.sh
  images/public-log-asn-matcher/pg-init.d/lib-08-bq-usage-data-transformation.sh
  images/public-log-asn-matcher/pg-init.d/lib-09-download-c-ip-int.sh
  images/public-log-asn-matcher/pg-init.d/lib-10-download-expanded-ips.sh
  images/public-log-asn-matcher/pg-init.d/lib-12-upload-ip-range-2-ip.sh
  images/public-log-asn-matcher/pg-init.d/lib-13-add-c-ip-int-to-usage-all.sh
  images/public-log-asn-matcher/pg-init.d/lib-14-prepare-final-table.sh
  images/public-log-asn-matcher/pg-init.d/lib-15-promote-bq-dataset-as-prod.sh
  images/public-log-asn-matcher/pg-init.d/lib-16-stop-postgres.sh
Due: none

Fix shellcheck
  images/public-log-asn-matcher/pg-init.d/lib-00-prepare.sh
  images/public-log-asn-matcher/pg-init.d/lib-01-prepare-company-asn-data.sh
  images/public-log-asn-matcher/pg-init.d/lib-04-load-into-a-bigquery-dataset.sh
  images/public-log-asn-matcher/pg-init.d/lib-06-bq-load-metadata.sh
  images/public-log-asn-matcher/pg-init.d/lib-07-bq-load-logs.sh
  images/public-log-asn-matcher/pg-init.d/lib-08-bq-usage-data-transformation.sh
  images/public-log-asn-matcher/pg-init.d/lib-09-download-c-ip-int.sh
  images/public-log-asn-matcher/pg-init.d/lib-10-download-expanded-ips.sh
  images/public-log-asn-matcher/pg-init.d/lib-12-upload-ip-range-2-ip.sh
  images/public-log-asn-matcher/pg-init.d/lib-13-add-c-ip-int-to-usage-all.sh
  images/public-log-asn-matcher/pg-init.d/lib-14-prepare-final-table.sh
  images/public-log-asn-matcher/pg-init.d/lib-15-promote-bq-dataset-as-prod.sh
  images/public-log-asn-matcher/pg-init.d/lib-16-stop-postgres.sh
Due: none

Promote kube-webhook-certgen v1.1 image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Promote KSM 2.2.3
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add k8s-infra-staging-sig-auth group
  groups/restrictions.yaml
  groups/sig-auth/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add sig-auth container registry
  groups/restrictions.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-sig-auth/OWNERS
  k8s.gcr.io/images/k8s-staging-sig-auth/images.yaml
  k8s.gcr.io/manifests/k8s-staging-sig-auth/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

audit: update as of 2021-10-11
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-cip-test-prod/services/logging/logs.json
  audit/projects/k8s-release-test-prod/services/logging/logs.json
Due: none

Add zone file for new subdomain for e2e kops digitial ocean tests
  dns/zone-configs/k8s.io._1_do.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Promote kube-webhook-certgen v1.1.1 image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote Ingress NGINX image to v1.0.4
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote aws-ebs-csi-driver:v1.4.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

storage-migrator: promote v0.0.4 to prod
  k8s.gcr.io/images/k8s-staging-storage-migrator/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Adds Claudiu Belu to the leads group
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add CoCC vanity redirect
  apps/k8s-io/certificate-canary.yaml
  apps/k8s-io/certificate-prod.yaml
  apps/k8s-io/configmap-nginx.yaml
  apps/k8s-io/test.py
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-k8s-io, post-k8sio-dns-update

Promote kOps 1.22.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.22.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.0.yaml
Due: k8sio-k8s-resources-verify

releng: Promote go1.17.1 / go1.16.8 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Promote go1.17.2 / go1.16.9 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

add fake clients for admin and group services
  groups/fake/fake_client.go
Due: pull-k8sio-groups-test, post-k8sio-groups

add tests for group service
  groups/service_test.go
Due: pull-k8sio-groups-test, post-k8sio-groups

Prepare service types for testing
  groups/service.go
Due: pull-k8sio-groups-test, post-k8sio-groups

add tests for admin service
  groups/service_test.go
Due: pull-k8sio-groups-test, post-k8sio-groups

add tests for reconciliation logic
  groups/reconcile_test.go
Due: pull-k8sio-groups-test, post-k8sio-groups

terraform/k8s-infra-prow-build: add dashboards
  infra/gcp/terraform/k8s-infra-prow-build/dashboards/build-cluster-capacity-usage.json
  infra/gcp/terraform/k8s-infra-prow-build/dashboards/prow-build-ephemeral-ssd-experiment.json
  infra/gcp/terraform/k8s-infra-prow-build/dashboards/prowjob-resource-usage.json
  infra/gcp/terraform/k8s-infra-prow-build/monitoring.tf
Due: none

promote csi-secrets-store driver:v1.0.0
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/generate.sh
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

bash/main: add tf bucket for org-level resources
  infra/gcp/bash/ensure-main-project.sh
Due: none

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
