Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Improve metrics testability
  cluster-autoscaler/core/scaledown/nodeevaltracker/max_node_skip_eval_time.go
  cluster-autoscaler/core/scaledown/nodeevaltracker/max_node_skip_eval_time_test.go
  cluster-autoscaler/metrics/legacy_functions.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/metrics/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat: add OCI publishing for Helm charts to GHCR
  .github/workflows/chart-release.yaml
  cluster-autoscaler/charts/cluster-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
Due: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

feat: add manual packaging for workflow_dispatch testing
  .github/workflows/chart-release.yaml
Due: none

fix: addressing Copilot's comments
  .github/workflows/chart-release.yaml
  cluster-autoscaler/charts/cluster-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
Due: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

feat: update README.md.gotmpl
  cluster-autoscaler/charts/cluster-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
Due: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

[OCI] Skip drain of node on cloud-provider during delete
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix(style): capitalized variable inside function
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

docs: added documentation to calculatePoolUtil
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

tests: split resourceSlices with counters and resourceSlices without counters in testResourceSlicesWithPartionableDevices
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add Helm-managed webhook with kube-webhook-certgen
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/NOTES.txt
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/_helpers.tpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-clusterrole.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-clusterrolebinding.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-patch.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-role.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-rolebinding.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-serviceaccount.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-clusterrole.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-tls-secret.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-webhook.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

capacity buffer resource quota integration
  cluster-autoscaler/capacitybuffer/client/client.go
  cluster-autoscaler/capacitybuffer/common/common.go
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/capacitybuffer/translators/resourcequotas.go
  cluster-autoscaler/capacitybuffer/translators/resourcequotas_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Report proper value when node became needed again
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Refactor updater's flags
  vertical-pod-autoscaler/common/flags.go
  vertical-pod-autoscaler/pkg/recommender/app/config.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Wire up context, add stop channels, etc
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/app/app.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/metrics/quality/quality.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/resources/resources.go
  vertical-pod-autoscaler/pkg/utils/server/server.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Move recommender start into it's own module
  vertical-pod-autoscaler/pkg/recommender/app/app.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add some integration tests
  vertical-pod-autoscaler/integration/go.mod
  vertical-pod-autoscaler/integration/go.sum
  vertical-pod-autoscaler/integration/main_test.go
  vertical-pod-autoscaler/integration/recommender_test.go
  vertical-pod-autoscaler/integration/utils.go
  vertical-pod-autoscaler/pkg/utils/test/test_container.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Lint
  vertical-pod-autoscaler/pkg/recommender/app/app.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Document how to run e2e tests locally
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/docs/development-and-testing.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Exclude VPA from deprecated golint since it uses golangci-lint
  hack/verify-golint.sh
Due: none

feat(vpa): use Helm chart for local E2E testing and dev deployment
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/dev-deploy-locally.sh
  vertical-pod-autoscaler/hack/e2e/values-e2e-local.yaml
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix(vpa): prevent extraArgs index conflict with feature gates
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

new-pod-scale-up-delay=0 should effectively disable filtering out young pods
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Switch to envtest
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/hack/run-integration-tests.sh
  vertical-pod-autoscaler/integration/go.mod
  vertical-pod-autoscaler/integration/go.sum
  vertical-pod-autoscaler/integration/main_test.go
  vertical-pod-autoscaler/integration/recommender_test.go
  vertical-pod-autoscaler/integration/utils.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Move most of local-cluster.md into the docs directory
  vertical-pod-autoscaler/docs/development-and-testing.md
  vertical-pod-autoscaler/hack/local-cluster.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add toc generation and validation to VPA
  vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/docs/components.md
  vertical-pod-autoscaler/docs/examples.md
  vertical-pod-autoscaler/docs/faq.md
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/docs/known-limitations.md
  vertical-pod-autoscaler/docs/quickstart.md
  vertical-pod-autoscaler/docs/sidecar-containers.md
  vertical-pod-autoscaler/enhancements/3919-customized-recommender-vpa/README.md
  vertical-pod-autoscaler/enhancements/4016-in-place-updates-support/README.md
  vertical-pod-autoscaler/enhancements/4566-min-replicas/README.md
  vertical-pod-autoscaler/enhancements/4831-control-eviction-behavior/README.md
  vertical-pod-autoscaler/enhancements/4902-delete-oom-pods/README.md
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
  vertical-pod-autoscaler/hack/.notableofcontents
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/update-toc.sh
  vertical-pod-autoscaler/hack/verify-toc.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Run modernize on VPA
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Run modernize on VPA - only for the any rule
  vertical-pod-autoscaler/e2e/utils/common.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/model/errors.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
  vertical-pod-autoscaler/pkg/target/mock/fetcher_mock.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix helm chart github actions
  .github/workflows/chart-release.yaml
  .github/workflows/pr.yaml
Due: none

#5 refactor kubeconfig
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

#1 fix memory units
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

#2 add cloud provider id
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_provider_id.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_provider_id_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

#4 set http timeout
  cluster-autoscaler/cloudprovider/kamatera/kamatera_request.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_request_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

add locking + tests
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix cloud provider id
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add Kamatera interface assertions and logs
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix update of uneeded threshold
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Skip drain of node on cloud-provider during delete
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
