Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-images, pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-images: any of: ^test\/images\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

Modify alias of e2e/framework/job to e2ejob
  hack/.import-aliases
  test/e2e/apps/cronjob.go
  test/e2e/apps/job.go
  test/e2e/apps/network_partition.go
  test/e2e/auth/metadata_concealment.go
  test/e2e/kubectl/kubectl.go
  test/e2e/node/ttlafterfinished.go
  test/e2e/scheduling/nvidia-gpus.go
  test/e2e/upgrades/apps/job.go
  test/e2e/upgrades/nvidia-gpu.go
Due: none

Fix pv binding fails when the directory where the file is located does not exist
  pkg/volume/hostpath/host_path.go
Due: none

Implement default queue sort logic as a scheduler plugin
  pkg/scheduler/BUILD
  pkg/scheduler/algorithmprovider/BUILD
  pkg/scheduler/algorithmprovider/registry.go
  pkg/scheduler/algorithmprovider/registry_test.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/queuesort/BUILD
  pkg/scheduler/framework/plugins/queuesort/priority_sort.go
  pkg/scheduler/framework/plugins/queuesort/priority_sort_test.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/testing/framework_helpers.go
  test/integration/scheduler/scheduler_test.go
Due: none

Add comments in several hack/verify-generated-*.sh
  hack/verify-generated-device-plugin.sh
  hack/verify-generated-docs.sh
  hack/verify-generated-files-remake.sh
  hack/verify-generated-files.sh
  hack/verify-generated-kms.sh
  hack/verify-generated-kubelet-plugin-registration.sh
  hack/verify-generated-pod-resources.sh
  hack/verify-generated-protobuf.sh
  hack/verify-generated-runtime.sh
  hack/verify-generated-swagger-docs.sh
Due: none

fix some misspelling
  pkg/probe/http/http.go
  pkg/probe/http/http_test.go
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

Fix staticcheck in pkg/controller/podgc
  hack/.staticcheck_failures
  pkg/controller/podgc/gc_controller_test.go
Due: none

Fix the bug PIP's DNS is deleted if no DNS label service annotation is set.
  pkg/cloudprovider/providers/azure/azure_loadbalancer.go
Due: none

Fix the bug PIP's DNS is deleted if no DNS label service annotation is set.
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
Due: pull-kubernetes-godeps

Fix the bug PIP's DNS is deleted if no DNS label service annotation is set.
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Due: pull-kubernetes-godeps

Update validation for API Priority and Fairness
  pkg/apis/flowcontrol/BUILD
  pkg/apis/flowcontrol/install/install.go
  pkg/apis/flowcontrol/internalbootstrap/BUILD
  pkg/apis/flowcontrol/internalbootstrap/default-internal.go
  pkg/apis/flowcontrol/internalbootstrap/defaults_test.go
  pkg/apis/flowcontrol/types.go
  pkg/apis/flowcontrol/validation/BUILD
  pkg/apis/flowcontrol/validation/validation.go
  pkg/apis/flowcontrol/validation/validation_test.go
  staging/src/k8s.io/api/flowcontrol/v1alpha1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/flowcontrol/bootstrap/default.go
Due: pull-kubernetes-godeps

Update QueueSet to make the shufflesharding.Dealer private
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/testing/no-restraint.go
Due: pull-kubernetes-godeps

1: use t.Fatalf instead t.Errorf 2: add the test readable output name for the each test
  pkg/probe/http/http_test.go
Due: none

Update to golang@1.13.6
  build/build-image/cross/Dockerfile
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
Due: post-kubernetes-push-images, pull-kubernetes-cross, pull-kubernetes-godeps

fix describe ingress annotations not soted
  staging/src/k8s.io/kubectl/pkg/describe/versioned/BUILD
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe_test.go
Due: pull-kubernetes-godeps

Add a scheduler algorithm provider for kubelet
  pkg/kubelet/lifecycle/BUILD
  pkg/kubelet/lifecycle/admission_failure_handler_stub.go
  pkg/kubelet/lifecycle/predicate.go
  pkg/kubelet/preemption/BUILD
  pkg/kubelet/preemption/preemption.go
  pkg/scheduler/algorithmprovider/registry.go
  pkg/scheduler/algorithmprovider/registry_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/v1alpha1/interface.go
Due: pull-kubernetes-local-e2e-containerized

Fix the kubectl taint documentation
  staging/src/k8s.io/kubectl/pkg/cmd/taint/taint.go
Due: pull-kubernetes-godeps

delete unused field
  pkg/volume/hostpath/host_path.go
Due: none

Bump gogo-protobuf to v1.13.1
  go.mod
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/node-api/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Due: pull-kubernetes-godeps

Check kubeClient against nil
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
Due: pull-kubernetes-local-e2e-containerized

Updating dependency github.com/prometheus/client_model to version v0.0.0-20190812154241-14fe0d1b01d4
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
Due: pull-kubernetes-godeps

Rename cache's Snapshot to Dump
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/debugger/comparer.go
  pkg/scheduler/internal/cache/debugger/dumper.go
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
Due: none

removed excess blank line
  staging/src/k8s.io/apiserver/pkg/apis/flowcontrol/bootstrap/default.go
Due: pull-kubernetes-godeps

service: Handle single stack service errors when dual-stack flag enabled
  pkg/apis/core/validation/conditional_validation.go
  pkg/apis/core/validation/conditional_validation_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/service/BUILD
  pkg/registry/core/service/storage/BUILD
  pkg/registry/core/service/storage/rest.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
Due: none

Add new feature to jsonpath: test if a field does not exist
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath.go
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath_test.go
  staging/src/k8s.io/client-go/util/jsonpath/parser.go
  staging/src/k8s.io/client-go/util/jsonpath/parser_test.go
Due: pull-kubernetes-godeps

service: Default IPFamily when reading from the server as configured
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy.go
Due: none

dogged insistence on full verbosity
  pkg/apis/flowcontrol/internalbootstrap/default-internal.go
  pkg/apis/flowcontrol/validation/validation.go
Due: none

add crash protection to wait functions that were missing it
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go
Due: pull-kubernetes-godeps

Made internalbootstrap gin up its own Scheme
  pkg/apis/flowcontrol/install/install.go
  pkg/apis/flowcontrol/internalbootstrap/BUILD
  pkg/apis/flowcontrol/internalbootstrap/default-internal.go
  pkg/apis/flowcontrol/internalbootstrap/defaults_test.go
Due: none

[1.15] No-op whitespace fix to CHANGELOG-1.15 to trigger a new 1.15 build
  CHANGELOG-1.15.md
Due: none

[1.16] No-op whitespace fix to CHANGELOG-1.16 to trigger a new 1.16 build
  CHANGELOG-1.16.md
Due: none

[1.17] No-op whitespace fix to CHANGELOG-1.17 to trigger a new 1.17 build
  CHANGELOG-1.17.md
Due: none
