Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

kubeadm: use coredns v1.10.0
  build/dependencies.yaml
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images_test.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-cross, pull-kubernetes-godeps

update coredns to v1.10.1
  build/dependencies.yaml
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/coredns.yaml.sed
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images_test.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

update github.com/coredns/corefile-migration v1.0.20
  go.mod
  go.sum
  vendor/github.com/coredns/corefile-migration/migration/migrate.go
  vendor/github.com/coredns/corefile-migration/migration/versions.go
  vendor/modules.txt
Due: check-dependency-stats, check-govulncheck-results, pull-kubernetes-godeps

kubeadm: make super-admin.conf changes in app/phases
  cmd/kubeadm/app/phases/certs/renewal/manager.go
  cmd/kubeadm/app/phases/certs/renewal/manager_test.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/postupgrade_test.go
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: make super-admin.conf changes to app/cmd
  cmd/kubeadm/app/cmd/certs_test.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

chore: code optimization
  staging/src/k8s.io/endpointslice/reconciler_test.go
  staging/src/k8s.io/endpointslice/topologycache/topologycache.go
  staging/src/k8s.io/endpointslice/topologycache/utils.go
  staging/src/k8s.io/endpointslice/topologycache/utils_test.go
Due: pull-kubernetes-godeps

chore: io/ioutil deprecated
  pkg/auth/authorizer/abac/abac_test.go
  pkg/client/tests/remotecommand_test.go
  pkg/controller/certificates/signer/signer_test.go
  pkg/volume/configmap/configmap_test.go
  pkg/volume/downwardapi/downwardapi_test.go
  pkg/volume/fc/fc_util.go
  pkg/volume/iscsi/iscsi_util_test.go
  pkg/volume/rbd/rbd_util.go
  pkg/volume/secret/secret_test.go
  pkg/volume/util/subpath/subpath_linux.go
  pkg/volume/util/subpath/subpath_linux_test.go
  plugin/pkg/admission/eventratelimit/config.go
  plugin/pkg/admission/podtolerationrestriction/config.go
  plugin/pkg/admission/security/podsecurity/admission_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial

chore: use time.Since instead of time.Now().Sub
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

chore: unnecessary assignment to the blank identifier
  pkg/controller/bootstrap/bootstrapsigner.go
  staging/src/k8s.io/endpointslice/reconciler_test.go
Due: pull-kubernetes-godeps

chore: copy loop and make optimization
  pkg/controller/testutil/test_utils.go
Due: none

kube-proxy: make --init-only a no-op on Windows
  cmd/kube-proxy/app/server_windows.go
Due: pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

cluster/gce: set KUBE_WATCHLIST_INCONSISTENCY_DETECTOR when requested by a CI job
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure-kubeapiserver.sh
  cluster/gce/manifests/kube-proxy.manifest
  cluster/gce/util.sh
Due: pull-kubernetes-e2e-gke

test-autoscaling stop using deprecated framework.ExpectNotEqual
  test/e2e/autoscaling/cluster_size_autoscaling.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Make e2e node image ID test more flexible
  test/e2e_node/image_id_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

export time function
  pkg/registry/core/persistentvolume/strategy.go
  pkg/registry/core/persistentvolume/strategy_test.go
Due: none

graduate PersistentVolumeLastPhaseTransitionTime to beta
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

enable PersistentVolumeLastPhaseTransitionTime feature gate for status update test
  pkg/registry/core/persistentvolume/storage/storage_test.go
Due: none

test: fix storage status update test
  pkg/registry/core/persistentvolume/storage/storage_test.go
Due: none

Modify mostRecentScheduleTime to return more detailed information about missed schedules
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
Due: none

Fix spelling
  pkg/controller/cronjob/utils_test.go
Due: none

Add more test cases ensuring nextScheduleTimeDuration is never < 0
  pkg/controller/cronjob/utils_test.go
Due: none

Make it possible to build with podman instead of docker using DOCKER=podman.
  build/common.sh
  hack/lib/util.sh
  hack/local-up-cluster.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps, pull-kubernetes-local-e2e

e2e node: fix broken assertion
  test/e2e_node/pod_host_ips.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

e2e upgrades: fix broken assertion
  test/e2e/upgrades/node/nvidia-gpu.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Cleanups in controller utils
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/utils.go
Due: none

Re-use common parts between getNextScheduleTime and nextScheduledTimeDuration
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
Due: none

Fix typo in ResourceQuota Admission Controller Comment
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/controller.go
Due: pull-kubernetes-godeps

hack/tools: golangci-lint v1.55.1
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Make StatefulSet restart pods with phase Succeeded
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
  test/integration/statefulset/statefulset_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add back k8s.io/kms/internal/plugins/_mock/go.*
  staging/src/k8s.io/kms/internal/plugins/_mock/go.mod
  staging/src/k8s.io/kms/internal/plugins/_mock/go.sum
Due: pull-kubernetes-e2e-kind-kms, pull-kubernetes-godeps

Prevent sampledeviceplugin binary commit
  test/images/sample-device-plugin/.gitignore
Due: post-kubernetes-push-e2e-sample-device-plugin-test-images, pull-kubernetes-conformance-kind-ipv6-parallel

cloud-node-lifecycle controller: add fallback for empty providerID in shutdown
  staging/src/k8s.io/cloud-provider/cloud.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
Due: pull-kubernetes-godeps
