Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Return nil for empty claims in findPodClaims to ensure consistency
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

address golangci-lint issues
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix VPA template rendering with empty containerPolicy
  cluster-autoscaler/charts/cluster-autoscaler/templates/vpa.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Bump chart version to 9.56.1 for VPA template fix
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Introduce a separate field for GCE instance statuses
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Get rid of CapacityBuffersFakePodsRegistry.
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Introduce a separate field for GCE instance status
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix CAPI provider scale-down when current replicas exceed maxSize
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Move new autoscaler to builder package.
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/builder/autoscaler_factory.go
  cluster-autoscaler/core/autoscaler.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Move node info comparator logic to individual provider builder.
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Add capacity buffer oldest reconciliation timestamp metric
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/controller/controller_test.go
  cluster-autoscaler/capacitybuffer/metrics/reconciliation_cache.go
  cluster-autoscaler/capacitybuffer/metrics/reconciliation_cache_test.go
  cluster-autoscaler/capacitybuffer/metrics/reconciliation_collector.go
  cluster-autoscaler/capacitybuffer/metrics/reconciliation_collector_test.go
  cluster-autoscaler/capacitybuffer/updater/status_updater.go
  cluster-autoscaler/capacitybuffer/updater/status_updater_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add annotation in the capacity buffer pods about provisioningStrategy.
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Revert "Get rid of CapacityBuffersFakePodsRegistry."
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

docs: add devcontainer design spec
  docs/superpowers/specs/2026-03-23-devcontainer-design.md
Due: none

docs: add devcontainer implementation plan
  docs/superpowers/plans/2026-03-23-devcontainer.md
Due: none

feat: add devcontainer for development environment
  .devcontainer/devcontainer.json
Due: none

docs: mark devcontainer plan steps complete
  docs/superpowers/plans/2026-03-23-devcontainer.md
Due: none

Bump go and deps
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Switch all github actions to use hashes
  .github/workflows/ca-benchmark.yaml
  .github/workflows/ca-test.yaml
  .github/workflows/chart-release.yaml
  .github/workflows/pr.yaml
  .github/workflows/verify.yaml
  .github/workflows/vpa-golangci-lint.yaml
  .github/workflows/vpa-test.yaml
Due: none

CA: optimize simulator performance by embedding scheduler structures
  cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go
  cluster-autoscaler/simulator/cluster_test.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/clustersnapshot/store/basic.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta_benchmark_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_test.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
  cluster-autoscaler/simulator/framework/infos.go
  cluster-autoscaler/simulator/framework/infos_test.go
  cluster-autoscaler/simulator/framework/test_utils.go
  cluster-autoscaler/simulator/node_info_utils.go
  cluster-autoscaler/simulator/node_info_utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: update NewNodeInfo and NewPodInfo callers (boilerplate)
  cluster-autoscaler/cloudprovider/alicloud/alicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_node_group.go
  cluster-autoscaler/cloudprovider/brightbox/brightbox_node_group_test.go
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest.go
  cluster-autoscaler/cloudprovider/civo/civo_node_group.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/equinixmetal/manager_rest.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_auto_scaling_group.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kwok/kwok_nodegroups.go
  cluster-autoscaler/cloudprovider/magnum/magnum_nodegroup.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
  cluster-autoscaler/cloudprovider/ovhcloud/ovh_cloud_node_group.go
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup.go
  cluster-autoscaler/cloudprovider/rancher/rancher_nodegroup_test.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group.go
  cluster-autoscaler/cloudprovider/utho/utho_node_group.go
  cluster-autoscaler/cloudprovider/volcengine/volcengine_auto_scaling_group.go
  cluster-autoscaler/utils/daemonset/daemonset.go
  cluster-autoscaler/utils/scheduler/scheduler.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Add Suspended state to clusterstate.Readiness.
  cluster-autoscaler/clusterstate/api/types.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/clusterstate/utils/status_test.go
  cluster-autoscaler/clusterstate/utils/status_test.yaml
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/metrics/legacy_functions.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/metrics/metrics_test.go
  cluster-autoscaler/processors/actionablecluster/actionable_cluster_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Refactor capacity buffers fake pods registry out.
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/capacitybuffer/fakepods/registry.go
  cluster-autoscaler/capacitybuffer/fakepods/registry_test.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Clear capacityBufferPodsRegistry only once per CA loop globally.
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/options/autoscaler.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

cluster-autoscaler: honor stderrthreshold when logtostderr is enabled
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/main.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

vpa: address golangci-lint issues, fix pod-level e2e tests
  .github/kind-config.yaml
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender_test.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission_test.go
  vertical-pod-autoscaler/pkg/utils/limits/limits.go
  vertical-pod-autoscaler/pkg/utils/test/test_podstatus.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

CA: run less iterations of the RunOnce benchmark
  .github/workflows/ca-benchmark.yaml
Due: none

CA: fail benchmark job if regression exceeds 10%
  .github/workflows/ca-benchmark.yaml
Due: none
