Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-images, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-images: any of: ^test\/images\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

Utilerrors.Aggregate: Allow using with errors.Is()
  staging/src/k8s.io/apimachinery/pkg/util/errors/errors.go
  staging/src/k8s.io/apimachinery/pkg/util/errors/errors_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation_test.go
Due: pull-kubernetes-godeps

ignore gcloud warning in test framework
  test/e2e/framework/providers/gce/gce.go
Due: none

updated fluentd to 1.9.2 & use docker builder pattern in dockerfile
  cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Dockerfile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Gemfile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Makefile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/entrypoint.sh
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/fluent.conf
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/install.sh
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross

e2e-topology-manager: Wait for SR-IOV device plugin
  test/e2e_node/topology_manager_test.go
Due: none

Bump logexporter version to v20200227-da16e1b17
  cluster/log-dump/logexporter-daemonset.yaml
Due: none

Updates bazel
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/BUILD
Due: pull-kubernetes-godeps

fix scheduler.TestCoSchedulinngWithPermitPlugin and test scheduler.PermitPlugin
  test/integration/scheduler/framework_test.go
Due: none

use 0.0.9
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
Due: pull-kubernetes-e2e-gke

Add kubectl debug alpha command
  hack/.golint_failures
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/pkg/cmd/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/alpha.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Test that an always-fail container can't report the pod Succeeded
  test/e2e/node/BUILD
  test/e2e/node/pods.go
Due: none

kubelet: Preserve existing container status when pod terminated
  pkg/kubelet/kubelet.go
  pkg/kubelet/status/BUILD
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

kubelet: Don't delete pod until all container status is available
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
Due: pull-kubernetes-local-e2e-containerized

kubelet: Never restart containers in deleting pods
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/helpers_test.go
Due: pull-kubernetes-local-e2e-containerized

kubelet: Clear the podStatusChannel before invoking syncBatch
  pkg/kubelet/status/status_manager.go
Due: pull-kubernetes-local-e2e-containerized

Use the same default namespace across event recorders
  staging/src/k8s.io/client-go/tools/events/event_recorder.go
Due: pull-kubernetes-godeps

Don't log "SHOULD NOT HAPPEN" errors more than once per second
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/atmostevery.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/atmostevery_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/structuredmerge.go
Due: pull-kubernetes-godeps

Adjust RC watch timeout to 180, update progress log statement
  test/e2e/apps/rc.go
Due: none

Fix regex for label values to allow for slashes
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation_test.go
Due: pull-kubernetes-godeps

Adjust endpoint watch timeout to 180
  test/e2e/network/service.go
Due: none

agnhost: add SCTP support to netexec
  Godeps/LICENSES
  go.mod
  go.sum
  pkg/.import-restrictions
  test/images/agnhost/README.md
  test/images/agnhost/netexec/BUILD
  test/images/agnhost/netexec/netexec.go
  vendor/BUILD
  vendor/github.com/ishidawataru/sctp/.gitignore
  vendor/github.com/ishidawataru/sctp/.travis.yml
  vendor/github.com/ishidawataru/sctp/BUILD
  vendor/github.com/ishidawataru/sctp/GO_LICENSE
  vendor/github.com/ishidawataru/sctp/LICENSE
  vendor/github.com/ishidawataru/sctp/README.md
  vendor/github.com/ishidawataru/sctp/ipsock_linux.go
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
  vendor/modules.txt
Due: post-kubernetes-push-images, pull-kubernetes-godeps

Add SCTP e2e connectivity tests. Pod2pod connectivity, and pod 2 service.
  test/e2e/framework/network/utils.go
  test/e2e/network/networking.go
Due: none

(WIP)Modify the logic for reprocessing pod in volume manager
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
Due: pull-kubernetes-local-e2e-containerized

Set field manager for kubectl diff --server-side.
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  test/cmd/diff.sh
Due: pull-kubernetes-godeps

kubeadm: deprecate the flag --use-api for cert renewal
  cmd/kubeadm/app/cmd/alpha/certs.go
Due: pull-kubernetes-e2e-kubeadm-gce

Use e2epod.CreateExecPodOrFail()
  test/e2e/network/service.go
Due: none

Refactor all storage Operation Generator functions to remove top level errors reducing event spam. Functionality moved to inner retryable/backoffable funcs
  pkg/controller/volume/expand/expand_controller.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/util/operationexecutor/fakegenerator.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/operationexecutor/operation_generator_test.go
Due: pull-kubernetes-local-e2e-containerized

Fix log formatting for skipper. "INFO" is already logged by Logf, and it wasn't in the format syntax.
  test/e2e/framework/skipper/skipper.go
Due: none

Update version of GCE PD CSI Driver used in tests for various features/fixes, specifically fixing https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/433
  go.mod
  test/e2e/testing-manifests/storage-csi/gce-pd/node_ds.yaml
Due: none

Define new type for storing volume fsgroupchangepolicy
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

Implement changes into volume plugins for skipping chown
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/azure_dd/azure_mounter.go
  pkg/volume/cinder/cinder.go
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/disk_manager.go
  pkg/volume/fc/fc.go
  pkg/volume/flexvolume/mounter.go
  pkg/volume/flocker/flocker.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/local/local.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/rbd/rbd.go
  pkg/volume/scaleio/sio_volume.go
  pkg/volume/secret/secret.go
  pkg/volume/storageos/storageos.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
  pkg/volume/volume_linux.go
  pkg/volume/volume_linux_test.go
  pkg/volume/volume_unsupported.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file

Hopefully plainer test strings
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/match_test.go
Due: pull-kubernetes-godeps

Update version of pd csi driver
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
Due: none

Show kubectl describe ingress error
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Due: pull-kubernetes-godeps

use my image
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
Due: pull-kubernetes-e2e-gke

use http connect
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke
