Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Skip search if the instance-pool is not set but the node-pool is (it is an OKE node).
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Ignore string case when comparing instance pool summary state
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Align instance listing for HasInstance() and NodeGroupForNode() to prevent mismatches.
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

addon-resizer: remove OWNERS
  addon-resizer/OWNERS
Due: none

list VPAs in a namespace
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

enable coderabbit for VPA
  .coderabbit.yaml
Due: none

addon-resizer: add GitHub Actions workflow for build and test
  .github/workflows/addon-resizer.yaml
Due: none

addon-resizer: fix go vet findings
  addon-resizer/go.mod
  addon-resizer/nanny/apis/nannyconfig/v1alpha1/types.go
  addon-resizer/nanny/kubernetes_client_test.go
Due: none

add validation
  vertical-pod-autoscaler/pkg/updater/config/config.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

add rate limit
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add skipped NG simulation duration metrics.
  pkg/core/scaleup/orchestrator/orchestrator.go
  pkg/metrics/metrics.go
Due: none

add graceful shutdown for workers
  vertical-pod-autoscaler/pkg/updater/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Clean up and adapt Makefile and build files after migration
  .github/workflows/ca-test.yaml
  .gitignore
  Dockerfile
  Makefile
  pkg/.gitignore
  pkg/cloudprovider/azure/test/Makefile
  pkg/test/integration/controllers/suite_test.go
Due: none

addon-resizer: 1.8.24 updates
  addon-resizer/Dockerfile
  addon-resizer/Makefile
Due: none

ci: trigger addon-resizer workflow on changes to the workflow itself
  .github/workflows/addon-resizer.yaml
Due: none

Fix nil-pointer panic in DRA snapshot for untracked pod claims
  pkg/simulator/dynamicresources/snapshot/snapshot.go
  pkg/simulator/dynamicresources/snapshot/snapshot_test.go
Due: none

[addon-resizer-release-1.8] remove OWNERS
  addon-resizer/OWNERS
Due: none

Strengthen RemovePodOwnedClaims regression tests with postconditions
  pkg/simulator/dynamicresources/snapshot/snapshot_test.go
Due: none

feat(vpa): add CRD CEL range check for target percentiles
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

revert(vpa): drop CRD CEL for target percentiles, webhook enforces range
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

VPA: add tests for iterativeWaterfilling function
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Handle failed node creations without instance IDs by decreasing nodepool target size instead of calling delete.
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add RemoveNodeInfo integration test for the owner/direct-consumer path
  pkg/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
Due: none

Clarify two comments on the DRA snapshot cleanup path
  pkg/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  pkg/simulator/dynamicresources/snapshot/snapshot.go
Due: none

consolidate pod informer to avoid duplicate pod cache
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Bump VPA deps
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/test/go.mod
  vertical-pod-autoscaler/test/go.sum
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Run update-codegen
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/interface.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/interface.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/interface.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/interface.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscalercheckpoint.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Tidy up resource sending
  vertical-pod-autoscaler/test/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/test/e2e/v1/full_vpa.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

VPA: fix flags.md generation
  vertical-pod-autoscaler/common/flags.go
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/pkg/admission-controller/config/config.go
  vertical-pod-autoscaler/pkg/recommender/config/config.go
  vertical-pod-autoscaler/pkg/updater/config/config.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

address review feedback on per-VPA target percentiles
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/validation.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/validation_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

tidy target percentile godoc and test construction
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/validation_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

use resource.New* for all target percentile test values
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/validation_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix update-deps.sh to work with the new repo structure
  hack/submodule-k8s.sh
  hack/update-deps.sh
  pkg/FAQ.md
Due: none

Address comments
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/config/config.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

vpa chart: refactor generate-crd-yaml.sh into a named helper function
  vertical-pod-autoscaler/hack/generate-crd-yaml.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

vpa chart: add pre-upgrade hook to patch CRD ownership metadata
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/_helpers.tpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/crds-migration-job.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

vpa chart: address CodeRabbit review feedback on migration job
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/_helpers.tpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/crds-migration-job.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Patch unkeyed fields used in CLI flags test
  pkg/config/flags/flags_test.go
Due: none

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
