Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-provisioner-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-helper-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

pull-kind-conformance-parallel-ga-only:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      env:
      - name: PARALLEL
        value: 'true'
  ...

pull-kind-conformance-parallel-ipv6:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      env:
      - name: PARALLEL
        value: 'true'
  ...

pull-kind-conformance-parallel-dual-stack-ipv4-ipv6:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-kind-e2e-kubernetes:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

bump go to 1.24.5
  .go-version
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

refactor and conslidate per-node common log collection
  pkg/cluster/internal/providers/common/logs.go
  pkg/cluster/provider.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

get metrics from each node
  pkg/cluster/provider.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

move most log dumping logic out of individual providers
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/nerdctl/provider.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/provider.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Add priority class to kindnet daemonset
  pkg/build/nodeimage/const_cni.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

remove redundant var log dump from docker provider
  pkg/cluster/internal/providers/docker/provider.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Update golangci-lint to v2.3.1
  cmd/kind/app/main.go
  cmd/kind/main.go
  hack/make-rules/verify/lint.sh
  hack/tools/.golangci.yml
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  images/kindnetd/cmd/kindnetd/main.go
  pkg/build/nodeimage/internal/container/docker/archive.go
  pkg/build/nodeimage/options.go
  pkg/cluster/internal/create/actions/action.go
  pkg/cluster/internal/create/actions/config/config.go
  pkg/cluster/internal/create/create.go
  pkg/cluster/internal/delete/delete.go
  pkg/cluster/internal/kubeadm/config.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/encode.go
  pkg/cluster/internal/providers/docker/constants.go
  pkg/cluster/internal/providers/nerdctl/constants.go
  pkg/cluster/internal/providers/podman/constants.go
  pkg/cluster/internal/providers/provider.go
  pkg/cmd/kind/build/nodeimage/nodeimage.go
  pkg/internal/assert/assert.go
  pkg/internal/cli/logger.go
  pkg/internal/env/term.go
  pkg/internal/integration/integration.go
  pkg/internal/runtime/runtime.go
Due: post-kind-push-kindnetd-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Be more clear on the expected format of --wait option
  pkg/cmd/kind/create/cluster/createcluster.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Bump go version to 1.24.6
  .go-version
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

docs: add example for loading multiple images with kind load docker-image
  site/content/docs/user/quick-start.md
Due: none

bump node image to 1.34.0
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

version v0.30.0
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

version v0.31.0-alpha
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump install docs to 0.30.0
  README.md
  site/config.toml
Due: none

Use YAMLToJSONStrict for parsing patches
  pkg/internal/patch/kubeyaml_test.go
  pkg/internal/patch/mergepatch.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Log warning in case of malformed config patch
  pkg/internal/patch/kubeyaml_test.go
  pkg/internal/patch/mergepatch.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Bump image from bullseye to bookworm for local-path-helper,local-path-provisioner
  images/local-path-helper/Dockerfile
  images/local-path-helper/stage-binary-and-deps.sh
  images/local-path-provisioner/Dockerfile
Due: post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

Use log module instead of fmt
  pkg/cluster/internal/create/actions/config/config.go
  pkg/cluster/internal/create/actions/installcni/cni.go
  pkg/internal/patch/kubeyaml.go
  pkg/internal/patch/kubeyaml_test.go
  pkg/internal/patch/mergepatch.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Upgrade to haproxy 3.2.x
  images/haproxy/Dockerfile
  images/haproxy/stage-binary-and-deps.sh
  images/local-path-helper/Dockerfile
  images/local-path-helper/stage-binary-and-deps.sh
  images/local-path-provisioner/Dockerfile
Due: post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

Organize imports
  pkg/internal/patch/kubeyaml.go
  pkg/internal/patch/mergepatch.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

doc: runtimeConfig can be used to enable deprecated APIs
  site/content/docs/user/configuration.md
Due: none

Remove reference to archived blixt repository
  site/content/docs/user/ingress.md
Due: none

Bump local-path-provisioner build to v0.0.32
  images/local-path-provisioner/Makefile
Due: post-kind-push-local-path-provisioner-image

e2e-k8s.sh: don't manipulate SKIP when LABEL_FILTER is used
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Update WSL2 Session Affinity instructions
  site/content/docs/user/using-wsl2.md
Due: none

Add CONTROLLERS environment variable to e2e-k8s.sh
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Detect ip6tables failure without full ipv6 support
  pkg/cluster/internal/providers/docker/network.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

fix tar extraction add path validation to prevent escape from destination
  pkg/build/nodeimage/internal/kube/tar.go
  pkg/cluster/internal/logs/logs.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

feat: Clarify Rootless Runtime Requirements
  site/content/docs/user/ingress.md
  site/content/docs/user/quick-start.md
  site/content/docs/user/rootless.md
Due: none

CI: remove remnants of Vagrant
  .github/workflows/vm.yaml
  .gitignore
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

CI: add AlmaLinux 8 VM for cgroup v1 testing
  .github/workflows/vm.yaml
  hack/ci/init-fedora.sh
  hack/ci/init-vm.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

fix: Improvements from Review
  site/content/docs/user/ingress.md
  site/content/docs/user/quick-start.md
  site/content/docs/user/rootless.md
Due: none

feat: KIND Style Guide
  site/content/docs/contributing/development.md
Due: none

docs: Clarify Rootless Runtime Requirements
  site/content/docs/user/ingress.md
  site/content/docs/user/quick-start.md
  site/content/docs/user/rootless.md
Due: none

feat: Add {add,delete} node commands
  hack/ci/e2e-node-ops.sh
  hack/ci/e2e.sh
  pkg/cluster/internal/create/actions/kubeadmjoin/join.go
  pkg/cluster/internal/kubeadm/join.go
  pkg/cluster/internal/node/drain.go
  pkg/cluster/internal/node/etcd.go
  pkg/cluster/internal/node/join.go
  pkg/cluster/internal/providers/common/constants.go
  pkg/cluster/internal/providers/docker/container.go
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/nerdctl/provider.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/provider.go
  pkg/cluster/provider.go
  pkg/cmd/kind/add/add.go
  pkg/cmd/kind/add/node/node.go
  pkg/cmd/kind/delete/node/node.go
  pkg/cmd/kind/root.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Bump image from bullseye to bookworm for local-path-helper,local-path-provisioner,haproxy
  images/haproxy/Dockerfile
  images/haproxy/stage-binary-and-deps.sh
  images/local-path-helper/Dockerfile
  images/local-path-helper/stage-binary-and-deps.sh
  images/local-path-provisioner/Dockerfile
Due: post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

make setup-go.sh GOTOOLCHAIN aware
  hack/build/setup-go.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

copy v1beta3 config template to v1beta4
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update v1beta4 template for v1beta4 changes
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

start using v1beta4 in v1.35.0+
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)|(^.go-version)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)|(^.go-version)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)|(^.go-version)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-conformance-parallel-ga-only: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-dual-stack-ipv4-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-32: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-31: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-30: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-29: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-28: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
