Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Keep presence cost to 0 to ensure backward compatibility.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/celcoststability_test.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
Due: pull-kubernetes-godeps

fix(scheduler): fix incorrect loop logic in MultiPoint to avoid a plugin being loaded multiple times
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Due: none

k8s.io/code-generator: include all metav1 applyconfigs
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/args/args.go
Due: pull-kubernetes-godeps

move encryption config types to standard API server config location
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/register.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/types_encryption.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/defaults_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/register.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/types_encryption.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/zz_generated.defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_encryption.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_encryption_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/config/doc.go
  staging/src/k8s.io/apiserver/pkg/apis/config/register.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/doc.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/register.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  test/integration/controlplane/transformation/secrets_transformation_test.go
  test/integration/controlplane/transformation/transformation_test.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-e2e-kind-kms, check-govulncheck-results, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Remove an unnecessary abstraction
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/safe_ipset.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

Properly build-tag the Linux kube-proxy backend code
  cmd/kube-proxy/app/init_linux.go
  cmd/kube-proxy/app/init_others.go
  cmd/kube-proxy/app/server_linux.go
  cmd/kube-proxy/app/server_linux_test.go
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/conntrack/conntrack.go
  pkg/proxy/conntrack/conntrack_test.go
  pkg/proxy/iptables/number_generated_rules_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/graceful_termination_test.go
  pkg/proxy/ipvs/ipset.go
  pkg/proxy/ipvs/ipset/ipset.go
  pkg/proxy/ipvs/ipset/ipset_test.go
  pkg/proxy/ipvs/ipset/testing/fake.go
  pkg/proxy/ipvs/ipset/testing/fake_test.go
  pkg/proxy/ipvs/ipset/types.go
  pkg/proxy/ipvs/ipset_test.go
  pkg/proxy/ipvs/netlink_unsupported.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/ipvs/testing/fake.go
  pkg/proxy/ipvs/testing/fake_test.go
  pkg/proxy/ipvs/testing/util.go
  pkg/proxy/ipvs/util/ipvs.go
  pkg/proxy/ipvs/util/ipvs_test.go
  pkg/proxy/ipvs/util/ipvs_unsupported.go
  pkg/proxy/ipvs/util/testing/fake.go
  pkg/proxy/ipvs/util/testing/fake_test.go
  pkg/proxy/nftables/helpers_test.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
  pkg/util/iptables/iptables.go
  pkg/util/iptables/save_restore.go
  pkg/util/iptables/save_restore_test.go
  pkg/util/iptables/testing/fake.go
  pkg/util/iptables/testing/fake_test.go
  pkg/util/iptables/testing/parse.go
  pkg/util/iptables/testing/parse_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

Update `multiprotocol-test` `containerPort := 100`, avoid conflict with internal HTTP_PROXY
  test/e2e/network/service.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

kubelet remove depredated flag --experimental-allocatable-ignore-eviction
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

fixed some typo in checkQuotas comments
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/controller.go
Due: pull-kubernetes-godeps

kubeadm: hide unwanted global klog flags
  cmd/kubeadm/app/kubeadm.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubelet: remove --register-schedulable flag
  cluster/gce/util.sh
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubemark/hollow_kubelet.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Add testcase setup scheduler
  cmd/kube-scheduler/app/server_test.go
Due: none

More understandable error for scheduler configuration validation
  pkg/scheduler/apis/config/validation/validation.go
Due: none

Record prirority of selected preemption victims
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/metrics/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: 122211: Fix device uncertain errors on reboot
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Update CHANGELOG/CHANGELOG-1.27.md for v1.27.9
  CHANGELOG/CHANGELOG-1.27.md
Due: none

Update CHANGELOG/CHANGELOG-1.28.md for v1.28.5
  CHANGELOG/CHANGELOG-1.28.md
Due: none

Update CHANGELOG/CHANGELOG-1.26.md for v1.26.12
  CHANGELOG/CHANGELOG-1.26.md
Due: none

DNM: copy gengo (v0) code to gengo/v2 to hack
  gengo-v2/args/args.go
  gengo-v2/examples/deepcopy-gen/generators/deepcopy.go
  gengo-v2/examples/defaulter-gen/generators/defaulter.go
  gengo-v2/examples/import-boss/generators/import_restrict.go
  gengo-v2/examples/set-gen/generators/sets.go
  gengo-v2/examples/set-gen/generators/tags.go
  gengo-v2/examples/set-gen/sets/byte.go
  gengo-v2/examples/set-gen/sets/doc.go
  gengo-v2/examples/set-gen/sets/empty.go
  gengo-v2/examples/set-gen/sets/int.go
  gengo-v2/examples/set-gen/sets/int64.go
  gengo-v2/examples/set-gen/sets/string.go
  gengo-v2/generator/default_generator.go
  gengo-v2/generator/default_package.go
  gengo-v2/generator/doc.go
  gengo-v2/generator/error_tracker.go
  gengo-v2/generator/execute.go
  gengo-v2/generator/generator.go
  gengo-v2/generator/import_tracker.go
  gengo-v2/generator/snippet_writer.go
  gengo-v2/generator/transitive_closure.go
  gengo-v2/go.mod
  gengo-v2/go.sum
  gengo-v2/namer/doc.go
  gengo-v2/namer/import_tracker.go
  gengo-v2/namer/namer.go
  gengo-v2/namer/order.go
  gengo-v2/namer/plural_namer.go
  gengo-v2/parser/doc.go
  gengo-v2/parser/parse.go
  gengo-v2/types/comments.go
  gengo-v2/types/doc.go
  gengo-v2/types/flatten.go
  gengo-v2/types/types.go
  go.mod
  vendor/modules.txt
Due: check-dependency-stats, check-govulncheck-results, pull-kubernetes-godeps

DNM: Add gengo-vs to go.work
  gengo-v2/go.mod
  go.work
Due: none

Add trivial gengo/v2 "tracer" example
  gengo-v2/examples/tracer/main.go
Due: none

Fix device uncertain errors on reboot
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Add tests for checking of uncertain device paths
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Use a separate function for checking if device was reconstructed
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial
