Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-modsecurity, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-e2e-image-debian, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-modsecurity: any of: images/modsecurity/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-e2e-image-debian: any of: images/test-runner-debian/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

FIx typo x_forwarded_for (#8838)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Fix package names and fmt
  cmd/dataplane/main.go
  cmd/nginx/main.go
  cmd/nginx/main_test.go
  pkg/flags/flags.go
  pkg/flags/flags_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

bumped kubectl to v1.24.0 (#8807)
  build/dev-env.sh
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image, pull-ingress-nginx-boilerplate

Decouple shared functions between controllers (#8829)
  cmd/dataplane/main.go
  cmd/nginx/main.go
  cmd/nginx/main_test.go
  internal/ingress/annotations/auth/main.go
  internal/ingress/controller/checker_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/store/backend_ssl.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/template/configmap.go
  internal/net/dns/dns_test.go
  internal/net/ssl/ssl.go
  internal/net/ssl/ssl_test.go
  internal/watch/file_watcher_test.go
  pkg/flags/flags.go
  pkg/flags/flags_test.go
  pkg/metrics/handler.go
  pkg/util/file/file.go
  pkg/util/file/file_test.go
  pkg/util/file/filesystem.go
  pkg/util/file/structure.go
  pkg/util/process/controller.go
  pkg/util/process/sigterm.go
  pkg/util/process/sigterm_test.go
  pkg/util/runtime/cpu_linux.go
  pkg/util/runtime/cpu_notlinux.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

idiomatic placement of "v" prefix in Datadog plugin version tag
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Move util to specific package location
  internal/ingress/annotations/authreq/main.go
  internal/ingress/annotations/globalratelimit/main.go
  internal/ingress/annotations/ipwhitelist/main.go
  internal/ingress/annotations/ratelimit/main.go
  internal/ingress/controller/nginx.go
  internal/ingress/types_equals.go
  internal/net/ssl/ssl.go
  pkg/util/file/file_watcher.go
  pkg/util/file/file_watcher_test.go
  pkg/util/sets/match.go
  pkg/util/sets/match_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Move TCPProxy to pkg
  internal/ingress/controller/nginx.go
  pkg/tcpproxy/tcp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Initial movement on functions
  pkg/dataplane/nginx.go
  pkg/dataplane/sslproxy.go
  pkg/dataplane/utils.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

More move ongoing
  cmd/dataplane/main.go
  pkg/dataplane/command.go
  pkg/dataplane/configurer.go
  pkg/dataplane/dynamic.go
  pkg/dataplane/nginx.go
  pkg/dataplane/onupdate.go
  pkg/dataplane/types.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

added fixes for make dev-env (#8804)
  Makefile
  build/build.sh
  build/run-in-docker.sh
Due: pull-ingress-nginx-boilerplate

create codeql yaml
  .github/workflows/codeql-analysis.yml
Due: none

Move APIs to be used by both controller and configurer
  hack/update-codegen.sh
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/endpoints.go
  internal/ingress/controller/endpoints_test.go
  internal/ingress/controller/location.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/nginx_test.go
  internal/ingress/controller/store/backend_ssl.go
  internal/ingress/controller/store/ingress.go
  internal/ingress/controller/store/ingress_annotation.go
  internal/ingress/controller/store/local_secret.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  internal/ingress/controller/util.go
  internal/ingress/metric/collectors/controller.go
  internal/ingress/metric/collectors/controller_test.go
  internal/ingress/metric/dummy.go
  internal/ingress/metric/main.go
  internal/ingress/status/status.go
  internal/ingress/status/status_test.go
  internal/net/ssl/ssl.go
  pkg/apis/ingress/sslcert.go
  pkg/apis/ingress/types.go
  pkg/apis/ingress/types_equals.go
  pkg/apis/ingress/types_equals_test.go
  pkg/apis/ingress/zz_generated.deepcopy.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Move APIs to be used by both controller and configurer (#8854)
  hack/update-codegen.sh
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/endpoints.go
  internal/ingress/controller/endpoints_test.go
  internal/ingress/controller/location.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/nginx_test.go
  internal/ingress/controller/store/backend_ssl.go
  internal/ingress/controller/store/ingress.go
  internal/ingress/controller/store/ingress_annotation.go
  internal/ingress/controller/store/local_secret.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  internal/ingress/controller/util.go
  internal/ingress/metric/collectors/controller.go
  internal/ingress/metric/collectors/controller_test.go
  internal/ingress/metric/dummy.go
  internal/ingress/metric/main.go
  internal/ingress/status/status.go
  internal/ingress/status/status_test.go
  internal/net/ssl/ssl.go
  pkg/apis/ingress/sslcert.go
  pkg/apis/ingress/types.go
  pkg/apis/ingress/types_equals.go
  pkg/apis/ingress/types_equals_test.go
  pkg/apis/ingress/zz_generated.deepcopy.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

change CanaryByHeader to CanaryByQuery in e2e test
  test/e2e/annotations/canary.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Added an option for canary steering by query parameters * unit tests * e2e test * documentation
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/canary/main.go
  internal/ingress/controller/controller.go
  pkg/apis/ingress/types.go
  pkg/apis/ingress/types_equals.go
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/test/balancer_test.lua
  test/e2e/annotations/canary.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

Add e2e test for query -> whight
  test/e2e/annotations/canary.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

handle opentelemetry configuration
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/opentelemetry/main.go
  internal/ingress/annotations/opentelemetry/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  pkg/apis/ingress/types.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/opentelemetry.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix building the otel config file
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/nginx_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update internal/ingress/annotations/opentelemetry/main.go
  internal/ingress/annotations/opentelemetry/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

only enable OpenTelemetry if the module has been loaded
  internal/ingress/controller/template/template.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update internal/ingress/controller/nginx_test.go
  internal/ingress/controller/nginx_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix .so file name
  rootfs/etc/nginx/template/nginx.tmpl
Due: none

setup opentelemetry trust incoming spans
  internal/ingress/annotations/opentelemetry/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix typo
  rootfs/etc/nginx/template/nginx.tmpl
Due: none

Update rootfs/etc/nginx/template/nginx.tmpl
  rootfs/etc/nginx/template/nginx.tmpl
Due: none

add Makefile command to build all modules
  Makefile
Due: none

build the modules in e2e tests
  test/e2e/run.sh
Due: pull-ingress-nginx-boilerplate

setup WithDeploymentModule
  test/e2e/framework/deployment.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

add opentelemetry module to e2e tests
  test/e2e/settings/opentelemetry.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test
