Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$

Add azure control plane tier support
  pkg/cluster/internal/create/actions/cluster/cluster.go
Due: none

Fix azure secret & machine pools names
  pkg/cluster/internal/create/actions/cluster/templates/azure.aks.tmpl
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/provider.go
Due: none

Added CPU pinning to Docker container
  pkg/apis/config/v1alpha4/types.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
  pkg/internal/apis/config/convert_v1alpha4.go
  pkg/internal/apis/config/types.go
Due: none

update containerd to 1.6.19-46-g941215f49 to pickup runc 1.1.5
  images/base/Dockerfile
Due: post-kind-push-base-image

update crictl to 1.26.1
  images/base/Dockerfile
Due: post-kind-push-base-image

bump kindnetd dependencies
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image, pull-kind-verify-deps

update to latest base image
  pkg/build/nodeimage/defaults.go
Due: none

increase machine size for auto-builds
  images/base/cloudbuild.yaml
  images/kindnetd/cloudbuild.yaml
Due: post-kind-push-base-image, post-kind-push-kindnetd-image

increase machine sizes for image builds as appropriate
  images/haproxy/cloudbuild.yaml
  images/kindnetd/cloudbuild.yaml
  images/local-path-helper/cloudbuild.yaml
  images/local-path-provisioner/cloudbuild.yaml
Due: post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

bump distroless-iptables to latest
  images/kindnetd/Dockerfile
Due: post-kind-push-kindnetd-image

upgrade to latest storage provisioner images
  pkg/build/nodeimage/const_storage.go
Due: none

bump kindnetd
  pkg/build/nodeimage/const_cni.go
Due: none

fix multi-arch builds
  pkg/build/nodeimage/defaults.go
Due: none

update to v1.26.3
  pkg/apis/config/defaults/image.go
Due: none

Fix azure wait & cluster name
  pkg/cluster/internal/create/actions/cluster/templates/azure.aks.tmpl
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none

Add retries retrieving kubeconfig
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none

Add new control plane wait condition
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none

[BUILD] 0.17.0-0.1.0: New pre-release
  CHANGELOG.md
  VERSION
Due: none

Prepare for next version: 0.17.0-0.1.0-SNAPSHOT
  VERSION
Due: none

bump main binary to 1.20.2
  .go-version
Due: none

version v0.18.0
  pkg/cmd/kind/version/version.go
Due: none

version v0.19.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

update install for v0.18.0
  README.md
  site/config.toml
Due: none

user cheaper e2 vm type
  images/base/cloudbuild.yaml
  images/haproxy/cloudbuild.yaml
  images/kindnetd/cloudbuild.yaml
  images/local-path-helper/cloudbuild.yaml
  images/local-path-provisioner/cloudbuild.yaml
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

Added taints to worker nodes
  pkg/cluster/internal/create/actions/cluster/cluster.go
  pkg/cluster/internal/create/actions/cluster/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
Due: none

Bump to CAPA release
  pkg/cluster/internal/create/actions/createworker/aws.go
Due: none

Added platform flag to docker command in site Makefile
  site/Makefile
Due: none

drop rsync and clarify needed packages
  images/base/Dockerfile
Due: post-kind-push-base-image

cleanup runc checksum file
  images/base/Dockerfile
Due: post-kind-push-base-image

update containerd to 1.6.20
  images/base/Dockerfile
Due: post-kind-push-base-image

drop socat
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

fix error notes for interface Provider.GetAPIServerInternalEndpoint
  pkg/cluster/internal/providers/provider.go
  pkg/cluster/provider.go
Due: none

Bump azure provider
  DEPENDENCIES
  pkg/cluster/internal/create/actions/createworker/azure.go
Due: none

aligning branch-0.17.0-0.1 cicd with branch-0.17.0-0.2
  .gitignore
  Jenkinsfile
  Makefile
  bin/change-version.sh
  bin/deploy.sh
  bin/package.sh
Due: none

bump haproxy image
  pkg/cluster/internal/loadbalancer/const.go
Due: none

Ensures that images are pulled from the insecure registry with http
  site/content/docs/user/local-registry.md
  site/static/examples/kind-with-registry.sh
Due: none

use ctr content fetch and capture errors
  pkg/build/nodeimage/buildcontext.go
  pkg/build/nodeimage/imageimporter.go
Due: none

Fix azure conditions
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none
