Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

Add aojea to leads mailing list
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cluster-api v1.3.0-rc.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

release: promote CAPA v2.0.1 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote git-sync v3.6.2
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for etcd 3.5.6-0
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Image promotion for kube-state-metrics v2.7.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

sig-release: Promote Verónica (Tech Lead) and Jeremy (Chair)
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups/sig-release: Fix spacing
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Update Owners on kube-state-metrics
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/OWNERS
Due: none

Promote kOps 1.24.5 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.25.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.24.5 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.5.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.25.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.3.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

Image promotion for metrics-server v0.6.2
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promoting testrunner with ginkgo-v2.5.1
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.26.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.0-alpha.2.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.26.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-11-27
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-staging-cluster-addons/services/logging/logs.json
Due: none

Add filtering to AWS Cost Explorer for k8s-infra accounts
  infra/aws/aws-costexplorer-export/main.go
Due: none

Use k8s-infra instead of cncf in naming
  infra/aws/aws-costexplorer-export/main.go
Due: none

Image promotion for cluster-api-gcp v1.2.1
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-do v1.2.0
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

audit: update as of 2022-11-29
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/k8s-staging-win-op-rdnss/services/logging/logs.json
Due: none

removing me from last mailing lists
  groups/groups.yaml
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

temporary release manager access for salaxander
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cluster-api v1.2.7
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.26.0-rc.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.3.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Revert "releng: temporary release manager access for salaxander"
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for artifact-promoter v3.4.10-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote CAPA v2.0.2 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote node-driver-registrar v2.6.2 to release
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote aws cloud controller manager 1.26.0-alpha.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add coredns v1.9.4 and v1.10.0
  k8s.gcr.io/images/k8s-staging-coredns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-12-05
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/k8s-staging-cip-test/services/logging/logs.json
  audit/projects/k8s-staging-experimental/services/logging/logs.json
  audit/projects/k8s-staging-kubernetes/services/logging/logs.json
  audit/projects/k8s-staging-sig-docs/services/logging/logs.json
  audit/projects/k8s-staging-zeitgeist/services/logging/logs.json
Due: none
