Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

promotes ExternalDNS v0.9.0
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2021-08-05
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.riaan_data_store.access.json
  audit/projects/k8s-infra-prow-build-trusted/iam.json
  audit/projects/k8s-infra-prow-build-trusted/service-accounts/k8s-triage@k8s-infra-prow-build-trusted.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-prow-build-trusted/service-accounts/k8s-triage@k8s-infra-prow-build-trusted.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/kubernetes-public/buckets/k8s-metrics/iam.json
  audit/projects/kubernetes-public/buckets/k8s-metrics/metadata.txt
  audit/projects/kubernetes-public/buckets/k8s-project-metrics/lifecycle.json
  audit/projects/kubernetes-public/buckets/k8s-triage/iam.json
  audit/projects/kubernetes-public/buckets/k8s-triage/metadata.txt
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-cookie/description.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-cookie/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-cookie/versions.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-github-oauth-config/description.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-github-oauth-config/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-github-oauth-config/versions.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
  audit/projects/kubernetes-public/services/monitoring/dashboards/spiffxp-artifacts.json
Due: none

promote promoter
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

(test): attempt to move existing tag to a different image
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

add k8s-infra-prow
  apps/prow/Makefile
  apps/prow/cluster/100_prowjob_customresourcedefinition.yaml
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/crier_rbac.yaml
  apps/prow/cluster/crier_service.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/deck_rbac.yaml
  apps/prow/cluster/deck_service.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/ghproxy_rbac.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/hook_rbac.yaml
  apps/prow/cluster/hook_service.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/horologium_rbac.yaml
  apps/prow/cluster/horologium_service.yaml
  apps/prow/cluster/prow-externalsecrets.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/prow_controller_manager_rbac.yaml
  apps/prow/cluster/prow_controller_manager_service.yaml
  apps/prow/cluster/prow_ingress.yaml
  apps/prow/cluster/prow_managedcertificate.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/sinker_rbac.yaml
  apps/prow/cluster/sinker_service.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/statusreconciler_rbac.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/cluster/tide_rbac.yaml
  apps/prow/cluster/tide_service.yaml
  apps/prow/config.yaml
  apps/prow/deploy.sh
  apps/prow/plugins.yaml
  apps/prow/prow-externalsecrets.yaml
  apps/prow/prowjobs/kubernetes/k8s.io/periodics.yaml
  groups/sig-security/groups.yaml
  infra/gcp/ensure-main-project.sh
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow, post-k8sio-groups

releng: Promote go1.16.7/go1.15.15 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Bumping ghproxy and boskos
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-prow-build-trusted-resources

prow: match prow-build-trusted nodepool to prow-build
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
Due: post-k8sio-deploy-prow-build-trusted-resources

infra/gcp/clusters: fix gke-nodepool ignore_changes
  infra/gcp/clusters/modules/gke-nodepool/main.tf
Due: none

Promote new ingress test-runner
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

infra/gcp: prow-deployer as container.admin
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
  infra/gcp/ensure-main-project.sh
Due: post-k8sio-deploy-prow-build-trusted-resources

infra/gcp/main: _actually_ use roles/container.admin
  infra/gcp/ensure-main-project.sh
Due: none

update infra/gcp/clusters README
  infra/gcp/clusters/README.md
Due: none

hack: add mv-clusters-terraform.sh
  hack/mv-clusters-terraform.sh
Due: none

update scripts to follow infra/gcp/terraform mv
  audit/check-audit-pr.sh
  hack/autobump-config.yaml
  hack/verify-conftest.sh
  hack/verify-terraform.sh
  infra/gcp/ensure-main-project.sh
  infra/gcp/infra.yaml
  infra/gcp/lib.sh
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/README.md
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/README.md
  infra/gcp/terraform/modules/gke-cluster/README.md
  infra/gcp/terraform/modules/gke-nodepool/README.md
  infra/gcp/terraform/modules/gke-project/README.md
Due: k8sio-k8s-resources-verify

hack: fix verify-conftest
  hack/verify-conftest.sh
Due: none

cleanup infra/gcp/terraform mv detritus
  audit/check-audit-pr.sh
  hack/autobump-config.yaml
  hack/mv-clusters-terraform.sh
  infra/gcp/infra.yaml
  infra/gcp/lib.sh
Due: k8sio-k8s-resources-verify

Bumping ghproxy and boskos
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify

Domain validation k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

apps/prow: Fix errors and typos of k8s-infra-prow
  apps/prow/Makefile
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_rbac.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/prow-externalsecrets.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/prow_ingress.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/sinker_rbac.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  apps/prow/deploy.sh
  infra/gcp/terraform/kubernetes-public/k8s-infra-prow.tf
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Include danielmk@google.com in k8s autoscaling ACL
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote Cluster Autoscaler 1.22.0
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

apps/prow: fixes for k8s-infra-prow (part2)
  apps/prow/Makefile
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/deploy.sh
  apps/prow/plugins.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Update k8s-infra-prow to v20210806-86f0abc1dd
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  hack/autobump-config.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

audit: update as of 2021-08-09
  audit/projects/k8s-infra-e2e-scale-5k-project/services/compute/project-info.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-prow-build-trusted/iam.json
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/k8s-infra-prow-build/iam.json
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/k8s-staging-etcd/services/logging/logs.json
  audit/projects/k8s-staging-etcdadm/services/logging/logs.json
  audit/projects/k8s-staging-kubernetes/services/logging/logs.json
  audit/projects/k8s-staging-provider-openstack/services/logging/logs.json
  audit/projects/k8s-staging-test-infra/services/logging/logs.json
  audit/projects/k8s-staging-txtdirect/services/logging/logs.json
  audit/projects/k8s-staging-txtdirect/services/pubsub/topics.json
  audit/projects/kubernetes-public/buckets/k8s-project-triage/iam.json
  audit/projects/kubernetes-public/buckets/k8s-project-triage/lifecycle.json
  audit/projects/kubernetes-public/buckets/k8s-project-triage/metadata.txt
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-prow@kubernetes-public.iam.gserviceaccount.com/iam.json
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

audit: update as of 2021-08-09
  audit/projects/k8s-infra-e2e-boskos-004/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-007/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-008/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-016/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-020/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-024/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-033/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-034/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-039/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-041/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-043/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-048/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-049/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-057/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-058/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-083/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-095/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-098/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-102/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-110/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-112/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-116/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-120/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-scale-09/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-scale-12/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-scale-13/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-scale-20/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-scale-22/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-scale-29/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-gce-project/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-node-e2e-project/services/compute/project-info.json
  audit/projects/k8s-release-test-prod/services/compute/project-info.json
Due: none

apps/prow: Add additional kubernetes namespace
  apps/prow/cluster/100_namespace.yaml
  apps/prow/cluster/prow_controller_manager_rbac.yaml
  apps/prow/cluster/sinker_rbac.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

add newly build base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

add new e2e images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

apps/prow: drop DNS record for k8s-infra-prow.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

Promote kube-webhook-certgen to production
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Update tag to use versioning
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo
