Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

refactor(hetzner): merge firewalls once at node-group build time
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(cloudprovider): implement nodeDeletionBatcherInterval logic
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix OOM feedback loop
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Pin github actions in vpa-release-1.5.0 branch
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
Due: none

Pin github actions in vpa-release-1.6 branch
  .github/workflows/ca-test.yaml
  .github/workflows/chart-release.yaml
  .github/workflows/pr.yaml
  .github/workflows/verify.yaml
  .github/workflows/vpa-golangci-lint.yaml
  .github/workflows/vpa-test.yaml
Due: none

Pin github actions in vpa-release-1.5 branch
  .github/workflows/verify.yaml
  .github/workflows/vpa-test.yaml
Due: none

review feedback
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Upgrade sigs.k8s.io/cloud-provider-azure to v1.36.2
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix GC process error variable
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Hardcode golangci-lint version
  .github/workflows/vpa-golangci-lint.yaml
Due: none

Regenerate EC2 static instance list with all current types
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: move TestClusterStateRegistryScaleUpWithDeletedNodes to a dedicated subpkg
  cluster-autoscaler/test/integration/clusterstateregistry/scale_up_with_deleted_nodes_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[GCE cloud provider] Implement RefreshMigInfo
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

refactor: rename node removal latency metric label from reason to delay_reason
  cluster-autoscaler/metrics/legacy_functions.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/metrics/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: extract TestClusterStateRegistryScaleUpWithDeletedNodes logic to a helper
  cluster-autoscaler/test/integration/clusterstateregistry/scale_up_with_deleted_nodes_test.go
  cluster-autoscaler/test/integration/clusterstateregistry/scale_up_with_deleted_nodes_test_utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: parameterize RunTestClusterStateRegistryScaleUpWithDeletedNodes
  cluster-autoscaler/test/integration/clusterstateregistry/scale_up_with_deleted_nodes_test.go
  cluster-autoscaler/test/integration/clusterstateregistry/scale_up_with_deleted_nodes_test_utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

azure: report deleting instances as gone from HasInstance (#9867)
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Invalidate MIG target size before scaledown
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Do not list all migs if cache is warm
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

azure: report deleting instances as gone from HasInstance
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Upgrade to github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute/v7
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_virtualmachine_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_vmss_delete_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vmss_delete_client.go
  cluster-autoscaler/cloudprovider/azure/fake_poller_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Upgrade to github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/v2
  cluster-autoscaler/cloudprovider/azure/azure_mock_storageaccount_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/go.mod
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

optimize DRA further by avoiding unnecessary copying of data just to iterate on it
  cluster-autoscaler/simulator/common/patchset.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_claim_tracker.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_lister.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_resolver.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/framework/infos.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

AEP: VPA native sidecar support (#8905)
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update version.go to 1.33.5
  cluster-autoscaler/version/version.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
