Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

re-run generate sctips
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/docs/flags.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

refactor AEP based on the code implementation PR
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

small improvements
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Clean up oci instance pool log messages and add debug statements for easier troubleshooting.
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_cache.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Align instance listing for HasInstance() and NodeGroupForNode() to prevent mismatches.
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

docs: update VPA documentation to reflect in-place pod resource updates
  vertical-pod-autoscaler/docs/components.md
  vertical-pod-autoscaler/docs/known-limitations.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

ci: skip VPA unit tests on docs and non-Go changes using paths-ignore
  .github/workflows/ca-test.yaml
  .github/workflows/verify.yaml
  .github/workflows/vpa-golangci-lint.yaml
  .github/workflows/vpa-test.yaml
Due: none

Fix UpcomingNodes() counts nodes for failed node groups, blocking scale-up to other groups.
  cluster-autoscaler/clusterstate/clusterstate.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: calculate resource diff for priority as max across containers
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor_test.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

remove ignore-paths from ca-test and verify workflows
  .github/workflows/ca-test.yaml
  .github/workflows/verify.yaml
Due: none

fix: replace context.TODO() with context.Background() in CapacityBufferClient
  cluster-autoscaler/capacitybuffer/client/client.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: replace context.TODO() with context.Background() across autoscaler
  balancer/main.go
  balancer/pkg/client/informers/externalversions/balancer.x-k8s.io/v1alpha1/balancer.go
  balancer/pkg/controller/controller.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

style: capitalize comments to follow Go conventions
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/roa_signature_composer.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/rpc_signature_composer.go
  cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/client.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: replace context.TODO() with context.Background() in cherryservers
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[azure] Fix ARM64 nodes incorrectly labeled as amd64
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

[azure] Fix ARM64 nodes incorrectly labeled as amd64
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Update azure static sku list
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix paths-ignore cannot be used with paths on the same event
  .github/workflows/vpa-golangci-lint.yaml
  .github/workflows/vpa-test.yaml
Due: none

fix: take into account initial mode
  vertical-pod-autoscaler/docs/components.md
  vertical-pod-autoscaler/docs/known-limitations.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: initial mode 2
  vertical-pod-autoscaler/docs/components.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Convert resource limits translator to a helper function
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/replicas.go
  cluster-autoscaler/capacitybuffer/translators/resource_limits_translator.go
  cluster-autoscaler/capacitybuffer/translators/resource_limits_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Avoid unnecessary ListManagedInstances calls
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/cache_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update functions in estimator.Threshold interface to additionally return debug strings
  cluster-autoscaler/estimator/cluster_capacity_threshold.go
  cluster-autoscaler/estimator/cluster_capacity_threshold_test.go
  cluster-autoscaler/estimator/sng_capacity_threshold.go
  cluster-autoscaler/estimator/sng_capacity_threshold_test.go
  cluster-autoscaler/estimator/static_threshold.go
  cluster-autoscaler/estimator/threshold.go
  cluster-autoscaler/estimator/threshold_based_limiter.go
  cluster-autoscaler/estimator/threshold_based_limiter_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Refactored provisioning request following dependency injection principle.
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/builder/clients.go
  cluster-autoscaler/processors/provreq/injector.go
  cluster-autoscaler/processors/provreq/processor_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/client.go
  cluster-autoscaler/provisioningrequest/provreqclient/testutils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add first provisioning request big unit test.
  cluster-autoscaler/test/integration/config.go
  cluster-autoscaler/test/integration/inmemory/provreq_test.go
  cluster-autoscaler/test/integration/utils.go
  cluster-autoscaler/utils/fake/kubernetes.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix ARM64 nodes incorrectly labeled as amd64
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Fix ARM64 nodes incorrectly labeled as amd64
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build
