Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, post-test-infra-upload-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-push-alpine, post-test-infra-push-clusterfuzzlite, post-test-infra-push-gcloud-terraform, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-test-gubernator, post-test-infra-push-gencred, post-test-infra-gencred-refresh-kubeconfig, post-test-infra-upload-oncall, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

post-test-infra-push-bazelbuild:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-benchmarkjunit:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bigquery:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bootstrap:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcb-docker-gcloud-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcloud-in-go:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-image-builder:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-krte:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

chore: bump github.com/fsnotify/fsnotify@v1.6.0
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: go mod tidy
  go.sum
Due: pull-test-infra-integration

chore: bump github.com/go-kit/log@v0.2.1
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump github.com/go-logr/zapr@v1.2.4
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump github.com/go-openapi/jsonreference@v0.20.2
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump github.com/google/gnostic-models@v0.6.8
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

update release-utils to use go1.22
  config/jobs/kubernetes-sigs/release-utils/release-utils-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Testing supported versions of k8s
  config/jobs/kubernetes-sigs/lws/lws-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Disable VAP test from alpha/beta since it is GA
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

chore: bump github.com/prometheus/client_golang@v1.16.0 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump github.com/prometheus/client_model@v0.4.0 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump github.com/prometheus/common@v0.44.0 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump go.uber.org/multierr@v1.11.0 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump go.uber.org/zap@v1.25.0 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump golang.org/x/crypto@v0.14.0 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump golang.org/x/net@v0.17.0 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump golang.org/x/tools@v0.9.3 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump gomodules.xyz/jsonpatch/v2@v2.4.0 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

chore: bump google.golang.org/genproto@v0.0.0-20230526161137-0005af68ea54 && go mod tidy
  go.mod
  go.sum
Due: pull-test-infra-integration

Fix prow job ci-kubernetes-gce-conformance-latest
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

lws e2e test fix
  config/jobs/kubernetes-sigs/lws/lws-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bumping k8s-testimages images and k8s-staging-test-infra GCR images and k8s-staging-test-infra AR images and k8s-staging-apisnoop-test-infra and k8s-staging-apisnoop-apisnoop
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Switch autobump schedule to DST
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add liurupeng to the owner file
  config/jobs/kubernetes-sigs/lws/OWNERS
Due: post-test-infra-upload-testgrid-config

releng: Add jobs for the release-1.30 branch
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/testgrids/generated-test-config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  releng/README.md
  releng/test_config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, post-test-infra-upload-testgrid-config

Rotate version markers for release branch jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-clusterfuzzlite: any of: ^(experiment/clusterfuzzlite)
  post-test-infra-push-gcloud-terraform: any of: ^images/gcloud-terraform/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|gencred|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/build/boskos-resources/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$
