Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Fix ARM64 nodes incorrectly labeled as amd64
  cluster-autoscaler/cloudprovider/azure/azure_instance.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Fix ARM64 nodes incorrectly labeled as amd64
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Generalize MustCreateManager to support testing.TB
  cluster-autoscaler/test/integration/utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Introduce performance benchmarking for the RunOnce control loop
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Silence benchmark logs to avoid output noise
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Disable predicate parallelism in benchmarks for stability and reproducibility
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add CPU profiling support to RunOnce benchmarks
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Stabilize benchmark results by disabling GC
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add no-op event recorder to benchmarks to avoid dropping events
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use fast tainting reactors in RunOnce benchmark
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use fast scale-up in RunOnce benchmarks to reduce CPU noise
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Align instance listing for HasInstance() and NodeGroupForNode() to prevent mismatches.
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Clean up oci instance pool log messages and add debug statements for easier troubleshooting.
  cluster-autoscaler/cloudprovider/oci/common/oci_ref.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_cache.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Skip search if the instance-pool is not set but the node-pool is (it is an OKE node).
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Ignore string case when comparing instance pool summary state
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

add updater e2e tests, add vpa validations, refactor GetUpdatePriority, disable pod level status.resources
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor_test.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission_test.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

address golangci-lint issues
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add GitHub Actions workflow for Cluster Autoscaler benchmarking
  .github/workflows/ca-benchmark.yaml
Due: none

CA RunOnce bench: minor comment cleanup
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

add TODO comments to e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

update comments, update SumContainerLevelRecommendations
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/capping_post_processor.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Return nil for empty claims in findPodClaims to ensure consistency
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
