Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

[bug] Fix server-side errors during validation
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrole.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrole_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role_test.go
Due: pull-kubernetes-godeps

Fix editor launch with Windows cmd.exe when KUBE_EDITOR has spaces
  staging/src/k8s.io/kubectl/pkg/cmd/util/editor/editor.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/editor/launcher.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/editor/launcher_windows.go
Due: pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-godeps

kubeadm: Add etcd client unit tests
  cmd/kubeadm/app/util/etcd/etcd_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: Use internal etcd client through an interface
  cmd/kubeadm/app/util/etcd/etcd.go
Due: pull-kubernetes-e2e-kubeadm-gce

Add a new way for subprojects to do codegen
  staging/src/k8s.io/code-generator/kube_codegen.sh
  staging/src/k8s.io/sample-apiserver/hack/update-codegen.sh
Due: pull-kubernetes-godeps

Convert sample-controller to new codegen
  staging/src/k8s.io/sample-controller/hack/update-codegen.sh
Due: pull-kubernetes-godeps

Convert metrics to new codegen
  staging/src/k8s.io/metrics/hack/update-codegen.sh
Due: pull-kubernetes-godeps

Convert kube-aggregator to new codegen
  staging/src/k8s.io/kube-aggregator/hack/update-codegen.sh
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/clientset.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/register.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/scheme/register.go
  staging/src/k8s.io/kube-aggregator/pkg/client/informers/externalversions/apiregistration/interface.go
Due: pull-kubernetes-godeps

Convert code-generator/examples to new codegen
  staging/src/k8s.io/code-generator/examples/hack/update-codegen.sh
Due: pull-kubernetes-godeps

Convert apiextensions-apiserver to new codegen
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/hack/update-codegen.sh
  staging/src/k8s.io/apiextensions-apiserver/hack/update-codegen.sh
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/clientset.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/register.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/scheme/register.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/apiextensions/interface.go
Due: pull-kubernetes-godeps

aggregator: Lazily download OpenAPI spec from deps
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/priority_test.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go
Due: pull-kubernetes-godeps

aggregator: Create cacheableDownloader to download specs lazily
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/downloader.go
Due: pull-kubernetes-godeps

update serial number to a valid non-zero number in ca certificate
  staging/src/k8s.io/client-go/util/cert/cert.go
Due: pull-kubernetes-godeps

fix the existing problem (0 SerialNumber in all certificate) as part of this PR in a separate commit
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  test/integration/apiserver/podlogs/podlogs_test.go
  test/integration/client/cert_rotation_test.go
  test/utils/pki_helpers.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-conformance-kind-ipv6-parallel

commit by VD in read me
  README.md
Due: none

Chore: clearify need update test cases
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

deprecate SecurityContextDeny related code
  hack/local-up-cluster.sh
  pkg/features/kube_features.go
  pkg/kubeapiserver/options/plugins.go
  plugin/pkg/admission/securitycontext/scdeny/admission.go
  plugin/pkg/admission/securitycontext/scdeny/admission_test.go
  test/e2e/node/security_context.go
  test/fixtures/doc-yaml/admin/high-availability/kube-apiserver.yaml
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-local-e2e

promote ServiceNodePortStaticSubrange to beta
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

GetNodeHostIPs: one cycle and jump first check
  pkg/util/node/node.go
Due: none

Fix make etcd image failed
  cluster/images/etcd/Makefile
Due: post-kubernetes-push-image-etcd, pull-kubernetes-cross

Tweak annotating kubemark nodes on startup
  test/kubemark/start-kubemark.sh
Due: pull-kubernetes-conformance-kind-ipv6-parallel

APF: Dynamically compute retry-after based on history
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/dropped_requests_tracker.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/dropped_requests_tracker_test.go
Due: pull-kubernetes-godeps

Add unit testcases of refMap.
  pkg/kubelet/util/manager/manager.go
  pkg/kubelet/util/manager/watch_based_manager.go
  pkg/kubelet/util/manager/watch_based_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

Remove default annotations from copied storage class
  test/e2e/storage/framework/driver_operations.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Cleanup: modify some sentences about statefulset
  test/e2e/apps/statefulset.go
  test/integration/statefulset/statefulset_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

remove DevicePlugins featuregate
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Add new partial/full sync time metrics for iptables kube-proxy
  pkg/proxy/iptables/proxier.go
  pkg/proxy/metrics/metrics.go
Due: none

Fix CHANGELOG-1.27 correct
  CHANGELOG/CHANGELOG-1.27.md
Due: none

Job: Use generic Set in controller
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/tracking_utils.go
  pkg/controller/job/tracking_utils_test.go
Due: none

Replace the deprecated ioutil method in the pkg/credentialprovider directory
  pkg/credentialprovider/azure/azure_acr_helper.go
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/config.go
  pkg/credentialprovider/config_test.go
  pkg/credentialprovider/gcp/metadata.go
  pkg/credentialprovider/gcp/metadata_test.go
  pkg/credentialprovider/plugin/config.go
  pkg/credentialprovider/plugin/config_test.go
Due: pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file

Add parameter to set SecurityContext for containers in tests
  test/utils/runners.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix unknown field error in deployment lifecycle e2e
  test/e2e/apps/deployment.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

remove GAed KubeletCredentialProviders
  cluster/gce/config-default.sh
  cluster/gce/gci/configure.sh
  pkg/features/kube_features.go
  test/e2e_node/plugins/gcp-credential-provider/README.md
  test/e2e_node/remote/node_e2e.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-gke, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-conformance-kind-ipv6-parallel

Introduce CEL EnvSets for managing safe rollout of new CEL features, libraries and expression variables
  pkg/apis/admissionregistration/validation/validation.go
  pkg/apis/admissionregistration/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/types_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/strategy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/strategy_test.go
  staging/src/k8s.io/apimachinery/pkg/util/version/version.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/interface.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/admission_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller_reconcile.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/typechecking.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/validator_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook.go
  staging/src/k8s.io/apiserver/pkg/cel/composited.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base_test.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/environment.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/environment_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/libraries.go
  staging/src/k8s.io/apiserver/pkg/cel/library/library_compatibility_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/regex.go
  staging/src/k8s.io/apiserver/pkg/cel/library/test.go
  staging/src/k8s.io/apiserver/pkg/cel/openapi/compiling_test.go
  staging/src/k8s.io/apiserver/pkg/cel/registry.go
  staging/src/k8s.io/apiserver/pkg/cel/types.go
  test/integration/apiserver/cel/typeresolution_test.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

update Feature:KubeletCredentialProviders] e2e test name
  test/e2e_node/image_credential_provider.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

remove ServiceInternalTrafficPolicy e2e feature tag
  test/e2e/network/service.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

kubeadm: fix a bug where file copy(backup) could not be executed correctly on Windows platform during upgrade
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
  cmd/kubeadm/app/cmd/phases/util.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/util/copy.go
Due: pull-kubernetes-e2e-kubeadm-gce

storage/etcd: skip SendInitialEvents if the request is backward compatible
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/watcher_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Due: pull-kubernetes-godeps

send message to ErrOut instead or Out
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_status.go
Due: pull-kubernetes-godeps
