Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

feat(vpa-chart): add pod-level and container-level securitycontext
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

[fix] Don't ignore --max-binpacking-time flag
  cluster-autoscaler/processors/binpacking/time_limiter.go
  cluster-autoscaler/processors/binpacking/time_limiter_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use placeholder nodes created by the CA to delete nodes that cannot be provisioned.
  cluster-autoscaler/cloudprovider/oci/common/consts.go
  cluster-autoscaler/cloudprovider/oci/common/oci_ref.go
  cluster-autoscaler/cloudprovider/oci/instancepools/consts/annotations.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_cache.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Resolve code review comments
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/processors/scaledowncandidates/previouscandidates/previous_candidates_sorting.go
  cluster-autoscaler/processors/scaledowncandidates/previouscandidates/previous_candidates_sorting_test.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_observer.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix binpacking timeouts in tests
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

updater: fetch pods matching VPA selectors
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fixed mock
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fixed unit test
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(vpa/chart): allow configuration of priorityClassName
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add e2e tests for CPU startup boost
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix gofmt test
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chore: rework Scaleway cloudprovider integration
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group_test.go
  cluster-autoscaler/cloudprovider/scaleway/scalewaygo/scaleway_kapsule_api.go
  cluster-autoscaler/cloudprovider/scaleway/scalewaygo/scaleway_kapsule_api_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

generate updated azure static sku list
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Update VPA version for startupboost feature
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

update copyright
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/helpers.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix typos in some files
  addon-resizer/vendor/github.com/davecgh/go-spew/spew/common.go
  addon-resizer/vendor/github.com/davecgh/go-spew/spew/config.go
  addon-resizer/vendor/github.com/davecgh/go-spew/spew/format.go
Due: none

[WIP] In Place Only VPA
  vertical-pod-autoscaler/enhancements/xxxx-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

add more details to the proposed changes
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

removed spaces
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
  vertical-pod-autoscaler/enhancements/xxxx-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fixed AEP number
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fixed function
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fmt
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Use kubelet as the for retry
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(chart): VPA Updater resources, affinity,nodeSelector,tolerations
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

updater: fetch pods matching VPA selectors
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(chart): VPA Updater PodDisruptionBudget
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-pdb.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Granular resource limits proposal
  cluster-autoscaler/proposals/granular-resource-limits.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

removed test for same name check, not a valid case
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

native sidecar support
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/util.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test_util.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

adding feature flag `NativeSidecar`
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/sample.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix capacitybuffers fake pods registery update logic
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Feedback: match an unfulfilled instance to a node pool that has a node failing to create due to an error.
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
