Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazel-krte, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: (any of: ^(images/bigquery|scenarios)/) or (any of: ^images/bigquery/)
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: (any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/) or (any of: ^(images/kubekins-e2e|kubetest|boskos)/)
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-checkconfig-loose: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Revert "conformance e2e jobs run already fro kubernetes folder"
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

fix typo on kind alpha beta jobs
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

migrate `cloud-provider-gcp` jobs to community cluster
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

migrate `depstat` job to community cluster
  config/jobs/kubernetes/sig-arch/kubernetes-depstat.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

migrate `sig-autoscaling` jobs to community cluster
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

kOps: Bump AMIs
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

migrate `release` job to community cluster
  config/jobs/kubernetes/release/release-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

migrate `sig-auth` kms jobs to community cluster
  config/jobs/kubernetes/sig-auth/sig-auth-encryption-at-rest.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

migrate `sig-insturmentation` jobs to community cluster
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

kOps: Make IPv6 pre-submits optional
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Bump CRI-O to `297d07c1` and adapt get-script location
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/templates/base/root_v2.yaml
  jobs/e2e_node/crio/templates/generate
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

kubernetes-e2e-gce-cos-alpha-features: enable KUBE_WATCHLIST_INCONSISTENCY_DETECTOR
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

create kops e2e k/k presubmits
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
  gubernator/config.yaml
  metrics/configs/pr-consistency-config.yaml
  metrics/configs/weekly-consistency-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

Bumping k8s-testimages images and k8s-staging-test-infra images
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

CAPZ: add windows custom builds presubmit
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

fix repo typo, add nfs-common and split serial jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

crio: fix fedora kernel options to allow all vCPUs
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/base/root_v2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 24 Oct 2023 00:02:55 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.14-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Revert "Merge pull request #30642 from lzhecheng/cpa-master-k8s-ver-1.28"
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

fix(cloud-provider-azure): use lastest k8s cluster to run master branch k8s test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

[sig-testing] Add `ci-kubernetes-e2e-kind-rootless`
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Bump CRI-O to cgroups v1 tests to `297d07c1`
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/generate
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

Update phased prow logic
  prow/plugins/phased/generic-comment.go
  prow/plugins/phased/generic-comment_test.go
  prow/plugins/phased/phased.go
  prow/plugins/phased/phased_test.go
  prow/plugins/phased/pull-request.go
  prow/plugins/phased/pull-request_test.go
  prow/plugins/phased/push.go
  prow/plugins/phased/push_test.go
  prow/plugins/phased/trigger.go
  prow/plugins/phased/trigger_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Add kind/gep label for kubernetes-sigs/gateway-api PRs
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-integration

CAPI: Drop release-1.3 1.18-> 1.19 test
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-3-upgrades.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

crio: wait for network manager online service
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

move gcp jobs for vSphere CSI Driver to default cluster
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Removing depricated field from prow trigger plugin
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/dco/dco.go
  prow/plugins/dco/dco_test.go
  prow/plugins/retitle/retitle.go
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/pull-request_test.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
  prow/plugins/verify-owners/verify-owners.go
  prow/plugins/welcome/welcome.go
  prow/plugins/welcome/welcome_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Allow Configuring Spyglass Lens Buildlog Max Line Length
  prow/spyglass/lenses/buildlog/lens.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 25 Oct 2023 00:02:54 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-blocking.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Add a dry run scp step in log-dump
  logexporter/cluster/log-dump.sh
Due: post-test-infra-push-kubekins-e2e, pull-test-infra-integration

skip test 'Should be able to support the 1.17 Sample API Server using the current Aggregator'
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

CRI-O: migrate cgroupv2 jobs to `297d07c1` and apply #31115
  jobs/e2e_node/crio/README.md
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/base/root_v2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
  jobs/e2e_node/crio/templates/generate
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

CRI-O: add link to testgrid dashboard
  jobs/e2e_node/crio/README.md
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

kOps: Make Cilium ENI test optional
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update the name `ListPRCommits` -> `ListPullRequestCommits`
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/dco/dco.go
  prow/plugins/invalidcommitmsg/invalidcommitmsg.go
  prow/plugins/lifecycle/close.go
  prow/plugins/lifecycle/close_test.go
  prow/plugins/lifecycle/reopen.go
  prow/plugins/lifecycle/reopen_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

CAPZ: shorten job names for windows custom builds
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

skip test 'Should be able to support the 1.17 Sample API Server using the current Aggregator' (#31123)
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

CAPZ: fix typo in job name
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config
