Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

This introduces an Impersonate-Uid header to server side code.
  staging/src/k8s.io/api/authentication/v1/types.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation_test.go
  test/integration/auth/auth_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

updates to the client-go
  staging/src/k8s.io/client-go/tools/clientcmd/loader.go
Due: pull-kubernetes-godeps

Use system-validators v1.5.0
  go.mod
  go.sum
  vendor/k8s.io/system-validators/validators/docker_validator.go
  vendor/k8s.io/system-validators/validators/types_unix.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

promote ServiceLBNodePortControl to beta
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Switch to non-deprecated timestamppb.Now()
  go.mod
  test/e2e/storage/drivers/csi-test/mock/service/service.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Update the related tests
  pkg/api/service/testing/make.go
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/validation/validation_test.go
  pkg/registry/core/service/storage/rest_test.go
  test/e2e/apimachinery/resource_quota.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add tests for LB type service
  pkg/apis/core/validation/validation_test.go
Due: none

Fix the beta release version.
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Add integration test for LB node port control
  test/integration/quota/quota_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

[registry] Jobs should DeleteDependents by default
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
Due: none

implement EnqueueExtensions interface in volumebinding
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/events.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

Update kernel components to run as non-root in kubeadm.
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
Due: pull-kubernetes-e2e-kubeadm-gce

Committed on 7 3 2021
  2021/7/3/commit.md
Due: none

Update cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/types.go
Due: pull-kubernetes-e2e-kubeadm-gce

Update cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
Due: pull-kubernetes-e2e-kubeadm-gce

Fix race in attachdetach tests
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

add imagePullPolicy field to kubeadm config print
  cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults.go
  cmd/kubeadm/app/preflight/checks.go
Due: pull-kubernetes-e2e-kubeadm-gce

isexclusive: Add ability to check if CPUs are exclusively allocated
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/server_v1alpha1_test.go
  pkg/kubelet/apis/podresources/types.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/fake_cpu_manager.go
  pkg/kubelet/cm/fake_container_manager.go
  pkg/kubelet/cm/internal_container_lifecycle_linux.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

isexclusive: e2e tests: code refactoring to handle non-integral CPUs
  test/e2e_node/podresources_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

isexclusive: e2e tests: Test cases for pods with non-integral CPUs
  test/e2e_node/podresources_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

remove stack trace log when sorting with a bad unsortable field
  staging/src/k8s.io/kubectl/pkg/cmd/get/sorter.go
Due: pull-kubernetes-godeps

Add Kal to sig-network reviewers
  OWNERS_ALIASES
Due: none

kube-scheduler: update the default component config after the CLI flags are parsed
  cmd/kube-scheduler/app/server.go
Due: none

cluster,hack: Use community infra GCS bucket for retrieving CI builds
  cluster/common.sh
  cluster/gce/upgrade.sh
  cluster/gce/util.sh
  hack/get-build.sh
Due: pull-kubernetes-e2e-gke

Added unit tests for ExpandPathsToFileVisitors
  staging/src/k8s.io/cli-runtime/pkg/resource/visitor_test.go
Due: pull-kubernetes-godeps

feature gate
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Pass FsGroup to MountDevice
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
  pkg/volume/awsebs/attacher.go
  pkg/volume/azuredd/attacher.go
  pkg/volume/cinder/attacher.go
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_test.go
  pkg/volume/fc/attacher.go
  pkg/volume/flexvolume/attacher.go
  pkg/volume/flexvolume/attacher_test.go
  pkg/volume/gcepd/attacher.go
  pkg/volume/iscsi/attacher.go
  pkg/volume/local/local.go
  pkg/volume/local/local_test.go
  pkg/volume/rbd/attacher.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
  pkg/volume/vsphere_volume/attacher.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial

Combine capability check implementations
  pkg/volume/csi/csi_client.go
  pkg/volume/csi/csi_client_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Pass FsGroup to NodeStageVolume
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_client.go
  pkg/volume/csi/csi_client_test.go
  pkg/volume/csi/fake/fake_client.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial
