Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazel-krte, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: (any of: ^(images/bigquery|scenarios)/) or (any of: ^images/bigquery/)
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: (any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/) or (any of: ^(images/kubekins-e2e|kubetest|boskos)/)
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Remove ReadWriteOncePod feature from alpha jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bump kpromo image to v3.5.1
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add entries for Gardener conformance for K8s 1.26
  config/testgrids/conformance/conformance-all.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

update bom prow jobs to use go1.20
  config/jobs/kubernetes-sigs/bom/bom-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

update image pushing job docs to point to registry.k8s.io
  config/jobs/image-pushing/README.md
Due: post-test-infra-upload-testgrid-config

add cherrypicker bot for external-snapshotter
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-integration

Bump RHEL 8 AMI
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Deduplicate CRI-O job templates
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_evented_pleg.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/crio_swap1g.ign
  jobs/e2e_node/crio/templates/base/crio-install.yaml
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/base/selinux.yaml
  jobs/e2e_node/crio/templates/base/tools-install.yaml
  jobs/e2e_node/crio/templates/crio-with-1G-hugepages.yaml
  jobs/e2e_node/crio/templates/crio.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/crio/templates/crio_swap1g.yaml
  jobs/e2e_node/crio/templates/generate
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

Add cherry-pick bot for gcp-compute-persistent-disk-csi-driver and gcp-filestore-csi-driver
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-integration

activate the plugin for the k8s.io repo
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-integration

Updating Windows jobs targeting master to use contianer v1.7.0
  config/jobs/kubernetes-sigs/sig-windows/presets.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Add missing entries for Gardener conformance for K8s 1.24 and 1.25
  config/testgrids/conformance/conformance-all.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Create jobs for sig-node-release-branches 1.25 and 1.26
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/k8s-release-branches.yaml
  jobs/e2e_node/containerd/k8s-release-branches/image-config-1.25.yaml
  jobs/e2e_node/containerd/k8s-release-branches/image-config-1.26.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, post-test-infra-upload-testgrid-config

Enable block profiling in the gerrit component with a sample rate of 0.1s.
  prow/cmd/gerrit/main.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

add kueue e2e tests for kubernetes 1.26
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

run image promo periodic nightly instead of hourly
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

specify kinder workflow to run
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

fix azure disk windows e2e test failure
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

secrets-store: update run_if_changed for image push
  config/jobs/image-pushing/k8s-staging-csi-secrets-store.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update contribution doc with TestGrid channel link.
  CONTRIBUTING.md
Due: pull-test-infra-integration

Fix lint error for releng/prepare_release_branch.py
  releng/prepare_release_branch.py
Due: pull-test-infra-integration

make peribolos less verbose
  prow/github/client.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Updating sig-windows oot cloud-provider jobs to run every 8 hours
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

update e2e framework job to use go1.20
  config/jobs/kubernetes-sigs/e2e-framework/e2e-framework-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

capz: add 1.9 milestone, release-1.8
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-integration

ClusterAPI: enable CC tests on release-1.3 e2e-mink8s
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-3.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Automatically fetch Kubernetes Go version when generating jobs
  releng/prepare_release_branch.py
Due: pull-test-infra-integration

ci-kubernetes-kind-e2e-json-logging: use resource.k8s.io/v1alpha2
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-kind-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

image-publishing: fix typo in Markdown link
  config/jobs/image-pushing/README.md
Due: post-test-infra-upload-testgrid-config

Ensure fork-per-release-cron supports stable4 jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Cluster API: use 1.22 mgmt cluster for v1.3 e2e-mink8s periodic
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-3.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add jmguzik to prow reviewes
  prow/OWNERS
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Remove InRepoConfigCacheHandler to avoid serializing all GetPresubmit/GetPostubmit calls.
  prow/cmd/checkconfig/main_test.go
  prow/cmd/crier/main_test.go
  prow/cmd/deck/main_test.go
  prow/cmd/gangway/main.go
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/cmd/hmac/main_test.go
  prow/cmd/hook/main_test.go
  prow/cmd/horologium/main_test.go
  prow/cmd/pipeline/main_test.go
  prow/cmd/sinker/main_test.go
  prow/cmd/status-reconciler/main_test.go
  prow/cmd/sub/main.go
  prow/cmd/tide/main_test.go
  prow/config/cache.go
  prow/config/cache_test.go
  prow/flagutil/config/config.go
  prow/gangway/gangway.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
  prow/tide/gerrit.go
  testgrid/pkg/configurator/options/options_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow
