Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)|(^.go-version)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)|(^.go-version)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)|(^.go-version)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-conformance-parallel-ga-only: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-dual-stack-ipv4-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-34: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-33: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-32: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-31: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)

Handle podman 6.0.0 label change
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/podman/util.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix: improve rootless cgroup controller error message
  pkg/cluster/internal/create/create.go
  site/content/docs/user/known-issues.md
  site/content/docs/user/rootless.md
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Enable ControlPlaneKubeletLocalMode for kubeadm 1.31 and 1.32
  pkg/cluster/internal/kubeadm/config.go
  pkg/cluster/internal/kubeadm/config_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix local-path-provisioner helperPod toleration in const_storage.go
  pkg/build/nodeimage/const_storage.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Update golangci-lint and switch to go tools
  .github/dependabot.yml
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Update depedencies
  go.mod
  go.sum
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: Add install options for Arch Linux
  site/content/docs/user/quick-start.md
Due: none

Update main.go
  images/kindnetd/cmd/kindnetd/main.go
Due: post-kind-push-kindnetd-image

Add timeout to node cache sync
  images/kindnetd/cmd/kindnetd/main.go
Due: post-kind-push-kindnetd-image

Clean up linting error
  images/kindnetd/cmd/kindnetd/main.go
Due: post-kind-push-kindnetd-image

Add windows/arm64 to release binaries
  README.md
  RELEASE.md
  hack/release/build/cross.sh
  site/content/docs/user/quick-start.md
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

load docker-image: tag with sanitized name before saving
  pkg/cmd/kind/load/docker-image/docker-image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

load docker-image: name unnamed images via ctr import, not host tagging
  pkg/cluster/nodeutils/util.go
  pkg/cmd/kind/load/docker-image/docker-image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Build node images in CI if changed
  .github/actions/build-node-image/action.yaml
  .github/actions/load-node-image/action.yaml
  .github/workflows/docker.yaml
  .github/workflows/nerdctl.yaml
  .github/workflows/podman.yml
  .github/workflows/vm.yaml
Due: none

Fix index-out-of-range panic parsing docker info DriverStatus
  pkg/cluster/internal/providers/docker/util.go
  pkg/cluster/internal/providers/docker/util_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

podman: warn when rootless storage is backed by ZFS
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/podman/provider_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: note min kind versions for newer v1alpha4 options
  site/content/docs/user/configuration.md
  site/content/docs/user/quick-start.md
  site/layouts/shortcodes/configcompat.html
Due: none

fix: return batch deletion errors
  pkg/cmd/kind/delete/clusters/deleteclusters.go
  pkg/cmd/kind/delete/clusters/deleteclusters_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Render framed_picture emoji like other emojis
  pkg/cluster/internal/providers/docker/images.go
  pkg/cluster/internal/providers/nerdctl/images.go
  pkg/cluster/internal/providers/podman/images.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

podman: address review feedback on ZFS ACL warning
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/podman/provider_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: document using a mirror registry for the node image
  site/content/docs/user/working-offline.md
Due: none

docs: use a generic mirror registry placeholder
  site/content/docs/user/working-offline.md
Due: none

Update CNCF link for certified kind installer
  site/content/_index.md
Due: none

Bump to containerd v2.3.4 and runc v1.4.3
  images/base/Dockerfile
Due: post-kind-push-base-image

Detect images already loaded with the containerd image store
  pkg/cluster/nodeutils/util.go
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/docker-image/docker-image_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

upgrade go to latest patch 1.26.7
  .go-version
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

nodeimage: bump default base image to v20260820-69b56db7
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

nodeimage: bump default kindnetd image to v20260820-69b56db7
  pkg/build/nodeimage/const_cni.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

nodeimage: bump default local-path-provisioner image to v20260820-69b56db7
  pkg/build/nodeimage/const_storage.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

bump default image to kindest/node:v1.37.0-rc.1
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: document kernel keyring quota limit for rootless podman
  site/content/docs/user/rootless.md
Due: none

base image: remove LimitNOFILE=infinity from containerd.service
  images/base/files/etc/systemd/system/containerd.service
Due: post-kind-push-base-image

docs: document kind load image workaround
  site/content/docs/user/known-issues.md
Due: none

bump default iamge to kindest/node:v1.37.0
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

version v0.33.0
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

version v0.34.0-alpha
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

bump docks to 0.33.0
  README.md
  site/config.toml
Due: none
