Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: ^charts/.*

skip lint for atomic writer files
  .golangci.yml
Due: none

add bats tests for alibabacloud secret store csi provider
  Makefile
  test/bats/alibabacloud.bats
  test/bats/tests/alibabacloud/pod-inline-volume-secretproviderclass.yaml
  test/bats/tests/alibabacloud/secretproviderclass.yaml
Due: none

chore: bump k8s deps to `v1.26.4` (#1254)
  .golangci.yml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/metrics/prometheus_exporter.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/mocks/stats_reporter_mock.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/stats_reporter.go
  test/bats/e2e-provider.bats
  test/bats/gcp.bats
  test/bats/helpers.bash
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

fix: make manifest diff
  Makefile
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  config/rbac-rotation/role.yaml
  config/rbac-syncsecret/role.yaml
  config/rbac-tokenrequest/role.yaml
  config/rbac/role.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-syncsecret.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role.yaml
  manifest_staging/deploy/rbac-secretproviderclass.yaml
  manifest_staging/deploy/rbac-secretproviderrotation.yaml
  manifest_staging/deploy/rbac-secretprovidersyncing.yaml
  manifest_staging/deploy/rbac-secretprovidertokenrequest.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
Due: none

test: improve nodeserver testing
  pkg/secrets-store/nodeserver_test.go
Due: none

fix: update atomic_writer to v1.27.1
  pkg/util/fileutil/atomic_writer.go
  pkg/util/fileutil/atomic_writer_test.go
  pkg/util/fileutil/filesystem_test.go
  pkg/util/fileutil/writer.go
  pkg/util/fileutil/writer_test.go
Due: none

Update concepts.md
  docs/book/src/concepts.md
Due: none

chore: bump version to v1.3.4 in release-1.3
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.3.4
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/role-rotation.yaml
  charts/secrets-store-csi-driver/templates/role-syncsecret.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  charts/secrets-store-csi-driver/templates/role.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/rbac-secretproviderclass.yaml
  deploy/rbac-secretproviderrotation.yaml
  deploy/rbac-secretprovidersyncing.yaml
  deploy/rbac-secretprovidertokenrequest.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.3.4
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/role-rotation.yaml
  charts/secrets-store-csi-driver/templates/role-syncsecret.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  charts/secrets-store-csi-driver/templates/role.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/rbac-secretproviderclass.yaml
  deploy/rbac-secretproviderrotation.yaml
  deploy/rbac-secretprovidersyncing.yaml
  deploy/rbac-secretprovidertokenrequest.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.3.4.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.3.4.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Enable image digest as pulling option
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: none

chore: update debian-base to bookworm-v1.0.0
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

add Akeyless as a Provider
  docs/book/src/getting-started/installation.md
Due: none

docs: mention sig-auth subproject in readme
  README.md
Due: none

AWS provider has a Helm chart
  docs/book/src/providers.md
Due: none

Update installation.md
  docs/book/src/getting-started/installation.md
Due: none

Update usage.md
  docs/book/src/getting-started/usage.md
Due: none

Update introduction.md
  docs/book/src/introduction.md
Due: none

Update providers.md
  docs/book/src/providers.md
Due: none

chore: cleanup secretproviderclass status
  apis/v1/secretproviderclass_types.go
  apis/v1/zz_generated.deepcopy.go
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
Due: none

Update readme, dockerfile, resources for debug scenarios
  .local/Dockerfile
  .local/README.md
  .local/debug-driver.yaml
  .local/kind-config.yaml
Due: none

helm: aggregated clusterrole to view secretproviderclasspodstatuses
  Makefile
  manifest_staging/charts/secrets-store-csi-driver/templates/role-secretproviderclasspodstatuses-viewer.yaml
  manifest_staging/deploy/role-secretproviderclasspodstatuses-viewer.yaml
  test/bats/e2e-provider.bats
Due: none

Issue 1339 added multiple secret template to gcp tests example.
  test/bats/tests/gcp/gcp_v1_multiple_secretproviderclass.yaml
Due: none

WIP test ci jobs
  Makefile
Due: none

Remove driver name hardcode
  cmd/secrets-store-csi-driver/main.go
  controllers/secretproviderclasspodstatus_controller.go
  controllers/secretproviderclasspodstatus_controller_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/util/k8sutil/volume.go
  pkg/util/k8sutil/volume_test.go
Due: none

adding secret store sync controller api
  secretsstoresynccontroller/api/v1alpha1/secretstoresync_types.go
  secretsstoresynccontroller/config/crd/bases/secretsync.secret-sync.x-k8s.io_secretstoresyncs.yaml
  secretsstoresynccontroller/config/samples/AzureSpcMultipleSecrets.yaml
  secretsstoresynccontroller/config/samples/SecretStoreSecret1.yaml
  secretsstoresynccontroller/config/samples/SecretStoreSecret2.yaml
Due: none

timestamp
  secretsstoresynccontroller/config/crd/bases/secretsync.secret-sync.x-k8s.io_secretstoresyncs.yaml
Due: none

chore: update to go 1.21
  .local/Dockerfile
  Makefile
  docker/Dockerfile
  docker/crd.Dockerfile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: secrets-store-csi-driver-push-image

update API description and solve comments
  secretsstoresynccontroller/api/v1alpha1/secretstoresync_types.go
  secretsstoresynccontroller/config/samples/azurespcmultiplesecrets.yaml
  secretsstoresynccontroller/config/samples/secretstoresecret1.yaml
  secretsstoresynccontroller/config/samples/secretstoresecret2.yaml
Due: none

chore: update to go 1.21.4 in docker
  .local/Dockerfile
  docker/Dockerfile
  docker/windows.Dockerfile
  test/e2eprovider/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: bump version to v1.4.0 in release-1.4
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

address pr comments
  secretsstoresynccontroller/README.md
  secretsstoresynccontroller/api/v1alpha1/secretstoresync_types.go
  secretsstoresynccontroller/config/controllers/secretstoresync_controller.go
  secretsstoresynccontroller/config/crd/bases/secretsync.secret-sync.x-k8s.io_secretstoresyncs.yaml
  secretsstoresynccontroller/config/samples/azurespcmultiplesecrets.yaml
Due: none

complete comment
  secretsstoresynccontroller/config/samples/azurespcmultiplesecrets.yaml
Due: none
