Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazel-krte, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

post-test-infra-push-bazelbuild:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-benchmarkjunit:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bigquery:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bootstrap:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcb-docker-gcloud-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcloud-in-go:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-image-builder:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-krte:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

Communicate problem when multiple tide/* labels set
  prow/tide/github.go
  prow/tide/status_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

pull-kubernetes-verify-strict-lint: optional strict linting of PRs
  config/jobs/kubernetes/sig-testing/verify.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

fix typos
  jobs/e2e_node/containerd/containerd-main/image-config.yaml
  jobs/e2e_node/containerd/containerd-main/ubuntu-init.yaml
Due: none

fix typo
  images/git-custom-k8s-auth/README.md
Due: none

try this again
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcs-to-aws-sync.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

set region to us-east-2 to match bucket
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-registry.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update VMSS Flex test pipeline to use CAPZ official branch
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

pull-kubernetes-verify-strict-lint: fix invocation
  config/jobs/kubernetes/sig-testing/verify.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add presubmit job for branch release-1.25
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-release-1.25.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Replace k8s.gcr.io references with registry.k8s.io
  config/jobs/image-pushing/README.md
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/sig-cluster-lifecycle/manifests.yaml
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
  experiment/kind-conformance-image-e2e.sh
  experiment/print-job-image-summary.sh
  jobs/e2e_node/containerd/config-systemd.toml
  jobs/e2e_node/containerd/config.toml
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

[sig-windows-networking] Add AKS 1.26 with AzureCNI prowjobs
  config/testgrids/kubernetes/sig-windows/config.yaml
Due: post-test-infra-upload-testgrid-config

Replace k8s.gcr.io references with registry.k8s.io
  jobs/e2e_node/containerd/config-systemd.toml
  jobs/e2e_node/containerd/config.toml
  label_sync/labels.md
  label_sync/labels.yaml
Due: none

Update labels.md
  label_sync/labels.md
Due: none

run presubmit job against kubernetes master optionally
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

don't run kops every hour on cloud-provider-gcp
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

use the config in the repo to run the ingress gce canary job
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

chore: add gke label to capg repo
  label_sync/labels.md
  label_sync/labels.yaml
Due: none

Use k8s-staging-cloud-provider-os for openstack image push
  config/jobs/image-pushing/k8s-staging-cloud-provider-os.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

add prow job to build image
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Trigger post-test-infra-push-git-gke-gcloud-auth job
  images/git-custom-k8s-auth/README.md
Due: none

Adds CAPV 1.6 release jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-release-1.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-release-1.6.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Re-enable inplace pod resize CI jobs, slightly expand run-if-changed for inplace resize pull job
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update openstack image-pushing for new project name
  config/jobs/image-pushing/k8s-staging-provider-os.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

fix typo
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

cloud-provider-aws: Upload the .git directory to the build environment
  config/jobs/image-pushing/k8s-staging-cloud-provider-aws.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

use the git-custom-k8s-auth image for components that talk to external k8s clusters
  .ko.yaml
Due: pull-test-infra-prow-image-build-test

delete the old prowjob
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcs-to-aws-sync.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Build CCM in Azure disk and Azure File periodic jobs
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.23.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.24.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.25.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add variables needed to access prow-build-cluster on EKS
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
Due: post-test-infra-deploy-prow

Update Azure CSI driver config to test with CCM
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add kubeconfig for eks-prow-build-cluster
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
Due: post-test-infra-deploy-prow

bootstrap.py: perform "blobless" clones
  jenkins/bootstrap.py
Due: none

Add missing --cgroup-driver=systemd to kubelet flags.
  config/jobs/kubernetes/sig-node/containerd.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update VMSS Flex test pipeline to use CAPZ official branch
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update AMIs
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fix k8s version dashboard tab for Kops scenario jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

kubeadm remove jobs for Kubernetes 1.23
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-ca.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kubelet-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: (any of: ^(images/bigquery|scenarios)/) or (any of: ^images/bigquery/)
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: (any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/) or (any of: ^(images/kubekins-e2e|kubetest|boskos)/)
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$
