Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/

Publish network proxy images for 0.1.9
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

bootstrap k8s-infra prow
  infra/README.md
  infra/gcp/terraform/k8s-infra-prow/addresses.tf
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
  infra/gcp/terraform/k8s-infra-prow/gke.tf
  infra/gcp/terraform/k8s-infra-prow/iam.tf
  infra/gcp/terraform/k8s-infra-prow/main.tf
  infra/gcp/terraform/k8s-infra-prow/provider.tf
  infra/gcp/terraform/k8s-infra-prow/registries.tf
  infra/gcp/terraform/k8s-infra-prow/vpc.tf
Due: none

Image promotion for capi-vsphere v1.10.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-operator v0.10.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kwok v0.5.2
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote Cluster Autoscaler 1.30.0 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-helm v0.2.2
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote vertical-pod-autoscaler 1.1.1 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promoting agnhost 2.50
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote agnhost 2.51
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

bump kube-network-policies
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.13.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.14.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: post-k8sio-deploy-prow-build-trusted-resources, k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Add WG Device Management groups
  OWNERS_ALIASES
  groups/restrictions.yaml
  groups/wg-device-management/OWNERS
  groups/wg-device-management/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cluster-api-aws v2.5.0
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

deploy argocd
  kubernetes/apps/README.md
  kubernetes/apps/argocd.yaml
  kubernetes/apps/external-secrets.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/gke-prow/helm/external-secrets.yaml
  kubernetes/gke-utility/argocd/argocd-cm-rbac.yaml
  kubernetes/gke-utility/argocd/argocd-cm.yaml
  kubernetes/gke-utility/argocd/argocd-sa.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
  kubernetes/gke-utility/argocd/extras.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
  kubernetes/gke-utility/helm/external-secrets.yaml
Due: k8sio-k8s-resources-verify

WG Serving mailing list
  OWNERS_ALIASES
  groups/restrictions.yaml
  groups/wg-serving/OWNERS
  groups/wg-serving/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote agnhost 2.52
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-do v1.6.0
  registry.k8s.io/images/k8s-staging-cluster-api-do/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

manage argocd via argocd
  kubernetes/apps/argocd.yaml
  kubernetes/apps/cert-manager.yaml
  kubernetes/apps/external-secrets.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/gke-prow/helm/external-secrets.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
  kubernetes/gke-utility/helm/external-secrets.yaml
Due: k8sio-k8s-resources-verify

configure app of apps
  kubernetes/gke-utility/argocd/extras.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
Due: k8sio-k8s-resources-verify

fix sync issue
  kubernetes/apps/external-secrets.yaml
  kubernetes/apps/kustomization.yaml
Due: k8sio-k8s-resources-verify

Image promotion for capi-operator v0.10.1
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

feat: added tf infra for AWS ami account
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/README.md
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/hack/disable-block.sh
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/iam-capa-maintainers-group.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/iam-capa-maintainers-users.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/iam-imagebuilder.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/providers.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/variables.tf
Due: none

CAPO v0.10.1
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

SIG Autoscaling - Update Leads
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-autoscaling/groups.yaml
  registry.k8s.io/images/k8s-staging-autoscaling/OWNERS
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

CAPO v0.10.2
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote nfs csi driver image
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote git-sync v4.2.3
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cloud-pv-vsphere v1.30.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add CPO 1.30 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.13.6
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.14.4
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.15.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v2.3.1-go1.22.3-bookworm.0 / v2.3.1-go1.21.10-bookworm.0 / v2.3.1-go1.21.10-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
