Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-distroless-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-setcap:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

Bump distroless-iptables to use Go 1.25.7/1.24.13
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

release-notes: Add custom regex option
  cmd/release-notes/generate.go
  pkg/notes/document/manifest.json
  pkg/notes/notes.go
  pkg/notes/notes_test.go
  pkg/notes/notes_v2.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

Add backoff and timeout to HTTP request retries
  cmd/krel/cmd/announce_send.go
  pkg/changelog/impl.go
  pkg/consts/main.go
  pkg/kubecross/impl.go
  pkg/release/publish.go
  pkg/release/version.go
  pkg/testgrid/testgrid.go
Due: post-release-push-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.25.7/1.24.13 and drop for release-1.32 as it is eol
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

bump gcr.io/k8s-staging-test-infra/gcb-docker-gcloud to v20260205-38cfa9523f
  dependencies.yaml
  images/build/cross/cloudbuild.yaml
  images/build/debian-base/cloudbuild.yaml
  images/build/distroless-iptables/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
  images/build/setcap/cloudbuild.yaml
  images/releng/k8s-ci-builder/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-ci-builder

golang: Build 1.26.0 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/Dockerfile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

docs: clarify krel install locations + go install
  docs/krel/README.md
Due: none

add distroless for go 1.26
  dependencies.yaml
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

add back cloud-builder/lube-cross for release-1.32 and build if go 1.24.13
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

add fastly purging logic to krel and purge all related markers everytime a new marker is pushed
  dependencies.yaml
  gcb/fast-forward/cloudbuild.yaml
  gcb/obs-release/cloudbuild.yaml
  gcb/obs-stage/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  go.mod
  go.sum
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
  pkg/release/publish.go
Due: post-release-push-image-k8s-ci-builder

set the surrogate key as an object metadata
  pkg/release/publish.go
Due: post-release-push-image-k8s-ci-builder

bump ci image to bookworm
  dependencies.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

Remove the legacy push-build.sh
  README.md
  push-build.sh
Due: pull-release-cluster-up

Use blobless clone for fresh k/k checkouts during stage
  pkg/release/workspace.go
Due: post-release-push-image-k8s-ci-builder

Pre-populate Go module cache before SBOM generation
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
Due: post-release-push-image-k8s-ci-builder

Push and sign arch-specific container images in parallel
  go.mod
  pkg/release/images.go
  pkg/release/images_test.go
Due: post-release-push-image-k8s-ci-builder

Replace throttler with errgroup for bounded concurrency
  cmd/krel/cmd/sign_blobs.go
  go.mod
  pkg/notes/notes.go
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

k8s-ci-builder: Switch from Debian bullseye to bookworm
  dependencies.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

add debian trixie support for debian-base
  images/build/debian-base/Makefile
  images/build/debian-base/trixie/Dockerfile
  images/build/debian-base/trixie/Dockerfile.build
  images/build/debian-base/trixie/clean-install
  images/build/debian-base/trixie/excludes
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Use regional Cloud Build API with pagination in GetJobsByTag
  pkg/gcp/build/build.go
Due: post-release-push-image-k8s-ci-builder

Remove deprecated option.WithCredentialsFile usage
  pkg/gcp/build/build.go
Due: post-release-push-image-k8s-ci-builder

Suppress deprecated intoto.Subject lint warning
  .golangci.yml
Due: none

Fix version mismatch between staging and pushing artifacts
  cmd/krel/cmd/push.go
  pkg/build/push.go
Due: post-release-push-image-k8s-ci-builder

Fix version mismatch between staging and pushing artifacts
  pkg/build/push.go
Due: post-release-push-image-k8s-ci-builder

add debian trixie support for debian-base
  images/build/debian-base/trixie/Dockerfile
  images/build/debian-base/trixie/Dockerfile.build
  images/build/debian-base/trixie/clean-install
  images/build/debian-base/trixie/excludes
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Fix panic calls, thread context.Context, remove sign images stub
  cmd/ci-reporter/cmd/root.go
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/sign_images.go
  cmd/release-notes/check.go
  cmd/release-notes/generate.go
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root.go
  pkg/changelog/changelog.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/changelog/impl.go
  pkg/gcp/gcb/gcb_test.go
  pkg/notes/document/document.go
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Add tests for obs/archive file
  pkg/obs/specs/archive_test.go
Due: post-release-push-image-k8s-ci-builder

fix: default to git graph traversal for release notes gathering
  .golangci.yml
  cmd/krel/cmd/release_notes.go
  docs/krel/release-notes.md
  pkg/gcp/gcb/gcb_test.go
  pkg/notes/notes.go
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.26.0
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

build kube-cross, go-runner, releng-ci with golang 1.26.1/1.25.8
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

fix: pin osc to 1.23.0 in k8s-cloud-builder
  dependencies.yaml
  images/k8s-cloud-builder/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

Improve krel announce send output
  cmd/krel/cmd/announce_send.go
Due: post-release-push-image-k8s-ci-builder

Increase container image push workers from 3 to 5
  pkg/release/images.go
Due: post-release-push-image-k8s-ci-builder

Parallelize artifact verification and SBOM generation
  pkg/anago/anago.go
Due: post-release-push-image-k8s-ci-builder

Parallelize manifest list create, push, and sign operations
  pkg/release/images.go
Due: post-release-push-image-k8s-ci-builder

Add step IDs to stage Cloud Build config
  gcb/stage/cloudbuild.yaml
Due: none

Update go-github from v75 to v84
  go.mod
  go.sum
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Revert "Use blobless clone for fresh k/k checkouts during stage"
  pkg/release/workspace.go
Due: post-release-push-image-k8s-ci-builder

Update Go version to 1.26 and adapt to go-modiff API changes
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yaml
  .golangci.yml
  dependencies.yaml
  go.mod
  pkg/announce/github/github.go
  pkg/notes/dependencies.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notesfakes/fake_mo_diff.go
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
