Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

use consts
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add Intel GPU (Habana Gaudi) autoscaler support
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/utils/gpu/gpu.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add Intel GPU (xe driver) autoscaler support.
  cluster-autoscaler/utils/gpu/gpu.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Handle NodeGroupForNode errors gracefully in MixedTemplateNodeInfoProvider
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[VPA] Enable multiple revive rules - 2
  vertical-pod-autoscaler/.golangci.yaml
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/config_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test.go
  vertical-pod-autoscaler/pkg/recommender/logic/estimator_test.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_test.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Don't fetch nodegroup info from cloud provider if node is in scaledown
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

handle invalid param input, add integration test cases
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

add comment to exported consts
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

comment fix
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

add multi node workers
  .github/workflows/pr.yaml
Due: none

multinode
  .github/workflows/pr.yaml
Due: none

RB changes as CI is with a PR inplace
  .github/workflows/pr.yaml
Due: none

tests for all zombie node scenarios
  cluster-autoscaler/cloudprovider/azure/azure_zombie_scenario_detection_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

cleanup implementation
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_zombie_cleanup.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

tests
  cluster-autoscaler/cloudprovider/azure/azure_zombie_cleanup.go
  cluster-autoscaler/cloudprovider/azure/azure_zombie_scenario_detection_test.go
  cluster-autoscaler/cloudprovider/azure/azure_zombie_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Add Vultr cloud provider helm support
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  cluster-autoscaler/charts/cluster-autoscaler/README.md
  cluster-autoscaler/charts/cluster-autoscaler/README.md.gotmpl
  cluster-autoscaler/charts/cluster-autoscaler/templates/deployment.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: Update Azure SDK to v2
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_gpu_sku.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_storageaccount_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_virtualmachine_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_vmss_delete_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vmss_delete_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

docs: Fix the vpa-updater metrics names for in-place updates
  vertical-pod-autoscaler/docs/features.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Deprecating scale-down-enabled flag
  cluster-autoscaler/config/flags/flags.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Improve metrics testability
  cluster-autoscaler/core/scaledown/nodeevaltracker/max_node_skip_eval_time.go
  cluster-autoscaler/core/scaledown/nodeevaltracker/max_node_skip_eval_time_test.go
  cluster-autoscaler/metrics/legacy_functions.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/metrics/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

move gate outside of cleanupZombieNodesWithContext func
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_zombie_cleanup.go
  cluster-autoscaler/cloudprovider/azure/azure_zombie_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Remove bryce-soghigian from Azure OWNERS
  cluster-autoscaler/cloudprovider/azure/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Add target service in header
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Add target service in header (#8978)
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Update permissions for DRA resources
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix(latencytracker): prevent metric flapping and negative latency values
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

style: renamed totalAvailableCounters to totalAvailableCounters
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

refactor: moved counter aggregation logic to separate function
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: added skip over multi node resourceSlices
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Revert "feat: add evictAfterOOMThreshold per vpa (#8692)"
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/e2e/utils/common.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat: add evictAfterOOMThreshold per vpa
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/e2e/utils/common.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix(vpa/updater/metrics): Prevent VPA Updater from emitting prior metrics values that are not relevant any more (#9029)
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
