Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

post-ingress-nginx-cfssl:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-custom-error-pages:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-e2e-test-echo:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-fastcgi-helloserver:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-httpbun:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-kube-webhook-certgen:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-test-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Bump github.com/onsi/ginkgo/v2 from 2.22.2 to 2.23.0
  build/run-in-docker.sh
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Docs: Update link to `values.yaml`. (#12947)
  docs/examples/customization/jwt/README.md
Due: none

docs: update line number in link to values.yaml
  docs/examples/customization/jwt/README.md
Due: none

Docs: Update link to `values.yaml`. (#12960)
  docs/examples/customization/jwt/README.md
Due: none

Docs: Update link to `values.yaml`. (#12961)
  docs/examples/customization/jwt/README.md
Due: none

Go: Update dependencies.
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Bump github.com/onsi/ginkgo/v2 from 2.22.2 to 2.23.0 (#12958)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/onsi/ginkgo/v2 from 2.22.2 to 2.23.0 (#12959)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Go: Update dependencies. (#12964)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Update dependencies. (#12962)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Update dependencies. (#12963)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Images/NGINX: Show version.
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Show info.
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: List builders.
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Create builder.
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Inspect builder.
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Build image.
  images/nginx/cloudbuild.yaml
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Change directory.
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Copy sources.
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/main.c
Due: post-ingress-nginx-nginx

Images/NGINX: Build binary.
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Start from scratch.
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Copy binary.
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Run binary.
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Tag image.
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Push image.
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Remove debug.
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Bump github/codeql-action from 3.28.10 to 3.28.11 in the actions group (#12968)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump github/codeql-action from 3.28.10 to 3.28.11 in the actions group (#12969)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Images: Rework NGINX.
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

docs: remove non existing enable-global-auth configmap field
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Update docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Docs: Use `enable-global-auth` annotation instead of non-existing ConfigMap option. (#12976)
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$
