Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, post-k8sio-image-promo, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:20200328-v2.3.1-172-gfeb5dc0
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200623-2424179-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - name: groups
      image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && make run -- --confirm

post-k8sio-dns-update:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-dns-updater
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/infra-tools/octodns:v20200616-67ce585
      command:
      - bash
      args:
      - -c
      - cd dns && make push-local

post-k8sio-deploy-prow-build-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

post-k8sio-deploy-prow-build-trusted-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

enable node-local dns cache for k8s-infra-prow-build
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Due: none

Remove.TODO about pod_security_policy
  infra/gcp/clusters/modules/gke-cluster/main.tf
Due: none

Release cluster-api-provider-openstack image v0.3.4
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

test images: Promotes httpd and nginx images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

k8s.gcr.io/images/k8s-staging-cri-tools: Remove inactive OWNERS
  k8s.gcr.io/images/k8s-staging-cri-tools/OWNERS
Due: none

Temporary access for onlydole
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test

nginx: disable to output the nginx version when show the exception pages
  k8s.io/configmap-nginx.yaml
Due: none

Add kube-dns-autoscaler-configmap to prow clusters
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kube-dns-autoscaler-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/kube-dns-autoscaler-configmap.yaml
Due: post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

Update kube-dns-autoscaler configmap
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kube-dns-autoscaler-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/kube-dns-autoscaler-configmap.yaml
Due: post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

Migrate ingresses for k8s.io
  k8s.io/ingress-canary-v6.yaml
  k8s.io/ingress-canary.yaml
  k8s.io/ingress-prod-v6.yaml
  k8s.io/ingress-prod.yaml
Due: none

Upgrade prow build clusters to Terraform 0.13
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/versions.tf
Due: none

Add hack/verify-yamllint.sh
  hack/.yamllint.conf
  hack/requirements.txt
  hack/verify-yamllint.sh
Due: none

Enable NAP in 'aaa' cluster
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
Due: none

k8s.gcr.io/k8s-staging-kube-state-metrics: Promote v1.9.8
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.20.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.20.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.20.0-beta.1.yaml
Due: none

Bump Triage Party to 1.4.0-beta.1
  triage-party/release-team/deployment.yaml
Due: none

audit: update as of 2021-02-23
  audit/org_kubernetes.io/iam.json
  audit/org_kubernetes.io/roles/prow.viewer.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-dns-updater@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-dns-updater@kubernetes-public.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-monitoring-viewer@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-monitoring-viewer@kubernetes-public.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/service-accounts/kubernetes-public@appspot.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/kubernetes-public@appspot.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters.txt
  audit/projects/kubernetes-public/services/dns/zones.json
  audit/projects/kubernetes-public/services/enabled.txt
Due: none

Test 5 projects, delete only those projects
  audit/audit-gcp.sh
Due: none

audit: update as of 2021-02-23
  audit/org_kubernetes.io/iam.json
  audit/org_kubernetes.io/roles/prow.viewer.json
Due: none

releng: Image promotion for v1.21.0-beta.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Increase node capacity for k8s-infra-prow-build
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Due: none

releng: Drop temp access granted to onlydole
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test

Update cluster-api-provider-azure OWNERS
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Due: none

audit: update as of 2021-02-24
  audit/org_kubernetes.io/iam.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/description.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/iam.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/versions.json
  audit/projects/kubernetes-public/secrets/triage-party-github-token/description.json
  audit/projects/kubernetes-public/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters.txt
  audit/projects/kubernetes-public/services/dns/info.json
Due: none

audit: update as of 2021-02-24
  audit/projects/k8s-infra-e2e-gce-project/iam.json
  audit/projects/k8s-infra-e2e-gce-project/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-gce-project/services/enabled.txt
  audit/projects/k8s-infra-e2e-gpu-project/buckets/kubernetes-staging-cfeccb2cc5/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-gpu-project/buckets/kubernetes-staging-cfeccb2cc5/cors.txt
  audit/projects/k8s-infra-e2e-gpu-project/buckets/kubernetes-staging-cfeccb2cc5/iam.json
  audit/projects/k8s-infra-e2e-gpu-project/buckets/kubernetes-staging-cfeccb2cc5/logging.txt
  audit/projects/k8s-infra-e2e-gpu-project/iam.json
  audit/projects/k8s-infra-e2e-gpu-project/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-gpu-project/services/enabled.txt
  audit/projects/k8s-infra-e2e-ingress-project/buckets/kubernetes-staging-39e765ac61-asia/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-ingress-project/buckets/kubernetes-staging-39e765ac61-asia/cors.txt
  audit/projects/k8s-infra-e2e-ingress-project/buckets/kubernetes-staging-39e765ac61-asia/iam.json
  audit/projects/k8s-infra-e2e-ingress-project/buckets/kubernetes-staging-39e765ac61-asia/logging.txt
  audit/projects/k8s-infra-e2e-ingress-project/iam.json
  audit/projects/k8s-infra-e2e-ingress-project/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-ingress-project/services/enabled.txt
  audit/projects/k8s-infra-e2e-node-e2e-project/iam.json
  audit/projects/k8s-infra-e2e-node-e2e-project/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-node-e2e-project/services/enabled.txt
  audit/projects/k8s-infra-e2e-scale-project/buckets/kubernetes-staging-8cf5cbdf30/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-scale-project/buckets/kubernetes-staging-8cf5cbdf30/cors.txt
  audit/projects/k8s-infra-e2e-scale-project/buckets/kubernetes-staging-8cf5cbdf30/logging.txt
  audit/projects/k8s-infra-e2e-scale-project/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_ca-pem/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_ca-pem/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_ca-pem/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_cert-pem/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_cert-pem/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_cert-pem/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_key-pem/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_key-pem/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_key-pem/versions.json
  audit/projects/k8s-infra-prow-build-trusted/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build/services/container/clusters.txt
Due: none

audit: update as of 2021-02-24
  audit/projects/k8s-artifacts-prod-bak/services/compute/project-info.json
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/bucketpolicyonly.txt
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/cors.txt
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/logging.txt
  audit/projects/k8s-artifacts-prod/iam.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/description.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-artifacts-prod/services/compute/project-info.json
  audit/projects/k8s-cip-test-prod/services/compute/project-info.json
  audit/projects/k8s-conform/buckets/k8s-conform-inspur/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/bucketpolicyonly.txt
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/cors.txt
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/logging.txt
  audit/projects/k8s-conform/secrets/service-inspur-key/description.json
  audit/projects/k8s-conform/secrets/service-inspur-key/iam.json
  audit/projects/k8s-conform/secrets/service-inspur-key/versions.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/description.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/iam.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/versions.json
  audit/projects/k8s-conform/service-accounts/service-inspur@k8s-conform.iam.gserviceaccount.com/description.json
  audit/projects/k8s-conform/service-accounts/service-inspur@k8s-conform.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-conform/service-accounts/service-provider-openstack@k8s-conform.iam.gserviceaccount.com/description.json
  audit/projects/k8s-conform/service-accounts/service-provider-openstack@k8s-conform.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-conform/services/compute/project-info.json
  audit/projects/k8s-gcr-audit-test-prod/services/compute/project-info.json
  audit/projects/k8s-gcr-backup-test-prod-bak/services/compute/project-info.json
  audit/projects/k8s-release-test-prod/services/compute/project-info.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/description.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/iam.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/versions.json
  audit/projects/kubernetes-public/secrets/triage-party-github-token/description.json
  audit/projects/kubernetes-public/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters.txt
  audit/projects/kubernetes-public/services/dns/info.json
Due: none

slack-infra: add slack-moderator-words
  slack-infra/README.md
  slack-infra/resources/ingress.yaml
  slack-infra/resources/slack-moderator-words/deployment.yaml
  slack-infra/resources/slack-moderator-words/filters.yaml
  slack-infra/resources/slack-moderator-words/service.yaml
Due: none

slack-infra: bump images to v20210223-8525eb3
  slack-infra/resources/slack-event-log/deployment.yaml
  slack-infra/resources/slack-moderator-words/deployment.yaml
  slack-infra/resources/slack-moderator/deployment.yaml
  slack-infra/resources/slack-post-message/deployment.yaml
  slack-infra/resources/slack-welcomer/deployment.yaml
Due: none

kubernetes-csi: promote csi-mock v4.1.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

slack-infra: grant access to mrbobbytables, jeefy and nikhita
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

kubernetes-csi: promote csi-driver-host-path v1.6.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/groups.yaml
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/
