Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.4.1-1
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - infra/gcp/bash/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

pull-k8sio-file-promo:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.4.1-1
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/

post-k8sio-file-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-promoter
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.4.4-1
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/
      - --confirm

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.4.4-1
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - --confirm
  ...

post-k8sio-deploy-tf-monitoring-resources:
  decorate: true
  spec:
    serviceAccountName: tf-monitoring-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      imagePullPolicy: Always
      command:
      - ./infra/gcp/terraform/k8s-infra-monitoring/deploy.sh

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

test images: add e2e-test-images/agnhost:2.43
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Image promotion for build-image v1.24.0-go1.18.8-bullseye.0 / v1.25.0-go1.19.3-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v2.3.1-go1.19.3-bullseye.0 / v2.3.1-go1.18.8-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for releng 1.18.8-bullseye-0 / 1.19.3-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.3.0-beta.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

remove temporary access for salaxander and cici37
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

deploy to all regions that have AR enabled
  infra/gcp/bash/ensure-prod-storage.sh
Due: none

Image promotion for bom v0.4.1
  k8s.gcr.io/images/k8s-staging-bom/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

release: promote CAPA v1.5.1 images
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promotes E2E images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add staging gcp project for tejolote
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-tejolote/OWNERS
  k8s.gcr.io/images/k8s-staging-tejolote/images.yaml
  k8s.gcr.io/manifests/k8s-staging-tejolote/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

audit: update as of 2022-11-04
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-staging-ci-images/services/logging/logs.json
  audit/projects/k8s-staging-cip-test/services/logging/logs.json
  audit/projects/k8s-staging-experimental/services/logging/logs.json
  audit/projects/k8s-staging-npd/services/logging/logs.json
  audit/projects/k8s-staging-publishing-bot/services/logging/logs.json
  audit/projects/k8s-staging-zeitgeist/buckets/artifacts.k8s-staging-zeitgeist.appspot.com/iam.json
  audit/projects/k8s-staging-zeitgeist/buckets/artifacts.k8s-staging-zeitgeist.appspot.com/logging.json
  audit/projects/k8s-staging-zeitgeist/buckets/artifacts.k8s-staging-zeitgeist.appspot.com/metadata.txt
  audit/projects/k8s-staging-zeitgeist/buckets/k8s-staging-zeitgeist-gcb/iam.json
  audit/projects/k8s-staging-zeitgeist/buckets/k8s-staging-zeitgeist-gcb/lifecycle.json
  audit/projects/k8s-staging-zeitgeist/buckets/k8s-staging-zeitgeist-gcb/metadata.txt
  audit/projects/k8s-staging-zeitgeist/buckets/k8s-staging-zeitgeist/iam.json
  audit/projects/k8s-staging-zeitgeist/buckets/k8s-staging-zeitgeist/lifecycle.json
  audit/projects/k8s-staging-zeitgeist/buckets/k8s-staging-zeitgeist/logging.json
  audit/projects/k8s-staging-zeitgeist/buckets/k8s-staging-zeitgeist/metadata.txt
  audit/projects/k8s-staging-zeitgeist/description.json
  audit/projects/k8s-staging-zeitgeist/iam.json
  audit/projects/k8s-staging-zeitgeist/services/enabled.txt
  audit/projects/k8s-staging-zeitgeist/services/logging/logs.json
  audit/projects/k8s-staging-zeitgeist/services/logging/sinks.json
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

promote Ingress NGINX 1.21.6 base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

trying to fix lol
  groups/sig-contributor-experience/OWNERS
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote EBS CSI Driver v1.13.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Remove contributors from moderator list
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

emeritus time for parispittman (#4423)
  groups/sig-contributor-experience/OWNERS
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

audit: update as of 2022-11-05
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-infra-oci-proxy/services/logging/logs.json
  audit/projects/k8s-staging-dns/services/logging/logs.json
  audit/projects/k8s-staging-tejolote/buckets/artifacts.k8s-staging-tejolote.appspot.com/iam.json
  audit/projects/k8s-staging-tejolote/buckets/artifacts.k8s-staging-tejolote.appspot.com/logging.json
  audit/projects/k8s-staging-tejolote/buckets/artifacts.k8s-staging-tejolote.appspot.com/metadata.txt
  audit/projects/k8s-staging-tejolote/buckets/k8s-staging-tejolote-gcb/iam.json
  audit/projects/k8s-staging-tejolote/buckets/k8s-staging-tejolote-gcb/lifecycle.json
  audit/projects/k8s-staging-tejolote/buckets/k8s-staging-tejolote-gcb/metadata.txt
  audit/projects/k8s-staging-tejolote/buckets/k8s-staging-tejolote/iam.json
  audit/projects/k8s-staging-tejolote/buckets/k8s-staging-tejolote/lifecycle.json
  audit/projects/k8s-staging-tejolote/buckets/k8s-staging-tejolote/logging.json
  audit/projects/k8s-staging-tejolote/buckets/k8s-staging-tejolote/metadata.txt
  audit/projects/k8s-staging-tejolote/description.json
  audit/projects/k8s-staging-tejolote/iam.json
  audit/projects/k8s-staging-tejolote/services/enabled.txt
  audit/projects/k8s-staging-tejolote/services/logging/logs.json
  audit/projects/k8s-staging-tejolote/services/logging/sinks.json
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

Image promotion for cluster-api v1.2.5
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add self to members as sig-testing chair
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cluster-api v1.3.0-beta.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update ehashman leads email
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add CAPO 0.6.4 version
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

ingress-nginx 1.5.1 release
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-11-09
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-staging-dns/services/logging/logs.json
  audit/projects/k8s-staging-prometheus-adapter/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
  audit/projects/kubernetes-public/services/dns/info.json
Due: none

Promote Addon Resizer 1.8.16
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Create a helper for adding new images for promotion.
  k8s.gcr.io/images/k8s-staging-autoscaling/add-version.sh
Due: none

releng: Image promotion for kubernetes v1.22.16 / v1.22.17-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.23.14 / v1.23.15-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.24.8 / v1.24.9-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.25.4 / v1.25.5-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
