Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/

Cluster Autoscaler v1.35.0 release
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: k8sio-k8s-resources-verify

introducing the sig node zoom admins group
  groups/restrictions.yaml
  groups/sig-node/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

releng: Image promotion for kubernetes v1.36.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

migrate krel to community owned gcp project
  infra/gcp/bash/ensure-release-projects.sh
  infra/gcp/bash/ensure-staging-storage.sh
  infra/gcp/infra.yaml
  infra/gcp/terraform/k8s-infra-releases-prod/.terraform.lock.hcl
  infra/gcp/terraform/k8s-infra-releases-prod/main.tf
  infra/gcp/terraform/k8s-infra-releases-prod/providers.tf
  infra/gcp/terraform/k8s-infra-releases-prod/secrets.tf
  infra/gcp/terraform/k8s-release/buckets.tf
  infra/gcp/terraform/k8s-release/iam.tf
  infra/gcp/terraform/k8s-release/main.tf
  infra/gcp/terraform/k8s-release/provider.tf
  infra/gcp/terraform/k8s-staging-images/kubernetes.tf
  infra/gcp/terraform/k8s-staging-images/provider.tf
  infra/gcp/terraform/modules/k8s-releases/k8s-releases.tf
  infra/gcp/terraform/modules/k8s-releases/variables.tf
  infra/gcp/terraform/modules/k8s-releases/versions.tf
Due: k8sio-k8s-resources-verify

Update poc.yml
  .github/workflows/poc.yml
Due: none

Use dedicated cve-feed-maintainers group for CVE feed bucket
  audit/projects/kubernetes-public/buckets/k8s-cve-feed/iam.json
  infra/gcp/terraform/kubernetes-public/k8s-cve-feed.tf
Due: none

eks-prow-build-cluster: Remove Loki stack
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/flux-logs.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/datasources.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/flux-hr-loki.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/flux-source-helm-grafana-charts.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/kustomization.yaml
Due: k8sio-k8s-resources-verify

Promote kOps 1.35.0-beta.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.35.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.35.0-beta.1.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

Remove dranet and kindnet CNAME entries
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

feat(kustomize): add kustomize 5.8.1
  registry.k8s.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

access boskos accounts via IAM roles
  infra/aws/terraform/boskos/boskos/main.tf
  infra/aws/terraform/boskos/main.tf
  infra/aws/terraform/boskos/provider.tf
  infra/aws/terraform/boskos/variables.tf
  infra/aws/terraform/boskos/versions.tf
  infra/aws/terraform/management-account/organization-accounts-boskos.tf
Due: none

add kustomize image tag v5.8.1
  registry.k8s.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

fix forgotten $ sign in regex
  groups/restrictions.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

chore(kro): promote kro v0.8.5 image and helm chart
  registry.k8s.io/images/k8s-staging-kro/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.35.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.34.4
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.33.8
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.32.12
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote csi-driver-host-path v1.17.1
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote nfs csi driver image
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cloud-provider-gcp v35.0.2
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote node-problem-detector Feb 2026 releases
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add dl.k8s.dev for testing Fastly CDN and also serving staging release bucket
  dns/zone-configs/k8s.dev._0_base.yaml
  infra/fastly/terraform/README.md
  infra/fastly/terraform/cdn/fastly-log-format.tftpl
  infra/fastly/terraform/cdn/provider.tf
  infra/fastly/terraform/cdn/services.tf
  infra/fastly/terraform/cdn/variables.tf
  infra/fastly/terraform/cdn/vcl/binaries.vcl
  infra/fastly/terraform/cdn/vcl/gcs-auth.vcl
  infra/fastly/terraform/dl.k8s.dev/data.tf
  infra/fastly/terraform/dl.k8s.dev/main.tf
  infra/fastly/terraform/dl.k8s.dev/provider.tf
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

add dl.k8s.dev for testing Fastly CDN and also serving staging release bucket (#9100)
  dns/zone-configs/k8s.dev._0_base.yaml
  infra/fastly/terraform/README.md
  infra/fastly/terraform/cdn/fastly-log-format.tftpl
  infra/fastly/terraform/cdn/provider.tf
  infra/fastly/terraform/cdn/services.tf
  infra/fastly/terraform/cdn/variables.tf
  infra/fastly/terraform/cdn/vcl/binaries.vcl
  infra/fastly/terraform/cdn/vcl/gcs-auth.vcl
  infra/fastly/terraform/dl.k8s.dev/data.tf
  infra/fastly/terraform/dl.k8s.dev/main.tf
  infra/fastly/terraform/dl.k8s.dev/provider.tf
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Add enterprise domain verification for canary DNS zones
  .gitignore
  dns/check-zone.py
  dns/zone-configs/canary.etcd.io._0_base.yaml
  dns/zone-configs/canary.etcd.io._1_verify.yaml
  dns/zone-configs/canary.k8s-e2e.com._0_base.yaml
  dns/zone-configs/canary.k8s.dev._0_base.yaml
  dns/zone-configs/canary.k8s.dev._1_verify.yaml
  dns/zone-configs/canary.k8s.io._0_base.yaml
  dns/zone-configs/canary.k8s.io._1_verify.yaml
  dns/zone-configs/canary.kubernetes.dev._0_base.yaml
  dns/zone-configs/canary.kubernetes.dev._1_verify.yaml
  dns/zone-configs/canary.kubernetes.io._0_base.yaml
  dns/zone-configs/canary.kubernetes.io._1_verify.yaml
  dns/zone-configs/canary.x-k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Kueue: Promote 0.16
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote 0.15
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v2.4.0-go1.24.13-bookworm.0 / v2.4.0-go1.25.7-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for releng 1.24.13-bookworm-0 / 1.25.7-trixie-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v1.33.0-go1.24.13-bullseye.0 / v1.34.0-go1.24.13-bullseye.0 / v1.32.0-go1.24.13-bullseye.0 / v1.35.0-go1.25.7-bullseye.0 / v1.36.0-go1.25.7-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote VPA 1.6.0
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update the v1.36 Docs shadows details with current members
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

fix dl.k8s.io cdn
  dns/zone-configs/k8s.io._0_base.yaml
  infra/fastly/terraform/.gitignore
  infra/fastly/terraform/README.md
  infra/fastly/terraform/cdn/services.tf
  infra/fastly/terraform/cdn/vcl/binaries.vcl
  infra/fastly/terraform/dl.k8s.io/data.tf
  infra/fastly/terraform/dl.k8s.io/fastly-log-format.tftpl
  infra/fastly/terraform/dl.k8s.io/main.tf
  infra/fastly/terraform/dl.k8s.io/provider.tf
  infra/fastly/terraform/dl.k8s.io/services.tf
  infra/fastly/terraform/dl.k8s.io/variables.tf
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
  infra/fastly/terraform/dl.k8s.io/vcl/gcs-auth.vcl
  infra/fastly/terraform/dl.k8s.io/versions.tf
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

fix dl.k8s.io cdn (#9109)
  dns/zone-configs/k8s.io._0_base.yaml
  infra/fastly/terraform/.gitignore
  infra/fastly/terraform/README.md
  infra/fastly/terraform/cdn/services.tf
  infra/fastly/terraform/cdn/vcl/binaries.vcl
  infra/fastly/terraform/dl.k8s.io/data.tf
  infra/fastly/terraform/dl.k8s.io/fastly-log-format.tftpl
  infra/fastly/terraform/dl.k8s.io/main.tf
  infra/fastly/terraform/dl.k8s.io/provider.tf
  infra/fastly/terraform/dl.k8s.io/services.tf
  infra/fastly/terraform/dl.k8s.io/variables.tf
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
  infra/fastly/terraform/dl.k8s.io/vcl/gcs-auth.vcl
  infra/fastly/terraform/dl.k8s.io/versions.tf
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Correct canary NS delegations for k8s.dev and kubernetes.dev
  dns/zone-configs/k8s.dev._1_canary.yaml
  dns/zone-configs/kubernetes.dev._1_canary.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

revert ccm v1.9.16
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v0.7.15 / v0.8.8
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

serve k8s-release-dev and k8s-staging-kops via Fastly
  apps/k8s-io/configmap-nginx.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
  infra/fastly/terraform/cdn/services.tf
  infra/fastly/terraform/cdn/variables.tf
  infra/fastly/terraform/cdn/vcl/binaries.vcl
  infra/fastly/terraform/cdn/vcl/gcs-auth-multi.vcl
  infra/fastly/terraform/dl-sandbox.k8s.dev/data.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/provider.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/services.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/variables.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/vcl/binaries.vcl
  infra/fastly/terraform/dl-sandbox.k8s.dev/vcl/gcs-auth.vcl
  infra/fastly/terraform/dl-sandbox.k8s.dev/versions.tf
  infra/fastly/terraform/dl.k8s.dev/main.tf
  infra/fastly/terraform/dl.k8s.io/main.tf
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-deploy-app-k8s-io, post-k8sio-dns-update
