Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Add integration test to promote serviceloadbalancerclass feature to beta.
  pkg/features/kube_features.go
  test/integration/service/loadbalancer_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-conformance-kind-ipv6-parallel

p&f e2e test: log response header for better troubleshooting
  test/e2e/apimachinery/flowcontrol.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Remove deprecated flag --experimental-bootstrap-kubeconfig in kubelet
  cmd/kubelet/app/options/options.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Committed on 6 25 2021
  2021/6/25/commit.md
Due: none

Narrow the scope of the json/register test case usage checking
  staging/src/k8s.io/component-base/logs/json/register/register_test.go
Due: pull-kubernetes-godeps

tests: Wait for the network connectivity first
  test/e2e/windows/hybrid_network.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

refactor default IP family cluster detection
  test/e2e/network/conntrack.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

nodeport tests: node addresses must match the service IP family
  test/e2e/network/service.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

isexclusive: Introducing isExclusive field as part of ContainerResources
  staging/src/k8s.io/kubelet/pkg/apis/podresources/v1/api.pb.go
  staging/src/k8s.io/kubelet/pkg/apis/podresources/v1/api.proto
Due: pull-kubernetes-godeps

Refactor instances of MasterOSDistro to be ControlPlaneOSDistro
  hack/ginkgo-e2e.sh
  test/e2e/framework/kubesystem/kubesystem.go
  test/e2e/framework/skipper/skipper.go
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
  test/e2e/storage/detach_mounted.go
  test/e2e/storage/flexvolume.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

apiserver: refactor graceful termination logic
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/graceful_termination.go
Due: pull-kubernetes-godeps

apiserver: NonBlockingRun should return a listener stopped channel
  staging/src/k8s.io/apiserver/pkg/server/deprecated_insecure_serving.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_test.go
  staging/src/k8s.io/apiserver/pkg/server/graceful_termination.go
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Due: pull-kubernetes-godeps

add unit test to verify graceful termination behavior
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go
Due: pull-kubernetes-godeps

Allow securityContext in EphemeralContainers
  pkg/api/pod/util_test.go
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

Apply PSP container tests to EphemeralContainers
  pkg/security/podsecuritypolicy/provider_test.go
Due: none

update debian-base and debian-iptables
  build/common.sh
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  test/utils/image/manifest.go
Due: pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Optimize scheduler res scorer on non-requested extended res
  pkg/scheduler/framework/plugins/noderesources/least_allocated.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio_test.go
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
Due: none

Rename some variables that include master instead of control plane
  test/e2e/framework/framework.go
  test/e2e/framework/resource_usage_gatherer.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

remove duplicate validation on services
  pkg/registry/core/service/storage/rest.go
Due: none

Renamed variable containing master to control plane
  test/e2e/framework/node/wait_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix comment on dual-stack integration test
  test/integration/dualstack/dualstack_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Updated to use konnectivity client v0.0.21, and implemented placeholder context
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector_test.go
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
Due: check-dependency-stats, pull-kubernetes-godeps

control plane typo in node role path
  test/e2e/framework/node/wait_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Update debian-base image to buster-v1.8.0
  build/dependencies.yaml
  cluster/images/etcd/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Update debian-iptables image to buster-v1.6.5
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Due: pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Refactored files containing whitelist/blacklist to allowlist/denylist
  test/e2e/apimachinery/webhook.go
  test/e2e/common/node/sysctl.go
  test/e2e/framework/pods.go
  test/e2e/network/firewall.go
  test/e2e_node/gcp/gke_environment_test.go
  test/integration/apiserver/print_test.go
  test/integration/dryrun/dryrun_test.go
  test/integration/etcd/etcd_storage_path_test.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

Refactor the to be controlplane
  test/e2e/framework/config/config.go
  test/e2e/framework/framework.go
  test/e2e/framework/gpu/gpu_util.go
  test/e2e/framework/kubelet/stats.go
  test/e2e/framework/kubesystem/kubesystem.go
  test/e2e/framework/log_size_monitoring.go
  test/e2e/framework/node/wait_test.go
  test/e2e/framework/nodes_util.go
  test/e2e/framework/pod/resource.go
  test/e2e/framework/providers/gce/firewall.go
  test/e2e/framework/resource_usage_gatherer.go
  test/e2e/framework/skipper/skipper.go
  test/e2e/framework/ssh/ssh.go
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Committed on 6 26 2021
  2021/6/26/commit.md
Due: none

Bump github.com/emicklei/go-restful version to v2.15.0
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/emicklei/go-restful/.gitignore
  vendor/github.com/emicklei/go-restful/.travis.yml
  vendor/github.com/emicklei/go-restful/CHANGES.md
  vendor/github.com/emicklei/go-restful/Makefile
  vendor/github.com/emicklei/go-restful/README.md
  vendor/github.com/emicklei/go-restful/container.go
  vendor/github.com/emicklei/go-restful/curly.go
  vendor/github.com/emicklei/go-restful/custom_verb.go
  vendor/github.com/emicklei/go-restful/jsr311.go
  vendor/github.com/emicklei/go-restful/path_processor.go
  vendor/github.com/emicklei/go-restful/response.go
  vendor/github.com/emicklei/go-restful/route.go
  vendor/github.com/emicklei/go-restful/route_builder.go
  vendor/github.com/emicklei/go-restful/service_error.go
  vendor/github.com/emicklei/go-restful/web_service.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-cross, pull-kubernetes-godeps

fix delete nil pointer panic
  staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go
Due: pull-kubernetes-godeps

CLA siged, commit again
  staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go
Due: pull-kubernetes-godeps

Allow custom transport even when client cert auth is used
  staging/src/k8s.io/client-go/transport/transport.go
Due: pull-kubernetes-godeps

add comment
  staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go
Due: pull-kubernetes-godeps

Add metric to track unschedulable reasons
  pkg/scheduler/metrics/metrics.go
Due: none
