Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-monitoring:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-monitoring
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-prow-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-prow-build
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-prow-build-trusted:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-prow-build-trusted
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Image promotion for cluster-api v1.3.6
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.7.4
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.7.4
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.8.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: k8sio-k8s-resources-verify

eks-prow-build-cluster: fix shellcheck errors
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap.sh
Due: none

eks-prow-build-cluster: ignore bootstrap script not executable
  hack/verify-executable.sh
Due: none

Add OWNERS for eks-prow-build-cluster
  infra/aws/terraform/prow-build-cluster/OWNERS
Due: none

make oci-proxy verbosity configurable
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/variables.tf
Due: none

prow-build-canary-cluster: add scripts for provisioning canary eks cluster
  infra/aws/terraform/prow-build-canary-cluster/.gitignore
  infra/aws/terraform/prow-build-canary-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-canary-cluster/OWNERS
  infra/aws/terraform/prow-build-canary-cluster/README.md
  infra/aws/terraform/prow-build-canary-cluster/eks.tf
  infra/aws/terraform/prow-build-canary-cluster/iam.tf
  infra/aws/terraform/prow-build-canary-cluster/irsa.tf
  infra/aws/terraform/prow-build-canary-cluster/kubernetes.tf
  infra/aws/terraform/prow-build-canary-cluster/main.tf
  infra/aws/terraform/prow-build-canary-cluster/outputs.tf
  infra/aws/terraform/prow-build-canary-cluster/providers.tf
  infra/aws/terraform/prow-build-canary-cluster/resources/rbac/cluster-admin-crb.yaml
  infra/aws/terraform/prow-build-canary-cluster/resources/rbac/prow-admin-crb.yaml
  infra/aws/terraform/prow-build-canary-cluster/secrets_manager.tf
  infra/aws/terraform/prow-build-canary-cluster/variables.tf
  infra/aws/terraform/prow-build-canary-cluster/vpc.tf
Due: k8sio-k8s-resources-verify

TODO: fix prow cluster IAM
  infra/aws/terraform/prow-build-canary-cluster/main.tf
Due: none

Add address to summit-team
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for bom v0.5.0
  registry.k8s.io/images/k8s-staging-bom/images.yaml
Due: k8sio-k8s-resources-verify

Promote Addon Resizer 1.8.17
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: k8sio-k8s-resources-verify

Image promotion for bom v0.5.1
  registry.k8s.io/images/k8s-staging-bom/images.yaml
Due: k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

add condition for assuming role, create manual
  infra/aws/terraform/prow-build-canary-cluster/README.md
  infra/aws/terraform/prow-build-canary-cluster/eks.tf
  infra/aws/terraform/prow-build-canary-cluster/kubernetes.tf
  infra/aws/terraform/prow-build-canary-cluster/main.tf
  infra/aws/terraform/prow-build-canary-cluster/outputs.tf
  infra/aws/terraform/prow-build-canary-cluster/variables.tf
Due: none

Bumping boskos and ghproxy and prow
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify

infra/aws: Tag Policy and Service Control Policy Terraform module
  infra/aws/terraform/management-account/organization-accounts-policy-staging.tf
  infra/aws/terraform/management-account/organization-tag-policies.tf
  infra/aws/terraform/modules/tag-policy/main.tf
  infra/aws/terraform/modules/tag-policy/outputs.tf
  infra/aws/terraform/modules/tag-policy/variables.tf
Due: none

copy oci-proxy-prod to module
  infra/gcp/terraform/modules/oci-proxy/OWNERS
  infra/gcp/terraform/modules/oci-proxy/README.md
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
  infra/gcp/terraform/modules/oci-proxy/logs.tf
  infra/gcp/terraform/modules/oci-proxy/monitoring.tf
  infra/gcp/terraform/modules/oci-proxy/oci-proxy.tf
  infra/gcp/terraform/modules/oci-proxy/provider.tf
  infra/gcp/terraform/modules/oci-proxy/variables.tf
  infra/gcp/terraform/modules/oci-proxy/versions.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

tell terraform everything moved
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/moved.tf
Due: none

refactor to use module
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/cloud-armor.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/logs.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/monitoring.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/variables.tf
  infra/gcp/terraform/modules/oci-proxy/logs.tf
  infra/gcp/terraform/modules/oci-proxy/monitoring.tf
  infra/gcp/terraform/modules/oci-proxy/network.tf
  infra/gcp/terraform/modules/oci-proxy/oci-proxy.tf
  infra/gcp/terraform/modules/oci-proxy/provider.tf
  infra/gcp/terraform/modules/oci-proxy/variables.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

update to 1.3.0 to support cross-module moves
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/versions.tf
  infra/gcp/terraform/modules/monitoring/uptime-alert/versions.tf
  infra/gcp/terraform/modules/oci-proxy/versions.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

Add sig multicluster cname record.
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

images: promote node-feature-discovery v0.12.2
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: k8sio-k8s-resources-verify

Merge canary and prod eks scripts into one
  infra/aws/terraform/prow-build-canary-cluster/.gitignore
  infra/aws/terraform/prow-build-canary-cluster/OWNERS
  infra/aws/terraform/prow-build-canary-cluster/README.md
  infra/aws/terraform/prow-build-canary-cluster/eks.tf
  infra/aws/terraform/prow-build-canary-cluster/iam.tf
  infra/aws/terraform/prow-build-canary-cluster/irsa.tf
  infra/aws/terraform/prow-build-canary-cluster/kubernetes.tf
  infra/aws/terraform/prow-build-canary-cluster/main.tf
  infra/aws/terraform/prow-build-canary-cluster/outputs.tf
  infra/aws/terraform/prow-build-canary-cluster/providers.tf
  infra/aws/terraform/prow-build-canary-cluster/resources/rbac/cluster-admin-crb.yaml
  infra/aws/terraform/prow-build-canary-cluster/resources/rbac/prow-admin-crb.yaml
  infra/aws/terraform/prow-build-canary-cluster/secrets_manager.tf
  infra/aws/terraform/prow-build-canary-cluster/variables.tf
  infra/aws/terraform/prow-build-canary-cluster/vpc.tf
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/iam.tf
  infra/aws/terraform/prow-build-cluster/kubernetes.tf
  infra/aws/terraform/prow-build-cluster/main.tf
  infra/aws/terraform/prow-build-cluster/providers.tf
  infra/aws/terraform/prow-build-cluster/prow.tf
  infra/aws/terraform/prow-build-cluster/secrets_manager.tf
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/tfbackends/canary.tfbackend
  infra/aws/terraform/prow-build-cluster/tfbackends/prod.tfbackend
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: k8sio-k8s-resources-verify

Update license
  infra/aws/terraform/prow-build-cluster/Makefile
Due: none

Push tfvars
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

Fix prow role listing issue
  infra/aws/terraform/prow-build-cluster/eks.tf
Due: none

Address review comments
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/tfbackends/canary.tfbackend
  infra/aws/terraform/prow-build-cluster/tfbackends/prod.tfbackend
Due: none

Update readme with cluster usage manual
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

Replace tf backends with TF workspaces
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/main.tf
  infra/aws/terraform/prow-build-cluster/providers.tf
  infra/aws/terraform/prow-build-cluster/prow.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/tfbackends/canary.tfbackend
  infra/aws/terraform/prow-build-cluster/tfbackends/prod.tfbackend
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

Promote descheduler images to v0.26.1
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Due: k8sio-k8s-resources-verify

Add nojnhuh to k8s-staging-cluster-api-azure OWNERS
  registry.k8s.io/images/k8s-staging-cluster-api-azure/OWNERS
Due: none

Change argument order in Makefile to fix assume_role & typo fix
  infra/aws/terraform/prow-build-cluster/Makefile
Due: none

Run tf fmt
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

eks-prow-build-cluster: use AMD-based instances
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

Make node_bootstrap.sh executable
  hack/verify-executable.sh
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap.sh
Due: none

Fix issues for new version of shellcheck
  hack/verify-terraform.sh
  images/public-log-asn-matcher/pg-init.d/lib-08-bq-usage-data-transformation.sh
  images/public-log-asn-matcher/pg-init.d/lib-13-add-c-ip-int-to-usage-all.sh
  images/public-log-asn-matcher/pg-init.d/lib-14-prepare-final-table.sh
Due: none

promoted the new base-image
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: k8sio-k8s-resources-verify

Fix last couple yamllint issues
  infra/aws/terraform/prow-build-cluster/resources/monitoring/node-exporter/service-monitor.yaml
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: k8sio-k8s-resources-verify

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
