Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

ignore some dirs when running misspell
  hack/verify-spelling.sh
Due: none

update AEP
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add metric that is emitted after a successful single run of static autoscaler.
  cluster-autoscaler/loop/run.go
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add support for admission infeasible reject
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add unit tests
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add code for reading unstructured clusterapi csidriver annotations
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/processors/customresources/csi_processor.go
  cluster-autoscaler/processors/customresources/csi_processor_test.go
  cluster-autoscaler/processors/customresources/custom_resources_processor.go
  cluster-autoscaler/processors/customresources/default_custom_processor.go
  cluster-autoscaler/processors/customresources/default_custom_processor_test.go
  cluster-autoscaler/processors/customresources/dra_processor.go
  cluster-autoscaler/processors/customresources/dra_processor_test.go
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/test/common.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/csi/provider/csinode.go
  cluster-autoscaler/simulator/csi/snapshot/csinode_lister.go
  cluster-autoscaler/simulator/csi/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add extra tests for scaling down nodes
  cluster-autoscaler/core/static_autoscaler_csi_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update updater struct
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fixed lint issues
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

broken link
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Reconfigure VPA conditions to be true/false
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Safer VPA concurrent conditions via mutex
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Tests to verify VPA Conditions race fixes
  vertical-pod-autoscaler/pkg/recommender/model/vpa_concurrency_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix VPA tests since VPA mutex can't be copied
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

change cluster role permissions and certs names
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-clusterrole.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-tls-secret.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(chart): VPA Updater affinity,nodeSelector,tolerations
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update index.yaml
  index.yaml
Due: none

Rename AEP to be about the why instead of the how, add use cases and expand on risk mitigation for multiple VPAs
  vertical-pod-autoscaler/enhancements/XXXX-restore-selector-support.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix update of uneeded threshold
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Report proper value when node became needed again
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add Helm-managed webhook with kube-webhook-certgen
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/NOTES.txt
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/_helpers.tpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-clusterrole.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-clusterrolebinding.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-patch.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-role.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-rolebinding.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-serviceaccount.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-clusterrole.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-tls-secret.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-webhook.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Replace the archived package gopkg.in/yaml with sigs.k8s.io/yaml.
  cluster-autoscaler/cloudprovider/magnum/gophercloud/openstack/orchestration/v1/stacks/utils.go
  cluster-autoscaler/cloudprovider/rancher/rancher_config.go
  cluster-autoscaler/clusterstate/utils/status.go
  cluster-autoscaler/clusterstate/utils/status_test.go
  cluster-autoscaler/clusterstate/utils/status_test.yaml
  cluster-autoscaler/expander/priority/priority.go
  cluster-autoscaler/go.mod
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix scale-down eligibility when utilization and threshold are zero
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat: add evictAfterOOMThreshold per vpa
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/e2e/utils/common.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Remove imagePullSecrets from non existent gitlab-registry
  cluster-autoscaler/cloudprovider/hetzner/examples/cluster-autoscaler-run-on-master.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

rephrased the proposal
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add Limitations of In-Memory Storage
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Adjusted comment
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

added negative test and added check on updater / recommender
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add Test Plan. Graduation Criteria, Implementation History, Feature Enablement and Rollback sections. Rework existing sections based on code review comments
  vertical-pod-autoscaler/enhancements/XXXX-restore-selector-support.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

add rounding params to scaleQuantityProportionallyCPU
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

add new e2e test for Pod LimitRange max field
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Improve metrics testability
  cluster-autoscaler/core/scaledown/nodeevaltracker/max_node_skip_eval_time.go
  cluster-autoscaler/core/scaledown/nodeevaltracker/max_node_skip_eval_time_test.go
  cluster-autoscaler/metrics/legacy_functions.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/metrics/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
