Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

Bump version of tonistiigi/binfmt to latest qemu-v7.0.0
  hack/init-buildx.sh
Due: none

Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.3 and Go 1.18.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

use tagged version for BOM
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Update golangci-lint and config
  .golangci.yml
  cmd/krel/cmd/release_notes.go
  dependencies.yaml
  hack/verify-golangci-lint.sh
  pkg/anago/anago.go
Due: post-release-push-image-k8s-ci-builder

Add package build and release internals
  cmd/krel/cmd/release.go
  hack/rapture/build-packages.sh
  hack/rapture/publish-packages.sh
  packages/deb/jenkins.sh
  packages/rpm/docker-build.sh
  pkg/anago/anago.go
  pkg/anago/anagofakes/fake_release_client.go
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/anagofakes/fake_stage_client.go
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/release.go
  pkg/anago/release_test.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/packages/impl.go
  pkg/packages/packages.go
  pkg/packages/packages_test.go
  pkg/packages/packagesfakes/fake_impl.go
Due: post-release-push-image-k8s-ci-builder

Update the rapture docs for new deb/rpm package process
  hack/rapture/README.md
Due: none

Update README for version var
  hack/rapture/README.md
Due: none

Fix release notes dedup based on rendered markdown
  cmd/krel/cmd/changelog_data_test.go
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Adding parameterization to go-runner Dockerfile
  images/build/go-runner/Dockerfile
  images/build/go-runner/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Remove darwin/386
  images/build/cross/default/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

update version comment
  .github/workflows/depsreview.yml
Due: none

update version comments
  .github/workflows/codeql-analysis.yml
  .github/workflows/depsreview.yml
  .github/workflows/scorecards-analysis.yml
Due: none

update version comments
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

Update link for 'Published by your Release Managers'
  cmd/krel/cmd/announce_build.go
  pkg/announce/announce.go
Due: post-release-push-image-k8s-ci-builder

strip newline
  pkg/notes/document/document_test.go
Due: post-release-push-image-k8s-ci-builder

use the new registry endpoint in the annoucements
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/document/testdata/document.md.golden
Due: post-release-push-image-k8s-ci-builder

fix release manager urls + use a const for registry
  cmd/krel/cmd/announce_build.go
  pkg/notes/document/document.go
  pkg/notes/document/testdata/document_without_downloads.md.golden
Due: post-release-push-image-k8s-ci-builder

update all occurences of release-managers.md
  README.md
  cmd/krel/cmd/announce_build.go
  hack/rapture/README.md
  pkg/announce/announce.go
Due: post-release-push-image-k8s-ci-builder

Use the new registry endpoint in the annoucements to the kubernetes-dev mailing list (#2746)
  README.md
  cmd/krel/cmd/announce_build.go
  hack/rapture/README.md
  pkg/announce/announce.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/document/testdata/document.md.golden
  pkg/notes/document/testdata/document_without_downloads.md.golden
Due: post-release-push-image-k8s-ci-builder

Stop building rc.0 versions after official patches
  pkg/release/release_version.go
  pkg/release/release_version_test.go
Due: post-release-push-image-k8s-ci-builder

Pin release-sdk to v0.9.4
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Record GitHub API without concurrency
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

sig-release: Promote Verónica (Tech Lead) and Jeremy (Chair)
  OWNERS_ALIASES
  SECURITY_CONTACTS
Due: none

OWNERS(generated): Cleanup of leaf OWNERS
  hack/rapture/OWNERS
  images/build/debian-base/OWNERS
  images/build/debian-iptables/OWNERS
  images/build/distroless-iptables/OWNERS
  pkg/notes/OWNERS
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-debian-iptables

OWNERS: Max and Joyce stepping down as Release Manager Associates
  OWNERS_ALIASES
Due: none

OWNERS: Add Cici, Joseph, and Xander as Release Manager Associates
  OWNERS_ALIASES
Due: none

add krel sign blobs and images commands
  cmd/krel/cmd/sign.go
  cmd/krel/cmd/sign_blobs.go
  cmd/krel/cmd/sign_images.go
  gcb/release/cloudbuild.yaml
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
Due: post-release-push-image-k8s-ci-builder

Verify provided args on `krel stage`
  cmd/krel/cmd/stage.go
Due: post-release-push-image-k8s-ci-builder

Fix sign double quotation marks
  gcb/release/cloudbuild.yaml
Due: none

Remove `_KUBERNETES_GCS_BUCKET` from build tags
  gcb/release/cloudbuild.yaml
Due: none

Fix missing `v` for version string in GCS bucket
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
Due: post-release-push-image-k8s-ci-builder

Do not sign `SHA512SUMS`
  cmd/krel/cmd/sign_blobs.go
Due: post-release-push-image-k8s-ci-builder

Remove "Kubernetes Source Code" from being published on GitHub
  pkg/anago/release.go
Due: post-release-push-image-k8s-ci-builder

fix the len should be of the number of files and not in the arguments passed
  cmd/krel/cmd/sign_blobs.go
Due: post-release-push-image-k8s-ci-builder

reduce the number of workers
  cmd/krel/cmd/sign.go
Due: post-release-push-image-k8s-ci-builder

Replace Rendertron with chromedp
  cmd/krel/cmd/testgrid.go
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

when downloading copyt o local using the same directory structure
  cmd/krel/cmd/sign_blobs.go
Due: post-release-push-image-k8s-ci-builder

Separate Validate into two functions
  pkg/anago/anago.go
  pkg/anago/anago_test.go
Due: post-release-push-image-k8s-ci-builder

sign blob: Clean up temp directory
  cmd/krel/cmd/sign_blobs.go
Due: post-release-push-image-k8s-ci-builder
