Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-containerd, post-kubernetes-push-perf-tests-networknetperfbenchmark, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-scratch, post-kubernetes-push-perf-tests-sleep, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Path conditions:
  post-kubernetes-push-perf-tests-access-tokens: any of: ^util-images\/access-tokens\/
  post-kubernetes-push-perf-tests-containerd: any of: ^util-images\/containerd\/
  post-kubernetes-push-perf-tests-networknetperfbenchmark: any of: ^util-images\/network\/netperfbenchmark\/
  post-kubernetes-push-perf-tests-probes: any of: ^util-images\/probes\/
  post-kubernetes-push-perf-tests-request-benchmark: any of: ^util-images\/request-benchmark\/
  post-kubernetes-push-perf-tests-scratch: any of: ^util-images\/scratch\/
  post-kubernetes-push-perf-tests-sleep: any of: ^util-images\/sleep\/
  post-kubernetes-push-perf-tests-watch-list: any of: ^util-images\/watch-list\/
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
  pull-perf-tests-ec2-master-scale-performance-100: any of: ^clusterloader2/.*$
  pull-perf-tests-gce-master-scale-performance-100: any of: ^clusterloader2/.*$

Refactor: move event filtering inside mapEventsByOrder block
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Move the filter out fo the if condition and clean the else
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Filter events to tracked pods in PodStartupLatency (#3803)
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Removing return statement when events not equal
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

feat: Add an ability to measure clusters with dns only control plane access
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/profile.go
  clusterloader2/pkg/prometheus/manifests/master-ip/master-service.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/util/cluster.go
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Map events by order (#3804)
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fetch metrics correctly from control plane instances
  clusterloader2/pkg/measurement/common/metrics/metrics_grabber.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

drop managing storage classes
  clusterloader2/cmd/clusterloader.go
  clusterloader2/drivers/gcp-csi-driver-stable.yaml
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/framework/client/objects.go
  clusterloader2/pkg/prometheus/manifests/0ssd-storage-class.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Allow informer to run on control plane
  clusterloader2/testing/load/modules/informer/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Revert "feat: Add an ability to measure clusters with dns only control plane …"
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/profile.go
  clusterloader2/pkg/prometheus/manifests/master-ip/master-service.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/util/cluster.go
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Bump version of go compiler that bootstraps golang tip test to 1.26.0
  golang/Makefile
Due: none

Aggregate CPU and Memory accross all nodes instead of per node.
  perfdash/parser.go
  perfdash/parser_test.go
Due: none

Use krel push instead of the legacy push-build.sh
  golang/push.sh
Due: none

Not check the existence of the errorLogger and latencyLogger
  util-images/probes/pkg/dnspropagation/probe.go
Due: post-kubernetes-push-perf-tests-probes, pull-perf-tests-util-images

test(clusterloader2): add unit test for ConvertSampleToHistogram
  clusterloader2/pkg/measurement/util/histogram_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add flags for errorLogger and latencyLogger
  clusterloader2/pkg/measurement/common/probes/manifests/dnsPropagation/dns-propagation-prober-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/propagation_metric.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

ClusterLoader2: Allow setting runtimeClassName
  clusterloader2/testing/load/modules/reconcile-objects/daemonset.yaml
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
  clusterloader2/testing/load/modules/reconcile-objects/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects/statefulset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Aggregate CPU and Memory acros all nodes instead of per node to fix AWS jobs
  perfdash/parser.go
  perfdash/parser_test.go
Due: none

Set timeout to checking prometheus targets
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/prometheus/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Bump perfdash version to 2.57
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

Bump go version to 1.25.0
  perfdash/go.mod
  perfdash/go.sum
Due: none

clusterloader2: add CL2_TOLERATION override to all workload templates
  clusterloader2/testing/load/modules/reconcile-objects/daemonset.yaml
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
  clusterloader2/testing/load/modules/reconcile-objects/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects/statefulset.yaml
  clusterloader2/testing/load/modules/scheduler-throughput/simple-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: create pod-startup-latency test
  clusterloader2/testing/pod-startup-latency/config.yaml
  clusterloader2/testing/pod-startup-latency/rc.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fix: capture higher-precision metrics for pod_startup_latency
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Bump checkProbesReadyInterval and stream response from Prometheus API
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/pkg/prometheus/util.go
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/network-policy/net-policy-metrics.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

feat: support custom Go build tags in clusterloader2 via CL2_BUILD_TAGS env var
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Update OWNERS
  OWNERS
Due: none

Creates exemplary/representative pod fuzzer tool
  fuzzer/README.md
  fuzzer/cmd/main.go
  fuzzer/examples/representative-infrastructure-pod.yaml
  fuzzer/fuzzer.go
  fuzzer/fuzzer_test.go
  fuzzer/templates/complex-daemonset.yaml
Due: none

Updated file header to fix boilerplate error
  fuzzer/cmd/main.go
  fuzzer/fuzzer.go
  fuzzer/fuzzer_test.go
Due: none

Configure fuzzer as a standalone Go module and fix dependency issues
  fuzzer/README.md
  fuzzer/cmd/main.go
  fuzzer/fuzzer.go
  fuzzer/fuzzer_test.go
  fuzzer/go.mod
  fuzzer/go.sum
Due: none

Rename out-dir flag to output-dir to resolve linter conflict
  fuzzer/README.md
  fuzzer/cmd/main.go
Due: none

Add comprehensive technical documentation and flag descriptions
  fuzzer/cmd/main.go
  fuzzer/fuzzer.go
  fuzzer/fuzzer_test.go
Due: none

Add operation timeout buffer variables to load scenario
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Adjust check probes timeout for huge clusters
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/huge-service/modules/measurements.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fix: correct logic for parsing string values in utils
  clusterloader2/pkg/util/util.go
  clusterloader2/pkg/util/util_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100
