Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*

e2e test of gcp-provider.
  test/bats/gcp.bats
  test/scripts/run-e2e-gcp.sh
Due: none

release: update manifest and helm charts for v1.4.8
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifest and helm charts for v1.4.8
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifest and helm charts for v1.4.8 (#1745)
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Publish secrets-store-csi-driver-1.4.8.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.4.8.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Chart: Add global.image.registry.
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/_helpers.tpl
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/_helpers.tpl
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

chore: bump kubectl to v1.32.1 in driver-crds
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

Update e2e_provider.go (typo)
  test/e2eprovider/e2e_provider.go
Due: none

Removed TokenClient and use CSI token propagation
  Makefile
  cmd/secrets-store-csi-driver/main.go
  config/rbac-tokenrequest/kustomization.yaml
  config/rbac-tokenrequest/role.yaml
  config/rbac-tokenrequest/role_binding.yaml
  deploy/rbac-secretprovidertokenrequest.yaml
  docker/Dockerfile
  docs/book/src/getting-started/installation.md
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/csidriver.yaml
  manifest_staging/deploy/rbac-secretprovidertokenrequest.yaml
  pkg/k8s/driver.go
  pkg/k8s/driver_test.go
  pkg/k8s/token.go
  pkg/k8s/token/token_manager.go
  pkg/k8s/token/token_manager_test.go
  pkg/k8s/token_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  test/bats/e2e-provider.bats
  test/e2eprovider/Dockerfile
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
  test/e2eprovider/server/server_test.go
Due: secrets-store-csi-driver-push-image

Do not return error if it is remount request
  pkg/secrets-store/nodeserver.go
Due: none

chore: bump kubectl to v1.32.2 in driver-crds
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

chore: move tam7t to emeritus_approvers
  OWNERS
Due: none

feat: add build for windows ltsc2025
  Makefile
  docker/BASEIMAGE
  docker/BASEIMAGE_CORE
Due: secrets-store-csi-driver-push-image

security: bump golang.org/x/net to v0.37.0 to fix CVE-2025-22870
  go.mod
  go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

chore: bump docker golang base images to 1.23
  docker/Dockerfile
  docker/windows.Dockerfile
  test/e2eprovider/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: disable trivy package testing for driver-crds
  Makefile
Due: none

bump golangci-lint to v1.60.0 and resolve linter errors
  .golangci.yml
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/util/secretutil/secret_test.go
Due: none

security: bump golang.org/x/net to v0.38.0 to fix CVE-2025-22872
  go.mod
  go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

bump golangci-lint to v1.64.8 and resolve linter errors
  .golangci.yml
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/util/fileutil/writer_test.go
  pkg/util/secretutil/secret_test.go
Due: none

Add VolumeID to Mount request
  docs/book/src/providers.md
  pkg/secrets-store/nodeserver.go
  test/e2eprovider/server/server.go
Due: none

chore: bump kind to v0.27.0
  .github/workflows/e2e.yaml
  Makefile
Due: none

fix: add unit test to show failures in current sha logic
  pkg/util/secretutil/secret_test.go
Due: none

fix: update sha generation logic
  pkg/util/secretutil/secret.go
Due: none

DO-1675: CI - Ubuntu 24.04 & Python version bump
  .github/workflows/chart.yaml
  .github/workflows/create-release.yaml
  .github/workflows/e2e.yaml
Due: none

fixup
  test/bats/e2e-provider.bats
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
Due: none

chore: bump version to v1.5.0 in release-1.5
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.5.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifest and helm charts for v1.5.0
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Publish secrets-store-csi-driver-1.5.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.5.0.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

security: bump to go 1.23.8 to resolve CVE-2025-22871
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

chore: move nilekhc to emeritus_reviewers
  OWNERS
Due: none

ci: add area/dependency label for dependabot PRs
  .github/dependabot.yml
Due: none

ci: use ubuntu-latest for gh workflows
  .github/workflows/chart.yaml
  .github/workflows/create-release.yaml
Due: none

chore: bump livenessprobe to v2.15.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: none

chore: bump node-driver-registrar to v2.13.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: none
