Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, post-kubernetes-push-image-pause, pull-publishing-bot-validate, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-image-pause:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kubernetes
      - --scratch-bucket=gs://k8s-staging-kubernetes-gcb
  ...

pull-publishing-bot-validate:
  decorate: true
  optional: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - go
      args:
      - run
      - k8s.io/publishing-bot/cmd/validate-rules
      - /home/prow/go/src/k8s.io/kubernetes/staging/publishing/rules.yaml

pull-kubernetes-e2e-aks-engine-azure:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk-vmss:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

Disable the Accelerator metrics by default
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Send node startup scripts to console and journal
  cluster/gce/gci/node.yaml
Due: pull-kubernetes-e2e-gke

scheduler framework: document how to make plugins configurable
  pkg/scheduler/framework/plugins/README.md
Due: none

add process metric collector to registry
  staging/src/k8s.io/component-base/metrics/BUILD
  staging/src/k8s.io/component-base/metrics/process.go
  staging/src/k8s.io/component-base/metrics/processstarttime.go
Due: pull-kubernetes-godeps

Update test/e2e/framework/network/utils.go add logging about min/max interval Co-authored-by: Antonio Ojea <antonio.ojea.garcia@gmail.com>
  test/e2e/framework/network/utils.go
Due: none

Mask bearer token in logs when logLevel >= 9
  staging/src/k8s.io/client-go/transport/round_trippers.go
Due: pull-kubernetes-godeps

Update cluster/gce/util.sh
  cluster/gce/util.sh
Due: pull-kubernetes-e2e-gke

Fix some shellcheck warnings/errors in cluster/gce/util.sh
  cluster/gce/util.sh
Due: pull-kubernetes-e2e-gke

Update after code review
  cluster/gce/util.sh
Due: pull-kubernetes-e2e-gke

e2e hostexec commands does not need sudo
  test/e2e/network/service.go
Due: none

add CAP_NET_RAW capability to CRI stats summery test
  test/e2e_node/summary_test.go
Due: none

kube-eviction: Fix SI of process quantity
  pkg/kubelet/eviction/helpers.go
Due: pull-kubernetes-local-e2e-containerized

Fix a copy-paste error in a comment
  staging/src/k8s.io/api/core/v1/well_known_taints.go
Due: pull-kubernetes-godeps

Add SELinux labels for kubelet on Fedora CoreOS
  test/e2e_node/remote/node_e2e.go
Due: none

add method get
  plugin/pkg/auth/authorizer/node/node_authorizer.go
Due: none

Mask Ceph RBD adminSecrets in logs when logLevel >= 4
  pkg/volume/rbd/rbd_util.go
Due: none

Ensure tags on AWS NLB load balancer services are consistent
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_utils.go
Due: pull-kubernetes-godeps

don't verify existence of both reserved-cpus and system-resreved (or kube-reserved)
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
Due: pull-kubernetes-local-e2e-containerized

Adding marosset to test/e2e/windows/OWNERS approver
  test/e2e/windows/OWNERS
Due: none

Fix documentation on EndpointSliceCache map
  pkg/proxy/endpointslicecache.go
Due: none

Change dry-run from bool (true) to client
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrole_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_pdb_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_priorityclass_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role_test.go
Due: pull-kubernetes-godeps

make download-or-bust compatible with both sha512/sha1
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

avoid potential secret leaking while reading .dockercfg
  pkg/credentialprovider/config.go
  pkg/credentialprovider/config_test.go
Due: none

Add ClientTimeout to LeaderElection
  cmd/cloud-controller-manager/app/config/config.go
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/cloud-controller-manager/app/options/options.go
  cmd/cloud-controller-manager/app/options/options_test.go
  cmd/kube-controller-manager/app/config/config.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/options/options_test.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/v1beta1/defaults_test.go
  pkg/scheduler/apis/config/validation/validation_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/BUILD
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  staging/src/k8s.io/component-base/config/options/leaderelectionconfig.go
  staging/src/k8s.io/component-base/config/types.go
  staging/src/k8s.io/component-base/config/v1alpha1/defaults.go
  staging/src/k8s.io/component-base/config/v1alpha1/types.go
  staging/src/k8s.io/component-base/config/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/component-base/config/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/component-base/config/validation/validation.go
  staging/src/k8s.io/component-base/config/validation/validation_test.go
  staging/src/k8s.io/component-base/config/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

complete cmd/cloud-controller-manager
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/defaults.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/defaults_test.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/register.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/types.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/zz_generated.defaults.go
  hack/.golint_failures
Due: none

resource/suffix.go: Fix ParseInt bitSize value
  staging/src/k8s.io/apimachinery/pkg/api/resource/suffix.go
Due: pull-kubernetes-godeps

Fix generate-internal-groups.sh for bash < 5.x
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
Due: pull-kubernetes-godeps

Update nodelocaldns yaml to use 1.15.15 image
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Due: pull-kubernetes-e2e-gke

Increase the time set in the past to reduce the test flake
  test/e2e_node/node_problem_detector_linux.go
Due: none

do not allow inflight watermark histograms to fall too far behind
  staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
Due: pull-kubernetes-godeps

Remove the dependency between create quota command and generators
  staging/src/k8s.io/kubectl/pkg/cmd/create/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_quota.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_quota_test.go
Due: pull-kubernetes-godeps

set lastterminationstate for container status even when CRI fails to return termination (or any) data
  pkg/kubelet/kubelet_pods.go
Due: pull-kubernetes-local-e2e-containerized

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
