Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.4.1-1
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - infra/gcp/bash/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

pull-k8sio-file-promo:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.4.1-1
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-deploy-app-gcsweb:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/gcsweb/deploy.sh

post-k8sio-deploy-app-k8s-io:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/k8s-io/deploy.sh

etcd: Promote 3.5.3-0 image
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add infra/aws/README.md
  infra/aws/README.md
Due: none

releng: Image promotion for kubernetes v1.21.12 / v1.21.13-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for kubernetes v1.22.9 / v1.22.10-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Promote v1.4.1 CAPA image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for kubernetes v1.23.6 / v1.23.7-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

promote dns images 1.22.2
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

promote nginx nginx-errors opentelemetry images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote ingress nginx v1.2.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add test runner to image promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote ingress nginx v1.2.0-beta.1 images (#3636)
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2022-04-17
  audit/projects/k8s-infra-ii-sandbox/iam.json
  audit/projects/k8s-infra-ii-sandbox/services/enabled.txt
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-nested/services/logging/logs.json
Due: none

Promote etcdadm v3.0.20220417 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add cloud provider openstack infra
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-cloud-provider-openstack/OWNERS
  k8s.gcr.io/images/k8s-staging-cloud-provider-openstack/images.yaml
  k8s.gcr.io/manifests/k8s-staging-cloud-provider-openstack/promoter-manifest.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add registry.k8s.io explorations
  registry.k8s.io/explorations/2021-10-implementations/README.org
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/README.org
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/artifactserver-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/artifactserver.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/README.org
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy-reg-host-authority.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/Dockerfile
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/README.org
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/envoy-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/envoy.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/go.mod
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/go.sum
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/main.go
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/README.org
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/http.js
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/nginx.conf
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/nginx.yaml
Due: k8sio-k8s-resources-verify

Update to fix boilerplate requirements
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/Dockerfile
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/README.org
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/main.go
Due: none

Fix table formatting
  infra/aws/aws-costexplorer-export/README.md
Due: none

Lint README.md
  infra/aws/aws-costexplorer-export/README.md
Due: none

Add infra/aws documentation
  infra/aws/README.md
  infra/aws/terraform/README.md
  infra/aws/terraform/registry.k8s.io/README.md
Due: none

Add production serving regions for registry.k8s.io
  infra/aws/terraform/registry.k8s.io/main.tf
  infra/aws/terraform/registry.k8s.io/providers.tf
Due: none

Add tls requirement for registry.k8s.io buckets
  infra/aws/terraform/registry.k8s.io/s3/bucket.tf
Due: none

groups/src: Add Cisco to distributors list
  groups/committee-security-response/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

releng: Image promotion for kubernetes v1.24.0-rc.0 / v1.25.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

remove IAM user/access key from Terraform
  infra/aws/terraform/registry.k8s.io/accounts.tf
Due: none

releng: Image promotion for kubernetes v1.22.9
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2022-04-20
  audit/projects/k8s-staging-cluster-api-nested/services/logging/logs.json
Due: none

Promote kOps 1.22.5 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.22.5 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.5.yaml
Due: pull-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.23.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.1.yaml
Due: pull-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.23.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for kubernetes v1.22.10-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for kubernetes v1.23.6
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for kubernetes v1.23.7-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Update github@ list
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote v1.2.0 controller & controller-chroot img
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
