Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*

docs: fix typo in api version group name
  docs/book/src/introduction.md
Due: none

chore: use `errors.Wrap` instead of `fmt.Errorf`
  controllers/secretproviderclasspodstatus_controller.go
  pkg/k8s/secret.go
  pkg/k8s/store.go
  pkg/metrics/exporter.go
  pkg/rotation/reconciler.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
  pkg/secrets-store/server.go
  pkg/secrets-store/utils.go
  pkg/util/fileutil/writer.go
  pkg/util/fileutil/writer_test.go
  pkg/util/secretutil/secret.go
  provider/fake/fake_server.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
  test/e2eprovider/server/server.go
  test/sanity/sanity_test.go
Due: none

ci: add semantic.yml
  .github/semantic.yml
Due: none

docs: update supported feature by current providers
  docs/book/src/providers.md
Due: none

Update helm README.md with linux crd image values
  charts/secrets-store-csi-driver/README.md
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Update helm README.md with linux crd image values
  charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: Update helm README.md with linux crd image values (#797)
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: use TARGETARCH for image build and makefile update
  Makefile
  docker/build.sh
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

docs: update features and add toc
  README.md
  docs/book/src/concepts.md
  docs/book/src/design-docs.md
  docs/book/src/getting-started/upgrades.md
  docs/book/src/introduction.md
  docs/book/src/known-limitations.md
  docs/book/src/providers.md
  docs/book/src/release-management.md
  docs/book/src/troubleshooting.md
Due: none

refactor: update mdbook install and serve
  .gitignore
  docs/book/Makefile
  docs/book/book.toml
  docs/book/install-and-build.sh
  docs/book/util-embed.sh
  docs/book/util-releaselink.sh
  docs/book/util-tabulate.sh
  netlify.toml
  third_party/japaric/trust/LICENSE
  third_party/japaric/trust/crate_install.sh
Due: none

Update: refactoring labels on manifests
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/_helpers.tpl
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/podsecuritypolicy.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-syncsecret.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-syncsecret_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/serviceaccount.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Update: cancel chart modification
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/_helpers.tpl
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/podsecuritypolicy.yaml
  charts/secrets-store-csi-driver/templates/role-rotation.yaml
  charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  charts/secrets-store-csi-driver/templates/role-syncsecret.yaml
  charts/secrets-store-csi-driver/templates/role-syncsecret_binding.yaml
  charts/secrets-store-csi-driver/templates/role.yaml
  charts/secrets-store-csi-driver/templates/role_binding.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/templates/serviceaccount.yaml
  charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: upgrade kubernetes deps
  go.mod
  go.sum
Due: none

chore: bump livenessprobe image to v2.5.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: remove deprecated `--filtered-watch-secret` flag
  .local/Dockerfile
  Makefile
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  pkg/rotation/reconciler_test.go
  test/bats/azure.bats
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump node-driver-reegistrar image to v2.4.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ci: add markdown-link-check workflow
  .github/workflows/markdown-link-check.yaml
  README.md
Due: none

docs: fix dead links based on errors
  docs/MEMBERSHIP.md
  docs/book/src/concepts.md
  docs/book/src/getting-started/usage.md
  sample/ingress-controller-tls/README.md
Due: none

Issue #809 - Properly parameterize providersDir values in helm chart
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

images: use k8s-staging-test-infra/gcb-docker-gcloud
  docker/cloudbuild.yaml
Due: secrets-store-csi-driver-push-image

helm: check rbac.pspEnabled for keep-crds upgrade hook
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: add slack badge
  Makefile
  README.md
Due: none

Move default CSI providers dir to /var/run
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: update debian-base to bullseye-v1.1.0
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

security: fix CVE-2021-43618
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: log invalid key in error
  pkg/util/secretutil/secret.go
Due: none

feature: additional cluster roles for secretproviderclasses
  manifest_staging/charts/secrets-store-csi-driver/templates/role-secretproviderclasses-admin.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-secretproviderclasses-viewer.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump version to 1.0.1 in release-1.0
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifests and helm chart for 1.0.1
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifests and helm chart for 1.0.1
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.0.1.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.0.1.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

security: fix CVE-2021-3995, CVE-2021-3996
  Makefile
  docker/Dockerfile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

adding new ClusterRole manifests to manifest_staging/deploy
  manifest_staging/deploy/role-secretproviderclasses-admin.yaml
  manifest_staging/deploy/role-secretproviderclasses-viewer.yaml
Due: none
