Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-containerd, post-kubernetes-push-perf-tests-networknetperfbenchmark, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-scratch, post-kubernetes-push-perf-tests-sleep, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Path conditions:
  post-kubernetes-push-perf-tests-access-tokens: any of: ^util-images\/access-tokens\/
  post-kubernetes-push-perf-tests-containerd: any of: ^util-images\/containerd\/
  post-kubernetes-push-perf-tests-networknetperfbenchmark: any of: ^util-images\/network\/netperfbenchmark\/
  post-kubernetes-push-perf-tests-probes: any of: ^util-images\/probes\/
  post-kubernetes-push-perf-tests-request-benchmark: any of: ^util-images\/request-benchmark\/
  post-kubernetes-push-perf-tests-scratch: any of: ^util-images\/scratch\/
  post-kubernetes-push-perf-tests-sleep: any of: ^util-images\/sleep\/
  post-kubernetes-push-perf-tests-watch-list: any of: ^util-images\/watch-list\/
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
  pull-perf-tests-ec2-master-scale-performance-100: any of: ^clusterloader2/.*$
  pull-perf-tests-gce-master-scale-performance-100: any of: ^clusterloader2/.*$

WIP: debug-watchlist-latency SKILL
  .claude/skills/SKILL.md
Due: none

[WIP] add metrics to restart test
  clusterloader2/testing/load/modules/restart-apiserver.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Hide logs
  clusterloader2/pkg/measurement/util/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Remove unused code
  clusterloader2/pkg/measurement/util/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

perfdash: bump Dockerfile Go version to 1.25 to match go.mod
  perfdash/Dockerfile
Due: none

perfdash: grey out label dropdown values with no data
  perfdash/www/index.html
  perfdash/www/script.js
Due: none

perfdash: bump version to 2.58
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/www/VERSION
Due: none

cl2/list: filter apiserver memory query to the apiserver container
  clusterloader2/testing/list/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Removing more logs
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add filtering in perfdash
  perfdash/test/jobs.yaml
  perfdash/www/index.html
  perfdash/www/script.js
Due: none

Adding kube-burner version of batch workload
  kube-burner/workloads/batch/config.yaml
  kube-burner/workloads/batch/overrides.yaml
  kube-burner/workloads/batch/templates/job-dynamic.yaml
Due: none

cl2/list: remove stale CL2_LIST_CONCURRENCY doc reference
  clusterloader2/testing/list/README.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add pod resource type to list benchmark
  clusterloader2/testing/list/README.md
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/pod.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

request-benchmark: add table and json-pretty content types
  util-images/request-benchmark/main.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

clusterloader2: add opt-in periodic heap profiling
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/heapprofile/heapprofile.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2/prometheus: add nil guard for ClaimRef to prevent panic
  clusterloader2/pkg/prometheus/experimental.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

cl2: strip managedFields from pod informers to cut memory
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/informer/informer.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Bump the Tag of probes to build new image to include change from kubernetes/perf-tests#3630
  util-images/probes/Makefile
Due: post-kubernetes-push-perf-tests-probes, pull-perf-tests-util-images

fix: capture higher-precision metrics for pod_startup_latency
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

CL2: Optimize memory usage for pods
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Revert "CL2: Optimize memory usage for pods"
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

CL2: Partially revert 4068
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

feat: introduce hash-based-pod-comparison in clusterloader2
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/controlled_pods_indexer.go
  clusterloader2/pkg/measurement/util/controlled_pods_indexer_test.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fix(request-benchmark): use resilient Content-Type parsing to ignore charset
  util-images/request-benchmark/main.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

cl2/restart-apiserver: restart a random master apiserver
  clusterloader2/pkg/measurement/common/restart_apiserver.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: make PROMETHEUS_SCRAPE_APISERVER_ONLY overridable
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

testing ec2 ci job
  clusterloader2/testing/dra/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

cl2/restart-apiserver: report watch cache init duration per apiserver instance
  clusterloader2/testing/load/modules/restart-apiserver.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

cl2: scrape etcd pprof over the insecure client-http port
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/profile.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: keep finished jobs in WaitForFinishedJobs after TTL deletion
  clusterloader2/pkg/measurement/common/wait_for_jobs.go
  clusterloader2/testing/dra/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

.agents/skills: add download-ci-artifacts skill
  .agents/skills/download-ci-artifacts/SKILL.md
Due: none

clusterloader2: scale Prometheus memory with node count when scraping kubelets
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

CL2: Override default 1s API Responsivness latency
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/testing/huge-service/modules/measurements.yaml
  clusterloader2/testing/load/modules/measurements.yaml
  clusterloader2/testing/watch-list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

cl2/load: add max watch cache init duration metric
  clusterloader2/testing/load/modules/restart-apiserver.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

perfdash: add watch cache init duration max metric
  perfdash/config.go
Due: none

dra tests: revert higher SLO times for churn job
  clusterloader2/testing/dra/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Do not log prometheus response for failed targets check
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/prometheus/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Upgrade go version
  benchmark/go.mod
  clusterloader2/docs/GETTING_STARTED.md
  clusterloader2/go.mod
  dns/dnsperfgo/go.mod
  dns/dnsperfgo/vendor/github.com/fxamacker/cbor/v2/README.md
  dns/jsonify/go.mod
  golang/Makefile
  network/benchmarks/netperf/Dockerfile
  network/benchmarks/netperf/go.mod
  network/tools/network-policy-enforcement-latency/go.mod
  perfdash/Dockerfile
  perfdash/go.mod
  slo-monitor/go.mod
  util-images/access-tokens/go.mod
  util-images/network/netperfbenchmark/go.mod
  util-images/probes/go.mod
  util-images/request-benchmark/go.mod
  util-images/watch-list/go.mod
Due: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-networknetperfbenchmark, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Give owner of dra tests to alaypatel07
  clusterloader2/testing/dra-baseline/OWNERS
  clusterloader2/testing/dra/OWNERS
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: add opt-in DRA kubelet metric keep-list and Prometheus calibration
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorKubelet.yaml
  clusterloader2/testing/dra/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100
