Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Transitive deps
  cmd/kube-apiserver/app/server.go
  cmd/kube-apiserver/app/testing/testserver.go
  staging/src/k8s.io/apiextensions-apiserver/main.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/server.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/testserver.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/serving_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/cmd/server/start.go
  staging/src/k8s.io/sample-apiserver/pkg/cmd/server/start.go
  test/e2e_node/services/apiserver.go
  test/integration/etcd/server.go
  test/integration/framework/test_server.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Specify empty IngresClassName as <none> to more clearly specify it is empty
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Due: pull-kubernetes-godeps

reuse InformerFactory in scheduler tests (#107835)
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/internal/queue/testing.go
  pkg/scheduler/scheduler_test.go
Due: none

Delete test/e2e/ui/
  test/e2e/e2e_test.go
  test/e2e/ui/dashboard.go
  test/e2e/ui/framework.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Remove feature gate `SetHostnameAsFQDN`
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

resttest: Modify TestContext to have namespace in context
  staging/src/k8s.io/apiserver/pkg/registry/rest/resttest/resttest.go
Due: pull-kubernetes-godeps

Check taint/toleration before accepting pods, except for static pods
  pkg/kubelet/lifecycle/predicate.go
  pkg/kubelet/lifecycle/predicate_test.go
Due: pull-kubernetes-local-e2e-containerized

Clean up logic for deprecated flag --container-runtime in kubelet
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/options/options_test.go
  cmd/kubelet/app/server.go
  pkg/kubelet/cadvisor/cadvisor_linux_test.go
  pkg/kubelet/cadvisor/helpers_linux.go
  pkg/kubelet/cadvisor/helpers_unsupported.go
  pkg/kubelet/cadvisor/util.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/cm/helpers_unsupported.go
  pkg/kubelet/config/flags.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/container/testing/runtime_mock.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_linux_test.go
  pkg/kubelet/kubelet_pods_windows_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/stats/host_stats_provider.go
  pkg/kubelet/stats/host_stats_provider_test.go
  pkg/kubemark/hollow_kubelet.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

cacher: Minor cleanup and refactor of code and tests
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_interval.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
Due: pull-kubernetes-godeps

apiserver: use endpoint lease reconciler as default
  cmd/kube-apiserver/app/options/options.go
  pkg/controlplane/instance.go
Due: none

apiserver: stop http server after pre shutdown hooks
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Due: pull-kubernetes-godeps

integration: custom etcd gracefully termination
  test/integration/framework/etcd.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

run preshutdown hooks on parallel
  staging/src/k8s.io/apiserver/pkg/server/hooks.go
Due: pull-kubernetes-godeps

update resourceconfig to have per-resource preferences take priority
  cmd/kube-apiserver/app/aggregator.go
  pkg/controlplane/instance.go
  staging/src/k8s.io/apiserver/pkg/server/resourceconfig/helpers.go
  staging/src/k8s.io/apiserver/pkg/server/resourceconfig/helpers_test.go
  staging/src/k8s.io/apiserver/pkg/server/storage/resource_config.go
  staging/src/k8s.io/apiserver/pkg/server/storage/resource_config_test.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
Due: pull-kubernetes-godeps

Add support for CRI `verbose` fields
  pkg/kubelet/cri/remote/conversion.go
  pkg/kubelet/cri/remote/conversion_test.go
  pkg/kubelet/cri/remote/fake/fake_image_service.go
  pkg/kubelet/cri/remote/fake/fake_runtime.go
  pkg/kubelet/cri/remote/remote_image.go
  pkg/kubelet/cri/remote/remote_runtime.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/instrumented_services.go
  pkg/kubelet/kuberuntime/instrumented_services_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  pkg/kubelet/kuberuntime/kuberuntime_gc.go
  pkg/kubelet/kuberuntime/kuberuntime_gc_test.go
  pkg/kubelet/kuberuntime/kuberuntime_image.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/logs/container_log_manager.go
  staging/src/k8s.io/cri-api/pkg/apis/services.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_image_service.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_runtime_service.go
  test/e2e_node/container_log_rotation_test.go
  test/e2e_node/image_list.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

kubeadm: remove mentions of the x.yy versioned kubelet config CM
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  cmd/kubeadm/app/cmd/phases/init/uploadconfig.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubelet: fix podstatus not containing pod full name
  pkg/kubelet/pod_workers.go
Due: pull-kubernetes-local-e2e-containerized

Add an e2e test for updating a static pod while it restarts
  test/e2e_node/mirror_pod_grace_period_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

kubelet: Clean up a static pod that has been terminated before starting
  pkg/kubelet/pod_workers.go
  pkg/kubelet/pod_workers_test.go
Due: pull-kubernetes-local-e2e-containerized

Fix validation of event updates
  pkg/registry/core/event/strategy.go
  pkg/registry/core/event/strategy_test.go
  test/e2e/instrumentation/events.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Change level for klog.Fatal
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Due: pull-kubernetes-godeps

Fix bug in TopologyManager with merging hints when NUM_NUMA > 2
  pkg/kubelet/cm/topologymanager/policy.go
  pkg/kubelet/cm/topologymanager/policy_best_effort_test.go
  pkg/kubelet/cm/topologymanager/policy_restricted_test.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node_test.go
  pkg/kubelet/cm/topologymanager/policy_test.go
Due: pull-kubernetes-local-e2e-containerized

Replace cadvisor with cadvisor#2974 for testing
  go.mod
Due: check-dependency-stats

Bump prometheus/client_golang to experimental version
  go.mod
  staging/src/k8s.io/component-base/go.mod
Due: check-dependency-stats, pull-kubernetes-godeps

Update vendor
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/google/cadvisor/info/v2/container.go
  vendor/github.com/google/cadvisor/metrics/container.go
  vendor/github.com/google/cadvisor/metrics/fake.go
  vendor/github.com/google/cadvisor/metrics/machine.go
  vendor/github.com/google/cadvisor/metrics/metrics.go
  vendor/github.com/google/cadvisor/metrics/prometheus_fake.go
  vendor/github.com/prometheus/client_golang/prometheus/cache/cache.go
  vendor/github.com/prometheus/client_golang/prometheus/collector.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector_go117.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/http.go
  vendor/github.com/prometheus/client_golang/prometheus/registry.go
  vendor/github.com/prometheus/client_golang/prometheus/testutil/testutil.go
  vendor/github.com/prometheus/client_golang/prometheus/value.go
  vendor/github.com/prometheus/client_golang/prometheus/wrap.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

Add hpa v2 compatibility fixtures
  staging/src/k8s.io/api/roundtrip_test.go
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2.HorizontalPodAutoscaler.json
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2.HorizontalPodAutoscaler.pb
  staging/src/k8s.io/api/testdata/v1.23.0/autoscaling.v2.HorizontalPodAutoscaler.json
  staging/src/k8s.io/api/testdata/v1.23.0/autoscaling.v2.HorizontalPodAutoscaler.pb
Due: pull-kubernetes-godeps

cluster/ - Configure containerd only if necessary
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Make generated-api-compatibility-data clean first
  hack/update-generated-api-compatibility-data.sh
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2.HorizontalPodAutoscaler.json
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2.HorizontalPodAutoscaler.pb
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2.HorizontalPodAutoscaler.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.JobTemplate.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.JobTemplate.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.JobTemplate.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.CronJob.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.CronJob.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.CronJob.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.JobTemplate.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.JobTemplate.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.JobTemplate.yaml
  staging/src/k8s.io/api/testdata/HEAD/core.v1.EphemeralContainers.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.EphemeralContainers.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.EphemeralContainers.yaml
  staging/src/k8s.io/api/testdata/HEAD/core.v1.ExportOptions.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.ExportOptions.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.ExportOptions.yaml
  staging/src/k8s.io/api/testdata/HEAD/discovery.k8s.io.v1alpha1.EndpointSlice.json
  staging/src/k8s.io/api/testdata/HEAD/discovery.k8s.io.v1alpha1.EndpointSlice.pb
  staging/src/k8s.io/api/testdata/HEAD/discovery.k8s.io.v1alpha1.EndpointSlice.yaml
Due: pull-kubernetes-godeps

Add check for unused API compatibility fixture files
  hack/update-generated-api-compatibility-data.sh
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/compatibility.go
Due: pull-kubernetes-godeps

Remove unused API compatibility fixture files
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.JobTemplate.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.JobTemplate.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.JobTemplate.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.CronJob.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.CronJob.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.CronJob.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.JobTemplate.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.JobTemplate.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.JobTemplate.yaml
  staging/src/k8s.io/api/testdata/HEAD/core.v1.EphemeralContainers.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.EphemeralContainers.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.EphemeralContainers.yaml
  staging/src/k8s.io/api/testdata/HEAD/core.v1.ExportOptions.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.ExportOptions.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.ExportOptions.yaml
  staging/src/k8s.io/api/testdata/HEAD/discovery.k8s.io.v1alpha1.EndpointSlice.json
  staging/src/k8s.io/api/testdata/HEAD/discovery.k8s.io.v1alpha1.EndpointSlice.pb
  staging/src/k8s.io/api/testdata/HEAD/discovery.k8s.io.v1alpha1.EndpointSlice.yaml
Due: pull-kubernetes-godeps

Use BlockingRegistry for cAdvisor container metrics
  hack/verify-prometheus-imports.sh
  pkg/kubelet/server/server.go
Due: pull-kubernetes-local-e2e-containerized

log grabbing: obtain timestamps on extra services
  cluster/log-dump/log-dump.sh
Due: none

Improve test coverage: add unit tests `TestReadAtMost` in `pkg/util/tail`
  pkg/util/tail/tail_test.go
Due: none

Remove verult from OWNERS files
  pkg/kubelet/volumemanager/OWNERS
  pkg/volume/gcepd/OWNERS
  test/e2e/testing-manifests/storage-csi/OWNERS
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

gofmt fix
  staging/src/k8s.io/cli-runtime/pkg/resource/builder_test.go
Due: pull-kubernetes-godeps

Fix: kubectl create -f and kubectl delete -f are not glob friendly
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
  staging/src/k8s.io/cli-runtime/pkg/resource/builder_test.go
Due: pull-kubernetes-godeps

adding extra test
  staging/src/k8s.io/cli-runtime/pkg/resource/builder_test.go
Due: pull-kubernetes-godeps

removing unused receiver
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
Due: pull-kubernetes-godeps
