Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

Dont sync down certs and signatures
  cmd/krel/cmd/sign_blobs.go
Due: post-release-push-image-k8s-ci-builder

Const away sig and cert extensions
  cmd/krel/cmd/sign_blobs.go
Due: post-release-push-image-k8s-ci-builder

sign blob: Enable bucket clobbering when uploading signatures and certs
  cmd/krel/cmd/sign_blobs.go
Due: post-release-push-image-k8s-ci-builder

krel sign blob: Flatten a bunch of errors
  cmd/krel/cmd/sign_blobs.go
Due: post-release-push-image-k8s-ci-builder

Remove duplicate call to `logrus.StandardLogger`
  pkg/binary/elf.go
Due: post-release-push-image-k8s-ci-builder

Add `LinkMode()` to binary implementation
  pkg/binary/binary.go
  pkg/binary/binaryfakes/fake_binary_implementation.go
  pkg/binary/elf.go
  pkg/binary/mach-o.go
  pkg/binary/windows.go
  pkg/release/binaries.go
Due: post-release-push-image-k8s-ci-builder

Add 1.26 variant for kubecross
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Build Go 1.19.4 and 1.18.9 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Update dependencies.yaml to kube-cross v1.26.0
  dependencies.yaml
Due: none

Bump kube-cross v1.26.0 revision to 1
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

cmd/ci-reporter: Add `ci-signal-reporter-approvers` alias
  OWNERS_ALIASES
  cmd/ci-reporter/OWNERS
Due: post-release-push-image-k8s-ci-builder

OWNERS: Alpha-sort members
  OWNERS_ALIASES
Due: none

OWNERS(generated): Prune via maintainers tool
  OWNERS_ALIASES
Due: none

OWNERS: Restore non-critical path approvers removed via generator
  OWNERS_ALIASES
Due: none

OWNERS: Restore RMAs remaining on the team
  OWNERS_ALIASES
Due: none

update tests
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.4 and Go 1.18.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Build k8s-cloud-builder v1.26-cross1.19-bullseye
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

add option to generate a release note with a set of specific kinds
  cmd/release-notes/main.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
  pkg/notes/notes_v2.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

go-runner: get source from k8s.io/component-base
  images/build/go-runner/Dockerfile
  images/build/go-runner/Makefile
  images/build/go-runner/README.md
  images/build/go-runner/go-runner.go
  images/build/go-runner/go.mod
  images/build/go-runner/go.sum
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Fix amount of steps in anago
  pkg/anago/anago.go
Due: post-release-push-image-k8s-ci-builder

Skip krel fast-forward when release cut issue is open
  .golangci.yml
  cmd/krel/cmd/ff.go
  go.mod
  go.sum
  pkg/fastforward/fastforward.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
Due: post-release-push-image-k8s-ci-builder

drop 1.22 and go 1.16 build variants
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

update cosign image
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

golang: Build 1.20rc1 images
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Retry `docker manifest push` on network failure
  go.mod
  pkg/release/images.go
Due: post-release-push-image-k8s-ci-builder

Fix release-sdk `LsRemote()` usage
  pkg/release/repository.go
Due: post-release-push-image-k8s-ci-builder

Bump k-sigs/release-sdk to v0.9.6
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Build go1.18 and go1.19 variants for release-1.23 and release-1.24
  dependencies.yaml
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-k8s-cloud-builder

Update cri-tools to v1.26.0
  dependencies.yaml
  packages/deb/build.go
  packages/deb/build_test.go
  packages/rpm/kubelet.spec
Due: none

build cross for go1.19 for 1.23 and 1.24 release branches
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Update 1.24 ci and builders to go1.19.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

avoid repeatedly concatenating package info
  images/build/distroless-iptables/distroless/package-utils.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Update 1.23 ci and builders to go1.19.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

bump image version
  dependencies.yaml
  images/build/distroless-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Fix scorecards workflow
  .github/workflows/scorecards-analysis.yml
Due: none

Add .go-version file to Golang update template
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

Fix integration test failing
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

refactor dockerfile comment
  images/build/distroless-iptables/distroless/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci
