Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Improve the performance of isPodStatusCacheTerminal
  pkg/kubelet/pod_workers.go
Due: pull-kubernetes-local-e2e-containerized

kubeadm: fix unit test panic for TestNewResetData
  cmd/kubeadm/app/cmd/reset_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

add test case for merging a patch against empty list
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go
Due: pull-kubernetes-godeps

fix Test_nodeLogQuery_validate/boot failure in windows scenario
  pkg/kubelet/kubelet_server_journal_test.go
Due: pull-kubernetes-local-e2e-containerized

add shortnames for mutatingwebhookconfigurations and validatingwebhookconfigurations
  pkg/registry/admissionregistration/mutatingwebhookconfiguration/storage/storage.go
  pkg/registry/admissionregistration/mutatingwebhookconfiguration/storage/storage_test.go
  pkg/registry/admissionregistration/validatingwebhookconfiguration/storage/storage.go
  pkg/registry/admissionregistration/validatingwebhookconfiguration/storage/storage_test.go
Due: none

perf: improve the performance of interpodaffinity.Filter
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
Due: none

Support specify the name where use EphemeralContainer with kubectl debug
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
Due: pull-kubernetes-godeps

restricted profile comply with PSA v1.27
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles_test.go
Due: pull-kubernetes-godeps

Add shell completion to the --from flag for the create job command
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job.go
Due: pull-kubernetes-godeps

Update `kubectl edit` documentation
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit.go
Due: pull-kubernetes-godeps

Move info where its most relevant
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit.go
Due: pull-kubernetes-godeps

Remove repeated info
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit.go
Due: pull-kubernetes-godeps

remove validation GCE-ism
  pkg/apis/apps/validation/validation.go
  pkg/apis/apps/validation/validation_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Replace the default limiter in GCController with a customizable constructor to support faster GC rate.
  cmd/kube-controller-manager/app/core.go
  cmd/kube-controller-manager/app/options/garbagecollectorcontroller.go
  cmd/kube-controller-manager/app/options/options_test.go
  pkg/controller/garbagecollector/config/types.go
  pkg/controller/garbagecollector/config/v1alpha1/defaults.go
  pkg/controller/garbagecollector/garbagecollector.go
  staging/src/k8s.io/client-go/util/workqueue/default_rate_limiters.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
Due: pull-kubernetes-godeps

Update cri-tools to v1.27.0
  build/dependencies.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

Addressing review comments
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

Remove GA feature gates in 1.28 about advancedAuditing
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

deprecate SecurityContextDeny related code
  hack/local-up-cluster.sh
  pkg/features/kube_features.go
  pkg/kubeapiserver/options/plugins.go
  plugin/pkg/admission/securitycontext/scdeny/admission.go
  plugin/pkg/admission/securitycontext/scdeny/admission_test.go
  test/e2e/node/security_context.go
  test/fixtures/doc-yaml/admin/high-availability/kube-apiserver.yaml
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-local-e2e

add --concurrent-cron-job-syncs flag
  cmd/kube-controller-manager/app/options/cronjobcontroller.go
  cmd/kube-controller-manager/app/options/options_test.go
Due: none

fix: Switch health check port to 9053
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Due: pull-kubernetes-e2e-gke

Chore: rewrite newService function
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

Chore: add LBIngress tweak function
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

Chore: add service port tweak function
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

Chore: add etp tweak function
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

Chore: add load balancer tweak function
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

Chore: add finalizers tweak function
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

golangci-lint: allow exceptions for Go naming convention
  hack/golangci-strict.yaml
  hack/golangci.yaml
Due: none

fix nodeipamcontroller ipv4 cidr judge condtion.
  cmd/cloud-controller-manager/nodeipamcontroller.go
  cmd/kube-controller-manager/app/core.go
Due: none

Fix: drop arm when release etcd image
  cluster/images/etcd/Makefile
Due: post-kubernetes-push-image-etcd, pull-kubernetes-cross

address comments
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
Due: none

Chore: add deletion timestamp tweak function
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

vendor: bump runc to 1.1.6
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/common.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/cpuset.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/v1.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/v2.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/validate/validator.go
  vendor/github.com/opencontainers/runc/libcontainer/container_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/eaccess_go119.go
  vendor/github.com/opencontainers/runc/libcontainer/eaccess_stub.go
  vendor/github.com/opencontainers/runc/libcontainer/factory_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/standard_init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/sync.go
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

improve remotecommand testing fuzzing the data stream
  staging/src/k8s.io/client-go/tools/remotecommand/remotecommand_test.go
Due: pull-kubernetes-godeps

updating microsft/go-winio package to latest version
  go.mod
  go.sum
  hack/unwanted-dependencies.json
  vendor/github.com/Microsoft/go-winio/.gitattributes
  vendor/github.com/Microsoft/go-winio/.gitignore
  vendor/github.com/Microsoft/go-winio/.golangci.yml
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/SECURITY.md
  vendor/github.com/Microsoft/go-winio/backup.go
  vendor/github.com/Microsoft/go-winio/doc.go
  vendor/github.com/Microsoft/go-winio/ea.go
  vendor/github.com/Microsoft/go-winio/file.go
  vendor/github.com/Microsoft/go-winio/fileinfo.go
  vendor/github.com/Microsoft/go-winio/hvsock.go
  vendor/github.com/Microsoft/go-winio/internal/socket/rawaddr.go
  vendor/github.com/Microsoft/go-winio/internal/socket/socket.go
  vendor/github.com/Microsoft/go-winio/internal/socket/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/pipe.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid_nonwindows.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/variant_string.go
  vendor/github.com/Microsoft/go-winio/pkg/security/grantvmgroupaccess.go
  vendor/github.com/Microsoft/go-winio/pkg/security/syscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/security/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/privilege.go
  vendor/github.com/Microsoft/go-winio/reparse.go
  vendor/github.com/Microsoft/go-winio/sd.go
  vendor/github.com/Microsoft/go-winio/syscall.go
  vendor/github.com/Microsoft/go-winio/tools.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd_windows.go
  vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
  vendor/golang.org/x/tools/cmd/stringer/stringer.go
  vendor/modules.txt
Due: pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, check-dependency-stats, pull-kubernetes-godeps

proxy/ipvs: revoke graceful termination for endpoints which comes back to life
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/proxier.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

Fix directory mismatch for `volume.SetVolumeOwnership()`
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/disk_manager.go
  pkg/volume/flexvolume/mounter.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/local/local.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/secret/secret.go
  pkg/volume/volume_linux.go
  pkg/volume/volume_linux_test.go
  pkg/volume/volume_unsupported.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial

remove allversion constant
  pkg/registry/authorization/util/helpers.go
Due: none

Chore: remove impossible and redunant cases
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps
