Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-monitoring:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-monitoring
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Regenerate kustomizatons and sources after changing prefixes
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-boskos.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-external-secrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-flux-system.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-kube-system.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-monitoring.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-node-problem-detector.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-rbac.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-test-pods.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-git-k8s.io.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-helm-eks-charts.yaml
Due: k8sio-k8s-resources-verify

Replace hardcoded ref with make var
  infra/aws/terraform/prow-build-cluster/Makefile
Due: none

Introduce flux dashboards
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/flux-cluster-stats.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/flux-control-plane.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
Due: k8sio-k8s-resources-verify

Promoting Gateway API image for v0.7.1
  registry.k8s.io/images/k8s-staging-gateway-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Remove cadvisor from eks-prow-build-cluster
  infra/aws/terraform/prow-build-cluster/resources/monitoring/README.md
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/ds.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/service.yaml
Due: k8sio-k8s-resources-verify

Add monitoring for Kubelet and ProwJob pods
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/prow.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/deplyment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kubelet/prow-rules.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kubelet/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
Due: k8sio-k8s-resources-verify

Manage ACM certificate for monitoring with Terraform
  infra/aws/terraform/modules/eks-prow-iam/policy_apply.tf
  infra/aws/terraform/modules/eks-prow-iam/policy_destroy.tf
  infra/aws/terraform/modules/eks-prow-iam/policy_plan.tf
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/monitoring_acm.tf
Due: none

add kubernetes-security@daocloud.io to distributors-announce list
  groups/committee-security-response/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Updating flux git repository to point to kubernetes/k8s.io
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-git-k8s.io.yaml
Due: k8sio-k8s-resources-verify

Revert "Updating flux git repository to point to kubernetes/k8s.io"
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-git-k8s.io.yaml
Due: k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Fix sig-contribex@kubernetes.io owners
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Adding emails for new chairs, SIG Cloud Provider
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add jpbetz to groups.yaml as TL of sig-apimachinery
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

audit: update as of 2023-06-06
  audit/projects/k8s-gcr-audit-test-prod/services/pubsub/subscriptions.json
  audit/projects/k8s-infra-e2e-boskos-025/buckets/kops-state-k8s-infra-e2e-boskos-025/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-025/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

Image promotion for cluster-api v1.3.8
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.4.3
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add image-builder approvers to OWNERS file
  registry.k8s.io/images/k8s-staging-scl-image-builder/OWNERS
Due: none

Fastly: ensure GCS cookies are dropped
  infra/fastly/terraform/dl.k8s.io/services.tf
Due: none

Promote kwok v0.2.1
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update flux git source
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-git-k8s.io.yaml
Due: k8sio-k8s-resources-verify

Add flux pod monitor
  infra/aws/terraform/prow-build-cluster/resources/flux-system/pod-monitor.yaml
Due: k8sio-k8s-resources-verify

Fix flux memory usage on grafana dashboard
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/flux-control-plane.yaml
Due: k8sio-k8s-resources-verify

chng git source
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-git-k8s.io.yaml
Due: k8sio-k8s-resources-verify

Image promotion for build-image v1.27.0-go1.20.5-bullseye.0 / v1.25.0-go1.19.10-bullseye.0 / v1.26.0-go1.19.10-bullseye.0 / v1.23.0-go1.19.10-bullseye.0 / v1.24.0-go1.19.10-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v2.3.1-go1.20.5-bullseye.0 / v2.3.1-go1.19.10-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for releng 1.20.5-bullseye-0 / 1.19.10-bullseye-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote nfs csi driver image v4.4.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

chore: promote capa v2.1.4
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

eks-prow-build-cluster: grafana dashboards from GKE prow cluster
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/test-infra-dashboard.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
Due: k8sio-k8s-resources-verify

Switch gitops source to main branch of k8s.io
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-git-k8s.io.yaml
Due: k8sio-k8s-resources-verify

eks-prow-build-cluster: add missing namespace to grafana dashboard test-infra CM
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/test-infra-dashboard.yaml
Due: k8sio-k8s-resources-verify

Image promotion for capi-operator v0.3.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2023-06-07
  audit/projects/k8s-gcr-audit-test-prod/services/pubsub/subscriptions.json
  audit/projects/k8s-infra-e2e-boskos-027/buckets/kops-state-k8s-infra-e2e-boskos-027/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-027/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-057/buckets/kops-state-k8s-infra-e2e-boskos-057/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-057/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-097/buckets/kops-state-k8s-infra-e2e-boskos-097/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-097/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-112/buckets/kops-state-k8s-infra-e2e-boskos-112/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-112/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-118/buckets/kops-state-k8s-infra-e2e-boskos-118/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-118/services/compute/project-info.json
  audit/projects/k8s-infra-oci-proxy-prod/services/logging/logs.json
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-staging-cri-tools/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

Image promotion for build-image bullseye-v1.5.7 / v0.2.5
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v0.2.5
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

eks-prow-build-cluster: temporarily disable some grafana dashboards
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cluster-api-gcp v1.3.1
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
