Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - groups
      - run
      - --
      - --confirm

post-k8sio-dns-update:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-dns-updater
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/infra-tools/octodns:v20200616-67ce585
      command:
      - bash
      args:
      - -c
      - cd dns && make push-local

post-k8sio-deploy-prow-build-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./infra/gcp/clusters/projects/k8s-infra-prow-build/deploy.sh

hack/yamllint: fail on new-line-at-end-of-file rule
  hack/.yamllint.conf
Due: none

policies: add v1.22 deprecation warns
  policies/deprecations.rego
Due: none

k8s.io: use /issues or /pulls for GH queries
  k8s.io/configmap-nginx.yaml
Due: k8sio-k8s-resources-verify

Promote Cluster API v0.3.21
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for v1.19.13 / v1.19.14-rc.0 / v1.20.9 / v1.20.10-rc.0 / v1.21.3 / v1.21.4-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

infra/gcp: mv k8s-releng-prod to its own folder
  infra/gcp/ensure-releng.sh
  infra/gcp/infra.yaml
Due: k8sio-k8s-resources-verify

k8s.io: fix tests.py to allow deploy
  k8s.io/test.py
Due: none

Check max. length for groups description
  groups/groups_test.go
  groups/sig-release/groups.yaml
  groups/sig-security/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

audit: update as of 2021-07-16
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-cip-test-prod/services/logging/logs.json
  audit/projects/k8s-release/buckets/k8s-release-dev-asia/iam.json
  audit/projects/k8s-release/buckets/k8s-release-dev-asia/lifecycle.json
  audit/projects/k8s-release/buckets/k8s-release-dev-asia/logging.json
  audit/projects/k8s-release/buckets/k8s-release-dev-asia/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-dev-eu/iam.json
  audit/projects/k8s-release/buckets/k8s-release-dev-eu/lifecycle.json
  audit/projects/k8s-release/buckets/k8s-release-dev-eu/logging.json
  audit/projects/k8s-release/buckets/k8s-release-dev-eu/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-dev/iam.json
  audit/projects/k8s-release/buckets/k8s-release-dev/logging.json
  audit/projects/k8s-release/buckets/k8s-release-dev/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-pull/iam.json
  audit/projects/k8s-release/buckets/k8s-release-pull/logging.json
  audit/projects/k8s-release/buckets/k8s-release-pull/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release/metadata.txt
  audit/projects/k8s-release/iam.json
  audit/projects/k8s-release/services/enabled.txt
  audit/projects/k8s-release/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-gcp/services/logging/logs.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

audit: update as of 2021-07-16
  audit/projects/k8s-releng-prod/iam.json
Due: none

Promotes nginx:1.14-1-copy image
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Update info in slack welcome message (#2336)
  apps/slack-infra/resources/slack-welcomer/message.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2021-07-16
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
Due: none

Adding tjferrara to k8s-infra-gcp-accounting
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

apps/gcsweb: add sig-scalability-logs
  apps/gcsweb/deployment.yaml
Due: k8sio-k8s-resources-verify

infra/gcp/roles: refresh roles
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/container.deployer.yaml
  infra/gcp/roles/iam.serviceAccountLister.yaml
  infra/gcp/roles/organization.admin.yaml
  infra/gcp/roles/prow.viewer.yaml
Due: k8sio-k8s-resources-verify

infra/gcp/roles: add run.viewer to audit.viewer
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
Due: k8sio-k8s-resources-verify

infra/gcp/roles: stop embedding spec in role
  infra/gcp/roles/CustomRole.yaml
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/container.deployer.yaml
  infra/gcp/roles/generate-role-yaml.sh
  infra/gcp/roles/iam.serviceAccountLister.yaml
  infra/gcp/roles/organization.admin.yaml
  infra/gcp/roles/prow.viewer.yaml
  infra/gcp/roles/secretmanager.secretLister.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2021-07-16
  audit/organizations/kubernetes.io/roles/audit.viewer.json
  audit/organizations/kubernetes.io/roles/organization.admin.json
  audit/organizations/kubernetes.io/roles/prow.viewer.json
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
Due: none

prow: Add k8s-infra-build-clusters-kubeconfig ExternalSecret
  apps/prow/prow-externalsecrets.yaml
  infra/gcp/ensure-main-project.sh
Due: k8sio-k8s-resources-verify

Promote kOps 1.22.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.22.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.0-alpha.2.yaml
Due: k8sio-k8s-resources-verify

[Scalability] Update members
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

remove references to kubernetes-release-dev
  apps/gcsweb/deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/README.md
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/README.md
  infra/gcp/ensure-release-projects.sh
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

infra/gcp/roles: add cloudtrace to audit.viewer
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2021-07-19
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-staging-test-infra/services/logging/logs.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-build-clusters-kubeconfig/description.json
  audit/projects/kubernetes-public/secrets/k8s-infra-build-clusters-kubeconfig/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-build-clusters-kubeconfig/versions.json
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

Changing the audit branch from master to main
  infra/gcp/cip-auditor/deploy.sh
Due: none

release CAPO v0.4.0
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Update images.yaml
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Update owners for k8s-staging-capi-openstack
  k8s.gcr.io/images/k8s-staging-capi-openstack/OWNERS
Due: none

Promote Cluster API Provider AWS v0.6.7
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

prow: folder-per-namespace k8s-infra-prow-build resources
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/default/greenhouse-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/default/greenhouse-metrics-service.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/default/greenhouse-service.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/default/greenhouse-storage.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/kube-system/kube-dns-autoscaler-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/kube-system/tune-sysctls_daemonset.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-resources-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/build-serviceaccounts.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/cpu-limit-range_limitrange.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/mem-limit-range_limitrange.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/test-pods-poddisruptionbudget.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-prow-build-resources

prow: folder-per-namespace k8s-infra-prow-build-trusted resources
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-service.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-storage.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kube-system/kube-dns-autoscaler-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets/kubernetes-external-secrets-serviceaccounts.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets/kubernetes-external-secrets.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets/kubernetes-external-secrets_crd.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets/kubernetes-external-secrets_rbac.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/staging-test-pods/.gitkeep
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-serviceaccounts.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-prow-build-trusted-resources

audit: update as of 2021-07-20
  audit/organizations/kubernetes.io/roles/audit.viewer.json
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/k8s-infra-public-pii/services/logging/logs.json
Due: none

audit: update as of 2021-07-20
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
Due: none

Define min and max instances for cip-auditor
  infra/gcp/cip-auditor/deploy.sh
Due: none

Move cert-manager to apps
  apps/cert-manager/OWNERS
  apps/cert-manager/README.md
  apps/cert-manager/cert-manager.yaml
  apps/cert-manager/deploy.sh
  apps/cert-manager/letsencrypt-prod.yaml
  apps/cert-manager/letsencrypt-staging.yaml
  apps/cert-manager/selfsigning-clusterissuer.yaml
  cert-manager/README.md
Due: k8sio-k8s-resources-verify

Migrate to networking.k8s.io/v1
  apps/gcsweb/ingress.yaml
  apps/node-perf-dash/ingress.yaml
  apps/perfdash/ingress.yaml
  apps/sippy/ingress.yaml
  apps/slack-infra/resources/ingress.yaml
  apps/triageparty-release/ingress.yaml
  k8s.io/ingress-canary-v6.yaml
  k8s.io/ingress-canary.yaml
  k8s.io/ingress-prod-v6.yaml
  k8s.io/ingress-prod.yaml
Due: k8sio-k8s-resources-verify

releng: Image promotion for v1.22.0-rc.0 / v1.23.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
