Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-deploy-app-gcsweb:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/gcsweb/deploy.sh

post-k8sio-deploy-app-k8s-io:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/k8s-io/deploy.sh

post-k8sio-deploy-app-kubernetes-external-secrets:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/kubernetes-external-secrets/deploy.sh

post-k8sio-deploy-app-perfdash:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/perfdash/deploy.sh

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Update snapshot sidecar and webhook images to 4.2.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

infra/gcp: Grant Release Manager Admins roles/cloudkms.signerVerifier
  infra/gcp/lib.sh
Due: none

fix yaml lint
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

apps/prow: add metrics ports for all the components
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Promote kOps 1.22.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.22.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.0-beta.1.yaml
Due: k8sio-k8s-resources-verify

Promote kOps 1.23.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.23.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.0-alpha.1.yaml
Due: k8sio-k8s-resources-verify

test images: Promote images with Windows Server 2022 support
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2021-08-30
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-infra-ii-sandbox/service-accounts/asn-etl@k8s-infra-ii-sandbox.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20210824.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20210825.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20210827.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
  audit/projects/k8s-infra-public-pii/service-accounts/asn-etl@k8s-infra-public-pii.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-public-pii/service-accounts/asn-etl@k8s-infra-public-pii.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-release-test-prod/iam.json
  audit/projects/k8s-release-test-prod/services/logging/logs.json
  audit/projects/k8s-release/buckets/k8s-release-dev-asia/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-dev-eu/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-dev/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-pull/metadata.txt
  audit/projects/k8s-release/iam.json
  audit/projects/k8s-releng-prod/iam.json
  audit/projects/k8s-staging-capi-kubeadm/services/logging/logs.json
  audit/projects/k8s-staging-cluster-addons/services/logging/logs.json
  audit/projects/k8s-staging-dns/services/logging/logs.json
  audit/projects/kubernetes-public/iam.json
Due: none

terraform/k8s-infra-prow-build-trusted: terraform fmt
  infra/gcp/terraform/k8s-infra-prow-build-trusted/versions.tf
Due: none

terraform/k8s-infra-prow-build: use workload-identity-service-account
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Due: none

terraform/k8s-infra-prow-build: terraform fmt
  infra/gcp/terraform/k8s-infra-prow-build/00-provider.tf
  infra/gcp/terraform/k8s-infra-prow-build/versions.tf
Due: none

terraform/modules: add workload-identity-service-account
  infra/gcp/terraform/modules/workload-identity-service-account/README.md
  infra/gcp/terraform/modules/workload-identity-service-account/main.tf
  infra/gcp/terraform/modules/workload-identity-service-account/outputs.tf
  infra/gcp/terraform/modules/workload-identity-service-account/variables.tf
  infra/gcp/terraform/modules/workload-identity-service-account/versions.tf
Due: none

terraform/k8s-infra-prow-build-trusted: use workload-identity-service-account
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
Due: none

terraform: output email for workload-identity-service-account
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
  infra/gcp/terraform/modules/workload-identity-service-account/outputs.tf
Due: none

terraform/modules: output policy data for workload-identity-service-account
  infra/gcp/terraform/modules/workload-identity-service-account/outputs.tf
Due: none

promote csi-secrets-store driver:v0.3.0
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

add initial pass at infra diagram
  diagram.svg
Due: none

Added new pause image version 'tag: 3.6'
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

apps/prow: drop FQDN for prow components
  apps/prow/cluster/deck_deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

terraform: Fix modules path
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
Due: none

Add wongma7 to apporvers of k8s-staging-provider-aws
  k8s.gcr.io/images/k8s-staging-provider-aws/OWNERS
Due: none

audit: update as of 2021-08-31
  audit/projects/k8s-conform/buckets/k8s-conform-cri-o/metadata.txt
  audit/projects/k8s-conform/buckets/k8s-conform-huaweicloud/metadata.txt
  audit/projects/k8s-conform/buckets/k8s-conform-inspur/metadata.txt
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/metadata.txt
  audit/projects/k8s-conform/buckets/k8s-conform-s390x-k8s/metadata.txt
  audit/projects/k8s-infra-prow-build-trusted/service-accounts/gcb-builder@k8s-infra-prow-build-trusted.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-prow-build-trusted/service-accounts/k8s-metrics@k8s-infra-prow-build-trusted.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-prow-build-trusted/service-accounts/k8s-triage@k8s-infra-prow-build-trusted.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-prow-build-trusted/service-accounts/kubernetes-external-secrets@k8s-infra-prow-build-trusted.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-prow-build-trusted/service-accounts/prow-build-trusted@k8s-infra-prow-build-trusted.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-prow-build-trusted/service-accounts/prow-deployer@k8s-infra-prow-build-trusted.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-prow-build/service-accounts/boskos-janitor@k8s-infra-prow-build.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-prow-build/service-accounts/prow-build@k8s-infra-prow-build.iam.gserviceaccount.com/description.json
  audit/projects/k8s-staging-dns/services/logging/logs.json
  audit/projects/k8s-staging-npd/services/logging/logs.json
Due: none

Promote existing images
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

kustomize image 4.3.0
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

infra/gcp: mv infra.yaml
  infra/gcp/bash/lib_infra.sh
  infra/gcp/infra.yaml
Due: k8sio-k8s-resources-verify

fix links to follow infra/gcp/bash mv
  audit/audit-gcp.sh
  groups/sig-release/groups.yaml
  images/k8s-infra/Makefile
  infra/gcp/infra.yaml
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/README.md
  infra/gcp/terraform/modules/gke-project/main.tf
  k8s.gcr.io/README.md
  k8s.gcr.io/Vanity-Domain-Flip.md
  running-in-community-clusters.md
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

infra/gcp: add README.md
  infra/gcp/README.md
Due: none

README: update to reflect current state
  README.md
Due: none

Promote NPD v0.8.10
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2021-09-01
  audit/projects/k8s-staging-infra-tools/services/logging/logs.json
Due: none

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
