Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-distroless-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

Build Go 1.20.2 and 1.19.7 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

drop 1.23 image builds
  dependencies.yaml
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

default go1.20 in distroless-iptables
  images/build/distroless-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

update setcap image
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-setcap

drop debian buster from setcap and iptables
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/buster/iptables-wrapper
  images/build/debian-iptables/variants.yaml
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-debian-iptables, pull-release-image-setcap

bump debian-iptables image and use go1.20 to build it
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

add goreleaser and ko to the releng-ci image
  images/releng/ci/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

add gorunner as config option in debian-iptables
  images/build/debian-iptables/cloudbuild.yaml
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Implement 'krel obs specs' command
  cmd/krel/cmd/obs.go
  cmd/krel/cmd/obs_specs.go
  pkg/obs/options/options.go
  pkg/obs/options/options_test.go
  pkg/obs/specs/fetcher.go
  pkg/obs/specs/links.go
  pkg/obs/specs/links_test.go
  pkg/obs/specs/specs.go
  pkg/obs/specs/specs_test.go
  pkg/obs/specs/specsfakes/fake_impl.go
  pkg/obs/specs/template.go
  pkg/obs/specs/versions.go
  pkg/obs/specs/versions_test.go
Due: post-release-push-image-k8s-ci-builder

allow objects.githubusercontent.com
  .github/workflows/codeql-analysis.yml
Due: none

fix lints
  .golangci.yml
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  cmd/krel/cmd/sign_images.go
  dependencies.yaml
  hack/verify-golangci-lint.sh
  pkg/anago/release.go
  pkg/build/push.go
  pkg/cve/impl.go
  pkg/kubecross/impl.go
  pkg/kubecross/kubecross.go
  pkg/kubecross/kubecrossfakes/fake_impl.go
  pkg/packages/packages_test.go
  pkg/release/images.go
Due: post-release-push-image-k8s-ci-builder

Update packaging spec files for OBS
  cmd/krel/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/rpm/kubectl/kubectl.spec
  cmd/krel/templates/latest/rpm/kubelet/kubelet.spec
  cmd/krel/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

drop golangci script in favor of github actions
  .github/workflows/lint.yml
  Makefile
  dependencies.yaml
  hack/verify-golangci-lint.sh
Due: none

fix test
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Fix version regex to allow `v1.25.8-1+3a14fe1af239a0`
  pkg/release/release.go
  pkg/release/release_test.go
Due: post-release-push-image-k8s-ci-builder

update TestNewPatchRelease test
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

Bump kube-cross and k8s-cloud-builder to go 1.20.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Fix typos
  cmd/ci-reporter/README.md
  cmd/krel/cmd/announce_build.go
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/cve.go
  cmd/krel/cmd/ff.go
  cmd/krel/cmd/release_notes.go
  cmd/publish-release/cmd/github.go
  cmd/schedule-builder/cmd/markdown.go
  hack/packages/verify-published.sh
  hack/rapture/README.md
  hack/verify-golangci-lint.sh
  pkg/anago/anago.go
  pkg/anago/release.go
  pkg/anago/stage.go
  pkg/announce/github_page.go
  pkg/binary/binary_test.go
  pkg/fastforward/fastforward.go
  pkg/mail/mail_test.go
  pkg/release/archive.go
  pkg/release/branch_checker.go
  pkg/release/prerequisites.go
  pkg/release/provenance.go
  pkg/release/push_git_objects.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.20.3 and 1.19.8 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Ability to override BINFMT_IMAGE in init-buildx.sh
  hack/init-buildx.sh
Due: none

add go boilerplate when running go generate
  pkg/anago/anago.go
  pkg/binary/binary.go
  pkg/build/make.go
  pkg/changelog/impl.go
  pkg/fastforward/impl.go
  pkg/gcp/gcb/gcb.go
  pkg/kubecross/impl.go
  pkg/kubepkg/kubepkg.go
  pkg/mail/mail.go
  pkg/notes/dependencies.go
  pkg/obs/specs/specs.go
  pkg/packages/packagesfakes/fake_impl.go
  pkg/release/doc.go
  pkg/release/version.go
  pkg/testgrid/testgrid.go
Due: post-release-push-image-k8s-ci-builder

bumo release-sdk dependency
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

bump cosign to v2.0.2
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

update dependencies
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Drop 32bit arm from package builds for Kubernetes > v1.27.0
  hack/rapture/build-packages.sh
  packages/rpm/docker-build.sh
  packages/rpm/entry.sh
  pkg/packages/impl.go
  pkg/packages/packages.go
  pkg/packages/packages_test.go
  pkg/packages/packagesfakes/fake_impl.go
Due: post-release-push-image-k8s-ci-builder

Switched from N1 to E2 machine
  gcb/fast-forward/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

update debian-iptables and distroless-iptables to go 1.20.4
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

update to set go1.20 in go.mod and upgrade golangci-lint
  dependencies.yaml
  go.mod
  hack/verify-golangci-lint.sh
  images/build/go-runner/go.mod
  packages/deb/go.mod
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-go-runner

Revert "Update package specs used for OBS"
  cmd/krel/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/rpm/kubectl/kubectl.spec
  cmd/krel/templates/latest/rpm/kubelet/kubelet.spec
  cmd/krel/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

update version comments
  .github/workflows/codeql-analysis.yml
  .github/workflows/depsreview.yml
  .github/workflows/scorecards-analysis.yml
Due: none

upgrade code to be compatible with cosign v2
  cmd/krel/cmd/sign_blobs.go
  gcb/release/cloudbuild.yaml
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

update cosign image to v2.0.0
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Address review comments
  cmd/krel/cmd/obs.go
  cmd/krel/cmd/obs_specs.go
  pkg/obs/options/options.go
  pkg/obs/options/options_test.go
  pkg/obs/specs/specs.go
Due: post-release-push-image-k8s-ci-builder

Bump kube-cross and k8s-cloud-builder to go 1.20.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

update changelog test
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

Bump go-modiff to v1.3.2
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Update package specs used for OBS
  cmd/krel/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/rpm/kubectl/kubectl.spec
  cmd/krel/templates/latest/rpm/kubelet/kubelet.spec
  cmd/krel/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

use go-github v50
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/packages/packagesfakes/fake_impl.go
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
