Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-httpbin-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
  ...

pull-ingress-nginx-e2e-helm-chart:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20201208-8b354d9-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

Allow overriding of the default response format
  images/custom-error-pages/main.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

added K8s v1.22 tip for kind cluster,bug-report
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/developer-guide/getting-started.md
Due: none

added K8s v1.22 tip for kind cluster,bug-report (#7437)
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/developer-guide/getting-started.md
Due: none

Deploy GitHub Pages
  developer-guide/getting-started/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

correct ingress-controller naming (#7450)
  docs/user-guide/monitoring.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/monitoring/index.html
Due: none

Fix cap for NET_BIND_SERVICE (#7449)
  rootfs/Dockerfile
Due: post-ingress-nginx-push-images

Allow overriding of the default response format (#7245)
  images/custom-error-pages/main.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Change all master reference to main (#7369)
  Changelog.md
  RELEASE.md
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  docs/deploy/hardening-guide.md
  docs/deploy/index.md
  docs/deploy/upgrade.md
  docs/developer-guide/code-overview.md
  docs/developer-guide/getting-started.md
  docs/e2e-tests.md
  docs/examples/PREREQUISITES.md
  docs/examples/auth/oauth-external-auth/README.md
  docs/examples/customization/custom-configuration/README.md
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/sysctl/README.md
  docs/examples/docker-registry/README.md
  docs/examples/multi-tls/multi-tls.yaml
  docs/examples/psp/README.md
  docs/how-it-works.md
  docs/kubectl-plugin.md
  docs/troubleshooting.md
  docs/user-guide/custom-errors.md
  docs/user-guide/default-backend.md
  docs/user-guide/monitoring.md
  docs/user-guide/nginx-configuration/configmap.md
  images/cfssl/Makefile
  images/echo/Makefile
  images/fastcgi-helloserver/Makefile
  images/httpbin/Makefile
  images/nginx/Makefile
  images/test-runner/Makefile
  rootfs/etc/nginx/lua/plugins/README.md
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  deploy/hardening-guide/index.html
  deploy/index.html
  deploy/upgrade/index.html
  developer-guide/code-overview/index.html
  developer-guide/getting-started/index.html
  e2e-tests/index.html
  examples/PREREQUISITES/index.html
  examples/auth/oauth-external-auth/index.html
  examples/customization/custom-configuration/index.html
  examples/customization/custom-headers/index.html
  examples/customization/sysctl/index.html
  examples/docker-registry/index.html
  examples/multi-tls/multi-tls.yaml
  examples/psp/index.html
  how-it-works/index.html
  kubectl-plugin/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  troubleshooting/index.html
  user-guide/custom-errors/index.html
  user-guide/default-backend/index.html
  user-guide/monitoring/index.html
  user-guide/nginx-configuration/configmap/index.html
Due: none

Add controller.watchIngressWithoutClass config option
  charts/ingress-nginx/ci/controller-custom-ingressclass-flags.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix old tag of custom error pages used in example
  docs/examples/customization/custom-errors/custom-default-backend.yaml
Due: none

Update configmap.md
  docs/user-guide/nginx-configuration/configmap.md
Due: none

change requests from PR
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Update configmap.md (#7462)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Change statusSync.runningAddresses() return type
  internal/ingress/status/status.go
  internal/ingress/status/status_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Sync both IP and Hostname to Ingress Status
  internal/ingress/status/status.go
  internal/ingress/status/status_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add unit test.
  internal/ingress/controller/controller_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

use listen to ensure the port is free (#6990)
  internal/net/net.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update versions of components for base image (#7411)
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

use listen to ensure the port is free (#6990) (#7467)
  internal/net/net.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add controller.watchIngressWithoutClass config option (#7459)
  charts/ingress-nginx/ci/controller-custom-ingressclass-flags.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add hostname value to override pod's hostname (#7386)
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Improved disableaccesslog tests
  test/e2e/annotations/disableaccesslog.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Move nginx-errors to k8s registry
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  images/custom-error-pages/Makefile
  images/custom-error-pages/cloudbuild.yml
  images/custom-error-pages/rootfs/Dockerfile
  images/custom-error-pages/rootfs/main.go
  images/custom-error-pages/rootfs/metrics.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Retry to download maxmind DB if it fails (#7242)
  cmd/nginx/flags.go
  cmd/nginx/flags_test.go
  docs/user-guide/cli-arguments.md
  go.mod
  go.sum
  internal/nginx/maxmind.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix: discover mounted geoip db files (#7228)
  cmd/nginx/flags.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/nginx/maxmind.go
  internal/nginx/maxmind_test.go
  test/e2e/settings/geoip2.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix forwarding of auth-response-headers to gRPC backends (#7331)
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/auth.go
  test/e2e/annotations/grpc.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

update to newest image
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
