Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*

chore: generate log if grpc message size larger than max
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
Due: none

chore: list builder instances in image build
  Makefile
  docker/build.sh
Due: secrets-store-csi-driver-push-image

docs: add aws provider ref in install provider
  docs/book/src/getting-started/installation.md
Due: none

docs: updates major release def and release window
  docs/Release_Management.md
Due: none

chore: enable qemu for multi-arch
  Makefile
  docker/build.sh
Due: secrets-store-csi-driver-push-image

feat: add rbac role and binding for rotation
  Makefile
  config/rbac-rotation/kustomization.yaml
  config/rbac-rotation/role.yaml
  config/rbac-rotation/role_binding.yaml
  docs/book/src/getting-started/installation.md
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  manifest_staging/deploy/rbac-secretproviderrotation.yaml
  pkg/rotation/reconciler.go
  test/bats/aws.bats
  test/bats/azure.bats
  test/bats/gcp.bats
  test/bats/vault.bats
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump version to v0.0.23
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

chore: sets default version to "local-dev"
  pkg/version/version.go
Due: none

chore: adds newline
  .local/Dockerfile
  .local/kind-config.yaml
Due: none

chore: adds note to debug guide
  .local/README.md
Due: none

chore: adds new line
  .local/debug-driver.yaml
Due: none

release: update manifest and helm charts for v0.0.23
  charts/index.yaml
  charts/secrets-store-csi-driver-0.0.23.tgz
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/role-rotation.yaml
  charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/rbac-secretproviderrotation.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: updates release process.
  docs/Release_Management.md
Due: none

docs: add upgrade instruction for v0.0.23
  docs/book/src/getting-started/upgrades.md
Due: none

chore: upgrades controller-runtime to v0.9.0
  Makefile
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
  pkg/cache/README.md
  pkg/cache/cache.go
  pkg/cache/doc.go
  pkg/cache/informer_cache.go
  pkg/cache/internal/cache_reader.go
  pkg/cache/internal/deleg_map.go
  pkg/cache/internal/informers_map.go
  test/bats/azure.bats
Due: none

chore: updates golang image to 1.16
  .local/Dockerfile
Due: none

docs: updates readme
  .local/README.md
Due: none

chore: formatting
  .local/debug-driver.yaml
Due: none

chore: formatting
  .local/persistent-volume.yaml
Due: none

test: sets ns to kube-system for helm uprgrade
  test/bats/gcp.bats
Due: none

chore: adds comments and go fmt
  cmd/secrets-store-csi-driver/main.go
Due: none

Debugging (#556)
  .gitignore
  .local/Dockerfile
  .local/README.md
  .local/debug-driver.yaml
  .local/kind-config.yaml
  .local/persistent-volume.yaml
  README.md
  pkg/version/version.go
Due: none

chore: set filtered-watch-secret to true by default for nodePublishSecretRef
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  pkg/rotation/reconciler.go
  test/bats/azure.bats
  test/bats/gcp.bats
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: upgrades controller-runtime to v0.9.0 (#593)
  Makefile
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
  pkg/cache/README.md
  pkg/cache/cache.go
  pkg/cache/doc.go
  pkg/cache/informer_cache.go
  pkg/cache/internal/cache_reader.go
  pkg/cache/internal/deleg_map.go
  pkg/cache/internal/informers_map.go
Due: none

test: add e2e for `filtered-watch-secret=false`
  test/bats/azure.bats
  test/bats/gcp.bats
Due: none

chore: removes local cache used for rotation
  cmd/secrets-store-csi-driver/main.go
  pkg/k8s/pod.go
  pkg/k8s/secret.go
  pkg/k8s/secretproviderclass.go
  pkg/k8s/secretproviderclasspodstatus.go
  pkg/k8s/store.go
  pkg/k8s/store_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
Due: none

fix: memory aliasing
  pkg/rotation/reconciler.go
Due: none

test: controller runtime
  cmd/secrets-store-csi-driver/main.go
  pkg/k8s/secret.go
  pkg/k8s/store.go
  pkg/k8s/store_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
Due: none

test: updates rotation tests with fake
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
Due: none

chore: updates to reader interface in reconciler
  cmd/secrets-store-csi-driver/main.go
  pkg/rotation/reconciler.go
Due: none

Move crds to crds dir for helm3
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/crds.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

remove crds.yaml from template folder and fix the docs
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/crds.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Update apiVersion to v2
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: updates doc for secret auto rotation.
  docs/book/src/topics/secret-auto-rotation.md
Due: none

docs: removes provider specfic comment.
  docs/book/src/topics/secret-auto-rotation.md
Due: none

test: updates test name
  pkg/k8s/store_test.go
Due: none

chore: removes redundant log
  pkg/rotation/reconciler.go
Due: none

chore: defining pointer var to store cache result
  pkg/rotation/reconciler.go
Due: none

chore: adds comments
  pkg/rotation/reconciler.go
Due: none
