Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Update Kubernetes dependencies to v1.36.0 (#9484)
  .github/workflows/ca-test.yaml
  cluster-autoscaler/Dockerfile
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/e2e/go.mod
  cluster-autoscaler/e2e/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot.go
  cluster-autoscaler/simulator/clustersnapshot/store/basic.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/dynamicresources/noop_manager.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_claim_tracker.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_pod_group_lister.go
  cluster-autoscaler/simulator/dynamicresources/utils/resource_claims.go
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
  cluster-autoscaler/simulator/framework/handle.go
  cluster-autoscaler/simulator/node_info_utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chore: :wrench: Remove resourceclaimtemplates from aws example files
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: OperationPreempted does not retry when failed delete operation (#9505)
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

operation preempted
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

misstype
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix: use azcore.ResponseError in preempted retry tests
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

changing to error const instead of message
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

remove InPlaceOrRecreate VPA mode feature flag
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Don't call PredicateError.VerboseMessage when result is not needed
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

azure: implement AtomicIncreaseSize for VMSS
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Make AtomicIncreaseSize blocking
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Incorporate review feedback
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Ensure AtomicIncreaseSize actually passes new size through
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Use consistent receiver name
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Allow larger liveness probe timeout for the first loop
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/config/flags/flags_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/metrics/liveness.go
  cluster-autoscaler/metrics/liveness_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat: Don't clear affinity cache every iteration
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

calculate pod level recommendation on the fly by updater and admission controller
  .github/kind-config.yaml
  vertical-pod-autoscaler/docs/api.md
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/util.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/recommender/routines/vpa.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor_test.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go
  vertical-pod-autoscaler/test/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/test/e2e/v1/recommender.go
  vertical-pod-autoscaler/test/e2e/v1/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

address comments from reviewers
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update index.yaml
  index.yaml
Due: none

Returned back NewQuotasTracker with deprecated flag for more smooth migration
  cluster-autoscaler/resourcequotas/factory.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Added tests for NewMinQuotasTracker
  cluster-autoscaler/resourcequotas/factory_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

gofmt update
  cluster-autoscaler/resourcequotas/factory_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Group dependabot VPA updates
  .github/dependabot.yml
Due: none

Skip search if the instance-pool is not set but the node-pool is (it is an OKE node).
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Clean up oci instance pool log messages and add debug statements for easier troubleshooting.
  cluster-autoscaler/cloudprovider/oci/common/oci_ref.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_cache.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Align instance listing for HasInstance() and NodeGroupForNode() to prevent mismatches.
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

test(CA): fix CA e2e JUnit report overwrite
  cluster-autoscaler/hack/e2e/run-e2e-tests.sh
  cluster-autoscaler/hack/e2e/run-e2e.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

owners: setup exoscale code owners
  cluster-autoscaler/cloudprovider/exoscale/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chart(cluster-autoscaler): default serviceMonitor (metric)Relabelings to []
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  cluster-autoscaler/charts/cluster-autoscaler/README.md
  cluster-autoscaler/charts/cluster-autoscaler/values.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Improve ScaleUpError status results to include PodsRemainUnschedulable info
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/rejectedreasons.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Treat limitsLeft as headroom in order to remove direction field
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/resourcequotas/factory.go
  cluster-autoscaler/resourcequotas/factory_test.go
  cluster-autoscaler/resourcequotas/tracker.go
  cluster-autoscaler/resourcequotas/tracker_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Remove unecessary changes
  cluster-autoscaler/resourcequotas/tracker.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Trying to remove unecessary changes which caused by moving functions
  cluster-autoscaler/resourcequotas/tracker.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Bump controller-runtime and controller-tools
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1alpha1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1beta1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1alpha1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/factory.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  cluster-autoscaler/apis/capacityquota/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/capacityquota/client/informers/externalversions/autoscaling.x-k8s.io/v1alpha1/capacityquota.go
  cluster-autoscaler/apis/capacityquota/client/informers/externalversions/factory.go
  cluster-autoscaler/apis/capacityquota/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacityquotas.yaml
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_provisioningrequests.yaml
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/factory.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Making our new mental model clean (by documenting)
  cluster-autoscaler/resourcequotas/factory.go
  cluster-autoscaler/resourcequotas/tracker.go
  cluster-autoscaler/resourcequotas/tracker_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Made less strict resourceDelta to negatives
  cluster-autoscaler/resourcequotas/tracker.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Documented even more
  cluster-autoscaler/resourcequotas/tracker.go
  cluster-autoscaler/resourcequotas/tracker_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
