Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Update HPA Config godoc
  pkg/controller/podautoscaler/config/types.go
Due: none

Move test specific option setting to the test file
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Due: none

implement EnqueueExtensions interface in nodelabel
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
Due: none

add label.NewValidatedRequirement method
  staging/src/k8s.io/apimachinery/pkg/labels/selector.go
  staging/src/k8s.io/apimachinery/pkg/labels/selector_test.go
Due: pull-kubernetes-godeps

implement EnqueueExtensions interface in taint toleration scheduling
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
Due: none

Add default namespace labels to all namespaces for selectors (#96968)
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/v1/zz_generated.defaults.go
  pkg/features/kube_features.go
  pkg/registry/core/namespace/storage/storage_test.go
  pkg/registry/core/namespace/strategy.go
  pkg/registry/core/namespace/strategy_test.go
  staging/src/k8s.io/api/core/v1/well_known_labels.go
  test/integration/namespace/ns_conditions_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

remove unused third_party/intemp
  third_party/intemp/LICENSE
  third_party/intemp/Makefile
  third_party/intemp/README.md
  third_party/intemp/install.sh
  third_party/intemp/intemp.sh
Due: pull-kubernetes-cross

Fixes after runc libcontainer and docker update
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/dockershim/cm/container_manager_linux.go
  pkg/kubelet/dockershim/libdocker/kube_docker_client.go
Due: pull-kubernetes-local-e2e-containerized

fix json log format panic, change the flag names in flagIsSet
  cmd/kube-apiserver/app/options/globalflags_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  staging/src/k8s.io/component-base/cli/globalflag/globalflags.go
  staging/src/k8s.io/component-base/cli/globalflag/globalflags_test.go
  staging/src/k8s.io/component-base/logs/options.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

Committed on 3 9 2021
  2021/3/9/commit.md
Due: none

Compute upgradeContext once in upgrade tests
  test/e2e/cloud/gcp/cluster_upgrade.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Log invalid scheduler-policy input instead of panic
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/legacy_registry.go
Due: none

generic ephemeral volumes: drop ReadOnly field
  pkg/apis/core/types.go
  pkg/controller/volume/attachdetach/util/util.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  test/e2e/storage/framework/volume_resource.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

generic ephemeral volumes: promote to beta
  pkg/apis/core/types.go
  pkg/features/kube_features.go
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

generic ephemeral volumes: refresh rbac testdata
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

Cleanup upgrade functions
  test/e2e/cloud/gcp/cluster_upgrade.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Unify masterUpgrade and nodeUpgrade signatures
  test/e2e/cloud/gcp/cluster_upgrade.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix: when newly binding pvc to a pv, adjust pvc.status.capacity to pv's annotation that denotes the pre-resize capacity of the original pvc that pv was bound to if it has one
  pkg/controller/volume/expand/expand_controller.go
  pkg/controller/volume/expand/expand_controller_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/resize_util.go
Due: none

fix cluster util.sh unbound variable
  cluster/gce/util.sh
Due: pull-kubernetes-e2e-gke

kubelet: add AppArmor profile values to CRI
  pkg/kubelet/kuberuntime/security_context.go
  pkg/security/apparmor/helpers.go
  pkg/security/apparmor/helpers_test.go
Due: pull-kubernetes-local-e2e-containerized

Refactor upgrade tests to share more code
  test/e2e/cloud/gcp/cluster_upgrade.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

CHANGELOG: Update directory for v1.21.0-beta.1 release
  CHANGELOG/CHANGELOG-1.21.md
Due: none

migrate kubelet/cm/container logs to structured logging
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
Due: pull-kubernetes-local-e2e-containerized

Network Tests: bind host network udp listeners to hostIPs
  test/e2e/framework/network/utils.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Un-skip the hostnetwork udp endpoint test.
  test/e2e/network/networking.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

fix Spelling error for expect in goaway_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/goaway_test.go
Due: pull-kubernetes-godeps

Add support for reserving hugepages in kubelet
  cmd/kubelet/app/server.go
  cmd/kubelet/app/server_test.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/node_container_manager_linux.go
  pkg/kubelet/cm/node_container_manager_linux_test.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

e2e: node: bootstrap podresources tests
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/podresources_test.go
  test/e2e_node/topology_manager_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

node: podresources: make GetCPUs return cpuset
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/server_v1alpha1_test.go
  pkg/kubelet/apis/podresources/types.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/fake_container_manager.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

node: e2e: docs and fix for teardownSRIOVConfig
  test/e2e_node/topology_manager_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

node: podresources: implement GetAllocatableResources API
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/server_v1alpha1_test.go
  pkg/kubelet/apis/podresources/types.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/fake_cpu_manager.go
  pkg/kubelet/cm/cpumanager/policy.go
  pkg/kubelet/cm/cpumanager/policy_none.go
  pkg/kubelet/cm/cpumanager/policy_none_test.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_stub.go
  pkg/kubelet/cm/devicemanager/pod_devices.go
  pkg/kubelet/cm/devicemanager/types.go
  pkg/kubelet/cm/fake_container_manager.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

node: podresources: translate types in cm
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/server_v1alpha1.go
  pkg/kubelet/apis/podresources/server_v1alpha1_test.go
  pkg/kubelet/apis/podresources/types.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/fake_container_manager.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

node: podresources: add generated files
  staging/src/k8s.io/kubelet/pkg/apis/podresources/v1/api.pb.go
Due: pull-kubernetes-godeps

e2e: node: add tests for GetAllocatableResources
  pkg/kubelet/cm/cpuset/cpuset.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/podresources_test.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-conformance-kind-ipv6-parallel

node: podresources: make GetDevices() consistent
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/server_v1alpha1.go
  pkg/kubelet/apis/podresources/server_v1alpha1_test.go
  pkg/kubelet/apis/podresources/types.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_stub.go
  pkg/kubelet/cm/devicemanager/manager_test.go
  pkg/kubelet/cm/devicemanager/pod_devices.go
  pkg/kubelet/cm/devicemanager/pod_devices_test.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
  pkg/kubelet/cm/devicemanager/types.go
  pkg/kubelet/cm/fake_container_manager.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

node: e2e: run deleteSync in parallel
  test/e2e_node/podresources_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

node: podresources: add GetAllocatableResources API
  staging/src/k8s.io/kubelet/pkg/apis/podresources/v1/api.proto
Due: pull-kubernetes-godeps
