Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-deploy-app-gcsweb:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/gcsweb/deploy.sh

post-k8sio-deploy-app-k8s-io:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/k8s-io/deploy.sh

post-k8sio-deploy-app-kubernetes-external-secrets:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/kubernetes-external-secrets/deploy.sh

bash/staging: prune unexpected services
  infra/gcp/bash/ensure-staging-storage.sh
Due: none

Revert "Use test prow-controller-manager for k8s-infra-prow debugging"
  apps/prow/cluster/prow_controller_manager_deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

add readiness probe at /health
  apps/elekto/deployment.yaml
Due: k8sio-k8s-resources-verify

rm k8s-staging-bootkube
  groups/groups.yaml
  groups/restrictions.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-bootkube/OWNERS
  k8s.gcr.io/images/k8s-staging-bootkube/images.yaml
  k8s.gcr.io/images/k8s-staging-bootkube/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

apps/elekto: disable http traffic
  apps/elekto/ingress.yaml
Due: k8sio-k8s-resources-verify

add coredns iamge version of 1.8.5
  k8s.gcr.io/images/k8s-staging-coredns/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Release Metrics Server v0.5.1
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

kube-cross: promote v1.23.0-go1.17.1-bullseye.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote new ingress nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote controller images to fix coredump bug
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

kubernetes: Add GCP secret for publishing-bot
  infra/gcp/bash/ensure-main-project.sh
Due: none

../k8s-staging-kube-state-metrics/images.yaml: Promote 2.2.1 release images
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

terraform/k8s-infra-prow-build: add kubernetes-external-secrets
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets-serviceaccounts.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets_crd.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets_rbac.yaml
Due: k8sio-k8s-resources-verify

bash/main: add missing slack-infra secrets
  infra/gcp/bash/ensure-main-project.sh
Due: none

Update infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets.yaml
Due: k8sio-k8s-resources-verify

terraform/k8s-infra-prow-build: add external ip for kubernetes-external-secrets
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets.yaml
Due: k8sio-k8s-resources-verify

apps/slack-infra: rm secret deployment from deploy.sh
  apps/slack-infra/deploy.sh
Due: post-k8sio-deploy-app-slack-infra

apps/slack-infra: add externalsecrets
  apps/slack-infra/resources/slack-event-log/externalsecrets.yaml
  apps/slack-infra/resources/slack-moderator-words/externalsecrets.yaml
  apps/slack-infra/resources/slack-moderator/externalsecrets.yaml
  apps/slack-infra/resources/slack-post-message/externalsecrets.yaml
  apps/slack-infra/resources/slack-welcomer/externalsecrets.yaml
  apps/slack-infra/resources/slackin/externalsecrets.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-slack-infra

publishing-bot: Add ExternalSecret
  apps/publishing-bot/deploy.sh
  apps/publishing-bot/externalsecrets.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-publishing-bot

Revert "Update infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets.yaml"
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets.yaml
Due: k8sio-k8s-resources-verify

kustomize v4.4
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

terraform/k8s-infra-prow-build: add kubernetes-external-secrets namespace
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/namespaces.yaml
Due: k8sio-k8s-resources-verify

promote csi-secrets-store driver:v1.0.0-rc.0
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/generate.sh
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add main, remove master and tip for cluster-api
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

modules/gke-nodepool: add ephemeral_local_ssd_count
  infra/gcp/terraform/modules/gke-nodepool/main.tf
  infra/gcp/terraform/modules/gke-nodepool/variables.tf
Due: none

terraform/k8s-infra-prow-build: add pool5 with ephemeral local ssds
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Due: none

audit: update as of 2021-09-28
  audit/projects/k8s-infra-prow-build/services/monitoring/dashboards/build-cluster-capacity-usage.json
  audit/projects/k8s-infra-prow-build/services/monitoring/dashboards/prow-build-ephemeral-ssd-experiment.json
Due: none

releng: Temporary RM access for ameukam
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

apps/elekto: Update Readme
  README.md
  apps/elekto/README.md
Due: none

terraform/k8s-infra-prow-build: migrate to localssd nodepool
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Due: none

releng: Image promotion for v1.23.0-alpha.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2021-09-28
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

terraform/k8s-infra-prow-build: rm old nodepool
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Due: none

terraform/modules: add roles to workload-identity-service-account
  infra/gcp/terraform/modules/workload-identity-service-account/main.tf
  infra/gcp/terraform/modules/workload-identity-service-account/variables.tf
Due: none

terraform/k8s-infra-prow-build: mv roles to wisa module
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Due: none

terraform/k8s-infra-prow-build-trusted: mv roles to wisa module
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
Due: none

audit: update as of 2021-09-28
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-infra-prow-build/services/monitoring/dashboards/prow-build-ephemeral-ssd-experiment.json
Due: none

tf/k8s-infra-prow-build-trusted: mv secrets from bash
  infra/gcp/bash/prow/ensure-e2e-projects.sh
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
Due: none

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
