Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Do not override condition in buffers limits translator
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/capacitybuffer/translators/resource_limits_translator.go
  cluster-autoscaler/capacitybuffer/translators/resource_limits_translator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Do not trigger buffers reconciliation on core resources resync
  cluster-autoscaler/capacitybuffer/controller/controller.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Remove namespace from GetPodFromTemplate
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/utils/pod/pod.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Implement fake pods resolver
  cluster-autoscaler/capacitybuffer/fakepods/resolver.go
  cluster-autoscaler/capacitybuffer/fakepods/resolver_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Mark GPU node based metrics as deprecated to remove them in future releases.
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add boilerplate headers to dynamic resource utilities module
  cluster-autoscaler/utils/dynamicresources/metrics.go
  cluster-autoscaler/utils/dynamicresources/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chore: :wrench: Update example manifests to run with version v1.35.0
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml
  cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-run-on-control-plane.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Consolidate SetClusterState logic in PredicateSnapshot
  cluster-autoscaler/processors/customresources/csi_processor_test.go
  cluster-autoscaler/processors/customresources/dra_processor_test.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot.go
  cluster-autoscaler/simulator/clustersnapshot/store/basic.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta_benchmark_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add mtrqq to cluster autoscaler reviewers.
  cluster-autoscaler/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

vpa: use shared kind-config.yaml in run-integration-locally.sh
  vertical-pod-autoscaler/hack/run-integration-locally.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

improved cleanupStaleInfeasibleAttempts function
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

nested ifs
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

using errors
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add unit test
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

change recommendation equal to lower
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix NeededResourceClaims indexing in PodInfo tests
  cluster-autoscaler/simulator/framework/infos_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/features.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

modify log line
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

adjust comments
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

cluster-autoscaler/chart: fix misplaced end tag in pdb template
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  cluster-autoscaler/charts/cluster-autoscaler/templates/pdb.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fixed misspelling
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Stabilize benchmark results by disabling GC
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Silence benchmark logs to avoid output noise
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Introduce performance benchmarking for the RunOnce control loop
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Disable predicate parallelism in benchmarks for stability and reproducibility
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Generalize MustCreateManager to support testing.TB
  cluster-autoscaler/test/integration/utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add CPU profiling support to RunOnce benchmarks
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use fast tainting reactors in RunOnce benchmark
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use fast scale-up in RunOnce benchmarks to reduce CPU noise
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add no-op event recorder to benchmarks to avoid dropping events
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add GitHub Actions workflow for Cluster Autoscaler benchmarking
  .github/workflows/ca-benchmark.yaml
Due: none

Rewrite buffer integration tests to envtest
  cluster-autoscaler/Makefile
  cluster-autoscaler/capacitybuffer/controller/controller_test.go
  cluster-autoscaler/test/integration/controllers/capacitybuffer_controller_test.go
  cluster-autoscaler/test/integration/controllers/suite_test.go
  hack/go-unit-tests-ca.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
