Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.4.1-1
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - infra/gcp/bash/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

pull-k8sio-file-promo:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v3.4.1-1
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-deploy-app-gcsweb:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/gcsweb/deploy.sh

post-k8sio-deploy-app-k8s-io:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/k8s-io/deploy.sh

Update buckets.txt
  images/public-log-asn-matcher/buckets.txt
Due: none

Rename to prepare-external-data.sh
  images/public-log-asn-matcher/pg-init.d/lib-01-prepare-external-data.sh
Due: none

audit: update as of 2022-07-25
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20220725.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-staging-cluster-api-gcp/services/logging/logs.json
  audit/projects/k8s-staging-gmsa-webhook/services/logging/logs.json
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

Release kube-dns 1.22.7 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Allow release managers to access to publishing-bot instance
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Fix table promoting iteration
  images/public-log-asn-matcher/pg-init.d/lib-15-promote-bq-dataset-as-prod.sh
Due: none

promote 1.3.0 filestorecsi image to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote EBS CSI driver v1.10.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

drop staging changes
  infra/gcp/bash/ensure-staging-storage.sh
  infra/gcp/bash/lib_ar.sh
  infra/gcp/bash/lib_iam.sh
Due: none

add regions
  infra/gcp/bash/ensure-prod-storage.sh
Due: none

Add a new sig-scheduling-leads group
  groups/restrictions.yaml
  groups/sig-scheduling/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

chore: promote ingress-nginx test-runner
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

promote 1.3.1 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

promote baseimage built by pr 8870
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Image promotion for build-image v1.23.0-go1.17.12-bullseye.0 / v1.24.0-go1.18.4-bullseye.0 / v1.25.0-go1.18.4-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Image promotion for build-image v2.3.1-go1.17.12-bullseye.0 / v2.3.1-go1.18.4-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Image promotion for releng 1.18.3-bullseye-0 / 1.17.12-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Image promotion for releng 1.18.4-bullseye-0 / 1.17.12-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Remove Taahir from the SRC associates
  groups/committee-security-response/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote etcdadm v3.0.20220727 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote dns images 1.22.8 and 1.22.7 platform specific images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote cluster-proportional-autoscaler 1.8.6 images
  k8s.gcr.io/images/k8s-staging-cpa/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

promote ExternalDNS v0.12.2
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add staging service accounts to `roles/iam.serviceAccountTokenCreator`
  infra/gcp/bash/ensure-staging-storage.sh
Due: none

Promote kOps 1.22.6 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.22.6 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.6.yaml
Due: pull-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.23.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.23.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.23.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.3.yaml
Due: pull-k8sio-file-promo, k8sio-k8s-resources-verify

Bump terraform required version and GCP provider
  infra/gcp/terraform/k8s-infra-prow-build-trusted/versions.tf
  infra/gcp/terraform/kubernetes-public/00-inputs.tf
Due: none

kubernetes-public: add bucket k8s-cve-feed
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-serviceaccounts.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/serviceaccounts.tf
  infra/gcp/terraform/kubernetes-public/k8s-cve-feed.tf
Due: k8sio-k8s-resources-verify

kubernetes-public: add bucket k8s-cve-feed (#4009)
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-serviceaccounts.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/serviceaccounts.tf
  infra/gcp/terraform/k8s-infra-prow-build-trusted/versions.tf
  infra/gcp/terraform/kubernetes-public/00-inputs.tf
  infra/gcp/terraform/kubernetes-public/k8s-cve-feed.tf
Due: k8sio-k8s-resources-verify

use dedicated service account for image building.
  images/k8s-infra/cloudbuild.yaml
Due: post-k8sio-push-image-k8s-infra, k8sio-k8s-resources-verify

Promote kOps 1.25.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.25.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.0-alpha.2.yaml
Due: pull-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.24.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.24.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.1.yaml
Due: pull-k8sio-file-promo, k8sio-k8s-resources-verify

images: Bump dependencies for k8s-infra
  images/k8s-infra/Dockerfile
Due: post-k8sio-push-image-k8s-infra

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
