Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Changed code to improve output for files under test/e2e/apimachinery
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/custom_resource_definition.go
  test/e2e/apimachinery/resource_quota.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

skip parallel volume cloning test for gce pd and fix disk not ready error for gce pd
  test/e2e/framework/timeouts.go
  test/e2e/framework/volume/fixtures.go
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/testsuites/provisioning.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

update the grpc field name for consistency
  pkg/apis/core/validation/validation.go
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: fix request count log rotation
  openshift-kube-apiserver/filters/deprecatedapirequest/apiaccess_count_controller.go
  openshift-kube-apiserver/filters/deprecatedapirequest/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/deprecatedapirequest/request_counts.go
  openshift-kube-apiserver/filters/deprecatedapirequest/update_func.go
  openshift-kube-apiserver/filters/deprecatedapirequest/v1helpers/helpers.go
Due: none

UPSTREAM: <drop>: update-vendor
  vendor/github.com/openshift/client-go/apiserver/clientset/versioned/clientset.go
  vendor/github.com/openshift/client-go/apiserver/clientset/versioned/doc.go
  vendor/github.com/openshift/client-go/apiserver/clientset/versioned/fake/clientset_generated.go
  vendor/github.com/openshift/client-go/apiserver/clientset/versioned/fake/doc.go
  vendor/github.com/openshift/client-go/apiserver/clientset/versioned/fake/register.go
  vendor/github.com/openshift/client-go/apiserver/clientset/versioned/typed/apiserver/v1/fake/doc.go
  vendor/github.com/openshift/client-go/apiserver/clientset/versioned/typed/apiserver/v1/fake/fake_apirequestcount.go
  vendor/github.com/openshift/client-go/apiserver/clientset/versioned/typed/apiserver/v1/fake/fake_apiserver_client.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

Add support for setting default namespace and context via env vars
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
Due: pull-kubernetes-godeps

Update to add warnings around using environment variable settings
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
Due: pull-kubernetes-godeps

publishing-bot: remove rules for release-1.19
  staging/publishing/rules.yaml
Due: pull-publishing-bot-validate, pull-kubernetes-godeps

bump TestHTTP1DoNotReuseRequestAfterTimeout timeout
  staging/src/k8s.io/client-go/rest/request_test.go
Due: pull-kubernetes-godeps

Add enj to sig-auth-authenticators-approvers
  OWNERS_ALIASES
Due: none

Committed on 12 2 2021
  2021/12/2/commit.md
Due: none

cleanup: use present typeFrom variable to avoid another reflect.TypeOf call
  staging/src/k8s.io/apimachinery/pkg/conversion/converter.go
Due: pull-kubernetes-godeps

Increase Liveness probe timeout for a e2e test
  test/e2e/common/node/container_probe.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix: show response err message when kubectl edit 'Not Found'
  staging/src/k8s.io/kubectl/pkg/cmd/util/editor/editoptions.go
Due: pull-kubernetes-godeps

fix mapToUnstructured error message
  staging/src/k8s.io/apimachinery/pkg/runtime/converter.go
Due: pull-kubernetes-godeps

Drop 1.19 release branch rules for publishing-bot
  staging/publishing/rules.yaml
Due: pull-publishing-bot-validate, pull-kubernetes-godeps

test/e2e/storage: replace mock driver with hostpath driver
  test/e2e/storage/drivers/csi.go
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

storage e2e: hostpath driver v1.7.3
  test/e2e/testing-manifests/storage-csi/external-attacher/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-health-monitor/external-health-monitor-agent/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-health-monitor/external-health-monitor-controller/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-provisioner/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-resizer/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/csi-snapshotter/rbac-csi-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/README.md
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

storage e2e: update snapshotter sidecard RBAC
  test/e2e/testing-manifests/storage-csi/external-snapshotter/csi-snapshotter/rbac-csi-snapshotter.yaml
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: 105910: retry PV create in e2e-test on API quota failure
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e/framework/pv/pv.go
  test/e2e/framework/timeouts.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/framework/volume_resource.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
  test/e2e/storage/persistent_volumes-gce.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/persistent_volumes.go
  test/e2e/storage/ubernetes_lite_volumes.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/vsphere/persistent_volumes-vsphere.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <drop>: revert to go1.16
  .ci-operator.yaml
Due: none

storage e2e: update mock deployment
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
  test/e2e/testing-manifests/storage-csi/update-hostpath.sh
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

add ELBRbsFinalizer
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
Due: pull-kubernetes-godeps

first pass metrics
  staging/src/k8s.io/component-base/metrics/prometheus/controllers/metrics.go
Due: pull-kubernetes-godeps

staging: add dummy commit to trigger gomod update
  staging/src/k8s.io/api/README.md
  staging/src/k8s.io/apiextensions-apiserver/README.md
  staging/src/k8s.io/apimachinery/README.md
  staging/src/k8s.io/apiserver/README.md
  staging/src/k8s.io/cli-runtime/README.md
  staging/src/k8s.io/cloud-provider/README.md
  staging/src/k8s.io/cluster-bootstrap/README.md
  staging/src/k8s.io/code-generator/README.md
  staging/src/k8s.io/component-base/README.md
  staging/src/k8s.io/component-helpers/README.md
  staging/src/k8s.io/controller-manager/README.md
  staging/src/k8s.io/cri-api/README.md
  staging/src/k8s.io/csi-translation-lib/README.md
  staging/src/k8s.io/kube-aggregator/README.md
  staging/src/k8s.io/kube-controller-manager/README.md
  staging/src/k8s.io/kube-proxy/README.md
  staging/src/k8s.io/kube-scheduler/README.md
  staging/src/k8s.io/kubectl/README.md
  staging/src/k8s.io/kubelet/README.md
  staging/src/k8s.io/legacy-cloud-providers/README.md
  staging/src/k8s.io/metrics/README.md
  staging/src/k8s.io/mount-utils/README.md
  staging/src/k8s.io/pod-security-admission/README.md
  staging/src/k8s.io/sample-apiserver/README.md
  staging/src/k8s.io/sample-cli-plugin/README.md
  staging/src/k8s.io/sample-controller/README.md
Due: pull-kubernetes-godeps

staging: add dummy commit to trigger gomod update (#106794)
  staging/src/k8s.io/api/README.md
  staging/src/k8s.io/apiextensions-apiserver/README.md
  staging/src/k8s.io/apimachinery/README.md
  staging/src/k8s.io/apiserver/README.md
  staging/src/k8s.io/cli-runtime/README.md
  staging/src/k8s.io/cloud-provider/README.md
  staging/src/k8s.io/cluster-bootstrap/README.md
  staging/src/k8s.io/code-generator/README.md
  staging/src/k8s.io/component-base/README.md
  staging/src/k8s.io/component-helpers/README.md
  staging/src/k8s.io/controller-manager/README.md
  staging/src/k8s.io/cri-api/README.md
  staging/src/k8s.io/csi-translation-lib/README.md
  staging/src/k8s.io/kube-aggregator/README.md
  staging/src/k8s.io/kube-controller-manager/README.md
  staging/src/k8s.io/kube-proxy/README.md
  staging/src/k8s.io/kube-scheduler/README.md
  staging/src/k8s.io/kubectl/README.md
  staging/src/k8s.io/kubelet/README.md
  staging/src/k8s.io/legacy-cloud-providers/README.md
  staging/src/k8s.io/metrics/README.md
  staging/src/k8s.io/mount-utils/README.md
  staging/src/k8s.io/pod-security-admission/README.md
  staging/src/k8s.io/sample-apiserver/README.md
  staging/src/k8s.io/sample-cli-plugin/README.md
  staging/src/k8s.io/sample-controller/README.md
Due: pull-kubernetes-godeps

Committed on 12 3 2021
  2021/12/3/commit.md
Due: none

switch dockershim.sock back to v1alpha2 to not break any tools having dependency on it
  pkg/kubelet/cri/streaming/server.go
  pkg/kubelet/cri/streaming/server_test.go
  pkg/kubelet/dockershim/convert.go
  pkg/kubelet/dockershim/convert_test.go
  pkg/kubelet/dockershim/doc.go
  pkg/kubelet/dockershim/docker_container.go
  pkg/kubelet/dockershim/docker_container_test.go
  pkg/kubelet/dockershim/docker_container_unsupported.go
  pkg/kubelet/dockershim/docker_container_windows.go
  pkg/kubelet/dockershim/docker_container_windows_test.go
  pkg/kubelet/dockershim/docker_image.go
  pkg/kubelet/dockershim/docker_image_linux.go
  pkg/kubelet/dockershim/docker_image_test.go
  pkg/kubelet/dockershim/docker_image_unsupported.go
  pkg/kubelet/dockershim/docker_image_windows.go
  pkg/kubelet/dockershim/docker_logs.go
  pkg/kubelet/dockershim/docker_sandbox.go
  pkg/kubelet/dockershim/docker_sandbox_test.go
  pkg/kubelet/dockershim/docker_service.go
  pkg/kubelet/dockershim/docker_service_test.go
  pkg/kubelet/dockershim/docker_stats.go
  pkg/kubelet/dockershim/docker_stats_linux.go
  pkg/kubelet/dockershim/docker_stats_test.go
  pkg/kubelet/dockershim/docker_stats_unsupported.go
  pkg/kubelet/dockershim/docker_stats_windows.go
  pkg/kubelet/dockershim/docker_streaming.go
  pkg/kubelet/dockershim/helpers.go
  pkg/kubelet/dockershim/helpers_linux.go
  pkg/kubelet/dockershim/helpers_test.go
  pkg/kubelet/dockershim/helpers_unsupported.go
  pkg/kubelet/dockershim/helpers_windows.go
  pkg/kubelet/dockershim/naming.go
  pkg/kubelet/dockershim/naming_test.go
  pkg/kubelet/dockershim/network/cni/cni.go
  pkg/kubelet/dockershim/network/cni/cni_others.go
  pkg/kubelet/dockershim/network/cni/cni_windows.go
  pkg/kubelet/dockershim/remote/docker_server.go
  pkg/kubelet/dockershim/security_context.go
  pkg/kubelet/dockershim/security_context_test.go
  pkg/kubelet/dockershim/selinux_util.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

Move code related with findNodesThatFitPod() from generic_scheduler.go to scheduler.go
  pkg/scheduler/generic_scheduler.go
  pkg/scheduler/scheduler.go
Due: none

UPSTREAM: <carry>: update base image for go1.17
  .ci-operator.yaml
Due: none

disable gce service handling if has rbs forwarding rule
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
Due: pull-kubernetes-godeps

add gce loadbalancer no-op finalizer and existingFwdRule tests
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
Due: pull-kubernetes-godeps

fix(apimachinery): fix BinarySI resource overflow
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go
Due: pull-kubernetes-godeps

return ErrNotInCluster where service account file does not exist
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
Due: pull-kubernetes-godeps

Revert dockershim CRI v1 changes
  pkg/kubelet/cri/remote/conversion.go
  pkg/kubelet/dockershim/convert.go
  pkg/kubelet/dockershim/convert_test.go
  pkg/kubelet/dockershim/docker_container.go
  pkg/kubelet/dockershim/docker_container_test.go
  pkg/kubelet/dockershim/docker_container_unsupported.go
  pkg/kubelet/dockershim/docker_container_windows.go
  pkg/kubelet/dockershim/docker_container_windows_test.go
  pkg/kubelet/dockershim/docker_image.go
  pkg/kubelet/dockershim/docker_image_linux.go
  pkg/kubelet/dockershim/docker_image_test.go
  pkg/kubelet/dockershim/docker_image_unsupported.go
  pkg/kubelet/dockershim/docker_image_windows.go
  pkg/kubelet/dockershim/docker_logs.go
  pkg/kubelet/dockershim/docker_sandbox.go
  pkg/kubelet/dockershim/docker_sandbox_test.go
  pkg/kubelet/dockershim/docker_service.go
  pkg/kubelet/dockershim/docker_service_test.go
  pkg/kubelet/dockershim/docker_stats.go
  pkg/kubelet/dockershim/docker_stats_linux.go
  pkg/kubelet/dockershim/docker_stats_test.go
  pkg/kubelet/dockershim/docker_stats_unsupported.go
  pkg/kubelet/dockershim/docker_stats_windows.go
  pkg/kubelet/dockershim/docker_streaming.go
  pkg/kubelet/dockershim/helpers.go
  pkg/kubelet/dockershim/helpers_linux.go
  pkg/kubelet/dockershim/helpers_test.go
  pkg/kubelet/dockershim/helpers_unsupported.go
  pkg/kubelet/dockershim/helpers_windows.go
  pkg/kubelet/dockershim/naming.go
  pkg/kubelet/dockershim/naming_test.go
  pkg/kubelet/dockershim/network/cni/cni.go
  pkg/kubelet/dockershim/network/cni/cni_others.go
  pkg/kubelet/dockershim/network/cni/cni_windows.go
  pkg/kubelet/dockershim/remote/docker_server.go
  pkg/kubelet/dockershim/remote/docker_server_test.go
  pkg/kubelet/dockershim/security_context.go
  pkg/kubelet/dockershim/security_context_test.go
  pkg/kubelet/dockershim/selinux_util.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

Add status count to the storage_operation_duration_seconds volume metric
  test/e2e/storage/volume_metrics.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel
