Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

CA: implement an integration TestClusterStateRegistryScaleUpWithDeletedNodes
  cluster-autoscaler/test/integration/inmemory/clusterstateregistry_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: add the ability to configure different method behaviors to fake CloudProvider
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: use consistent logic for determining upcoming Nodes in ClusterStateRegistry
  cluster-autoscaler/clusterstate/clusterstate.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: add the ability to simulate Node object delays to fake CloudProvider
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: change some default AutoscalingOptions used in integration tests
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/test/integration/config.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: systemize Node processing in fake CloudProvider
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
  cluster-autoscaler/test/integration/inmemory/staticautoscaler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

azure: report deleting instances as gone from HasInstance
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Handle failed node creations without instance IDs by decreasing nodepool target size instead of calling delete.
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use placeholder nodes created by the CA to delete nodes that cannot be provisioned.
  cluster-autoscaler/cloudprovider/oci/common/consts.go
  cluster-autoscaler/cloudprovider/oci/common/oci_ref.go
  cluster-autoscaler/cloudprovider/oci/instancepools/consts/annotations.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_cache.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[cluster-autoscaler-release-1.36] CA: use consistent logic for determining upcoming Nodes in ClusterStateRegistry (#9868)
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
  cluster-autoscaler/test/integration/config.go
  cluster-autoscaler/test/integration/inmemory/clusterstateregistry_test.go
  cluster-autoscaler/test/integration/inmemory/staticautoscaler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(oci): support node-template tags for OKE node pools
  cluster-autoscaler/cloudprovider/oci/README.md
  cluster-autoscaler/cloudprovider/oci/nodepools/node_template_tags.go
  cluster-autoscaler/cloudprovider/oci/nodepools/node_template_tags_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Improve benchmark performance by using lightweight fake clientsets
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
  cluster-autoscaler/test/integration/inmemory/provreq_test.go
  cluster-autoscaler/test/integration/utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Increase benchmark run count to 8 for better statistical stability
  .github/workflows/ca-benchmark.yaml
Due: none

Increase scale of RunOnce benchmarks to 1000s nodes
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add DRA bench scenarios to CA
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Cleanup: remove redundant in-place-skip-disruption-budget V(4) log
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

CA: make tainting concurrency configurable
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/test/integration/config.go
  cluster-autoscaler/test/integration/inmemory/tainting_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: embed and propagate context in AutoscalingContext
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch_test.go
  cluster-autoscaler/core/scaledown/actuation/drain_test.go
  cluster-autoscaler/core/scaledown/actuation/group_deletion_scheduler_test.go
  cluster-autoscaler/core/scaledown/actuation/priority_test.go
  cluster-autoscaler/core/scaledown/actuation/softtaint_test.go
  cluster-autoscaler/core/scaledown/budgets/budgets_test.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/processors/nodes/scale_down_set_processor_test.go
  cluster-autoscaler/processors/provreq/processor_test.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
  cluster-autoscaler/test/integration/inmemory/tainting_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(metrics): create new metric per node group
  cluster-autoscaler/metrics/legacy_functions.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/metrics/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(core): implement new metric
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/core/utils/utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chore: fix lint issue
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/metrics/legacy_functions.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update k8s deps to v1.34.9
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update k8s deps to v1.33.13
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add in-place infeasible cached metric
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

cleanup: remove redundant in-place resize log
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

add disruption cost scale-down proposal
  cluster-autoscaler/proposals/disruption_cost.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

vpa: remove redundant in-place-skip-disruption-budget log
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix(azure): prevent VMSS target size panic on cached negative size
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix(azure): avoid negative VMSS size cache on delete
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

docs(azure): note canIncreaseSize -1 branch is now defensive
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix: invalidate VMSS size cache on delete failure
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

docs: note VMSS DeleteNodes min-size follow-up
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build
