Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-modsecurity, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-e2e-image-debian, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-opentelemetry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-modsecurity:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

COPS-8923_nginx_update - Updated values
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

revert LD_LIBRARY_PATH changes
  rootfs/Dockerfile
  rootfs/Dockerfile.chroot
Due: none

Create Openssf scorecard
  .github/workflows/scorecards.yml
Due: none

pinning deps for CI
  .github/workflows/ci.yaml
Due: none

update all the actions and pin them
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
  .github/workflows/release.txt
Due: none

Delete entrypoint script and add sidecar lib path
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/entrypoint.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

COPS-8923_nginx_update - testing new charts directory
  charts/ingress-nginx/charts/ingress/.helmignore
  charts/ingress-nginx/charts/ingress/Chart.yaml
  charts/ingress-nginx/charts/ingress/templates/_helpers.tpl
  charts/ingress-nginx/charts/ingress/templates/ingress.yaml
  charts/ingress-nginx/charts/ingress/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - Removing incorrect values
  charts/ingress-nginx/charts/ingress/templates/ingress.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - correcting values
  charts/ingress-nginx/charts/ingress/templates/ingress.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - correcting values +1
  charts/ingress-nginx/charts/ingress/templates/ingress.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - correcting values +2
  charts/ingress-nginx/charts/ingress/templates/ingress.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - correcting values +3
  charts/ingress-nginx/charts/ingress/templates/ingress.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

get opentelemetry sidecar running
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/init_module.sh
  internal/ingress/annotations/opentelemetry/main.go
  internal/ingress/annotations/opentelemetry/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
  rootfs/Dockerfile
  rootfs/Dockerfile.chroot
  rootfs/etc/nginx/template/nginx.tmpl
Due: post-ingress-nginx-build-opentelemetry, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Improve CICD flow (#4)
  CHANGELOG.md
  Jenkinsfile
  bin/package.sh
Due: pull-ingress-nginx-boilerplate

support extraEnvs for job resources in helm chart (#8545)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/deployment-webhook-extraEnvs-values.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

make otel libs path otel specific
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

add description
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

Bump chart version to 4.1.5
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

remove library path adaption from nginx base image
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

add otel library path adaption to root Dockerfiles
  rootfs/Dockerfile
  rootfs/Dockerfile.chroot
Due: none

add new summary metric: ingress_header_seconds
  internal/ingress/metric/collectors/socket.go
  rootfs/etc/nginx/lua/monitor.lua
  rootfs/etc/nginx/lua/test/monitor_test.lua
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

add new summary metric: ingress_header_seconds (#8726)
  internal/ingress/metric/collectors/socket.go
  rootfs/etc/nginx/lua/monitor.lua
  rootfs/etc/nginx/lua/test/monitor_test.lua
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

Change ingress_upstream_latency_seconds from Summary to Histogram
  deploy/grafana/dashboards/request-handling-performance.json
  internal/ingress/metric/collectors/socket.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

clean prometheus metrics
  internal/ingress/metric/collectors/socket.go
  internal/ingress/metric/collectors/socket_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

update prometheus metrics tests
  internal/ingress/metric/collectors/socket_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

remove ingress_upstream_header_seconds metric
  internal/ingress/metric/collectors/socket.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

add documentation on prometheus metrics
  docs/user-guide/cli-arguments.md
  docs/user-guide/monitoring.md
Due: none

Working OpenTelemetry sidecar (base nginx image) (#8719)
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/entrypoint.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

developing k6 perftest (#8581)
  .github/workflows/perftest.yaml
  build/dev-env.sh
  test/k6/README.md
  test/k6/loadtest.js
  test/k6/smoketest.js
Due: pull-ingress-nginx-boilerplate

fix openssf scorecards
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
  .github/workflows/perftest.yaml
Due: none

add sc run on pr
  .github/workflows/scorecards.yml
Due: none

missed one
  .github/workflows/ci.yaml
Due: none

update helm to another action
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
  .github/workflows/perftest.yaml
Due: none

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-modsecurity: any of: images/modsecurity/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-e2e-image-debian: any of: images/test-runner-debian/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
