Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

Remove tests when StorageObjectInUseProtection feature is disabled
  pkg/controller/volume/persistentvolume/index_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

apf: include seat information in request dump
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller_debug.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/debug/dump.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/types.go
Due: pull-kubernetes-godeps

remove unused import
  pkg/kubelet/kubelet.go
Due: pull-kubernetes-local-e2e-containerized

Add log for creating node shutdown manager
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
Due: pull-kubernetes-local-e2e-containerized

apf: include seats in use in queue dump
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller_debug.go
Due: pull-kubernetes-godeps

Refactor to use structure to pass parameters
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_others.go
Due: pull-kubernetes-local-e2e-containerized

Lock StorageObjectInUseProtection feature gate to default
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

cpumanager: topology: use rich cmp package
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
Due: pull-kubernetes-local-e2e-containerized

Abstract out whether NUMA or Sockets come first in the memory hierarchy
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
Due: pull-kubernetes-local-e2e-containerized

staging/publishing: Set go1.16 version to go1.16.9
  staging/publishing/rules.yaml
Due: pull-publishing-bot-validate, pull-kubernetes-godeps

Feature flag openapi v3
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

e2e: restore volume lifecycle check for most tests, II
  test/e2e/storage/drivers/csi.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Update the binary version file for NPD to 0.8.10-gke0.1
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke

fix: skip instance not found when decoupling vmss from lb
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Fix shellcheck output streams
  hack/verify-shellcheck.sh
Due: none

Fix name for Pods of NonIndexed Jobs
  pkg/controller/controller_utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Due: none

fix:cached claim is not the newest will cause unexpected issue
  pkg/controller/volume/persistentvolume/binder_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Allow updating node affinity, selector and tolerations for suspended jobs that never started
  pkg/apis/batch/validation/validation.go
  pkg/apis/batch/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
  test/integration/job/job_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-conformance-kind-ipv6-parallel

SSH_USER:-
  hack/make-rules/test-e2e-node.sh
Due: pull-kubernetes-files-remake

apf: include queue sum stats in debug
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller_debug.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/debug/dump.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/types.go
Due: pull-kubernetes-godeps

Migrated pkg/proxy to structured logging (#104891)
  pkg/proxy/endpoints.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/service.go
  pkg/proxy/topology.go
Due: none

apf: change QueueDump to use SeatSeconds
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller_debug.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/debug/dump.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/types.go
Due: pull-kubernetes-godeps

node: e2e: clarify findKubeletService
  test/e2e_node/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

cpumanager: test: use proper subtests
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
Due: pull-kubernetes-local-e2e-containerized

support more than 100 disk mounts on Windows
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
  staging/src/k8s.io/mount-utils/mount_helper_windows_test.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-godeps

[go1.17] Update to go1.17.2
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  cluster/images/etcd/Makefile
  staging/publishing/rules.yaml
  test/images/Makefile
Due: pull-publishing-bot-validate, pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Wire contexts to Apps controllers
  cmd/kube-controller-manager/app/apps.go
  cmd/kube-controller-manager/app/core.go
  pkg/controller/controller_ref_manager.go
  pkg/controller/controller_ref_manager_test.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
  pkg/controller/daemon/update.go
  pkg/controller/daemon/update_test.go
  pkg/controller/deployment/deployment_controller.go
  pkg/controller/deployment/deployment_controller_test.go
  pkg/controller/deployment/progress.go
  pkg/controller/deployment/progress_test.go
  pkg/controller/deployment/recreate.go
  pkg/controller/deployment/recreate_test.go
  pkg/controller/deployment/rollback.go
  pkg/controller/deployment/rolling.go
  pkg/controller/deployment/rolling_test.go
  pkg/controller/deployment/sync.go
  pkg/controller/deployment/sync_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/replicaset/replica_set_test.go
  pkg/controller/statefulset/stateful_pod_control.go
  pkg/controller/statefulset/stateful_pod_control_test.go
  pkg/controller/statefulset/stateful_set.go
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_status_updater.go
  pkg/controller/statefulset/stateful_set_status_updater_test.go
  pkg/controller/statefulset/stateful_set_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/deployment/deployment_test.go
  test/integration/quota/quota_test.go
  test/integration/replicaset/replicaset_test.go
  test/integration/replicationcontroller/replicationcontroller_test.go
  test/integration/statefulset/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix CSI mount log
  pkg/volume/csi/csi_mounter.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Free APF seats for watches handled by an aggregated apiserver.
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_context.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
Due: pull-kubernetes-godeps

Migrated pkg/proxy/ipvs to structured logging (#104932)
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/ipset.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

Add more extensive testing for NUMA distribution algorithm in CPUManager
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
Due: pull-kubernetes-local-e2e-containerized

Fix strict json decoder test
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_test.go
Due: pull-kubernetes-godeps

kube-apiserver: wires the notFoundHandler
  cmd/kube-apiserver/app/server.go
Due: none

Add optimizations to reduce iterations in distributed NUMA algorithm
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
Due: pull-kubernetes-local-e2e-containerized

update modules.txt
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

Added algorithm to CPUManager to distribute CPUs across NUMA nodes
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
Due: pull-kubernetes-local-e2e-containerized

Add missing json tag on internal unstructured list
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/helpers.go
Due: pull-kubernetes-godeps

mark kube-proxy structured logs as migrated
  hack/.structured_logging
Due: none

Add 2 distinguishing test cases between the 2 takeByTopology algorithms
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
Due: pull-kubernetes-local-e2e-containerized

fix: patchNode retry logic
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/apiclient/idempotency_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
