Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Update description of resource-consumer version
  test/images/resource-consumer/README.md
Due: post-kubernetes-push-e2e-resource-consumer-test-images, pull-kubernetes-conformance-kind-ipv6-parallel

serviceaccount: include jti and requester user info
  pkg/registry/core/serviceaccount/storage/token.go
  pkg/serviceaccount/claims.go
  staging/src/k8s.io/apiserver/pkg/authentication/serviceaccount/util.go
Due: pull-kubernetes-godeps

Update the container images used in cloudbuild to their latest version
  build/dependencies.yaml
  build/pause/cloudbuild.yaml
  cluster/images/etcd/cloudbuild.yaml
  test/images/cloudbuild.yaml
Due: post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Catch direct references to unwanted dependencies in kubernetes modules
  cmd/dependencyverifier/dependencyverifier.go
  hack/unwanted-dependencies.json
Due: none

dra: cleanup manager unit tests
  pkg/kubelet/cm/dra/manager_test.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-kind-dra

liveness and readiness probe delays
  pkg/kubelet/prober/worker.go
  pkg/kubelet/prober/worker_test.go
Due: pull-kubernetes-local-e2e-containerized

cache node volumes & reduce processVolumesInUse loop
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/cache/actual_state_of_world.go
  pkg/controller/volume/attachdetach/cache/actual_state_of_world_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Rewrite the tests to be table driven
  pkg/controller/controller_utils_test.go
Due: none

Local PV Stress test: don't fail on deleting missing PV
  test/e2e/storage/persistent_volumes-local.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

when kubelet restarts pid/memory/disk pressure taints will not be wiped
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/mock_threshold_notifier_test.go
  pkg/kubelet/eviction/types.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Fix Probe initialDelaySeconds doc
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

Fix Probe initialDelaySeconds generated docs
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Due: pull-kubernetes-godeps

fix flaky test on dra TestPrepareResources/should_timeout
  pkg/kubelet/cm/dra/manager_test.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-kind-dra

UPSTREAM: <drop>: update vendor
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
Due: check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-kind-dra, pull-kubernetes-godeps

Added Kind/ResourceScope support in APIService model
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/types.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/types.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/types.go
Due: pull-kubernetes-godeps

make job.status.active and job.status.failed be filtered in the server-side
  pkg/apis/batch/v1/conversion.go
  pkg/registry/batch/job/strategy.go
Due: none

kubeadm: fix nil pointer when etcd member is already removed
  cmd/kubeadm/app/util/etcd/etcd.go
Due: pull-kubernetes-e2e-kubeadm-gce

Fix some typo in kubelet component source code
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/nodeshutdown/systemd/inhibit_linux.go
  pkg/kubelet/pluginmanager/operationexecutor/operation_executor.go
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher_test.go
  pkg/kubelet/runonce.go
  pkg/kubelet/status/status_manager.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

allow to mutate pv nodeaffinity label key
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Due: none

fix tests
  cmd/kube-apiserver/app/options/options_test.go
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/after/v1alpha1.yaml
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/roundtrip/default/v1alpha1.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

fix tests
  cmd/kube-proxy/app/server_test.go
  pkg/proxy/apis/config/fuzzer/fuzzer.go
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/after/v1alpha1.yaml
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/roundtrip/default/v1alpha1.yaml
  pkg/proxy/apis/config/v1alpha1/defaults.go
  pkg/proxy/apis/config/v1alpha1/defaults_test.go
Due: none

Statefulset should wait for new replicas when removing .start.ordinal
  test/e2e/apps/statefulset.go
  test/e2e/apps/wait.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

reduce too many util pkg for testing.
  pkg/controller/volume/attachdetach/util/util_test.go
  pkg/kubelet/runonce_test.go
  pkg/kubelet/volumemanager/volume_manager_test.go
  pkg/util/removeall/removeall_test.go
  pkg/volume/cephfs/cephfs_test.go
  pkg/volume/csi/csi_client_test.go
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/csi/csi_test.go
  pkg/volume/csi/nodeinfomanager/nodeinfomanager_test.go
  pkg/volume/csi/testing/testing.go
  pkg/volume/downwardapi/downwardapi_test.go
  pkg/volume/emptydir/empty_dir_test.go
  pkg/volume/fc/fc_test.go
  pkg/volume/flexvolume/flexvolume_test.go
  pkg/volume/iscsi/iscsi_test.go
  pkg/volume/local/local_test.go
  pkg/volume/metrics_du_test.go
  pkg/volume/metrics_statfs_test.go
  pkg/volume/nfs/nfs_test.go
  pkg/volume/portworx/portworx_test.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/atomic_writer_test.go
  pkg/volume/volume_linux_test.go
  pkg/volume/vsphere_volume/vsphere_volume_block_test.go
  pkg/volume/vsphere_volume/vsphere_volume_test.go
  staging/src/k8s.io/client-go/util/testing/tmpdir.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-godeps

Fix a job quota related deadlock
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
Due: none

add tests to reproduce bugs in preemption
  test/integration/scheduler/preemption/preemption_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix: when PreFilter returns UnschedulableAndUnresolvable, copy the state in all nodes in statusmap
  pkg/scheduler/schedule_one.go
Due: none

run all PreFilter when the preemption will happen later in the same scheduling cycle
  pkg/scheduler/framework/runtime/framework.go
Due: none

fix link failure for changelog
  CHANGELOG/CHANGELOG-1.25.md
Due: none

[refactor] client-go/cache add DeletionHandlingCast to reduce duplicated code for handle DeletedFinalStateUnknown objects
  pkg/controller/certificates/certificate_controller.go
  pkg/controller/certificates/rootcacertpublisher/publisher.go
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/deployment/deployment_controller.go
  pkg/controller/disruption/disruption.go
  pkg/controller/endpointslicemirroring/utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/resourceclaim/controller.go
  pkg/controller/serviceaccount/serviceaccounts_controller.go
  pkg/controller/statefulset/stateful_set.go
  pkg/controller/storageversiongc/gc_controller.go
  pkg/controller/ttl/ttl_controller.go
  pkg/controller/util/node/controller_utils.go
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller.go
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  pkg/proxy/config/config.go
  pkg/scheduler/eventhandlers.go
  plugin/pkg/auth/authorizer/node/graph_populator.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_discovery_controller.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/apiapproval/apiapproval_controller.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/nonstructuralschema/nonstructuralschema_controller.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapiv3/controller.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/status/naming_controller.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader_controller.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/configmap_cafile_content.go
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/endpointslice/util/controller_utils.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiservice_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/autoregister/autoregister_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  staging/src/k8s.io/sample-controller/controller.go
Due: pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-kind-dra, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-godeps

e2e_common: stop using deprecated framework.ExpectEqual
  test/e2e/common/node/configmap.go
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/init_container.go
  test/e2e/common/node/kubelet.go
  test/e2e/common/node/lease.go
  test/e2e/common/node/node_lease.go
  test/e2e/common/node/pods.go
  test/e2e/common/node/podtemplates.go
  test/e2e/common/node/runtime.go
  test/e2e/common/node/runtimeclass.go
  test/e2e/common/node/secrets.go
  test/e2e/common/node/security_context.go
  test/e2e/common/node/sysctl.go
  test/e2e/common/storage/empty_dir.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Dont reorder imports
  pkg/controller/cronjob/cronjob_controllerv2.go
Due: none

remove all content of empty-dir dirs
  pkg/kubelet/kubelet_volumes.go
  pkg/volume/emptydir/empty_dir.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

apiserver/httplog: pretty up impersonation output
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Due: pull-kubernetes-godeps

client-go: log proper 'caches populated' message, with type and source and only once
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Due: pull-kubernetes-godeps

Drop [Feature: tag to make sure this tests runs on pre-submits
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Code review fix: Move GetPodQOS code to ComputePodQOS. If set, return PodStatus.QOSClass from GetPodQOS.
  pkg/apis/core/helper/qos/qos.go
  pkg/apis/core/v1/helper/qos/qos.go
  pkg/apis/core/v1/helper/qos/qos_test.go
  pkg/apis/core/validation/validation.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/cm/memorymanager/policy_static.go
  pkg/kubelet/cm/pod_container_manager_linux.go
  pkg/kubelet/cm/qos_container_manager_linux.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/preemption/preemption.go
  pkg/kubelet/qos/policy.go
  pkg/quota/v1/evaluator/core/pods.go
  plugin/pkg/admission/podtolerationrestriction/admission.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/util/qos/qos.go
  test/e2e/scheduling/priorities.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Perf optimization: Move away from GetPodQOS, using PodStatus.QOSClass instead
  pkg/apis/core/helper/qos/qos.go
  pkg/apis/core/v1/helper/qos/qos.go
  pkg/apis/core/validation/validation.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/cm/memorymanager/policy_static.go
  pkg/kubelet/cm/pod_container_manager_linux.go
  pkg/kubelet/cm/qos_container_manager_linux.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/preemption/preemption.go
  pkg/kubelet/qos/policy.go
  pkg/quota/v1/evaluator/core/pods.go
  plugin/pkg/admission/podtolerationrestriction/admission.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/util/qos/qos.go
  test/e2e/scheduling/priorities.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps
