Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, post-kubernetes-push-image-pause, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-image-pause:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kubernetes
      - --scratch-bucket=gs://k8s-staging-kubernetes-gcb
  ...

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-aks-engine-azure:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

sort containers by attempt number
  pkg/kubelet/container/runtime.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_gc.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/pod_container_deletor.go
Due: pull-kubernetes-local-e2e-containerized

basic regression test of runDockershim
  pkg/kubelet/kubelet_dockerless_test.go
  pkg/kubelet/kubelet_test.go
Due: pull-kubernetes-local-e2e-containerized

Add test case for a pod becoming schedulable when another pod is added
  test/integration/scheduler/predicates_test.go
Due: none

Test a pod becoming schedulable when a scheduled pod is updated
  test/integration/scheduler/predicates_test.go
Due: none

UPSTREAM: 92197: make log output of failed healthchecks more focused
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
Due: pull-kubernetes-godeps

Address comments
  test/conformance/behaviors/sig-apps/daemonset.yaml
  test/e2e/apps/daemon_set.go
Due: pull-kubernetes-conformance-image-test

update yaml
  test/conformance/testdata/conformance.yaml
Due: pull-kubernetes-conformance-image-test

refactor and instrument range_allocator cidr_sets
  pkg/controller/nodeipam/ipam/cidrset/BUILD
  pkg/controller/nodeipam/ipam/cidrset/cidr_set.go
  pkg/controller/nodeipam/ipam/cidrset/cidr_set_test.go
  pkg/controller/nodeipam/ipam/cidrset/metrics.go
Due: none

Check for either Docker or Containerd getting active for e2e_node tests
  cluster/gce/gci/configure.sh
  test/e2e_node/runner/remote/run_remote.go
Due: pull-kubernetes-e2e-gke

test: Start a pod with nc instead of execing a background command
  test/e2e/storage/host_path_type.go
Due: none

hack/local-up-cluster: optimze exit when run as daemon
  hack/local-up-cluster.sh
Due: none

debug
  hack/local-up-cluster.sh
Due: none

Enrich the unit tests for azure_standard
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Pods which have not "started" can not be "ready"
  pkg/kubelet/prober/prober_manager.go
Due: pull-kubernetes-local-e2e-containerized

Make verify-api-groups.sh not depend on GOPATH
  hack/verify-api-groups.sh
Due: none

remove unnecessary certs generation
  cluster/gce/gci/configure-helper.sh
  cluster/gce/util.sh
Due: pull-kubernetes-e2e-gke

Add alpha feature gate SELinuxRelabelPolicy
  pkg/features/kube_features.go
Due: none

Add API for skipping SELinux label change on pod startup.
  pkg/apis/core/types.go
  pkg/apis/storage/types.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/storage/v1/types.go
  staging/src/k8s.io/api/storage/v1beta1/types.go
Due: pull-kubernetes-godeps

Sync v1 and internal PodSecurityContext
  pkg/apis/core/types.go
Due: none

Add examples to CSIDriver.SELinuxRelabelOnVolumeMount
  pkg/apis/storage/types.go
  staging/src/k8s.io/api/storage/v1/types.go
Due: pull-kubernetes-godeps

Add validation for SELinuxRelabelPolicy
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/storage/v1beta1/defaults.go
  pkg/apis/storage/validation/validation_test.go
  pkg/registry/storage/csidriver/strategy.go
  pkg/registry/storage/csidriver/strategy_test.go
Due: none

Explicitly declare the interfaces for extension points
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread.go
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
Due: none

Fix DS expectations on recreate
  pkg/controller/daemon/BUILD
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
  pkg/controller/daemon/init_test.go
  pkg/controller/daemon/update_test.go
Due: none

Add SELinuxRelabelPolicy support to AWS EBS
  pkg/kubelet/kubelet_pods.go
  pkg/util/selinux/selinux_linux.go
  pkg/util/selinux/selinux_unsupported.go
  pkg/volume/awsebs/attacher.go
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/util.go
  pkg/volume/volume.go
Due: pull-kubernetes-local-e2e-containerized

Add MountDeviceOptions to MountDevice
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
  pkg/volume/awsebs/attacher.go
  pkg/volume/azure_dd/attacher.go
  pkg/volume/cinder/attacher.go
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/fc/attacher.go
  pkg/volume/flexvolume/attacher-defaults.go
  pkg/volume/flexvolume/attacher.go
  pkg/volume/flexvolume/attacher_test.go
  pkg/volume/gcepd/attacher.go
  pkg/volume/iscsi/attacher.go
  pkg/volume/local/local.go
  pkg/volume/local/local_test.go
  pkg/volume/rbd/attacher.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
  pkg/volume/vsphere_volume/attacher.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file

Add SELinuxRelabelPolicy support to CSI
  pkg/volume/awsebs/attacher.go
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csi/csi_test.go
  pkg/volume/util/BUILD
  pkg/volume/util/util.go
Due: none

cleanup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/retry_detector.go
Due: pull-kubernetes-godeps

Remove --export flag from kubectl get command.
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
  staging/src/k8s.io/cli-runtime/pkg/resource/helper.go
  staging/src/k8s.io/cli-runtime/pkg/resource/helper_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/selector.go
  staging/src/k8s.io/cli-runtime/pkg/resource/visitor.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  test/cmd/core.sh
Due: pull-kubernetes-godeps

remove deprecated cacher CacheCapacity config
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Due: pull-kubernetes-godeps

fix failing ut
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
Due: pull-kubernetes-godeps

retry DELETE
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/retry_detector.go
Due: pull-kubernetes-godeps

retry EOF
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/retry_detector.go
Due: pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
