Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210204-b06ec78
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

Add Options to GitHub package
  pkg/github/github.go
Due: none

Add pagination in GitHub pkg using options
  pkg/github/github.go
  pkg/github/record.go
  pkg/github/replay.go
Due: none

Regenerate github fakes
  pkg/github/githubfakes/fake_client.go
Due: none

Create Publishing Bot issue on branch creation
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/release.go
  pkg/release/release.go
Due: none

move references from TOOL_BRANCH to be TOOL_REF
  gcb/build/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
  pkg/release/release.go
  pkg/release/release_test.go
  pkg/release/repository.go
Due: none

mocks: update mocks
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/binary/binaryfakes/fake_binary_implementation.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/release/releasefakes/fake_repository.go
Due: none

git: add new function to do the plain rev parse
  cmd/krel/cmd/release_notes.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/changelog/changelog.go
  pkg/changelog/impl.go
  pkg/git/git.go
  pkg/git/git_integration_test.go
  pkg/notes/options/options.go
  pkg/release/repository.go
  pkg/release/repository_test.go
Due: none

update cloudbuilds
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  pkg/release/repository.go
Due: none

kube-cross: enable custom BASEIMAGE
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
  images/build/cross/legacy/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Bumping debian-base tag to v1.5.0
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Refactor kubecross retrieval logic
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  pkg/announce/announce.go
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
  pkg/kubecross/impl.go
  pkg/kubecross/kubecross.go
  pkg/kubecross/kubecross_test.go
  pkg/kubecross/kubecrossfakes/fake_impl.go
  pkg/release/release.go
  pkg/release/release_test.go
Due: none

Use http agent for kubecross version retrieval
  pkg/kubecross/impl.go
Due: none

Use http agent for lookup of remote release notes
  pkg/changelog/changelog.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/changelog/impl.go
Due: none

Run make update-mocks
  pkg/binary/binaryfakes/fake_binary_implementation.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/github/githubfakes/fake_client.go
  pkg/kubecross/kubecrossfakes/fake_impl.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
Due: none

Update k8s-cloud-builder to v1.15.10-1 and v1.15.10-legacy-1
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

GCB: Fall back to latest version of KubeCross when release branch does not exist
  pkg/gcp/gcb/gcb.go
Due: none

Add error message if rev-parse fails
  pkg/gcp/gcb/gcb.go
Due: none

release.DockerHubLogin() function
  pkg/release/release.go
Due: none

Add DockerHubLogin() to build test
  pkg/anago/stage_test.go
Due: none

Fake stage implementation regen
  pkg/anago/anagofakes/fake_stage_impl.go
Due: none

add DockerHubLogin() to stage.Build() and implementation
  pkg/anago/stage.go
Due: none

Add encrypted docker token to stage cloud build
  gcb/stage/cloudbuild.yaml
Due: none

Update k8s-ci-builder to use go 1.16.1 for 1.20/1.19/1.18 branches
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

drop 1.17 config
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Switch `GetURLResponseWithTimeOut` to `http.NewAgent().WithTimeout(…).Get`
  cmd/krel/cmd/testgrid.go
Due: none

Remove `stage-ci` Makefile target
  Makefile
Due: none

[go1.15] kube-cross: Build v1.15.11-1 / v1.15.11-legacy-1 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

[go1.15] go-runner: Build v2.3.1-go1.15.11-buster.0 image
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

pkg/release: Cleanup some unused code
  go.mod
  go.sum
  pkg/release/release.go
  pkg/release/release_test.go
Due: none

GCB: Always file on master when failing to retrieve kcross ver
  pkg/gcp/gcb/gcb.go
Due: none

Switch to go1.16 for building kubepkg
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
Due: none

Bumping debian-base tag to v1.6.0
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

debian-base: Build buster-v1.6.0 image
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

debian-iptables: Build buster-v1.6.0 image
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

debian-iptables: Link /usr/sbin/rm for s390x builds
  images/build/debian-iptables/buster/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Refactor CVEdata struct population into func
  pkg/notes/document/document.go
  pkg/notes/notes.go
Due: none

Move verify-packages-install-deb to this repo
  hack/packages/verify-packages-install-deb.sh
Due: none

add script to makefile
  Makefile
Due: none

Fix command for non-interactive debian dockerfiles
  Dockerfile-kubepkg
  images/build/cross/default/Dockerfile
  images/build/cross/legacy/Dockerfile
  images/build/debian-base/buster/Dockerfile.build
  images/build/debian-hyperkube-base/Dockerfile
  images/k8s-cloud-builder/Dockerfile
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base

New CVE package to handle CVE information and actions
  pkg/cve/client.go
  pkg/cve/cve.go
  pkg/cve/impl.go
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Due: none

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
