Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210204-b06ec78
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

packages/deb/Dockerfile: Enforce Debian codename
  dependencies.yaml
Due: none

dependencies.yaml: Reposition Debian sections
  dependencies.yaml
Due: none

go-runner: Use `OS_CODENAME` to determine base image
  dependencies.yaml
  images/build/go-runner/Dockerfile
  images/build/go-runner/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

releng-ci: Use `OS_CODENAME` to determine base image
  dependencies.yaml
  images/build/cross/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
  images/releng/ci/Dockerfile
  images/releng/ci/cloudbuild.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

vulndash: Use `OS_CODENAME` to determine base image
  cmd/vulndash/Dockerfile
  cmd/vulndash/Makefile
  cmd/vulndash/cloudbuild.yaml
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash, post-release-push-image-k8s-ci-builder

kube-cross: Fixup image versions
  dependencies.yaml
  images/build/cross/canary/Dockerfile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

k8s-ci-builder: Use `OS_CODENAME` to determine base image
  dependencies.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/cloudbuild.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

[go1.17] Build images for go1.17
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

k8s-cloud-builder: Update to v1.23.0-go1.17-buster.0
  dependencies.yaml
  images/k8s-cloud-builder/cloudbuild.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

k8s-ci-builder: Sync with cleanups in krte
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/ci-failures
  images/releng/k8s-ci-builder/create_bazel_cache_rcs.sh
  images/releng/k8s-ci-builder/install-bazel.sh
  images/releng/k8s-ci-builder/wrapper.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

k8s-ci-builder: Drop bazel variables
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/cloudbuild.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

dependencies.yaml: Default to go1.17 for image builds
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/go-runner/Makefile
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-kubepkg

vulndash: Build v0.4.3-8 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash, post-release-push-image-k8s-ci-builder

dependencies.yaml: Add entry for go.mod
  dependencies.yaml
Due: none

packages/deb: Update module to go1.17
  packages/deb/go.mod
Due: none

go.mod: Update module to go1.17
  go.mod
Due: post-release-push-image-k8s-ci-builder

images/build/go-runner: Update module to go1.17
  images/build/go-runner/go.mod
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

cosign: Add a public key for testing
  cosign-test.pub
Due: none

adds tldr, refactors links and other fields
  cmd/schedule-builder/README.md
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/model.go
  cmd/schedule-builder/cmd/root.go
  cmd/schedule-builder/cmd/root_test.go
  cmd/schedule-builder/cmd/testdata/rel-schedule.yaml
Due: post-release-push-image-k8s-ci-builder

uses template/txt and go:embed to refactor
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/model.go
  cmd/schedule-builder/cmd/root_test.go
  cmd/schedule-builder/cmd/templates/rel-schedule.tmpl
  cmd/schedule-builder/cmd/testdata/rel-schedule.yaml
Due: post-release-push-image-k8s-ci-builder

fixes nits and suggestions
  cmd/schedule-builder/README.md
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root.go
  cmd/schedule-builder/cmd/root_test.go
  cmd/schedule-builder/cmd/templates/rel-schedule.tmpl
Due: post-release-push-image-k8s-ci-builder

golangci-lint: Update to 1.42.0
  dependencies.yaml
  hack/verify-golangci-lint.sh
Due: none

golangci-lint: Enable all issues to display at once
  .golangci.yml
Due: none

generated: Run golangci-lint run --fix
  cmd/krel/cmd/announce_build.go
  cmd/krel/cmd/changelog_test.go
  cmd/krel/cmd/release_notes.go
  pkg/changelog/changelog.go
  pkg/git/git_integration_test.go
  pkg/git/git_test.go
  pkg/github/record.go
  pkg/kubepkg/kubepkg_test.go
  pkg/notes/document/document_test.go
  pkg/notes/options/options.go
  pkg/notes/options/options_test.go
  pkg/promobot/hash_test.go
  pkg/release/release_test.go
  pkg/vulndash/adapter/adapter.go
Due: post-release-push-image-k8s-ci-builder

lint: Fixup stylecheck warnings
  pkg/github/github_test.go
Due: post-release-push-image-k8s-ci-builder

lint: Fixup prealloc warnings
  pkg/filepromoter/filestore.go
Due: post-release-push-image-k8s-ci-builder

golangci-lint: Replace the now-archived `golint` with `revive`
  .golangci.yml
Due: none

lint(revive): Fixup variable declaration warnings
  pkg/anago/anago_test.go
  pkg/announce/github_page.go
  pkg/binary/binary_unit_test.go
  pkg/spdx/spdx_unit_test.go
Due: post-release-push-image-k8s-ci-builder

lint(revive): Replace errors.New(fmt.Sprintf(...)) w/ fmt.Errorf(...)
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/testgrid.go
  pkg/cve/impl.go
Due: post-release-push-image-k8s-ci-builder

golangci-lint: Enable `nolintlint` linter
  .golangci.yml
Due: none

lint(nolintlint): Drop unused `nolint` directives
  cmd/krel/cmd/changelog_test.go
  pkg/anago/anago.go
  pkg/api/files/validation.go
  pkg/binary/mach-o.go
  pkg/filepromoter/file.go
  pkg/filepromoter/filestore.go
  pkg/filepromoter/gcs.go
  pkg/filepromoter/manifest.go
  pkg/git/git_test.go
  pkg/promobot/hash.go
  pkg/promobot/promotefiles.go
Due: post-release-push-image-k8s-ci-builder

pkg/binary: Fixup lint warnings
  pkg/binary/mach-o.go
  pkg/binary/windows.go
Due: post-release-push-image-k8s-ci-builder

lint(nolintlint): Enforce stricter settings
  .golangci.yml
  pkg/notes/notes_test.go
  pkg/spdx/relationship.go
Due: post-release-push-image-k8s-ci-builder

dependencies.yaml: `cosign` comment fix
  dependencies.yaml
Due: none

dependencies.yaml: Update `cosign` to v1.1.0
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

kpromo: Initial image building configuration
  cmd/kpromo/Dockerfile
  cmd/kpromo/Makefile
  cmd/kpromo/README.md
  cmd/kpromo/cloudbuild.yaml
  cmd/kpromo/variants.yaml
  dependencies.yaml
Due: post-release-push-image-k8s-ci-builder

vulndash: Add `-trimpath` to `go build` command
  cmd/vulndash/Dockerfile
Due: post-release-push-image-vulndash, post-release-push-image-k8s-ci-builder

Remove pkg/object and pkg/gcp/gcp.go
  pkg/gcp/gcp.go
  pkg/object/gcs.go
  pkg/object/gcs_test.go
  pkg/object/objectfakes/fake_store.go
  pkg/object/store.go
Due: post-release-push-image-k8s-ci-builder

Update import paths to use sigs.k8s.io/release-sdk
  cmd/gh2gcs/cmd/root.go
  cmd/krel/cmd/testgrid.go
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/release.go
  pkg/api/files/validation.go
  pkg/build/build.go
  pkg/changelog/impl.go
  pkg/cve/client.go
  pkg/cve/impl.go
  pkg/filepromoter/filestore.go
  pkg/filepromoter/gcs.go
  pkg/gcp/auth/auth.go
  pkg/gcp/build/build.go
  pkg/gcp/gcb/gcb.go
  pkg/gh2gcs/gh2gcs.go
  pkg/notes/notes_map.go
  pkg/release/archive.go
  pkg/release/archive_unit_test.go
  pkg/release/prerequisites.go
  pkg/release/publish.go
  pkg/release/release.go
  pkg/release/workspace.go
Due: post-release-push-image-k8s-ci-builder

generated: Run `go mod tidy`
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
