Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

post-ingress-nginx-cfssl:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-custom-error-pages:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-e2e-test-echo:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-fastcgi-helloserver:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-httpbun:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-kube-webhook-certgen:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx-1-25:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Bump the go group across 1 directory with 2 updates (#12459)
  go.mod
  go.sum
Due: none

Bump the go group across 1 directory with 2 updates (#12460)
  go.mod
  go.sum
Due: none

Bump the go group across 1 directory with 2 updates (#12458)
  go.mod
  go.sum
Due: none

Bump github/codeql-action from 3.27.5 to 3.27.6 in the actions group (#12463)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump github/codeql-action from 3.27.5 to 3.27.6 in the actions group (#12462)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump github/codeql-action from 3.27.5 to 3.27.6 in the actions group (#12461)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump github.com/prometheus/common from 0.60.1 to 0.61.0 (#12464)
  go.mod
  go.sum
Due: none

Bump github.com/prometheus/common from 0.60.1 to 0.61.0 (#12466)
  go.mod
  go.sum
Due: none

Bump github.com/prometheus/common from 0.60.1 to 0.61.0 (#12465)
  go.mod
  go.sum
Due: none

Config/Annotations: Add `ssl-forbid-http` and `force-ssl-forbid-http`
  docs/user-guide/nginx-configuration/annotations-risk.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/tls.md
  internal/ingress/annotations/rewrite/main.go
  internal/ingress/annotations/rewrite/main_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/defaults/main.go
  rootfs/etc/nginx/lua/lua_ingress.lua
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
  test/e2e/annotations/forcesslforbidhttp.go
  test/e2e/annotations/sslforbidhttp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Use protobuf encoding for core K8s APIs in ingress-nginx
  cmd/nginx/main.go
  cmd/plugin/request/request.go
  go.work.sum
  images/kube-webhook-certgen/rootfs/cmd/root.go
  internal/ingress/controller/store/store_test.go
  test/e2e/framework/framework.go
Due: post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

chart: added possibility to override ServiceMonitor apiVersion
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add new annotations
  internal/ingress/annotations/proxyssl/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Deprecate existing annotation
  internal/ingress/annotations/proxyssl/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Add new fields to proxyssl.Config
  internal/ingress/annotations/proxyssl/main.go
  internal/ingress/resolver/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Use new proxyssl.Config field in nginx template
  rootfs/etc/nginx/template/nginx.tmpl
Due: none

parse new annotations
  internal/ingress/annotations/proxyssl/main.go
  internal/ingress/annotations/proxyssl/main_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

create functions to synchronize caConfigMap and clientCertSecret
  internal/ingress/controller/store/backend_ssl.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

fix wrong error message
  internal/ingress/controller/template/template.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

sync certs when ingress/secrets/configmaps are created/updated/deleted
  internal/ingress/controller/store/store.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

implement new resolver methods
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/store/store.go
  internal/ingress/resolver/main.go
  internal/ingress/resolver/main_test.go
  internal/ingress/resolver/mock.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

create new maps to hold references to new secrets and configmaps
  internal/ingress/controller/store/store.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

update logic to account for new CA file
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

autogenerated docs
  docs/user-guide/nginx-configuration/annotations-risk.md
Due: none

Images/NGINX: Add CI.
  .github/workflows/images.yaml
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Show version.
  .github/workflows/images.yaml
  images/nginx/cloudbuild.yaml
  images/nginx/variants.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Show info.
  .github/workflows/images.yaml
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: List builders.
  .github/workflows/images.yaml
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Create builder.
  .github/workflows/images.yaml
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Inspect builder.
  .github/workflows/images.yaml
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Checkout code.
  .github/workflows/images.yaml
Due: none

Images/NGINX: Add Dockerfile.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Build image.
  .github/workflows/images.yaml
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Install packages.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Add `main.c`.
  images/nginx/main.c
Due: post-ingress-nginx-nginx

Images/NGINX: Copy files.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Build LuaJIT.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Add LuaJIT.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$
