Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-distroless-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

Build k8s-ci-builder and k8s-cloud-bulider with Go 1.21.6 and 1.20.13
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

golang: Build 1.22rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

base image: update to bookworm
  dependencies.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

comment ulimit -Hn in wrapper.sh
  images/releng/k8s-ci-builder/wrapper.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

lock docker version to v24.0 fro k8s-ci-builder
  images/releng/k8s-ci-builder/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

golang: Build 1.22rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

rebuild debian-base
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

update release-sdk and go-github
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/sut_test.go
  go.mod
  go.sum
  pkg/anago/stage.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/options/options_test.go
Due: post-release-push-image-k8s-ci-builder

Add note about glibc compatibility
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

add configs for 1.30 with go1.22 for k8s-cloudbuilder
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

build distroless-iptables with go1.22rc2
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

update Google Cloud artifact registry for the k8s images
  pkg/notes/document/document.go
  pkg/notes/document/testdata/document.md.golden
Due: post-release-push-image-k8s-ci-builder

adapt krel/ff to run with other repositories that are not only k/k
  cmd/krel/cmd/ff.go
  pkg/fastforward/fastforward.go
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

Bump go-modiff to 1.3.4
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Build Go 1.21.7 and 1.20.14
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

update setcap base image to bookworm-v1.0.1
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-setcap

Build Go 1.22 (1.22.0) images
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

update ko and goreleaser
  images/releng/ci/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

update distroless iptables to use go1.21.7 and go1.20.14
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

build distroless-iptables using go1.22
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

change repo-path default fo release-note generate
  cmd/release-notes/generate.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

build go images with 1.21.7 for old release branches and drop go1.20 images build
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Switch from golang 1.22rc2 to 1.22 final
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

build go-runner for go1.21 with bullseye
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner

fix dependencies.yaml
  dependencies.yaml
Due: none

Build k8s-ci-builder and k8s-cloud-bulider with Go 1.22.0 and 1.21.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Build k8s-cloud-builder with Go 1.21.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

use the full sem ver for go1.22
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

update image tag for go1.22.0
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

[notes] Get the number of the origin PR for cherry-picks
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

Allow in-memory GCB jobs
  gcb/gcb.go
  gcb/gcb_test.go
  gcb/gcbfakes/fake_impl.go
  gcb/impl.go
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Add `version` subcommand to `release-notes` tool
  cmd/release-notes/main.go
Due: post-release-push-image-k8s-ci-builder

krel/templates: remove kubeadm's deps on kubelet and kubectl
  cmd/krel/templates/latest/metadata.yaml
Due: post-release-push-image-k8s-ci-builder

Build Go 1.22.1 and 1.21.8
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

bump distroless to use go1.22.1 and go1.21.8
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Build k8s-ci-builder and k8s-cloud-bulider with Go 1.22.1 and 1.21.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Use community-owned project for the release process
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

Define a user-created service account
  gcb/stage/cloudbuild.yaml
Due: none

Update zeitgeist to v0.4.4
  dependencies.yaml
  hack/verify-dependencies.sh
Due: none

Update golangci-lint to v1.56.2 and fix lints
  .github/workflows/lint.yml
  .golangci.yml
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/sign_images.go
  dependencies.yaml
  pkg/anago/release.go
  pkg/build/push.go
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
