Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/

Fall back to URL when no git remote matches in CheckState
  pkg/release/repository.go
  pkg/release/repository_test.go
Due: post-release-push-image-k8s-ci-builder

fix: use k8s-release as default project for fast-forward
  cmd/krel/cmd/ff.go
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

add krel release-notes --rerun functionality to release_notes.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/release_notes_test.go
  pkg/notes/notes_map.go
  pkg/notes/notes_map_test.go
Due: post-release-push-image-k8s-ci-builder

fix golint issues with release_notes.go
  cmd/krel/cmd/release_notes.go
Due: post-release-push-image-k8s-ci-builder

fix SIG labels dropped from markdown during ApplyMap re-render
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

polish rerun UX: subcommand help, dynamic warning, token validation
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/release_notes_test.go
Due: post-release-push-image-k8s-ci-builder

update docs/krel/release-notes.md with krel release-notes rerun subcommand functionality
  docs/krel/release-notes.md
Due: none

Fix release-notes -s crash on repos with parentless root commits
  pkg/notes/notes.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

fix ApplyMap not applying PRBody from map entries
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Switch cosign signing to new bundle format
  .goreleaser.yml
Due: none

Add go1.25 variants for release-1.33 and release-1.34
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Fix schedule-builder test data with stray tab character
  cmd/schedule-builder/cmd/root_test.go
  cmd/schedule-builder/cmd/testdata/rel-schedule.yaml
Due: post-release-push-image-k8s-ci-builder

build kube-cross, go-runner, releng-ci with golang 1.26.2/1.25.9
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Bump distroless-iptables to use Go 1.26.2/1.25.9
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update k8s-cloud-builder and k8s-ci-builder to Go 1.26.2/1.25.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update the Go update issue template
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

Revert "Use blobless clone for fresh k/k checkouts during stage"
  pkg/release/workspace.go
Due: post-release-push-image-k8s-ci-builder

feat: Scan merge commit side-parents to fix PR discovery
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

chore: fix linting issues in notes file
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

krel/templates: adjust kubeadm constraint for >= 1.30
  cmd/krel/templates/latest/metadata.yaml
Due: post-release-push-image-k8s-ci-builder

krel: add validation for mutliple matching constraints
  pkg/obs/specs/pkgdef.go
  pkg/obs/specs/pkgdef_test.go
Due: post-release-push-image-k8s-ci-builder

build kube-cross, go-runner, releng-ci with golang 1.26.3/1.25.10
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Bump distroless-iptables to use Go 1.26.3/1.25.10
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Rebuild debian-base - bump to bookworm-v1.0.8
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

schedule-builder: optionally extend upcoming patch window to 4 during maintenance overlap
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
Due: post-release-push-image-k8s-ci-builder

Add LoongArch (loong64) architecture support
  .goreleaser.yml
  hack/verify-build.sh
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
  images/build/debian-base/Makefile
  images/build/distroless-iptables/Makefile
  images/build/go-runner/Makefile
  images/build/setcap/Makefile
  pkg/consts/main.go
  pkg/obs/obs.go
  pkg/obs/specs/archive.go
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap

go.mod: update modernc.org/sqlite to v1.50.1
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Make QEMU version and flags overridable via environment variables
  images/build/debian-base/Makefile
  images/build/distroless-iptables/Makefile
  images/build/setcap/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap

Make ALL_ARCH overridable via environment variables
  images/build/debian-base/Makefile
  images/build/distroless-iptables/Makefile
  images/build/setcap/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap

add debian trixie support for debian-base
  images/build/debian-base/trixie/Dockerfile
  images/build/debian-base/trixie/Dockerfile.build
  images/build/debian-base/trixie/clean-install
  images/build/debian-base/trixie/excludes
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

build kube-cross, go-runner, releng-ci with golang 1.26.4/1.25.11
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Exclude .git directories from staged source tarball
  pkg/build/push.go
Due: post-release-push-image-k8s-ci-builder

Bump distroless-iptables to use Go 1.26.4/1.25.11
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update k8s-cloud-builder and k8s-ci-builder to Go 1.26.4/1.25.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Pin gcloud SDK to 553.0.0 for Python 3.9 compatibility
  images/k8s-cloud-builder/Dockerfile
  images/releng/k8s-ci-builder/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

bump cosign to v3.1.1
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

bump golangci-lint to v2.12
  .github/workflows/lint.yml
  .golangci.yml
  dependencies.yaml
Due: none

fix lints
  cmd/krel/cmd/announce_build.go
  cmd/krel/cmd/cve.go
  cmd/krel/cmd/obs_release.go
  cmd/krel/cmd/release.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/root.go
  pkg/anago/anago.go
  pkg/anago/stage.go
  pkg/gcp/gcb/history.go
  pkg/notes/notes.go
  pkg/obs/stage.go
Due: post-release-push-image-k8s-ci-builder
