Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/

GitHub actions: still use go 1.23
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yaml
  .golangci.yml
  dependencies.yaml
Due: none

update makefile as well
  images/releng/k8s-ci-builder/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.7/1.23.1
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Use only public URLS for release notes index
  pkg/release/publish.go
  pkg/release/publish_test.go
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

Don't set `KUBE_PARALLEL_BUILD_MEMORY` any more
  pkg/build/make.go
Due: post-release-push-image-k8s-ci-builder

bump distroless-iptables to use go 1.22.8/1.23.2
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Increase Go version to 1.23
  go.mod
Due: post-release-push-image-k8s-ci-builder

Update cloud-builder/ci-builder for K8s 1.32 to Go 1.23.2
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Tidy dependencies.yaml file
  dependencies.yaml
  images/build/cross/Makefile
  images/build/go-runner/Makefile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner

Add clarification comments to dependencies.yaml
  dependencies.yaml
Due: none

Fix krel announcement --print-only
  cmd/krel/cmd/announce_send.go
Due: post-release-push-image-k8s-ci-builder

update github.com/yuin/goldmark and go.mod to default to go1.22.8
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

upgrade zeitgeist to v0.5.4
  dependencies.yaml
  hack/verify-dependencies.sh
Due: none

upgrade cosign to v2.2.4
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.8/1.23.2
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

update go-runner go mod to minuim go1.22 and bump image version
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/VERSION
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/go.mod
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

build kube-cross, go-runner, releng-ci with golang 1.22.9, 1.23.3
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

remove blank spaces
  images/build/go-runner/README.md
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

bump distroless-iptables to use go1.22.9 and go1.23.3
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Apply fix for release notes index JSON
  pkg/release/publish.go
  pkg/release/publish_test.go
Due: post-release-push-image-k8s-ci-builder

Temporarily Run Builds Serially
  gcb/stage/cloudbuild.yaml
Due: none

Re-add production bucket fix to release notes index
  pkg/release/publish.go
  pkg/release/publish_test.go
Due: post-release-push-image-k8s-ci-builder

Fix goreleaser deprecation notice
  .goreleaser.yml
Due: none

add darwin/arm64 to kube-cross
  images/build/cross/default/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.9 and drop config for release-1.28
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update dependencies.yaml with Kubernetes v1.32
  dependencies.yaml
Due: none

Create publishing-bot issue only for rc.0 release
  pkg/anago/release.go
Due: post-release-push-image-k8s-ci-builder

Update golangci-lint to v1.62
  .github/workflows/lint.yml
  .golangci.yml
  cmd/krel/cmd/release_notes.go
  dependencies.yaml
  pkg/cve/cve.go
Due: post-release-push-image-k8s-ci-builder

Fix link text in release note
  pkg/announce/github/consts.go
Due: post-release-push-image-k8s-ci-builder

Bump to go 1.23
  dependencies.yaml
  go.mod
Due: post-release-push-image-k8s-ci-builder

Apply and fix `testifylint` linter
  .golangci.yml
  cmd/gcbuilder/cmd/root_test.go
  cmd/krel/cmd/changelog_test.go
  cmd/krel/cmd/ff_test.go
  cmd/krel/cmd/sut_test.go
  cmd/krel/cmd/validate_test.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root_test.go
  gcb/gcb_test.go
  pkg/anago/anago_test.go
  pkg/anago/release_test.go
  pkg/anago/stage_test.go
  pkg/announce/announce_test.go
  pkg/binary/binary_test.go
  pkg/binary/binary_unit_test.go
  pkg/build/make_test.go
  pkg/changelog/changelog_test.go
  pkg/cve/cve_unit_test.go
  pkg/fastforward/fastforward_test.go
  pkg/gcp/gcb/gcb_test.go
  pkg/gcp/gcb/history_test.go
  pkg/kubecross/kubecross_test.go
  pkg/mail/mail_test.go
  pkg/notes/dependencies_test.go
  pkg/notes/document/document_test.go
  pkg/notes/notes_map_test.go
  pkg/notes/notes_test.go
  pkg/notes/options/options_test.go
  pkg/release/branch_checker_test.go
  pkg/release/images_test.go
  pkg/release/prerequisites_test.go
  pkg/release/provenance_test.go
  pkg/release/publish_test.go
  pkg/release/push_git_objects_test.go
  pkg/release/release_test.go
  pkg/release/release_version_test.go
  pkg/release/repository_test.go
  pkg/release/version_test.go
  pkg/testgrid/testgrid-scraper_test.go
  pkg/testgrid/testgrid_test.go
Due: post-release-push-image-k8s-ci-builder

Apply and fix more linters
  .golangci.yml
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
  gcb/gcb_test.go
  pkg/binary/binary.go
  pkg/build/build_test.go
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_map.go
  pkg/notes/notes_v2.go
  pkg/release/publish.go
  pkg/testgrid/testgrid-scraper.go
  pkg/testgrid/testgrid-scraper_test.go
Due: post-release-push-image-k8s-ci-builder

Run `go mod tidy`
  go.mod
Due: post-release-push-image-k8s-ci-builder

build kube-cross, go-runner, releng-ci with golang 1.22.10, 1.23.4
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

bump distroless-iptables to use go1.22.10 and go1.23.4
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

build go imagesd for k8s 1.33
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

golang: Build 1.24rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.4/1.22.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

add GO_VERSION_TOOLING to be able to build the release tooling with another go version
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/cloudbuild.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder
