Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

UPSTREAM: <carry>: bump nodes ready timeout
  test/e2e/framework/framework.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: 90452: refactor/improve CRD publishing e2e tests in an HA setup
  test/e2e/apimachinery/crd_publish_openapi.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: conditionally fill the UserAgent from the currently running test
  test/e2e/framework/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: 96120: kubelet: Expose a simple Get-WinEvent shim on the kubelet logs endpoint
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_others.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: noderestrictions: add node-role.kubernetes.io/* to allowed node labels
  staging/src/k8s.io/kubelet/pkg/apis/well_known_labels.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: use new access token inactivity timeout field.
  openshift-kube-apiserver/admission/customresourcevalidation/oauth/validate_idp.go
  openshift-kube-apiserver/admission/customresourcevalidation/oauth/validate_idp_test.go
Due: none

UPSTREAM: <carry>: stop overriding flags that are explicitly set
  openshift-kube-apiserver/openshiftkubeapiserver/flags.go
Due: none

UPSTREAM: <carry>: Release lock on KCM and KS termination
  cmd/kube-controller-manager/app/controllermanager.go
Due: none

UPSTREAM: <carry>: Bug 1852056: change etcd health check timeout to 10s
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: export HandleFlags
  test/e2e/e2e_test.go
  test/e2e/patch_e2e.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: 89885: allow to read openstack cloud provider config from a secret
  staging/src/k8s.io/legacy-cloud-providers/openstack/metadata.go
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack.go
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_instances.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: Remove excessive e2e logging
  test/e2e/framework/network/utils.go
  test/e2e/framework/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: Fix networking-related test exclusions
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/test-kubernetes-e2e.sh
Due: none

UPSTREAM: <carry>: wait for oauth-apiserver accessibility
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  openshift-kube-apiserver/openshiftkubeapiserver/sdn_readyz_wait.go
Due: none

UPSTREAM: <carry>: use hardcoded metrics scraping authorizer for delegated apiservers
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: Override termination grace period on annotation
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Due: pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: kube-apiserver: ignore SIGTERM/INT after the first one
  cmd/kube-apiserver/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/signal.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: /readyz update stacktrace pred for httplog so that it doesn't log stack trace when HTTP 500 response is returned
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: Add DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS
  pkg/kubelet/DOWNSTREAM_OWNERS
Due: pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: allow kubelet to self-authorize metrics scraping
  cmd/kubelet/app/auth.go
  cmd/kubelet/app/patch_auth.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: allows for switching KS to talk to Kube API over localhost
  cmd/kube-scheduler/app/config/config.go
  cmd/kube-scheduler/app/config/patch.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/patch.go
  cmd/kube-scheduler/app/patch.go
  cmd/kube-scheduler/app/server.go
Due: none

UPSTREAM: <carry>: openshift's kube-apiserver is in openshift-kube-apiserver
  staging/src/k8s.io/apiserver/pkg/server/config.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: allows for switching KCM to talk to Kube API over localhost
  cmd/kube-controller-manager/app/config/patch.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/patch.go
Due: none

UPSTREAM: <carry>: annotate audit events for requests during unready phase and graceful termination phase
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: emit event when readyz goes true
  pkg/controlplane/controller.go
  pkg/controlplane/instance.go
  pkg/controlplane/patch.go
Due: none

UPSTREAM: <carry>: provide events, messages, and bodies for probe failures of important pods
  pkg/kubelet/prober/patch_prober.go
  pkg/kubelet/prober/prober.go
  pkg/probe/http/http.go
  pkg/probe/http/patch_http.go
Due: pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: add a way to inject a vulnerable, legacy service-ca.crt for migration compatibility
  openshift-kube-controller-manager/servicecacertpublisher/publisher.go
Due: none

UPSTREAM: <carry>: apiserver: add system_client=kube-{apiserver,cm,s} to apiserver_request_total
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
  test/instrumentation/testdata/stable-metrics-list.yaml
  test/integration/metrics/metrics_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

UPSTREAM: <carry>: Disable CSI migration on OpenStack Cinder
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

UPSTREAM: <carry>: add management support to kubelet
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/qos_container_manager_linux.go
  pkg/kubelet/config/file.go
  pkg/kubelet/config/file_linux.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/managed/cpu_shares.go
  pkg/kubelet/managed/managed.go
  pkg/kubelet/managed/managed_test.go
Due: pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: 104437: run etcd healthcheck in the background and reply with a cached value
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/patch_etcd3.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: add CRD validation for dnses
  openshift-kube-apiserver/admission/customresourcevalidation/attributes.go
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  openshift-kube-apiserver/admission/customresourcevalidation/dns/validate_dns.go
  openshift-kube-apiserver/admission/customresourcevalidation/dns/validate_dns_test.go
Due: none

UPSTREAM: 103612: tolerate additional, but congruent, events for integration test
  test/integration/events/events_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: prevent the kubecontrollermanager service-ca from getting less secure
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  openshift-kube-apiserver/admission/customresourcevalidation/kubecontrollermanager/validate_kubecontrollermanager.go
Due: none

UPSTREAM: <carry>: use lifeCycleSignals for isTerminating
  cmd/kube-apiserver/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/patch_config.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: Set informer for openstack
  plugin/pkg/admission/storage/persistentvolume/label/admission.go
Due: none

UPSTREAM: <carry>: provide a new admission plugin to mutate management pods CPUs requests
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/doc.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/initializers.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

UPSTREAM: <carry>: only chown if non-windows machine
  pkg/volume/util/atomic_writer.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

UPSTREAM: <carry>: openshift KCM volume plugin manager uses a disjoint set of featuregates
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  pkg/features/patch_kube_features.go
  pkg/volume/csimigration/patch_adc_plugin_manager.go
  pkg/volume/csimigration/plugin_manager.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial
