Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-monitoring:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-monitoring
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-prow-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-prow-build
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-prow-build-trusted:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-prow-build-trusted
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

ensure we also test manifests for registry.k8s.io/
  hack/verify-manifests.sh
Due: none

update module name in copied module
  registry.k8s.io/manifests/go.mod
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

adjust IAM permissions for k8s-infra-auditors
  infra/gcp/bash/roles/specs/audit.viewer.yaml
  infra/gcp/terraform/k8s-infra-public-pii/iam.tf
Due: pull-k8sio-terraform-public-pii, k8sio-k8s-resources-verify

add nilekhc@gmail.com to k8s-infra-staging-csi-secrets-store
  groups/sig-auth/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote csi-secrets-store driver:v1.3.2
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: k8sio-k8s-resources-verify

Promote nfd-o v0.6.0
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: k8sio-k8s-resources-verify

Image promotion for metrics-server v0.6.3
  registry.k8s.io/images/k8s-staging-metrics-server/images.yaml
Due: k8sio-k8s-resources-verify

Add k8s-infra-sandbox-capa account.
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
  infra/aws/terraform/management-account/organization-accounts-capa-playground.tf
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cluster-api v1.4.0-rc.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cluster-api-helm v0.1.0-alpha.1
  registry.k8s.io/images/k8s-staging-k8s-gsm-tools/images.yaml
Due: k8sio-k8s-resources-verify

Add manifest for Cluster API Add-on Provider for Helm
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
  registry.k8s.io/manifests/k8s-staging-cluster-api-helm/promoter-manifest.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2023-03-22
  audit/projects/k8s-infra-e2e-boskos-004/buckets/artifacts.k8s-infra-e2e-boskos-004.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-004/buckets/artifacts.k8s-infra-e2e-boskos-004.appspot.com/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-004/buckets/kops-state-k8s-infra-e2e-boskos-004/iam.json
  audit/projects/k8s-infra-e2e-boskos-004/buckets/kops-state-k8s-infra-e2e-boskos-004/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-004/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-005/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-086/buckets/kops-state-k8s-infra-e2e-boskos-086/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-086/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-087/buckets/artifacts.k8s-infra-e2e-boskos-087.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-087/buckets/artifacts.k8s-infra-e2e-boskos-087.appspot.com/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-087/buckets/kops-state-k8s-infra-e2e-boskos-087/iam.json
  audit/projects/k8s-infra-e2e-boskos-087/buckets/kops-state-k8s-infra-e2e-boskos-087/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-087/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-staging-win-svc-proxy/services/logging/logs.json
Due: none

Image promotion for capi-operator v0.2.0
  k8s.gcr.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-operator v0.2.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: k8sio-k8s-resources-verify

Image promotion for sp-operator v0.7.0
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cluster-api-helm v0.1.0-alpha.1
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Due: k8sio-k8s-resources-verify

groups: Add mailing lists for different platforms
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add Ankita and Mentees to CAPA AWS Sandbox
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

audit: update as of 2023-03-23
  audit/projects/k8s-infra-e2e-boskos-061/buckets/kops-state-k8s-infra-e2e-boskos-061/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-061/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-065/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-093/buckets/artifacts.k8s-infra-e2e-boskos-093.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-093/buckets/artifacts.k8s-infra-e2e-boskos-093.appspot.com/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-093/buckets/kops-state-k8s-infra-e2e-boskos-093/iam.json
  audit/projects/k8s-infra-e2e-boskos-093/buckets/kops-state-k8s-infra-e2e-boskos-093/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-093/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-099/buckets/artifacts.k8s-infra-e2e-boskos-099.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-099/buckets/artifacts.k8s-infra-e2e-boskos-099.appspot.com/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-099/buckets/kops-state-k8s-infra-e2e-boskos-099/iam.json
  audit/projects/k8s-infra-e2e-boskos-099/buckets/kops-state-k8s-infra-e2e-boskos-099/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-099/services/compute/project-info.json
Due: none

Run yaml formatter
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/cluster-role-binding.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/cluster-role.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/ds.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/service.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/config.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/kube-state-metrics.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/node-exporter-full.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/datasources.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/secret.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/service.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/cluster-role-binding.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/cluster-role.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/deplyment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/service.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/node-exporter/cluser-role-binding.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/node-exporter/cluster-role.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/node-exporter/ds.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/node-exporter/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/node-exporter/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/node-exporter/service.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/cluster-role-binding.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/cluster-role.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-operator/cluster-role-binding.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-operator/cluster-role.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-operator/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-operator/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-operator/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-operator/service.yaml
Due: k8sio-k8s-resources-verify

promote filestorecsi image to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote filestorecsi image to prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: k8sio-k8s-resources-verify

Revert "fix linting errors"
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/lib.sh
  infra/gcp/bash/lib_gcr.sh
Due: none

Revert "deploy gcr.io/k8s-artifacts-prod"
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/lib.sh
  infra/gcp/bash/lib_gcr.sh
Due: none

Allows AWS Reset password emails
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote ingress-nginx 1.7.0 build
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: k8sio-k8s-resources-verify

Add IAM federation to test artifacts
  infra/aws/terraform/test-artifacts.k8s.io/iam.tf
Due: none

Add gracenng and remove ramrodo for temp access
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

artifacts-sandbox terraform: Add cloudfront distribution
  infra/aws/terraform/test-artifacts.k8s.io/cloudfront.tf
Due: none

add nawazkh to k8s-staging-cluster-api-azure-OWNERS fil
  registry.k8s.io/images/k8s-staging-cluster-api-azure/OWNERS
Due: none

releng: Image promotion for kubernetes v1.27.0-rc.0 / v1.28.0-alpha.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: k8sio-k8s-resources-verify

Promote NPD v0.8.13 release
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2023-03-24
  audit/projects/k8s-infra-e2e-boskos-030/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-066/buckets/kops-state-k8s-infra-e2e-boskos-066/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-066/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-083/buckets/artifacts.k8s-infra-e2e-boskos-083.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-083/buckets/artifacts.k8s-infra-e2e-boskos-083.appspot.com/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-083/buckets/kops-state-k8s-infra-e2e-boskos-083/iam.json
  audit/projects/k8s-infra-e2e-boskos-083/buckets/kops-state-k8s-infra-e2e-boskos-083/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-083/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-100/buckets/artifacts.k8s-infra-e2e-boskos-100.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-100/buckets/artifacts.k8s-infra-e2e-boskos-100.appspot.com/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-100/buckets/kops-state-k8s-infra-e2e-boskos-100/iam.json
  audit/projects/k8s-infra-e2e-boskos-100/buckets/kops-state-k8s-infra-e2e-boskos-100/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-100/services/compute/project-info.json
  audit/projects/k8s-infra-oci-proxy-prod/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-helm/buckets/artifacts.k8s-staging-cluster-api-helm.appspot.com/iam.json
  audit/projects/k8s-staging-cluster-api-helm/buckets/artifacts.k8s-staging-cluster-api-helm.appspot.com/metadata.txt
  audit/projects/k8s-staging-cluster-api-helm/buckets/k8s-staging-cluster-api-helm/metadata.txt
Due: none

Increase resources for Prometheus, add disk resize readme
  infra/aws/terraform/prow-build-cluster/resources/monitoring/README.md
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/README.md
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
Due: k8sio-k8s-resources-verify

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
