Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

feat: Support DRA Admin Access
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize.go
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize_test.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Support OOM edge cases
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Generate flags
  vertical-pod-autoscaler/docs/flags.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add unit tests for inplace restriction
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update AEP
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

AEP-8898: Standardize VPA status condition handling
  vertical-pod-autoscaler/enhancements/8898-standardize-vpa-status-condition-handling/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update VPA type description to say that default is Recreate
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

VPA: Enable feature gates in dev-deploy-locally.sh
  vertical-pod-autoscaler/hack/dev-deploy-locally.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

removed unused function
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add safe to evict option to capacity buffers injected fake pods
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add support for custom CA bundle
  cluster-autoscaler/cloudprovider/slicer/README.md
  cluster-autoscaler/cloudprovider/slicer/slicer_cloud_provider.go
  cluster-autoscaler/cloudprovider/slicer/slicer_config.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

native sidecar support
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/util.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer.go
  vertical-pod-autoscaler/pkg/recommender/checkpoint/checkpoint_writer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test_util.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/types.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

removed test for same name check, not a valid case
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

adding feature flag `NativeSidecar`
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/sample.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

updated history init for prometheus to take container types into account
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Remove use of deprecated framework.WaitForServiceEndpointsNum
  vertical-pod-autoscaler/e2e/utils/webhook.go
  vertical-pod-autoscaler/e2e/v1/autoscaling_utils.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Remove use of deprecated NewSimpleClientset
  vertical-pod-autoscaler/pkg/admission-controller/certs_test.go
  vertical-pod-autoscaler/pkg/admission-controller/config_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/limitrange/limit_range_calculator_test.go
  vertical-pod-autoscaler/pkg/utils/status/status_object_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

updated e2e
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/common.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

clatify on how the admission controller and updater behave with feature flag turned off
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

remove auto updateMode
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

clarify behavior of inplacepodverticalscaling gate
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat: Support DRA Admin Access (#8063)
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize.go
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize_test.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

incorporates https://github.com/kubernetes/kubernetes/pull/134326
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner_test.go
  cluster-autoscaler/simulator/clustersnapshot/store/basic.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_claim_tracker_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_lister_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_resolver.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister_test.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: update deps to 1.35.0-alpha.3
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

more updates
  cluster-autoscaler/Dockerfile
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

revert azure E2E changes
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

update to 1.35.0-beta.0
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_resolver.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
  cluster-autoscaler/utils/daemonset/daemonset.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

use rc.0
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix update-codegen.sh and gen
  cluster-autoscaler/apis/hack/update-codegen.sh
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/podset.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequestspec.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/reference.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/podset.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequestspec.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/reference.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/factory.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

update internal version to 1.35.0-rc.0
  cluster-autoscaler/version/version.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

add helm changes
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  cluster-autoscaler/charts/cluster-autoscaler/templates/clusterrole.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

lock —enable-dynamic-resource-allocation to true
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/flags/flags.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

re-gen capacitybuffer as well
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybufferspec.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybufferstatus.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/localobjectref.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/scalableref.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1alpha1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/factory.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacityquota.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacityquotalimits.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacityquotaspec.go
  cluster-autoscaler/apis/capacityquota/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/capacityquota/client/informers/externalversions/autoscaling.x-k8s.io/v1alpha1/capacityquota.go
  cluster-autoscaler/apis/capacityquota/client/informers/externalversions/factory.go
  cluster-autoscaler/apis/hack/update-codegen.sh
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

expose KUBE_FEATURE_WatchListClient
  cluster-autoscaler/charts/cluster-autoscaler/templates/deployment.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

final cleanup
  cluster-autoscaler/apis/hack/update-codegen.sh
  cluster-autoscaler/charts/cluster-autoscaler/templates/deployment.yaml
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
