Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

Remove tesdata v1.16.0-rc.1
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/GetCommit-0.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/GetCommit-1.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListCommits-0.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListPullRequestsWithCommit-0.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListPullRequestsWithCommit-1.json
Due: post-release-push-image-k8s-ci-builder

sync go mod with go mod tidy -compat=1.17
  go.sum
Due: post-release-push-image-k8s-ci-builder

Replace git.io links
  .github/workflows/codeql-analysis.yml
Due: none

update whitelisting and blacklisting
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

val renaming
  cmd/ci-reporter/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

Allow fastforward to run non-interactive
  pkg/fastforward/fastforward.go
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Bump cri-tools to v1.24.0
  packages/deb/build.go
  packages/deb/build_test.go
  packages/rpm/kubelet.spec
Due: none

debian-base: Build bullseye-v1.3.0
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

build Go 1.18.2 and 1.17.10 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Fix krel stage for using custom k8s refs
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

fix missing update
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Fix changelog generation for custom forks
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: build using go1.18.2 and go1.17.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Replace git.io URLs with the full URL to which they redirect
  .github/workflows/codeql-analysis.yml
Due: none

remove check for outdated dependencies
  compile-release-tools
Due: post-release-push-image-k8s-ci-builder

Update docs to use "go install"
  cmd/release-notes/README.md
  cmd/schedule-builder/README.md
Due: post-release-push-image-k8s-ci-builder

Update cri-tools to v1.24.2
  packages/deb/build.go
  packages/deb/build_test.go
  packages/rpm/kubelet.spec
Due: none

added note about gh token permissions for ci signal reporter
  cmd/ci-reporter/README.md
Due: post-release-push-image-k8s-ci-builder

Update ci signal reporter
  cmd/ci-reporter/README.md
  cmd/ci-reporter/cmd/testgrid.go
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

Fix nit and update logic
  cmd/ci-reporter/cmd/testgrid.go
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

fix nit
  cmd/ci-reporter/cmd/testgrid.go
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

Switch to go 1.18
  dependencies.yaml
  go.mod
  go.sum
  images/build/go-runner/go.mod
  packages/deb/go.mod
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-go-runner

build Go 1.18.3 and 1.17.11 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

debian-base: Update dependents to use bullseye-v1.3.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables, pull-release-image-setcap

update cosign to 1.9.0 release
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

update release-sdk/utils
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: build using go1.18.3 and go1.17.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Use native error wrapping for `anago` package
  pkg/anago/anago.go
  pkg/anago/release.go
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Remove github.errors usage
  pkg/mail/mail.go
Due: post-release-push-image-k8s-ci-builder

Replace pkg/errors dependency
  pkg/changelog/changelog.go
  pkg/changelog/impl.go
  pkg/cve/client.go
  pkg/cve/cve.go
  pkg/cve/impl.go
  pkg/fastforward/fastforward.go
  pkg/fastforward/fastforward_test.go
  pkg/gcp/auth/auth.go
  pkg/gcp/build/build.go
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/history.go
Due: post-release-push-image-k8s-ci-builder

Fix lint issues for error strings
  pkg/cve/cve.go
  pkg/gcp/build/build.go
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Fix not `gofumpt`-ed (gofumpt) issues
  pkg/changelog/changelog.go
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Replaced pkg/errors dependency
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

small nits
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

small nits
  cmd/ci-reporter/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

changed to golang native error wrapping
  cmd/kubepkg/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

replace pk/errors dependency release notes package
  cmd/release-notes/main.go
Due: post-release-push-image-k8s-ci-builder

fix errors
  cmd/release-notes/main.go
Due: post-release-push-image-k8s-ci-builder

cmd/publish-release: replace github.com/pkg/errors dependency with native error wrapping
  cmd/publish-release/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
