Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

Put the tesing.T on the second place in the args for the newControllerFromClient function
  pkg/controller/job/job_controller_test.go
Due: none

Job: Handle error returned from AddEventHandler function
  cmd/kube-controller-manager/app/batch.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  test/integration/cronjob/cronjob_test.go
  test/integration/job/job_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Remove GA featuregate about CSIMigrationvSphere in 1.29
  cmd/kube-controller-manager/app/plugins_providers.go
  cmd/kubelet/app/plugins_providers.go
  pkg/features/kube_features.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csimigration/plugin_manager.go
  pkg/volume/csimigration/plugin_manager_test.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Restart containers in right order after the podSandboxChanged
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  test/e2e_node/container_lifecycle_test.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-conformance-kind-ipv6-parallel

e2e: move AllNodesReady check to DeferCleanup
  test/e2e/framework/node/init/init.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

kubeadm: remove reference to UnknownCRISocket from getInitConfigurationFromCluster
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/cluster_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Use cmp.Diff in reconciler unit tests
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/helpers_test.go
Due: none

Correct the label selector used in TestSampleAPIServer
  test/e2e/apimachinery/aggregator.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

staging/apiserver: correct KubeConfigFile type in authorization types
  pkg/kubeapiserver/options/authorization.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
Due: pull-kubernetes-godeps

Fix typos in markdown
  cluster/gce/gci/README.md
  staging/src/k8s.io/cri-api/README.md
  test/e2e/dra/README.md
  test/e2e/framework/README.md
  test/kubemark/pre-existing/README.md
Due: pull-kubernetes-e2e-gke, pull-kubernetes-kind-dra, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Don't test reconciling alternate names/namespaces for kubernetes service
  pkg/controlplane/controller/kubernetesservice/controller_test.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/helpers_test.go
  pkg/controlplane/reconcilers/instancecount_test.go
  pkg/controlplane/reconcilers/lease_test.go
Due: none

Validate deletions in endpoints reconciler tests too
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/helpers_test.go
  pkg/controlplane/reconcilers/instancecount_test.go
  pkg/controlplane/reconcilers/lease_test.go
Due: none

Pass service namespace/name to EndpointsAdapter at construct time
  pkg/controlplane/controller/kubernetesservice/controller.go
  pkg/controlplane/controller/kubernetesservice/controller_test.go
  pkg/controlplane/instance.go
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/instancecount.go
  pkg/controlplane/reconcilers/instancecount_test.go
  pkg/controlplane/reconcilers/lease.go
  pkg/controlplane/reconcilers/lease_test.go
  pkg/controlplane/reconcilers/none.go
  pkg/controlplane/reconcilers/reconcilers.go
Due: none

Misc endpointsadapter_test.go improvements
  pkg/controlplane/reconcilers/endpointsadapter_test.go
Due: none

Support escape sequence in CEL
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter_test.go
Due: pull-kubernetes-godeps

Remove unused TargetRef copying in EndpointsAdapter code
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
Due: none

Remove unused EndpointsAdapter Create/Update return values
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/instancecount.go
  pkg/controlplane/reconcilers/lease.go
Due: none

Merge Create/Update/EnsureEndpointSliceFromEndpoints together
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/instancecount.go
  pkg/controlplane/reconcilers/lease.go
Due: none

Refactor duplicated EndpointReconciler code into EndpointsAdapter
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/instancecount.go
  pkg/controlplane/reconcilers/lease.go
  pkg/controlplane/reconcilers/lease_test.go
Due: none

Use retry.OnError in reconciler Sync
  pkg/controlplane/reconcilers/endpointsadapter.go
Due: none

Make the endpoint reconciler explicitly aware of the primary IP family
  pkg/controlplane/instance.go
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/helpers_test.go
  pkg/controlplane/reconcilers/instancecount_test.go
  pkg/controlplane/reconcilers/lease_test.go
Due: none

Generate both Endpoints and EndpointSlices from scratch
  pkg/controlplane/reconcilers/endpointsadapter.go
Due: none

Make the reconciler correctly handle unexpected apiserver EndpointSlices
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
Due: none

kubeapiserver/options: fix cloud provider validation
  pkg/kubeapiserver/options/cloudprovider.go
Due: none

Support dual-stack apiservers in the reconciler
  pkg/controlplane/controller/kubernetesservice/controller.go
  pkg/controlplane/instance.go
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/helpers_test.go
  pkg/controlplane/reconcilers/instancecount.go
  pkg/controlplane/reconcilers/instancecount_test.go
  pkg/controlplane/reconcilers/lease.go
  pkg/controlplane/reconcilers/lease_test.go
  pkg/controlplane/reconcilers/none.go
  pkg/controlplane/reconcilers/reconcilers.go
Due: none

cleanup: add new test cases for failed pod replacement policy instead of editing existing ones
  test/integration/job/job_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix: typo in indexed & non-indexed completion policies for failed pod replacement policy integration tests
  test/integration/job/job_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Adapt TestFinializerCleanup to the eventhandler error
  pkg/controller/job/job_controller_test.go
Due: none

skip CEL validations for enum violation.
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/strategy.go
Due: pull-kubernetes-godeps

fix: improve PodReplacementPolicy integration test case names and update deprecated methods
  test/integration/job/job_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix: minor lint issues and redundant check
  test/integration/job/job_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

add feature gates for authorization config
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

cleanup: remove redundant logic in PodReplacementPolicy integration tests
  test/integration/job/job_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix panic if there are more terminating pods than active pods
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Due: none

Job: Handle error returned from AddEventHandler function (#119917)
  cmd/kube-controller-manager/app/batch.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  test/integration/cronjob/cronjob_test.go
  test/integration/job/job_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Drop usage of deprecated method NewNamedRateLimitingQueue
  staging/src/k8s.io/sample-controller/controller.go
  staging/src/k8s.io/sample-controller/go.mod
Due: pull-kubernetes-godeps

sidecars: terminate sidecars after main containers
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_gc.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_termination_order.go
  pkg/kubelet/kuberuntime/kuberuntime_termination_order_test.go
  test/e2e_node/container_lifecycle_pod_construction.go
  test/e2e_node/container_lifecycle_test.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-conformance-kind-ipv6-parallel

code-generator: add ut in ./staging/src/k8s.io/code-generator/generators modify based on review comments from sttts
  staging/src/k8s.io/code-generator/cmd/conversion-gen/generators/conversion_test.go
  staging/src/k8s.io/code-generator/go.mod
Due: pull-kubernetes-godeps

kubeadm: add new testcase to check the initConfiguration on worker nodes
  cmd/kubeadm/app/cmd/reset_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: increase ut coverage for bootstraptoken/node
  cmd/kubeadm/app/phases/bootstraptoken/node/tlsbootstrap_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
