Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*

test: removes socket path after test
  test/e2eprovider/server/server.go
  test/e2eprovider/server/server_test.go
Due: none

only syncing all for type opaque
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
  pkg/util/spcutil/secret_object_data.go
Due: none

more descriptive names SyncAll tests in vault.bats
  pkg/util/spcutil/secret_object_data.go
  pkg/util/spcutil/secret_object_data_test.go
  test/bats/vault.bats
Due: none

driver can now build the secretObjects.data list after reading secrets from the mount when syncAll is true in SPC
  apis/v1alpha1/secretproviderclass_types.go
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  controllers/secretproviderclasspodstatus_controller.go
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  pkg/rotation/reconciler.go
  pkg/util/secretutil/secret.go
  pkg/util/spcutil/secret_object_data.go
  pkg/util/spcutil/secret_object_data_test.go
  test/bats/tests/vault/deployment-three-synck8s.yaml
  test/bats/tests/vault/vault_synck8s_syncall_v1alpha1_secretproviderclass.yaml
  test/bats/vault.bats
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets synced with syncAll/syncOptions.syncAll are now delete on pod deletion via ownerReference
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
  pkg/util/secretutil/secret.go
  pkg/util/spcutil/secret_object_data.go
  test/bats/vault.bats
Due: none

cleaner import statements
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
  pkg/util/spcutil/secret_object_data.go
Due: none

secret_object_data_test unit tests added
  pkg/util/spcutil/secret_object_data.go
  pkg/util/spcutil/secret_object_data_test.go
Due: none

driver will now check if secretObjects is an empty list before performing syncAll operations
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
  pkg/util/secretutil/secret.go
  pkg/util/spcutil/secret_object_data.go
Due: none

SyncAll now handleling kubernetes.io/basic-auth secrets
  apis/v1alpha1/secretproviderclass_types.go
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  controllers/secretproviderclasspodstatus_controller.go
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  pkg/rotation/reconciler.go
  pkg/util/secretutil/secret.go
  pkg/util/spcutil/secret_object_data.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

removed crd from charts/templates
  charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: removes objectType from test yamls
  test/bats/e2e-provider.bats
  test/bats/tests/e2e_provider/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_secretproviderclass_ns.yaml
  test/bats/tests/e2e_provider/rotation/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/e2eprovider/server/server.go
Due: none

Publish secrets-store-csi-driver-0.2.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-0.2.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: removes listener key from struct
  test/e2eprovider/server/server.go
Due: none

test: remove filteredWatchSecret=false e2e
  test/bats/azure.bats
Due: none

chore: removes KEYVAULT from name
  test/bats/e2e-provider.bats
Due: none

test: removes Test filtered-watch-secret=false as filtered watch secret is enabled by default and --filtered-watch-secret is deprecated
  test/bats/e2e-provider.bats
Due: none

chore: adds newline
  test/bats/e2e-provider.bats
Due: none

chore: prefixes v in version number
  test/e2eprovider/server/server.go
Due: none

chore: updates runtime name
  test/e2eprovider/server/server.go
Due: none

test: removes extra permission
  test/e2eprovider/e2e-provider-installer.yaml
Due: none

test: adds test for rotation
  Makefile
  test/e2eprovider/server/server_test.go
Due: none

test: adds e2eprovider tests in test target
  Makefile
  test/e2eprovider/server/server_test.go
Due: none

test: removes socket rather than entire tmp dir
  test/e2eprovider/server/server_test.go
Due: none

feat: adds psp to upgrade hooks
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: go fmt
  pkg/util/fileutil/atomic_writer_test.go
Due: none

chore: adds comments
  test/bats/e2e-provider.bats
Due: none

test: removes table driven test
  test/e2eprovider/server/server_test.go
Due: none

test: updates test sematics
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
  test/e2eprovider/server/server_test.go
Due: none

chore: go fmt
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
  test/e2eprovider/server/server_test.go
  test/e2eprovider/types/types.go
Due: none

chore: upgrade to go 1.17
  apis/v1alpha1/zz_generated.deepcopy.go
  go.mod
  hack/tools/go.mod
  hack/tools/tools.go
  pkg/util/fileutil/atomic_writer_test.go
Due: none

ci: reuses existing roles
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: restricts volumes to secret
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: update builder to golang:1.17
  docker/Dockerfile
  docker/windows.Dockerfile
Due: secrets-store-csi-driver-push-image

chore: update livenessprobe to v2.4.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: updates hook names to static to avoid larger than 63 chars
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: updates go mod to 1.17
  go.mod
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

chore: conditional role rule
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

feat: adds psp to upgrade hooks (#709)
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: update kubectl to 1.22.1 for integration tests
  Makefile
  test/bats/aws.bats
  test/bats/azure.bats
  test/bats/gcp.bats
  test/bats/vault.bats
Due: none
