Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-httpbin-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
  ...

pull-ingress-nginx-e2e-helm-chart:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20201208-8b354d9-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

update to newest image
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix: discover mounted geoip db files (#7228)
  cmd/nginx/flags.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/nginx/maxmind.go
  internal/nginx/maxmind_test.go
  test/e2e/settings/geoip2.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Retry to download maxmind DB if it fails (#7242)
  cmd/nginx/flags.go
  cmd/nginx/flags_test.go
  docs/user-guide/cli-arguments.md
  go.mod
  go.sum
  internal/nginx/maxmind.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix forwarding of auth-response-headers to gRPC backends (#7331)
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/auth.go
  test/e2e/annotations/grpc.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/cli-arguments/index.html
Due: none

Migrate the webhook-certgen program to inside ingress repo
  images/kube-webhook-certgen/Makefile
  images/kube-webhook-certgen/README.md
  images/kube-webhook-certgen/cloudbuild.yaml
  images/kube-webhook-certgen/rootfs/Dockerfile
  images/kube-webhook-certgen/rootfs/LICENSE
  images/kube-webhook-certgen/rootfs/README.md
  images/kube-webhook-certgen/rootfs/cmd/create.go
  images/kube-webhook-certgen/rootfs/cmd/patch.go
  images/kube-webhook-certgen/rootfs/cmd/root.go
  images/kube-webhook-certgen/rootfs/cmd/version.go
  images/kube-webhook-certgen/rootfs/core/version.go
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/main.go
  images/kube-webhook-certgen/rootfs/pkg/certs/certs.go
  images/kube-webhook-certgen/rootfs/pkg/certs/certs_test.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Migrate the webhook-certgen program to inside ingress repo (#7475)
  images/kube-webhook-certgen/Makefile
  images/kube-webhook-certgen/README.md
  images/kube-webhook-certgen/cloudbuild.yaml
  images/kube-webhook-certgen/rootfs/Dockerfile
  images/kube-webhook-certgen/rootfs/LICENSE
  images/kube-webhook-certgen/rootfs/README.md
  images/kube-webhook-certgen/rootfs/cmd/create.go
  images/kube-webhook-certgen/rootfs/cmd/patch.go
  images/kube-webhook-certgen/rootfs/cmd/root.go
  images/kube-webhook-certgen/rootfs/cmd/version.go
  images/kube-webhook-certgen/rootfs/core/version.go
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/main.go
  images/kube-webhook-certgen/rootfs/pkg/certs/certs.go
  images/kube-webhook-certgen/rootfs/pkg/certs/certs_test.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Trigger webhook image generation
  images/kube-webhook-certgen/cloudbuild.yaml
Due: none

Update controller_test.go
  internal/ingress/controller/controller_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Make custom-default-backend upstream name more unique.
  internal/ingress/controller/controller.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add initial helm chart documentation
  docs/deploy/helm-chart.md
  docs/deploy/index.md
  mkdocs.yml
Due: none

Split E2E for auth-tls-error-page and *-pass-certificate-to-upstream
  test/e2e/annotations/authtls.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Demonstrate and document that auth-tls-secret enables the other AuthTLS annotations like verify client, depth
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/authtls/main_test.go
  test/e2e/annotations/authtls.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

update e2e test images to newest promoted one
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update go version, modules and remove ioutil
  .gitignore
  build/run-in-docker.sh
  go.mod
  go.sum
  hack/tools.go
  internal/admission/controller/server.go
  internal/file/file.go
  internal/file/file_test.go
  internal/ingress/annotations/auth/main.go
  internal/ingress/annotations/auth/main_test.go
  internal/ingress/controller/checker.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/nginx_test.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  internal/ingress/controller/util.go
  internal/ingress/metric/collectors/socket.go
  internal/net/dns/dns.go
  internal/net/dns/dns_test.go
  internal/net/ssl/ssl.go
  internal/net/ssl/ssl_test.go
  internal/nginx/main.go
  internal/runtime/cpu_linux.go
  internal/watch/file_watcher_test.go
  test/e2e-image/Dockerfile
  test/e2e/settings/ocsp/ocsp.go
  test/e2e/settings/proxy_protocol.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

update e2e test images to newest promoted one (#7485)
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Release new helm chart with certgen fixed
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Improved disableaccesslog tests (#7463)
  test/e2e/annotations/disableaccesslog.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

allow kb granularity for lua shared dicts (#6750)
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/configmap.go
  internal/ingress/controller/template/configmap_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Add linux node selector as default
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release new helm chart with certgen fixed (#7478)
  .gitignore
  build/run-in-docker.sh
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  go.mod
  go.sum
  hack/tools.go
  internal/admission/controller/server.go
  internal/file/file.go
  internal/file/file_test.go
  internal/ingress/annotations/auth/main.go
  internal/ingress/annotations/auth/main_test.go
  internal/ingress/controller/checker.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/nginx_test.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  internal/ingress/controller/util.go
  internal/ingress/metric/collectors/socket.go
  internal/net/dns/dns.go
  internal/net/dns/dns_test.go
  internal/net/ssl/ssl.go
  internal/net/ssl/ssl_test.go
  internal/nginx/main.go
  internal/runtime/cpu_linux.go
  internal/watch/file_watcher_test.go
  test/e2e-image/Dockerfile
  test/e2e/settings/ocsp/ocsp.go
  test/e2e/settings/proxy_protocol.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Update index.yaml
  index.yaml
Due: none

Add linux node selector as default (#7481)
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix default backend annotation test
  test/e2e/annotations/customhttperrors.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix default backend annotation test (#7486)
  test/e2e/annotations/customhttperrors.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

[Cherry Pick] - Fix default backend annotation and tests (#7487)
  internal/ingress/controller/controller.go
  test/e2e/annotations/customhttperrors.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
