Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, pull-release-image-kube-cross

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/

Use dateless license boilerplate in all generated go files
  Makefile
  pkg/anago/anagofakes/fake_release_client.go
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/anagofakes/fake_stage_client.go
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/binary/binaryfakes/fake_binary_implementation.go
  pkg/build/buildfakes/fake_impl.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/gcp/gcb/gcbfakes/fake_history_impl.go
  pkg/gcp/gcb/gcbfakes/fake_list_jobs.go
  pkg/gcp/gcb/gcbfakes/fake_release.go
  pkg/gcp/gcb/gcbfakes/fake_repository.go
  pkg/gcp/gcb/gcbfakes/fake_version.go
  pkg/git/gitfakes/fake_repository.go
  pkg/git/gitfakes/fake_worktree.go
  pkg/github/githubfakes/fake_client.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/license/licensefakes/fake_downloader_implementation.go
  pkg/license/licensefakes/fake_reader_implementation.go
  pkg/mail/mailfakes/fake_apiclient.go
  pkg/mail/mailfakes/fake_send_client.go
  pkg/notes/notesfakes/fake_mo_diff.go
  pkg/object/objectfakes/fake_store.go
  pkg/release/releasefakes/fake_archiver_impl.go
  pkg/release/releasefakes/fake_branch_checker_impl.go
  pkg/release/releasefakes/fake_command_client.go
  pkg/release/releasefakes/fake_prerequisites_checker_impl.go
  pkg/release/releasefakes/fake_publisher_client.go
  pkg/release/releasefakes/fake_repository.go
  pkg/release/releasefakes/fake_version_client.go
  pkg/testgrid/testgridfakes/fake_client.go
Due: none

[go1.16] Update Golang dependency references to go1.16
  dependencies.yaml
Due: none

[go1.16] kube-cross: Build v1.16.0-1 image
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, pull-release-image-kube-cross

[go1.16] go-runner: Build v2.3.1-go1.16-buster.0 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner

[go1.16] releng-ci: Build v0.4.0 image
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

[go1.16] vulndash: Build v0.4.3-5 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

cloud-builder: add kube-cross-legacy variant
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s-rapture: Check if debs and rpms exist before calling rapiture addpkg
  hack/rapture/k8s-rapture.sh
Due: none

images/build/debian-iptables: Remove inactive members from OWNERS
  images/build/debian-iptables/OWNERS
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables

Implement --list-v2 in release notes
  cmd/release-notes/main.go
Due: none

[WIP] Add initial krelconfig v1alpha1 API
  apis/generate.go
  apis/krel/v1alpha1/doc.go
  apis/krel/v1alpha1/types.go
  apis/krel/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
Due: none

[WIP] Add CVE Information to template.go
  pkg/notes/document/document.go
  pkg/notes/document/template.go
  pkg/notes/notes.go
Due: none

Add CVEData verification function and check data is complete
  pkg/notes/document/document.go
  pkg/notes/document/template.go
  pkg/notes/notes.go
Due: none

Add link to CVE calculator on release notes CVE data
  pkg/notes/document/template.go
  pkg/notes/notes.go
Due: none

Add additional validation for CVE data and test (go mod tidy with golang 1.16)
  go.mod
  go.sum
  pkg/notes/document/template.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Due: none

Hardcode 1.20.3 exptn to fix pkg tests
  hack/packages/verify-published.sh
Due: none

Update krel release-notes flags in the docs
  docs/krel/release-notes.md
Due: none

Added list of krel subcommands
  docs/krel/README.md
Due: none

go.mod: Update github.com/containers/image/v5 to v5.10.4
  go.mod
  go.sum
Due: none

Update k8s-cloud-builder to v1.16.0-1
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Upadte k8s-ci-builder to use go1.16
  dependencies.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Allow building Kubernetes in parallel
  pkg/build/make.go
Due: none

pkg: Remove command, log, and util packages
  pkg/command/command.go
  pkg/command/command_test.go
  pkg/command/global.go
  pkg/command/global_test.go
  pkg/log/hooks.go
  pkg/log/log.go
  pkg/log/log_test.go
  pkg/log/step.go
  pkg/util/common.go
  pkg/util/common_test.go
  pkg/util/env.go
  pkg/util/env_test.go
Due: none

Move pkg/{editor,hash,http,tar} to sigs.k8s.io/release-utils
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/testgrid.go
  go.mod
  pkg/announce/github_page.go
  pkg/build/push.go
  pkg/changelog/impl.go
  pkg/editor/editor.go
  pkg/editor/editor_test.go
  pkg/editor/tty.go
  pkg/filepromoter/file.go
  pkg/gcp/build/build.go
  pkg/hash/hash.go
  pkg/hash/hash_test.go
  pkg/http/http.go
  pkg/http/http_test.go
  pkg/notes/document/document.go
  pkg/promobot/hash.go
  pkg/release/publish.go
  pkg/release/release.go
  pkg/release/version.go
  pkg/release/workspace.go
  pkg/tar/tar.go
  pkg/tar/tar_test.go
  pkg/testgrid/testgrid.go
Due: none

[go1.16] Update Golang dependency references to go1.16.1
  dependencies.yaml
Due: none

[go1.16] kube-cross: Build v1.16.1-1 image
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, pull-release-image-kube-cross

[go1.16] go-runner: Build v2.3.1-go1.16.1-buster.0 image
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner

[go1.16] releng-ci: Build v0.5.0 image
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

[go1.16] vulndash: Build v0.4.3-6 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

Switch to release-utils v0.2.0
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/sut_test.go
  cmd/release-notes/main.go
  go.mod
  go.sum
  pkg/github/github.go
  pkg/release/prerequisites.go
  pkg/release/release.go
Due: none

Use default KUBE_PARALLEL_BUILD_MEMORY
  pkg/build/make.go
Due: none

[go1.16] images: Build go1.16.1 k8s-{ci,cloud}-builder images
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

[go1.15] kube-cross: Build v1.15.8-1 / v1.15.9-legacy-1 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, pull-release-image-kube-cross

[go1.15] go-runner: Build v2.3.1-go1.15.9-buster.0 image
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner

images/kubecross: create a REGISTRY substitution to allow registry selection
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, pull-release-image-kube-cross

just for testing
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, pull-release-image-kube-cross

kubecross: remove Makefile.build-image dependencie and check if the env vars are set
  images/build/cross/Makefile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, pull-release-image-kube-cross

go-runner: add a REGISTRY substitution to allow registry selection
  images/Makefile.common-image
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner

[go1.15] kube-cross: Build v1.15.10-1 / v1.15.10-legacy-1 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, pull-release-image-kube-cross
