Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/

Update k8s-cloud-builder and k8s-ci-builder to Go 1.24.3/1.23.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

update dep-golang github issue template
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

Add unit tests for OBS release.go code
  pkg/obs/release_test.go
Due: post-release-push-image-k8s-ci-builder

upgrade go-github to v72
  go.mod
  go.sum
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

upgrade github.com/olekukonko/tablewriter and other deps
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

migrate to the new table configs
  cmd/ci-reporter/cmd/root.go
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root_test.go
  go.mod
  go.sum
  pkg/gcp/build/build.go
  pkg/gcp/gcb/history.go
Due: post-release-push-image-k8s-ci-builder

build kube-cross, go-runner, releng-ci with golang 1.24.4/1.23.10
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Bump distroless-iptables to use Go 1.23.10 and 1.24.4
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update k8s-cloud-builder and k8s-ci-builder to Go 1.24.4/1.23.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

rebuild debian-base - bump to bookworm-v1.0.5
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

clean up ci and apply best practices
  .github/workflows/codeql-analysis.yml
  .github/workflows/depsreview.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/scorecards-analysis.yml
  .github/workflows/snapshot.yaml
Due: none

golang: Build 1.25rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

update per feedback
  .github/workflows/lint.yml
Due: none

build distroless-iptables with go1.25rc1
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Add ca-certificates to debian-base
  images/build/debian-base/bookworm/Dockerfile.build
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

build kube-cross, go-runner, releng-ci with golang 1.24.5/1.23.11
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Bump distroless-iptables to use Go 1.23.11 and 1.24.5
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

feat(cvss): add CVSS v4.0 support, fix CVSS v2.0 invalid calculator link
  go.mod
  go.sum
  pkg/cve/cve.go
Due: post-release-push-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.24.5 for main
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

golang: Build 1.25rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Update k8s-cloud-builder and k8s-ci-builder to Go v1.24.5 and v1.23.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

build distroless-iptables with go1.25rc2
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

update pkg name and tablewriter
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/release_notes.go
  cmd/schedule-builder/cmd/markdown.go
  go.mod
  go.sum
  pkg/anago/anago.go
  pkg/anago/release.go
  pkg/announce/github/github.go
  pkg/announce/github/impl.go
  pkg/announce/impl.go
  pkg/build/push.go
  pkg/changelog/changelog.go
  pkg/changelog/impl.go
  pkg/fastforward/impl.go
  pkg/gcp/build/build.go
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/history.go
  pkg/obs/obs.go
  pkg/obs/release.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/impl.go
  pkg/obs/specs/specs.go
  pkg/obs/stage.go
  pkg/release/provenance.go
  pkg/release/publish.go
  pkg/release/push_git_objects.go
  pkg/release/release.go
  pkg/release/release_version.go
  pkg/release/version_test.go
  pkg/release/workspace.go
Due: post-release-push-image-k8s-ci-builder

build kube-cross, go-runner, releng-ci with golang 1.24.6/1.23.12
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

allow release-assets.githubusercontent.com
  .github/workflows/codeql-analysis.yml
Due: none

bump golangci-lint and allow release-assets.githubusercontent.com
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .golangci.yml
Due: none

update deprecated cloudbuild field
  images/build/cross/cloudbuild.yaml
  images/build/debian-base/cloudbuild.yaml
  images/build/distroless-iptables/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
  images/build/setcap/cloudbuild.yaml
  images/k8s-cloud-builder/cloudbuild.yaml
  images/releng/ci/cloudbuild.yaml
  images/releng/k8s-ci-builder/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

fix lints
  cmd/krel/cmd/sign_blobs.go
  cmd/publish-release/cmd/github_test.go
  dependencies.yaml
  pkg/binary/binary_unit_test.go
  pkg/gcp/build/build.go
  pkg/notes/document/document_test.go
  pkg/notes/notes.go
  pkg/release/publish.go
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

update cosign to v2.5.3
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

update pkg name and tablewriter
  cmd/ci-reporter/cmd/root.go
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/release_notes.go
  cmd/schedule-builder/cmd/markdown.go
  go.mod
  go.sum
  pkg/anago/anago.go
  pkg/anago/release.go
  pkg/announce/github/github.go
  pkg/announce/github/impl.go
  pkg/announce/impl.go
  pkg/build/push.go
  pkg/changelog/changelog.go
  pkg/changelog/impl.go
  pkg/fastforward/impl.go
  pkg/gcp/build/build.go
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/history.go
  pkg/obs/obs.go
  pkg/obs/release.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/impl.go
  pkg/obs/specs/specs.go
  pkg/obs/stage.go
  pkg/release/provenance.go
  pkg/release/publish.go
  pkg/release/push_git_objects.go
  pkg/release/release.go
  pkg/release/release_version.go
  pkg/release/version_test.go
  pkg/release/workspace.go
Due: post-release-push-image-k8s-ci-builder

update tests
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root_test.go
Due: post-release-push-image-k8s-ci-builder

Fix version
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

Bump distroless-iptables to use Go 1.23.12 and 1.24.6
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

feat: add includeLabels option to release-notes
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/generate.go
  pkg/changelog/changelog.go
  pkg/notes/notes.go
  pkg/notes/notes_v2.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.24.6 for main
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go v1.24.6 and v1.23.12
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder
