Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-monitoring:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-monitoring
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Image promotion for artifact-promoter v4.0.3-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote Vertical Pod Autoscaler 0.14.0
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add DNS challenge for TestGrid cert.
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Update restrictions.yaml
  groups/restrictions.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Update groups.yaml
  groups/sig-api-machinery/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for artifact-promoter v4.0.4-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add an AWS account for OBS infra
  infra/aws/terraform/management-account/organization-accounts-workloads-prod.tf
Due: none

Update groups/sig-api-machinery/groups.yaml
  groups/sig-api-machinery/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Update groups.yaml
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Adding New k8s.io lists for api-machinery in order to fix Zoom accounts and prepare for future list migrations (#5460)
  groups/restrictions.yaml
  groups/sig-api-machinery/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote ingress-nginx test-runner build with go v1.20.5
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

update e2e-test-runner with golang 1.20.5
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote git-sync v3.6.8 (baseimage CVEs)
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add ingress-nginx 1.8.1
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.28.0-alpha.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.28.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.0-alpha.1.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

promote new baseimage
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote dns 1.22.22 and 1.22.23 images
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2023-06-26
  audit/projects/k8s-infra-e2e-boskos-008/buckets/kops-state-k8s-infra-e2e-boskos-008/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-008/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-017/buckets/kops-state-k8s-infra-e2e-boskos-017/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-017/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-029/buckets/kops-state-k8s-infra-e2e-boskos-029/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-029/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-047/buckets/kops-state-k8s-infra-e2e-boskos-047/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-047/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-075/buckets/kops-state-k8s-infra-e2e-boskos-075/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-075/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-080/buckets/kops-state-k8s-infra-e2e-boskos-080/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-080/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-081/buckets/kops-state-k8s-infra-e2e-boskos-081/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-081/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-095/buckets/kops-state-k8s-infra-e2e-boskos-095/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-095/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-101/buckets/kops-state-k8s-infra-e2e-boskos-101/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-101/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-117/buckets/kops-state-k8s-infra-e2e-boskos-117/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-117/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/k8s-staging-boskos/services/logging/logs.json
  audit/projects/k8s-staging-etcdadm/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

Promote git-sync v4.0.0-rc2
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Update Ubuntu AMI for EKS prow build cluster
  infra/aws/terraform/modules/eks-prow-iam/policy_apply.tf
  infra/aws/terraform/modules/eks-prow-iam/policy_destroy.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

Image promotion for cluster-api v1.3.9
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.4.4
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.5.0-beta.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promoting go1205 & alpine3182 images
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-operator v0.4.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote ingress-nginx v1.8.1
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Change alpine registry for EKS
  infra/aws/terraform/prow-build-cluster/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/tune-sysctls_daemonset.yaml
Due: k8sio-k8s-resources-verify

Change alpine registry for GCP
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/tune-sysctls_daemonset.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2023-06-28
  audit/projects/k8s-infra-e2e-boskos-002/buckets/kops-state-k8s-infra-e2e-boskos-002/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-002/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-021/buckets/kops-state-k8s-infra-e2e-boskos-021/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-021/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-035/buckets/kops-state-k8s-infra-e2e-boskos-035/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-035/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-036/buckets/kops-state-k8s-infra-e2e-boskos-036/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-036/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-041/buckets/kops-state-k8s-infra-e2e-boskos-041/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-041/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-052/buckets/kops-state-k8s-infra-e2e-boskos-052/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-052/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-053/buckets/kops-state-k8s-infra-e2e-boskos-053/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-053/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-073/buckets/kops-state-k8s-infra-e2e-boskos-073/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-073/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-088/buckets/kops-state-k8s-infra-e2e-boskos-088/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-088/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-098/buckets/kops-state-k8s-infra-e2e-boskos-098/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-098/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-100/buckets/kops-state-k8s-infra-e2e-boskos-100/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-100/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-110/buckets/kops-state-k8s-infra-e2e-boskos-110/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-110/services/compute/project-info.json
  audit/projects/k8s-infra-porche-prod/services/logging/logs.json
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

k8s-infra: bump components for the container image
  images/k8s-infra/Dockerfile
Due: post-k8sio-push-image-k8s-infra

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
