Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Rename cloudbuild.yml to cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
Due: none

Change the cloudbuild timeout
  images/custom-error-pages/cloudbuild.yaml
Due: none

Add e2e tests for secure cookie annotations (#7575)
  test/e2e/annotations/affinity.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Modify tests and add some logic for origin validation
  internal/ingress/annotations/annotations_test.go
  internal/ingress/annotations/cors/main.go
  internal/ingress/controller/template/template.go
  test/e2e/annotations/cors.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs/README.md: remove trailing whitespace
  images/kube-webhook-certgen/rootfs/README.md
Due: none

images/kube-webhook-certgen/rootfs: improve code formatting
  images/kube-webhook-certgen/rootfs/cmd/create.go
  images/kube-webhook-certgen/rootfs/cmd/patch.go
  images/kube-webhook-certgen/rootfs/pkg/certs/certs.go
  images/kube-webhook-certgen/rootfs/pkg/certs/certs_test.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs: remove executable bits from files
  images/kube-webhook-certgen/rootfs/README.md
  images/kube-webhook-certgen/rootfs/cmd/create.go
  images/kube-webhook-certgen/rootfs/cmd/patch.go
  images/kube-webhook-certgen/rootfs/cmd/root.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs/cmd: remove unreachable code
  images/kube-webhook-certgen/rootfs/cmd/patch.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add new flag to watch ingressclass by name instead of spec (#7609)
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
  cmd/nginx/flags.go
  internal/ingress/controller/ingressclass/ingressclass.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  test/e2e/settings/ingress_class.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Updating from/to www redirect to use X-Forwarded-Proto
  rootfs/etc/nginx/template/nginx.tmpl
Due: post-ingress-nginx-push-images

Added docs for --ingress-class-by-name flag in the cli arguments page
  docs/user-guide/cli-arguments.md
Due: none

Updated docs to match the flag description in code
  docs/user-guide/cli-arguments.md
Due: none

Fix wrong image location used in nginx-errors example config
  docs/examples/customization/custom-errors/custom-default-backend.yaml
Due: none

Only build nginx-errors for linux/amd64
  images/custom-error-pages/Makefile
Due: none

Only build nginx-errors for linux/amd64 (#7625)
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  images/custom-error-pages/Makefile
Due: none

Deploy GitHub Pages
  examples/customization/custom-errors/custom-default-backend.yaml
  sitemap.xml
  sitemap.xml.gz
Due: none

Add e2e tests for secure cookie annotations (#7575) (#7619)
  test/e2e/annotations/affinity.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs/pkg/k8s: fix unit tests
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs: create clientset in cmd package
  images/kube-webhook-certgen/rootfs/cmd/create.go
  images/kube-webhook-certgen/rootfs/cmd/patch.go
  images/kube-webhook-certgen/rootfs/cmd/root.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs/cmd: simplify bool logic
  images/kube-webhook-certgen/rootfs/cmd/patch.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs/pkg/k8s: improve formatting
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs/pkg/k8s: improve variable names
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs/pkg/k8s: refactor a bit
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

images/kube-webhook-certgen/rootfs/pkg/k8s: fix error log messages
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Set header X-Original-Forwarded-For for external auth
  rootfs/etc/nginx/template/nginx.tmpl
Due: post-ingress-nginx-push-images

add libs for jwt auth and ca for http calls
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

include libs for jwt manipulation
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

helm: adding quote to every namespace
  charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrolebinding.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/rolebinding.yaml
  charts/ingress-nginx/templates/admission-webhooks/validating-webhook.yaml
  charts/ingress-nginx/templates/clusterrolebinding.yaml
  charts/ingress-nginx/templates/controller-prometheusrules.yaml
  charts/ingress-nginx/templates/controller-rolebinding.yaml
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
  charts/ingress-nginx/templates/default-backend-rolebinding.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Downgrade nginx to v1.19 and apply openresty patches
  images/nginx/rootfs/build.sh
  images/nginx/rootfs/patches/nginx-1.19.3-no_Werror.patch
  images/nginx/rootfs/patches/nginx-1.19.9-always_enable_cc_feature_tests.patch
  images/nginx/rootfs/patches/nginx-1.19.9-balancer_status_code.patch
  images/nginx/rootfs/patches/nginx-1.19.9-builtin_error_page_footer.patch
  images/nginx/rootfs/patches/nginx-1.19.9-cache_manager_exit.patch
  images/nginx/rootfs/patches/nginx-1.19.9-daemon_destroy_pool.patch
  images/nginx/rootfs/patches/nginx-1.19.9-delayed_posted_events.patch
  images/nginx/rootfs/patches/nginx-1.19.9-hash_overflow.patch
  images/nginx/rootfs/patches/nginx-1.19.9-init_cycle_pool_release.patch
  images/nginx/rootfs/patches/nginx-1.19.9-intercept_error_log.patch
  images/nginx/rootfs/patches/nginx-1.19.9-larger_max_error_str.patch
  images/nginx/rootfs/patches/nginx-1.19.9-log_escape_non_ascii.patch
  images/nginx/rootfs/patches/nginx-1.19.9-no_Werror.patch
  images/nginx/rootfs/patches/nginx-1.19.9-no_error_pages.patch
  images/nginx/rootfs/patches/nginx-1.19.9-patch2021-resolver.patch
  images/nginx/rootfs/patches/nginx-1.19.9-pcre_conf_opt.patch
  images/nginx/rootfs/patches/nginx-1.19.9-privileged_agent_process.patch
  images/nginx/rootfs/patches/nginx-1.19.9-privileged_agent_process_connections.patch
  images/nginx/rootfs/patches/nginx-1.19.9-proxy_host_port_vars.patch
  images/nginx/rootfs/patches/nginx-1.19.9-resolver_conf_parsing.patch
  images/nginx/rootfs/patches/nginx-1.19.9-reuseport_close_unused_fds.patch
  images/nginx/rootfs/patches/nginx-1.19.9-safe_resolver_ipv6_option.patch
  images/nginx/rootfs/patches/nginx-1.19.9-server_header.patch
  images/nginx/rootfs/patches/nginx-1.19.9-single_process_graceful_exit.patch
  images/nginx/rootfs/patches/nginx-1.19.9-socket_cloexec.patch
  images/nginx/rootfs/patches/nginx-1.19.9-ssl_cert_cb_yield.patch
  images/nginx/rootfs/patches/nginx-1.19.9-ssl_sess_cb_yield.patch
  images/nginx/rootfs/patches/nginx-1.19.9-static_mod_escape_loc_hdr.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_balancer_export.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_proxy_get_next_upstream_tries.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_proxy_timeout_fields.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_ssl_preread_no_skip.patch
  images/nginx/rootfs/patches/nginx-1.19.9-upstream_pipelining.patch
  images/nginx/rootfs/patches/nginx-1.19.9-upstream_timeout_fields.patch
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

fix typos.
  docs/user-guide/nginx-configuration/annotations.md
  rootfs/etc/nginx/lua/plugins/README.md
Due: post-ingress-nginx-push-images

Downgrade nginx to v1.19
  images/nginx/rootfs/build.sh
  images/nginx/rootfs/patches/nginx-1.19.3-no_Werror.patch
  images/nginx/rootfs/patches/nginx-1.19.9-balancer_status_code.patch
  images/nginx/rootfs/patches/nginx-1.19.9-cache_manager_exit.patch
  images/nginx/rootfs/patches/nginx-1.19.9-delayed_posted_events.patch
  images/nginx/rootfs/patches/nginx-1.19.9-hash_overflow.patch
  images/nginx/rootfs/patches/nginx-1.19.9-init_cycle_pool_release.patch
  images/nginx/rootfs/patches/nginx-1.19.9-larger_max_error_str.patch
  images/nginx/rootfs/patches/nginx-1.19.9-no_Werror.patch
  images/nginx/rootfs/patches/nginx-1.19.9-proxy_host_port_vars.patch
  images/nginx/rootfs/patches/nginx-1.19.9-resolver_conf_parsing.patch
  images/nginx/rootfs/patches/nginx-1.19.9-reuseport_close_unused_fds.patch
  images/nginx/rootfs/patches/nginx-1.19.9-single_process_graceful_exit.patch
  images/nginx/rootfs/patches/nginx-1.19.9-socket_cloexec.patch
  images/nginx/rootfs/patches/nginx-1.19.9-ssl_cert_cb_yield.patch
  images/nginx/rootfs/patches/nginx-1.19.9-ssl_sess_cb_yield.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_proxy_get_next_upstream_tries.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_ssl_preread_no_skip.patch
  images/nginx/rootfs/patches/nginx-1.19.9-upstream_pipelining.patch
  images/nginx/rootfs/patches/nginx-1.19.9-upstream_timeout_fields.patch
  images/nginx/rootfs/patches/patch.2021.resolver.txt
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Updates E2E test images registry
  docs/examples/chashsubset/deployment.yaml
  docs/examples/http-svc.yaml
  docs/examples/multi-tls/multi-tls.yaml
  test/e2e/annotations/canary.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Downgrade nginx to v1.19 (#7639)
  images/nginx/rootfs/build.sh
  images/nginx/rootfs/patches/nginx-1.19.3-no_Werror.patch
  images/nginx/rootfs/patches/nginx-1.19.9-balancer_status_code.patch
  images/nginx/rootfs/patches/nginx-1.19.9-cache_manager_exit.patch
  images/nginx/rootfs/patches/nginx-1.19.9-delayed_posted_events.patch
  images/nginx/rootfs/patches/nginx-1.19.9-hash_overflow.patch
  images/nginx/rootfs/patches/nginx-1.19.9-init_cycle_pool_release.patch
  images/nginx/rootfs/patches/nginx-1.19.9-larger_max_error_str.patch
  images/nginx/rootfs/patches/nginx-1.19.9-no_Werror.patch
  images/nginx/rootfs/patches/nginx-1.19.9-proxy_host_port_vars.patch
  images/nginx/rootfs/patches/nginx-1.19.9-resolver_conf_parsing.patch
  images/nginx/rootfs/patches/nginx-1.19.9-reuseport_close_unused_fds.patch
  images/nginx/rootfs/patches/nginx-1.19.9-single_process_graceful_exit.patch
  images/nginx/rootfs/patches/nginx-1.19.9-socket_cloexec.patch
  images/nginx/rootfs/patches/nginx-1.19.9-ssl_cert_cb_yield.patch
  images/nginx/rootfs/patches/nginx-1.19.9-ssl_sess_cb_yield.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_proxy_get_next_upstream_tries.patch
  images/nginx/rootfs/patches/nginx-1.19.9-stream_ssl_preread_no_skip.patch
  images/nginx/rootfs/patches/nginx-1.19.9-upstream_pipelining.patch
  images/nginx/rootfs/patches/nginx-1.19.9-upstream_timeout_fields.patch
  images/nginx/rootfs/patches/patch.2021.resolver.txt
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

fix typos. (#7640)
  docs/user-guide/nginx-configuration/annotations.md
  rootfs/etc/nginx/lua/plugins/README.md
Due: post-ingress-nginx-push-images
