Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

CI: Rework Python.
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

CI: Rename `helm` to `chart`.
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

CI: Rework code checkout.
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

CI: Rework Git.
  .github/workflows/chart.yaml
Due: none

CI: Rework chart testing.
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Chart: Rework Controller ConfigMap Add/Proxy Headers values.
  charts/ingress-nginx/ci/controller-configmap-addheaders-values.yaml
  charts/ingress-nginx/ci/controller-configmap-proxyheaders-values.yaml
  charts/ingress-nginx/ci/daemonset-headers-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework Admission Webhooks Cert Manager values.
  charts/ingress-nginx/ci/admission-webhooks-cert-manager-values.yaml
  charts/ingress-nginx/ci/controller-admission-tls-cert-manager-values.yaml
  charts/ingress-nginx/ci/deployment-webhook-extraEnvs-values.yaml
  charts/ingress-nginx/ci/deployment-webhook-resources-values.yaml
  charts/ingress-nginx/ci/deployment-webhook-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework Controller Deployment/DaemonSet values.
  charts/ingress-nginx/ci/controller-daemonset-values.yaml
  charts/ingress-nginx/ci/controller-deployment-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework Controller ConfigMap values.
  charts/ingress-nginx/ci/controller-configmap-values.yaml
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

CI: Rework docs generation.
  .github/workflows/ci.yaml
  .gitignore
  MANUAL_RELEASE.md
  magefiles/steps/helm.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

CI: Rework cluster creation.
  .github/workflows/ci.yaml
Due: none

CI: Rework chart release.
  .github/workflows/chart.yaml
Due: none

CI: Rework conditions.
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

CI: Rework Cert Manager.
  docs/user-guide/third-party-addons/opentelemetry.md
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Rework Helm.
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

Chart: Rework Controller HPA values.
  charts/ingress-nginx/ci/controller-hpa-values.yaml
  charts/ingress-nginx/ci/deployment-autoscaling-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

CI: Rework chart linting.
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

Chart: Rework Controller Deployment/DaemonSet Pod Annotations values.
  charts/ingress-nginx/ci/controller-daemonset-podannotations-values.yaml
  charts/ingress-nginx/ci/controller-deployment-podannotations-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework Controller Service values.
  charts/ingress-nginx/ci/controller-service-values.yaml
  charts/ingress-nginx/ci/daemonset-nodeport-values.yaml
  charts/ingress-nginx/ci/daemonset-tcp-udp-configMapNamespace-values.yaml
  charts/ingress-nginx/ci/daemonset-tcp-udp-portNamePrefix-values.yaml
  charts/ingress-nginx/ci/daemonset-tcp-udp-values.yaml
  charts/ingress-nginx/ci/daemonset-tcp-values.yaml
  charts/ingress-nginx/ci/deployment-customnodeport-values.yaml
  charts/ingress-nginx/ci/deployment-nodeport-values.yaml
  charts/ingress-nginx/ci/deployment-tcp-udp-configMapNamespace-values.yaml
  charts/ingress-nginx/ci/deployment-tcp-udp-portNamePrefix-values.yaml
  charts/ingress-nginx/ci/deployment-tcp-udp-values.yaml
  charts/ingress-nginx/ci/deployment-tcp-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework Controller Service Internal values.
  charts/ingress-nginx/ci/controller-service-internal-values.yaml
  charts/ingress-nginx/ci/deployment-internal-lb-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

CI: Rework unit testing.
  .github/workflows/ci.yaml
Due: none

Chart: Rework Controller Deployment/DaemonSet Extra Modules values.
  charts/ingress-nginx/ci/controller-daemonset-extra-modules-values.yaml
  charts/ingress-nginx/ci/controller-deployment-extra-modules-values.yaml
  charts/ingress-nginx/ci/daemonset-extra-modules.yaml
  charts/ingress-nginx/ci/deployment-extra-modules-default-container-sec-context.yaml
  charts/ingress-nginx/ci/deployment-extra-modules-specific-container-sec-context.yaml
  charts/ingress-nginx/ci/deployment-extra-modules.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework Controller Deployment/DaemonSet OpenTelemetry values.
  charts/ingress-nginx/ci/controller-daemonset-opentelemetry-values.yaml
  charts/ingress-nginx/ci/controller-deployment-opentelemetry-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework Controller IngressClass values.
  charts/ingress-nginx/ci/controller-custom-ingressclass-flags.yaml
  charts/ingress-nginx/ci/controller-ingressclass-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework Controller Deployment/DaemonSet Metrics values.
  charts/ingress-nginx/ci/controller-daemonset-metrics-values.yaml
  charts/ingress-nginx/ci/controller-deployment-metrics-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

CI: Rework cache loading.
  .github/workflows/ci.yaml
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/third-party-addons/opentelemetry/index.html
Due: none
