Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

audit: update as of 2021-09-10
  audit/projects/kubernetes-public/secrets/k8s-infra-cherrypick-robot-github-token/description.json
  audit/projects/kubernetes-public/secrets/k8s-infra-cherrypick-robot-github-token/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-cherrypick-robot-github-token/versions.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-cookie/description.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-github-oauth-config/description.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-github-oauth-config/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-hmac-token/description.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-hmac-token/iam.json
Due: none

audit: update as of 2021-09-10
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20210910.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-staging-sig-storage/services/logging/logs.json
Due: none

releng: Promote go1.17.1 / go1.16.8 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

bash/staging: remove containeranalysis service agent binding
  infra/gcp/bash/ensure-staging-storage.sh
Due: none

releng: Promote debian-iptables:buster-v1.6.7
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

kubernetes-public: Enable billing service
  infra/gcp/bash/ensure-main-project.sh
Due: none

bash/main: fix cherrypick secret iam
  infra/gcp/bash/ensure-main-project.sh
Due: none

infra/gcp/bash: s/artifact_/image_
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/lib.sh
Due: none

infra/gcp/bash: Prepend `IMAGE_` to image promoter svc account vars
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/ensure-staging-storage.sh
  infra/gcp/bash/lib.sh
Due: none

infra/gcp/bash: Add `empower_file_promoter`
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/lib.sh
Due: none

infra/gcp: Add service account bindings for file promotion
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-serviceaccounts.yaml
Due: k8sio-k8s-resources-verify

bash/prod: fix static path
  infra/gcp/bash/ensure-prod-storage.sh
Due: none

releng: Promote kpromo:v0.2.2-1 image
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Promote kpromo:v0.2.3-1 image
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

artifacts: Update manifests to use file promotion service account
  artifacts/filestores/k8s-staging-kops/filepromoter-manifest.yaml
Due: k8sio-k8s-resources-verify

Add custom-error-pages to nginx images.yaml
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Update links to refer to main branch in nginx images.yaml
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Fix copy/paste fail
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Use a consistent name for nginx-errors
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote nginx error pages (#2708)
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Promote kpromo:v0.2.4-1 image
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

artifacts(cri-tools): Add OWNERS
  artifacts/manifests/k8s-staging-cri-tools/OWNERS
Due: none

artifacts(cri-tools): Backfill supported releases to staging
  artifacts/filestores/k8s-staging-cri-tools/filepromoter-manifest.yaml
  artifacts/manifests/k8s-staging-cri-tools/backfill.yaml
Due: k8sio-k8s-resources-verify

artifacts(cri-tools): Backfill supported releases to production
  artifacts/filestores/k8s-staging-cri-tools/filepromoter-manifest.yaml
Due: k8sio-k8s-resources-verify

groups: mv k8s-infra-rbac-triageparty-cli to sig-cli
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-cli/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-rbac-sippy to sig-architecture
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-architecture/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv gke-security-groups to wg-k8s-infra
  groups/groups.yaml
  groups/restrictions.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

docs: update group instructions
  groups/README.md
  k8s.gcr.io/README.md
  running-in-community-clusters.md
Due: pull-k8sio-groups-test, post-k8sio-groups

groups: mv k8s-infra-ii-coop to wg-k8s-infra
  groups/groups.yaml
  groups/restrictions.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-staging-multitenancy to sig-auth
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-auth/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-artifact-security to committee-product-security
  groups/committee-product-security/groups.yaml
  groups/groups.yaml
  groups/restrictions.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: add TODOs
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: update root OWNERS
  groups/OWNERS
  groups/groups_test.go
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: delegate approval to subdirectories
  groups/committee-code-of-conduct/OWNERS
  groups/committee-product-security/OWNERS
  groups/committee-steering/OWNERS
  groups/sig-api-machinery/OWNERS
  groups/sig-apps/OWNERS
  groups/sig-architecture/OWNERS
  groups/sig-auth/OWNERS
  groups/sig-autoscaling/OWNERS
  groups/sig-cli/OWNERS
  groups/sig-cloud-provider/OWNERS
  groups/sig-cluster-lifecycle/OWNERS
  groups/sig-contributor-experience/OWNERS
  groups/sig-docs/OWNERS
  groups/sig-instrumentation/OWNERS
  groups/sig-network/OWNERS
  groups/sig-node/OWNERS
  groups/sig-release/OWNERS
  groups/sig-scalability/OWNERS
  groups/sig-scheduling/OWNERS
  groups/sig-security/OWNERS
  groups/sig-storage/OWNERS
  groups/sig-testing/OWNERS
  groups/wg-k8s-infra/OWNERS
Due: pull-k8sio-groups-test, post-k8sio-groups

Refactor groups reconciliation in order for functionalities to be mocked
  groups/client.go
  groups/groups_test.go
  groups/reconcile.go
  groups/service.go
Due: pull-k8sio-groups-test, post-k8sio-groups

artifacts: Add docs for file/artifact promotion
  artifacts/README.md
  groups/README.md
  k8s.gcr.io/README.md
Due: pull-k8sio-groups-test, post-k8sio-groups

OWNERS(releng): s/`cip`/`promo-tools`
  OWNERS_ALIASES
  infra/gcp/bash/backup_tools/OWNERS
  infra/gcp/bash/cip-auditor/OWNERS
  k8s.gcr.io/images/k8s-staging-artifact-promoter/OWNERS
Due: none

artifacts: Add RelEng/WG K8s Infra as approvers/reviewers
  artifacts/OWNERS
Due: none
