Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/

Re-draw graph for commit rewind explanation
  pkg/notes/notes_v2.go
Due: none

Add comment on quirky goroutine implementation
  pkg/notes/notes_v2.go
Due: none

Don't use a SSH URL when cloning k/sig-release
  cmd/krel/cmd/release_notes.go
Due: none

Build go-runner:buster-v2.3.1 (golang 1.15.8)
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Utilize MergeBase for finding common ancestor
  pkg/notes/notes_v2.go
Due: none

Fix s390x build failures.
  images/build/setcap/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-setcap

Display DoNotPublish on edit view
  cmd/krel/cmd/release_notes.go
Due: none

Update go-modiff to v1.3.0
  go.mod
  go.sum
Due: none

go.mod: Update directives to go1.16 and run `go mod tidy`
  go.mod
  go.sum
  images/build/go-runner/go.mod
  packages/deb/go.mod
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Use ARG and --build-arg instead of sed.
  images/build/debian-hyperkube-base/Dockerfile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables

kube-cross: Build v1.16.0-rc.1-2 image (for real this time)
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

go-runner: Build v2.3.1-go1.16rc1-buster.0 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/VERSION
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

docs: Cleanup
  docs/vuln-dashboard.md
Due: none

cross: create new variant with protobuf version 3.0.2
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
  images/build/cross/default/Dockerfile
  images/build/cross/legacy/Dockerfile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

releng-ci: Build v0.3.0 image (using go1.16rc1)
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

kube-cross: Build v1.16.0-rc.1-2 image (using go1.16rc1)
  images/build/cross/Makefile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Change k/k8s.io branch to "main" in image promotion PRs
  cmd/krel/cmd/promote-images.go
Due: none

Simplify build image Makefile's
  images/build/debian-base/Makefile
  images/build/debian-hyperkube-base/.gitignore
  images/build/debian-hyperkube-base/Dockerfile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
  images/build/setcap/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap

Adding a setcap image so that capabilities can be applied to kubernetes binaries.
  images/build/setcap/Dockerfile
  images/build/setcap/Makefile
  images/build/setcap/README.md
  images/build/setcap/cloudbuild.yaml
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-setcap

vulndash: Build v0.4.3-4 image (using go1.16rc1)
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
Due: post-release-push-image-vulndash

Fix formatting of README file.
  images/build/setcap/README.md
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-setcap

Simplify debian-base image builds
  .gitignore
  images/build/debian-base/Makefile
  images/build/debian-base/buster/Dockerfile.build
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

go-runner: Build v2.3.1-go1.16rc1-buster.1 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

k8s-rapture: Check if debs and rpms exist before calling rapiture addpkg
  hack/rapture/k8s-rapture.sh
Due: none

Add dateless go license boilerplate
  hack/boilerplate/boilerplate.generatego.txt
Due: none

cloud-builder: add kube-cross-legacy variant
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Implement --list-v2 in release notes
  cmd/release-notes/main.go
Due: none

Use dateless license boilerplate in all generated go files
  Makefile
  pkg/anago/anagofakes/fake_release_client.go
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/anagofakes/fake_stage_client.go
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/binary/binaryfakes/fake_binary_implementation.go
  pkg/build/buildfakes/fake_impl.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/gcp/gcb/gcbfakes/fake_history_impl.go
  pkg/gcp/gcb/gcbfakes/fake_list_jobs.go
  pkg/gcp/gcb/gcbfakes/fake_release.go
  pkg/gcp/gcb/gcbfakes/fake_repository.go
  pkg/gcp/gcb/gcbfakes/fake_version.go
  pkg/git/gitfakes/fake_repository.go
  pkg/git/gitfakes/fake_worktree.go
  pkg/github/githubfakes/fake_client.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/license/licensefakes/fake_downloader_implementation.go
  pkg/license/licensefakes/fake_reader_implementation.go
  pkg/mail/mailfakes/fake_apiclient.go
  pkg/mail/mailfakes/fake_send_client.go
  pkg/notes/notesfakes/fake_mo_diff.go
  pkg/object/objectfakes/fake_store.go
  pkg/release/releasefakes/fake_archiver_impl.go
  pkg/release/releasefakes/fake_branch_checker_impl.go
  pkg/release/releasefakes/fake_command_client.go
  pkg/release/releasefakes/fake_prerequisites_checker_impl.go
  pkg/release/releasefakes/fake_publisher_client.go
  pkg/release/releasefakes/fake_repository.go
  pkg/release/releasefakes/fake_version_client.go
  pkg/testgrid/testgridfakes/fake_client.go
Due: none

[go1.16] vulndash: Build v0.4.3-5 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

[go1.16] Update Golang dependency references to go1.16
  dependencies.yaml
Due: none

[go1.16] releng-ci: Build v0.4.0 image
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

images/build/debian-iptables: Remove inactive members from OWNERS
  images/build/debian-iptables/OWNERS
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

[go1.16] kube-cross: Build v1.16.0-1 image
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

pkg/github will no longer set GITHUB_TOKEN variable
  pkg/github/github.go
Due: none

[go1.16] go-runner: Build v2.3.1-go1.16-buster.0 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Allow building Kubernetes in parallel
  pkg/build/make.go
Due: none

Add additional validation for CVE data and test (go mod tidy with golang 1.16)
  go.mod
  go.sum
  pkg/notes/document/template.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Due: none

go.mod: Update github.com/containers/image/v5 to v5.10.4
  go.mod
  go.sum
Due: none

Switch to release-utils v0.2.0
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/sut_test.go
  cmd/release-notes/main.go
  go.mod
  go.sum
  pkg/github/github.go
  pkg/release/prerequisites.go
  pkg/release/release.go
Due: none

Add link to CVE calculator on release notes CVE data
  pkg/notes/document/template.go
  pkg/notes/notes.go
Due: none
