Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Add CapacityQuota validation to the controller
  cluster-autoscaler/resourcequotas/capacityquota/controller.go
  cluster-autoscaler/resourcequotas/capacityquota/validator.go
  cluster-autoscaler/test/integration/controllers/capacityquota_controller_test.go
  cluster-autoscaler/test/integration/controllers/suite_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Implement CapacityQuota controller
  cluster-autoscaler/resourcequotas/capacityquota/controller.go
  cluster-autoscaler/resourcequotas/capacityquota/testutil/testutil.go
  cluster-autoscaler/test/integration/controllers/capacityquota_controller_test.go
  cluster-autoscaler/test/integration/controllers/suite_test.go
  cluster-autoscaler/utils/test/test_utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Enhance scale-down latency tracking to report specific reasons for node un-neediness in metrics.
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/metrics/legacy_functions.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/metrics/metrics_test.go
  cluster-autoscaler/simulator/cluster.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Initialize counters with zero in vpa-updater
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Mark known flakes as flakes
  vertical-pod-autoscaler/test/e2e/v1/full_vpa.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix(vpa): do not discard fresh OOMs near aggregation boundary
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

vpa/admission-controller: escape resource & annotation names in JSONPatch paths
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/util.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/util_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

vpa/admission-controller: return HTTP 413 for oversized requests
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Create TestInitCountersAreZero test to verify InitCounter function
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

error message typo fix
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Created separate tracker options for minQuotasProvider
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/options/autoscaler.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use Recreate update mode
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add AtomicIncreaseSize method for VMS ap
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Address review comment: remove auto-combination of CloudMinProvider in autoscaler.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Validate CapacityQuota resources format
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/capacityquota_types.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacityquotalimits.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacityquotas.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

move initcounters call after off/inital check and update test typos
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Bump VPA's tests to kindest/node:v1.36.1
  .github/kind-config.yaml
Due: none

Add UTs
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Align instance listing for HasInstance() and NodeGroupForNode() to prevent mismatches.
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Clean up oci instance pool log messages and add debug statements for easier troubleshooting.
  cluster-autoscaler/cloudprovider/oci/common/oci_ref.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_cache.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Skip search if the instance-pool is not set but the node-pool is (it is an OKE node).
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Ignore string case when comparing instance pool summary state
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_instance_pool_manager_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Make dependabot manage the VPA 1.7 release branch
  .github/dependabot.yml
  vertical-pod-autoscaler/RELEASE.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Make dependabot manage the VPA 1.7 release branch
  .github/dependabot.yml
Due: none

update contributing doc with deprecation policy
  CONTRIBUTING.md
Due: none

Update k8s deps to v1.36.1, prep for CA 1.36.0 release
  cluster-autoscaler/Dockerfile
  cluster-autoscaler/Makefile
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/cherryservers/cherry_manager_rest.go
  cluster-autoscaler/cloudprovider/equinixmetal/manager_rest.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
  cluster-autoscaler/cloudprovider/linode/linode_api_client.go
  cluster-autoscaler/e2e/go.mod
  cluster-autoscaler/e2e/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/hack/update-deps.sh
  cluster-autoscaler/version/version.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

kamatera cloudprovider refactor, fixes, improvements
  cluster-autoscaler/cloudprovider/kamatera/README.md
  cluster-autoscaler/cloudprovider/kamatera/examples/deployment.yaml
  cluster-autoscaler/cloudprovider/kamatera/examples/rbac.yaml
  cluster-autoscaler/cloudprovider/kamatera/examples/secret.yaml
  cluster-autoscaler/cloudprovider/kamatera/examples/server-init-kubeadm.sh.txt
  cluster-autoscaler/cloudprovider/kamatera/examples/server-init-rancher.sh.txt
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_config.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_config_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_instance.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_instance_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_main_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_provider_id.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_provider_id_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_request.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_request_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: undo Scale operation when a scaleUpRequest times out
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

change undo-scaleup message to warn and improve unit tests
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
