Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

audit: update as of 2022-11-09
  audit/projects/k8s-staging-ingressconformance/services/logging/logs.json
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Image promotion for artifact-promoter v3.4.9-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-11-10
  audit/projects/k8s-staging-tejolote/services/logging/logs.json
  audit/projects/k8s-staging-win-op-rdnss/services/logging/logs.json
  audit/projects/k8s-staging-zeitgeist/services/logging/logs.json
Due: none

Revert deleted ASN data
  registry.k8s.io/infra/meta/asns/alibabagroup.yaml
  registry.k8s.io/infra/meta/asns/amazon.yaml
  registry.k8s.io/infra/meta/asns/baidu.yaml
  registry.k8s.io/infra/meta/asns/digitalocean.yaml
  registry.k8s.io/infra/meta/asns/equinixmetal.yaml
  registry.k8s.io/infra/meta/asns/google.yaml
  registry.k8s.io/infra/meta/asns/huawei.yaml
  registry.k8s.io/infra/meta/asns/microsoft.yaml
  registry.k8s.io/infra/meta/asns/tencentcloud.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.4.5
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-11-10
  audit/projects/k8s-staging-kmm/services/logging/logs.json
  audit/projects/k8s-staging-kwok/services/logging/logs.json
Due: none

Image promotion for cluster-api-azure v1.5.4
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.26.0-beta.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.6.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Create k8s-infra-porche-admins group
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Remove artifactserver from this repo
  README.md
  artifactserver/.bazelrc
  artifactserver/.gitignore
  artifactserver/BUILD.bazel
  artifactserver/WORKSPACE
  artifactserver/cmd/artifactserver/BUILD.bazel
  artifactserver/cmd/artifactserver/main.go
  artifactserver/go.mod
  artifactserver/go.sum
  artifactserver/manifest.yaml
  artifactserver/tools/get_workspace_status.sh
Due: k8sio-k8s-resources-verify

audit: update as of 2022-11-11
  audit/projects/k8s-staging-multitenancy/services/logging/logs.json
Due: none

Promote images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update docs to include a pointer to how sync works today
  registry.k8s.io/MANUALLY_SYNCING_BUCKETS.md
Due: none

add us only regions
  infra/gcp/bash/ensure-prod-storage.sh
Due: none

Create sandbox k8s-infra-porche project
  infra/gcp/terraform/k8s-infra-porche-sandbox/README.md
  infra/gcp/terraform/k8s-infra-porche-sandbox/monitoring.tf
  infra/gcp/terraform/k8s-infra-porche-sandbox/network.tf
  infra/gcp/terraform/k8s-infra-porche-sandbox/outputs.tf
  infra/gcp/terraform/k8s-infra-porche-sandbox/porche-sandbox.tf
  infra/gcp/terraform/k8s-infra-porche-sandbox/provider.tf
  infra/gcp/terraform/k8s-infra-porche-sandbox/terraform.tfvars
  infra/gcp/terraform/k8s-infra-porche-sandbox/variables.tf
  infra/gcp/terraform/k8s-infra-porche-sandbox/versions.tf
Due: none

Add k8s-infra-tf-porche bucket for storing TF state
  infra/gcp/bash/ensure-main-project.sh
Due: none

Promoting pause image 3.9
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promoting etcd:3.5.5-1
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add DNS entry for CAPI release-1.3 branch
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

Image promotion for cluster-api v1.3.0-rc.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.26.0-rc.0 / v1.27.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote image cluster-api-ibmcloud-controller:v0.3.1
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-11-16
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20221114.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
  audit/projects/k8s-infra-oci-proxy-prod/services/logging/logs.json
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-staging-capi-cloudstack/services/logging/logs.json
  audit/projects/k8s-staging-etcd/services/logging/logs.json
  audit/projects/k8s-staging-kubernetes/services/logging/logs.json
  audit/projects/k8s-staging-publishing-bot/services/logging/logs.json
  audit/projects/k8s-staging-tejolote/services/logging/logs.json
Due: none

Promote dns 1.22.14 and 1.22.15 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Deploy AR mirrors to remaining US AR regions (#4419)
  infra/gcp/bash/ensure-prod-storage.sh
Due: none

release: promote capa v2.0.0 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote 1.3.9 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

release: promote capa v1.5.2 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.2.6
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for sp-operator v0.6.0
  k8s.gcr.io/images/k8s-staging-sp-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

steering: Paris to Emeritus, add Carlos
  OWNERS_ALIASES
  groups/committee-steering/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups
