Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-distroless-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

build image with go1.22.4 for active release branches that were in go1.21
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.4 for active release branches
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

drop building images for go1.21.x
  dependencies.yaml
  images/build/distroless-iptables/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner, pull-release-image-distroless-iptables, pull-release-image-releng-ci

sync go.mod
  go.mod
Due: post-release-push-image-k8s-ci-builder

fix lints
  cmd/release-notes/main.go
  dependencies.yaml
  gcb/gcb_test.go
  go.sum
  pkg/anago/release_test.go
  pkg/anago/stage_test.go
  pkg/binary/binary_test.go
  pkg/build/build_test.go
  pkg/mail/mail_test.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
  pkg/obs/stage.go
  pkg/testgrid/testgrid-scraper_test.go
Due: post-release-push-image-k8s-ci-builder

sync go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

add job to test packages with rpmlint
  Makefile
  compile-release-tools
  hack/get-krel
  hack/test-go-integration.sh
  hack/test-go.sh
  hack/test-sh.sh
  hack/verify-package-specs.sh
Due: post-release-push-image-k8s-ci-builder

debug
  hack/verify-package-specs.sh
Due: none

Use new release-sdk `WaitResults` API
  go.mod
  go.sum
  pkg/obs/stage.go
Due: post-release-push-image-k8s-ci-builder

Adding windows-hpc-base-image
  images/windows-hpc-base/.gitignore
  images/windows-hpc-base/Cloudbuild.yml
  images/windows-hpc-base/Makefile
  images/windows-hpc-base/README.md
  images/windows-hpc-base/build-hpc-base-image.sh
  images/windows-hpc-base/cc0-legalcode.txt
  images/windows-hpc-base/cc0-license.txt
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Adding windows-hpc-base-image
  images/windows-hpc-base/.gitignore
  images/windows-hpc-base/Makefile
  images/windows-hpc-base/README.md
  images/windows-hpc-base/build-hpc-base-image.sh
  images/windows-hpc-base/cc0-legalcode.txt
  images/windows-hpc-base/cc0-license.txt
  images/windows-hpc-base/cloudbuild.yml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

update goreleaser config to version 2
  .goreleaser.yml
Due: none

fix deprecated field
  .goreleaser.yml
Due: none

Build Go 1.22.5
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

bump distroless-iptables to use go1.22.5
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.5
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

add releng-ci go1.21 back
  images/releng/ci/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

update gorelease and ko tools
  images/releng/ci/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

golang: Build 1.23rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

build distroless-iptables with go1.23rc1
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Remove unnecessary `os.Exit` after `logrus.Fatal`
  cmd/ci-reporter/main.go
Due: post-release-push-image-k8s-ci-builder

Update go.mod
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

golang: Build 1.23rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

creating yaml-lint cmd
  cmd/yaml-lint/cmd/root.go
  cmd/yaml-lint/main.go
  cmd/yaml-lint/run.sh
  pkg/yamllint/yamllint.go
Due: post-release-push-image-k8s-ci-builder

add sig labels to markdown
  pkg/notes/maps/testdata/unit/maps.yaml
  pkg/notes/notes.go
  pkg/notes/notes_map_test.go
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

Update pkg/notes/notes.go
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

build distroless-iptables with go1.23rc2
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

fix empty list render
  pkg/notes/maps/testdata/applymap-unit-test/maps.yaml
  pkg/notes/maps/testdata/no-sigs-unit-test/map.yaml
  pkg/notes/notes.go
  pkg/notes/notes_map_test.go
  pkg/notes/notes_test.go
Due: post-release-push-image-k8s-ci-builder

Add k8s-cloud-builder and k8s-ci-builder for Go 1.23rc2
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update release-utils to v0.8.4
  cmd/krel/cmd/announce_send.go
  go.mod
  go.sum
  pkg/release/publish.go
  pkg/release/version.go
  pkg/testgrid/testgrid.go
  pkg/testgrid/testgrid_test.go
  pkg/testgrid/testgridfakes/fake_client.go
Due: post-release-push-image-k8s-ci-builder

Allow `-l` alias for `krel` `--log-level` flag
  cmd/krel/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

Update golangci-lint to v1.60
  .github/workflows/lint.yml
  .golangci.yml
  dependencies.yaml
  pkg/build/push.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/options/options_test.go
Due: post-release-push-image-k8s-ci-builder

Switch to `conntrack-tools` as kubelet dependency
  cmd/krel/templates/latest/kubelet/kubelet.spec
Due: post-release-push-image-k8s-ci-builder

Fix version
  .github/workflows/scorecards-analysis.yml
Due: none

Fix lint CI
  .golangci.yml
  cmd/krel/cmd/sign_blobs.go
Due: post-release-push-image-k8s-ci-builder

Build krel from sources when not using default `TOOL_*` values
  gcb/fast-forward/cloudbuild.yaml
  gcb/obs-release/cloudbuild.yaml
  gcb/obs-stage/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  hack/get-krel
Due: none

Skip release archive
  cmd/krel/cmd/announce_build.go
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/sign_blobs.go
  pkg/anago/anago.go
  pkg/anago/anago_test.go
  pkg/anago/anagofakes/fake_release_client.go
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/release.go
  pkg/announce/announce.go
  pkg/announce/impl.go
  pkg/release/archive.go
  pkg/release/archive_test.go
  pkg/release/archive_unit_test.go
  pkg/release/doc.go
  pkg/release/release.go
  pkg/release/releasefakes/fake_archiver_impl.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.22.6
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

distroless-iptables: remove dependency from conntrack binary
  images/build/distroless-iptables/distroless-bookworm/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
