Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

tests for path resolver, add KUBE_ROOT to both top level func calls
  test/instrumentation/main.go
  test/instrumentation/main_test.go
  test/instrumentation/stability-utils.sh
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix validation for basic-auth secrets and error messaging
  pkg/apis/core/validation/validation.go
Due: none

Committed on 7 15 2021
  2021/7/15/commit.md
Due: none

e2e: node: fix the critical pod test
  test/e2e/framework/pods.go
  test/e2e_node/critical_pod_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Make --configure-cloud-routes configurable in local-up-cluster
  hack/local-up-cluster.sh
Due: pull-kubernetes-local-e2e

Flake #99979 increase delay for ready state propagation
  test/e2e/common/node/container_probe.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

move upgrade test frameworks closer to Describe
  test/e2e/cloud/gcp/apps/stateful_apps.go
  test/e2e/cloud/gcp/auth/service_account_admission_controller_migration.go
  test/e2e/cloud/gcp/cluster_upgrade.go
  test/e2e/cloud/gcp/network/kube_proxy_migration.go
  test/e2e/cloud/gcp/node/gpu.go
  test/e2e/upgrades/upgrade_suite.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

debug sysctl options
  hack/jenkins/test-dockerized.sh
Due: none

don't fsync on etcd for testing
  hack/lib/etcd.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

use subtests on integration rbac_test
  test/integration/auth/rbac_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Revert "PodSecurity: make integration tests run sparsely"
  staging/src/k8s.io/pod-security-admission/test/run.go
Due: pull-kubernetes-godeps

updating create-external-load-balancer
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

device-plugins: replace gcr.io/gke-release to use the community registry
  cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml
Due: pull-kubernetes-e2e-gke

tests: Updates cuda-vector-add:1.0 image to the promoted registry
  test/utils/image/manifest.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

code-generator: use multithreading to reduce time-consuming
  hack/update-codegen.sh
  staging/src/k8s.io/code-generator/generate-groups.sh
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
Due: pull-kubernetes-godeps

Remove E2E test for NodePreferAvoidPods scheduling Score
  test/e2e/scheduling/events.go
  test/e2e/scheduling/priorities.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add missing locks for device-manager in 1.19
  pkg/kubelet/cm/devicemanager/manager.go
Due: pull-kubernetes-local-e2e-containerized

CHANGELOG: Update directory for v1.19.13 release
  CHANGELOG/CHANGELOG-1.19.md
Due: none

Update CHANGELOG/CHANGELOG-1.19.md for v1.19.13
  CHANGELOG/CHANGELOG-1.19.md
Due: none

CHANGELOG: Update directory for v1.20.9 release
  CHANGELOG/CHANGELOG-1.20.md
Due: none

Update CHANGELOG/CHANGELOG-1.20.md for v1.20.9
  CHANGELOG/CHANGELOG-1.20.md
Due: none

CHANGELOG: Update directory for v1.21.3 release
  CHANGELOG/CHANGELOG-1.21.md
Due: none

Update CHANGELOG/CHANGELOG-1.21.md for v1.21.3
  CHANGELOG/CHANGELOG-1.21.md
Due: none

dummy pr to test windows capz pr tests
  README.md
Due: none

CHANGELOG: Update directory for v1.22.0-beta.2 release
  CHANGELOG/CHANGELOG-1.22.md
Due: none

fix deadcode issues
  cmd/kube-proxy/app/server.go
  pkg/credentialprovider/gcp/metadata.go
  pkg/kubelet/certificate/bootstrap/bootstrap_test.go
  pkg/registry/core/pod/rest/metrics.go
  pkg/util/iptables/iptables.go
  plugin/pkg/admission/imagepolicy/certs_test.go
  test/e2e/network/ingress.go
  test/e2e/storage/drivers/csi-test/mock/service/service.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

e2e: increase readiness gate timeout
  test/e2e/common/node/pods.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Update test/e2e/framework/resource_usage_gatherer.go
  test/e2e/framework/resource_usage_gatherer.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

refactored variables containing master
  test/e2e/framework/resource_usage_gatherer.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

update golangci-lint to newer version
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

fix ineffassign and varcheck
  cmd/kube-proxy/app/server.go
  pkg/apis/storage/validation/validation_test.go
  pkg/generated/openapi/cmd/models-schema/main.go
  test/e2e/common/node/pods.go
  test/e2e/lifecycle/bootstrap/bootstrap_signer.go
  test/e2e/node/events.go
  test/e2e/node/pods.go
  test/e2e/scheduling/limit_range.go
  test/integration/evictions/evictions_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Revert granting EndpointSlice write access to edit role
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none
