Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

fix: implement GPULabel for GPU node readiness
  cluster-autoscaler/cloudprovider/coreweave/coreweave_provider.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_provider_gpu_test.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(coreweave): add B300 instance type (#10)
  cluster-autoscaler/cloudprovider/coreweave/coreweave_instance_types.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_nodegroup_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

civo: remove redundant rand.Seed call
  cluster-autoscaler/cloudprovider/civo/civo-cloud-sdk-go/utils/random.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

volcengine: remove redundant rand.Seed call
  cluster-autoscaler/cloudprovider/volcengine/volc-sdk-golang/base/utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

baiducloud: remove redundant rand.Seed call
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud-sdk-go/util/util.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

addon-resizer: add test coverage for ContainerResources
  addon-resizer/nanny/kubernetes_client_test.go
Due: none

Include DRA node-allocatable claim statuses in PodRequests calculation
  cluster-autoscaler/utils/pod/pod.go
  cluster-autoscaler/utils/pod/pod_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Sanitize NodeAllocatableResourceClaimStatuses
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize.go
  cluster-autoscaler/simulator/dynamicresources/utils/sanitize_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Extract DRA node allocatable claim statuses in PredicateSnapshot
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add scale-up integration test for DRA node-allocatable resources
  cluster-autoscaler/core/static_autoscaler_dra_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Group percentiles into a struct with API-level validation
  vertical-pod-autoscaler/enhancements/9970-per-vpa-target-percentiles/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Minor edits
  vertical-pod-autoscaler/enhancements/9970-per-vpa-target-percentiles/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

add resource slices support
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/wrapper/wrapper.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group_test.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.pb.go
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc.proto
  cluster-autoscaler/cloudprovider/externalgrpc/protos/externalgrpc_grpc.pb.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix typo
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

cluster-autoscaler: bump golang.org/x/crypto to v0.55.0 on release-1.35
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Defer generated flag row until dependency update
  cluster-autoscaler/FAQ.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

update node logic
  cluster-autoscaler/cloudprovider/vultr/vultr_manager.go
  cluster-autoscaler/cloudprovider/vultr/vultr_manager_test.go
  cluster-autoscaler/cloudprovider/vultr/vultr_node_group.go
  cluster-autoscaler/cloudprovider/vultr/vultr_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix tests
  cluster-autoscaler/cloudprovider/vultr/vultr_node_group.go
  cluster-autoscaler/cloudprovider/vultr/vultr_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

update HasInstance to account for unmanaged nodes
  cluster-autoscaler/cloudprovider/vultr/vultr_cloud_provider.go
  cluster-autoscaler/cloudprovider/vultr/vultr_cloud_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

updated per feedback
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor_test.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/pkg/updater/utils/pod.go
  vertical-pod-autoscaler/pkg/updater/utils/pod_test.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_observed_containers.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_observed_containers_test.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
  vertical-pod-autoscaler/test/e2e/v1/actuation.go
  vertical-pod-autoscaler/test/e2e/v1/recommender.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: tests use updated context
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

bump github.com/Azure/skewer/v2 from 2.0.1 to 2.1.0
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_client_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Update table of contents
  vertical-pod-autoscaler/enhancements/9970-per-vpa-target-percentiles/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: scope the AcceleratorCount guard to its own block
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: guard optional AcceleratorCount when building the AWS template node
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

docs: document updateCapacityWithRequirementsOverrides
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Handle failed OCI node pool reconciles
  cluster-autoscaler/cloudprovider/oci/README.md
  cluster-autoscaler/cloudprovider/oci/examples/oci-nodepool-cluster-autoscaler-w-principals.yaml
  cluster-autoscaler/cloudprovider/oci/nodepools/cache.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager_test.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update core cluster-autoscaler to v0.0.0-k8s.v1.37.0
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

VPA: add test coverage for admission controller TLS config
  vertical-pod-autoscaler/pkg/admission-controller/config_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

exoscale: add test coverage for provider ID and instance status helpers
  cluster-autoscaler/cloudprovider/exoscale/util_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

utho: add test coverage for pure helper functions in utils.go
  cluster-autoscaler/cloudprovider/utho/utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

clusterapi: support atomic scale-up requests
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_atomic_scale_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_test_framework.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

clusterapi: grant scale access for machine sets
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  cluster-autoscaler/charts/cluster-autoscaler/templates/clusterrole.yaml
  cluster-autoscaler/charts/cluster-autoscaler/templates/role.yaml
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Give CapacityBuffers the /scale subresource
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1alpha1/types.go
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1beta1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: don't fail template build if ephemeral-storage lookup fails
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

VPA: don't attempt to load other recommender's checkpoints
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

VPA: ignore stale lastState OOMs in the quick-OOM path
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Give CapacityBuffers the /scale subresource
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1alpha1/types.go
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybufferspec.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/capacitybufferspec.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/clientset.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1alpha1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1alpha1/interface.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/interface.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/factory.go
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1beta1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Spell out percentile flag names
  vertical-pod-autoscaler/enhancements/9970-per-vpa-target-percentiles/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

changes for ignore-unmanaged-node-pool-check-forCA
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
