Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*

helm: additional cluster roles for secretproviderclasses (#836)
  manifest_staging/charts/secrets-store-csi-driver/templates/role-secretproviderclasses-admin.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-secretproviderclasses-viewer.yaml
  manifest_staging/deploy/role-secretproviderclasses-admin.yaml
  manifest_staging/deploy/role-secretproviderclasses-viewer.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

adding naive tests as folllow-up to #836
  test/bats/e2e-provider.bats
  test/bats/tests/e2e_provider/role-secretproviderclasses-admin.yaml
  test/bats/tests/e2e_provider/role-secretproviderclasses-viewer.yaml
Due: none

remove extra manifests, install new roles in e2e-deploy-manifest
  Makefile
  test/bats/tests/e2e_provider/role-secretproviderclasses-admin.yaml
  test/bats/tests/e2e_provider/role-secretproviderclasses-viewer.yaml
Due: none

test: add test for view and admin cluster role (#845)
  Makefile
  test/bats/e2e-provider.bats
Due: none

chore: updates trivy command
  Makefile
Due: none

docs: remove helm repo url change note in install steps
  docs/book/src/getting-started/installation.md
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

feat: send NodePublishVolumeRequest.VolumeContext in MountRequest to provider
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
Due: none

ci: fix shellcheck file paths
  Makefile
Due: none

chore: remove old helm packages and index
  charts/index.yaml
  charts/secrets-store-csi-driver-0.0.10.tgz
  charts/secrets-store-csi-driver-0.0.11.tgz
  charts/secrets-store-csi-driver-0.0.12.tgz
  charts/secrets-store-csi-driver-0.0.13.tgz
  charts/secrets-store-csi-driver-0.0.14.tgz
  charts/secrets-store-csi-driver-0.0.15.tgz
  charts/secrets-store-csi-driver-0.0.16.tgz
  charts/secrets-store-csi-driver-0.0.17.tgz
  charts/secrets-store-csi-driver-0.0.18.tgz
  charts/secrets-store-csi-driver-0.0.19.tgz
  charts/secrets-store-csi-driver-0.0.20.tgz
  charts/secrets-store-csi-driver-0.0.21.tgz
  charts/secrets-store-csi-driver-0.0.22.tgz
  charts/secrets-store-csi-driver-0.0.23.tgz
  charts/secrets-store-csi-driver-0.0.9.tgz
  charts/secrets-store-csi-driver-0.1.0.tgz
  charts/secrets-store-csi-driver-0.2.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

feat: add token requests client
  cmd/secrets-store-csi-driver/main.go
  config/rbac/role.yaml
  controllers/secretproviderclasspodstatus_controller.go
  go.mod
  go.sum
  manifest_staging/charts/secrets-store-csi-driver/templates/role.yaml
  manifest_staging/deploy/rbac-secretproviderclass.yaml
  pkg/k8s/token.go
  pkg/k8s/token_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
  test/sanity/sanity_test.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: add e2e test with e2e-provider and add helm config
  Makefile
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  test/bats/e2e-provider.bats
  test/bats/helpers.bash
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
  test/e2eprovider/server/server_test.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: move token request rbac markers to separate pkg
  Makefile
  config/rbac-tokenrequest/kustomization.yaml
  config/rbac-tokenrequest/role.yaml
  config/rbac-tokenrequest/role_binding.yaml
  config/rbac/role.yaml
  controllers/secretproviderclasspodstatus_controller.go
  controllers/tokenrequest/tokenrequest.go
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role.yaml
  manifest_staging/deploy/rbac-secretproviderclass.yaml
  manifest_staging/deploy/rbac-secretprovidertokenrequest.yaml
  test/bats/e2e-provider.bats
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: use multiple test functions
  Makefile
  config/rbac-tokenrequest/role.yaml
  config/rbac/role.yaml
  controllers/secretproviderclasspodstatus_controller.go
  controllers/tokenrequest/tokenrequest.go
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role.yaml
  manifest_staging/deploy/rbac-secretproviderclass.yaml
  manifest_staging/deploy/rbac-secretprovidertokenrequest.yaml
  pkg/k8s/token.go
  test/e2eprovider/server/server_test.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: set resync duration at caller
  cmd/secrets-store-csi-driver/main.go
  pkg/k8s/token.go
  pkg/k8s/token_test.go
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver_test.go
Due: none

feat: add token requests client (#805)
  Makefile
  cmd/secrets-store-csi-driver/main.go
  config/rbac-tokenrequest/kustomization.yaml
  config/rbac-tokenrequest/role.yaml
  config/rbac-tokenrequest/role_binding.yaml
  config/rbac/role.yaml
  controllers/secretproviderclasspodstatus_controller.go
  controllers/tokenrequest/tokenrequest.go
  go.mod
  go.sum
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/rbac-secretproviderclass.yaml
  manifest_staging/deploy/rbac-secretprovidertokenrequest.yaml
  pkg/k8s/token.go
  pkg/k8s/token_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  test/bats/e2e-provider.bats
  test/bats/helpers.bash
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
  test/e2eprovider/server/server.go
  test/e2eprovider/server/server_test.go
  test/sanity/sanity_test.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

refactor: use NewSharedInformerFactoryWithOptions for new shared informer
  pkg/k8s/token.go
  pkg/k8s/token_test.go
Due: none

ci: add goreleaser workflow for release
  .github/workflows/create-release.yaml
  .goreleaser.yml
Due: none

Fix: lint
  charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: mark `v1alpha1` api version as deprecated
  apis/v1alpha1/secretproviderclass_types.go
  apis/v1alpha1/secretproviderclasspodstatus_types.go
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump version to v1.1.0-rc.0 in release-1.1
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

ci: update e2e_mock_provider_tests kubernetes versions
  .github/workflows/e2e.yaml
Due: none

release: update manifest and helm charts for v1.1.0-rc.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/role-secretproviderclasses-admin.yaml
  charts/secrets-store-csi-driver/templates/role-secretproviderclasses-viewer.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  charts/secrets-store-csi-driver/templates/role.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/rbac-secretproviderclass.yaml
  deploy/rbac-secretprovidertokenrequest.yaml
  deploy/role-secretproviderclasses-admin.yaml
  deploy/role-secretproviderclasses-viewer.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.1.0-rc.0
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/role-secretproviderclasses-admin.yaml
  charts/secrets-store-csi-driver/templates/role-secretproviderclasses-viewer.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  charts/secrets-store-csi-driver/templates/role.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/rbac-secretproviderclass.yaml
  deploy/rbac-secretprovidertokenrequest.yaml
  deploy/role-secretproviderclasses-admin.yaml
  deploy/role-secretproviderclasses-viewer.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.1.0-rc.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.1.0-rc.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

adds helm chart release v0.3.0 and v1.0.0
  charts/\
  charts/secrets-store-csi-driver-0.3.0.tgz
  charts/secrets-store-csi-driver-1.0.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

adds helm chart release v0.3.0 and v1.0.0
  charts/\
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

fix index.yaml timestamps
  charts/index.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump `node-driver-registrar:v2.5.0` and `livenessprobe:v2.6.0`
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: conditionally check token requests role and binding
  test/bats/e2e-provider.bats
Due: none

fix: add unit test to validate error shadowed bug
  pkg/secrets-store/nodeserver_test.go
Due: none

fix: update err variable in defer to prevent err shadowing
  pkg/secrets-store/nodeserver.go
Due: none

feat: support provider paths under /var/run
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
  test/e2eprovider/e2e-provider-installer.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: make token requests conditional for v1.20+
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

add tests
  akeyless.bats
  test/akeyless/pod-inline-volume-secretproviderclass.yaml
  test/akeyless/secretproviderclass.yaml
Due: none

add documentation
  Makefile
  docs/book/src/concepts.md
  docs/book/src/getting-started/installation.md
  docs/book/src/getting-started/usage.md
  docs/book/src/introduction.md
  docs/book/src/testing.md
  docs/book/src/topics/sync-as-kubernetes-secret.md
Due: none
