Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
      - make e2e-bootstrap e2e-helm-deploy-release e2e-vault
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcp-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

docs: removes Service account volume projection from matrix
  docs/book/src/providers.md
Due: none

chore: update the initialDelaySeconds and timeoutSeconds for node-driver-registrar livenessprobe
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: use structured logging and update imports order
  cmd/secrets-store-csi-driver/main.go
  controllers/secretproviderclasspodstatus_controller.go
  controllers/secretproviderclasspodstatus_controller_test.go
  pkg/k8s/store.go
  pkg/k8s/store_test.go
  pkg/metrics/exporter.go
  pkg/metrics/prometheus_exporter.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/controllerserver.go
  pkg/secrets-store/identityserver.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/server.go
  pkg/util/fileutil/atomic_writer.go
  pkg/util/fileutil/filesystem_test.go
  pkg/util/secretutil/secret_test.go
  provider/fake/fake_server.go
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server_test.go
  test/sanity/sanity_test.go
Due: none

docs: update design docs status
  docs/design/README.md
Due: none

feat: create or update secretproviderclasspodstatus post mount
  cmd/secrets-store-csi-driver/main.go
  controllers/secretproviderclasspodstatus_controller_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/utils.go
  pkg/secrets-store/utils_test.go
  pkg/util/spcpsutil/spcps.go
  pkg/util/spcpsutil/spcps_test.go
  test/sanity/sanity_test.go
Due: none

chore: use kubectl.kubernetes.io/default-container annotation
  .local/debug-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

feat: adds support for inplace upgrade test
  test/bats/e2e-provider.bats
Due: none

chore: update to debian-base:bullseye-v1.0.0
  Makefile
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: bump version to v1.0.0-rc.0 in release-1.0
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

test: debug ci failures with docker build
  Makefile
  docker/BASEIMAGE
  docker/Dockerfile
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

Support imagePullSecrets in secrets-store-csi-driver-upgrade-crds
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

WIP
  Makefile
Due: none

ci: debug
  test/bats/e2e-provider.bats
Due: none

ci: tests inplace upgrade
  test/scripts/e2e_provider.sh
Due: none

test: fixes inplace upgrade test
  test/bats/e2e-provider.bats
  test/e2eprovider/server/server.go
Due: none

test: removes debug
  test/bats/e2e-provider.bats
  test/scripts/e2e_provider.sh
Due: none

release: update manifest and helm charts for v1.0.0-rc.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.0.0-rc.0
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.0.0-rc.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.0.0-rc.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

feat: adds windows server 2022
  Makefile
  docker/BASEIMAGE
  docker/BASEIMAGE_CORE
Due: secrets-store-csi-driver-push-image

fix: inplace upgrade test (#752)
  test/bats/e2e-provider.bats
  test/e2eprovider/server/server.go
Due: none

Removed extra lines
  docker/BASEIMAGE
  docker/BASEIMAGE_CORE
Due: secrets-store-csi-driver-push-image

added single new line
  docker/BASEIMAGE
  docker/BASEIMAGE_CORE
Due: secrets-store-csi-driver-push-image

fix: inplace upgrade test (#752)
  docker/BASEIMAGE
  docker/BASEIMAGE_CORE
  test/bats/e2e-provider.bats
  test/e2eprovider/server/server.go
Due: secrets-store-csi-driver-push-image

feat: adds windows server 2022 (#756)
  Makefile
  docker/BASEIMAGE
  docker/BASEIMAGE_CORE
Due: secrets-store-csi-driver-push-image

feat: adds windows server 2022
  docker/BASEIMAGE
  docker/BASEIMAGE_CORE
Due: secrets-store-csi-driver-push-image

Revert #752 changes
  test/bats/e2e-provider.bats
  test/e2eprovider/server/server.go
Due: none

Automated cherry pick of #756: feat: adds windows server 2022 (#757)
  Makefile
  docker/BASEIMAGE
  docker/BASEIMAGE_CORE
Due: secrets-store-csi-driver-push-image

tests: add e2e test for vault rotation
  test/bats/tests/vault/pod-vault-rotation.yaml
  test/bats/vault.bats
Due: none

test: update yamls to use v1 api version
  test/bats/tests/aws/BasicTestMountSPC.yaml
  test/bats/tests/azure/azure_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1alpha1_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1alpha1_secretproviderclass_ns.yaml
  test/bats/tests/azure/rotation/azure_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_secretproviderclass_ns.yaml
  test/bats/tests/e2e_provider/rotation/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/gcp/gcp_v1alpha1_secretproviderclass.yaml
  test/bats/tests/vault/pod-vault-rotation.yaml
  test/bats/tests/vault/vault_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1alpha1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1alpha1_secretproviderclass_ns.yaml
Due: none

test: use api version based on kubectl api-resources output
  apis/v1/secretproviderclass_types.go
  apis/v1alpha1/secretproviderclass_types.go
  test/bats/aws.bats
  test/bats/azure.bats
  test/bats/e2e-provider.bats
  test/bats/gcp.bats
  test/bats/helpers.bash
  test/bats/tests/azure/azure_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1_multiple_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1_secretproviderclass_ns.yaml
  test/bats/tests/azure/rotation/azure_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1_multiple_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1_secretproviderclass_ns.yaml
  test/bats/tests/e2e_provider/rotation/e2e_provider_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/gcp/gcp_v1_secretproviderclass.yaml
  test/bats/tests/vault/vault_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1_multiple_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1_secretproviderclass_ns.yaml
  test/bats/vault.bats
Due: none

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*
