Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

post-ingress-nginx-cfssl:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-custom-error-pages:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-e2e-test-echo:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-fastcgi-helloserver:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-httpbun:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-kube-webhook-certgen:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx-1-25:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Chart: Remove OpenTelemetry.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/controller-daemonset-extra-modules-values.yaml
  charts/ingress-nginx/ci/controller-daemonset-opentelemetry-values.yaml
  charts/ingress-nginx/ci/controller-deployment-extra-modules-values.yaml
  charts/ingress-nginx/ci/controller-deployment-opentelemetry-values.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/third-party-addons/opentelemetry.md
  magefiles/utils/helm.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Images: Remove OpenTelemetry.
  .github/workflows/images.yaml
  images/opentelemetry/Makefile
  images/opentelemetry/TAG
  images/opentelemetry/cloudbuild.yaml
  images/opentelemetry/rootfs/CMakeLists.txt
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/build.sh
  images/opentelemetry/rootfs/go.mod
  images/opentelemetry/rootfs/init_module.go
Due: post-ingress-nginx-opentelemetry, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Images: Remove OpenTelemetry. (#12024)
  .github/workflows/images.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/controller-daemonset-extra-modules-values.yaml
  charts/ingress-nginx/ci/controller-daemonset-opentelemetry-values.yaml
  charts/ingress-nginx/ci/controller-deployment-extra-modules-values.yaml
  charts/ingress-nginx/ci/controller-deployment-opentelemetry-values.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/third-party-addons/opentelemetry.md
  images/opentelemetry/Makefile
  images/opentelemetry/TAG
  images/opentelemetry/cloudbuild.yaml
  images/opentelemetry/rootfs/CMakeLists.txt
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/build.sh
  images/opentelemetry/rootfs/go.mod
  images/opentelemetry/rootfs/init_module.go
  magefiles/utils/helm.go
Due: post-ingress-nginx-opentelemetry, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/third-party-addons/opentelemetry/index.html
Due: none

Chart: Add `global.image.registry`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/default-backend-deployment_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Add `global.image.registry`. (#12028)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/default-backend-deployment_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Bump the all group with 2 updates (#12036)
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/perftest.yaml
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
  .github/workflows/zz-tmpl-images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Bump the all group with 2 updates (#12035)
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/perftest.yaml
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
  .github/workflows/zz-tmpl-images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Dependabot: Reorder updates.
  .github/dependabot.yml
Due: none

Dependabot: Improve group names.
  .github/dependabot.yml
Due: none

Dependabot: Fix directories.
  .github/dependabot.yml
Due: none

GitHub: Improve Dependabot. (#12033)
  .github/dependabot.yml
Due: none

[release-1.10] GitHub: Improve Dependabot. (#12037)
  .github/dependabot.yml
Due: none

GitHub: Improve Dependabot. (#12038)
  .github/dependabot.yml
Due: none

Bump github.com/prometheus/client_golang from 1.11.1 to 1.20.4 in /images/custom-error-pages/rootfs (#12046)
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages

Bump github.com/prometheus/client_golang from 1.11.1 to 1.20.4 in /images/custom-error-pages/rootfs (#12045)
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages

Bump k8s.io/apimachinery from 0.23.1 to 0.31.1 in /images/ext-auth-example-authsvc/rootfs (#12047)
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.sum
Due: none

Bump k8s.io/apimachinery from 0.23.1 to 0.31.1 in /images/ext-auth-example-authsvc/rootfs (#12044)
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.sum
Due: none

Bump k8s.io/kube-aggregator from 0.29.3 to 0.31.1 in /images/kube-webhook-certgen/rootfs (#12049)
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-kube-webhook-certgen

Bump k8s.io/kube-aggregator from 0.29.3 to 0.31.1 in /images/kube-webhook-certgen/rootfs (#12048)
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-kube-webhook-certgen

Bump the go group across 1 directory with 3 updates (#12052)
  go.mod
  go.sum
Due: none

Bump the go group across 1 directory with 3 updates (#12053)
  go.mod
  go.sum
Due: none

Bump github/codeql-action from 3.26.9 to 3.26.10 in the actions group (#12054)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump github/codeql-action from 3.26.9 to 3.26.10 in the actions group (#12055)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Chart: Add `controller.metrics.service.enabled`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-service-metrics.yaml
  charts/ingress-nginx/tests/controller-service-metrics_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Add `controller.metrics.service.enabled`. (#12056)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-service-metrics.yaml
  charts/ingress-nginx/tests/controller-service-metrics_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$
