Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*

use grpc.NewClient() instead of grpc.Dial()
  pkg/secrets-store/provider_client.go
Due: none

Publish secrets-store-csi-driver-1.5.6.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.5.6.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

docs: add missing OpenBao reference to concepts.md
  docs/book/src/concepts.md
Due: none

Update klog in test/e2eprovider module to v2.140.0
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

Honor stderrthreshold when logtostderr is enabled
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

fix: address review feedback from aramase
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

ci: fix govulncheck-action to use SHA-pinned dependencies
  .github/workflows/chart.yaml
  .github/workflows/codecov.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/e2e.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/scan-vulns.yaml
  .github/workflows/scorecards.yaml
  .github/workflows/verify-codegen.yaml
Due: none

ci: add `sts.amazonaws.com` audience to `e2e-helm-deploy` tokenRequests
  Makefile
Due: none

Add CSI VOLUME_MOUNT_GROUP support for FSGroup-based file ownership
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
  pkg/util/fileutil/atomic_writer.go
  pkg/util/fileutil/filesystem.go
  pkg/util/fileutil/filesystem_test.go
  pkg/util/fileutil/writer.go
  pkg/util/fileutil/writer_test.go
  test/bats/e2e-provider.bats
  test/bats/tests/e2e_provider/e2e_provider_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/pod-secrets-store-inline-volume-crd.yaml
  test/e2eprovider/server/server.go
  test/e2eprovider/types/types.go
Due: none

test/e2eprovider: bump go.opentelemetry.io/otel/sdk from 1.41.0 to 1.43.0
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

chore: bump Go to 1.25.9 to resolve CVE-2026-32281, CVE-2026-32288, CVE-2026-32289
  .github/workflows/verify-codegen.yaml
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

chore: update project ownership and move ritazh to emeritus
  OWNERS
  SECURITY_CONTACTS
  docker/Dockerfile
  docs/book/OWNERS
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  test/e2eprovider/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: update project ownership and move ritazh to emeritus (#2023)
  OWNERS
  SECURITY_CONTACTS
  docker/Dockerfile
  docs/book/OWNERS
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  test/e2eprovider/Dockerfile
Due: secrets-store-csi-driver-push-image

ci: fix govulncheck tools step with doc.go
  hack/tools/doc.go
Due: none

chore: bump version to v1.6.0 in release-1.6
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

fix: treat empty existing mount as stale in ensureMountPoint
  pkg/secrets-store/utils.go
  pkg/secrets-store/utils_test.go
Due: none

chore: bump version to v1.6.0 in release-1.6 (part 2)
  docker/Makefile
Due: secrets-store-csi-driver-push-image

chore: bump gcb-docker-gcloud to latest in cloudbuild
  docker/cloudbuild.yaml
Due: secrets-store-csi-driver-push-image

fix(build): disable provenance and SBOM in buildx to fix manifest creation
  docker/build.sh
Due: secrets-store-csi-driver-push-image

docs: update rotation, upgrade docs for v1.6.0 release
  docs/book/src/getting-started/upgrades.md
  docs/book/src/introduction.md
  docs/book/src/topics/command-reference.md
  docs/book/src/topics/secret-auto-rotation.md
Due: none

chore: no-op changes to trigger image-push postsubmit
  docker/Makefile
Due: secrets-store-csi-driver-push-image

ci: replace broken setup-kind action with direct kind installation
  .github/workflows/e2e.yaml
Due: none

release: update manifest and helm charts for v1.6.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/role-rotation.yaml
  charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/csidriver.yaml
  deploy/rbac-secretproviderrotation.yaml
  deploy/rbac-secretprovidertokenrequest.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifest and helm charts for v1.6.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/role-rotation.yaml
  charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/csidriver.yaml
  deploy/rbac-secretproviderrotation.yaml
  deploy/rbac-secretprovidertokenrequest.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Publish secrets-store-csi-driver-1.6.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.6.0.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

fix: correct log format for missing targetpath modification time
  pkg/secrets-store/nodeserver.go
Due: none

feat: add ppc64le and s390x Linux architecture support
  Makefile
  docker/BASEIMAGE
Due: secrets-store-csi-driver-push-image

fix client codegen
  .github/workflows/verify-codegen.yaml
  hack/update-codegen.sh
Due: none

address lint issues with the new generated code
  cmd/secrets-store-csi-driver/main.go
  controllers/secretproviderclasspodstatus_controller_test.go
  pkg/secrets-store/utils_test.go
Due: none

make manifests
  apis/v1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.deepcopy.go
Due: none
