Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*

Fix issue #635
  .golangci.yml
Due: none

Fix issue #635 (#762)
  .golangci.yml
Due: none

docs: providers support matrix (#724)
  docs/book/src/providers.md
Due: none

docs: add supported kubernetes versions
  docs/Release_Management.md
  docs/book/src/getting-started/installation.md
Due: none

test: log the secrets-store API version
  test/bats/e2e-provider.bats
  test/bats/helpers.bash
Due: none

test: update yamls to use v1 api version
  test/bats/tests/aws/BasicTestMountSPC.yaml
  test/bats/tests/azure/azure_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1alpha1_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1alpha1_secretproviderclass_ns.yaml
  test/bats/tests/azure/rotation/azure_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_secretproviderclass_ns.yaml
  test/bats/tests/e2e_provider/rotation/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/gcp/gcp_v1alpha1_secretproviderclass.yaml
  test/bats/tests/vault/vault_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1alpha1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1alpha1_secretproviderclass_ns.yaml
Due: none

test: use api version based on kubectl api-resources output
  apis/v1/secretproviderclass_types.go
  apis/v1alpha1/secretproviderclass_types.go
  test/bats/aws.bats
  test/bats/azure.bats
  test/bats/e2e-provider.bats
  test/bats/gcp.bats
  test/bats/helpers.bash
  test/bats/tests/azure/azure_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1_multiple_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1_secretproviderclass.yaml
  test/bats/tests/azure/azure_v1_secretproviderclass_ns.yaml
  test/bats/tests/azure/rotation/azure_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1_multiple_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1_secretproviderclass_ns.yaml
  test/bats/tests/e2e_provider/rotation/e2e_provider_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/gcp/gcp_v1_secretproviderclass.yaml
  test/bats/tests/vault/vault_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1_multiple_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1_secretproviderclass_ns.yaml
  test/bats/vault.bats
Due: none

chore: bump version to v1.0.0-rc.1 in release-1.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump version to v1.0.0-rc.1 in release-1.0
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

Move imagePullSecrets to manifest dir as requested in PR (fix email for CLA)
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

fix: update base image core for ltsc2022
  docker/BASEIMAGE
Due: secrets-store-csi-driver-push-image

release: update manifests and helm chart for 1.0.0-rc.1
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifests and helm chart for 1.0.0-rc.1
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: add k8s test matrix for staging e2e
  .github/workflows/e2e.yaml
Due: none

Publish secrets-store-csi-driver-1.0.0-rc.1.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.0.0-rc.1.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

[wip] monkeys
  monkeys
Due: none

docs: additional release note updates based on v1.0.0-rc.1
  .github/workflows/e2e.yaml
  docs/RELEASE.md
Due: none

Add more linters check and update related code
  .golangci.yml
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/provider_client_test.go
  pkg/util/secretutil/secret_test.go
  provider/fake/fake_server.go
Due: none

address comments and add more items
  .golangci.yml
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
  pkg/secrets-store/nodeserver.go
  pkg/util/fileutil/atomic_writer.go
Due: none

Support imagePullSecrets in Job/secrets-store-csi-driver-keep-crds Support imagePullSecrets in Job/secrets-store-csi-driver-upgrade-crds
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Support imagePullSecrets in Job/secrets-store-csi-driver-keep-crds (#778)
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

address comments
  controllers/secretproviderclasspodstatus_controller.go
  pkg/secrets-store/nodeserver.go
  pkg/util/fileutil/atomic_writer_test.go
  test/e2eprovider/server/server.go
  test/e2eprovider/server/server_test.go
Due: none

style: add more linters check and update related code (#777)
  .golangci.yml
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/provider_client_test.go
  pkg/util/fileutil/atomic_writer.go
  pkg/util/fileutil/atomic_writer_test.go
  pkg/util/secretutil/secret_test.go
  provider/fake/fake_server.go
  test/e2eprovider/server/server.go
  test/e2eprovider/server/server_test.go
Due: none

security: fix CVE-2021-37750
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

docs: update docs for v1.0.0 and CRD version upgrades
  docs/book/src/concepts.md
  docs/book/src/getting-started/upgrades.md
  docs/book/src/getting-started/usage.md
  docs/book/src/topics/sync-as-kubernetes-secret.md
Due: none

chore: bump version to v1.0.0 in release-1.0
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.0.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.0.0
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.0.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.0.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: add project status to docs
  docs/book/src/SUMMARY.md
  docs/book/src/introduction.md
  docs/book/src/release-management.md
  docs/book/src/topics/sync-as-kubernetes-secret.md
Due: none

Add: refactoring labels and support additional labels
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/_helpers.tpl
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/podsecuritypolicy.yaml
  charts/secrets-store-csi-driver/templates/role-rotation.yaml
  charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  charts/secrets-store-csi-driver/templates/role-syncsecret.yaml
  charts/secrets-store-csi-driver/templates/role-syncsecret_binding.yaml
  charts/secrets-store-csi-driver/templates/role.yaml
  charts/secrets-store-csi-driver/templates/role_binding.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/templates/serviceaccount.yaml
  charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: add design docs and roadmap to website
  docs/book/src/SUMMARY.md
  docs/book/src/design-docs.md
Due: none

chore: use `corev1` as import alias instead of `v1`
  controllers/secretproviderclasspodstatus_controller_test.go
  pkg/k8s/secret.go
  pkg/k8s/store.go
  pkg/k8s/store_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/util/k8sutil/volume.go
  pkg/util/k8sutil/volume_test.go
Due: none

Issue#636 - add last lint check items
  .golangci.yml
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/provider_client_test.go
  pkg/secrets-store/utils.go
  pkg/util/secretutil/secret.go
  pkg/util/secretutil/secret_test.go
  provider/fake/fake_server.go
  test/e2eprovider/server/server.go
Due: none
