Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-deploy-app-gcsweb:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/gcsweb/deploy.sh

post-k8sio-deploy-app-k8s-io:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/k8s-io/deploy.sh

post-k8sio-deploy-app-kubernetes-external-secrets:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/kubernetes-external-secrets/deploy.sh

post-k8sio-deploy-app-perfdash:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/perfdash/deploy.sh

Allow deck service account to act as a GCP SA
  infra/gcp/terraform/kubernetes-public/k8s-infra-prow.tf
Due: none

Make GCS bucket k8s-infra-prow-results word-readable.
  infra/gcp/terraform/kubernetes-public/k8s-infra-prow.tf
Due: none

apps/prow: Allow deck service account to act as a GCP SA (#2512)
  infra/gcp/terraform/kubernetes-public/k8s-infra-prow.tf
Due: none

Promote kube-webhook-certgen to production (#2509)
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

init onboard of codesearch
  README.md
  apps/codesearch/OWNERS
  apps/codesearch/README.md
  apps/codesearch/certificate.yaml
  apps/codesearch/deploy.sh
  apps/codesearch/deployment.yaml
  apps/codesearch/ingress.yaml
  apps/codesearch/service.yaml
  groups/groups.yaml
  groups/restrictions.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Fix readme
  README.md
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

releng: Image promotion for v1.19.14 / v1.19.15-rc.0 / v1.20.10 / v1.20.11-rc.0 / v1.21.4 / v1.21.5-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

apps/prow: Fix postsubmit failures.
  apps/prow/deploy.sh
Due: post-k8sio-deploy-app-prow

Use Full FQDN for the prow components consumed by deck
  apps/prow/cluster/deck_deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

apps/prow: Add presubmit for prow configuration
  apps/prow/prowjobs/kubernetes/k8s.io/presubmits.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Add k8s-infra-google-build-admins to ci_buckets writers
  infra/gcp/ensure-release-projects.sh
  infra/gcp/lib.sh
Due: none

Promote 0.6.1 image from staging to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

apps/prow: Fix postsubmit failures. (#2520)
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/deploy.sh
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

prow: force namespace in deploy.sh
  infra/gcp/terraform/k8s-infra-prow-build-trusted/deploy.sh
  infra/gcp/terraform/k8s-infra-prow-build/deploy.sh
Due: none

prow-build: add limitranges to k8s-infra-test-pods
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/k8s-infra-test-pods/cpu-limit-range_limitrange.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/k8s-infra-test-pods/mem-limit-range_limitrange.yaml
Due: k8sio-k8s-resources-verify

prow-build: add prow-build SA to k8s-infra-test-pods NS
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/k8s-infra-test-pods/build-serviceaccounts.yaml
Due: k8sio-k8s-resources-verify

infra/gcp/main: mv k8s-project-triage k8s-triage
  infra/gcp/ensure-main-project.sh
Due: none

infra/gcp: mv k8s-triage special case to terraform
  infra/gcp/ensure-main-project.sh
  infra/gcp/terraform/kubernetes-public/k8s-triage.tf
Due: none

infra/gcp: mv k8s-metrics special case to terraform
  infra/gcp/ensure-main-project.sh
  infra/gcp/terraform/kubernetes-public/k8s-metrics.tf
Due: none

promote csi-secrets-store driver:v0.2.0
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote node-driver-registrar:v2.3.0 and external-provisioner:v3.0.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

terraform/kubernetes-public: dedup prow-oncall
  infra/gcp/terraform/kubernetes-public/00-inputs.tf
  infra/gcp/terraform/kubernetes-public/k8s-infra-prow.tf
  infra/gcp/terraform/kubernetes-public/k8s-metrics.tf
  infra/gcp/terraform/kubernetes-public/k8s-triage.tf
  infra/gcp/terraform/kubernetes-public/prowjob-buckets.tf
Due: none

terraform/kubernetes-public: add k8s-triage bq dataset
  infra/gcp/terraform/kubernetes-public/k8s-triage.tf
Due: none

Promote cluster proportional autoscaler 1.8.5 images
  k8s.gcr.io/images/k8s-staging-cpa/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

terraform/kubernetes-public: changes neede for apply to work
  infra/gcp/terraform/kubernetes-public/k8s-metrics.tf
  infra/gcp/terraform/kubernetes-public/k8s-triage.tf
Due: none

Promote Cluster API v0.4.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

updating co-chairs
  OWNERS_ALIASES
Due: none

promoting controller v1.0.0-beta.3
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

update owner file w/ strongjz
  k8s.gcr.io/images/k8s-staging-ingress-nginx/OWNERS
Due: none

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
