Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-aws:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-aws-credential-aws-oss-testing: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    serviceAccountName: secrets-store-csi-driver-gcp
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - bash
  ...

Make link to Reloader a link
  docs/book/src/topics/secret-auto-rotation.md
Due: none

Update docs/book/src/topics/secret-auto-rotation.md
  docs/book/src/topics/secret-auto-rotation.md
Due: none

docs: Make link to Reloader a link (#1413)
  docs/book/src/topics/secret-auto-rotation.md
Due: none

chore: bump version to v1.4.1 in release-1.4
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.4.1
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.4.1
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.4.1.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.4.1.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

update policies
  secretsstoresynccontroller/config/admissionpolicies/config_allow_secret_types.yaml
  secretsstoresynccontroller/config/admissionpolicies/config_deny_secret_types.yaml
  secretsstoresynccontroller/config/admissionpolicies/config_ssc.yaml
  secretsstoresynccontroller/config/admissionpolicies/create_secrets_based_on_label.yaml
  secretsstoresynccontroller/config/admissionpolicies/create_update_secrets_types.yaml
  secretsstoresynccontroller/config/admissionpolicies/create_update_specific_types.yaml
  secretsstoresynccontroller/config/admissionpolicies/create_update_token_request_deny.yaml
  secretsstoresynccontroller/config/admissionpolicies/delete_secrets.yaml
  secretsstoresynccontroller/config/admissionpolicies/deny_token_creation.yaml
  secretsstoresynccontroller/config/admissionpolicies/update_secrets_based_on_label.yaml
  secretsstoresynccontroller/config/admissionpolicies/validate_token_config.yaml
Due: none

update policies
  secretsstoresynccontroller/config/admissionpolicies/create_update_secrets_types.yaml
  secretsstoresynccontroller/config/admissionpolicies/create_update_token_request_deny.yaml
  secretsstoresynccontroller/config/admissionpolicies/delete_secrets.yaml
  secretsstoresynccontroller/config/admissionpolicies/update_secrets_based_on_label.yaml
  secretsstoresynccontroller/config/admissionpolicies/validate_token_config.yaml
Due: none

update conditions
  secretsstoresynccontroller/api/v1alpha1/secretstoresync_types.go
Due: none

add regex validation
  secretsstoresynccontroller/api/v1alpha1/secretstoresync_types.go
Due: none

adding helm versions for the policies
  secretsstoresynccontroller/config/admissionpolicies/create_update_secrets_types.yaml
  secretsstoresynccontroller/config/admissionpolicies/create_update_token_request_deny.yaml
  secretsstoresynccontroller/config/admissionpolicies/delete_secrets.yaml
  secretsstoresynccontroller/config/admissionpolicies/update_secrets_based_on_label.yaml
  secretsstoresynccontroller/config/admissionpolicies/validate_token_config.yaml
Due: none

simplify delete
  secretsstoresynccontroller/config/admissionpolicies/delete_secrets.yaml
Due: none

add validation for labels
  secretsstoresynccontroller/config/admissionpolicies/validate_label_format.yaml
Due: none

apply label validation for update
  secretsstoresynccontroller/config/admissionpolicies/validate_label_format.yaml
Due: none

add annotation validation
  secretsstoresynccontroller/config/admissionpolicies/validate_annotation_format.yaml
  secretsstoresynccontroller/config/admissionpolicies/validate_label_format.yaml
Due: none

update comments
  secretsstoresynccontroller/api/v1alpha1/secretstoresync_types.go
Due: none

Add security context and pod security context for Linux container
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: none

docs: add Akeyless to supported providers (#1306)
  docs/book/src/concepts.md
  docs/book/src/getting-started/installation.md
  docs/book/src/getting-started/usage.md
  docs/book/src/introduction.md
  docs/book/src/providers.md
Due: none

Leave the in manifest
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: none

updating conditions and policies
  secretsstoresynccontroller/api/v1alpha1/secretstoresync_types.go
  secretsstoresynccontroller/config/admissionpolicies/config_ssc.yaml
  secretsstoresynccontroller/config/admissionpolicies/create_update_secrets_types.yaml
  secretsstoresynccontroller/config/admissionpolicies/create_update_token_request_deny.yaml
  secretsstoresynccontroller/config/admissionpolicies/delete_secrets.yaml
  secretsstoresynccontroller/config/admissionpolicies/update_secrets_based_on_label.yaml
  secretsstoresynccontroller/config/admissionpolicies/validate_annotation_format.yaml
  secretsstoresynccontroller/config/admissionpolicies/validate_label_format.yaml
  secretsstoresynccontroller/config/admissionpolicies/validate_token_config.yaml
Due: none

update prefix
  secretsstoresynccontroller/api/v1alpha1/secretstoresync_types.go
Due: none

update create policy
  secretsstoresynccontroller/config/admissionpolicies/create_update_secrets_types.yaml
Due: none

update policies with ownership
  secretsstoresynccontroller/config/admissionpolicies/create_update_secrets_types.yaml
  secretsstoresynccontroller/config/admissionpolicies/update_owners_check_old_object.yaml
Due: none

chore: update debian-base to bookworm-v1.0.1
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: update node-driver-registrar:v2.10.0, livenessprobe:v2.12.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: none

chore: bump version to v1.4.2 in release-1.4
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.4.2
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.4.2
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.4.2.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.4.2.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

CVE-2024-24786: bump google.golang.org/protobuf to v1.33.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

Use values.yaml for default values in securityContext
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump kind version and k8s version in test matrix
  .github/workflows/e2e.yaml
  Makefile
Due: none

security: bump kubectl to v1.29.3 in driver-crds for CVE-2024-24786
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: ^charts/.*
