Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$

version v0.20.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

update docs to latest release
  README.md
  site/config.toml
Due: none

gitignore .hugo_build.lock
  site/.gitignore
Due: none

update to latest hugo, obtain hugo using go instead of docker
  netlify.toml
  site/Makefile
  site/content/docs/contributing/development.md
  site/go.mod
  site/go.sum
  site/tools.go
Due: pull-kind-verify-deps

site style update: - Use kubernetes blue + white for header / footer - Drop banner. It's been 14 months and we're by far the last ones in the ecosystem. Kubnernetes usually time-boxes banners.
  site/assets/css/inline.css
  site/layouts/partials/navbar.html
Due: none

simplify install docs now that go 1.16+ is required.
  README.md
  site/content/_index.md
  site/content/docs/user/quick-start.md
Due: none

explicitly disable config_path in registry script, so we can eventually enable it by default and pivot to using it
  site/static/examples/kind-with-registry.sh
Due: none

Fix azure calico support
  pkg/cluster/internal/create/actions/createworker/templates/calico-helm-values.tmpl
Due: none

Bump azure provider
  DEPENDENCIES
  pkg/cluster/internal/create/actions/createworker/azure.go
Due: none

docs: fix text sizing bug on iOS
  site/assets/css/inline.css
Due: none

fix typo in README.md
  README.md
Due: none

remove optional internal domain
  pkg/cluster/internal/create/actions/createworker/keosinstaller.go
  pkg/commons/cluster.go
Due: none

set KillMode=process for kubelet
  images/base/files/etc/systemd/system/kubelet.service
Due: post-kind-push-base-image

fix kubelet cgroup root when cgroups
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

stop using deprecated kubelet flags that we already set via config, set runtime-cgroups instead (not supported via config)
  images/base/files/etc/default/kubelet
  images/base/files/etc/systemd/system/kubelet.service.d/10-kubeadm.conf
Due: post-kind-push-base-image

synchronize containerd service config with upstream improvements
  images/base/files/etc/systemd/system/containerd.service
Due: post-kind-push-base-image

set cgroupns=private
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

move amwat to emeritus_approvers
  pkg/cluster/internal/providers/podman/OWNERS
Due: none

Fix azure validations
  pkg/cmd/kind/create/cluster/validation/azurevalidator.go
Due: none

Add egress network policy in calico namespaces
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/provider.go
Due: none

fix lingering go get in quick start
  site/content/docs/user/quick-start.md
Due: none

update base image
  pkg/build/nodeimage/defaults.go
Due: none

bump node image
  pkg/apis/config/defaults/image.go
Due: none

TEMP: testing runc 1.1.6 in prow
  pkg/build/nodeimage/defaults.go
Due: none

TEMP: testing runc 1.1.7 in prow
  pkg/build/nodeimage/defaults.go
Due: none

Wait until calico-system namespace is created
  pkg/cluster/internal/create/actions/createworker/provider.go
Due: none

Fix wait condition for calico-system
  pkg/cluster/internal/create/actions/createworker/provider.go
Due: none

Add resource group to secrets.yml
  pkg/commons/cluster.go
  pkg/commons/utils.go
Due: none

Fix quantity validations
  pkg/cluster/internal/create/actions/createworker/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/gcp.tmpl
  pkg/cmd/kind/create/cluster/validation/commonvalidations.go
  pkg/commons/cluster.go
Due: none

Fix scale
  pkg/cluster/internal/create/actions/createworker/templates/azure.aks.tmpl
Due: none

Fix scale
  pkg/cluster/internal/create/actions/createworker/templates/azure.tmpl
Due: none

switch registry script to use containerd hosts dir
  site/static/examples/kind-with-registry.sh
Due: none

entrypoint: normalize 2-space indent
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

TEMP test without k8s runc patch
  hack/ci/e2e.sh
Due: none

add helper to unmount misc when kubelet isn't aware of it on cgroups v1
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

entrypoint: clean up logging and indentation
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

support a tag suffix in images
  images/Makefile.common.in
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

upgrade runc to 1.1.7 and containerd to 1.7.1
  images/base/Dockerfile
Due: post-kind-push-base-image
