Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

post-k8s-deploy-registry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
      - .
      env:
  ...

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Bump git-sync to v4.5.1
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.32.11
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

chore(kro): promote kro v0.7.1 image and helm chart
  registry.k8s.io/images/k8s-staging-kro/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

DNS - upgrade octodns (1.15.0)
  dns/octodns-config.yaml
  dns/octodns-docker/Dockerfile
  dns/octodns-docker/requirements.txt
Due: post-k8sio-push-image-octodns-docker, pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify

CAPO v0.14.0-alpha.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.35.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add agentic-net to local registry
  infra/gcp/terraform/k8s-staging-images/registries.tf
Due: none

Create group for sig kube-agentic-networking project
  groups/restrictions.yaml
  groups/sig-agentic-net/OWNERS
  groups/sig-agentic-net/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

etcd: Promote etcd image v3.4.40
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

etcd: Promote etcd image v3.5.26
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

etcd: Promote etcd image v3.6.7
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

CAPO v0.14.0-alpha.1
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.12.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Push ibm-powervs-block-csi-driver v0.11.0
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-vsphere v1.15.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote 0.15
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote 0.14
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Remove nested groups, use direct group membership. Google console does not seem to support nested groups.
  groups/sig-security/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

migrate from fluxcd to ArgoCD, part one
  infra/aws/terraform/prow-build-cluster/resources/boskos/aws-janitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/boskos/rbac.yaml
  infra/aws/terraform/prow-build-cluster/resources/boskos/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/boskos/service.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/README.md
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/configmaps.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/external-secrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/namespace.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/secret-store.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/values
  kubernetes/apps/external-secrets.yaml
  kubernetes/eks-prow-build/helm/external-secrets.yaml
  kubernetes/eks-prow-build/prow/boskos-janitor.yaml
  kubernetes/eks-prow-build/prow/boskos-reaper.yaml
  kubernetes/eks-prow-build/prow/boskos.yaml
  kubernetes/eks-prow-build/prow/boskos/boskos.yaml
  kubernetes/eks-prow-build/prow/build-serviceaccounts.yaml
  kubernetes/eks-prow-build/prow/configmap.yaml
  kubernetes/eks-prow-build/prow/externalsecrets.yaml
  kubernetes/eks-prow-build/prow/kustomization.yaml
  kubernetes/eks-prow-build/prow/limit-range.yaml
  kubernetes/eks-prow-build/prow/poddisruptionbudget.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cloud-pv-vsphere v1.35.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.35.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote provider-aws v1.35.0 release artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.35.0.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

apply hotfix to eks build cluster
  kubernetes/eks-prow-build/helm/external-secrets.yaml
  kubernetes/eks-prow-build/prow/crds/boskos.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
Due: k8sio-k8s-resources-verify

convert externalsecrets to v1 objects
  infra/aws/terraform/prow-build-cluster/resources/flux-system/slack-alerting-external-secret.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/alertmanager-main/alertmanager-slack-token.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/cpu-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/mem-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/namespace.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/test-pods-poddisruptionbudget.yaml
  kubernetes/apps/external-secrets.yaml
  kubernetes/eks-prow-build/datadog/kustomization.yaml
  kubernetes/eks-prow-build/datadog/secrets.yaml
  kubernetes/eks-prow-build/datadog/values.yaml
  kubernetes/eks-prow-build/prow/externalsecrets.yaml
  kubernetes/eks-prow-kops/helm/external-secrets.yaml
  kubernetes/gke-aaa/datadog/secrets.yaml
  kubernetes/gke-aaa/helm/external-secrets.yaml
  kubernetes/gke-prow-build-trusted/datadog/secrets.yaml
  kubernetes/gke-prow-build-trusted/helm/external-secrets.yaml
  kubernetes/gke-prow-build/datadog/secrets.yaml
  kubernetes/gke-prow-build/helm/external-secrets.yaml
  kubernetes/gke-prow-build/prow/externalsecrets.yaml
  kubernetes/gke-prow/datadog/secrets.yaml
  kubernetes/gke-prow/helm/external-secrets.yaml
  kubernetes/gke-prow/prow/external-secrets.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
  kubernetes/gke-utility/atlantis/extras.yaml
  kubernetes/gke-utility/datadog/secrets.yaml
  kubernetes/gke-utility/helm/external-secrets.yaml
  kubernetes/gke-utility/helm/oauth2-proxy.yaml
  kubernetes/ibm-ppc64le/helm/external-secrets.yaml
  kubernetes/ibm-ppc64le/prow/secrets.yaml
  kubernetes/ibm-s390x/helm/external-secrets.yaml
  kubernetes/ibm-s390x/prow/secrets.yaml
Due: k8sio-k8s-resources-verify

move karpenter and kube-system resources to argocd
  infra/aws/terraform/prow-build-cluster/resources/karpenter/canary-cluster-values
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter-crd.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/tune-sysctls_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/node-problem-detector/README.md
  infra/aws/terraform/prow-build-cluster/resources/node-problem-detector/rbac.yaml
  infra/aws/terraform/prow-build-cluster/resources/node-problem-detector/update.bash
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/kube-dns-autoscaler-configmap.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/tune-sysctls_daemonset.yaml
  kubernetes/apps/kube-system.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/eks-prow-build/kube-system/daemonsets.yaml
  kubernetes/eks-prow-build/kube-system/ec2nodeclass.yaml
  kubernetes/eks-prow-build/kube-system/karpenter.yaml
  kubernetes/eks-prow-build/kube-system/kustomization.yaml
  kubernetes/eks-prow-build/kube-system/nodepool.yaml
  kubernetes/eks-prow-build/kube-system/npd-config.yaml
  kubernetes/eks-prow-build/kube-system/npd.yaml
  kubernetes/eks-prow-kops/kube-system/daemonsets.yaml
  kubernetes/eks-prow-kops/kube-system/kustomization.yaml
  kubernetes/gke-prow-build/kube-system/daemonsets.yaml
  kubernetes/gke-prow-build/kube-system/kustomization.yaml
  kubernetes/ibm-ppc64le/kube-system/daemonsets.yaml
  kubernetes/ibm-ppc64le/kube-system/kustomization.yaml
  kubernetes/ibm-s390x/kube-system/daemonsets.yaml
  kubernetes/ibm-s390x/kube-system/kustomization.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

fix typo in kube-system appset
  kubernetes/apps/kube-system.yaml
  kubernetes/eks-prow-build/kube-system/kustomization.yaml
Due: k8sio-k8s-resources-verify

Promote node-problem-detector December releases
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

remove KES from prow-build cluster and bump ESO to v1
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets-serviceaccounts.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets_crd.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubernetes-external-secrets/kubernetes-external-secrets_rbac.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/externalsecrets.yaml
  kubernetes/apps/external-secrets.yaml
  kubernetes/gke-prow-build-trusted/prow/serviceaccounts.yaml
  kubernetes/gke-prow-build/prow/externalsecrets.yaml
  kubernetes/gke-prow-build/prow/secrets.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  kubernetes/eks-prow-build/prow/boskos-janitor.yaml
  kubernetes/eks-prow-build/prow/boskos-reaper.yaml
  kubernetes/eks-prow-build/prow/boskos.yaml
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
  kubernetes/ibm-s390x/prow/boskos-janitor.yaml
  kubernetes/ibm-s390x/prow/boskos-reaper.yaml
  kubernetes/ibm-s390x/prow/boskos.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cloud-provider-gcp v35.0.0
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

view argocd diffs in PRs
  .github/actions/argocd-diff.yaml
  kubernetes/gke-prow-build/prow/kustomization.yaml
Due: k8sio-k8s-resources-verify

fix workflows folder typo
  .github/workflows/argocd-diff.yaml
Due: k8sio-k8s-resources-verify

use a bot token instead of the workflow token
  .github/workflows/argocd-diff.yaml
Due: k8sio-k8s-resources-verify

use GH_TOKEN instead of GITHUB_TOKEN for the cli
  .github/workflows/argocd-diff.yaml
Due: k8sio-k8s-resources-verify

don't set permissions for argocd-diff workflow
  .github/workflows/argocd-diff.yaml
Due: k8sio-k8s-resources-verify

Ingress NGINX: Promote Chart v4.14.1/v4.13.5.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote v35.0.0 cloud provider gcp binaries
  artifacts/filestores/k8s-staging-provider-gcp/filepromoter-manifest.yaml
  artifacts/manifests/k8s-staging-provider-gcp/OWNERS
  artifacts/manifests/k8s-staging-provider-gcp/v35.0.0.yaml
  artifacts/mirroring-staging/filestores/k8s-staging-provider-gcp/filepromoter-manifest.yaml
  artifacts/mirroring/filestores/k8s-staging-provider-gcp/filepromoter-manifest.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

fix a missing service account in filepromoter manifest
  artifacts/filestores/k8s-staging-provider-gcp/filepromoter-manifest.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

fix checksum typo with v35.0.0/gke-gcloud-auth-plugin/windows/arm64/gke-gcloud-auth-plugin.exe
  artifacts/manifests/k8s-staging-provider-gcp/v35.0.0.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

rebuild the AKS build cluster
  infra/azure/terraform/k8s-infra-prow-build/aks.tf
  infra/azure/terraform/k8s-infra-prow-build/network.tf
  infra/azure/terraform/k8s-infra-prow-build/providers.tf
  infra/azure/terraform/k8s-infra-prow-build/rbac.tf
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
  kubernetes/README.md
  kubernetes/aks-prow-build/datadog/kustomization.yaml
  kubernetes/aks-prow-build/datadog/secrets.yaml
  kubernetes/aks-prow-build/datadog/values.yaml
  kubernetes/aks-prow-build/helm/external-secrets.yaml
  kubernetes/aks-prow-build/helm/kyverno.yaml
  kubernetes/aks-prow-build/kube-system/daemonsets.yaml
  kubernetes/aks-prow-build/kube-system/kustomization.yaml
  kubernetes/aks-prow-build/prow/crds/boskos.yaml
  kubernetes/aks-prow-build/prow/kustomization.yaml
  kubernetes/aks-prow-build/prow/kyverno.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-utility/argocd/argocd-app-controller-sts.yaml
  kubernetes/gke-utility/argocd/argocd-server-dp.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/
