Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

CA: fail benchmark job if regression exceeds 10%
  .github/workflows/ca-benchmark.yaml
Due: none

fix: undo Scale operation when a scaleUpRequest times out
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

change undo-scaleup message to warn and improve unit tests
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add was_empty field to node_removal_latency_seconds
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/metrics/legacy_functions.go
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use chart certGen for e2e and move manual certs to local override
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/hack/e2e/values-e2e-ac-override.yaml
  vertical-pod-autoscaler/hack/e2e/values-e2e.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix moby configuration error and remove az
  .devcontainer/devcontainer.json
Due: none

Remove spec and plan
  docs/superpowers/plans/2026-03-23-devcontainer.md
  docs/superpowers/specs/2026-03-23-devcontainer-design.md
Due: none

Apply suggestions from code review
  vertical-pod-autoscaler/docs/features.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

merge master, fix conflicts
  vertical-pod-autoscaler/docs/examples.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

update toc
  vertical-pod-autoscaler/docs/features.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Remove deprecated flag scale-down-enabled
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_csi_test.go
  cluster-autoscaler/core/static_autoscaler_dra_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/test/integration/config.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

remove missed flag usage
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

De-dupe the VPA portion of dependabot
  .github/dependabot.yml
Due: none

Group VPA docker PRs
  .github/dependabot.yml
Due: none

Remove rc ignore for dependabot
  .github/dependabot.yml
Due: none

[Cleanup] moving the scaledown logic to seperate function
  cluster-autoscaler/core/static_autoscaler.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(hetzner): apply nodeConfig labels to Hetzner server at creation
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix(oci): correct OCPU-to-vCPU conversion for A1 shapes
  cluster-autoscaler/cloudprovider/oci/common/oci_shape.go
  cluster-autoscaler/cloudprovider/oci/common/oci_shape_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Check whether the shape is Arm A1 before applying 2x OCPU to vCPU multiplier.
  cluster-autoscaler/cloudprovider/oci/common/oci_shape.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fetch go version from go.mod
  .github/workflows/vpa-golangci-lint.yaml
  .github/workflows/vpa-test.yaml
Due: none

Split off verify-vpa into it's own action
  .github/workflows/vpa-verify.yaml
  hack/verify-vpa.sh
  vertical-pod-autoscaler/hack/verify-all.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix linting error
  vertical-pod-autoscaler/pkg/recommender/routines/recommender_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(ca): add configurable GPU pod scale-up delay flag
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/static_autoscaler.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add safe-to-evict=on-completion
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/processors/scaledowncandidates/emptycandidates/empty_candidates_sorting.go
  cluster-autoscaler/processors/scaledowncandidates/emptycandidates/empty_candidates_sorting_test.go
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/drain.go
  cluster-autoscaler/simulator/drain_test.go
  cluster-autoscaler/simulator/drainability/rules/oncompletion/rule.go
  cluster-autoscaler/simulator/drainability/rules/oncompletion/rule_test.go
  cluster-autoscaler/simulator/drainability/rules/rules.go
  cluster-autoscaler/simulator/drainability/status.go
  cluster-autoscaler/utils/drain/drain.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

clusterstate: raise maxNodeStartupTime log verbosity from V(1) to V(4)
  cluster-autoscaler/clusterstate/clusterstate.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Explain labels field behaviour
  cluster-autoscaler/cloudprovider/hetzner/README.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
