Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/

Add unit tests for the obs.go file.
  pkg/obs/obs_test.go
Due: post-release-push-image-k8s-ci-builder

Switch to golangci-lint v2
  .github/workflows/lint.yml
  .golangci.yml
  dependencies.yaml
  gcb/gcb.go
  pkg/anago/anago.go
  pkg/announce/announce.go
  pkg/announce/github/github.go
  pkg/announce/sbom/sbom.go
  pkg/binary/windows.go
  pkg/build/make.go
  pkg/changelog/changelog.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
  pkg/notes/notes_v2.go
  pkg/obs/obs.go
  pkg/obs/specs/archive.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/pkgdef.go
  pkg/obs/specs/template.go
  pkg/release/provenance_test.go
  pkg/release/publish.go
  pkg/release/release_version.go
  pkg/release/repository.go
  pkg/testgrid/testgrid-scraper_test.go
Due: post-release-push-image-k8s-ci-builder

Retrieve origin PR info for automated cherry-pick PRs
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Add tests
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Revert changes to the valid notes condition
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Fix retrying of pull request
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Revert result var initialization
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Fix typo
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Include revert PR instead of the reverted one in release notes
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Due: post-release-push-image-k8s-ci-builder

Retrieve origin PR info for automated cherry-pick PRs
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Retrieve only the original author from the cherry-picked PR
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

feat(cvss): add CVSS v4.0 support, fix CVSS v2.0 invalid calculator link
  go.mod
  go.sum
  pkg/cve/cve.go
Due: post-release-push-image-k8s-ci-builder

Use upcoming_releases dates for building the schedule
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
Due: post-release-push-image-k8s-ci-builder

Build kube-cross, go-runner, releng-ci with Golang 1.24.2/1.23.8
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

bump distroless-iptables to use Go 1.23.8 and 1.24.2
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update k8s-cloud-builder and k8s-ci-builder to Go 1.24.2
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update cri-tools README.md
  cmd/krel/templates/latest/cri-tools/README.md
Due: post-release-push-image-k8s-ci-builder

chore: Port to sigs.k8s.io/yaml
  cmd/krel/cmd/release_notes.go
  go.mod
  pkg/cve/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_map.go
Due: post-release-push-image-k8s-ci-builder

bump cosign image to v2.5.0 tag release
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Update lint.yml
  .github/workflows/lint.yml
Due: none

Bump golangci-lint to 2.1, action to v8
  .github/workflows/lint.yml
Due: none

Update linter version in zeitgeist conf
  dependencies.yaml
Due: none

tidy
  go.mod
Due: post-release-push-image-k8s-ci-builder

fix lints
  dependencies.yaml
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
  pkg/release/repository_test.go
  pkg/testgrid/testgrid-scraper_test.go
Due: post-release-push-image-k8s-ci-builder

fix deprecated function
  pkg/gcp/build/build.go
Due: post-release-push-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

update go for tooling
  dependencies.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

add aws lambda function to send patch cherry pick notification
  cmd/patch-release-notification/README.md
  cmd/patch-release-notification/main.go
  cmd/patch-release-notification/templates/email.tmpl
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root.go
  cmd/schedule-builder/model/model.go
  go.mod
  go.sum
  iac/patch-release-notification/README.md
  iac/patch-release-notification/main.tf
  iac/patch-release-notification/outputs.tf
  iac/patch-release-notification/terraform.tfvars
  iac/patch-release-notification/variables.tf
  iac/patch-release-notification/versions.tf
Due: post-release-push-image-k8s-ci-builder

moved to k8s.io repo
  iac/patch-release-notification/README.md
  iac/patch-release-notification/main.tf
  iac/patch-release-notification/outputs.tf
  iac/patch-release-notification/terraform.tfvars
  iac/patch-release-notification/variables.tf
  iac/patch-release-notification/versions.tf
Due: none

apply changes per feedback review
  cmd/patch-release-notification/main.go
  cmd/patch-release-notification/templates/email.tmpl
Due: post-release-push-image-k8s-ci-builder

Fix linter nits
  cmd/patch-release-notification/main.go
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

build kube-cross, go-runner, releng-ci with golang 1.24.3/1.23.9
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Bump distroless-iptables to use Go 1.23.9 and 1.24.3
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Renamed SIG Node google group
  cmd/krel/templates/latest/cri-tools/README.md
Due: post-release-push-image-k8s-ci-builder

Add unit tests for OBS stage.go code
  pkg/obs/stage_test.go
Due: post-release-push-image-k8s-ci-builder

Move k8s.io into standalone group as per PR comment
  pkg/obs/stage_test.go
Due: post-release-push-image-k8s-ci-builder
