Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-aws:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-aws-credential-aws-shared-testing: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

Trigger secrets-store-csi-driver-push-image
  docker/Makefile
Due: secrets-store-csi-driver-push-image

Trigger secrets-store-csi-driver-push-image Signed-off-by: Monis Khan <mok@microsoft.com>
  docker/Makefile
Due: secrets-store-csi-driver-push-image

Use same QEMU version for image builds
  docker/Makefile
  docker/build.sh
Due: secrets-store-csi-driver-push-image

Promote staging manifest v1.6.1
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

fix: call ctrl.SetLogger to route controller-runtime logs through klog
  cmd/secrets-store-csi-driver/main.go
Due: none

minor changes from review
  controllers/secretproviderclasspodstatus_controller.go
  controllers/secretproviderclasspodstatus_secret_recovery.go
  controllers/secretproviderclasspodstatus_secret_recovery_test.go
Due: none

chore: Bump golang to 1.26 and upgrade dependencies
  .golangci.yml
  Makefile
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  controllers/secretproviderclasspodstatus_controller.go
  docker/BASEIMAGE
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  pkg/secrets-store/controllerserver.go
  pkg/secrets-store/identityserver.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/server.go
  provider/v1alpha1/service.pb.go
  provider/v1alpha1/service_grpc.pb.go
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: secrets-store-csi-driver-push-image

Upgrade controller-runtime to v0.18.7
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
  pkg/k8s/token_test.go
  pkg/metrics/prometheus_exporter.go
  pkg/rotation/reconciler_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/stats_reporter.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

Consolidate go.mod indirect dependency blocks
  go.mod
  test/e2eprovider/go.mod
Due: none

Consolidate go.mod indirect dependency blocks
  go.mod
Due: none

chore: bump trivy to v0.69.3
  Makefile
Due: none

security: bump to go.opentelemetry.io/otel/sdk 1.41.0 to resolve CVE-2026-24051
  go.mod
  go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

test/e2eprovider: bump google.golang.org/grpc from 1.58.3 to 1.79.3
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

use grpc.NewClient() instead of grpc.Dial()
  pkg/secrets-store/provider_client.go
Due: none

test/e2eprovider: bump go.opentelemetry.io/otel/sdk from 1.41.0 to 1.43.0
  go.mod
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

chore: bump Go to 1.25.9 to resolve CVE-2026-32281, CVE-2026-32288, CVE-2026-32289
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

security: bump golang.org/x/net to v0.53.0 to fix GO-2026-4918
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

security: bump golang to 1.25.10 and kubectl to v1.34.8 to fix image CVEs
  docker/BASEIMAGE
  docker/Dockerfile
  docker/crd.Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

test: cover synchronized Secret owner reference scenarios
  controllers/secretproviderclasspodstatus_controller_test.go
  test/bats/e2e-provider.bats
Due: none

Add GitHub Actions workflow for Copilot setup
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: Upgrade controller-runtime to v0.18.7 (#1938)
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
  pkg/k8s/token_test.go
  pkg/metrics/prometheus_exporter.go
  pkg/rotation/reconciler_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/stats_reporter.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

fix: set authority to localhost
  pkg/secrets-store/provider_client.go
  test/e2eprovider/server/server.go
Due: none

Makefile: don't add licence boilerplate to generated .pb files
  Makefile
Due: none

chore: Bump golang to 1.26 and upgrade dependencies
  .golangci.yml
  Makefile
  controllers/secretproviderclasspodstatus_controller.go
  docker/BASEIMAGE
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  pkg/secrets-store/controllerserver.go
  pkg/secrets-store/identityserver.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/server.go
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: secrets-store-csi-driver-push-image

fix: update vulnerable image dependencies
  docker/Dockerfile
  docker/crd.Dockerfile
  docker/windows.Dockerfile
  go.mod
  go.sum
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: secrets-store-csi-driver-push-image

bump golangci to fix linting issues
  Makefile
  controllers/secretproviderclasspodstatus_controller.go
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

fix panic during ARM64 builds
  Makefile
Due: none

chore: bump `livenessprobe` and `csi-node-driver-registrar` (#2004)
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: none

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*
