Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*

chore: use N1_HIGHCPU_8 for cloudbuild and update cloudbuild image
  docker/cloudbuild.yaml
Due: secrets-store-csi-driver-push-image

test: debug
  test/bats/e2e-provider.bats
Due: none

test: adds base64 flags
  test/bats/e2e-provider.bats
Due: none

test: fixes default value
  test/bats/e2e-provider.bats
Due: none

tests: aws support for RELEASE tests
  test/scripts/initialize_eks_cluster.bash
Due: none

chore: bump version to v0.3.0 in release-0.3
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

test: updates rotation interval to 60s
  test/bats/e2e-provider.bats
  test/scripts/e2e_provider.sh
Due: none

test: increased rotation interval to 60s
  Makefile
  test/scripts/e2e_provider.sh
Due: none

chore: adds newline
  test/scripts/e2e_provider.sh
Due: none

chore: adds comments
  Makefile
Due: none

release: update manifests and helm chart for v0.3.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: increases sleep interval to 60s to allow rotation
  test/bats/aws.bats
Due: none

Publish secrets-store-csi-driver-0.3.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-0.3.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: increases timeout before rotation
  test/bats/aws.bats
  test/bats/azure.bats
Due: none

test: increases timeout before rotation
  test/bats/aws.bats
Due: none

test: inreases timeout greater than default 2m rotation interval
  test/bats/aws.bats
Due: none

chore: updates description
  test/e2eprovider/Dockerfile
Due: none

test: increases timeout
  test/bats/azure.bats
Due: none

chore: missed updates from #716
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

chore: update RELEASE docs based on v0.3.0 experience
  docs/RELEASE.md
Due: none

test: increases rotation poll interval only for e2e-porvider
  Makefile
  test/bats/aws.bats
  test/bats/azure.bats
  test/bats/e2e-provider.bats
  test/scripts/e2e_provider.sh
Due: none

test: increases timeout
  test/bats/e2e-provider.bats
  test/scripts/e2e_provider.sh
Due: none

test: adds time info to bats
  Makefile
  test/bats/e2e-provider.bats
  test/scripts/e2e_provider.sh
Due: none

test: implements deterministic behavior for rotation tests
  Makefile
  test/bats/e2e-provider.bats
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
  test/scripts/e2e_provider.sh
Due: none

test: fixes mock rotation unit test
  test/e2eprovider/server/server_test.go
Due: none

chore: adds comments
  test/e2eprovider/server/server.go
Due: none

chore: fixes typo
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
Due: none

test: implement e2e provider (#682)
  .gitignore
  Makefile
  go.mod
  pkg/secrets-store/nodeserver_test.go
  test/bats/e2e-provider.bats
  test/bats/tests/e2e_provider/deployment-synck8s-e2e-provider.yaml
  test/bats/tests/e2e_provider/deployment-two-synck8s-e2e-provider.yaml
  test/bats/tests/e2e_provider/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_secretproviderclass_ns.yaml
  test/bats/tests/e2e_provider/pod-e2e-provider-inline-volume-multiple-spc.yaml
  test/bats/tests/e2e_provider/pod-secrets-store-inline-volume-crd.yaml
  test/bats/tests/e2e_provider/rotation/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/rotation/pod-synck8s-e2e-provider.yaml
  test/e2eprovider/Dockerfile
  test/e2eprovider/e2e-provider-installer.yaml
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
  test/e2eprovider/server.go
  test/e2eprovider/server/server.go
  test/e2eprovider/server/server_test.go
  test/e2eprovider/server_test.go
  test/e2eprovider/types/types.go
  test/scripts/e2e_provider.sh
Due: none

chore: fixes typo
  docs/book/src/getting-started/installation.md
  docs/book/src/getting-started/upgrades.md
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: fix typo in chart url
  charts/secrets-store-csi-driver/README.md
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: initial support matrix
  docs/book/src/providers.md
Due: none

docs: updates formatting
  docs/book/src/providers.md
Due: none

chore: rename references from master to main
  .github/PULL_REQUEST_TEMPLATE.md
  docker/cloudbuild.yaml
  docs/RELEASE.md
  docs/Release_Management.md
  docs/book/src/getting-started/installation.md
  docs/book/src/getting-started/usage.md
  docs/book/src/providers.md
Due: secrets-store-csi-driver-push-image

ci: sets new workflow
  .github/workflows/e2e.yaml
Due: none
