Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2, post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-misc-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

post-test-infra-push-bazelbuild:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-benchmarkjunit:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bigquery:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bootstrap:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcb-docker-gcloud:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcloud-in-go:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-image-builder:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-krte:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

fix smb csi driver windows test failures
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Sun, 16 Nov 2025 00:04:10 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

update promo-tools job to use go 1.25
  config/jobs/kubernetes-sigs/promo-tools/promo-tools.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add minikube bootcamp image to registry
  config/jobs/image-pushing/k8s-staging-minikube.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

CAPA: run e2e-eks-gc only on 2.7 and 2.8 branches because they don't exist anymore since v2.9
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-2.9.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/templates/cluster-api-provider-aws-presubmits.yaml.tpl
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 18 Nov 2025 00:04:54 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

Fix typos in some files
  config/jobs/kubernetes/kops/build_jobs.py
Due: post-test-infra-upload-testgrid-config-canary

Add gke-gclopud-auth-plugin
  images/kubekins-e2e-v2/Dockerfile
Due: post-test-infra-push-kubekins-e2e-v2

Update sig-cli owners file
  config/jobs/kubernetes/sig-cli/OWNERS
  config/testgrids/kubernetes/sig-cli/OWNERS
Due: post-test-infra-upload-testgrid-config-canary

Update sig-cli alert email
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping Prow
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-branchprotector.yaml
  config/jobs/kubernetes/test-infra/test-infra-checkconfig.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/prow/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Rotate kubectl skew and soak jobs from k8s-stable1 to k8s-stable2
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bump hydrophone e2e test expectations
  config/jobs/kubernetes-sigs/hydrophone/hydrophone-periodic.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 19 Nov 2025 00:03:56 UTC
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.20-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

Add image push job for karpenter-cluster-api-provider
  config/jobs/image-pushing/k8s-staging-karpenter-cluster-api.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add jobs for CAPI release 1.12
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-12-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-12-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-12-presubmits.yaml
  config/testgrids/kubernetes/cluster-api-core/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

dra 5k test, update branch to bump wati for job timeout
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add testgrid-alert-email for ibm ppc64le periodic jobs
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Thu, 20 Nov 2025 00:03:44 UTC
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

removed APIServerIdentity env arg and bumped api group to beta - for testing purposes
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-ci.yaml
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add VPA tests that include all alpha and beta features enabled
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add image config file for evented pleg
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/containerd/image-config-evented-pleg.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Enable VPA alpha-beta correctly
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

capg: increase memory (and cpu) for jobs that are OOMing
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add insecure registry configuration for localhost:5000 in CRI-O e2e tests
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_canary.ign
  jobs/e2e_node/crio/crio_drop_infra_ctr.ign
  jobs/e2e_node/crio/crio_eventedpleg.ign
  jobs/e2e_node/crio/crio_hugepages.ign
  jobs/e2e_node/crio/crio_imagefs.ign
  jobs/e2e_node/crio/crio_splitfs.ign
  jobs/e2e_node/crio/crio_swap1g.ign
  jobs/e2e_node/crio/crio_userns.ign
  jobs/e2e_node/crio/templates/base/99-localhost-insecure.conf
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio.yaml
  jobs/e2e_node/crio/templates/crio_canary.yaml
  jobs/e2e_node/crio/templates/crio_drop_infra_ctr.yaml
  jobs/e2e_node/crio/templates/crio_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_imagefs.yaml
  jobs/e2e_node/crio/templates/crio_splitfs.yaml
  jobs/e2e_node/crio/templates/crio_swap1g.yaml
  jobs/e2e_node/crio/templates/crio_userns.yaml
Due: pull-test-infra-verify-cri-o

fix: more cpu for CAPG
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Modify KUBELET_BINARY assignment to select first result
  experiment/compatibility-versions/kind-upgrade.sh
Due: none

leaving api as alpha
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-ci.yaml
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

[compatibility]Add skip_min_kubelet_versions
  experiment/compatibility-versions/e2e-skip-version-testing.sh
Due: none

Update OpenShift testgrid definitions by auto-testgrid-generator job at Sat, 22 Nov 2025 00:03:38 UTC
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

Update config/jobs/image-pushing/k8s-staging-minikube.yaml
  config/jobs/image-pushing/k8s-staging-minikube.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add wg checkpoint restore label
  label_sync/labels.md
  label_sync/labels.yaml
Due: none

Lower the pod resource to 5KB
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bump milestone applier for CAPV v1.16
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Add jobs for CAPV release-1.15 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-14-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-14-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-15-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-15-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-15-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

config: add e2e-upgrade and e2e-certmanager-upgrade jobs for kueue
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra GCR images and k8s-staging-test-infra AR images and k8s-staging-apisnoop-test-infra and k8s-staging-apisnoop-apisnoop
  config/jobs/image-pushing/k8s-staging-minikube.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update kubelet configuration for version 1.35
  experiment/compatibility-versions/kind-upgrade.sh
Due: none

Fix emulated upgrade as well as kind
  experiment/compatibility-versions/emulated-version-upgrade.sh
  experiment/compatibility-versions/kind-upgrade.sh
Due: none

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e-v2/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/(kubekins-e2e/|kubekins-e2e-v2/variants.yaml)|kubetest|boskos|logexporter)
  post-test-infra-push-kubekins-e2e-v2: any of: ^images/kubekins-e2e-v2/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-push-misc-images: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config-canary: any of: ^config/(jobs|testgrids)/.*$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-misc-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/
