Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-images, pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-images:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20190927-21e0205
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
      - --env-passthrough=PULL_BASE_REF
      - --build-dir=.
  ...

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20191115-95b1cd9
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

A little more prep for behavioral testing of the config consuming controller
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/filterconfig/BUILD
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/filterconfig/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/filterconfig/gen_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/filterconfig/match_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/format/formatting.go
Due: pull-kubernetes-godeps

cleaned up of EnforceRequirements
  cmd/kubeadm/app/cmd/upgrade/BUILD
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/phases/upgrade/BUILD
  cmd/kubeadm/app/phases/upgrade/preflight.go
  cmd/kubeadm/app/phases/upgrade/upgrade.go
Due: pull-kubernetes-e2e-kubeadm-gce

update gopkg.in/yaml.v2 to v2.2.8
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

creation of apply data
  cmd/kubeadm/app/BUILD
  cmd/kubeadm/app/cmd/phases/BUILD
  cmd/kubeadm/app/cmd/phases/upgrade/apply/BUILD
  cmd/kubeadm/app/cmd/phases/upgrade/apply/data.go
  cmd/kubeadm/app/cmd/phases/upgrade/apply/preflight.go
  cmd/kubeadm/app/cmd/upgrade/BUILD
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/phases/addons/BUILD
  cmd/kubeadm/app/phases/addons/addons.go
  cmd/kubeadm/app/phases/upgrade/BUILD
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/preflight.go
  cmd/kubeadm/app/phases/upgrade/upgrade.go
Due: pull-kubernetes-e2e-kubeadm-gce

update gopkg.in/yaml.v2 to v2.2.8
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

update gopkg.in/yaml.v2 to v2.2.8
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

cni: Update CNI download URLs to use new GCS bucket (k8s-artifacts-cni)
  build/debian-hyperkube-base/Makefile
  build/workspace.bzl
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
  cluster/gce/util.sh
  cluster/gce/windows/k8s-node-setup.psm1
  test/e2e_node/remote/utils.go
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

build: Don't attempt to use mirror for CNI plugin downloads
  build/workspace.bzl
Due: pull-kubernetes-cross, pull-kubernetes-godeps

cpu manager: handle reduced cpuset in root cgroup.
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/policy_static.go
Due: pull-kubernetes-local-e2e-containerized

cpu manager: tests for reduced cgroup cpuset.
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
Due: pull-kubernetes-local-e2e-containerized

volume binder: convert to sub-tests
  pkg/controller/volume/scheduling/scheduler_binder_test.go
Due: none

volume binder: enable klog flags in test
  pkg/controller/volume/scheduling/scheduler_binder_test.go
Due: none

cni: Update CNI version to v0.8.5
  build/debian-hyperkube-base/Makefile
  build/dependencies.yaml
  build/rpms/kubeadm.spec
  build/rpms/kubelet.spec
  build/workspace.bzl
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
  test/e2e_node/remote/utils.go
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

Set cache to nil data when Azure node provisioning state is deleting
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_wrap.go
Due: pull-kubernetes-godeps

e2e dual stack retry getting endpoints
  test/e2e/network/dual_stack.go
Due: none

Update GCI_VERSION to cos-77-12371-114-0 as older image is deprecated
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
Due: pull-kubernetes-e2e-gke

update rest.Request signatures
  staging/src/k8s.io/client-go/rest/request.go
Due: pull-kubernetes-godeps

update generator
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/generator_for_type.go
Due: pull-kubernetes-godeps

cleanup req.Context() and ResponseWrapper
  pkg/controller/podautoscaler/legacy_horizontal_test.go
  pkg/controller/podautoscaler/metrics/legacy_metrics_client.go
  pkg/controller/podautoscaler/metrics/legacy_metrics_client_test.go
  plugin/pkg/admission/imagepolicy/admission.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/subjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/subjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/rest/client_test.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo_dump.go
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs.go
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs_test.go
  staging/src/k8s.io/kubectl/pkg/metricsutil/metrics_client.go
  test/e2e/framework/autoscaling/autoscaling_utils.go
  test/e2e/framework/kubelet/stats.go
  test/e2e/framework/pod/resource.go
  test/e2e/framework/podlogs/podlogs.go
  test/e2e/framework/resource_usage_gatherer.go
  test/e2e/instrumentation/logging/elasticsearch/kibana.go
  test/e2e/kubectl/kubectl.go
  test/e2e/network/dns_common.go
  test/e2e/network/example_cluster_dns.go
  test/e2e/node/pre_stop.go
  test/e2e/ui/dashboard.go
Due: pull-kubernetes-godeps

various context related cleanups to rest.Request
  staging/src/k8s.io/client-go/rest/request.go
Due: pull-kubernetes-godeps

Fix preemption race conditions on heavy utilized nodes
  test/e2e/scheduling/preemption.go
Due: none

Fix back off when scheduling cycle is delayed
  pkg/scheduler/internal/queue/pod_backoff.go
  pkg/scheduler/internal/queue/pod_backoff_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

Revert "Merge pull request #87258 from verult/slow-rxm-attach"
  pkg/controller/volume/attachdetach/reconciler/BUILD
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/nestedpendingoperations/BUILD
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/util.go
Due: pull-kubernetes-local-e2e-containerized

Add foreground deletion check to ensure GC is aware of the new custom type
  test/e2e/apimachinery/garbage_collector.go
Due: none

remove client label from apiserver request count metric since it is unbounded
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
Due: pull-kubernetes-godeps

Allow update of onXPN field in fake GCE clients.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_fake.go
Due: pull-kubernetes-godeps

Add GC e2e debug logging
  test/e2e/apimachinery/garbage_collector.go
Due: none

remove client label from healthz metric test
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
Due: pull-kubernetes-godeps

blank out value for unbounded client label
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
Due: pull-kubernetes-godeps

Move mutating admission into finishRequest
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
Due: pull-kubernetes-godeps

Clean ups on kubescheduler.config.k8s.io/v1alpha1 files
  api/api-rules/violation_exceptions.list
  pkg/scheduler/apis/config/v1alpha1/conversion.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/types.go
Due: pull-kubernetes-godeps

Copy kubescheduler.config.k8s.io/v1alpha1 files onto v1alpha2
  cmd/kube-scheduler/app/options/configfile.go
  pkg/scheduler/apis/config/scheme/scheme.go
  pkg/scheduler/apis/config/v1alpha2/conversion.go
  pkg/scheduler/apis/config/v1alpha2/conversion_test.go
  pkg/scheduler/apis/config/v1alpha2/defaults.go
  pkg/scheduler/apis/config/v1alpha2/defaults_test.go
  pkg/scheduler/apis/config/v1alpha2/doc.go
  pkg/scheduler/apis/config/v1alpha2/register.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/doc.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/register.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/types.go
Due: pull-kubernetes-godeps

Autogenerated and build files for kubescheduler.config.k8s.io/v1alpha2
  build/kazel_generated.bzl
  cmd/kube-scheduler/app/options/BUILD
  hack/.golint_failures
  pkg/scheduler/apis/config/BUILD
  pkg/scheduler/apis/config/scheme/BUILD
  pkg/scheduler/apis/config/v1alpha2/BUILD
  pkg/scheduler/apis/config/v1alpha2/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha2/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/v1alpha2/zz_generated.defaults.go
  staging/src/k8s.io/kube-scheduler/BUILD
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/BUILD
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/zz_generated.deepcopy.go
  vendor/modules.txt
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Make schema error log message more useful
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/structuredmerge.go
Due: pull-kubernetes-godeps

Added commentary and synchronization based on review
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/filterconfig/apf_controller.go
Due: pull-kubernetes-godeps

Fix non-ascii characters in test/e2e/common/runtime.go
  test/e2e/common/runtime.go
Due: none

Path conditions:
  post-kubernetes-push-images: any of: ^test\/images\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
