Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210204-b06ec78
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

images: Build debian-iptables:buster-v1.4.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

releng-ci: Build v0.1.3 image
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Fix GCR authentication for base images
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-hyperkube-base/cloudbuild.yaml
  images/build/debian-iptables/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables

images: fix Archs expansion in makefile
  images/Makefile.common-image
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

cross: increase gcb job timeout to 30 min
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Autogenerated fakes for tests
  pkg/binary/binaryfakes/fake_binary_implementation.go
Due: none

go-runner: bump image version
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Update debian-hyperkube-base to v1.4.0
  dependencies.yaml
  images/build/debian-hyperkube-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-hyperkube-base, post-release-push-image-releng-ci, pull-release-image-debian-hyperkube-base

Fix docker buildx image builds
  hack/verify-shellcheck.sh
  images/build/debian-base/Makefile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
  third_party/multiarch/qemu-user-static/LICENSE
  third_party/multiarch/qemu-user-static/README.kubernetes
  third_party/multiarch/qemu-user-static/register/qemu-binfmt-conf.sh
  third_party/multiarch/qemu-user-static/register/register.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables

Update debian-iptables to v1.5.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Cleanup buildx builder after its usage
  images/build/debian-base/Makefile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables

Use MarshalIndent for JSON release notes output
  cmd/krel/cmd/release_notes.go
Due: none

Move shared hash functions into own package
  pkg/announce/github_page.go
  pkg/filepromoter/file.go
  pkg/hash/hash.go
  pkg/hash/hash_test.go
  pkg/notes/document/document.go
  pkg/promobot/hash.go
  pkg/release/release.go
Due: none

Update k8s-cloud-builder to v1.15.7-2 and k8s-ci-builder to 1.15.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

License package implementation fakes
  pkg/license/licensefakes/fake_downloader_implementation.go
  pkg/license/licensefakes/fake_reader_implementation.go
Due: none

License package tests
  pkg/license/license_test.go
  pkg/license/license_unit_test.go
Due: none

k8s.io/release/pkg/license package
  pkg/license/download.go
  pkg/license/license.go
  pkg/license/spdx.go
Due: none

go mod tidy for new modules used by license pkg
  go.mod
  go.sum
Due: none

Always switch to specified commit when tagging main branch
  pkg/anago/stage.go
Due: none

Remove stretch based debian images
  images/build/debian-base/stretch/Dockerfile
  images/build/debian-base/stretch/Dockerfile.build
  images/build/debian-base/stretch/clean-install
  images/build/debian-base/stretch/excludes
  images/build/debian-base/variants.yaml
  images/build/debian-iptables/stretch/Dockerfile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-debian-iptables

releng-ci: Build v0.2.0 image
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

go-runner: Build buster-v2.3.0 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

vulndash: Build v0.4.3-2 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

Add do_not_publish to template release note map
  cmd/krel/cmd/release_notes.go
Due: none

kube-cross: Build v1.16.0-rc.1-1 image
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

go1.16rc1 mod tidy
  go.sum
Due: none

dependencies.yaml: Update Golang to go1.16rc1
  dependencies.yaml
Due: none

Only show progress bar on TTY / user terminal
  go.mod
  pkg/notes/notes_v2.go
Due: none

Release Notes: experimental lookup commits on local repository instead of GitHub API call
  cmd/krel/cmd/release_notes.go
  go.mod
  go.sum
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_v2.go
  pkg/notes/options/options.go
Due: none

Build kubecross:v1.15.8-1 (golang 1.15.8)
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Fix err returns from deferred funcs in krel relnotes
  cmd/krel/cmd/release_notes.go
Due: none

add unit tests for setting up builddir
  pkg/build/build_test.go
Due: none

vulndash: Image v0.4.3-3 (golang 1.15.8)
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

go1.16 mod tidy + golangci-lint
  cmd/krel/cmd/release_notes.go
  go.sum
  pkg/notes/notes_v2.go
  pkg/notes/options/options.go
Due: none

Apply MatchesExcludeFilter on PR (v1 parity)
  pkg/notes/notes_v2.go
Due: none

Update k8s-ci-builder to 1.15.8
  dependencies.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

releng: kube-cross set canary to use go 1.16
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Build releng-ci:v0.2.1 (golang 1.15.8)
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Add structured logging and move apply map log to Debug
  pkg/notes/notes.go
Due: none

Add a RepoRoot option
  pkg/build/build.go
  pkg/build/ci.go
  pkg/build/push.go
Due: none

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
