Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

Promote kOps 1.25.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.2.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.24.4 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.4.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.25.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

feat: Add kustomize 4.5.7
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add myself to k8s-infra-gcp-auditors
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote kwok v0.0.1
  k8s.gcr.io/images/k8s-staging-kwok/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

use sha from git tag
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for artifact-promoter v3.4.6-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add some overhead into container_concurrency
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
Due: none

lower timeout_seconds
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
Due: none

audit: update as of 2022-10-20
  audit/projects/k8s-infra-e2e-boskos-091/buckets/kubernetes-staging-8c24863d4a-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-091/buckets/kubernetes-staging-8c24863d4a-europe-west6/metadata.txt
  audit/projects/k8s-staging-metrics-server/services/logging/logs.json
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Add mailing list for CEL related discussions
  groups/sig-api-machinery/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Update images.yaml
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add CEL group to allowed groups
  groups/restrictions.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for bom v0.4.0
  k8s.gcr.io/images/k8s-staging-bom/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add bentheelder to gcp-auditors
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add staging gcp project for zeitgeist
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-zeitgeist/OWNERS
  k8s.gcr.io/images/k8s-staging-zeitgeist/images.yaml
  k8s.gcr.io/manifests/k8s-staging-zeitgeist/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

audit: update as of 2022-10-21
  audit/projects/k8s-infra-e2e-boskos-006/buckets/kubernetes-staging-9d9a9af373-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-006/buckets/kubernetes-staging-9d9a9af373-europe-west6/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-044/buckets/kubernetes-staging-bffa1f98ea-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-044/buckets/kubernetes-staging-bffa1f98ea-europe-west6/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-101/buckets/kubernetes-staging-ef5f8c37d5-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-101/buckets/kubernetes-staging-ef5f8c37d5-europe-west6/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-102/buckets/kubernetes-staging-d2f60cddcc-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-102/buckets/kubernetes-staging-d2f60cddcc-europe-west6/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-scale-01/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/k8s-staging-ci-images/services/logging/logs.json
  audit/projects/k8s-staging-cip-test/services/logging/logs.json
  audit/projects/k8s-staging-kmm/services/logging/logs.json
Due: none

Allow steering to billing report
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

test images: promote tf-wide-deep 1.3
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-10-24
  audit/projects/k8s-infra-e2e-boskos-030/buckets/kubernetes-staging-1741a712ba-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-030/buckets/kubernetes-staging-1741a712ba-europe-west6/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-058/buckets/kubernetes-staging-3c55eabb9a-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-058/buckets/kubernetes-staging-3c55eabb9a-europe-west6/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-114/buckets/kubernetes-staging-19216839fe-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-114/buckets/kubernetes-staging-19216839fe-europe-west6/metadata.txt
  audit/projects/k8s-staging-experimental/services/logging/logs.json
  audit/projects/k8s-staging-kas-network-proxy/services/logging/logs.json
  audit/projects/k8s-staging-publishing-bot/services/logging/logs.json
Due: none

Promote sig-storage livenessprobe:v2.8.0 and node-driver-registrar:v2.6.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

update csi sidecars to latest
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for artifact-promoter v3.4.7-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote Ingress NGINX v1.21.4 base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-10-31
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-infra-e2e-boskos-062/buckets/kubernetes-staging-e0428a91a8-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-062/buckets/kubernetes-staging-e0428a91a8-europe-west6/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-086/buckets/kubernetes-staging-51729ed2f6-europe-west6/iam.json
  audit/projects/k8s-infra-e2e-boskos-086/buckets/kubernetes-staging-51729ed2f6-europe-west6/metadata.txt
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
  audit/projects/k8s-staging-cluster-addons/services/logging/logs.json
  audit/projects/k8s-staging-kas-network-proxy/services/logging/logs.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-artifacts/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-artifacts/metadata.txt
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

releng: temporary release manager access for salaxander
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

feat: updates for CAPA image promotion
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/OWNERS
Due: none

node-feature-discovery: promote v0.11.3 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

node-feature-discovery: add fmuyassarov as an image reviewer
  k8s.gcr.io/images/k8s-staging-nfd/OWNERS
Due: none

Bumping boskos and ghproxy and prow
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.26.0-alpha.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add external secrets for k8s-infra-build cluster to use aws SA
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/externalsecrets.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2022-11-02
  audit/projects/k8s-infra-prow-build/secrets/gke_k8s-prow-builds_us-central1-f_prow__test-pods__aws-credentials-607362164682/description.json
  audit/projects/k8s-infra-prow-build/secrets/gke_k8s-prow-builds_us-central1-f_prow__test-pods__aws-credentials-607362164682/iam.json
  audit/projects/k8s-infra-prow-build/secrets/gke_k8s-prow-builds_us-central1-f_prow__test-pods__aws-credentials-607362164682/versions.json
  audit/projects/k8s-infra-prow-build/secrets/gke_k8s-prow-builds_us-central1-f_prow__test-pods__aws-credentials-768319786644/description.json
  audit/projects/k8s-infra-prow-build/secrets/gke_k8s-prow-builds_us-central1-f_prow__test-pods__aws-credentials-768319786644/iam.json
  audit/projects/k8s-infra-prow-build/secrets/gke_k8s-prow-builds_us-central1-f_prow__test-pods__aws-credentials-768319786644/versions.json
  audit/projects/k8s-infra-prow-build/secrets/gke_k8s-prow-builds_us-central1-f_prow__test-pods__aws-ssh-key-secret/description.json
  audit/projects/k8s-infra-prow-build/secrets/gke_k8s-prow-builds_us-central1-f_prow__test-pods__aws-ssh-key-secret/iam.json
  audit/projects/k8s-infra-prow-build/secrets/gke_k8s-prow-builds_us-central1-f_prow__test-pods__aws-ssh-key-secret/versions.json
Due: none

Image promotion for artifact-promoter v3.4.8-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
