Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

krel cve: Subcommand to handle CVE vulnerability info
  cmd/krel/cmd/cve.go
Due: none

Move CVE data verification test to cve package
  pkg/cve/cve_unit_test.go
Due: none

correct a wrong word
  cmd/schedule-builder/README.md
Due: none

Use test bucket for CVE data
  cmd/krel/cmd/cve.go
  pkg/cve/client.go
  pkg/cve/cve.go
Due: none

Notes: Initialize mapProvider array in new opts
  pkg/notes/options/options.go
Due: none

Stage: Enable CVE bucket cloning in changelog
  pkg/anago/stage.go
Due: none

Add CVE maps cloning and parsing to changelog
  pkg/changelog/changelog.go
  pkg/changelog/impl.go
Due: none

Add CVE cloning failures to the changelog.Run() test
  pkg/changelog/changelog_test.go
Due: none

Skip the DataFields field from the JSON release notes
  pkg/notes/notes.go
Due: none

Include PRs in notes when no release note is defined
  pkg/notes/document/document.go
  pkg/notes/notes.go
Due: none

changelogfakes regeneration
  pkg/changelog/changelogfakes/fake_impl.go
Due: none

Fix TestGatherNotes
  pkg/notes/notes_gatherer_test.go
Due: none

Add CVE information to Changelog template
  pkg/changelog/const.go
Due: none

Changelog: Fix TestNewMinorRelease TestNewRCRelease tests
  cmd/krel/cmd/changelog_data_test.go
  cmd/krel/cmd/changelog_test.go
  pkg/notes/notes.go
Due: none

dependencies.yaml: Update zeitgeist to v0.3.0
  dependencies.yaml
  go.mod
  go.sum
  hack/verify-dependencies.sh
  internal/tools.go
Due: none

[DROP] Temp files to trigger image building presubmits
  cloudbuild-kubepkg.yaml
  images/k8s-cloud-builder/ci-failures
  images/releng/ci/ci-failures
  images/releng/k8s-ci-builder/ci-failures
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

dependencies: Add Golang entries for previous release branches
  dependencies.yaml
Due: none

k8s-ci-builder: Retrigger builds with correct Golang versions
  dependencies.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

Temp files to trigger image building presubmits
  cloudbuild-kubepkg.yaml
  images/k8s-cloud-builder/ci-failures
  images/releng/ci/ci-failures
  images/releng/k8s-ci-builder/ci-failures
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

k8s-ci-builder: Add 1.21 branch variant
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

k8s-ci-builder: Match go version of the builder image with k/k@dev
  dependencies.yaml
  images/releng/k8s-ci-builder/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

kube-cross: Adds mingw-w64 for Windows binary compilation
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

kube-cross: Build v1.16.1-2 image
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

k8s-ci-builder: Fix 'CONFIG' substitution for '1.21' variant
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

dependencies: Update to go1.16.3
  dependencies.yaml
Due: none

[go1.16] vulndash: Build v0.4.3-7
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

[go1.16] kube-cross: Build v1.16.3-1 image
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

[go1.16] releng-ci: Build v0.5.1 image
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

[go1.16] go-runner: Build v2.3.1-go1.16.3-buster.0 image
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

[go1.16] packages: Update debs build image to use go1.16.3
  packages/deb/Dockerfile
Due: none

kube-cross: Build v1.16.3-canary-2 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

[go1.16] Update kubernetes/kubernetes dependents to use go1.16.3
  dependencies.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

k8s-cloud-builder: Build v1.16.3-1 image
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

[go1.15] Update kubernetes/kubernetes dependents to use go1.15.11
  dependencies.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

k8s-cloud-builder: Build v1.15.11-1 / v1.15.11-legacy-1 image
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

Add notice if release note gets excluded because of mismatched authors
  pkg/notes/notes.go
Due: none

Fix krel release-notes error message
  cmd/krel/cmd/release_notes.go
Due: none

verify signatures of distroless base images
  images/build/go-runner/Dockerfile
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/distroless-cosign.pub
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

dependencies.yaml: Add entry for cosign image
  dependencies.yaml
Due: none

go-runner: Trigger new image builds
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner
