Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

ci: CA and VPA specific UT scripts
  .github/workflows/ca-test.yaml
  .github/workflows/vpa-test.yaml
  hack/for-go-proj.sh
  hack/go-unit-tests-ca.sh
  hack/go-unit-tests-vpa.sh
Due: none

[cluster-autoscaler-1.34] update hack/for-go-proj.sh
  hack/for-go-proj.sh
Due: none

[cluster-autoscaler-1.34] allow clusterapi provider to process managed labels
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_test_framework.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

update UT
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[cluster-autoscaler-1.33] GHA config
  .github/workflows/ca-test.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/verify.yaml
  hack/for-go-proj.sh
Due: none

[cluster-autoscaler-1.33] allow clusterapi provider to process managed labels
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

update UT
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Node removal latency metrics added
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

make nlt a decorator over existing scaledownstatus processor and resolve other code review comments
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/core/static_autoscaler.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[cluster-autoscaler-1.34] allow clusterapi provider to process managed labels (#8753)
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_test_framework.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[cluster-autoscaler-1.32] GHA config
  .github/workflows/ca-test.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/verify.yaml
  hack/for-go-proj.sh
Due: none

Don't show go vet errors on `make benchmark`
  cluster-autoscaler/Makefile
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

ci: cleanup lint job
  hack/verify-golint.sh
Due: none

prove that linting still works
  cluster-autoscaler/config/const.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

this should make golint upset in VPA
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

restore comments
  cluster-autoscaler/config/const.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
Due: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

ci: cleanup lint job (#8765)
  hack/verify-golint.sh
Due: none

Fix typos in some files
  addon-resizer/vendor/github.com/davecgh/go-spew/spew/common.go
  addon-resizer/vendor/github.com/davecgh/go-spew/spew/config.go
  addon-resizer/vendor/github.com/davecgh/go-spew/spew/format.go
  addon-resizer/vendor/github.com/ghodss/yaml/yaml.go
  addon-resizer/vendor/github.com/google/btree/btree.go
  addon-resizer/vendor/github.com/hashicorp/golang-lru/arc.go
  addon-resizer/vendor/github.com/hashicorp/golang-lru/simplelru/lru.go
Due: none

Case fix in example for kwok cloudProvider
  cluster-autoscaler/cloudprovider/kwok/README.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat: Partionable Devices Support
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

add back 'cluster-autoscaler/expander/grpcplugin/protos'
  hack/verify-golint.sh
Due: none

[cluster-autoscaler-release-1.33] ci: cleanup lint job (#8770)
  hack/verify-golint.sh
Due: none

update lint
  hack/verify-golint.sh
Due: none

trigger a CA test run
  cluster-autoscaler/main.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

remove comment
  cluster-autoscaler/main.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[cluster-autoscaler-1.31] GHA config
  .github/workflows/ca-test.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/verify.yaml
  hack/for-go-proj.sh
  hack/verify-golint.sh
Due: none

trigger CA test run
  cluster-autoscaler/main.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[vpa-release-1.5] GHA config
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/verify.yaml
  .github/workflows/vpa-test.yaml
  hack/for-go-proj.sh
  hack/verify-golint.sh
  vertical-pod-autoscaler/pkg/updater/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater
