Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-capz-windows-containerd: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

kube-proxy: windows: Removed hnsV1
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
Due: none

Print pod.Spec.RuntimeClassName in kubectl describe
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Due: pull-kubernetes-godeps

Turn on DefaultUTCTimeZone for cel-go.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
Due: pull-kubernetes-godeps

Switch to use cel.TypeToExprType(celType) to generate the exprType.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/lists.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/schemas.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/schemas_test.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/types.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/types_test.go
Due: pull-kubernetes-godeps

Pick up dispatcher refactor changes from cel-go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/library_compatibility_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/lists.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/regex.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/urls.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/schemas.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/types.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/url.go
Due: pull-kubernetes-godeps

Bump cel-go to v0.12.4
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  vendor/github.com/google/cel-go/cel/decls.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

cleanup: use sets.Clone() to avoid interim slice
  pkg/scheduler/framework/interface.go
Due: none

Introduce config for API Priority and Fairness
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/config.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/mutating_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width_test.go
Due: pull-kubernetes-godeps

Add unit test - TestDescribePodRuntimeClass
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Due: pull-kubernetes-godeps

Enable the empty list sum support.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/lists.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
Due: pull-kubernetes-godeps

Resolve review comments
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Due: pull-kubernetes-godeps

Add e2e HPA Behavior tests: scale down stabilisation, scale up disabled, scale down disabled.
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
  test/e2e/framework/autoscaling/autoscaling_utils.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

cluster: use systemd cgroup driver for cgroupv2
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

'running_managed_controllers' for KCM/CCM for cloud-node-lifecycle controller
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/core.go
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/app/core.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller.go
  staging/src/k8s.io/controller-manager/app/controllercontext.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

Adjust watch channel sizes in watchcache
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
Due: pull-kubernetes-godeps

Sort out dep order
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/schemas.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/url.go
Due: pull-kubernetes-godeps

Make timeout test properly liberal
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
Due: pull-kubernetes-godeps

Fix error message in attach_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/attach/attach_test.go
Due: pull-kubernetes-godeps

Fix incorrect message when attaching to ephemeral containers
  staging/src/k8s.io/kubectl/pkg/cmd/attach/attach.go
  staging/src/k8s.io/kubectl/pkg/cmd/attach/attach_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
Due: pull-kubernetes-godeps

add service port mutation test
  test/e2e/network/service.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

Typo in kubectl delete --help 111302
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
Due: pull-kubernetes-godeps

Promote ResourceQuota e2e test to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/resource_quota.go
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Promote APIService e2e test to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/aggregator.go
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

add setErr
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_image_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_resources_test.go
Due: pull-kubernetes-godeps

sched: evaluate error message once
  pkg/scheduler/schedule_one.go
Due: none

Add unit tests for explain command
  staging/src/k8s.io/kubectl/pkg/cmd/explain/explain_test.go
Due: pull-kubernetes-godeps

replace deprecated setoutput
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/options/options.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_image_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_resources_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Due: pull-kubernetes-godeps

use new distroless kube-proxy image
  build/common.sh
  build/dependencies.yaml
  test/e2e/network/kube_proxy.go
  test/utils/image/manifest.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Cleanup no longer used Create/Delete TestingNamespace
  test/integration/framework/util.go
  test/integration/util/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix a typo
  staging/src/k8s.io/client-go/rest/connection_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
Due: pull-kubernetes-godeps

Adding value attribute to get the value of zone property as per the update in output of gcloud info command https://cloud.google.com/sdk/docs/release-notes#miscellaneous
  hack/make-rules/test-e2e-node.sh
Due: pull-kubernetes-files-remake

scheduler: migrate from legacy events API to new events API
  cmd/kube-scheduler/app/config/config.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/profile/profile.go
  pkg/scheduler/profile/profile_test.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler_test.go
Due: none

Revert "Promote APIService e2e test to Conformance"
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/aggregator.go
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Tag test should manage the lifecycle of an APIService as Serial
  test/e2e/apimachinery/aggregator.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

api: introduce Available type for DaemonSetCondition
  pkg/apis/apps/types.go
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1beta2/types.go
Due: pull-kubernetes-godeps

features: introduce ExtendedWorkloadConditions feature gate
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

api: introduce Available type for StatefulSetCondition
  pkg/apis/apps/types.go
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1beta2/types.go
Due: pull-kubernetes-godeps

cri: add MetricsEndpoints endpoint
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/services.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_runtime_service.go
Due: pull-kubernetes-godeps
