Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Images: Trigger other builds (1/2).
  images/cfssl/TAG
  images/custom-error-pages/TAG
  images/e2e-test-echo/TAG
  images/ext-auth-example-authsvc/TAG
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo

Images: Trigger other builds (1/2). (#13289)
  images/cfssl/TAG
  images/custom-error-pages/TAG
  images/e2e-test-echo/TAG
  images/ext-auth-example-authsvc/TAG
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo

Images: Trigger other builds (1/2). (#13291)
  images/cfssl/TAG
  images/custom-error-pages/TAG
  images/e2e-test-echo/TAG
  images/ext-auth-example-authsvc/TAG
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo

Images: Trigger other builds (1/2). (#13290)
  images/cfssl/TAG
  images/custom-error-pages/TAG
  images/e2e-test-echo/TAG
  images/ext-auth-example-authsvc/TAG
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo

Images: Trigger other builds (2/2).
  images/fastcgi-helloserver/TAG
  images/go-grpc-greeter-server/TAG
  images/httpbun/TAG
  images/kube-webhook-certgen/TAG
Due: post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen

Images: Trigger other builds (2/2). (#13292)
  images/fastcgi-helloserver/TAG
  images/go-grpc-greeter-server/TAG
  images/httpbun/TAG
  images/kube-webhook-certgen/TAG
Due: post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen

Images: Trigger other builds (2/2). (#13293)
  images/fastcgi-helloserver/TAG
  images/go-grpc-greeter-server/TAG
  images/httpbun/TAG
  images/kube-webhook-certgen/TAG
Due: post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen

Images: Trigger other builds (2/2). (#13294)
  images/fastcgi-helloserver/TAG
  images/go-grpc-greeter-server/TAG
  images/httpbun/TAG
  images/kube-webhook-certgen/TAG
Due: post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen

Bump actions/download-artifact from 4.2.1 to 4.3.0 in the actions group (#13304)
  .github/workflows/ci.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Bump actions/download-artifact from 4.2.1 to 4.3.0 in the actions group (#13305)
  .github/workflows/ci.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Tests & Docs: Bump images.
  docs/examples/canary/README.md
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  docs/examples/customization/external-auth-headers/echo-service.yaml
  test/e2e/HTTPBUN_IMAGE
  test/e2e/framework/deployment.go
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chart: Bump Kube Webhook CertGen.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Tests & Docs: Bump images. (#13307)
  docs/examples/canary/README.md
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  docs/examples/customization/external-auth-headers/echo-service.yaml
  test/e2e/HTTPBUN_IMAGE
  test/e2e/framework/deployment.go
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Deploy GitHub Pages
  examples/canary/index.html
  examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  examples/customization/custom-errors/custom-default-backend.yaml
  examples/customization/external-auth-headers/echo-service.yaml
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Tests & Docs: Bump images. (#13309)
  docs/examples/canary/README.md
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  docs/examples/customization/external-auth-headers/echo-service.yaml
  test/e2e/HTTPBUN_IMAGE
  test/e2e/framework/deployment.go
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Tests & Docs: Bump images. (#13308)
  docs/examples/canary/README.md
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  docs/examples/customization/external-auth-headers/echo-service.yaml
  test/e2e/HTTPBUN_IMAGE
  test/e2e/framework/deployment.go
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chart: Bump Kube Webhook CertGen. (#13311)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Bump Kube Webhook CertGen. (#13310)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Bump Kube Webhook CertGen. (#13312)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Images: Trigger controller build.
  TAG
Due: none

Images: Trigger controller build. (#13313)
  TAG
Due: none

Images: Trigger controller build. (#13314)
  TAG
Due: none

Release controller v1.12.2 & chart v4.12.2.
  README.md
  changelog/controller-1.12.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.12.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.11.6 & chart v4.11.6.
  README.md
  changelog/controller-1.11.6.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.11.6.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.12.2/v1.11.6 & chart v4.12.2/v4.11.6.
  README.md
  changelog/controller-1.11.6.md
  changelog/controller-1.12.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.11.6.md
  charts/ingress-nginx/changelog/helm-chart-4.12.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.12.2 & chart v4.12.2. (#13316)
  README.md
  changelog/controller-1.12.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.12.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.11.6 & chart v4.11.6. (#13317)
  README.md
  changelog/controller-1.11.6.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.11.6.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update index.yaml
  index.yaml
Due: none

Release controller v1.12.2/v1.11.6 & chart v4.12.2/v4.11.6. (#13318)
  README.md
  changelog/controller-1.11.6.md
  changelog/controller-1.12.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.11.6.md
  charts/ingress-nginx/changelog/helm-chart-4.12.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Go: Update dependencies.
  go.mod
  go.sum
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  pkg/util/runtime/cpu_linux.go
Due: post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen
