Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

Update staging integration test
  pkg/anago/stage_test.go
Due: post-release-push-image-k8s-ci-builder

spdx: Fix panic when unable to dnload err
  pkg/spdx/gomod.go
Due: post-release-push-image-k8s-ci-builder

Regenerate stage client and imple fakes
  pkg/anago/anagofakes/fake_stage_impl.go
Due: post-release-push-image-k8s-ci-builder

Fix images provenance data produces during stage
  pkg/anago/stage.go
  pkg/release/provenance.go
Due: post-release-push-image-k8s-ci-builder

Perform provenance check in directory
  pkg/anago/release.go
  pkg/release/provenance.go
Due: post-release-push-image-k8s-ci-builder

Switch to buffered output of the outline
  cmd/bom/cmd/document.go
  pkg/spdx/document.go
  pkg/spdx/file.go
  pkg/spdx/package.go
Due: post-release-push-image-k8s-ci-builder

SPDX Parser
  pkg/spdx/parser.go
Due: post-release-push-image-k8s-ci-builder

spdx: Use -1 to represent unlimited recursion in outline
  pkg/spdx/package.go
Due: post-release-push-image-k8s-ci-builder

spdx: Document outliner
  pkg/spdx/document.go
  pkg/spdx/file.go
  pkg/spdx/object.go
  pkg/spdx/package.go
Due: post-release-push-image-k8s-ci-builder

bom: document outline subcommand
  cmd/bom/cmd/document.go
  cmd/bom/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

SPDX Banner
  pkg/spdx/spdx.go
Due: post-release-push-image-k8s-ci-builder

lint: Fix typo
  pkg/spdx/relationship.go
Due: post-release-push-image-k8s-ci-builder

Update go.mod (add x/term)
  go.mod
Due: post-release-push-image-k8s-ci-builder

spdx: Make regular expressions global to avoid recompiling
  pkg/spdx/parser.go
Due: post-release-push-image-k8s-ci-builder

spdx parser: Fix bug in File.Name and NONE Dnld
  pkg/spdx/parser.go
Due: post-release-push-image-k8s-ci-builder

spdx: SLSA Provenance export
  pkg/provenance/statement.go
  pkg/spdx/document.go
  pkg/spdx/object.go
Due: post-release-push-image-k8s-ci-builder

Regenerate provenance fakeks
  pkg/provenance/provenancefakes/fake_statement_implementation.go
Due: post-release-push-image-k8s-ci-builder

release: Add end-user provenance generator
  pkg/anago/release.go
  pkg/release/provenance.go
Due: post-release-push-image-k8s-ci-builder

anago/release: Regenerate fakes
  pkg/anago/anagofakes/fake_release_impl.go
Due: post-release-push-image-k8s-ci-builder

add go-runner to debian-iptables image
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

update cosign to v1.3.0
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

[go] Build go1.17.3 and go1.16.10 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

k8s-cloud-builder/k8s-ci-builder: Build image using go1.17.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

ci-reporter: port ci-signal-reporter to k8s.io/release
  cmd/ci-reporter/README.md
  cmd/ci-reporter/report.go
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

bump debian-iptables version to buster-v1.7.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

debian-iptables: Use go1.17.3 variant of go-runner image
  dependencies.yaml
  images/build/debian-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

debian-iptables: add go-runner to bullseye image
  dependencies.yaml
  images/build/debian-iptables/bullseye/Dockerfile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

ci-reporter: add OWNERS for cmd/ci-reporter
  OWNERS_ALIASES
  cmd/ci-reporter/OWNERS
Due: post-release-push-image-k8s-ci-builder

ci-reporter: updates references to the tool in README
  cmd/ci-reporter/README.md
Due: post-release-push-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: Build image using go1.16.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

refactore new ci-signal tool
  cmd/ci-reporter/README.md
  cmd/ci-reporter/report.go
Due: post-release-push-image-k8s-ci-builder

revert rename from library github
  cmd/ci-reporter/report.go
Due: post-release-push-image-k8s-ci-builder

fix
  cmd/ci-reporter/report.go
Due: post-release-push-image-k8s-ci-builder

cosign: update cosign to 1.3.1
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Update cmd/ci-reporter/report.go
  cmd/ci-reporter/report.go
Due: post-release-push-image-k8s-ci-builder

Refactor new ci-signal tool (#2314)
  cmd/ci-reporter/README.md
  cmd/ci-reporter/report.go
Due: post-release-push-image-k8s-ci-builder
