Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-provisioner-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-helper-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

pull-kind-conformance-parallel-ga-only:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      env:
      - name: PARALLEL
        value: 'true'
  ...

pull-kind-conformance-parallel-ipv6:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      env:
      - name: PARALLEL
        value: 'true'
  ...

pull-kind-conformance-parallel-dual-stack-ipv4-ipv6:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-kind-e2e-kubernetes:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

update haproxy to latest image
  pkg/cluster/internal/loadbalancer/const.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

use base image with runc 1.2.x
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

license typo
  pkg/cluster/internal/providers/docker/node.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

e2e-k8s.sh: support e2e.test parameters
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update node image to 1.34.3 with runc 1.2.x
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Bump image from bullseye to bookworm for local-path-helper,local-path-provisioner,haproxy
  images/haproxy/Dockerfile
  images/haproxy/stage-binary-and-deps.sh
  images/local-path-helper/Dockerfile
  images/local-path-helper/stage-binary-and-deps.sh
  images/local-path-provisioner/Dockerfile
Due: post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

mend
  images/haproxy/stage-binary-and-deps.sh
  images/local-path-helper/stage-binary-and-deps.sh
Due: post-kind-push-haproxy-image, post-kind-push-local-path-helper-image

re-upgrade to base image with runc 1.3.x
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump node image to 1.35.0
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

drop almalinux 8
  .github/workflows/vm.yaml
Due: none

version v0.31.0
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

version v0.32.0-alpha
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump docs to 0.31.0
  README.md
  site/config.toml
Due: none

DO NOT MERGE -- test hakman's fix
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

haproxy: switch to upstream bookworm image
  images/haproxy/Dockerfile
Due: post-kind-push-haproxy-image

bump haproxy to 2.6.x
  images/haproxy/Dockerfile
Due: post-kind-push-haproxy-image

upgrade to runc 1.3.4
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update node image with runc 1.3.4
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump containerd to 2.2.1
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image to pickup containerd 2.2.1
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump haproxy image to latest
  pkg/cluster/internal/loadbalancer/const.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump local path images to latest
  pkg/build/nodeimage/const_storage.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

use staging node image to test
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

cmd: clarify stack trace logging behavior
  cmd/kind/app/main.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

add name for kind cluster
  site/content/docs/user/kind-example-config.yaml
Due: none

Update quick-start.md
  site/content/docs/user/quick-start.md
Due: none

docs: correct ingress migration link
  site/content/docs/user/ingress.md
Due: none

Add option to control installstorage action
  pkg/apis/config/v1alpha4/types.go
  pkg/cluster/internal/create/create.go
  pkg/internal/apis/config/convert_v1alpha4.go
  pkg/internal/apis/config/types.go
  site/content/docs/user/configuration.md
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Add minimal unit-test
  pkg/internal/apis/config/convert_v1alpha4_test.go
  pkg/internal/apis/config/validate_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Fix ipv6 unit-test
  pkg/cluster/internal/providers/common/getport_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update v1beta4 template for v1beta4 changes
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

start using v1beta4 in v1.35.0+
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

copy v1beta3 config template to v1beta4
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

trim whitespace in v1beta4 template
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

fix indentation for bind-address flag
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

docs: clarify resource requirement scope in quick start
  site/content/docs/user/quick-start.md
Due: none

Update site/content/docs/user/quick-start.md
  site/content/docs/user/quick-start.md
Due: none

Allow FOCUS="" to run all tests without conformance filter
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

e2e: Stop force-skipping Serial tests in parallel mode
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)|(^.go-version)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)|(^.go-version)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)|(^.go-version)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-conformance-parallel-ga-only: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-dual-stack-ipv4-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-32: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-31: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-30: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-29: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-28: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
