Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

Add integration tests for StatefulSetStartOrdinal feature
  test/integration/statefulset/statefulset_test.go
  test/integration/statefulset/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

kubeadm:[cherry-pick]backup kubelet config for "upgrade node"
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: fix `invalid cross-device link` error
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: include the err got from `PrintDryRunFile`
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/postupgrade_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: backup kubelet config file for `upgrade apply`
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/postupgrade_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Update `pkg/controller/cronjob/` for contextual logging
  cmd/kube-controller-manager/app/batch.go
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
  test/integration/cronjob/cronjob_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

listWithCount from watchCache firstly
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Due: pull-kubernetes-godeps

Fixed issue with file close
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/protobuf/parser.go
Due: pull-kubernetes-godeps

fix:Output an overwritten value
  test/integration/dualstack/dualstack_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix typo in close function
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/protobuf/parser.go
Due: pull-kubernetes-godeps

client-go: make generating certificate/key permissions more secure (600)
  staging/src/k8s.io/client-go/util/cert/cert.go
  staging/src/k8s.io/client-go/util/cert/io.go
  staging/src/k8s.io/client-go/util/certificate/certificate_store.go
  staging/src/k8s.io/client-go/util/keyutil/key.go
Due: pull-kubernetes-godeps

Add cici37 as API reviewer
  OWNERS_ALIASES
Due: none

restclient: rename "method" label to "verb"
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
Due: pull-kubernetes-godeps

Add warning about TLS 1.3 cipher suites
  cmd/kubelet/app/server.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

test/utils: extend ktesting with custom formatting
  test/utils/format/format.go
  test/utils/ktesting/ktesting.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix ValidateImmutableField
  pkg/apis/apps/validation/validation.go
  pkg/apis/batch/validation/validation.go
  pkg/apis/core/validation/events.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/discovery/validation/validation.go
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
  pkg/apis/policy/validation/validation_test.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/apis/resource/validation/validation_resourceclaimtemplate_test.go
  pkg/apis/scheduling/validation/validation.go
  pkg/apis/storage/validation/validation.go
  pkg/registry/apps/daemonset/strategy_test.go
  pkg/registry/apps/deployment/strategy_test.go
  pkg/registry/apps/replicaset/strategy_test.go
  staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta.go
  staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta_test.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-godeps

apiserver: remove 34s from DELETECOLLECTION rest handler
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
Due: pull-kubernetes-godeps

Don't explicitly set image version in tests
  test/e2e/node/security_context.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: 115484: Don't explicitly set image version in tests
  test/e2e/node/security_context.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

small comment the ephemeral containers are not accounted for the QoS calculation
  pkg/apis/core/helper/qos/qos.go
  staging/src/k8s.io/kubectl/pkg/util/qos/qos.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: disable tests dependent on StackDriver
  openshift-hack/e2e/annotate/rules.go
Due: none

UPSTREAM: <drop>: update generated code
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
Due: none

Add golang.org/x/lint to unwanted dependencies
  hack/unwanted-dependencies.json
Due: none

Defer builds to test-cmd and test-integration targets
  hack/jenkins/test-dockerized.sh
Due: none

Add gimme
  LICENSES/third_party/gimme/LICENSE
  hack/.spelling_failures
  third_party/gimme/LICENSE
  third_party/gimme/README.md
  third_party/gimme/gimme
Due: none

Invoke gimme from kube::golang::verify_go_version
  build/common.sh
  hack/lib/golang.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Add gimme
  LICENSES/third_party/gimme/LICENSE
  third_party/gimme/LICENSE
  third_party/gimme/README.md
  third_party/gimme/gimme
Due: none

Changes for WinProxier dualstack.
  pkg/proxy/winkernel/hnsV2.go
Due: none

[Issue:#115501] Fix for issue with Loadbalancer policy creation for IPV6 endpoints in Dualstack mode.
  pkg/proxy/winkernel/hns.go
Due: none

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-capz-windows-containerd: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
