Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

fix comments in pkg/proxy/types.go
  pkg/proxy/types.go
Due: none

fix: --chunk-size with selector returns missing result
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  test/integration/apiserver/apiserver_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

UPSTREAM: <carry>: Add Upstream validation in the DNS admission check
  openshift-kube-apiserver/admission/customresourcevalidation/dns/validate_dns.go
  openshift-kube-apiserver/admission/customresourcevalidation/dns/validate_dns_test.go
Due: none

kubeadm: handle dup unix:// prefix in node annotaiton
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
  cmd/kubeadm/app/cmd/upgrade/common.go
Due: pull-kubernetes-e2e-kubeadm-gce

add some uts of diff.go
  staging/src/k8s.io/apimachinery/pkg/util/diff/diff_test.go
Due: pull-kubernetes-godeps

Prevent host access on VIP addresses in proxy-mode=ipvs
  pkg/proxy/ipvs/ipset.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/util/ipset/ipset.go
  pkg/util/ipset/types.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

Improve run and debug attach message upon failure
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

kubelet: add CRI definitions for user namespaces
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
Due: pull-kubernetes-godeps

kubelet: convert node shutdown manager to contextual logging
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
  vendor/k8s.io/klog/v2/internal/verbosity/verbosity.go
  vendor/k8s.io/klog/v2/ktesting/init/init.go
  vendor/k8s.io/klog/v2/ktesting/options.go
  vendor/k8s.io/klog/v2/ktesting/setup.go
  vendor/k8s.io/klog/v2/ktesting/testinglogger.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

kubelet: avoid manipulating global logger during unit test
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
Due: pull-kubernetes-local-e2e-containerized

Fix error log/event about pull image
  pkg/kubelet/images/image_manager.go
Due: pull-kubernetes-local-e2e-containerized

Don't force detach volume from healthy nodes
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Wait for cache sync in TestSyncPastDeadlineJobFinished
  pkg/controller/job/job_controller_test.go
Due: none

Update cmd/kubelet/app/server.go
  cmd/kubelet/app/server.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Fix invalid markdown format
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

GIT-110239: fix activeDeadlineSeconds enforcement bug
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Due: none

pkg/kubelet: skip long test on short mode
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kubelet_volumes_linux_test.go
  pkg/kubelet/kubelet_volumes_test.go
  pkg/kubelet/pod_workers_test.go
Due: pull-kubernetes-local-e2e-containerized

Use clock package from k8s.io/utils/clock
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/util/clock.go
Due: none

Add parameter to set SecurityContext for containers in tests
  test/utils/runners.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add KMS v2alpha1 API
  hack/update-generated-kms-dockerized.sh
  hack/verify-generated-kms.sh
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/v1beta1/api.pb.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/v1beta1/api.proto
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/v2alpha1/api.pb.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/v2alpha1/api.proto
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/v2alpha1/v2alpha1.go
Due: pull-kubernetes-godeps

Fix example of kubectl create configmap command
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_configmap.go
Due: pull-kubernetes-godeps

add a service resolver to authentication and authorization webhook
  cmd/kube-apiserver/app/server.go
  pkg/kubeapiserver/authenticator/config.go
  pkg/kubeapiserver/options/authentication.go
  pkg/kubeapiserver/options/authorization.go
  pkg/kubeapiserver/options/webhook_util.go
  pkg/kubeapiserver/options/webhook_util_test.go
Due: none

Change reflect.Ptr to reflect.Pointer
  pkg/api/pod/util_test.go
  pkg/api/testing/serialization_proto_test.go
  pkg/api/v1/persistentvolume/util_test.go
  pkg/api/v1/pod/util_test.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/validation/validation_test.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/cri/remote/conversion_test.go
  pkg/util/iptables/testing/parse.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/fuzzer/fuzzer.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/conversion_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/value.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/valuefuzz.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/naming/naming.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/construct.go
  staging/src/k8s.io/apimachinery/pkg/api/meta/help.go
  staging/src/k8s.io/apimachinery/pkg/api/meta/meta.go
  staging/src/k8s.io/apimachinery/pkg/conversion/converter.go
  staging/src/k8s.io/apimachinery/pkg/conversion/helper.go
  staging/src/k8s.io/apimachinery/pkg/conversion/queryparams/convert.go
  staging/src/k8s.io/apimachinery/pkg/runtime/converter.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go
  staging/src/k8s.io/apimachinery/pkg/util/diff/diff.go
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/meta.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/errors.go
  staging/src/k8s.io/apimachinery/third_party/forked/golang/json/fields.go
  staging/src/k8s.io/apimachinery/third_party/forked/golang/reflect/deep_equal.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/cli-runtime/pkg/printers/jsonpath.go
  staging/src/k8s.io/client-go/third_party/forked/golang/template/exec.go
  staging/src/k8s.io/component-base/logs/api/v1/types_test.go
  staging/src/k8s.io/component-base/logs/datapol/datapol.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/navigation_step_parser.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/set.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/sorter.go
  test/e2e/framework/config/config.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Update cherry_pick_pull.sh
  hack/cherry_pick_pull.sh
Due: none

refactor(scheduler): use SetupNotifySignalContext instead of SetupSignalHandler
  cmd/kube-scheduler/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/signal.go
Due: pull-kubernetes-godeps

Migrate and update current e2e event test
  test/e2e/instrumentation/core_events.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

added tests from pluginwatcher and manager
  pkg/kubelet/cm/devicemanager/manager_others_test.go
  pkg/kubelet/cm/devicemanager/manager_windows_test.go
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher_others_test.go
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher_windows_test.go
Due: pull-kubernetes-local-e2e-containerized

Execute kubectl top node and kubectl pod to display the appropriate units
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_node.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod.go
  staging/src/k8s.io/kubectl/pkg/metricsutil/metrics_printer.go
  staging/src/k8s.io/kubectl/pkg/metricsutil/metrics_printer_test.go
Due: pull-kubernetes-godeps

Made a unit test for internal container lifecycle in kubelet
  pkg/kubelet/cm/internal_container_lifecycle_test.go
Due: pull-kubernetes-local-e2e-containerized

Updated Test for PreStartContainer
  pkg/kubelet/cm/internal_container_lifecycle_linux_test.go
  pkg/kubelet/cm/internal_container_lifecycle_test.go
Due: pull-kubernetes-local-e2e-containerized

mocked the cpu, memory, topology manager using mockgen
  pkg/kubelet/cm/cpumanager/mock_cpu_manager.go
  pkg/kubelet/cm/memorymanager/mock_memory_manager.go
  pkg/kubelet/cm/topologymanager/mock_topology_manager.go
Due: pull-kubernetes-local-e2e-containerized

updated test for PreStartContainer, Added test for PostStartContainer
  pkg/kubelet/cm/internal_container_lifecycle.go
  pkg/kubelet/cm/internal_container_lifecycle_test.go
Due: pull-kubernetes-local-e2e-containerized

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-capz-windows-containerd: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
