Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

post-ingress-nginx-cfssl:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-custom-error-pages:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-e2e-test-echo:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-fastcgi-helloserver:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-httpbun:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-kube-webhook-certgen:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-test-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Docs: Migrate to AR.
  MANUAL_RELEASE.md
  NEW_CONTRIBUTOR.md
  ginkgo_upgrade.md
Due: none

Docs: Migrate to AR. (#12809)
  MANUAL_RELEASE.md
  NEW_CONTRIBUTOR.md
  ginkgo_upgrade.md
Due: none

Docs: Migrate to AR. (#12808)
  MANUAL_RELEASE.md
  NEW_CONTRIBUTOR.md
  ginkgo_upgrade.md
Due: none

Bump golang.org/x/crypto from 0.32.0 to 0.33.0 (#12812)
  go.mod
  go.sum
Due: none

Bump golang.org/x/crypto from 0.32.0 to 0.33.0 (#12813)
  go.mod
  go.sum
Due: none

Bump the actions group with 4 updates (#12815)
  .github/workflows/ci.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump the actions group with 4 updates (#12814)
  .github/workflows/ci.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Allow keepalives on status port
  rootfs/etc/nginx/template/nginx.tmpl
Due: none

Images: Update `kubectl` to v1.31.6.
  .github/workflows/ci.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

Images: Migrate to AR. (1/3)
  Makefile
  cloudbuild.yaml
Due: none

Images: Migrate to AR. (2/3)
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver

Images: Migrate to AR. (3/3)
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Images: Migrate to AR. (1/2)
  Makefile
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver

Images: Migrate to AR. (2/2)
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Images: Update `kubectl` to v1.32.2.
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

Images: Migrate to AR. (1/2) (#12839)
  Makefile
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver

Images: Migrate to AR. (1/2) (#12846)
  Makefile
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver

Images: Migrate to AR. (1/2) (#12847)
  Makefile
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver

CI: Update `kubectl` to v1.32.2.
  .github/workflows/ci.yaml
Due: none

Development: Update Kubernetes to v1.32.0.
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Migrate to AR. (2/2) (#12840)
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Images: Migrate to AR. (2/2) (#12849)
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Images: Migrate to AR. (2/2) (#12850)
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$
