Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/

Upgrade karpenter to v0.37.3
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter-crd.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter.yaml
Due: k8sio-k8s-resources-verify

Upgrade karpenter to v1.0.2
  infra/aws/terraform/prow-build-cluster/karpenter.tf
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter-crd.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter.yaml
Due: k8sio-k8s-resources-verify

Image promotion for scl-image-builder v0.1.36
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Ingress NGINX: Deprecate OpenTelemetry.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

publish cloud-provider-kind images
  registry.k8s.io/images/k8s-staging-kind/OWNERS
  registry.k8s.io/images/k8s-staging-kind/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Ingress NGINX: Deprecate NGINX v1.21.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Set mod level to none for leads lists
  groups/sig-architecture/groups.yaml
  groups/sig-auth/groups.yaml
  groups/sig-cloud-provider/groups.yaml
  groups/sig-cluster-lifecycle/groups.yaml
  groups/sig-docs/groups.yaml
  groups/sig-etcd/groups.yaml
  groups/sig-instrumentation/groups.yaml
  groups/sig-k8s-infra/groups.yaml
  groups/sig-multicluster/groups.yaml
  groups/sig-scalability/groups.yaml
  groups/sig-storage/groups.yaml
  groups/sig-ui/groups.yaml
  groups/wg-data-protection/groups.yaml
  groups/wg-policy/groups.yaml
  groups/wg-structured-logging/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

chore: update the owners for recenet CAPA changes
  registry.k8s.io/images/k8s-staging-cluster-api-aws/OWNERS
Due: none

chore: CAPA group membership changes
  groups/sig-cluster-lifecycle/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Bumping boskos and ghproxy and prow
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: post-k8sio-deploy-prow-build-trusted-resources, k8sio-k8s-resources-verify

Image promotion for gmsa-webhook v0.9.0
  registry.k8s.io/images/k8s-staging-gmsa-webhook/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

gcp/bash: drop GCR repository creation
  infra/gcp/bash/ensure-staging-storage.sh
Due: none

Ingress NGINX: Promote NGINX v1.0.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.32.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Ingress NGINX: Promote NGINX v0.1.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.16.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: post-k8sio-deploy-prow-build-trusted-resources, k8sio-k8s-resources-verify

import capa account
  infra/aws/terraform/management-account/organization-accounts-capa-playground.tf
  infra/aws/terraform/management-account/organization-accounts-workloads-prod.tf
  infra/aws/terraform/management-account/provider.tf
  infra/aws/terraform/modules/org-account/main.tf
  infra/aws/terraform/modules/org-account/variables.tf
Due: none

fix linting errors
  kubernetes/apps/istio.yaml
  kubernetes/gke-utility/argocd/argocd-cm.yaml
  kubernetes/gke-utility/argocd/extras.yaml
  kubernetes/gke-utility/helm/oauth2-proxy.yaml
  kubernetes/gke-utility/istio-system/kustomization.yaml
Due: k8sio-k8s-resources-verify

feat: added tf infra for AWS ami account
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/README.md
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/hack/disable-block.sh
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/iam.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/oidc.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/providers.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/variables.tf
Due: none

Ingress NGINX: Promote `e2e-test-runner` v20241004-114a6abb.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Deploy Istio to the utility cluster (#7341)
  kubernetes/apps/istio.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/oauth2-proxy.yaml
  kubernetes/gke-utility/argocd/argocd-cm-rbac.yaml
  kubernetes/gke-utility/argocd/argocd-cm.yaml
  kubernetes/gke-utility/argocd/argocd-cmd-params-cm.yaml
  kubernetes/gke-utility/argocd/extras.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
  kubernetes/gke-utility/helm/cert-manager.yaml
  kubernetes/gke-utility/helm/oauth2-proxy.yaml
  kubernetes/gke-utility/istio-system/auth-policy.yaml
  kubernetes/gke-utility/istio-system/gateway.yaml
  kubernetes/gke-utility/istio-system/kustomization.yaml
Due: k8sio-k8s-resources-verify

add thanos
  kubernetes/gke-utility/helm/monitoring.yaml
Due: k8sio-k8s-resources-verify

debug thanos
  kubernetes/apps/monitoring.yaml
  kubernetes/gke-utility/helm/monitoring.yaml
Due: k8sio-k8s-resources-verify

deploy monitoring stack
  kubernetes/apps/monitoring.yaml
  kubernetes/gke-utility/helm/cert-manager.yaml
  kubernetes/gke-utility/helm/monitoring.yaml
  kubernetes/gke-utility/monitoring/ingress.yaml
Due: k8sio-k8s-resources-verify

use auth proxy
  kubernetes/apps/monitoring.yaml
  kubernetes/gke-utility/helm/monitoring.yaml
  kubernetes/gke-utility/monitoring/httproute.yaml
  kubernetes/gke-utility/monitoring/ingress.yaml
  kubernetes/gke-utility/monitoring/kustomization.yaml
Due: k8sio-k8s-resources-verify

deploy thanos
  kubernetes/apps/monitoring.yaml
  kubernetes/gke-utility/helm/thanos.yaml
Due: k8sio-k8s-resources-verify

point grafana to thanos
  kubernetes/gke-utility/helm/monitoring.yaml
Due: k8sio-k8s-resources-verify

add cluster labels
  kubernetes/apps/monitoring.yaml
  kubernetes/gke-utility/helm/monitoring.yaml
Due: k8sio-k8s-resources-verify

Ingress NGINX: Promote other images.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2024-10-07
  audit/projects/k8s-infra-e2e-boskos-001/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-008/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-023/buckets/kops-state-k8s-infra-e2e-boskos-023/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-023/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-026/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-057/buckets/k8s-infra-e2e-boskos-057-staging-b191/iam.json
  audit/projects/k8s-infra-e2e-boskos-057/buckets/k8s-infra-e2e-boskos-057-staging-b191/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-057/buckets/k8s-infra-e2e-boskos-057-state-b191/iam.json
  audit/projects/k8s-infra-e2e-boskos-057/buckets/k8s-infra-e2e-boskos-057-state-b191/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-058/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-063/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-067/buckets/k8s-infra-e2e-boskos-067-state-9b62/iam.json
  audit/projects/k8s-infra-e2e-boskos-073/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-079/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-098/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-115/buckets/k8s-infra-e2e-boskos-115-state-7de7/iam.json
  audit/projects/k8s-infra-e2e-boskos-115/buckets/k8s-infra-e2e-boskos-115-state-7de7/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-116/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-136/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-138/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-141/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-153/buckets/k8s-infra-e2e-boskos-153-staging-4db5/iam.json
  audit/projects/k8s-infra-e2e-boskos-153/buckets/k8s-infra-e2e-boskos-153-staging-4db5/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-156/buckets/k8s-infra-e2e-boskos-156-staging-8097/iam.json
  audit/projects/k8s-infra-e2e-boskos-156/buckets/k8s-infra-e2e-boskos-156-staging-8097/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-158/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

Add a subscription to gs://kubernetes-ci-logs.
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
Due: pull-k8sio-terraform-kubernetes-public

Ingress NGINX: Promote `e2e-test-echo` v1.0.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

bump kube-network-policies to 0.6.0
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
