Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && make run -- --confirm

post-k8sio-dns-update:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-dns-updater
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/infra-tools/octodns:v20200616-67ce585
      command:
      - bash
      args:
      - -c
      - cd dns && make push-local

post-k8sio-deploy-prow-build-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

post-k8sio-deploy-prow-build-trusted-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

release cluster-api-openstack-provider 0.3.5
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

promote coredns 1.8.4 and dns cache 1.18.0
  k8s.gcr.io/images/k8s-staging-coredns/images.yaml
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

triage-party: add sig-release repo and update sig-release-team filters
  triage-party/release-team/configmap.yaml
Due: k8sio-k8s-resources-verify

triage-party: remove gh proxy
  triage-party/release-team/deployment.yaml
Due: k8sio-k8s-resources-verify

infra/gcp: fix variable in ensure_staging_storage
  infra/gcp/ensure-staging-storage.sh
Due: none

Add project k8s-staging-cluster-api-nested
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-cluster-api-nested/OWNERS
  k8s.gcr.io/images/k8s-staging-cluster-api-nested/images.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api-nested/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

capg/image-builder: add extra role to be able to create gcp vms
  infra/gcp/ensure-staging-storage.sh
Due: none

audit: add check-audit-pr.sh
  audit/check-audit-pr.sh
Due: none

Add dns entry for sippy
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

Switch sippy to GKE managed certificate
  sippy/sippy/certificate.yaml
  sippy/sippy/ingress.yaml
Due: k8sio-k8s-resources-verify

promote aws-ebs-csi-driver v1.1.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add self to k8s-infra-gcp-auditors
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote debian-iptables v1.6.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Updating request w/ k8s-infra-gcp-accounting
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

fix alphabetical sort
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

k8s.gcr.io/images/k8s-staging-kube-state-metrics: Promote v2.1.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Bump Triage-Party to 1.4.0
  triage-party/release-team/deployment.yaml
Due: k8sio-k8s-resources-verify

audit: service export changes
  audit/audit-gcp.sh
Due: none

Promote kOps 1.21.0-beta.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.21.0-beta.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.0-beta.3.yaml
Due: k8sio-k8s-resources-verify

[CAPN] Add charleszheng44 & Fei-Guo
  k8s.gcr.io/images/k8s-staging-cluster-api-nested/OWNERS
Due: none

roles: add orgpolicy to audit.viewer
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
Due: k8sio-k8s-resources-verify

k8s.gcr.io/images/k8s-staging-kube-state-metrics: Promote all v2.1.0 images
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Updating test runner to use new base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add ingress nginx v0.47 to promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Temporary RM access for wilsonehusin
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

infra/gcp/main: enable cloudasset service
  infra/gcp/ensure-main-project.sh
Due: none

audit: add more logging to audit-gcp.sh
  audit/audit-gcp.sh
Due: none

images: add k8s-infra image
  images/k8s-infra/Dockerfile
  images/k8s-infra/Makefile
  images/k8s-infra/README.md
  images/k8s-infra/cloudbuild.yaml
  images/k8s-infra/requirements.txt
Due: k8sio-k8s-resources-verify

Add domain to invite block list due to problem report from Slack-Admins.
  slack-infra/resources/slackin/bad-domains-configmap.yaml
Due: k8sio-k8s-resources-verify

triage-party: update cache configuration
  triage-party/release-team/deployment.yaml
Due: k8sio-k8s-resources-verify

audit: fix create-or-update-audit-pr.sh
  audit/create-or-update-audit-pr.sh
Due: none

prow-build-trusted: merge namespace resources
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/namespaces.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods-namespace.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-prow-build-trusted-resources

prow-build-trusted: add kubernetes-external-secrets
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets_crd.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets_rbac.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/namespaces.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-prow-build-trusted-resources

images/k8s-infra: update README.md
  images/k8s-infra/README.md
Due: none

prow: add deploy.sh scripts
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/deploy.sh
  infra/gcp/clusters/projects/k8s-infra-prow-build/deploy.sh
Due: post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

images/k8s-infra: include _PULL_BASE_REF
  images/k8s-infra/cloudbuild.yaml
Due: k8sio-k8s-resources-verify

images/k8s-infra: add packages for make -C groups
  images/k8s-infra/Dockerfile
  images/k8s-infra/README.md
Due: none

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
