Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, post-k8sio-image-promo, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:20200328-v2.3.1-172-gfeb5dc0
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200623-2424179-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - name: groups
      image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && make run -- --confirm

post-k8sio-dns-update:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-dns-updater
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/infra-tools/octodns:v20200616-67ce585
      command:
      - bash
      args:
      - -c
      - cd dns && make push-local

post-k8sio-deploy-prow-build-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

post-k8sio-deploy-prow-build-trusted-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

roles: rm StorageBucketList
  infra/gcp/roles/StorageBucketLister.yaml
  infra/gcp/roles/specs/StorageBucketLister.yaml
Due: none

Switch ingress for perf-dash
  perf-dash.k8s.io/ingress.yaml
Due: none

Switch ingress for node-perf-dash
  node-perf-dash.k8s.io/ingress.yaml
Due: none

roles: use iam.serviceAccountLister instead of project role
  infra/gcp/clusters/modules/gke-project/README.md
  infra/gcp/clusters/modules/gke-project/main.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
  infra/gcp/ensure-main-project.sh
Due: none

lib_iam: drop ensure_custom_iam_role
  infra/gcp/lib_iam.sh
Due: none

roles: remove stale prow binding cleanup
  infra/gcp/prow/ensure-e2e-projects.sh
Due: none

roles: remove backup user:* bindings for organization.admin
  infra/gcp/ensure-organization.sh
Due: none

infra/gcp: only create known staging projects
  infra/gcp/ensure-staging-storage.sh
Due: none

k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml: promote rc.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote addon-manager v9.1.4 images
  k8s.gcr.io/images/k8s-staging-addon-manager/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Add jhvhs to the list of SIG/WG/UG Leads
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

Promote dns 1.17.1 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Replace master branch references with main
  dns/octodns-docker/cloudbuild.yaml
  k8s.io/configmap-nginx.yaml
Due: post-k8sio-infra-tools-push-images

hack: add verify script for boilerplate + yamllint check
  .gitignore
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/verify-boilerplate.sh
  hack/verify-yamllint.sh
  hack/verify.sh
Due: none

Fix boilerplate headers
  artifactserver/cmd/artifactserver/main.go
  artifactserver/tools/get_workspace_status.sh
  audit/audit-gcp.sh
  dns/check-zone.py
  dns/check-zone.sh
  dns/push.sh
  infra/gcp/backup_tools/backup_lib.sh
  infra/gcp/backup_tools/backup_prod.sh
  infra/gcp/backup_tools/backup_test.sh
  infra/gcp/cip-auditor/deploy.sh
  infra/gcp/ensure-conformance-storage.sh
  infra/gcp/ensure-env-cip-auditor.sh
  infra/gcp/ensure-gsuite.sh
  infra/gcp/ensure-main-project.sh
  infra/gcp/ensure-organization.sh
  infra/gcp/ensure-prod-storage-gclb.sh
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-release-projects.sh
  infra/gcp/ensure-releng.sh
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/ensure-static-ips.sh
  infra/gcp/lib.sh
  infra/gcp/lib_gcr.sh
  infra/gcp/lib_gcs.sh
  infra/gcp/lib_iam.sh
  infra/gcp/lib_util.sh
  infra/gcp/namespaces/ensure-namespaces.sh
  infra/gcp/prow/ensure-e2e-projects.sh
  infra/gcp/roles/generate-role-yaml.sh
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.io/Makefile
  k8s.io/canary.sh
  k8s.io/test.py
Due: pull-k8sio-backup

Temporary RM access for mkorbi
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test

Exclude verify-terraform.sh
  hack/verify.sh
Due: none

releng: Image promotion for v1.21.0-beta.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote agnhost 2.29
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

hack: clean up verify scripts
  hack/verify-yamllint.sh
  hack/verify.sh
Due: none

Add some comments, limits and security enforcement
  cert-manager/cert-monitor.yaml
Due: none

Add resources and max concurrent challenges
  cert-manager/namespaces/cert-manager/Deployment-cert-manager.yaml
Due: none

Promote aws-ebs-csi-driver v0.9.1 & v0.8.2
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

gcp/lib: set builder permission instead of editor
  infra/gcp/lib.sh
Due: none

releng: Promote kube-cross:v1.16.1-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Promote go-runner:v2.3.1-go1.16.1-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Promote releng-ci:v0.5.0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Drop temporary RM access for mkorbi
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test

sig-storage: promote external-provisioner v2.1.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Promote go-runner:v2.3.1-go1.15.9-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: promote kube-cross:v1.15.9-legacy-1 and v1.15.9-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote scheduler-plugins release v0.19.8
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote v0.1.7 image
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote Cluster API Azure v0.4.13
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Promote go-runner:v2.3.1-go1.15.10-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: promote kube-cross:v1.15.10-legacy-1 / v1.15.10-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.20.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.20.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.20.0-beta.2.yaml
Due: none

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/groups.yaml
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/
