Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-monitoring:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-monitoring
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

chore: add RBAC for verify-conformance
  groups/restrictions.yaml
  groups/sig-architecture/groups.yaml
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote pdcsi v1.13.{3-6}
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

SIG Cloud Provider update
  OWNERS_ALIASES
Due: none

SIG Cloud Provider update
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

add kustomize image tag v5.4.2
  registry.k8s.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.14.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.15.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote cluster-api-ibmcloud-controller:v0.8.0
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

added Jeffwan as a wg serving chair
  OWNERS_ALIASES
  groups/groups.yaml
  groups/wg-serving/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote pause:3.10
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promoting pause image 3.10
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update SIG Storage images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for scl-image-builder v0.1.27
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for scl-image-builder v0.1.28
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

images: promote node-feature-discovery v0.16.0
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for scl-image-builder v0.1.29
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote Kueue v0.6.3
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote cluster-autoscaler 1.27.8, 1.28.5, 1.29.3, 1.30.1
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

group memberships for 1.31 release team
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Update images for CSI volume health
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

update sidecar to latest
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-helm v0.2.3
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add terraform code to deploy patch release notification service
  infra/aws/terraform/sig-release/OWNERS
  infra/aws/terraform/sig-release/patch-release-notification/README.md
  infra/aws/terraform/sig-release/patch-release-notification/main.tf
  infra/aws/terraform/sig-release/patch-release-notification/outputs.tf
  infra/aws/terraform/sig-release/patch-release-notification/variables.tf
  infra/aws/terraform/sig-release/patch-release-notification/versions.tf
Due: none

Image promotion for cloud-pv-vsphere v1.30.1
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for etcd 3.5.14-0
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.30.1 / v1.29.3 / v1.28.6 / v1.27.7 / v1.26.12
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bootstrap k8s-infra-prow GCP project (#6740)
  infra/README.md
  infra/gcp/terraform/k8s-infra-prow/addresses.tf
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
  infra/gcp/terraform/k8s-infra-prow/gke.tf
  infra/gcp/terraform/k8s-infra-prow/iam.tf
  infra/gcp/terraform/k8s-infra-prow/main.tf
  infra/gcp/terraform/k8s-infra-prow/provider.tf
  infra/gcp/terraform/k8s-infra-prow/registries.tf
  infra/gcp/terraform/k8s-infra-prow/vpc.tf
Due: none

bump argocd
  kubernetes/apps/external-secrets.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
Due: k8sio-k8s-resources-verify

create eso clusterstore
  kubernetes/apps/external-secrets.yaml
  kubernetes/gke-prow/helm/external-secrets.yaml
  kubernetes/gke-utility/helm/external-secrets.yaml
Due: k8sio-k8s-resources-verify

deploy nginx ingress
  kubernetes/apps/ingress-nginx.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/gke-utility/helm/ingress-nginx.yaml
Due: k8sio-k8s-resources-verify

set the dualstack address correctly
  kubernetes/gke-utility/helm/ingress-nginx.yaml
Due: k8sio-k8s-resources-verify

force dualstack
  kubernetes/gke-utility/helm/ingress-nginx.yaml
Due: k8sio-k8s-resources-verify

fix diff
  kubernetes/gke-utility/helm/ingress-nginx.yaml
Due: k8sio-k8s-resources-verify

configure issuer
  kubernetes/apps/cert-manager.yaml
  kubernetes/gke-utility/helm/cert-manager.yaml
Due: k8sio-k8s-resources-verify

Image promotion for dns 1.23.1
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote dns 1.23.1 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote dns 1.23.1 images to registry.k8s.io
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Add v0.7.0 image
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for sp-operator v0.8.4
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Sync CSI sidecar images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/
