Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

add kubernetes.io prefix to pod-template-hash label
  pkg/apis/apps/types.go
  pkg/controller/deployment/deployment_controller_test.go
  pkg/controller/deployment/sync.go
  pkg/controller/deployment/util/deployment_util.go
  pkg/controller/deployment/util/deployment_util_test.go
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1beta2/types.go
  staging/src/k8s.io/api/extensions/v1beta1/types.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/rollback.go
  staging/src/k8s.io/kubectl/pkg/util/deployment/deployment.go
  test/e2e/apps/deployment.go
  test/e2e/framework/deployment/fixtures.go
  test/integration/deployment/deployment_test.go
  test/utils/deployment.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

add featuregate
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

run e2e with feature
  pkg/controller/deployment/deployment_controller_test.go
  pkg/controller/deployment/sync.go
  test/e2e/apps/deployment.go
  test/integration/deployment/deployment_test.go
  test/utils/deployment.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add e2e tests for PreferZone topology
  test/e2e/network/topology_hints.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

Bump distroless-iptables to v0.4.1
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Due: pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Code Refactor: using struct option rather than a long list of parameters
  cmd/kubeadm/app/cmd/certs.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/kubeconfig.go
  cmd/kubeadm/app/cmd/reset.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/preflight/checks_test.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/config/joinconfiguration.go
  cmd/kubeadm/app/util/config/joinconfiguration_test.go
  cmd/kubeadm/app/util/config/resetconfiguration.go
  cmd/kubeadm/app/util/config/resetconfiguration_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

e2e: node: more feedback about podresources query
  test/e2e_node/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

allow admin and edit role to support kubectl debug command
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none

UPSTREAM: 121196: Prevent rapid reset http2 DOS on API server
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

UPSTREAM: 121204: Skip TestUnauthenticatedHTTP2ClientConnectionClose http1 tests
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
Due: pull-kubernetes-godeps

service controller: improve node lifecycle updates
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

Configure MemoryRequest for InPlace pod resize in cgroupv2 systems
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_linux.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

add potential fixes for flakiness in eviction tests
  test/e2e_node/eviction_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add stateful set test reproducing issue with Failed pods
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add finalizer to the e2e test
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Make the test pass, not get blocked on a fixed version
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

new test
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

wip
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

test cleanup
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add a test with partition + cleanup
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

debug logs
  pkg/controller/statefulset/stateful_set_control.go
Due: none

rollback isn't needed to reproduce, testing update is enough to reproduce
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Support registering overrides for feature enablement defaults.
  cmd/kube-controller-manager/app/options/options.go
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
  staging/src/k8s.io/component-base/featuregate/feature_gate_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

update vendor for client-go
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-kind-dra, check-govulncheck-results, pull-kubernetes-godeps

add clientgo featuregates to kube and replace the implementation
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

use the watchlist feature gate in the reflector
  staging/src/k8s.io/client-go/tools/cache/reflector.go
Due: pull-kubernetes-godeps

client-go/features: introduce EnvVarFeatureGate
  staging/src/k8s.io/client-go/features/env_var_feature_gate.go
  staging/src/k8s.io/client-go/features/env_var_feature_gate_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

client-go/features: introduce WatchList feature gate
  staging/src/k8s.io/client-go/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

client-go/features: introduce feature gates
  staging/src/k8s.io/client-go/features/OWNERS
  staging/src/k8s.io/client-go/features/kube_features.go
  staging/src/k8s.io/client-go/features/kube_features_test.go
  staging/src/k8s.io/client-go/features/testing/kube_features_init_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

set the watchlist client-go feature for kcm
  cmd/kube-controller-manager/app/options/options.go
Due: none

Avoid client-go dependency on component-base.
  cmd/kube-controller-manager/app/options/options.go
  pkg/features/clientfeature_adapter.go
  pkg/features/kube_features.go
  staging/src/k8s.io/client-go/features/env_var_feature_gate.go
  staging/src/k8s.io/client-go/features/env_var_feature_gate_test.go
  staging/src/k8s.io/client-go/features/kube_features.go
  staging/src/k8s.io/client-go/features/kube_features_test.go
  staging/src/k8s.io/client-go/features/testing/kube_features_init_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

quantity: Add multiplication methods
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount_test.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-godeps

Add test cases for mostPositive and mostNegative
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount_test.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-godeps

Add more unit tests
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount_test.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-godeps

Multiply by a scalar
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount_test.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-godeps

cleanup: add godoc
  staging/src/k8s.io/apiserver/pkg/cel/common/equality.go
Due: pull-kubernetes-godeps

cleanup: consistent interface{} and any
  staging/src/k8s.io/apiserver/pkg/cel/common/equality.go
Due: pull-kubernetes-godeps

k8s.io/apiserver/storage: add 3 new unit tests for delete.
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
Due: pull-kubernetes-godeps

Verify more carefully the results in the TestInt64AmountMul
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-godeps

Add a 0 × 0 case
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-godeps
