Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

add resources & extraArgs to updater
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

chores(exoscale): update user-agent
  cluster-autoscaler/cloudprovider/exoscale/exoscale_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use slicer secrets for K3s join token
  cluster-autoscaler/cloudprovider/slicer/slicer_cloud_provider.go
  cluster-autoscaler/cloudprovider/slicer/slicer_node_group.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Drop documentation surrounding v1 sdk
  cluster-autoscaler/cloudprovider/aws/README.md
  hack/boilerplate/boilerplate.py
  hack/verify-gofmt.sh
  hack/verify-golint.sh
  hack/verify-spelling.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add graduation criteria for CapacityBuffers.
  cluster-autoscaler/proposals/buffers.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

recommendation change
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

#8325 Adds kubeapi linter to the project (#8737)
  vertical-pod-autoscaler/hack/tools/kube-api-linter/.custom-gcl.yml
  vertical-pod-autoscaler/hack/tools/kube-api-linter/.golangci-kal.yml
  vertical-pod-autoscaler/hack/verify-kubelint.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat: Add new AWS provider label that needs to be ignored
  cluster-autoscaler/processors/nodegroupset/aws_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/aws_nodegroups_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

use maintained version of misspell
  hack/install-verify-tools.sh
Due: none

Integrate resource quotas with scale up
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/options/autoscaler.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons_test.go
  cluster-autoscaler/core/scaleup/scaleup.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/core/utils/utils_test.go
  cluster-autoscaler/provisioningrequest/besteffortatomic/provisioning_class.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator_test.go
  cluster-autoscaler/resourcequotas/cache.go
  cluster-autoscaler/resourcequotas/factory.go
  cluster-autoscaler/resourcequotas/provider.go
  cluster-autoscaler/resourcequotas/provider_test.go
  cluster-autoscaler/resourcequotas/testutils.go
  cluster-autoscaler/resourcequotas/tracker.go
  cluster-autoscaler/resourcequotas/tracker_test.go
  cluster-autoscaler/resourcequotas/usage.go
  cluster-autoscaler/resourcequotas/usage_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

cluster-autoscaler vs aws: do not backoff scaling when aws api is throttled
  cluster-autoscaler/clusterstate/clusterstate.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: drop remove node label and fix decrease size func
  cluster-autoscaler/cloudprovider/coreweave/coreweave_nodegroup.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_nodegroup_test.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_nodepool.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat: implement template node info
  cluster-autoscaler/cloudprovider/coreweave/coreweave_instance_types.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_nodegroup.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_nodegroup_test.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_nodepool.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_nodepool_test.go
  cluster-autoscaler/cloudprovider/coreweave/coreweave_utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

InPlace pods when resouces diff
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Vibe coded some things I don't understand
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/hack/update-codegen.sh
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/doc.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/doc.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/doc.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/doc.go
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/types.go
  vertical-pod-autoscaler/pkg/client/applyconfiguration/autoscaling.k8s.io/v1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/applyconfiguration/autoscaling.k8s.io/v1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/applyconfiguration/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/applyconfiguration/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/applyconfiguration/autoscaling.k8s.io/v1beta2/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/applyconfiguration/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/applyconfiguration/internal/internal.go
  vertical-pod-autoscaler/pkg/client/applyconfiguration/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/applyconfiguration/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/generated/openapi/cmd/models-schema/main.go
  vertical-pod-autoscaler/pkg/generated/openapi/violation_exceptions.list
  vertical-pod-autoscaler/pkg/generated/openapi/zz_generated.openapi.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Move to this
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/pkg/generated/openapi/cmd/models-schema/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Improve metrics testability
  cluster-autoscaler/core/scaledown/nodeevaltracker/max_node_skip_eval_time.go
  cluster-autoscaler/core/scaledown/nodeevaltracker/max_node_skip_eval_time_test.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/metrics/metrics_impl.go
  cluster-autoscaler/metrics/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add e2e
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add unit test
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

lint
  vertical-pod-autoscaler/pkg/updater/utils/types.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fmt
  vertical-pod-autoscaler/pkg/updater/utils/types.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat: update README.md.gotmpl
  cluster-autoscaler/charts/cluster-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
Due: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

chore: remove duplicate unit test
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Wire up leaking go routines to a stop channel
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/updater/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix extraArgs indentation
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix vpa admission controller tls secret filenames
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-tls-secret.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix vpa admission controller cluster role permissions
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-clusterrole.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix vpa recommender leader election role resource name
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-leader-election-rbac.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
