Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$

feature: support kubeadm.k8s.io/v1beta4
  pkg/cluster/internal/kubeadm/config.go
Due: none

update go / runc to go 1.22 / 1.1.13
  .go-version
  images/base/Dockerfile
Due: post-kind-push-base-image

update containerd to 1.7.18
  images/base/Dockerfile
Due: post-kind-push-base-image

update crictl to 1.30
  images/base/Dockerfile
Due: post-kind-push-base-image

bump cni plugins to 1.5.1
  images/base/Dockerfile
Due: post-kind-push-base-image

normalize FROM AS casing to silence buildx warnings
  images/base/Dockerfile
  images/haproxy/Dockerfile
  images/local-path-helper/Dockerfile
Due: post-kind-push-base-image, post-kind-push-haproxy-image, post-kind-push-local-path-helper-image

fix legacy env format warning
  images/base/Dockerfile
Due: post-kind-push-base-image

update base image
  pkg/build/nodeimage/defaults.go
Due: none

bump node image
  pkg/apis/config/defaults/image.go
Due: none

fix: ensure update-ca-certificates during startup
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Mention possible pids_limit issues with rootless podman
  site/content/docs/user/rootless.md
Due: none

Add exclued node flag for load image command
  pkg/cluster/nodeutils/util.go
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/image-archive/image-archive.go
Due: none

Clean up known issues page
  site/content/docs/user/images/docker-pref-2.png
  site/content/docs/user/known-issues.md
Due: none

use informers and context cancellation
  images/kindnetd/cmd/kindnetd/cni.go
  images/kindnetd/cmd/kindnetd/main.go
  images/kindnetd/cmd/kindnetd/masq.go
Due: post-kind-push-kindnetd-image

kindnetd: update base image
  images/kindnetd/Dockerfile
Due: post-kind-push-kindnetd-image

implement network policies
  images/kindnetd/cmd/kindnetd/main.go
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image, pull-kind-verify-deps

bump kindnetd image
  pkg/build/nodeimage/const_cni.go
Due: none

update rbac permissions for kindnet network policies
  pkg/build/nodeimage/const_cni.go
Due: none

Add known issue for WSL2 and cgroupv2 support
  site/content/docs/user/known-issues.md
  site/content/docs/user/using-wsl2.md
Due: none

Fix Ingress migration guide link error
  site/content/docs/user/ingress.md
Due: none

Fix Kubeadm template format
  pkg/cluster/internal/kubeadm/config.go
Due: none

bump dependencies
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image, pull-kind-verify-deps

reword comments
  pkg/build/nodeimage/buildcontext.go
Due: none

Add powershell completion
  pkg/cmd/kind/completion/completion.go
  pkg/cmd/kind/completion/powershell/powershell.go
Due: none

Extract selection of nodes without image to a private function
  pkg/cmd/kind/load/docker-image/docker-image.go
Due: none

Update copyright year in powershell.go
  pkg/cmd/kind/completion/powershell/powershell.go
Due: none

feature: support kubeadm.k8s.io/v1beta4
  pkg/cluster/internal/create/actions/config/config_test.go
  pkg/cluster/internal/kubeadm/config.go
Due: none

switch to go 1.22.6
  .go-version
Due: none

bump local path provisioner image
  pkg/build/nodeimage/const_storage.go
Due: none

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

bump node image to 1.31.0
  pkg/apis/config/defaults/image.go
Due: none

Add ability to include images in custom node build
  pkg/build/addimage/build.go
  pkg/build/addimage/buildcontext.go
  pkg/build/addimage/defaults.go
  pkg/build/addimage/options.go
  pkg/build/internal/build/helpers.go
  pkg/build/internal/build/imageimporter.go
  pkg/build/internal/container/docker/archive.go
  pkg/build/internal/container/docker/doc.go
  pkg/build/internal/container/docker/exec.go
  pkg/build/internal/container/docker/image.go
  pkg/build/internal/container/docker/image_test.go
  pkg/build/internal/container/docker/pull.go
  pkg/build/internal/container/docker/run.go
  pkg/build/nodeimage/build.go
  pkg/build/nodeimage/buildcontext.go
  pkg/build/nodeimage/helpers.go
  pkg/cmd/kind/build/addimage/addimage.go
  pkg/cmd/kind/build/build.go
Due: none

add ContainerLabels for node
  pkg/apis/config/v1alpha4/types.go
  pkg/apis/config/v1alpha4/zz_generated.deepcopy.go
  pkg/cluster/constants/constants.go
  pkg/cluster/internal/providers/docker/constants.go
  pkg/cluster/internal/providers/docker/node.go
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/nerdctl/constants.go
  pkg/cluster/internal/providers/nerdctl/node.go
  pkg/cluster/internal/providers/nerdctl/provider.go
  pkg/cluster/internal/providers/nerdctl/provision.go
  pkg/cluster/internal/providers/podman/constants.go
  pkg/cluster/internal/providers/podman/node.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/podman/provision.go
  pkg/internal/apis/config/convert_v1alpha4.go
  pkg/internal/apis/config/types.go
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
  pkg/internal/apis/config/zz_generated.deepcopy.go
Due: none

version v0.24.0
  pkg/cmd/kind/version/version.go
Due: none

version v0.25.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

update install docs to v0.24
  README.md
  site/config.toml
Due: none

fix getting version from tarball
  pkg/build/nodeimage/internal/kube/builder_remote.go
  pkg/build/nodeimage/internal/kube/builder_tarball.go
Due: none

drop long-deprecated --kube-root flag
  pkg/cmd/kind/build/nodeimage/nodeimage.go
Due: none
