Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

gcb: Remove build prototype job
  gcb/build/cloudbuild.yaml
  gcb/build/variants.yaml
Due: none

Fix generating duplicates and omitting heading
  pkg/changelog/const.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/document/template.go
  pkg/notes/document/testdata/document.md.golden
  pkg/notes/document/testdata/document_without_downloads.md.golden
Due: none

Update krel READMEs
  docs/krel/changelog.md
  docs/krel/ff.md
  docs/krel/push.md
  docs/krel/release-notes.md
Due: none

Add cve subcommand in krel README
  docs/krel/README.md
Due: none

Improve release.IsValidReleaseBuild()
  pkg/release/release.go
  pkg/release/release_test.go
Due: none

Use IsValidReleaseBuild() in ReleaseOptions.Validate()
  pkg/anago/anago.go
Due: none

Perform local options validation before submitting GCB job
  cmd/krel/cmd/release.go
Due: none

Fix tag sorting for recent git versions
  pkg/git/git.go
Due: none

Fix git commit author for unit tests
  pkg/git/git_integration_test.go
  pkg/git/git_test.go
Due: none

Fix expected to actual order for git tests
  pkg/git/git_integration_test.go
Due: none

Add cve.ValidateID and Client.EntryExists functions
  pkg/cve/client.go
  pkg/cve/cve.go
  pkg/cve/impl.go
Due: none

Drop krel cve write command
  cmd/krel/cmd/cve.go
Due: none

Fix gcs.PathExists() bug
  pkg/object/gcs.go
Due: none

Enable dependabot updates
  .github/dependabot.yml
Due: none

Use 1.21 for changelog test on new minor
  cmd/krel/cmd/changelog_test.go
Due: none

krel release-notes publishes to release-notes/ dir
  cmd/krel/cmd/changelog_test.go
  cmd/krel/cmd/release_notes.go
  pkg/changelog/changelog.go
  pkg/changelog/fake_impl.go
Due: none

Remove fake impl for changelog
  cmd/krel/cmd/changelog_test.go
  pkg/changelog/fake_impl.go
Due: none

Add 1.21 CHANGELOG test data
  cmd/krel/cmd/changelog_data_test.go
Due: none

dependabot: Add area/dependency label
  .github/dependabot.yml
Due: none

deps: Update sigs.k8s.io/release-utils to v0.2.1
  go.mod
  go.sum
Due: none

OWNERS: Remove inactive reviewers/approvers
  OWNERS_ALIASES
Due: none

OWNERS: Offboard Jorge and Gianluca
  OWNERS_ALIASES
Due: none

OWNERS: Add Wilson as Release Manager Associate
  OWNERS_ALIASES
Due: none

OWNERS: Use release-engineering-approvers alias as build image reviewers
  OWNERS_ALIASES
  images/build/OWNERS
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

OWNERS: Add Wilson to release-notes-reviewers
  OWNERS_ALIASES
Due: none

OWNERS: Add Marko to krel-approvers
  OWNERS_ALIASES
Due: none

OWNERS: Add Dan and Sascha to promo-tools-reviewers
  OWNERS_ALIASES
Due: none

Update cosign image to v0.4.0
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Fix list manipulation of release notes
  cmd/krel/cmd/changelog_data_test.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Due: none

kpromo: Copy in `cip` as `kpromo run images`
  cmd/kpromo/cmd/run/images.go
Due: none

kpromo: Wire up image promotion command
  cmd/kpromo/cmd/run/images.go
Due: none

hack: Allow verify-dependencies to succeed when GOBIN is missing
  hack/verify-dependencies.sh
Due: none

go-runner: Build v2.3.1-go1.16.4-buster.0 and v2.3.1-go1.15.12-buster.0
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

kube-cross: Build v1.16.4-1 and v1.15.12-1 images
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

[go] go1.16.4 and go1.15.12 updates
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

releng-ci: Build v0.5.2 image using go1.16.4
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

[go1.16] Update dependents to go1.16.4
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  packages/deb/Dockerfile
Due: pull-release-image-kubepkg

k8s-cloud-builder: Build v1.16.4-1 image
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

k8s-ci-builder: Build image variants using go1.16.4
  dependencies.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

pkg/release: Remove dependency on skopeo binary
  cmd/krel/cmd/ci_build.go
  cmd/krel/cmd/push.go
  dependencies.yaml
  docs/krel/push.md
  pkg/build/build.go
  pkg/release/images.go
  pkg/release/images_test.go
Due: none
