Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*

chore: bump node-driver-registrar to v2.13.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: none

Fix the comments, logs and delete unused configs
  Makefile
  config/rbac-tokenrequest/kustomization.yaml
  config/rbac-tokenrequest/role.yaml
  config/rbac-tokenrequest/role_binding.yaml
  controllers/secretproviderclasspodstatus_controller.go
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  pkg/secrets-store/nodeserver.go
Due: none

Fix rotation enable check
  pkg/secrets-store/nodeserver.go
Due: none

chore: update to go 1.23.9
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

chore: bump version to v1.5.1 in release-1.5
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.5.1
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifest and helm charts for v1.5.1
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Publish secrets-store-csi-driver-1.5.1.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.5.1.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

update golangci-lint to v2
  .golangci.yml
  controllers/secretproviderclasspodstatus_controller.go
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: none

test: update aks federated-credential command to add --audiences
  test/scripts/run-e2e-azure.sh
Due: none

squashed commit for Allow Fileownership
  apis/v1/secretproviderclasspodstatus_types.go
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  pkg/constants/constants.go
  pkg/errors/errors.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
  pkg/secrets-store/utils.go
  pkg/secrets-store/utils_test.go
  pkg/util/fileutil/atomic_writer.go
  pkg/util/fileutil/writer.go
  pkg/util/fileutil/writer_test.go
  test/bats/e2e-provider.bats
  test/bats/tests/e2e_provider/e2e_provider_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/pod-secrets-store-inline-volume-crd.yaml
  test/e2eprovider/server/server.go
  test/e2eprovider/types/types.go
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

security: bump to go 1.23.10 to resolve CVE-2025-22874
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

chore: update debian-base to bookworm-v1.0.5
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: bump version to v1.5.2 in release-1.5
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifests and helm charts for v1.5.2
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifests and helm charts for v1.5.2
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

ci: use ubuntu-latest for gh workflows
  .github/workflows/chart.yaml
  .github/workflows/create-release.yaml
Due: none

Publish secrets-store-csi-driver-1.5.2.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.5.2.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

chore: bump version to v1.5.3 in release-1.5
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.5.3
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifest and helm charts for v1.5.3
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Publish secrets-store-csi-driver-1.5.3.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.5.3.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

chore: update to go 1.24.6
  .golangci.yml
  Makefile
  docker/Dockerfile
  docker/crd.Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

Fix rotation enable check
  controllers/secretproviderclasspodstatus_controller.go
  go.mod
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  pkg/secrets-store/mocks/stats_reporter_mock.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/stats_reporter.go
  test/bats/e2e-provider.bats
Due: none

feat: add OpenBao as provider
  README.md
  docs/book/src/providers.md
  test/bats/openbao.bats
  test/bats/tests/openbao/deployment-synck8s.yaml
  test/bats/tests/openbao/deployment-two-synck8s.yaml
  test/bats/tests/openbao/openbao_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/openbao/openbao_v1_multiple_secretproviderclass.yaml
  test/bats/tests/openbao/openbao_v1_secretproviderclass.yaml
  test/bats/tests/openbao/openbao_v1_secretproviderclass_ns.yaml
  test/bats/tests/openbao/pod-openbao-inline-volume-multiple-spc.yaml
  test/bats/tests/openbao/pod-openbao-inline-volume-secretproviderclass.yaml
  test/bats/tests/openbao/pod-openbao-rotation.yaml
Due: none

Add OpenBao as an additional CSI Driver
  docs/book/src/introduction.md
Due: none

chore: update to go 1.24.7
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

chore: update debian-base to bookworm-v1.0.6
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: bump kubectl to v1.34.1 in driver-crds
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

Update secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Update secrets-store-csi-driver.yaml
  deploy/secrets-store-csi-driver.yaml
Due: none

Update secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: none
