Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
      - make e2e-bootstrap e2e-helm-deploy-release e2e-vault
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcp-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

chore: go fmt
  pkg/rotation/reconciler.go
Due: none

feat: implements e2e upgrade test
  Makefile
Due: none

chore: waits 5m to create e2e kind cluster
  Makefile
Due: none

chore: update to debian-base v1.7.2 and update packages to fix CVEs
  Makefile
  docker/BASEIMAGE
  docker/Dockerfile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

Move crds to crds dir for helm3 and installCRDs flag for supporting h… (#289)
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: add warning message for sync secret forbidden error
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
Due: none

Update Membership.md with more roles/details
  docs/MEMBERSHIP.md
Due: none

feat: use DynamicRESTMapper for manager
  cmd/secrets-store-csi-driver/main.go
Due: none

test: non kind bootstrap
  Makefile
Due: none

chore: update debian base to buster-v1.8.0
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: pass IMAGE_VERSION build arg to docker build
  Makefile
  docker/Dockerfile
  docker/build.sh
  docker/windows.Dockerfile
Due: secrets-store-csi-driver-push-image

chore: update debian base to buster-v1.8.0 (#609)
  Makefile
  docker/BASEIMAGE
  docker/Dockerfile
  docker/build.sh
  docker/windows.Dockerfile
Due: secrets-store-csi-driver-push-image

test: adds cleanup
  Makefile
  test/bats/azure.bats
Due: none

test: adds e2e-test-bootstrap target for testing
  Makefile
Due: none

fix: azure bats file
  test/bats/azure.bats
Due: none

test: helm chart value at runtime
  test/bats/azure.bats
Due: none

fix: updates upgrade target
  Makefile
Due: none

test: reuses helm values
  Makefile
Due: none

test: adds crd upon helm upgrade
  Makefile
  test/bats/azure.bats
Due: none

fix: upgrade test
  test/bats/azure.bats
Due: none

fix: updates upgrade target
  Makefile
  test/bats/azure.bats
Due: none

fix: removes wait to unblock
  Makefile
Due: none

fix: updates crd path
  Makefile
Due: none

test: adds teardown method
  test/bats/azure.bats
Due: none

test: removes test target
  Makefile
Due: none

Release management (#555)
  docs/Release_Management.md
Due: none

chore: removes local cache used for rotation (#598)
  cmd/secrets-store-csi-driver/main.go
  pkg/k8s/pod.go
  pkg/k8s/secretproviderclass.go
  pkg/k8s/secretproviderclasspodstatus.go
  pkg/k8s/store.go
  pkg/k8s/store_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
Due: none

add possibility to annotate the created secret with CSI driver
  apis/v1alpha1/secretproviderclass_types.go
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  controllers/secretproviderclasspodstatus_controller.go
  controllers/secretproviderclasspodstatus_controller_test.go
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  test/bats/tests/vault/vault_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/vault.bats
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

fix ANNOTATION_VALUE
  test/bats/vault.bats
Due: none

master to main release
  docs/RELEASE.md
Due: none

Update index.yaml
  charts/index.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Added tokenrequest
  go.mod
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  test/e2eprovider/server.go
  test/e2eprovider/server_test.go
Due: none

chore: adds newline
  test/bats/azure.bats
Due: none

test: fixes empty condition
  test/bats/azure.bats
Due: none

feat: crd upgrade
  Makefile
  docker/crd.Dockerfile
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-delete-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

fix: remove privileged attribute as Windows containers do not support it (yet)
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

fix: remove mountPropagation attribute on volume for secrets-store
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

feat: add SecretProviderClass metrics
  cmd/secrets-store-csi-driver/main.go
  docs/book/src/topics/metrics.md
  go.mod
  go.sum
  pkg/metrics/prometheus_exporter.go
  pkg/metrics/stats_reporter.go
  pkg/metrics/stats_reporter_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/stats_reporter.go
Due: none

test: add kubernetes.io/os nodeselector for azure tests
  test/bats/azure.bats
  test/bats/tests/azure/deployment-synck8s-azure.yaml
  test/bats/tests/azure/deployment-two-synck8s-azure.yaml
  test/bats/tests/azure/pod-azure-inline-volume-multiple-spc.yaml
  test/bats/tests/azure/pod-secrets-store-inline-volume-crd.yaml
  test/bats/tests/azure/rotation/pod-synck8s-azure.yaml
Due: none

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*
