Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

Image promotion for cluster-api-do v1.3.0
  registry.k8s.io/images/k8s-staging-cluster-api-do/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Rotate SIG Testing chairs.
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-testing/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

releng: Image promotion for kubernetes v1.28.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2023-06-08
  audit/projects/k8s-infra-e2e-boskos-035/buckets/kops-state-k8s-infra-e2e-boskos-035/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-035/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-071/buckets/kops-state-k8s-infra-e2e-boskos-071/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-071/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-083/buckets/kops-state-k8s-infra-e2e-boskos-083/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-083/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-095/buckets/kops-state-k8s-infra-e2e-boskos-095/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-095/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-100/buckets/kops-state-k8s-infra-e2e-boskos-100/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-100/services/compute/project-info.json
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

releng: Image promotion for kubernetes v1.28.0-alpha.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Remove Luke Hinds from SRC
  OWNERS_ALIASES
  groups/committee-security-response/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add DNS for CAPIBM release branches
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

increased ec2_max_elastic_ips value from 100 to 200
  infra/aws/terraform/service-quotas/modules/capa/variables.tf
Due: none

audit: update as of 2023-06-12
  audit/projects/k8s-infra-e2e-boskos-009/buckets/kops-state-k8s-infra-e2e-boskos-009/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-009/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-019/buckets/kops-state-k8s-infra-e2e-boskos-019/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-019/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-020/buckets/kops-state-k8s-infra-e2e-boskos-020/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-020/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-049/buckets/kops-state-k8s-infra-e2e-boskos-049/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-049/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-060/buckets/kops-state-k8s-infra-e2e-boskos-060/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-060/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-070/buckets/kops-state-k8s-infra-e2e-boskos-070/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-070/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-074/buckets/kops-state-k8s-infra-e2e-boskos-074/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-074/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-075/buckets/kops-state-k8s-infra-e2e-boskos-075/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-075/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-095/buckets/kops-state-k8s-infra-e2e-boskos-095/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-095/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-107/buckets/kops-state-k8s-infra-e2e-boskos-107/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-107/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-108/buckets/kops-state-k8s-infra-e2e-boskos-108/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-108/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-114/buckets/kops-state-k8s-infra-e2e-boskos-114/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-114/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-118/buckets/kops-state-k8s-infra-e2e-boskos-118/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-118/services/compute/project-info.json
  audit/projects/k8s-infra-oci-proxy/services/logging/logs.json
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-staging-gmsa-webhook/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

eks-row-build-cluster: docs improvements
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/docs/GitOps.md
  infra/aws/terraform/prow-build-cluster/docs/IaC.md
Due: none

eks-row-build-cluster: docs improvements
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/docs/GitOps.md
Due: none

promote csi-secrets-store driver:v1.3.4
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Fix typo in kube-state-metrics deployment file name.
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/deployment.yaml
Due: k8sio-k8s-resources-verify

groups: Add MadhavJivrajani to github@ list contribex
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Update infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

audit: update as of 2023-06-13
  audit/projects/k8s-infra-e2e-boskos-005/buckets/kops-state-k8s-infra-e2e-boskos-005/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-005/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-031/buckets/kops-state-k8s-infra-e2e-boskos-031/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-031/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-039/buckets/kops-state-k8s-infra-e2e-boskos-039/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-039/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-046/buckets/kops-state-k8s-infra-e2e-boskos-046/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-046/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-104/buckets/kops-state-k8s-infra-e2e-boskos-104/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-104/services/compute/project-info.json
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
  audit/projects/k8s-staging-csi-secrets-store/services/logging/logs.json
  audit/projects/k8s-staging-gmsa-webhook/services/logging/logs.json
Due: none

Add list with tool prerequisites for administrators
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

Promote kueue v0.3.2 image
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update git repo for testing
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-git-k8s.io.yaml
Due: k8sio-k8s-resources-verify

Create a broken secret
  infra/aws/terraform/prow-build-cluster/resources/flux-system/secret-test.yaml
Due: k8sio-k8s-resources-verify

configure IRSA for node e2e tests
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
Due: k8sio-k8s-resources-verify

Image promotion for scl-image-builder v0.1.16
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote cluster-proportional-autoscaler:v1.8.8-rc.1.
  registry.k8s.io/images/k8s-staging-cpa/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

gcsweb link update
  README.md
Due: none

audit: update as of 2023-06-13
  audit/projects/k8s-artifacts-prod/services/enabled.txt
  audit/projects/k8s-cip-test-prod/services/enabled.txt
  audit/projects/k8s-infra-e2e-boskos-109/buckets/kops-state-k8s-infra-e2e-boskos-109/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-109/services/compute/project-info.json
Due: none

Image promotion for artifact-promoter v4.0.0-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

pd csi v1.10.{2,3}
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for artifact-promoter v4.0.1-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2023-06-14
  audit/projects/k8s-infra-e2e-boskos-016/buckets/kops-state-k8s-infra-e2e-boskos-016/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-016/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-108/buckets/kops-state-k8s-infra-e2e-boskos-108/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-108/services/compute/project-info.json
Due: none

add cloud-provider openstack 1.25.6 & 1.26.3 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote gcp csi driver v1.8.6 and v1.9.5 to prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add weave-gitops dashboard
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ww-gitops.yaml
Due: k8sio-k8s-resources-verify

Remove broken secret
  infra/aws/terraform/prow-build-cluster/resources/flux-system/secret-test.yaml
Due: k8sio-k8s-resources-verify

Promote volume/iscsi images
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Install loki
  infra/aws/terraform/prow-build-cluster/resources/flux-system/loki-stack/flux-source-helm-grafana-charts.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/loki-stack/hr-flux-loki.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/loki-stack/kustomization.yml
Due: k8sio-k8s-resources-verify

Install loki
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/flux-source-helm-grafana-charts.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/hr-flux-loki.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/kustomization.yml
Due: k8sio-k8s-resources-verify

Install loki
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/flux-hr-loki.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/kustomization.yml
Due: k8sio-k8s-resources-verify

Grafana loki integration
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/flux-logs.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/datasources.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
Due: k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.24.15
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
