Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Bump github.com/onsi/ginkgo/v2 from 2.23.0 to 2.23.3
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update KIND to v1.32.3. (#13022)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update KIND to v1.32.3.
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update Kubernetes to v1.32.3. (#13025)
  .github/workflows/ci.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

Bump the actions group with 5 updates (#13024)
  .github/workflows/ci.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

CI: Update Kubernetes to v1.32.3. (#13026)
  .github/workflows/ci.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

Bump github.com/onsi/ginkgo/v2 from 2.23.0 to 2.23.3 (#13027)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/onsi/ginkgo/v2 from 2.23.0 to 2.23.3 (#13028)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update KIND to v1.32.3.
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update KIND to v1.32.3. (#13029)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update KIND to v1.32.3. (#13030)
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/opencontainers/runc from 1.2.5 to 1.2.6 in the go group across 1 directory (#13034)
  go.mod
  go.sum
Due: none

Bump github.com/opencontainers/runc from 1.2.5 to 1.2.6 in the go group across 1 directory (#13033)
  go.mod
  go.sum
Due: none

Go: Update dependencies.
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Update dependencies. (#13035)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Update dependencies. (#13036)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Update dependencies. (#13037)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Images: Trigger NGINX build.
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build. (#13040)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build. (#13039)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build. (#13038)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Bump `NGINX_BASE` to v0.3.1.
  NGINX_BASE
Due: none

Images: Bump `NGINX_BASE` to v0.3.1. (#13041)
  NGINX_BASE
Due: none

Images: Bump `NGINX_BASE` to v2.0.1.
  NGINX_BASE
Due: none

Images: Bump `NGINX_BASE` to v2.0.1. (#13042)
  NGINX_BASE
Due: none

Images: Trigger Test Runner build.
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Trigger Test Runner build. (#13043)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Bump `NGINX_BASE` to v1.2.1.
  NGINX_BASE
Due: none

Images: Bump `NGINX_BASE` to v1.2.1. (#13044)
  NGINX_BASE
Due: none

Images: Trigger Test Runner build. (#13045)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Trigger Test Runner build. (#13046)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Tests: Bump Test Runner to v2.0.1.
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump Test Runner to v2.0.1. (#13047)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump Test Runner to v1.3.1.
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate
