Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Making a run test.
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/testserver.go
Due: pull-kubernetes-godeps

Making a run test.
  cluster/addons/fluentd-gcp/fluentd-gcp-ds.yaml
  cmd/kube-apiserver/app/testing/testserver.go
Due: pull-kubernetes-e2e-gke

CHANGELOG: fix punctuation errors in 1.20
  CHANGELOG/CHANGELOG-1.20.md
Due: none

fix path import slash in code generator with windows (client-gen,informer-gen)
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_group.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/generator_for_type.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/factory.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/groupinterface.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/informer.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/versioninterface.go
Due: pull-kubernetes-godeps

implementing NodeExpandableVolumePlugin interface for local volumes
  pkg/volume/local/local.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Replace strings.Index with strings.Contains
  pkg/registry/core/service/storage/rest_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  test/e2e/framework/providers/gce/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

omit redundant alias in import
  pkg/scheduler/apis/config/v1/conversion.go
  pkg/scheduler/apis/config/v1/conversion_test.go
Due: none

cleanup: fix spelling mistakes
  pkg/controller/deployment/progress_test.go
  pkg/kubelet/preemption/preemption_test.go
Due: pull-kubernetes-local-e2e-containerized

e2e fix source IP test util
  test/e2e/network/util.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

e2e nosnat don't use global variables
  test/e2e/network/no_snat.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

fix e2e nosnat to schedule pods on same node
  test/e2e/network/no_snat.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

fix pod generator function
  test/e2e/network/no_snat.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

e2e node: fix the race condition under the memory manager test
  test/e2e_node/memory_manager_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Update sample-controller README.md
  staging/src/k8s.io/sample-controller/README.md
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: provide a new admission plugin to mutate management pods CPUs requests
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/doc.go
Due: none

capture source pod inside loop
  test/e2e/network/no_snat.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

bounded number of nodes for the test
  test/e2e/network/no_snat.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

don't leak goroutines
  test/e2e/network/no_snat.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

simplify nosnat test using beforeeach block
  test/e2e/network/no_snat.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

noderesource: node info already knows which resources are scalar
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
Due: none

Making a run test.
  pkg/controller/job/job_controller.go
Due: none

Making a run test.
  pkg/controller/endpointslicemirroring/utils.go
Due: none

Revert "cluster: Use python3 everywhere"
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

code cleanup:remove dup event recorder add in kubelet
  cmd/kubelet/app/server.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Correctly drain timer
  pkg/volume/csi/csi_attacher.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-godeps

Imporve unit tests for controller/certificates
  pkg/controller/certificates/certificate_controller_test.go
  pkg/controller/certificates/certificate_controller_utils_test.go
Due: none

Committed on 4 26 2021
  2021/4/26/commit.md
Due: none

error string should not be capitalized
  cmd/kubelet/app/server.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

fix broken links by https
  cmd/kubelet/app/options/options.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

fix potential nil pointer
  pkg/kubelet/pleg/generic.go
Due: pull-kubernetes-local-e2e-containerized

Updated topology labels for Azure
  pkg/volume/azuredd/azure_provision.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-godeps

Update docs to reflect that the largest supported service subnet
  cmd/kube-apiserver/app/options/options.go
Due: none

kubelet: remove --redirect-container-streaming flag
  pkg/features/kube_features.go
  pkg/registry/core/pod/rest/subresources.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

Making a run test.
  pkg/volume/awsebs/attacher_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Use kubeadmapiv1.SchemeGroupVersion.String() instead of kubeadm.k8s.io/v1beta3
  cmd/kubeadm/app/cmd/alpha/kubeconfig_test.go
  cmd/kubeadm/app/cmd/certs_test.go
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/cmd/init_test.go
  cmd/kubeadm/app/cmd/join_test.go
  cmd/kubeadm/app/cmd/upgrade/common_test.go
  cmd/kubeadm/app/cmd/upgrade/diff_test.go
  cmd/kubeadm/app/componentconfigs/fakeconfig_test.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/config/cluster_test.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/config/joinconfiguration_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Making a run test.
  vendor/github.com/Azure/azure-sdk-for-go/storage/table_batch.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

UPSTREAM: 101116: vSphere: Return useful errors from parameter validation
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/custom_errors.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/diskmanagers/virtualdisk.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/volumeoptions.go
Due: pull-kubernetes-godeps

no watch endpointslice in userpace mode
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

del feature gate
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

mod infolog
  pkg/ssh/ssh.go
Due: none
