Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)|(^.go-version)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)|(^.go-version)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)|(^.go-version)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-conformance-parallel-ga-only: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-dual-stack-ipv4-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-34: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-33: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-32: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-31: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)

test(fs): add unit tests for IsAbs and TempDir
  pkg/fs/fs_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

test(sets): add comprehensive unit tests for string set
  pkg/internal/sets/string_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Bump Go to 1.27.0
  .go-version
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Raise minimum Go version to 1.21
  go.mod
  go.sum
  pkg/apis/config/v1alpha4/yaml.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/encode.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/merge_test.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/read_test.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/types.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/write_test.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/errors/errors.go
  pkg/exec/local.go
  pkg/internal/apis/config/encoding/load.go
  pkg/internal/assert/assert.go
  pkg/internal/assert/assert_test.go
  pkg/internal/cli/logger.go
  pkg/internal/integration/integration.go
  pkg/internal/patch/kubeadm_merge.go
  pkg/internal/patch/toml.go
  pkg/log/noop.go
  pkg/log/types.go
  site/content/_index.md
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Fix index-out-of-range panic parsing docker info DriverStatus
  pkg/cluster/internal/providers/docker/util.go
  pkg/cluster/internal/providers/docker/util_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Fix terminal detection: NO_COLOR only disables color when non-empty
  pkg/internal/env/term.go
  pkg/internal/env/term_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

e2e-k8s.sh: fix CoreDNS forward removal for block-form Corefile
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix: tag untagged images before docker save to prevent import-* names
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/docker-image/docker-image_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

term: simplify NO_COLOR check to reuse local getenv helper
  pkg/internal/env/term.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix: tag untagged images locally before docker save to prevent import-* names
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/docker-image/docker-image_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

kindnetd: wait for the node cache to sync before the first reconcile
  images/kindnetd/cmd/kindnetd/main.go
Due: post-kind-push-kindnetd-image

rootless: distinguish missing cgroup controllers from missing Delegate=yes
  pkg/cluster/internal/create/create.go
  pkg/cluster/internal/create/create_test.go
  site/content/docs/user/known-issues.md
  site/content/docs/user/rootless.md
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix: improve rootless cgroup controller error message
  pkg/cluster/internal/create/create.go
  site/content/docs/user/known-issues.md
  site/content/docs/user/rootless.md
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Fix empty NO_COLOR disabling smart terminal output
  pkg/internal/env/term.go
  pkg/internal/env/term_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix: make select_iptables() default to nft on ambiguity
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

kindnetd: bump kube-network-policies to v1.1.2
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image

feat: unify cluster deletion commands into a single one
  pkg/cmd/kind/delete/cluster/deletecluster.go
  pkg/cmd/kind/delete/clusters/deleteclusters.go
  pkg/cmd/kind/delete/delete.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

configure libmount for nested namespaces
  images/base/files/kind/bin/mount-product-files.sh
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Allow a new key `containerLabels` in cluster yaml to allow defining additional labels for kind node containers
  pkg/apis/config/v1alpha4/types.go
  pkg/apis/config/v1alpha4/zz_generated.deepcopy.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/internal/apis/config/convert_v1alpha4.go
  pkg/internal/apis/config/types.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

patch: match group-only patches against any version
  pkg/internal/patch/kubeyaml.go
  pkg/internal/patch/kubeyaml_test.go
  pkg/internal/patch/matchinfo.go
  pkg/internal/patch/resource.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix: treat a registry port as part of the image name
  pkg/build/nodeimage/internal/container/docker/image.go
  pkg/build/nodeimage/internal/container/docker/image_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

kindnetd: lazily start network policy controller on first NetworkPolicy
  images/kindnetd/cmd/kindnetd/main.go
Due: post-kind-push-kindnetd-image
