Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
      - make e2e-bootstrap e2e-helm-deploy-release e2e-vault
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcp-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

Publish secrets-store-csi-driver-1.3.2.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.3.2.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: replace tmpdir with t.TempDir()
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/provider_client_test.go
  pkg/test_utils/tmpdir/tmpdir.go
  pkg/util/fileutil/filesystem_test.go
  pkg/util/fileutil/writer_test.go
Due: none

chore: remove unused providerVolumePath code paths
  cmd/secrets-store-csi-driver/main.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  test/sanity/sanity_test.go
Due: none

chore: remove unused node name in rotation reconciler
  cmd/secrets-store-csi-driver/main.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
Due: none

docs: update reference to `registry.k8s.io` in release
  docs/RELEASE.md
Due: none

chore: updates error message
  pkg/rotation/reconciler.go
Due: none

fix: update nodeserver publish logs
  pkg/secrets-store/nodeserver.go
Due: none

chore: bump kind version to v0.18.0
  Makefile
Due: none

security: bump kubernetes version to v1.27.0 in driver-crds
  Makefile
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

chore: bump trivy version to v0.39.1
  Makefile
Due: none

chore: update to go 1.20
  .golangci.yml
  docker/Dockerfile
  docker/windows.Dockerfile
  test/e2eprovider/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: allow retries on pre-upgrade hook jobs
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump version to v1.3.3 in release-1.3
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

chore: cleanup WritePayloads to be easier to use
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
  pkg/util/fileutil/writer.go
Due: none

release: update manifest and helm charts for v1.3.3
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.3.3
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.3.3.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.3.3.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ci: update kubernetes versions for staging image tests
  .github/workflows/e2e.yaml
Due: none

chore: enable gocritic linter and fix errors
  .golangci.yml
  pkg/k8s/token/token_manager.go
  pkg/k8s/token/token_manager_test.go
  pkg/rotation/reconciler.go
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/server.go
  pkg/secrets-store/utils.go
  pkg/util/fileutil/atomic_writer_test.go
  pkg/util/k8sutil/volume.go
  pkg/util/secretutil/secret.go
  pkg/util/secretutil/secret_test.go
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
  test/e2eprovider/server/server_test.go
  test/sanity/sanity_test.go
Due: none

ci: add codecov.yml
  .github/workflows/codecov.yaml
  .gitignore
  Makefile
  codecov.yml
Due: none

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/chart.yaml
  .github/workflows/codecov.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/e2e.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/scorecards.yml
  .local/Dockerfile
  docker/Dockerfile
  test/e2eprovider/Dockerfile
Due: secrets-store-csi-driver-push-image

test: more usage of t.TempDir()
  pkg/rotation/reconciler_test.go
  pkg/util/secretutil/secret_test.go
Due: none

ci: [StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/chart.yaml
  .github/workflows/codecov.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/e2e.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/scorecards.yaml
  .local/Dockerfile
  docker/Dockerfile
  test/e2eprovider/Dockerfile
Due: secrets-store-csi-driver-push-image

docs: add openssf badge
  README.md
Due: none

update debug
  .local/Dockerfile
  .local/README.md
Due: none

chore: update node-driver-registrar:v2.8.0, livenessprobe:v2.10.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

remove unused dependencies
  .local/Dockerfile
Due: none

update readme
  .local/README.md
Due: none

Use dl.k8s.io instead of hardcoded GCS URIs
  Makefile
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

revert
  .github/workflows/chart.yaml
  .github/workflows/codecov.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/e2e.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/scorecards.yaml
  Makefile
  docker/crd.Dockerfile
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: secrets-store-csi-driver-push-image

chore: update otel to v0.38.1 and update metrics
  go.mod
  go.sum
  pkg/metrics/prometheus_exporter.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/mocks/stats_reporter_mock.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/stats_reporter.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

chore: bump k8s deps to v1.26.4
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

update histogram boundaries
  pkg/metrics/prometheus_exporter.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/stats_reporter.go
Due: none

collect metrics as part of CI
  test/bats/helpers.bash
Due: none

drop the total_ prefix from the metric name
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/stats_reporter.go
Due: none

validate metrics as part of e2e
  test/bats/e2e-provider.bats
  test/bats/gcp.bats
  test/bats/helpers.bash
Due: none

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*
