Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-opentelemetry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Fix typo in OpenTelemetry
  docs/user-guide/third-party-addons/opentelemetry.md
Due: none

remove httpbin.org as external name in testing
  test/e2e/framework/deployment.go
  test/e2e/servicebackend/service_externalname.go
  test/junitreports/report-e2e-test-suite.xml
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

test passing locally
  test/e2e/servicebackend/service_externalname.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

increase timeout for httpbin request
  test/e2e/security/request_smuggling.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

ensure make lua-test runs locally (#9902)
  Makefile
  test/test-lua.sh
Due: pull-ingress-nginx-boilerplate

Fix typo in OpenTelemetry (#9903)
  docs/user-guide/third-party-addons/opentelemetry.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/third-party-addons/opentelemetry/index.html
Due: none

Add support for --container flag (#9703)
  cmd/plugin/commands/backends/backends.go
  cmd/plugin/commands/certs/certs.go
  cmd/plugin/commands/conf/conf.go
  cmd/plugin/commands/exec/exec.go
  cmd/plugin/commands/general/general.go
  cmd/plugin/commands/logs/logs.go
  cmd/plugin/commands/ssh/ssh.go
  cmd/plugin/kubectl/kubectl.go
  cmd/plugin/util/util.go
  docs/kubectl-plugin.md
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Change to only /images on dependabot scan
  .github/dependabot.yml
Due: none

Deploy GitHub Pages
  kubectl-plugin/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

[helm] Support custom port configuration for internal service (#9846)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/deployment-internal-lb-values.yaml
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update dependabot to watch docker images (#9600)
  .github/dependabot.yml
Due: none

Update TAG - 1.7.1
  TAG
Due: post-ingress-nginx-push-images

Update TAG - 1.7.1 (#9922)
  TAG
Due: post-ingress-nginx-push-images

Keep project name display aligned
  deploy/grafana/dashboards/README.md
  docs/deploy/baremetal.md
  docs/deploy/hardening-guide.md
  docs/deploy/index.md
  docs/developer-guide/code-overview.md
  docs/developer-guide/getting-started.md
  docs/examples/affinity/cookie/README.md
  docs/examples/customization/custom-errors/README.md
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/ssl-dh-param/README.md
  docs/examples/tls-termination/README.md
  docs/how-it-works.md
  docs/user-guide/cli-arguments.md
  docs/user-guide/external-articles.md
  docs/user-guide/miscellaneous.md
  docs/user-guide/monitoring.md
  docs/user-guide/multiple-ingress.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/third-party-addons/opentelemetry.md
  docs/user-guide/third-party-addons/opentracing.md
  images/README.md
  images/custom-error-pages/README.md
  mkdocs.yml
Due: post-ingress-nginx-build-custom-error-pages-image

release controller 1.7.1 and chart 4.6.1
  .github/workflows/ci.yaml
  README.md
  changelog/Changelog-1.7.1.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/Changelog-4.6.1.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

fix typo
  charts/ingress-nginx/Chart.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

fix ah lint errors
  charts/ingress-nginx/Chart.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

chore: create httpbun image
  .github/workflows/ci.yaml
  images/README.md
  images/httpbun/Makefile
  images/httpbun/cloudbuild.yaml
  images/httpbun/rootfs/Dockerfile
Due: none

chore: create httpbun image (#9926)
  .github/workflows/ci.yaml
  images/README.md
  images/httpbun/Makefile
  images/httpbun/cloudbuild.yaml
  images/httpbun/rootfs/Dockerfile
Due: none

release controller 1.7.1 and chart 4.6.1 (#9929)
  .github/workflows/ci.yaml
  README.md
  changelog/Changelog-1.7.1.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/Changelog-4.6.1.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  deploy/index.html
  e2e-tests/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update index.yaml
  index.yaml
Due: none

fix controller tag in release
  changelog/Changelog-1.7.1.md
  magefiles/helm.go
  magefiles/release.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Keep project name display aligned (#9920)
  deploy/grafana/dashboards/README.md
  docs/deploy/baremetal.md
  docs/deploy/hardening-guide.md
  docs/deploy/index.md
  docs/developer-guide/code-overview.md
  docs/developer-guide/getting-started.md
  docs/examples/affinity/cookie/README.md
  docs/examples/customization/custom-errors/README.md
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/ssl-dh-param/README.md
  docs/examples/tls-termination/README.md
  docs/how-it-works.md
  docs/user-guide/cli-arguments.md
  docs/user-guide/external-articles.md
  docs/user-guide/miscellaneous.md
  docs/user-guide/monitoring.md
  docs/user-guide/multiple-ingress.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/third-party-addons/opentelemetry.md
  docs/user-guide/third-party-addons/opentracing.md
  images/README.md
  images/custom-error-pages/README.md
  mkdocs.yml
Due: post-ingress-nginx-build-custom-error-pages-image

Update charts/* to keep project name display aligned
  charts/ingress-nginx/README.md
  charts/ingress-nginx/README.md.gotmpl
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update charts/* to keep project name display aligned (#9931)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/README.md.gotmpl
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update annotations.md
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
