Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-containerd, post-kubernetes-push-perf-tests-networknetperfbenchmark, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-scratch, post-kubernetes-push-perf-tests-sleep, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Path conditions:
  post-kubernetes-push-perf-tests-access-tokens: any of: ^util-images\/access-tokens\/
  post-kubernetes-push-perf-tests-containerd: any of: ^util-images\/containerd\/
  post-kubernetes-push-perf-tests-networknetperfbenchmark: any of: ^util-images\/network\/netperfbenchmark\/
  post-kubernetes-push-perf-tests-probes: any of: ^util-images\/probes\/
  post-kubernetes-push-perf-tests-request-benchmark: any of: ^util-images\/request-benchmark\/
  post-kubernetes-push-perf-tests-scratch: any of: ^util-images\/scratch\/
  post-kubernetes-push-perf-tests-sleep: any of: ^util-images\/sleep\/
  post-kubernetes-push-perf-tests-watch-list: any of: ^util-images\/watch-list\/
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
  pull-perf-tests-ec2-master-scale-performance-100: any of: ^clusterloader2/.*$
  pull-perf-tests-gce-master-scale-performance-100: any of: ^clusterloader2/.*$

request-benchmark: bump deps
  util-images/request-benchmark/go.mod
  util-images/request-benchmark/go.sum
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

request-benchmark: add informer subcommand as watch-list drop-in replacement
  util-images/request-benchmark/main.go
  util-images/request-benchmark/mode_informer.go
  util-images/request-benchmark/mode_informer_test.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

request-benchmark: bump image tag to v0.0.12
  util-images/request-benchmark/Makefile
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

request-benchmark: add top-level help listing all subcommands
  util-images/request-benchmark/main.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

Document util-images build and version-bump flow
  util-images/README.md
Due: pull-perf-tests-util-images

Add PerfLens a ingestion pipeline and dashboards to analyze scalability runs
  perflens/README.md
  perflens/bin/perflens
  perflens/cmd/ingest/main.go
  perflens/config/grafana/dashboards/slo_landing_page.json
  perflens/config/grafana/provisioning/dashboards/dashboards.yaml
  perflens/config/grafana/provisioning/datasources/datasource.yaml
  perflens/config/prometheus/prometheus.yml
  perflens/config/thanos/bucket.yml
  perflens/docker/docker-compose.yml
  perflens/go.mod
  perflens/go.sum
Due: none

Remove dead NODE_MODE override param from 2000/5000 node configs
  clusterloader2/testing/overrides/2000_nodes.yaml
  clusterloader2/testing/overrides/5000_nodes.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: bump k8s.io deps to v0.36.3
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: adapt to k8s 1.36 API changes in runtimeobjects
  clusterloader2/pkg/measurement/util/runtimeobjects/replicaswatcher.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

dra: add recource claim controller metrics
  clusterloader2/testing/dra/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2/agentic-sandbox: make pre-test.sh compatible with non-GKE clusters
  clusterloader2/testing/agentic-sandbox/pre-test.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Injest prometheus snapshot and visualize apiserver latency metrics on dashboard.
  perflens/README.md
  perflens/bin/perflens
  perflens/cmd/ingest/main.go
  perflens/config/grafana/dashboards/apiserver_metrics.json
  perflens/config/grafana/dashboards/slo_landing_page.json
Due: none

Download files using gcloud
  perflens/bin/perflens
  perflens/cmd/ingest/main.go
Due: none

Split perflens into subfiles
  perflens/cmd/ingest/main.go
  perflens/pkg/ingest/perflens.go
  perflens/pkg/ingest/prometheus_ingester.go
  perflens/pkg/ingest/slo_ingester.go
  perflens/pkg/ingest/utils.go
Due: none

Add log injesting
  perflens/bin/perflens
  perflens/config/grafana/dashboards/apiserver_metrics.json
  perflens/pkg/ingest/log_ingester.go
  perflens/pkg/ingest/perflens.go
Due: none

Optimize log injestion
  perflens/pkg/ingest/log_ingester.go
Due: none

Add node exporter dashboard
  perflens/config/grafana/dashboards/node_exporter.json
Due: none

request-benchmark: update README to document the informer subcommand
  util-images/request-benchmark/README.md
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

Fix DRATestDriver readiness passing with zero pods and slices.
  clusterloader2/pkg/dependency/dra/dra.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Use a single typed WorkerNodeCount accessor for DRA setup and readiness.
  clusterloader2/pkg/dependency/dra/dra.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

watch-list: switch informer job to request-benchmark
  clusterloader2/testing/watch-list/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add write throughput benchmark
  clusterloader2/testing/write-throughput/README.md
  clusterloader2/testing/write-throughput/config.yaml
  clusterloader2/testing/write-throughput/kind.yaml
  clusterloader2/testing/write-throughput/local-kind-overrides.yaml
  clusterloader2/testing/write-throughput/modules/initial-pods/config.yaml
  clusterloader2/testing/write-throughput/modules/initial-pods/pod.yaml
  clusterloader2/testing/write-throughput/modules/measurements.yaml
  clusterloader2/testing/write-throughput/modules/watch/clusterrole.yaml
  clusterloader2/testing/write-throughput/modules/watch/clusterrolebinding.yaml
  clusterloader2/testing/write-throughput/modules/watch/config.yaml
  clusterloader2/testing/write-throughput/modules/watch/deployment.yaml
  clusterloader2/testing/write-throughput/modules/watch/namespace.yaml
  clusterloader2/testing/write-throughput/modules/writer/clusterrole.yaml
  clusterloader2/testing/write-throughput/modules/writer/clusterrolebinding.yaml
  clusterloader2/testing/write-throughput/modules/writer/config.yaml
  clusterloader2/testing/write-throughput/modules/writer/deployment.yaml
  clusterloader2/testing/write-throughput/modules/writer/namespace.yaml
  clusterloader2/testing/write-throughput/report/.gitignore
  util-images/request-benchmark/main.go
  util-images/request-benchmark/mode_patch.go
  util-images/request-benchmark/mode_watch.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Parametrize OOM restarts and ContainerRestarts to be optionally failing tests. The default behavior does not change if new params are not used in test configuration
  clusterloader2/testing/access-tokens/config.yaml
  clusterloader2/testing/huge-service/modules/measurements.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add missing roles and Makefile to write throughput benchmark
  clusterloader2/testing/write-throughput/Makefile
  clusterloader2/testing/write-throughput/modules/watch/role.yaml
  clusterloader2/testing/write-throughput/modules/watch/rolebinding.yaml
  clusterloader2/testing/write-throughput/modules/writer/role.yaml
  clusterloader2/testing/write-throughput/modules/writer/rolebinding.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Improve write-througput benchmark
  clusterloader2/testing/write-throughput/Makefile
  clusterloader2/testing/write-throughput/config.yaml
  clusterloader2/testing/write-throughput/kind.yaml
  clusterloader2/testing/write-throughput/local-kind-overrides.yaml
  clusterloader2/testing/write-throughput/modules/measurements.yaml
  clusterloader2/testing/write-throughput/modules/watch/deployment.yaml
  clusterloader2/testing/write-throughput/modules/writer/deployment.yaml
  perflens/config/grafana/dashboards/write_throughput.json
  perflens/pkg/ingest/slo_ingester.go
  util-images/request-benchmark/mode_patch.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add systemPodsFailureEnabled flag to SystemPodMetrics to allow users to log system pod restarts as warnings instead of failing the test
  clusterloader2/pkg/measurement/common/system_pod_metrics.go
  clusterloader2/pkg/measurement/common/system_pod_metrics_test.go
  clusterloader2/testing/access-tokens/config.yaml
  clusterloader2/testing/huge-service/modules/measurements.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

request-benchmark: split main.go into per-mode and helper files
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/helpers.go
  util-images/request-benchmark/main.go
  util-images/request-benchmark/mode_http.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

test(clusterloader2): add unit tests for pkg/errors
  clusterloader2/pkg/errors/error_list_test.go
  clusterloader2/pkg/errors/fatal_error_test.go
  clusterloader2/pkg/errors/metric_violation_error_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

perflens: make control-plane log download opt-in
  perflens/bin/perflens
Due: none

Raise etcd backend quota for write-throughput kind cluster
  clusterloader2/testing/write-throughput/kind.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: treat etcd-2384 as an optional etcd scrape target
  clusterloader2/pkg/measurement/common/etcd_metrics.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Drop GVM from ClusterLoader2 getting-started prerequisites
  clusterloader2/docs/GETTING_STARTED.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

agents: add scale-run-metrics reference skill
  .agents/skills/scale-run-metrics/SKILL.md
  .agents/skills/scale-run-metrics/references/metrics.md
Due: none

perflens: bind Grafana and Thanos Query to localhost only
  perflens/docker/docker-compose.yml
Due: none

perflens: anchor normalized time on the ClusterLoader2 first step
  perflens/README.md
  perflens/bin/perflens
  perflens/pkg/ingest/cl2steps.go
  perflens/pkg/ingest/cl2steps_test.go
  perflens/pkg/ingest/timebase.go
Due: none

perflens: add Control Plane dashboard
  perflens/config/grafana/dashboards/control_plane.json
Due: none

perflens: re-base run timestamps to a common anchor at ingest
  perflens/README.md
  perflens/cmd/ingest/main.go
  perflens/config/grafana/dashboards/apiserver_metrics.json
  perflens/config/grafana/dashboards/node_exporter.json
  perflens/config/grafana/dashboards/slo_landing_page.json
  perflens/config/grafana/dashboards/write_throughput.json
  perflens/go.mod
  perflens/pkg/ingest/block.go
  perflens/pkg/ingest/log_ingester.go
  perflens/pkg/ingest/perflens.go
  perflens/pkg/ingest/prometheus_ingester.go
  perflens/pkg/ingest/slo_ingester.go
  perflens/pkg/ingest/timebase.go
  perflens/pkg/ingest/utils.go
Due: none

perflens: disable Grafana news feed and analytics calls
  perflens/docker/docker-compose.yml
Due: none

request-benchmark: add --content-type flag to informer mode
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_informer.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images
