Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

post-ingress-nginx-cfssl:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-custom-error-pages:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-e2e-test-echo:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-fastcgi-helloserver:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-httpbun:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-kube-webhook-certgen:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx-1-25:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Chart: Bump Kube Webhook CertGen.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Tests & Docs: Bump images. (#12118)
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  test/e2e/HTTPBUN_IMAGE
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Tests & Docs: Bump images.
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  test/e2e/HTTPBUN_IMAGE
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Deploy GitHub Pages
  examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  examples/customization/custom-errors/custom-default-backend.yaml
  sitemap.xml
  sitemap.xml.gz
Due: none

Chart: Bump Kube Webhook CertGen. (#12119)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Tests & Docs: Bump images. (#12120)
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  test/e2e/HTTPBUN_IMAGE
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Tests & Docs: Bump images. (#12121)
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  docs/examples/customization/custom-errors/custom-default-backend.yaml
  test/e2e/HTTPBUN_IMAGE
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chart: Bump Kube Webhook CertGen. (#12123)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Bump Kube Webhook CertGen. (#12122)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Images: Trigger controller build.
  TAG
Due: none

Images: Build `s390x` controller.
  Makefile
Due: none

Images: Build `s390x` controller. (#12125)
  Makefile
Due: none

Images: Build `s390x` controller. (#12128)
  Makefile
Due: none

Images: Build `s390x` controller. (#12127)
  Makefile
Due: none

Images: Build `s390x` controller. (#12126)
  Makefile
Due: none

Images: Drop `s390x`.
  .github/workflows/images.yaml
  Makefile
  hack/init-buildx.sh
  images/Makefile
  images/nginx/Makefile
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Trigger `e2e-test-echo` build.
  images/e2e-test-echo/TAG
Due: post-ingress-nginx-e2e-test-echo

fix(docs): Run update-annotation-doc
  docs/user-guide/nginx-configuration/annotations-risk.md
  go.work.sum
Due: none

Images: Drop `s390x`. (#12131)
  .github/workflows/images.yaml
  Makefile
  hack/init-buildx.sh
  images/Makefile
  images/nginx/Makefile
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Trigger `e2e-test-echo` build. (#12132)
  images/e2e-test-echo/TAG
Due: post-ingress-nginx-e2e-test-echo

Images: Drop `s390x`. (#12137)
  .github/workflows/images.yaml
  Makefile
  hack/init-buildx.sh
  images/Makefile
  images/nginx/Makefile
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Drop `s390x`. (#12138)
  .github/workflows/images.yaml
  Makefile
  hack/init-buildx.sh
  images/Makefile
  images/nginx/Makefile
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Drop `s390x`. (#12139)
  .github/workflows/images.yaml
  Makefile
  hack/init-buildx.sh
  images/Makefile
  images/nginx/Makefile
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Trigger `e2e-test-echo` build. (#12141)
  images/e2e-test-echo/TAG
Due: post-ingress-nginx-e2e-test-echo

Images: Trigger `e2e-test-echo` build. (#12142)
  images/e2e-test-echo/TAG
Due: post-ingress-nginx-e2e-test-echo

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$
