Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Bump github.com/onsi/ginkgo/v2 from 2.26.0 to 2.27.1
  build/run-in-docker.sh
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/onsi/ginkgo/v2 from 2.26.0 to 2.27.1 (#14061)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/onsi/ginkgo/v2 from 2.26.0 to 2.27.1 (#14062)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Trigger NGINX build.
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build. (#14063)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build. (#14064)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build. (#14065)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Bump NGINX to v2.2.4.
  NGINX_BASE
Due: none

Images: Bump NGINX to v1.3.4.
  NGINX_BASE
Due: none

Images: Bump NGINX to v1.3.4. (#14068)
  NGINX_BASE
Due: none

Images: Bump NGINX to v2.2.4. (#14066)
  NGINX_BASE
Due: none

Images: Bump NGINX to v2.2.4. (#14067)
  NGINX_BASE
Due: none

chart: support templating in controller.extraInitContainers (Deployment + DaemonSet)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Make extra init containers templatable. (#14070)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Images: Trigger Test Runner build.
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Trigger Test Runner build. (#14071)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Trigger Test Runner build. (#14073)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Trigger Test Runner build. (#14072)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Tests: Bump Test Runner to v2.2.4.
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump Test Runner to v1.4.4.
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump Test Runner to v2.2.4. (#14075)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump Test Runner to v2.2.4. (#14074)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump Test Runner to v1.4.4. (#14076)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump actions/upload-artifact from 4.6.2 to 5.0.0 (#14083)
  .github/workflows/ci.yaml
  .github/workflows/scorecards.yml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Bump actions/upload-artifact from 4.6.2 to 5.0.0 (#14082)
  .github/workflows/ci.yaml
  .github/workflows/scorecards.yml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Bump github/codeql-action from 4.30.9 to 4.31.0 in the actions group (#14085)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump github/codeql-action from 4.30.9 to 4.31.0 in the actions group (#14084)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump actions/download-artifact from 5.0.0 to 6.0.0 (#14086)
  .github/workflows/ci.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Bump actions/download-artifact from 5.0.0 to 6.0.0 (#14087)
  .github/workflows/ci.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Chart: increase controller targetMemoryUtilizationPercentage to 70 (#14088)
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart
