Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-images, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-images: any of: ^test\/images\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

deps: Update to Golang 1.13.9
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
  test/images/sample-apiserver/Dockerfile
Due: post-kubernetes-push-images, pull-kubernetes-cross, pull-kubernetes-godeps

Update dep k8s.io/utils to 0a110f9eb7ab
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/exec/testing/fake_exec.go
  vendor/k8s.io/utils/mount/OWNERS
  vendor/k8s.io/utils/mount/fake_mounter.go
  vendor/k8s.io/utils/mount/mount.go
  vendor/k8s.io/utils/mount/mount_helper_unix.go
  vendor/k8s.io/utils/mount/mount_linux.go
  vendor/k8s.io/utils/mount/mount_unsupported.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/k8s.io/utils/net/ipnet.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Prevent CephFS from logging senstive options
  pkg/volume/cephfs/cephfs.go
Due: none

Prevent AzureFile from logging senstive options
  pkg/volume/azure_file/azure_file.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file

Update vendored MountSensitive code for Windows
  go.mod
  go.sum
Due: none

build/dependencies: Remove bazel WORKSPACE go_version check
  build/dependencies.yaml
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Updating vendored files
  go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/mount/mount_helper_common.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/k8s.io/utils/net/BUILD
  vendor/k8s.io/utils/net/port.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Move GetFileModeRegex to e2e/common
  test/e2e/common/configmap_volume.go
  test/e2e/common/projected_configmap.go
  test/e2e/common/projected_secret.go
  test/e2e/common/secrets_volume.go
  test/e2e/common/util.go
  test/e2e/framework/util.go
Due: none

Move NewTestPod() to e2e/scheduling
  test/e2e/framework/util.go
  test/e2e/scheduling/limit_range.go
Due: none

Update dep k8s.io/utils to 0a110f9eb7ab
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/mount/OWNERS
  vendor/k8s.io/utils/mount/fake_mounter.go
  vendor/k8s.io/utils/mount/mount.go
  vendor/k8s.io/utils/mount/mount_helper_unix.go
  vendor/k8s.io/utils/mount/mount_linux.go
  vendor/k8s.io/utils/mount/mount_unsupported.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/k8s.io/utils/net/ipnet.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Updating vendored files
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/mount/mount_helper_common.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/k8s.io/utils/net/BUILD
  vendor/k8s.io/utils/net/port.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

don't generate openapi for component config groups
  api/api-rules/violation_exceptions.list
  build/kazel_generated.bzl
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/doc.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/doc.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/doc.go
  staging/src/k8s.io/kube-scheduler/config/v1/doc.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/doc.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/doc.go
  staging/src/k8s.io/kubelet/config/v1beta1/doc.go
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Change the log level of MountVolume from klog.V (1) .Info to klog.Info, the same as unmountVolume and attachVolume.
  pkg/kubelet/volumemanager/reconciler/reconciler.go
Due: pull-kubernetes-local-e2e-containerized

[apimachinery]: cleanup deprecated const StatusTooManyRequests
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go
Due: pull-kubernetes-godeps

Fixed a failing test on a RBD mount scenario
  pkg/volume/rbd/rbd_test.go
Due: none

eviction by process number
  pkg/kubelet/apis/stats/v1alpha1/types.go
  pkg/kubelet/eviction/helpers.go
  pkg/kubelet/eviction/helpers_test.go
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/helper.go
  test/e2e_node/eviction_test.go
  test/e2e_node/summary_test.go
Due: pull-kubernetes-local-e2e-containerized

remove unused param
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/helper.go
  pkg/kubelet/stats/stats_provider.go
Due: pull-kubernetes-local-e2e-containerized

Check next cron schedules in a binary-search fashion
  pkg/controller/cronjob/cronjob_controller_test.go
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
Due: none

build: Remove kube-cross image building
  build/build-image/cross/Dockerfile
  build/build-image/cross/Makefile
  build/build-image/cross/cloudbuild.yaml
  build/dependencies.yaml
Due: pull-kubernetes-cross, pull-kubernetes-godeps

deps: Update to Golang 1.13.9
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
Due: post-kubernetes-push-images, pull-kubernetes-cross, pull-kubernetes-godeps

Simplify dual or single port logic
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
Due: pull-kubernetes-godeps

fix kubectl port-forward for services with explicit local port
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward_test.go
Due: pull-kubernetes-godeps

remove duplicate closing brace
  build/README.md
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Updated repo_infra to pickup go_genrule cleanup.
  build/code_generation.bzl
  build/root/.bazelrc
  build/root/.bazelversion
  build/root/WORKSPACE
  staging/src/k8s.io/apimachinery/pkg/util/sets/BUILD
Due: pull-kubernetes-cross, pull-kubernetes-godeps

deps: Update Golang to v1.14.1
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
Due: post-kubernetes-push-images, pull-kubernetes-cross, pull-kubernetes-godeps

Delete Cleanup method in e2e util
  test/e2e/framework/util.go
Due: none

TESTING: DO NOT MERGE
  TEST_PR
Due: none

Cherry pick 89248 to 1.18.
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssclient/azure_vmssclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssclient/interface.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps
