Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

go pkg: provenance
  go.mod
  go.sum
  pkg/provenance/predicate.go
  pkg/provenance/provenance.go
  pkg/provenance/statement.go
Due: post-release-push-image-k8s-ci-builder

generate: provenance fakes
  pkg/provenance/provenancefakes/fake_predicate_implementation.go
  pkg/provenance/provenancefakes/fake_statement_implementation.go
Due: post-release-push-image-k8s-ci-builder

pkg/provenance tests
  pkg/provenance/predicate_test.go
  pkg/provenance/predicate_unit_test.go
  pkg/provenance/statement_test.go
  pkg/provenance/statement_unit_test.go
Due: post-release-push-image-k8s-ci-builder

Add BUILD_ID to GCB environment
  gcb/stage/cloudbuild.yaml
Due: none

generate: anago/stage implementation fakes
  pkg/anago/anagofakes/fake_stage_impl.go
Due: post-release-push-image-k8s-ci-builder

Support pushing single files in PushReleaseArtifacts()
  pkg/build/push.go
Due: post-release-push-image-k8s-ci-builder

anago/stage: Delete archived sources after staging artifacts
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/build/push.go
Due: post-release-push-image-k8s-ci-builder

anago/stage: Generate the staging provenance metadata
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Add provenance functions to stage integration tests
  pkg/anago/stage_test.go
Due: post-release-push-image-k8s-ci-builder

anago/stage: Produce only one source tarball
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Bump mdtoc to v1.1.0
  cmd/krel/cmd/changelog_data_test.go
  cmd/release-notes/main.go
  go.mod
  go.sum
  pkg/changelog/impl.go
Due: post-release-push-image-k8s-ci-builder

Bump go-github to v39
  go.mod
  go.sum
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Add possibility to build custom Kubernetes forks
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/stage.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
  pkg/license/licensefakes/fake_downloader_implementation.go
  pkg/release/branch_checker.go
  pkg/release/release.go
  pkg/release/workspace.go
Due: post-release-push-image-k8s-ci-builder

krel: make promote-images work for other k8s and k8s sigs projects
  cmd/krel/cmd/promote-images.go
  docs/krel/README.md
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

config: Add configs for copying GitHub releases to GCS buckets
  config/kpromo-gh.yaml
Due: none

release notes: remove autor and PR links from markdown
  cmd/krel/cmd/changelog_data_test.go
  pkg/notes/notes.go
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

Add option to add links in markdown, false by default
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/README.md
  cmd/release-notes/main.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
  pkg/notes/notes_v2.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

provenance: Add LoadStatement() func
  pkg/provenance/provenance.go
  pkg/provenance/provenance_unit_test.go
Due: post-release-push-image-k8s-ci-builder

generate: anago/release fakes
  pkg/anago/anagofakes/fake_release_client.go
  pkg/anago/anagofakes/fake_release_impl.go
Due: post-release-push-image-k8s-ci-builder

anago/release: CheckProvenance()
  pkg/anago/anago.go
  pkg/anago/release.go
  pkg/anago/release_test.go
Due: post-release-push-image-k8s-ci-builder

provenance: Add ClonePredicate() function
  pkg/provenance/provenancefakes/fake_predicate_implementation.go
  pkg/provenance/provenancefakes/fake_statement_implementation.go
  pkg/provenance/statement.go
  pkg/provenance/statement_unit_test.go
Due: post-release-push-image-k8s-ci-builder

provenance: Add Test data
  pkg/provenance/testdata/k8s-1.23.0-alpha.4-provenance.json
Due: post-release-push-image-k8s-ci-builder

release: ProvenanceChecker object
  pkg/release/provenance.go
Due: post-release-push-image-k8s-ci-builder

Only warn on SLSA provenance errors
  pkg/anago/anago.go
Due: post-release-push-image-k8s-ci-builder

VerifySubjects unit test
  pkg/provenance/statement_unit_test.go
Due: post-release-push-image-k8s-ci-builder

provenance: statment.VerifySubjects()
  pkg/provenance/provenancefakes/fake_statement_implementation.go
  pkg/provenance/statement.go
Due: post-release-push-image-k8s-ci-builder

Update README.md
  README.md
Due: none

Update cosign to v1.2.1
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

update qemu
  hack/init-buildx.sh
Due: none

[go] Build go1.17.2 and go1.16.9 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

golangci-lint: Enable `gosec` linter
  .golangci.yml
Due: none

lint(gosec): Add TODOs to review file permissions
  cmd/krel/cmd/changelog_test.go
  cmd/krel/cmd/release_notes.go
  cmd/schedule-builder/cmd/root.go
  pkg/announce/announce.go
  pkg/notes/document/document_test.go
  pkg/vulndash/adapter/adapter.go
Due: post-release-push-image-k8s-ci-builder

lint(gosec): Add `nolint`s for SHA1 file integrity usage
  pkg/license/download.go
  pkg/notes/notes.go
  pkg/spdx/document.go
  pkg/spdx/object.go
  pkg/spdx/package.go
Due: post-release-push-image-k8s-ci-builder

lint(gosec): Guard against decompression bombs when using `io.Copy`
  pkg/spdx/imageanalyzer_distroless.go
  pkg/spdx/implementation.go
Due: post-release-push-image-k8s-ci-builder

lint(gosec): Guard against decompression bombs when using filepath.Join
  pkg/release/provenance.go
  pkg/spdx/implementation.go
  pkg/spdx/spdx_unit_test.go
Due: post-release-push-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: Build image using go1.17.2
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: Build image using go1.16.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

issue-template: update dep-golang template to remove bazel updates
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

packages: Update minimum Kubernetes version to v1.19.0
  packages/deb/build.go
  packages/deb/build_test.go
  packages/rpm/kubelet.spec
Due: none

ProvenanceReader unit tests
  pkg/release/provenance_test.go
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
