Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

Changelog: (re)Add links to markdown output
  pkg/changelog/changelog.go
Due: post-release-push-image-k8s-ci-builder

Revert a3372cd on changelog test
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

go runner: try whether image builds work
  images/build/go-runner/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

[go] Build go1.17.4 and go1.16.11 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

issue/template: remove not needed item and general updates
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

add kube-cross variant for k8s 1.24 next release
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

update cosign to v1.4.0 release
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

k8s-cloud-builder/k8s-ci-builder: Build image using go1.17.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

add k8s-ci-builder config for 1.24
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

Rebase the main branch instead of merging it
  pkg/release/push_git_objects.go
Due: post-release-push-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: Build image using go1.16.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

[go] Build go1.17.5 and go1.16.12 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

aligned with requested changes
  cmd/ci-reporter/cmd/testgrid.go
Due: post-release-push-image-k8s-ci-builder

update cosign to release v1.4.1
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

k8s-cloud-builder/k8s-ci-builder: Build image using go1.17.5
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

cleanup nit
  cmd/ci-reporter/cmd/testgrid.go
Due: post-release-push-image-k8s-ci-builder

CI-Reporter testgrid logic into pkg/testgrid (#2334)
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
  go.mod
  pkg/testgrid/testgrid-scraper.go
  pkg/testgrid/testgrid-scraper_test.go
Due: post-release-push-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: Build image using go1.16.12
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Mark repo as required flag
  cmd/publish-release/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

publish-release: SBOM support
  cmd/publish-release/cmd/github.go
  pkg/announce/github_page.go
Due: post-release-push-image-k8s-ci-builder

krel: fix layout used to parse GCB time
  pkg/gcp/gcb/history.go
Due: post-release-push-image-k8s-ci-builder

update ci report, add new features
  cmd/ci-reporter/README.md
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

update tableformat, added category count, update README
  cmd/ci-reporter/README.md
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
Due: post-release-push-image-k8s-ci-builder

releng-ci: Test pushing to Artifact Registry
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

Set next release version to v1.24.0
  dependencies.yaml
Due: none

golang: Set next candidate to go1.18beta1
  dependencies.yaml
Due: none

golang: Build 1.18beta1 images and drop temp `buster` variants
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

update short report format
  cmd/ci-reporter/README.md
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
Due: post-release-push-image-k8s-ci-builder

[go1.18] Build k8s-cloud-builder:v1.24.0-go1.18beta1-bullseye.0
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

debian-base: Build bullseye-v1.1.0 and buster-v1.10.0
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

debian-base: Update dependents to use bullseye-v1.1.0 / buster-v1.10.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables, pull-release-image-setcap

debian-iptables: Build bullseye-v1.2.0 / buster-v1.8.0 images
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

setcap: Build bullseye-v1.1.0 / buster-v2.1.0 images
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-setcap

krel/announce: update kubernetes-dev email distribution
  pkg/mail/mail.go
  pkg/mail/mail_test.go
Due: post-release-push-image-k8s-ci-builder

Bump BOM mod to latest to pull SLSA v02
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

stage: Populate predicate with SLSA v0.2 fields
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

stage: Remove temporary last commit SHA code
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Update Builder ID and EntryPoint URIs to git.k8s.io
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Strip dashes and equal signs in recorded parameters
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Address comments from 2273
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder
