Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*

Update secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: none

ci: update azure scripts to use rbac for keyvault permissions
  test/scripts/run-e2e-azure.sh
Due: none

chore: update to go 1.24.7
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

chore: update debian-base to bookworm-v1.0.6
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: bump kubectl to v1.34.1 in driver-crds
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

ci: ignore CVE-2023-2878 false positive from Trivy version detection
  .trivyignore
Due: none

chore: bump version to v1.5.4 in release-1.5
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

ci: resolve azure e2e test flakes with rbac, windows vm size
  test/scripts/run-e2e-azure.sh
Due: none

release: update manifest and helm charts for v1.5.4
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifest and helm charts for v1.5.4
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Publish secrets-store-csi-driver-1.5.4.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.5.4.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Upgrade controller-runtime to v0.18.7
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
  pkg/k8s/token_test.go
  pkg/metrics/prometheus_exporter.go
  pkg/rotation/reconciler_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/stats_reporter.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

added test for Fortanix
  test/bats/fortanix.bats
  test/bats/tests/fortanix/pod-inline-volume-secretproviderclass.yaml
  test/bats/tests/fortanix/secretproviderclass.yaml
Due: none

chore: update to go 1.24.9
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

Consolidate go.mod indirect dependency blocks
  go.mod
Due: none

chore: Upgrade controller-runtime to v0.18.7 (#1938)
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
  pkg/k8s/token_test.go
  pkg/metrics/prometheus_exporter.go
  pkg/rotation/reconciler_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/stats_reporter.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

chore: Take the Go version for codecov and scan-vulns from go.mod
  .github/workflows/codecov.yaml
  .github/workflows/scan-vulns.yaml
Due: none

chore: Upgrade Go to 1.25.3
  .golangci.yml
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

Add tests to use rotation config.
  controllers/secretproviderclasspodstatus_controller.go
  controllers/secretproviderclasspodstatus_controller_test.go
  deploy/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/deploy/csidriver.yaml
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/utils.go
  test/bats/aws.bats
  test/bats/e2e-provider.bats
  test/bats/helpers.bash
  test/bats/vault.bats
Due: none

Remove permissions required for reconciler.
  Makefile
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  manifest_staging/deploy/rbac-secretproviderrotation.yaml
  manifest_staging/deploy/rbac-secretprovidertokenrequest.yaml
  test/bats/e2e-provider.bats
Due: none

Remove debug logs
  pkg/secrets-store/nodeserver.go
Due: none

Use in secret rotation
  cmd/secrets-store-csi-driver/main.go
  deploy/csidriver.yaml
  pkg/rotation/reconciler.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  test/sanity/sanity_test.go
Due: none

Do not return error if it is remount request
  pkg/secrets-store/nodeserver.go
Due: none

Remove unused reconciler code
  controllers/tokenrequest/tokenrequest.go
  go.mod
  pkg/k8s/secret.go
  pkg/k8s/store.go
  pkg/k8s/store_test.go
  pkg/k8s/token.go
  pkg/k8s/token/token_manager.go
  pkg/k8s/token/token_manager_test.go
  pkg/k8s/token_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/nodeserver.go
Due: none

Fix exported function and variable
  controllers/secretproviderclasspodstatus_controller.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
Due: none

Rotate only if enable-secret-rotation=true
  cmd/secrets-store-csi-driver/main.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  test/sanity/sanity_test.go
Due: none

Fix rotation enable check
  controllers/secretproviderclasspodstatus_controller.go
  go.mod
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  pkg/secrets-store/mocks/stats_reporter_mock.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/stats_reporter.go
  test/bats/e2e-provider.bats
Due: none

Removed unused config and code
  go.mod
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  pkg/secrets-store/nodeserver.go
Due: none

Fix rotation metrics if rotation is skipped
  pkg/secrets-store/nodeserver.go
Due: none

Fix the comments, logs and delete unused configs
  Makefile
  config/rbac-tokenrequest/kustomization.yaml
  config/rbac-tokenrequest/role.yaml
  config/rbac-tokenrequest/role_binding.yaml
  controllers/secretproviderclasspodstatus_controller.go
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  pkg/secrets-store/nodeserver.go
Due: none

Fix dependencies
  go.mod
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

fix: set authority to localhost
  pkg/secrets-store/provider_client.go
  test/e2eprovider/server/server.go
Due: none

chore: update to go 1.24.11 and bump golang.org/x/crypto to v0.46.0
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  go.sum
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: secrets-store-csi-driver-push-image

Fix requiresRepublish value and metrics
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  pkg/secrets-store/nodeserver.go
Due: none

chore: bump version to v1.5.5 in release-1.5
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image
