Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-provisioner-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-helper-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

Fix version
  VERSION
Due: none

Added Argument to control passing proxy envs from host
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

Add GCP perm doc
  docs/gcp/Image  Builder/gcp_image_builder.adoc
  docs/gcp/Permissions/gcp_permission_ref.md
Due: none

changed clusterId to clusterName and descriptorfile to keoscluster (#191)
  docs/gcp/Permissions/gcp_permissions_ref.md
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/create/actions/createworker/keosinstaller.go
  pkg/cluster/internal/create/actions/createworker/overridevars.go
  pkg/cluster/internal/create/actions/createworker/provider.go
  pkg/cluster/internal/create/actions/createworker/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/azure.aks.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/azure.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/gcp.tmpl
  pkg/cmd/kind/create/cluster/validation/azurevalidator.go
  pkg/cmd/kind/create/cluster/validation/commonvalidations.go
  pkg/cmd/kind/create/cluster/validation/eksvalidator.go
  pkg/cmd/kind/create/cluster/validation/gcpvalidator.go
  pkg/cmd/kind/create/cluster/validation/validator.go
  pkg/commons/cluster.go
  pkg/commons/utils.go
Due: none

Fix wait conditions (#198)
  CHANGELOG.md
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/provider.go
Due: none

Add eks secrets encryption (#171)
  CHANGELOG.md
  pkg/cluster/internal/create/actions/createworker/templates/aws.eks.tmpl
  pkg/commons/cluster.go
Due: none

chore: adjust aws imds gnetpol (#197)
  pkg/cluster/internal/create/actions/createworker/files/aws/allow-capa-egress-imds_gnetpol.yaml
Due: none

[EOS-11196] Support AWS unmanaged (#98)
  CHANGELOG.md
  DEPENDENCIES
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/aws.tmpl
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
  pkg/cmd/kind/create/cluster/validation/awsvalidator.go
  pkg/cmd/kind/create/cluster/validation/validator.go
Due: none

Refactor storageclass (#203)
  go.mod
  go.sum
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/files/azure/azure-storage-classes.yaml
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/create/actions/createworker/overridevars.go
  pkg/cluster/internal/create/actions/createworker/provider.go
  pkg/cmd/kind/create/cluster/validation/validator.go
  pkg/commons/cluster.go
  pkg/commons/utils.go
Due: pull-kind-verify-deps

added 1 replica to cluster-autoscaler (#202)
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none

Remove golang warnings (#206)
  go.mod
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/create/actions/createworker/files/gcp/gcp-compute-persistent-disk-csi-driver.yaml
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/create/actions/createworker/overridevars.go
  pkg/cmd/kind/create/cluster/validation/awsvalidator.go
  pkg/cmd/kind/create/cluster/validation/azurevalidator.go
  pkg/cmd/kind/create/cluster/validation/commonvalidations.go
  pkg/cmd/kind/create/cluster/validation/gcpvalidator.go
  pkg/cmd/kind/create/cluster/validation/validationutils.go
  pkg/cmd/kind/create/cluster/validation/validator.go
Due: pull-kind-verify-deps

feat: Add in validation based on CDI package
  go.mod
  go.sum
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
Due: pull-kind-verify-deps

fix: Change name of Devices to CDIDevices
  pkg/apis/config/v1alpha4/types.go
  pkg/apis/config/v1alpha4/zz_generated.deepcopy.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
  pkg/internal/apis/config/convert_v1alpha4.go
  pkg/internal/apis/config/types.go
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
  pkg/internal/apis/config/zz_generated.deepcopy.go
Due: none

fix: add "dev" Docker version for testsing
  pkg/cluster/internal/providers/docker/provision.go
Due: none

docs: A few updates to devices doc
  site/content/docs/user/configuration.md
Due: none

Azure image builder documentation (#210)
  docs/azure/Image Builder/azure_image_builder.adoc
Due: none

Bump cluster-api-provider-aws (#204)
  CHANGELOG.md
  DEPENDENCIES
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

Use `ImplementationSpecific` instead of `Prefix` for pathType example
  site/static/examples/ingress/usage.yaml
Due: none

Done some changes
  site/layouts/shortcodes/codeFromFile.html
  site/layouts/shortcodes/codeFromInline.html
Due: none

Added gpu support
  pkg/apis/config/v1alpha4/types.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cmd/kind/version/version.go
  pkg/internal/apis/config/convert_v1alpha4.go
  pkg/internal/apis/config/types.go
Due: none

[CLOUD-47] Actualizar CAPG (a 1.4.0) (#213)
  CHANGELOG.md
  DEPENDENCIES
  README.md
  pkg/build/nodeimage/buildcontext.go
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
  pkg/cmd/kind/version/version.go
  site/config.toml
Due: none

[CLOUD-22] Configurar DNSs forwarders custom en coredns (#212)
  CHANGELOG.md
  docs/cloud-provisioner/Versiones.md
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/files/common/allow-all-egress_netpol.yaml
  pkg/cluster/internal/create/actions/createworker/files/common/calico-metrics.yaml
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/create/actions/createworker/provider.go
  pkg/cluster/internal/create/actions/createworker/templates/aws/aws.eks.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/aws/aws.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/aws/coredns_configmap.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/azure/azure.aks.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/azure/azure.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/azure/coredns_configmap-aks.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/azure/coredns_configmap.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/common/calico-helm-values.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/gcp/coredns_configmap.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/gcp/gcp.tmpl
  pkg/commons/cluster.go
Due: none

[GCP] Set bind-address to 0.0.0.0 to be able to scrape metrics from kubernetes controller-manager, scheduler and kube-proxy (#153)
  pkg/cluster/internal/create/actions/createworker/templates/aws/aws.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/azure/azure.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/gcp/gcp.tmpl
Due: none

Bump cluster-api-provider-azure (#211)
  CHANGELOG.md
  DEPENDENCIES
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

[CLOUD-32] Revisar fase de validaciones (#214)
  go.mod
  go.sum
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/create.go
  pkg/cluster/internal/validate/aws.go
  pkg/cluster/internal/validate/azure.go
  pkg/cluster/internal/validate/common.go
  pkg/cluster/internal/validate/gcp.go
  pkg/cluster/internal/validate/secrets.go
  pkg/cluster/internal/validate/utils.go
  pkg/cluster/internal/validate/validate.go
  pkg/cluster/provider.go
  pkg/cmd/kind/create/cluster/createcluster.go
  pkg/cmd/kind/create/cluster/validation/awsvalidator.go
  pkg/cmd/kind/create/cluster/validation/azurevalidator.go
  pkg/cmd/kind/create/cluster/validation/commonvalidations.go
  pkg/cmd/kind/create/cluster/validation/gcpvalidator.go
  pkg/cmd/kind/create/cluster/validation/validationutils.go
  pkg/cmd/kind/create/cluster/validation/validator.go
  pkg/commons/cluster.go
  pkg/commons/utils.go
Due: pull-kind-verify-deps

Validate at least there is one worker without spot and taints (#219)
  pkg/cluster/internal/validate/azure.go
  pkg/cluster/internal/validate/common.go
Due: none

Bump ci memory requests (#221)
  Jenkinsfile
Due: none

Fix azure network validations (#220)
  pkg/cluster/internal/validate/azure.go
Due: none

[CLOUD-63] Desacoplar funciones del provider (#218)
  go.mod
  go.sum
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/create/actions/createworker/overridevars.go
  pkg/cluster/internal/create/actions/createworker/provider.go
  pkg/cluster/internal/validate/aws.go
  pkg/commons/utils.go
Due: pull-kind-verify-deps

Add Azure file CSI driver (#225)
  CHANGELOG.md
  DEPENDENCIES
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

Fix templates quotes (#228)
  pkg/cluster/internal/create/actions/createworker/templates/aws/aws.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/azure/azure.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/gcp/gcp.tmpl
Due: none

[CLOUD-36] [GCP] Crear GNP para el IMDS (#224)
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/files/aws/allow-egress-imds_gnetpol.yaml
  pkg/cluster/internal/create/actions/createworker/files/gcp/allow-egress-imds_gnetpol.yaml
  pkg/cluster/internal/create/actions/createworker/files/gcp/deny-all-egress-imds_gnetpol.yaml
  pkg/cluster/internal/create/actions/createworker/files/gcp/gcp-compute-persistent-disk-csi-driver.yaml
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/create/actions/createworker/provider.go
Due: none

Add Azure Perm doc (#217)
  docs/azure/Image Builder/Permissions/Errros.md
  docs/azure/Image Builder/Permissions/azure_permission_ref.md
  docs/azure/Image Builder/Permissions/capz-role-control-plane.json
  docs/azure/Image Builder/Permissions/capz-role-node.json
  docs/azure/Image Builder/Permissions/capz-role-restricted.json
Due: none

Integrate cluster operator (#223)
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/create/actions/createworker/provider.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
  pkg/commons/cluster.go
Due: none

Fix keoscluster deployment (#229)
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none

Fix external volume filesystem (#230)
  pkg/cluster/internal/create/actions/createworker/templates/aws/aws.eks.tmpl
  pkg/cluster/internal/create/actions/createworker/templates/aws/aws.tmpl
Due: none

Update README.md
  images/kindnetd/README.md
Due: post-kind-push-kindnetd-image

tune the sequence to allow args take effect from kubeadm
  images/base/files/etc/systemd/system/kubelet.service.d/10-kubeadm.conf
Due: post-kind-push-base-image

Bump k8s.io dependencies to v0.26.4
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image, pull-kind-verify-deps

Fix forwarders check (#231)
  pkg/commons/cluster.go
Due: none

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
