Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Add http request test to annotaion ssl cipher test
  test/e2e/annotations/sslciphers.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

chore: fix helm chart version
  index.yaml
Due: none

helm: add feature to configure request and limit for container in createSecret and patchWebhook job
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Updated depricated config
  rootfs/etc/nginx/template/nginx.tmpl
Due: post-ingress-nginx-push-images

added the directives
  rootfs/etc/nginx/template/nginx.tmpl
Due: post-ingress-nginx-push-images

remove timestamp when requeuing Element
  internal/task/queue.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix ingress-nginx panic when the certificate format is wrong.
  internal/ingress/controller/controller.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add http request test to annotaion ssl cipher test (#7431)
  test/e2e/annotations/sslciphers.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Bump PDB API version to v1 (#7421)
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add scope configuration check. (#6864)
  charts/ingress-nginx/templates/clusterrole.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Remove empty line in helm template
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add test for admission webhook job container resources
  charts/ingress-nginx/ci/deployment-webhook-resources-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add new line character at the end of charts ci file
  charts/ingress-nginx/ci/deployment-webhook-resources-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Helm - Enable configuring request and limit for containers in webhook jobs (#7434)
  charts/ingress-nginx/ci/deployment-webhook-resources-values.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

fix: added-eol
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

feat: avoid-pdb-creation-when-default-backend-disabled-and-replicas-gt-1
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix cap for NET_BIND_SERVICE
  rootfs/Dockerfile
Due: post-ingress-nginx-push-images

correct ingress-controller naming
  docs/user-guide/monitoring.md
Due: none

Prepare for go v1.16
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image

Prepare for go v1.16 (#7451)
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image

run k8s job ci pipeline with 1.21.2 in main br
  .github/workflows/ci.yaml
Due: none

run k8s job ci pipeline with 1.21.2 in main br (#7452)
  .github/workflows/ci.yaml
Due: none

k8s job ci pipeline for dev-v1 br v1.22.0
  .github/workflows/ci.yaml
Due: none

k8s job ci pipeline for dev-v1 br v1.21.2
  .github/workflows/ci.yaml
Due: none

remove v1.21.1 version
  .github/workflows/ci.yaml
Due: none

k8s job ci pipeline for dev-v1 br v1.22.0 (#7453)
  .github/workflows/ci.yaml
Due: none

Update go version, modules and remove ioutil
  .github/workflows/ci.yaml
  .gitignore
  build/run-in-docker.sh
  go.mod
  go.sum
  hack/tools.go
  internal/admission/controller/server.go
  internal/file/file.go
  internal/file/file_test.go
  internal/ingress/annotations/auth/main.go
  internal/ingress/annotations/auth/main_test.go
  internal/ingress/controller/checker.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/nginx_test.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  internal/ingress/controller/util.go
  internal/ingress/metric/collectors/socket.go
  internal/net/dns/dns.go
  internal/net/dns/dns_test.go
  internal/net/ssl/ssl.go
  internal/net/ssl/ssl_test.go
  internal/nginx/main.go
  internal/runtime/cpu_linux.go
  internal/watch/file_watcher_test.go
  test/e2e-image/Dockerfile
  test/e2e/settings/ocsp/ocsp.go
  test/e2e/settings/proxy_protocol.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add documentation for monitoring without helm
  docs/user-guide/monitoring.md
Due: none

Fix typo
  docs/user-guide/monitoring.md
Due: none

Add documentation for monitoring without helm (#7455)
  docs/user-guide/monitoring.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/monitoring/index.html
Due: none

Change all master reference to main
  Changelog.md
  RELEASE.md
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  docs/deploy/hardening-guide.md
  docs/deploy/index.md
  docs/deploy/upgrade.md
  docs/developer-guide/code-overview.md
  docs/developer-guide/getting-started.md
  docs/e2e-tests.md
  docs/examples/PREREQUISITES.md
  docs/examples/auth/oauth-external-auth/README.md
  docs/examples/customization/custom-configuration/README.md
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/sysctl/README.md
  docs/examples/docker-registry/README.md
  docs/examples/multi-tls/multi-tls.yaml
  docs/examples/psp/README.md
  docs/how-it-works.md
  docs/kubectl-plugin.md
  docs/troubleshooting.md
  docs/user-guide/custom-errors.md
  docs/user-guide/default-backend.md
  docs/user-guide/monitoring.md
  docs/user-guide/nginx-configuration/configmap.md
  images/cfssl/Makefile
  images/echo/Makefile
  images/fastcgi-helloserver/Makefile
  images/httpbin/Makefile
  images/nginx/Makefile
  images/test-runner/Makefile
  rootfs/etc/nginx/lua/plugins/README.md
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart
