Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

post-k8s-deploy-registry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
      - .
      env:
  ...

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Add kgolab to scalability-oncall group.
  groups/sig-scalability/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Bumping boskos and ghproxy and prow
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: post-k8sio-deploy-prow-build-trusted-resources, k8sio-k8s-resources-verify

Image promotion for build-image v1.31.0-go1.23.6-bullseye.0 / v1.30.0-go1.23.6-bullseye.0 / v1.29.0-go1.23.6-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

fix bad promotion, tag is already there
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.33.0-alpha.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

chore: promote aws-ebs-csi-driver v1.40.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update OWNERS to add ElijahQuinones
  registry.k8s.io/images/k8s-staging-provider-aws/OWNERS
Due: none

Image promotion for cluster-api v1.8.10
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.9.5
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.30.8
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

fix/revert bad digest
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote provider-aws 1.30.8
  artifacts/manifests/k8s-staging-provider-aws/v1.30.8.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

Image promotion for build-image v1.33.0-go1.24.0-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v2.4.0-go1.24.0-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for releng 1.24.0-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

create ingate gcp project
  groups/restrictions.yaml
  groups/sig-network/groups.yaml
  infra/gcp/terraform/k8s-staging-images/registries.tf
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for build-image v0.7.3
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote node-feature-discovery v0.17.2
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote HelmChart v0.9.3 and v0.10.1
  registry.k8s.io/images/charts/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add Chart Image approval to Kueue maintainers
  registry.k8s.io/images/charts/OWNERS
Due: none

Migrate jobset off of gcr
  registry.k8s.io/manifests/k8s-staging-jobset/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Migrate lws away from gcr
  registry.k8s.io/manifests/k8s-staging-lws/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote CAPI IPAM in cluster image v1.0.1-rc.0
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

create jobset and lws image registries
  infra/gcp/terraform/k8s-staging-images/registries.tf
Due: none

Image promotion for scl-image-builder v0.1.41
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-operator v0.17.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

cocc: update for 2025 election
  OWNERS_ALIASES
  groups/committee-code-of-conduct/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for sp-operator v0.9.0
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote Kueue images for v0.10.2
  registry.k8s.io/images/charts/images.yaml
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote container images for v0.9.4
  registry.k8s.io/images/charts/images.yaml
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add cpo 1.32.0 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

redirect: fix regex for short links
  apps/k8s-io/configmap-nginx.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-k8s-io

add cpo 1.31.3 and 1.30.3 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

publish cloud-provider-kind v0.6.0 image
  registry.k8s.io/images/k8s-staging-cloud-provider-kind/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kubernetes-csi snapshotter, resizer, attacher patch images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

release jobset 0.8.0 for images and charts
  registry.k8s.io/images/charts/images.yaml
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote gcp-compute-persistent-disk-csi-driver v1.17.0 and v1.16.1
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Create staging project for k/sig-security repo cloud run
  infra/gcp/infra.yaml
Due: k8sio-k8s-resources-verify

redirect: add link for 1.33 enhancements board
  apps/k8s-io/README.md
  apps/k8s-io/configmap-nginx.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-k8s-io

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/
