Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

post-ingress-nginx-cfssl:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-custom-error-pages:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-e2e-test-echo:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-fastcgi-helloserver:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-httpbun:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-kube-webhook-certgen:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx-1-25:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240909-d870e42d3d
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Tests: Bump `e2e-test-runner` to v20241104-02a3933e.
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump `e2e-test-runner` to v20241104-02a3933e. (#12312)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump `e2e-test-runner` to v20241104-02a3933e. (#12313)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump `e2e-test-runner` to v20241104-02a3933e. (#12314)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Update custom headers annotation documentation
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Update custom headers annotation documentation (#12317)
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

Update custom headers annotation documentation (#12318)
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Update custom headers annotation documentation (#12319)
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Auth TLS: Improve redirect RegEx.
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Auth TLS: Improve redirect RegEx. (#12249)
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Auth TLS: Improve redirect RegEx. (#12322)
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Auth TLS: Improve redirect RegEx. (#12321)
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Auth TLS: Improve redirect RegEx. (#12323)
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Auth TLS: Add `_` to redirect RegEx.
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Auth TLS: Add `_` to redirect RegEx. (#12325)
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Auth TLS: Add `_` to redirect RegEx. (#12328)
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Auth TLS: Add `_` to redirect RegEx. (#12326)
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Auth TLS: Add `_` to redirect RegEx. (#12327)
  internal/ingress/annotations/authtls/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Go: Bump to v1.23.3.
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.3. (#12320)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.3. (#12337)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.3. (#12339)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.3. (#12338)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Images: Bump `gcb-docker-gcloud` to v20241110-72bb0b1665.
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Images: Bump `gcb-docker-gcloud` to v20241110-72bb0b1665. (#12340)
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$
