Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/

Fix build
  go.mod
Due: post-release-push-image-k8s-ci-builder

schedule-builder: fix wrong log message
  cmd/schedule-builder/cmd/markdown.go
Due: post-release-push-image-k8s-ci-builder

Fix monthly patch output for schedule-builder
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
Due: post-release-push-image-k8s-ci-builder

images: Use crane for pushing release images instead of docker
  dependencies.yaml
  push-build.sh
Due: pull-release-cluster-up

Remove already enabled gocritic linters from config
  .golangci.yml
Due: none

Implement interface and default implementation for pkg/announce
  pkg/anago/release.go
  pkg/announce/announce.go
  pkg/announce/impl.go
Due: post-release-push-image-k8s-ci-builder

Move github and sbom functionality out of announce package
  cmd/publish-release/cmd/github.go
  pkg/anago/release.go
  pkg/announce/github/consts.go
  pkg/announce/github/github.go
  pkg/announce/github/impl.go
  pkg/announce/github/options.go
  pkg/announce/sbom/impl.go
  pkg/announce/sbom/options.go
  pkg/announce/sbom/sbom.go
Due: post-release-push-image-k8s-ci-builder

Generate fake client for Announce interface
  pkg/announce/announcefakes/fake_impl.go
Due: post-release-push-image-k8s-ci-builder

Update FakeReleaseImpl (generated mock)
  pkg/anago/anagofakes/fake_release_impl.go
Due: post-release-push-image-k8s-ci-builder

Add implementation details to announce/github package
  cmd/publish-release/cmd/github.go
  pkg/anago/release.go
  pkg/announce/github/github.go
  pkg/announce/github/impl.go
Due: post-release-push-image-k8s-ci-builder

Generate mock implementation for pkg/announce/github
  pkg/announce/github/githubfakes/fake_impl.go
  pkg/announce/github/impl.go
Due: post-release-push-image-k8s-ci-builder

Add default implementation for pkg/announce/sbom
  cmd/publish-release/cmd/github.go
  pkg/announce/github/github.go
  pkg/announce/sbom/impl.go
  pkg/announce/sbom/sbom.go
Due: post-release-push-image-k8s-ci-builder

Generate mock implementation for pkg/announce/sbom
  pkg/announce/sbom/sbomfakes/fake_impl.go
Due: post-release-push-image-k8s-ci-builder

schedule-builder: Add markdown help
  cmd/schedule-builder/cmd/markdown.go
Due: post-release-push-image-k8s-ci-builder

Enable and fix `perfsprint` linter
  .golangci.yml
  cmd/gcbuilder/cmd/root.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/root.go
  cmd/publish-release/cmd/root.go
  cmd/release-notes/check.go
  cmd/schedule-builder/cmd/root.go
  pkg/anago/anago.go
  pkg/anago/stage.go
  pkg/announce/impl.go
  pkg/build/ci.go
  pkg/build/make.go
  pkg/gcp/build/build.go
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/history.go
  pkg/mail/mail.go
  pkg/mail/mail_test.go
  pkg/notes/document/document_test.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_v2.go
  pkg/obs/obs.go
  pkg/release/branch_checker.go
  pkg/release/release.go
  pkg/release/repository.go
Due: post-release-push-image-k8s-ci-builder

pkg/announce: make interface functions public and add tests
  pkg/announce/announce.go
  pkg/announce/announce_test.go
  pkg/announce/announcefakes/fake_impl.go
  pkg/announce/impl.go
Due: post-release-push-image-k8s-ci-builder

Mark text/template usage safe from yaml injection.
  cmd/schedule-builder/cmd/markdown.go
Due: post-release-push-image-k8s-ci-builder

Update golangci-lint to v1.58.0 and fix lints
  .github/workflows/lint.yml
  .golangci.yml
  dependencies.yaml
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.22.3 and 1.21.10
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

bump zeitgeist to v0.5.3
  hack/verify-dependencies.sh
Due: none

bump distroless to use go1.22.3 and go1.21.10
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update `schedule-builder` docs
  cmd/schedule-builder/README.md
Due: post-release-push-image-k8s-ci-builder

rebuild debian-base
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Build k8s-ci-builder and k8s-cloud-bulider with Go 1.22.3 for k/k main
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Fix error message for `err == nil`
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Build k8s-ci-builder and k8s-cloud-bulider with Go 1.21.10/1.22.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Avoid parent process if no log redirection is used
  images/build/go-runner/go-runner.go
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Fix path for kubelet.env file in deb package
  cmd/krel/templates/latest/kubelet/kubelet.spec
Due: post-release-push-image-k8s-ci-builder

Remove kubeadm >=1.32 dependency from crictl
  cmd/krel/templates/latest/metadata.yaml
Due: post-release-push-image-k8s-ci-builder

Fix version comparison for final version after RC
  pkg/release/publish.go
  pkg/release/publish_test.go
Due: post-release-push-image-k8s-ci-builder

Update k-sigs/release-utils to e30fa4b6f720
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Add version discovery for cri-tools and kubernetes-cni packages
  pkg/obs/specs/helpers.go
  pkg/obs/specs/impl.go
  pkg/obs/specs/pkgdef.go
  pkg/obs/specs/specsfakes/fake_impl.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.22.4 and 1.21.11
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

bump distroless to use go1.22.4 and go1.21.11
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

rebuild setcap with debian base bookworm-v1.0.3
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-setcap

Remove `ETCD_VERSION` refs from base-images
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Remove the dependency-review action
  .github/workflows/depsreview.yml
Due: none

Allow the dependency-review action to access api.deps.dev
  .github/workflows/depsreview.yml
Due: none

release-notes: add `--skip-first-commit`/`-s` option
  cmd/release-notes/README.md
  cmd/release-notes/generate.go
  go.mod
  go.sum
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.4 and 1.21.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder
