Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/

deploy the registry.k8s.io CDN in Fastly
  dns/zone-configs/k8s.dev._0_base.yaml
  infra/fastly/terraform/artifacts.k8s.io/main.tf
  infra/fastly/terraform/cdn.registry.k8s.dev/data.tf
  infra/fastly/terraform/cdn.registry.k8s.dev/main.tf
  infra/fastly/terraform/cdn.registry.k8s.dev/provider.tf
  infra/fastly/terraform/cdn/services.tf
  infra/fastly/terraform/cdn/variables.tf
  infra/fastly/terraform/cdn/vcl/binaries.vcl
  infra/fastly/terraform/cdn/vcl/s3-auth-multi.vcl
  infra/fastly/terraform/dl.k8s.io/main.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/main.tf
Due: post-k8s-deploy-registry, pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Bump TestGrid API memory limit.
  kubernetes/gke-prow/prow/testgrid.yaml
Due: k8sio-k8s-resources-verify

Promoting dra-driver-nvidia-gpu image and helm chart for the release v0.5.0
  registry.k8s.io/images/k8s-staging-dra-driver-nvidia/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote coredns to v1.14.7
  registry.k8s.io/images/k8s-staging-coredns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

bump argocd to v3.5.1
  kubernetes/gke-utility/argocd/argocd-cm.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
Due: k8sio-k8s-resources-verify

fix bugs in eks monitoring deployment
  kubernetes/apps/kustomization.yaml
  kubernetes/eks-prow-build/monitoring/lb.yaml
  kubernetes/eks-prow-build/monitoring/test-infra-dashboard.yaml
  kubernetes/gke-utility/helm/mimir.yaml
Due: k8sio-k8s-resources-verify

indent label for grafana dashboard correctly
  kubernetes/eks-prow-build/monitoring/test-infra-dashboard.yaml
Due: k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.37.0-rc.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for node-readiness-controller v0.5.0 / 0.5.0
  registry.k8s.io/images/k8s-staging-node-readiness-controller/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.36.4
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote ExternalDNS v0.22.0
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

feat: upgrade utility node to c4d
  infra/gcp/terraform/k8s-infra-prow/gke.tf
Due: none

Kueue: Promote v0.18.6
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote v0.19.2
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.34.11
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.35.8
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

groups: add jrvaldes to sig-windows-leads
  groups/sig-windows/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote dra-driver-google-tpu 0.2.0
  registry.k8s.io/images/k8s-staging-dra-driver-google/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

feat: grant gcp auditor role to myself
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

use bigger machines for mimir pods
  infra/gcp/terraform/k8s-infra-prow/gke.tf
  kubernetes/gke-utility/helm/mimir.yaml
  kubernetes/gke-utility/helm/monitoring.yaml
Due: k8sio-k8s-resources-verify

Bumping boskos and prow
  kubernetes/eks-prow-build/prow/boskos-janitor.yaml
  kubernetes/eks-prow-build/prow/boskos-reaper.yaml
  kubernetes/eks-prow-build/prow/boskos.yaml
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
  kubernetes/ibm-s390x/prow/boskos-janitor.yaml
  kubernetes/ibm-s390x/prow/boskos-reaper.yaml
  kubernetes/ibm-s390x/prow/boskos.yaml
Due: k8sio-k8s-resources-verify

bump atlantis to 0.47.1
  .atlantis.yaml
  kubernetes/gke-utility/atlantis/kustomization.yaml
Due: k8sio-k8s-resources-verify

switch to using fastly cdn for registy.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
  infra/fastly/terraform/cdn.registry.k8s.io/data.tf
  infra/fastly/terraform/cdn.registry.k8s.io/main.tf
  infra/fastly/terraform/cdn.registry.k8s.io/provider.tf
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

fix: grafana filtering and dashboard organisation
  kubernetes/gke-utility/monitoring/dashboards.yaml
  kubernetes/gke-utility/monitoring/dashboards/builds.json
  kubernetes/gke-utility/monitoring/dashboards/jobs.json
  kubernetes/gke-utility/monitoring/dashboards/organizations.json
  kubernetes/gke-utility/monitoring/dashboards/repositories.json
Due: k8sio-k8s-resources-verify

CAPO image promotions
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Push ibm-powervs-block-csi-driver v0.13.1
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-operator v0.29.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for sp-operator v1.0.1
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.37.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

groups: add fbalcera@google.com to k8s-infra-sig-scalability-oncall
  groups/sig-scalability/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

fix a bug with fastly cdn for registry.k8s.io
  infra/fastly/terraform/cdn/fastly-log-format.tftpl
  infra/fastly/terraform/cdn/services.tf
  infra/fastly/terraform/cdn/vcl/binaries.vcl
Due: none

Bumping boskos and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: k8sio-k8s-resources-verify

promote MCPLO 0.3.0 image to prod
  registry.k8s.io/images/k8s-staging-mcp-lifecycle-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.65.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote cpa images: v1.11.0 and v0.9.0
  registry.k8s.io/images/k8s-staging-cpa/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cloud-pv-vsphere v1.37.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws 2.65.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

update the digest of 0.0.8 image
  registry.k8s.io/images/k8s-staging-perf-tests/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote sandbox-router-go v1.0.0
  registry.k8s.io/images/k8s-staging-agent-sandbox/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
