Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-images, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-images: any of: ^test\/images\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

Fix AWS eventual consistency of AttachDisk
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Due: pull-kubernetes-godeps

All check for instanceID
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Due: pull-kubernetes-godeps

reformat(bazel): follow linter rule
  pkg/kubelet/prober/BUILD
  pkg/probe/BUILD
  pkg/probe/grpc/BUILD
  pkg/probe/grpc/grpc_test.go
Due: pull-kubernetes-local-e2e-containerized

tests(cleanup): stop server after test passed
  pkg/probe/grpc/grpc_test.go
Due: none

refactor(grpc): rename alias
  pkg/probe/grpc/grpc.go
  pkg/probe/grpc/grpc_test.go
Due: none

remotecommand: close resize channel for notification
  pkg/kubelet/server/remotecommand/httpstream.go
Due: pull-kubernetes-local-e2e-containerized

kube-apiserver should exit with error if not able to connect to etcd
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/etcd.go
Due: pull-kubernetes-godeps

Fix default conversion for pkg/runtime tests
  staging/src/k8s.io/apimachinery/pkg/runtime/embedded_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/testing/conversion.go
Due: pull-kubernetes-godeps

Promote e2e verifying service's session affinity behaviours
  test/conformance/testdata/conformance.yaml
  test/e2e/network/service.go
Due: pull-kubernetes-conformance-image-test

Fix GCE ILB for large clusters
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Due: pull-kubernetes-godeps

Move DescribeIng() into e2eingress
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/framework/util.go
  test/e2e/network/ingress.go
Due: none

WIP: operation key refactor for nestedpendingoperations
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/types/types.go
  pkg/volume/util/types/types_test.go
Due: none

Check Annotations map against nil for ConfigMapLock#Update()
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
Due: pull-kubernetes-godeps

Calico log with NetworkPolicy e2e stacked IpBlock
  e2e-calico.txt
Due: none

improve procfs.PidOf return error
  pkg/kubelet/cm/container_manager_linux.go
Due: pull-kubernetes-local-e2e-containerized

Staticcheck: vendor/k8s.io/kubectl/pkg/cmd/proxy|rollingupdate|scale|testing
  hack/.staticcheck_failures
  staging/src/k8s.io/kubectl/pkg/cmd/proxy/proxy.go
  staging/src/k8s.io/kubectl/pkg/cmd/scale/scale.go
  staging/src/k8s.io/kubectl/pkg/cmd/testing/fake.go
Due: pull-kubernetes-godeps

fix(prober): remove unused part of code
  pkg/kubelet/prober/prober.go
Due: pull-kubernetes-local-e2e-containerized

docs(grpc): better comment
  pkg/probe/grpc/grpc.go
Due: none

event pod event when node not ready
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/util/node/controller_utils.go
Due: none

Remove double `kubectl` from output
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec.go
Due: pull-kubernetes-godeps

mock tests: remove redundant retrieval of log output
  test/e2e/storage/csi_mock_volume.go
Due: none

mock tests: less verbose log output checking
  test/e2e/storage/csi_mock_volume.go
Due: none

Expose scheduler metric register function to make it possible for plugins to use it
  pkg/scheduler/metrics/metrics.go
Due: none

mock tests: add timeout
  test/e2e/storage/csi_mock_volume.go
Due: none

mock tests: remove redundant wrapping of error
  test/e2e/storage/csi_mock_volume.go
Due: none

mock tests: ResourceExhausted error handling in external-provisioner
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/drivers/csi.go
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
Due: none

cpumanager: drop old custom file backend
  pkg/kubelet/cm/cpumanager/state/BUILD
  pkg/kubelet/cm/cpumanager/state/state_compatibility_test.go
  pkg/kubelet/cm/cpumanager/state/state_file.go
  pkg/kubelet/cm/cpumanager/state/state_file_test.go
Due: pull-kubernetes-local-e2e-containerized

Avoid panic when reporting error in conformance test
  test/utils/deployment.go
Due: none

Assign CPUset for system reserved cgroup.
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/node_container_manager_linux.go
  pkg/kubelet/cm/types.go
Due: pull-kubernetes-local-e2e-containerized

cpumanager: test: add missing helper
  pkg/kubelet/cm/cpumanager/state/state_checkpoint_test.go
Due: pull-kubernetes-local-e2e-containerized

add SataQiu as a sig-network reviewer
  OWNERS_ALIASES
Due: none

remove duplicate ipvs check
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
Due: none

Stop relying on default conversions for metav1beta1
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/register.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/conversion.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/register.go
Due: pull-kubernetes-godeps

Move unstructured test to better place
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/BUILD
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructured_conversion_test.go
  staging/src/k8s.io/apimachinery/pkg/conversion/BUILD
  staging/src/k8s.io/apimachinery/pkg/conversion/unstructured/BUILD
Due: pull-kubernetes-godeps

Stop relying on default conversion in node e2e tests
  test/e2e/framework/kubelet/BUILD
  test/e2e/framework/kubelet/config.go
Due: none

[VOLUME] add list nullptr dereference
  pkg/volume/testing/testing.go
Due: none

fail-fast on missing FlowControl apis in discovery
  staging/src/k8s.io/apiserver/pkg/server/BUILD
  staging/src/k8s.io/apiserver/pkg/server/config.go
Due: pull-kubernetes-godeps

Skip updating cache on pod update if the node was deleted
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
Due: none

add flag check to ensure that flowcontrol API is present
  cmd/kube-apiserver/app/options/BUILD
  cmd/kube-apiserver/app/options/validation.go
Due: none
