Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)|(^.go-version)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)|(^.go-version)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)|(^.go-version)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-conformance-parallel-ga-only: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-dual-stack-ipv4-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-32: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-31: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-30: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-29: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-28: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)

bump crictl to 1.33
  images/base/Dockerfile
Due: post-kind-push-base-image

whitespace fixup
  site/content/docs/user/known-issues.md
Due: none

use daemon.json config instead of CLI
  site/content/docs/user/known-issues.md
Due: none

make IP conflict doc more general
  site/content/docs/user/known-issues.md
Due: none

chore: bump base image to v20250506-ce37e374 with cni plugin 1.7.1
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump kindnet dependencies
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image

bump distroless-iptables image
  images/kindnetd/Dockerfile
Due: post-kind-push-kindnetd-image

update kindnet manifest
  pkg/build/nodeimage/const_cni.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update containerd and runc
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump kindnet image
  pkg/build/nodeimage/const_cni.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

remove toolchain
  images/kindnetd/go.mod
Due: post-kind-push-kindnetd-image

default to staging registry
  hack/release/build/push-node.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Update default image to use v1.33.1
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

version v0.28.0
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

version v0.29.0-alpha
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Update docs for v0.28.0
  README.md
  site/config.toml
Due: none

upgrade containerd to 2.1.1
  images/base/Dockerfile
Due: post-kind-push-base-image

use staging node image
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

switch to promoted v1.33.1 with containerd 2.1.1 node image
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

version v0.29.0
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

version v0.30.0-alpha
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update install docs for v0.29.0
  README.md
  site/config.toml
Due: none

fix builds with relative kubernetes-source paths
  pkg/build/nodeimage/internal/kube/builder_docker.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

switch to k8s-infra hosted image for staging builds
  hack/ci/push-latest-cli/cloudbuild.yaml
  images/base/cloudbuild.yaml
  images/haproxy/cloudbuild.yaml
  images/kindnetd/cloudbuild.yaml
  images/local-path-helper/cloudbuild.yaml
  images/local-path-provisioner/cloudbuild.yaml
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump go to latest
  .go-version
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Add in a variable for cluster-name
  site/static/examples/kind-with-registry.sh
Due: none

update kubelet server IP on reboot
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

bump containerd to 2.1.3
  images/base/Dockerfile
Due: post-kind-push-base-image

loadbalancer/config: Parse resolv.conf for DNS
  pkg/cluster/internal/loadbalancer/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

tag with git hash
  images/Makefile.common.in
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

Drop usages sigs.k8s.io/yaml/goyaml.v3
  go.mod
  go.sum
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/encode.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/read.go
  pkg/internal/apis/config/encoding/load.go
  pkg/internal/patch/toml.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

feat: speed up ci
  .github/workflows/vm.yaml
Due: none

bump node image to 1.33.2 with latest base image changes
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

upgrade containerd to 2.1.4
  images/base/Dockerfile
Due: post-kind-push-base-image

update containerd fuse overlayfs to 2.1.6
  images/base/Dockerfile
Due: post-kind-push-base-image
