Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-images, pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-images:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20190927-21e0205
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
      - --env-passthrough=PULL_BASE_REF
      - --build-dir=.
  ...

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20191115-95b1cd9
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

Fix static check failures in test/integration/deployment
  hack/.staticcheck_failures
  test/integration/deployment/BUILD
  test/integration/deployment/util.go
Due: none

switch log verbosity for cache refresh logs
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Due: pull-kubernetes-godeps

set nil cache entry based on old cache
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Due: pull-kubernetes-godeps

Cleanup validation for immutable secrets/configmaps
  pkg/apis/core/validation/validation.go
Due: none

Support timeout option when pulling image.
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
Due: pull-kubernetes-godeps

update existing import-restrictions files
  cmd/kubeadm/.import-restrictions
  pkg/cloudprovider/providers/.import-restrictions
  pkg/controller/.import-restrictions
  pkg/printers/.import-restrictions
  pkg/printers/internalversion/.import-restrictions
Due: pull-kubernetes-e2e-kubeadm-gce

add staging directories to import-boss verify script
  hack/verify-generated-protobuf.sh
  hack/verify-import-boss.sh
  staging/src/k8s.io/code-generator/cmd/import-boss/main.go
Due: pull-kubernetes-godeps

add import-restrictions to apiextensions-apiserver/pkg/apis,v1 and v1beta1
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/.import-restrictions
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/.import-restrictions
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/.import-restrictions
Due: pull-kubernetes-godeps

bump gengo version
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/gengo/args/args.go
  vendor/k8s.io/gengo/examples/defaulter-gen/generators/defaulter.go
  vendor/k8s.io/gengo/examples/import-boss/generators/BUILD
  vendor/k8s.io/gengo/examples/import-boss/generators/import_restrict.go
  vendor/k8s.io/gengo/generator/BUILD
  vendor/k8s.io/gengo/generator/default_package.go
  vendor/k8s.io/gengo/generator/execute.go
  vendor/k8s.io/gengo/generator/generator.go
  vendor/k8s.io/gengo/generator/import_tracker.go
  vendor/k8s.io/gengo/generator/transitive_closure.go
  vendor/k8s.io/gengo/namer/order.go
  vendor/k8s.io/gengo/parser/parse.go
  vendor/k8s.io/gengo/types/types.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Fix a bug that ipvs proxier doesn't discover secondary IP on an interface
  pkg/proxy/ipvs/BUILD
  pkg/proxy/ipvs/netlink_linux.go
  pkg/proxy/ipvs/netlink_test.go
  pkg/proxy/ipvs/netlink_unsupported.go
  pkg/proxy/ipvs/proxier.go
Due: none

TEST
  pkg/features/kube_features.go
Due: none

Kubelet logic
  pkg/kubelet/configmap/configmap_manager.go
  pkg/kubelet/secret/secret_manager.go
  pkg/kubelet/util/manager/BUILD
  pkg/kubelet/util/manager/watch_based_manager.go
  pkg/kubelet/util/manager/watch_based_manager_test.go
  test/integration/kubelet/watch_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

Run test
  test/e2e/common/configmap_volume.go
  test/e2e/common/secrets_volume.go
Due: none

Fixed a failing test on a RBD mount scenario
  pkg/volume/rbd/rbd_test.go
Due: none

fix apiextensions reference in controller/clusterauthenticationtrust
  pkg/master/controller/clusterauthenticationtrust/BUILD
  pkg/master/controller/clusterauthenticationtrust/cluster_authentication_trust_controller.go
Due: none

Skip default spreading scoring plugin for pods that define TopologySpreadConstraints
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread_test.go
Due: none

Experiment with runc override
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

PROPOSED: Allow mutable IPFamily for DNS-based services
  pkg/apis/core/validation/conditional_validation.go
  pkg/apis/core/validation/conditional_validation_test.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
Due: none

Allow IPFamily to be cleared when flag is off
  pkg/apis/core/validation/conditional_validation.go
  pkg/apis/core/validation/conditional_validation_test.go
Due: none

service: Handle single stack service errors when dual-stack flag enabled
  pkg/apis/core/validation/conditional_validation.go
  pkg/apis/core/validation/conditional_validation_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/service/BUILD
  pkg/registry/core/service/storage/BUILD
  pkg/registry/core/service/storage/rest.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
Due: none

Add apiVersion to involvedObject
  pkg/controller/util/node/controller_utils.go
Due: none

Clarify sha matching etcd release tag
  go.mod
Due: none

Refactor operation keys for NestedPendingOperations
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
Due: none

Parallelize attach operations across different nodes for volumes that allow multi-attach
  pkg/controller/volume/attachdetach/reconciler/BUILD
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/nestedpendingoperations/BUILD
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/util.go
Due: pull-kubernetes-local-e2e-containerized

Implement RawConfig of DirectClientConfig
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
Due: pull-kubernetes-godeps

Whitelisting *.pkg.dev for the GCP credential provider
  pkg/credentialprovider/gcp/metadata.go
  pkg/credentialprovider/gcp/metadata_test.go
Due: none

Revise test infrastructure for behavioral tests
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/filterconfig/digest_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/filterconfig/gen_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/filterconfig/match_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/filterconfig/rule.go
Due: pull-kubernetes-godeps

Register RunPodSandbox* metrics
  pkg/kubelet/metrics/metrics.go
Due: pull-kubernetes-local-e2e-containerized

Attach a new finalizer in GCE ILB creation.
  cluster/gce/addons/loadbalancing/cloud-provider-role.yaml
  pkg/controller/service/controller.go
  staging/src/k8s.io/legacy-cloud-providers/gce/BUILD
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_util.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_util_test.go
Due: pull-kubernetes-e2e-gke, pull-kubernetes-godeps

Update get-build.sh
  hack/get-build.sh
Due: none

Update GCE Windows smoke-test script to work with 1909 nodes.
  cluster/gce/windows/README-GCE-Windows-kube-up.md
  cluster/gce/windows/smoke-test.sh
Due: pull-kubernetes-e2e-gke

Path conditions:
  post-kubernetes-push-images: any of: ^test\/images\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
