Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

debian-base: Update dependents to use bullseye-v1.2.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables, pull-release-image-setcap

update go.sum
  go.sum
Due: post-release-push-image-k8s-ci-builder

update cosign image to use release v1.7.1
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

use the public key hosted in the github repo instead of a copy
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/distroless-cosign.pub
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

sync go mod with `go mod tidy -compat=1.17`
  go.sum
Due: post-release-push-image-k8s-ci-builder

Correct git config instructions re: CNCF CLA email
  docs/krel/release-notes.md
Due: none

Included dependency review action
  .github/workflows/depsreview.yml
Due: none

.github: Harden dependency review action workflow
  .github/workflows/depsreview.yml
Due: none

update cosign image to use release v1.7.2
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

kubepkg: stop restarting kubelet inside kubeadm
  cmd/kubepkg/templates/latest/deb/kubeadm/debian/postinst
Due: post-release-push-image-k8s-ci-builder

kubepkg: loosen dependencies in packaging
  cmd/kubepkg/templates/latest/deb/kubeadm/debian/control
  cmd/kubepkg/templates/latest/rpm/kubeadm/kubeadm.spec
Due: post-release-push-image-k8s-ci-builder

build using go 1.18.1
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

build Go 1.18.1 and 1.17.9 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

sync go modules with go mod tidy -compat=1.17
  go.sum
Due: post-release-push-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: build using go1.18.1 and go1.17.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

notes_v2: Handle release notes for cherry-pick PRs
  pkg/notes/notes_v2.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

Set list-v2 default
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/main.go
Due: post-release-push-image-k8s-ci-builder

Add new flag list-v1 for enabling v1 implementation. Remove list-v2 flag as it is default now.
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/main.go
  pkg/notes/notes.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

Update expected changelog HTML for 1.16.3 patch
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

Update testdata for v1.16.3 to use ListV2 impl
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-0.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-1.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-10.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-11.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-12.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-13.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-14.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-15.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-16.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-17.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-18.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-19.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-2.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-20.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-21.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-22.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-23.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-24.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-25.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-26.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-27.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-28.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-29.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-3.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-30.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-31.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-32.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-33.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-34.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-35.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-36.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-37.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-38.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-4.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-5.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-6.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-7.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-8.json
  cmd/krel/cmd/testdata/changelog-v1.16.3/GetPullRequest-9.json
Due: post-release-push-image-k8s-ci-builder

Update expected markdown content for v1.16.3
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

Fix fastforward git user configuration
  pkg/fastforward/fastforward.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
Due: post-release-push-image-k8s-ci-builder

Downgrade logs to debug
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

Fixup linter warnings
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

Ignore lint error on errcheck
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

Ignore CHANGELOG.json files from tests
  .gitignore
Due: none

Add record/replay awareness to changelog.defaultImpl
  pkg/changelog/changelog.go
  pkg/changelog/impl.go
Due: post-release-push-image-k8s-ci-builder

Rewrite history to show list tags in the past
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-0.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-1.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-10.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-11.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-12.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-13.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-14.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-15.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-16.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-17.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-2.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-3.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-4.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-5.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-6.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-7.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-8.json
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/ListTags-9.json
Due: post-release-push-image-k8s-ci-builder

Update release notes based on current state
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

sync go mod with go mod tidy -compat=1.17
  go.sum
Due: post-release-push-image-k8s-ci-builder

Use sigs.k8s.io/release-sdk with `ListTag` replay
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Update testdata for v1.16.0-rc.1 to use ListV2 impl
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-0.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-1.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-10.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-11.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-2.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-3.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-4.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-5.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-6.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-7.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-8.json
  cmd/krel/cmd/testdata/changelog-v1.16.0-rc.1/ListTags-9.json
Due: post-release-push-image-k8s-ci-builder

Print go version before testing
  hack/test-go-integration.sh
Due: none

Update CHANGELOG assertion to be definitive.
  cmd/krel/cmd/changelog_data_test.go
  cmd/krel/cmd/changelog_test.go
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
