Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

Add registry.k8s.io generate audit script
  registry.k8s.io/hack/generate-audit.sh
Due: none

Fix linting
  registry.k8s.io/hack/generate-audit.sh
Due: none

Promote kOps 1.24.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.24.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.3.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

audit: update as of 2022-09-16
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
Due: none

promoting images with go191
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote external attacher image for v4.0.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

remove non existing image hashes from staging repo
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Mark the iscsiplugin issue as resolved in generate script
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
Due: none

audit: update as of 2022-09-19
  audit/projects/k8s-staging-ingressconformance/services/logging/logs.json
  audit/projects/k8s-staging-win-op-rdnss/services/logging/logs.json
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

Image promotion for cluster-api-do v1.1.3
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-gcp v1.1.2
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add attacher image
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.25.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.25.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.0.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

Update NP-api dns name
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

audit: update as of 2022-09-20
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/k8s-release-test-prod/services/logging/logs.json
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

Add jeremy to infra editors
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Drop temporary RM access for ameukam
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Drop temporary RM access for jimangel
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Shutdown greenhouse:
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/default/greenhouse-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/default/greenhouse-metrics-service.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/default/greenhouse-service.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/default/greenhouse-storage.yaml
Due: k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.26.0-alpha.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-09-21
  audit/projects/k8s-staging-kmm/buckets/artifacts.k8s-staging-kmm.appspot.com/iam.json
  audit/projects/k8s-staging-kmm/buckets/artifacts.k8s-staging-kmm.appspot.com/logging.json
  audit/projects/k8s-staging-kmm/buckets/artifacts.k8s-staging-kmm.appspot.com/metadata.txt
  audit/projects/k8s-staging-kmm/buckets/k8s-staging-kmm-gcb/iam.json
  audit/projects/k8s-staging-kmm/buckets/k8s-staging-kmm-gcb/lifecycle.json
  audit/projects/k8s-staging-kmm/buckets/k8s-staging-kmm-gcb/metadata.txt
  audit/projects/k8s-staging-kmm/buckets/k8s-staging-kmm/iam.json
  audit/projects/k8s-staging-kmm/buckets/k8s-staging-kmm/lifecycle.json
  audit/projects/k8s-staging-kmm/buckets/k8s-staging-kmm/logging.json
  audit/projects/k8s-staging-kmm/buckets/k8s-staging-kmm/metadata.txt
  audit/projects/k8s-staging-kmm/description.json
  audit/projects/k8s-staging-kmm/iam.json
  audit/projects/k8s-staging-kmm/services/enabled.txt
  audit/projects/k8s-staging-kmm/services/logging/logs.json
  audit/projects/k8s-staging-kmm/services/logging/sinks.json
Due: none

Promote kOps 1.26.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.26.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.0-alpha.1.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.22.15 / v1.22.16-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.23.12 / v1.23.13-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.24.6 / v1.24.7-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.25.2 / v1.25.3-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2022-09-22
  audit/projects/k8s-staging-publishing-bot/services/logging/logs.json
Due: none

Add cici37 to infra editors
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

serve images from GCR
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/cloud-armor.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/network.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/prod.auto.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/variables.tf
Due: none

fix typos
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/variables.tf
Due: none

Add a secret for enhancements subproject
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Due: k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Add self to k8s.gcr.io/k8s-staging-provider-aws/aws-ebs-csi-driver OWNERS
  k8s.gcr.io/images/k8s-staging-provider-aws/OWNERS
Due: none
