Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

new e2e-test-runner image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.24.0-beta.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.24.0-beta.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-beta.3.yaml
Due: pull-k8sio-file-promo, k8sio-k8s-resources-verify

audit: update as of 2022-06-26
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20220623.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20220627.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-oci-proxy/services/logging/logs.json
  audit/projects/k8s-release-test-prod/services/logging/logs.json
  audit/projects/k8s-staging-artifact-promoter/services/enabled.txt
  audit/projects/k8s-staging-build-image/services/enabled.txt
  audit/projects/k8s-staging-ci-images/services/enabled.txt
  audit/projects/k8s-staging-cip-test/services/enabled.txt
  audit/projects/k8s-staging-csi-secrets-store/services/logging/logs.json
  audit/projects/k8s-staging-experimental/buckets/artifacts.k8s-staging-experimental.appspot.com/metadata.txt
  audit/projects/k8s-staging-experimental/buckets/k8s-artifacts-system-packages-sandbox/iam.json
  audit/projects/k8s-staging-experimental/buckets/k8s-artifacts-system-packages-sandbox/metadata.txt
  audit/projects/k8s-staging-experimental/buckets/k8s-staging-experimental/metadata.txt
  audit/projects/k8s-staging-experimental/services/enabled.txt
  audit/projects/k8s-staging-kubernetes/services/enabled.txt
  audit/projects/k8s-staging-kubetest2/services/logging/logs.json
  audit/projects/k8s-staging-publishing-bot/services/enabled.txt
  audit/projects/k8s-staging-releng-test/services/enabled.txt
  audit/projects/k8s-staging-releng/buckets/artifacts.k8s-staging-releng.appspot.com/metadata.txt
  audit/projects/k8s-staging-releng/services/enabled.txt
Due: none

Image promotion for cluster-api v1.2.0-beta.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

rewrite terraform code
  infra/gcp/terraform/k8s-infra-oci-proxy/network.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/oci-proxy-sandbox.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/provider.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/sandbox.auto.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy/terraform.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy/variables.tf
Due: none

fix typos
  infra/gcp/terraform/k8s-infra-oci-proxy/oci-proxy-sandbox.tf
Due: none

Adding myelf to infra-release-editors to cut alpha2
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

push 1.2.7 filestore csi image to k8s prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote EBS CSI driver v1.8.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Adding stating repo for k8s-staging-testgrid-json-exporter
  .gitignore
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-testgrid-json-exporter/OWNERS
  k8s.gcr.io/images/k8s-staging-testgrid-json-exporter/images.yaml
  k8s.gcr.io/manifests/k8s-staging-testgrid-json-exporter/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

rn testgrid-json-exporter to testgrid-exporter
  .gitignore
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-testgrid-exporter/OWNERS
  k8s.gcr.io/images/k8s-staging-testgrid-exporter/images.yaml
  k8s.gcr.io/manifests/k8s-staging-testgrid-exporter/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-testgrid-json-exporter/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

rn email
  groups/sig-release/groups.yaml
  k8s.gcr.io/manifests/k8s-staging-testgrid-exporter/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

rn testgrid-json-exporter to tg-exporter
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-tg-exporter/OWNERS
  k8s.gcr.io/images/k8s-staging-tg-exporter/images.yaml
  k8s.gcr.io/manifests/k8s-staging-tg-exporter/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

ad myself
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

releng: Image promotion for kubernetes v1.25.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Revoke temp access after release cut
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Bump cluster-api-ibmcloud-controller:v0.2.3 image
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Fix length of project name for cloud provider openstack (<=30)
  groups/restrictions.yaml
  groups/sig-cloud-provider/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-cloud-provider-os/OWNERS
  k8s.gcr.io/images/k8s-staging-cloud-provider-os/images.yaml
  k8s.gcr.io/manifests/k8s-staging-cloud-provider-openstack/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cloud-provider-os/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

add verify-gcp-projects-id.sh hack script
  hack/verify-gcp-projects-id.sh
Due: none

Promote kOps 1.25.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.25.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.0-alpha.1.yaml
Due: pull-k8sio-file-promo, k8sio-k8s-resources-verify

Promote various sidecar releases
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add registry.k8s.io AWS account structure docs
  registry.k8s.io/README.md
  registry.k8s.io/registry-k8s-io-account-structure.svg
Due: none

Update image embed
  registry.k8s.io/README.md
Due: none

Add registry-k8s-io-account-structure.dot
  registry.k8s.io/registry-k8s-io-account-structure.dot
Due: none

promote debian-base bullseye-1.4.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

kubernetes-csi: promote external-provisioner v3.2.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

audit: update as of 2022-07-02
  audit/projects/k8s-gcr-audit-test-prod/services/logging/logs.json
  audit/projects/k8s-infra-ii-sandbox/buckets/k8s-infra-ii-sandbox_cloudbuild/iam.json
  audit/projects/k8s-infra-ii-sandbox/buckets/k8s-infra-ii-sandbox_cloudbuild/metadata.txt
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-staging-boskos/services/logging/logs.json
  audit/projects/k8s-staging-capi-cloudstack/buckets/artifacts.k8s-staging-capi-cloudstack.appspot.com/iam.json
  audit/projects/k8s-staging-capi-cloudstack/buckets/artifacts.k8s-staging-capi-cloudstack.appspot.com/logging.json
  audit/projects/k8s-staging-capi-cloudstack/buckets/artifacts.k8s-staging-capi-cloudstack.appspot.com/metadata.txt
  audit/projects/k8s-staging-capi-cloudstack/buckets/k8s-staging-capi-cloudstack-gcb/iam.json
  audit/projects/k8s-staging-capi-cloudstack/buckets/k8s-staging-capi-cloudstack-gcb/lifecycle.json
  audit/projects/k8s-staging-capi-cloudstack/buckets/k8s-staging-capi-cloudstack-gcb/metadata.txt
  audit/projects/k8s-staging-capi-cloudstack/buckets/k8s-staging-capi-cloudstack/iam.json
  audit/projects/k8s-staging-capi-cloudstack/buckets/k8s-staging-capi-cloudstack/lifecycle.json
  audit/projects/k8s-staging-capi-cloudstack/buckets/k8s-staging-capi-cloudstack/logging.json
  audit/projects/k8s-staging-capi-cloudstack/buckets/k8s-staging-capi-cloudstack/metadata.txt
  audit/projects/k8s-staging-capi-cloudstack/description.json
  audit/projects/k8s-staging-capi-cloudstack/iam.json
  audit/projects/k8s-staging-capi-cloudstack/services/enabled.txt
  audit/projects/k8s-staging-capi-cloudstack/services/logging/logs.json
  audit/projects/k8s-staging-capi-cloudstack/services/logging/sinks.json
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack-gcb/iam.json
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack/iam.json
  audit/projects/k8s-staging-tg-exporter/buckets/artifacts.k8s-staging-tg-exporter.appspot.com/iam.json
  audit/projects/k8s-staging-tg-exporter/buckets/artifacts.k8s-staging-tg-exporter.appspot.com/logging.json
  audit/projects/k8s-staging-tg-exporter/buckets/artifacts.k8s-staging-tg-exporter.appspot.com/metadata.txt
  audit/projects/k8s-staging-tg-exporter/buckets/k8s-staging-tg-exporter-gcb/iam.json
  audit/projects/k8s-staging-tg-exporter/buckets/k8s-staging-tg-exporter-gcb/lifecycle.json
  audit/projects/k8s-staging-tg-exporter/buckets/k8s-staging-tg-exporter-gcb/metadata.txt
  audit/projects/k8s-staging-tg-exporter/buckets/k8s-staging-tg-exporter/iam.json
  audit/projects/k8s-staging-tg-exporter/buckets/k8s-staging-tg-exporter/lifecycle.json
  audit/projects/k8s-staging-tg-exporter/buckets/k8s-staging-tg-exporter/logging.json
  audit/projects/k8s-staging-tg-exporter/buckets/k8s-staging-tg-exporter/metadata.txt
  audit/projects/k8s-staging-tg-exporter/description.json
  audit/projects/k8s-staging-tg-exporter/iam.json
  audit/projects/k8s-staging-tg-exporter/services/enabled.txt
  audit/projects/k8s-staging-tg-exporter/services/logging/logs.json
  audit/projects/k8s-staging-tg-exporter/services/logging/sinks.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

add smbplugin, nfsplugin into the prod image list
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Image promotion for cluster-api v1.2.0-beta.2
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Image promotion for cluster-api v1.1.5
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

promote debian-iptables bullseye-v1.5.0 and setcap bullseye-v1.4.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2022-07-05
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

Add docs for manually syncing the registry.k8s.io S3 buckets
  registry.k8s.io/MANUALLY_SYNCING_BUCKETS.md
Due: none

audit: update as of 2022-07-06
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/k8s-infra-sandbox-capg/iam.json
  audit/projects/k8s-infra-sandbox-capg/services/compute/project-info.json
  audit/projects/k8s-infra-sandbox-capg/services/enabled.txt
  audit/projects/k8s-infra-sandbox-capg/services/pubsub/topics.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

Image promotion for artifact-promoter v3.4.4-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo
