Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

post-ingress-nginx-cfssl:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-custom-error-pages:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-e2e-test-echo:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-fastcgi-helloserver:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-httpbun:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-kube-webhook-certgen:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-test-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Deploy GitHub Pages
  developer-guide/getting-started/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Add helm-test Makefile target running unit tests
  Makefile
  docs/developer-guide/getting-started.md
Due: none

Hack: Bump `golangci-lint` to v2.3.0. (#13655)
  hack/verify-golint.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Hack: Bump `golangci-lint` to v2.3.0. (#13656)
  hack/verify-golint.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Docs: Update prerequisites in `getting-started.md`. (#13657)
  docs/developer-guide/getting-started.md
Due: none

Docs: Update prerequisites in `getting-started.md`. (#13658)
  docs/developer-guide/getting-started.md
Due: none

Make: Add `helm-test` target. (#13659)
  Makefile
  docs/developer-guide/getting-started.md
Due: none

Make: Add `helm-test` target. (#13660)
  Makefile
  docs/developer-guide/getting-started.md
Due: none

Docs: Fix links and formatting in user guide. (#13654)
  docs/user-guide/basic-usage.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
  user-guide/nginx-configuration/configmap/index.html
Due: none

Docs: fix links and formatting in user guide Markdown files
  docs/user-guide/basic-usage.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Docs: Fix links and formatting in user guide. (#13661)
  docs/user-guide/basic-usage.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Docs: Fix links and formatting in user guide. (#13662)
  docs/user-guide/basic-usage.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Docs: Use HTTPS for NGINX links. (#13653)
  NEW_CONTRIBUTOR.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/authreq/main.go
  internal/ingress/annotations/ratelimit/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/util.go
  internal/ingress/defaults/main.go
  internal/nginx/main.go
  rootfs/etc/nginx/lua/util/split.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Fix link hashes, brackets
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/defaults/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Change HTTP nginx site links to HTTPS
  NEW_CONTRIBUTOR.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/authreq/main.go
  internal/ingress/annotations/ratelimit/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/util.go
  internal/ingress/defaults/main.go
  internal/nginx/main.go
  rootfs/etc/nginx/lua/util/split.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Docs: Use HTTPS for NGINX links. (#13663)
  NEW_CONTRIBUTOR.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/authreq/main.go
  internal/ingress/annotations/ratelimit/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/util.go
  internal/ingress/defaults/main.go
  internal/nginx/main.go
  rootfs/etc/nginx/lua/util/split.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Docs: Use HTTPS for NGINX links.
  NEW_CONTRIBUTOR.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/authreq/main.go
  internal/ingress/annotations/ratelimit/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/util.go
  internal/ingress/defaults/main.go
  internal/nginx/main.go
  rootfs/etc/nginx/lua/util/split.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Docs: Use HTTPS for NGINX links. (#13664)
  NEW_CONTRIBUTOR.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/authreq/main.go
  internal/ingress/annotations/ratelimit/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/util.go
  internal/ingress/defaults/main.go
  internal/nginx/main.go
  rootfs/etc/nginx/lua/util/split.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Controller: Fix SSL session ticket path.
  rootfs/Dockerfile
Due: none

Controller: Fix SSL session ticket path. (#13665)
  rootfs/Dockerfile
Due: none

Controller: Fix SSL session ticket path. (#13668)
  rootfs/Dockerfile
Due: none

Controller: Fix SSL session ticket path. (#13667)
  rootfs/Dockerfile
Due: none

NGINX: Disable mimalloc's architecture specific optimizations.
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

NGINX: Disable mimalloc's architecture specific optimizations. (#13669)
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

NGINX: Disable mimalloc's architecture specific optimizations. (#13670)
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

NGINX: Disable mimalloc's architecture specific optimizations. (#13671)
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Chart: Push to OCI registry.
  charts/Makefile
  charts/ingress-nginx/cloudbuild.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Images: Hack HTTPBun to trigger chart push.
  images/httpbun/cloudbuild.yaml
Due: post-ingress-nginx-httpbun

HTTP/3 Helm Chart - new variables, tests
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/controller-networkpolicy.yaml
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/controller-networkpolicy_test.yaml
  charts/ingress-nginx/tests/controller-service-internal_test.yaml
  charts/ingress-nginx/tests/controller-service_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

HTTP/3 change `use-http3` config to `enable-quic` flag to not make braking changes (for deployment where 443 UDP port is not available)
  build/dev-env.sh
  docs/user-guide/cli-arguments.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/template.go
  pkg/flags/flags.go
  test/data/config.json
  test/e2e/settings/http3.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

HTTP/3 generate Helm Readme, fix golint issues
  charts/ingress-nginx/README.md
  internal/net/net_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

HTTP/3 fix UDP port availability check
  internal/net/net.go
  internal/net/net_test.go
  pkg/flags/flags.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

HTTP/3 disable UDP ports by default
  build/dev-env.sh
  charts/ingress-nginx/README.md
  charts/ingress-nginx/tests/controller-daemonset_test.yaml
  charts/ingress-nginx/tests/controller-deployment_test.yaml
  charts/ingress-nginx/tests/controller-networkpolicy_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$
