Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
      - make e2e-bootstrap e2e-helm-deploy-release e2e-vault
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcp-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

test: add make target for installing chart releases
  Makefile
Due: none

ci: add helm deploy target for windows tests
  Makefile
Due: none

fix: prevent duplicate owner references
  controllers/secretproviderclasspodstatus_controller.go
  controllers/secretproviderclasspodstatus_controller_test.go
  test/bats/azure.bats
  test/bats/vault.bats
Due: none

dial: grpc naming is not compatible with windows unix socket
  pkg/secrets-store/provider_client.go
  test/bats/azure.bats
Due: none

chore: update servercore reference to windows-servercore-cache
  Makefile
  docker/BASEIMAGE_CORE
  docker/windows.Dockerfile
Due: secrets-store-csi-driver-push-image

test: update tests to use multi-os image
  test/bats/azure.bats
  test/bats/gcp.bats
  test/bats/tests/azure/deployment-synck8s-azure.yaml
  test/bats/tests/azure/deployment-two-synck8s-azure.yaml
  test/bats/tests/azure/pod-azure-inline-volume-multiple-spc.yaml
  test/bats/tests/azure/pod-secrets-store-inline-volume-crd.yaml
  test/bats/tests/azure/rotation/pod-synck8s-azure.yaml
  test/bats/tests/gcp/pod-secrets-store-inline-volume-crd.yaml
  test/bats/tests/vault/deployment-synck8s.yaml
  test/bats/tests/vault/deployment-two-synck8s.yaml
  test/bats/tests/vault/pod-vault-inline-volume-multiple-spc.yaml
  test/bats/tests/vault/pod-vault-inline-volume-secretproviderclass.yaml
  test/bats/vault.bats
Due: none

docs: use multi-os image for examples and update urls
  docs/book/src/getting-started/usage.md
  docs/book/src/topics/set-as-env-var.md
  docs/book/src/topics/sync-as-kubernetes-secret.md
  sample/ingress-controller-tls/README.md
Due: none

feat: allow providers to have the driver write files
  pkg/errors/errors.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
  pkg/test_utils/tmpdir/tmpdir.go
  pkg/util/fileutil/filesystem.go
  pkg/util/fileutil/filesystem_test.go
  pkg/util/fileutil/writer.go
  pkg/util/fileutil/writer_test.go
  provider/fake/fake_server.go
  provider/v1alpha1/service.pb.go
  provider/v1alpha1/service.proto
Due: none

chore: bump version to v0.0.21
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

chore: update debian base to buster-v1.5.0
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

docs: add load test spec and results
  docs/book/src/SUMMARY.md
  docs/book/src/load-tests.md
  docs/design/README.md
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: none

release: update manifest and helm charts for v0.0.21
  Makefile
  charts/index.yaml
  charts/secrets-store-csi-driver-0.0.21.tgz
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/csidriver-1.15.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docs/book/src/load-tests.md
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: fix indentation in load tests
  docs/book/src/load-tests.md
Due: none

docs: add test scenarios currently supported
  test/README.md
Due: none

feat: add optional healtcheck for provider plugins
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Added Pod Security Policy to the chart
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/_helpers.tpl
  manifest_staging/charts/secrets-store-csi-driver/templates/podsecuritypolicy.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

node affinity now prevents CSI driver from being scheduled on a node with a label 'type=virtual-kublet'
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: install to kube-system & best-practices
  docs/book/src/SUMMARY.md
  docs/book/src/getting-started/installation.md
  docs/book/src/getting-started/upgrades.md
  docs/book/src/topics/best-practices.md
Due: none

fix: GetMountedFiles() returns map that key includes sub directory
  pkg/util/fileutil/filesystem.go
  pkg/util/fileutil/filesystem_test.go
Due: none

Add AWS Provider
  docs/book/src/introduction.md
Due: none

fix: updates CSIDriver api ver to storage.k8s.io/v1
  manifest_staging/deploy/csidriver.yaml
Due: none

vault: include nested path in secret sync
  test/bats/tests/vault/vault_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/vault.bats
Due: none

chore: update to using k8s.io/mount-utils
  go.mod
  go.sum
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
Due: none

cleanup: remove windows file deletion on unmount
  pkg/secrets-store/nodeserver.go
Due: none

feat: allow maxCallRecvMsgSize to be increased for large secret mounts
  cmd/secrets-store-csi-driver/main.go
  docs/book/src/troubleshooting.md
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  pkg/secrets-store/provider_client.go
  pkg/secrets-store/provider_client_test.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Move CRDs files into crds directory
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/crds.yaml
  charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: update sidecar images and set imagePullPolicy to IfNotPresent
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  test/bats/tests/vault/vault.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: include nested path in secret sync
  test/bats/azure.bats
  test/bats/tests/azure/azure_synck8s_v1alpha1_secretproviderclass.yaml
Due: none

vendor atomic_writer and use it to write files returned by grpc
  pkg/secrets-store/provider_client_test.go
  pkg/util/fileutil/atomic_writer.go
  pkg/util/fileutil/atomic_writer_test.go
  pkg/util/fileutil/filesystem.go
  pkg/util/fileutil/filesystem_test.go
  pkg/util/fileutil/writer.go
  pkg/util/fileutil/writer_test.go
Due: none

test: include nested path in secret sync and update vault suite
  Makefile
  test/bats/tests/vault/vault.yaml
  test/bats/tests/vault/vault_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1alpha1_secretproviderclass.yaml
  test/bats/tests/vault/vault_v1alpha1_secretproviderclass_ns.yaml
  test/bats/vault.bats
Due: none

feedback: address feedback and fix tests on windows
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/provider_client_test.go
  pkg/util/fileutil/filesystem.go
  pkg/util/fileutil/filesystem_test.go
  pkg/util/fileutil/writer_test.go
Due: none

[Issue-534] Possiblity to configure imagePullSecrets
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

[Issue-534] Possiblity to configure imagePullSecrets
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Add test coverage report into Makefile for unit test
  Makefile
Due: none

Add validate golang verison at Makefile
  Makefile
Due: none

Update manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

[Issue-534] PR Review changes
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: update release docs and makefile targets
  Makefile
  docs/RELEASE.md
Due: none

Bump versions for v0.0.22
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

fix: windows targetpath cleanup as part of node unpublish
  docker/cloudbuild.yaml
  pkg/secrets-store/nodeserver.go
Due: secrets-store-csi-driver-push-image

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*
