Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-provisioner-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-helper-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

pull-kind-conformance-parallel-ga-only:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      env:
      - name: PARALLEL
        value: 'true'
  ...

pull-kind-conformance-parallel-ipv6:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      env:
      - name: PARALLEL
        value: 'true'
  ...

pull-kind-conformance-parallel-dual-stack-ipv4-ipv6:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-kind-e2e-kubernetes:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

TEMP test kindnet image
  pkg/build/nodeimage/const_cni.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

kindnetd configure cni-kindnet
  images/kindnetd/cmd/kindnetd/cni.go
  images/kindnetd/cmd/kindnetd/main.go
Due: post-kind-push-kindnetd-image

TEMP test new base image
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update runc and containerd to latest stable
  images/base/Dockerfile
Due: post-kind-push-base-image

update private registries for containerd 2.x
  site/content/docs/user/private-registries.md
Due: none

update local registry note for containerd 2.x
  site/static/examples/kind-with-registry.sh
Due: none

DO NOT MERGE
  foo
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

pull image before trying to load
  .github/workflows/podman.yml
Due: none

use ubuntu 24.04 for podman job
  .github/workflows/podman.yml
Due: none

CI: simplify setting up Lima
  .github/workflows/vm.yaml
  hack/ci/lima-helper.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update default base image
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

use node image built with new base image
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

fix: set opinionated arp_ignore in base image
  images/base/files/etc/sysctl.d/10-network-magic.conf
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump node image to 1.32.3 with latest base
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

feat(fs): add abs function to handle user home dir
  pkg/fs/fs.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Update provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

site: update required Go version
  site/content/_index.md
Due: none

pin new actions to commit.
  .github/workflows/vm.yaml
Due: none

promote stmcginnis to maintainer
  OWNERS
  README.md
Due: none

Update nginx controller from 1.12.0-beta.0 to 1.12.1
  site/static/examples/ingress/deploy-ingress-nginx.yaml
Due: none

migrate off of gopkg.in/yaml.v3
  go.mod
  pkg/apis/config/v1alpha4/yaml.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/encode.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/read.go
  pkg/internal/apis/config/encoding/load.go
  pkg/internal/patch/toml.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Modifying scripts for debugging kind e2e tests
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

docs(website): Added content to highlight the usage of Kind with Podman Desktop
  site/content/docs/user/images/apply-changes-to-kind-cluster.png
  site/content/docs/user/images/kind-clusters-running-in-podman-desktop.png
  site/content/docs/user/quick-start.md
Due: none

docs(website): minor edits
  site/content/docs/user/quick-start.md
Due: none

Update golangci-lint to v2.0.2
  cmd/kind/app/main.go
  cmd/kind/main.go
  hack/make-rules/verify/lint.sh
  hack/tools/.golangci.yml
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  images/kindnetd/cmd/kindnetd/main.go
  pkg/build/nodeimage/internal/container/docker/archive.go
  pkg/build/nodeimage/options.go
  pkg/cluster/internal/create/actions/action.go
  pkg/cluster/internal/create/actions/config/config.go
  pkg/cluster/internal/create/create.go
  pkg/cluster/internal/delete/delete.go
  pkg/cluster/internal/kubeadm/config.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/encode.go
  pkg/cluster/internal/providers/docker/constants.go
  pkg/cluster/internal/providers/nerdctl/constants.go
  pkg/cluster/internal/providers/podman/constants.go
  pkg/cluster/internal/providers/provider.go
  pkg/cmd/kind/build/nodeimage/nodeimage.go
  pkg/internal/assert/assert.go
  pkg/internal/cli/logger.go
  pkg/internal/env/term.go
  pkg/internal/integration/integration.go
  pkg/internal/runtime/runtime.go
Due: post-kind-push-kindnetd-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

clarify local registry address
  site/content/docs/user/local-registry.md
Due: none

bump go to 1.24.2
  .go-version
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump containerd to latest stable (2.0.5)
  images/base/Dockerfile
Due: post-kind-push-base-image

bump runc to latest stable (1.2.6, which matches containerd 2.0.5)
  images/base/Dockerfile
Due: post-kind-push-base-image

update base image
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

switch remaining workflows to ubuntu-24.04
  .github/workflows/docker.yaml
  .github/workflows/nerdctl.yaml
Due: none

temp: use staging node image
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

eliminate yaml.v3
  go.mod
  go.sum
  pkg/cluster/internal/create/actions/installcni/cni.go
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

add note about vpn cidr clashes
  site/content/docs/user/known-issues.md
Due: none

bump cni-plugins to 1.7.1
  images/base/Dockerfile
Due: post-kind-push-base-image

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)|(^.go-version)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)|(^.go-version)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)|(^.go-version)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-conformance-parallel-ga-only: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-dual-stack-ipv4-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-32: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-31: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-30: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-29: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-28: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
