Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-cuda-vector-add-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-echoserver-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

Update configure-helper.sh to early exit from start-kube-scheduler if kube-scheduler is deployed through CRP.
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Remove unnecessary snapshot ability check
  test/e2e/storage/external/external.go
Due: none

chore: add auto sync upstream
  .github/workflows/merge.yaml
Due: none

bump cadvisor to 0.37.2
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/container/docker/client.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Ignore non socket files while unregistering a kubelet plugin
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher.go
Due: pull-kubernetes-local-e2e-containerized

auto sync with 00 * * * *
  .github/workflows/merge.yaml
Due: none

Add scheduled task to check Csi-proxy versionfile and update it
  cluster/gce/windows/common.psm1
  cluster/gce/windows/configure.ps1
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke

Fix 77603 - Don't break the log line when it is more than 16K
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
Due: pull-kubernetes-local-e2e-containerized

Fix test failures
  test/e2e/scheduling/preemption.go
Due: none

e2e network policy enclose IPv6 destinations
  test/e2e/network/network_policy.go
Due: none

Finetune container-runtime-endpoint option help text
  cmd/kubelet/app/options/options.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Making a run test.
  pkg/kubelet/kubeletconfig/util/files/files.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/logs/logs.go
Due: pull-kubernetes-local-e2e-containerized

fix kubeadm upgrade dns check preflight
  cmd/kubeadm/app/phases/upgrade/preflight.go
Due: pull-kubernetes-e2e-kubeadm-gce

Adding basic support for ALPN polcy for AWS NLBs
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
Due: pull-kubernetes-godeps

Updated the comment with corrected values of ALPN policy
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Due: pull-kubernetes-godeps

revert accidental reformat
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
Due: pull-kubernetes-godeps

Lazy initialization of network urls for GCE provider
  staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
Due: pull-kubernetes-godeps

Avoid unnecessary GCE API calls for IP-alias calls
  pkg/controller/nodeipam/ipam/adapter.go
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/controller/nodeipam/ipam/sync/sync.go
  pkg/controller/nodeipam/ipam/sync/sync_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instances.go
Due: pull-kubernetes-godeps

Fix test failures
  test/e2e/node/taints.go
Due: none

fix bug of Unreachable node no longer gets Unreachable taint with NoExecute effect
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/scheduler/rate_limited_queue.go
  pkg/controller/nodelifecycle/scheduler/rate_limited_queue_test.go
Due: none

Show the available container names when the user misses -c/--container option for the multi-container pod; this saves time instead of executing the 'pod describe' command
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec.go
Due: pull-kubernetes-godeps

Fix kubectl copy issue
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
Due: pull-kubernetes-godeps

fix: use provider id from kubelet config file
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Update ingress conformance test for finalizers
  test/e2e/network/ingress.go
Due: none

Update e2e test logging to include pod labels
  test/e2e/common/pods.go
Due: none

Include any other events in e2e test logs
  test/e2e/common/pods.go
Due: none

Move feature IPv6DualStack to k8s.io/controller-manager
  cmd/cloud-controller-manager/BUILD
  cmd/cloud-controller-manager/nodeipamcontroller.go
  staging/src/k8s.io/cloud-provider/app/BUILD
  staging/src/k8s.io/cloud-provider/app/core.go
  staging/src/k8s.io/controller-manager/pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

Remove external driver duplicated misleading SupportedSizeRange
  test/e2e/storage/external/BUILD
  test/e2e/storage/external/external.go
  test/e2e/storage/external/external_test.go
  test/e2e/storage/external/testdata/driver.json
  test/e2e/storage/external/testdata/driver.yaml
  test/e2e/storage/testsuites/base.go
Due: none

scheduler: parse Pod's Node affinity once in PreScore phase
  cmd/kube-scheduler/app/server_test.go
  pkg/scheduler/algorithmprovider/registry.go
  pkg/scheduler/algorithmprovider/registry_test.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/legacy_registry.go
  pkg/scheduler/framework/plugins/legacy_registry_test.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
  test/integration/scheduler/scheduler_test.go
Due: none

fix privileged config of Pod Sandbox
  pkg/kubelet/dockershim/security_context.go
Due: pull-kubernetes-local-e2e-containerized

use input parameter that is invalid before
  pkg/volume/fc/disk_manager.go
  pkg/volume/fc/fc.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/rbd/rbd.go
Due: none

update ContainerStatus.Ready to false while ContainerStatus.Started is false
  pkg/kubelet/prober/prober_manager.go
Due: pull-kubernetes-local-e2e-containerized

addressing review comments and supports parallel run
  test/e2e/apimachinery/BUILD
  test/e2e/apimachinery/flowcontrol.go
Due: none

apiserver: print unknown responsewriter error strings, not only %#+v
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/status.go
Due: pull-kubernetes-godeps

Add more logging messages
  pkg/kubelet/cm/topologymanager/policy.go
  pkg/kubelet/cm/topologymanager/policy_best_effort.go
  pkg/kubelet/cm/topologymanager/policy_none.go
  pkg/kubelet/cm/topologymanager/policy_none_test.go
  pkg/kubelet/cm/topologymanager/policy_restricted.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node.go
  pkg/kubelet/cm/topologymanager/policy_test.go
  pkg/kubelet/cm/topologymanager/scope.go
  pkg/kubelet/cm/topologymanager/scope_container.go
  pkg/kubelet/cm/topologymanager/scope_pod.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

attachdetachcontroller: don't attach volumes on CSI migration config mismatch
  pkg/controller/volume/attachdetach/util/util.go
Due: none

fix: Condition is always 'true' because of 'err' is always nil
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
Due: pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
