Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2, post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-misc-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e-v2/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/(kubekins-e2e/|kubekins-e2e-v2/variants.yaml)|kubetest|boskos|logexporter)
  post-test-infra-push-kubekins-e2e-v2: any of: ^images/kubekins-e2e-v2/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-push-misc-images: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config-canary: any of: ^config/(jobs|testgrids)/.*$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-misc-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/

adding milestone plugin to the IGW repo
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

adding specific team to manage milestones
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 25 Nov 2025 00:03:46 UTC
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

ci: k8s staging push-images job for contributor-site
  config/jobs/image-pushing/k8s-staging-contributor-site.yaml
  config/testgrids/kubernetes/sig-contribex/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add verify and test jobs for kueue-populator
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add kueue-populator image build step
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Revert "add kueue-populator image build step"
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Revert "add verify and test jobs for kueue-populator"
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add testgrid-alert-email for ibm ppc64le periodic jobs
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping Prow
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-branchprotector.yaml
  config/jobs/kubernetes/test-infra/test-infra-checkconfig.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/prow/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update dra gce 5k test making shorter jobs run for 30s
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

bump controller manager qps, burst and apiserver maxInFlight
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

cluster-api: update milestone applier for v1.12
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

agent-sandbox: optimize presubmit job triggers
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update base images and dependencies to address vulnerabilities
  images/alpine/Dockerfile
  images/git-custom-k8s-auth/Dockerfile
  images/git-custom-k8s-auth/cloudbuild.yaml
  images/git/Dockerfile
Due: post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth

cri-o: switch serial tests to use canary
  jobs/e2e_node/crio/crio_canary.ign
  jobs/e2e_node/crio/latest/image-config-serial.yaml
  jobs/e2e_node/crio/templates/base/env-canary.yaml
  jobs/e2e_node/crio/templates/crio_canary.yaml
Due: pull-test-infra-verify-cri-o

Ingress NGINX: Bump Test Runner to v2.2.5.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kustomize: update actions name that used in branch protection rule
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update dra gce 5k node test to bump kcm qps, burst and kas maxInflight
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra GCR images and k8s-staging-test-infra AR images and k8s-staging-apisnoop-test-infra and k8s-staging-apisnoop-apisnoop
  config/jobs/image-pushing/k8s-staging-minikube.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

cluster-autoscaler: E2E tests use Kubernetes 1.34
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add CI for kube-agentic-net
  config/jobs/kubernetes-sigs/kube-agentic-networking/OWNERS
  config/jobs/kubernetes-sigs/kube-agentic-networking/kube-agentic-networking-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add dashboard
  config/testgrids/kubernetes/sig-network/config.yaml
Due: post-test-infra-upload-testgrid-config-canary

cri-o: update commit and switch serial tests
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_drop_infra_ctr.ign
  jobs/e2e_node/crio/crio_eventedpleg.ign
  jobs/e2e_node/crio/crio_hugepages.ign
  jobs/e2e_node/crio/crio_imagefs.ign
  jobs/e2e_node/crio/crio_splitfs.ign
  jobs/e2e_node/crio/crio_swap1g.ign
  jobs/e2e_node/crio/crio_userns.ign
  jobs/e2e_node/crio/latest/image-config-serial.yaml
  jobs/e2e_node/crio/templates/base/env.yaml
  jobs/e2e_node/crio/templates/crio.yaml
  jobs/e2e_node/crio/templates/crio_drop_infra_ctr.yaml
  jobs/e2e_node/crio/templates/crio_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_imagefs.yaml
  jobs/e2e_node/crio/templates/crio_splitfs.yaml
  jobs/e2e_node/crio/templates/crio_swap1g.yaml
  jobs/e2e_node/crio/templates/crio_userns.yaml
Due: pull-test-infra-verify-cri-o

Don't protect alibaba-cloud-csi-driver gh-pages branch
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

cluster-capacity: Run general `verify` target
  config/jobs/kubernetes-sigs/cluster-capacity/cluster-capacity-presubmits-release-1.34.yaml
  config/jobs/kubernetes-sigs/cluster-capacity/cluster-capacity-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update 5k dra gce test config to bump verbosity and ks qps,burst
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Allow prow to trigger github actions
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Double MASTER_SIZE for resource size test to ensure API server fits.
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kueue add milestone 0.16
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Kueue: CI for 0.15
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-15.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-15.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Rebuild container images only on changes to build-relevant files
  config/jobs/image-pushing/k8s-staging-contributor-site.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Run resource-size everyday after DRA test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

remove permefailing tests
  config/jobs/kubernetes/sig-network/sig-network-gce.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

duplicate kops nftables job
  config/jobs/kubernetes/sig-network/sig-network-gce.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update python version
  config/jobs/kubernetes/kops/build_jobs.py
  hack/make-rules/py-test/activate-python_venv.sh
  hack/run-in-python-container.sh
  kettle/make_json.py
  kettle/make_json_test.py
  metrics/bigquery.py
  pylintrc
  requirements3.txt
Due: post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-upload-testgrid-config-canary, pull-test-infra-misc-image-build-test

remove permafailing jobs
  config/jobs/kubernetes/generated/generated.yaml
  config/testgrids/generated-test-config.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
  releng/generate_tests.py
  releng/test_config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Apply suggestions from code review
  config/jobs/kubernetes-sigs/kube-agentic-networking/kube-agentic-networking-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
