Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/

Remove socat and ebtables dependencies from the kubelet package
  cmd/krel/templates/latest/kubelet/kubelet.spec
Due: post-release-push-image-k8s-ci-builder

bump distroless-iptables to use go1.22.6
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Makefile: Fix help width and coloring
  Makefile
Due: none

Remove announcement-subject.txt from release artifacts
  cmd/krel/cmd/announce_build.go
  pkg/anago/anago.go
  pkg/anago/release.go
  pkg/announce/announce.go
  pkg/announce/announcefakes/fake_impl.go
  pkg/announce/impl.go
  pkg/announce/options.go
Due: post-release-push-image-k8s-ci-builder

golang: Build 1.23.0 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

drop 1.27 cross config image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.6
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Drop Bazel usage
  pkg/build/build_test.go
  pkg/build/push.go
  pkg/gcp/build/build.go
  pkg/release/release.go
  pkg/release/release_test.go
Due: post-release-push-image-k8s-ci-builder

update distroless to use go1.23.0
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Drop GCS URL for assets downloads.
  pkg/consts/main.go
Due: post-release-push-image-k8s-ci-builder

Add k8s-cloud-builder and k8s-ci-builder for Go 1.23.0
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

rebuild debian-base - bump to bookworm-v1.0.4
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

rebuild setcap with debian-base bookworm-v1.0.4
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-setcap

Switch production bucket
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

Use production or test bucket when submitting GCB jobs
  pkg/gcp/gcb/gcb.go
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

Remove ACL ownership change on release publish
  pkg/release/publish.go
Due: post-release-push-image-k8s-ci-builder

Fix publish marker link replacement for production bucket
  hack/get-krel
  pkg/release/publish.go
Due: post-release-push-image-k8s-ci-builder

Revert: always build krel from sources
  hack/get-krel
Due: none

[notes] Get the number of the origin PR for cherry-picks
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

Switch to go 1.23
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yaml
  .golangci.yml
  dependencies.yaml
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Preserve old behavior.
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

Add `FORCE_BUILD_KREL` GCB env var to build krel from sources
  gcb/fast-forward/cloudbuild.yaml
  gcb/obs-release/cloudbuild.yaml
  gcb/obs-stage/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  hack/get-krel
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

schedule-builder: don't mention release name for upcoming
  cmd/schedule-builder/cmd/markdown.go
Due: post-release-push-image-k8s-ci-builder

Fix marker publish verification when bucket is private
  pkg/release/publish.go
Due: post-release-push-image-k8s-ci-builder

fix empty release note parsing
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
Due: post-release-push-image-k8s-ci-builder

address comments
  dependencies.yaml
  images/build/go-runner/variants.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner, pull-release-image-k8s-cloud-builder

revert k8s-ci-builder
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

newer golang patch sep2024
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/k8s-cloud-builder/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

fix and have verify-dependencies passing locally
  dependencies.yaml
Due: none

fix integration test for empty release notes
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
Due: post-release-push-image-k8s-ci-builder

newer golang patch (1.22.7, 1.23.1) sep2024 (#3758)
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Add `krel push --repo-root` CLI flag
  cmd/krel/cmd/push.go
Due: post-release-push-image-k8s-ci-builder

Remove `push-build.sh`
  README.md
  push-build.sh
Due: pull-release-cluster-up

bump distroless-iptables to use go 1.22.7/1.23.1
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

add krel validation cmd
  cmd/krel/cmd/testdata/validation-data/invalid-indent.yaml
  cmd/krel/cmd/testdata/validation-data/invalid-multi-line.yaml
  cmd/krel/cmd/testdata/validation-data/invalid-yaml-start.yaml
  cmd/krel/cmd/testdata/validation-data/missing-punctuation.yaml
  cmd/krel/cmd/testdata/validation-data/valid.yaml
  cmd/krel/cmd/validate.go
  cmd/krel/cmd/validate_test.go
Due: post-release-push-image-k8s-ci-builder

newer golang patch 1.22.8/1.23.2
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

remove ppc64le s390x platforms
  images/build/cross/Makefile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Revert "Merge pull request #3757 from saschagrunert/go-1.23"
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yaml
  .golangci.yml
  dependencies.yaml
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

revert module bump - maxbrunsfeld/counterfeiter to v6.9.0 - sigs.k8s.io/release-utils to v0.8.4
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder
