Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-images, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-images:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20190927-21e0205
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
      - --env-passthrough=PULL_BASE_REF
      - --build-dir=.
  ...

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-aks-engine-azure:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk-vmss:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-file:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      command:
      - runner.sh
      - kubetest
      args:
      - --test
      - --up
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

Calling hcsshim instead of docker api to get stats for windows to greatly reduce latency
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/docker_stats_windows.go
Due: pull-kubernetes-local-e2e-containerized

Add parallel discovery refresh and trace for attemptToDelete
  pkg/controller/garbagecollector/BUILD
  pkg/controller/garbagecollector/garbagecollector.go
  staging/src/k8s.io/client-go/discovery/cached/memory/BUILD
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache.go
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache_test.go
Due: pull-kubernetes-godeps

adding e2e test to ensure it takes less than 10 seconds to query kubelet stats for windows nodes
  test/e2e/windows/BUILD
  test/e2e/windows/kubelet_stats.go
Due: none

fix alias for stack protector kernel config.
  test/e2e_node/system/specs/gke.yaml
Due: none

Instrument DEK cache fill and request inter-arrival times.
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/envelope.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/metrics.go
Due: pull-kubernetes-godeps

Add a unit test verifying potential racing between sched queue and cache
  pkg/scheduler/BUILD
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/testing/BUILD
  pkg/scheduler/testing/wrappers.go
Due: none

[DRAFT] Use one eventhandler to handle events for assigned and unassigned Pods
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/scheduler_test.go
Due: none

check ip family for node port connectivity test
  test/e2e/framework/service/jig.go
Due: none

Enable field management for all new objects
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
Due: pull-kubernetes-godeps

Add e2e test for stacked NetworkPolicies with overlapping CIDR
  test/e2e/network/network_policy.go
Due: none

Refactor handling of local traffic detection.
  cmd/kube-proxy/app/BUILD
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
  cmd/kube-proxy/app/server_test.go
  cmd/kubeadm/app/componentconfigs/kubeproxy_test.go
  pkg/kubemark/BUILD
  pkg/kubemark/hollow_proxy.go
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/after/v1alpha1.yaml
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/roundtrip/default/v1alpha1.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/iptables/BUILD
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/BUILD
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/util/BUILD
  pkg/proxy/util/iptables/BUILD
  pkg/proxy/util/iptables/traffic.go
  pkg/proxy/util/iptables/traffic_test.go
  pkg/util/iptables/testing/fake.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-godeps

Swith to mock clients for route/routetable/networkinterface tests
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_wrap_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/doc.go
  vendor/modules.txt
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Refresh discovery server resources for memCacheClient in parallel
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache.go
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache_test.go
Due: pull-kubernetes-godeps

Respect ignore-volume-az option in admission plugin
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_volumes.go
Due: pull-kubernetes-godeps

Add ephemeral containers log to cluster dump info
  staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo_dump.go
Due: pull-kubernetes-godeps

fix kubectl create deployment image name
  staging/src/k8s.io/kubectl/pkg/generate/versioned/BUILD
  staging/src/k8s.io/kubectl/pkg/generate/versioned/deployment.go
Due: pull-kubernetes-godeps

Fix typos in some error messages, comments and a test method name
  cmd/kubeadm/app/util/apiclient/wait.go
  cmd/kubeadm/app/util/kustomize/strategicmerge.go
  cmd/kubeadm/app/util/output/output.go
  cmd/kubeadm/app/util/runtime/runtime_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Fix kubectl describe ingress annotations not sorted
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe.go
Due: pull-kubernetes-godeps

Fix typos in some error messages, comments
  cmd/kubeadm/app/util/kustomize/strategicmerge.go
  cmd/kubeadm/app/util/output/output.go
  cmd/kubeadm/app/util/runtime/runtime_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Add release-1.18 publishing rules
  staging/publishing/rules.yaml
Due: pull-publishing-bot-dry-run, pull-kubernetes-godeps

fix kubeapiserver golint
  hack/.golint_failures
  pkg/kubeapiserver/default_storage_factory_builder.go
Due: none

tests: Adds configurable docker conf for test
  hack/ginkgo-e2e.sh
  test/e2e/common/runtime.go
  test/e2e/framework/test_context.go
Due: none

Fixes #68026: revise golint raise errors in scheduling module
  pkg/apis/scheduling/v1/defaults.go
  pkg/apis/scheduling/v1/zz_generated.defaults.go
  pkg/apis/scheduling/v1alpha1/defaults.go
  pkg/apis/scheduling/v1alpha1/zz_generated.defaults.go
  pkg/apis/scheduling/v1beta1/defaults.go
  pkg/apis/scheduling/v1beta1/zz_generated.defaults.go
Due: none

tests: Create pod for Windows test
  test/e2e/windows/service.go
Due: none

kubeadm: fix the bug that 'kubeadm upgrade' hangs in single node cluster
  cmd/kubeadm/app/phases/upgrade/BUILD
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Due: pull-kubernetes-e2e-kubeadm-gce

use ControllerClientBuilder from k8s.io/cloud-provider in cloud-controller-manager
  cmd/cloud-controller-manager/app/config/BUILD
  cmd/cloud-controller-manager/app/config/config.go
Due: none

Add initial support for updating systemd slices
  go.mod
  pkg/kubelet/cm/BUILD
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/cgroup_manager_unsupported.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/pod_container_manager_linux_test.go
  test/e2e_node/node_container_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

Add note about origin of code to update slice
  pkg/kubelet/cm/cgroup_manager_linux.go
Due: pull-kubernetes-local-e2e-containerized

Add note about dbus connection in runc
  pkg/kubelet/cm/cgroup_manager_linux.go
Due: pull-kubernetes-local-e2e-containerized

Fix initialization bug in `FakeImageService`
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_image_service.go
Due: pull-kubernetes-godeps

Fix: pkg/apis Typos in comments, function name, error message
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/v1/register.go
  pkg/apis/flowcontrol/validation/validation.go
  pkg/apis/rbac/helpers.go
Due: none

create k8s.po
  translations/kubectl/pl_PL/LC_MESSAGES/k8s.po
Due: none

i18n.go
  staging/src/k8s.io/kubectl/pkg/util/i18n/i18n.go
Due: pull-kubernetes-godeps

updated k8s.po
  translations/kubectl/pl_PL/LC_MESSAGES/k8s.po
Due: none

move well known cloud provider taints to k8s.io/cloud-provider/api
  pkg/controller/cloud/BUILD
  pkg/controller/cloud/node_controller.go
  pkg/controller/cloud/node_controller_test.go
  pkg/controller/cloud/node_lifecycle_controller.go
  pkg/kubelet/BUILD
  pkg/kubelet/kubelet_node_status.go
  pkg/scheduler/BUILD
  pkg/scheduler/api/BUILD
  staging/src/k8s.io/cloud-provider/BUILD
  staging/src/k8s.io/cloud-provider/api/BUILD
  staging/src/k8s.io/cloud-provider/api/well_known_taints.go
  vendor/modules.txt
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

fix: add remediation in azure disk attach/detach
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

fix test failure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

kubeadm: fallback to a known etcd version if an unknown k8s version is passed
  cmd/kubeadm/app/constants/BUILD
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/constants/constants_test.go
  cmd/kubeadm/app/images/images.go
  cmd/kubeadm/app/phases/upgrade/compute.go
  cmd/kubeadm/app/phases/upgrade/staticpods.go
Due: pull-kubernetes-e2e-kubeadm-gce

Path conditions:
  post-kubernetes-push-images: any of: ^test\/images\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
