Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-aws:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-aws-credential-aws-oss-testing: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    serviceAccountName: secrets-store-csi-driver-gcp
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - bash
  ...

Remove permissions required for reconciler.
  Makefile
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  manifest_staging/deploy/rbac-secretproviderrotation.yaml
  manifest_staging/deploy/rbac-secretprovidertokenrequest.yaml
  test/bats/e2e-provider.bats
Due: none

fix: add unit test to show failures in current sha logic
  pkg/util/secretutil/secret_test.go
Due: none

fix: update sha generation logic
  pkg/util/secretutil/secret.go
Due: none

Add help to makefile
  Makefile
Due: none

Remove debug logs
  pkg/secrets-store/nodeserver.go
Due: none

Add s390x to build automation
  docker/BASEIMAGE
Due: secrets-store-csi-driver-push-image

Chart: Add global.image.registry.
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/_helpers.tpl
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/_helpers.tpl
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump trivy to v0.57.1 to mitigate rate limit issues
  Makefile
Due: none

Update go version to 1.23.4
  .local/Dockerfile
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: secrets-store-csi-driver-push-image

Use the correct hash
  .local/Dockerfile
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

chore: bump to golang 1.22 builder image in dockerfile
  docker/Dockerfile
  docker/crd.Dockerfile
  docker/windows.Dockerfile
Due: secrets-store-csi-driver-push-image

Use 1.23 version string instead of 1.23.4
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

Revert unsupported update
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Fix dot import issue
  controllers/secretproviderclasspodstatus_controller_test.go
  pkg/k8s/store_test.go
  pkg/rotation/reconciler_test.go
Due: none

Fix lint issues
  .golangci.yml
  pkg/util/secretutil/secret_test.go
Due: none

chore: bump version to v1.4.7 in release-1.4
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

Test script for e2e test of gcp-provider.
  test/scripts/run-e2e-gcp.sh
Due: none

try running existing job
  test/scripts/run-e2e-gcp.sh
Due: none

test
  test/scripts/run-e2e-gcp.sh
Due: none

logs
  test/bats/gcp.bats
Due: none

logs
  test/scripts/run-e2e-gcp.sh
Due: none

boskos
  test/scripts/run-e2e-gcp.sh
Due: none

create cluster
  test/scripts/run-e2e-gcp.sh
Due: none

create deploy
  test/scripts/run-e2e-gcp.sh
Due: none

release: update manifest and helm charts for v1.4.7
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.4.7
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

list permissions
  test/scripts/run-e2e-gcp.sh
Due: none

Publish secrets-store-csi-driver-1.4.7.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.4.7.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: ^charts/.*
