Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

[PodSecurity] Aggregate identical warnings for multiple pods in a namespace
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission_test.go
Due: pull-kubernetes-godeps

[jobs][registry]: Warn if no propagationpolicy set
  pkg/registry/batch/job/storage/storage.go
  pkg/registry/batch/job/storage/storage_test.go
Due: none

Replace usage of Whitelist with Allowlist within Kubelet's sysctl package (#102298)
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/sysctl/allowlist.go
  pkg/kubelet/sysctl/allowlist_test.go
  pkg/security/podsecuritypolicy/factory.go
  pkg/security/podsecuritypolicy/provider_test.go
  pkg/security/podsecuritypolicy/sysctl/mustmatchpatterns.go
  pkg/security/podsecuritypolicy/sysctl/mustmatchpatterns_test.go
Due: pull-kubernetes-local-e2e-containerized

add integration test for apiserver hsts
  test/integration/apiserver/apiserver_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Clean unreadyMessage in GenerateContainersReadyCondition
  pkg/kubelet/status/generate.go
Due: pull-kubernetes-local-e2e-containerized

corrected spelling
  .gitignore
Due: none

Committed on 8 5 2021
  2021/8/5/commit.md
Due: none

Remove EXTRA from log messages
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Go
  Feature
Due: none

Remove duplicate dependencies from 1.22 changelog
  CHANGELOG/CHANGELOG-1.22.md
Due: none

ssa enable
  pkg/controller/endpoint/endpoints_controller.go
Due: none

fix tests
  pkg/controller/endpoint/endpoints_controller_test.go
Due: none

Add the pod field to all volumeToMount info level logs
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

just copy v2beta2 to v2
  pkg/apis/autoscaling/v2/conversion.go
  pkg/apis/autoscaling/v2/defaults.go
  pkg/apis/autoscaling/v2/defaults_test.go
  pkg/apis/autoscaling/v2/doc.go
  pkg/apis/autoscaling/v2/register.go
  pkg/apis/autoscaling/v2/zz_generated.conversion.go
  pkg/apis/autoscaling/v2/zz_generated.defaults.go
  staging/src/k8s.io/api/autoscaling/v2/doc.go
  staging/src/k8s.io/api/autoscaling/v2/generated.pb.go
  staging/src/k8s.io/api/autoscaling/v2/generated.proto
  staging/src/k8s.io/api/autoscaling/v2/register.go
  staging/src/k8s.io/api/autoscaling/v2/types.go
  staging/src/k8s.io/api/autoscaling/v2/types_swagger_doc_generated.go
  staging/src/k8s.io/api/autoscaling/v2/zz_generated.deepcopy.go
  staging/src/k8s.io/api/autoscaling/v2/zz_generated.prerelease-lifecycle.go
Due: pull-kubernetes-godeps

delete stale UDP conntrack entries for loadbalancer IPs
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Due: none

replace e2e WaitForPodsReady by WaitTimeoutForPodReadyInNamespace
  test/e2e/framework/metrics/metrics_grabber.go
  test/e2e/framework/pod/wait.go
  test/e2e/network/kube_proxy.go
  test/e2e/storage/vsphere/vsphere_statefulsets.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Skip node e2e test for recovering from ip leak with docker
  test/e2e_node/restart_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

refactor(kubeadm): remove the flag --port from KCM manifest
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

apiserver: add callback to get notified of object count
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/options/options.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/options.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/object_count_tracker.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/object_count_tracker_test.go
Due: pull-kubernetes-godeps

Introduce event clocks based on k8s.io/utils/clock
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/clock/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/clock/real.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/clock/real_event_clock_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/clock/testing/fake.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/clock/testing/fake_event_clock_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/promise/promise_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

Fix metrics reporting for the deprecated watch path
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
Due: pull-kubernetes-godeps

Remove SupportPodPidsLimit and SupportNodePidsLimit feature gates
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Allow override of `CGO_ENABLED=0`
  build/common.sh
  hack/lib/golang.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Remove the StartupProbe feature gate
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Correct comment related to HugePageStorageMediumSize feature gate
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Add feature gate to disable in-tree credential providers
  pkg/credentialprovider/aws/aws_credentials.go
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/gcp/metadata.go
  pkg/credentialprovider/plugins.go
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features

Improve dynamic cert file change detection
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_cafile_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_serving_content.go
  test/integration/apiserver/certreload/certreload_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Add a new webhook metric tracking request totals.
  staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/error.go
Due: pull-kubernetes-godeps

Specify the configuration type for kube-proxy --config flag
  cmd/kube-proxy/app/server.go
Due: none

Update configure-helper.sh
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
