Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

cleanup (e2e): migrate deprecated timeout constant: PodStartShortTimeout
  test/e2e/common/node/expansion.go
  test/e2e/framework/util.go
  test/e2e/kubectl/kubectl.go
  test/e2e/scheduling/preemption.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

cleanup (e2e): migrate deprecated timeout constant: PodDeleteTimeout
  test/e2e/framework/util.go
  test/e2e/network/netpol/network_legacy.go
  test/e2e/storage/pd.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

cleanup (e2e): migrate deprecated timeout constant: PodEventTimeout
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/runtimeclass.go
  test/e2e/framework/timeouts.go
  test/e2e/framework/util.go
  test/e2e_node/pod_hostnamefqdn_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

cleanup (e2e): migrate deprecated timeout constant: ServiceStartTimeout
  test/e2e/framework/timeouts.go
  test/e2e/framework/util.go
  test/e2e/kubectl/kubectl.go
  test/e2e/network/conntrack.go
  test/e2e/network/example_cluster_dns.go
  test/e2e/network/service.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

cleanup (e2e): migrate deprecated timeout constant: ClaimProvisionShortTimeout
  test/e2e/framework/util.go
  test/e2e/storage/volume_provisioning.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

cleanup (e2e): migrate deprecated timeout constant: ClaimProvisionTimeout
  test/e2e/framework/util.go
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/generic_persistent_volume-disruptive.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/volume_provisioning.go
  test/e2e/upgrades/storage/volume_mode.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Move path error to const and squash tests
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
  staging/src/k8s.io/cli-runtime/pkg/resource/builder_test.go
Due: pull-kubernetes-godeps

Start unifying tests across etcd3 and cacher
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/storage.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Due: pull-kubernetes-godeps

fix comment of IngressClassParametersReferenceScopeCluster
  pkg/apis/networking/types.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies

fix IngressClassParametersReferenceScopeCluster comment in staging/src/k8s.io/api/networking
  staging/src/k8s.io/api/networking/v1/types.go
  staging/src/k8s.io/api/networking/v1beta1/types.go
Due: pull-kubernetes-godeps

GCE: skip updating external load balancer if service is managed outside of service controller
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
Due: pull-kubernetes-godeps

Winkernel proxier cache HNS data to improve syncProxyRules performance
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Due: none

IGNORE-ME! TESTING SOMETHING
  README.md
Due: none

fixed incorrect tag on volume cloning test case
  test/e2e/storage/testsuites/multivolume.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

fix broken find command
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

Allow KUBE_TEST_REPO_LIST to be a remote url as well
  test/utils/image/manifest.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

refactor(hack): use ${BASH_SOURCE[0]} to get script name
  hack/update-all.sh
  hack/verify-all.sh
Due: none

Remove the duplicate code snippet in client-go delaying_queue tests
  staging/src/k8s.io/client-go/util/workqueue/delaying_queue_test.go
Due: pull-kubernetes-godeps

Fix lostcancel go vet issue inside cpi
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
Due: pull-kubernetes-godeps

cleanup: remove empty const declarations to pass gofmt check
  test/e2e/node/examples.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

refactor: remove unnesscery param disabledByDefaultControllers
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/testing/testserver.go
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/options/options.go
  staging/src/k8s.io/controller-manager/options/generic.go
Due: pull-kubernetes-godeps

e2e_node allow to get node summary from ipv6
  test/e2e_node/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

add logging to e2e_node test for validating pod stats summary
  test/e2e_node/summary_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix comment on e2e_node stats summary test
  test/e2e_node/summary_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

integration: custom etcd gracefully termination
  test/integration/framework/etcd.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

etcd: Update to v3.5.3
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

etcd: Update container repo to gcr.io/etcd-development/etcd
  build/dependencies.yaml
  pkg/credentialprovider/keyring.go
  staging/src/k8s.io/kube-aggregator/artifacts/self-contained/etcd-pod.yaml
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Promote e2e job lifecycle test to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/job.go
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Fix name for Pods of NonIndexed Jobs
  pkg/controller/controller_utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Due: none

Raise grpc max message size from 4M to 16M
  pkg/kubelet/cm/devicemanager/endpoint.go
Due: pull-kubernetes-local-e2e-containerized

Disable Intree GCE PD tests by default
  test/e2e/storage/in_tree_volumes.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Cleanup rest storage resources on shutdown
  cmd/kube-apiserver/app/server.go
  cmd/kube-apiserver/app/testing/testserver.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  test/integration/etcd/server.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Clean apiserver shutdown in integration tests
  test/integration/framework/controlplane_utils.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Extend StandardStorage with Destroy to implement rbac storage destroy
  pkg/registry/core/pod/storage/eviction_test.go
  pkg/registry/rbac/clusterrole/policybased/storage.go
  pkg/registry/rbac/clusterrolebinding/policybased/storage.go
  pkg/registry/rbac/role/policybased/storage.go
  pkg/registry/rbac/rolebinding/policybased/storage.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/rest.go
Due: pull-kubernetes-godeps

Fix TestPriorityLevelIsolation concurrency issue
  test/integration/apiserver/flowcontrol/concurrency_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Replace scheduler_e2e_scheduling_duration_seconds with scheduler_scheduling_attempt_duration_seconds in scheduler_perf
  test/integration/scheduler_perf/scheduler_perf_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel
