Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, post-k8sio-image-promo, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:20200328-v2.3.1-172-gfeb5dc0
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200623-2424179-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - name: groups
      image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && make run -- --confirm

post-k8sio-dns-update:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-dns-updater
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/infra-tools/octodns:v20200616-67ce585
      command:
      - bash
      args:
      - -c
      - cd dns && make push-local

post-k8sio-deploy-prow-build-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

post-k8sio-deploy-prow-build-trusted-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

Promote kOps 1.21.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.0-alpha.1.yaml
Due: none

new kustomize images
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Update snapshot images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Image promotion for v1.18.16 / v1.18.17-rc.0 / v1.19.8 / v1.19.9-rc.0 / v1.20.3 / v1.20.4-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Promote kube-cross:v1.16.0-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

k8s.gcr.io/capdo: Remove Marko Mudrinić (xmudrii) from OWNERS
  k8s.gcr.io/images/k8s-staging-cluster-api-do/OWNERS
Due: none

k8s.gcr.io/capdo: Add Timo Reimann (timoreimann) to OWNERS
  k8s.gcr.io/images/k8s-staging-cluster-api-do/OWNERS
Due: none

groups/capdo: Remove Marko Mudrinić (xmudrii) from OWNERS
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

groups/capdo: Add Timo Reimann (timoreimann) to the CAPDO staging group
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

Adding gateway-api.sigs.k8s.io for Gateway API
  dns/zone-configs/k8s.io._0_base.yaml
Due: post-k8sio-dns-update

releng: Promote go-runner:v2.3.1-go1.16-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Promote releng-ci:v0.4.0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

audit: add psharma to org admins
  audit/org_kubernetes.io/iam.json
Due: none

audit: update gcp-auditor org-scoped roles
  audit/org_kubernetes.io/iam.json
Due: none

audit: add psharma as owner to kubernetes-public
  audit/projects/kubernetes-public/iam.json
Due: none

audit: setup k8s-conform for provider-openstack
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/bucketpolicyonly.txt
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/cors.txt
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/logging.txt
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/description.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/iam.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/versions.json
  audit/projects/k8s-conform/service-accounts/service-provider-openstack@k8s-conform.iam.gserviceaccount.com/description.json
  audit/projects/k8s-conform/service-accounts/service-provider-openstack@k8s-conform.iam.gserviceaccount.com/iam.json
Due: none

audit: remove k8s-artifacts-prod-vulndash bucket
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/bucketpolicyonly.txt
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/cors.txt
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/iam.json
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/logging.txt
Due: none

audit: add k8s-staging-experimental
  audit/projects/k8s-staging-experimental/buckets/artifacts.k8s-staging-experimental.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-experimental/buckets/artifacts.k8s-staging-experimental.appspot.com/cors.txt
  audit/projects/k8s-staging-experimental/buckets/artifacts.k8s-staging-experimental.appspot.com/iam.json
  audit/projects/k8s-staging-experimental/buckets/artifacts.k8s-staging-experimental.appspot.com/logging.txt
  audit/projects/k8s-staging-experimental/buckets/k8s-staging-experimental-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-experimental/buckets/k8s-staging-experimental-gcb/cors.txt
  audit/projects/k8s-staging-experimental/buckets/k8s-staging-experimental-gcb/iam.json
  audit/projects/k8s-staging-experimental/buckets/k8s-staging-experimental-gcb/logging.txt
  audit/projects/k8s-staging-experimental/buckets/k8s-staging-experimental/bucketpolicyonly.txt
  audit/projects/k8s-staging-experimental/buckets/k8s-staging-experimental/cors.txt
  audit/projects/k8s-staging-experimental/buckets/k8s-staging-experimental/iam.json
  audit/projects/k8s-staging-experimental/buckets/k8s-staging-experimental/logging.txt
  audit/projects/k8s-staging-experimental/description.json
  audit/projects/k8s-staging-experimental/iam.json
  audit/projects/k8s-staging-experimental/services/enabled.txt
Due: none

audit: add cncf-ci-github-token secret
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/versions.json
Due: none

audit: add k8s-staging-provider-openstack
  audit/projects/k8s-staging-provider-openstack/buckets/artifacts.k8s-staging-provider-openstack.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-provider-openstack/buckets/artifacts.k8s-staging-provider-openstack.appspot.com/cors.txt
  audit/projects/k8s-staging-provider-openstack/buckets/artifacts.k8s-staging-provider-openstack.appspot.com/iam.json
  audit/projects/k8s-staging-provider-openstack/buckets/artifacts.k8s-staging-provider-openstack.appspot.com/logging.txt
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack-gcb/cors.txt
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack-gcb/iam.json
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack-gcb/logging.txt
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack/bucketpolicyonly.txt
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack/cors.txt
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack/iam.json
  audit/projects/k8s-staging-provider-openstack/buckets/k8s-staging-provider-openstack/logging.txt
  audit/projects/k8s-staging-provider-openstack/description.json
  audit/projects/k8s-staging-provider-openstack/iam.json
  audit/projects/k8s-staging-provider-openstack/services/enabled.txt
Due: none

audit: add k8s-staging-releng-test
  audit/projects/k8s-staging-releng-test/buckets/artifacts.k8s-staging-releng-test.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-releng-test/buckets/artifacts.k8s-staging-releng-test.appspot.com/cors.txt
  audit/projects/k8s-staging-releng-test/buckets/artifacts.k8s-staging-releng-test.appspot.com/iam.json
  audit/projects/k8s-staging-releng-test/buckets/artifacts.k8s-staging-releng-test.appspot.com/logging.txt
  audit/projects/k8s-staging-releng-test/buckets/k8s-staging-releng-test-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-releng-test/buckets/k8s-staging-releng-test-gcb/cors.txt
  audit/projects/k8s-staging-releng-test/buckets/k8s-staging-releng-test-gcb/iam.json
  audit/projects/k8s-staging-releng-test/buckets/k8s-staging-releng-test-gcb/logging.txt
  audit/projects/k8s-staging-releng-test/buckets/k8s-staging-releng-test/bucketpolicyonly.txt
  audit/projects/k8s-staging-releng-test/buckets/k8s-staging-releng-test/cors.txt
  audit/projects/k8s-staging-releng-test/buckets/k8s-staging-releng-test/iam.json
  audit/projects/k8s-staging-releng-test/buckets/k8s-staging-releng-test/logging.txt
  audit/projects/k8s-staging-releng-test/description.json
  audit/projects/k8s-staging-releng-test/iam.json
  audit/projects/k8s-staging-releng-test/service-accounts/gcb-builder-releng-test@k8s-staging-releng-test.iam.gserviceaccount.com/description.json
  audit/projects/k8s-staging-releng-test/service-accounts/gcb-builder-releng-test@k8s-staging-releng-test.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-staging-releng-test/services/enabled.txt
Due: none

audit: remove windows-remote-docker secrets
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_ca-pem/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_ca-pem/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_ca-pem/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_cert-pem/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_cert-pem/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_cert-pem/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_key-pem/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_key-pem/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_key-pem/versions.json
Due: none

audit: remove k8s-staging-e2e-test
  audit/projects/k8s-staging-e2e-test/description.json
  audit/projects/k8s-staging-e2e-test/iam.json
  audit/projects/k8s-staging-e2e-test/services/enabled.txt
Due: none

audit: evidence of some e2e projects using GCR
  audit/projects/k8s-infra-e2e-boskos-scale-01/buckets/artifacts.k8s-infra-e2e-boskos-scale-01.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-boskos-scale-01/buckets/artifacts.k8s-infra-e2e-boskos-scale-01.appspot.com/cors.txt
  audit/projects/k8s-infra-e2e-boskos-scale-01/buckets/artifacts.k8s-infra-e2e-boskos-scale-01.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-scale-01/buckets/artifacts.k8s-infra-e2e-boskos-scale-01.appspot.com/logging.txt
  audit/projects/k8s-infra-e2e-boskos-scale-04/buckets/artifacts.k8s-infra-e2e-boskos-scale-04.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-boskos-scale-04/buckets/artifacts.k8s-infra-e2e-boskos-scale-04.appspot.com/cors.txt
  audit/projects/k8s-infra-e2e-boskos-scale-04/buckets/artifacts.k8s-infra-e2e-boskos-scale-04.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-scale-04/buckets/artifacts.k8s-infra-e2e-boskos-scale-04.appspot.com/logging.txt
  audit/projects/k8s-infra-e2e-boskos-scale-15/buckets/artifacts.k8s-infra-e2e-boskos-scale-15.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-boskos-scale-15/buckets/artifacts.k8s-infra-e2e-boskos-scale-15.appspot.com/cors.txt
  audit/projects/k8s-infra-e2e-boskos-scale-15/buckets/artifacts.k8s-infra-e2e-boskos-scale-15.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-scale-15/buckets/artifacts.k8s-infra-e2e-boskos-scale-15.appspot.com/logging.txt
  audit/projects/k8s-infra-e2e-boskos-scale-16/buckets/artifacts.k8s-infra-e2e-boskos-scale-16.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-boskos-scale-16/buckets/artifacts.k8s-infra-e2e-boskos-scale-16.appspot.com/cors.txt
  audit/projects/k8s-infra-e2e-boskos-scale-16/buckets/artifacts.k8s-infra-e2e-boskos-scale-16.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-scale-16/buckets/artifacts.k8s-infra-e2e-boskos-scale-16.appspot.com/logging.txt
  audit/projects/k8s-infra-e2e-boskos-scale-27/buckets/artifacts.k8s-infra-e2e-boskos-scale-27.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-boskos-scale-27/buckets/artifacts.k8s-infra-e2e-boskos-scale-27.appspot.com/cors.txt
  audit/projects/k8s-infra-e2e-boskos-scale-27/buckets/artifacts.k8s-infra-e2e-boskos-scale-27.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-scale-27/buckets/artifacts.k8s-infra-e2e-boskos-scale-27.appspot.com/logging.txt
Due: none

audit: gke cluster maintenance noise
  audit/projects/k8s-infra-prow-build/services/container/clusters.txt
  audit/projects/kubernetes-public/services/container/clusters.txt
Due: none

audit: dns service appears to have dropped a quota
  audit/projects/k8s-staging-capi-docker/services/dns/info.json
  audit/projects/kubernetes-public/services/dns/info.json
Due: none

audit: WELP I deleted a thing I shouldn't have
  audit/projects/k8s-artifacts-prod/iam.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/description.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/iam.json
Due: none

releng: Image promotion for v1.20.4 / v1.20.5-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Add infra/gcp/ensure-organization.sh
  infra/gcp/ensure-organization.sh
  infra/gcp/lib.sh
  infra/gcp/prow/ensure-e2e-projects.sh
Due: none

Give k8s-infra-prow-oncall@ roles/browser for org
  infra/gcp/ensure-organization.sh
Due: none

Enable nodelocal dnscache on prow build clusters
  infra/gcp/clusters/modules/gke-cluster/main.tf
  infra/gcp/clusters/modules/gke-cluster/variables.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
Due: none

Fix typo, also add k8s-infra-prow-build cluster
  infra/gcp/clusters/modules/gke-cluster/variables.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Due: none

Update images.yaml
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

promote csi-secrets-store driver:v0.0.20
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.19.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.19.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.1.yaml
Due: none

style nits for gke-cluster dns_cache_config addon
  infra/gcp/clusters/modules/gke-cluster/main.tf
  infra/gcp/clusters/modules/gke-cluster/variables.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
Due: none

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/groups.yaml
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/
