Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-capz-windows-containerd: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

unexport mistakenly-exported constants
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

GCE: skip updating and deleting external loadbalancers if service is managed outside of service controller
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_util.go
Due: pull-kubernetes-godeps

do not skip DownwardAPIHugePages
  test/e2e/common/node/downwardapi.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

add verify-licenses.sh to the EXCLUDED_PATTERNS in make-rules/verify.sh
  hack/make-rules/verify.sh
Due: pull-kubernetes-files-remake

Clean up wrong release note
  CHANGELOG/CHANGELOG-1.24.md
Due: none

azure: remove GA IPv6DualStack feature-gate
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/go.mod
Due: pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

fix data race in device manager plugin hander
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/handler.go
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/server.go
Due: pull-kubernetes-local-e2e-containerized

wake up only when pod being added to activeQ
  pkg/scheduler/internal/queue/scheduling_queue.go
Due: none

remove FilterOutPods
  pkg/scheduler/framework/types.go
Due: none

A bit more tidying up
  staging/src/k8s.io/component-base/metrics/timing_histogram.go
  staging/src/k8s.io/component-base/metrics/wrappers.go
Due: pull-kubernetes-godeps

test/e2e/auth: enhance assertions
  test/e2e/auth/certificates.go
  test/e2e/auth/node_authz.go
  test/e2e/auth/service_accounts.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add sanposhiho to SIG Scheduling reviewers
  OWNERS_ALIASES
Due: none

Don't clone headers twice
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
Due: pull-kubernetes-godeps

unify wake up variable names to activated
  pkg/scheduler/internal/queue/scheduling_queue.go
Due: none

Fix discovery cache TTL to 6 hours
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  test/cmd/discovery.sh
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Refactor scheduler integration test that starts APIServer in a non-standarized manner
  test/integration/util/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

dependencies: bump CSI to v1.6.0
  go.mod
  go.sum
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

replace all the deprecated ioutil with io and os
  test/images/agnhost/VERSION
  test/images/agnhost/audit-proxy/main.go
  test/images/agnhost/crd-conversion-webhook/converter/framework.go
  test/images/agnhost/dns/common.go
  test/images/agnhost/guestbook/guestbook.go
  test/images/agnhost/mounttest/mt.go
  test/images/agnhost/net/main.go
  test/images/agnhost/netexec/netexec.go
  test/images/agnhost/nettest/nettest.go
  test/images/agnhost/no-snat-test-proxy/main.go
  test/images/agnhost/no-snat-test/main.go
  test/images/agnhost/openidmetadata/openidmetadata.go
  test/images/agnhost/webhook/main.go
  test/images/apparmor-loader/VERSION
  test/images/apparmor-loader/loader.go
  test/images/pets/peer-finder/VERSION
  test/images/pets/peer-finder/peer-finder.go
Due: post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, pull-kubernetes-conformance-kind-ipv6-parallel

Migrate ipallocator and portallocator to new Events API
  pkg/controlplane/controller.go
  pkg/controlplane/controller_test.go
  pkg/controlplane/instance.go
  pkg/registry/core/service/ipallocator/controller/repair.go
  pkg/registry/core/service/ipallocator/controller/repair_test.go
  pkg/registry/core/service/portallocator/controller/repair.go
  pkg/registry/core/service/portallocator/controller/repair_test.go
Due: none

Unify apiserver startup in integration tests
  test/integration/util/util.go
  test/integration/volumescheduling/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

integration: force close httpserver on exit
  test/integration/framework/controlplane_utils.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

etcd3/store: update creation test to use storage client
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Due: pull-kubernetes-godeps

pkg/util/iptables/testing: Add better IPTables rule-parsing helpers
  pkg/proxy/ipvs/proxier_test.go
  pkg/util/iptables/testing/fake.go
  pkg/util/iptables/testing/parse.go
  pkg/util/iptables/testing/parse_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

proxy/iptables: tweak sortIPTablesRules some more
  pkg/proxy/iptables/proxier_test.go
Due: none

etcd3/store: update cancelled watch test to be generic
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
Due: pull-kubernetes-godeps

etcd3/store: call a generic cancelled watch test
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
Due: pull-kubernetes-godeps

pkg/util/iptables/testing: Add IPTables dump-parsing helpers
  pkg/proxy/iptables/proxier_test.go
  pkg/util/iptables/testing/parse.go
  pkg/util/iptables/testing/parse_test.go
Due: none

pkg/util/iptables/testing: Fix FakeIPTables
  pkg/proxy/ipvs/proxier_test.go
  pkg/util/iptables/testing/fake.go
  pkg/util/iptables/testing/fake_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

proxy/iptables: port packet-flow tests to use new parsing stuff
  pkg/proxy/iptables/proxier_test.go
Due: none

storage/testing: move cancelled watch test to generic package
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/watcher_tests.go
Due: pull-kubernetes-godeps

test/integration: clarify namespace utilities
  test/integration/framework/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

node-perf: use tf-wide-deep:1.2
  test/utils/image/manifest.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

etcd3/store: make creation test validation generic
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Due: pull-kubernetes-godeps

storage/testing: move creation test to generic package
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
Due: pull-kubernetes-godeps

Be sure to update the status of StatefulSet even if the new replica creation fails
  pkg/controller/statefulset/stateful_set_control.go
  test/integration/statefulset/statefulset_test.go
  test/integration/statefulset/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Simplify and extend the benchmarks of timing histograms
  staging/src/k8s.io/component-base/metrics/prometheusextension/timing_histogram_test.go
Due: pull-kubernetes-godeps

Make more ordinary and add benchmarks of wrapped timing histograms
  staging/src/k8s.io/component-base/metrics/timing_histogram.go
  staging/src/k8s.io/component-base/metrics/timing_histogram_test.go
  staging/src/k8s.io/component-base/metrics/wrappers.go
Due: pull-kubernetes-godeps
