Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2, post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config-canary, post-test-infra-upload-metrics-dashboards, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-misc-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e-v2/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/(kubekins-e2e/|kubekins-e2e-v2/variants.yaml)|kubetest|boskos|logexporter)
  post-test-infra-push-kubekins-e2e-v2: any of: ^images/kubekins-e2e-v2/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-push-misc-images: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config-canary: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-metrics-dashboards: any of: ^metrics/web/.*\.html$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-misc-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/

Add Prow job for sig-network userns tests
  config/jobs/kubernetes/sig-network/sig-network-userns.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add sig-etcd-leads to allowed_teams for lead-opted-in label
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Migrating remaining CAPZ + Windows jobs to use templates/scripting from windows-testing repo
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

compatibility: download prev version kubectl client for upgrade test
  experiment/compatibility-versions/common.sh
Due: none

triage: parallelize findMatch and cap precise checks per worker
  triage/summarize/text.go
  triage/summarize/text_test.go
Due: post-test-infra-push-triage

Update OpenShift testgrid definitions by auto-testgrid-generator job at Thu, 28 May 2026 00:04:35 UTC
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-classic-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-classic-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-classic-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-5.0-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

Bump kueue multikueue integration test memory from 10Gi to 12Gi for k8s 1.36 envtest
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-16.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-17.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Shard Kueue MultiKueue Sequential E2E Jobs
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Shard Kueue MultiKueue Sequential release E2E Jobs
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-16.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-17.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-16.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-17.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Make VPA alpha-beta presubmits optional
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add presubmit jobs for CAPIBM release-0.14
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.14.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

chore: reduce scalability benchmark tests frequency to 24h
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fixing Parameter Test for AWS EBS CSI Driver
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Removing Windows 2019 CSI jobs on Azure
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

sig-autoscaling: use AKS 1.35 for CA E2E tests
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

[kueue] Skip pull-kueue-test-e2e-k8s-main-was.
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add Lambda Cloud janitor periodic and instance tagging
  config/jobs/kubernetes/sig-cloud-provider/lambda/lambda-janitor.yaml
  experiment/lambda/janitor.sh
  experiment/lambda/lib/lambda-common.sh
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 29 May 2026 00:04:17 UTC
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-classic-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-classic-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-classic-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-5.0-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

chore: use non-ci templates with credential provider for cloud-provider-azure 1.30/1.31 presubmits
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.30.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.31.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Test-infra multikueue split into extended and baseline
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix: reset jsonFailures per file in loadTests to prevent duplicate failures
  triage/summarize/files.go
Due: post-test-infra-push-triage

DRA: experiment with upcoming kubetest2 node support for binaries
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add experimental job to graph the binary size for VPA
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-coverage.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 29 May 2026 12:32:36 UTC
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-classic-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-classic-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-classic-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-5.0-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

Bump kueue periodic multikueue integration test memory to 12Gi
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-16.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-17.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kueue: CI for 0.18
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-18.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-18.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kueue: add milestone for 0.19
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

agent-sandbox: skip presubmits for PR and issue templates
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

sig-windows: cap maxPods=20 on Hyper-V CI jobs
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

integration changes were removed
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove VPA's NUMPROC settings
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: experiment with upcoming kubetest2 node support for binaries, II
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix VPA binary size job
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-coverage.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Revert "kueue : split multikueue into extended and baseline suite"
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fixed multikueue tests for baseline and extended
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Linter don't like spaces :)
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove unnessesary debug and copy
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-coverage.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add Kubernetes 1.36 e2e jobs for jobset
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-11.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-12.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0-11.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0-12.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Mon, 01 Jun 2026 00:04:16 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

fix(cloud-provider-azure): use OOT credential provider template for v1.30 and v1.31
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.30.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.31.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
