Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, post-kubernetes-push-image-pause, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

Convert exec probe timeout errors into failures
  pkg/probe/exec/BUILD
  pkg/probe/exec/exec.go
  pkg/probe/exec/exec_test.go
Due: none

ran hack/update-gofmt.sh to correct formatting
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go
Due: pull-kubernetes-godeps

kubeadm upgrade plan: component config state table
  cmd/kubeadm/app/apis/output/types.go
  cmd/kubeadm/app/apis/output/v1alpha1/types.go
  cmd/kubeadm/app/apis/output/v1alpha1/zz_generated.conversion.go
  cmd/kubeadm/app/apis/output/v1alpha1/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/output/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/upgrade/BUILD
  cmd/kubeadm/app/cmd/upgrade/plan.go
  cmd/kubeadm/app/componentconfigs/BUILD
  cmd/kubeadm/app/componentconfigs/configset.go
  cmd/kubeadm/app/componentconfigs/configset_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm upgrade plan: Use internal types of the output API
  cmd/kubeadm/app/cmd/upgrade/BUILD
  cmd/kubeadm/app/cmd/upgrade/plan.go
Due: pull-kubernetes-e2e-kubeadm-gce

Make unmount device log warning and continue if mount path is not found
  pkg/volume/util/operationexecutor/operation_generator.go
Due: none

Add warning if client/server version difference exceeds the supported skew
  staging/src/k8s.io/kubectl/pkg/cmd/util/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/util/kubectl_match_version.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/kubectl_match_version_test.go
Due: pull-kubernetes-godeps

Create LoadBalancer in nginx ingress tests
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/testing-manifests/ingress/nginx/rc.yaml
Due: none

Adjust nginx lb timeout in tests
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/network/ingress.go
Due: none

Improve comment about flag precedence
  cmd/kube-scheduler/app/options/options.go
Due: none

Use worker nodes for WaitForStableCluster()
  test/e2e/framework/node/resource.go
  test/e2e/scheduling/framework.go
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
  test/e2e/scheduling/priorities.go
  test/e2e/storage/vsphere/vsphere_volume_vsan_policy.go
Due: none

Bump up the agnhost version to reflect changes in https://github.com/kubernetes/kubernetes/pull/90797
  test/images/agnhost/VERSION
  test/images/kitten/BASEIMAGE
  test/images/kitten/VERSION
  test/images/nautilus/BASEIMAGE
  test/images/nautilus/VERSION
Due: post-kubernetes-push-e2e-test-images

default to add projected fstype in psp when boundedserviceaccounttoken is enabled
  pkg/security/podsecuritypolicy/BUILD
  pkg/security/podsecuritypolicy/provider.go
  pkg/security/podsecuritypolicy/provider_test.go
  pkg/security/podsecuritypolicy/util/BUILD
  pkg/security/podsecuritypolicy/util/util.go
  pkg/security/podsecuritypolicy/util/util_test.go
  plugin/pkg/admission/serviceaccount/admission.go
Due: none

hack/update-vendor-licenses.sh: skip empty packages
  hack/update-vendor-licenses.sh
Due: none

pkg/kubelet: adapt to new libcontainer API
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_linux_test.go
  pkg/kubelet/dockershim/cm/BUILD
  pkg/kubelet/dockershim/cm/container_manager_linux.go
  test/e2e_node/resource_collector.go
Due: pull-kubernetes-local-e2e-containerized

cadvisor: add Disk metrics with LocalStorageCapacityIsolation
  pkg/kubelet/cadvisor/BUILD
  pkg/kubelet/cadvisor/cadvisor_linux.go
Due: pull-kubernetes-local-e2e-containerized

Fix a preemption bug when pods are matched by pdb.Status.DisruptedPods
  pkg/scheduler/core/generic_scheduler.go
Due: none

Pods in pdb.Status.DisruptedPods are treated as 'nonViolating' in any case
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
Due: none

Pods which have not "started" can not be "ready"
  pkg/kubelet/prober/prober_manager.go
Due: pull-kubernetes-local-e2e-containerized

Add tests covering startup probe without readiness
  pkg/kubelet/prober/prober_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

bump agnhost to 2.20
  test/utils/image/manifest.go
Due: none

s/master/primary in agnhost guestbook usage
  test/cmd/core.sh
  test/e2e/kubectl/kubectl.go
  test/e2e/testing-manifests/guestbook/agnhost-primary-deployment.yaml.in
  test/e2e/testing-manifests/guestbook/agnhost-primary-service.yaml
  test/e2e/testing-manifests/guestbook/agnhost-replica-deployment.yaml.in
  test/e2e/testing-manifests/kubectl/agnhost-master-service.json
  test/e2e/testing-manifests/kubectl/agnhost-primary-controller.json.in
  test/e2e/testing-manifests/kubectl/agnhost-primary-pod.yaml
  test/e2e/testing-manifests/kubectl/agnhost-primary-service.json
Due: none

return nil if empty response get
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache.go
Due: pull-kubernetes-godeps

WIP: test https://github.com/evanphx/json-patch/pull/108
  vendor/github.com/evanphx/json-patch/merge.go
Due: pull-kubernetes-godeps

Don't use rate limiter when listing resources in multiple chunks
  staging/src/k8s.io/cli-runtime/pkg/resource/helper.go
Due: pull-kubernetes-godeps

Add MCS support to kube-proxy
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  pkg/features/kube_features.go
  pkg/proxy/config/config.go
  pkg/proxy/config/config_test.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/util/serviceimport.go
  pkg/util/crdfeature/crdfeature.go
  pkg/util/crdfeature/crdfeature_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none

Mark 1.19 deprecated beta APIs and replacements
  staging/src/k8s.io/api/certificates/v1beta1/types.go
  staging/src/k8s.io/api/certificates/v1beta1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/api/extensions/v1beta1/types.go
  staging/src/k8s.io/api/extensions/v1beta1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/api/networking/v1beta1/types.go
  staging/src/k8s.io/api/networking/v1beta1/zz_generated.prerelease-lifecycle.go
Due: pull-kubernetes-godeps

Refetch base image for building conformance images
  cluster/images/conformance/Dockerfile
  cluster/images/conformance/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-conformance-image-test

scheduler: merge Reserve and Unreserve plugins
  cmd/kube-scheduler/app/server_test.go
  pkg/scheduler/algorithmprovider/registry.go
  pkg/scheduler/algorithmprovider/registry_test.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/types_test.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/framework/plugins/examples/multipoint/multipoint.go
  pkg/scheduler/framework/plugins/examples/stateful/stateful.go
  pkg/scheduler/framework/plugins/legacy_registry.go
  pkg/scheduler/framework/plugins/legacy_registry_test.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/testing/framework_helpers.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/zz_generated.deepcopy.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/scheduler_test.go
Due: pull-kubernetes-godeps

Warn when creating roles with custom verbs kubectl
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrole.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrole_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role_test.go
Due: pull-kubernetes-godeps

Add Deployment resource lifecycle test as-is
  test/e2e/apps/deployment.go
Due: none

hyperkube: Use debian-hyperkube-base@v1.1.0 image
  build/dependencies.yaml
  build/workspace.bzl
  cluster/images/hyperkube/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Instrument authenticators.
  pkg/kubeapiserver/authenticator/BUILD
  pkg/kubeapiserver/authenticator/config.go
  staging/src/k8s.io/apiserver/BUILD
  staging/src/k8s.io/apiserver/pkg/authentication/instrumentedauthenticator/BUILD
  staging/src/k8s.io/apiserver/pkg/authentication/instrumentedauthenticator/authenticator.go
  staging/src/k8s.io/apiserver/pkg/authentication/instrumentedauthenticator/metrics.go
  staging/src/k8s.io/apiserver/pkg/authentication/instrumentedauthenticator/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/metrics_test.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Avoid grabbing metrics when they're not validated
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/stress.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/topology.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
Due: none

implement instancesV2
  pkg/volume/cinder/attacher_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_instances.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

define instances v2
  staging/src/k8s.io/cloud-provider/cloud.go
Due: pull-kubernetes-godeps
