Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)|(^.go-version)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)|(^.go-version)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)|(^.go-version)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-conformance-parallel-ga-only: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-dual-stack-ipv4-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-34: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-33: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-32: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-31: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)

cli: align --name flag help and default
  pkg/cmd/kind/create/cluster/createcluster.go
  pkg/cmd/kind/delete/cluster/deletecluster.go
  pkg/cmd/kind/export/kubeconfig/kubeconfig.go
  pkg/cmd/kind/export/logs/logs.go
  pkg/cmd/kind/get/kubeconfig/kubeconfig.go
  pkg/cmd/kind/get/nodes/nodes.go
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/image-archive/image-archive.go
  pkg/internal/cli/override.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Added option to show json or yaml output
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

feat(cli): add short description to bash completion
  pkg/cmd/kind/completion/bash/bash.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: mention image-archive --help in quick start
  site/content/docs/user/quick-start.md
Due: none

docs: add session key limits to rootless documentation
  site/content/docs/user/rootless.md
Due: none

Add architecture documentation for v0.31.0
  ARCHITECTURE-v0.31.0.md
Due: none

Sync clean-install with k/r
  images/base/files/usr/local/bin/clean-install
Due: post-kind-push-base-image

fix: upgrade Go to 1.26.0 to resolve CVE-2025-68121
  go.mod
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs(rootless): add instruction to restart user session
  site/content/docs/user/rootless.md
Due: none

Adopt Envoy in place of HAProxy for load balancing
  pkg/cluster/constants/constants.go
  pkg/cluster/internal/create/actions/loadbalancer/loadbalancer.go
  pkg/cluster/internal/loadbalancer/config.go
  pkg/cluster/internal/loadbalancer/const.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/nerdctl/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Document kernel key quota issue with rootless podman
  site/content/docs/user/known-issues.md
Due: none

build(Makefile): strip binary and trim debugger data, but not panics
  Makefile
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Update golangci-lint to v2.11.3
  cmd/kind/app/main.go
  cmd/kind/main.go
  hack/make-rules/verify/lint.sh
  hack/tools/.golangci.yml
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  images/kindnetd/cmd/kindnetd/main.go
  pkg/build/nodeimage/internal/container/docker/archive.go
  pkg/build/nodeimage/options.go
  pkg/cluster/internal/create/actions/action.go
  pkg/cluster/internal/create/actions/config/config.go
  pkg/cluster/internal/create/create.go
  pkg/cluster/internal/delete/delete.go
  pkg/cluster/internal/kubeadm/config.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/encode.go
  pkg/cluster/internal/providers/docker/constants.go
  pkg/cluster/internal/providers/nerdctl/constants.go
  pkg/cluster/internal/providers/podman/constants.go
  pkg/cluster/internal/providers/provider.go
  pkg/cmd/kind/build/nodeimage/nodeimage.go
  pkg/internal/assert/assert.go
  pkg/internal/cli/logger.go
  pkg/internal/env/term.go
  pkg/internal/integration/integration.go
  pkg/internal/runtime/runtime.go
  pkg/internal/version/version.go
Due: post-kind-push-kindnetd-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix(logs): hoist path traversal check out of loop and fix abs path comparison
  pkg/cluster/internal/logs/logs.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: Add Fedora install instructions
  site/content/docs/user/quick-start.md
Due: none

bump loglevels for containerd and kubernetes
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

test jordan's PR
  hack/ci/e2e.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix indent
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

bump containerd to trace
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

focus on particular test, run until failure
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: mention good first issue label
  README.md
Due: none

Update Claude Code settings, CONTRIBUTING.md labels and docs accuracy (#903)
  .claude/agent-memory/go-code-writer/MEMORY.md
  .claude/agents/go-code-writer.md
  .claude/rules/build.md
  .claude/rules/pull-requests.md
  CLAUDE.md
  CONTRIBUTING.md
  pull_request_template.md
Due: none

kindnetd: validate noMasqueradeCIDRs before creating IPMasqAgent
  images/kindnetd/cmd/kindnetd/masq.go
  images/kindnetd/cmd/kindnetd/masq_test.go
Due: post-kind-push-kindnetd-image

config: validate and default port mapping fields
  pkg/internal/apis/config/default.go
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
  site/content/docs/user/quick-start.md
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: clarify wsl2 setup wording
  site/content/docs/user/using-wsl2.md
Due: none

docs: clarify rootless quick-start note
  site/content/docs/user/quick-start.md
Due: none

docs: clarify wsl2 installation heading
  site/content/docs/user/using-wsl2.md
Due: none

docs: clarify auditing configuration wording
  site/content/docs/user/auditing.md
Due: none

feat: add env command
  pkg/cmd/kind/env/env.go
  pkg/cmd/kind/env/env_test.go
  pkg/cmd/kind/root.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: fix typo 'systctl.d' to 'sysctl.d' in rootless guide
  site/content/docs/user/rootless.md
Due: none

nodeimage: warn when proxy env points to loopback host
  pkg/build/nodeimage/buildcontext.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

kindnetd: honor klog -stderrthreshold when -logtostderr is enabled
  images/kindnetd/cmd/kindnetd/main.go
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image

docs(rootless): fix /etc/systctl.d -> /etc/sysctl.d typo
  site/content/docs/user/rootless.md
Due: none

quelques commentaires
  pkg/cluster/internal/providers/docker/network.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Fix sysctl.d path in rootless docs
  site/content/docs/user/rootless.md
Due: none

quelques commentaires
  pkg/cluster/nodes/types.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

add --multihost persistent flag with stub handler
  pkg/cmd/kind/root.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Revert "add --multihost persistent flag with stub handler"
  pkg/cmd/kind/root.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31
