Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

UPSTREAM: <carry>: bump nodes ready timeout
  test/e2e/framework/node/init/init.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: create termination events
  cmd/kube-apiserver/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: warn only about unknown feature gates
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
  staging/src/k8s.io/component-base/featuregate/feature_gate_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

UPSTREAM: <carry>: bootstrap-rbac-policy: move over .well-known rules
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none

UPSTREAM: 103612: tolerate additional, but congruent, events for integration test
  test/integration/events/events_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: allow kubelet to self-authorize metrics scraping
  cmd/kubelet/app/auth.go
  cmd/kubelet/app/patch_auth.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: apiserver: add system_client=kube-{apiserver,cm,s} to apiserver_request_total
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
  test/instrumentation/testdata/stable-metrics-list.yaml
  test/integration/metrics/metrics_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

UPSTREAM: <carry>: provide events, messages, and bodies for probe failures of important pods
  pkg/kubelet/prober/patch_prober.go
  pkg/kubelet/prober/prober.go
  pkg/probe/http/http.go
  pkg/probe/http/patch_http.go
Due: pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: kube-apiserver: ignore SIGTERM/INT after the first one
  cmd/kube-apiserver/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/signal.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: only chown if non-windows machine
  pkg/volume/util/atomic_writer.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

UPSTREAM: <carry>: Ensure service ca is mounted for projected tokens
  cmd/kube-controller-manager/app/certificates.go
  cmd/kube-controller-manager/app/controllermanager.go
  openshift-kube-controller-manager/servicecacertpublisher/metrics.go
  openshift-kube-controller-manager/servicecacertpublisher/metrics_test.go
  openshift-kube-controller-manager/servicecacertpublisher/publisher.go
  openshift-kube-controller-manager/servicecacertpublisher/publisher_test.go
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: <carry>: Skip unit tests incompatible with openshift ci
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: crd: add ClusterOperator condition message table column
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/tableconvertor/patch_clusteroperators.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/tableconvertor/tableconvertor.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: skip posting failures to aggregated APIs to avoid getting false positives until the server becomes ready
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: APIRequestCount Handler
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller.go
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/apirequestcount/deprecated.go
  openshift-kube-apiserver/filters/apirequestcount/request_counts.go
  openshift-kube-apiserver/filters/apirequestcount/request_counts_test.go
  openshift-kube-apiserver/filters/apirequestcount/update_func.go
  openshift-kube-apiserver/filters/apirequestcount/v1helpers/helpers.go
  openshift-kube-apiserver/filters/apirequestcount_filter.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch_handlerchain.go
Due: none

UPSTREAM: <carry>: allows for switching KCM to talk to Kube API over localhost
  cmd/kube-controller-manager/app/config/patch.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/patch.go
Due: none

UPSTREAM: <carry>: openshift's kube-apiserver is in openshift-kube-apiserver
  staging/src/k8s.io/apiserver/pkg/server/config.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: use hardcoded metrics scraping authorizer for delegated apiservers
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: annotate audit events for requests during unready phase and graceful termination phase
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: emit event when readyz goes true
  pkg/controlplane/controller.go
  pkg/controlplane/instance.go
  pkg/controlplane/patch.go
Due: none

UPSTREAM: <carry>: allows for switching KS to talk to Kube API over localhost
  cmd/kube-scheduler/app/config/config.go
  cmd/kube-scheduler/app/config/patch.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/patch.go
  cmd/kube-scheduler/app/patch.go
  cmd/kube-scheduler/app/server.go
Due: none

UPSTREAM: <carry>: add a way to inject a vulnerable, legacy service-ca.crt for migration compatibility
  openshift-kube-controller-manager/servicecacertpublisher/publisher.go
Due: none

UPSTREAM: <carry>: Override termination grace period on annotation
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Due: pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: send Retry-After when not ready with a caller opt in
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/patch_optin_retry.go
  staging/src/k8s.io/apiserver/pkg/server/patch_config.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: Revert "Remove Endpoints write access from aggregated edit role"
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none

UPSTREAM: <carry>: Release lock on KCM and KS termination
  cmd/kube-controller-manager/app/controllermanager.go
Due: none

UPSTREAM: <carry>: add management support to kubelet
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/qos_container_manager_linux.go
  pkg/kubelet/config/file.go
  pkg/kubelet/config/file_linux.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/managed/cpu_shares.go
  pkg/kubelet/managed/managed.go
  pkg/kubelet/managed/managed_test.go
Due: pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: fix [sig-auth] ServiceAccounts no secret-based service account token should be auto-generated
  test/e2e/auth/service_accounts.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: add max_housekeeping_interval
  cmd/kubelet/app/options/globalflags_linux.go
  pkg/kubelet/cadvisor/cadvisor_linux.go
  pkg/kubelet/kubelet.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

UPSTREAM: <carry>: STOR-829: Add CSIInlineVolumeSecurity admission plugin
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/storage/csiinlinevolumesecurity/admission.go
  openshift-kube-apiserver/admission/storage/csiinlinevolumesecurity/admission_test.go
  openshift-kube-apiserver/admission/storage/csiinlinevolumesecurity/doc.go
Due: none

UPSTREAM: <carry>: e2e-framework: don't autosync PodSecurity labels
  test/e2e/framework/framework.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: don't fail integration due to too many goroutines
  test/integration/framework/etcd.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: sets X-OpenShift-Internal-If-Not-Ready HTTP Header for GC and Namespace controllers
  cmd/kube-controller-manager/app/config/patch.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-controller-manager/app/patch_test.go
Due: none

UPSTREAM: <carry>: use console-public config map for console redirect
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch_handlerchain.go
Due: none

UPSTREAM: <carry>: optionally enable retry after until apiserver is ready
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_not_ready_patch.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_not_ready_patch_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
Due: pull-kubernetes-godeps

Automated cherry pick of #114602: Removed the reverted changes from Changelogv1.26.md
  CHANGELOG/CHANGELOG-1.26.md
Due: none

Revert "Add link to to file"
  CHANGELOG.md
Due: none

kubeadm: fix the nil pointer dereference in testcase
  cmd/kubeadm/app/cmd/certs_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-capz-windows-containerd: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
