Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/

Release: Check staged artifacts hashes against provenance
  pkg/release/provenance.go
  pkg/release/provenance_check_test.go
Due: post-release-push-image-k8s-ci-builder

Avoid adding empty predicate feeds
  pkg/anago/provenance_unit_test.go
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Fix linter nits
  pkg/release/provenance.go
  pkg/release/provenance_test.go
Due: post-release-push-image-k8s-ci-builder

Harden the provenance subject digest verification
  pkg/release/provenance.go
  pkg/release/provenance_check_test.go
Due: post-release-push-image-k8s-ci-builder

Update debian-base from bookworm to trixie by default
  dependencies.yaml
  images/build/debian-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Add krel attestation sign
  cmd/krel/cmd/sign_attestation.go
  cmd/krel/cmd/sign_attestation_test.go
  go.mod
  go.sum
  pkg/attestation/attestationfakes/fake_signer_implementation.go
  pkg/attestation/sign.go
  pkg/attestation/sign_test.go
Due: post-release-push-image-k8s-ci-builder

Support readin SA creds from env
  cmd/krel/cmd/sign_attestation.go
  cmd/krel/cmd/sign_attestation_test.go
  pkg/attestation/attestationfakes/fake_signer_implementation.go
  pkg/attestation/sign.go
  pkg/attestation/sign_test.go
Due: post-release-push-image-k8s-ci-builder

Sign a buffer and only write if needed
  cmd/krel/cmd/sign_attestation.go
  cmd/krel/cmd/sign_attestation_test.go
Due: post-release-push-image-k8s-ci-builder

Move the signer close to SignFile()
  pkg/attestation/sign.go
Due: post-release-push-image-k8s-ci-builder

krel sign attestation: sign statements stored in GCS
  cmd/krel/cmd/sign_attestation.go
  pkg/attestation/sign.go
  pkg/attestation/sign_test.go
Due: post-release-push-image-k8s-ci-builder

Also support gs:// in output
  cmd/krel/cmd/sign_attestation.go
  pkg/attestation/sign.go
Due: post-release-push-image-k8s-ci-builder

Add gs: write test and rebuild fakes
  pkg/attestation/attestationfakes/fake_signer_implementation.go
  pkg/attestation/sign_test.go
Due: post-release-push-image-k8s-ci-builder

krel sign attestation: add --in-place
  cmd/krel/cmd/sign_attestation.go
  pkg/attestation/sign.go
Due: post-release-push-image-k8s-ci-builder

Add --in-place tests and regen fakes
  cmd/krel/cmd/sign_attestation_test.go
  pkg/attestation/attestationfakes/fake_signer_implementation.go
  pkg/attestation/sign_test.go
Due: post-release-push-image-k8s-ci-builder

Add STAGE_BUCKET substitution
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
Due: post-release-push-image-k8s-ci-builder

Add --impersonation to krel sign attestation
  cmd/krel/cmd/sign_attestation.go
  go.mod
  go.sum
  pkg/attestation/sign.go
Due: post-release-push-image-k8s-ci-builder

Add impersonation tests and regen fakes
  cmd/krel/cmd/sign_attestation_test.go
  pkg/attestation/attestationfakes/fake_signer_implementation.go
  pkg/attestation/sign_test.go
Due: post-release-push-image-k8s-ci-builder

Add attestation sign step
  gcb/stage/cloudbuild.yaml
Due: none

schedule-builder: fix EOL branches without a next release
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
Due: post-release-push-image-k8s-ci-builder

restrict kubelet.service permissions
  cmd/krel/templates/latest/kubelet/kubelet.spec
Due: post-release-push-image-k8s-ci-builder

Update and weaken kubelet iptables dependency
  cmd/krel/templates/latest/kubelet/kubelet.spec
Due: post-release-push-image-k8s-ci-builder

bump min go version
  go.mod
Due: post-release-push-image-k8s-ci-builder

bump golangci-lint version
  .github/workflows/lint.yml
Due: none

update go images to use 1.27.1/1.26.8 and clean up deprecated versions
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

update deps file
  dependencies.yaml
Due: none

releng-ci: install google-cloud-cli instead of google-cloud-sdk
  images/releng/ci/Dockerfile
  images/releng/ci/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

kube-cross: pin bullseye apt sources to snapshot.debian.org
  images/build/cross/default/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Bump distroless-iptables to use Go 1.27.1/1.26.8
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

fixes
  images/build/distroless-iptables/distroless-trixie/Dockerfile
  images/build/distroless-iptables/distroless-trixie/package-utils.sh
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Fix distroless-iptables s390x build and raise build timeout
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/cloudbuild.yaml
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update k8s-cloud-builder and k8s-ci-builder to Go 1.27.1/1.26.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

add a flag to skip signing ci builds
  cmd/krel/cmd/ci_build.go
  pkg/build/build.go
  pkg/build/push.go
  pkg/release/images.go
Due: post-release-push-image-k8s-ci-builder

Add RISC-V build for the kube-cross image
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Add back the include-labels command to the release-notes command
  cmd/release-notes/generate.go
Due: post-release-push-image-k8s-ci-builder

Migrate off deprecated bom APIs
  pkg/anago/anago.go
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/stage.go
  pkg/announce/sbom/impl.go
  pkg/announce/sbom/options.go
  pkg/announce/sbom/sbom.go
  pkg/announce/sbom/sbomfakes/fake_impl.go
  pkg/release/provenance.go
Due: post-release-push-image-k8s-ci-builder

Read the staged provenance from its sigstore bundle
  go.mod
  pkg/attestation/sign.go
  pkg/release/provenance.go
  pkg/release/provenance_check_test.go
Due: post-release-push-image-k8s-ci-builder

Sign the final release provenance
  cmd/krel/cmd/release.go
  cmd/krel/cmd/sign_attestation.go
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/release.go
  pkg/anago/release_test.go
  pkg/anago/release_unit_test.go
  pkg/attestation/sign.go
  pkg/attestation/sign_test.go
Due: post-release-push-image-k8s-ci-builder

Fail artifacts SBOM generation without images
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Verify the stage provenance before releasing
  go.mod
  go.sum
  pkg/anago/anago.go
  pkg/anago/anago_test.go
  pkg/anago/release.go
  pkg/anago/release_test.go
  pkg/attestation/attestationfakes/fake_signer_implementation.go
  pkg/attestation/sign.go
  pkg/attestation/sign_test.go
  pkg/release/provenance.go
  pkg/release/provenance_check_test.go
Due: post-release-push-image-k8s-ci-builder
