Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*

chore: bump version to v0.2.0 in release-0.2
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

Update Release_Management.md
  docs/Release_Management.md
Due: none

release: update manifest and helm charts for v0.2.0
  Makefile
  charts/index.yaml
  charts/secrets-store-csi-driver-0.2.0.tgz
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/_helpers.tpl
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v0.2.0
  charts/index.yaml
  charts/secrets-store-csi-driver-0.2.0.tgz
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/_helpers.tpl
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: update release docs with release branches
  docs/RELEASE.md
Due: none

chore: update node-driver-registrar to v2.3.0 and enable liveness probe
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: adds script for e2e provider test
  test/scripts/e2e_provider.sh
Due: none

chore: typo
  test/scripts/e2e_provider.sh
Due: none

ISS-675: adding annotations to upgrade jobs
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ISS-675: adding tests for annotations
  Makefile
Due: none

ISS-675: syntax error in tests
  Makefile
Due: none

helm: adding annotations to upgrade jobs (#692)
  Makefile
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Initializing gh-pages branch and helm charts
  charts/index.yaml
  charts/secrets-store-csi-driver-0.0.10.tgz
  charts/secrets-store-csi-driver-0.0.11.tgz
  charts/secrets-store-csi-driver-0.0.12.tgz
  charts/secrets-store-csi-driver-0.0.13.tgz
  charts/secrets-store-csi-driver-0.0.14.tgz
  charts/secrets-store-csi-driver-0.0.15.tgz
  charts/secrets-store-csi-driver-0.0.16.tgz
  charts/secrets-store-csi-driver-0.0.17.tgz
  charts/secrets-store-csi-driver-0.0.18.tgz
  charts/secrets-store-csi-driver-0.0.19.tgz
  charts/secrets-store-csi-driver-0.0.20.tgz
  charts/secrets-store-csi-driver-0.0.21.tgz
  charts/secrets-store-csi-driver-0.0.22.tgz
  charts/secrets-store-csi-driver-0.0.23.tgz
  charts/secrets-store-csi-driver-0.0.9.tgz
  charts/secrets-store-csi-driver-0.1.0.tgz
  charts/secrets-store-csi-driver-0.2.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ci: add workflow for publishing helm charts
  .github/workflows/chart.yaml
  Makefile
Due: none

Publish secrets-store-csi-driver-0.2.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-0.2.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: updates formatting
  pkg/secrets-store/nodeserver_test.go
Due: none

chore: removes debug stmnt
  test/e2eprovider/Dockerfile
Due: none

chore: make --filtered-watch-secret flag no-op
  cmd/secrets-store-csi-driver/main.go
  pkg/k8s/store.go
  pkg/k8s/store_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
Due: none

test: set first pod ready wait timeout to 300s
  test/bats/azure.bats
Due: none

chore: update opentelemetry library to v0.20.0
  go.mod
  go.sum
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/stats_reporter.go
Due: none

fix: remove constraints on secret type name
  pkg/util/secretutil/secret.go
  pkg/util/secretutil/secret_test.go
Due: none

helm: update chart repo to `https://kuberentes-sigs.github.io/secrets-store-csi-driver/charts`
  charts/secrets-store-csi-driver/README.md
  docs/book/src/getting-started/installation.md
  docs/book/src/getting-started/upgrades.md
  docs/book/theme/favicon.png
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: removes vault and uses static values
  pkg/secrets-store/nodeserver_test.go
  test/bats/e2e-provider.bats
  test/bats/tests/e2e_provider/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_multiple_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1alpha1_secretproviderclass_ns.yaml
  test/bats/tests/e2e_provider/rotation/e2e_provider_synck8s_v1alpha1_secretproviderclass.yaml
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
  test/e2eprovider/types/types.go
  test/e2eprovider/vault/vault.go
Due: none

test: changes from fake to mock
  Makefile
  test/scripts/e2e_provider.sh
Due: none

test: updates to structured logging
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
Due: none

test: removes dead code
  test/bats/e2e-provider.bats
Due: none

refactor: remove csi-common package and update driver
  Makefile
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
  pkg/csi-common/controllerserver-default.go
  pkg/csi-common/driver.go
  pkg/csi-common/driver_test.go
  pkg/csi-common/identityserver-default.go
  pkg/csi-common/identityserver-default_test.go
  pkg/csi-common/nodeserver-default.go
  pkg/csi-common/nodeserver-default_test.go
  pkg/csi-common/utils.go
  pkg/csi-common/utils_test.go
  pkg/secrets-store/controllerserver.go
  pkg/secrets-store/identityserver.go
  pkg/secrets-store/identityserver_test.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/secrets-store_test.go
  pkg/secrets-store/server.go
  pkg/secrets-store/server_test.go
  pkg/secrets-store/utils.go
  test/sanity/sanity_test.go
Due: none

test: adds e2e build tag
  Makefile
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
  test/e2eprovider/server/server.go
  test/e2eprovider/types/types.go
Due: none

Updated metrics-addr to accept integer value rather than ':port-number'
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: adds build tags
  Makefile
  pkg/secrets-store/nodeserver_test.go
  test/bats/e2e-provider.bats
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
  test/e2eprovider/server/server_test.go
  test/e2eprovider/types/types.go
Due: none

test: fixes go modules
  go.mod
  go.sum
  test/e2eprovider/go.sum
  test/e2eprovider/server/server.go
Due: none

test: removes dependacy of mock server in tests
  pkg/secrets-store/nodeserver_test.go
  test/e2eprovider/server/server_test.go
Due: none

chore: removes replace directive
  go.mod
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

chore: adds newline
  test/scripts/e2e_provider.sh
Due: none

chore: adds comments and logs
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
Due: none

test: adds helper funtion to return un-exported prop
  test/e2eprovider/server/server.go
Due: none

chore: updates logging
  test/e2eprovider/server/server.go
Due: none

chore: removes ioutil
  test/e2eprovider/server/server_test.go
Due: none

test: adds golangci-lint for e2eprovider
  Makefile
  test/e2eprovider/e2e_provider.go
  test/e2eprovider/server/server.go
Due: none
