Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
      - make e2e-bootstrap e2e-helm-deploy-release e2e-vault
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcp-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

chore: reenable trivy scan for binary
  Makefile
Due: none

chore: bump version to v1.3.0 in release-1.3
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

security: fix CVE-2022-41717
  Makefile
  go.mod
  go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

release: update manifest and helm charts for v1.3.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.3.0
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.3.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.3.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: update supported releases - v1.3.x and v1.2.x
  docs/book/src/introduction.md
Due: none

ci: enable tests with kubernetes v1.26
  .github/workflows/e2e.yaml
Due: none

feat: require RequiresRepublish for rotation
  Makefile
  cmd/secrets-store-csi-driver/main.go
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  controllers/tokenrequest/tokenrequest.go
  docs/book/src/topics/command-reference.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-rotation_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-syncsecret.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-syncsecret_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role-tokenrequest_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/role_binding.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/serviceaccount.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  pkg/k8s/secret.go
  pkg/k8s/store.go
  pkg/k8s/store_test.go
  pkg/k8s/token.go
  pkg/k8s/token/token_manager.go
  pkg/k8s/token/token_manager_test.go
  pkg/k8s/token_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  test/sanity/sanity_test.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: remove windows version 1903, 1909 and 2004 (EOL)
  Makefile
  docker/BASEIMAGE
  docker/BASEIMAGE_CORE
Due: secrets-store-csi-driver-push-image

chore: update node-driver-registrar to v2.7.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: update livenessprobe to v2.9.0
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Better JSON logging
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
  pkg/k8s/token_test.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

chore: bump version to v1.3.1 in release-1.3
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

chore: pin buildx to `v0.10.6`
  Makefile
Due: none

release: update manifest and helm charts for v1.3.1
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.3.1.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.3.1.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

feat: add `--version` flag to print the driver version
  cmd/secrets-store-csi-driver/main.go
  pkg/version/version.go
  pkg/version/version_test.go
Due: none

chore: use base and test image from `registry.k8s.io`
  .local/debug-driver.yaml
  docker/BASEIMAGE
  docker/Dockerfile
  docs/book/src/topics/set-as-env-var.md
  docs/book/src/topics/sync-as-kubernetes-secret.md
  test/bats/tests/akeyless/pod-inline-volume-secretproviderclass.yaml
  test/bats/tests/aws/BasicTestMount.yaml
  test/bats/tests/azure/deployment-synck8s-azure.yaml
  test/bats/tests/azure/deployment-two-synck8s-azure.yaml
  test/bats/tests/azure/pod-azure-inline-volume-multiple-spc.yaml
  test/bats/tests/azure/pod-secrets-store-inline-volume-crd.yaml
  test/bats/tests/azure/rotation/pod-synck8s-azure.yaml
  test/bats/tests/e2e_provider/deployment-synck8s-e2e-provider.yaml
  test/bats/tests/e2e_provider/deployment-two-synck8s-e2e-provider.yaml
  test/bats/tests/e2e_provider/pod-e2e-provider-inline-volume-multiple-spc.yaml
  test/bats/tests/e2e_provider/pod-secrets-store-inline-volume-crd.yaml
  test/bats/tests/e2e_provider/rotation/pod-synck8s-e2e-provider.yaml
  test/bats/tests/gcp/pod-secrets-store-inline-volume-crd.yaml
  test/bats/tests/vault/deployment-synck8s.yaml
  test/bats/tests/vault/deployment-two-synck8s.yaml
  test/bats/tests/vault/pod-vault-inline-volume-multiple-spc.yaml
  test/bats/tests/vault/pod-vault-inline-volume-secretproviderclass.yaml
  test/bats/tests/vault/pod-vault-rotation.yaml
Due: secrets-store-csi-driver-push-image

Update debian-base image to v1.4.3
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

adding Akeyless as a Provider
  docs/book/src/getting-started/installation.md
Due: none

chore: bump version to v1.3.2 in release-1.3
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.3.2
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.3.2.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.3.2.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: update golangci-lint to v1.52.1
  .golangci.yml
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/rotation/reconciler.go
  pkg/util/fileutil/atomic_writer_test.go
Due: none

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*
