Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-modsecurity, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-e2e-image-debian, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-modsecurity: any of: images/modsecurity/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-e2e-image-debian: any of: images/test-runner-debian/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

COPS-8923_nginx_update - Updating API references
  charts/ingress-nginx/ingress/templates/ingress.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - testing with ingressClassResource disabled
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - testing with service disabled
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - testing with name override
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - testing without name override
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - testing with name override +1
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - service disabled
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Support none keyword in log-format escape
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/log-format.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Updated dependabot to include github actions (#8335)
  .github/dependabot.yml
Due: none

fix the gosec test and a make target for it
  Makefile
  cmd/nginx/main.go
  internal/ingress/controller/nginx.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

need the workspace
  Makefile
Due: none

create codeql yaml
  .github/workflows/codeql-analysis.yml
Due: none

Fix minor typo - "Kubernetess"
  docs/index.md
Due: none

Fix more typos
  docs/index.md
Due: none

Fix typo: double "the"
  README.md
Due: none

Fix several typos (#8701)
  README.md
  docs/index.md
Due: none

Deploy GitHub Pages
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

add containerSecurityContext to defaultBackend
  charts/ingress-nginx/templates/default-backend-deployment.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - updated values to be more in line with current
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - testing with external loadbalancer enabled
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

gofmt -s ./internal/ingress/controller/config/config.go
  internal/ingress/controller/config/config.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

COPS-8923_nginx_update - adjusting the way the ALB template is called.
  charts/ingress-nginx/templates/ingress.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - adjusting the way the ALB template is called.
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - adjusting the way the ALB template is called +1
  charts/ingress-nginx/ingress/templates/ingress.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - Testing with new changes in values and adding poddistruptionbudget back in.
  charts/ingress-nginx/ingress/templates/ingress.yaml
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/ingress.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - removing poddisruptionbudget
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - removing minAvailable tag
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - readding minAvailable tag setting, enableMimalloc switched to true
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - ingressClassResource.enabled set back to true
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - removing podAnnotations
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

feat: add a _before hook for plugins
  rootfs/etc/nginx/lua/plugins.lua
  rootfs/etc/nginx/lua/plugins/README.md
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

fix: lua linting
  rootfs/etc/nginx/lua/plugins.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

test: Add test for run_before plugin hook
  rootfs/etc/nginx/lua/test/plugins_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

COPS-8923_nginx_update - Testing wihtout ingressClassResource
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - disabling service
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

COPS-8923_nginx_update - enabling service
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart
