Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2, post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-misc-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e-v2/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/(kubekins-e2e/|kubekins-e2e-v2/variants.yaml)|kubetest|boskos|logexporter)
  post-test-infra-push-kubekins-e2e-v2: any of: ^images/kubekins-e2e-v2/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-push-misc-images: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config-canary: any of: ^config/(jobs|testgrids)/.*$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-misc-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/

remove cgroup v1 other than ci-cos-cgroupv1-containerd-node-e2e
  config/jobs/kubernetes/sig-node/README.md
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/testgrids/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

switch to use cgroup v2 for ubuntu images
  jobs/e2e_node/containerd/containerd-main/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.7/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-2.0/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-2.1/image-config.yaml
  jobs/e2e_node/containerd/image-config-serial-hugepages.yaml
  jobs/e2e_node/containerd/image-config.yaml
  jobs/e2e_node/image-config-serial-cpu-manager.yaml
  jobs/e2e_node/image-config-serial-hugepages.yaml
  jobs/e2e_node/image-config-serial.yaml
Due: none

Add exploratory job for resource size
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra GCR images and k8s-staging-test-infra AR images and k8s-staging-apisnoop-test-infra and k8s-staging-apisnoop-apisnoop
  config/jobs/containerd/containerd/containerd-periodic-jobs.yaml
  config/jobs/etcd/etcd-benchmarks-periodic.yaml
  config/jobs/etcd/etcd-operator-postsubmits.yaml
  config/jobs/etcd/etcd-operator-presubmits.yaml
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
  config/jobs/etcd/etcd-raft-presubmits.yaml
  config/jobs/etcd/protodoc-postsubmits.yaml
  config/jobs/etcd/protodoc-presubmits.yaml
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml
  config/jobs/kubernetes-sigs/alibaba-cloud-csi-driver/alibaba-cloud-csi-driver.yaml
  config/jobs/kubernetes-sigs/ingate/ingate-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-storage-lib-external-provisioner/sig-storage-lib-external-provisioner.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-presubmits.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-s390x-periodics.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/kubernetes-ppc64le-presubmits.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/kubernetes-s390x-presubmits.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/minikube/minikube-periodics.yaml
  config/jobs/kubernetes/minikube/minikube-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-gce.yaml
  config/jobs/kubernetes/sig-security/cve-feed-tests.yaml
  config/jobs/kubernetes/sig-testing/cmd.yaml
  config/jobs/kubernetes/sig-testing/dependencies.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-ci.yaml
  config/jobs/kubernetes/sig-testing/make-test.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

[kjob] Bump go version to 1.25.
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-main.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-release-0.1.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-release-0.1.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove BUILDER_IMAGE env variable.
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-main.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-release-0.1.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kro: add job for building (staging) images
  config/jobs/image-pushing/k8s-staging-kro.yaml
  config/testgrids/kubernetes/sig-cloud-provider/kro/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

capz: windows-specific presubmit runs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

[kjob] Use E2E_K8S_VERSION env variable.
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-main.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-release-0.1.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-release-0.1.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

k8s-infra: Drop GCR Backup job
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

[KEP-4639] Remove dedicated image volume presubmit
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update Bump go version 1.25.3 for kubekins-e2e/kubekins-e2e-v2/krte
  images/kubekins-e2e-v2/variants.yaml
Due: post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2

Remove consistent reads experiments as the feature went GA
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kOps: switch Route53 domain for tests
  config/jobs/kubernetes/kops/build_jobs.py
Due: post-test-infra-upload-testgrid-config-canary

make generate executed
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping Prow
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-branchprotector.yaml
  config/jobs/kubernetes/test-infra/test-infra-checkconfig.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/prow/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Move ci-kubernetes-e2e-gce-scale-resource-size to experiments
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Move the exploratory resource size test by 12 hours to avoid conflict with ci-kubernetes-e2e-gce-scale-correctness
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

capz: explicit TEST_WINDOWS=true for Windows test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

get cgroup v2 images for ubuntu images
  jobs/e2e_node/arm/image-config-serial.yaml
  jobs/e2e_node/containerd/containerd-main/perf-image-config.yaml
  jobs/e2e_node/containerd/image-cadvisor.yaml
  jobs/e2e_node/dra/image-config-containerd-1.7.yaml
Due: none

kOps: use community-owned bucket for state store
  config/jobs/kubernetes/kops/build_jobs.py
Due: post-test-infra-upload-testgrid-config-canary

make generate-jobs executed
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

use T4 GPUs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

create new 5k dra job
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  config/prow/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add new go flag to enable creation of MSC additional subnet
  kubetest/gke.go
Due: post-test-infra-push-kubekins-e2e

updated dreadnought image
  config/jobs/kubernetes-sigs/ibm-vpc-block-csi-driver/ibm-vpc-block-csi-driver.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kOps: Disable Wireguard for Calico tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bump cri-o version for canary
  jobs/e2e_node/crio/crio_cgroupv2_canary.ign
  jobs/e2e_node/crio/crio_cgroupv2_userns.ign
  jobs/e2e_node/crio/templates/base/env-canary.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_canary.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_userns.yaml
Due: pull-test-infra-verify-cri-o

go back to running GPU jobs in us-central1-b
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kro-push-images: set build-dir
  config/jobs/image-pushing/k8s-staging-kro.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update Bump go version 1.24.9 for kubekins-e2e/kubekins-e2e-v2/krte
  images/kubekins-e2e-v2/variants.yaml
Due: post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2

default to merge method squash for agent-sandbox
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

increase running interval for 2025 master to be 24h
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Stop requesting reviewers for kubernetes-sigs/headlamp repo
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Sat, 18 Oct 2025 00:04:20 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

Update sig-node KubeletPSI test focus to include Feature label
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Increase the pod resource to 2 KB
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

azuredisk-csi-driver: 1.34.0 for e2e-capz test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
