Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-images, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-images: any of: ^test\/images\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

Changed readonly to true and type to File for authn/authz config.
  cluster/gce/gci/configure-kubeapiserver.sh
Due: pull-kubernetes-e2e-gke

apiserver: disable info level gRPC logging
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/logger.go
Due: pull-kubernetes-godeps

CHANGELOG: Update directory for v1.19.0-alpha.1 release
  CHANGELOG/CHANGELOG-1.19.md
  CHANGELOG/README.md
Due: none

publishing-bot: Update go 1.12 references to go1.12.17
  staging/publishing/rules.yaml
Due: pull-publishing-bot-dry-run, pull-kubernetes-godeps

publishing-bot: Update go 1.13 references to go1.13.9
  staging/publishing/rules.yaml
Due: pull-publishing-bot-dry-run, pull-kubernetes-godeps

Api doc clarification for the mode value.
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

e2e/framework: remove direct imports to pkg/util/taints
  test/e2e/framework/BUILD
  test/e2e/framework/util.go
Due: none

fix Restart kubelet cause node NotReady
  pkg/kubelet/kubelet_node_status.go
Due: pull-kubernetes-local-e2e-containerized

Add test case to improve the test coverage.
  pkg/scheduler/framework/plugins/helper/normalize_score_test.go
Due: none

kubectl: add app label for run cmd
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

fix function NodeAllocatableRoot
  cmd/kubelet/app/server.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/cm/helpers_unsupported.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Fix bug about unintentional scale out during updating deployment.
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Due: none

e2e/storage: check result of WaitForPersistentVolumeDeleted
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/pv_protection.go
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
Due: none

gofmt kuberuntime_container.go file and update the spurgeInitContainers method comment
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Due: pull-kubernetes-local-e2e-containerized

do not evict high priority pods when diskPressure
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/types/pod_update.go
Due: pull-kubernetes-local-e2e-containerized

switch to v22 of github.com/coreos/go-systemd
  cmd/kubelet/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  test/e2e_node/docker_util.go
  test/e2e_node/summary_test.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

update vendor
  Godeps/LICENSES
  cmd/kubelet/app/BUILD
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/server/BUILD
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  test/e2e_node/BUILD
  vendor/BUILD
  vendor/github.com/coreos/go-systemd/v22/LICENSE
  vendor/github.com/coreos/go-systemd/v22/NOTICE
  vendor/github.com/coreos/go-systemd/v22/daemon/BUILD
  vendor/github.com/coreos/go-systemd/v22/daemon/sdnotify.go
  vendor/github.com/coreos/go-systemd/v22/daemon/watchdog.go
  vendor/github.com/coreos/go-systemd/v22/internal/dlopen/BUILD
  vendor/github.com/coreos/go-systemd/v22/internal/dlopen/dlopen.go
  vendor/github.com/coreos/go-systemd/v22/util/BUILD
  vendor/github.com/coreos/go-systemd/v22/util/util.go
  vendor/github.com/coreos/go-systemd/v22/util/util_cgo.go
  vendor/github.com/coreos/go-systemd/v22/util/util_stub.go
  vendor/github.com/coreos/pkg/dlopen/dlopen_example.go
  vendor/modules.txt
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

Update ipvs library to the new repo and upgrade library version
  go.mod
Due: none

test/e2e/framework: remove direct dependency to k8s.io/kubernetes/pkg/controller
  test/e2e/framework/pod/BUILD
  test/e2e/framework/pod/resource.go
  test/e2e/framework/resource/BUILD
  test/e2e/framework/resource/resources.go
Due: none

Introduce force option for kubeadm join
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/options/constant.go
  cmd/kubeadm/app/cmd/phases/join/data.go
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
Due: pull-kubernetes-e2e-kubeadm-gce

Use OnesCount8 from math/bits to implement countBits
  pkg/registry/core/service/allocator/utils.go
  pkg/registry/core/service/allocator/utils_test.go
Due: none

Fix mount options in FibreChannel volumes
  pkg/volume/fc/fc_test.go
  pkg/volume/fc/fc_util.go
  pkg/volume/iscsi/BUILD
  pkg/volume/iscsi/iscsi_util.go
Due: none

test/e2e/framework /service and /pv:remove direct dependency to k8s.io/kubernetes/pkg/
  test/e2e/framework/pv/BUILD
  test/e2e/framework/pv/pv.go
  test/e2e/framework/service/BUILD
  test/e2e/framework/service/jig.go
Due: none

Detect transitive dependencies on k8s.io/kubernetes
  hack/update-vendor.sh
Due: none

kubeadm: Fix panic in isCoreDNSVersionSupported
  cmd/kubeadm/app/phases/addons/dns/dns.go
Due: pull-kubernetes-e2e-kubeadm-gce

Check that ImageInspect pointer is not nil
  pkg/kubelet/dockershim/docker_container.go
Due: pull-kubernetes-local-e2e-containerized

Remove dependencies from tests/e2e/framework on pkg/scheduler/framework
  pkg/kubelet/events/event.go
  pkg/kubelet/sysctl/BUILD
  pkg/kubelet/sysctl/whitelist.go
  pkg/scheduler/framework/plugins/helper/BUILD
  pkg/scheduler/framework/plugins/helper/normalize_score.go
  pkg/scheduler/framework/plugins/helper/normalize_score_test.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/tainttoleration/BUILD
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  test/e2e/framework/.import-restrictions
  test/e2e/framework/BUILD
  test/e2e/framework/pods.go
  test/e2e/upgrades/BUILD
  test/e2e/upgrades/sysctl.go
Due: pull-kubernetes-local-e2e-containerized

Calculate scores in parallel on spreading benchmarks
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/BUILD
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread_perf_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/BUILD
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
Due: none

Update cni spec version to 0.3.1 to support multiple ips
  pkg/kubelet/dockershim/docker_service.go
  pkg/kubelet/dockershim/network/kubenet/BUILD
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux.go
Due: pull-kubernetes-local-e2e-containerized

Fix pod affinity performance test configuration
  test/integration/scheduler_perf/config/performance-config.yaml
Due: none

Fix metadata release version
  test/conformance/testdata/conformance.yaml
Due: pull-kubernetes-conformance-image-test

Update metadata
  test/conformance/testdata/conformance.yaml
Due: pull-kubernetes-conformance-image-test

kubeadm: add missing RBAC for getting nodes on "upgrade apply"
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Due: pull-kubernetes-e2e-kubeadm-gce

Add package comments to the kube-scheduler config APIs
  staging/src/k8s.io/kube-scheduler/config/v1/doc.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/doc.go
Due: pull-kubernetes-godeps

Add unit tests
  pkg/kubelet/dockershim/network/kubenet/BUILD
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux.go
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux_test.go
Due: pull-kubernetes-local-e2e-containerized
