Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-distroless-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

set custom org and repo for FF cloudbuild job
  gcb/fast-forward/cloudbuild.yaml
  pkg/fastforward/fastforward.go
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Fix wasted assigns
  .golangci.yml
  cmd/krel/cmd/release_notes.go
  pkg/consts/main.go
  pkg/fastforward/fastforward.go
Due: post-release-push-image-k8s-ci-builder

Enable `exportloopref` linter
  .golangci.yml
Due: none

Fix panic when the `--maps-from` value is smaller than 5 characters
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_map.go
Due: post-release-push-image-k8s-ci-builder

Do not exclude mapped notes
  pkg/notes/document/document.go
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

upgrade to go1.22
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  dependencies.yaml
  go.mod
Due: post-release-push-image-k8s-ci-builder

feat(cvss): add CVSS v4.0 support, fix CVSS v2.0 invalid calculator link
  go.mod
  go.sum
  pkg/cve/cve.go
Due: post-release-push-image-k8s-ci-builder

images: Use crane for pushing release images instead of docker
  dependencies.yaml
  push-build.sh
Due: pull-release-cluster-up

rebuild debian-base and tag to bookworm-v1.0.2
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

reproduce failing regex match
  pkg/notes/examples/empty_multiple_sections.txt
  pkg/notes/examples/empty_notes.txt
  pkg/notes/notes_test.go
Due: post-release-push-image-k8s-ci-builder

update set-cap image to use debian-base bookworm-v1.0.2
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-setcap

split release job in two to avoid have token excess permissions in prs
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot.yaml
  dependencies.yaml
Due: none

allow api.securityscorecards.dev
  .github/workflows/depsreview.yml
Due: none

update mdtoc to 1.2.2
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

add publish-release to be part of the release job
  .goreleaser.yml
Due: none

add bom and attestation to release jobs
  .github/workflows/release.yml
  .github/workflows/snapshot.yaml
  .goreleaser.yml
  .krel-bom-config.yaml
  .publish-release-bom-config.yaml
  .release-notes-bom-config.yaml
Due: none

bump sigs.k8s.io/bom to v0.6.0
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

drop build for windows/386
  hack/verify-build.sh
Due: none

drop build for linux/s390x
  hack/verify-build.sh
Due: none

Compare original PR body on release notes mapping
  cmd/krel/cmd/release_notes.go
  go.mod
  pkg/notes/notes.go
  pkg/notes/notes_map.go
Due: post-release-push-image-k8s-ci-builder

Fix schedule builder to reflect current format
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/model.go
  cmd/schedule-builder/cmd/root.go
  cmd/schedule-builder/cmd/root_test.go
  cmd/schedule-builder/cmd/testdata/schedule.yaml
Due: post-release-push-image-k8s-ci-builder

Streamline schedule builder flags
  cmd/schedule-builder/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

Add `schedule-builder` to release job
  .goreleaser.yml
  .schedule-builder-bom-config.yaml
Due: none

Add `--update` flag to `schedule-builder`
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/model.go
  cmd/schedule-builder/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

Add upcoming monthly releases support to schedule-builder
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/model.go
Due: post-release-push-image-k8s-ci-builder

Add `--version/-v` flag to `schedule-builder`
  cmd/schedule-builder/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.22.2 and 1.21.9
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/Dockerfile
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Add `-e/--eol-config-path` support to `schedule-builder`
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/model.go
  cmd/schedule-builder/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

Don't panic if next release is not set
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
Due: post-release-push-image-k8s-ci-builder

bump distroless to use go1.22.2 and go1.21.9
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

revert go.mod to accept minimum go 1.21
  dependencies.yaml
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Build k8s-ci-builder and k8s-cloud-bulider with Go 1.22.2
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

bump release-utils to v0.8.1
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Build k8s-ci-builder and k8s-cloud-bulider with Go 1.21.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Source GOPATH from `go env`
  compile-release-tools
Due: post-release-push-image-k8s-ci-builder

Set GitHub release as 'latest' if target release is newest
  go.mod
  pkg/announce/github_page.go
Due: post-release-push-image-k8s-ci-builder

add support to use lumberjack for log rotation
  images/build/go-runner/go-runner.go
  images/build/go-runner/go.mod
  images/build/go-runner/go.sum
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Only prepend boilerplate in generated mocks if not present
  Makefile
Due: none

Update FakePublisherClient
  pkg/release/releasefakes/fake_publisher_client.go
Due: post-release-push-image-k8s-ci-builder

Do not add release name for upcoming releases
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
