Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-containerd, post-kubernetes-push-perf-tests-networknetperfbenchmark, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-scratch, post-kubernetes-push-perf-tests-sleep, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Path conditions:
  post-kubernetes-push-perf-tests-access-tokens: any of: ^util-images\/access-tokens\/
  post-kubernetes-push-perf-tests-containerd: any of: ^util-images\/containerd\/
  post-kubernetes-push-perf-tests-networknetperfbenchmark: any of: ^util-images\/network\/netperfbenchmark\/
  post-kubernetes-push-perf-tests-probes: any of: ^util-images\/probes\/
  post-kubernetes-push-perf-tests-request-benchmark: any of: ^util-images\/request-benchmark\/
  post-kubernetes-push-perf-tests-scratch: any of: ^util-images\/scratch\/
  post-kubernetes-push-perf-tests-sleep: any of: ^util-images\/sleep\/
  post-kubernetes-push-perf-tests-watch-list: any of: ^util-images\/watch-list\/
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
  pull-perf-tests-ec2-master-scale-performance-100: any of: ^clusterloader2/.*$
  pull-perf-tests-gce-master-scale-performance-100: any of: ^clusterloader2/.*$

Extend WaitForNodes measurement
  clusterloader2/pkg/measurement/common/wait_for_nodes.go
  clusterloader2/pkg/measurement/util/wait_for_nodes.go
  clusterloader2/pkg/measurement/util/wait_for_nodes_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: bump to 0.36.4
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/util/object_store.go
  clusterloader2/pkg/measurement/util/runtimeobjects/replicaswatcher.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

DNSPropagation: use watch to know when pods are ready
  clusterloader2/pkg/measurement/common/probes/probes.go
  util-images/probes/go.mod
  util-images/probes/pkg/dnspropagation/probe.go
  util-images/probes/pkg/dnspropagation/probe_test.go
Due: post-kubernetes-push-perf-tests-probes, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: optimize Node informers with sharedNodeIndexerFactory and fix typed reflector logs
  clusterloader2/docs/DEVELOPING_MEASUREMENT.md
  clusterloader2/pkg/imagepreload/imagepreload.go
  clusterloader2/pkg/measurement/common/job_lifecycle_latency.go
  clusterloader2/pkg/measurement/common/loadbalancer_nodesync_latency.go
  clusterloader2/pkg/measurement/common/node_health_tracker.go
  clusterloader2/pkg/measurement/common/ooms_tracker.go
  clusterloader2/pkg/measurement/common/pod_command.go
  clusterloader2/pkg/measurement/common/service_creation_latency.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/resourceclaim_allocation_latency.go
  clusterloader2/pkg/measurement/common/wait_for_jobs.go
  clusterloader2/pkg/measurement/util/informer/informer.go
  clusterloader2/pkg/measurement/util/runtimeobjects/replicaswatcher.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
  clusterloader2/pkg/measurement/util/shared_node_indexer.go
  clusterloader2/pkg/measurement/util/shared_node_indexer_test.go
  clusterloader2/pkg/measurement/util/wait_for_nodes.go
  clusterloader2/pkg/util/selector.go
  clusterloader2/pkg/util/selector_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: optimize DaemonSet measurement with sharedNodeIndexerFactory
  clusterloader2/pkg/measurement/util/runtimeobjects/replicaswatcher.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
  clusterloader2/pkg/measurement/util/shared_node_indexer.go
  clusterloader2/pkg/measurement/util/shared_node_indexer_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Remove the redundant call
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Bump version of go compiler that bootstraps golang tip test to 1.27.0
  golang/Makefile
Due: none

Fix lint
  clusterloader2/pkg/measurement/util/shared_node_indexer.go
  clusterloader2/pkg/measurement/util/shared_node_indexer_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fix
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
  clusterloader2/pkg/measurement/util/shared_node_indexer.go
  clusterloader2/pkg/measurement/util/shared_node_indexer_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add support for GCP_MONITORING_ENDPOINT
  clusterloader2/pkg/prometheus/clients/gcp_managed.go
  clusterloader2/pkg/prometheus/clients/gcp_managed_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fix 2
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add WaitForRunningPodsRestart measurement
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart.go
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add --use-existing-prometheus for in-cluster PromQL
  clusterloader2/README.md
  clusterloader2/cmd/clusterloader.go
  clusterloader2/docs/GETTING_STARTED.md
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/README.md
  clusterloader2/pkg/prometheus/clients/in_cluster.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/prometheus/util.go
  clusterloader2/pkg/prometheus/util_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fix missing User-Agent for request-benchmark http mode
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_http.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

benchmark-list: add informer mode
  clusterloader2/testing/list/clusterrole.yaml
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/deployment.yaml
  clusterloader2/testing/list/modules/list-benchmark.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

request-benchmark: run informer mode until killed, like the other modes
  util-images/request-benchmark/mode_informer.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

request-benchmark: re-sync informers back-to-back instead of every 5s
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_informer.go
  util-images/request-benchmark/mode_informer_test.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

Add etcd benchmark to cluster loader scenarios
  clusterloader2/testing/etcd/Makefile
  clusterloader2/testing/etcd/config.yaml
  clusterloader2/testing/etcd/kind.yaml
  clusterloader2/testing/etcd/modules/cluster/cluster.yaml
  clusterloader2/testing/etcd/modules/cluster/config.yaml
  clusterloader2/testing/etcd/modules/cluster/podmonitor.yaml
  clusterloader2/testing/etcd/modules/measurements.yaml
  clusterloader2/testing/etcd/modules/operator/config.yaml
  clusterloader2/testing/etcd/modules/operator/etcd-operator.yaml
  clusterloader2/testing/etcd/modules/writer/config.yaml
  clusterloader2/testing/etcd/modules/writer/deployment.yaml
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/go.mod
  util-images/request-benchmark/go.sum
  util-images/request-benchmark/main.go
  util-images/request-benchmark/mode_etcd_put.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Fix metric collection for etcd benchmark
  clusterloader2/testing/etcd/modules/cluster/cluster.yaml
  clusterloader2/testing/etcd/modules/cluster/podmonitor.yaml
  clusterloader2/testing/etcd/modules/measurements.yaml
  clusterloader2/testing/etcd/modules/writer/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: use precise timestamps for resource claim latency
  clusterloader2/pkg/measurement/common/slos/resourceclaim_allocation_latency.go
  clusterloader2/pkg/measurement/common/slos/resourceclaim_allocation_latency_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Don't resume watch from last revision, just the freshes and report errors from watch channel
  clusterloader2/testing/write-throughput/modules/watch/deployment.yaml
  clusterloader2/testing/write-throughput/modules/writer/deployment.yaml
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_watch.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Fix regexp escaping
  verify/verify-flags-underscore.py
Due: none

Add exemplar pod and compaction to etcd write throughput benchmark
  clusterloader2/testing/etcd/config.yaml
  clusterloader2/testing/etcd/modules/writer/config.yaml
  clusterloader2/testing/etcd/modules/writer/deployment.yaml
  util-images/request-benchmark/data/exemplar_pod.yaml
  util-images/request-benchmark/mode_etcd_put.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

list benchmark: remove existing pod.yaml
  clusterloader2/testing/list/pod.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

list benchmark: add exemplar pod from request-benchmark
  clusterloader2/testing/list/pod.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

list benchmark: adapt exemplar pod for CL2 pod creation
  clusterloader2/testing/list/pod.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Fix val size set to non-empty for pod payload
  clusterloader2/testing/etcd/modules/writer/deployment.yaml
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_etcd_put.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

list benchmark: keep data pods unscheduled via schedulerName
  clusterloader2/testing/list/pod.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

request-benchmark: require --content-type in informer mode
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_informer.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

clusterloader2: fix EtcdMetrics panic on second start/gather cycle
  clusterloader2/pkg/measurement/common/etcd_metrics.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: make configmap phase of list benchmark optional
  clusterloader2/testing/list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Simplify the measurement registration
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart.go
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Simplify the accepted toleration
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart.go
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Move write throughput benchmark to 10KB pod
  clusterloader2/testing/write-throughput/config.yaml
  clusterloader2/testing/write-throughput/modules/initial-pods/config.yaml
  clusterloader2/testing/write-throughput/modules/initial-pods/pod_10KB.yaml
  clusterloader2/testing/write-throughput/modules/watch/deployment.yaml
  clusterloader2/testing/write-throughput/modules/writer/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

request-benchmark/mode_informer: disable client-side ratelimiting
  clusterloader2/testing/list/deployment.yaml
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_informer.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

request-benchmark: require --content-type in informer mode
  util-images/request-benchmark/mode_informer.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images
