Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

post-k8s-deploy-registry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
      - .
      env:
  ...

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Bump git-sync
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.32.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.33.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.33.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.33.1.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.32.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.32.2.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

Add terraform for provisioning s390x build cluster on ibmcloud
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/bastion.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/data.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/load_balancer.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/nodes.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/providers.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-build-cluster/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/README.md
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/main.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/resource_group/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/resource_group/resource_group.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/resource_group/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/secret_manager.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/secrets_manager/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/modules/vpc/vpc.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/providers.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/var.tfvars
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-infra-setup/versions.tf
Due: none

Terraform for k8s-s390x-conformance job on ibmcloud
  infra/ibmcloud/terraform/k8s-s390x-conformance/README.md
  infra/ibmcloud/terraform/k8s-s390x-conformance/main.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/access_groups/access_groups.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/access_groups/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/access_groups/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/access_groups/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/custom_role/iam_custom_role.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/custom_role/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/service_ids/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/service_ids/service_ids.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/service_ids/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/iam/service_ids/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/resource_group/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/resource_group/resource_group.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/resource_group/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/secrets_manager/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/secrets_manager/secret_manager.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/secrets_manager/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/secrets_manager/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/vpc/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/vpc/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/vpc/versions.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/modules/vpc/vpc.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/outputs.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/providers.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/variables.tf
  infra/ibmcloud/terraform/k8s-s390x-conformance/versions.tf
Due: none

Image promotion for kube-state-metrics v2.17.0
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote ExternalDNS v0.19.0
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

CAPO v0.13.0-beta.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.11.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.10.6
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

updated images for gateway-api-inference-extension v1.0.0-rc.3
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-vsphere v1.14.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update SHAs with the new tag
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

More fixups to azure terraform config
  infra/azure/terraform/capz/capz-monitoring/main.tf
  infra/azure/terraform/capz/cluster-api-gallery/main.tf
  infra/azure/terraform/capz/identities/main.tf
  infra/azure/terraform/capz/main.tf
  infra/azure/terraform/capz/role-assignments/main.tf
Due: none

Updating azure capz-monitoring AKS terraform config
  infra/azure/terraform/capz/capz-monitoring/main.tf
  infra/azure/terraform/capz/identities/main.tf
  infra/azure/terraform/capz/main.tf
  infra/azure/terraform/capz/role-assignments/main.tf
Due: none

Image promotion for provider-aws v1.34.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote provider-aws v1.34.0 release artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.34.0.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, k8sio-k8s-resources-verify

Promote cluster-api-ibmcloud-controller:v0.12.0
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Checking in terraform lock file for azure
  infra/azure/terraform/capz/.terraform.lock.hcl
Due: none

Image promotion for provider-aws v1.33.2
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.32.5
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.31.8
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.30.9
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

bump groups dependencies
  groups/go.mod
  groups/go.sum
  groups/reconcile.go
Due: pull-k8sio-groups-test, post-k8sio-groups

WG-Batch leads update
  OWNERS_ALIASES
  groups/wg-batch/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: k8sio-k8s-resources-verify

Use latest SHA to fix Helm Charts
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

updated images for gateway-api-inference-extension v1.0.0-rc.4
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add infra and group for karpenter clusterapi
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
  infra/gcp/infra.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Adding Chris Short to moderators mail group
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promoting the IGW v1 images
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
  kubernetes/ibm-s390x/prow/boskos-janitor.yaml
  kubernetes/ibm-s390x/prow/boskos-reaper.yaml
  kubernetes/ibm-s390x/prow/boskos.yaml
Due: k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.32.9
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.34.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.33.5
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.31.13
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/
