Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

missed a paren
  test/instrumentation/decode_metric.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Set the Content-Type of http.Header when the request body type is string/[]byte/io.Reader
  pkg/apis/meta/install/install.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/controlplane/import_known_versions.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/install/install.go
  staging/src/k8s.io/client-go/dynamic/simple.go
  staging/src/k8s.io/client-go/metadata/metadata.go
  staging/src/k8s.io/client-go/rest/request.go
Due: pull-kubernetes-godeps

fix existing unit tests
  test/instrumentation/main_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

[1.20][go1.15] Update to go1.15.14
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  test/images/Makefile
  test/images/sample-apiserver/Makefile
Due: post-kubernetes-push-e2e-sample-apiserver-test-images, pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

add happy path tests for two types of imports
  test/instrumentation/decode_metric.go
  test/instrumentation/error.go
  test/instrumentation/main.go
  test/instrumentation/main_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Optimize kubelet stats provider for perfomace bottleneck
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/cri_stats_provider.go
Due: pull-kubernetes-local-e2e-containerized

delete meta DeleteOptions register
  pkg/apis/meta/install/install.go
  pkg/controlplane/import_known_versions.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/install/install.go
Due: pull-kubernetes-godeps

Fix the code is leaking the defaulting between unrelated pod instances
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject_test.go
Due: pull-kubernetes-godeps

Use go-runner:v2.3.1-go1.15.14-buster.0 image (built on go1.15.14)
  build/common.sh
  build/workspace.bzl
Due: pull-kubernetes-cross, pull-kubernetes-godeps

staging/publishing: Set default go version to go1.15.14
  staging/publishing/rules.yaml
Due: pull-publishing-bot-validate, pull-kubernetes-godeps

Bump to golang 1.15.14 in cluster/** and staging/**
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
Due: pull-publishing-bot-validate, pull-kubernetes-e2e-gke, pull-kubernetes-godeps

Bump to golang 1.15.14 in test/**
  test/images/Makefile
  test/images/sample-apiserver/Makefile
Due: post-kubernetes-push-e2e-sample-apiserver-test-images, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel

Revert granting EndpointSlice write access to edit role
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none

Remove Endpoints write access from aggregated edit role
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none

Committed on 7 14 2021
  2021/7/14/commit.md
Due: none

add scheme installer for metav1
  pkg/apis/meta/install/install.go
  pkg/controlplane/import_known_versions.go
Due: none

Remove ServiceAccountIssuerDiscovery feature gate
  pkg/features/kube_features.go
  pkg/kubeapiserver/options/authentication.go
Due: pull-kubernetes-e2e-gce-alpha-features

add debug log
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
Due: pull-kubernetes-godeps

correct unsafe sysctls e2e test case & use status reason check instead of events watch
  test/conformance/testdata/conformance.yaml
  test/e2e/common/node/sysctl.go
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

fix deadcode issues
  cmd/kube-proxy/app/server.go
  pkg/credentialprovider/gcp/metadata.go
  pkg/kubelet/certificate/bootstrap/bootstrap_test.go
  pkg/registry/core/pod/rest/metrics.go
  pkg/util/iptables/iptables.go
  plugin/pkg/admission/imagepolicy/certs_test.go
  test/e2e/network/ingress.go
  test/e2e/storage/drivers/csi-test/mock/service/service.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

update golangci-lint to newer version
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

fix ineffassign and varcheck
  cmd/kube-proxy/app/server.go
  pkg/apis/storage/validation/validation_test.go
  pkg/generated/openapi/cmd/models-schema/main.go
  test/e2e/common/node/pods.go
  test/e2e/lifecycle/bootstrap/bootstrap_signer.go
  test/e2e/node/events.go
  test/e2e/node/pods.go
  test/e2e/scheduling/limit_range.go
  test/integration/evictions/evictions_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

enable verify-golangci-lint.sh
  hack/make-rules/verify.sh
  pkg/apis/storage/validation/validation_test.go
  pkg/generated/openapi/cmd/models-schema/main.go
  pkg/kubelet/certificate/bootstrap/bootstrap_test.go
  test/e2e/common/node/pods.go
  test/e2e/network/ingress.go
  test/e2e/scheduling/limit_range.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-local-e2e-containerized, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake

Revert counting deleted pods as failures for Job
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Due: none

Bump to golang 1.15.14 in build/**
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  build/root/WORKSPACE
  build/workspace.bzl
Due: pull-kubernetes-cross, pull-kubernetes-godeps

client-go exec: fix metrics related to plugin not found
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/metrics.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/metrics_test.go
  test/integration/client/exec_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Add integration tests for updating Job parallelism
  test/integration/job/job_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Updated to use konnectivity client v0.0.21, and implemented placeholder context
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector_test.go
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
Due: check-dependency-stats, pull-kubernetes-godeps

CHANGELOG: Update directory for v1.22.0-beta.2 release
  CHANGELOG/CHANGELOG-1.22.md
Due: none

refactor master function names to controlplane
  test/e2e/framework/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

conformance
  test/e2e/framework/kubesystem/kubesystem.go
  test/e2e/framework/skipper/skipper.go
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Audit PodPortForwardOptions when port-forward
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
Due: pull-kubernetes-godeps

Bump to golang 1.15.14 in test/**
  test/images/Makefile
  test/images/sample-apiserver/Dockerfile
Due: post-kubernetes-push-e2e-sample-apiserver-test-images, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel

try to fix the in_tree_volumes cases: refactor the projectBasePath logic
  staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_fake.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instances.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_zones.go
Due: pull-kubernetes-godeps
