Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-modsecurity, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-e2e-image-debian, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-modsecurity: any of: images/modsecurity/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-e2e-image-debian: any of: images/test-runner-debian/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: change all cloudbuild jobs configuration
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/echo/cloudbuild.yaml
  images/ext-auth-example-authsvc/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/go-grpc-greeter-server/cloudbuild.yaml
  images/httpbin/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/opentelemetry/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

fix: change all cloudbuild jobs configuration (#8870)
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/echo/cloudbuild.yaml
  images/ext-auth-example-authsvc/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/go-grpc-greeter-server/cloudbuild.yaml
  images/httpbin/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/opentelemetry/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

Document internal-logger-address cli arg
  docs/user-guide/cli-arguments.md
Due: none

Remove nodeSelector from kind template
  hack/manifest-templates/provider/kind/values.yaml
Due: none

Release v1.3.0 (kubernetes#8811)
  README.md
Due: none

add X-Forwarded-For in custom error template (#7892)
  rootfs/etc/nginx/template/nginx.tmpl
Due: none

Don't error log when no OCSP responder URL exists
  rootfs/etc/nginx/lua/certificate.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

added conditional git safe.directory command
  32
  build/build.sh
Due: pull-ingress-nginx-boilerplate

Update test/e2e/annotations/ipwhitelist.go
  test/e2e/annotations/ipwhitelist.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/annotations/modsecurity/modsecurity.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update test/e2e/settings/access_log.go
  test/e2e/settings/access_log.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

remove unnecessary blank line
  test/e2e/annotations/streamsnippet.go
  test/e2e/settings/stream_snippet.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

re-order packages
  test/e2e/annotations/disableaccesslog.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

chore: bump NGINX version v1.21.4
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

less change
  test/e2e/framework/framework.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

endpointslices
  charts/ingress-nginx/templates/clusterrole.yaml
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/endpoints_test.go
  internal/ingress/controller/endpointslices.go
  internal/ingress/controller/endpointslices_test.go
  internal/ingress/controller/store/endpointslice.go
  internal/ingress/controller/store/store.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

cleanup
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/store/store.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix rbac
  charts/ingress-nginx/templates/controller-role.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

update to baseiamge built after CI changes
  NGINX_BASE
Due: none

update to baseiamge built after CI changes (#8892)
  NGINX_BASE
Due: none

fix comments
  internal/ingress/controller/store/endpointslice.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

easy cla
  README.md
Due: none

cleanup store, add store tests
  internal/ingress/controller/store/endpoint.go
  internal/ingress/controller/store/endpoint_test.go
  internal/ingress/controller/store/endpointslice.go
  internal/ingress/controller/store/endpointslice_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Changing node selector for custom values in helm charts
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add annotation + test
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/authtls/main.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/authtls.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix(controller): typo in catch-all CheckIngress error message
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

reformating with gofmt -s
  internal/ingress/annotations/authtls/main.go
  test/e2e/annotations/authtls.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Parametrize registry value for k8s.gcr.io
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Set grpc :authority header from request header
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/grpc.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test
