Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/

push-build: Prevent cross build and amd64 version marker collisions
  lib/releaselib.sh
Due: none

push-build: Support pushing fast builds to a /fast subdirectory
  lib/releaselib.sh
  push-build.sh
Due: none

Add command.Verbose() method
  pkg/command/command.go
  pkg/command/command_test.go
Due: none

Add `Commands` structure to command package
  pkg/command/command.go
  pkg/command/command_test.go
Due: none

gcbmgr: add releases numbers tags to the cloudbuild
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

Cleanup log package
  pkg/log/log.go
Due: none

Finish release.SetBuildVersion() implementation
  .golangci.yml
  pkg/release/build_version.go
  pkg/release/build_version_test.go
  pkg/release/releasefakes/BUILD.bazel
  pkg/release/releasefakes/fake_gcp_client.go
  pkg/release/releasefakes/fake_http_client.go
  pkg/release/releasefakes/fake_job_cache_client.go
  pkg/release/releasefakes/fake_test_grid_client.go
Due: none

Set commands globally to verbose if log level >= Debug
  pkg/command/BUILD.bazel
  pkg/command/command.go
  pkg/command/global.go
  pkg/command/global_test.go
  pkg/log/BUILD.bazel
Due: none

Cut -rc.1 for the first release candidate on a new branch
  lib/releaselib.sh
Due: none

anago: set verbose to git push
  anago
Due: none

anago: remove verbose flag from git push command
  anago
Due: none

gcb: Update GitHub token
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

Add saschagrunert and alejandrox1 as SIG Release admin
  OWNERS_ALIASES
Due: none

Add saschagrunert and alejandrox1 to SECURITY_CONTACTS
  SECURITY_CONTACTS
Due: none

krel/ff: dont restor the branch if the cleanup flag is set
  cmd/krel/cmd/ff.go
Due: none

kube-cross: Build v1.14.5-1 and v1.13.13-1 images
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s-cloud-builder: Build on kube-cross:v1.14.5-1 and v1.13.13-1
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: overwrite user and group for etcd source
  images/build/cross/Dockerfile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Make release notes logging more verbose
  pkg/notes/notes.go
Due: none

krel: add history subcommand to build the metrics for the gh issue
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/gcbmgr_history.go
  docs/krel/gcbmgr_history.md
  pkg/gcp/build/build.go
Due: none

kube-cross: Build v1.14.6
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Improve release-notes --format help output
  cmd/release-notes/main.go
Due: none

Correctly populate err for krel release-notes
  cmd/krel/cmd/release_notes.go
Due: none

changelog: remove changelog files from other releases when we cut the first official release
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_test.go
Due: none

kube-cross: Update GCB image to gcb-docker-gcloud:v20200713-e9b3d9d
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Add tags to GCB jobs
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Build v1.13.14-1 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Add canary variant to test Golang pre-releases
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s-cloud-builder: Build on kube-cross:v1.14.6-1 and v1.13.14-1
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Split go template and format in options
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/README.md
  cmd/release-notes/main.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/options/options.go
  pkg/notes/options/options_test.go
Due: none

kube-cross: Build v1.15.0-beta.1-1 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Revert "Merge pull request #1229 from justaugustus/vdf"
  anago
  lib/releaselib.sh
Due: none

anago/ensure_registry_acls: Temporarily disable ACL check for VDF
  anago
Due: none

Change ReleaseNotes to an own struct
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/main.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/notes.go
Due: none

release-notes bugfix + add template opts validation
  cmd/release-notes/main.go
  pkg/notes/options/options.go
Due: none

lib/release: Remove GCRIO_PATH_PROD_PUSH logic
  lib/releaselib.sh
Due: none

anago: temporary remove the tag check
  anago
Due: none

anago: fix hack error
  anago
Due: none

hack/anago: skip bucket check
  anago
Due: none

HACK: short circuit anago past 1.19.0-rc2 failure
  anago
Due: none
