Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

add faq entry
  cluster-autoscaler/FAQ.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

minor faq reword
  cluster-autoscaler/FAQ.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: bump Azure containerservice to v8 (#9163)
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

azure: implement AtomicIncreaseSize for VMSS
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix(azure): prevent VMSS target size panic on cached negative size
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix(azure): avoid negative VMSS size cache on delete
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix: invalidate VMSS size cache on delete failure
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

docs: note VMSS DeleteNodes min-size follow-up
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

docs(azure): note canIncreaseSize -1 branch is now defensive
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Add MinQuotasTrackerOptions to support configurable scale-down quotas (#9727)
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/options/autoscaler.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Enable ScaleDownEnabled in TestStaticAutoscalerScaleDownCustomQuota
  cluster-autoscaler/core/static_autoscaler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Enable onfusing-results rule
  vertical-pod-autoscaler/.golangci.yaml
  vertical-pod-autoscaler/pkg/admission-controller/certs_test.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Enable unused-receiver rule
  vertical-pod-autoscaler/.golangci.yaml
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/pre_processor.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/pre_processor.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go
  vertical-pod-autoscaler/pkg/recommender/routines/cpu_integer_post_processor.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender_test.go
  vertical-pod-autoscaler/pkg/recommender/util/histogram_mock.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher_fake.go
  vertical-pod-autoscaler/pkg/updater/priority/pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/fake_pods_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory_test.go
  vertical-pod-autoscaler/pkg/utils/limitrange/limit_range_calculator.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix lints with latest rebase
  vertical-pod-autoscaler/pkg/admission-controller/logic/server_test.go
  vertical-pod-autoscaler/pkg/updater/inplace/unboost_patch_calculator.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add template-node label to mitigate scale up issue (#9700)
  cluster-autoscaler/simulator/node_info_utils.go
  cluster-autoscaler/simulator/node_info_utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add norbertcyran to reviewers
  cluster-autoscaler/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[cluster-autoscaler-release-1.34] azure: implement AtomicIncreaseSize for VMSS (#9764)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

azure: implement AtomicIncreaseSize for VMSS (#9763)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Add dynamic watching for scalable objects in capacity buffers
  cluster-autoscaler/capacitybuffer/client/client.go
  cluster-autoscaler/capacitybuffer/client/client_test.go
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/controller/controller_test.go
  cluster-autoscaler/capacitybuffer/controller/rbac.go
  cluster-autoscaler/capacitybuffer/controller/rbac_test.go
  cluster-autoscaler/capacitybuffer/controller/resourcequotas_test.go
  cluster-autoscaler/capacitybuffer/filters/podtemplate_generation_filter_test.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator_test.go
  cluster-autoscaler/capacitybuffer/updater/status_updater_test.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
  cluster-autoscaler/test/integration/controllers/capacitybuffer_controller_test.go
  cluster-autoscaler/test/integration/controllers/suite_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(cluster-autoscaler): integrate scheduler extender filtering into pod scheduling simulation
  cluster-autoscaler/Makefile
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner_test.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot.go
  cluster-autoscaler/simulator/framework/handle.go
  cluster-autoscaler/utils/gpu/gpu.go
  cluster-autoscaler/utils/gpu/gpu_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add CRD-level label selector validation
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/capacityquota_types.go
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacityquotaspec.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/labelselector.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/labelselectorrequirement.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/utils.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacityquotas.yaml
  cluster-autoscaler/resourcequotas/capacityquota/controller.go
  cluster-autoscaler/resourcequotas/capacityquota/provider.go
  cluster-autoscaler/resourcequotas/capacityquota/provider_test.go
  cluster-autoscaler/resourcequotas/capacityquota/testutil/testutil.go
  cluster-autoscaler/resourcequotas/capacityquota/validator.go
  cluster-autoscaler/test/integration/controllers/capacityquota_controller_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Standardize cloud provider NodeGroupForNode returns and remove reflection
  cluster-autoscaler/cloudprovider/alicloud/alicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go
  cluster-autoscaler/cloudprovider/baiducloud/baiducloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/bizflycloud/bizflycloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/civo/civo_cloud_provider.go
  cluster-autoscaler/cloudprovider/cloudstack/cloudstack_cloud_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/wrapper/wrapper.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/hetzner/hetzner_cloud_provider.go
  cluster-autoscaler/cloudprovider/huaweicloud/huaweicloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/instancepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/tencentcloud/tencentcloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/utho/utho_cloud_provider.go
  cluster-autoscaler/cloudprovider/volcengine/volcengine_cloud_provider.go
  cluster-autoscaler/cloudprovider/vultr/vultr_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
  cluster-autoscaler/core/scaledown/budgets/budgets.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/processors/nodegroups/nodegroup_manager.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/processors/nodes/pre_filtering_processor.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_delay_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Improve scale down safety for nodes without node groups
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/status/status.go
  cluster-autoscaler/core/scaledown/status/status_test.go
  cluster-autoscaler/processors/nodes/scale_down_set_processor.go
  cluster-autoscaler/processors/nodes/scale_down_set_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update e2e tests to allow cache refresh
  cluster-autoscaler/e2e/cluster_size_autoscaling.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add label selector validation with kustomize
  cluster-autoscaler/apis/config/crd/bases/autoscaling.x-k8s.io_capacityquotas.yaml
  cluster-autoscaler/apis/config/crd/kustomization.yaml
  cluster-autoscaler/apis/config/crd/patches/validate-capacity-quota-selector.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Enforce CapacityQuota only if it has a Valid condition
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/capacityquota_types.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacityquotastatus.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacityquotas.yaml
  cluster-autoscaler/resourcequotas/capacityquota/controller.go
  cluster-autoscaler/resourcequotas/capacityquota/provider.go
  cluster-autoscaler/resourcequotas/capacityquota/provider_test.go
  cluster-autoscaler/resourcequotas/capacityquota/testutil/testutil.go
  cluster-autoscaler/test/integration/controllers/capacityquota_controller_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
