Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

Image promotion for build-image bullseye-v1.5.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v0.2.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

empty out the registry.k8s.io folder
  registry.k8s.io/MANUALLY_SYNCING_BUCKETS.md
  registry.k8s.io/OWNERS
  registry.k8s.io/README.md
  registry.k8s.io/hack/initial-copy-between-s3.sh
  registry.k8s.io/hack/initial-copy-to-s3.sh
  registry.k8s.io/registry-k8s-io-account-structure.dot
  registry.k8s.io/registry-k8s-io-account-structure.svg
Due: none

audit: update as of 2023-02-20
  audit/projects/k8s-gcr-audit-test-prod/services/logging/logs.json
  audit/projects/k8s-infra-porche-prod/services/logging/metrics.json
  audit/projects/k8s-infra-porche-prod/services/monitoring/dashboards/porche.json
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-staging-addon-manager/services/logging/logs.json
  audit/projects/k8s-staging-cluster-addons/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api/services/logging/logs.json
  audit/projects/k8s-staging-csi-secrets-store/services/logging/logs.json
  audit/projects/k8s-staging-gateway-api/services/logging/logs.json
  audit/projects/k8s-staging-kubebuilder/buckets/artifacts.k8s-staging-kubebuilder.appspot.com/metadata.txt
  audit/projects/k8s-staging-kubebuilder/buckets/k8s-staging-kubebuilder/metadata.txt
  audit/projects/k8s-staging-provider-aws/services/logging/logs.json
  audit/projects/k8s-staging-publishing-bot/services/logging/logs.json
  audit/projects/k8s-staging-sig-auth/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

Update CAPI mailing list
  groups/sig-cluster-lifecycle/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Bumping boskos and ghproxy and prow
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify

Add varshaprasad96 to Kubebuilder group
  groups/sig-api-machinery/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for build-image bullseye-v1.4.3
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

adjust oidc bindings
  infra/aws/terraform/registry.k8s.io/iam.tf
Due: none

Request access for patch releases.
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

SRC membership updates
  OWNERS_ALIASES
  groups/committee-security-response/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add voelzmo to sig-autoscaling members and staging-image owners
  groups/sig-autoscaling/groups.yaml
  k8s.gcr.io/images/k8s-staging-autoscaling/OWNERS
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for kube-state-metrics v2.8.1
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.23.17 / v1.23.18-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.24.11 / v1.24.12-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.25.7 / v1.25.8-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.26.2 / v1.26.3-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

adding jimangel to k8s-infra-release-editors
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

AWS: Redefine delegate administrators
  infra/aws/terraform/management-account/delegated-admins.tf
Due: none

Image promotion for capi-operator v0.1.0
  k8s.gcr.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

AWS: Create a S3 Storage Lens configuration
  infra/aws/terraform/audit-account/s3_storage_lens.tf
Due: none

Update SIG network to include Shane Utt as a chair
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote aws-ebs-csi-driver v1.15.1/v1.16.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote ip-masq-agent v2.9.2
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

initial azure ad poc
  .gitignore
  infra/azure/README.md
  infra/azure/azure-ad/.terraform.lock.hcl
  infra/azure/azure-ad/README.md
  infra/azure/azure-ad/provider.tf
  infra/azure/azure-ad/sig-k8s-infra/OWNERS
  infra/azure/azure-ad/sig-k8s-infra/groups.tf
  infra/azure/azure-ad/sig-k8s-infra/groups.yaml
  infra/azure/azure-ad/sig-k8s-infra/variables.tf
  infra/azure/azure-ad/users.csv
  infra/azure/azure-ad/users.tf
Due: k8sio-k8s-resources-verify

Promote v1.9.0 pdcsi image
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

artifacts.k8s.io: replicate to ap-northeast-1 region
  artifacts/mirroring/filestores/k8s-staging-cri-tools/filepromoter-manifest.yaml
  artifacts/mirroring/filestores/k8s-staging-kops/filepromoter-manifest.yaml
  artifacts/mirroring/filestores/k8s-staging-provider-aws/filepromoter-manifest.yaml
Due: k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

AWS: ignore credits in the global budget.
  infra/aws/terraform/management-account/budgets.tf
Due: none

CAPO release v0.7.1
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2023-02-26
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-staging-addon-manager/services/logging/logs.json
  audit/projects/k8s-staging-apisnoop/services/logging/logs.json
  audit/projects/k8s-staging-artifact-promoter/services/logging/logs.json
  audit/projects/k8s-staging-autoscaling/services/logging/logs.json
  audit/projects/k8s-staging-capi-operator/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-aws/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-azure/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-do/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-nested/services/logging/logs.json
  audit/projects/k8s-staging-prometheus-adapter/services/logging/logs.json
  audit/projects/k8s-staging-provider-azure/services/logging/logs.json
Due: none

Promote dns 1.22.19&1.22.20 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Temporarily host apt-key.gpg as original url is failing
  apps/k8s-io/configmap-nginx.yaml
  apt/doc/apt-key.asc
  apt/doc/apt-key.gpg
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-k8s-io

Promote v1.3.11 filestore image
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Adding Aravindh to leads group
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Initial Terraform configs for prow-build-cluster on AWS
  infra/aws/terraform/prow-build-cluster/.gitignore
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/irsa.tf
  infra/aws/terraform/prow-build-cluster/kms.tf
  infra/aws/terraform/prow-build-cluster/main.tf
  infra/aws/terraform/prow-build-cluster/manifests/cluster-autoscaler.yaml
  infra/aws/terraform/prow-build-cluster/outputs.tf
  infra/aws/terraform/prow-build-cluster/providers.tf
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
  infra/aws/terraform/prow-build-cluster/vpc.tf
Due: k8sio-k8s-resources-verify

Increase subnets and IOPS/througput in prow-build-cluster
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/kms.tf
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/vpc.tf
Due: none

Promote filestore v1.4.0 to k8s-prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Release cut for gracenng
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cluster-api v1.2.11
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
