Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, post-test-infra-upload-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-push-alpine, post-test-infra-push-clusterfuzzlite, post-test-infra-push-gcloud-terraform, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-test-gubernator, post-test-infra-push-gencred, post-test-infra-gencred-refresh-kubeconfig, post-test-infra-upload-oncall, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-clusterfuzzlite: any of: ^(experiment/clusterfuzzlite)
  post-test-infra-push-gcloud-terraform: any of: ^images/gcloud-terraform/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|gencred|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/build/boskos-resources/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Update image-builder to go 1.23
  images/builder/cloudbuild.yaml
Due: post-test-infra-push-image-builder

Update image-builder to go 1.22 (NOT 1.23!!)
  images/builder/cloudbuild.yaml
Due: post-test-infra-push-image-builder

Upgrade go version for Kueue 0.6 presubmits to 1.22
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-6.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Switch to latest golang in 1.22 series for gcb-docker-gcloud
  images/gcb-docker-gcloud/cloudbuild.yaml
Due: post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcb-docker-gcloud

Add nathanperkins to oncall
  experiment/slack-oncall-updater/main.go
Due: pull-test-infra-integration

capz: use windows-2019 for Windows conformance tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

CAPI e2e-mink8s jobs: Drop image shas
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-6-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-6-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add presubmit jobs for release-0.8 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.8.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add nathnperkins to test-infra-admins
  OWNERS_ALIASES
Due: pull-test-infra-integration

Update golangci-lint version for vsphere csi driver jobs config
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add integration-1-cpu job to etcd presubmits
  config/jobs/etcd/etcd-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update golang image to 1.22
  config/jobs/kubernetes-sigs/ibm-powervs-block-csi-driver/ibm-powervs-block-csi-driver.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

fix: fix miss makezero bug
  gopherage/cmd/merge/merge.go
Due: pull-test-infra-integration

Use v1.26.15 to test CAPZ apiversion upgrade
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

remove pushing image to vmware registry post-job
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

remove pushing image to vmware registry key
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Due: pull-test-infra-integration, post-test-infra-deploy-prow

kubernetes-sigs/nfd: add presubmit jobs for v0.16
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-16.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

remove cloud provider tests that are permanently failing
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 28 May 2024 00:02:52 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Add 1.30 jobs for CPO
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.30-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add retry to gcloud container get-server-config
  kubetest/util.go
Due: post-test-infra-push-kubekins-e2e

Increase requests for Kueue verify job in release-0.6
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-6.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add requests and limits to Kueue build job
  config/jobs/image-pushing/k8s-staging-kueue.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

change kind node tag
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-4.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-5.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update kueue's e2e tests k8s versions.
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update config/OWNERS
  config/OWNERS
  config/prow/OWNERS
Due: pull-test-infra-integration

Fix make command in jobset-presubmit-release-0.5.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0.5.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update BUILDER_IMAGE to golang:1.22
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0.4.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0.5.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add multiarch build support for etcd
  config/jobs/etcd/etcd-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

cluster-capacity: bump(k8s.io)=1.30
  config/jobs/kubernetes-sigs/cluster-capacity/cluster-capacity-presubmits-release-1.30.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Tune etcd integration 1 cpu job
  config/jobs/etcd/etcd-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Make etcd integration 1 cpu not optional
  config/jobs/etcd/etcd-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add etcd presubmit integration jobs with 2 and 4 CPUs
  config/jobs/etcd/etcd-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

config: remove now unused secret for capv
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Due: pull-test-infra-integration, post-test-infra-deploy-prow
