Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

post-k8s-deploy-registry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
      - .
      env:
  ...

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Adding v0.2.0 image
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Prepare for blixt image generation
  groups/restrictions.yaml
  groups/sig-network/groups.yaml
  infra/gcp/infra.yaml
  registry.k8s.io/images/k8s-staging-blixt/OWNERS
  registry.k8s.io/images/k8s-staging-blixt/images.yaml
  registry.k8s.io/manifests/k8s-staging-blixt/promoter-manifest.yaml
Due: pull-k8sio-groups-test, pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cloud-pv-vsphere v1.33.0-beta.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Add Helm native version Chrart tags
  registry.k8s.io/images/charts/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for gmsa-webhook v0.13.0
  registry.k8s.io/images/k8s-staging-gmsa-webhook/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: post-k8sio-deploy-prow-build-trusted-resources, k8sio-k8s-resources-verify

Promote csi-driver-hostpath 1.16 images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote Cluster Autoscaler patch releases
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote ExternalDNS v0.16.1
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Push ibm-powervs-block-csi-driver v0.9.0
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

fix external secrets for new cluster
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  kubernetes/apps/external-secrets.yaml
  kubernetes/ibm-ppc64le/helm/external-secrets.yaml
  kubernetes/ibm-ppc64le/prow/kustomization.yaml
  kubernetes/ibm-ppc64le/prow/secrets.yaml
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

use workload identity fully with kyverno
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/kyverno.yaml
  kubernetes/ibm-ppc64le/prow/kyverno.yaml
  kubernetes/ibm-ppc64le/prow/secrets.yaml
Due: k8sio-k8s-resources-verify

fix typos
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  kubernetes/ibm-ppc64le/prow/kustomization.yaml
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

fix external secrets for new cluster (#7883)
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
  kubernetes/apps/external-secrets.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/kyverno.yaml
  kubernetes/ibm-ppc64le/helm/external-secrets.yaml
  kubernetes/ibm-ppc64le/prow/kustomization.yaml
  kubernetes/ibm-ppc64le/prow/kyverno.yaml
  kubernetes/ibm-ppc64le/prow/secrets.yaml
Due: k8sio-k8s-resources-verify

handle jmespath correctly for kyverno
  kubernetes/ibm-ppc64le/prow/kyverno.yaml
Due: k8sio-k8s-resources-verify

Add dns entry for lws.sigs.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Update boskos deployments on ibm-ppc64le cluster
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
Due: k8sio-k8s-resources-verify

fix: drop killianmuldoon from email list
  groups/sig-cluster-lifecycle/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add terraform for provisioning power build cluster on ibmcloud
  infra/ibmcloud/OWNERS
  infra/ibmcloud/terraform/k8s-infra-setup/README.md
  infra/ibmcloud/terraform/k8s-infra-setup/main.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/resource_group/outputs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/resource_group/resource_group.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/resource_group/versions.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/secrets_manager/outputs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/secrets_manager/secrets_manager.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/secrets_manager/variables.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/secrets_manager/versions.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/transit_gateway/tgw.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/transit_gateway/variables.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/transit_gateway/versions.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/vpc/outputs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/vpc/variables.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/vpc/versions.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/vpc/vpc.tf
  infra/ibmcloud/terraform/k8s-infra-setup/outputs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/providers.tf
  infra/ibmcloud/terraform/k8s-infra-setup/pvs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/var.tfvars
  infra/ibmcloud/terraform/k8s-infra-setup/variables.tf
  infra/ibmcloud/terraform/k8s-infra-setup/versions.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/README.md
  infra/ibmcloud/terraform/k8s-power-build-cluster/bastion.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/load_balancer.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/modules/load_balancer/load_balancer.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/modules/load_balancer/outputs.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/modules/load_balancer/variables.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/modules/load_balancer/versions.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/nodes.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/outputs.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/providers.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/var.tfvars
  infra/ibmcloud/terraform/k8s-power-build-cluster/variables.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/versions.tf
Due: none

CAPO v0.12.2
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

CAPO v0.11.5
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote nfs csi driver image
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

addon managerv 9.1.8
  registry.k8s.io/images/k8s-staging-addon-manager/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.8.11
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.9.6
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.10.0-beta.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote dra-example-driver image v0.1.0 and chart 0.1.3
  registry.k8s.io/images/k8s-staging-dra-example-driver/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-gcp v1.9.0
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote Container Images for v0.9.5
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote container images for v0.10.3
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kueue images for v0.11.0
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Fix promotion of Kueue image for v0.11.0
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue 0.11.0 rollback chart promotion to re-add next
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue promote 0.11.0 chart image
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-vsphere v1.13.0-beta.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add ClusterSecretStore for IBM provider's Secrets Manager
  kubernetes/ibm-ppc64le/prow/external-secrets.yaml
  kubernetes/ibm-ppc64le/prow/secretstore-ibm-k8s.yaml
Due: k8sio-k8s-resources-verify

Promote cluster-proportional-autoscaler:v1.10.0 images.
  registry.k8s.io/images/k8s-staging-cpa/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote Kueue v0.11.1 images
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-aws v2.8.1
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/
