Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2, post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-misc-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e-v2/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/(kubekins-e2e/|kubekins-e2e-v2/variants.yaml)|kubetest|boskos|logexporter)
  post-test-infra-push-kubekins-e2e-v2: any of: ^images/kubekins-e2e-v2/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-push-misc-images: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config-canary: any of: ^config/(jobs|testgrids)/.*$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-misc-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/

DRA: use new labeling in canary jobs
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove skip test for k/k issue #131132
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-periodics.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Ingress NGINX: Bump Test Runner to v2.1.0.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Make control plane image update command idempotent
  experiment/compatibility-versions/kind-upgrade.sh
Due: none

sig autoscaling: CA automated image build job
  config/jobs/image-pushing/k8s-staging-autoscaling.yaml
  config/testgrids/kubernetes/sig-autoscaling/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Drop CAPV jobs for 1.10
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

etcd: enable verify jobs for release-3.5 branch
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

chore: Add test jobs for cloud provider azure release-1.33 branch
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.33.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

etcd: add release-3.4 branch to verify jobs
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: use new labeling in normal jobs
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kubekins-e2e-v2 multiarch support for s390x
  images/kubekins-e2e-v2/Dockerfile
  images/kubekins-e2e-v2/README.md
  images/kubekins-e2e-v2/cloudbuild.yaml
Due: post-test-infra-push-kubekins-e2e-v2

GCB Docker GCloud: Update Go to v1.23.9 and `buildx` to v0.19.3.
  images/gcb-docker-gcloud/Dockerfile
  images/gcb-docker-gcloud/README.md
Due: post-test-infra-push-gcb-docker-gcloud

enable pull-etcd-verify for release-3.5 branch
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

use containerd 2.1.0 and runc 1.3.0 in CI
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-gce.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 13 May 2025 00:04:50 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

cluster-capacity: new jobs for k8s 1.33
  config/jobs/kubernetes-sigs/cluster-capacity/cluster-capacity-presubmits-release-1.33.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update KubeKins for release branches
  images/kubekins-e2e-v2/variants.yaml
Due: post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2

Bumping k8s-testimages images and k8s-staging-test-infra GCR images and k8s-staging-test-infra AR images and k8s-staging-apisnoop-test-infra and k8s-staging-apisnoop-apisnoop
  config/jobs/containerd/containerd/containerd-periodic-jobs.yaml
  config/jobs/etcd/etcd-bbolt-presubmits.yaml
  config/jobs/etcd/etcd-operator-postsubmits.yaml
  config/jobs/etcd/etcd-operator-presubmits.yaml
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
  config/jobs/etcd/etcd-raft-presubmits.yaml
  config/jobs/kubernetes-sigs/alibaba-cloud-csi-driver/alibaba-cloud-csi-driver.yaml
  config/jobs/kubernetes-sigs/ingate/ingate-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-storage-lib-external-provisioner/sig-storage-lib-external-provisioner.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-periodics.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-presubmits.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bump Go 1.24 for gcb docker gcloud
  images/gcb-docker-gcloud/Dockerfile
  images/gcb-docker-gcloud/README.md
Due: post-test-infra-push-gcb-docker-gcloud

VPA: enable InPlaceOrRecreate feature gate in tests
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

testing latest kubernetes master with gotip
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

configure ar-to-s3-sync alert thresholds
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-registry.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

route the comp version tests alert email to team alias
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

sig-node: move e2e-containerd to dedicated nodepool
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add plugins to k-sigs/aws-ebs-csi-driver (release-note & override)
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

add test scripts and periodic prow job for testing kubernetes two steps upgrade
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
  experiment/compatibility-versions/e2e-k8s-compatibility-versions-with-two-steps.sh
  experiment/compatibility-versions/emulated-version-upgrade.sh
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Use the kubemark staging registry for testing ci-golang-tip-k8s-master
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix: artifacts and kind cluster not getting cleaned up properly
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Due: none

return code instead of immediately exiting
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Due: none

etcd: add robustness test periodics for release-3.6
  config/jobs/etcd/etcd-periodics.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add presubmit jobs for CAPIBM release-0.11 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.11.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra GCR images and k8s-staging-test-infra AR images and k8s-staging-apisnoop-test-infra and k8s-staging-apisnoop-apisnoop
  config/jobs/etcd/etcd-periodics.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Revert "Use the kubemark staging registry for testing ci-golang-tip-k8s-master"
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

e2e: enable the VERSION_DELTA env varfor feature gate compatibility version tests
  experiment/compatibility-versions/compatibility-versions-feature-gate-test.sh
Due: none

update env var in ci-golang-tip-k8s-master
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

chore: [compat version] remove exception of MultiCIDRServiceAllocator feature for N-1 test
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 16 May 2025 00:03:16 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.19-blocking.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.20-blocking.yaml
Due: post-test-infra-upload-testgrid-config-canary

🌱 Enable periodic GH Bug Triage project board syncing for v1.34
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-release-release-team-jobs/release-team-periodics.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add aws-ebs-csi-driver security presubmit
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
