Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

post-ingress-nginx-cfssl:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-custom-error-pages:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-e2e-test-echo:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-fastcgi-helloserver:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-httpbun:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-kube-webhook-certgen:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-nginx:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-test-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

CI: Update KIND to v1.34.3.
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update KIND to v1.34.3. (#14306)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update KIND to v1.34.3. (#14305)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update KIND to v1.34.3. (#14307)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Bump Alpine to v3.23.2.
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-cfssl, post-ingress-nginx-nginx

CI: Update Kubernetes to v1.35.0.
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update Kubernetes to v1.35.0.
  .github/workflows/ci.yaml
  build/dev-env.sh
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Bump Alpine to v3.23.2. (#14309)
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-cfssl, post-ingress-nginx-nginx

Images: Bump Alpine to v3.23.2. (#14310)
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-cfssl, post-ingress-nginx-nginx

Images: Bump Alpine to v3.23.2. (#14308)
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-cfssl, post-ingress-nginx-nginx

Deploy GitHub Pages
  examples/customization/sysctl/patch.json
  sitemap.xml
  sitemap.xml.gz
Due: none

CI: Update Kubernetes to v1.35.0. (#14311)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update Kubernetes to v1.35.0. (#14313)
  .github/workflows/ci.yaml
  build/dev-env.sh
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update Kubernetes to v1.35.0. (#14312)
  .github/workflows/ci.yaml
  build/dev-env.sh
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Bump GCB Docker GCloud to v20251222-9ed298b43e.
  charts/ingress-nginx/cloudbuild.yaml
  cloudbuild.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Go: Update dependencies.
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Bump the actions group with 2 updates (#14323)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump k8s.io/apimachinery from 0.34.3 to 0.35.0 in /images/ext-auth-example-authsvc/rootfs (#14325)
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.sum
Due: none

Bump the actions group with 2 updates (#14322)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump k8s.io/kube-aggregator from 0.34.3 to 0.35.0 in /images/kube-webhook-certgen/rootfs (#14327)
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-kube-webhook-certgen

Bump k8s.io/apimachinery from 0.34.3 to 0.35.0 in /images/ext-auth-example-authsvc/rootfs (#14324)
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.sum
Due: none

Bump k8s.io/apiextensions-apiserver from 0.34.3 to 0.35.0 (#14329)
  go.mod
  go.sum
Due: none

Bump k8s.io/kube-aggregator from 0.34.3 to 0.35.0 in /images/kube-webhook-certgen/rootfs (#14326)
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-kube-webhook-certgen

Bump k8s.io/apiextensions-apiserver from 0.34.3 to 0.35.0 (#14328)
  go.mod
  go.sum
Due: none

Images: Bump GCB Docker GCloud to v20251222-9ed298b43e. (#14332)
  charts/ingress-nginx/cloudbuild.yaml
  cloudbuild.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Images: Bump GCB Docker GCloud to v20251222-9ed298b43e. (#14331)
  charts/ingress-nginx/cloudbuild.yaml
  cloudbuild.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Images: Bump GCB Docker GCloud to v20251222-9ed298b43e. (#14330)
  charts/ingress-nginx/cloudbuild.yaml
  cloudbuild.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Go: Update dependencies. (#14333)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Update dependencies. (#14334)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Update dependencies. (#14335)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Clarify regex docs
  docs/user-guide/ingress-path-matching.md
Due: none

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$
