Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

azure: implement AtomicIncreaseSize for VMSS (#9514)
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Fix-latest: Migrate VPA E2E testing deployment to Helm (#9613)
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/hack/e2e/helm-settings.sh
  vertical-pod-autoscaler/hack/e2e/values-e2e.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Make dependabot update direct and indirect dependencies
  .github/dependabot.yml
Due: none

removed unused protobuf tags
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta1/types.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vertical-pod-autoscaler/pkg/apis/poc.autoscaling.k8s.io/v1alpha1/types.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Refactored `markFailedGroupsAsUnschedulable` to use a cleaner single-pass loop over SchedulableGroups instead of two separate loops, utilizing an early continue pattern for better readability.
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update InPlace docs
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/enhancements/8818-in-place-only/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Write pods with nominated node name to the cluster snapshot
  cluster-autoscaler/core/podlistprocessor/filter_out_expendable.go
  cluster-autoscaler/core/podlistprocessor/filter_out_expendable_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/utils/expendable.go
  cluster-autoscaler/core/utils/expendable_test.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/utils/klogx/klogx.go
  cluster-autoscaler/utils/kubernetes/listers.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Graduation criteria for CapacityQuota API
  cluster-autoscaler/proposals/granular-resource-limits.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Implement scale-down prevention based on resource quotas (#9598)
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/resource/limits.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_csi_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/processors/nodes/scale_down_context.go
  cluster-autoscaler/resourcequotas/provider.go
  cluster-autoscaler/resourcequotas/provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

InPlace with inPlaceSkipDisruptionBudget flag
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
  vertical-pod-autoscaler/pkg/updater/config/config.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

helm-docs
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

indent
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

lint
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

generate flags
  vertical-pod-autoscaler/docs/flags.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix the unit tests in orchestrator and static_autoscaler.
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Reduce benchmark count to speed up execution
  .github/workflows/ca-benchmark.yaml
Due: none

Fix resource leak in RunOnce benchmarks
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add trace capture in CA benchmark
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Make async node group initializer handle concurrent scale-ups
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer.go
  cluster-autoscaler/core/scaleup/orchestrator/async_initializer_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

drop usage of k8s.io/kubernetes
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fixed check logic
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

run go mod tidy
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Skip envtest tests in `make test-unit`
  .github/workflows/ca-test.yaml
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/Makefile
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Simplify markFailedGroupsAsUnschedulable further
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add verify-go.sh script to validate go.mod and go.sum
  vertical-pod-autoscaler/hack/verify-go.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

[Perf] Optimize and fix informer leak in core/bench benchmark tests
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/core/bench/benchmark_runonce_test.go
  cluster-autoscaler/utils/fake/kubernetes.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Address comments
  vertical-pod-autoscaler/hack/verify-go.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
