Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, post-k8sio-image-promo, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - name: groups
      image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && make run -- --confirm

post-k8sio-dns-update:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-dns-updater
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/infra-tools/octodns:v20200616-67ce585
      command:
      - bash
      args:
      - -c
      - cd dns && make push-local

post-k8sio-deploy-prow-build-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

post-k8sio-deploy-prow-build-trusted-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

triage-party: improve configuration settings
  triage-party/release-team/configmap.yaml
Due: none

groups: shard off committee-product-security groups
  groups/committee-product-security/OWNERS
  groups/committee-product-security/groups.yaml
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

slack-infra: add deploy.sh
  slack-infra/README.md
  slack-infra/deploy.sh
Due: none

promote ingress-nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

slack-moderator-words: fix missing port definition
  slack-infra/resources/slack-moderator-words/deployment.yaml
Due: none

Deploy ghproxy
  prow/ghproxy_deployment.yaml
  prow/ghproxy_rbac.yaml
Due: none

Give some love to gcsweb
  gcsweb.k8s.io/README.md
  gcsweb.k8s.io/deployment.yaml
  gcsweb.k8s.io/ingress.yaml
  gcsweb.k8s.io/service.yaml
Due: none

releng: Image promotion for v1.21.0-rc.0 / v1.22.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml: promote 2.0.0-rc.1
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Add tests for data validation
  policies/README.md
  policies/deprecations.rego
  policies/kubernetes.rego
Due: none

Refine terraform version constraint
  hack/verify-terraform.sh
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/versions.tf
Due: none

A direct approach to AWS account management
  infra/aws/e2e/accounts/README.md
  infra/aws/e2e/accounts/audit.sh
  infra/aws/e2e/accounts/create-account.sh
Due: none

k8s.gcr.io/../k8s-staging-kube-state-metrics/images.yaml: Finish promotion
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

sig-storage: promote hostpath 1.6.1 + 1.6.2 and nfs-plugin 3.0.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

promoting echo and e2e-test-runner images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote Cluster API v0.3.15
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote debian-base:buster-v1.5.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

groups: setup sippy ns, add spiffxp for debug
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Due: pull-k8sio-groups-test, post-k8sio-groups

Remove gianarb from release-managers groups
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test

groups: cleanup old wg-reliability group/ns
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Due: pull-k8sio-groups-test, post-k8sio-groups

test image: promote agnhost 2.31
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote aws-ebs-csi-driver v0.10.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

triage-party: small updates in the configuration
  triage-party/release-team/configmap.yaml
Due: none

slack-moderator-words: update image for slack-moderator-words
  slack-infra/resources/slack-moderator-words/deployment.yaml
Due: none

gcp-compute-persistent-disk-csi-drive: promote image release v1.2.1
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

triage-party: fix deployment replicas
  triage-party/release-team/deployment.yaml
Due: none

adding CAA record
  dns/zone-configs/kubernetes.io._0_base.yaml
Due: post-k8sio-dns-update

dl.k8s.io: Redirect CI URIs to Kubernetes Community infra
  k8s.io/configmap-nginx.yaml
  k8s.io/test.py
Due: none

dl.k8s.io: Remove ci-cross redirects
  k8s.io/configmap-nginx.yaml
  k8s.io/test.py
Due: none

Add snapshot images v1.2.5
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Setup kettle namespace
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Due: pull-k8sio-groups-test, post-k8sio-groups

Add initial groups reconciliation for sig-cluster-lifecycle
  groups/sig-cluster-lifecycle/OWNERS
  groups/sig-cluster-lifecycle/groups.yaml
Due: pull-k8sio-groups-test

promote csi-secrets-store driver:v0.0.21
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Add github admins for k8s-staging-ci-robot
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

add starting manifests for wg-reliability-sippy
  sippy/OWNERS
  sippy/README.md
  sippy/sippy/certificate.yaml
  sippy/sippy/deployment.yaml
  sippy/sippy/ingress.yaml
  sippy/sippy/pvc.yaml
  sippy/sippy/service.yaml
Due: none

Fix settings for k8s-infra-ci-robot
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

releng: Promote go-runner:v2.3.1-go1.15.11-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/groups.yaml
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/
