Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

Add tests for checking of uncertain device paths
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

fixup! Add extra validation steps to clientcmd Validate
  pkg/kubelet/certificate/bootstrap/bootstrap_test.go
  pkg/kubelet/certificate/bootstrap/testdata/mycertinvalid.key
  pkg/kubelet/certificate/bootstrap/testdata/mycertvalid.key
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

fix incorrect function comment
  pkg/scheduler/internal/queue/scheduling_queue.go
Due: none

Update cri-tools to v1.29.0
  build/dependencies.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

Update status for statefulsets with OnDelete strategy
  pkg/apis/apps/types.go
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1beta2/types.go
  test/e2e/apps/statefulset.go
  test/e2e/framework/expect.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Revert comment changes. Leave it to a separate PR.
  pkg/apis/apps/types.go
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1beta2/types.go
Due: pull-kubernetes-godeps

Split #106059. Fix comment of OnDelete.
  pkg/apis/apps/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1beta2/types.go
Due: pull-kubernetes-godeps

dra: enable adding ReservedFor entries through strategic-merge-patch
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1alpha2_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/resource/v1alpha2/generated.proto
  staging/src/k8s.io/api/resource/v1alpha2/types.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-godeps

UPSTREAM: <carry>: add ignore for SAST scan
  .synk
Due: none

fixup! Add extra validation steps to clientcmd Validate
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation_test.go
Due: pull-kubernetes-godeps

refactor tests with builders
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
  pkg/generated/openapi/zz_generated.openapi.go
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

rename SetPodRevision slice
  pkg/controller/statefulset/stateful_set_control_test.go
Due: none

gofmt stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
  test/e2e/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

use sets instead of map[string]interface{}{}
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Due: none

Fix validation for StorageClass.ReclaimPolicy
  pkg/apis/storage/validation/validation.go
Due: none

CPU usage check from node summary endpoint with retry and checked within 3 minutes
  test/e2e/windows/cpu_limits.go
Due: pull-kubernetes-e2e-capz-windows, pull-kubernetes-conformance-kind-ipv6-parallel

noderesourcefit: scheduler queueing hints
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
Due: none

Revert "scheduler/nodeaffinity: reduce pod scheduling latency"
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
Due: none

bump crictl to v1.29.0
  build/dependencies.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

Revert "scheduler/NodeUnschedulable: reduce pod scheduling latency"
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable.go
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable_test.go
Due: none

fix: disable SchedulerQueueingHints feature flag by default
  pkg/features/kube_features.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/queue_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-conformance-kind-ipv6-parallel

cluster: bump cloud-provider-gcp image verison to v28.2.1
  cluster/gce/manifests/cloud-controller-manager.manifest
Due: pull-kubernetes-e2e-gke

fix: disable SchedulerQueueingHints feature flag by default
  pkg/features/kube_features.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: pull-kubernetes-e2e-gce-alpha-features

Update cni-plugins to v1.4.0
  build/dependencies.yaml
  cluster/gce/config-common.sh
  cluster/gce/gci/configure.sh
  hack/local-up-cluster.sh
  test/e2e_node/remote/utils.go
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps, pull-kubernetes-local-e2e

CHANGELOG: Update directory for v1.29.0 release
  CHANGELOG/CHANGELOG-1.29.md
Due: none

Update CHANGELOG/CHANGELOG-1.29.md for v1.29.0
  CHANGELOG/CHANGELOG-1.10.md
  CHANGELOG/CHANGELOG-1.11.md
  CHANGELOG/CHANGELOG-1.12.md
  CHANGELOG/CHANGELOG-1.13.md
  CHANGELOG/CHANGELOG-1.14.md
  CHANGELOG/CHANGELOG-1.15.md
  CHANGELOG/CHANGELOG-1.16.md
  CHANGELOG/CHANGELOG-1.17.md
  CHANGELOG/CHANGELOG-1.18.md
  CHANGELOG/CHANGELOG-1.19.md
  CHANGELOG/CHANGELOG-1.2.md
  CHANGELOG/CHANGELOG-1.20.md
  CHANGELOG/CHANGELOG-1.21.md
  CHANGELOG/CHANGELOG-1.22.md
  CHANGELOG/CHANGELOG-1.23.md
  CHANGELOG/CHANGELOG-1.24.md
  CHANGELOG/CHANGELOG-1.25.md
  CHANGELOG/CHANGELOG-1.26.md
  CHANGELOG/CHANGELOG-1.27.md
  CHANGELOG/CHANGELOG-1.28.md
  CHANGELOG/CHANGELOG-1.29.md
  CHANGELOG/CHANGELOG-1.3.md
  CHANGELOG/CHANGELOG-1.4.md
  CHANGELOG/CHANGELOG-1.5.md
  CHANGELOG/CHANGELOG-1.6.md
  CHANGELOG/CHANGELOG-1.7.md
  CHANGELOG/CHANGELOG-1.8.md
  CHANGELOG/CHANGELOG-1.9.md
Due: none

etcd: Build image 3.5.11
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Due: post-kubernetes-push-image-etcd, pull-kubernetes-cross, pull-kubernetes-godeps

Correct typo from 'checkIPandProtocol' to 'checkIPAndProtocol'
  pkg/proxy/ipvs/ipset/ipset.go
  pkg/proxy/ipvs/ipset/ipset_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

Update publishing-bot rules to Go 1.20.12
  staging/publishing/rules.yaml
Due: pull-publishing-bot-validate, pull-kubernetes-godeps

Move expensive test setup (apiserver and running controller) to be run once in TestAutodeleteOwnerRefs parameterized tests
  test/integration/statefulset/statefulset_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Replace test.name with test.namespace
  test/integration/statefulset/statefulset_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

keep existing PDB conditions when updating status
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
Due: none

fix: Refactor TestFinalizerCleanup unit test by asserting job and pod informer state (#121856)
  pkg/controller/job/job_controller_test.go
Due: none

nominate self (carlory) as sig storage reviewer
  OWNERS_ALIASES
Due: none

Remove unnecessary error catch in scheduling failure (#121981)
  pkg/scheduler/schedule_one.go
  pkg/scheduler/scheduler_test.go
Due: none

Migrate client-go/metadata to contextual logging (#122225)
  hack/logcheck.conf
  staging/src/k8s.io/client-go/metadata/metadata.go
  staging/src/k8s.io/client-go/metadata/metadata_test.go
Due: pull-kubernetes-godeps

add warning message for pv and pod when deprecated flexVolume is used
  pkg/api/persistentvolume/util.go
  pkg/api/persistentvolume/util_test.go
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
Due: none

Add unit test for Job Controller for panic when PodFailurePolicy is used on 1.28
  pkg/controller/job/job_controller_test.go
Due: none

enable SchedulerQueueingHints feature gate in TestIncomingPodsMetrics
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
