Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/groups.yaml
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/

infra/gcp/lib_gsm: create lib_gsm
  infra/gcp/lib.sh
  infra/gcp/lib_gsm.sh
Due: none

infra/gcp/lib_iam: handle empty iam policy
  infra/gcp/lib_iam.sh
Due: none

infra/gcp/conformance: reorganize and fix bugs
  infra/gcp/ensure-conformance-storage.sh
Due: none

infra/gcp/lib_iam: mv ensure_service_account, support update
  infra/gcp/lib.sh
  infra/gcp/lib_iam.sh
Due: none

infra/gcp/lib: chmod -x all libs
  infra/gcp/lib.sh
  infra/gcp/lib_gcr.sh
  infra/gcp/lib_gcs.sh
  infra/gcp/lib_iam.sh
  infra/gcp/lib_util.sh
Due: none

releng: Promote debian-iptables:buster-v1.6.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

infra/gcp/prow: actually reset ssh-keys
  infra/gcp/prow/ensure-e2e-projects.sh
Due: none

Update v0.0.16 for network proxy
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

tests: Adds e2e-test-auth-img project
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-e2e-test-auth-img/OWNERS
  k8s.gcr.io/images/k8s-staging-e2e-test-auth-img/images.yaml
  k8s.gcr.io/manifests/k8s-staging-e2e-test-auth-img/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

Fix sippy manifests to work on 1.16 cluster
  sippy/sippy/certificate.yaml
  sippy/sippy/ingress.yaml
Due: k8sio-k8s-resources-verify

infra/gcp/static-ips: add sippy-ingress-prod
  infra/gcp/ensure-static-ips.sh
Due: none

Promote kOps 1.19.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.19.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.2.yaml
Due: k8sio-k8s-resources-verify

infra/gcp/prow: use two default ssh keys
  infra/gcp/prow/ensure-e2e-projects.sh
Due: none

Remove rbac permissions for extensions.io/v1beta1 resources
  infra/gcp/namespaces/namespace-user-role.yml
Due: none

infra/gcp/prow: fix typos
  infra/gcp/prow/ensure-e2e-projects.sh
Due: none

Add project k8s-test-infra
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-test-infra/OWNERS
  k8s.gcr.io/images/k8s-staging-test-infra/images.yaml
  k8s.gcr.io/manifests/k8s-staging-test-infra/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

Reorganize mailing lists : steering and code of conduct committee
  groups/committee-code-of-conduct/OWNERS
  groups/committee-code-of-conduct/groups.yaml
  groups/groups.yaml
  groups/steering/OWNERS
  groups/steering/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add gcs public bucket for prow staging logs.
  infra/gcp/ensure-main-project.sh
Due: none

Promote kOps 1.20.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.20.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.20.0.yaml
Due: k8sio-k8s-resources-verify

triage-party: update config for sig-release tab
  triage-party/release-team/configmap.yaml
Due: k8sio-k8s-resources-verify

Add ii.coop to k8s-infra-gcp-{auditors,accounting}
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify

Fix sippy ingress by changing underlying service to NodePort
  sippy/sippy/service.yaml
Due: k8sio-k8s-resources-verify

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Fix subject in RoleBinding for kubernetes-external-secrets
  kubernetes-external-secrets/rbac.yaml
Due: k8sio-k8s-resources-verify

Remove namespace declaration
  kubernetes-external-secrets/00-namespace.yaml
Due: k8sio-k8s-resources-verify

Readme improvement
  kubernetes-external-secrets/README.md
Due: none

Promote aws-ebs-csi-driver v0.10.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

rm schedule from codeql
  .github/workflows/codeql-analysis.yml
Due: none

Sync github token from Google Secret Manager
  triage-party/release-team/secret.yaml
Due: k8sio-k8s-resources-verify

k8s.gcr.io/images/k8s-staging-kube-state-metrics: Promote v2.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

add shysank to capz reviewers
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Due: none

Promote nfs-subdir-external-provisioner:v4.0.2 and sort images alphabetically
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add external-provisioner v2.0.5 / v2.1.2
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote Cluster API Azure v0.4.14
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote 1.17.3 DNS images.
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.21.0-alpha.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote kOps 1.21.0-alpha.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.0-alpha.3.yaml
Due: k8sio-k8s-resources-verify
