Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/

SIG Auth: Leadership Change
  OWNERS_ALIASES
  groups/sig-auth/groups.yaml
  registry.k8s.io/images/k8s-staging-csi-secrets-store/OWNERS
  registry.k8s.io/images/k8s-staging-secrets-store-sync/OWNERS
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Terraform for k8s-power-conformance job on ibmcloud
  infra/ibmcloud/terraform/k8s-power-conformance/README.md
  infra/ibmcloud/terraform/k8s-power-conformance/main.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/access_groups/access_groups.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/access_groups/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/access_groups/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/access_groups/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/custom_role/iam_custom_role.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/custom_role/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/service_ids/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/service_ids/service_ids.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/service_ids/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/service_ids/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/workspace.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/resource_group/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/resource_group/resource_group.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/resource_group/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/secrets_manager.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/providers.tf
  infra/ibmcloud/terraform/k8s-power-conformance/pvs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/versions.tf
Due: none

GCP: add nodepool for trusted cluster Signed-off-by: Arnaud Meukam <ameukam@gmail.com>
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
Due: pull-k8sio-terraform-prow-build-trusted, post-k8sio-deploy-prow-build-trusted-resources

Update lws to v0.6.0
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update approver list
  registry.k8s.io/images/k8s-staging-lws/OWNERS
Due: none

add documentation on how to publish helm charts to registry.k8s.io
  registry.k8s.io/README.md
  registry.k8s.io/images/charts/README.md
Due: none

adding new image shas & adding charts
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update ibmcloud janitor deployment
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
Due: k8sio-k8s-resources-verify

Update image tag for ibmcloud-janitor deployment
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
Due: k8sio-k8s-resources-verify

Add etcd 3.5.21
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-operator v0.18.1
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Updating charts & images for GIE v0.3.0 release
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update groups.yaml
  groups/committee-security-response/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Add terraform for capz monitoring cluster
  infra/azure/terraform/capz/capz-monitoring/main.tf
  infra/azure/terraform/capz/main.tf
Due: none

set guyjtempleton email consistently
  groups/sig-autoscaling/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote network-policy-finalizer v0.1.0
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
Due: post-k8sio-deploy-prow-build-trusted-resources, k8sio-k8s-resources-verify

Terraform for k8s-power-conformance job on ibmcloud
  infra/ibmcloud/terraform/k8s-power-conformance/README.md
  infra/ibmcloud/terraform/k8s-power-conformance/main.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/access_groups/access_groups.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/access_groups/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/access_groups/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/access_groups/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/custom_role/iam_custom_role.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/custom_role/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/service_ids/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/service_ids/service_ids.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/service_ids/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/workspace.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/resource_group/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/resource_group/resource_group.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/resource_group/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/secrets_manager.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/versions.tf
  infra/ibmcloud/terraform/k8s-power-conformance/outputs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/providers.tf
  infra/ibmcloud/terraform/k8s-power-conformance/pvs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/versions.tf
Due: none

Add secret rotator
  kubernetes/ibm-ppc64le/helm/external-secrets.yaml
Due: k8sio-k8s-resources-verify

Promote coredns to v1.12.1
  registry.k8s.io/images/k8s-staging-coredns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote nat64 image
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote Kueue images to v0.11.3
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote nat64 v0.2.1 image
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.10.0-rc.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.33.0-rc.0 / v1.34.0-alpha.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.33.0-rc.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.34.0-alpha.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add DNS for CAPI release-1.10 branch
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Terraform for ibmcloud account management activities
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/secrets_manager.tf
  infra/ibmcloud/terraform/management-account/README.md
  infra/ibmcloud/terraform/management-account/billing-users.tf
  infra/ibmcloud/terraform/management-account/billing.tf
  infra/ibmcloud/terraform/management-account/providers.tf
  infra/ibmcloud/terraform/management-account/telemetry-users.tf
  infra/ibmcloud/terraform/management-account/telemetry.tf
  infra/ibmcloud/terraform/management-account/variables.tf
  infra/ibmcloud/terraform/management-account/versions.tf
Due: none

Image promotion for capi-vsphere v1.13.0-rc.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

EKS prow cluster k8s upgrade from 1.31 to 1.32
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

Image promotion for sp-operator v0.9.1
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote csi-secrets-store driver:v1.5.0
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.18.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.19.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
