Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-containerd, post-kubernetes-push-perf-tests-networknetperfbenchmark, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-scratch, post-kubernetes-push-perf-tests-sleep, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

post-kubernetes-push-perf-tests-access-tokens:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-containerd:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-networknetperfbenchmark:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-probes:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-request-benchmark:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-scratch:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-sleep:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-watch-list:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

watch-list/load-test: wait for informer pods to be running before starting the load test
  clusterloader2/testing/load/modules/informer/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

test(clusterloader2): add unit test for ConvertSampleToHistogram
  clusterloader2/pkg/measurement/util/histogram_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

[DO NOT MERGE] perf test for pod-with-pvc
  clusterloader2/pkg/framework/multiclient.go
  clusterloader2/testing/scheduler-throughput/config-pvc.yaml
  clusterloader2/testing/scheduler-throughput/config.yaml
  clusterloader2/testing/scheduler-throughput/create_pv.py
  clusterloader2/testing/scheduler-throughput/pod-default.yaml
  clusterloader2/testing/scheduler-throughput/pvc-default.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Cleanup unused CL2_USE_HOST_NETWORK_PODS
  clusterloader2/testing/load/modules/reconcile-objects/daemonset.yaml
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
  clusterloader2/testing/load/modules/reconcile-objects/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects/statefulset.yaml
  clusterloader2/testing/load/modules/scheduler-throughput/simple-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Render version of Perfdash on UI
  perfdash/Makefile
  perfdash/www/VERSION
  perfdash/www/index.html
Due: none

Add l4lb-class test scenario and refactor to be modular and generic
  clusterloader2/testing/l4lb-class/config.yaml
  clusterloader2/testing/l4lb-class/dep.yaml
  clusterloader2/testing/l4lb-class/modules/measurements.yaml
  clusterloader2/testing/l4lb-class/modules/services.yaml
  clusterloader2/testing/l4lb-class/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Cleanup unused RUN_ON_ARM_NODES
  clusterloader2/testing/load/modules/reconcile-objects/daemonset.yaml
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
  clusterloader2/testing/load/modules/reconcile-objects/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects/statefulset.yaml
  clusterloader2/testing/load/modules/scheduler-throughput/simple-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Realistic pod
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Fix resourceFieldRef
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fix: honor -stderrthreshold when -logtostderr=true
  clusterloader2/pkg/flags/flags.go
  util-images/access-tokens/cmd/main.go
  util-images/watch-list/main.go
Due: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add pagination to collecting events
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add error logging when availability request is not OK.
  clusterloader2/pkg/measurement/common/api_availability_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add environment variables to sidecar to increase pod size from 9KB to 10KB to match exactly the non-realistic scenario
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add exemplar fields to other workload types
  clusterloader2/testing/load/modules/reconcile-objects/daemonset.yaml
  clusterloader2/testing/load/modules/reconcile-objects/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects/statefulset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

watch-list/load-test: Add option to run informer watch-list pods on control-plane node
  clusterloader2/testing/load/modules/informer/config.yaml
  clusterloader2/testing/load/modules/informer/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

api availability measurement: fix data race
  clusterloader2/pkg/measurement/common/api_availability_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

watch-list: Add option to disable compression for requests to the server
  util-images/watch-list/Makefile
  util-images/watch-list/main.go
Due: post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-util-images

cl2/watch-list: disable compression for requests to the server from master nodes
  clusterloader2/testing/load/modules/informer/config.yaml
  clusterloader2/testing/load/modules/informer/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

[clusterloader2] Add agentic-sandbox scalability test suite
  clusterloader2/testing/agentic-sandbox/agent-controller/extensions.yaml
  clusterloader2/testing/agentic-sandbox/agent-controller/manifest.yaml
  clusterloader2/testing/agentic-sandbox/agent-sandbox-continuous-burst.yaml
  clusterloader2/testing/agentic-sandbox/agent-sandbox-rapid-burst.yaml
  clusterloader2/testing/agentic-sandbox/cluster-loader-sandbox-claim.yaml
  clusterloader2/testing/agentic-sandbox/cluster-loader-sandbox-template.yaml
  clusterloader2/testing/agentic-sandbox/cluster-loader-sandbox-warmpool-custom.yaml
  clusterloader2/testing/agentic-sandbox/monitor/agent-sandbox-controller-monitor.yaml
  clusterloader2/testing/agentic-sandbox/monitor/pprof-config.yaml
  clusterloader2/testing/agentic-sandbox/pre-test.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

pin watchlist to https://github.com/kubernetes/kubernetes/pull/138327
  util-images/watch-list/go.mod
  util-images/watch-list/go.sum
Due: post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-util-images

watchlist binary on the master node connects to the API server via localhost
  clusterloader2/testing/load/modules/informer/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

img update
  clusterloader2/testing/load/modules/informer/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Upgrade perf-tests to address go1.26 changes
  benchmark/pkg/metricsfetcher/scraper/scraper_test.go
  benchmark/pkg/metricsfetcher/util/util.go
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/template_functions.go
  clusterloader2/pkg/config/template_provider.go
  clusterloader2/pkg/measurement/common/executors/promql_executor.go
  clusterloader2/pkg/measurement/common/executors/utils.go
  clusterloader2/pkg/measurement/common/metrics/kubelet_metrics.go
  clusterloader2/pkg/metadata/metadata.go
  clusterloader2/pkg/modifier/modifier.go
  clusterloader2/pkg/prometheus/clients/gcp_managed.go
  clusterloader2/pkg/test/simple_test_executor.go
  dns/dnsperfgo/main.go
  dns/jsonify/main.go
  perfdash/config.go
  perfdash/gcs_metrics_bucket.go
  perfdash/github-configs-fetcher.go
  perfdash/s3_metrics_bucket.go
  util-images/access-tokens/cmd/main.go
Due: post-kubernetes-push-perf-tests-access-tokens, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fix: capture higher-precision metrics for pod_startup_latency
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

watch-list: wait for informer pods to be running before starting the load test
  clusterloader2/testing/watch-list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

verify/boilerplate: drop year from copyright header
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency_test.go
  clusterloader2/pkg/measurement/util/phase_latency_test.go
  verify/boilerplate/boilerplate.go.txt
  verify/boilerplate/boilerplate.py
  verify/boilerplate/boilerplate.py.txt
  verify/boilerplate/boilerplate.sh.txt
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

cl2/load: measure object count via apiserver_resource_objects
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

TEMP: enable restart-apiserver and APIAvailability for kubemark CI run
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

cl2/load: optional kube-apiserver restart phase to exercise watch-cache init
  clusterloader2/pkg/measurement/common/restart_apiserver.go
  clusterloader2/testing/experiments/enable_restart_apiserver.yaml
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/restart-apiserver-metrics.yaml
  clusterloader2/testing/load/modules/restart-apiserver.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Update NoStoreQueue to implement updated cache.Queue interface
  slo-monitor/src/monitors/store.go
Due: none

pin watchlist to kubernetes/kubernetes#138327
  util-images/watch-list/go.mod
  util-images/watch-list/go.sum
Due: post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-util-images

set HTTP2_MAX_READ_FRAME_SIZE
  util-images/watch-list/main.go
Due: post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-util-images

cl2/load: optional kube-apiserver restart phase to exercise watch-cache init
  clusterloader2/pkg/measurement/common/bundle/test_metrics.go
  clusterloader2/pkg/measurement/common/restart_apiserver.go
  clusterloader2/pkg/measurement/common/system_pod_metrics.go
  clusterloader2/testing/experiments/enable_restart_apiserver.yaml
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/restart-apiserver.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Replace the GC'd tag v20210917-12df099d55 with digest pinning and a tag comment (v20260205-38cfa9523f) so Cloud Build keeps working after staging registry retention.
  util-images/cloudbuild.yaml
Due: pull-perf-tests-util-images

Coordinate gcb-docker-gcloud cloudbuild.yaml tag bumps
  util-images/cloudbuild.yaml
Due: pull-perf-tests-util-images

Path conditions:
  post-kubernetes-push-perf-tests-access-tokens: any of: ^util-images\/access-tokens\/
  post-kubernetes-push-perf-tests-containerd: any of: ^util-images\/containerd\/
  post-kubernetes-push-perf-tests-networknetperfbenchmark: any of: ^util-images\/network\/netperfbenchmark\/
  post-kubernetes-push-perf-tests-probes: any of: ^util-images\/probes\/
  post-kubernetes-push-perf-tests-request-benchmark: any of: ^util-images\/request-benchmark\/
  post-kubernetes-push-perf-tests-scratch: any of: ^util-images\/scratch\/
  post-kubernetes-push-perf-tests-sleep: any of: ^util-images\/sleep\/
  post-kubernetes-push-perf-tests-watch-list: any of: ^util-images\/watch-list\/
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
  pull-perf-tests-ec2-master-scale-performance-100: any of: ^clusterloader2/.*$
  pull-perf-tests-gce-master-scale-performance-100: any of: ^clusterloader2/.*$
