Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210204-b06ec78
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

debian-iptables: Build buster-v1.6.7 image
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

[go] Build go1.17.1 and go1.16.8 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  cmd/kpromo/Makefile
  cmd/kpromo/variants.yaml
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

images: Update gcb-docker-cloud image to v20210722-085d930
  cmd/vulndash/cloudbuild.yaml
  dependencies.yaml
  images/build/cross/cloudbuild.yaml
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-iptables/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
  images/build/setcap/cloudbuild.yaml
  images/releng/k8s-ci-builder/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-ci-builder

go-runner: Drop go1.15 variant
  dependencies.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

generated: Run `go mod tidy`
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Fix SPDX relationship order btw images and ref
  pkg/spdx/implementation.go
Due: post-release-push-image-k8s-ci-builder

Support license definition from command flag
  cmd/bom/cmd/generate.go
Due: post-release-push-image-k8s-ci-builder

Migrate `gh2gcs` to the promotion tooling repo
  README.md
  cmd/gh2gcs/README.md
  cmd/gh2gcs/cmd/root.go
  cmd/gh2gcs/main.go
  compile-release-tools
  pkg/gh2gcs/gh2gcs.go
Due: post-release-push-image-k8s-ci-builder

Migrate pkg/{git,github,release/regex} to sigs.k8s.io/release-sdk
  pkg/git/describe.go
  pkg/git/describe_test.go
  pkg/git/git.go
  pkg/git/git_integration_test.go
  pkg/git/git_test.go
  pkg/git/gitfakes/fake_repository.go
  pkg/git/gitfakes/fake_worktree.go
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/internal/retry.go
  pkg/github/internal/retry_test.go
  pkg/github/record.go
  pkg/github/replay.go
  pkg/release/regex/regex.go
Due: post-release-push-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: Build image using go1.17.1
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

go.mod: Update sigs.k8s.io/k8s-container-image-promoter to v3.2.0
  cmd/krel/cmd/promote-images.go
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

dependencies.yaml: Update dependents to use debian-base:bullseye-v1.0.0
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-debian-iptables

debian-iptables: Build bullseye-v1.0.0 images
  dependencies.yaml
  images/build/debian-iptables/bullseye/Dockerfile
  images/build/debian-iptables/bullseye/iptables-wrapper
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

debian-iptables(bullseye): Drop package installations from backports
  images/build/debian-iptables/bullseye/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

images: Build go1.17-bullseye variants (part one)
  dependencies.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner, pull-release-image-releng-ci

Update cosign to v1.2.0
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

k8s-cloud-builder/k8s-ci-builder: Build image using go1.16.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

cross: build variants for each k8s release branch (main branch, 1.22, 1.21)
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

go.mod: Update sigs.k8s.io/promo-tools/v3 to v3.2.1
  cmd/krel/cmd/promote-images.go
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

README.md: Update references to promotion tooling repo
  README.md
Due: none

setcap: Build bullseye-v1.0.0 images
  dependencies.yaml
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-setcap

images: Build go1.17-bullseye variants (part two)
  dependencies.yaml
  images/build/cross/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-k8s-ci-builder

fix setcap build for bulleye
  images/build/setcap/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-setcap

k8s-ci-builder: upgrade to python3
  images/releng/k8s-ci-builder/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

hack/scripts: update multiarch/qemu-user-static to the latest available
  hack/init-buildx.sh
Due: none

cross/cloudbuild: update timeout to 90min
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Fix krel cve -f flag description
  cmd/krel/cmd/cve.go
Due: post-release-push-image-k8s-ci-builder

use k8s-staging-test-infra/gcb-docker-gcloud
  cmd/krel/cmd/testdata/changelog-v1.18.0-alpha.3/GetPullRequest-158.json
  cmd/vulndash/cloudbuild.yaml
  dependencies.yaml
  images/build/cross/cloudbuild.yaml
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-iptables/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
  images/build/setcap/cloudbuild.yaml
  images/releng/k8s-ci-builder/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-ci-builder

cmd/gcbuilder: s/k8s-testimages/k8s-staging-test-infra
  cmd/gcbuilder/Makefile
  cmd/gcbuilder/run.sh
Due: post-release-push-image-k8s-ci-builder

cross: install ip looks like it is not there for bullseye
  images/build/cross/default/Dockerfile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

k8s-cloud-builder: update variants and add bulleyes
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

dependencies: add k8s.gcr.io/build-image/kube-cross: dependents bullseye
  dependencies.yaml
Due: none

just to test
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Set list-v2 default
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/main.go
Due: post-release-push-image-k8s-ci-builder

Add new flag list-v1 for enabling v1 implementation. Remove list-v2 flag as it is default now.
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/main.go
  pkg/notes/notes.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

Add startTime to anago state
  pkg/anago/anago.go
Due: post-release-push-image-k8s-ci-builder

Add provenance file const
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
