Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Add support for multiple resource limits
  cluster-autoscaler/cloudprovider/resource_limiter.go
  cluster-autoscaler/resourcequotas/factory.go
  cluster-autoscaler/resourcequotas/factory_test.go
  cluster-autoscaler/resourcequotas/provider.go
  cluster-autoscaler/resourcequotas/provider_test.go
  cluster-autoscaler/resourcequotas/testutils.go
  cluster-autoscaler/resourcequotas/tracker.go
  cluster-autoscaler/resourcequotas/tracker_test.go
  cluster-autoscaler/resourcequotas/usage.go
  cluster-autoscaler/resourcequotas/usage_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

updated history init for prometheus to take container types into account
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: deprecated import of cacheddiscovery
  balancer/main.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

DigitalOcean: Implement TemplateNodeInfo in cloud provider CA to support scale to zero
  cluster-autoscaler/cloudprovider/digitalocean/README.md
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_manager.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_manager_test.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go
  cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Remove year from copyright header boilerplate
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/verify-boilerplate.sh
Due: none

Change capacitybuffers scope from Cluster to Namespaced
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1alpha1/types.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Backport Capacity Buffers CRD scope fix to cluster-autoscaler 1.34
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1alpha1/types.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: deprecated import of cacheddiscovery in balancer
  balancer/main.go
Due: none

fix: deprecated import of cacheddiscovery in vertical-pod-autoscaler
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(vpa/chart): allow configuration of priorityClassName
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Address comments on https://github.com/kubernetes/autoscaler/pull/8813
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Revert "fix: deprecated import of cacheddiscovery in vertical-pod-autoscaler"
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: deprecated import of cacheddiscovery
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Use capacity buffer namespace for injected fake pods
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: update deps to 1.35.0-alpha.3
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

incorporates https://github.com/kubernetes/kubernetes/pull/134326
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner_test.go
  cluster-autoscaler/simulator/clustersnapshot/store/basic.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_claim_tracker_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_lister_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_resolver.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister_test.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

more updates
  cluster-autoscaler/Dockerfile
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

chore: rework Scaleway cloudprovider integration
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group_test.go
  cluster-autoscaler/cloudprovider/scaleway/scalewaygo/scaleway_kapsule_api.go
  cluster-autoscaler/cloudprovider/scaleway/scalewaygo/scaleway_kapsule_api_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix gofmt test
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chore: update owners of cloud provider hetzner
  cluster-autoscaler/cloudprovider/hetzner/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Reapply "fix: deprecated import of cacheddiscovery in vertical-pod-autoscaler"
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: deprecated import of cacheddiscovery
  balancer/main.go
Due: none

Making CapacityBuffer ProvisioningStrategy a string (not enum)
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1alpha1/types.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Node removal latency metrics added
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

make nlt a decorator over existing scaledownstatus processor and resolve other code review comments
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/core/static_autoscaler.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Resolve code review comments
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker.go
  cluster-autoscaler/core/scaledown/latencytracker/node_latency_tracker_test.go
  cluster-autoscaler/core/scaledown/planner/planner.go
  cluster-autoscaler/core/scaledown/planner/planner_test.go
  cluster-autoscaler/core/scaledown/scaledown.go
  cluster-autoscaler/core/scaledown/unneeded/nodes.go
  cluster-autoscaler/core/scaledown/unneeded/nodes_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/processors/scaledowncandidates/previouscandidates/previous_candidates_sorting.go
  cluster-autoscaler/processors/scaledowncandidates/previouscandidates/previous_candidates_sorting_test.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_observer.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Cache node deltas in resource quotas
  cluster-autoscaler/resourcequotas/cache.go
  cluster-autoscaler/resourcequotas/cache_test.go
  cluster-autoscaler/resourcequotas/factory.go
  cluster-autoscaler/resourcequotas/tracker.go
  cluster-autoscaler/resourcequotas/tracker_test.go
  cluster-autoscaler/resourcequotas/usage.go
  cluster-autoscaler/resourcequotas/usage_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Vendor all the k8s stuff and dependencies
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add code for reading unstructured clusterapi csidriver annotations
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/processors/customresources/csi_processor.go
  cluster-autoscaler/processors/customresources/csi_processor_test.go
  cluster-autoscaler/processors/customresources/custom_resources_processor.go
  cluster-autoscaler/processors/customresources/default_custom_processor.go
  cluster-autoscaler/processors/customresources/default_custom_processor_test.go
  cluster-autoscaler/processors/customresources/dra_processor.go
  cluster-autoscaler/processors/customresources/dra_processor_test.go
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/test/common.go
  cluster-autoscaler/simulator/clustersnapshot/store/basic.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/csi/provider/csinode.go
  cluster-autoscaler/simulator/csi/snapshot/csinode_lister.go
  cluster-autoscaler/simulator/csi/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Integrate resource quotas with scale up
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/options/autoscaler.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons_test.go
  cluster-autoscaler/core/scaleup/scaleup.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/provisioningrequest/besteffortatomic/provisioning_class.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator_test.go
  cluster-autoscaler/resourcequotas/provider.go
  cluster-autoscaler/resourcequotas/provider_test.go
  cluster-autoscaler/resourcequotas/testutils.go
  cluster-autoscaler/resourcequotas/tracker.go
  cluster-autoscaler/resourcequotas/tracker_test.go
  cluster-autoscaler/resourcequotas/usage_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
