Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazel-krte, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

post-test-infra-push-bazelbuild:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-benchmarkjunit:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bigquery:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bootstrap:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcb-docker-gcloud-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcloud-in-go:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-image-builder:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-krte:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

Fix CAPC build commands
  config/jobs/kubernetes-sigs/cluster-api-provider-cloudstack/capi-provider-cloudstack-presumbit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update starter manifests to configure github app creds for clonerefs
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3-kind.yaml
  config/prow/cluster/starter/starter-s3.yaml
Due: pull-test-infra-integration, post-test-infra-deploy-prow

Avoid panic on invalid URI in clone_uri override
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Adding preset-windows-private-registry-cred label to windows hpa pr job
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Re-enable SSH vars and switch to COS-97-LTS
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 03 May 2023 00:02:09 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.10-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.11-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.9-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Set target type for pointers when generating config
  pkg/genyaml/genyaml.go
  prow/plugins/plugin-config-documented.yaml
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Use pointer for global Blunderbuss config
  prow/cmd/deck/main_test.go
  prow/plugins/blunderbuss/blunderbuss.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/plugins_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

label-sync: store cur and prev label when change is required
  label_sync/main.go
  label_sync/main_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Revert "Add org and org/repo sharding for Blunderbuss"
  prow/cmd/deck/main_test.go
  prow/plugins/blunderbuss/blunderbuss.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/plugin-config-documented.yaml
  prow/plugins/plugins_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

capz: add 1.10 milestone, remove release-1.7
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration

Allow release blocking jobs to run in EKS cluster
  config/tests/jobs/jobs_test.go
Due: pull-test-infra-integration

Increase frequency and columns for periodic kueue tests
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

update labels as per google doc
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-integration

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

feat(prow/repoowners): return all approvers and reviewers only
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Thu, 04 May 2023 00:02:40 UTC
  config/testgrids/openshift/redhat-openshift-CSPI-QE-MSI-release-4.12-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Bump kubekins image to master for ccm-vmss-capz jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.27.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Adding config for docker in container for the credential provider presubmit e2e job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

NFD: Use kubekins image for e2e
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

test(prow/plugins): make mocks implement repoowners interface
  prow/plugins/approve/approve_test.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/override/override_test.go
  prow/plugins/reward-owners/reward-owners_test.go
  prow/plugins/verify-owners/verify-owners_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Update kubekins/krte to Go 1.20.4/1.19.9
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-krte, post-test-infra-push-kubekins-e2e

Add GOMAXPROCS to ci-benchmark-scheduler-perf-master-eks-canary
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Cluster API: Remove unneeded labels
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-integration

bump hack/tools dependencies
  hack/tools/go.mod
  hack/tools/go.sum
  prow/repoowners/repoowners_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

chore: update httpbin to httpbun
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Add g-gaston to approvers for cloudstack capi jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-cloudstack/OWNERS
Due: post-test-infra-upload-testgrid-config

use eks-prow-build-cluster cluster to run tejolote jobs
  config/jobs/kubernetes-sigs/tejolote/tejolote-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

use eks-prow-build-cluster cluster to run bom jobs
  config/jobs/kubernetes-sigs/bom/bom-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

use eks-prow-build-cluster cluster to run zeitgeist jobs
  config/jobs/kubernetes-sigs/zeitgeist/zeitgeist-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Adding presets that set environment variables to credential provider presubmit job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Add option to not put cache in a temp dir inside cacheDirBase
  prow/cmd/deck/main.go
  prow/cmd/gangway/main.go
  prow/cmd/gerrit/main.go
  prow/cmd/hook/main.go
  prow/cmd/sub/main.go
  prow/cmd/tide/main.go
  prow/external-plugins/cherrypicker/main.go
  prow/flagutil/github.go
  prow/git/v2/client_factory.go
  prow/pubsub/subscriber/subscriber_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

use eks-prow-build-cluster cluster to run release-utils jobs
  config/jobs/kubernetes-sigs/release-utils/release-utils-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

use eks-prow-build-cluster cluster to run release-sdk jobs
  config/jobs/kubernetes-sigs/release-sdk/release-sdk-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

use eks-prow-build-cluster cluster to run release-notes jobs
  config/jobs/kubernetes-sigs/release-notes/release-notes-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

use eks-prow-build-cluster cluster to run downloadkubernetes jobs
  config/jobs/kubernetes-sigs/downloadkubernetes/downloadkubernetes-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

use eks-prow-build-cluster cluster to run some promo-tools jobs
  config/jobs/kubernetes-sigs/promo-tools/promo-tools.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

use eks-prow-build-cluster cluster to run some periodics capg jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 05 May 2023 00:02:25 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: (any of: ^(images/bigquery|scenarios)/) or (any of: ^images/bigquery/)
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: (any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/) or (any of: ^(images/kubekins-e2e|kubetest|boskos)/)
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-checkconfig-loose: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$
