Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-aws:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-aws-credential-aws-shared-testing: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release: update manifest and helm charts for v1.5.5
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifest and helm charts for v1.5.5
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Publish secrets-store-csi-driver-1.5.5.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.5.5.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Fix requiresRepublish value and metrics
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  pkg/secrets-store/nodeserver.go
Due: none

requiresRepublish should not depend on tokenRequests value
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
Due: none

Add pod-level automountServiceAccountToken configuration
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

fix: configure requiresRepublish value in helm charts and metrics update (#1968)
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  pkg/secrets-store/nodeserver.go
Due: none

chore: update manifest_staging automount token
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

chore: add helm configuration for automountServiceAccountToken (#1975)
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: none

add codegen verification GH action
  .github/workflows/verify-codegen.yaml
Due: none

remove secret rotation leftovers
  Makefile
  config/rbac-rotation/kustomization.yaml
  config/rbac-rotation/role.yaml
  config/rbac-rotation/role_binding.yaml
Due: none

Makefile: don't add licence boilerplate to generated .pb files
  Makefile
Due: none

make generate-protobuf
  provider/v1alpha1/service.pb.go
  provider/v1alpha1/service_grpc.pb.go
Due: none

chore: unexport package-private constants in secrets-store package
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/server.go
  pkg/secrets-store/server_test.go
Due: none

feat: add OpenBao as provider
  Makefile
  README.md
  docs/book/src/providers.md
  test/bats/openbao.bats
  test/bats/tests/openbao/deployment-synck8s.yaml
  test/bats/tests/openbao/deployment-two-synck8s.yaml
  test/bats/tests/openbao/openbao_synck8s_v1_secretproviderclass.yaml
  test/bats/tests/openbao/openbao_v1_multiple_secretproviderclass.yaml
  test/bats/tests/openbao/openbao_v1_secretproviderclass.yaml
  test/bats/tests/openbao/openbao_v1_secretproviderclass_ns.yaml
  test/bats/tests/openbao/pod-openbao-inline-volume-multiple-spc.yaml
  test/bats/tests/openbao/pod-openbao-inline-volume-secretproviderclass.yaml
  test/bats/tests/openbao/pod-openbao-rotation.yaml
Due: none

chore: update to go 1.24.12
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

chore: update to kubectl 1.34.2 in helm-crds image
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

feat: Add support for reading service account tokens from CSI secrets field
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  pkg/secrets-store/nodeserver.go
Due: none

chore: update to go 1.25.6
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

chore: update to kubectl 1.34.3 in helm-crds image
  docker/crd.Dockerfile
Due: secrets-store-csi-driver-push-image

update installation docs with openbao
  docs/book/src/getting-started/installation.md
Due: none

security: bump to go 1.25.7 to resolve CVE-2025-68121
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

security: bump to go 1.24.13 to resolve CVE-2025-68121
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

docs: Add OpenBao provider (#1914)
  docs/book/src/getting-started/installation.md
  docs/book/src/introduction.md
Due: none

chore: bump version to v1.5.6 in release-1.5
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.5.6
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

release: update manifest and helm charts for v1.5.6
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Publish secrets-store-csi-driver-1.5.6.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.5.6.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

chore: bump trivy to v0.69.3
  Makefile
Due: none

security: bump to go.opentelemetry.io/otel/sdk 1.41.0 to resolve CVE-2026-24051
  go.mod
  go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

chore: bump `livenessprobe` and `csi-node-driver-registrar`
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

fix: revert `manifest_staging` readme changes
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: none

fix: revert `charts/` changes
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

chore: bump `livenessprobe` and `csi-node-driver-registrar` (#2004)
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: none

docs: update `manifest_staging/charts/secrets-store-csi-driver/README.md`
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: none

chore: limit dependabot PRs, replace it with govulncheck, harden GH actions
  .github/dependabot.yml
  .github/workflows/chart.yaml
  .github/workflows/codecov.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/e2e.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/scan-vulns.yaml
  .github/workflows/scorecards.yaml
  .github/workflows/verify-codegen.yaml
Due: none

chore: update to go 1.25.8 to resolve CVE-2026-25679
  docker/Dockerfile
  docker/windows.Dockerfile
  test/e2eprovider/Dockerfile
Due: secrets-store-csi-driver-push-image

Add Bitwarden Secrets Manager provider to supported providers list
  docs/book/src/introduction.md
  docs/book/src/providers.md
Due: none

test/e2eprovider: bump google.golang.org/grpc from 1.58.3 to 1.79.3
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*
