Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-provisioner-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-helper-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

pull-kind-conformance-parallel-ga-only:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      env:
      - name: PARALLEL
        value: 'true'
  ...

pull-kind-conformance-parallel-ipv6:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      env:
      - name: PARALLEL
        value: 'true'
  ...

pull-kind-conformance-parallel-dual-stack-ipv4-ipv6:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-kind-e2e-kubernetes:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20241230-3006692a6f-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

drop GA-only special case
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

add limited support for containerd config patch version-awareness
  pkg/apis/config/v1alpha4/types.go
  pkg/build/nodeimage/containerd.go
  pkg/cluster/internal/create/actions/config/config.go
  pkg/internal/patch/toml.go
  pkg/internal/patch/toml_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

e2e-k8s.sh drop CLUSTER_LOG_FORMAT and add versioned kubeadm config patches
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

add warning to container-log* flags
  hack/ci/e2e-k8s.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

fix: improve delete cluster feedback when no clusters exist (#4830)
  pkg/cmd/kind/delete/cluster/deletecluster.go
  pkg/cmd/kind/delete/cluster/deletecluster_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Fix nginx controller image hash
  site/static/examples/ingress/deploy-ingress-nginx.yaml
Due: none

rename docker-image to container-image
  pkg/cmd/kind/load/container-image/container-image.go
  pkg/cmd/kind/load/container-image/container-image_test.go
  pkg/cmd/kind/load/load.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

add `docker-image` command for backwards compatibility
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/load.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

give `load image-container` an alias for `load image`
  pkg/cmd/kind/load/container-image/container-image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

move save and imageID to providers
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/nerdctl/provider.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/provider.go
  pkg/cluster/provider.go
  pkg/cmd/kind/load/container-image/container-image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump containerd and runc to latest
  images/base/Dockerfile
Due: post-kind-push-base-image

bump cni plugins to 1.8.0
  images/base/Dockerfile
Due: post-kind-push-base-image

bump containerd fuse-overlayfs to 2.1.7
  images/base/Dockerfile
Due: post-kind-push-base-image

bump go to 1.25.4
  .go-version
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update ingress docs
  site/content/docs/user/ingress.md
Due: none

Update site/content/docs/user/ingress.md
  site/content/docs/user/ingress.md
Due: none

docs: add note referencing `kind load image-archive --help`
  site/content/docs/user/quick-start.md
Due: none

cli/help: mention key environment variables
  pkg/cmd/kind/root.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

cli: add read-only kind env command
  pkg/cmd/kind/env/env.go
  pkg/cmd/kind/env/env_test.go
  pkg/cmd/kind/root.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Update site/content/docs/user/quick-start.md
  site/content/docs/user/quick-start.md
Due: none

docs: Clarify Rootless Runtime Requirements
  site/content/docs/user/ingress.md
  site/content/docs/user/quick-start.md
  site/content/docs/user/rootless.md
Due: none

Enhance quick-start guide with image loading example
  site/content/docs/user/quick-start.md
Due: none

Adopt Envoy in place of HAProxy for load balancing
  pkg/cluster/internal/create/actions/loadbalancer/loadbalancer.go
  pkg/cluster/internal/loadbalancer/config.go
  pkg/cluster/internal/loadbalancer/const.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

switch image builds to gcb-docker-gcloud
  images/base/cloudbuild.yaml
  images/haproxy/cloudbuild.yaml
  images/kindnetd/cloudbuild.yaml
  images/local-path-helper/cloudbuild.yaml
  images/local-path-provisioner/cloudbuild.yaml
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

fix tag for gcloud image
  images/base/cloudbuild.yaml
  images/haproxy/cloudbuild.yaml
  images/kindnetd/cloudbuild.yaml
  images/local-path-helper/cloudbuild.yaml
  images/local-path-provisioner/cloudbuild.yaml
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

Bump go version to 1.25.5
  .go-version
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

Enhance quick-start.md with command help details
  site/content/docs/user/quick-start.md
Due: none

bump base image
  pkg/build/nodeimage/defaults.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump kindnetd to latest image
  pkg/build/nodeimage/const_cni.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update to latest local-path-provisioner image
  pkg/build/nodeimage/const_storage.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update haproxy to latest image
  pkg/cluster/internal/loadbalancer/const.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

update local-path-helper to latest image
  pkg/build/nodeimage/const_storage.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

bump kindest/node to latest
  pkg/apis/config/defaults/image.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

cli: align --name flag help and default
  pkg/cmd/kind/create/cluster/createcluster.go
  pkg/cmd/kind/delete/cluster/deletecluster.go
  pkg/cmd/kind/export/kubeconfig/kubeconfig.go
  pkg/cmd/kind/export/logs/logs.go
  pkg/cmd/kind/get/kubeconfig/kubeconfig.go
  pkg/cmd/kind/get/nodes/nodes.go
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/image-archive/image-archive.go
  pkg/internal/cli/override.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31, pull-kind-e2e-kubernetes-1-30, pull-kind-e2e-kubernetes-1-29, pull-kind-e2e-kubernetes-1-28

downgrade runc to 1.2.9 due to broken Kubernetes 1.33 tests
  images/base/Dockerfile
Due: post-kind-push-base-image

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)|(^.go-version)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)|(^.go-version)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)|(^.go-version)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-conformance-parallel-ga-only: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-dual-stack-ipv4-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-32: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-31: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-30: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-29: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-28: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
