Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

promote images with alpine318
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote testrunner alpine318
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote new e2etestecho image
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

cdn.dl.k8s.io: Add ACME challenge for Fastly TLS certificate
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Promote snapshotter images 6.2.2
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Flux init
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/namespace.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/git-source-k8s.io.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/gotk-components.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/helm-source-eks-charts.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-boskos.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-flux-system.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-kube-system.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-monitoring.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-node-problem-detector.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-rbac.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-test-pods.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/flux-hr-node-termination-handler.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/namespace.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
  infra/aws/terraform/prow-build-cluster/resources/node-problem-detector/node-problem-detector.yaml
  infra/aws/terraform/prow-build-cluster/resources/node-problem-detector/update.bash
  infra/aws/terraform/prow-build-cluster/resources/node-termination-handler/README.md
  infra/aws/terraform/prow-build-cluster/resources/rbac/cluster-admin-crb.yaml
  infra/aws/terraform/prow-build-cluster/resources/rbac/cluster-viewer.yaml
  infra/aws/terraform/prow-build-cluster/resources/rbac/prow-admin-crb.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/cpu-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/mem-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/namespace.yaml
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
Due: k8sio-k8s-resources-verify

promotes ExternalDNS v0.13.5
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Readme update
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

Promote descheduler images v0.27.1
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2023-05-30
  audit/projects/k8s-gcr-audit-test-prod/services/logging/logs.json
  audit/projects/k8s-gcr-audit-test-prod/services/pubsub/subscriptions.json
  audit/projects/k8s-infra-e2e-boskos-001/buckets/kops-state-k8s-infra-e2e-boskos-001/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-001/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-008/buckets/kops-state-k8s-infra-e2e-boskos-008/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-008/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-021/buckets/kops-state-k8s-infra-e2e-boskos-021/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-021/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-023/buckets/kops-state-k8s-infra-e2e-boskos-023/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-023/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-030/buckets/kops-state-k8s-infra-e2e-boskos-030/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-030/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-079/buckets/kops-state-k8s-infra-e2e-boskos-079/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-079/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-085/buckets/kops-state-k8s-infra-e2e-boskos-085/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-085/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-100/buckets/kops-state-k8s-infra-e2e-boskos-100/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-100/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-101/buckets/kops-state-k8s-infra-e2e-boskos-101/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-101/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-104/buckets/kops-state-k8s-infra-e2e-boskos-104/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-104/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-107/buckets/kops-state-k8s-infra-e2e-boskos-107/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-107/services/compute/project-info.json
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
Due: none

Promote smb csi driver image v1.11.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for kube-state-metrics v2.9.1
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for kube-state-metrics v2.9.0
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote 1.8.0 ingress-nginx images
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Fix typo and revert yamlfmt on test-pods folder
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/resources/test-pods/cpu-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/mem-limit-range_limitrange.yaml
Due: k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.28.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for kube-state-metrics v2.9.2
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

eks prow: update prometheus resources
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
Due: k8sio-k8s-resources-verify

Add NamespaceSelectors to prometheus main
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
Due: k8sio-k8s-resources-verify

Update SIG-CLI chairs and TL
  groups/groups.yaml
  groups/sig-cli/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Move boskos service monitor to test-pods namespace
  infra/aws/terraform/prow-build-cluster/resources/monitoring/boskos/service-monitor.yaml
Due: k8sio-k8s-resources-verify

Promote nfs csi driver image v1.11.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

images: promote node-feature-discovery v0.13.2 and v0.12.4
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add Makefile help target
  infra/aws/terraform/prow-build-cluster/Makefile
Due: none

CAPO Release v0.7.3
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

chore: promote capa v2.1.3
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add notification about code being generated under boilerpate Update readme
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/git-source-k8s.io.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/gotk-components.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/helm-source-eks-charts.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-boskos.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-flux-system.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-kube-system.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-monitoring.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-node-problem-detector.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-rbac.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-test-pods.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/flux-hr-node-termination-handler.yaml
Due: k8sio-k8s-resources-verify

Update gitops readme
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

Add --prune option to flux kustomizations Create kustomization for external-secrets
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/git-source-k8s.io.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/gotk-components.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/helm-source-eks-charts.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-boskos.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-external-secrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-kube-system.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-monitoring.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-node-problem-detector.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-rbac.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/ks-test-pods.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/flux-hr-node-termination-handler.yaml
Due: k8sio-k8s-resources-verify

Add manual for introducing new kustomizations and helm releases
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

Readme update
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

Fix NPD script
  infra/aws/terraform/prow-build-cluster/resources/node-problem-detector/node-problem-detector.yaml
  infra/aws/terraform/prow-build-cluster/resources/node-problem-detector/update.bash
Due: k8sio-k8s-resources-verify

cdn.dl.k8s.io: Add Fastly endpoint for dualstack
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

promoting newbaseimage with openssl patch
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

README improvements
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

Add Flux prefix for generated sources and kustomizations
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
Due: none
