Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

update gce cluster windows infra image
  cluster/gce/config-common.sh
  cluster/gce/windows/smoke-test.sh
Due: pull-kubernetes-e2e-gke

Balance nodes in scheduling e2e
  test/e2e/scheduling/ubernetes_lite.go
Due: none

kubeadm: improve error message about node subnet size validation
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
Due: pull-kubernetes-e2e-kubeadm-gce

UPSTREAM: 98699: Balance nodes in scheduling e2e
  test/e2e/scheduling/ubernetes_lite.go
Due: none

UPSTREAM: 98781: Allow test invokers to skip test waits before and after
  test/e2e/e2e.go
  test/e2e/framework/node/wait.go
  test/e2e/framework/pod/wait.go
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
Due: none

UPSTREAM: 98787: Allow zones to be passed to e2e cloud provider
  staging/src/k8s.io/component-base/cli/flag/BUILD
  staging/src/k8s.io/component-base/cli/flag/string_slice_flag.go
  staging/src/k8s.io/component-base/cli/flag/string_slice_flag_test.go
  test/e2e/framework/providers/gce/gce.go
  test/e2e/framework/test_context.go
Due: pull-kubernetes-godeps

Remove the dependency between create namespace command and generators (#96556)
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_namespace.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_namespace_test.go
Due: pull-kubernetes-godeps

remove the rest of the bazel test wiring for metrics stability
  hack/update-generated-stable-metrics.sh
  hack/verify-generated-stable-metrics.sh
  test/instrumentation/BUILD
  test/instrumentation/stability-utils.sh
  test/instrumentation/update-stable-metrics.sh
  test/instrumentation/verify-stable-metrics.sh
Due: none

Tolerate disabled RBAC in ServiceAccountIssuerDiscovery test
  test/e2e/auth/service_accounts.go
Due: none

e2e: Pod should avoid nodes that have avoidPod annotation: clean remaining pods
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/priorities.go
Due: none

test: bump CSI container versions for mock testing
  test/e2e/storage/utils/deployment.go
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
Due: none

Add relevant values to invalid subnet mask error
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
Due: pull-kubernetes-e2e-kubeadm-gce

fix: remove duplicated code in image-util.sh due to merge conflict
  test/images/cloudbuild.yaml
  test/images/image-util.sh
Due: none

Promote ServiceAccountIssuerDiscovery test to conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/auth/service_accounts.go
Due: pull-kubernetes-conformance-image-test

Add error log for preparing subPath during container mount
  pkg/kubelet/kubelet_pods.go
Due: pull-kubernetes-local-e2e-containerized

fix the address of restful-CORS-filter.go and restful-basic-authentication.go in the comment of ./staging/src/k8s.io/apiserver/pkg/server/filters/cors.go
  staging/src/k8s.io/apiserver/pkg/server/filters/cors.go
Due: pull-kubernetes-godeps

migrate kubelet/server/server.go logs to structured logging
  pkg/kubelet/server/server.go
Due: pull-kubernetes-local-e2e-containerized

pkg/proxy: remove duplicate conntrack rule
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
Due: none

kubelet: Sync completed pods until their containers have been terminated
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
Due: pull-kubernetes-local-e2e-containerized

Committed on 2 6 2021
  2021/2/6/commit.md
Due: none

Annotate objects with '=' in the name
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate.go
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_image.go
  staging/src/k8s.io/kubectl/pkg/cmd/testing/util.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Due: pull-kubernetes-godeps

Escape the special character in vsphere windows path
  pkg/volume/util/subpath/subpath_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

e2e/storage-csi: replace gcr.io/gke-release to the community registry k8s.gcr.io/sig-storage
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  test/e2e/testing-manifests/storage-csi/gce-pd/node_ds.yaml
Due: none

fix ignored podinfo parserr
  pkg/scheduler/framework/BUILD
  pkg/scheduler/framework/types.go
Due: none

test images: Fixes Windows php source
  test/images/httpd-new/Dockerfile_windows
  test/images/httpd/Dockerfile_windows
Due: none

scheduler: move percentagesOfNodesToScore to the scheduler profile
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/profile/profile.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

[go1.15] Update to go1.15.8
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  test/images/Makefile
  test/images/sample-apiserver/Makefile
Due: post-kubernetes-push-e2e-sample-apiserver-test-images, pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

[go1.15] staging/publishing: Set default go version to go1.15.8
  staging/publishing/rules.yaml
Due: pull-publishing-bot-validate, pull-kubernetes-godeps

[go1.15] Use go-runner:buster-v2.3.1 image (built on go1.15.8)
  build/common.sh
  build/workspace.bzl
Due: pull-kubernetes-cross, pull-kubernetes-godeps

kubeadm: get k8s CI version markers from k8s infra bucket
  cmd/kubeadm/app/util/version.go
  cmd/kubeadm/app/util/version_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: drop explicit constant override in version test
  cmd/kubeadm/app/util/version_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

dockershim hostport respect IPFamily
  pkg/kubelet/dockershim/network/hostport/fake_iptables.go
  pkg/kubelet/dockershim/network/hostport/hostport.go
  pkg/kubelet/dockershim/network/hostport/hostport_manager.go
  pkg/kubelet/dockershim/network/hostport/hostport_manager_test.go
  pkg/kubelet/dockershim/network/hostport/hostport_test.go
Due: pull-kubernetes-local-e2e-containerized

dockershim hostport manager use HostIP
  pkg/kubelet/dockershim/network/hostport/hostport.go
  pkg/kubelet/dockershim/network/hostport/hostport_manager.go
  pkg/kubelet/dockershim/network/hostport/hostport_manager_test.go
  pkg/kubelet/dockershim/network/hostport/hostport_test.go
Due: pull-kubernetes-local-e2e-containerized

kubeadm: Fix placeholder in config print help text
  cmd/kubeadm/app/cmd/config.go
Due: pull-kubernetes-e2e-kubeadm-gce

make proxy Transport return metav1.Status error
  staging/src/k8s.io/apimachinery/pkg/util/proxy/transport.go
Due: pull-kubernetes-godeps
