Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

post-k8s-deploy-registry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240523-29e3962433
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
      - .
      env:
  ...

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240523-29e3962433
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240523-29e3962433
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240523-29e3962433
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20240523-29e3962433
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Remove duplicate entry for secretmanager
  infra/gcp/terraform/k8s-infra-prow/main.tf
Due: none

promote jobset v0.7.0
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

CAPO v0.11.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Remove permission for compute service account.
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Due: none

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
Due: k8sio-k8s-resources-verify

Add terraform for Azure community image gallery
  infra/azure/terraform/capz/cluster-api-gallery/main.tf
  infra/azure/terraform/capz/main.tf
Due: none

chore: promote CAPA v2.7.1 image
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kwok v0.6.1
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

CAPO v0.10.6
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.32.0-alpha.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: post-k8sio-deploy-prow-build-trusted-resources, k8sio-k8s-resources-verify

Add LLM Instance Gateway to staging project list
  infra/gcp/infra.yaml
Due: k8sio-k8s-resources-verify

Promote NFD v0.16.6
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Drop killianmuldoon from owners
  registry.k8s.io/images/k8s-staging-capi-vsphere/OWNERS
  registry.k8s.io/images/k8s-staging-cluster-api/OWNERS
Due: none

Update email for Sreeram
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Adding BlueSky TXT Records (#7446)
  dns/zone-configs/kubernetes.dev._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

publish scheduler-plugins v0.30.6
  registry.k8s.io/images/k8s-staging-scheduler-plugins/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Azure: Setup Prow build cluster
  infra/azure/terraform/k8s-infra-prow-build/aks.tf
  infra/azure/terraform/k8s-infra-prow-build/data.tf
  infra/azure/terraform/k8s-infra-prow-build/diagnostic-settings.tf
  infra/azure/terraform/k8s-infra-prow-build/identities.tf
  infra/azure/terraform/k8s-infra-prow-build/logging.tf
  infra/azure/terraform/k8s-infra-prow-build/main.tf
  infra/azure/terraform/k8s-infra-prow-build/network.tf
  infra/azure/terraform/k8s-infra-prow-build/outputs.tf
  infra/azure/terraform/k8s-infra-prow-build/providers.tf
  infra/azure/terraform/k8s-infra-prow-build/rbac.tf
  infra/azure/terraform/k8s-infra-prow-build/variables.tf
Due: none

Ensure zonal SKU is used for storage accounts
  infra/azure/bash/ensure-resource-groups.sh
Due: none

Include Azure CIDR in the README.
  infra/README.md
Due: none

Update groups.yaml
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Kueue: Release v0.8.2
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

prow: Setup secret for build cluster
  kubernetes/gke-prow/prow/external-secrets.yaml
Due: k8sio-k8s-resources-verify

Ingress NGINX: Promote `e2e-test-runner` v20241104-02a3933e.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Release v0.8.3
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Azure: fix virtual network for the build cluster
  infra/azure/terraform/k8s-infra-prow-build/aks.tf
Due: none

CAPO v0.11.1
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kueue v0.9.0
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

adding Mickey's preferred email for access
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for cluster-api v1.9.0-beta.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.7.8
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.8.5
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.32.0-beta.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

update cloud provider vsphere maintainer
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/OWNERS
Due: none

Image promotion for cloud-pv-vsphere v1.31.1
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/
