Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

drop debian-base buster it is not in use anymore
  images/build/debian-base/buster/Dockerfile
  images/build/debian-base/buster/Dockerfile.build
  images/build/debian-base/buster/clean-install
  images/build/debian-base/buster/excludes
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

rebuild debian-base bulleyes to refresh the image
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Delete Changelog files created automatically
  cmd/krel/cmd/CHANGELOG-1.16.json
  cmd/krel/cmd/CHANGELOG-1.18.json
  cmd/krel/cmd/CHANGELOG-1.19.json
  cmd/krel/cmd/CHANGELOG-1.21.json
Due: post-release-push-image-k8s-ci-builder

need to paginate nowadays, also bad loop break before
  cmd/ci-reporter/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

have github status details be the labels instead of the ci signal team member
  cmd/ci-reporter/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

update README and add labels style to PRs in case we have those too
  cmd/ci-reporter/README.md
  cmd/ci-reporter/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

transition ci signal reporter reviewers from 1.26 to 1.27
  OWNERS_ALIASES
Due: none

updates
  go.mod
  go.sum
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

comment out temporarily the verify image signatures
  pkg/anago/release_test.go
  pkg/release/images.go
  pkg/release/images_test.go
Due: post-release-push-image-k8s-ci-builder

Revert "comment out temporarily the verify image signatures"
  pkg/anago/release_test.go
  pkg/release/images.go
  pkg/release/images_test.go
Due: post-release-push-image-k8s-ci-builder

Adding Support for Changing Qemu image from make
  images/build/debian-base/Makefile
  images/build/debian-iptables/Makefile
  images/build/distroless-iptables/Makefile
  images/build/setcap/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-debian-iptables, pull-release-image-setcap

Update qemu to v7.2.0-1 for distroless-iptables
  dependencies.yaml
  images/build/distroless-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Build Go 1.20.2 and 1.19.7 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Test OBS credentials in cloudbuild
  gcb/stage/cloudbuild.yaml
Due: none

Add documentation about how to add new secrets to cloudbuild
  gcb/fast-forward/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

update debian-iptables and distroless-iptables
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

update setcap image
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-setcap

Bump k8s-cloud-builder and k8s-ci-builder to Go 1.20.2 and 1.19.7
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/distroless-iptables/Makefile
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-debian-iptables, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

drop 1.23 image builds
  dependencies.yaml
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

drop debian buster from setcap and iptables
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/buster/iptables-wrapper
  images/build/debian-iptables/variants.yaml
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-debian-iptables, pull-release-image-setcap

add gorunner as config option in debian-iptables
  images/build/debian-iptables/cloudbuild.yaml
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

bump debian-iptables image and use go1.20 to build it
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

default go1.20 in distroless-iptables
  images/build/distroless-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

add goreleaser and ko to the releng-ci image
  images/releng/ci/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

Drop 32bit arm from package builds for Kubernetes > v1.27.0
  hack/rapture/build-packages.sh
  packages/rpm/docker-build.sh
  packages/rpm/entry.sh
  pkg/packages/impl.go
  pkg/packages/packages.go
  pkg/packages/packages_test.go
  pkg/packages/packagesfakes/fake_impl.go
Due: post-release-push-image-k8s-ci-builder

udpate ko to v0.13.0
  images/releng/ci/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

Implement 'krel obs specs' command
  cmd/krel/cmd/obs.go
  cmd/krel/cmd/obs_specs.go
  pkg/obs/options/options.go
  pkg/obs/options/options_test.go
  pkg/obs/specs/fetcher.go
  pkg/obs/specs/links.go
  pkg/obs/specs/links_test.go
  pkg/obs/specs/specs.go
  pkg/obs/specs/specs_test.go
  pkg/obs/specs/specsfakes/fake_impl.go
  pkg/obs/specs/template.go
  pkg/obs/specs/versions.go
  pkg/obs/specs/versions_test.go
Due: post-release-push-image-k8s-ci-builder

Add spec files for 'krel obs specs'
  cmd/krel/templates/latest/rpm/cri-tools/LICENSE
  cmd/krel/templates/latest/rpm/cri-tools/README.md
  cmd/krel/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/rpm/kubeadm/10-kubeadm.conf
  cmd/krel/templates/latest/rpm/kubeadm/LICENSE
  cmd/krel/templates/latest/rpm/kubeadm/README.md
  cmd/krel/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/rpm/kubectl/LICENSE
  cmd/krel/templates/latest/rpm/kubectl/README.md
  cmd/krel/templates/latest/rpm/kubectl/kubectl.spec
  cmd/krel/templates/latest/rpm/kubelet/LICENSE
  cmd/krel/templates/latest/rpm/kubelet/README.md
  cmd/krel/templates/latest/rpm/kubelet/kubelet.env
  cmd/krel/templates/latest/rpm/kubelet/kubelet.service
  cmd/krel/templates/latest/rpm/kubelet/kubelet.spec
  cmd/krel/templates/latest/rpm/kubernetes-cni/LICENSE
  cmd/krel/templates/latest/rpm/kubernetes-cni/README.md
  cmd/krel/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

Address review comments
  cmd/krel/cmd/obs.go
  cmd/krel/cmd/obs_specs.go
  pkg/obs/options/options.go
  pkg/obs/options/options_test.go
  pkg/obs/specs/specs.go
Due: post-release-push-image-k8s-ci-builder

Implement 'krel obs specs' command
  cmd/krel/cmd/obs.go
Due: post-release-push-image-k8s-ci-builder

Merge pull request kubernetes#2964 from kubernetes/dependabot/go_modu
  go.mod
Due: post-release-push-image-k8s-ci-builder

mod
  cmd/krel/cmd/obs.go
Due: post-release-push-image-k8s-ci-builder

Fix version regex to allow `v1.25.8-1+3a14fe1af239a0`
  pkg/release/release.go
  pkg/release/release_test.go
Due: post-release-push-image-k8s-ci-builder

allow objects.githubusercontent.com
  .github/workflows/codeql-analysis.yml
Due: none

update cosign image to v2.0.0
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

update version comments
  .github/workflows/codeql-analysis.yml
  .github/workflows/depsreview.yml
  .github/workflows/scorecards-analysis.yml
Due: none

Ability to override BINFMT_IMAGE in init-buildx.sh
  hack/init-buildx.sh
Due: none

feat: support riscv64
  hack/init-buildx.sh
  hack/verify-build.sh
  images/Makefile.common-image
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
  images/build/debian-base/Makefile
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/README.md
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/README.md
  images/build/go-runner/Makefile
  images/build/setcap/Makefile
  images/build/setcap/README.md
  packages/rpm/entry.sh
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-iptables, pull-release-image-setcap

update TestNewPatchRelease test
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder
