Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-monitoring:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-monitoring
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Fix owner file
  registry.k8s.io/images/k8s-staging-lws/OWNERS
Due: none

k8s-infra-prow-build: move boskos ServiceMonitor to correct directory
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-service-monitor.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

promote jobset v0.4.0 to prod
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

k8s-infra-prow-build: fix Grafana volumes
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/grafana/deployment.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Promote ingress-nginx kube-webhook-certgen
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

k8s-infra-prow-build: add external IP for Grafana
  infra/gcp/terraform/k8s-infra-prow-build/external-ips.tf
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources

releng: Image promotion for kubernetes v1.30.0-alpha.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add DNS record for monitoring-gke.prow
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

k8s-infra-prow-build: add ManagedCertificate for Grafana
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/grafana/certificate.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

k8s-infra-prow-build: add Ingress and Service for Grafana
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/grafana/ingress.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/grafana/service.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

k8s-infra-prow-build: use LoadBalancer Service for Grafana
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/grafana/service.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

k8s-infra-prow-build: enable SSL for Grafana Ingress
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/grafana/ingress.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Image promotion for ingress-nginx v0.0.5
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

k8s-infra-prow-build: allow HTTP on Grafana Ingress
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/grafana/ingress.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

add sig-etcd lead's email addresses
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote image for NPD v0.8.16
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: post-k8sio-deploy-prow-build-trusted-resources, k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

k8s-infra-prow-build: use global IP for Grafana Ingress
  infra/gcp/terraform/k8s-infra-prow-build/external-ips.tf
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources

Image promotion for ingress-nginx v1.10.0
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update csi-driver-host-path image 1.13
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-gcp v1.6.0
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-aws v2.4.0
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote dns 1.23.0 images
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Install Kubecost
  infra/gcp/terraform/k8s-infra-prow-build/deploy.sh
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/extermal-secrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/helm-values
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/namespaces.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Change deployment method to applying manifests instead of helm installation
  infra/gcp/terraform/k8s-infra-prow-build/deploy.sh
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/00-extermal-secrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/01-sa.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/02-configs.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/03-pvc.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/04-rbac.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/05-service.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/06-apps.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/README.md
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Delete empty lines from helm template output
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/01-sa.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/02-configs.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/03-pvc.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/04-rbac.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/05-service.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/06-apps.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Image promotion for dns 1.23.0
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Fix trailing spaces issues
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/04-rbac.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kubecost/06-apps.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

k8s-infra-prow-build: update IP address for monitoring-gke DNS record
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

Add fabriziopandini to k8s-infra-staging-capi-vsphere
  groups/sig-cluster-lifecycle/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Fastly: Authenticate to a private bucket as origin
  infra/fastly/terraform/dl-sandbox.k8s.dev/services.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/vcl/gcs-auth.vcl
Due: none

add redirections for go.k8s.io
  apps/k8s-io/README.md
  apps/k8s-io/configmap-nginx.yaml
  apps/k8s-io/test.py
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-k8s-io

k8s-infra-prow-build: disallow http on Grafana Ingress
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/grafana/ingress.yaml
Due: post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Promote cuda-vector-add image
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add lws to registry.gcr.io
  groups/restrictions.yaml
  groups/sig-apps/groups.yaml
  infra/gcp/infra.yaml
  registry.k8s.io/images/k8s-staging-lws/OWNERS
  registry.k8s.io/images/k8s-staging-lws/imaegs.yaml
  registry.k8s.io/manifests/k8s-staging-lws/promoter-manifest.yaml
Due: pull-k8sio-groups-test, pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/
