Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

fix NCC-E003660-B4Y
  pkg/routes/logs.go
Due: none

Add unit for pkg/routes/logs.go
  pkg/routes/logs_test.go
Due: none

Fix regression in cmd/kube-proxy/app unit test speed
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_test.go
Due: none

make the change optional
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go
Due: pull-kubernetes-godeps

Bump distroless-iptables to v0.3.3
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Due: pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

add ClockSkewToleration parameter
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
Due: pull-kubernetes-godeps

documentation update
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
Due: pull-kubernetes-godeps

Add proto file for gRPC pod-status service
  hack/update-codegen.sh
  staging/src/k8s.io/kubelet/pkg/apis/podstatus/v1alpha1/api.pb.go
  staging/src/k8s.io/kubelet/pkg/apis/podstatus/v1alpha1/api.proto
Due: pull-kubernetes-godeps

Add ReflectorWatchList client feature gate.
  staging/src/k8s.io/client-go/features/kube_features.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

Sketch feature gate initializer.
  staging/src/k8s.io/component-base/feature/feature_gate.go
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

fix data race in apf unit test
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
Due: pull-kubernetes-godeps

Mark a volume as uncertain-attached after detach error
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Improve error message in cpu assignment logic
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
Due: pull-kubernetes-local-e2e-containerized

set maxLength to longest enum.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiserver/pkg/cel/common/schemas.go
Due: pull-kubernetes-godeps

hack: update golangci-lint verify scripts
  hack/make-rules/verify.sh
  hack/verify-golangci-lint-pr-hints.sh
Due: pull-kubernetes-files-remake

Create e2e test for PV/PVC status endpoints
  test/e2e/storage/persistent_volumes.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Fix "Endpoint" vs "Endpoints" in proxy type names
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service_test.go
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

add rest of accessors to common.Schema
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/adaptor.go
  staging/src/k8s.io/apiserver/pkg/cel/common/adaptor.go
  staging/src/k8s.io/apiserver/pkg/cel/openapi/adaptor.go
  staging/src/k8s.io/apiserver/pkg/cel/openapi/extensions.go
Due: pull-kubernetes-godeps

add basic declarative schema validator
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/cel_compile.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/cel_validate.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/constants.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/default.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/defaulting/algorithm.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/defaulting/prunenulls.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/errors.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/lazy.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/pruning/algorithm.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/pruning/options.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/result.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/schema.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/validation.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/cel/common/maplist.go
  test/integration/apimachinery/apivalidation_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

wip commit: testing framework
  pkg/apis/core/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/cel/apivalidation/testing/framework.go
  staging/src/k8s.io/apiserver/pkg/cel/openapi/resolver/definitions.go
Due: pull-kubernetes-godeps

Replace stat syscall with statx
  staging/src/k8s.io/mount-utils/mount_linux.go
Due: pull-kubernetes-godeps

fallback to origin IsLikelyNotMountPoint to avoid regression
  staging/src/k8s.io/mount-utils/mount_linux.go
Due: pull-kubernetes-godeps

feat: support statx STATX_ATTR_MOUNT_ROOT attribute
  staging/src/k8s.io/mount-utils/mount_linux.go
Due: pull-kubernetes-godeps

client-go: allow insecure oidc auth provider
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/oidc/oidc.go
Due: pull-kubernetes-godeps

hack: fix update of golangci-lint verify scripts
  hack/make-rules/verify.sh
Due: pull-kubernetes-files-remake

fix api
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1alpha1_openapi.json
  pkg/apis/core/types.go
  pkg/apis/storage/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/storage/v1alpha1/generated.proto
  staging/src/k8s.io/api/storage/v1alpha1/types.go
  staging/src/k8s.io/api/storage/v1alpha1/types_swagger_doc_generated.go
Due: pull-kubernetes-godeps

remove set-default admission plugin
  pkg/kubeapiserver/options/plugins.go
  plugin/pkg/admission/storage/volumeattributesclass/setdefault/admission.go
  plugin/pkg/admission/storage/volumeattributesclass/setdefault/admission_test.go
Due: none

add VolumeAttributesClassName into pv Spec
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1_openapi.json
  pkg/api/persistentvolume/util.go
  pkg/api/persistentvolume/util_test.go
  pkg/apis/core/types.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/core.v1.PersistentVolume.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.PersistentVolume.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.PersistentVolume.yaml
  staging/src/k8s.io/api/testdata/HEAD/storage.k8s.io.v1.VolumeAttachment.json
  staging/src/k8s.io/api/testdata/HEAD/storage.k8s.io.v1.VolumeAttachment.pb
  staging/src/k8s.io/api/testdata/HEAD/storage.k8s.io.v1.VolumeAttachment.yaml
  staging/src/k8s.io/api/testdata/HEAD/storage.k8s.io.v1alpha1.VolumeAttachment.json
  staging/src/k8s.io/api/testdata/HEAD/storage.k8s.io.v1alpha1.VolumeAttachment.pb
  staging/src/k8s.io/api/testdata/HEAD/storage.k8s.io.v1alpha1.VolumeAttachment.yaml
  staging/src/k8s.io/api/testdata/HEAD/storage.k8s.io.v1beta1.VolumeAttachment.json
  staging/src/k8s.io/api/testdata/HEAD/storage.k8s.io.v1beta1.VolumeAttachment.pb
  staging/src/k8s.io/api/testdata/HEAD/storage.k8s.io.v1beta1.VolumeAttachment.yaml
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/persistentvolumespec.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
Due: pull-kubernetes-godeps

apiserver reconciler remove unnecessary recursion
  pkg/controlplane/controller/kubernetesservice/controller.go
Due: none

apiserver endpoints reconciler considers healthz
  pkg/controlplane/controller/kubernetesservice/controller.go
  pkg/controlplane/controller/kubernetesservice/controller_test.go
Due: none

Address comments
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter_test.go
Due: pull-kubernetes-godeps

compatibility (adapt testdata)
  staging/src/k8s.io/api/testdata/v1.27.0/networking.k8s.io.v1alpha1.IPAddress.after_roundtrip.json
  staging/src/k8s.io/api/testdata/v1.27.0/networking.k8s.io.v1alpha1.IPAddress.after_roundtrip.pb
  staging/src/k8s.io/api/testdata/v1.27.0/networking.k8s.io.v1alpha1.IPAddress.after_roundtrip.yaml
  staging/src/k8s.io/api/testdata/v1.28.0/networking.k8s.io.v1alpha1.IPAddress.after_roundtrip.json
  staging/src/k8s.io/api/testdata/v1.28.0/networking.k8s.io.v1alpha1.IPAddress.after_roundtrip.pb
  staging/src/k8s.io/api/testdata/v1.28.0/networking.k8s.io.v1alpha1.IPAddress.after_roundtrip.yaml
Due: pull-kubernetes-godeps

drop UID from the IPAddress.Spec.ParentRef
  pkg/apis/networking/types.go
  pkg/registry/core/service/ipallocator/controller/repairip.go
  pkg/registry/core/service/ipallocator/ipallocator.go
  staging/src/k8s.io/api/networking/v1alpha1/types.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-godeps

make update
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__networking.k8s.io__v1alpha1_openapi.json
  pkg/apis/networking/v1alpha1/zz_generated.conversion.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/networking/v1alpha1/generated.pb.go
  staging/src/k8s.io/api/networking/v1alpha1/generated.proto
  staging/src/k8s.io/api/networking/v1alpha1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/testdata/HEAD/networking.k8s.io.v1alpha1.IPAddress.json
  staging/src/k8s.io/api/testdata/HEAD/networking.k8s.io.v1alpha1.IPAddress.pb
  staging/src/k8s.io/api/testdata/HEAD/networking.k8s.io.v1alpha1.IPAddress.yaml
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/client-go/applyconfigurations/networking/v1alpha1/parentreference.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-godeps

incorporate review comments
  test/integration/volume/attach_detach_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Update SECURITY_CONTACTS
  SECURITY_CONTACTS
Due: none

kube-apiserver: use only one client in apiserver controllers
  pkg/controlplane/instance.go
Due: none

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
