Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, post-kubernetes-push-image-pause, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

fix S1008 simplify bool returns
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/server/filters/goaway.go
  staging/src/k8s.io/apiserver/pkg/server/storage/resource_config.go
Due: pull-kubernetes-godeps

fix S1000 simplify ch switch cases
  staging/src/k8s.io/apiserver/pkg/server/filters/goaway_test.go
Due: pull-kubernetes-godeps

fix S1002 omit comp to bool
  staging/src/k8s.io/apiserver/pkg/authorization/union/union.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/capmanagers.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/resttest/resttest.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/egress_selector.go
Due: pull-kubernetes-godeps

Update checks and status messages; Remove asserting of status values
  test/e2e/apps/deployment.go
Due: none

fixing static checks for volume/testing
  hack/.staticcheck_failures
  pkg/volume/testing/testing.go
Due: none

Container status not rely on tags
  pkg/kubelet/dockershim/docker_container.go
  pkg/kubelet/dockershim/docker_container_test.go
Due: pull-kubernetes-local-e2e-containerized

Add nilo19 to the owner list of the provider azure.
  staging/src/k8s.io/legacy-cloud-providers/azure/OWNERS
Due: pull-kubernetes-godeps

Code review update
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Update after code review
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Fix shellcheck w/e in cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure-helper.sh
  hack/.shellcheck_failures
Due: pull-kubernetes-e2e-gke

Updates after code review
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Mitigate newly added shellcheck issues
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Update cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Updates after review
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Remove previously added '' no longer needed
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Add fix for run-kube-controller-manager-as-non-root
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

No quotes needed/wanted for CURL_RETRY_CONNREFUSED
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Sync with master
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Review update
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

update the comment of NodeIPs function
  pkg/proxy/ipvs/netlink_linux.go
  pkg/proxy/ipvs/proxier.go
Due: none

Find what fails pull-kubernetes-e2e-gce-ubuntu-containerd
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Unify the scoring process for `PodTopologySpread` plugin
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
Due: none

azure: use the parsed value from the configuration
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

fix the wrong function description
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
Due: pull-kubernetes-godeps

Delete default load balancer source range (0.0.0.0/0) to prevent redundant network security rules.
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Wait for all informers to sync in /readyz.
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  test/integration/master/kube_apiserver_test.go
Due: pull-kubernetes-godeps

e2e networking: wait for endpoints to be published
  test/e2e/framework/network/utils.go
Due: none

Cherry pick the fix https://github.com/kubernetes/kubernetes/pull/70291
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Due: pull-kubernetes-godeps

fix: reduce azure credential caching
  pkg/credentialprovider/azure/azure_credentials.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file

pkg/kubelet/pleg: include only running pods in running_pod_count metric
  pkg/kubelet/pleg/BUILD
  pkg/kubelet/pleg/generic.go
Due: pull-kubernetes-local-e2e-containerized

kubeadm: Remove `kubeadm config upload`
  cmd/kubeadm/app/cmd/BUILD
  cmd/kubeadm/app/cmd/config.go
Due: pull-kubernetes-e2e-kubeadm-gce

Return nil as error when instance is not found so that node_controller could delete the node
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: Bug 1852056: change etcd health check timeout to 10s
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Due: pull-kubernetes-godeps

Do not raise exception if unscheduled Pod status is unknown
  test/e2e/scheduling/predicates.go
Due: none

kube-scheduler: allow deprecated options to be set with configfile
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
Due: none

Added logic to Validate unsupported Flags for non-default logging format
  staging/src/k8s.io/component-base/logs/options.go
Due: pull-kubernetes-godeps
