Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*

chore: upgrade to go 1.18
  .golangci.yml
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: secrets-store-csi-driver-push-image

additional sync options (e.g. jsonPath) implemented
  apis/v1/secretproviderclass_types.go
  apis/v1/zz_generated.deepcopy.go
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  controllers/secretproviderclasspodstatus_controller.go
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  pkg/rotation/reconciler.go
  pkg/util/secretutil/secret.go
  pkg/util/secretutil/secret_test.go
  pkg/util/spcutil/secret_object_builder.go
  pkg/util/spcutil/secret_object_builder_test.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secret.go unit tests updated for new syncOptions functionality
  apis/v1/secretproviderclass_types.go
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
  pkg/util/secretutil/secret.go
  pkg/util/secretutil/secret_test.go
  pkg/util/spcutil/secret_object_builder_test.go
Due: none

security: fix CVEs
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: update golangci-lint to v1.45.2 and pin to go 1.17
  .golangci.yml
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

chore: upgrade makefile test binary versions
  Makefile
Due: none

chore: bump version to 1.1.2 in release-1.1
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifests and helm chart for 1.1.2
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifests and helm chart for 1.1.2
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.1.2.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.1.2.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

security: fix CVE-2018-25032 and update to debian-base:bullseye-v1.2.0
  Makefile
  docker/Dockerfile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

add tests using Akeyless CSI provider
  Makefile
  test/bats/akeyless.bats
  test/bats/tests/akeyless/pod-inline-volume-secretproviderclass.yaml
  test/bats/tests/akeyless/secretproviderclass.yaml
Due: none

chore: change default to `/var/run` for providers path
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: update instructions on generating release notes
  docs/RELEASE.md
Due: none

ci: update kubernetes version matrix in staging e2e workflow
  .github/workflows/e2e.yaml
Due: none

test: use helm charts for azure provider
  test/bats/azure.bats
Due: none

test: use helm upgrade --install for azure e2e
  test/bats/azure.bats
Due: none

security: fix CVE-2022-1271
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

ci: fix markdown link check workflow failures
  .github/workflows/markdown-link-check.yaml
  .markdownlinkcheck.json
  docs/book/src/SUMMARY.md
Due: none

chore: update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

test: cleanup provider tests (part 1)
  test/bats/aws.bats
  test/bats/azure.bats
  test/bats/gcp.bats
  test/bats/vault.bats
Due: none

chore: bump kind version to v0.13.0 to support kubernetes v1.24
  Makefile
Due: none

Add support for using docker image digests instead of tags
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/_helpers.tpl
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

add nilekhc to reviewers
  OWNERS
Due: none

feat: add unencrypted, plain values to be kept alongside secret information
  apis/v1/secretproviderclass_types.go
  docs/book/src/topics/set-as-env-var.md
  docs/book/src/topics/sync-as-kubernetes-secret.md
  pkg/util/secretutil/secret.go
  pkg/util/secretutil/secret_test.go
Due: none

security: fix CVE-2022-1292
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

ci: fix aws eks cluster creation
  Makefile
  test/scripts/initialize_eks_cluster.bash
Due: none

chore: bump `node-driver-registrar:v2.5.1` and `livenessprobe:v2.7.0`
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: include security explanations for root/privileged/and pod tokens
  docs/book/src/concepts.md
Due: none

ci: add kubernetes 1.24 in e2e matrix
  .github/workflows/e2e.yaml
Due: none

chore: update debian-base to bullseye-v1.3.0
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

security: fix CVE-2022-1664
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

add crds.podLabels and consume labels in each hook Job object make template spacing consistent
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

adding new value to README configuration table
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: add `crds.podLabels` for helm hook jobs (#962)
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

fix: remove files before cleanup mount point in unpublish
  pkg/secrets-store/nodeserver.go
Due: none

chore: update kubernetes deps to v1.24.1
  cmd/secrets-store-csi-driver/main.go
  go.mod
  go.sum
  pkg/secrets-store/provider_client.go
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none
