Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-monitoring:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-monitoring
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Create TF EKS provisioner role + setup initial permission boundary
  infra/aws/terraform/iam/054318140392/.gitignore
  infra/aws/terraform/iam/054318140392/.terraform.lock.hcl
  infra/aws/terraform/iam/054318140392/boundary.tf
  infra/aws/terraform/iam/054318140392/main.tf
  infra/aws/terraform/iam/054318140392/terraform.tfvars
  infra/aws/terraform/iam/054318140392/tf_provisioner_role.tf
  infra/aws/terraform/iam/054318140392/variables.tf
Due: none

Use quotes to prevent long running prow
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Order OWNERS list
  registry.k8s.io/images/k8s-staging-nfd/OWNERS
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Extract provisioner/admin role to a separate TF script
  infra/aws/terraform/iam/054318140392/main.tf
  infra/aws/terraform/iam/054318140392/terraform.tfvars
  infra/aws/terraform/iam/054318140392/tf_provisioner_role.tf
  infra/aws/terraform/iam/054318140392/variables.tf
  infra/aws/terraform/iam/k8s-infra-prow-canary/.gitignore
  infra/aws/terraform/iam/k8s-infra-prow-canary/.terraform.lock.hcl
  infra/aws/terraform/iam/k8s-infra-prow-canary/main.tf
  infra/aws/terraform/iam/k8s-infra-prow/.gitignore
  infra/aws/terraform/iam/k8s-infra-prow/main.tf
  infra/aws/terraform/modules/eks-prow-provisioner-iam/README.md
  infra/aws/terraform/modules/eks-prow-provisioner-iam/boundary.tf
  infra/aws/terraform/modules/eks-prow-provisioner-iam/data.tf
  infra/aws/terraform/modules/eks-prow-provisioner-iam/eks_provisioner_role.tf
  infra/aws/terraform/modules/eks-prow-provisioner-iam/outputs.tf
  infra/aws/terraform/modules/eks-prow-provisioner-iam/policies.tf
  infra/aws/terraform/modules/eks-prow-provisioner-iam/variables.tf
  infra/aws/terraform/prow-build-cluster/data.tf
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/main.tf
  infra/aws/terraform/prow-build-cluster/prow.tf
  infra/aws/terraform/prow-build-cluster/resources/rbac/cluster-viewer.yaml
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: k8sio-k8s-resources-verify

Change canary name: prow-build-canary-cluster -> prow-canary-cluster
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/main.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
Due: none

Restructure code in prow-build-cluster folder
  infra/aws/terraform/prow-build-cluster/data.tf
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/iam.tf
  infra/aws/terraform/prow-build-cluster/locals.tf
  infra/aws/terraform/prow-build-cluster/main.tf
  infra/aws/terraform/prow-build-cluster/providers.tf
  infra/aws/terraform/prow-build-cluster/prow.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

Update description of eks_viewers role
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

Remove unused maintainer policy
  infra/aws/terraform/modules/eks-prow-provisioner-iam/policies.tf
Due: none

Apply eks-provisioner role on k8s-infra-prow account
  infra/aws/terraform/iam/k8s-infra-prow/.terraform.lock.hcl
Due: none

prow-build-cluster readme update
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

images: promote node-feature-discovery v0.13.1
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Review renames - part 1
  infra/aws/terraform/iam/k8s-infra-prow-canary/output.tf
  infra/aws/terraform/iam/k8s-infra-prow-canary/terraform.tfvars
  infra/aws/terraform/iam/k8s-infra-prow-canary/variables.tf
  infra/aws/terraform/iam/k8s-infra-prow/main.tf
  infra/aws/terraform/iam/k8s-infra-prow/outputs.tf
  infra/aws/terraform/iam/k8s-infra-prow/terraform.tfvars
  infra/aws/terraform/iam/k8s-infra-prow/variables.tf
  infra/aws/terraform/modules/eks-prow-iam/README.md
  infra/aws/terraform/modules/eks-prow-iam/boundary.tf
  infra/aws/terraform/modules/eks-prow-iam/data.tf
  infra/aws/terraform/modules/eks-prow-iam/eks_infra_admin_role.tf
  infra/aws/terraform/modules/eks-prow-iam/eks_infra_viewer_role.tf
  infra/aws/terraform/modules/eks-prow-iam/outputs.tf
  infra/aws/terraform/modules/eks-prow-iam/policies.tf
  infra/aws/terraform/modules/eks-prow-iam/variables.tf
Due: none

Review renames - part 2
  infra/aws/terraform/iam/k8s-infra-prow-canary/output.tf
  infra/aws/terraform/iam/k8s-infra-prow/outputs.tf
  infra/aws/terraform/modules/eks-prow-iam/eks_infra_admin_role.tf
  infra/aws/terraform/modules/eks-prow-iam/eks_infra_viewer_role.tf
  infra/aws/terraform/modules/eks-prow-iam/outputs.tf
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/data.tf
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/iam.tf
  infra/aws/terraform/prow-build-cluster/locals.tf
  infra/aws/terraform/prow-build-cluster/providers.tf
  infra/aws/terraform/prow-build-cluster/resources/rbac/cluster-viewer.yaml
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: k8sio-k8s-resources-verify

Add boskos accounts for EKS build cluster
  infra/aws/terraform/management-account/organization-accounts-boskos.tf
Due: none

Remove trailing space
  infra/aws/terraform/prow-build-cluster/resources/rbac/cluster-viewer.yaml
Due: k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.7.5
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.7.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.8.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

disable CDN for oci-proxy LB, see https://github.com/kubernetes/registry.k8s.io/issues/234
  infra/gcp/terraform/modules/oci-proxy/network.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

Promote csi sidecar images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

remove adtac from the simulator group
  groups/sig-scheduling/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Review - part 3
  infra/aws/terraform/iam/k8s-infra-prow-canary/terraform.tfvars
  infra/aws/terraform/iam/k8s-infra-prow/terraform.tfvars
  infra/aws/terraform/modules/eks-prow-iam/outputs.tf
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/iam.tf
  infra/aws/terraform/prow-build-cluster/locals.tf
  infra/aws/terraform/prow-build-cluster/providers.tf
  infra/aws/terraform/prow-build-cluster/prow.tf
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

eks-prow-iam: rename policies, add eks update actions
  infra/aws/terraform/modules/eks-prow-iam/policies.tf
Due: none

Add OWNERS to new folders
  infra/aws/terraform/iam/k8s-infra-prow-canary/OWNERS
  infra/aws/terraform/iam/k8s-infra-prow/OWNERS
  infra/aws/terraform/modules/eks-prow-iam/OWNERS
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/iam.tf
Due: none

Fix name ref
  infra/aws/terraform/prow-build-cluster/locals.tf
Due: none

Remove iam module from prow-build-cluster tf script
  infra/aws/terraform/prow-build-cluster/modules/iam/outputs.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/policies.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/providers.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/roles.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/users.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/variables.tf
Due: none

Remove usage of removed module
  infra/aws/terraform/prow-build-cluster/iam.tf
Due: none

Cluster Autoscaler 1.27.1
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

audit: update as of 2023-04-28
  audit/projects/k8s-infra-e2e-boskos-096/buckets/kops-state-k8s-infra-e2e-boskos-096/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-096/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

Promoting v0.7.0-rc1 image for Gateway API
  registry.k8s.io/images/k8s-staging-gateway-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

CAPO release v0.7.2
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.4.2
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.3.7
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote image to prod for jobset v0.1.0
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v1.27.0-go1.20.4-bullseye.0 / v1.25.0-go1.19.9-bullseye.0 / v1.26.0-go1.19.9-bullseye.0 / v1.24.0-go1.19.9-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v2.3.1-go1.20.4-bullseye.0 / v2.3.1-go1.19.9-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for releng 1.20.4-bullseye-0 / 1.19.9-bullseye-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
