Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Update monitoring.md
  docs/user-guide/monitoring.md
Due: none

Docs: Enable metrics in manifest-based deployments. (#13171)
  docs/user-guide/monitoring.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/monitoring/index.html
Due: none

Docs: Enable metrics in manifest-based deployments. (#13235)
  docs/user-guide/monitoring.md
Due: none

Docs: Enable metrics in manifest-based deployments. (#13236)
  docs/user-guide/monitoring.md
Due: none

docs: improve formatting in monitoring documentation
  docs/user-guide/monitoring.md
Due: none

Docs: Improve formatting in `monitoring.md`. (#13239)
  docs/user-guide/monitoring.md
Due: none

Docs: Improve formatting in `monitoring.md`. (#13241)
  docs/user-guide/monitoring.md
Due: none

Docs: Improve formatting in `monitoring.md`. (#13240)
  docs/user-guide/monitoring.md
Due: none

updating docs with latest NLB docs.
  docs/deploy/index.md
Due: none

Go: Update dependencies.
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages

Adding codeowners for build dependencies
  CODEOWNERS
Due: none

Update CODEOWNERS: Set build files to dependency-change-reviewers and Dockerfiles to core-infra
  CODEOWNERS
Due: none

Go: Update dependencies. (#13247)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages

Go: Update dependencies. (#13246)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages

Go: Update dependencies. (#13245)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages

Update index.md more exlicity regarding less than ideal timeout
  docs/deploy/index.md
Due: none

Docs: How to modify NLB TCP timeout. (#13242)
  docs/deploy/index.md
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Docs: How to modify NLB TCP timeout. (#13249)
  docs/deploy/index.md
Due: none

Docs: How to modify NLB TCP timeout. (#13250)
  docs/deploy/index.md
Due: none

CI: Update Kubernetes to v1.32.4.
  .github/workflows/ci.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

CI: Update Kubernetes to v1.32.4. (#13254)
  .github/workflows/ci.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

CI: Update Kubernetes to v1.32.4. (#13255)
  .github/workflows/ci.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

CI: Update Kubernetes to v1.32.4. (#13256)
  .github/workflows/ci.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner
