Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2, post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-misc-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e-v2/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/(kubekins-e2e/|kubekins-e2e-v2/variants.yaml)|kubetest|boskos|logexporter)
  post-test-infra-push-kubekins-e2e-v2: any of: ^images/kubekins-e2e-v2/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-push-misc-images: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config-canary: any of: ^config/(jobs|testgrids)/.*$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-misc-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/

un-emeritus michelle192837
  OWNERS
Due: none

Bumping Prow
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-branchprotector.yaml
  config/jobs/kubernetes/test-infra/test-infra-checkconfig.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/prow/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add chases2 to emeritus list
  OWNERS
Due: none

Unit-test jobs for 1.34 and 1.33 branches on ppc64le
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add fork-per-release annotations and ppc64le unit test jobs for release branches 1.33, 1.34, and 1.35
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.34.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.35.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

v1.35 code thaw
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update milestone_applier for v1.36
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

update python version
  config/jobs/kubernetes/kops/build_jobs.py
  hack/make-rules/py-test/activate-python_venv.sh
  hack/run-in-python-container.sh
  kettle/make_json.py
  kettle/make_json_test.py
  metrics/bigquery.py
  pylintrc
  requirements3.txt
Due: post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-upload-testgrid-config-canary, pull-test-infra-misc-image-build-test

Add fork-per-release annotations and ppc64le unit test jobs for release branches 1.33 and 1.34; merge latest master into ppc-ut-rel-branch
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.33.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.34.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

remove permafailing jobs
  config/testgrids/generated-test-config.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
  releng/generate_tests.py
  releng/test_config.yaml
Due: post-test-infra-upload-testgrid-config-canary

Temp disable the image pulling related test
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Sat, 13 Dec 2025 00:03:43 UTC
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.10-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.11-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.9-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

cleanup kind board folder
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/conformance/kind/OWNERS
  config/testgrids/conformance/kind/conformance-kind.yaml
Due: post-test-infra-upload-testgrid-config-canary

add kops conformance jobs for azure
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
  config/jobs/kubernetes/kops/requirements.txt
  config/testgrids/conformance/conformance-all.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kOps: fix incorrect boskos flag
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/templates/presubmit.yaml.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

chore: remove jobs of cloud provider azure 1.31
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.31.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add presubmit jobs for CAPIBM release-0.13 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.13.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 16 Dec 2025 00:03:13 UTC
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.10-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.11-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.9-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

run conformance tests on s390x using kubetest2
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-s390x-periodics.yaml
  config/prow/config.yaml
  config/testgrids/conformance/conformance-all.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Change back to using downloaded kubelet images
  experiment/compatibility-versions/common.sh
  experiment/compatibility-versions/kind-upgrade.sh
Due: none

Add ppc64le IBM Cloud unit test jobs for release-1.35, 1.34, 1.33 with fork-per-release
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.33.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.34.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.35.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

autobump boskos janitors
  config/prow/autobump-config/prow-job-autobump-config.yaml
Due: none

build only oss tags
  config/jobs/image-pushing/k8s-staging-cloud-provider-gcp.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Setup CAPI E2E for 1.36
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-10-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-11-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-12-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-12-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-12-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Setup CAPV E2E for K8s 1.36
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-15-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-15-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

node-readiness-controller: add job for build/publish-ing staging images
  config/jobs/image-pushing/k8s-staging-node-readiness-controller.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

use CAPZ main branch to validate cloud-provider-azure dualstack
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.34.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
