Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2, post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-misc-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e-v2/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/(kubekins-e2e/|kubekins-e2e-v2/variants.yaml)|kubetest|boskos|logexporter)
  post-test-infra-push-kubekins-e2e-v2: any of: ^images/kubekins-e2e-v2/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-push-misc-images: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config-canary: any of: ^config/(jobs|testgrids)/.*$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-misc-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/

Setup release-0.17 branch jobs for CAPI Operator
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-release-0-17.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-release-0-17.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Disable `InPlacePodVerticalScaling` feature for `pull-kubernetes-node-e2e-containerd-alpha-features`
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update publishing-bot jobs to use go1.24
  config/jobs/kubernetes/publishing-bot/publishing-bot-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

migrate lws to staging repo
  config/jobs/image-pushing/k8s-staging-lws.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

migrate jobset to staging repo
  config/jobs/image-pushing/k8s-staging-jobset.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

secrets-sync: bump kubernetes versions for tests
  config/jobs/kubernetes-sigs/secrets-store-sync-controller/secrets-store-sync-controller-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix: resolve compat version feature gate test edge case involving deprecated features
  experiment/compatibility-versions/compatibility-versions-feature-gate-test.sh
  experiment/compatibility-versions/validate-compatibility-versions-feature-gates.sh
Due: none

Checkout the csi-driver repo
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update release-1.32-windows serial slow
  config/jobs/kubernetes-sigs/sig-windows/release-1.32-windows.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Skip alph on main branch
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Switch publishing-bot CI jobs to use golang:1.24
  config/jobs/kubernetes/publishing-bot/publishing-bot-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Cleanup after archival of kubernetes-security/cvelist-public repo (#34168)
  config/jobs/kubernetes/sig-security/cvelist-public.yaml
  config/testgrids/kubernetes/sig-security/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 26 Feb 2025 00:03:01 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-blocking.yaml
Due: post-test-infra-upload-testgrid-config-canary

Update versions kops jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove outdated updown job
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove unused dashboards
  config/testgrids/kubernetes/kops/config.yaml
Due: post-test-infra-upload-testgrid-config-canary

etcd: add markdown lint presubmit job
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

pin CLUSTER_TEMPLATE and use k8s latest
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kubekins-e2e-v2 multiarch support for ppc64le
  images/kubekins-e2e-v2/Dockerfile
  images/kubekins-e2e-v2/README.md
  images/kubekins-e2e-v2/cloudbuild.yaml
Due: post-test-infra-push-kubekins-e2e-v2

CAPI: also build latest-ci in presubmit lastestk8s
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

cluster-autoscaler: update azure E2E to use CAPZ 1.18
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

bump to 4 cpu for kms jobs
  config/jobs/kubernetes/sig-auth/sig-auth-encryption-at-rest.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add missing fields in CAPZ jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.17.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.18.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

experiment: setup tool for KEPs reviews
  experiment/keptain/OWNERS
  experiment/keptain/README.md
Due: none

Update OpenShift testgrid definitions by auto-testgrid-generator job at Thu, 27 Feb 2025 00:03:52 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

Update cloud provider azure job OWNERS
  config/jobs/kubernetes-sigs/cloud-provider-azure/OWNERS
Due: post-test-infra-upload-testgrid-config-canary

etcd: mark grpcproxy jobs as blocking
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update kubekins to go1.24.0
  images/kubekins-e2e-v2/variants.yaml
Due: post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2

Add GCE windows jobs back
  config/jobs/kubernetes-sigs/sig-windows/windows-gce.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add reivewer and approver from Google
  config/jobs/kubernetes-sigs/sig-windows/OWNERS
Due: post-test-infra-upload-testgrid-config-canary

drop kubernetes 1.29 due to out of support
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-6.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-7.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 28 Feb 2025 00:03:14 UTC
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.19-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

update golang version to 1.24
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OWNERS for sig-security test config
  config/jobs/kubernetes/sig-security/OWNERS
  config/testgrids/kubernetes/sig-security/OWNERS
Due: post-test-infra-upload-testgrid-config-canary

Set skip for private registry test
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Set skip for PR too
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

cluster-autoscaler: add 1.32 test, use latest CAPZ
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Move the sig-security Snyk scan to a less sensitive cluster
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
  config/jobs/kubernetes/sig-security/snyk-scan.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra GCR images and k8s-staging-test-infra AR images and k8s-staging-apisnoop-test-infra and k8s-staging-apisnoop-apisnoop
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
