Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Update charts/ingress-nginx/tests/admission-webhooks/cert-manager_test.yaml
  charts/ingress-nginx/tests/admission-webhooks/cert-manager_test.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Bump the actions group with 3 updates (#12922)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Bump the actions group with 3 updates (#12921)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Chart: Add `controller.admissionWebhooks.certManager.*.revisionHistoryLimit`. (#12906)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/admission-webhooks/cert-manager.yaml
  charts/ingress-nginx/tests/admission-webhooks/cert-manager_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Bump golang.org/x/crypto from 0.34.0 to 0.35.0 (#12923)
  go.mod
  go.sum
Due: none

Bump golang.org/x/crypto from 0.34.0 to 0.35.0 (#12924)
  go.mod
  go.sum
Due: none

Test: Remove gRPC Fortune Teller.
  images/README.md
  test/e2e/annotations/grpc.go
  test/e2e/framework/grpc_fortune_teller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Test: Remove gRPC Fortune Teller. (#12928)
  images/README.md
  test/e2e/annotations/grpc.go
  test/e2e/framework/grpc_fortune_teller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Test: Remove gRPC Fortune Teller. (#12929)
  images/README.md
  test/e2e/annotations/grpc.go
  test/e2e/framework/grpc_fortune_teller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Test: Remove gRPC Fortune Teller. (#12930)
  images/README.md
  test/e2e/annotations/grpc.go
  test/e2e/framework/grpc_fortune_teller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

CI: Update KIND images.
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

CI: Update KIND images. (#12907)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

CI: Update KIND images. (#12931)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

CI: Update KIND images. (#12932)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

Go: Bump to v1.24.1.
  .github/workflows/golangci-lint.yml
  GOLANG_VERSION
  go.mod
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  internal/ingress/annotations/mirror/main_test.go
  internal/ingress/metric/collectors/nginx_status_test.go
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Bump google.golang.org/grpc from 1.70.0 to 1.71.0 (#12937)
  go.mod
  go.sum
Due: none

Bump the go group across 2 directories with 1 update (#12938)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages

Bump google.golang.org/grpc from 1.70.0 to 1.71.0 (#12936)
  go.mod
  go.sum
Due: none

Bump the go group across 2 directories with 1 update (#12939)
  go.mod
  go.sum
  images/custom-error-pages/rootfs/go.mod
  images/custom-error-pages/rootfs/go.sum
Due: post-ingress-nginx-custom-error-pages

Go: Bump to v1.24.1. (#12935)
  .github/workflows/golangci-lint.yml
  GOLANG_VERSION
  go.mod
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  internal/ingress/annotations/mirror/main_test.go
  internal/ingress/metric/collectors/nginx_status_test.go
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Go: Bump to v1.24.1. (#12942)
  .github/workflows/golangci-lint.yml
  GOLANG_VERSION
  go.mod
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  internal/ingress/annotations/mirror/main_test.go
  internal/ingress/metric/collectors/nginx_status_test.go
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Go: Bump to v1.24.1. (#12943)
  .github/workflows/golangci-lint.yml
  GOLANG_VERSION
  go.mod
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  internal/ingress/annotations/mirror/main_test.go
  internal/ingress/metric/collectors/nginx_status_test.go
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

fix DNS issues with unresolvable backends with ExternalName (#10989)
  rootfs/etc/nginx/lua/balancer.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pre-ingress-nginx-lua-test

docs: update line number in link to values.yaml
  docs/examples/customization/jwt/README.md
Due: none

Update rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/balancer.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pre-ingress-nginx-lua-test

fix issue with unresolved backends with ExternalName
  rootfs/etc/nginx/lua/balancer.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pre-ingress-nginx-lua-test

fix DNS issues with unresolvable backends with ExternalName (#12952)
  rootfs/etc/nginx/lua/balancer.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pre-ingress-nginx-lua-test

fix DNS issues with unresolvable backends with ExternalName (#12951)
  rootfs/etc/nginx/lua/balancer.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pre-ingress-nginx-lua-test

Bump golang.org/x/crypto from 0.35.0 to 0.36.0 (#12956)
  go.mod
  go.sum
Due: none

Bump golang.org/x/crypto from 0.35.0 to 0.36.0 (#12955)
  go.mod
  go.sum
Due: none

Bump github.com/onsi/ginkgo/v2 from 2.22.2 to 2.23.0
  build/run-in-docker.sh
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate
