Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Images/NGINX: Build main.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Increase machine type.
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-nginx

Images/NGINX: Add OpenTelemetry C++.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Configure OpenTelemetry C++.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Build OpenTelemetry C++.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Define Alpine version.
  images/nginx/Dockerfile
Due: post-ingress-nginx-nginx

Images/NGINX: Vary Alpine.
  images/nginx/cloudbuild.yaml
  images/nginx/variants.yaml
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build.
  images/nginx/TAG
Due: post-ingress-nginx-nginx

NGINX: Add NJS
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump golang.org/x/crypto from 0.21.0 to 0.31.0 in /magefiles (#12472)
  magefiles/go.mod
  magefiles/go.sum
Due: none

Bump golang.org/x/crypto from 0.21.0 to 0.31.0 in /magefiles (#12473)
  magefiles/go.mod
  magefiles/go.sum
Due: none

Bump golang.org/x/crypto from 0.21.0 to 0.31.0 in /magefiles (#12475)
  magefiles/go.mod
  magefiles/go.sum
Due: none

Bump golang.org/x/crypto from 0.30.0 to 0.31.0 (#12476)
  go.mod
  go.sum
Due: none

Bump golang.org/x/crypto from 0.30.0 to 0.31.0 (#12477)
  go.mod
  go.sum
Due: none

Bump golang.org/x/crypto from 0.30.0 to 0.31.0 (#12478)
  go.mod
  go.sum
Due: none

test(customheaders): add test for annotation added
  test/e2e/annotations/customheaders.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Controller: set DefaultBackend service to upstream
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Go: Bump to v1.23.4.
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.4. (#12482)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.4. (#12483)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.4. (#12484)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.4. (#12485)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

NGINX: Add NJS.
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

rikatz is stepping down
  OWNERS
  OWNERS_ALIASES
  SECURITY_CONTACTS
Due: none

Images: Fix ModSecurity-nginx configuration.
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

rikatz is stepping down (#12486)
  OWNERS
  OWNERS_ALIASES
  SECURITY_CONTACTS
Due: none

Rename environment variables
  images/custom-error-pages/rootfs/main.go
Due: post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Split create and serve logic for custom error pages
  images/custom-error-pages/rootfs/main.go
Due: post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Refactor and rename custom error pages vars
  images/custom-error-pages/rootfs/main.go
Due: post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Update README for the chart
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix custom error pages health check when not exporting /metrics
  images/custom-error-pages/rootfs/main.go
Due: post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Add feature toggle for /metrics in custom error pages
  images/custom-error-pages/rootfs/main.go
Due: post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Ignore G115 safe conversion int -> int32
  test/e2e/framework/deployment.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Fix unsupported value HTTP for protocol
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add e2e tests for Helm chart
  charts/ingress-nginx/ci/deployment-defaultbackend-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Allow chart to expose extra ports for default backend
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-service.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart
