Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, post-k8sio-image-promo, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/groups.yaml
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/

feat: add shortlink pointing to k8s logo page
  k8s.io/README.md
  k8s.io/configmap-nginx.yaml
Due: none

slack-infra: grant access to cpanato
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

Simplify go.k8s.io/owners/$ghuser
  k8s.io/configmap-nginx.yaml
  k8s.io/test.py
Due: none

k8s.io: add no_parent_owners: true for OWNERS
  k8s.io/OWNERS
Due: none

feat: added logos to test.py
  k8s.io/test.py
Due: none

Promote pause v3.5
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

roles: refresh audit.viewer
  infra/gcp/roles/audit.viewer.yaml
Due: none

infra/gcp: add diff_colorized to lib_util
  infra/gcp/lib_util.sh
Due: none

infra/gcp: remove cleanup of removed bindings/roles
  infra/gcp/ensure-organization.sh
Due: none

infra/gcp: improve lib_iam output
  infra/gcp/lib_iam.sh
Due: none

owners: rotate wg-k8s-infra leads
  OWNERS
  OWNERS_ALIASES
Due: none

owners: emeritus mikedanese
  OWNERS
Due: none

owners: reconcile security contacts
  SECURITY_CONTACTS
Due: none

groups: reconcile lead rotation
  OWNERS_ALIASES
  groups/groups.yaml
  groups/groups_test.go
Due: pull-k8sio-groups-test, post-k8sio-groups

Document and streamline k8s.io site deploy
  k8s.io/README.md
  k8s.io/canary.sh
  k8s.io/deploy.sh
Due: none

Adding dims as approver for k8s.io
  k8s.io/OWNERS
Due: none

lib_util: diff_colorized always exits 0
  infra/gcp/lib_util.sh
Due: none

Reorganize mailing lists for wg-k8s-infra
  groups/groups.yaml
  groups/wg-k8s-infra/OWNERS
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

test images: promote busybox 1.29-1
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

node-feature-discovery: promote v0.8.0
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Image promotion for v1.18.17 / v1.18.18-rc.0 / v1.19.9 / v1.19.10-rc.0 / v1.20.5 / v1.20.6-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote capdo v0.4.2 images
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

test image: promote agnhost 2.30
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote v0.1.8 image
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote 0.4.0 filestore image
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.21.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.21.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.0-alpha.2.yaml
Due: none

promote kustomize image version
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Update k8s.io/OWNERS - ensure parity with root approvers
  k8s.io/OWNERS
Due: none

add kubetest2 staging project
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-kubetest2/OWNERS
  k8s.gcr.io/images/k8s-staging-kubetest2/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kubetest2/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, post-k8sio-image-promo, post-k8sio-groups

Add Giant Swarm to distributors list
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

cluster-api-provider-openstack delete conformance bucket
  audit/projects/k8s-conform/buckets/k8s-conform-capi-openstack/bucketpolicyonly.txt
  audit/projects/k8s-conform/buckets/k8s-conform-capi-openstack/cors.txt
  audit/projects/k8s-conform/buckets/k8s-conform-capi-openstack/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-capi-openstack/logging.txt
  audit/projects/k8s-conform/service-accounts/service-capi-openstack@k8s-conform.iam.gserviceaccount.com/description.json
  audit/projects/k8s-conform/service-accounts/service-capi-openstack@k8s-conform.iam.gserviceaccount.com/iam.json
  infra/gcp/ensure-conformance-storage.sh
Due: none

redirect k8s.io calendar to k8s.dev calendar
  k8s.io/configmap-nginx.yaml
Due: none

k8s.io: reconcile OWNERS with groups
  groups/groups.yaml
  k8s.io/OWNERS
Due: pull-k8sio-groups-test, post-k8sio-groups

groups: move core infra groups to wg-k8s-infra
  groups/groups.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

Fix typo in cert-manager group
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

Update OWNERS with additional CAPA maintainers
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/OWNERS
Due: none

Add maintainer to CAPA group
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups
