Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazel-krte, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

post-test-infra-push-bazelbuild:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-benchmarkjunit:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bigquery:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bootstrap:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcb-docker-gcloud-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcloud-in-go:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-image-builder:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-krte:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

kops: update tests for new release-1.28 branch
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/testgrids/kubernetes/kops/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

kops: update karpenter skip regexes
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

kOps: Update milestones for release-1.28 branch
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration

CAPV: move v1.6 release jobs to new preset
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-release-1.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presets.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-release-1.6.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update `krte` to use debian:bookworm
  images/krte/Dockerfile
Due: post-test-infra-push-krte

Use defaults for CLOUD_PROVIDER_FLAG and related Disable flags from kube-up harness
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  releng/test_config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

prow: extend RepoOwner functionality to return owners aliases
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
  prow/plugins/blunderbuss/blunderbuss.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
  prow/plugins/reward-owners/reward-owners.go
  prow/plugins/reward-owners/reward-owners_test.go
  prow/plugins/verify-owners/verify-owners.go
  prow/plugins/verify-owners/verify-owners_test.go
  prow/repoowners/repoowners.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Cluster API: Drop PR-Informing test
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

CAPV: create second e2e job for v1.6 release branch to run on k8s gke infra
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-release-1.6.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

migrate `k8s.io` jobs to EKS cluster
  config/jobs/kubernetes/sig-k8s-infra/k8sio-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

prow/plugins: add a warn-owners-aliases plugin
  prow/plugins/warn-owners-aliases/warn-owners-aliases.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Revert "CAPV: create second e2e job for v1.6 release branch to run on k8s gke infra"
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-release-1.6.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

fix kubetest2 flakes
  config/jobs/kubernetes-sigs/kubetest2/kubetest2-canaries.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

remove duplicate RocketChatReporterConfigs (#7)
  prow/config/config.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

kops: remove leader-migration test
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

unrestrict scheduler throughhput; measure apiserver slos
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Increase memory for `pull-k8sio-groups-test`
  config/jobs/kubernetes/sig-k8s-infra/k8sio-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

CPO: Remove 1.24 jobs
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.24-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Add Disable flags for in-tree cloud providers to alpha jobs
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  releng/test_config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

focus on just pod slos now
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Use unique name for the periodic scale test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

increase scale test node count
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Add pull-kubernetes-node-e2e-containerd-1.7-dra job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
  jobs/e2e_node/dra/image-config-containerd-1.7.yaml
  jobs/e2e_node/dra/init-containerd-1.7.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

Duh! :bug: Set DisableCloudProviders and DisableKubeletCloudCredentialProviders to true
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  releng/test_config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

openshift/hypershift: add new test groups after 4.15 branch
  config/testgrids/openshift/hypershift.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Fix up ci-kubernetes-e2e-gci-gce-alpha-features and ci-kubernetes-e2e-gci-gce-alpha-enabled-default
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 06 Sep 2023 00:03:27 UTC
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-lp-rosa-hypershift-release-4.13-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Run ci-test-infra-triage more often
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

remove capdo lint job in favor of gh actions
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

update owners file for capdo
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/OWNERS
Due: post-test-infra-upload-testgrid-config

Add govulncheck presubmit to expose go vulnerabilities in a PR
  config/jobs/kubernetes/sig-security/govulncheck-presubmit.yaml
  config/testgrids/kubernetes/sig-security/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

:sparkles: Update kubebuilder-presubmits.yaml to add tests against 1.28 and remove the tests against 1.25
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update kubekins-e2e to Go 1.21.0 and drop config for k8s 1.24
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-krte, post-test-infra-push-kubekins-e2e

update gcp tests to disable in-tree cloud providers
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
  releng/test_config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

ci-kubernetes-e2e-gci-gce-alpha-enabled-default using wrong k8s version
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

cos-alpha-feature to work with cloud-provider external
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

sig-cloud-provider/gcp/gcp-gce: update FGs for gce-cos-alpha-features
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

fix pull-kubernetes-node-e2e-containerd-1-7-dra job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/dra/image-config-containerd-1.7.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

go-deps.sh: use 2-space indentation
  hack/make-rules/update/go-deps.sh
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test

go-deps.sh: modernize option processing
  hack/make-rules/update/go-deps.sh
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: (any of: ^(images/bigquery|scenarios)/) or (any of: ^images/bigquery/)
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: (any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/) or (any of: ^(images/kubekins-e2e|kubetest|boskos)/)
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-checkconfig-loose: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$
