Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, post-test-infra-upload-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/

added podman to the list
  images/kubekins-e2e-v2/Dockerfile
Due: none

Bump Go version for cli-utils build
  config/jobs/kubernetes-sigs/cli-utils/cli-utils-presubmit-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix azure file test failure#2
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Setup release-0.15 branch jobs for CAPI Operator
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-release-0-15.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-release-0-15.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration

Update milestones for Kueue 0.10
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-integration

Add presubmits and periodics for the Kueue release-0.10
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-10.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-0.10.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

crio_cgroupv2_imagefs.ign: run semanage before crio install
  jobs/e2e_node/crio/crio_cgroupv2_imagefs.ign
  jobs/e2e_node/crio/templates/base/imagefs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_imagefs.yaml
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

fix azure file test failure#3
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

don't run automatically jobs that are not supervised
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update release-master.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

drop 0.8 kueue testing
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-8.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-0.8.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add presubmits for kubedns/nodelocaldns bumps
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

adding squash automation to i-gw PRs
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration

add windows server 2025 networking tests
  config/testgrids/kubernetes/sig-windows/config.yaml
Due: pull-test-infra-integration

Adding prow config for llm-instance-gateway (#33930)
  config/jobs/image-pushing/k9s-staging-i-gw.yaml
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration

Bumping k8s-testimages images and k8s-staging-test-infra GCR images and k8s-staging-test-infra AR images and k8s-staging-apisnoop-test-infra and k8s-staging-apisnoop-apisnoop
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-instance-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Revert "pr-crio-cgrpv2-imagefsfs-e2e-kubetest2: decrease parallelism"
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

crio_cgroupv2_splitfs.ign: run semanage before crio install
  jobs/e2e_node/crio/crio_cgroupv2_splitfs.ign
  jobs/e2e_node/crio/templates/base/splitfs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_splitfs.yaml
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

Fix kops cluster creation in registry-sandbox.k8s.io canary
  config/jobs/kubernetes/sig-k8s-infra/registry.k8s.io/canaries.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix warnings
  images/gcb-docker-gcloud/Dockerfile
  images/gcb-docker-gcloud/cloudbuild.yaml
Due: post-test-infra-push-gcb-docker-gcloud-canary

added docker-indocker into the image
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix azure file test failure#4
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Use sigs.k8s.io/yaml/goyaml.v3
  go.mod
  go.sum
  hack/ts-rollup/main.go
  pkg/genyaml/genyaml.go
  pkg/genyaml/genyaml_test.go
  releng/config-forker/main.go
  releng/config-rotator/main.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test

prow job for release-0.8 branch
  config/jobs/kubernetes-sigs/ibm-powervs-block-csi-driver/ibm-powervs-block-csi-driver-release-0.8.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Increase prow tests timeout for cluster autoscaler tests.
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add kueue-viz-image-build to image build presubmit
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

rikatz is stepping down
  config/jobs/kubernetes-sigs/ingate/OWNERS
Due: none

jobs: avoid blocking job which doesn't always run
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration

updating existing test-infra to reflect name change of the now-called Inference-Extension (gateway-api-inference-extension)
  config/jobs/image-pushing/k9s-staging-inference-extension.yaml
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration

node dra: clean up jobs
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration

tests: ensure that pre-submits get additional reviews
  Makefile
  config/tests/jobs/README.md
  config/tests/jobs/policy/OWNERS
  config/tests/jobs/policy/README.md
  config/tests/jobs/policy/policy_test.go
  config/tests/jobs/policy/presubmit-jobs.yaml
  go.mod
  go.sum
Due: pull-test-infra-integration

Pinning minio/minio container tag in starter-azure.yaml because minio gateway functionality was dropped in later releases
  config/prow/cluster/starter/starter-azure.yaml
Due: pull-test-infra-integration, post-test-infra-deploy-prow

Add prow job config for autoscaler repo and add testgrid dashboard for addon-resizer builds
  config/jobs/image-pushing/k8s-staging-autoscaling.yaml
  config/testgrids/kubernetes/sig-autoscaling/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration

Adding simple unit test presubmit and unit test periodic
  config/jobs/kubernetes-sigs/gateway-api-inference-extension/OWNERS
  config/jobs/kubernetes-sigs/gateway-api-inference-extension/inference-extension-periodics-main.yaml
  config/jobs/kubernetes-sigs/gateway-api-inference-extension/inference-extension-presubmit-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

replace crio-cgrpv2-splitfs with kubetest2 job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

formatting changes
  config/jobs/kubernetes-sigs/gateway-api-inference-extension/inference-extension-periodics-main.yaml
  config/jobs/kubernetes-sigs/gateway-api-inference-extension/inference-extension-presubmit-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra GCR images and k8s-staging-test-infra AR images and k8s-staging-apisnoop-test-infra and k8s-staging-apisnoop-apisnoop
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update image
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 18 Dec 2024 00:02:41 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
Due: pull-test-infra-integration

Revert "pr-crio-cgrpv2-splitfs-e2e-kubetest2: decrease parallelism"
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
