Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

Switched from N1 to E2 machine
  gcb/fast-forward/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

Build Go 1.20.3 and 1.19.8 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

update debian-iptables and distroless-iptables to go 1.20.3
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Bump kube-cross and k8s-cloud-builder to go 1.20.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

update dependencies
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

use go-github v50
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/packages/packagesfakes/fake_impl.go
Due: post-release-push-image-k8s-ci-builder

fix test
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Bump go-modiff to v1.3.2
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Add sbom format option to publish-release
  cmd/publish-release/cmd/github.go
  pkg/announce/github_page.go
Due: post-release-push-image-k8s-ci-builder

Add publish-release and release notes to build targets
  cmd/publish-release/cmd/github.go
  compile-release-tools
  pkg/announce/github_page.go
Due: post-release-push-image-k8s-ci-builder

kube-cross: install gcc-x86-64-linux-gnu on non amd64 platform
  images/build/cross/default/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Build Go 1.20.4 and 1.19.9 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

update debian-iptables and distroless-iptables to go 1.20.4
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Bump kube-cross and k8s-cloud-builder to go 1.20.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Cleanup of unused verify-shellcheck.
  Makefile
  hack/verify-shellcheck.sh
Due: none

update TestNewPatchRelease test
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

bump cosign to v2.0.2
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

update changelog test
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

fix: updated `publish-packages.sh` to use `dl.k8s.io` bucket
  hack/rapture/publish-packages.sh
Due: none

Update package specs used for OBS
  cmd/krel/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/rpm/kubectl/kubectl.spec
  cmd/krel/templates/latest/rpm/kubelet/kubelet.spec
  cmd/krel/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

Fix typos
  cmd/ci-reporter/README.md
  cmd/krel/cmd/announce_build.go
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/cve.go
  cmd/krel/cmd/ff.go
  cmd/krel/cmd/release_notes.go
  cmd/publish-release/cmd/github.go
  cmd/schedule-builder/cmd/markdown.go
  hack/packages/verify-published.sh
  hack/rapture/README.md
  hack/verify-golangci-lint.sh
  pkg/anago/anago.go
  pkg/anago/release.go
  pkg/anago/stage.go
  pkg/announce/github_page.go
  pkg/binary/binary_test.go
  pkg/fastforward/fastforward.go
  pkg/mail/mail_test.go
  pkg/release/archive.go
  pkg/release/branch_checker.go
  pkg/release/prerequisites.go
  pkg/release/provenance.go
  pkg/release/push_git_objects.go
Due: post-release-push-image-k8s-ci-builder

Revert "Update package specs used for OBS"
  cmd/krel/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/rpm/kubectl/kubectl.spec
  cmd/krel/templates/latest/rpm/kubelet/kubelet.spec
  cmd/krel/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

Update packaging spec files for OBS
  cmd/krel/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/rpm/kubectl/kubectl.spec
  cmd/krel/templates/latest/rpm/kubelet/kubelet.spec
  cmd/krel/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

Fix typo at announce.go
  cmd/krel/cmd/announce.go
Due: post-release-push-image-k8s-ci-builder

update to set go1.20 in go.mod and upgrade golangci-lint
  dependencies.yaml
  go.mod
  hack/verify-golangci-lint.sh
  images/build/go-runner/go.mod
  packages/deb/go.mod
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-go-runner

add go boilerplate when running go generate
  pkg/anago/anago.go
  pkg/binary/binary.go
  pkg/build/make.go
  pkg/changelog/impl.go
  pkg/fastforward/impl.go
  pkg/gcp/gcb/gcb.go
  pkg/kubecross/impl.go
  pkg/kubepkg/kubepkg.go
  pkg/mail/mail.go
  pkg/notes/dependencies.go
  pkg/obs/specs/specs.go
  pkg/packages/packagesfakes/fake_impl.go
  pkg/release/doc.go
  pkg/release/version.go
  pkg/testgrid/testgrid.go
Due: post-release-push-image-k8s-ci-builder

fix lints
  .golangci.yml
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  cmd/krel/cmd/sign_images.go
  dependencies.yaml
  hack/verify-golangci-lint.sh
  pkg/anago/release.go
  pkg/build/push.go
  pkg/cve/impl.go
  pkg/kubecross/impl.go
  pkg/kubecross/kubecross.go
  pkg/kubecross/kubecrossfakes/fake_impl.go
  pkg/packages/packages_test.go
  pkg/release/images.go
Due: post-release-push-image-k8s-ci-builder

drop golangci script in favor of github actions
  .github/workflows/lint.yml
  Makefile
  dependencies.yaml
  hack/verify-golangci-lint.sh
Due: none

upgrade code to be compatible with cosign v2
  cmd/krel/cmd/sign_blobs.go
  gcb/release/cloudbuild.yaml
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

bumo release-sdk dependency
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Update release-sdk to ade4629
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Move specs to cmd/krel/templates/latest
  cmd/krel/templates/latest/cri-tools/LICENSE
  cmd/krel/templates/latest/cri-tools/README.md
  cmd/krel/templates/latest/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/kubeadm/10-kubeadm.conf
  cmd/krel/templates/latest/kubeadm/LICENSE
  cmd/krel/templates/latest/kubeadm/README.md
  cmd/krel/templates/latest/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/kubectl/LICENSE
  cmd/krel/templates/latest/kubectl/README.md
  cmd/krel/templates/latest/kubectl/kubectl.spec
  cmd/krel/templates/latest/kubelet/LICENSE
  cmd/krel/templates/latest/kubelet/README.md
  cmd/krel/templates/latest/kubelet/kubelet.env
  cmd/krel/templates/latest/kubelet/kubelet.service
  cmd/krel/templates/latest/kubelet/kubelet.spec
  cmd/krel/templates/latest/kubernetes-cni/LICENSE
  cmd/krel/templates/latest/kubernetes-cni/README.md
  cmd/krel/templates/latest/kubernetes-cni/kubernetes-cni.spec
  cmd/krel/templates/latest/metadata.yaml
Due: post-release-push-image-k8s-ci-builder

Refactor krel obs specs command
  cmd/krel/cmd/obs_specs.go
  pkg/obs/metadata/metadata.go
  pkg/obs/options/options.go
  pkg/obs/options/options_test.go
  pkg/obs/specs/archive.go
  pkg/obs/specs/fetcher.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/links.go
  pkg/obs/specs/links_test.go
  pkg/obs/specs/specs.go
  pkg/obs/specs/specs_test.go
  pkg/obs/specs/specsfakes/fake_impl.go
  pkg/obs/specs/template.go
  pkg/obs/specs/versions.go
  pkg/obs/specs/versions_test.go
Due: post-release-push-image-k8s-ci-builder

Address review comments
  pkg/obs/metadata/metadata.go
  pkg/obs/options/options.go
  pkg/obs/specs/archive.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/specs.go
  pkg/obs/specs/template.go
Due: post-release-push-image-k8s-ci-builder

Add osc to k8s-cloud-builder
  images/k8s-cloud-builder/Dockerfile
  images/k8s-cloud-builder/test.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

Update release-sdk and release-utils
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

krel obs specs improvements
  cmd/krel/cmd/obs_specs.go
  pkg/obs/consts/consts.go
  pkg/obs/options/options.go
  pkg/obs/specs/archive.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/impl.go
  pkg/obs/specs/pkgdef.go
  pkg/obs/specs/specs.go
  pkg/obs/specs/specsfakes/fake_impl.go
  pkg/obs/specs/template.go
Due: post-release-push-image-k8s-ci-builder
