Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

VPA: match CronJob pods when jobTemplate pod labels are omitted
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Resolved the Verify Go / verify (pull_request)
  vertical-pod-autoscaler/pkg/target/fetcher_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix(comments): clarified comment for short circuiting logic for Eviction Requirements
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Revert "fix(comments): clarified comment for short circuiting logic for Eviction Requirements"
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix input into e2e functions
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

azure: reorganize e2e test framework for per-suite execution
  cluster-autoscaler/cloudprovider/azure/test/Makefile
  cluster-autoscaler/cloudprovider/azure/test/e2e/e2e_suite_test.go
  cluster-autoscaler/cloudprovider/azure/test/pkg/environment/environment.go
  cluster-autoscaler/cloudprovider/azure/test/suites/scaleup/suite_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix: resolve ginkgo suite path when TEST_SUITE is unset
  cluster-autoscaler/cloudprovider/azure/test/Makefile
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix: correct Helm chart relative path from suites/scaleup/
  cluster-autoscaler/cloudprovider/azure/examples/dev/cluster-autoscaler-vmss-wi-dynamic.yaml
  cluster-autoscaler/cloudprovider/azure/test/suites/scaleup/suite_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

remove generated dev deployment yaml
  cluster-autoscaler/cloudprovider/azure/examples/dev/cluster-autoscaler-vmss-wi-dynamic.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

feat: Scope VPA Prometheus history queries by cluster
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/config/config.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: avoid shadowing builtin close in pod-label scoping
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

chore: doc
  vertical-pod-autoscaler/docs/flags.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Implement DRA utilities to diff two collections of resource slices
  cluster-autoscaler/simulator/dynamicresources/comparator/resource_delta.go
  cluster-autoscaler/simulator/dynamicresources/comparator/resource_delta_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Drastically optimize comparator memory allocations and performance.
  cluster-autoscaler/simulator/dynamicresources/comparator/node.go
  cluster-autoscaler/simulator/dynamicresources/comparator/node_test.go
  cluster-autoscaler/simulator/dynamicresources/comparator/resource_delta.go
  cluster-autoscaler/simulator/dynamicresources/comparator/resource_delta_test.go
  cluster-autoscaler/simulator/dynamicresources/comparator/sampler.go
  cluster-autoscaler/simulator/dynamicresources/comparator/sampler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Implement NodeResourcesComparator to compare nodes against templates and produce aggregate summaries
  cluster-autoscaler/simulator/dynamicresources/comparator/node.go
  cluster-autoscaler/simulator/dynamicresources/comparator/node_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Register resource mismatch metric along with mismatch types.
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Integrate NodeResourcesComparator with DRA custom resource processor
  cluster-autoscaler/processors/customresources/default_custom_processor.go
  cluster-autoscaler/processors/customresources/dra_processor.go
  cluster-autoscaler/processors/customresources/dra_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Patch reference corruption issue in resource comparator
  cluster-autoscaler/simulator/dynamicresources/comparator/resource_delta.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Address comments in resource pool comparator
  cluster-autoscaler/simulator/dynamicresources/comparator/resource_delta.go
  cluster-autoscaler/simulator/dynamicresources/comparator/resource_delta_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix spelling mistake in metric name failed_node_creations_total
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: avoid azure scale-up e2e scale-down race
  cluster-autoscaler/cloudprovider/azure/test/suites/scaleup/suite_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix: use supported azure e2e scale-down timing
  cluster-autoscaler/cloudprovider/azure/test/suites/scaleup/suite_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

improve clusterapi logs for architecture
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

clean up clusterapi imports
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_processors.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
