Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: ^charts/.*

Remove unused reconciler code
  controllers/tokenrequest/tokenrequest.go
  go.mod
  pkg/k8s/secret.go
  pkg/k8s/store.go
  pkg/k8s/store_test.go
  pkg/k8s/token.go
  pkg/k8s/token/token_manager.go
  pkg/k8s/token/token_manager_test.go
  pkg/k8s/token_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/nodeserver.go
Due: none

Add tests to use rotation config.
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
Due: none

chore: update to go 1.23
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: secrets-store-csi-driver-push-image

Just update the go version.
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2eprovider/go.mod
  test/e2eprovider/go.sum
Due: none

auto-restart
  docs/book/src/SUMMARY.md
  docs/book/src/topics/auto-restart-on-rotation.md
Due: none

add s390x, ppc64le support
  Makefile
  docker/BASEIMAGE
Due: secrets-store-csi-driver-push-image

Use requiresRepublish in staging manifest.
  controllers/secretproviderclasspodstatus_controller.go
  controllers/secretproviderclasspodstatus_controller_test.go
  deploy/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/deploy/csidriver.yaml
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/utils.go
  test/bats/aws.bats
  test/bats/azure.bats
  test/bats/e2e-provider.bats
  test/bats/helpers.bash
  test/bats/vault.bats
Due: none

Update unit tests to check mounts
  pkg/secrets-store/nodeserver_test.go
Due: none

Update pkg/secrets-store/secrets-store.go
  pkg/secrets-store/secrets-store.go
Due: none

Refactor code - variables, logs
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  test/bats/e2e-provider.bats
Due: none

Remove unnecessary sleep in tests
  test/bats/aws.bats
  test/bats/azure.bats
  test/bats/e2e-provider.bats
  test/bats/vault.bats
Due: none

chore: bumps version for v1.4.6 release
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

chore: bumps base images
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.4.6
  Makefile
  apis/v1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.deepcopy.go
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  docker/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  pkg/version/version.go
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.4.6
  Makefile
  apis/v1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.deepcopy.go
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  pkg/version/version.go
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ci: update goreleaser config for v2
  .goreleaser.yml
Due: none

chore: bump kind version and k8s version in test matrix
  .github/workflows/e2e.yaml
  Makefile
Due: none

release: update manifest and helm charts for v1.4.6 (#1662)
  Makefile
  apis/v1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.deepcopy.go
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  docker/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  pkg/version/version.go
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.4.6.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.4.6.tgz
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

mermaid
  docs/book/book.toml
Due: none

mermaid
  docs/book/Makefile
Due: none

Add testcase to check secrets are mounted after certain rotation
  test/bats/aws.bats
Due: none

Reset sleep time to original
  test/bats/e2e-provider.bats
  test/bats/vault.bats
Due: none

Add tests to use rotation config.
  controllers/secretproviderclasspodstatus_controller.go
  controllers/secretproviderclasspodstatus_controller_test.go
  deploy/csidriver.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/csidriver.yaml
  manifest_staging/deploy/csidriver.yaml
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/secrets-store.go
  pkg/secrets-store/utils.go
  test/bats/aws.bats
  test/bats/e2e-provider.bats
  test/bats/helpers.bash
  test/bats/vault.bats
Due: none

chore: add labels to metrics
  controllers/secretproviderclasspodstatus_controller.go
  controllers/stats_reporter.go
  docs/book/src/topics/metrics.md
  pkg/rotation/reconciler.go
  pkg/rotation/stats_reporter.go
  pkg/secrets-store/mocks/stats_reporter_mock.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/stats_reporter.go
  test/bats/e2e-provider.bats
Due: none

chore: enhance metric labels implementation
  controllers/stats_reporter.go
  pkg/rotation/reconciler.go
Due: none

Update e2e_provider.go (typo)
  test/e2eprovider/e2e_provider.go
Due: none

caveat
  docs/book/src/topics/auto-restart-on-rotation.md
Due: none
