Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Fix MaxWorkerOpenFiles calculation on high cores nodes (#7107)
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/nginx.go
  test/e2e/settings/global_options.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

add docs for syslog feature (#7219)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

chart: using Helm builtin capabilities check (#7190)
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Prepare for v1.0.0-alpha.1 release
  TAG
Due: post-ingress-nginx-push-images

ingress/tcp: add additional error logging on failed (#7208)
  internal/ingress/controller/tcp.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update proper default value for HTTP2MaxConcurrentStreams in Docs (#6944)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Fix link to e2e-tests.md in developer-guide (#7201)
  docs/developer-guide/getting-started.md
Due: none

Handle named (non-numeric) ports correctly (#7311)
  cmd/plugin/commands/ingresses/ingresses.go
  cmd/plugin/commands/ingresses/ingresses_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Updated v1beta1 to v1 as its deprecated (#7308)
  docs/examples/affinity/cookie/ingress.yaml
  docs/examples/auth/client-certs/ingress.yaml
  docs/examples/customization/configuration-snippets/ingress.yaml
  docs/examples/customization/external-auth-headers/deploy/echo-service.yaml
  docs/examples/tls-termination/README.md
  docs/user-guide/fcgi-services.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/third-party-addons/opentracing.md
Due: none

remove mercurial from build (#7031)
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Add file containing stable release (#7313)
  RELEASE.md
Due: none

Retry to download maxmind DB if it fails (#7242)
  stable.txt
Due: none

Downgrade Lua modules for s390x (#7355)
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

update tag to v1.0.0-beta.1
  TAG
Due: post-ingress-nginx-push-images

update OWNERS and aliases files (#7365) (#7366)
  charts/ingress-nginx/OWNERS
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Lower webhook timeout for digital ocean (#7319)
  deploy/static/provider/do/deploy.yaml
  hack/generate-deploy-scripts.sh
Due: pull-ingress-nginx-boilerplate

Release v1.0.0-alpha.1
  TAG
Due: post-ingress-nginx-push-images

update readme and changelog for v1.0.0-beta.1
  Changelog.md
  README.md
Due: none

controller: ignore non-service backends (#7332)
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add changelog for v1.0.0-alpha.2
  Changelog.md
Due: none

fix: allow scope/tcp/udp configmap namespace to altered (#7161)
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release v1.0.0-beta.1 - helm and manifests (#7422)
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add controller.watchIngressWithoutClass config option (#7459)
  charts/ingress-nginx/ci/controller-custom-ingressclass-flags.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix build.sh from rebase process
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

changed appversion, chartversion, TAG, image (#7490)
  Changelog.md
  TAG
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Due: post-ingress-nginx-push-images, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

[cherry-pick] Add dev-v1 branch into helm releaser (#7428)
  charts/ingress-nginx/Chart.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix controller_test post rebase
  internal/ingress/controller/controller_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix CI conflict
  .github/workflows/ci.yaml
Due: none

k8s job ci pipeline for dev-v1 br v1.22.0 (#7453)
  .github/workflows/ci.yaml
Due: none

Change the order of annotation just to trigger a new helm release (#7425)
  charts/ingress-nginx/Chart.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release new helm chart with certgen fixed (#7478)
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  go.mod
Due: post-ingress-nginx-push-images, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  developer-guide/getting-started/index.html
  examples/affinity/cookie/ingress-samesite.yaml
  examples/affinity/cookie/ingress.yaml
  examples/auth/basic/index.html
  examples/auth/client-certs/ingress.yaml
  examples/auth/external-auth/index.html
  examples/auth/external-auth/ingress.yaml
  examples/auth/oauth-external-auth/dashboard-ingress.yaml
  examples/chashsubset/deployment.yaml
  examples/customization/configuration-snippets/ingress.yaml
  examples/customization/external-auth-headers/deploy/echo-service.yaml
  examples/docker-registry/ingress-with-tls.yaml
  examples/docker-registry/ingress-without-tls.yaml
  examples/multi-tls/multi-tls.yaml
  examples/rewrite/index.html
  examples/static-ip/nginx-ingress.yaml
  examples/tls-termination/index.html
  examples/tls-termination/ingress.yaml
  search/search_index.json
  sitemap.xml.gz
  troubleshooting/index.html
  user-guide/fcgi-services/index.html
  user-guide/ingress-path-matching/index.html
  user-guide/nginx-configuration/annotations/index.html
  user-guide/nginx-configuration/configmap/index.html
  user-guide/third-party-addons/opentracing/index.html
Due: none

improve RELEASE.md
  RELEASE.md
Due: none

[Helm] Make HPA behavior configurable
  charts/ingress-nginx/ci/deployment-autoscaling-behavior-values.yaml
  charts/ingress-nginx/templates/controller-hpa.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update runner go version
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image
