Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, post-kubernetes-push-image-pause, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-image-pause:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kubernetes
      - --scratch-bucket=gs://k8s-staging-kubernetes-gcb
  ...

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-aks-engine-azure:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

Rename FSGroupChangePolicy to VolumeChangePolicy
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/azure_dd/azure_mounter.go
  pkg/volume/cinder/cinder.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/fc/disk_manager.go
  pkg/volume/fc/fc.go
  pkg/volume/flexvolume/mounter.go
  pkg/volume/flocker/flocker.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/local/local.go
  pkg/volume/portworx/portworx.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/rbd/rbd.go
  pkg/volume/scaleio/sio_volume.go
  pkg/volume/storageos/storageos.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
  pkg/volume/volume_linux.go
  pkg/volume/volume_linux_test.go
  pkg/volume/volume_unsupported.go
  pkg/volume/vsphere_volume/vsphere_volume.go
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

add blkio to BUILD of kubelet
  pkg/kubelet/dockershim/BUILD
Due: pull-kubernetes-local-e2e-containerized

fix cluster/images/etcd/migrate staticcheck
  cluster/images/etcd/migrate/versions.go
  hack/.staticcheck_failures
Due: none

features: CSIStorageCapacity
  pkg/features/kube_features.go
Due: none

update e2e test
  test/conformance/testdata/conformance.yaml
  test/e2e/common/expansion.go
  test/e2e/storage/subpath.go
  test/e2e/storage/testsuites/subpath.go
Due: pull-kubernetes-conformance-image-test

Add new test cases for GetPreferredAllocation() in allocation path
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
Due: pull-kubernetes-local-e2e-containerized

Remove unnecessary field from TestTopologyAlignedAllocation() test cases
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
Due: pull-kubernetes-local-e2e-containerized

Add a simple endpoint test for GetPreferredAllocation()
  pkg/kubelet/cm/devicemanager/endpoint_test.go
Due: pull-kubernetes-local-e2e-containerized

Update existing tests in support of GetPreferredallocation()
  pkg/kubelet/cm/devicemanager/endpoint_test.go
  pkg/kubelet/cm/devicemanager/manager_test.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
  test/images/sample-device-plugin/VERSION
  test/images/sample-device-plugin/sampledeviceplugin.go
Due: post-kubernetes-push-e2e-test-images, pull-kubernetes-local-e2e-containerized

fix golint errors in pkg/util/config
  hack/.golint_failures
  pkg/util/config/config.go
Due: none

Dynamically reload proxy certs
  cmd/kube-apiserver/app/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
  staging/src/k8s.io/kube-aggregator/pkg/cmd/server/start.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Due: pull-kubernetes-godeps

review
  staging/src/k8s.io/client-go/transport/cache_test.go
Due: pull-kubernetes-godeps

kubeadm: Refactor component config tests
  cmd/kubeadm/app/componentconfigs/BUILD
  cmd/kubeadm/app/componentconfigs/configset_test.go
  cmd/kubeadm/app/componentconfigs/fakeconfig_test.go
  cmd/kubeadm/app/componentconfigs/kubelet_test.go
  cmd/kubeadm/app/componentconfigs/kubeproxy_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: Cleanup and refactor the LoadJoinConfigurationFromFile test
  cmd/kubeadm/app/util/config/BUILD
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/config/joinconfiguration_test.go
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal_non_linux.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1_non_linux.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/node/internal.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/node/v1beta1.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/node/v1beta2.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/controlplane/defaulted.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/controlplane/defaulted_non_linux.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/controlplane/incomplete.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/node/defaulted.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/node/incomplete.yaml
  cmd/kubeadm/app/util/config/testdata/validation/invalid_controlplanecfg.yaml
  cmd/kubeadm/app/util/config/testdata/validation/invalid_nodecfg.yaml
Due: pull-kubernetes-e2e-kubeadm-gce

bazel
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/BUILD
Due: pull-kubernetes-godeps

dynamic getcert function
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_getcert_function.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_getcert_function_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Due: pull-kubernetes-godeps

CSIStorageCapacity: CSIDriver.Spec.StorageCapacity field
  pkg/apis/storage/fuzzer/fuzzer.go
  pkg/apis/storage/types.go
  pkg/apis/storage/v1/defaults.go
  pkg/apis/storage/v1/defaults_test.go
  pkg/apis/storage/v1beta1/defaults.go
  pkg/apis/storage/v1beta1/defaults_test.go
  pkg/apis/storage/validation/validation.go
  pkg/printers/internalversion/printers.go
  pkg/registry/storage/csidriver/strategy.go
  pkg/registry/storage/csidriver/strategy_test.go
  staging/src/k8s.io/api/storage/v1/types.go
  staging/src/k8s.io/api/storage/v1beta1/types.go
Due: pull-kubernetes-godeps

CSIStorageCapacity: CSIStorageCapacity API
  api/api-rules/violation_exceptions.list
  pkg/apis/storage/register.go
  pkg/apis/storage/types.go
  pkg/apis/storage/validation/validation.go
  pkg/apis/storage/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/kubeapiserver/default_storage_factory_builder.go
  pkg/printers/internalversion/printers.go
  pkg/registry/storage/csistoragecapacity/doc.go
  pkg/registry/storage/csistoragecapacity/storage/storage.go
  pkg/registry/storage/csistoragecapacity/storage/storage_test.go
  pkg/registry/storage/csistoragecapacity/strategy.go
  pkg/registry/storage/csistoragecapacity/strategy_test.go
  pkg/registry/storage/rest/storage_storage.go
  staging/src/k8s.io/api/storage/v1alpha1/register.go
  staging/src/k8s.io/api/storage/v1alpha1/types.go
  test/integration/apiserver/print_test.go
Due: pull-kubernetes-godeps

Refactor logs options to use logging config
  cmd/kube-apiserver/app/options/BUILD
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  cmd/kube-controller-manager/app/options/BUILD
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/options/options_test.go
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kubelet/app/BUILD
  cmd/kubelet/app/options/BUILD
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/apis/config/fuzzer/BUILD
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/validation/BUILD
  pkg/kubelet/apis/config/validation/validation.go
  staging/src/k8s.io/component-base/config/options/loggingconfig.go
  staging/src/k8s.io/component-base/config/v1alpha1/BUILD
  staging/src/k8s.io/component-base/config/v1alpha1/defaults.go
  staging/src/k8s.io/component-base/config/validation/BUILD
  staging/src/k8s.io/component-base/config/validation/validation.go
  staging/src/k8s.io/component-base/logs/BUILD
  staging/src/k8s.io/component-base/logs/options.go
  staging/src/k8s.io/component-base/logs/options/BUILD
  staging/src/k8s.io/component-base/logs/options/options.go
  staging/src/k8s.io/component-base/logs/registry.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

Move klog flags to k8s.io/component-base/logs
  cmd/kubelet/app/options/BUILD
  cmd/kubelet/app/options/globalflags.go
  staging/src/k8s.io/component-base/cli/globalflag/BUILD
  staging/src/k8s.io/component-base/cli/globalflag/globalflags.go
  staging/src/k8s.io/component-base/cli/globalflag/globalflags_test.go
  staging/src/k8s.io/component-base/logs/logs.go
  staging/src/k8s.io/component-base/logs/options.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

fixed e2e vsphere statefulsets test
  test/e2e/storage/vsphere/vsphere_statefulsets.go
  test/e2e/testing-manifests/statefulset/nginx/statefulset.yaml
Due: none

fix staticcheck failures scale.go remove vendor/k8s.io/kubectl/pkg/cmd/scale from .staticcheck_failures
  hack/.staticcheck_failures
  staging/src/k8s.io/kubectl/pkg/cmd/scale/scale.go
Due: pull-kubernetes-godeps

Allow attachable-volumes resources in container specs
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Due: none

Fix throttling issues when Azure VM computer name prefix is different from VMSS name
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

code clean for podgc
  pkg/controller/podgc/gc_controller.go
Due: none

feat(informer-gen): add option WithCustomInformer
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/client-go/informers/factory.go
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/_examples/MixedCase/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/_examples/apiserver/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/_examples/apiserver/informers/internalversion/factory.go
  staging/src/k8s.io/code-generator/_examples/crd/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/factory.go
  staging/src/k8s.io/kube-aggregator/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/informers/externalversions/factory.go
  staging/src/k8s.io/sample-controller/pkg/generated/informers/externalversions/factory.go
Due: pull-kubernetes-godeps

fixed e2e test vsphere_volume_datastore.go
  test/e2e/storage/vsphere/vsphere_common.go
  test/e2e/storage/vsphere/vsphere_volume_datastore.go
Due: none

Fix vsphere util method - disksAreAttached
  test/e2e/storage/vsphere/vsphere_utils.go
Due: none

Honour maxPDVols env-var against node allocatable
  pkg/scheduler/algorithm/predicates/predicates.go
Due: none

Define GetBody of http.Request for automatic retry
  staging/src/k8s.io/client-go/rest/request_test.go
Due: pull-kubernetes-godeps

Promote: event delete a collection test
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/events.go
Due: pull-kubernetes-conformance-image-test

Bypass PreFilter in ServiceAfffinity if AffinityLabels arg is not present
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity_test.go
Due: none

Decouple cmd and applyoptions complete
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers_test.go
Due: pull-kubernetes-godeps

Update disruption.go
  pkg/controller/disruption/disruption.go
Due: none

Fix a typo in comment
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go
Due: pull-kubernetes-godeps

Refactoring: Deduplication
  hack/boilerplate/boilerplate.py
Due: none

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
