Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

fixes for tests
  images/codesearch/cs-fetch-repos/Makefile
  images/codesearch/cs-fetch-repos/src/fetch-repos.py
Due: none

revert readme change
  README.md
Due: none

updates for verify-boilerplate
  images/codesearch/cs-fetch-repos/src/fetch-repos.py
Due: none

releng: Update references to sigs.k8s.io/promo-tools
  artifacts/README.md
  infra/gcp/bash/backup_tools/backup_test.sh
  infra/gcp/bash/lib.sh
  k8s.gcr.io/Vanity-Domain-Flip.md
  k8s.gcr.io/archived/images/DO-NOT-MODIFY-legacy-backfill/README.md
  k8s.gcr.io/archived/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2021-09-20
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20210920.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_deletemelol.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-infra-public-pii/services/logging/logs.json
  audit/projects/k8s-staging-cloud-provider-ibm/services/logging/logs.json
  audit/projects/k8s-staging-multitenancy/services/logging/logs.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/service-accounts/bq-data-transfer-kettle@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/bq-data-transfer-kettle@kubernetes-public.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/service-accounts/kettle@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/kettle@kubernetes-public.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.k8s_infra_kettle.access.json
  audit/projects/kubernetes-public/services/enabled.txt
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

k8s.gcr.io/Vanity-Domain-Flip.md: Cleanup links
  k8s.gcr.io/Vanity-Domain-Flip.md
Due: none

triage-party/relase: update ExternalSecret
  apps/triageparty-release/secret.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-triageparty-release

Promote Cluster API v0.4.3
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

update sig-release groups
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Deploy infrastructure for k8s elections platform
  infra/gcp/bash/ensure-main-project.sh
  infra/gcp/terraform/kubernetes-public/external-ips.tf
  infra/gcp/terraform/kubernetes-public/k8s-elections-database.tf
  infra/gcp/terraform/kubernetes-public/variables.tf
Due: none

Promote dns images 1.21.1
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

OWNERS: mv wg-k8s-infra sig-k8s-infra
  OWNERS_ALIASES
  apps/kubernetes-external-secrets/OWNERS
  artifacts/OWNERS
  groups/wg-k8s-infra/OWNERS
  infra/gcp/bash/backup_tools/OWNERS
  infra/gcp/bash/cip-auditor/OWNERS
  k8s.gcr.io/images/k8s-staging-ci-images/OWNERS
  k8s.gcr.io/images/k8s-staging-infra-tools/OWNERS
  k8s.gcr.io/images/k8s-staging-mirror/OWNERS
Due: pull-k8sio-groups-test, post-k8sio-groups

OWNERS: mv wg/k8s-infra sig/k8s-infra
  OWNERS
  apps/OWNERS
  apps/cert-manager/OWNERS
  apps/kubernetes-external-secrets/OWNERS
  audit/OWNERS
  groups/OWNERS
  groups/wg-k8s-infra/OWNERS
  infra/gcp/OWNERS
  infra/gcp/bash/namespaces/OWNERS
  infra/gcp/bash/roles/OWNERS
  k8s.gcr.io/images/k8s-staging-infra-tools/OWNERS
  policy/OWNERS
Due: pull-k8sio-groups-test, post-k8sio-groups

README: mv wg-k8s-infra sig-k8s-infra
  README.md
Due: none

releng: Promote kube-cross and setcap bullseye variants
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

kubernetes-public: Create private service access
  infra/gcp/bash/ensure-main-project.sh
  infra/gcp/terraform/kubernetes-public/k8s-elections-database.tf
  infra/gcp/terraform/kubernetes-public/variables.tf
Due: none

aaa: Add namespace for Elekto
  apps/elekto/OWNERS
  apps/elekto/README.md
  groups/committee-steering/groups.yaml
  groups/restrictions.yaml
  groups/sig-contributor-experience/groups.yaml
  groups/wg-k8s-infra/groups.yaml
  infra/gcp/bash/namespaces/ensure-namespaces.sh
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

dns: Request DNS for Elekto
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

audit: update as of 2021-09-21
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20210921.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-staging-cluster-api-nested/services/logging/logs.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/secrets/triage-party-github-token/versions.json
  audit/projects/kubernetes-public/services/enabled.txt
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

groups: add sig-k8s-infra-leads mailing list
  groups/restrictions.yaml
  groups/sig-testing/groups.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote first ibm-vpc-block-csi-driver image to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Update comments and docs.
  OWNERS
  OWNERS_ALIASES
  apps/k8s-io/configmap-nginx.yaml
  apps/prow/config.yaml
  audit/audit-gcp.sh
  audit/create-or-update-audit-pr.sh
  dns/zone-configs/k8s.io._0_base.yaml
  images/k8s-infra/Dockerfile
  images/k8s-infra/README.md
  infra/gcp/bash/prow/ensure-e2e-projects.sh
  infra/gcp/infra.yaml
  infra/gcp/terraform/README.md
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/README.md
  infra/gcp/terraform/modules/gke-cluster/README.md
  infra/gcp/terraform/modules/gke-project/README.md
  running-in-community-clusters.md
Due: post-k8sio-push-image-k8s-infra, k8sio-k8s-resources-verify, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-prow, post-k8sio-dns-update

Make reconciler exportable and get rid of context-aware API and document code.
  groups/client.go
  groups/reconcile.go
  groups/service.go
Due: pull-k8sio-groups-test, post-k8sio-groups

make printGroupMembersAndSettings a member method of Reconciler
  groups/reconcile.go
Due: pull-k8sio-groups-test, post-k8sio-groups

update make target to compile from multiple main package files
  groups/Makefile
Due: pull-k8sio-groups-test, post-k8sio-groups

image promotion for 0.49.1 and 1.0.1
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

groups: mv wg-k8s-infra sig-k8s-infra
  groups/restrictions.yaml
  groups/sig-k8s-infra/OWNERS
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups/sig-k8s-infra: drop wg-k8s-infra-leads
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups/sig-k8s-infra: mv k8s-infra-team-private sig-k8s-infra-private
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

rename misc wg-k8s-infra references
  dns/README.md
  groups/README.md
  groups/sig-k8s-infra/groups.yaml
  groups/sig-release/groups.yaml
  infra/gcp/bash/prow/OWNERS
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/README.md
  infra/gcp/terraform/modules/gke-nodepool/README.md
  k8s.gcr.io/Vanity-Domain-Flip.md
  running-in-community-clusters.md
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

aggregate errors and return aggregated error instead of returning in first occurence during reconcile
  groups/reconcile.go
  groups/service.go
Due: pull-k8sio-groups-test, post-k8sio-groups

promote gcp-compute-persistent-disk-csi-driver v1.2.3
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Create initial version of the Elekto deployment.
  apps/elekto/configmap.yaml
  apps/elekto/deploy.sh
  apps/elekto/deployment.yaml
  apps/elekto/ingress.yaml
  apps/elekto/service.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2021-09-22
  audit/projects/k8s-staging-ingressconformance/services/logging/logs.json
Due: none

bash/gcs: DRY function arg echo
  infra/gcp/bash/lib_gcs.sh
Due: none

bash/gcs: add ensure_removed_gcs_bucket_retention
  infra/gcp/bash/lib_gcs.sh
Due: none

infra/ensure-conformance-storage: remove retention
  infra/gcp/bash/ensure-conformance-storage.sh
Due: none

groups: cleanup sig-k8s-infra google groups
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add triageparty-cli app
  README.md
  apps/triageparty-cli/OWNERS
  apps/triageparty-cli/README.md
  apps/triageparty-cli/certificate.yaml
  apps/triageparty-cli/configmap.yaml
  apps/triageparty-cli/deploy.sh
  apps/triageparty-cli/deployment.yaml
  apps/triageparty-cli/ingress.yaml
  apps/triageparty-cli/secret.yaml
  apps/triageparty-cli/service.yaml
  apps/triageparty-cli/storage.yaml
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Due: k8sio-k8s-resources-verify

Add cli.triage dns
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update
