Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Enforce serial execution for CA E2E tests via Ginkgo framework
  cluster-autoscaler/e2e/cluster_size_autoscaling.go
  cluster-autoscaler/hack/run-e2e-tests.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add hack/run-e2e.sh entrypoint for CA E2E tests
  cluster-autoscaler/hack/run-e2e.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Deduplicate scale-up check logic in cluster autoscaling E2E tests
  cluster-autoscaler/e2e/cluster_size_autoscaling.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Enforce initial cluster size check before each E2E test
  cluster-autoscaler/e2e/cluster_size_autoscaling.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Skip flaky E2E test to streamline CI execution
  cluster-autoscaler/e2e/cluster_size_autoscaling.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Make E2E test timeout configurable and update default
  cluster-autoscaler/hack/run-e2e-tests.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Filter out tainted nodes in cluster size autoscaling test
  cluster-autoscaler/e2e/cluster_size_autoscaling.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Handle case when annotation patch fails
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Pass namespace parameter to SharedInformerFactory
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

vpa-chart: add mutatingwebhookconfigurations delete permission
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-clusterrole.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

kamatera-2026-01-fixes: refactor kubeconfig fix memory units add cloud provider id set http timeout add locking + tests add interface assertions and logs reduce queue polling log spam
  cluster-autoscaler/cloudprovider/kamatera/README.md
  cluster-autoscaler/cloudprovider/kamatera/examples/deployment.yaml
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_config.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_config_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_provider_id.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_provider_id_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_request.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

kamatera fix state management, add poweroff/on option, fix provider ID
  cluster-autoscaler/cloudprovider/kamatera/README.md
  cluster-autoscaler/cloudprovider/kamatera/examples/deployment.yaml
  cluster-autoscaler/cloudprovider/kamatera/examples/rbac.yaml
  cluster-autoscaler/cloudprovider/kamatera/examples/secret.yaml
  cluster-autoscaler/cloudprovider/kamatera/examples/server-init-kubeadm.sh.txt
  cluster-autoscaler/cloudprovider/kamatera/examples/server-init-rancher.sh.txt
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_config.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_instance.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_manager_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

kamatera cloudprovider: fix for deletion candidate taint
  cluster-autoscaler/cloudprovider/kamatera/kamatera_instance.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_instance_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

kamatera cloudprovider: add default MaxNodeStartupTime, fix poweron logic
  cluster-autoscaler/cloudprovider/kamatera/README.md
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

kamatera cloudprovider: fix for create instances
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

kamatera cloudprovider: boilerplate / minor log fix
  cluster-autoscaler/cloudprovider/kamatera/kamatera_main_test.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

kamatera cloudprovider improve kamatera rest api invalid response handling
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest.go
  cluster-autoscaler/cloudprovider/kamatera/kamatera_api_client_rest_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

refactor the AEP
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

update table of content
  vertical-pod-autoscaler/enhancements/7571-support-pod-level-resources/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add modernize to golangci-lint
  vertical-pod-autoscaler/.golangci.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Cover the RegisterFailedScaleUp metric generation with unit tests
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Allow synctest usage passing context.
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/builder/autoscaler_test.go
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/static_autoscaler_csi_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner_test.go
  cluster-autoscaler/simulator/framework/handle.go
  cluster-autoscaler/simulator/framework/test_utils.go
  cluster-autoscaler/utils/kubernetes/factory.go
  cluster-autoscaler/utils/taints/taints_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Refactor main to allow dependency injection
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/builder/autoscaler_test.go
  cluster-autoscaler/builder/clients.go
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/main.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add a full cycle CA test.
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/test/integration/config.go
  cluster-autoscaler/test/integration/framework.go
  cluster-autoscaler/test/integration/inmemory/staticautoscaler_test.go
  cluster-autoscaler/utils/kubernetes/fake/kubernetes.go
  cluster-autoscaler/utils/test/test_utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

link spec client
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Addressing review feedback
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

More review feedback changes
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix(ca): Fix pre-commit hook trigger and make update-faq-flags script portable
  .pre-commit-config.yaml
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/hack/update-faq-flags.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix typos in buffers conditions
  cluster-autoscaler/capacitybuffer/common/common.go
  cluster-autoscaler/capacitybuffer/common/common_test.go
  cluster-autoscaler/capacitybuffer/constants.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Do not overwrite buffer conditions
  cluster-autoscaler/capacitybuffer/common/common.go
  cluster-autoscaler/capacitybuffer/common/common_test.go
  cluster-autoscaler/capacitybuffer/constants.go
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/controller/controller_test.go
  cluster-autoscaler/capacitybuffer/controller/resourcequotas_test.go
  cluster-autoscaler/capacitybuffer/filters/status_filter_test.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Protect concurrent map access in ScaleDownCandidatesDelayProcessor
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_delay_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix buffer validation message
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
