Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

more work
  vertical-pod-autoscaler/docs/quickstart.md
  vertical-pod-autoscaler/hack/.notableofcontents
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add inplace mode to quick start
  vertical-pod-autoscaler/docs/quickstart.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update quickstart.md
  vertical-pod-autoscaler/docs/quickstart.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update vertical-pod-autoscaler/docs/quickstart.md
  vertical-pod-autoscaler/docs/quickstart.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

swich bash to console
  vertical-pod-autoscaler/docs/quickstart.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

removed unused examples and files (#9694)
  vertical-pod-autoscaler/MIGRATE.md
  vertical-pod-autoscaler/docs/quickstart.md
  vertical-pod-autoscaler/examples/hamster-deprecated.yaml
  vertical-pod-autoscaler/examples/hamster.yaml
  vertical-pod-autoscaler/examples/redis-deprecated.yaml
  vertical-pod-autoscaler/examples/redis.yaml
  vertical-pod-autoscaler/hack/.notableofcontents
  vertical-pod-autoscaler/hack/boilerplate.go.txt
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/lib/util.sh
  vertical-pod-autoscaler/hack/local-cluster.md
  vertical-pod-autoscaler/hack/run-integration-locally.sh
  vertical-pod-autoscaler/hack/update-kubernetes-deps-in-e2e.sh
  vertical-pod-autoscaler/hack/update-kubernetes-deps.sh
  vertical-pod-autoscaler/hack/vpa-down.sh
  vertical-pod-autoscaler/hack/warn-obsolete-vpa-objects.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: validate balancer priority policy targets
  balancer/pkg/policy/policy.go
  balancer/pkg/policy/priority_test.go
Due: none

ScaleUpFailuresRegistry implements NodeGroupChangeObserver and Observer interfaces
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/builder/clients.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/clusterstate/scaleupfailures/scale_up_failures.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/options/autoscaler.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add template-node label to mitigate scale up issue (#9700)
  cluster-autoscaler/simulator/node_info_utils.go
  cluster-autoscaler/simulator/node_info_utils_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat: add cert-manager integration with vpa helm chart
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/NOTES.txt
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/_helpers.tpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certmanager.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-validations.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-webhook.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

address nits
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Refactor planScaleUp returns
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Extract scale up planning to separate method
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Don't call SchedulablePodGroups when only 1 node group gets created
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

digitalocean: fix broken autoscaler repository link
  cluster-autoscaler/cloudprovider/digitalocean/README.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update VPA defaults to 1.7.0
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

VPA release 1.7.0
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-high.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment-low.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/deploy/updater-deployment.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/docs/installation.md
  vertical-pod-autoscaler/hack/generate-flags.sh
  vertical-pod-autoscaler/hack/vpa-process-yaml.sh
  vertical-pod-autoscaler/hack/vpa-up.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fixed docs
  vertical-pod-autoscaler/docs/components.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Increase e2e test concurrency
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fixed comments
  vertical-pod-autoscaler/docs/components.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update vertical-pod-autoscaler/docs/components.md
  vertical-pod-autoscaler/docs/components.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Increase concurrency to 10
  vertical-pod-autoscaler/hack/run-e2e-tests.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Make the deadcode verify script output to $ARTIFACT
  vertical-pod-autoscaler/hack/verify-deadcode-elimination.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Increase the e2e actuation test speed
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/test/e2e/utils/common.go
  vertical-pod-autoscaler/test/e2e/v1/actuation.go
  vertical-pod-autoscaler/test/e2e/v1/common.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Restore interval
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Improve file size output
  vertical-pod-autoscaler/hack/verify-deadcode-elimination.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Recommender improvements
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/test/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/test/e2e/v1/recommender.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Adding support for optional ClusterNameLabel and ClusterName while querying Prometheus for metrics
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/pkg/recommender/config/config.go
  vertical-pod-autoscaler/pkg/recommender/config/config_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender_controller.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Adding documentation
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/recommender/config/config.go
  vertical-pod-autoscaler/pkg/recommender/config/config_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Linting
  vertical-pod-autoscaler/pkg/recommender/config/config_test.go
  vertical-pod-autoscaler/pkg/recommender/input/history/history_provider_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Updating recommender flags
  vertical-pod-autoscaler/docs/flags.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Bump master to next VPA version
  vertical-pod-autoscaler/common/version.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Validate CapacityQuota resources format
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/capacityquota_types.go
  cluster-autoscaler/apis/capacityquota/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacityquotalimits.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacityquotas.yaml
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Implement CapacityQuota validating webhook
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/groupversion_info.go
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/webhook/capacityquota_webhook.go
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/webhook/capacityquota_webhook_test.go
  cluster-autoscaler/apis/capacityquota/autoscaling.x-k8s.io/v1alpha1/webhook/webhook_suite_test.go
  cluster-autoscaler/apis/config/webhook/manifests.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
