Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Use capacity buffer namespace for injected fake pods
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: optimized pod list and classification
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/utils/kubernetes/listers.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

express condition positively
  cluster-autoscaler/utils/kubernetes/listers.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add support for multiple resource limits
  cluster-autoscaler/cloudprovider/resource_limiter.go
  cluster-autoscaler/resourcequotas/factory.go
  cluster-autoscaler/resourcequotas/factory_test.go
  cluster-autoscaler/resourcequotas/provider.go
  cluster-autoscaler/resourcequotas/provider_test.go
  cluster-autoscaler/resourcequotas/testutils.go
  cluster-autoscaler/resourcequotas/tracker.go
  cluster-autoscaler/resourcequotas/tracker_test.go
  cluster-autoscaler/resourcequotas/usage.go
  cluster-autoscaler/resourcequotas/usage_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chore: update owners of cloud provider hetzner
  cluster-autoscaler/cloudprovider/hetzner/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add code for reading unstructured clusterapi csidriver annotations
  cluster-autoscaler/cloudprovider/clusterapi/README.md
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/processors/customresources/csi_processor.go
  cluster-autoscaler/processors/customresources/csi_processor_test.go
  cluster-autoscaler/processors/customresources/custom_resources_processor.go
  cluster-autoscaler/processors/customresources/default_custom_processor.go
  cluster-autoscaler/processors/customresources/default_custom_processor_test.go
  cluster-autoscaler/processors/customresources/dra_processor.go
  cluster-autoscaler/processors/customresources/dra_processor_test.go
  cluster-autoscaler/processors/customresources/gpu_processor.go
  cluster-autoscaler/processors/customresources/gpu_processor_test.go
  cluster-autoscaler/processors/processors.go
  cluster-autoscaler/processors/test/common.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/csi/provider/csinode.go
  cluster-autoscaler/simulator/csi/snapshot/csinode_lister.go
  cluster-autoscaler/simulator/csi/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update index.yaml
  index.yaml
Due: none

Add graduation criteria for CapacityBuffers.
  cluster-autoscaler/proposals/buffers.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

update ubuntu image for e2e
  vertical-pod-autoscaler/e2e/utils/common.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat: VPA InPlace updateMode
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/crds/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml
  vertical-pod-autoscaler/e2e/utils/common.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/helpers.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_utils.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix(capacitybuffer): correct spelling mistakes in function names and messages
  cluster-autoscaler/capacitybuffer/common/common.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

add Partial Capacity case and condition to check capacity provreqs
  cluster-autoscaler/processors/status/scale_up_status_processor.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass_test.go
  cluster-autoscaler/provisioningrequest/conditions/conditions.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

PR comments 2
  hack/install-verify-tools.sh
  vertical-pod-autoscaler/hack/verify-kubelint.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Making CapacityBuffer ProvisioningStrategy a string (not enum)
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1alpha1/types.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add e2e test
  vertical-pod-autoscaler/e2e/v1/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Integrate resource quotas with scale up
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/options/autoscaler.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons.go
  cluster-autoscaler/core/scaleup/orchestrator/skippedreasons_test.go
  cluster-autoscaler/core/scaleup/scaleup.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/core/test/common.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/core/utils/utils_test.go
  cluster-autoscaler/provisioningrequest/besteffortatomic/provisioning_class.go
  cluster-autoscaler/provisioningrequest/checkcapacity/provisioningclass.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator.go
  cluster-autoscaler/provisioningrequest/orchestrator/wrapper_orchestrator_test.go
  cluster-autoscaler/resourcequotas/cache.go
  cluster-autoscaler/resourcequotas/factory.go
  cluster-autoscaler/resourcequotas/provider.go
  cluster-autoscaler/resourcequotas/provider_test.go
  cluster-autoscaler/resourcequotas/testutils.go
  cluster-autoscaler/resourcequotas/tracker.go
  cluster-autoscaler/resourcequotas/tracker_test.go
  cluster-autoscaler/resourcequotas/usage_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

update to 1.35.0-beta.0
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_resolver.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
  cluster-autoscaler/utils/daemonset/daemonset.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

incorporates https://github.com/kubernetes/kubernetes/pull/134326
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner_test.go
  cluster-autoscaler/simulator/clustersnapshot/store/basic.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_claim_tracker_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_lister_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_class_resolver.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/snapshot_slice_lister_test.go
  cluster-autoscaler/simulator/framework/delegating_shared_lister.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

revert azure E2E changes
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

CA: update deps to 1.35.0-alpha.3
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/version/version.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

more updates
  cluster-autoscaler/Dockerfile
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/cloudprovider/azure/test/go.mod
  cluster-autoscaler/cloudprovider/azure/test/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Regenerate informers and fake clients
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/podset.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequestspec.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/reference.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/podset.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequestspec.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/reference.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/factory.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/hack/update-codegen.sh
  cluster-autoscaler/processors/provreq/injector_test.go
  cluster-autoscaler/provisioningrequest/provreqclient/testutils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Regenerate clientset and fake clients for capacity buffers
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybufferspec.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybufferstatus.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/localobjectref.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/scalableref.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1alpha1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/factory.go
  cluster-autoscaler/hack/update-codegen.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

use rc.0
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix update-codegen.sh and gen
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/podset.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequestspec.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1/reference.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/podset.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequestspec.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/provisioningrequeststatus.go
  cluster-autoscaler/apis/provisioningrequest/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/reference.go
  cluster-autoscaler/apis/provisioningrequest/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/provisioningrequest.go
  cluster-autoscaler/apis/provisioningrequest/client/informers/externalversions/factory.go
  cluster-autoscaler/hack/update-codegen.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

re-gen capacitybuffer as well
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybufferspec.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/capacitybufferstatus.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/localobjectref.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1alpha1/scalableref.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1alpha1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/factory.go
  cluster-autoscaler/hack/update-codegen.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Downgrade go to 1.24
  .github/workflows/verify.yaml
Due: none

Back to 1.25
  .github/workflows/verify.yaml
Due: none

update internal version to 1.35.0-rc.0
  cluster-autoscaler/version/version.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

lock —enable-dynamic-resource-allocation to true
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/flags/flags.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Consume AWS SDK v2
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups_test.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
  cluster-autoscaler/cloudprovider/aws/aws_metrics.go
  cluster-autoscaler/cloudprovider/aws/aws_sdk_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_sdk_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper.go
  cluster-autoscaler/cloudprovider/aws/aws_wrapper_test.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
  cluster-autoscaler/cloudprovider/aws/instance_type_cache_test.go
  cluster-autoscaler/cloudprovider/aws/managed_nodegroup_cache_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

downgrade
  vertical-pod-autoscaler/hack/tools/kube-api-linter/.custom-gcl.yml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

down to 1.24
  .github/workflows/verify.yaml
Due: none

downgrade golangci-kal to 1.24
  vertical-pod-autoscaler/hack/tools/kube-api-linter/.golangci-kal.yml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

add helm changes
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  cluster-autoscaler/charts/cluster-autoscaler/templates/clusterrole.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

expose KUBE_FEATURE_WatchListClient
  cluster-autoscaler/charts/cluster-autoscaler/templates/deployment.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
