Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

vsphere: adapt to govmomi bump
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_test.go
Due: pull-kubernetes-godeps

e2e framework: adapt unit test to Go 1.22
  test/e2e/framework/internal/output/output.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

node not ready if there are no addresses
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Due: pull-kubernetes-local-e2e-containerized

cache/reflector: check the value of the initial-events-end annotation
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_watchlist_test.go
Due: pull-kubernetes-godeps

kubelet: do not initialize node address if cloud provider external
  pkg/features/kube_features.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-local-e2e-containerized

change rolling update logic to exclude sunsetting nodes
  pkg/controller/daemon/update.go
  pkg/controller/daemon/update_test.go
  test/integration/daemonset/daemonset_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

skip kube-dns tests if kube-dns is missing
  test/e2e/autoscaling/dns_autoscaling.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

add missing labels to kube-dns deployment
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
Due: pull-kubernetes-e2e-gke

Revert "Make StatefulSet restart pods with phase Succeeded"
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Due: none

cronjob controller: ensure already existing jobs are added to Active list of cronjobs
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
Due: none

Rename job reasons to JobReasons as part of api review
  pkg/apis/batch/types.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  staging/src/k8s.io/api/batch/v1/types.go
Due: pull-kubernetes-godeps

skip kube-up related GCE tests
  test/e2e/framework/skipper/skipper.go
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
  test/e2e/network/firewall.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

remove storageclass endpoints
  test/conformance/testdata/pending_eligible_endpoints.yaml
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

managedfields: Do not compare in structuredmerge
  staging/src/k8s.io/apimachinery/pkg/util/managedfields/fieldmanager_test.go
  staging/src/k8s.io/apimachinery/pkg/util/managedfields/internal/managedfieldsupdater_test.go
  staging/src/k8s.io/apimachinery/pkg/util/managedfields/internal/structuredmerge.go
Due: pull-kubernetes-godeps

Promote StorageClass e2e test to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/storage/storageclass.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

fix code style
  pkg/kubelet/container/testing/fake_runtime.go
Due: pull-kubernetes-local-e2e-containerized

add openapi defaults integration test
  test/integration/apiserver/openapi/defaults_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

annotate types with missing defaults
  staging/src/k8s.io/api/admissionregistration/v1/types.go
  staging/src/k8s.io/api/admissionregistration/v1alpha1/types.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/authentication/v1/types.go
  staging/src/k8s.io/api/autoscaling/v1/types.go
  staging/src/k8s.io/api/autoscaling/v2/types.go
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/discovery/v1/types.go
  staging/src/k8s.io/api/flowcontrol/v1beta1/types.go
  staging/src/k8s.io/api/flowcontrol/v1beta2/types.go
  staging/src/k8s.io/api/flowcontrol/v1beta3/types.go
  staging/src/k8s.io/api/networking/v1/types.go
  staging/src/k8s.io/api/rbac/v1/types.go
  staging/src/k8s.io/api/resource/v1alpha2/types.go
  staging/src/k8s.io/api/scheduling/v1/types.go
  staging/src/k8s.io/api/storage/v1/types.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/watch.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/types.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/types.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-godeps

More meaningful error information for LimitWriter
  pkg/kubelet/util/ioutils/ioutils.go
Due: pull-kubernetes-local-e2e-containerized

use resolveControllerRef to check kind of cron job - update test
  pkg/controller/cronjob/cronjob_controllerv2_test.go
Due: none

bump kube addon manager base to 2.0.0
  cluster/addons/addon-manager/CHANGELOG.md
  cluster/addons/addon-manager/Makefile
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross

maxPod=300
  cmd/kubemark/hollow-node.go
Due: none

added comments above multiple functions in the cmd/kubeadm/app/cmd/certs.go file
  cmd/kubeadm/app/cmd/certs.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/certs_test.go file
  cmd/kubeadm/app/cmd/certs_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/completion.go file
  cmd/kubeadm/app/cmd/completion.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/completion_test.go file
  cmd/kubeadm/app/cmd/completion_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/config.go file
  cmd/kubeadm/app/cmd/config.go
Due: pull-kubernetes-e2e-kubeadm-gce

.: bump govmomi to v0.30.6
  go.mod
  go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  vendor/github.com/vmware/govmomi/.goreleaser.yml
  vendor/github.com/vmware/govmomi/find/finder.go
  vendor/github.com/vmware/govmomi/internal/version/version.go
  vendor/github.com/vmware/govmomi/list/lister.go
  vendor/github.com/vmware/govmomi/lookup/client.go
  vendor/github.com/vmware/govmomi/object/host_certificate_info.go
  vendor/github.com/vmware/govmomi/object/search_index.go
  vendor/github.com/vmware/govmomi/simulator/container.go
  vendor/github.com/vmware/govmomi/simulator/esx/host_system.go
  vendor/github.com/vmware/govmomi/simulator/guest_id.go
  vendor/github.com/vmware/govmomi/simulator/performance_manager.go
  vendor/github.com/vmware/govmomi/simulator/search_index.go
  vendor/github.com/vmware/govmomi/simulator/session_manager.go
  vendor/github.com/vmware/govmomi/simulator/view_manager.go
  vendor/github.com/vmware/govmomi/vapi/simulator/simulator.go
  vendor/github.com/vmware/govmomi/vim25/soap/client.go
  vendor/github.com/vmware/govmomi/vim25/soap/error.go
  vendor/modules.txt
Due: check-dependency-stats, check-govulncheck-results, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
