Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

chore: code optimization
  pkg/controller/volume/pvprotection/pv_protection_controller.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

chore: loop optimization
  pkg/credentialprovider/plugin/plugin.go
Due: none

chore: loop optimization
  pkg/kubelet/stats/cri_stats_provider_test.go
Due: pull-kubernetes-local-e2e-containerized

chore: should use buf.String() instead of string(buf.Bytes())
  pkg/proxy/ipvs/proxier_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

chore: should omit comparison to bool constant
  pkg/quota/v1/evaluator/core/services.go
Due: none

chore: code optimization
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy.go
Due: none

beta label to ga
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
  test/integration/scheduler/filters/filters_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix terminationGracePeriod blocked by preStop
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Due: pull-kubernetes-local-e2e-containerized

Add Pod Termination e2e tests to test termination grace period seconds
  test/e2e_node/container_lifecycle_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Added E2E test case to revert resource resize patch
  test/e2e/node/pod_resize.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-conformance-kind-ipv6-parallel

Support JSONPath condition without value
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait_test.go
Due: pull-kubernetes-godeps

chore(fix): test jsonpath condition parsing errors
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait_test.go
Due: pull-kubernetes-godeps

remove CSI-migration gate
  cmd/kube-controller-manager/app/plugins_providers.go
  cmd/kubelet/app/plugins_providers.go
  pkg/features/kube_features.go
  pkg/kubelet/kubelet_test.go
  pkg/scheduler/framework/plugins/nodevolumelimits/utils.go
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csimigration/plugin_manager.go
  pkg/volume/csimigration/plugin_manager_test.go
  pkg/volume/gcepd/OWNERS
  pkg/volume/gcepd/attacher.go
  pkg/volume/gcepd/attacher_test.go
  pkg/volume/gcepd/doc.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/gcepd/gce_pd_block.go
  pkg/volume/gcepd/gce_pd_block_test.go
  pkg/volume/gcepd/gce_pd_test.go
  pkg/volume/gcepd/gce_util.go
  pkg/volume/gcepd/gce_util_test.go
  pkg/volume/util/operationexecutor/operation_generator_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

kubectl: use bytes.Buffer.String
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrole_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env_test.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/history.go
Due: pull-kubernetes-godeps

Update pkg/controller/deployment/sync.go
  pkg/controller/deployment/sync.go
Due: none

Add e2e test for maxUnavailable
  test/e2e/apps/statefulset.go
  test/e2e/framework/statefulset/fixtures.go
  test/e2e/framework/statefulset/wait.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add maxUnavailable to statefulSet mocker
  test/e2e/apps/statefulset.go
  test/e2e/framework/statefulset/fixtures.go
  test/e2e/upgrades/apps/statefulset.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Whitelist the exposed fields in namespace object and add test
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/typechecking.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/validator.go
Due: pull-kubernetes-godeps

fix: delete code
  pkg/controller/deployment/sync.go
Due: none

fix(client-go): decode apiserver structured error correctly
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
Due: pull-kubernetes-godeps

Move cri/streaming to k8s.io/kubelet staging repository
  hack/testdata/levee/levee-config.yaml
  pkg/client/tests/portfoward_test.go
  pkg/client/tests/remotecommand_test.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  pkg/kubelet/server/server_websocket_test.go
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/kubelet/pkg/cri/streaming/.import-restrictions
  staging/src/k8s.io/kubelet/pkg/cri/streaming/errors.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/constants.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/httpstream.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/httpstream_test.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/portforward.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/websocket.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/websocket_test.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/attach.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/doc.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/exec.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/httpstream.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/websocket.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/request_cache.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/request_cache_test.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/server.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/server_test.go
  vendor/modules.txt
Due: pull-publishing-bot-validate, check-dependency-stats, pull-kubernetes-local-e2e-containerized, pull-kubernetes-kind-dra, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-godeps

Add mininumKubelet tag into ReadWriteOncePod test
  test/e2e/storage/testsuites/readwriteoncepod.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

fix bug
  test/e2e/apps/statefulset.go
  test/e2e/framework/statefulset/fixtures.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Adjust the algorithm for computing the pod finish time
  pkg/controller/job/backoff_utils.go
  pkg/controller/job/backoff_utils_test.go
  pkg/controller/job/job_controller.go
Due: none

Remarks
  pkg/controller/job/backoff_utils.go
Due: none

Update conntrack.go regarding port range upper boundary (int -> uint16)
  pkg/proxy/conntrack/conntrack.go
Due: none

Update conntrack.go regarding port range upper boundary
  pkg/proxy/conntrack/conntrack.go
Due: none

update conntrack.go, comment added to clarify the type and export issue
  pkg/proxy/conntrack/conntrack.go
Due: none

Update conntrack.go reverting back to a simple boundary checks
  pkg/proxy/conntrack/conntrack.go
Due: none

scheduler: fix code style issues for pkg/scheduler
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/framework/plugins/volumebinding/assume_cache.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/testing/wrappers.go
Due: none

kube-proxy detect nodePodCIDR changes
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  pkg/proxy/node.go
  pkg/proxy/node_test.go
Due: none

minor fix comments in netpol so its easy to understand the tests for newcomers, remove one misleading comment (#118264)
  test/e2e/network/netpol/network_policy.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  openshift-hack/e2e/annotate/rules.go
Due: none

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
Due: none

chore: slice replace loop
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
  plugin/pkg/admission/limitranger/admission.go
  test/e2e/network/netpol/policies.go
  test/e2e_node/memory_manager_test.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-kind-dra, pull-kubernetes-conformance-kind-ipv6-parallel

Rename scheduler queue variables for consistency
  pkg/scheduler/internal/queue/scheduling_queue.go
Due: none

kube-aggregator/openapi: only prune defaults once
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
Due: pull-kubernetes-godeps

apiextensions: lazily instantiate validators
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/status_strategy_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/strategy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/validator.go
Due: pull-kubernetes-godeps

Allow persistent volumes to also be 'viewed' by the default view clusterrole
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
Due: none

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
