Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$

Change version and setup a quick and dirty spy in exec command
  pkg/cmd/kind/version/version.go
  pkg/exec/local.go
  private/NOTES.md
  private/ha-config.yaml
  private/sn-config.yaml
Due: none

Add DockerIp option for all nodes
  .gitignore
  pkg/apis/config/v1alpha4/types.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/internal/apis/config/convert_v1alpha4.go
  pkg/internal/apis/config/types.go
  private/NOTES.md
  private/ha-config.yaml
  private/sn-config.yaml
Due: none

Add dockerIP.fromDNS option
  pkg/apis/config/v1alpha4/default.go
  pkg/apis/config/v1alpha4/types.go
  pkg/apis/config/v1alpha4/zz_generated.deepcopy.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/read.go
  pkg/cluster/internal/kubeconfig/kubeconfig.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/exec/local.go
  pkg/internal/apis/config/convert_v1alpha4.go
  pkg/internal/apis/config/types.go
  pkg/internal/apis/config/zz_generated.deepcopy.go
  private/NOTES.md
  private/ha1-config.yaml
  private/ha2-config.yaml
  private/ha3-config.yaml
  private/sn1-config.yaml
Due: none

Add some doc (DOCKER_IP.md)
  DOCKER_IP.md
Due: none

Determine which nerdctl implementation
  pkg/cluster/internal/providers/nerdctl/provider.go
Due: none

add nftables to the base image
  images/base/Dockerfile
Due: post-kind-push-base-image

remove ebtables, is no longer needed
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

upgrade to go1.21
  .go-version
Due: none

force GOTOOLCHAIN="go${GO_VERSION}" for now
  Makefile
  hack/build/gotoolchain.sh
  hack/build/setup-go.sh
  images/base/Dockerfile
  images/kindnetd/Dockerfile
  images/local-path-provisioner/Dockerfile
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image

Require go 1.17+
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  images/kindnetd/go.mod
Due: post-kind-push-kindnetd-image, pull-kind-verify-deps

fix if-return redundant if ...; err != nil check lint
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

rename copy helper to avoid redefining built-in
  pkg/fs/fs.go
Due: none

disbale unused-parameter lint for now
  hack/tools/.golangci.yml
Due: none

switch kindnetd to generic sets
  images/kindnetd/cmd/kindnetd/main.go
  images/kindnetd/go.mod
Due: post-kind-push-kindnetd-image

add missing GOTOOLCHAIN
  images/base/Dockerfile
Due: post-kind-push-base-image

nerdctl: fix if-return lint
  pkg/cluster/internal/providers/nerdctl/provision.go
Due: none

upgrade go to 1.22.x
  .go-version
Due: none

make sure CI install the correct go
  .github/workflows/docker.yaml
  .github/workflows/nerdctl.yaml
  .github/workflows/podman.yml
  .github/workflows/vm.yaml
Due: none

group dependabot updates
  .github/dependabot.yml
Due: none

using no concrrent create container with nerdctl
  pkg/cluster/internal/providers/nerdctl/provider.go
Due: none

Bump containerd to 1.7.15
  images/base/Dockerfile
Due: post-kind-push-base-image

Update pkg/cluster/internal/providers/nerdctl/provider.go
  pkg/cluster/internal/providers/nerdctl/provider.go
Due: none

docs: add required containerd version
  site/content/docs/user/rootless.md
Due: none

fix: typo
  site/content/docs/user/rootless.md
Due: none

fix: remove NoArgs positional arguments validation
  pkg/cmd/kind/build/build.go
  pkg/cmd/kind/completion/completion.go
  pkg/cmd/kind/create/create.go
  pkg/cmd/kind/delete/delete.go
  pkg/cmd/kind/export/export.go
  pkg/cmd/kind/get/get.go
  pkg/cmd/kind/root.go
  pkg/cmd/kind/version/version.go
Due: none

Detect /etc/containerd/certs.d automatically for mirror registry config.
  images/base/files/etc/containerd/config.toml
  images/base/files/usr/local/bin/entrypoint
  site/static/examples/kind-with-registry.sh
Due: post-kind-push-base-image

feat(pkg/cluster/internal/providers): log container init and before
  pkg/cluster/internal/providers/common/cgroups.go
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/nerdctl/provider.go
  pkg/cluster/internal/providers/nerdctl/provision.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

support kube-proxy nftables mode
  pkg/apis/config/v1alpha4/types.go
  pkg/cluster/internal/kubeadm/config.go
  pkg/internal/apis/config/types.go
  pkg/internal/apis/config/validate.go
  site/content/docs/user/configuration.md
Due: none

Update site/content/docs/user/configuration.md
  site/content/docs/user/configuration.md
Due: none

use cloud-provider-kind as recommended loadbalancer
  site/content/docs/user/loadbalancer.md
  site/content/docs/user/resources.md
  site/static/examples/loadbalancer/metallb-config.yaml
Due: none

Update site/content/docs/user/loadbalancer.md
  site/content/docs/user/loadbalancer.md
Due: none

fix docs
  site/content/docs/user/resources.md
Due: none

kubeproxy mode const is lowercase
  pkg/cluster/internal/kubeadm/config.go
Due: none

set nf_conntrack_tcp_be_liberal for nftables mode
  pkg/cluster/internal/kubeadm/config.go
Due: none

Update kong ingress doc
  site/content/docs/user/ingress.md
  site/static/examples/ingress/kong/deployment.patch.json
  site/static/examples/ingress/kong/service.patch.json
Due: none
