Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/

Add more GCVE documentation
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/boskos.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/images/GVCE.drawio
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/images/overview.jpg
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/terraform.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/wiregard.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/README.md
Due: none

upgrade arm64 gke nodepool
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources

Adjust comments and godocs
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/content-library.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/data.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/iam_roles.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/modules/gcp-gcve-project/main.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/modules/gcp-gcve-project/variables.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/nsx-t.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/projects.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/boskos-userdata.sh
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/ensure-users-permissions.sh
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/tags.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/variables.tf
Due: none

set initial count to 0
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources

ignore readonly field
  infra/gcp/terraform/modules/gke-nodepool/main.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

upgrade arm64 gke nodepool (#8147)
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/modules/gke-nodepool/main.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, post-k8sio-deploy-prow-build-resources

address linter findings and remove unused resources
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/jumphost.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/provider.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/provider.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/variables.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/data.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/modules/gcp-gcve-project/provider.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/provider.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/boskos-userdata.sh
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/tags.tf
Due: none

Image promotion for cluster-api-aws v2.8.3
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: k8sio-k8s-resources-verify

Bump network proxy to 0.33.0
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote CSI sidecars
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote VPA 1.4.1 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote NPD image v0.8.21
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Ingress NGINX: Promote other images.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

fix arm64 nodepool for kind
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources

add c4 nodepool to trusted cluster
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
Due: pull-k8sio-terraform-prow-build-trusted, post-k8sio-deploy-prow-build-trusted-resources

Update release-comms, release-team, release-team-shadows groups to reflect v1.34 release team
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote images for Kueue 0.12.2
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote v0.11.6
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update registry.k8s.io/images/k8s-staging-kueue/images.yaml
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Update Nathan Herz email
  groups/committee-security-response/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Ingress NGINX: Promote Controller v1.12.3.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Ingress NGINX: Promote Controller v1.11.7.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote agnhost to 2.56
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add satyampsoni to release editors for release cuts
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

gcve: fxup documentation
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/boskos.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/terraform.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/wireguard.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/README.md
Due: none

gcve: add comments to the terraform files
  infra/gcp/terraform/k8s-infra-gcp-gcve/iam.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/main.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/jumphost.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vmware-engine.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/content-library.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/data.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/folders.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/iam_roleassignments.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/iam_roles.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/nsx-t.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/projects.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/provider.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/resource-pools.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/tags.tf
Due: none

gcve: Add tags for failure domain testing
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/ensure-users-permissions.sh
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/tags.tf
Due: none

review fixes
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/projects.tf
Due: none

gcve: Enable essentialcontacts api and script
  infra/gcp/terraform/k8s-infra-gcp-gcve/main.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/ensure-essential-contacts.sh
Due: none

gcve: fixup essential contacts
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/ensure-essential-contacts.sh
Due: none

gcve: reprovision using different cidrs for vSphere 8
  infra/gcp/terraform/k8s-infra-gcp-gcve/vmware-engine.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/variables.tf
Due: none

gcve: fixup overview image
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/images/GVCE.drawio
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/images/GVCE.drawio.png
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/images/overview.jpg
Due: none

update sig-etcd leads
  OWNERS_ALIASES
Due: none

gcve: fixup vsphere readme and add dependency to nsx for datasource
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/data.tf
Due: none

Promote CAPI IPAM in cluster image v1.0.2
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add neoaggelos to release editors
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups
