Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Move main entrypoint to a dedicated kwok directory
  kwok/main.go
Due: none

VPA updater: require observed generation
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/updater/config/config.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

kwok: replace cloudprovider router with exclusive kwok import
  kwok/main.go
Due: none

kwok: add minimalistic Dockerfile to enable CI builds
  .github/workflows/ca-test.yaml
  .gitignore
  Makefile
  kwok/Dockerfile
Due: none

VPA updater: add flag to avoid disruptive in-place updates
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/updater/config/config.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_eviction_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Introduce a test for RegisterScaleUp metric emission.
  pkg/core/scaleup/orchestrator/executor.go
  pkg/core/scaleup/orchestrator/orchestrator_test.go
Due: none

Move the RegisterScaleUp metric calls to NodeGroupChangeMetricsProducer
  pkg/clusterstate/clusterstate_test.go
  pkg/core/scaleup/orchestrator/async_initializer.go
  pkg/core/scaleup/orchestrator/executor.go
  pkg/core/scaleup/orchestrator/orchestrator.go
  pkg/core/scaleup/orchestrator/orchestrator_test.go
  pkg/observers/nodegroupchange/scale_state_observer.go
  pkg/observers/nodegroupchange/scale_state_observer_test.go
Due: none

Add TemplateNodeInfoRegistry as a param of NodeGroupChangeMetricsProducer to use up-to-date labels in the metric calls.
  pkg/clusterstate/clusterstate_test.go
  pkg/core/scaleup/orchestrator/orchestrator_test.go
  pkg/core/static_autoscaler.go
  pkg/observers/nodegroupchange/scale_state_observer.go
  pkg/observers/nodegroupchange/scale_state_observer_test.go
Due: none

Remove no longer relevant hack/scripts/
  hack/boilerplate/boilerplate.py
  hack/scripts/break_mig.py
  hack/scripts/ca_metrics_parser.py
Due: none

Remove pre-fix wording from test comment
  pkg/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
Due: none

docs: point migrated cloud provider READMEs at sigs.k8s.io
  cluster-autoscaler/README.md
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  cluster-autoscaler/charts/cluster-autoscaler/README.md
  cluster-autoscaler/charts/cluster-autoscaler/README.md.gotmpl
  cluster-autoscaler/charts/cluster-autoscaler/values.yaml
  cluster-autoscaler/cloudprovider/POLICY.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

VPA updater: fix unready DaemonSet updates
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add github action to run go benchmarks for VPA
  .github/workflows/vpa-benchmark.yaml
Due: none

updated per feedback
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor_test.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission.go
  vertical-pod-autoscaler/pkg/updater/priority/scaling_direction_pod_eviction_admission_test.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
  vertical-pod-autoscaler/test/e2e/v1/recommender.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

cluster-autoscaler: add SAKURA cloud (sakuracloud) cloud provider
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/README.md
  cluster-autoscaler/cloudprovider/router/router_all.go
  cluster-autoscaler/cloudprovider/router/router_sakuracloud.go
  cluster-autoscaler/cloudprovider/sakuracloud/OWNERS
  cluster-autoscaler/cloudprovider/sakuracloud/README.md
  cluster-autoscaler/cloudprovider/sakuracloud/sakuracloud_cloud_provider.go
  cluster-autoscaler/cloudprovider/sakuracloud/sakuracloud_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/sakuracloud/sakuracloud_manager.go
  cluster-autoscaler/cloudprovider/sakuracloud/sakuracloud_manager_test.go
  cluster-autoscaler/cloudprovider/sakuracloud/sakuracloud_node_group.go
  cluster-autoscaler/cloudprovider/sakuracloud/sakuracloud_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix non-linux builds of the kubemark cloud provider
  cluster-autoscaler/cloudprovider/kubemark/kubemark_other.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Report terminating instances as gone in AWS HasInstance
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Cleanup dependabot config
  .github/dependabot.yml
Due: none

Embed cluster-autoscaler CRD definitions in apis Go module
  cluster-autoscaler/apis/apis.go
  cluster-autoscaler/apis/apis_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Index VPAs by targetRef to speed up admission-controller matching
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher_benchmark_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Use envtest w/ k8s 1.36
  .github/workflows/ca-test.yaml
Due: none

changes for ignore-unmanaged-node-pool-check-forCA
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_cloud_provider.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_manager.go
  cluster-autoscaler/cloudprovider/oci/nodepools/oci_node_pool_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Adjust clusterapi and externalgrpc to recent cloudprovider changes
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_autodiscovery.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_processors.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_test_framework.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils_test.go
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/main.go
  cluster-autoscaler/cloudprovider/externalgrpc/examples/external-grpc-cloud-provider-service/wrapper/wrapper.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_node_group_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update Cluster API owners
  cluster-autoscaler/cloudprovider/clusterapi/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix(clusterapi): add patch permission to example RBAC
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Run go mod download && go mod tidy
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update ephemeral capacity buffers proposal (v2: refill-strategy + shrink)
  cluster-autoscaler/proposals/ephemeral-buffers.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add VPA release schedule to RELEASE.md
  vertical-pod-autoscaler/RELEASE.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update RELEASE.md
  vertical-pod-autoscaler/RELEASE.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Log missing EBS volume attachment limit
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix NodeDeclaredFeatures test for locked feature gate in 1.37
  cluster-autoscaler/core/static_autoscaler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix AWS CSI driver assumption for node templates
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add AWS CSI EFS regression test
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Support explicit CSI drivers in AWS node templates
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_manager_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Pin golangci-lint version for VPA
  .github/workflows/vpa-golangci-lint.yaml
  vertical-pod-autoscaler/.golangci-lint-version
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

AEP-9936: tidy behaviour sentence and implementation history per review
  vertical-pod-autoscaler/enhancements/9936-vpa-observation-window/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add reactive CPU startup boost unboosting
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/enhancements/7862-cpu-startup-boost/README.md
  vertical-pod-autoscaler/pkg/updater/config/config.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
  vertical-pod-autoscaler/test/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/test/e2e/v1/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater
