Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

Spelling corrections in publish-release
  cmd/publish-release/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

OWNERS_ALIASES: update release-engineering-approvers with new release managers
  OWNERS_ALIASES
Due: none

update ci signal team for ci signal tool review
  OWNERS_ALIASES
Due: none

update comment
  OWNERS_ALIASES
Due: none

Fixing the link to promo tools documentation
  README.md
Due: none

Add fastforward unit tests
  cmd/krel/cmd/ff.go
  cmd/krel/cmd/ff_test.go
  pkg/fastforward/fastforward.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
Due: post-release-push-image-k8s-ci-builder

Support automatic krel fast forward
  cmd/krel/cmd/ff.go
  go.mod
  go.sum
  pkg/fastforward/fastforward.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
Due: post-release-push-image-k8s-ci-builder

Fix changelog tests after release-sdk v0.6.0 bump
  cmd/krel/cmd/changelog_test.go
Due: post-release-push-image-k8s-ci-builder

align with comments
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

Adding new features to ci-signal-report (#2367)
  cmd/ci-reporter/README.md
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.17.6 and 1.16.13 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Update REAMDE.md to remove gh2gcs and cip-mm reference
  README.md
Due: none

k8s-cloud-builder/k8s-ci-builder: build using Go 1.17.6
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: build using Go 1.16.13
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

gcb: Update authentication for releases
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

Rename image client interface to `imageImpl`
  pkg/release/images.go
  pkg/release/images_test.go
  pkg/release/releasefakes/fake_image_impl.go
Due: post-release-push-image-k8s-ci-builder

Add support for running krel fast-forward in GCB
  cmd/krel/cmd/ff.go
  gcb/fast-forward/cloudbuild.yaml
  pkg/fastforward/fastforward.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Remove `krel changelog`
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_test.go
  docs/krel/changelog.md
Due: post-release-push-image-k8s-ci-builder

Fix unneeded conversions and other lints
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/cve.go
  cmd/krel/cmd/release_notes.go
  dependencies.yaml
  hack/verify-golangci-lint.sh
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Add container images to changelog
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/main.go
  pkg/anago/stage.go
  pkg/changelog/changelog.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/changelog/const.go
  pkg/changelog/impl.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/document/template.go
  pkg/release/images.go
Due: post-release-push-image-k8s-ci-builder

krel/announce: ask for confirmation before sending the email
  cmd/krel/cmd/announce_send.go
Due: post-release-push-image-k8s-ci-builder

publish-release: Support adding release notes from a file
  cmd/publish-release/cmd/github.go
  pkg/announce/github_page.go
Due: post-release-push-image-k8s-ci-builder

Use docker image instead of using curl to download and instal golangci-lint.
  dependencies.yaml
  hack/verify-golangci-lint.sh
Due: none

Update dependencies.yaml
  dependencies.yaml
Due: none

Add checksum validation for the golangci-lint install script. (#2378)
  dependencies.yaml
  hack/verify-golangci-lint.sh
Due: none

update cosign image to use release v1.5.1
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Add `ok-to-test` label to dependabot PRs
  .github/dependabot.yml
Due: none

Fix bug where incorrect count was used when assets had no tag
  cmd/publish-release/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

golang: Set next candidate to go1.18beta2
  dependencies.yaml
Due: none

golang: Build 1.18beta2 images
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Clone tool repo on krel fast-forward
  pkg/fastforward/fastforward.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
Due: post-release-push-image-k8s-ci-builder

krel/ff: add an option to define a gcp project to use instead of the default one
  cmd/krel/cmd/ff.go
  pkg/fastforward/fastforward.go
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

releng-ci: add mage
  images/releng/ci/Dockerfile
  images/releng/ci/test.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

add file flag and markdown table formatting to ci signal report
  cmd/ci-reporter/cmd/root.go
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

rm unused cfg variable
  cmd/ci-reporter/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

fixed release-notes ssh git checkout website pr
  cmd/krel/cmd/release_notes.go
Due: post-release-push-image-k8s-ci-builder

fix nits
  cmd/ci-reporter/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

Fix krel fast-forward log bucket
  pkg/fastforward/fastforward.go
Due: post-release-push-image-k8s-ci-builder

Write the CI Signal report to a file & markdown formatting (#2419)
  cmd/ci-reporter/cmd/root.go
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Build Go 1.17.7 and 1.16.14 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
