Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazel-krte, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: (any of: ^(images/bigquery|scenarios)/) or (any of: ^images/bigquery/)
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: (any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/) or (any of: ^(images/kubekins-e2e|kubetest|boskos)/)
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Change CLA bot freq to 24h
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

run presubmit on in ingress always
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

maintain org ordering within the search query
  prow/tide/status.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Adding the `test-deploy` job to KMM.
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fix filter via state
  prow/cmd/deck/static/prow/prow.ts
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 22 Mar 2023 00:01:50 UTC
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-lp-interop-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

increase InRepoConfigCacheSize back to 1000
  prow/cmd/checkconfig/main_test.go
  prow/cmd/crier/main_test.go
  prow/cmd/deck/main_test.go
  prow/cmd/gerrit/main_test.go
  prow/cmd/hmac/main_test.go
  prow/cmd/hook/main_test.go
  prow/cmd/horologium/main_test.go
  prow/cmd/pipeline/main_test.go
  prow/cmd/sinker/main_test.go
  prow/cmd/status-reconciler/main_test.go
  prow/cmd/tide/main_test.go
  prow/flagutil/config/config.go
  testgrid/pkg/configurator/options/options_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Mon, 27 Mar 2023 00:02:04 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Makes the verify crd jobs optional
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Revert "Include PR's head Ref in ProwJob refs"
  prow/pjutil/pjutil.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Avoid failure when collecting logs
  logexporter/cluster/log-dump.sh
Due: post-test-infra-push-kubekins-e2e, pull-test-infra-integration

Update containerd jobs to use 1.7 and remove 1.5
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/containerd/containerd-release-1.5-presubmit/image-config-presubmit.yaml
  jobs/e2e_node/containerd/containerd-release-1.5/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.6-presubmit/env
  jobs/e2e_node/containerd/containerd-release-1.6-presubmit/image-config-presubmit.yaml
  jobs/e2e_node/containerd/containerd-release-1.6/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.7/env
  jobs/e2e_node/containerd/containerd-release-1.7/image-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, post-test-infra-upload-testgrid-config

kops test: add scalability presubmit
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Feat: add Gerrit revision service to gerritInstanceHandler
  prow/gerrit/client/client.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

k8s-infra: add more canary jobs for eks
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 28 Mar 2023 00:02:00 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.9-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

add CheckEmbeddedData bom job
  config/jobs/kubernetes-sigs/bom/bom-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Cancel pipeline when triggering a new test run
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Include PR's head Ref in ProwJob refs
  prow/pjutil/pjutil.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Add nawazkh to cluster-api-provider-azure OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Due: post-test-infra-upload-testgrid-config

Revert "Update Prow to v20230328-2d2bbbf73b"
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

tweaks to the jobs
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  jobs/e2e_node/containerd/containerd-main/env
  jobs/e2e_node/containerd/containerd-release-1.7-presubmit/env
  jobs/e2e_node/containerd/containerd-release-1.7-presubmit/image-config-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, post-test-infra-upload-testgrid-config

create more nodes for external e2e test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

[KMSv2] enable presubmit for release-1.27
  config/jobs/kubernetes/sig-auth/sig-auth-encryption-at-rest.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bump CRI-O jobs to commit `a22a6a4`
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_evented_pleg.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/crio_swap1g.ign
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio-with-1G-hugepages.yaml
  jobs/e2e_node/crio/templates/crio.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/crio/templates/crio_swap1g.yaml
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

Revert 1.23 dashboards removal
  config/testgrids/kubernetes/sig-release/config.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

remove KubeletCredentialProviders=true as it will be removed
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Cluster API: override GINKGO fail-fast for e2e periodic
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

releng: Add 1.27 and remove 1.22 & 1.23 dashboards
  config/testgrids/kubernetes/sig-release/config.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

add periodic job for e2e-framework
  config/jobs/kubernetes-sigs/e2e-framework/e2e-framework-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

releng: Auto generated files
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  releng/test_config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-integration, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Thu, 30 Mar 2023 00:03:02 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

add pacoxu to sig-node related ci reviewers list
  config/jobs/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

speedup builds for core CI images
  images/krte/cloudbuild.yaml
  images/kubekins-e2e/cloudbuild.yaml
Due: post-test-infra-push-krte, post-test-infra-push-kubekins-e2e
