Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20210913-fc7c4e84f6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-monitoring:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-monitoring
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-prow-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-prow-build
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-prow-build-trusted:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-prow-build-trusted
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

Promote kOps 1.26.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.1.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.26.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.2.yaml
Due: pull-k8sio-file-promo, post-k8sio-file-promo, k8sio-k8s-resources-verify

Promote kOps 1.26.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.26.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kOps 1.26.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image bullseye-v1.5.3
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v0.2.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for setcap bullseye-v1.4.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

deploy oci-proxy prod from staging
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
Due: none

upgrade oci-proxy-prod to archeio v0.2.0
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
Due: none

promote archeio v0.2.0 image
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add a note about archeio release locations vs our deployments follow up to 4922
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
Due: none

registry.k8s.io: Add southamerica-east1 region
  infra/gcp/bash/ensure-prod-storage.sh
Due: none

add jichen into cloud-provider openstack
  groups/sig-cloud-provider/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

golang 1.20 and apline 3.17.2 builds
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

deploy ESO on EKS
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/README.md
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/configmaps.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/external-secrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/values
  infra/aws/terraform/prow-build-cluster/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/tune-sysctls_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/namespaces.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/cpu-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/mem-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/test-pods-poddisruptionbudget.yaml
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
  infra/gcp/terraform/modules/workload-identity-service-account/main.tf
  infra/gcp/terraform/modules/workload-identity-service-account/variables.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, k8sio-k8s-resources-verify

concat accepts a list
  infra/gcp/terraform/modules/workload-identity-service-account/main.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

chore: add lfx mentee to capg group
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

apply arnaud's suggestions
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/external-secrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/tune-sysctls_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/namespaces.yaml
  infra/gcp/terraform/k8s-infra-prow-build/00-provider.tf
Due: pull-k8sio-terraform-prow-build, k8sio-k8s-resources-verify

Kustomize v5.0.1 image
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

updated the e2e test runner image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote EBS CSI Driver v1.17.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.4.0-rc.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

capi: Add dns for Cluster API v1.4 release. Update main cname to v1.4
  dns/zone-configs/k8s.io._0_base.yaml
Due: pull-k8sio-dns-validate-config, k8sio-k8s-resources-verify, post-k8sio-dns-update

updated hash of kube-webhook-certgen
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

reference the correct namespaces and update oidc url
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/configmaps.yaml
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
Due: pull-k8sio-terraform-prow-build, k8sio-k8s-resources-verify

dont force version updates
  infra/aws/terraform/prow-build-cluster/eks.tf
Due: none

Deploy ESO on EKS (#4930)
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/README.md
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/configmaps.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/external-secrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/values
  infra/aws/terraform/prow-build-cluster/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/namespaces.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/cpu-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/mem-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/test-pods-poddisruptionbudget.yaml
  infra/gcp/terraform/k8s-infra-prow-build/00-provider.tf
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
  infra/gcp/terraform/modules/workload-identity-service-account/main.tf
  infra/gcp/terraform/modules/workload-identity-service-account/variables.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, k8sio-k8s-resources-verify

load secrets via eso
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/test-pods-poddisruptionbudget.yaml
Due: k8sio-k8s-resources-verify

Fix workload identity provider
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
  infra/gcp/terraform/modules/gke-cluster/versions.tf
  infra/gcp/terraform/modules/gke-nodepool/versions.tf
  infra/gcp/terraform/modules/gke-project/versions.tf
  infra/gcp/terraform/modules/workload-identity-service-account/versions.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

audit: update as of 2023-03-15
  audit/projects/k8s-infra-e2e-boskos-008/buckets/kubernetes-staging-5fa53dfd23-us-central1/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-013/buckets/kubernetes-staging-8b8311a802-europe-west6/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-015/buckets/kubernetes-staging-0b4e04cff8-us-central1/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-022/buckets/kops-state-k8s-infra-e2e-boskos-022/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-022/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-024/buckets/kops-state-k8s-infra-e2e-boskos-024/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-024/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-038/buckets/artifacts.k8s-infra-e2e-boskos-038.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-038/buckets/artifacts.k8s-infra-e2e-boskos-038.appspot.com/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-038/buckets/kops-state-k8s-infra-e2e-boskos-038/iam.json
  audit/projects/k8s-infra-e2e-boskos-038/buckets/kops-state-k8s-infra-e2e-boskos-038/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-038/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-053/buckets/kubernetes-staging-32a7e5d723-us-central1/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-054/buckets/kops-state-k8s-infra-e2e-boskos-054/iam.json
  audit/projects/k8s-infra-e2e-boskos-054/buckets/kops-state-k8s-infra-e2e-boskos-054/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-054/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-106/buckets/artifacts.k8s-infra-e2e-boskos-106.appspot.com/iam.json
  audit/projects/k8s-infra-e2e-boskos-106/buckets/artifacts.k8s-infra-e2e-boskos-106.appspot.com/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-106/buckets/kops-state-k8s-infra-e2e-boskos-106/iam.json
  audit/projects/k8s-infra-e2e-boskos-106/buckets/kops-state-k8s-infra-e2e-boskos-106/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-106/services/compute/project-info.json
  audit/projects/k8s-infra-sandbox-capg/services/compute/project-info.json
  audit/projects/k8s-staging-cluster-api-helm/services/logging/logs.json
  audit/projects/k8s-staging-etcdadm/services/logging/logs.json
  audit/projects/k8s-staging-zeitgeist/services/logging/logs.json
Due: none

releng: Image promotion for kubernetes v1.24.12 / v1.24.13-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.24.12
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.25.8
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
