Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
      - make e2e-bootstrap e2e-helm-deploy-release e2e-vault
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcp-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

build: make manifests dependencies
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

release: update manifests and helm chart for v0.0.22
  charts/index.yaml
  charts/secrets-store-csi-driver-0.0.22.tgz
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/_helpers.tpl
  charts/secrets-store-csi-driver/templates/podsecuritypolicy.yaml
  charts/secrets-store-csi-driver/templates/role.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  deploy/csidriver.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: add a link to branch compare
  docs/RELEASE.md
Due: none

set-as-env-var pod indent
  docs/book/src/topics/set-as-env-var.md
Due: none

[Issue-534] PR changes request
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: adds release management guidelines
  docs/Release_Management.md
Due: none

chore: updates document
  docs/Release_Management.md
Due: none

chore: ignores debug binary
  .gitignore
Due: none

feat: adds resources for local debug
  .local/Dockerfile
  .local/README.md
  .local/debug-driver.yaml
  .local/kind-config.yaml
  .local/persistent-volume.yaml
Due: none

docs: adds debug steps
  .local/README.md
  .local/kind-config.yaml
Due: none

docs: adds link to debug steps
  README.md
Due: none

fix: default version for local debugging
  pkg/version/version.go
Due: none

docs: updates name
  README.md
Due: none

docs: update steps
  .local/README.md
Due: none

docs: typos
  .local/debug-driver.yaml
Due: none

ci: enable shellcheck and fix errors
  Makefile
  hack/update-codegen.sh
  hack/verify-codegen.sh
Due: none

chore: bump golang.org/x/crypto to v0.0.0-20201216223049-8b5274cf687f
  go.mod
  go.sum
Due: none

Helm chart: provide ability to add volume and volumeMounts
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

resolve comments: move to manifest_staging folder
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Update manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: add psp snippet to manifests target
  Makefile
Due: none

Helm chart: provide ability to add volume and volumeMounts (#539)
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

fix: CVE-2021-3520
  Makefile
  docker/BASEIMAGE
  docker/Dockerfile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

add tam7t as approver
  OWNERS
Due: none

docs: add membership criteria and getting involved section
  README.md
  docs/MEMBERSHIP.md
Due: none

chore: update to debian-base v1.7.0
  docker/BASEIMAGE
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

chore: remove deprecated --grpc-supported-providers and --debug flag
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

[Issue-534] PR changes request
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

[Issue-534] PR changes request
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

add aws integration tests
  Makefile
  test/bats/aws.bats
  test/bats/tests/aws/BasicTestMount.yaml
  test/bats/tests/aws/BasicTestMountSPC.yaml
  test/scripts/initialize_eks_cluster.bash
Due: none

helm: add image pull secrets (#554)
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Added GOPROXY propagation to container builds
  Makefile
  docker/Dockerfile
  docker/windows.Dockerfile
Due: secrets-store-csi-driver-push-image

Add uuid to AWS secret and parameter names
  Makefile
  test/bats/aws.bats
  test/bats/tests/aws/BasicTestMountSPC.yaml
  test/scripts/initialize_eks_cluster.bash
Due: none

fix(helm/values) - default syncSecret.enable to false
  Makefile
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: fix the default volume path for providers
  docs/book/src/providers.md
Due: none

feat: add arm64 build
  Makefile
  docker/BASEIMAGE
  docker/Dockerfile
  docker/windows.Dockerfile
Due: secrets-store-csi-driver-push-image

Replace golang.org/x/net/context with context
  pkg/csi-common/controllerserver-default.go
  pkg/csi-common/identityserver-default.go
  pkg/csi-common/nodeserver-default.go
  pkg/csi-common/utils.go
  pkg/secrets-store/controllerserver.go
  pkg/secrets-store/identityserver.go
  pkg/secrets-store/nodeserver.go
  pkg/secrets-store/nodeserver_test.go
  pkg/secrets-store/utils.go
Due: none

Add: AWS provider link
  docs/book/src/concepts.md
Due: none

Add AWS Provider (#517)
  docs/book/src/concepts.md
  docs/book/src/introduction.md
Due: none

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*
