Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-containerd, post-kubernetes-push-perf-tests-networknetperfbenchmark, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-scratch, post-kubernetes-push-perf-tests-sleep, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

post-kubernetes-push-perf-tests-access-tokens:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-containerd:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-networknetperfbenchmark:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-probes:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-request-benchmark:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-scratch:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-sleep:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-watch-list:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

list benchmark: increase APISERVER_MEMORY_THRESHOLD_MEGABYTES
  clusterloader2/testing/list/modules/measurements.yaml
  util-images/request-benchmark/Makefile
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

cl2/list: bump pod mem for the informer mode
  clusterloader2/testing/list/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add pod size test
  clusterloader2/testing/write-throughput/modules/initial-pods/size_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Modernize ooms tracker
  clusterloader2/docs/oom_detection.md
  clusterloader2/pkg/measurement/common/ooms_tracker.go
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/huge-service/modules/measurements.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Fix lb node sync latency measurement
  clusterloader2/pkg/measurement/common/loadbalancer_nodesync_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add HPA reconciliation baseline test
  clusterloader2/testing/hpa/OWNERS
  clusterloader2/testing/hpa/README.md
  clusterloader2/testing/hpa/config.yaml
  clusterloader2/testing/hpa/deployment.yaml
  clusterloader2/testing/hpa/hpa.yaml
  clusterloader2/testing/hpa/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add WaitForRunningPodsRestart measurement
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart.go
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Simplify the measurement registration
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart.go
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Simplify the accepted toleration
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart.go
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

feat: add support for flexible pod count ranges and tolerations in WaitForPods measurement
  clusterloader2/pkg/measurement/common/wait_for_pods.go
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart.go
  clusterloader2/pkg/measurement/common/wait_for_running_pods_restart_test.go
  clusterloader2/pkg/measurement/util/wait_for_pods.go
  clusterloader2/pkg/measurement/util/wait_for_pods_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Update pod size to 10KB
  clusterloader2/testing/write-throughput/modules/initial-pods/pod.yaml
  clusterloader2/testing/write-throughput/modules/initial-pods/size_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add support for generic jobType to Perfdash exposing all measurements generic measurements
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
  perfdash/metrics-downloader.go
  perfdash/parser_test.go
  perfdash/www/VERSION
Due: none

Enable MatchAllTests on GenericMeasurements and add benchmarkWriteThroughput jobType
  perfdash/config.go
  perfdash/parser_test.go
Due: none

Allow specifying aggregation in clusterloader2
  clusterloader2/pkg/measurement/common/executors/promql_executor.go
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
  clusterloader2/pkg/measurement/common/prometheus_measurement.go
  clusterloader2/pkg/measurement/util/prometheus.go
  clusterloader2/testing/write-throughput/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Rewrite test to be more human readable
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
  clusterloader2/pkg/measurement/common/testdata/generic_query_measurement/informer_cache_lag.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add measurements to write throughput benchmark based on perflens dashboard
  clusterloader2/testing/write-throughput/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Humanize units on vertical axis
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/www/VERSION
  perfdash/www/script.js
Due: none

Add readliness probe to perfdash to allow rolling update
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/perfdash.go
  perfdash/www/VERSION
Due: none

Disable infinite caching of files
  perfdash/perfdash.go
Due: none

perfdash: implement Phase 2 Thanos TSDB block writer and query backend
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/go.mod
  perfdash/go.sum
  perfdash/metrics-downloader.go
  perfdash/perfdash.go
  perfdash/thanos_backend.go
  perfdash/thanos_backend_test.go
  perfdash/www/VERSION
Due: none

clusterloader2: add kubelite 100-node hybrid Prow presubmit prototype
  clusterloader2/cmd/clusterloader.go
  clusterloader2/cmd/kubelite/main.go
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go
  clusterloader2/testing/load/modules/reconcile-objects/daemonset.yaml
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
  clusterloader2/testing/load/modules/reconcile-objects/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects/statefulset.yaml
  clusterloader2/testing/load/modules/scheduler-throughput/simple-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

test(clusterloader2): add unit tests for pkg/state
  clusterloader2/pkg/state/namespaces_state_test.go
  clusterloader2/pkg/state/resource_state_test.go
  clusterloader2/pkg/state/state_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

test(clusterloader2): add unit tests for pkg/flags
  clusterloader2/pkg/flags/flags_test.go
  clusterloader2/pkg/flags/types_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add workerqueue test
  clusterloader2/pkg/measurement/util/workerqueue/workerqueue_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2/testing/list: use current version of the request benchmark
  clusterloader2/testing/list/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

write-throughput: increase watch pod resources and start measurements after setup
  clusterloader2/testing/write-throughput/config.yaml
  clusterloader2/testing/write-throughput/modules/watch/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: parameterize tuningSet for services module in load test
  clusterloader2/testing/load/modules/services/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add watch-list mode to the http mode of the request benchmark
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_http.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

Enable WatchList requests in HTTP list benchmark
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/deployment.yaml
  clusterloader2/testing/list/modules/list-benchmark.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Fix calculating conflict rate based on updated metrics
  clusterloader2/testing/write-throughput/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

write-throughput: disable background watch workload by default
  clusterloader2/testing/write-throughput/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add watch delay measuring to load test so we can track node authorizer improvements
  clusterloader2/testing/load/modules/measurements.yaml
  clusterloader2/testing/write-throughput/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

perfdash: set thanos-store and thanos-query log level to warn
  perfdash/deployment.yaml
Due: none

write-throughput: fallback WatchTerminationRate to 0 when no watchers terminate
  clusterloader2/testing/write-throughput/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

write-throughput: switch generator wait to WaitForRunningPods to avoid cluster-wide watcher
  clusterloader2/pkg/measurement/common/wait_for_pods.go
  clusterloader2/testing/write-throughput/modules/watch/config.yaml
  clusterloader2/testing/write-throughput/modules/writer/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: bump to 0.37.1
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

util-images: bump image tags for k8s 1.37 dependency updates
  util-images/access-tokens/Makefile
  util-images/probes/Makefile
  util-images/request-benchmark/Makefile
  util-images/watch-list/Makefile
Due: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-util-images

Revert "Merge pull request #4432 from Jefftree/services-default-tuningset"
  clusterloader2/testing/load/modules/services/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Path conditions:
  post-kubernetes-push-perf-tests-access-tokens: any of: ^util-images\/access-tokens\/
  post-kubernetes-push-perf-tests-containerd: any of: ^util-images\/containerd\/
  post-kubernetes-push-perf-tests-networknetperfbenchmark: any of: ^util-images\/network\/netperfbenchmark\/
  post-kubernetes-push-perf-tests-probes: any of: ^util-images\/probes\/
  post-kubernetes-push-perf-tests-request-benchmark: any of: ^util-images\/request-benchmark\/
  post-kubernetes-push-perf-tests-scratch: any of: ^util-images\/scratch\/
  post-kubernetes-push-perf-tests-sleep: any of: ^util-images\/sleep\/
  post-kubernetes-push-perf-tests-watch-list: any of: ^util-images\/watch-list\/
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
  pull-perf-tests-ec2-master-scale-performance-100: any of: ^clusterloader2/.*$
  pull-perf-tests-gce-master-scale-performance-100: any of: ^clusterloader2/.*$
