Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-modsecurity, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-e2e-image-debian, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-modsecurity: any of: images/modsecurity/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-e2e-image-debian: any of: images/test-runner-debian/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

use \n only
  internal/ingress/controller/template/template.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

build image modules in CI
  .github/workflows/ci.yaml
Due: none

always use the base image's entrypoint
  rootfs/Dockerfile
Due: none

Add docs on Election ID to Multiple Ingress Controller guide
  docs/index.md
  docs/user-guide/multiple-ingress.md
Due: none

Add docs on Election ID to Multiple Ingress Controller guide (#8855)
  docs/index.md
  docs/user-guide/multiple-ingress.md
Due: none

Deploy GitHub Pages
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/multiple-ingress/index.html
Due: none

bump to alpine-3.16.1
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/httpbin/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-httpbin-image

bump to alpine-3.16.1 (#8858)
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/httpbin/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-httpbin-image

Deploy GitHub Pages
  examples/customization/sysctl/patch.json
  sitemap.xml
  sitemap.xml.gz
Due: none

update dd-opentracing-cpp version in nginx build script (#8848)
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

fix: make use of sed portable for BSD and GNU
  hack/generate-deploy-scripts.sh
Due: pull-ingress-nginx-boilerplate

changed baseimage sha & bumped ginkgo to 2.1.4 in test
  NGINX_BASE
  build/run-in-docker.sh
  images/nginx/rc.yaml
  test/e2e/run-chart-test.sh
  test/e2e/run.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

changed baseimage sha & bumped ginkgo to 2.1.4 in test (#8860)
  NGINX_BASE
  build/run-in-docker.sh
  images/nginx/rc.yaml
  test/e2e/run-chart-test.sh
  test/e2e/run.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

update baseimage after bump of opentracing-cpp
  NGINX_BASE
  images/nginx/rc.yaml
Due: post-ingress-nginx-build-nginx-image

fix: test-runner prow build
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image

update baseimage after bump of opentracing-cpp (#8861)
  NGINX_BASE
  images/nginx/rc.yaml
Due: post-ingress-nginx-build-nginx-image

fix: make use of sed portable for BSD and GNU (#8859)
  hack/generate-deploy-scripts.sh
Due: pull-ingress-nginx-boilerplate

fix: test-runner prow build (#8864)
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image

Revert "fix: test-runner prow build"
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image

Revert "fix: test-runner prow build" (#8865)
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image

update GCE doc with proxy protocol and some fixes
  docs/deploy/index.md
Due: none

update gke docs
  Makefile
  docs/deploy/index.md
Due: none

fix: change cloudbuild configuration
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-build-e2e-image

version (commit sha) bump for dependency github.com/moul/pb due to dependency licence (#8841)
  go.mod
  go.sum
Due: none

fix: change cloudbuild configuration (#8869)
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-build-e2e-image

Update gce docs (#8866)
  Makefile
  docs/deploy/index.md
Due: none
