Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-aws: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-vault: any of: ^charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: ^charts/.*

chore: bump `livenessprobe` and `csi-node-driver-registrar` (#2004)
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: none

chore: bump trivy to v0.69.3
  Makefile
Due: none

chore: bump gcb-docker-gcloud to latest in cloudbuild
  docker/cloudbuild.yaml
Due: secrets-store-csi-driver-push-image

docs: update `manifest_staging/charts/secrets-store-csi-driver/README.md`
  manifest_staging/charts/secrets-store-csi-driver/README.md
Due: none

fix(build): disable provenance and SBOM in buildx to fix manifest creation
  docker/build.sh
Due: secrets-store-csi-driver-push-image

fix(release-1.5): complete Go 1.26 compatibility
  .local/Dockerfile
  docker/Dockerfile
  docker/windows.Dockerfile
  go.mod
  hack/tools/go.mod
  pkg/metrics/prometheus_exporter_test.go
  pkg/rotation/reconciler.go
  pkg/rotation/stats_reporter_test.go
  test/e2eprovider/Dockerfile
  test/e2eprovider/go.mod
Due: secrets-store-csi-driver-push-image

fix(release-1.5): complete Go 1.26 compatibility
  go.mod
  hack/tools/go.mod
  pkg/rotation/reconciler.go
  test/e2eprovider/go.mod
Due: none

chore(ci): backport workflow dependency updates
  .github/workflows/chart.yaml
  .github/workflows/codecov.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/e2e.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/scan-vulns.yaml
  .github/workflows/scorecards.yaml
Due: none

fix(build): align Cloud Build QEMU version
  docker/build.sh
Due: secrets-store-csi-driver-push-image

fix(release-1.5): resolve upgraded linter findings
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler.go
  pkg/rotation/reconciler_test.go
Due: none

ci(deps): verify every Go module
  .github/workflows/scan-vulns.yaml
Due: none

Delete .github/workflows/copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

ci: add `sts.amazonaws.com` audience to `e2e-helm-deploy` tokenRequests
  Makefile
Due: none

ci: use SHA-pinned govulncheck dependencies
  .github/workflows/scan-vulns.yaml
Due: none

test: cover synchronized Secret owner reference scenarios
  controllers/secretproviderclasspodstatus_controller_test.go
  test/bats/e2e-provider.bats
Due: none

Bump image version in Makefiles
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

Promote 1.5.7 staging manifest
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/values.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
Due: release-secrets-store-csi-driver-e2e-aws, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure

Update docs/RELEASE.md, split some concerns
  docs/RELEASE.md
Due: none

fix: make SPC pod status reconciliation idempotent
  pkg/secrets-store/utils.go
  pkg/secrets-store/utils_test.go
Due: none

fix: sync resolvable secretObjects keys when a sibling object is missing
  controllers/secretproviderclasspodstatus_controller.go
  pkg/util/secretutil/secret.go
  pkg/util/secretutil/secret_test.go
Due: none

Set the controller-runtime logger from klog
  cmd/secrets-store-csi-driver/main.go
Due: none

controller-runtime: wire logger to klog
  cmd/secrets-store-csi-driver/main.go
Due: none

e2e: wait for a pod to execute into to be ready
  test/bats/azure.bats
Due: none

reduce live requests during SecretProviderClassPodStatus reconciliation
  pkg/secrets-store/utils.go
  pkg/secrets-store/utils_test.go
Due: none

add stlaz to OWNERS
  OWNERS
Due: none
