Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

Fix typo
  cmd/release-notes/README.md
Due: post-release-push-image-k8s-ci-builder

group dependencies updates
  .github/dependabot.yml
Due: none

fix dependabot config
  .github/dependabot.yml
Due: none

update cosign image to v2.2.1
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Build Go 1.21.4 and 1.20.11 images
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

drop 1.25 config
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Update distroless-iptables to use go 1.21.4
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Update k8s-cloud-builder to go 1.21.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

Update k8s-cloud-builder to go 1.20.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

Update k8s-cloud-builder/k8s-ci-builder to Go 1.20.11 and add missing for 1.21.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Use latest krel binary release instead of compilation in cloudbuild
  docs/krel/README.md
  gcb/fast-forward/cloudbuild.yaml
  gcb/obs-release/cloudbuild.yaml
  gcb/obs-stage/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  hack/get-krel
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Set `KUBE_CROSS_VERSION` to latest if required
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Update zeitgeist to v0.4.3
  dependencies.yaml
  hack/verify-dependencies.sh
Due: none

Cleanup dependencies.yaml
  dependencies.yaml
Due: none

Update other k8s dependendencies
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

update to go1.21
  .github/workflows/lint.yml
  dependencies.yaml
  go.mod
  images/build/go-runner/go.mod
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-go-runner

bump dependencies
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

add cofig for go1.20 for distroless-iptables
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/cloudbuild.yaml
  images/build/distroless-iptables/distroless-bookworm/Dockerfile
  images/build/distroless-iptables/distroless-bookworm/clean-distroless.sh
  images/build/distroless-iptables/distroless-bookworm/package-utils.sh
  images/build/distroless-iptables/distroless-bookworm/stage-binaries-from-package.sh
  images/build/distroless-iptables/distroless-bookworm/stage-binary-and-deps.sh
  images/build/distroless-iptables/distroless-bullseye/Dockerfile
  images/build/distroless-iptables/distroless-bullseye/clean-distroless.sh
  images/build/distroless-iptables/distroless-bullseye/package-utils.sh
  images/build/distroless-iptables/distroless-bullseye/stage-binaries-from-package.sh
  images/build/distroless-iptables/distroless-bullseye/stage-binary-and-deps.sh
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Upgrade go-github
  go.mod
  go.sum
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

update go-github to v56 and fix code
  go.mod
  go.sum
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Fix number of steps in `krel obs` output
  pkg/obs/obs.go
Due: post-release-push-image-k8s-ci-builder

Skip unfinished jobs in `krel history`
  pkg/gcp/gcb/history.go
  pkg/gcp/gcb/history_test.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.21.5 and 1.20.12
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Update distroless-iptables to use go 1.21.5
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Build k8s-ci-builder and k8s-cloud-bulider with Go 1.21.5
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

update cosign image to use v2.2.2 release
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Build k8s-ci-builder and k8s-cloud-bulider with Go 1.20.12
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update Go updates template with the latest process changes
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

Create publishing-bot issues when cutting rc.0
  pkg/anago/release.go
Due: post-release-push-image-k8s-ci-builder

publish the marker inside the fast folder
  go.mod
  go.sum
  pkg/release/publish.go
  pkg/release/releasefakes/fake_publisher_client.go
Due: post-release-push-image-k8s-ci-builder

Move generate CLI logic to subcommand
  cmd/release-notes/generate.go
  cmd/release-notes/main.go
Due: post-release-push-image-k8s-ci-builder

Make release-notes generate the default subcommand
  cmd/release-notes/generate.go
  cmd/release-notes/main.go
Due: post-release-push-image-k8s-ci-builder

Add ReleaseNoteForPullRequest function
  cmd/release-notes/main.go
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

Add test for TestReleaseNoteForPullRequest
  pkg/notes/notes_test.go
Due: post-release-push-image-k8s-ci-builder

Add release-notes check subcommand
  cmd/release-notes/check.go
  cmd/release-notes/check_test.go
Due: post-release-push-image-k8s-ci-builder

fix allow-dup flag as well when building a release
  pkg/build/ci.go
  pkg/release/images.go
Due: post-release-push-image-k8s-ci-builder

use a single const for all valid arches
  pkg/binary/binary.go
  pkg/binary/elf.go
  pkg/binary/mach-o.go
  pkg/binary/windows.go
  pkg/consts/main.go
  pkg/notes/document/document_test.go
  pkg/notes/document/testdata/document.md.golden
  pkg/obs/obs.go
  pkg/obs/specs/archive.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/pkgdef.go
  pkg/obs/specs/specs.go
  pkg/release/images.go
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.21.6 and 1.20.13
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

update distroless iptables to use go1.21.6 and go1.20.13
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

fix deps
  dependencies.yaml
Due: none
