Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

clean up the run function in the run command
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

assign err from Validate nad pass only if not nil and return
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

set IOStreams for options from flags
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

use genericiooptions
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

wrap validation call in cmdutil.CheckErr()
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

add to comment
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

set timeout in attach options correctly, Set restart option from flags
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

fixing tests and default options for run flags
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
  test/cmd/run.sh
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

refactored options methods to not depend on cobra
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Due: pull-kubernetes-godeps

default leavestdinopen to false
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

formatting
  staging/src/k8s.io/kubectl/pkg/cmd/run/run_test.go
Due: pull-kubernetes-godeps

reverting removal of setting flags in newCMDFunction
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

Refactored Run command into flags and options. Broke out validation of the command into its own function. updated tests
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run_test.go
Due: pull-kubernetes-godeps

remove redundat validate call
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Due: pull-kubernetes-godeps

Ensure timeout test handlers don't complete before timing out.
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
Due: pull-kubernetes-godeps

add support for authorizer to type checking.
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/typechecking.go
Due: pull-kubernetes-godeps

bump distroless-iptables to v0.2.5
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Due: pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Re-add the legacy wsstream package and deprecate it
  staging/src/k8s.io/apiserver/pkg/util/wsstream/legacy.go
Due: pull-kubernetes-godeps

Refactor wsstream library from apiserver to apimachinery
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/conn.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/conn_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/doc.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/stream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/stream_test.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/websocket/protocol.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/portforward.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/websocket.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/httpstream.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/websocket.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

Updating names from webhookconversion to conversionwebhook
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
Due: pull-kubernetes-godeps

Minor fix on variable
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
Due: pull-kubernetes-godeps

releng/go: Update images, dependencies and version to Go 1.20.5
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Due: pull-publishing-bot-validate, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Fix warnings on "duplicate" env vars
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
Due: none

Add k8s.io/apimachinery/pkg/util/ip to replace legacy IP parsing and utilities
  staging/src/k8s.io/apimachinery/pkg/util/ip/OWNERS
  staging/src/k8s.io/apimachinery/pkg/util/ip/cidr.go
  staging/src/k8s.io/apimachinery/pkg/util/ip/cidr_test.go
  staging/src/k8s.io/apimachinery/pkg/util/ip/family.go
  staging/src/k8s.io/apimachinery/pkg/util/ip/family_test.go
  staging/src/k8s.io/apimachinery/pkg/util/ip/ip.go
  staging/src/k8s.io/apimachinery/pkg/util/ip/ip_test.go
  staging/src/k8s.io/apimachinery/pkg/util/ip/legacy.go
Due: pull-kubernetes-godeps

Split IP address validation utils into their own file
  staging/src/k8s.io/apimachinery/pkg/util/validation/ip.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/ip_test.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation_test.go
Due: pull-kubernetes-godeps

fix 'pod' in kubelet prober metrics
  pkg/kubelet/prober/worker.go
  pkg/kubelet/prober/worker_test.go
Due: pull-kubernetes-local-e2e-containerized

Remove unreachable warning on volume name dup
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
  pkg/registry/batch/cronjob/strategy_test.go
  pkg/registry/batch/job/strategy_test.go
Due: none

Add warning handler callback function in shortcut expander
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags_fake.go
  staging/src/k8s.io/cli-runtime/pkg/printers/terminal.go
  staging/src/k8s.io/client-go/restmapper/shortcut.go
  staging/src/k8s.io/client-go/restmapper/shortcut_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/testing/fake.go
  staging/src/k8s.io/kubectl/pkg/util/term/term.go
Due: pull-kubernetes-godeps

Add warningPrinter functionality in ConfigFlags
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
Due: pull-kubernetes-godeps

Pass warning callback function in ConfigFlags to shortcutExpander
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
  staging/src/k8s.io/client-go/restmapper/shortcut.go
  staging/src/k8s.io/client-go/restmapper/shortcut_test.go
Due: pull-kubernetes-godeps

Add integration test for CRDs having ambiguous short names
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  test/cmd/discovery.sh
  test/cmd/legacy-script.sh
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Move default config flags initialization into function
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
Due: pull-kubernetes-godeps

Skip warning for versions of same group/resource
  staging/src/k8s.io/client-go/restmapper/shortcut.go
  staging/src/k8s.io/client-go/restmapper/shortcut_test.go
Due: pull-kubernetes-godeps

Remove defaultConfigFlag global variable
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
Due: pull-kubernetes-godeps

[release-1.26] releng/go: Update images, dependencies and version to Go 1.19.10
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Due: pull-publishing-bot-validate, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

[release-1.25] releng/go: Update images, deps and ver to go 1.19.10
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Due: pull-publishing-bot-validate, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps
