Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

comment out temporarily the verify image signatures
  pkg/anago/release_test.go
  pkg/release/images.go
  pkg/release/images_test.go
Due: post-release-push-image-k8s-ci-builder

update debian-iptables and distroless-iptables to go 1.20.3
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Build Go 1.20.4 and 1.19.9 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Add spec files for 'krel obs specs'
  cmd/krel/templates/latest/rpm/cri-tools/LICENSE
  cmd/krel/templates/latest/rpm/cri-tools/README.md
  cmd/krel/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/rpm/kubeadm/10-kubeadm.conf
  cmd/krel/templates/latest/rpm/kubeadm/LICENSE
  cmd/krel/templates/latest/rpm/kubeadm/README.md
  cmd/krel/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/rpm/kubectl/LICENSE
  cmd/krel/templates/latest/rpm/kubectl/README.md
  cmd/krel/templates/latest/rpm/kubectl/kubectl.spec
  cmd/krel/templates/latest/rpm/kubelet/LICENSE
  cmd/krel/templates/latest/rpm/kubelet/README.md
  cmd/krel/templates/latest/rpm/kubelet/kubelet.env
  cmd/krel/templates/latest/rpm/kubelet/kubelet.service
  cmd/krel/templates/latest/rpm/kubelet/kubelet.spec
  cmd/krel/templates/latest/rpm/kubernetes-cni/LICENSE
  cmd/krel/templates/latest/rpm/kubernetes-cni/README.md
  cmd/krel/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Cleanup of unused verify-shellcheck.
  Makefile
  hack/verify-shellcheck.sh
Due: none

Update release-sdk to ade4629
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Remove "Kubernetes Source Code" from being published on GitHub
  pkg/anago/release.go
Due: post-release-push-image-k8s-ci-builder

Implement krel obs stage command
  cmd/krel/cmd/obs_stage.go
  gcb/obs-stage/cloudbuild.yaml
  pkg/gcp/gcb/gcb.go
  pkg/obs/obs.go
  pkg/obs/prerequisites.go
  pkg/obs/stage.go
Due: post-release-push-image-k8s-ci-builder

Update Cloud Build manifests
  cmd/krel/cmd/obs_release.go
  cmd/krel/cmd/obs_stage.go
  gcb/obs-release/cloudbuild.yaml
Due: post-release-push-image-k8s-ci-builder

Bump builders to use Go 1.19.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

kube-cross v1.28: switch to debian bookworm
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

golang: Build 1.21rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Add CloudBuild manifest for krel obs stage
  gcb/stage/cloudbuild.yaml
Due: none

Drop `arm` arch from `kubepkg`
  pkg/kubepkg/options/options.go
Due: post-release-push-image-k8s-ci-builder

Fix scorecards analysis CI test (take 2)
  .github/workflows/scorecards-analysis.yml
Due: none

Update release-utils to the latest commit
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Remove debian-iptables image
  .github/ISSUE_TEMPLATE/dep-golang.md
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/OWNERS
  images/build/debian-iptables/README.md
  images/build/debian-iptables/bookworm/Dockerfile
  images/build/debian-iptables/bookworm/iptables-wrapper
  images/build/debian-iptables/cloudbuild.yaml
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

krel obs specs improvements
  cmd/krel/cmd/obs_specs.go
  pkg/obs/consts/consts.go
  pkg/obs/options/options.go
  pkg/obs/specs/archive.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/impl.go
  pkg/obs/specs/pkgdef.go
  pkg/obs/specs/specs.go
  pkg/obs/specs/specsfakes/fake_impl.go
  pkg/obs/specs/template.go
Due: post-release-push-image-k8s-ci-builder

Add a note about k/k PR potentially needing to bump go.sum
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

update debian-iptables and distroless-iptables to use go 1.20.5
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Bump missing versions in dependencies
  dependencies.yaml
Due: none

debian-base: switch to bookworm
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/bookworm/Dockerfile
  images/build/debian-base/bookworm/Dockerfile.build
  images/build/debian-base/bookworm/clean-install
  images/build/debian-base/bookworm/excludes
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Bump k8s-cloud-builder and golang refs to 1.20.5 after k/k update
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

update golangci-lint to v1.53
  .github/workflows/lint.yml
  .golangci.yml
  dependencies.yaml
Due: none

Add osc to k8s-cloud-builder
  images/k8s-cloud-builder/Dockerfile
  images/k8s-cloud-builder/test.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

Generate counterfeiter funcs for obs package
  pkg/obs/obs.go
  pkg/obs/obsfakes/fake_prerequisites_checker_impl.go
  pkg/obs/obsfakes/fake_stage_client.go
  pkg/obs/obsfakes/fake_stage_impl.go
Due: post-release-push-image-k8s-ci-builder

Add publish-release and release notes to build targets
  cmd/publish-release/cmd/github.go
  compile-release-tools
  pkg/announce/github_page.go
Due: post-release-push-image-k8s-ci-builder

Address review comments
  pkg/obs/metadata/metadata.go
  pkg/obs/options/options.go
  pkg/obs/specs/archive.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/specs.go
  pkg/obs/specs/template.go
Due: post-release-push-image-k8s-ci-builder

Update packages in distroless-iptables build
  images/build/distroless-iptables/distroless/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Fix linter errors
  cmd/krel/cmd/obs_release.go
Due: post-release-push-image-k8s-ci-builder

Fix env substitution in release/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
Due: none

update TestNewPatchRelease test
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

Replace deprecated deadline tag with timeout in .golangci.yaml
  .golangci.yml
Due: none

Update release-sdk and release-utils
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Build Go 1.19.10 and Go 1.20.5 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Implement OBS release workflow
  cmd/krel/cmd/obs_release.go
  pkg/gcp/gcb/gcb.go
  pkg/obs/obs.go
  pkg/obs/release.go
Due: post-release-push-image-k8s-ci-builder

use google/safetext for yaml templating.
  go.mod
  go.sum
  pkg/obs/specs/pkgdef.go
Due: post-release-push-image-k8s-ci-builder

obs: escape package version
  cmd/krel/templates/latest/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/kubectl/kubectl.spec
  cmd/krel/templates/latest/kubelet/kubelet.spec
  cmd/krel/templates/latest/kubernetes-cni/kubernetes-cni.spec
  pkg/obs/specs/archive.go
  pkg/obs/specs/pkgdef.go
Due: post-release-push-image-k8s-ci-builder
