Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210204-b06ec78
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

[go1.15] go-runner: Build v2.3.1-go1.15.10-buster.0 image
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci

debian-base: add a REGISTRY substitution to allow registry selection
  images/build/debian-base/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci

debian-hyperkube-base: add a REGISTRY substitution to allow registry selection
  images/build/debian-hyperkube-base/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-hyperkube-base, post-release-push-image-releng-ci

debian-iptables: add a REGISTRY substitution to allow registry selection
  images/build/debian-iptables/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci

setcap: add a REGISTRY substitution to allow registry selection
  images/build/setcap/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

k8s-cloud-builder: add a REGISTRY substitution to allow registry selection
  images/k8s-cloud-builder/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

images: fix environment variables duplication
  images/build/debian-base/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-go-runner, post-release-push-image-releng-ci

k8s-ci-builder: add a REGISTRY substitution to allow registry selection
  images/releng/k8s-ci-builder/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

releng-ci: add a REGISTRY substitution to allow registry selection
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

kubepkg: add a REGISTRY substitution to allow registry selection
  cloudbuild-kubepkg.yaml
Due: none

just a test
  images/k8s-cloud-builder/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Make staging of extra files optional
  pkg/build/build.go
  pkg/build/push.go
Due: none

setting platform config arch
  images/build/debian-base/Makefile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci

Update go-github to v33.0.0
  go.mod
  go.sum
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/internal/retry.go
  pkg/github/internal/retry_test.go
  pkg/github/record.go
  pkg/github/replay.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: none

Generate full json notes on first minor
  cmd/krel/cmd/release_notes.go
Due: none

Add wait and retry after creating the GitHub release page
  pkg/announce/github_page.go
Due: none

vulndash: add filter to get vulnerabilities for a specific registry hostname
  cmd/vulndash/Makefile
  cmd/vulndash/cmd/root.go
  cmd/vulndash/variants.yaml
  dependencies.yaml
  pkg/vulndash/adapter/adapter.go
Due: post-release-push-image-vulndash

vulndash: Build v0.4.3-1 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

krel release-notes now has 'do_not_publish' field in map to override release-note-none
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_map.go
Due: none

Add jeremyrickard to sig-release-leads
  OWNERS_ALIASES
Due: none

Add support for arm64 to kube-cross image
  images/build/cross/Dockerfile
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Remove test data with release-note-none
  cmd/krel/cmd/changelog_data_test.go
Due: none

Remove tpepper from security contacts
  SECURITY_CONTACTS
Due: none

Add hasheddan to securty contacts
  SECURITY_CONTACTS
Due: none

Revert "Merge pull request #1839 from sozercan/fix-arch"
  images/build/debian-base/Makefile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci

vulndash: fix wrong path for js file and small cleanup
  cmd/vulndash/Makefile
  cmd/vulndash/dashboard.html
  cmd/vulndash/dashboard.js
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

dependencies: update several dependecies
  go.mod
  go.sum
Due: none

go-runner: Build buster-v2.2.3 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci

vulndash: improve vulndash html page
  cmd/vulndash/Makefile
  cmd/vulndash/dashboard.html
  cmd/vulndash/dashboard.js
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

Add jeremyrickard to securty contacts
  SECURITY_CONTACTS
Due: none

Do not autodelete k/sig-release local copy until prompt for creating auto PR
  cmd/krel/cmd/release_notes.go
Due: none

kube-cross: bump image of kube-cross
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Tests for binary pkg
  pkg/binary/binary_test.go
Due: none

Binary package: Base module for binary analysis
  pkg/binary/binary.go
  pkg/binary/elf.go
  pkg/binary/header.go
  pkg/binary/mach-o.go
  pkg/binary/windows.go
Due: none

images: Build debian-hyperkube-base:buster-v1.3.0
  dependencies.yaml
  images/build/debian-hyperkube-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-hyperkube-base, post-release-push-image-releng-ci

kube-cross: rebuild image using go1.15.7
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Add verify-build step to make target
  Makefile
  hack/verify-build.sh
Due: none

kube-cross: set gcb timeout to 1h
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Switch to buildkit for building multi architecture images
  cmd/vulndash/cloudbuild.yaml
  dependencies.yaml
  images/build/cross/cloudbuild.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-base/variants.yaml
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-hyperkube-base/cloudbuild.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
  images/releng/k8s-ci-builder/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
