Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Fix NeededResourceClaims indexing in PodInfo tests
  cluster-autoscaler/simulator/framework/infos_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

add nil protection to scaleDownNodeToReport
  cluster-autoscaler/core/scaledown/actuation/actuator.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

aep-8905 native sidecar support
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

updated per feedback
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

rephrased the proposal
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

updated to remove mentions of separate method of tracking native sidecars
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

link spec client
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

small updates per feedback and better described the downgrade flow
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: replace RemoveNodeInfo with tainted ghost node in scale-down simulation
  cluster-autoscaler/simulator/cluster.go
  cluster-autoscaler/simulator/cluster_scheduling_test.go
  cluster-autoscaler/simulator/cluster_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chore: remove year from the boilerplate
  cluster-autoscaler/simulator/cluster_scheduling_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix: preserve CSINode and LocalResoureSlices in the ghost node
  cluster-autoscaler/simulator/cluster.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(VPA): add helm chart deployment-level annotations support for all components
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(vpa): use Helm chart for local E2E testing and dev deployment
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/dev-deploy-locally.sh
  vertical-pod-autoscaler/hack/e2e/values-e2e-local.yaml
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Migrate TestStaticAutoscalerRunOnce to synctest-based framework.
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/test/integration/inmemory/staticautoscaler_test.go
  cluster-autoscaler/test/integration/utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Run server dry run pod creation in buffer translators
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/capacitybuffer/client/client.go
  cluster-autoscaler/capacitybuffer/common/common.go
  cluster-autoscaler/capacitybuffer/common/common_test.go
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/controller/controller_test.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/podtemplate.go
  cluster-autoscaler/capacitybuffer/translators/podtemplate_test.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Hide server dry run behind a CLI flag
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/capacitybuffer/controller/controller_test.go
  cluster-autoscaler/capacitybuffer/fakepods/defaulting.go
  cluster-autoscaler/capacitybuffer/fakepods/defaulting_test.go
  cluster-autoscaler/capacitybuffer/fakepods/dryrun.go
  cluster-autoscaler/capacitybuffer/fakepods/dryrun_test.go
  cluster-autoscaler/capacitybuffer/fakepods/resolver.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Clean up resource quota code from custom defaulting
  cluster-autoscaler/capacitybuffer/controller/resourcequotas.go
  cluster-autoscaler/capacitybuffer/controller/resourcequotas_test.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Clean up node name from resolved pod
  cluster-autoscaler/capacitybuffer/translators/scalable_objects/scalable_object_resolvers.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add GetMigIsStable and refactor MigInfoProvider
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/cache.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/gce/gce_manager.go
  cluster-autoscaler/cloudprovider/gce/gce_manager_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update MIG info provider tests to use public methods
  cluster-autoscaler/cloudprovider/gce/cache_test.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider.go
  cluster-autoscaler/cloudprovider/gce/mig_info_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

testing calude
  vertical-pod-autoscaler/e2e/v1/native_sidecar.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/util.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go
  vertical-pod-autoscaler/pkg/features/features.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test.go
  vertical-pod-autoscaler/pkg/recommender/input/spec/spec_client_test_util.go
  vertical-pod-autoscaler/pkg/updater/inplace/resource_updates.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go
  vertical-pod-autoscaler/pkg/updater/utils/pod.go
  vertical-pod-autoscaler/pkg/utils/annotations/vpa_observed_containers.go
  vertical-pod-autoscaler/pkg/utils/sidecar/sidecar.go
  vertical-pod-autoscaler/pkg/utils/sidecar/sidecar_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_container.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

refactor: reorder RemoveNodeInfo before DeepCopy
  cluster-autoscaler/simulator/cluster.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chore: cluster autoscaler v1.35.0 (AKS) (#24)
  .azuredevops/pull_request_template.md
  .pipelines/cluster-autoscaler.yaml
  builder/Dockerfile
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_vmss_delete_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_deallocate_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vmss_delete_client.go
  cluster-autoscaler/cloudprovider/azure/deallocate/cloud_provider_deallocate.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/deallocate.go
  cluster-autoscaler/config/dynamic/config.go
  cluster-autoscaler/config/dynamic/config_fetcher.go
  cluster-autoscaler/config/dynamic/config_test.go
  cluster-autoscaler/config/dynamic/node_group_spec.go
  cluster-autoscaler/config/dynamic/node_group_spec_test.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/deallocate.go
  cluster-autoscaler/core/scaledown/eligibility/deallocate.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/taints/deallocate.go
  hack/verify-gofmt.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix(ca): Fix pre-commit hook trigger and make update-faq-flags script portable
  .pre-commit-config.yaml
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/hack/update-faq-flags.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(ca): add --startup-taint-prefix flag for custom startup taint prefixes
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/utils/taints/taints.go
  cluster-autoscaler/utils/taints/taints_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

comply with recommender-level constraints, and maintain container-level recommendation boundaries
  vertical-pod-autoscaler/pkg/recommender/logic/recommender.go
  vertical-pod-autoscaler/pkg/recommender/logic/recommender_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/capping_post_processor.go
  vertical-pod-autoscaler/pkg/recommender/routines/cpu_integer_post_processor.go
  vertical-pod-autoscaler/pkg/recommender/routines/cpu_integer_post_processor_test.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommendation_post_processor.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender.go
  vertical-pod-autoscaler/pkg/utils/limits/limits.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers.go
  vertical-pod-autoscaler/pkg/utils/resources/resourcehelpers_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(vpa): use Helm chart for local E2E testing and dev deployment
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-clusterrole.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-clusterroles.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
  vertical-pod-autoscaler/deploy/recommender-deployment.yaml
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
  vertical-pod-autoscaler/hack/dev-deploy-locally.sh
  vertical-pod-autoscaler/hack/e2e/values-e2e-local.yaml
  vertical-pod-autoscaler/hack/e2e/values-external-metrics.yaml
  vertical-pod-autoscaler/hack/e2e/vpa-rbac.diff
  vertical-pod-autoscaler/hack/run-e2e-locally.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Remove the replicas value
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update index.yaml
  index.yaml
Due: none

VPA E2Es: switch from docker.io ubuntu image to k8s-hosted busybox image
  vertical-pod-autoscaler/e2e/utils/common.go
  vertical-pod-autoscaler/e2e/v1/common.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

clusterapi: update taint documentation for scale-from-zero
  cluster-autoscaler/cloudprovider/clusterapi/README.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

clusterapi: read taints from scalable resource spec for scale-from-zero
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_test_framework.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
