Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Repository: Update owners. (#12570)
  OWNERS_ALIASES
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/OWNERS
  images/kube-webhook-certgen/OWNERS
Due: post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Repository: Update owners. (#12569)
  OWNERS_ALIASES
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/OWNERS
  images/kube-webhook-certgen/OWNERS
Due: post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Repository: Update owners. (#12568)
  OWNERS_ALIASES
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/OWNERS
  images/kube-webhook-certgen/OWNERS
Due: post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update index.yaml
  index.yaml
Due: none

Chart: Add `.spec.trafficDistribution` support for controller services
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Go: Clean `go.work.sum`.
  go.work.sum
Due: none

Go: Clean `go.work.sum`.
  go.mod
  go.work.sum
Due: none

Images: Trigger NGINX build.
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Go: Clean `go.work.sum`. (#12574)
  go.work.sum
Due: none

Go: Clean `go.work.sum`. (#12573)
  go.work.sum
Due: none

Go: Clean `go.work.sum`. (#12572)
  go.work.sum
Due: none

Go: Clean `go.work.sum`. (#12575)
  go.mod
  go.work.sum
Due: none

Images: Trigger NGINX build. (#12577)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build. (#12576)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build. (#12579)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Trigger NGINX build. (#12578)
  images/nginx/TAG
Due: post-ingress-nginx-nginx

Images: Bump `NGINX_BASE` to v1.1.0.
  NGINX_BASE
Due: none

Images: Bump `NGINX_BASE` to v1.1.0. (#12580)
  NGINX_BASE
Due: none

Images: Bump `NGINX_BASE` to v1.1.0. (#12582)
  NGINX_BASE
Due: none

Images: Bump `NGINX_BASE` to v0.2.0.
  NGINX_BASE
Due: none

Images: Bump `NGINX_BASE` to v0.2.0. (#12583)
  NGINX_BASE
Due: none

Images: Bump `NGINX_BASE` to v0.2.0. (#12584)
  NGINX_BASE
Due: none

Images: Trigger `test-runner` build.
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Trigger `test-runner` build. (#12585)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Trigger `test-runner` build. (#12588)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Trigger `test-runner` build. (#12586)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Images: Trigger `test-runner` build. (#12587)
  images/test-runner/TAG
Due: post-ingress-nginx-test-runner

Tests: Bump `e2e-test-runner` to v20241224-68ed4e7b.
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump `e2e-test-runner` to v20241224-68ed4e7b. (#12589)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate
