Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Review related fixes
  kwok/main.go
  pkg/cloudprovider/cloud_provider.go
  pkg/cloudprovider/kwok/kwok_provider.go
  pkg/cloudprovider/mocks/CloudProvider.go
  pkg/cloudprovider/test/fake_cloud_provider.go
  pkg/cloudprovider/test/test_cloud_provider.go
  pkg/config/flags/flags.go
  pkg/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  pkg/simulator/dynamicresources/snapshot/snapshot_test.go
  pkg/test/integration/clusterstateregistry/scale_up_with_deleted_nodes_test.go
  pkg/test/integration/config.go
Due: none

fix: correctly handling duplicate key/value taints with different effects on scaleway
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_node_group_test.go
  cluster-autoscaler/cloudprovider/scaleway/scalewaygo/scaleway_kapsule_api.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Resolve conflicts from master
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix import and reduce changes
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix golangci-lint errors
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix golangci-lint errors
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

VPA updater: export admission controller status metric
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Make hack/update-deps.sh fetch k8s.io/kubernetes before go mod tidy
  cluster-autoscaler/hack/update-deps.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update k8s deps to 1.37.0-rc1 and bump core CA
  cluster-autoscaler/apis/go.mod
  cluster-autoscaler/apis/go.sum
  cluster-autoscaler/e2e/go.mod
  cluster-autoscaler/e2e/go.sum
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix clusterapi, externalgrpc and gce outdated name imports
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
  cluster-autoscaler/cloudprovider/externalgrpc/externalgrpc_cloud_provider.go
  cluster-autoscaler/cloudprovider/router/router_all.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Adjust main entrypoint after changes to flags
  cluster-autoscaler/main.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add envtest support when its k8s version has not yet been released
  cluster-autoscaler/Makefile
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chore: update scaleway cloudprovider OWNERS
  cluster-autoscaler/cloudprovider/scaleway/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix GCE E2E suite by removing irrelevant import
  cluster-autoscaler/e2e/e2e_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: GCE: ignore empty ProviderID in NodeGroupForNode
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: GCE: add NodeGroupForNode test for malformed provider IDs
  cluster-autoscaler/cloudprovider/gce/gce_cloud_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add unit tests
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Increase logging verbosity in e2e tests
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
  vertical-pod-autoscaler/hack/deploy-for-e2e.sh
  vertical-pod-autoscaler/hack/e2e/values-e2e.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Address CodeRabbit review on ephemeral capacity buffers proposal
  cluster-autoscaler/proposals/ephemeral-buffers.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Address second CodeRabbit pass on ephemeral capacity buffers proposal
  cluster-autoscaler/proposals/ephemeral-buffers.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(aws): batch ASG instance termination
  cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

test(aws): cover batch termination boundaries (1, 100, 101 instances)
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Set default scheduler verbosity to 2
  pkg/config/flags/flags.go
  pkg/config/flags/flags_test.go
  pkg/simulator/clustersnapshot/predicate/plugin_runner.go
Due: none

feat(cloudprovider): implement nodeDeletionBatcherInterval property
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_processors.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(cloudprovider): implement nodeDeletionBatcherInterval logic
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

AEP-9936: name the specific field (initialDelaySeconds) in gate-input wording
  vertical-pod-autoscaler/enhancements/9936-vpa-observation-window/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Prefer TemplateNodeInfoRegistry for CSI processing
  pkg/processors/customresources/csi_processor.go
  pkg/processors/customresources/csi_processor_test.go
Due: none

Enable CSI Volume limit awareness by default
  pkg/FAQ.md
  pkg/config/flags/flags.go
  pkg/config/flags/flags_test.go
Due: none

Implement tests for rebalancing pods
  pkg/core/static_autoscaler_csi_test.go
Due: none

clusterapi: set resource slice count for DRA
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured.go
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_unstructured_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update mutex lock/unlock mechanism in NodeGroupChangeObserversList
  pkg/observers/nodegroupchange/scale_state_observer.go
Due: none

feat: add topologySpreadConstraints to the VPA helm chart
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-deployment.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: honour PodDisruptionBudget minAvailable/maxUnavailable of 0
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-pdb.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-pdb.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-pdb.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: add missing labels to updater leader-locking RoleBinding
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-rolebinding.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: certgen jobs reference an undefined priorityClassName value
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen-patch.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-certgen.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

docs: make the cert-manager example render
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: correct admission controller ServiceAccount template filename
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-serviceaccount.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: don't create a PodDisruptionBudget that blocks all evictions
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/admission-controller-pdb.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/recommender-pdb.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/templates/updater-pdb.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/values.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add mutex protection to ScaleDownCandidatesDelayProcessor
  pkg/processors/scaledowncandidates/scale_down_candidates_delay_processor.go
Due: none

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
