Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$

respect .go-version for kindnetd
  images/Makefile.common.in
  images/kindnetd/Dockerfile
  images/kindnetd/LICENSE
  images/kindnetd/files/LICENSES/README.txt
  images/kindnetd/scripts/third_party/gimme/LICENSE
  images/kindnetd/scripts/third_party/gimme/README.md
  images/kindnetd/scripts/third_party/gimme/gimme
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

ignore third_party scripts in all image sources
  hack/make-rules/verify/shellcheck.sh
Due: none

Fix azure cloud-provider deployment
  pkg/cluster/internal/create/actions/createworker/azure.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

Disable clusterctl version check
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

avoid base image build timeouts with more cores
  images/base/cloudbuild.yaml
Due: post-kind-push-base-image

update local-path-provisioner to build latest version and use standard date-sha tags like the rest of the kind helper images
  images/local-path-provisioner/Makefile
Due: post-kind-push-local-path-provisioner-image

update qemu to latest
  hack/build/init-buildx.sh
Due: none

cross build local-path-provisioner
  images/local-path-provisioner/Dockerfile
Due: post-kind-push-local-path-provisioner-image

cross-build kindnetd
  images/kindnetd/Dockerfile
Due: post-kind-push-kindnetd-image

cross build base image binaries
  images/base/Dockerfile
  images/base/scripts/target-cc
Due: post-kind-push-base-image

bump cni plugins to 1.3.0
  images/base/Dockerfile
Due: post-kind-push-base-image

bump crictl to 1.27.0
  images/base/Dockerfile
Due: post-kind-push-base-image

Add aws eks coredns addon
  DEPENDENCIES
  pkg/cluster/internal/create/actions/createworker/templates/aws.eks.tmpl
Due: none

Add aws eks kube-proxy addon
  DEPENDENCIES
  pkg/cluster/internal/create/actions/createworker/templates/aws.eks.tmpl
Due: none

Bump tigera-operator version
  pkg/cluster/internal/create/actions/createworker/templates/calico-helm-values.tmpl
Due: none

Downgrade kube-proxy eks addon
  pkg/cluster/internal/create/actions/createworker/templates/aws.eks.tmpl
Due: none

Use dl.k8s.io to allow redirects
  .github/workflows/docker.yaml
  .github/workflows/podman.yml
Due: none

[CI/CD] Update kubectl installation in GitHub Actions workflows
  .github/workflows/docker.yaml
  .github/workflows/podman.yml
Due: none

add procps to packages
  images/base/Dockerfile
Due: post-kind-push-base-image

bump local-path images to latest
  pkg/build/nodeimage/const_storage.go
Due: none

upgrade haproxy image to latest
  pkg/cluster/internal/loadbalancer/const.go
Due: none

upgrade kindnetd image to latest
  pkg/build/nodeimage/const_cni.go
Due: none

switch to debian bookworm
  images/base/Dockerfile
Due: post-kind-push-base-image

TEMP: switch to new base image
  pkg/build/nodeimage/defaults.go
Due: none

DO NOT MERGE: switch back to ubuntu, ignore cross compiling for a moment JUST FOR TESTING
  images/base/Dockerfile
Due: post-kind-push-base-image

TEMP DO NOT MERGE: use amd64 only test image
  pkg/build/nodeimage/defaults.go
Due: none

rollback runc to v1.1.6
  images/base/Dockerfile
Due: post-kind-push-base-image

use image from last commit
  pkg/build/nodeimage/defaults.go
Due: none

roll back runc to 1.1.5
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image to latest
  pkg/build/nodeimage/defaults.go
Due: none

Move tigera-operator to it's own namespace
  pkg/cluster/internal/create/actions/createworker/provider.go
Due: none

Remove windows requeriments
  pkg/cluster/internal/create/actions/createworker/files/gcp-compute-persistent-disk-csi-driver.yaml
Due: none

Update k8s registry
  pkg/cluster/internal/create/actions/createworker/files/gcp-compute-persistent-disk-csi-driver.yaml
Due: none

rename for a better understanding vpc cidr names
  pkg/cluster/internal/create/actions/createworker/templates/aws.eks.tmpl
  pkg/cmd/kind/create/cluster/validation/eksvalidator.go
  pkg/commons/cluster.go
Due: none

improve / correct base image comments
  images/base/Dockerfile
Due: post-kind-push-base-image

upgrade node image to latest
  pkg/apis/config/defaults/image.go
Due: none

use space seperate build tags for containerd build
  images/base/Dockerfile
Due: post-kind-push-base-image

Update using-wsl2.md
  site/content/docs/user/using-wsl2.md
Due: none

Fix gcp csi driver k8s 1.25 support
  pkg/cluster/internal/create/actions/createworker/calico.go
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/create/actions/createworker/provider.go
  pkg/cluster/internal/create/actions/createworker/templates/gcp-compute-persistent-disk-csi-driver.tmpl
Due: none

version v0.19.0
  pkg/cmd/kind/version/version.go
Due: none
