Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/

terraform/k8s-infra-kubernetes-io: initial commit
  infra/gcp/terraform/k8s-infra-kubernetes-io/main.tf
  infra/gcp/terraform/k8s-infra-kubernetes-io/provider.tf
  infra/gcp/terraform/k8s-infra-kubernetes-io/versions.tf
Due: none

tf/k8s-infra-kubernetes-io: add k8s-infra-monthly budget
  infra/gcp/terraform/k8s-infra-kubernetes-io/main.tf
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

audit: update as of 2021-10-14
  audit/projects/k8s-cip-test-prod/services/logging/logs.json
  audit/projects/k8s-infra-kubernetes-io/description.json
  audit/projects/k8s-infra-kubernetes-io/iam.json
  audit/projects/k8s-infra-kubernetes-io/services/enabled.txt
  audit/projects/k8s-staging-ci-images/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-gcp/services/logging/logs.json
  audit/projects/k8s-staging-sig-auth/buckets/artifacts.k8s-staging-sig-auth.appspot.com/iam.json
  audit/projects/k8s-staging-sig-auth/buckets/artifacts.k8s-staging-sig-auth.appspot.com/logging.json
  audit/projects/k8s-staging-sig-auth/buckets/artifacts.k8s-staging-sig-auth.appspot.com/metadata.txt
  audit/projects/k8s-staging-sig-auth/buckets/k8s-staging-sig-auth-gcb/iam.json
  audit/projects/k8s-staging-sig-auth/buckets/k8s-staging-sig-auth-gcb/lifecycle.json
  audit/projects/k8s-staging-sig-auth/buckets/k8s-staging-sig-auth-gcb/metadata.txt
  audit/projects/k8s-staging-sig-auth/buckets/k8s-staging-sig-auth/iam.json
  audit/projects/k8s-staging-sig-auth/buckets/k8s-staging-sig-auth/lifecycle.json
  audit/projects/k8s-staging-sig-auth/buckets/k8s-staging-sig-auth/logging.json
  audit/projects/k8s-staging-sig-auth/buckets/k8s-staging-sig-auth/metadata.txt
  audit/projects/k8s-staging-sig-auth/description.json
  audit/projects/k8s-staging-sig-auth/iam.json
  audit/projects/k8s-staging-sig-auth/services/enabled.txt
  audit/projects/k8s-staging-sig-auth/services/logging/logs.json
  audit/projects/k8s-staging-sig-auth/services/logging/sinks.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-gcp/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-gcp/metadata.txt
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-monitoring/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-monitoring/metadata.txt
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/service-accounts/tf-monitoring-deployer@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/tf-monitoring-deployer@kubernetes-public.iam.gserviceaccount.com/iam.json
Due: none

tf/k8s-infra-kubernetes-io: split budgets out
  infra/gcp/terraform/k8s-infra-kubernetes-io/budgets.tf
  infra/gcp/terraform/k8s-infra-kubernetes-io/main.tf
Due: none

tf/k8s-infra-kuberentes-io: ensure group ownership
  infra/gcp/terraform/k8s-infra-kubernetes-io/main.tf
Due: none

tf/k8s-infra-monitoring: add email channels
  infra/gcp/terraform/k8s-infra-monitoring/main.tf
Due: none

storage-migrator: promote v0.0.5 to prod
  k8s.gcr.io/images/k8s-staging-storage-migrator/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

prometheus-adapter: promote v0.9.1 image
  k8s.gcr.io/images/k8s-staging-prometheus-adapter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote pod-security-webhook:v1.22-alpha.0
  k8s.gcr.io/images/k8s-staging-sig-auth/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

kubernetes: Fix workload identity binding
  infra/gcp/bash/ensure-main-project.sh
Due: none

groups: Add emails aliases for Azure and Equinix accounts
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Refactor terraform modules to use for_each
  infra/gcp/terraform/modules/gke-project/main.tf
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

separate cluster admins and cluster users iam memberships
  infra/gcp/terraform/modules/gke-project/main.tf
Due: none

Maintain comment for cluster-admin iam
  infra/gcp/terraform/modules/gke-project/main.tf
Due: none

audit: update as of 2021-10-18
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20211019.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-kubernetes-io/iam.json
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/k8s-staging-cluster-addons/services/logging/logs.json
  audit/projects/k8s-staging-multitenancy/services/logging/logs.json
  audit/projects/kubernetes-public/service-accounts/tf-monitoring-deployer@kubernetes-public.iam.gserviceaccount.com/iam.json
Due: none

Update public-log-asn-matcher table promotion
  images/public-log-asn-matcher/pg-init.d/lib-15-promote-bq-dataset-as-prod.sh
Due: none

tf/k8s-infra-monitoring: add missing project field
  infra/gcp/terraform/k8s-infra-monitoring/main.tf
Due: none

Update elekto to 0.5.1 version
  apps/elekto/deployment.yaml
Due: k8sio-k8s-resources-verify

Add cloudbuild to public-log-asn-matcher
  images/public-log-asn-matcher/cloudbuild.yaml
Due: k8sio-k8s-resources-verify

kubernetes-public: Allow access to Cloud SQL
  infra/gcp/terraform/kubernetes-public/k8s-elections-database.tf
Due: none

Update tagging and docs for public-log-asn-matcher
  images/public-log-asn-matcher/README.md
  images/public-log-asn-matcher/cloudbuild.yaml
Due: k8sio-k8s-resources-verify

Update cloudbuild.yaml
  images/public-log-asn-matcher/cloudbuild.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2021-10-20
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20211020.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_deletemelol.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_prod.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.riaan_data_store.access.json
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
  audit/projects/k8s-infra-prow-build/services/monitoring/dashboards/build-cluster-capacity-usage.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/service-accounts/tf-monitoring-deployer@kubernetes-public.iam.gserviceaccount.com/iam.json
Due: none

Replace Elekto instance with the no-Revoke option
  apps/elekto/deployment.yaml
Due: k8sio-k8s-resources-verify

Reverting new Elekto image, there's an image pull problem.
  apps/elekto/deployment.yaml
Due: k8sio-k8s-resources-verify

Redoing the image swap, this time with a public image
  apps/elekto/deployment.yaml
Due: k8sio-k8s-resources-verify

Update groups.yaml
  groups/sig-testing/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote e2e images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

CAPA v0.6.9 and v0.7.1 release images added
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo
