Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazel-krte, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: (any of: ^(images/bigquery|scenarios)/) or (any of: ^images/bigquery/)
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: (any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/) or (any of: ^(images/kubekins-e2e|kubetest|boskos)/)
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-checkconfig-loose: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Fail if multiple providers are configured
  gcsweb/cmd/gcsweb/gcsweb.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Revert to legacy GCS client creation
  gcsweb/cmd/gcsweb/gcsweb.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Delete config/testgrids/kyma directory
  config/testgrids/kyma/OWNERS
  config/testgrids/kyma/gen-config.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Update config_test.go
  config/tests/testgrids/config_test.go
Due: pull-test-infra-integration

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Avoid supressing inrepo config error comments when only processing relevant events.
  prow/config/config.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

fix various kops jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

descheduler: update presubmits for 1.29 release
  config/jobs/image-pushing/k8s-staging-descheduler.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.29.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

add 1.29 to kueue presubmits
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-5.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Correct typo from 'kubenetes_e2e' to 'kubernetes_e2e'
  config/tests/jobs/jobs_test.go
Due: pull-test-infra-integration

Upgrade image to use go 1.21
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-clusterclass.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-clusterclass.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

kubernetes-sigs/nfd: create presubmit for v0.15
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-15.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

update crio to 1.29
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_imagefs.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_imagefs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
Due: pull-test-infra-integration, pull-test-infra-verify-cri-o

don't require pull k/k build job presubmit on the kops repo
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

kops: add --service-proxy-type override to test suite
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Comment out the autobump job that auto-deploys Prow for the holidays.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

kubernetes-sigs/nfd: add missing cluster field to presubmit config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

kubernetes-sigs/nfd: remove cluster field from presubmit config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Cherry pick error membership change suggestion
  prow/external-plugins/cherrypicker/server.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

app_auth_roundtripper: Workaround GitHub out-of-sync clock
  prow/github/app_auth_roundtripper.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

kOps: Use Kubernetes CI version for kube-router tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

kOps: Make Calico dns=none optional
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update ANP go version to 1.21
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

don't run NodeFeature on dns jobs
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

use managed identity in capz test
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Add 1.28&1.29 to kind e2e presubmits.
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

set default merge method to squash for ingress2gateway
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-reconcile-hmacs

Update k8s version in several CAPZ tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

chore(horologium): clean up code style
  prow/cmd/horologium/main.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

chore(horologium): makes the logic of tigger job clearer
  prow/cmd/horologium/main.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

bugfix(config): race condition in TestGetProwYAMLCached
  prow/config/cache_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 29 Dec 2023 00:01:32 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.13-blocking.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.13-informing.yaml
  config/testgrids/openshift/redhat-openshift-olm.yaml
Due: pull-test-infra-integration, post-test-infra-upload-testgrid-config

Fixing failing tests and updating comment reviews
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/dco/dco_test.go
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Set CAPV e2e-full test timeout to 3h
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

[custom-metrics-apiserver] presubmits - bump Go to 1.21
  config/jobs/kubernetes-sigs/custom-metrics-apiserver/custom-metrics-apiserver-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Revert "Comment out the autobump job that auto-deploys Prow for the holidays."
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

add periodic job with nftables proxy
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config
