Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-opentelemetry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

fix: obsolete warnings
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Include quotes in e2e test for mirror proxy_pass
  test/e2e/annotations/mirror.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

ensured hpa mem spec before cpu spec
  charts/ingress-nginx/templates/controller-hpa.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

ensured hpa mem spec before cpu spec (#10043)
  charts/ingress-nginx/templates/controller-hpa.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Avoid creating unnecessarily executable files
  internal/ingress/controller/checker_test.go
  pkg/util/file/filesystem.go
  pkg/util/file/structure.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

running e2e testing
  go.mod
  go.sum
  test/e2e/run-e2e-suite.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate

chore: pkg imported more than once
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/store/store.go
  internal/net/ssl/ssl_test.go
  test/e2e/annotations/grpc.go
  test/e2e/framework/framework.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

unnecessary use of fmt.Sprint (S1039)
  internal/ingress/controller/checker_test.go
  test/e2e/annotations/connection.go
  test/e2e/framework/framework.go
  test/e2e/settings/enable_real_ip.go
  test/e2e/settings/forwarded_headers.go
  test/e2e/settings/keep-alive.go
  test/e2e/settings/listen_nondefault_ports.go
  test/e2e/settings/no_tls_redirect_locations.go
  test/e2e/settings/proxy_host.go
  test/e2e/settings/proxy_protocol.go
  test/e2e/settings/tls.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Allow filtering requests dashboard on exported_namespace
  deploy/grafana/dashboards/request-handling-performance.json
Due: none

docs: Updated the content of deploy/rbac.md
  docs/deploy/rbac.md
Due: none

docs: Updated the content of deploy/rbac.md (#10054)
  docs/deploy/rbac.md
Due: none

Deploy GitHub Pages
  deploy/rbac/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix broken kubernetes.io/user-guide/ docs links
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  docs/index.md
  docs/troubleshooting.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update internal load balancer doc
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix incorrect description
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

GenerateREADME.md using helm-docs
  charts/ingress-nginx/README.md
  charts/ingress-nginx/README.md.gotmpl
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Regenerate the docs
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

docs: add lua testing documentation
  docs/lua_tests.md
Due: none

fix broken kubernetes.io/user-guide/ docs links (#10055)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  docs/index.md
  docs/troubleshooting.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  index.html
  sitemap.xml
  sitemap.xml.gz
  troubleshooting/index.html
Due: none

Update Internal Load Balancer docs (#10062)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/README.md.gotmpl
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

testing out moving off bash
  ingressctl/cmd/docker.go
  ingressctl/cmd/root.go
  ingressctl/go.mod
  ingressctl/go.sum
  ingressctl/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

docker build WIP
  ingressctl/cmd/docker.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

docs: canary weighted deployments example
  docs/examples/canary/README.md
  docs/examples/index.md
Due: none

docs: canary weighted deployments example (#10067)
  docs/examples/canary/README.md
  docs/examples/index.md
Due: none

Deploy GitHub Pages
  examples/canary/index.html
  examples/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: add canary to sidebar in examples
  mkdocs.yml
Due: none

docker build
  ingressctl/cmd/common.go
  ingressctl/cmd/docker.go
  ingressctl/cmd/tags.go
  ingressctl/go.mod
  ingressctl/go.sum
  ingressctl/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

docs: add lua testing documentation (#10060)
  docs/lua_tests.md
Due: none

Deploy GitHub Pages
  lua_tests/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: add canary to sidebar in examples (#10068)
  mkdocs.yml
Due: none

tracing: upgrade to dd-opentracing-cpp v1.3.7 (#10031)
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
