Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-modsecurity, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-e2e-image-debian, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-opentelemetry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-modsecurity:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220427-c2db0f69b7
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Add new control-plane toleration for kind 1.24 (#8609)
  deploy/static/provider/kind/1.19/deploy.yaml
  deploy/static/provider/kind/1.20/deploy.yaml
  deploy/static/provider/kind/1.21/deploy.yaml
  deploy/static/provider/kind/1.22/deploy.yaml
  deploy/static/provider/kind/1.23/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  hack/manifest-templates/provider/kind/values.yaml
Due: none

Implement reporting status classes in metrics (#8548)
  cmd/nginx/flags.go
  cmd/nginx/main.go
  docs/user-guide/cli-arguments.md
  internal/ingress/controller/controller.go
  internal/ingress/metric/collectors/socket.go
  internal/ingress/metric/collectors/socket_test.go
  internal/ingress/metric/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/cli-arguments/index.html
Due: none

Update index.md
  docs/deploy/index.md
Due: none

move so files under /etc/nginx/modules (#8612)
  images/opentelemetry/rootfs/Dockerfile
Due: post-ingress-nginx-build-opentelemetry

Avoid race conditions by copying the list before sorting (#8573)
  internal/ingress/annotations/ipwhitelist/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

get the opentelemetry sidecar running
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/entrypoint.sh
  images/opentelemetry/rootfs/init_module.sh
  rootfs/Dockerfile
  rootfs/etc/nginx/template/nginx.tmpl
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-opentelemetry, pull-ingress-nginx-boilerplate

minimal changes for using opentelemetry sidecar
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/init_module.sh
  rootfs/Dockerfile
  rootfs/etc/nginx/template/nginx.tmpl
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-opentelemetry, pull-ingress-nginx-boilerplate

revert opentelemetry lib path
  images/opentelemetry/rootfs/Dockerfile
Due: post-ingress-nginx-build-opentelemetry

handle opentelemetry config settings
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/opentelemetry/main.go
  internal/ingress/annotations/opentelemetry/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

cleanup
  internal/ingress/controller/template/template.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Bump chart version to 4.1.2 (#8607)
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update index.yaml
  index.yaml
Due: none

Add patch to remove root and alias directives
  images/nginx/rootfs/patches/drop-alias-root.patch
Due: post-ingress-nginx-build-nginx-image

Add patch to remove root and alias directives (#8624)
  images/nginx/rootfs/patches/drop-alias-root.patch
Due: post-ingress-nginx-build-nginx-image

revert nginx Dockerfile entrypoint / cmd change
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

Bump nginx image to version without core directives
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Bump nginx image to version without core directives (#8625)
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

update LD_LIBRARY_PATH for OpenTelemetry use
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

Change image build to go install
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-build-e2e-image

Change image build to go install (#8630)
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-build-e2e-image

update LD_LIBRARY_PATH for OpenTelemetry use (#8628)
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

Bump testrunner image
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: pull-ingress-nginx-boilerplate

Bump testrunner image (#8631)
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: pull-ingress-nginx-boilerplate

move creation of dev devices in /chroot/dev from build image to run image, means from chroot.sh to Docherfile.chroot as the docker COPY command seems to make ordinary files from /dev/* (#8619)
  rootfs/Dockerfile.chroot
  rootfs/chroot.sh
Due: pull-ingress-nginx-boilerplate

Fix tls1.0 test
  test/e2e/framework/ssl.go
  test/e2e/settings/tls.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

developing k6 perftest
  .github/workflows/perftest.yaml
  build/dev-env.sh
  charts/ingress-nginx/values.yaml
  test/k6/README.md
  test/k6/loadtest.js
  test/k6/smoketest.js
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

change base to image with LD_LIBRARY_PATH for opentelemetry
  .github/workflows/perftest.yaml
  Makefile
  TAG
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
  test/k6/README.md
  test/k6/loadtest.js
  test/k6/smoketest.js
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix algorithm
  test/e2e/framework/ssl.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-modsecurity: any of: images/modsecurity/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-e2e-image-debian: any of: images/test-runner-debian/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
