Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
      - make e2e-bootstrap e2e-helm-deploy-release e2e-vault
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcp-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

fix files palcement
  test/bats/akeyless.bats
  test/bats/tests/akeyless/pod-inline-volume-secretproviderclass.yaml
  test/bats/tests/akeyless/secretproviderclass.yaml
Due: none

chore: bump version to v1.1.0 in release-1.1
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifest and helm charts for v1.1.0
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifest and helm charts for v1.1.0
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.1.0.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.1.0.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

fix: panic when using --log-format-json
  cmd/secrets-store-csi-driver/main.go
Due: none

change param name
  test/bats/tests/akeyless/secretproviderclass.yaml
Due: none

remove key
  test/bats/tests/akeyless/secretproviderclass.yaml
Due: none

chore: bump version to 1.1.1 in release-1.1
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

release: update manifests and helm chart for 1.1.1
  Makefile
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifests and helm chart for 1.1.1
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Publish secrets-store-csi-driver-1.1.1.tgz
  charts/index.yaml
  charts/secrets-store-csi-driver-1.1.1.tgz
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

update secret rfe
  test/bats/tests/akeyless/pod-inline-volume-secretproviderclass.yaml
  test/bats/tests/akeyless/secretproviderclass.yaml
Due: none

validate additionalProviderPaths does not contain providerPath
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

update volumes, make same change for windows
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

security: fix CVE-2022-0778, CVE-2021-4160
  Makefile
  docker/Dockerfile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

remove role
  test/bats/tests/akeyless/secretproviderclass.yaml
Due: none

Automated cherry pick of #898: fix: validate additionalProviderPaths does not contain providers dir (#902)
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: remove deprecated minimumProviderVersions in helm chart
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: add index.html
  charts/index.html
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: add index.html (#905)
  charts/index.html
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: update supported versions and replace v1alpha1 with v1
  docs/book/src/concepts.md
  docs/book/src/introduction.md
  docs/book/src/topics/set-as-env-var.md
Due: none

docs: add subPath volume mount limitation
  docs/book/src/known-limitations.md
Due: none

sync_all feature implemented
  Makefile
  apis/v1/secretproviderclass_types.go
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  controllers/secretproviderclasspodstatus_controller.go
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  docs/book/src/topics/sync-all-secrets-to-k8s.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  pkg/rotation/reconciler.go
  pkg/util/secretutil/secret.go
  pkg/util/spcutil/secret_object_data.go
  pkg/util/spcutil/secret_object_data_test.go
  test/bats/e2e-provider.bats
  test/bats/tests/e2e_provider/deployment-sync_allk8s-e2e-provider-sync-all.yaml
  test/bats/tests/e2e_provider/e2e_provider_sync_allk8s_v1_secretproviderclass.yaml
  test/bats/tests/e2e_provider/e2e_provider_v1_multiple_secretproviderclass.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets are now only created at the top level
  Makefile
  apis/v1/secretproviderclass_types.go
  apis/v1/zz_generated.deepcopy.go
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  controllers/secretproviderclasspodstatus_controller.go
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  pkg/rotation/reconciler.go
  pkg/util/spcutil/secret_object_builder.go
  pkg/util/spcutil/secret_object_builder_test.go
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

updated README for syncall feature
  docs/book/src/topics/sync-all-secrets-to-k8s.md
Due: none

ran manfests script
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses copy.yaml
Due: none

removed copy
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses copy.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses copy.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

removed copies
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses copy.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses copy.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

updated SPC CRD in deploy/
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
Due: none

removed old code
  pkg/util/spcutil/secret_object_builder.go
Due: none

test revisions for e2e-provider
  docs/book/src/topics/sync-all-secrets-to-k8s.md
  test/bats/e2e-provider.bats
  test/bats/tests/e2e_provider/deployment-sync_allk8s-e2e-provider-sync-all.yaml
  test/bats/tests/e2e_provider/e2e_provider_sync_allk8s_v1_secretproviderclass.yaml
Due: none

remove vault link from readme to pass markdown link check
  docs/book/src/topics/sync-all-secrets-to-k8s.md
Due: none

removed commented out yaml code
  test/bats/tests/e2e_provider/e2e_provider_sync_allk8s_v1_secretproviderclass.yaml
Due: none

add command reference in docs book
  docs/book/src/SUMMARY.md
  docs/book/src/topics/command-reference.md
Due: none

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*
