Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

fix: npe in kubelet test
  pkg/kubelet/kubelet_test.go
Due: pull-kubernetes-local-e2e-containerized

Update mounter interface in volume manager
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Replace Mutex with RWMutex in cloud provider to improve efficiency
  staging/src/k8s.io/cloud-provider/plugins.go
Due: pull-kubernetes-godeps

Add perm for createTmpFile on test
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp_test.go
Due: pull-kubernetes-godeps

Fixes copy to local file-mode missing
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
Due: pull-kubernetes-godeps

Add test keep file mode
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp_test.go
Due: pull-kubernetes-godeps

Fix Attachment ID matching
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

UPSTREAM: 105512: Fix subpath source check
  pkg/volume/util/subpath/subpath_linux.go
  pkg/volume/util/subpath/subpath_linux_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

testdata dirs are not useful go code
  hack/make-rules/helpers/cache_go_dirs.sh
Due: pull-kubernetes-files-remake

Set startTimeout back to 3m, restore wait loop at end of test
  test/e2e_node/restart_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Remove Antonio's custom thing
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/update-netparse-cve.sh
  hack/verify-netparse-cve.sh
Due: none

Update golangc-lint to 1.43.0
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Remove old staticcheck config
  hack/.staticcheck_failures
  hack/tools/Makefile
  hack/tools/tools.go
Due: pull-kubernetes-cross

Minor golangci-lint changes
  .golangci.yaml
  hack/verify-golangci-lint.sh
Due: none

HACK:DNM: Force ruleguard errors
  pkg/proxy/iptables/proxier.go
  staging/src/k8s.io/apiserver/pkg/server/handler.go
Due: pull-kubernetes-godeps

bumpt etcd image version for e2e tests
  test/utils/image/manifest.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Validate etcd image versions in test manifests
  build/dependencies.yaml
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Update mocks
  pkg/kubelet/apis/podresources/testing/provider_mock.go
  pkg/kubelet/cadvisor/testing/cadvisor_mock.go
  pkg/kubelet/container/testing/mock_runtime_cache.go
  pkg/kubelet/container/testing/runtime_mock.go
  pkg/kubelet/dockershim/libdocker/testing/mock_client.go
  pkg/kubelet/dockershim/network/testing/mock_network_plugin.go
  pkg/kubelet/eviction/mock_threshold_notifier_test.go
  pkg/kubelet/pod/testing/mock_manager.go
  pkg/kubelet/server/stats/testing/mock_stats_provider.go
  pkg/kubelet/server/stats/testing/mock_summary_provider.go
  pkg/kubelet/status/testing/mock_pod_status_provider.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/mockarmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/containerserviceclient/mockcontainerserviceclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/deploymentclient/mockdeploymentclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/mockdiskclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/interfaceclient/mockinterfaceclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/loadbalancerclient/mockloadbalancerclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/publicipclient/mockpublicipclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routeclient/mockrouteclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routetableclient/mockroutetableclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/securitygroupclient/mocksecuritygroupclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/snapshotclient/mocksnapshotclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/storageaccountclient/mockstorageaccountclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/subnetclient/mocksubnetclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmclient/mockvmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmsizeclient/mockvmsizeclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssclient/mockvmssclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssvmclient/mockvmssvmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
  test/e2e/storage/drivers/csi-test/driver/driver.mock.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Ruleguard part 1: partially working
  .golangci.yaml
  LICENSES/vendor/github.com/quasilyte/go-ruleguard/dsl/LICENSE
  go.mod
  go.sum
  hack/verify-golangci-lint.sh
  ruleguard_rules.go
  vendor/github.com/quasilyte/go-ruleguard/dsl/LICENSE
  vendor/github.com/quasilyte/go-ruleguard/dsl/bundle.go
  vendor/github.com/quasilyte/go-ruleguard/dsl/dsl.go
  vendor/github.com/quasilyte/go-ruleguard/dsl/filter.go
  vendor/github.com/quasilyte/go-ruleguard/dsl/go.mod
  vendor/github.com/quasilyte/go-ruleguard/dsl/internal.go
  vendor/github.com/quasilyte/go-ruleguard/dsl/types/ext.go
  vendor/github.com/quasilyte/go-ruleguard/dsl/types/type_impl.go
  vendor/github.com/quasilyte/go-ruleguard/dsl/types/types.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-godeps

WIP: move rules file into a hack dir
  hack/ruleguard/rules.go
  staging/src/k8s.io/api/ruleguard_rules.go
  staging/src/k8s.io/apiextensions-apiserver/ruleguard_rules.go
  staging/src/k8s.io/apimachinery/ruleguard_rules.go
  staging/src/k8s.io/apiserver/ruleguard_rules.go
  staging/src/k8s.io/cli-runtime/ruleguard_rules.go
  staging/src/k8s.io/client-go/ruleguard_rules.go
  staging/src/k8s.io/cloud-provider/ruleguard_rules.go
  staging/src/k8s.io/cluster-bootstrap/ruleguard_rules.go
  staging/src/k8s.io/code-generator/ruleguard_rules.go
  staging/src/k8s.io/component-base/ruleguard_rules.go
  staging/src/k8s.io/component-helpers/ruleguard_rules.go
  staging/src/k8s.io/controller-manager/ruleguard_rules.go
  staging/src/k8s.io/cri-api/ruleguard_rules.go
  staging/src/k8s.io/csi-translation-lib/ruleguard_rules.go
  staging/src/k8s.io/kube-aggregator/ruleguard_rules.go
  staging/src/k8s.io/kube-controller-manager/ruleguard_rules.go
  staging/src/k8s.io/kube-proxy/ruleguard_rules.go
  staging/src/k8s.io/kube-scheduler/ruleguard_rules.go
  staging/src/k8s.io/kubectl/ruleguard_rules.go
  staging/src/k8s.io/kubelet/ruleguard_rules.go
  staging/src/k8s.io/legacy-cloud-providers/ruleguard_rules.go
  staging/src/k8s.io/metrics/ruleguard_rules.go
  staging/src/k8s.io/mount-utils/ruleguard_rules.go
  staging/src/k8s.io/pod-security-admission/ruleguard_rules.go
  staging/src/k8s.io/sample-apiserver/ruleguard_rules.go
  staging/src/k8s.io/sample-cli-plugin/ruleguard_rules.go
  staging/src/k8s.io/sample-controller/ruleguard_rules.go
Due: pull-kubernetes-godeps

fix the grpc probes
  pkg/probe/grpc/grpc.go
  pkg/probe/grpc/grpc_test.go
  test/e2e/common/node/container_probe.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Update README.md
  README.md
Due: none

Committed on 11 20 2021
  2021/11/20/commit.md
Due: none

add several testcases to cover PriorityClass admission veeifications
  plugin/pkg/admission/priority/admission_test.go
Due: none

Revert "Add a thread safe wrap for RingBuffer in shared_informer.go"
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Due: pull-kubernetes-godeps

e2e disable node port on loadbalancers
  test/e2e/framework/service/jig.go
  test/e2e/network/loadbalancer.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

Committed on 11 21 2021
  2021/11/21/commit.md
Due: none

Return BadRequest for invalid large patch
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
Due: pull-kubernetes-godeps

Enabling kube-proxy metrics on windows kernel mode
  cmd/kube-proxy/app/server_windows.go
  pkg/proxy/winkernel/metrics.go
  pkg/proxy/winkernel/proxier.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

Fix workqueue memory leak
  staging/src/k8s.io/client-go/util/workqueue/queue.go
Due: pull-kubernetes-godeps

Speed up field validation tests
  test/integration/apiserver/field_validation_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Clean up field validation test logs
  test/integration/apiserver/field_validation_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

workqueue: fix leak in queue preventing objects from being GCed
  staging/src/k8s.io/client-go/util/workqueue/queue_test.go
Due: pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
