Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Update cluster-autoscaler/cloudprovider/hetzner/README.md
  cluster-autoscaler/cloudprovider/hetzner/README.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix DraCustomResourcesProcessor ignoring devices located in different resource slices.
  cluster-autoscaler/processors/customresources/dra_processor.go
  cluster-autoscaler/processors/customresources/dra_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Implement fast predicate index for cluster-autoscaler simulator
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/podlistprocessor/filter_out_schedulable_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator.go
  cluster-autoscaler/core/static_autoscaler_csi_test.go
  cluster-autoscaler/processors/customresources/csi_processor_test.go
  cluster-autoscaler/processors/customresources/dra_processor_test.go
  cluster-autoscaler/processors/podinjection/pod_injection_processor_test.go
  cluster-autoscaler/simulator/clustersnapshot/clustersnapshot.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/fast_predicates.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner_test.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/predicate_snapshot_test.go
  cluster-autoscaler/simulator/clustersnapshot/store/basic.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta.go
  cluster-autoscaler/simulator/clustersnapshot/store/delta_benchmark_test.go
  cluster-autoscaler/simulator/clustersnapshot/store/fast_predicate_index.go
  cluster-autoscaler/simulator/clustersnapshot/testsnapshot/test_snapshot.go
  cluster-autoscaler/simulator/framework/handle.go
  cluster-autoscaler/simulator/framework/infos.go
  cluster-autoscaler/simulator/framework/test_utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Patch TestAuthErrorHandling to contain a different raw prometheus dump
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Implement utilities to calculate DRA driver names used for metrics
  cluster-autoscaler/utils/dynamicresources/metrics.go
  cluster-autoscaler/utils/dynamicresources/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Augment existing metrics tracking autoscaler decisions with DRA information
  cluster-autoscaler/metrics/legacy_functions.go
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Rewrite buffer integration tests to envtest
  cluster-autoscaler/Makefile
  cluster-autoscaler/capacitybuffer/controller/controller_test.go
  cluster-autoscaler/test/integration/controllers/capacitybuffer_controller_test.go
  cluster-autoscaler/test/integration/controllers/suite_test.go
  hack/go-unit-tests-ca.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Adapt existing CA components to emit DRA information when taking scaleUp/scaleDown decisions
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scaledown/actuation/delete_in_batch.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/observers/nodegroupchange/scale_state_observer.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_delay_processor.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Remove b.ResetTimer from the benchmark using a b.Loop()
  cluster-autoscaler/utils/dynamicresources/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Change deprecation version for GPU decision metrics to 1.36
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Mark GPU node based metrics as deprecated to remove them in future releases.
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add boilerplate headers to dynamic resource utilities module
  cluster-autoscaler/utils/dynamicresources/metrics.go
  cluster-autoscaler/utils/dynamicresources/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Limit cardinality when reporting driver names enabled in the resource slices.
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/utils/dynamicresources/metrics.go
  cluster-autoscaler/utils/dynamicresources/metrics_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix nil pointer dereference issues when vpa status stanza is nil
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/handler.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor.go
  vertical-pod-autoscaler/pkg/updater/priority/priority_processor_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
  vertical-pod-autoscaler/pkg/utils/vpa/api_test.go
  vertical-pod-autoscaler/pkg/utils/vpa/capping.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Exclude vertical pod autoscaler from pre-commit configuration.
  .pre-commit-config.yaml
Due: none

Configure github action permissions to minimize token surface area
  .github/workflows/precommit.yaml
Due: none

Reconcile FAQ.md with the latest flags added/removed
  cluster-autoscaler/FAQ.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add explicit exclude list for generated files/folders
  .pre-commit-config.yaml
Due: none

Bump helm chart version after formatting template files
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Replace helm-docs pre-commit hook with helm-docs-built to avoid required installation process of a tool
  .pre-commit-config.yaml
Due: none

Bump Go to 1.26.2
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix flaky CA E2E test "shouldn't trigger additional scale-ups"
  cluster-autoscaler/e2e/cluster_size_autoscaling.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

remove drmorr0 from AWS approvers
  cluster-autoscaler/cloudprovider/aws/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

VPA: Bump go and deps (#9404)
  vertical-pod-autoscaler/.golangci.yaml
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/pkg/admission-controller/Dockerfile
  vertical-pod-autoscaler/pkg/client/clientset/versioned/fake/clientset_generated.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/factory.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/recommender/Dockerfile
  vertical-pod-autoscaler/pkg/updater/Dockerfile
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

decouple CanInPlace from InPlace function
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fixed unit tests
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater
