Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-cuda-vector-add-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-echoserver-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

fix structure logging format error
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Due: pull-kubernetes-local-e2e-containerized

make unschedulableQTimeInterval configurable and tests passed Signed-off-by: Jerry Ge <jerry.ge@arm.com>
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1beta1/defaults.go
  pkg/scheduler/apis/config/v1beta1/defaults_test.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

Updating EndpointSlice controller to wait for cache to be updated
  pkg/controller/endpointslice/BUILD
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/endpointslice_tracker.go
  pkg/controller/endpointslice/endpointslice_tracker_test.go
  pkg/controller/endpointslice/errors.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils_test.go
Due: none

Add mapType=atomic and structType=atomic to all selectors
  staging/src/k8s.io/api/apps/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1beta2/types.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/extensions/v1beta1/types.go
  staging/src/k8s.io/api/node/v1/types.go
  staging/src/k8s.io/api/node/v1alpha1/types.go
  staging/src/k8s.io/api/node/v1beta1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/testapigroup/v1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/example/v1/types.go
Due: pull-kubernetes-godeps

Migrate pkg/kubelet/lifecycle,oom to structured logging
  pkg/kubelet/lifecycle/handlers.go
  pkg/kubelet/lifecycle/handlers_test.go
  pkg/kubelet/lifecycle/predicate.go
  pkg/kubelet/oom/oom_watcher_linux.go
Due: pull-kubernetes-local-e2e-containerized

Cleanup the remaining multi-owned sig-apimachinery tests
  test/e2e/apimachinery/resource_quota.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Expose the method to load Scheduler configuration file
  cmd/kube-scheduler/app/options/configfile.go
  cmd/kube-scheduler/app/options/options.go
  test/integration/scheduler_perf/scheduler_perf_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Committed on 3 11 2021
  2021/3/11/commit.md
Due: none

Add a template of scheduler configuration file
  test/integration/scheduler_perf/config/scheduler-config-file.yaml.template
Due: pull-kubernetes-conformance-kind-ipv6-parallel

K8s component supports customized mirror name to pull mirror
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/options/constant.go
  cmd/kubeadm/app/cmd/options/generic.go
  cmd/kubeadm/app/images/images.go
Due: pull-kubernetes-e2e-kubeadm-gce

Update tests to use common pod functions from framework/pod/utils.go
  test/e2e/framework/deployment/fixtures.go
  test/e2e/framework/pod/create.go
  test/e2e/framework/pod/utils.go
  test/e2e/framework/pv/pv.go
  test/e2e/framework/volume/fixtures.go
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/persistent_volumes-gce.go
  test/e2e/storage/persistent_volumes.go
  test/e2e/storage/testsuites/disruptive.go
  test/e2e/storage/testsuites/ephemeral.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/topology.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
  test/e2e/storage/volume_provisioning.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

remove e2e volume registry as it is not used
  test/utils/image/manifest.go
  test/utils/image/manifest_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix: remove extra error in taints utils
  pkg/controller/controller_utils.go
  pkg/util/taints/taints.go
  pkg/util/taints/taints_test.go
Due: none

Migrate pkg/kubelet/cm/cgroup_manager_linux.go to structured loggin
  pkg/kubelet/cm/cgroup_manager_linux.go
Due: pull-kubernetes-local-e2e-containerized

Run pause image as non-root user and group
  build/dependencies.yaml
  build/pause/Dockerfile
  build/pause/Makefile
Due: post-kubernetes-push-image-pause, pull-kubernetes-cross, pull-kubernetes-godeps

Add test case for state.go
  pkg/kubelet/cm/cpumanager/state/state_test.go
Due: pull-kubernetes-local-e2e-containerized

add a test case for fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

logcheck: check Windows files
  hack/verify-structured-logging.sh
  pkg/kubelet/dockershim/network/cni/cni_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

POC: Measure "ServiceAffinity" with a custom scheduler config file
  test/integration/scheduler_perf/config/kube-scheduler-serviceaffinity.yaml
  test/integration/scheduler_perf/config/performance-config.yaml
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Migrate pkg/kubelet/config to structured logging
  pkg/kubelet/config/common.go
  pkg/kubelet/config/config.go
  pkg/kubelet/config/file.go
  pkg/kubelet/config/file_linux.go
  pkg/kubelet/config/http.go
Due: pull-kubernetes-local-e2e-containerized

Support kubectl debug to specify capabilities
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
Due: pull-kubernetes-godeps

Skip PodTopologySpread tests in a single node cluster scenario
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
  test/e2e/scheduling/priorities.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

use AllowedFormat in kubectl get help to avoid code duplication
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_flags.go
Due: pull-kubernetes-godeps

Split GetUpgradeContext to a dedicated file
  test/e2e/cloud/gcp/cluster_upgrade.go
  test/e2e/cloud/gcp/upgrade_context.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Remove etcd upgrade test - it's not being run
  test/e2e/cloud/gcp/cluster_upgrade.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix usages of TopologySelectorTerm and clarify expected usage
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/storage/v1/types.go
  staging/src/k8s.io/api/storage/v1beta1/types.go
Due: pull-kubernetes-godeps

apiserver: manage audit ID associated with a request
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/with_auditid.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/with_auditid_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/auditid.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/auditid_test.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
Due: pull-kubernetes-godeps

apiserver: improve correlation by using the audit ID
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/helpers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/trace_util.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
Due: pull-kubernetes-godeps

fix Spelling error for Unmounter
  pkg/volume/nfs/nfs.go
Due: none

Updating EndpointSliceMirroring controller to wait for cache to be updated
  pkg/controller/endpointslicemirroring/BUILD
  pkg/controller/endpointslicemirroring/endpointslice_tracker.go
  pkg/controller/endpointslicemirroring/endpointslice_tracker_test.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  pkg/controller/endpointslicemirroring/errors.go
  pkg/controller/endpointslicemirroring/reconciler.go
  pkg/controller/endpointslicemirroring/utils_test.go
Due: none

sched: fix a bug that metrics of init or collected pods are re-collected
  staging/src/k8s.io/component-base/metrics/testutil/metrics.go
  staging/src/k8s.io/component-base/metrics/testutil/metrics_test.go
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

sched: support PreEnqueueChecks prior to moving Pods
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/testing/wrappers.go
Due: none

Promote NetworkPolicy test to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/network/netpol/network_policy_api.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

kubelet: remove unused applyLimits function
  pkg/kubelet/cm/pod_container_manager_linux.go
Due: pull-kubernetes-local-e2e-containerized

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
