Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, post-kubernetes-push-image-pause, pull-publishing-bot-validate, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-image-pause:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kubernetes
      - --scratch-bucket=gs://k8s-staging-kubernetes-gcb
  ...

pull-publishing-bot-validate:
  decorate: true
  optional: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - go
      args:
      - run
      - k8s.io/publishing-bot/cmd/validate-rules
      - /home/prow/go/src/k8s.io/kubernetes/staging/publishing/rules.yaml

pull-kubernetes-e2e-aks-engine-azure:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk-vmss:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

API server: fix default_konnectivity_socket_path typo.
  cluster/gce/gci/configure-kubeapiserver.sh
Due: pull-kubernetes-e2e-gke

Update Windows Pause version to 1.4.0
  cmd/kubeadm/app/constants/constants_windows.go
Due: pull-kubernetes-e2e-kubeadm-gce

Update to Calico v3.16.2
  cluster/addons/calico-policy-controller/calico-node-daemonset.yaml
  cluster/addons/calico-policy-controller/typha-deployment.yaml
Due: pull-kubernetes-e2e-gke

Update write-pki-data to give read permissions to KUBE_PKI_READERS_GROUP, for components running as non-root to be able to read the credentials.
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

don't cache transports for incomparable configs
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
Due: pull-kubernetes-godeps

Remove deprecated metrics in controller/volume
  pkg/controller/volume/scheduling/metrics/metrics.go
  pkg/controller/volume/scheduling/scheduler_binder.go
Due: none

Clarify that we don't audit events due to performance impact
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

recover to SetDefaults_CloudControllerManagerConfiguration as guide.
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/defaults.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/defaults_test.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/zz_generated.defaults.go
Due: none

Check Annotations map against nil for ConfigMapLock#Update()
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
Due: pull-kubernetes-godeps

Maintain sampleAndWaterMarkHistograms in server handlers
  staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
Due: pull-kubernetes-godeps

Fix reporting network_programming_latency metrics in kube-proxy
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
Due: none

Update fluentd-es-configmap.yaml
  cluster/addons/fluentd-elasticsearch/fluentd-es-configmap.yaml
Due: pull-kubernetes-e2e-gke

Number of max retires for job with restartPolicy OnFailure now matches the backoffLimit
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Due: none

golint with pkg/apis/events/v1
  hack/.golint_failures
  pkg/apis/events/v1/conversion.go
  pkg/apis/events/v1/register.go
  pkg/apis/events/v1/zz_generated.conversion.go
  pkg/apis/events/v1beta1/conversion.go
  pkg/apis/events/v1beta1/register.go
  pkg/apis/events/v1beta1/zz_generated.conversion.go
Due: none

Update addons volumesnapshots owners file
  cluster/addons/volumesnapshots/OWNERS
Due: pull-kubernetes-e2e-gke

kubelet: use the calculated grace period for the kill pod options
  pkg/kubelet/BUILD
  pkg/kubelet/pod_workers.go
  pkg/kubelet/pod_workers_test.go
Due: pull-kubernetes-local-e2e-containerized

Improve logging of iptables canary test
  test/e2e/network/networking.go
Due: none

kubelet: fix iptables setup under dual-stack
  pkg/kubelet/kubelet_network_linux.go
Due: pull-kubernetes-local-e2e-containerized

Don't depend on DNS in NetworkPolicy tests
  test/e2e/network/network_policy.go
Due: none

UPSTREAM: 95453: Don't depend on DNS in NetworkPolicy tests
  test/e2e/network/network_policy.go
Due: none

Add defaultingType to PodTopologySpreadArgs
  pkg/scheduler/apis/config/scheme/BUILD
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/apis/config/types_pluginargs.go
  pkg/scheduler/apis/config/v1beta1/defaults.go
  pkg/scheduler/apis/config/v1beta1/defaults_test.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/apis/config/validation/validation_pluginargs_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/BUILD
  pkg/scheduler/framework/plugins/podtopologyspread/common.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/framework/runtime/framework_test.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types_pluginargs.go
Due: pull-kubernetes-godeps

fix upgrade test
  cluster/gce/upgrade.sh
Due: pull-kubernetes-e2e-gke

fix azure disk data loss issue on Windows
  pkg/volume/azuredd/attacher.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file

wrap errors from NodeLabel, NodePorts, NodePreferAvoidPods and NodeResourcesBalancedAllocation plugins
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
  pkg/scheduler/framework/plugins/nodepreferavoidpods/node_prefer_avoid_pods.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
Due: none

Revert "golint with pkg/apis/events/v1"
  pkg/apis/events/v1/zz_generated.conversion.go
  pkg/apis/events/v1beta1/zz_generated.conversion.go
Due: none

make new command functions to keep private when they are not required to be public
  cmd/kubeadm/app/cmd/alpha/alpha.go
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/alpha/selfhosting.go
  cmd/kubeadm/app/cmd/cmd.go
  cmd/kubeadm/app/cmd/completion.go
  cmd/kubeadm/app/cmd/completion_test.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/init_test.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/join_test.go
  cmd/kubeadm/app/cmd/reset.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/token_test.go
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/cmd/upgrade/plan.go
  cmd/kubeadm/app/cmd/upgrade/upgrade.go
  cmd/kubeadm/app/cmd/version.go
  cmd/kubeadm/app/cmd/version_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

try to gracefully delete pod in podgc controller
  pkg/controller/podgc/gc_controller.go
  pkg/controller/podgc/gc_controller_test.go
Due: none

fix vendor/k8s.io/metrics/pkg/client/custom_metrics static check
  hack/.staticcheck_failures
  staging/src/k8s.io/metrics/pkg/client/custom_metrics/multi_client.go
  staging/src/k8s.io/metrics/pkg/client/custom_metrics/versioned_client.go
Due: pull-kubernetes-godeps

allow setting the proxy protocol only on certain backends
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer_test.go
Due: pull-kubernetes-godeps

fix for secure issue for ConfigTransportTLS
  staging/src/k8s.io/client-go/rest/url_utils.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: Fix networking-related test exclusions
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/test-kubernetes-e2e.sh
Due: none

When a job has failed update the status to failed before deleting the active pods in order to prevent duplication of status updates
  pkg/controller/job/job_controller.go
Due: none

add cronjob_controllerv2.go
  cmd/kube-controller-manager/app/batch.go
  cmd/kube-controller-manager/app/options/cronjobcontroller.go
  cmd/kube-controller-manager/app/options/options.go
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/utils.go
  pkg/features/kube_features.go
  test/e2e/apps/cronjob.go
Due: pull-kubernetes-e2e-gce-alpha-features

add unit tests for cronjob_controllerv2
  cmd/kube-controller-manager/app/options/options_test.go
  pkg/controller/cronjob/cronjob_controller_test.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
  pkg/controller/cronjob/utils_test.go
Due: none

update violation_exceptions.list and make generated
  api/api-rules/violation_exceptions.list
  pkg/controller/apis/config/BUILD
  pkg/controller/apis/config/types.go
  pkg/controller/apis/config/v1alpha1/BUILD
  pkg/controller/apis/config/v1alpha1/defaults.go
  pkg/controller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/apis/config/zz_generated.deepcopy.go
  pkg/controller/cronjob/BUILD
  pkg/controller/cronjob/config/BUILD
  pkg/controller/cronjob/config/OWNERS
  pkg/controller/cronjob/config/doc.go
  pkg/controller/cronjob/config/types.go
  pkg/controller/cronjob/config/v1alpha1/BUILD
  pkg/controller/cronjob/config/v1alpha1/conversion.go
  pkg/controller/cronjob/config/v1alpha1/defaults.go
  pkg/controller/cronjob/config/v1alpha1/doc.go
  pkg/controller/cronjob/config/v1alpha1/register.go
  pkg/controller/cronjob/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/cronjob/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/cronjob/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

complete
  hack/.golint_failures
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
Due: none

OWNERS_ALIASES: Add xmudrii to release-engineering-reviewers
  OWNERS_ALIASES
Due: none

Replace Branch Manager/Patch Release Team with Release Manager
  OWNERS_ALIASES
Due: none

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
