Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-distroless-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

Fix env substitution in release/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
Due: none

Inline value for certificate-identity in GCB release
  gcb/release/cloudbuild.yaml
Due: none

obs: fix dependencies in kubeadm spec file
  cmd/krel/templates/latest/kubeadm/kubeadm.spec
Due: post-release-push-image-k8s-ci-builder

obs: escape package version
  cmd/krel/templates/latest/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/kubectl/kubectl.spec
  cmd/krel/templates/latest/kubelet/kubelet.spec
  cmd/krel/templates/latest/kubernetes-cni/kubernetes-cni.spec
  pkg/obs/specs/archive.go
  pkg/obs/specs/pkgdef.go
Due: post-release-push-image-k8s-ci-builder

Fix typos in pkg/anago
  pkg/anago/anago.go
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Update release-utils to the latest commit
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Implement krel obs stage command
  cmd/krel/cmd/obs_stage.go
  gcb/obs-stage/cloudbuild.yaml
  pkg/gcp/gcb/gcb.go
  pkg/obs/obs.go
  pkg/obs/prerequisites.go
  pkg/obs/stage.go
Due: post-release-push-image-k8s-ci-builder

Add CloudBuild manifest for krel obs stage
  gcb/stage/cloudbuild.yaml
Due: none

Fix linter errors
  cmd/krel/cmd/obs_stage.go
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Generate counterfeiter funcs for obs package
  pkg/obs/obs.go
  pkg/obs/obsfakes/fake_prerequisites_checker_impl.go
  pkg/obs/obsfakes/fake_stage_client.go
  pkg/obs/obsfakes/fake_stage_impl.go
Due: post-release-push-image-k8s-ci-builder

Fix typo in obs_stage.go
  cmd/krel/cmd/obs_stage.go
Due: post-release-push-image-k8s-ci-builder

Implement OBS release workflow
  cmd/krel/cmd/obs_release.go
  pkg/gcp/gcb/gcb.go
  pkg/obs/obs.go
  pkg/obs/release.go
Due: post-release-push-image-k8s-ci-builder

Generate fakes for obs/release
  pkg/obs/obsfakes/fake_release_client.go
  pkg/obs/obsfakes/fake_release_impl.go
Due: post-release-push-image-k8s-ci-builder

Update Cloud Build manifests
  cmd/krel/cmd/obs_release.go
  cmd/krel/cmd/obs_stage.go
  gcb/obs-release/cloudbuild.yaml
Due: post-release-push-image-k8s-ci-builder

Fix linter errors
  cmd/krel/cmd/obs_release.go
Due: post-release-push-image-k8s-ci-builder

Update packages in distroless-iptables build
  images/build/distroless-iptables/distroless/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Build Go 1.19.10 and Go 1.20.5 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Drop `arm` arch from `kubepkg`
  pkg/kubepkg/options/options.go
Due: post-release-push-image-k8s-ci-builder

update debian-iptables and distroless-iptables to use go 1.20.5
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Bump missing versions in dependencies
  dependencies.yaml
Due: none

Bump k8s-cloud-builder and golang refs to 1.20.5 after k/k update
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Enable OBS builds in krel stage and release
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

Fix scorecards analysis CI test
  .github/workflows/scorecards-analysis.yml
Due: none

Fix scorecards analysis CI test (take 2)
  .github/workflows/scorecards-analysis.yml
Due: none

Bump builders to use Go 1.19.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Add a note about k/k PR potentially needing to bump go.sum
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

use google/safetext for yaml templating.
  go.mod
  go.sum
  pkg/obs/specs/pkgdef.go
Due: post-release-push-image-k8s-ci-builder

fix some linter errors
  dependencies.yaml
  hack/verify-boilerplate.sh
  images/build/go-runner/go-runner.go
  internal/tools.go
  packages/deb/build.go
  packages/deb/build_test.go
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

update cosign image and use the ghcr registry
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

update TestNewPatchRelease test
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

golang: Build 1.21rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

debian-base: switch to bookworm
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/bookworm/Dockerfile
  images/build/debian-base/bookworm/Dockerfile.build
  images/build/debian-base/bookworm/clean-install
  images/build/debian-base/bookworm/excludes
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

go-runner: switch to debian bookworm
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

debian-iptables: switch to debian bookworm
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/bookworm/Dockerfile
  images/build/debian-iptables/bookworm/iptables-wrapper
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Remove old google analytics code
  images/build/debian-iptables/README.md
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

setcap: switch to debian bookworm
  dependencies.yaml
  images/build/setcap/Dockerfile
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-setcap

Replace `github.com/goark/go-cvss` by `github.com/pandatix/go-cvss` which performs better
  go.mod
  go.sum
  pkg/cve/cve.go
Due: post-release-push-image-k8s-ci-builder

Replace deprecated deadline tag with timeout in .golangci.yaml
  .golangci.yml
Due: none

update golangci-lint to v1.53
  .github/workflows/lint.yml
  .golangci.yml
  dependencies.yaml
Due: none

build go images for 1.26/1.25/1.24 release branches
  dependencies.yaml
  images/build/cross/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
