Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, post-kubernetes-push-image-pause, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-image-pause:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kubernetes
      - --scratch-bucket=gs://k8s-staging-kubernetes-gcb
  ...

pull-publishing-bot-validate:
  decorate: true
  optional: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - go
      args:
      - run
      - k8s.io/publishing-bot/cmd/validate-rules
      - /home/prow/go/src/k8s.io/kubernetes/staging/publishing/rules.yaml

pull-kubernetes-e2e-gce-network-proxy-http-connect:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
  ...

pull-kubernetes-e2e-gce-network-proxy-grpc:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
  ...

Use windows server image for test pod creation.
  test/e2e/windows/device_plugin.go
Due: none

Change namespace to system namespace.
  test/e2e/windows/device_plugin.go
Due: none

Add more tests.
  test/e2e/windows/device_plugin.go
Due: none

Add missing MicrosoftRegistry.
  test/utils/image/manifest.go
Due: none

Alter microsoft registry name in order to match the other registries.
  test/utils/image/manifest.go
Due: none

Use any GPU with an empty space in it's name.
  test/e2e/windows/device_plugin.go
Due: none

Update image.
  test/e2e/windows/device_plugin.go
Due: none

Reference test pod in default namespace.
  test/e2e/windows/device_plugin.go
Due: none

Use image from https://github.com/kubernetes-sigs/windows-testing/pull/216.
  test/e2e/windows/device_plugin.go
Due: none

Search for "DirectX Version: DirectX 12"
  test/e2e/windows/device_plugin.go
Due: none

Test pod requests deviceplugin resource.
  test/e2e/windows/device_plugin.go
Due: none

fix typo
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/rollout_status.go
Due: pull-kubernetes-godeps

put a message, not a stack, in the log on a timeout
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
Due: pull-kubernetes-godeps

undelete WindowsSecurityContextOptions struct fields
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

Fix a bug that DefaultPreemption plugin is disabled when using scheduler policy
  cmd/kube-scheduler/app/server_test.go
  pkg/scheduler/BUILD
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  test/integration/scheduler/scheduler_test.go
Due: none

change GetFullQualifiedPluginNameForVolume to distinuish different drivers
  pkg/volume/util/BUILD
  pkg/volume/util/metrics.go
  pkg/volume/util/metrics_test.go
Due: none

proxy: Restructure config validation tests to check errors
  pkg/proxy/apis/config/validation/validation_test.go
Due: none

hack/update-all.sh
  pkg/apis/core/v1/zz_generated.conversion.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

CHANGELOG: Update directory for v1.17.14 release
  CHANGELOG/CHANGELOG-1.17.md
Due: none

Set 0 sync period in scheduler integration test
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
  test/integration/scheduler/priorities_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/taint_test.go
  test/integration/scheduler/util.go
  test/integration/util/util.go
Due: none

Fix failures in TestBindPlugin and TestPreemptWithPermitPlugin
  test/integration/scheduler/framework_test.go
Due: none

UPSTREAM: revert: <drop>: don't use dynamic tokens for KCM
  cmd/kube-controller-manager/app/controllermanager.go
Due: none

replace smd
  go.mod
  go.sum
Due: none

Support Private IPs
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
Due: pull-kubernetes-godeps

Promote Pod/PodStatus lifecycle e2e test to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/common/pods.go
Due: pull-kubernetes-conformance-image-test

Update storage test suits for Windows
  test/e2e/framework/volume/fixtures.go
  test/e2e/storage/testsuites/disruptive.go
  test/e2e/storage/testsuites/ephemeral.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
  test/e2e/storage/utils/utils.go
Due: none

actually retry if we failed to reconcile some objects
  pkg/registry/rbac/rest/storage_rbac.go
Due: none

convert to stardard lister, use []*batchv1.Job instead of []batchv1.Job
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
  pkg/controller/cronjob/utils.go
Due: none

handle the case for slow cronjob lister, add unit tests
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
  pkg/controller/cronjob/injection.go
Due: none

CHANGELOG: Update directory for v1.19.4 release
  CHANGELOG/CHANGELOG-1.19.md
Due: none

Remove feature gate for ILB Custom Subnet.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_alpha.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Due: pull-kubernetes-godeps

fix(aws): config source dest check on instance with multiple ENIs
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_routes.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
Due: pull-kubernetes-godeps

Promote Deployment lifecycle e2e test to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/deployment.go
Due: pull-kubernetes-conformance-image-test

update bazel
  pkg/controller/cronjob/BUILD
Due: none

Adding EndpointSliceNodeName feature gate
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Updating EndpointSlice controllers to support NodeName field
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
  pkg/controller/endpointslicemirroring/BUILD
  pkg/controller/endpointslicemirroring/utils.go
  pkg/controller/endpointslicemirroring/utils_test.go
Due: none

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
