Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

fix(queue_test): make sure the first bind failure via counter
  test/integration/scheduler/queue_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Final Fix
  pkg/controller/job/job_controller_test.go
Due: none

scheduler: start scheduling attempt with clean UnschedulablePlugins
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

Fix lint error
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Due: pull-kubernetes-godeps

Make StatefulSet restart pods with phase Succeeded
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Due: none

Promote test for kubelet resource metric to conformance test
  test/conformance/testdata/conformance.yaml
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

update codegen
  pkg/controller/apis/config/v1alpha1/zz_generated.defaults.go
Due: none

gce fixes
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/testsuites/pv_deletion_protection.go
  test/e2e/testing-manifests/storage-csi/gce-pd/csi-controller-rbac.yaml
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Add AddGoFlags Function to k8s.io/component-base/featuregate
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
  staging/src/k8s.io/component-base/featuregate/feature_gate_test.go
  staging/src/k8s.io/component-base/featuregate/flagset.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

cleanup repeatedly initializes EventRecorder
  cmd/kubelet/app/server.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

dra scheduler: fall back to SSA for PodSchedulingContext updates
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  test/integration/scheduler/scheduler_test.go
  test/integration/util/util.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-conformance-kind-ipv6-parallel

test
  pkg/controller/volume/persistentvolume/provision_test.go
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/framework/testpattern.go
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/pv_deletion_protection.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

rem patterns
  test/e2e/storage/framework/testpattern.go
  test/e2e/storage/testsuites/pv_deletion_protection.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Add AddGoFlags Function to k8s.io/component-base/featuregate
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
  staging/src/k8s.io/component-base/featuregate/feature_gate_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

fix finalizer
  test/e2e/storage/testsuites/pv_deletion_protection.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

don't set any value for the empty value
  staging/src/k8s.io/component-base/cli/flag/meta_duration.go
Due: pull-kubernetes-godeps

address review comments
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

kubeadm: add log for static pod manifest diff
  cmd/kubeadm/app/util/staticpod/utils.go
Due: pull-kubernetes-e2e-kubeadm-gce

Add cni plugin auto Arch and OS selection
  hack/local-up-cluster.sh
Due: pull-kubernetes-local-e2e

Replace the deprecated ioutil method in the staging/src/k8s.io/apiserver directory
  staging/src/k8s.io/apiserver/pkg/audit/policy/reader.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/reader_test.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/tokenfile/tokenfile_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/root_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/rest/response_checker.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/rest/response_checker_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/rest/streamer_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/goaway_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/audit_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/serving_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/tracing.go
  staging/src/k8s.io/apiserver/pkg/server/options/tracing_test.go
  staging/src/k8s.io/apiserver/pkg/server/routes/flags.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/tls_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/audit/webhook/webhook_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook_v1_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook_v1beta1_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1beta1_test.go
Due: pull-kubernetes-godeps

intro dynamic storage class in hostpathdriver
  test/e2e/framework/pv/pv.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/testsuites/pv_deletion_protection.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

kmsv2: add apiserver identity to metrics
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/controller/controller.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/controller/controller_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/envelope.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/envelope_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/metrics/metrics_test.go
  test/integration/controlplane/transformation/kms_transformation_test.go
  test/integration/controlplane/transformation/kmsv2_transformation_test.go
Due: pull-kubernetes-e2e-kind-kms, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

kmsv2: reload metrics bug fix backport
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  test/integration/controlplane/transformation/kms_transformation_test.go
Due: pull-kubernetes-e2e-kind-kms, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

experimenting with feature tag
  test/e2e/storage/framework/testpattern.go
  test/e2e/storage/testsuites/pv_deletion_protection.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

added documentation about the format of certificateKey
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
Due: pull-kubernetes-e2e-kubeadm-gce

added documentation about the format of certificateKey
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
Due: pull-kubernetes-e2e-kubeadm-gce

Improve logging on kube-proxy exit
  pkg/proxy/node.go
  pkg/proxy/node_test.go
Due: none

Added TLS option for grpc probes
  pkg/probe/grpc/grpc.go
  pkg/probe/grpc/grpc_test.go
  pkg/volume/flexvolume/probe.go
  pkg/volume/flexvolume/probe_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

remove persistentvolume endpoints from pending_eligible_endpoints.yaml
  test/conformance/testdata/pending_eligible_endpoints.yaml
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Initial Commit.
  .devcontainer/devcontainer.json
  .devcontainer/local-features/etcd/devcontainer-feature.json
  .devcontainer/local-features/etcd/install.sh
  .devcontainer/local-features/kubectl-kind/devcontainer-feature.json
  .devcontainer/local-features/kubectl-kind/install.sh
  .devcontainer/local-features/kubetest2/devcontainer-feature.json
  .devcontainer/local-features/kubetest2/install.sh
  .devcontainer/setup.sh
  .devcontainer/welcome-message.txt
Due: none

Promote PV/PVC e2e test to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/storage/persistent_volumes.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Removing version tag so user can set it manually.
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

Trying to set the folders correctly
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

More folder fixes
  .devcontainer/setup.sh
Due: none

fix receiver
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/testsuites/pv_deletion_protection.go
  test/e2e/storage/testsuites/subpath.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Added custom golang feature
  .devcontainer/devcontainer.json
  .devcontainer/local-features/go/devcontainer-feature.json
  .devcontainer/local-features/go/install.sh
  .devcontainer/local-features/kubectl-kind/devcontainer-feature.json
  .devcontainer/local-features/kubetest2/devcontainer-feature.json
  .devcontainer/setup.sh
Due: none

Trying to fix issues
  .devcontainer/local-features/go/devcontainer-feature.json
  .devcontainer/local-features/kubectl-kind/devcontainer-feature.json
  .devcontainer/local-features/kubetest2/devcontainer-feature.json
Due: none

Removed custom go feature, added old one.
  .devcontainer/devcontainer.json
  .devcontainer/local-features/go/devcontainer-feature.json
  .devcontainer/local-features/go/install.sh
Due: none

Bugfixes
  .devcontainer/local-features/kubectl-kind/devcontainer-feature.json
  .devcontainer/local-features/kubetest2/devcontainer-feature.json
Due: none
