Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-provisioner-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-helper-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

force GOTOOLCHAIN="go${GO_VERSION}" for now
  Makefile
  hack/build/gotoolchain.sh
  hack/build/setup-go.sh
  images/base/Dockerfile
  images/kindnetd/Dockerfile
  images/local-path-provisioner/Dockerfile
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

bump local-path-provisioner image
  pkg/build/nodeimage/const_storage.go
Due: none

bump kindnetd image
  pkg/build/nodeimage/const_cni.go
Due: none

bump node image to 1.29.1
  pkg/apis/config/defaults/image.go
Due: none

version v0.21.0
  pkg/cmd/kind/version/version.go
Due: none

version v0.22.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

update install for v0.21.0
  README.md
  site/config.toml
Due: none

Remove `exclude-from-external-load-balancers` from single node clusters
  pkg/cluster/internal/create/actions/kubeadminit/init.go
Due: none

Avoid setting /kind/bin to 0644
  images/base/Dockerfile
Due: post-kind-push-base-image

Update apt package list to build bzImage
  site/content/docs/user/using-wsl2.md
Due: none

pass HTTP_PROXY, HTTPS_PROXY and NO_PROXY env vars to the building container when building node images
  pkg/build/nodeimage/buildcontext.go
Due: none

disable systemed-binfmt.service
  images/base/Dockerfile
Due: post-kind-push-base-image

Support multiple random ExtraPortMappings
  pkg/cluster/internal/providers/common/getport.go
  pkg/cluster/internal/providers/common/getport_test.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
Due: none

Support multiple -1 ExtraPortMappings
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
Due: none

Move portMapping check to start of loop
  pkg/internal/apis/config/validate.go
Due: none

Make /proc/sys read-only with carve-outs for some sysctls
  images/base/Dockerfile
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

allow overriding IMAGE_NAME
  images/Makefile.common.in
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image

drop creating /kind dir at node-image build time
  pkg/build/nodeimage/buildcontext.go
Due: none

bump node image
  pkg/apis/config/defaults/image.go
Due: none

update to 1.29.2 image
  pkg/apis/config/defaults/image.go
Due: none

version v0.22.0
  pkg/cmd/kind/version/version.go
Due: none

version v0.23.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

bump docs to 0.22.0
  README.md
  site/config.toml
Due: none

Initial provider for nerdctl/Finch
  pkg/cluster/internal/providers/nerdctl/OWNERS
  pkg/cluster/internal/providers/nerdctl/constants.go
  pkg/cluster/internal/providers/nerdctl/images.go
  pkg/cluster/internal/providers/nerdctl/network.go
  pkg/cluster/internal/providers/nerdctl/network_test.go
  pkg/cluster/internal/providers/nerdctl/node.go
  pkg/cluster/internal/providers/nerdctl/provider.go
  pkg/cluster/internal/providers/nerdctl/provision.go
  pkg/cluster/internal/providers/nerdctl/util.go
  pkg/cluster/provider.go
  pkg/internal/runtime/runtime.go
Due: none

support minimal nerdctl testing in CI
  .github/workflows/nerdctl.yaml
Due: none

Add ipFamily validation
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
Due: none

Fix Podman test failures caused by kernel update
  .github/workflows/podman.yml
Due: none

enable CDI on containerd
  images/base/files/etc/containerd/config.toml
Due: post-kind-push-base-image

update docs for nerdctl support
  .github/ISSUE_TEMPLATE/bug-report.md
  README.md
  pkg/cluster/provider.go
  site/content/_index.md
  site/content/docs/contributing/development.md
  site/content/docs/user/quick-start.md
  site/content/docs/user/rootless.md
Due: none

fix ci multi node cluster error
  .github/workflows/nerdctl.yaml
Due: none

Added `winget` install method for Windows
  README.md
Due: none

bump containerd to 1.7.14
  images/base/Dockerfile
Due: post-kind-push-base-image

bump cri-tools to v1.29.0
  images/base/Dockerfile
Due: post-kind-push-base-image

bump containerd-fuse-overlayfs to v1.0.8
  images/base/Dockerfile
Due: post-kind-push-base-image

bump CNI plugins to v1.4.1
  images/base/Dockerfile
Due: post-kind-push-base-image

go.mod: include indirect dependencies
  go.mod
  go.sum
Due: pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
