Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Images: Trigger controller build.
  TAG
Due: none

Images: Trigger controller build. (#12609)
  TAG
Due: none

Images: Trigger controller build. (#12611)
  TAG
Due: none

Images: Trigger controller build. (#12610)
  TAG
Due: none

Config/Annotations: Add `ssl-forbid-http` and `force-ssl-forbid-http`
  docs/user-guide/nginx-configuration/annotations-risk.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/tls.md
  internal/ingress/annotations/rewrite/main.go
  internal/ingress/annotations/rewrite/main_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/defaults/main.go
  rootfs/etc/nginx/lua/lua_ingress.lua
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
  test/e2e/annotations/forcesslforbidhttp.go
  test/e2e/annotations/sslforbidhttp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Chart: Add `.spec.trafficDistribution` support for controller services
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/tests/controller-service-internal_test.yaml
  charts/ingress-nginx/tests/controller-service_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.11.4 & chart v4.11.4.
  README.md
  changelog/controller-1.11.4.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.11.4.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.10.6 & chart v4.10.6.
  README.md
  changelog/controller-1.10.6.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.6.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Build custom-error-pages also for ARM64
  .github/workflows/images.yaml
Due: none

Release controller v1.12.0 & chart v4.12.0.
  README.md
  changelog/controller-1.12.0.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.12.0.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.10.6 & chart v4.10.6. (#12613)
  README.md
  changelog/controller-1.10.6.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.6.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update index.yaml
  index.yaml
Due: none

Release controller v1.11.4 & chart v4.11.4. (#12614)
  README.md
  changelog/controller-1.11.4.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.11.4.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.12.0 & chart v4.12.0. (#12615)
  README.md
  changelog/controller-1.12.0.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.12.0.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.12.0/v1.11.4/v1.10.6 & chart v4.12.0/v4.11.4/v4.10.6.
  README.md
  changelog/controller-1.10.6.md
  changelog/controller-1.11.4.md
  changelog/controller-1.12.0.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.6.md
  charts/ingress-nginx/changelog/helm-chart-4.11.4.md
  charts/ingress-nginx/changelog/helm-chart-4.12.0.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

NGINX: Remove unused substitutions module.
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Release controller v1.12.0/v1.11.4/v1.10.6 & chart v4.12.0/v4.11.4/v4.10.6. (#12619)
  README.md
  changelog/controller-1.10.6.md
  changelog/controller-1.11.4.md
  changelog/controller-1.12.0.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.6.md
  charts/ingress-nginx/changelog/helm-chart-4.11.4.md
  charts/ingress-nginx/changelog/helm-chart-4.12.0.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  deploy/index.html
  e2e-tests/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

NGINX: Remove unused substitutions module. (#12449)
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

NGINX: Bump OpenTelemetry.
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Update rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/balancer.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pre-ingress-nginx-lua-test

NGINX: Add NJS
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Replace server redirects Lua impl with NJS impl
  rootfs/etc/nginx/js/nginx/ngx_srv_redirect.js
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/fromtowwwredirect.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Replace auth cache key generation Lua impl with NJS impl
  rootfs/etc/nginx/js/nginx/ngx_conf_rewrite_auth.js
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/auth.go
  test/e2e/settings/global_external_auth.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Replace CORS handling logic with NJS scripting (avoid using Nginx 'if' directives)
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  rootfs/etc/nginx/js/nginx/ngx_handle_cors.js
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/cors.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Bump github.com/onsi/ginkgo/v2 from 2.22.1 to 2.22.2 (#12629)
  build/run-in-docker.sh
  go.mod
  go.sum
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/onsi/ginkgo/v2 from 2.22.1 to 2.22.2 (#12628)
  build/run-in-docker.sh
  go.mod
  go.sum
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/onsi/ginkgo/v2 from 2.22.1 to 2.22.2 (#12630)
  build/run-in-docker.sh
  go.mod
  go.sum
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

NGINX: Bump OpenTelemetry. (#12371)
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

NGINX: Bump OpenTelemetry. (#12631)
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate
