Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Add Nebius AI Cloud provider for MK8S cluster autoscaling
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/builder_nebius.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/nebius/nebius_cloud_provider.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager_test.go
  cluster-autoscaler/cloudprovider/nebius/nebius_node_group.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Address review feedback for Nebius provider
  cluster-autoscaler/cloudprovider/builder/builder_nebius.go
  cluster-autoscaler/cloudprovider/nebius/nebius_cloud_provider.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager_test.go
  cluster-autoscaler/cloudprovider/nebius/nebius_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add OWNERS, README, and fix stale target size tracking
  cluster-autoscaler/cloudprovider/nebius/OWNERS
  cluster-autoscaler/cloudprovider/nebius/README.md
  cluster-autoscaler/cloudprovider/nebius/nebius_manager.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager_test.go
  cluster-autoscaler/cloudprovider/nebius/nebius_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Clear partial instance data on pagination error
  cluster-autoscaler/cloudprovider/nebius/nebius_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Leave OWNERS approvers/reviewers empty for upstream maintainers to fill
  cluster-autoscaler/cloudprovider/nebius/OWNERS
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix gofmt, partial delete safety, autoscaling mode warning
  cluster-autoscaler/cloudprovider/nebius/nebius_manager.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager_test.go
  cluster-autoscaler/cloudprovider/nebius/nebius_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Enforce driver memorization in node resource comparator component to refresh gauges
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/simulator/dynamicresources/comparator/node.go
  cluster-autoscaler/simulator/dynamicresources/comparator/node_test.go
  cluster-autoscaler/simulator/dynamicresources/comparator/resource_delta.go
  cluster-autoscaler/simulator/dynamicresources/comparator/resource_delta_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix partial delete stale targetSize and simplify deleteInstances
  cluster-autoscaler/cloudprovider/nebius/nebius_manager.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager_test.go
  cluster-autoscaler/cloudprovider/nebius/nebius_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

test: simplify SimulateNodeRemoval test cases to plain struct literals
  cluster-autoscaler/simulator/cluster_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix copyright year, document autoscaling conversion, clarify nodeGroupIDLabel
  cluster-autoscaler/cloudprovider/builder/builder_nebius.go
  cluster-autoscaler/cloudprovider/nebius/README.md
  cluster-autoscaler/cloudprovider/nebius/nebius_cloud_provider.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager_test.go
  cluster-autoscaler/cloudprovider/nebius/nebius_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update CA helm chart for ProvisioningRequest
  cluster-autoscaler/charts/cluster-autoscaler/templates/clusterrole.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

changing to error const instead of message
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

fix: use azcore.ResponseError in preempted retry tests
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Make AtomicIncreaseSize blocking
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Add E4 machine family pricing
  cluster-autoscaler/cloudprovider/gce/gce_price_info.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Tweaks based on PR review
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/recommender/routines/recommender_controller.go
  vertical-pod-autoscaler/test/integration/recommender/util.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix isPreviousOOM double-counting across CrashLoopBackOff
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Cap OOM-based memory recommendation at maxAllowed to prevent runaway scaling
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
  vertical-pod-autoscaler/pkg/recommender/model/container_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix lint: remove extra empty line in cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster.go
  vertical-pod-autoscaler/pkg/recommender/model/container.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Bump chart version
  cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Reduce memory allocations
  cluster-autoscaler/simulator/clustersnapshot/predicate/evaluator.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Remove year from copyright headers per project boilerplate policy
  cluster-autoscaler/cloudprovider/builder/builder_nebius.go
  cluster-autoscaler/cloudprovider/nebius/nebius_cloud_provider.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager.go
  cluster-autoscaler/cloudprovider/nebius/nebius_manager_test.go
  cluster-autoscaler/cloudprovider/nebius/nebius_node_group.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

CA: remove dead CreateNodeNameToInfoMap helper
  cluster-autoscaler/utils/scheduler/scheduler.go
  cluster-autoscaler/utils/scheduler/scheduler_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix typo in VPA updater prometheus metric description
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Apply suggestion from @josemaia
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Use application/json for ProvisioningRequest client config
  cluster-autoscaler/builder/clients.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Fix typos in VPA updater metrics description (#9529)
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Split test go.mod from main go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/test/go.mod
  vertical-pod-autoscaler/test/go.sum
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Merge observer OnUpdate tests into one table-driven test
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add diagnostic watchdog system for loop monitoring
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/diagnostics/file_sink.go
  cluster-autoscaler/diagnostics/interface.go
  cluster-autoscaler/diagnostics/watchdog.go
  cluster-autoscaler/diagnostics/watchdog_test.go
  cluster-autoscaler/main.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix(recommender): load bearer token from file into PrometheusBearerToken
  vertical-pod-autoscaler/pkg/recommender/config/config.go
  vertical-pod-autoscaler/pkg/recommender/config/config_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

optimize(recommender): prevent unbounded growth of pod InitContainers list
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Inline newPod into mustNewPod
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix OOM detection for pods with restartPolicy: Never (#7955)
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go
  vertical-pod-autoscaler/pkg/recommender/input/oom/observer_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

add error to log message about failed client creation
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
