Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

controlplane: make option structs uniformly optional
  pkg/controlplane/apiserver/config.go
  pkg/controlplane/apiserver/options/options.go
  pkg/kubeapiserver/options/admission.go
  pkg/kubeapiserver/options/authentication.go
  pkg/kubeapiserver/options/authorization.go
  staging/src/k8s.io/apiserver/pkg/server/options/api_enablement.go
  staging/src/k8s.io/component-base/metrics/options.go
Due: pull-kubernetes-godeps

pkg/kubelet/cm: Remove deprecated sets.String and sets.Int
  cmd/kubelet/app/server.go
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/devicemanager/checkpoint/checkpoint.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_test.go
  pkg/kubelet/cm/devicemanager/pod_devices.go
  pkg/kubelet/cm/devicemanager/pod_devices_test.go
  pkg/kubelet/cm/devicemanager/topology_hints.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
  pkg/kubelet/cm/devicemanager/types.go
  pkg/kubelet/cm/helpers.go
  pkg/kubelet/cm/internal_container_lifecycle_linux.go
  pkg/kubelet/cm/memorymanager/fake_memory_manager.go
  pkg/kubelet/cm/memorymanager/memory_manager.go
  pkg/kubelet/cm/topologymanager/policy_options.go
  pkg/kubelet/cm/topologymanager/policy_options_test.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

controller/clusterauthenticationtrust: complete event filter
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller.go
Due: none

Add/update prechecks to verify-govulncheck.sh
  hack/verify-govulncheck.sh
Due: none

Fix 120739 - Prevent AddUpdateAPIService from blocking on updating spec
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go
Due: pull-kubernetes-godeps

Delete EndpointSlices when service selector is removed
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  staging/src/k8s.io/endpointslice/reconciler.go
  test/e2e/network/endpointslice.go
  test/integration/endpointslice/endpointslicemirroring_test.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

fix missed branch - targets when building using arm64
  test/e2e_node/builder/build.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

check buffer size when make chan
  staging/src/k8s.io/client-go/tools/events/fake.go
  staging/src/k8s.io/client-go/tools/record/fake.go
Due: pull-kubernetes-godeps

Revert: Revert: Clean up CRD conversion code structure
  cmd/kube-apiserver/app/config.go
  pkg/controlplane/apiserver/apiextensions.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/nop_converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/options/options.go
Due: pull-kubernetes-godeps

kubeadm: add unit test for phases/bootstraptoken/node/token.go
  cmd/kubeadm/app/phases/bootstraptoken/node/token_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

minor fix
  pkg/kubelet/container/cache.go
Due: pull-kubernetes-local-e2e-containerized

kube-controller-manager: enable WatchList feature for client-go when the FG was set
  cmd/kube-controller-manager/app/controllermanager.go
Due: none

apiextensions/conversion: add failing unit tests for ConvertToVersion
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter_test.go
Due: pull-kubernetes-godeps

Use local isCgroup2UnifiedMode consistently
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
Due: pull-kubernetes-local-e2e-containerized

Only configure swap if available on node
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
Due: pull-kubernetes-local-e2e-containerized

Use generic sets replace specified sets
  pkg/registry/authorization/util/helpers_test.go
  pkg/registry/core/service/allocator/bitmap_test.go
  pkg/registry/core/service/ipallocator/bitmap_test.go
  pkg/registry/core/service/ipallocator/ipallocator_test.go
  pkg/registry/core/service/portallocator/allocator_test.go
  pkg/registry/core/service/portallocator/controller/repair.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/serviceaccount/storage/storage.go
  pkg/registry/core/serviceaccount/storage/token.go
  pkg/registry/discovery/endpointslice/strategy.go
  pkg/registry/discovery/endpointslice/strategy_test.go
  pkg/registry/flowcontrol/ensurer/strategy.go
  pkg/registry/rbac/validation/rule.go
Due: none

use generic sets in scheduler
  pkg/scheduler/apis/config/v1/default_plugins.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
Due: pull-kubernetes-kind-dra

Address CR comments remove redundant tests
  pkg/apis/autoscaling/validation/validation.go
  pkg/apis/autoscaling/validation/validation_test.go
Due: none

fix linter
  pkg/apis/autoscaling/validation/validation_test.go
Due: none

Update pkg/apis/autoscaling/validation/validation_test.go
  pkg/apis/autoscaling/validation/validation_test.go
Due: none

fix tests instead of removing
  pkg/apis/autoscaling/validation/validation.go
  pkg/apis/autoscaling/validation/validation_test.go
Due: none

validate hpa target values
  pkg/apis/autoscaling/validation/validation.go
  pkg/apis/autoscaling/validation/validation_test.go
Due: none

apiextensions/conversion: fix mutation and converter input bug in ConvertToVersion
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/nop_converter.go
Due: pull-kubernetes-godeps

apiextensions/integration: add test for https://github.com/kubernetes/kubernetes/issues/117260
  test/integration/apiserver/fixtures-117260/apply.yaml
  test/integration/apiserver/fixtures-117260/crd.yaml
  test/integration/apiserver/fixtures-117260/etcd.json
  test/integration/apiserver/issue-117260_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

kmsv2: trigger pull-kubernetes-e2e-kind-kms job
  test/e2e/testing-manifests/auth/encrypt/encryption-config.yaml
Due: pull-kubernetes-e2e-kind-kms, pull-kubernetes-conformance-kind-ipv6-parallel

apiextensions/conversion: handle missing metadata
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter_test.go
Due: pull-kubernetes-godeps

kmsv2: trigger pull-kubernetes-e2e-kind-kms job without encryption
  test/e2e/testing-manifests/auth/encrypt/encryption-config.yaml
Due: pull-kubernetes-e2e-kind-kms, pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/os/install.sh
  openshift-hack/images/tests/Dockerfile.rhel
Due: post-kubernetes-push-image-pause, pull-kubernetes-cross, pull-kubernetes-godeps

e2e: remove redundant spaces in test names
  hack/conformance/check_conformance_test_requirements.go
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/custom_resource_definition.go
  test/e2e/apps/rc.go
  test/e2e/apps/replica_set.go
  test/e2e/auth/service_accounts.go
  test/e2e/common/node/runtimeclass.go
  test/e2e/kubectl/kubectl.go
  test/e2e/kubectl/logs.go
  test/e2e/network/dns.go
  test/e2e/network/ingressclass.go
  test/e2e/network/proxy.go
  test/e2e/network/service.go
  test/e2e/network/service_latency.go
  test/e2e/node/pre_stop.go
  test/e2e/scheduling/predicates.go
  test/e2e/storage/csistoragecapacity.go
  test/e2e/storage/local_volume_resize.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/vsphere/vsphere_scale.go
  test/e2e/windows/volumes.go
  test/e2e_node/container_lifecycle_test.go
  test/e2e_node/standalone_test.go
Due: pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

bump etcd cluster image to 3.5.9
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Due: post-kubernetes-push-image-etcd, pull-kubernetes-cross, pull-kubernetes-godeps

scheduler framework: support simulating cluster changes during autoscaling
  pkg/scheduler/framework/cycle_state.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/runtime/framework.go
Due: none

Refactoring variable declaration and value setting
  cmd/kubeadm/app/phases/addons/dns/dns_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

client-go: rename ENABLE_CLIENT_GO_WATCH_LIST_ALPHA to KUBE_FEATURE_GATE_USE_WATCH_LIST
  staging/src/k8s.io/client-go/tools/cache/reflector.go
Due: pull-kubernetes-godeps

update references to ENABLE_CLIENT_GO_WATCH_LIST_ALPHA
  test/e2e/apimachinery/watchlist.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix scalability concerns in test runs
  test/e2e/network/dual_stack.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

service controller: improve node lifecycle updates - update nodes if node's UID has changed
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps

service controller: improve node lifecycle updates - update nodes if providerID has changed
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: pull-kubernetes-godeps
