Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2, post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-misc-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e-v2/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/(kubekins-e2e/|kubekins-e2e-v2/variants.yaml)|kubetest|boskos|logexporter)
  post-test-infra-push-kubekins-e2e-v2: any of: ^images/kubekins-e2e-v2/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-push-misc-images: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config-canary: any of: ^config/(jobs|testgrids)/.*$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-misc-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/

disable branch protection for CVE feed branches
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

etcd: mark pull-etcd-contrib-mixin and pull-etcd-fuzzing-v3rpc as blocking
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

etcd: always run grpcproxy jobs
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

etcd: import pull-etcd-coverage-report presubmit job
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

:seedling: Adopt label filters on CAPI main jobs
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

promote pull-kubernetes-node-crio-e2e
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

promote pull-kubernetes-node-crio-cgrpv2-e2e
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

promote pull-kubernetes-node-crio-cgrpv2-imagevolume-e2e
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

promote pull-kubernetes-node-crio-cgrpv2-userns-e2e-serial
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

delete pull-kubernetes-node-e2e-crio-cgrpv1-dra-kubetest2
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

delete pull-kubernetes-node-e2e-crio-cgrpv2-dra-kubetest2
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add to lws approvers
  config/jobs/kubernetes-sigs/lws/OWNERS
Due: post-test-infra-upload-testgrid-config-canary

DRA: stop checking out k/k in periodic jobs
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

CAPIBM: add a new presubmit job for release-0.10 and update kubekins-e2e image
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presumbits-release-0.10.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: reduce memory usage
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: use tmp for etcd in kind cluster
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: reduce memory requests, use tmp for etcd
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

CAPI: ensure KUBERNETES_VERSION_LATEST_CI gets built
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 18 Feb 2025 00:03:45 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

etcd: always run coverage job
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

etcd e2e jobs: set 60m timeout
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add Edwinhr716 to lws approvers
  config/jobs/kubernetes-sigs/lws/OWNERS
Due: post-test-infra-upload-testgrid-config-canary

DRA: don't fork ci-kind-dra-all
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: reduce period for forked jobs
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: use https://dl.k8s.io/ci in forked jobs
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: generate periodic jobs for 1.32
  config/jobs/kubernetes/sig-release/release-branch-jobs/dra-1.32.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Replaced isSubsetOf with containerAny in kubernetes/sig-testing/kubernetes-kind.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

hugepages: use empty skip-regex for kubetest2 jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove the command of downloading kind binary
  config/jobs/etcd/etcd-operator-postsubmits.yaml
  config/jobs/etcd/etcd-operator-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

replace crio hugepages jobs with kubetest2
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

increase memory limit for pdcsi
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

etcd: set 60 minute timeout to e2e tests
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: remove e2e-node jobs for release-1.32 again
  config/jobs/kubernetes/sig-release/release-branch-jobs/dra-1.32.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add dra periodic job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add sunnylovestiramisu in gcp-compute-persistent-disk-csi-driver OWNERS file
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/OWNERS
Due: post-test-infra-upload-testgrid-config-canary

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

asd
  OWNERS_ALIASES
Due: none

Add petr-muller to OWNERS file.
  OWNERS
Due: none

Fix path bug in SIG Scalability Azure 100 node perf test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-azure.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update AMIs
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
