Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

QueryParamVerifier falls back on invalid v3 document
  staging/src/k8s.io/cli-runtime/pkg/resource/fallback_query_param_verifier.go
  staging/src/k8s.io/cli-runtime/pkg/resource/fallback_query_param_verifier_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3.go
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3_test.go
Due: pull-kubernetes-godeps

QueryParamVerifierV3 resilient to minimal OpenAPI V3 documents
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3.go
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3_test.go
Due: pull-kubernetes-godeps

update for feedback
  staging/src/k8s.io/cli-runtime/pkg/resource/fallback_query_param_verifier.go
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3.go
Due: pull-kubernetes-godeps

test/e2e/dra: update README
  test/e2e/dra/README.md
Due: pull-kubernetes-kind-dra, pull-kubernetes-conformance-kind-ipv6-parallel

Make update-vendor handle sub-modules
  go.mod
  hack/lib/util.sh
  hack/update-vendor.sh
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/kms/internal/plugins/mock/go.mod
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-cross, pull-kubernetes-godeps

update golang version of etcd build to 1.19.9
  cluster/images/etcd/Makefile
Due: post-kubernetes-push-image-etcd, pull-kubernetes-cross

etcd version monitor build go version update to 1.19.9
  build/dependencies.yaml
  cluster/images/etcd-version-monitor/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Migrated `pkg/scheduler/framework/runtime` to use contextual logging
  pkg/scheduler/framework/runtime/framework.go
Due: none

scheduler test: call frameworkruntime.WithLogger function for contextual logging
  pkg/scheduler/extender_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/preemption/preemption_test.go
Due: none

cidrset, multicidrset: directly use getIndexForIP method
  pkg/controller/nodeipam/ipam/cidrset/cidr_set.go
  pkg/controller/nodeipam/ipam/cidrset/cidr_set_test.go
  pkg/controller/nodeipam/ipam/multicidrset/multi_cidr_set.go
  pkg/controller/nodeipam/ipam/multicidrset/multi_cidr_set_test.go
Due: none

add new metrics for the internal client-go transport generator
  staging/src/k8s.io/client-go/tools/metrics/metrics.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
  test/integration/client/metrics/main_test.go
  test/integration/client/metrics/metrics_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Log a warning if a ImagePullSecrets does not exist
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/secret/fake_manager.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

DRA: use containerd 1.7 in kind image
  test/e2e/dra/kind-build-image.sh
Due: pull-kubernetes-kind-dra, pull-kubernetes-conformance-kind-ipv6-parallel

Job: Replace deprecated pointer utils with supported ones
  pkg/apis/batch/validation/validation_test.go
Due: none

When expecting pods count only active ones
  test/e2e/apps/statefulset.go
  test/e2e/framework/statefulset/wait.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Relax the HPA validation
  pkg/apis/autoscaling/validation/validation.go
  pkg/apis/autoscaling/validation/validation_test.go
Due: none

Add node check to vSphere cloud provider
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Due: pull-kubernetes-godeps

kubectl/describe: prefix array elements for readability
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Due: pull-kubernetes-godeps

Add `Linux{Sandbox,Container}SecurityContext.SupplementalGroupsPolicy` and `ContainerStatus.user` in cri-api
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Due: pull-kubernetes-godeps

Implement wiring between SecurityContext.SupplementalGroupsPolicy/ContainerStatus.User and cri-api in kubelet
  pkg/kubelet/container/runtime.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container_unsupported.go
  pkg/kubelet/kuberuntime/kuberuntime_container_windows.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_test.go
  pkg/kubelet/kuberuntime/security_context.go
Due: pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

dummy commit for testing
  test/e2e/network/networking.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

fix a bug where the AttachedVolume is not printed correctly in the log
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

release jobready feature as ga
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

hack/tools: bump logcheck to v0.5.0
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

fix: missing blank space in comments about StatefulSetUpdateStrategyType
  staging/src/k8s.io/api/apps/v1/types.go
Due: pull-kubernetes-godeps

improve: reduce function calling number
  pkg/controller/statefulset/stateful_set_control.go
Due: none

Avoid redundant copy of webhook authz cache key.
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1_test.go
Due: pull-kubernetes-godeps

Job: Use generic Set in validation
  pkg/apis/batch/validation/validation.go
Due: none

kubeadm: Make etcd member removal idempotent
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/util/etcd/etcd.go
  cmd/kubeadm/app/util/etcd/etcd_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: Use internal etcd client through an interface
  cmd/kubeadm/app/util/etcd/etcd.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: Add etcd client unit tests
  cmd/kubeadm/app/util/etcd/etcd_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

POC PSI
  pkg/apis/core/types.go
  pkg/kubelet/eviction/api/types.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/helpers.go
  pkg/kubelet/stats/helper.go
  staging/src/k8s.io/kubelet/pkg/apis/stats/v1alpha1/types.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

e2e framework: remove dependency on k8s.io/kubernetes/pkg/api/v1/pod
  test/e2e/framework/autoscaling/.import-restrictions
  test/e2e/framework/daemonset/fixtures.go
  test/e2e/framework/debug/.import-restrictions
  test/e2e/framework/deployment/.import-restrictions
  test/e2e/framework/ingress/.import-restrictions
  test/e2e/framework/kubectl/.import-restrictions
  test/e2e/framework/kubelet/.import-restrictions
  test/e2e/framework/metrics/.import-restrictions
  test/e2e/framework/network/.import-restrictions
  test/e2e/framework/node/.import-restrictions
  test/e2e/framework/perf/.import-restrictions
  test/e2e/framework/pod/.import-restrictions
  test/e2e/framework/pod/output/output.go
  test/e2e/framework/pod/wait.go
  test/e2e/framework/providers/.import-restrictions
  test/e2e/framework/resource/.import-restrictions
  test/e2e/framework/security/.import-restrictions
  test/e2e/framework/service/.import-restrictions
Due: pull-kubernetes-conformance-kind-ipv6-parallel

user --prune-allowlist in kube-addons.sh
  cluster/addons/addon-manager/kube-addons.sh
Due: pull-kubernetes-e2e-gke

use kubectl v1.27.1 in cluster addon manager
  cluster/addons/addon-manager/Makefile
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross

Create local copy to avoid potential race condition.
  staging/src/k8s.io/client-go/util/workqueue/queue_test.go
Due: pull-kubernetes-godeps
