Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-push-image-octodns-docker:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-k8s-infra:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-public-log-asn-matcher:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

post-k8sio-push-image-cs-fetch-repos-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - make
      args:
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

pull-k8sio-terraform-org-kubernetes-io:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-kubernetes-io
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-kubernetes-public:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/kubernetes-public
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-terraform-monitoring:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - hack/verify-terraform.sh
      args:
      - infra/gcp/terraform/k8s-infra-monitoring
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 1
  ...

pull-k8sio-dns-validate-config:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/infra-tools/octodns:v20220319-97d14a558
      command:
      - bash
      args:
      - -c
      - cd dns && make validate-config

add sig-openstack 1.27.0 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote kwok v0.2.0
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote csi-secrets-store driver:v1.3.3
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote 1.7.6 and 1.8.4 pdcsi from k8s-staging to k8s-prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

move promoter manifest to regisitry.k8s.io dir
  registry.k8s.io/manifests/k8s-staging-jobset/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add jobset to k8s.gcr.io (#5144)
  groups/restrictions.yaml
  groups/sig-apps/groups.yaml
  infra/gcp/infra.yaml
  registry.k8s.io/images/k8s-staging-jobset/OWNERS
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
  registry.k8s.io/manifests/k8s-staging-jobset/promoter-manifest.yaml
Due: pull-k8sio-groups-test, pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify, post-k8sio-groups

promote 1.9.3 from k8s-staging to k8s-prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote 1.3.13 and 1.4.4 filestorecsi image to prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add provider-openstack 1.27.1 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Create service monitor for boskos & bump prometheus resources
  infra/aws/terraform/prow-build-cluster/resources/boskos/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
Due: k8sio-k8s-resources-verify

Update boskos version
  infra/aws/terraform/prow-build-cluster/resources/boskos/aws-janitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/boskos/boskos.yaml
  infra/aws/terraform/prow-build-cluster/resources/boskos/reaper.yaml
Due: k8sio-k8s-resources-verify

Moving boskos service-monitor to monitoring folder
  infra/aws/terraform/prow-build-cluster/resources/monitoring/boskos/service-monitor.yaml
Due: k8sio-k8s-resources-verify

Add license to boskos service monitor
  infra/aws/terraform/prow-build-cluster/resources/monitoring/boskos/service-monitor.yaml
Due: k8sio-k8s-resources-verify

Minor fixes
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/modules/iam/policies.tf
  infra/aws/terraform/prow-build-cluster/resources/test-pods/test-pods-poddisruptionbudget.yaml
Due: k8sio-k8s-resources-verify

Add ProwClusterViewer policy
  infra/aws/terraform/prow-build-cluster/modules/iam/policies.tf
Due: none

Add ProwClusterViewer policy and address comments
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/modules/iam/policies.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/roles.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/users.tf
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

Parametrize list of cluster admins
  infra/aws/terraform/prow-build-cluster/iam.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/roles.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/users.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/variables.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

Update k8s-staging-nfd OWNERS
  registry.k8s.io/images/k8s-staging-nfd/OWNERS
Due: none

Add missing permissions
  infra/aws/terraform/prow-build-cluster/modules/iam/policies.tf
Due: none

promote 1.5.0 filestorecsi to prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Replace Terraform workspaces with dedicated backends
  infra/aws/terraform/prow-build-cluster/.gitignore
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/iam.tf
  infra/aws/terraform/prow-build-cluster/main.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/policies.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/roles.tf
  infra/aws/terraform/prow-build-cluster/modules/iam/variables.tf
  infra/aws/terraform/prow-build-cluster/prow.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

Move some variables to shared tfvars
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

Add dedicated backend configs
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/tfbackends/canary.tfbackend
  infra/aws/terraform/prow-build-cluster/tfbackends/prod.tfbackend
Due: none

Update docs
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

Fix Patryk's username in canary account
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
Due: none

Different name for prod and canary EKS cluster
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
Due: none

Parametrize AWS account ID
  infra/aws/terraform/prow-build-cluster/main.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

Mention boskos in docs
  infra/aws/terraform/prow-build-cluster/README.md
Due: none

promote 1.10.1, 1.9.3, 1.8.5, 1.7.7 from k8s-staging to k8s-prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Adding aravindh to sig-windows groups
  groups/sig-windows/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote 1.5.1 to prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

correct armor rules comment
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

add a rate limit at the load balancer via cloud armor
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

upgrade registry to v0.3.0
  infra/gcp/terraform/modules/oci-proxy/variables.tf
Due: pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii

promote registry 0.3.0
  registry.k8s.io/images/k8s-staging-infra-tools/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote kube-scheduler-simulator v0.1.0
  registry.k8s.io/images/k8s-staging-sched-simulator/OWNERS
  registry.k8s.io/images/k8s-staging-sched-simulator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

SIG Node leads email list
  groups/restrictions.yaml
  groups/sig-node/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

removed uppercase from emails
  groups/committee-security-response/groups.yaml
  groups/sig-cloud-provider/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

add promoter for kube-scheduler-simulator
  registry.k8s.io/manifests/k8s-staging-sched-simulator/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Path conditions:
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
