Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

update dependencies to reflect Go 1.19.1 and Go 1.18.6 updates
  dependencies.yaml
Due: none

schedule-builder: move model to it own package to export
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root.go
  cmd/schedule-builder/model/model.go
Due: post-release-push-image-k8s-ci-builder

feat: add new tool to send patch release cherry pick notificatications
  cmd/patch-release-notify/cmd/root.go
  cmd/patch-release-notify/cmd/templates/email.tmpl
  cmd/patch-release-notify/main.go
  compile-release-tools
Due: post-release-push-image-k8s-ci-builder

update code
  cmd/patch-release-notify/README.md
  cmd/patch-release-notify/cmd/root.go
  cmd/patch-release-notify/cmd/templates/email.tmpl
  gcb/patch-notify/cloudbuild.yaml
Due: post-release-push-image-k8s-ci-builder

krel: Support Tempral CVE metrics
  pkg/cve/cve.go
Due: post-release-push-image-k8s-ci-builder

update ci-signal team for ci-signal tool review
  OWNERS_ALIASES
Due: none

Switch to goark/go-cvss
  go.mod
  go.sum
  pkg/cve/cve.go
Due: post-release-push-image-k8s-ci-builder

distroless-iptables: bump gorunner image version to v2.3.1-go1.19.1
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

debian-iptables: bump gorunner image version to v2.3.1-go1.19.1
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

updated with reviewers
  OWNERS_ALIASES
Due: none

updated with changes
  OWNERS_ALIASES
Due: none

Use CVE `Metrics` interface to simplify code
  pkg/cve/cve.go
Due: post-release-push-image-k8s-ci-builder

Use latest CNI version for deb packages
  dependencies.yaml
  packages/deb/build.go
Due: none

Bumping distroless-iptables to 0.1.2 to patch vulnerability
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Updated
  OWNERS_ALIASES
Due: none

update ci-signal tool reviewers (#2665)
  OWNERS_ALIASES
Due: none

Adding RISC-V support
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

WIP
  cmd/krel/cmd/CHANGELOG-1.16.json
  cmd/krel/cmd/CHANGELOG-1.18.json
  cmd/krel/cmd/CHANGELOG-1.19.json
  cmd/krel/cmd/CHANGELOG-1.21.json
  cmd/krel/cmd/root_test.go
  hack/test-go.sh
Due: post-release-push-image-k8s-ci-builder

update GORUNNER_VERSION base image for debian-iptables
  dependencies.yaml
  images/build/debian-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Fix command name in publish-release README.md
  cmd/publish-release/README.md
Due: post-release-push-image-k8s-ci-builder

Ensure release-notes tool doesn't skip automated cherry picks
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.19.2 and 1.18.7 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

update build admins
  OWNERS_ALIASES
Due: none

Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.2 and Go 1.18.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update Golang dependency update issue template
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

publish-release: Support reading assets from buckets
  cmd/publish-release/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

Add unit test for remote asset processor
  cmd/publish-release/cmd/github_test.go
Due: post-release-push-image-k8s-ci-builder

exact-copy k8s-rapture.sh to build-packages.sh and publish-packages.sh
  hack/rapture/build-packages.sh
  hack/rapture/publish-packages.sh
Due: none

convert build-packages.sh to only do package builds
  hack/rapture/build-packages.sh
Due: none

convert publish-packages.sh to only do package sign and publish
  hack/rapture/publish-packages.sh
Due: none

cleanup package scripts
  hack/rapture/build-packages.sh
  hack/rapture/publish-packages.sh
Due: none

convert k8s-rapture.sh to use build-packages.sh and publish-packages.sh
  hack/rapture/k8s-rapture.sh
Due: none

fix missing distro local
  hack/rapture/publish-packages.sh
Due: none

Ensure it's possible to build rpms generated by kubepkg
  cmd/kubepkg/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/kubepkg/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/kubepkg/templates/latest/rpm/kubectl/kubectl.spec
  cmd/kubepkg/templates/latest/rpm/kubelet/kubelet.spec
  cmd/kubepkg/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

get the correct path to upload to github release page
  cmd/publish-release/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

restrict permissions on /etc/passwd-
  images/build/debian-base/bullseye/Dockerfile.build
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

update bom to use head for now
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Build Go 1.19.3 and 1.18.8 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Fix unbound variable if no version is specified in `hack/rapture/build-packages.sh`
  hack/rapture/build-packages.sh
Due: none

update go-github
  go.mod
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder
