Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Add alternative debian based base image
  images/modsecurity/Makefile
  images/modsecurity/README.md
  images/modsecurity/cloudbuild.yaml
  images/modsecurity/rootfs/Dockerfile
  images/modsecurity/rootfs/build.sh
  images/nginx-debian/Makefile
  images/nginx-debian/README.md
  images/nginx-debian/cloudbuild.yaml
  images/nginx-debian/rootfs/Dockerfile
  images/nginx-debian/rootfs/build.sh
  images/nginx-debian/rootfs/patches/nginx-1.19.3-balancer_status_code.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-cache_manager_exit.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-delayed_posted_events.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-hash_overflow.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-init_cycle_pool_release.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-larger_max_error_str.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-no_Werror.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-proxy_host_port_vars.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-resolver_conf_parsing.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-reuseport_close_unused_fds.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-single_process_graceful_exit.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-socket_cloexec.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-ssl_cert_cb_yield.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-ssl_sess_cb_yield.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-stream_proxy_get_next_upstream_tries.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-stream_ssl_preread_no_skip.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-upstream_pipelining.patch
  images/nginx-debian/rootfs/patches/nginx-1.19.3-upstream_timeout_fields.patch
Due: pull-ingress-nginx-boilerplate

Remove addgroup directive from alpine building
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Update to the base nginx image
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Revert "Update to the base nginx image"
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update test runner image
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: pull-ingress-nginx-boilerplate

improve faq for migration to ingress api v1
  docs/index.md
Due: none

improve faq for migration to ingress api v1 (#7540)
  docs/index.md
Due: none

Deploy GitHub Pages
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix 7591
  docs/index.md
Due: none

update template.go
  internal/ingress/controller/template/template.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

update template_test.go
  internal/ingress/controller/template/template_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update to the base nginx image (#7597)
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix 7591 (#7598)
  docs/index.md
Due: none

Deploy GitHub Pages
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix charts README.md to give additional detail on prometheus metrics configuration
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Updated docs for multiple istances of Ingress-NGINX
  docs/user-guide/multiple-ingress.md
Due: none

charts readme.md remove blank line
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

added brief completion to the documentation
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/custom-headers/configmap-client-response.yaml
Due: none

Revert "added brief completion to the documentation"
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/custom-headers/configmap-client-response.yaml
Due: none

signed cla
  docs/examples/customization/custom-headers/configmap-client-response.yaml
Due: none

added another documentation example
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/custom-headers/configmap-client-response.yaml
Due: none

added end of file newline
  docs/examples/customization/custom-headers/configmap-client-response.yaml
Due: none

Revert "added end of file newline"
  docs/examples/customization/custom-headers/configmap-client-response.yaml
Due: none

added another documentation example
  docs/examples/customization/custom-headers/configmap-client-response.yaml
Due: none

remove timestamp when requeuing Element (#7440)
  internal/task/queue.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Updated cloudbuild to increase build timeout value
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-build-e2e-image

Update cloudbuild timeout (#7604)
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-build-e2e-image

fix cli flag typo in faq
  docs/index.md
Due: none

add upstream hash by endpoint
  internal/ingress/types.go
  internal/ingress/types_equals.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

correcting the sha and version of e2e test runner images
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: pull-ingress-nginx-boilerplate

Update e2e test runner image (#7596)
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: pull-ingress-nginx-boilerplate

fix charts README.md to give additional detail on prometheus metrics … (#7601)
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart
