Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-opentelemetry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

increase wait on web cert setup
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

add cmctl to check its working
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

README: Update `external-dns` link.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/README.md.gotmpl
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

README: Update `external-dns` link. (#9866)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/README.md.gotmpl
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

add puerco and cpanato as approvers
  OWNERS_ALIASES
Due: none

fix wait cmd and update default k8s version
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

update the kubectl test commands
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

update k8s versions for testing and remove cache deletion
  .github/workflows/ci.yaml
Due: none

upgrade default to 1.26 for testing
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate

Update k8s versions (#9879)
  .github/workflows/ci.yaml
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate

Fix EWMA by the success rate when fail-fast
  internal/ingress/controller/template/configmap.go
  rootfs/etc/nginx/lua/balancer/ewma.lua
  rootfs/etc/nginx/lua/test/balancer/ewma_test.lua
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
  test/test-lua.sh
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

DaemonSet: Align to `Deployment` (and vice versa).
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

I have not been able to fulfill my maintainer responsibilities for a while already, making it official now.
  OWNERS_ALIASES
Due: none

Make ElvinEfendi emeritus approver
  OWNERS
Due: none

EWMA score adjusted by success rate when backend services fail fast
  rootfs/etc/nginx/lua/balancer/ewma.lua
  rootfs/etc/nginx/lua/test/balancer/ewma_spec.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Check real client IP for access when behind a proxy
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  pkg/apis/ingress/types.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/ipdenylist.go
  test/e2e/annotations/ipwhitelist.go
  test/e2e/settings/configmap_change.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

I have not been able to fulfill my maintainer responsibilities for a while already, making it official now. (#9883)
  OWNERS
  OWNERS_ALIASES
Due: none

fix(otel-version): update opentelemetry image for the current chart version
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

update k8s.io dependecies to v0.26.4
  go.mod
  go.sum
Due: none

Adding resource type to default HPA configuration to resolve issues with Terraform helm chart usage (#9803)
  charts/ingress-nginx/templates/default-backend-hpa.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

add some e2e tests (unfinished) + fix findMountPoint bug
  pkg/util/runtime/cpu_linux.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

typo
  pkg/util/runtime/cpu_linux.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

update k8s.io dependecies to v0.26.4 (#9893)
  go.mod
  go.sum
Due: none

add codeowners
  .github/CODEOWNERS
Due: none

move error check
  pkg/util/runtime/cpu_linux.go
  test/e2e/cgroups/cgroups.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

try to figure out testing flags
  Makefile
  pkg/util/runtime/cpu_linux.go
  pkg/util/runtime/cpu_notlinux.go
  test/e2e/cgroups/cgroups.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

add files
  test/e2e/cgroups/cgroups_linux.go
  test/e2e/cgroups/cgroups_notlinux.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

ensure make lua-test runs locally
  Makefile
  test/test-lua.sh
Due: pull-ingress-nginx-boilerplate

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
