Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-distroless-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20230111-cd1b3caf9c
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

build go images for 1.26/1.25/1.24 release branches
  dependencies.yaml
  images/build/cross/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-k8s-ci-builder

Fix typos in pkg/anago
  pkg/anago/anago.go
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Bump builders to use Go 1.20.5 for branches 1.26/1.25/1.24
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

debian-iptables: switch to debian bookworm
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/bookworm/Dockerfile
  images/build/debian-iptables/bookworm/iptables-wrapper
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Remove old google analytics code
  images/build/debian-iptables/README.md
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Move specs to cmd/krel/templates/latest
  cmd/krel/templates/latest/cri-tools/LICENSE
  cmd/krel/templates/latest/cri-tools/README.md
  cmd/krel/templates/latest/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/kubeadm/10-kubeadm.conf
  cmd/krel/templates/latest/kubeadm/LICENSE
  cmd/krel/templates/latest/kubeadm/README.md
  cmd/krel/templates/latest/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/kubectl/LICENSE
  cmd/krel/templates/latest/kubectl/README.md
  cmd/krel/templates/latest/kubectl/kubectl.spec
  cmd/krel/templates/latest/kubelet/LICENSE
  cmd/krel/templates/latest/kubelet/README.md
  cmd/krel/templates/latest/kubelet/kubelet.env
  cmd/krel/templates/latest/kubelet/kubelet.service
  cmd/krel/templates/latest/kubelet/kubelet.spec
  cmd/krel/templates/latest/kubernetes-cni/LICENSE
  cmd/krel/templates/latest/kubernetes-cni/README.md
  cmd/krel/templates/latest/kubernetes-cni/kubernetes-cni.spec
  cmd/krel/templates/latest/metadata.yaml
Due: post-release-push-image-k8s-ci-builder

releng-ci: switch to debian bookworm
  dependencies.yaml
  images/releng/ci/Dockerfile
  images/releng/ci/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

Fix scorecards analysis CI test
  .github/workflows/scorecards-analysis.yml
Due: none

Enable OBS builds in krel stage and release
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

Fix linter errors
  cmd/krel/cmd/obs_stage.go
  pkg/gcp/gcb/gcb.go
Due: post-release-push-image-k8s-ci-builder

Generate fakes for obs/release
  pkg/obs/obsfakes/fake_release_client.go
  pkg/obs/obsfakes/fake_release_impl.go
Due: post-release-push-image-k8s-ci-builder

Fix typo in obs_stage.go
  cmd/krel/cmd/obs_stage.go
Due: post-release-push-image-k8s-ci-builder

Add sbom format option to publish-release
  cmd/publish-release/cmd/github.go
  pkg/announce/github_page.go
Due: post-release-push-image-k8s-ci-builder

Refactor krel obs specs command
  cmd/krel/cmd/obs_specs.go
  pkg/obs/metadata/metadata.go
  pkg/obs/options/options.go
  pkg/obs/options/options_test.go
  pkg/obs/specs/archive.go
  pkg/obs/specs/fetcher.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/links.go
  pkg/obs/specs/links_test.go
  pkg/obs/specs/specs.go
  pkg/obs/specs/specs_test.go
  pkg/obs/specs/specsfakes/fake_impl.go
  pkg/obs/specs/template.go
  pkg/obs/specs/versions.go
  pkg/obs/specs/versions_test.go
Due: post-release-push-image-k8s-ci-builder

obs: fix dependencies in kubeadm spec file
  cmd/krel/templates/latest/kubeadm/kubeadm.spec
Due: post-release-push-image-k8s-ci-builder

update cosign image and use the ghcr registry
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

fix some linter errors
  dependencies.yaml
  hack/verify-boilerplate.sh
  images/build/go-runner/go-runner.go
  internal/tools.go
  packages/deb/build.go
  packages/deb/build_test.go
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Build Go 1.20.6 images and remove references to Go 1.19
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

setcap: switch to debian bookworm
  dependencies.yaml
  images/build/setcap/Dockerfile
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-setcap, post-release-push-image-releng-ci, pull-release-image-setcap

Inline value for certificate-identity in GCB release
  gcb/release/cloudbuild.yaml
Due: none

Update k8s-cloud-builder to Go 1.20.7 after updating k/k master
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Drop kubelet dependency for kubernetes-cni
  cmd/krel/templates/latest/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-k8s-ci-builder

golang: build 1.21rc4 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

bump dependencies.yaml to 1.20.7
  dependencies.yaml
Due: none

Download zeitgeist binary directly
  dependencies.yaml
  go.mod
  go.sum
  hack/verify-dependencies.sh
  internal/tools.go
Due: post-release-push-image-k8s-ci-builder

Deflake `TestPublish` unit tests
  pkg/release/images_test.go
Due: post-release-push-image-k8s-ci-builder

update publishing bot issue repo to k/sig-release
  pkg/release/release.go
Due: post-release-push-image-k8s-ci-builder

golang: Build 1.21rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

OBS specs: remove source tarball when downloading from GCS
  pkg/obs/specs/archive.go
Due: post-release-push-image-k8s-ci-builder

Add `rpmlint` to releng-ci image
  images/releng/ci/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-releng-ci

Update distroless-iptables to use go 1.20.7
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Build Go 1.20.7 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Ability to build amd64 from arm64 as well
  images/build/cross/default/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Mock tags per branch to avoid GitHub rate limit
  pkg/changelog/changelog.go
Due: post-release-push-image-k8s-ci-builder

Make krel obs stage/release use correct OBSProject field
  pkg/obs/release.go
  pkg/obs/stage.go
Due: post-release-push-image-k8s-ci-builder

Fix typo at announce.go
  cmd/krel/cmd/announce.go
Due: post-release-push-image-k8s-ci-builder

update release-sdk and go-github
  go.mod
  go.sum
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

update k8s-ci-builder dockerfile
  dependencies.yaml
  images/releng/k8s-ci-builder/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

Update distroless-iptables to use Go 1.20.6
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Update dependencies for new deb and rpm packages
  cmd/krel/templates/latest/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/kubelet/kubelet.spec
  cmd/krel/templates/latest/metadata.yaml
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
