Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*

chore: separates crds make target from container-linux target
  Makefile
Due: none

Crd upgrade via helm hooks (#623)
  Makefile
  docker/Makefile
  docker/build.sh
  docker/crd.Dockerfile
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  test/scripts/initialize_eks_cluster.bash
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

docs: adds note about crd upgrade
  docs/book/src/getting-started/upgrades.md
Due: none

docs: adds formatting
  docs/book/src/getting-started/upgrades.md
Due: none

test: gcp use workload id instead of node publish
  test/bats/azure.bats
  test/bats/gcp.bats
  test/bats/helpers.bash
  test/bats/tests/gcp/gcp_v1alpha1_secretproviderclass.yaml
  test/bats/tests/gcp/pod-secrets-store-inline-volume-crd.yaml
Due: none

chore: switch to using distroless base image for driver-crds
  Makefile
  docker/cloudbuild.yaml
  docker/crd.Dockerfile
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: updates note
  docs/book/src/getting-started/upgrades.md
Due: none

docs: adds note about crd upgrade (#642)
  docs/book/src/getting-started/upgrades.md
Due: none

dockerfile: fix CVE-2021-33910
  docker/Dockerfile
Due: secrets-store-csi-driver-push-image

Add metrics port definition to DS
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: bump version to v0.1.0
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

docs: add details on v0.1.0 upgrades
  docs/book/src/getting-started/upgrades.md
Due: none

chore: switch to using manifest_staging charts in the build
  docker/build.sh
  test/bats/azure.bats
Due: secrets-store-csi-driver-push-image

chore: bump version to v0.1.0 in release-0.1
  Makefile
  docker/Makefile
Due: secrets-store-csi-driver-push-image

fix: add ARCH build arg for driver-crds
  docker/build.sh
Due: secrets-store-csi-driver-push-image

chore: add cherry_pick_pull script from kubernetes
  hack/cherry_pick_pull.sh
Due: none

feat: add keep-crd upgrade hook
  manifest_staging/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  test/bats/azure.bats
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

e2e: add driver-crd image to e2e-helm-upgrade target
  Makefile
Due: none

updated metrics-addr to accept integers
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/values.yaml
  cmd/secrets-store-csi-driver/main.go
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

metrics-addr updated
  cmd/secrets-store-csi-driver/main.go
Due: none

release: update manifests for v0.1.0
  Makefile
  charts/index.yaml
  charts/secrets-store-csi-driver-0.1.0.tgz
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  docker/Makefile
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

release: update manifests for v0.1.0
  Makefile
  charts/index.yaml
  charts/secrets-store-csi-driver-0.1.0.tgz
  charts/secrets-store-csi-driver/Chart.yaml
  charts/secrets-store-csi-driver/README.md
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
  charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/csidriver.yaml
  charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
  charts/secrets-store-csi-driver/values.yaml
  config/crd/bases/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  deploy/secrets-store-csi-driver-windows.yaml
  deploy/secrets-store-csi-driver.yaml
  deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/Chart.yaml
  manifest_staging/charts/secrets-store-csi-driver/README.md
  manifest_staging/charts/secrets-store-csi-driver/crds/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver.yaml
  manifest_staging/deploy/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

Apply suggestions from code review
  docs/MEMBERSHIP.md
Due: none

test: use kubectl exec instead of cp
  test/bats/azure.bats
Due: none

gcp tests: explicit specify namespace
  test/bats/gcp.bats
Due: none

lint: address revive finding
  pkg/version/version.go
Due: none

lint: update golangci-lint to v1.41.1
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

lint: replace golint with revive
  .golangci.yml
Due: none

lint: fix ineffassign findings
  controllers/secretproviderclasspodstatus_controller.go
  pkg/rotation/reconciler_test.go
Due: none

gosec: Address G306 finding
  pkg/util/fileutil/writer_test.go
Due: none

Update Membership.md with more roles/details (#607)
  docs/MEMBERSHIP.md
Due: none

lint: ensure findings are not truncated
  .golangci.yml
Due: none

chore: update golangci-lint (#635)
  .golangci.yml
  controllers/secretproviderclasspodstatus_controller.go
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/rotation/reconciler_test.go
  pkg/util/fileutil/writer_test.go
  pkg/version/version.go
Due: none

docs: update load test doc for filtered watch secret
  docs/book/src/load-tests.md
Due: none

test: adds make target for deploy manifest
  Makefile
Due: none

ci: installs yq
  Makefile
Due: none
