Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

code cleanup: reuse min and max functions in horizontal.go
  pkg/controller/podautoscaler/horizontal.go
Due: none

cleanup: replace x.Sub(time.Now()) with time.Until(x) in e2e test
  test/e2e/node/kubelet_perf.go
  test/e2e_node/resource_usage_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Update staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader_controller.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader_controller.go
Due: pull-kubernetes-godeps

cleanup: omit redundant nil check around loop in apiserver
  cmd/kube-apiserver/app/server.go
Due: none

cleanup: fix empty critical section to defer the unlock
  pkg/volume/glusterfs/glusterfs.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

fix path import slash in code generator with windows
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/generator_for_clientset.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/generator_for_group.go
Due: pull-kubernetes-godeps

taints are set with effect of NoExecute too late when nodes are notready
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
Due: none

Committed on 4 23 2021
  2021/4/23/commit.md
Due: none

Making a run test4.
  cmd/kube-proxy/app/conntrack.go
Due: none

code cleanup: kubelet use max and min functions to make the code clearer
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

skip linux ut on mac in pkg/kubelet/dockershim
  pkg/kubelet/dockershim/docker_sandbox_linux_test.go
  pkg/kubelet/dockershim/docker_sandbox_test.go
  pkg/kubelet/dockershim/docker_stats_test.go
Due: pull-kubernetes-local-e2e-containerized

Making a run test.
  cmd/kube-proxy/app/server_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

Stop unsetting the golang buildid
  hack/lib/golang.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

feat: change parittion style to GPT on Windows
  staging/src/k8s.io/mount-utils/mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-godeps

Making a run test.
  cmd/kube-controller-manager/app/policy.go
Due: none

Making a run test.
  cmd/kube-proxy/app/conntrack.go
Due: none

update node local dns readme for ipv6 and 1.18 GA
  cluster/addons/dns/nodelocaldns/README.md
Due: pull-kubernetes-e2e-gke

typo
  pkg/kubelet/kubelet.go
  test/images/windows/powershell-helper/Dockerfile_windows
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-conformance-kind-ipv6-parallel

HACK: experimental hack to reduce allocations during watch event spikes.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/protobuf.go
Due: pull-kubernetes-godeps

Use sync.Pool in protobuf serializer.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/protobuf.go
Due: pull-kubernetes-godeps

fix TestMutatingWebhookResetsInvalidManagedFields flakes
  test/integration/apiserver/admissionwebhook/invalid_managedFields_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

certificates: allow use to specify shorter TTL for CSR issued certs
  pkg/controller/certificates/signer/signer.go
  pkg/controller/certificates/signer/signer_test.go
Due: none

Fixed typo for kubectl top pod
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_node.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod.go
Due: pull-kubernetes-godeps

Fix bash completion for multiple resource names
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
Due: pull-kubernetes-godeps

kubelet: add optional synchronization to podKiller KillPod
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_test.go
Due: pull-kubernetes-local-e2e-containerized

Fix validation in kubectl create ingress
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
Due: pull-kubernetes-godeps

Fix validation in kubectl create ingress
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress_test.go
Due: pull-kubernetes-godeps

Update the permissions of /var/etcd from 0700 -> 0750, so that backup components that are part of etcd group can traverse it.
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Added benchmarks for pod affinity namespaceselector
  test/integration/scheduler_perf/config/namespace-with-labels.yaml
  test/integration/scheduler_perf/config/performance-config.yaml
  test/integration/scheduler_perf/config/pod-affinity-ns-selector.yaml
  test/integration/scheduler_perf/config/pod-anti-affinity-ns-selector.yaml
  test/integration/scheduler_perf/config/pod-preferred-affinity-ns-selector.yaml
  test/integration/scheduler_perf/config/pod-preferred-anti-affinity-ns-selector.yaml
  test/integration/scheduler_perf/scheduler_perf_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add correct GV for PSP describer
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Due: pull-kubernetes-godeps

Clean up kinds removed from extensionv1beta in 1.16
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Due: pull-kubernetes-godeps

Avoid logging JSON blob on error.
  staging/src/k8s.io/legacy-cloud-providers/gce/gcpcredential/gcpcredential.go
Due: pull-kubernetes-godeps

[wip] queue wait with deadline
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/fifo_list.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/types.go
Due: pull-kubernetes-godeps

Use python3 everywhere
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

Update dependencies.yaml
  build/dependencies.yaml
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Update Makefile
  cluster/images/etcd/Makefile
Due: pull-kubernetes-cross

update debian-base to buster-v1.5.0 for CVEs
  build/common.sh
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  test/utils/image/manifest.go
Due: pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Update to using kubedns 1.17.3 image.
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
Due: pull-kubernetes-e2e-gke
