Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-deploy-app-gcsweb:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/gcsweb/deploy.sh

post-k8sio-deploy-app-k8s-io:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/k8s-io/deploy.sh

post-k8sio-deploy-app-kubernetes-external-secrets:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/kubernetes-external-secrets/deploy.sh

post-k8sio-deploy-app-perfdash:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/perfdash/deploy.sh

Promote hostpathplugin 1.7.3
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

terraform/kubernetes-public: add k8s_prod_readiness dataset and group
  groups/restrictions.yaml
  groups/sig-architecture/groups.yaml
  infra/gcp/terraform/kubernetes-public/k8s-prod-readiness.tf
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

releng(promo-tools): Promote v3.2.0 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for v1.23.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Drop palnabarun temporary access
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

terraform/kubernetes-public: mv public IPs to for_each
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Due: none

releng: Promote debian-iptables and go-runner bullseye variants
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

gcp/bash: Add GCP secrets for kops ssh key
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Due: none

kubernetes-public: Allow write access to prow-build-trusted SA
  infra/gcp/terraform/kubernetes-public/prowjob-buckets.tf
Due: none

kube-cross: tagging kube-cross to use the same iamge for v1.21.0-go1.16.8-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Adding initContainer logic for fetching config
  apps/codesearch/deployment.yaml
Due: k8sio-k8s-resources-verify

apps: Switch jobs to ClusterIP and NEG
  apps/sippy/service.yaml
  apps/slack-infra/resources/slack-event-log/service.yaml
  apps/slack-infra/resources/slack-moderator-words/service.yaml
  apps/slack-infra/resources/slack-moderator/service.yaml
  apps/slack-infra/resources/slack-post-message/service.yaml
  apps/slack-infra/resources/slack-welcomer/service.yaml
  apps/slack-infra/resources/slackin/service.yaml
  apps/triageparty-release/service.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release

fix merge conflict
  groups/groups.yaml
  groups/restrictions.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

re-add new line
  groups/groups.yaml
  groups/restrictions.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

releng: Image promotion for v1.19.15 / v1.19.16-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for v1.20.11 / v1.20.12-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

use newer hound image
  apps/codesearch/deployment.yaml
  apps/codesearch/service.yaml
Due: k8sio-k8s-resources-verify

fix whitespace
  groups/restrictions.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add releaase-0.4 alias for Cluster API book
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

releng: Image promotion for v1.21.5 / v1.21.6-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for v1.22.2 / v1.22.3-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

kubernetes-public: Add BigQuery dataset for kettle
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
Due: none

[DO NOT MERGE] Attempt to mutate already promoted tags
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

small updates
  apps/codesearch/README.md
  apps/codesearch/service.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2021-09-16
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-gcslogs/iam.json
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-gcslogs/metadata.txt
  audit/projects/k8s-artifacts-prod/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-cip-test-prod/services/logging/logs.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20210914.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/k8s-infra-kops-e2e-tests-aws-ssh-key/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/k8s-infra-kops-e2e-tests-aws-ssh-key/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/k8s-infra-kops-e2e-tests-aws-ssh-key/versions.json
  audit/projects/k8s-staging-ci-images/services/enabled.txt
  audit/projects/k8s-staging-ci-images/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-do/services/logging/logs.json
  audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.json
  audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.k8s_prod_readiness.access.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

add cs-fetch-repos image
  images/codesearch/README.md
  images/codesearch/cs-fetch-repos/Dockerfile
  images/codesearch/cs-fetch-repos/Makefile
  images/codesearch/cs-fetch-repos/README.md
  images/codesearch/cs-fetch-repos/cloudbuild.yaml
  images/codesearch/cs-fetch-repos/requirements.txt
  images/codesearch/cs-fetch-repos/src/fetch-repos.py
Due: k8sio-k8s-resources-verify

add self as reviewer
  apps/codesearch/OWNERS
Due: none

Add ingress-nginx image to promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Update sig-apps leads
  OWNERS_ALIASES
Due: none

Update ingress.yaml
  apps/codesearch/ingress.yaml
Due: k8sio-k8s-resources-verify

Add myself to the kOps maintainers mailing list
  groups/sig-cluster-lifecycle/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

tf/kubernetes-public: shorten external-ips data
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Due: none

tf/kubernetes-public: grant prr approvers bq job create
  infra/gcp/terraform/kubernetes-public/k8s-prod-readiness.tf
Due: none

groups: rename PSC to committee-security-response
  OWNERS_ALIASES
  SECURITY_CONTACTS
  groups/committee-product-security/OWNERS
  groups/committee-security-response/OWNERS
  groups/committee-security-response/groups.yaml
  groups/groups_test.go
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

ingress-nginx e2e-test-runner promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2021-09-16
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.json
  audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.k8s_infra_kettle.access.json
Due: none

kubernetes-public: BigQuery Data transfer to k8s-infra-kettle
  apps/kettle/deploy.sh
  apps/kettle/kettle-serviceaccount.yaml
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
Due: k8sio-k8s-resources-verify

kubernetes-public: Enable BigQuery Data Transfer
  infra/gcp/bash/ensure-main-project.sh
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
Due: none

add iamnoah
  groups/sig-network/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

promote aws-ebs-csi-driver v1.3.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
