Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx1.25-image, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbun-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx1.25-image: any of: images/nginx-1.25/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbun-image: any of: images/httpbun/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

force nginx rebuild
  images/nginx/TAG
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image

Build NGINX v1.25 image
  .github/workflows/nginx125.yaml
  Makefile
  images/nginx-1.25/Makefile
  images/nginx-1.25/README.md
  images/nginx-1.25/TAG
  images/nginx-1.25/cloudbuild.yaml
  images/nginx-1.25/rootfs/Dockerfile
  images/nginx-1.25/rootfs/build.sh
  images/nginx-1.25/rootfs/patches/drop-alias-root.patch
  test/e2e/run-e2e-suite.sh
  test/e2e/run-kind-e2e.sh
  test/e2e/settings/opentelemetry.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx1.25-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

feat: allow configuring nginx worker reload behaviour, to prevent multiple concurrent worker reloads
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/configmap.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

force nginx rebuild (#10883)
  images/nginx/TAG
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image

appease linter, remove unnecessary log line
  internal/ingress/controller/nginx.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Build NGINX v1.25 image (#10629)
  .github/workflows/nginx125.yaml
  Makefile
  images/nginx-1.25/Makefile
  images/nginx-1.25/README.md
  images/nginx-1.25/TAG
  images/nginx-1.25/cloudbuild.yaml
  images/nginx-1.25/rootfs/Dockerfile
  images/nginx-1.25/rootfs/build.sh
  images/nginx-1.25/rootfs/patches/drop-alias-root.patch
  test/e2e/run-e2e-suite.sh
  test/e2e/run-kind-e2e.sh
  test/e2e/settings/opentelemetry.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx1.25-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

changed pip to apk in test-runner dockerfile
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-build-e2e-image

changed pip to apk in test-runner dockerfile (#10885)
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-build-e2e-image

fix OpenTelemtry image build
  images/opentelemetry/rootfs/CMakeLists.txt
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-build-opentelemetry, pull-ingress-nginx-boilerplate

use fpic
  images/opentelemetry/rootfs/CMakeLists.txt
Due: post-ingress-nginx-build-opentelemetry

fix OpenTelemtry image build (#10888)
  images/opentelemetry/rootfs/CMakeLists.txt
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-build-opentelemetry, pull-ingress-nginx-boilerplate

changed yamale install from pip to manual download & install
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-build-e2e-image

changed yamale install from pip to manual download & install (#10886)
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-build-e2e-image

Flip to using a positive behaviour flag instead of negative
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/configmap.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Update helm-docs
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

run ci workflow for release branches (#10819)
  .github/workflows/ci.yaml
Due: none

Add step for snapshot (#10736)
  .github/workflows/plugin.yaml
Due: none

one last 1.8 release
  .github/workflows/ci.yaml
  images/nginx/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-build-nginx-image

bump ginkgo to 2-15-0
  build/run-in-docker.sh
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-build-e2e-image, pull-ingress-nginx-boilerplate

one last 1.8 release (#10903)
  .github/workflows/ci.yaml
  images/nginx/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-build-nginx-image

force 1.8.5 build
  TAG
Due: post-ingress-nginx-push-images

changed testrunner image-sha for ginkgo-2-15-0
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

changed testrunner image-sha for ginkgo-2-15-0 (#10906)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

Allow proxy-ssl-* annotations without proxy-ssl-secret
  internal/ingress/annotations/proxyssl/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update TAG
  images/nginx/TAG
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image

update nginx base to alpine 3.19.0
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

update nginx base to alpine 3.19.0 (#10909)
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

docs: update otel example
  docs/user-guide/third-party-addons/opentelemetry.md
Due: none

docs: update otel related information
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

feat: remove all trace of opentracing support
  docs/e2e-tests.md
  docs/kubectl-plugin.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/third-party-addons/opentracing.md
  images/kube-webhook-certgen/rootfs/go.sum
  images/nginx/README.md
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-webhook-certgen-image, pull-ingress-nginx-boilerplate

chore: remove default settings from example
  docs/user-guide/third-party-addons/opentelemetry.md
Due: none
