Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

Join common functions for completion
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_edit_last_applied.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_view_last_applied.go
  staging/src/k8s.io/kubectl/pkg/cmd/attach/attach.go
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/config.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/delete_cluster.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/delete_context.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/rename_context.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/use_context.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit.go
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec.go
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label.go
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs.go
  staging/src/k8s.io/kubectl/pkg/cmd/patch/patch.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_history.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_pause.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_restart.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_resume.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_status.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_undo.go
  staging/src/k8s.io/kubectl/pkg/cmd/scale/scale.go
  staging/src/k8s.io/kubectl/pkg/cmd/taint/taint.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_node.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod.go
  staging/src/k8s.io/kubectl/pkg/util/completion.go
Due: pull-kubernetes-godeps

add a function that returns default scheduler configuration
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  pkg/scheduler/apis/config/latest/latest.go
Due: none

StatefulSet minReadySeconds e2e
  test/e2e/apps/statefulset.go
  test/e2e/framework/statefulset/wait.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Optimize scheduler res scorer on non-requested extended res
  pkg/scheduler/framework/plugins/noderesources/least_allocated.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio_test.go
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
Due: none

Updated to use konnectivity client v0.0.21, and implemented placeholder context
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector_test.go
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
Due: check-dependency-stats, pull-kubernetes-godeps

Update debian-iptables image to buster-v1.6.5
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Due: pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

nodeport tests: node addresses must match the service IP family
  test/e2e/network/service.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

Update debian-base image to buster-v1.8.0
  build/dependencies.yaml
  cluster/images/etcd/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Update setcap image to buster-v2.0.3
  build/common.sh
  build/dependencies.yaml
Due: pull-kubernetes-cross, pull-kubernetes-godeps

kubectl command headers as default in beta
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd_test.go
Due: pull-kubernetes-godeps

spec.terminationGracePeriodSeconds allow it to be set to 1s if it was previously negative
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Due: none

Fix: typo on ExtractHoge
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/applyconfiguration.go
Due: pull-kubernetes-godeps

Making a run test.
  cmd/kube-controller-manager/app/policy.go
Due: none

Add shu-mutou to dashboard approvers
  cluster/addons/dashboard/OWNERS
Due: pull-kubernetes-e2e-gke

Making a run test.
  CHANGELOG/CHANGELOG-1.22.md
Due: none

Fix OWNERS
  cluster/addons/dashboard/OWNERS
Due: pull-kubernetes-e2e-gke

Allow delete with grace period 1s even if metadata period is negative
  staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/delete_test.go
Due: pull-kubernetes-godeps

Ensure kubelet statuses can handle loss of container runtime state
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Due: pull-kubernetes-local-e2e-containerized

memory manager: move to beta
  pkg/features/kube_features.go
  test/e2e_node/memory_manager_test.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-conformance-kind-ipv6-parallel

proxier/iptables: include Service port in unit tests
  pkg/proxy/iptables/proxier_test.go
Due: none

proxier: simplify toplogy FilterLocalEndpoint function
  pkg/proxy/topology.go
  pkg/proxy/topology_test.go
Due: none

proxier/ipvs: fall back to ready terminating if no ready endpoint exists
  pkg/proxy/ipvs/proxier.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

bug fix in sctp test
  test/e2e/network/netpol/network_policy.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

correct example command of kubeadm help
  cmd/kubeadm/app/cmd/certs.go
Due: pull-kubernetes-e2e-kubeadm-gce

Track generalization for width
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
Due: pull-kubernetes-godeps

Move HPA v2beta2 deprecation to 1.23.
  staging/src/k8s.io/api/autoscaling/v2beta2/types.go
  staging/src/k8s.io/api/autoscaling/v2beta2/zz_generated.prerelease-lifecycle.go
Due: pull-kubernetes-godeps

Add APF metrics about R(t)
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
Due: pull-kubernetes-godeps

proxier/iptables: add unit tests for falling back to terminating endpoints
  pkg/proxy/iptables/proxier_test.go
Due: none

e2e: node: fix npd test failures bumping image
  test/e2e_node/image_list.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

e2e: node: remove obsolete AlphaFeature tag
  test/e2e_node/cpu_manager_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

proxier/iptables: fallback to terminating endpoints if there are no ready endpoints
  pkg/proxy/iptables/proxier.go
Due: none

proxier/ipvs: add ipvs unit tests for falling back to terminating endpoints
  pkg/proxy/ipvs/proxier_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

proxier/ipvs: unit tests should specify Service ports
  pkg/proxy/ipvs/proxier_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

proxier/iptables: reuse the same variable for endpointchains for better memory consumption
  pkg/proxy/iptables/proxier.go
Due: none

generate scheduler merge patches on the pod status instead of the full pod
  pkg/scheduler/scheduler.go
  pkg/scheduler/util/utils.go
  pkg/scheduler/util/utils_test.go
Due: none

Treat negative as 1s in delete path
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
Due: none

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
