Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-distroless-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-setcap:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
  ...

Make TagRepository step idempotent for safe krel stage re-runs
  pkg/anago/stage.go
  pkg/anago/stage_test.go
Due: post-release-push-image-k8s-ci-builder

build(distroless-iptables): add build-time assertion for static nftables
  images/build/distroless-iptables/distroless-bookworm/Dockerfile
  images/build/distroless-iptables/distroless-bullseye/Dockerfile
  images/build/distroless-iptables/distroless-trixie/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

build(distroless-iptables): expose nftables source metadata for SBOM
  images/build/distroless-iptables/distroless-bookworm/Dockerfile
  images/build/distroless-iptables/distroless-bullseye/Dockerfile
  images/build/distroless-iptables/distroless-trixie/Dockerfile
  images/build/distroless-iptables/libnft-packages.txt
  images/build/distroless-iptables/nft-packages.txt
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

build(distroless-iptables): Use patched nftables binaries in distroless-iptables
  images/build/distroless-iptables/distroless-bookworm/Dockerfile
  images/build/distroless-iptables/distroless-bookworm/patches/free-prototype.diff
  images/build/distroless-iptables/distroless-bookworm/patches/series
  images/build/distroless-iptables/distroless-bookworm/setup-metadata.sh
  images/build/distroless-iptables/distroless-bookworm/stage-binaries-from-package.sh
  images/build/distroless-iptables/distroless-bookworm/stage-binary-and-deps.sh
  images/build/distroless-iptables/distroless-bullseye/Dockerfile
  images/build/distroless-iptables/distroless-bullseye/clean-distroless.sh
  images/build/distroless-iptables/distroless-bullseye/package-utils.sh
  images/build/distroless-iptables/distroless-bullseye/stage-binaries-from-package.sh
  images/build/distroless-iptables/distroless-bullseye/stage-binary-and-deps.sh
  images/build/distroless-iptables/distroless-trixie/Dockerfile
  images/build/distroless-iptables/distroless-trixie/package-utils.sh
  images/build/distroless-iptables/distroless-trixie/patches/free-prototype.diff
  images/build/distroless-iptables/distroless-trixie/patches/series
  images/build/distroless-iptables/distroless-trixie/setup-metadata.sh
  images/build/distroless-iptables/distroless-trixie/stage-binaries-from-package.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Add kube-cross go1.26 variants for release-1.34 and release-1.35
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Bump distroless-iptables to v0.9.4/v0.8.12
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Belatedly bump distroless-iptables version for nft change
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Bump go github to v88
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Drop gogithub v84 from codebase
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Due: post-release-push-image-k8s-ci-builder

Regenerate fakes
  gcb/gcbfakes/fake_impl.go
  pkg/announce/announcefakes/fake_impl.go
  pkg/announce/github/githubfakes/fake_impl.go
  pkg/announce/sbom/sbomfakes/fake_impl.go
  pkg/binary/binaryfakes/fake_binary_implementation.go
  pkg/build/buildfakes/fake_impl.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/gcp/gcb/gcbfakes/fake_history_impl.go
  pkg/gcp/gcb/gcbfakes/fake_list_jobs.go
  pkg/gcp/gcb/gcbfakes/fake_release.go
  pkg/gcp/gcb/gcbfakes/fake_repository.go
  pkg/gcp/gcb/gcbfakes/fake_version.go
  pkg/kubecross/kubecrossfakes/fake_impl.go
  pkg/obs/obsfakes/fake_prerequisites_checker_impl.go
  pkg/obs/obsfakes/fake_release_client.go
  pkg/obs/obsfakes/fake_release_impl.go
  pkg/obs/obsfakes/fake_stage_client.go
  pkg/obs/obsfakes/fake_stage_impl.go
  pkg/obs/specs/specsfakes/fake_impl.go
  pkg/release/releasefakes/fake_branch_checker_impl.go
  pkg/release/releasefakes/fake_image_impl.go
  pkg/release/releasefakes/fake_prerequisites_checker_impl.go
  pkg/release/releasefakes/fake_publisher_client.go
  pkg/release/releasefakes/fake_repository.go
  pkg/release/releasefakes/fake_version_client.go
  pkg/testgrid/testgridfakes/fake_client.go
Due: post-release-push-image-k8s-ci-builder

go mod tidy
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Build kube-cross, go-runner, releng-ci with golang 1.24.5 and 1.25.12
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Don't skip adding to EOL if next release is not set
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
Due: post-release-push-image-k8s-ci-builder

distroless-iptables: bump golang to 1.26.5/1.25.12
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Build nft with JSON (and xtables-compat) support
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/distroless-bookworm/Dockerfile
  images/build/distroless-iptables/distroless-bookworm/patches/free-prototype.diff
  images/build/distroless-iptables/distroless-bookworm/patches/series
  images/build/distroless-iptables/distroless-trixie/Dockerfile
  images/build/distroless-iptables/distroless-trixie/patches/free-prototype.diff
  images/build/distroless-iptables/distroless-trixie/patches/series
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update k8s-cloud-builder and k8s-ci-builder to Go 1.25.5/1.24.12
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Drop k8s-cloud-builder and k8s-ci-builder variant for k8s 1.33
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

skip mapped release-note-none notes
  docs/release-notes-maps.md
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/notes_test.go
Due: post-release-push-image-k8s-ci-builder

release gcb-docker-gcloud image
  images/releng/gcb-docker-gcloud/Dockerfile
  images/releng/gcb-docker-gcloud/OWNERS
  images/releng/gcb-docker-gcloud/README.md
  images/releng/gcb-docker-gcloud/cloudbuild.yaml
  images/releng/gcb-docker-gcloud/runner.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Add RISC-V build for the kube-cross image
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

k8s-cloud/ci-builder: bump to Go 1.26.5 for 1.34 and 1.35
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Fix header formatting in README
  cmd/schedule-builder/README.md
Due: post-release-push-image-k8s-ci-builder

debian-base: copy bookworm to trixie
  images/build/debian-base/trixie/Dockerfile
  images/build/debian-base/trixie/Dockerfile.build
  images/build/debian-base/trixie/clean-install
  images/build/debian-base/trixie/excludes
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

debian-base: add debian trixie support
  images/build/debian-base/trixie/Dockerfile.build
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Bump the Cloud Build timeout
  images/build/debian-base/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Strip remote creds instead of excluding .git
  pkg/build/push.go
  pkg/build/push_test.go
  pkg/notes/notes_test.go
Due: post-release-push-image-k8s-ci-builder

Pull bom@HEAD intoto/attestation
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Port provenance to SLSAv1+intoto/attestation
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/release/provenance.go
Due: post-release-push-image-k8s-ci-builder

Regenerate fakes
  pkg/anago/anagofakes/fake_stage_impl.go
Due: post-release-push-image-k8s-ci-builder

Stamp provenance finishedOn after staging completes
  pkg/anago/provenance_unit_test.go
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Record the actual repo in the provenance
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Add SLSA buildType proto definition
  buf.gen.yaml
  buf.yaml
  docs/krel/buildtypes/v1/buildtype.proto
Due: none

Add make protos target
  Makefile
Due: none

Regenerate protos
  pkg/anago/buildtypes/v1/buildtype.pb.go
Due: post-release-push-image-k8s-ci-builder

Use new buildType in provenance
  pkg/anago/provenance_unit_test.go
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Add buildType README and godoc
  docs/krel/buildtypes/v1/README.md
  pkg/anago/buildtypes/v1/doc.go
Due: post-release-push-image-k8s-ci-builder

Record the actual build point in the provenance
  docs/krel/buildtypes/v1/README.md
  pkg/anago/provenance_unit_test.go
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
