Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Development: Bump Kubernetes to v1.31.4.
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Development: Bump Kubernetes to v1.31.4. (#12782)
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Development: Bump Kubernetes to v1.31.4. (#12784)
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Development: Bump Kubernetes to v1.31.4. (#12783)
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update Artifact Hub to v1.20.0.
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

CI: Update `kubectl` to v1.31.5.
  .github/workflows/ci.yaml
Due: none

CI: Update KIND images.
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

Images: Update `kubectl` to v1.31.5.
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

CI: Update `kubectl` to v1.31.5. (#12786)
  .github/workflows/ci.yaml
Due: none

Images: Update `kubectl` to v1.31.5. (#12788)
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

CI: Update `kubectl` to v1.31.5. (#12789)
  .github/workflows/ci.yaml
Due: none

CI: Update `kubectl` to v1.31.5. (#12790)
  .github/workflows/ci.yaml
Due: none

CI: Update Artifact Hub to v1.20.0. (#12785)
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

Images: Update `kubectl` to v1.31.5. (#12792)
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

Images: Update `kubectl` to v1.31.5. (#12791)
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

CI: Update Artifact Hub to v1.20.0. (#12793)
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

CI: Update Artifact Hub to v1.20.0. (#12794)
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
Due: none

NGINX: Correctly determine client IP when using PROXY protocol and multiple proxies are involved
  docs/user-guide/miscellaneous.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/proxy_protocol.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Go: Bump to v1.23.6.
  GOLANG_VERSION
  go.mod
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.6. (#12799)
  GOLANG_VERSION
  go.mod
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.6. (#12800)
  GOLANG_VERSION
  go.mod
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Go: Bump to v1.23.6. (#12801)
  GOLANG_VERSION
  go.mod
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-custom-error-pages, post-ingress-nginx-kube-webhook-certgen

Enable code copy button using "content.code.copy"
  mkdocs.yml
Due: none

Docs: Enable code copy button. (#12804)
  mkdocs.yml
Due: none

Docs: Enable code copy button. (#12806)
  mkdocs.yml
Due: none

Docs: Enable code copy button. (#12805)
  mkdocs.yml
Due: none

Docs: Migrate to AR.
  MANUAL_RELEASE.md
  NEW_CONTRIBUTOR.md
  ginkgo_upgrade.md
Due: none

Docs: Migrate to AR. (#12807)
  MANUAL_RELEASE.md
  NEW_CONTRIBUTOR.md
  ginkgo_upgrade.md
Due: none
