Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-images, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-images:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20190927-21e0205
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
      - --env-passthrough=PULL_BASE_REF
      - --build-dir=.
  ...

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-aks-engine-azure:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk-vmss:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-file:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      command:
      - runner.sh
      - kubetest
      args:
      - --test
      - --up
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

deflake e2e session affinity tests
  test/e2e/network/service.go
Due: none

Add e2e session affinity timeout test
  test/e2e/network/service.go
Due: none

Revert "Mark session affinity tests as [Flaky]"
  test/e2e/network/service.go
Due: none

Support cluster using network resources (VNet, LB, IP, etc.) across AAD Tenants.
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/auth/azure_auth.go
  staging/src/k8s.io/legacy-cloud-providers/azure/auth/azure_auth_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_ratelimit_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/azure_client_config.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/azure_diskclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/interfaceclient/azure_interfaceclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/loadbalancerclient/azure_loadbalancerclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/publicipclient/azure_publicipclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routeclient/azure_routeclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routetableclient/azure_routetableclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/securitygroupclient/azure_securitygroupclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/snapshotclient/azure_snapshotclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/storageaccountclient/azure_storageaccountclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/subnetclient/azure_subnetclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmclient/azure_vmclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmsizeclient/azure_vmsizeclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssclient/azure_vmssclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssvmclient/azure_vmssvmclient.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Reorganize scheduling e2e test PreemptionExecutionPath
  test/e2e/scheduling/preemption.go
Due: none

kubeadm: allow creating a cluster with ECDSA keys
  cmd/kubeadm/app/apis/kubeadm/BUILD
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/features/BUILD
  cmd/kubeadm/app/features/features.go
  cmd/kubeadm/app/features/features_test.go
  cmd/kubeadm/app/phases/certs/certlist.go
  cmd/kubeadm/app/phases/certs/certlist_test.go
  cmd/kubeadm/app/phases/certs/certs.go
  cmd/kubeadm/app/phases/certs/certs_test.go
  cmd/kubeadm/app/phases/certs/renewal/apirenewer.go
  cmd/kubeadm/app/phases/certs/renewal/apirenewer_test.go
  cmd/kubeadm/app/phases/certs/renewal/filerenewer.go
  cmd/kubeadm/app/phases/certs/renewal/filerenewer_test.go
  cmd/kubeadm/app/phases/certs/renewal/manager.go
  cmd/kubeadm/app/phases/certs/renewal/manager_test.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter_test.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/util/certs/util.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers_test.go
  cmd/kubeadm/test/cmd/init_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Deprecate service annotation service.beta.kubernetes.io/azure-load-balancer-disable-tcp-reset
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Remove the unsupported CloudProviderBackoffMode from Azure cloud provider config.
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/azure_client_config.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Default grace period to 0 when --force is used to delete an object
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_flags.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_test.go
Due: pull-kubernetes-godeps

kubeadm: modify how component volumes are printed
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/volumes.go
Due: pull-kubernetes-e2e-kubeadm-gce

Add Profiles to kubescheduler.config.k8s.io/v1alpha2
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/conversion.go
  pkg/scheduler/apis/config/v1alpha1/conversion_test.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha2/BUILD
  pkg/scheduler/apis/config/v1alpha2/defaults.go
  pkg/scheduler/apis/config/v1alpha2/defaults_test.go
  pkg/scheduler/apis/config/v1alpha2/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/BUILD
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/types.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

Add ListPluginArgs and BuildArgs method
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/defaultbinder/default_binder.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread.go
  pkg/scheduler/framework/plugins/examples/multipoint/multipoint.go
  pkg/scheduler/framework/plugins/examples/prebind/prebind.go
  pkg/scheduler/framework/plugins/examples/stateful/stateful.go
  pkg/scheduler/framework/plugins/imagelocality/image_locality.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
  pkg/scheduler/framework/plugins/nodename/node_name.go
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/nodepreferavoidpods/node_prefer_avoid_pods.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio.go
  pkg/scheduler/framework/plugins/noderesources/resource_limits.go
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/non_csi.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/queuesort/priority_sort.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumerestrictions/volume_restrictions.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/framework/v1alpha1/registry_test.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
Due: none

fix typos error in pkg/kubelet/lifecycle
  pkg/kubelet/lifecycle/handlers_test.go
Due: pull-kubernetes-local-e2e-containerized

cloud node controller: remove dependency to pkg/util/node
  pkg/controller/cloud/BUILD
  pkg/controller/cloud/node_controller.go
  staging/src/k8s.io/cloud-provider/node/helpers/BUILD
  staging/src/k8s.io/cloud-provider/node/helpers/patch.go
Due: pull-kubernetes-godeps

scheduler_perf: describe how to run BenchmarkPerfScheduling manually
  test/integration/scheduler_perf/README.md
  test/integration/scheduler_perf/test-performance.sh
Due: none

scheduler_perf: allow to override the default benchtime
  hack/jenkins/benchmark-dockerized.sh
Due: none

cluster: Remove auth headers from get-kube.sh "needs_download" logic
  cluster/get-kube.sh
Due: none

Fix cpu resource limit on Windows
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/helpers_windows.go
  pkg/kubelet/kuberuntime/helpers_windows.go
  pkg/kubelet/kuberuntime/kuberuntime_container_windows.go
Due: pull-kubernetes-local-e2e-containerized

Adding Windows CPU limit tests
  pkg/kubelet/kuberuntime/BUILD
  pkg/kubelet/kuberuntime/helpers_unsupported.go
  pkg/kubelet/kuberuntime/helpers_windows.go
  test/e2e/windows/BUILD
  test/e2e/windows/cpu_limits.go
Due: pull-kubernetes-local-e2e-containerized

Fix golint issues for `core/v1/validation`
  hack/.golint_failures
  pkg/apis/core/v1/validation/validation.go
Due: none

Fix recent context change after rebase
  test/e2e/windows/cpu_limits.go
Due: none

update coredns to 1.6.7
  build/dependencies.yaml
  cmd/kubeadm/app/constants/constants.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-cross, pull-kubernetes-godeps

update corefile-migration library to 1.0.6
  go.mod
  go.sum
  vendor/github.com/coredns/corefile-migration/migration/BUILD
  vendor/github.com/coredns/corefile-migration/migration/corefile/corefile.go
  vendor/github.com/coredns/corefile-migration/migration/migrate.go
  vendor/github.com/coredns/corefile-migration/migration/plugins.go
  vendor/github.com/coredns/corefile-migration/migration/versions.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Unit Test PatchNodeStatus
  pkg/util/node/BUILD
  pkg/util/node/node_test.go
Due: none

cloud node controller: set primary key to stable topology keys topology.kubernetes.io/zone, topology.kubernetes.io/region and node.kubernetes.io/instance-type
  pkg/controller/cloud/node_controller.go
  pkg/controller/cloud/node_controller_test.go
Due: none

scheduler: check stable zone/region topology keys first
  pkg/util/node/node.go
  pkg/util/node/node_test.go
Due: none

Update the conformance list and doc generation logic
  test/conformance/BUILD
  test/conformance/README.md
  test/conformance/cf_header.md
  test/conformance/conformance_test.sh
  test/conformance/doc.go
  test/conformance/testdata/conformance.txt
  test/conformance/testdata/conformance.yaml
  test/conformance/walk.go
  test/conformance/walk_test.go
  test/e2e/apps/rc.go
  test/e2e/e2e.go
  test/e2e/framework/test_context.go
  test/e2e/reporters/BUILD
  test/e2e/reporters/testDetails.go
Due: pull-kubernetes-conformance-image-test

test: don't use hardcoded pod count for memory limit test
  test/e2e/windows/memory_limits.go
Due: none

adding e2e test to ensure it takes less than 10 seconds to query kubelet stats for windows nodes
  test/e2e/windows/BUILD
  test/e2e/windows/kubelet_stats.go
Due: none

Calling hcsshim instead of docker api to get stats for windows to greatly reduce latency
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/docker_stats_windows.go
Due: pull-kubernetes-local-e2e-containerized

fix get-kube authorization headers
  cluster/get-kube-binaries.sh
  cluster/get-kube.sh
Due: none

Add a feature flag
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Due: pull-kubernetes-godeps

test-only, start local cluster with storage version enabled
  hack/local-up-cluster.sh
Due: none

golint exceptions
  hack/.golint_failures
Due: none

Make it possible to include group name in the etcd path for resources installed with the DefaultStorageFactory.
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
Due: pull-kubernetes-godeps

Let kube-aggregator host the storage version API
  cmd/kube-apiserver/app/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_apis.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/scheme/scheme.go
  staging/src/k8s.io/kube-aggregator/pkg/registry/apiserverinternal/rest/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/registry/apiserverinternal/rest/storage.go
  staging/src/k8s.io/kube-aggregator/pkg/registry/apiserverinternal/storageversion/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/registry/apiserverinternal/storageversion/doc.go
  staging/src/k8s.io/kube-aggregator/pkg/registry/apiserverinternal/storageversion/storage/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/registry/apiserverinternal/storageversion/storage/storage.go
  staging/src/k8s.io/kube-aggregator/pkg/registry/apiserverinternal/storageversion/strategy.go
Due: pull-kubernetes-godeps

cluster role for apiserver to update storage version
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none

Drop legacy metrics client support in kube-controller-manager
  cmd/kube-controller-manager/app/autoscaling.go
  cmd/kube-controller-manager/app/options/hpacontroller.go
  cmd/kube-controller-manager/app/options/options_test.go
  pkg/controller/podautoscaler/config/types.go
  pkg/controller/podautoscaler/config/v1alpha1/BUILD
  pkg/controller/podautoscaler/config/v1alpha1/defaults.go
  pkg/controller/podautoscaler/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/podautoscaler/metrics/BUILD
  pkg/controller/podautoscaler/metrics/legacy_metrics_client.go
  pkg/controller/podautoscaler/metrics/legacy_metrics_client_test.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-images: any of: ^test\/images\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
