Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

post-autoscaler-push-vpa-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

post-autoscaler-push-cluster-autoscaler-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251029-79c2132152
      command:
      - /run.sh
      args:
      - --project=k8s-staging-autoscaling
      - --scratch-bucket=gs://k8s-staging-autoscaling-gcb
  ...

pull-cluster-autoscaler-e2e-azure-master:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  decorate: true
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-master
      command:
      - runner.sh
  ...

pull-autoscaling-e2e-vpa-full:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-actuation:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-admission-controller:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-recommender:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

pull-autoscaling-e2e-vpa-updater:
  optional: false
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
      - --extract=ci/latest
  ...

Deprecate Auto some more
  vertical-pod-autoscaler/pkg/admission-controller/logic/server.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/matcher_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vertical-pod-autoscaler/pkg/recommender/model/cluster_test.go
  vertical-pod-autoscaler/pkg/recommender/model/vpa_test.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender_test.go
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
  vertical-pod-autoscaler/pkg/utils/vpa/api.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

catch division by zero
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Update flags.go: fix max-node-startup-time flag
  cluster-autoscaler/config/flags/flags.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

address golangci-lint concerns
  vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Revert "Add target service in header (#8978)"
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

refactor: make eligibility tests use per-case options patches
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Move Cluster Autoscaler e2e tests to autoscaler repository
  cluster-autoscaler/e2e/.gitignore
  cluster-autoscaler/e2e/cluster_size_autoscaling.go
  cluster-autoscaler/e2e/e2e.go
  cluster-autoscaler/e2e/e2e_test.go
  cluster-autoscaler/e2e/framework.go
  cluster-autoscaler/e2e/go.mod
  cluster-autoscaler/e2e/go.sum
  cluster-autoscaler/e2e/suites.go
  cluster-autoscaler/hack/run-e2e-tests.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

bugfix: successfully scale up 0-sized pool
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider.go
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat(metrics/updater/test): introduce second scrape iteration for SizeBasedGauge
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(metrics/updater/test): introduce second scrape iteration for UpdateModeAndSizeBasedGauge
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat(metrics/updater): reset update mode and VPA size based gauges when creating new instances
  vertical-pod-autoscaler/pkg/utils/metrics/updater/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: getting node price failing for 0 node pools on scaleway
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

update tests
  cluster-autoscaler/cloudprovider/scaleway/scaleway_cloud_provider_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Mark InPlaceOrRecreate as GA for VPA 1.6.0
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/docs/flags.md
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/features/versioned_features.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Graduate CapacityBuffers to v1beta1
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1beta1/doc.go
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1beta1/register.go
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1beta1/zz_generated.deepcopy.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/capacitybufferspec.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/capacitybufferstatus.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/localobjectref.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/autoscaling.x-k8s.io/v1beta1/scalableref.go
  cluster-autoscaler/apis/capacitybuffer/client/applyconfiguration/utils.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/clientset.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/clientset_generated.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/fake/register.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/scheme/register.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/doc.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/doc.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/fake_autoscaling.x-k8s.io_client.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/fake/fake_capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/clientset/versioned/typed/autoscaling.x-k8s.io/v1beta1/generated_expansion.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/autoscaling.x-k8s.io/v1beta1/interface.go
  cluster-autoscaler/apis/capacitybuffer/client/informers/externalversions/generic.go
  cluster-autoscaler/apis/capacitybuffer/client/listers/autoscaling.x-k8s.io/v1beta1/capacitybuffer.go
  cluster-autoscaler/apis/capacitybuffer/client/listers/autoscaling.x-k8s.io/v1beta1/expansion_generated.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Integrate capacity buffers with resource quotas
  cluster-autoscaler/capacitybuffer/client/client.go
  cluster-autoscaler/capacitybuffer/common/common.go
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/controller/controller_test.go
  cluster-autoscaler/capacitybuffer/controller/resourcequotas.go
  cluster-autoscaler/capacitybuffer/controller/resourcequotas_test.go
  cluster-autoscaler/capacitybuffer/filters/buffer_generation_filter.go
  cluster-autoscaler/capacitybuffer/filters/buffer_generation_filter_test.go
  cluster-autoscaler/capacitybuffer/filters/filter_test.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/utils/pod/pod.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Extract the RegisterFailedScaleUp metric generation into separate a NodeGroupChangeObserver instance
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/observers/nodegroupchange/scale_state_observer.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_delay_processor.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Use v1beta1 API in CapacityBuffers code
  cluster-autoscaler/capacitybuffer/client/client.go
  cluster-autoscaler/capacitybuffer/common/common.go
  cluster-autoscaler/capacitybuffer/controller/controller.go
  cluster-autoscaler/capacitybuffer/controller/controller_test.go
  cluster-autoscaler/capacitybuffer/controller/resourcequotas.go
  cluster-autoscaler/capacitybuffer/controller/resourcequotas_test.go
  cluster-autoscaler/capacitybuffer/filters/filter.go
  cluster-autoscaler/capacitybuffer/filters/filter_test.go
  cluster-autoscaler/capacitybuffer/filters/podtemplate_generation_filter.go
  cluster-autoscaler/capacitybuffer/filters/podtemplate_generation_filter_test.go
  cluster-autoscaler/capacitybuffer/filters/status_filter.go
  cluster-autoscaler/capacitybuffer/filters/status_filter_test.go
  cluster-autoscaler/capacitybuffer/filters/strategy_filter.go
  cluster-autoscaler/capacitybuffer/filters/strategy_filter_test.go
  cluster-autoscaler/capacitybuffer/testutil/testutil.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator.go
  cluster-autoscaler/capacitybuffer/translators/pod_template_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/resource_limits_translator.go
  cluster-autoscaler/capacitybuffer/translators/resource_limits_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator.go
  cluster-autoscaler/capacitybuffer/translators/scalable_objects_translator_test.go
  cluster-autoscaler/capacitybuffer/translators/translator.go
  cluster-autoscaler/capacitybuffer/updater/status_updater.go
  cluster-autoscaler/capacitybuffer/updater/status_updater_test.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor.go
  cluster-autoscaler/processors/capacitybuffer/pod_list_processor_test.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor.go
  cluster-autoscaler/processors/capacitybuffer/scale_up_status_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[SQUASH ME] use kubernetes/test/e2e.RunE2ETests
  cluster-autoscaler/e2e/e2e.go
  cluster-autoscaler/e2e/e2e_test.go
  cluster-autoscaler/e2e/go.mod
  cluster-autoscaler/e2e/go.sum
  cluster-autoscaler/e2e/suites.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

[SQUASH ME] include e2e/go.mod in update-deps script
  cluster-autoscaler/hack/update-deps.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Rename file and use vpaScope instead of selector
  vertical-pod-autoscaler/enhancements/XXXX-restore-selector-support.md
  vertical-pod-autoscaler/enhancements/XXXX-support-heterogeneous-workloads-statefulsets-deployments.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Remove forked RunE2ETests in favor of upstream
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/e2e/integration/integration.go
  vertical-pod-autoscaler/e2e/integration/integration_test.go
  vertical-pod-autoscaler/e2e/v1/e2e.go
  vertical-pod-autoscaler/e2e/v1/e2e_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix: utilization now counter counterSets as unique devices
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

tests: devices that are not consuming counters should be treated as atomic, not partitionable
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

refactor: moved utilization calculations into their own functions
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Handle NodeGroupForNode errors gracefully in MixedTemplateNodeInfoProvider
  cluster-autoscaler/cloudprovider/test/test_cloud_provider.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor.go
  cluster-autoscaler/processors/nodeinfosprovider/mixed_nodeinfos_processor_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/
