Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

add gcloud ignore
  .gcloudignore
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-build-e2e-image

update test runner
  build/run-in-docker.sh
  test/e2e-image/Makefile
Due: pull-ingress-nginx-boilerplate

update test runner (#10125)
  build/run-in-docker.sh
  test/e2e-image/Makefile
Due: pull-ingress-nginx-boilerplate

rebuild nginx base container image
  TAG
  images/nginx/TAG
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image

bump pinned golang to 1.20.5
  images/custom-error-pages/rootfs/Dockerfile
  images/ext-auth-example-authsvc/rootfs/Dockerfile
  images/fastcgi-helloserver/rootfs/Dockerfile
  images/go-grpc-greeter-server/rootfs/Dockerfile
  images/httpbun/rootfs/Dockerfile
  images/kube-webhook-certgen/rootfs/Dockerfile
Due: post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

Fix golang-ci linter errors
  cmd/dataplane/main.go
  cmd/nginx/main.go
  internal/admission/controller/main_test.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/template.go
  internal/net/ssl/ssl.go
  test/e2e/annotations/affinitymode.go
  test/e2e/framework/deployment.go
  test/e2e/framework/httpexpect/chain.go
  test/e2e/status/update.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix gofmt errors
  cmd/dataplane/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  test/e2e/framework/httpexpect/chain.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add nolint comment to defaults.Backend in Configuration
  internal/ingress/controller/config/config.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add #nosec comment to rand.New func
  internal/ingress/controller/template/template.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add rollingUpdate strategy to each static deployment file
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/oci/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Due: none

bump pinned golang to 1.20.5 (#10127)
  images/custom-error-pages/rootfs/Dockerfile
  images/ext-auth-example-authsvc/rootfs/Dockerfile
  images/fastcgi-helloserver/rootfs/Dockerfile
  images/go-grpc-greeter-server/rootfs/Dockerfile
  images/httpbun/rootfs/Dockerfile
  images/kube-webhook-certgen/rootfs/Dockerfile
Due: post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

gh: move issues to the Needs Triage card by default.
  .github/workflows/project.yml
Due: none

feat: Updated PDB template to support Keda
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Remove NET_BIND_SERVICE for port binding
  Makefile
Due: none

Fix loadBalancerClass value
  charts/ingress-nginx/templates/controller-service.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Set grpc :authority header from request header (#8912)
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/grpc.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

test the docs PR preview
  docs/index.md
Due: none

removed trail spaces
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Added a doc line to the missing helm value service.internal.loadBalancerIP (#9406)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix loadBalancerClass value (#10139)
  charts/ingress-nginx/templates/controller-service.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update the templates and regenerate
  deploy/static/provider/exoscale/deploy.yaml
  hack/manifest-templates/provider/aws/nlb-with-tls-termination/values.yaml
  hack/manifest-templates/provider/aws/values.yaml
  hack/manifest-templates/provider/baremetal/values.yaml
  hack/manifest-templates/provider/cloud/values.yaml
  hack/manifest-templates/provider/do/values.yaml
  hack/manifest-templates/provider/scw/values.yaml
Due: none

changed to updated baseimage and reverted tag
  NGINX_BASE
  TAG
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

netlify: Only trigger preview when there are changes in docs.
  netlify.toml
Due: none

changed to updated baseimage and reverted tag (#10143)
  NGINX_BASE
  TAG
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

netlify: Only trigger preview when there are changes in docs. (#10144)
  netlify.toml
Due: none

datadog: sample_rate omitted by default
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

config: use *float32 with nil instead of float32 with sentinel value
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Clarify TCP/UDP service docs
  docs/user-guide/exposing-tcp-udp-services.md
Due: none

Upgrade k8s version and add rolling update for exoscale
  hack/generate-deploy-scripts.sh
  hack/manifest-templates/provider/exoscale/values.yaml
Due: pull-ingress-nginx-boilerplate

Cut release v1.8.1
  TAG
Due: post-ingress-nginx-push-images

Fix errcheck warnings
  cmd/plugin/commands/certs/certs.go
  cmd/plugin/kubectl/kubectl.go
  images/fastcgi-helloserver/rootfs/main.go
  images/kube-webhook-certgen/rootfs/pkg/k8s/k8s_test.go
  internal/admission/controller/main_test.go
  internal/admission/controller/server.go
  internal/ingress/controller/checker_test.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/store/endpointslice_test.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/controller/template/template_test.go
  internal/ingress/metric/collectors/process_test.go
  internal/ingress/metric/collectors/socket_test.go
  internal/ingress/status/status.go
  internal/ingress/status/status_test.go
  internal/net/dns/dns_test.go
  internal/net/ssl/ssl_test.go
  pkg/flags/flags.go
  pkg/tcpproxy/tcp.go
  pkg/util/file/file_test.go
  pkg/util/file/file_watcher_test.go
  pkg/util/process/sigterm_test.go
  test/e2e/endpointslices/topology.go
  test/e2e/security/request_smuggling.go
  test/e2e/settings/proxy_protocol.go
  test/e2e/ssl/secret_update.go
Due: post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-webhook-certgen-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test
