Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Update runner go version (#7526)
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image

[Helm] Make HPA behavior configurable (#7203)
  charts/ingress-nginx/ci/deployment-autoscaling-behavior-values.yaml
  charts/ingress-nginx/templates/controller-hpa.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

bump go.mod to 1.17
  go.mod
Due: post-ingress-nginx-push-images

bump github ci workflow to go 1.17
  .github/workflows/ci.yaml
Due: none

bump e2e-test-runner version
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: pull-ingress-nginx-boilerplate

fix go mod error
  go.mod
Due: post-ingress-nginx-push-images

fix go fmt error
  hack/tools.go
  internal/ingress/zz_generated.deepcopy.go
  internal/k8s/zz_generated.deepcopy.go
  internal/runtime/cpu_linux.go
  internal/runtime/cpu_notlinux.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix boilerplate verification
  hack/boilerplate/boilerplate.py
Due: none

improve RELEASE.md (#7525)
  RELEASE.md
Due: none

End-to-end tests for canary affinity
  docs/user-guide/nginx-configuration/annotations.md
  test/e2e/annotations/canary.go
  test/e2e/loadbalance/round_robin.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add appProtocol field to all ServicePorts (#7493)
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/templates/controller-service-webhook.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/templates/default-backend-service.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update ingress to go 1.17 (#7521)
  .github/workflows/ci.yaml
  build/run-in-docker.sh
  go.mod
  hack/boilerplate/boilerplate.py
  hack/tools.go
  internal/ingress/zz_generated.deepcopy.go
  internal/k8s/zz_generated.deepcopy.go
  internal/runtime/cpu_linux.go
  internal/runtime/cpu_notlinux.go
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

cherry-pick #7521 Update ingress to go 1.17 (#7531)
  .github/workflows/ci.yaml
  build/run-in-docker.sh
  go.mod
  hack/boilerplate/boilerplate.py
  hack/tools.go
  internal/ingress/zz_generated.deepcopy.go
  internal/k8s/zz_generated.deepcopy.go
  internal/runtime/cpu_linux.go
  internal/runtime/cpu_notlinux.go
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix ingress-nginx panic when the certificate format is wrong. (#7443)
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

docs for migration to apiVersion networking.k8s.io/v1
  docs/index.md
Due: none

Print warning only instead of error if there is no permission on cluster level resource IngressClass
  cmd/nginx/main.go
  internal/ingress/controller/ingressclass/ingressclass.go
  internal/ingress/controller/store/store.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

docs for migration to apiVersion networking.k8s.io/v1 (#7524)
  docs/index.md
Due: none

Deploy GitHub Pages
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs: Clarify default-backend behavior (#7489)
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

End-to-end tests for canary affinity (#7529)
  docs/user-guide/nginx-configuration/annotations.md
  test/e2e/annotations/canary.go
  test/e2e/loadbalance/round_robin.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

update tag to v1.0.0
  TAG
Due: post-ingress-nginx-push-images

Adding test cases for backend with nil service
  test/e2e/servicebackend/service_nil_backend.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test
