Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Move isNotFoundError() to azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Remove copyright year
  cluster-autoscaler/.claude/plan.md
  cluster-autoscaler/cloudprovider/azure/azure_deployment_client.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Fix accidental shadowing of nicName variable
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Update log message
  cluster-autoscaler/.claude/plan.md
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Fix buffer validation message
  cluster-autoscaler/apis/capacitybuffer/autoscaling.x-k8s.io/v1beta1/types.go
  cluster-autoscaler/apis/config/crd/autoscaling.x-k8s.io_capacitybuffers.yaml
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update index.yaml
  index.yaml
Due: none

Fix azblob URL construction and remove duplicate implementation
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Fix isErrorRetriable to use ResponseError
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Don't discard cache building errors
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

Address new comments and Rebase on top of master
  vertical-pod-autoscaler/docs/features.md
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/full_vpa.go
  vertical-pod-autoscaler/e2e/v1/updater.go
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/pod/patch/resource_updates_test.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler.go
  vertical-pod-autoscaler/pkg/admission-controller/resource/vpa/handler_test.go
  vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
  vertical-pod-autoscaler/pkg/updater/logic/updater_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix(e2e): generate vpa-e2e-certs secret for certificate rotation test
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fix(vpa): address review comments for local e2e deployment
  vertical-pod-autoscaler/hack/deploy-for-e2e-locally.sh
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

change evictAfterOOMThreshold to evictAfterOOMSeconds using int32 type
  vertical-pod-autoscaler/enhancements/8026-per-vpa-component-configuration/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

VPA: Enable export check in revive
  vertical-pod-autoscaler/.golangci.yaml
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

run codegen
  vertical-pod-autoscaler/pkg/client/clientset/versioned/fake/register.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/scheme/register.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1/fake/fake_autoscaling.k8s.io_client.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1/fake/fake_verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1/fake/fake_verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/clientset/versioned/typed/poc.autoscaling.k8s.io/v1alpha1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/interface.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta1/verticalpodautoscalercheckpoint.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscaler.go
  vertical-pod-autoscaler/pkg/client/informers/externalversions/autoscaling.k8s.io/v1beta2/verticalpodautoscalercheckpoint.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Refactor updater's flags
  vertical-pod-autoscaler/common/flags.go
  vertical-pod-autoscaler/pkg/recommender/config/config.go
  vertical-pod-autoscaler/pkg/recommender/main.go
  vertical-pod-autoscaler/pkg/updater/config/config.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Refactor other flags
  vertical-pod-autoscaler/pkg/admission-controller/certs.go
  vertical-pod-autoscaler/pkg/admission-controller/config.go
  vertical-pod-autoscaler/pkg/admission-controller/config/config.go
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/updater/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Move recommender start into it's own module
  vertical-pod-autoscaler/pkg/recommender/app/app.go
  vertical-pod-autoscaler/pkg/recommender/main.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Wire up context, add stop channels, etc
  vertical-pod-autoscaler/pkg/admission-controller/main.go
  vertical-pod-autoscaler/pkg/recommender/app/app.go
  vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go
  vertical-pod-autoscaler/pkg/target/controller_fetcher/controller_fetcher.go
  vertical-pod-autoscaler/pkg/target/fetcher.go
  vertical-pod-autoscaler/pkg/updater/main.go
  vertical-pod-autoscaler/pkg/utils/metrics/quality/quality.go
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender.go
  vertical-pod-autoscaler/pkg/utils/metrics/resources/resources.go
  vertical-pod-autoscaler/pkg/utils/server/server.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Lint
  vertical-pod-autoscaler/pkg/recommender/app/app.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Add some integration tests for recommender
  vertical-pod-autoscaler/docs/development-and-testing.md
  vertical-pod-autoscaler/e2e/go.mod
  vertical-pod-autoscaler/e2e/go.sum
  vertical-pod-autoscaler/e2e/integration/recommender.go
  vertical-pod-autoscaler/e2e/utils/common.go
  vertical-pod-autoscaler/e2e/v1/actuation.go
  vertical-pod-autoscaler/e2e/v1/admission_controller.go
  vertical-pod-autoscaler/e2e/v1/recommender.go
  vertical-pod-autoscaler/go.mod
  vertical-pod-autoscaler/go.sum
  vertical-pod-autoscaler/hack/run-integration-tests.sh
  vertical-pod-autoscaler/integration/main.go
  vertical-pod-autoscaler/integration/recommender/recommender_test.go
  vertical-pod-autoscaler/pkg/utils/test/test_container.go
  vertical-pod-autoscaler/pkg/utils/test/test_vpa.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Skip integration tests in regular testing
  hack/go-unit-tests-vpa.sh
Due: none

Update flags
  vertical-pod-autoscaler/docs/flags.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

allow in-place updates below minReplicas for InPlaceOrRecreate, block eviction
  vertical-pod-autoscaler/pkg/updater/restriction/pods_eviction_restriction.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_inplace_restriction_test.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory.go
  vertical-pod-autoscaler/pkg/updater/restriction/pods_restriction_factory_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

fixed mispelling
  vertical-pod-autoscaler/pkg/updater/logic/updater.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Fix race condition in eligibility_test.go
  cluster-autoscaler/core/scaledown/eligibility/eligibility_test.go
  cluster-autoscaler/simulator/dynamicresources/snapshot/test_utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

link spec client
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

CA: Update Azure SDK to v2
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
  cluster-autoscaler/cloudprovider/azure/azure_deployment_client.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_gpu_sku.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_storageaccount_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_virtualmachine_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_vmss_delete_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vmss_delete_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

CA: Update Azure SDK to v2 (#8784)
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_agent_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_client.go
  cluster-autoscaler/cloudprovider/azure/azure_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
  cluster-autoscaler/cloudprovider/azure/azure_deployment_client.go
  cluster-autoscaler/cloudprovider/azure/azure_fakes.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_force_delete_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_gpu_sku.go
  cluster-autoscaler/cloudprovider/azure/azure_manager.go
  cluster-autoscaler/cloudprovider/azure/azure_manager_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_agentpool_client.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_storageaccount_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_virtualmachine_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_mock_vmss_delete_client_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_instance_cache_test.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_template_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_vms_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_vmss_delete_client.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
Due: post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-ca-build

When pod listing, filter out unschedulable and scheduler unprocessed pods not in the list of allowed schedulers
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/config/flags/flags.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/utils/kubernetes/listers.go
  cluster-autoscaler/utils/scheduler/scheduler.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Improve CA E2E tests scripts
  cluster-autoscaler/hack/e2e/deploy-ca-on-gce-for-e2e.sh
  cluster-autoscaler/hack/e2e/run-e2e-tests.sh
  cluster-autoscaler/hack/e2e/run-e2e.sh
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Extract the RegisterFailedScaleUp metric generation into a separate NodeGroupChangeObserver instance
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/core/scaledown/actuation/actuator_test.go
  cluster-autoscaler/core/scaleup/orchestrator/executor.go
  cluster-autoscaler/core/scaleup/orchestrator/orchestrator_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/static_autoscaler_test.go
  cluster-autoscaler/observers/nodegroupchange/scale_state_observer.go
  cluster-autoscaler/processors/scaledowncandidates/scale_down_candidates_delay_processor.go
  cluster-autoscaler/provisioningrequest/orchestrator/orchestrator_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Refactor main to allow dependency injection
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/builder/autoscaler_test.go
  cluster-autoscaler/cloudprovider/builder/builder_all.go
  cluster-autoscaler/cloudprovider/builder/cloud_provider_builder.go
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/main.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Allow synctest usage passing context.
  cluster-autoscaler/builder/autoscaler.go
  cluster-autoscaler/builder/autoscaler_test.go
  cluster-autoscaler/context/autoscaling_context.go
  cluster-autoscaler/core/autoscaler.go
  cluster-autoscaler/core/static_autoscaler_csi_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/simulator/clustersnapshot/predicate/plugin_runner_test.go
  cluster-autoscaler/simulator/framework/handle.go
  cluster-autoscaler/simulator/framework/test_utils.go
  cluster-autoscaler/utils/kubernetes/factory.go
  cluster-autoscaler/utils/taints/taints_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add a full cycle CA test.
  cluster-autoscaler/builder/autoscaler_test.go
  cluster-autoscaler/cloudprovider/test/fake_cloud_provider.go
  cluster-autoscaler/test/integration/config.go
  cluster-autoscaler/test/integration/framework.go
  cluster-autoscaler/test/integration/inmemory/staticautoscaler_test.go
  cluster-autoscaler/utils/fake/kubernetes.go
  cluster-autoscaler/utils/test/test_utils.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build
