Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-distroless-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/

lock dependencies
  dependencies.yaml
Due: none

fix missing variable
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.4/1.22.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

golang: Build 1.24rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

build distroless-iptables with go1.24rc1
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update golangci-lint and config
  .github/workflows/lint.yml
  .golangci.yml
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root_test.go
  dependencies.yaml
  pkg/binary/binary_test.go
  pkg/binary/binary_unit_test.go
  pkg/notes/document/document_test.go
  pkg/notes/options/options_test.go
  pkg/release/images_test.go
  pkg/release/provenance_test.go
  pkg/release/publish_test.go
  pkg/release/release_test.go
  pkg/release/repository_test.go
Due: post-release-push-image-k8s-ci-builder

Use GitHub release for cri-tools and CNI plugins
  cmd/krel/templates/latest/metadata.yaml
Due: post-release-push-image-k8s-ci-builder

Update linter configuration
  .golangci.yml
Due: none

build kube-cross, go-runner, releng-ci with golang 1.22.11, 1.23.5
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

bump distroless-iptables to use go1.22.11 and go1.23.5
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

golang: Build 1.24rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Replace go-multierror
  go.mod
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.5
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

build distroless-iptables with go1.24rc2
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

golang: Build 1.24rc3 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

update cosign image
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.5/1.22.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

build kube-cross, go-runner, releng-ci with golang 1.22.12/1.23.6
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Fix build
  cmd/krel/cmd/release_notes.go
Due: post-release-push-image-k8s-ci-builder

bump distroless-iptables to use go1.22.12 and go1.23.6 and go1.24rc3
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.6
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.6/1.22.12
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Add go 1.23 cross variants for 1.29 and 1.30
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

build go1.23.6 for release 1.30/1.31/1.29
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

golang: Build 1.24.0 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.6 for releases braches 1.29/30/31
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

build distroless-iptables with go1.24.0
  dependencies.yaml
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci, pull-release-image-distroless-iptables

fix array size when creating the assets
  cmd/publish-release/cmd/github.go
  pkg/announce/github/impl.go
Due: post-release-push-image-k8s-ci-builder

use go1.24 and remove deprecated lint
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yaml
  .golangci.yml
Due: none

fix lints
  cmd/krel/cmd/sut_test.go
  pkg/release/release_test.go
Due: post-release-push-image-k8s-ci-builder

fix deps
  dependencies.yaml
Due: none

update cosign image to v2.4.3
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

update cosign deps
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

update deps
  dependencies.yaml
Due: none

build k8s-cloud-builder and k8s-ci-builder for go1.24
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Add bookworm linux/ppc64le variant to kube-cross
  images/build/cross/cloudbuild.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Fix bucket usage, now correctly pointing at GH for Krel release
  hack/get-krel
Due: none

Remove duplicate kubecross image pushes
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross
