Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-containerd, post-kubernetes-push-perf-tests-networknetperfbenchmark, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-scratch, post-kubernetes-push-perf-tests-sleep, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

post-kubernetes-push-perf-tests-access-tokens:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-containerd:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-networknetperfbenchmark:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-probes:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-request-benchmark:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-scratch:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-sleep:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

post-kubernetes-push-perf-tests-watch-list:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20251215-d7853fe2a6
      command:
      - /run.sh
      args:
      - --project=k8s-staging-perf-tests
      - --scratch-bucket=gs://k8s-staging-perf-tests-gcb
  ...

Update download ci artifacts skill to follow best practices
  .agents/skills/download-ci-artifacts/SKILL.md
Due: none

perfdash: ingest and parse DRA scalability metrics
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
  perfdash/www/VERSION
Due: none

perfdash: make /www traversable by nonroot (use 0755)
  perfdash/Dockerfile
Due: none

perfdash: bump to 2.59
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/www/VERSION
Due: none

Address review comments on download-ci-artifacts skill
  .agents/skills/download-ci-artifacts/SKILL.md
Due: none

perfdash: bump memory 20Gi -> 40Gi to stop OOM crashloop
  perfdash/deployment.yaml
Due: none

perfdash: build for linux/amd64 by default, override with PLATFORM
  perfdash/Makefile
Due: none

.agents/skills: add cl2-artifacts-reference guide
  .agents/skills/cl2-artifacts-reference/SKILL.md
Due: none

Revert "perfdash: grey out label dropdown values with no data"
  perfdash/www/index.html
  perfdash/www/script.js
Due: none

Add agentic-sandboxes scale test
  clusterloader2/testing/agentic-sandboxes/cache-daemonset.yaml
  clusterloader2/testing/agentic-sandboxes/cluster-network-policy.yaml
  clusterloader2/testing/agentic-sandboxes/config.yaml
  clusterloader2/testing/agentic-sandboxes/gateway-deployment.yaml
  clusterloader2/testing/agentic-sandboxes/gateway-namespace.yaml
  clusterloader2/testing/agentic-sandboxes/gateway-service.yaml
  clusterloader2/testing/agentic-sandboxes/namespace.yaml
  clusterloader2/testing/agentic-sandboxes/sandbox-network-policy.yaml
  clusterloader2/testing/agentic-sandboxes/sandbox-pod.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

fix: preserve pod name prefixes during perfdash normalization
  perfdash/pod_names.go
  perfdash/pod_names_test.go
Due: none

Point request-benchmark image at k8s-staging-perf-tests registry
  clusterloader2/testing/list/deployment.yaml
  clusterloader2/testing/request-benchmark/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Document util-images build and version-bump flow
  util-images/README.md
Due: pull-perf-tests-util-images

CL2: CL2_SINGLE_RESOURCE_API_LATENCY_THRESHOLD param in access-tokens scenario
  clusterloader2/testing/access-tokens/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

prometheus: wait for first consumer
  clusterloader2/pkg/prometheus/manifests/0ssd-storage-class.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

prometheus-operator: make memory request scale with number of nodes
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

prometheus-operator: parametrize memory request
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add CL2_INFORMER_ENABLE_WATCHLIST toggle to load test informer module
  clusterloader2/testing/load/modules/informer/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add optional pods LIST benchmark
  clusterloader2/testing/list/README.md
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/pod.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

prometheus-operator: bump version to latest to incorporate performance improvements
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

kube-prometheus: bump to latest version
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0alertmanagerConfigCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0alertmanagerCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0podmonitorCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0probeCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0prometheusCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0prometheusruleCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0servicemonitorCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0thanosrulerCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-clusterRole.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-clusterRoleBinding.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-service.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-serviceAccount.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

cl2: allow multiple objects in one file
  clusterloader2/pkg/config/codec.go
  clusterloader2/pkg/config/template_provider.go
  clusterloader2/pkg/config/template_provider_test.go
  clusterloader2/pkg/framework/framework.go
  clusterloader2/pkg/test/simple_test_executor.go
  clusterloader2/pkg/test/simple_test_executor_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Default CL2_INFORMER_ENABLE_WATCHLIST to false (opt-in)
  clusterloader2/testing/load/modules/informer/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add establish-perf-baseline skill for contextual metric comparison
  .agents/skills/establish-perf-baseline/SKILL.md
  .agents/skills/establish-perf-baseline/evals/evals.json
Due: none

Add parse-cl2-metrics skill for extracting ClusterLoader2 artifacts
  .agents/skills/parse-cl2-metrics/SKILL.md
  .agents/skills/parse-cl2-metrics/evals/evals.json
Due: none

Use realistic pod shape for list benchmark
  clusterloader2/testing/list/README.md
  clusterloader2/testing/list/pod.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

cl2: fix test failures
  clusterloader2/pkg/config/codec.go
  clusterloader2/pkg/test/simple_test_executor_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Shrink exemplar pod: drop sidecar env padding for all controllers
  clusterloader2/testing/load/modules/reconcile-objects/daemonset.yaml
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
  clusterloader2/testing/load/modules/reconcile-objects/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects/statefulset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Customise OOM tracker to not fail on OOMs
  clusterloader2/docs/oom_detection.md
  clusterloader2/pkg/measurement/common/ooms_tracker.go
  clusterloader2/pkg/measurement/common/ooms_tracker_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

feat: add support for cross-namespace querying in dynamic object stores and wait-for-conditions measurement
  clusterloader2/pkg/measurement/common/wait_for_generic_k8s_object.go
  clusterloader2/pkg/measurement/common/wait_for_generic_k8s_object_test.go
  clusterloader2/pkg/measurement/util/object_store_dynamic.go
  clusterloader2/pkg/measurement/util/object_store_dynamic_test.go
  clusterloader2/pkg/measurement/util/wait_for_conditions.go
  clusterloader2/pkg/measurement/util/wait_for_conditions_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Code review changes
  clusterloader2/pkg/measurement/common/wait_for_generic_k8s_object_test.go
  clusterloader2/pkg/measurement/util/object_store_dynamic_test.go
  clusterloader2/pkg/measurement/util/wait_for_conditions.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Remove dead NODE_MODE override param from 2000/5000 node configs
  clusterloader2/testing/overrides/2000_nodes.yaml
  clusterloader2/testing/overrides/5000_nodes.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Support label selector for generic object waits
  clusterloader2/pkg/measurement/common/wait_for_generic_k8s_object.go
  clusterloader2/pkg/measurement/common/wait_for_generic_k8s_object_test.go
  clusterloader2/pkg/measurement/util/object_store_dynamic.go
  clusterloader2/pkg/measurement/util/object_store_dynamic_test.go
  clusterloader2/pkg/measurement/util/wait_for_conditions.go
  clusterloader2/pkg/measurement/util/wait_for_conditions_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Apply generic object label selector to watch
  clusterloader2/pkg/measurement/util/object_store_dynamic.go
  clusterloader2/pkg/measurement/util/object_store_dynamic_test.go
  clusterloader2/pkg/measurement/util/wait_for_conditions.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Use realistic pod shape by default
  clusterloader2/testing/list/README.md
  clusterloader2/testing/list/pod.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Run list benchmarks sequentially
  clusterloader2/testing/list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Delete configmaps before pod benchmark
  clusterloader2/testing/list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: collect etcd-events pprof profiles in TestMetrics
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/bundle/test_metrics.go
  clusterloader2/pkg/measurement/common/profile.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add custom resource LIST benchmark scenario
  clusterloader2/testing/list/README.md
  clusterloader2/testing/list/clusterrole.yaml
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/customresource.yaml
  clusterloader2/testing/list/customresourcedefinition.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2/testing/watch-list: scale up watch-list test to match 5K-node workload
  clusterloader2/testing/overrides/watch_list_off.yaml
  clusterloader2/testing/watch-list/clusterrole.yaml
  clusterloader2/testing/watch-list/clusterrolebinding.yaml
  clusterloader2/testing/watch-list/config.yaml
  clusterloader2/testing/watch-list/job.yaml
  clusterloader2/testing/watch-list/pod.yaml
  clusterloader2/testing/watch-list/secret.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Path conditions:
  post-kubernetes-push-perf-tests-access-tokens: any of: ^util-images\/access-tokens\/
  post-kubernetes-push-perf-tests-containerd: any of: ^util-images\/containerd\/
  post-kubernetes-push-perf-tests-networknetperfbenchmark: any of: ^util-images\/network\/netperfbenchmark\/
  post-kubernetes-push-perf-tests-probes: any of: ^util-images\/probes\/
  post-kubernetes-push-perf-tests-request-benchmark: any of: ^util-images\/request-benchmark\/
  post-kubernetes-push-perf-tests-scratch: any of: ^util-images\/scratch\/
  post-kubernetes-push-perf-tests-sleep: any of: ^util-images\/sleep\/
  post-kubernetes-push-perf-tests-watch-list: any of: ^util-images\/watch-list\/
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
  pull-perf-tests-ec2-master-scale-performance-100: any of: ^clusterloader2/.*$
  pull-perf-tests-gce-master-scale-performance-100: any of: ^clusterloader2/.*$
