Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/

sort in alphabetical order
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: k8sio-k8s-resources-verify

Update groups.yaml to personal email address
  groups/sig-autoscaling/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add drewhagen to release editors for release cuts
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

openstack v1.33 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

fix
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for releng 1.24.4-bookworm-0 / 1.23.10-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v1.33.0-go1.24.4-bullseye.0 / v1.32.0-go1.23.10-bullseye.0 / v1.31.0-go1.23.10-bullseye.0 / v1.30.0-go1.23.10-bullseye.0 / v1.34.0-go1.24.4-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for build-image v2.4.0-go1.24.4-bookworm.0 / v2.4.0-go1.23.10-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

deploy datadog to GCP
  infra/gcp/bash/ensure-organization.sh
  infra/gcp/terraform/boskos/main.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/iam.tf
  infra/gcp/terraform/k8s-infra-seed/README.md
  infra/gcp/terraform/k8s-infra-seed/iam.tf
  infra/gcp/terraform/k8s-infra-seed/main.tf
  infra/gcp/terraform/k8s-infra-seed/provider.tf
  infra/gcp/terraform/k8s-infra-seed/service-accounts.tf
  infra/gcp/terraform/k8s-infra-seed/terraform.tfvars
  infra/gcp/terraform/k8s-infra-seed/variables.tf
  infra/gcp/terraform/kubernetes-public/00-inputs.tf
  infra/gcp/terraform/kubernetes-public/billing.tf
  infra/gcp/terraform/kubernetes-public/external-ips.tf
  infra/gcp/terraform/kubernetes-public/iam.tf
  infra/gcp/terraform/kubernetes-public/variables.tf
Due: pull-k8sio-terraform-kubernetes-public

add license headers
  infra/gcp/terraform/k8s-infra-seed/iam.tf
  infra/gcp/terraform/k8s-infra-seed/main.tf
  infra/gcp/terraform/k8s-infra-seed/service-accounts.tf
  infra/gcp/terraform/k8s-infra-seed/variables.tf
Due: none

bump atlantis and reconcile manual changes
  kubernetes/gke-utility/atlantis/atlantis.yaml
  kubernetes/gke-utility/atlantis/kustomization.yaml
Due: k8sio-k8s-resources-verify

Promote latest csi-external-health-monitor-controller version
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Sync Oweners with the latest ones
  registry.k8s.io/images/k8s-staging-kueue/OWNERS
Due: none

Image promotion for build-image v0.7.6 / v0.6.11
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Review fixes
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/terraform.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/wireguard.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/cloud-config.yaml.tftpl
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/gateway.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/metadata.yaml
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/provider.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/variables.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/nsx-t.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/boskos-userdata.sh
Due: k8sio-k8s-resources-verify

Image promotion for cluster-api-azure v1.20.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

promote etcd 3.6.1 image
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bump boskos-ibmcloud-janitor version
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
Due: k8sio-k8s-resources-verify

deploy datadog to kops eks cluster and upgrade argocd
  .gitignore
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  kubernetes/apps/datadog.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/eks-prow-kops/datadog/kustomization.yaml
  kubernetes/eks-prow-kops/datadog/secrets.yaml
  kubernetes/eks-prow-kops/datadog/values.yaml
  kubernetes/eks-prow-kops/helm/external-secrets.yaml
  kubernetes/gke-utility/argocd/argocd-app-controller-sts.yaml
  kubernetes/gke-utility/argocd/argocd-cm-rbac.yaml
  kubernetes/gke-utility/argocd/argocd-cm.yaml
  kubernetes/gke-utility/argocd/argocd-server-dp.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources, k8sio-k8s-resources-verify

Add owners file for kubernetes/ibm-ppc64le cluster configuration folder
  kubernetes/ibm-ppc64le/OWNERS
Due: none

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
Due: k8sio-k8s-resources-verify

added SHA for apparmor-loader 1.6
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

adding images for IGW v0.4 rc
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

chore: promote coredns to v1.12.2
  registry.k8s.io/images/k8s-staging-coredns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

fixup dns
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/metadata.yaml
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/variables.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/variables.tf
Due: k8sio-k8s-resources-verify

groups/sig-cl: remove neolit123 from capv alerts
  groups/sig-cluster-lifecycle/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Fixup DNS and docs and document nsx gateway
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/images/GVCE.drawio.png
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/metadata.yaml
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/provider.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/nsx-t.tf
Due: k8sio-k8s-resources-verify

Release lws 0.6.2
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.34.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Add satyampsoni to release editors for release cuts
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Image promotion for build-image bookworm-v1.0.5
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.9.9
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.10.3
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.11.0-alpha.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

test images: promote busybox 1.37.0-2
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.33.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.31.10
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.30.14
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

releng: Image promotion for kubernetes v1.32.6
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
