Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-aks-engine-windows-containerd: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim: any of: azure.*\.go$
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Remove no-longer used selflink code from kubelet
  pkg/kubelet/config/common.go
  pkg/kubelet/config/common_test.go
  pkg/kubelet/config/file_linux_test.go
  pkg/kubelet/config/http_test.go
  pkg/kubelet/container/ref.go
  pkg/kubelet/container/ref_test.go
  pkg/kubelet/images/image_manager_test.go
  pkg/kubelet/kubeletconfig/checkpoint/download.go
Due: pull-kubernetes-local-e2e-containerized

Remove selflink references in different testing-related files
  pkg/controller/cronjob/injection.go
  pkg/controller/cronjob/utils_test.go
  pkg/controller/podautoscaler/horizontal_test.go
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/index_test.go
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/registration_test.go
  staging/src/k8s.io/client-go/testing/fixture_test.go
  staging/src/k8s.io/client-go/tools/events/eventseries_test.go
  staging/src/k8s.io/client-go/tools/record/event_test.go
  staging/src/k8s.io/client-go/tools/reference/ref_test.go
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath_test.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
  test/integration/events/events_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Remove fluentd-elasticsearch addon
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/OWNERS
  cluster/addons/fluentd-elasticsearch/README.md
  cluster/addons/fluentd-elasticsearch/create-logging-namespace.yaml
  cluster/addons/fluentd-elasticsearch/es-image/.gitignore
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  cluster/addons/fluentd-elasticsearch/es-image/Makefile
  cluster/addons/fluentd-elasticsearch/es-image/config/elasticsearch.yml
  cluster/addons/fluentd-elasticsearch/es-image/config/log4j2.properties
  cluster/addons/fluentd-elasticsearch/es-image/elasticsearch_logging_discovery.go
  cluster/addons/fluentd-elasticsearch/es-image/go.mod
  cluster/addons/fluentd-elasticsearch/es-image/go.sum
  cluster/addons/fluentd-elasticsearch/es-image/run.sh
  cluster/addons/fluentd-elasticsearch/es-service.yaml
  cluster/addons/fluentd-elasticsearch/es-statefulset.yaml
  cluster/addons/fluentd-elasticsearch/fluentd-es-configmap.yaml
  cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Dockerfile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Gemfile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Makefile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/README.md
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/entrypoint.sh
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/fluent.conf
  cluster/addons/fluentd-elasticsearch/kibana-deployment.yaml
  cluster/addons/fluentd-elasticsearch/kibana-service.yaml
  cluster/addons/fluentd-elasticsearch/podsecuritypolicies/es-psp-binding.yaml
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

Clean up dockershim flags in the kubelet
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
  cluster/gce/gci/health-monitor.sh
  cluster/gce/util.sh
  cmd/kubelet/app/options/container_runtime.go
  cmd/kubelet/app/server.go
  hack/make-rules/test-e2e-node.sh
  pkg/kubelet/cadvisor/cadvisor_linux_test.go
  pkg/kubelet/cadvisor/helpers_linux.go
  pkg/kubelet/cadvisor/util.go
  pkg/kubelet/config/flags.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/lifecycle/handlers.go
  pkg/kubelet/types/constants.go
  test/e2e_node/conformance/run_test.sh
  test/e2e_node/services/kubelet.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake

Correct the feature gate string for RBD migration.
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

Add guard against nil/error/panic for topologies.go
  pkg/scheduler/util/topologies.go
  pkg/scheduler/util/topologies_test.go
Due: none

e2e test for CVE-2021-29923
  test/e2e/network/funny_ips.go
Due: pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-conformance-kind-ipv6-parallel

Add guard against nil/error/panic for topologies.go
  pkg/scheduler/internal/queue/scheduling_queue.go
Due: none

Handle invalid selectors properly
  pkg/controller/deployment/util/deployment_util.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/volume/persistentvolume/util/util.go
  pkg/printers/internalversion/printers.go
  pkg/registry/core/pod/storage/eviction.go
  pkg/scheduler/framework/fake/listers.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  staging/src/k8s.io/client-go/listers/apps/v1/daemonset_expansion.go
  staging/src/k8s.io/client-go/listers/apps/v1/replicaset_expansion.go
  staging/src/k8s.io/client-go/listers/apps/v1/statefulset_expansion.go
  staging/src/k8s.io/client-go/listers/apps/v1beta1/statefulset_expansion.go
  staging/src/k8s.io/client-go/listers/apps/v1beta2/daemonset_expansion.go
  staging/src/k8s.io/client-go/listers/apps/v1beta2/replicaset_expansion.go
  staging/src/k8s.io/client-go/listers/apps/v1beta2/statefulset_expansion.go
  staging/src/k8s.io/client-go/listers/batch/v1/job_expansion.go
  staging/src/k8s.io/client-go/listers/extensions/v1beta1/daemonset_expansion.go
  staging/src/k8s.io/client-go/listers/extensions/v1beta1/replicaset_expansion.go
  staging/src/k8s.io/client-go/listers/policy/v1/poddisruptionbudget_expansion.go
  staging/src/k8s.io/client-go/listers/policy/v1beta1/poddisruptionbudget_expansion.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-godeps

allow case insensitive matching for field selectors
  staging/src/k8s.io/apimachinery/pkg/fields/selector.go
  staging/src/k8s.io/apimachinery/pkg/fields/selector_test.go
Due: pull-kubernetes-godeps

UPSTREAM: 107173: Fix order of commands in the snapshot tests for volumes
  test/e2e/storage/testsuites/snapshottable.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: 107312: Execute sync before taking the snapshot
  test/e2e/storage/testsuites/snapshottable.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

upgrade sigs.k8s.io/structured-merge-diff/v4 to v4.2.1
  go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
Due: check-dependency-stats, pull-kubernetes-godeps

generated: ./hack/update-vendor.sh
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/merge.go
Due: check-dependency-stats, pull-kubernetes-godeps

Execute sync before taking the snapshot
  test/e2e/storage/testsuites/snapshottable.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

generated: ./hack/update-vendor.sh
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/merge.go
Due: check-dependency-stats, pull-kubernetes-godeps

upgrade sigs.k8s.io/structured-merge-diff/v4 to v4.2.1
  go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
Due: check-dependency-stats, pull-kubernetes-godeps

generated ./hack/update-vendor.sh
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/merge.go
Due: check-dependency-stats, pull-kubernetes-godeps

fix containers order after applying
  test/integration/client/client_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Revert "Automated cherry pick of #107554: Correct the feature gate string for RBD migration."
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-alpha-features

generated: ./hack/update-internal-modules.sh
  staging/src/k8s.io/code-generator/examples/go.sum
Due: pull-kubernetes-godeps

add require.NoError
  pkg/kubelet/pluginmanager/reconciler/reconciler_test.go
Due: pull-kubernetes-local-e2e-containerized

change to use require.NoError
  pkg/kubelet/cri/remote/remote_runtime_test.go
Due: pull-kubernetes-local-e2e-containerized

fix: delete non existing disk issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

fix: remove outdated ipv4 route when the corresponding node is deleted
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes_test.go
Due: pull-kubernetes-e2e-aks-engine-windows-containerd, pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim, pull-kubernetes-e2e-aks-engine-azure-file-windows-dockershim, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

scheduler_perf: create delete nodes operation
  test/integration/framework/perf_utils.go
  test/integration/scheduler_perf/scheduler_perf_legacy_test.go
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/utils/runners.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix to use w.Params.get method
  test/integration/scheduler_perf/scheduler_perf_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel
