Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/

pkg: Remove command, log, and util packages
  pkg/command/command.go
  pkg/command/command_test.go
  pkg/command/global.go
  pkg/command/global_test.go
  pkg/log/hooks.go
  pkg/log/log.go
  pkg/log/log_test.go
  pkg/log/step.go
  pkg/util/common.go
  pkg/util/common_test.go
  pkg/util/env.go
  pkg/util/env_test.go
Due: none

[go1.16] kube-cross: Build v1.16.1-1 image
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Upadte k8s-ci-builder to use go1.16
  dependencies.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

Update krel release-notes flags in the docs
  docs/krel/release-notes.md
Due: none

Hardcode 1.20.3 exptn to fix pkg tests
  hack/packages/verify-published.sh
Due: none

[go1.16] go-runner: Build v2.3.1-go1.16.1-buster.0 image
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Add CVEData verification function and check data is complete
  pkg/notes/document/document.go
  pkg/notes/document/template.go
  pkg/notes/notes.go
Due: none

Move pkg/{editor,hash,http,tar} to sigs.k8s.io/release-utils
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/testgrid.go
  go.mod
  pkg/announce/github_page.go
  pkg/build/push.go
  pkg/changelog/impl.go
  pkg/editor/editor.go
  pkg/editor/editor_test.go
  pkg/editor/tty.go
  pkg/filepromoter/file.go
  pkg/gcp/build/build.go
  pkg/hash/hash.go
  pkg/hash/hash_test.go
  pkg/http/http.go
  pkg/http/http_test.go
  pkg/notes/document/document.go
  pkg/promobot/hash.go
  pkg/release/publish.go
  pkg/release/release.go
  pkg/release/version.go
  pkg/release/workspace.go
  pkg/tar/tar.go
  pkg/tar/tar_test.go
  pkg/testgrid/testgrid.go
Due: none

Added list of krel subcommands
  docs/krel/README.md
Due: none

Update k8s-cloud-builder to v1.16.0-1
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

[go1.16] Update Golang dependency references to go1.16.1
  dependencies.yaml
Due: none

[WIP] Add CVE Information to template.go
  pkg/notes/document/document.go
  pkg/notes/document/template.go
  pkg/notes/notes.go
Due: none

k8s-cloud-builder: add a REGISTRY substitution to allow registry selection
  images/k8s-cloud-builder/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

kubepkg: add a REGISTRY substitution to allow registry selection
  cloudbuild-kubepkg.yaml
Due: none

[go1.16] releng-ci: Build v0.5.0 image
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

debian-iptables: add a REGISTRY substitution to allow registry selection
  images/build/debian-iptables/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

[go1.15] go-runner: Build v2.3.1-go1.15.10-buster.0 image
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

[go1.16] images: Build go1.16.1 k8s-{ci,cloud}-builder images
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

debian-hyperkube-base: add a REGISTRY substitution to allow registry selection
  images/build/debian-hyperkube-base/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-hyperkube-base, post-release-push-image-releng-ci, pull-release-image-debian-hyperkube-base

images/kubecross: create a REGISTRY substitution to allow registry selection
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

[go1.16] vulndash: Build v0.4.3-6 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: post-release-push-image-vulndash

[go1.15] kube-cross: Build v1.15.8-1 / v1.15.9-legacy-1 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

images: fix environment variables duplication
  images/build/debian-base/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner, pull-release-image-debian-base

k8s-ci-builder: add a REGISTRY substitution to allow registry selection
  images/releng/k8s-ci-builder/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

[go1.15] kube-cross: Build v1.15.10-1 / v1.15.10-legacy-1 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

kubecross: remove Makefile.build-image dependencie and check if the env vars are set
  images/build/cross/Makefile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

[go1.15] go-runner: Build v2.3.1-go1.15.9-buster.0 image
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

go-runner: add a REGISTRY substitution to allow registry selection
  images/Makefile.common-image
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

releng-ci: add a REGISTRY substitution to allow registry selection
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

setcap: add a REGISTRY substitution to allow registry selection
  images/build/setcap/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-setcap

debian-base: add a REGISTRY substitution to allow registry selection
  images/build/debian-base/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Bumping debian-base tag to v1.5.0
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
  images/build/setcap/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-setcap

Add new substitution for releng KUBE_CROSS
  gcb/stage/cloudbuild.yaml
  pkg/gcp/build/build.go
  pkg/gcp/gcb/gcb.go
Due: none

Hardcode k8s.gcr.io/releng/releng-ci:v0.5.0 to build krel in GCB
  gcb/stage/cloudbuild.yaml
Due: none

Hardcode releng-ci:v0.5.0 in release GCB Job
  gcb/release/cloudbuild.yaml
Due: none

Use go1.16 in debian builder
  packages/deb/Dockerfile
Due: none

update links to testgrid dashboards
  hack/rapture/README.md
Due: none

Add github.CreateIssue() function
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/record.go
  pkg/github/replay.go
Due: none

Add function github.GetMilesone()
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/record.go
  pkg/github/replay.go
Due: none
