Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, post-kubernetes-push-image-etcd, pull-kubernetes-e2e-capz-windows, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-capz-azure-disk, pull-kubernetes-e2e-capz-azure-disk-vmss, pull-kubernetes-e2e-capz-azure-file, pull-kubernetes-e2e-capz-azure-file-vmss, pull-kubernetes-e2e-capz-conformance, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-cross, check-govulncheck-results, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

update verify script to check deprecated fields
  hack/verify-publishing-bot.py
Due: none

k8s.io/dynamic-resource-allocation: fix potential scheduling deadlock
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller.go
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-godeps

UPSTREAM: <drop>: hack/update-vendor.sh (with updated builder image)
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/endpointslice/go.sum
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
Due: check-dependency-stats, pull-kubernetes-e2e-kind-kms, pull-kubernetes-kind-dra, check-govulncheck-results, pull-kubernetes-godeps

Fix 120758 - prevent cache Load on uninitialized spec
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
Due: pull-kubernetes-godeps

CHANGELOG: Update directory for v1.29.0-alpha.1 release
  CHANGELOG/CHANGELOG-1.29.md
  CHANGELOG/README.md
Due: none

e2e dra: enhance test driver
  test/e2e/dra/deploy.go
  test/e2e/dra/test-driver/app/controller.go
  test/e2e/dra/test-driver/app/server.go
  test/integration/scheduler_perf/dra_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-conformance-kind-ipv6-parallel

Fix CSINode object recreation logic after Node object recreation
  pkg/kubelet/volume_host.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csi/nodeinfomanager/nodeinfomanager.go
  pkg/volume/csi/nodeinfomanager/nodeinfomanager_test.go
  pkg/volume/plugins.go
  pkg/volume/testing/volume_host.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

added comments above multiple functions in the cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go file
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go file
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/phases/reset/cleanupnode_test.go file
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go file
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/phases/reset/removeetcdmember_test.go file
  cmd/kubeadm/app/cmd/phases/reset/removeetcdmember_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/phases/reset/removeetcdmember.go file
  cmd/kubeadm/app/cmd/phases/reset/removeetcdmember.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/phases/workflow/runner.go file
  cmd/kubeadm/app/cmd/phases/workflow/runner.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/phases/workflow/doc_test.go file
  cmd/kubeadm/app/cmd/phases/workflow/doc_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

added comments above multiple functions in the cmd/kubeadm/app/cmd/phases/workflow/runner_test.go file
  cmd/kubeadm/app/cmd/phases/workflow/runner_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Create easyCLA
  easyCLA
Due: none

Default clientset_pkg and clientset_name variables
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
Due: pull-kubernetes-godeps

Build kubelet with CGO for sig-node e2e tests (not ginkgo)
  test/e2e_node/builder/build.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

apf: use context for queue wait
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
Due: pull-kubernetes-godeps

apf: remove timeoutOldRequestsAndRejectOrEnqueueLocked function
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Due: pull-kubernetes-godeps

apf: remove RequestWaitLimit from queueset config
  pkg/controlplane/apiserver/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/borrowing_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/gen_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/max_seats_test.go
  test/integration/apiserver/flowcontrol/fight_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

apf: request ejected from queue should use reason 'time-out'
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
Due: pull-kubernetes-godeps

Fix typos: update Enpoint to Endpoint
  cmd/kubeadm/app/phases/addons/proxy/proxy.go
Due: pull-kubernetes-e2e-kubeadm-gce

UPSTREAM: <carry>: vendor: bump cadvisor and runc to 1.1.9
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/common.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/v1.go
  vendor/github.com/opencontainers/runc/libcontainer/container_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/factory_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/intelrdt/intelrdt.go
  vendor/github.com/opencontainers/runc/libcontainer/mount_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/process_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/rootfs_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/seccomp/config.go
  vendor/github.com/opencontainers/runc/libcontainer/seccomp/patchbpf/enosys_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-e2e-kind-kms, check-govulncheck-results, pull-kubernetes-godeps

Extend iptables packet tracer to support multiple node IPs
  pkg/proxy/iptables/proxier_test.go
Due: none

Rewrite TestClusterIPEndpointsMore as TestClusterIPGeneral
  pkg/proxy/iptables/proxier_test.go
Due: none

Merge all the "reject when no endpoints" tests together
  pkg/proxy/iptables/proxier_test.go
Due: none

Merge several NodePort tests into TestNodePorts
  pkg/proxy/iptables/proxier_test.go
Due: none

UPSTREAM: <carry>: kubelet/cm: use MkdirAll when creating cpuset to ignore file exists error
  pkg/kubelet/cm/cgroup_manager_linux.go
Due: pull-kubernetes-local-e2e-containerized

Merge the `ExternalTrafficPolicy: Local` tests together
  pkg/proxy/iptables/proxier_test.go
Due: none

Remove remaining unnecessary assertIPTablesRulesEqual checks
  pkg/proxy/iptables/proxier_test.go
Due: none

Rename TestNonLocalExternalIPs to TestExternalTrafficPolicyCluster
  pkg/proxy/iptables/proxier_test.go
Due: none

Only configure swap if available on node
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
Due: pull-kubernetes-local-e2e-containerized

Deprecate cloud-provider/cloud-config in apiserver CLI
  pkg/kubeapiserver/options/cloudprovider.go
Due: none

Backport Konnectivity Proxy 0.1.5 to release-1.27.
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
Due: pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gke, check-govulncheck-results, pull-kubernetes-godeps

handlers/watch: calculate and record WatchList latency metric.
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
Due: pull-kubernetes-godeps

k8s.io/client-go/tools: support context for event recording
  hack/logcheck.conf
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/event_broadcaster_test.go
  staging/src/k8s.io/client-go/tools/events/event_recorder.go
  staging/src/k8s.io/client-go/tools/events/eventseries_test.go
  staging/src/k8s.io/client-go/tools/events/fake.go
  staging/src/k8s.io/client-go/tools/events/interfaces.go
  staging/src/k8s.io/client-go/tools/internal/events/interfaces.go
  staging/src/k8s.io/client-go/tools/record/event.go
  staging/src/k8s.io/client-go/tools/record/event_test.go
  staging/src/k8s.io/client-go/tools/record/fake.go
  vendor/modules.txt
Due: check-dependency-stats, check-govulncheck-results, pull-kubernetes-godeps

k8s.io/client-go/tools/events: pass context into EventSink methods
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/eventseries_test.go
  staging/src/k8s.io/client-go/tools/events/interfaces.go
Due: pull-kubernetes-godeps

endpoints/metrics: define watchListLatencies metric and associated functions
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
Due: pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  post-kubernetes-push-image-etcd: any of: ^cluster\/images\/etcd\/
  pull-kubernetes-e2e-capz-windows: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-kind-kms: any of: staging/src/k8s.io/apiserver/pkg/storage/value/|staging/src/k8s.io/kms/|staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/|test/e2e/testing-manifests/auth/encrypt/
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-capz-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-capz-azure-file-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-capz-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  check-govulncheck-results: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
