Repository kubernetes-sigs/secrets-store-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

secrets-store-csi-driver-push-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-csi-secrets-store
      - --scratch-bucket=gs://k8s-staging-csi-secrets-store-gcb
  ...

release-secrets-store-csi-driver-e2e-vault:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
      - make e2e-bootstrap e2e-helm-deploy-release e2e-vault
  ...

release-secrets-store-csi-driver-e2e-azure:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

release-secrets-store-csi-driver-e2e-gcp:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gcp-secrets-store-creds: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210312-67f589a-master
      command:
      - runner.sh
      args:
      - bash
      - -c
  ...

docs: link and mention optional features
  docs/book/src/concepts.md
  docs/book/src/getting-started/installation.md
  docs/book/src/introduction.md
Due: none

test: sets docker images in helm upgrade
  Makefile
Due: none

e2e: use kubectl wait to check if pods ready
  test/bats/aws.bats
  test/bats/gcp.bats
Due: none

ci: adds e2e hook docker image
  Makefile
  docker/crd.Dockerfile
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-delete-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

helm: move default annotations out of conditional
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

test: crd windows container
  Makefile
  docker/windows.crd.Dockerfile
Due: secrets-store-csi-driver-push-image

test: docker manifest
  Makefile
Due: none

feat: implements e2e upgrade test (#602)
  Makefile
  test/bats/azure.bats
Due: none

ci: adds output type in crd docker build
  Makefile
Due: none

test: dcoker manifest
  Makefile
Due: none

ci: fixes docker buildx build
  Makefile
Due: none

test: push crd image for aws e2e tests
  test/scripts/initialize_eks_cluster.bash
Due: none

ci: fixes windows crd build
  Makefile
Due: none

ci: adds aws create repository for crds
  test/scripts/initialize_eks_cluster.bash
Due: none

ci: increases log level
  Makefile
Due: none

ci: test helm for windows
  Makefile
  test/scripts/initialize_eks_cluster.bash
Due: none

test: fixes typo
  Makefile
Due: none

test: helm
  Makefile
Due: none

ci: updates container entrypoint
  Makefile
  docker/crd.Dockerfile
  docker/windows.crd.Dockerfile
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-delete-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

fix: updates args
  Makefile
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-delete-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ci: use linux node for hook
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-delete-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

e2e: ensure pod deletion is successful
  test/bats/aws.bats
  test/bats/azure.bats
  test/bats/gcp.bats
  test/bats/helpers.bash
  test/bats/vault.bats
Due: none

ci: removes windows crd build
  Makefile
  docker/crd.Dockerfile
  docker/windows.crd.Dockerfile
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-delete-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/values.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ci: fixes win e2e
  Makefile
Due: none

fix: adds crd images to manifest
  Makefile
Due: none

ci: fixes buildx
  Makefile
Due: none

ci: push crd images to k8s staging repo
  docker/Makefile
  docker/build.sh
Due: secrets-store-csi-driver-push-image

ci: fixes crd manifest
  Makefile
Due: none

ci: fixes lint error
  Makefile
  docker/build.sh
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ci: coorects docker context path
  docker/build.sh
Due: secrets-store-csi-driver-push-image

fix: remove mountPropagation attribute on volume for secrets-store and remove securityContext for privileged containers on Windows
  deploy/secrets-store-csi-driver-windows.yaml
Due: none

Fix Windows nodes compatibility issues in pod definition (#625)
  deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver-windows.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

chore: revert changes from deploy and add to manifest_staging
  deploy/secrets-store-csi-driver-windows.yaml
  manifest_staging/deploy/secrets-store-csi-driver-windows.yaml
Due: none

tests: include more debug info in artifacts
  test/bats/helpers.bash
Due: none

docs: use testgrid for readme test status
  README.md
Due: none

test: updates image push build
  docker/build.sh
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-delete-hook.yaml
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: secrets-store-csi-driver-push-image, release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ci: updates image pull policy in helm hook
  manifest_staging/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml
Due: release-secrets-store-csi-driver-e2e-vault, release-secrets-store-csi-driver-e2e-azure, release-secrets-store-csi-driver-e2e-gcp

ci: fixes lint
  docker/build.sh
Due: secrets-store-csi-driver-push-image

move cleanup of eks cluster to cleanup_file
  Makefile
  test/bats/aws.bats
Due: none

e2e: get logs for sidecar containers
  test/bats/helpers.bash
  test/bats/tests/azure/job_templates/kubernetes_windows.json
Due: none

Path conditions:
  secrets-store-csi-driver-push-image: any of: ^docker\/
  release-secrets-store-csi-driver-e2e-vault: any of: charts/.*
  release-secrets-store-csi-driver-e2e-azure: any of: charts/.*
  release-secrets-store-csi-driver-e2e-gcp: any of: charts/.*
