Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - name: groups
      image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && make run -- --confirm

post-k8sio-dns-update:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-dns-updater
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/infra-tools/octodns:v20200616-67ce585
      command:
      - bash
      args:
      - -c
      - cd dns && make push-local

post-k8sio-deploy-prow-build-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

post-k8sio-deploy-prow-build-trusted-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

add tam7t as reviewer for secrets-store-csi-driver images
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/OWNERS
Due: none

releng: Image promotion for v1.20.6 / v1.20.7-rc.0 / v1.19.10 / v1.19.11-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

releng: Image promotion for v1.18.18 / v1.18.19-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Release-1.22: Add 1.22 RT Leads to relevant groups
  groups/groups.yaml
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

release: adding capa v0.6.5 images
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Include iscsi csi driver in image building
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
Due: none

Promote Cluster API v0.3.16
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Updated s390x maintainers in groups
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Release kube-cross:v1.16.3-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Cleanup leads list
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote git-sync v3.3.0
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

align OWNER for CAPI image to CAPI mantainers list
  k8s.gcr.io/images/k8s-staging-cluster-api/OWNERS
Due: none

add new kustomize images
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Remove deprecated interpolation syntax.
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
Due: none

releng: Promote go1.16.3 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

groups/sig-cluster-lifecycle: add kubeadm test alerts ML
  groups/sig-cluster-lifecycle/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify

Promote v0.1.9 image
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add infra/meta/asns/google.yaml
  infra/meta/asns/google.yaml
Due: k8sio-k8s-resources-verify

Add infra/meta/asns/microsoft.yaml
  infra/meta/asns/microsoft.yaml
Due: k8sio-k8s-resources-verify

Add infra/meta/asns/amazon.yaml
  infra/meta/asns/amazon.yaml
Due: k8sio-k8s-resources-verify

Release Metrics Server v0.4.3
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

rename service-apis to gateway-api
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-gateway-api/OWNERS
  k8s.gcr.io/images/k8s-staging-gateway-api/images.yaml
  k8s.gcr.io/manifests/k8s-staging-gateway-api/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-service-apis/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

Add myself to view cluster dashboard
  groups/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Add k8s-infra-ii-coop group
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify

Going emeritus, removing myself from WGs and SIGs
  OWNERS_ALIASES
Due: none

Promote csi-attacher / csi-provisioner / csi-external-health-monitor-controller images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Reduce permissions on sig-cluster-lifecycle-cluster-api-alerts@kubernetes.io to member only.
  groups/sig-cluster-lifecycle/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify

groups: Update email address for Stephen Augustus (justaugustus)
  groups/groups.yaml
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote APISnoop v0.2.0 images
  k8s.gcr.io/images/k8s-staging-apisnoop/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Move ASNs infos to a dedicated place.
  registry.k8s.io/OWNERS
  registry.k8s.io/infra/meta/asns/amazon.yaml
  registry.k8s.io/infra/meta/asns/google.yaml
  registry.k8s.io/infra/meta/asns/microsoft.yaml
Due: k8sio-k8s-resources-verify

Switch to ManagedCertificate for Triage-Party.
  triage-party/release-team/certificate.yaml
  triage-party/release-team/ingress.yaml
Due: k8sio-k8s-resources-verify

Reorganize ACLs for II Coop
  groups/groups.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Read access to read access k8s-artifacts-gcslogs
  infra/gcp/ensure-prod-storage.sh
Due: none

Temporary project artificat infrastructure
  infra/gcp/clusters/.gitignore
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/OWNERS
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/main.tf
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/provider.tf
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/versions.tf
Due: none

Promote Addon Resizer 1.8.12
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote security-profiles-operator v0.3.0
  k8s.gcr.io/images/k8s-staging-sp-operator/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

groups: remove security@kubernetes.io from distributors-announce
  groups/committee-product-security/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify

groups: add test for security-owned groups
  groups/groups_test.go
  groups/reconcile.go
Due: pull-k8sio-groups-test

Fix group name for II coop.
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/main.tf
Due: none

Add budget to k8s-infra-ii-sandbox
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/budget.tf
Due: none

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/groups.yaml
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/
