Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

cmd/schedule-builder: replace github.com/pkg/errors dependency with native error wrapping
  cmd/schedule-builder/cmd/root.go
Due: post-release-push-image-k8s-ci-builder

pkg/kubecross: replace github.com/pkg/errors dependency with native error wrapping
  pkg/kubecross/kubecross.go
  pkg/kubecross/kubecross_test.go
Due: post-release-push-image-k8s-ci-builder

pkg/testgrid: replace github.com/pkg/errors dependency with native error wrapping
  pkg/testgrid/testgrid-scraper.go
  pkg/testgrid/testgrid.go
Due: post-release-push-image-k8s-ci-builder

pkg/build: replace github.com/pkg/errors dependency with native error wrapping
  pkg/build/build.go
  pkg/build/ci.go
  pkg/build/make.go
  pkg/build/push.go
Due: post-release-push-image-k8s-ci-builder

Update go-github to v45
  go.mod
  go.sum
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: post-release-push-image-k8s-ci-builder

pkg/kubepkg: replace github.com/pkg/errors dependency with native error wrapping
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
  pkg/kubepkg/options/options.go
  pkg/kubepkg/template.go
Due: post-release-push-image-k8s-ci-builder

Mention Rapture in repo readme
  README.md
Due: none

Update images/build/debian-iptables/distroless/stage-binary-and-deps.sh
  images/build/debian-iptables/distroless/stage-binary-and-deps.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Add stage deps script
  images/build/debian-iptables/distroless/stage-binary-and-deps.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

Create distroless kubeproxy image
  images/build/debian-iptables/distroless/Dockerfile
  images/build/debian-iptables/distroless/clean-distroless.sh
  images/build/debian-iptables/distroless/get-binaries-from-package.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

pkg/binary: replace github.com/pkg/errors dependency with native error wrapping
  pkg/binary/binary.go
  pkg/binary/elf.go
  pkg/binary/mach-o.go
  pkg/binary/windows.go
Due: post-release-push-image-k8s-ci-builder

pkg/announce: replace github.com/pkg/errors dependency with native error wrapping
  pkg/announce/announce.go
  pkg/announce/github_page.go
Due: post-release-push-image-k8s-ci-builder

replace pk/errors dependency notes package
  pkg/notes/notes.go
Due: post-release-push-image-k8s-ci-builder

replace pkg/errors
  pkg/notes/notes_v2.go
Due: post-release-push-image-k8s-ci-builder

error correction
  pkg/notes/dependencies.go
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_map.go
  pkg/notes/options/options.go
Due: post-release-push-image-k8s-ci-builder

remove version package in favor of sigs.k8s.io/release-utils/version
  cmd/krel/cmd/root.go
  cmd/krel/cmd/version.go
  pkg/anago/anago.go
  pkg/version/version.go
  pkg/version/version_test.go
Due: post-release-push-image-k8s-ci-builder

drop most of the ldflags becasue now it is handled in the version package
  compile-release-tools
Due: post-release-push-image-k8s-ci-builder

update per feedback
  pkg/anago/anago.go
Due: post-release-push-image-k8s-ci-builder

changed to golang native error wrapping
  cmd/krel/cmd/announce_build.go
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/cve.go
  cmd/krel/cmd/push.go
  cmd/krel/cmd/release.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/testgrid.go
Due: post-release-push-image-k8s-ci-builder

small nits
  cmd/krel/cmd/announce_build.go
Due: post-release-push-image-k8s-ci-builder

reverted the previous changes due to syntax error
  cmd/krel/cmd/announce_build.go
Due: post-release-push-image-k8s-ci-builder

removed white space
  cmd/ci-reporter/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

fixed typo
  cmd/krel/cmd/announce_build.go
Due: post-release-push-image-k8s-ci-builder

pkg/release: replace github.com/pkg/errors dependency with native error wrapping
  pkg/release/archive.go
  pkg/release/binaries.go
  pkg/release/branch_checker.go
  pkg/release/images.go
  pkg/release/images_test.go
  pkg/release/prerequisites.go
  pkg/release/provenance.go
  pkg/release/publish.go
  pkg/release/publish_test.go
  pkg/release/push_git_objects.go
  pkg/release/push_git_objects_test.go
  pkg/release/release.go
  pkg/release/release_version.go
  pkg/release/repository.go
  pkg/release/version.go
  pkg/release/workspace.go
Due: post-release-push-image-k8s-ci-builder

remove old and not used dependency
  dependencies.yaml
Due: none

add dependencies for v1.24 release
  dependencies.yaml
Due: none

drop v1.24-go1.17-bullseye config for kube-cross
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Specify the token scope for the GITHUB_TOKEN
  docs/krel/release-notes.md
Due: none

added missed parentheses
  cmd/krel/cmd/announce_build.go
Due: post-release-push-image-k8s-ci-builder

Remove `github.com/pkg/errors` from direct dependencies
  cmd/krel/cmd/ci_build.go
  go.mod
Due: post-release-push-image-k8s-ci-builder

golang: Build 1.19beta1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

debian-base: Build bullseye-v1.4.0
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Remove `krel changelog` docs since this subcommand no longer exists
  docs/krel/README.md
Due: none

Add all files from a package into staging
  dependencies.yaml
  images/build/debian-iptables/distroless/get-binaries-from-package.sh
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/OWNERS
  images/build/distroless-iptables/README.md
  images/build/distroless-iptables/cloudbuild.yaml
  images/build/distroless-iptables/distroless/Dockerfile
  images/build/distroless-iptables/distroless/clean-distroless.sh
  images/build/distroless-iptables/distroless/package-utils.sh
  images/build/distroless-iptables/distroless/stage-binaries-from-package.sh
  images/build/distroless-iptables/distroless/stage-binary-and-deps.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables

add variants and add missing substitutions
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/cloudbuild.yaml
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

debian-base: Update dependents to use bullseye-v1.4.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-iptables, pull-release-image-setcap

Add signet owners and fix release version
  OWNERS_ALIASES
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/OWNERS
  images/build/distroless-iptables/README.md
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci

golang: Build 1.19rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Pin sigs.k8s.io/bom to v0.3.0
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder
