Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-distroless-iptables, post-release-push-image-go-runner, post-release-push-image-setcap, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-distroless-iptables: any of: ^images\/build\/distroless-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*

Make `--workspace` configurable in `obs stage/release`
  cmd/krel/cmd/obs_release.go
  cmd/krel/cmd/obs_stage.go
  pkg/obs/obs.go
  pkg/obs/obsfakes/fake_release_impl.go
  pkg/obs/obsfakes/fake_stage_impl.go
  pkg/obs/prerequisites.go
  pkg/obs/release.go
  pkg/obs/stage.go
Due: post-release-push-image-k8s-ci-builder

Make `--template-dir` work for `krel obs release`
  cmd/krel/cmd/obs_release.go
  pkg/obs/release.go
Due: post-release-push-image-k8s-ci-builder

Allow setting OBS_USERNAME for a specific user
  pkg/obs/obs.go
  pkg/obs/release.go
  pkg/obs/stage.go
Due: post-release-push-image-k8s-ci-builder

Fix CRI-O unitdir macro on debbuild
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

Add registries.conf to CRI-O spec
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

Deprecated krel release-notes --create-website-pr
  cmd/krel/cmd/release_notes.go
  docs/krel/release-notes.md
Due: post-release-push-image-k8s-ci-builder

Undo changed imports
  cmd/krel/cmd/release_notes.go
Due: post-release-push-image-k8s-ci-builder

Update `osc` binary in k8s-cloud-builder
  images/k8s-cloud-builder/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

Fix EnvironmentFile path for kubeadm deb package
  cmd/krel/templates/latest/kubeadm/kubeadm.spec
Due: post-release-push-image-k8s-ci-builder

Use package runtime dependencies for CRI-O
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

Use conmon and crun from CRI-O package
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

reverting parallel builds freal
  pkg/build/make.go
Due: post-release-push-image-k8s-ci-builder

Fix integration tests
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

cri-o: fix license and readme for deb build
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

Fix specfile typo for variable
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

CRI-O: allow CNI plugins fallback package
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

CRI-O: handle systemd unit file
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

Fix logical `or` in CRI-O rpm spec
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

Don't start systemd unit by default
  cmd/krel/templates/latest/cri-o/cri-o.spec
Due: post-release-push-image-k8s-ci-builder

Remove CRI-O spec
  cmd/krel/templates/latest/cri-o/cri-o.spec
  cmd/krel/templates/latest/metadata.yaml
Due: post-release-push-image-k8s-ci-builder

Add goreleaser actions
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  dependencies.yaml
Due: none

Add docs about how to tag this repository
  README.md
Due: none

Fix release-notes binary path
  .goreleaser.yml
Due: none

fix archive to remove the duplicates
  .goreleaser.yml
Due: none

Add `--wait` flag for `krel obs stage`
  cmd/krel/cmd/obs_stage.go
  gcb/obs-stage/cloudbuild.yaml
  pkg/gcp/gcb/gcb.go
  pkg/obs/obs.go
  pkg/obs/obsfakes/fake_stage_client.go
  pkg/obs/obsfakes/fake_stage_impl.go
  pkg/obs/stage.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.21.2 and 1.20.9 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

Update distroless-iptables to use go 1.21.2
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Pin release-utils to latest release
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Update k8s-cloud-builder/k8s-ci-builder to Go 1.21.2/1.20.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Don't wait for OBS build results if not selected
  pkg/obs/stage.go
Due: post-release-push-image-k8s-ci-builder

Build Go 1.21.3 and 1.20.10 images
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci

Default `krel obs stage --wait` to `true`
  cmd/krel/cmd/obs_stage.go
Due: post-release-push-image-k8s-ci-builder

Update k8s-cloud-builder/k8s-ci-builder to Go 1.21.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Add nftables binary to the distroless-iptables image
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/distroless/Dockerfile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

fix changelog integration test
  cmd/krel/cmd/changelog_data_test.go
Due: post-release-push-image-k8s-ci-builder

Update distroless-iptables to use go 1.21.3
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-distroless-iptables, post-release-push-image-releng-ci

Update k8s-cloud-builder/k8s-ci-builder to Go 1.20.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

enable support for building for arm64
  pkg/build/build.go
  pkg/build/ci.go
Due: post-release-push-image-k8s-ci-builder

Update golangci-lint to v1.55.0
  .github/workflows/lint.yml
  .golangci.yml
  cmd/ci-reporter/cmd/root.go
  cmd/krel/cmd/release_notes.go
  dependencies.yaml
  pkg/anago/release_test.go
  pkg/anago/stage_test.go
  pkg/binary/binary_test.go
  pkg/cve/cve.go
  pkg/gcp/gcb/gcb.go
  pkg/mail/mail_test.go
  pkg/notes/document/document_test.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
  pkg/release/provenance.go
  pkg/release/release_test.go
  pkg/testgrid/testgrid.go
Due: post-release-push-image-k8s-ci-builder
