Repository kubernetes/autoscaler: changes, and which Prow jobs are due for each by the changed paths.
All: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-cluster-autoscaler-e2e-azure-master, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

Path conditions:
  post-autoscaler-push-vpa-images: any of: ^vertical-pod-autoscaler/
  post-autoscaler-push-cluster-autoscaler-images: any of: ^cluster-autoscaler/
  pull-cluster-autoscaler-e2e-azure-master: any of: cluster-autoscaler\/cloudprovider\/azure
  pull-autoscaling-e2e-vpa-full: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-actuation: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-admission-controller: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-recommender: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-vpa-updater: any of: ^vertical-pod-autoscaler\/
  pull-autoscaling-e2e-ca-build: any of: ^cluster-autoscaler\/

Fix nil pointer dereference in atomicScaleDownNode
  cluster-autoscaler/core/scaledown/planner/planner.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Increase bucket count for function_duration_seconds metric
  cluster-autoscaler/metrics/metrics.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

chart(vpa): bump chart version to 0.10.0 to publish appVersion 1.7.0
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/Chart.yaml
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

feat: partitionable devices support
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Update index.yaml
  index.yaml
Due: none

feat: add OCI publishing for Helm charts to GHCR
  .github/workflows/chart-release.yaml
  cluster-autoscaler/charts/cluster-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
Due: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

feat: add manual packaging for workflow_dispatch testing
  .github/workflows/chart-release.yaml
Due: none

feat: update README.md.gotmpl
  cluster-autoscaler/charts/cluster-autoscaler/README.md.gotmpl
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md.gotmpl
Due: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

fix: addressing Copilot's comments
  .github/workflows/chart-release.yaml
  cluster-autoscaler/charts/cluster-autoscaler/README.md
  vertical-pod-autoscaler/charts/vertical-pod-autoscaler/README.md
Due: post-autoscaler-push-vpa-images, post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater, pull-autoscaling-e2e-ca-build

docs(metrics): drop obsolete Node Autoprovisioning operations section
  cluster-autoscaler/proposals/metrics.md
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add Helm chart update step to VPA release instructions
  vertical-pod-autoscaler/RELEASE.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

E2E tests on Kind and Kwok
  cluster-autoscaler/Makefile
  cluster-autoscaler/go.mod
  cluster-autoscaler/go.sum
  cluster-autoscaler/test/e2e/cluster_autoscaling_test.go
  cluster-autoscaler/test/e2e/e2e_suite_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add e2e workflow
  .github/workflows/ca-e2e.yaml.yml
Due: none

clusterapi: fall back to replica decrement for MachinePool nodes without matching Machine
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix(nodegroup): skip node deletion on nodeGroupForNode errors instead of aborting
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix replicas-len
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

remove trailing space in error message
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix(clusterapi): distinguish 'not found' errors (skip) from other errors (return) in DeleteNodes Step 1
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix(clusterapi): distinguish 'not found' errors (skip) from other errors (return) in DeleteNodes Step 3
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

fix(clusterapi): ignore 'not found' errors from findMachineByProviderID, treat as machine == nil
  cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

feat: partitionable devices support (#8559)
  cluster-autoscaler/simulator/dynamicresources/utils/utilization.go
  cluster-autoscaler/simulator/dynamicresources/utils/utilization_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

Add recommender Prometheus metrics tests
  vertical-pod-autoscaler/pkg/utils/metrics/recommender/recommender_test.go
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

Improve GCE error handling for new instances
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client.go
  cluster-autoscaler/cloudprovider/gce/autoscaling_gce_client_test.go
Due: post-autoscaler-push-cluster-autoscaler-images, pull-autoscaling-e2e-ca-build

rephrased the proposal
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

small updates per feedback and better described the downgrade flow
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

updated per feedback
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

aep-8905 native sidecar support
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

link spec client
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater

bump to 1.8.0
  vertical-pod-autoscaler/enhancements/8905-native-sidecar-support/README.md
Due: post-autoscaler-push-vpa-images, pull-autoscaling-e2e-vpa-full, pull-autoscaling-e2e-vpa-actuation, pull-autoscaling-e2e-vpa-admission-controller, pull-autoscaling-e2e-vpa-recommender, pull-autoscaling-e2e-vpa-updater
