Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Service Monitor: Indent endpoints.
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Service Monitor: Indent job label.
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Service Monitor: Reorder selector.
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Service Monitor: Reorder namespace selector.
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Service Monitor: Indent metadata.
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Service Monitor: Indent namespace selector.
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Service Monitor: Improve target labels.
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Implement ServiceMonitor limits.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
  charts/ingress-nginx/tests/controller-servicemonitor_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework ServiceMonitor. (#12269)
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework ServiceMonitor. (#12268)
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Implement ServiceMonitor limits. (#12251)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
  charts/ingress-nginx/tests/controller-servicemonitor_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Rework ServiceMonitor. (#12270)
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Bump actions/dependency-review-action from 4.3.5 to 4.4.0 in the actions group (#12275)
  .github/workflows/depreview.yaml
Due: none

Bump actions/dependency-review-action from 4.3.5 to 4.4.0 in the actions group (#12273)
  .github/workflows/depreview.yaml
Due: none

Bump actions/dependency-review-action from 4.3.5 to 4.4.0 in the actions group (#12274)
  .github/workflows/depreview.yaml
Due: none

Update pkg/tcpproxy/tcp.go
  pkg/tcpproxy/tcp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Docs: fix limit-rate-after references
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Docs: fix limit-rate-after references (#12277)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Docs: fix limit-rate-after references (#12280)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Docs: fix limit-rate-after references (#12279)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Docs: fix limit-rate-after references (#12278)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Don't panic on invalid lua-shared-dict format
  internal/ingress/controller/template/configmap.go
  internal/ingress/controller/template/configmap_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Config: Fix panic on invalid `lua-shared-dict`. (#12281)
  internal/ingress/controller/template/configmap.go
  internal/ingress/controller/template/configmap_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen
