Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-alpine-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-auth-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-auth-img-gcb
  ...

post-kubernetes-push-e2e-windows-nanoserver-auth-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-img
      - --scratch-bucket=gs://k8s-staging-e2e-test-img-gcb
  ...

post-kubernetes-push-e2e-agnhost-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-apparmor-loader-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

post-kubernetes-push-e2e-busybox-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

Fix: daemon_set.go.
  test/e2e/apps/daemon_set.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix: rc.go.
  test/e2e/apps/rc.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix: ttl_after_finished.go
  test/e2e/apps/ttl_after_finished.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix issue that Audit Server could not correctly encode DeleteOption
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
Due: pull-kubernetes-godeps

Fix: Job.go
  test/e2e/apps/job.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix: Deployment.go
  test/e2e/apps/deployment.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix bug in reflector not detecting "Too large resource version" error before 1.17.0
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Due: pull-kubernetes-godeps

update changelog approver and reviewers for v1.27
  CHANGELOG/OWNERS
Due: none

Use new event broadcast API
  cmd/kube-scheduler/app/config/config.go
  cmd/kube-scheduler/app/options/options.go
Due: none

added missing LabelledEventf() method to other interfaces
  pkg/controller/statefulset/stateful_set_utils_test.go
  pkg/controller/testutil/test_utils.go
  pkg/kubelet/container/helpers.go
Due: pull-kubernetes-local-e2e-containerized

fix typo
  pkg/controller/testutil/test_utils.go
Due: none

cacher: Allow injecting errors for Watch()
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Due: pull-kubernetes-godeps

cleanup kubectl describe cronjob v1beta1
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Due: pull-kubernetes-godeps

cacher: Fix watch behaviour for unset RV
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Due: pull-kubernetes-godeps

e2e framework: add test case for early abort of pod polling
  test/e2e/framework/pod/wait_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

e2e framework/pod: add Get helper
  test/e2e/framework/pod/get.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

e2e framework: add NamespacedName
  test/e2e/framework/namespacedname.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

e2e framework: support polling with Get
  test/e2e/framework/get.go
  test/e2e/framework/pod/wait.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

e2e framework/pod: add gomega matchers
  test/e2e/framework/pod/wait.go
  vendor/github.com/onsi/gomega/gcustom/make_matcher.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

e2e: enhance tests that check for pod staying pending
  test/e2e/common/node/expansion.go
  test/e2e/common/storage/configmap_volume.go
  test/e2e/common/storage/projected_configmap.go
  test/e2e/common/storage/projected_secret.go
  test/e2e/common/storage/secrets_volume.go
  test/e2e/storage/csi_mock/csi_attach_volume.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

delete unused functions in pkg/util directory
  pkg/util/bandwidth/fake_shaper.go
  pkg/util/bandwidth/interfaces.go
  pkg/util/bandwidth/linux.go
  pkg/util/bandwidth/linux_test.go
  pkg/util/bandwidth/unsupported.go
  pkg/util/bandwidth/utils.go
  pkg/util/bandwidth/utils_test.go
  pkg/util/conntrack/conntrack.go
  pkg/util/interrupt/interrupt.go
  pkg/util/maps/doc.go
  pkg/util/maps/string.go
  pkg/util/procfs/procfs_fake.go
  pkg/util/procfs/procfs_linux.go
Due: none

kubeadm: promote member after the static pod manifest was written
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/etcd/etcd.go
Due: pull-kubernetes-e2e-kubeadm-gce

PodGC should not add DisruptionTarget condition for pods which are in terminal phase
  pkg/controller/podgc/gc_controller.go
  pkg/controller/podgc/gc_controller_test.go
  test/integration/podgc/podgc_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: pod-security: don't fail on SCC admission error
  plugin/pkg/admission/security/podsecurity/patch_podspecextractor.go
Due: none

Use proper tmp directory for update-openapi-spec.sh
  hack/update-openapi-spec.sh
Due: none

delete unused functions in pkg/kubelet directory
  pkg/kubelet/container/testing/os.go
  pkg/kubelet/cri/streaming/errors.go
  pkg/kubelet/kubeletconfig/checkpoint/store/fakestore.go
  pkg/kubelet/kubeletconfig/status/status.go
  pkg/kubelet/kubeletconfig/util/codec/codec.go
  pkg/kubelet/kubeletconfig/util/equal/equal.go
  pkg/kubelet/kubeletconfig/util/panic/panic.go
  pkg/kubelet/pluginmanager/pluginwatcher/example_handler.go
  pkg/kubelet/util/ioutils/ioutils.go
Due: pull-kubernetes-local-e2e-containerized

delete unused functions in pkg/volume directory
  pkg/volume/csi/fake/fake_client.go
  pkg/volume/testing/testing.go
  pkg/volume/testing/volume_host.go
  pkg/volume/util/resize_util.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

move kubectl log e2e to new file & add e2e test for kubectl default container annotation
  test/conformance/testdata/conformance.yaml
  test/e2e/kubectl/kubectl.go
  test/e2e/kubectl/logs.go
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

delete unused functions in pkg directory
  pkg/client/conditions/conditions.go
  pkg/credentialprovider/config.go
  pkg/registry/registrytest/node.go
  pkg/registry/registrytest/service.go
  pkg/scheduler/testing/fake_extender.go
  pkg/scheduler/testing/workload_prep.go
  pkg/security/apparmor/helpers.go
  pkg/securitycontext/util.go
Due: none

kubelet: propogate status of readiness probes on termination
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/pod/mirror_client.go
  pkg/kubelet/prober/prober_manager_test.go
  pkg/kubelet/prober/results/results_manager.go
  pkg/kubelet/prober/results/results_manager_test.go
  pkg/kubelet/prober/worker_test.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

regenerate mocks
  pkg/kubelet/status/testing/mock_pod_status_provider.go
Due: pull-kubernetes-local-e2e-containerized

add e2e_node test
  test/e2e_node/mirror_pod_readiness_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Stop reporting volume limits for in-tree azure_dd
  pkg/volume/azuredd/azure_dd.go
  pkg/volume/azuredd/azure_dd_max_disk_count.go
  pkg/volume/azuredd/azure_dd_test.go
Due: pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Move GetNodeAddresses() and ContainsIPv4Loopback() into a new file
  pkg/proxy/util/nodeport_addresses.go
  pkg/proxy/util/nodeport_addresses_test.go
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Due: none

Put all iptables nodeport address handling in one place
  pkg/proxy/iptables/proxier.go
Due: none

Improve GetNodeAddresses unit test
  pkg/proxy/util/nodeport_addresses_test.go
Due: none

Make GetNodeAddresses() return []string rather than sets.String
  pkg/proxy/healthcheck/service_health.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/util/nodeport_addresses.go
  pkg/proxy/util/nodeport_addresses_test.go
Due: pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-gci-gce-ipvs

Fix ContainsIPv4Loopback() to match its caller's behavior
  pkg/proxy/util/nodeport_addresses.go
  pkg/proxy/util/nodeport_addresses_test.go
Due: none

wait: ExponentialBackoffWithContext should take context-aware fn
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait_test.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go
  test/e2e/storage/volume_metrics.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-capz-windows-containerd: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster
