Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Images: Rework Custom Error Pages.
  images/custom-error-pages/cloudbuild.yaml
Due: post-ingress-nginx-custom-error-pages

Images: Rework CFSSL.
  images/cfssl/cloudbuild.yaml
Due: post-ingress-nginx-cfssl

Images: Rework E2E Test Echo.
  images/e2e-test-echo/cloudbuild.yaml
Due: post-ingress-nginx-e2e-test-echo

Images: Rework. (1/3) (#13008)
  Makefile
  cloudbuild.yaml
  hack/init-buildx.sh
  images/Makefile
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
  images/test-runner/Makefile
  images/test-runner/cloudbuild.yaml
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Hack: Remove `init-buildx.sh`.
  hack/init-buildx.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Rework Test Runner.
  images/test-runner/Makefile
  images/test-runner/cloudbuild.yaml
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-test-runner

Images: Rework NGINX.
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-nginx, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Rework Controller.
  Makefile
  cloudbuild.yaml
Due: none

Images: Rework Makefile.
  images/Makefile
Due: none

Images: Rework. (2/3) (#13013)
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo

Images: Rework. (3/3) (#13010)
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
Due: post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen

Images: Rework FastCGI HelloServer.
  images/fastcgi-helloserver/cloudbuild.yaml
Due: post-ingress-nginx-fastcgi-helloserver

Images: Rework Kube Webhook CertGen.
  images/kube-webhook-certgen/cloudbuild.yaml
Due: post-ingress-nginx-kube-webhook-certgen

Images: Rework HTTPBun.
  images/httpbun/cloudbuild.yaml
Due: post-ingress-nginx-httpbun

Images: Rework. (1/3) (#13014)
  Makefile
  cloudbuild.yaml
  hack/init-buildx.sh
  images/Makefile
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
  images/test-runner/Makefile
  images/test-runner/cloudbuild.yaml
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Rework. (1/3) (#13015)
  Makefile
  cloudbuild.yaml
  hack/init-buildx.sh
  images/Makefile
  images/nginx/Makefile
  images/nginx/cloudbuild.yaml
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
  images/test-runner/Makefile
  images/test-runner/cloudbuild.yaml
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Rework. (2/3) (#13012)
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo

Images: Rework. (2/3) (#13011)
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo

Images: Rework. (3/3) (#13017)
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
Due: post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen

Images: Rework. (3/3) (#13016)
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
Due: post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen

Bump github.com/onsi/ginkgo/v2 from 2.23.0 to 2.23.3
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update Kubernetes to v1.32.3.
  .github/workflows/ci.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

CI: Update KIND to v1.32.3.
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update Kubernetes to v1.32.3. (#13021)
  .github/workflows/ci.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-test-runner

Bump the actions group with 5 updates (#13023)
  .github/workflows/ci.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Bump github.com/onsi/ginkgo/v2 from 2.23.0 to 2.23.3 (#13020)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate
