Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, post-kubernetes-push-image-pause, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

fix static check failed from pkg/volume/vspherevolume remove field from staticcheck_failures
  hack/.staticcheck_failures
  pkg/volume/vsphere_volume/attacher.go
  pkg/volume/vsphere_volume/vsphere_volume.go
  pkg/volume/vsphere_volume/vsphere_volume_block_test.go
  pkg/volume/vsphere_volume/vsphere_volume_util.go
Due: none

Rewrite typecheck against x/tools/go/packages
  hack/verify-staticcheck.sh
  hack/verify-typecheck.sh
  test/typecheck/BUILD
  test/typecheck/main.go
  test/typecheck/main_test.go
  test/typecheck/testdata/bad/bad.go
  test/typecheck/testdata/good/_ignore/bad.go
  test/typecheck/testdata/good/good.go
  test/typecheck/testdata/good/testdata/bad.go
Due: none

update static check failed from pkg/volume/rbd remove field from staticcheck_failures
  hack/.staticcheck_failures
  pkg/volume/rbd/attacher.go
  pkg/volume/rbd/rbd.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/rbd/rbd_util.go
Due: none

CHANGELOG: Update directory for v1.16.12 release
  CHANGELOG/CHANGELOG-1.16.md
Due: none

CHANGELOG: Update directory for v1.17.8 release
  CHANGELOG/CHANGELOG-1.17.md
Due: none

CHANGELOG: Update directory for v1.18.5 release
  CHANGELOG/CHANGELOG-1.18.md
Due: none

scheduler: run Unreserve if Reserve fails
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/scheduler.go
  test/integration/scheduler/framework_test.go
Due: none

violation_exceptions update
  api/api-rules/violation_exceptions.list
Due: none

populate kube-proxy SECURITY_CONTACTS
  staging/src/k8s.io/kube-proxy/SECURITY_CONTACTS
Due: pull-kubernetes-godeps

Supress expected errors
  hack/verify-generated-files-remake.sh
Due: none

Fix sig-node-containerd/containerd-e2e-gci
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
Due: pull-kubernetes-e2e-gke

rmmh is no longer active
  test/images/redis/OWNERS
Due: post-kubernetes-push-e2e-test-images

Katharine is no longer active
  cluster/OWNERS
Due: none

spiffxp should be a cluster reviewer
  cluster/OWNERS
Due: none

sort cluster/ OWNERS
  cluster/OWNERS
Due: none

BenTheElder approves test/
  test/OWNERS
Due: none

fix: use force detach for azure disk
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

test: add unit test
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

test: add unit test
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Typo of PercentageOfNodesToScore
  pkg/scheduler/apis/config/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go
Due: pull-kubernetes-godeps

Tolerate slightly different containerd urls
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

Fix static check failures for vendor/k8s.io/cli-runtime/pkg/printers.
  hack/.staticcheck_failures
  staging/src/k8s.io/cli-runtime/pkg/printers/tableprinter.go
Due: pull-kubernetes-godeps

Rename DefaultPodTopologySpread plugin #91994
  cmd/kube-scheduler/app/server_test.go
  pkg/features/kube_features.go
  pkg/scheduler/algorithmprovider/BUILD
  pkg/scheduler/algorithmprovider/registry.go
  pkg/scheduler/algorithmprovider/registry_test.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/apis/config/v1beta1/defaults.go
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/legacy_registry.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/plugins/selectorspread/BUILD
  pkg/scheduler/framework/plugins/selectorspread/selector_spread.go
  pkg/scheduler/framework/plugins/selectorspread/selector_spread_perf_test.go
  pkg/scheduler/framework/plugins/selectorspread/selector_spread_test.go
  test/integration/scheduler/scheduler_test.go
Due: none

Respect grace period when removing mirror pod - map approach
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/helpers.go
  pkg/kubelet/cm/pod_container_manager_stub.go
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/pod/mirror_client.go
  pkg/kubelet/pod/pod_manager.go
  pkg/kubelet/pod/pod_manager_test.go
  pkg/kubelet/pod/testing/mock_manager.go
  pkg/kubelet/types/types.go
  test/e2e_node/BUILD
  test/e2e_node/mirror_pod_grace_period_test.go
Due: pull-kubernetes-local-e2e-containerized

Fix InstanceMetadataByProviderID for unmanaged nodes
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Added validation for KubeReserved and SystemReserved
  cmd/kubelet/app/server_test.go
  pkg/apis/core/v1/helper/BUILD
  pkg/apis/core/v1/helper/helpers.go
  pkg/kubelet/apis/config/validation/BUILD
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

fix Contributor License Agreement broken link
  CONTRIBUTING.md
Due: none

Support kubectl annotate list
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate.go
Due: pull-kubernetes-godeps

debian-hyperkube-base/Dockerfile: Alpha-sort packages
  build/debian-hyperkube-base/Dockerfile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

debian-hyperkube-base/Dockerfile: Cleanup spacing
  build/debian-hyperkube-base/Dockerfile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

debian-hyperkube-base/Dockerfile: Add iproute2 package
  build/debian-hyperkube-base/Dockerfile
  build/debian-hyperkube-base/Makefile
  build/dependencies.yaml
Due: pull-kubernetes-cross, pull-kubernetes-godeps

fix stack check pkg/controller/statefulset
  hack/.staticcheck_failures
  pkg/controller/statefulset/stateful_set.go
Due: none

Fix preemt function comment
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
Due: none

default value of CloudControllerManagerConfigurati
  cmd/cloud-controller-manager/app/apis/config/types.go
Due: none

changes in imports was unintentional
  staging/src/k8s.io/apiserver/pkg/authorization/union/union.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/testing/clock/event_clock.go
Due: pull-kubernetes-godeps

fix S1000 simplify ch switch cases
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/testing/clock/event_clock.go
Due: pull-kubernetes-godeps
