Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-vulndash, post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-cluster-up, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-debian-base, pull-release-image-debian-hyperkube-base, pull-release-image-debian-iptables, pull-release-image-setcap, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci, pull-release-image-kubepkg

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200213-0032cdb
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-vulndash:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --project=k8s-staging-artifact-promoter
      - --scratch-bucket=gs://k8s-staging-artifact-promoter-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200901-ab141a0
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

k8s-cloud-builder/k8s-ci-builder: build using Go 1.17.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: build using Go 1.17.7 / 1.16.14
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Update the Go update template
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

Added support for s390x
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Addition of automate-docs command to krel tool
  cmd/krel/cmd/docs.go
  cmd/krel/cmd/docs_after_code_freeze.go
  cmd/krel/cmd/docs_after_enhancement_freeze.go
  cmd/krel/cmd/docs_before_final.go
  cmd/krel/cmd/docs_placeholder.go
  cmd/krel/cmd/templates/template.go
  go.mod
  go.sum
  pkg/docs/github.go
  pkg/docs/sheets.go
  pkg/docs/utils.go
  pkg/docs/utils_test.go
Due: post-release-push-image-k8s-ci-builder

golang: Build 1.18rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

deps: Update to cosign v1.5.2
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

k8s-cloud-builder: Build go1.18rc1 variant
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder

Bump `github.com/docker/distribution` to `v2.8.0`
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

increase timeout to fix TIMEOUT issue
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-releng-ci, pull-release-image-kube-cross

Link container images in changelog to GCR
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/document/template.go
  pkg/notes/document/testdata/document.md.golden
Due: post-release-push-image-k8s-ci-builder

.github: Initial config for CodeQL & Scorecard
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

.github/workflows: Pin by SHA and add step-security hardener
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

codeql: Default action to `read-all` permissions
  .github/workflows/codeql-analysis.yml
Due: none

Fix error and `fmt.Println` lints
  cmd/krel/cmd/ci_build.go
  cmd/krel/cmd/push.go
  cmd/krel/cmd/release_notes.go
  pkg/build/ci.go
Due: post-release-push-image-k8s-ci-builder

build Go 1.17.8 and 1.16.15 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-releng-ci, pull-release-image-kubepkg

update cosign to use release v1.6.0
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-releng-ci, pull-release-image-go-runner

Bump qemu version to 6.1.0-8
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-iptables/Makefile
  images/build/setcap/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-releng-ci, pull-release-image-debian-base, pull-release-image-debian-iptables, pull-release-image-setcap

integrate new github project board to ci signal reporter
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Bump cri-tools to v1.23.0
  cmd/kubepkg/templates/latest/deb/cri-tools/debian/changelog
  packages/deb/bionic/cri-tools/debian/changelog
  packages/deb/build.go
  packages/deb/build_test.go
  packages/rpm/kubelet.spec
Due: post-release-push-image-k8s-ci-builder

rm unused code and clea up go.mod
  cmd/ci-reporter/cmd/github.go
  go.mod
Due: post-release-push-image-k8s-ci-builder

CI Signal reporter uses new CI Signal beta project board (#2454)
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Integrate container image signing in `krel stage`
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  go.mod
  go.sum
  pkg/release/images.go
  pkg/release/images_test.go
  pkg/release/releasefakes/fake_image_impl.go
Due: post-release-push-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: build using Go 1.17.8 / 1.16.15
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

Build go1.18 official images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-go-runner, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-kube-cross, pull-release-image-go-runner, pull-release-image-k8s-ci-builder, pull-release-image-releng-ci

Bump sigs.k8s.io/release-sdk to main
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Update golangci-lint and gocritic config
  .golangci.yml
  dependencies.yaml
  go.mod
  hack/verify-golangci-lint.sh
  pkg/anago/stage.go
  pkg/cve/impl.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/notes.go
  pkg/release/provenance.go
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

drop k8s-ci-builder for 1.20 release branch (eol)
  dependencies.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-ci-builder

k8s-cloud-builder/k8s-ci-builder: build using Go 1.18
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-k8s-ci-builder, post-release-push-image-releng-ci, pull-release-image-k8s-cloud-builder, pull-release-image-k8s-ci-builder

ci-signal-reporter: fixes broken report
  cmd/ci-reporter/cmd/github.go
Due: post-release-push-image-k8s-ci-builder

Enable more gocritic linters and fix reports
  .golangci.yml
  cmd/krel/cmd/announce_build.go
  cmd/krel/cmd/testgrid.go
  cmd/release-notes/main.go
  cmd/schedule-builder/cmd/root_test.go
  pkg/anago/release.go
  pkg/announce/announce.go
  pkg/binary/binary_test.go
  pkg/build/push.go
  pkg/changelog/changelog.go
  pkg/notes/notes.go
  pkg/release/archive.go
  pkg/release/images.go
  pkg/release/release.go
  pkg/release/release_test.go
  pkg/release/release_version.go
  pkg/testgrid/testgrid-scraper.go
Due: post-release-push-image-k8s-ci-builder

Enable whyNoLint and ifElseChain gocritic linters
  .golangci.yml
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/changelog_data_test.go
  cmd/krel/cmd/release_notes.go
  cmd/schedule-builder/cmd/root.go
  pkg/anago/anago.go
  pkg/anago/release_test.go
  pkg/anago/stage_test.go
  pkg/binary/elf.go
  pkg/changelog/changelog.go
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
  pkg/notes/options/options.go
  pkg/release/release_version.go
  pkg/testgrid/testgrid_test.go
Due: post-release-push-image-k8s-ci-builder

debian-base: Build bullseye-v1.2.0
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel, post-release-push-image-debian-base, post-release-push-image-releng-ci, pull-release-image-debian-base

Use golangs reported tmp dir to write sbomb
  pkg/anago/stage.go
Due: post-release-push-image-k8s-ci-builder

Bump sigs.k8s.io/bom to HEAD
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Drop go1.16 compatibility from go mod tests
  hack/verify-go-mod.sh
Due: none

update version comment
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

update github.com/containerd/containerd to v1.5.10
  go.mod
  go.sum
Due: post-release-push-image-k8s-ci-builder

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
  post-release-push-image-vulndash: any of: ^cmd\/vulndash\/
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-k8s-ci-builder: any of: ^(cmd\/|compile-release-tools|go.(mod|sum)|images\/releng\/k8s-ci-builder\/|pkg\/)
  post-release-push-image-releng-ci: any of: ^images\/
  pull-release-cluster-up: any of: ^push-build.sh
  pull-release-image-kube-cross: any of: ^images\/build\/cross\/
  pull-release-image-go-runner: any of: ^images\/build\/go-runner\/
  pull-release-image-debian-base: any of: ^images\/build\/debian-base\/
  pull-release-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  pull-release-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  pull-release-image-setcap: any of: ^images\/build\/setcap\/
  pull-release-image-k8s-cloud-builder: any of: ^images\/k8s-cloud-builder\/
  pull-release-image-k8s-ci-builder: any of: ^images\/releng\/k8s-ci-builder\/
  pull-release-image-releng-ci: any of: ^images\/releng\/ci\/
  pull-release-image-kubepkg: any of: cloudbuild-kubepkg.yaml|Dockerfile-kubepkg*
