Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-e2e-v2, post-test-infra-push-alpine, post-test-infra-push-git, post-test-infra-push-git-custom-k8s-auth, post-test-infra-push-misc-images, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config-canary, post-test-infra-upload-metrics-dashboards, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-misc-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e-v2/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/(kubekins-e2e/|kubekins-e2e-v2/variants.yaml)|kubetest|boskos|logexporter)
  post-test-infra-push-kubekins-e2e-v2: any of: ^images/kubekins-e2e-v2/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-push-git-custom-k8s-auth: any of: ^images/git-custom-k8s-auth/
  post-test-infra-push-misc-images: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config-canary: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-metrics-dashboards: any of: ^metrics/web/.*\.html$
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-misc-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-deploy-prow: any of: ^(config/prow/cluster/|config/prow/Makefile$|Makefile.base.mk$)
  post-test-infra-gencred-refresh-kubeconfig: any of: ^config/prow/gencred-config/

run windows test on k8s 1.35.4 cluster for azure file driver
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bumping Prow
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-branchprotector.yaml
  config/jobs/kubernetes/test-infra/test-infra-checkconfig.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/prow/config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

[kueue] Use cloudbuild-periodic.yaml config for periodics.
  config/jobs/image-pushing/k8s-staging-kueue.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

enable override on gateway api
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

config: add dra-counter e2e job for kueue
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add periodic upgrade tests.
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-periodics-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

config: add dra-counter e2e job for kueue release-0.18
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-18.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-18.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove redundant CL2_INFORMER_ENABLE_WATCHLIST override on gce-5000 scale job
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix lint.
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-periodics-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Change frequency to 1h.
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-periodics-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add decoration timeout.
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-periodics-main.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

chore: use release-1.24 for ipv6 and dualstack tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.30.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.31.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: use a single machine config per canary job
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  jobs/e2e_node/containerd/containerd-release-2.1/image-config-cos.yaml
  jobs/e2e_node/containerd/containerd-release-2.1/image-config-ubuntu.yaml
  jobs/e2e_node/crio/latest/image-config.yaml
  jobs/e2e_node/dra/image-config-containerd-1.7-cos.yaml
  jobs/e2e_node/dra/image-config-containerd-1.7-ubuntu.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-verify-cri-o

DRA: generate E2E node presubmits for test-infra, II
  config/jobs/kubernetes/sig-node/dra-testinfra.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: generate E2E node presubmits for test-infra, III
  config/jobs/kubernetes/sig-node/dra-testinfra.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kubekins-e2e-v2: bump kind to 0.32.0
  images/kubekins-e2e-v2/cloudbuild.yaml
Due: post-test-infra-push-kubekins-e2e-v2

Split combined Tide query into per-org queries
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 19 Jun 2026 00:04:20 UTC
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.14-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.15-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.16-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.16-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.17-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.18-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.19-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.20-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.21-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.22-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-5.0-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-5.0-informing.yaml
Due: post-test-infra-upload-testgrid-config-canary

run windows test on k8s 1.35.2 cluster for azure file driver
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: use pre-build binaries in periodic E2E node jobs
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra-testinfra.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: use single runtime/OS config per job
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra-testinfra.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.36.yaml
  config/tests/jobs/policy/presubmit-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

WIP: test on_changed
  jobs/e2e_node/containerd/containerd-release-2.1/image-config.yaml
Due: none

deps: bump sigs.k8s.io/prow
  go.mod
  go.sum
Due: none

Remove master branch from contributor-site postsubmits
  config/jobs/image-pushing/k8s-staging-contributor-site.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bump Azure VM images
  config/jobs/kubernetes/kops/helpers.py
Due: post-test-infra-upload-testgrid-config-canary

Update pinned AMIs
  config/jobs/kubernetes/kops/pinned.list
Due: post-test-infra-upload-testgrid-config-canary

Bump kOps Azure Ubuntu node images
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-gossip.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix prow config to work with github apps
  config/prow/config.yaml
  config/prow/plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

disable checking CLAs via the label and use the EasyCLA status directly
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-triage-robot-retester.yaml
  config/prow/config.yaml
  config/prow/plugins.yaml
  label_sync/labels.md
  label_sync/labels.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix missing labels and use the correct ibm label
  config/jobs/kubernetes/cloud-provider-ibmcloud/OWNERS
  label_sync/labels.md
  label_sync/labels.yaml
Due: post-test-infra-upload-testgrid-config-canary

Enable etcd Prometheus scraping on the gce master 100 and 5k scale presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Adding kube-burner batch workload to pre-submits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: reduce resource requirements for E2E node jobs
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-testinfra.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

DRA: reduce resource requirements for E2E node jobs, II
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-testinfra.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Skip upcoming [Feature:LocalhostNodePorts] test in a few jobs
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Due: post-test-infra-upload-testgrid-config-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
