Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bazelbuild, post-test-infra-push-benchmarkjunit, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-gcb-docker-gcloud-canary, post-test-infra-push-gcloud-in-go, post-test-infra-push-image-builder, post-test-infra-push-krte, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, pull-test-infra-prow-image-build-test, pull-test-infra-verify-cri-o, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazel-krte, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-bigquery: (any of: ^(images/bigquery|scenarios)/) or (any of: ^images/bigquery/)
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcb-docker-gcloud-canary: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud-in-go: any of: ^images/gcloud-in-go/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: (any of: ^(images/kubekins-e2e|kubetest|boskos|logexporter)/) or (any of: ^(images/kubekins-e2e|kubetest|boskos)/)
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-checkconfig-loose: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-integration: unless all of: (^config/jobs/)|(^images/)|(^scenarios/)|(^jenkins/)|(^kubetest/)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(ts-rollup|make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  pull-test-infra-verify-cri-o: any of: jobs\/e2e_node\/crio\/
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

migrate kube-batch jobs to community cluster
  config/jobs/kubernetes-sigs/kube-batch/kube-batch-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

feat: update related cases for pull title export
  prow/cmd/pipeline/controller_test.go
  prow/pod-utils/decorate/podspec_test.go
  prow/pod-utils/decorate/testdata/TestProwJobToPod_0.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_1.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_2.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_3.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_4.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_6.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_7.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_8.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_9.yaml
  prow/pod-utils/downwardapi/jobspec_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

feat: export PR Title EnvVar constant
  prow/pod-utils/downwardapi/jobspec.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Bump EC2/AWS periodic scalability job to 4200 nodes
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Bump presubmit EC2/AWS scalability job to 5000 nodes
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

migrate gcp pd driver to k8s-infra-prow-build
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

migrate gcp firestore driver to k8s-infra-prow-build
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Update config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Adding support for retrieving Jira Project Versions
  prow/jira/fakejira/fake.go
  prow/jira/fakejira/fake_test.go
  prow/jira/jira.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

migrate `sig-network` jobs to community cluster
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

decode the urlopen output
  jenkins/bootstrap.py
Due: none

npd: Increase resources for build job
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

git v2 client: allow http scheme
  prow/git/v2/client_factory.go
  prow/git/v2/remote.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

git v2 client: parse multiple revs
  prow/git/v2/adapter.go
  prow/git/v2/interactor.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

add Moonraker (inrepoconfig caching service)
  .ko.yaml
  prow/cmd/moonraker/main.go
  prow/moonraker/client.go
  prow/moonraker/moonraker.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Moonraker: deploy to integration test cluster
  prow/test/integration/config/prow/cluster/200_ingress.yaml
  prow/test/integration/config/prow/cluster/moonraker_deployment.yaml
  prow/test/integration/config/prow/cluster/moonraker_rbac.yaml
  prow/test/integration/config/prow/cluster/moonraker_service.yaml
  prow/test/integration/lib.sh
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-deploy-prow, post-test-infra-push-prow

Moonraker: test for traffic burst
  prow/test/integration/config/prow/config.yaml
  prow/test/integration/test/moonraker_test.go
Due: pull-test-infra-gubernator, pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-reconcile-hmacs, post-test-infra-push-prow

sub: compute Gerrit-style ref earlier
  prow/gangway/gangway.go
  prow/pubsub/subscriber/subscriber.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

inrepoconfig: define common interface for fetching inrepoconfigs
  prow/config/cache.go
  prow/config/inrepoconfig.go
  prow/moonraker/client.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

chore: add ip-lb and multi-slb test to release branch tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.27.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

[Kueue] Add a Job for K8s v1.28 E2E
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

[Kueue] Remove a Job for K8s v1.24
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

disable system pod metrics gathering and restart count checks
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

strip down kubernetes_e2e.py
  scenarios/kubernetes_e2e.py
Due: post-test-infra-push-bigquery, post-test-infra-push-bootstrap

pipes.quote is deprecated
  jenkins/bootstrap.py
Due: none

KMM: increase the CPU limits for lint and unit tests
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

run a copy of release-blocking/informing jobs on kops
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, pull-test-infra-integration, post-test-infra-upload-testgrid-config

set cache busting header to deck asset links
  prow/cmd/deck/main.go
  prow/cmd/deck/template/base.html
  prow/cmd/deck/template/command-help.html
  prow/cmd/deck/template/index.html
  prow/cmd/deck/template/job-history.html
  prow/cmd/deck/template/plugins.html
  prow/cmd/deck/template/pr.html
  prow/cmd/deck/template/spyglass.html
  prow/cmd/deck/template/tide-history.html
  prow/cmd/deck/template/tide.html
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

remove deprecated Pragma header
  prow/cmd/deck/main.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

remove IE 6.0 compatibility
  prow/cmd/deck/main.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

gangway: optionally use Moonraker for fetching inrepoconfigs
  prow/cmd/gangway/main.go
  prow/gangway/gangway.go
  prow/test/integration/config/prow/cluster/gangway_deployment.yaml
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-deploy-prow, post-test-infra-push-prow

add moonraker address to config options
  prow/flagutil/config/config.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

moonraker: NewClient: check for server connectivity
  prow/cmd/gangway/main.go
  prow/cmd/moonraker/main.go
  prow/moonraker/client.go
  prow/moonraker/moonraker.go
  prow/test/integration/test/moonraker_test.go
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

add decorate for e2e-containerd test
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

build moonraker images for production
  prow/.prow-images.yaml
Due: pull-test-infra-integration, pull-test-infra-prow-image-build-test, post-test-infra-push-prow

disable oom tracker and restartcounts
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config

chore: remove preset-azure-capz-sa-cred: "true" label for ip lb v1.27 test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.27.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-checkconfig-loose, post-test-infra-upload-testgrid-config
