Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-groups

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200612-cd781f9
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

k8sio-k8s-resources-verify:
  decorate: true
  spec:
    containers:
    - image: openpolicyagent/conftest:latest
      args:
      - test
      - -p policies/ */*.yaml

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:v2.4.1
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - -dry-run=false

post-k8sio-deploy-app-gcsweb:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/gcsweb/deploy.sh

post-k8sio-deploy-app-k8s-io:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/k8s-io/deploy.sh

post-k8sio-deploy-app-kubernetes-external-secrets:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/kubernetes-external-secrets/deploy.sh

post-k8sio-deploy-app-perfdash:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - ./apps/perfdash/deploy.sh

Add cluster-api-ibmcloud staging repo
  groups/groups.yaml
  groups/restrictions.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/OWNERS
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
  k8s.gcr.io/manifests/k8s-staging-capi-ibmcloud/promoter-manifest.yaml
Due: pull-k8sio-cip, pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-image-promo, post-k8sio-groups

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-prow

update sig-release groups with 1.23 rt
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

replaced jeremy with rey as the shadows manager
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

fix typo
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

removed trailing spaces
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

dns: add cluster-api-openstack netlify record
  dns/zone-configs/k8s.io._0_base.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-dns-update

audit: update as of 2021-09-03
  audit/projects/k8s-gcr-audit-test-prod/services/logging/logs.json
Due: none

Fix the readme
  k8s.gcr.io/README.md
Due: none

audit: update as of 2021-09-03
  audit/projects/k8s-staging-capi-ibmcloud/buckets/artifacts.k8s-staging-capi-ibmcloud.appspot.com/iam.json
  audit/projects/k8s-staging-capi-ibmcloud/buckets/artifacts.k8s-staging-capi-ibmcloud.appspot.com/logging.json
  audit/projects/k8s-staging-capi-ibmcloud/buckets/artifacts.k8s-staging-capi-ibmcloud.appspot.com/metadata.txt
  audit/projects/k8s-staging-capi-ibmcloud/buckets/k8s-staging-capi-ibmcloud-gcb/iam.json
  audit/projects/k8s-staging-capi-ibmcloud/buckets/k8s-staging-capi-ibmcloud-gcb/lifecycle.json
  audit/projects/k8s-staging-capi-ibmcloud/buckets/k8s-staging-capi-ibmcloud-gcb/metadata.txt
  audit/projects/k8s-staging-capi-ibmcloud/buckets/k8s-staging-capi-ibmcloud/iam.json
  audit/projects/k8s-staging-capi-ibmcloud/buckets/k8s-staging-capi-ibmcloud/lifecycle.json
  audit/projects/k8s-staging-capi-ibmcloud/buckets/k8s-staging-capi-ibmcloud/logging.json
  audit/projects/k8s-staging-capi-ibmcloud/buckets/k8s-staging-capi-ibmcloud/metadata.txt
  audit/projects/k8s-staging-capi-ibmcloud/description.json
  audit/projects/k8s-staging-capi-ibmcloud/iam.json
  audit/projects/k8s-staging-capi-ibmcloud/services/enabled.txt
  audit/projects/k8s-staging-capi-ibmcloud/services/logging/logs.json
  audit/projects/k8s-staging-capi-ibmcloud/services/logging/sinks.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

Push 1.0.0 filestorecsi image to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote ingress nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Add entry in restriction yaml file
  groups/restrictions.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Promote ingress-nginx test-runner
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2021-09-06
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-gcr-audit-test-prod/services/logging/logs.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_20210907.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-staging-kustomize/services/logging/logs.json
  audit/projects/k8s-staging-provider-openstack/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

releng: Promote kpromo:v0.2.0-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Review comments
  infra/gcp/infra.yaml
Due: k8sio-k8s-resources-verify

audit: update as of 2021-09-07
  audit/projects/k8s-infra-prow-build-trusted/services/container/clusters/prow-build-trusted.json
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/k8s-release-test-prod/services/logging/logs.json
  audit/projects/k8s-staging-txtdirect/services/logging/logs.json
Due: none

Promote Descheduler images to 1.22
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

Promote 1.22 CCM image
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-image-promo

audit: update as of 2021-09-08
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
  audit/projects/k8s-staging-capi-ibmcloud/services/logging/logs.json
Due: none

audit: exit cleanly on no changes found
  audit/create-or-update-audit-pr.sh
Due: none

roles: refresh generated roles
  infra/gcp/bash/roles/audit.viewer.yaml
  infra/gcp/bash/roles/prow.viewer.yaml
Due: k8sio-k8s-resources-verify

roles: drop serviceusage.services.use from audit.view
  infra/gcp/bash/roles/audit.viewer.yaml
  infra/gcp/bash/roles/specs/audit.viewer.yaml
Due: k8sio-k8s-resources-verify

groups: update spiffxp membership
  groups/groups.yaml
  groups/sig-testing/groups.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv blog to sig-docs
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-docs/OWNERS
  groups/sig-docs/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv github to sig-contributor-experience
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-contributor-experience/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: reorganize k8s-infra groups layout
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-bigquery-admins to wg-k8s-infra
  groups/groups.yaml
  groups/restrictions.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-artifact-admins to wg-k8s-infra
  groups/groups.yaml
  groups/restrictions.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-dns-admins to wg-k8s-infra
  groups/groups.yaml
  groups/restrictions.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-push-csi to sig-storage
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-storage/OWNERS
  groups/sig-storage/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-staging-sig-storage to sig-storage
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-storage/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-push-cni to sig-network
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-network/OWNERS
  groups/sig-network/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-push-cri-tools to sig-node
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-node/OWNERS
  groups/sig-node/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-staging-sig-docs to sig-docs
  groups/restrictions.yaml
  groups/sig-docs/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

groups: mv k8s-infra-rbac-cert-manager to wg-k8s-infra
  groups/groups.yaml
  groups/restrictions.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  pull-k8sio-groups-test: any of: ^groups/
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
  post-k8sio-groups: any of: ^groups/
