Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Tests: Enhance SSL Proxy.
  pkg/flags/flags_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chores: Migrate deprecated `wait.Poll*` to context-aware equivalents. (#13781)
  internal/ingress/status/status.go
  test/e2e/framework/k8s.go
  test/e2e/status/update.go
  test/e2e/tcpudp/tcp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chores: Migrate deprecated `wait.Poll*` to context-aware equivalents. (#13782)
  internal/ingress/status/status.go
  test/e2e/framework/k8s.go
  test/e2e/status/update.go
  test/e2e/tcpudp/tcp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Security: Harden socket creation and validate error code input. (#13765)
  internal/ingress/annotations/customhttperrors/main.go
  internal/ingress/metric/collectors/socket.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Tests: Enhance SSL Proxy. (#13783)
  pkg/flags/flags_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Security: Harden socket creation and validate error code input.
  internal/ingress/annotations/customhttperrors/main.go
  internal/ingress/metric/collectors/socket.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Tests: Enhance SSL Proxy. (#13784)
  pkg/flags/flags_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Security: Harden socket creation and validate error code input. (#13785)
  internal/ingress/annotations/customhttperrors/main.go
  internal/ingress/metric/collectors/socket.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Security: Harden socket creation and validate error code input. (#13786)
  internal/ingress/annotations/customhttperrors/main.go
  internal/ingress/metric/collectors/socket.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Enable default backend access logging tests
  test/e2e/defaultbackend/default_backend.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Tests: Enable default backend access logging tests. (#13787)
  test/e2e/defaultbackend/default_backend.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Tests: Enable default backend access logging tests. (#13788)
  test/e2e/defaultbackend/default_backend.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Tests: Enable default backend access logging tests. (#13789)
  test/e2e/defaultbackend/default_backend.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Config/Annotations: Remove `proxy-busy-buffers-size` default value. (#13780)
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/proxy/main.go
  internal/ingress/annotations/proxy/main_test.go
  internal/ingress/controller/config/config.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
  user-guide/nginx-configuration/configmap/index.html
Due: none

Config/Annotations: Remove `proxy-busy-buffers-size` default value.
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/proxy/main.go
  internal/ingress/annotations/proxy/main_test.go
  internal/ingress/controller/config/config.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Config/Annotations: Remove `proxy-busy-buffers-size` default value. (#13790)
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/proxy/main.go
  internal/ingress/annotations/proxy/main_test.go
  internal/ingress/controller/config/config.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Bump the actions group with 2 updates (#13795)
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump the actions group with 2 updates (#13794)
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump actions/checkout from 4.3.0 to 5.0.0 (#13796)
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/perftest.yaml
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
  .github/workflows/zz-tmpl-images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

Bump actions/checkout from 4.3.0 to 5.0.0 (#13797)
  .github/workflows/chart.yaml
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/images.yaml
  .github/workflows/perftest.yaml
  .github/workflows/plugin.yaml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
  .github/workflows/zz-tmpl-images.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
Due: none

feat: Add IETF RFC8615 & RFC3986 support
  internal/ingress/inspector/inspector_test.go
  internal/ingress/inspector/rules.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

feat: Simplify the regex pattern
  internal/ingress/inspector/rules.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Ingresses: Allow `.` in `Exact` and `Prefix` paths. (#13798)
  internal/ingress/inspector/inspector_test.go
  internal/ingress/inspector/rules.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Ingresses: Allow `.` in `Exact` and `Prefix` paths. (#13800)
  internal/ingress/inspector/inspector_test.go
  internal/ingress/inspector/rules.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Ingresses: Allow `.` in `Exact` and `Prefix` paths. (#13799)
  internal/ingress/inspector/inspector_test.go
  internal/ingress/inspector/rules.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Tests: Bump Ginkgo to v2.24.0.
  build/run-in-docker.sh
  go.mod
  go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump Ginkgo to v2.24.0. (#13801)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump Ginkgo to v2.24.0. (#13803)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump Ginkgo to v2.24.0. (#13802)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/go-grpc-greeter-server/rootfs/go.mod
  images/go-grpc-greeter-server/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate
