Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8s-deploy-registry, post-k8sio-push-image-octodns-docker, post-k8sio-push-image-k8s-infra, post-k8sio-push-image-public-log-asn-matcher, post-k8sio-push-image-cs-fetch-repos-canary, pull-k8sio-groups-test, pull-k8sio-terraform-org-kubernetes-io, pull-k8sio-terraform-kubernetes-public, pull-k8sio-terraform-monitoring, pull-k8sio-terraform-prow-build, pull-k8sio-terraform-prow-build-trusted, pull-k8sio-terraform-public-pii, pull-k8sio-dns-validate-config, pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo, post-k8sio-deploy-tf-monitoring-resources, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources, post-k8sio-cip, k8sio-k8s-resources-verify, post-k8sio-deploy-app-gcsweb, post-k8sio-deploy-app-k8s-io, post-k8sio-deploy-app-kubernetes-external-secrets, post-k8sio-deploy-app-perfdash, post-k8sio-deploy-app-prow, post-k8sio-deploy-app-publishing-bot, post-k8sio-deploy-app-sippy, post-k8sio-deploy-app-slack-infra, post-k8sio-deploy-app-triageparty-release, post-k8sio-dns-update, post-k8sio-groups

Path conditions:
  post-k8s-deploy-registry: any of: (^infra/gcp/terraform/k8s-infra-oci-proxy/)|(^infra/gcp/terraform/modules/oci-proxy/)
  post-k8sio-push-image-octodns-docker: any of: ^dns/octodns-docker/
  post-k8sio-push-image-k8s-infra: any of: ^images/k8s-infra/
  post-k8sio-push-image-public-log-asn-matcher: any of: ^images/public-log-asn-matcher/
  post-k8sio-push-image-cs-fetch-repos-canary: any of: ^images/codesearch/cs-fetch-repos/
  pull-k8sio-groups-test: any of: ^groups/
  pull-k8sio-terraform-org-kubernetes-io: any of: infra\/gcp\/terraform\/(modules|k8s-infra-kubernetes-io)\/.*.tf
  pull-k8sio-terraform-kubernetes-public: any of: infra\/gcp\/terraform\/(modules|kubernetes-public)\/.*.tf
  pull-k8sio-terraform-monitoring: any of: infra\/gcp\/terraform\/(modules|k8s-infra-monitoring)\/.*.tf
  pull-k8sio-terraform-prow-build: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build)\/.*.tf
  pull-k8sio-terraform-prow-build-trusted: any of: infra\/gcp\/terraform\/(modules|k8s-infra-prow-build-trusted)\/.*.tf
  pull-k8sio-terraform-public-pii: any of: infra\/gcp\/terraform\/(modules|k8s-infra-public-pii)\/.*.tf
  pull-k8sio-dns-validate-config: any of: ^dns/
  pull-k8sio-cip: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: (any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))) or (any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml)))
  post-k8sio-deploy-tf-monitoring-resources: any of: ^infra/gcp/terraform/k8s-infra-monitoring/
  post-k8sio-deploy-prow-build-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/)
  post-k8sio-deploy-prow-build-trusted-resources: (any of: ^infra/gcp/terraform/k8s-infra-prow-build-trusted/) or (any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/)
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  k8sio-k8s-resources-verify: any of: \.yaml$
  post-k8sio-deploy-app-gcsweb: any of: ^apps\/gcsweb\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-k8s-io: any of: ^apps\/k8s-io\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-kubernetes-external-secrets: any of: ^apps\/kubernetes-external-secrets\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-perfdash: any of: ^apps\/perfdash\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-prow: any of: ^apps\/prow\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-publishing-bot: any of: ^apps\/publishing-bot\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-sippy: any of: ^apps\/sippy\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-slack-infra: any of: ^apps\/slack-infra\/(.*.yaml|deploy.sh)$
  post-k8sio-deploy-app-triageparty-release: any of: ^apps\/triageparty-release\/(.*.yaml|deploy.sh)$
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-groups: any of: ^groups/

gcve: readme fix
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
Due: none

gcve: shellcheck fixes
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/boskos-userdata.sh
Due: none

gcve: extend dhcp range and change boskos userdata ip range
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/nsx-t.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/boskos-userdata.sh
Due: none

Image promotion for cluster-api v1.9.8
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for cluster-api v1.10.2
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for provider-aws v1.44.0 / v1.44.0-a1compat / v1.44.0-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
Due: k8sio-k8s-resources-verify

Image promotion for releng 1.24.3-bookworm-0 / 1.23.9-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote gcr.io/k8s-staging-e2e-test-images/agnhost:2.55
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote VPA 1.4.0 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

gcve: improve ci user permissions
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/data.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/iam_roleassignments.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/iam_roles.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/modules/gcp-gcve-project/main.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/ensure-users-groups.sh
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/ensure-users-permissions.sh
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/variables.tf
Due: none

Image promotion for build-image v0.7.5 / v0.6.10
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

configure gcve secrets in prow
  infra/gcp/terraform/k8s-infra-gcp-gcve/iam.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/main.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/variables.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vmware-engine.tf
  kubernetes/gke-prow-build/helm/external-secrets.yaml
  kubernetes/gke-prow-build/prow/externalsecrets.yaml
  kubernetes/gke-prow-build/prow/kustomization.yaml
Due: k8sio-k8s-resources-verify

use admin role instead of owner
  infra/gcp/terraform/k8s-infra-gcp-gcve/iam.tf
Due: none

Configure gcve secrets in prow (#8127)
  infra/gcp/terraform/k8s-infra-gcp-gcve/iam.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/main.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/variables.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vmware-engine.tf
  kubernetes/gke-prow-build/helm/external-secrets.yaml
  kubernetes/gke-prow-build/prow/externalsecrets.yaml
  kubernetes/gke-prow-build/prow/kustomization.yaml
Due: k8sio-k8s-resources-verify

Bumping boskos and ghproxy and prow
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
Due: k8sio-k8s-resources-verify

Setup repo for Headlamp
  groups/sig-ui/groups.yaml
  infra/gcp/terraform/k8s-staging-images/registries.tf
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Update sig-windows leads
  groups/sig-windows/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Move from bit.ly URLs to rel.k8s.io for the release team
  apps/k8s-io/README.md
  apps/k8s-io/configmap-nginx.yaml
Due: k8sio-k8s-resources-verify, post-k8sio-deploy-app-k8s-io

bump dns to 1.26.4
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Setup repo for Headlamp
  groups/restrictions.yaml
  groups/sig-ui/groups.yaml
  infra/gcp/terraform/k8s-staging-images/registries.tf
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

rollout the c4 instances more widely
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Due: pull-k8sio-terraform-prow-build, post-k8sio-deploy-prow-build-resources

Promote images for Kueue v0.11.5
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Kueue: Promote v0.10.6
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

gcve: adjust script to initialize userdata
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/boskos-userdata.sh
Due: none

Promote images for Kueue v0.12.0
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Ingress NGINX: Promote NGINX v2.1.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Ingress NGINX: Promote NGINX v1.2.5.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Ingress NGINX: Promote NGINX v0.3.5.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for scl-image-builder v0.1.44
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

gcve: Add tags for failure domain testing
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/ensure-users-permissions.sh
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/tags.tf
Due: none

gcve: add comments to the terraform files
  infra/gcp/terraform/k8s-infra-gcp-gcve/iam.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/main.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/jumphost.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vmware-engine.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/content-library.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/data.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/folders.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/iam_roleassignments.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/iam_roles.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/nsx-t.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/projects.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/provider.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/resource-pools.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/tags.tf
Due: none

Image promotion for cluster-api v1.11.0-alpha.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-operator v0.20.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

add 1.34 enhancements shadows
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, k8sio-k8s-resources-verify, post-k8sio-groups

Ingress NGINX: Promote Test Runner v2.1.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Ingress NGINX: Promote Test Runner v1.3.5.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Promote Kueue images for 0.12.1
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify

Image promotion for capi-vsphere v1.14.0-alpha.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, k8sio-k8s-resources-verify
