Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, post-kind-push-local-path-provisioner-image, post-kind-push-local-path-helper-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-provisioner-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

post-kind-push-local-path-helper-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20241224-fe22c549c1
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
  ...

pull-kind-conformance-parallel-ga-only:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20251210-5e6349e4b2-master
      env:
      - name: PARALLEL
        value: 'true'
      - name: FEATURE_GATES
  ...

pull-kind-conformance-parallel-ipv6:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20251210-5e6349e4b2-master
      env:
      - name: PARALLEL
        value: 'true'
      - name: DOCKER_IN_DOCKER_IPV6_ENABLED
  ...

pull-kind-conformance-parallel-dual-stack-ipv4-ipv6:
  optional: false
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/krte:v20251210-5e6349e4b2-master
      command:
      - wrapper.sh
      - bash
      - -c
      - cd ./../../k8s.io/kubernetes && ./../../sigs.k8s.io/kind/hack/ci/e2e.sh
      env:
  ...

add --multihost persistent flag with stub handler
  pkg/cmd/kind/root.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Add Reduced_kind subproject scaffold
  Reduced_kind/DESIGN.md
  Reduced_kind/README.md
  Reduced_kind/config/defaults.go
  Reduced_kind/config/types.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: add single-host implementation skeleton
  Reduced_kind/actions/actions.go
  Reduced_kind/cluster/create.go
  Reduced_kind/cluster/provider.go
  Reduced_kind/cmd/reducedkind/main.go
  Reduced_kind/docker/docker.go
  Reduced_kind/docker/node.go
  Reduced_kind/go.mod
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: surface docker stderr on failure
  Reduced_kind/docker/docker.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: stream kubeadm init output
  Reduced_kind/actions/actions.go
  Reduced_kind/docker/node.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: wait for containerd; switch kubeadm config to v1beta4
  Reduced_kind/actions/actions.go
  Reduced_kind/docker/docker.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: refuse to create over existing cluster
  Reduced_kind/cluster/create.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: add seccomp/apparmor unconfined and --init=false
  Reduced_kind/docker/docker.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: kubelet failSwapOn=false for WSL2 / cgroupDriver=systemd
  Reduced_kind/actions/actions.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: surface InstallCNI stderr on failure
  Reduced_kind/actions/actions.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: render CNI manifest template before applying
  Reduced_kind/actions/actions.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Skip /dev/mapper mount on rootless Docker
  pkg/cluster/internal/providers/docker/util.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Refactor kind name default helper
  pkg/cmd/kind/create/cluster/createcluster.go
  pkg/cmd/kind/create/cluster/createcluster_test.go
  pkg/cmd/kind/delete/cluster/deletecluster.go
  pkg/cmd/kind/export/kubeconfig/kubeconfig.go
  pkg/cmd/kind/export/logs/logs.go
  pkg/cmd/kind/get/kubeconfig/kubeconfig.go
  pkg/cmd/kind/get/nodes/nodes.go
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/image-archive/image-archive.go
  pkg/internal/cli/override.go
  pkg/internal/cli/override_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Add release process documentation
  RELEASE.md
Due: none

bump containerd to 2.3.0
  images/base/Dockerfile
Due: post-kind-push-base-image

bump runc to 1.4.2 to match containerd
  images/base/Dockerfile
Due: post-kind-push-base-image

bump crictl to 1.36.0
  images/base/Dockerfile
Due: post-kind-push-base-image

build static crictl, matching upstream default
  images/base/Dockerfile
Due: post-kind-push-base-image

bump cni plugins to 1.9.1
  images/base/Dockerfile
Due: post-kind-push-base-image

bump go to 1.26.2
  .go-version
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-local-path-provisioner-image, pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: add --multihost flag with stub Swarm provider
  Reduced_kind/cmd/reducedkind/main.go
  Reduced_kind/swarm/swarm.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: implement multi-host swarm provider
  Reduced_kind/cmd/reducedkind/main.go
  Reduced_kind/swarm/node.go
  Reduced_kind/swarm/provider.go
  Reduced_kind/swarm/swarm.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: tell kube-proxy to skip nf_conntrack_max write
  Reduced_kind/actions/actions.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Add log driver workaround to podman docs
  site/content/docs/user/rootless.md
Due: none

Reduced_kind: skip SystemVerification preflight on init/join
  Reduced_kind/actions/actions.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: auto-distribute nodes across --hosts in multi-host mode
  Reduced_kind/cmd/reducedkind/main.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: add multi-host smoke test script
  Reduced_kind/scripts/test-multihost.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: add bootstrap-grid5000.sh — full from-zero runbook
  Reduced_kind/scripts/bootstrap-grid5000.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

quelques scripts
  Reduced_kind/scripts/clean.sh
  Reduced_kind/scripts/context.sh
  Reduced_kind/scripts/environnment.sh
  Reduced_kind/scripts/run.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: scripts now support arbitrary N hosts (manager + workers)
  Reduced_kind/scripts/bootstrap-grid5000.sh
  Reduced_kind/scripts/test-multihost.sh
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Reduced_kind: add --nodes flag for multi-node clusters
  Reduced_kind/cmd/reducedkind/main.go
  Reduced_kind/cmd/reducedkind/main_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

fix: handle empty port mapping listen addresses
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Update local registry from 2 to 3
  site/static/examples/kind-with-registry.sh
Due: none

bump containerd back to 2.2.3 due to 2.3.0 regression, bump runc to 1.3.5 to match
  images/base/Dockerfile
Due: post-kind-push-base-image

Update quick-start.md
  site/content/docs/user/quick-start.md
Due: none

Add structured output (-o json/yaml) to version command
  pkg/cmd/kind/version/version.go
  pkg/cmd/kind/version/version_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Fix comment formatting in version.go
  pkg/cmd/kind/version/version.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

docs: document resource requirements for running and building kind clusters
  site/content/docs/user/quick-start.md
Due: none

Update version_test.go
  pkg/cmd/kind/version/version_test.go
Due: pull-kind-conformance-parallel-ga-only, pull-kind-conformance-parallel-ipv6, pull-kind-conformance-parallel-dual-stack-ipv4-ipv6, pull-kind-e2e-kubernetes, pull-kind-e2e-kubernetes-1-34, pull-kind-e2e-kubernetes-1-33, pull-kind-e2e-kubernetes-1-32, pull-kind-e2e-kubernetes-1-31

Path conditions:
  post-kind-push-base-image: any of: (^images/base)|(^images/Makefile)|(^.go-version)
  post-kind-push-kindnetd-image: any of: (^images/kindnetd)|(^images/Makefile)|(^.go-version)
  post-kind-push-haproxy-image: any of: (^images/haproxy)|(^images/Makefile)
  post-kind-push-local-path-provisioner-image: any of: (^images/local-path-provisioner)|(^images/Makefile)|(^.go-version)
  post-kind-push-local-path-helper-image: any of: (^images/local-path-helper)|(^images/Makefile)
  pull-kind-conformance-parallel-ga-only: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-conformance-parallel-dual-stack-ipv4-ipv6: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-34: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-33: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-32: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
  pull-kind-e2e-kubernetes-1-31: unless all of: (^site/)|(^images/)|(^logo/)|(^.github/)|(.md$)|(OWNERS$)|(^SECURITY_CONTACTS$)|(^netlify.toml$)
