Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-httpbin-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
  ...

pull-ingress-nginx-e2e-helm-chart:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20201208-8b354d9-master
      command:
      - wrapper.sh
      - bash
      - -c
  ...

Bump Helm chart version to 4.1.0
  charts/ingress-nginx/Chart.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update Helm Chart changelog with 4.1.0 description
  charts/ingress-nginx/CHANGELOG.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fixing missing space on http-snippet
  deploy/static/provider/aws/deploy-tls-termination.yaml
Due: none

Changelog.md: Update references to sigs.k8s.io/promo-tools
  Changelog.md
Due: none

Changelog.md: Update references to sigs.k8s.io/promo-tools (#7656)
  Changelog.md
Due: none

Replace kube-lego docs with cert-manager
  docs/user-guide/tls.md
Due: none

improve basic usage documentation
  docs/user-guide/basic-usage.md
Due: none

Revert Helm Chart bump and remove CHANGELOG
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add option to force enabling snippet directives
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Replace kube-lego docs with cert-manager (#7659)
  docs/user-guide/tls.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/tls/index.html
Due: none

Add option to force enabling snippet directives (#7665)
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Add option to force enabling snippet directives (#7665)
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Add missing key when cherry-picking
  internal/ingress/controller/controller.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

CHERRY-PICK of #7665 - Remove snippet (#7666)
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

added example multiple controller install to faq
  docs/index.md
Due: none

add a metric with build info
  internal/ingress/metric/collectors/controller.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

add OpenTelemetry to nginx base image
  images/nginx/README.md
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

added example multiple controller install to faq (#7668)
  docs/index.md
Due: none

Deploy GitHub Pages
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

add issue triage information
  CONTRIBUTING.md
  ISSUE_TRIAGE.md
  README.md
Due: none

Change enable-snippet to allow-snippet-annotation
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Update NGINX base image to v1.19 (#7643)
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

add option for documentiony only to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add option for documentiony only to pr template (#7672)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix opentracing in v0.X
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Change enable-snippet to allow-snippet-annotation (#7670)
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Fix opentracing in v0.X (#7676)
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Change enable-snippet to allow-snippet-annotation (#7670)
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Change enable-snippet to allow-snippet-annotation (#7670) (#7677)
  charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  test/e2e/annotations/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/settings/server_snippet.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Trigger v1.0.1 release
  TAG
Due: post-ingress-nginx-push-images

Trigger v0.49.1 release
  TAG
Due: post-ingress-nginx-push-images

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
