Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, post-k8sio-image-promo, post-k8sio-groups

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  post-k8sio-groups: any of: ^groups/groups.yaml

Promote Cluster API v0.3.11
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

create capi openstack image v0.3.3
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

k8s.gcr.io/images/k8s-staging-kube-state-metrics: Promote 2.0.0-alpha.3
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Establish a staging repository for mirroring Docker Hub images
  groups/sig-release/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-mirror/OWNERS
  k8s.gcr.io/images/k8s-staging-mirror/images.yaml
  k8s.gcr.io/manifests/k8s-staging-mirror/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: IAM grant to k8s-infra-google-build-admins for Docker Hub mirror
  OWNERS_ALIASES
  groups/sig-release/groups.yaml
  k8s.gcr.io/images/k8s-staging-mirror/OWNERS
Due: none

Promote v0.3.1 filestore image
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.19.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kOps 1.19.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.0-beta.2.yaml
Due: none

Add empty line to trigger another push
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote artifacts for kops 1.18.2
  artifacts/manifests/k8s-staging-kops/1.18.2.yaml
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Add eddiezane to leads groups
  groups/groups.yaml
Due: post-k8sio-groups

releng: Promote go-runner:buster-v2.2.2 (built using go1.15.5)
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Update kubernetes.dev verification txt record
  dns/zone-configs/kubernetes.dev._0_base.yaml
Due: none

Add staging project for kubernetes/examples
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-examples/OWNERS
  k8s.gcr.io/images/k8s-staging-examples/images.yaml
  k8s.gcr.io/manifests/k8s-staging-examples/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo, post-k8sio-groups

Add eddiezane to sig-cli-leads
  OWNERS_ALIASES
Due: none

Add Fabrizio Pandini to leads mailing list
  groups/groups.yaml
Due: post-k8sio-groups

releng: Promote container image promoter v3.0.0 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Image promotion for v1.20.0-rc.0 / v1.21.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

promote cluster-api-provider-azure:v0.4.10
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

promote sig-storage/local-volume-provisioner v2.4.0
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote Cluster Autoscaler v1.20.0
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

k8s.gcr.io/images/k8s-staging-kube-state-metrics: Promote v2.0.0 to beta
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote cluster-api-provider-gcp:v0.3.0
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

capg: add reviewers group and add cpanato as reviewer
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/OWNERS
Due: none

node-feature-discovery: promote v0.7.0
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

update sig-storage leads
  groups/groups.yaml
Due: post-k8sio-groups

Promote artifacts for kops 1.18.0
  artifacts/manifests/k8s-staging-kops/1.18.0.yaml
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote kops 1.19.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote artifacts for kops 1.17.2
  artifacts/manifests/k8s-staging-kops/1.17.2.yaml
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote git-sync v3.2.1
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

releng: Image promotion for v1.20.0 / v1.20.1-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Add DNS entry for prow staging instance
  dns/zone-configs/k8s.io._0_base.yaml
Due: none

releng: Image promotion for v1.17.15 / v1.17.16-rc.0 / v1.18.13 / v1.18.14-rc.0 / v1.19.5 / v1.19.6-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promoting 404-server-with-metrics-amd64 to v1.10.11 tag.
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote aws-ebs-csi-driver v0.8.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote descheduler to 1.20 (with multi-arch images)
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Switch slackin image
  slack-infra/resources/slackin/deployment.yaml
Due: none

promote csi-secrets-store driver:v0.0.18
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Promote aws-ebs-csi-driver latest tags
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Migrate deployment resources to apps/v1
  gcsweb.k8s.io/deployment.yaml
  k8s.io/deployment.yaml
  node-perf-dash.k8s.io/deployment.yaml
Due: none
