Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-cfssl: any of: ^images/cfssl/
  post-ingress-nginx-custom-error-pages: any of: ^images/custom-error-pages/
  post-ingress-nginx-e2e-test-echo: any of: ^images/e2e-test-echo/
  post-ingress-nginx-fastcgi-helloserver: any of: ^images/fastcgi-helloserver/
  post-ingress-nginx-httpbun: any of: ^images/httpbun/
  post-ingress-nginx-kube-webhook-certgen: any of: ^images/kube-webhook-certgen/
  post-ingress-nginx-nginx: any of: ^images/nginx/
  post-ingress-nginx-nginx-1-25: any of: ^images/nginx-1.25/
  post-ingress-nginx-opentelemetry: any of: ^images/opentelemetry/
  post-ingress-nginx-test-runner: any of: ^images/test-runner/
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Bump k8s.io/cli-runtime from 0.31.3 to 0.32.0 (#12548)
  go.mod
  go.sum
Due: none

Bump k8s.io/cli-runtime from 0.31.3 to 0.32.0 (#12549)
  go.mod
  go.sum
Due: none

Bump k8s.io/code-generator from 0.31.3 to 0.32.0 (#12552)
  go.mod
  go.sum
Due: none

Bump k8s.io/code-generator from 0.31.3 to 0.32.0 (#12551)
  go.mod
  go.sum
Due: none

Bump k8s.io/code-generator from 0.31.3 to 0.32.0 (#12550)
  go.mod
  go.sum
Due: none

Bump github.com/onsi/ginkgo/v2 from 2.22.0 to 2.22.1
  build/run-in-docker.sh
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump golang.org/x/net from 0.32.0 to 0.33.0
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-kube-webhook-certgen

CI: Update KIND images.
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

Images: Bump `gcb-docker-gcloud` to v20241217-ff46a068cd.
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Bump github.com/onsi/ginkgo/v2 from 2.22.0 to 2.22.1 (#12555)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/onsi/ginkgo/v2 from 2.22.0 to 2.22.1 (#12556)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/onsi/ginkgo/v2 from 2.22.0 to 2.22.1 (#12557)
  build/run-in-docker.sh
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-test-runner, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Update KIND images. (#12553)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

CI: Update KIND images. (#12558)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

CI: Update KIND images. (#12560)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

CI: Update KIND images. (#12559)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

Images: Bump `gcb-docker-gcloud` to v20241217-ff46a068cd. (#12554)
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Images: Bump `gcb-docker-gcloud` to v20241217-ff46a068cd. (#12563)
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Images: Bump `gcb-docker-gcloud` to v20241217-ff46a068cd. (#12562)
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Images: Bump `gcb-docker-gcloud` to v20241217-ff46a068cd. (#12561)
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/custom-error-pages/cloudbuild.yaml
  images/e2e-test-echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbun/cloudbuild.yaml
  images/kube-webhook-certgen/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-cfssl, post-ingress-nginx-custom-error-pages, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-nginx, post-ingress-nginx-test-runner

Bump k8s.io/apiextensions-apiserver from 0.31.3 to 0.32.0 (#12567)
  go.mod
  go.sum
Due: none

Bump k8s.io/apiextensions-apiserver from 0.31.3 to 0.32.0 (#12565)
  go.mod
  go.sum
Due: none

Bump k8s.io/apiextensions-apiserver from 0.31.3 to 0.32.0 (#12566)
  go.mod
  go.sum
Due: none

Repository: Update owners. (#12519)
  OWNERS_ALIASES
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/OWNERS
  images/kube-webhook-certgen/OWNERS
Due: post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Repository: Update owners.
  OWNERS_ALIASES
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/OWNERS
  images/kube-webhook-certgen/OWNERS
Due: post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update index.yaml
  index.yaml
Due: none
