Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-alpine-auth-test-images, post-kubernetes-push-e2e-windows-nanoserver-auth-test-images, post-kubernetes-push-e2e-agnhost-test-images, post-kubernetes-push-e2e-apparmor-loader-test-images, post-kubernetes-push-e2e-busybox-test-images, post-kubernetes-push-e2e-cuda-vector-add-test-images, post-kubernetes-push-e2e-echoserver-test-images, post-kubernetes-push-e2e-ipc-utils-test-images, post-kubernetes-push-e2e-jessie-dnsutils-test-images, post-kubernetes-push-e2e-kitten-test-images, post-kubernetes-push-e2e-metadata-concealment-test-images, post-kubernetes-push-e2e-nautilus-test-images, post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images, post-kubernetes-push-e2e-node-perf-npb-ep-test-images, post-kubernetes-push-e2e-node-perf-npb-is-test-images, post-kubernetes-push-e2e-nonewprivs-test-images, post-kubernetes-push-e2e-nonroot-test-images, post-kubernetes-push-e2e-pets-redis-installer-test-images, post-kubernetes-push-e2e-pets-peer-finder-test-images, post-kubernetes-push-e2e-pets-zookeeper-installer-test-images, post-kubernetes-push-e2e-redis-test-images, post-kubernetes-push-e2e-regression-issue-74839-test-images, post-kubernetes-push-e2e-resource-consumer-test-images, post-kubernetes-push-e2e-sample-apiserver-test-images, post-kubernetes-push-e2e-sample-device-plugin-test-images, post-kubernetes-push-e2e-volume-iscsi-test-images, post-kubernetes-push-e2e-volume-rbd-test-images, post-kubernetes-push-e2e-volume-nfs-test-images, post-kubernetes-push-e2e-volume-gluster-test-images, post-kubernetes-push-image-pause, pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-publishing-bot-validate, pull-kubernetes-e2e-gce-network-proxy-http-connect, pull-kubernetes-e2e-gce-network-proxy-grpc, check-dependency-stats, pull-kubernetes-e2e-gci-gce-autoscaling, pull-kubernetes-e2e-aks-engine-conformance, pull-kubernetes-e2e-aks-engine-azure-disk-vmas, pull-kubernetes-e2e-aks-engine-azure-disk-vmss, pull-kubernetes-e2e-aks-engine-azure-file, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-e2e-kind-ipvs-dual, pull-kubernetes-e2e-ubuntu-gce-network-policies, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-gce-iscsi, pull-kubernetes-e2e-gce-iscsi-serial, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-files-remake, pull-kubernetes-godeps, pull-kubernetes-local-e2e

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-alpine-auth-test-images: any of: ^test\/images\/alpine\/
  post-kubernetes-push-e2e-windows-nanoserver-auth-test-images: any of: ^test\/images\/windows-nanoserver\/
  post-kubernetes-push-e2e-agnhost-test-images: any of: ^test\/images\/agnhost\/
  post-kubernetes-push-e2e-apparmor-loader-test-images: any of: ^test\/images\/apparmor-loader\/
  post-kubernetes-push-e2e-busybox-test-images: any of: ^test\/images\/busybox\/
  post-kubernetes-push-e2e-cuda-vector-add-test-images: any of: ^test\/images\/cuda-vector-add\/
  post-kubernetes-push-e2e-echoserver-test-images: any of: ^test\/images\/echoserver\/
  post-kubernetes-push-e2e-ipc-utils-test-images: any of: ^test\/images\/ipc-utils\/
  post-kubernetes-push-e2e-jessie-dnsutils-test-images: any of: ^test\/images\/jessie-dnsutils\/
  post-kubernetes-push-e2e-kitten-test-images: any of: ^test\/images\/kitten\/
  post-kubernetes-push-e2e-metadata-concealment-test-images: any of: ^test\/images\/metadata-concealment\/
  post-kubernetes-push-e2e-nautilus-test-images: any of: ^test\/images\/nautilus\/
  post-kubernetes-push-e2e-node-perf-tf-wide-deep-test-images: any of: ^test\/images\/node-perf\/tf-wide-deep\/
  post-kubernetes-push-e2e-node-perf-npb-ep-test-images: any of: ^test\/images\/node-perf\/npb-ep\/
  post-kubernetes-push-e2e-node-perf-npb-is-test-images: any of: ^test\/images\/node-perf\/npb-is\/
  post-kubernetes-push-e2e-nonewprivs-test-images: any of: ^test\/images\/nonewprivs\/
  post-kubernetes-push-e2e-nonroot-test-images: any of: ^test\/images\/nonroot\/
  post-kubernetes-push-e2e-pets-redis-installer-test-images: any of: ^test\/images\/pets\/redis-installer\/
  post-kubernetes-push-e2e-pets-peer-finder-test-images: any of: ^test\/images\/pets\/peer-finder\/
  post-kubernetes-push-e2e-pets-zookeeper-installer-test-images: any of: ^test\/images\/pets\/zookeeper-installer\/
  post-kubernetes-push-e2e-redis-test-images: any of: ^test\/images\/redis\/
  post-kubernetes-push-e2e-regression-issue-74839-test-images: any of: ^test\/images\/regression-issue-74839\/
  post-kubernetes-push-e2e-resource-consumer-test-images: any of: ^test\/images\/resource-consumer\/
  post-kubernetes-push-e2e-sample-apiserver-test-images: any of: ^test\/images\/sample-apiserver\/
  post-kubernetes-push-e2e-sample-device-plugin-test-images: any of: ^test\/images\/sample-device-plugin\/
  post-kubernetes-push-e2e-volume-iscsi-test-images: any of: ^test\/images\/volume\/iscsi\/
  post-kubernetes-push-e2e-volume-rbd-test-images: any of: ^test\/images\/volume\/rbd\/
  post-kubernetes-push-e2e-volume-nfs-test-images: any of: ^test\/images\/volume\/nfs\/
  post-kubernetes-push-e2e-volume-gluster-test-images: any of: ^test\/images\/volume\/gluster\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-kubernetes-e2e-capz-windows-containerd: any of: azure.*\.go$|.*windows\.go$|test/e2e/windows/.*
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-publishing-bot-validate: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-gce-network-proxy-http-connect: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  pull-kubernetes-e2e-gce-network-proxy-grpc: any of: ^(cluster/gce/manifests/konnectivity-server.yaml$|cluster/gce/addons/konnectivity-agent)
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gci-gce-autoscaling: any of: ^(cluster/gce/manifests/cluster-autoscaler.manifest$|cluster/addons/rbac/cluster-autoscaler)
  pull-kubernetes-e2e-aks-engine-conformance: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmas: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-e2e-kind-ipvs-dual: any of: ^pkg/.*/ipvs/
  pull-kubernetes-e2e-ubuntu-gce-network-policies: any of: ^(test/e2e/network/|pkg/apis/networking)
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-iscsi: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-e2e-gce-iscsi-serial: any of: (pkg\/volume\/iscsi)
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
  pull-kubernetes-files-remake: any of: Makefile.generated_files|make-rules
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
  pull-kubernetes-local-e2e: any of: local-up-cluster

Add e2e test for checking /metrics/slis endpoint for API server
  test/e2e/framework/metrics/api_server_metrics.go
  test/e2e/framework/metrics/metrics_grabber.go
  test/e2e/instrumentation/monitoring/metrics_grabber.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

test richa's commit
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  staging/src/k8s.io/component-base/metrics/features/kube_features.go
  test/e2e/framework/metrics/OWNERS
  test/e2e/framework/metrics/api_server_metrics.go
  test/e2e/framework/metrics/kubelet_metrics.go
  test/e2e/framework/metrics/metrics_grabber.go
  test/e2e/instrumentation/monitoring/metrics_grabber.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Don't force detach volume from healthy nodes
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Backport nodeLister to ADC reconciler and node util.
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
  pkg/util/node/node.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

Trim out suffix added to backing file path of loopback device
  pkg/volume/util/volumepathhandler/volume_path_handler_linux.go
  pkg/volume/util/volumepathhandler/volume_path_handler_linux_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

etcd: Update to version 3.5.7
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/providers/gcp.go
  test/utils/image/manifest.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel, pull-kubernetes-godeps

Promote pdb health policy to beta
  pkg/apis/policy/types.go
  pkg/features/kube_features.go
  staging/src/k8s.io/api/policy/v1/types.go
  staging/src/k8s.io/api/policy/v1beta1/types.go
Due: pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-godeps

change some resource manager APIs
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/fake_cpu_manager.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/types.go
  pkg/kubelet/cm/memorymanager/fake_memory_manager.go
  pkg/kubelet/cm/memorymanager/memory_manager.go
Due: pull-kubernetes-local-e2e-containerized

update comment to match implementation
  pkg/scheduler/util/pod_resources.go
Due: none

Fix konnectivity-client metric registration.
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector_test.go
  staging/src/k8s.io/component-base/metrics/legacyregistry/registry.go
Due: pull-kubernetes-godeps

egress_selector.go: Add a dial starts metric.
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector_test.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/metrics/metrics.go
Due: pull-kubernetes-godeps

expose prometheus.Registerer so that we can hook into this from external sources
  staging/src/k8s.io/component-base/metrics/registry.go
Due: pull-kubernetes-godeps

egress_selector.go: register konnectivity-client metrics.
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
Due: pull-kubernetes-godeps

UPSTREAM: <carry>: remove private libs from go.mod
  go.mod
Due: check-dependency-stats

Add e2e for node expansion with missing staging path
  test/e2e/storage/csi_mock/csi_volume_expansion.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-conformance-kind-ipv6-parallel

Move GetHostname() from k/k/pkg/util/node to k/component-helpers/node/util
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
  cmd/kubeadm/app/phases/kubelet/flags.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubelet/app/server.go
  pkg/util/node/node.go
  pkg/util/node/node_test.go
  pkg/volume/rbd/rbd_util.go
  staging/src/k8s.io/component-helpers/node/util/hostname.go
  staging/src/k8s.io/component-helpers/node/util/hostname_test.go
Due: pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-godeps

Making a run test.
  cmd/kube-controller-manager/app/core.go
  pkg/controller/ttl/ttl_controller.go
  pkg/controller/ttl/ttl_controller_test.go
  test/integration/ttlcontroller/ttlcontroller_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix: Improves the log for failing tests in e2e/apps. Issue #105678
  test/e2e/apimachinery/crd_conversion_webhook.go
  test/e2e/apimachinery/namespace.go
  test/e2e/apps/cronjob.go
  test/e2e/apps/job.go
  test/e2e/apps/rc.go
  test/e2e/scheduling/limit_range.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fsquota: only generate pod uuid is nil
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/util/fsquota/common/quota_common.go
  pkg/volume/util/fsquota/common/quota_common_linux.go
  pkg/volume/util/fsquota/common/quota_common_linux_impl.go
  pkg/volume/util/fsquota/project.go
  pkg/volume/util/fsquota/quota.go
  pkg/volume/util/fsquota/quota_linux.go
  pkg/volume/util/fsquota/quota_unsupported.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial

update: TestNodePorts
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
Due: none

feat: check if a pod has container ports
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
Due: none

use cmp instead of reflect
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
Due: none

add aojea as approver for networking APIs: services/allocators, networking group, ...
  pkg/registry/core/service/OWNERS
  pkg/registry/networking/OWNERS
Due: none

Avoid typechecking stdlib
  test/typecheck/main.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

kubelet: swap support for system-reserve and allocatable calculation
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  cmd/kubelet/app/server_test.go
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/node_container_manager_linux.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_linux.go
  pkg/kubelet/nodestatus/setters_others.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

kubelet: add --system-reserved support for swap
  pkg/api/v1/resource/helpers.go
  pkg/apis/node/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/cm/types.go
  staging/src/k8s.io/api/node/v1/resource.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

kubelet(swap): add e2e test for system-reserved swap
  test/e2e_node/swap_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix kubelet start failed on windows 10
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/listener_unix.go
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/listener_windows.go
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/server.go
Due: pull-kubernetes-e2e-capz-windows-containerd, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-local-e2e-containerized

add parseCgroupFileUnified from containerd cgroup v1
  pkg/api/v1/resource/helpers.go
  pkg/kubelet/cm/cgroup_manager_linux.go
Due: pull-kubernetes-local-e2e-containerized

Cleanup: improve some note for code
  staging/src/k8s.io/apimachinery/pkg/util/duration/duration.go
  staging/src/k8s.io/apimachinery/pkg/util/errors/errors.go
  staging/src/k8s.io/apimachinery/pkg/util/framer/framer.go
Due: pull-kubernetes-godeps

cleanup: simplify pickOneNodeForPreemption in preemption
  pkg/scheduler/framework/preemption/preemption.go
Due: none

Add test for pkg/kubelet/sysctl/allowlist_test.go
  pkg/kubelet/sysctl/allowlist_test.go
Due: pull-kubernetes-local-e2e-containerized

fix: compare status
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
Due: none

Extend example to contain --as==...
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani.go
Due: pull-kubernetes-godeps
