Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-perf-tests-access-tokens, post-kubernetes-push-perf-tests-containerd, post-kubernetes-push-perf-tests-networknetperfbenchmark, post-kubernetes-push-perf-tests-probes, post-kubernetes-push-perf-tests-request-benchmark, post-kubernetes-push-perf-tests-scratch, post-kubernetes-push-perf-tests-sleep, post-kubernetes-push-perf-tests-watch-list, pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Path conditions:
  post-kubernetes-push-perf-tests-access-tokens: any of: ^util-images\/access-tokens\/
  post-kubernetes-push-perf-tests-containerd: any of: ^util-images\/containerd\/
  post-kubernetes-push-perf-tests-networknetperfbenchmark: any of: ^util-images\/network\/netperfbenchmark\/
  post-kubernetes-push-perf-tests-probes: any of: ^util-images\/probes\/
  post-kubernetes-push-perf-tests-request-benchmark: any of: ^util-images\/request-benchmark\/
  post-kubernetes-push-perf-tests-scratch: any of: ^util-images\/scratch\/
  post-kubernetes-push-perf-tests-sleep: any of: ^util-images\/sleep\/
  post-kubernetes-push-perf-tests-watch-list: any of: ^util-images\/watch-list\/
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
  pull-perf-tests-ec2-master-scale-performance-100: any of: ^clusterloader2/.*$
  pull-perf-tests-gce-master-scale-performance-100: any of: ^clusterloader2/.*$

write-throughput: add identifier to generator WaitForRunningPods measurements
  clusterloader2/testing/write-throughput/modules/watch/config.yaml
  clusterloader2/testing/write-throughput/modules/writer/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Expand metrics collected from etcd cluster
  clusterloader2/testing/etcd/config.yaml
  clusterloader2/testing/etcd/modules/measurements.yaml
  clusterloader2/testing/etcd/modules/writer/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Fix #4449: Accept int values in util.GetFloat64
  clusterloader2/pkg/util/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

bump list informer client CPU to 6
  clusterloader2/testing/list/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Support etcd defrag, physical defrag, limiting of writes and request timeout for maintenance operations
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_etcd_put.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-util-images

write-throughput: use client-go informers and support configmaps watches
  clusterloader2/testing/write-throughput/config.yaml
  clusterloader2/testing/write-throughput/modules/measurements.yaml
  clusterloader2/testing/write-throughput/modules/watch/config.yaml
  clusterloader2/testing/write-throughput/modules/watch/deployment.yaml
  clusterloader2/testing/write-throughput/modules/watch/role.yaml
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/mode_watch.go
Due: post-kubernetes-push-perf-tests-request-benchmark, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: parameterize tuningSet for services module in load test
  clusterloader2/testing/load/modules/services/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

clusterloader2: report controlled pod failures before count mismatch
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Add opt-in kubelet measurements module to the load test
  clusterloader2/testing/load/modules/kubelet-measurements.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

perfdash: collapse EC2 instance-id node names
  perfdash/pod_names.go
  perfdash/pod_names_test.go
Due: none

Make etcd write benchmark more complete with initialization and defrag
  clusterloader2/testing/etcd/config.yaml
  clusterloader2/testing/etcd/modules/cluster/cluster.yaml
  clusterloader2/testing/etcd/modules/cluster/config.yaml
  clusterloader2/testing/etcd/modules/init/config.yaml
  clusterloader2/testing/etcd/modules/init/job.yaml
  clusterloader2/testing/etcd/modules/measurements.yaml
  clusterloader2/testing/etcd/modules/writer/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Use six CPUs by default for list benchmark modes
  clusterloader2/testing/list/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Rename --prometheus-proxy-scheme to --prometheus-scheme
  clusterloader2/README.md
  clusterloader2/docs/GETTING_STARTED.md
  clusterloader2/pkg/prometheus/README.md
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

perfdash: bump to 2.63
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/www/VERSION
Due: none

Deploy node exporter in providers without SSH
  clusterloader2/pkg/prometheus/manifests/exporters/node_exporter/node-exporter-daemonset.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Disable the govet inline analyzer on release-1.36
  .golangci.yml
Due: none

write-throughput: enable APIResponsivenessPrometheusSimple violations
  clusterloader2/testing/write-throughput/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

write-throughput: align kind config with GCE kube-up scalability flags
  clusterloader2/testing/write-throughput/kind.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Fix etcd benchmark quotaBackendBytes formatting and init image version
  clusterloader2/testing/etcd/config.yaml
  clusterloader2/testing/etcd/modules/cluster/cluster.yaml
  clusterloader2/testing/etcd/modules/cluster/config.yaml
  clusterloader2/testing/etcd/modules/init/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100

Update etcd to 3.7 and fix measurements
  clusterloader2/testing/etcd/config.yaml
  clusterloader2/testing/etcd/modules/cluster/cluster.yaml
  clusterloader2/testing/etcd/modules/cluster/config.yaml
  clusterloader2/testing/etcd/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-ec2-master-scale-performance-100, pull-perf-tests-gce-master-scale-performance-100
