Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, post-k8sio-cip

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190402-v1.0.2-0-g45293ca
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
      - k8s.gcr.io/k8s-staging-coredns/manifest.yaml
  ...

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

Turn off retention on GCS cip-test buckets
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-staging-storage.sh
Due: none

Add manifest for promoting kops binary artifacts
  artifacts/files/README.md
  artifacts/files/k8s-staging-kops/manifest.yaml
Due: pull-k8sio-cip

GCS: Create disaster recovery script
  artifacts/dev/disaster-recovery/Dockerfile
  artifacts/dev/disaster-recovery/copy-buckets.py
Due: none

Add retention for prod GCS (not GCR) buckets
  infra/gcp/ensure-prod-storage.sh
Due: none

Checksum on rsync
  infra/gcp/lib.sh
Due: none

fix typo
  k8s.gcr.io/README.md
Due: none

create gcr.io/k8s-staging-promoter
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-promoter/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

rename k8s-staging-promoter to k8s-staging-artifact-promoter
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-artifact-promoter/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

promoter manifests: avoid rename feature
  k8s.gcr.io/k8s-staging-build-image/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
  k8s.gcr.io/k8s-staging-coredns/manifest.yaml
  k8s.gcr.io/k8s-staging-csi/manifest.yaml
  k8s.gcr.io/k8s-staging-descheduler/manifest.yaml
  k8s.gcr.io/k8s-staging-publishing-bot/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Initial commit of cluster Terraform configurations
  clusters/.gitignore
  clusters/README.md
  clusters/image/Dockerfile
  clusters/image/Makefile
  clusters/image/VERSION
  clusters/k8s-infra-dev-cluster-turnup/00-inputs.tf
  clusters/k8s-infra-dev-cluster-turnup/01-datasources.tf
  clusters/k8s-infra-dev-cluster-turnup/10-clusterconfiguration.tf
  clusters/k8s-infra-dev-cluster-turnup/11-pool-1-configuration.tf
  clusters/k8s-infra-dev-cluster-turnup/README.md
  clusters/k8s-infra-dev-cluster-turnup/terraform.tfvars
Due: none

Update TF version in image
  clusters/image/Dockerfile
  clusters/k8s-infra-dev-cluster-turnup/00-inputs.tf
  clusters/k8s-infra-dev-cluster-turnup/10-clusterconfiguration.tf
  clusters/k8s-infra-dev-cluster-turnup/11-pool-1-configuration.tf
Due: none

promote the promoter
  k8s.gcr.io/k8s-staging-artifact-promoter/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Add wg-multitenancy staging group.
  groups/groups.yaml
Due: none

Add missing files referenced in the creating-staging-repos doc.
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-multitenancy/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Add staging bucket permissions for vincepri
  groups/groups.yaml
Due: none

Add cblecker to cluster-admins
  groups/groups.yaml
Due: none

Bump cert-manager to v0.9.1
  cert-manager/README.md
  cert-manager/cert-manager.yaml
Due: none

Add new 'solvers' definitions to issuers and remove deprecated ACME field
  cert-manager/letsencrypt-prod.yaml
  cert-manager/letsencrypt-staging.yaml
  gcsweb.k8s.io/certificate.yaml
  k8s.io/certificate-prod.yaml
Due: none

Add v0.2.0 image for cluster-api
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Add v0.4.0 image for cluster-api-provider-aws
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

add v0.1.0 release for cluster-api-bootstrap-provider-kubeadm
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Add cluster-api-openstack repo
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-cluster-api-openstack/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Simplify variables in terraform config
  clusters/k8s-infra-dev-cluster-turnup/00-inputs.tf
  clusters/k8s-infra-dev-cluster-turnup/01-datasources.tf
  clusters/k8s-infra-dev-cluster-turnup/10-clusterconfiguration.tf
  clusters/k8s-infra-dev-cluster-turnup/11-pool-1-configuration.tf
  clusters/k8s-infra-dev-cluster-turnup/terraform.tfvars
Due: none

Fix _redirect and review comments
  dns/zone-configs/go.canary.k8s.io.yaml
  dns/zone-configs/k8s.io.yaml
Due: none

Use go.k8s.io and rely on automatic canarying
  dns/zone-configs/go.k8s.io.yaml
Due: none

Remove namespace
  redirector.k8s.io/certificate-canary.yaml
  redirector.k8s.io/certificate-prod.yaml
  redirector.k8s.io/configmap-cache.yaml
  redirector.k8s.io/configmap-txtdirect.yaml
  redirector.k8s.io/deployment.yaml
  redirector.k8s.io/service-canary.yaml
  redirector.k8s.io/service-prod.yaml
Due: none

Remove redirect paths docs within README
  redirector.k8s.io/README.md
Due: none

Iterate on review comments
  redirector.k8s.io/deployment.yaml
Due: none

Remove memory requests according to review
  redirector.k8s.io/deployment.yaml
Due: none

Iterate docs with review suggestions
  redirector.k8s.io/README.md
Due: none

Decrease initialDelay
  redirector.k8s.io/deployment.yaml
Due: none

update cluster-api to capi
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-capi-openstack/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-openstack/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Simplify OWNERS for new cluster usage
  redirector.k8s.io/OWNERS
Due: none

Add v0.2.1 image for cluster-api
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Add v0.1.10 image for cluster-api
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Add v0.3.8 image for cluster-api-aws
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Add staging for cluster-api-provider-docker and add OWNERS files for cluster-api related repos
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-capi-docker/OWNERS
  k8s.gcr.io/k8s-staging-capi-docker/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-aws/OWNERS
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/OWNERS
  k8s.gcr.io/k8s-staging-cluster-api/OWNERS
Due: pull-k8sio-cip, post-k8sio-cip

Update terraform for GKE clusters
  clusters/k8s-infra-dev-cluster-turnup/10-clusterconfiguration.tf
  clusters/k8s-infra-dev-cluster-turnup/11-pool-1-configuration.tf
Due: none

Add OWNERS for k8s.gcr.io/k8s-staging-capi-openstack
  k8s.gcr.io/k8s-staging-capi-openstack/OWNERS
Due: none

Update OWNERS
  k8s.gcr.io/k8s-staging-capi-openstack/OWNERS
Due: none

Path conditions:
  pull-k8sio-cip: any of: .*/manifest.yaml
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
