Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip

Path conditions:
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml

Add 1 git-crypt collaborator
  .git-crypt/keys/default/0/1FC487BD7DB6742EF3A7031FC3B249EDD9D2852C.gpg
  groups/OWNERS
Due: none

Added bartsmykla to k8s-infra-gcp-auditors group
  groups/groups.yaml
Due: none

Add k8s-infra-staging-autoscaling@kubernetes.io group
  groups/groups.yaml
Due: none

Setup images/k8s-staging-autoscaling
  k8s.gcr.io/images/k8s-staging-autoscaling/OWNERS
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip

Add autoscaling to ensure-staging-storage.sh
  infra/gcp/ensure-staging-storage.sh
Due: none

Add promoter manifest for gcr.io/k8s-staging-autoscaling
  k8s.gcr.io/manifests/k8s-staging-autoscaling/promoter-manifest.yaml
Due: pull-k8sio-cip

Changed my email from Google to gmail
  groups/groups.yaml
Due: none

Promote Cluster API v0.3.2
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip

Add staging GCR bucket for cluster-api-do
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-cluster-api-do/OWNERS
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api-do/promoter-manifest.yaml
Due: pull-k8sio-cip

Grant kubernetes-release-test GCB write on k8s-staging-kubernetes GCR
  infra/gcp/ensure-staging-storage.sh
Due: none

Promote cluster-api-provider-aws v0.5.1 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip

Empower old release GCB to push to staging
  groups/groups.yaml
Due: none

Add BigQuery auditing
  audit/audit-gcp.sh
Due: none

CAPI-DO: Add detiber to OWNERS and groups.yaml
  groups/groups.yaml
  k8s.gcr.io/images/k8s-staging-cluster-api-do/OWNERS
Due: none

Promote Cluster-Autoscaler 1.18.0-beta.0
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip

backup_tools: use 10 threads explicitly
  infra/gcp/backup_tools/backup_lib.sh
Due: pull-k8sio-backup

build-image: Sort images by digest
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

build-image: Promote kube-cross v1.13.9-1 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

release CAPO v0.3.0 images
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip

Fixed apiGroup of certificates in namespaces role
  infra/gcp/namespaces/namespace-user-role.yml
Due: none

Changed possition of arguemnts for echo function
  infra/gcp/namespaces/ensure-namespaces.sh
Due: none

build-image: Promote kube-cross v1.13.9-2 image
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

build-image: Drop arch-specific ('kube-cross-amd64') image from manifest
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

Added bartsmykla to SECURITY_CONTACTS file
  SECURITY_CONTACTS
Due: none

Added missing permissions in ensure-namespace role
  infra/gcp/namespaces/namespace-user-role.yml
Due: none

Sorted role rules for ensure-namespace script
  infra/gcp/namespaces/namespace-user-role.yml
Due: none

build-image: Promote kube-cross v1.14.1-1 image
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

add rajansandeep to coredns group and image staging
  groups/groups.yaml
  k8s.gcr.io/images/k8s-staging-coredns/OWNERS
Due: none

Add CoreDNS images 1.6.7 and 1.6.9
  k8s.gcr.io/images/k8s-staging-coredns/images.yaml
Due: pull-k8sio-cip

promoter manifests: remove deprecated fields
  k8s.gcr.io/manifests/k8s-staging-capi-vsphere/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api-do/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-nfd/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-npd/promoter-manifest.yaml
Due: pull-k8sio-cip

docs: update README about needing a blank images.yaml
  k8s.gcr.io/README.md
Due: none

add other maintainers as well
  groups/groups.yaml
  k8s.gcr.io/images/k8s-staging-coredns/OWNERS
Due: none

remove yongtang
  groups/groups.yaml
  k8s.gcr.io/images/k8s-staging-coredns/OWNERS
Due: none

Add a staging repo for kube-dns and node-local-dns
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-dns/OWNERS
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
  k8s.gcr.io/manifests/k8s-staging-dns/promoter-manifest.yaml
Due: pull-k8sio-cip

Add jtuznik@google.com to k8s-infra-staging-autoscaling
  groups/groups.yaml
Due: none

Fix Joel's email, add Marky and Josh to moderators
  groups/groups.yaml
Due: none

switch Workload Identity grant to Prow's trusted cluster
  infra/gcp/ensure-prod-storage.sh
Due: none

update KSA name to reflect its purpose
  infra/gcp/ensure-prod-storage.sh
Due: none
