Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Add redirection to vmware docs
  netlify.toml
Due: none

Add redirection to vmware docs (#1400)
  netlify.toml
Due: none

Revert the CRD support from apiextensions.k8s.io/v1 API to v1beta1 for SV/TKG APIs
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsnodevmattachment/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsregistervolume/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/doc.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmattachments.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  pkg/apis/storagepool/config/cns.vmware.com_storagepools.yaml
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/v1alpha1/doc.go
  pkg/internalapis/cnsoperator/config/cnsfilevolumeclient_crd.yaml
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/util.go
  pkg/internalapis/featurestates/config/cns.vmware.com_cnscsisvfeaturestates.yaml
  pkg/internalapis/featurestates/config/config.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/internalapis/featurestates/v1alpha1/doc.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update README to point to CSI releases on VMware docs
  README.md
Due: pull-vsphere-csi-driver-verify-markdown

Update README to point to CSI releases on VMware docs (#1406)
  README.md
Due: pull-vsphere-csi-driver-verify-markdown

fix for setting the replica count
  tests/e2e/fullsync_test_for_block_volume.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

test
  test.txt
Due: none

Revert the CRD support from apiextensions.k8s.io/v1 API to v1beta1 for SV/TKG APIs (#1405)
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsnodevmattachment/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsregistervolume/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/doc.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmattachments.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  pkg/apis/storagepool/config/cns.vmware.com_storagepools.yaml
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/v1alpha1/doc.go
  pkg/internalapis/cnsoperator/config/cnsfilevolumeclient_crd.yaml
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/util.go
  pkg/internalapis/featurestates/config/cns.vmware.com_cnscsisvfeaturestates.yaml
  pkg/internalapis/featurestates/config/config.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/internalapis/featurestates/v1alpha1/doc.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

dummy
  dummy.txt
Due: none

Fix for setting the replica count
  tests/e2e/fullsync_test_for_block_volume.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fix for setting the replica count (#1409)
  tests/e2e/fullsync_test_for_block_volume.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

test replace images
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

delete github documentation
  README.md
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/compatiblity_matrix.md
  docs/book/driver-deployment/deploying_csi_with_zones.md
  docs/book/driver-deployment/installation.md
  docs/book/driver-deployment/prerequisites.md
  docs/book/driver-deployment/upgrade.md
  docs/book/features/csi_driver_on_windows.md
  docs/book/features/multi_access_filesystem_volume.md
  docs/book/features/raw_block_volume.md
  docs/book/features/single_access_filesystem_volume.md
  docs/book/features/volume_expansion.md
  docs/book/features/volume_topology.md
  docs/book/glossary.md
  docs/book/limits.md
  docs/book/overview.md
  docs/book/releases/v1.0.2.md
  docs/book/releases/v1.0.3.md
  docs/book/releases/v2.0.0.md
  docs/book/releases/v2.0.1.md
  docs/book/releases/v2.0.2.md
  docs/book/releases/v2.1.0.md
  docs/book/releases/v2.1.1.md
  docs/book/releases/v2.1.2.md
  docs/book/releases/v2.2.0.md
  docs/book/releases/v2.2.1.md
  docs/book/releases/v2.2.2.md
  docs/book/releases/v2.3.0.md
  docs/book/support.md
  docs/book/supported_features_matrix.md
  docs/book/upgrade_support_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

delete github documentation (#1410)
  README.md
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/compatiblity_matrix.md
  docs/book/driver-deployment/deploying_csi_with_zones.md
  docs/book/driver-deployment/installation.md
  docs/book/driver-deployment/prerequisites.md
  docs/book/driver-deployment/upgrade.md
  docs/book/features/csi_driver_on_windows.md
  docs/book/features/multi_access_filesystem_volume.md
  docs/book/features/raw_block_volume.md
  docs/book/features/single_access_filesystem_volume.md
  docs/book/features/volume_expansion.md
  docs/book/features/volume_topology.md
  docs/book/glossary.md
  docs/book/limits.md
  docs/book/overview.md
  docs/book/releases/v1.0.2.md
  docs/book/releases/v1.0.3.md
  docs/book/releases/v2.0.0.md
  docs/book/releases/v2.0.1.md
  docs/book/releases/v2.0.2.md
  docs/book/releases/v2.1.0.md
  docs/book/releases/v2.1.1.md
  docs/book/releases/v2.1.2.md
  docs/book/releases/v2.2.0.md
  docs/book/releases/v2.2.1.md
  docs/book/releases/v2.2.2.md
  docs/book/releases/v2.3.0.md
  docs/book/support.md
  docs/book/supported_features_matrix.md
  docs/book/upgrade_support_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

test replace images
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix linter error
  tests/e2e/fullsync_test_for_block_volume.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: TKG worker scale up and down with file volumes
  tests/e2e/e2e_common.go
  tests/e2e/gc_rwx_tkg_scale.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Adding TKG RWX tests for vsan-health down
  tests/e2e/gc_rwx_service_down.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: TKG worker scale up and down with file volumes (#1309)
  tests/e2e/e2e_common.go
  tests/e2e/gc_rwx_tkg_scale.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Adding TKG RWX tests for vsan-health down (#1315)
  tests/e2e/gc_rwx_service_down.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fixing the linter error in a test case (#1411)
  tests/e2e/fullsync_test_for_block_volume.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Adding tests for volume-health plumbing for RWX on TKG
  tests/e2e/gc_rwx_volume_health.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Adding tests for volume-health plumbing for RWX on TKG (#1312)
  tests/e2e/gc_rwx_volume_health.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

prevent calling register volume in parallel for same vmdk (#1398)
  pkg/apis/migration/migration.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

[e2e-test]: Adding TKG RWX operation storm tests
  tests/e2e/gc_rwx_operation_storm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Adding TKG RWX operation storm tests (#1297)
  tests/e2e/gc_rwx_operation_storm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Adding RWX security context tests
  tests/e2e/gc_rwx_security_context.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Adding RWX security context tests (#1319)
  tests/e2e/gc_rwx_security_context.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test
