Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - fmt

pull-vsphere-csi-driver-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - lint

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - vet

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.29.0
      command:
      - make
      args:
      - golangci-lint

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - staticcheck

pull-vsphere-csi-driver-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - build

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - unit-test

Fetch tag information for preferred datastores, using REST call, without connecting to vCenter directly. (#2207)
  pkg/csi/service/common/topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

update readme file
  CONTRIBUTING.md
  README.md
Due: pull-vsphere-csi-driver-verify-markdown

TC to test data persistence for dynamic volume provisioning with XFS filesystem
  tests/e2e/data_persistence.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

TC to test data persistence for dynamic volume provisioning with XFS filesystem (#2211)
  tests/e2e/data_persistence.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

update readme file (#2210)
  CONTRIBUTING.md
  README.md
Due: pull-vsphere-csi-driver-verify-markdown

remove creating new vc client on config change
  cmd/syncer/main.go
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/config/config.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/util.go
  pkg/csi/service/driver.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_helper.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/types/envvars.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

remove creating new vc client on config change (#2195)
  cmd/syncer/main.go
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/config/config.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/util.go
  pkg/csi/service/driver.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_helper.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/types/envvars.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove webook validation for vcp storage class to allow volume resize
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/admissionhandler/validatestorageclass.go
  pkg/syncer/admissionhandler/validatestorageclass_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Support PVC resize for migrated PVC
  pkg/csi/service/vanilla/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Listvol presetly not enabled on SVC
  tests/e2e/statefulsets.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Listvol presetly not enabled on SVC (#2215)
  tests/e2e/statefulsets.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Disable Disk Decommission FSS references as it is enabled by default
  manifests/supervisorcluster/1.15/cns-csi.yaml
  manifests/supervisorcluster/1.16/cns-csi.yaml
  manifests/supervisorcluster/1.17/cns-csi.yaml
  manifests/supervisorcluster/1.18/cns-csi.yaml
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
  manifests/supervisorcluster/1.23/cns-csi.yaml
  manifests/supervisorcluster/1.24/cns-csi.yaml
  manifests/supervisorcluster/1.25/cns-csi.yaml
  pipeline/dev/patch.yaml
  pkg/csi/service/common/constants.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Disable Disk Decommission FSS references as it is enabled by default (#2162)
  manifests/supervisorcluster/1.15/cns-csi.yaml
  manifests/supervisorcluster/1.16/cns-csi.yaml
  manifests/supervisorcluster/1.17/cns-csi.yaml
  manifests/supervisorcluster/1.18/cns-csi.yaml
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
  manifests/supervisorcluster/1.23/cns-csi.yaml
  manifests/supervisorcluster/1.24/cns-csi.yaml
  manifests/supervisorcluster/1.25/cns-csi.yaml
  pipeline/dev/patch.yaml
  pkg/csi/service/common/constants.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

[Fix-gc-rwx-test]: Fix Parallel claim of available resource test
  tests/e2e/gc_rwx_basic.go
  tests/e2e/gc_rwx_multi_gc.go
  tests/e2e/gc_rwx_multi_ns_gc.go
  tests/e2e/gc_rwx_operation_storm.go
  tests/e2e/gc_rwx_parallel_claim.go
  tests/e2e/gc_rwx_readonly.go
  tests/e2e/gc_rwx_reclaim_policy.go
  tests/e2e/gc_rwx_security_context.go
  tests/e2e/gc_rwx_statefulsets.go
  tests/e2e/gc_rwx_static_provision.go
  tests/e2e/gc_rwx_syncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[Fix-gc-rwx-test]: Fix Parallel claim of available resource test (#1892)
  tests/e2e/gc_rwx_basic.go
  tests/e2e/gc_rwx_multi_gc.go
  tests/e2e/gc_rwx_multi_ns_gc.go
  tests/e2e/gc_rwx_operation_storm.go
  tests/e2e/gc_rwx_parallel_claim.go
  tests/e2e/gc_rwx_readonly.go
  tests/e2e/gc_rwx_reclaim_policy.go
  tests/e2e/gc_rwx_security_context.go
  tests/e2e/gc_rwx_statefulsets.go
  tests/e2e/gc_rwx_static_provision.go
  tests/e2e/gc_rwx_syncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Add missing RBAC permission to webhook cluster role
  manifests/vanilla/validatingwebhook.yaml
Due: none

TC to verify static provisioning workflow with XFS filesystem
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_cns_nodevm_attachment.go
  tests/e2e/gc_metadata_syncer.go
  tests/e2e/labelupdates.go
  tests/e2e/util.go
  tests/e2e/vmc_delete_tkg.go
  tests/e2e/vsan_stretched_cluster.go
  tests/e2e/vsan_stretched_cluster_utils.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

New TC for statefulset creation with XFS filesystem
  tests/e2e/statefulset_xfs.go
  tests/e2e/vsphere_volume_fstype.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

New TC for statefulset creation with XFS filesystem (#2208)
  tests/e2e/statefulset_xfs.go
  tests/e2e/vsphere_volume_fstype.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

updgraded dependencies to fix CVE's
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

upgraded dependecies to fix CVE
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

upgraded dependecies to fix CVE (#2219)
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

restart CSI controller and syncer container when new vCenter is observed in the config secret
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

enable listview-tasks, csi-internal-generated-cluster-id and csi-windows-support
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Add missing RBAC permission to webhook cluster role (#2216)
  manifests/vanilla/validatingwebhook.yaml
Due: none

updated dependencies to fix cves
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Pass vCenter server associated with volume to be stored in CnsVolumeOperationRequest CR
  pkg/internalapis/cnsvolumeoperationrequest/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

updated dependencies to fix cves (#2223)
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

updated dependencies to fix cves (#2225)
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

TC to verify static provisioning workflow with XFS filesystem (#2217)
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_cns_nodevm_attachment.go
  tests/e2e/gc_metadata_syncer.go
  tests/e2e/labelupdates.go
  tests/e2e/util.go
  tests/e2e/vmc_delete_tkg.go
  tests/e2e/vsan_stretched_cluster.go
  tests/e2e/vsan_stretched_cluster_utils.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

restart CSI controller and syncer container when new vCenter is observed in the config secret (#2221)
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Pass vCenter server associated with volume to be stored in CnsVolumeOperationRequest CR (#2224)
  pkg/internalapis/cnsvolumeoperationrequest/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update go mod libs
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update go mod libs (#2158)
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

enable listview-tasks, csi-internal-generated-cluster-id and csi-windows-support (#2222)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Update ginkgo
  hack/run-e2e-test.sh
Due: pull-vsphere-csi-driver-verify-shell

Update ginkgo (#2227)
  hack/run-e2e-test.sh
Due: pull-vsphere-csi-driver-verify-shell

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
