Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - fmt
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - vet
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.58.2
      command:
      - make
      args:
      - golangci-lint
      resources:
        limits:
          cpu: 4
          memory: 6Gi
        requests:
          cpu: 4
          memory: 6Gi

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      - make
      - shellcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - staticcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-build:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - build
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - unit-test
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

Fix ControllerUnpublishVolume misclassifying file volumes on guest cluster
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

dfd
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add support for authenticating vCenter via a shared session manager
  docs/book/vc_shared_sessions.md
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/configured_or_active_user_test.go
  pkg/common/cns-lib/vsphere/connect_rest_session_test.go
  pkg/common/cns-lib/vsphere/get_active_user_test.go
  pkg/common/cns-lib/vsphere/tagmanager.go
  pkg/common/cns-lib/vsphere/tagmanager_race_test.go
  pkg/common/cns-lib/vsphere/tagmanager_restclient_race_test.go
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/vc_session_login_orphan_test.go
  pkg/common/cns-lib/vsphere/vc_session_login_test.go
  pkg/common/cns-lib/vsphere/vc_session_manager.go
  pkg/common/cns-lib/vsphere/vc_session_manager_test.go
  pkg/common/cns-lib/vsphere/vc_session_manager_transport_test.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/cns-lib/vsphere/virtualmachine.go
  pkg/common/config/config.go
  pkg/common/config/config_test.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add support for authenticating vCenter via a shared session manager (#4031)
  docs/book/vc_shared_sessions.md
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/configured_or_active_user_test.go
  pkg/common/cns-lib/vsphere/connect_rest_session_test.go
  pkg/common/cns-lib/vsphere/get_active_user_test.go
  pkg/common/cns-lib/vsphere/tagmanager.go
  pkg/common/cns-lib/vsphere/tagmanager_race_test.go
  pkg/common/cns-lib/vsphere/tagmanager_restclient_race_test.go
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/vc_session_login_orphan_test.go
  pkg/common/cns-lib/vsphere/vc_session_login_test.go
  pkg/common/cns-lib/vsphere/vc_session_manager.go
  pkg/common/cns-lib/vsphere/vc_session_manager_test.go
  pkg/common/cns-lib/vsphere/vc_session_manager_transport_test.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/cns-lib/vsphere/virtualmachine.go
  pkg/common/config/config.go
  pkg/common/config/config_test.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Check storagePolicyId associated to the storage class is assigned to the namespace. (#4241)
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove pv_retained flag for orphaned pvs
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add READY/ERROR/AGE printer columns to CnsFileAccessConfig and CnsNodeVMBatchAttachment CRDs so kubectl get shows object health without needing kubectl describe.
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/cnsfileaccessconfig_types.go
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/cnsnodebatchvmattachment_types.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmbatchattachments.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update Go to 1.26.7 and grpc-go to v1.83.1 for security remediation
  go.mod
  go.sum
  hack/cover-images.sh
  hack/release.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix shared informer cache corruption in setFileShareAnnotationsOnPVC
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Scope the vSAN encryption check to the VSAN policy namespace so a dataAtRestEncryption PropID from an unrelated namespace can't be mistaken for vSAN encryption.
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update provisioner version in supervisor manifest yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Downgrade guest ControllerUnpublishVolume debug logs to Debugf
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Normalize vCenter host and thumbprint casing (VGL-66658)
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/utils_test.go
  pkg/syncer/fullsync.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Normalize cfg.Global.VCenterIP and CNSVolumeInfo vCenter lookup casing
  pkg/common/config/config.go
  pkg/internalapis/cnsvolumeinfo/cnsvolumeinfoservice.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix markdownlint comment syntax in README.md
  README.md
Due: pull-vsphere-csi-driver-verify-markdown

Fix typos, grammar, and formatting in error/log strings (VGL-68299)
  pkg/common/cns-lib/node/manager.go
  pkg/common/cns-lib/volume/util.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/osutils/linux_os_utils.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/cnsoperator/controller/virtualmachinesnapshot/virtualmachinesnapshot_controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/resize_reconciler.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Include root-cause detail in swallowed-error messages (VGL-68299)
  pkg/common/cns-lib/volume/manager.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/admissionhandler/validatepvc.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/util.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Scope the vSAN encryption check to the VSAN policy namespace so a dataAtRestEncryption PropID from an unrelated namespace can't be mistaken for vSAN encryption. (#4249)
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Misc changes to support pvCSI CBT API with deployment via addon config (#4245)
  go.mod
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_cbt_test.go
  pkg/syncer/dpoperator/controller/snapshotmetadataservicegc/snapshotmetadataservicegc_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update provisioner version in supervisor manifest yaml (#4250)
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Stop unconditionally spew.Sdump-ing fullsync log arguments (#4242)
  pkg/common/cns-lib/vsphere/utils.go
  pkg/syncer/fullsync.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Initialize snapshotmetadataservice controller under DP operator always, irrespective of CBTconfig CRD present
  cmd/syncer/main.go
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/syncer/dpoperator/controller/cbtconfig/cbtconfig_controller.go
  pkg/syncer/dpoperator/controller/cbtconfig/cbtconfig_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update Go to 1.26.7 and grpc-go to v1.83.1 for security remediation (#4246)
  go.mod
  go.sum
  hack/cover-images.sh
  hack/release.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Initialize snapshotmetadataservice controller under DP operator always, irrespective of CBTconfig CRD present (#4255)
  cmd/syncer/main.go
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/syncer/dpoperator/controller/cbtconfig/cbtconfig_controller.go
  pkg/syncer/dpoperator/controller/cbtconfig/cbtconfig_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add operator remedies to previously cause-only error messages (VGL-68299)
  pkg/common/cns-lib/volume/manager.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/util.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Wrap remaining swallowed errors with cause and remedy (VGL-68299)
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
  pkg/syncer/k8scloudoperator/placement.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Redact clear-text vCenter credentials from logs, remove hardcoded e2e passwords (VGL-68298)
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/cns-lib/vsphere/virtualcenter_config_string_test.go
  pkg/csi/service/common/vsphereutil.go
  tests/e2e/e2e_common.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Revert e2e test password env-var change
  tests/e2e/e2e_common.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Don't fail login() when only the REST login fails
  pkg/common/cns-lib/vsphere/connect_rest_repair_test.go
  pkg/common/cns-lib/vsphere/connect_rest_session_test.go
  pkg/common/cns-lib/vsphere/vc_session_login_orphan_test.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  tests/e2e/gc_metadata_syncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Don't fail CreateVolume when the CNS task monitor is interrupted
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/manager_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Normalize vCenter host and thumbprint casing (VGL-66658) (#4251)
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/utils_test.go
  pkg/common/config/config.go
  pkg/internalapis/cnsvolumeinfo/cnsvolumeinfoservice.go
  pkg/syncer/fullsync.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Resolve mismatched printf style in logs
  pkg/common/cns-lib/node/manager.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/cnsfilevolumeclient.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Return vSAN file store in CreateVolume response and guard its PVC label
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/fvs_filevolume.go
  pkg/csi/service/wcp/fvs_filevolume_test.go
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/admissionhandler_test.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/admissionhandler/validatepvclabelforfilestore.go
  pkg/syncer/admissionhandler/validatepvclabelforfilestore_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Call GetSVMotionPlan directly rather than via a network call
  pkg/csi/service/wcp/controller_helper.go
  pkg/syncer/storagepool/diskDecommissionController.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Adding nikhilbarge in approvers list
  OWNERS
Due: none

Add READY/ERROR/AGE printer columns to CnsFileAccessConfig and CnsNodeVMBatchAttachment CRDs so kubectl get shows object health without needing kubectl describe. (#4248)
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/cnsfileaccessconfig_types.go
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/cnsnodebatchvmattachment_types.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmbatchattachments.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Rename guest-cluster StoragePolicyInfo CRD to VKSStoragePolicyInfo
  pkg/apis/cnsoperator/config/cns.vmware.com_vksstoragepolicyinfos.yaml
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/cnsoperator/register.go
  pkg/apis/cnsoperator/vksstoragepolicyinfo/v1alpha1/doc.go
  pkg/apis/cnsoperator/vksstoragepolicyinfo/v1alpha1/vksstoragepolicyinfo_types.go
  pkg/apis/cnsoperator/vksstoragepolicyinfo/v1alpha1/zz_generated.deepcopy.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Wire up late-enablement watcher for VSphereDPLPModernApp capability
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Adding vdkotkar in approvers list
  OWNERS
Due: none

Support for NFS volumes in pvcsi driver
  example/guest-cluster-nfs-driver-volumes/example-pod.yaml
  example/guest-cluster-nfs-driver-volumes/example-pvc.yaml
  example/guest-cluster-nfs-driver-volumes/example-sc.yaml
  example/vanilla-k8s-RWM-external-nfs-volumes/example-pods.yaml
  example/vanilla-k8s-RWM-external-nfs-volumes/example-pvc.yaml
  example/vanilla-k8s-RWM-external-nfs-volumes/example-sc.yaml
  manifests/guestcluster/1.24/pvcsi.yaml
  manifests/guestcluster/1.25/pvcsi.yaml
  manifests/guestcluster/1.26/pvcsi.yaml
  manifests/guestcluster/1.27/pvcsi.yaml
  manifests/guestcluster/1.28/pvcsi.yaml
  manifests/guestcluster/1.29/pvcsi.yaml
  manifests/guestcluster/1.30/pvcsi.yaml
  manifests/guestcluster/1.31/pvcsi.yaml
  manifests/guestcluster/1.32/pvcsi.yaml
  manifests/guestcluster/1.33/pvcsi.yaml
  manifests/guestcluster/1.34/pvcsi.yaml
  manifests/guestcluster/1.35/pvcsi.yaml
  manifests/guestcluster/1.36/pvcsi.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/csi/service/common/externalnfs/controller.go
  pkg/csi/service/common/externalnfs/params.go
  pkg/csi/service/common/externalnfs/volumeid.go
  pkg/csi/service/node.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/nfsdriver/cache.go
  pkg/csi/service/wcpguest/nfsdriver/chmod_unix.go
  pkg/csi/service/wcpguest/nfsdriver/controllerserver.go
  pkg/csi/service/wcpguest/nfsdriver/doc.go
  pkg/csi/service/wcpguest/nfsdriver/glue.go
  pkg/csi/service/wcpguest/nfsdriver/nfs.go
  pkg/csi/service/wcpguest/nfsdriver/nodeserver.go
  pkg/csi/service/wcpguest/nfsdriver/tar.go
  pkg/csi/service/wcpguest/nfsdriver/utils.go
  pkg/csi/service/wcpguest/nfsdriver/version.go
  pkg/csi/service/wcpguest/nfsvolume.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
