Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Set govmomi version to v0.53.0
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

StorageQuota code fix
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/gc_metadata_syncer.go
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/labelupdates.go
  tests/e2e/provisioning/cns_register_volume.go
  tests/e2e/provisioning/static_provisioning.go
  tests/e2e/storagepolicy.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fix image names for 3.7 release candidate
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

storageQuota util fix
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Set Reconcile Sync period for list volumes to 5m & Enhance ListVolume API in the wcp controller to look for volumeattachment status for Pod VM PVC & PV
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove topology-aware-file-volume FSS
  go.mod
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/validatepv.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove topology-aware-file-volume FSS (#3905)
  go.mod
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/validatepv.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove csi-internal-generated-cluster-id FSS
  cmd/syncer/main.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/driver.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add support for k8s 1.34
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.34/kustomization.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmattachments.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/apis/cnsoperator/config/cnsunregistervolume_crd.yaml
  pkg/apis/migration/config/cns.vmware.com_cnsvspherevolumemigrations.yaml
  pkg/internalapis/cnsoperator/config/cnsfilevolumeclient_crd.yaml
  pkg/internalapis/cnsoperator/config/triggercsifullsync_crd.yaml
  pkg/internalapis/cnsvolumeinfo/config/cns.vmware.com_cnsvolumeinfoes.yaml
  pkg/internalapis/cnsvolumeoperationrequest/config/cns.vmware.com_cnsvolumeoperationrequests.yaml
  pkg/internalapis/csinodetopology/config/cns.vmware.com_csinodetopologies.yaml
  pkg/internalapis/featurestates/config/cns.vmware.com_cnscsisvfeaturestates.yaml
Due: pull-vsphere-csi-driver-build

Add K8s 1.34 support for CSI driver
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.34/kustomization.yaml
Due: none

Add StoragePolicyInfo CRD
  pkg/apis/cnsoperator/config/cns.vmware.com_storagepolicyinfoes.yaml
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/doc.go
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/storagepolicyinfo_types.go
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/zz_generated.deepcopy.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Use PVC requested size for PV capacity when PVC has DataSourceRef
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Use PVC requested size for PV capacity when PVC has DataSourceRef (#3915)
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add K8s 1.34 support for CSI driver (#3913)
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.34/kustomization.yaml
Due: none

Remove csi-internal-generated-cluster-id FSS (#3911)
  cmd/syncer/main.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/driver.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

createfcd
  tests/e2e/createfcd.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

fraction soze
  tests/e2e/createfcd.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Cleanup fake-attach FSS code
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add the ability to obtain the topology of attached hosts to the datastore
  pkg/csi/service/common/topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Increase PVs per node to 255
  manifests/guestcluster/1.33/pvcsi.yaml
  manifests/guestcluster/1.34/pvcsi.yaml
  manifests/guestcluster/1.36/pvcsi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/csi/service/common/constants.go
  pkg/csi/service/node.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update CSI provisioner sidecar version for supervisor K8s version 1.34+
  manifests/supervisorcluster/1.34/cns-csi.yaml
Due: none

Update sidecars to latest versions
  manifests/vanilla/deploy-csi-snapshot-components.sh
  manifests/vanilla/vsphere-csi-driver.yaml
Due: pull-vsphere-csi-driver-verify-shell

Update GoLang to 1.26
  go.mod
  hack/cover-images.sh
  hack/release.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Revert csi provisioner to 4.0.1
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Update CSI provisioner sidecar version for supervisor K8s version 1.34+ (#3922)
  manifests/supervisorcluster/1.34/cns-csi.yaml
Due: none

Separation of test modules from source code
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Bump golang to 1.25.7
  go.mod
  go.sum
  hack/release.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add CSI provisioner version update changes in Supervisor K8s 1.32 and 1.33 YAMLs
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
Due: none

Added replace directives to avoid `go list` errors
  go.mod
  tests/e2e/go.mod
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enhancement - Separation of test modules from source code (#3926)
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Tag CSI images as v3.7.0
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Enable Transaction support FSS
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enable Transaction support FSS
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Bump golang to 1.25.7 (#3927)
  go.mod
  go.sum
  hack/release.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test
