Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Add example for Grafana dashboard for CSI. (#1599)
  grafana-dashboard/CSI-CNS-Dashboard-v1.0.json
  grafana-dashboard/CSI-Dashboard-v1.0.json
Due: none

code fix for guest cluster
  tests/e2e/csi_cns_telemetry_statefulsets.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

static provisioning - import VMDK testFix
  tests/e2e/csi_static_provisioning_basic.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

static provisioning - import VMDK testFix (#1614)
  tests/e2e/csi_static_provisioning_basic.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Change scope of TriggerCsiFullSync CRD from Namespaced to Cluster
  pkg/internalapis/cnsoperator/config/triggercsifullsync_crd.yaml
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Change scope of TriggerCsiFullSync CRD from Namespaced to Cluster (#1598)
  pkg/internalapis/cnsoperator/config/triggercsifullsync_crd.yaml
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Return faultTypes at all places
  pkg/common/prometheus/metrics.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Check VmDiskAssociations using vslm endpoint in Detach Volume
  pkg/common/cns-lib/vsphere/virtualcentermanager.go
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

code fix for guest cluster (#1624)
  tests/e2e/csi_cns_telemetry_statefulsets.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Add volumeAttachement listeners
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_test.go
  pkg/kubernetes/informers.go
  pkg/kubernetes/types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add volumeAttachement listeners (#1540)
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_test.go
  pkg/kubernetes/informers.go
  pkg/kubernetes/types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Optional custom repository support for golang docker builder image
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

Optional custom repository support for golang docker builder image (#1633)
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

review comments addresssed
  tests/e2e/onprem_create_gc.go
  tests/e2e/onprem_delete_gc.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Added unit test for validation webhook for pvc annotation
  pkg/syncer/admissionhandler/validatepvcannotation_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Added validating webhook handler for TKGS HA
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/admissionhandler/validatepvcannotation.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update CNS-CSI yaml for adding CSI webhook in Supervisor
  manifests/supervisorcluster/1.22/cns-csi.yaml
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/admissionhandler/validatepvcannotation.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

minor update in cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
Due: none

refactored code by go fmt
  pkg/syncer/admissionhandler/validatepvcannotation_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

unbound variable fix
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

unbound variable fix (#1635)
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

fix inline in-tree vsphere volume registration
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Read UUID from product_serial in node daemonset
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/node.go
  pkg/csi/service/osutils/linux_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Operation Storm testcases
  tests/e2e/topology_operation_strom_cases.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Stretched tests Part 5
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vsan_stretched_cluster.go
  tests/e2e/vsan_stretched_cluster_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Stretched tests Part 5 (#1592)
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vsan_stretched_cluster.go
  tests/e2e/vsan_stretched_cluster_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Adding e2e-tests for static snapshot provisioning
  tests/e2e/csi_snapshot_basic.go
  tests/e2e/util.go
  tests/e2e/vsphere.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Adding e2e-tests for static snapshot provisioning (#1639)
  tests/e2e/csi_snapshot_basic.go
  tests/e2e/util.go
  tests/e2e/vsphere.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

set disk online before filesystem resize (#1562)
  pkg/csi/service/mounter/mounter_windows.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Adding myself to reviewers and approvers list
  OWNERS
Due: none
