Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - fmt
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - vet
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.58.2
      command:
      - make
      args:
      - golangci-lint
      resources:
        limits:
          cpu: 4
          memory: 6Gi
        requests:
          cpu: 4
          memory: 6Gi

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      - make
      - shellcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - staticcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-build:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - build
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - unit-test
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

Enfore TLS in fips mode for cns-csi admission handler
  cmd/syncer/main.go
  cmd/vsphere-csi/main.go
  hack/check-staticcheck.sh
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enfore TLS in fips mode for cns-csi admission handler
  cmd/syncer/main.go
  cmd/vsphere-csi/main.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enfore TLS in fips mode for cns-csi admission handler
  Makefile
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Due: none

tkg win test fix
  tests/e2e/constants/env_constants.go
  tests/e2e/constants/kubernetes.go
  tests/e2e/e2e_common.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/k8testutil/util.go
  tests/e2e/tkgs_ha_utils.go
  tests/e2e/util.go
  tests/e2e/volume_health_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Check topology annotation on existing PVC for CnsRegisterVolume (#3489)
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Improvement in reconciling logic for vmsnapshot and rbacs
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  pkg/syncer/cnsoperator/controller/virtualmachinesnapshot/virtualmachinesnapshot_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

use supports_FCD_transaction wcp capability to enabled transaction support
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove FSS multi-vcenter-csi-topology
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_helper.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/vanilla/controller_topology_test.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/cnsoperator/controller/triggercsifullsync/triggercsifullsync_controller.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/syncer_test.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

use supports_FCD_transaction wcp capability to enabled transaction support (#3509)
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

set max back off duration for reconcilers
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/controller.go
  pkg/syncer/cnsoperator/controller/cnsvolumemetadata/cnsvolumemetadata_controller.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/cnsoperator/types/types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

set max back off duration for reconcilers (#3510)
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/controller.go
  pkg/syncer/cnsoperator/controller/cnsvolumemetadata/cnsvolumemetadata_controller.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/cnsoperator/types/types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix unit test
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/vanilla/controller_topology_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

dummy changes
  .env
  e2eTest.conf
  hack/run-e2e-test.sh
  tests/e2e/constants/apd_constants.go
  tests/e2e/constants/kubernetes.go
  tests/e2e/k8testutil/util.go
  tests/e2e/provisioning/local_tests/junit.xml
  tests/e2e/provisioning/local_tests/local_tests_suite.go
  tests/e2e/provisioning/local_tests/suite_test.go
  tests/e2e/vcutil/apd_vmfs_util.go
  tests/e2e/vcutil/datastore_util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Transaction-Support-Automation-1
  tests/e2e/constants/kubernetes.go
  tests/e2e/constants/test_suite_level.go
  tests/e2e/constants/vsphere_constants.go
  tests/e2e/k8testutil/util.go
  tests/e2e/provisioning/transactionsupport/suite_test.go
  tests/e2e/provisioning/transactionsupport/transaction_support_util.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_during_service_down_scenarios.go
  tests/e2e/vcutil/vc_util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Improve capabilities check for case when TKR is newer than supervisor
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update CSI spec dependency (#3511)
  go.mod
  go.sum
  pkg/csi/service/common/types.go
  pkg/csi/service/common/util.go
  pkg/csi/service/driver.go
  pkg/csi/service/node.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

multi-Svc test refactor (#3469)
  hack/run-e2e-test.sh
  tests/e2e/constants/kubernetes.go
  tests/e2e/e2e_common.go
  tests/e2e/k8testutil/util.go
  tests/e2e/multiSvc/multi_svc_test.go
  tests/e2e/multiSvc/multi_svc_util.go
  tests/e2e/multiSvc/suite_test.go
  tests/e2e/util.go
  tests/e2e/vcutil/vc_util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Improve capabilities check for case when TKR is newer than supervisor (#3514)
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix IsLinkedCloneRequest to use FSS based on cluster flavor (#3512)
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Utils for CSI personas testing (#3494)
  tests/e2e/csi_utils.go
  tests/e2e/e2e_common.go
  tests/e2e/multi_master_k8s.go
  tests/e2e/multi_vc_utils.go
  tests/e2e/raw_block_volume.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Enforce TLS in fips mode for cns-csi admission handler (#3506)
  Makefile
  hack/check-staticcheck.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Cherry-Pick commits upto daee8bd0 (#3518)
  go.mod
  go.sum
  hack/run-e2e-test.sh
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/types.go
  pkg/csi/service/common/util.go
  pkg/csi/service/driver.go
  pkg/csi/service/node.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/controller.go
  pkg/syncer/cnsoperator/controller/cnsvolumemetadata/cnsvolumemetadata_controller.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/cnsoperator/types/types.go
  tests/e2e/constants/kubernetes.go
  tests/e2e/csi_utils.go
  tests/e2e/e2e_common.go
  tests/e2e/k8testutil/util.go
  tests/e2e/multiSvc/multi_svc_test.go
  tests/e2e/multiSvc/multi_svc_util.go
  tests/e2e/multiSvc/suite_test.go
  tests/e2e/multi_master_k8s.go
  tests/e2e/multi_vc_utils.go
  tests/e2e/raw_block_volume.go
  tests/e2e/util.go
  tests/e2e/vcutil/vc_util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Change service type to ClusterIP for vsphere-csi-controller service
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Use dedicated service account for vSphere CSI webhook and update RBAC bindings
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Upgrade CSI Attacher to 4.9.0
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Improvement in reconciling logic for vmsnapshot and rbacs (#3515)
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  pkg/syncer/cnsoperator/controller/virtualmachinesnapshot/virtualmachinesnapshot_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

tkg win test fix (#3430)
  tests/e2e/constants/env_constants.go
  tests/e2e/constants/kubernetes.go
  tests/e2e/e2e_common.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/k8testutil/util.go
  tests/e2e/tkgs_ha_utils.go
  tests/e2e/util.go
  tests/e2e/volume_health_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Addressed Deepak's feedback
  pkg/csi/service/vanilla/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

second tc
  tests/e2e/k8testutil/linked_clone_utils.go
  tests/e2e/k8testutil/util.go
  tests/e2e/linked_clone/linked_clone_basic_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Code changes for running vm service tests with Immediate and LateBinding mode storage policies
  tests/e2e/e2e_common.go
  tests/e2e/vmservice_vm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Code changes for running vm service tests with Immediate and LateBinding mode storage policies (#3507)
  tests/e2e/e2e_common.go
  tests/e2e/vmservice_vm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

fix PK
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
