Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Set default mount options for file volumes (#1350)
  pkg/csi/service/osutils/linux_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove generating syncer_manifest everytime a build is run
  Makefile
Due: none

Add script to verify vendored dependencies
  hack/verify-vendor.sh
Due: pull-vsphere-csi-driver-verify-shell

Fix static check failures
  go.mod
  go.sum
  vendor/modules.txt
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update known issue docs for VC IP & hostname change not honoured by CSI (#1351)
  docs/book/releases/v2.0.0.md
  docs/book/releases/v2.0.1.md
  docs/book/releases/v2.1.0.md
  docs/book/releases/v2.1.1.md
  docs/book/releases/v2.2.0.md
  docs/book/releases/v2.2.1.md
Due: pull-vsphere-csi-driver-verify-markdown

Set default mount options for file volumes (#1350) (#1357)
  pkg/csi/service/osutils/linux_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add manifests for 1.22 K8s for Supervisor and Guestclusters (#1344)
  manifests/guestcluster/1.22/pvcsi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
Due: none

Add manifests for 1.22 K8s for Supervisor and Guestclusters (#1344) (#1358)
  manifests/guestcluster/1.22/pvcsi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
Due: none

static fileshare volume provisioning without fstype
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

[e2e-test]: Ignore GenerateName when SC Name is passed by the test
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Ignore GenerateName when SC Name is passed by the test (#1360)
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

update provisioner image in 1.19 supervisor cluster
  manifests/supervisorcluster/1.19/cns-csi.yaml
Due: none

Rename rc.1 yamls to v2.2.2
  manifests/v2.2.2/deploy/create-validation-webhook.sh
  manifests/v2.2.2/deploy/generate-signed-webhook-certs.sh
  manifests/v2.2.2/deploy/validatingwebhook.yaml
  manifests/v2.2.2/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.2/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.2/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.2.2/rbac/vsphere-csi-node-rbac.yaml
Due: pull-vsphere-csi-driver-verify-shell

set MAX_VOLUMES_PER_NODE to 59 for Vanilla and Guest Cluster Nodes
  manifests/guestcluster/1.21/pvcsi.yaml
  manifests/guestcluster/1.22/pvcsi.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Removing v2.0.2-rc.1 and renaming v2.0.2-rc.2 with v2.0.2 (#1352)
  manifests/v2.0.2-rc.1/vsphere-7.0/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2/vsphere-67u3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.2/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2/vsphere-7.0/rbac/vsphere-csi-controller-rbac.yaml
Due: none

Renaming v2.1.2-rc.1 with v2.1.2 (#1353)
  manifests/v2.1.2/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.1.2/vsphere-67u3/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.1.2/vsphere-67u3/vanilla/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.1.2/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.1.2/vsphere-7.0/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.1.2/vsphere-7.0/vanilla/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/create-validation-webhook.sh
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/generate-signed-webhook-certs.sh
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/validatingwebhook.yaml
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.1.2/vsphere-7.0u1/vanilla/rbac/vsphere-csi-controller-rbac.yaml
Due: pull-vsphere-csi-driver-verify-shell

Rename rc.1 yamls to v2.2.2 (#1362)
  manifests/v2.2.2/deploy/create-validation-webhook.sh
  manifests/v2.2.2/deploy/generate-signed-webhook-certs.sh
  manifests/v2.2.2/deploy/validatingwebhook.yaml
  manifests/v2.2.2/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.2/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.2/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.2.2/rbac/vsphere-csi-node-rbac.yaml
Due: pull-vsphere-csi-driver-verify-shell

Update the example YAMLs for topology GA feature
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-WaitForFirstConsumer-With-Multiple-Zone-Region.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-WaitForFirstConsumer-restricted.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-WaitForFirstConsumer-with-topology.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-multiple-zones-regions.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-single-zone.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-volume-expansion.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-zone.yaml
Due: none

Enable improved-csi-idempotency FSS in Vanilla flavor
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

add examples for windows
  example/vanilla-k8s-RWO-filesystem-volumes/example-windows-pod.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-windows-pvc.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-windows-sc.yaml
Due: none

Add 2.0.2, 2.1.2 & 2.2.2 release pages and update docs to include known issues
  README.md
  docs/book/SUMMARY.md
  docs/book/compatiblity_matrix.md
  docs/book/releases/v2.0.0.md
  docs/book/releases/v2.0.2.md
  docs/book/releases/v2.1.2.md
  docs/book/releases/v2.2.2.md
  docs/book/releases/v2.3.0.md
Due: pull-vsphere-csi-driver-verify-markdown

[e2e-test]: Delete storage class if the storage class name is already created
  tests/e2e/csi_cns_telemetry_statefulsets.go
  tests/e2e/file_volume_statefulsets.go
  tests/e2e/gc_metadata_syncer.go
  tests/e2e/gc_rwx_statefulsets.go
  tests/e2e/labelupdates.go
  tests/e2e/nodes_scaleup_scaledown.go
  tests/e2e/operationstorm.go
  tests/e2e/statefulset_with_topology.go
  tests/e2e/statefulsets.go
  tests/e2e/topology_aware_node_poweroff.go
  tests/e2e/util.go
  tests/e2e/vcp_utils.go
  tests/e2e/vmc_scale_gc_workers.go
  tests/e2e/vmc_upgrade_tkg.go
  tests/e2e/volume_health_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Enable improved-csi-idempotency FSS in Vanilla flavor (#1361)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

set MAX_VOLUMES_PER_NODE to 59 for Vanilla and Guest Cluster Nodes (#1331)
  manifests/guestcluster/1.21/pvcsi.yaml
  manifests/guestcluster/1.22/pvcsi.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Enable improved-csi-idempotency FSS in Vanilla flavor (#1361) (#1367)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

set MAX_VOLUMES_PER_NODE to 59 for Vanilla and Guest Cluster Nodes (#1331) (#1368)
  manifests/guestcluster/1.21/pvcsi.yaml
  manifests/guestcluster/1.22/pvcsi.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Update Makefile to use correct release version for csi driver
  Makefile
Due: none

[e2e-test]: Refactor the storage class creation logic for WCP
  tests/e2e/config_change_test.go
  tests/e2e/csi_cns_telemetry_statefulsets.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/labelupdates.go
  tests/e2e/multi_master_k8s.go
  tests/e2e/operationstorm.go
  tests/e2e/scale.go
  tests/e2e/statefulsets.go
  tests/e2e/storagepolicy.go
  tests/e2e/util.go
  tests/e2e/vc_reboot_volume_lifecycle.go
  tests/e2e/volume_health_test.go
  tests/e2e/vsphere_shared_datastore.go
  tests/e2e/vsphere_volume_disksize.go
  tests/e2e/vsphere_volume_expansion.go
  tests/e2e/vsphere_volume_fsgroup.go
  tests/e2e/vsphere_volume_fstype.go
  tests/e2e/vsphere_volume_mount.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

embed CRD manifests within binary
  cmd/vsphere-csi/main.go
  go.mod
  go.sum
  images/driver/Dockerfile
  images/syncer/Dockerfile
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/migration/config/config.go
  pkg/apis/migration/migration.go
  pkg/apis/storagepool/config/config.go
  pkg/internalapis/cnsoperator/config/config.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/config/config.go
  pkg/internalapis/csinodetopology/config/config.go
  pkg/internalapis/featurestates/config/config.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test
