Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

upgraded k8s dependencies to latest version (#1980)
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

enable max-pvscsi-targets-per-vm feature (#1987)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Replace QueryVolume API with QueryVolumeUtil API(with selection), wherever applicable (#1976)
  go.mod
  go.sum
  pkg/common/utils/utils.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix make check error: rm grpc transport usage, change golangci-lint to 1.49.0 (#1989)
  .golangci.yml
  hack/check-golangci-lint.sh
  pkg/csi/service/wcp/controller_helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

cns-csi.yaml changes for k8s 1.24 (#1981)
  manifests/supervisorcluster/1.23/cns-csi.yaml
  manifests/supervisorcluster/1.24/cns-csi.yaml
Due: none

Be more thorough when deciding whether a volume is mounted or not.
  pkg/csi/service/osutils/windows_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Eliminate use of problematic url.Parse()
  pkg/csi/service/server.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Updating the driver and syncer images to v2.7.0-rc.1 (#1988)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Upgrade csi-attacher and csi-resizer
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Add priority class for vsphere csi driver deployment and daemon set
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Password updated for k8s vm
  tests/e2e/e2e_common.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fix NewInformer() to return Informer instance with appropriate client associated
  pkg/common/cns-lib/node/nodes.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/kubernetes/informers.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/storagepool/service.go
  pkg/syncer/syncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

code fix for injecting psod on esxi host for volume health testcases
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

code fix for injecting psod on esxi host for volume health testcases (#1735)
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Update SHA1 fix and FSS enable in 1.24 cns-csi from 1.23 cns-csi
  manifests/supervisorcluster/1.24/cns-csi.yaml
Due: none

fix GetSystemUUID to return correct VM UUID for Windows Nodes (#1996)
  pkg/csi/service/osutils/windows_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Eliminate use of problematic url.Parse() (#1998)
  pkg/csi/service/server.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update SHA1 fix and FSS enable in 1.24 cns-csi from 1.23 cns-csi (#2003)
  manifests/supervisorcluster/1.24/cns-csi.yaml
Due: none

Cherry pick windows support fixes to release 2.7 (#2005)
  pkg/csi/service/osutils/windows_os_utils.go
  pkg/csi/service/server.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

update golangci-lint to 1.49.0
  hack/check-golangci-lint.sh
Due: pull-vsphere-csi-driver-verify-shell

Cherry-pick windows support fixes from #1996 and #1998 (#2006)
  hack/check-golangci-lint.sh
  pkg/csi/service/osutils/windows_os_utils.go
  pkg/csi/service/server.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

update golangci-lint to v1.49.0
  hack/check-golangci-lint.sh
Due: pull-vsphere-csi-driver-verify-shell

update driver and syncer images to tag v2.6.2-rc.2
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update driver and syncer images to tag v2.6.2-rc.2 (#2008)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Cherrypick release-2.5: fix GetSystemUUID to return correct VM UUID for Windows Nodes (#1996) (#2007)
  hack/check-golangci-lint.sh
  pkg/csi/service/osutils/windows_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

tag v2.5.4-rc.2
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

tag v2.5.4-rc.2 (#2009)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

fall back to look up node by name (#1966)
  pkg/csi/service/vanilla/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

tag v2.6.2-rc.3 images
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

tag v2.5.4-rc.3 images
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update for tolerations compatible with Kubernetes 1.24
  manifests/guestcluster/1.24/pvcsi.yaml
Due: none

tag images to v2.7.0-rc.2
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none
