Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - fmt
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - vet
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.58.2
      command:
      - make
      args:
      - golangci-lint
      resources:
        limits:
          cpu: 4
          memory: 6Gi
        requests:
          cpu: 4
          memory: 6Gi

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      - make
      - shellcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - staticcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-build:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - build
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - unit-test
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

Change error code for create snapshot in pvCSI to a non-final error
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_timeout_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Change error code for create snapshot in pvCSI to a non-final error (#3809)
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_timeout_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Change error code for create snapshot in pvCSI to a non-final error (#3808)
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_timeout_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade golang version to 1.25
  go.mod
  go.sum
  hack/release.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
  pkg/apis/storagepool/config/cns.vmware.com_storagepools.yaml
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

vm service batchAttach util
  tests/e2e/vmservice_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Add snapshot limit enforcement for WCP with per-volume serialization
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/controller_helper_test.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

vm service batchAttach util (#3810)
  tests/e2e/vmservice_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

version specific change for batchAttach CR util
  tests/e2e/e2e_common.go
  tests/e2e/snapshot_vmservice_vm.go
  tests/e2e/vmservice_utils.go
  tests/e2e/vmservice_vm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

version specific change for batchAttach CR util (#3812)
  tests/e2e/e2e_common.go
  tests/e2e/snapshot_vmservice_vm.go
  tests/e2e/vmservice_utils.go
  tests/e2e/vmservice_vm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Use Patch API for cnsvolumemetadata updates from pvcsi
  pkg/syncer/pvcsi_fullsync.go
  pkg/syncer/pvcsi_fullsync_test.go
  pkg/syncer/pvcsi_metadatasyncer.go
  pkg/syncer/pvcsi_metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add snapshot limit enforcement for WCP with per-volume serialization (#3745)
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/controller_helper_test.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Moving out of cf uts
  tests/e2e/vmservice_vm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Spec bump CSI provisioner image
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Moving out of cf uts (#3815)
  tests/e2e/vmservice_vm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Remove error and attached fields from batch attach API as they are no longer needed
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/cnsnodebatchvmattachment_types.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmbatchattachments.yaml
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Unit tests for the changes introduced in #3782
  pkg/csi/service/wcpguest/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Added wait time for the storage quota details to get updated
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/util.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fix invalid reserved values
  pkg/syncer/metadatasyncer.go
  pkg/syncer/metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix invalid reserved values (#3803)
  pkg/syncer/metadatasyncer.go
  pkg/syncer/metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade golang version to 1.25 (#3811)
  go.mod
  go.sum
  hack/release.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
  pkg/apis/storagepool/config/cns.vmware.com_storagepools.yaml
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enhancement - Set resource requirements for syncer container
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Revert "Add Volume Attribute for backing disk type"
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Bump golangci-lint from v1.64.8 to v2.7.2
  .golangci.yml
  hack/check-golangci-lint.sh
Due: pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell

Enhancement - Set resource requirements for syncer container (#3820)
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Bump golangci-lint from v1.64.8 to v2.7.2 (#3822)
  .golangci.yml
  hack/check-golangci-lint.sh
Due: pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell

Revert "Add Volume Attribute for backing disk type" (#3821)
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade CSI provisioner version to tag v5.0.2_vmware.12
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

batchAttach CR in GC test fix
  tests/e2e/e2e_common.go
  tests/e2e/gc_cns_nodevm_attachment.go
  tests/e2e/util.go
  tests/e2e/vmc_scale_gc_workers.go
  tests/e2e/vmc_upgrade_tkg.go
  tests/e2e/vmc_vc_cert_rotate.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

batchAttach CR in GC test fix (#3813)
  tests/e2e/e2e_common.go
  tests/e2e/gc_cns_nodevm_attachment.go
  tests/e2e/util.go
  tests/e2e/vmc_scale_gc_workers.go
  tests/e2e/vmc_upgrade_tkg.go
  tests/e2e/vmc_vc_cert_rotate.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Enhancement - Periodically cleanup PVCs left behind by CnsNodeVmBatchAttachment reconciler
  pkg/common/config/config.go
  pkg/common/config/types.go
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/manager/cleanupcustomresources.go
  pkg/syncer/cnsoperator/manager/cleanupcustomresources_test.go
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Default to FlatVer2 if backing disk annotation is missing on PVC
  pkg/common/unittestcommon/utils.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

f
  pkg/common/unittestcommon/utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Default to FlatVer2 if backing disk annotation is missing on PVC (#3823)
  pkg/common/unittestcommon/utils.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade CSI provisioner version to tag v5.0.2_vmware.12 (#3824)
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Handle CnsNotRegisteredFault by re-registering volumes in CNS operations
  go.mod
  go.sum
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/manager_mock.go
  pkg/common/cns-lib/volume/manager_test.go
  pkg/common/cns-lib/volume/util.go
  pkg/common/unittestcommon/types.go
  pkg/common/utils/utils_test.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/vanilla/controller_topology_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_test.go
  pkg/syncer/byokoperator/manager.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/storagepool/diskDecommissionController.go
  pkg/syncer/storagepool/migrationController.go
  pkg/syncer/syncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Log message update
  pkg/syncer/pvcsi_metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Skipping tkg tests from UTS CF
  tests/e2e/gc_cns_nodevm_attachment.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Skipping tkg tests from UTS CF (#3828)
  tests/e2e/gc_cns_nodevm_attachment.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Enhancement - Periodically cleanup PVCs left behind by CnsNodeVmBatchAttachment reconciler (#3789)
  pkg/common/config/config.go
  pkg/common/config/types.go
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/manager/cleanupcustomresources.go
  pkg/syncer/cnsoperator/manager/cleanupcustomresources_test.go
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
