Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - fmt

pull-vsphere-csi-driver-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - lint

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - vet

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.29.0
      command:
      - make
      args:
      - golangci-lint

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - staticcheck

pull-vsphere-csi-driver-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - build

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - unit-test

Add arg to disable gocsi in SV and pvcsi yamls (#1529)
  manifests/guestcluster/1.18/pvcsi.yaml
  manifests/guestcluster/1.19/pvcsi.yaml
  manifests/guestcluster/1.20/pvcsi.yaml
  manifests/guestcluster/1.21/pvcsi.yaml
  manifests/guestcluster/1.22/pvcsi.yaml
  manifests/supervisorcluster/1.18/cns-csi.yaml
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
Due: none

Fix linter error introduced from PR 1516
  pkg/csi/service/common/common_controller_helper.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pv_to_backingdiskobjectid_mapping.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade go version to 1.17
  go.mod
  go.sum
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix linter error introduced from PR 1516 (#1569)
  pkg/csi/service/common/common_controller_helper.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pv_to_backingdiskobjectid_mapping.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix linter error introduced from PR 1516 (#1569) (#1572)
  pkg/csi/service/common/common_controller_helper.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pv_to_backingdiskobjectid_mapping.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Block Volume Snapshot Test
  tests/e2e/csi_snapshot_basic.go
  tests/e2e/util.go
  tests/e2e/vsphere.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Block Volume Snapshot Test (#1543)
  tests/e2e/csi_snapshot_basic.go
  tests/e2e/util.go
  tests/e2e/vsphere.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

support oidc in release 2.4
  hack/check-format.sh
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/labelupdates.go
  tests/e2e/storagepolicy.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

win stateful set changes new
  tests/e2e/volume_provisioning_with_level5_topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

table3 automation testcases part3
  tests/e2e/topology_multi_replica.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

bump up CSI provisioner for TKGS HA
  manifests/supervisorcluster/1.22/cns-csi.yaml
Due: none

bump up CSI provisioner for TKGS HA (#1580)
  manifests/supervisorcluster/1.22/cns-csi.yaml
Due: none

dev package dependency removal
  tests/e2e/volume_provisioning_with_level5_topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Testcase filename changed
  tests/e2e/volume_provisioning_with_level5_topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

review comments addressed
  tests/e2e/volume_provisioning_with_level5_topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Vsphere conf changes for ListVolume API change (#1510)
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/config/config.go
  pkg/common/config/types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

test pr - do not merge
  pkg/csi/service/vanilla/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

CSI snapshot deployment script improvements
  manifests/vanilla/csi-snapshot-validatingwebhook.yaml
  manifests/vanilla/deploy-csi-snapshot-components.sh
Due: pull-vsphere-csi-driver-verify-shell

command changed
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

CSI snapshot deployment script improvements (#1583)
  manifests/vanilla/csi-snapshot-validatingwebhook.yaml
  manifests/vanilla/deploy-csi-snapshot-components.sh
Due: pull-vsphere-csi-driver-verify-shell

Always report snapshot capabilities
  pkg/common/cns-lib/vsphere/virtualcentermanager.go
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

CSI snapshot deployment script improvements (#1583) (#1586)
  manifests/vanilla/csi-snapshot-validatingwebhook.yaml
  manifests/vanilla/deploy-csi-snapshot-components.sh
Due: pull-vsphere-csi-driver-verify-shell

Always report snapshot capabilities (#1585)
  pkg/common/cns-lib/vsphere/virtualcentermanager.go
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add StorageTopologyType to list of parameters
  pkg/csi/service/wcp/controller_helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Choose a random topology segment if datastore is accessible from multiple zones and storageTopologyType is Zonal
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Setting accessible topologies on GC CreateVolume for TKGS-HA
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/csi/service/wcpguest/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add docs for PV to BackingDiskObjectId mapping
  docs/book/features/pv_to_backingdiskobjectid_mapping.md
Due: pull-vsphere-csi-driver-verify-markdown

Bug fixes for TKGS-HA workflow (#1588)
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/csi/service/wcpguest/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add docs for PV to BackingDiskObjectId mapping (#1581)
  docs/book/features/pv_to_backingdiskobjectid_mapping.md
Due: pull-vsphere-csi-driver-verify-markdown

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
