Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

test case to create wcp namespace and create tkg
  tests/e2e/e2e_common.go
  tests/e2e/gc_create_delete_tkg.go
  tests/e2e/gc_rwx_destructive.go
  tests/e2e/gc_rwx_tkg_scale.go
  tests/e2e/testing-manifests/namespace/namespace.json
  tests/e2e/util.go
  tests/e2e/vmc_create_gc.go
  tests/e2e/vmc_delete_tkg.go
  tests/e2e/vmc_scale_gc_workers.go
  tests/e2e/vmc_upgrade_tkg.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fixing comments in the code.
  .gitlab-ci.yml
  hack/release.sh
  images/ci/e2e/Dockerfile
Due: pull-vsphere-csi-driver-verify-shell

Fixing comments in the code. (#2390)
  .gitlab-ci.yml
  hack/release.sh
  images/ci/e2e/Dockerfile
Due: pull-vsphere-csi-driver-verify-shell

changes to get Create gc function working properly
  tests/e2e/e2e_common.go
  tests/e2e/gc_create_delete_tkg.go
  tests/e2e/testing-manifests/namespace/namespace.json
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Adding a script to create predata for upgrade testbeds
  tests/e2e/preupgrade_datasetup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Adding Script to generate data for upgrade based scenario
  tests/e2e/preupgrade_datasetup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

fix: list-volume fails in multi-vcenter environment if all nodes are in only one vcenter
  pkg/csi/service/vanilla/controller_helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Rename topologyFound to csiNodeTopologyFound
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

[CICD]: Update deploy-dev stage to update only syncer and container images
  pipeline/deploy.sh
Due: pull-vsphere-csi-driver-verify-shell

Populate supervisor FSS values for node plugin in guest cluster (#2386)
  tests/e2e/operationstorm.go
  tests/e2e/vsphere_volume_fsgroup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fix deprecated storage class annotations
  tests/e2e/csi_cns_telemetry.go
  tests/e2e/csi_cns_telemetry_statefulsets.go
  tests/e2e/csi_cns_telemetry_vc_reboot.go
  tests/e2e/csi_snapshot_basic.go
  tests/e2e/file_volume_statefulsets.go
  tests/e2e/gc_cns_nodevm_attachment.go
  tests/e2e/gc_rwx_destructive.go
  tests/e2e/gc_rwx_statefulsets.go
  tests/e2e/gc_rwx_tkg_scale.go
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/labelupdates.go
  tests/e2e/nodes_scaleup_scaledown.go
  tests/e2e/operationstorm.go
  tests/e2e/preferential_topology_snapshot.go
  tests/e2e/raw_block_volume.go
  tests/e2e/staging_env_basic.go
  tests/e2e/statefulset_xfs.go
  tests/e2e/statefulsets.go
  tests/e2e/testing-manifests/statefulset/nginx/statefulset.yaml
  tests/e2e/tkgs_ha.go
  tests/e2e/tkgs_ha_site_down.go
  tests/e2e/tkgs_ha_utils.go
  tests/e2e/topology_multi_replica.go
  tests/e2e/topology_operation_strom_cases.go
  tests/e2e/topology_site_down_cases.go
  tests/e2e/topology_snapshot.go
  tests/e2e/util.go
  tests/e2e/volume_health_test.go
  tests/e2e/volume_provisioning_with_level5_topology.go
  tests/e2e/vsan_stretched_cluster.go
  tests/e2e/vsan_stretched_cluster_utils.go
  tests/e2e/vsphere_volume_disksize.go
  tests/e2e/vsphere_volume_fsgroup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

multi-vc-automation
  tests/e2e/multi-vc.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Array failure fix
  tests/e2e/preupgrade_datasetup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fixing Array outofbound issue
  tests/e2e/preupgrade_datasetup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[CICD]: Update deploy-dev stage to update only syncer and container images (#2391)
  pipeline/deploy.sh
Due: pull-vsphere-csi-driver-verify-shell

Set volumesnapshotname variable in GC CreateVolume to input snapshot ID in all cases
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Set volumesnapshotname variable in GC CreateVolume to input snapshot ID in all cases (#2398)
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Support PV to Backing disk object ID for multi VC deployment.
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pv_to_backingdiskobjectid_mapping.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix use of GetNodeByName when using node's VMUUID (#2387)
  pkg/common/cns-lib/node/manager.go
  pkg/common/cns-lib/node/manager_test.go
  pkg/common/cns-lib/node/nodes.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

TKG Snapshot testcases Automation
  tests/e2e/csi_snapshot_basic.go
  tests/e2e/csi_snapshot_negative.go
  tests/e2e/e2e_common.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/policy_driven_vol_allocation.go
  tests/e2e/tkgs_ha.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

enable list-volume fss for supervisor cluster
  manifests/supervisorcluster/1.23/cns-csi.yaml
  manifests/supervisorcluster/1.24/cns-csi.yaml
  manifests/supervisorcluster/1.25/cns-csi.yaml
  manifests/supervisorcluster/1.26/cns-csi.yaml
Due: none

enable list-volume fss for supervisor cluster (#2401)
  manifests/supervisorcluster/1.23/cns-csi.yaml
  manifests/supervisorcluster/1.24/cns-csi.yaml
  manifests/supervisorcluster/1.25/cns-csi.yaml
  manifests/supervisorcluster/1.26/cns-csi.yaml
Due: none

increase timeouts in some volume allocation tests to account for slow infra while dealing with large sizes on ezt volumes
  tests/e2e/policy_driven_vol_allocation.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

increase timeouts in some volume allocation tests to account for slow infra while dealing with large sizes on ezt volumes (#2403)
  tests/e2e/policy_driven_vol_allocation.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Support PV to Backing disk object ID for multi VC deployment. (#2379)
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pv_to_backingdiskobjectid_mapping.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix: list-volume fails in multi-vcenter environment if all nodes are in only one vcenter (#2395)
  pkg/csi/service/vanilla/controller_helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

vanilla: enable listview fss
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Adding Script to generate data for upgrade based scenario (#2392)
  tests/e2e/preupgrade_datasetup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Add pvcsi 1.26 & 1.27 k8s yaml
  manifests/guestcluster/1.26/pvcsi.yaml
  manifests/guestcluster/1.27/pvcsi.yaml
Due: none

Add pvcsi 1.26 & 1.27 k8s yaml (#2406)
  manifests/guestcluster/1.26/pvcsi.yaml
  manifests/guestcluster/1.27/pvcsi.yaml
Due: none

add test to validate fss
  pkg/common/unittestcommon/utils.go
  tests/e2e/vsphere_volume_with_alpha_feature.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update sidecar args & add PSA labels
  manifests/guestcluster/1.25/pvcsi.yaml
  manifests/guestcluster/1.26/pvcsi.yaml
  manifests/guestcluster/1.27/pvcsi.yaml
Due: none

Add PVCSI 1.25 deployment yaml (#2331)
  manifests/guestcluster/1.25/pvcsi.yaml
Due: none

Populate supervisor FSS values for node plugin in guest cluster (#2386)
  manifests/guestcluster/1.25/pvcsi.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add latest pvcsi 1.25 yaml changes
  manifests/guestcluster/1.25/pvcsi.yaml
Due: none

Cherry-pick pvcsi 1.25, 1.26 & 1.27 deployment yamls (#2408)
  manifests/guestcluster/1.25/pvcsi.yaml
  manifests/guestcluster/1.26/pvcsi.yaml
  manifests/guestcluster/1.27/pvcsi.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

[Code-coverage]: TKG Snapshot tests code coverage
  hack/run-e2e-test.sh
Due: pull-vsphere-csi-driver-verify-shell

fix lint
  tests/e2e/vsphere_volume_with_alpha_feature.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test
