Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - fmt

pull-vsphere-csi-driver-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - lint

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - vet

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.29.0
      command:
      - make
      args:
      - golangci-lint

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - staticcheck

pull-vsphere-csi-driver-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - build

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - unit-test

Update the example YAMLs for topology GA feature (#1363)
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-WaitForFirstConsumer-With-Multiple-Zone-Region.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-WaitForFirstConsumer-restricted.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-WaitForFirstConsumer-with-topology.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-multiple-zones-regions.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-single-zone.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-volume-expansion.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-sc-zone.yaml
Due: none

update the version based on the branch name
  Makefile
Due: none

added an environment variable USE_TAG_AS_VERSION to control the version being injected into the binaries
  Makefile
Due: none

update provisioner image in 1.19 supervisor cluster (#1364)
  manifests/supervisorcluster/1.19/cns-csi.yaml
Due: none

[e2e-test]: Temporarily fix the storage class creation for the WCP tests
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Temporarily fix the storage class creation for the WCP tests (#1371)
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

update the version based on the branch name (#1373)
  Makefile
Due: none

add documentation for windows support
  docs/book/SUMMARY.md
  docs/book/features/csi_driver_on_windows.md
Due: pull-vsphere-csi-driver-verify-markdown

add documentation for windows support (#1366)
  docs/book/SUMMARY.md
  docs/book/features/csi_driver_on_windows.md
Due: pull-vsphere-csi-driver-verify-markdown

add examples for windows (#1343)
  example/vanilla-k8s-RWO-filesystem-volumes/example-windows-pod.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-windows-pvc.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-windows-sc.yaml
Due: none

Update Makefile to use correct release version for csi driver (#1369)
  Makefile
Due: none

Create cnsvolumeoperationrequest while deleting file volumes
  pkg/common/cns-lib/volume/manager.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

embed CRD manifests within binary (#1372)
  cmd/vsphere-csi/main.go
  go.mod
  go.sum
  images/driver/Dockerfile
  images/syncer/Dockerfile
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/migration/config/config.go
  pkg/apis/migration/migration.go
  pkg/apis/storagepool/config/config.go
  pkg/internalapis/cnsoperator/config/config.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/config/config.go
  pkg/internalapis/csinodetopology/config/config.go
  pkg/internalapis/featurestates/config/config.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

embed CRD manifests within binary (#1372) (#1375)
  cmd/vsphere-csi/main.go
  go.mod
  go.sum
  images/driver/Dockerfile
  images/syncer/Dockerfile
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/migration/config/config.go
  pkg/apis/migration/migration.go
  pkg/apis/storagepool/config/config.go
  pkg/internalapis/cnsoperator/config/config.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/config/config.go
  pkg/internalapis/csinodetopology/config/config.go
  pkg/internalapis/featurestates/config/config.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Modify clean up logic to deal with file volumes
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Create cnsvolumeoperationrequest while deleting file volumes (#1374)
  pkg/common/cns-lib/volume/manager.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Create cnsvolumeoperationrequest while deleting file volumes (#1374) (#1376)
  pkg/common/cns-lib/volume/manager.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fixed the issue in CnsVolumeOperationRequests when block-volume-snapshot is not enabled
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Address review comments on the release pages
  docs/book/compatiblity_matrix.md
  docs/book/releases/v2.0.0.md
  docs/book/releases/v2.0.1.md
  docs/book/releases/v2.0.2.md
Due: pull-vsphere-csi-driver-verify-markdown

Timeout NodeGetInfo calls until all the nodes are registered in the node manager
  pkg/common/cns-lib/node/manager.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enable topology GA feature gate
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Timeout NodeGetInfo calls until all the nodes are registered in the node manager (#1378)
  pkg/common/cns-lib/node/manager.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enable topology GA feature gate (#1379)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Address review comments on the compatibility matrix
  docs/book/compatiblity_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

Timeout NodeGetInfo calls until all the nodes are registered in the node manager (#1378) (#1380)
  pkg/common/cns-lib/node/manager.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Resolved linter issue
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
