Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - fmt
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - vet
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.58.2
      command:
      - make
      args:
      - golangci-lint
      resources:
        limits:
          cpu: 4
          memory: 6Gi
        requests:
          cpu: 4
          memory: 6Gi

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      - make
      - shellcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - staticcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-build:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - build
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - unit-test
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

Updated description of Force Unregister field
  pkg/apis/cnsoperator/cnsunregistervolume/v1alpha1/cnsunregistervolume_types.go
  pkg/apis/cnsoperator/config/cnsunregistervolume_crd.yaml
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/cnsunregistervolume_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Force register
  pkg/apis/cnsoperator/cnsunregistervolume/v1alpha1/cnsunregistervolume_types.go
  pkg/apis/cnsoperator/config/cnsunregistervolume_crd.yaml
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Introduced logic to cache available virtual machine versions and use them to list VMs
  cmd/vsphere-csi/main.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/cnsunregistervolume_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Refactored CNS Unregister Volume code
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/cnsunregistervolume_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Added a few TODOs
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/cnsunregistervolume_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enhanced CNS Unregister Volume workflow to check for snapshots
  go.mod
  go.sum
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/cnsunregistervolume_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

wffc code changes for vm service vm
  tests/e2e/csi_snapshot_utils.go
  tests/e2e/e2e_common.go
  tests/e2e/snapshot_vmservice_vm.go
  tests/e2e/vm_service_vsan_stretch_cluster.go
  tests/e2e/vmservice_utils.go
  tests/e2e/vmservice_vm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Add CnsSharedDiskVolumeClient CRD
  pkg/internalapis/cnsoperator/cnsvolumeattachment/cnsvolumeattachment.go
  pkg/internalapis/cnsoperator/cnsvolumeattachment/cnsvolumeattachment_test.go
  pkg/internalapis/cnsoperator/cnsvolumeattachment/v1alpha1/cnsvolumeattachment_types.go
  pkg/internalapis/cnsoperator/cnsvolumeattachment/v1alpha1/doc.go
  pkg/internalapis/cnsoperator/cnsvolumeattachment/v1alpha1/zz_generated.deepcopy.go
  pkg/internalapis/cnsoperator/config/cnsvolumeattachment_crd.yaml
  pkg/internalapis/cnsoperator/config/config.go
  pkg/internalapis/register.go
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update CnsRegisterColume API for multiwriter
  pkg/apis/cnsoperator/cnsregistervolume/v1alpha1/cnsregistervolume_types.go
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/constants.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Added method docs
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/cnsunregistervolume_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Refactored isUnregisterable func
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/cnsunregistervolume_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

CSI Support for Consumer ViratualMachine Snapshots
  go.mod
  go.sum
  pkg/apis/cnsoperator/register.go
  pkg/common/cns-lib/volume/manager.go
  pkg/common/utils/utils.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/syncer/cnsoperator/controller/add_virtualmachinesnapshot.go
  pkg/syncer/cnsoperator/controller/virtualmachinesnapshot/virtualmachinesnapshot_controller.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Sync volume for VitrualMachineSnapshot
  go.mod
  go.sum
  pkg/apis/cnsoperator/register.go
  pkg/common/cns-lib/volume/manager.go
  pkg/common/utils/utils.go
  pkg/csi/service/common/util.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/types.go
  pkg/syncer/virtual_machine_snapshot_reconciler.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Adding resource quota fro vphere-csi namespace
  manifests/guestcluster/1.34/pvcsi.yaml
Due: none

add per volume lock for removePermissionsForFileVolume and configureNetPermissionsForFileVolume
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

validate CNSRegistreVolume to disallow registering volume not accessible to active clusters on namespace
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

validate CNSRegistreVolume to disallow registering volume not accessible to active clusters on namespace (#3436)
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enable WCP_VMService_BYOK FSS by default
  manifests/supervisorcluster/1.28/cns-csi.yaml
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

wffc vmservicevm regression code changes
  tests/e2e/csi_snapshot_utils.go
  tests/e2e/e2e_common.go
  tests/e2e/snapshot_vmservice_vm.go
  tests/e2e/vm_service_vsan_stretch_cluster.go
  tests/e2e/vmservice_vm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Add new CnsNodeVmAttachment CRD
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/cnsnodebatchvmattachment_types.go
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmbatchattachments.yaml
  pkg/apis/cnsoperator/register.go
  pkg/common/prometheus/metrics.go
  pkg/syncer/cnsoperator/controller/add_cnsnodevmbatchattachment.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/util/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Adding new test for static provisioning
  tests/e2e/bootstrap/bootstrap.go
  tests/e2e/env/os_environment_util.go
  tests/e2e/k8testutil/util.go
  tests/e2e/provisioning/static_provisioning.go
  tests/e2e/provisioning/suite_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Enable WCP_VMService_BYOK FSS by default (#3442)
  manifests/supervisorcluster/1.28/cns-csi.yaml
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Use VolFromSnapshotOnTargetDs FSS (#3431)
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  pkg/csi/service/common/constants.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Adding resource quota fro vphere-csi namespace (#3441)
  manifests/guestcluster/1.34/pvcsi.yaml
Due: none

add per volume lock for removePermissionsForFileVolume and configureNetPermissionsForFileVolume (#3439)
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Datastore rename test fixes
  tests/e2e/csi_snapshot_utils.go
  tests/e2e/ds_rename.go
  tests/e2e/storage_policy_utils.go
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vsan_stretched_cluster_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

vsan stretch cluster fixes
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vm_service_vsan_stretch_cluster.go
  tests/e2e/vmservice_utils.go
  tests/e2e/vsan_stretched_cluster.go
  tests/e2e/vsan_stretched_cluster_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Performance Improvement - Reduce unstructured usages from Storage Pools
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/k8scloudoperator/placement.go
  pkg/syncer/storagepool/diskDecommissionController.go
  pkg/syncer/storagepool/intended_state.go
  pkg/syncer/storagepool/listener.go
  pkg/syncer/storagepool/migrationController.go
  pkg/syncer/storagepool/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Implement session manager client on CSI
  docs/book/vc_shared_sessions.md
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/vc_session_manager.go
  pkg/common/cns-lib/vsphere/vc_session_manager_test.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/config/config.go
  pkg/common/config/config_test.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/vsphereutil.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix broken unittest
  pkg/csi/service/common/vsphereutil_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update OWNERS file
  OWNERS
Due: none

Performance Improvement - Reduce unstructured usages from Storage Pools (#3435)
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/k8scloudoperator/placement.go
  pkg/syncer/storagepool/diskDecommissionController.go
  pkg/syncer/storagepool/intended_state.go
  pkg/syncer/storagepool/listener.go
  pkg/syncer/storagepool/migrationController.go
  pkg/syncer/storagepool/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove volume-extend fss
  manifests/guestcluster/1.33/pvcsi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

start zone informers and skip storagepool for multiple zone per cluster
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/commonco/k8sorchestrator/wcp_node.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Attach CNS volumes as persistent independent
  pkg/common/cns-lib/volume/manager.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

tkgs ha tests fix
  tests/e2e/tkgs_ha_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Added my username to reviewers and approvers list
  OWNERS
Due: none

CnsNodeVmBatchAttach Reconcilitation logic
  go.mod
  go.sum
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/cnsnodebatchvmattachment_types.go
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmbatchattachments.yaml
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/cnsoperator/register.go
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/util.go
  pkg/common/fault/constants.go
  pkg/common/prometheus/metrics.go
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/syncer/cnsoperator/controller/add_cnsnodevmbatchattachment.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/cnsoperator/util/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Implement session manager client on CSI (#3419)
  docs/book/vc_shared_sessions.md
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/vc_session_manager.go
  pkg/common/cns-lib/vsphere/vc_session_manager_test.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/config/config.go
  pkg/common/config/config_test.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
