Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

moving v2.0.0 and v2.0.1 from master to release 2.0 branch
  manifests/v1.0.2/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.0/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.0/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.0/vsphere-67u3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.0/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.0/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.0/vsphere-7.0/guestcluster/1.15/pvcsi.yaml
  manifests/v2.0.0/vsphere-7.0/guestcluster/1.16/pvcsi.yaml
  manifests/v2.0.0/vsphere-7.0/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.0/vsphere-7.0/supervisorcluster/k8s-1.15/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.0/vsphere-7.0/supervisorcluster/k8s-1.15/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.1/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.1/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.1/vsphere-67u3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.1/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.1/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.1/vsphere-7.0/rbac/vsphere-csi-controller-rbac.yaml
Due: none

adding junit reporter
  .gitignore
  tests/e2e/suite_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Add k8s 1.21 yaml for Supervisor cluster
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.21/cns-csi.yaml
Due: none

Spec for CnsVolumeOperationRequest Custom Resource
  pkg/internalapis/cnsvolumeoperationrequest/v1alpha1/cnsvolumeoperationrequest_types.go
  pkg/internalapis/cnsvolumeoperationrequest/v1alpha1/register.go
  pkg/internalapis/cnsvolumeoperationrequest/v1alpha1/zz_generated.deepcopy.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

remove v1.0.1 references
  README.md
  docs/book/SUMMARY.md
Due: pull-vsphere-csi-driver-verify-markdown

upgrading ci golang image
  images/ci/Dockerfile
Due: none

add periods to a few comments in node.go
  pkg/csi/service/node.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

set max volumes per node
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/csi/service/node.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove duplicate configmaps in 1.15 and 1.16 yamls
  manifests/supervisorcluster/1.15/cns-csi.yaml
  manifests/supervisorcluster/1.16/cns-csi.yaml
Due: none

upgrading photon to 4.0
  images/driver-base/Dockerfile
  images/driver/Dockerfile
Due: none

fixed detach volume error handling
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/util.go
  pkg/common/cns-lib/vsphere/utils.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fixed misspell reported by golangci-lint
  pkg/syncer/k8scloudoperator/placement.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_create_delete.go
  tests/e2e/vsphere.go
  tests/e2e/vsphere_file_volume_basic_mount.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add definition for CnsQueryAsyncVolume API
  go.mod
  go.sum
  manifests/supervisorcluster/1.17/cns-csi.yaml
  manifests/supervisorcluster/1.18/cns-csi.yaml
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/utils/utils.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
  pkg/syncer/volume_health.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Create CnsVolumeOperationRequest definiton on API server during Vanilla and WCP controller Init(). Introduce new fss flag for this idempotency handling feature.
  manifests/supervisorcluster/1.18/cns-csi.yaml
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/csi/service/common/constants.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/kubernetes/kubernetes.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up logger.go
  pkg/csi/service/logger/logger.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up comments in pkg/kubernetes
  pkg/kubernetes/dynamicInformers.go
  pkg/kubernetes/informers.go
  pkg/kubernetes/kubernetes.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Added online volume resize test cases 1st set
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Addressed review comments
  tests/e2e/util.go
  tests/e2e/vmc_csi_deployments.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Addressed Review comments
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Remove namespace creation from cns-csi yaml
  manifests/supervisorcluster/1.15/cns-csi.yaml
  manifests/supervisorcluster/1.16/cns-csi.yaml
  manifests/supervisorcluster/1.17/cns-csi.yaml
  manifests/supervisorcluster/1.18/cns-csi.yaml
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
Due: none

Clean up service.go: comments and whitespaces
  pkg/csi/service/logger/logger.go
  pkg/csi/service/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test
