Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

declare nfsv4 datastore is not supported
  docs/book/compatiblity_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

Add CRD permissions for TKG and Vanilla older CSI drivers
  manifests/dev/vsphere-67u3/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.17/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.18/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.19/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.20/pvcsi.yaml
Due: none

Assign clusterflavor to TriggerCsiFullSyncReconciler
  pkg/syncer/cnsoperator/controller/triggercsifullsync/triggercsifullsync_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix vSphere 7.0 CSI YAML
  manifests/dev/vsphere-7.0/vanilla/vsphere-csi-driver.yaml
Due: none

re-try reload config operation
  cmd/syncer/main.go
  go.mod
  go.sum
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/cns-lib/vsphere/virtualcentermanager.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/util.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsvolumemetadata/cnsvolumemetadata_controller.go
  pkg/syncer/cnsoperator/controller/controller.go
  pkg/syncer/cnsoperator/controller/triggercsifullsync/triggercsifullsync_controller.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/storagepool/service.go
  pkg/syncer/syncer_test.go
  pkg/syncer/types.go
  pkg/syncer/types/commontypes.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Refactor VMC related document.
  docs/book/SUMMARY.md
  docs/book/driver-deployment/installation.md
  docs/book/driver-deployment/prerequisites.md
  docs/book/features/vsphere_csi_vmc.md
Due: pull-vsphere-csi-driver-verify-markdown

Updated documentation for cluster-distribution in csi-vsphere.conf
  docs/book/SUMMARY.md
  docs/book/driver-deployment/installation.md
  docs/book/features/cns_telemetry.md
Due: pull-vsphere-csi-driver-verify-markdown

VC check for online volume expansion workflow
  manifests/dev/vsphere-67u3/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0u1/vanilla/vsphere-csi-driver.yaml
  pkg/common/cns-lib/vsphere/virtualcentermanager.go
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

re-try reload config operation
  cmd/syncer/main.go
  go.mod
  go.sum
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/cns-lib/vsphere/virtualcentermanager.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/util.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsvolumemetadata/cnsvolumemetadata_controller.go
  pkg/syncer/cnsoperator/controller/controller.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/storagepool/service.go
  pkg/syncer/syncer_test.go
  pkg/syncer/types.go
  pkg/syncer/types/commontypes.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fail gracefully if volume expansion is attempted on vSphere 6.7U3
  pkg/csi/service/vanilla/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

VC check for online volume expansion workflow
  manifests/v2.2.0/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0u1/deploy/vsphere-csi-controller-deployment.yaml
  pkg/common/cns-lib/vsphere/virtualcentermanager.go
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update RC images
  manifests/v2.2.0/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/vsphere-7.0u1/deploy/validatingwebhook.yaml
  manifests/v2.2.0/vsphere-7.0u1/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0u1/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/vsphere-7.0u2/deploy/validatingwebhook.yaml
  manifests/v2.2.0/vsphere-7.0u2/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0u2/deploy/vsphere-csi-node-ds.yaml
Due: none

Remove optional tag from cluster-distribution docs
  docs/book/driver-deployment/installation.md
Due: pull-vsphere-csi-driver-verify-markdown

Replacing the usage of CNS Query with QueryAll(with selection) to avoid SPBM workflows.
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Automation tests for CSI support for CNS Telemetry
  tests/e2e/config.go
  tests/e2e/csi_cns_telemetry.go
  tests/e2e/e2e_common.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Handle virtual machine not found error in pvCSI ControllerUnPublishVolume
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update driver manifests to indicate api version for CSIDriver
  manifests/dev/vsphere-67u3/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0/vanilla/vsphere-csi-driver.yaml
  manifests/v2.1.1/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.1.1/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
Due: none

update images tag to v2.2.0-rc.3
  manifests/v2.2.0/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/vsphere-7.0u1/deploy/validatingwebhook.yaml
  manifests/v2.2.0/vsphere-7.0u1/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0u1/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/vsphere-7.0u2/deploy/validatingwebhook.yaml
  manifests/v2.2.0/vsphere-7.0u2/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0u2/deploy/vsphere-csi-node-ds.yaml
Due: none

Update image name during builds
  Makefile
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

Add script to verify vendored dependencies
  hack/verify-vendor.sh
Due: pull-vsphere-csi-driver-verify-shell

Remove generating syncer_manifest everytime a build is run
  Makefile
Due: none

Add register disk method for promoting virtual disk as first class disk using vslm endpoint
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/cns-lib/vsphere/vslm.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Consolidate CSI driver yamls for supervisor cluster
  manifests/dev/vsphere-67u3/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0/supervisorcluster/k8s-1.15/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0/supervisorcluster/k8s-1.15/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0u1/supervisorcluster/k8s-1.15/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u1/supervisorcluster/k8s-1.15/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0u1/supervisorcluster/k8s-1.16/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0u1/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.17/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.18/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.19/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.17/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.17/vsphere-csi-controller.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.18/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.19/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.19/vsphere-csi-controller.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.20/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/vanilla/vsphere-csi-driver.yaml
Due: none
