Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Addressed Saloni's comments
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove inClusterClnt bool param from NewInformer (#4069)
  pkg/common/cns-lib/node/nodes.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/wcp/controller.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/kubernetes/informers.go
  pkg/syncer/dpoperator/manager.go
  pkg/syncer/fullsync_test.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Corrected test
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Initial implementation of using informer caches for snapshots
  manifests/guestcluster/1.33/pvcsi.yaml
  manifests/guestcluster/1.34/pvcsi.yaml
  manifests/guestcluster/1.35/pvcsi.yaml
  manifests/guestcluster/1.36/pvcsi.yaml
  pkg/common/cns-lib/node/nodes.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_test.go
  pkg/csi/service/wcp/controller.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/kubernetes/informers.go
  pkg/kubernetes/informers_test.go
  pkg/kubernetes/types.go
  pkg/syncer/dpoperator/manager.go
  pkg/syncer/fullsync_test.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Optimised singleton pattern for NewInformer
  pkg/kubernetes/informers.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Addressed review comments
  pkg/apis/cnsoperator/config/cns.vmware.com_storagepolicyinfos.yaml
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/storagepolicyinfo_types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix nil snapshotterClient panic on WCP in k8sorchestrator
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fixed NPE in WCP controller due to incorrect initialisation of snap client
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Addressed review comment to update infrastoragepolicyinfo to remove omitempty and make AccessibleZones a required field
  pkg/apis/cnsoperator/config/cns.vmware.com_infrastoragepolicyinfos.yaml
  pkg/apis/cnsoperator/infrastoragepolicyinfo/v1alpha1/infrastoragepolicyinfo_types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

skipping expansion test from uts wl
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

skipping expansion test from uts wl (#4072)
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Reverted changes to NewInformer Introduced SetSnapshotInformerFactory method on informer manager to set the snapshot informer
  pkg/common/cns-lib/node/nodes.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_test.go
  pkg/csi/service/wcp/controller.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/kubernetes/informers.go
  pkg/kubernetes/informers_test.go
  pkg/syncer/dpoperator/manager.go
  pkg/syncer/fullsync_test.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

changed error string to start with smallcase and correct test
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig.go
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

changed error string to start with smallcase and correct test
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade Golang to 1.26.3 and update x/net and grpc version to fix CVEs
  go.mod
  go.sum
  hack/release.sh
  images/ci/Dockerfile
  images/ci/e2e/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Addressed review comments
  pkg/apis/cnsoperator/config/cns.vmware.com_infrastoragepolicyinfos.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_storagepolicyinfos.yaml
  pkg/apis/cnsoperator/infrastoragepolicyinfo/v1alpha1/infrastoragepolicyinfo_types.go
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/storagepolicyinfo_types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade Golang to 1.26.3 and update x/net and grpc version to fix CVEs (#4075)
  go.mod
  go.sum
  hack/release.sh
  images/ci/Dockerfile
  images/ci/e2e/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Cached client
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig.go
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Addressed copilot'c comments
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig.go
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add volume capabilities for policy
  pkg/apis/cnsoperator/infrastoragepolicyinfo/v1alpha1/infrastoragepolicyinfo_types.go
  pkg/csi/service/common/constants.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/helper.go
  pkg/syncer/cnsoperator/util/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

corrected spelling mistake
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix PvCSI service account regex security vulnerability (SUP-VULN-0009) (#4024)
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig.go
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update golang, x/net and grpc
  go.mod
  go.sum
  images/ci/Dockerfile
  images/ci/e2e/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

updated go version in release
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

Allow unit tests to pass when ran from k8s pods
  pkg/csi/service/driver_test.go
  pkg/csi/service/node_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Allow unit tests to pass when ran from k8s pods (#4079)
  pkg/csi/service/driver_test.go
  pkg/csi/service/node_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add StoragePolicyInfo CRD (#4065)
  pkg/apis/cnsoperator/config/cns.vmware.com_storagepolicyinfos.yaml
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/cnsoperator/register.go
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/doc.go
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/storagepolicyinfo_types.go
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/zz_generated.deepcopy.go
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add pagination to iterate over all entries received from VADP CBT API
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/manager_mock.go
  pkg/common/cns-lib/volume/manager_test.go
  pkg/common/unittestcommon/types.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/csi/service/wcp/controller_cbt.go
  pkg/csi/service/wcp/controller_cbt_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Revert "Fix PvCSI service account regex security vulnerability (SUP-VULN-0009) (#4024)"
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig.go
  pkg/syncer/admissionhandler/validate_cnsfileaccessconfig_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add/remove CBT enablement label on guest cluster PVC, based on same label present on associated supervisor cluster PVC
  manifests/guestcluster/1.34/pvcsi.yaml
  manifests/guestcluster/1.35/pvcsi.yaml
  manifests/guestcluster/1.36/pvcsi.yaml
  pkg/syncer/pvcsi_fullsync.go
  pkg/syncer/pvcsi_fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add a skeleton controller for the StoragePolicyInfo CRD, which carries namespace-level storage policy topology information.
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
  pkg/syncer/cnsoperator/controller/add_storagepolicyinfo.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update deployment yaml files for v3.7.2-rc.1
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Logging GOLMEMLIMIT if set for memory management visibility
  cmd/syncer/main.go
  cmd/vsphere-csi/main.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add GOMEMLIMIT to supervisor CSI controller and syncer containers
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
Due: none

Ran go mod tidy as few changes in go.mod missed in last commit
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Implement VAC-based StoragePolicyUsage creation
  pkg/syncer/metadatasyncer.go
  pkg/syncer/metadatasyncer_test.go
  pkg/syncer/storage_policy_quota_reconciler.go
  pkg/syncer/storage_policy_quota_reconciler_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update deployment yaml files for v3.7.2-rc.1 (#4077)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Addressed review comments
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test
