Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Update deployment yaml files for v3.7.3
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update deployment yaml files for v3.8.0-rc.1 (#4187)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Allow only the hosts belonging to active clusters to be considered for linkedclone. (#4182)
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/helper.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/volume_capabilities_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Don't make duplicate create CNS volume call if the previous call already succeeded
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/manager_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Mark LinkedClone and HighPerformanceLinkedClone as false by default for namespace-scoped StoragePolicyInfo CRs of the vSAN File Service marker policy
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/volume_capabilities_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix panic to handle pvc get failure in some race conditions
  pkg/syncer/pvcsi_fullsync.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Mark LinkedClone and HighPerformanceLinkedClone as false by default for namespace-scoped StoragePolicyInfo CRs of the vSAN File Service marker policy (#4188)
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/volume_capabilities_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add an AvailabilityZone CR watch to the ClusterStoragePolicyInfo controller so AZ changes reactively recompute topology and LinkedClone/HPLC for affected policies.
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/vsphereinfra/cache.go
  pkg/syncer/cnsoperator/vsphereinfra/cache_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add a cache warm delay for ns scoped SPI controller
  hack/release.sh
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add aggregate-to-view RBAC ClusterRole to grant devops users read-only access to namespaced StoragePolicyInfo CRs.
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
Due: none

Add aggregate-to-view RBAC ClusterRole to grant devops users read-only access to namespaced StoragePolicyInfo CRs. (#4194)
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
Due: none

Fix panic to handle pvc get failure in some race conditions (#4193)
  pkg/syncer/pvcsi_fullsync.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add an AvailabilityZone CR watch to the ClusterStoragePolicyInfo controller so AZ changes reactively recompute topology and LinkedClone/HPLC for affected policies. (#4183)
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/vsphereinfra/cache.go
  pkg/syncer/cnsoperator/vsphereinfra/cache_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add a cache warm delay for ns scoped SPI controller (#4186)
  hack/release.sh
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Removed un necessary check
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add driver-image, driver-windows-image, and syncer-image Makefile targets for building single component images.
  Makefile
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

Update deployment yaml files for v3.7.3 (#4189)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Mark volumes as pv missing user force deletes retain pv
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Scope CnsNodeVMBatchAttachment lookups to the PVC's own namespace instead of listing cluster-wide.
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Operator wiring in init.go
  pkg/syncer/cnsoperator/controller/add_vksregistervolume.go
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

VKSRegisterVolume: Supervisor watch + guest PV creation + direct bind + Registered
  pkg/syncer/cnsoperator/controller/vksregistervolume/pvspec.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/pvspec_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/supervisor_watch.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/supervisor_watch_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/validation_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/vksregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/vksregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Classify Supervisor volumes with more granularity. (#4177)
  pkg/csi/service/common/constants.go
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add driver-image, driver-windows-image, and syncer-image Makefile targets for building single component images. (#4195)
  Makefile
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

VKSRegisterVolume: Supervisor watch + guest PV creation + direct bind + Registered (#4168)
  pkg/syncer/cnsoperator/controller/vksregistervolume/pvspec.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/pvspec_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/supervisor_watch.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/supervisor_watch_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/validation_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/vksregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/vksregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Operator wiring in init.go (#4176)
  pkg/syncer/cnsoperator/controller/add_vksregistervolume.go
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix orphaned volume attachments caused by pvCSI reporting attach timeouts as final failures
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/csi/service/wcpguest/controller_timeout_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Revert DO_WINDOWS_BUILD_ENV to true
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

Revert DO_WINDOWS_BUILD_ENV to true (#4197)
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

update the capability and fss
  pkg/csi/service/common/constants.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/supervisor_watch_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/validation.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/validation_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/vksregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/vksregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

update the capability and fss (#4180)
  pkg/csi/service/common/constants.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/supervisor_watch_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/validation.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/validation_test.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/vksregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/vksregistervolume/vksregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Set the right accessible topology for creating a pvc with volumesnapshot
  pkg/csi/service/wcp/controller.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Annotate all supervisor volumes with appropriate category
  hack/release.sh
  pkg/csi/service/common/constants.go
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix FIPS-only TLS enforcement regression on CNS-CSI admission webhook
  pkg/syncer/admissionhandler/fipsonly_on.go
  pkg/syncer/admissionhandler/fipsonly_on_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Improve error message in batch attach result
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/util.go
  pkg/common/cns-lib/volume/util_fault_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix FIPS-only TLS enforcement regression on CNS-CSI admission webhook (#4201)
  pkg/syncer/admissionhandler/fipsonly_on.go
  pkg/syncer/admissionhandler/fipsonly_on_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update 1.35 cns-csi.yaml to use v6.3.0+vmware.2 provisioner
  manifests/supervisorcluster/1.35/cns-csi.yaml
Due: none

Update 1.34 cns-csi.yaml to use v6.3.0+vmware.2 provisioner
  manifests/supervisorcluster/1.34/cns-csi.yaml
Due: none

Update 1.33 cns-csi.yaml to use v6.3.0+vmware.2 provisioner
  manifests/supervisorcluster/1.33/cns-csi.yaml
Due: none

Update 1.32 cns-csi.yaml to use v6.3.0+vmware.2 provisioner
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Fix quota counting in cnsregistervolume
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test
