Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

disable X_CSI_DEBUG on vsphere-csi-node container and printing req and response for NodeGetInfo
  manifests/dev/vsphere-67u3/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0u1/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0u2/vanilla/vsphere-csi-driver.yaml
  pkg/csi/service/node.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix fake attach error when PVC gets deleted before detach completes in WCP
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

CSI migration support on vSphere67p04 and 7.0
  manifests/dev/vsphere-67u3/vanilla/vsphere-csi-driver.yaml
  manifests/dev/vsphere-7.0/vanilla/vsphere-csi-driver.yaml
  pkg/apis/migration/migration.go
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/common/common_controller_helper_test.go
  pkg/csi/service/common/constants.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

adding retry and refactoring ReloadConfiguration for wcp and gc
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

removed SV and TKG Cluster features from the doc
  docs/book/SUMMARY.md
  docs/book/features/block_volume.md
  docs/book/features/volume_expansion.md
  docs/book/features/volume_health.md
  docs/book/known_issues.md
  docs/book/limits.md
  docs/book/overview.md
  docs/book/troubleshooting.md
Due: pull-vsphere-csi-driver-verify-markdown

Remove broken links and update documentation to make it generic across releases
  docs/book/driver-deployment/deploying_csi_with_zones.md
  docs/book/driver-deployment/installation.md
  docs/book/driver-deployment/prerequisites.md
Due: pull-vsphere-csi-driver-verify-markdown

supervisor feature switch states replications on workload namespaces
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.17/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.18/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.19/cns-csi.yaml
  pkg/csi/service/common/constants.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/kubernetes/informers.go
  pkg/kubernetes/types.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix fetch certificate file step in validation-webhook creation step
  manifests/dev/vsphere-7.0u1/vanilla/create-validation-webhook.sh
  manifests/dev/vsphere-7.0u2/vanilla/create-validation-webhook.sh
Due: pull-vsphere-csi-driver-verify-shell

Create a Pod with securityContext and fsGroup
  tests/e2e/util.go
  tests/e2e/vsphere_volume_fsgroup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Handle virtualmachine not found errors during pvcsi detach operation
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

reduced poll timeout
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/volume_health_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

e2e-test - fix fsgroup pod test for wcp
  tests/e2e/vsphere_volume_fsgroup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Add priority class for pvcsi deployment and daemon sets
  manifests/dev/vsphere-7.0u2/guestcluster/1.17/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.18/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.19/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.20/pvcsi.yaml
Due: none

Add default fstype to pvcsi and cnscsi manifests since they are using external-provisioner v2.1.0
  manifests/dev/vsphere-7.0u2/guestcluster/1.17/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.18/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.19/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.20/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.17/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.18/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.19/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.20/cns-csi.yaml
Due: none

Change enable-leader-election flag
  manifests/dev/vsphere-7.0u2/guestcluster/1.17/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.18/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.19/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.20/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.17/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.18/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.19/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.20/cns-csi.yaml
Due: none

Update csi-provisioner image
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.17/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.18/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.19/cns-csi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/1.20/cns-csi.yaml
Due: none

keep single deployment for all vsphere releases for v2.2.0 release
  manifests/v2.2.0/deploy/create-validation-webhook.sh
  manifests/v2.2.0/deploy/generate-signed-webhook-certs.sh
  manifests/v2.2.0/deploy/validatingwebhook.yaml
  manifests/v2.2.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.2.0/rbac/vsphere-csi-node-rbac.yaml
  manifests/v2.2.0/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/vsphere-67u3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.2.0/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/vsphere-7.0/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.2.0/vsphere-7.0/rbac/vsphere-csi-node-rbac.yaml
  manifests/v2.2.0/vsphere-7.0u1/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/vsphere-7.0u1/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.0/vsphere-7.0u1/rbac/vsphere-csi-node-rbac.yaml
  manifests/v2.2.0/vsphere-7.0u2/deploy/create-validation-webhook.sh
  manifests/v2.2.0/vsphere-7.0u2/deploy/generate-signed-webhook-certs.sh
  manifests/v2.2.0/vsphere-7.0u2/deploy/validatingwebhook.yaml
  manifests/v2.2.0/vsphere-7.0u2/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.2.0/vsphere-7.0u2/rbac/vsphere-csi-node-rbac.yaml
Due: pull-vsphere-csi-driver-verify-shell

replacing v2.2.0-rc.3 with v2.2.0
  manifests/v2.2.0/deploy/validatingwebhook.yaml
  manifests/v2.2.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.0/deploy/vsphere-csi-node-ds.yaml
Due: none

v2.2.0 release doc, removal of Supervisor and TKG Features and updated feature matrix and compatibility matrix pages
  README.md
  docs/book/SUMMARY.md
  docs/book/compatiblity_matrix.md
  docs/book/features/block_volume.md
  docs/book/features/file_volume.md
  docs/book/features/volume_expansion.md
  docs/book/features/volume_health.md
  docs/book/features/vsphere_csi_migration.md
  docs/book/known_issues.md
  docs/book/limits.md
  docs/book/overview.md
  docs/book/releases/v2.0.0.md
  docs/book/releases/v2.0.1.md
  docs/book/releases/v2.1.0.md
  docs/book/releases/v2.1.1.md
  docs/book/releases/v2.2.0.md
  docs/book/supported_features_matrix.md
  docs/book/troubleshooting.md
  example/sv-block-driver/static-block-provisioning-fcd.yaml
  example/sv-block-driver/static-block-provisioning-vmdk.yaml
  example/vanilla-k8s-file-driver/example-static-fileshare-provisioning.yaml
Due: pull-vsphere-csi-driver-verify-markdown

Filter datastores for file volume creation in WCP
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Migration Updates
  docs/book/features/vsphere_csi_migration.md
Due: pull-vsphere-csi-driver-verify-markdown

Suppress error from cleanup
  docs/book/features/vsphere_csi_migration.md
  manifests/dev/vsphere-7.0u2/vanilla/create-validation-webhook.sh
  manifests/v2.1.0/vsphere-7.0u1/deploy/create-validation-webhook.sh
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown
