Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - fmt
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - vet
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.58.2
      command:
      - make
      args:
      - golangci-lint
      resources:
        limits:
          cpu: 4
          memory: 6Gi
        requests:
          cpu: 4
          memory: 6Gi

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      - make
      - shellcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - staticcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-build:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - build
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - unit-test
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

Upgrade Go to 1.26.2 on release-3.6 (#3989)
  go.mod
  hack/check-golangci-lint.sh
  hack/release.sh
  images/ci/Dockerfile
  images/ci/e2e/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

syncer: skip CNS metadata push for FVS-backed file volumes
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/syncer/fullsync.go
  pkg/syncer/fvs_skip_metadata_test.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pvcsi_fullsync.go
  pkg/syncer/pvcsi_metadatasyncer.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

wcpguest: skip CnsFileAccessConfig for FVS-backed file volumes on publish/unpublish
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/fvs_publish.go
  pkg/csi/service/wcpguest/fvs_publish_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Verify if storagepolicy has been deleted from the VC
  pkg/common/cns-lib/vsphere/pbm.go
  pkg/common/utils/utils.go
  pkg/csi/service/common/constants.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Batch Attach race condition fix
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade csi-proxy dependecy to v2.0.0-alpha.2
  Makefile
  go.mod
  go.sum
  images/windows/driver/Dockerfile
  pkg/csi/service/mounter/mounter_windows.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade to k8s version 1.36
  go.mod
  go.sum
  pkg/apis/cbtconfig/v1alpha1/cbtconfig_types.go
  pkg/apis/cbtconfig/v1alpha1/groupversion_info.go
  pkg/apis/storagepool/cns/v1alpha1/register.go
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/hci_mesh_rwx_disruptive.go
  tests/e2e/no_hci_mesh_rwx_multivc_topology.go
  tests/e2e/svmotion_volumes.go
  tests/e2e/tkgs_ha.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

enable CBT for PVC during attachment
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Implement CSI CBT in pvCSI
  go.mod
  go.sum
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_cbt_test.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/identity.go
  pkg/csi/service/server.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_cbt.go
  pkg/csi/service/wcp/controller_cbt_test.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_cbt.go
  pkg/csi/service/wcpguest/controller_cbt_test.go
  pkg/csi/service/wcpguest/controller_test.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

wcpguest: skip CnsFileAccessConfig for FVS-backed file volumes on publish/unpublish
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/fvs_publish.go
  pkg/csi/service/wcpguest/fvs_publish_test.go
  pkg/syncer/fvs_skip_metadata_test.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix cloud build image name to pull latest (#4008)
  cloudbuild.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Tag CSI Images to v3.6.2 (#4007)
  cloudbuild.yaml
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Initial experimentation with vuln analysis github action
  .github/workflows/verify-security.yml
  hack/filter-vulns.py
Due: none

go version
  go.mod
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix the golang ci lint failure
  hack/check-golangci-lint.sh
Due: pull-vsphere-csi-driver-verify-shell

Fix the golang ci lint failure (#4011)
  hack/check-golangci-lint.sh
Due: pull-vsphere-csi-driver-verify-shell

Add ClusterStoragePolicyInfo CRD (#3914)
  .golangci.yml
  pkg/apis/cnsoperator/clusterstoragepolicyinfo/v1alpha1/clusterstoragepolicyinfo_types.go
  pkg/apis/cnsoperator/clusterstoragepolicyinfo/v1alpha1/doc.go
  pkg/apis/cnsoperator/clusterstoragepolicyinfo/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cnsoperator/config/cns.vmware.com_clusterstoragepolicyinfos.yaml
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Verify if storagepolicy has been deleted from the VC
  pkg/common/cns-lib/vsphere/pbm.go
  pkg/common/cns-lib/vsphere/pbm_test.go
  pkg/csi/service/common/constants.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Controller for ClusterStotagePolicyController - create CR for storageclass/VAC
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/cnsoperator/register.go
  pkg/csi/service/common/constants.go
  pkg/syncer/cnsoperator/controller/add_clusterstoragepolicyinfo.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_helper.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

wcp: delete file volume via FileVolumeService
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/fvs_filevolume.go
  pkg/csi/service/wcp/fvs_filevolume_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Verify if storagepolicy has been deleted from the VC
  pkg/apis/cnsoperator/clusterstoragepolicyinfo/v1alpha1/clusterstoragepolicyinfo_types.go
  pkg/common/cns-lib/vsphere/pbm.go
  pkg/common/cns-lib/vsphere/pbm_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add support for K8s 1.35 for supervisor (#3983)
  manifests/supervisorcluster/1.35/cns-csi.yaml
  manifests/supervisorcluster/1.35/kustomization.yaml
Due: none

wcp: gate DeleteVolume FVS routing on VsanFileVolumeService FSS
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/fvs_filevolume.go
  pkg/csi/service/wcp/fvs_filevolume_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

wcp: delete file volume via FileVolumeService (#4016)
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/fvs_filevolume.go
  pkg/csi/service/wcp/fvs_filevolume_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Connect to VC through Volume Manager
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/manager_mock.go
  pkg/common/cns-lib/volume/manager_test.go
  pkg/common/unittestcommon/types.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/csi/service/wcp/controller_cbt.go
  pkg/csi/service/wcp/controller_cbt_test.go
  pkg/csi/service/wcp/fvs_filevolume_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Connect to VC through Volume Manager (#3993)
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/manager_mock.go
  pkg/common/cns-lib/volume/manager_test.go
  pkg/common/unittestcommon/types.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/csi/service/wcp/controller_cbt.go
  pkg/csi/service/wcp/controller_cbt_test.go
  pkg/csi/service/wcp/fvs_filevolume_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

wcp: expand file volume via FileVolumeService
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/fvs_filevolume.go
  pkg/csi/service/wcp/fvs_filevolume_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade to k8s version 1.36 (#4001)
  go.mod
  go.sum
  pkg/apis/cbtconfig/v1alpha1/cbtconfig_types.go
  pkg/apis/cbtconfig/v1alpha1/groupversion_info.go
  pkg/apis/storagepool/cns/v1alpha1/register.go
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/hci_mesh_rwx_disruptive.go
  tests/e2e/no_hci_mesh_rwx_multivc_topology.go
  tests/e2e/svmotion_volumes.go
  tests/e2e/tkgs_ha.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Create CR in reconcile
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/clusterstoragepolicyinfo_controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Updated query volume retry logic
  tests/e2e/csi_snapshot_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Add snapshot changeID as annotation on corresponding snapshot, if not added during snapshot creation.
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

enable CBT for PVC during attachment (#4005)
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

wcpguest: expand FVS file volumes from the guest cluster
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/fvs_filevolume.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/fvs_expand.go
  pkg/csi/service/wcpguest/fvs_expand_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

wcpguest: gofmt alignment fixes
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/fvs_expand_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix volume provision issue with provisoner sidecar 6.x.x
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Bump go module dependencies
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
