Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Clean up white spaces in vsphere-csi
  cmd/vsphere-csi/main.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Use LogNewErrorf in vanilla controller (#1063)
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces in cnsregistervolume (#1069)
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces in placement
  pkg/syncer/k8scloudoperator/placement.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

[e2e-test]: TKG RWX - Adding ReadOnlyMany automation tests (#1058)
  tests/e2e/gc_rwx_basic.go
  tests/e2e/gc_rwx_readonly.go
  tests/e2e/gc_rwx_static_provision.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Clean up white space in syncer main (#1070)
  cmd/syncer/main.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces in e2e tests (#1061)
  tests/e2e/binding_modes_with_topology.go
  tests/e2e/connection.go
  tests/e2e/csi_cns_telemetry_vc_reboot.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Clean up white spaces in placement (#1065)
  pkg/syncer/k8scloudoperator/placement.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces under common
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces in cnsoperator init (#1071)
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces in vsphere-csi (#1072)
  cmd/vsphere-csi/main.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Use LogNewErrorf in syncer
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Use LogNewErrorf in csi
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_helper.go
  pkg/csi/service/server.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces under common (#1064)
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces under cnsfileaccessconfig (#1068)
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces for static provisioning test
  tests/e2e/csi_static_provisioning_basic.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Clean up white spaces in wcp controller
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add DatastoreMigrationParam to unsupported storage class params Set
  pkg/syncer/admissionhandler/validatestorageclass.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

[e2e-test]: TKG RWX - Non-vsan datastore
  tests/e2e/gc_rwx_non_vsan_datastore.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: Adding a automation test for Statically Provisioned ReadOnlyMany access Volume
  tests/e2e/gc_rwx_readonly.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

vcptocsi - skip referred entity validation for 67u3 and other fixes
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_create_delete.go
  tests/e2e/vcp_to_csi_syncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Enable homeless pod FSS
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
Due: none

Clean up white spaces for static provisioning test (#1075)
  tests/e2e/csi_static_provisioning_basic.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Clean up white spaces in vsphereutil
  pkg/csi/service/common/vsphereutil.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Clean up white spaces in diskDecommissionController
  pkg/syncer/storagepool/diskDecommissionController.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add datastore-migrationparam check in validate storage class unit tests
  pkg/syncer/admissionhandler/validatestorageclass_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add DatastoreMigrationParam to unsupported storage class params Set (#1077)
  pkg/syncer/admissionhandler/validatestorageclass.go
  pkg/syncer/admissionhandler/validatestorageclass_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test
