Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - fmt

pull-vsphere-csi-driver-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - lint

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - vet

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.29.0
      command:
      - make
      args:
      - golangci-lint

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - staticcheck

pull-vsphere-csi-driver-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - build

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - unit-test

Fix linter failures for go 1.19
  pkg/common/cns-lib/node/nodes.go
  pkg/common/cns-lib/vsphere/datacenter.go
  pkg/common/config/config.go
  pkg/common/fault/constants.go
  pkg/common/unittestcommon/utils.go
  pkg/common/utils/utils_test.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/driver.go
  pkg/csi/service/osutils/linux_os_utils.go
  pkg/csi/service/osutils/os_utils_test.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller_test.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/k8scloudoperator/k8scloudoperator.go
  pkg/syncer/storagepool/storageclasswatch.go
  pkg/syncer/storagepool/util.go
  pkg/syncer/syncer_test.go
  pkg/syncer/util_test.go
  tests/e2e/connection.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/gc_rwx_destructive.go
  tests/e2e/gc_rwx_security_context.go
  tests/e2e/gc_rwx_syncer.go
  tests/e2e/gc_rwx_tkg_scale.go
  tests/e2e/gc_rwx_volume_health.go
  tests/e2e/nimbus_utils.go
  tests/e2e/policy_driven_vol_allocation.go
  tests/e2e/storage_policy_utils.go
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vcp_to_csi_full_sync.go
  tests/e2e/vcp_to_csi_syncer.go
  tests/e2e/vsan_stretched_cluster_utils.go
  tests/e2e/vsphere.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix linter failures for go 1.19 (#1897)
  pkg/common/cns-lib/node/nodes.go
  pkg/common/cns-lib/vsphere/datacenter.go
  pkg/common/config/config.go
  pkg/common/fault/constants.go
  pkg/common/unittestcommon/utils.go
  pkg/common/utils/utils_test.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/driver.go
  pkg/csi/service/osutils/linux_os_utils.go
  pkg/csi/service/osutils/os_utils_test.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller_test.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/k8scloudoperator/k8scloudoperator.go
  pkg/syncer/storagepool/storageclasswatch.go
  pkg/syncer/storagepool/util.go
  pkg/syncer/syncer_test.go
  pkg/syncer/util_test.go
  tests/e2e/connection.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/gc_rwx_destructive.go
  tests/e2e/gc_rwx_security_context.go
  tests/e2e/gc_rwx_syncer.go
  tests/e2e/gc_rwx_tkg_scale.go
  tests/e2e/gc_rwx_volume_health.go
  tests/e2e/nimbus_utils.go
  tests/e2e/policy_driven_vol_allocation.go
  tests/e2e/storage_policy_utils.go
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vcp_to_csi_full_sync.go
  tests/e2e/vcp_to_csi_syncer.go
  tests/e2e/vsan_stretched_cluster_utils.go
  tests/e2e/vsphere.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Report CSI Snapshot capabilities on Supervisor
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

ListSnapshot implementation on Supervisor
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

added a connect() after service restart (#1893)
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

ListSnapshot implementation on Supervisor (#1888)
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Report CSI Snapshot capabilities on Supervisor (#1890)
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

CreateVolume from Snapshot implementation on Supervisor
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Adding disk health checks
  pkg/common/cns-lib/vsphere/hostsystem.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

CreateVolume from Snapshot implementation on Supervisor (#1889)
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Prevent Volume Deletion and Expansion if it has Snapshots on Supervisor
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Prevent Volume Deletion and Expansion if it has Snapshots on Supervisor (#1887)
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

revert PR 1884
  tests/e2e/connection.go
  tests/e2e/csi_snapshot_negative.go
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/util.go
  tests/e2e/vsphere.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

code fixes for Level-5 topology testcases
  tests/e2e/topology_multi_replica.go
  tests/e2e/util.go
  tests/e2e/volume_provisioning_with_level5_topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

topology code fix
  tests/e2e/topology_multi_replica.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

topology fix
  tests/e2e/topology_multi_replica.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

revert PR 1884 (#1900)
  tests/e2e/connection.go
  tests/e2e/csi_snapshot_negative.go
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/util.go
  tests/e2e/vsphere.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Code fixes for Level-5 topology testcases (#1871)
  tests/e2e/topology_multi_replica.go
  tests/e2e/util.go
  tests/e2e/volume_provisioning_with_level5_topology.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Report CSI Snapshot capabilities on Guest if block-volume-snapshot FSS is enabled
  pkg/csi/service/wcpguest/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add env variable to accept SHA1 certificates with Go1.18
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
  manifests/supervisorcluster/1.23/cns-csi.yaml
Due: none

Add env variable to accept SHA1 certificates with Go1.18 (#1903)
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
  manifests/supervisorcluster/1.23/cns-csi.yaml
Due: none

Adding kavyashree-r to reviewers are approvers lists for tests/e2e folder
  tests/e2e/OWNERS
Due: none

wcp code fix
  tests/e2e/e2e_common.go
  tests/e2e/volume_health_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Adding kavyashree-r to reviewers are approvers lists for tests/e2e folder (#1899)
  tests/e2e/OWNERS
Due: none

Update replica count to 3 in SV 1.21 YAML
  manifests/supervisorcluster/1.21/cns-csi.yaml
Due: none

Update replica count to 3 in SV 1.21 YAML (#1905)
  manifests/supervisorcluster/1.21/cns-csi.yaml
Due: none

cns-csi.yaml changes for k8s 1.24
  manifests/supervisorcluster/1.23/cns-csi.yaml
  manifests/supervisorcluster/1.24/cns-csi.yaml
Due: none

Adding disk health checks (#1898)
  pkg/common/cns-lib/vsphere/hostsystem.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
