Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - fmt
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - vet
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.58.2
      command:
      - make
      args:
      - golangci-lint
      resources:
        limits:
          cpu: 4
          memory: 6Gi
        requests:
          cpu: 4
          memory: 6Gi

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      - make
      - shellcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - staticcheck
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

pull-vsphere-csi-driver-build:
  labels:
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - build
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - unit-test
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi

Following enhancement made in the list-view task monitoring (#3584)
  pkg/common/cns-lib/volume/listview.go
  pkg/common/cns-lib/volume/manager.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix incorrect volume attach error handling in CNSNodeVMAttachment reconciler (#3590)
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Adding vks testcases to EF column for n-1 and n-2 tkg versions (#3601)
  tests/e2e/csi_cns_telemetry_statefulsets.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/gc_file_share_negative.go
  tests/e2e/gc_metadata_syncer.go
  tests/e2e/raw_block_volume.go
  tests/e2e/storagepolicy.go
  tests/e2e/volume_health_test.go
  tests/e2e/vsphere_volume_disksize.go
  tests/e2e/vsphere_volume_expansion.go
  tests/e2e/vsphere_volume_fsgroup.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Updated controller-gen version (#3614)
  Makefile
Due: none

Wait until topology annotation gets added on supervisor PVCs while adding node affinity rules on PVs in guest cluster (#3588)
  pkg/syncer/pvcsi_fullsync.go
  pkg/syncer/pvcsi_fullsync_test.go
  pkg/syncer/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Surface NotSupported error message during AttachVolume call (#3595)
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/manager_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Ensure that during detach PVC has a unique entry in volumeStatus (#3630)
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix CnsVolumeOperationRequest update logic when transaction support is enabled (#3623)
  pkg/common/cns-lib/volume/manager.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest_test.go
  pkg/internalapis/cnsvolumeoperationrequest/util.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

adding wcp-vsan-stretch-vmsvc-tests to pq (#3627)
  tests/e2e/vm_service_vsan_stretch_cluster.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

fixes (#3637)
  tests/e2e/e2e_common.go
  tests/e2e/raw_block_volume.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Added wait time befoew querrying vm images (#3612)
  tests/e2e/vmservice_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

removing static-prov tests from cf (#3606)
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/vmservice_vm.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

wcp-snapshot test fix (#3620)
  tests/e2e/csi_snapshot_basic.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Remove validations for batch attach (#3622)
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/cnsnodebatchvmattachment_types.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/controller_helper_test.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix logging for vitualmachine snapshot controller (#3641)
  pkg/syncer/cnsoperator/controller/virtualmachinesnapshot/virtualmachinesnapshot_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

EF UTS test code fixes for TKG
  tests/e2e/csi_snapshot_basic.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/util.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

EF UTS test code fixes for TKG (#3643)
  tests/e2e/csi_snapshot_basic.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/util.go
  tests/e2e/vsphere_volume_expansion.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Initiate storage-quota Periodic syncs only after metasyncer is initialised (#3639)
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

WFFC vmservice vm
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vmservice_late_binding.go
  tests/e2e/vmservice_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Enhancement - Optimize Reconciler Triggers Using Predicates (#3633)
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/util.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/controller.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/util.go
  pkg/syncer/cnsoperator/controller/cnsvolumemetadata/cnsvolumemetadata_controller.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/cnsoperator/controller/triggercsifullsync/triggercsifullsync_controller.go
  pkg/syncer/cnsoperator/controller/virtualmachinesnapshot/virtualmachinesnapshot_controller.go
  pkg/syncer/cnsoperator/util/util.go
  pkg/syncer/cnsoperator/util/util_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fixed snapshot and other Issues
  tests/e2e/constants/vsphere_constants.go
  tests/e2e/k8testutil/util.go
  tests/e2e/provisioning/transactionsupport/ts_util.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_create_linked_clone_during_service_down_scenarios.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_create_snapshot_during_service_down_scenarios.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_create_volume_during_service_down_scenarios.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_create_volume_from_snapshot_during_service_down_scenarios.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_delete_snapshot_during_service_down_scenarios.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_delete_volume_during_service_down_scenarios.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_register_volume_with_dynamic_provisioning_during_service_down_scenarios.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_register_volume_with_static_provisioning_during_service_down_scenarios.go
  tests/e2e/vcutil/datastore_util.go
  tests/e2e/vcutil/vc_util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Allow detach to happen even if batch attach fail
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enhancement - Introduce `pvcName` input param in CNSUnregisterVolume spec
  pkg/apis/cnsoperator/cnsunregistervolume/v1alpha1/cnsunregistervolume_types.go
  pkg/apis/cnsoperator/config/cnsunregistervolume_crd.yaml
  pkg/common/cns-lib/volume/manager.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler_test.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/controller.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/controller_test.go
  pkg/syncer/cnsoperator/controller/cnsunregistervolume/util.go
  pkg/syncer/cnsoperator/types/types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix API review comments for CnsNodeVMBatachAttachment API
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/cnsnodebatchvmattachment_types.go
  pkg/apis/cnsoperator/cnsnodevmbatchattachment/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmbatchattachments.yaml
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/cnsoperator/register.go
  pkg/common/cns-lib/volume/util.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_helper.go
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_test.go
  pkg/syncer/cnsoperator/manager/init.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enhancement - Initialise logger once and re-use
  pkg/csi/service/logger/logger.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Test fix for VCreboot : PR-3591504
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fixed minor issue
  tests/e2e/k8testutil/util.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_register_volume_with_static_provisioning_during_service_down_scenarios.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

vm-snapshot test fix (Remove snapshot before deleting content)
  tests/e2e/snapshot_vmservice_vm.go
  tests/e2e/volume_health_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fixed minor issue
  tests/e2e/k8testutil/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

vm-snapshot test fix (Remove snapshot before deleting content) (#3640)
  tests/e2e/snapshot_vmservice_vm.go
  tests/e2e/volume_health_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Test fix for VCreboot : PR-3591504 (#3646)
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

EF UTS Production test cases fixes
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

EF UTS Production test cases fixes (#3648)
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Fixed the ssh issue for vanilla
  tests/e2e/k8testutil/util.go
  tests/e2e/provisioning/transactionsupport/verify_transaction_support_register_volume_with_static_provisioning_during_service_down_scenarios.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

vm service vm
  tests/e2e/restore_on_target_ds/restore_on_target_ds_vms_tests.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

target-ds unstaged files
  tests/e2e/config/test_config.go
  tests/e2e/restore_on_target_ds/junit.xml
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Enhancement - Initialise logger once and re-use
  pkg/csi/service/logger/logger.go
  pkg/csi/service/wcp/controller_helper_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

WFFC vmservice vm (#3635)
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vmservice_late_binding.go
  tests/e2e/vmservice_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
