Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Increase PVs per node to 255
  manifests/guestcluster/1.33/pvcsi.yaml
  manifests/guestcluster/1.35/pvcsi.yaml
  manifests/guestcluster/1.36/pvcsi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/csi/service/common/constants.go
  pkg/csi/service/node.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add CSI provisioner version update changes in Supervisor K8s 1.32 and 1.33 YAMLs (#3928)
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
Due: none

Cleanup fake-attach FSS code (#3917)
  manifests/supervisorcluster/1.17/cns-csi.yaml
  manifests/supervisorcluster/1.18/cns-csi.yaml
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
  manifests/supervisorcluster/1.23/cns-csi.yaml
  manifests/supervisorcluster/1.24/cns-csi.yaml
  manifests/supervisorcluster/1.25/cns-csi.yaml
  manifests/supervisorcluster/1.26/cns-csi.yaml
  manifests/supervisorcluster/1.27/cns-csi.yaml
  manifests/supervisorcluster/1.28/cns-csi.yaml
  manifests/supervisorcluster/1.29/cns-csi.yaml
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enable Transaction support FSS (#3932)
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Set ListVolume resync as 5m
  manifests/supervisorcluster/1.30/cns-csi.yaml
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
Due: none

Update go libs to address CVEs
  go.mod
  go.sum
  hack/check-golangci-lint.sh
  pkg/kubernetes/kubernetes.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Mock high scale PV count for full sync tests
  pkg/kubernetes/informers.go
  pkg/kubernetes/testing/informers.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util_test.go
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
  pkg/syncer/syncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Revert "Update go libs to address CVEs"
  go.mod
  go.sum
  hack/check-golangci-lint.sh
  pkg/kubernetes/kubernetes.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Keep golang ci lint changes
  hack/check-golangci-lint.sh
Due: pull-vsphere-csi-driver-verify-shell

Update grpc lib to address CVE-2026-33186
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Syncing tests/e2e/go.mod
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: pull-vsphere-csi-driver-unit-test

Enhance Query Volume invocations & usage based on new guidelines
  pkg/common/utils/utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix: skip Maintenance Mode hosts in topology-aware datastore selection
  pkg/common/cns-lib/vsphere/cluster_compute_resource.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/topology_fetchhosts_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix: skip Maintenance Mode hosts in topology-aware datastore selection (#3943)
  pkg/common/cns-lib/vsphere/cluster_compute_resource.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/topology_fetchhosts_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Ensure CnsVolumeOperationRequest CR reservations are set to 0 on error
  pkg/common/cns-lib/volume/manager.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest_test.go
  pkg/internalapis/cnsvolumeoperationrequest/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Following enhancement made in the list-view task monitoring (#3584)
  pkg/common/cns-lib/volume/listview.go
  pkg/common/cns-lib/volume/manager.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix: skip Maintenance Mode hosts in topology-aware datastore selection (#3943) (#3945)
  pkg/common/cns-lib/vsphere/cluster_compute_resource.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/topology_fetchhosts_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix: skip Maintenance Mode hosts in topology-aware datastore selection (#3943) (#3946)
  pkg/common/cns-lib/vsphere/cluster_compute_resource.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/topology_fetchhosts_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix the winodws volume mountpath validation (#3312)
  pkg/csi/service/mounter/mounter_windows.go
  pkg/csi/service/osutils/windows_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix panic on DeletedFinalStateUnknown (#3262)
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Use file volume prefix in volumeID to check whether volume type is block or file
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Cherry pick fixes to release-3.4 (#3948)
  pkg/common/cns-lib/volume/listview.go
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/cluster_compute_resource.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/topology_fetchhosts_test.go
  pkg/csi/service/mounter/mounter_windows.go
  pkg/csi/service/osutils/windows_os_utils.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

[cherry-pick release-3.5] skip maintenance mode hosts and list-view task timeout fix (#3947)
  pkg/common/cns-lib/volume/listview.go
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/cluster_compute_resource.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/topology_fetchhosts_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

update deployment yaml files for v3.4.1-rc.1
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update deployment yaml files for v3.5.1-rc.3
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update deployment yaml files for v3.6.2-rc.1
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update deployment yaml files for v3.7.1-rc.1
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update deployment yaml files for v3.7.1-rc.1 (#3953)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update deployment yaml files for v3.5.1-rc.3 (#3951)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update deployment yaml files for v3.6.2-rc.1 (#3952)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

update deployment yaml files for v3.4.1-rc.1 (#3950)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Cleanup file-volume fss related code
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/manager/init.go
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add missing dependencies When using `go list -mod=readonly -m all` the command fails on k8s.io/endpointslice and k8s.io/externaljwt as they are part of kubernetes.
  go.mod
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test
