Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Fix linked-clone creation from snapshot for host-local volumes
  pkg/csi/service/common/vsphereutil_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/controller_helper_test.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

vksregistervolume add rbacs and fss for vkr 1.33
  manifests/guestcluster/1.33/pvcsi.yaml
Due: none

vksregistervolume add rbacs and fss for vkr 1.33 (#4206)
  manifests/guestcluster/1.33/pvcsi.yaml
Due: none

Add hostlocal volume capability to infraSPI and ns scoped SPI CRs
  pkg/apis/cnsoperator/infrastoragepolicyinfo/v1alpha1/infrastoragepolicyinfo_types.go
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/storagepolicyinfo_types.go
  pkg/common/cns-lib/vsphere/pbm.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/helper.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/populate_topology_cache_test.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/volume_capabilities_test.go
  pkg/syncer/cnsoperator/util/hostlocal_zones_test.go
  pkg/syncer/cnsoperator/util/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Remove the duplicated ClusterStoragePolicyInfo/StoragePolicyInfo slow-sync scheduling code into one shared, jittered helper.
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/slowsync.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/slowsync.go
  pkg/syncer/cnsoperator/util/slowsync.go
  pkg/syncer/cnsoperator/util/slowsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Tag CSI images as v3.6.4 to prepare for release
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Fix linked-clone creation from snapshot for host-local volumes (#4199)
  pkg/csi/service/common/vsphereutil_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/controller_helper_test.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix CNSRegisterVolume for VKSRegisterVolume: BackingDiskId can't combine with BackingDiskUrlPath, use VolumeId instead
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix CNSRegisterVolume for VKSRegisterVolume: BackingDiskId can't combine with BackingDiskUrlPath, use VolumeId instead (#4210)
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enhance validate ExpandVolumeRequest for vanilla k8s
  pkg/csi/service/vanilla/controller_helper.go
  pkg/csi/service/vanilla/controller_helper_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enable TLS for vSphere Syncer
  manifests/supervisorcluster/1.35/cns-csi.yaml
  pkg/common/certwatcher/certwatcher.go
  pkg/common/certwatcher/certwatcher_test.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/syncer/k8scloudoperator/k8scloudoperator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

prov
  manifests/supervisorcluster/1.35/cns-csi.yaml
Due: none

Tag CSI images as v3.6.4 to prepare for release (#4209)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Fix storage quota calculations for cases when PVC is migrated from one datastore to another using VAC
  pkg/syncer/metadatasyncer.go
  pkg/syncer/metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add fss vks-register-volume in supervisor yamls
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
Due: none

Check VAC version
  pkg/csi/service/common/constants.go
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/pvcsi_admissionhandler.go
  pkg/syncer/admissionhandler/validatepvc.go
  pkg/syncer/admissionhandler/validatepvc_test.go
  pkg/syncer/byokoperator/controller/controller.go
  pkg/syncer/byokoperator/controller/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/helper.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enhance host zone requirements to the Supervisor
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/csi/service/wcpguest/controller_hostlocal_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add fss vks-register-volume in supervisor yamls (#4212)
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
Due: none

Add hostlocal volume capability to infraSPI and ns scoped SPI CRs (#4174)
  pkg/apis/cnsoperator/infrastoragepolicyinfo/v1alpha1/infrastoragepolicyinfo_types.go
  pkg/apis/cnsoperator/storagepolicyinfo/v1alpha1/storagepolicyinfo_types.go
  pkg/common/cns-lib/vsphere/pbm.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/helper.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/populate_topology_cache_test.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/volume_capabilities_test.go
  pkg/syncer/cnsoperator/util/hostlocal_zones_test.go
  pkg/syncer/cnsoperator/util/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix markdownlint comment syntax in README.md
  README.md
Due: pull-vsphere-csi-driver-verify-markdown

Remove the duplicated ClusterStoragePolicyInfo/StoragePolicyInfo slow-sync scheduling code into one shared, jittered helper. (#4196)
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/slowsync.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/slowsync.go
  pkg/syncer/cnsoperator/util/slowsync.go
  pkg/syncer/cnsoperator/util/slowsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Reduce syncer PVC/PV informer memory on large supervisors
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/kubernetes/informers.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler_test.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/virtualmachinesnapshot/virtualmachinesnapshot_controller.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/cnsoperator/util/util.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add support for authenticating vCenter via a shared session manager
  docs/book/vc_shared_sessions.md
  hack/release.sh
  pkg/common/cns-lib/vsphere/configured_or_active_user_test.go
  pkg/common/cns-lib/vsphere/connect_rest_session_test.go
  pkg/common/cns-lib/vsphere/get_active_user_test.go
  pkg/common/cns-lib/vsphere/tagmanager.go
  pkg/common/cns-lib/vsphere/tagmanager_race_test.go
  pkg/common/cns-lib/vsphere/utils.go
  pkg/common/cns-lib/vsphere/vc_session_login_orphan_test.go
  pkg/common/cns-lib/vsphere/vc_session_login_test.go
  pkg/common/cns-lib/vsphere/vc_session_manager.go
  pkg/common/cns-lib/vsphere/vc_session_manager_test.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/cns-lib/vsphere/virtualmachine.go
  pkg/common/config/config.go
  pkg/common/config/config_test.go
  pkg/common/config/types.go
  pkg/csi/service/common/authmanager.go
  pkg/csi/service/common/topology.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix nil pointer dereference in pvDeleted for unbound static PVs
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix shadowed fullSyncWaitTime so FULL_SYNC_WAIT_TIME is honoured
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/fullsync_test_for_file_volume.go
  tests/e2e/hci_mesh_rwx_disruptive.go
  tests/e2e/no_hci_mesh_rwx_multivc_disruptive.go
  tests/e2e/vsan_stretched_cluster.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Match host-local storage policies via the StorageLocality capability
  pkg/common/cns-lib/vsphere/pbm.go
  pkg/common/cns-lib/vsphere/pbm_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add pvcsi 1.37 k8s yaml
  manifests/guestcluster/1.37/pvcsi.yaml
Due: none

Enhance host zone requirements to the Supervisor (#4207)
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/csi/service/wcpguest/controller_hostlocal_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Match host-local storage policies via the StorageLocality capability (#4213)
  pkg/common/cns-lib/vsphere/pbm.go
  pkg/common/cns-lib/vsphere/pbm_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Check VAC version (#4184)
  pkg/csi/service/common/constants.go
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/pvcsi_admissionhandler.go
  pkg/syncer/admissionhandler/validatepvc.go
  pkg/syncer/admissionhandler/validatepvc_test.go
  pkg/syncer/byokoperator/controller/controller.go
  pkg/syncer/byokoperator/controller/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/helper.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add PVC finalizer concurrently while processing batch attach
  pkg/syncer/cnsoperator/controller/cnsnodevmbatchattachment/cnsnodevmbatchattachment_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix nil pointer dereference in pvDeleted for unbound static PVs
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/e2e_common.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix storage quota calculations for cases when PVC is deleted which was migrated from one datastore to another using VAC
  pkg/syncer/metadatasyncer.go
  pkg/syncer/metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Disable RecoverVolumeExpansionFailure for resizer in supervisor
  manifests/supervisorcluster/1.31/cns-csi.yaml
  manifests/supervisorcluster/1.32/cns-csi.yaml
  manifests/supervisorcluster/1.33/cns-csi.yaml
  manifests/supervisorcluster/1.34/cns-csi.yaml
  manifests/supervisorcluster/1.35/cns-csi.yaml
Due: none

Fix orphaned volume attachments caused by pvCSI reporting attach timeouts as final failures
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/csi/service/wcpguest/controller_timeout_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Place restore from a host-local snapshot on the source volume's host
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/controller_helper_test.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Place restore from a host-local snapshot on the source volume's host (#4217)
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_helper.go
  pkg/csi/service/wcp/controller_helper_test.go
  pkg/csi/service/wcp/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Document CreateVolume's delete-and-retry on CnsVolumeAlreadyExistsFault
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/util.go
  pkg/csi/service/common/vsphereutil.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Document CreateVolume's delete-and-retry on CnsVolumeAlreadyExistsFault (#4222)
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/util.go
  pkg/csi/service/common/vsphereutil.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix orphaned volume attachments caused by pvCSI reporting attach timeouts as final failures (#4192)
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/csi/service/wcpguest/controller_timeout_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test
