Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

pull-vsphere-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - fmt

pull-vsphere-csi-driver-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - lint

pull-vsphere-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - vet

pull-vsphere-csi-driver-verify-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.29.0
      command:
      - make
      args:
      - golangci-lint

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .

pull-vsphere-csi-driver-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - staticcheck

pull-vsphere-csi-driver-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - build

pull-vsphere-csi-driver-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210215-1596cdf-master
      command:
      - make
      args:
      - unit-test

Update Dockerfiles
  images/driver/Dockerfile
  images/syncer/Dockerfile
Due: none

Fixed issues with CRDs
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmattachments.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/internalapis/cnsoperator/config/cnsfilevolumeclient_crd.yaml
  pkg/internalapis/cnsoperator/config/triggercsifullsync_crd.yaml
  pkg/internalapis/cnsvolumeoperationrequest/config/cns.vmware.com_cnsvolumeoperationrequests.yaml
  pkg/internalapis/csinodetopology/config/cns.vmware.com_csinodetopologies.yaml
  pkg/internalapis/featurestates/config/cns.vmware.com_cnscsisvfeaturestates.yaml
Due: pull-vsphere-csi-driver-build

Migrate to apiextensions.k8s.io/v1 API version
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsnodevmattachment/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsregistervolume/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/doc.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmattachments.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/apis/migration/config/cns.vmware.com_cnsvspherevolumemigrations.yaml
  pkg/apis/migration/migration.go
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  pkg/apis/storagepool/config/cns.vmware.com_storagepools.yaml
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/v1alpha1/doc.go
  pkg/internalapis/cnsoperator/config/triggercsifullsync_crd.yaml
  pkg/internalapis/cnsoperator/triggercsifullsync/v1alpha1/doc.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/config/cns.vmware.com_cnsvolumeoperationrequests.yaml
  pkg/internalapis/cnsvolumeoperationrequest/util.go
  pkg/internalapis/cnsvolumeoperationrequest/v1alpha1/doc.go
  pkg/internalapis/csinodetopology/config/cns.vmware.com_csinodetopologies.yaml
  pkg/internalapis/csinodetopology/v1alpha1/doc.go
  pkg/internalapis/featurestates/config/cns.vmware.com_cnscsisvfeaturestates.yaml
  pkg/internalapis/featurestates/featurestates.go
  pkg/internalapis/featurestates/v1alpha1/doc.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

temp
  go.mod
  go.sum
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vcp_to_csi_create_delete.go
  tests/e2e/vcp_to_csi_syncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix1
  tests/e2e/vcp_to_csi_syncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Remove gocsi dependency for vanilla (#1333)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

fix 2
  tests/e2e/vcp_to_csi_syncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

fix unit tests failure on darwin
  pkg/csi/service/mounter/mounter_darwin.go
  pkg/csi/service/osutils/os_utils_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix unit tests failure on darwin (#1341)
  pkg/csi/service/mounter/mounter_darwin.go
  pkg/csi/service/osutils/os_utils_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Migrate to apiextensions.k8s.io/v1 API version (#1188)
  Makefile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsnodevmattachment/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsregistervolume/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/doc.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmattachments.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/apis/migration/config/cns.vmware.com_cnsvspherevolumemigrations.yaml
  pkg/apis/migration/migration.go
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  pkg/apis/storagepool/config/cns.vmware.com_storagepools.yaml
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/v1alpha1/doc.go
  pkg/internalapis/cnsoperator/config/triggercsifullsync_crd.yaml
  pkg/internalapis/cnsoperator/triggercsifullsync/v1alpha1/doc.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/config/cns.vmware.com_cnsvolumeoperationrequests.yaml
  pkg/internalapis/cnsvolumeoperationrequest/util.go
  pkg/internalapis/cnsvolumeoperationrequest/v1alpha1/doc.go
  pkg/internalapis/csinodetopology/config/cns.vmware.com_csinodetopologies.yaml
  pkg/internalapis/csinodetopology/v1alpha1/doc.go
  pkg/internalapis/featurestates/config/cns.vmware.com_cnscsisvfeaturestates.yaml
  pkg/internalapis/featurestates/featurestates.go
  pkg/internalapis/featurestates/v1alpha1/doc.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add manifests for 1.22 K8s for Supervisor and Guestclusters
  manifests/guestcluster/1.22/pvcsi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
Due: none

Update validation webhook deployment script to remove hardcoded path (#1317)
  manifests/vanilla/deploy-vsphere-csi-validation-webhook.sh
Due: pull-vsphere-csi-driver-verify-shell

Fix the issue that calling initSyncerComponents with older config read before the leader is elected. (#1338)
  cmd/syncer/main.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Use released version of govmomi
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Use released version of govmomi (#1345)
  go.mod
  go.sum
Due: pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

add cnsvolumeoperationrequests.yaml and cnsvspherevolumemigrations.yaml to driver image
  images/driver/Dockerfile
Due: none

add cnsvolumeoperationrequests.yaml and cnsvspherevolumemigrations.yaml to driver image (#1349)
  images/driver/Dockerfile
Due: none

Set default mount options for file volumes
  pkg/csi/service/osutils/linux_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Update known issue docs for VC IP & hostname change not honoured by CSI
  docs/book/releases/v2.0.0.md
  docs/book/releases/v2.0.1.md
  docs/book/releases/v2.1.0.md
  docs/book/releases/v2.1.1.md
  docs/book/releases/v2.2.0.md
  docs/book/releases/v2.2.1.md
Due: pull-vsphere-csi-driver-verify-markdown

Minor log changes in CSINodeTopology reconciler
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

exit windows plugin node if feature is not enabled
  pkg/csi/service/node.go
  pkg/csi/service/osutils/linux_os_utils.go
  pkg/csi/service/osutils/windows_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Minor log changes in CSINodeTopology reconciler (#1346)
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

exit windows plugin node if feature is not enabled (#1342)
  pkg/csi/service/node.go
  pkg/csi/service/osutils/linux_os_utils.go
  pkg/csi/service/osutils/windows_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Removing v2.0.2-rc.1 and renaming v2.0.2-rc.2 with v2.0.2
  manifests/v2.0.2-rc.1/vsphere-7.0/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2/vsphere-67u3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.2/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2/vsphere-7.0/rbac/vsphere-csi-controller-rbac.yaml
Due: none

Renaming v2.1.2-rc.1 with v2.1.2
  manifests/v2.1.2/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.1.2/vsphere-67u3/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.1.2/vsphere-67u3/vanilla/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.1.2/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.1.2/vsphere-7.0/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.1.2/vsphere-7.0/vanilla/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/create-validation-webhook.sh
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/generate-signed-webhook-certs.sh
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/validatingwebhook.yaml
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.1.2/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.1.2/vsphere-7.0u1/vanilla/rbac/vsphere-csi-controller-rbac.yaml
Due: pull-vsphere-csi-driver-verify-shell

Update manifests to use v2.4.0-rc.1 images
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Update manifests to use v2.4.0-rc.1 images (#1355)
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Update release script to use correct release version for csi driver images
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

Update release script to use correct release version for csi driver images (#1356)
  hack/release.sh
Due: pull-vsphere-csi-driver-verify-shell

addressed review comments
  tests/e2e/util.go
  tests/e2e/vmc_delete_tkg.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

Set default mount options for file volumes (#1350)
  pkg/csi/service/osutils/linux_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod
