Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-lint: any of: \.go$|hack\/check-lint\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

[e2e-tests]: Adding automation tests for Statefulset using RWX for TKG (#1283)
  tests/e2e/gc_rwx_statefulsets.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

"Adding a feature switch to use service for placement engine in external provisioner.
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
Due: none

dummy_commit
  dummy.txt
Due: none

ns
  tests/e2e/e2e_common.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-tests]: Adding automation tests for Statefulset using RWX for TKG (#1283)
  tests/e2e/gc_rwx_statefulsets.go
  tests/e2e/gc_rwx_volume_health.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

[e2e-test]: RWX volume health tests
  tests/e2e/gc_rwx_volume_health.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

"Adding a feature switch to use service for placement engine in external provisioner. (#1307)
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
Due: none

Added in-mem idempotency support for CreateSnapshot
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add volume type check while reconciling cnsfileaccessconfig instances
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Added in-mem idempotency support for CreateSnapshot (#1292)
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Metrics to track PVCSI Attach/Detach operations.
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

set maxSurge zero for vsphere-csi-controller pod
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Update validation webhook deployment script to remove hardcoded path
  manifests/vanilla/deploy-vsphere-csi-validation-webhook.sh
Due: pull-vsphere-csi-driver-verify-shell

Use 2.0.1 yamls as the base for 2.0.2-rc yamls
  manifests/v2.0.2-rc.2/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/rbac/vsphere-csi-controller-rbac.yaml
Due: none

Use LogNewErrorf & update the log message to indicate volume is of type RWX
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Metrics to track PVCSI Attach/Detach operations. (#1291)
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fine tune QPS for attacher in pvcsi 1.20
  manifests/guestcluster/1.20/pvcsi.yaml
Due: none

Fine tune QPS for attacher in pvcsi 1.19
  manifests/guestcluster/1.19/pvcsi.yaml
Due: none

Use 2.0.1 yamls as the base for 2.0.2-rc yamls (#1318)
  manifests/v2.0.2-rc.2/vsphere-67u3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2-rc.2/vsphere-67u3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.0.2-rc.2/vsphere-7.0/rbac/vsphere-csi-controller-rbac.yaml
Due: none

Increase QPS for csi-provisioner & csi-attacher in pvcsi yamls (#1252)
  manifests/guestcluster/1.19/pvcsi.yaml
  manifests/guestcluster/1.20/pvcsi.yaml
  manifests/guestcluster/1.21/pvcsi.yaml
Due: none

Populate CSI Snapshot restoreSize using cns query volume
  pkg/common/utils/utils.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Populate CSI Snapshot restoreSize using cns query volume (#1304)
  pkg/common/utils/utils.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fixed issues with CRDs
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmattachments.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/internalapis/cnsoperator/config/cnsfilevolumeclient_crd.yaml
  pkg/internalapis/cnsoperator/config/triggercsifullsync_crd.yaml
  pkg/internalapis/cnsvolumeoperationrequest/config/cns.vmware.com_cnsvolumeoperationrequests.yaml
  pkg/internalapis/csinodetopology/config/cns.vmware.com_csinodetopologies.yaml
  pkg/internalapis/featurestates/config/cns.vmware.com_cnscsisvfeaturestates.yaml
Due: pull-vsphere-csi-driver-build

Migrate to apiextensions.k8s.io/v1 API version
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsnodevmattachment/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsregistervolume/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/doc.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmattachments.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/apis/migration/config/cns.vmware.com_cnsvspherevolumemigrations.yaml
  pkg/apis/migration/migration.go
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  pkg/apis/storagepool/config/cns.vmware.com_storagepools.yaml
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/v1alpha1/doc.go
  pkg/internalapis/cnsoperator/config/triggercsifullsync_crd.yaml
  pkg/internalapis/cnsoperator/triggercsifullsync/v1alpha1/doc.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/config/cns.vmware.com_cnsvolumeoperationrequests.yaml
  pkg/internalapis/cnsvolumeoperationrequest/util.go
  pkg/internalapis/cnsvolumeoperationrequest/v1alpha1/doc.go
  pkg/internalapis/csinodetopology/config/cns.vmware.com_csinodetopologies.yaml
  pkg/internalapis/csinodetopology/v1alpha1/doc.go
  pkg/internalapis/featurestates/config/cns.vmware.com_cnscsisvfeaturestates.yaml
  pkg/internalapis/featurestates/featurestates.go
  pkg/internalapis/featurestates/v1alpha1/doc.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/storagepool/service.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Get latest controller-gen
  Makefile
Due: none

Update Dockerfiles
  images/driver/Dockerfile
  images/syncer/Dockerfile
Due: none

implement windows interfaces and changes to build for supporting windows driver images
  .gitignore
  Makefile
  go.mod
  go.sum
  hack/images/ci/Makefile
  hack/release.sh
  images/windows/driver/Dockerfile
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/util.go
  pkg/csi/service/mounter/mounter_linux.go
  pkg/csi/service/mounter/mounter_windows.go
  pkg/csi/service/node.go
  pkg/csi/service/osutils/linux_os_utils.go
  pkg/csi/service/osutils/os_utils.go
  pkg/csi/service/osutils/windows_os_utils.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

set maxSurge zero for vsphere-csi-controller pod (#1316)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

fix volumeTaskMapLock deadlock
  pkg/common/cns-lib/volume/manager.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-lint, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

add kubelet-registration-probe for node-driver-registrar (#1298)
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none
