Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Path conditions:
  pull-vsphere-csi-driver-verify-fmt: any of: \.go$|hack\/check-format\.sh
  pull-vsphere-csi-driver-verify-vet: any of: \.go$|hack\/check-vet\.sh
  pull-vsphere-csi-driver-verify-golangci-lint: any of: \.go
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
  pull-vsphere-csi-driver-verify-staticcheck: any of: \.go$|hack\/check-staticcheck\.sh
  pull-vsphere-csi-driver-build: any of: ^(cmd|pkg|go.mod)
  pull-vsphere-csi-driver-unit-test: any of: \.go$|go\.mod

Fix CnsRegisterVolume error-path cleanup
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix CnsRegisterVolume error-path cleanup (#4121)
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Parse FCD faults correctly to return appropriate error for CBT APIs
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/manager_test.go
  pkg/csi/service/wcp/controller_cbt_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add marker-policy topology support to namespace level StoragePolicyInfo controller
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/util/markerzones.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix capability name for supports_per_namespace_network_provider
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/fvs_filevolume.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Parse FCD faults correctly to return appropriate error for CBT APIs (#4114)
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/volume/manager_test.go
  pkg/csi/service/wcp/controller_cbt_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Use Storage Policy associated with VAC for BYOK encryption
  pkg/common/cns-lib/crypto/client.go
  pkg/common/cns-lib/crypto/internal/volumeattributesclass.go
  pkg/common/cns-lib/crypto/util.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler_test.go
  pkg/syncer/byokoperator/controller/controller.go
  pkg/syncer/byokoperator/controller/persistentvolumeclaim/persistentvolumeclaim_controller.go
  pkg/syncer/byokoperator/controller/volumeattributesclass/volumeattributesclass_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add additional validation for CBT API inputs
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/wcp/controller_cbt.go
  pkg/csi/service/wcp/controller_cbt_test.go
  pkg/csi/service/wcpguest/controller_cbt.go
  pkg/csi/service/wcpguest/controller_cbt_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Legacy CNSNodeVMAttachment fixes
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Enable CBT capability for FSS enabled on supervisor cluster as well as guest cluster + use supervisor CBT service DNSname for cert verification
  pkg/csi/service/driver.go
  pkg/csi/service/identity.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_cbt_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Addressed review comments
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/slowsync.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/slowsync_test.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller_test.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/slowsync.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/slowsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Wire Zone CR lifecycle events into the StoragePolicyInfo controller so that namespace zone assignments and unassignments trigger updating the topology zonal information
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology_test.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/storagepolicyinfo/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add additional validation for CBT API inputs (#4101)
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/wcp/controller_cbt.go
  pkg/csi/service/wcp/controller_cbt_test.go
  pkg/csi/service/wcpguest/controller_cbt.go
  pkg/csi/service/wcpguest/controller_cbt_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Add property collector for datastores and hosts
  hack/release.sh
  pkg/syncer/cnsoperator/vsphereinfra/cache.go
  pkg/syncer/cnsoperator/vsphereinfra/collector.go
  pkg/syncer/cnsoperator/vsphereinfra/events.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Host version watcher
  pkg/syncer/cnsoperator/vsphereinfra/cache.go
  pkg/syncer/cnsoperator/vsphereinfra/collector.go
  pkg/syncer/cnsoperator/vsphereinfra/events.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix CnsRegisterVolume PVC self-conflict on topology annotation update
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Additional syncer modifications to support pv labeling in CNS for retain & released PVs
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/syncer_test.go
  pkg/syncer/types.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade CSI sidecars to latest releases for vsphere csi vanilla k8s driver deployment
  manifests/vanilla/vsphere-csi-driver.yaml
Due: none

Additional syncer modifications to support pv labeling in CNS for retain & released PVs
  pkg/syncer/fullsync.go
  pkg/syncer/fullsync_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix e2e: fix static-provisioning
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/csi_static_provisioning_file_basic.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-unit-test

fix capability name for supports_per_namespace_network_provider (#4122)
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/fvs_filevolume.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix vsan-file PVC stuck in Terminating after provisioning failure
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix vsan-file PVC stuck in Terminating after provisioning failure (#4128)
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

fix: validate webhook deployment script arguments
  manifests/vanilla/deploy-vsphere-csi-validation-webhook.sh
Due: pull-vsphere-csi-driver-verify-shell

Fix CnsFileAccessConfig stuck in deletion when VM is deleted first
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/cnsfilevolumeclient.go
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/cnsfilevolumeclient_test.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix CnsFileAccessConfig stuck in deletion when VM is deleted first (#4118)
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/cnsfilevolumeclient.go
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/cnsfilevolumeclient_test.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix CnsRegisterVolume PVC self-conflict on topology annotation update (#4126)
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller_test.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Updated attacher version for SVC k8s 1.32
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Adding skogta in approvers list
  OWNERS
Due: none

Return codes.OutOfRange gRPC code from pvCSI CBT API call, if returned so from supervisor CBT service
  pkg/csi/service/wcpguest/controller_cbt.go
  pkg/csi/service/wcpguest/controller_cbt_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fix finalizer removal from CNSFileAccessConfig CR when volume is not a file volume
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Adding skogta in approvers list (#4131)
  OWNERS
Due: none

Support mutable_parameters in CreateVolumeRequest (#4120)
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_test.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Return codes.OutOfRange gRPC code from pvCSI CBT API call, if returned so from supervisor CBT service (#4132)
  pkg/csi/service/wcpguest/controller_cbt.go
  pkg/csi/service/wcpguest/controller_cbt_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Upgrade golang version to 1.26.4 and its dependencies
  go.mod
  go.sum
  hack/cover-images.sh
  hack/release.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Updated attacher version for SVC k8s 1.32 (#4130)
  manifests/supervisorcluster/1.32/cns-csi.yaml
Due: none

Add a Namespace watch to the ClusterStoragePolicyInfo controller so marker-policy topology recalculates reactively on FVS instance namespace VPC/label changes.
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller.go
  pkg/syncer/cnsoperator/controller/clusterstoragepolicyinfo/controller_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fixed fmt
  pkg/syncer/pvcsi_fullsync.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test

Fixed fmt
  pkg/syncer/pvcsi_fullsync_test.go
  pkg/syncer/pvcsi_metadatasyncer_test.go
Due: pull-vsphere-csi-driver-verify-fmt, pull-vsphere-csi-driver-verify-vet, pull-vsphere-csi-driver-verify-golangci-lint, pull-vsphere-csi-driver-verify-staticcheck, pull-vsphere-csi-driver-build, pull-vsphere-csi-driver-unit-test
