Repository kubernetes-sigs/kjob: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Path conditions:
  pull-kjob-verify-main: unless all of: ^docs/|^\.github/|^(README|LICENSE|OWNERS)$
  pull-kjob-test-unit-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$/
  pull-kjob-test-integration-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-kjob-test-e2e-main: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$

doc updates
  docs/commands/kjobctl_list/kjobctl_list_jobset.md
Due: none

Bump Kubernetes dependencies to v0.33.x
  client-go/clientset/versioned/fake/clientset_generated.go
  client-go/clientset/versioned/typed/apis/v1alpha1/apis_client.go
  config/crd/bases/kjobctl.x-k8s.io_jobtemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayclustertemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayjobtemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_volumebundles.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/cmd/printcrds/embed/manifest.gz
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Bump golangci-lint to v2.
  .golangci.yaml
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/pinversion.go
  pkg/builder/builder.go
  pkg/builder/builder_test.go
  pkg/builder/ray_job_builder.go
  pkg/builder/slurm_builder.go
  pkg/builder/slurm_builder_test.go
  pkg/cmd/create/create.go
  pkg/cmd/create/create_slurm_test.go
  pkg/cmd/describe/describe_printer.go
  pkg/cmd/describe/helpers.go
  pkg/cmd/list/helpers.go
  pkg/cmd/list/list_interactive_printer.go
  pkg/cmd/list/list_job_printer.go
  pkg/cmd/list/list_ray_cluster_printer.go
  pkg/cmd/list/list_ray_job_printer.go
  pkg/cmd/util/dry_run.go
  pkg/parser/array_indexes.go
  pkg/parser/array_indexes_test.go
  pkg/parser/time_limit.go
  pkg/parser/time_limit_test.go
  pkg/testing/wrappers/configmap_wrappers.go
  pkg/testing/wrappers/container_wrappers.go
  pkg/testing/wrappers/job_template_wrappers.go
  pkg/testing/wrappers/job_wrappers.go
  pkg/testing/wrappers/pod_template_wrappers.go
  pkg/testing/wrappers/pod_wrappers.go
  pkg/testing/wrappers/ray_cluster_spec_wrapper.go
  pkg/testing/wrappers/ray_cluster_template_wrappers.go
  pkg/testing/wrappers/ray_cluster_wrappers.go
  pkg/testing/wrappers/ray_job_template_wrappers.go
  pkg/testing/wrappers/ray_job_wrappers.go
  pkg/testing/wrappers/service_wrappers.go
  pkg/testing/wrappers/volume_bundle_wrappers.go
  pkg/testing/wrappers/worker_group_spec_wrapper.go
  test/util/util.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Add --ntasks-per-node flag.
  apis/v1alpha1/application_profile_types.go
  config/crd/bases/kjobctl.x-k8s.io_applicationprofiles.yaml
  docs/commands/kjobctl_create/kjobctl_create_slurm.md
  pkg/builder/builder.go
  pkg/builder/slurm_builder.go
  pkg/builder/slurm_builder_test.go
  pkg/builder/templates/slurm_entrypoint_script.sh.tmpl
  pkg/builder/templates/slurm_init_entrypoint_script.sh.tmpl
  pkg/cmd/create/create.go
  pkg/cmd/create/create_slurm_test.go
  pkg/cmd/printcrds/embed/manifest.gz
  pkg/parser/array_indexes.go
  pkg/parser/array_indexes_test.go
  pkg/util/slices/slices.go
  pkg/util/slices/slices_test.go
  test/e2e/slurm_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Bump Kubernetes dependencies to v0.33.x
  Makefile
  client-go/clientset/versioned/fake/clientset_generated.go
  client-go/clientset/versioned/typed/apis/v1alpha1/apis_client.go
  config/crd/bases/kjobctl.x-k8s.io_jobtemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayclustertemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayjobtemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_volumebundles.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/cmd/printcrds/embed/manifest.gz
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Add dependabot-version-sync.yaml.
  .github/workflows/dependabot-version-sync.yaml
Due: none

Update Production Readiness status.
  README.md
Due: pull-kjob-verify-main

Run embeded-manifest target on sync controller-tools version.
  .github/workflows/dependabot-version-sync.yaml
Due: none

Run embeded-manifest target on sync controller-tools version. (#141)
  .github/workflows/dependabot-version-sync.yaml
Due: none

Add --ntasks-per-node flag. (#76)
  apis/v1alpha1/application_profile_types.go
  config/crd/bases/kjobctl.x-k8s.io_applicationprofiles.yaml
  docs/commands/kjobctl_create/kjobctl_create_slurm.md
  pkg/builder/builder.go
  pkg/builder/slurm_builder.go
  pkg/builder/slurm_builder_test.go
  pkg/builder/templates/slurm_entrypoint_script.sh.tmpl
  pkg/builder/templates/slurm_init_entrypoint_script.sh.tmpl
  pkg/cmd/create/create.go
  pkg/cmd/create/create_slurm_test.go
  pkg/cmd/printcrds/embed/manifest.gz
  pkg/parser/array_indexes.go
  pkg/parser/array_indexes_test.go
  pkg/util/slices/slices.go
  pkg/util/slices/slices_test.go
  test/e2e/slurm_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Fix after bump.
  config/crd/bases/kjobctl.x-k8s.io_rayclustertemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayjobtemplates.yaml
  pkg/cmd/printcrds/embed/manifest.gz
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Bump github.com/ray-project/kuberay/ray-operator from 1.3.2 to 1.4.0 (#145)
  config/crd/bases/kjobctl.x-k8s.io_rayclustertemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayjobtemplates.yaml
  go.mod
  go.sum
  pkg/cmd/printcrds/embed/manifest.gz
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Add badges (#110)
  README.md
Due: pull-kjob-verify-main

Fix after bump.
  pkg/builder/builder.go
  pkg/cmd/cmd.go
  pkg/cmd/completion/completion.go
  pkg/cmd/create/create.go
  pkg/cmd/create/create_interactive_test.go
  pkg/cmd/delete/delete.go
  pkg/cmd/delete/delete_interactive.go
  pkg/cmd/delete/delete_job.go
  pkg/cmd/delete/delete_ray_cluster.go
  pkg/cmd/delete/delete_ray_job.go
  pkg/cmd/delete/delete_slurm.go
  pkg/cmd/delete/helpers.go
  pkg/cmd/describe/describe.go
  pkg/cmd/helpers/client_getter.go
  pkg/cmd/helpers/dry_run.go
  pkg/cmd/helpers/helpers.go
  pkg/cmd/list/list.go
  pkg/cmd/list/list_interactive.go
  pkg/cmd/list/list_job.go
  pkg/cmd/list/list_ray_cluster.go
  pkg/cmd/list/list_ray_job.go
  pkg/cmd/list/list_slurm.go
  pkg/cmd/testing/fake.go
  test/e2e/e2e_test.go
  test/e2e/slurm_test.go
  test/e2e/suite_test.go
  test/framework/framework.go
  test/helpers/constants.go
  test/helpers/util.go
  test/integration/kjobctl/create_test.go
  test/integration/kjobctl/list_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Bump github.com/golangci/golangci-lint/v2 from 2.1.6 to 2.2.1 in /hack/tools (#149)
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/builder/builder.go
  pkg/cmd/cmd.go
  pkg/cmd/completion/completion.go
  pkg/cmd/create/create.go
  pkg/cmd/create/create_interactive_test.go
  pkg/cmd/delete/delete.go
  pkg/cmd/delete/delete_interactive.go
  pkg/cmd/delete/delete_job.go
  pkg/cmd/delete/delete_ray_cluster.go
  pkg/cmd/delete/delete_ray_job.go
  pkg/cmd/delete/delete_slurm.go
  pkg/cmd/delete/helpers.go
  pkg/cmd/describe/describe.go
  pkg/cmd/helpers/client_getter.go
  pkg/cmd/helpers/dry_run.go
  pkg/cmd/helpers/helpers.go
  pkg/cmd/list/list.go
  pkg/cmd/list/list_interactive.go
  pkg/cmd/list/list_job.go
  pkg/cmd/list/list_ray_cluster.go
  pkg/cmd/list/list_ray_job.go
  pkg/cmd/list/list_slurm.go
  pkg/cmd/testing/fake.go
  test/e2e/e2e_test.go
  test/e2e/slurm_test.go
  test/e2e/suite_test.go
  test/framework/framework.go
  test/helpers/constants.go
  test/helpers/util.go
  test/integration/kjobctl/create_test.go
  test/integration/kjobctl/list_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

add jobset support into kjob
  Makefile
  apis/v1alpha1/application_profile_types.go
  apis/v1alpha1/jobset_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  client-go/clientset/versioned/typed/apis/v1alpha1/apis_client.go
  client-go/clientset/versioned/typed/apis/v1alpha1/fake/fake_apis_client.go
  client-go/clientset/versioned/typed/apis/v1alpha1/fake/fake_jobsettemplate.go
  client-go/clientset/versioned/typed/apis/v1alpha1/generated_expansion.go
  client-go/clientset/versioned/typed/apis/v1alpha1/jobsettemplate.go
  config/crd/bases/kjobctl.x-k8s.io_applicationprofiles.yaml
  config/crd/bases/kjobctl.x-k8s.io_jobsettemplates.yaml
  config/samples/jobset-sample.yaml
  docs/commands/kjobctl_create/kjobctl_create_jobset.md
  docs/commands/kjobctl_delete/_index.md
  docs/commands/kjobctl_delete/kjobctl_delete_jobset.md
  go.mod
  go.sum
  pkg/builder/builder.go
  pkg/builder/jobset_builder.go
  pkg/cmd/completion/completion.go
  pkg/cmd/completion/completion_test.go
  pkg/cmd/create/create.go
  pkg/cmd/create/create_jobset_test.go
  pkg/cmd/delete/delete.go
  pkg/cmd/delete/delete_jobset.go
  pkg/cmd/delete/delete_jobset_test.go
  pkg/cmd/describe/describe_printer.go
  pkg/cmd/helpers/client_getter.go
  pkg/cmd/list/list.go
  pkg/cmd/list/list_jobset.go
  pkg/cmd/list/list_jobset_printer.go
  pkg/cmd/list/list_jobset_test.go
  pkg/cmd/testing/fake.go
  pkg/testing/wrappers/jobset_template_wrappers.go
  pkg/testing/wrappers/jobset_wrappers.go
  test/framework/framework.go
  test/integration/kjobctl/create_jobset_test.go
  test/integration/kjobctl/list_test.go
  test/integration/kjobctl/suite_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

address feedback
  apis/v1alpha1/jobset_types.go
  config/samples/jobset-sample.yaml
  pkg/builder/jobset_builder.go
  pkg/cmd/create/create.go
  pkg/cmd/delete/delete_jobset.go
  pkg/cmd/delete/delete_jobset_test.go
  pkg/cmd/list/list_jobset.go
  pkg/cmd/list/list_jobset_printer.go
  pkg/cmd/list/list_jobset_test.go
  pkg/testing/wrappers/jobset_wrappers.go
  test/integration/kjobctl/create_jobset_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Remove support for Kubernetes 1.30.
  README.md
Due: pull-kjob-verify-main

Remove support for Kubernetes 1.30. (#153)
  README.md
Due: pull-kjob-verify-main

Use ParseErrorsAllowlist instead of ParseErrorsWhitelist.
  pkg/parser/slurm.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Use ParseErrorsAllowlist instead of ParseErrorsWhitelist. (#179)
  pkg/parser/slurm.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Bump Kubernetes dependencies to v0.34.x
  Makefile
  README.md
  config/crd/bases/kjobctl.x-k8s.io_jobtemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayclustertemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayjobtemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_volumebundles.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

fix: chdir not working as whitespace clip
  pkg/builder/templates/slurm_entrypoint_script.sh.tmpl
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Filter warning lines from slurm output.
  test/e2e/slurm_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Filter warning lines from slurm output. (#188)
  test/e2e/slurm_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

fix: chdir not working as whitespace clip
  pkg/builder/templates/slurm_entrypoint_script.sh.tmpl
  pkg/cmd/create/create_slurm_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

fix: chdir not working as whitespace clip (#186)
  pkg/builder/templates/slurm_entrypoint_script.sh.tmpl
  pkg/cmd/create/create_slurm_test.go
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Upgrade Go version to 1.25.
  go.mod
  hack/tools/go.mod
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Set the E2E_KIND_VERSION mk variable based on the E2E_K8S_VERSION.
  Makefile
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Set the E2E_KIND_VERSION mk variable based on the E2E_K8S_VERSION. (#195)
  Makefile
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Upgrade Go version to 1.25. (#194)
  go.mod
  hack/tools/go.mod
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Bump kueue and ray-operator.
  config/crd/bases/kjobctl.x-k8s.io_rayclustertemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayjobtemplates.yaml
  go.mod
  go.sum
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Bump controller-runtime.
  go.mod
  go.sum
  pkg/cmd/printcrds/embed/manifest.gz
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Bump Kubernetes dependencies to v0.34.x (#185)
  Makefile
  README.md
  config/crd/bases/kjobctl.x-k8s.io_jobtemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayclustertemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_rayjobtemplates.yaml
  config/crd/bases/kjobctl.x-k8s.io_volumebundles.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/cmd/printcrds/embed/manifest.gz
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main

Remove support for Kubernetes v1.31.
  Makefile
  README.md
Due: pull-kjob-verify-main, pull-kjob-test-unit-main, pull-kjob-test-integration-main, pull-kjob-test-e2e-main
