Repository kubernetes-sigs/alibaba-cloud-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm, pull-alibaba-cloud-csi-driver-verify-base-image-deps

pull-alibaba-cloud-csi-driver-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - fmt
      env:
      - name: GOMAXPROCS
        value: '2'
      resources:
        limits:
          cpu: 2
  ...

pull-alibaba-cloud-csi-driver-verify-lint:
  decorate: true
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - lint
      env:
      - name: GOMAXPROCS
        value: '2'
      resources:
        limits:
          cpu: 2
  ...

pull-alibaba-cloud-csi-driver-verify-vet:
  decorate: true
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - vet
      env:
      - name: GOMAXPROCS
        value: '2'
      resources:
        limits:
          cpu: 2
  ...

pull-alibaba-cloud-csi-driver-verify-unit:
  decorate: true
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - test
      env:
      - name: GOMAXPROCS
        value: '2'
      resources:
        limits:
          cpu: 2
  ...

pull-alibaba-cloud-csi-driver-verify-deps:
  optional: true
  decorate: true
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - make
      args:
      - check-deps
      env:
      - name: GOMAXPROCS
        value: '2'
      resources:
        limits:
  ...

pull-alibaba-cloud-csi-driver-verify-helm:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
  ...

pull-alibaba-cloud-csi-driver-verify-base-image-deps:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - check-base-image-deps
      securityContext:
  ...

feat(nas): bump alinas utils & efc versions
  build/lib/init.sh
  build/multi/Dockerfile.multi
  build/multi/Dockerfile.multi.asi
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-base-image-deps

deploy: increase the limit of init container
  deploy/chart/templates/plugin.yaml
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

bump local to v0.1.3
  deploy/chart/values.yaml
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

sync filesystem cache to nas backend when umount nas, ensure umount successfully
  pkg/nas/nodeserver.go
  pkg/nas/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

fixed to expand nas loopdevice file system issue
  pkg/losetup/losetup.go
  pkg/nas/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

cleanup 'EnableLosetup' flag, default support nas loopdevice
  pkg/nas/internal/config.go
  pkg/nas/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

cleanup 'NAS_LOSETUP_ENABLE' env, default support nas loopdevice
  deploy/chart/templates/plugin.yaml
  docs/migrate/flexvolume-to-csi-disk.md
  pkg/nas/internal/config.go
  pkg/nas/internal/config_test.go
  pkg/nas/nodeserver.go
  test/csi-sanity/csi-sanity-disk.yaml
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

Fix idempotent issue of runD mounted
  pkg/disk/nodeserver.go
  pkg/disk/nodeserver_test.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

support enable delete auto snapshots by featuregate for managedprovisioner
  pkg/disk/disk.go
  pkg/features/features.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk: wait for device to appear on attach
  pkg/disk/cloud.go
  pkg/disk/device_manager.go
  pkg/disk/device_manager_test.go
  pkg/disk/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk: avoid access metadata server in newEcsClient
  pkg/disk/disk.go
  pkg/disk/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

Add typos github action
  .github/workflows/typos.yaml
  _typos.toml
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

Add logs for abnormal find device code path
  pkg/disk/cloud.go
  pkg/disk/device_manager.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

Fix typos
  .github/workflows/typos.yaml
  _typos.toml
  cmd/csi-agent/main.go
  docs/nas-dynamic.md
  pkg/agent/queryserver.go
  pkg/cloud/metadata/metadata.go
  pkg/cloud/utils_test.go
  pkg/disk/attachdetach_slot.go
  pkg/disk/attachdetach_slot_test.go
  pkg/disk/batcher/low_latency.go
  pkg/disk/bdf.go
  pkg/disk/bdfcheck.go
  pkg/disk/cloud.go
  pkg/disk/cloud_test.go
  pkg/disk/constants.go
  pkg/disk/controllerserver.go
  pkg/disk/device_manager.go
  pkg/disk/group_volume_snapshot_utils.go
  pkg/disk/nodeserver.go
  pkg/disk/utils.go
  pkg/disk/utils_test.go
  pkg/ens/ens.go
  pkg/ens/nodeserver.go
  pkg/ens/utils.go
  pkg/metric/utils.go
  pkg/mounter/fuse_pod_manager.go
  pkg/mounter/helper.go
  pkg/mounter/ossfs.go
  pkg/nas/cloud/nas_client_v2_test.go
  pkg/nas/nodeserver.go
  pkg/oss/nodeserver.go
  pkg/oss/utils.go
  pkg/oss/utils_test.go
  pkg/pov/cloud.go
  pkg/pov/controller.go
  pkg/pov/internal/inflight.go
  pkg/utils/error_types.go
  pkg/utils/error_types_test.go
  pkg/utils/http/header.go
  pkg/utils/util.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

chart: add nasEndpoint setting in values
  deploy/chart/templates/controller.yaml
  deploy/chart/templates/plugin.yaml
  deploy/chart/values.yaml
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

unify config for clientset and support setting qps and burst with args as sidecar do
  deploy/chart/templates/controller.yaml
  main.go
  pkg/agent/queryserver.go
  pkg/disk/disk.go
  pkg/ens/ens.go
  pkg/metric/disk_stat_collector.go
  pkg/metric/nfs_stat_collector.go
  pkg/options/genericoptions.go
  pkg/pov/pov.go
  pkg/utils/util.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

use pflag instead
  cmd/csi-agent/main.go
  cmd/mount-proxy-client/main.go
  cmd/mount-proxy-server/main.go
  go.mod
  main.go
  pkg/utils/global.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

remove node check (for vk) and sa check
  deploy/chart/templates/fuse.yaml
  pkg/mounter/fuse_pod_manager.go
  pkg/oss/controllerserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

add logs
  pkg/options/genericoptions.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

build: omit debug info by default
  build/multi/Dockerfile.multi
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-base-image-deps

fix unexpected csi-config parsing error
  pkg/mounter/fuse_pod_manager.go
  pkg/mounter/fuse_pod_manager_test.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk: when attach, get disk category from OpenAPI
  pkg/disk/cloud.go
  pkg/disk/controllerserver.go
  pkg/disk/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

Cleanup all non-constant printf format string
  pkg/disk/bdfcheck.go
  pkg/disk/cloud.go
  pkg/disk/controllerserver.go
  pkg/disk/nodeserver.go
  pkg/disk/utils.go
  pkg/ens/nodeserver.go
  pkg/ens/utils.go
  pkg/nas/nodeserver.go
  pkg/nas/subpath_controller.go
  pkg/oss/controllerserver.go
  pkg/oss/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk: re-implement StagingTargetPath cleanup logic
  pkg/disk/nodeserver.go
  pkg/disk/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

cloud/wrap: unified OpenAPI logging and error reporting
  pkg/cloud/utils.go
  pkg/cloud/wrap/error.go
  pkg/cloud/wrap/sdkv1.go
  pkg/cloud/wrap/sdkv1_test.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

common: validation and ctx logging for new API
  pkg/common/controllerserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

test: enable csi-sanity test for ModifyVolume
  test/csi-sanity/csi-sanity-disk.yaml
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk: implement ModifyVolume
  docs/ram-policies/disk/controller.json
  pkg/cloud/ecsinterface.go
  pkg/cloud/ecsmock.go
  pkg/disk/constants.go
  pkg/disk/controllerserver.go
  pkg/disk/desc/task.go
  pkg/disk/modify.go
  pkg/disk/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk/snapshot: don't cache created snapshot
  pkg/disk/controllerserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk/snapshot: map create error code
  pkg/disk/cloud.go
  pkg/disk/constants.go
  pkg/disk/controllerserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk/snapshot: don't describe before create
  pkg/disk/cloud.go
  pkg/disk/controllerserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk/snapshot: wait for cut
  pkg/disk/controllerserver.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

common: update instrumentGRPC to consider context error
  pkg/common/interceptors.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

common: timeout the request earlier for better error message
  pkg/common/interceptors.go
  pkg/common/interceptors_test.go
  pkg/common/start.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

disk/ad_slot: return better GRPC error message
  pkg/disk/attachdetach_slot.go
  pkg/disk/attachdetach_slot_test.go
  pkg/disk/cloud.go
Due: pull-alibaba-cloud-csi-driver-verify-fmt, pull-alibaba-cloud-csi-driver-verify-lint, pull-alibaba-cloud-csi-driver-verify-vet, pull-alibaba-cloud-csi-driver-verify-unit, pull-alibaba-cloud-csi-driver-verify-deps

Path conditions:
  pull-alibaba-cloud-csi-driver-verify-fmt: unless all of: ^docs/|^\.github/|\.(md|adoc)$|^(README|LICENSE|OWNERS)$
  pull-alibaba-cloud-csi-driver-verify-lint: unless all of: ^docs/|^\.github/|\.(md|adoc)$|^(README|LICENSE|OWNERS)$
  pull-alibaba-cloud-csi-driver-verify-vet: unless all of: ^docs/|^\.github/|\.(md|adoc)$|^(README|LICENSE|OWNERS)$
  pull-alibaba-cloud-csi-driver-verify-unit: unless all of: ^docs/|^\.github/|\.(md|adoc)$|^(README|LICENSE|OWNERS)$
  pull-alibaba-cloud-csi-driver-verify-deps: unless all of: ^docs/|^\.github/|\.(md|adoc)$|^(README|LICENSE|OWNERS)$
  pull-alibaba-cloud-csi-driver-verify-helm: any of: ^deploy/chart/
  pull-alibaba-cloud-csi-driver-verify-base-image-deps: any of: ^(hack/base-image-deps.txt$|build/)
