Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

Update vendor license for release-1.28
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.29
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.26
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.27
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for master
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[e2e] Print error if unmanaged Node test fails
  tests/e2e/node/unmanaged_node.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

chore: switch to non-root user for cloud-node-manager to improve security
  cloud-node-manager-windows.Dockerfile
  cloud-node-manager.Dockerfile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Print error if unmanaged Node test fails
  tests/e2e/node/unmanaged_node.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

chore: add tag refine
  pkg/provider/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: include missing custom CAS image
  .pipelines/templates/customconfiguration-autoscaling.json
Due: pull-cloud-provider-azure-check

feat: add forceDetach parameter in DetachDisk function
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_standard_test.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmss_test.go
  pkg/provider/azure_controller_vmssflex.go
  pkg/provider/azure_controller_vmssflex_test.go
  pkg/provider/azure_mock_vmsets.go
  pkg/provider/azure_vmsets.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

DNM Debug Logging around hang
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_repo.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit
