Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-unit
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

Update release notes for v1.34.13
  content/en/blog/releases/v1.34.13.md
Due: none

add VNetResourceGroupOrDefault method and update config documentation (#10737)
  pkg/provider/servicegateway/difftracker/config.go
  pkg/provider/servicegateway/difftracker/config_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update release notes for v1.35.8
  content/en/blog/releases/v1.35.8.md
Due: none

Update release notes for v1.36.4
  content/en/blog/releases/v1.36.4.md
Due: none

Update release notes for v1.30.18 (#10770)
  content/en/blog/releases/v1.30.18.md
Due: none

Update release notes for v1.31.14 (#10771)
  content/en/blog/releases/v1.31.14.md
Due: none

Update release notes for v1.32.20 (#10772)
  content/en/blog/releases/v1.32.20.md
Due: none

Update release notes for v1.34.13 (#10774)
  content/en/blog/releases/v1.34.13.md
Due: none

Update release notes for v1.35.8 (#10775)
  content/en/blog/releases/v1.35.8.md
Due: none

Update release notes for v1.36.4 (#10776)
  content/en/blog/releases/v1.36.4.md
Due: none

Rename test for ServiceGateway start failure and improve error handling
  cmd/cloud-controller-manager/app/core_test.go
  pkg/provider/azure_test.go
  pkg/provider/servicegateway/runtime.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: remove StartWithoutDiscovery method and related tests
  pkg/provider/azure_test.go
  pkg/provider/servicegateway/runtime.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: guard nodePrivateIPs cache reads with nodeCachesLock
  pkg/provider/azure.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_local_services_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: use PATCH when refreshing failed VMs
  pkg/provider/azure_controller_common.go
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_standard_test.go
  pkg/provider/azure_controller_vmssflex.go
  pkg/provider/azure_controller_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Align ServiceGateway tests with engine-backed initialization (#10738)
  cmd/cloud-controller-manager/app/core_test.go
  pkg/provider/azure_test.go
  pkg/provider/servicegateway/difftracker/difftracker.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update Go modules
  tests/go.mod
  tests/go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: enhance finalizer handling and service deletion logic to prevent resource leaks
  pkg/provider/servicegateway/difftracker/engine.go
  pkg/provider/servicegateway/difftracker/engine_test.go
  pkg/provider/servicegateway/difftracker/finalizers.go
  pkg/provider/servicegateway/difftracker/finalizers_strand_guards_test.go
  pkg/provider/servicegateway/difftracker/finalizers_test.go
  pkg/provider/servicegateway/difftracker/service_updater.go
  tests/e2e/network/slb/slb_type_transition_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Enhance finalizer handling for terminating pods without IPs
  pkg/provider/servicegateway/difftracker/engine.go
  pkg/provider/servicegateway/difftracker/engine_public_api_guards_test.go
  pkg/provider/servicegateway/difftracker/finalizers.go
  pkg/provider/servicegateway/difftracker/initialization.go
  pkg/provider/servicegateway/difftracker/initialization_test.go
  pkg/provider/servicegateway/difftracker/k8s_state_updates.go
  pkg/provider/servicegateway/difftracker/pods.go
  pkg/provider/servicegateway/difftracker/pods_test.go
  pkg/provider/servicegateway/difftracker/types.go
  tests/e2e/network/slb/slb_finalizer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: update ServiceGateway response handling to accept 200 OK status
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/network/armnetwork/v9/servicegateways_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Implement Service Gateway LoadBalancer with Network Resource Subscription Support
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-controller-manager/app/core_test.go
  pkg/provider/azure_servicegateway_test.go
  pkg/provider/azure_test.go
  pkg/provider/clb_servicegateway_test.go
  pkg/provider/servicegateway/difftracker/azure_operations.go
  pkg/provider/servicegateway/difftracker/initialization.go
  pkg/provider/servicegateway/difftracker/locations_updater.go
  pkg/provider/servicegateway/difftracker/pods.go
  pkg/provider/servicegateway/difftracker/resource_helpers.go
  pkg/provider/servicegateway/difftracker/resource_helpers_test.go
  pkg/provider/servicegateway/difftracker/service_updater.go
  pkg/provider/servicegateway/difftracker/util_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: streamline admission logic for inbound services and enhance test coverage
  pkg/provider/servicegateway/difftracker/resource_helpers.go
  pkg/provider/servicegateway/difftracker/resource_helpers_test.go
  pkg/provider/servicegateway/difftracker/service_updater_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat: enhance ServiceGateway operations to tolerate synchronous 200 OK responses
  pkg/provider/servicegateway/difftracker/METRICS.md
  pkg/provider/servicegateway/difftracker/azure_operations.go
  pkg/provider/servicegateway/difftracker/azure_operations_test.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/network/armnetwork/v9/servicegateways_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat: add StartWithoutDiscovery method to ServiceGateway runtime for non-live initialization
  cmd/cloud-controller-manager/app/core_test.go
  pkg/provider/azure_servicegateway_test.go
  pkg/provider/azure_test.go
  pkg/provider/servicegateway/runtime.go
  pkg/provider/servicegateway/runtime_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: streamline ServiceGateway runtime initialization and enhance test coverage
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-controller-manager/app/core_test.go
  docs/servicegateway-architecture.md
  internal/testutil/fixture/kubernetes.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/azure_loadbalancer_healthprobe.go
  pkg/provider/azure_loadbalancer_repo.go
  pkg/provider/azure_servicegateway_test.go
  pkg/provider/clb_servicegateway_test.go
  pkg/provider/config/env.go
  pkg/provider/servicegateway/difftracker/loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat: add end-to-end tests for SLB dataplane behavior and service isolation
  tests/e2e/servicegateway/slb_dataplane_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: enhance error handling in Azure CLI command execution to include stderr output
  pkg/provider/servicegateway/difftracker/engine_test.go
  tests/e2e/servicegateway/slb_suite_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: replace exec.Command with runAz for Azure CLI calls in service gateway tests
  tests/e2e/servicegateway/slb_basic_test.go
  tests/e2e/servicegateway/slb_concurrent_test.go
  tests/e2e/servicegateway/slb_deletion_crash_test.go
  tests/e2e/servicegateway/slb_egress_connectivity_test.go
  tests/e2e/servicegateway/slb_finalizer_test.go
  tests/e2e/servicegateway/slb_label_update_test.go
  tests/e2e/servicegateway/slb_outbound_test.go
  tests/e2e/servicegateway/slb_reachability_test.go
  tests/e2e/servicegateway/slb_scale_test.go
  tests/e2e/servicegateway/slb_status_backfill_test.go
  tests/e2e/servicegateway/slb_suite_test.go
  tests/e2e/servicegateway/slb_udp_test.go
  tests/e2e/servicegateway/slb_update_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Implement endpoint slice address family resolution and enhance service operation tracking
  pkg/provider/servicegateway/difftracker/difftracker.go
  pkg/provider/servicegateway/difftracker/difftracker_test.go
  pkg/provider/servicegateway/difftracker/dualstack_node_regression_test.go
  pkg/provider/servicegateway/difftracker/endpoints.go
  pkg/provider/servicegateway/difftracker/endpoints_test.go
  pkg/provider/servicegateway/difftracker/engine.go
  pkg/provider/servicegateway/difftracker/engine_test.go
  pkg/provider/servicegateway/difftracker/initialization.go
  pkg/provider/servicegateway/difftracker/initialization_test.go
  pkg/provider/servicegateway/difftracker/loadbalancer.go
  pkg/provider/servicegateway/difftracker/loadbalancer_test.go
  pkg/provider/servicegateway/difftracker/metrics.go
  pkg/provider/servicegateway/difftracker/metrics_test.go
  pkg/provider/servicegateway/difftracker/pods.go
  pkg/provider/servicegateway/difftracker/resource_helpers.go
  pkg/provider/servicegateway/difftracker/resource_helpers_test.go
  pkg/provider/servicegateway/difftracker/service_updater.go
  pkg/provider/servicegateway/difftracker/service_updater_test.go
  pkg/provider/servicegateway/difftracker/types.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Refactor service gateway difftracker code for consistency and clarity
  pkg/provider/servicegateway/difftracker/azure_operations.go
  pkg/provider/servicegateway/difftracker/azure_operations_test.go
  pkg/provider/servicegateway/difftracker/bug_guards_test.go
  pkg/provider/servicegateway/difftracker/deletion_checker_test.go
  pkg/provider/servicegateway/difftracker/difftracker_test.go
  pkg/provider/servicegateway/difftracker/endpoints.go
  pkg/provider/servicegateway/difftracker/engine_concurrency_guards_test.go
  pkg/provider/servicegateway/difftracker/engine_public_api_guards_test.go
  pkg/provider/servicegateway/difftracker/engine_state_machine_guards_test.go
  pkg/provider/servicegateway/difftracker/finalizers.go
  pkg/provider/servicegateway/difftracker/finalizers_strand_guards_test.go
  pkg/provider/servicegateway/difftracker/finalizers_test.go
  pkg/provider/servicegateway/difftracker/finalizers_uid_guards_test.go
  pkg/provider/servicegateway/difftracker/initialization.go
  pkg/provider/servicegateway/difftracker/initialization_test.go
  pkg/provider/servicegateway/difftracker/locations_updater.go
  pkg/provider/servicegateway/difftracker/pods.go
  pkg/provider/servicegateway/difftracker/resource_helpers.go
  pkg/provider/servicegateway/difftracker/resource_helpers_test.go
  pkg/provider/servicegateway/difftracker/service_updater_park_recovery_guard_test.go
  pkg/provider/servicegateway/difftracker/sync_operations_test.go
  pkg/provider/servicegateway/difftracker/sync_operations_wire_shape_test.go
  pkg/provider/servicegateway/difftracker/types.go
  pkg/provider/servicegateway/difftracker/util.go
  pkg/provider/servicegateway/difftracker/util_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Enhance metrics and error handling for service and pod finalizer operations
  pkg/provider/servicegateway/difftracker/azure_operations.go
  pkg/provider/servicegateway/difftracker/endpoints.go
  pkg/provider/servicegateway/difftracker/engine.go
  pkg/provider/servicegateway/difftracker/initialization.go
  pkg/provider/servicegateway/difftracker/initialization_test.go
  pkg/provider/servicegateway/difftracker/metrics.go
  pkg/provider/servicegateway/difftracker/metrics_test.go
  pkg/provider/servicegateway/difftracker/pods.go
  pkg/provider/servicegateway/difftracker/pods_test.go
  pkg/provider/servicegateway/difftracker/service_updater.go
  pkg/provider/servicegateway/difftracker/service_updater_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Enhance SLB E2E Tests for Improved Address Management and Validation
  pkg/provider/servicegateway/difftracker/engine_concurrency_guards_test.go
  pkg/provider/servicegateway/difftracker/engine_public_api_guards_test.go
  pkg/provider/servicegateway/difftracker/engine_state_machine_guards_test.go
  pkg/provider/servicegateway/difftracker/pods.go
  pkg/provider/servicegateway/difftracker/pods_test.go
  pkg/provider/servicegateway/difftracker/service_updater_test.go
  tests/e2e/servicegateway/slb_concurrent_test.go
  tests/e2e/servicegateway/slb_egress_lifecycle_test.go
  tests/e2e/servicegateway/slb_endpoint_lifecycle_test.go
  tests/e2e/servicegateway/slb_initialization_test.go
  tests/e2e/servicegateway/slb_lifecycle_test.go
  tests/e2e/servicegateway/slb_multinode_test.go
  tests/e2e/servicegateway/slb_outbound_performance_test.go
  tests/e2e/servicegateway/slb_performance_test.go
  tests/e2e/servicegateway/slb_reachability_test.go
  tests/e2e/servicegateway/slb_stress_test.go
  tests/e2e/servicegateway/slb_suite_test.go
  tests/e2e/servicegateway/slb_update_test.go
  tests/e2e/servicegateway/slb_upscale_downscale_test.go
  tests/e2e/servicegateway/slb_validation_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: improve comments for clarity in azure_operations_test.go
  pkg/provider/servicegateway/difftracker/azure_operations_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat: add warning event handling for rejected services in LoadBalancer
  pkg/provider/servicegateway/difftracker/loadbalancer.go
  pkg/provider/servicegateway/difftracker/loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: enhance test coverage and improve assertions in service gateway diff tracker tests
  pkg/provider/servicegateway/difftracker/azure_operations_clients_test.go
  pkg/provider/servicegateway/difftracker/engine_concurrency_guards_test.go
  pkg/provider/servicegateway/difftracker/engine_lifecycle_guards_test.go
  pkg/provider/servicegateway/difftracker/engine_public_api_guards_test.go
  pkg/provider/servicegateway/difftracker/finalizers_test.go
  pkg/provider/servicegateway/difftracker/resource_helpers_v9_wire_guard_test.go
  tests/e2e/servicegateway/ccm_utils.go
  tests/e2e/servicegateway/slb_dataplane_test.go
  tests/e2e/servicegateway/slb_suite_test.go
  tests/e2e/servicegateway/slb_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Refactor service gateway diff tracker to enforce inbound service admission checks
  pkg/provider/servicegateway/difftracker/azure_operations.go
  pkg/provider/servicegateway/difftracker/azure_operations_clients_test.go
  pkg/provider/servicegateway/difftracker/azure_operations_test.go
  pkg/provider/servicegateway/difftracker/engine.go
  pkg/provider/servicegateway/difftracker/initialization.go
  pkg/provider/servicegateway/difftracker/initialization_test.go
  pkg/provider/servicegateway/difftracker/locations_updater.go
  pkg/provider/servicegateway/difftracker/locations_updater_test.go
  pkg/provider/servicegateway/difftracker/resource_helpers.go
  pkg/provider/servicegateway/difftracker/resource_helpers_test.go
  pkg/provider/servicegateway/difftracker/service_updater_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: implement reserved egress identity checks to prevent management of default NAT Gateway
  pkg/provider/servicegateway/difftracker/initialization.go
  pkg/provider/servicegateway/difftracker/pods.go
  pkg/provider/servicegateway/difftracker/pods_test.go
  pkg/provider/servicegateway/difftracker/resource_helpers.go
  pkg/provider/servicegateway/difftracker/resource_helpers_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

wip
  pkg/provider/servicegateway/difftracker/azure_operations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Refactor and enhance tests for Service Gateway functionality
  cmd/cloud-controller-manager/app/core_test.go
  pkg/provider/azure_test.go
  pkg/provider/servicegateway/difftracker/azure_operations.go
  pkg/provider/servicegateway/difftracker/azure_operations_clients_test.go
  pkg/provider/servicegateway/difftracker/engine.go
  pkg/provider/servicegateway/difftracker/engine_test.go
  pkg/provider/servicegateway/difftracker/initialization_test.go
  pkg/provider/servicegateway/difftracker/resource_helpers.go
  pkg/provider/servicegateway/difftracker/resource_helpers_test.go
  pkg/provider/servicegateway/difftracker/service_updater_test.go
  pkg/provider/servicegateway/difftracker/util_test.go
  pkg/provider/servicegateway/runtime.go
  pkg/provider/servicegateway/runtime_test.go
  tests/e2e/servicegateway/slb_basic_test.go
  tests/e2e/servicegateway/slb_concurrent_test.go
  tests/e2e/servicegateway/slb_egress_connectivity_test.go
  tests/e2e/servicegateway/slb_finalizer_test.go
  tests/e2e/servicegateway/slb_label_update_test.go
  tests/e2e/servicegateway/slb_multinode_test.go
  tests/e2e/servicegateway/slb_outbound_test.go
  tests/e2e/servicegateway/slb_performance_test.go
  tests/e2e/servicegateway/slb_scale_test.go
  tests/e2e/servicegateway/slb_suite_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
