Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - make
      - test-unit

Fix checking service references when deleting PIP (#7262)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

remove track1 nsg/virtualnetworklink/privatedns client from code base
  pkg/azureclients/privatednsclient/azure_privatednsclient.go
  pkg/azureclients/privatednsclient/azure_privatednsclient_test.go
  pkg/azureclients/privatednsclient/interface.go
  pkg/azureclients/privatednsclient/mockprivatednsclient/doc.go
  pkg/azureclients/privatednsclient/mockprivatednsclient/interface.go
  pkg/azureclients/securitygroupclient/azure_securitygroupclient.go
  pkg/azureclients/securitygroupclient/azure_securitygroupclient_test.go
  pkg/azureclients/securitygroupclient/doc.go
  pkg/azureclients/securitygroupclient/interface.go
  pkg/azureclients/securitygroupclient/mocksecuritygroupclient/doc.go
  pkg/azureclients/securitygroupclient/mocksecuritygroupclient/interface.go
  pkg/azureclients/virtualnetworklinksclient/azure_virtualnetworklinksclient.go
  pkg/azureclients/virtualnetworklinksclient/azure_virtualnetworklinksclient_test.go
  pkg/azureclients/virtualnetworklinksclient/doc.go
  pkg/azureclients/virtualnetworklinksclient/interface.go
  pkg/azureclients/virtualnetworklinksclient/mockvirtualnetworklinksclient/doc.go
  pkg/azureclients/virtualnetworklinksclient/mockvirtualnetworklinksclient/interface.go
  pkg/provider/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Optimize CIDR aggregation to improve performance and reduce memory usage
  pkg/provider/loadbalancer/fnutil/map.go
  pkg/provider/loadbalancer/iputil/bits.go
  pkg/provider/loadbalancer/iputil/bits_test.go
  pkg/provider/loadbalancer/iputil/prefix.go
  pkg/provider/loadbalancer/iputil/prefix_test.go
  pkg/provider/loadbalancer/iputil/prefix_tree.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Fix checking service references when deleting PIP (#7261)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Fix checking service references when deleting PIP (#7263)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for master
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Fix cloudConfigSecretName behavior
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.31.2.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

migrate nsg client to track2 one
  internal/testutil/assert.go
  internal/testutil/fixture/azure_securitygroup.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/azure_mock_vmsets.go
  pkg/provider/azure_securitygroup_repo.go
  pkg/provider/azure_securitygroup_repo_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_storageaccount_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  pkg/provider/azure_wrap.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/securitygroup/securitygroup.go
  pkg/provider/loadbalancer/securitygroup/securitygroup_test.go
  pkg/provider/loadbalancer/securitygroup/securityrule.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/securitygroupclient/mock_securitygroupclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

doc: explain registry mirror
  content/en/topics/credential-provider.md
Due: none

doc: explain registry mirror (#7273)
  content/en/topics/credential-provider.md
Due: none

migrate nsg client to track2 one
  go.sum
  internal/testutil/assert.go
  internal/testutil/fixture/azure_securitygroup.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/azure_mock_vmsets.go
  pkg/provider/azure_securitygroup_repo.go
  pkg/provider/azure_securitygroup_repo_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_storageaccount_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  pkg/provider/azure_wrap.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/securitygroup/securitygroup.go
  pkg/provider/loadbalancer/securitygroup/securitygroup_test.go
  pkg/provider/loadbalancer/securitygroup/securityrule.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/securitygroupclient/mock_securitygroupclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

introduce context.Context to provider package
  go.sum
  pkg/provider/azure_instances_test.go
  pkg/provider/azure_instances_v1.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_backendpool_test.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_mock_loadbalancer_backendpool.go
  pkg/provider/azure_mock_vmsets.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_routes_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_vmsets.go
  pkg/provider/azure_vmsets_repo.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_repo_test.go
  pkg/provider/azure_vmss_test.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

move nsg related code to securitygroup package (#7264)
  internal/testutil/fixture/azure_securitygroup.go
  internal/testutil/fixture/fixture.go
  pkg/provider/azure.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/azure_securitygroup_repo.go
  pkg/provider/azure_wrap.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/configuration.go
  pkg/provider/securitygroup/azure_securitygroup_repo.go
  pkg/provider/securitygroup/azure_securitygroup_repo_mock.go
  pkg/provider/securitygroup/azure_securitygroup_repo_test.go
  pkg/provider/securitygroup/securitygroup.go
  pkg/provider/securitygroup/securitygroup_test.go
  pkg/provider/securitygroup/securityrule.go
  pkg/util/collectionutil/map.go
  pkg/util/collectionutil/slice.go
  pkg/util/errutils/err.go
  pkg/util/iputil/addr.go
  pkg/util/iputil/addr_test.go
  pkg/util/iputil/family.go
  pkg/util/iputil/family_test.go
  pkg/util/iputil/prefix.go
  pkg/util/iputil/prefix_test.go
  pkg/util/iputil/prefix_tree.go
  pkg/util/iputil/prefix_tree_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

remove track1 nsg/virtualnetworklink/privatedns client from code base (#7266)
  pkg/azureclients/privatednsclient/azure_privatednsclient.go
  pkg/azureclients/privatednsclient/azure_privatednsclient_test.go
  pkg/azureclients/privatednsclient/interface.go
  pkg/azureclients/privatednsclient/mockprivatednsclient/doc.go
  pkg/azureclients/privatednsclient/mockprivatednsclient/interface.go
  pkg/azureclients/securitygroupclient/azure_securitygroupclient.go
  pkg/azureclients/securitygroupclient/azure_securitygroupclient_test.go
  pkg/azureclients/securitygroupclient/doc.go
  pkg/azureclients/securitygroupclient/interface.go
  pkg/azureclients/securitygroupclient/mocksecuritygroupclient/doc.go
  pkg/azureclients/securitygroupclient/mocksecuritygroupclient/interface.go
  pkg/azureclients/virtualnetworklinksclient/azure_virtualnetworklinksclient.go
  pkg/azureclients/virtualnetworklinksclient/azure_virtualnetworklinksclient_test.go
  pkg/azureclients/virtualnetworklinksclient/doc.go
  pkg/azureclients/virtualnetworklinksclient/interface.go
  pkg/azureclients/virtualnetworklinksclient/mockvirtualnetworklinksclient/doc.go
  pkg/azureclients/virtualnetworklinksclient/mockvirtualnetworklinksclient/interface.go
  pkg/provider/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Fix cloudConfigSecretName behavior (#7189)
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.31.2.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Add throttling capability to arm clients
  pkg/azureclients/azure_client_config.go
  pkg/azureclients/blobclient/azure_blobclient.go
  pkg/azureclients/containerserviceclient/azure_containerserviceclient.go
  pkg/azureclients/deploymentclient/azure_deploymentclient.go
  pkg/azureclients/diskclient/azure_diskclient.go
  pkg/azureclients/interfaceclient/azure_interfaceclient.go
  pkg/azureclients/loadbalancerclient/azure_loadbalancerclient.go
  pkg/azureclients/privatednsclient/azure_privatednsclient.go
  pkg/azureclients/privatednszonegroupclient/azure_privatednszonegroupclient.go
  pkg/azureclients/privateendpointclient/azure_privateendpointclient.go
  pkg/azureclients/privatelinkserviceclient/azure_privatelinkserviceclient.go
  pkg/azureclients/publicipclient/azure_publicipclient.go
  pkg/azureclients/routeclient/azure_routeclient.go
  pkg/azureclients/routetableclient/azure_routetableclient.go
  pkg/azureclients/securitygroupclient/azure_securitygroupclient.go
  pkg/azureclients/snapshotclient/azure_snapshotclient.go
  pkg/azureclients/storageaccountclient/azure_storageaccountclient.go
  pkg/azureclients/subnetclient/azure_subnetclient.go
  pkg/azureclients/virtualnetworklinksclient/azure_virtualnetworklinksclient.go
  pkg/azureclients/vmasclient/azure_vmasclient.go
  pkg/azureclients/vmclient/azure_vmclient.go
  pkg/azureclients/vmsizeclient/azure_vmsizeclient.go
  pkg/azureclients/vmssclient/azure_vmssclient.go
  pkg/azureclients/vmssvmclient/azure_vmssvmclient.go
  pkg/azureclients/zoneclient/azure_zoneclient.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Add a configuration parameter to set cloud provider throttling
  pkg/provider/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Revert "Fix cloudConfigSecretName behavior (#7189)"
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.31.2.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Revert "Fix cloudConfigSecretName behavior (#7189)" (#7277)
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.31.2.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Remove unused track1 containerservice/route/snapshot client
  pkg/azureclients/containerserviceclient/azure_containerserviceclient.go
  pkg/azureclients/containerserviceclient/azure_containerserviceclient_test.go
  pkg/azureclients/containerserviceclient/doc.go
  pkg/azureclients/containerserviceclient/interface.go
  pkg/azureclients/containerserviceclient/mockcontainerserviceclient/doc.go
  pkg/azureclients/containerserviceclient/mockcontainerserviceclient/interface.go
  pkg/azureclients/routeclient/azure_routeclient.go
  pkg/azureclients/routeclient/azure_routeclient_test.go
  pkg/azureclients/routeclient/doc.go
  pkg/azureclients/routeclient/interface.go
  pkg/azureclients/routeclient/mockrouteclient/doc.go
  pkg/azureclients/routeclient/mockrouteclient/interface.go
  pkg/azureclients/snapshotclient/azure_snapshotclient.go
  pkg/azureclients/snapshotclient/azure_snapshotclient_test.go
  pkg/azureclients/snapshotclient/doc.go
  pkg/azureclients/snapshotclient/interface.go
  pkg/azureclients/snapshotclient/mocksnapshotclient/doc.go
  pkg/azureclients/snapshotclient/mocksnapshotclient/interface.go
  pkg/provider/azure.go
  pkg/provider/azure_fakes.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

migrate nsg client to track2 one (#7274)
  go.sum
  internal/testutil/assert.go
  internal/testutil/fixture/azure_securitygroup.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/azure_mock_vmsets.go
  pkg/provider/azure_securitygroup_repo.go
  pkg/provider/azure_securitygroup_repo_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_storageaccount_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  pkg/provider/azure_wrap.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/securitygroup/securitygroup.go
  pkg/provider/loadbalancer/securitygroup/securitygroup_test.go
  pkg/provider/loadbalancer/securitygroup/securityrule.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/securitygroupclient/mock_securitygroupclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

migrate nsg client to track2 one (#7272)
  internal/testutil/assert.go
  internal/testutil/fixture/azure_securitygroup.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/azure_mock_vmsets.go
  pkg/provider/azure_securitygroup_repo.go
  pkg/provider/azure_securitygroup_repo_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_storageaccount_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  pkg/provider/azure_wrap.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/securitygroup/securitygroup.go
  pkg/provider/loadbalancer/securitygroup/securitygroup_test.go
  pkg/provider/loadbalancer/securitygroup/securityrule.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/securitygroupclient/mock_securitygroupclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

introduce context.Context to provider package (#7275)
  pkg/provider/azure_instances_test.go
  pkg/provider/azure_instances_v1.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_backendpool_test.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_mock_loadbalancer_backendpool.go
  pkg/provider/azure_mock_vmsets.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_routes_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_vmsets.go
  pkg/provider/azure_vmsets_repo.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_repo_test.go
  pkg/provider/azure_vmss_test.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Remove unused track1 containerservice/route/snapshot client (#7278)
  pkg/azureclients/containerserviceclient/azure_containerserviceclient.go
  pkg/azureclients/containerserviceclient/azure_containerserviceclient_test.go
  pkg/azureclients/containerserviceclient/doc.go
  pkg/azureclients/containerserviceclient/interface.go
  pkg/azureclients/containerserviceclient/mockcontainerserviceclient/doc.go
  pkg/azureclients/containerserviceclient/mockcontainerserviceclient/interface.go
  pkg/azureclients/routeclient/azure_routeclient.go
  pkg/azureclients/routeclient/azure_routeclient_test.go
  pkg/azureclients/routeclient/doc.go
  pkg/azureclients/routeclient/interface.go
  pkg/azureclients/routeclient/mockrouteclient/doc.go
  pkg/azureclients/routeclient/mockrouteclient/interface.go
  pkg/azureclients/snapshotclient/azure_snapshotclient.go
  pkg/azureclients/snapshotclient/azure_snapshotclient_test.go
  pkg/azureclients/snapshotclient/doc.go
  pkg/azureclients/snapshotclient/interface.go
  pkg/azureclients/snapshotclient/mocksnapshotclient/doc.go
  pkg/azureclients/snapshotclient/mocksnapshotclient/interface.go
  pkg/provider/azure.go
  pkg/provider/azure_fakes.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

update vendor license in release branch
  LICENSES/vendor/golang.org/x/oauth2/LICENSE
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

remove fileshare client in cloud provider
  go.sum
  pkg/provider/azure_file.go
  pkg/provider/azure_storage.go
  pkg/provider/azure_storage_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

remove fileshare client in cloud provider
  LICENSES/vendor/golang.org/x/oauth2/LICENSE
  go.sum
  pkg/provider/azure_file.go
  pkg/provider/azure_storage.go
  pkg/provider/azure_storage_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

add ut for user agent config
  pkg/azclient/arm_conf_test.go
  pkg/azclient/factory_conf_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

add ut for user agent config (#7300)
  pkg/azclient/arm_conf_test.go
  pkg/azclient/factory_conf_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

specify cross compiler when cgo is enabled
  Dockerfile
  Makefile
  cloud-node-manager.Dockerfile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

override default UserAgent header in sdk
  pkg/azclient/arm_conf.go
  pkg/azclient/arm_conf_test.go
  pkg/azclient/factory_conf_test.go
  pkg/azclient/policy/useragent/user_agent.go
  pkg/azclient/policy/useragent/user_agent_test.go
  pkg/azclient/policy/useragent/useragent_suite_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Refactor nsg access control for k8s event testing
  pkg/provider/azure_loadbalancer.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/configuration.go
  pkg/provider/loadbalancer/configuration_test.go
  pkg/provider/loadbalancer/k8sevent.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update release notes for v1.27.21
  content/en/blog/releases/v1.27.21.md
Due: none

Update release notes for v1.27.21 (#7302)
  content/en/blog/releases/v1.27.21.md
Due: none

remove unused deployment client and remove unused ratelimit config
  go.sum
  pkg/azureclients/deploymentclient/azure_deploymentclient.go
  pkg/azureclients/deploymentclient/azure_deploymentclient_test.go
  pkg/azureclients/deploymentclient/doc.go
  pkg/azureclients/deploymentclient/interface.go
  pkg/azureclients/deploymentclient/mockdeploymentclient/doc.go
  pkg/azureclients/deploymentclient/mockdeploymentclient/interface.go
  pkg/provider/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Refactor nsg access control for k8s event testing (#7178)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/configuration.go
  pkg/provider/loadbalancer/configuration_test.go
  pkg/provider/loadbalancer/k8sevent.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
