Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-unit
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

remove unused imports for generated tests
  pkg/azclient/client-gen/generator/gentest_action.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

generate new recordings
  pkg/azclient/availabilitysetclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/availabilitysetclient/testdata/AZURECLOUD.yaml
  pkg/azclient/diskclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/diskclient/testdata/AZURECLOUD.yaml
  pkg/azclient/snapshotclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/snapshotclient/testdata/AZURECLOUD.yaml
  pkg/azclient/sshpublickeyresourceclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/sshpublickeyresourceclient/testdata/AZURECLOUD.yaml
  pkg/azclient/virtualmachineclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/virtualmachineclient/testdata/AZURECLOUD.yaml
  pkg/azclient/virtualmachinescalesetclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/virtualmachinescalesetclient/testdata/AZURECLOUD.yaml
  pkg/azclient/virtualmachinescalesetvmclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/virtualmachinescalesetvmclient/testdata/AZURECLOUD.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

revert go version change in go.mod of tests module
  tests/go.mod
  tests/go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat(loadbalancer): log PIP cache invalidation error
  pkg/provider/azure_loadbalancer.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor(e2e): extract new domain name var
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

test(loadbalancer): clarify internal LB test purpose and use cache constant for readability
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fixed formatting
  pkg/provider/securitygroup/securitygroup_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix(loadbalancer): use info log for pip cache invalidation error
  pkg/provider/azure_loadbalancer.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Revert "feat: KSA support with AKS identity bindings (#9687)"
  cmd/acr-credential-provider/main.go
  cmd/acr-credential-provider/pkg/config/identity_bindings_config.go
  cmd/acr-credential-provider/pkg/config/identity_bindings_config_test.go
  cmd/acr-credential-provider/plugin.go
  cmd/acr-credential-provider/plugin_test.go
  pkg/credentialprovider/azure_credentials.go
  pkg/credentialprovider/azure_credentials_test.go
  pkg/credentialprovider/identity_bindings_config.go
  pkg/credentialprovider/identity_bindings_credentials.go
  pkg/credentialprovider/identity_bindings_credentials_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: respect --timeout flag in CCM e2e tests
  tests/e2e/e2e_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: update test expectation for AzureChina audience with trailing slash
  pkg/azclient/utils/cloud_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

Update vendor license for release-1.34
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/v2/LICENSE
  LICENSES/vendor/github.com/grafana/regexp/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracegrpc/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/exporters/prometheus/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/metric/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/sdk/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/sdk/metric/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/trace/LICENSE
Due: none

Add Container Load Balancer deletion crash recovery tests and improve pod failure handling assertions
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_local_services_test.go
  pkg/provider/azure_servicegateway_pods.go
  pkg/provider/difftracker/azure_operations.go
  pkg/provider/difftracker/engine.go
  pkg/provider/difftracker/engine_restart_test.go
  pkg/provider/difftracker/engine_test.go
  pkg/provider/difftracker/initialization.go
  pkg/provider/difftracker/service_updater.go
  tests/e2e/network/clb/clb_creation_crash_test.go
  tests/e2e/network/clb/clb_deletion_crash_test.go
  tests/e2e/network/clb/clb_lifecycle_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix(loadbalancer): invalidate PIP cache on external LB frontend IP config changes (#9859)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/service_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Revert "feat: KSA support with AKS identity bindings (#9687)" (#9868)
  cmd/acr-credential-provider/main.go
  cmd/acr-credential-provider/pkg/config/identity_bindings_config.go
  cmd/acr-credential-provider/pkg/config/identity_bindings_config_test.go
  cmd/acr-credential-provider/plugin.go
  cmd/acr-credential-provider/plugin_test.go
  pkg/credentialprovider/azure_credentials.go
  pkg/credentialprovider/azure_credentials_test.go
  pkg/credentialprovider/identity_bindings_config.go
  pkg/credentialprovider/identity_bindings_credentials.go
  pkg/credentialprovider/identity_bindings_credentials_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

test(loadbalancer): fix get LB helper probe ID to use provided LB name
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix(loadbalancer): invalidate PIP cache on external LB frontend IP config changes
  pkg/provider/azure_loadbalancer.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix(e2e): correct DNS validation after DNS update and simplify poll vars
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/service_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

test(loadbalancer): add PIP cache invalidation tests
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

doc: fix comment
  pkg/provider/azure_loadbalancer.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
