Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      args:
      - make
      - test-unit

Aggregate overlapping allowed source ranges
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/iputil/prefix.go
  pkg/provider/loadbalancer/iputil/prefix_test.go
  pkg/provider/loadbalancer/iputil/prefix_tree.go
  pkg/provider/loadbalancer/iputil/prefix_tree_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Test in e2e
  tests/e2e/network/network_security_group.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

Revert "fix: support mulltiple subnet when creating private endpoints"
  pkg/provider/azure_storageaccount.go
  pkg/provider/azure_storageaccount_test.go
  pkg/provider/azure_subnet_repo.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update Helm chart for v1.31.0 and patch releases
  README.md
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.31.0.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Update dependabot.yml
  .github/dependabot.yml
Due: none

chore: enable cgo to use dynamic linking for C libraries
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

use distroless base image which contains libc
  Dockerfile
  cloud-node-manager.Dockerfile
  health-probe-proxy/Dockerfile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[StepSecurity] Apply security best practices
  .github/dependabot.yml
Due: none

add roledefinition and roleassignment client
  pkg/azclient/Makefile
  pkg/azclient/client-gen/generator/codegenerator.go
  pkg/azclient/client-gen/generator/gencode_action.go
  pkg/azclient/client-gen/generator/template.go
  pkg/azclient/factory.go
  pkg/azclient/factory_gen.go
  pkg/azclient/factory_test.go
  pkg/azclient/go.mod
  pkg/azclient/go.sum
  pkg/azclient/metrics/metrics.go
  pkg/azclient/mock_azclient/interface.go
  pkg/azclient/roleassignmentclient/custom.go
  pkg/azclient/roleassignmentclient/custom_test.go
  pkg/azclient/roleassignmentclient/interface.go
  pkg/azclient/roleassignmentclient/mock_roleassignmentclient/interface.go
  pkg/azclient/roleassignmentclient/roleassignmentclient_suite_test.go
  pkg/azclient/roleassignmentclient/roleassignmentclient_test.go
  pkg/azclient/roleassignmentclient/testdata/RoleAssignment.yaml
  pkg/azclient/roleassignmentclient/zz_generated_client.go
  pkg/azclient/roledefinitionclient/custom.go
  pkg/azclient/roledefinitionclient/custom_test.go
  pkg/azclient/roledefinitionclient/interface.go
  pkg/azclient/roledefinitionclient/mock_roledefinitionclient/interface.go
  pkg/azclient/roledefinitionclient/roledefinitionclient_suite_test.go
  pkg/azclient/roledefinitionclient/roledefinitionclient_test.go
  pkg/azclient/roledefinitionclient/testdata/RoleDefinition.yaml
  pkg/azclient/roledefinitionclient/zz_generated_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[credential provider] Add a flag --registry-mirror
  cmd/acr-credential-provider/main.go
  examples/out-of-tree/credential-provider-config.yaml
  pkg/credentialprovider/azure_credentials.go
  pkg/credentialprovider/azure_credentials_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

remove unused subscription id in roledefinition client
  pkg/azclient/client-gen/generator/template.go
  pkg/azclient/roledefinitionclient/roledefinitionclient_suite_test.go
  pkg/azclient/roledefinitionclient/zz_generated_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

bump go to 1.23
  go.mod
  health-probe-proxy/go.mod
  kubetest2-aks/go.mod
  pkg/azclient/client-gen/go.mod
  pkg/azclient/configloader/go.mod
  pkg/azclient/go.mod
  pkg/azclient/trace/go.mod
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

remove unused wrapper in credentialprovider clientS
  pkg/credentialprovider/azure_credentials.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update trivy.yaml
  .github/workflows/trivy.yaml
Due: none

更新 trivy.yaml
  .github/workflows/trivy.yaml
Due: none

fix: Do not move nodes that have already been attached to load balancers after restarting
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix ratelimit key in track2 client
  pkg/azclient/Makefile
  pkg/azclient/accountclient/interface.go
  pkg/azclient/factory_gen.go
  pkg/azclient/virtualmachinescalesetclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: CVE-2024-34156 and more
  go.mod
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

migrate credential provider to track2 client
  cmd/acr-credential-provider/main.go
  go.mod
  go.sum
  pkg/credentialprovider/azure_credentials.go
  pkg/credentialprovider/azure_credentials_test.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/cloud_config.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/digest_helper.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/time_rfc3339.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: CVE-2024-34156 and more
  go.mod
  health-probe-proxy/go.mod
  pkg/azclient/client-gen/go.mod
  pkg/azclient/configloader/go.mod
  pkg/azclient/go.mod
  pkg/azclient/trace/go.mod
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: CVE-2024-34156 and more
  go.mod
  health-probe-proxy/go.mod
  pkg/azclient/client-gen/go.mod
  pkg/azclient/configloader/go.mod
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: Bump golang version to 1.23.1 to fix cves
  Dockerfile
  cloud-node-manager.Dockerfile
  e2e.Dockerfile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Delete kubetest2-aks directory
  kubetest2-aks/Makefile
  kubetest2-aks/README.md
  kubetest2-aks/cluster-templates/autoscaling-e2e.json
  kubetest2-aks/cluster-templates/autoscaling-multipool.json
  kubetest2-aks/cluster-templates/autoscaling.json
  kubetest2-aks/cluster-templates/basic-lb.json
  kubetest2-aks/cluster-templates/customconfiguration-azuredisk.json
  kubetest2-aks/cluster-templates/customconfiguration-azurefile.json
  kubetest2-aks/cluster-templates/customconfiguration-cas.json
  kubetest2-aks/cluster-templates/customconfiguration-ccm.json
  kubetest2-aks/cluster-templates/customconfiguration-k8s.json
  kubetest2-aks/cluster-templates/customconfiguration.json
  kubetest2-aks/cluster-templates/slb.json
  kubetest2-aks/deployer/build.go
  kubetest2-aks/deployer/deployer.go
  kubetest2-aks/deployer/down.go
  kubetest2-aks/deployer/up.go
  kubetest2-aks/go.mod
  kubetest2-aks/go.sum
  kubetest2-aks/main.go
Due: pull-cloud-provider-azure-check

Consolidate adjacent CIDRs
  pkg/provider/loadbalancer/iputil/prefix_test.go
  pkg/provider/loadbalancer/iputil/prefix_tree.go
  pkg/provider/loadbalancer/iputil/prefix_tree_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.27
  LICENSES/vendor/golang.org/x/crypto/LICENSE
  LICENSES/vendor/golang.org/x/net/LICENSE
  LICENSES/vendor/golang.org/x/sync/LICENSE
  LICENSES/vendor/golang.org/x/term/LICENSE
  LICENSES/vendor/golang.org/x/text/LICENSE
  LICENSES/vendor/golang.org/x/tools/LICENSE
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
