Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-unit
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

wip
  pkg/provider/difftracker/initialization.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

First CLB batch of changes
  internal/testutil/fixture/kubernetes.go
  pkg/consts/consts.go
  pkg/provider/azure.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/config/azure.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/securitygroup/securitygroup.go
  pkg/provider/securitygroup/securitygroup_test.go
  pkg/util/sets/string.go
  pkg/util/sets/string_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Enhance DiffTracker with initialization tracking and service synchronization improvements
  pkg/provider/azure.go
  pkg/provider/difftracker/engine.go
  pkg/provider/difftracker/initialization.go
  pkg/provider/difftracker/locations_updater.go
  pkg/provider/difftracker/service_updater.go
  pkg/provider/difftracker/sync_operations.go
  pkg/provider/difftracker/types.go
  pkg/provider/difftracker/util.go
  tests/e2e/network/clb/clb_performance_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

set gotoolchain=auto
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat(helm): use Dalec for >= v1.32.11
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/cloud-provider-azure/values.yaml
Due: pull-cloud-provider-azure-check

test
  .github/workflows/go-mod-consistency.yaml
Due: none

chore: Install latest go version across all modules in go mod consistency check
  .github/workflows/go-mod-consistency.yaml
Due: none

Update vendor license for master
  LICENSES/vendor/github.com/grafana/regexp/LICENSE
Due: none

Migrate error msgs
  cmd/acr-credential-provider/main.go
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-controller-manager/app/dynamic/secret_watcher.go
  cmd/cloud-controller-manager/app/options/options.go
  health-probe-proxy/main.go
  pkg/nodeipam/ipam/cidr_allocator.go
  pkg/provider/azure_controller_common.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_repo.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_zones.go
  tests/e2e/e2e_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix typo and do go mod tidy
  kubetest2-aks/go.mod
  kubetest2-aks/go.sum
  pkg/provider/azure_vmssflex.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Fix typo and modify some error message
  pkg/provider/azure_standard.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_zones.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: Install latest go version across all modules in go mod consistency check (#9795)
  .github/workflows/go-mod-consistency.yaml
Due: none

chore: Install latest go version across all modules in go mod consistency check (#9794)
  .github/workflows/go-mod-consistency.yaml
Due: none

Migrate info logging to contextual logging
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-controller-manager/app/dynamic/file_watcher.go
  cmd/cloud-node-manager/app/nodemanager.go
  pkg/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/nodeipam/node_ipam_controller.go
  pkg/nodemanager/nodemanager.go
  pkg/provider/azure.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_vmss.go
  pkg/windows/service/service.go
  tests/e2e/e2e_test.go
  tests/e2e/utils/kustoIngest.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Fix format issue
  cmd/cloud-controller-manager/app/dynamic/file_watcher.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Fix import conflict
  tests/e2e/utils/kustoIngest.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

add missing variable to resolve undefined error after rebase
  pkg/nodemanager/nodemanager.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Fix go module issue
  kubetest2-aks/go.mod
Due: pull-cloud-provider-azure-check

add missing log messages and ensure info logs use contextual logging
  health-probe-proxy/main.go
  pkg/credentialprovider/azure_acr_helper.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_lock.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/storage/azure_storageaccount.go
  tests/e2e/utils/kustoIngest.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: use existing context when ctx is available
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-node-manager/app/nodemanager.go
  pkg/credentialprovider/azure_credentials.go
  pkg/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/nodeipam/ipam/range_allocator.go
  pkg/nodeipam/node_ipam_controller.go
  pkg/nodemanager/nodemanager.go
  pkg/provider/azure.go
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmssflex.go
  pkg/provider/azure_instance_metadata.go
  pkg/provider/azure_instances_v1.go
  pkg/provider/azure_instances_v2.go
  pkg/provider/azure_interface_repo.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_repo.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_vmsets_repo.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_repo.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_cache.go
  pkg/provider/azure_zones.go
  pkg/provider/securitygroup/azure_securitygroup_repo.go
  pkg/provider/storage/azure_storageaccount.go
  pkg/provider/storage/fileservice/fileservice_repo.go
  pkg/provider/storage/storage_account.go
  pkg/provider/subnet/subnet.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Replace klog.Background() to use existing context when ctx is available
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_lock.go
  pkg/provider/azure_publicip_repo.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmssflex.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Fix typo and modify some error message
  cmd/acr-credential-provider/main.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_zones.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
