Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-unit
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

chore: add a github action to guard go module drifts
  .github/workflows/go-mod-consistency.yaml
Due: none

fix module drifts in tests/
  tests/go.mod
  tests/go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix go module drifts for kubetest2-aks
  kubetest2-aks/go.mod
Due: pull-cloud-provider-azure-check

fix module drifts in pkg/azclient
  pkg/azclient/go.mod
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix module drifts in pkg/azclient
  .github/workflows/go-mod-consistency.yaml
  pkg/azclient/go.mod
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

Update vendor license for release-1.33
  LICENSES/vendor/github.com/grafana/regexp/LICENSE
  LICENSES/vendor/github.com/prometheus/otlptranslator/LICENSE
  LICENSES/vendor/go.yaml.in/yaml/v2/LICENSE
  LICENSES/vendor/k8s.io/kube-openapi/pkg/internal/third_party/govalidator/LICENSE
  LICENSES/vendor/sigs.k8s.io/randfill/LICENSE
Due: none

Update vendor license for release-1.34
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/v2/LICENSE
  LICENSES/vendor/github.com/grafana/regexp/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracegrpc/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/exporters/prometheus/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/metric/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/sdk/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/sdk/metric/LICENSE
  LICENSES/vendor/go.opentelemetry.io/otel/trace/LICENSE
Due: none

ci: retry linux image push 3 times
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

sleep for 30 seconds to allow for cool off period
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Enhance Service Gateway handling and backend pool management
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_healthprobe.go
  pkg/provider/azure_loadbalancer_repo.go
  pkg/provider/azure_local_services.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat: auto update go module drifts
  .github/workflows/codespell.yaml
  .github/workflows/go-mod-consistency.yaml
  .github/workflows/update-go-mods.yaml
Due: none

Revert "feat: auto update go module drifts"
  .github/workflows/codespell.yaml
  .github/workflows/go-mod-consistency.yaml
  .github/workflows/update-go-mods.yaml
Due: none

Revert "[release-1.34] feat: auto update go module drifts"
  .github/workflows/codespell.yaml
  .github/workflows/go-mod-consistency.yaml
  .github/workflows/update-go-mods.yaml
Due: none

Fix go module issue
  kubetest2-aks/go.mod
Due: pull-cloud-provider-azure-check

chore: go mod tidy (all modules)
  tests/go.mod
  tests/go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: remove dependabot 1.31 jobs
  .github/dependabot.yml
Due: none

clb-wip
  DEFERRED_ISSUES.md
  docs/engine-architecture-review.md
  docs/engine-pod-lifecycle-implementation-plan.md
  pkg/provider/azure.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_repo.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_local_services_test.go
  pkg/provider/azure_servicegateway.go
  pkg/provider/azure_servicegateway_cloud_provider_interface.go
  pkg/provider/azure_servicegateway_difftracker_init.go
  pkg/provider/azure_servicegateway_location_service_updater.go
  pkg/provider/azure_servicegateway_pod_egress_resource_updater.go.phase6
  pkg/provider/azure_servicegateway_pods.go
  pkg/provider/difftracker/CODE_REVIEW_PLAN.md
  pkg/provider/difftracker/METRICS.md
  pkg/provider/difftracker/PRE_MERGE_CHECKLIST.md
  pkg/provider/difftracker/REVIEW_SUMMARY.md
  pkg/provider/difftracker/cloud_provider_interface.go
  pkg/provider/difftracker/deletion_checker_test.go
  pkg/provider/difftracker/difftracker.go
  pkg/provider/difftracker/difftracker_test.go
  pkg/provider/difftracker/engine.go
  pkg/provider/difftracker/engine_test.go
  pkg/provider/difftracker/locations_updater.go
  pkg/provider/difftracker/metrics.go
  pkg/provider/difftracker/service_updater.go
  pkg/provider/difftracker/service_updater_test.go
  pkg/provider/difftracker/types.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

wip
  pkg/provider/azure_servicegateway_difftracker_init.go
  pkg/provider/azure_servicegateway_pod_egress_resource_updater.go.phase6
  pkg/provider/difftracker/deletion_checker_test.go
  pkg/provider/difftracker/difftracker.go
  pkg/provider/difftracker/difftracker_test.go
  pkg/provider/difftracker/engine.go
  pkg/provider/difftracker/engine_restart_test.go
  pkg/provider/difftracker/engine_test.go
  pkg/provider/difftracker/k8s_state_updates.go
  pkg/provider/difftracker/metrics.go
  pkg/provider/difftracker/service_updater.go
  pkg/provider/difftracker/service_updater_test.go
  pkg/provider/difftracker/sync_operations.go
  pkg/provider/difftracker/types.go
  pkg/provider/difftracker/util.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

wip
  pkg/provider/azure.go
  pkg/provider/azure_servicegateway_difftracker_init.go
  pkg/provider/difftracker/azure_operations.go
  pkg/provider/difftracker/cloud_provider_interface.go
  pkg/provider/difftracker/config.go
  pkg/provider/difftracker/difftracker.go
  pkg/provider/difftracker/difftracker_test.go
  pkg/provider/difftracker/locations_updater.go
  pkg/provider/difftracker/service_updater.go
  pkg/provider/difftracker/service_updater_test.go
  pkg/provider/difftracker/types.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Refactor CLB DiffTracker Engine: Replace IsInbound flag with ServiceConfig struct
  pkg/provider/azure_loadbalancer.go
  pkg/provider/difftracker/CODE_REVIEW_PLAN.md
  pkg/provider/difftracker/PRE_MERGE_CHECKLIST.md
  pkg/provider/difftracker/REVIEW_SUMMARY.md
  pkg/provider/difftracker/azure_operations.go
  pkg/provider/difftracker/deletion_checker_test.go
  pkg/provider/difftracker/engine.go
  pkg/provider/difftracker/engine_restart_test.go
  pkg/provider/difftracker/engine_test.go
  pkg/provider/difftracker/metrics.go
  pkg/provider/difftracker/service_updater.go
  pkg/provider/difftracker/service_updater_test.go
  pkg/provider/difftracker/types.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

wip
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_standard.go
  pkg/provider/difftracker/service_updater.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

wip
  pkg/provider/azure.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_local_services_test.go
  pkg/provider/azure_servicegateway_difftracker_init.go
  pkg/provider/azure_standard.go
  pkg/provider/difftracker/config.go
  pkg/provider/difftracker/difftracker_test.go
  pkg/provider/difftracker/initialization.go
  pkg/provider/difftracker/initialization_test.go
  pkg/provider/difftracker/metrics_test.go
  pkg/provider/difftracker/resource_helpers.go
  pkg/provider/difftracker/resource_helpers_test.go
  pkg/provider/difftracker/service_updater.go
  pkg/provider/difftracker/util_test.go
  pkg/provider/difftracker/workflow_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

wip
  pkg/provider/azure.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_local_services_test.go
  pkg/provider/azure_natgateway_repo.go
  pkg/provider/azure_publicip_repo.go
  pkg/provider/azure_servicegateway.go
  pkg/provider/azure_servicegateway_cloud_provider_interface.go
  pkg/provider/azure_servicegateway_difftracker_init.go
  pkg/provider/azure_servicegateway_init.go
  pkg/provider/azure_servicegateway_repo.go
  pkg/provider/difftracker/azure_operations.go
  pkg/provider/difftracker/config.go
  pkg/provider/difftracker/difftracker_test.go
  pkg/provider/difftracker/initialization_test.go
  pkg/provider/difftracker/service_updater.go
  pkg/provider/difftracker/util_test.go
  pkg/provider/difftracker/workflow_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

add missing log messages and ensure info logs use contextual logging
  health-probe-proxy/main.go
  pkg/credentialprovider/azure_acr_helper.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_lock.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/storage/azure_storageaccount.go
  tests/e2e/utils/kustoIngest.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Refactor Azure Service Gateway Pod Management and Enhance Tests
  pkg/provider/azure_local_services.go
  pkg/provider/azure_servicegateway_pods.go
  pkg/provider/azure_servicegateway_pods_test.go
  pkg/provider/difftracker/engine.go
  pkg/provider/difftracker/initialization.go
  pkg/provider/difftracker/resource_helpers.go
  pkg/provider/difftracker/service_updater.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Enhance DiffTracker: Improve address conversion, handle service deletion states, and fully unregister services from ServiceGateway
  pkg/provider/difftracker/azure_operations.go
  pkg/provider/difftracker/engine.go
  pkg/provider/difftracker/initialization.go
  pkg/provider/difftracker/resource_helpers.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: use existing context when ctx is available
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-node-manager/app/nodemanager.go
  pkg/credentialprovider/azure_credentials.go
  pkg/credentialprovider/identity_bindings_credentials.go
  pkg/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/nodeipam/ipam/range_allocator.go
  pkg/nodeipam/node_ipam_controller.go
  pkg/nodemanager/nodemanager.go
  pkg/provider/azure.go
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmssflex.go
  pkg/provider/azure_instance_metadata.go
  pkg/provider/azure_instances_v1.go
  pkg/provider/azure_instances_v2.go
  pkg/provider/azure_interface_repo.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_repo.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_vmsets_repo.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_repo.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_cache.go
  pkg/provider/azure_zones.go
  pkg/provider/securitygroup/azure_securitygroup_repo.go
  pkg/provider/storage/azure_storageaccount.go
  pkg/provider/storage/fileservice/fileservice_repo.go
  pkg/provider/storage/storage_account.go
  pkg/provider/subnet/subnet.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Replace klog.Background() to use existing context when ctx is available
  pkg/credentialprovider/identity_bindings_credentials.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_lock.go
  pkg/provider/azure_publicip_repo.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmssflex.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: use existing context when ctx is available (#9773)
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-node-manager/app/nodemanager.go
  pkg/credentialprovider/azure_credentials.go
  pkg/credentialprovider/identity_bindings_credentials.go
  pkg/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/nodeipam/ipam/range_allocator.go
  pkg/nodeipam/node_ipam_controller.go
  pkg/nodemanager/nodemanager.go
  pkg/provider/azure.go
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmssflex.go
  pkg/provider/azure_instance_metadata.go
  pkg/provider/azure_instances_v1.go
  pkg/provider/azure_instances_v2.go
  pkg/provider/azure_interface_repo.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_repo.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_lock.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_publicip_repo.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_vmsets_repo.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_repo.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_cache.go
  pkg/provider/azure_zones.go
  pkg/provider/securitygroup/azure_securitygroup_repo.go
  pkg/provider/storage/azure_storageaccount.go
  pkg/provider/storage/fileservice/fileservice_repo.go
  pkg/provider/storage/storage_account.go
  pkg/provider/subnet/subnet.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

wip
  pkg/provider/difftracker/initialization.go
  tests/e2e/network/clb.go
  tests/e2e/network/clb/clb_basic_test.go
  tests/e2e/network/clb/clb_concurrent_test.go
  tests/e2e/network/clb/clb_label_update_test.go
  tests/e2e/network/clb/clb_lifecycle_test.go
  tests/e2e/network/clb/clb_mixed_test.go
  tests/e2e/network/clb/clb_outbound_test.go
  tests/e2e/network/clb/clb_performance_test.go
  tests/e2e/network/clb/clb_scale_test.go
  tests/e2e/network/clb/clb_stress_test.go
  tests/e2e/network/clb/clb_suite_test.go
  tests/e2e/network/clb/clb_test.go
  tests/e2e/network/clb/clb_upscale_downscale_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

wip
  pkg/provider/difftracker/initialization.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
