Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum

add dependabot job for release-1.33 branch
  .github/dependabot.yml
Due: none

Update release.yaml (#9028)
  .github/workflows/release.yaml
Due: none

Update release.yaml (#9027)
  .github/workflows/release.yaml
Due: none

add dependabot job for release-1.33 branch (#9029)
  .github/dependabot.yml
Due: none

Update vendor license for release-1.33
  LICENSES/vendor/k8s.io/kube-openapi/pkg/internal/third_party/govalidator/LICENSE
  LICENSES/vendor/sigs.k8s.io/randfill/LICENSE
Due: none

Update release notes for v1.33.0
  content/en/blog/releases/v1.33.0.md
Due: none

feat: add option to override ARM retry-after if the value is lower than the configured minimum
  pkg/azclient/arm_conf.go
  pkg/azclient/go.mod
  pkg/azclient/go.sum
  pkg/azclient/policy/retryaftermin/retryaftermin.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: fix error evaluation in AttachDisk
  pkg/provider/azure_controller_vmssflex.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

test: add unit test for RetryAfterMinPolicy
  pkg/azclient/arm_conf.go
  pkg/azclient/policy/retryaftermin/retryaftermin.go
  pkg/azclient/policy/retryaftermin/retryaftermin_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

feat: add option to override ARM retry-after if the value is lower than the configured minimum (#9026)
  pkg/azclient/arm_conf.go
  pkg/azclient/go.mod
  pkg/azclient/go.sum
  pkg/azclient/policy/retryaftermin/retryaftermin.go
  pkg/azclient/policy/retryaftermin/retryaftermin_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

Update vendor license for master
  LICENSES/vendor/k8s.io/kube-openapi/pkg/internal/third_party/govalidator/LICENSE
  LICENSES/vendor/sigs.k8s.io/randfill/LICENSE
Due: none

doc: Add release notes for v1.33.0, v1.32.5, v1.31.6, v1.30.12 and v1.29.15
  content/en/blog/releases/v1.29.15.md
  content/en/blog/releases/v1.30.12.md
  content/en/blog/releases/v1.31.6.md
  content/en/blog/releases/v1.32.5.md
  content/en/blog/releases/v1.33.0.md
Due: none

add DisableAzureStackCloud to override arm endpoint when cluster is not running on azurestack
  pkg/azclient/arm_conf.go
  pkg/azclient/client-gen/generator/clientfactory.go
  pkg/azclient/factory_gen.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

doc: Update readme and examples to use the latest images
  README.md
  examples/out-of-tree/cloud-controller-manager.yaml
  examples/out-of-tree/cloud-node-manager.yaml
Due: none

doc: Update readme and examples to use the latest images (#9045)
  README.md
  examples/out-of-tree/cloud-controller-manager.yaml
  examples/out-of-tree/cloud-node-manager.yaml
Due: none

replace expand with deleteoption in delete func of fileshare client
  pkg/azclient/fileshareclient/custom.go
  pkg/azclient/fileshareclient/interface.go
  pkg/azclient/fileshareclient/mock_fileshareclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

replace expand with deleteoption in delete func of fileshare client (#9059)
  pkg/azclient/fileshareclient/custom.go
  pkg/azclient/fileshareclient/interface.go
  pkg/azclient/fileshareclient/mock_fileshareclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

install azure-cli in e2e container
  e2e.Dockerfile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update ensure-azcli.sh
  hack/ensure-azcli.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update content/en/development/design-docs/clb-implementation.md
  content/en/development/design-docs/clb-implementation.md
Due: none

update documentation
  content/en/development/design-docs/clb-implementation.md
Due: none

Update Helm chart for v1.33.0
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.33.0.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Update Helm chart for v1.33.0 (#9076)
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.33.0.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

update endpointslice informer flow
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_location_and_nrp_service_batch_updater.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

update logic to use IsLBBackendPoolTypePodIPAndUseStandardV2LoadBalancer()
  pkg/provider/azure.go
  pkg/provider/azure_loadbalancer.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

initial integration + update testing
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool_test.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_location_and_nrp_service_batch_updater.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

test EnsureLoadBalancer and EnsureLoadBalancerDeleted for CLB context
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_location_and_nrp_service_batch_updater.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix metrics
  pkg/azclient/accountclient/custom.go
  pkg/azclient/blobcontainerclient/custom.go
  pkg/azclient/blobservicepropertiesclient/custom.go
  pkg/azclient/fileservicepropertiesclient/custom.go
  pkg/azclient/fileshareclient/custom.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix
  pkg/azclient/accountclient/custom.go
  pkg/azclient/blobcontainerclient/custom.go
  pkg/azclient/fileshareclient/custom.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix
  pkg/azclient/blobcontainerclient/custom.go
  pkg/azclient/fileshareclient/custom.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix
  pkg/azclient/accountclient/custom.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit
