Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum

Update release notes for v1.36.2
  content/en/blog/releases/v1.36.2.md
Due: none

[release-1.35] fix: getServicePIPName returns empty for IPv6 on IPv4-only service (#10547)
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

[release-1.34] fix: getServicePIPName returns empty for IPv6 on IPv4-only service (#10546)
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

[release-1.33] fix: getServicePIPName returns empty for IPv6 on IPv4-only service (#10545)
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

[release-1.36] fix: getServicePIPName returns empty for IPv6 on IPv4-only service (#10548)
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix(hack): install release-notes into GOPATH bin
  hack/generate-release-note.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: pin release-notes cli to v0.21.1
  hack/generate-release-note.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: exit hack/generate-release-note.sh on release-notes install failure
  hack/generate-release-note.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

[documentation] chore: pin release-notes cli in generate release note script to v0.21.1 (#10554)
  hack/generate-release-note.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat(skill): add debug-e2e-pipeline skill (#10489)
  .agents/skills/README.md
  .agents/skills/debug-e2e-pipeline/SKILL.md
  .agents/skills/debug-e2e-pipeline/scripts/fetch_artifacts.py
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

docs: add dependabot unblocker automation prompt
  .agents/automations/dependabot-pr-unblocker.md
Due: none

docs: add dependabot unblocker automation prompt (#10555)
  .agents/automations/dependabot-pr-unblocker.md
Due: none

chore(e2e): drop CAPZ CI gallery image and ci_version references
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ci-version-dual-stack.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ci-version-ipv6.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore(e2e): rename templates
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-dual-stack.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ipv6.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore(e2e): add ipv6 and dual stack cluster templates (#10541)
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-dual-stack.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ipv6.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

doc: split retry requeue is serialized under serviceReconcileLock test
  content/en/development/design-docs/refining-local-service-backend-pool-updater.md
Due: none

Refactor difftracker: Improve logging, enhance equality checks, and add set operations
  pkg/provider/difftracker/coverage_test.go
  pkg/provider/difftracker/difftracker.go
  pkg/provider/difftracker/difftracker_test.go
  pkg/provider/difftracker/k8s_state_updates.go
  pkg/provider/difftracker/nrp_state_updates.go
  pkg/provider/difftracker/sync_operations.go
  pkg/provider/difftracker/types.go
  pkg/provider/difftracker/util.go
  pkg/provider/difftracker/util_test.go
  pkg/util/sets/string.go
  pkg/util/sets/string_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

doc: clarify terminal error handling and SDK retry assumptions
  content/en/development/design-docs/refining-local-service-backend-pool-updater.md
Due: none

feat(azclient): add ThrottleError type with RetryAfter field
  pkg/azclient/policy/retryrepectthrottled/throttle.go
  pkg/azclient/policy/retryrepectthrottled/throttle_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

feat(azclient): add ThrottleError type with RetryAfter field (#10557)
  pkg/azclient/policy/retryrepectthrottled/throttle.go
  pkg/azclient/policy/retryrepectthrottled/throttle_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

chore: bump distroless base image and Go builder version
  Dockerfile
  cloud-node-manager.Dockerfile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

build(deps): bump azclient to v0.20.9 for ServiceGateway client (#10543)
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/Makefile
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/factory.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/factory_gen.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/mock_azclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/servicegatewayclient/custom.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/servicegatewayclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/servicegatewayclient/interface_gomock.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/servicegatewayclient/mock_servicegatewayclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/servicegatewayclient/zz_generated_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

difftracker: drop unused public DeepEqual wrapper
  pkg/provider/difftracker/difftracker_test.go
  pkg/provider/difftracker/util.go
  pkg/provider/difftracker/util_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: bump azclient to v0.21.0
  go.mod
  go.sum
  tests/go.mod
  tests/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/policy/retryrepectthrottled/throttle.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: bump azclient to v0.21.0 (#10559)
  go.mod
  go.sum
  tests/go.mod
  tests/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/policy/retryrepectthrottled/throttle.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

doc: add prepend ordering test, update user doc in scope and terminal error event
  content/en/development/design-docs/refining-local-service-backend-pool-updater.md
Due: none

chore: bump github action pins
  .github/workflows/release.yaml
Due: none

chore(ci): use latest Go version required by go modules in release workflow
  .github/actions/discover-go-modules/action.yml
  .github/workflows/release.yaml
Due: none

addressed comments + added general improvements
  pkg/provider/difftracker/difftracker.go
  pkg/provider/difftracker/difftracker_test.go
  pkg/provider/difftracker/k8s_state_updates.go
  pkg/provider/difftracker/nrp_state_updates.go
  pkg/util/sets/string.go
  pkg/util/sets/string_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update Go modules
  tests/go.mod
  tests/go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: update release workflow for release skill
  .github/workflows/release.yaml
Due: none

Update release.yaml (#9027)
  .github/workflows/release.yaml
Due: none

chore: bump release workflow git action pins
  .github/workflows/release.yaml
Due: none
