Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-unit
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

chore: update vendor licenses for Kubernetes 1.37 dependencies
  LICENSES/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/cmdutils/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/conv/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/fileutils/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/jsonutils/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/loading/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/mangling/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/netutils/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/pools/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/stringutils/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/typeutils/LICENSE
  LICENSES/vendor/github.com/go-openapi/swag/yamlutils/LICENSE
  LICENSES/vendor/github.com/gogo/protobuf/LICENSE
  LICENSES/vendor/github.com/josharian/intern/LICENSE
  LICENSES/vendor/github.com/mailru/easyjson/LICENSE
  LICENSES/vendor/go.etcd.io/etcd/api/v3/LICENSE
  LICENSES/vendor/go.etcd.io/etcd/client/pkg/v3/LICENSE
  LICENSES/vendor/go.etcd.io/etcd/client/v3/LICENSE
  LICENSES/vendor/gopkg.in/yaml.v3/LICENSE
Due: none

chore: enable dependabot for release-1.37
  .github/dependabot.yml
Due: none

chore: enable dependabot for release-1.37 (#11027)
  .github/dependabot.yml
Due: none

Update release notes for v1.37.0
  content/en/blog/releases/v1.37.0.md
Due: none

Update release notes for v1.37.0 (#11039)
  content/en/blog/releases/v1.37.0.md
Due: none

Update Go modules
  tests/go.mod
  tests/go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: validate Azure resource name annotations
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_privatelinkservice_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

pkg/azclient: Add AzureUSSecCloud as a valid cloud environment
  pkg/azclient/cloud.go
  pkg/azclient/cloud_test.go
  pkg/azclient/utils/cloud.go
  pkg/azclient/utils/cloud_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: validate Azure resource name annotations (#11026)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_privatelinkservice_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update vendor license for master
  LICENSES/LICENSE
Due: none

feat: add source-only Go CVE remediation skill
  .agents/skills/README.md
  .agents/skills/cve-remediator-v2/SKILL.md
  .agents/skills/cve-remediator-v2/references/advisory-semantics.md
  .agents/skills/cve-remediator-v2/scripts/cve_remediator_v2.py
  .agents/skills/cve-remediator-v2/scripts/test_cve_remediator_v2.py
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: validate Azure resource name annotations (#11042)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_privatelinkservice_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: validate Azure resource name annotations (#11043)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_privatelinkservice_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: validate Azure resource name annotations (#11044)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_privatelinkservice_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: validate Azure resource name annotations (#11041)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_privatelinkservice_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

add configurable ServiceGateway locations update interval and validation
  pkg/consts/consts.go
  pkg/provider/config/azure.go
  pkg/provider/servicegateway/difftracker/config.go
  pkg/provider/servicegateway/difftracker/locations_updater.go
  pkg/provider/servicegateway/difftracker/locations_updater_interval_test.go
  pkg/provider/servicegateway/difftracker/util_test.go
  pkg/provider/servicegateway/runtime.go
  pkg/provider/servicegateway/runtime_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: enhance initialization checks and retry logic for ServiceGateway sync
  pkg/provider/servicegateway/difftracker/engine.go
  pkg/provider/servicegateway/difftracker/initialization.go
  pkg/provider/servicegateway/difftracker/initialization_test.go
  pkg/provider/servicegateway/difftracker/locations_updater.go
  pkg/provider/servicegateway/difftracker/locations_updater_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

docs: fix Dependabot post-sync approval and simplify triage
  .agents/skills/unblock-dependabot-pr/SKILL.md
  .agents/skills/unblock-dependabot-pr/references/act-patterns.md
  .agents/skills/unblock-dependabot-pr/references/failure-patterns.md
  .agents/skills/unblock-dependabot-pr/references/guard-patterns.md
  .agents/skills/unblock-dependabot-pr/references/shared-actions.md
Due: none

Enhance Service Gateway functionality with Public IP prefix support and improved tagging
  pkg/provider/servicegateway/difftracker/difftracker.go
  pkg/provider/servicegateway/difftracker/engine.go
  pkg/provider/servicegateway/difftracker/loadbalancer.go
  pkg/provider/servicegateway/difftracker/loadbalancer_test.go
  pkg/provider/servicegateway/difftracker/resource_helpers.go
  pkg/provider/servicegateway/difftracker/resource_helpers_test.go
  pkg/provider/servicegateway/difftracker/service_updater.go
  pkg/provider/servicegateway/difftracker/service_updater_test.go
  pkg/provider/servicegateway/difftracker/types.go
  pkg/provider/servicegateway/difftracker/types_test.go
  pkg/provider/servicegateway/runtime.go
  tests/e2e/servicegateway/slb_service_config_test.go
  tests/e2e/servicegateway/slb_suite_test.go
  tests/e2e/servicegateway/slb_validation_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor: simplify CVE skill around supplied findings
  .agents/skills/README.md
  .agents/skills/cve-remediator-v2/SKILL.md
  .agents/skills/cve-remediator-v2/references/advisory-semantics.md
  .agents/skills/cve-remediator-v2/scripts/cve_remediator_v2.py
  .agents/skills/cve-remediator-v2/scripts/test_cve_remediator_v2.py
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix(credentialprovider): preserve hostnames in cloud-suffix fallback
  pkg/credentialprovider/azure_credentials.go
  pkg/credentialprovider/azure_credentials_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: reject managed frontend IPs in additional public IP annotations
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_publicip_repo.go
  pkg/provider/azure_publicip_repo_test.go
  tests/e2e/network/network_security_group.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

docs: fix Dependabot post-sync approval and simplify triage (#11074)
  .agents/skills/unblock-dependabot-pr/SKILL.md
  .agents/skills/unblock-dependabot-pr/references/act-patterns.md
  .agents/skills/unblock-dependabot-pr/references/failure-patterns.md
  .agents/skills/unblock-dependabot-pr/references/guard-patterns.md
  .agents/skills/unblock-dependabot-pr/references/shared-actions.md
Due: none

feat: enhance InboundConfig with additional Public IP fields and update equality checks
  pkg/provider/servicegateway/difftracker/azure_operations_clients_test.go
  pkg/provider/servicegateway/difftracker/difftracker.go
  pkg/provider/servicegateway/difftracker/engine.go
  pkg/provider/servicegateway/difftracker/engine_test.go
  pkg/provider/servicegateway/difftracker/initialization.go
  pkg/provider/servicegateway/difftracker/initialization_test.go
  pkg/provider/servicegateway/difftracker/loadbalancer.go
  pkg/provider/servicegateway/difftracker/loadbalancer_test.go
  pkg/provider/servicegateway/difftracker/orphan_guards_test.go
  pkg/provider/servicegateway/difftracker/regression_test.go
  pkg/provider/servicegateway/difftracker/resource_helpers.go
  pkg/provider/servicegateway/difftracker/resource_helpers_test.go
  pkg/provider/servicegateway/difftracker/service_updater.go
  pkg/provider/servicegateway/difftracker/service_updater_deletion_test.go
  pkg/provider/servicegateway/difftracker/service_updater_test.go
  pkg/provider/servicegateway/difftracker/types.go
  pkg/provider/servicegateway/difftracker/types_test.go
  tests/e2e/servicegateway/slb_service_config_test.go
  tests/e2e/servicegateway/slb_suite_test.go
  tests/e2e/servicegateway/slb_validation_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
