Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum

fix(vmss): ensure vmssCache invalidation runs after all defers
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

test(vmss): add dedicated cache invalidation test
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

test(vmss): remove redundant cache assertions from original tests
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

test(vmss): remove redundant pre-check from TestEnsureBackendPoolDeleted
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

test(vmss): remove redundant pre-check from TestEnsureHostsInPool
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

go mod tidy
  kubetest2-aks/go.mod
  kubetest2-aks/go.sum
Due: pull-cloud-provider-azure-check

[release-1.32] fix: Invalidate VMSS cache after VMSS VM changes (#9895)
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

[release-1.34] fix: Invalidate VMSS cache after VMSS VM changes (#9893)
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

[release-1.33] fix: Invalidate VMSS cache after VMSS VM changes (#9894)
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Add names to loggers that don't have name (#9892)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Add names to loggers that don't have name
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

disabled deny-all rule creation when invalid prefix blocking rule
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/k8sevent.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

reverted empty segment skipping
  pkg/provider/loadbalancer/configuration.go
  pkg/provider/loadbalancer/configuration_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

moved TestGenerateDenyBlockedSecurityRuleName to securityrule_test.go
  pkg/provider/securitygroup/securitygroup_test.go
  pkg/provider/securitygroup/securityrule_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

added more tests, added test output checking to TestGenerateDenyBlockedSecurityRuleName
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/configuration_test.go
  pkg/provider/securitygroup/securityrule_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Add names to loggers that don't have name (#9901)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Add names to loggers that don't have name (#9902)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

doc: Enrich required permissions
  content/en/topics/azure-permissions.md
Due: none

Add names to loggers that don't have name (#9903)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update log messages
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/cloud-controller-manager/app/dynamic/file_watcher.go
  cmd/cloud-controller-manager/app/dynamic/secret_watcher.go
  pkg/azclient/policy/retryaftermin/retryaftermin.go
  pkg/nodeipam/node_ipam_controller.go
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_instances_v2.go
  pkg/provider/azure_interface_repo.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_repo.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_vmsets_repo.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmssflex_cache.go
  pkg/provider/azure_zones.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: Auto creating release note pr after releasing
  .github/workflows/release.yaml
  hack/generate-release-note.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Revert unnecessary changes to log content
  pkg/provider/azure_interface_repo.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: Checkout to documentation branch later
  .github/workflows/release.yaml
Due: none

added a testcase with multiple valid IP ranges
  pkg/provider/loadbalancer/configuration_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

reverted managed ranges
  pkg/provider/securitygroup/securitygroup_test.go
  pkg/provider/securitygroup/securityrule.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update release notes for v1.35.0
  content/en/blog/releases/v1.35.0.md
Due: none

fix: Remove pr creation block in release pipeline
  .github/workflows/release.yaml
Due: none

update-vendor-licenses
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute/v7/LICENSE
  LICENSES/vendor/github.com/grafana/regexp/LICENSE
  go.sum
Due: pull-cloud-provider-azure-check
