Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum

docs: add when-to-use triggers to all existing skill descriptions
  .agents/skills/cherry-pick-pr/SKILL.md
  .agents/skills/create-release-note-doc-pr/SKILL.md
  .agents/skills/create-release-tags/SKILL.md
  .agents/skills/fix-image-cves/SKILL.md
  .agents/skills/release/SKILL.md
Due: none

feat: add run-e2e-test shared skill for interactive e2e test replay
  .agents/skills/README.md
  .agents/skills/run-e2e-test/SKILL.md
  .agents/skills/run-e2e-test/references/INDEX.md
  .agents/skills/run-e2e-test/references/patterns.md
  .agents/skills/run-e2e-test/scripts/analyze_test.py
  .agents/skills/run-e2e-test/scripts/check_context.py
  .agents/skills/run-e2e-test/scripts/gen_patterns_index.py
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

docs: add when-to-use triggers to description per Agent Skills spec
  .agents/skills/authoring.md
  .agents/skills/run-e2e-test/SKILL.md
  .agents/skills/templates/skill/SKILL.md
Due: none

Merge pull request #10143 from nilo19/e2e-skills
  .agents/skills/README.md
  .agents/skills/authoring.md
  .agents/skills/cherry-pick-pr/SKILL.md
  .agents/skills/create-release-note-doc-pr/SKILL.md
  .agents/skills/create-release-tags/SKILL.md
  .agents/skills/fix-image-cves/SKILL.md
  .agents/skills/release/SKILL.md
  .agents/skills/run-e2e-test/SKILL.md
  .agents/skills/run-e2e-test/references/INDEX.md
  .agents/skills/run-e2e-test/references/patterns.md
  .agents/skills/run-e2e-test/scripts/analyze_test.py
  .agents/skills/run-e2e-test/scripts/check_context.py
  .agents/skills/run-e2e-test/scripts/gen_patterns_index.py
  .agents/skills/templates/skill/SKILL.md
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Merge pull request #10143 from nilo19/e2e-skills (#10174)
  .agents/skills/README.md
  .agents/skills/authoring.md
  .agents/skills/cherry-pick-pr/SKILL.md
  .agents/skills/create-release-note-doc-pr/SKILL.md
  .agents/skills/create-release-tags/SKILL.md
  .agents/skills/fix-image-cves/SKILL.md
  .agents/skills/release/SKILL.md
  .agents/skills/run-e2e-test/SKILL.md
  .agents/skills/run-e2e-test/references/INDEX.md
  .agents/skills/run-e2e-test/references/patterns.md
  .agents/skills/run-e2e-test/scripts/analyze_test.py
  .agents/skills/run-e2e-test/scripts/check_context.py
  .agents/skills/run-e2e-test/scripts/gen_patterns_index.py
  .agents/skills/templates/skill/SKILL.md
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Merge pull request #10143 from nilo19/e2e-skills (#10175)
  .agents/skills/README.md
  .agents/skills/authoring.md
  .agents/skills/cherry-pick-pr/SKILL.md
  .agents/skills/create-release-note-doc-pr/SKILL.md
  .agents/skills/create-release-tags/SKILL.md
  .agents/skills/fix-image-cves/SKILL.md
  .agents/skills/release/SKILL.md
  .agents/skills/run-e2e-test/SKILL.md
  .agents/skills/run-e2e-test/references/INDEX.md
  .agents/skills/run-e2e-test/references/patterns.md
  .agents/skills/run-e2e-test/scripts/analyze_test.py
  .agents/skills/run-e2e-test/scripts/check_context.py
  .agents/skills/run-e2e-test/scripts/gen_patterns_index.py
  .agents/skills/templates/skill/SKILL.md
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Merge pull request #10143 from nilo19/e2e-skills (#10176)
  .agents/skills/README.md
  .agents/skills/authoring.md
  .agents/skills/cherry-pick-pr/SKILL.md
  .agents/skills/create-release-note-doc-pr/SKILL.md
  .agents/skills/create-release-tags/SKILL.md
  .agents/skills/fix-image-cves/SKILL.md
  .agents/skills/release/SKILL.md
  .agents/skills/run-e2e-test/SKILL.md
  .agents/skills/run-e2e-test/references/INDEX.md
  .agents/skills/run-e2e-test/references/patterns.md
  .agents/skills/run-e2e-test/scripts/analyze_test.py
  .agents/skills/run-e2e-test/scripts/check_context.py
  .agents/skills/run-e2e-test/scripts/gen_patterns_index.py
  .agents/skills/templates/skill/SKILL.md
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Merge pull request #10143 from nilo19/e2e-skills (#10177)
  .agents/skills/README.md
  .agents/skills/authoring.md
  .agents/skills/cherry-pick-pr/SKILL.md
  .agents/skills/create-release-note-doc-pr/SKILL.md
  .agents/skills/create-release-tags/SKILL.md
  .agents/skills/fix-image-cves/SKILL.md
  .agents/skills/release/SKILL.md
  .agents/skills/run-e2e-test/SKILL.md
  .agents/skills/run-e2e-test/references/INDEX.md
  .agents/skills/run-e2e-test/references/patterns.md
  .agents/skills/run-e2e-test/scripts/analyze_test.py
  .agents/skills/run-e2e-test/scripts/check_context.py
  .agents/skills/run-e2e-test/scripts/gen_patterns_index.py
  .agents/skills/templates/skill/SKILL.md
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat: add env vars for k8s service host and port
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/cloud-provider-azure/values.yaml
  helm/repo/cloud-provider-azure-1.35.3.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

fix: wrap k8s service host and port values in quotes for proper YAML formatting
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.35.3.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

feat: support separate resource group for private DNS zone
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

test: add unit test for PrivateDNSZoneResourceGroup
  pkg/provider/storage/azure_storageaccount_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: rename privateDnsResourceGroup to privateDNSResourceGroup per golint
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: separate vnetResourceGroup and privateDNSResourceGroup in createVNetLink and createPrivateDNSZoneGroup
  pkg/provider/storage/azure_storageaccount.go
  pkg/provider/storage/azure_storageaccount_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: rename vnetResourceGroup to privateDNSResourceGroup in createPrivateDNSZone helper
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: force privatelink prefix for Private Endpoint DNS zone name
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: update error messages to reference privateDNSResourceGroup for VNet link operations
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

Handle NICs without VM associations gracefully
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_cache_test.go
  pkg/provider/azure_vmss_test.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: improve error messages and preserve log key backward compatibility
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: use single consistent 'resourceGroup' log key, remove duplicates
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: capitalize DNS in error message, add PrivateDNSZoneID RG assertion in test
  pkg/provider/storage/azure_storageaccount.go
  pkg/provider/storage/azure_storageaccount_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

doc(multi-slb): add IP sharing section
  content/en/topics/multislb.md
Due: none

refactor(e2e): move service utils and table similar scenarios
  tests/e2e/network/multiple_standard_lb.go
  tests/e2e/utils/service_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: pin labeler GitHub Action to full-length commit SHAs
  .github/workflows/labeler.yml
Due: none

chore: pin labeler GitHub Action to full-length commit SHAs (#10192)
  .github/workflows/labeler.yml
Due: none

fix: route standalone VM providerID to availability set handler
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_cache_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: also fix getVMManagementTypeByIPConfigurationID for standalone VMs
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_cache_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: remove getVMManagementTypeByNodeName short-circuit, use realistic test IDs
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_cache_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: guard against nil nonVmssUniformNodesCache in getVMManagementTypeByNodeName
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_cache_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

address comments
  pkg/consts/consts.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_publicip_repo.go
  pkg/provider/azure_publicip_repo_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: restore getVMManagementTypeByNodeName short-circuit (no format-based distinction for node names)
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_cache_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

refactor(e2e): move new lb and fip helpers to utils
  tests/e2e/network/multiple_standard_lb.go
  tests/e2e/utils/loadbalancer_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: route standalone VM providerID to availability set handler (#10194)
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_cache_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz
