Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-unit
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

Merge pull request #8647 from mainred/check-empty-mirror-mapping (#8693)
  cmd/acr-credential-provider/main.go
  pkg/credentialprovider/azure_acr_helper.go
  pkg/credentialprovider/azure_credentials.go
  pkg/credentialprovider/azure_credentials_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix empty string on DAP (#7854)
  pkg/provider/securitygroup/securityrule.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Generate non-overlapping and non-mergable CIDRs at best effort (#8587)
  internal/testutil/fixture/fixture.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: use acr audience token for ACR authentication (#8593)
  go.mod
  go.sum
  pkg/credentialprovider/azure_credentials.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/cloud_config.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/digest_helper.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/time_rfc3339.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update vendor license for master
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/LICENSE
Due: none

cleanup: add authProvider in AccountRepo struct
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

cleanup: add authProvider in AccountRepo struct (#8715)
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

Revert "build(deps): bump the all group with 2 updates (#8717)"
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-azclient.yml
  .github/workflows/lint-azclient.yaml
  .github/workflows/lint.yaml
  .github/workflows/scorecards.yml
  .github/workflows/trivy.yaml
Due: none

Revert "build(deps): bump the all group with 2 updates (#8717)" (#8729)
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-azclient.yml
  .github/workflows/lint-azclient.yaml
  .github/workflows/lint.yaml
  .github/workflows/scorecards.yml
  .github/workflows/trivy.yaml
Due: none

fix: Skip ensuring host in pool if the vm is not found
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Return default auth provider if no valid auth method
  pkg/azclient/auth.go
  pkg/azclient/auth_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

Fix linter version
  pkg/azclient/Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: use acr audience token for ACR authentication (#8593) (#8696)
  go.mod
  go.sum
  pkg/credentialprovider/azure_credentials.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/cloud_config.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/digest_helper.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/time_rfc3339.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: use acr audience token for ACR authentication (#8593) (#8697)
  go.mod
  go.sum
  pkg/credentialprovider/azure_credentials.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/cloud_config.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/digest_helper.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/time_rfc3339.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: use acr audience token for ACR authentication (#8593) (#8698)
  go.mod
  go.sum
  pkg/credentialprovider/azure_credentials.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/cloud_config.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/digest_helper.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/time_rfc3339.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: use acr audience token for ACR authentication (#8593) (#8699)
  go.mod
  go.sum
  pkg/credentialprovider/azure_credentials.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/cloud_config.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/digest_helper.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/time_rfc3339.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

[azclient] Return default auth provider if no valid auth method (#8730)
  pkg/azclient/Makefile
  pkg/azclient/auth.go
  pkg/azclient/auth_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

Fix linter version
  .github/workflows/lint.yaml
Due: none

Upgrade azclient and set compute and network ARM client
  go.mod
  go.sum
  pkg/provider/azure.go
  pkg/provider/azure_test.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/accesstokens/accesstokens.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/cmp.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortanyfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/Makefile
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/auth.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/auth_func.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/auth_option.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Upgrade azclient and set compute and network ARM client (#8728)
  go.mod
  go.sum
  pkg/provider/azure.go
  pkg/provider/azure_test.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/accesstokens/accesstokens.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/cmp.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortanyfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/Makefile
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/auth.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/auth_func.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/auth_option.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Return error if not nil
  pkg/provider/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: Remove the shared slb health probe after the last cluster service is switched to local
  pkg/provider/azure_loadbalancer_healthprobe.go
  pkg/provider/azure_loadbalancer_healthprobe_test.go
  tests/e2e/network/sharedhealthprobe.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

unpin golangci-lint version in azclient
  .github/workflows/lint-azclient.yaml
Due: none

Include lint-azclient.yaml in workflow paths
  .github/workflows/lint-azclient.yaml
Due: none

Add working-directory to lint-azclient workflow
  .github/workflows/lint-azclient.yaml
Due: none

Add config argument to lint workflow
  .github/workflows/lint-azclient.yaml
Due: none

Update golangci-lint args in workflow
  .github/workflows/lint-azclient.yaml
Due: none

Update golangci-lint config file path
  .github/workflows/lint-azclient.yaml
Due: none

Update vendor license for release-1.31
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/LICENSE
Due: none

fix: Skip ensuring host in pool if the vm is not found (#8648)
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: Remove the shared slb health probe after the last cluster service is switched to local (#8732)
  pkg/provider/azure_loadbalancer_healthprobe.go
  pkg/provider/azure_loadbalancer_healthprobe_test.go
  tests/e2e/network/sharedhealthprobe.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
