Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-unit
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

skip buildx setup if it is done in previous step
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: Add metrics for local service backend pool updater (#8867)
  pkg/provider/azure_local_services.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Updating namings, add ServiceType to ServicesDataDTO, update tests, refactor
  pkg/provider/azure.go
  pkg/provider/difftracker/difftracker.go
  pkg/provider/difftracker/difftracker_test.go
  pkg/provider/difftracker/nrp_state_updates.go
  pkg/provider/difftracker/sync_operations.go
  pkg/provider/difftracker/types.go
  pkg/provider/difftracker/util.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

skip buildx setup if it is done in previous step (#8887)
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: Add metrics for local service backend pool updater
  pkg/provider/azure_local_services.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: DeleteCacheForNode is only called when updateCache is not called
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmssflex.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

change poller frequency to 5s
  pkg/azclient/utils/poller.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

chore: decrease poller delay as 5s, consistent with sdk1 setting
  pkg/azclient/utils/poller.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

change poller frequency to 5s (#8901)
  pkg/azclient/utils/poller.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

chore: Add metrics for local service backend pool updater (#8897)
  pkg/provider/azure_local_services.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: Add metrics for local service backend pool updater (#8896)
  pkg/provider/azure_local_services.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: Add metrics for local service backend pool updater (#8899)
  pkg/provider/azure_local_services.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: Add metrics for local service backend pool updater (#8898)
  pkg/provider/azure_local_services.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update release notes for v1.32.4
  content/en/blog/releases/v1.32.4.md
Due: none

Update vendor license for release-1.31
  LICENSES/vendor/github.com/klauspost/compress/LICENSE
  LICENSES/vendor/go.uber.org/automaxprocs/LICENSE
Due: none

fetch all tags and commit in release action
  .github/workflows/release.yaml
Due: none

fetch all tags and commit in release action (#8914)
  .github/workflows/release.yaml
Due: none

fetch all tags and commit in release action (#8916)
  .github/workflows/release.yaml
Due: none

fetch all tags and commit in release action (#8917)
  .github/workflows/release.yaml
Due: none

fetch all tags and commit in release action (#8918)
  .github/workflows/release.yaml
Due: none

Update release notes for v1.30.11
  content/en/blog/releases/v1.30.11.md
Due: none

Update release notes for v1.31.5
  content/en/blog/releases/v1.31.5.md
Due: none

doc: Add release notes for v1.32.4, v1.31.5, v1.30.11 and v1.29.14
  content/en/blog/releases/v1.29.14.md
  content/en/blog/releases/v1.30.11.md
  content/en/blog/releases/v1.31.5.md
  content/en/blog/releases/v1.32.4.md
Due: none

doc: Update image versions in readme and examples
  README.md
  examples/out-of-tree/cloud-controller-manager.yaml
  examples/out-of-tree/cloud-node-manager.yaml
Due: none

doc: Add release notes for v1.32.4, v1.31.5, v1.30.11 and v1.29.14 (#8925)
  content/en/blog/releases/v1.29.14.md
  content/en/blog/releases/v1.30.11.md
  content/en/blog/releases/v1.31.5.md
  content/en/blog/releases/v1.32.4.md
Due: none

fix: azure stack hub volume detach failed
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmssflex.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

doc: Update image versions in readme and examples (#8926)
  README.md
  examples/out-of-tree/cloud-controller-manager.yaml
  examples/out-of-tree/cloud-node-manager.yaml
Due: none

Update Helm chart for v1.32.4 and other patch releases
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.32.4.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Update Helm chart for v1.32.4 and other patch releases (#8927)
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.32.4.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

fix: azure stack hub volume detach failed (#8930)
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmssflex.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
