Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azureclients/v2/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

refactor cloud node manager
  cmd/cloud-node-manager/app/init_others.go
  cmd/cloud-node-manager/app/init_windows.go
  cmd/cloud-node-manager/app/nodemanager.go
  cmd/cloud-node-manager/app/options/options.go
  cmd/cloud-node-manager/node-manager.go
  pkg/node/nodeproviderfactory.go
  pkg/nodemanager/nodemanager.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

test: fixes for custom azure.json files
  tests/k8s-azure/manifest/cluster-api/cloud-config-vmss-default.json
  tests/k8s-azure/manifest/cluster-api/cloud-config-vmss-multi-slb.json
  tests/k8s-azure/manifest/cluster-api/cloud-config-vmss-short-cache-ttl.json
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Downgrade module go version
  pkg/azclient/go.mod
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Replace deprecated keyvault secret lib
  pkg/azclient/armauth/keyvault_credential.go
  pkg/azclient/go.mod
  pkg/azclient/go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: Change azure client id env in all cluster templates
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ci-version-oot-credential-provider.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-dual-stack-md.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-dual-stack-mp.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ipv6-md.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ipv6-mp.yaml
  tests/k8s-azure/manifest/cluster-api/linux-dualstack.yaml
  tests/k8s-azure/manifest/cluster-api/linux-ipv6.yaml
  tests/k8s-azure/manifest/cluster-api/linux-multiple-vmss-multiple-zones.yaml
  tests/k8s-azure/manifest/cluster-api/linux-multiple-vmss.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-no-win-local.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-no-win-oot-credential-provider.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-no-win.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-version-oot-credential-provider.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-version.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-multiple-zones-ci-version.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-multiple-zones.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: VirtualNetworkRule match issue during account search
  pkg/provider/azure_storageaccount.go
  pkg/provider/azure_storageaccount_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

chore: refine logging in AreVNetRulesEqual func
  pkg/provider/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: skip mock gen for armauth
  hack/update-mock-clients.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

update linter config
  .github/workflows/lint.yaml
Due: none

test only 1.27
  pkg/provider/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

test only 1.28
  pkg/provider/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

test only 1.29
  pkg/provider/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

test only 1.30
  pkg/provider/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Make a windows cloud-node-manager-image based off the host-process-contaieners base image
  Makefile
  cloud-node-manager-windows-hpc.Dockerfile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: Keep auth envs when building e2e azure clients
  tests/e2e/utils/azure_auth.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

Update vendor license for master
  LICENSES/vendor/golang.org/x/exp/LICENSE
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

support mulltiple subnet when creating private endpoints
  pkg/provider/azure_storageaccount.go
  pkg/provider/azure_subnet_repo.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for master
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

migrate credential provider to track2 client
  cmd/acr-credential-provider/main.go
  go.mod
  go.sum
  pkg/credentialprovider/azure_credentials.go
  pkg/credentialprovider/azure_credentials_test.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/authentication_policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/blob_custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/cloud_config.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/custom_constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/digest_helper.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/containers/azcontainerregistry/time_rfc3339.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

replace docker commands with acr tasks
  tests/e2e/auth/cred.go
  tests/e2e/utils/container_registry_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

fix
  pkg/provider/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix
  pkg/provider/azure_storageaccount.go
  pkg/provider/azure_storageaccount_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.27
  LICENSES/vendor/golang.org/x/sys/LICENSE
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update release notes for v1.30.5
  content/en/blog/releases/v1.30.5.md
Due: none

Update release notes for v1.29.9
  content/en/blog/releases/v1.29.9.md
Due: none

Update release notes for v1.28.11
  content/en/blog/releases/v1.28.11.md
Due: none

Update release notes for v1.27.19
  content/en/blog/releases/v1.27.19.md
Due: none

doc: Update examples and remove in-tree examples
  README.md
  examples/in-tree/kube-apiserver.yaml
  examples/in-tree/kube-controller-manager.yaml
  examples/in-tree/kube-scheduler.yaml
  examples/in-tree/kubelet.manifest
  examples/out-of-tree/cloud-controller-manager.yaml
  examples/out-of-tree/cloud-node-manager.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for master
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/security/keyvault/azsecrets/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/security/keyvault/internal/LICENSE
  LICENSES/vendor/golang.org/x/crypto/LICENSE
  LICENSES/vendor/golang.org/x/net/LICENSE
  LICENSES/vendor/golang.org/x/sync/LICENSE
  LICENSES/vendor/golang.org/x/sys/LICENSE
  LICENSES/vendor/golang.org/x/term/LICENSE
  LICENSES/vendor/golang.org/x/text/LICENSE
  LICENSES/vendor/golang.org/x/time/LICENSE
  LICENSES/vendor/golang.org/x/tools/LICENSE
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit
