Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220614-cde7860a33-master
      command:
      - runner.sh
      args:
      - make
      - test-check

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220614-cde7860a33-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220614-cde7860a33-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220614-cde7860a33-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220614-cde7860a33-master
      command:
      - runner.sh
      args:
      - make
      - test-unit

Use correct subnet name in reconcileFrontendIPConfigs()
  pkg/provider/azure_loadbalancer.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

docs: update limitations of PLS
  site/content/en/topics/pls-integration.md
Due: none

Update pls doc to support ELB+floating ip
  site/content/en/development/design-docs/pls-integration.md
  site/content/en/topics/pls-integration.md
Due: none

Vmss flex support: Add two functions in azure_vmclient.go to support batch querying VMSS Flex VMs and their InstanceView
  pkg/azureclients/vmclient/azure_vmclient.go
  pkg/azureclients/vmclient/azure_vmclient_test.go
  pkg/azureclients/vmclient/interface.go
  pkg/azureclients/vmclient/mockvmclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Skip "instance not found" error for LB backend address pools
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Less mem usage for golangci-lint by less concurrency
  .golangci.yml
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-controller-manager/app/testing/testserver.go
  hack/verify-golint.sh
  pkg/azureclients/armclient/azure_armclient_test.go
  pkg/azureclients/privatelinkserviceclient/azure_privatelinkserviceclient.go
  pkg/node/node.go
  pkg/node/nodearm.go
  pkg/nodeipam/ipam/doc.go
  pkg/nodemanager/nodemanager.go
  pkg/provider/azure_instances.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_managedDiskController.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_test.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_wrap.go
  pkg/retry/azure_retry.go
  tests/e2e/utils/node_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

golangci-lint
  .golangci.yml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Less mem usage for golangci-lint by less concurrency
  .golangci.yml
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-controller-manager/app/testing/testserver.go
  hack/verify-golint.sh
  pkg/azureclients/armclient/azure_armclient_test.go
  pkg/azureclients/privatelinkserviceclient/azure_privatelinkserviceclient.go
  pkg/node/node.go
  pkg/node/nodearm.go
  pkg/nodeipam/ipam/doc.go
  pkg/nodemanager/nodemanager.go
  pkg/provider/azure_instances.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_managedDiskController.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_test.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_wrap.go
  tests/e2e/utils/node_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Fix aks pipeline to test e2e
  .pipelines/run-autoscaling-e2e.yml
  .pipelines/run-autoscaling-multipool-e2e.yml
  .pipelines/run-basic-lb-e2e.yml
  .pipelines/scripts/run-e2e.sh
  .pipelines/templates/autoscaling-multipool.json
  .pipelines/templates/autoscaling.json
  hack/test-ccm-e2e.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Less mem usage for golangci-lint by less concurrency
  .golangci.yml
  cmd/cloud-controller-manager/app/core.go
  cmd/cloud-controller-manager/app/testing/testserver.go
  hack/verify-golint.sh
  pkg/azureclients/armclient/azure_armclient_test.go
  pkg/azureclients/privatelinkserviceclient/azure_privatelinkserviceclient.go
  pkg/node/node.go
  pkg/node/nodearm.go
  pkg/nodeipam/ipam/doc.go
  pkg/nodemanager/nodemanager.go
  pkg/provider/azure_blobDiskController.go
  pkg/provider/azure_instances.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_managedDiskController.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_test.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_wrap.go
  tests/e2e/utils/node_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Fix aks pipeline to test e2e
  .pipelines/run-autoscaling-e2e.yml
  .pipelines/run-autoscaling-multipool-e2e.yml
  .pipelines/run-basic-lb-e2e.yml
  .pipelines/scripts/run-e2e.sh
  .pipelines/templates/autoscaling-multipool.json
  .pipelines/templates/autoscaling.json
  Makefile
  hack/test-ccm-e2e.sh
  tests/e2e/autoscaling/autoscaler.go
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/node.go
  tests/e2e/network/service_annotations.go
  tests/e2e/network/standard_lb.go
  tests/e2e/utils/azure_auth.go
  tests/e2e/utils/node_utils.go
  tests/e2e/utils/service_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

fix aks pipeline gc job typo
  .pipelines/daily-gc.yml
  .pipelines/run-autoscaling-e2e.yml
  .pipelines/run-autoscaling-multipool-e2e.yml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Update release notes for v1.0.23
  site/content/en/blog/releases/v1.0.23.md
Due: none

Update release notes for v1.1.19
  site/content/en/blog/releases/v1.1.19.md
Due: none

Update release notes for v1.23.16
  site/content/en/blog/releases/v1.23.16.md
Due: none

Update release notes for v1.24.4
  site/content/en/blog/releases/v1.24.4.md
Due: none

chore: update cloud-provider modules to v0.23.9
  go.mod
  go.sum
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/certificates/v1/types.go
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/apiserver/pkg/audit/union.go
  vendor/k8s.io/apiserver/pkg/authentication/group/authenticated_group_adder.go
  vendor/k8s.io/apiserver/pkg/authentication/group/group_adder.go
  vendor/k8s.io/apiserver/pkg/authentication/group/token_group_adder.go
  vendor/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  vendor/k8s.io/apiserver/pkg/server/filters/timeout.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/store.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
  vendor/k8s.io/client-go/kubernetes/clientset.go
  vendor/k8s.io/client-go/pkg/version/.gitattributes
  vendor/k8s.io/client-go/tools/cache/thread_safe_store.go
  vendor/k8s.io/cloud-provider/controllers/node/node_controller.go
  vendor/k8s.io/cloud-provider/controllers/route/route_controller.go
  vendor/k8s.io/cloud-provider/controllers/service/controller.go
  vendor/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
  vendor/k8s.io/component-base/version/.gitattributes
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Fix e2e tests to support aks cluster
  Makefile
  hack/test-ccm-e2e.sh
  tests/e2e/autoscaling/autoscaler.go
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/node.go
  tests/e2e/network/service_annotations.go
  tests/e2e/network/standard_lb.go
  tests/e2e/utils/azure_auth.go
  tests/e2e/utils/node_utils.go
  tests/e2e/utils/service_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

helm: publish 1.24.4 with new versions
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.24.4.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

[NOT FOR REVIEW] Test aks cluster e2e tests
  .pipelines/run-autoscaling-e2e.yml
  .pipelines/run-autoscaling-multipool-e2e.yml
  .pipelines/scripts/run-e2e.sh
  tests/e2e/node/vmss.go
  tests/e2e/utils/vmss_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

lower verbosity in ci templat due to the limitation of logging space
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-version.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

modify pipeline to seperate k8s version env var
  .pipelines/daily-gc.yml
  .pipelines/run-autoscaling-e2e.yml
  .pipelines/run-autoscaling-multipool-e2e.yml
  .pipelines/run-basic-lb-e2e.yml
  .pipelines/run-e2e.yml
  .pipelines/var-e2e.yml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

VMSS Flex Support: Add vmssflex caches and unit tests
  pkg/consts/consts.go
  pkg/provider/azure.go
  pkg/provider/azure_controller_vmssflex.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_cache.go
  pkg/provider/azure_vmssflex_cache_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

modify pipeline to seperate k8s version env var
  .pipelines/README.md
  .pipelines/daily-gc.yml
  .pipelines/run-autoscaling-e2e.yml
  .pipelines/run-autoscaling-multipool-e2e.yml
  .pipelines/run-basic-lb-e2e.yml
  .pipelines/run-e2e.yml
  .pipelines/scripts/run-e2e.sh
  .pipelines/var-e2e.yml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

chore: update cloud-provider modules to v0.22.12
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/audit/union.go
  vendor/k8s.io/apiserver/pkg/authentication/group/authenticated_group_adder.go
  vendor/k8s.io/apiserver/pkg/authentication/group/group_adder.go
  vendor/k8s.io/apiserver/pkg/authentication/group/token_group_adder.go
  vendor/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  vendor/k8s.io/apiserver/pkg/server/filters/timeout.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/store.go
  vendor/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  vendor/k8s.io/cloud-provider/controllers/node/node_controller.go
  vendor/k8s.io/cloud-provider/controllers/route/route_controller.go
  vendor/k8s.io/cloud-provider/controllers/service/controller.go
  vendor/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
  vendor/k8s.io/component-base/version/.gitattributes
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

fix fileclient due to sdk version change
  pkg/azureclients/fileclient/azure_fileclient.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Update pls-integration.md
  site/content/en/topics/pls-integration.md
Due: none

Fix e2e tests to support aks cluster
  Makefile
  hack/test-ccm-e2e.sh
  tests/e2e/autoscaling/autoscaler.go
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/node.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
  tests/e2e/network/standard_lb.go
  tests/e2e/node/vmss.go
  tests/e2e/utils/azure_auth.go
  tests/e2e/utils/node_utils.go
  tests/e2e/utils/service_utils.go
  tests/e2e/utils/vmss_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

[e2e] Retry when getting security group list
  tests/e2e/utils/network_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz

Update release notes for v1.23.17
  site/content/en/blog/releases/v1.23.17.md
Due: none

Update release notes for v1.1.20
  site/content/en/blog/releases/v1.1.20.md
Due: none

Update v1.1.20.md
  site/content/en/blog/releases/v1.1.20.md
Due: none

Fix public ip version check
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

feat: add encryption setting in storage account creation
  pkg/provider/azure_storageaccount.go
  pkg/provider/azure_storageaccount_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

cleanup: reduce VirtualMachinesClient.List success logs
  pkg/provider/azure_backoff.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
