Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

pull-cloud-provider-azure-check:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-check
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmssflex-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
  ...

pull-cloud-provider-azure-unit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - make
      - test-unit
      resources:
        limits:
          memory: 9Gi
          cpu: '2'
  ...

Update vendor license for release-1.31 (#8921)
  LICENSES/vendor/github.com/klauspost/compress/LICENSE
  LICENSES/vendor/go.uber.org/automaxprocs/LICENSE
Due: none

cleanup: add authProvider in AccountRepo struct
  pkg/provider/storage/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: remove unnecessary get vmss call during disk attach
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmssflex.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: DeleteCacheForNode is only called when updateCache is not called
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmssflex.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: reduce get disk calls in disk attach/detach on VMSS#2
  pkg/provider/azure_controller_vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: Ignore cases when comparing load balancer names
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: Ignore cases when comparing load balancer names (#8978)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Changes: - Update batch updater - Handle error cases - Refactor
  pkg/provider/azure.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_location_and_nrp_service_batch_updater.go
  pkg/provider/config/azure.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat: add VNetLinkName and PublicNetworkAccess in account creation
  pkg/provider/storage/azure_storageaccount.go
  pkg/provider/storage/azure_storageaccount_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

feat: add VNetLinkName and PublicNetworkAccess in account creation (#8990)
  pkg/provider/storage/azure_storageaccount.go
  pkg/provider/storage/azure_storageaccount_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: Ignore cases when comparing load balancer names (#8991)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: NotFound error
  pkg/consts/consts.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: NotFound error (#8999)
  pkg/consts/consts.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: NotFound error (#8998)
  pkg/consts/consts.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

feat: add VNetLinkName and PublicNetworkAccess in account creation (#8993)
  pkg/provider/storage/azure_storageaccount.go
  pkg/provider/storage/azure_storageaccount_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

fix: Ignore cases when comparing load balancer names (#8992)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

updated trigger flow + refactor
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_local_services.go
  pkg/provider/azure_location_and_nrp_service_batch_updater.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: Ignore cases when comparing load balancer names (#8995)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: Bump go modules against k/k release-1.33
  go.mod
  go.sum
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

fix: Ignore cases when comparing load balancer names (#8994)
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

chore: Bump go modules against k/k release-1.33 (#8996)
  go.mod
  go.sum
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update vendor license for release-1.32
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/data/aztables/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/internal/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization/v2/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute/v6/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/keyvault/armkeyvault/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/msi/armmsi/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/network/armnetwork/v6/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/privatedns/armprivatedns/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/security/keyvault/internal/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/storage/azqueue/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/autorest/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/autorest/adal/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/autorest/date/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/logger/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/tracing/LICENSE
  LICENSES/vendor/github.com/golang-jwt/jwt/v4/LICENSE
  LICENSES/vendor/github.com/klauspost/compress/LICENSE
  LICENSES/vendor/go.uber.org/automaxprocs/LICENSE
Due: none

Container Load Balancer - Design Doc
  content/en/development/design-docs/clb-implementation.md
Due: none

add list function for virtualnetworklinkclient
  pkg/azclient/accountclient/accountclient_test.go
  pkg/azclient/availabilitysetclient/availabilitysetclient_test.go
  pkg/azclient/backendaddresspoolclient/backendaddresspoolclient_test.go
  pkg/azclient/client-gen/generator/gentest_action.go
  pkg/azclient/client-gen/generator/template.go
  pkg/azclient/configloader/go.mod
  pkg/azclient/diskclient/diskclient_test.go
  pkg/azclient/go.mod
  pkg/azclient/go.sum
  pkg/azclient/interfaceclient/interfaceclient_test.go
  pkg/azclient/ipgroupclient/ipgroupclient_test.go
  pkg/azclient/loadbalancerclient/loadbalancerclient_test.go
  pkg/azclient/managedclusterclient/managedclusterclient_test.go
  pkg/azclient/privatelinkserviceclient/privatelinkserviceclient_test.go
  pkg/azclient/publicipaddressclient/publicipaddressclient_test.go
  pkg/azclient/publicipprefixclient/publicipprefixclient_test.go
  pkg/azclient/registryclient/registryclient_test.go
  pkg/azclient/routetableclient/routetableclient_test.go
  pkg/azclient/secretclient/secretclient_test.go
  pkg/azclient/securitygroupclient/securitygroupclient_test.go
  pkg/azclient/sshpublickeyresourceclient/sshpublickeyresourceclient_test.go
  pkg/azclient/subnetclient/subnetclient_test.go
  pkg/azclient/vaultclient/vaultclient_test.go
  pkg/azclient/virtualmachineclient/virtualmachineclient_test.go
  pkg/azclient/virtualmachinescalesetclient/virtualmachinescalesetclient_test.go
  pkg/azclient/virtualmachinescalesetvmclient/custom_test.go
  pkg/azclient/virtualmachinescalesetvmclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/virtualmachinescalesetvmclient/testdata/AZURECLOUD.yaml
  pkg/azclient/virtualnetworkclient/virtualnetworkclient_test.go
  pkg/azclient/virtualnetworklinkclient/interface.go
  pkg/azclient/virtualnetworklinkclient/mock_virtualnetworklinkclient/interface.go
  pkg/azclient/virtualnetworklinkclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/virtualnetworklinkclient/testdata/AZURECLOUD.yaml
  pkg/azclient/virtualnetworklinkclient/virtualnetworklinkclient_test.go
  pkg/azclient/virtualnetworklinkclient/zz_generated_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

add list function for virtualnetworklinkclient (#9013)
  pkg/azclient/accountclient/accountclient_test.go
  pkg/azclient/availabilitysetclient/availabilitysetclient_test.go
  pkg/azclient/backendaddresspoolclient/backendaddresspoolclient_test.go
  pkg/azclient/client-gen/generator/gentest_action.go
  pkg/azclient/client-gen/generator/template.go
  pkg/azclient/configloader/go.mod
  pkg/azclient/diskclient/diskclient_test.go
  pkg/azclient/go.mod
  pkg/azclient/go.sum
  pkg/azclient/interfaceclient/interfaceclient_test.go
  pkg/azclient/ipgroupclient/ipgroupclient_test.go
  pkg/azclient/loadbalancerclient/loadbalancerclient_test.go
  pkg/azclient/managedclusterclient/managedclusterclient_test.go
  pkg/azclient/privatelinkserviceclient/privatelinkserviceclient_test.go
  pkg/azclient/publicipaddressclient/publicipaddressclient_test.go
  pkg/azclient/publicipprefixclient/publicipprefixclient_test.go
  pkg/azclient/registryclient/registryclient_test.go
  pkg/azclient/routetableclient/routetableclient_test.go
  pkg/azclient/secretclient/secretclient_test.go
  pkg/azclient/securitygroupclient/securitygroupclient_test.go
  pkg/azclient/sshpublickeyresourceclient/sshpublickeyresourceclient_test.go
  pkg/azclient/subnetclient/subnetclient_test.go
  pkg/azclient/vaultclient/vaultclient_test.go
  pkg/azclient/virtualmachineclient/virtualmachineclient_test.go
  pkg/azclient/virtualmachinescalesetclient/virtualmachinescalesetclient_test.go
  pkg/azclient/virtualmachinescalesetvmclient/custom_test.go
  pkg/azclient/virtualmachinescalesetvmclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/virtualmachinescalesetvmclient/testdata/AZURECLOUD.yaml
  pkg/azclient/virtualnetworkclient/virtualnetworkclient_test.go
  pkg/azclient/virtualnetworklinkclient/interface.go
  pkg/azclient/virtualnetworklinkclient/mock_virtualnetworklinkclient/interface.go
  pkg/azclient/virtualnetworklinkclient/testdata/AZURECHINACLOUD.yaml
  pkg/azclient/virtualnetworklinkclient/testdata/AZURECLOUD.yaml
  pkg/azclient/virtualnetworklinkclient/virtualnetworklinkclient_test.go
  pkg/azclient/virtualnetworklinkclient/zz_generated_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-unit

Update Design Doc
  content/en/development/design-docs/clb-implementation.md
  content/en/development/design-docs/slb-clb-datapath.png
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-vmssflex-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz, pull-cloud-provider-azure-unit, pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz

Update vendor license for release-1.32 (#8924)
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/data/aztables/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/internal/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization/v2/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute/v6/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerregistry/armcontainerregistry/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/keyvault/armkeyvault/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/msi/armmsi/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/network/armnetwork/v6/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/privatedns/armprivatedns/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/security/keyvault/internal/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob/LICENSE
  LICENSES/vendor/github.com/Azure/azure-sdk-for-go/sdk/storage/azqueue/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/autorest/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/autorest/adal/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/autorest/date/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/logger/LICENSE
  LICENSES/vendor/github.com/Azure/go-autorest/tracing/LICENSE
  LICENSES/vendor/github.com/golang-jwt/jwt/v4/LICENSE
  LICENSES/vendor/github.com/klauspost/compress/LICENSE
  LICENSES/vendor/go.uber.org/automaxprocs/LICENSE
Due: none

Update release notes for v1.31.6
  content/en/blog/releases/v1.31.6.md
Due: none

Update release notes for v1.32.5
  content/en/blog/releases/v1.32.5.md
Due: none

Update release notes for v1.30.12
  content/en/blog/releases/v1.30.12.md
Due: none

Update release notes for v1.29.15
  content/en/blog/releases/v1.29.15.md
Due: none

Update release.yaml
  .github/workflows/release.yaml
Due: none

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmssflex-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-multi-slb-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
  pull-cloud-provider-azure-e2e-ccm-vmss-shared-probe-capz: unless all of: ^docs/|^site/|^helm/|^pkg/azclient/|^pkg/provider/storage/|^kubetest2-aks/|^.pipelines/|^\.github/|\.(md|adoc)$|^(README|LICENSE)|^examples/|^tests/k8s-azure/manifest$|netlify.toml|.codespellignore|go.sum
