Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

chore: refine storage account encryption setting
  pkg/provider/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

modify aks pipelines for test security and success rate
  .pipelines/README.md
  .pipelines/run-basic-lb-e2e.yml
  .pipelines/scripts/collect-log.sh
  .pipelines/scripts/run-e2e.sh
  hack/test-ccm-e2e.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

VMSS Flex Support: VMSet implementation part 3 for VM modelview related functions# This is a combination of 2 commits.
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_cache.go
  pkg/provider/azure_vmssflex_cache_test.go
  pkg/provider/azure_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

VMSS Flex Support: VMSet implementation part 4 for VM modelview and InstanceView related functions
  pkg/provider/azure_controller_vmssflex_test.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_cache_test.go
  pkg/provider/azure_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

link helm chart in deploy instructions
  site/content/en/install/azure-ccm.md
Due: none

VMSS Flex Support: part 5 of FlexScaleSet Implementation of VMSet interface mainly for network related functions
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_cache_test.go
  pkg/provider/azure_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Update doc to replace aks-engine with capz
  hack/deploy-cluster-capz.sh
  site/content/en/development/deploy-cluster.md
  site/content/en/development/e2e/e2e-tests-azure.md
  site/content/en/development/e2e/e2e-tests.md
  site/content/en/example/in-tree.md
  site/content/en/example/out-of-tree.md
  site/content/en/install/azure-ccm.md
  site/content/en/install/configs.md
  site/content/en/topics/ipam.md
  tests/k8s-azure/manifest/cluster-api/vmss-multi-nodepool-in-tree.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

chore: update version matrix
  README.md
Due: none

fix: correct condition message for NodeNetworkUnavailable
  pkg/nodemanager/nodemanager.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

nsg select ip version based on lb ip
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_mock_loadbalancer_backendpool.go
  pkg/provider/azure_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

VMSS Flex Support: Part 6 of FlexScaleSet implementation of VMSet interface for adding LB backend pool to vmss flex VMs related functions
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_test.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_cache_test.go
  pkg/provider/azure_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

update helm chart 1.24.5
  helm/cloud-provider-azure/Chart.yaml
  helm/repo/cloud-provider-azure-1.24.5.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

add missing `patch` perm to cloud-node-manager SA
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
Due: pull-cloud-provider-azure-check

Bump gcb-docker-gcloud to v20220830-45cbff55bc This version uses golang 1.19
  cloudbuild.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

support cross subscrition for azurefile csi driver
  pkg/azureclients/fileclient/azure_fileclient.go
  pkg/azureclients/fileclient/interface.go
  pkg/azureclients/fileclient/mockfileclient/interface.go
  pkg/provider/azure_file.go
  pkg/provider/azure_storage.go
  pkg/provider/azure_storage_test.go
  pkg/provider/azure_storageaccount.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

fix ut
  pkg/provider/azure_storage_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

nsg select ip version based on lb ip
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

VMSS Flex Support: Part 7 of VMSet implementation: removing LB backend pool from VMSS Flex VM related functions
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

feat: add support for network resource in a different subscription when using MSI
  pkg/auth/azure_auth.go
  pkg/auth/azure_auth_test.go
  pkg/provider/azure.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-unit

Improve flaky e2e test When ExternalTrafficPolicy is updated
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz

Update release notes for v1.25.0
  site/content/en/blog/releases/v1.25.0.md
Due: none
