Repository kubernetes/sig-security: changes, and which Prow jobs are due for each by the changed paths.
All: pull-sig-security-cve-feed-unit-tests, pull-sig-security-srctl-tests

config/jobs/kubernetes/sig-security/cve-feed-tests.yaml:

presubmits:
  kubernetes/sig-security:
  - name: pull-sig-security-cve-feed-unit-tests
    cluster: eks-prow-build-cluster
    annotations:
      testgrid-dashboards: sig-security-cve-feed
      testgrid-create-test-group: "true"
      description: Running the CVE feed unit tests on each PRs touching the scripts
    run_if_changed: "^sig-security-tooling/cve-feed/hack/"
    branches:
    - main
    decorate: true
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20260120-e2c483ffe9-master
        command: ['runner.sh']
        args: ['python3', 'sig-security-tooling/cve-feed/hack/test_cve_title_parser.py', '-v']
        resources:
          limits:
            cpu: 1
            memory: "256Mi"
          requests:
            cpu: 1
            memory: "256Mi"

config/jobs/kubernetes/sig-security/srctl-tests.yaml:

---
presubmits:
  kubernetes/sig-security:
    - name: pull-sig-security-srctl-tests
      cluster: eks-prow-build-cluster
      annotations:
        testgrid-dashboards: sig-security-srctl
        testgrid-create-test-group: "true"
        description: >
          Run unit tests and linters for srctl
      run_if_changed: "^sig-security-tooling/srctl/"
      branches:
        - main
      decorate: true
      spec:
        containers:
          - image: >
              us-central1-docker.pkg.dev/k8s-staging-test-infra/images/
              kubekins-e2e:v20260127-c1affcc8de-master
            command:
              - bash
              - -c
            args:
              - |
                cd sig-security-tooling/srctl
                go test -v -cover ./...
                golangci-lint run
            resources:
              limits:
                cpu: 1
                memory: "256Mi"
              requests:
                cpu: 1
                memory: "256Mi"

tooling: include OSV JSON data in official CVE feed
  sig-security-tooling/cve-feed/hack/__pycache__/cve_title_parser.cpython-313.pyc
  sig-security-tooling/cve-feed/hack/fetch-official-cve-feed.py
Due: pull-sig-security-cve-feed-unit-tests

tooling: include embedded OSV data from CVE issue body
  sig-security-tooling/cve-feed/hack/fetch-official-cve-feed.py
Due: pull-sig-security-cve-feed-unit-tests

Add DNS dangling scanner with examples, requirements, and README
  sig-security-tooling/scan-dangling-dns/README.md
  sig-security-tooling/scan-dangling-dns/dns_scan.py
  sig-security-tooling/scan-dangling-dns/examples/dns_records.yaml
  sig-security-tooling/scan-dangling-dns/requirements.txt
Due: none

tooling(cve-feed): osv_generator, strip OSV from content_text, support ```json osv fence
  sig-security-tooling/cve-feed/README.md
  sig-security-tooling/cve-feed/hack/.gitignore
  sig-security-tooling/cve-feed/hack/__pycache__/cve_title_parser.cpython-313.pyc
  sig-security-tooling/cve-feed/hack/fetch-official-cve-feed.py
Due: pull-sig-security-cve-feed-unit-tests

add GUI editor support and improve stdout spacing
  sig-security-tooling/srctl/io.go
  sig-security-tooling/srctl/main.go
Due: pull-sig-security-srctl-tests

fix outdated links
  sig-security-tooling/vulnerability-mgmt/README.md
Due: none

create srctl tool readme documenation
  sig-security-tooling/srctl/README.md
Due: pull-sig-security-srctl-tests

update cve-feed fetch and construction
  sig-security-tooling/cve-feed/hack/.gitignore
  sig-security-tooling/cve-feed/hack/fetch-official-cve-feed.py
Due: pull-sig-security-cve-feed-unit-tests

Slimmed down README.md for srctl to core components
  sig-security-tooling/srctl/README.md
Due: pull-sig-security-srctl-tests

Update fetch-official-cve-feed.py
  sig-security-tooling/cve-feed/hack/fetch-official-cve-feed.py
Due: pull-sig-security-cve-feed-unit-tests

add Pushkar README update for local development
  sig-security-tooling/cve-feed/README.md
Due: none

srctl: added golangci-lint via go get -tool
  sig-security-tooling/srctl/go.mod
  sig-security-tooling/srctl/go.sum
Due: pull-sig-security-srctl-tests

srctl: fixed linter issues
  sig-security-tooling/srctl/io.go
  sig-security-tooling/srctl/main.go
  sig-security-tooling/srctl/state/step.go
Due: pull-sig-security-srctl-tests

Reverting snyk cli version pinning as they have resolved go scanning bugs
  sig-security-tooling/scanning/build-deps-and-release-images.sh
Due: none

switch unused overflow guard with nosec rule
  sig-security-tooling/srctl/io.go
Due: pull-sig-security-srctl-tests

remove whitespace edit
  sig-security-tooling/srctl/main.go
Due: pull-sig-security-srctl-tests

Hardening snyk cli installer
  sig-security-tooling/scanning/build-deps-and-release-images.sh
  sig-security-tooling/scanning/install-snyk-cli.sh
Due: none

applied feedback
  sig-security-tooling/srctl/README.md
Due: pull-sig-security-srctl-tests

move golangci-lint into tool module
  sig-security-tooling/srctl/go.mod
  sig-security-tooling/srctl/go.sum
  sig-security-tooling/srctl/tools/golangci-lint/go.mod
  sig-security-tooling/srctl/tools/golangci-lint/go.sum
Due: pull-sig-security-srctl-tests

added nolint and exlusion rules for goconst
  sig-security-tooling/srctl/.golangci.yaml
  sig-security-tooling/srctl/state/osv.go
  sig-security-tooling/srctl/state/osv_official.go
Due: pull-sig-security-srctl-tests

Code review updates
  sig-security-tooling/scanning/install-snyk-cli.sh
  sig-security-tooling/scanning/snyk-code-signing.asc
Due: none

Update sig-security-tooling/scanning/install-snyk-cli.sh
  sig-security-tooling/scanning/install-snyk-cli.sh
Due: none

srctl: add the CVSS score and severity in issue/mail template
  sig-security-tooling/srctl/state/email.tmpl
  sig-security-tooling/srctl/state/export_test.go
  sig-security-tooling/srctl/state/issue.tmpl
  sig-security-tooling/srctl/state/slack.tmpl
Due: pull-sig-security-srctl-tests

srctl: fix affected versions templating in email
  sig-security-tooling/srctl/state/email.tmpl
  sig-security-tooling/srctl/state/export_test.go
Due: pull-sig-security-srctl-tests

Update and harden snyk cli installer (#194)
  sig-security-tooling/scanning/build-deps-and-release-images.sh
  sig-security-tooling/scanning/install-snyk-cli.sh
  sig-security-tooling/scanning/snyk-code-signing.asc
Due: none

srctl: fix vanity import path in go.mod
  sig-security-tooling/srctl/go.mod
Due: pull-sig-security-srctl-tests

srctl: add golangci-lint as tool
  sig-security-tooling/srctl/tools/go.mod
  sig-security-tooling/srctl/tools/go.sum
Due: pull-sig-security-srctl-tests

srctl: adjust to golangci-lint v2.12.2
  sig-security-tooling/srctl/.golangci.yaml
  sig-security-tooling/srctl/io.go
  sig-security-tooling/srctl/main.go
  sig-security-tooling/srctl/state/osv.go
  sig-security-tooling/srctl/state/osv_official.go
  sig-security-tooling/srctl/state/step.go
Due: pull-sig-security-srctl-tests

vex-feed: add kubernetes vex feed
  sig-security-tooling/vex-feed/README.md
  sig-security-tooling/vex-feed/files/issue-135083.openvex.json
  sig-security-tooling/vex-feed/files/issue-137195.openvex.json
  sig-security-tooling/vex-feed/files/issue-137228.openvex.json
  sig-security-tooling/vex-feed/files/issue-137853.openvex.json
  sig-security-tooling/vex-feed/files/issue-138040.openvex.json
  sig-security-tooling/vex-feed/files/issue-138329.openvex.json
  sig-security-tooling/vex-feed/files/issue-139221.openvex.json
  sig-security-tooling/vex-feed/files/issue-139510.openvex.json
  sig-security-tooling/vex-feed/files/issue-140091.openvex.json
  sig-security-tooling/vex-feed/files/issue-140092.openvex.json
  sig-security-tooling/vex-feed/kubernetes-vex-feed-draft.openvex.json
Due: none

vex-feed: add script to scaffold per-issue docs
  sig-security-tooling/vex-feed/hack/README.md
  sig-security-tooling/vex-feed/hack/new-issue.py
Due: none

vex-feed: add generator that builds the feed
  sig-security-tooling/vex-feed/README.md
  sig-security-tooling/vex-feed/hack/README.md
  sig-security-tooling/vex-feed/hack/build-feed.py
  sig-security-tooling/vex-feed/hack/merge-overrides.json
Due: none

vex-feed: walk through a maintainer feed update
  sig-security-tooling/vex-feed/README.md
  sig-security-tooling/vex-feed/files/issue-140092.openvex.json
  sig-security-tooling/vex-feed/kubernetes-vex-feed-draft.openvex.json
Due: none

cve-feed: install request via apt package python3-requests
  sig-security-tooling/cve-feed/hack/fetch-cve-feed.sh
Due: pull-sig-security-cve-feed-unit-tests
