Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Bump version of prometheus operator to 0.81.0
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0alertmanagerConfigCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0alertmanagerCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0podmonitorCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0probeCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0prometheusCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0prometheusruleCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0servicemonitorCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0thanosrulerCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-clusterRole.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-clusterRoleBinding.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-service.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-serviceAccount.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Reduce dependencies on kubernetes repo
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/measurement/common/metrics/kubelet_metrics.go
  clusterloader2/pkg/measurement/common/metrics/metrics_grabber.go
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove dependency on kubernetes
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump clusterloader deps to 1.32.3
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adjust tests
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

WireGuard Metrics Prometheus Collector (#26)
  .github/workflows/docker-build-push-wireguard.yml
  network/tools/wireguard-scale/collector/Dockerfile
  network/tools/wireguard-scale/collector/Makefile
  network/tools/wireguard-scale/collector/README.md
  network/tools/wireguard-scale/collector/go.mod
  network/tools/wireguard-scale/collector/go.sum
  network/tools/wireguard-scale/collector/main.go
Due: none

fix: refactor iperf test cases 13 through 16 to use default runners
  network/benchmarks/netperf/nptest/tests.go
Due: none

refactor: remove unused context import in netperf launch.go
  network/benchmarks/netperf/launch.go
Due: none

fix: set bandwidth to unlimited in default Iperf UDP runner
  network/benchmarks/netperf/nptest/tests.go
Due: none

Update cluster.go
  clusterloader2/pkg/util/cluster.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add Name method for test.StepResult
  clusterloader2/pkg/test/step_summary.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Make SubstepResult public, expose data getters
  clusterloader2/pkg/test/simple_reporter.go
  clusterloader2/pkg/test/step_summary.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Make Prometheus secret creation idempotent. Currently it causes test fail when run multiple times against same cluster.. https://github.com/kubernetes/perf-tests/issues/3301
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add min & Max pod desired count
  clusterloader2/pkg/measurement/common/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Enable countErrorMargin parameter for waitForRunningPodsMeasurement. (#34)
  clusterloader2/Dockerfile
  clusterloader2/pkg/measurement/common/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove previous go instalation in build-go.sh Bump go compiler to 1.24.2
  golang/Makefile
  golang/build-go.sh
Due: none

fix linux node exporter
  clusterloader2/go.mod
  clusterloader2/pkg/prometheus/manifests/exporters/node_exporter/linux-exporter-podmonitor.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/node_exporter/node-exporter-daemonset.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/node_exporter/node-exporter.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adjust slo_monitor for recent client-go changes
  slo-monitor/src/monitors/store.go
  slo-monitor/src/monitors/watcher.go
Due: none

make memory limit settable when PROMETHES_SCRAPE_KUBELETS = True (#35)
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adding threshold by percentile for podStartupLatency
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/slo_measurement_test.go
  clusterloader2/pkg/measurement/util/latency_metric.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

remove bearerTokenFile from apiserver endpoint in master service monitor (#36)
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add ability to install dra-example-driver
  clusterloader2/cmd/clusterloader.go
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/dra/dra.go
  clusterloader2/pkg/dra/install.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add a job with dra devices
  clusterloader2/testing/dra/README.md
  clusterloader2/testing/dra/config.yaml
  clusterloader2/testing/dra/job.yaml
  clusterloader2/testing/dra/resourceclaimtemplate.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

feat: configure cilium hubble prometheus scraping
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorCiliumAgent.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

feat: metric keep lists and allow hubble scrape without agent scrape
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorCiliumAgent.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

hack to workaround apiserver proxy call to kubescheduler metrics
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/testing/dra/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add support to KSM in AKS provider (#37)
  clusterloader2/pkg/provider/aks.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

testing clusterloader2
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

update dra test to have 90% utilization and churn the remaining 10%
  clusterloader2/testing/dra/README.md
  clusterloader2/testing/dra/config.yaml
  clusterloader2/testing/dra/long-running-job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

rework the numbers to create 10% churn 10 times
  clusterloader2/testing/dra/config.yaml
  clusterloader2/testing/dra/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

separate observations for fastfill vs churn phase
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/testing/dra/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove wrong arguments from netperf RS
  network/benchmarks/netperf/launch.go
Due: none

clean up: remove comments, add proper logs
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/dra/dra.go
  clusterloader2/pkg/dra/install.go
  clusterloader2/testing/dra/config.yaml
  clusterloader2/testing/dra/job.yaml
  clusterloader2/testing/dra/long-running-job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update suggested go version to 1.24.3 and kind cluster version to 1.27.3
  clusterloader2/docs/GETTING_STARTED.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add node scaling measurement, nodescaling test
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/common/scale_nodes.go
  clusterloader2/pkg/provider/node_scaling.go
  clusterloader2/pkg/provider/scalers/aws/node_scaler.go
  clusterloader2/pkg/provider/scalers/types.go
  clusterloader2/testing/node-scaling/config.yaml
  clusterloader2/testing/node-scaling/modules/node-scaling.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix for the coredns configmap update: the corefile was not updated, even though a different cache size is set up in the test parameters.
  dns/py/params.py
  dns/py/runner.py
Due: pull-perf-tests-benchmark-kube-dns

Add cloud build
  util-images/Makefile
  util-images/access-tokens/Makefile
  util-images/cloudbuild.yaml
  util-images/containerd/Makefile
  util-images/probes/Makefile
  util-images/request-benchmark/Makefile
  util-images/scratch/Makefile
  util-images/sleep/Makefile
  util-images/watch-list/Makefile
Due: pull-perf-tests-util-images

Avoid building kube-cross
  golang/build-kubernetes.sh
Due: none

Create a temp commit for the .go-version edit
  golang/build-kubernetes.sh
Due: none
