Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Implemented LIST benchmark for different content types (Json, Proto, CBOR, YAML)
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/deployment.yaml
  util-images/request-benchmark/main.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Add missing kind file with configuration to run tests locally
  clusterloader2/testing/list/kind.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Implemented LIST benchmark for different content type
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

feat: configure cilium hubble prometheus scraping
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorCiliumAgent.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

feat: metric keep lists and allow hubble scrape without agent scrape
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorCiliumAgent.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Implemented LIST benchmark for different content types
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

Remove usage of system:anonymous from ClusterRoleBinding used to scrap apiserver metrics
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Change kind from User to ServiceAccount
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix gofmt and protobuf
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

properly formatted
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

Testing new Rules - comitting to trigger tests
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Further tests
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update prometheus.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add body logging for testing purposes
  clusterloader2/pkg/measurement/common/metrics/metrics_grabber.go
  clusterloader2/pkg/measurement/common/scheduler_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add body logging for testing purposes
  clusterloader2/pkg/measurement/common/metrics/metrics_grabber.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add another token for testing purposes
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorKubeProxy.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add eks pod identity test suite
  clusterloader2/testing/eks-pod-identity/config.yaml
  clusterloader2/testing/eks-pod-identity/pod-default.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Increase request-benchmark version to 0.0.8
  util-images/request-benchmark/Makefile
Due: pull-perf-tests-util-images

Implement passing content-type in list benchmark
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/deployment.yaml
  clusterloader2/testing/list/modules/list-benchmark.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix passing accept header
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

Increase request-benchmark version to 0.0.9
  util-images/request-benchmark/Makefile
Due: pull-perf-tests-util-images

Cleaning up the code
  clusterloader2/pkg/measurement/common/metrics/metrics_grabber.go
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorKubeProxy.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

perfdash: add generic measurements to network performance dashboard
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
Due: none

Add scrape config for containerd (#24)
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/manifests/prometheus-clusterRole.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-containerd-scrape-configs.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump slo-monitor to 0.15.9
  slo-monitor/Makefile
Due: none

Remove usage of system:anonymous from ClusterRoleBinding used to scrap apiserver metrics
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorCoreDNS.yaml
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorKubelet.yaml
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorLegacyKubeDNS.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump version of go compiler that bootstraps golang tip test to 1.24.0
  golang/Makefile
Due: none

Revert "Remove usage of system:anonymous from ClusterRoleBinding used to scra…"
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorCoreDNS.yaml
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorKubelet.yaml
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorLegacyKubeDNS.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

feat: add ENABLE_API_SERVER_VALIDATION_METRICS and associated validation metric check
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add option to filter for agentpool label in containerd scrape config (#25)
  clusterloader2/pkg/prometheus/manifests/prometheus-containerd-scrape-configs.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

watchlist: increase the number of informers to 16 to compare with streaming encoders
  clusterloader2/testing/watch-list/config.yaml
  clusterloader2/testing/watch-list/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix: move to sigs.k8s.io/yaml
  perfdash/config.go
  perfdash/go.mod
  perfdash/go.sum
Due: none

Update golang scripts
  golang/build-kubernetes.sh
  golang/push.sh
Due: none

Bump prometheus version to 2.40.0 in prometheus operator
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump golang version to 1.24.1
  benchmark/go.mod
  clusterloader2/go.mod
  dns/dnsperfgo/go.mod
  dns/jsonify/go.mod
  network/benchmarks/netperf/go.mod
  network/tools/network-policy-enforcement-latency/go.mod
  perfdash/go.mod
  slo-monitor/go.mod
  util-images/access-tokens/go.mod
  util-images/network/netperfbenchmark/go.mod
  util-images/probes/go.mod
  util-images/request-benchmark/go.mod
  util-images/watch-list/go.mod
Due: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images
