Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-benchmark-kube-dns:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
  ...

pull-perf-tests-clusterloader2:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
  ...

pull-perf-tests-clusterloader2-kubemark:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20210402-64f9afb
      command:
      - runner.sh
      - /workspace/scenarios/execute.py
      args:
  ...

pull-perf-tests-verify-dashboard:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard
      resources:
        requests:
          cpu: 1
          memory: 2Gi
        limits:
          cpu: 1
          memory: 2Gi

Extend P&F dashboard with additional metrics
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

Scrape cilium-operator Prometheus metrics
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorCiliumOperator.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/testing/prometheus/scrape-cilium-operator.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use the new dnsperfgo client in dns load tests.
  clusterloader2/testing/load/configmap.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Install bind-tools in dnsperfgo image.
  dns/dnsperfgo/Dockerfile
Due: pull-perf-tests-benchmark-kube-dns

Added sample yamls for deploying dnsperfgo.
  dns/dnsperfgo/README.md
  dns/dnsperfgo/deployment.yaml
  dns/dnsperfgo/main.go
  dns/dnsperfgo/queries-cm.yaml
Due: pull-perf-tests-benchmark-kube-dns

Update Makefile for dnsperfgo
  dns/dnsperfgo/Makefile
Due: pull-perf-tests-benchmark-kube-dns

Use multiple queries in generic query measurement
  clusterloader2/examples/generic_query_example.yaml
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
  clusterloader2/pkg/util/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow additional slow calls in huge-service test
  clusterloader2/testing/huge-service/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add PROMETHEUS_SCRAPE_MASTER_KUBELETS
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update sleep image to 0.0.2
  util-images/sleep/Makefile
Due: pull-perf-tests-util-images

Added parsing of generic Pantheon queries results to perfdash
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
  perfdash/config.go
  perfdash/metrics-downloader.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add a CL2 parameter for modifying the Prometheus memory limit
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Improve logging in generic query measurement
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update sleep image tag
  util-images/sleep/Makefile
Due: pull-perf-tests-util-images

Add dns test for k8s hostnames to load test
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/dns-client.yaml
  clusterloader2/testing/load/modules/dns-k8s-hostnames.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Cleanup validation and unify execute Measurement/Phase
  clusterloader2/api/validation.go
  clusterloader2/api/validation_test.go
  clusterloader2/pkg/measurement/measurement_executor.go
  clusterloader2/pkg/test/simple_test_executor.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

custom scheduler code changes and sample configs
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/testing/density/scheduler/custom-scheduler-metrics/config-custom-schd-sample.yaml
  clusterloader2/testing/density/scheduler/custom-scheduler-metrics/deployment-custom-schd-sample.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Dnsperfgo image should be build in isolated environment
  dns/dnsperfgo/Dockerfile
  dns/dnsperfgo/Makefile
Due: pull-perf-tests-benchmark-kube-dns

Update OWNERS
  OWNERS
Due: none

Add dimensions config to generic query measurement
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

clusterloader2: less verbose logging in WaitForPods
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add prow config with one job for faster testing of perfdash
  perfdash/Makefile
  perfdash/test/jobs.yaml
Due: none

clusterloader2 pod startup: wait for pod deletion
  clusterloader2/testing/experimental/storage/pod-startup/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

clusterloader2: more efficient pod startup test
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

clusterloader2 WaitForControlledPodsRunning: stop during gather
  clusterloader2/README.md
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/testing/experimental/storage/pod-startup/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Create multiple jobs based on number of nodes
  clusterloader2/pkg/measurement/common/wait_for_jobs.go
  clusterloader2/testing/batch/config.yaml
  clusterloader2/testing/batch/job.yaml
  clusterloader2/testing/batch/overrides.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Make apiserver port for profiling configurable
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/profile.go
  clusterloader2/pkg/provider/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add measurements and phases to junit reporting
  clusterloader2/pkg/test/interface.go
  clusterloader2/pkg/test/simple_reporter.go
  clusterloader2/pkg/test/simple_test_executor.go
  clusterloader2/pkg/test/step_summary.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Added apiserver_terminated_watchers_total metric to grafana
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

Add cache for list of files in bucket
  perfdash/Dockerfile
  perfdash/Makefile
  perfdash/gcs_metrics_bucket.go
  perfdash/go.mod
  perfdash/go.sum
  perfdash/metrics-downloader.go
  perfdash/s3_metrics_bucket.go
  perfdash/www/index.html
Due: none

Implement prometheus-based container CPU/Memory measurement
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Clean up load test from huge-serivce variables
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Dividing pods in namespaces
  clusterloader2/testing/batch/config.yaml
  clusterloader2/testing/batch/overrides.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adding Poisson tunningset load generator
  clusterloader2/api/types.go
  clusterloader2/api/validation.go
  clusterloader2/api/validation_test.go
  clusterloader2/pkg/tuningset/poisson_load.go
  clusterloader2/pkg/tuningset/simple_tuning_set_factory.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add flag to skip cluster verification
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

k8s-infra: Switch to registry.k8s.io
  clusterloader2/testing/density/deployment.yaml
  clusterloader2/testing/density/scheduler/custom-scheduler-metrics/deployment-custom-schd-sample.yaml
  clusterloader2/testing/density/scheduler/pod-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-anti-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-topology-spread/deployment.yaml
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/node-throughput/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Make job pods run for some time
  clusterloader2/testing/batch/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add chaos monkey measurement
  clusterloader2/examples/chaos_monkey_example.yaml
  clusterloader2/pkg/measurement/common/chaos_monkey_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add snapshot clean-up script for boskos resources
  clusterloader2/clean-up-old-snapshots-boskos.sh
  clusterloader2/clean-up-old-snapshots.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Simplify resource requirements for load test
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
  clusterloader2/testing/load/simple-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
