Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Adding a Poisson tunning set
  clusterloader2/api/types.go
  clusterloader2/api/validation.go
  clusterloader2/api/validation_test.go
  clusterloader2/pkg/tuningset/poisson_load.go
  clusterloader2/pkg/tuningset/simple_tuning_set_factory.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add direct scheduler throughput test suite
  clusterloader2/testing/scheduler-throughput/config.yaml
  clusterloader2/testing/scheduler-throughput/pod-default.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

use informers for pod events instead of Listing
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

change logic to read prometheus details
  clusterloader2/pkg/provider/gardener.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

allows for image repos to be set via Environment Variables
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
  clusterloader2/testing/load/simple-deployment.yaml
  clusterloader2/testing/load/statefulset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

allows for the exec_service pod image to be pulled from a custom image repo
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/execservice/exec_service.go
  clusterloader2/pkg/execservice/manifest/exec_deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

use targetPort for monitoring network policies metrics
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorKubeNetworkPolicies.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

benchmark: update go version
  benchmark/go.mod
Due: none

probes: update go version
  util-images/probes/go.mod
Due: pull-perf-tests-util-images

clusterloader2: update go version
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

access-tokens: update go version
  util-images/access-tokens/go.mod
  util-images/access-tokens/go.sum
Due: pull-perf-tests-util-images

jsonify: update go version
  dns/jsonify/go.mod
  dns/jsonify/go.sum
Due: pull-perf-tests-benchmark-kube-dns

Fix linter
  clusterloader2/pkg/measurement/common/slos/network_programming.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

dnsperfgo: update go version
  dns/dnsperfgo/go.mod
  dns/dnsperfgo/go.sum
Due: pull-perf-tests-benchmark-kube-dns

netperf: update go version
  network/benchmarks/netperf/go.mod
Due: none

netperfbenchmark: update go version
  util-images/network/netperfbenchmark/go.mod
  util-images/network/netperfbenchmark/go.sum
Due: pull-perf-tests-util-images

Update golang linters
  .golangci.yml
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  dns/dnsperfgo/main.go
  util-images/probes/pkg/kubeclient/client.go
Due: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

network-policy-enforcement: update go version
  network/tools/network-policy-enforcement-latency/go.mod
  network/tools/network-policy-enforcement-latency/go.sum
Due: none

request-benchmark: update go version
  util-images/request-benchmark/go.mod
  util-images/request-benchmark/go.sum
Due: pull-perf-tests-util-images

watch-list: update go version
  util-images/watch-list/go.mod
  util-images/watch-list/go.sum
Due: pull-perf-tests-util-images

Upgrade go version to 1.22.4
  benchmark/go.mod
  clusterloader2/go.mod
  dns/dnsperfgo/go.mod
  dns/jsonify/go.mod
  network/benchmarks/netperf/go.mod
  network/tools/network-policy-enforcement-latency/go.mod
  perfdash/go.mod
  slo-monitor/go.mod
  slo-monitor/go.sum
  util-images/access-tokens/go.mod
  util-images/network/netperfbenchmark/go.mod
  util-images/probes/go.mod
  util-images/request-benchmark/go.mod
  util-images/watch-list/go.mod
Due: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Fix lint error
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Bump k8s.io/client-go from 0.18.0 to 0.30.2 in /util-images/network/netperfbenchmark
  util-images/network/netperfbenchmark/go.mod
  util-images/network/netperfbenchmark/go.sum
Due: pull-perf-tests-util-images

Fix linter issue
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Bump k8s.io/client-go for access-tokens
  util-images/access-tokens/go.mod
  util-images/access-tokens/go.sum
Due: pull-perf-tests-util-images

Switch access tokens to klog/v2
  util-images/access-tokens/cmd/main.go
  util-images/access-tokens/go.mod
  util-images/access-tokens/go.sum
Due: pull-perf-tests-util-images

prometheus: add optional path with additional manifests
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

prometheus: remove deprecated ManifestPath option
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow disabling initial health checks
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

Enable DNS propagation measurement for huge-service test
  clusterloader2/testing/huge-service/config.yaml
  clusterloader2/testing/huge-service/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix typos in provider.go for ClusterLoader
  clusterloader2/pkg/provider/provider.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

upgrade go version and bump tag for slo-monitor
  slo-monitor/Makefile
  slo-monitor/go.mod
Due: none

Grammar fixes for the CL2 README.md
  clusterloader2/README.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix Kind pluralization.
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/framework/client/objects.go
  clusterloader2/pkg/framework/client/objects_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix Kind pluralization in Update, Delete.
  clusterloader2/pkg/framework/client/objects.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update go.mod
  slo-monitor/go.mod
Due: none

upgrade go version and bump tag for slo-monitor (#2767)
  slo-monitor/Makefile
Due: none

cl2: Add Has method to errorList struct
  clusterloader2/pkg/errors/error_list.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
