Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-benchmark-kube-dns:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
  ...

pull-perf-tests-clusterloader2:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
  ...

pull-perf-tests-clusterloader2-kubemark:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20210402-64f9afb
      command:
      - runner.sh
      - /workspace/scenarios/execute.py
      args:
  ...

pull-perf-tests-verify-dashboard:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard
      resources:
        requests:
          cpu: 1
          memory: 2Gi
        limits:
          cpu: 1
          memory: 2Gi

Fix sleeping after deleting huge service
  clusterloader2/testing/load/modules/huge-services.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fixed cyclic import
  clusterloader2/api/validation/validation.go
  clusterloader2/api/validation/validation_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Delete validation_test.go
  clusterloader2/api/validation_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Delete validation.go
  clusterloader2/api/validation.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

tuning set referenced in a phase must be declared
  clusterloader2/api/validation.go
  clusterloader2/api/validation_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Make API call latency panels title more meaningful
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

replacing master with main for k/k8s.io links
  perfdash/README.md
Due: none

Adding additional metric for UDP Protocol
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/network/performance-measurement-helper.go
  clusterloader2/pkg/measurement/common/network/types.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Tuning UDP parameters
  clusterloader2/pkg/measurement/common/network/manifests/worker-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Make parameters tunable
  util-images/network/netperfbenchmark/Makefile
  util-images/network/netperfbenchmark/cmd/main.go
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Add channel for events coming to PodStartupLatency.
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add getting started tutorial
  clusterloader2/README.md
  clusterloader2/docs/GETTING_STARTED.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove exec and proxy subresources from graphs
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

get kubelet systemContainer resource metrics
  clusterloader2/pkg/measurement/util/kubelet/kubelet.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Extended test with option to run Exec command
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update to run both tests when override is provided
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use ToPerfData when gathering nodelocaldns results
  clusterloader2/pkg/measurement/common/nodelocaldns_latency_prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Delete all steps apart from services (creation and deletion)
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove CL2_ENABLE_HUGE_SERVICES_MULTIPLE_REPLICAS
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/huge-services.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Refactor logging in WaitForPods
  clusterloader2/pkg/measurement/util/pods.go
  clusterloader2/pkg/measurement/util/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Automate testing scalability of Metrics Server
  clusterloader2/pkg/prometheus/README.md
  clusterloader2/pkg/prometheus/manifests/exporters/metrics-server/resourceConsumer.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/metrics-server/resourceConsumerHpa.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Verify nodepool upgrade for all three sizes
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Move first measure gather to before node upgrade
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Group nodepool upgrade measurements
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add Timer for nodepool upgrade service recovery
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add name to a test steps
  clusterloader2/testing/node-throughput/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

[perfdash]: Migrate Docker image to distrolesss
  perfdash/Dockerfile
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

Add SIGINT handler to handle Prometheus snapshot
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/prometheus/experimental.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add fast deletion of events before delete namespace
  clusterloader2/pkg/framework/framework.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Parameterize parallelism of fast delete of events
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/framework/framework.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Side-step the default rate limiter
  clusterloader2/pkg/framework/framework.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update go code
  network/benchmarks/netperf/go.mod
  network/benchmarks/netperf/go.sum
  network/benchmarks/netperf/launch.go
Due: none

Readd the replication controller cleanup
  network/benchmarks/netperf/launch.go
Due: none

Update API responsiveness SLO to exclude long-running calls
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add hostnetworking
  network/benchmarks/netperf/launch.go
Due: none

Add missing hostnetwork config for workers
  network/benchmarks/netperf/launch.go
Due: none

Add modules for L4 ILB creation latency tests
  clusterloader2/testing/l4ilb/config.yaml
  clusterloader2/testing/l4ilb/modules/measurements.yaml
  clusterloader2/testing/l4ilb/modules/services.yaml
  clusterloader2/testing/l4ilb/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

pod startup: pre-define generic ephemeral volume type
  clusterloader2/testing/experimental/storage/pod-startup/config.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/genericephemeralinline/deployment_with_inline.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/genericephemeralinline/override.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
