Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

ref
  clusterloader2/pkg/measurement/common/scheduler_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

metrics-server support kind and local provider
  clusterloader2/pkg/provider/kind.go
  clusterloader2/pkg/provider/local.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Support custom azuredisk driver install url
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fixed Docker build for networking performance
  network/benchmarks/netperf/Dockerfile
Due: none

Add konnectivity-agent to ignored restarts for node killer test
  clusterloader2/testing/chaosmonkey/ignore_node_killer_container_restarts_100.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Added builder to compile nptests - the correct way.
  network/benchmarks/netperf/Dockerfile
  network/benchmarks/netperf/go.mod
  network/benchmarks/netperf/go.sum
Due: none

Scrape dnsperfgo pods that generate DNS metrics
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorDNSPerf.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Set CL2_API_AVAILABILITY_PERCENTAGE_THRESHOLD to 99.5 by default
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add Windows network measurements
  clusterloader2/pkg/measurement/common/slos/windows_node_resource_usage.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use Windows Exporter metrics names
  clusterloader2/pkg/measurement/common/slos/windows_node_resource_usage.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add Windows node storage measurements
  clusterloader2/pkg/measurement/common/slos/windows_node_resource_usage.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add open files descriptors measurements
  clusterloader2/pkg/measurement/common/slos/windows_node_resource_usage.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add Windows Container count metric
  clusterloader2/pkg/measurement/common/slos/windows_node_resource_usage.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add 'do not evict' annotation to Prometheus
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add control-plane toleration for Prometheus for Windows tests
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Revert "Add 'do not evict' annotation to Prometheus"
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix syntax errors
  dns/py/runner.py
Due: pull-perf-tests-benchmark-kube-dns

Added developing measurement tutorial
  clusterloader2/docs/DEVELOPING_MEASUREMENT.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

clusterloader2: Fix error of probes about metrics-server
  clusterloader2/pkg/measurement/common/probes/manifests/metricsServer/metrics-server-probe-rbac.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/metricsServer/metrics-server-prober-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/metricsServer/metrics-server-prober-rbac.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/metricsServer/metrics-server-prober-service.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/metricsServer/metrics-server-prober-serviceMonitor.yaml
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/pkg/prometheus/manifests/exporters/metrics-server/serviceMonitor.yaml
  util-images/probes/Makefile
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Make exec_deployment.yaml path configurable
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/execservice/exec_service.go
  clusterloader2/pkg/measurement/common/api_availability_measurement.go
  clusterloader2/pkg/measurement/common/service_creation_latency.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update CL2 APIResponsivenessPrometheus threasholds
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/pkg/measurement/common/slos/testdata/get_slo_failure.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/mutating_slo_failure.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/namespace_list_slo_failure.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix delete namespace error
  clusterloader2/pkg/framework/framework.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add custom nodeSelector for Prometheus
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fixed make file docker build and removed launch target as per comments.
  network/benchmarks/netperf/Dockerfile
  network/benchmarks/netperf/Makefile
Due: none

Allow scaling Prometheus resource requests & limits
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix issue-2081 delete namespace sometimes error
  clusterloader2/pkg/framework/framework.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Expose Windows metrics in perfdash
  perfdash/config.go
Due: none

Clean up Prometheus-based measurements unit testing framework
  clusterloader2/pkg/measurement/common/cilium_endpoint_propagation_delay_test.go
  clusterloader2/pkg/measurement/common/container_restarts_test.go
  clusterloader2/pkg/measurement/common/executors/promql_executor.go
  clusterloader2/pkg/measurement/common/executors/utils.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/above_slow_count_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/below_slow_count_pass.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/cluster_list_slo_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/get_slo_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/mutating_slo_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/namespace_list_slo_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/rules.yml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/slo_pass.yaml
  clusterloader2/pkg/measurement/common/testdata/cilium_endpoint_propagation_delay/default_slo_fail.yaml
  clusterloader2/pkg/measurement/common/testdata/cilium_endpoint_propagation_delay/default_slo_pass.yaml
  clusterloader2/pkg/measurement/common/testdata/container_restarts/double_restart_of_apiserver.yaml
  clusterloader2/pkg/measurement/common/testdata/container_restarts/no_restarts.yaml
  clusterloader2/pkg/measurement/common/testdata/container_restarts/two_apiserver_replicas_restarts.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add information about measurement unit testing to docs
  clusterloader2/docs/DEVELOPING_MEASUREMENT.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump perfdash TAG to 2.41
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

Increase prometheus timeout
  clusterloader2/pkg/measurement/util/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add Prometheus control-plane tolerations for Windows tests
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add measurement for dnsperfgo K8s hostnames test
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/measurement/common/dns/dns_performance-k8s-hostnames.go
  clusterloader2/pkg/measurement/common/dns/manifests/clusterrole.yaml
  clusterloader2/pkg/measurement/common/dns/manifests/clusterrolebinding.yaml
  clusterloader2/pkg/measurement/common/dns/manifests/dns-client.yaml
  clusterloader2/pkg/measurement/common/dns/manifests/serviceaccount.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Implement profiling in clusterloader
  clusterloader2/cmd/clusterloader.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

GIT-2006: address inaccuracy in pod startup phase latency detection
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
