Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

- PostgreSQL benchmark on k8s cluster was implemented!
  application-benchmarks/k8s-postgresql-benchmark/README.md
  application-benchmarks/k8s-postgresql-benchmark/postgresql.yaml
  application-benchmarks/k8s-postgresql-benchmark/variables.yaml
Due: none

Fix netperf docker image build failure
  network/benchmarks/netperf/Dockerfile
Due: none

WaitForPods: print timeout debugging data only if we are really seeing timeout.
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Network policy latency test clients v.0.0.1
  network/tools/network-policy-enforcement-latency/Makefile
  network/tools/network-policy-enforcement-latency/README.md
  network/tools/network-policy-enforcement-latency/go.mod
  network/tools/network-policy-enforcement-latency/go.sum
  network/tools/network-policy-enforcement-latency/pkg/metrics/metrics.go
  network/tools/network-policy-enforcement-latency/pkg/utils/utils.go
  network/tools/network-policy-enforcement-latency/pod-creation-reachability-latency/Dockerfile
  network/tools/network-policy-enforcement-latency/pod-creation-reachability-latency/example-manifests/permissions.yaml
  network/tools/network-policy-enforcement-latency/pod-creation-reachability-latency/example-manifests/policy-allow-egress-to-target-pods.yaml
  network/tools/network-policy-enforcement-latency/pod-creation-reachability-latency/example-manifests/target-deployment.yaml
  network/tools/network-policy-enforcement-latency/pod-creation-reachability-latency/example-manifests/test-client-deployment.yaml
  network/tools/network-policy-enforcement-latency/pod-creation-reachability-latency/main.go
  network/tools/network-policy-enforcement-latency/pod-creation-reachability-latency/test-client/client.go
  network/tools/network-policy-enforcement-latency/policy-creation-enforcement-latency/Dockerfile
  network/tools/network-policy-enforcement-latency/policy-creation-enforcement-latency/example-manifests/permissions.yaml
  network/tools/network-policy-enforcement-latency/policy-creation-enforcement-latency/example-manifests/policy-allow-egress-to-target-pods.yaml
  network/tools/network-policy-enforcement-latency/policy-creation-enforcement-latency/example-manifests/policy-deny-egress-to-target-pods.yaml
  network/tools/network-policy-enforcement-latency/policy-creation-enforcement-latency/example-manifests/target-deployment.yaml
  network/tools/network-policy-enforcement-latency/policy-creation-enforcement-latency/example-manifests/test-client-deployment.yaml
  network/tools/network-policy-enforcement-latency/policy-creation-enforcement-latency/main.go
  network/tools/network-policy-enforcement-latency/policy-creation-enforcement-latency/test-client/client.go
Due: none

Add RandData template function
  clusterloader2/pkg/config/template_functions.go
  clusterloader2/pkg/config/template_functions_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update OWNERS
  OWNERS
Due: none

Switch to registry.k8s.io
  clusterloader2/docs/GETTING_STARTED.md
  clusterloader2/drivers/gcp-csi-driver-stable.yaml
  clusterloader2/pkg/execservice/manifest/exec_deployment.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/kube-state-metrics/deployment.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/metrics-server/resourceConsumer.yaml
  clusterloader2/testing/density/deployment.yaml
  clusterloader2/testing/density/scheduler/custom-scheduler-metrics/deployment-custom-schd-sample.yaml
  clusterloader2/testing/density/scheduler/pod-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-anti-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-topology-spread/deployment.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/configmap/deployment_with_configmap.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/downwardapi/deployment_with_downwardapi.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/emptydir/deployment_with_emptydir.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/genericephemeralinline/deployment_with_inline.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/persistentvolume/deployment_with_pvc.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/secret/deployment_with_secret.yaml
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
  clusterloader2/testing/load/simple-deployment.yaml
  clusterloader2/testing/load/statefulset.yaml
  clusterloader2/testing/node-throughput/config.yaml
  clusterloader2/testing/windows-tests/config.yaml
  dns/README.md
  dns/cluster/dnsperf-deploy.yaml
  dns/cluster/dnsperf.yaml
  dns/cluster/kube-dns-deployment.yaml
  slo-monitor/slo-monitor-deployment.yaml
  slo-monitor/slo-monitor-pod.yaml
Due: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix metrics server to run until the app is shut down and register multiple metrics correctly
  network/tools/network-policy-enforcement-latency/pkg/metrics/metrics.go
  network/tools/network-policy-enforcement-latency/pkg/utils/utils.go
  network/tools/network-policy-enforcement-latency/pod-creation-reachability-latency/test-client/client.go
  network/tools/network-policy-enforcement-latency/policy-creation-enforcement-latency/test-client/client.go
Due: none

Added parsing of huge-service messurements to pref dash
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
Due: none

Allow specifying verb in request-benchmark
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

Update to go 1.19
  slo-monitor/Makefile
  slo-monitor/go.mod
  slo-monitor/go.sum
Due: none

Add a way to customize namespace deletion timeout
  clusterloader2/api/default.go
  clusterloader2/api/types.go
  clusterloader2/pkg/execservice/exec_service.go
  clusterloader2/pkg/framework/client/objects.go
  clusterloader2/pkg/framework/framework.go
  clusterloader2/pkg/imagepreload/imagepreload.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/test/simple_test_executor.go
  clusterloader2/testing/huge-service/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix(clusterloader2): fix daemonset node counter
  clusterloader2/pkg/measurement/util/runtimeobjects/replicaswatcher.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use registry.k8s.io for pulling slo-monitor
  slo-monitor/Makefile
Due: none

Update comment in slo-monitor Makefile
  slo-monitor/Makefile
Due: none

fix(clusterloader2): add testcase, optimize NodeCounter.shouldRun
  clusterloader2/pkg/measurement/util/runtimeobjects/replicaswatcher.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Updating init container in windows-exporter-daemonset
  clusterloader2/pkg/prometheus/manifests/exporters/windows_node_exporter/windows-exporter-daemonset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update pause container image version
  clusterloader2/docs/GETTING_STARTED.md
  clusterloader2/testing/density/deployment.yaml
  clusterloader2/testing/density/scheduler/custom-scheduler-metrics/deployment-custom-schd-sample.yaml
  clusterloader2/testing/density/scheduler/pod-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-anti-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-topology-spread/deployment.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/configmap/deployment_with_configmap.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/downwardapi/deployment_with_downwardapi.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/emptydir/deployment_with_emptydir.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/genericephemeralinline/deployment_with_inline.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/persistentvolume/deployment_with_pvc.yaml
  clusterloader2/testing/experimental/storage/pod-startup/volume-types/secret/deployment_with_secret.yaml
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
  clusterloader2/testing/load/simple-deployment.yaml
  clusterloader2/testing/load/statefulset.yaml
  clusterloader2/testing/node-throughput/config.yaml
  clusterloader2/testing/windows-tests/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

chore: update gitignore
  network/benchmarks/netperf/.gitignore
Due: none

doc: update readme
  network/benchmarks/netperf/README.md
Due: none

fix: default image
  network/benchmarks/netperf/launch.go
Due: none

Update to Go 1.20.3
  dns/dnsperfgo/Dockerfile
Due: pull-perf-tests-benchmark-kube-dns

use new debian image in build_kube_cross for golang job
  golang/build-kubernetes.sh
Due: none

Adds utility image used in testing the API streaming feature
  util-images/watch-list/Dockerfile
  util-images/watch-list/Makefile
  util-images/watch-list/README.md
  util-images/watch-list/go.mod
  util-images/watch-list/go.sum
  util-images/watch-list/main.go
Due: pull-perf-tests-util-images

exclude util-images/watch-list from linting
  verify/test.sh
  verify/verify-lint.sh
Due: none

clusterloader2: use new apiserver latency SLI
  clusterloader2/examples/generic_query_example.yaml
  clusterloader2/pkg/measurement/common/metrics_server_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/above_slow_count_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/below_slow_count_pass.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/cluster_list_slo_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/get_slo_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/mutating_slo_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/namespace_list_slo_failure.yaml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/rules.yml
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/slo_pass.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-rules.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

clusterloader2: apiserver metrics version aware
  clusterloader2/pkg/framework/framework.go
  clusterloader2/pkg/measurement/common/metrics_server_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/interface.go
  clusterloader2/pkg/measurement/manager.go
  clusterloader2/pkg/measurement/util/metrics.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

clusterloader2: rules and dashboards version aware
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/testdata/api_responsiveness_prometheus/rules.yml
  clusterloader2/pkg/measurement/util/metrics.go
  clusterloader2/pkg/prometheus/manifests/prometheus-rules.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update to go 1.20
  slo-monitor/Makefile
  slo-monitor/go.mod
Due: none

Add a perf test for the API Streaming feature
  clusterloader2/testing/watch-list/config.yaml
  clusterloader2/testing/watch-list/job.yaml
  clusterloader2/testing/watch-list/role.yaml
  clusterloader2/testing/watch-list/roleBinding.yaml
  clusterloader2/testing/watch-list/secret.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

watch-list: allow for overwrite enableWatchListFeature flag
  clusterloader2/testing/watch-list/config.yaml
  clusterloader2/testing/watch-list/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Create a dedicated kubeconfig for cluster-loader.
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

watch-list: define resources request and limit (mem, cpu) for the test pod
  clusterloader2/testing/watch-list/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add option to disable pvc for prometheus
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Scrape k8s apiserver only for aws provider
  clusterloader2/pkg/provider/aws.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Improve CEP propagation delay measurement
  clusterloader2/pkg/measurement/common/cilium_endpoint_propagation_delay.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

perf-dash: add "benchmark" as name also for BenchmarkPerfScheduling
  perfdash/config.go
Due: none

Fix BenchmarkPerfResults name. Release perfdash 2.46
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
Due: none

watch-list: allow for specifying custom api latency thresholds
  clusterloader2/testing/overrides/watch_list_off.yaml
  clusterloader2/testing/watch-list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

perf-dash: fix "benchmark" as name also for BenchmarkPerfScheduling
  perfdash/config.go
Due: none
