Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Fix clusterloader2 failures after flag registration changes
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/flags/flags.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Revert "Bump clusterloader deps"
  clusterloader2/cmd/clusterloader.go
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/flags/flags.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/pkg/measurement/util/informer/informer.go
  clusterloader2/pkg/prometheus/clients/aks_managed.go
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add missing templated var for master-ip prometheus apiserver port
  clusterloader2/pkg/prometheus/manifests/master-ip/master-service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix matchLabels selector syntax in master-ip ServiceMonitor
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Don't overwrite ResourceUsageSummary output for different namespaces
  clusterloader2/pkg/measurement/common/resource_usage.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

clusterloader2: Avoid logging and awaiting waitgroup when chaosmonkey is disabled
  clusterloader2/pkg/chaos/monkey.go
  clusterloader2/pkg/measurement/common/chaos_monkey_measurement.go
  clusterloader2/pkg/test/simple_test_executor.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Cleanup klog in clusterloader
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/util/informer/informer.go
  clusterloader2/pkg/prometheus/clients/aks_managed.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Cleanup logging test in clusterloader
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump golang in perf-test
  benchmark/go.mod
  clusterloader2/go.mod
  dns/dnsperfgo/go.mod
  dns/jsonify/go.mod
  network/benchmarks/netperf/go.mod
  network/tools/network-policy-enforcement-latency/go.mod
  perfdash/go.mod
  slo-monitor/go.mod
  util-images/access-tokens/go.mod
  util-images/network/netperfbenchmark/go.mod
  util-images/probes/go.mod
  util-images/request-benchmark/go.mod
  util-images/watch-list/go.mod
Due: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Fix go1.23 issues
  benchmark/pkg/util/util.go
  clusterloader2/pkg/config/template_functions.go
  clusterloader2/pkg/imagepreload/imagepreload.go
  clusterloader2/pkg/measurement/common/loadbalancer_nodesync_latency.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/common/wait_for_generic_k8s_object.go
  network/benchmarks/netperf/nptest/nptest.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add netperf nptest module and JSON output parsers for TCP/UDP benchmarks
  network/benchmarks/netperf/nptest/go.mod
  network/benchmarks/netperf/nptest/nptest.go
  network/benchmarks/netperf/nptest/nptest_test.go
  network/benchmarks/netperf/nptest/parsers/bandwidth_parsers.go
  network/benchmarks/netperf/nptest/parsers/json_parsers.go
  network/benchmarks/netperf/nptest/parsers/parsers_test.go
  network/benchmarks/netperf/nptest/parsers/testdata/tcp.json
  network/benchmarks/netperf/nptest/parsers/testdata/tcp_output.json
  network/benchmarks/netperf/nptest/parsers/testdata/udp.json
  network/benchmarks/netperf/nptest/parsers/testdata/udp_output.json
  network/benchmarks/netperf/nptest/parsers/types.go
  network/benchmarks/netperf/nptest/tests.go
Due: none

Move cockerfile to nptest binary directory
  network/benchmarks/netperf/nptest/Dockerfile
Due: none

Refactor launchscript to test library and modularized output handling functions
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/lib/outputlib.go
  network/benchmarks/netperf/lib/testlib.go
  network/benchmarks/netperf/lib/utilslib.go
Due: none

Update Makefile for improved Docker handling and add local test target; modify .gitignore for JSON and config files
  network/benchmarks/netperf/.gitignore
  network/benchmarks/netperf/Makefile
  network/benchmarks/netperf/go.mod
Due: none

Bump clusterloader deps to 1.30
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix failures of bumped dependencies
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/flags/flags.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix missing flag registration
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/imagepreload/imagepreload.go
  clusterloader2/pkg/prometheus/experimental.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove test exclusions
  verify/test.sh
Due: none

Bump clusterloader deps to 1.31
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Set namespace to default for kubectl apply commands in CL2 run-e2e.sh
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add logs to give context and namespace
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add a metric to track job creation to pod creation time.
  clusterloader2/pkg/framework/client/objects.go
  clusterloader2/pkg/framework/client/objects_test.go
  clusterloader2/pkg/framework/framework.go
  clusterloader2/pkg/measurement/common/job_lifecycle_latency.go
  clusterloader2/pkg/measurement/common/job_lifecycle_latency_test.go
  clusterloader2/pkg/measurement/util/cron.go
  clusterloader2/pkg/measurement/util/cron_test.go
  clusterloader2/pkg/measurement/util/phase_latency.go
  clusterloader2/pkg/measurement/util/phase_latency_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Try setting context namespace to default
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix kubemark.go logical error
  clusterloader2/pkg/measurement/util/kubemark/kubemark.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

use SA token when talking to apiserver
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix: neg-latency quotes typo on waitAfterDelete
  clusterloader2/testing/neg/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Modified ClusterLoader2's temp KubeConfig setup to use modern CA and token retrieval
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Refactor variable names to fix linter failure
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/lib/outputlib.go
  network/benchmarks/netperf/lib/testlib.go
  network/benchmarks/netperf/lib/utilslib.go
  network/benchmarks/netperf/nptest/nptest.go
  network/benchmarks/netperf/nptest/parsers/bandwidth_parsers.go
  network/benchmarks/netperf/nptest/parsers/json_parsers.go
  network/benchmarks/netperf/nptest/parsers/parsers_test.go
  network/benchmarks/netperf/nptest/parsers/types.go
  network/benchmarks/netperf/nptest/tests.go
Due: none

Add boilerplate header to all files
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/lib/outputlib.go
  network/benchmarks/netperf/lib/testlib.go
  network/benchmarks/netperf/lib/utilslib.go
  network/benchmarks/netperf/nptest/nptest.go
  network/benchmarks/netperf/nptest/parsers/bandwidth_parsers.go
  network/benchmarks/netperf/nptest/parsers/json_parsers.go
  network/benchmarks/netperf/nptest/parsers/parsers_test.go
  network/benchmarks/netperf/nptest/parsers/types.go
  network/benchmarks/netperf/nptest/tests.go
Due: none

fix linter issue
  network/benchmarks/netperf/nptest/nptest.go
Due: none

Rewrite list benchmark to validate large list
  clusterloader2/testing/list/README.md
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/modules/list-benchmark.yaml
  clusterloader2/testing/list/modules/measurements.yaml
  clusterloader2/testing/list/secret.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

List benchmark perfdash type
  clusterloader2/testing/list/config.yaml
  perfdash/Makefile
  perfdash/config.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

allows for image repos to be set via Environment Variables
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
  clusterloader2/testing/load/simple-deployment.yaml
  clusterloader2/testing/load/statefulset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix go version and deployment.yaml
  perfdash/Dockerfile
  perfdash/deployment.yaml
Due: none

Rewrite request-benchmark to not load responses in memory
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/client.go
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

Add support for DNSPropagation measurement to perfdash
  perfdash/config.go
Due: none

Bump perfdash version to 2.53
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

Use constant resources for list benchmark deployment
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/deployment.yaml
  clusterloader2/testing/list/modules/list-benchmark.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add instructions to run list benchmark locally
  clusterloader2/testing/list/README.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
