Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-benchmark-kube-dns:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
  ...

pull-perf-tests-clusterloader2:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-perf-tests-clusterloader2-kubemark:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - /home/prow/go/src/k8s.io/perf-tests/util-images/presubmit.sh
  ...

pull-perf-tests-verify-dashboard:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard
      resources:
        requests:
          cpu: 1
          memory: 2Gi
        limits:
          cpu: 1
          memory: 2Gi

Add etcd performance related jobs to perfdash deployment config
  perfdash/deployment.yaml
Due: none

Add script wait for jobs (#43)
  clusterloader2/wait-for-jobs.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update DRA testing to stable API version and prepare it to test more types of drivers
  clusterloader2/pkg/dependency/dra/dra.go
  clusterloader2/pkg/dependency/dra/manifests/dra-example-driver/clusterrole.yaml
  clusterloader2/pkg/dependency/dra/manifests/dra-example-driver/clusterrolebinding.yaml
  clusterloader2/pkg/dependency/dra/manifests/dra-example-driver/deviceclass.yaml
  clusterloader2/pkg/dependency/dra/manifests/dra-example-driver/kubeletplugin.yaml
  clusterloader2/pkg/dependency/dra/manifests/dra-example-driver/resourceQuota.yaml
  clusterloader2/pkg/dependency/dra/manifests/dra-example-driver/serviceaccount.yaml
  clusterloader2/pkg/dependency/dra/manifests/dra-example-driver/validatingadmissionpolicy.yaml
  clusterloader2/pkg/dependency/dra/manifests/dra-example-driver/validatingadmissionpolicybinding.yaml
  clusterloader2/pkg/measurement/common/slos/resourceclaim_allocation_latency.go
  clusterloader2/testing/dra/resourceclaimtemplate.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Parametrize DRA test config
  clusterloader2/testing/dra/config.yaml
  clusterloader2/testing/dra/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add support for DRAExtendedResources
  clusterloader2/pkg/dependency/dra/dra.go
  clusterloader2/pkg/dependency/dra/manifests/deviceclass.yaml
  clusterloader2/testing/dra/config.yaml
  clusterloader2/testing/dra/job.yaml
  clusterloader2/testing/dra/long-running-job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix wait for jobs buffer calculation
  clusterloader2/wait-for-jobs.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix missing project id and delete deprecated LegacyIsMasterNode function
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/provider/gce.go
  clusterloader2/pkg/util/cluster.go
  clusterloader2/pkg/util/cluster_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Parametrize DRA test config
  clusterloader2/pkg/dependency/dra/dra.go
  clusterloader2/testing/dra/README.md
  clusterloader2/testing/dra/config.yaml
  clusterloader2/testing/dra/job.yaml
  clusterloader2/testing/dra/resourceclaimtemplate.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

dra test config: bump wait for jobs to finish timeout
  clusterloader2/testing/dra/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix a bug where job is completed but deleted in apiserver
  clusterloader2/pkg/measurement/common/wait_for_jobs.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add requests to exec deployment
  clusterloader2/pkg/execservice/exec_service.go
  clusterloader2/pkg/execservice/manifest/exec_deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Limit QPS in list benchmark to reduce CPU variance
  clusterloader2/testing/list/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use promoted probe image
  clusterloader2/pkg/measurement/common/probes/manifests/dnsLookup/dns-prober-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/dnsPropagation/dns-propagation-prober-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/metricsServer/metrics-server-prober-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/ping-client-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/ping-server-deployment.yaml
  util-images/probes/README.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Make slo-monitor build process multi platform
  slo-monitor/Dockerfile
  slo-monitor/Makefile
Due: none

Marek is no longer at Google, so he shouldn't be listed as maintainer with google.com mail
  slo-monitor/Dockerfile
Due: none

Fix imagePullPolicy location in deployment.yaml
  clusterloader2/testing/access-tokens/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

benchmark: fix GCS bucket path for fetching CI job logs
  benchmark/pkg/metricsfetcher/util/util.go
Due: none

Fix gcilint config
  .golangci.yml
Due: none

Fix govet
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/histogram.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix misspelling and reenable linter
  .golangci.yml
  clusterloader2/pkg/chaos/nodes.go
  clusterloader2/pkg/config/template_functions.go
  clusterloader2/pkg/framework/framework.go
  clusterloader2/pkg/measurement/common/pod_command.go
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/measurement/common/slos/slo_measurement_test.go
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/prometheus/experimental.go
  clusterloader2/pkg/prometheus/prometheus.go
  perfdash/local_metrics_dir.go
  slo-monitor/src/monitors/pod_monitor.go
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Fix slo-monitor to not depend on k/k
  slo-monitor/go.mod
  slo-monitor/go.sum
  slo-monitor/src/monitors/pod_monitor.go
Due: none

Move reconcile-objects manifests into the module directory
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/configmaps-secrets.yaml
  clusterloader2/testing/load/modules/reconcile-objects/config.yaml
  clusterloader2/testing/load/modules/reconcile-objects/daemonset.yaml
  clusterloader2/testing/load/modules/reconcile-objects/deployment.yaml
  clusterloader2/testing/load/modules/reconcile-objects/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects/networkpolicy.yaml
  clusterloader2/testing/load/modules/reconcile-objects/pvc.yaml
  clusterloader2/testing/load/modules/reconcile-objects/statefulset.yaml
  clusterloader2/testing/load/modules/reconcile-objects/statefulset_service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fixed typo in CalculateTransitionsLatency()
  clusterloader2/pkg/measurement/util/phase_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

watch-list: support core resources via api-version/resource flags
  util-images/watch-list/README.md
  util-images/watch-list/main.go
Due: pull-perf-tests-util-images

Add a pod continiously re-initializing informer to load test to test LIST requests
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/informer/config.yaml
  clusterloader2/testing/load/modules/informer/deployment.yaml
  clusterloader2/testing/load/modules/informer/namespace.yaml
  clusterloader2/testing/load/modules/informer/role.yaml
  clusterloader2/testing/load/modules/informer/roleBinding.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow increating informer on all namespaces
  util-images/watch-list/Makefile
  util-images/watch-list/main.go
Due: pull-perf-tests-util-images

Bump prometheus-operator version to 0.88.0
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0alertmanagerConfigCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0alertmanagerCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0podmonitorCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0probeCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0prometheusagentCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0prometheusruleCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0scrapeconfigCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0servicemonitorCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-0thanosrulerCustomResourceDefinition.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-clusterRole.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-clusterRoleBinding.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-service.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-serviceAccount.yaml
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix 'Move reconcile-objects manifests into the module directory'
  clusterloader2/testing/huge-service/statefulset.yaml
  clusterloader2/testing/huge-service/statefulset_service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Switch the load test informer to list pods in all namespaces
  clusterloader2/testing/load/modules/informer/deployment.yaml
  clusterloader2/testing/load/modules/informer/role.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Move all load manifests under the related modules
  clusterloader2/testing/huge-service/service.yaml
  clusterloader2/testing/huge-service/simple-deployment.yaml
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/configmaps-secrets/config.yaml
  clusterloader2/testing/load/modules/configmaps-secrets/configmap.yaml
  clusterloader2/testing/load/modules/configmaps-secrets/secret.yaml
  clusterloader2/testing/load/modules/pod-startup-latency.yaml
  clusterloader2/testing/load/modules/scheduler-throughput/config.yaml
  clusterloader2/testing/load/modules/scheduler-throughput/simple-deployment.yaml
  clusterloader2/testing/load/modules/services/config.yaml
  clusterloader2/testing/load/modules/services/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

feat: Add an ability to measure clusters with dns only control plane access
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/profile.go
  clusterloader2/pkg/prometheus/manifests/master-ip/master-endpoints.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-service.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/util/cluster.go
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add watch list to load test
  clusterloader2/testing/load/modules/informer/config.yaml
  clusterloader2/testing/load/modules/informer/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Revert "feat: Add an ability to measure clusters with dns only control plane"
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/profile.go
  clusterloader2/pkg/prometheus/manifests/master-ip/master-endpoints.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-service.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/util/cluster.go
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

configure scraping etcd ports on kops
  clusterloader2/pkg/measurement/common/etcd_metrics.go
  clusterloader2/pkg/prometheus/manifests/master-ip/master-endpoints.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-service.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/provider/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow running exec service on control-plane
  clusterloader2/pkg/execservice/manifest/exec_deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adding mapEventsByOrder option for PodStartupLatency
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency_test.go
  clusterloader2/pkg/measurement/util/phase_latency.go
  clusterloader2/pkg/measurement/util/phase_latency_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Filter events to tracked pods in PodStartupLatency
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
