Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-benchmark-kube-dns:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
  ...

pull-perf-tests-clusterloader2:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
  ...

pull-perf-tests-clusterloader2-kubemark:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20210402-64f9afb
      command:
      - runner.sh
      - /workspace/scenarios/execute.py
      args:
  ...

pull-perf-tests-verify-dashboard:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard
      resources:
        requests:
          cpu: 1
          memory: 2Gi
        limits:
          cpu: 1
          memory: 2Gi

add timed_qps_load and RuntimeInjection.RandomInt
  clusterloader2/api/types.go
  clusterloader2/api/validation.go
  clusterloader2/pkg/runtimeinjection/runtime_substitution.go
  clusterloader2/pkg/test/simple_test_executor.go
  clusterloader2/pkg/tuningset/simple_tuning_set_factory.go
  clusterloader2/pkg/tuningset/timed_qps_load.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add lock when calling pingCheckers's functions to guarantee consistency
  clusterloader2/pkg/measurement/common/service_creation_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Also cap scale on Command on mac.
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/www/script.js
Due: none

Fix stateless pod definition
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Generate statefull pod startup latency summary
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/util/pods_metadata.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use containerd in image preloader
  clusterloader2/pkg/imagepreload/manifests/daemonset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Set www/ permissions in perfdash.
  perfdash/Dockerfile
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

Updates E2E test images registry
  clusterloader2/pkg/execservice/manifest/exec_deployment.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/metrics-server/resourceConsumer.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add stateful pod startup metrics to perfdash
  perfdash/config.go
Due: none

Switch Statefull to Stateful in clusterloader
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/util/pods_metadata.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update pod-startup-latency.yaml
  clusterloader2/testing/load/modules/pod-startup-latency.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Rename HUGE_SERVICES_SIZE to HUGE_SERVICES_PODS_PER_DEPLOYMENT
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add HUGE_SERVICES_SIZE parameter
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update imagepreload.go
  clusterloader2/pkg/imagepreload/imagepreload.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Enhance service creation latency measurements
  clusterloader2/pkg/measurement/common/service_creation_latency.go
  clusterloader2/pkg/measurement/util/phase_latency.go
  clusterloader2/testing/svc/config.yaml
  clusterloader2/testing/svc/dep.yaml
  clusterloader2/testing/svc/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

WIP - remove old hacky cherry-picks from golang
  golang/build-kubernetes.sh
Due: none

Added provider for Autopilot
  clusterloader2/pkg/provider/autopilot.go
  clusterloader2/pkg/provider/constants.go
  clusterloader2/pkg/provider/provider.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

turn off image preloading for Autopilot
  clusterloader2/pkg/provider/autopilot.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix delete throughput for 100 node tests
  clusterloader2/testing/overrides/load_throughput.yaml
  clusterloader2/testing/overrides/load_throughput_pre_1_23.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Print type when there is a merge value conflict.
  clusterloader2/pkg/config/template_provider.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Split CL2 env variables by = into two parts
  clusterloader2/pkg/config/template_provider.go
  clusterloader2/pkg/config/template_provider_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add ILB Recovery Latency test
  clusterloader2/testing/l4ilb/config-ilb-recovery.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Cleanup Prometheus dashboard target defaults
  clusterloader2/pkg/prometheus/manifests/dashboards/defaults.py
  clusterloader2/pkg/prometheus/manifests/dashboards/dns.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/network.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/slo.dashboard.py
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Set datasource for all grafana targets to $source
  clusterloader2/pkg/prometheus/manifests/dashboards/defaults.py
  clusterloader2/pkg/prometheus/manifests/dashboards/dns.json
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
  clusterloader2/pkg/prometheus/manifests/dashboards/network.json
  clusterloader2/pkg/prometheus/manifests/dashboards/slo.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

Handle removed nodes in image preloading
  clusterloader2/pkg/imagepreload/imagepreload.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix shellcheck for run-e2e.sh
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow changing clusterloader2 verbosity in run-e2e.sh
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Improve error logging in image preloading
  clusterloader2/pkg/imagepreload/imagepreload.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Improve handling of automanaged namespaces
  clusterloader2/pkg/framework/framework.go
  clusterloader2/pkg/test/simple_test_executor.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use the same image in daemonset and pod startup latency
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/modules/pod-startup-latency.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
  clusterloader2/testing/load/simple-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use pd.csi.storage.gke.io for prometheus storage
  clusterloader2/pkg/prometheus/manifests/0ssd-storage-class.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adjust Golang scripts to the new k8s.io/release commit
  golang/build-kubernetes.sh
Due: none

perfdash: use NEG for kubernetes service
  perfdash/perfdash-service.yaml
Due: none

add qperf
  network/benchmarks/netperf/Dockerfile
  network/benchmarks/netperf/Makefile
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/nptest/nptest.go
  network/benchmarks/netperf/nptest/nptest_test.go
Due: none

Add --k8s-clients-number to CL2
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/framework/framework.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Added option to save prometheus snapshot to artifacts.
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/framework/config/client_config.go
  clusterloader2/pkg/framework/framework.go
  clusterloader2/pkg/prometheus/experimental.go
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/prometheus/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove over-specificity of new prom snapshot option
  clusterloader2/pkg/prometheus/experimental.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Clarify descriptions of the various timing generators in CL2
  clusterloader2/api/types.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
