Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

clusterloader2: Use immediate poll for prom health checks
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow for creating CL2 kubeconfig objects in non-default namespace
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

watch-list: define a job type for the perf-dashboard
  perfdash/config.go
Due: none

Release perfdash 2.47
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

watch-list/job: run two replicas per namespace
  clusterloader2/testing/watch-list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

just trigger CI
  test.txt
Due: none

Allow configuration of interval time between pings for InClusterNetworkLatency probe.
  clusterloader2/pkg/measurement/common/probes/manifests/ping-client-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/testing/huge-service/modules/measurements.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Switch to endpointslices for the DNS perf test
  dns/dnsperfgo/main.go
Due: pull-perf-tests-benchmark-kube-dns

use a modern golangci-lint version
  .golangci.yml
Due: none

pring golangci-lint version
  verify/verify-lint.sh
Due: none

fix gofmt lint errors
  clusterloader2/pkg/measurement/common/executors/utils.go
  clusterloader2/pkg/test/modules.go
  perfdash/metrics-downloader.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump dnsperfgo to 1.4.0
  dns/dnsperfgo/Makefile
Due: pull-perf-tests-benchmark-kube-dns

Add network policy enforcement latency measurement
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/measurement/common/network-policy/manifests/clusterrole.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/clusterrolebinding.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/dep-test-client-pod-creation.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/dep-test-client-policy-creation.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/policy-egress-allow-apiserver.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/policy-egress-allow-target-pods.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/policy-load.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/serviceaccount.yaml
  clusterloader2/pkg/measurement/common/network-policy/network-policy-enforcement-latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

CL2 load test bump dnsperfgo image to 1.4.0
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add network policy enforcement latency measurement to load test
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorNetPolicyClient.yaml
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/modules/measurements.yaml
  clusterloader2/testing/load/modules/network-policy/net-policy-enforcement-latency.yaml
  clusterloader2/testing/load/modules/network-policy/net-policy-metrics.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add pod affinity load test
  clusterloader2/testing/load/pod-affinity.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

update configs for pod affinity test
  clusterloader2/testing/batch/config.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
  clusterloader2/testing/watch-list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

chore: remove refs to deprecated io/ioutil
  dns/dnsperfgo/main.go
Due: pull-perf-tests-benchmark-kube-dns

chore: pkg imported more than once
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Compute gocmp.Diff lazily in ClusterLoader2
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

DO NOT SUBMIT NOR REVIEW
  clusterloader2/testing/huge-service/modules/statefulset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Include control plane node role when checking for control plane node
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/provider/gce.go
  clusterloader2/pkg/util/cluster.go
  clusterloader2/pkg/util/cluster_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Take full duration into account in Prometheus-based measurements
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
  clusterloader2/pkg/measurement/util/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

increase pollingTimeout to 1 hour
  clusterloader2/pkg/imagepreload/imagepreload.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

DO NOT SUBMIT
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Enable treating threshold as a lower bound in generic measurement
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Improve request benchmark test
  clusterloader2/testing/request-benchmark/config.yaml
  clusterloader2/testing/request-benchmark/configmap.yaml
  clusterloader2/testing/request-benchmark/deployment.yaml
  clusterloader2/testing/request-benchmark/modules/benchmark-deployment.yaml
  clusterloader2/testing/request-benchmark/modules/measurements.yaml
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/client.go
  util-images/request-benchmark/main.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

fix-typo-clusterloader2: - fixed typo description in prometheus.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update prometheus.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix-typo-clusterloader2: - fixed typo inside flag description.
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

issue:2287: decrease the number of workes to see impact on latency
  clusterloader2/testing/watch-list/config.yaml
  clusterloader2/testing/watch-list/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update golang compiler for golang tip job
  golang/Makefile
Due: none

issue:2287: slightly increase the number of informers to see impact on latency
  clusterloader2/testing/watch-list/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
