Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-benchmark-kube-dns:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
  ...

pull-perf-tests-clusterloader2:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
  ...

pull-perf-tests-clusterloader2-kubemark:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20210402-64f9afb
      command:
      - runner.sh
      - /workspace/scenarios/execute.py
      args:
  ...

pull-perf-tests-verify-dashboard:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard
      resources:
        requests:
          cpu: 1
          memory: 2Gi
        limits:
          cpu: 1
          memory: 2Gi

Parallelize APIAvailability measurement polling
  clusterloader2/pkg/measurement/common/api_availability_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix bug in appendPodsControlledBy
  clusterloader2/pkg/measurement/util/controlled_pods_indexer.go
  clusterloader2/pkg/measurement/util/controlled_pods_indexer_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update service.yaml
  clusterloader2/testing/huge-service/modules/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Simplify ControlledPodsIndexer
  clusterloader2/pkg/measurement/util/controlled_pods_indexer.go
  clusterloader2/pkg/measurement/util/controlled_pods_indexer_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Pod startup: delete pods faster
  clusterloader2/testing/load/modules/pod-startup-latency.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add documentation about adding new clusterloader2 test
  clusterloader2/docs/create-new-test.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fall back to using ADC when setting up GCE PD CSI driver in CL2
  clusterloader2/run-e2e.sh
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add dashboards for calls made from apiserver
  clusterloader2/pkg/prometheus/manifests/dashboards/master-comparison.json
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
  clusterloader2/pkg/prometheus/manifests/dashboards/master_panels.py
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

Add DNS lookup error percentage threshold instead of error count
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Load test: create objects + pod startup latency
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add option to specify timeout for exec command
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Cleanup exact operation timeout experiment
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use DNS performance test and metrics in huge-services
  clusterloader2/testing/huge-service/modules/measurements.yaml
  clusterloader2/testing/huge-service/modules/service.yaml
  clusterloader2/testing/load/modules/dns-performance-metrics.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add dlapcevic as owner for networking directories
  network/OWNERS
Due: none

Add requireSamples field to GenericQueryMeasurement
  clusterloader2/examples/generic_query_example.yaml
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update profile.go
  clusterloader2/pkg/measurement/common/profile.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Revert "Update profile.go"
  clusterloader2/pkg/measurement/common/profile.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Change profile frequency to 5m
  clusterloader2/pkg/measurement/common/profile.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add qperf support to netperf for network benchmarking
  network/benchmarks/netperf/Dockerfile
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/nptest/nptest.go
  network/benchmarks/netperf/nptest/nptest_test.go
Due: none

Add statefulset behind a headless service to huge-service test
  clusterloader2/testing/huge-service/config.yaml
  clusterloader2/testing/huge-service/modules/service.yaml
  clusterloader2/testing/huge-service/modules/statefulset.yaml
  clusterloader2/testing/huge-service/statefulset.yaml
  clusterloader2/testing/huge-service/statefulset_service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add more robust error handling for GMP-based Prometheus client
  clusterloader2/pkg/measurement/util/prometheus.go
  clusterloader2/pkg/prometheus/clients/gcp_managed.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix presubmits
  util-images/network/netperfbenchmark/go.mod
  util-images/network/netperfbenchmark/go.sum
  verify/lib/gopkg.sh
  verify/test.sh
  verify/verify-lint.sh
Due: pull-perf-tests-util-images

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Replace golint with revive
  .golangci.yml
  perfdash/parser.go
Due: none

Updated the go.mod with version 0.23.3
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add benchmark app
  util-images/request-benchmark/Dockerfile
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/README.md
  util-images/request-benchmark/client.go
  util-images/request-benchmark/go.mod
  util-images/request-benchmark/go.sum
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

Updated the go.mod with version 0.23.3 and with go 1.17
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Updated the go.mod with version 0.22.3 and with go 1.16
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Revert "Updated the go.mod with version 0.23.3"
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add a health check to request benchmark
  util-images/request-benchmark/Makefile
  util-images/request-benchmark/main.go
Due: pull-perf-tests-util-images

Improve error message on module parsing
  clusterloader2/pkg/test/modules.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add request-benchmark CL2 scenario
  clusterloader2/testing/request-benchmark/cluster-role-binding.yaml
  clusterloader2/testing/request-benchmark/cluster-role.yaml
  clusterloader2/testing/request-benchmark/config.yaml
  clusterloader2/testing/request-benchmark/configmap.yaml
  clusterloader2/testing/request-benchmark/deployment.yaml
  clusterloader2/testing/request-benchmark/modules/benchmark-deployment.yaml
  clusterloader2/testing/request-benchmark/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

support building multi-arch image for perfdash
  perfdash/Dockerfile
  perfdash/Makefile
Due: none

Updated go.mod with version 0.22.15
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump benchmark requests
  clusterloader2/testing/request-benchmark/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Extend benchmark duration
  clusterloader2/testing/request-benchmark/config.yaml
  clusterloader2/testing/request-benchmark/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Reduce benchmark requests
  clusterloader2/testing/request-benchmark/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add stringer for pods status
  clusterloader2/pkg/measurement/util/pods.go
  clusterloader2/pkg/measurement/util/status_string.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix consecutive failed probes counting in API availability measurement
  clusterloader2/pkg/measurement/common/api_availability_metrics.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
