Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-benchmark-kube-dns:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
  ...

pull-perf-tests-clusterloader2:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
      - runner.sh
  ...

pull-perf-tests-clusterloader2-kubemark:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210426-51fd28e-master
      command:
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20210402-64f9afb
      command:
      - runner.sh
      - /workspace/scenarios/execute.py
      args:
  ...

pull-perf-tests-verify-dashboard:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard
      resources:
        requests:
          cpu: 1
          memory: 2Gi
        limits:
          cpu: 1
          memory: 2Gi

Added checkIfPodsAreUpdated param to CL2 scheduler-throughput and pod-startup-latency modules
  clusterloader2/testing/load/modules/pod-startup-latency.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update netperf image (bullseye)
  network/benchmarks/netperf/Dockerfile
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/nptest/go.mod
  network/benchmarks/netperf/nptest/nptest.go
Due: none

Add enableViolations parameter to ContainerRestarts measurement params
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use the new dnsperfgo client in dns load tests.
  clusterloader2/testing/load/configmap.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add measurement for cilium endpoint propagation delay
  clusterloader2/pkg/measurement/common/cilium_endpoint_propagation_delay.go
  clusterloader2/pkg/measurement/common/cilium_endpoint_propagation_delay_test.go
  clusterloader2/pkg/measurement/common/slos/testdata/cilium_endpoint_propagation_delay/default_slo_fail.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/cilium_endpoint_propagation_delay/default_slo_pass.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Install bind-tools in dnsperfgo image.
  dns/dnsperfgo/Dockerfile
Due: pull-perf-tests-benchmark-kube-dns

reduce the number of queries to match the previous dns client behavior.
  clusterloader2/testing/load/configmap.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add sleep in huge-service test
  clusterloader2/testing/huge-service/modules/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Support CL2_CHECK_IF_PODS_ARE_UPDATED in huge-service test
  clusterloader2/testing/huge-service/modules/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Scrape cilium-operator Prometheus metrics
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorCiliumOperator.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/testing/prometheus/scrape-cilium-operator.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add support for integers in Exec measurement
  clusterloader2/pkg/measurement/common/exec.go
  clusterloader2/pkg/util/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow additional slow calls in huge-service test
  clusterloader2/testing/huge-service/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove huge-service from the load test
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/huge-services.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix huge-service pod deletion
  clusterloader2/testing/huge-service/modules/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add WaitForFinishedJobs measurement
  clusterloader2/pkg/measurement/common/wait_for_jobs.go
  clusterloader2/pkg/measurement/util/informer/informer.go
  clusterloader2/testing/batch/config.yaml
  clusterloader2/testing/batch/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

WIP DO NOT SUBMIT
  clusterloader2/pkg/measurement/util/wait_for_pods.go
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Revert "Install bind-tools in dnsperfgo image."
  dns/dnsperfgo/Dockerfile
Due: pull-perf-tests-benchmark-kube-dns

Support querying in-cluster hostnames via DNS.
  dns/dnsperfgo/deployment-inclusternames.yaml
  dns/dnsperfgo/deployment.yaml
  dns/dnsperfgo/go.mod
  dns/dnsperfgo/go.sum
  dns/dnsperfgo/main.go
Due: pull-perf-tests-benchmark-kube-dns

Use the new dnsclient in scale tests.
  clusterloader2/testing/load/configmap.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Extend P&F dashboard with additional metrics
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

Use net.LookupHost since it is more consistent.
  dns/dnsperfgo/main.go
Due: pull-perf-tests-benchmark-kube-dns

Use multiple queries in generic query measurement
  clusterloader2/examples/generic_query_example.yaml
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
  clusterloader2/pkg/util/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add image for sleep command
  util-images/sleep/Dockerfile
  util-images/sleep/Makefile
  util-images/sleep/README.md
  util-images/sleep/main.go
Due: pull-perf-tests-util-images

Improve logging in generic query measurement
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

update sleep image to optionally handle SIGTERM
  util-images/sleep/main.go
Due: pull-perf-tests-util-images

Update sleep image to 0.0.2
  util-images/sleep/Makefile
Due: pull-perf-tests-util-images

Add a CL2 parameter for modifying the Prometheus memory limit
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Test terminating endpointslices
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use community-owned GCS bucket for Golang scripts
  golang/Makefile
Due: none

Add sleep bin to PATH
  util-images/sleep/Dockerfile
Due: pull-perf-tests-util-images

Add PROMETHEUS_SCRAPE_MASTER_KUBELETS
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

DO NOT SUBMIT - turn on master kubelet scraping
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update sleep image tag
  util-images/sleep/Makefile
Due: pull-perf-tests-util-images

Added parsing of generic Pantheon queries results to perfdash
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
  perfdash/config.go
  perfdash/metrics-downloader.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Incremented perfdash version
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

Revert "Use the new dnsperfgo client in dns load tests."
  clusterloader2/testing/load/configmap.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update Makefile for dnsperfgo
  dns/dnsperfgo/Makefile
Due: pull-perf-tests-benchmark-kube-dns

WIP DO NOT SUBMIT
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add gkekubemark provider.
  clusterloader2/pkg/measurement/common/resource_usage.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/provider/constants.go
  clusterloader2/pkg/provider/gke_kubemark.go
  clusterloader2/pkg/provider/provider.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
