Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

add flag to specify testNamespace
  network/benchmarks/netperf/launch.go
Due: none

set default path to kubeconfig
  network/benchmarks/netperf/launch.go
Due: none

retrieve CoreV1Client
  network/benchmarks/netperf/launch.go
Due: none

Add TODO about fixing pod-startup-time phases
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

GenericQueryMeasurement: tiny refactoring
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/generic_query_measurement_test.go
  clusterloader2/pkg/util/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

removed comment
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump dnsperfgo to 1.3.0 version
  dns/dnsperfgo/Makefile
Due: pull-perf-tests-benchmark-kube-dns

fix kubemark test install pdcsi driver
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/run-e2e.sh
  clusterloader2/testing/custom-scheduler-metrics/config-sample.yaml
  clusterloader2/testing/custom-scheduler-metrics/deployment-sample.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add endTime to Gatherer interface
  clusterloader2/pkg/measurement/common/metrics_server_prometheus.go
  clusterloader2/pkg/measurement/common/nodelocaldns_latency_prometheus.go
  clusterloader2/pkg/measurement/common/prometheus_measurement.go
  clusterloader2/pkg/measurement/common/scheduling_throughput_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/pkg/measurement/common/slos/network_programming.go
  clusterloader2/pkg/measurement/common/slos/network_programming_test.go
  clusterloader2/pkg/measurement/common/slos/windows_node_resource_usage.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add CL2_DS_SURGE override
  clusterloader2/testing/load/daemonset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add configurable timeout for Prometheus stack
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/flags/flags.go
  clusterloader2/pkg/flags/types.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add promql executor for unit tests
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/common/executors/promql_executor.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/pkg/measurement/common/slos/testdata/above_slow_count_failure.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/below_slow_count_pass.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/cluster_list_slo_failure.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/get_slo_failure.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/mutating_slo_failure.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/namespace_list_slo_failure.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/rules.yml
  clusterloader2/pkg/measurement/common/slos/testdata/slo_pass.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Extend log entry for in progress WaitForControlledPodsRunning
  clusterloader2/go.mod
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/pods.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects.go
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
  clusterloader2/pkg/measurement/util/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add implementaion of Pushgateway feature
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/manifests/pushgateway/deployment.yaml
  clusterloader2/pkg/prometheus/manifests/pushgateway/service.yaml
  clusterloader2/pkg/prometheus/manifests/pushgateway/serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Added checkIfPodsAreUpdated param to CL2 scheduler-throughput and pod-startup-latency modules
  clusterloader2/testing/load/modules/pod-startup-latency.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add go modules file to dns/jsonify.
  dns/jsonify/go.mod
  dns/jsonify/go.sum
  dns/jsonify/vendor/github.com/golang/glog/LICENSE
  dns/jsonify/vendor/github.com/golang/glog/README
  dns/jsonify/vendor/github.com/golang/glog/glog.go
  dns/jsonify/vendor/github.com/golang/glog/glog_file.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/LICENSE
  dns/jsonify/vendor/gopkg.in/yaml.v2/LICENSE.libyaml
  dns/jsonify/vendor/gopkg.in/yaml.v2/NOTICE
  dns/jsonify/vendor/gopkg.in/yaml.v2/README.md
  dns/jsonify/vendor/gopkg.in/yaml.v2/apic.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/decode.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/emitterc.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/encode.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/go.mod
  dns/jsonify/vendor/gopkg.in/yaml.v2/parserc.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/readerc.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/resolve.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/scannerc.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/sorter.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/writerc.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/yaml.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/yamlh.go
  dns/jsonify/vendor/gopkg.in/yaml.v2/yamlprivateh.go
  dns/jsonify/vendor/k8s.io/kubernetes/LICENSE
  dns/jsonify/vendor/k8s.io/kubernetes/test/e2e/perftype/BUILD
  dns/jsonify/vendor/k8s.io/kubernetes/test/e2e/perftype/perftype.go
  dns/jsonify/vendor/vendor.json
Due: pull-perf-tests-benchmark-kube-dns

perfdash: use NEG for kubernetes service
  perfdash/perfdash-service.yaml
Due: none

Add Prometheus-based container restarts measurement
  clusterloader2/pkg/measurement/common/container_restarts.go
  clusterloader2/pkg/measurement/common/container_restarts_test.go
  clusterloader2/pkg/measurement/common/slos/testdata/container_restarts/double_restart_of_apiserver.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/container_restarts/no_restarts.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/container_restarts/two_apiserver_replicas_restarts.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add generic Prometheus query measurement
  clusterloader2/examples/generic_query_example.yaml
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
  clusterloader2/pkg/measurement/common/metrics_server_prometheus.go
  clusterloader2/pkg/measurement/common/nodelocaldns_latency_prometheus.go
  clusterloader2/pkg/measurement/common/prometheus_measurement.go
  clusterloader2/pkg/measurement/common/scheduling_throughput_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/network_programming.go
  clusterloader2/pkg/measurement/common/slos/windows_node_resource_usage.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use metric name in summary
  clusterloader2/pkg/measurement/common/generic_query_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add separate huge service test config
  clusterloader2/testing/huge-service/config.yaml
  clusterloader2/testing/huge-service/modules/measurements.yaml
  clusterloader2/testing/huge-service/modules/service.yaml
  clusterloader2/testing/huge-service/service.yaml
  clusterloader2/testing/huge-service/simple-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add a CL2 parameter for creating headless huge services
  clusterloader2/testing/load/modules/huge-services.yaml
  clusterloader2/testing/load/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add enableViolations parameter to ContainerRestarts measurement params
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add measurement for cilium endpoint propagation delay
  clusterloader2/pkg/measurement/common/cilium_endpoint_propagation_delay.go
  clusterloader2/pkg/measurement/common/cilium_endpoint_propagation_delay_test.go
  clusterloader2/pkg/measurement/common/slos/testdata/cilium_endpoint_propagation_delay/default_slo_fail.yaml
  clusterloader2/pkg/measurement/common/slos/testdata/cilium_endpoint_propagation_delay/default_slo_pass.yaml
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix run script to download dependencies.
  dns/run
Due: pull-perf-tests-benchmark-kube-dns

Revert "Customize enabling of immutable secrets and configmaps in CL2"
  clusterloader2/testing/load/configmap.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/secret.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add a new go-dnsclient for scale tests
  dns/dnsperfgo/Dockerfile
  dns/dnsperfgo/Makefile
  dns/dnsperfgo/README.md
  dns/dnsperfgo/go.mod
  dns/dnsperfgo/go.sum
  dns/dnsperfgo/main.go
  dns/dnsperfgo/metrics.go
Due: pull-perf-tests-benchmark-kube-dns

update sleep image to optionally handle SIGTERM
  util-images/sleep/main.go
Due: pull-perf-tests-util-images

Fix huge-service pod deletion
  clusterloader2/testing/huge-service/modules/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Use community-owned GCS bucket for Golang scripts
  golang/Makefile
Due: none

Use net.LookupHost since it is more consistent.
  dns/dnsperfgo/main.go
Due: pull-perf-tests-benchmark-kube-dns

Add image for sleep command
  util-images/sleep/Dockerfile
  util-images/sleep/Makefile
  util-images/sleep/README.md
  util-images/sleep/main.go
Due: pull-perf-tests-util-images

Use the new dnsclient in scale tests.
  clusterloader2/testing/load/configmap.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add sleep bin to PATH
  util-images/sleep/Dockerfile
Due: pull-perf-tests-util-images

Add support for integers in Exec measurement
  clusterloader2/pkg/measurement/common/exec.go
  clusterloader2/pkg/util/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Incremented perfdash version
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

reduce the number of queries to match the previous dns client behavior.
  clusterloader2/testing/load/configmap.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add gkekubemark provider.
  clusterloader2/pkg/measurement/common/resource_usage.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/provider/constants.go
  clusterloader2/pkg/provider/gke_kubemark.go
  clusterloader2/pkg/provider/provider.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add WaitForFinishedJobs measurement
  clusterloader2/pkg/measurement/common/wait_for_jobs.go
  clusterloader2/pkg/measurement/util/informer/informer.go
  clusterloader2/testing/batch/config.yaml
  clusterloader2/testing/batch/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Support CL2_CHECK_IF_PODS_ARE_UPDATED in huge-service test
  clusterloader2/testing/huge-service/modules/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
