Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-benchmark-kube-dns:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
  ...

pull-perf-tests-clusterloader2:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
  ...

pull-perf-tests-clusterloader2-kubemark:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-master
      command:
      - runner.sh
      args:
      - /home/prow/go/src/k8s.io/perf-tests/util-images/presubmit.sh
  ...

pull-perf-tests-verify-dashboard:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard
      resources:
        requests:
          cpu: 1
          memory: 2Gi
        limits:
          cpu: 1
          memory: 2Gi

podsNumber definition update
  clusterloader2/testing/list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update resourceclaim_allocation_latency.go for tests
  clusterloader2/pkg/measurement/common/slos/resourceclaim_allocation_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

deprecate python2 support
  dns/py/params.py
Due: pull-perf-tests-benchmark-kube-dns

Bump version of go compiler that bootstraps golang tip test to 1.25.0
  golang/Makefile
Due: none

add stream output for exec measurement
  clusterloader2/pkg/measurement/common/exec.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Move retryable error checks in RetryFunction after user retry options
  clusterloader2/pkg/framework/client/objects.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

ci: remove sleep image in deprecated registry with agnhost
  clusterloader2/testing/batch/job.yaml
  clusterloader2/testing/dra/job.yaml
  util-images/sleep/Dockerfile
  util-images/sleep/Makefile
  util-images/sleep/README.md
  util-images/sleep/main.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Fix deletion handling in NEG tests and service creation latency
  clusterloader2/pkg/measurement/common/service_creation_latency.go
  clusterloader2/testing/neg/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add measurement to check memory usage in benchmark list job
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/common/container_memory_usage.go
  clusterloader2/testing/list/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add pods cleanup
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/modules/list-benchmark.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

update delete pods logic
  clusterloader2/testing/list/config.yaml
  clusterloader2/testing/list/modules/list-benchmark.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

chore: refactor to use NewTyped generic constructor instead of deprecated New
  clusterloader2/pkg/measurement/common/job_lifecycle_latency.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/resourceclaim_allocation_latency.go
  clusterloader2/pkg/measurement/util/workerqueue/workerqueue.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix `Framework.{Patch,Delete,Get}Object` methods not passing `APICallOptions` to the underlying client methods
  clusterloader2/pkg/framework/framework.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Upgrade client-go to 0.34.0 in ClusterLoader2
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/util/runtimeobjects/runtimeobjects_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

update new measurement in list
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/common/container_memory_usage.go
  clusterloader2/testing/list/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

update list benchmark config.yaml
  clusterloader2/testing/list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add parser for etcd API benchmarks
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
Due: none

chore: remove dependency from deprecated io/ioutil package
  benchmark/pkg/metricsfetcher/scraper/scraper_test.go
  benchmark/pkg/metricsfetcher/util/util.go
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/template_functions.go
  clusterloader2/pkg/config/template_provider.go
  clusterloader2/pkg/measurement/common/executors/promql_executor.go
  clusterloader2/pkg/measurement/common/executors/utils.go
  clusterloader2/pkg/measurement/common/metrics/kubelet_metrics.go
  clusterloader2/pkg/metadata/metadata.go
  clusterloader2/pkg/prometheus/clients/gcp_managed.go
  clusterloader2/pkg/test/simple_test_executor.go
  dns/jsonify/main.go
  perfdash/config.go
  perfdash/gcs_metrics_bucket.go
  perfdash/github-configs-fetcher.go
  perfdash/s3_metrics_bucket.go
  util-images/access-tokens/cmd/main.go
Due: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

rename variables
  clusterloader2/testing/list/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Rename variable
  clusterloader2/testing/list/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Install kubelogin in CL2 image (#41)
  clusterloader2/Dockerfile
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Generalize parser's condition for other scenarios in etcd benchmark
  perfdash/config.go
Due: none

Test netperfbenchmark
  clusterloader2/pkg/measurement/common/network/manifests/worker-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add serathius to owners of list benchmark
  clusterloader2/testing/list/OWNERS
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

update memory limit to 6GB for APIServerMemoryUsage measurement
  clusterloader2/testing/list/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add count for errors and error timestamps for dnspropagation measurement
  util-images/probes/pkg/dnspropagation/metrics.go
  util-images/probes/pkg/dnspropagation/probe.go
Due: pull-perf-tests-util-images

add support for DRAExtendedResources
  clusterloader2/pkg/dependency/dra/dra.go
  clusterloader2/pkg/dependency/dra/manifests/deviceclass.yaml
  clusterloader2/testing/dra-extended-resources/README.md
  clusterloader2/testing/dra-extended-resources/config.yaml
  clusterloader2/testing/dra-extended-resources/job.yaml
  clusterloader2/testing/dra-extended-resources/long-running-job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add logging for dns lookups with timestamps
  dns/dnsperfgo/main.go
Due: pull-perf-tests-benchmark-kube-dns

use DNSError.isNotFound instead of string comparison
  util-images/probes/pkg/dnspropagation/probe.go
Due: pull-perf-tests-util-images

always enable errorLogger and replace the error message with errorLogger
  dns/dnsperfgo/main.go
Due: pull-perf-tests-benchmark-kube-dns

route the infoLogger to a dummy logger to avoid if statement added err in infoLogger, changed latency to milliseconds cleanup in "name" and ".Error()" for maintainance
  dns/dnsperfgo/main.go
Due: pull-perf-tests-benchmark-kube-dns

Update OWNERS
  dns/OWNERS
Due: pull-perf-tests-benchmark-kube-dns

add stream output for exec measurement (#42)
  clusterloader2/pkg/measurement/common/exec.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update DRA testing to stable API version and prepare it to test more types of drivers
  clusterloader2/pkg/dependency/dra/dra.go
  clusterloader2/pkg/dependency/dra/manifests/example/clusterrole.yaml
  clusterloader2/pkg/dependency/dra/manifests/example/clusterrolebinding.yaml
  clusterloader2/pkg/dependency/dra/manifests/example/deviceclass.yaml
  clusterloader2/pkg/dependency/dra/manifests/example/kubeletplugin.yaml
  clusterloader2/pkg/dependency/dra/manifests/example/resourceQuota.yaml
  clusterloader2/pkg/dependency/dra/manifests/example/serviceaccount.yaml
  clusterloader2/pkg/dependency/dra/manifests/example/validatingadmissionpolicy.yaml
  clusterloader2/pkg/dependency/dra/manifests/example/validatingadmissionpolicybinding.yaml
  clusterloader2/pkg/measurement/common/slos/resourceclaim_allocation_latency.go
  clusterloader2/testing/dra/config.yaml
  clusterloader2/testing/dra/job.yaml
  clusterloader2/testing/dra/resourceclaimtemplate.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Measure resource size in load test
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow increases object size via environment variable
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/simple-deployment.yaml
  clusterloader2/testing/load/statefulset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Make randomized data in pods deterministic to avoid pod recreation
  clusterloader2/pkg/config/template_functions.go
  clusterloader2/pkg/config/template_functions_test.go
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/job.yaml
  clusterloader2/testing/load/simple-deployment.yaml
  clusterloader2/testing/load/statefulset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Render version of Perfdash on UI
  perfdash/Makefile
  perfdash/www/VERSION
  perfdash/www/index.html
Due: none

Add measurement for cilium BPF map pressure
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Revert "Add DRA jobs to perf dash"
  perfdash/deployment.yaml
Due: none

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
