Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Bump slo-monitor to 0.15.6
  slo-monitor/Makefile
Due: none

cl2: Add bearer token to apiserver prometheus target
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

[CL2] Follow up to safetext migration
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update x/crypto to v0.17.0
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump slo-monitor to 0.15.7
  slo-monitor/Makefile
Due: none

Fix YAML injections in the network policy enforcement test
  clusterloader2/pkg/measurement/common/network-policy/manifests/dep-test-client-pod-creation.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/dep-test-client-policy-creation.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/policy-egress-allow-target-pods.yaml
  clusterloader2/pkg/measurement/common/network-policy/manifests/policy-load.yaml
  clusterloader2/pkg/measurement/common/network-policy/network-policy-enforcement-latency.go
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/modules/network-policy/net-policy-enforcement-latency.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add an option to inject additional measurements to load config
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Supply an exit code for SIGTERM
  util-images/sleep/main.go
Due: pull-perf-tests-util-images

Increment sleep version
  util-images/sleep/Makefile
Due: pull-perf-tests-util-images

util-images/watch-list: replace `ENABLE_CLIENT_GO_WATCH_LIST_ALPHA` env var with `KUBE_FEATURE_WatchListClient`
  util-images/watch-list/main.go
Due: pull-perf-tests-util-images

Fix startedPulling time error in slo-monitor
  slo-monitor/src/monitors/pod_monitor.go
Due: none

Fix time of pulling image error in slo-monitor
  slo-monitor/src/monitors/pod_monitor.go
Due: none

add simple HPA scale test
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/kcm_metrics.go
  clusterloader2/pkg/util/util.go
  clusterloader2/testing/hpa/README.md
  clusterloader2/testing/hpa/config.yaml
  clusterloader2/testing/hpa/hpa.yaml
  clusterloader2/testing/hpa/replicaset.yaml
  clusterloader2/testing/hpa/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Enable measuring API availability for public and/or private IPs
  clusterloader2/pkg/measurement/common/api_availability_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Enable IP configuration for APIAvailability in load test
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add a dedicated SA for probes
  clusterloader2/pkg/measurement/common/probes/manifests/dnsLookup/dns-prober-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/ping-client-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/ping-server-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/probes-serviceaccount.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump go compiler version to 1.22.0
  golang/Makefile
Due: none

Add an option to inject additional objects to load config
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

allow node problem detector restart 2 times
  clusterloader2/testing/experiments/ignore_known_gce_container_restarts.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add --break-system-packages for pip install
  dns/run
Due: pull-perf-tests-benchmark-kube-dns

CL2: Fix typo in load config
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

use informers for pod events instead of Listing
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

increase the duration to 15m
  clusterloader2/testing/list/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add NEG Latency test
  clusterloader2/pkg/measurement/common/neg_latency_measurement.go
  clusterloader2/pkg/measurement/common/service_creation_latency.go
  clusterloader2/testing/neg/config.yaml
  clusterloader2/testing/neg/dep.yaml
  clusterloader2/testing/neg/ing.yaml
  clusterloader2/testing/neg/modules/ingress-measurements.yaml
  clusterloader2/testing/neg/modules/measurements.yaml
  clusterloader2/testing/neg/modules/services.yaml
  clusterloader2/testing/neg/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adding a KubeStellar provider
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/provider/constants.go
  clusterloader2/pkg/provider/ks.go
  clusterloader2/pkg/provider/provider.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add aojea to network folder
  network/OWNERS
Due: none

Add retry support to exec measurement
  clusterloader2/pkg/measurement/common/exec.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

List pods/nodes from watchcache when creating a new ContainerResourceGatherer
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

implement dns-propagation-prober
  util-images/probes/Makefile
  util-images/probes/README.md
  util-images/probes/cmd/main.go
  util-images/probes/go.mod
  util-images/probes/pkg/dnspropagation/metrics.go
  util-images/probes/pkg/dnspropagation/probe.go
Due: pull-perf-tests-util-images

Add network performance dashboard type
  perfdash/Dockerfile
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
  perfdash/go.mod
  perfdash/go.sum
Due: none

Add DNS propagation measurement in CL2
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/common/probes/manifests/dnsPropagation/dns-propagation-prober-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/dnsPropagation/dns-propagation-prober-rbac.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/dnsPropagation/dns-propagation-prober-service.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/dnsPropagation/dns-propagation-prober-serviceMonitor.yaml
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/pkg/measurement/common/probes/propagation_metric.go
  clusterloader2/pkg/prometheus/manifests/prometheus-rules.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add pod monitor for cilium agent and operator
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorCiliumAgent.yaml
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorCiliumOperator.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/testing/prometheus/scrape-cilium-operator.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix gofmt lint errors
  clusterloader2/pkg/measurement/common/executors/utils.go
  clusterloader2/pkg/test/modules.go
  perfdash/metrics-downloader.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

scrape network policies
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/prometheus/manifests/default/prometheus-podMonitorKubeNetworkPolicies.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/testing/prometheus/scrape-kube-network-policies.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

gardener provider
  clusterloader2/go.mod
  clusterloader2/pkg/prometheus/clients/gardener_managed.go
  clusterloader2/pkg/provider/constants.go
  clusterloader2/pkg/provider/gardener.go
  clusterloader2/pkg/provider/provider.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
