Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Fix tuning set for the ILB test
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Get pod logs
  clusterloader2/pkg/measurement/common/network/manifests/worker-deployment.yaml
  util-images/network/netperfbenchmark/cmd/main.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

WIP DO NOT SUBMIT
  golang/build-kubernetes.sh
Due: none

Bump netperfbenchmark to 0.2
  clusterloader2/pkg/measurement/common/network/manifests/worker-deployment.yaml
  util-images/network/netperfbenchmark/Makefile
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Ignore exec subresource in APIResponsivenessPrometheus
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Dump test config
  clusterloader2/cmd/clusterloader.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add scheduler-throughput module
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add reconcile-objects module
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Make L4 latency measurement timeout configurable.
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add huge-services module
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/huge-services.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix api responsiveness filter
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

get kubelet systemContainer resource metrics
  clusterloader2/pkg/measurement/util/kubelet/kubelet.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Change load test job to be more resilient
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add metrics-server latency measurement: part 1
  clusterloader2/pkg/measurement/common/metrics_server_prometheus.go
  clusterloader2/pkg/measurement/common/probes/manifests/metricsServer/metrics-server-probe-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/metricsServer/metrics-server-probe-rbac.yaml
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/pkg/provider/gce.go
  clusterloader2/pkg/provider/provider.go
  util-images/probes/Dockerfile
  util-images/probes/cmd/main.go
  util-images/probes/go.mod
  util-images/probes/go.sum
  util-images/probes/pkg/kubeclient/client.go
  util-images/probes/pkg/ping/client/client.go
  util-images/probes/pkg/ping/client/metrics.go
  util-images/probes/pkg/util/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Add mborsz to util-images/probes/OWNERS
  util-images/probes/OWNERS
Due: pull-perf-tests-util-images

Add mborsz to OWNERS
  OWNERS
Due: none

added empty step validation and unit tests
  clusterloader2/api/validation.go
  clusterloader2/api/validation_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

share timeout config on LB creation and nodesync steps
  clusterloader2/testing/l4lb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

set firewall port to netperf data path and set IP version for iperf3
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/nptest/nptest.go
Due: none

Migrated automanaged namespaces in node-throughput and windows-test tests
  clusterloader2/testing/node-throughput/config.yaml
  clusterloader2/testing/windows-tests/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cleanup automanaged ns
  clusterloader2/api/validation.go
  clusterloader2/api/validation_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add separate configmaps-secrets module
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/configmaps-secrets.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

remove automanaged ns
  clusterloader2/api/validation.go
  clusterloader2/api/validation_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add step to wait for deployments deletions
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Apply suggestions from code review
  clusterloader2/testing/l4ilb/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Move oxddr under emeritus_approvers
  clusterloader2/OWNERS
  clusterloader2/pkg/prometheus/manifests/dashboards/OWNERS
  util-images/probes/OWNERS
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Update config.yaml
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Ignore few restarts on konnectivity-agent
  clusterloader2/testing/experiments/ignore_known_gce_container_restarts.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

spelling mistake
  clusterloader2/cmd/clusterloader.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

remove automanaged ns from other places
  clusterloader2/api/default.go
  clusterloader2/api/types.go
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/cluster.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

minor fix
  clusterloader2/pkg/test/test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Migrate not-scrape-kube-proxy.yaml to provider specific config
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/provider/aks.go
  clusterloader2/pkg/provider/aws.go
  clusterloader2/pkg/provider/eks.go
  clusterloader2/pkg/provider/gce.go
  clusterloader2/pkg/provider/gke.go
  clusterloader2/pkg/provider/kind.go
  clusterloader2/pkg/provider/kubemark.go
  clusterloader2/pkg/provider/local.go
  clusterloader2/pkg/provider/provider.go
  clusterloader2/pkg/provider/skeleton.go
  clusterloader2/pkg/provider/vsphere.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Unblock perfdash upgrade
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/metrics-downloader.go
  perfdash/perfdash.go
Due: none

Add apiserver_request_filter_duration_seconds_bucket graph to Grafana
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

Supplementary metrics-server latency measurement
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/measurement/common/metrics_server_prometheus.go
  clusterloader2/pkg/prometheus/manifests/exporters/metrics-server/serviceMonitor.yaml
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

added basic validation
  clusterloader2/api/validation.go
  clusterloader2/api/validation_test.go
  clusterloader2/pkg/measurement/factory.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add marseel to cl2 approvers
  clusterloader2/OWNERS
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

migrated clusterloader2/testing/network/config.yaml to use namespace
  clusterloader2/testing/network/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Parallelize huge services pod creation
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/huge-services.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add ENABLE_HUGE_SERVICES_MULTIPLE_REPLICAS flag
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/modules/huge-services.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
