Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-benchmark-kube-dns, pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-benchmark-kube-dns:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
      - --check-leaked-resources
  ...

pull-perf-tests-clusterloader2:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
      command:
      - runner.sh
  ...

pull-perf-tests-clusterloader2-kubemark:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-master
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/bootstrap:v20230316-ac3134cff2
      command:
      - runner.sh
      args:
      - /home/prow/go/src/k8s.io/perf-tests/util-images/presubmit.sh
  ...

pull-perf-tests-verify-dashboard:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard
      resources:
        requests:
          cpu: 1
          memory: 2Gi
        limits:
          cpu: 1
          memory: 2Gi

perfdash: add option to change sync duration
  perfdash/perfdash.go
Due: none

perfdash: fix build and release a new version
  perfdash/Dockerfile
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/perfdash.go
Due: none

Redoing the PR #1 to main branch instead of master (#3)
  network/benchmarks/netperf/.gitignore
  network/benchmarks/netperf/Makefile
  network/benchmarks/netperf/go.mod
  network/benchmarks/netperf/go.sum
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/lib/outputlib.go
  network/benchmarks/netperf/lib/testlib.go
  network/benchmarks/netperf/lib/utilslib.go
  network/benchmarks/netperf/nptest/Dockerfile
  network/benchmarks/netperf/nptest/go.mod
  network/benchmarks/netperf/nptest/nptest.go
  network/benchmarks/netperf/nptest/nptest_test.go
  network/benchmarks/netperf/nptest/parsers/bandwidth_parsers.go
  network/benchmarks/netperf/nptest/parsers/json_parsers.go
  network/benchmarks/netperf/nptest/parsers/parsers_test.go
  network/benchmarks/netperf/nptest/parsers/testdata/tcp.json
  network/benchmarks/netperf/nptest/parsers/testdata/tcp_output.json
  network/benchmarks/netperf/nptest/parsers/testdata/udp.json
  network/benchmarks/netperf/nptest/parsers/testdata/udp_output.json
  network/benchmarks/netperf/nptest/parsers/types.go
  network/benchmarks/netperf/nptest/tests.go
Due: none

add Dockerfile for CL2
  clusterloader2/Dockerfile
  clusterloader2/Makefile
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add Github Actions to release CL2
  .github/clusterloader2-release.yml
Due: none

Add gh action to publish nptest package on tag push (#2)
  .github/workflows/docker-publish-nptest.yml
  network/benchmarks/netperf/Makefile
  network/benchmarks/netperf/nptest/Dockerfile
Due: none

fix(nptest): change docker image name to use lowercase repo owner (#5)
  .github/workflows/docker-publish-nptest.yml
Due: none

fix: make changes to makefile to convert repo_owner to lower case (#7)
  .github/workflows/docker-publish-nptest.yml
  network/benchmarks/netperf/Makefile
Due: none

feat: add Github Actions to release clusterloader2 (#4)
  .github/workflows/clusterloader2-release.yml
  clusterloader2/Dockerfile
  clusterloader2/Makefile
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

kube-state-metrics: update manifests
  clusterloader2/pkg/prometheus/manifests/exporters/kube-state-metrics/clusterRole.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/kube-state-metrics/clusterRoleBinding.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/kube-state-metrics/deployment.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/kube-state-metrics/service.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/kube-state-metrics/serviceAccount.yaml
  clusterloader2/pkg/prometheus/manifests/exporters/kube-state-metrics/serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

measurements: enable kube-state-metrics
  clusterloader2/testing/load/modules/measurements.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Rename AKS provider to Azure
  clusterloader2/README.md
  clusterloader2/pkg/provider/azure.go
  clusterloader2/pkg/provider/constants.go
  clusterloader2/pkg/provider/provider.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix: resiliency and logging for network benchmark tests (#8)
  network/benchmarks/netperf/Makefile
  network/benchmarks/netperf/lib/outputlib.go
  network/benchmarks/netperf/lib/utilslib.go
  network/benchmarks/netperf/nptest/Dockerfile
Due: none

allows for the exec_service pod image to be pulled from a custom image repo
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/execservice/exec_service.go
  clusterloader2/pkg/execservice/manifest/exec_deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update CL2 prometheus manifest for service monitor (#9)
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Customize refresh interval of WaitForControlledPodsRunning measurement (#10)
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

watchlist: bring the initial informers count back
  clusterloader2/testing/watch-list/config.yaml
  clusterloader2/testing/watch-list/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Change perf-dash logs bucket to kubernetes-ci-logs
  perfdash/perfdash.go
Due: none

Add flags for resources of DNS propagation prober
  clusterloader2/pkg/measurement/common/probes/manifests/dnsPropagation/dns-propagation-prober-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/propagation_metric.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Merge benchmark files for scheduler_perf
  perfdash/config.go
Due: none

support for azure managed prometheus tested and ready
  clusterloader2/pkg/prometheus/clients/aks_managed.go
  clusterloader2/pkg/provider/aks.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Release new version of perfdash
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

Bump kubernetes dependency in jsonify
  dns/jsonify/go.mod
  dns/jsonify/go.sum
Due: pull-perf-tests-benchmark-kube-dns

Bump k8s dependencies for netperf
  network/benchmarks/netperf/go.mod
  network/benchmarks/netperf/go.sum
Due: none

Add context
  network/benchmarks/netperf/launch.go
Due: none

Add CL2 support for Azure Managed Prometheus
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/prometheus/clients/aks_managed.go
  clusterloader2/pkg/provider/aks.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

allows for image repos to be set via Environment Variables
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/daemonset.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/job.yaml
  clusterloader2/testing/load/modules/reconcile-objects.yaml
  clusterloader2/testing/load/modules/scheduler-throughput.yaml
  clusterloader2/testing/load/simple-deployment.yaml
  clusterloader2/testing/load/statefulset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

build(deps): bump k8s.io/kubernetes from 1.29.7 to 1.30.4 in /clusterloader2
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

feat: improve network performance test to make it reusable and easily modifiable
  network/benchmarks/netperf/.gitignore
  network/benchmarks/netperf/Makefile
  network/benchmarks/netperf/go.mod
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/lib/outputlib.go
  network/benchmarks/netperf/lib/testlib.go
  network/benchmarks/netperf/lib/utilslib.go
  network/benchmarks/netperf/nptest/Dockerfile
  network/benchmarks/netperf/nptest/go.mod
  network/benchmarks/netperf/nptest/nptest.go
  network/benchmarks/netperf/nptest/nptest_test.go
  network/benchmarks/netperf/nptest/parsers/bandwidth_parsers.go
  network/benchmarks/netperf/nptest/parsers/json_parsers.go
  network/benchmarks/netperf/nptest/parsers/parsers_test.go
  network/benchmarks/netperf/nptest/parsers/testdata/tcp.json
  network/benchmarks/netperf/nptest/parsers/testdata/tcp_output.json
  network/benchmarks/netperf/nptest/parsers/testdata/udp.json
  network/benchmarks/netperf/nptest/parsers/testdata/udp_output.json
  network/benchmarks/netperf/nptest/parsers/types.go
  network/benchmarks/netperf/nptest/tests.go
Due: none

watchlist: decrease the number of informers to 6 to confirm no impact on latency
  clusterloader2/testing/watch-list/config.yaml
  clusterloader2/testing/watch-list/job.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add request count to watchlist tests
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
Due: none

Add a sleep after service delete to allow NEGs get garbage collected.
  clusterloader2/testing/neg/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Tear down CL2 also on test config compilation failures
  clusterloader2/cmd/clusterloader.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Stop relying on k/k SSH
  clusterloader2/pkg/measurement/common/metrics/metrics_grabber.go
  clusterloader2/pkg/provider/autopilot.go
  clusterloader2/pkg/provider/aws.go
  clusterloader2/pkg/provider/eks.go
  clusterloader2/pkg/provider/gce.go
  clusterloader2/pkg/provider/gke.go
  clusterloader2/pkg/provider/gke_kubemark.go
  clusterloader2/pkg/provider/kubemark.go
  clusterloader2/pkg/provider/local.go
  clusterloader2/pkg/provider/skeleton.go
  clusterloader2/pkg/provider/util.go
  clusterloader2/pkg/provider/vsphere.go
  clusterloader2/pkg/util/ssh_core.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove dependency on test/e2e/framework
  clusterloader2/pkg/measurement/common/metrics/metrics_grabber.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Bump clusterloader deps
  clusterloader2/go.mod
  clusterloader2/go.sum
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Cleanup klog
  clusterloader2/go.mod
  clusterloader2/go.sum
  clusterloader2/pkg/measurement/util/informer/informer.go
  clusterloader2/pkg/prometheus/clients/aks_managed.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Path conditions:
  pull-perf-tests-benchmark-kube-dns: any of: ^dns/.*$
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
