Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

machine: remove solved todo comment
  internal/controllers/machine/machine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Bump default kind image to v1.32.0
  docs/book/src/developer/core/tilt.md
  docs/book/src/user/quick-start.md
  test/framework/bootstrap/kind_provider.go
  test/infrastructure/kind/mapper.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add Runtime Extension dashboard
  hack/observability/grafana/dashboards/runtime-extensions.json
  hack/observability/grafana/kustomization.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update docs/book/src/user/quick-start.md
  docs/book/src/user/quick-start.md
Due: none

fix some linting with a comment
  cmd/clusterctl/client/config/providers_client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Recreate bootstrap token if it was cleaned up
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add NamingStrategy to MachineDeployment
  .golangci.yml
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machineset_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  exp/topology/desiredstate/desired_state_test.go
  internal/apis/core/v1alpha3/conversion.go
  internal/apis/core/v1alpha3/zz_generated.conversion.go
  internal/apis/core/v1alpha4/conversion.go
  internal/apis/core/v1alpha4/zz_generated.conversion.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/machinedeployment_sync_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/topology/names/names.go
  internal/webhooks/clusterclass.go
  internal/webhooks/machinedeployment.go
  internal/webhooks/machinedeployment_test.go
  internal/webhooks/machineset.go
  internal/webhooks/machineset_test.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Changes to prioritise remediation for machine set controller
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Allow scalability to have custom deletion timeout
  test/e2e/scale.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

book: fix versions.md for v1.32
  docs/book/src/reference/versions.md
Due: none

Set v1.7 EOL date and update CoreDns version table
  CONTRIBUTING.md
  docs/book/src/reference/versions.md
Due: none

github: update branches for weekly actions
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-security-scan.yaml
  .github/workflows/weekly-test-release.yaml
Due: none

Update RemediateMachineAnnotation description
  api/v1beta1/common_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump golang.org/x/crypto
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump golang.org/x/crypto
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

CONTRIBUTING.md fix dead links
  CONTRIBUTING.md
Due: none

Bump golang.org/x/net
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update version page
  docs/book/src/reference/versions.md
Due: none

Bump sigs.k8s.io/kind to v0.26.0
  hack/ensure-kind.sh
  test/framework/bootstrap/kind_provider.go
  test/go.mod
  test/go.sum
  test/infrastructure/kind/mapper.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Release v1.9.1
  CHANGELOG/v1.9.1.md
Due: none

GITHUB: downgrade gh-release action
  .github/workflows/release.yaml
Due: none

v1.9.1 trigger release
  CHANGELOG/v1.9.1.md
Due: none

Fix godoc manually by simply replacing existing comments
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/common_types.go
  api/v1beta1/condition_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/machineset_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_types.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/api/v1beta1/machinepool_types.go
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  exp/runtime/hooks/api/v1alpha1/common_types.go
  exp/runtime/hooks/api/v1alpha1/topologymutation_types.go
  internal/apis/bootstrap/kubeadm/v1alpha4/kubeadm_types.go
  internal/apis/controlplane/kubeadm/v1alpha3/kubeadm_control_plane_types.go
  internal/apis/controlplane/kubeadm/v1alpha4/kubeadm_control_plane_types.go
  internal/apis/core/exp/addons/v1alpha3/clusterresourceset_types.go
  internal/apis/core/exp/addons/v1alpha4/clusterresourceset_types.go
  internal/apis/core/exp/v1alpha3/machinepool_types.go
  internal/apis/core/exp/v1alpha4/machinepool_types.go
  internal/apis/core/v1alpha3/cluster_types.go
  internal/apis/core/v1alpha3/common_types.go
  internal/apis/core/v1alpha3/condition_types.go
  internal/apis/core/v1alpha3/machinedeployment_types.go
  internal/apis/core/v1alpha3/machinehealthcheck_types.go
  internal/apis/core/v1alpha3/machineset_types.go
  internal/apis/core/v1alpha4/cluster_types.go
  internal/apis/core/v1alpha4/clusterclass_types.go
  internal/apis/core/v1alpha4/common_types.go
  internal/apis/core/v1alpha4/condition_types.go
  internal/apis/core/v1alpha4/machinedeployment_types.go
  internal/apis/core/v1alpha4/machinehealthcheck_types.go
  internal/apis/core/v1alpha4/machineset_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump kpromo to 5ab0dbc74b0228c22a93d240596dff77464aee8f
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: non control plane node deletion when the cluster has no control plane machines
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
  util/collections/machine_filters.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments
  controlplane/kubeadm/internal/controllers/remediation_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump github-action-markdown-link-check to 1.0.15
  .github/workflows/pr-md-link-check.yaml
  .github/workflows/weekly-md-link-check.yaml
Due: none

GitHub repo: Add support for valid GitHub URLs
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_github_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix lint
  cmd/clusterctl/client/repository/repository_github.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use long name version for Canonical Kubernetes
  docs/book/src/reference/providers.md
Due: none

add TypedAll, ResourceIsUnchanged and TypedResourceIsUnchanged predicates
  util/predicates/generic_predicates.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add ResourceIsUnchanged predicate to secondary objects/Watches
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  controlplane/kubeadm/internal/controllers/controller.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourcesetbinding_controller.go
  exp/internal/controllers/machinepool_controller.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Cache DiscoveryVariables calls
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
  internal/controllers/topology/cluster/patches/external/external_patch_generator_test.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  internal/runtime/client/fake/fake_client.go
  internal/runtime/registry/registry.go
  test/extension/handlers/topologymutation/handler_integration_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
