Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26

pull-cluster-api-test-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

More comments
  Makefile
  hack/tools/triage/.gitignore
  hack/tools/triage/config.yaml
  hack/tools/triage/triage-improvements.patch
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test: filter cluster-wide objects asserted in ResourceVersion tests to exclude objects of parallel tests
  cmd/clusterctl/client/cluster/ownergraph.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/quick_start_test.go
  test/framework/finalizers_helpers.go
  test/framework/ownerreference_helpers.go
  test/framework/resourceversion_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:seedling: Allow users to specify webhook server cert and key name
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  exp/runtime/server/server.go
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Document failureReason and Message are considered terminal errors
  docs/book/src/developer/architecture/controllers/cluster.md
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/developer/architecture/controllers/machine-pool.md
  docs/book/src/developer/architecture/controllers/machine.md
  docs/book/src/developer/providers/bootstrap.md
  docs/book/src/developer/providers/cluster-infrastructure.md
  docs/book/src/developer/providers/machine-infrastructure.md
  docs/book/src/tasks/automated-machine-management/healthchecking.md
Due: none

Support MachinePools without MachinePoolMachines in clusterctl upgrade test
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

review fixes
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/quick_start_test.go
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address comments
  docs/book/src/developer/architecture/controllers/cluster.md
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/developer/architecture/controllers/machine-pool.md
  docs/book/src/developer/architecture/controllers/machine.md
  docs/book/src/developer/providers/bootstrap.md
  docs/book/src/developer/providers/cluster-infrastructure.md
  docs/book/src/developer/providers/machine-infrastructure.md
Due: none

🌱 Add triage-party for the Cluster API backlog (#10437)
  Makefile
  hack/tools/triage/.gitignore
  hack/tools/triage/config.yaml
  hack/tools/triage/triage-improvements.patch
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

review fixes
  cmd/clusterctl/client/cluster/ownergraph.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/quick_start_test.go
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🐛 test: filter cluster-wide objects asserted in ResourceVersion tests to exclude objects of parallel tests (#10560)
  cmd/clusterctl/client/cluster/ownergraph.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/quick_start_test.go
  test/framework/finalizers_helpers.go
  test/framework/ownerreference_helpers.go
  test/framework/resourceversion_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

[release-1.7] 🐛 test: filter cluster-wide objects asserted in ResourceVersion tests to exclude objects of parallel tests (#10570)
  cmd/clusterctl/client/cluster/ownergraph.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/quick_start_test.go
  test/framework/finalizers_helpers.go
  test/framework/ownerreference_helpers.go
  test/framework/resourceversion_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

RBAC: remove permissions on finalizers subresource because we never use the subresource directly
  bootstrap/kubeadm/config/rbac/role.yaml
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  config/rbac/role.yaml
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/internal/controllers/machinepool_controller.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
  test/infrastructure/docker/config/rbac/role.yaml
  test/infrastructure/docker/exp/controllers/exp.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/inmemory/config/rbac/role.yaml
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Run lint as part of verify
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Optimize dependabot config
  .github/dependabot.yaml
Due: none

Implements paused condition for kubeadm kcp
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

seedling: Allow users to specify webhook server cert and key name
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  exp/runtime/server/server.go
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Set terminationMessagePolicy to FallbackToLogsOnError for all managers
  bootstrap/kubeadm/config/manager/manager.yaml
  config/manager/manager.yaml
  controlplane/kubeadm/config/manager/manager.yaml
  test/extension/config/default/manager.yaml
  test/infrastructure/docker/config/manager/manager.yaml
  test/infrastructure/inmemory/config/manager/manager.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Clarify what cannot be restored anymore means
  docs/book/src/developer/architecture/controllers/cluster.md
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/developer/architecture/controllers/machine-pool.md
  docs/book/src/developer/architecture/controllers/machine.md
  docs/book/src/developer/providers/bootstrap.md
  docs/book/src/developer/providers/cluster-infrastructure.md
  docs/book/src/developer/providers/machine-infrastructure.md
Due: none

📖 Document failureReason and Message are considered terminal errors (#10561)
  docs/book/src/developer/architecture/controllers/cluster.md
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/developer/architecture/controllers/machine-pool.md
  docs/book/src/developer/architecture/controllers/machine.md
  docs/book/src/developer/providers/bootstrap.md
  docs/book/src/developer/providers/cluster-infrastructure.md
  docs/book/src/developer/providers/machine-infrastructure.md
  docs/book/src/tasks/automated-machine-management/healthchecking.md
Due: none

chore: Bump go version to 1.22.3
  Makefile
  Tiltfile
  netlify.toml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Flag for old infra machine naming
  config/manager/manager.yaml
  controllers/alias.go
  controlplane/kubeadm/config/manager/manager.yaml
  controlplane/kubeadm/controllers/alias.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/main.go
  internal/controllers/machineset/machineset_controller.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Allow control plane count to be configurable in clusterctl upgrade test.
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test: Ensure ownerRef assertions for all Kinds are evaluated
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Document terminationMessagePolicy suggestion for providers
  docs/book/src/developer/providers/migrations/v1.7-to-v1.8.md
Due: none

:seedling: Add release v1.6.5
  CHANGELOG/v1.6.5.md
Due: none

Modify ConfigClusterWithBinary to support ControlPlaneMachineCount of 0
  test/e2e/clusterctl_upgrade.go
  test/framework/clusterctl/client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🐛 Skip publishing the RemediationRestricted event when there are no unhealty target
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

🚀 Release v1.7.2
  CHANGELOG/v1.7.2.md
Due: none

Addressed review comments
  CHANGELOG/v1.7.2.md
Due: none

GitLab can use both Path and RawPath
  cmd/clusterctl/client/repository/client.go
  cmd/clusterctl/client/repository/repository_gitlab.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterCacheTracker: use indexes field instead of passing it around
  controllers/remote/cluster_cache_tracker.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
