Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

MachinePool annotation for externally managed autoscaler
  api/v1beta1/common_types.go
  docs/book/src/developer/architecture/controllers/machine-pool.md
  docs/book/src/developer/providers/v1.2-to-v1.3.md
  docs/book/src/reference/labels_and_annotations.md
  exp/api/v1beta1/machinepool_types.go
  exp/internal/controllers/machinepool_controller_phases.go
  util/annotations/helpers.go
  util/annotations/helpers_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

logging: Avoid adding multiple objects to the same logger in for loops
  controlplane/kubeadm/internal/controllers/controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/patches/engine.go
  test/extension/handlers/topologymutation/handler.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Adoption for stand-alone objects should ignore objects generated by MachineDeployments
  internal/controllers/machine/machine_controller.go
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add validation for number of CIDR ranges specified in Clusters
  api/v1beta1/cluster_types.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add missing fields in ControlPlaneClass and MachineDeploymentClass
  api/v1alpha4/conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterCacheTracker: non-blocking per-cluster locking
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_tracker.go
  controllers/remote/keyedmutex.go
  controllers/remote/keyedmutex_test.go
  controlplane/kubeadm/internal/controllers/controller.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add kubekey provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/reference/glossary.md
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

self-hosted e2e should check managed fields
  test/e2e/self_hosted.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Reduce github api requests in clusterctl
  cmd/clusterctl/client/config/cert_manager.go
  cmd/clusterctl/client/config/cert_manager_client.go
  cmd/clusterctl/client/repository/goproxy.go
  cmd/clusterctl/client/repository/goproxy_test.go
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_github_test.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/clusterctl/overview.md
  docs/book/src/clusterctl/provider-contract.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: update book links in introduction.md for Cluster API v1.4
  docs/book/src/introduction.md
Due: none

Move lowestNonZeroRetryAfterSeconds to util
  internal/controllers/topology/cluster/scope/hookresponsetracker.go
  internal/runtime/client/client.go
  util/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

remove useless tab
  docs/book/src/user/quick-start.md
Due: none

Add the quickstart details for KubeVirt
  docs/book/src/user/quick-start.md
Due: none

Update e2e components to v1.2.5
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add clusterctl to providers deployed with tilt
  hack/tools/tilt-prepare/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add kubekey k3s boostrap and control plane provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

[release-1.3] :sparkles:add kubekey k3s boostrap and control plane provider (#7554)
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add kubekey k3s boostrap and control plane provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add finalizer reconcile for Topology MachineDeployments and MachineSets
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/topology/machineset/machineset_controller.go
  internal/controllers/topology/machineset/machineset_controller_test.go
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add release tasks doc and corresponding issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/release_tracking.md
  CONTRIBUTING.md
  docs/developer/release-cycle.md
  docs/developer/releasing.md
  docs/release/release-1.3.md
  docs/release/release-1.4.md
  docs/release/release-cycle-overview.png
  docs/release/release-cycle.md
  docs/release/release-tasks.md
  docs/release/release-team.md
  hack/verify-doctoc.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: Add note about dependency bumps to Beta change policy
  docs/release/release-cycle.md
Due: none

Update support policy
  CONTRIBUTING.md
Due: none

New Filter NeedsRollout to determine if a machine needs rollout.
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/filters.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: add documentation and issuetemplate for Kubernetes bump
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/kubernetes_bump.md
  .github/ISSUE_TEMPLATE/release_tracking.md
  CONTRIBUTING.md
  docs/release/release-1.3.md
  docs/release/release-1.4.md
  docs/release/release-tasks.md
Due: none

quickstart: consistent Linux captialization
  docs/book/src/user/quick-start.md
Due: none

add initial test for ownerRefs
  cmd/clusterctl/client/cluster/ownergraph.go
  test/e2e/owner_references.go
  test/e2e/owner_references_test.go
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
