Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Export desired state computation
  exp/util/topology/desired_state.go
  exp/util/topology/desired_state_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/current_state_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/controllers/topology/cluster/util.go
  internal/topology/clustershim/clustershim.go
  internal/topology/names/names.go
  internal/topology/ownerrefs/ownerref.go
  internal/topology/selectors/selectors.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Export BuiltinVariables and variable util funcs
  exp/runtime/hooks/api/v1alpha1/topologymutation_variable_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.deepcopy.go
  exp/runtime/topologymutation/variables.go
  exp/runtime/topologymutation/variables_test.go
  exp/runtime/topologymutation/walker.go
  exp/runtime/topologymutation/walker_test.go
  internal/controllers/topology/cluster/patches/inline/json_patch_generator.go
  internal/controllers/topology/cluster/patches/inline/json_patch_generator_test.go
  internal/controllers/topology/cluster/patches/variables/merge.go
  internal/controllers/topology/cluster/patches/variables/merge_test.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/controllers/topology/cluster/patches/variables/variables_test.go
  test/extension/handlers/topologymutation/handler_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add integration test to test extension
  test/extension/handlers/topologymutation/handler_integration_test.go
  test/extension/handlers/topologymutation/testdata/clusterclass-quick-start-runtimesdk.yaml
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update docs for beta ClusterResourceSet
  config/manager/manager.yaml
  docs/book/src/developer/testing.md
  docs/book/src/developer/tilt.md
  docs/book/src/tasks/experimental-features/cluster-resource-set.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/book/src/user/quick-start.md
  test/e2e/config/docker.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

bump docker/docker to 26.0.0+incompatible
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Do not update KCP.Status and MS.Status when unable to get workload cluster
  controlplane/kubeadm/internal/controllers/fakes_test.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/controllers/status_test.go
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

adding message to drain reasons
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fix lint warnings
  test/infrastructure/container/docker.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove non existing CAEP doc links
  docs/proposals/20200511-clusterctl-extensible-template-processing.md
Due: none

Fix ClusterClass variables status & RuntimeExtension and add test coverage
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
  test/extension/handlers/topologymutation/handler.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments
  exp/runtime/topologymutation/walker_test.go
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/scope/blueprint.go
  exp/topology/desiredstate/scope/blueprint_test.go
  exp/topology/desiredstate/scope/doc.go
  exp/topology/desiredstate/scope/hookresponsetracker.go
  exp/topology/desiredstate/scope/hookresponsetracker_test.go
  exp/topology/desiredstate/scope/scope.go
  exp/topology/desiredstate/scope/scope_test.go
  exp/topology/desiredstate/scope/state.go
  exp/topology/desiredstate/scope/state_test.go
  exp/topology/desiredstate/scope/upgradetracker.go
  exp/topology/desiredstate/scope/upgradetracker_test.go
  internal/controllers/topology/cluster/blueprint.go
  internal/controllers/topology/cluster/blueprint_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
  internal/controllers/topology/cluster/current_state.go
  internal/controllers/topology/cluster/current_state_test.go
  internal/controllers/topology/cluster/patches/engine.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  test/extension/handlers/topologymutation/handler_integration_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Regenerate openapi.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move desired/scope to scope
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/scope/blueprint.go
  exp/topology/scope/blueprint_test.go
  exp/topology/scope/doc.go
  exp/topology/scope/hookresponsetracker.go
  exp/topology/scope/hookresponsetracker_test.go
  exp/topology/scope/scope.go
  exp/topology/scope/scope_test.go
  exp/topology/scope/state.go
  exp/topology/scope/state_test.go
  exp/topology/scope/upgradetracker.go
  exp/topology/scope/upgradetracker_test.go
  internal/controllers/topology/cluster/blueprint.go
  internal/controllers/topology/cluster/blueprint_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
  internal/controllers/topology/cluster/current_state.go
  internal/controllers/topology/cluster/current_state_test.go
  internal/controllers/topology/cluster/patches/engine.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  test/extension/handlers/topologymutation/handler_integration_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address comments
  docs/book/src/user/manifesto.md
Due: none

Fix clusterctl upgrade e2e tests (enable CRS)
  test/e2e/config/docker.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  test/extension/handlers/topologymutation/handler_integration_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix using corerect testing.T when creating gomega object
  internal/controllers/clusterclass/clusterclass_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Fix for TestServerSideApplyWithDefaulting
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add release notes expander functionality
  hack/tools/release/notes/generator.go
  hack/tools/release/notes/list.go
  hack/tools/release/notes/main.go
  hack/tools/release/notes/print.go
  hack/tools/release/notes/process.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Avoid leaving orphaned InfrastructureCluster when create control plane fails
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Best effort cleanup of referenced templates/objects
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

added go directive test
  Makefile
  hack/verify-go-directive.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Update version matrix for github workflows
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-security-scan.yaml
  .github/workflows/weekly-test-release.yaml
Due: none

Fix linkchecker base branch
  .github/workflows/pr-md-link-check.yaml
Due: none

Add BootstrapFailedMachineError error
  errors/consts.go
  errors/machines.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve clarity of prowjob configuration regeneration instructions
  docs/release/release-tasks.md
Due: none

update gh actions for release-1.7
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-security-scan.yaml
  .github/workflows/weekly-test-release.yaml
Due: none

API: Adds PausedCondition and related reasons
  api/v1beta1/condition_consts.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add release v1.7.0-rc.0
  CHANGELOG/v1.7.0-rc.0.md
Due: none

Change base branch for link checker for release-1.7
  .github/workflows/pr-md-link-check.yaml
Due: none

rm duplicated release task
  docs/release/release-tasks.md
Due: none
