Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

📝 document migrating to user-managed cert-manager
  docs/book/src/SUMMARY.md
  docs/book/src/clusterctl/configuration.md
Due: none

Add test to demonstrate that `RemoveOwnerRef` mutates its input
  util/util_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix RemoveOwnerRef so that it does not mutate its input
  util/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update ClusterResourceSetBinding owner references
  exp/addons/api/v1beta1/clusterresourcesetbinding_types.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

book: add doc about Cluster API ugprades with ClusterClass
  docs/book/src/tasks/experimental-features/cluster-class/operate-cluster.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-topology-mutation-hook.md
Due: none

add PreWaitForCluster hook and CNIPath to e2e clusterctl upgrade test
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix RemoveOwnerRef unit test to use fresh ownerRefs for each test case
  util/util_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Revert "Fix RemoveOwnerRef so that it does not mutate its input"
  util/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove empty Makefile target
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix spelling of enhancement
  CONTRIBUTING.md
  docs/proposals/YYYYMMDD-template.md
Due: none

Improve provider definition in docs
  docs/book/src/reference/glossary.md
  docs/book/src/user/concepts.md
  docs/proposals/20220221-runtime-SDK.md
Due: none

Add Cluster API Add-on Orchestration proposal
  docs/proposals/20220712-cluster-api-addon-orchestration.md
Due: none

Update ginkgo (2.1.4 -> 2.2.0) and set poll-progress-after and poll-progress-interval
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/Makefile
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

[release-1.2] 🐛 Fix RemoveOwnerRef unit test to use fresh ownerRefs for each test case (#7313)
  util/util_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

teste/e2e: tag clusterctl ClusterClass test with [ClusterClass]
  test/e2e/clusterctl_upgrade_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add failure domain annotation to node
  api/v1beta1/common_types.go
  internal/controllers/machine/machine_controller_noderef.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

make test-extension config compliant with the clusterctl contract
  Makefile
  docs/book/src/clusterctl/provider-contract.md
  test/extension/Dockerfile
  test/extension/config/certmanager/certificate.yaml
  test/extension/config/default/kustomization.yaml
  test/extension/config/default/manager.yaml
  test/extension/config/default/manager_image_patch.yaml
  test/extension/config/default/manager_pull_policy.yaml
  test/extension/config/default/manager_webhook_patch.yaml
  test/extension/config/default/namespace.yaml
  test/extension/config/default/role.yaml
  test/extension/config/default/rolebinding.yaml
  test/extension/config/default/service.yaml
  test/extension/config/default/service_account.yaml
  test/extension/config/tilt/extensionconfig.yaml
  test/extension/config/tilt/hookresponses-configmap.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add ok-to-test label to dependabot prs
  .github/dependabot.yml
Due: none

Bump kindnet to kindest/kindnetd:v20221004-44d545d1
  test/e2e/data/cni/kindnet/kindnet.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update golangci-lint 1.50. Enable new linter dupword
  .github/workflows/golangci-lint.yml
  .golangci.yml
  cmd/clusterctl/client/yamlprocessor/simple_processor_test.go
  internal/contract/types_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Set nofile ulimit for loadbalancer container
  test/go.mod
  test/infrastructure/container/docker.go
  test/infrastructure/container/interface.go
  test/infrastructure/docker/internal/docker/kind_manager.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add support for IPAM and Runtime Extension provider in clusterctl
  cmd/clusterctl/api/v1alpha3/labels.go
  cmd/clusterctl/api/v1alpha3/provider_type.go
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/delete.go
  cmd/clusterctl/client/init.go
  cmd/clusterctl/client/upgrade.go
  cmd/clusterctl/cmd/delete.go
  cmd/clusterctl/cmd/generate_provider.go
  cmd/clusterctl/cmd/init.go
  cmd/clusterctl/cmd/init_list_images.go
  cmd/clusterctl/cmd/upgrade_apply.go
  cmd/clusterctl/hack/create-local-repository.py
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add support for IPAM and Runtime Extension provider in tilt
  Tiltfile
  docs/book/src/developer/tilt.md
  hack/tools/tilt-prepare/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add support for IPAM and Runtime Extension provider in E2E
  test/e2e/Makefile
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/config/docker.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/self_hosted.go
  test/extension/handlers/lifecycle/handlers.go
  test/framework/clusterctl/client.go
  test/framework/clusterctl/clusterctl_helpers.go
  test/framework/clusterctl/e2e_config.go
  test/framework/clusterctl/repository.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Log full object name and creation error for topology template reconcile
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Remove test/e2e/Makefile and move targets to root Makefile
  Makefile
  docs/book/src/developer/testing.md
  scripts/ci-e2e.sh
  test/e2e/Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix marshaling of taints, so an empty slice is preserved
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix marshalling of taints to preserve empty slice
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  test/extension/handlers/topologymutation/handler_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to Go 1.19.2
  Makefile
  Tiltfile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to Go 1.18.7
  Makefile
  Tiltfile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Make KCP diskSetup field mutable
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
