Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231208-8b9fd88e88-1.29
      resources:
        requests:
          cpu: 7300m
          memory: 9Gi
        limits:
          cpu: 7300m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231208-8b9fd88e88-1.29
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 9Gi
        limits:
          cpu: 7300m
          memory: 9Gi

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231208-8b9fd88e88-1.29
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Stop relying on GVK being set
  bootstrap/util/configowner.go
  bootstrap/util/configowner_test.go
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/upgrade_test.go
  util/patch/patch.go
  util/patch/utils.go
  util/patch/utils_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

A few more default log level
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  test/extension/main.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Replace deprecated klogr.New()
  controllers/remote/cluster_cache_healthcheck_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/scale.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/controllers/status_test.go
  hack/tools/runtime-openapi-gen/main.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/machinedeployment_sync_test.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/test/envtest/environment.go
  util/failuredomains/failure_domains.go
  util/failuredomains/failure_domains_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Bump conversion-gen to v0.29.0
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Bump kubebuilder to 1.29.0
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add release v1.5.5
  CHANGELOG/v1.5.5.md
Due: none

Add release v1.6.1
  CHANGELOG/v1.6.1.md
Due: none

fixes
  .github/ISSUE_TEMPLATE/kubernetes_bump.md
  docs/release/release-tasks.md
  hack/boilerplate/boilerplate.py
  hack/tools/prowjob-gen/README.md
  hack/tools/prowjob-gen/config.go
  hack/tools/prowjob-gen/generator.go
  hack/tools/prowjob-gen/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix
  hack/tools/prowjob-gen/config.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix
  hack/tools/prowjob-gen/generator.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix test
  hack/tools/prowjob-gen/generator.go
  hack/tools/prowjob-gen/main.go
  hack/tools/prowjob-gen/main_test.go
  hack/tools/prowjob-gen/test/test-configuration.yaml
  hack/tools/prowjob-gen/test/test-main.yaml.golden
  hack/tools/prowjob-gen/test/test.yaml.tpl
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix readme
  hack/tools/prowjob-gen/README.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

add test for README.md to be in sync with test/test-configuration.yaml
  hack/tools/prowjob-gen/README.md
  hack/tools/prowjob-gen/main_test.go
  hack/tools/prowjob-gen/test/test-configuration.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

generate-modules
  hack/tools/go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

test/e2e: bump WorkloadKubernetesVersion for v1.6 clusterctl upgrade test
  test/e2e/clusterctl_upgrade_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Simplify testing nightly builds with clusterctl
  cmd/clusterctl/hack/create-local-repository.py
  docs/book/src/clusterctl/developers.md
  metadata.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

hack/prowjob-gen skip creating empty files
  hack/tools/prowjob-gen/generator.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

nits
  docs/book/src/clusterctl/commands/init.md
Due: none

Add docker image verify script
  Makefile
  hack/docker-image-verify.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Watch for Cluster resources in topology MachineSet controller
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
  test/framework/finalizers_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

test: adjust capd dockerfile so the binary exposes the package in the built binraries path variable
  hack/docker-image-verify.sh
  test/infrastructure/docker/Dockerfile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Sync version and release docs with main
  CONTRIBUTING.md
  docs/book/src/reference/versions.md
  docs/release/release-cycle.md
Due: none

rename others tab
  docs/book/src/user/quick-start.md
Due: none

Move CecileRobertMichon to emeritus
  OWNERS
  OWNERS_ALIASES
Due: none

Support configuring ExtraPortMappings for the kind cluster
  test/framework/bootstrap/kind_provider.go
  test/framework/bootstrap/kind_util.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Renaming the K0smotron provider to match the new naming convention.
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add k0smotron provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

add Go utility on generating git issues at provider repos
  Makefile
  docs/release/release-tasks.md
  hack/tools/release/internal/update_providers/README.md
  hack/tools/release/internal/update_providers/provider_issues.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Promote chrischdi to Cluster API maintainer
  OWNERS_ALIASES
Due: none

Cluster webhook test
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

Add mp to clusterclass_test.go
  internal/webhooks/clusterclass_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

read in dockerfile from stdin
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add mp to patch_validation_test.go
  internal/webhooks/patch_validation_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

Add mp to clusterclass_controller_test.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

bump github.com/docker/docker from 24.0.7 -> 25.0.0
  hack/tools/go.mod
  hack/tools/go.sum
  test/framework/kubetest/run.go
  test/go.mod
  test/go.sum
  test/infrastructure/container/docker.go
  test/infrastructure/container/interface.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix dockerfile for clusterctl build
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
