Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

bump go-github dependency to version v53
  cmd/clusterctl/client/cluster/template.go
  cmd/clusterctl/client/cluster/template_test.go
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_github_test.go
  cmd/clusterctl/cmd/version_checker.go
  cmd/clusterctl/internal/test/fake_github.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add Release Writer to release team roles
  docs/release/release-tasks.md
  docs/release/release-team.md
  docs/release/releases/release-1.6.md
Due: none

:seedling: Extend docs for patch.NewHelper
  util/patch/patch.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add helper functionality for label based event filtering
  util/predicates/expression_predicates.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add tests for label expression matcher predicate
  test/infrastructure/docker/controllers/alias.go
  test/infrastructure/docker/exp/controllers/alias.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/controllers/alias.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  test/infrastructure/inmemory/main.go
  util/predicates/expression_predicates.go
  util/predicates/expression_predicates_test.go
  util/predicates/suite_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Expose selector for default cache pre-filtering
  util/predicates/cluster_predicates.go
  util/predicates/expression_predicates.go
  util/predicates/generic_predicates.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add test for the label selector as a default object cache filter
  internal/test/envtest/environment.go
  util/predicates/expression_predicates_test.go
  util/predicates/suite_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add default cache filter based on label selector
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Integrate expresion predicate into each controller setup
  bootstrap/kubeadm/main.go
  controllers/remote/cluster_cache_reconciler.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/main.go
  exp/addons/internal/controllers/clusterresourcesetbinding_controller.go
  exp/internal/controllers/machinepool_controller.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
  main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Pass label predicate everywhere
  bootstrap/kubeadm/controllers/alias.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  controllers/alias.go
  controllers/remote/cluster_cache_reconciler.go
  controlplane/kubeadm/controllers/alias.go
  controlplane/kubeadm/internal/controllers/controller.go
  exp/addons/controllers/alias.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourcesetbinding_controller.go
  exp/controllers/alias.go
  exp/internal/controllers/machinepool_controller.go
  exp/runtime/controllers/alias.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Revert to WatchFilterValue
  bootstrap/kubeadm/controllers/alias.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/main.go
  controllers/alias.go
  controllers/remote/cluster_cache_reconciler.go
  controlplane/kubeadm/controllers/alias.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/main.go
  exp/addons/controllers/alias.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourcesetbinding_controller.go
  exp/controllers/alias.go
  exp/internal/controllers/machinepool_controller.go
  exp/runtime/controllers/alias.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
  main.go
  test/infrastructure/docker/controllers/alias.go
  test/infrastructure/docker/exp/controllers/alias.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/controllers/alias.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  test/infrastructure/inmemory/main.go
  util/predicates/expression_predicates.go
  util/predicates/suite_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🐛 Skipping cleanup unhealthy replicas when oldMSReplicas is lower than oldMSAvailableReplicas
  internal/controllers/machinedeployment/machinedeployment_rolling.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Syncing upstream
  sync-upstream-repo
Due: none

OCNE bootstrap and control plane changes
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/reference/glossary.md
  docs/book/src/reference/providers.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix line spaces
  docs/book/src/clusterctl/provider-contract.md
Due: none

Move `internal.labels` to `format` package for use by providers
  api/v1beta1/machineset_webhook.go
  controlplane/kubeadm/internal/cluster_labels.go
  exp/internal/controllers/machinepool_controller_phases.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  internal/controllers/machineset/machineset_controller.go
  util/labels/format/helpers.go
  util/labels/format/helpers_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

reimport gomega
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

reimport gomega in config test
  cmd/clusterctl/client/config_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Rearrange OCNE to alphabetical and add more test data
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure the default cache filtering is only applied when the watchExpression value is set
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix role names in release docs
  docs/release/release-team.md
  docs/release/releases/release-1.6.md
Due: none

Add cluster topology metadata validatino
  api/v1beta1/common_types.go
  api/v1beta1/common_validate.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add ut
  internal/controllers/machinedeployment/machinedeployment_rolling_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

:book: Add link to "clusterctl move" docs.
  docs/book/src/clusterctl/commands/move.md
Due: none

Add a section for configuring Kubelet in Cluster API
  docs/book/src/SUMMARY.md
  docs/book/src/tasks/bootstrap/kubeadm-bootstrap/index.md
  docs/book/src/tasks/bootstrap/kubeadm-bootstrap/kubelet-config.md
Due: none

Rename variable name OCNEBootstrapProviderName to OracleCloudNativeBootstrapProviderName
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add custom ha proxy config to CAPD API
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/dockercluster_types.go
  test/infrastructure/docker/api/v1beta1/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclustertemplates.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Replace HA proxy config with custom one if specified
  test/infrastructure/docker/api/v1beta1/dockercluster_types.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclustertemplates.yaml
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/docker/internal/docker/loadbalancer.go
  test/infrastructure/docker/internal/loadbalancer/config.go
  test/infrastructure/docker/internal/loadbalancer/config_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

hack/release-notes: ensure relase notes tool can be used for external projects again
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

use AvailableReplicas to calculate new replicas for old machineset.
  internal/controllers/machinedeployment/machinedeployment_rolling.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fixed grammatically incorrect plurals in release tools
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterCacheTracker: fix accessor deletion on health check failure
  controllers/remote/cluster_cache_tracker.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterCacheTracker: ensure Get/List calls are not getting stuck when apiserver is unreachable
  controllers/remote/cluster_cache_tracker.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add more links to release-tasks doc
  docs/release/release-tasks.md
Due: none

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
