Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Fix kubeadmconfig secret ownerRef reconciliation for nodes
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/token.go
  test/e2e/owner_references.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix re-reconcile of controlplane cert ownerreferences
  controlplane/kubeadm/internal/controllers/controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix annotation for CC, ownerRef race for KCP/CAPBK
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/token.go
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/e2e: fix ClusterClass changes flake
  test/e2e/clusterclass_changes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/e2e: bump ginkgo binary to v2.5.0
  Makefile
  docs/book/src/developer/providers/v1.2-to-v1.3.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add getRawUrlFileContent method to handle raw url & Unit Test
  cmd/clusterctl/client/cluster/template.go
  cmd/clusterctl/client/cluster/template_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Removed the writing of os.environment by passing the 'env' parameter in cmd_button | Bumping the minimum supported Tilt version to v0.30.8
  Tiltfile
  docs/book/src/developer/tilt.md
Due: none

remove dual refs from inframachines and bootstrap configs
  internal/controllers/machine/machine_controller_phases.go
  test/e2e/owner_references.go
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix error message
  internal/controllers/machine/machine_controller_phases.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

docs: add documentation and issuetemplate for Kubernetes bump
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/kubernetes_bump.md
  .github/ISSUE_TEMPLATE/release_tracking.md
  CONTRIBUTING.md
  docs/release/release-1.3.md
  docs/release/release-1.4.md
  docs/release/release-tasks.md
Due: none

Introduce additional linters & bump golangci-lint to 1.50.1
  .github/workflows/golangci-lint.yml
  .golangci.yml
  cmd/clusterctl/client/repository/goproxy.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure infra and bootstrap objects are owned by Machines
  internal/controllers/machine/machine_controller_phases.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

update clusterctl version to v1.3.x in quickstart
  docs/book/src/user/quick-start.md
Due: none

MD reconciler: improve integration test
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

KCP: remove unused code
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add DeleteAndWait function for ClusterClass flaky test
  internal/webhooks/test/clusterclass_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Proposal for in place propagation of changes affecting Kubernetes objects only
  docs/book/src/reference/glossary.md
  docs/proposals/20221003-In-place-propagation-of-Kubernetes-objects-only-changes.md
  docs/proposals/images/in-place-propagation/current-state.png
  docs/proposals/images/in-place-propagation/optional-changes.png
  docs/proposals/images/in-place-propagation/proposed-changes.png
Due: none

Fix kubeadmconfig bootstrapsecret ownerRef reconciliation
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/token.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix adopting ClusterResourceSet resource by CRS when already applied
  exp/addons/internal/controllers/clusterresourceset_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fixed images and added original pptx
  docs/proposals/images/in-place-propagation/Metadata propagation.pptx
  docs/proposals/images/in-place-propagation/optional-changes.png
  docs/proposals/images/in-place-propagation/proposed-changes.png
Due: none

Add initial test for finalizers
  cmd/clusterctl/client/cluster/ownergraph.go
  test/e2e/quick_start.go
  test/e2e/quick_start_test.go
  test/framework/finalizer_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve Machine adoption
  api/v1beta1/machine_types.go
  controlplane/kubeadm/internal/cluster_labels.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Get Ginkgo version in Makefile from go.mod
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add KubeCon Detroit 2022 videos to CAPI book
  docs/book/src/developer/guide.md
Due: none

Use latest kind images for CAPD
  Tiltfile
  docs/book/src/developer/tilt.md
  docs/book/src/user/quick-start.md
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/framework/bootstrap/kind_provider.go
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
  test/infrastructure/docker/internal/docker/machine.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove fix RBAC from component management in clusterctl
  cmd/clusterctl/client/cluster/components.go
  cmd/clusterctl/client/repository/components.go
  cmd/clusterctl/client/repository/components_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix bug in kubeadmconfig adoption
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
