Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Fix review findings
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

enable optionalorrequired linter
  .golangci-kal.yml
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/common_types.go
  api/v1beta1/condition_types.go
  api/v1beta1/machine_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machinedrainrules_types.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/machineset_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_types.go
  cmd/clusterctl/api/v1alpha3/metadata_type.go
  cmd/clusterctl/api/v1alpha3/provider_type.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_types.go
  exp/api/v1beta1/machinepool_types.go
  exp/ipam/api/v1alpha1/ipaddress_types.go
  exp/ipam/api/v1alpha1/ipaddressclaim_types.go
  exp/ipam/api/v1beta1/ipaddress_types.go
  exp/ipam/api/v1beta1/ipaddressclaim_types.go
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  exp/runtime/hooks/api/v1alpha1/common_types.go
  exp/runtime/hooks/api/v1alpha1/discovery_types.go
  exp/runtime/hooks/api/v1alpha1/lifecyclehooks_types.go
  exp/runtime/hooks/api/v1alpha1/topologymutation_types.go
  exp/runtime/hooks/api/v1alpha1/topologymutation_variable_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

e2e: create ExtensionConfig including name in settings and create one cm per ExtensionConfig
  test/e2e/cluster_upgrade_runtimesdk.go
  test/extension/config/tilt/extensionconfig.yaml
  test/extension/handlers/lifecycle/handlers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

e2e: limit scale-test's ExtensionConfig to only spec related namespaces
  test/e2e/scale.go
  test/framework/namespace_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Sync machine annotattions to nodes
  api/v1beta1/machine_types.go
  docs/proposals/20220927-label-sync-between-machine-and-nodes.md
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/suite_test.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Plumb manager argument through to controller
  controllers/alias.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Documents new annotations
  docs/book/src/images/metadata-propagation.jpg
  docs/book/src/images/metadata-propagation.pptx
  docs/book/src/reference/api/labels-and-annotations.md
  docs/book/src/reference/api/metadata-propagation.md
  docs/proposals/20220927-labels-and-annotations-sync-between-machine-and-nodes.md
Due: none

Don't add known CAPI annotatoins to annotations-from-machine
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Manage annotations from previous reconciles
  api/v1beta1/common_types.go
  exp/internal/controllers/machinepool_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef.go
  util/annotations/helpers.go
  util/annotations/helpers_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

refactor: drop getManaged{Labels, Annotations} wrappers
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Moves Tests GetManagedLabels,GetManagedAnnotations
  internal/controllers/machine/machine_controller_noderef_test.go
  util/annotations/helpers_test.go
  util/labels/helpers_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add e2e test and refactor filtering
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  test/e2e/clusterclass_rollout.go
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  util/annotations/helpers.go
  util/annotations/helpers_test.go
  util/labels/helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Reduce length of annotation to fix tests
  internal/controllers/machine/machine_controller_noderef.go
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  util/annotations/helpers_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add more details about a use case
  docs/proposals/20220927-labels-and-annotations-sync-between-machine-and-nodes.md
Due: none

:seedling: Implement a smoke test for clusterctl plugins
  cmd/clusterctl/cmd/plugin_test.go
  go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixes
  test/e2e/cluster_upgrade_runtimesdk.go
  test/extension/handlers/lifecycle/handlers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Log version on controller startup
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix review findings
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/common_types.go
  api/v1beta1/condition_types.go
  api/v1beta1/machine_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/zz_generated.openapi.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddresses.yaml
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  exp/api/v1beta1/machinepool_types.go
  exp/ipam/api/v1alpha1/ipaddress_types.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  util/patch/patch_test.go
  util/test/builder/crd/test.cluster.x-k8s.io_phase0obj.yaml
  util/test/builder/crd/test.cluster.x-k8s.io_phase1obj.yaml
  util/test/builder/crd/test.cluster.x-k8s.io_phase2obj.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix review findings
  api/v1beta1/cluster_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddresses.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  exp/ipam/api/v1alpha1/ipaddress_types.go
  exp/ipam/api/v1beta1/ipaddress_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix review findings
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

regen
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

review fixes
  test/extension/handlers/lifecycle/handlers.go
  test/framework/namespace_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump Kubernetes version used for testing to v1.33.0-beta.0
  test/e2e/config/docker.yaml
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:seedling: Better error message when metadata.yaml might be out of date.
  cmd/clusterctl/client/repository/repository_versions.go
  test/framework/clusterctl/e2e_config.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 e2e: create ExtensionConfig including name in settings and create one… (#11956)
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/scale.go
  test/extension/config/tilt/extensionconfig.yaml
  test/extension/handlers/lifecycle/handlers.go
  test/framework/namespace_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update autoscaling from zero enhancement proposal with support for platform-aware autoscale from zero
  docs/proposals/20210310-opt-in-autoscaling-from-zero.md
Due: none

Fix review findings
  api/v1beta1/clusterclass_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review feedback
  docs/book/src/images/metadata-propagation.jpg
  docs/book/src/images/metadata-propagation.pptx
  docs/book/src/reference/api/metadata-propagation.md
  exp/internal/controllers/machinepool_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  main.go
  util/annotations/helpers.go
  util/annotations/helpers_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move Print tree func to a separate package
  cmd/clusterctl/cmd/describe_cluster.go
  internal/util/tree/doc.go
  internal/util/tree/tree.go
  internal/util/tree/tree_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add bootCommands cloud-init file generation
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/internal/cloudinit/boot_commands.go
  bootstrap/kubeadm/internal/cloudinit/cloudinit.go
  bootstrap/kubeadm/internal/cloudinit/cloudinit_test.go
  bootstrap/kubeadm/internal/cloudinit/controlplane_init.go
  bootstrap/kubeadm/internal/cloudinit/controlplane_join.go
  bootstrap/kubeadm/internal/cloudinit/node.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/ignition/clc/clc_test.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfig_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/filters_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane_test.go
  docs/book/src/tasks/bootstrap/kubeadm-bootstrap/index.md
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Apply suggestions from code review
  docs/proposals/20220927-labels-and-annotations-sync-between-machine-and-nodes.md
  util/annotations/helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Cleanup after CRS move
  .golangci-kal.yml
  .golangci.yml
  Makefile
  api/addons/v1beta1/clusterresourceset_types.go
  api/addons/v1beta1/clusterresourcesetbinding_types.go
  controllers/alias.go
  internal/controllers/clusterresourceset/clusterresourceset_controller.go
  internal/controllers/clusterresourceset/clusterresourceset_helpers.go
  internal/controllers/clusterresourceset/clusterresourceset_helpers_test.go
  internal/controllers/clusterresourceset/doc.go
  internal/controllers/clusterresourceset/suite_test.go
  internal/controllers/clusterresourcesetbinding/clusterresourcesetbinding_controller.go
  internal/controllers/clusterresourcesetbinding/doc.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

cluster: validate that infrastructureRef and controlPlaneRef cannot be unset
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Don't allow concurrent patch uppgrades
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main
