Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Add caveat when using delete-machine label
  docs/book/src/tasks/automated-machine-management/scaling.md
Due: none

modified manifests
  bootstrap/kubeadm/config/webhook/manifests.yaml
  config/webhook/manifests.yaml
  controlplane/kubeadm/config/webhook/manifests.yaml
  test/infrastructure/docker/config/webhook/manifests.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add line spacing
  docs/book/src/tasks/automated-machine-management/scaling.md
Due: none

📖 docs: add delete-machine info to Scaling Nodes page (#13195)
  docs/book/src/tasks/automated-machine-management/scaling.md
Due: none

Fix note about CRD contract label in migration doc
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
Due: none

Remove v1beta1 type
  api/core/v1beta1/machinepool_types.go
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta1/zz_generated.deepcopy.go
  api/core/v1beta1/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

make generate
  api/core/v1beta1/zz_generated.conversion.go
  go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Assert requeueing
  internal/controllers/machinepool/machinepool_controller_phases_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Revert accidental change
  test/infrastructure/docker/config/default/manager_image_patch.yaml
  test/infrastructure/docker/config/default/manager_pull_policy.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: add ClusterClass CRD relationships diagram
  docs/book/src/images/clusterclass-crd-relationships.svg
  docs/book/src/reference/api/crd-relationships.md
Due: none

docs: minor fix for Bash syntax
  docs/book/src/tasks/diagnostics.md
Due: none

Refine language in move command documentation
  docs/book/src/clusterctl/commands/move.md
Due: none

Update link format for Contributor License Agreement
  CONTRIBUTING.md
Due: none

Tweak grammar in clusterctl/overview.md
  docs/book/src/clusterctl/overview.md
Due: none

Fix grammar and clarify init.md documentation
  docs/book/src/clusterctl/commands/init.md
Due: none

Updated v1.13 release team members
  docs/release/releases/release-1.13.md
Due: none

Remove the ControlPlaneKubeletLocalMode for kubeadm 1.36 later
  api/core/v1beta1/machine_types.go
  api/core/v1beta2/machine_types.go
  controlplane/kubeadm/internal/desiredstate/desired_state.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  docs/book/src/reference/versions.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address the comments
  controlplane/kubeadm/internal/desiredstate/desired_state.go
  docs/book/src/reference/versions.md
  test/e2e/kcp_adoption.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve client cert/key rotation of the RuntimeSDK client
  controlplane/kubeadm/main.go
  internal/controllers/extensionconfig/extensionconfig_controller_test.go
  internal/controllers/extensionconfig/warmup_test.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  main.go
  util/cache/cache.go
  util/cache/cache_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve client cert/key rotation of the RuntimeSDK client
  exp/runtime/internal/controllers/extensionconfig_controller_test.go
  exp/runtime/internal/controllers/warmup_test.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  main.go
  util/cache/cache.go
  util/cache/cache_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Drop usage of t.Context() as it requires go1.24
  internal/runtime/client/client_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add 2026 agenda doc
  docs/book/book.toml
Due: none

[release-1.10] 🐛 Improve client cert/key rotation of the RuntimeSDK client (#13215)
  exp/runtime/internal/controllers/extensionconfig_controller_test.go
  exp/runtime/internal/controllers/warmup_test.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  main.go
  util/cache/cache.go
  util/cache/cache_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🚀 Release v1.10.10
  CHANGELOG/v1.10.10.md
Due: none

Bump CAPI Visualizer to v1.5.0
  hack/observability/visualizer/kustomization.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add DeepWiki badge and link to README
  README.md
Due: none

Allow adding spec via ClusterClass JSON patches
  internal/webhooks/patch_validation.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Update Kubernetes support policy
  docs/book/src/reference/versions.md
Due: none

📖 Update CAPI support and guarantees for v1.13
  docs/book/src/reference/versions.md
Due: none

Fix inMemory watch
  test/infrastructure/inmemory/pkg/runtime/cache/cache.go
  test/infrastructure/inmemory/pkg/runtime/cache/client.go
  test/infrastructure/inmemory/pkg/runtime/cache/client_test.go
  test/infrastructure/inmemory/pkg/server/api/watch.go
  test/infrastructure/inmemory/pkg/server/listener.go
  test/infrastructure/inmemory/pkg/server/mux_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

KCP: Grant `delete` permissions to Secrets.
  controlplane/kubeadm/config/rbac/role.yaml
  controlplane/kubeadm/internal/controllers/controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add DeepWiki link to dev docs
  docs/book/src/developer/getting-started.md
Due: none

Clean up namespace in e2e tests
  test/e2e/scale.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Dump resources in scale test
  test/e2e/scale.go
  test/e2e/scale_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
