Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26

pull-cluster-api-test-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Refactor InfraCluster contract
  docs/book/src/SUMMARY.md
  docs/book/src/clusterctl/commands/move.md
  docs/book/src/clusterctl/configuration.md
  docs/book/src/developer/core/controllers/cluster.md
  docs/book/src/developer/core/multi-tenancy.md
  docs/book/src/developer/core/support-multiple-instances.md
  docs/book/src/developer/getting-started.md
  docs/book/src/developer/providers/best-practices.md
  docs/book/src/developer/providers/cluster-infrastructure.md
  docs/book/src/developer/providers/contracts.md
  docs/book/src/developer/providers/contracts/bootstrap-config.md
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/developer/providers/contracts/infra-cluster.md
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/book/src/developer/providers/contracts/overview.md
  docs/book/src/developer/providers/getting-started/initialize-repo-and-api-types.md
  docs/book/src/developer/providers/migrations/overview.md
  docs/book/src/developer/providers/security-guidelines.md
  docs/book/src/reference/glossary.md
  docs/book/src/tasks/experimental-features/cluster-class/index.md
  docs/book/src/tasks/multiple-providers.md
  docs/proposals/20220725-managed-kubernetes.md
Due: none

✨ util: Warning handler that discards messages that match a regular expression (#11179)
  util/apiwarnings/doc.go
  util/apiwarnings/handler.go
  util/apiwarnings/handler_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Review Fixes
  test/e2e/cluster_deletion.go
  test/e2e/cluster_deletion_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add additional quick-start test for covering zero replicas
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

lint fixes
  test/e2e/cluster_deletion.go
  test/e2e/cluster_deletion_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ clusterctl: Suppress API warnings in "move" command
  cmd/clusterctl/cmd/move.go
  util/apiwarnings/default.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ util: Warning handler that discards a default set of messages
  util/apiwarnings/default.go
  util/apiwarnings/default_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

review fixes
  api/v1beta1/machine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix e2e test
  test/e2e/cluster_deletion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

lint fix
  test/e2e/cluster_deletion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:seedling: test/e2e: decrease concurrency
  scripts/ci-e2e.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Rewrite quick-start test
  .gitignore
  Makefile
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-kcp-only/cluster-topology-class.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-kcp-only/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-no-workers/disable-control-plane-taint-variable.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-no-workers/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-no-workers/remove-topology-workers.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/clusterclass-name.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/remove-workers.yaml
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

comment fix
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix
  internal/controllers/machine/machine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fix kcp-only clusterclass
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/remove-worker-patches.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update RKE2 provider URL
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! ✨ util: Warning handler that discards a default set of messages
  util/apiwarnings/default_test.go
  util/apiwarnings/expressions.go
  util/apiwarnings/handler.go
  util/apiwarnings/handler_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! ✨ clusterctl: Suppress API warnings in "move" command
  cmd/clusterctl/cmd/move.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

MachineSet: Promote MachineSetPreflightChecks to Beta
  config/manager/manager.yaml
  docs/book/src/developer/core/testing.md
  docs/book/src/tasks/experimental-features/machineset-preflight-checks.md
  feature/feature.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_preflight_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Foreground deletion for MachineDeployments and MachineSets (#11174)
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machineset_types.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  test/e2e/cluster_deletion.go
  test/e2e/cluster_deletion_test.go
  test/framework/finalizers_helpers.go
  util/log/log.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 test: use cluster without worker definition for kcp only test (#11212)
  .gitignore
  Makefile
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-kcp-only/cluster-topology-class.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-kcp-only/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-no-workers/disable-control-plane-taint-variable.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-no-workers/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-no-workers/remove-topology-workers.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/clusterclass-name.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/remove-worker-patches.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/remove-workers.yaml
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! fixup! ✨ util: Warning handler that discards a default set of messages
  util/apiwarnings/expressions.go
  util/apiwarnings/handler.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:sparkles: Add support for oneOf/anyOf/allOf/not ClusterClass schema constructs
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/clusterclass_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation_test.go
  internal/topology/variables/schema.go
  internal/topology/variables/schema_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! fixup! ✨ clusterctl: Suppress API warnings in "move" command
  cmd/clusterctl/cmd/move.go
  util/apiwarnings/handler.go
  util/apiwarnings/handler_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

pr-verify: use env var for passing the PR title
  .github/workflows/pr-verify.yaml
Due: none

✨ clusterctl: Suppress "finalizer name" API warnings in "move" command (#11173)
  cmd/clusterctl/cmd/move.go
  util/apiwarnings/expressions.go
  util/apiwarnings/handler.go
  util/apiwarnings/handler_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor InfraMachine contract
  docs/book/src/developer/core/controllers/cluster.md
  docs/book/src/developer/core/controllers/machine.md
  docs/book/src/developer/providers/contracts/infra-cluster.md
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/book/src/developer/providers/getting-started/webhooks.md
Due: none

Log errors on specific log levels correctly
  exp/internal/controllers/machinepool_controller_noderef.go
  internal/controllers/machine/drain/drain.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  util/util.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix typos
  config/metrics/templates/README.md
  docs/book/src/developer/providers/migrations/v1.8-to-v1.9.md
  docs/book/src/reference/api/metadata-propagation.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add code to automate go patch version bump
  .github/workflows/weekly-go-version-check.yaml
Due: none

update cron values
  .github/workflows/weekly-go-version-check.yaml
Due: none

Syncing upstream
  sync-upstream-repo
Due: none

Log object kind in predicates
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  controlplane/kubeadm/internal/controllers/controller.go
  exp/internal/controllers/machinepool_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  util/predicates/cluster_predicates.go
  util/predicates/cluster_predicates_test.go
  util/predicates/generic_predicates.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
