Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

nits
  docs/book/src/clusterctl/commands/init.md
Due: none

nits
  docs/book/src/clusterctl/provider-contract.md
Due: none

Clarify rules for clusterctl default providers
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/clusterctl/provider-contract.md
Due: none

Bump cert-manager to v1.14.1
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix: markdown broken links
  docs/proposals/20220725-managed-kubernetes.md
Due: none

clarify netlify release guidance
  docs/release/release-tasks.md
Due: none

feat: improve weekly PR update generation script and documentation
  docs/release/release-tasks.md
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/release/weekly/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Introduce CEL for ClusterClass Variables
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

feat: Implement CEL validation
  internal/controllers/topology/cluster/cluster_controller.go
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/schema.go
  internal/topology/variables/schema_test.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

refactor: Add comments from previous code reviews
  api/v1beta1/clusterclass_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

chore: Generate CC manifest after fixing list type annotation (#2)
  api/v1beta1/clusterclass_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/topology/variables/cluster_variable_validation.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

chore: Fix up CRD manifest
  api/v1beta1/clusterclass_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Allow using different resource group and listner name with the in memory server
  test/infrastructure/inmemory/api/v1alpha1/inmemorycluster_types.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  test/infrastructure/inmemory/pkg/server/listener.go
  test/infrastructure/inmemory/pkg/server/mux.go
  test/infrastructure/inmemory/pkg/server/mux_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

changing cert-manager to 1.14.2
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Allow using different resource group and listner name with the in memory server (#10096)
  test/infrastructure/inmemory/api/v1alpha1/inmemorycluster_types.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  test/infrastructure/inmemory/pkg/server/listener.go
  test/infrastructure/inmemory/pkg/server/mux.go
  test/infrastructure/inmemory/pkg/server/mux_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Bump controller-runtime to v0.16.4
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Bump controller-runtime to v0.17.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add MP back to dual-stack test
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv4-primary/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv6-primary/kustomization.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Add OpenStack to External Cloud Providers in quick-start.md
  docs/book/src/user/quick-start.md
Due: none

be more explicit when skipping node deletion
  internal/controllers/machine/machine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

Deprecate clusterctl alpha topology plan
  .golangci.yml
  cmd/clusterctl/client/client.go
  cmd/clusterctl/cmd/topology_plan.go
  docs/book/src/clusterctl/commands/alpha-topology-plan.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Bump kpromo to v4.0.5
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix: Pass through context to CEL funcs
  internal/controllers/topology/cluster/cluster_controller.go
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

Test commit for k8s main failures
  test/framework/docker_logcollector.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add e2e test to reproduce SSA apiVersion issue
  Makefile
  test/e2e/clusterctl_upgrade.go
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/md.yaml
  test/e2e/data/infrastructure-docker/v0.4/cluster-template/kustomization.yaml
  test/e2e/data/shared/v0.4/metadata.yaml
  test/e2e/quick_start_test.go
  test/framework/clusterctl/client.go
  test/framework/clusterctl/clusterctl_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Use --wait-providers in test framework InitWithBinary func
  test/framework/clusterctl/client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Update Makefile to use internal paths
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Restore kubeadm v1beta1 types
  bootstrap/kubeadm/types/upstreamv1beta1/bootstraptokenstring.go
  bootstrap/kubeadm/types/upstreamv1beta1/bootstraptokenstring_test.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta1/doc.go
  bootstrap/kubeadm/types/upstreamv1beta1/groupversion_info.go
  bootstrap/kubeadm/types/upstreamv1beta1/types.go
  bootstrap/kubeadm/types/upstreamv1beta1/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Fix & ignore linter findings
  .golangci.yml
  bootstrap/kubeadm/types/upstreamv1beta1/bootstraptokenstring.go
  bootstrap/kubeadm/types/upstreamv1beta1/bootstraptokenstring_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Regenerate deepcopy files
  bootstrap/kubeadm/types/upstreamv1beta1/zz_generated.deepcopy.go
  internal/apis/core/exp/addons/v1alpha3/zz_generated.conversion.go
  internal/apis/core/exp/addons/v1alpha4/zz_generated.conversion.go
  internal/apis/core/exp/v1alpha3/zz_generated.conversion.go
  internal/apis/core/exp/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.deepcopy.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/exp/api/v1alpha4/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e
