Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Bump Kubernetes version used for testing to v1.33.0-rc.0
  test/e2e/config/docker.yaml
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

📖 add release 1.9 book link
  docs/book/src/introduction.md
Due: none

github: bump md-link check to 1.0.17
  .github/workflows/pr-md-link-check.yaml
  .github/workflows/weekly-md-link-check.yaml
Due: none

test-mdlink-check
  README.md
  docs/book/src/developer/core/e2e.md
Due: none

Netfliy test
  test.md
Due: none

update
  test.md
Due: none

Add nomaps API linter
  .golangci-kal.yml
  hack/tools/.custom-gcl.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! Add validation that ensures worker topology names are valid Kubernetes resource names
  internal/topology/check/compatibility.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Fix MaxLength of worker topology Name fields
  api/v1beta1/cluster_types.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! Add tests that fail when a worker topology name causes invalid Kubernetes resource name
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Updates from review
  docs/proposals/20210310-opt-in-autoscaling-from-zero.md
Due: none

kcp: allow unsetting etcd.local, etcd.external and dns
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: update examples to what you get from current kubebuilder version
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

docs: Improvements to consistency and functionality of example code
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

docs: remove status subresource section - created by default since kubebuilder 3.0 in 2020
  docs/book/src/developer/providers/getting-started/initialize-repo-and-api-types.md
Due: none

docs: document staging the generated files to the git commit
  docs/book/src/developer/providers/getting-started/initialize-repo-and-api-types.md
Due: none

docs: update cluster-api deployment section
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
Due: none

docs: point readers to where the files in question likely are
  docs/book/src/developer/providers/getting-started/implement-api-types.md
Due: none

docs: add comments back and remove reference to deleted comments - referencing deleted comments is very confusing to understand
  docs/book/src/developer/providers/getting-started/implement-api-types.md
Due: none

docs: update reconciler initiation to be like current kubebuilder provided scaffold
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

docs: update and simplify image name section
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
Due: none

docs: correct typo of credentials manifest filename
  docs/book/src/developer/providers/getting-started/configure-the-deployment.md
Due: none

docs: grammar and typo fix
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

docs: update example of runing provider in a local kind cluster
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
Due: none

docs: replace Captain with Mailgun for consistency in example
  docs/book/src/developer/providers/getting-started/implement-api-types.md
Due: none

docs: make the mkdir and cd use the same directory
  docs/book/src/developer/providers/getting-started/initialize-repo-and-api-types.md
Due: none

docs: update scaffold examples to current kubebuilder output
  docs/book/src/developer/providers/getting-started/implement-api-types.md
Due: none

docs: update tilt example
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
Due: none

Adjust variables and function names
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  cmd/clusterctl/client/tree/tree.go
  cmd/clusterctl/client/tree/tree_test.go
  cmd/clusterctl/cmd/describe_cluster.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
  exp/internal/controllers/machinepool_controller.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterresourceset/clusterresourceset_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/util/tree/tree.go
  internal/util/tree/tree_test.go
  test/e2e/clusterctl_upgrade.go
  test/framework/cluster_helpers.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockercluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorycluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  util/patch/options.go
  util/patch/patch_test.go
  util/paused/paused.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
