Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

docs: add kpromo and homebrew instructions to releasing.md
  docs/developer/releasing.md
Due: none

book: use generated RuntimeSDK schema YAML
  docs/book/Makefile
  docs/book/src/tasks/experimental-features/runtime-sdk/.gitignore
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-lifecycle-hooks.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-topology-mutation-hook.md
  netlify.toml
Due: none

Add BeforeClusterDelete to runtimeSDK e2e tests
  test/e2e/cluster_upgrade_runtimesdk.go
  test/extension/handlers/lifecycle/handlers.go
  test/extension/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:seedling: Fuzzing: Add report
  docs/reports/capi_2022_fuzzing.pdf
Due: none

Update clusterctl generate cluster examples in CAPI book
  docs/book/src/clusterctl/commands/generate-cluster.md
Due: none

bump kpromo to 3.4.4
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ci: use KUBERNETES_VERSION env var in kubeadm script
  test/framework/kubernetesversions/data/debian_injection_script.envsubst.sh.tpl
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

bump to controller-runtime v0.12.3
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

bump versions to v1.3 - use v1.2.0-beta.2 release
  cmd/clusterctl/hack/create-local-repository.py
  hack/tools/tilt-prepare/main.go
  metadata.yaml
  test/e2e/config/docker.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

doc: add disclaimer about clusterctl topology dryrun RuntimeSDK support
  docs/book/src/clusterctl/commands/alpha-topology-plan.md
Due: none

add IPAddress and IPAddressClaim to exp api
  Makefile
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddresses.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  exp/ipam/api/v1alpha1/doc.go
  exp/ipam/api/v1alpha1/groupversion_info.go
  exp/ipam/api/v1alpha1/ipaddress_types.go
  exp/ipam/api/v1alpha1/ipaddressclaim_types.go
  exp/ipam/api/v1alpha1/zz_generated.deepcopy.go
  exp/ipam/internal/webhooks/doc.go
  exp/ipam/internal/webhooks/ipaddress.go
  exp/ipam/internal/webhooks/ipaddress_test.go
  exp/ipam/internal/webhooks/ipaddressclaim.go
  exp/ipam/internal/webhooks/ipaddressclaim_test.go
  exp/ipam/webhooks/alias.go
  exp/ipam/webhooks/doc.go
  go.mod
  go.sum
  hack/tools/go.sum
  internal/test/envtest/environment.go
  main.go
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix spelling in clusterctl error message
  cmd/clusterctl/client/cluster/mover.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

E2E: WaitForMachinesReady to ApplyClusterTemplateAndWaitInput
  test/framework/clusterctl/clusterctl_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Split MD link checker into periodic and PR focused
  .github/workflows/lint-docs-pr.yaml
  .github/workflows/lint-docs-weekly.yml
Due: none

Improve dry run for topology changes to dry run server side apply
  api/v1beta1/common_types.go
  cmd/clusterctl/client/cluster/mover.go
  docs/book/src/developer/providers/v1.1-to-v1.2.md
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/structuredmerge/dryrun.go
  internal/controllers/topology/cluster/structuredmerge/dryrun_test.go
  internal/controllers/topology/cluster/structuredmerge/interfaces.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper_test.go
  test/infrastructure/docker/api/v1beta1/dockermachinetemplate_webhook.go
  test/infrastructure/docker/api/v1beta1/dockermachinetemplate_webhook_test.go
  test/infrastructure/docker/main.go
  util/defaulting/defaulting.go
  util/defaulting/doc.go
  util/topology/topology.go
  util/topology/topology_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve clusterctl generate cluster error message
  cmd/clusterctl/cmd/generate_cluster.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix old comment about filteredMachines
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Improve clusterctl describe cluster error message
  cmd/clusterctl/cmd/describe_cluster.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update verify action to ignore cherry-picks
  .github/workflows/verify.yml
Due: none

Add support for deploying Cluster templates and ClusterClasses on Tilt
  Tiltfile
  docs/book/src/developer/tilt.md
Due: none

set linkchecker base branch to main
  .github/workflows/lint-docs-pr.yaml
Due: none

Improve clusterctl completion and get kubeconfig error message
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/get_kubeconfig.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

updated supported versions for v1.3
  docs/book/src/reference/versions.md
Due: none

Remove Exoscale provider
  docs/book/src/reference/providers.md
Due: none

Improve open API docs
  exp/runtime/catalog/openapi.go
  exp/runtime/hooks/api/v1alpha1/discovery_types.go
  exp/runtime/hooks/api/v1alpha1/lifecyclehooks_types.go
  exp/runtime/hooks/api/v1alpha1/topologymutation_types.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

runtime-sdk: add logs
  exp/runtime/internal/controllers/extensionconfig_controller.go
  exp/runtime/internal/controllers/warmup.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/desired_state.go
  internal/runtime/client/client.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

bump to v1.2.0 tag for clusterctl upgrade tests
  test/e2e/config/docker.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
