Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Fix bug in nil statuses and forgetting to update nodePoolMachines
  test/infrastructure/docker/exp/internal/docker/nodepool.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix pointer bug
  test/infrastructure/docker/exp/internal/docker/nodepool.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove pointer and start refactoring tests
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/exp/internal/docker/nodepool_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix sort name issue and test bug
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/exp/internal/docker/nodepool_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add back accidentally removed code
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Change tilt debug base image to golang
  Tiltfile
Due: none

clarify description of cluster paused and skipping remediation of MHC
  docs/book/src/tasks/automated-machine-management/healthchecking.md
Due: none

Remove reliance on controller-runtime scheme builder
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/groupversion_info.go
  api/v1beta1/machine_types.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/machinedeployment_webhook_test.go
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/machineset_types.go
  internal/test/builder/builders.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add ownerRef for DockerMachines to DMP
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix failed ownerRef setting
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor bootstrap logic out of nodepool.go into DockerMachine controller
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add util function for getting owner MP by labels
  exp/internal/controllers/machinepool_controller_phases.go
  exp/util/util.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix nil pointer panic
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor NodeMachineStatus and construct providerID list from DockerMachines
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_test.go
  test/infrastructure/docker/exp/internal/docker/nodepool.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix lint
  internal/controllers/machinedeployment/machinedeployment_rolling_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

update clusterctl version to v1.5.x in quick start
  docs/book/src/user/quick-start.md
Due: none

Manually set ownerRef to avoid error
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix linting issues
  exp/internal/controllers/machinepool_controller_phases.go
  exp/util/util.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/exp/internal/docker/nodepool_test.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add edge case for if MP is deleted
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add watch instead of returning error in initNodePoolStatusList when ownerMachine is not created
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix(docs): control plane resources required label from v1.5.0
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/developer/providers/migrations/v1.4-to-v1.5.md
Due: none

Skip blocking DockerMachine deletion if MP is not found
  test/e2e/data/test-extension/deployment.yaml
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor out instanceName from spec
  exp/internal/controllers/machinepool_controller_phases.go
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/dockermachine_types.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_test.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Change default log level to 2
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  docs/book/src/developer/logging.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add v1.6 Release Team members GitHub/Slack handles
  docs/release/releases/release-1.6.md
Due: none

Add log for version in DockerMachine controller
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix logs
  exp/internal/controllers/machinepool_controller_phases.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refesh providerID list after ReconcileMachines
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Attempt reverting changes to DockerMachine controller
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix typemeta and rework DeleteOrphanedDockerMachines
  exp/internal/controllers/machinepool_controller_phases.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove random text-extension deployment
  test/e2e/data/test-extension/deployment.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to Go 1.20.7
  Makefile
  Tiltfile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to Go 1.19.12
  Makefile
  Tiltfile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
