Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

fix: ignore if control plane if spec.controlPlane is set
  internal/contract/controlplane.go
  internal/contract/controlplane_test.go
  internal/controllers/topology/cluster/reconcile_state.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Use MS and MD from scope instead of reading them again
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fix lint issues
  .github/workflows/pr-golangci-lint.yaml
  Tiltfile
  hack/tools/.custom-gcl.yaml
  internal/controllers/clusterresourceset/clusterresourceset_helpers.go
  test/e2e/cluster_upgrade_runtimesdk.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Introduce util for isUpdating
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_deletion_order.go
  internal/util/inplace/inplace.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Move up to date condition to ms for workers (#12959)
  api/core/v1beta2/machine_types.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status.go
  internal/controllers/machineset/machineset_controller_status_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_deletion_order.go
  internal/util/inplace/inplace.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Introduce wait for cache utils
  .golangci.yml
  controlplane/kubeadm/internal/controllers/inplace_trigger.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/util/client/client.go
  internal/util/client/client_test.go
  internal/util/client/metrics.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix review findings
  internal/util/client/client.go
  internal/util/client/client_test.go
  internal/util/client/metrics.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Enable MS in-place rollout check in e2e test
  controlplane/kubeadm/internal/control_plane.go
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  docs/proposals/20220221-runtime-SDK.md
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  test/e2e/cluster_in_place_update.go
  test/extension/config/tilt/extensionconfig.yaml
  test/extension/handlers/inplaceupdate/handlers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump Go to v1.24.10
  Makefile
  Tiltfile
  netlify.toml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Introduce & use wait for cache utils (#12957)
  .golangci.yml
  controlplane/kubeadm/internal/controllers/inplace_trigger.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/util/client/client.go
  internal/util/client/client_test.go
  internal/util/client/metrics.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

[release-1.10] 🌱 Bump Go version to 1.24.9 (#12945)
  .github/workflows/pr-golangci-lint.yaml
  Makefile
  Tiltfile
  go.mod
  hack/tools/.custom-gcl.yaml
  internal/controllers/clusterresourceset/clusterresourceset_helpers.go
  netlify.toml
  test/e2e/cluster_upgrade_runtimesdk.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Also set godebug on modules
  hack/tools/go.mod
  test/go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix typos in some files
  cmd/clusterctl/internal/util/doc.go
  util/collections/machine_filters.go
  util/resource/resource.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

MD: Implement CanUpdateMachineSet
  api/runtime/hooks/v1alpha1/inplaceupdate_types.go
  api/runtime/hooks/v1alpha1/zz_generated.openapi.go
  controllers/alias.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine_test.go
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  docs/proposals/20220221-runtime-SDK.md
  internal/controllers/machine/machine_controller_inplace_update.go
  internal/controllers/machine/machine_controller_inplace_update_test.go
  internal/controllers/machinedeployment/machinedeployment_canupdatemachineset.go
  internal/controllers/machinedeployment/machinedeployment_canupdatemachineset_test.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/topology/cluster/patches/engine.go
  internal/util/patch/patch.go
  main.go
  test/e2e/cluster_in_place_update.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/quick_start.go
  test/e2e/scale.go
  test/extension/config/tilt/extensionconfig.yaml
  test/extension/handlers/inplaceupdate/handlers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Consistent spelling of in-place update, remove in-place TODOs
  api/core/v1beta2/machineset_types.go
  docs/book/src/tasks/experimental-features/cluster-class/change-clusterclass.md
  docs/book/src/user/concepts.md
  docs/proposals/20181121-machine-api.md
  docs/proposals/20240807-in-place-updates-implementation-notes.md
  docs/proposals/20240807-in-place-updates.md
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
  internal/controllers/machine/machine_controller_inplace_update.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 0, maxunavailable 1, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 0, maxunavailable 1.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 0, maxunavailable 10, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 0, maxunavailable 10.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 1, maxunavailable 3, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 1, maxunavailable 3.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, scale up to 12, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, scale up to 12.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1.test.log.golden
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_deletion_order.go
  internal/util/inplace/inplace.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: machinepool contract spec
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts/infra-machinepool.md
  docs/book/src/developer/providers/contracts/overview.md
Due: none

Bump go version
  Makefile
  Tiltfile
  netlify.toml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix & improve e2e test
  internal/controllers/machinedeployment/machinedeployment_canupdatemachineset.go
  test/e2e/cluster_in_place_update.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Clarify CAPI vs conformance
  CONTRIBUTING.md
  docs/book/src/developer/providers/contracts/bootstrap-config.md
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/developer/providers/contracts/infra-cluster.md
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/book/src/developer/providers/contracts/ipam.md
  docs/book/src/reference/versions.md
Due: none

fix: Update correct support timeline for v1.12, v1.11 and v1.10
  docs/book/src/reference/versions.md
Due: none

Update docs/book/src/reference/versions.md
  docs/book/src/reference/versions.md
Due: none

fix: Remove Kubernetes v1.26-v1.24 for clean and correct docs
  docs/book/src/reference/versions.md
Due: none

📖 Update CAPI support and guarantees for v1.12 (#12934)
  docs/book/src/reference/versions.md
Due: none

Improve chained upgrade observability
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/v1beta1_condition_consts.go
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
  exp/topology/scope/hookresponsetracker.go
  exp/topology/scope/upgradetracker.go
  internal/contract/controlplane.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  test/e2e/cluster_upgrade_runtimesdk.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Remove deprecated ClusterResourceSet feature gate
  .golangci.yml
  config/manager/manager.yaml
  docs/book/src/tasks/cluster-resource-set.md
  feature/feature.go
  internal/webhooks/clusterresourceset.go
  internal/webhooks/clusterresourcesetbinding.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update golint version
  .github/workflows/pr-golangci-lint.yaml
Due: none

Fix review findings
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine.go
  internal/controllers/machinedeployment/machinedeployment_canupdatemachineset.go
  internal/controllers/machinedeployment/machinedeployment_canupdatemachineset_test.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/util/inplace/inplace.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix review findings
  internal/controllers/machinedeployment/machinedeployment_canupdatemachineset_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fix lint issues
  .golangci.yml
  exp/addons/internal/controllers/clusterresourceset_helpers.go
  test/e2e/cluster_upgrade_runtimesdk.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Cleanup TestReconcileMachinePhases
  internal/controllers/machine/machine_controller_status_test.go
  internal/test/envtest/environment.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

🌱 [release-1.9] Bump go version to 1.24.10 (#12969)
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  Makefile
  Tiltfile
  exp/addons/internal/controllers/clusterresourceset_helpers.go
  netlify.toml
  test/e2e/cluster_upgrade_runtimesdk.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ MD: Implement CanUpdateMachineSet (#12965)
  api/runtime/hooks/v1alpha1/inplaceupdate_types.go
  api/runtime/hooks/v1alpha1/zz_generated.openapi.go
  controllers/alias.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine_test.go
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  docs/proposals/20220221-runtime-SDK.md
  internal/controllers/machine/machine_controller_inplace_update.go
  internal/controllers/machine/machine_controller_inplace_update_test.go
  internal/controllers/machinedeployment/machinedeployment_canupdatemachineset.go
  internal/controllers/machinedeployment/machinedeployment_canupdatemachineset_test.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/topology/cluster/patches/engine.go
  internal/util/inplace/inplace.go
  internal/util/patch/patch.go
  main.go
  test/e2e/cluster_in_place_update.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/quick_start.go
  test/e2e/scale.go
  test/extension/config/tilt/extensionconfig.yaml
  test/extension/handlers/inplaceupdate/handlers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve KCP etcd client crt/key caching
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/fakes_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

doc: review changes
  docs/book/src/developer/providers/contracts/infra-machinepool.md
Due: none

Fix autoscaler test
  test/e2e/data/autoscaler/autoscaler-to-workload-workload.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Allow >1 minor version upgrades if generateUpgradePlan extension is defined
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

make generate
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/zz_generated.deepcopy.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  internal/api/core/v1alpha3/zz_generated.conversion.go
  internal/api/core/v1alpha4/zz_generated.conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
