Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

optimize partial descriptions in the document
  CONTRIBUTING.md
  README.md
  REVIEWING.md
Due: none

test/e2e: don't restart the conformance test container after ginkgo exits
  test/framework/kubetest/run.go
  test/infrastructure/container/docker.go
  test/infrastructure/container/interface.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

managed Cluster should set labels and annotations on ControlPlane and MDs
  api/v1beta1/cluster_types.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.2/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.2/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.3/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.3/clusterclass-quick-start.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix unit test coverage in KubeadmConfig
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

removed clusterctl restore cmd
  cmd/clusterctl/client/client.go
  cmd/clusterctl/client/client_test.go
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/move.go
  cmd/clusterctl/client/move_test.go
  cmd/clusterctl/cmd/restore.go
  docs/book/src/clusterctl/commands/additional-commands.md
  docs/book/src/clusterctl/commands/commands.md
  docs/book/src/developer/providers/v1.3-to-v1.4.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump controller-runtime 0.13.x=>0.14.x
  .golangci.yml
  api/v1alpha3/machineset_types.go
  api/v1alpha4/machineset_types.go
  api/v1beta1/index/cluster.go
  api/v1beta1/index/cluster_test.go
  api/v1beta1/index/machine.go
  api/v1beta1/index/machine_test.go
  api/v1beta1/machineset_types.go
  cmd/clusterctl/client/cluster/internal/dryrun/client.go
  docs/book/src/developer/providers/v1.3-to-v1.4.md
  docs/book/src/developer/tilt.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/webhooks/clusterclass_test.go
  test/framework/namespace_helpers.go
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Rework templates after the feedback
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/failing-test.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
Due: none

Fix the template issue
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Fix spacing issues
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

fix
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Fix id field of the template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Fix sha of kubebuilder-release-tools GitHub action
  .github/workflows/verify.yml
Due: none

Change area label text placement
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Remove k8s version field required requirement
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

logging: add removal note, cleanup no-op code
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  docs/book/src/developer/providers/v1.3-to-v1.4.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix broken link to CAPZ experimental directory
  docs/proposals/20220725-managed-kubernetes.md
Due: none

Run weekly markdown check against all supported branches
  .github/workflows/lint-docs-weekly.yml
Due: none

Merge label/area labels in bug report
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Change label names
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Remove the label kind bug from the top level
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Remove redirection handling in repository_github client
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_github_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add initial test for ownerRefs
  cmd/clusterctl/client/cluster/ownergraph.go
  test/e2e/quick_start.go
  test/e2e/quick_start_test.go
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: fix outdated enabling PodSecurityStandard env variable in CAPI quickstart
  docs/book/src/user/quick-start.md
Due: none

Add variable discovery to topology mutation proposal
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-topology-mutation-hook.md
  docs/proposals/20220330-topology-mutation-hook.md
Due: none

Run weekly markdown check against all supported branches
  .github/workflows/lint-docs-weekly.yml
  docs/release/release-tasks.md
Due: none

add comments to disableNodeLabelSync
  internal/controllers/machine/machine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Fix cert manager verification steps in developer guide
  docs/book/src/developer/guide.md
Due: none

Improve tilt-prepare for using with provider's E2E test
  Tiltfile
  docs/book/src/developer/tilt.md
  hack/tools/tilt-prepare/main.go
  hack/verify-starlark.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

bugfix write-to flag only runs filepath.Clean when the output file is not "" or -
  cmd/clusterctl/cmd/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix secret selection logic for ownerRef test
  cmd/clusterctl/client/cluster/ownergraph.go
  util/secret/secret.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve quick-start test
  test/e2e/quick_start.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address comments
  hack/tools/tilt-prepare/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use tenancy as filter in ownerReference test
  cmd/clusterctl/client/cluster/ownergraph.go
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to Go 1.19.5
  Makefile
  Tiltfile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to Go 1.18.10
  Makefile
  Tiltfile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
