Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

cloudbuild: Bump timeout to 1hr
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

Deduplicate KCP preflightchecks
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/preflight.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/preflight_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/scale.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/scale_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

feat: add --tls-curve-preferences flag to manager options
  util/flags/manager.go
  util/flags/manager_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

In-place not affecting availability for MD
  core/reconcilers/machinedeployment/machinedeployment_canupdatemachineset.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_planner.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_planner_test.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6 - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 0, maxunavailable 1 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 0, maxunavailable 1 - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0 - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 0, maxunavailable 10 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 0, maxunavailable 10 - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 1, maxunavailable 3 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 1, maxunavailable 3 - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0 - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1 - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, scale up to 12 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, scale up to 12 - not affecting availability.test.log.golden
Due: none

🐛 KCP: tolerate unnamed etcd learner during Node registration race
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/consts.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Keep SetAPIVersionGetter signature, add SwapAPIVersionGetter
  controlplane/kubeadm/webhooks/conversion/common.go
  controlplane/kubeadm/webhooks/conversion/conversion_test.go
  core/reconcilers/topology/cluster/reconcile_state_test.go
  core/webhooks/conversion/common.go
  core/webhooks/conversion/conversion_test.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: typo tpo
  docs/book/src/user/concepts.md
Due: none

Address review feedback: klog.Fatalf, hard-coded contract labels, kustomize comments
  bootstrap/kubeadm/config/crd/kustomization.yaml
  controlplane/kubeadm/config/crd/kustomization.yaml
  internal/test/envtest/environment.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump google.golang.org/grpc + golang.org/x/crypto to fix CVEs
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump google.golang.org/grpc to fix CVEs
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor clustercache connection refresh
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_cache.go
  controllers/clustercache/cluster_cache_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

KCP: avoid deleting learners after Node registration
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Add contract labels to kubeadm CRDs in envtest (#14181)
  bootstrap/kubeadm/config/crd/kustomization.yaml
  controlplane/kubeadm/config/crd/kustomization.yaml
  internal/test/envtest/environment.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Restore apiVersionGetter after unit tests (#14189)
  controlplane/kubeadm/webhooks/conversion/common.go
  controlplane/kubeadm/webhooks/conversion/conversion_test.go
  core/reconcilers/topology/cluster/reconcile_state_test.go
  core/webhooks/conversion/common.go
  core/webhooks/conversion/conversion_test.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

cloudbuild: Bump timeout to 2hr
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

Implement AffectsAvailability for KCP in-place updates
  .golangci-kal.yml
  api/core/v1beta2/machine_types.go
  api/runtime/hooks/v1alpha1/inplaceupdate_types.go
  api/runtime/hooks/v1alpha1/zz_generated.deepcopy.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_canupdatemachine.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_canupdatemachine_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_trigger.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_trigger_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/preflight.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/preflight_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/scale.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/scale_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update_test.go
  core/reconcilers/machine/machine_controller_status.go
  core/reconcilers/machine/machine_controller_status_test.go
  docs/book/src/reference/api/crd-api-reference.md
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
  hack/tools/runtime-openapi-gen/api/runtime/hooks/v1alpha1/zz_generated.openapi.go
  internal/util/inplace/inplace.go
  test/e2e/cluster_in_place_update_test.go
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/handlers/topologymutation/handler.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🚀 Release v1.13.6
  CHANGELOG/v1.13.6.md
Due: none

🚀 Release v1.14.2
  CHANGELOG/v1.14.2.md
Due: none

📖 Update CAPI support for v1.15
  docs/book/src/reference/versions.md
Due: none

Revert "cloudbuild: Bump timeout to 2hr"
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

cloudbuild: Bump machine to `highcpu-32`
  cloudbuild.yaml
Due: none

KCP: avoid deleting learners after Node registration
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix review findings
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_canupdatemachine.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_canupdatemachine_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update_test.go
  core/reconcilers/machine/machine_controller_inplace_update.go
  core/reconcilers/machine/machine_controller_inplace_update_test.go
  core/reconcilers/machine/machine_controller_status.go
  core/reconcilers/machine/machine_controller_status_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add cloud-init write_files defer support
  api/bootstrap/kubeadm/v1beta1/kubeadmconfig_types.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.deepcopy.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/bootstrap/kubeadm/v1beta2/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/pkg/cloudinit/cloudinit_test.go
  bootstrap/kubeadm/pkg/cloudinit/files.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  docs/book/src/reference/api/crd-api-reference-v1beta1.md
  docs/book/src/reference/api/crd-api-reference.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Implement AffectsAvailability for KCP in-place updates (#14200)
  .golangci-kal.yml
  api/core/v1beta2/machine_types.go
  api/runtime/hooks/v1alpha1/inplaceupdate_types.go
  api/runtime/hooks/v1alpha1/zz_generated.deepcopy.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_canupdatemachine.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_canupdatemachine_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_trigger.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/inplace_trigger_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/preflight.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/preflight_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/scale.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/scale_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update_test.go
  core/reconcilers/machine/machine_controller_inplace_update.go
  core/reconcilers/machine/machine_controller_inplace_update_test.go
  core/reconcilers/machine/machine_controller_status.go
  core/reconcilers/machine/machine_controller_status_test.go
  docs/book/src/reference/api/crd-api-reference.md
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
  hack/tools/runtime-openapi-gen/api/runtime/hooks/v1alpha1/zz_generated.openapi.go
  internal/util/inplace/inplace.go
  test/e2e/cluster_in_place_update_test.go
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/handlers/topologymutation/handler.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add MachineSet creation ceiling to prevent uncontrolled Machine creation
  api/core/v1beta2/v1beta1_condition_consts.go
  core/reconcilers/machineset/machineset_controller.go
  core/reconcilers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: compare kubelet and Machine versions ignoring provider build metadata
  core/reconcilers/machine/machine_controller_status.go
  core/reconcilers/machine/machine_controller_status_test.go
Due: none

address comments
  api/core/v1beta2/machineset_types.go
  core/reconcilers/machinedeployment/machinedeployment_canupdatemachineset.go
  core/reconcilers/machinedeployment/machinedeployment_canupdatemachineset_test.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_planner_test.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  core/reconcilers/machinedeployment/mdutil/util.go
  core/reconcilers/machinedeployment/mdutil/util_test.go
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0 - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0 - not affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0 - not affecting availability.test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/mixed case in-place affecting availability, random(0).test.log.golden
  core/reconcilers/machinedeployment/testdata/rollingupdate/mixed case in-place affecting availability.test.log.golden
  core/reconcilers/machineset/machineset_controller.go
  core/reconcilers/machineset/machineset_controller_test.go
  docs/book/src/reference/api/crd-api-reference.md
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
  internal/util/inplace/inplace.go
  test/extension/handlers/inplaceupdate/handlers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix MachineSet replica count
  core/reconcilers/machineset/machineset_controller.go
  core/reconcilers/machineset/machineset_controller_status.go
  core/reconcilers/machineset/machineset_controller_status_test.go
  internal/util/inplace/inplace.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

📖 Update CAPI support for v1.15 (#14213)
  docs/book/src/reference/versions.md
Due: none

Fix race conditions in KCP unit tests
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/helpers_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/scale_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve KCP remediation annotation handling
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/helpers.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/remediation.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/remediation_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update_test.go
  util/controller/controller_fake.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Updating v1.15 release team
  docs/release/releases/release-1.15.md
Due: none

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
