Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

make e2e fail on controller pod restarts
  test/e2e/e2e_suite_test.go
  test/framework/clusterctl/clusterctl_helpers.go
  test/framework/deployment_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Implement support for multiNamespaceInformer in controller util consistency store
  util/controller/consistency.go
  util/controller/consistency_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add ClusterToControlPlaneMapFunc helper to util and remove ClusterToKubeadmControlPlane
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/kubeadmcontrolplane_controller_test.go
  util/util.go
  util/util_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Extract Cluster topology version validation into entry points
  core/webhooks/admission/cluster.go
  core/webhooks/admission/cluster_test.go
Due: none

✨ Add worker version pinning API and validation
  api/core/v1beta1/cluster_types.go
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/cluster_types.go
  core/config/crd/bases/cluster.x-k8s.io_clusters.yaml
  core/config/manager/manager.yaml
  core/webhooks/admission/cluster.go
  core/webhooks/admission/cluster_test.go
  core/webhooks/admission/clusterclass.go
  core/webhooks/admission/clusterclass_test.go
  docs/book/src/tasks/experimental-features/experimental-features.md
  feature/feature.go
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
  internal/topology/pinning/pinning.go
  util/test/builder/builders.go
  util/version/skew.go
  util/version/skew_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Upgrade pinned MachineDeployments/MachinePools independently
  Makefile
  core/reconcilers/machineset/machineset_preflight.go
  core/reconcilers/machineset/machineset_preflight_test.go
  core/reconcilers/topology/cluster/cluster_controller_test.go
  core/reconcilers/topology/cluster/patches/variables/variables_test.go
  docs/book/src/SUMMARY.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/book/src/tasks/experimental-features/worker-version-pinning.md
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/upgrade_plan.go
  exp/topology/desiredstate/upgrade_plan_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-worker-version-pinning/cluster-topology-worker-version-pinning.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-worker-version-pinning/kustomization.yaml
  test/e2e/worker_version_pinning.go
  test/e2e/worker_version_pinning_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Drop outdated repository-layout.md
  docs/book/src/SUMMARY.md
  docs/book/src/developer/core/repository-layout.md
Due: none

Store pod resources of management cluster into artifacts
  test/e2e/clusterctl_upgrade.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: flaky TestReconcileControlPlane cache
  core/reconcilers/topology/cluster/reconcile_state_test.go
Due: none

Move clusterctl doc under reference
  docs/book/src/SUMMARY.md
  docs/book/src/developer/core/testing.md
  docs/book/src/developer/core/tilt.md
  docs/book/src/reference/clusterctl/commands/additional-commands.md
  docs/book/src/reference/clusterctl/commands/alpha-rollout.md
  docs/book/src/reference/clusterctl/commands/commands.md
  docs/book/src/reference/clusterctl/commands/completion.md
  docs/book/src/reference/clusterctl/commands/convert.md
  docs/book/src/reference/clusterctl/commands/delete.md
  docs/book/src/reference/clusterctl/commands/describe-cluster.md
  docs/book/src/reference/clusterctl/commands/generate-cluster.md
  docs/book/src/reference/clusterctl/commands/generate-provider.md
  docs/book/src/reference/clusterctl/commands/generate-yaml.md
  docs/book/src/reference/clusterctl/commands/get-kubeconfig.md
  docs/book/src/reference/clusterctl/commands/init.md
  docs/book/src/reference/clusterctl/commands/move.md
  docs/book/src/reference/clusterctl/commands/upgrade.md
  docs/book/src/reference/clusterctl/configuration.md
  docs/book/src/reference/clusterctl/developers.md
  docs/book/src/reference/clusterctl/overview.md
  docs/book/src/reference/clusterctl/plugins.md
  docs/book/src/reference/versions.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/book/src/tasks/multiple-providers.md
  docs/book/src/tasks/upgrading-cluster-api-versions.md
  docs/book/src/user/quick-start.md
  docs/book/src/user/troubleshooting.md
Due: none

📖 Add NVIDIA Infra Provider to provider catalog
  docs/book/src/reference/providers.md
Due: none

fix: flaky TestReconcileControlPlane cache
  internal/controllers/topology/cluster/reconcile_state_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fix: propagate DNS.imageRepository when updating the kubeadm config map
  controlplane/kubeadm/pkg/workload_cluster.go
  controlplane/kubeadm/pkg/workload_cluster_test.go
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/update.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move Runtime-sdk docs to developer guide
  docs/book/Makefile
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts/overview.md
  docs/book/src/developer/runtime-extensions/.gitignore
  docs/book/src/developer/runtime-extensions/deploy-runtime-extension.md
  docs/book/src/developer/runtime-extensions/implement-extensions.md
  docs/book/src/developer/runtime-extensions/implement-in-place-update-hooks.md
  docs/book/src/developer/runtime-extensions/implement-lifecycle-hooks.md
  docs/book/src/developer/runtime-extensions/implement-topology-mutation-hook.md
  docs/book/src/developer/runtime-extensions/implement-upgrade-plan-hooks.md
  docs/book/src/developer/runtime-extensions/index.md
  docs/book/src/reference/glossary.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/proposals/20220221-runtime-SDK.md
  docs/proposals/20220330-topology-mutation-hook.md
  docs/proposals/20220414-lifecycle-hooks.md
  docs/proposals/20240807-in-place-updates.md
  netlify.toml
Due: none

Move ClusterClass docs to tasks
  docs/book/src/SUMMARY.md
  docs/book/src/developer/runtime-extensions/index.md
  docs/book/src/reference/glossary.md
  docs/book/src/security/pod-security-standards.md
  docs/book/src/tasks/cluster-class/change-clusterclass.md
  docs/book/src/tasks/cluster-class/index.md
  docs/book/src/tasks/cluster-class/operate-cluster.md
  docs/book/src/tasks/cluster-class/write-clusterclass.md
  docs/book/src/user/concepts.md
  docs/proposals/20210526-cluster-class-and-managed-topologies.md
Due: none

Move machine-pool.md, machineset-preflight-checks.md and ignition.md to task
  docs/book/src/SUMMARY.md
  docs/book/src/developer/core/controllers/machine-pool.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/book/src/tasks/ignition.md
  docs/book/src/tasks/machine-pools.md
  docs/book/src/tasks/machineset-preflight-checks.md
  docs/book/src/user/concepts.md
Due: none

Move experimental-features.md to reference and rename it feature-gates.md
  docs/book/src/SUMMARY.md
  docs/book/src/reference/feature-gates.md
  docs/book/src/tasks/cluster-class/index.md
  docs/book/src/tasks/cluster-class/operate-cluster.md
  docs/book/src/user/quick-start.md
Due: none

Requeue Machines waiting for their Node before the control plane is initialized
  core/reconcilers/machine/machine_controller_noderef.go
  core/reconcilers/machine/machine_controller_noderef_test.go
Due: none

Drop references to experimental features use consistently feature gates
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/developer/providers/contracts/overview.md
  docs/book/src/developer/runtime-extensions/implement-in-place-update-hooks.md
  docs/book/src/developer/runtime-extensions/implement-lifecycle-hooks.md
  docs/book/src/developer/runtime-extensions/implement-topology-mutation-hook.md
  docs/book/src/developer/runtime-extensions/implement-upgrade-plan-hooks.md
  docs/book/src/developer/runtime-extensions/index.md
  docs/book/src/reference/api/owner-references.md
  docs/book/src/reference/api/taint-propagation.md
  docs/book/src/reference/feature-gates.md
  docs/book/src/tasks/cluster-class/change-clusterclass.md
  docs/book/src/tasks/cluster-class/index.md
  docs/book/src/tasks/cluster-class/operate-cluster.md
  docs/book/src/tasks/cluster-class/write-clusterclass.md
  docs/book/src/tasks/ignition.md
  docs/book/src/tasks/machine-pools.md
  docs/book/src/tasks/machineset-preflight-checks.md
  docs/book/src/user/quick-start.md
  docs/proposals/20200220-cluster-resource-set.md
  docs/proposals/20210526-cluster-class-and-managed-topologies.md
  docs/proposals/20220125-ipam-integration.md
  docs/proposals/20220209-machinepool-machines.md
  docs/proposals/20220411-cluster-api-state-metrics.md
  docs/proposals/20220712-cluster-api-addon-orchestration.md
  docs/proposals/20220725-managed-kubernetes.md
  docs/proposals/20240807-in-place-updates.md
Due: none

Extend MHC to introduce CEL-based health evaluation
  api/core/v1beta1/clusterclass_types.go
  api/core/v1beta1/conversion.go
  api/core/v1beta1/machinehealthcheck_types.go
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta1/zz_generated.deepcopy.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/zz_generated.deepcopy.go
  core/config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  core/config/crd/bases/cluster.x-k8s.io_clusters.yaml
  core/config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  core/main.go
  core/reconcilers/machinehealthcheck/cel/cel.go
  core/reconcilers/machinehealthcheck/cel/cel_test.go
  core/reconcilers/machinehealthcheck/cel/doc.go
  core/reconcilers/machinehealthcheck/cel/env.go
  core/reconcilers/machinehealthcheck/machinehealthcheck_controller.go
  core/reconcilers/machinehealthcheck/machinehealthcheck_targets.go
  core/reconcilers/machinehealthcheck/machinehealthcheck_targets_test.go
  core/webhooks/admission/cluster.go
  core/webhooks/admission/cluster_test.go
  core/webhooks/admission/clusterclass.go
  core/webhooks/admission/clusterclass_test.go
  core/webhooks/admission/machinehealthcheck.go
  core/webhooks/admission/machinehealthcheck_test.go
  docs/book/src/reference/api/crd-api-reference-v1beta1.md
  docs/book/src/reference/api/crd-api-reference.md
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/scope/blueprint.go
  exp/topology/scope/blueprint_test.go
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
  internal/test/envtest/environment.go
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory-templaterefs.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/infrastructure/docker/templates/clusterclass-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor glossary
  docs/book/src/reference/glossary.md
Due: none

Add Exoscale infrastructure provider to clusterctl
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/reference/providers.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Validate imageRepository fields in kubeadm webhooks
  bootstrap/kubeadm/webhooks/admission/kubeadmconfig.go
  bootstrap/kubeadm/webhooks/admission/kubeadmconfig_test.go
  bootstrap/kubeadm/webhooks/admission/kubeadmconfigtemplate.go
  controlplane/kubeadm/webhooks/admission/kubeadmcontrolplane.go
  controlplane/kubeadm/webhooks/admission/kubeadmcontrolplane_test.go
  controlplane/kubeadm/webhooks/admission/kubeadmcontrolplanetemplate.go
  util/container/image.go
  util/container/image_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Also set cluster-name label on Clusters without ClusterClass
  core/reconcilers/cluster/cluster_controller.go
Due: none

Also set cluster-name label on Clusters without ClusterClass
  internal/controllers/cluster/cluster_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

:sparkles: Add make verify-deadcode to detect dead functions under internal/
  Makefile
  hack/scripts/verify/verify-deadcode.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Handle rollout edge cases
  core/reconcilers/machinedeployment/machinedeployment_controller.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_ondelete.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_planner.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  core/reconcilers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  core/reconcilers/machinedeployment/machinedeployment_sync.go
  core/reconcilers/machinedeployment/mdutil/rollout_planner.go
  core/reconcilers/machinedeployment/mdutil/rollout_planner_test.go
  core/reconcilers/machineset/machineset_controller_test.go
Due: none

update Otel Version to v1.45.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update Otel version to v1.45.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update Otel version to v1.45.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🚀 Release v1.13.7
  CHANGELOG/v1.13.7.md
Due: none

🚀 Release v1.15.0-alpha.0
  CHANGELOG/v1.15.0-alpha.0.md
Due: none

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
