Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

add-in-place-to-machineset-controller
  controlplane/kubeadm/internal/controllers/inplace_trigger.go
  controlplane/kubeadm/internal/desiredstate/desired_state.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_deletion_order.go
  internal/controllers/machineset/machineset_deletion_order_test.go
  internal/hooks/tracking.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comme
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/cluster.go
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  util/certs/certs.go
  util/kubeconfig/options.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Add metal-stack provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/reference/glossary.md
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

implement GenerateUpgradePlan handler
  test/extension/handlers/upgradeplan/handlers.go
  test/extension/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add event for remediation in MachineHealthCheck
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Improve MachineHealthCheck event messages
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

kcp: enable websocket dialer with fallback to spdy
  controlplane/kubeadm/internal/proxy/dial.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

e2e: fix self-hosted to actually read DOCKER_PRELOAD_IMAGES from the e2e config
  test/e2e/self_hosted.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

CAPD: recreate container if we re-enter reconciliation and it exists but is not running
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/docker/machine.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Handle error check first before checking reconcile result
  controlplane/kubeadm/internal/controllers/controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

feat: Update book CAPI support and guarantee for v1.12
  docs/book/src/reference/versions.md
Due: none

Add in-place updates support for machine controller
  api/core/v1beta2/machine_types.go
  controllers/alias.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_inplace_update.go
  internal/controllers/machine/machine_controller_inplace_update_test.go
  internal/controllers/machine/machine_controller_status.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix review findings
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/inplace_trigger.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_deletion_order_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Review fix
  docs/proposals/20250513-propogate-taints.md
Due: none

POC: KCP in-place update
  Makefile
  _manual-testing/cluster-quick-start.yaml
  _manual-testing/clusterclass-quick-start.yaml
  api/core/v1beta2/machine_phase_types.go
  api/core/v1beta2/machine_types.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  controlplane/kubeadm/internal/controllers/controller.go
  exp/topology/desiredstate/lifecycle_hooks.go
  internal/controllers/machine/machine_controller_status.go
  test/e2e/cluster_in_place_update.go
  test/e2e/cluster_in_place_update_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-in-place/cluster-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-in-place/kustomization.yaml
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/handlers/topologymutation/handler.go
  test/extension/main.go
  test/framework/cluster_helpers.go
  test/go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Implement e2e test for in-place updates
  Makefile
  exp/topology/desiredstate/lifecycle_hooks.go
  test/e2e/cluster_in_place_update.go
  test/e2e/cluster_in_place_update_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-in-place/cluster-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-in-place/kustomization.yaml
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/handlers/topologymutation/handler.go
  test/extension/main.go
  test/framework/cluster_helpers.go
  test/go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Consider updating condition when computing Machine's ready condition
  api/core/v1beta2/machine_types.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  util/conditions/sort.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address comments
  controlplane/kubeadm/internal/controllers/inplace_trigger.go
  controlplane/kubeadm/internal/controllers/inplace_trigger_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status_test.go
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Implement Updating Machine phase
  api/core/v1beta1/conversion.go
  api/core/v1beta1/conversion_test.go
  api/core/v1beta2/machine_phase_types.go
  api/core/v1beta2/machine_types.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machine/suite_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: specify container path and mode
  test/infrastructure/container/docker.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Add in-place to machineset controller (#12906)
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/inplace_trigger.go
  controlplane/kubeadm/internal/controllers/inplace_trigger_test.go
  controlplane/kubeadm/internal/desiredstate/desired_state.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_status_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_deletion_order.go
  internal/controllers/machineset/machineset_deletion_order_test.go
  internal/hooks/tracking.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix godoc in e2e test specs
  test/e2e/quick_start.go
  test/e2e/scale.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Simplify Cluster webhook
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

:book: Add ProviderID to Glossary.
  docs/book/src/reference/glossary.md
Due: none

Bump GoVersion to 1.24.9
  Makefile
  Tiltfile
  go.mod
  netlify.toml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🚀 Release v1.10.8
  CHANGELOG/v1.10.8.md
Due: none

🚀 Release v1.11.3
  CHANGELOG/v1.11.3.md
Due: none

test(e2e): propagate clusterctl variables
  test/e2e/cluster_upgrade.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🚀 Release v1.12.0-beta.0
  CHANGELOG/v1.12.0-beta.0.md
Due: none

Update v1.12 release team
  OWNERS_ALIASES
  docs/release/releases/release-1.12.md
Due: none

update golangci-lint version
  .github/workflows/pr-golangci-lint.yaml
Due: none

Requeue for machine Available condition
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_status.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Rollout-planner improve checks for scalingOrInPlaceUpdateInProgress
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Address feedback
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Address feedback
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

🌱 Requeue for Machine Available condition (#12953)
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

📖 Propagating taints from Cluster API to Nodes (#12329)
  docs/proposals/20250513-propogate-taints.md
  docs/proposals/images/propagate-taints/topology-propagation.excalidraw.png
Due: none

Move setUpToDate condition from MS controller to Machine controller
  api/core/v1beta2/machine_types.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Wait for cluster deletion in runtime sdk test
  test/e2e/cluster_upgrade_runtimesdk.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
