Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Remove nodepool.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_test.go
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/exp/internal/docker/nodepool_test.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: add call out for area labels when making a PR
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add DMP phases
  exp/internal/controllers/machinepool_controller_phases.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use existing value of SKIP_RESOURCE_CLEANUP if set in environment
  scripts/ci-e2e.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add back MP nodeRef changes
  exp/internal/controllers/machinepool_controller_noderef.go
  exp/internal/controllers/machinepool_controller_phases.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Change deletion logic
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add a guide describing ownerReference usage in CAPI
  docs/book/src/SUMMARY.md
  docs/book/src/reference/owner_references.md
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Drop duplicate pprof and unused linter excludes
  .golangci.yml
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move tilt-prepare and log-push to tools/internal
  Makefile
  Tiltfile
  docs/book/src/developer/testing.md
  docs/book/src/developer/tilt.md
  docs/release/release-tasks.md
  hack/tools/internal/log-push/main.go
  hack/tools/internal/log-push/main_test.go
  hack/tools/internal/tilt-prepare/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Decrement total num machines in not matching infra spec case
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update CAPI support and guarantees for v1.6
  CONTRIBUTING.md
  docs/book/src/reference/versions.md
Due: none

Add verify-govulncheck and verify-vulnerabilities targets and integrate to scan action
  .github/workflows/weekly-security-scan.yaml
  Makefile
  docs/release/release-tasks.md
  hack/verify-container-images.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

bootstrap/kubeadm: Add support for Ignition v3.x
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/internal/ignition/butane/butane.go
  bootstrap/kubeadm/internal/ignition/butane/butane_test.go
  bootstrap/kubeadm/internal/ignition/ignition.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  go.mod
  go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Generate warning when release notes can not be generated
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Prepare main branch for v1.6 development
  Makefile
  cmd/clusterctl/hack/create-local-repository.py
  docs/release/release-tasks.md
  hack/tools/internal/tilt-prepare/main.go
  metadata.yaml
  test/e2e/clusterctl_upgrade.go
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v1.5/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.5/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.5/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.5/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.5/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.5/cluster-template/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.5/clusterclass-quick-start.yaml
  test/e2e/data/shared/main/metadata.yaml
  test/e2e/data/shared/v1.5/metadata.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix AddAnnotations for unstructured.Unstructured
  util/annotations/helpers.go
  util/annotations/helpers_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add back flavor to Waiter interface
  test/framework/clusterctl/clusterctl_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add comments and clean
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Certificate paths in cloud-init scripts should not use a platform-dependent path separator
  util/secret/certificates.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Revert DockerMachine controller changes except for node patch
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Revert custom MPM node patch logic in DockerMachine controller
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

test/e2e: use 10 nodes
  scripts/ci-e2e.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Reduce topology controller reconciliation times when ClusterClass does not exist.
  internal/controllers/topology/cluster/cluster_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Bump golangci-lint to v1.54.1
  .github/workflows/pr-golangci-lint.yaml
Due: none

Replace hashicorp/go-multierror with kerrors
  hack/tools/conversion-verifier/main.go
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Allow to drop useExperimentalRetryJoin field from KubeadmControlPlane.kubeadmConfigSpec
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add verify-govulncheck and verify-vulnerabilities targets and integrate to scan action
  .github/workflows/weekly-security-scan.yaml
  Makefile
  hack/verify-container-images.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fixed KIND Config requiring docker networking with ipv6 support.
  hack/kind-install-for-capd.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move webhooks to a separate package
  api/v1beta1/machinehealthcheck_types.go
  api/v1beta1/zz_generated.openapi.go
  config/webhook/manifests.yaml
  controlplane/kubeadm/internal/controllers/controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/test/builder/builders.go
  internal/test/envtest/environment.go
  internal/webhooks/clusterclass.go
  internal/webhooks/machine.go
  internal/webhooks/machine_test.go
  internal/webhooks/machinedeployment.go
  internal/webhooks/machinedeployment_test.go
  internal/webhooks/machinehealthcheck.go
  internal/webhooks/machinehealthcheck_test.go
  internal/webhooks/machineset.go
  internal/webhooks/machineset_test.go
  main.go
  webhooks/alias.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add colored-line-number output for golangci-lint action
  .github/workflows/pr-golangci-lint.yaml
Due: none

Fix linting issues
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add automation to create release branch and tags
  .github/workflows/release.yaml
  .gitignore
  CHANGELOG/OWNERS
  CHANGELOG/README.md
  Makefile
  docs/release/release-tasks.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add release team owners
  CHANGELOG/OWNERS
  OWNERS_ALIASES
Due: none

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
