Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Cleanup getMachinesSucceeded flag from MD controller
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_status_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

✨ Add types and hook for GenerateUpgradePlan (#12823)
  api/runtime/hooks/v1alpha1/upgrade_plan_types.go
  api/runtime/hooks/v1alpha1/zz_generated.deepcopy.go
  api/runtime/hooks/v1alpha1/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add lifecycle hooks for chained-upgrade
  api/runtime/hooks/v1alpha1/lifecyclehooks_types.go
  api/runtime/hooks/v1alpha1/zz_generated.deepcopy.go
  api/runtime/hooks/v1alpha1/zz_generated.openapi.go
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor hooks call in computeControlPlaneVersion, add Lifecycle hooks sequence tests
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Drop duplicated UpgradeStep
  api/runtime/hooks/v1alpha1/lifecyclehooks_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Call new lifecycle hooks for chained-upgrades
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
  exp/topology/desiredstate/upgrade_plan.go
  exp/topology/scope/upgradetracker.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/extension/handlers/lifecycle/handlers.go
  test/extension/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update machinehealthcheck activity diagram
  docs/book/src/images/machinehealthcheck-controller.plantuml
  docs/book/src/images/machinehealthcheck-controller.png
Due: none

KCP/MS: Refactor BootstrapConfig/InfraMachine managedFields for in-place
  controlplane/kubeadm/controllers/alias.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine_test.go
  controlplane/kubeadm/main.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/suite_test.go
  internal/util/ssa/managedfields.go
  internal/util/ssa/managedfields_test.go
  internal/util/ssa/matchers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

finalize node-role control-plane validation
  docs/proposals/20250513-propogate-taints.md
Due: none

book: Update control-plane contract to mention the label cluster.x-k8s.io/control-plane
  docs/book/src/developer/providers/contracts/control-plane.md
Due: none

Address feedback
  docs/proposals/20240807-in-place-updates-implementation-notes.md
Due: none

review fix
  docs/proposals/20250513-propogate-taints.md
Due: none

Fix review findings
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/util/ssa/managedfields.go
  internal/util/ssa/managedfields_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

wording fix
  docs/proposals/20250513-propogate-taints.md
Due: none

POC: KCP in-place update
  _manual-testing/cluster-quick-start.yaml
  _manual-testing/clusterclass-quick-start.yaml
  api/core/v1beta2/machine_phase_types.go
  api/core/v1beta2/machine_types.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  controllers/alias.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/inplace.go
  controlplane/kubeadm/internal/controllers/inplace_test.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_inplace_update.go
  internal/controllers/machine/machine_controller_status.go
  main.go
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/main.go
  test/go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

another wording fix
  docs/proposals/20250513-propogate-taints.md
Due: none

Fix review findings
  controlplane/kubeadm/internal/controllers/helpers_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/util/ssa/managedfields.go
  internal/util/ssa/managedfields_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Set GVK in env.PatchAndWait
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/test/envtest/environment.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Stop setting TypeMeta in unit tests
  bootstrap/kubeadm/internal/builder/builders.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/util/configowner_test.go
  controllers/external/tracker_test.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  exp/runtime/topologymutation/walker_test.go
  exp/topology/scope/hookresponsetracker_test.go
  hack/tools/internal/tilt-prepare/main.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/cluster/cluster_controller_test.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
  internal/controllers/clusterresourceset/clusterresourceset_controller_test.go
  internal/controllers/clusterresourceset/clusterresourceset_helpers_test.go
  internal/controllers/extensionconfig/extensionconfig_controller_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinepool/machinepool_controller_noderef.go
  internal/controllers/machinepool/machinepool_controller_noderef_test.go
  internal/controllers/machinepool/machinepool_controller_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/runtime/client/client_test.go
  internal/webhooks/ipaddress_test.go
  test/extension/handlers/topologymutation/handler_test.go
  test/framework/bootstrap/kind_provider.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller_test.go
  util/collections/machine_filters_test.go
  util/log/log_test.go
  util/test/builder/crds.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Simplify Cluster webhook
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

update image
  docs/proposals/images/propagate-taints/topology-propagation.excalidraw.png
Due: none

docs: Update microvm provider URL
  docs/book/src/reference/providers.md
Due: none

Document providers that support deletion single MachinePool Machines
  docs/book/src/tasks/experimental-features/machine-pools.md
Due: none

Add support for checking Machine conditions in MachineHealthCheck
  api/core/v1beta1/conversion_test.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/v1beta1_condition_consts.go
  api/core/v1beta2/zz_generated.deepcopy.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  docs/book/src/tasks/automated-machine-management/healthchecking.md
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  docs/book/src/tasks/using-kustomize.md
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/scope/blueprint.go
  exp/topology/scope/blueprint_test.go
  internal/api/core/v1alpha3/conversion_test.go
  internal/api/core/v1alpha4/conversion_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  internal/controllers/topology/cluster/current_state_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/webhooks/cluster_test.go
  internal/webhooks/clusterclass_test.go
  internal/webhooks/machinehealthcheck_test.go
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.11/clusterclass-quick-start.yaml
  test/e2e/kcp_remediations.go
  test/framework/machine_helpers.go
  test/framework/machinehealthcheck_helpers.go
  test/infrastructure/docker/templates/clusterclass-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
  util/test/builder/builders.go
  util/test/builder/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments: rework node and machine checks in needsRemediation() method
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  internal/webhooks/machinehealthcheck_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Address review comments
  api/core/v1beta1/conversion.go
  api/core/v1beta1/conversion_test.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  internal/api/core/v1alpha3/conversion.go
  internal/api/core/v1alpha4/conversion.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  internal/webhooks/clusterclass_test.go
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.11/clusterclass-quick-start.yaml
  test/e2e/kcp_remediations.go
  test/framework/machine_helpers.go
  test/framework/machinehealthcheck_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments Fabrizio (mhc target, mhc controller code)
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Address Stefan comments (conversion)
  internal/api/core/v1alpha3/conversion.go
  internal/api/core/v1alpha3/conversion_test.go
  internal/api/core/v1alpha4/conversion.go
  internal/api/core/v1alpha4/conversion_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Fix PR check Markdown links CI
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
Due: none

Clarify `UnhealthyMachineConditionV1Beta1Reason` precedence over node reasons
  api/core/v1beta2/v1beta1_condition_consts.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix event message to reflect both machine and node condition checking
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add CEL validation to prevent disallowed UnhealthyMachineCondition types
  api/core/v1beta2/machinehealthcheck_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  internal/webhooks/test/machinehealthcheck_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Simplify `needsRemediation` function further by using two sub functions: one for machineChecks and the other for nodeChecks.
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add defensive response status checking in runtime client
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine_test.go
  internal/controllers/extensionconfig/extensionconfig_controller_test.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  internal/runtime/client/fake/fake_client.go
  test/extension/handlers/topologymutation/handler_integration_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Simplify rollout planner
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0.test.log.golden
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

KCP: implement trigger in-place update
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/inplace.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine_test.go
  controlplane/kubeadm/internal/controllers/inplace_test.go
  controlplane/kubeadm/internal/controllers/inplace_trigger.go
  controlplane/kubeadm/internal/controllers/inplace_trigger_test.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

kcp: enable websocket dialer with fallback to spdy
  controlplane/kubeadm/internal/proxy/dial.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Stop setting TypeMeta in unit tests
  bootstrap/kubeadm/internal/builder/builders.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/util/configowner_test.go
  controllers/external/tracker_test.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  exp/runtime/topologymutation/walker_test.go
  exp/topology/scope/hookresponsetracker_test.go
  hack/tools/internal/tilt-prepare/main.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/cluster/cluster_controller_test.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
  internal/controllers/clusterresourceset/clusterresourceset_controller_test.go
  internal/controllers/clusterresourceset/clusterresourceset_helpers_test.go
  internal/controllers/extensionconfig/extensionconfig_controller_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinepool/machinepool_controller_noderef.go
  internal/controllers/machinepool/machinepool_controller_noderef_test.go
  internal/controllers/machinepool/machinepool_controller_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/runtime/client/client_test.go
  internal/test/envtest/environment.go
  internal/webhooks/ipaddress_test.go
  test/extension/handlers/topologymutation/handler_test.go
  test/framework/bootstrap/kind_provider.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller_test.go
  util/collections/machine_filters_test.go
  util/log/log_test.go
  util/test/builder/crds.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
