Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Add cloud-provider-azure helm install to quickstart
  docs/book/src/user/quick-start.md
Due: none

Make load balancer first-party package in CAPD
  docs/book/src/developer/providers/v1.3-to-v1.4.md
  test/infrastructure/docker/internal/docker/loadbalancer.go
  test/infrastructure/docker/internal/loadbalancer/config.go
  test/infrastructure/docker/internal/loadbalancer/const.go
  test/infrastructure/docker/internal/loadbalancer/doc.go
  test/infrastructure/docker/internal/third_party/forked/README.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

clusterctl: add flag --show-machinehealthchecks to describe cluster
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/describe.go
  cmd/clusterctl/client/tree/annotations.go
  cmd/clusterctl/client/tree/discovery.go
  cmd/clusterctl/client/tree/discovery_test.go
  cmd/clusterctl/client/tree/tree.go
  cmd/clusterctl/cmd/describe_cluster.go
  cmd/clusterctl/internal/test/fake_objects.go
  docs/book/src/developer/providers/v1.3-to-v1.4.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use GitHub forms for issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/failing-test.md
  .github/ISSUE_TEMPLATE/failing_test.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/flaking-test.md
  .github/ISSUE_TEMPLATE/flaking_test.yaml
Due: none

Fix v1alpha4 references in clusterctl comments
  cmd/clusterctl/api/v1alpha3/provider_type.go
  cmd/clusterctl/client/client.go
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/init.go
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_providers.yaml
  cmd/clusterctl/config/manifest/clusterctl-api.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure ownerReferences are always updated
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/clusterctl_upgrade_test.go
  test/framework/ownerreference_helpers.go
  util/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

MachineDeployment rolloutAfter support
  api/v1alpha3/conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/machinedeployment_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  cmd/clusterctl/client/alpha/kubeadmcontrolplane.go
  cmd/clusterctl/client/alpha/machinedeployment.go
  cmd/clusterctl/client/alpha/rollout_restarter.go
  cmd/clusterctl/client/alpha/rollout_restarter_test.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  docs/book/src/tasks/upgrading-clusters.md
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  util/collections/machine_filters.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

0. Introduce ClusterName field to ClusterResourceSetBinding
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/webhook/manifests.yaml
  exp/addons/api/v1alpha3/conversion.go
  exp/addons/api/v1alpha3/zz_generated.conversion.go
  exp/addons/api/v1alpha4/conversion.go
  exp/addons/api/v1alpha4/zz_generated.conversion.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_types.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_webhook.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_webhook_test.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
  exp/addons/internal/controllers/clusterresourceset_helpers.go
  exp/addons/internal/controllers/clusterresourcesetbinding_controller.go
  internal/test/envtest/environment.go
  main.go
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Register new LazyRestmapper featuregate
  feature/feature.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use lazy restmapper
  bootstrap/kubeadm/config/manager/manager.yaml
  bootstrap/kubeadm/main.go
  config/manager/manager.yaml
  controllers/remote/cluster_cache_tracker.go
  controlplane/kubeadm/config/manager/manager.yaml
  controlplane/kubeadm/main.go
  docs/book/src/developer/testing.md
  docs/book/src/developer/tilt.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  internal/test/envtest/environment.go
  main.go
  test/e2e/config/docker.yaml
  test/infrastructure/docker/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix test flake
  controlplane/kubeadm/internal/controllers/scale_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/e2e: Implement ClusterCLass rollout e2e test
  internal/contract/bootstrap_config_template.go
  internal/contract/controlplane_template.go
  internal/contract/infrastructure_cluster_template.go
  internal/contract/infrastructure_machine.go
  internal/contract/infrastructure_machine_template.go
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  test/e2e/clusterclass_changes.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/clusterclass_rollout.go
  test/e2e/clusterclass_rollout_test.go
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/md_rollout.go
  test/framework/machine_helpers.go
  test/framework/machinedeployment_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterClass: don't propagate MD upgrade annotations
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

first prototype of the autoscaler e2e test
  Makefile
  test/e2e/autoscaler.go
  test/e2e/autoscaler_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/autoscaler/autoscaler-to-workload-management.yaml
  test/e2e/data/autoscaler/autoscaler-to-workload-workload.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-autoscaler/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-autoscaler/md.yaml
  test/framework/autoscaler_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Merge ownerReference tests with quick start
  test/e2e/quick_start_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add `release-note` section to `pull_request_template.md`
  .github/PULL_REQUEST_TEMPLATE.md
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

chore: address review comments
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

replace reflect deepequal in bootstrap kubeadm
  bootstrap/kubeadm/api/v1alpha4/kubeadm_types_test.go
  bootstrap/kubeadm/api/v1beta1/kubeadm_types_test.go
  bootstrap/kubeadm/types/upstreamv1beta1/bootstraptokenstring_test.go
  bootstrap/kubeadm/types/upstreamv1beta2/bootstraptokenstring_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/bootstraptokenstring_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

extend next steps of quick start
  docs/book/src/user/quick-start.md
Due: none

Syncing upstream
  sync-upstream-repo
Due: none

ci: set fail-fast false for all GH actions using matrix
  .github/workflows/golangci-lint.yml
  .github/workflows/scan.yml
Due: none

Bump golang.org/x/net to v0.7.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs(readme): add latest stable release status badge
  README.md
Due: none

Update handler name validation rules
  exp/runtime/server/server.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  internal/webhooks/runtime/extensionconfig_webhook.go
  internal/webhooks/runtime/extensionconfig_webhook_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Make beta + rc tag names less specific in docs
  docs/release/releases/release-1.4.md
  docs/release/releases/release-1.5.md
Due: none

make sure Kubernetes API Server service of remote cluster has been created before applying the ClusterResourceSet.
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
  exp/addons/internal/controllers/clusterresourceset_helpers.go
  exp/addons/internal/controllers/clusterresourceset_helpers_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

test(remote): add unit test for healthcheck during creation of a new cluster accessor
  controllers/remote/cluster_cache_healthcheck_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add introduction.png image
  docs/book/src/images/introduction.png
Due: none

bug fix to set node interruptible label
  internal/controllers/machine/machine_controller_node_labels.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main
