Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

feat: retrieving first available docker-based node for provider id configuration
  test/infrastructure/docker/internal/docker/machine.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

RuntimeSDK/client: use random port for unit test server
  internal/runtime/client/client_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

chore: Set permissions for GitHub actions
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew-formula-on-release.yml
Due: none

use the kubernetes decoder in the patch engine
  internal/controllers/topology/cluster/patches/template.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

ClusterClass: reconcile InfrastructureCluster controlPlaneEndpoint fields
  internal/contract/infrastructure_cluster.go
  internal/contract/infrastructure_cluster_test.go
  internal/controllers/topology/cluster/reconcile_state.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Use consistent naming for minikube, kind, kOps and Kubespray in documentation
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/book/src/clusterctl/commands/move.md
  docs/book/src/introduction.md
  docs/book/src/tasks/experimental-features/ignition.md
  docs/book/src/user/personas.md
  docs/book/src/user/quick-start.md
  docs/proposals/20191017-kubeadm-based-control-plane.md
  docs/proposals/20210203-externally-managed-cluster-infrastructure.md
  docs/scope-and-objectives.md
  hack/kind-install-for-capd.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove outdated capi book roadmap
  docs/book/src/roadmap.md
Due: none

Restore yq targets accidentally removed in 5785
  Makefile
  hack/get-project-maintainers.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix typo in clusterctl function name
  cmd/clusterctl/client/alpha/machinedeployment.go
  cmd/clusterctl/client/alpha/rollout_pauser.go
  cmd/clusterctl/client/alpha/rollout_restarter.go
  cmd/clusterctl/client/alpha/rollout_resumer.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add wait-providers flags to clusterctl upgrade apply
  cmd/clusterctl/client/cluster/installer.go
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/cluster/upgrader_test.go
  cmd/clusterctl/client/upgrade.go
  cmd/clusterctl/cmd/upgrade_apply.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump dependencies
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add lifecycle hook handlers to test extension
  test/e2e/cluster_upgrade_runtimesdk.go
  test/extension/config/default/extension.yaml
  test/extension/config/default/kustomization.yaml
  test/extension/config/default/role.yaml
  test/extension/config/default/rolebinding.yaml
  test/extension/config/default/service_account.yaml
  test/extension/handlers/lifecycle/handlers.go
  test/extension/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Docs: more generic message in warning and in additional notes
  docs/book/src/clusterctl/developers.md
  docs/book/src/user/quick-start.md
Due: none

Disable verify action on cherry-pick bot PRs
  .github/workflows/verify.yml
Due: none

Add release 1.2 book link
  docs/book/src/introduction.md
Due: none

repro issue
  test/e2e/config/docker.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

migrate more test to test CRD
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/test/builder/bootstrap.go
  internal/test/builder/builders.go
  internal/test/builder/controlplane.go
  internal/test/builder/infrastructure.go
  internal/test/envtest/environment.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Update go-github from v33.0.0 to v45.2.0
  cmd/clusterctl/client/cluster/template.go
  cmd/clusterctl/client/cluster/template_test.go
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_github_test.go
  cmd/clusterctl/cmd/version_checker.go
  cmd/clusterctl/internal/test/fake_github.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix: disable verify action for cherry-pick bot
  .github/workflows/verify.yml
Due: none

Improve dry run for server side apply using an annotation
  api/v1beta1/common_types.go
  cmd/clusterctl/client/cluster/mover.go
  internal/contract/types.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/controllers/topology/cluster/structuredmerge/diff/annotation.go
  internal/controllers/topology/cluster/structuredmerge/diff/diff.go
  internal/controllers/topology/cluster/structuredmerge/diff/diff_test.go
  internal/controllers/topology/cluster/structuredmerge/diff/doc.go
  internal/controllers/topology/cluster/structuredmerge/diff/schema.go
  internal/controllers/topology/cluster/structuredmerge/diff/schema_cache.go
  internal/controllers/topology/cluster/structuredmerge/diff/schema_cache_test.go
  internal/controllers/topology/cluster/structuredmerge/dryrun.go
  internal/controllers/topology/cluster/structuredmerge/dryrun_test.go
  internal/controllers/topology/cluster/structuredmerge/interfaces.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add link to videos in the Getting started section
  docs/book/src/developer/providers/webhooks.md
  docs/book/src/introduction.md
Due: none

add OCI to infra provider list
  docs/book/src/reference/providers.md
Due: none

make TestControlPlaneTemplate deepcopy-able
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

RuntimeSDK: improve error wrapping and godoc
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  exp/runtime/hooks/api/v1alpha1/common_types.go
  exp/runtime/hooks/api/v1alpha1/discovery_types.go
  exp/runtime/hooks/api/v1alpha1/groupversion_info.go
  exp/runtime/hooks/api/v1alpha1/lifecyclehooks_types.go
  exp/runtime/hooks/api/v1alpha1/topologymutation_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  exp/runtime/internal/controllers/warmup.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/hooks/tracking.go
  internal/runtime/catalog/builder.go
  internal/runtime/catalog/catalog.go
  internal/runtime/catalog/openapi.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  internal/runtime/client/fake/fake_client.go
  internal/runtime/registry/registry.go
  internal/runtime/test/v1alpha1/fake_types.go
  internal/runtime/test/v1alpha1/groupversion_info.go
  internal/runtime/test/v1alpha2/fake_types.go
  internal/runtime/test/v1alpha2/groupversion_info.go
  internal/webhooks/runtime/extensionconfig_webhook.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

book: add v1.2 -> v1.3 migration doc
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/v1.2-to-v1.3.md
Due: none

update clusterctl version to v1.2.x in quick start
  docs/book/src/user/quick-start.md
Due: none

Update cmd/clusterctl/client/client.go
  cmd/clusterctl/client/client.go
  cmd/clusterctl/client/cluster/workload_cluster_test.go
  cmd/clusterctl/client/get_kubeconfig.go
  docs/book/src/clusterctl/provider-contract.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Minor fixes
  cmd/clusterctl/client/cluster/workload_cluster_test.go
  cmd/clusterctl/client/get_kubeconfig_test.go
  controllers/remote/cluster.go
  controlplane/kubeadm/internal/controllers/controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add unit tests
  cmd/clusterctl/client/cluster/workload_cluster_test.go
  util/kubeconfig/kubeconfig_test.go
  util/secret/secret_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Richard's review
  cmd/clusterctl/client/cluster/workload_cluster.go
  cmd/clusterctl/client/cluster/workload_cluster_test.go
  cmd/clusterctl/cmd/get_kubeconfig.go
  controllers/remote/cluster.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  util/secret/secret.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Support multiple Kubeconfigs for a provider
  cmd/clusterctl/client/cluster/workload_cluster.go
  cmd/clusterctl/client/cluster/workload_cluster_test.go
  cmd/clusterctl/client/get_kubeconfig.go
  cmd/clusterctl/cmd/get_kubeconfig.go
  controllers/remote/cluster.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/kubeconfig_test.go
  util/secret/consts.go
  util/secret/secret.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add documentation to provider contract
  docs/book/src/clusterctl/commands/get-kubeconfig.md
  docs/book/src/clusterctl/provider-contract.md
Due: none

Add documentation
  docs/book/src/clusterctl/commands/get-kubeconfig.md
Due: none

Review comments: Write separate functions for user specific kubeconfig
  cmd/clusterctl/client/client.go
  cmd/clusterctl/client/cluster/workload_cluster.go
  cmd/clusterctl/client/cluster/workload_cluster_test.go
  cmd/clusterctl/client/get_kubeconfig.go
  cmd/clusterctl/cmd/get_kubeconfig.go
  controllers/remote/cluster.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  docs/book/src/clusterctl/commands/get-kubeconfig.md
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/kubeconfig_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
