Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Add DMP controller test
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_test.go
  test/infrastructure/docker/exp/internal/controllers/suite_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix error message fail
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove reliance on controller-runtime scheme builder for experimental APIs
  exp/addons/api/v1beta1/clusterresourceset_types.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_types.go
  exp/addons/api/v1beta1/groupversion_info.go
  exp/api/v1beta1/groupversion_info.go
  exp/api/v1beta1/machinepool_types.go
  exp/ipam/api/v1alpha1/groupversion_info.go
  exp/ipam/api/v1alpha1/ipaddress_types.go
  exp/ipam/api/v1alpha1/ipaddressclaim_types.go
  exp/ipam/api/v1alpha1/zz_generated.deepcopy.go
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  exp/runtime/api/v1alpha1/groupversion_info.go
  exp/runtime/api/v1alpha1/zz_generated.deepcopy.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add topology-owned label to MachineHealthChecks.
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

go.mod reformat to have only two require blocks
  go.mod
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump CAPI visualizer to v1.2.0
  hack/observability/visualizer/kustomization.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

remove disableInPlacePropagation, fix tests
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/controllers/upgrade_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Update cert-manager to v1.12.3
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor docker-push* Makefile targets so users can control with ALL_DOCKER_BUILD which images are pushed
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Makefile: run doctoc only once
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

v1.28: Prepare quickstart, capd and tests for the new release including kind bump
  Tiltfile
  docs/book/src/developer/tilt.md
  docs/book/src/user/quick-start.md
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/framework/bootstrap/kind_provider.go
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
  test/infrastructure/kind/mapper.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Allow to drop useExperimentalRetryJoin field from KubeadmControlPlane.kubeadmConfigSpec
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

book: Update versions doc adding Kubernetes 1.28 + prowjob documentation
  docs/book/src/developer/providers/version-migration.md
  docs/book/src/reference/jobs.md
  docs/book/src/reference/versions.md
Due: none

Reword and list which deployments have to be edited for exp features.
  docs/book/src/tasks/experimental-features/experimental-features.md
Due: none

Update base branch for link checker
  .github/workflows/lint-docs-pr.yaml
Due: none

Add task to update link checker base branch
  docs/release/release-tasks.md
Due: none

Set base branch correctly for link checker
  .github/workflows/pr-md-link-check.yaml
Due: none

docs: update k8s-triage link to one which catches all relevant jobs
  docs/release/release-tasks.md
Due: none

Move link check info in release docs
  docs/release/release-tasks.md
Due: none

tilt: ensure Dockerfile directory for podman
  Tiltfile
Due: none

Add a troubleshooting guide to the tilt docs
  docs/book/src/developer/tilt.md
Due: none

v1.28: Prepare quickstart, capd and tests for the new release including kind bump
  Tiltfile
  docs/book/src/developer/tilt.md
  docs/book/src/user/quick-start.md
  test/e2e/config/docker.yaml
  test/framework/bootstrap/kind_provider.go
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
  test/infrastructure/kind/mapper.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

book: Update versions doc adding Kubernetes 1.28 + prowjob documentation
  docs/book/src/reference/jobs.md
  docs/book/src/reference/versions.md
Due: none

Documentation improvements: public release session
  docs/release/release-tasks.md
Due: none

Fix patch errors not being logged
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

.github: improve kubernetes bump issue template
  .github/ISSUE_TEMPLATE/kubernetes_bump.md
Due: none

machineset: adjust preflight check to allow kubelet version skew of 3 for clusters running v1.28 and above
  internal/controllers/machineset/machineset_preflight.go
  internal/controllers/machineset/machineset_preflight_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Certificate paths in cloud-init scripts should not use a platform-dependent path separator
  util/secret/certificates.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
