Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

fix(remote): requeue health check during cluster accessor creation
  controllers/remote/cluster_cache_tracker.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: document test coverage for release branches
  CONTRIBUTING.md
  docs/release/release-tasks.md
Due: none

docs: document plan to remove v1alpha3 and v1alpha4 apiVersions
  CONTRIBUTING.md
Due: none

ClusterClass: Allow fine-granular control of MachineDeployment upgrades
  api/v1beta1/common_types.go
  api/v1beta1/condition_consts.go
  docs/book/src/reference/labels_and_annotations.md
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/controllers/topology/cluster/scope/upgradetracker.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

more logs
  controlplane/kubeadm/internal/filters.go
  go.mod
  go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

run v0.3 test in parallel
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/quick_start_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

KCP: fix rollout after upgrade
  bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/e2e: Extend MD rollout test to cover in-place propagation
  test/e2e/md_rollout.go
  test/e2e/md_rollout_test.go
  test/framework/machine_helpers.go
  test/framework/machinedeployment_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Validate Cluster variables based on ClusterClass status
  api/v1beta1/condition_consts.go
  cmd/clusterctl/client/cluster/assets/topology-test/new-clusterclass-and-cluster.yaml
  cmd/clusterctl/client/cluster/topology.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/topology/variables/cluster_variable_validation.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
  internal/webhooks/test/clusterclass_test.go
  internal/webhooks/test/suite_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

uplift golang and x/net
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

chore:Use errors.Is to check for a specific error
  hack/tools/log-push/main.go
  util/yaml/yaml.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove generation check for clusterclass to fix e2e test
  internal/webhooks/cluster.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

test/e2e: disable rollout check for ClusterClass-based cluster in clusterctl upgrade test
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve KCP logging, improve e2e test, increase timeout
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/scale.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/filters.go
  test/e2e/clusterctl_upgrade.go
  util/collections/machine_filters.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

run in parallel
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/quick_start_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

also run 1.3=>main in e2e-main
  test/e2e/clusterctl_upgrade_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Try to fix CC rollout issue
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_webhook.go
  internal/controllers/topology/cluster/structuredmerge/dryrun.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper.go
  util/topology/topology.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix logging
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixups
  internal/controllers/clusterclass/clusterclass_controller.go
  test/framework/clusterctl/clusterctl_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_webhook.go
  test/e2e/quick_start_test.go
  util/topology/topology.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update
  go.mod
  test/e2e/clusterctl_upgrade.go
  test/e2e/clusterctl_upgrade_test.go
  test/extension/main.go
  test/go.mod
  test/infrastructure/docker/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

more logs
  internal/webhooks/cluster.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

test/e2e: disable rollout check for ClusterClass-based cluster in clusterctl ugprade tests II
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterClass: run dry-run on original and modified object
  internal/controllers/topology/cluster/structuredmerge/dryrun.go
  internal/controllers/topology/cluster/structuredmerge/dryrun_test.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper_test.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/clusterctl_upgrade_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update
  internal/controllers/topology/cluster/structuredmerge/dryrun.go
  internal/controllers/topology/cluster/structuredmerge/dryrun_test.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

repro
  internal/webhooks/cluster.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

update
  internal/controllers/clusterclass/clusterclass_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

test/framework: ensure ApplyClusterTemplateAndWait always returns a Cluster
  test/framework/clusterctl/clusterctl_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterClass: run dry-run on original and modified object
  internal/controllers/topology/cluster/structuredmerge/dryrun.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper_test.go
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Make Cluster webhook less strict for out of date ClusterClasses
  cmd/clusterctl/client/cluster/mover.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

in-place propagation from MS to Machines
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/util/ssa/managedfields.go
  internal/util/ssa/managedfields_test.go
  internal/util/ssa/matchers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

docs: document new Kubernetes support policy
  docs/book/src/reference/versions.md
Due: none

Preliminary release dates for v1.5
  docs/release/release-cycle.md
  docs/release/releases/release-1.5.md
Due: none

in-place propagation from MD to MS
  api/v1beta1/machinedeployment_types.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_rolling.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/machinedeployment_sync_test.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/util/ssa/managedfields.go
  internal/util/ssa/managedfields_test.go
  internal/util/ssa/matchers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Weaken ClusterClass webhook variable validation on update
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main
