Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

📖 More documentation on v1.11 migration (#12236)
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
Due: none

🚀 Release v1.9.8
  CHANGELOG/v1.9.8.md
Due: none

🚀 Release v1.10.2
  CHANGELOG/v1.10.2.md
Due: none

Fix review finding, update migration doc
  controlplane/kubeadm/internal/controllers/controller_test.go
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update cmd/clusterctl/client/cluster/installer.go
  cmd/clusterctl/client/cluster/installer.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

revert conversion func
  internal/apis/core/v1alpha3/conversion.go
  internal/apis/core/v1alpha4/conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

modify comment
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

propagate minreadyseconds and add property for test
  internal/controllers/machinedeployment/machinedeployment_sync_test.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fix: webhook markers
  test/infrastructure/docker/config/webhook/manifests.yaml
  test/infrastructure/docker/exp/api/v1beta1/groupversion_info.go
  test/infrastructure/docker/internal/webhooks/devcluster_webhook.go
  test/infrastructure/docker/internal/webhooks/devclustertemplate_webhook.go
  test/infrastructure/docker/internal/webhooks/devmachine_webhook.go
  test/infrastructure/docker/internal/webhooks/devmachinetemplate_webhook.go
  test/infrastructure/docker/internal/webhooks/dockercluster_webhook.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve Go bump instructions
  docs/release/role-handbooks/release-lead/README.md
Due: none

[release-1.10] 🐛 increase ignition additionalConfig maxSize from 10 to 32 KB
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix second rolling update for MD rolloutAfter
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Move ./exp/ipam/api => ./api/ipam
  .golangci-kal.yml
  .golangci.yml
  Makefile
  api/ipam/.import-restrictions
  api/ipam/v1alpha1/conversion.go
  api/ipam/v1alpha1/conversion_test.go
  api/ipam/v1alpha1/doc.go
  api/ipam/v1alpha1/groupversion_info.go
  api/ipam/v1alpha1/ipaddress_types.go
  api/ipam/v1alpha1/ipaddressclaim_types.go
  api/ipam/v1alpha1/zz_generated.conversion.go
  api/ipam/v1alpha1/zz_generated.deepcopy.go
  api/ipam/v1beta1/condition_consts.go
  api/ipam/v1beta1/conversion.go
  api/ipam/v1beta1/conversion_test.go
  api/ipam/v1beta1/doc.go
  api/ipam/v1beta1/groupversion_info.go
  api/ipam/v1beta1/ipaddress_types.go
  api/ipam/v1beta1/ipaddressclaim_types.go
  api/ipam/v1beta1/zz_generated.conversion.go
  api/ipam/v1beta1/zz_generated.deepcopy.go
  api/ipam/v1beta2/.import-restrictions
  api/ipam/v1beta2/conversion.go
  api/ipam/v1beta2/doc.go
  api/ipam/v1beta2/groupversion_info.go
  api/ipam/v1beta2/ipaddress_types.go
  api/ipam/v1beta2/ipaddressclaim_types.go
  api/ipam/v1beta2/v1beta1_condition_consts.go
  api/ipam/v1beta2/zz_generated.deepcopy.go
  exp/ipam/internal/webhooks/ipaddress.go
  exp/ipam/internal/webhooks/ipaddress_test.go
  exp/ipam/internal/webhooks/ipaddressclaim.go
  exp/ipam/internal/webhooks/ipaddressclaim_test.go
  hack/verify-import-restrictions.sh
  internal/test/envtest/environment.go
  main.go
  test/framework/convenience.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: update and simplify image name section
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
Due: none

docs: document staging the generated files to the git commit
  docs/book/src/developer/providers/getting-started/initialize-repo-and-api-types.md
Due: none

docs: remove status subresource section - created by default since kubebuilder 3.0 in 2020
  docs/book/src/developer/providers/getting-started/initialize-repo-and-api-types.md
Due: none

docs: make the mkdir and cd use the same directory
  docs/book/src/developer/providers/getting-started/initialize-repo-and-api-types.md
Due: none

docs: Improvements to consistency and functionality of example code
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

docs: update scaffold examples to current kubebuilder output
  docs/book/src/developer/providers/getting-started/implement-api-types.md
Due: none

docs: grammar and typo fix
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

docs: add comments back and remove reference to deleted comments - referencing deleted comments is very confusing to understand
  docs/book/src/developer/providers/getting-started/implement-api-types.md
Due: none

docs: update examples to what you get from current kubebuilder version
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

docs: update reconciler initiation to be like current kubebuilder provided scaffold
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

docs: correct typo of credentials manifest filename
  docs/book/src/developer/providers/getting-started/configure-the-deployment.md
Due: none

docs: point readers to where the files in question likely are
  docs/book/src/developer/providers/getting-started/implement-api-types.md
Due: none

docs: replace Captain with Mailgun for consistency in example
  docs/book/src/developer/providers/getting-started/implement-api-types.md
Due: none

docs: update tilt example
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
Due: none

docs: update example of runing provider in a local kind cluster
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
Due: none

docs: update cluster-api deployment section
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
Due: none

docs: remove unneeded ctx from example
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

docs: simplify getowner introduction
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
Due: none

Bump sigs.k8s.io/kind to v0.29.0
  hack/ensure-kind.sh
  test/framework/bootstrap/kind_provider.go
  test/go.mod
  test/go.sum
  test/infrastructure/kind/mapper.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add KeepEmptyFields option when Walk Template
  exp/runtime/topologymutation/walker.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
