Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

test/e2e: Add v1.0=>main clusterctl upgrade test
  .gitignore
  Makefile
  docs/release/release-tasks.md
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/README.md
  test/e2e/data/infrastructure-docker/v1.0/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.0/cluster-template/kustomization.yaml
  test/e2e/data/shared/v1.0/metadata.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Added nodeVolumeDetachTimeout to CP machine
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

feat: add mixed clusters working group
  docs/community/20230104-mixed-clusters.md
Due: none

Update coredns corefile migration to v1.0.19
  docs/book/src/reference/versions.md
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Stop supporting CRDs with invalid names
  cmd/clusterctl/client/cluster/installer.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/suite_test.go
  docs/book/src/developer/providers/v1.3-to-v1.4.md
  docs/book/src/reference/labels_and_annotations.md
  exp/internal/controllers/machinepool_controller_phases.go
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  util/conversion/conversion.go
  util/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterClass: catch panics when applying patches
  internal/controllers/topology/cluster/patches/engine.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Update coredns corefile migration to v1.0.19
  docs/book/src/reference/versions.md
  go.mod
  go.sum
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update coredns version support
  docs/book/src/reference/versions.md
Due: none

refactor: varadic optional resource mutators in move operation
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/move.go
  cmd/clusterctl/client/move_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

KCP: Allow unsetting fields if there childs are mutable
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add discoverVariables call to the ClusterClass reconciler
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  cmd/clusterctl/client/alpha/rollout_pauser.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  controllers/alias.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
  main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

KCP: Allow unsetting fields if there childs are mutable
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add clusterClass generation check to Cluster reconciler
  api/v1beta1/condition_consts.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add DefinitionFrom field to ClusterVariable
  api/v1beta1/cluster_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

refactor: address code review comments
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/move_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

uplift helm dependency
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fixups
  controlplane/kubeadm/api/v1alpha4/conversion.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  controlplane/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/remediation_test.go
  docs/book/src/reference/labels_and_annotations.md
  test/e2e/kcp_remediations.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

CAPD: reduce noisy error logs during machine reconciliation
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterClass: also consider MD unavailableReplicas for rollout
  internal/controllers/topology/cluster/conditions_test.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/cluster/scope/state.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Enable ginkgolinter len assertion check and fix findings
  .golangci.yml
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  cmd/clusterctl/client/cluster/components_test.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/client/cluster/topology_test.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/client/repository/template_test.go
  cmd/clusterctl/internal/util/obj_refs_test.go
  controllers/remote/keyedmutex_test.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/etcd/etcd_test.go
  exp/addons/internal/controllers/clusterresourceset_helpers_test.go
  exp/internal/controllers/machinepool_controller_noderef_test.go
  exp/internal/controllers/machinepool_controller_test.go
  exp/runtime/internal/controllers/extensionconfig_controller_test.go
  exp/runtime/internal/controllers/warmup_test.go
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/controllers/topology/machineset/util_test.go
  internal/runtime/registry/registry_test.go
  test/e2e/clusterclass_changes.go
  test/infrastructure/docker/internal/provisioning/cloudinit/unknown_test.go
  util/conversion/conversion_test.go
  util/resource/resource_test.go
  util/yaml/yaml_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add support for KCP remediation during cluster provisioning Co-authored-by: sbueringer <buringerst@vmware.com>
  controlplane/kubeadm/api/v1alpha3/conversion.go
  controlplane/kubeadm/api/v1alpha3/zz_generated.conversion.go
  controlplane/kubeadm/api/v1alpha4/conversion.go
  controlplane/kubeadm/api/v1alpha4/zz_generated.conversion.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  controlplane/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/remediation_test.go
  controlplane/kubeadm/internal/controllers/status.go
  docs/book/src/developer/providers/v1.3-to-v1.4.md
  docs/book/src/reference/labels_and_annotations.md
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/mhc.yaml
  test/e2e/kcp_remediations.go
  test/e2e/kcp_remediations_test.go
  test/e2e/md_remediations.go
  test/e2e/md_remediations_test.go
  test/infrastructure/container/docker.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

in-place propagation from MachineDeployment to MachineSet and MachineSet to Machines.
  api/v1beta1/machinedeployment_types.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_rolling.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/util/ssa/managedfields.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Migrate machine tests to envtest
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machine/machine_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Fix typos
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix exp/addons/internal/controllers/clusterresourceset_controller_test.go typo
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve generate namespace function
  exp/addons/internal/controllers/clusterresourceset_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add unit tests
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/machinedeployment_sync_test.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/util/ssa/managedfields_test.go
  internal/util/ssa/matchers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

improve logging during Machine deletion
  internal/controllers/machine/machine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

address review comments
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/util/ssa/managedfields_test.go
  internal/util/ssa/matchers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fix TOC of CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Small improvement to the backport policy
  CONTRIBUTING.md
Due: none

backport policy: Add go version bumps
  .github/ISSUE_TEMPLATE/release_tracking.md
  CONTRIBUTING.md
  docs/release/release-tasks.md
Due: none

book: Add note about clusterctl skip-level upgrades
  docs/book/src/clusterctl/commands/upgrade.md
Due: none

test/e2e: Extend MD rollout test to cover in-place propagation
  test/e2e/md_rollout.go
  test/e2e/md_rollout_test.go
  test/framework/machine_helpers.go
  test/framework/machinedeployment_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Change unexpected rollouts default timeout from 3min to 5min
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Migrate MachineSets to new unique label
  api/v1beta1/machinedeployment_types.go
  cmd/clusterctl/client/alpha/rollout_rollbacker.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve KCP logging, improve e2e test, increase timeout
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/scale.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/filters.go
  test/e2e/clusterctl_upgrade.go
  util/collections/machine_filters.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
