Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Update matrix to include release 1.14
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-security-scan.yaml
  .github/workflows/weekly-test-release.yaml
Due: none

fix(topology): merge template-patch metadata.labels/annotations instead of full-replace
  core/reconcilers/topology/cluster/patches/engine_label_regression_test.go
  core/reconcilers/topology/cluster/patches/patch.go
  internal/util/patch/patch.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

clusterctl: Validate `apiVersion` for reliant CRDs
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/cluster/upgrader_preflight_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

clusterctl: Respect proxy for `ApplyPlan` test
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/cluster/upgrader_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

feat: Add machineNaming field to ClusterClass and Cluster topology
  api/core/v1beta1/cluster_types.go
  api/core/v1beta1/clusterclass_types.go
  api/core/v1beta1/conversion.go
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta1/zz_generated.deepcopy.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/zz_generated.deepcopy.go
  core/config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  core/config/crd/bases/cluster.x-k8s.io_clusters.yaml
  exp/topology/desiredstate/desired_state.go
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add validation for machineNaming templates in ClusterClass and Cluster topology webhooks to ensure templates are valid before resources are created.
  core/webhooks/admission/cluster.go
  core/webhooks/admission/clusterclass.go
Due: none

Add machineNaming tests and docs for topology MachineDeployments
  core/webhooks/admission/cluster_test.go
  core/webhooks/admission/clusterclass_test.go
  core/webhooks/conversion/conversion_test.go
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  exp/topology/desiredstate/desired_state_test.go
  util/test/builder/builders.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update make gen
  api/core/v1beta1/conversion.go
  docs/book/src/reference/api/crd-api-reference-v1beta1.md
  docs/book/src/reference/api/crd-api-reference.md
  util/test/builder/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update release issue template
  .github/ISSUE_TEMPLATE/release_tracking.md
Due: none

🐛 Measure nodeDeletionTimeout from node deletion start
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/zz_generated.deepcopy.go
  core/config/crd/bases/cluster.x-k8s.io_machines.yaml
  core/reconcilers/machine/machine_controller.go
  core/reconcilers/machine/machine_controller_test.go
  core/webhooks/conversion/machine.go
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: trivyignore CVE-2026-56852
  .trivyignore
Due: none

Add 1.15 release timeline
  docs/release/releases/release-1.15.md
Due: none

fix: gracefully handle not-found when resolving owner references
  core/reconcilers/machine/machine_controller.go
  core/reconcilers/machine/machine_controller_status.go
  core/reconcilers/machine/machine_controller_status_test.go
  core/reconcilers/machineset/machineset_controller.go
  core/reconcilers/machineset/machineset_controller_test.go
Due: none

🚀 Release v1.14.0-rc.1
  CHANGELOG/v1.14.0-rc.1.md
Due: none

ClusterResourceSet: Patch memory leak
  core/reconcilers/clusterresourceset/clusterresourceset_scope.go
Due: none

fix(bootstrap): correct CLC rendering for mounts, optional overwrite and indented file content
  bootstrap/kubeadm/pkg/ignition/clc/clc.go
  bootstrap/kubeadm/pkg/ignition/clc/clc_test.go
  go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: add proposal for OCI publishing
  docs/proposals/20260804-provider-manifests-as-oci-artifacts.md
Due: none

feat(machinepool): use InfraMachinePool contract in controller
  core/reconcilers/machinepool/machinepool_controller_phases.go
  core/reconcilers/machinepool/machinepool_controller_phases_test.go
  core/reconcilers/machinepool/machinepool_controller_scope.go
  core/reconcilers/machinepool/machinepool_controller_test.go
Due: none

feat(contract): add InfraMachinePool accessors
  internal/contract/infrastructure_machinepool.go
  internal/contract/infrastructure_machinepool_test.go
  internal/contract/types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

feat(capd): implement v1beta2 initialization contract in DevMachinePool
  .golangci.yml
  test/infrastructure/docker/api/v1beta2/devmachinepool_types.go
  test/infrastructure/docker/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachinepools.yaml
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachinepool_backend.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

aggregate deleting condition messages from child resource
  core/reconcilers/cluster/cluster_controller.go
  core/reconcilers/cluster/cluster_controller_status_test.go
  core/reconcilers/cluster/cluster_controller_test.go
  core/reconcilers/machine/machine_controller.go
  util/conditions/deleting.go
  util/conditions/deleting_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Add worker version pinning API and validation
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/cluster_types.go
  core/config/crd/bases/cluster.x-k8s.io_clusters.yaml
  core/config/manager/manager.yaml
  core/webhooks/admission/cluster.go
  core/webhooks/admission/cluster_test.go
  core/webhooks/conversion/cluster.go
  feature/feature.go
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
  internal/topology/pinning/pinning.go
  util/test/builder/builders.go
  util/version/skew.go
  util/version/skew_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump gcb-docker-gcloud to a prod image
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

docs(in-place-updates): add configurable fallback strategy
  docs/proposals/20240807-in-place-updates.md
Due: none

update cluster-autoscaler repo references
  api/core/v1beta1/common_types.go
  api/core/v1beta2/common_types.go
  docs/book/src/tasks/automated-machine-management/autoscaling.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Handle goproxy polling errors
  internal/goproxy/goproxy.go
  internal/goproxy/goproxy_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Fix ParseSecretName round-trip for purposes containing hyphens
  util/secret/round_trip_test.go
  util/secret/secret.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add CAPD_DOCKER_NETWORK environment variable
  test/infrastructure/docker/config/manager/manager.yaml
  test/infrastructure/docker/internal/docker/manager.go
  test/infrastructure/docker/internal/docker/manager_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor containerHasTerminated to account for restart policy
  test/framework/deployment_helpers.go
  test/framework/deployment_helpers_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove the deleted Hivelocity infrastructure provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/reference/glossary.md
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

machinepool: Conditionally delegate taint removal
  core/reconcilers/machinepool/machinepool_controller_noderef.go
  core/reconcilers/machinepool/machinepool_controller_noderef_test.go
Due: none

docs: add Kairos Fleet to the quick-start guide and glossary
  docs/book/src/reference/glossary.md
  docs/book/src/user/quick-start.md
Due: none

Add cluster-api-provider-kairos to the built-in bootstrap and control plane provider list
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add cluster-api-provider-kairos-fleet to the built-in infrastructure provider list
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: add Kairos to the bootstrap and control plane provider lists
  docs/book/src/reference/providers.md
Due: none

docs: add Kairos Fleet to the infrastructure provider list
  docs/book/src/reference/providers.md
Due: none

docs: add Kairos bootstrap and control plane providers to the glossary
  docs/book/src/reference/glossary.md
Due: none

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
