Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

RuntimeSDK: improve error wrapping and godoc
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  exp/runtime/hooks/api/v1alpha1/common_types.go
  exp/runtime/hooks/api/v1alpha1/discovery_types.go
  exp/runtime/hooks/api/v1alpha1/groupversion_info.go
  exp/runtime/hooks/api/v1alpha1/lifecyclehooks_types.go
  exp/runtime/hooks/api/v1alpha1/topologymutation_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  exp/runtime/internal/controllers/warmup.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/hooks/tracking.go
  internal/runtime/catalog/builder.go
  internal/runtime/catalog/catalog.go
  internal/runtime/catalog/openapi.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  internal/runtime/client/fake/fake_client.go
  internal/runtime/registry/registry.go
  internal/runtime/test/v1alpha1/fake_types.go
  internal/runtime/test/v1alpha1/groupversion_info.go
  internal/runtime/test/v1alpha2/fake_types.go
  internal/runtime/test/v1alpha2/groupversion_info.go
  internal/webhooks/runtime/extensionconfig_webhook.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

review fixes
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  exp/runtime/hooks/api/v1alpha1/discovery_types.go
  exp/runtime/hooks/api/v1alpha1/lifecyclehooks_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  exp/runtime/internal/controllers/warmup.go
  internal/runtime/catalog/catalog.go
  internal/runtime/client/client.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Make TestInfrastructureMachineTemplateBuilder deepcopy-able
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

export util packages for Runtime SDK
  .golangci.yml
  exp/runtime/catalog/builder.go
  exp/runtime/catalog/catalog.go
  exp/runtime/catalog/doc.go
  exp/runtime/catalog/openapi.go
  exp/runtime/catalog/test/catalog_test.go
  exp/runtime/hooks/api/v1alpha1/discovery_types.go
  exp/runtime/hooks/api/v1alpha1/groupversion_info.go
  exp/runtime/hooks/api/v1alpha1/lifecyclehooks_types.go
  exp/runtime/hooks/api/v1alpha1/topologymutation_types.go
  exp/runtime/internal/controllers/extensionconfig_controller_test.go
  exp/runtime/internal/controllers/warmup_test.go
  exp/runtime/server/server.go
  hack/tools/runtime-openapi-gen/main.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/controllers/topology/cluster/scope/hookresponsetracker.go
  internal/controllers/topology/cluster/scope/hookresponsetracker_test.go
  internal/hooks/tracking.go
  internal/hooks/tracking_test.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  internal/runtime/client/fake/fake_client.go
  internal/runtime/registry/registry.go
  internal/runtime/registry/registry_test.go
  internal/runtime/test/v1alpha1/conversion_test.go
  internal/runtime/test/v1alpha1/fake_types.go
  internal/runtime/test/v1alpha1/groupversion_info.go
  internal/runtime/test/v1alpha2/fake_types.go
  internal/runtime/test/v1alpha2/groupversion_info.go
  main.go
  test/extension/handlers/lifecycle/handlers.go
  test/extension/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure controlplane coredns update deploys the ClusterRole if CoreDNS was already updated
  controlplane/kubeadm/internal/workload_cluster_coredns.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Runtime SDK implement metrics for runtime hook client
  go.mod
  internal/runtime/client/client.go
  internal/runtime/metrics/metrics.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

runtime sdk catalog path fix
  exp/runtime/catalog/catalog.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Upgrade controller-tools to v0.9.1
  Makefile
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_metadata.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_providers.yaml
  cmd/clusterctl/config/manifest/clusterctl-api.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  config/webhook/manifests.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  docs/book/src/developer/providers/v1.1-to-v1.2.md
  hack/tools/go.mod
  hack/tools/go.sum
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclustertemplates.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add deepcopy methods to remaining builders
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

clusterctl: migrate CRDs during upgrade
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/crd_migration.go
  cmd/clusterctl/client/cluster/crd_migration_test.go
  cmd/clusterctl/client/cluster/upgrader.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

e2e: improve logging, enable wait for providers
  test/framework/clusterctl/client.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

e2e test crd migration
  Makefile
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/main.go
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/main.go
  main.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/framework/clusterctl/client.go
  test/framework/clusterctl/clusterctl_helpers.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix typo in the kubelet authentication proposal
  docs/proposals/20210222-kubelet-authentication.md
Due: none

filter all fields not managedy by topology controller for cluster object
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/structuredmerge/options.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Ship clusterctl binary for linux/ppc64le platform
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Carry over metadata.uid at ServerSidePatchHelper
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/controllers/topology/cluster/structuredmerge/options.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper.go
  internal/controllers/topology/cluster/structuredmerge/serversidepathhelper_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add time-based rate limiter to Cluster/Topology reconciler
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/suite_test.go
  main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

remove deprecated code in v1.2
  controllers/remote/cluster_cache_reconciler.go
  docs/book/src/developer/providers/v1.2-to-v1.3.md
  util/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update link in PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix spelling in clusterctl command help text
  cmd/clusterctl/cmd/config_repositories.go
  cmd/clusterctl/cmd/root.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix structuredmerge filterintent to cleanup nested empty maps
  internal/controllers/topology/cluster/structuredmerge/filterintent.go
  internal/controllers/topology/cluster/structuredmerge/filterintent_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Improve clusterctl get help grammar
  cmd/clusterctl/cmd/get.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Retry Apply workloadClusterTemplate to fix flake
  test/framework/clusterctl/clusterctl_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use 'Byf' instead of 'By(fmt.Sprintf())' across e2e tests
  test/e2e/clusterctl_upgrade.go
  test/framework/alltypes_helpers.go
  test/framework/cluster_helpers.go
  test/framework/clusterctl/repository.go
  test/framework/deployment_helpers.go
  test/framework/machine_helpers.go
  test/framework/machinedeployment_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Implement BeforeClusterDelete hook
  exp/addons/internal/controllers/clusterresourcesetbinding_controller.go
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/hooks/tracking.go
  internal/hooks/tracking_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
