Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Add MP timeouts to cluster upgrade tests
  test/e2e/cluster_upgrade.go
  test/e2e/cluster_upgrade_runtimesdk.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add MachinePool Machine implementation to DockerMachines and DockerMachinePools
  exp/internal/controllers/machinepool_controller_phases.go
  internal/webhooks/machine.go
  internal/webhooks/machine_test.go
  test/e2e/clusterclass_rollout.go
  test/framework/ownerreference_helpers.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/rbac/role.yaml
  test/infrastructure/docker/exp/api/v1alpha4/conversion.go
  test/infrastructure/docker/exp/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1beta1/dockermachinepool_types.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  util/labels/helpers.go
  util/labels/helpers_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add additional test cases for nested variable defaulting
  internal/topology/variables/cluster_variable_defaulting_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

Add age also to v1beta1 IPAM types
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddresses.yaml
  exp/ipam/api/v1beta1/ipaddress_types.go
  exp/ipam/api/v1beta1/ipaddressclaim_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Enforce IPAM import alias
  .golangci.yml
  exp/ipam/api/v1alpha1/conversion.go
  exp/ipam/api/v1alpha1/conversion_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Addin runtime controller create.
  test/e2e/clusterctl_upgrade.go
  test/e2e/kcp_remediations.go
  test/framework/cluster_proxy.go
  test/framework/clusterctl/clusterctl_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

:seedling: allow non-provider Deployments in Tilt
  Tiltfile
  hack/tools/internal/tilt-prepare/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Adding controller runtime create
  test/e2e/clusterctl_upgrade.go
  test/e2e/kcp_remediations.go
  test/e2e/scale.go
  test/framework/autoscaler_helpers.go
  test/framework/cluster_proxy.go
  test/framework/clusterctl/clusterctl_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Improve output of exec.KubectlApply
  cmd/clusterctl/cmd/topology_plan.go
  test/framework/cluster_proxy.go
  test/framework/clusterctl/client.go
  test/framework/exec/kubectl.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Bump golangci-lint to v1.55.2
  .github/workflows/pr-golangci-lint.yaml
Due: none

remove adding List for discoveryType in test
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/cluster/objectgraph.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

:seedling: make clusterctl move block-move timeout global
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

:sparkles: add --wait-for-unblock-timeout to clusterctl move
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/move.go
  cmd/clusterctl/client/move_test.go
  cmd/clusterctl/cmd/move.go
  test/framework/clusterctl/client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Follow-up fixes: Add MachinePools to Runtime SDK and Rollout tests
  internal/contract/infrastructure_machinepool_template.go
  test/e2e/clusterclass_changes.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/clusterclass_rollout.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

MS: improve replica defaulting for autoscaler
  api/v1beta1/machineset_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  docs/book/src/tasks/automated-machine-management/autoscaling.md
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/webhooks/machinedeployment.go
  internal/webhooks/machinedeployment_test.go
  internal/webhooks/machineset.go
  internal/webhooks/machineset_test.go
  webhooks/alias.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Avoid cd'ing into test folders when building Docker images
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Set User Agent for test extension correctly
  test/extension/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add release v1.6.0-rc.0
  CHANGELOG/v1.6.0-rc.0.md
Due: none

Revert "🌱 Improve release staging build speed"
  Makefile
  cloudbuild.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix provider namespace secret not included in clusterctl move
  cmd/clusterctl/client/cluster/objectgraph.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

add release-1.6 branch to the github workflows
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-security-scan.yaml
  .github/workflows/weekly-test-release.yaml
Due: none

test pr
  README.md
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

:book: add release 1.5 book link
  docs/book/src/introduction.md
Due: none

Fix documentation area comparison in release notes
  hack/tools/release/notes/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Update microk8s-bootstrap.md
  docs/book/src/tasks/bootstrap/microk8s-bootstrap.md
Due: none

remove hardcoded condition
  controlplane/kubeadm/internal/controllers/controller.go
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

clusterresourceset: requeue after 1 minute if ErrClusterLocked got hit
  exp/addons/internal/controllers/clusterresourceset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

:seedling: fix typo in proposal doc template
  docs/proposals/YYYYMMDD-template.md
Due: none

:docs: [release] adds a clarifying note regarding netlify updates
  docs/release/release-tasks.md
Due: none

Fix Community meeting area formatting in release notes
  hack/tools/release/notes/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e
