Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.31
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.31
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.31
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Extend cluster builtin to include classNamespace
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  exp/runtime/hooks/api/v1alpha1/topologymutation_variable_types.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/controllers/topology/cluster/patches/variables/variables_test.go
  internal/webhooks/patch_validation.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove unused List conversion funcs
  api/addons/v1beta2/conversion.go
  api/v1beta2/conversion.go
  bootstrap/kubeadm/api/v1beta2/conversion.go
  controlplane/kubeadm/api/v1beta2/conversion.go
  exp/api/v1beta2/conversion.go
  exp/ipam/api/v1alpha1/conversion.go
  exp/ipam/api/v1beta2/conversion.go
  internal/apis/addons/v1alpha3/conversion.go
  internal/apis/addons/v1alpha4/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion.go
  internal/apis/core/exp/v1alpha3/conversion.go
  internal/apis/core/exp/v1alpha4/conversion.go
  internal/apis/core/v1alpha3/conversion.go
  internal/apis/core/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1beta1/conversion.go
  test/infrastructure/docker/exp/api/v1alpha3/conversion.go
  test/infrastructure/docker/exp/api/v1alpha4/conversion.go
  test/infrastructure/docker/exp/api/v1beta1/conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump go to v1.23.8
  Makefile
  Tiltfile
  netlify.toml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

clusterctl init: add flag for retrying cert-manager readiness check
  cmd/clusterctl/client/client_test.go
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/cert_manager_test.go
  cmd/clusterctl/client/init.go
  cmd/clusterctl/cmd/init.go
  cmd/clusterctl/internal/test/fake_proxy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add docs entry about the new flag
  docs/book/src/clusterctl/commands/init.md
Due: none

leave current hack/.../tilt-prepare code behavior
  hack/tools/internal/tilt-prepare/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix typo in error message
  controlplane/kubeadm/internal/workload_cluster_etcd.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ci-signal: clarified timing for dropping n-3 release support in setup steps
  docs/release/role-handbooks/ci-signal/README.md
Due: none

Promote v1beta2 conditions, deprecate failureReason and Message, promote new replica counters
  api/addons/v1beta2/clusterresourceset_types.go
  api/addons/v1beta2/zz_generated.deepcopy.go
  api/v1beta2/cluster_types.go
  api/v1beta2/clusterclass_types.go
  api/v1beta2/machine_types.go
  api/v1beta2/machinedeployment_types.go
  api/v1beta2/machinehealthcheck_types.go
  api/v1beta2/machineset_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bootstrap/kubeadm/api/v1beta2/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta2/zz_generated.deepcopy.go
  controlplane/kubeadm/api/v1beta2/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta2/zz_generated.deepcopy.go
  exp/api/v1beta2/machinepool_types.go
  exp/api/v1beta2/zz_generated.deepcopy.go
  exp/ipam/api/v1beta2/ipaddressclaim_types.go
  exp/ipam/api/v1beta2/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump corefile-migration library to v1.0.26
  docs/book/src/reference/versions.md
  go.mod
  go.sum
  hack/tools/go.sum
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

clusterclass: improve webhook output to include the names of the clusters blocking a deletion
  internal/webhooks/clusterclass.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Run generators
  api/v1beta1/zz_generated.openapi.go
  api/v1beta2/zz_generated.openapi.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add retry for SSA requests against Kubernetes < v1.29 in clusterctl upgrade tests
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add tests that fail when a worker topology name causes invalid Kubernetes resource name
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add validation that ensures worker topology names are valid Kubernetes resource names
  internal/topology/check/compatibility.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

added post release cleanup step
  docs/release/role-handbooks/ci-signal/README.md
Due: none

Handle contract version for control plane replica counters
  cmd/clusterctl/client/tree/annotations.go
  cmd/clusterctl/client/tree/discovery.go
  cmd/clusterctl/client/tree/discovery_test.go
  cmd/clusterctl/internal/test/fake_objects.go
  internal/contract/controlplane.go
  internal/contract/controlplane_test.go
  internal/contract/types.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/util/tree/tree.go
  test/e2e/clusterclass_changes.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More feedback
  exp/ipam/api/v1beta1/conversion.go
  exp/ipam/api/v1beta1/conversion_test.go
  internal/apis/addons/v1alpha3/conversion.go
  internal/apis/addons/v1alpha4/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion.go
  internal/apis/core/exp/v1alpha3/conversion.go
  internal/apis/core/v1alpha3/conversion.go
  internal/apis/core/v1alpha4/conversion.go
  internal/controllers/cluster/cluster_controller_phases.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix unit test
  internal/controllers/cluster/cluster_controller_status.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Update proposal based on feedback
  docs/proposals/20240807-in-place-updates.md
Due: none

Additional feedback changes
  docs/proposals/20240807-in-place-updates.md
Due: none

🚀 Release v1.10.0-rc.0
  CHANGELOG/v1.10.0-rc.0.md
Due: none

Address review comments
  docs/proposals/20240807-in-place-updates.md
Due: none

Fix MaxLength of worker topology Name fields
  api/v1beta1/cluster_types.go
  api/v1beta2/cluster_types.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! Fix MaxLength of worker topology Name fields
  api/v1beta1/cluster_types.go
  api/v1beta2/cluster_types.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More feedback
  api/v1beta2/machinedeployment_types.go
  api/v1beta2/machineset_types.go
  bootstrap/kubeadm/api/v1beta1/conversion_test.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/api/v1beta1/conversion_test.go
  controlplane/kubeadm/api/v1beta2/kubeadm_control_plane_types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  exp/ipam/api/v1alpha1/conversion.go
  internal/apis/addons/v1alpha3/conversion.go
  internal/apis/addons/v1alpha4/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/apis/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion.go
  internal/apis/core/exp/v1alpha3/conversion.go
  internal/apis/core/exp/v1alpha4/conversion.go
  internal/apis/core/v1alpha3/conversion.go
  internal/apis/core/v1alpha3/conversion_test.go
  internal/apis/core/v1alpha4/conversion.go
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address outstanding review comments
  docs/proposals/20240807-in-place-updates.md
Due: none

Always reset auto converted conditions
  internal/apis/core/v1alpha3/conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Move KCP to the v1beta2 contract
  controlplane/kubeadm/config/crd/kustomization.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:bug: Fix MaxLength of worker topology Name fields (#12072)
  api/v1beta1/cluster_types.go
  api/v1beta2/cluster_types.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Release Notes Generator - Test cases for main.go and ref.go (#11882)
  hack/tools/release/notes/main_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
