Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

🌱 Set print columns for v1beta2 types (#12534)
  api/addons/v1beta2/clusterresourceset_types.go
  api/addons/v1beta2/clusterresourcesetbinding_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfigtemplate_types.go
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/controlplane/kubeadm/v1beta2/kubeadmcontrolplanetemplate_types.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinedeployment_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/machinepool_types.go
  api/core/v1beta2/machineset_types.go
  api/runtime/v1beta2/extensionconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  docs/proposals/20240916-improve-status-in-CAPI-resources.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address reveiw comments
  api/bootstrap/kubeadm/v1beta1/conversion.go
  api/bootstrap/kubeadm/v1beta1/conversion_test.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/zz_generated.deepcopy.go
  api/controlplane/kubeadm/v1beta1/conversion_test.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/controllers/upgrade.go
  controlplane/kubeadm/internal/filters_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane_test.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  internal/api/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
  util/secret/certificates.go
  util/secret/certificates_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add function to check v1beta2 conditions
  test/e2e/common.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

apply v1beta2 validation to e2e tests
  test/e2e/autoscaler.go
  test/e2e/cluster_deletion.go
  test/e2e/cluster_upgrade.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/clusterclass_changes.go
  test/e2e/clusterclass_rollout.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/k8s_conformance.go
  test/e2e/kcp_adoption.go
  test/e2e/kcp_remediations.go
  test/e2e/machine_pool.go
  test/e2e/md_remediations.go
  test/e2e/md_rollout.go
  test/e2e/md_scale.go
  test/e2e/node_drain.go
  test/e2e/quick_start.go
  test/e2e/self_hosted.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix condition handling during controller start
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_accessor_test.go
  controllers/clustercache/cluster_cache.go
  controllers/clustercache/cluster_cache_fake.go
  controllers/clustercache/cluster_cache_test.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/cluster/cluster_controller_status_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More validation rules
  api/addons/v1beta2/clusterresourceset_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/core/v1beta2/clusterclass_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  internal/controllers/clusterresourceset/clusterresourceset_controller_test.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix linter
  api/addons/v1beta2/clusterresourceset_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Stop requiring init or cluster configuration for first CP machine
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix Tiltfile
  Tiltfile
Due: none

feat: add check metadata version CLI utility
  hack/tools/metadata-version-validator/README.md
  hack/tools/metadata-version-validator/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🚀 Release v1.11.0-beta.2
  CHANGELOG/v1.11.0-beta.2.md
Due: none

⚠️ Add additional MinProperties & MinItems validation across multiple APIs (#12538)
  api/addons/v1beta2/clusterresourceset_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/core/v1beta2/clusterclass_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  internal/controllers/clusterresourceset/clusterresourceset_controller_test.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:sparkles: Add CertificateValidityPeriod and CACertificateValidityPeriod to KubeadmConfig (#12335)
  api/bootstrap/kubeadm/v1beta1/conversion.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/upstreamv1beta3/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/controllers/upgrade.go
  controlplane/kubeadm/internal/filters_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane_test.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  internal/api/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
  util/secret/certificates.go
  util/secret/certificates_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Document certificateValidityPeriodDays caCertificateValidityPeriodDays fields
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
Due: none

Change envVars fields from []EnvVar to *[]EnvVar
  .golangci-kal.yml
  api/bootstrap/kubeadm/v1beta1/conversion.go
  api/bootstrap/kubeadm/v1beta1/conversion_test.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/zz_generated.deepcopy.go
  api/controlplane/kubeadm/v1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
  internal/api/bootstrap/kubeadm/v1alpha3/conversion_test.go
  internal/api/bootstrap/kubeadm/v1alpha4/conversion_test.go
  internal/api/controlplane/kubeadm/v1alpha3/conversion_test.go
  internal/api/controlplane/kubeadm/v1alpha4/conversion_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Release v1.11.0-beta.2
  CHANGELOG/v1.11.0-beta.2.md
Due: none

Add resource version check to clusterctl upgrade tests
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

move Verify functions to framework
  test/framework/cluster_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

replace Verify functions
  test/e2e/autoscaler.go
  test/e2e/cluster_deletion.go
  test/e2e/cluster_upgrade.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/clusterclass_changes.go
  test/e2e/clusterclass_rollout.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/common.go
  test/e2e/k8s_conformance.go
  test/e2e/kcp_adoption.go
  test/e2e/kcp_remediations.go
  test/e2e/machine_pool.go
  test/e2e/md_remediations.go
  test/e2e/md_rollout.go
  test/e2e/md_scale.go
  test/e2e/node_drain.go
  test/e2e/quick_start.go
  test/e2e/self_hosted.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix lint
  test/e2e/clusterctl_upgrade.go
  test/e2e/common.go
  test/e2e/machine_pool.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add omitempty to required string without zero value
  api/addons/v1beta2/clusterresourceset_types.go
  api/addons/v1beta2/clusterresourcesetbinding_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/common_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinedeployment_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/machinepool_types.go
  api/core/v1beta2/machineset_types.go
  api/core/v1beta2/zz_generated.openapi.go
  api/ipam/v1beta2/ipaddress_types.go
  api/ipam/v1beta2/ipaddressclaim_types.go
  api/runtime/v1beta2/extensionconfig_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add temporary exclude rule
  .golangci-kal.yml
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add another temporary exclude rule
  .golangci-kal.yml
Due: none

Drop omit empty on layout (it is not a string)
  .golangci-kal.yml
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix runtime-sdk E2E test
  test/e2e/cluster_upgrade_runtimesdk.go
  test/framework/cluster_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

⚠️ Add omitempty to required string without zero value (#12548)
  .golangci-kal.yml
  api/addons/v1beta2/clusterresourceset_types.go
  api/addons/v1beta2/clusterresourcesetbinding_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/common_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinedeployment_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/machinepool_types.go
  api/core/v1beta2/machineset_types.go
  api/core/v1beta2/zz_generated.openapi.go
  api/ipam/v1beta2/ipaddress_types.go
  api/ipam/v1beta2/ipaddressclaim_types.go
  api/runtime/v1beta2/extensionconfig_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More fix
  test/e2e/clusterctl_upgrade.go
  test/e2e/self_hosted.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix log message
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add len when creating nodeNameMap
  exp/internal/controllers/machinepool_controller_noderef.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🐛 Fix Available/Ready checks on E2E test (#12549)
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/self_hosted.go
  test/framework/cluster_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add omitzero on struct without zero value
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfigtemplate_types.go
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/controlplane/kubeadm/v1beta2/kubeadmcontrolplanetemplate_types.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinedeployment_types.go
  api/core/v1beta2/machinedrainrules_types.go
  api/core/v1beta2/machinepool_types.go
  api/core/v1beta2/machineset_types.go
  api/ipam/v1beta2/ipaddress_types.go
  api/ipam/v1beta2/ipaddressclaim_types.go
  api/runtime/v1beta2/extensionconfig_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix ResourceVersion flake for MachinePools
  test/framework/resourceversion_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix second rolling update for MD rolloutAfter
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

update doc for Cluster
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
  docs/book/src/security/pod-security-standards.md
  docs/book/src/tasks/bootstrap/kubeadm-bootstrap/index.md
  docs/book/src/tasks/bootstrap/microk8s-bootstrap.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-lifecycle-hooks.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-topology-mutation-hook.md
  docs/book/src/tasks/using-kustomize.md
  docs/book/src/tasks/workload-bootstrap-gitops.md
  docs/book/src/user/quick-start.md
Due: none

fix review findings
  docs/book/src/security/pod-security-standards.md
  docs/book/src/tasks/bootstrap/kubeadm-bootstrap/index.md
  docs/book/src/tasks/experimental-features/cluster-class/operate-cluster.md
  docs/book/src/user/quick-start.md
Due: none

update spec to adjust for v1beta2
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update examples
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update machineTemplate spec
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
