Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Reviews
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move experimental API v1beta1 webhooks to separate package
  Makefile
  exp/internal/webhooks/doc.go
  exp/internal/webhooks/machinepool.go
  exp/internal/webhooks/machinepool_test.go
  exp/webhooks/alias.go
  exp/webhooks/doc.go
  internal/test/envtest/environment.go
  main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Implement secure diagnostics (metrics, pprof, log level changes)
  Makefile
  bootstrap/kubeadm/config/manager/manager.yaml
  bootstrap/kubeadm/config/rbac/role.yaml
  bootstrap/kubeadm/main.go
  config/manager/manager.yaml
  config/rbac/role.yaml
  controlplane/kubeadm/config/manager/manager.yaml
  controlplane/kubeadm/config/rbac/role.yaml
  controlplane/kubeadm/main.go
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/migrations/v1.5-to-v1.6.md
  docs/book/src/tasks/diagnostics.md
  go.mod
  go.sum
  hack/observability/parca/kustomization.yaml
  hack/observability/parca/rbac-pprof.yaml
  hack/observability/parca/values.yaml
  hack/observability/prometheus/values.yaml
  hack/tools/internal/tilt-prepare/main.go
  main.go
  test/e2e/config/docker.yaml
  test/go.mod
  test/go.sum
  test/infrastructure/docker/config/manager/manager.yaml
  test/infrastructure/docker/config/rbac/role.yaml
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/config/manager/manager.yaml
  test/infrastructure/inmemory/config/rbac/role.yaml
  test/infrastructure/inmemory/main.go
  util/flags/diagnostics.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

dump all pods
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
  test/framework/alltypes_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Tiltfile: rename deploy_kustomizations to additional_kustomizations
  Tiltfile
  docs/book/src/developer/tilt.md
  hack/tools/internal/tilt-prepare/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Patch for MachinePool preLoadImages
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

extend test/framework to collect workload cluster nodes
  docs/book/src/developer/providers/migrations/v1.5-to-v1.6.md
  test/e2e/common.go
  test/framework/alltypes_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Dump all pods in e2e test clusters
  docs/book/src/developer/providers/migrations/v1.5-to-v1.6.md
  test/e2e/common.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update instructions checklist to generate release notes
  docs/release/release-tasks.md
Due: none

Syncing upstream
  sync-upstream-repo
Due: none

Bump Trivy to v0.45.1
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add loggercheck linter and fix findings
  .golangci.yml
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  test/infrastructure/docker/internal/docker/manager.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Exclude release trigger PRs from release notes
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove redundant GetRESTConfig in KCP Management.GetWorkloadCluster
  controlplane/kubeadm/internal/cluster.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🐛 Fix KCP Controller reconcile always return error when workload cluster is unreachable
  controlplane/kubeadm/internal/cluster.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve Cluster variable defaulting/validation errors
  internal/topology/variables/cluster_variable_defaulting.go
  internal/topology/variables/cluster_variable_validation.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

improve release-staging build
  Makefile
  cloudbuild.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move experimental addons API v1beta1 webhooks to separate package
  Makefile
  exp/addons/internal/webhooks/clusterresourceset_webhook.go
  exp/addons/internal/webhooks/clusterresourceset_webhook_test.go
  exp/addons/internal/webhooks/clusterresourcesetbinding_webhook.go
  exp/addons/internal/webhooks/clusterresourcesetbinding_webhook_test.go
  exp/addons/internal/webhooks/doc.go
  exp/addons/webhooks/alias.go
  exp/addons/webhooks/doc.go
  internal/test/envtest/environment.go
  main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterCacheTracker: introduce interfaces to allow fake implementations in tests
  bootstrap/kubeadm/controllers/alias.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  controllers/alias.go
  controllers/remote/cluster_cache_tracker.go
  controlplane/kubeadm/controllers/alias.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/controllers/controller.go
  exp/addons/controllers/alias.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/controllers/alias.go
  exp/internal/controllers/machinepool_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  test/infrastructure/docker/controllers/alias.go
  test/infrastructure/docker/exp/controllers/alias.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move docker infrastructure experimental API v1beta1 webhooks to separate package
  test/infrastructure/docker/exp/internal/webhooks/doc.go
  test/infrastructure/docker/exp/internal/webhooks/dockermachinepool_webhook.go
  test/infrastructure/docker/exp/webhooks/alias.go
  test/infrastructure/docker/exp/webhooks/doc.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/e2e: structure resources by namespace/kind again
  test/framework/alltypes_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move docker infrastructure API v1beta1 webhooks to separate package
  Makefile
  test/infrastructure/docker/internal/webhooks/doc.go
  test/infrastructure/docker/internal/webhooks/dockercluster_webhook.go
  test/infrastructure/docker/internal/webhooks/dockerclustertemplate_webhook.go
  test/infrastructure/docker/internal/webhooks/dockerclustertemplate_webhook_test.go
  test/infrastructure/docker/internal/webhooks/dockermachinetemplate_webhook.go
  test/infrastructure/docker/internal/webhooks/dockermachinetemplate_webhook_test.go
  test/infrastructure/docker/main.go
  test/infrastructure/docker/webhooks/alias.go
  test/infrastructure/docker/webhooks/doc.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move inmemory infrastructure API v1beta1 webhooks to separate package
  Makefile
  test/infrastructure/inmemory/internal/webhooks/doc.go
  test/infrastructure/inmemory/internal/webhooks/inmemorycluster_webhook.go
  test/infrastructure/inmemory/internal/webhooks/inmemoryclustertemplate_webhook.go
  test/infrastructure/inmemory/internal/webhooks/inmemorymachine_webhook.go
  test/infrastructure/inmemory/internal/webhooks/inmemorymachinetemplate_webhook.go
  test/infrastructure/inmemory/main.go
  test/infrastructure/inmemory/webhooks/alias.go
  test/infrastructure/inmemory/webhooks/doc.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move bootstrap/kubeadm and controlplane/kubeadm API v1beta1 webhooks to separate package
  .golangci.yml
  bootstrap/kubeadm/api/.import-restrictions
  bootstrap/kubeadm/api/v1alpha4/groupversion_info.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmconfigtemplate_types.go
  bootstrap/kubeadm/api/v1beta1/.import-restrictions
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_webhook.go
  bootstrap/kubeadm/internal/webhooks/doc.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfig.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfig_test.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfigtemplate.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfigtemplate_test.go
  bootstrap/kubeadm/main.go
  bootstrap/kubeadm/webhooks/alias.go
  bootstrap/kubeadm/webhooks/doc.go
  controlplane/kubeadm/api/.import-restrictions
  controlplane/kubeadm/api/v1alpha4/groupversion_info.go
  controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1alpha4/kubeadmcontrolplanetemplate_types.go
  controlplane/kubeadm/api/v1beta1/.import-restrictions
  controlplane/kubeadm/config/webhook/manifests.yaml
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane_test.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate_test.go
  controlplane/kubeadm/main.go
  controlplane/kubeadm/webhooks/alias.go
  hack/tools/go.mod
  hack/tools/go.sum
  internal/test/envtest/environment.go
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix some nits in Cluster topology engine tests
  internal/controllers/topology/cluster/patches/engine_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Change kubernetes version in docs to match the newest stable version
  docs/book/src/clusterctl/commands/generate-cluster.md
  docs/book/src/tasks/experimental-features/ignition.md
Due: none

Revert "Merge pull request #9392 from cahillsf/improve-release-speed"
  Makefile
  cloudbuild.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add mp to quickstart templates
  docs/book/src/reference/owner_references.md
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add unit tests for state_test.go
  internal/controllers/topology/cluster/scope/state_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Update Go backport policy
  CONTRIBUTING.md
Due: none

Improve labels/annotations in CAPD test ClusterClass
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Enforce import restrictions in all packages
  bootstrap/kubeadm/api/v1alpha4/groupversion_info.go
  cmd/clusterctl/api/.import-restrictions
  cmd/clusterctl/internal/test/providers/controlplane/generic_types.go
  cmd/clusterctl/internal/test/providers/controlplane/groupversion_info.go
  cmd/clusterctl/internal/test/providers/controlplane/zz_generated.deepcopy.go
  controlplane/kubeadm/api/v1alpha4/groupversion_info.go
  exp/addons/api/.import-restrictions
  exp/addons/api/v1alpha4/clusterresourceset_types.go
  exp/addons/api/v1alpha4/clusterresourcesetbinding_types.go
  exp/addons/api/v1alpha4/groupversion_info.go
  exp/addons/api/v1alpha4/zz_generated.deepcopy.go
  exp/addons/api/v1beta1/.import-restrictions
  exp/api/.import-restrictions
  exp/api/v1alpha4/groupversion_info.go
  exp/api/v1alpha4/machinepool_types.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/api/v1beta1/.import-restrictions
  exp/ipam/api/.import-restrictions
  exp/ipam/api/v1alpha1/.import-restrictions
  exp/runtime/api/.import-restrictions
  exp/runtime/api/v1alpha1/.import-restrictions
  hack/verify-import-restrictions.sh
  test/infrastructure/docker/api/.import-restrictions
  test/infrastructure/docker/api/v1alpha4/dockercluster_types.go
  test/infrastructure/docker/api/v1alpha4/dockerclustertemplate_types.go
  test/infrastructure/docker/api/v1alpha4/dockermachine_types.go
  test/infrastructure/docker/api/v1alpha4/dockermachinetemplate_types.go
  test/infrastructure/docker/api/v1alpha4/groupversion_info.go
  test/infrastructure/docker/api/v1beta1/.import-restrictions
  test/infrastructure/docker/exp/api/.import-restrictions
  test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1alpha4/groupversion_info.go
  test/infrastructure/docker/exp/api/v1beta1/.import-restrictions
  test/infrastructure/inmemory/api/.import-restrictions
  test/infrastructure/inmemory/api/v1alpha1/.import-restrictions
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump apidiff to v0.7.0
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add unit tests for blueprint, current state, & desired state.
  internal/controllers/topology/cluster/blueprint_test.go
  internal/controllers/topology/cluster/current_state_test.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/test/builder/infrastructure.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add MachinePool test cases
  internal/controllers/topology/cluster/patches/inline/json_patch_generator_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Drop MachinePools from Dualstack tests
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv4-primary/drop-machinepools.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv4-primary/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv6-primary/drop-machinepools.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv6-primary/kustomization.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
