Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

api: relax validation for Machine .status.addresses to maximum of 128 instead of 32 items
  api/core/v1beta2/common_types.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Increase reconcile timeout for DockerMachine
  controlplane/kubeadm/main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add karthik-k-n to reviewers
  OWNERS_ALIASES
Due: none

Update in-place update implementation notes
  docs/proposals/20240807-in-place-updates-implementation-notes.md
Due: none

docs: incorporate feedback from review
  docs/book/src/developer/providers/contracts/infra-machinepool.md
Due: none

KCP: Grant `delete` permissions to Secrets.
  controlplane/kubeadm/config/rbac/role.yaml
  controlplane/kubeadm/internal/controllers/controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Allow overriding image name in clusterctl config
  cmd/clusterctl/client/cluster/cert_manager_test.go
  cmd/clusterctl/client/config/imagemeta_client.go
  cmd/clusterctl/client/config/imagemeta_client_test.go
  cmd/clusterctl/internal/test/fake_reader.go
  docs/book/src/clusterctl/configuration.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

📖 docs: machinepool contract spec (#12971)
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts/infra-machinepool.md
  docs/book/src/developer/providers/contracts/overview.md
Due: none

docs: updates after second review
  docs/book/src/developer/providers/contracts/infra-machinepool.md
Due: none

doc: review changes
  docs/book/src/developer/providers/contracts/infra-machinepool.md
Due: none

docs: machinepool contract spec
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts/infra-machinepool.md
  docs/book/src/developer/providers/contracts/overview.md
Due: none

[release-1.12] 📖 docs: machinepool contract spec (#13098)
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts/infra-machinepool.md
  docs/book/src/developer/providers/contracts/overview.md
Due: none

🚀 Release v1.12.0-rc.1
  CHANGELOG/v1.12.0-rc.1.md
Due: none

Bump Kubernetes version used for testing to v1.35.0-rc.0
  test/e2e/config/docker.yaml
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix MHC documentation
  docs/book/src/tasks/automated-machine-management/healthchecking.md
Due: none

Bump autoscaler version used for testing to v1.34.2
  test/e2e/autoscaler_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update in-place update proposal
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/reference/glossary.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-in-place-update-hooks.md
  docs/book/src/tasks/experimental-features/runtime-sdk/index.md
  docs/proposals/20240807-in-place-updates-implementation-notes.md
  docs/proposals/20240807-in-place-updates.md
Due: none

Address feedback
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/reference/glossary.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-in-place-update-hooks.md
  docs/book/src/tasks/experimental-features/runtime-sdk/index.md
  docs/book/src/user/concepts.md
  docs/proposals/20240807-in-place-updates.md
Due: none

Address feedback
  docs/book/src/reference/glossary.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-upgrade-plan-hooks.md
  docs/proposals/20250513-chained-and-efficient-upgrades-for-clusters-with-managed-topologies.md
Due: none

draft
  api/core/v1beta2/machineset_types.go
  controllers/alias.go
  internal/controllers/internal/remediation/remediation.go
  internal/controllers/internal/remediation/remediation_test.go
  internal/controllers/machinepool/machinepool_controller.go
  internal/controllers/machinepool/machinepool_controller_phases.go
  internal/controllers/machinepool/machinepool_preflight.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump golangci-lint v2.7.0
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/v1beta1_condition_consts.go
  hack/tools/.custom-gcl.yaml
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  util/collections/machine_filters_test.go
  util/version/version.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Makefile: ensure KAL is compiled using golangci-lint v2.7.0
  Makefile
  hack/tools/kal/.custom-gcl.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address feedback
  docs/book/src/developer/providers/migrations/v1.11-to-v1.12.md
Due: none

Improve v1.12 migration docs
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  docs/book/src/developer/providers/migrations/v1.11-to-v1.12.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix ClusterClass MachinePool rollout on bootstrapconfig changes
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Bump Go to v1.24.11
  Makefile
  Tiltfile
  netlify.toml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

e2e: use crane to pre-pull images instead of docker pull
  Makefile
  scripts/ci-e2e-lib.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

📖 Improve v1.12 migration docs (#13079)
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  docs/book/src/developer/providers/migrations/v1.11-to-v1.12.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

📖 Documentation for the chained upgrade feature (#13086)
  docs/book/src/SUMMARY.md
  docs/book/src/images/runtime-sdk-lifecycle-hooks.png
  docs/book/src/reference/glossary.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-lifecycle-hooks.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-topology-mutation-hook.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-upgrade-plan-hooks.md
  docs/book/src/tasks/experimental-features/runtime-sdk/index.md
  docs/proposals/20250513-chained-and-efficient-upgrades-for-clusters-with-managed-topologies.md
Due: none
