Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

test/e2e: set logger
  docs/book/src/developer/providers/migrations/v1.4-to-v1.5.md
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Adjust tests to new fakeClient deletionTimestamp handling
  controlplane/kubeadm/internal/controllers/controller_test.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  internal/controllers/cluster/cluster_controller_phases_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/topology/machineset/machineset_controller_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

address review comments
  docs/book/src/developer/providers/migrations/v1.4-to-v1.5.md
Due: none

ci: collect debug information about leftover processes
  scripts/ci-e2e.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Allow machine rollout if cert reconcile fails
  controlplane/kubeadm/internal/controllers/controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

CAPD: change the haproxy entrypoint to prevent getting stopped immediately after start
  test/infrastructure/docker/internal/docker/kind_manager.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

upgrading control plane should be blocked if MD are upgrading
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/controllers/topology/cluster/scope/state.go
  internal/controllers/topology/cluster/scope/upgradetracker.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Adjust machinepool helper e2e timeout
  test/framework/machinepool_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update MachinePool bootstrap dataSecretName when bootstrap config changes
  exp/internal/controllers/machinepool_controller_phases.go
  exp/internal/controllers/machinepool_controller_phases_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add note about v1alpha3 removal to book
  CONTRIBUTING.md
  REVIEWING.md
  docs/book/src/introduction.md
  docs/proposals/20210210-insulate-users-from-kubeadm-API-changes.md
Due: none

Update cert-manager to v1.12.1
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump golang version (1.20.3 -> 1.20.4)
  Makefile
  Tiltfile
  hack/ensure-go.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add cluster.x-k8s.io/skip-defaulting-webhook
  api/v1beta1/common_types.go
  util/annotations/helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Changed the link and removed TODO
  docs/book/src/tasks/experimental-features/ignition.md
Due: none

hack/observability: Add Parca, Add Grafana dashboard for scale testing
  Tiltfile
  hack/observability/grafana/chart/kustomization.yaml
  hack/observability/grafana/chart/values.yaml
  hack/observability/grafana/dashboards/scale.json
  hack/observability/grafana/kustomization.yaml
  hack/observability/kube-state-metrics/chart/kustomization.yaml
  hack/observability/kube-state-metrics/chart/values.yaml
  hack/observability/parca/kustomization.yaml
  hack/observability/parca/values.yaml
  hack/observability/prometheus/kustomization.yaml
  hack/observability/prometheus/values.yaml
  hack/tools/tilt-prepare/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Increased assertClusterObjects timeout
  test/e2e/clusterclass_rollout.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ignore cert annotation in rollout test
  test/e2e/clusterclass_rollout.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Wrapped the values with quotes to make them string
  docs/book/src/developer/tilt.md
Due: none

Move the ClusterClass quickstart test from e2e-informing to e2e-main and drop the regular quickstart test from e2e-main
  test/e2e/quick_start_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

foo
  README.md
Due: none

Update Runtime Extension CAPI Book
  docs/book/src/tasks/experimental-features/runtime-sdk/deploy-runtime-extension.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
Due: none

Document new and missing jobs
  docs/book/src/reference/jobs.md
Due: none

Improve gomega fail handling in clusterClass rollout
  test/e2e/clusterclass_rollout.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix GINKGO_SKIP notes for pull-cluster-api-e2e-mink8s-main/e2e-full-main
  docs/book/src/reference/jobs.md
Due: none

Bump gcb-docker-gcloud from v20230424-910a2a439d to v20230522-312425ae46
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

ignition: start kubeadm after network.target
  bootstrap/kubeadm/internal/ignition/clc/clc.go
  bootstrap/kubeadm/internal/ignition/clc/clc_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add MS preflight checks
  api/v1beta1/common_types.go
  api/v1beta1/machinedeployment_webhook.go
  api/v1beta1/machineset_webhook.go
  api/v1beta1/machineset_webhook_test.go
  config/manager/manager.yaml
  docs/book/src/SUMMARY.md
  docs/book/src/developer/testing.md
  docs/book/src/developer/tilt.md
  docs/book/src/reference/labels_and_annotations.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/book/src/tasks/experimental-features/machineset-preflight-checks.md
  feature/feature.go
  internal/contract/controlplane.go
  internal/contract/infrastructure_cluster.go
  internal/contract/infrastructure_machine.go
  internal/contract/types.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_preflight.go
  internal/controllers/machineset/machineset_preflight_test.go
  test/e2e/config/docker.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/e2e fix fail-swap-on=false flag not being part of kind images anymore
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/bases/md.yaml
  test/e2e/data/infrastructure-docker/main/bases/mp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-adoption/step1/cluster-with-cp0.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-upgrades-cgroupfs/mp-cgroupfs.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/md.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/mp.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.3/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.3/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.3/bases/mp.yaml
  test/e2e/data/infrastructure-docker/v1.3/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.4/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.4/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.4/bases/mp.yaml
  test/e2e/data/infrastructure-docker/v1.4/clusterclass-quick-start.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/e2e fix fail-swap-on=false flag not being part of kind images anymore
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/bases/md.yaml
  test/e2e/data/infrastructure-docker/main/bases/mp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-adoption/step1/cluster-with-cp0.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-upgrades-cgroupfs/mp-cgroupfs.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.3/bases/md.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/md.yaml
  test/e2e/data/infrastructure-docker/v0.4/bases/mp.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.0/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.2/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.2/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.2/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.3/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/v1.3/bases/md.yaml
  test/e2e/data/infrastructure-docker/v1.3/bases/mp.yaml
  test/e2e/data/infrastructure-docker/v1.3/clusterclass-quick-start.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove unnecessary requeues
  controllers/external/tracker.go
  exp/internal/controllers/machinepool_controller.go
  exp/internal/controllers/machinepool_controller_phases.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machine/machine_controller_phases_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
