Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Define details of "Communicate key dates to the community" in release tasks doc
  docs/release/release-tasks.md
Due: none

Bump golang.org/x/net to v0.17.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix Equinix metal link in docs
  docs/book/src/user/quick-start.md
Due: none

Bump go.opentelemetry.io/* dependencies
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump go.opentelemetry.io/* dependencies
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

seedling: Update kubebuilder-release-tools to v0.4.0
  .github/workflows/verify.yml
Due: none

Remove extra separator after title in release notes
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add release v1.4.8
  CHANGELOG/v1.4.8.md
Due: none

Add release v1.5.3
  CHANGELOG/v1.5.3.md
Due: none

Capitalize area prefix in release notes by default
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add release v1.6.0-beta.0
  CHANGELOG/v1.6.0-beta.0.md
Due: none

docs: updates to managed k9s caep
  docs/proposals/20220725-managed-kubernetes.md
  docs/proposals/20230407-managed-k8s-capi-contract-changes.md
Due: none

enxebre feedback
  docs/proposals/20220725-managed-kubernetes.md
  docs/proposals/20230407-managed-k8s-capi-contract-changes.md
Due: none

CAEP: Contract Changes to Support Managed Kubernetes
  docs/proposals/20220725-managed-kubernetes.md
  docs/proposals/20230407-managed-k8s-capi-contract-changes.md
Due: none

Add onboarding documentation for the Release Team
  docs/release/release-tasks.md
  docs/release/release-team-onboarding.md
  docs/release/release-team.md
  hack/generate-doctoc.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add MachinePool test for switching bootstrap config to another ready/non-ready object with different name
  exp/internal/controllers/machinepool_controller_phases_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure we generate all webhook manifests.yaml
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

E2e: Document self hosted machine templates
  test/e2e/self_hosted.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump controller runtime to v1.15.3
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump controller runtime to v1.14.7
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump golang.org/grpc to v1.59.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Test upgrade
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add Cluster API release-1.7 timeline document
  docs/release/releases/release-1.7.md
Due: none

Format Community meeting area in release notes
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

initial draft of modified proposal including new CRD
  docs/book/src/reference/glossary.md
  docs/proposals/20220725-managed-kubernetes.md
  docs/proposals/20230407-flexible-managed-k8s-endpoints.md
Due: none

Bump PR title checker github action version
  .github/workflows/pr-verify.yaml
Due: none

Add release v1.6.0-beta.1
  CHANGELOG/v1.6.0-beta.1.md
Due: none

Fix bug where MachinePool Machine ownerRefs weren't updating
  exp/internal/controllers/machinepool_controller.go
  exp/internal/controllers/machinepool_controller_phases.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  internal/controllers/machine/machine_controller.go
  internal/webhooks/machine.go
  test/framework/ownerreference_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump cert-manager to v1.13.2
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve logging for self-hosted e2e test
  test/e2e/clusterctl_upgrade.go
  test/e2e/self_hosted.go
  test/framework/cluster_proxy.go
  test/framework/machine_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix typo in 'ginkgo' in Makefile
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove auto-labelling for clusterctl
  cmd/clusterctl/OWNERS
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
