Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Reflect the release timeline changes in the docs
  docs/release/releases/release-1.6.md
  docs/release/releases/release-1.7.md
Due: none

clusterresourceset: requeue after 1 minute if ErrClusterLocked got hit
  exp/addons/internal/controllers/clusterresourceset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add missing tasks and improve release team docs
  .github/ISSUE_TEMPLATE/release_tracking.md
  docs/release/release-tasks.md
  docs/release/release-team.md
  hack/generate-doctoc.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Fix doctoc issues in docs/proposals repo
  docs/proposals/20230407-flexible-managed-k8s-endpoints.md
Due: none

Remove "Maintainer" role related notes and document responsibilities in the release process
  .github/ISSUE_TEMPLATE/release_tracking.md
  docs/release/release-tasks.md
  docs/release/release-team.md
  docs/release/releases/release-1.7.md
Due: none

Added test for state_test.go
  internal/controllers/topology/cluster/scope/state_test.go
  internal/test/builder/builders.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

Add integration test for release notes tool
  hack/tools/go.mod
  hack/tools/release/release_notes_integration_test.go
  hack/tools/release/test/golden/v1.3.10.md
  hack/tools/release/test/golden/v1.5.0.md
  hack/tools/release/test/run_notes_test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Make test self contained with setup included
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/release/notes/main.go
  hack/tools/release/notes/release_notes_integration_test.go
  hack/tools/release/notes/test/golden/v1.3.10.md
  hack/tools/release/notes/test/golden/v1.5.0.md
  hack/tools/release/release_notes_integration_test.go
  hack/tools/release/test/run_notes_test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add release v1.6.0-rc.1
  CHANGELOG/v1.6.0-rc.1.md
Due: none

Use ssa Patch to create machines in MP controller
  exp/internal/controllers/machinepool_controller.go
  exp/internal/controllers/machinepool_controller_phases.go
  exp/internal/controllers/machinepool_controller_phases_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Remove delete requeue in DockerMachinePool controller and ensure DockerMachine ownerRef
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Fix machineset In-place propagation inaccuracy problem
  docs/book/src/developer/architecture/controllers/machine-set.md
Due: none

MachineHealthCheck.Enable is set to false, MachineHealthCheckClass options won't be set
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

fixed problem with Add Scheme
  internal/controllers/topology/cluster/scope/state_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

Syncing upstream
  sync-upstream-repo
Due: none

Update clusterctl version to v1.6.x in quick start
  docs/book/src/user/quick-start.md
Due: none

Add release v1.5.4
  CHANGELOG/v1.5.4.md
Due: none

added builders.go
  internal/test/builder/builders.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

ClusterCacheTracker: Use RequeueAfter 1 minute instead of immediate requeue when ErrClusterLocked gets returned to not fall into exponential requeue
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  controlplane/kubeadm/internal/controllers/controller.go
  exp/internal/controllers/machinepool_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

drop unused runtime features for the inmemory provider
  test/infrastructure/inmemory/internal/cloud/alias.go
  test/infrastructure/inmemory/internal/cloud/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/builder/builder.go
  test/infrastructure/inmemory/internal/cloud/runtime/builder/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/builder/options.go
  test/infrastructure/inmemory/internal/cloud/runtime/cache/cache.go
  test/infrastructure/inmemory/internal/cloud/runtime/cache/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/controller/controller.go
  test/infrastructure/inmemory/internal/cloud/runtime/controller/controller_test.go
  test/infrastructure/inmemory/internal/cloud/runtime/controller/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/event/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/event/event.go
  test/infrastructure/inmemory/internal/cloud/runtime/handler/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/handler/enqueue_object.go
  test/infrastructure/inmemory/internal/cloud/runtime/handler/handler.go
  test/infrastructure/inmemory/internal/cloud/runtime/manager/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/manager/manager.go
  test/infrastructure/inmemory/internal/cloud/runtime/predicate/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/predicate/predicate.go
  test/infrastructure/inmemory/internal/cloud/runtime/reconcile/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/reconcile/reconcile.go
  test/infrastructure/inmemory/internal/cloud/runtime/source/doc.go
  test/infrastructure/inmemory/internal/cloud/runtime/source/informer_source.go
  test/infrastructure/inmemory/internal/cloud/runtime/source/source.go
  test/infrastructure/inmemory/internal/cloud/runtime_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix variables names in Tiltfile
  Tiltfile
Due: none

Add Proxmox provider quickstart
  docs/book/src/user/quick-start.md
Due: none

Add Proxmox infrastructure provider to clusterctl
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Remove clusterctl config for proxmox from quickstart docs
  docs/book/src/user/quick-start.md
Due: none

Change to context.Background() in tests
  cmd/clusterctl/client/alpha/rollout_pauser_test.go
  cmd/clusterctl/client/alpha/rollout_restarter_test.go
  cmd/clusterctl/client/alpha/rollout_resumer_test.go
  cmd/clusterctl/client/alpha/rollout_rollbacker_test.go
  cmd/clusterctl/client/cluster/components_test.go
  cmd/clusterctl/client/cluster/crd_migration_test.go
  cmd/clusterctl/client/tree/discovery_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

replace context.TODO() from clusterctl proxy.go
  cmd/clusterctl/client/alpha/kubeadmcontrolplane.go
  cmd/clusterctl/client/alpha/machinedeployment.go
  cmd/clusterctl/client/alpha/rollout_pauser_test.go
  cmd/clusterctl/client/alpha/rollout_restarter_test.go
  cmd/clusterctl/client/alpha/rollout_resumer_test.go
  cmd/clusterctl/client/alpha/rollout_rollbacker.go
  cmd/clusterctl/client/alpha/rollout_rollbacker_test.go
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/cert_manager_test.go
  cmd/clusterctl/client/cluster/components.go
  cmd/clusterctl/client/cluster/components_test.go
  cmd/clusterctl/client/cluster/crd_migration_test.go
  cmd/clusterctl/client/cluster/installer.go
  cmd/clusterctl/client/cluster/inventory.go
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/cluster/objectgraph.go
  cmd/clusterctl/client/cluster/proxy.go
  cmd/clusterctl/client/cluster/template.go
  cmd/clusterctl/client/cluster/topology.go
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/cluster/workload_cluster.go
  cmd/clusterctl/client/clusterclass.go
  cmd/clusterctl/client/clusterclass_test.go
  cmd/clusterctl/client/config.go
  cmd/clusterctl/client/delete_test.go
  cmd/clusterctl/client/describe.go
  cmd/clusterctl/client/tree/discovery_test.go
  cmd/clusterctl/client/upgrade_test.go
  cmd/clusterctl/internal/test/fake_proxy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add release v1.6.0
  CHANGELOG/v1.6.0.md
Due: none

Fix kubeadm bootstrap prefix in release notes
  hack/tools/release/notes/main.go
  hack/tools/release/notes/release_notes_integration_test.go
  hack/tools/release/notes/test/golden/v1.5.0.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add release v1.4.9
  CHANGELOG/v1.4.9.md
Due: none

book: add release 1.5 book link
  docs/book/src/introduction.md
Due: none

Bump kubebuilder tools to v0.4.3
  .github/workflows/pr-verify.yaml
Due: none

clusterctl: validate no objects exist from CRDs before deleting them
  cmd/clusterctl/client/cluster/components.go
  cmd/clusterctl/client/cluster/components_test.go
  cmd/clusterctl/client/delete.go
  cmd/clusterctl/client/delete_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Tilt: Show default cluster-template
  Tiltfile
Due: none
