Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Remove unused cluster templates
  .gitignore
  Makefile
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v1.11/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.11/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.11/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.11/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.12/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.12/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.12/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.12/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.13/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.13/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.13/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.13/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Use in-memory template for clusterctl upgrade tests (#13866)
  .gitignore
  Makefile
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v1.11/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.11/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.11/cluster-template-in-memory-topology.yaml
  test/e2e/data/infrastructure-docker/v1.11/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.11/clusterclass-in-memory.yaml
  test/e2e/data/infrastructure-docker/v1.11/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.12/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.12/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.12/cluster-template-in-memory-topology.yaml
  test/e2e/data/infrastructure-docker/v1.12/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.12/clusterclass-in-memory.yaml
  test/e2e/data/infrastructure-docker/v1.12/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-docker/v1.13/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/v1.13/bases/crs.yaml
  test/e2e/data/infrastructure-docker/v1.13/cluster-template-in-memory-topology.yaml
  test/e2e/data/infrastructure-docker/v1.13/cluster-template-topology/kustomization.yaml
  test/e2e/data/infrastructure-docker/v1.13/clusterclass-in-memory.yaml
  test/e2e/data/infrastructure-docker/v1.13/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add automatic etcd defragmentation support to KubeadmControlPlane
  Makefile
  api/controlplane/kubeadm/v1beta1/zz_generated.conversion.go
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/controlplane/kubeadm/v1beta2/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/etcd_maintenance.go
  controlplane/kubeadm/internal/controllers/etcd_maintenance_test.go
  controlplane/kubeadm/internal/controllers/fakes_test.go
  controlplane/kubeadm/internal/etcd/defrag_rule.go
  controlplane/kubeadm/internal/etcd/defrag_rule_test.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd/fake/client.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplane.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/webhooks/conversion/conversion_test.go
  controlplane/kubeadm/webhooks/conversion/kubeadmcontrolplane.go
  docs/book/src/reference/api/crd-api-reference.md
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-etcd-defrag/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-etcd-defrag/kustomization.yaml
  test/e2e/etcd_defrag.go
  test/e2e/etcd_defrag_test.go
  test/infrastructure/inmemory/pkg/cloud/api/v1alpha1/etcdcluster_annotations.go
  test/infrastructure/inmemory/pkg/server/etcd/handler.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix ClusterClass rollout test with latest CI
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Give resource versions more time to become stable in e2e tests
  test/framework/resourceversion_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

📖 mark the Alibaba Cloud provider entry as unofficial
  docs/book/src/reference/providers.md
Due: none

📖 add Alibaba Cloud infrastructure provider to the provider list (#13834)
  docs/book/src/reference/providers.md
Due: none

Migrate "When upgrading a workload cluster using ClusterClass in a different NS with RuntimeSDK" test to InMemory backend
  .gitignore
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-in-memory-upgrades-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory-runtimesdk.yaml
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix diagrams in in-place update implementation notes
  docs/proposals/20240807-in-place-updates-implementation-notes.md
Due: none

🐛 clusterctl: raise management cluster client QPS and Burst
  cmd/clusterctl/client/cluster/proxy.go
  cmd/clusterctl/client/cluster/proxy_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments
  .gitignore
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-in-memory-upgrades-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: show clusterctl help for argument validation errors
  cmd/clusterctl/cmd/args.go
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/config_repositories.go
  cmd/clusterctl/cmd/convert.go
  cmd/clusterctl/cmd/delete.go
  cmd/clusterctl/cmd/describe_cluster.go
  cmd/clusterctl/cmd/generate_cluster.go
  cmd/clusterctl/cmd/generate_provider.go
  cmd/clusterctl/cmd/get_kubeconfig.go
  cmd/clusterctl/cmd/init.go
  cmd/clusterctl/cmd/init_list_images.go
  cmd/clusterctl/cmd/move.go
  cmd/clusterctl/cmd/root.go
  cmd/clusterctl/cmd/root_test.go
  cmd/clusterctl/cmd/upgrade.go
  cmd/clusterctl/cmd/upgrade_apply.go
  cmd/clusterctl/cmd/version.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:sparkles: Migrate ClusterClass upgrade with different NS e2e test from the docker to the in-memory backend (#13885)
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory.yaml
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Stop setting TypeMeta in typed objects (part II)
  controlplane/kubeadm/internal/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/scope/scope.go
  internal/controllers/machine/drain/drain.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/controllers/topology/cluster/structuredmerge/serversidepatchhelper.go
  internal/controllers/topology/cluster/structuredmerge/serversidepatchhelper_test.go
  internal/test/envtest/environment.go
  internal/topology/clustershim/clustershim.go
  internal/topology/ownerrefs/ownerref.go
  internal/util/ssa/patch.go
  internal/util/ssa/test/managedfields_test.go
  internal/util/ssa/test/managedfieldsmitigation_test.go
  internal/util/ssa/test/patch_test.go
  internal/util/ssa/test/suite_test.go
  util/test/builder/builders.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Cleanup golangci-lint excludes
  .golangci.yml
  test/infrastructure/docker/api/v1beta1/doc.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Adjust boilerplate linter to block usage of YEAR after 2026
  hack/scripts/verify/boilerplate/boilerplate.Dockerfile.txt
  hack/scripts/verify/boilerplate/boilerplate.Makefile.txt
  hack/scripts/verify/boilerplate/boilerplate.bzl.txt
  hack/scripts/verify/boilerplate/boilerplate.py
  hack/scripts/verify/boilerplate/boilerplate.py.txt
  hack/scripts/verify/boilerplate/boilerplate.sh.txt
  hack/scripts/verify/boilerplate/boilerplate_test.py
  hack/scripts/verify/boilerplate/test/fail_2027.go
  hack/scripts/verify/boilerplate/test/pass.go
  hack/scripts/verify/boilerplate/test/pass_2026.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

📖 Add proposal for independent worker topology versions
  docs/proposals/20260706-independent-worker-topology-versions.md
Due: none

clusterctl: treat cert-manager image count mismatch as upgrade
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/cert_manager_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: write v1beta1 describe output to stdout
  internal/util/tree/tree.go
  internal/util/tree/tree_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

🐛 clusterctl: detect cert-manager image changes during upgrade (#13850)
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/cert_manager_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix(webhooks): ratchet rollout type validation and warn on disabled MHC overrides
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
  internal/webhooks/machinedeployment.go
  internal/webhooks/machinedeployment_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Cleanup ./scripts folder
  docs/book/src/developer/core/testing.md
  scripts/ci-apidiff.sh
  scripts/ci-build.sh
  scripts/ci-e2e.sh
  scripts/ci-test.sh
  scripts/ci-verify.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use in-memory template for in-place update tests
  Makefile
  test/e2e/cluster_in_place_update_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-in-memory-topology.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-in-place/cluster-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-in-place/kustomization.yaml
  test/extension/handlers/inplaceupdate/handlers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Increase e2e test concurrency
  hack/scripts/ci/ci-e2e.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update ci-e2e.sh
  hack/scripts/ci/ci-e2e.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: reject whitespace in clusterctl show-conditions filters
  cmd/clusterctl/cmd/describe_cluster.go
  cmd/clusterctl/cmd/describe_cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

feat: add rollout concurrency and rollout groups
  api/core/v1beta1/conversion.go
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/v1beta1_condition_consts.go
  api/core/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  docs/book/src/reference/api/crd-api-reference.md
  docs/book/src/tasks/experimental-features/cluster-class/operate-cluster.md
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/scope/scope.go
  exp/topology/scope/scope_test.go
  exp/topology/scope/state.go
  exp/topology/scope/state_test.go
  exp/topology/scope/upgradetracker.go
  exp/topology/scope/upgradetracker_test.go
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/topology/check/upgrade.go
  internal/topology/check/upgrade_test.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
  webhooks/conversion/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump cert-manager to v1.21.0
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/getting-started.md
  hack/scripts/ci/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump Go toolchain to 1.26.5
  Makefile
  Tiltfile
  netlify.toml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add oxide to infra provider list
  docs/book/src/reference/providers.md
Due: none

Delete unhealthy Machines on old MS during in-place updates
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Bump go version to v1.25.12
  Makefile
  Tiltfile
  netlify.toml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump Go version to v1.25.12
  Makefile
  Tiltfile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move logos to docs/logos
  .dockerignore
  README.md
  docs/logos/LICENSE.md
  docs/logos/README.md
  docs/logos/icons/CAPI icons.ai
  docs/logos/icons/README.md
  docs/logos/icons/cluster.png
  docs/logos/icons/cluster.svg
  docs/logos/icons/machine-deployment.png
  docs/logos/icons/machine-deployment.svg
  docs/logos/icons/machine-set.png
  docs/logos/icons/machine-set.svg
  docs/logos/icons/machine.png
  docs/logos/icons/machine.svg
  docs/logos/kubernetes-cluster-logos_1.pdf
  docs/logos/kubernetes-cluster-logos_2.pdf
  docs/logos/kubernetes-cluster-logos_final-01.svg
  docs/logos/kubernetes-cluster-logos_final-02.svg
Due: none

Inline dev/vscode-example-configuration
  dev/vscode-example-configuration/settings.json
  dev/vscode-example-configuration/tasks.json
  dev/vscode-example-configuration/test.env
  docs/book/src/developer/core/testing.md
Due: none

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
