Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231208-8b9fd88e88-1.29
      resources:
        requests:
          cpu: 7300m
          memory: 9Gi
        limits:
          cpu: 7300m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231208-8b9fd88e88-1.29
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 9Gi
        limits:
          cpu: 7300m
          memory: 9Gi

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231208-8b9fd88e88-1.29
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

nits
  docs/release/release-cycle.md
Due: none

e2e: drop duplicated scale test
  test/e2e/scale_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Clarify rules for clusterctl default providers
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/clusterctl/provider-contract.md
Due: none

:book: Add /agenda redirect in book
  docs/book/book.toml
Due: none

book: Add /agenda redirect in book
  docs/book/book.toml
Due: none

Don't rely on GVK being set on regular objects
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/internal/locking/control_plane_init_mutex.go
  exp/addons/api/v1beta1/clusterresourcesetbinding_types.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/internal/controllers/machinepool_controller.go
  exp/internal/controllers/machinepool_controller_noderef.go
  internal/contract/references.go
  internal/controllers/clusterclass/clusterclass_controller_test.go
  internal/controllers/clusterclass/suite_test.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machinedeployment/suite_test.go
  internal/controllers/machineset/suite_test.go
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/cluster/patches/engine.go
  internal/controllers/topology/cluster/patches/template.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/test/builder/builders.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

:seedling: Fix grammar in release script
  hack/tools/release/weekly/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Revert "Watch for Cluster resources in topology MD controller"
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  test/framework/finalizers_helpers.go
  util/util.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

test/framework add WatchDaemonSetLogsByLabelSelector method
  test/framework/daemonset_helpers.go
  test/framework/deployment_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

nits
  docs/book/src/clusterctl/provider-contract.md
Due: none

Bump controller-tools to v0.14
  Makefile
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_metadata.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_providers.yaml
  cmd/clusterctl/config/manifest/clusterctl-api.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  config/crd/bases/ipam.cluster.x-k8s.io_ipaddresses.yaml
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclustertemplates.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepooltemplates.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/inmemory/config/crd/bases/infrastructure.cluster.x-k8s.io_inmemoryclusters.yaml
  test/infrastructure/inmemory/config/crd/bases/infrastructure.cluster.x-k8s.io_inmemoryclustertemplates.yaml
  test/infrastructure/inmemory/config/crd/bases/infrastructure.cluster.x-k8s.io_inmemorymachines.yaml
  test/infrastructure/inmemory/config/crd/bases/infrastructure.cluster.x-k8s.io_inmemorymachinetemplates.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add DeepCopy method for E2EConfig
  test/framework/clusterctl/e2e_config.go
  test/framework/clusterctl/e2e_config_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add k0smotron provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Improve doc update clusterctl update test coverage
  docs/book/src/clusterctl/commands/upgrade.md
Due: none

hack: implement prowjob-generator
  .github/ISSUE_TEMPLATE/kubernetes_bump.md
  Makefile
  hack/boilerplate/boilerplate.py
  hack/tools/prowjob-gen/README.md
  hack/tools/prowjob-gen/config.go
  hack/tools/prowjob-gen/generator.go
  hack/tools/prowjob-gen/main.go
  hack/tools/prowjob-gen/main_test.go
  hack/tools/prowjob-gen/test/test.yaml.tpl
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add test util to resolve Kubernetes versions
  test/framework/kubernetesversions/versions.go
  test/framework/kubernetesversions/versions_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

test: add dynamic finalizer assertions for e2e framework
  test/e2e/quick_start_test.go
  test/framework/finalizers_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

fix: Use keys/values structured log interface
  exp/runtime/topologymutation/walker.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

add docs/examples for pre-release and nightly img deployments with clusterctl
  docs/book/src/clusterctl/commands/upgrade.md
Due: none

Syncing upstream
  sync-upstream-repo
Due: none

Renaming the K0smotron provider to match the new naming convention.
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Move ykakarap to emeritus approvers
  OWNERS
  OWNERS_ALIASES
Due: none

go.mod: bump github.com/cloudflare/circl to v1.3.7
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Bubble up machine drain condition in `MachinesReadyCondition`
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main

Fix finalizers test to not only rely on namespaced name
  test/framework/finalizers_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Add Cluster API Operator (CAPIO) to the glossary
  docs/book/src/reference/glossary.md
Due: none

🐛 Skip checking `clusterConfiguration.dns` fields when KCP checking MachineNeedRollout (#9857)
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Fix wrong branch name display for weekly update script
  hack/tools/release/weekly/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Bump go-apidiff to v0.8.2
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Bump to controller-runtime v0.17.0 & k8s.io v0.29.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Fix log level log line in main.go files
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
