Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Simplify `needsRemediation` function further by using two sub functions: one for machineChecks and the other for nodeChecks.
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

debug Objects with Changed Resource Versions
  test/e2e/quick_start.go
  test/e2e/quick_start_test.go
  test/framework/resourceversion_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove CR dependency in API packages
  Makefile
  Tiltfile
  api/core/v1beta1/conversion.go
  api/core/v1beta1/conversion_test.go
  api/core/v1beta2/conversion.go
  api/runtime/v1alpha1/.import-restrictions
  api/runtime/v1alpha1/conversion.go
  api/runtime/v1beta2/conversion.go
  exp/topology/desiredstate/desired_state.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  internal/api/core/v1alpha3/conversion.go
  internal/api/core/v1alpha4/conversion.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/test/envtest/environment.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_conversion.go
  internal/webhooks/extensionconfig.go
  internal/webhooks/extensionconfig_conversion.go
  netlify.toml
  test/go.mod
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump cert-manager to v1.19.1
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/getting-started.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix review findings
  controlplane/kubeadm/internal/controllers/inplace.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine_test.go
  controlplane/kubeadm/internal/controllers/scale.go
  exp/runtime/client/client.go
  internal/controllers/topology/cluster/patches/external/external_patch_generator_test.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  internal/runtime/client/fake/fake_client.go
  internal/util/ssa/patch.go
  test/extension/handlers/topologymutation/handler_integration_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address comments
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machineset_types.go
  docs/book/src/reference/api/labels-and-annotations.md
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More comments
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  internal/controllers/machinedeployment/testdata/rollingupdate/regular rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/regular rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec.test.log.golden
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add ClusterFilter to ClusterCache Options
  controllers/clustercache/cluster_cache.go
  controllers/clustercache/cluster_cache_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More comments
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0.test.log.golden
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add types and hook for GenerateUpgradePlan
  api/runtime/hooks/v1alpha1/upgrade_plan_types.go
  api/runtime/hooks/v1alpha1/zz_generated.deepcopy.go
  api/runtime/hooks/v1alpha1/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

second review update
  docs/proposals/20250513-propogate-taints.md
Due: none

third review update
  docs/proposals/20250513-propogate-taints.md
Due: none

Update internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

✨ Add in-place to rollout planner (#12865)
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machineset_types.go
  docs/book/src/reference/api/labels-and-annotations.md
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner.go
  internal/controllers/machinedeployment/machinedeployment_rollout_planner_test.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate.go
  internal/controllers/machinedeployment/machinedeployment_rollout_rollingupdate_test.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 12 replicas, maxsurge 3, maxunavailable 1, scale down to 6.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 0, maxunavailable 1, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 0, maxunavailable 1.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 3 replicas, maxsurge 1, maxunavailable 0.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 0, maxunavailable 10, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 0, maxunavailable 10.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 1, maxunavailable 3, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 1, maxunavailable 3.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 10, maxunavailable 0.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, scale up to 12, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1, scale up to 12.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/in-place rollout, 6 replicas, maxsurge 3, maxunavailable 1.test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/regular rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec, random(0).test.log.golden
  internal/controllers/machinedeployment/testdata/rollingupdate/regular rollout, 6 replicas, maxsurge 3, maxunavailable 1, change spec.test.log.golden
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add implementation notes to the in-place update proposal
  docs/proposals/20240807-in-place-updates-implementation-notes.md
Due: none

KAL linting
  docs/proposals/20250513-propogate-taints.md
Due: none

Refactor BootstrapConfig/InfraMachine creation in MachineSet controller
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

add clusterapi crd groups to audit logs
  internal/test/envtest/environment.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fix review findings
  api/runtime/hooks/v1alpha1/upgrade_plan_types.go
  api/runtime/hooks/v1alpha1/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add in-place updates support for machine controller
  api/core/v1beta2/machine_types.go
  controllers/alias.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_inplace_update.go
  internal/controllers/machine/machine_controller_status.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

book: fix v1.10 to v1.11 warning at the end
  docs/book/src/developer/providers/migrations/v1.10-to-v1.11.md
Due: none

Fix review findings
  docs/proposals/20250513-propogate-taints.md
Due: none

Add EncryptionAlgorithm to Kubeadm's ClusterConfiguration
  api/bootstrap/kubeadm/v1beta1/conversion.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/filters_test.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplane.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplane_test.go
  internal/api/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Controller changes
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_cache.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/upgrade.go
  controlplane/kubeadm/internal/workload_cluster.go
  internal/controllers/cluster/cluster_controller_phases.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  controllers/clustercache/cluster_accessor.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/workload_cluster.go
  internal/controllers/cluster/cluster_controller_phases.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_controller_test.go
  test/infrastructure/inmemory/pkg/server/certs.go
  test/infrastructure/inmemory/pkg/server/listener.go
  test/infrastructure/inmemory/pkg/server/mux.go
  test/infrastructure/inmemory/pkg/server/mux_test.go
  util/certs/certs.go
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/kubeconfig_test.go
  util/kubeconfig/options.go
  util/secret/certificates.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Util changes
  util/certs/certs.go
  util/certs/types.go
  util/kubeconfig/kubeconfig.go
  util/secret/certificates.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Test changes
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/fakes_test.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_controller_test.go
  test/infrastructure/inmemory/pkg/server/certs.go
  test/infrastructure/inmemory/pkg/server/listener.go
  test/infrastructure/inmemory/pkg/server/mux.go
  test/infrastructure/inmemory/pkg/server/mux_test.go
  util/kubeconfig/kubeconfig_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments and rebase with main
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_cache.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/upgrade.go
  controlplane/kubeadm/internal/workload_cluster.go
  util/kubeconfig/kubeconfig.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments
  util/certs/certs.go
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/options.go
  util/secret/certificates.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

review fixes
  docs/proposals/20250513-propogate-taints.md
Due: none

Add items to cache immediately after apply
  internal/util/ssa/patch.go
  internal/util/ssa/patch_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

taints: update proposal for blocking validation
  docs/proposals/20250513-propogate-taints.md
Due: none

add kubeadm taints
  docs/proposals/20250513-propogate-taints.md
Due: none

fix typo
  docs/proposals/20250513-propogate-taints.md
Due: none

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
