Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

review fixes
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

review fix
  internal/controllers/machine/machine_controller_noderef_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

lint fix
  internal/controllers/machine/machine_controller_noderef_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

machine: prevent error spamming for NodeOutdatedTaint if objects are not found
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

machine: add test coverage for shouldNodeHaveOutdatedTaint
  internal/controllers/machine/machine_controller_noderef_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Reduce verbosity of logs when calling Runtime Extensions
  internal/runtime/client/client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

[release-1.8] 🌱 machine: prevent error spamming for NodeOutdatedTaint if objects are not found (#11199)
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Group API reference docs
  docs/book/src/SUMMARY.md
  docs/book/src/reference/api/crd-relationships.md
  docs/book/src/reference/api/labels-and-annotations.md
  docs/book/src/reference/api/metadata-propagation.md
  docs/book/src/reference/api/owner-references.md
  docs/book/src/reference/api/reference.md
  docs/book/src/reference/api_reference.md
  docs/book/src/reference/labels_and_annotations.md
  docs/book/src/tasks/experimental-features/cluster-class/operate-cluster.md
  docs/book/src/tasks/experimental-features/machineset-preflight-checks.md
Due: none

Refactor provider's implementers guide
  docs/book/src/SUMMARY.md
  docs/book/src/developer/architecture/controllers.md
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
  docs/book/src/developer/providers/getting-started/cluster-email.png
  docs/book/src/developer/providers/getting-started/configure-the-deployment.md
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
  docs/book/src/developer/providers/getting-started/implement-api-types.md
  docs/book/src/developer/providers/getting-started/initialize-repo-and-api-types.md
  docs/book/src/developer/providers/getting-started/naming.md
  docs/book/src/developer/providers/getting-started/overview.md
  docs/book/src/developer/providers/getting-started/webhooks.md
  docs/book/src/developer/providers/implementers-guide/overview.md
  docs/book/src/developer/providers/implementers.md
  docs/book/src/developer/providers/overview.md
  docs/book/src/developer/providers/webhooks.md
Due: none

fix openapi gen
  api/v1beta1/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 test/framework: allow users to modify cache.Options
  test/framework/cluster_proxy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Make patch helper support v1beta2 conditions
  internal/test/builder/v1beta2_transition.go
  util/conditions/v1beta2/options.go
  util/conditions/v1beta2/patch.go
  util/conditions/v1beta2/patch_test.go
  util/patch/options.go
  util/patch/patch.go
  util/patch/patch_test.go
  util/patch/utils.go
  util/patch/utils_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

review fixes
  test/e2e/cluster_deletion.go
  test/e2e/cluster_deletion_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Drop jobs page
  docs/book/src/SUMMARY.md
  docs/book/src/reference/jobs.md
Due: none

test/framework: GetCAPIResources should warn on rbac issues
  test/framework/alltypes_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Enable race detector for top-level unit tests
  Makefile
  scripts/ci-test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:seedling: increase wait-worker-nodes in clusterctl upgrade tests
  test/e2e/config/docker.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

delete bootstrapRef when create infraRef failed
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Refactor core developer guide
  docs/book/src/SUMMARY.md
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/developer/architecture/controllers.md
  docs/book/src/developer/core/controllers/bootstrap.md
  docs/book/src/developer/core/controllers/cluster-resource-set.md
  docs/book/src/developer/core/controllers/cluster-topology.md
  docs/book/src/developer/core/controllers/cluster.md
  docs/book/src/developer/core/controllers/control-plane.md
  docs/book/src/developer/core/controllers/machine-deployment.md
  docs/book/src/developer/core/controllers/machine-health-check.md
  docs/book/src/developer/core/controllers/machine-pool.md
  docs/book/src/developer/core/controllers/machine-set.md
  docs/book/src/developer/core/controllers/machine.md
  docs/book/src/developer/core/controllers/overview.md
  docs/book/src/developer/core/e2e.md
  docs/book/src/developer/core/logging.md
  docs/book/src/developer/core/multi-tenancy.md
  docs/book/src/developer/core/overview.md
  docs/book/src/developer/core/repository-layout.md
  docs/book/src/developer/core/support-multiple-instances.md
  docs/book/src/developer/core/testing.md
  docs/book/src/developer/core/tilt.md
  docs/book/src/developer/core/tuning.md
  docs/book/src/developer/getting-started.md
  docs/book/src/developer/providers/contracts.md
  docs/book/src/developer/providers/control-plane.md
  docs/book/src/developer/providers/getting-started/building-running-and-testing.md
  docs/book/src/reference/api/labels-and-annotations.md
  docs/book/src/reference/glossary.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/book/src/tasks/experimental-features/machine-pools.md
  docs/book/src/tasks/upgrading-clusters.md
  docs/book/src/user/quick-start.md
Due: none

Enable race detector for top-level unit tests
  Makefile
  bootstrap/kubeadm/types/upstreamv1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_no_fuzz_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  exp/internal/controllers/machinepool_controller_test.go
  exp/ipam/api/v1alpha1/conversion_test.go
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion_test.go
  internal/apis/bootstrap/kubeadm/v1alpha4/conversion_test.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion_test.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion_test.go
  internal/apis/core/exp/addons/v1alpha3/conversion_test.go
  internal/apis/core/exp/addons/v1alpha4/conversion_test.go
  internal/apis/core/exp/v1alpha3/conversion_test.go
  internal/apis/core/exp/v1alpha4/conversion_test.go
  internal/apis/core/v1alpha3/conversion_test.go
  internal/apis/core/v1alpha4/conversion_test.go
  internal/test/envtest/environment.go
  test/infrastructure/docker/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/api/v1alpha4/conversion_test.go
  test/infrastructure/docker/exp/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/exp/api/v1alpha4/conversion_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

book: add ipam contract
  docs/book/src/SUMMARY.md
  docs/book/src/developer/providers/contracts.md
  docs/book/src/developer/providers/ipam.md
Due: none

test: use cluster without worker definition for kcp only test
  Makefile
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-single-kcp-cluster/disable-control-plane-taint-variable.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-single-kcp-cluster/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-single-kcp-cluster/remove-topology-workers.yaml
  test/e2e/self_hosted_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Enable race detector for top-level unit tests (#11207)
  Makefile
  bootstrap/kubeadm/types/upstreamv1beta1/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta2/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta3/conversion_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_no_fuzz_test.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion_test.go
  exp/internal/controllers/machinepool_controller_test.go
  exp/ipam/api/v1alpha1/conversion_test.go
  internal/apis/bootstrap/kubeadm/v1alpha3/conversion_test.go
  internal/apis/bootstrap/kubeadm/v1alpha4/conversion_test.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion_test.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion_test.go
  internal/apis/core/exp/addons/v1alpha3/conversion_test.go
  internal/apis/core/exp/addons/v1alpha4/conversion_test.go
  internal/apis/core/exp/v1alpha3/conversion_test.go
  internal/apis/core/exp/v1alpha4/conversion_test.go
  internal/apis/core/v1alpha3/conversion_test.go
  internal/apis/core/v1alpha4/conversion_test.go
  internal/test/envtest/environment.go
  test/infrastructure/docker/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/api/v1alpha4/conversion_test.go
  test/infrastructure/docker/exp/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/exp/api/v1alpha4/conversion_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update the developer guide reference
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Syncing upstream
  sync-upstream-repo
Due: none

Update RKE2 provider URL
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix provider expectedOutput
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

gofmt
  cmd/clusterctl/client/config/providers_client.go
  internal/apis/bootstrap/kubeadm/v1alpha3/zz_generated.deepcopy.go
  internal/apis/core/exp/v1alpha3/zz_generated.deepcopy.go
  internal/apis/core/exp/v1alpha4/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix indent
  cmd/clusterctl/client/config/providers_client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add vultr provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add github org name
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update provider name
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix indentation consistency
  cmd/clusterctl/client/config/providers_client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

[release-1.8] :seedling: Add vultr infrastructure provider (#11217)
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
  internal/apis/bootstrap/kubeadm/v1alpha3/zz_generated.deepcopy.go
  internal/apis/core/exp/v1alpha3/zz_generated.deepcopy.go
  internal/apis/core/exp/v1alpha4/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! ✨ util: Warning handler that discards messages that match a regular expression
  util/apiwarnings/handler_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
