Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

make conditions consistent
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/exp/api/v1alpha3/conversion.go
  test/infrastructure/docker/exp/api/v1alpha4/conversion.go
  test/infrastructure/docker/exp/api/v1beta1/conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add Scaleway infrastructure provider to clusterctl
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/developer/providers/contracts/clusterctl.md
  docs/book/src/reference/glossary.md
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add in-place update hooks to API
  api/runtime/hooks/v1alpha1/inplaceupdate_types.go
  api/runtime/hooks/v1alpha1/zz_generated.deepcopy.go
  api/runtime/hooks/v1alpha1/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix MachinePool nodeRef UID mismatch after K8s upgrade
  exp/internal/controllers/machinepool_controller_noderef.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add default registry in kubevirt tilt file
  docs/book/src/developer/core/tilt.md
Due: none

⚠️ Promote v1beta2 condition in CAPD (#12362)
  test/go.mod
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion_test.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/conversion.go
  test/infrastructure/docker/api/v1beta1/conversion_test.go
  test/infrastructure/docker/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta2/devcluster_types.go
  test/infrastructure/docker/api/v1beta2/devmachine_types.go
  test/infrastructure/docker/api/v1beta2/dockercluster_types.go
  test/infrastructure/docker/api/v1beta2/dockermachine_types.go
  test/infrastructure/docker/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/exp/api/v1alpha3/conversion.go
  test/infrastructure/docker/exp/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1alpha4/conversion.go
  test/infrastructure/docker/exp/api/v1alpha4/conversion_test.go
  test/infrastructure/docker/exp/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1beta1/conversion.go
  test/infrastructure/docker/exp/api/v1beta1/conversion_test.go
  test/infrastructure/docker/exp/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1beta2/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_controller_test.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve AfterControlPlaneInitialized doc
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-lifecycle-hooks.md
Due: none

Drop changes to user facing docs
  docs/book/src/images/runtime-sdk-lifecycle-hooks.png
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-lifecycle-hooks.md
  docs/book/src/tasks/experimental-features/runtime-sdk/index.md
  docs/proposals/20220414-lifecycle-hooks.md
Due: none

rename condition constant
  test/infrastructure/docker/api/v1beta2/devcluster_types.go
  test/infrastructure/docker/api/v1beta2/devmachine_types.go
  test/infrastructure/docker/api/v1beta2/v1beta1_condition_consts.go
  test/infrastructure/docker/api/v1beta2/v1beta2_condition_consts.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

replace constant values to pass test
  test/infrastructure/docker/internal/controllers/backends/docker/dockercluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix rendering of *bool values in cloud init
  bootstrap/kubeadm/internal/cloudinit/ntp.go
  bootstrap/kubeadm/internal/cloudinit/users.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix e2e test
  test/e2e/self_hosted.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Debugging statements
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update autoscaling from zero enhancement proposal with support for platform-aware autoscale from zero
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/proposals/20210310-opt-in-autoscaling-from-zero.md
Due: none

test: update LastTransitionTime right before calling reconciler
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

KCP should tolerate diff not leading to changes on machines
  bootstrap/kubeadm/internal/cloudinit/cloudinit_test.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: database use case for in-place updates
  docs/proposals/20240807-in-place-updates.md
Due: none

test: deprecated status structure
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Allow to disable KubeProxy and CoreDNS
  api/bootstrap/kubeadm/v1beta1/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.conversion.go
  api/bootstrap/kubeadm/v1beta1/zz_generated.deepcopy.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/upstreamv1beta3/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/conversion.go
  bootstrap/kubeadm/types/upstreamv1beta4/zz_generated.conversion.go
  bootstrap/kubeadm/types/utils_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane_test.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_coredns.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  docs/book/src/reference/api/labels-and-annotations.md
  internal/api/bootstrap/kubeadm/v1alpha3/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/conversion.go
  internal/api/bootstrap/kubeadm/v1alpha4/zz_generated.conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure CAPD v1beta1 API package only imports core v1beta1
  test/infrastructure/docker/api/v1beta1/condition_consts.go
  test/infrastructure/docker/api/v1beta1/conversion.go
  test/infrastructure/docker/api/v1beta1/devcluster_types.go
  test/infrastructure/docker/api/v1beta1/devmachine_types.go
  test/infrastructure/docker/api/v1beta1/dockercluster_types.go
  test/infrastructure/docker/api/v1beta1/dockermachine_types.go
  test/infrastructure/docker/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/zz_generated.deepcopy.go
  test/infrastructure/docker/exp/api/v1beta1/conversion.go
  test/infrastructure/docker/exp/api/v1beta1/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1beta1/dockermachinepooltemplate_types.go
  test/infrastructure/docker/exp/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add status initialization to DockerMachine and DevMachine
  Makefile
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion_test.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/conversion.go
  test/infrastructure/docker/api/v1beta1/conversion_test.go
  test/infrastructure/docker/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta2/devmachine_types.go
  test/infrastructure/docker/api/v1beta2/dockermachine_types.go
  test/infrastructure/docker/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorymachine_backend.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add initialization status to DevCluster and DockerCluster
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha3/conversion_test.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion_test.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/conversion.go
  test/infrastructure/docker/api/v1beta1/conversion_test.go
  test/infrastructure/docker/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta2/devcluster_types.go
  test/infrastructure/docker/api/v1beta2/dockercluster_types.go
  test/infrastructure/docker/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/internal/controllers/backends/docker/dockercluster_backend.go
  test/infrastructure/docker/internal/controllers/backends/inmemory/inmemorycluster_backend.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

use clusterv1.FailureDomain to satisfy v1beta2 contract
  Makefile
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta1/conversion.go
  test/infrastructure/docker/api/v1beta1/zz_generated.conversion.go
  test/infrastructure/docker/api/v1beta2/devcluster_types.go
  test/infrastructure/docker/api/v1beta2/dockercluster_types.go
  test/infrastructure/docker/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devclustertemplates.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclustertemplates.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove DefaulterRemoveUnknownOrOmitableFields mutating webhook option (again)
  .golangci.yml
  Makefile
  bootstrap/kubeadm/internal/webhooks/kubeadmconfig.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfigtemplate.go
  controllers/crdmigrator/crd_migrator_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
  internal/test/envtest/environment.go
  internal/topology/upgrade/clusterctl_upgrade_test.go
  internal/topology/upgrade/doc.go
  internal/topology/upgrade/suite_test.go
  internal/topology/upgrade/test/t1/crd/test.cluster.x-k8s.io_testresources.yaml
  internal/topology/upgrade/test/t1/crd/test.cluster.x-k8s.io_testresourcetemplates.yaml
  internal/topology/upgrade/test/t1/v1beta1/groupversion_info.go
  internal/topology/upgrade/test/t1/v1beta1/types.go
  internal/topology/upgrade/test/t1/v1beta1/zz_generated.deepcopy.go
  internal/topology/upgrade/test/t1/webhook/webhook.go
  internal/topology/upgrade/test/t2/crd/test.cluster.x-k8s.io_testresources.yaml
  internal/topology/upgrade/test/t2/crd/test.cluster.x-k8s.io_testresourcetemplates.yaml
  internal/topology/upgrade/test/t2/v1beta1/conversion.go
  internal/topology/upgrade/test/t2/v1beta1/doc.go
  internal/topology/upgrade/test/t2/v1beta1/groupversion_info.go
  internal/topology/upgrade/test/t2/v1beta1/types.go
  internal/topology/upgrade/test/t2/v1beta1/zz_generated.conversion.go
  internal/topology/upgrade/test/t2/v1beta1/zz_generated.deepcopy.go
  internal/topology/upgrade/test/t2/v1beta2/conversion.go
  internal/topology/upgrade/test/t2/v1beta2/groupversion_info.go
  internal/topology/upgrade/test/t2/v1beta2/types.go
  internal/topology/upgrade/test/t2/v1beta2/zz_generated.deepcopy.go
  internal/topology/upgrade/test/t2/webhook/webhook.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remediate unhealthy MachinePool machines
  api/core/v1beta1/conversion.go
  api/core/v1beta1/conversion_test.go
  api/core/v1beta1/machinepool_types.go
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta1/zz_generated.deepcopy.go
  api/core/v1beta1/zz_generated.openapi.go
  api/core/v1beta2/machinepool_types.go
  api/core/v1beta2/zz_generated.deepcopy.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  exp/internal/controllers/machinepool_controller_phases.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  go.mod
  internal/api/core/v1alpha3/conversion.go
  internal/api/core/v1alpha3/conversion_test.go
  internal/api/core/v1alpha3/zz_generated.conversion.go
  internal/api/core/v1alpha4/conversion.go
  internal/api/core/v1alpha4/conversion_test.go
  internal/api/core/v1alpha4/zz_generated.conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address feedback
  bootstrap/kubeadm/internal/cloudinit/cloudinit_test.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bug fix to set machinedeployment AvailableReplicas
  internal/controllers/machinedeployment/machinedeployment_sync.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

⚠️ KCP tolerates diff not leading to changes on machines (#12402)
  bootstrap/kubeadm/internal/cloudinit/cloudinit_test.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

KCP: Set MinItems=1 on ExternalEtcd.Endpoints
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure all pointer status fields are dereferenced correctly
  exp/internal/controllers/machinepool_controller_noderef.go
  internal/controllers/cluster/cluster_controller_status.go
  internal/controllers/machinedeployment/machinedeployment_rolling.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/util/tree/tree.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address feedback
  Makefile
  controllers/crdmigrator/crd_migrator_test.go
  internal/topology/upgrade/clusterctl_upgrade_test.go
  internal/topology/upgrade/test/t1/crd/test.cluster.x-k8s.io_testresources.yaml
  internal/topology/upgrade/test/t1/crd/test.cluster.x-k8s.io_testresourcetemplates.yaml
  internal/topology/upgrade/test/t1/v1beta1/types.go
  internal/topology/upgrade/test/t1/v1beta1/zz_generated.deepcopy.go
  internal/topology/upgrade/test/t2/crd/test.cluster.x-k8s.io_testresources.yaml
  internal/topology/upgrade/test/t2/crd/test.cluster.x-k8s.io_testresourcetemplates.yaml
  internal/topology/upgrade/test/t2/v1beta1/doc.go
  internal/topology/upgrade/test/t2/v1beta1/types.go
  internal/topology/upgrade/test/t2/v1beta1/zz_generated.conversion.go
  internal/topology/upgrade/test/t2/v1beta2/types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address feedback
  internal/topology/upgrade/clusterctl_upgrade_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add validation for PREVIOUS_RELEASE_TAG and support alpha/beta/rc releases
  hack/tools/release/notes/main.go
  hack/tools/release/notes/main_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update release-provider-issues-tool for alpha/rc
  hack/tools/release/internal/update_providers/provider_issues.go
  hack/tools/release/internal/update_providers/provider_issues_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix ClusterCache doesn't pick latest kubeconfig secret proactively
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_accessor_client.go
  controllers/clustercache/cluster_cache.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

don't return reconcile error
  controllers/clustercache/cluster_cache.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More feedback
  internal/topology/upgrade/clusterctl_upgrade_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

⚠️ Remove DefaulterRemoveUnknownOrOmitableFields mutating webhook option (again) (#12404)
  .golangci.yml
  Makefile
  bootstrap/kubeadm/internal/webhooks/kubeadmconfig.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfigtemplate.go
  controllers/crdmigrator/crd_migrator_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
  internal/test/envtest/environment.go
  internal/topology/upgrade/clusterctl_upgrade_test.go
  internal/topology/upgrade/doc.go
  internal/topology/upgrade/suite_test.go
  internal/topology/upgrade/test/t1/crd/test.cluster.x-k8s.io_testresources.yaml
  internal/topology/upgrade/test/t1/crd/test.cluster.x-k8s.io_testresourcetemplates.yaml
  internal/topology/upgrade/test/t1/v1beta1/groupversion_info.go
  internal/topology/upgrade/test/t1/v1beta1/types.go
  internal/topology/upgrade/test/t1/v1beta1/zz_generated.deepcopy.go
  internal/topology/upgrade/test/t1/webhook/webhook.go
  internal/topology/upgrade/test/t2/crd/test.cluster.x-k8s.io_testresources.yaml
  internal/topology/upgrade/test/t2/crd/test.cluster.x-k8s.io_testresourcetemplates.yaml
  internal/topology/upgrade/test/t2/v1beta1/conversion.go
  internal/topology/upgrade/test/t2/v1beta1/doc.go
  internal/topology/upgrade/test/t2/v1beta1/groupversion_info.go
  internal/topology/upgrade/test/t2/v1beta1/types.go
  internal/topology/upgrade/test/t2/v1beta1/zz_generated.conversion.go
  internal/topology/upgrade/test/t2/v1beta1/zz_generated.deepcopy.go
  internal/topology/upgrade/test/t2/v1beta2/conversion.go
  internal/topology/upgrade/test/t2/v1beta2/groupversion_info.go
  internal/topology/upgrade/test/t2/v1beta2/types.go
  internal/topology/upgrade/test/t2/v1beta2/zz_generated.deepcopy.go
  internal/topology/upgrade/test/t2/webhook/webhook.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
