Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

verifier: change back to pull_request_target to make it work again
  .github/workflows/verify.yml
Due: none

Update cert-manager to v1.11.2
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/framework fix docker pod log collector
  test/framework/docker_logcollector.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump docker/distribution to v2.8.2
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/e2e check for machines being ready after provisioning on Runtime SDK test
  test/e2e/cluster_upgrade_runtimesdk.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:bug: fix the incorrect Ignition bootstrap feature gate environment variable in docs
  docs/book/src/tasks/experimental-features/ignition.md
Due: none

bug: fix the incorrect Ignition bootstrap feature gate environment variable in docs
  docs/book/src/tasks/experimental-features/ignition.md
Due: none

Delegate CAPD port selection to the container runtime
  test/infrastructure/docker/internal/docker/kind_manager.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Disable fail-fast by default for e2e tests
  scripts/ci-e2e.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use dualstack kind cluster in quick-start and startup script
  docs/book/src/user/quick-start.md
  hack/kind-install-for-capd.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add dualstack e2e test
  Makefile
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  internal/util/taints/taints.go
  test/e2e/config/docker.yaml
  test/e2e/data/cni/kindnet/kindnet.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv4-primary/cluster.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv4-primary/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv6-primary/cluster.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv6-primary/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/e2e/data/kubetest/conformance-fast.yaml
  test/e2e/data/kubetest/dualstack.yaml
  test/e2e/quick_start_test.go
  test/framework/bootstrap/kind_provider.go
  test/framework/bootstrap/kind_util.go
  test/infrastructure/container/docker.go
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/docker/internal/docker/machine.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

e2e: log leftover processes to eventually detect zombies
  scripts/ci-e2e.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Make kind testing cluster dualstack
  test/e2e/config/docker.yaml
  test/e2e/data/cni/kindnet/kindnet.yaml
  test/framework/bootstrap/kind_provider.go
  test/framework/bootstrap/kind_util.go
  test/infrastructure/container/docker.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:book: fix a typo in `machine` section
  docs/book/src/developer/architecture/controllers/metadata-propagation.md
Due: none

book: fix a typo in `machine` section
  docs/book/src/developer/architecture/controllers/metadata-propagation.md
Due: none

Bump kindnet and haproxy images to latest
  test/e2e/data/cni/kindnet/kindnet.yaml
  test/infrastructure/docker/internal/loadbalancer/const.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test/framework: add functions to collect infrastructure logs in tests, e.g. from CAPD's lb container
  docs/book/src/developer/providers/migrations/v1.4-to-v1.5.md
  test/framework/cluster_proxy.go
  test/framework/docker_logcollector.go
  test/infrastructure/container/docker.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

set TopologyReconciled to false on cluster deletion
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/conditions_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Support add-on providers in clusterctl
  cmd/clusterctl/api/v1alpha3/labels.go
  cmd/clusterctl/api/v1alpha3/provider_type.go
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config/providers_client_test.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/client/delete.go
  cmd/clusterctl/client/init.go
  cmd/clusterctl/client/upgrade.go
  cmd/clusterctl/cmd/config_repositories_test.go
  cmd/clusterctl/cmd/delete.go
  cmd/clusterctl/cmd/generate_provider.go
  cmd/clusterctl/cmd/init.go
  cmd/clusterctl/cmd/init_list_images.go
  cmd/clusterctl/cmd/upgrade_apply.go
  cmd/clusterctl/hack/create-local-repository.py
  docs/book/src/clusterctl/provider-contract.md
  hack/tools/tilt-prepare/main.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/e2e_suite_test.go
  test/e2e/self_hosted.go
  test/framework/clusterctl/client.go
  test/framework/clusterctl/clusterctl_helpers.go
  test/framework/clusterctl/e2e_config.go
  test/framework/clusterctl/repository.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update kpromo to v3.6.0
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump kind to v0.19.0
  Tiltfile
  docs/book/src/developer/tilt.md
  docs/book/src/user/quick-start.md
  hack/ensure-kind.sh
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/framework/bootstrap/kind_provider.go
  test/go.mod
  test/go.sum
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
  test/infrastructure/docker/internal/docker/machine.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Retire Managed Kubernetes Feature Group
  docs/community/20221115-managed-kubernetes.md
Due: none

Fix typos in phrase "to exist"
  test/e2e/clusterctl_upgrade.go
  test/e2e/kcp_remediations.go
  test/framework/machinehealthcheck_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
