Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Bump go to v1.26.4
  Makefile
  Tiltfile
  netlify.toml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump go to v1.25.11
  Makefile
  Tiltfile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Bump to kind v0.32.0 (#13781)
  Tiltfile
  docs/book/src/developer/core/tilt.md
  docs/book/src/user/quick-start.md
  hack/ensure-kind.sh
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/docker.yaml
  test/framework/bootstrap/kind_provider.go
  test/go.mod
  test/go.sum
  test/infrastructure/kind/mapper.go
  test/infrastructure/kind/mapper_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix link in cloudbuild.yaml's
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

Bump gcb-docker-gcloud image
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

Partially revert fix self-hosted test
  test/infrastructure/docker/internal/provisioning/cloudinit/adapter.go
  test/infrastructure/docker/internal/provisioning/cloudinit/adapter_test.go
  test/infrastructure/docker/internal/provisioning/cloudinit/runcmd.go
  test/infrastructure/docker/internal/provisioning/cloudinit/runcmd_test.go
  test/infrastructure/docker/internal/provisioning/ignition/kindadapter.go
  test/infrastructure/docker/internal/provisioning/ignition/kindadapter_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Updated gitignore
  .gitignore
Due: none

Revert "Migrate away from custom GitHub action approval workflow"
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

Implement a util for dynamic cache creation for contract objects
  api/contract/v1beta2/bootstrapconfig_types.go
  api/contract/v1beta2/doc.go
  api/contract/v1beta2/groupversion_info.go
  api/contract/v1beta2/inframachine_types.go
  api/contract/v1beta2/zz_generated.deepcopy.go
  controllers/alias.go
  controllers/external/cache_tracker.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machine/machine_controller_test.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Migrate test to use InMemory backed instead of docker backed to fasten the test completion time
  .gitignore
  test/e2e/clusterclass_changes.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-in-memory-topology.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

build(Makefile): avoid building if LDFLAGS return error checking SemVer
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: resolve flaky KCP remediation e2e test ack signal
  test/e2e/kcp_remediations.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

CAPI - Cherry pick upstream PR
  api/v1beta1/machine_types.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  docs/book/src/reference/versions.md
  test/e2e/kcp_adoption.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: correct typos in comments and error messages
  api/bootstrap/kubeadm/v1beta1/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  bootstrap/kubeadm/types/upstreamv1beta3/bootstraptokenstring.go
  cmd/clusterctl/client/generate_provider.go
  cmd/clusterctl/client/repository/overrides.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  controlplane/kubeadm/internal/workload_cluster_rbac.go
  controlplane/kubeadm/internal/workload_cluster_rbac_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:seedling: Improve support for OwnerReferencesPermissionEnforcement admission controller
  config/rbac/role.yaml
  docs/book/src/developer/providers/contracts/bootstrap-config.md
  docs/book/src/developer/providers/contracts/control-plane.md
  docs/book/src/developer/providers/contracts/infra-cluster.md
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/book/src/developer/providers/contracts/infra-machinepool.md
  docs/book/src/developer/providers/getting-started/controllers-and-reconciliation.md
  internal/controllers/clusterresourceset/clusterresourceset_controller.go
  test/framework/bootstrap/kind_provider.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Implement managedFields interning
  Dockerfile
  Tiltfile
  controllers/crdmigrator/crd_migrator.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/topology/cluster/structuredmerge/dryrun_test.go
  internal/util/ssa/managedfields.go
  internal/util/ssa/managedfields_test.go
  internal/util/ssa/managedfieldsmitigation.go
  internal/util/ssa/managedfieldsmitigation_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: show clusterctl help for argument validation errors
  cmd/clusterctl/cmd/args.go
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/config_repositories.go
  cmd/clusterctl/cmd/convert.go
  cmd/clusterctl/cmd/delete.go
  cmd/clusterctl/cmd/describe_cluster.go
  cmd/clusterctl/cmd/generate_cluster.go
  cmd/clusterctl/cmd/generate_provider.go
  cmd/clusterctl/cmd/get_kubeconfig.go
  cmd/clusterctl/cmd/init.go
  cmd/clusterctl/cmd/init_list_images.go
  cmd/clusterctl/cmd/move.go
  cmd/clusterctl/cmd/root.go
  cmd/clusterctl/cmd/root_test.go
  cmd/clusterctl/cmd/upgrade.go
  cmd/clusterctl/cmd/upgrade_apply.go
  cmd/clusterctl/cmd/version.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use runtime sdk for kcp-infra-adoption
  test/e2e/kcp_infra_adoption.go
  test/e2e/kcp_infra_adoption_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refuse runtime extension redirects via http.ErrUseLastResponse
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Address comments
  test/e2e/kcp_infra_adoption.go
  test/e2e/kcp_infra_adoption_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use configurable ack signal wait
  test/e2e/config/docker.yaml
  test/e2e/kcp_remediations.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Do not follow redirects when calling runtime extensions (#13763)
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

test: make KCP remediation signal reset deterministic
  test/e2e/config/docker.yaml
  test/e2e/kcp_remediations.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More comments
  test/e2e/kcp_infra_adoption.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🌱 Use Runtime SDK for kcp-infra-adoption e2e test (#13809)
  test/e2e/kcp_infra_adoption.go
  test/e2e/kcp_infra_adoption_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Surface Runtime Extension errors in conditions
  docs/book/src/developer/providers/migrations/v1.13-to-v1.14.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  internal/runtime/client/client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Move api/core/v1beta2/index to util/index
  controllers/clustercache/index.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/remediation_test.go
  internal/controllers/cluster/suite_test.go
  internal/controllers/clusterclass/suite_test.go
  internal/controllers/clusterresourceset/suite_test.go
  internal/controllers/extensionconfig/suite_test.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/machine_controller_test.go
  internal/controllers/machine/suite_test.go
  internal/controllers/machinedeployment/suite_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/suite_test.go
  internal/controllers/machinepool/machinepool_controller.go
  internal/controllers/machinepool/suite_test.go
  internal/controllers/machineset/suite_test.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/suite_test.go
  internal/topology/upgrade/suite_test.go
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
  internal/webhooks/test/suite_test.go
  main.go
  util/index/.import-restrictions
  util/index/cluster.go
  util/index/cluster_test.go
  util/index/index.go
  util/index/machine.go
  util/index/machine_test.go
  util/index/machinepool.go
  util/index/machinepool_test.go
  util/index/node.go
  util/index/node_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move KubeadmConfigSpec validation into shared validation package
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfig.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfigtemplate.go
  bootstrap/kubeadm/validation/validation.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplane.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove unused validation code from api/bootstrap/kubeadm/v1beta1
  api/bootstrap/kubeadm/v1beta1/kubeadmconfig_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move errors to api/deprecated/errors
  .golangci-kal.yml
  api/controlplane/kubeadm/v1beta1/kubeadm_control_plane_types.go
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/core/v1beta1/cluster_types.go
  api/core/v1beta1/machine_types.go
  api/core/v1beta1/machinepool_types.go
  api/core/v1beta1/machineset_types.go
  api/core/v1beta1/zz_generated.deepcopy.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinepool_types.go
  api/core/v1beta2/machineset_types.go
  api/core/v1beta2/zz_generated.deepcopy.go
  api/deprecated/errors/clusters.go
  api/deprecated/errors/consts.go
  api/deprecated/errors/doc.go
  api/deprecated/errors/kubeadmcontrolplane.go
  api/deprecated/errors/machines.go
  internal/controllers/cluster/cluster_controller_phases.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machinepool/machinepool_controller_phases.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Adjust clusterctl convert
  cmd/clusterctl/client/convert/resource.go
  cmd/clusterctl/client/convert/resource_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Move kubeadm bootstrap & controlplane apiGroup conversion out of api
  api/bootstrap/kubeadm/v1beta1/.import-restrictions
  api/bootstrap/kubeadm/v1beta1/conversion.go
  api/bootstrap/kubeadm/v1beta2/conversion.go
  api/controlplane/kubeadm/v1beta1/.import-restrictions
  api/controlplane/kubeadm/v1beta1/conversion.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfig.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfigtemplate.go
  bootstrap/kubeadm/webhooks/conversion/conversion_test.go
  bootstrap/kubeadm/webhooks/conversion/doc.go
  bootstrap/kubeadm/webhooks/conversion/kubeadmconfig.go
  bootstrap/kubeadm/webhooks/conversion/kubeadmconfigtemplate.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplane.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
  controlplane/kubeadm/main.go
  controlplane/kubeadm/webhooks/conversion/common.go
  controlplane/kubeadm/webhooks/conversion/conversion_test.go
  controlplane/kubeadm/webhooks/conversion/doc.go
  controlplane/kubeadm/webhooks/conversion/kubeadmcontrolplane.go
  controlplane/kubeadm/webhooks/conversion/kubeadmcontrolplanetemplate.go
  internal/test/envtest/environment.go
  internal/test/envtest/webhooks.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add new api Go module
  .github/dependabot.yaml
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  cmd/clusterctl/Dockerfile
  go.mod
  hack/tools/go.mod
  test/extension/Dockerfile
  test/go.mod
  test/infrastructure/docker/Dockerfile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove direct dependency on k8s.io/utils
  .golangci.yml
  api/addons/v1beta1/conversion.go
  api/addons/v1beta2/clusterresourcesetbinding_types.go
  api/addons/v1beta2/clusterresourcesetbinding_types_test.go
  api/bootstrap/kubeadm/v1beta1/conversion.go
  api/bootstrap/kubeadm/v1beta1/kubeadm_types_test.go
  api/bootstrap/kubeadm/v1beta2/conversion.go
  api/bootstrap/kubeadm/v1beta2/conversion_test.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types_test.go
  api/controlplane/kubeadm/v1beta1/conversion.go
  api/core/v1beta1/cluster_types.go
  api/core/v1beta1/conversion.go
  api/core/v1beta2/conversion.go
  api/core/v1beta2/conversion_test.go
  api/go.mod
  api/ipam/v1alpha1/conversion.go
  api/ipam/v1beta1/conversion.go
  api/runtime/v1alpha1/conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove direct dependency on github.com/google/go-cmp/cmp
  .golangci.yml
  api/addons/v1beta1/clusterresourcesetbinding_types_test.go
  api/addons/v1beta2/clusterresourcesetbinding_types_test.go
  api/bootstrap/kubeadm/v1beta1/kubeadm_types_test.go
  api/bootstrap/kubeadm/v1beta2/kubeadm_types_test.go
  api/go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
