Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

re-add patch for events
  bootstrap/kubeadm/config/rbac/role.yaml
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  config/rbac/role.yaml
  controlplane/kubeadm/config/rbac/role.yaml
  controlplane/kubeadm/internal/controllers/controller.go
  exp/internal/controllers/machinepool_controller.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
  internal/controllers/machineset/machineset_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Support ControlPlane variable overrides
  api/v1beta1/cluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  internal/apis/core/v1alpha4/conversion.go
  internal/apis/core/v1alpha4/zz_generated.conversion.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/patches/engine.go
  internal/controllers/topology/cluster/patches/engine_test.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/controllers/topology/cluster/patches/variables/variables_test.go
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/topology/variables/cluster_variable_validation.go
  internal/webhooks/cluster.go
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Allow patching ControlPlaneTemplate version via json patch
  internal/controllers/topology/cluster/patches/engine.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Fix nil pointer exception
  test/e2e/quick_start_test.go
  test/framework/finalizers_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

test case with nodeReady condition as false
  exp/internal/controllers/machinepool_controller_noderef_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add new linters
  .golangci.yml
Due: none

apply for copyloopvar
  bootstrap/kubeadm/internal/cloudinit/controlplane_test.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/internal/ignition/clc/clc_test.go
  bootstrap/kubeadm/internal/ignition/ignition_test.go
  bootstrap/kubeadm/internal/locking/control_plane_init_mutex_test.go
  bootstrap/kubeadm/internal/webhooks/kubeadmconfigtemplate_test.go
  cmd/clusterctl/client/cluster/components.go
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/tree/util.go
  exp/topology/desiredstate/desired_state.go
  exp/util/util_test.go
  internal/util/compare/equal_test.go
  internal/webhooks/clusterclass.go
  util/annotations/helpers_test.go
  util/labels/helpers_test.go
  util/util.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

apply for intrange
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  cmd/clusterctl/client/cluster/mover.go
  controllers/remote/keyedmutex_test.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  controlplane/kubeadm/internal/controllers/scale_test.go
  controlplane/kubeadm/internal/controllers/status_test.go
  controlplane/kubeadm/internal/controllers/upgrade_test.go
  exp/internal/controllers/machinepool_controller_phases.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  internal/controllers/machineset/machineset_delete_policy_test.go
  util/conversion/conversion.go
  util/resource/resource_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

upgrade golangci-lint
  .github/workflows/pr-golangci-lint.yaml
Due: none

fix: intrange
  hack/tools/prowjob-gen/generator.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

use ptr instead of pointer
  internal/apis/core/v1alpha3/cluster_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Check for missing finalizers
  test/e2e/quick_start_test.go
  test/framework/finalizers_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Introduce CEL for ClusterClass Variables
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

feat: Implement CEL validation
  internal/controllers/topology/cluster/cluster_controller.go
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/schema.go
  internal/topology/variables/schema_test.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

refactor: Add comments from previous code reviews
  api/v1beta1/clusterclass_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

chore: Generate CC manifest after fixing list type annotation (#2)
  api/v1beta1/clusterclass_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/topology/variables/cluster_variable_validation.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

chore: Fix up CRD manifest
  api/v1beta1/clusterclass_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: Pass through context to CEL funcs
  internal/controllers/topology/cluster/cluster_controller.go
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

feat: Add CEL admission cost validation
  internal/topology/variables/clusterclass_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

refactor: Add nolint to unbounded
  internal/topology/variables/clusterclass_variable_validation.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

refactor: Fix up new func signature
  test/extension/handlers/topologymutation/handler_integration_test.go
  webhooks/alias.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

build: Fix up go mod for tools
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! refactor: Apply review feedback
  api/v1beta1/clusterclass_types.go
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/clusterclass_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation_test.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! build: Regenerate openapi spec
  api/v1beta1/zz_generated.openapi.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! refactor: Apply review feedback
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/clusterclass_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation_test.go
  internal/topology/variables/schema.go
  internal/topology/variables/schema_test.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! fix: Regenerate everything
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Simplify our backport policy
  CONTRIBUTING.md
Due: none

fixup! fix: Apply review feedback
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add Cluster.GetClassKey() to retrieve a NamespacedName for classes
  api/v1beta1/cluster_types.go
  api/v1beta1/index/cluster.go
  cmd/clusterctl/client/cluster/objectgraph.go
  cmd/clusterctl/client/cluster/topology.go
  cmd/clusterctl/client/clusterclass.go
  internal/controllers/topology/cluster/cluster_controller.go
  internal/controllers/topology/cluster/cluster_controller_test.go
  internal/controllers/topology/cluster/patches/variables/variables.go
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixup! fix: More review feedback
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/webhooks/cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

apply for gosec
  test/framework/docker_logcollector.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

re-apply for copyloopvar
  test/e2e/clusterclass_rollout.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/kcp_adoption.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

re-apply for intrange
  test/e2e/scale.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/inmemory/pkg/runtime/cache/cache_test.go
  test/infrastructure/inmemory/pkg/runtime/cache/gc.go
  test/infrastructure/inmemory/pkg/runtime/cache/sync.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

delete unnecessary defer Remove.All()
  cmd/clusterctl/client/config/reader_viper_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

delete exportloopref
  .golangci.yml
Due: none

re-fix lint errors
  bootstrap/kubeadm/internal/webhooks/kubeadmconfigtemplate_test.go
  cmd/clusterctl/cmd/version_checker.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fail if finalizer assertions are missing
  test/framework/finalizers_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Propagate values inplace during machine deletion that pertain to machine deletion
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main
