Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220428-de61deb68b-1.23
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Use new registry in published manifests
  Makefile
  docs/book/src/tasks/experimental-features/cluster-class/operate-cluster.md
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  docs/developer/releasing.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to Go 1.19.3
  Makefile
  Tiltfile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to Go 1.18.8
  Makefile
  Tiltfile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

grammar: remove extra space before comma and punctuation
  cmd/clusterctl/client/cluster/mover.go
  docs/book/src/clusterctl/commands/delete.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  hack/tools/runtime-openapi-gen/vendored_openapi.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

migration-doc: clarify instructions to use new registry in published manifests
  docs/book/src/developer/providers/v1.2-to-v1.3.md
Due: none

add cluster-api-release-team make promote
  hack/get-project-maintainers.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

added supported labels and annotations
  docs/book/src/SUMMARY.md
  docs/book/src/reference/api_reference.md
  docs/book/src/reference/labels_and_annotations.md
Due: none

Fix context location in tilt-prepare
  hack/tools/tilt-prepare/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to controller-runtime v0.13.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update ginkgo (2.2.0 -> 2.4.0) and gomega (1.20.1 -> 1.22.1)
  Makefile
  docs/book/src/developer/providers/v1.2-to-v1.3.md
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add Jont828 to clusterctl reviewers
  OWNERS_ALIASES
Due: none

doc updates for the new auto-discovery feature
  docs/book/src/tasks/certs/auto-rotate-certificates-in-kcp.md
Due: none

document automatic certificate renewal support for KCP machines
  docs/book/src/SUMMARY.md
  docs/book/src/tasks/certs/auto-rotate-certificates-in-kcp.md
Due: none

address review comments
  docs/book/src/reference/labels_and_annotations.md
  docs/book/src/tasks/certs/auto-rotate-certificates-in-kcp.md
Due: none

show full trace in CI
  scripts/ci-verify.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

CAPD: enable baseline pod security admission for clusterclass tests
  docs/book/src/security/pod-security-standards.md
  test/e2e/data/infrastructure-docker/v1beta1/main/clusterclass-quick-start.yaml
  test/infrastructure/docker/config/default/namespace.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update dependencies except k8s.io/*,helm.sh/* and gomega
  cmd/clusterctl/client/cluster/topology.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure Kubeadmconfig is reconciled after datasecretname is set
  internal/controllers/machine/machine_controller_phases.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Update gomega v1.24.0 and fix breakage
  .golangci.yml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/cluster_upgrade_runtimesdk.go
  test/e2e/clusterclass_changes.go
  test/e2e/clusterctl_upgrade.go
  test/e2e/common.go
  test/e2e/kcp_adoption.go
  test/e2e/self_hosted.go
  test/framework/alltypes_helpers.go
  test/framework/cluster_helpers.go
  test/framework/cluster_topology_helpers.go
  test/framework/clusterctl/client.go
  test/framework/clusterctl/clusterctl_helpers.go
  test/framework/clusterctl/e2e_config.go
  test/framework/clusterresourceset_helpers.go
  test/framework/control_plane.go
  test/framework/controlplane_helpers.go
  test/framework/daemonset_helpers.go
  test/framework/deployment_helpers.go
  test/framework/machine_helpers.go
  test/framework/machinedeployment_helpers.go
  test/framework/machinehealthcheck_helpers.go
  test/framework/machinepool_helpers.go
  test/framework/machines.go
  test/framework/namespace_helpers.go
  test/framework/node_helpers.go
  test/framework/pod_helpers.go
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Change action format, add commit SHAs
  .github/workflows/dependabot.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/lint-docs-pr.yaml
  .github/workflows/lint-docs-weekly.yml
  .github/workflows/release.yml
Due: none

KCP: use new registry with Kubernetes >= v1.22
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  test/framework/daemonset_helpers.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

📖 document automatic certificate renewal support in KCP (#7268)
  docs/book/src/SUMMARY.md
  docs/book/src/reference/labels_and_annotations.md
  docs/book/src/tasks/certs/auto-rotate-certificates-in-kcp.md
Due: none

Update MachineSet and MachineDeployment ownerRef versions on reconcile
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller_test.go
  internal/controllers/machinedeployment/machinedeployment_rolling.go
  internal/controllers/machinedeployment/machinedeployment_rollout_ondelete.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  util/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

patch managed fields after clusterctl move
  cmd/clusterctl/client/cluster/mover.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterClass: validate unknown fields in variable values
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/schema.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Adds webhook TLS config info to the migration doc
  docs/book/src/developer/providers/v1.2-to-v1.3.md
Due: none

Adds TLS options to managers
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  util/flags/tls.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add kubekey provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/reference/glossary.md
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

clusterctl: implement CRD name precheck
  cmd/clusterctl/api/v1alpha3/annotations.go
  cmd/clusterctl/client/cluster/installer.go
  cmd/clusterctl/client/cluster/installer_test.go
  cmd/clusterctl/client/init.go
  docs/book/src/developer/providers/v1.2-to-v1.3.md
  docs/book/src/reference/labels_and_annotations.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Adds kustomize subs fopr vSphere
  docs/book/src/developer/tilt.md
Due: none

first steps. Need to create a common function for MHC validation
  api/v1beta1/machinehealthcheck_webhook.go
  api/v1beta1/machinehealthcheck_webhook_test.go
  internal/webhooks/cluster.go
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improved the usage to reflect the required arguments
  cmd/clusterctl/cmd/describe_cluster.go
  cmd/clusterctl/cmd/generate_cluster.go
  cmd/clusterctl/cmd/get_kubeconfig.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to gomega 1.24.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Implement library for topology mutation hooks implementation
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-lifecycle-hooks.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-topology-mutation-hook.md
  exp/runtime/hooks/api/v1alpha1/discovery_types.go
  exp/runtime/server/server.go
  exp/runtime/topologymutation/doc.go
  exp/runtime/topologymutation/logRef.go
  exp/runtime/topologymutation/logRef_test.go
  exp/runtime/topologymutation/variables.go
  exp/runtime/topologymutation/variables_test.go
  exp/runtime/topologymutation/walker.go
  exp/runtime/topologymutation/walkler_test.go
  go.mod
  internal/controllers/topology/cluster/conditions.go
  internal/controllers/topology/cluster/scope/hookresponsetracker.go
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  test/extension/handlers/lifecycle/handlers.go
  test/extension/handlers/topologymutation/handler.go
  test/extension/handlers/topologymutation/handler_test.go
  test/extension/handlers/topologymutation/lib.go
  test/extension/main.go
  test/go.mod
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

KEP to add support for managed external etcd clusters in CAPI
  docs/proposals/20210524-managed-external-etcd.md
  docs/proposals/images/managed-etcd/etcd-controller-contract.plantuml
  docs/proposals/images/managed-etcd/etcd-controller-contract.png
  docs/proposals/images/managed-etcd/etcdcluster-sequence.plantuml
  docs/proposals/images/managed-etcd/etcdcluster-sequence.png
Due: none

Add TODOs and small edits
  docs/proposals/20221109-managed-external-etcd.md
Due: none

add kubekey k3s boostrap and control plane provider
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/clusterctl/provider-contract.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure MD finalizer applied on reconcile
  internal/controllers/topology/cluster/desired_state.go
  internal/controllers/topology/cluster/desired_state_test.go
  internal/controllers/topology/cluster/structuredmerge/options.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
