Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|third_party|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Set controller-runtime logger for clusterctl
  cmd/clusterctl/cmd/root.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Change default log level to 2
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  docs/book/src/developer/logging.md
  docs/book/src/tasks/experimental-features/runtime-sdk/implement-extensions.md
  main.go
  test/extension/main.go
  test/infrastructure/docker/main.go
  test/infrastructure/inmemory/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add label check in infraMachineToMachinePoolMapper and add log statement when deleting Machine
  exp/internal/controllers/machinepool_controller_phases.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Block dockerMachine deletion if parent Machine isn't found
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Revert initNodePoolMachineStatuses watch() and add logs
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add skip drain check
  internal/controllers/machine/machine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Refactor node pool to include providerID
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_test.go
  test/infrastructure/docker/exp/internal/docker/nodepool.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix doctoc detection in verify-doctoc.sh
  CONTRIBUTING.md
  Makefile
  docs/proposals/20181121-machine-api.md
  docs/proposals/20190610-machine-states-preboot-bootstrapping.md
  docs/proposals/20190709-cluster-spec-crds.md
  docs/proposals/20190919-machinepool-api.md
  docs/proposals/20191016-clusterctl-redesign.md
  docs/proposals/20191016-e2e-test-framework.md
  docs/proposals/20191017-kubeadm-based-control-plane.md
  docs/proposals/20191030-machine-health-checking.md
  docs/proposals/20200220-cluster-resource-set.md
  docs/proposals/20200330-spot-instances.md
  docs/proposals/20200423-etcd-data-disk.md
  docs/proposals/20200506-conditions.md
  docs/proposals/20200511-clusterctl-extensible-template-processing.md
  docs/proposals/20200602-machine-deletion-phase-hooks.md
  docs/proposals/20200804-windows-support.md
  docs/proposals/20201020-capi-provider-operator.md
  docs/proposals/20210203-externally-managed-cluster-infrastructure.md
  docs/proposals/20210210-insulate-users-from-kubeadm-API-changes.md
  docs/proposals/20210222-kubelet-authentication.md
  docs/proposals/20210310-opt-in-autoscaling-from-zero.md
  docs/proposals/20210526-cluster-class-and-managed-topologies.md
  docs/proposals/20220125-ipam-integration.md
  docs/proposals/20220209-machinepool-machines.md
  docs/proposals/20220221-runtime-SDK.md
  docs/proposals/20220330-topology-mutation-hook.md
  docs/proposals/20220411-cluster-api-state-metrics.md
  docs/proposals/20220414-runtime-hooks.md
  docs/proposals/20220712-cluster-api-addon-orchestration.md
  docs/proposals/20220725-managed-kubernetes.md
  docs/proposals/20220927-label-sync-between-machine-and-nodes.md
  docs/proposals/20221003-In-place-propagation-of-Kubernetes-objects-only-changes.md
  docs/proposals/YYYYMMDD-template.md
  docs/scope-and-objectives.md
  docs/staging-use-cases.md
  hack/generate-doctoc.sh
  hack/verify-doctoc.sh
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update actions for 1.5 and make names consistent
  .github/dependabot.yaml
  .github/workflows/pr-dependabot.yaml
  .github/workflows/pr-golangci-lint.yaml
  .github/workflows/pr-md-link-check.yaml
  .github/workflows/pr-verify.yaml
  .github/workflows/release.yaml
  .github/workflows/weekly-image-scan.yaml
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-test-release.yaml
  Makefile
  docs/book/src/reference/jobs.md
  docs/release/release-tasks.md
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix link to v1.1-v1.2 provider migration guide
  docs/proposals/20210526-cluster-class-and-managed-topologies.md
Due: none

capitalize title
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Revert node deletion skip for MPMs back to TODO
  internal/controllers/machine/machine_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add back edge case in initNodePoolStatusList and DeleteOrphaneDockerMachines
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add ClusterClass column to Cluster CRD
  api/v1beta1/cluster_types.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump golang.org/x/net to v0.13.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add separate concurrency flag for cluster cache tracker
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Document schemebuilder pattern in implementers guide
  docs/book/src/developer/providers/implementers-guide/create_api.md
Due: none

CAPD: delete container after failed start to work around port allocation issues
  test/infrastructure/container/docker.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump controller-runtime to v0.15.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

hack/observability: add capi_machine_status_certificatesexpirydate metric
  hack/observability/kube-state-metrics/crd-config.yaml
  hack/observability/kube-state-metrics/metrics/machine.yaml
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix ClusterClass enqueue for ExtensionConfig
  internal/controllers/clusterclass/clusterclass_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Improve multiple areas PRs with user friendly subs
  hack/tools/release/notes.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

CAPD: fix multi error handling in RunContainer
  test/infrastructure/container/docker.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove unnecessary task from release tasks doc
  docs/release/release-tasks.md
Due: none

Remove deprecated code in v1.6
  controllers/noderefutil/providerid.go
  controllers/noderefutil/providerid_test.go
  controllers/remote/index.go
  util/retry.go
  util/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update v1.5-v1.6 migration doc with deprecated code information
  docs/book/src/developer/providers/migrations/v1.5-to-v1.6.md
Due: none

Fix lint reported issue
  controllers/noderefutil/util.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add notes about new schemebuilder patterns in provider migration doc
  docs/book/src/developer/providers/migrations/v1.5-to-v1.6.md
Due: none

Add .Phony for doctoc target
  Makefile
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Start refactoring out nodepool.go
  exp/internal/controllers/machinepool_controller_noderef.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
Due: pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
