Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26

pull-cluster-api-test-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

Address findings
  docs/proposals/20240930-machine-drain-rules.md
Due: none

Fix some nits in BootstrapConfig docs
  docs/book/src/developer/core/controllers/machine.md
  docs/book/src/developer/providers/contracts/bootstrap-config.md
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/book/src/developer/providers/security-guidelines.md
Due: none

Update InfraMachine contract to include pausing rule
  docs/book/src/developer/providers/contracts/infra-machine.md
Due: none

Add support for v1beta2 conditions to clusterctl describe
  cmd/clusterctl/client/describe.go
  cmd/clusterctl/client/tree/discovery.go
  cmd/clusterctl/client/tree/node_object.go
  cmd/clusterctl/client/tree/tree.go
  cmd/clusterctl/client/tree/tree_test.go
  cmd/clusterctl/client/tree/util.go
  cmd/clusterctl/cmd/describe_cluster.go
  util/conditions/v1beta2/getter.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update set conditions to set LastTrasition time only when status changes
  util/conditions/setter.go
  util/conditions/setter_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Check for panics during test runs in envtest
  internal/test/envtest/environment.go
  test/framework/deployment_helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix inmemory provider for storage.v1
  test/infrastructure/inmemory/pkg/server/api/handler.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Adding MachineNamingStrategy in KubeadmControlPlane
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  controlplane/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  controlplane/kubeadm/internal/controllers/helpers.go
  controlplane/kubeadm/internal/controllers/helpers_test.go
  controlplane/kubeadm/internal/webhooks/kubeadm_control_plane.go
  controlplane/kubeadm/internal/webhooks/kubeadmcontrolplanetemplate.go
  internal/apis/controlplane/kubeadm/v1alpha3/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha3/zz_generated.conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/conversion.go
  internal/apis/controlplane/kubeadm/v1alpha4/zz_generated.conversion.go
  internal/topology/names/names.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

v1beta2 conditions: make NewAggregate use generics
  util/conditions/v1beta2/aggregate.go
  util/conditions/v1beta2/aggregate_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Review fixes
  internal/controllers/machine/drain/cache.go
  internal/controllers/machine/machine_controller.go
  main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fixes
  internal/controllers/machine/machine_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

rename retryCache to cache
  internal/controllers/machine/drain/cache.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Improve sort for v1beta2 conditions
  util/conditions/v1beta2/aggregate_test.go
  util/conditions/v1beta2/setter.go
  util/conditions/v1beta2/sort.go
  util/conditions/v1beta2/sort_test.go
  util/conditions/v1beta2/summary_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address feedback
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/controllers/machine/machine_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

update status with v1beta2 conditions
  api/v1beta1/machine_types.go
  api/v1beta1/v1beta2_condition_consts.go
  internal/contract/bootstrap.go
  internal/contract/infrastructure_machine.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  util/conditions/v1beta2/mirror.go
  util/conditions/v1beta2/mirror_test.go
  util/conditions/v1beta2/options.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Ensure reconcile external references and reconcile node are always run
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_noderef_test.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machine/machine_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Complete update status
  api/v1beta1/machine_types.go
  api/v1beta1/v1beta2_condition_consts.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  util/conditions/v1beta2/aggregate.go
  util/conditions/v1beta2/getter.go
  util/conditions/v1beta2/getter_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/merge_strategies_test.go
  util/conditions/v1beta2/mirror.go
  util/conditions/v1beta2/mirror_test.go
  util/conditions/v1beta2/options.go
  util/conditions/v1beta2/summary.go
  util/conditions/v1beta2/summary_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address comments
  api/v1beta1/machine_types.go
  api/v1beta1/v1beta2_condition_consts.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  internal/webhooks/machine_test.go
  util/conditions/v1beta2/getter.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More comments
  api/v1beta1/machine_types.go
  api/v1beta1/v1beta2_condition_consts.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_phases.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/mirror.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix MS tests + make mirror Node Ready more robust
  internal/controllers/machine/machine_controller_noderef.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machineset/suite_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

More comments
  api/v1beta1/machine_types.go
  api/v1beta1/v1beta2_condition_consts.go
  internal/controllers/machine/machine_controller_status.go
  internal/controllers/machine/machine_controller_status_test.go
  util/conditions/v1beta2/merge_strategies.go
  util/conditions/v1beta2/merge_strategies_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

drop chan
  test/infrastructure/inmemory/pkg/runtime/cache/sync.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

remove sync variable
  test/infrastructure/inmemory/pkg/runtime/cache/sync.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: race code
  test/infrastructure/inmemory/pkg/runtime/cache/sync.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

use sync chan
  test/infrastructure/inmemory/pkg/runtime/cache/sync.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add -race option again
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

More work
  cmd/clusterctl/client/tree/annotations.go
  cmd/clusterctl/client/tree/tree.go
  cmd/clusterctl/client/tree/tree_test.go
  cmd/clusterctl/client/tree/util.go
  cmd/clusterctl/cmd/describe_cluster.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Syncing upstream
  sync-upstream-repo
Due: none

Handle finalizers early in Reconciles
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/controller_test.go
  exp/addons/internal/controllers/clusterresourceset_controller.go
  exp/internal/controllers/machinepool_controller.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machinedeployment/machinedeployment_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/topology/machinedeployment/machinedeployment_controller.go
  internal/controllers/topology/machineset/machineset_controller.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorycluster_controller.go
  test/infrastructure/inmemory/internal/controllers/inmemorymachine_controller.go
  util/finalizers/finalizers.go
  util/finalizers/finalizers_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Update BootstrapConfig contract to include pausing
  docs/book/src/developer/providers/contracts/bootstrap-config.md
Due: none

🐛Fix conditions HasSameState nil pointer dereference
  util/conditions/setter.go
  util/conditions/setter_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fixes wording for InfraMachine pausing
  docs/book/src/developer/providers/contracts/infra-machine.md
Due: none

📖 Update BootstrapConfig contract to include pausing (#11287)
  docs/book/src/developer/providers/contracts/bootstrap-config.md
  docs/book/src/developer/providers/contracts/infra-machine.md
Due: none

Make controller as mandatory param in external object tracker
  controllers/external/fake/controller.go
  controllers/external/fake/doc.go
  controllers/external/tracker.go
  exp/internal/controllers/machinepool_controller_phases_test.go
  exp/internal/controllers/machinepool_controller_test.go
  internal/controllers/cluster/cluster_controller_phases_test.go
  internal/controllers/machine/machine_controller_phases_test.go
  internal/controllers/machine/machine_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Use fake controller for external tracker in topology Plan
  internal/controllers/topology/cluster/cluster_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Update mailing list
  README.md
Due: none

Remove Go dependencies on k8s.io/kubectl, k8s.io/metrics, sigs.k8s.io/kustomize, ...
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/config_repositories.go
  cmd/clusterctl/cmd/delete.go
  cmd/clusterctl/cmd/describe_cluster.go
  cmd/clusterctl/cmd/generate_cluster.go
  cmd/clusterctl/cmd/generate_provider.go
  cmd/clusterctl/cmd/generate_yaml.go
  cmd/clusterctl/cmd/get_kubeconfig.go
  cmd/clusterctl/cmd/init.go
  cmd/clusterctl/cmd/init_list_images.go
  cmd/clusterctl/cmd/internal/templates/normalizers.go
  cmd/clusterctl/cmd/move.go
  cmd/clusterctl/cmd/rollout.go
  cmd/clusterctl/cmd/rollout/pause.go
  cmd/clusterctl/cmd/rollout/restart.go
  cmd/clusterctl/cmd/rollout/resume.go
  cmd/clusterctl/cmd/rollout/undo.go
  cmd/clusterctl/cmd/root.go
  cmd/clusterctl/cmd/topology_plan.go
  cmd/clusterctl/cmd/upgrade_apply.go
  cmd/clusterctl/cmd/upgrade_plan.go
  go.mod
  go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
