Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

v1.15 release Team
  docs/release/releases/release-1.15.md
Due: none

docs/ci-signal: add weekly-* workflow cleanup to post-release steps
  docs/release/role-handbooks/ci-signal/README.md
Due: none

📖 Add proposal for worker version pinning in Cluster API managed topologies (#13892)
  docs/proposals/20260706-worker-version-pinning.md
Due: none

Watch webhook certificates directly from Secrets
  bootstrap/kubeadm/config/default/manager_webhook_patch.yaml
  bootstrap/kubeadm/config/manager/manager.yaml
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/config/default/manager_webhook_patch.yaml
  controlplane/kubeadm/config/manager/manager.yaml
  controlplane/kubeadm/main.go
  core/config/default/manager_webhook_patch.yaml
  core/config/manager/manager.yaml
  core/main.go
  test/infrastructure/docker/config/default/manager_webhook_patch.yaml
  test/infrastructure/docker/config/manager/manager.yaml
  test/infrastructure/docker/main.go
  util/certwatcher/certwatcher.go
  util/certwatcher/certwatcher_test.go
  util/flags/manager.go
  util/flags/manager_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Implement v1beta2 contract for devmachinepool
  test/infrastructure/docker/api/v1beta2/devmachinepool_types.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachinepooltemplates.yaml
  test/infrastructure/docker/reconcilers/devmachinepool_reconciler.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

ClusterClass without template objects
  .gitignore
  .golangci-kal.yml
  Makefile
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/zz_generated.deepcopy.go
  core/config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  core/reconcilers/topology/cluster/blueprint.go
  core/reconcilers/topology/cluster/util.go
  core/reconcilers/topology/cluster/util_test.go
  core/webhooks/admission/cluster.go
  core/webhooks/admission/clusterclass.go
  core/webhooks/admission/clusterclass_test.go
  core/webhooks/admission/patch_validation.go
  core/webhooks/admission/patch_validation_test.go
  core/webhooks/admission/test/clusterclass_test.go
  core/webhooks/conversion/clusterclass.go
  docs/book/src/reference/api/crd-api-reference.md
  exp/topology/desiredstate/desired_state.go
  exp/topology/scope/blueprint.go
  exp/topology/scope/blueprint_test.go
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
  internal/topology/check/compatibility.go
  internal/topology/check/compatibility_test.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/clusterclass_rollout.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-in-memory-topology-templaterefs.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory-templaterefs.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory.yaml
  test/extension/handlers/topologymutation/handler.go
  test/extension/handlers/topologymutation/handler_test.go
  util/test/builder/builders.go
  util/test/builder/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Make CABPK bootstrap token generate reentrant
  bootstrap/kubeadm/reconcilers/kubeadmconfig/kubeadmconfig_controller.go
  bootstrap/kubeadm/reconcilers/kubeadmconfig/kubeadmconfig_controller_controlplane_version_test.go
  bootstrap/kubeadm/reconcilers/kubeadmconfig/kubeadmconfig_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: redirect removed migration guides
  docs/book/book.toml
Due: none

Docs: Update release teem weekly meeting
  docs/release/release-team.md
Due: none

feat(machinepool): use InfraMachinePool contract in controller
  core/reconcilers/machinepool/machinepool_controller_phases.go
  core/reconcilers/machinepool/machinepool_controller_phases_test.go
  core/reconcilers/machinepool/machinepool_controller_scope.go
  core/reconcilers/machinepool/machinepool_controller_test.go
Due: none

feat(contract): add InfraMachinePool accessors
  internal/contract/infrastructure_machinepool.go
  internal/contract/infrastructure_machinepool_test.go
  internal/contract/types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

feat(capd): implement v1beta2 initialization contract in DevMachinePool
  test/infrastructure/docker/api/v1beta2/devmachinepool_types.go
  test/infrastructure/docker/api/v1beta2/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_devmachinepools.yaml
  test/infrastructure/docker/reconcilers/backends/docker/dockermachinepool_backend.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump to Kubernetes v1.37.0-rc.1
  test/e2e/config/docker.yaml
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump kubebuilder/docs/book/utils
  docs/book/Makefile
  docs/book/book.toml
  docs/book/theme/css/chrome.css
  docs/book/theme/css/custom.css
  hack/scripts/ensure/ensure-mdbook.sh
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix: support GitHub template URLs with slash branch names
  cmd/clusterctl/client/cluster/template.go
  cmd/clusterctl/client/cluster/template_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Stop trying to bump sigs.k8s.io/kubebuilder/docs/book/utils with dependabot
  .github/dependabot.yaml
Due: none

revert autoscaler documentation changes
  api/core/v1beta1/common_types.go
  api/core/v1beta2/common_types.go
  docs/book/src/tasks/automated-machine-management/autoscaling.md
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Upgrade pinned MachineDeployments/MachinePools independently
  Makefile
  core/reconcilers/machineset/machineset_preflight.go
  core/reconcilers/machineset/machineset_preflight_test.go
  core/reconcilers/topology/cluster/cluster_controller_test.go
  core/reconcilers/topology/cluster/patches/variables/variables_test.go
  docs/book/src/SUMMARY.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/book/src/tasks/experimental-features/worker-version-pinning.md
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/upgrade_plan.go
  exp/topology/desiredstate/upgrade_plan_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-worker-version-pinning/cluster-topology-worker-version-pinning.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-worker-version-pinning/kustomization.yaml
  test/e2e/worker_version_pinning.go
  test/e2e/worker_version_pinning_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Add worker version pinning API and validation
  api/core/v1beta1/zz_generated.conversion.go
  api/core/v1beta2/cluster_types.go
  core/config/crd/bases/cluster.x-k8s.io_clusters.yaml
  core/config/manager/manager.yaml
  core/webhooks/admission/cluster.go
  core/webhooks/admission/cluster_test.go
  core/webhooks/admission/clusterclass.go
  core/webhooks/admission/clusterclass_test.go
  core/webhooks/conversion/cluster.go
  core/webhooks/conversion/conversion_test.go
  docs/book/src/tasks/experimental-features/experimental-features.md
  feature/feature.go
  hack/tools/runtime-openapi-gen/api/core/v1beta2/zz_generated.openapi.go
  internal/topology/pinning/pinning.go
  util/test/builder/builders.go
  util/version/skew.go
  util/version/skew_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Promote PriorityQueue and ReconcilerRateLimiting feature gates to GA
  .golangci.yml
  docs/book/src/developer/providers/migrations/v1.14-to-v1.15.md
  feature/feature.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Bump corefile-migration to v1.0.35
  go.mod
  go.sum
  test/go.sum
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Don't use cache with CRD migrator
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  core/main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Don't use cache with CRD migrator
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

🐛 clustercache: apply Options.ClusterFilter in SetupWithManager
  controllers/clustercache/cluster_cache.go
  controllers/clustercache/cluster_cache_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Avoid unnecessary memory allocation in ssa.Patch after cache hit
  controlplane/kubeadm/reconcilers/kubeadmcontrolplane/helpers.go
  core/reconcilers/machineset/machineset_controller.go
  internal/util/ssa/patch.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove deprecated MachineWaitForVolumeDetachConsiderVolumeAttachments fg
  .golangci.yml
  core/config/manager/manager.yaml
  core/reconcilers/machine/machine_controller.go
  core/reconcilers/machine/machine_controller_test.go
  docs/book/src/developer/providers/migrations/v1.14-to-v1.15.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  feature/feature.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix ParseSecretName round-trip for purposes containing hyphens
  util/secret/secret.go
  util/secret/secret_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Avoid DeepCopy in contract.GetGKMetadata
  internal/contract/version.go
  internal/contract/version_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Fix review findings
  controllers/external/util.go
  controllers/external/util_test.go
  core/config/manager/manager.yaml
  core/reconcilers/topology/cluster/util_test.go
  core/webhooks/admission/clusterclass.go
  core/webhooks/admission/clusterclass_test.go
  core/webhooks/admission/patch_validation.go
  core/webhooks/admission/test/clusterclass_test.go
  docs/book/src/tasks/experimental-features/experimental-features.md
  exp/topology/desiredstate/desired_state.go
  feature/feature.go
  test/e2e/clusterclass_rollout.go
  test/e2e/clusterclass_rollout_test.go
  test/e2e/config/docker.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
