Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

revert label and value
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix review findings
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

:seedling: Add --etcd-client-log-level flag to KCP
  controlplane/kubeadm/controllers/alias.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd_client_generator.go
  controlplane/kubeadm/internal/etcd_client_generator_test.go
  controlplane/kubeadm/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add validation that ensures worker topology names are valid Kubernetes resource names
  internal/topology/check/compatibility.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Add tests that fail when a worker topology name causes invalid Kubernetes resource name
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fixup! Add tests that fail when a worker topology name causes invalid Kubernetes resource name
  internal/webhooks/cluster_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fixup! Add tests that fail when a worker topology name causes invalid Kubernetes resource name
  internal/topology/check/compatibility_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fixup! Add validation that ensures worker topology names are valid Kubernetes resource names
  internal/topology/check/compatibility.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

fix review findings
  test/e2e/data/infrastructure-docker/main/cluster-template-upgrades-runtimesdk/cluster-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add test/framework/* tests in CI
  Makefile
  scripts/ci-test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add json patches
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

convert to list from map
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Final fixup
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fixup templates
  test/infrastructure/docker/templates/cluster-template-development-mp.yaml
  test/infrastructure/docker/templates/cluster-template-development.yaml
  test/infrastructure/docker/templates/cluster-template-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-in-memory.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Improve CC RefVersionsUpToDate condition message
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/clusterclass/clusterclass_controller_status.go
  internal/controllers/clusterclass/clusterclass_controller_status_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Update autoscaling from zero enhancement proposal with support for platform-aware autoscale from zero
  docs/book/src/developer/providers/contracts/infra-machine.md
  docs/proposals/20210310-opt-in-autoscaling-from-zero.md
Due: none

Add Minimum=0 to all MinReadySeconds fields
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Change ExtensionConfig handler timeoutSeconds from *int32 to int32 and add Minimum=1
  api/runtime/v1alpha1/conversion.go
  api/runtime/v1alpha1/zz_generated.conversion.go
  api/runtime/v1beta2/extensionconfig_types.go
  api/runtime/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  internal/runtime/client/client.go
  internal/runtime/client/client_test.go
  internal/runtime/registry/registry.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Change ClusterResourceSetBinding Bindings field from []*ResourceSetBinding to []ResourceSetBinding
  api/addons/v1beta1/conversion.go
  api/addons/v1beta1/conversion_test.go
  api/addons/v1beta1/zz_generated.conversion.go
  api/addons/v1beta2/clusterresourcesetbinding_types.go
  api/addons/v1beta2/zz_generated.deepcopy.go
  cmd/clusterctl/internal/test/fake_objects.go
  internal/api/addons/v1alpha3/conversion.go
  internal/api/addons/v1alpha3/conversion_test.go
  internal/api/addons/v1alpha3/zz_generated.conversion.go
  internal/api/addons/v1alpha4/conversion.go
  internal/api/addons/v1alpha4/conversion_test.go
  internal/api/addons/v1alpha4/zz_generated.conversion.go
  internal/controllers/clusterresourceset/clusterresourceset_helpers_test.go
  test/framework/clusterresourceset_helpers.go
  test/framework/clusterresourceset_helpers_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove redundant check in verifyV1Beta2ConditionsTrueV1Beta1
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

bump cert-manager to v1.18.2
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/getting-started.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Remove old godoc comment, remove unnecessary cast in KCP
  api/controlplane/kubeadm/v1beta2/kubeadm_control_plane_types.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/internal/controllers/helpers.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

⚠️ Migrate E2E tests to v1beta2 (#12451)
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/bases/cluster-with-topology.yaml
  test/e2e/data/infrastructure-docker/main/bases/crs.yaml
  test/e2e/data/infrastructure-docker/main/bases/md.yaml
  test/e2e/data/infrastructure-docker/main/bases/mp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-ignition/ignition.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-in-memory.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-ipv6/cluster-ipv6.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-ipv6/kcp-ipv6.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-ipv6/md-ipv6.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-adoption/step1/cluster-with-cp0.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-pre-drain/cluster.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-kcp-scale-in/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-md-remediation/md.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-autoscaler/cluster-autoscaler.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv4-primary/cluster.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-dualstack-ipv6-primary/cluster.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-kcp-only/cluster-topology-class.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-no-workers/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-upgrades-runtimesdk/cluster-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-in-memory.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-kcp-only/kustomization.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/extension/handlers/topologymutation/handler.go
  test/extension/handlers/topologymutation/handler_test.go
  test/extension/handlers/topologymutation/testdata/clusterclass-quick-start-runtimesdk.yaml
  test/infrastructure/docker/templates/cluster-template-development-mp.yaml
  test/infrastructure/docker/templates/cluster-template-development.yaml
  test/infrastructure/docker/templates/cluster-template-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

update examples
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

refactor: replace sort.Sort with slices.SortFunc
  internal/contract/version.go
  internal/controllers/machinedeployment/machinedeployment_rolling.go
  internal/controllers/machinedeployment/machinedeployment_sync.go
  internal/controllers/machinedeployment/mdutil/util.go
  internal/controllers/machinedeployment/mdutil/util_test.go
  internal/controllers/machineset/machineset_delete_policy.go
  internal/goproxy/goproxy.go
  util/collections/machine_collection.go
  util/conditions/deprecated/v1beta1/merge.go
  util/deprecated/v1beta1/conditions/merge.go
  util/failuredomains/failure_domains.go
  util/failuredomains/failure_domains_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

align CAPD conversion to conversion of other providers
  test/infrastructure/docker/api/v1alpha3/conversion.go
  test/infrastructure/docker/api/v1alpha4/conversion.go
  test/infrastructure/docker/api/v1beta1/conversion.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

refactor: replace sort.Slice with slices.SortFunc
  api/bootstrap/kubeadm/v1beta2/conversion.go
  cmd/clusterctl/client/cluster/installer.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/client/cluster/upgrader.go
  cmd/clusterctl/client/cluster/upgrader_info.go
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config/providers_client_test.go
  cmd/clusterctl/client/tree/tree.go
  cmd/clusterctl/client/tree/util.go
  cmd/clusterctl/client/upgrade_test.go
  cmd/clusterctl/cmd/upgrade.go
  controlplane/kubeadm/internal/controllers/remediation.go
  controlplane/kubeadm/internal/controllers/status.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  hack/tools/release/notes/print.go
  internal/controllers/cluster/cluster_controller.go
  internal/controllers/machine/drain/drain.go
  internal/controllers/machinedeployment/machinedeployment_status.go
  internal/util/tree/tree.go
  test/framework/clusterctl/e2e_config.go
  util/conditions/deprecated/v1beta1/merge.go
  util/conditions/deprecated/v1beta1/setter.go
  util/conditions/merge_strategies.go
  util/conditions/sort_test.go
  util/deprecated/v1beta1/conditions/merge.go
  util/deprecated/v1beta1/conditions/setter.go
  util/deprecated/v1beta1/conditions/v1beta2/merge_strategies.go
  util/deprecated/v1beta1/conditions/v1beta2/sort_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

refactor: replace sort.SliceStable with slices.SortStableFunc
  cmd/clusterctl/client/repository/components.go
  cmd/clusterctl/client/repository/repository_versions.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  internal/controllers/clusterclass/clusterclass_controller.go
  internal/controllers/machineset/machineset_controller.go
  internal/controllers/machineset/machineset_controller_test.go
  test/framework/clusterctl/e2e_config.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller_phases.go
  util/conditions/merge_strategies.go
  util/conditions/patch.go
  util/conditions/setter.go
  util/deprecated/v1beta1/conditions/v1beta2/merge_strategies.go
  util/deprecated/v1beta1/conditions/v1beta2/patch.go
  util/deprecated/v1beta1/conditions/v1beta2/setter.go
  util/resource/resource.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Enable ssatags KAL linter
  .golangci-kal.yml
  hack/tools/.custom-gcl.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Mark all remaining ClusterResourceSet and ClusterResourceSetBinding array fields as atomic
  api/addons/v1beta2/clusterresourceset_types.go
  api/addons/v1beta2/clusterresourcesetbinding_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Mark all remaining Machine, MHC and MachinePool array fields as atomic
  api/core/v1beta2/common_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/machinepool_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Regenerate manifests & OpenAPI
  api/core/v1beta2/zz_generated.openapi.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Mark all remaining ClusterClass array fields as atomic
  api/core/v1beta2/clusterclass_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Mark all remaining KubeadmConfig array fields as atomic
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Mark all []string array fields as atomic
  api/bootstrap/kubeadm/v1beta2/kubeadm_types.go
  api/bootstrap/kubeadm/v1beta2/kubeadmconfig_types.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/machinepool_types.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e
