Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

pull-cluster-api-apidiff-main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./scripts/ci-apidiff.sh
      image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      resources:
        requests:
          cpu: 6000m
          memory: 2Gi
        limits:
          cpu: 6000m
  ...

pull-cluster-api-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      resources:
        requests:
          cpu: 7300m
          memory: 8Gi
        limits:
          cpu: 7300m
          memory: 8Gi

pull-cluster-api-e2e-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20250422-9d0e6fd518-1.33
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_LABEL_FILTER
  ...

pull-cluster-api-test-mink8s-main:
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-test.sh
      env:
      - name: KUBEBUILDER_ENVTEST_KUBERNETES_VERSION
        value: 1.23.5
  ...

pull-cluster-api-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
  ...

pull-cluster-api-e2e-informing-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e-informing-ipv6-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  optional: true
  spec:
    serviceAccountName: prowjob-default-sa
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.26
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
  ...

pull-cluster-api-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200925-46c65ff-1.18
      args:
      - runner.sh
      - ./scripts/ci-e2e.sh
      env:
      - name: GINKGO_FOCUS
        value: \[PR-Blocking\]
  ...

More feedback
  docs/proposals/20240807-in-place-updates-implementation-notes.md
Due: none

📖 Add implementation notes to the in-place update proposal (#12880)
  docs/proposals/20240807-in-place-updates-implementation-notes.md
Due: none

Address feedback
  api/runtime/hooks/v1alpha1/lifecyclehooks_types.go
  api/runtime/hooks/v1alpha1/zz_generated.deepcopy.go
  api/runtime/hooks/v1alpha1/zz_generated.openapi.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Add lifecycle hooks for chained-upgrade (#12878)
  api/runtime/hooks/v1alpha1/lifecyclehooks_types.go
  api/runtime/hooks/v1alpha1/zz_generated.deepcopy.go
  api/runtime/hooks/v1alpha1/zz_generated.openapi.go
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Call new lifecycle hooks for chained-upgrades
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
  exp/topology/desiredstate/upgrade_plan.go
  exp/topology/scope/upgradetracker.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/extension/handlers/lifecycle/handlers.go
  test/extension/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Fix review findings
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/inplace_trigger.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Address review comments (Stefan)
  api/core/v1beta2/machinehealthcheck_types.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  test/infrastructure/docker/templates/clusterclass-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Refactor: Use GetAllExtensions in CallAllExtensions to eliminate code duplication
  internal/runtime/client/client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Refactor: Extract response status validation into helper function
  internal/runtime/client/client.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

✨ KCP: implement trigger in-place update (#12897)
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/controllers/controller.go
  controlplane/kubeadm/internal/controllers/inplace.go
  controlplane/kubeadm/internal/controllers/inplace_canupdatemachine_test.go
  controlplane/kubeadm/internal/controllers/inplace_test.go
  controlplane/kubeadm/internal/controllers/inplace_trigger.go
  controlplane/kubeadm/internal/controllers/inplace_trigger_test.go
  controlplane/kubeadm/internal/filters.go
  controlplane/kubeadm/internal/filters_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Add support for checking Machine conditions in MachineHealthCheck (#12827)
  api/core/v1beta1/conversion.go
  api/core/v1beta2/cluster_types.go
  api/core/v1beta2/clusterclass_types.go
  api/core/v1beta2/machine_types.go
  api/core/v1beta2/machinehealthcheck_types.go
  api/core/v1beta2/v1beta1_condition_consts.go
  api/core/v1beta2/zz_generated.deepcopy.go
  api/core/v1beta2/zz_generated.openapi.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  docs/book/src/tasks/automated-machine-management/healthchecking.md
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  docs/book/src/tasks/using-kustomize.md
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/scope/blueprint.go
  exp/topology/scope/blueprint_test.go
  internal/api/core/v1alpha3/conversion.go
  internal/api/core/v1alpha4/conversion.go
  internal/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets.go
  internal/controllers/machinehealthcheck/machinehealthcheck_targets_test.go
  internal/controllers/topology/cluster/current_state_test.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  internal/webhooks/cluster_test.go
  internal/webhooks/clusterclass_test.go
  internal/webhooks/machinehealthcheck_test.go
  internal/webhooks/test/machinehealthcheck_test.go
  test/e2e/data/infrastructure-docker/main/clusterclass-quick-start.yaml
  test/infrastructure/docker/templates/clusterclass-in-memory.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
  util/test/builder/builders.go
  util/test/builder/zz_generated.deepcopy.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Add items to cache immediately after apply
  internal/util/ssa/patch.go
  internal/util/ssa/patch_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

e2e: fix self-hosted to actually read DOCKER_PRELOAD_IMAGES from the e2e config
  test/e2e/self_hosted.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

run tests on loop until failure
  Makefile
  internal/controllers/machine/machine_controller_status.go
  scripts/ci-test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

export env var
  scripts/ci-test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add logging
  scripts/ci-test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix syntax
  scripts/ci-test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

try without loop
  scripts/ci-test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add for loop
  scripts/ci-test.sh
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

docs: Update microvm provider URL
  docs/book/src/reference/providers.md
Due: none

Document e2e test timeout changes in v1.11-to-v1.12 migration doc
  docs/book/src/developer/providers/migrations/v1.11-to-v1.12.md
Due: none

Fix flakes in syncMachines unit test
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Fix race conditions with global scheme in TestMachineSetReconciler_reconcileUnhealthyMachines
  internal/controllers/machineset/machineset_controller_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Address comments
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
  test/e2e/cluster_upgrade_runtimesdk.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add logs
  controllers/clustercache/cluster_accessor.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

skip cache test, flakes in loop
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

skip cache test, flakes in loop
  Makefile
  controllers/clustercache/cluster_cache_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

typo
  Makefile
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add disableprivatekey
  controllers/clustercache/cluster_accessor.go
  controllers/clustercache/cluster_cache.go
  internal/controllers/machine/suite_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

Change ComputeRequestIdentifier parameters to clarify usage
  internal/controllers/topology/cluster/structuredmerge/dryrun.go
  internal/util/ssa/cache.go
  internal/util/ssa/patch.go
  internal/util/ssa/patch_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

More feedback
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Call new lifecycle hooks for chained-upgrades (#12891)
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/desired_state_test.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/lifecycle_hooks_test.go
  exp/topology/desiredstate/upgrade_plan.go
  exp/topology/scope/upgradetracker.go
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
  test/e2e/cluster_upgrade_runtimesdk.go
  test/extension/handlers/lifecycle/handlers.go
  test/extension/main.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

POC: KCP in-place update
  Makefile
  _manual-testing/cluster-quick-start.yaml
  _manual-testing/clusterclass-quick-start.yaml
  api/core/v1beta2/machine_phase_types.go
  api/core/v1beta2/machine_types.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  controllers/alias.go
  controlplane/kubeadm/internal/controllers/controller.go
  internal/controllers/machine/machine_controller.go
  internal/controllers/machine/machine_controller_inplace_update.go
  internal/controllers/machine/machine_controller_status.go
  main.go
  test/e2e/cluster_in_place_update.go
  test/e2e/cluster_in_place_update_test.go
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-in-place/cluster-runtimesdk.yaml
  test/e2e/data/infrastructure-docker/main/cluster-template-topology-in-place/kustomization.yaml
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/handlers/topologymutation/handler.go
  test/extension/main.go
  test/framework/cluster_helpers.go
  test/go.mod
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

call GenerateUpgradePlanRequest Runtime Extension
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/upgrade_plan.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix lint error
  exp/topology/desiredstate/upgrade_plan_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

add unit test for UpgradePlan extension
  exp/topology/desiredstate/upgrade_plan_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

CAPD: recreate container if we re-enter reconciliation and it exists but is not running
  test/infrastructure/docker/internal/controllers/backends/docker/dockermachine_backend.go
  test/infrastructure/docker/internal/controllers/dockermachinepool_controller_phases.go
  test/infrastructure/docker/internal/docker/machine.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

fix review findings
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/upgrade_plan.go
  exp/topology/desiredstate/upgrade_plan_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

✨ Call GenerateUpgradePlanRequest Runtime Extension (#12903)
  exp/topology/desiredstate/desired_state.go
  exp/topology/desiredstate/lifecycle_hooks.go
  exp/topology/desiredstate/upgrade_plan.go
  exp/topology/desiredstate/upgrade_plan_test.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main, pull-cluster-api-e2e

machinehealthcheck: no longer requeue when remediation is not allowed
  internal/controllers/machinehealthcheck/machinehealthcheck_controller.go
Due: pull-cluster-api-apidiff-main, pull-cluster-api-test-main, pull-cluster-api-e2e-blocking-main, pull-cluster-api-test-mink8s-main, pull-cluster-api-e2e-main, pull-cluster-api-e2e-informing-main, pull-cluster-api-e2e-informing-ipv6-main

Path conditions:
  pull-cluster-api-apidiff-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-blocking-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-test-mink8s-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e-informing-ipv6-main: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|internal|scripts|test|util|webhooks|version)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
  pull-cluster-api-e2e: any of: ^((api|bootstrap|cmd|config|controllers|controlplane|errors|exp|feature|hack|scripts|test|third_party|util)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
