Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh)

add API for storage policy support
  api/v1alpha3/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add nsxt configuration variables into vSphere cloud provider's config
  api/v1alpha2/cloudprovider_types.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha2/zz_generated.deepcopy.go
  api/v1alpha3/cloudprovider_encoding.go
  api/v1alpha3/cloudprovider_encoding_test.go
  api/v1alpha3/cloudprovider_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  controllers/vspherecluster_controller.go
  go.sum
  packaging/flavorgen/flavors/generators.go
  pkg/context/controller_manager_context.go
  pkg/manager/manager.go
  pkg/manager/options.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

rate limit tasks to avoid overloading vcenter
  controllers/vspherevm_controller.go
  pkg/services/govmomi/create.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/task/counter.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add validation for datastore and storagePolicyName
  api/v1alpha3/vspheremachine_webhook.go
  api/v1alpha3/vspheremachinetemplate_webhook.go
  api/v1alpha3/vspherevm_webhook.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

probe vcenter as part of the vspherecluster reconciliation
  api/v1alpha3/condition_consts.go
  controllers/vspherecluster_controller.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

relax storage policy constrains and enable datastore too
  api/v1alpha3/vspheremachine_webhook.go
  api/v1alpha3/vspheremachinetemplate_webhook.go
  api/v1alpha3/vspherevm_webhook.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds escaping logic for vCenter credentials
  config/default/credentials.yaml
  pkg/manager/options_test.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updates the dev-manifests target
  Makefile
  docs/development.md
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

update README with new OVA links
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Adds support for Windows worker nodes - Adds windows flavour to template generator - Limits vSphereVM name to 15 characters when OS is type Windows - Adds OS field to vsphere machines
  Makefile
  api/v1alpha3/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  controllers/vspheremachine_controller.go
  go.mod
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  pkg/util/hash.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Taints Windows nodes
  packaging/flavorgen/flavors/generators.go
Due: none

Revert vspherevm name limit. - Remove hostname command from prekubeadm commands - Add capv user to Administrators group
  api/v1alpha3/vspherevm_webhook.go
  api/v1alpha3/vspherevm_webhook_test.go
  config/webhook/manifests.yaml
  config/webhook/webhookcainjection_patch.yaml
  controllers/vspheremachine_controller.go
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

PR updates
  api/v1alpha3/vspherevm_webhook.go
  api/v1alpha3/vspherevm_webhook_test.go
  config/webhook/manifests.yaml
  config/webhook/webhookcainjection_patch.yaml
  controllers/vspheremachine_controller.go
  pkg/util/hash.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Revert OS type change
  api/v1alpha3/types.go
  api/v1alpha3/vspherevm_webhook.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update vsphere-csi-driver release to v2.1.0
  controllers/vspherecluster_controller.go
  packaging/flavorgen/flavors/flavors.go
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

skip cloud provider/CSI install when no cloudprovider config is provided
  controllers/vspherecluster_controller.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add tls thumbprint env var
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fix imported image versions
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

document the openssl command the extract the thumbprint
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

PR updates
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Remove v1alpha2 references
  api/v1alpha2/cloudprovider_types.go
  api/v1alpha2/conversion_test.go
  api/v1alpha2/doc.go
  api/v1alpha2/groupversion_info.go
  api/v1alpha2/types.go
  api/v1alpha2/vspherecluster_conversion.go
  api/v1alpha2/vspherecluster_types.go
  api/v1alpha2/vspherecluster_webhook.go
  api/v1alpha2/vspheremachine_conversion.go
  api/v1alpha2/vspheremachine_types.go
  api/v1alpha2/vspheremachine_webhook.go
  api/v1alpha2/vspheremachinetemplate_conversion.go
  api/v1alpha2/vspheremachinetemplate_types.go
  api/v1alpha2/vspheremachinetemplate_webhook.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha2/zz_generated.deepcopy.go
  pkg/manager/manager.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updates Dockerfile to use nonroot user for CAPV
  Dockerfile
  config/manager/manager_auth_proxy_patch.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add "provisioner" field to API
  api/v1alpha3/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add ignition config support
  pkg/services/govmomi/extra/config.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Revert "Revert OS type change"
  api/v1alpha3/types.go
  api/v1alpha3/vspherevm_webhook.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Revert "Revert vspherevm name limit."
  api/v1alpha3/vspherevm_webhook.go
  api/v1alpha3/vspherevm_webhook_test.go
  config/webhook/manifests.yaml
  config/webhook/webhookcainjection_patch.yaml
  controllers/vspheremachine_controller.go
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

- Remove hostname command from prekubeadm commands - Add capv user to Administrators groupPR updates
  packaging/flavorgen/flavors/generators.go
Due: none

Adds new reason to vspheremachine condition
  controllers/vspheremachine_controller.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Specifies disks in clone spec
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fix crs name conflict
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-resource-set.yaml
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Utilizes datastores dictated by storage policy
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add missing coordination.k8s.io to ClusterRole for CCM
  pkg/services/cloudprovider/cloud-controller-manager.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Remove inactive members from OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

wip: small fixes
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/vspheremachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Enable log collection for E2E tests
  .golangci.yml
  go.mod
  hack/e2e.sh
  test/e2e/README.md
  test/e2e/config/vsphere-ci.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/log_collector.go
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds new reason for VMProvisioning condition
  api/v1alpha3/condition_consts.go
  controllers/vspherevm_controller.go
  controllers/vspherevm_controller_test.go
  pkg/context/fake/fake_controller_manager_context.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e
