Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile

adding files and preKubeadcommands to generated manifests to set hostname
  examples/controlplane/controlplane.yaml
Due: none

Update machine deployment example
  docs/getting_started.md
  examples/machinedeployment/machinedeployment.yaml
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fix missing addons file in generated manifests
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

rbac fixes
  api/v1alpha2/vspherecluster_types.go
  api/v1alpha2/vspheremachine_types.go
  api/v1alpha2/vspheremachinetemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/rbac/role.yaml
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Always set Infra.Ready=true
  controllers/vspherecluster_controller.go
Due: none

RBAC for reading secrets; fixes nil reference
  config/rbac/role.yaml
  controllers/vspherecluster_controller.go
  pkg/cloud/vsphere/services/govmomi/service.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Add comments around cluster Infra.Ready
  controllers/vspherecluster_controller.go
Due: none

Do not check if API endpoints > 0
  controllers/vspherecluster_controller.go
Due: none

Support custom manager images/log levels
  config/default/kustomization.yaml
  config/default/manager_image_patch.yaml
  examples/addons.yaml
  examples/generate.sh
  examples/provider-components/cabpk_image_patch.yaml
  examples/provider-components/cabpk_manager_patches.yaml
  examples/provider-components/capi_manager_patches.yaml
  examples/provider-components/capv_manager_patches.yaml
  examples/provider-components/kustomization.yaml
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update getting started w dev images
  docs/design/cloud-init-networking.puml
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Add script for building dev artifacts
  hack/build-dev.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Update project .gitignore
  .gitignore
Due: none

Update the Cluster controller endpoint logic
  controllers/vspherecluster_controller.go
  pkg/cloud/vsphere/util/machines.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Mark the VSphereMachine as InfraReady=true
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
Due: none

Update "hack/build-dev" to support forks
  hack/build-dev.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Move SSH Auth Keys from Cluster to Kubeadm Conf
  api/v1alpha2/vspherecluster_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  examples/cluster/cluster.yaml
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
Due: none

Fix YAML formatting in examples; add host to MD
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
Due: none

Update requeue times
  controllers/vspheremachine_controller.go
Due: none

Add "vsphere" user to deployed VMs
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
Due: none

Add sudo role to vsphere user
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
Due: none

Do not reencode userdata as base64
  pkg/cloud/vsphere/services/govmomi/extra/config.go
  pkg/cloud/vsphere/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Ensure guestinfo data is properly encoded
  pkg/cloud/vsphere/services/govmomi/extra/config.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Set CRI socket, hostname as commands
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
Due: none

Do not single-quote additional commands
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
Due: none

"vsphere" user, update getting started docs
  docs/getting_started.md
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update CRDs
  Makefile
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fix stack overflow bug with encode to b64
  pkg/cloud/vsphere/services/govmomi/extra/config.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Rename "vsphere" user to "capv"
  docs/getting_started.md
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fixed kubeadm template in machine deployment
  docs/getting_started.md
  examples/machinedeployment/machinedeployment.yaml
Due: pull-cluster-api-provider-vsphere-verify-markdown

let kubeadm determine the CRI socket value
  pkg/cloud/vsphere/services/govmomi/create.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Support custom CRI socket via machine init cfg
  pkg/cloud/vsphere/services/govmomi/create.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Remove vestigial log line
  pkg/cloud/vsphere/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fix help usage in examples/generate.sh script
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Fixed missing return statement
  controllers/vspherecluster_controller.go
Due: none

switching kubeadm module to runcmd to generate cloud-init userdata
  pkg/cloud/vsphere/services/userdata/controlplane.go
  pkg/cloud/vsphere/services/userdata/node.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Add missing cloud provider config
  examples/controlplane/controlplane.yaml
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Update generate script CAPI v0.2.0, CABPK v0.1.0
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Update generate script with v1a2 image paths
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell
