Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-apidiff-main:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.30
      command:
      - runner.sh
      args:
      - ./hack/ci-apidiff.sh
      resources:
        limits:
          cpu: 2
          memory: 3Gi
        requests:
          cpu: 2
  ...

pull-cluster-api-provider-vsphere-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.30
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi
      command:
      - runner.sh
      args:
      - make
      - test-junit

pull-cluster-api-provider-vsphere-test-integration-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240111-cf1d81388e-1.27
      securityContext:
        privileged: true
        capabilities:
          add:
          - NET_ADMIN
  ...

pull-cluster-api-provider-vsphere-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-verify-gen:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - runner.sh
      args:
      - make
      - verify-gen

Cherry-Pick: Changes for community owned Prow CI
  hack/e2e.sh
  test/e2e/config/config-overrides-mirror-prow.yaml
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.10/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.11/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.9/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.10/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.11/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.9/commons/cluster-network-CIDR.yaml
  test/infrastructure/vm-operator/config/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/vm-operator-v1.8.6-0-gde75746a-65e87004.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Cherry-Pick: Changes for community owned Prow CI
  hack/e2e.sh
  test/e2e/config/config-overrides-mirror-prow.yaml
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.10/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.9/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.10/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.9/commons/cluster-network-CIDR.yaml
  test/infrastructure/vm-operator/config/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/vm-operator-v1.8.6-0-gde75746a-65e87004.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Partially revert 3473 due to having vSphere 8 in community ci
  Makefile
  hack/e2e.sh
  test/e2e/config/vsphere.yaml
  test/infrastructure/vm-operator/config/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/vm-operator-v1.8.6-0-gde75746a.yaml
  test/infrastructure/vm-operator/vm-operator-vc7-compat.diff
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Partially revert 3473 due to having vSphere 8 in community ci
  hack/e2e.sh
  test/e2e/config/vsphere.yaml
  test/infrastructure/vm-operator/config/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/vm-operator-v1.8.6-0-gde75746a.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

e2e: also collect pod logs
  hack/e2e.sh
  test/framework/log/collector.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

prowjobs: reschedule main periodics at 23 and 1 UTC
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

also adjust release branches
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

CAPV: reschedule release-1.13 jobs
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fixup e2e.sh
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

fixup tarball re-creation
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

e2e.sh: ensure on_exit to not fail due to broken or empty tarballs
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

🌱 e2e: also collect pod logs (#3490)
  hack/e2e.sh
  test/framework/log/collector.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

[release-1.13] 🌱 e2e: also collect pod logs (#3496)
  hack/e2e.sh
  test/framework/log/collector.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

StoragePolicy should ignore datastores in maintenance mode
  pkg/services/govmomi/vcenter/clone.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

removing disabled usetesting, fixing various linting issues in test files
  .golangci.yml
  controllers/vmware/vspherecluster_reconciler_test.go
  controllers/vmware/vspheremachinetemplate_controller_test.go
  controllers/vspherevm_controller_test.go
  controllers/vspherevm_ipaddress_reconciler_test.go
  hack/tools/pkg/janitor/janitor_test.go
  internal/webhooks/vmware/vspheremachine_test.go
  internal/webhooks/vmware/vspheremachinetemplate_test.go
  internal/webhooks/vspheredeploymentzone_test.go
  internal/webhooks/vspherefailuredomain_test.go
  internal/webhooks/vspheremachine_test.go
  internal/webhooks/vspheremachinetemplate_test.go
  internal/webhooks/vspherevm_test.go
  pkg/clustermodule/service_test.go
  pkg/manager/manager_test.go
  pkg/manager/options_test.go
  pkg/services/govmomi/cluster/rule_test.go
  pkg/services/govmomi/cluster/service_test.go
  pkg/services/govmomi/cluster/vmgroup_test.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/find/object_test.go
  pkg/services/govmomi/ipam/status_test.go
  pkg/services/govmomi/service_test.go
  pkg/services/govmomi/util_test.go
  pkg/services/govmomi/vcenter/clone_test.go
  pkg/services/vmoperator/resource_policy_test.go
  pkg/session/session_test.go
  pkg/util/fetch_object_test.go
  pkg/util/machines_test.go
  pkg/util/networkutil_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

e2e: fixup flake while claiming VIPs
  test/framework/ip/incluster.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

calico: set 1340 as mtu
  test/e2e/data/cni/calico/calico.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

revert calico change
  test/e2e/data/cni/calico/calico.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

ipam: fix mtu
  test/e2e/data/infrastructure-vsphere-govmomi/main/ipam/ipam-patch.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
