Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210217-8c72491-1.18
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
      command:
      - hack/check-lint.sh

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - make
      - test

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
  ...

add missing boilerplate header
  packaging/flavorgen/flavors/crs/cpi.go
  packaging/flavorgen/flavors/crs/csi.go
  packaging/flavorgen/flavors/crs/util.go
  packaging/flavorgen/flavors/env/envsubts_consts.go
Due: none

add v1alpha3/v1alpha4->v1beta1 clusterctl upgrade test
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/e2e_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

docker save image and upload to gcs
  hack/e2e.sh
  test/e2e/e2e_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

docker save image and upload to gcs
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

modify e2e config files for upgrade tests
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

patch kcp with preKubeadmCommands
  test/e2e/data/infrastructure-vsphere/kustomization/image-injection.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

wip: gcloud connectivity
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

WIP
  hack/e2e.sh
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha3/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha4/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/image-injection.yaml
  test/e2e/e2e_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add TagsIDs to API
  api/v1alpha3/conversion.go
  api/v1alpha3/vspheremachine_conversion.go
  api/v1alpha3/vspheremachinetemplate_conversion.go
  api/v1alpha3/vspherevm_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/conversion.go
  api/v1alpha4/vspheremachine_conversion.go
  api/v1alpha4/vspheremachinetemplate_conversion.go
  api/v1alpha4/vspherevm_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Reconcile tags for a VM
  pkg/services/govmomi/service.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update govmomi
  go.mod
  go.sum
Due: none

Add condition for tags attachment failure
  api/v1beta1/condition_consts.go
  pkg/services/govmomi/service.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add v1alpha3/v1alpha4->v1beta1 clusterctl upgrade test
  .gitignore
  Makefile
  hack/e2e.sh
  test/e2e/capi_upgrade_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha3/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha4/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/base/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/base/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/base/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/base/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/remote-management/image-injection.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/remote-management/kustomization.yaml
  test/e2e/data/shared/metadata.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

wait for webhook readiness
  main.go
Due: none

Syncs the Owners file with the main branch
  OWNERS
  OWNERS_ALIASES
Due: none

handle nil vsphere machine for vsphere vm
  controllers/vspherevm_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Assign datacenter only if specified
  controllers/vspheredeploymentzone_controller_domain_test.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/vcenter/clone_test.go
  pkg/session/session.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add label and manager-name to tilt-provider.json
  tilt-provider.json
Due: none

bump govmomi to pickup finding Portgroups by ID
  go.mod
  go.sum
Due: none

add the supervisor-based APIs support caep
  docs/proposal/20211006-supervisor-based-apis.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

move datacenter defaulting to resource defaults
  api/v1beta1/types.go
  api/v1beta1/vspherefailuredomain_types.go
  api/v1beta1/vspherefailuredomain_webhook_test.go
  api/v1beta1/vspheremachine_webhook.go
  api/v1beta1/vspheremachine_webhook_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/webhook/manifests.yaml
  controllers/vspheredeploymentzone_controller_domain_test.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/vcenter/clone_test.go
  pkg/session/session.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

remove manager_name in tilt-provider.json
  tilt-provider.json
Due: none

fix aggressive reconciliation on task failures
  api/v1alpha3/vspherevm_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  controllers/vspherevm_controller.go
  pkg/services/govmomi/util.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

fix aggressive reconciliation on task failures
  api/v1alpha3/vspherevm_types.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha3/zz_generated.deepcopy.go
  api/v1alpha4/vspherevm_types.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  controllers/vspherevm_controller.go
  pkg/services/govmomi/util.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updates the kube-vip image path in templates
  packaging/flavorgen/flavors/generators.go
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha3/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha4/cluster-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Skipping clusterctl upgrade tests
  test/e2e/capi_upgrade_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

fix aggressive reconciliation on task failures
  api/v1alpha3/vspherevm_types.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha3/zz_generated.deepcopy.go
  api/v1alpha4/vspherevm_types.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1alpha4/zz_generated.deepcopy.go
  api/v1beta1/vspherevm_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  controllers/vspherevm_controller.go
  pkg/services/govmomi/util.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds logic for deletion of orphaned VSphereMachine
  controllers/vspherecluster_controller.go
  controllers/vspherecluster_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updates the kube-vip image path in templates
  packaging/flavorgen/flavors/generators.go
Due: none

replace ioutil with io and os
  pkg/manager/options.go
  pkg/manager/options_test.go
  test/e2e/log_collector.go
  test/helpers/envtest.go
  test/helpers/webhook.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

replace the deprecated ioutil with os and io for release-0.8
  pkg/manager/options.go
  pkg/manager/options_test.go
  test/e2e/log_collector.go
  test/helpers/envtest.go
  test/helpers/webhook.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

move datacenter defaulting to resource defaults
  api/v1alpha3/types.go
  api/v1alpha4/vspherefailuredomain_types.go
  api/v1alpha4/vspherefailuredomain_webhook_test.go
  api/v1alpha4/vspheremachine_webhook.go
  api/v1alpha4/vspheremachine_webhook_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/webhook/manifests.yaml
  controllers/vspheredeploymentzone_controller_domain_test.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/vcenter/clone_test.go
  pkg/session/session.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updates path of calico images in cni yaml
  test/e2e/data/cni/calico/calico.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update branch of cluster-api from master to main
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Enqueue VSphereMachine in clusterToVSphereMachines mapper
  controllers/vspheremachine_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh)
