Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)

review fixes
  test/e2e/clusterctl_upgrade_test.go
  test/framework/daemonset_helpers.go
  test/framework/image_preloading.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds links to CRD documentation on doc.crds.dev
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Drop codecov from PRs
  .github/workflows/cover.yaml
Due: none

review fixes
  test/e2e/clusterctl_upgrade_test.go
  test/framework/image_preloading.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

log io.Copy error
  test/framework/image_preloading.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fix typo
  test/framework/image_preloading.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Drop direct link to OVA in ignition.md
  docs/ignition.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Optimize dependabot config
  .github/dependabot.yml
Due: none

🌱 test: use a daemonset and kubectl exec to provide images to remote clusters (#2955)
  Makefile
  hack/e2e.sh
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/remote-management/image-injection.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/remote-management/kustomization.yaml
  test/framework/daemonset_helpers.go
  test/framework/image_preloading.go
  test/go.mod
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

controllers: fix ProviderServiceAccount tests to create objects on-demand
  controllers/serviceaccount_controller_intg_test.go
  controllers/servicediscovery_controller_intg_test.go
  internal/test/helpers/vmware/intg_test_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

🌱 test: use a daemonset and kubectl exec to provide images to remote clusters (#2955)
  .golangci.yml
  Makefile
  hack/e2e.sh
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/main/remote-management/image-injection.yaml
  test/e2e/data/infrastructure-vsphere/main/remote-management/kustomization.yaml
  test/framework/daemonset_helpers.go
  test/framework/image_preloading.go
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Remove logouts in keep alive handlers
  pkg/session/session.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Set terminationMessagePolicy to FallbackToLogsOnError for all managers
  config/manager/manager.yaml
  test/infrastructure/net-operator/config/manager/manager.yaml
  test/infrastructure/vcsim/config/manager/manager.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Remove keep alive feature
  controllers/vspherecluster_reconciler.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspherevm_controller.go
  main.go
  pkg/clustermodule/session.go
  pkg/constants/constants.go
  pkg/context/controller_manager_context.go
  pkg/manager/manager.go
  pkg/manager/options.go
  pkg/session/session.go
  pkg/session/session_test.go
  test/framework/vmoperator/vmoperator.go
  test/infrastructure/net-operator/controllers/networkinterface_controller.go
  test/infrastructure/net-operator/main.go
  test/infrastructure/vcsim/controllers/virtualmachine_controller.go
  test/infrastructure/vcsim/controllers/vmip_controller.go
  test/infrastructure/vcsim/controllers/vspherevm_controller.go
  test/infrastructure/vcsim/main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

hack: remove references to GCR_KEY_FILE
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

review fixes
  controllers/serviceaccount_controller_intg_test.go
  internal/test/helpers/vmware/intg_test_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Drop redundant e2e tests
  test/e2e/capi_machine_deployment_rollout_test.go
  test/e2e/md_scale_test.go
  test/e2e/node_drain_timeout_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

🌱 controllers: fix ProviderServiceAccount tests to create objects on-demand (#2983)
  controllers/serviceaccount_controller_intg_test.go
  controllers/servicediscovery_controller_intg_test.go
  internal/test/helpers/vmware/intg_test_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

🌱 controllers: fix ProviderServiceAccount tests to create objects on-demand (#2983)
  controllers/serviceaccount_controller_intg_test.go
  controllers/svcdiscovery_controller_intg_test.go
  test/helpers/vmware/intg_test_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

hack/e2e don't add binary files to artifacts and also censor base64 encoded values
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Document Kubernetes bump
  .github/ISSUE_TEMPLATE/release_tracking.md
  docs/release/release-tasks.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Add validating and mutating webhook config for supervisor mode
  Makefile
  config/base/kustomization.yaml
  config/default/kustomization.yaml
  config/govmomi/webhook/kustomization.yaml
  config/govmomi/webhook/kustomizeconfig.yaml
  config/govmomi/webhook/manifests.yaml
  config/govmomi/webhook/service.yaml
  config/govmomi/webhook/webhookcainjection_patch.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/supervisor/kustomization.yaml
  config/supervisor/webhook/kustomization.yaml
  config/supervisor/webhook/kustomizeconfig.yaml
  config/supervisor/webhook/manifests.yaml
  config/supervisor/webhook/service.yaml
  config/supervisor/webhook/webhookcainjection_patch.yaml
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
  internal/test/helpers/envtest.go
  internal/test/helpers/webhook.go
  internal/webhooks/util.go
  internal/webhooks/vmware/vspheremachine.go
  internal/webhooks/vmware/vspheremachine_test.go
  internal/webhooks/vsphereclustertemplate.go
  internal/webhooks/vspherefailuredomain.go
  internal/webhooks/vspheremachine.go
  internal/webhooks/vspheremachinetemplate.go
  internal/webhooks/vspherevm.go
  main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

add Go directive check as Makefile target
  Makefile
  hack/verify-go-directive.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

test: fix collector for machines not having an IP in status
  test/e2e/data/infrastructure-vsphere-govmomi/main/ignition/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/ignition/patch-user-kcp.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/ignition/patch-user-md.yaml
  test/e2e/e2e_suite_test.go
  test/framework/log/collector.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-blocking-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e
