Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210217-8c72491-1.18
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
      command:
      - hack/check-lint.sh

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - make
      - test

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
  ...

Fix CAPV component versions for upgrade tests
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/shared/metadata.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Refactor func and adds tests
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/util_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update CAPI e2e images to v1.1.0
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds MachineDeployment scale in/out E2E test
  test/e2e/md_scale_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds MachineHealthCheck remediation E2E tests
  .gitignore
  Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/mhc-remediation/kcp/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/mhc-remediation/kcp/mhc.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/mhc-remediation/kcp/vcpu.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/mhc-remediation/md/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/mhc-remediation/md/mhc-label.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/mhc-remediation/md/mhc.yaml
  test/e2e/mhc_remediation_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds node drain timeout e2e test
  .gitignore
  Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/node-drain/kcp-drain.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/node-drain/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/node-drain/md-drain.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/node-drain/vcpu.yaml
  test/e2e/node_drain_timeout_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Remove extra space in e2e image names
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

create new flavor to generate ClusterClass template
  packaging/flavorgen/flavors/generators.go
Due: none

create new flavor to generate ClusterClass template
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/cluster_class_generators.go
  packaging/flavorgen/flavors/env/envsubts_consts.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/util/helpers.go
Due: none

add clusterclass quick start test
  packaging/flavorgen/flavors/generators.go
  test/e2e/capv_clusterclass_quickstart_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/topology/cluster-template-topology.yaml
  test/e2e/data/infrastructure-vsphere/topology/clusterclass-quick-start.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add clusterclass quick start test
  .gitignore
  Makefile
  test/e2e/capv_clusterclass_quickstart_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/topology/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/topology/cluster-resource-set-csi-insecure.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/topology/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/topology/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/topology/cluster-template-topology-base.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/topology/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

create new flavor to generate ClusterClass template
  Makefile
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/clusterclass_generators.go
  packaging/flavorgen/flavors/clusterclass_helpers.go
  packaging/flavorgen/flavors/env/envsubts_consts.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/util/helpers.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add clusterclass quick start test
  Makefile
  packaging/flavorgen/cmd/root.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add clusterclass quick start test
  Makefile
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/clusterclass_generators.go
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/patches.go
  packaging/flavorgen/flavors/util/helpers.go
  test/e2e/capv_clusterclass_quickstart_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/commons/cluster-resource-set-csi-insecure.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/commons/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/topology/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds load restrictor flag to template gen
  test/e2e/data/infrastructure-vsphere/kustomization/commons/vcpu.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/mhc-remediation/kcp/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/mhc-remediation/kcp/vcpu.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/node-drain/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add GitHub Release Notes Generation to generate release notes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release.yaml
  Makefile
  clusterctl-settings.json
  github.com/kubernetes/cluster-api-provider-vsphere/apis/v1alpha3/zz_generated.conversion.go
  github.com/kubernetes/cluster-api-provider-vsphere/apis/v1alpha4/zz_generated.conversion.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

make clusterclass test non-pr-blocking
  test/e2e/capv_clusterclass_quickstart_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Replace GC_KIND variable with SKIP_RESOURCE_CLEANUP
  Makefile
  test/e2e/README.md
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

refractored find VM
  pkg/services/govmomi/util.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add USE_EXISTING_CLUSTER variable for e2e tests
  Makefile
  test/e2e/README.md
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

change references of master to main
  docs/development.md
  hack/release.sh
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell

Add missing 1.1 releaseseries data to metadata.yaml.
  metadata.yaml
Due: none

Adds info to update metadata.yaml
  docs/releasing.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Adds keepalive handler to test client
  go.mod
  go.sum
  test/e2e/config/vsphere-ci.yaml
  test/e2e/govmomi_test.go
  test/integration/data/shared/metadata.yaml
  test/integration/integration-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

README about flavors
  docs/flavors.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Add tests for the services/govmomi/extra package
  pkg/services/govmomi/extra/extra_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Refractored GetCredentials Method
  pkg/identity/identity.go
  pkg/identity/identity_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Removes usage of deprecated ObjecteMeta field
  pkg/util/machines.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

start reconcile normal test
  pkg/services/vimmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

check conditions to successfully perform a reconcile
  pkg/services/vimmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

reconcile normal test
  pkg/services/vimmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Proposal for GPU and PCI passthrough support
  docs/proposal/20210823-gpu-support.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update mdlint to v0.31.1
  Makefile
  hack/tools/mdlint/Dockerfile
  hack/tools/mdlint/Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add capw labels to machines for backward compatibility
  github.com/lubronzhan/cluster-api-provider-vsphere/apis/v1alpha3/zz_generated.conversion.go
  pkg/services/vmoperator/control_plane_endpoint.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

test for machine reconcile
  pkg/services/vimmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

delete legacy finalizer
  controllers/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler_test.go
  controllers/vsphereclusteridentity_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Remove the wronly committed file
  github.com/lubronzhan/cluster-api-provider-vsphere/apis/v1alpha3/zz_generated.conversion.go
Due: none

backport secret deletion fix to v1.0.0
  controllers/vspherecluster_controller.go
  controllers/vspherecluster_controller_test.go
  controllers/vsphereclusteridentity_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Impove tagsId field description
  apis/v1beta1/types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh)
