Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)

seedling: Able to export webhooks for external utilization
  main.go
  webhooks/alias.go
  webhooks/doc.go
  webhooks/vmware/alias.go
  webhooks/vmware/doc.go
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump golang.org/x/net to v0.38.0 to fix CVE
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to golangci-lint v1.60.2
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  controllers/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspherevm_ipaddress_reconciler.go
  test/framework/log/collector.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Ignore CVE-2025-22872 in trivy
  .trivyignore
Due: none

Bump to Go 1.23
  .golangci.yml
  .trivyignore
  Makefile
  hack/ensure-go.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

:seedling: Fix webhook structure names and descriptions
  controllers/vmware/test/controllers_test.go
  internal/test/helpers/envtest.go
  internal/webhooks/vmware/vspheremachine.go
  internal/webhooks/vmware/vspheremachine_test.go
  internal/webhooks/vmware/vspheremachinetemplate.go
  internal/webhooks/vmware/vspheremachinetemplate_test.go
  internal/webhooks/vsphereclustertemplate.go
  internal/webhooks/vspheredeploymentzone.go
  internal/webhooks/vspheredeploymentzone_test.go
  internal/webhooks/vspherefailuredomain.go
  internal/webhooks/vspherefailuredomain_test.go
  internal/webhooks/vspheremachine.go
  internal/webhooks/vspheremachine_test.go
  internal/webhooks/vspheremachinetemplate.go
  internal/webhooks/vspheremachinetemplate_test.go
  internal/webhooks/vspherevm.go
  internal/webhooks/vspherevm_test.go
  main.go
  webhooks/alias.go
  webhooks/vmware/alias.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

seedling: Fix webhook structure names and descriptions
  controllers/vmware/test/controllers_test.go
  internal/test/helpers/envtest.go
  internal/webhooks/vmware/vspheremachine.go
  internal/webhooks/vmware/vspheremachine_test.go
  internal/webhooks/vmware/vspheremachinetemplate.go
  internal/webhooks/vmware/vspheremachinetemplate_test.go
  internal/webhooks/vsphereclustertemplate.go
  internal/webhooks/vspheredeploymentzone.go
  internal/webhooks/vspheredeploymentzone_test.go
  internal/webhooks/vspherefailuredomain.go
  internal/webhooks/vspherefailuredomain_test.go
  internal/webhooks/vspheremachine.go
  internal/webhooks/vspheremachine_test.go
  internal/webhooks/vspheremachinetemplate.go
  internal/webhooks/vspheremachinetemplate_test.go
  internal/webhooks/vspherevm.go
  internal/webhooks/vspherevm_test.go
  main.go
  webhooks/alias.go
  webhooks/vmware/alias.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump govulncheck to v1.1.4
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

:seedling: Fix web-hook structure names and descriptions
  main.go
  webhooks/alias.go
  webhooks/vmware/alias.go
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPI in tests to main
  test/e2e/config/vsphere.yaml
  test/e2e/data/shared/capi/v1.10/metadata.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Migrate config and bump golangci lint to v2
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

linter fixes
  controllers/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler_test.go
  controllers/vspheremachine_controller_test.go
  packaging/flavorgen/flavors/clusterclass_generators.go
  pkg/services/govmomi/ipam/status_test.go
  test/e2e/multivc_test.go
  test/e2e/scale_test.go
  test/framework/ip/vcsim.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

🌱 Migrate config and bump golangci lint to v2 (#3469)
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  Makefile
  controllers/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler_test.go
  controllers/vspheremachine_controller_test.go
  packaging/flavorgen/flavors/clusterclass_generators.go
  pkg/services/govmomi/ipam/status_test.go
  test/e2e/multivc_test.go
  test/e2e/scale_test.go
  test/framework/ip/vcsim.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go 1.24 and CAPI Go dependencies
  .golangci.yml
  Makefile
  go.mod
  go.sum
  hack/ensure-go.sh
  packaging/go.mod
  packaging/go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

controllers: use deprecated paused pkg
  controllers/vmware/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

part1: use clusterv1.Cluster and Machine
  pkg/context/cluster_context.go
  pkg/context/interfaces.go
  pkg/context/machine_context.go
  pkg/context/vmware/cluster_context.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/util/testutil.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

controlplanev1 update to v1beta2 except test-extension
  controllers/clustermodule_reconciler.go
  controllers/clustermodule_reconciler_test.go
  packaging/flavorgen/flavors/clusterclass_generators.go
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/kubevip/kubevip.go
  packaging/flavorgen/flavors/kubevip/topology.go
  packaging/flavorgen/flavors/patches.go
  pkg/context/fake/fake_controller_manager_context.go
  pkg/manager/manager.go
  pkg/util/fetch_object.go
  pkg/util/fetch_object_test.go
  test/e2e/node_drain_test.go
  test/e2e/ownerrefs_finalizers_test.go
  test/extension/handlers/topologymutation/handler.go
  test/extension/main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

migrate Cluster .status.infrastructureReady to .status.initialization.infrastructureProvisioned
  controllers/vmware/serviceaccount_controller_intg_test.go
  controllers/vmware/servicediscovery_controller_intg_test.go
  controllers/vspheremachine_controller.go
  controllers/vspheremachine_controller_test.go
  internal/test/helpers/vmware/intg_test_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

migrate watches to v1beta2 cluster and machine and fixup predicate
  controllers/clustermodule_reconciler.go
  controllers/vmware/serviceaccount_controller.go
  controllers/vmware/servicediscovery_controller.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

controllers: fix check on cluster v1beta1 condition
  controllers/vspherecluster_reconciler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

test: vcsim: fixup clusterv1 to v1beta2
  test/infrastructure/vcsim/controllers/vmbootstrap_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

some more cluster/machine to v1beta2
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheremachine_controller.go
  pkg/services/interfaces.go
  pkg/services/vimmachine.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/util/machines.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fixup printf findings
  .golangci.yml
  controllers/clustermodule_reconciler.go
  controllers/vmware/serviceaccount_controller.go
  controllers/vmware/servicediscovery_controller.go
  controllers/vmware/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_domain.go
  controllers/vspherevm_controller.go
  controllers/vspherevm_ipaddress_reconciler.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
  pkg/services/network/nsxt_provider.go
  pkg/services/network/nsxt_vpc_provider.go
  pkg/services/vmoperator/control_plane_endpoint.go
  pkg/services/vmoperator/vmopmachine.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fixes
  controllers/clustermodule_reconciler.go
  controllers/vspheremachine_controller.go
  controllers/vspheremachine_controller_test.go
  internal/test/helpers/vmware/intg_test_context.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fix using local replace for tests
  controllers/vmware/test/controllers_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPI to 071d769879ff13ae358c82a6d267da97e13f05f6
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fixes
  packaging/flavorgen/flavors/clusterclass_generators.go
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

e2e: migrate main templates to v1beta2
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template-supervisor.yaml
  templates/cluster-template-topology-supervisor.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
  templates/clusterclass-template-supervisor.yaml
  templates/clusterclass-template.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/clusterclass/patch-prekubeadmscript.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/commons/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/mhc-remediation/kcp/mhc.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/mhc-remediation/md/mhc-label.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/mhc-remediation/md/mhc.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/node-drain/kcp-drain.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/node-drain/md-drain.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/clusterclass/patch-prekubeadmscript.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/commons/cluster-resource-set.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e
