Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile

redirect e2e.sh to ./scripts/e2e/e2e.sh
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

rename errorreason/message fields
  api/v1alpha3/vspheremachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  controllers/vspheremachine_controller.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

bump creation timeout to avoid flakes
  test/e2e/capv_test.go
Due: none

use CAPI's ControlPlaneCluster
  test/e2e/capv_test.go
Due: none

Update calico to 3.11 from 3.6. cni-plugin seems to hang sometimes on 3.6, used exact copy for simplicity of comparison.
  examples/default/addons.yaml
Due: none

bump workload client's timeout
  pkg/util/kubeclient.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add prow ssh public key
  Makefile
Due: pull-cluster-api-provider-vsphere-test

switch to centos
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

add shorter requeue time
  controllers/vspherecluster_controller.go
Due: none

bump creation timeout
  test/e2e/capv_test.go
Due: none

remove deploying workers to speedup CI
  test/e2e/capv_test.go
Due: none

Update addons.yaml
  examples/default/addons.yaml
Due: none

add failure domain api to the vsphere cluster
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add failure domains api to the vspheremachine
  api/v1alpha3/vspheremachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Add yastij (Yassine Tijani) to the cluster-api-vsphere-maintainers group
  OWNERS_ALIASES
Due: none

adding prow ssh key
  scripts/e2e/generate-e2e-spec.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

upgrade kube version to 1.16 for tests
  scripts/e2e/generate-e2e-spec.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

crd: Disable preservation of unknown fields in v1alpha2
  Makefile
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Backport clusterctl labels to CAPV components
  config/default/kustomization.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

bump csi version to the latest release
  examples/default/cluster/cluster.yaml
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

require CRD v1
  Dockerfile
  Makefile
  api/v1alpha2/vspherecluster_types.go
  api/v1alpha2/vspheremachine_types.go
  api/v1alpha2/vspheremachinetemplate_types.go
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/vspheremachine_types.go
  api/v1alpha3/vspheremachinetemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/util/kubeclient.go
  test/e2e/framework/control_plane.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update kustomize layout for webhook multi-tenancy
  config/certmanager/certificate.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/kustomization.yaml
  config/crd/kustomizeconfig.yaml
  config/crd/patches/cainjection_in_vsphereclusters.yaml
  config/crd/patches/cainjection_in_vspheremachines.yaml
  config/crd/patches/cainjection_in_vspheremachinetemplates.yaml
  config/crd/patches/webhook_in_vsphereclusters.yaml
  config/crd/patches/webhook_in_vspheremachines.yaml
  config/crd/patches/webhook_in_vspheremachinetemplates.yaml
  config/default/kustomization.yaml
  config/default/namespace.yaml
  config/kustomization.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manager/manager_auth_proxy_patch.yaml
  config/patch_crd_webhook_namespace.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manager_webhook_patch.yaml
  config/webhook/service.yaml
  config/webhook/webhookcainjection_patch.yaml
  test/e2e/e2e.conf
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

fix-clusterctl-settings.json
  clusterctl-settings.json
Due: none

check that vspheremachines are deleted before deleting the vspherecluster
  controllers/vspherecluster_controller.go
Due: none

update CAPI and CABPK dependencies
  examples/generate.sh
  go.mod
  go.sum
Due: pull-cluster-api-provider-vsphere-verify-shell

Add troubleshooting steps and scenarios for machine object stuck in provisioning state
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

update to capi rc-1
  go.mod
  go.sum
  pkg/util/kubeclient.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

remove capv-webhook-system namespaces
  config/webhook/kustomization.yaml
  config/webhook/namespace.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

tilt: Add tilt configuration
  .gitignore
  Makefile
  config/default/credentials.yaml
  config/default/kustomization.yaml
  config/default/manager_credentials_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/manager_webhook_patch.yaml
  config/webhook/manifests.yaml
  docs/development.md
  tilt-provider.json
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update OVA links in README
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

default kubeadmconfig's namespace to the machine namespace
  pkg/util/kubeadm.go
  pkg/util/kubeadm_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

always use the machine's namespace to fetch the kubeadmconfig
  pkg/util/kubeadm.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update to capi rc-2
  go.mod
  go.sum
Due: none

flavorgen: Adds a generator for clusterctl template flavors
  .gitignore
  Makefile
  README.md
  config/default/credentials.yaml
  config/default/kustomization.yaml
  config/default/manager_credentials_patch.yaml
  config/manager/kustomization.yaml
  config/manager/manager_image_patch.yaml
  config/manager/manager_pull_policy.yaml
  config/webhook/kustomization.yaml
  config/webhook/manager_webhook_patch.yaml
  config/webhook/manifests.yaml
  controllers/vspherecluster_controller.go
  docs/development.md
  docs/getting_started.md
  examples/default/addons.yaml
  go.mod
  go.sum
  hack/tools/Makefile
  main.go
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/helpers.go
  packaging/flavorgen/main.go
  pkg/manager/constants.go
  pkg/manager/manager.go
  pkg/manager/options.go
  test/e2e/README.md
  test/e2e/capv_component_generators.go
  test/e2e/suite_test.go
  tilt-provider.json
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

move the HAProxyLoadbalancer ownerRef from Cluster to VSphereCluster
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
Due: none

respect the paused field and annotations
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
Due: none
