Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-verify-gen:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - runner.sh
      args:
      - make
      - verify-gen

pull-cluster-api-provider-vsphere-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - make
      - test

pull-cluster-api-provider-vsphere-integration-test:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      securityContext:
        privileged: true
        capabilities:
          add:
          - NET_ADMIN
  ...

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

Remove NodeLabeling feature gate
  docs/proposal/node-affinity-and-anti-affinity.md
  feature/feature.go
  main.go
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

pkg/session fix used RoundTripper inside anonymous func for KeepAliveHandler
  pkg/session/session.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Return error on session creation if VCenter client not used
  pkg/services/govmomi/create.go
  pkg/services/govmomi/esxi/clone.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

hack/e2e.sh retry getting ipaddress object name
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Use pointer receiver consistently in vspheremachine controller
  controllers/vspheremachine_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Cleanup deleteFunc in VmopMachineService
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Automate GitHub release creation
  .github/workflows/release.yaml
  .gitignore
  Makefile
  docs/releasing.md
  go.mod
  go.sum
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

new generated template-files added, Thumbprint and Insecure-Flag is now being set
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-gen

Added VSphereInsecure to the envs
  packaging/flavorgen/flavors/env/envsubts_consts.go
Due: pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

Removed Insecure-Flag changes, keeping Thumbprint passing and added Thumbprint passing to node-ipam-template
  packaging/flavorgen/flavors/crs/csi.go
  packaging/flavorgen/flavors/env/envsubts_consts.go
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha4/cluster-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Added Thumbprint and Insecure configuration for the csi-driver
  packaging/flavorgen/flavors/crs/csi.go
Due: pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

Removed Insecure-Flag changes, keeping Thumbprint passing and added Thumbprint passing to node-ipam-template
  packaging/flavorgen/flavors/crs/csi.go
  packaging/flavorgen/flavors/env/envsubts_consts.go
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

Remove v1alpha4 roadmap
  docs/proposal/20220907-node-affinity-and-anti-affinity.md
  docs/roadmap/v1alpha4.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Updates CI template to k8s 1.27.3
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Automate GitHub release creation
  .github/workflows/release.yaml
  .gitignore
  Makefile
  controllers/vmware/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_test.go
  docs/releasing.md
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Automate GitHub release creation
  .github/workflows/release.yaml
  .github/workflows/verify-pr.yml
  .gitignore
  Makefile
  controllers/vmware/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_test.go
  docs/releasing.md
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump docker to v24.0.5
  go.mod
  go.sum
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

OWNERS: Refresh of owners as per meeting of 2023/06/22
  OWNERS
  OWNERS_ALIASES
Due: none

Improve fd selection logic
  controllers/vspherecluster_reconciler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump golangci-lint to v1.53.3
  .github/workflows/golangci-lint.yaml
  .golangci.yml
  Makefile
  hack/tools/Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump golangci-lint to v1.53.3
  .github/workflows/golangci-lint.yaml
  .golangci.yml
  Makefile
  controllers/clustermodule_reconciler.go
  controllers/serviceaccount_controller.go
  controllers/servicediscovery_controller.go
  controllers/vmware/test/controllers_test.go
  controllers/vmware/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  main.go
  pkg/clustermodule/service.go
  pkg/services/govmomi/esxi/clone.go
  pkg/services/network/dummy_provider.go
  pkg/services/network/netop_provider.go
  pkg/services/vmoperator/control_plane_endpoint_test.go
  test/e2e/log_collector.go
  test/helpers/envtest.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump golangci-lint to v1.53.3
  .github/workflows/golangci-lint.yaml
  .golangci.yml
  Makefile
  apis/v1beta1/vspherefailuredomain_webhook_test.go
  apis/v1beta1/vspheremachine_webhook_test.go
  apis/v1beta1/vspherevm_webhook_test.go
  controllers/clustermodule_reconciler.go
  controllers/clustermodule_reconciler_test.go
  controllers/serviceaccount_controller.go
  controllers/servicediscovery_controller.go
  controllers/vmware/test/controllers_test.go
  controllers/vmware/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  main.go
  pkg/clustermodule/service.go
  pkg/services/govmomi/esxi/clone.go
  pkg/services/network/dummy_provider.go
  pkg/services/network/netop_provider.go
  pkg/services/vmoperator/control_plane_endpoint_test.go
  test/e2e/log_collector.go
  test/helpers/envtest.go
  test/integration/integration_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Remove go module in hack/tools and align to core CAPI with regards to tools installation.
  Makefile
  hack/go-tools-build.sh
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPI to v1.5.0
  Makefile
  go.mod
  go.sum
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/integration/integration-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

[CI] Bump setup-envtest
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
