Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)

Add verify-govulncheck target and integrate to scan action
  .github/workflows/weekly-image-scan.yaml
  .github/workflows/weekly-security-scan.yaml
  Makefile
  docs/release/release-tasks.md
  hack/verify-container-images.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add verify-govulncheck target and integrate to scan action
  .github/workflows/scan.yaml
  .github/workflows/weekly-security-scan.yaml
  Makefile
  hack/verify-container-images.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Use shellcheck binary instead of self-built docker image
  Makefile
  hack/check-shell.sh
  hack/match-release-tag.sh
  hack/tools/shellcheck/Dockerfile
  hack/tools/shellcheck/shellcheck.sh
  hack/utils.sh
  hack/verify-shellcheck.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

CI: add annotation with prowjob name and id to ipclaims
  Makefile
  hack/e2e.sh
  hack/ipclaim-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Remove direct dependency to github.com/hashicorp/go-version
  go.mod
  go.sum
  pkg/util/networkutil.go
  pkg/util/networkutil_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Grouped CI related cherry-picks
  Makefile
  hack/check-shell.sh
  hack/match-release-tag.sh
  hack/tools/shellcheck/Dockerfile
  hack/tools/shellcheck/shellcheck.sh
  hack/utils.sh
  hack/verify-shellcheck.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Enable powerOffMode trySoft in cluster-templates and CI
  Makefile
  packaging/flavorgen/flavors/generators.go
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template.yaml
  templates/clusterclass-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump golangci-lint to v1.54.1
  .github/workflows/pr-golangci-lint.yaml
Due: none

Fix link in CONTRIBUTING.md
  CONTRIBUTING.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fix broken links in markdown
  docs/proposal/20201103-failure-domain.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fix broken links in markdown
  CONTRIBUTING.md
  docs/proposal/20201103-failure-domain.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

docs: update k8s-triage link to one which catches all jobs
  docs/release/release-tasks.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Set base branch correctly for link checker
  .github/workflows/pr-md-link-check.yaml
Due: none

Add task to update mdlink check config for branches
  docs/release/release-tasks.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Makefile: migrate lint-markdownlint to upstream provided image and markdownlint-cli2
  .github/.markdownlint-cli2.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/release_tracking.md
  .markdownlint-cli2.yaml
  .markdownlintrc
  CONTRIBUTING.md
  Makefile
  README.md
  docs/getting_started.md
  docs/gpu-pci.md
  docs/proposal/20211006-supervisor-based-apis.md
  docs/proposal/20220907-node-affinity-and-anti-affinity.md
  hack/markdownlint-sync-image.sh
  hack/tools/mdlint/Dockerfile
  hack/tools/mdlint/Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Improve API package dependencies on controller-runtime
  apis/v1alpha3/groupversion_info.go
  apis/v1alpha3/haproxyloadbalancer_types.go
  apis/v1alpha3/vspherecluster_types.go
  apis/v1alpha3/vsphereclusteridentity_types.go
  apis/v1alpha3/vspheredeploymentzone_types.go
  apis/v1alpha3/vspherefailuredomain_types.go
  apis/v1alpha3/vspheremachine_types.go
  apis/v1alpha3/vspheremachinetemplate_types.go
  apis/v1alpha3/vspherevm_types.go
  apis/v1alpha3/zz_generated.deepcopy.go
  apis/v1alpha4/groupversion_info.go
  apis/v1alpha4/vspherecluster_types.go
  apis/v1alpha4/vsphereclusteridentity_types.go
  apis/v1alpha4/vsphereclustertemplate_types.go
  apis/v1alpha4/vspheredeploymentzone_types.go
  apis/v1alpha4/vspherefailuredomain_types.go
  apis/v1alpha4/vspheremachine_types.go
  apis/v1alpha4/vspheremachinetemplate_types.go
  apis/v1alpha4/vspherevm_types.go
  apis/v1alpha4/zz_generated.deepcopy.go
  apis/v1beta1/groupversion_info.go
  apis/v1beta1/vspherecluster_types.go
  apis/v1beta1/vsphereclusteridentity_types.go
  apis/v1beta1/vsphereclustertemplate_types.go
  apis/v1beta1/vspheredeploymentzone_types.go
  apis/v1beta1/vspherefailuredomain_types.go
  apis/v1beta1/vspheremachine_types.go
  apis/v1beta1/vspheremachinetemplate_types.go
  apis/v1beta1/vspherevm_types.go
  apis/vmware/v1beta1/groupversion_info.go
  apis/vmware/v1beta1/providerserviceaccount_types.go
  apis/vmware/v1beta1/vspherecluster_types.go
  apis/vmware/v1beta1/vsphereclustertemplate_types.go
  apis/vmware/v1beta1/vspheremachine_types.go
  apis/vmware/v1beta1/vspheremachinetemplate_types.go
  apis/vmware/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-vsphere-verify-gen

Bump controller tools to v1.13.0
  Makefile
  apis/v1alpha3/zz_generated.deepcopy.go
  apis/v1alpha4/zz_generated.deepcopy.go
  apis/v1beta1/zz_generated.deepcopy.go
  apis/vmware/v1beta1/zz_generated.deepcopy.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusteridentities.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheredeploymentzones.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_clustervirtualmachineimages.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentlibraryproviders.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentsourcebindings.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentsources.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclassbindings.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclasses.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineimages.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachinepublishrequests.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachines.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineservices.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachinesetresourcepolicies.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachinewebconsolerequests.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_webconsolerequests.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update CI vsphere template to k8s 1.28.0 and ova links
  README.md
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Makefile: remove markdownlint and move golangci-lint to lint target
  .dockerignore
  .markdownlintrc
  Makefile
  hack/check-format.sh
  hack/check-lint.sh
  hack/check-mdlint.sh
  hack/check-vet.sh
  hack/tools/mdlint/Dockerfile
  hack/tools/mdlint/Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

github: add workflow to auto-approve golangci-lint if ok-to-test label is set
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none
