Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-apidiff-main:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/ci-apidiff.sh
      resources:
        limits:
          cpu: 2
          memory: 3Gi
        requests:
          cpu: 2
  ...

pull-cluster-api-provider-vsphere-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi
      command:
      - runner.sh
      args:
      - make
      - test-junit

pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-gcve-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
  ...

pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-gcve-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
  ...

pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-provider-vsphere-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

Create VMG when VSphereMachine count >= MD replicas
  controllers/vmware/virtualmachinegroup_reconciler.go
  controllers/vmware/virtualmachinegroup_reconciler_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Start testing with Kubernetes v1.36.0-rc.0
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fix CVE-2026-39883
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

ignore CVE-2026-39883
  .trivyignore
Due: none

Support vlan-subinterface based on VirtualMachine implementation
  api/supervisor/v1beta1/vspheremachine_types.go
  api/supervisor/v1beta1/zz_generated.conversion.go
  api/supervisor/v1beta1/zz_generated.deepcopy.go
  api/supervisor/v1beta2/vspheremachine_types.go
  api/supervisor/v1beta2/zz_generated.deepcopy.go
  config/manager/manager.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  feature/feature.go
  go.mod
  go.sum
  internal/webhooks/vmware/vspheremachine.go
  main.go
  packaging/go.sum
  pkg/conversion/api/converter.go
  pkg/conversion/api/vmoperator/hub/virtualmachine_network_types.go
  pkg/conversion/api/vmoperator/hub/virtualmachine_storage_types.go
  pkg/conversion/api/vmoperator/hub/virtualmachinegroup_types.go
  pkg/conversion/api/vmoperator/hub/zz_generated.deepcopy.go
  pkg/conversion/api/vmoperator/v1alpha2/conversion_test.go
  pkg/conversion/api/vmoperator/v1alpha5/conversion_test.go
  pkg/conversion/api/vmoperator/v1alpha5/virtualmachinegroup_conversion.go
  pkg/conversion/api/vmoperator/v1alpha6/doc.go
  pkg/conversion/api/vmoperator/v1alpha6/groupversion_info.go
  pkg/conversion/api/vmoperator/v1alpha6/virtualmachine_conversion.go
  pkg/conversion/api/vmoperator/v1alpha6/virtualmachineclass_conversion.go
  pkg/conversion/api/vmoperator/v1alpha6/virtualmachinegroup_conversion.go
  pkg/conversion/api/vmoperator/v1alpha6/virtualmachineimage_conversion.go
  pkg/conversion/api/vmoperator/v1alpha6/virtualmachineservice_conversion.go
  pkg/conversion/api/vmoperator/v1alpha6/virtualmachinesetresourcepolicy_conversion.go
  pkg/manager/manager.go
  pkg/services/network/netop_provider.go
  pkg/services/network/nsxt_vpc_provider.go
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CPI to v1.36.0-rc.0
  packaging/flavorgen/cloudprovider/cpi/cpi.yaml
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump dependencies
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPI v1.13.0-rc.1
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Start testing with Kubernetes v1.36.0-rc.1
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Improve vm-operator versioning semantic
  Makefile
  test/infrastructure/vcsim/config/crd/vm-operator/9-1/kustomization.yaml
  test/infrastructure/vcsim/config/crd/vm-operator/vm-operator-9.1.yaml
  test/infrastructure/vcsim/tilt-provider.yaml
  test/infrastructure/vm-operator/config/8-0/.gitignore
  test/infrastructure/vm-operator/config/8-0/external-crds/cnsnodevmattachment-crd.yaml
  test/infrastructure/vm-operator/config/8-0/external-crds/imageregistry.vmware.com_clustercontentlibraryitems.yaml
  test/infrastructure/vm-operator/config/8-0/external-crds/imageregistry.vmware.com_contentlibraryitems.yaml
  test/infrastructure/vm-operator/config/8-0/external-crds/netoperator.vmware.com_networkinterfaces.yaml
  test/infrastructure/vm-operator/config/8-0/kustomization.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-drop-certs-volume.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-env-var-patch.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-host-network.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-pull-policy.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-replicas.yaml
  test/infrastructure/vm-operator/config/9-1/.gitignore
  test/infrastructure/vm-operator/config/9-1/external-crds/README.md
  test/infrastructure/vm-operator/config/9-1/external-crds/cns.vmware.com_cnsnodevmattachments.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/cns.vmware.com_storagepolicyquotas.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/cns.vmware.com_storagepolicyusages.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/imageregistry.vmware.com_clustercontentlibraryitems.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/imageregistry.vmware.com_contentlibraryitems.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/netoperator.vmware.com_networkinterfaces.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/topology.tanzu.vmware.com_availabilityzones.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/topology.tanzu.vmware.com_zones.yaml
  test/infrastructure/vm-operator/config/9-1/kustomization.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-args-patch.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-drop-certs-volume.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-env-var-patch.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-host-network.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-pull-policy.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-replicas.yaml
  test/infrastructure/vm-operator/vm-operator-8.0.yaml
  test/infrastructure/vm-operator/vm-operator-9.1.yaml
  tilt-provider.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Address comments
  hack/e2e.sh
  test/e2e/config/vsphere.yaml
  test/e2e/data/shared/vmoperator/8.0/metadata.yaml
  test/e2e/data/shared/vmoperator/9.1/metadata.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/vm-operator-8.0.yaml
  test/infrastructure/vm-operator/vm-operator-9.1.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix CI
  Makefile
  config/supervisor-tilt/metrics/kustomization.yaml
  config/supervisor-tilt/metrics/namespace.yaml
  test/e2e/config/vsphere.yaml
  test/e2e/data/shared/vmoperator/8.0/metadata.yaml
  test/e2e/data/shared/vmoperator/9.1/metadata.yaml
  test/infrastructure/vcsim/config/crd/vm-operator/9.1/kustomization.yaml
  test/infrastructure/vcsim/tilt-provider.yaml
  test/infrastructure/vm-operator/config/8.0/.gitignore
  test/infrastructure/vm-operator/config/8.0/external-crds/cnsnodevmattachment-crd.yaml
  test/infrastructure/vm-operator/config/8.0/external-crds/imageregistry.vmware.com_clustercontentlibraryitems.yaml
  test/infrastructure/vm-operator/config/8.0/external-crds/imageregistry.vmware.com_contentlibraryitems.yaml
  test/infrastructure/vm-operator/config/8.0/external-crds/netoperator.vmware.com_networkinterfaces.yaml
  test/infrastructure/vm-operator/config/8.0/kustomization.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-drop-certs-volume.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-env-var-patch.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-host-network.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-pull-policy.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-replicas.yaml
  test/infrastructure/vm-operator/config/9.1/.gitignore
  test/infrastructure/vm-operator/config/9.1/external-crds/README.md
  test/infrastructure/vm-operator/config/9.1/external-crds/cns.vmware.com_cnsnodevmattachments.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/cns.vmware.com_storagepolicyquotas.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/cns.vmware.com_storagepolicyusages.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/imageregistry.vmware.com_clustercontentlibraryitems.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/imageregistry.vmware.com_contentlibraryitems.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/netoperator.vmware.com_networkinterfaces.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/topology.tanzu.vmware.com_availabilityzones.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/topology.tanzu.vmware.com_zones.yaml
  test/infrastructure/vm-operator/config/9.1/kustomization.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-args-patch.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-drop-certs-volume.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-env-var-patch.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-host-network.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-pull-policy.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-replicas.yaml
  tilt-provider.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Drop jobs on release-1.14
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-security-scan.yaml
  .github/workflows/weekly-test-release.yaml
Due: none

Bump CAPI v1.13.0+
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Start testing with Kubernetes v1.36.0
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump-gcb-docker-gcloud
  cloudbuild-nightly.yaml
  cloudbuild.yaml
Due: none

Start testing against Kubernetes v1.37
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CPI to v1.36.0
  packaging/flavorgen/cloudprovider/cpi/cpi.yaml
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump vm-operator latest version and align with new API changes
  go.mod
  go.sum
  packaging/go.sum
  pkg/conversion/api/vmoperator/hub/virtualmachine_storage_types.go
  pkg/conversion/api/vmoperator/hub/virtualmachinegroup_types.go
  pkg/conversion/api/vmoperator/hub/zz_generated.deepcopy.go
  pkg/conversion/api/vmoperator/v1alpha2/conversion_test.go
  pkg/conversion/api/vmoperator/v1alpha2/virtualmachine_conversion.go
  pkg/conversion/api/vmoperator/v1alpha2/virtualmachinegroup_conversion.go
  pkg/conversion/api/vmoperator/v1alpha5/virtualmachine_conversion.go
  pkg/conversion/api/vmoperator/v1alpha5/virtualmachinegroup_conversion.go
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Start using 1.36 OVA
  internal/test/helpers/vcsim/model.go
  test/e2e/config/config-overrides-example.yaml
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/clusterclass/patch-vsphere-template.yaml
  test/extension/handlers/topologymutation/handler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
