Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

pull-cluster-api-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-format.sh

pull-cluster-api-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-lint.sh

pull-cluster-api-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-vet.sh

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-test:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - ./scripts/ci-test.sh

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
    preset-cluster-api-provider-vsphere-e2e-creds: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
  ...

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

re-apply the conccurent clones fix
  controllers/vspherevm_controller.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add support for the kube-vip flavor
  Makefile
  go.mod
  go.sum
  hack/tools/go.sum
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  test/e2e/e2e_conf.yaml
Due: pull-cluster-api-provider-vsphere-test

Update cluster-api to v0.3.7
  go.mod
  go.sum
  hack/tools/go.sum
Due: pull-cluster-api-provider-vsphere-test

replace featuregate flags to fix the e2e
  hack/e2e.sh
  test/e2e/e2e.conf
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

add kube-vip support to CAPV
  Makefile
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/role.yaml
  config/webhook/role_binding.yaml
  config/webhook/webhookcainjection_patch.yaml
  go.sum
  kube-vip/kubeadmconfig/kubeadmconfig_webhook.go
  kube-vip/kubeadmconfig/util/util.go
  main.go
  pkg/manager/manager.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Refactor e2e tests to utilize the new CAPI test framework
  go.mod
  go.sum
  test/e2e_new/capv_quick_start_test.go
  test/e2e_new/common.go
  test/e2e_new/config/vsphere-dev.yaml
  test/e2e_new/data/cni/calico/calico.yaml
  test/e2e_new/data/cni/kindnet/kindnet.yaml
  test/e2e_new/data/infrastructure-vsphere/cluster-template.yaml
  test/e2e_new/e2e_suite_test.go
Due: none

Update controller-tools version
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-vsphere-test

Fix for lint errors
  test/e2e_new/capv_quick_start_test.go
  test/e2enew/capv_quick_start_test.go
  test/e2enew/common.go
  test/e2enew/config/vsphere-dev.yaml
  test/e2enew/data/cni/calico/calico.yaml
  test/e2enew/data/cni/kindnet/kindnet.yaml
  test/e2enew/data/infrastructure-vsphere/cluster-template.yaml
  test/e2enew/e2e_suite_test.go
Due: none

Move e2e to e2e-new
  Makefile
  hack/e2e.sh
  hack/tools/go.sum
  test/e2e/capv_quick_start_test.go
  test/e2e/capv_resource_generators.go
  test/e2e/capv_test.go
  test/e2e/capv_test_utils.go
  test/e2e/common.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/cni/calico/calico.yaml
  test/e2e/data/cni/kindnet/kindnet.yaml
  test/e2e/data/infrastructure-vsphere/cluster-template.yaml
  test/e2e/e2e.conf
  test/e2e/e2e_suite_test.go
  test/e2e/framework/control_plane.go
  test/e2e/govmomi_test.go
  test/e2e/kind/kind.go
  test/e2e/suite_test.go
  test/e2enew/common.go
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Use generated manifest for e2e
  Makefile
  test/e2e/data/infrastructure-vsphere/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-test

add support for validating webhooks
  api/v1alpha3/types.go
  api/v1alpha3/vspheremachine_webhook.go
  api/v1alpha3/vspheremachinetemplate_webhook.go
  api/v1alpha3/vspherevm_webhook.go
  api/v1alpha3/webhooks.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/webhookcainjection_patch.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add tests for validating webhooks
  api/v1alpha3/vspheremachine_webhook_test.go
  api/v1alpha3/vspheremachinetemplate_webhooks_test.go
  api/v1alpha3/vspherevm_webhook_test.go
Due: none

fix validating webhooks to avoid breaking clusterctl move
  .golangci.yml
  api/v1alpha3/vspheremachine_webhook.go
  api/v1alpha3/vspheremachine_webhook_test.go
  api/v1alpha3/vspherevm_webhook.go
  api/v1alpha3/vspherevm_webhook_test.go
Due: none

add support for the kube-vip flavor
  Makefile
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-test

wait for static-ip in VSphereVM when dhcp is disabled
  controllers/vspherevm_controller.go
  pkg/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

keep testing on the HAProxy flavour until we figure infrastructure for VIP testing
  Makefile
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-test

fix boilerplate on tests
  api/v1alpha3/vspheremachine_webhook_test.go
  api/v1alpha3/vspheremachinetemplate_webhooks_test.go
  api/v1alpha3/vspherevm_webhook_test.go
  api/v1alpha3/webhooks.go
Due: none

relax constraints on the validating webhooks to update ips
  api/v1alpha3/vspheremachine_webhook.go
  api/v1alpha3/vspheremachine_webhook_test.go
  api/v1alpha3/vspherevm_webhook.go
  api/v1alpha3/vspherevm_webhook_test.go
Due: none

install CSI - adding binding after rebasing
  controllers/vspherecluster_controller.go
  go.mod
  go.sum
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  pkg/services/cloudprovider/csi.go
  test/e2e/data/infrastructure-vsphere/cluster-template-haproxy.yaml
  test/e2e/junit.e2e_suite.1.xml
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Adds git version to start of controller logs
  Dockerfile
  Makefile
  hack/version.sh
  main.go
  pkg/version/version.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

wait to have IP addresses reported before making a VSphereVM as ready
  controllers/vspherevm_controller.go
Due: none

rebased external-loadbalancer
  Makefile
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/flavors.go
Due: pull-cluster-api-provider-vsphere-test

docs: Add notes on how to do a new release.
  docs/releasing.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

bump kube-vip to 0.1.7
  packaging/flavorgen/flavors/generators.go
Due: none

add quotes around username/password
  config/default/credentials.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Uses CRS to deploy CSI for default flavour
  controllers/vspherecluster_controller.go
  go.mod
  go.sum
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/helpers.go
  pkg/services/cloudprovider/csi.go
  test/e2e/data/infrastructure-vsphere/cluster-template-haproxy.yaml
  test/e2e/data/infrastructure-vsphere/cluster-template.yaml
  test/e2e/junit.e2e_suite.1.xml
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

hardcode network interface to eth0
  packaging/flavorgen/flavors/generators.go
Due: none

add docs for v0.7.0
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

update mdlint to v0.23.2
  Makefile
  README.md
  hack/tools/mdlint/Dockerfile
  hack/tools/mdlint/Makefile
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fix CSI installation for non default templates
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
Due: none

small fixes to getting started page
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

skip dhcp flags in cloudinit metadata when both are set to false
  pkg/util/constants.go
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

check the description before using it in a condition
  pkg/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

let deletion go through when a folder's VSphereVM doesn't exist
  pkg/services/govmomi/errors.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

bump cloud provider vsphere version to 1.2.0
  examples/default/cluster/cluster.yaml
  packaging/flavorgen/flavors/generators.go
  pkg/services/cloudprovider/cloud-controller-manager.go
  test/e2e/data/infrastructure-vsphere/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Revert "bump vSphere cloud provider version to 1.2.0"
  examples/default/cluster/cluster.yaml
  packaging/flavorgen/flavors/generators.go
  pkg/services/cloudprovider/cloud-controller-manager.go
  test/e2e/data/infrastructure-vsphere/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add SKIP_NODE_DELETION to skip node deletion on node startup
  pkg/services/cloudprovider/cloud-controller-manager.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

relax the validating webhooks to allow updating the bootstrapRef of VSphereVMs
  api/v1alpha3/vspherevm_webhook.go
  api/v1alpha3/vspherevm_webhook_test.go
Due: none

fix broken link to OVA
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fix OVA table
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile
