Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile

update default Kubernetes version in docs to v1.16.2
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

remove -u from generate manifests usage output
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Update CAPBK to v0.1.5
  examples/generate.sh
  go.mod
  go.sum
Due: pull-cluster-api-provider-vsphere-verify-shell

Add CAPV image disclaimer
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Cluster API 0.2.7
  examples/generate.sh
  go.mod
  go.sum
  scripts/e2e/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Update e2e pre-submit machine image version
  scripts/e2e/generate-e2e-spec.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Adds some troubleshooting for CA related issues that have cropped up a few times.
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Moved from stackpoint-public to nks-images (#37)
  Jenkinsfile
Due: none

Fix lint errors.
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Bump default golang version to 1.12.10 to address CVE-2019-16276
  Dockerfile
  scripts/e2e/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Passing nks username to vsphere
  pkg/cloud/vsphere/context/machine_context.go
  pkg/cloud/vsphere/services/govmomi/tags/nks-tags.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Simplify package layout
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  main.go
  pkg/config/config.go
  pkg/constants/constants.go
  pkg/context/cluster_context.go
  pkg/context/machine_context.go
  pkg/context/session.go
  pkg/services/cloudprovider/cloud-controller-manager.go
  pkg/services/cloudprovider/csi.go
  pkg/services/govmomi/constants.go
  pkg/services/govmomi/create.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/esxi/clone.go
  pkg/services/govmomi/extra/config.go
  pkg/services/govmomi/net/net.go
  pkg/services/govmomi/net/net_test.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/template/template.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/vcenter/clone.go
  pkg/services/interfaces.go
  pkg/util/constants.go
  pkg/util/kubeadm.go
  pkg/util/kubeadm_test.go
  pkg/util/kubeclient.go
  pkg/util/machines.go
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Remove vestigial NTP & Trusted CA fields
  api/v1alpha2/cloudprovider/zz_generated.deepcopy.go
  api/v1alpha2/vspheremachine_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Remove vestigial tokens package
  pkg/tokens/tokens.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Support custom build release types
  hack/release.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Remove moRef & query VMs with providerID
  api/v1alpha2/types.go
  api/v1alpha2/vspheremachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  controllers/vspheremachine_controller.go
  docs/design/machine-controller-reconcile.puml
  docs/design/machine-controller-reconcile.svg
  pkg/context/session.go
  pkg/services/govmomi/context.go
  pkg/services/govmomi/errors.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
  pkg/util/machines.go
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Completed vSphere Validation Library and _test
  pkg/util/validate.go
  pkg/util/validate_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Refactor context package
  controllers/suite_test.go
  controllers/vspherecluster_controller.go
  controllers/vspherecluster_controller_test.go
  controllers/vspheremachine_controller.go
  controllers/vspheremachine_controller_test.go
  main.go
  pkg/context/cluster_context.go
  pkg/context/controller_context.go
  pkg/context/controller_manager_context.go
  pkg/context/fake/constants.go
  pkg/context/fake/fake_cluster_context.go
  pkg/context/fake/fake_controller_context.go
  pkg/context/fake/fake_controller_manager_context.go
  pkg/context/fake/fake_machine_context.go
  pkg/context/machine_context.go
  pkg/manager/constants.go
  pkg/manager/manager.go
  pkg/manager/options.go
  pkg/record/recorder.go
  pkg/record/recorder_suite_test.go
  pkg/record/recorder_test.go
  pkg/services/cloudprovider/csi.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/template/template.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/vcenter/clone.go
  pkg/session/session.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Completed vSphere Validation Library and _test + Addressed golint errors
  pkg/util/validate.go
  pkg/util/validate_test.go
  pkg/validate/validate.go
  pkg/validate/validate_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Remove unused var
  controllers/vspheremachine_controller.go
Due: none

Document the API endpoint discovery process
  docs/design/api-endpoint-discovery.puml
  docs/design/api-endpoint-discovery.svg
Due: none

Fixes error when using -P flag with generator
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

restore machine deletion
  controllers/vspheremachine_controller.go
Due: none

Reconcile based on task completion
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  go.mod
  pkg/context/controller_manager_context.go
  pkg/manager/manager.go
  pkg/services/govmomi/context.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/vcenter/clone.go
  pkg/util/machines.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update golangci-lint to newer version
  .golangci.yml
  controllers/vspheremachine_controller.go
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-vsphere-test

Increase golang-ci timeout to 5m
  .golangci.yml
Due: none

Update OVA links in README
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

add v1alpha3 types
  PROJECT
  api/v1alpha3/cloudprovider/doc.go
  api/v1alpha3/cloudprovider/encoding.go
  api/v1alpha3/cloudprovider/encoding_test.go
  api/v1alpha3/cloudprovider/types.go
  api/v1alpha3/cloudprovider/zz_generated.deepcopy.go
  api/v1alpha3/doc.go
  api/v1alpha3/groupversion_info.go
  api/v1alpha3/types.go
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/vspheremachine_types.go
  api/v1alpha3/vspheremachinetemplate_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update manifest base to git 2.20, kustomize 3.5.1
  hack/tools/manifests-base/Dockerfile
  hack/tools/manifests-base/Makefile
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update manifest image to use new manifest-base
  hack/tools/generate-yaml/Dockerfile
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Implement the CAPI e2e framework for CAPV
  .dockerignore
  Dockerfile
  Makefile
  api/v1alpha3/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/manager/manager.yaml
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  docs/testing.md
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/services/govmomi/service.go
  test/e2e/capv_component_generators.go
  test/e2e/capv_resource_generators.go
  test/e2e/capv_test.go
  test/e2e/docker/docker.go
  test/e2e/framework/framework_flags.go
  test/e2e/framework/machine_deployment.go
  test/e2e/framework/management_cluster.go
  test/e2e/framework/single_node_control_plane.go
  test/e2e/govmomi_test.go
  test/e2e/kind/kind.go
  test/e2e/suite_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Move the e2e test docs
  test/e2e/README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Addendum to previous commit
  docs/testing.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

use equate-empty in comparing machine status
  controllers/vspheremachine_controller.go
Due: none

Add warning to getting started guide to carefully handle the .ova suffix
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Addressed review comments
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Support a control plane endpoint annotation f v1a2
  api/v1alpha2/types.go
  controllers/vspherecluster_controller.go
Due: none

Cluster API 0.2.8
  examples/generate.sh
  go.mod
  go.sum
  scripts/e2e/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

vSphere cloud provider 1.1.0
  docs/getting_started.md
  examples/default/cluster/cluster.yaml
  pkg/services/cloudprovider/cloud-controller-manager.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy
