Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210217-8c72491-1.18
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
      command:
      - hack/check-lint.sh

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - make
      - test

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20201030-4553f14-1.18
  ...

Enqueue VSphereMachine in clusterToVSphereMachines mapper
  controllers/vspheremachine_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Watch Cluster object for updates to the InfrastructureReady field
  controllers/vspheremachine_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update usage logic for Machine.Spec.FailureDomain
  controllers/vspheremachine_controller.go
  controllers/vspheremachine_controller_unit_test.go
  controllers/vspherevm_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

updated to kube-vip v0.4.0
  packaging/flavorgen/flavors/generators.go
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha3/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha4/cluster-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds deletion logic for VSphereDeploymentZones
  api/v1beta1/vspheredeploymentzone_types.go
  controllers/controllers_suite_test.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_test.go
  controllers/vspherevm_controller.go
  pkg/util/machines.go
  pkg/util/machines_test.go
  test/helpers/envtest.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Implements conversion for FailureDomain types
  api/v1alpha3/vspheredeploymentzone_conversion.go
  api/v1alpha3/vspherefailuredomain_conversion.go
  api/v1alpha4/vspheredeploymentzone_conversion.go
  api/v1alpha4/vspherfailuredomain_conversion.go
  api/v1beta1/vspheredeploymentzone_conversion.go
  api/v1beta1/vspherefailuredomain_conversion.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add serviceAccountProvider(types, controllers) and serviceDiscovery controller
  apis/vmware/v1beta1/conditions_consts.go
  apis/vmware/v1beta1/providerserviceaccount_types.go
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  controllers/serviceaccount_controller.go
  controllers/servicediscovery_controller.go
  go.mod
  main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add integration tests
  .gitignore
  Makefile
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentlibraryproviders.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentsourcebindings.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentsources.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclassbindings.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclasses.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineimages.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachines.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineservices.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachinesetresourcepolicies.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_webconsolerequests.yaml
  config/deployments/integration-tests/kustomization.yaml
  config/rbac/aggregate_label_to_cluster_role_patch.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/supervisor/kustomization.yaml
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
  controllers/vmware/vspherecluster_reconciler_test.go
  controllers/vspheremachine_controller.go
  hack/fetch_ext_bins.sh
  main.go
  pkg/manager/network.go
  pkg/util/testutil.go
  test/e2e/capv_quick_start_test.go
  test/e2e/e2e_suite_test.go
  test/helpers/framework.go
  test/integration/cluster_lifecycle_test.go
  test/integration/data/shared/metadata.yaml
  test/integration/integration-dev.yaml
  test/integration/integration_suite_test.go
  test/integration/sanity_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add svcAccountProvider & svcDiscovery controller
  apis/vmware/v1beta1/conditions_consts.go
  apis/vmware/v1beta1/providerserviceaccount_types.go
  apis/vmware/v1beta1/zz_generated.deepcopy.go
  config/rbac/role.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  config/supervisor/kustomization.yaml
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_suite_test.go
  controllers/serviceaccount_controller_unit_test.go
  controllers/servicediscovery_controller.go
  controllers/svcdiscovery_controller_suite_test.go
  controllers/svcdiscovery_controller_unit_test.go
  go.mod
  main.go
  pkg/builder/flags.go
  pkg/builder/test_suite.go
  pkg/builder/testutil.go
  pkg/builder/unit_test_context.go
  pkg/context/fake/constants.go
  pkg/context/fake/fake_controller_manager_context.go
  pkg/context/fake/fake_guest_cluster_context.go
  pkg/context/fake/fake_util.go
  pkg/context/fake/fake_vmware_cluster_context.go
  pkg/context/vmware/guest_cluster_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fix clusterctl subcommand typo in getting_started
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Add a logging statement so that in networking blips the dissapearance into controller_runtime blackhole is traceable
  pkg/manager/manager.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fix vm-operator dependencies
  go.mod
  go.sum
Due: none

switch the thumbprint to match vc's private IP
  test/e2e/config/vsphere-ci.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

fix vm operator deps
  go.mod
  go.sum
Due: none

add quotes to aggregate label role patch yaml
  config/rbac/aggregate_label_to_cluster_role_patch.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Changes for private vCenter URL in CI
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/base/cluster-resource-set-csi-insecure.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/base/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update OWNERS files: - remove gab-satchi from cluster-api-vsphere-maintainers - add gab-satchi to emeritus-approvers
  OWNERS
  OWNERS_ALIASES
Due: none

Changes for private vCenter URL in CI
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/base/cluster-resource-set-csi-insecure.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Changes for private vCenter URL in CI
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-resource-set-csi-insecure.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Implements conversion for FailureDomain types
  api/v1alpha3/vspheredeploymentzone_conversion.go
  api/v1alpha3/vspherefailuredomain_conversion.go
  api/v1alpha4/vspheredeploymentzone_conversion.go
  api/v1alpha4/vspherefailuredomain_conversion.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds deletion logic for VSphereDeploymentZones
  api/v1alpha4/vspheredeploymentzone_types.go
  controllers/controllers_suite_test.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_test.go
  controllers/vspherevm_controller.go
  pkg/util/machines.go
  pkg/util/machines_test.go
  test/helpers/envtest.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add VSphereClusterTemplate to supervisor api group
  apis/vmware/v1beta1/vsphereclustertemplate_types.go
  apis/vmware/v1beta1/zz_generated.deepcopy.go
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/supervisor/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updates thumbprint for e2e tests
  hack/e2e.sh
  test/e2e/config/vsphere-ci.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-cpi-global-config-insecure.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fix typo in template not found error
  pkg/services/govmomi/template/template.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Quote PATH variable
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Set default e2e artifact folder
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update e2e env var table
  test/e2e/README.md
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update usage logic for Machine.Spec.FailureDomain
  controllers/vspherevm_controller.go
  pkg/services/vimmachine.go
  pkg/services/vimmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds deletion logic for VSphereDeploymentZones
  apis/v1beta1/vspheredeploymentzone_types.go
  controllers/controllers_suite_test.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_test.go
  controllers/vspherevm_controller.go
  pkg/util/machines.go
  pkg/util/machines_test.go
  test/helpers/envtest.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Implements conversion for FailureDomain types
  apis/v1alpha3/vspheredeploymentzone_conversion.go
  apis/v1alpha3/vspherefailuredomain_conversion.go
  apis/v1alpha4/vspheredeploymentzone_conversion.go
  apis/v1alpha4/vspherefailuredomain_conversion.go
  apis/v1beta1/vspheredeploymentzone_conversion.go
  apis/v1beta1/vspherefailuredomain_conversion.go
Due: none

Adds deletion logic for VSphereDeploymentZones
  api/v1alpha3/vspheredeploymentzone_types.go
  controllers/controllers_suite_test.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_test.go
  controllers/vspherevm_controller.go
  pkg/util/machines.go
  pkg/util/machines_test.go
  test/helpers/envtest.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

move datacenter defaulting to resource defaults
  api/v1alpha3/types.go
  api/v1alpha3/vspherefailuredomain_types.go
  api/v1alpha3/vspherefailuredomain_webhook_test.go
  api/v1alpha3/vspheremachine_webhook.go
  api/v1alpha3/vspheremachine_webhook_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/webhook/manifests.yaml
  controllers/vspheredeploymentzone_controller_domain_test.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/vcenter/clone_test.go
  pkg/session/session.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

handle nil vsphere machine for vsphere vm
  controllers/vspherevm_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh)
