Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile

do not swallow errors reconcileNetworkStatus
  pkg/services/govmomi/service.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

watch for paused field in the vspherevm controller
  controllers/vspherevm_controller.go
Due: none

fix deletion of vms by waiting for not found
  controllers/vspheremachine_controller.go
Due: none

change logic
  controllers/vspheremachine_controller.go
Due: none

wait for vspherevm to be deleted before deleting haproxyloadbalancer
  controllers/haproxyloadbalancer_controller.go
Due: none

make vspherecluster wait for haproxyloadbalancer
  controllers/vspherecluster_controller.go
Due: none

add retry logic when deleting
  controllers/vspherecluster_controller.go
Due: none

issue delete for haproxy
  controllers/vspherecluster_controller.go
Due: none

HAProxyLoadBalancer: Stop constant restarting of HAProxy
  controllers/haproxyloadbalancer_controller.go
  pkg/haproxy/config.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

reconcile vspheremachine status when vspherevm already exists
  controllers/vspheremachine_controller.go
Due: none

Allow the creation of haproxy template directly on vSphere
  hack/tools/haproxy/Makefile
  hack/tools/haproxy/README.md
  hack/tools/haproxy/packer-api.json
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test

Rename packer json file
  hack/tools/haproxy/Makefile
  hack/tools/haproxy/packer-template.json
Due: pull-cluster-api-provider-vsphere-test

Correct markdown
  hack/tools/haproxy/README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test

Update infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

avoid LLA with default dhcp settings in haproxy
  hack/tools/haproxy/ansible/roles/sysprep/tasks/main.yml
Due: pull-cluster-api-provider-vsphere-test

disable ipv6 in haproxy controller
  controllers/haproxyloadbalancer_controller.go
Due: none

only add control plane machines if they're ready and not failed
  controllers/haproxyloadbalancer_controller.go
Due: none

Update Cluster API maintainers, promote jeewan
  OWNERS_ALIASES
  SECURITY_CONTACTS
Due: none

remove ISO info from HAProxy OVF metadata
  hack/tools/haproxy/hack/image-build-ova.py
Due: pull-cluster-api-provider-vsphere-test

wire max-concurrent-reconciles with higher default
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  main.go
Due: none

correct typo in controllers/haproxyloadbalancer_controller.go
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  main.go
  pkg/manager/constants.go
  pkg/manager/options.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add logic to wait for IPv4 and/or IPv6
  pkg/util/constants.go
  pkg/util/machines.go
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

fix cloudinit network in haproxy ova
  hack/tools/haproxy/ansible/roles/cloudinit/tasks/main.yml
Due: pull-cluster-api-provider-vsphere-test

cloudprovider: Correctly merge arguments
  api/v1alpha3/cloudprovider_encoding.go
  controllers/vspherecluster_controller.go
Due: none

Use a tagged version of the guestinfo datasource
  hack/tools/haproxy/packer.json
Due: pull-cluster-api-provider-vsphere-test

Seed the random number generator
  main.go
Due: none

aarrgghhh
  api/v1alpha3/haproxyloadbalancer_types.go
  api/v1alpha3/types.go
  controllers/haproxyloadbalancer_controller.go
  pkg/haproxy/config.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

point to the new CAPV HAProxy OVA
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Add haveged to prevent low-entropy situations
  hack/tools/haproxy/kickstart.json
Due: pull-cluster-api-provider-vsphere-test

Add rng-tools as default entropy gatherer
  hack/tools/haproxy/kickstart.json
Due: pull-cluster-api-provider-vsphere-test

haproxy: set PhotonOS password expiry to never
  hack/tools/haproxy/kickstart.json
Due: pull-cluster-api-provider-vsphere-test

patch early to avoid concurrent clones
  pkg/context/fake/fake_vm_context.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Change Makefile target name
  hack/tools/haproxy/Makefile
Due: pull-cluster-api-provider-vsphere-test

remove csi ImagePullPolicy for air-gapped environments
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

use capi's utils to watch for pause changes
  controllers/haproxyloadbalancer_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  go.mod
  go.sum
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test
