Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-apidiff-main:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.30
      command:
      - runner.sh
      args:
      - ./hack/ci-apidiff.sh
      resources:
        limits:
          cpu: 2
          memory: 3Gi
        requests:
          cpu: 2
  ...

pull-cluster-api-provider-vsphere-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.30
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi
      command:
      - runner.sh
      args:
      - make
      - test-junit

pull-cluster-api-provider-vsphere-test-integration-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240111-cf1d81388e-1.27
      securityContext:
        privileged: true
        capabilities:
          add:
          - NET_ADMIN
  ...

pull-cluster-api-provider-vsphere-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-verify-gen:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - runner.sh
      args:
      - make
      - verify-gen

tmp fix for ResourceVersion flake
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/ownerrefs_finalizers_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Register conversion funcs in schemes
  apis/v1alpha3/groupversion_info.go
  apis/v1alpha4/groupversion_info.go
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen

Log version and GIT commit on controller start
  main.go
  test/extension/main.go
  test/infrastructure/net-operator/main.go
  test/infrastructure/vcsim/main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix make lint-api
  .github/workflows/pr-golangci-lint.yaml
  .golangci-kal.yml
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump autoscaler to v1.33.1
  test/e2e/data/autoscaler/autoscaler-to-management-workload.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update OVA list with K8s v1.34 images
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Bump Kubernetes to v1.34 and add new OVA's
  Makefile
  internal/test/helpers/vcsim/model.go
  test/e2e/config/config-overrides-example.yaml
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/clusterclass/patch-vsphere-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update release support and compatibility info
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Bump CPI to v1.34.0
  packaging/flavorgen/cloudprovider/cpi/cpi.yaml
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update release tracking issue template
  .github/ISSUE_TEMPLATE/release_tracking.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Remove the CEL validation on VSphereMachineTemplate.spec.network
  apis/vmware/v1beta1/vspheremachine_types.go
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  go.mod
  internal/webhooks/vmware/vspheremachinetemplate.go
  internal/webhooks/vmware/vspheremachinetemplate_test.go
  pkg/util/equal.go
  pkg/util/equal_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Start using 1.35 for CI latest on main
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update internal/webhooks/vmware/vspheremachinetemplate.go
  internal/webhooks/vmware/vspheremachinetemplate.go
Due: none

🐛Remove the CEL validation on VSphereMachineTemplate.spec.network (#3621)
  apis/vmware/v1beta1/vspheremachine_types.go
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  go.mod
  internal/webhooks/vmware/vspheremachinetemplate.go
  internal/webhooks/vmware/vspheremachinetemplate_test.go
  pkg/util/equal.go
  pkg/util/equal_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to CAPI v1.11.1
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Address feedback
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

More feedback
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

📖 Update release support and compatibility info (#3622)
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Bump to controller-runtime v0.22
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Regenerate manifests
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump setup-envtest to v0.22, controller-gen to v0.19, conversion-gen to v0.34
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Regenerate manifests after bump to controller-gen v0.19
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusteridentities.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheredeploymentzones.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_controlplaneendpoints.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_envvars.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_vcentersimulators.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_vmoperatordependencies.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adjust to changes to IsOwnedByObject
  controllers/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vsphereclusteridentity_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Make v1beta1 APIEndpoint host & port fields optional
  apis/v1beta1/types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adjust to CR not setting TypeMeta anymore
  controllers/clustermodule_reconciler_test.go
  pkg/clustermodule/types.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Set startup taint for autoscaler in e2e tests
  test/e2e/data/autoscaler/autoscaler-to-management-workload.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

⚠️ Bump to CAPI main (05.09.2025) (#3628)
  Makefile
  apis/v1beta1/types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusteridentities.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheredeploymentzones.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  controllers/clustermodule_reconciler_test.go
  controllers/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vsphereclusteridentity_controller_test.go
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  pkg/clustermodule/types.go
  test/go.mod
  test/go.sum
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_controlplaneendpoints.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_envvars.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_vcentersimulators.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_vmoperatordependencies.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump github.com/go-viper/mapstructure/v2 to v2.4.0 to fix CVE
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fixup govmomi change
  hack/tools/pkg/janitor/janitor.go
  hack/tools/pkg/janitor/janitor_test.go
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main

VSphereClusterIdentity: ensure namespace in tests exists when not using the default
  controllers/vsphereclusteridentity_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Prepare main for release 1.15
  Makefile
  clusterctl-settings.json
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/clusterclass/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/clusterclass/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/clusterclass/patch-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/clusterclass/patch-prekubeadmscript.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/clusterclass/patch-vm-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/commons/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/topology/cluster-template-topology.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/topology/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/workload/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/workload/workload-control-plane-endpoint-ip.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/clusterclass/clusterclass-quick-start-supervisor.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/clusterclass/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/clusterclass/patch-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/clusterclass/patch-prekubeadmscript.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/clusterclass/patch-vm-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/commons/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/topology/cluster-template-topology-supervisor.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/topology/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/workload/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/workload/workload-control-plane-endpoint-ip.yaml
  test/e2e/data/shared/capi/v1.12/metadata.yaml
  test/e2e/data/shared/capv/main/metadata.yaml
  test/e2e/data/shared/capv/v1.14/metadata.yaml
  tilt-provider.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Prepare main for release 1.15
  Makefile
  metadata.yaml
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/clusterclass/clusterclass-quick-start.yaml
  test/extension/tilt-provider.yaml
  test/infrastructure/net-operator/tilt-provider.yaml
  test/infrastructure/vcsim/tilt-provider.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
