Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile

updated getting_started and troubleshooting with image/missing manifest info
  docs/getting_started.md
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

fix null field in SSH authorized keys due to kustomize removing double quotes
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

update generated examples in docs/getting_started.md to use --cloud-provider=external
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

single quote resource pool in manifest generation since it can begin with special characters like *
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

default insecure: true since CAPV doesn't management vCenter certificates yet
  examples/default/cluster/cluster.yaml
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

kubelet in default machine deployment should set --cloud-provider=external
  examples/default/machinedeployment/machinedeployment.yaml
Due: none

update vSphere CNS images in getting started guide
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

fix invalid resource pool in getting started guide
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

CNS docker images were moved from cloudnativestorage/vsphere-block-csi-driver -> vmware/vsphere-block-csi-driver
  examples/default/cluster/cluster.yaml
Due: none

Updating “Getting Started” and “Troubleshooting” docs with image pull details
  docs/getting_started.md
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

fix: cleaning up readme.md
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

NKS-2451 Networking configuration (#31)
  pkg/cloud/vsphere/util/constants.go
  pkg/cloud/vsphere/util/machines.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add well-known tolerations to released CAPV manager manifest
  config/manager/manager.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Adding a unique LeaderElectionID
  main.go
Due: none

Updated docs to use K8s v1.15.4 image and added to table
  README.md
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Removed instructions to build clusterctl as it is released as a bin now
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

add v1.14.7 OVA links to README
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Use released components for CAPI and CABPK in examples
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Parameterized livenessProbe image and registrar image
  api/v1alpha2/cloudprovider/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  examples/default/cluster/cluster.yaml
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update CAPI to v0.2.5, controller-runtime v0.3, CABPK v0.1.3
  examples/generate.sh
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  scripts/e2e/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Re-introduce the VM maintenance mode in v1alpha2
  controllers/vspheremachine_controller.go
Due: none

manifest generator: check vSphere version with govc
  examples/generate.sh
  hack/tools/generate-yaml/Dockerfile
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

remove -u option of manifest generator in getting started guide
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

remove StorageClass from addons file
  examples/default/addons.yaml
  examples/pre-67u3/addons.yaml
Due: none

use Machine.Name for VM name instead of VSphereMachine.Name
  pkg/cloud/vsphere/services/govmomi/service.go
  pkg/cloud/vsphere/util/machines.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Test_GetMachineMetadata should test for actual metadata values
  pkg/cloud/vsphere/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

drop capv-manager-bootstrap-credentials from infrastructure-components.yaml
  config/default/manager_credentials_patch.yaml
  config/manager/kustomization.yaml
  examples/default/provider-components/capv_manager_bootstrap_credentials.yaml
  examples/default/provider-components/kustomization.yaml
  examples/pre-67u3/provider-components/capv_manager_bootstrap_credentials.yaml
  examples/pre-67u3/provider-components/kustomization.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add defaults for CSI / CPI images
  api/v1alpha2/cloudprovider/encoding_test.go
  api/v1alpha2/cloudprovider/types.go
  controllers/vspherecluster_controller.go
  pkg/cloud/vsphere/services/cloudprovider/cloud-controller-manager.go
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

allow passing a VERSION when generating infrastructure-components.yaml
  Makefile
Due: pull-cluster-api-provider-vsphere-test

CAPI 0.2.6
  examples/generate.sh
  go.mod
  go.sum
  scripts/e2e/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

add OVA links for v1.16.1 and v1.16.2
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fix idempotency convention link
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update CSI default images to v1.0.1 on gcr.io
  docs/getting_started.md
  examples/default/cluster/cluster.yaml
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

check vm existance even if machineRef is not set
  pkg/cloud/vsphere/services/govmomi/service.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add liveness probe check to CSI deployments
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

NKS-2411 mnode ipam (#35)
  Dockerfile
  Jenkinsfile
  controllers/vspheremachine_controller.go
  go.mod
  go.sum
  pkg/cloud/vsphere/services/ipam/ipam.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

only document latest Kubernetes patch versions
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown
