Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-verify-gen:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - runner.sh
      args:
      - make
      - verify-gen

pull-cluster-api-provider-vsphere-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - make
      - test

pull-cluster-api-provider-vsphere-integration-test:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      securityContext:
        privileged: true
        capabilities:
          add:
          - NET_ADMIN
  ...

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

Fix nil pointer error in retrieveVcenterSession
  controllers/vspherevm_controller.go
  controllers/vspherevm_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

lint: enable `-nolintlint` and fix findings
  .golangci.yml
  apis/v1alpha3/conversion.go
  apis/v1alpha3/vspherecluster_conversion.go
  apis/v1alpha3/vspheremachine_conversion.go
  apis/v1alpha3/vspheremachinetemplate_conversion.go
  apis/v1alpha3/vspherevm_conversion.go
  apis/v1alpha4/conversion.go
  apis/v1alpha4/vspherecluster_conversion.go
  apis/v1alpha4/vsphereclusteridentity_conversion.go
  apis/v1alpha4/vsphereclusteridentity_types.go
  apis/v1alpha4/vsphereclustertemplate_conversion.go
  apis/v1alpha4/vspheredeploymentzone_conversion.go
  apis/v1alpha4/vspherefailuredomain_conversion.go
  apis/v1alpha4/vspheremachine_conversion.go
  apis/v1alpha4/vspheremachinetemplate_conversion.go
  apis/v1alpha4/vspherevm_conversion.go
  apis/v1beta1/vsphereclustertemplate_webhook.go
  apis/v1beta1/vspheremachine_webhook.go
  apis/v1beta1/vspheremachine_webhook_test.go
  apis/v1beta1/vspherevm_webhook.go
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
  controllers/vspherevm_controller.go
  packaging/flavorgen/flavors/util/helpers.go
  pkg/identity/identity_suite_test.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/vcenter/clone.go
  pkg/services/govmomi/vcenter/clone_test.go
  test/helpers/envtest.go
  test/helpers/vcsim/simulator.go
  test/helpers/webhook.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Remove Kubebuilder files and markers
  PROJECT
  pkg/manager/manager.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

LDFLAGS defined once for Makefile
  Makefile
  hack/e2e.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump Trivy to v0.45.0
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

docs: fix release-tasks to refer the correct repository
  docs/release/release-tasks.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Move webhooks out of API packages
  Makefile
  apis/v1beta1/vsphereclustertemplate_webhook.go
  apis/v1beta1/vspheredeploymentzone_webhook.go
  apis/v1beta1/vspherefailuredomain_webhook.go
  apis/v1beta1/vspheremachine_webhook_test.go
  apis/v1beta1/vspherevm_webhook.go
  apis/v1beta1/vspherevm_webhook_test.go
  internal/webhooks/doc.go
  internal/webhooks/util.go
  internal/webhooks/vsphereclustertemplate.go
  internal/webhooks/vspheredeploymentzone.go
  internal/webhooks/vspheredeploymentzone_test.go
  internal/webhooks/vspherefailuredomain.go
  internal/webhooks/vspherefailuredomain_test.go
  internal/webhooks/vspheremachine.go
  internal/webhooks/vspheremachine_test.go
  internal/webhooks/vspheremachinetemplate.go
  internal/webhooks/vspheremachinetemplate_test.go
  internal/webhooks/vspherevm.go
  internal/webhooks/vspherevm_test.go
  main.go
  test/helpers/envtest.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Document backport policy
  CONTRIBUTING.md
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

add LDFLAGS comment to e2e docs
  hack/e2e.sh
  test/e2e/README.md
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Rename controller context and golang context
  controllers/clustermodule_reconciler.go
  controllers/clustermodule_reconciler_test.go
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_suite_test.go
  controllers/serviceaccount_controller_unit_test.go
  controllers/servicediscovery_controller.go
  controllers/svcdiscovery_controller_unit_test.go
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
  controllers/vmware/vspherecluster_reconciler.go
  controllers/vspherecluster_controller.go
  controllers/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vsphereclusteridentity_controller_test.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_domain.go
  controllers/vspheredeploymentzone_controller_domain_test.go
  controllers/vspheredeploymentzone_controller_test.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  controllers/vspherevm_controller_test.go
  controllers/vspherevm_ipaddress_reconciler.go
  controllers/vspherevm_ipaddress_reconciler_test.go
  main.go
  pkg/clustermodule/service.go
  pkg/clustermodule/session.go
  pkg/context/fake/fake_controller_manager_context.go
  pkg/identity/identity_suite_test.go
  pkg/manager/manager.go
  pkg/services/fake/vmservice.go
  pkg/services/govmomi/power_test.go
  pkg/services/govmomi/service_test.go
  pkg/services/vimmachine.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/util/testutil.go
  test/helpers/envtest.go
  test/helpers/framework.go
  test/helpers/vmware/intg_test_context.go
  test/integration/integration_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Improve godoc for VSphereCluster.spec.failureDomainSelector
  apis/v1beta1/vspherecluster_types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

test
  main.go
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fix yml format error by remove the incorrect(unnecessary) code
  controllers/vmware/test/controllers_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add codecov
  .github/codecov.yml
  .github/workflows/cover.yaml
  Makefile
  hack/codecov-ignore.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

lint: enable `gocritic` configuration and fix findings
  .golangci.yml
  apis/v1alpha3/cloudprovider_encoding_test.go
  apis/v1alpha3/cloudprovider_types.go
  apis/v1alpha3/haproxyloadbalancer_types.go
  apis/v1alpha3/vspherecluster_types.go
  apis/v1alpha4/vspheremachinetemplate_conversion.go
  controllers/controllers_suite_test.go
  controllers/servicediscovery_controller.go
  controllers/vspherecluster_reconciler.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_domain_test.go
  controllers/vspherevm_controller_test.go
  pkg/manager/manager_test.go
  pkg/manager/options_test.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/vcenter/clone_test.go
  pkg/util/label_test.go
  test/e2e/gpu_pci_passthrough_test.go
  test/e2e/log_collector.go
  test/helpers/vmware/intg_test_context.go
  test/helpers/webhook.go
  test/integration/integration_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go 1.20.8
  Dockerfile
  Makefile
  hack/ensure-go.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go 1.19.13
  Dockerfile
  Makefile
  hack/ensure-go.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add finalizer for VSphereClusterIdentity
  apis/v1beta1/vsphereclusteridentity_types.go
  controllers/vsphereclusteridentity_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Use higher concurrency for e2e tests
  Makefile
  hack/e2e.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Only ensure Go minor version
  hack/ensure-go.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Add verify-import-restrictions to enforce import restrictions
  Makefile
  apis/.import-restrictions
  apis/v1beta1/.import-restrictions
  apis/vmware/v1beta1/.import-restrictions
  hack/verify-import-restrictions.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

test
  apis/v1beta1/groupversion_info.go
Due: pull-cluster-api-provider-vsphere-verify-gen

config: add metrics configuration for kube-state-metrics
  config/metrics/crd-clusterrole.yaml
  config/metrics/crd-metrics-config.yaml
  config/metrics/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Set up golang context when initiating controller manager
  controllers/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
  controllers/vspherecluster_controller.go
  controllers/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler_test.go
  main.go
  pkg/manager/manager.go
  pkg/manager/network.go
  pkg/manager/options.go
  test/helpers/envtest.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Remove regular quickstart from PR blocking job
  test/e2e/capv_quick_start_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

unset gopath
  hack/verify-import-restrictions.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

first set of metrics
  Makefile
  apis/v1beta1/vspherecluster_types.go
  apis/v1beta1/vsphereclusteridentity_types.go
  apis/v1beta1/vspheredeploymentzone_types.go
  apis/v1beta1/vspherefailuredomain_types.go
  apis/v1beta1/vspheremachine_types.go
  apis/v1beta1/vspherevm_types.go
  hack/go-tools-build.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Including all packages in coverage
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add ownerReference resilience test
  Makefile
  controllers/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_domain.go
  controllers/vspheremachine_controller.go
  pkg/identity/identity.go
  test/e2e/README.md
  test/e2e/capv_clusterclass_quickstart_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/cluster-identity.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/drop-existing-identity-secret.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/failure-domains.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/vsphereclusteridentity.yaml
  test/e2e/ignition_test.go
  test/e2e/ownerreference_test.go
  test/e2e/quick_start_test.go
  test/integration/integration-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add ownerReference resilience test
  Makefile
  controllers/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_domain.go
  pkg/identity/identity.go
  test/e2e/README.md
  test/e2e/capv_clusterclass_quickstart_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/cluster-identity.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/drop-existing-identity-secret.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/failure-domains.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/main/ownerreferences/vsphereclusteridentity.yaml
  test/e2e/ignition_test.go
  test/e2e/ownerreference_test.go
  test/e2e/quick_start_test.go
  test/integration/integration-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add ownerReference resilience test
  controllers/vspherecluster_reconciler.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_domain.go
  pkg/identity/identity.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
