Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh)

Add tests for the metadata package
  pkg/services/govmomi/metadata/metadata_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Implement suggestions to improve code quality
  pkg/services/govmomi/extra/extra_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Enable keep-alives for connections to vCenter.
  config/manager/manager.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Allow secrets to be owned by external tools
  controllers/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler_test.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vsphereclusteridentity_controller_test.go
  pkg/identity/identity.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add test
  pkg/identity/identity_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add missing tests for the record package
  pkg/record/recorder_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update Cobra to version 1.4.0 and Viper to 1.10.1
  go.mod
  go.sum
Due: none

Add replace directive for CAPI required by CAPI/test
  go.mod
Due: none

Removes misleading UTC time for office hours
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

This PR adds unit tests to check if cluster spec identity Ref is secret or not
  pkg/identity/identity_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

rewrite reconcile normal and add delete
  pkg/services/vimmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update README with new OVA links
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Explicitly starts the keep alive goroutine
  test/e2e/config/vsphere-ci.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/govmomi_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add notifier for CAPV credentials file
  controllers/vmware/test/controllers_suite_test.go
  go.mod
  go.sum
  main.go
  pkg/manager/manager.go
  pkg/manager/manager_test.go
  pkg/manager/options.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

1 more apis/v1a3 file gci-ed
  apis/v1alpha3/vspherefailuredomain_conversion.go
Due: none

revert import line changes from 2 files
  pkg/services/govmomi/vcenter/clone_test.go
  test/helpers/simulator.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add test cases for find.ObjectFunc
  pkg/services/govmomi/find/object_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fixes secret fetch logic for vmware controllers
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_intg_test.go
  controllers/serviceaccount_controller_suite_test.go
  controllers/serviceaccount_controller_unit_test.go
  controllers/servicediscovery_controller.go
  controllers/svcdiscovery_controller_intg_test.go
  controllers/svcdiscovery_controller_unit_test.go
  pkg/builder/flags.go
  pkg/builder/intg_test_context.go
  pkg/builder/test_suite.go
  pkg/builder/unit_test_context.go
  pkg/context/fake/fake_util.go
  pkg/context/fake/fake_vmware_cluster_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Clean up stale nodes left behind on a workload cluster
  controllers/vspherecluster_reconciler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

modify kustomization under test/e2e
  test/e2e/data/infrastructure-vsphere/kustomization/commons/cluster-resource-set-csi-insecure.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

vspherevm reconcile delete
  controllers/vspherecluster_reconciler.go
  controllers/vspherevm_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

chore: Fix reference link in Makefile
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

deprecate(flags): Factor out --enable-keep-alive flag
  config/manager/manager.yaml
  controllers/vspherecluster_reconciler.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspherevm_controller.go
  main.go
  pkg/session/session.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

chore: Add apidiff target to Makefile
  Makefile
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/tools.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add keep alive support for rest client
  controllers/session_test.go
  pkg/session/session.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

vsphere deploymentzone filter
  controllers/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

ci: Add script to run go-apidiff in a CI context
  hack/ci-apidiff.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Updates RBAC permissions
  config/base/kustomization.yaml
  config/base/manager_role_aggregation_patch.yaml
  config/rbac/aggregate_kcp_label_to_clusterrole_patch.yaml
  config/rbac/aggregate_labels.yaml
  config/rbac/aggregate_role.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  controllers/vmware/vspherecluster_reconciler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add permissions to api-diff script
  hack/ci-apidiff.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Moves vcsim builder code to remove cyclic dependency
  controllers/vspherecluster_reconciler_test.go
  controllers/vspheredeploymentzone_controller_domain_test.go
  controllers/vspheredeploymentzone_controller_test.go
  controllers/vspherevm_controller_test.go
  pkg/services/govmomi/cluster/rule_test.go
  pkg/services/govmomi/cluster/service_test.go
  pkg/services/govmomi/cluster/vmgroup_test.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/find/object_test.go
  pkg/services/govmomi/metadata/metadata_suite_test.go
  pkg/session/session_test.go
  test/helpers/envtest.go
  test/helpers/vcsim/builder.go
  test/helpers/vcsim/simulator.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add outline for tests
  pkg/services/govmomi/service_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add more partially implemented test cases
  pkg/services/govmomi/service_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

bump kube-vip to v0.4.2
  packaging/flavorgen/flavors/generators.go
Due: none

Adds a patch to add CM env variables
  config/supervisor/add-configmap-env-vars.yaml
  config/supervisor/kustomization.yaml
  test/integration/integration-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Re-introduces legacy default network label selector
  pkg/services/interfaces.go
  pkg/services/network/constants.go
  pkg/services/network/dummy_provider.go
  pkg/services/network/netop_provider.go
  pkg/services/network/network_test.go
  pkg/services/network/nsxt_provider.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds release 1.2.0 to metadata file
  metadata.yaml
Due: none
