Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile

Update getting started doc to use release-0.5
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

A Dockerfile with a built-in OpenVPN client f test
  hack/tools/openvpn/Dockerfile
  hack/tools/openvpn/Makefile
  hack/tools/openvpn/openvpn.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Support for HAProxy load balancer (OVA/docs)
  hack/tools/haproxy/.dockerignore
  hack/tools/haproxy/.gitignore
  hack/tools/haproxy/Dockerfile
  hack/tools/haproxy/Makefile
  hack/tools/haproxy/README.md
  hack/tools/haproxy/ansible/.gitignore
  hack/tools/haproxy/ansible/ansible.cfg
  hack/tools/haproxy/ansible/playbook.retry
  hack/tools/haproxy/ansible/playbook.yml
  hack/tools/haproxy/ansible/roles/cloudinit/tasks/main.yml
  hack/tools/haproxy/ansible/roles/haproxy/files/etc/haproxy/haproxy.cfg
  hack/tools/haproxy/ansible/roles/haproxy/files/etc/systemd/system/haproxy.service.d/cloud-init.conf
  hack/tools/haproxy/ansible/roles/haproxy/tasks/main.yml
  hack/tools/haproxy/ansible/roles/pki/files/usr/local/bin/new-ca.sh
  hack/tools/haproxy/ansible/roles/pki/files/usr/local/bin/new-cert.sh
  hack/tools/haproxy/ansible/roles/pki/tasks/main.yml
  hack/tools/haproxy/ansible/roles/sysprep/files/etc/hosts
  hack/tools/haproxy/ansible/roles/sysprep/tasks/main.yml
  hack/tools/haproxy/example/README.md
  hack/tools/haproxy/example/ca.crt
  hack/tools/haproxy/example/ca.key
  hack/tools/haproxy/example/client.crt
  hack/tools/haproxy/example/client.key
  hack/tools/haproxy/example/id_rsa
  hack/tools/haproxy/example/id_rsa.pub
  hack/tools/haproxy/example/meta-data
  hack/tools/haproxy/example/server.crt
  hack/tools/haproxy/example/server.key
  hack/tools/haproxy/example/user-data
  hack/tools/haproxy/hack/image-build-ova.py
  hack/tools/haproxy/hack/image-govc-cloudinit.sh
  hack/tools/haproxy/hack/image-post-create-config.sh
  hack/tools/haproxy/hack/image-ssh.sh
  hack/tools/haproxy/hack/image-tools.sh
  hack/tools/haproxy/hack/image-upload.py
  hack/tools/haproxy/kickstart.json
  hack/tools/haproxy/packer.json
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

VSphereVM resource / controller
  PROJECT
  api/v1alpha3/vspherevm_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/rbac/role.yaml
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  pkg/context/fake/constants.go
  pkg/context/fake/fake_vm_context.go
  pkg/context/vm_context.go
  pkg/services/govmomi/context.go
  pkg/services/govmomi/create.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/esxi/clone.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/vcenter/clone.go
  pkg/services/interfaces.go
  pkg/util/machines.go
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

target release-0.5
  api/v1alpha2/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  docs/troubleshooting.md
  pkg/util/constants.go
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

rename SetName to DeviceName
  api/v1alpha2/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  docs/troubleshooting.md
  pkg/util/constants.go
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

fix DeviceName descriptions
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

fix DeviceName again
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Add HAProxyLoadBalancer CRD
  .dockerignore
  PROJECT
  api/v1alpha3/haproxyloadbalancer_types.go
  api/v1alpha3/types.go
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/vspheremachine_types.go
  api/v1alpha3/vspherevm_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/crd/kustomization.yaml
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  main.go
  pkg/context/fake/fake_machine_context.go
  pkg/context/fake/fake_vm_context.go
  pkg/util/kubeadm.go
  pkg/util/machines_test.go
  test/e2e/capv_resource_generators.go
  test/e2e/framework/single_node_control_plane.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Raised log level for CCM secret creation
  controllers/vspherecluster_controller.go
Due: none

Support linked clones
  api/v1alpha3/types.go
  api/v1alpha3/vspherevm_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Support special spec/status fields for VM CRDs
  api/v1alpha3/vspherevm_types.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
Due: none

Updated comments/log levels for finding VMs
  pkg/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Reorder VSphereVM BIOS UUID reconciliation
  controllers/vspherevm_controller.go
Due: none

Support VSphereVMs without bootstrap data
  api/v1alpha3/vspherevm_types.go
  controllers/vspherevm_controller.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fix VSphereMachine ready check
  controllers/vspheremachine_controller.go
Due: none

Log when API server is online
  controllers/vspherecluster_controller.go
Due: none

Improve API server online checks
  controllers/vspherecluster_controller.go
Due: none

Reconcile VSphereVM on new IPs after power-on
  pkg/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Add Network status back to VSphereMachine
  api/v1alpha3/vspheremachine_types.go
  api/v1alpha3/vspherevm_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Assert CAPV resources are cleaned up after e2e
  test/e2e/capv_test.go
  test/e2e/framework/clean_up.go
Due: none

Flatten the Cluster/Machine contexts
  controllers/vspheremachine_controller.go
  pkg/context/cluster_context.go
  pkg/context/fake/fake_machine_context.go
  pkg/context/machine_context.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fix comments in Cluster/Machine contexts
  pkg/context/cluster_context.go
  pkg/context/machine_context.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Add HAProxyLoadBalancer Context/Controller
  api/v1alpha3/haproxyloadbalancer_types.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/rbac/role.yaml
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
  main.go
  pkg/context/haproxylb_context.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Corrected LB OwnerRef/Reconcile InfraCluster on LB
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
Due: none

cater for cloud provider region & zone vsphere tag
  docs/getting_started.md
  examples/default/cluster/cluster.yaml
  examples/generate.sh
  examples/pre-67u3/controlplane/controlplane.yaml
  examples/pre-67u3/machinedeployment/machinedeployment.yaml
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell

Use unstructured helpers in VSphereMachine ctrlr
  controllers/vspheremachine_controller.go
Due: none

Use unstructured hlprs in HAProxLoadBalancer ctrlr
  controllers/haproxyloadbalancer_controller.go
Due: none

Make the helper func to watch LBs generic
  controllers/vspherecluster_controller.go
Due: none

Add HAProxyAPIConfig to HAProxyLoadBalancerContext
  pkg/context/haproxylb_context.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Use unstructured helpers in VSphereCluster ctrlr
  controllers/vspherecluster_controller.go
Due: none

Simplify labels in VSphereMachine controller
  controllers/vspheremachine_controller.go
Due: none

Fix issue with example HAProxy CI userdata
  hack/tools/haproxy/example/user-data
Due: pull-cluster-api-provider-vsphere-test

Promote HAProxy API configuration type
  api/v1alpha3/haproxyapi_types.go
  api/v1alpha3/haproxyloadbalancer_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  pkg/haproxy/haproxy.go
  pkg/haproxy/haproxy_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Code-complete HAProxyLoadBalancer controller
  api/v1alpha3/haproxyloadbalancer_types.go
  api/v1alpha3/types.go
  api/v1alpha3/vspheremachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/rbac/role.yaml
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  pkg/context/haproxylb_context.go
  pkg/haproxy/bootstrap.go
  pkg/haproxy/bootstrap_constants.go
  pkg/haproxy/bootstrap_test.go
  pkg/haproxy/config.go
  pkg/haproxy/haproxy.go
  pkg/haproxy/haproxy_test.go
  pkg/haproxy/secrets.go
  pkg/haproxy/tls.go
  pkg/haproxy/utils.go
  pkg/util/machines.go
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Add e2e for multi-node control plane
  test/e2e/README.md
  test/e2e/capv_resource_generators.go
  test/e2e/capv_test.go
  test/e2e/framework/multi_node_control_plane.go
  test/e2e/govmomi_test.go
Due: pull-cluster-api-provider-vsphere-verify-markdown

Lock root account in HAProxy LB OVA
  hack/tools/haproxy/packer.json
Due: pull-cluster-api-provider-vsphere-test

Support image upload of HAProxy LB OVA
  hack/tools/haproxy/hack/image-upload.py
Due: pull-cluster-api-provider-vsphere-test

Updated HAProxy docs to list OVA URIs
  hack/tools/haproxy/README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test
