Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-apidiff-main:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-1.34
      command:
      - runner.sh
      args:
      - ./hack/ci-apidiff.sh
      resources:
        limits:
          cpu: 2
          memory: 3Gi
        requests:
          cpu: 2
  ...

pull-cluster-api-provider-vsphere-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-1.34
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi
      command:
      - runner.sh
      args:
      - make
      - test-junit

pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-gcve-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-1.34
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
  ...

pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-1.34
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-gcve-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-1.34
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
  ...

pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251029-79c2132152-1.34
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-provider-vsphere-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

Bump Kubernetes version used for testing to v1.35.0-rc.0
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to CAPO v1.12.0-rc.1
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to V2.7.0
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  controllers/controllers_suite_test.go
  controllers/vmware/controllers_suite_test.go
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
  internal/test/helpers/vcsim/builder.go
  internal/test/helpers/vcsim/simulator.go
  internal/test/helpers/webhook.go
  test/infrastructure/vcsim/controllers/vcsim_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to V2.7.0 (#3701)
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  controllers/controllers_suite_test.go
  controllers/vmware/controllers_suite_test.go
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
  internal/test/helpers/vcsim/builder.go
  internal/test/helpers/vcsim/simulator.go
  internal/test/helpers/webhook.go
  test/infrastructure/vcsim/controllers/vcsim_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Makefile: ensure KAL is compiled using golangci-lint v2.7.0
  Makefile
  hack/tools/kal/.custom-gcl.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to CAPI v1.12.0-rc.1
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump cpi to v1.35.0-rc.0
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump Kubernetes version used for testing to v1.35.0-rc.1
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to CAPI v1.12.0
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump Go to 1.24.11
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump Kubernetes version used for testing to v1.35.0
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Start testing 1.36
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to CAPI v1.12.1
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update OVA list with K8s v1.35 images
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Start using 1.35 ova
  Makefile
  internal/test/helpers/vcsim/model.go
  test/e2e/config/config-overrides-example.yaml
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/clusterclass/patch-vsphere-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Revert "CI: clear /etc/sysconfig/kubelet to ensure --pod-infra-container-image is not set"
  test/e2e/data/infrastructure-vsphere-govmomi/main/base/patch-k8s-install-script-kcp.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/base/patch-k8s-install-script-kct.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.11/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.12/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.13/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.14/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/base/patch-k8s-install-script-kcp.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/base/patch-k8s-install-script-kct.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.11/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.12/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.13/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.14/clusterclass/patch-k8s-install-script.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix test extension to use correct image
  .github/ISSUE_TEMPLATE/release_tracking.md
  test/extension/handlers/topologymutation/handler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Revert "Start testing 1.36"
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add 1.15 to support matrix
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Enable PriorityQueue feature gate per default
  config/manager/manager.yaml
  feature/feature.go
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go 1.25.5
  .golangci-kal.yml
  .golangci.yml
  Makefile
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  go.mod
  hack/ensure-go.sh
  packaging/go.mod
  test/go.mod
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump VMOP and add NodeAutoPlacement Feature Gate
  config/manager/manager.yaml
  feature/feature.go
  go.mod
  packaging/go.sum
  test/go.mod
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add VMG controller of node auto placement
  config/rbac/role.yaml
  controllers/vmware/virtualmachinegroup_controller.go
  controllers/vmware/virtualmachinegroup_reconciler.go
  controllers/vspherecluster_reconciler.go
  main.go
  pkg/services/network/netop_provider.go
  pkg/services/network/nsxt_provider.go
  pkg/services/network/nsxt_vpc_provider.go
  pkg/services/vmoperator/control_plane_endpoint.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Updates logic for VMG creation
  controllers/vmware/virtualmachinegroup_reconciler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Initial impl for VSphereMachine AAF changes
  controllers/vmware/virtualmachinegroup_reconciler.go
  go.mod
  pkg/services/vmoperator/constants.go
  pkg/services/vmoperator/vmopmachine.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Removes cluster-name label from affinity rules
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Selectively add node-pool AAF constraint
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
