Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh)

handle nil vsphere machine for vsphere vm
  controllers/vspherevm_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds conditional ginkgo foucs to e2e job
  Makefile
  test/e2e/capv_quick_start_test.go
  test/e2e/storage_policy_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds conditional ginkgo foucs to e2e job
  Makefile
  test/e2e/e2e_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Run conformance tests for CAPV
  Makefile
  test/e2e/capv_quick_start_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/conformance/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/conformance/worker-node-md.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/conformance/worker-node-size.yaml
  test/e2e/data/kubetest/conformance-fast.yaml
  test/e2e/data/kubetest/conformance.yaml
  test/e2e/k8s_conformance_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updates Kube-vip image to v0.4.0
  packaging/flavorgen/flavors/generators.go
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha3/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha4/cluster-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update kube-vip to v0.4.1
  packaging/flavorgen/flavors/generators.go
Due: none

Don't hardcode kube-vip interface
  docs/getting_started.md
  packaging/flavorgen/flavors/env/envsubts_consts.go
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-verify-markdown

Support multiple disks for v1beta1
  apis/v1alpha3/vspheremachine_conversion.go
  apis/v1alpha3/vspheremachinetemplate_conversion.go
  apis/v1alpha3/vspherevm_conversion.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/vspheremachine_conversion.go
  apis/v1alpha4/vspheremachinetemplate_conversion.go
  apis/v1alpha4/vspherevm_conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1beta1/types.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  pkg/services/govmomi/vcenter/clone.go
  pkg/services/govmomi/vcenter/clone_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Align CAPV Makefile targets with CAPI and update the code
  Makefile
  apis/v1alpha3/conversion.go
  apis/v1alpha4/conversion.go
  hack/tools/tools.go
  pkg/services/vimmachine.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add missing api type conversions
  Makefile
  apis/v1alpha3/vsphereclusteridentity_conversion.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha3/zz_generated.deepcopy.go
  apis/v1alpha4/vsphereclusteridentity_conversion.go
  apis/v1alpha4/vsphereclustertemplate_conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1alpha4/zz_generated.deepcopy.go
  apis/v1beta1/vsphereclusteridentity_conversion.go
  apis/v1beta1/vsphereclustertemplate_conversion.go
  apis/v1beta1/zz_generated.deepcopy.go
  go.sum
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds a provision to skip e2e tests
  Makefile
  hack/e2e.sh
  test/e2e/capi_upgrade_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

test fix
  hack/tools/go.mod
Due: none

upgrade capi to v0.4.7 to fix cert manager issue
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Upgrade CAPI to v1.0.4 on CAPV release v1.0 to fix cert-manager-issue
  go.mod
  go.sum
Due: none

Updates CAPI version to v1.1.0
  apis/v1alpha3/cloudprovider_encoding_test.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  controllers/vmware/test/controllers_suite_test.go
  controllers/vspheredeploymentzone_controller_domain_test.go
  controllers/vspheredeploymentzone_controller_test.go
  go.mod
  go.sum
  hack/ci-test-coverage.sh
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/manager/manager.go
  pkg/manager/options.go
  pkg/services/cloudprovider/csi.go
  pkg/services/network/network.go
  pkg/util/testutil.go
  test/helpers/webhook.go
  test/integration/integration_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add serviceAccount and service discovery controller integration tests
  controllers/controllers_suite_test.go
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_intg_test.go
  controllers/serviceaccount_controller_suite_test.go
  controllers/serviceaccount_controller_unit_test.go
  controllers/servicediscovery_controller.go
  controllers/svcdiscovery_controller_intg_test.go
  controllers/svcdiscovery_controller_suite_test.go
  controllers/svcdiscovery_controller_unit_test.go
  controllers/vmware/test/controllers_suite_test.go
  controllers/vspherecluster_reconciler_test.go
  go.mod
  go.sum
  pkg/builder/intg_test_context.go
  pkg/builder/test_suite.go
  pkg/builder/testutil.go
  pkg/builder/unit_test_context.go
  pkg/context/fake/fake_controller_manager_context.go
  pkg/context/fake/fake_guest_cluster_context.go
  pkg/manager/options.go
  test/e2e/common.go
  test/helpers/envtest.go
  test/integration/integration_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

use correct CAPI version in the require clause in go.mod
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

use correct CAPI version in the require clause in go.mod
  go.mod
  go.sum
Due: none

use correct CAPI version in the require clause in go.mod in release-1.0
  go.mod
  go.sum
Due: none

Fixes CAPI CRD path lookup
  go.mod
  go.sum
  test/helpers/envtest.go
  test/helpers/mod.go
  test/helpers/mod_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add script to run verify-conversion make target
  Makefile
  hack/verify-api-conversion.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

modify boilerplate regex to accomodate go:build build constraint
  controllers/serviceaccount_controller_intg_test.go
  hack/boilerplate/boilerplate.py
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds e2e test for Machine Deployment Rollout test
  test/e2e/capi_machine_deployment_rollout_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Bump golangci-lint to v1.44.0
  apis/v1alpha3/cloudprovider_encoding_test.go
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/services/network/network.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Bump kube-vip to v0.4.1
  packaging/flavorgen/flavors/generators.go
Due: none

fix virtualnetwork name in configureVirtualMachine
  pkg/services/network/network.go
  pkg/services/network/network_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Re-enable cluster upgrade e2e tests
  test/e2e/capi_upgrade_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

dynamically create ip-claim name to avoid issues during concurrently running jobs
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Adds provision to check test coverage
  Makefile
  hack/ci-test-coverage.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update cluster-api to v1.1.0
  Dockerfile
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  controllers/vmware/test/controllers_suite_test.go
  controllers/vspheredeploymentzone_controller_domain_test.go
  controllers/vspheredeploymentzone_controller_test.go
  go.mod
  go.sum
  pkg/builder/intg_test_context.go
  pkg/manager/options.go
  pkg/services/cloudprovider/csi.go
  pkg/util/testutil.go
  test/helpers/webhook.go
  test/integration/integration_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add aggregate cluster-role label for kcp
  config/rbac/aggregate_kcp_label_to_clusterrole_patch.yaml
  config/rbac/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update clusterctl version in e2e to latest patch Update the clusterctl version used by upgrade e2e tests to a newer patch version. The older patch versions might cause e2e tests to fail.
  test/e2e/config/vsphere-ci.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Nil check for machines not uaing failure domain
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Removes a separate IP claim for upgrade tests
  Makefile
  hack/e2e.sh
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha3/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha4/cluster-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

change cluster componenets version to fix ci
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updates e2e conf files to use CAPI 1.1.0
  metadata.yaml
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/shared/metadata.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fixes an upgrade issue
  pkg/services/govmomi/util.go
  pkg/services/govmomi/util_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

temp commits for API type conversion
  apis/v1alpha3/conversion.go
  apis/v1alpha3/vspherevm_conversion.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1beta1/vspherevm_types.go
  apis/v1beta1/zz_generated.deepcopy.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/util_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

chnages for conversion
  apis/v1alpha3/conversion.go
  apis/v1alpha3/conversion_test.go
  apis/v1alpha4/conversion.go
  apis/v1alpha4/vspherevm_conversion.go
Due: none
