Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-apidiff-main:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/ci-apidiff.sh
      resources:
        limits:
          cpu: 2
          memory: 3Gi
        requests:
          cpu: 2
  ...

pull-cluster-api-provider-vsphere-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi
      command:
      - runner.sh
      args:
      - make
      - test-junit

pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-gcve-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
  ...

pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-gcve-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
  ...

pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-provider-vsphere-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

Add verify for downloaded binaries
  hack/ensure-kubectl.sh
  hack/ensure-trivy.sh
  hack/govc-install.sh
  hack/utils.sh
  hack/verify-shellcheck.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell

Improve artifact cleanup
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Improve Kubernetes version resolution
  hack/ci-e2e-lib.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell

Sanitize COREOS_CUSTOM_HOSTNAME
  packaging/flavorgen/flavors/generators.go
  templates/cluster-template-ignition.yaml
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

Bump boskosctl image
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Enforce tls thumbprint must be set in NewVSphereClients
  hack/tools/janitor/main.go
  hack/tools/pkg/janitor/vsphere.go
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main

test: label CSI resources for e2e log collection
  packaging/flavorgen/cloudprovider/csi/vsphere-csi-driver.yaml
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template-supervisor.yaml
  templates/cluster-template-topology-supervisor.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

🌱 e2e: stream logs for CPI and CSI to artifacts (#4109)
  packaging/flavorgen/cloudprovider/csi/vsphere-csi-driver.yaml
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template-supervisor.yaml
  templates/cluster-template-topology-supervisor.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

wip
  api/supervisor/v1beta1/vspheremachine_types.go
  api/supervisor/v1beta1/zz_generated.conversion.go
  api/supervisor/v1beta1/zz_generated.deepcopy.go
  api/supervisor/v1beta2/vspheremachine_types.go
  api/supervisor/v1beta2/zz_generated.deepcopy.go
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Added feature flag VolumeControllerParameters and webhook to reject setting new params when feature flag is not enabled.
  api/supervisor/v1beta1/zz_generated.conversion.go
  feature/feature.go
  internal/webhooks/vmware/vspheremachine.go
  internal/webhooks/vmware/vspheremachine_test.go
  internal/webhooks/vmware/vspheremachinetemplate.go
  internal/webhooks/vmware/vspheremachinetemplate_test.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump kpromo to 4.7.1
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump otel to v1.45 to fix CVEs
  go.mod
  go.sum
  packaging/go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump otel to v1.45 to fix CVEs
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

docs: how to consume staging and nightly images
  README.md
  docs/development.md
  docs/nightly.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
