Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

pull-cluster-api-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-format.sh

pull-cluster-api-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-lint.sh

pull-cluster-api-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-vet.sh

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-test:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - ./scripts/ci-test.sh

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
    preset-cluster-api-provider-vsphere-e2e-creds: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
  ...

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

update: Jenkins Pipeline (#30)
  Jenkinsfile
Due: none

update calico addons to use apps/v1 instead of extensions/v1beta1
  examples/default/addons.yaml
  examples/pre-67u3/addons.yaml
Due: none

add missing deployment selectors in calico addon
  examples/default/addons.yaml
  examples/pre-67u3/addons.yaml
Due: none

update CAPI manager version in manifest examples to v0.2.2
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

add Go types for vSphere CSI addons
  pkg/cloud/vsphere/services/cloudprovider/cloud-controller-manager.go
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

apply CSI driver addons in cluster controller
  controllers/vspherecluster_controller.go
Due: none

vSphere CSI driver requires a separate cloud coinfig format
  controllers/vspherecluster_controller.go
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Images for CNS controller, node driver, attacher, provisioner and metadata syncer should be configurable via vSphere cluster resource
  api/v1alpha2/cloud/encoding_test.go
  api/v1alpha2/cloud/types.go
  api/v1alpha2/cloud/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  controllers/vspherecluster_controller.go
  examples/default/cluster/cluster.yaml
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

only build dev branches from PRs
  Jenkinsfile
Due: none

rename 'ccm' field to 'cloud' and 'cns' field to 'storage'
  api/v1alpha2/cloud/types.go
  api/v1alpha2/cloud/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  controllers/vspherecluster_controller.go
  examples/default/cluster/cluster.yaml
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

mv api/v1alpha2/cloud -> api/v1alpha2/cloudprovider to avoid stutter in package names
  api/v1alpha2/cloudprovider/doc.go
  api/v1alpha2/cloudprovider/encoding.go
  api/v1alpha2/cloudprovider/encoding_test.go
  api/v1alpha2/cloudprovider/types.go
  api/v1alpha2/cloudprovider/zz_generated.deepcopy.go
  api/v1alpha2/vspherecluster_types.go
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update docs/getting_started.md with new provider config fields in VSphereCluster resource
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Allow user to set kubeadm clusterConfiguration imageRepository
  examples/default/controlplane/controlplane.yaml
  examples/generate.sh
  examples/pre-67u3/controlplane/controlplane.yaml
Due: pull-cluster-api-provider-vsphere-verify-shell

CAPI v0.2.2
  examples/generate.sh
  go.mod
  go.sum
  scripts/e2e/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

controller-runtime v0.2.2
  go.mod
  go.sum
Due: none

golangci-lint v1.18.0
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-vsphere-test

CAPI v0.2.3
  examples/generate.sh
  go.mod
  go.sum
  scripts/e2e/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

cloud provider config INI marshallar should add new line after each section
  api/v1alpha2/cloudprovider/encoding.go
Due: none

fix equal comparison of INI string in TestMarshalINI
  api/v1alpha2/cloudprovider/encoding_test.go
Due: none

sort VCenter keys in MarshalINI, otherwise tests are flaky since key names are not sorted
  api/v1alpha2/cloudprovider/encoding.go
  api/v1alpha2/cloudprovider/encoding_test.go
Due: none

support cluster-id in cloud config which is required by vSphere CSI driver
  api/v1alpha2/cloudprovider/encoding_test.go
  api/v1alpha2/cloudprovider/types.go
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

CSI statefulset and daemonset should use different health ports in livenessprobe
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

fix null field in SSH authorized keys due to kustomize removing double quotes
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

single quote resource pool in manifest generation since it can begin with special characters like *
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

add loadbalancing controller for capv
  config/rbac/role.yaml
  controllers/cluster.go
  controllers/loadbalancer/loadbalancer_controller.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  main.go
  pkg/cloud/vsphere/context/loadbalancer_context.go
  pkg/cloud/vsphere/util/loadbalancers.go
  pkg/cloud/vsphere/util/machines.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add aws provider
  go.mod
  go.sum
  pkg/cloud/vsphere/services/interfaces.go
  pkg/cloud/vsphere/services/loadbalancer/aws/errors.go
  pkg/cloud/vsphere/services/loadbalancer/aws/loadbalancers.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add a loadbalancing API for capv
  PROJECT
  api/v1alpha2/loadbalancer_types.go
  api/v1alpha2/vspherecluster_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsloadbalancerconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_loadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add kustomization and manifest generation for loadbalancer resources
  config/crd/kustomization.yaml
  examples/default/provider-components/base/cabpk_manager_patches.yaml
  examples/default/provider-components/base/capi_manager_patches.yaml
  examples/default/provider-components/base/capv_manager_patches.yaml
  examples/default/provider-components/base/kustomization.yaml
  examples/default/provider-components/base/manager_tolerations_patch.yaml
  examples/default/provider-components/loadbalancer/capv_loadbalancer_patch.yaml
  examples/default/provider-components/loadbalancer/credentials.template
  examples/default/provider-components/loadbalancer/kustomization.yaml
  examples/generate.sh
  examples/loadbalancer.yaml
  examples/pre-67u3/provider-components/base/cabpk_manager_patches.yaml
  examples/pre-67u3/provider-components/base/capi_manager_patches.yaml
  examples/pre-67u3/provider-components/base/capv_manager_patches.yaml
  examples/pre-67u3/provider-components/base/kustomization.yaml
  examples/pre-67u3/provider-components/base/manager_tolerations_patch.yaml
  examples/pre-67u3/provider-components/loadbalancer/capv_loadbalancer_patch.yaml
  examples/pre-67u3/provider-components/loadbalancer/credentials.template
  examples/pre-67u3/provider-components/loadbalancer/kustomization.yaml
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update generated examples in docs/getting_started.md to use --cloud-provider=external
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

kubelet in default machine deployment should set --cloud-provider=external
  examples/default/machinedeployment/machinedeployment.yaml
Due: none

fix invalid resource pool in getting started guide
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

CNS docker images were moved from cloudnativestorage/vsphere-block-csi-driver -> vmware/vsphere-block-csi-driver
  examples/default/cluster/cluster.yaml
Due: none

default insecure: true since CAPV doesn't management vCenter certificates yet
  examples/default/cluster/cluster.yaml
  pkg/cloud/vsphere/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update vSphere CNS images in getting started guide
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

fix: cleaning up readme.md
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

added note indicating the need to update manifest images
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

added troubleshooting notes for missing manifest files
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

adding clarity to command for generating manifest files
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

removing extra whitespace
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

removing extra whitespace
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile
