Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-verify-gen:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - runner.sh
      args:
      - make
      - verify-gen

pull-cluster-api-provider-vsphere-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - make
      - test

pull-cluster-api-provider-vsphere-integration-test:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      securityContext:
        privileged: true
        capabilities:
          add:
          - NET_ADMIN
  ...

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

Fixes flaky test for finalizer deletion
  controllers/vspherecluster_reconciler_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Moves KCP watch population under feature flag
  controllers/vspherecluster_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Move IPAddressClaim reconcile to controller
  apis/v1beta1/condition_consts.go
  controllers/vspherevm_controller.go
  controllers/vspherevm_ipaddress_reconciler.go
  controllers/vspherevm_ipaddress_reconciler_test.go
  pkg/services/govmomi/ipam/error.go
  pkg/services/govmomi/ipam/parse.go
  pkg/services/govmomi/ipam/status.go
  pkg/services/govmomi/ipam/status_test.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/service_test.go
  pkg/util/ipaddress_claim.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

implement multivc e2e test
  test/e2e/config/vsphere-dev.yaml
  test/e2e/multivc_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

add explicit securityContexts to the controller
  config/manager/manager.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Refine e2e multivc test
  test/e2e/config/vsphere-dev.yaml
  test/e2e/multivc_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Check for bool ptrs before using it
  controllers/vspherecluster_reconciler.go
  controllers/vspheredeploymentzone_controller_domain.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Marking KCP remediation test as Pending
  test/e2e/mhc_remediation_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add Node IPAM template
  Makefile
  docs/node-ipam-demo.md
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/env/envsubts_consts.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  templates/cluster-template-node-ipam.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Handles error for node controller
  controllers/node_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fixes govmomi dependency imports in hack/tools
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: none

Deprecates the NodeLabeling feature flag
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/node_controller.go
  docs/proposal/node-affinity-and-anti-affinity.md
  feature/feature.go
  main.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

ensure IPAddressClaims are created with a cluster annotation
  controllers/vspherevm_ipaddress_reconciler.go
  controllers/vspherevm_ipaddress_reconciler_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Set the ClusterName label on IP claims instead of setting the annotation
  controllers/vspherevm_ipaddress_reconciler.go
  controllers/vspherevm_ipaddress_reconciler_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update IPAddressClaim rbac for patch
  config/rbac/role.yaml
  controllers/vspherevm_ipaddress_reconciler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

prevent IPAM addresses from being assigned to multiple devices
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusteridentities.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheredeploymentzones.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_clustervirtualmachineimages.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentlibraryproviders.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentsourcebindings.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentsources.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclassbindings.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclasses.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineimages.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachinepublishrequests.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachines.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineservices.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachinesetresourcepolicies.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_webconsolerequests.yaml
  config/rbac/role.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/webhook/manifests.yaml
  pkg/services/govmomi/ipam/status.go
  pkg/services/govmomi/ipam/status_test.go
  pkg/services/govmomi/service.go
  pkg/util/machines.go
  pkg/util/machines_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Introduces parameter for CP zone selection
  Makefile
  apis/v1alpha3/conversion_test.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1beta1/vspherecluster_types.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  controllers/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Re-introduce the keep alive flag
  config/manager/manager.yaml
  controllers/vspherecluster_reconciler.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspherevm_controller.go
  main.go
  pkg/clustermodule/session.go
  pkg/constants/constants.go
  pkg/session/session.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Deprecates the auto configure functioanlity
  apis/v1beta1/vspherefailuredomain_types.go
  apis/v1beta1/vspherefailuredomain_webhook.go
  apis/v1beta1/vspherefailuredomain_webhook_test.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/webhook/manifests.yaml
  controllers/vspheredeploymentzone_controller_domain.go
  controllers/vspheredeploymentzone_controller_domain_test.go
  controllers/vspheredeploymentzone_controller_test.go
  pkg/services/govmomi/metadata/metadata.go
  pkg/services/govmomi/metadata/metadata_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Removed Insecure-Flag changes, keeping Thumbprint passing and added Thumbprint passing to node-ipam-template
  packaging/flavorgen/flavors/crs/csi.go
  packaging/flavorgen/flavors/env/envsubts_consts.go
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

Allow ipv6 gateway to be optional
  apis/v1beta1/types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  pkg/services/govmomi/ipam/parse.go
  pkg/services/govmomi/ipam/status.go
  pkg/services/govmomi/ipam/status_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds metadata for v1.7.0 release
  metadata.yaml
Due: none

add periodic job for trivy scanning
  .github/workflows/scan.yaml
  Makefile
  hack/verify-container-images.sh
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Deflake verify-crd test
  hack/verify-crds.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds

Add update to ipaddressclaim rbac
  config/rbac/role.yaml
  controllers/vspherevm_ipaddress_reconciler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Use dl.k8s.io instead of hardcoded GCS URIs
  hack/ensure-kubectl.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Allow thumbprint update on VSphereVM
  apis/v1beta1/vspherevm_webhook.go
  apis/v1beta1/vspherevm_webhook_test.go
Due: pull-cluster-api-provider-vsphere-verify-gen

Fixed vm task's error message
  pkg/services/govmomi/util.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add VMRef moID to Object status
  apis/v1alpha3/conversion_test.go
  apis/v1alpha3/types.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/types.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1beta1/types.go
  apis/v1beta1/vspherevm_types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  controllers/vspherevm_controller.go
  controllers/vspherevm_controller_test.go
  pkg/services/govmomi/service.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

ServiceAccountController: Respect pause annotations
  controllers/serviceaccount_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

ServiceAccountController: Forcefully set controller ownership on resources
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_intg_test.go
  pkg/util/supervisor.go
  pkg/util/supervisor_test.go
  test/helpers/vmware/intg_test_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix golang-lint call and pinning
  Makefile
  hack/tools/Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
