Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh)

Adds webhooks for Failure Domain types
  api/v1alpha4/vspheredeploymentzone_webhook.go
  api/v1alpha4/vspheredeploymentzone_webhook_test.go
  api/v1alpha4/vspheredeploymentzonelist_webhook.go
  api/v1alpha4/vspherefailuredomain_webhook.go
  api/v1alpha4/vspherefailuredomain_webhook_test.go
  api/v1alpha4/vspherefailuredomainlist_webhook.go
  config/default/webhookcainjection_patch.yaml
  config/rbac/role.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds vcsim test helper
  Makefile
  config/rbac/role.yaml
  controllers/vspherevm_controller_test.go
  test/helpers/envtest.go
  test/helpers/simulator.go
  test/helpers/webhook.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds govmomi compute cluster package
  pkg/services/govmomi/cluster/cluster_suite_test.go
  pkg/services/govmomi/cluster/rule.go
  pkg/services/govmomi/cluster/rule_test.go
  pkg/services/govmomi/cluster/service.go
  pkg/services/govmomi/cluster/service_test.go
  pkg/services/govmomi/cluster/vmgroup.go
  pkg/services/govmomi/cluster/vmgroup_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds VsphereDeploymentZone reconciliation logic
  api/v1alpha4/condition_consts.go
  config/rbac/role.yaml
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheredeploymentzone_controller_domain.go
  controllers/vspheredeploymentzone_controller_domain_test.go
  controllers/vspheredeploymentzone_controller_test.go
  main.go
  pkg/context/fake/fake_machine_context.go
  pkg/context/vspheredeploymentzone_context.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/find/object.go
  pkg/services/govmomi/metadata/metadata.go
  pkg/services/govmomi/vcenter/clone.go
  pkg/services/govmomi/vcenter/clone_test.go
  pkg/session/session.go
  pkg/taggable/get.go
  pkg/taggable/object.go
  test/helpers/envtest.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Support for Failure Domain for VSphereCluster
  api/v1alpha4/condition_consts.go
  controllers/vspherecluster_controller.go
  controllers/vspherecluster_controller_test.go
  pkg/context/fake/fake_cluster_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Multi AZ bug fixes
  controllers/vspheredeploymentzone_controller_domain.go
  controllers/vspheremachine_controller.go
  pkg/services/govmomi/cluster/rule.go
  pkg/services/govmomi/cluster/vmgroup.go
  pkg/services/govmomi/cluster/vmgroup_test.go
  pkg/services/govmomi/metadata/metadata.go
  pkg/services/govmomi/service.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds reconciliation logic for VMGroup task
  controllers/vspherevm_controller_test.go
  pkg/services/govmomi/cluster/service.go
  pkg/services/govmomi/cluster/vmgroup.go
  pkg/services/govmomi/cluster/vmgroup_test.go
  pkg/services/govmomi/service.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Support for Failure Domain for VSphereMachine
  controllers/vspheremachine_controller.go
  controllers/vspheremachine_controller_test.go
  controllers/vspheremachine_controller_unit_test.go
  controllers/vspherevm_controller.go
  controllers/vspherevm_controller_test.go
  pkg/context/vm_context.go
  pkg/services/govmomi/service.go
  pkg/util/machines.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Removes unused rbac files
  config/rbac/vspheredeploymentzone_editor_role.yaml
  config/rbac/vspheredeploymentzone_viewer_role.yaml
  config/rbac/vspherefailuredomain_editor_role.yaml
  config/rbac/vspherefailuredomain_viewer_role.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fix VSphereCluster VCenterAvailable condition
  controllers/vspherecluster_controller.go
  controllers/vspherecluster_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add VSphereClusterTemplate type
  PROJECT
  api/v1alpha4/vspherecluster_webhook.go
  api/v1alpha4/vsphereclustertemplate_types.go
  api/v1alpha4/vsphereclustertemplate_webhook.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_vsphereclustertemplates.yaml
  config/crd/patches/webhook_in_vsphereclustertemplates.yaml
  config/webhook/manifests.yaml
  main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

switch to using kube-vip templates in ci - adds ip claim and release in the setup script - add sleep to give time for vpn container to be up. - change ci network to network-6
  Makefile
  hack/e2e.sh
  hack/ensure-kubectl.sh
  hack/ipclaim-template.yaml
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update OWNERS files: * Add gab-satchi and srm09 as co-maintainers * Update Cluster API and SIG Cluster Lifecycle leads / admins * Add vrabbi and maxrink as reviewers
  OWNERS
  OWNERS_ALIASES
Due: none

Bumps golang from 1.16.0 to 1.16.7.
  Dockerfile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-e2e

Updating GoLang version in Dockerfile
  Dockerfile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-e2e

Matching Golang version with CAPI 0.3 release in Dockerfile
  Dockerfile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-e2e

add details about VSPHERE_STORAGE_POLICY to doc
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fix VSphereCluster VCenterAvailable condition
  controllers/vspherecluster_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add support for datastoreCluster
  api/v1alpha4/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  packaging/flavorgen/flavors/env/envsubts_consts.go
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/util/helpers.go
  pkg/services/govmomi/vcenter/clone.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add metadata to the vspheremachinetemplate
  api/v1alpha3/conversion_test.go
  api/v1alpha3/types.go
  api/v1alpha3/vspheremachinetemplate_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha3/zz_generated.deepcopy.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add feature gate machinery
  feature/feature.go
  feature/gates.go
  main.go
Due: none

fix go imports for component-base
  go.mod
  go.sum
Due: none

add storagePolicyName to the cluster-template
  templates/cluster-template.yaml
Due: none

remove kube-rbac-proxy in accordance with v1alpha4 migration
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add vsphereStoragePolicy to stringVars slice
  packaging/flavorgen/flavors/util/helpers.go
Due: none

delete cluster-template.yaml, document custom template commands
  docs/development.md
  templates/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-markdown

bump controller runtime, controller-tools. - fixes linter issues - updates envtest webhook configs
  api/v1alpha4/vspheredeploymentzone_webhook.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheredeploymentzones.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/webhook/manifests.yaml
  controllers/vspherecluster_controller.go
  controllers/vspherecluster_controller_test.go
  controllers/vspherevm_controller.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  packaging/flavorgen/flavors/crs/cpi.go
  test/helpers/webhook.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

bump kustomize
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

add ci-test
  ci-test.txt
Due: none

Update CAPI contract version chart
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

add missing printcolumn to v1alpha3
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/vspheremachine_types.go
  api/v1alpha4/vspherecluster_types.go
  api/v1alpha4/vspheremachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updating contract version on CAPV
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

add missing printcolumn to v1alpha3 to release-0.7
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/vspheremachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

update common label for CRDs
  config/crd/kustomization.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

update e2e kustomize patches to use v1beta1
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-resource-set.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

update CAPI dep to v1.0.0
  api/v1alpha4/vspherecluster_conversion.go
  api/v1alpha4/vspheremachine_conversion.go
  go.mod
  go.sum
  metadata.yaml
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/shared/metadata.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

clean up irrelevant conditionst
  api/v1alpha3/condition_consts.go
  api/v1alpha4/condition_consts.go
  api/v1beta1/condition_consts.go
  controllers/vspherecluster_controller.go
  pkg/context/cluster_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e
