Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile

Updated controller-tools to v0.2.0 as well
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/crd.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/zz_generated.markerhelp.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Remove warning on getting started doc
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update getting started doc with release images
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update generation script w correct CABPK image
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Add -b option to hack/release.sh
  hack/release.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

use Join NodeRegistration for CRI socket path on kubeadm join
  pkg/cloud/vsphere/services/govmomi/create.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

log using WithValues for key=value formatted log messagse
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
Due: none

remove MachineRef is when vm is deleted
  pkg/cloud/vsphere/services/govmomi/service.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add label to be able to list vspheremachines that are part of cluster
  examples/controlplane/controlplane.yaml
Due: none

Move tooling targets to dedicated Makefile; check
  Makefile
  hack/check-format.sh
  hack/check-lint.sh
  hack/check-mdlint.sh
  hack/check-shell.sh
  hack/check-vet.sh
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/update-generated.sh
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Keep old hack/check-* files for CI compatibility
  Makefile
  hack/check-format.sh
  hack/check-lint.sh
  hack/check-mdlint.sh
  hack/check-shell.sh
  hack/check-vet.sh
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

CAPI 0.2.1
  examples/generate.sh
  go.mod
  go.sum
Due: pull-cluster-api-provider-vsphere-verify-shell

Updating docs for CAPI 0.2.1
  README.md
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fix bug in manifest Dockerfile
  .dockerignore
  hack/tools/generate-yaml/Dockerfile
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Add service domain to the cluster config
  examples/cluster/cluster.yaml
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

change env variable to SERVICE_DOMAIN and add environment variable to the get start readme
  docs/getting_started.md
  examples/cluster/cluster.yaml
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell

fix broken link to download clusterctl
  scripts/e2e/bootstrap_job.template
  scripts/e2e/bootstrap_job/clusterctl.sh
  scripts/e2e/e2e.sh
  scripts/e2e/generate-e2e-spec.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

git ignore envars.txt
  .gitignore
Due: none

use govmomi types.VirtualEthernetCardMacType for NIC address type
  pkg/cloud/vsphere/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Check KubeadmConfig for APIEndpoint
  controllers/vspherecluster_controller.go
  go.mod
  go.sum
  main.go
  pkg/cloud/vsphere/util/kubeadm.go
  pkg/cloud/vsphere/util/kubeadm_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update RBAC to read kubeadmconfigs
  config/rbac/role.yaml
  controllers/vspherecluster_controller.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

jenkins
  JenkinsPod.yaml
  Jenkinsfile
Due: none

publish netapp-v1alpha2 dev image
  Jenkinsfile
Due: none

gitignore vendor
  .gitignore
Due: none

support the external vSphere cloud provider
  controllers/vspherecluster_controller.go
  examples/controlplane/controlplane.yaml
  pkg/cloud/vsphere/services/cloudprovider/addons.go
  pkg/cloud/vsphere/util/kubeclient.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

NKS-2320 vsphere creds in secrets (#28)
  .gitignore
  pkg/cloud/vsphere/context/cluster_context.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add a field to set the external cloud provider image
  api/v1alpha2/cloud/encoding.go
  api/v1alpha2/cloud/encoding_test.go
  api/v1alpha2/cloud/types.go
  api/v1alpha2/cloud/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  controllers/vspherecluster_controller.go
  examples/cluster/cluster.yaml
  pkg/cloud/vsphere/services/cloudprovider/addons.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update docs/getting-started.md to set -u for manifest generation on vSphere < 6.7u3
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

update manifest generation examples to support pre 6.7u3 and 6.7u3 and above
  examples/default/addons.yaml
  examples/default/cluster/cluster.yaml
  examples/default/cluster/kustomization.yaml
  examples/default/cluster/kustomizeconfig.yaml
  examples/default/controlplane/controlplane.yaml
  examples/default/controlplane/kustomization.yaml
  examples/default/controlplane/kustomizeconfig.yaml
  examples/default/machinedeployment/kustomization.yaml
  examples/default/machinedeployment/kustomizeconfig.yaml
  examples/default/machinedeployment/machinedeployment.yaml
  examples/default/provider-components/cabpk_manager_patches.yaml
  examples/default/provider-components/capi_manager_patches.yaml
  examples/default/provider-components/capv_manager_patches.yaml
  examples/default/provider-components/kustomization.yaml
  examples/default/provider-components/manager_tolerations_patch.yaml
  examples/generate.sh
  examples/pre-67u3/addons.yaml
  examples/pre-67u3/cluster/cluster.yaml
  examples/pre-67u3/cluster/kustomization.yaml
  examples/pre-67u3/cluster/kustomizeconfig.yaml
  examples/pre-67u3/controlplane/controlplane.yaml
  examples/pre-67u3/controlplane/kustomization.yaml
  examples/pre-67u3/controlplane/kustomizeconfig.yaml
  examples/pre-67u3/machinedeployment/kustomization.yaml
  examples/pre-67u3/machinedeployment/kustomizeconfig.yaml
  examples/pre-67u3/machinedeployment/machinedeployment.yaml
  examples/pre-67u3/provider-components/cabpk_manager_patches.yaml
  examples/pre-67u3/provider-components/capi_manager_patches.yaml
  examples/pre-67u3/provider-components/capv_manager_patches.yaml
  examples/pre-67u3/provider-components/kustomization.yaml
  examples/pre-67u3/provider-components/manager_tolerations_patch.yaml
Due: pull-cluster-api-provider-vsphere-verify-shell

comment vSphere version requirement in example manifests
  examples/default/cluster/cluster.yaml
  examples/default/controlplane/controlplane.yaml
  examples/pre-67u3/cluster/cluster.yaml
  examples/pre-67u3/controlplane/controlplane.yaml
Due: none

Added comment to CPE Parse
  pkg/cloud/vsphere/util/kubeadm.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Remove hack/verify-install.sh
  Makefile
  hack/verify-install.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Add staticcheck script and Makefile target
  Makefile
  go.mod
  go.sum
  hack/check-staticcheck.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

remove controllers/vspheremachine_annotations.go
  controllers/vspheremachine_annotations.go
Due: none

add service domain to the sample work-cluster manifest
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

fix the extra white trailing spaces
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

update the default kubernetes version to 1.15.3 update the get started page vm_template to 1.15.3
  docs/getting_started.md
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell

NKS-2317 tag machines (#29)
  pkg/cloud/vsphere/context/machine_context.go
  pkg/cloud/vsphere/context/rest_session.go
  pkg/cloud/vsphere/services/govmomi/service.go
  pkg/cloud/vsphere/services/govmomi/tags/nks-tags.go
  pkg/cloud/vsphere/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy
