Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)

Prepare metadata.yaml for v1.8 release series
  metadata.yaml
Due: none

Remove go module in hack/tools and align to core CAPI with regards to tools installation.
  Makefile
  hack/go-tools-build.sh
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update OVAs for K8s 1.27.3
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Implement image promotion sync Makefile from core CAPI
  .github/workflows/release.yaml
  Makefile
  apis/v1alpha3/networkdevicespec_conversion.go
  apis/v1alpha4/networkdevicespec_conversion.go
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  docs/development.md
  hack/boilerplate/README.md
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.bzl.txt
  hack/boilerplate/boilerplate.generatego.txt
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/boilerplate/boilerplate_test.py
  hack/boilerplate/test/fail.go
  hack/get-project-maintainers.sh
  hack/release.sh
  hack/tools/bootstrap-base/Dockerfile
  hack/tools/mdlint/Dockerfile
  hack/tools/openvpn/Dockerfile
  hack/tools/shellcheck/Dockerfile
  hack/verify-container-images.sh
  hack/verify-crds.sh
  hack/version.sh
  pkg/util/ipaddress_claim.go
  pkg/version/version.go
  test/e2e/capv_clusterclass_quickstart_test.go
  test/e2e/capv_quick_start_test.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/dhcp_overrides_test.go
  test/e2e/hardware_upgrade_test.go
  test/e2e/node_labeling_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Deprecate AutoConfigure functionality
  .golangci.yml
  apis/v1beta1/vspherefailuredomain_types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

github: remove release notes section from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Remove unused parts from the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fixups after Makefile refactoring
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Refine finalizer handling
  controllers/vmware/test/controllers_test.go
  controllers/vmware/vspherecluster_reconciler.go
  controllers/vspherecluster_reconciler.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

align flags with CAPI and introduce separate concurrency flags
  main.go
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump version to v1.8 in clusterctl-settings
  clusterctl-settings.json
Due: none

Implement image promotion sync Makefile from core CAPI
  .github/workflows/release.yaml
  Makefile
  apis/v1alpha3/networkdevicespec_conversion.go
  apis/v1alpha4/networkdevicespec_conversion.go
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  docs/development.md
  hack/boilerplate/README.md
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.bzl.txt
  hack/boilerplate/boilerplate.generatego.txt
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/boilerplate/boilerplate_test.py
  hack/boilerplate/test/fail.go
  hack/get-project-maintainers.sh
  hack/release.sh
  hack/tools/bootstrap-base/Dockerfile
  hack/tools/haproxy/Dockerfile
  hack/tools/mdlint/Dockerfile
  hack/tools/openvpn/Dockerfile
  hack/tools/shellcheck/Dockerfile
  hack/verify-container-images.sh
  hack/verify-crds.sh
  hack/version.sh
  pkg/util/ipaddress_claim.go
  pkg/version/version.go
  test/e2e/capv_clusterclass_quickstart_test.go
  test/e2e/capv_quick_start_test.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/dhcp_overrides_test.go
  test/e2e/hardware_upgrade_test.go
  test/e2e/node_labeling_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Implement image promotion sync Makefile from core CAPI
  .github/workflows/release.yaml
  Makefile
  apis/v1alpha3/networkdevicespec_conversion.go
  apis/v1alpha4/networkdevicespec_conversion.go
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  docs/development.md
  hack/boilerplate/README.md
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.bzl.txt
  hack/boilerplate/boilerplate.generatego.txt
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/boilerplate/boilerplate_test.py
  hack/boilerplate/test/fail.go
  hack/get-project-maintainers.sh
  hack/release.sh
  hack/tools/bootstrap-base/Dockerfile
  hack/tools/haproxy/Dockerfile
  hack/tools/mdlint/Dockerfile
  hack/tools/openvpn/Dockerfile
  hack/tools/shellcheck/Dockerfile
  hack/verify-container-images.sh
  hack/verify-crds.sh
  hack/version.sh
  pkg/version/version.go
  test/e2e/capv_clusterclass_quickstart_test.go
  test/e2e/capv_quick_start_test.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/dhcp_overrides_test.go
  test/e2e/hardware_upgrade_test.go
  test/e2e/node_labeling_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

OWNERS: Refresh of owners as per meeting of 2023/06/22
  OWNERS
  OWNERS_ALIASES
Due: none

CONTRIBUTING.md: Clarify contribution ladder
  CONTRIBUTING.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Introduce concurrency flags per controller
  controllers/controllers_suite_test.go
  controllers/serviceaccount_controller.go
  controllers/servicediscovery_controller.go
  controllers/vmware/test/controllers_test.go
  controllers/vspherecluster_controller.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  main.go
  pkg/context/controller_manager_context.go
  pkg/manager/manager.go
  pkg/manager/options.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Introduce watch-filter flag as predicate filter + filter out paused objects
  controllers/serviceaccount_controller.go
  controllers/servicediscovery_controller.go
  controllers/vspherecluster_controller.go
  controllers/vsphereclusteridentity_controller.go
  controllers/vspheredeploymentzone_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  main.go
  pkg/context/controller_manager_context.go
  pkg/manager/manager.go
  pkg/manager/options.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Also add release notes to pre releases
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump kpromo to v4.0.4
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix link in release notes to point to CAPV instead of core CAPI
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go 1.20.7
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go 1.19.12
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Treating VSphereVM wasNotFoundByBIOSUUID as transient error
  apis/v1beta1/condition_consts.go
  pkg/services/govmomi/service.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

test: generate junit result for test-integration and add test-junit target
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add powerOffMode to templates
  packaging/flavorgen/flavors/generators.go
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template.yaml
  templates/clusterclass-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

webhook: prevent changes to an already set VSphereVM.spec.biosUUID
  apis/v1beta1/vspherevm_webhook.go
  apis/v1beta1/vspherevm_webhook_test.go
Due: pull-cluster-api-provider-vsphere-verify-gen

test: generate junit result for test-integration and add test-junit target
  Makefile
  test/integration/integration_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e
