Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-verify-gen:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - runner.sh
      args:
      - make
      - verify-gen

pull-cluster-api-provider-vsphere-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - make
      - test

pull-cluster-api-provider-vsphere-integration-test:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      securityContext:
        privileged: true
        capabilities:
          add:
          - NET_ADMIN
  ...

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

Prevent updating supervisors VSphereMachine.Spec.ResourcePolicyName
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix error log when default level cannot be set
  main.go
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

e2e: Stop storing the CAPV image in artifacts
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

test: stream logs for CPI and CSI to artifacts
  packaging/flavorgen/cloudprovider/csi/vsphere-csi-driver.yaml
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
  test/e2e/log_collector.go
  test/e2e/quick_start_test.go
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fix
  test/e2e/anti_affinity_test.go
  test/e2e/dhcp_overrides_test.go
  test/e2e/gpu_pci_passthrough_test.go
  test/e2e/hardware_upgrade_test.go
  test/e2e/log_collector.go
  test/e2e/node_labeling_test.go
  test/e2e/ownerreference_test.go
  test/e2e/storage_policy_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump go-apidiff to v0.8.2
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Clarify our goals for CAPV releases related to CAPI, CPI and Kubernetes releases
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fix images in troubleshooting doc
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Bump CAPI to v1.6.1
  Makefile
  go.mod
  go.sum
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/go.mod
  test/go.sum
  test/integration/integration-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump cloud-provider vsphere to v1.29.0
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Introduce spec.ClusterName for ProviderServiceAccount
  apis/vmware/v1beta1/providerserviceaccount_types.go
  apis/vmware/v1beta1/zz_generated.deepcopy.go
  config/supervisor/crd/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  config/webhook/manifests.yaml
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_suite_test.go
  internal/test/helpers/envtest.go
  internal/webhooks/providerserviceaccount.go
  internal/webhooks/providerserviceaccount_test.go
  main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

github: add release-1.9 to weekly actions and remove release-1.5
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-security-scan.yaml
  .github/workflows/weekly-test-release.yaml
Due: none

github: update md-link check action for release-1.9
  .github/workflows/pr-md-link-check.yaml
Due: none

Fail startup if no CRDs are detected
  main.go
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix ensure-kubectl script
  hack/ensure-kubectl.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Move openvpn to communitiy registry
  hack/e2e.sh
  hack/tools/openvpn/Makefile
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Update docs to link to the OVAs in the community-owned GCP bucket
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update docs to link to the OVAs in the community-owned GCS bucket (part II)
  README.md
  docs/getting_started.md
  docs/ignition.md
  docs/node-ipam-demo.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Add generate-test-infra-prowjobs makefile target and update docs
  Makefile
  docs/release/release-tasks.md
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Prepare main for development of the new release
  .gitignore
  Makefile
  clusterctl-settings.json
  docs/release/release-tasks.md
  metadata.yaml
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/v1.7/base/cluster-template-topology.yaml
  test/e2e/data/infrastructure-vsphere/v1.7/commons/remove-storage-policy.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/base/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/base/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/clusterclass/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/clusterclass/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/clusterclass/patch-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/clusterclass/patch-prekubeadmscript.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/commons/cluster-resource-set-csi-insecure.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/commons/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/commons/remove-storage-policy.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/topology/cluster-template-topology.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/topology/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/workload/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/v1.9/workload/workload-control-plane-endpoint-ip.yaml
  test/e2e/data/shared/main/v1beta1_provider/metadata.yaml
  test/e2e/data/shared/v1.9/v1beta1/metadata.yaml
  test/e2e/data/shared/v1.9/v1beta1_provider/metadata.yaml
  test/integration/integration-dev.yaml
  tilt-provider.json
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

flavor-gen bump CPI manifests and use embed instead of hardcoding
  packaging/flavorgen/cloudprovider/cloud-controller-manager.go
  packaging/flavorgen/cloudprovider/cpi/cpi.yaml
  packaging/flavorgen/cloudprovider/embed.go
  packaging/flavorgen/flavors/crs/cpi.go
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

e2e: implement dynamic IPAM for individual e2e tests so we can run tests in parallel
  Makefile
  hack/e2e.sh
  test/e2e/README.md
  test/e2e/anti_affinity_test.go
  test/e2e/capi_machine_deployment_rollout_test.go
  test/e2e/cluster_upgrade_test.go
  test/e2e/clusterclass_changes_test.go
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/common.go
  test/e2e/dhcp_overrides_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/govmomi_test.go
  test/e2e/gpu_pci_passthrough_test.go
  test/e2e/hardware_upgrade_test.go
  test/e2e/helper/helper.go
  test/e2e/ipam/ipamhelper.go
  test/e2e/ipam/noop.go
  test/e2e/k8s_conformance_test.go
  test/e2e/md_scale_test.go
  test/e2e/multivc_test.go
  test/e2e/node_drain_timeout_test.go
  test/e2e/node_labeling_test.go
  test/e2e/ownerreference_test.go
  test/e2e/quick_start_test.go
  test/e2e/storage_policy_test.go
  test/go.mod
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add laozc to CAPV reviewer
  OWNERS_ALIASES
Due: none

flavorgen: bump kubevip to v0.6.4 and import from file
  packaging/flavorgen/flavors/kubevip/files.go
  packaging/flavorgen/flavors/kubevip/kube-vip.yaml
  packaging/flavorgen/flavors/kubevip/kubevip.go
  packaging/flavorgen/flavors/kubevip/topology.go
  templates/cluster-template-ignition.yaml
  templates/cluster-template-node-ipam.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-e2e

api: deprecate PreferredAPIServerCIDR
  apis/v1beta1/types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Rename e2e-image
  Makefile
  hack/e2e.sh
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/integration/integration-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
