Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile

CAPI 0.1.9
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/config/default/kustomization.yaml
  vendor/sigs.k8s.io/cluster-api/config/default/manager_image_patch.yaml
  vendor/sigs.k8s.io/cluster-api/pkg/controller/cluster/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/pkg/controller/cluster/cluster_controller.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/machine/machine_controller.go
  vendor/sigs.k8s.io/cluster-api/pkg/util/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/pkg/util/util.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add api for vmc
  config/crds/vsphere_v1alpha1_vsphereclusterproviderspec.yaml
  hack/update-generated.sh
  pkg/apis/vsphere/v1alpha1/cloud/vmc/aws/doc.go
  pkg/apis/vsphere/v1alpha1/cloud/vmc/aws/types.go
  pkg/apis/vsphere/v1alpha1/cloud/vmc/aws/zz_generated.deepcopy.go
  pkg/apis/vsphere/v1alpha1/vsphereclusterproviderspec_types.go
  pkg/apis/vsphere/v1alpha1/vsphereclusterproviderspec_types_test.go
  pkg/apis/vsphere/v1alpha1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add vmc logic
  pkg/cloud/vsphere/actuators/cluster/actuator.go
  pkg/cloud/vsphere/actuators/machine/actuator.go
  pkg/cloud/vsphere/services/kubeconfig/kubeconfig.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

allow for time skew in cert generation
  pkg/cloud/vsphere/services/certificates/certificates.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

fix typos
  docs/getting_started.md
  pkg/cloud/vsphere/services/govmomi/template/template.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Refactored the service/govmomi package for v1a2
  Makefile
  hack/check-format.sh
  pkg/cloud/vsphere/services/govmomi/create.go
  pkg/cloud/vsphere/services/govmomi/delete.go
  pkg/cloud/vsphere/services/govmomi/esxi/clone.go
  pkg/cloud/vsphere/services/govmomi/exists.go
  pkg/cloud/vsphere/services/govmomi/update.go
  pkg/cloud/vsphere/services/govmomi/util.go
  pkg/cloud/vsphere/services/govmomi/vcenter/clone.go
  pkg/cloud/vsphere/util/machines.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

controlplane endpoint validation
  pkg/cloud/vsphere/services/kubeconfig/kubeconfig.go
  pkg/cloud/vsphere/services/kubeconfig/kubeconfig_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

set clone status on error
  pkg/cloud/vsphere/services/govmomi/create.go
  pkg/cloud/vsphere/services/govmomi/util.go
  pkg/cloud/vsphere/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fixed fmt.Sprintf bug
  pkg/cloud/vsphere/context/machine_context.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

VSphereCluster controller ported to v1a2
  Makefile
  api/v1alpha2/cloud/zz_generated.deepcopy.go
  api/v1alpha2/vspheremachine_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  hack/update-generated.sh
  main.go
  pkg/cloud/vsphere/services/govmomi/create_test.go
  pkg/cloud/vsphere/services/govmomi/delete.go
  pkg/cloud/vsphere/services/govmomi/update.go
  pkg/cloud/vsphere/services/govmomi/util.go
  pkg/cloud/vsphere/util/kubeclient.go
  pkg/cloud/vsphere/util/machines.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Removed direct YAML dependency
  go.mod
  vendor/modules.txt
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fix hack/verify-crds.sh
  hack/verify-crds.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test

Update Makefile's Go flags to run on Prow
  Makefile
Due: pull-cluster-api-provider-vsphere-test

Always format generated kubebuilder code
  Makefile
Due: pull-cluster-api-provider-vsphere-test

Set min version of Go to 1.12.1
  hack/ensure-go.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Update kubebuilder install script
  scripts/ci-test.sh
  scripts/fetch_ext_bins.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

No longer use shell-with-gopath
  hack/shell-with-gopath.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Update manifest generation for v1alpha2
  .dockerignore
  .gitignore
  api/v1alpha2/vspherecluster_types.go
  config/certmanager/kustomization.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/default/manager_credentials_patch.yaml
  config/default/vsphere_credentials_patch.yaml
  config/manager/credentials.yaml
  config/manager/manager.yaml
  config/rbac/kustomization.yaml
  docs/getting_started.md
  examples/addons.yaml
  examples/cluster/cluster.yaml
  examples/cluster/kustomization.yaml
  examples/cluster/kustomizeconfig.yaml
  examples/controlplane/controlplane.yaml
  examples/controlplane/kustomization.yaml
  examples/controlplane/kustomizeconfig.yaml
  examples/generate.sh
  examples/machinedeployment/kustomization.yaml
  examples/machinedeployment/kustomizeconfig.yaml
  examples/machinedeployment/machinedeployment.yaml
  examples/provider-components/cabpk_image_patch.yaml
  examples/provider-components/kustomization.yaml
  examples/provider-components/manager_tolerations_patch.yaml
  hack/envsubst.py
  hack/tools/generate-yaml/Dockerfile
  hack/tools/manifests-base/Dockerfile
  hack/tools/manifests-base/Makefile
  pkg/cloud/vsphere/context/cluster_context.go
  pkg/cloud/vsphere/services/govmomi/create_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update manifest base used by manifest generator
  hack/tools/generate-yaml/Dockerfile
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Uncomment pkg from vet coverage
  hack/check-vet.sh
Due: pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Place stubs for new VM service
  api/v1alpha2/types.go
  api/v1alpha2/zz_generated.deepcopy.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  pkg/cloud/vsphere/services/interfaces.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fixing a misspelled word
  api/v1alpha2/cloud/doc.go
Due: none

Minor updates to the README
  README.md
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Remove vestigial documentation
  docs/design/machine-actuator-create-workflow.puml
  docs/design/machine-actuator-create-workflow.svg
  docs/design/machine-actuator-exists-workflow.puml
  docs/design/machine-actuator-exists-workflow.svg
  docs/design/ntpServers.md
  docs/design/trustedCerts.md
  docs/machine_images.md
  docs/ova/README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update machine_imaged.md doc to include current OVAs
  docs/machine_images.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

version fix
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

name fix
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

fixing links in doc
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update owners aliases for shared groups to match what is currently defined in the aws provider (and update security contacts).
  OWNERS_ALIASES
  SECURITY_CONTACTS
Due: none

VMService interface and implementation using govmomi
  api/v1alpha2/types.go
  api/v1alpha2/vspheremachine_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  controllers/vspheremachine_controller.go
  pkg/cloud/vsphere/services/govmomi/create.go
  pkg/cloud/vsphere/services/govmomi/create_test.go
  pkg/cloud/vsphere/services/govmomi/delete.go
  pkg/cloud/vsphere/services/govmomi/exists.go
  pkg/cloud/vsphere/services/govmomi/service.go
  pkg/cloud/vsphere/services/govmomi/update.go
  pkg/cloud/vsphere/services/govmomi/util.go
  pkg/cloud/vsphere/util/machines.go
  pkg/cloud/vsphere/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

note about capv master
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update getting started w build cctl
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Point to ci/manifests in getting started guide
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

fix to manifests generation
  examples/provider-components/manager_tolerations_patch.yaml
Due: none
