Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

pull-cluster-api-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-format.sh

pull-cluster-api-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-lint.sh

pull-cluster-api-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-vet.sh

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-test:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - ./scripts/ci-test.sh

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
    preset-cluster-api-provider-vsphere-e2e-creds: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
  ...

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

Fix e2e tests by allowing custom CAPI image
  test/e2e/framework/management_cluster.go
Due: none

move e2e tests to use a vpn connection
  hack/e2e.sh
  scripts/ci-test.sh
  scripts/e2e/README.md
  scripts/e2e/bootstrap_job.template
  scripts/e2e/bootstrap_job/Dockerfile
  scripts/e2e/bootstrap_job/Makefile
  scripts/e2e/bootstrap_job/clusterctl.sh
  scripts/e2e/bootstrap_secret.template
  scripts/e2e/create_kind_cluster.sh
  scripts/e2e/e2e.sh
  scripts/e2e/generate-e2e-spec.sh
  scripts/e2e/hack/Dockerfile
  scripts/e2e/hack/Makefile
  scripts/e2e/hack/bootstrapper.pub
  scripts/e2e/hack/job.yml
  scripts/e2e/hack/secret.template
  scripts/e2e/kind_config.template
  scripts/e2e/wait_for_job.sh
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add a timeout to the restconfig
  pkg/util/kubeclient.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Increase e2e timeout to 5min, change order
  test/e2e/framework/multi_node_control_plane.go
  test/e2e/framework/single_node_control_plane.go
Due: none

Remove vestigial scripts dir
  scripts/ci-test.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Update getting_started.md
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

/etc/hosts update fixes cloudinit vmware reconcile
  docs/getting_started.md
  examples/default/controlplane/controlplane.yaml
  examples/default/machinedeployment/machinedeployment.yaml
  examples/pre-67u3/controlplane/controlplane.yaml
  examples/pre-67u3/machinedeployment/machinedeployment.yaml
Due: pull-cluster-api-provider-vsphere-verify-markdown

add clusterctl-settings.json
  .gitignore
  clusterctl-settings.yaml
Due: none

ova
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Revert "e2e cleanup"
  test/e2e/framework/multi_node_control_plane.go
  test/e2e/framework/single_node_control_plane.go
Due: none

remove kubelet cloud-config from in-tree VCP
  examples/pre-67u3/controlplane/controlplane.yaml
  examples/pre-67u3/machinedeployment/machinedeployment.yaml
Due: none

Build HAProxy OVA with Photon 3 Rev2 minimal
  hack/tools/haproxy/kickstart.json
  hack/tools/haproxy/packer.json
Due: pull-cluster-api-provider-vsphere-test

Do not make HAProxy OVA specific to ESX
  hack/tools/haproxy/kickstart.json
Due: pull-cluster-api-provider-vsphere-test

Cleanup useradd funcs in HAProxy OVA kickstart
  hack/tools/haproxy/kickstart.json
Due: pull-cluster-api-provider-vsphere-test

Clean up HAProxy LB OVA Makefile
  hack/tools/haproxy/Makefile
Due: pull-cluster-api-provider-vsphere-test

Install psmisc package for HAProxy OVA
  hack/tools/haproxy/kickstart.json
Due: pull-cluster-api-provider-vsphere-test

add nsxt loadbalancer types
  api/v1alpha3/nsxtloadbalancer_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_nsxtloadbalancers.yaml
  config/rbac/role.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add nsx-t creds support in the manager
  go.mod
  go.sum
  pkg/context/controller_manager_context.go
  pkg/manager/manager.go
  pkg/manager/options.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add an nsx-t service
  pkg/nsxt/nsxt.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add the nsx-t load balancer controller and context
  api/v1alpha3/nsxtloadbalancer_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_nsxtloadbalancers.yaml
  controllers/loadbalancer/nsxtloadbalancer_controller.go
  pkg/context/nsxt_context.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Rename clusterctl-settings file extension
  clusterctl-settings.json
Due: none

Fixed invalid links
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update CAPV to use CAPI e2e latest
  Makefile
  go.mod
  go.sum
  hack/e2e.sh
  test/e2e/README.md
  test/e2e/capv_component_generators.go
  test/e2e/capv_resource_generators.go
  test/e2e/capv_test.go
  test/e2e/capv_test_utils.go
  test/e2e/e2e.conf
  test/e2e/framework/clean_up.go
  test/e2e/framework/config.go
  test/e2e/framework/config_test.go
  test/e2e/framework/control_plane.go
  test/e2e/framework/framework_flags.go
  test/e2e/framework/management_cluster.go
  test/e2e/framework/multi_node_control_plane.go
  test/e2e/suite_test.go
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Add provider label to CAPV components
  config/default/kustomization.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Use upstream's e2e framework config types
  go.mod
  go.sum
  test/e2e/capv_test.go
  test/e2e/e2e.conf
  test/e2e/framework/config.go
  test/e2e/framework/config_test.go
  test/e2e/framework/management_cluster.go
  test/e2e/suite_test.go
Due: none

move e2e tests to use kubeadmControlPlane
  pkg/util/machines.go
  test/e2e/capv_resource_generators.go
  test/e2e/capv_test.go
  test/e2e/framework/control_plane.go
  test/e2e/suite_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Add cluster-api-maintainers to OWNERS_ALIASES
  OWNERS
  OWNERS_ALIASES
Due: none

default the kubernetes version to v1.16.2
  examples/generate.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

bump csi version to the latest release
  examples/default/cluster/cluster.yaml
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

dump the kind logs into the artifacts directory
  Makefile
  hack/e2e.sh
  test/e2e/suite_test.go
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

wait for CP to be provisioned
  test/e2e/framework/control_plane.go
Due: none

bump our poll timeout
  test/e2e/capv_test.go
Due: none

switch vsphere machine template to centOS
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile
