Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-apidiff-main:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.30
      command:
      - runner.sh
      args:
      - ./hack/ci-apidiff.sh
      resources:
        limits:
          cpu: 2
          memory: 3Gi
        requests:
          cpu: 2
  ...

pull-cluster-api-provider-vsphere-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.30
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi
      command:
      - runner.sh
      args:
      - make
      - test-junit

pull-cluster-api-provider-vsphere-test-integration-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20240111-cf1d81388e-1.27
      securityContext:
        privileged: true
        capabilities:
          add:
          - NET_ADMIN
  ...

pull-cluster-api-provider-vsphere-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - contrib/haproxy/openapi
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-verify-gen:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      command:
      - runner.sh
      args:
      - make
      - verify-gen

revert calico change
  test/e2e/data/cni/calico/calico.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

calico: set 1340 as mtu
  test/e2e/data/cni/calico/calico.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

ipam: fix mtu
  test/e2e/data/infrastructure-vsphere-govmomi/main/ipam/ipam-patch.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

e2e: fixup flake while claiming VIPs
  test/framework/ip/incluster.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

e2e: set mtu for calico
  test/e2e/data/cni/calico/calico.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

[release-1.12] 🌱 e2e: fixup flake while claiming VIPs and and IPAM MTU (#3506)
  test/e2e/data/infrastructure-vsphere-govmomi/main/ipam/ipam-patch.yaml
  test/framework/ip/incluster.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

[release-1.13] 🌱 e2e: fixup flake while claiming VIPs and and IPAM MTU (#3505)
  test/e2e/data/infrastructure-vsphere-govmomi/main/ipam/ipam-patch.yaml
  test/framework/ip/incluster.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go v1.24.4, github.com/cloudflare/circl v1.6.1
  Makefile
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

[release-1.11] 🌱 e2e: fixup flake while claiming VIPs and and IPAM MTU (#3507)
  test/e2e/data/infrastructure-vsphere-govmomi/main/ipam/ipam-patch.yaml
  test/framework/ip/incluster.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go v1.23.10, github.com/cloudflare/circl v1.6.1
  Makefile
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

use different workaround
  test/e2e/data/cni/calico/calico.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

e2e.sh: ensure vSphere connectivity is up
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

fixup and lower ginkgo nodes
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Bump calico to v3.30.1
  test/e2e/data/cni/calico/calico.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

hack: debug mtu to vsphere
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Enhances VirtualMachineSetResourcePolicy reconcile
  pkg/services/vmoperator/resource_policy.go
  pkg/services/vmoperator/resource_policy_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

increase timeout for vsphere connectivity to 5m
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

Bump to CAPI v1.11.0-alpha.1
  Makefile
  go.mod
  go.sum
  packaging/flavorgen/flavors/clusterclass_generators.go
  packaging/go.mod
  packaging/go.sum
  templates/clusterclass-template-supervisor.yaml
  templates/clusterclass-template.yaml
  test/framework/ip/incluster.go
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
