Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230330-8e9af88c7d-1.25
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-vsphere-apidiff-main:
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/ci-apidiff.sh
      resources:
        limits:
          cpu: 2
          memory: 3Gi
        requests:
          cpu: 2
  ...

pull-cluster-api-provider-vsphere-test-main:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 2
          memory: 4Gi
      command:
      - runner.sh
      args:
      - make
      - test-junit

pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-gcve-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
  ...

pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main:
  labels:
    preset-dind-enabled: 'true'
    preset-gcve-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
  ...

pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.35
      command:
      - runner.sh
      args:
      - ./hack/e2e.sh
      env:
      - name: GINKGO_FOCUS
  ...

pull-cluster-api-provider-vsphere-e2e-main:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

Start using 1.36 OVA
  internal/test/helpers/vcsim/model.go
  test/e2e/config/config-overrides-example.yaml
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/main/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/main/clusterclass/patch-vsphere-template.yaml
  test/extension/handlers/topologymutation/handler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPI v1.13.1
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Use v1.13 release artifacts instead of staging
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update readme for release-1.16
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Start testing K8s 1.37
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Prepare main for 1.17
  Makefile
  clusterctl-settings.json
  metadata.yaml
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-prekubeadmscript.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-vm-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/commons/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/topology/cluster-template-topology.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/topology/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/workload/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/workload/workload-control-plane-endpoint-ip.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/clusterclass-quick-start-supervisor.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-prekubeadmscript.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-vm-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/commons/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/topology/cluster-template-topology-supervisor.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/topology/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/workload/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/workload/workload-control-plane-endpoint-ip.yaml
  test/e2e/data/shared/capv/main/metadata.yaml
  test/e2e/data/shared/capv/v1.16/metadata.yaml
  test/e2e/data/shared/rx/main/metadata.yaml
  test/extension/tilt-provider.yaml
  test/infrastructure/net-operator/tilt-provider.yaml
  test/infrastructure/vcsim/tilt-provider.yaml
  tilt-provider.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fix runtimeExtensionProviders version computation for vm-operator
  test/e2e/e2e_setup_test.go
  test/framework/framework.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPV to CAPI main (2026.05.05)
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/e2e/data/shared/capi/v1.14/metadata.yaml
  test/go.mod
  test/go.sum
  test/infrastructure/vcsim/controllers/controlplaneendpoint_controller.go
  test/infrastructure/vcsim/controllers/virtualmachine_controller_test.go
  test/infrastructure/vcsim/controllers/vspherevm_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Improve vm-operator versioning semantic
  Makefile
  test/infrastructure/vcsim/config/crd/vm-operator/9-1/kustomization.yaml
  test/infrastructure/vcsim/config/crd/vm-operator/vm-operator-9.1.yaml
  test/infrastructure/vcsim/tilt-provider.yaml
  test/infrastructure/vm-operator/config/8-0/.gitignore
  test/infrastructure/vm-operator/config/8-0/external-crds/cnsnodevmattachment-crd.yaml
  test/infrastructure/vm-operator/config/8-0/external-crds/imageregistry.vmware.com_clustercontentlibraryitems.yaml
  test/infrastructure/vm-operator/config/8-0/external-crds/imageregistry.vmware.com_contentlibraryitems.yaml
  test/infrastructure/vm-operator/config/8-0/external-crds/netoperator.vmware.com_networkinterfaces.yaml
  test/infrastructure/vm-operator/config/8-0/kustomization.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-drop-certs-volume.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-env-var-patch.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-host-network.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-pull-policy.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-replicas.yaml
  test/infrastructure/vm-operator/config/9-1/.gitignore
  test/infrastructure/vm-operator/config/9-1/external-crds/README.md
  test/infrastructure/vm-operator/config/9-1/external-crds/cns.vmware.com_cnsnodevmattachments.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/cns.vmware.com_storagepolicyquotas.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/cns.vmware.com_storagepolicyusages.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/imageregistry.vmware.com_clustercontentlibraryitems.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/imageregistry.vmware.com_contentlibraryitems.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/netoperator.vmware.com_networkinterfaces.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/topology.tanzu.vmware.com_availabilityzones.yaml
  test/infrastructure/vm-operator/config/9-1/external-crds/topology.tanzu.vmware.com_zones.yaml
  test/infrastructure/vm-operator/config/9-1/kustomization.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-args-patch.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-drop-certs-volume.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-env-var-patch.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-host-network.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-pull-policy.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-replicas.yaml
  test/infrastructure/vm-operator/vm-operator-8.0.yaml
  test/infrastructure/vm-operator/vm-operator-9.1.yaml
  tilt-provider.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix CI
  Makefile
  config/supervisor-tilt/metrics/kustomization.yaml
  config/supervisor-tilt/metrics/namespace.yaml
  test/e2e/config/vsphere.yaml
  test/e2e/data/shared/vmoperator/8.0/metadata.yaml
  test/e2e/data/shared/vmoperator/9.1/metadata.yaml
  test/infrastructure/vcsim/config/crd/vm-operator/9.1/kustomization.yaml
  test/infrastructure/vcsim/tilt-provider.yaml
  test/infrastructure/vm-operator/config/8.0/.gitignore
  test/infrastructure/vm-operator/config/8.0/external-crds/cnsnodevmattachment-crd.yaml
  test/infrastructure/vm-operator/config/8.0/external-crds/imageregistry.vmware.com_clustercontentlibraryitems.yaml
  test/infrastructure/vm-operator/config/8.0/external-crds/imageregistry.vmware.com_contentlibraryitems.yaml
  test/infrastructure/vm-operator/config/8.0/external-crds/netoperator.vmware.com_networkinterfaces.yaml
  test/infrastructure/vm-operator/config/8.0/kustomization.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-drop-certs-volume.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-env-var-patch.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-host-network.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-pull-policy.yaml
  test/infrastructure/vm-operator/config/8.0/vm-operator-replicas.yaml
  test/infrastructure/vm-operator/config/9.1/.gitignore
  test/infrastructure/vm-operator/config/9.1/external-crds/README.md
  test/infrastructure/vm-operator/config/9.1/external-crds/cns.vmware.com_cnsnodevmattachments.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/cns.vmware.com_storagepolicyquotas.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/cns.vmware.com_storagepolicyusages.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/imageregistry.vmware.com_clustercontentlibraryitems.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/imageregistry.vmware.com_contentlibraryitems.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/netoperator.vmware.com_networkinterfaces.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/topology.tanzu.vmware.com_availabilityzones.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/topology.tanzu.vmware.com_zones.yaml
  test/infrastructure/vm-operator/config/9.1/kustomization.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-args-patch.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-drop-certs-volume.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-env-var-patch.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-host-network.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-pull-policy.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-replicas.yaml
  tilt-provider.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Address comments
  hack/e2e.sh
  test/e2e/config/vsphere.yaml
  test/e2e/data/shared/vmoperator/8.0/metadata.yaml
  test/e2e/data/shared/vmoperator/9.1/metadata.yaml
  test/infrastructure/vm-operator/config/8-0/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/config/9-1/vm-operator-image-names.yaml
  test/infrastructure/vm-operator/vm-operator-8.0.yaml
  test/infrastructure/vm-operator/vm-operator-9.1.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump vm-op to latest vc-9.1.0
  .dockerignore
  Makefile
  go.mod
  go.sum
  packaging/go.sum
  pkg/conversion/api/vmoperator/hub/groupversion_info.go
  pkg/conversion/api/vmoperator/hub/virtualmachine_network_types.go
  pkg/conversion/api/vmoperator/hub/virtualmachine_storage_types.go
  pkg/conversion/api/vmoperator/hub/virtualmachine_types.go
  pkg/conversion/api/vmoperator/hub/virtualmachinegroup_types.go
  pkg/conversion/api/vmoperator/hub/zz_generated.deepcopy.go
  pkg/conversion/api/vmoperator/v1alpha2/conversion_test.go
  pkg/conversion/api/vmoperator/v1alpha5/virtualmachine_conversion.go
  pkg/conversion/api/vmoperator/v1alpha5/virtualmachinegroup_conversion.go
  test/e2e/clusterctl_upgrade_test.go
  test/framework/framework.go
  test/framework/vmoperator/vmoperator-capabilities-9.1.yaml
  test/framework/vmoperator/vmoperator.go
  test/go.mod
  test/go.sum
  test/infrastructure/vcsim/config/crd/vm-operator/9.1/kustomization.yaml
  test/infrastructure/vcsim/config/crd/vm-operator/vm-operator-9.1.yaml
  test/infrastructure/vm-operator/config/9.1/external-crds/cns.vmware.com_cnsregistervolumes.yaml
  test/infrastructure/vm-operator/config/9.1/kustomization.yaml
  test/infrastructure/vm-operator/config/9.1/vm-operator-fix-certs-volume-permission.yaml
  test/infrastructure/vm-operator/vm-operator-9.1.yaml
  tilt-provider.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump vm-operator latest main branch
  go.mod
  go.sum
  packaging/go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Skip 9.2 e2e tests
  hack/e2e.sh
Due: pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

draft for cpFailureDomains
  api/supervisor/v1beta1/vspherecluster_types.go
  api/supervisor/v1beta1/zz_generated.conversion.go
  api/supervisor/v1beta1/zz_generated.deepcopy.go
  api/supervisor/v1beta2/vspherecluster_types.go
  api/supervisor/v1beta2/zz_generated.deepcopy.go
  controllers/vmware/vspherecluster_reconciler.go
  controllers/vmware/vspherecluster_reconciler_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add InfrastructurePolicies support
  api/supervisor/v1beta1/conversion_test.go
  api/supervisor/v1beta1/zz_generated.conversion.go
  api/supervisor/v1beta2/vspheremachine_types.go
  api/supervisor/v1beta2/zz_generated.deepcopy.go
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  feature/feature.go
  internal/webhooks/vmware/vspheremachine.go
  internal/webhooks/vmware/vspheremachine_test.go
  internal/webhooks/vmware/vspheremachinetemplate.go
  internal/webhooks/vmware/vspheremachinetemplate_test.go
  pkg/conversion/api/vmoperator/hub/virtualmachine_policy_types.go
  pkg/conversion/api/vmoperator/hub/virtualmachine_types.go
  pkg/conversion/api/vmoperator/hub/zz_generated.deepcopy.go
  pkg/conversion/api/vmoperator/v1alpha2/conversion_test.go
  pkg/conversion/api/vmoperator/v1alpha2/virtualmachine_conversion.go
  pkg/conversion/api/vmoperator/v1alpha5/virtualmachine_conversion.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Refine policy support
  api/supervisor/v1beta1/conversion_test.go
  api/supervisor/v1beta1/zz_generated.conversion.go
  api/supervisor/v1beta2/vspheremachine_types.go
  api/supervisor/v1beta2/zz_generated.deepcopy.go
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  feature/feature.go
  internal/webhooks/vmware/vspheremachine.go
  internal/webhooks/vmware/vspheremachine_test.go
  internal/webhooks/vmware/vspheremachinetemplate.go
  internal/webhooks/vmware/vspheremachinetemplate_test.go
  pkg/conversion/api/vmoperator/hub/zz_generated.deepcopy.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

fix lint error
  api/supervisor/v1beta2/vspheremachine_types.go
  internal/webhooks/vmware/vspheremachine_test.go
  internal/webhooks/vmware/vspheremachinetemplate_test.go
  pkg/conversion/api/vmoperator/hub/virtualmachine_policy_types.go
  pkg/services/vmoperator/vmopmachine_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go v1.25.10
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to Go 1.26
  .github/workflows/pr-golangci-lint.yaml
  .golangci-kal.yml
  .golangci.yml
  Makefile
  cloudbuild-nightly.yaml
  cloudbuild.yaml
  go.mod
  hack/ensure-go.sh
  packaging/go.mod
  test/go.mod
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix linter findings
  .golangci.yml
  controllers/clustermodule_reconciler.go
  controllers/clustermodule_reconciler_test.go
  controllers/vmware/serviceaccount_controller.go
  controllers/vmware/servicediscovery_controller_unit_test.go
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/vspherecluster_reconciler_test.go
  controllers/vspherevm_controller_test.go
  hack/tools/boskosctl/main.go
  hack/tools/pkg/boskos/storage.go
  packaging/flavorgen/flavors/crs/cpi.go
  packaging/flavorgen/flavors/crs/types/cloudprovider_encoding.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/util/helpers.go
  pkg/conversion/api/converter.go
  pkg/conversion/test/roundtrip.go
  pkg/services/govmomi/ipam/status.go
  pkg/services/govmomi/pci/device.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/vcenter/clone.go
  pkg/services/vmoperator/vmopmachine.go
  test/e2e/e2e_suite_test.go
  test/e2e/node_drain_test.go
  test/e2e/ownerrefs_finalizers_test.go
  test/framework/image_preloading.go
  test/framework/ip/incluster.go
  test/framework/ip/vcsim.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump conversion-gen to v0.36
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump to CAPI main & controller-runtime v0.24
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Regenerate manifests after controller-gen bump
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusteridentities.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheredeploymentzones.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherefailuredomains.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_controlplaneendpoints.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_envvars.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_vcentersimulators.yaml
  test/infrastructure/vcsim/config/crd/bases/vcsim.infrastructure.cluster.x-k8s.io_vmoperatordependencies.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump setup-envtest to v0.24
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump controller-gen to v0.21
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump envtest to v1.36.0
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Make it possible to exclude CVEs with govulncheck
  Makefile
  hack/tools/govulncheck/.gitignore
  hack/tools/govulncheck/govulncheck.patch
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Ignore false positive CVE
  .govuln_exclude
Due: none

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)
