Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

pull-cluster-api-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-format.sh

pull-cluster-api-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-lint.sh

pull-cluster-api-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-vet.sh

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-test:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - ./scripts/ci-test.sh

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
    preset-cluster-api-provider-vsphere-e2e-creds: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
  ...

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

make controllers watch for cluster based on the paused field
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
Due: none

add ssh key to retrieve logs
  Makefile
Due: pull-cluster-api-provider-vsphere-test

let deletes go through even if clusters are not there for haproxy/vspherevm
  controllers/haproxyloadbalancer_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
Due: none

check for error before reconcileNormal when needed
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherevm_controller.go
Due: none

check against ctx.cluster instead of err
  controllers/haproxyloadbalancer_controller.go
Due: none

link to rc haproxy OVA
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

bump DefaultCSIMetadataSyncerImage to right patch version
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

packaging: String-quote string variables during substitution
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/helpers.go
Due: none

repo: Lint the codebase
  .golangci.yml
  Makefile
  api/v1alpha2/cloudprovider_encoding.go
  api/v1alpha2/cloudprovider_encoding_test.go
  api/v1alpha3/cloudprovider_encoding.go
  api/v1alpha3/cloudprovider_encoding_test.go
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  go.mod
  go.sum
  hack/check-staticcheck.sh
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  main.go
  packaging/flavorgen/flavors/helpers.go
  pkg/haproxy/haproxy_test.go
  pkg/haproxy/secrets.go
  pkg/services/govmomi/net/net_test.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/vcenter/clone.go
  pkg/util/machines_test.go
  test/e2e/capv_resource_generators.go
  test/e2e/capv_test.go
  test/e2e/capv_test_utils.go
  test/e2e/framework/control_plane.go
  test/e2e/govmomi_test.go
  test/e2e/suite_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

manager: add liveness/readiness probes
  config/manager/manager.yaml
  main.go
  pkg/manager/manager.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update cluster-api kubeadm and control-plane in getting started
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

update capv to use capi rc-3
  go.mod
  go.sum
Due: none

update docs and links to prep for rc-2
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Simplify getting started
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update GettingStarted with instructions for VM tpl
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fixed the value of DefaultCSIControllerImage to point to the correct container image for the vsphere-csi-controller container.
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update controller-gen to v0.2.6-0.20200226180227-d6efdcdd90e2
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fix and enable conversion webhooks
  api/v1alpha2/vspherecluster_webhook.go
  api/v1alpha2/vspheremachine_webhook.go
  api/v1alpha2/vspheremachinetemplate_webhook.go
  config/webhook/manager_webhook_patch.yaml
  main.go
  pkg/manager/manager.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update env variable to pass csi-vsphere.conf
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Minor docs fixups
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

add variable for dataplane and guestinfo urls to enable airgap builds
  hack/tools/haproxy/ansible/roles/cloudinit/tasks/main.yml
  hack/tools/haproxy/ansible/roles/haproxy/tasks/main.yml
  hack/tools/haproxy/packer.json
Due: pull-cluster-api-provider-vsphere-test

remove annotation overriding to preserve the template's annotations
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

strip data of clonespec from logs
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Bump dependencies, Cluster API to 0.3.0 GA
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

inject CAPV credentials as file
  config/default/credentials.yaml
  config/default/manager_credentials_patch.yaml
  main.go
  pkg/manager/manager.go
  pkg/manager/options.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

pass a pointer to unmarshal
  pkg/manager/manager.go
  pkg/manager/options.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

update docs to point to the haproxy ova v0.6.0
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

haproxy: Account for clock skew in certificate generation
  pkg/haproxy/secrets.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

haproxy: Use ctrl.Result, requeue after reconfiguration error
  controllers/haproxyloadbalancer_controller.go
Due: none

read failureReason and failureMessage from the vsphereVM object to the vspheremachine
  api/v1alpha3/vspherevm_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  pkg/services/govmomi/errors.go
  pkg/services/govmomi/service.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

let delete go through if we are not able to find the vspherevm
  controllers/vspheremachine_controller.go
Due: none

Fix typo FullClone mode is NOT the fastest.
  api/v1alpha3/types.go
Due: none

Set network interface name with cloud-init set-name
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  pkg/util/constants.go
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add field to v1a2 for backward compatibility
  api/v1alpha2/types.go
  api/v1alpha2/vspheremachine_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

cloudprovider: Allow extra arguments to be passed to CPI
  api/v1alpha2/vspherecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/cloudprovider_encoding.go
  api/v1alpha3/cloudprovider_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  controllers/vspherecluster_controller.go
  pkg/services/cloudprovider/cloud-controller-manager.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

requeue when we are waiting and not returning an error
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
Due: none

fix panic in MarshalCloudProviderArgs
  api/v1alpha3/cloudprovider_encoding.go
Due: none

Update spacing
  pkg/util/machines_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

increase haproxy health-check thresholds
  pkg/haproxy/config.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add hitless reload to haproxy
  pkg/haproxy/config.go
  pkg/haproxy/secrets.go
  pkg/haproxy/tls.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile
