Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-apidiff-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-test-integration-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-e2e-main: any of: ^((apis|config|controllers|feature|hack|packaging|pkg|test|webhooks)/|Dockerfile|go\.mod|go\.sum|main\.go|Makefile)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-verify-gen: any of: ^((apis|config|contrib|controllers|packaging|pkg|templates)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum|main\.go)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum|main\.go)

Bump CAPI to v1.13.0-beta.0
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

✨ Allow to set nestedHV, ftEncryptionMode and migrateEncryption
  api/govmomi/v1beta1/types.go
  api/govmomi/v1beta1/zz_generated.conversion.go
  api/govmomi/v1beta1/zz_generated.deepcopy.go
  api/govmomi/v1beta2/types.go
  api/govmomi/v1beta2/zz_generated.deepcopy.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  pkg/services/govmomi/vcenter/clone.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump actions for v1.16
  .github/workflows/weekly-md-link-check.yaml
  .github/workflows/weekly-security-scan.yaml
  .github/workflows/weekly-test-release.yaml
Due: none

Prepare main for v1.17
  Makefile
  clusterctl-settings.json
  test/e2e/clusterctl_upgrade_test.go
  test/e2e/config/vsphere.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/clusterclass-quick-start.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-prekubeadmscript.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-vm-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/commons/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/topology/cluster-template-topology.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/topology/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/workload/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-govmomi/v1.16/workload/workload-control-plane-endpoint-ip.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/clusterclass-quick-start-supervisor.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-k8s-install-script.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-prekubeadmscript.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-vm-namingstrategy.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/clusterclass/patch-vsphere-template.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/commons/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/commons/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/commons/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/topology/cluster-template-topology-supervisor.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/topology/cluster.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/topology/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/workload/kustomization.yaml
  test/e2e/data/infrastructure-vsphere-supervisor/v1.16/workload/workload-control-plane-endpoint-ip.yaml
  test/e2e/data/shared/capv/main/metadata.yaml
  test/e2e/data/shared/capv/v1.16/metadata.yaml
  test/e2e/data/shared/rx/main/metadata.yaml
  test/extension/tilt-provider.yaml
  test/infrastructure/net-operator/tilt-provider.yaml
  test/infrastructure/vcsim/tilt-provider.yaml
  tilt-provider.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix comments: add VLANs on v1beta1 also
  api/supervisor/v1beta1/conversion.go
  api/supervisor/v1beta1/conversion_test.go
  api/supervisor/v1beta1/vspheremachine_types.go
  api/supervisor/v1beta1/zz_generated.conversion.go
  api/supervisor/v1beta1/zz_generated.deepcopy.go
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/supervisor/crd/bases/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fetch zone info from already-placed VM condition message
  controllers/vmware/virtualmachinegroup_reconciler.go
  controllers/vmware/virtualmachinegroup_reconciler_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Tune controller concurrency and cache timeout for scale
  main.go
  test/infrastructure/vcsim/main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

✨ Allow to configure crypto
  api/govmomi/v1beta1/types.go
  api/govmomi/v1beta1/zz_generated.conversion.go
  api/govmomi/v1beta2/types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  pkg/services/govmomi/vcenter/clone.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump google.golang.org/grpc to fix CVE
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump google.golang.org/grpc to fix CVE
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump google.golang.org/grpc to fix CVE
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  Makefile
  controllers/controllers_suite_test.go
  controllers/vmware/controllers_suite_test.go
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
  go.mod
  go.sum
  internal/test/helpers/vcsim/builder.go
  internal/test/helpers/vcsim/simulator.go
  internal/test/helpers/webhook.go
  packaging/go.mod
  packaging/go.sum
  test/go.mod
  test/go.sum
  test/infrastructure/vcsim/controllers/vcsim_controller.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CPI to v1.36.0-beta.0
  packaging/flavorgen/cloudprovider/cpi/cpi.yaml
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Start testing with Kubernetes v1.36.0-beta.0
  test/e2e/config/vsphere.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPI to v1.13.0-beta.1
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Complete bump to CAPI v1.13.0-beta.1
  test/e2e/scale_test.go
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Complete bump to CAPI v1.13.0-beta.1
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/scale_test.go
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Stop patching VSphereMachine on every reconcile
  pkg/services/vmoperator/vmopmachine.go
  pkg/util/kubeclient.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

🌱 Migrate away from custom GitHub action approval workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

Bump go v1.25.9
  Makefile
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPI v1.13.0-rc.0
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/config/vsphere.yaml
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPI v1.11.8
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/config/vsphere.yaml
  test/e2e/ownerrefs_finalizers_test.go
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Bump CAPI v1.12.5
  Makefile
  go.mod
  go.sum
  packaging/go.mod
  packaging/go.sum
  test/e2e/cluster_upgrade_runtimesdk_test.go
  test/e2e/config/vsphere.yaml
  test/e2e/ownerrefs_finalizers_test.go
  test/go.mod
  test/go.sum
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-apidiff-main, pull-cluster-api-provider-vsphere-test-main, pull-cluster-api-provider-vsphere-e2e-govmomi-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-govmomi-main, pull-cluster-api-provider-vsphere-e2e-supervisor-blocking-main, pull-cluster-api-provider-vsphere-e2e-vcsim-supervisor-main, pull-cluster-api-provider-vsphere-test-integration-main, pull-cluster-api-provider-vsphere-e2e-main, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-verify-gen, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e
