Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

pull-cluster-api-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-format.sh

pull-cluster-api-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-lint.sh

pull-cluster-api-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/check-vet.sh

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-test:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - ./scripts/ci-test.sh

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
    preset-cluster-api-provider-vsphere-e2e-creds: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
  ...

post-cluster-api-provider-vsphere-deploy:
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-gcs-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190806-012cf5f-master
      resources:
        requests:
          cpu: 1000m
      command:
      - runner.sh
      args:
  ...

Support for load balancing extra services through HAProxy
  api/v1alpha3/haproxyloadbalancer_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  controllers/haproxyloadbalancer_controller.go
  pkg/haproxy/config.go
  pkg/haproxy/haproxy_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

packaging: Remove machine deployment selector
  packaging/flavorgen/flavors/generators.go
Due: none

Sanitise e2e test script
  Makefile
  hack/e2e.sh
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

generator: Enable join retries by default
  go.mod
  go.sum
  packaging/flavorgen/flavors/generators.go
Due: none

v1alpha2: Remove unused INi file encoding functions
  api/v1alpha2/cloudprovider_encoding.go
  api/v1alpha2/cloudprovider_encoding_test.go
  api/v1alpha2/cloudprovider_types.go
  api/v1alpha2/zz_generated.conversion.go
Due: none

v1alpha3: Escape characters for inifile encoding appropriately Add test for Microsoft Active Directory passwords
  api/v1alpha3/cloudprovider_encoding.go
  api/v1alpha3/cloudprovider_encoding_test.go
Due: none

point to the new HAProxy OVA
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Remove build tooling for HAProxy OVA
  hack/tools/haproxy/.dockerignore
  hack/tools/haproxy/.gitignore
  hack/tools/haproxy/Dockerfile
  hack/tools/haproxy/Makefile
  hack/tools/haproxy/README.md
  hack/tools/haproxy/ansible/.gitignore
  hack/tools/haproxy/ansible/ansible.cfg
  hack/tools/haproxy/ansible/playbook.retry
  hack/tools/haproxy/ansible/playbook.yml
  hack/tools/haproxy/ansible/roles/cloudinit/tasks/main.yml
  hack/tools/haproxy/ansible/roles/haproxy/files/etc/systemd/system/haproxy.service.d/cloud-init.conf
  hack/tools/haproxy/ansible/roles/haproxy/tasks/main.yml
  hack/tools/haproxy/ansible/roles/pki/files/usr/local/bin/new-ca.sh
  hack/tools/haproxy/ansible/roles/pki/files/usr/local/bin/new-cert.sh
  hack/tools/haproxy/ansible/roles/pki/tasks/main.yml
  hack/tools/haproxy/ansible/roles/sysprep/files/etc/hosts
  hack/tools/haproxy/ansible/roles/sysprep/tasks/main.yml
  hack/tools/haproxy/example/haproxy.cfg
  hack/tools/haproxy/example/id_rsa
  hack/tools/haproxy/example/id_rsa.pub
  hack/tools/haproxy/example/meta-data
  hack/tools/haproxy/example/user-data
  hack/tools/haproxy/hack/image-build-ova.py
  hack/tools/haproxy/hack/image-govc-cloudinit.sh
  hack/tools/haproxy/hack/image-post-create-config.sh
  hack/tools/haproxy/hack/image-ssh.sh
  hack/tools/haproxy/hack/image-tools.sh
  hack/tools/haproxy/hack/image-upload.py
  hack/tools/haproxy/kickstart.json
  hack/tools/haproxy/packer.json
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

generate an empty selector
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/helpers.go
Due: none

Update README with latest OVAs
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

haproxyloadbalancer: Ensure we don't have transactions open
  controllers/haproxyloadbalancer_controller.go
Due: none

upgrade csi to v2.0.0 for newly created clusters
  controllers/vspherecluster_controller.go
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Use DataSecretName to get Bootstrap data
  controllers/vspheremachine_controller.go
Due: none

Fix type and add comment
  controllers/vspheremachine_controller.go
Due: none

Initialize BootstrapRef and set Name, Namespace
  controllers/vspheremachine_controller.go
Due: none

README update
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

update the latest changes to the csi drivers
  pkg/services/cloudprovider/csi.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Fix race condition that leads to dropping the biosuuid
  controllers/haproxyloadbalancer_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  pkg/services/govmomi/errors.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

bump CAPI version
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Update go.mod, go.sum for govmomi 0.23, to enable hierarchichal network disambiguations.
  go.mod
  go.sum
Due: none

Set APIVersion and Kind for BootstrapRef
  controllers/vspheremachine_controller.go
Due: none

add VSphereCluster conditions
  api/v1alpha2/vspherecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/condition_consts.go
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  controllers/vspherecluster_controller.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

bump the kubernetes version we test against
  hack/e2e.sh
  test/e2e/e2e.conf
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

re-apply the conccurent clones fix
  controllers/vspherevm_controller.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add VSphereVM conditions
  api/v1alpha3/condition_consts.go
  api/v1alpha3/vspherevm_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  controllers/vspherevm_controller.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

add VSphereMachine conditions
  api/v1alpha2/vspheremachine_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/condition_consts.go
  api/v1alpha3/vspheremachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  controllers/vspheremachine_controller.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

bump govmomi to pickup a config check fix
  go.mod
  go.sum
Due: none

haproxyloadbalancer controller: Only reconcile VSphereClusters
  controllers/haproxyloadbalancer_controller.go
  controllers/vspherecluster_controller.go
Due: none

Print the VMs spec when debugging, esp. useful when you put the wrong network or a network that isnt valid for some reason in VSphere, i.e. cVDS support .
  controllers/haproxyloadbalancer_controller.go
Due: none

Update CPI version
  examples/default/cluster/cluster.yaml
  packaging/flavorgen/flavors/generators.go
  pkg/services/cloudprovider/cloud-controller-manager.go
  test/e2e/capv_resource_generators.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e, post-cluster-api-provider-vsphere-deploy

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
  post-cluster-api-provider-vsphere-deploy: any of: ^(cmd|config|pkg|vendor)/|Dockerfile
