Repository kubernetes/kubeadm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest, pull-kubeadm-operator-verify

pull-kubeadm-kinder-verify:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./kinder/hack/verify-all.sh

pull-kubeadm-kinder-upgrade-latest:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - runner.sh
      - ../kubeadm/kinder/ci/kinder-run.sh
      args:
  ...

pull-kubeadm-operator-verify:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - runner.sh
      - ./operator/hack/verify-all.sh
      securityContext:
        privileged: true
      resources:
        requests:
  ...

Bump xt0rted/slash-command-action from v1 to v2
  .github/dependabot.yml
  .github/workflows/support-command.yaml
Due: none

Bump xt0rted/slash-command-action from v1 to v2
  .github/workflows/support-command.yaml
Due: none

kinder: add test workflows for 1.28
  kinder/ci/workflows/discovery-1.28.yaml
  kinder/ci/workflows/dryrun-1.24.yaml
  kinder/ci/workflows/dryrun-1.27.yaml
  kinder/ci/workflows/dryrun-1.28.yaml
  kinder/ci/workflows/external-ca-1.28.yaml
  kinder/ci/workflows/external-etcd-1.28.yaml
  kinder/ci/workflows/regular-1.28.yaml
  kinder/ci/workflows/skew-1.25-on-1.24.yaml
  kinder/ci/workflows/skew-1.28-on-1.27.yaml
  kinder/ci/workflows/skew-kubelet-1.24-on-1.25.yaml
  kinder/ci/workflows/skew-kubelet-1.24-on-1.26.yaml
  kinder/ci/workflows/skew-kubelet-1.24-on-1.27.yaml
  kinder/ci/workflows/skew-kubelet-1.25-on-1.28.yaml
  kinder/ci/workflows/skew-kubelet-1.26-on-1.28.yaml
  kinder/ci/workflows/skew-kubelet-1.27-on-1.28.yaml
  kinder/ci/workflows/skew-kubelet-1.28-on-latest.yaml
  kinder/ci/workflows/skew-latest-on-1.28.yaml
  kinder/ci/workflows/upgrade-1.27-1.28.yaml
  kinder/ci/workflows/upgrade-1.28-latest.yaml
  kinder/ci/workflows/upgrade-addons-before-controlplane-1.28-latest.yaml
  kinder/hack/update-workflows.sh
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

add some refer for kubeadm operator
  operator/README.md
Due: pull-kubeadm-operator-verify

Revert "kinder: use eks cluster in test-infra jobs"
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-addons.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-discovery.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-dryrun.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-external-ca.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-external-etcd.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-kubelet-x-on-y.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-learner-mode.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-patches.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-rootless.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-upgrade-addons-before-controlplane.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-upgrade.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-x-on-y.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: compatible with Docker cli 20.10.0+
  kinder/pkg/cluster/status/cluster.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

Broken Links Updated
  docs/managing-e2e-tests.md
  docs/release-cycle.md
  tests/e2e/README.md
  tests/e2e/manifests/README.md
Due: none

update learner mode test to test not in etcd learner mode as it is beta
  kinder/ci/tools/update-workflows/templates/workflows/learner-mode-tasks.yaml
  kinder/ci/workflows/learner-mode-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

OWNERS: move fabriziopandini to emeritus, remove RA489
  OWNERS
  kinder/OWNERS
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: configure containerd to use the sandbox image recommended by kubeadm when building the node image
  kinder/go.mod
  kinder/pkg/cri/nodes/containerd/alterhelper.go
  kinder/pkg/cri/nodes/containerd/config/config.go
  kinder/pkg/cri/nodes/containerd/config/config_test.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

Make checking api server script to detect http code
  docs/ha-considerations.md
Due: none

use ben-z/actions-comment-on-issue back
  .github/workflows/support-command.yaml
Due: none

remove the KubeletVersion from ignorePreflightErrors from v1.29/latest as skew policy is now n-3
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/pkg/types.go
  kinder/ci/tools/update-workflows/pkg/workflows.go
  kinder/ci/tools/update-workflows/templates/workflows/skew-kubelet-x-on-y.yaml
  kinder/ci/tools/update-workflows/templates/workflows/skew-x-on-y.yaml
  kinder/ci/workflows/skew-kubelet-1.26-on-latest.yaml
  kinder/ci/workflows/skew-kubelet-1.27-on-latest.yaml
  kinder/ci/workflows/skew-kubelet-1.28-on-latest.yaml
  kinder/ci/workflows/skew-latest-on-1.28.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: add workflow for testing super-admin.conf
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-super-admin.yaml
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/super-admin.yaml
  kinder/ci/workflows/super-admin-latest.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

Update skew change in v1.29 from n-1 to n-3
  kinder/ci/kubeadm-periodic.tests.md
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: fix missing quotes in super-admin-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: fix unwanted sudo in super-admin-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: add tests for /etc/kubernetes/pki/apiserver-kubelet-client.crt
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: do proper cleanup in the super-admin-tasks.yaml workflow
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: double-quote 'rm -f' paths to avoid single quotes
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: update test workflow for 1.29
  kinder/ci/workflows/discovery-1.29.yaml
  kinder/ci/workflows/dryrun-1.25.yaml
  kinder/ci/workflows/dryrun-1.28.yaml
  kinder/ci/workflows/dryrun-1.29.yaml
  kinder/ci/workflows/external-ca-1.29.yaml
  kinder/ci/workflows/external-etcd-1.29.yaml
  kinder/ci/workflows/regular-1.29.yaml
  kinder/ci/workflows/skew-1.26-on-1.25.yaml
  kinder/ci/workflows/skew-1.29-on-1.28.yaml
  kinder/ci/workflows/skew-kubelet-1.25-on-1.26.yaml
  kinder/ci/workflows/skew-kubelet-1.25-on-1.27.yaml
  kinder/ci/workflows/skew-kubelet-1.25-on-1.28.yaml
  kinder/ci/workflows/skew-kubelet-1.26-on-1.29.yaml
  kinder/ci/workflows/skew-kubelet-1.27-on-1.29.yaml
  kinder/ci/workflows/skew-kubelet-1.28-on-1.29.yaml
  kinder/ci/workflows/skew-kubelet-1.29-on-latest.yaml
  kinder/ci/workflows/skew-latest-on-1.29.yaml
  kinder/ci/workflows/upgrade-1.28-1.29.yaml
  kinder/ci/workflows/upgrade-1.29-latest.yaml
  kinder/ci/workflows/upgrade-addons-before-controlplane-1.29-latest.yaml
  kinder/hack/update-workflows.sh
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

Update ha-considerations.md
  docs/ha-considerations.md
Due: none

kinder: optimize the preparation of upgrade artifacts
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/bits/initBits.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: update the usage of build command
  kinder/cmd/kinder/build/build.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

fixed all broken links in design section
  docs/design/design_v1.10.md
  docs/design/design_v1.7.md
  docs/design/design_v1.8.md
  docs/design/design_v1.9.md
Due: none

kinder: remove parallel code during node creation
  kinder/pkg/cluster/manager/create.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: remove the handling of 1.25 and older versions of k8s
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/cluster/manager/actions/waiter.go
  kinder/pkg/constants/constants.go
  kinder/pkg/cri/host/archive.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: call "upgrade plan" before "upgrade apply"
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-latest-no-addon-config-maps.yaml
  kinder/ci/workflows/upgrade-latest-no-addon-config-maps.yaml
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: Modified channel operations of `waiter.go`
  kinder/pkg/cluster/manager/actions/waiter.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: update test workflow for 1.30
  kinder/ci/workflows/discovery-1.30.yaml
  kinder/ci/workflows/dryrun-1.26.yaml
  kinder/ci/workflows/dryrun-1.29.yaml
  kinder/ci/workflows/dryrun-1.30.yaml
  kinder/ci/workflows/external-ca-1.30.yaml
  kinder/ci/workflows/external-etcd-1.30.yaml
  kinder/ci/workflows/regular-1.30.yaml
  kinder/ci/workflows/skew-1.27-on-1.26.yaml
  kinder/ci/workflows/skew-1.30-on-1.29.yaml
  kinder/ci/workflows/skew-kubelet-1.26-on-1.27.yaml
  kinder/ci/workflows/skew-kubelet-1.26-on-1.28.yaml
  kinder/ci/workflows/skew-kubelet-1.26-on-1.29.yaml
  kinder/ci/workflows/skew-kubelet-1.27-on-1.30.yaml
  kinder/ci/workflows/skew-kubelet-1.28-on-1.30.yaml
  kinder/ci/workflows/skew-kubelet-1.29-on-1.30.yaml
  kinder/ci/workflows/skew-kubelet-1.29-on-latest.yaml
  kinder/ci/workflows/skew-kubelet-1.30-on-latest.yaml
  kinder/ci/workflows/skew-latest-on-1.30.yaml
  kinder/ci/workflows/upgrade-1.29-1.30.yaml
  kinder/ci/workflows/upgrade-1.30-latest.yaml
  kinder/ci/workflows/upgrade-addons-before-controlplane-1.30-latest.yaml
  kinder/hack/update-workflows.sh
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: fix a bug related to --only-node usage
  kinder/ci/tools/update-workflows/templates/workflows/discovery-tasks.yaml
  kinder/ci/workflows/discovery-tasks.yaml
  kinder/cmd/kinder/do/do.go
  kinder/pkg/cluster/manager/manage.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

Revert "Patches e2e: add checking logic for kube-system/kubelet-config ConfigMap"
  kinder/ci/tools/update-workflows/templates/workflows/patches-tasks.yaml
  kinder/ci/workflows/patches-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: update super-admin workflow for 1.30
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: apply yet another fix for super-admin workflow
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: add e2e test for WaitForAllControlPlaneComponents
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-wait-for-all-control-plane-components.yaml
  kinder/ci/tools/update-workflows/templates/workflows/wait-for-all-control-plane-components-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/wait-for-all-control-plane-components.yaml
  kinder/ci/workflows/wait-for-all-control-plane-components-latest.yaml
  kinder/ci/workflows/wait-for-all-control-plane-components-tasks.yaml
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

kinder: add validation for YAML temaplated files before writing
  kinder/ci/tools/update-workflows/pkg/testinfra.go
  kinder/ci/tools/update-workflows/pkg/workflows.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

Remove --enable-hostpath-provisioner option
  kinder/pkg/kubeadm/config.go
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

test: add support for OCI images
  tests/e2e/manifests/verify_manifest_lists.go
Due: none

kinder: update test workflows for 1.30
  kinder/ci/workflows/discovery-1.30.yaml
  kinder/ci/workflows/dryrun-1.26.yaml
  kinder/ci/workflows/dryrun-1.29.yaml
  kinder/ci/workflows/dryrun-1.30.yaml
  kinder/ci/workflows/external-ca-1.30.yaml
  kinder/ci/workflows/external-etcd-1.30.yaml
  kinder/ci/workflows/regular-1.30.yaml
  kinder/ci/workflows/skew-1.27-on-1.26.yaml
  kinder/ci/workflows/skew-1.30-on-1.29.yaml
  kinder/ci/workflows/skew-kubelet-1.26-on-1.27.yaml
  kinder/ci/workflows/skew-kubelet-1.26-on-1.28.yaml
  kinder/ci/workflows/skew-kubelet-1.26-on-1.29.yaml
  kinder/ci/workflows/skew-kubelet-1.27-on-1.30.yaml
  kinder/ci/workflows/skew-kubelet-1.28-on-1.30.yaml
  kinder/ci/workflows/skew-kubelet-1.29-on-1.30.yaml
  kinder/ci/workflows/skew-kubelet-1.30-on-latest.yaml
  kinder/ci/workflows/skew-latest-on-1.30.yaml
  kinder/ci/workflows/upgrade-1.29-1.30.yaml
  kinder/ci/workflows/upgrade-1.30-latest.yaml
  kinder/ci/workflows/upgrade-addons-before-controlplane-1.30-latest.yaml
  kinder/hack/update-workflows.sh
Due: pull-kubeadm-kinder-verify, pull-kubeadm-kinder-upgrade-latest

Path conditions:
  pull-kubeadm-kinder-verify: any of: ^kinder\/.*$
  pull-kubeadm-kinder-upgrade-latest: any of: ^kinder\/.*$
  pull-kubeadm-operator-verify: any of: ^operator\/.*$
