Repository kubernetes/kubeadm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeadm-kinder-verify, pull-kubeadm-operator-verify

config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml:

# k8s.io/kubeadm presubmits
presubmits:
  kubernetes/kubeadm:
  - name: pull-kubeadm-kinder-verify
    path_alias: "k8s.io/kubeadm"
    decorate: true
    run_if_changed: '^kinder\/.*$'
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20191108-9467d02-master
        command:
        - "./kinder/hack/verify-all.sh"
  - name: pull-kubeadm-operator-verify
    path_alias: "k8s.io/kubeadm"
    decorate: true
    run_if_changed: '^operator\/.*$'
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20191108-9467d02-master
        command:
        - runner.sh
        - "./operator/hack/verify-all.sh"
        securityContext:
          privileged: true
        resources:
          requests:
            memory: "9000Mi"
            cpu: 2000m

Fix some typos in release-cycle.md
  docs/release-cycle.md
Due: none

docs: Fix some typos
  kinder/doc/kind-kinder.md
Due: pull-kubeadm-kinder-verify

trivial fix typo: kubelets -> kubelet
  docs/design/design_v1.10.md
  docs/design/design_v1.7.md
  docs/design/design_v1.8.md
  docs/design/design_v1.9.md
Due: none

Fix simple typo in testing-pre-releases.md
  docs/testing-pre-releases.md
Due: none

Replacing 'HTTP' by 'HTTPS' for securing links
  kinder/hack/verify-golint.sh
  kinder/hack/verify-staticcheck.sh
  operator/hack/verify-golint.sh
Due: pull-kubeadm-kinder-verify, pull-kubeadm-operator-verify

kinder: add test workflows for 1.18
  kinder/ci/workflows/discovery-1.18.yaml
  kinder/ci/workflows/external-etcd-1.18.yaml
  kinder/ci/workflows/kustomize-1.18.yaml
  kinder/ci/workflows/regular-1.18.yaml
  kinder/ci/workflows/skew-1.18-on-1.17.yaml
  kinder/ci/workflows/skew-master-on-1.18.yaml
  kinder/ci/workflows/upgrade-1.17-1.18.yaml
  kinder/ci/workflows/upgrade-1.18-master.yaml
Due: pull-kubeadm-kinder-verify

Make container always restart if it stops
  kinder/pkg/build/alter/alter.go
Due: pull-kubeadm-kinder-verify

use 'k8s.gcr.io' instead of 'gcr.io/google-containers'
  docs/testing-pre-releases.md
Due: none

tests/e2e/manifests: use k8s.gcr.io as the GCR bucket
  tests/e2e/manifests/verify_manifest_lists.go
Due: none

tests/e2e/manifests: pin the go version and install it using curl
  tests/e2e/manifests/verify_manifest_lists.sh
Due: none

Remove some duplicated words in docs
  docs/design/design_v1.10.md
  docs/design/design_v1.8.md
  docs/design/design_v1.9.md
Due: none

add null point check for operator/operations/factory.go
  operator/operations/factory.go
Due: pull-kubeadm-operator-verify

add null point check for operator/commands/factory.go
  operator/commands/factory.go
Due: pull-kubeadm-operator-verify

add check if ControlPlanePort is greater or equal to 0
  kinder/third_party/kind/loadbalancer/config.go
Due: pull-kubeadm-kinder-verify

add unit test for operator/commands/exec.go
  operator/commands/exec_test.go
Due: pull-kubeadm-operator-verify

remove dependency kind version
  kinder/cmd/kinder/version/version.go
Due: pull-kubeadm-kinder-verify

remove dependency kind exec
  kinder/pkg/cluster/manager/create.go
Due: pull-kubeadm-kinder-verify

remove dependency kind util
  kinder/doc/kind-kinder.md
  kinder/pkg/build/base/base.go
Due: pull-kubeadm-kinder-verify

drop support for v1.13 from kinder
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/automaticcopycertspatch.go
  kinder/pkg/kubeadm/config.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/dockerpatch.go
  kinder/pkg/kubeadm/externaletcdpatch.go
  kinder/pkg/kubeadm/kubednspatch.go
  kinder/third_party/kind/kubeadm/config.go
Due: pull-kubeadm-kinder-verify

drop support for v1.14 from kinder
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/constants/constants.go
Due: pull-kubeadm-kinder-verify

remove dependency yaml.v2
  kinder/go.mod
  kinder/pkg/test/workflow/workflow.go
Due: pull-kubeadm-kinder-verify

remove dependency kind kustomize
  kinder/doc/kind-kinder.md
  kinder/go.mod
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/kustomize.go
Due: pull-kubeadm-kinder-verify

kinder: wrap time.Duration to support JSON handling
  kinder/go.mod
  kinder/pkg/test/workflow/taskCmdRunner.go
  kinder/pkg/test/workflow/workflow.go
  kinder/pkg/test/workflow/workflow_test.go
Due: pull-kubeadm-kinder-verify

kinder: use -count=1 for verify-gotest.sh
  kinder/hack/verify-gotest.sh
Due: pull-kubeadm-kinder-verify

remove dependency kind concurrent
  kinder/doc/kind-kinder.md
  kinder/pkg/cluster/manager/create.go
Due: pull-kubeadm-kinder-verify

cleanup third_party loadbalancer
  kinder/pkg/cluster/manager/actions/loadbalancer.go
  kinder/pkg/constants/constants.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/util/util.go
  kinder/pkg/loadbalancer/doc.go
  kinder/pkg/loadbalancer/loadbalancer.go
  kinder/third_party/kind/loadbalancer/config.go
  kinder/third_party/kind/loadbalancer/const.go
  kinder/third_party/kind/loadbalancer/doc.go
  kinder/third_party/kind/loadbalancer/readme.md
Due: pull-kubeadm-kinder-verify

cleanup third_party kubeadm
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/config.go
  kinder/pkg/kubeadm/doc.go
  kinder/third_party/kind/kubeadm/config.go
  kinder/third_party/kind/kubeadm/const.go
  kinder/third_party/kind/kubeadm/doc.go
  kinder/third_party/kind/kubeadm/readme.md
  kinder/third_party/kind/readme.md
Due: pull-kubeadm-kinder-verify

kinder: remove 1.15 jobs
  kinder/ci/workflows/external-etcd-1.15.yaml
  kinder/ci/workflows/regular-1.15.yaml
  kinder/ci/workflows/skew-1.15-on-1.14.yaml
  kinder/ci/workflows/upgrade-1.14-1.15.yaml
Due: pull-kubeadm-kinder-verify

Documentation for example setups of virtual address / load balancing for boostrapping HA clusters.
  docs/ha-considerations.md
Due: none

Update help text for 'kinder create'
  kinder/cmd/kinder/create/create.go
Due: pull-kubeadm-kinder-verify

kinder: add e2e workflow for testing join and upgrade without addons
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/upgrade-master-no-addon-config-maps.yaml
Due: pull-kubeadm-kinder-verify

Make --image required for kinder create cluster
  kinder/cmd/kinder/create/cluster/createcluster.go
Due: pull-kubeadm-kinder-verify

Removing a dead link
  docs/managing-e2e-tests.md
Due: none

kinder: fix issue in kubeadm-periodic.tests.md
  kinder/ci/kubeadm-periodic.tests.md
Due: pull-kubeadm-kinder-verify

Fix kinder smoke-test
  kinder/pkg/cluster/manager/actions/smoke-test.go
  kinder/pkg/cluster/manager/actions/waiter.go
Due: pull-kubeadm-kinder-verify

Update link to sig-cluster-lifecycle-kubeadm dashboard
  kinder/ci/kubeadm-periodic.tests.md
Due: pull-kubeadm-kinder-verify

Doc fixes to kind-kinder.md
  kinder/doc/kind-kinder.md
Due: pull-kubeadm-kinder-verify

Update link to systemd CONTAINER_INTERFACE reference
  kinder/images/base/docker/Dockerfile
  kinder/pkg/cri/docker/createhelper.go
Due: pull-kubeadm-kinder-verify

Update testing section in contributing guide
  CONTRIBUTING.md
Due: none

kinder: add test workflows for 1.19
  kinder/ci/workflows/discovery-1.19.yaml
  kinder/ci/workflows/external-etcd-1.19.yaml
  kinder/ci/workflows/kustomize-1.19.yaml
  kinder/ci/workflows/regular-1.19.yaml
  kinder/ci/workflows/skew-1.19-on-1.18.yaml
  kinder/ci/workflows/skew-master-on-1.19.yaml
  kinder/ci/workflows/upgrade-1.18-1.19.yaml
  kinder/ci/workflows/upgrade-1.19-master.yaml
Due: pull-kubeadm-kinder-verify
