Repository kubernetes/kubeadm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeadm-kinder-verify, pull-kubeadm-operator-verify

config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml:

# k8s.io/kubeadm presubmits
presubmits:
  kubernetes/kubeadm:
  - name: pull-kubeadm-kinder-verify
    path_alias: "k8s.io/kubeadm"
    decorate: true
    run_if_changed: '^kinder\/.*$'
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20191108-9467d02-master
        command:
        - "./kinder/hack/verify-all.sh"
  - name: pull-kubeadm-operator-verify
    path_alias: "k8s.io/kubeadm"
    decorate: true
    run_if_changed: '^operator\/.*$'
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20191108-9467d02-master
        command:
        - runner.sh
        - "./operator/hack/verify-all.sh"
        securityContext:
          privileged: true
        resources:
          requests:
            memory: "9000Mi"
            cpu: 2000m

kinder: do not cache the kubernetesVersion
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

kinder: call etcdctl flags based on the etcdctl version
  kinder/pkg/cluster/manager/actions/cluster-info.go
  kinder/pkg/cluster/manager/actions/cluster-info_test.go
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

kinder: do not cache the kubeadmVersion
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

remove-kind-cluster
  kinder/cmd/kinder/test/e2e/e2e.go
  kinder/cmd/kinder/test/e2ekubeadm/e2ekubeadm.go
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cluster/manager/manage.go
  kinder/pkg/cluster/status/cluster.go
Due: pull-kubeadm-kinder-verify

kinder: get the etcdctl version from the etcd binary
  kinder/pkg/cluster/manager/actions/cluster-info.go
Due: pull-kubeadm-kinder-verify

kinder: add a presubmit CI workflow
  kinder/ci/workflows/presubmit-upgrade-master.yaml
Due: pull-kubeadm-kinder-verify

kinder: fix wrong variables and add missing upgrade
  kinder/ci/workflows/presubmit-upgrade-master.yaml
Due: pull-kubeadm-kinder-verify

kinder: remove kind clusters dependencies
  kinder/cmd/kinder/get/clusters/clusters.go
  kinder/cmd/kinder/get/get.go
Due: pull-kubeadm-kinder-verify

kinder: improve workflow verification
  kinder/ci/tools/verify-workflow.go
  kinder/cmd/kinder/test/workflow/workflow.go
  kinder/hack/verify-workflows.sh
  kinder/pkg/test/workflow/taskCmdBuilder.go
  kinder/pkg/test/workflow/workflow.go
Due: pull-kubeadm-kinder-verify

add tests1
  operator/controllers/runtimetask_controller.go
  operator/controllers/runtimetask_controller_test.go
  operator/controllers/runtimetask_reconcile_test.go
Due: pull-kubeadm-operator-verify

fix-verify checks
  operator/controllers/runtimetask_controller_test.go
  operator/controllers/runtimetask_reconcile_test.go
Due: pull-kubeadm-operator-verify

fix some 404 urls
  CONTRIBUTING.md
  docs/managing-e2e-tests.md
  docs/testing-pre-releases.md
Due: none

kubeadm operator: add unit tests for operation_controller
  operator/controllers/operation_controller_test.go
Due: pull-kubeadm-operator-verify

kubeadm operator: add unit tests for runtimetaskgroup_controller
  operator/controllers/runtimetaskgroup_controller_test.go
Due: pull-kubeadm-operator-verify

kubeadm operator: add unit tests for runtimetaskgroup_reconcile
  operator/controllers/runtimetaskgroup_reconcile_test.go
Due: pull-kubeadm-operator-verify

kubeadm operator: rename function name in runtimetaskgroup_reconcile_test.go
  operator/controllers/runtimetaskgroup_reconcile_test.go
Due: pull-kubeadm-operator-verify

add more tests, fix some errors, small refactors
  operator/controllers/operation_controller.go
  operator/controllers/operation_controller_test.go
  operator/controllers/runtimetask_controller.go
  operator/controllers/runtimetask_controller_test.go
  operator/controllers/runtimetask_reconcile.go
  operator/controllers/runtimetask_reconcile_test.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/runtimetaskgroup_controller_test.go
  operator/controllers/runtimetaskgroup_reconcile.go
  operator/controllers/suite_test.go
  operator/controllers/util.go
  operator/controllers/util_test.go
  operator/go.mod
  operator/main.go
Due: pull-kubeadm-operator-verify

remove-kind-exec
  kinder/doc/kind-kinder.md
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/base/base.go
  kinder/pkg/build/bits/installer.go
  kinder/pkg/cluster/manager/manage.go
  kinder/pkg/cluster/status/cluster.go
  kinder/pkg/cluster/status/cri.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/cri/util/util.go
  kinder/pkg/exec/colors/color.go
  kinder/pkg/exec/host-cmd.go
  kinder/pkg/exec/node-cmd.go
  kinder/pkg/test/e2e/binary.go
  kinder/pkg/test/e2e/runner.go
Due: pull-kubeadm-kinder-verify

kinder: don't use "docker cp /dev/stdin"
  kinder/pkg/cluster/manager/actions/copy-certs.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/loadbalancer.go
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

kinder-roadmap
  kinder/doc/kind-kinder.md
  kinder/roadmap.md
Due: pull-kubeadm-kinder-verify

kinder-mount
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/cri/util/util.go
Due: pull-kubeadm-kinder-verify

kinder: remove kind cluster dependencies
  kinder/cmd/kinder/get/get.go
  kinder/cmd/kinder/get/kubeconfigpath/kubeconfigpath.go
  kinder/cmd/kinder/get/nodes/nodes.go
Due: pull-kubeadm-kinder-verify

404 url
  code-of-conduct.md
Due: none

fix WriteFile
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

kinder: use a short list of ignored preflight errors
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/constants/constants.go
Due: pull-kubeadm-kinder-verify

picture error
  docs/design/design_v1.8.md
Due: none

picture error
  docs/design/design_v1.9.md
Due: none

two pic err
  docs/design/design_v1.8.md
  docs/design/design_v1.9.md
Due: none

kinder: enable "echo mode" for copy commands
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

kinder: add higher kubeadm verbosity to all workflow tasks
  kinder/ci/workflows/discovery-tasks.yaml
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/presubmit-upgrade-master.yaml
  kinder/ci/workflows/regular-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Due: pull-kubeadm-kinder-verify

kinder: enable verbose output for two more workflows
  kinder/ci/workflows/kustomize-tasks.yaml
  kinder/ci/workflows/upgrade-tasks-automatic-copy-certs.yaml
Due: pull-kubeadm-kinder-verify

docs/release-cycle.md: update the document
  docs/release-cycle.md
Due: none

Fix a typo 'the the' -> 'the'
  operator/controllers/runtimetask_reconcile.go
  operator/controllers/runtimetaskgroup_reconcile.go
Due: pull-kubeadm-operator-verify

Temporarily disable clustersettings
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

CONTRIBUTING.md: add 101 video
  CONTRIBUTING.md
Due: none

Remove duplicated words
  kinder/cmd/kinder/cp/cp.go
  kinder/cmd/kinder/do/do.go
  kinder/cmd/kinder/exec/exec.go
  kinder/doc/reference.md
Due: pull-kubeadm-kinder-verify

kinder: upgrade node kubelet and kubectl last
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
Due: pull-kubeadm-kinder-verify

kinder: remove CI workflows for 1.13 and 1.14
  kinder/ci/workflows/external-etcd-1.14.yaml
  kinder/ci/workflows/regular-1.14.yaml
  kinder/ci/workflows/skew-1.14-on-1.13.yaml
  kinder/ci/workflows/skew-1.15-on-1.14.yaml
  kinder/ci/workflows/skew-1.16-on-1.15.yaml
  kinder/ci/workflows/skew-1.17-on-1.16.yaml
  kinder/ci/workflows/skew-master-on-1.17.yaml
  kinder/ci/workflows/skew-x-on-y-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-1.13-1.14.yaml
  kinder/ci/workflows/upgrade-1.14-1.15.yaml
  kinder/ci/workflows/upgrade-1.15-1.16.yaml
  kinder/ci/workflows/upgrade-1.16-1.17.yaml
  kinder/ci/workflows/upgrade-1.17-master.yaml
  kinder/ci/workflows/upgrade-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Due: pull-kubeadm-kinder-verify

Fix some typos in comments
  kinder/cmd/kinder/kinder.go
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify
