Repository kubernetes/kubeadm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeadm-kinder-verify, pull-kubeadm-operator-verify

config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml:

# k8s.io/kubeadm presubmits
presubmits:
  kubernetes/kubeadm:
  - name: pull-kubeadm-kinder-verify
    path_alias: "k8s.io/kubeadm"
    decorate: true
    run_if_changed: '^kinder\/.*$'
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20191108-9467d02-master
        command:
        - "./kinder/hack/verify-all.sh"
  - name: pull-kubeadm-operator-verify
    path_alias: "k8s.io/kubeadm"
    decorate: true
    run_if_changed: '^operator\/.*$'
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20191108-9467d02-master
        command:
        - runner.sh
        - "./operator/hack/verify-all.sh"
        securityContext:
          privileged: true
        resources:
          requests:
            memory: "9000Mi"
            cpu: 2000m

kinder: adjust timeouts to attempt to fix flakes
  kinder/ci/workflows/discovery-tasks.yaml
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/kustomize-tasks.yaml
  kinder/ci/workflows/presubmit-upgrade-master.yaml
  kinder/ci/workflows/regular-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Due: pull-kubeadm-kinder-verify

kinder: fix typo in timeouts
  kinder/pkg/test/workflow/taskCmdRunner.go
Due: pull-kubeadm-kinder-verify

fix checking of pre-loaded images
  kinder/pkg/cluster/manager/actions/images.go
Due: pull-kubeadm-kinder-verify

kinder: pre-pull and import non-kube images during node-image alter
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cri/alterhelper.go
  kinder/pkg/cri/containerd/alterhelper.go
  kinder/pkg/cri/docker/alterhelper.go
  kinder/pkg/cri/docker/createhelper.go
Due: pull-kubeadm-kinder-verify

minor fix to kinder version help
  kinder/cmd/kinder/version/version.go
Due: pull-kubeadm-kinder-verify

final
  kinder/ci/kubeadm-periodic.tests.md
Due: pull-kubeadm-kinder-verify

kinder: remove PreloadInitImages for alter
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cri/alterhelper.go
  kinder/pkg/cri/containerd/alterhelper.go
  kinder/pkg/cri/docker/alterhelper.go
Due: pull-kubeadm-kinder-verify

kinder: don't use /usr/local/bin/entrypoint for alter
  kinder/pkg/cri/containerd/alterhelper.go
Due: pull-kubeadm-kinder-verify

kinder: load init images from tars on cluster creation for containerd
  kinder/pkg/cri/containerd/alterhelper.go
  kinder/pkg/cri/containerd/createhelper.go
Due: pull-kubeadm-kinder-verify

kinder: don't delete upgrade image tars for containerd
  kinder/pkg/cri/containerd/actionhelper.go
Due: pull-kubeadm-kinder-verify

kinder: increase waitForDocker timeout to 1m
  kinder/pkg/cri/docker/createhelper.go
Due: pull-kubeadm-kinder-verify

kinder: remove the docs about 'kinder build node-image'
  kinder/README.md
  kinder/cmd/kinder/build/build.go
  kinder/doc/prepare-for-tests.md
  kinder/doc/reference.md
Due: pull-kubeadm-kinder-verify

[kinder] add --with-kubeadm-additional-images option to kinder build node-image-variant
  kinder/cmd/kinder/build/nodevariant/nodevariant.go
  kinder/pkg/build/alter/alter.go
Due: pull-kubeadm-kinder-verify

preload images for containerd on build
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cri/alterhelper.go
  kinder/pkg/cri/containerd/alterhelper.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/docker/alterhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/cri/util/util.go
Due: pull-kubeadm-kinder-verify

Add --with-path option to kinder build node-image-variant
  kinder/cmd/kinder/build/nodevariant/nodevariant.go
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/bits/pathBits.go
  kinder/pkg/extract/extract.go
Due: pull-kubeadm-kinder-verify

fix extra images pre-load
  kinder/pkg/cri/containerd/alterhelper.go
Due: pull-kubeadm-kinder-verify

Issue #2189 - missing keepalived health check script file.
  docs/ha-considerations.md
Due: none

kinder: increase timeout for building node images to 15m
  kinder/ci/workflows/discovery-tasks.yaml
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/kustomize-tasks.yaml
  kinder/ci/workflows/regular-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Due: pull-kubeadm-kinder-verify

fix typos
  kinder/pkg/test/workflow/taskCmdRunner.go
  kinder/pkg/test/workflow/workflow.go
Due: pull-kubeadm-kinder-verify

kinder: add test workflows for the patches functionality
  kinder/ci/workflows/patches-1.19.yaml
  kinder/ci/workflows/patches-master.yaml
  kinder/ci/workflows/patches-tasks.yaml
Due: pull-kubeadm-kinder-verify

kinder: support the --experimental-patches flag for kubeadm
  kinder/cmd/kinder/do/do.go
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/constants/constants.go
Due: pull-kubeadm-kinder-verify

kinder: fix wrong patch format in patches-tasks.yaml
  kinder/ci/workflows/patches-tasks.yaml
Due: pull-kubeadm-kinder-verify

kinder: add missing --experimental-patches for the "init" action
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Due: pull-kubeadm-kinder-verify

kinder: prepull the additional images (pause, etcd..) on the host
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cri/alterhelper.go
  kinder/pkg/cri/containerd/alterhelper.go
  kinder/pkg/cri/docker/alterhelper.go
Due: pull-kubeadm-kinder-verify

Add SECURITY.md
  SECURITY.md
Due: none

fix typos or indentation in tests/e2e
  tests/e2e/manifests/README.md
  tests/e2e/packages/verify_packages_install_deb.sh
  tests/e2e/packages/verify_packages_published.sh
Due: none

Add links to relevant docs to README
  README.md
Due: none

verify_manifest_lists_test.go: add unit test for minEstimated.Minor = 1
  tests/e2e/manifests/verify_manifest_lists_test.go
Due: none

kinder: retry writing node-settings.yaml
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

kinder: do not run static check on missing directories
  kinder/hack/verify-staticcheck.sh
Due: pull-kubeadm-kinder-verify

Update docs links to better suit docs structure
  README.md
Due: none

verify_manifest_lists.go: fix "panic: could not parse "v1.18.6\n" as version [recovered]" issue
  tests/e2e/manifests/verify_manifest_lists.go
Due: none

kinder: remove 1.15 related logic
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/config.go
Due: pull-kubeadm-kinder-verify

kinder: remove 1.15 workflows
  kinder/ci/workflows/skew-1.16-on-1.15.yaml
  kinder/ci/workflows/upgrade-1.15-1.16.yaml
Due: pull-kubeadm-kinder-verify

Adjust wording of documentation links for clarity
  README.md
Due: none

kinder: avoid orphaning child processes on task timeouts
  kinder/pkg/test/workflow/taskCmdRunner.go
Due: pull-kubeadm-kinder-verify

fix wrong comment
  tests/e2e/packages/verify_packages_published.sh
Due: none

fix wrong dir
  operator/hack/verify-shellcheck.sh
Due: pull-kubeadm-operator-verify

update shellcheck url
  operator/hack/verify-shellcheck.sh
Due: pull-kubeadm-operator-verify

use common function cd_root_path to cd to the root path
  kinder/hack/verify-all.sh
  operator/hack/verify-all.sh
Due: pull-kubeadm-kinder-verify, pull-kubeadm-operator-verify
