Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

test(clients/ts): destroy h2 sessions on server close
  clients/typescript/agentic-sandbox-client/src/__tests__/process.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(keps): add agtsbx run KEP
  docs/keps/1496-agtsbx-run/README.md
  docs/keps/1496-agtsbx-run/kep.yaml
Due: none

fix(warmpool): hold SchedulingGated sandboxes instead of reaping them
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(e2e/ts): cover commands.start() against a real sandboxd
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): add commands.start() for interactive processes
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/process-missing-dependency.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/process.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-connect.test.ts
  clients/typescript/agentic-sandbox-client/src/_proto/README.md
  clients/typescript/agentic-sandbox-client/src/commands.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/process.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci(helm): lint the chart with chart-testing
  Makefile
  dev/ci/presubmits/lint-helm
  dev/tools/ct/chart_schema.yaml
  dev/tools/ct/ct.yaml
  dev/tools/ct/lintconf.yaml
  dev/tools/go.mod
  dev/tools/go.sum
  dev/tools/lint-helm
  helm/README.md
  helm/ci/default-values.yaml
  helm/ci/existing-namespace-values.yaml
  helm/ci/extensions-values.yaml
  helm/ci/prometheus-values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(sandboxd): add regression tests for PTY races with short-lived processes
  packages/sandboxd/pkg/server/process_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandboxd): deliver all PTY output and apply the initial size before start
  packages/sandboxd/pkg/server/process.go
  packages/sandboxd/pkg/server/server.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: describe the --strip-managed-fields SSA trade-off accurately
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  docs/configuration.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(dev): skip git-ignored files when stamping license headers
  dev/tools/shared/headers.py
  dev/tools/shared/headers_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci: detect untracked generated files in autogen presubmit
  dev/ci/presubmits/shared/test_autogen_up_to_date.py
  dev/ci/presubmits/test-autogen-up-to-date
  docs/development.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(rl): use a non-reserved run-id label so pods carry it
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/tests/test_pr1232_fixes.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(agent-sandbox-rl): put run id on pods under a non-reserved label key
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/reaper.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_pr1232_fixes.py
  examples/agent-sandbox-rl/tests/test_pr1232_review2.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: address review feedback on performance tuning and configuration docs
  docs/configuration.md
  docs/performance-tuning.md
Due: none

fix(agent-sandbox-rl): don't relabel another run's template; review follow-ups
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_pr1232_fixes.py
  examples/agent-sandbox-rl/tests/test_run_isolation.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update go.mod
  go.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

build(deps): move all Go builders and toolchain directives to Go 1.27.1 (#1733)
  .github/dependabot.yml
  dev/tools/go.mod
  examples/agentclientprotocol/go.mod
  examples/chrome-sandbox/go.mod
  examples/containarium-execution-scoped-token/Dockerfile
  examples/containarium-ssh-sandbox/Dockerfile
  examples/envd-sandbox/Dockerfile
  examples/sandboxed-tools/cmd/acp-server/Dockerfile
  examples/sandboxed-tools/go.mod
  examples/sandboxed-tools/images/geminicli-toolbox/Dockerfile
  examples/webhook-inject-timestamp/Dockerfile
  examples/webhook-inject-timestamp/go.mod
  go.mod
  olm/.devcontainer/devcontainer.json
  olm/go.mod
  packages/sandboxd/Dockerfile
  sandbox-router/Dockerfile
  tools.mod
  tools.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(agent-sandbox-rl): put run id on pods under a non-reserved label key (#1811)
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/reaper.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_pr1232_fixes.py
  examples/agent-sandbox-rl/tests/test_pr1232_review2.py
  examples/agent-sandbox-rl/tests/test_run_isolation.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(agent-sandbox-rl): let a job's processes share one run id
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/tests/test_run_isolation.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(controller): add --watch-namespaces flag for namespace-scoped RBAC
  cmd/agent-sandbox-controller/cacheoptions.go
  cmd/agent-sandbox-controller/cacheoptions_test.go
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): derive leader-election rules from generated ClusterRoles
  dev/tools/generate-namespaced-rbac
  dev/tools/shared/rbac_scopes.py
  dev/tools/shared/rbac_scopes_test.py
  helm/files/extensions-rbac.le.generated.yaml
  helm/files/rbac.le.generated.yaml
  helm/templates/NOTES.txt
  helm/templates/leader-election-rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(helm): add leader-election RBAC for namespace-scoped mode
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
  helm/templates/leader-election-rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(helm): use generated rules and add NOTES.txt for cross-namespace RBAC
  helm/templates/NOTES.txt
  helm/templates/leader-election-rbac.yaml
  helm/templates/namespaced-rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(test): update verify-chart-version tests for renamed template paths
  dev/tools/verify_chart_version_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(e2e): add namespaced mode scope test
  test/e2e/README.md
  test/e2e/namespaced_mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor(helm): rename RBAC wrapper templates to drop .generated suffix
  dev/tools/verify-chart-version
  helm/README.md
  helm/templates/extensions-rbac.yaml
  helm/templates/rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore(helm): bump chart version and update verify paths
  dev/tools/verify-chart-version
  helm/Chart.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: add namespace scoping documentation
  docs/configuration.md
  helm/README.md
Due: none

feat(helm): add namespace-scoped RBAC for --watch-namespaces
  cmd/agent-sandbox-controller/main.go
  helm/templates/_controller-args.tpl
  helm/templates/clusterrolebinding-extensions.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/namespaced-rbac.yaml
  helm/templates/rbac.generated.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): validate watchNamespaces entries are non-blank
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(controller): support WATCH_NAMESPACE env var fallback
  cmd/agent-sandbox-controller/cacheoptions.go
  cmd/agent-sandbox-controller/cacheoptions_test.go
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(helm): add automated RBAC scope filtering pipeline
  codegen.go
  dev/tools/generate-namespaced-rbac
  dev/tools/shared/rbac_scopes.py
  dev/tools/shared/rbac_scopes_test.py
  helm/files/extensions-rbac.namespaced.generated.yaml
  helm/files/rbac.namespaced.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): move generated RBAC to helm/files and fix lint
  cmd/agent-sandbox-controller/cacheoptions.go
  codegen.go
  helm/files/extensions-rbac.generated.yaml
  helm/files/rbac.generated.yaml
  helm/templates/extensions-rbac.generated.yaml
  helm/templates/rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): reject whitespace-padded and duplicate watchNamespaces entries
  helm/templates/_helpers.tpl
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: apply gofmt to out-of-cluster leader-election warning
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address PR review feedback for watch-namespaces
  cmd/agent-sandbox-controller/cacheoptions_test.go
  cmd/agent-sandbox-controller/main.go
  dev/tools/shared/rbac_scopes.py
  helm/templates/NOTES.txt
  helm/templates/leader-election-rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(clients/ts): add volumeClaimTemplates to createSandbox
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: address remaining PR #1213 review comments
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/main_test.go
  helm/templates/NOTES.txt
  test/e2e/namespaced_mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(controller): add namespaced mode with --namespace flag
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/main_test.go
  codegen.go
  docs/configuration.md
  helm/README.md
  helm/files/extensions-rbac.generated.yaml
  helm/files/rbac.generated.yaml
  helm/templates/NOTES.txt
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
  helm/templates/clusterrolebinding-extensions.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/extensions-rbac.yaml
  helm/templates/rbac.yaml
  helm/values.yaml
  test/e2e/README.md
  test/e2e/namespaced_mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
