Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

feat(python-sdk): add batch models, constants, and exceptions
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add SandboxClaim list/watch and batch Lease helpers
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add SandboxBatch/AsyncSandboxBatch and get_batch
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox_batch.py
  test/e2e/clients/python/test_batch_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add I/O-free batch state core and validation helpers
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/batch_state.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/batch_utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_batch_state.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_batch_utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(python-sdk): regenerate Python SDK reference for batch handles
  Makefile
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add batch creation constants and BatchExistsError
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add batch Lease, deletecollection, and precheck helpers
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add claim_batch validation and create-failure members
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/batch_state.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/batch_utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_batch_utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add claim_batch and release
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox_batch.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(python-sdk): regenerate Python SDK reference for claim_batch
  docs/python_sdk_reference.md
Due: none

test(python-sdk): add claim_batch e2e test
  test/e2e/clients/python/test_batch_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(ci): publish only the core Python SDK to PyPI (#1853)
  .github/workflows/pypi-publish.yml
  clients/integrations/README.md
  clients/integrations/deepagents/README.md
  clients/integrations/gymnasium/README.md
  clients/integrations/gymnasium/k8s_agent_sandbox_gymnasium/gymnasium_env.py
  clients/integrations/nemo-gym/README.md
  clients/integrations/openhands/README.md
  examples/agent-sandbox-gymnasium/jupyter/rl_training.ipynb
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/openhands.py
  examples/agent-sandbox-rl/examples/rl_integration.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci: publish only the core Python SDK to PyPI
  .github/workflows/pypi-publish.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(warmpool): flush status on partial batch errors in Reconcile (#1852)
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

ci: verify PyPI publish workflow on pull requests
  .github/workflows/pypi-publish.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

warmpool: coalesce counter-only status writes to one per second per pool
  docs/performance-tuning.md
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

ci: retry PyPI project lookup and report lookup errors separately
  .github/workflows/pypi-publish.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): add commands.start() for interactive processes (#1802)
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/process-missing-dependency.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/process.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-connect.test.ts
  clients/typescript/agentic-sandbox-client/src/_proto/README.md
  clients/typescript/agentic-sandbox-client/src/commands.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/process.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Refactor python sdk infra 596 (#1827)
  test/e2e/clients/python/conftest.py
  test/e2e/clients/python/framework/sdk_helpers.py
  test/e2e/clients/python/test_async_client_e2e.py
  test/e2e/clients/python/test_client.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(go-sdk): add Health and Metadata for sandboxd (#1839)
  clients/go/README.md
  clients/go/sandbox/commands.go
  clients/go/sandbox/files.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandboxd_test.go
  clients/go/sandbox/types.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add command_timeout to commands.run and surface timed_out (#1842)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/async_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_command_executor.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

flake-report: address review on the self-regression filters
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci: verify PyPI publish workflow on pull requests (#1855)
  .github/workflows/pypi-publish.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(kep-1306): clarify resolvePoolLifecycle note on CEL validation
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

fix(sandbox): address post-merge review on Sandbox lifecycle events (#1826)
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

flake-report: stop filing a PR's own breakage as flakes (#1851)
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(integrations): list gymnasium and openai in the integrations index
  clients/integrations/README.md
Due: none

fix(router): harden Kubernetes deployment identity
  olm/README.md
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/sandbox-router/deployment.yaml
  olm/config/sandbox-router/serviceaccount.yaml
  sandbox-router/README.md
  sandbox-router/deploy/README.md
  sandbox-router/deploy/deployment.yaml
  sandbox-router/deploy/kustomization.yaml
  sandbox-router/deploy/manifests_test.go
  sandbox-router/deploy/serviceaccount.yaml
  sandbox-router/examples/scoped-token-v2/README.md
  sandbox-router/examples/scoped-token-v2/deployment-patch.yaml
  sandbox-router/examples/scoped-token-v2/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(python-sdk): align in-cluster sandboxd mode names with Go and TS
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxd.py
  docs/python_sdk_reference.md
  packages/sandboxd/USER_GUIDE.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(rl): one NetworkPolicy per namespace for agent-sandbox-rl fleets
  examples/README.md
  examples/agent-sandbox-rl-network-policy/README.md
  examples/agent-sandbox-rl-network-policy/manifests/fleet-network-policy.yaml
  examples/agent-sandbox-rl-network-policy/scripts/verify.sh
  examples/agent-sandbox-rl-network-policy/warm_unmanaged.py
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(rl): describe the per-namespace policy example for any GKE fleet
  examples/README.md
  examples/agent-sandbox-rl-network-policy/README.md
  examples/agent-sandbox-rl-network-policy/manifests/fleet-network-policy.yaml
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(rl): warn on unisolated Unmanaged fleets; fix rollback and Cilium guidance
  examples/agent-sandbox-rl-network-policy/README.md
  examples/agent-sandbox-rl-network-policy/scripts/verify.sh
  examples/agent-sandbox-rl-network-policy/warm_unmanaged.py
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/preflight.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_preflight.py
  examples/agent-sandbox-rl/tests/test_resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(rl): GKE Pod Snapshot primitives — snapshot/suspend/resume/restore on fleet handles (opt-in)
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/cluster.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/exceptions.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/observability.py
  examples/agent-sandbox-rl/agent_sandbox_rl/preflight.py
  examples/agent-sandbox-rl/agent_sandbox_rl/snapshots.py
  examples/agent-sandbox-rl/examples/run_snapshot_demo.py
  examples/agent-sandbox-rl/tests/test_preflight.py
  examples/agent-sandbox-rl/tests/test_snapshots.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(rl): snapshot prerequisites must grant GKE's service agent storage.objectUser
  examples/agent-sandbox-rl/README.md
Due: none

fix(rl): address #1540 review round 1 — token-safe snapshot uid match, GKE minimum build, served-version test
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/snapshots.py
  examples/agent-sandbox-rl/tests/test_preflight.py
  examples/agent-sandbox-rl/tests/test_snapshots.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(rl): snapshot demo pins its pod and reads the probe as key=value lines
  examples/agent-sandbox-rl/examples/run_snapshot_demo.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(rl): run the snapshot demo's setup once
  examples/agent-sandbox-rl/examples/run_snapshot_demo.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(rl): tighten the per-namespace policy example and its SDK checks
  examples/agent-sandbox-rl-network-policy/README.md
  examples/agent-sandbox-rl-network-policy/manifests/fleet-network-policy.yaml
  examples/agent-sandbox-rl-network-policy/scripts/verify.sh
  examples/agent-sandbox-rl-network-policy/warm_unmanaged.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/preflight.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_preflight.py
  examples/agent-sandbox-rl/tests/test_resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(rl): keep snapshots until release succeeds; refresh fails loudly
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/tests/test_snapshots.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

addressed safety net comments
  fleet/ARCHITECTURE.md
  fleet/python/agent_sandbox_fleet/fleet_member.py
  fleet/python/agent_sandbox_fleet/leaselock.py
  fleet/python/agent_sandbox_fleet/resolver.py
  fleet/python/pyproject.toml
  fleet/python/tests/test_fleet_member.py
  fleet/python/tests/test_leaselock.py
  fleet/python/tests/test_resolver.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
