Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

feat: add PodIP to SandboxClaim status with population logic
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Implementation 1: Create a new Persistent Sandbox Handle.
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/command_execution.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/trace_manager.py
  dev/tools/test-unit.py
  test/unit/test_sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

update test-unit file.
  dev/tools/test-unit
  dev/tools/test-unit.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

podqueue added
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/pod_queue.go
  extensions/controllers/pod_queue_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Run unit test only the python sdk package
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add cleanup
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/test_podsnapshot_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

warmpool opt: update status
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

warmpool opt: updates status + randomDelay
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

warmpool opt: updates status + randomDelay + atomic adoption
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

warmpool opt: update status + randomDelay + atomic adoption + errgroup
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add `None` handling to sandbox/gateway/snapshot `wait`
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test_sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add is_restored method and udpate test
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

temp work.
  dev/ci/periodics/test-load-test
  dev/ci/periodics/test-load-test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

temp work.
  dev/__init__.py
  dev/ci/__init__.py
  dev/ci/presubmits/test-e2e
  dev/ci/shared/__init__.py
  dev/ci/shared/runner.py
  dev/tools/create-kind-cluster
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Separate common code in shared folder.
  controllers/sandbox_controller.go
  dev/__init__.py
  dev/ci/__init__.py
  dev/ci/periodics/test-load-test
  dev/ci/periodics/test-load-test.py
  dev/ci/shared/__init__.py
  dev/ci/shared/runner.py
  dev/tools/create-kind-cluster
  k8s/rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address test failure.
  controllers/sandbox_controller.go
  dev/__init__.py
  dev/ci/presubmits/test-e2e
  k8s/rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: clear stale PodIP when sandbox is not Ready
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add `selector` field to status / scale sub-resources.
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: verify pod ownership before operating on annotated pods
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: add e2e test artifacts and venv to .gitignore
  .gitignore
Due: none

add kube-api-linter checker
  .github/workflows/presubmit-tests.yml
  Makefile
  dev/ci/presubmits/lint-api
  dev/tools/.custom-gcl.yaml
  dev/tools/.golangci-kal.yml
  dev/tools/build-kal
  dev/tools/go.mod
  dev/tools/go.sum
  dev/tools/lint-api
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor: warm pool creates full Sandbox CRs instead of bare pods
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add PodIP field to SandboxClaim status
  extensions/api/v1alpha1/sandboxclaim_types.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: claim controller adoption logic + Python SDK PodIP support
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: extract sandbox name from claim status in warmpool e2e test
  test/e2e/extensions/pythonruntime_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: resolve lint issues (unused param, staticcheck)
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: don't auto-use PodIP for SDK base_url
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Implementation 1: Create a new Persistent Sandbox Handle.
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/trace_manager.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add a KEP to discuss the status field of Sandbox.
  docs/keps/119-sandbox-state/README.md
  docs/keps/119-sandbox-state/kep.yaml
Due: none

Add a KEP to discuss the status field of Sandbox.
  docs/keps/119-sandbox-state/README.md
Due: none

Additional test case
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/test_podsnapshot_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Improving docs
  README.md
  examples/README.md
  examples/openclaw-sandbox/README.md
  examples/openclaw-sandbox/openclaw-sandbox.yaml
  examples/openclaw-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

address reviewer feedback: refactor metrics and fix dependency coupling
  api/v1alpha1/annotations.go
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/metrics.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

remove comment
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix ut
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix header, move test
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: implement agent_sandbox_creation_latency_ms metric
  extensions/controllers/sandboxclaim_controller.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix by codereview
  .github/workflows/presubmit-tests.yml
  Makefile
  dev/tools/.golangci-kal.yml
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

rm no use file
  dev/ci/presubmits/lint-api
  dev/ci/presubmits/lint-go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
