Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

Add auto supension and resume example for hermes agent running in a sandbox.
  examples/hermes-agents-as-a-service/05-simple-sandbox-auto-suspension.yaml
  examples/hermes-agents-as-a-service/README.md
  examples/kata-gke-sandbox/README.md
  examples/openclaw-gvisor-sandbox/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address coderabbit comments part 2
  Makefile
  cmd/agent-sandbox-controller/main.go
  controllers/auto_suspension_controller.go
  controllers/auto_suspension_controller_test.go
  dev/tools/deploy-to-kube
  docs/api.md
  k8s/controller.yaml
  olm/config/network-policy/allow-suspension-traffic.yaml
  olm/config/network-policy/kustomization.yaml
  olm/config/rbac/support.yaml
  sandbox-router/config/config.go
  sandbox-router/config/config_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: lint-olm.
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/manager/manager.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: Aditya's comments.
  controllers/auto_suspension_controller.go
  helm/templates/networkpolicy-controller.yaml
  k8s/auto-suspension.yaml
  k8s/controller.yaml
  olm/config/network-policy/allow-suspension-traffic.yaml
  olm/config/network-policy/allow-system-traffic.yaml
  olm/config/network-policy/kustomization.yaml
  sandbox-router/proxy/ext_proc.go
  sandbox-router/proxy/ext_proc_test.go
  sandbox-router/proxy/headers.go
  sandbox-router/proxy/headers_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: lint presubmit failures.
  controllers/auto_suspension_controller.go
  controllers/auto_suspension_controller_test.go
  olm/config/rbac/support.yaml
  sandbox-router/proxy/ext_proc.go
  sandbox-router/proxy/headers.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address Janet's comments.
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/suspension_server.go
  controllers/suspension_server_test.go
  docs/auto_suspension.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comments around API naming.
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/suspension_server.go
  controllers/suspension_server_test.go
  docs/api.md
  docs/auto_suspension.md
  examples/hermes-agents-as-a-service/05-simple-sandbox-auto-suspension.yaml
  examples/hermes-agents-as-a-service/README.md
  examples/kata-gke-sandbox/sandbox-kata-auto-suspension.yaml
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/openclaw-sandbox-auto-suspension.yaml
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/templates/deployment.yaml
  k8s/auto-suspension.yaml
  k8s/controller.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/extensions.controller.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/manager/manager.yaml
  olm/config/rbac/support.yaml
  sandbox-router/proxy/ext_proc.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Rebase the router changes.
  controllers/suspension_server_test.go
  sandbox-router/cache/cache.go
  sandbox-router/config/config.go
  sandbox-router/proxy/resolve.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(client/go): make WarmPoolName optional on Client Options
  clients/go/sandbox/client.go
  clients/go/sandbox/client_test.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandbox_test.go
  docs/go_sdk_reference.md
  examples/code-interpreter-agent-on-adk/README.md
  site/content/docs/filesystem/list-files/_index.md
  site/content/docs/filesystem/read-write/_index.md
  site/content/docs/filesystem/upload-download/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/_index.md
  site/content/docs/sandbox/lifecycle/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: update migration guide and OLM documentation for v1alpha1 removal
  docs/api-migration-guide.md
  docs/keps/694-kep-for-suspend-and-resume-for-beta/README.md
  helm/README.md
  olm/README.md
  roadmap.md
  site/content/docs/getting_started/_index.md
Due: none

examples: update latebind storage example to v1beta1
  examples/latebind-storage-gke-sandbox/README.md
  examples/latebind-storage-gke-sandbox/sandbox-warmpool.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(rl): update warm-pool worker guidance for controller v0.5.4
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/capacity.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/docs/strategies.md
  examples/agent-sandbox-rl/examples/rl_integration.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add kata-aks-sandbox and openclaw-kata-aks-sandbox examples
  examples/README.md
  examples/kata-aks-sandbox/README.md
  examples/kata-aks-sandbox/sandbox-kata-aks.yaml
  examples/kata-aks-sandbox/setup.sh
  examples/openclaw-kata-aks-sandbox/README.md
  examples/openclaw-kata-aks-sandbox/openclaw-config.yaml
  examples/openclaw-kata-aks-sandbox/openclaw-sandbox-kata-aks.yaml
  site/content/docs/use-cases/examples/kata-aks-sandbox/_index.md
  site/content/docs/use-cases/examples/openclaw-kata-aks-sandbox/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(rl): warm_create_budget comment says mitigates, not prevents, the pre-v0.5.4 race (review feedback)
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: add detailed conditions for auto suspension vs manual suspension.
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/suspension_server.go
  controllers/suspension_server_test.go
  docs/api.md
  docs/auto_suspension.md
  test/e2e/mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: go-lint-fix.
  test/e2e/mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandboxclaim): raise cacheLagRequeueDelay 50ms->200ms to bound AlreadyExists churn
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add optional TTL for pools and claims
  extensions/api/v1alpha1/sandboxclaim_conversion.go
  extensions/api/v1alpha1/sandboxclaim_conversion_test.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion_test.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  internal/lifecycle/expiry.go
  internal/lifecycle/expiry_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address TTL controller review feedback
  cmd/agent-sandbox-controller/main.go
  extensions/api/v1alpha1/sandboxclaim_conversion_test.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: regenerate TTL API docs after rebase
  docs/api.md
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: resolve rebased warm pool setup
  cmd/agent-sandbox-controller/main.go
  docs/api.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

style: format warm pool TTL tests
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: regenerate OLM TTL CRDs
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: order OLM warm pool TTL schema
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: match TTL event recorder output
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(api): document warm-pool lifecycle default on SandboxClaimSpec.Lifecycle field
  extensions/api/v1beta1/sandboxclaim_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

style: format claim TTL event test
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: specify claim TTL lifecycle integration
  docs/superpowers/specs/2026-07-31-claim-ttl-lifecycle-design.md
Due: none

refactor: route claim TTL through lifecycle
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: describe claim TTL lifecycle initialization
  docs/api.md
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxclaim_types.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: regenerate api.md for warm-pool lifecycle field description
  docs/api.md
Due: none

test(e2e): set explicit Retain on watcher test claim
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: sync generated claim CRDs
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(rl): add deep container spec merging, safe exec stream handling, and batch fleet cleanup
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: align claim TTL lifecycle expectations
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix copilot comments
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: correct claim lifecycle event assertions
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: persist expired claim lifecycle status
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address review feedback
  examples/kata-aks-sandbox/README.md
  examples/kata-aks-sandbox/setup.sh
  examples/openclaw-kata-aks-sandbox/README.md
  examples/openclaw-kata-aks-sandbox/openclaw-sandbox-kata-aks.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf(sandboxclaim): reconcile claims when template is created
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
