Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

fix(client/go): prevent registry clobber leaking orphaned sandbox handles
  clients/go/sandbox/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(client/go): Disconnect (not Close) redundant handle in CreateSandbox race
  clients/go/sandbox/client.go
  clients/go/sandbox/client_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(webhook): extract cert resolution helper and add unit tests
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/tls.go
  cmd/agent-sandbox-controller/tls_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor(client/go): extract trackOrAdoptRace helper + test GetSandbox branch
  clients/go/sandbox/client.go
  clients/go/sandbox/client_test.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

perf(sandbox): opt-in coalescing of recoverable metadata writes via RequeueAfter deferral
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/writebehind_coalesce_test.go
  controllers/writebehind_requeue.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(webhook tls) resolve bot comment
  cmd/agent-sandbox-controller/tls.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test/stress: run sustained extra-namespace cleanup even when the phase context is cancelled
  test/stress/sustained.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(rl): address PR #1232 review — make safeguards actually fire
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/reaper.py
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/docs/strategies.md
  examples/agent-sandbox-rl/tests/test_pr1232_fixes.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(warmpool): stop over-creating replicas via expectations tracking and terminating-aware create gating
  PR-DRAFT.md
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
  extensions/controllers/warmpool_expectations.go
  extensions/controllers/warmpool_expectations_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(warmpool): self-schedule the post-grace evaluation for not-Ready sandboxes
  PR-DRAFT.md
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: drop PR-DRAFT.md from the branch (content moves to the PR body)
  PR-DRAFT.md
Due: none

docs(rl): clarify exec() timeout applies to the session path
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs, examples: opt-in APF insulation overlay for high-rate claim workloads
  docs/apf-insulation.md
  examples/README.md
  examples/apf-insulation/README.md
  examples/apf-insulation/apf-insulation.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(warmpool): lower delete expectation on NotFound; declare core events RBAC marker
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

perf(warmpool): jitter the post-grace requeue; document batch-size and expectations-timeout trade-offs
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
  extensions/controllers/warmpool_expectations.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add firecracker-sandbox example (Kata + Firecracker microVM runtime)
  examples/README.md
  examples/firecracker-sandbox/Dockerfile
  examples/firecracker-sandbox/README.md
  examples/firecracker-sandbox/main.py
  examples/firecracker-sandbox/requirements.txt
  examples/firecracker-sandbox/sandbox-firecracker.yaml
  examples/firecracker-sandbox/sandbox-template-firecracker.yaml
  examples/firecracker-sandbox/setup.sh
  examples/firecracker-sandbox/test_client.py
  site/content/docs/use-cases/examples/firecracker-sandbox/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(firecracker-sandbox): address round-3 review feedback
  examples/firecracker-sandbox/README.md
  examples/firecracker-sandbox/main.py
  examples/firecracker-sandbox/requirements.txt
  examples/firecracker-sandbox/setup.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

e2e: address CodeRabbit review feedback
  test/e2e/extensions/README.md
  test/e2e/extensions/runtime_class_test.go
  test/e2e/extensions/warm-pool-benchmark-slides.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(controller): add namespaced mode with --namespace flag
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/main_test.go
  codegen.go
  docs/configuration.md
  helm/README.md
  helm/files/extensions-rbac.generated.yaml
  helm/files/rbac.generated.yaml
  helm/templates/NOTES.txt
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
  helm/templates/clusterrolebinding-extensions.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/extensions-rbac.yaml
  helm/templates/rbac.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
  helm/templates/webhook-service.yaml
  helm/values.yaml
  test/e2e/README.md
  test/e2e/namespaced_mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(helm): add namespaced RBAC manifests and deployment tooling
  codegen.go
  dev/tools/generate-namespaced-rbac
  dev/tools/shared/rbac_notes.py
  dev/tools/shared/rbac_notes_test.py
  docs/configuration.md
  helm/README.md
  helm/files/extensions-rbac.namespaced.generated.yaml
  helm/files/rbac.namespaced.generated.yaml
  helm/templates/NOTES.txt
  helm/templates/leader-election-role.yaml
  helm/templates/leader-election-rolebinding.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: Isolation-tier routing proposal for SandboxClaims
  docs/proposals/sla-aware-warmpool-routing.md
Due: none

fix: resolve golangci-lint errcheck and modernize warnings
  test/e2e/extensions/runtime_class_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: address CodeRabbit review comments on routing proposal
  docs/proposals/sla-aware-warmpool-routing.md
Due: none

perf-test: add KWOK scalability presubmit test
  .gitignore
  dev/ci/presubmits/test-e2e-scalability-kwok
  test/benchmarks/config/agent-sandbox-continuous-burst.yaml
  test/benchmarks/config/agent-sandbox-rapid-burst.yaml
  test/benchmarks/config/cluster-loader-sandbox-claim.yaml
  test/benchmarks/config/cluster-loader-sandbox-template.yaml
  test/benchmarks/config/cluster-loader-sandbox-warmpool-custom.yaml
  test/benchmarks/config/monitor/agent-sandbox-controller-monitor.yaml
  test/benchmarks/config/monitor/pprof-config.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: address Copilot review comments on routing proposal
  docs/proposals/sla-aware-warmpool-routing.md
Due: none

fix: address Copilot review on timeout cap and zero-CPU guard
  test/e2e/extensions/runtime_class_test.go
  test/e2e/framework/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs, examples: frame the APF overlay as isolation, not a latency optimization
  docs/apf-insulation.md
  examples/apf-insulation/README.md
  examples/apf-insulation/apf-insulation.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs, examples: address APF review findings — non-lendable critical level, per-queue 429 semantics, flow_schema in dispatch verification
  docs/apf-insulation.md
  examples/apf-insulation/apf-insulation.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples, docs: restrict the critical FlowSchema to hot-path write verbs
  docs/apf-insulation.md
  examples/apf-insulation/apf-insulation.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

kep: update KEP-539.2 to add implementable design for the sandboxd portable backend hybrid protocol (#1151)
  docs/keps/539.2-runtime-standardization/README.md
  docs/keps/539.2-runtime-standardization/kep.yaml
Due: none

examples: add firecracker-sandbox (Kata + Firecracker) (#1238)
  examples/README.md
  examples/firecracker-sandbox/Dockerfile
  examples/firecracker-sandbox/README.md
  examples/firecracker-sandbox/main.py
  examples/firecracker-sandbox/requirements.txt
  examples/firecracker-sandbox/sandbox-firecracker.yaml
  examples/firecracker-sandbox/sandbox-template-firecracker.yaml
  examples/firecracker-sandbox/setup.sh
  examples/firecracker-sandbox/test_client.py
  site/content/docs/use-cases/examples/firecracker-sandbox/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf-test: align kwok presubmit scale parameters with perf-tests
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(rl): address PR #1232 review round 2 (label reconcile, breaker debounce, opt-in reap)
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/reaper.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/examples/run_swebench_recycle.py
  examples/agent-sandbox-rl/tests/test_pr1232_review2.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(client/go): prevent registry clobber leaking orphaned sandbox handles (#998)
  clients/go/sandbox/client.go
  clients/go/sandbox/client_test.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update files
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

perf(rl): count_pods via limit=1 + remainingItemCount, not a full list
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_pr1232_fixes.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor(minor): Verify API group in controller and owner references (#945)
  api/v1beta1/groupversion_info.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/api/v1beta1/groupversion_info.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxclaim_pod_exclusivity_test.go
  extensions/controllers/sandboxtemplate_controller_test.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
  internal/utils/utils.go
  internal/utils/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs, examples: opt-in APF insulation overlay for high-rate claim workloads (#1270)
  docs/apf-insulation.md
  examples/README.md
  examples/apf-insulation/README.md
  examples/apf-insulation/apf-insulation.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf(controllers): direct merge patches for hot-path metadata writes; optional claim event/annotation flags
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_rawpatch_test.go
  internal/rawpatch/rawpatch.go
  internal/rawpatch/rawpatch_bench_test.go
  internal/rawpatch/rawpatch_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: add agents-as-a-service (multi-user platform pattern with gateway)
  examples/README.md
  examples/agents-as-a-service/00-prereqs.yaml
  examples/agents-as-a-service/10-sandboxtemplate.yaml
  examples/agents-as-a-service/20-sandboxwarmpool.yaml
  examples/agents-as-a-service/30-claim-alice.yaml
  examples/agents-as-a-service/40-claim-rejected.yaml
  examples/agents-as-a-service/50-gateway.yaml
  examples/agents-as-a-service/README.md
  examples/agents-as-a-service/gateway/Dockerfile
  examples/agents-as-a-service/gateway/gateway.py
  examples/agents-as-a-service/gateway/requirements.txt
  examples/agents-as-a-service/run-test-kind.sh
  site/content/docs/use-cases/examples/agents-as-a-service/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
