Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

Improved error handling the client exit block
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Adds optional OpenTelemetry tracing to the Python agentic-sandbox-client
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/otel-collector-config.yaml
  clients/python/agentic-sandbox-client/pyproject.toml
  clients/python/agentic-sandbox-client/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Create a separate class for the TraceManager Create a decorator for the TraceManager class in the sandbox_client.
  clients/python/agentic-sandbox-client/GCP.md
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/agentic_sandbox/__init__.py
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/agentic_sandbox/trace_manager.py
  clients/python/agentic-sandbox-client/otel-collector-config.yaml.example
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Removes unnecessary changes from a rebase
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Updates the trace_manager to use the service name passed in at runtime. Includes more detailed comments in the trace_manager, and other minor syntactic changes.
  clients/python/agentic-sandbox-client/GCP.md
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/agentic_sandbox/trace_manager.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Adds documentation on tracing behavior with multiple clients
  clients/python/agentic-sandbox-client/GCP.md
Due: none

add barni as additional approver for examples folder
  examples/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

support setting networking for sandbox
  api/v1alpha1/sandbox_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/controllererror/errors.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  test/e2e/basic_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Gateway tests
  Makefile
  clients/python/agentic-sandbox-client/gateway-kind/README.md
  clients/python/agentic-sandbox-client/gateway-kind/gateway-kind.yaml
  clients/python/agentic-sandbox-client/gateway-kind/python-sandbox-template.yaml
  clients/python/agentic-sandbox-client/gateway-kind/run-test-kind.sh
  clients/python/agentic-sandbox-client/sandbox-router/README.md
  dev/ci/presubmits/test-e2e
  dev/tools/deploy-cloud-provider
  dev/tools/shared/utils.py
  dev/tools/test-e2e
  test/e2e/clients/python/framework/context.py
  test/e2e/clients/python/framework/predicates.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add deletion policy to sandbox
  api/v1alpha1/sandbox_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Pod Adoption prioritize ready pods
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  go.mod
  go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

nit: remove previous code
  clients/python/agentic-sandbox-client/sandbox-router/README.md
  dev/ci/presubmits/test-e2e
  dev/tools/shared/utils.py
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

nit
  dev/ci/presubmits/test-e2e
  dev/tools/shared/utils.py
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix watch mapping for Sandboxes with adopted pods
  controllers/sandbox_controller.go
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
  test/e2e/framework/client.go
  test/e2e/framework/context.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandbox_controller: get pod name from sandbox annotations on deletion
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandbox_controller: add test for handleSandboxExpiry
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: added shutdownTime to extensions CRs
  api/v1alpha1/sandbox_types.go
  cmd/agent-sandbox-controller/main.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/examples/sandbox-claim.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/extensions-rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: prevent repeated sandbox expiry cleanup attempts
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

set service ports when containerPort is set
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

nit:fix test
  dev/ci/presubmits/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

use W3C propagator to bound trace context size
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/agentic_sandbox/__init__.py
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/agentic_sandbox/trace_manager.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add flag to enable pprof
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Use a Deployment instead of a StatefulSet for the controller
  Makefile
  cmd/agent-sandbox-controller/main.go
  examples/jupyterlab/README.md
  examples/python-runtime-sandbox/run-test-kind.sh
  k8s/controller.yaml
  k8s/extensions.controller.yaml
  test/e2e/framework/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: sandbox router in golang
  Makefile
  cmd/sandbox-router/Dockerfile
  cmd/sandbox-router/main.go
  cmd/sandbox-router/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: add pvc annotations/labels from pvc tpl
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comments.
  examples/hello-world-sandbox/README.md
  examples/hello-world-sandbox/hello-world.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Correct the configurations details in README.md.
  examples/hello-world-sandbox/README.md
Due: none

Update sleep time .
  examples/hello-world-sandbox/Dockerfile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix index numbering in readme file.
  examples/hello-world-sandbox/README.md
Due: none

Fix watch mapping for Sandboxes with adopted pods
  controllers/sandbox_controller.go
  test/e2e/basic_test.go
  test/e2e/extensions/pythonruntime_test.go
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update tutorial content
  examples/analytics-tool/README.md
  examples/analytics-tool/analytics-tool/main.py
  examples/analytics-tool/analytics-tool/sandbox-python.yaml
  examples/analytics-tool/imgs/analytics-output.png
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add support for AKS Sandbox via vscode-sandbox example
  examples/vscode-sandbox/README.md
  examples/vscode-sandbox/overlays/kata-mshv/kustomization.yaml
  examples/vscode-sandbox/overlays/kata-mshv/patch-kata.yaml
  examples/vscode-sandbox/scripts/.gitignore
  examples/vscode-sandbox/scripts/apply.sh
  examples/vscode-sandbox/scripts/az-cleanup.sh
  examples/vscode-sandbox/scripts/az-provision.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
