Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

operator: simplify makefile
  olm/.devcontainer/post-install.sh
  olm/Makefile
  olm/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: standard bundle directory
  olm/bundle.Dockerfile
  olm/bundle/manifests/agent-sandbox-controller_v1_service.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/agent-sandbox-webhook-service_v1_service.yaml
  olm/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/bundle/metadata/annotations.yaml
  olm/bundle/tests/scorecard/config.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/manager/manager.yaml
  olm/config/rbac/extensions_role.yaml
  olm/config/rbac/role.yaml
  olm/config/rbac/support.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add operator tests into CI
  .github/workflows/olm.yml
  olm/.github/workflows/lint.yml
  olm/.github/workflows/test-e2e.yml
  olm/.github/workflows/test.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: fix OLM ServiceMonitor and metrics NetworkPolicy
  olm/config/network-policy/allow-metrics-traffic.yaml
  olm/config/prometheus/monitor.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: fix lint issues
  olm/hack/sync-k8s-manifests/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

operator: apply coderabbit minor fixes
  olm/README.md
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/network-policy/allow-metrics-traffic.yaml
  olm/config/prometheus/monitor.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: ensure binaries checksum is verified before running
  olm/Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: fix tests
  olm/Makefile
  olm/test/e2e/e2e_suite_test.go
  olm/test/e2e/e2e_test.go
  olm/test/utils/utils.go
  olm/test/utils/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

operator: add icon
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/manifests/icon.png
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: remove main.go
  olm/cmd/main.go
  olm/go.mod
  olm/go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandbox-router: redact logs before printing
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandbox-router: proxy WebSocket traffic to sandbox pods
  clients/python/agentic-sandbox-client/sandbox-router/README.md
  clients/python/agentic-sandbox-client/sandbox-router/requirements.in
  clients/python/agentic-sandbox-client/sandbox-router/requirements.txt
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandbox-router: add WebSocket idle timeout and per-client connection limits
  clients/python/agentic-sandbox-client/sandbox-router/README.md
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.yaml
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandbox-router: gate X-Forwarded-For on trusted proxy CIDRs
  clients/python/agentic-sandbox-client/sandbox-router/README.md
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.yaml
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add user guide for latebinding with agent sandbox on GKE
  examples/latebind-storage-gke-sandbox/README.md
  examples/latebind-storage-gke-sandbox/sandbox-warmpool.yaml
  examples/latebind-storage-gke-sandbox/storage-infra.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(examples): cross-compile chrome-sandbox entrypoint to avoid QEMU Go crash
  examples/chrome-sandbox/Dockerfile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

csn load test
  dev/load-test/test-recipes/csn-load-test/README.md
  dev/load-test/test-recipes/csn-load-test/churn-driver.py
  dev/load-test/test-recipes/csn-load-test/cost_graph.py
  dev/load-test/test-recipes/csn-load-test/manifests/asn-buffer.yaml
  dev/load-test/test-recipes/csn-load-test/manifests/computeclass.yaml
  dev/load-test/test-recipes/csn-load-test/manifests/csn-buffer.yaml
  dev/load-test/test-recipes/csn-load-test/manifests/hpa.yaml
  dev/load-test/test-recipes/csn-load-test/manifests/sandbox-template.yaml
  dev/load-test/test-recipes/csn-load-test/manifests/warmpool.yaml
  dev/load-test/test-recipes/csn-load-test/monitor-all.sh
  dev/load-test/test-recipes/csn-load-test/monitor-instances.sh
  dev/load-test/test-recipes/csn-load-test/run_churn_test.sh
  dev/load-test/test-recipes/csn-load-test/suspension-gate.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(openclaw-gvisor): addressing review comments added shebang to test script
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(examples): address PR review feedback on cilium egress demo
  examples/demo-cilium-egress/README.md
  examples/demo-cilium-egress/env.sh
  examples/demo-cilium-egress/manifests/router/sandbox-router.yaml
  examples/demo-cilium-egress/scripts/03-install-agent-sandbox.sh
  examples/demo-cilium-egress/scripts/05-observability.sh
  examples/demo-cilium-egress/scripts/optional-gateway-routing.sh
  examples/demo-cilium-egress/scripts/teardown.sh
  examples/demo-cilium-egress/scripts/test-ingress.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Revise KEP 694 and rename directory to 694-suspend-and-resume-plus-snapshot-api
  docs/keps/694-suspend-and-resume-for-beta/README.md
  docs/keps/694-suspend-and-resume-plus-snapshot-api/README.md
  docs/keps/694-suspend-and-resume-plus-snapshot-api/kep.yaml
Due: none

nits: copilot comments
  extensions/controllers/sandboxclaim_controller.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix Python Gateway client trusts Gateway status addresses without validation
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

resolve copilot comments
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

enforce string-only input at validation boundaries
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: treat bare hex prefix '0x' as integer label to prevent validation bypass
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

resolve PR review comments on address validation and hostname checks
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

nits: copilot comments
  dev/load-test/test-recipes/csn-load-test/README.md
  dev/load-test/test-recipes/csn-load-test/monitor-all.sh
  dev/load-test/test-recipes/csn-load-test/run_churn_test.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: address PR #1049 review (correctness, cleanup, tests)
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/capacity.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/registry_rewrite.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/agent_sandbox_rl/sizing.py
  examples/agent-sandbox-rl/examples/plan_capacity.py
  examples/agent-sandbox-rl/performance_reports/README.md
  examples/agent-sandbox-rl/tests/loadtest.py
  examples/agent-sandbox-rl/tests/run_full_swebench_benchmark.py
  examples/agent-sandbox-rl/tests/test_async_fleet.py
  examples/agent-sandbox-rl/tests/test_capacity.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_registry_rewrite.py
  examples/agent-sandbox-rl/tests/test_resources.py
  examples/agent-sandbox-rl/tests/test_run_full_swebench_benchmark.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Clean up SimpleSandboxQueue changes from previous revisions
  extensions/controllers/queue/simple_sandbox_queue.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: docs — sync architecture/design/README with current strategies & modules
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/docs/architecture.md
  examples/agent-sandbox-rl/docs/design.md
Due: none

examples/agent-sandbox-rl: docs — note pipelined peak footprint in performance_reports README
  examples/agent-sandbox-rl/performance_reports/README.md
Due: none

examples/agent-sandbox-rl: docs — document pre-pull DaemonSet + all-levers overview in gke.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/docs/gke.md
Due: none

fix(openclaw-gvisor-sandbox): address review feedback
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/gke-service.yaml
  examples/openclaw-gvisor-sandbox/kind-service.yaml
  examples/openclaw-gvisor-sandbox/openclaw-claim.yaml
  examples/openclaw-gvisor-sandbox/openclaw-config.yaml
  examples/openclaw-gvisor-sandbox/openclaw-template.yaml
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(helm): make topologySpreadConstraints example release-name agnostic
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: rename gke.md -> strategies.md, consolidate into one reference
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/docs/architecture.md
  examples/agent-sandbox-rl/docs/gke.md
  examples/agent-sandbox-rl/docs/strategies.md
Due: none

refactor(controllers): clean up deprecated v1alpha1 references and none warm pool fallback.
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(extensions): fix privilege escalation vulnerability in SandboxTemplate NetworkPolicy management
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(extensions): record events and wrap errors for NetworkPolicy ownership conflicts
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comments
  examples/keda-scale-to-zero/README.md
  examples/keda-scale-to-zero/create-claim.py
  examples/keda-scale-to-zero/python-sandbox-template.yaml
  examples/keda-scale-to-zero/sandboxwarmpool.yaml
  examples/keda-scale-to-zero/scaledobject-prometheus.yaml
  examples/keda-scale-to-zero/scaledobject-stackdriver.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: address PR #1049 second review round
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/agent_sandbox_rl/capacity.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/docs/strategies.md
  examples/agent-sandbox-rl/tests/test_capacity.py
  examples/agent-sandbox-rl/tests/test_fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
