Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

utils: un-nest git version subprocess calls; PEP 257 docstring
  dev/tools/shared/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address review feedback: drop template= from create_sandbox, fix grammar
  examples/anthropic-managed-agents/README.md
  examples/anthropic-managed-agents/dispatcher.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address Copilot review: DNS TCP/53, metadata-server wording, urlopen cleanup, dispatcher error handling
  examples/anthropic-managed-agents/README.md
  examples/anthropic-managed-agents/dispatcher.py
  examples/anthropic-managed-agents/network-policy.yaml
  examples/anthropic-managed-agents/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address review: scope DNS egress to kube-system, document metadata risk, back off on dispatch failure
  examples/anthropic-managed-agents/dispatcher.py
  examples/anthropic-managed-agents/network-policy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Create self signed certificiate with root CA for webhook server.
  Makefile
  api/v1beta1/sandbox_types.go
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/tls.go
  cmd/agent-sandbox-controller/tls_test.go
  controllers/sandbox_controller.go
  dev/tools/sort-crd-versions
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  helm/templates/rbac.generated.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Create self signed certificiate with root CA for webhook server. (#962)
  Makefile
  api/v1beta1/sandbox_types.go
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/tls.go
  cmd/agent-sandbox-controller/tls_test.go
  controllers/sandbox_controller.go
  dev/tools/sort-crd-versions
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  helm/templates/rbac.generated.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: add simple benchmark for time to get a claim from the warmpool
  test/e2e/chromesandbox_claim_test.go
  test/e2e/chromesandbox_test.go
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/warmpool_benchmark_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Implement conversion.
  api/v1alpha1/sandbox_conversion.go
  api/v1alpha1/sandbox_conversion_test.go
  api/v1beta1/sandbox_conversion.go
  cmd/agent-sandbox-controller/main.go
  extensions/api/v1alpha1/sandboxclaim_conversion.go
  extensions/api/v1alpha1/sandboxclaim_conversion_test.go
  extensions/api/v1alpha1/sandboxtemplate_conversion.go
  extensions/api/v1alpha1/sandboxtemplate_conversion_test.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion_test.go
  extensions/api/v1beta1/sandboxclaim_conversion.go
  extensions/api/v1beta1/sandboxtemplate_conversion.go
  extensions/api/v1beta1/sandboxwarmpool_conversion.go
  k8s/controller.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update Makefile
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Guard release asset uploads to draft releases only
  dev/tools/release
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

resourcectl: wrap lock-acquire error with %w
  dev/tools/resourcectl/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

triage-issues: clarify what belongs in the 'second look' section
  .agents/skills/triage-issues/SKILL.md
Due: none

docs/keps: add KEP-968 auto suspend/resume lifecycle for Claw-like sandboxes
  docs/keps/968-openclaw-sandbox-lifecycle/README.md
  docs/keps/968-openclaw-sandbox-lifecycle/kep.yaml
Due: none

migration: add script and job for v1alpha1 to v1beta1 migration
  dev/tools/migrate.sh
  docs/api-migration-guide.md
  helm/README.md
  helm/files/migrate.sh
  helm/templates/migration-configmap.yaml
  helm/templates/migration-job-bootstrap.yaml
  helm/templates/migration-job-migrate.yaml
  helm/templates/migration-rbac.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(keps): add KEP-0968 for intelligent auto-suspend and resume architecture
  docs/keps/968-auto-suspend-and-resume/README.md
  docs/keps/968-auto-suspend-and-resume/kep.yaml
Due: none

fix: address PR review comments on simple canary example
  examples/argocd-simple-canary/main.go
  examples/argocd-simple-canary/sdk_router.py
  examples/argocd-simple-canary/templates.yaml
  examples/argocd-simple-canary/test_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat!: embed SandboxSpec in SandboxTemplate spec (#969)
  clients/python/agentic-sandbox-client/gateway-kind/python-sandbox-template.yaml
  clients/python/agentic-sandbox-client/python-counter-template.yaml
  clients/python/agentic-sandbox-client/python-sandbox-template.yaml
  dev/load-test/test-recipes/templates/cluster-loader-sandbox-template.yaml
  examples/gemini-cu-sandbox/sandbox-gemini-computer-use.yaml
  examples/hpa-swp-scaling/python-sandbox-template.yaml
  examples/manual-pdb/sandboxtemplate.yaml
  examples/policy/network-policy-management/README.md
  examples/policy/network-policy-management/dns_poc_walkthrough.md
  examples/ray-integration/README.md
  examples/ray-integration/direct-proxy/manifest.yaml
  examples/ray-integration/ray-autopilot-setup.yaml
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxclaim_pod_exclusivity_test.go
  extensions/controllers/sandboxtemplate_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  extensions/examples/kata-aks/sandboxtemplate.yaml
  extensions/examples/llm.yaml
  extensions/examples/sandboxtemplate.yaml
  extensions/examples/secure-sandboxtemplate.yaml
  site/content/docs/filesystem/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/source/template.yaml
  site/content/docs/sandbox/lifecycle/source/template.yaml
  site/content/docs/sandbox/snapshots/source/template.yaml
  site/content/docs/volumes/volume-claim-template/_index.md
  site/content/docs/volumes/volume-claim-template/source/template.yaml
  test/e2e/chromesandbox_claim_test.go
  test/e2e/clients/python/test_manifests/sandbox_template.yaml
  test/e2e/extensions/sandboxclaim_metric_test.go
  test/e2e/extensions/shutdown_policy_test.go
  test/e2e/extensions/warmpool_rollout_test.go
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
  test/e2e/parallelism_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

addressing copilot comments
  dev/tools/migrate.sh
  docs/api-migration-guide.md
  helm/README.md
  helm/files/migrate.sh
  helm/templates/migration-job-migrate.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Regenerate CRDs and API docs
  docs/api.md
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

addressed Shruti's feedback
  docs/api-migration-guide.md
  helm/README.md
  helm/files/migrate.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

migration: fix RBAC + IPv6 + restricted-PSA for migration Jobs
  helm/templates/migration-job-migrate.yaml
  helm/templates/migration-rbac.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

migration: clarify warmpool=none branch + apply extensions.yaml in docs
  docs/api-migration-guide.md
  helm/files/migrate.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

example: cilium network policy
  examples/policy/cilium/README.md
  examples/policy/cilium/allowlist-cidr.yaml
  examples/policy/cilium/allowlist-fqdn.yaml
  examples/policy/cilium/default-deny-egress-netpol.yaml
  examples/policy/cilium/default-deny-egress.yaml
  examples/policy/cilium/egress-gateway.yaml
  examples/policy/cilium/gateway/Dockerfile
  examples/policy/cilium/sandboxtemplate-cilium-only.yaml
  examples/policy/cilium/sandboxtemplate-defense-in-depth.yaml
  examples/policy/cilium/test-targets.yaml
  examples/policy/vap/README.md
  examples/policy/vap/restrict-template-egress-binding.yaml
  examples/policy/vap/restrict-template-egress-policy.yaml
  examples/policy/vap/restrict-template-egress-test.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: update the manual pdb example
  examples/manual-pdb/README.md
  examples/manual-pdb/sandboxwarmpool.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: make SandboxWarmPool spec.replicas optional with default=1
  docs/api.md
  extensions/api/v1beta1/sandboxwarmpool_types.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  extensions/examples/sandboxwarmpool.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Implement list and delete snapshot functionality in Python SDK (#448)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/snapshot_engine.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/utils.py
  clients/python/agentic-sandbox-client/python-counter-template.yaml
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: async Python client for non-blocking sandbox operations (#510)
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/async_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/async_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/trace_manager.py
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update controller metric to use predicate (#533)
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  test/e2e/extensions/sandboxclaim_metric_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test/e2e: stop idle resource watches after last subscription closes (#535)
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
  test/e2e/framework/watchset.go
  test/e2e/framework/watchset_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(python): add backward compatibility for SandboxClaim status.sandbox.Name (#515)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add ControllerStartupLatency metric for SandboxClaims (#522)
  dev/load-test/test-recipes/README-rapid-burst.md
  dev/load-test/test-recipes/rapid-burst-test.yaml
  extensions/controllers/sandboxclaim_controller.go
  internal/metrics/metrics.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Support extensions and custom controller flags in deploy-to-kube tool (#511)
  Makefile
  dev/ci/shared/runner.py
  dev/tools/deploy-to-kube
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Implement suspend and resume with snapshots. (#541)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/snapshot_engine.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/utils.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: Implement SandboxWarmPool recreate on template updates (#347)
  api/v1alpha1/sandbox_types.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  extensions/controllers/utils.go
  extensions/examples/sandboxwarmpool.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(python): include spec.lifecycle in SandboxClaim at creation time (#531)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_lifecycle.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_lifecycle_integration.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: query parameters are lost when proxying requests in a sandbox router (#371)
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Revert "optimization: replace .Update() with .Patch() for sandbox updateStatu…" (#526)
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add examples in website (#548)
  examples/sandbox-ksa/README.md
  site/content/docs/examples/analytics-tool/_index.md
  site/content/docs/examples/chrome-sandbox/_index.md
  site/content/docs/examples/composing-sandbox-nw-policies/_index.md
  site/content/docs/examples/gemini-cu-sandbox/_index.md
  site/content/docs/examples/hello-world-sandbox/_index.md
  site/content/docs/examples/kata-gke-sandbox/_index.md
  site/content/docs/examples/opa-gatekeeper/_index.md
  site/content/docs/examples/openclaw-sandbox/_index.md
  site/content/docs/examples/python-runtime-sandbox/_index.md
  site/content/docs/examples/sandbox-ksa/_index.md
  site/content/docs/examples/secure-sandbox-vap/_index.md
  site/content/docs/examples/vscode-sandbox/_index.md
Due: none

add aditya-shantanu as approver for docs folder (#553)
  docs/OWNERS
Due: none

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
