Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

Expose sandbox service ports (#1258)
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: capture the kubelet journal from each node
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/profiler/profiler.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments and update doc
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: serve only the beta sandbox APIs (#1234)
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: node root volumes on pd-ssd; control plane to c3-standard-22 (#1275)
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add multi-runtime benchmark study fir gVisor and Kata Containers
  examples/gke-swap/README.md
  examples/gke-swap/node-tuner-daemonset.yaml
  examples/gke-swap/run_chromesandbox_density_test.sh
  examples/gke-swap/runtimes/README.md
  examples/gke-swap/runtimes/gVisor/README.md
  examples/gke-swap/runtimes/gVisor/deploy_cluster.sh
  examples/gke-swap/runtimes/kata/README.md
  examples/gke-swap/runtimes/kata/deploy_cluster.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controller: don't write the pod-name annotation for the default name
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: make gateway proxy admission and idle suspension race-free
  examples/hermes-agents-as-a-service/gateway/gateway.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(warmpool): add replenish-delay and max-refill-rate refill shaping flags
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: watch-driven convergence on partial refill grants; validate refill-rate flag
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: demote per-pass refill pacing/deferral logs to V(4)
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: Isolation-tier routing proposal for SandboxClaims
  docs/proposals/sla-aware-warmpool-routing.md
Due: none

docs: address CodeRabbit review comments on routing proposal
  docs/proposals/sla-aware-warmpool-routing.md
Due: none

docs: address Copilot review comments on routing proposal
  docs/proposals/sla-aware-warmpool-routing.md
Due: none

docs: address maintainer review — spec fields, tier-down overflow, namespace enforcement
  docs/proposals/sla-aware-warmpool-routing.md
Due: none

e2e: address CodeRabbit review feedback
  test/e2e/extensions/README.md
  test/e2e/extensions/runtime_class_test.go
  test/e2e/extensions/warm-pool-benchmark-slides.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

e2e: add runtime-class-aware warm pool benchmarks
  test/e2e/extensions/README.md
  test/e2e/extensions/runtime_class_test.go
  test/e2e/extensions/warm-pool-benchmark-slides.md
  test/e2e/framework/client.go
  test/e2e/framework/nodes.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: resolve golangci-lint errcheck and modernize warnings
  test/e2e/extensions/runtime_class_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address Copilot review on timeout cap and zero-CPU guard
  test/e2e/extensions/runtime_class_test.go
  test/e2e/framework/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

e2e: refactor burst calibration, fix timeout and benchmark metrics
  test/e2e/extensions/README.md
  test/e2e/extensions/runtime_class_test.go
  test/e2e/extensions/warm-pool-benchmark-slides.md
  test/e2e/framework/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

e2e: add latency breakdown with watch-based milestone tracker
  test/e2e/extensions/milestone_tracker_test.go
  test/e2e/extensions/runtime_class_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: keep the refill token grant int32-safe at huge rates
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: address CodeRabbit review — pool validation, webhook scope, accuracy fixes
  docs/proposals/sla-aware-warmpool-routing.md
Due: none

stress-test: raise kubelet API QPS, cap kubelet event spam
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test report: identify kubelet status pacing
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/templates/ratelimits.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controller: strip managedFields from created Pods
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: scale the benchmark to 40 worker nodes
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: extend the throughput sweep to mif800 and mif1200
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controller: reconcile Sandbox updates only on generation change
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: hero run - 80 nodes, c3-standard-44, 200 workers, mif1600
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: raise APF inflight limits; downsize non-hero presubmit legs
  dev/ci/presubmits/benchmarks-kops-gcp-cilium
  test/benchmarks/scenarios/benchmarks-kops-gcp-claims/run
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: control plane to c3-standard-88
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: raise etcd backend quota to 8GiB, compact every 2 minutes
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: runtime-aware CI proposal for timing regression visibility
  docs/kata-ci-proposal.md
Due: none

docs: address CodeRabbit and Copilot review comments
  docs/kata-ci-proposal.md
Due: none

metrics: fix agent_sandbox_ready_latency_ms to measure ms
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  internal/metrics/metrics.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

e2e: consolidate cluster info, enhance burst recovery benchmarks
  test/e2e/extensions/README.md
  test/e2e/extensions/milestone_tracker_test.go
  test/e2e/extensions/runtime_class_test.go
  test/e2e/framework/client.go
  test/e2e/framework/cluster.go
  test/e2e/framework/context.go
  test/e2e/framework/nodes.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address review feedback and update deploy cluster scripts
  examples/gke-swap/README.md
  examples/gke-swap/deploy_cluster.sh
  examples/gke-swap/node-tuner-daemonset.yaml
  examples/gke-swap/run_chromesandbox_density_test.sh
  examples/gke-swap/runtimes/README.md
  examples/gke-swap/runtimes/gVisor/README.md
  examples/gke-swap/runtimes/gVisor/deploy_cluster.sh
  examples/gke-swap/runtimes/kata/README.md
  examples/gke-swap/runtimes/kata/deploy_cluster.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
