Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

handle possible null values
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: address CodeRabbit review on PR #1000
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/r2egym.py
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/swebench.py
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/cluster.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/agent_sandbox_rl/sources.py
  examples/agent-sandbox-rl/agent_sandbox_rl/strategies.py
  examples/agent-sandbox-rl/docs/design.md
  examples/agent-sandbox-rl/tests/conftest.py
  examples/agent-sandbox-rl/tests/test_config.py
  examples/agent-sandbox-rl/tests/test_r2egym_adapter.py
  examples/agent-sandbox-rl/tests/test_resources.py
  examples/agent-sandbox-rl/tests/test_swebench.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add sandbox PVC retention policy
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: tighten prefix-validation test (ValueError, drop inline imports)
  examples/agent-sandbox-rl/tests/test_config.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: address Copilot review on PR #1000
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/strategies.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_strategies.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(helm): publish chart to a GitHub Pages Helm repository
  .github/cr.yaml
  .github/workflows/helm-chart-release.yml
  helm/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Potential fix for pull request finding
  .github/workflows/helm-chart-release.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: zip(strict=True) in _run_windowed write-back
  examples/agent-sandbox-rl/agent_sandbox_rl/strategies.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: multi-cluster budget split + async result ordering (Copilot review)
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/tests/test_async_fleet.py
  examples/agent-sandbox-rl/tests/test_fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: consistent limit semantics — None=all, 0=none (CodeRabbit)
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/swebench.py
  examples/agent-sandbox-rl/agent_sandbox_rl/sources.py
  examples/agent-sandbox-rl/examples/run_swebench_fleet.py
  examples/agent-sandbox-rl/tests/test_sources.py
  examples/agent-sandbox-rl/tests/test_swebench.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test-unit: run the agent-sandbox-rl mocked suite in CI
  dev/tools/test-unit
  examples/agent-sandbox-rl/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: dedup on-demand pool reservation in acquire() (Copilot review)
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/tests/test_fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: exact integer budget split across clusters (Copilot review)
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/tests/test_fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: fix design.md packaging section to match pyproject (Copilot)
  examples/agent-sandbox-rl/docs/design.md
Due: none

examples: add rl-sandbox-scripts (script-based SWE-bench warm-pool prototype)
  examples/README.md
  examples/rl-sandbox-scripts/README.md
  examples/rl-sandbox-scripts/e2e_test.sh
  examples/rl-sandbox-scripts/image-analysis.md
  examples/rl-sandbox-scripts/manifests/namespace.yaml
  examples/rl-sandbox-scripts/manifests/reference/README.md
  examples/rl-sandbox-scripts/manifests/reference/sandbox_template.yaml.j2
  examples/rl-sandbox-scripts/manifests/sandbox-template.example.yaml
  examples/rl-sandbox-scripts/manifests/sandboxwarmpool.example.yaml
  examples/rl-sandbox-scripts/manifests/warmpools/astropy-12907.yaml
  examples/rl-sandbox-scripts/manifests/warmpools/astropy-13033.yaml
  examples/rl-sandbox-scripts/optimizations.md
  examples/rl-sandbox-scripts/performance.md
  examples/rl-sandbox-scripts/prepull.sh
  examples/rl-sandbox-scripts/requirements.txt
  examples/rl-sandbox-scripts/rl-tunix-swebench-demo.ipynb
  examples/rl-sandbox-scripts/run_swebench.py
  examples/rl-sandbox-scripts/sizing.py
  examples/rl-sandbox-scripts/strategies.py
  examples/rl-sandbox-scripts/warmpool.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

api: Add kubebuilder deprecation markers to v1alpha1 CRDs.
  api/v1alpha1/sandbox_types.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: redact + slim committed performance reports (Copilot review)
  examples/agent-sandbox-rl/performance_reports/.gitignore
  examples/agent-sandbox-rl/performance_reports/README.md
  examples/agent-sandbox-rl/performance_reports/deepswe_sliding_5tasks_20260621-152841.json
  examples/agent-sandbox-rl/performance_reports/deepswe_sliding_5tasks_20260621-152841.txt
  examples/agent-sandbox-rl/performance_reports/sliding_10tasks_20260620-232844.json
  examples/agent-sandbox-rl/performance_reports/sliding_10tasks_20260620-232844.txt
  examples/agent-sandbox-rl/performance_reports/sliding_10tasks_20260620-233643.json
  examples/agent-sandbox-rl/performance_reports/sliding_10tasks_20260620-233643.txt
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add a nil UpdateStrategy round-trip case
  extensions/api/v1alpha1/sandboxwarmpool_conversion_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

rl-sandbox-scripts: address Copilot review on PR #1006
  examples/rl-sandbox-scripts/README.md
  examples/rl-sandbox-scripts/optimizations.md
  examples/rl-sandbox-scripts/performance.md
  examples/rl-sandbox-scripts/rl-tunix-swebench-demo.ipynb
  examples/rl-sandbox-scripts/strategies.py
  examples/rl-sandbox-scripts/warmpool.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

style: scope spec to filesystem and process services - Remove admin and jupyter service definitions and their generation. keep the pr simple - Tidy go.mod to reflect the scoped-down dependencies
  go.mod
  packages/sandboxd/spec/admin/v1/admin.pb.go
  packages/sandboxd/spec/admin/v1/admin.proto
  packages/sandboxd/spec/admin/v1/admin_grpc.pb.go
  packages/sandboxd/spec/jupyter/v1/jupyter.pb.go
  packages/sandboxd/spec/jupyter/v1/jupyter.proto
  packages/sandboxd/spec/jupyter/v1/jupyter_grpc.pb.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

combine tests
  extensions/api/v1alpha1/sandboxwarmpool_conversion_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix: addressing review comment
  api/v1beta1/sandbox_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

simplify filesystem and process API method names
  packages/sandboxd/spec/filesystem/v1/filesystem.pb.go
  packages/sandboxd/spec/filesystem/v1/filesystem.proto
  packages/sandboxd/spec/filesystem/v1/filesystem_grpc.pb.go
  packages/sandboxd/spec/process/v1/process.pb.go
  packages/sandboxd/spec/process/v1/process.proto
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: fix SweBenchSource(limit=0) — short-circuit instead of HF "[0:0]"
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/swebench.py
  examples/agent-sandbox-rl/tests/test_swebench.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: drop broken r2egym extra; UTF-8 for JsonlSource (Copilot)
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/sources.py
  examples/agent-sandbox-rl/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: correct v1alpha1 migration jsonpath in migrate.sh and clarify guide
  docs/api-migration-guide.md
  helm/files/migrate.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: increase pod creation timeout in migration test to fix flake
  dev/tools/test-migration.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

address review: dedup pod-metadata helpers, document validation scope
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/pod_metadata.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): bracket IPv6 addresses in HTTP URLs per RFC 3986
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add printer columns for sandbox resources
  api/v1beta1/sandbox_types.go
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(helm): add opt-in ServiceMonitor for the controller metrics endpoint
  helm/README.md
  helm/templates/servicemonitor.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: fix typos in site content
  site/content/docs/getting_started/go-sdk-quickstart/_index.md
  site/content/docs/getting_started/install_prerequisites/_index.md
  site/content/docs/getting_started/sdk_reference/_index.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date

feat(controller): add namespace-scoped mode
  cmd/agent-sandbox-controller/main.go
  docs/configuration.md
  helm/README.md
  helm/templates/_controller-args.tpl
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(controller): disable webhooks and CRD patching in namespaced mode
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/main_test.go
  docs/configuration.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(controller): isolate WATCH_NAMESPACE in parseWatchNamespaces tests
  cmd/agent-sandbox-controller/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Example: OpenClaw Gvisor Example
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/gke-service.yaml
  examples/openclaw-gvisor-sandbox/kind-config.yaml
  examples/openclaw-gvisor-sandbox/kind-service.yaml
  examples/openclaw-gvisor-sandbox/openclaw-claim.yaml
  examples/openclaw-gvisor-sandbox/openclaw-config.yaml
  examples/openclaw-gvisor-sandbox/openclaw-template.yaml
  examples/openclaw-gvisor-sandbox/openclaw-warmpool.yaml
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fixed headers
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Log, conciseness, test
  extensions/controllers/queue/simple_sandbox_queue.go
  extensions/controllers/queue/simple_sandbox_queue_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
