Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

feat: add cleanup=True support to AsyncSandboxClient (#859)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(release): enhance automated release notes generation with pre-release notices and explicit breaking changes (#958)
  dev/tools/generate-release-notes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: update vitest dependencies to version 3.2.6 in package-lock.json
  clients/typescript/agentic-sandbox-client/package-lock.json
  test/e2e/clients/typescript/package-lock.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: sanitize git-derived version strings to prevent build-time command injection (#946)
  dev/tools/shared/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: migrate SandboxClaim spec to warmPoolRef (#899 follow-up)
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/exceptions.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: add node_modules and TypeScript dist to .gitignore
  .gitignore
Due: none

feat(clients/typescript): add TypeScript SDK for agent-sandbox
  clients/typescript/agentic-sandbox-client/biome.json
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/response-utils.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/trace-manager.test.ts
  clients/typescript/agentic-sandbox-client/src/commands/command-executor.ts
  clients/typescript/agentic-sandbox-client/src/commands/index.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/exceptions.ts
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
  clients/typescript/agentic-sandbox-client/src/extensions/index.ts
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
  clients/typescript/agentic-sandbox-client/src/files/index.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/response-utils.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  clients/typescript/agentic-sandbox-client/src/trace-manager.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
  clients/typescript/agentic-sandbox-client/tsconfig.json
  clients/typescript/agentic-sandbox-client/vitest.config.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(e2e): add end-to-end test suite for TypeScript SDK
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/framework/predicates.ts
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/package.json
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
  test/e2e/clients/typescript/test-manifests/sandbox-coldpool.yaml
  test/e2e/clients/typescript/test-manifests/sandbox-template.yaml
  test/e2e/clients/typescript/test-manifests/sandbox-warmpool.yaml
  test/e2e/clients/typescript/tsconfig.json
  test/e2e/clients/typescript/vitest.config.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: implement volumeclaimtemplates via sandboxclaim
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/examples/sandbox-claim.yaml
  extensions/examples/sandboxtemplate.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Suppress k8serrors in sandbox controller
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

addressed Janet's feedback
  docs/api-migration-guide.md
  helm/files/migrate.sh
  helm/templates/migration-job-bootstrap.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

updated doc
  docs/api-migration-guide.md
Due: none

helm: add v1alpha1->v1beta1 migration script and upgrade hook Jobs (#971)
  dev/tools/migrate.sh
  docs/api-migration-guide.md
  helm/README.md
  helm/files/migrate.sh
  helm/templates/migration-configmap.yaml
  helm/templates/migration-job-bootstrap.yaml
  helm/templates/migration-job-migrate.yaml
  helm/templates/migration-rbac.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

move Protobuf spec under packages/sandboxd/spec/ with type-safe v1 packages, added interactive streaming support (stdin EOF and PTY isolation)
  packages/sandboxd/spec/admin/v1/admin.pb.go
  packages/sandboxd/spec/admin/v1/admin.proto
  packages/sandboxd/spec/admin/v1/admin_grpc.pb.go
  packages/sandboxd/spec/filesystem/v1/filesystem.pb.go
  packages/sandboxd/spec/filesystem/v1/filesystem.proto
  packages/sandboxd/spec/filesystem/v1/filesystem_grpc.pb.go
  packages/sandboxd/spec/generate.go
  packages/sandboxd/spec/jupyter/jupyter.pb.go
  packages/sandboxd/spec/jupyter/v1/jupyter.pb.go
  packages/sandboxd/spec/jupyter/v1/jupyter.proto
  packages/sandboxd/spec/jupyter/v1/jupyter_grpc.pb.go
  packages/sandboxd/spec/process/v1/process.pb.go
  packages/sandboxd/spec/process/v1/process.proto
  packages/sandboxd/spec/process/v1/process_grpc.pb.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: upgrade vitest to v4.1.8 and fix mock syntax
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/package.json
  test/e2e/clients/typescript/vitest.config.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: wire TypeScript SDK into unit and E2E test runners
  dev/ci/presubmits/test-e2e
  dev/tools/shared/node.py
  dev/tools/test-e2e
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: fix resource leaks in Sandbox handle lifecycle
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Implement conversion. (#966)
  api/v1alpha1/sandbox_conversion.go
  api/v1alpha1/sandbox_conversion_test.go
  api/v1beta1/sandbox_conversion.go
  cmd/agent-sandbox-controller/main.go
  extensions/api/v1alpha1/sandboxclaim_conversion.go
  extensions/api/v1alpha1/sandboxclaim_conversion_test.go
  extensions/api/v1alpha1/sandboxtemplate_conversion.go
  extensions/api/v1alpha1/sandboxtemplate_conversion_test.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion_test.go
  extensions/api/v1beta1/sandboxclaim_conversion.go
  extensions/api/v1beta1/sandboxtemplate_conversion.go
  extensions/api/v1beta1/sandboxwarmpool_conversion.go
  k8s/controller.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor: simplify mock implementations in test files
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: update filesystem to record byte length for file size attribute
  clients/typescript/agentic-sandbox-client/src/__tests__/filesystem.test.ts
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: fix watch hang on clean close; scope router YAML substitution
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: add typecheck npm script
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/tsconfig.test.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): reraise ApiException on non-404 delete failure
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): propagate ApiException from _delete_claim and drop dead SandboxNotFoundError handler
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): use consistent SandboxClaim terminology in error log messages
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add gVisor toleration to SandboxTemplate for GKE 1.35.5+ secure-sandbox-policy
  examples/anthropic-managed-agents/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python): expose additionalPodMetadata in sandbox client
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: use uuid warm-pool sandbox names
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  go.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: normalize PVC error message to follow Go conventions
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Feat(extensions): add printer columns to SandboxClaim CRD (#963)
  extensions/api/v1beta1/sandboxclaim_types.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Configure CodeRabbit auto_review to target all base branches
  .coderabbit.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

resolve bot comments
  buf.yaml
  packages/sandboxd/spec/jupyter/v1/jupyter.pb.go
  packages/sandboxd/spec/jupyter/v1/jupyter.proto
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Remove k8serrors suppression
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Convert anthropic-managed-agents example to a use-case doc
  examples/README.md
  examples/anthropic-managed-agents/README.md
  examples/anthropic-managed-agents/dispatcher.py
  examples/anthropic-managed-agents/network-policy.yaml
  examples/anthropic-managed-agents/sandbox-template.yaml
  site/content/docs/use-cases/anthropic-managed-agents/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Complete dispatcher POST payload in use-case doc
  site/content/docs/use-cases/anthropic-managed-agents/_index.md
Due: none

Fix: address coderabbit review comments
  extensions/api/v1beta1/sandboxclaim_types.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Implement test script for kubectl and helm.
  dev/tools/deploy-to-kube
  dev/tools/migrate.sh
  dev/tools/sort-crd-versions
  dev/tools/test-migration.py
  docs/api-migration-guide.md
  helm/README.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  helm/files/migrate.sh
  helm/templates/deployment.yaml
  helm/templates/migration-configmap.yaml
  helm/templates/migration-job-bootstrap.yaml
  helm/templates/migration-job-migrate.yaml
  helm/templates/migration-rbac.yaml
  helm/templates/webhook-service.yaml
  helm/values.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

update code to match v1beta1
  clients/go/examples/basic/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Test flakiness.
  dev/ci/shared/runner.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
