Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

Add appropriate wait checks.
  dev/tools/test-migration.py
  docs/api-migration-guide.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add banner to the site.
  site/assets/scss/_styles_project.scss
  site/content/docs/getting_started/_index.md
  site/content/docs/getting_started/api-migration-guide.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date

Add emergency rollback procedure.
  dev/tools/test-migration.py
  docs/api-migration-guide.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix lint.
  dev/tools/test-migration.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Match the test exactly as is with the guide.
  dev/tools/test-migration.py
  docs/api-migration-guide.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address review feedback: drop template= from create_sandbox, fix grammar
  examples/anthropic-managed-agents/README.md
  examples/anthropic-managed-agents/dispatcher.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add examples/anthropic-managed-agents: Anthropic self-hosted sandboxes on GKE Agent Sandbox
  examples/README.md
  examples/anthropic-managed-agents/README.md
  examples/anthropic-managed-agents/dispatcher.py
  examples/anthropic-managed-agents/network-policy.yaml
  examples/anthropic-managed-agents/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address review: scope DNS egress to kube-system, document metadata risk, back off on dispatch failure
  examples/anthropic-managed-agents/dispatcher.py
  examples/anthropic-managed-agents/network-policy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Convert anthropic-managed-agents example to a use-case doc
  examples/README.md
  examples/anthropic-managed-agents/README.md
  examples/anthropic-managed-agents/dispatcher.py
  examples/anthropic-managed-agents/network-policy.yaml
  examples/anthropic-managed-agents/sandbox-template.yaml
  site/content/docs/use-cases/anthropic-managed-agents/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Complete dispatcher POST payload in use-case doc
  site/content/docs/use-cases/anthropic-managed-agents/_index.md
Due: none

Address Copilot review: DNS TCP/53, metadata-server wording, urlopen cleanup, dispatcher error handling
  examples/anthropic-managed-agents/README.md
  examples/anthropic-managed-agents/dispatcher.py
  examples/anthropic-managed-agents/network-policy.yaml
  examples/anthropic-managed-agents/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add gVisor toleration to SandboxTemplate for GKE 1.35.5+ secure-sandbox-policy
  examples/anthropic-managed-agents/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update examples.
  examples/code-interpreter-agent-on-adk/README.md
  examples/ray-integration/direct-proxy/manifest.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add remaining test cases for conversion.
  dev/tools/test-migration.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Also add the reverse conversion validation.
  dev/tools/test-migration.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

[v1beta1 migration]: Implement manual API upgrade tests from v1alpha1 to v1beta1 (#986)
  dev/ci/shared/runner.py
  dev/tools/deploy-to-kube
  dev/tools/migrate.sh
  dev/tools/sort-crd-versions
  dev/tools/test-migration.py
  docs/api-migration-guide.md
  helm/README.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  helm/files/migrate.sh
  helm/templates/deployment.yaml
  helm/templates/migration-configmap.yaml
  helm/templates/migration-job-bootstrap.yaml
  helm/templates/migration-job-migrate.yaml
  helm/templates/migration-rbac.yaml
  helm/templates/webhook-service.yaml
  helm/values.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

[v1beta1-migration]: Make the migration upgrade tests automated.
  dev/ci/periodics/test-migration
  dev/ci/shared/runner.py
  dev/tools/test-migration.py
  docs/api-migration-guide.md
  test/migration/testdata/v0.4.6/extensions.yaml
  test/migration/testdata/v0.4.6/helm-v0.4.6.tar.gz
  test/migration/testdata/v0.4.6/manifest.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix coderabbit comments.
  dev/ci/shared/runner.py
  dev/tools/test-migration.py
  helm/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

[v1beta1-migration]: Make the migration upgrade tests automated. (#989)
  dev/ci/periodics/test-migration
  dev/ci/shared/runner.py
  dev/tools/test-migration.py
  docs/api-migration-guide.md
  helm/README.md
  test/migration/testdata/v0.4.6/extensions.yaml
  test/migration/testdata/v0.4.6/helm-v0.4.6.tar.gz
  test/migration/testdata/v0.4.6/manifest.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(sandbox): update computeReadyCondition and add printer columns to Sandbox CRD
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comment
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_pod_exclusivity_test.go
  internal/metrics/sandbox_collector.go
  internal/utils/utils.go
  internal/utils/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

nitpick
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Reject Claim env injection
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: Add single quote to support Python 3.11 in prow job.
  dev/tools/test-migration.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add new test case
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: Add single quote to support Python 3.11 in prow job. (#992)
  dev/tools/test-migration.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

check ref nil
  internal/utils/utils.go
  internal/utils/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

[v1beta1 migration]: Update `site/` folder with the latest v1beta1 API changes. (#848)
  examples/code-interpreter-agent-on-adk/README.md
  examples/ray-integration/direct-proxy/manifest.yaml
  site/assets/scss/_styles_project.scss
  site/content/docs/filesystem/_index.md
  site/content/docs/filesystem/list-files/_index.md
  site/content/docs/filesystem/read-write/_index.md
  site/content/docs/filesystem/upload-download/_index.md
  site/content/docs/getting_started/_index.md
  site/content/docs/getting_started/api-migration-guide.md
  site/content/docs/getting_started/sdk_reference/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/source/template.yaml
  site/content/docs/sandbox/custom_sandbox/image/_index.md
  site/content/docs/sandbox/lifecycle/_index.md
  site/content/docs/sandbox/lifecycle/source/template.yaml
  site/content/docs/sandbox/metrics/_index.md
  site/content/docs/sandbox/snapshots/_index.md
  site/content/docs/sandbox/snapshots/source/template.yaml
  site/content/docs/use-cases/anthropic-managed-agents/_index.md
  site/content/docs/use-cases/gvisor-isolation/_index.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
  site/content/docs/volumes/gcsfuse-csi/_index.md
  site/content/docs/volumes/volume-claim-template/_index.md
  site/content/docs/volumes/volume-claim-template/source/template.yaml
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

update to match v1beta1
  clients/go/README.md
Due: none

address comments
  clients/python/agentic-sandbox-client/python-sandbox-warmpool.yaml
  clients/python/agentic-sandbox-client/test_client.py
  docs/api.md
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: storage config through sandboxclaim
  test/e2e/extensions/sandboxclaim_vct_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix: address code review comments
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

API changes
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  docs/api.md
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Controller changes
  examples/sandboxed-tools/main.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Test files changes
  controllers/sandbox_controller_test.go
  examples/policy/vap/policy_test.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxclaim_pod_exclusivity_test.go
  extensions/controllers/sandboxtemplate_controller_test.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  test/e2e/extensions/sandboxclaim_metric_test.go
  test/e2e/extensions/shutdown_policy_test.go
  test/e2e/shutdown_test.go
  test/e2e/warmpool_benchmark_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

SandboxClaim: increase default number of workers
  cmd/agent-sandbox-controller/main.go
  dev/load-test/test-recipes/README-rapid-burst.md
  docs/configuration.md
  helm/README.md
  helm/values.yaml
  test/e2e/parallelism_test.go
  test/e2e/warmpool_benchmark_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(client/go): prevent registry clobber leaking orphaned sandbox handles
  clients/go/sandbox/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(client/go): close TOCTOU race in GetSandbox registry lookup
  clients/go/sandbox/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix gofmt style
  clients/go/README.md
Due: none

align AsyncSandbox functionality to match Sandbox
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
