Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

addressed bot comments
  fleet/python/agent_sandbox_fleet/cli.py
  fleet/python/agent_sandbox_fleet/placement.py
  fleet/python/tests/test_resolver.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

addressed bot feedback
  fleet/python/agent_sandbox_fleet/argtypes.py
  fleet/python/agent_sandbox_fleet/cli.py
  fleet/python/agent_sandbox_fleet/fleet_member.py
  fleet/python/agent_sandbox_fleet/hubauth.py
  fleet/python/agent_sandbox_fleet/hubcheck.py
  fleet/python/agent_sandbox_fleet/inventory.py
  fleet/python/agent_sandbox_fleet/objectstore.py
  fleet/python/agent_sandbox_fleet/planner.py
  fleet/python/agent_sandbox_fleet/publisher.py
  fleet/python/agent_sandbox_fleet/registry_rewrite.py
  fleet/python/tests/test_argtypes.py
  fleet/python/tests/test_cli.py
  fleet/python/tests/test_fleet_member.py
  fleet/python/tests/test_hubauth.py
  fleet/python/tests/test_inventory.py
  fleet/python/tests/test_objectstore.py
  fleet/python/tests/test_planner.py
  fleet/python/tests/test_publisher.py
  fleet/python/tests/test_registry_rewrite.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

style(fleet): reformat Python package to 4-space indentation
  fleet/python/agent_sandbox_fleet/argtypes.py
  fleet/python/agent_sandbox_fleet/budget.py
  fleet/python/agent_sandbox_fleet/cli.py
  fleet/python/agent_sandbox_fleet/hubauth.py
  fleet/python/agent_sandbox_fleet/hubcheck.py
  fleet/python/agent_sandbox_fleet/inventory.py
  fleet/python/agent_sandbox_fleet/objectstore.py
  fleet/python/agent_sandbox_fleet/placement.py
  fleet/python/agent_sandbox_fleet/planner.py
  fleet/python/agent_sandbox_fleet/publisher.py
  fleet/python/agent_sandbox_fleet/registry_rewrite.py
  fleet/python/agent_sandbox_fleet/sizing.py
  fleet/python/agent_sandbox_fleet/trainer.py
  fleet/python/tests/test_argtypes.py
  fleet/python/tests/test_budget.py
  fleet/python/tests/test_cli.py
  fleet/python/tests/test_fleet_member.py
  fleet/python/tests/test_hubauth.py
  fleet/python/tests/test_inventory.py
  fleet/python/tests/test_objectstore.py
  fleet/python/tests/test_placement.py
  fleet/python/tests/test_planner.py
  fleet/python/tests/test_publisher.py
  fleet/python/tests/test_registry_rewrite.py
  fleet/python/tests/test_resolver.py
  fleet/python/tests/test_trainer.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

updated doc comment
  fleet/python/agent_sandbox_fleet/publisher.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(router): fence stale Pod cache events by UID
  sandbox-router/cache/cache.go
  sandbox-router/cache/cache_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

new line
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/get_sandbox_status.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

rebase
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/server.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/get_sandbox_status.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

apply fix
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(burst): fresh pool per iteration, remove settle timer
  test/e2e/extensions/README.md
  test/e2e/extensions/runtime_class_burst_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

addressed comments related to list managed pools and assignments
  fleet/python/agent_sandbox_fleet/fleet_member.py
  fleet/python/tests/test_fleet_member.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

updated file
  extensions/api/v1beta1/sandboxclaim_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

updated test file
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(claim): expose the bound Sandbox's serviceFQDN on SandboxClaim status
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fixed autogen
  docs/api.md
Due: none

added crd
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

updated helm
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

addressed ai review
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

updated olm
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

updated docs
  docs/api.md
Due: none

test: satisfy lint for sandbox claim retention test
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add sandbox PVC retention policy
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: lower steady-state PVC retention log verbosity
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: compare PVC retention policy in warmpool blueprint staleness
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

addressed Aditya and Janet feedback
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address PVC retention review feedback
  api/v1beta1/sandbox_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

remove podname label from type and sandbox controller
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: update default release notes model to gemini-3.7-flash
  .github/workflows/release.yml
  Makefile
  dev/tools/generate-release-notes
  dev/tools/release
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(examples): update Gemini model references to gemini-3.7-flash
  examples/analytics-tool/jupyterlab.yaml
  examples/code-interpreter-agent-on-adk/README.md
  site/content/docs/use-cases/code-execution/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(release): use global location for gemini-3.7-flash and bump google-genai
  .github/workflows/release.yml
  dev/tools/generate-release-notes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(ci): pin google-genai to 1.51.0 in release workflow
  .github/workflows/release.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: consolidate AI review guidelines and add path-specific instructions
  .coderabbit.yaml
  .github/copilot-instructions.md
  .github/instructions/api.instructions.md
  .github/instructions/controllers.instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/go-sdk.instructions.md
  .github/instructions/python-sdk.instructions.md
  .github/skills
  AGENTS.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore(coderabbit): map path instruction files via filePatterns applyTo
  .coderabbit.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add SKIP_BUILD to deploy published images without a local build
  Makefile
  dev/tools/deploy-kind
  dev/tools/deploy_kind_test.py
  dev/tools/latest-published-tag
  dev/tools/latest_published_tag_test.py
  dev/tools/shared/utils.py
  docs/development.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor(instructions): refine API and controller review guidelines based on review feedback
  .github/instructions/api.instructions.md
  .github/instructions/controllers.instructions.md
Due: none

docs: merge coding conventions into AGENTS.md and keep original coderabbit path_instructions
  .coderabbit.yaml
  .github/instructions/api.instructions.md
  .github/instructions/controllers.instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/go-sdk.instructions.md
  .github/instructions/python-sdk.instructions.md
  AGENTS.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(agents): clarify that controllers may update primary CR lifecycle metadata
  AGENTS.md
Due: none

docs(agents): ensure all specific conventions and gotchas are covered in AGENTS.md
  AGENTS.md
Due: none

fix(olm): sync PVC retention CRDs
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(api): sync PVC retention reference
  docs/api.md
Due: none

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
