Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

fix(go-sdk): remove unnecessary else block in files_test
  clients/go/sandbox/files_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

build: enforce LF line endings via .gitattributes
  .gitattributes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

router: add tls args and volumes commented out
  sandbox-router/deploy/deployment.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(dev): preserve multi-file KUBECONFIG in test-e2e's kubectl calls
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

apply coderabbit comments
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/tlsconfig.go
  cmd/agent-sandbox-controller/tlsconfig_test.go
  docs/configuration.md
  helm/templates/deployment.yaml
  olm/config/sandbox-router/deployment.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: separate router protocol and reachability constraints
  clients/go/sandbox/podtunnel.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: correct sandboxd runtime API guarantees
  docs/keps/539.2-runtime-standardization/README.md
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/pkg/server/filesystem.go
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: publish and align sandboxd runtime API reference
  clients/go/sandbox/connector.go
  clients/go/sandbox/podtunnel.go
  clients/go/sandbox/strategy.go
  docs/keps/539.2-runtime-standardization/README.md
  examples/sandboxd-sandbox/sandbox-template.yaml
  packages/sandboxd/Dockerfile
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/cmd/sandboxd/main.go
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
  site/content/docs/api/_index.md
  site/content/docs/api/runtime/_index.md
  site/data/link_replacements.yaml
  site/hugo.yaml
  test/e2e/extensions/sandboxd_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: clarify sandboxd example connectivity
  examples/sandboxd-sandbox/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: document policy requirements for direct sandboxd access
  docs/keps/539.2-runtime-standardization/README.md
  packages/sandboxd/USER_GUIDE.md
Due: none

docs: align sandboxd protocol examples
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: correct sandboxd transport and error semantics
  clients/go/sandbox/podtunnel.go
  docs/go_sdk_reference.md
  docs/keps/539.2-runtime-standardization/README.md
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: fix sandboxd SDK examples and comments
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sdks): preserve streaming error responses
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(go-sdk): remove unnecessary else block in files_test (#1698)
  clients/go/sandbox/files_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: publish and align sandboxd runtime API reference (#1645)
  clients/go/sandbox/connector.go
  clients/go/sandbox/podtunnel.go
  clients/go/sandbox/strategy.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  docs/go_sdk_reference.md
  docs/keps/539.2-runtime-standardization/README.md
  examples/sandboxd-sandbox/sandbox-template.yaml
  packages/sandboxd/Dockerfile
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/cmd/sandboxd/main.go
  packages/sandboxd/pkg/server/filesystem.go
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
  site/content/docs/api/_index.md
  site/content/docs/api/runtime/_index.md
  site/data/link_replacements.yaml
  site/hugo.yaml
  test/e2e/extensions/sandboxd_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox): add --disable-sandbox-events flag
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox): emit Kubernetes Events for Sandbox lifecycle transitions
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: add urunc sandbox example
  examples/README.md
  examples/urunc-sandbox/README.md
  examples/urunc-sandbox/sandbox-urunc.yaml
  examples/urunc-sandbox/setup.sh
  site/content/docs/use-cases/examples/urunc-sandbox/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: sync AGENTS.md with latest repository layout, SDKs, and Make targets
  AGENTS.md
Due: none

docs: sync AGENTS.md with latest repository layout, SDKs, and Make targets (#1710)
  AGENTS.md
Due: none

docs(configuration): cover every controller flag in the flag reference (#1653)
  docs/configuration.md
Due: none

build: mark common image and document formats as binary
  .gitattributes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(clients/ts): align kubeconfig merging with kubectl in TestContext
  test/e2e/clients/typescript/framework/context.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): allow injecting a pre-configured ApiClient (#1069)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): do not close a caller-injected ApiClient
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): keep injected async client attached
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): preserve async cleanup client state
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): mirror injected client's config for the sync atexit helper
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(python-sdk): warn that local-tunnel mode ignores injected api_client's context
  clients/python/agentic-sandbox-client/README.md
Due: none

docs(python-sdk): regenerate API reference, document api_client usage
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(clients/ts): skip missing KUBECONFIG entries like kubectl in TestContext
  test/e2e/clients/typescript/framework/context.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sdks): close cancelled streaming responses
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

verify-olm-bundle: minor fixes
  dev/tools/verify-olm-bundle
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

networkpolicy: document port change when enabling secure metrics
  k8s/networkpolicy.yaml
  olm/config/network-policy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandbox-router: improve the network policy to work with OLM
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bundle: add networkpolicy
  olm/bundle/manifests/sandbox-router_networking.k8s.io_v1_networkpolicy.yaml
  olm/config/sandbox-router/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: fix unit tests
  olm/hack/sync-k8s-manifests/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

controller: add networkpolicy
  dev/tools/release
  k8s/networkpolicy.yaml
  olm/Makefile
  olm/config/default/kustomization.yaml
  olm/config/network-policy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: add networkpolicy
  olm/README.md
  olm/config/sandbox-router/kustomization.yaml
  olm/config/sandbox-router/networkpolicy.yaml
  olm/hack/sync-k8s-manifests/main.go
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
