Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

feat(examples/python-runtime-sandbox): per-request /execute timeout and timed_out
  examples/python-runtime-sandbox/README.md
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/test_main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(examples/python-runtime-sandbox): treat a zombie child as exited in the timeout test
  examples/python-runtime-sandbox/test_main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(kep-1306): fix CEL rule for shutdownPolicy with TTL in claimDefaults
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

addressed freshness comments
  docs/keps/1434-multi-cluster-fleet/README.md
Due: none

changes in vct test
  test/e2e/clients/python/conftest.py
  test/e2e/clients/python/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix tests
  test/e2e/clients/python/conftest.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

undo auto formatting
  clients/python/agentic-sandbox-client/test_client.py
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

update after rebase
  test/e2e/clients/python/framework/sdk_helpers.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

port test_client tests to pytests
  test/e2e/clients/python/framework/sdk_helpers.py
  test/e2e/clients/python/test_client.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

intial refactoring moving test_client to pytest test suite
  test/e2e/clients/python/conftest.py
  test/e2e/clients/python/framework/sdk_helpers.py
  test/e2e/clients/python/test_async_client_e2e.py
  test/e2e/clients/python/test_client.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

excluding example test marker from ci pipeline
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fixes
  test/e2e/clients/python/conftest.py
  test/e2e/clients/python/test_client.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fixing tests
  test/e2e/clients/python/conftest.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

remove unused imports
  test/e2e/clients/python/conftest.py
  test/e2e/clients/python/framework/sdk_helpers.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

remove -m not example
  dev/tools/test-e2e
  test/e2e/clients/python/conftest.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

kep: multi cluster fleet (#1435)
  docs/keps/1434-multi-cluster-fleet/README.md
  docs/keps/1434-multi-cluster-fleet/kep.yaml
Due: none

fix(go-sdk): don't retry Health/Metadata by default
  clients/go/README.md
  clients/go/sandbox/commands.go
  clients/go/sandbox/files.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandboxd_test.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(examples/python-runtime-sandbox): per-request /execute timeout and timed_out (#1841)
  examples/python-runtime-sandbox/README.md
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/test_main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(go-sdk): add WithEnv and WithWorkingDir to Run
  clients/go/README.md
  clients/go/sandbox/commands.go
  clients/go/sandbox/files.go
  clients/go/sandbox/sandboxd_test.go
  clients/go/sandbox/types.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(warmpool): hold sandboxes whose pod waits on scheduling gates
  cmd/agent-sandbox-controller/main.go
  docs/configuration.md
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
  helm/README.md
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(clients/ts): give the tunnel backpressure test a CI-sized timeout (#1829)
  clients/typescript/agentic-sandbox-client/src/__tests__/tunnel.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

flake-report: stop filing a PR's own breakage as flakes
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

flake-report: tolerate a missing gh binary in the PR-files lookup
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fleet-member: document why warmpool_ready is the aggregated status (#1850)
  fleet/python/agent_sandbox_fleet/fleet_member.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fleet: report claim_p90_ms as null until it is measured
  fleet/python/agent_sandbox_fleet/cli.py
  fleet/python/agent_sandbox_fleet/fleet_member.py
  fleet/python/agent_sandbox_fleet/hubcheck.py
  fleet/python/agent_sandbox_fleet/inventory.py
  fleet/python/agent_sandbox_fleet/placement.py
  fleet/python/agent_sandbox_fleet/publisher.py
  fleet/python/tests/test_fleet_member.py
  fleet/python/tests/test_inventory.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fleet deploy: spread member replicas with preferred anti-affinity; read member logs by label
  fleet/deploy/fleet-member-clusterprofile-patch.yaml
  fleet/deploy/fleet-member-deployment-wi.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

observe.sh: read fleet-member logs by label now that there are two replicas
  fleet/demo/observe.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fleet ARCHITECTURE: node-drain failover holds only with a multi-node controller pool
  fleet/ARCHITECTURE.md
Due: none

fix(warmpool): flush status on partial batch errors in Reconcile
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

adding trailing new line
  clients/python/agentic-sandbox-client/test_client.py
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(ci): publish only the core Python SDK to PyPI
  .github/workflows/pypi-publish.yml
  clients/integrations/README.md
  clients/integrations/deepagents/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

update image name
  test/e2e/clients/python/conftest.py
  test/e2e/clients/python/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(clients/ts): spell out \x04 in the closeStdin() PTY error message
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-connect.test.ts
  clients/typescript/agentic-sandbox-client/src/commands.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(clients/ts): note that control calls may fail with another code before not_found
  clients/typescript/agentic-sandbox-client/README.md
Due: none

update prefix convention
  test/e2e/clients/python/conftest.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(docs): install integrations from tags instead of unpublished packages
  clients/integrations/gymnasium/README.md
  clients/integrations/gymnasium/k8s_agent_sandbox_gymnasium/gymnasium_env.py
  clients/integrations/nemo-gym/README.md
  clients/integrations/openhands/README.md
  examples/agent-sandbox-gymnasium/jupyter/rl_training.ipynb
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/openhands.py
  examples/agent-sandbox-rl/examples/rl_integration.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): report sandboxd command_timeout as timed_out
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/async_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_command_executor.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor(python-sdk): model the legacy /execute request with pydantic
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_command_executor.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add command_timeout to commands.run and surface timed_out
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/async_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_command_executor.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix flaky test
  test/e2e/clients/python/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
