Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

cleanup
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: raise minimum Python to 3.11 ahead of 3.10 EOL
  .coderabbit.yaml
  .github/copilot-instructions.md
  .github/workflows/pypi-publish.yml
  .github/workflows/release.yml
  AGENTS.md
  clients/integrations/deepagents/pyproject.toml
  clients/integrations/mcp-server/pyproject.toml
  clients/python/agentic-sandbox-client/pyproject.toml
  clients/python/agentic-sandbox-client/python-counter-template.yaml
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(warmpool): make the readiness grace priod configurable
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(claim): expose the bound Sandbox's serviceFQDN on SandboxClaim status
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

updated file
  extensions/api/v1beta1/sandboxclaim_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

updated test file
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fixed autogen
  docs/api.md
Due: none

added crd
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

updated helm
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

addressed ai review
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

updated olm
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(controller): add namespaced mode with --namespace flag
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/main_test.go
  codegen.go
  docs/configuration.md
  helm/README.md
  helm/files/extensions-rbac.generated.yaml
  helm/files/rbac.generated.yaml
  helm/templates/NOTES.txt
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
  helm/templates/clusterrolebinding-extensions.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/extensions-rbac.yaml
  helm/templates/rbac.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
  helm/templates/webhook-service.yaml
  helm/values.yaml
  test/e2e/README.md
  test/e2e/namespaced_mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(helm): add namespaced RBAC manifests and deployment tooling
  codegen.go
  dev/tools/generate-namespaced-rbac
  dev/tools/shared/rbac_notes.py
  dev/tools/shared/rbac_notes_test.py
  docs/configuration.md
  helm/README.md
  helm/files/extensions-rbac.namespaced.generated.yaml
  helm/files/rbac.namespaced.generated.yaml
  helm/templates/NOTES.txt
  helm/templates/leader-election-role.yaml
  helm/templates/leader-election-rolebinding.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: inline guard set expression, add positive-path guard test
  dev/tools/push-images
  dev/tools/push_images_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(sandboxwarmpool): add Available status condition and observedGeneration
  docs/api.md
  extensions/api/v1beta1/sandboxwarmpool_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  test/e2e/extensions/warmpool_status_condition_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(mcp): add list_files and file_exists tools
  clients/integrations/mcp-server/README.md
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/server.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/__init__.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/file_exists.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/list_files.py
  clients/integrations/mcp-server/tests/unit/test_tools/test_file_exists.py
  clients/integrations/mcp-server/tests/unit/test_tools/test_list_files.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

update catalog to 0.5.4 and add catalogimage annotation
  olm/Makefile
  olm/config/manager/kustomization.yaml
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/manifests/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

regenerate bundle
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/tests/scorecard/config.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(mcp): bound the list_files response and test both timeout limits
  clients/integrations/mcp-server/README.md
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/list_files.py
  clients/integrations/mcp-server/tests/unit/test_tools/test_file_exists.py
  clients/integrations/mcp-server/tests/unit/test_tools/test_list_files.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

gateway: add also non-GKE examples
  clients/go/examples/gateway/main.go
  clients/python/agentic-sandbox-client/sandbox-router/README.md
  clients/python/agentic-sandbox-client/sandbox-router/gateway.yaml
  examples/demo-cilium-egress/README.md
  examples/demo-cilium-egress/manifests/router/gateway.yaml
  examples/ray-integration/README.md
  examples/vscode-sandbox/README.md
  sandbox-router/README.md
  sandbox-router/observability/access_log.go
  site/content/docs/use-cases/kata-containers-isolation/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor(sandboxd): address maintainer review — port-only flags, timeout consolidation, file modularity, metadata caching
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/cmd/sandboxd/main.go
  packages/sandboxd/pkg/server/filesystem.go
  packages/sandboxd/pkg/server/filesystem_types.go
  packages/sandboxd/pkg/server/metadata.go
  packages/sandboxd/pkg/server/process.go
  packages/sandboxd/pkg/server/server.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

resolve bot comment and test failures
  packages/sandboxd/pkg/server/filesystem_test.go
  packages/sandboxd/pkg/server/metadata.go
  packages/sandboxd/pkg/server/server.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(nono-sandbox): add nono sandbox example
  examples/README.md
  examples/nono-sandbox/.dockerignore
  examples/nono-sandbox/.gitignore
  examples/nono-sandbox/Dockerfile
  examples/nono-sandbox/README.md
  examples/nono-sandbox/assets/nono.png
  examples/nono-sandbox/audit-storage.yaml
  examples/nono-sandbox/audit-verifier.yaml
  examples/nono-sandbox/demo-llm-secret.yaml
  examples/nono-sandbox/kind-config.yaml
  examples/nono-sandbox/kustomization.yaml
  examples/nono-sandbox/loki.yaml
  examples/nono-sandbox/nono-profiles-configmap.yaml
  examples/nono-sandbox/run-test-kind.sh
  examples/nono-sandbox/sandbox.yaml
  examples/nono-sandbox/sandboxtemplate.yaml
  examples/nono-sandbox/verify-audit.py
  examples/nono-sandbox/workload.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: add high density benchmark and node tuning instructions for GKE swap
  examples/gke-swap/README.md
Due: none

chore(nono-sandbox): refine example files and update build
  examples/nono-sandbox/Dockerfile
  examples/nono-sandbox/run-test-kind.sh
  examples/nono-sandbox/verify-audit.py
  examples/nono-sandbox/workload.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: update deploy_cluster.sh with flags to customize density deployments and address comments
  examples/gke-swap/README.md
  examples/gke-swap/deploy_cluster.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: address nits for node tuner link and note section
  examples/gke-swap/README.md
Due: none

review(sandboxd): stream-chunk-size flag, exec env/cwd docs, pty test guide
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/cmd/sandboxd/main.go
  packages/sandboxd/pkg/processmanager/manager.go
  packages/sandboxd/pkg/server/process.go
  packages/sandboxd/pkg/server/process_test.go
  packages/sandboxd/pkg/server/server.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: enforce strict Sandbox-to-Pod mapping
  api/v1beta1/sandbox_types.go
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add verify, uninstall and decription to docs
  README.md
  site/content/docs/sandbox/_index.md
Due: none

fix: stabilize multiple Pod condition message
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix some typos
  Makefile
  examples/composing-sandbox-nw-policies/README.md
  examples/policy/vap/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(mcp): add /healthz and /readyz probe endpoints
  clients/integrations/mcp-server/README.md
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/probes.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/server.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/settings.py
  clients/integrations/mcp-server/pyproject.toml
  clients/integrations/mcp-server/tests/unit/test_probes.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

apply coderabbit feedback
  clients/go/examples/gateway/main.go
  clients/python/agentic-sandbox-client/sandbox-router/README.md
  clients/python/agentic-sandbox-client/sandbox-router/gateway-gke-healthcheck.yaml
  clients/python/agentic-sandbox-client/sandbox-router/gateway.yaml
  examples/demo-cilium-egress/manifests/router/gateway.yaml
  examples/ray-integration/README.md
  examples/vscode-sandbox/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add example: simulating AWS IRSA locally with LocalStack
  examples/irsa-simulation-localstack/README.md
  examples/irsa-simulation-localstack/check-script-configmap.yaml
  examples/irsa-simulation-localstack/localstack.yaml
  examples/irsa-simulation-localstack/namespace.yaml
  examples/irsa-simulation-localstack/sandbox.yaml
  examples/irsa-simulation-localstack/serviceaccount.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address CodeRabbit review: assert web-identity provider, harden LocalStack
  examples/irsa-simulation-localstack/README.md
  examples/irsa-simulation-localstack/check-script-configmap.yaml
  examples/irsa-simulation-localstack/localstack.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address Copilot review: pin webhook manifests, guard None credentials
  examples/irsa-simulation-localstack/README.md
  examples/irsa-simulation-localstack/check-script-configmap.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(mcp): document the /readyz response body accurately
  clients/integrations/mcp-server/README.md
  clients/integrations/mcp-server/tests/unit/test_probes.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add explicit fsGroup/runAsGroup for LocalStack's mounted volumes
  examples/irsa-simulation-localstack/localstack.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address latest review comments: missing flags, asset naming, metrics accuracy
  site/content/docs/performance-assessment/_index.md
Due: none

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
