Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

docs(go-sdk): create a labeled claim in example
  clients/go/README.md
Due: none

fix(python-sdk): use default Authorization header for tunnel token
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Catch TypeScript static errors in the unit test lane
  dev/tools/test-unit
  dev/tools/test_unit_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Reduce excess whitespace on mobile homepage
  site/assets/scss/_styles_project.scss
Due: presubmit-test-autogen-up-to-date

Apply mobile quickstart spacing override
  site/assets/scss/_styles_project.scss
Due: presubmit-test-autogen-up-to-date

feat(clients/ts): add Sandbox.status() (#1821)
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(go-sdk): add Health and Metadata for sandboxd
  clients/go/README.md
  clients/go/sandbox/files.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandboxd_test.go
  clients/go/sandbox/types.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(e2e/ts): cover commands.start() against a real sandboxd
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(clients/ts): unblock wait() after leaving events, isolate stream protocol errors
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/process.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-connect.test.ts
  clients/typescript/agentic-sandbox-client/src/commands.ts
  clients/typescript/agentic-sandbox-client/src/process.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): add commands.start() for interactive processes
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/process-missing-dependency.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/process.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-connect.test.ts
  clients/typescript/agentic-sandbox-client/src/_proto/README.md
  clients/typescript/agentic-sandbox-client/src/commands.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/process.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix autogen
  clients/k8s/applyconfiguration/api/v1beta1/podfailurepolicy.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxblueprint.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxspec.go
  clients/k8s/applyconfiguration/internal/internal.go
  clients/k8s/applyconfiguration/utils.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplatespec.go
  clients/k8s/extensions/applyconfiguration/internal/internal.go
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

revert accidental package-lock.json changes
  clients/typescript/agentic-sandbox-client/package-lock.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bump helm chart version
  helm/Chart.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix type error
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplatespec.go
  dev/tools/client-gen-go.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(warmpool): start readiness grace when the sandbox pod is scheduled
  cmd/agent-sandbox-controller/main.go
  docs/configuration.md
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
  helm/README.md
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(clients/ts): reject a non-positive write() timeoutMs as invalid_argument
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-connect.test.ts
  clients/typescript/agentic-sandbox-client/src/commands.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(e2e/ts): make the PTY probe's stderr-merge check observable
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(kep-539.2): frame credential revocation as an orchestrator obligation
  docs/keps/539.2-runtime-standardization/README.md
Due: none

docs: add KEP-1306 for warm pool claim defaults
  docs/keps/1306-warm-pool-claim-defaults/README.md
  docs/keps/1306-warm-pool-claim-defaults/kep.yaml
Due: none

docs: fix KEP-1306 TOC to match make toc-update output
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs: use TTL=10 in claimDefaults to avoid suspend/TTL race
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs(kep-1306): address aditya review comments (round 2)
  docs/keps/1306-warm-pool-claim-defaults/README.md
  docs/keps/1306-warm-pool-claim-defaults/kep.yaml
Due: none

docs(kep-1306): int32 for maxLifetimeSeconds, document cold-fallback path
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs: address maintainer review feedback on KEP-1306
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs: address CodeRabbit review feedback on KEP-1306
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs(kep-1306): address review feedback — GitOps drift risk, TTL floor
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs: address Copilot review feedback on KEP-1306
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs(kep-1306): add maxLifetimeSeconds for duration-based claim cleanup
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs(kep-1306): CEL rule for shutdownPolicy, fix Story 2 and downgrade section
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

fix(dev): build code generators with the go.mod toolchain
  .agents/skills/bump-go-version/SKILL.md
  dev/tools/fix-go-generate
  dev/tools/fix_go_generate_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

updated based on KEP changes
  fleet/ARCHITECTURE.md
  fleet/python/agent_sandbox_fleet/cli.py
  fleet/python/agent_sandbox_fleet/fleet_member.py
  fleet/python/agent_sandbox_fleet/leaselock.py
  fleet/python/agent_sandbox_fleet/planner.py
  fleet/python/agent_sandbox_fleet/resolver.py
  fleet/python/tests/test_fleet_member.py
  fleet/python/tests/test_leaselock.py
  fleet/python/tests/test_planner.py
  fleet/python/tests/test_resolver.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

addressed comments
  docs/keps/1434-multi-cluster-fleet/README.md
  docs/keps/1434-multi-cluster-fleet/kep.yaml
Due: none

updated manifests based on kep
  fleet/demo/fleet-spec.yaml
  fleet/deploy/fleet-member-deployment-wi.yaml
  fleet/deploy/rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

updated based on kep
  fleet/TESTING.md
  fleet/demo/observe.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

updated readme
  fleet/README.md
Due: none

fix(site): reduce mobile homepage hero whitespace (#1838)
  site/assets/scss/_styles_project.scss
Due: presubmit-test-autogen-up-to-date

fix(python-sdk): point kubectl tunnels at the api_client cluster (#1830)
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(go-sdk): label claims and list them by selector (#1836)
  clients/go/README.md
  clients/go/sandbox/client.go
  clients/go/sandbox/client_test.go
  clients/go/sandbox/k8s.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandbox_test.go
  clients/go/sandbox/types.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Catch TypeScript static errors in the unit test lane (#1837)
  dev/tools/test-unit
  dev/tools/test_unit_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
