Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

Example: OpenClaw Gvisor Example
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/gke-service.yaml
  examples/openclaw-gvisor-sandbox/kind-config.yaml
  examples/openclaw-gvisor-sandbox/kind-service.yaml
  examples/openclaw-gvisor-sandbox/openclaw-claim.yaml
  examples/openclaw-gvisor-sandbox/openclaw-config.yaml
  examples/openclaw-gvisor-sandbox/openclaw-template.yaml
  examples/openclaw-gvisor-sandbox/openclaw-warmpool.yaml
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(examples): retire openclaw-sandbox in favor of openclaw-gvisor-sandbox, fix template secretRef comment
  examples/README.md
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/openclaw-template.yaml
  examples/openclaw-sandbox/README.md
  examples/openclaw-sandbox/openclaw-config.yaml
  examples/openclaw-sandbox/openclaw-sandbox.yaml
  examples/openclaw-sandbox/run-test-kind.sh
  site/content/docs/use-cases/examples/openclaw-sandbox/_index.md
  site/content/docs/use-cases/openclaw/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(examples): add openclaw-gvisor-sandbox to examples README
  examples/README.md
Due: none

ci: address review feedback on flake tooling
  .agents/skills/fix-flakes/SKILL.md
  dev/tools/flake-fix
  dev/tools/flake-report
  dev/tools/pr-failure-summary
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(release): drift-parser fixes and asset rename
  README.md
  dev/load-test/test-recipes/README-rapid-burst.md
  dev/tools/deploy-to-kube
  dev/tools/generate-release-notes
  dev/tools/release
  dev/tools/release_test.py
  dev/tools/test-unit
  docs/configuration.md
  examples/demo-cilium-egress/scripts/03-install-agent-sandbox.sh
  examples/ray-integration/README.md
  examples/ray-integration/direct-proxy/README.md
  examples/vscode-sandbox/scripts/apply.sh
  k8s/kustomization.yaml
  site/content/docs/getting_started/install_prerequisites/_index.md
  site/content/docs/use-cases/anthropic-managed-agents/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(load-test): fix stale 'manifest files' wording in rapid-burst recipe
  dev/load-test/test-recipes/README-rapid-burst.md
Due: none

fix(openclaw-gvisor-sandbox): prevent set -e abort on empty image lookup in test script
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: condense install section into Standard/Selective (per janetkuo)
  README.md
  dev/tools/generate-release-notes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  internal/metrics/metrics.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix bug causing release CI to fail
  dev/tools/fix-go-generate
  packages/sandboxd/spec/generate.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

.
  packages/sandboxd/spec/generate.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: install codegen tools in Makefile before running go generate to fix release CI
  Makefile
  packages/sandboxd/spec/generate.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(api): clarify defaults and behaviors across API types (#1104)
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
  docs/api.md
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Track sandboxes created via SDK.
  api/v1beta1/sandbox_types.go
  clients/go/sandbox/k8s.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address coderabbit comments.
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  internal/metrics/metrics.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address Janet's and co-pilots comments.
  api/v1beta1/sandbox_types.go
  clients/go/sandbox/k8s.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  internal/metrics/metrics.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address coderabbit's comments.
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

go lint fix.
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address Janet's comments around normalising for spans.
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/metrics.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address go fmt issues.
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor(controllers): clean up deprecated v1alpha1 references and none warm pool fallback.
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address one minor comment.
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix verbose logging.
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix test
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: add duckdb-based analyzer for node profiler fsync data
  test/stress/profiler/analyze-fsync.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: capture node-side profiling during the stress test
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/profiler/profiler.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

[tests]: use latest kOps, so we get kube 1.36
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: collect Prometheus metrics from all components during stress runs
  go.mod
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/main.go
  test/stress/promscrape.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: add stress-duckdb for exploring stress-run artifacts
  dev/tools/run-stress-duckdb
  dev/tools/stress-duckdb
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controller: raise default sandbox-concurrent-workers from 1 to 50
  cmd/agent-sandbox-controller/main.go
  docs/configuration.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: split stress into fill, probe, and throughput phases
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/main.go
  test/stress/phases.go
  test/stress/tracker.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: scale benchmark cluster to 10 worker nodes
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: record podUID, nodeName, and containerID per sandbox
  test/stress/main.go
  test/stress/tracker.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: enrich stress harness with milestone latency breakdown
  test/stress/main.go
  test/stress/stats.go
  test/stress/tracker.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

create visualizer with duckdb
  dev/tools/stress-duckdb
  dev/tools/stress-duckdb/config.go
  dev/tools/stress-duckdb/gcs.go
  dev/tools/stress-duckdb/main.go
  dev/tools/stress-duckdb/notebook.go
  dev/tools/stress-duckdb/notebooks/stress-analysis.json
  dev/tools/stress-duckdb/register.go
  dev/tools/stress-duckdb/register_test.go
  dev/tools/stress-duckdb/ui.go
  dev/tools/stress-duckdb/views/phases.sql
  dev/tools/stress-duckdb/views/v_deletion.sql
  dev/tools/stress-duckdb/views/v_gc_queue_depth.sql
  dev/tools/stress-duckdb/views/v_launch_latency.sql
  dev/tools/stress-duckdb/views/v_metric_rate.sql
  dev/tools/stress-duckdb/views/v_runs.sql
  dev/tools/stress-duckdb/views/v_watch_events.sql
  dev/tools/stress-duckdb/views/v_watch_nodes.sql
  dev/tools/stress-duckdb/views/v_watch_pods.sql
  dev/tools/stress-duckdb/views/v_workqueue_depth.sql
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: classify slow openat calls by path in the node profiler
  test/stress/profiler/analyze-fsync.py
  test/stress/profiler/profiler.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: trap SIGTERM in stress sandboxes for prompt deletion
  test/stress/main.go
  test/stress/phases.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: scaling experiment - 20 worker nodes
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: allow anonymous /metrics on KCM and scheduler in the benchmark cluster
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/promscrape.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
