Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

tests: predicates should return (bool, error)
  test/e2e/basic_test.go
  test/e2e/extensions/pythonruntime_test.go
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/framework/predicates/conditions.go
  test/e2e/framework/predicates/metadata.go
  test/e2e/framework/predicates/predicates.go
  test/e2e/framework/predicates/sandbox.go
  test/e2e/replicas_test.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix volumeClaimTemplates listType: use atomic instead of map
  extensions/api/v1alpha1/sandboxtemplate_types.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add SandboxPodNameAnnotation to explicitly user created sandbox
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add Moltbot Sandbox example
  examples/moltbot-sandbox/README.md
  examples/moltbot-sandbox/moltbot-sandbox.yaml
  examples/moltbot-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update Moltbot Sandbox with OpenClaw alignment and docs
  examples/moltbot-sandbox/README.md
  examples/moltbot-sandbox/moltbot-sandbox.yaml
  examples/moltbot-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: switch wait from polling to watch for more accurate timings
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

ran dev/tools/fix-boilerplate
  api/v1alpha1/doc.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

KEP for sandbox warmpool to create sandboxes
  docs/keps/127-1to1-sandbox-and-pod/README.md
  docs/keps/127-1to1-sandbox-and-pod/kep.yaml
Due: none

Updated to use `OPENCLAW_CN` environment variables and `dist/index.mjs` entrypoint, aligning with the latest OpenClaw repository changes.
  examples/moltbot-sandbox/moltbot-sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update moltbot-sandbox tests and config
  examples/moltbot-sandbox/moltbot-sandbox.yaml
  examples/moltbot-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Decouple release of agent sandbox and python sdk
  .github/workflows/pypi-publish.yml
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add methods list files and exists in the sandbox client SDK
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/test_client.py
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/tester.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: Gracefully handle missing adopted pods
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Refactor example to include the Agent Sandbox instructions
  examples/kata-gke-sandbox/README.md
  examples/kata-gke-sandbox/sandbox-kata-gke.yaml
  examples/kata-gke-sandbox/setup.sh
  examples/kata-on-gke/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Automate release promotion and publishing process
  .goreleaser.yaml
  Makefile
  dev/tools/release
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments
  .github/workflows/pypi-publish.yml
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Use a Deployment instead of a StatefulSet for the controller
  Makefile
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  examples/jupyterlab/README.md
  examples/python-runtime-sandbox/run-test-kind.sh
  extensions/controllers/sandboxclaim_controller.go
  k8s/controller.yaml
  k8s/extensions-rbac.generated.yaml
  k8s/extensions.controller.yaml
  k8s/rbac.generated.yaml
  test/e2e/framework/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

formatting fix
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Handle tag checks better
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add status method which returns the status of the sandbox.
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/test_client.py
  clients/python/agentic-sandbox-client/test_sandbox_client_unit.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update remote for git push
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix a bug where socket is not imported in sync client
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: fix typos in development.md and api types
  docs/development.md
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/sandboxtemplate_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add Helm chart for agent-sandbox controller
  charts/agent-sandbox/.helmignore
  charts/agent-sandbox/Chart.yaml
  charts/agent-sandbox/README.md
  charts/agent-sandbox/crds/agents.x-k8s.io_sandboxes.yaml
  charts/agent-sandbox/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  charts/agent-sandbox/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  charts/agent-sandbox/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  charts/agent-sandbox/templates/_helpers.tpl
  charts/agent-sandbox/templates/controller.yaml
  charts/agent-sandbox/templates/rbac.yaml
  charts/agent-sandbox/templates/service.yaml
  charts/agent-sandbox/templates/serviceaccount.yaml
  charts/agent-sandbox/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update the exist method to exists.
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update the exist method to exists in the python-runtime-sandbox.
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/tester.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Enhance the release automation script
  dev/tools/release
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add release messages to git tags
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: default gvisor as runtimeClassName
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: default network policy
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix typos in docs
  README.md
  docs/development.md
  examples/aio-sandbox/README.md
Due: none

set service ports when containerPort is set
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

support setting networking for sandbox
  api/v1alpha1/sandbox_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/controllererror/errors.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  test/e2e/basic_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update pss client
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/__init__.py
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/python-counter-template.yaml
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Remove import statement for ComputerUseSandbox
  clients/python/agentic-sandbox-client/agentic_sandbox/extensions/__init__.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Release python script
  Makefile
  dev/tools/release-python
  dev/tools/shared/git_ops.py
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add SandboxState to Sandbox CRD to indicate Desired Running/Pause State
  api/v1alpha1/sandbox_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  test/e2e/replicas_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

patch sandox annotation to include pod name
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
