Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

address coderabbit
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/python-counter-pool.yaml
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: optimize AI code review configuration (Copilot & CodeRabbit)
  .coderabbit.yaml
  .github/copilot-instructions.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: correct Python SDK async parity description and add Go SDK path instructions
  .coderabbit.yaml
  .github/copilot-instructions.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: refine Python SDK sync/async parity description to focus on module-level architectural parity
  .coderabbit.yaml
  .github/copilot-instructions.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

optimization: repalce r.List to reduce overhead
  extensions/controllers/queue/simple_sandbox_queue.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): honor explicitly-set false/zero controller flags; add warm-pool flags
  helm/README.md
  helm/templates/_controller-args.tpl
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

PR feedback
  examples/managed-sandbox/README.md
  examples/managed-sandbox/cmd/controller/main.go
  examples/managed-sandbox/config/controller-deployment.yaml
  examples/managed-sandbox/controllers/managedsandbox/reconcile.go
  examples/managed-sandbox/controllers/managedsandbox/ssh.go
  examples/managed-sandbox/design-notes.md
  examples/managed-sandbox/internal/pool/agent_client_grpc.go
  examples/managed-sandbox/internal/pool/gc.go
  examples/managed-sandbox/internal/pool/pod_builder.go
  examples/managed-sandbox/internal/pool/selector.go
  examples/managed-sandbox/pod-agent/Dockerfile
  examples/managed-sandbox/pod-agent/src/worker.rs
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(controller): fail fast when leader election namespace is unset in multi-namespace mode
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Verify API group
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Check api group
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/sandbox_collector.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: sanitize git-derived version strings to prevent build-time command injection
  dev/tools/shared/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: restore orphan adoption for sandbox child resources
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix: Address coderabbit fixes in mcp server example.
  examples/mcp-server-sandbox/Dockerfile
  examples/mcp-server-sandbox/README.md
  examples/mcp-server-sandbox/client.py
  examples/mcp-server-sandbox/requirements.txt
  examples/mcp-server-sandbox/sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix readme.
  examples/mcp-server-sandbox/README.md
Due: none

coderabbit fix.
  examples/mcp-server-sandbox/sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address review feedback on webhook-inject-timestamp example
  examples/webhook-inject-timestamp/main.go
  examples/webhook-inject-timestamp/testing_webhook_guide.md
  examples/webhook-inject-timestamp/webhook-deployment.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add negative test case
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/sandboxed-tools: we can keep the sandbox alive over multiple tool calls
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/main.go
  examples/sandboxed-tools/pkg/sessions/id.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address review feedback (stale comment, hash hoist, V(1) log on failed template lookup, idempotency test)
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add autoreview
  .coderabbit.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add examples/anthropic-managed-agents: Anthropic self-hosted sandboxes on GKE Agent Sandbox
  examples/README.md
  examples/anthropic-managed-agents/README.md
  examples/anthropic-managed-agents/dispatcher.py
  examples/anthropic-managed-agents/network-policy.yaml
  examples/anthropic-managed-agents/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix sed command / smaller issues in api gateway support docu
  clients/python/agentic-sandbox-client/gateway-kind/README.md
Due: none

Address remaining PR #661 review comments
  dev/load-test/test-recipes/run_rapid_burst.sh
  site/content/docs/guides/performance-assessment/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Remove rc check for publishing in pypi
  .github/workflows/pypi-publish.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update comments for consistency
  Makefile
  dev/tools/release-python
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

proto definition for portable backend
  packages/sandboxd/spec/admin/admin.pb.go
  packages/sandboxd/spec/admin/admin.proto
  packages/sandboxd/spec/admin/admin_grpc.pb.go
  packages/sandboxd/spec/filesystem/filesystem.pb.go
  packages/sandboxd/spec/filesystem/filesystem.proto
  packages/sandboxd/spec/filesystem/filesystem_grpc.pb.go
  packages/sandboxd/spec/generate.go
  packages/sandboxd/spec/jupyter/jupyter.pb.go
  packages/sandboxd/spec/jupyter/jupyter.proto
  packages/sandboxd/spec/jupyter/jupyter_grpc.pb.go
  packages/sandboxd/spec/process/process.pb.go
  packages/sandboxd/spec/process/process.proto
  packages/sandboxd/spec/process/process_grpc.pb.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

use string instead of bool for safeToEvict in CRD
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

make safe-to-evict annotation configurable in SandboxClaim
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: reconcile safe-to-evict annotations declaratively to prevent flip-flops, preserve them on template lookup failures, and document default inheritance
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address Copilot comments
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix rebase conflicts
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: regenerate API reference documentation
  docs/api.md
Due: none

refactor: extract ensureSafeToEvictAnnotation package-level helper and use r.Patch instead of r.Update
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: adopt safe-to-evict=on-completion for claimed sandbox pods
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address review comments
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: resolve merge conflicts and restore clean default state in warmpool tests
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: quote safeToEvict boolean enum values in SandboxClaim CRD to prevent API rejection
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: resolve rebase and api-alignment test failures
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: resolve rebase conflict in sandboxclaim_controller
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
