Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

fix: address NetworkPolicy review feedback
  examples/policy/network-policy-management/README.md
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
  sandbox-router/deploy/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(go-sdk): add streaming file uploads
  clients/go/README.md
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: add KEP-1306 for warm pool claim defaults
  docs/keps/1306-warm-pool-claim-defaults/README.md
  docs/keps/1306-warm-pool-claim-defaults/kep.yaml
Due: none

docs: fix KEP-1306 TOC to match make toc-update output
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

fix(sandbox-router): correct misleading comment on the malformed-encoding fallback
  sandbox-router/proxy/pathroute.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: check ingress peers across all rules
  extensions/controllers/sandboxtemplate_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(go-sdk): address streaming upload review
  clients/go/README.md
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
  clients/go/sandbox/integration_test.go
  clients/go/sandbox/sandbox.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: address Copilot review feedback on KEP-1306
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs(go-sdk): clarify streaming upload errors
  clients/go/README.md
  clients/go/sandbox/files.go
  clients/go/sandbox/sandbox.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: use TTL=10 in claimDefaults to avoid suspend/TTL race
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

fix: propagate claim UID label to Pods
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update golangci-linter version
  clients/go/sandbox/files_test.go
  controllers/sandbox_controller.go
  dev/tools/.custom-gcl.yaml
  dev/tools/go.mod
  dev/tools/go.sum
  examples/sandboxed-tools/main.go
  extensions/controllers/sandboxclaim_controller.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  packages/sandboxd/pkg/server/process.go
  sandbox-router/proxy/retry.go
  test/e2e/extensions/pythonsandbox_density_test.go
  test/stress/promscrape.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update make gen
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(go-sdk): guard empty streaming reads
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: update latebind storage example to v1beta1
  examples/latebind-storage-gke-sandbox/README.md
  examples/latebind-storage-gke-sandbox/sandbox-warmpool.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: update migration guide and OLM documentation for v1alpha1 removal
  docs/api-migration-guide.md
  docs/keps/694-kep-for-suspend-and-resume-for-beta/README.md
  helm/README.md
  olm/README.md
  roadmap.md
  site/content/docs/getting_started/_index.md
Due: none

address comments
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandboxed-tools: add per-tool execution timeout
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/main.go
  examples/sandboxed-tools/pkg/tools/fake_sandbox_test.go
  examples/sandboxed-tools/pkg/tools/registry.go
  examples/sandboxed-tools/pkg/tools/registry_test.go
  examples/sandboxed-tools/pkg/tools/run_command.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs, examples: address review feedback on migration guide and latebind storage
  docs/api-migration-guide.md
  examples/latebind-storage-gke-sandbox/README.md
  helm/README.md
  site/content/docs/getting_started/_index.md
Due: none

Drop v1alpha1 docs (#1427)
  docs/api-migration-guide.md
  docs/keps/694-kep-for-suspend-and-resume-for-beta/README.md
  examples/latebind-storage-gke-sandbox/README.md
  examples/latebind-storage-gke-sandbox/sandbox-warmpool.yaml
  helm/README.md
  olm/README.md
  roadmap.md
  site/content/docs/getting_started/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

unest conditional in the unit test
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(go-client): add DisablePodIPRouting option
  clients/go/sandbox/connector.go
  clients/go/sandbox/files_test.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address review: rename disablePodIP and drop redundant setDefaults call
  clients/go/sandbox/connector.go
  clients/go/sandbox/files_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(go-client): document DisablePodIPRouting in the Go SDK reference
  docs/go_sdk_reference.md
Due: none

kep: multi cluster fleet
  docs/keps/1434-multi-cluster-fleet/README.md
  docs/keps/1434-multi-cluster-fleet/kep.yaml
Due: none

docs(go-client): scope DisablePodIPRouting docs to router-based transports
  clients/go/sandbox/options.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandboxed-tools: preserve timeout error context
  examples/sandboxed-tools/pkg/tools/registry.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Drop v1alpha1 cleanup (#1436)
  docs/api-migration-guide.md
  extensions/controllers/sandboxclaim_controller.go
  olm/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix codereview
  dev/tools/go.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

go tidy
  dev/tools/go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples,docs: fix sandboxd 'sidecar' framing + address review
  examples/sandboxd-sandbox/client/README.md
  examples/sandboxd-sandbox/client/main.go
  examples/sandboxd-sandbox/deploy/README.md
  examples/sandboxd-sandbox/deploy/a-runtime-image.yaml
  examples/sandboxd-sandbox/deploy/b-inject-binary.yaml
  examples/sandboxd-sandbox/sandbox-template.yaml
  packages/sandboxd/USER_GUIDE.md
  test/e2e/extensions/sandboxd_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

SDK(sandboxd examples): resolve bot comments
  examples/sandboxd-sandbox/client/main.go
  examples/sandboxd-sandbox/deploy/b-inject-binary.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(python-client): cover async terminate idempotency
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

review: scope the hold signal, add a decision table, drop the receiver
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): reject whitespace/control chars in path-routing-prefix, document exclusivity
  sandbox-router/README.md
  sandbox-router/config/config.go
  sandbox-router/config/config_test.go
  sandbox-router/config/flags.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(sandbox-router): fix inaccurate fallback wording for path-routing-prefix
  sandbox-router/README.md
Due: none

olm: update bundle to 0.5.6
  olm/Makefile
  olm/config/manager/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: regenerate bundle
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(go-sdk): address streaming upload review feedback
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
