Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

olm: add test to verify bundle is in sync
  .github/workflows/olm.yml
  AGENTS.md
  Makefile
  dev/ci/presubmits/verify-olm-bundle
  dev/tools/verify-olm-bundle
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(clients/ts): address non-blocking review follow-ups from #976
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  dev/tools/test-e2e
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/package.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(dev): propagate the resolved kubeconfig to e2e SDK test processes
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: add test to verify bundle is in sync (#1477)
  .github/workflows/olm.yml
  AGENTS.md
  Makefile
  dev/ci/presubmits/verify-olm-bundle
  dev/tools/verify-olm-bundle
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix failure
  test/e2e/clients/python/test_async_client_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add the router into the operator too (#1425)
  olm/Makefile
  olm/README.md
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/sandbox-router-svc_v1_service.yaml
  olm/bundle/manifests/sandbox-router_policy_v1_poddisruptionbudget.yaml
  olm/config/default/kustomization.yaml
  olm/config/sandbox-router/deployment.yaml
  olm/config/sandbox-router/kustomization.yaml
  olm/config/sandbox-router/networkpolicy.yaml
  olm/config/sandbox-router/pdb.yaml
  olm/config/sandbox-router/rbac-tokenreview.yaml
  olm/config/sandbox-router/rbac.yaml
  olm/config/sandbox-router/service.yaml
  olm/config/sandbox-router/serviceaccount.yaml
  olm/hack/sync-k8s-manifests/main.go
  olm/hack/sync-k8s-manifests/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/agentclientprotocol: address review follow-ups (#1462)
  examples/agentclientprotocol/README.md
  examples/agentclientprotocol/go.mod
  examples/agentclientprotocol/main.go
  examples/agentclientprotocol/main_test.go
  examples/agentclientprotocol/pkg/acp/jsonrpc.go
  examples/agentclientprotocol/pkg/acp/jsonrpc_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(router): deploy sandbox-router to agent-sandbox-system namespace
  examples/vscode-sandbox/README.md
  olm/config/sandbox-router/rbac-tokenreview.yaml
  sandbox-router/deploy/deployment.yaml
  sandbox-router/deploy/examples/gateway-gke.yaml
  sandbox-router/deploy/networkpolicy.yaml
  sandbox-router/deploy/pdb.yaml
  sandbox-router/deploy/rbac-tokenreview.yaml
  sandbox-router/deploy/rbac.yaml
  sandbox-router/deploy/service.yaml
  sandbox-router/deploy/serviceaccount.yaml
  sandbox-router/dev/smoke-test/run.sh
  site/content/docs/filesystem/read-write/_index.md
  site/content/docs/getting_started/troubleshooting/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/_index.md
  site/content/docs/use-cases/gvisor-isolation/_index.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/podsnapshot-golden-warmpool: address review feedback
  examples/podsnapshot-golden-warmpool/05-podsnapshotpolicy.yaml
  examples/podsnapshot-golden-warmpool/10-sandboxtemplate.yaml
  examples/podsnapshot-golden-warmpool/README.md
  examples/podsnapshot-golden-warmpool/run-test-gke.sh
  site/content/docs/sandbox/snapshots/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(router): deploy sandbox-router to agent-sandbox-system namespace (#1537)
  examples/vscode-sandbox/README.md
  olm/config/sandbox-router/rbac-tokenreview.yaml
  sandbox-router/deploy/deployment.yaml
  sandbox-router/deploy/examples/gateway-gke.yaml
  sandbox-router/deploy/networkpolicy.yaml
  sandbox-router/deploy/pdb.yaml
  sandbox-router/deploy/rbac-tokenreview.yaml
  sandbox-router/deploy/rbac.yaml
  sandbox-router/deploy/service.yaml
  sandbox-router/deploy/serviceaccount.yaml
  sandbox-router/dev/smoke-test/run.sh
  site/content/docs/filesystem/read-write/_index.md
  site/content/docs/getting_started/troubleshooting/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/_index.md
  site/content/docs/use-cases/gvisor-isolation/_index.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: e2e test for AsyncSandboxClient (#1385)
  test/e2e/clients/python/test_async_client_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: golden-snapshot warm pools with GKE Pod Snapshots (#1522)
  examples/README.md
  examples/podsnapshot-golden-warmpool/00-storageconfig.yaml
  examples/podsnapshot-golden-warmpool/05-podsnapshotpolicy.yaml
  examples/podsnapshot-golden-warmpool/10-sandboxtemplate.yaml
  examples/podsnapshot-golden-warmpool/20-sandboxwarmpool.yaml
  examples/podsnapshot-golden-warmpool/25-primer-claim.yaml
  examples/podsnapshot-golden-warmpool/30-snapshot-trigger.yaml
  examples/podsnapshot-golden-warmpool/40-worker-claims.yaml
  examples/podsnapshot-golden-warmpool/50-refresh-claim.yaml
  examples/podsnapshot-golden-warmpool/README.md
  examples/podsnapshot-golden-warmpool/image/Dockerfile
  examples/podsnapshot-golden-warmpool/image/server.py
  examples/podsnapshot-golden-warmpool/run-test-gke.sh
  site/content/docs/sandbox/snapshots/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(router): add app: sandbox-router label to router deployment
  olm/config/sandbox-router/deployment.yaml
  sandbox-router/deploy/deployment.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(rl): GKE Pod Snapshot primitives — snapshot/suspend/resume/restore on fleet handles (opt-in)
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/cluster.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/exceptions.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/observability.py
  examples/agent-sandbox-rl/agent_sandbox_rl/preflight.py
  examples/agent-sandbox-rl/agent_sandbox_rl/snapshots.py
  examples/agent-sandbox-rl/examples/run_snapshot_demo.py
  examples/agent-sandbox-rl/tests/test_preflight.py
  examples/agent-sandbox-rl/tests/test_snapshots.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(rl): address #1540 review round 1 — token-safe snapshot uid match, GKE minimum build, served-version test
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/snapshots.py
  examples/agent-sandbox-rl/tests/test_preflight.py
  examples/agent-sandbox-rl/tests/test_snapshots.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(sandbox): emit Kubernetes Events for Sandbox lifecycle transitions
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox): add --disable-sandbox-events flag
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

addressed more comments
  docs/keps/1434-multi-cluster-fleet/README.md
Due: none

feat: multi cluster deployment surface
  fleet/demo/claim-bench.py
  fleet/demo/fleet-spec-drain.yaml
  fleet/demo/fleet-spec.yaml
  fleet/deploy/Dockerfile
  fleet/deploy/build-push.sh
  fleet/deploy/clusterprofile-crd.yaml
  fleet/deploy/fleet-member-clusterprofile-patch.yaml
  fleet/deploy/fleet-member-deployment-wi.yaml
  fleet/deploy/gen-hub-kubeconfig.sh
  fleet/deploy/gen-hub-rbac.py
  fleet/deploy/planner-clusterprofile-patch.yaml
  fleet/deploy/planner-deployment.yaml
  fleet/deploy/rbac.yaml
  fleet/deploy/render.sh
  fleet/deploy/setup-hub.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

multi-cluster-fleet: add README
  fleet/README.md
Due: none

multi-cluster-fleet: add e2e test tooling and testing guide
  fleet/TESTING.md
  fleet/demo/fleet-spec-xs.yaml
  fleet/demo/observe.sh
  fleet/demo/preflight-cp-plan.py
  fleet/demo/run-xs-e2e.sh
  fleet/demo/stress-e2e.py
  fleet/deploy/create-gke-standard-fleet.sh
  fleet/deploy/example-templates-xs.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

multi-cluster-fleet: add ClusterProfile hub verification tooling
  fleet/demo/cp-registry.py
  fleet/demo/fleet-spec-clusterprofile-e2e.yaml
  fleet/demo/publish-clusterprofile.py
  fleet/demo/seed-clusterprofiles.sh
  fleet/demo/watch-clusterprofile-drift.py
  fleet/deploy/auth-probe.sh
  fleet/deploy/hub-probe.sh
  fleet/deploy/hubcheck-job.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

multi-cluster-fleet: address review feedback on deploy tooling
  fleet/demo/claim-bench.py
  fleet/deploy/Dockerfile
  fleet/deploy/build-push.sh
  fleet/deploy/fleet-member-clusterprofile-patch.yaml
  fleet/deploy/fleet-member-deployment-wi.yaml
  fleet/deploy/gen-hub-kubeconfig.sh
  fleet/deploy/gen-hub-rbac.py
  fleet/deploy/planner-clusterprofile-patch.yaml
  fleet/deploy/planner-deployment.yaml
  fleet/deploy/render.sh
  fleet/deploy/setup-hub.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bench: disable kindnet network policies in the kops-gcp benchmarks
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

addressed comments
  fleet/README.md
Due: none

multi-cluster-fleet: README review round 2
  fleet/README.md
Due: none

feat(python): add async sandboxd runtime support
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/async_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/async_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxd.py
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

multi-cluster-fleet: README review round3
  fleet/README.md
Due: none

kep: clarify startup API and metric contracts
  docs/keps/1348-observe-sandboxclaim-startup-from-status/README.md
  docs/keps/1348-observe-sandboxclaim-startup-from-status/kep.yaml
Due: none

feat(sandbox-router): add byte transfer and size distribution metrics
  sandbox-router/observability/access_log.go
  sandbox-router/observability/metrics.go
  sandbox-router/proxy/proxy.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: upgrade controller-runtime to v0.25.0 and enable REST client metrics
  clients/k8s/clientset/versioned/clientset.go
  clients/k8s/clientset/versioned/fake/clientset_generated.go
  clients/k8s/extensions/clientset/versioned/clientset.go
  clients/k8s/extensions/clientset/versioned/fake/clientset_generated.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/interface.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/sandboxclaim.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/sandboxtemplate.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/sandboxwarmpool.go
  clients/k8s/extensions/informers/externalversions/factory.go
  clients/k8s/informers/externalversions/api/v1beta1/interface.go
  clients/k8s/informers/externalversions/api/v1beta1/sandbox.go
  clients/k8s/informers/externalversions/factory.go
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/rest_client_metrics_test.go
  dev/tools/go.mod
  dev/tools/go.sum
  go.mod
  go.sum
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  tools.mod
  tools.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

multi-cluster-fleet: verify Uniform Bucket-Level Access before scoped IAM
  fleet/deploy/setup-hub.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: create the namespace in setup
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/examples/deepswe_eval_nb.ipynb
  examples/agent-sandbox-rl/performance_reports/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sandboxd): kill process group on context cancellation to prevent orphan leaks
  packages/sandboxd/pkg/server/process.go
  packages/sandboxd/pkg/server/process_test.go
  packages/sandboxd/pkg/server/server.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fleet: address review feedback on e2e tooling and TESTING.md
  fleet/TESTING.md
  fleet/demo/observe.sh
  fleet/demo/preflight-cp-plan.py
  fleet/demo/run-xs-e2e.sh
  fleet/demo/stress-e2e.py
  fleet/deploy/create-gke-standard-fleet.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

verify-olm-bundle: minor fixes
  AGENTS.md
  dev/tools/verify-olm-bundle
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandbox-router: improve the network policy to work with OLM
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: add networkpolicy
  olm/README.md
  olm/config/sandbox-router/kustomization.yaml
  olm/config/sandbox-router/networkpolicy.yaml
  olm/hack/sync-k8s-manifests/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

bundle: add networkpolicy
  olm/bundle/manifests/sandbox-router_networking.k8s.io_v1_networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

run make bundle
  olm/bundle/manifests/agent-sandbox-config_v1_configmap.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/manager/manager.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
