Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

add label
  examples/playwright-sandbox/README.md
  examples/playwright-sandbox/playwright-sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add playwright sandbox and Dockerfile
  examples/README.md
  examples/playwright-sandbox/Dockerfile
  examples/playwright-sandbox/README.md
  examples/playwright-sandbox/playwright-sandbox.yaml
  site/content/docs/use-cases/examples/playwright-sandbox/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(playwright-sandbox): bump apiVersion from v1alpha1 to v1beta1
  examples/playwright-sandbox/README.md
  examples/playwright-sandbox/playwright-sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(playwright-sandbox): address CodeRabbit review feedback
  examples/playwright-sandbox/README.md
Due: none

fix: harden Filesystem path validation in TypeScript client
  clients/typescript/agentic-sandbox-client/src/__tests__/filesystem.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

update golangci lint version
  dev/tools/.custom-gcl.yaml
  dev/tools/.golangci.yaml
  dev/tools/go.mod
  dev/tools/go.sum
  examples/sandboxed-tools/pkg/tools/registry.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Remove unnecessary fallback cases, and nits
  extensions/controllers/queue/simple_sandbox_queue.go
  extensions/controllers/queue/simple_sandbox_queue_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/utils.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(examples): add Cilium identity-based egress e2e example
  examples/demo-cilium-egress/README.md
  examples/demo-cilium-egress/env.sh
  examples/demo-cilium-egress/exec-sandbox/Dockerfile
  examples/demo-cilium-egress/exec-sandbox/server.py
  examples/demo-cilium-egress/manifests/00-namespace-and-identities.yaml
  examples/demo-cilium-egress/manifests/10-cilium-allow-dns.yaml
  examples/demo-cilium-egress/manifests/20-cilium-team-a-allow-github.yaml
  examples/demo-cilium-egress/manifests/30-sandboxes.yaml
  examples/demo-cilium-egress/manifests/40-cilium-team-b-allow-github.yaml
  examples/demo-cilium-egress/manifests/ingress/30-sandboxes-http.yaml
  examples/demo-cilium-egress/manifests/observability/clusterpodmonitoring.yaml
  examples/demo-cilium-egress/manifests/observability/clusterrules.yaml
  examples/demo-cilium-egress/manifests/router/gateway.yaml
  examples/demo-cilium-egress/manifests/router/sandbox-router.yaml
  examples/demo-cilium-egress/scripts/01-create-cluster.sh
  examples/demo-cilium-egress/scripts/02-install-cilium.sh
  examples/demo-cilium-egress/scripts/03-install-agent-sandbox.sh
  examples/demo-cilium-egress/scripts/04-deploy-demo.sh
  examples/demo-cilium-egress/scripts/05-observability.sh
  examples/demo-cilium-egress/scripts/optional-gateway-routing.sh
  examples/demo-cilium-egress/scripts/setup-all.sh
  examples/demo-cilium-egress/scripts/teardown.sh
  examples/demo-cilium-egress/scripts/test-ingress.sh
  examples/demo-cilium-egress/scripts/test.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: stabilise trace-manager loadOtel and beforeExit shutdown
  clients/typescript/agentic-sandbox-client/src/__tests__/trace-manager.test.ts
  clients/typescript/agentic-sandbox-client/src/trace-manager.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: update dependencies in package-lock.json
  clients/typescript/agentic-sandbox-client/package-lock.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: harden TypeScript client source
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/exceptions.ts
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: add missing unit test coverage
  clients/typescript/agentic-sandbox-client/src/__tests__/response-utils.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/trace-manager.test.ts
  clients/typescript/agentic-sandbox-client/src/trace-manager.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: secure Node.js tarball download
  dev/tools/shared/node.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: dev tooling and e2e framework
  dev/tools/test-e2e
  test/e2e/clients/typescript/framework/context.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: performance, scale, and RL instant-claim sizing
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/observability.py
  examples/agent-sandbox-rl/agent_sandbox_rl/registry_rewrite.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/agent_sandbox_rl/sizing.py
  examples/agent-sandbox-rl/agent_sandbox_rl/strategies.py
  examples/agent-sandbox-rl/docs/architecture.md
  examples/agent-sandbox-rl/docs/design.md
  examples/agent-sandbox-rl/docs/gke.md
  examples/agent-sandbox-rl/examples/rl_integration.md
  examples/agent-sandbox-rl/performance_reports/.gitignore
  examples/agent-sandbox-rl/performance_reports/README.md
  examples/agent-sandbox-rl/performance_reports/sample_rl_rollout.json
  examples/agent-sandbox-rl/performance_reports/sample_rl_rollout.md
  examples/agent-sandbox-rl/performance_reports/sliding_10tasks_20260620-233643.json
  examples/agent-sandbox-rl/performance_reports/sliding_10tasks_20260620-233643.txt
  examples/agent-sandbox-rl/tests/conftest.py
  examples/agent-sandbox-rl/tests/loadtest.py
  examples/agent-sandbox-rl/tests/test_async_fleet.py
  examples/agent-sandbox-rl/tests/test_cluster.py
  examples/agent-sandbox-rl/tests/test_config.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_loadtest.py
  examples/agent-sandbox-rl/tests/test_registry_rewrite.py
  examples/agent-sandbox-rl/tests/test_resources.py
  examples/agent-sandbox-rl/tests/test_sizing.py
  examples/agent-sandbox-rl/tests/test_strategies.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Keda scale to zero
  examples/keda-scale-to-zero/README.md
  examples/keda-scale-to-zero/create-claim.py
  examples/keda-scale-to-zero/pod-monitoring.yaml
  examples/keda-scale-to-zero/python-sandbox-template.yaml
  examples/keda-scale-to-zero/sandboxwarmpool.yaml
  examples/keda-scale-to-zero/scaledobject-prometheus.yaml
  examples/keda-scale-to-zero/scaledobject-stackdriver.yaml
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Revert list back to dot
  clients/go/examples/basic/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add warmpool name label for sandboxclaim metrics
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comments
  api/v1beta1/sandbox_types.go
  docs/api.md
  extensions/api/v1beta1/sandboxtemplate_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix:test
  test/e2e/extensions/sandboxclaim_vct_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comments
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  clients/python/agentic-sandbox-client/python-sandbox-template.yaml
  clients/python/agentic-sandbox-client/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(playwright-sandbox): keep container alive with sleep infinity
  examples/playwright-sandbox/README.md
  examples/playwright-sandbox/playwright-sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: add initial GET before watch in e2e waitForObject
  test/e2e/clients/typescript/framework/context.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: quote image field in sandbox-template.yaml
  test/e2e/clients/typescript/test-manifests/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: capacity-aware planner + node-aware sizing + parallel windowed warm
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/sizing.py
  examples/agent-sandbox-rl/agent_sandbox_rl/strategies.py
  examples/agent-sandbox-rl/tests/run_full_swebench_benchmark.py
  examples/agent-sandbox-rl/tests/test_config.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_run_full_swebench_benchmark.py
  examples/agent-sandbox-rl/tests/test_sizing.py
  examples/agent-sandbox-rl/tests/test_strategies.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: honor kubeconfig for TypeScript e2e initial GET
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/framework/predicates.ts
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/package.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci: skip missing TypeScript e2e junit artifact
  dev/ci/presubmits/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add warmpoolname and ns to more examples
  clients/go/README.md
Due: none

update go basic example client code to match v1beta1 (#987)
  clients/go/README.md
  clients/go/examples/basic/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add Desired printer column to SandboxWarmPool kubectl output
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: capacity planner as a package API + interactive wizard + high-concurrency client pool
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/capacity.py
  examples/agent-sandbox-rl/agent_sandbox_rl/cluster.py
  examples/agent-sandbox-rl/examples/plan_capacity.py
  examples/agent-sandbox-rl/tests/run_full_swebench_benchmark.py
  examples/agent-sandbox-rl/tests/test_capacity.py
  examples/agent-sandbox-rl/tests/test_run_full_swebench_benchmark.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(examples): clarify Cilium identity is label-derived, not SA
  examples/demo-cilium-egress/README.md
  examples/demo-cilium-egress/manifests/00-namespace-and-identities.yaml
  examples/demo-cilium-egress/manifests/30-sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: automatically copy files from k8s/ into operator/
  olm/Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: delete controller image dockerfile
  olm/Dockerfile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: run dev/tools/fix-boilerplate dev/tools/fix-gomod
  olm/.devcontainer/post-install.sh
  olm/go.mod
  olm/hack/sync-k8s-manifests/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

olm: add doc to maintain operator manifests
  olm/README.md
Due: none

operator: update go and tools.mod
  olm/.devcontainer/devcontainer.json
  olm/go.mod
  olm/go.sum
  tools.mod
  tools.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: add missing labels to the clusterserviceversion
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: fix the standard operator-sdk README
  olm/README.md
Due: none
