Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

feat: added shutdownTime to extensions CRs
  cmd/agent-sandbox-controller/main.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/examples/sandbox-claim.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/extensions-rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Adding render-link solution to properly render links for hugo at build time
  site/layouts/_default/_markup/render-link.html
Due: presubmit-test-autogen-up-to-date

Address review
  test/e2e/clients/python/framework/context.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address review
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments to simply image abbreviation.
  examples/hello-world-sandbox/README.md
  examples/hello-world-sandbox/hello-world.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Revert links to relative paths
  examples/jupyterlab/experiment.md
Due: none

Implements OpenTelemetry tracing for the SandboxClaim and Sandbox
  Dockerfile
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  metrics/tracing.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Autogenerated Files
  go.mod
  go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

updates metrics package to indicate that these are internal metrics
  Dockerfile
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/tracing.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Updates tracing Instrumenter interface by adding support for initial attributes, span events, and recording state checks.
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/tracing.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

go mod tidy after a rebase
  go.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix: Populate service port specifications from pod template
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add volumeClaimTemplates support to SandboxTemplate
  controllers/sandbox_controller.go
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/extensions-rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Improve volumeClaimTemplates: fix RNG, add tests, fix lint
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  extensions/examples/sandboxtemplate.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Simplify PVC-related comments
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Adopt warm pool PVCs when claiming sandbox
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: fix typo in gVisor guide description
  site/content/docs/guides/gvisor/_index.md
Due: none

allow sandbox claim to specify whether to get pod from sandbox warmpool
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/examples/sandboxclaim.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor: improve test code quality and fix variable shadowing
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor: replace SkipWarmPool with flexible WarmPool policy
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/examples/sandboxclaim.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Remove custom RandomSuffix function and use k8s util rand for pod suffix generation
  controllers/sandbox_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add list type and map key annotations for volumeClaimTemplates
  extensions/api/v1alpha1/sandboxtemplate_types.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Release PVC from warm pool ownership by filtering owner references
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Emit events on PVC adoption
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  k8s/rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Prevent adoption of pre-existing PVCs using warm pool annotation
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add PVC cleanup on scale-down and fix orphan detection
  controllers/sandbox_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Always copy volumeClaimTemplates and use adopted pod name for PVC naming
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Using include-file shortcode instead of render-link and reverting link for langchain readme.
  examples/langchain/README.md
  site/layouts/_default/_markup/render-link.html
  site/layouts/shortcodes/include-file.html
Due: presubmit-test-autogen-up-to-date

Add a simple load test with cluster loader2 to spin up 20 sandboxes and calculate it's latency.
  dev/load-test/README.md
  dev/load-test/agent-sandbox-load-test.yaml
  dev/load-test/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add more details in the README.md file.
  dev/load-test/README.md
Due: none

Minor adjustment to sandbox-template file.
  dev/load-test/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Remove unused parameter in adoptPodPVCs
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add api documentation
  api-reference.md
  api/v1alpha1/doc.go
  config.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add api documentation to hugo
  docs/api.md
  site/content/docs/docs_api/_index.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date

PodsnapshotSandboxclient base methods
  clients/python/agentic-sandbox-client/agentic_sandbox/constants.py
  clients/python/agentic-sandbox-client/agentic_sandbox/extensions/__init__.py
  clients/python/agentic-sandbox-client/agentic_sandbox/extensions/podsnapshot.py
  clients/python/agentic-sandbox-client/agentic_sandbox/podsnapshot.md
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
