Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

fix(python): align claim adoption with typed SDK
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/claim_adoption_test_support.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): reserve claim deletion across ownership transitions
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_ownership.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/claim_adoption_test_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): release claim reservation after interrupted async close
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): keep interrupted async cleanup retryable
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): restore filesystem module docstring
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): retry transport failures in async connector
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): use a single retry owner in async connector
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(python-sdk): stub retry backoff in async connect-failure tests
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(e2e/framework): reap the port-forward child before cleanup returns
  test/e2e/framework/client.go
  test/e2e/framework/client_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(docs): broken Anthropic Managed Agents doc links
  site/content/docs/use-cases/anthropic-managed-agents/_index.md
Due: none

docs(warmpool): stop asserting SchedulingGated is correctly excluded
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: add urunc sandbox example
  examples/README.md
  examples/urunc-sandbox/README.md
  examples/urunc-sandbox/sandbox-urunc.yaml
  examples/urunc-sandbox/setup.sh
  site/content/docs/use-cases/examples/urunc-sandbox/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: treat InvalidConfiguration as a terminal claim reason in Python SDK
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor(warmpool): document the lifecycle gap instead of guessing at it
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(warmpool): point the lifecycle-gap comment at its tracking issue
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(python): narrow claim adoption and restore upstream cleanup
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_ownership.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_status.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/claim_adoption_test_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_adoption_lifecycle.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_lifecycle_integration.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

benchmarks-kops-gcp: raise default cluster validation wait to 25m (#1741)
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: runtime-aware CI proposal for timing regression visibility (#1286)
  docs/kata-ci-proposal.md
Due: none

site: render included READMEs once so mermaid diagrams work (#1685)
  site/content/docs/getting_started/overview/_index.md
  site/layouts/shortcodes/include-file.html
Due: presubmit-test-autogen-up-to-date

docs: fix feature registration comment (#1682)
  examples/kata-aks/README.md
Due: none

Tls: document how to enable flags and ports (#1689)
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/tlsconfig.go
  cmd/agent-sandbox-controller/tlsconfig_test.go
  docs/configuration.md
  helm/templates/deployment.yaml
  helm/templates/service.yaml
  k8s/controller.yaml
  k8s/extensions.controller.yaml
  olm/config/default/kustomization.yaml
  olm/config/sandbox-router/deployment.yaml
  sandbox-router/deploy/deployment.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(python-runtime): preserve literal percent escapes (#1721)
  dev/tools/test-unit
  examples/python-runtime-sandbox/README.md
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/test_main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Prevent duplicated paths for symlinked roots (#1594)
  packages/sandboxd/pkg/pathutil/sandbox.go
  packages/sandboxd/pkg/pathutil/sandbox_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test-unit: include cluster-free e2e framework tests (#1616)
  dev/tools/test-unit
  dev/tools/test_unit_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

build: enforce LF line endings via .gitattributes (#1699)
  .gitattributes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): preserve spaces in sandbox file paths (#1719)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-runtime): use basenames for nested downloads
  examples/python-runtime-sandbox/README.md
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/test_main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(python-sdk): warn that local-tunnel mode ignores injected api_client's context
  clients/python/agentic-sandbox-client/README.md
Due: none

fix(python-sdk): preserve async cleanup client state
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(python-sdk): regenerate API reference, document api_client usage
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): allow injecting a pre-configured ApiClient (#1069)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): keep injected async client attached
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): do not close a caller-injected ApiClient
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): mirror injected client's config for the sync atexit helper
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: include namespace in LocalTunnel router-not-found errors
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: only hint router_namespace on not-found tunnel crash
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: use separate port_forward_start to preserve readiness timeout budget
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

nitpick fixes
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(warmpool): restore the version-skew note and cross-reference #1748
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
