Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

examples: run the sandboxed-tools agent in-cluster behind an ACP server
  dev/tools/push-images
  dev/tools/push_images_test.py
  examples/agentclientprotocol/README.md
  examples/agentclientprotocol/main.go
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/cmd/acp-server/Dockerfile
  examples/sandboxed-tools/cmd/acp-server/k8s/acp-server.yaml
  examples/sandboxed-tools/cmd/acp-server/main.go
  examples/sandboxed-tools/go.mod
  examples/sandboxed-tools/go.sum
  examples/sandboxed-tools/images/geminicli-toolbox/Dockerfile
  examples/sandboxed-tools/pkg/agent/agent.go
  examples/sandboxed-tools/pkg/sessions/store.go
  examples/sandboxed-tools/pkg/sessions/store_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: default deploy-kind to not build examples (#1647)
  dev/tools/deploy-kind
  dev/tools/deploy_kind_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(openclaw-fleet-gke): fix claim sequence diagram that failed to render
  examples/openclaw-fleet-gke/README.md
Due: none

docs: remove Copilot from code review guidelines and PR template
  .agents/skills/dev-rules/SKILL.md
  .github/pull_request_template.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

docs(metrics): generate the controller metrics reference from code (#1444)
  Makefile
  cmd/metrics-docs-gen/main.go
  dev/tools/fix-api-docs
  docs/development.md
  docs/metrics.md
  internal/metricsdocs/extract.go
  internal/metricsdocs/extract_test.go
  internal/metricsdocs/metricsdocs.go
  internal/metricsdocs/metricsdocs_test.go
  internal/metricsdocs/render.go
  internal/metricsdocs/render_test.go
  site/content/docs/metrics/_index.md
  site/content/docs/performance-assessment/_index.md
  site/content/docs/sandbox/metrics/_index.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: remove Copilot from code review guidelines and PR template (#1651)
  .agents/skills/dev-rules/SKILL.md
  .github/pull_request_template.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

feat(python): adopt deterministic sandbox claims safely
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/claim_adoption_test_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_lifecycle_integration.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): harden deterministic claim ownership
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/claim_adoption_test_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_lifecycle_integration.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): harden deterministic claim adoption
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_ownership.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_status.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/claim_adoption_test_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): require claim UID for automatic cleanup
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_ownership.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): bind cleanup ownership to claim identity
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_ownership.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_lifecycle_integration.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): address claim adoption review feedback
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_ownership.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/claim_adoption_test_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(openclaw-fleet-gke): lead with customer requirements, enforce the P0 bar, add known gaps
  examples/openclaw-fleet-gke/10-storage.yaml
  examples/openclaw-fleet-gke/README.md
  examples/openclaw-fleet-gke/setup/provision-gke.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): align claim adoption with typed SDK
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/claim_adoption_test_support.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(metrics-docs): stop the Prometheus import check failing on ignored files
  internal/metricsdocs/metricsdocs_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: add openclaw-fleet-gke, a per-employee OpenClaw fleet blueprint (#1652)
  examples/README.md
  examples/openclaw-fleet-gke/00-prereqs.yaml
  examples/openclaw-fleet-gke/10-storage.yaml
  examples/openclaw-fleet-gke/20-openclaw-template.yaml
  examples/openclaw-fleet-gke/30-warmpool.yaml
  examples/openclaw-fleet-gke/40-fleet-portal/Dockerfile
  examples/openclaw-fleet-gke/40-fleet-portal/portal.py
  examples/openclaw-fleet-gke/40-fleet-portal/portal.yaml
  examples/openclaw-fleet-gke/40-fleet-portal/requirements.txt
  examples/openclaw-fleet-gke/50-router/10-router.yaml
  examples/openclaw-fleet-gke/50-router/20-gateway.yaml
  examples/openclaw-fleet-gke/50-router/30-iap-optional.yaml
  examples/openclaw-fleet-gke/50-router/README.md
  examples/openclaw-fleet-gke/60-snapshots/00-storageconfig.yaml
  examples/openclaw-fleet-gke/60-snapshots/10-policy.yaml
  examples/openclaw-fleet-gke/60-snapshots/20-suspend-resume.md
  examples/openclaw-fleet-gke/60-snapshots/30-snapshot-hibernate.md
  examples/openclaw-fleet-gke/70-rolling-update.sh
  examples/openclaw-fleet-gke/README.md
  examples/openclaw-fleet-gke/run-test-gke.sh
  examples/openclaw-fleet-gke/setup/provision-gke.sh
  examples/openclaw-fleet-gke/setup/teardown-gke.sh
  examples/openclaw-fleet-gke/tools/fio-workspace-job.yaml
  examples/openclaw-fleet-gke/tools/measure-claim-latency.sh
  site/content/docs/use-cases/examples/openclaw-fleet-gke/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(controller): add --watch-namespaces flag for namespace-scoped RBAC
  cmd/agent-sandbox-controller/cacheoptions.go
  cmd/agent-sandbox-controller/cacheoptions_test.go
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(helm): add namespace-scoped RBAC for --watch-namespaces
  cmd/agent-sandbox-controller/main.go
  helm/templates/_controller-args.tpl
  helm/templates/clusterrolebinding-extensions.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/namespaced-rbac.yaml
  helm/templates/rbac.generated.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): move generated RBAC to helm/files and fix lint
  cmd/agent-sandbox-controller/cacheoptions.go
  codegen.go
  helm/files/extensions-rbac.generated.yaml
  helm/files/rbac.generated.yaml
  helm/templates/extensions-rbac.generated.yaml
  helm/templates/rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): add leader-election RBAC for namespace-scoped mode
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
  helm/templates/leader-election-rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(helm): validate watchNamespaces entries are non-blank
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore(helm): bump chart version for RBAC template changes
  helm/Chart.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(helm): reject whitespace-padded and duplicate watchNamespaces entries
  helm/templates/_helpers.tpl
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add unit tests for seven examples with untested security/state logic (#1608)
  dev/tools/test-unit
  examples/firecracker-sandbox/test_main.py
  examples/gke-swap/python-density/test_parse_telemetry.py
  examples/hermes-agents-as-a-service/gateway/test_gateway.py
  examples/kata-aks/agent/test_agent.py
  examples/kata-aks/client/main_test.go
  examples/n8n-mcp/source/test_server.py
  examples/sandboxed-tools/pkg/agent/agent_test.go
  examples/webhook-inject-timestamp/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/network-policy-api-sandbox: address review comments
  examples/network-policy-api-sandbox/README.md
  examples/network-policy-api-sandbox/env.sh
  examples/network-policy-api-sandbox/manifests/90-raw-sandbox.yaml
  examples/network-policy-api-sandbox/scripts/02-install-network-policies.sh
  examples/network-policy-api-sandbox/scripts/04-deploy-demo.sh
  examples/network-policy-api-sandbox/scripts/test.sh
  examples/policy/network-policy-management/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(configuration): cover every controller flag in the flag reference
  docs/configuration.md
Due: none

docs(configuration): state the leader-election-namespace default explicitly
  docs/configuration.md
Due: none

docs: publish and align sandboxd runtime API reference
  clients/go/sandbox/connector.go
  clients/go/sandbox/podtunnel.go
  clients/go/sandbox/strategy.go
  docs/keps/539.2-runtime-standardization/README.md
  examples/sandboxd-sandbox/sandbox-template.yaml
  packages/sandboxd/Dockerfile
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/cmd/sandboxd/main.go
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
  site/content/docs/api/_index.md
  site/content/docs/api/runtime/_index.md
  site/data/link_replacements.yaml
  site/hugo.yaml
  test/e2e/extensions/sandboxd_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: correct sandboxd runtime API guarantees
  docs/keps/539.2-runtime-standardization/README.md
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/pkg/server/filesystem.go
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: correct sandboxd transport and error semantics
  clients/go/sandbox/podtunnel.go
  docs/go_sdk_reference.md
  docs/keps/539.2-runtime-standardization/README.md
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: document policy requirements for direct sandboxd access
  docs/keps/539.2-runtime-standardization/README.md
  packages/sandboxd/USER_GUIDE.md
Due: none

docs: separate router protocol and reachability constraints
  clients/go/sandbox/podtunnel.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: clarify sandboxd example connectivity
  examples/sandboxd-sandbox/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: fix sandboxd SDK examples and comments
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: align sandboxd protocol examples
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sdks): handle streaming download edge cases
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(go-sdk): regenerate reference for streaming downloads
  docs/go_sdk_reference.md
Due: none

fix(sdks): harden streaming download failures
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/async_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sdks): avoid buffering large file downloads
  clients/go/README.md
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
  clients/go/sandbox/integration_test.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandboxd_test.go
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/async_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(python-sdk): support streaming file uploads
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/async_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxd.py
  clients/python/agentic-sandbox-client/pyproject.toml
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
