Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

fleet: move the multi-cluster fleet example back under examples/
  dev/tools/test-unit
  examples/multi-cluster-fleet/.gitignore
  examples/multi-cluster-fleet/ARCHITECTURE.md
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/__init__.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/argtypes.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/budget.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/cli.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/fleet_member.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/hubauth.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/hubcheck.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/inventory.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/leaselock.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/objectstore.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/placement.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/planner.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/publisher.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/registry_rewrite.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/resolver.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/sizing.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/trainer.py
  examples/multi-cluster-fleet/python/pyproject.toml
  examples/multi-cluster-fleet/python/tests/__init__.py
  examples/multi-cluster-fleet/python/tests/test_argtypes.py
  examples/multi-cluster-fleet/python/tests/test_budget.py
  examples/multi-cluster-fleet/python/tests/test_cli.py
  examples/multi-cluster-fleet/python/tests/test_fleet_member.py
  examples/multi-cluster-fleet/python/tests/test_hubauth.py
  examples/multi-cluster-fleet/python/tests/test_inventory.py
  examples/multi-cluster-fleet/python/tests/test_leaselock.py
  examples/multi-cluster-fleet/python/tests/test_objectstore.py
  examples/multi-cluster-fleet/python/tests/test_placement.py
  examples/multi-cluster-fleet/python/tests/test_planner.py
  examples/multi-cluster-fleet/python/tests/test_publisher.py
  examples/multi-cluster-fleet/python/tests/test_registry_rewrite.py
  examples/multi-cluster-fleet/python/tests/test_resolver.py
  examples/multi-cluster-fleet/python/tests/test_trainer.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fleet: move the multi-cluster fleet example back under examples/ (part 2)
  examples/multi-cluster-fleet/demo/claim-bench.py
  examples/multi-cluster-fleet/demo/fleet-spec-drain.yaml
  examples/multi-cluster-fleet/demo/fleet-spec.yaml
  examples/multi-cluster-fleet/deploy/Dockerfile
  examples/multi-cluster-fleet/deploy/build-push.sh
  examples/multi-cluster-fleet/deploy/clusterprofile-crd.yaml
  examples/multi-cluster-fleet/deploy/fleet-member-clusterprofile-patch.yaml
  examples/multi-cluster-fleet/deploy/fleet-member-deployment-wi.yaml
  examples/multi-cluster-fleet/deploy/gen-hub-kubeconfig.sh
  examples/multi-cluster-fleet/deploy/gen-hub-rbac.py
  examples/multi-cluster-fleet/deploy/planner-clusterprofile-patch.yaml
  examples/multi-cluster-fleet/deploy/planner-deployment.yaml
  examples/multi-cluster-fleet/deploy/rbac.yaml
  examples/multi-cluster-fleet/deploy/render.sh
  examples/multi-cluster-fleet/deploy/setup-hub.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fleet: move the multi-cluster fleet example back under examples/ (part 3)
  examples/multi-cluster-fleet/README.md
Due: none

fleet: move the multi-cluster fleet example back under examples/ (part 4)
  examples/multi-cluster-fleet/TESTING.md
  examples/multi-cluster-fleet/demo/fleet-spec-xs.yaml
  examples/multi-cluster-fleet/demo/observe.sh
  examples/multi-cluster-fleet/demo/preflight-cp-plan.py
  examples/multi-cluster-fleet/demo/run-xs-e2e.sh
  examples/multi-cluster-fleet/demo/stress-e2e.py
  examples/multi-cluster-fleet/deploy/create-gke-standard-fleet.sh
  examples/multi-cluster-fleet/deploy/example-templates-xs.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fleet: move the multi-cluster fleet example back under examples/ (hub tooling)
  examples/multi-cluster-fleet/demo/cp-registry.py
  examples/multi-cluster-fleet/demo/fleet-spec-clusterprofile-e2e.yaml
  examples/multi-cluster-fleet/demo/publish-clusterprofile.py
  examples/multi-cluster-fleet/demo/seed-clusterprofiles.sh
  examples/multi-cluster-fleet/demo/watch-clusterprofile-drift.py
  examples/multi-cluster-fleet/deploy/auth-probe.sh
  examples/multi-cluster-fleet/deploy/hub-probe.sh
  examples/multi-cluster-fleet/deploy/hubcheck-job.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: note sandboxd port-forward fails on Kata/gVisor
  clients/go/sandbox/options.go
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/connection.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
  examples/sandboxd-sandbox/client/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(go-sdk): add ShutdownAfter to expire claims
  clients/go/README.md
  clients/go/sandbox/k8s.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandbox_test.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix readiness flap issue
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxstatus.go
  clients/k8s/applyconfiguration/internal/internal.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  docs/metrics.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  internal/metrics/metrics.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  site/content/docs/metrics/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix autogenerated files
  docs/api.md
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix autogenerated files
  controllers/sandbox_controller_test.go
  helm/Chart.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix tests to ignore first ready time
  controllers/sandbox_controller_test.go
  test/e2e/framework/predicates/sandbox.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: compare atexit proxy against a Configuration for the same host
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

restore sandbox_template label on agent_sandboxes
  docs/metrics.md
  internal/metrics/metrics.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
  internal/metricsdocs/metricsdocs_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix autogenerated files
  internal/metrics/sandbox_collector_test.go
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix autogenerated files
  clients/k8s/applyconfiguration/api/v1beta1/sandboxlifecyclestatus.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxstatus.go
  clients/k8s/applyconfiguration/internal/internal.go
  clients/k8s/applyconfiguration/utils.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Round ShutdownAfter deadline up to a whole second
  clients/go/sandbox/k8s.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox_test.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(clients/ts): canonicalize pod IPs and add Sandbox.getPodIP()
  clients/typescript/agentic-sandbox-client/src/__tests__/connection.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/connection.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(rl): coverage check never trusts unknown label keys; guard the label patch
  examples/agent-sandbox-rl-network-policy/warm_unmanaged.py
  examples/agent-sandbox-rl/agent_sandbox_rl/preflight.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_preflight.py
  examples/agent-sandbox-rl/tests/test_resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(rl): fail fast on claims that cannot start, handle liveness, and an orphan sweep for the reaper
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/exceptions.py
  examples/agent-sandbox-rl/agent_sandbox_rl/failfast.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/reaper.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_fail_fast.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(rl): fail-fast grace per container, pod identity in liveness, safer reaping
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/failfast.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/reaper.py
  examples/agent-sandbox-rl/tests/test_fail_fast.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): align in-cluster sandboxd mode names with Go and TS (#1854)
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxd.py
  docs/python_sdk_reference.md
  packages/sandboxd/USER_GUIDE.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): type custom-object responses for kubernetes client 37
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(integrations): list gymnasium and openai in the integrations index (#1862)
  clients/integrations/README.md
Due: none

fix(e2e): wait for HTTPRoute acceptance before gateway-mode tests (#1840)
  test/e2e/clients/python/conftest.py
  test/e2e/clients/python/framework/context.py
  test/e2e/clients/python/framework/predicates.py
  test/e2e/clients/python/framework/sdk_helpers.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci(helm): lint the chart with chart-testing
  Makefile
  dev/ci/presubmits/lint-helm
  dev/tools/ct/chart_schema.yaml
  dev/tools/ct/ct.yaml
  dev/tools/ct/lintconf.yaml
  dev/tools/go.mod
  dev/tools/go.sum
  dev/tools/lint-helm
  helm/README.md
  helm/ci/default-values.yaml
  helm/ci/existing-namespace-values.yaml
  helm/ci/extensions-values.yaml
  helm/ci/prometheus-values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix
  dev/tools/go.mod
  dev/tools/go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): type custom-object responses for kubernetes client 37 (#1869)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(agtsbx): scope failed-start cleanup to this run
  docs/keps/1870-agtsbx-run/README.md
  docs/keps/1870-agtsbx-run/kep.yaml
  internal/agtsbx/backend.go
  internal/agtsbx/container.go
  internal/agtsbx/container_test.go
  internal/agtsbx/kube.go
  internal/agtsbx/kube_test.go
  internal/agtsbx/run.go
  internal/agtsbx/run_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(keps): number agtsbx KEP by issue, propose answers
  docs/keps/1870-agtsbx-run/README.md
  docs/keps/1870-agtsbx-run/kep.yaml
Due: none

fix(integrations): support SDK 1.x in mcp-server, nemo-gym, openai
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/list_files.py
  clients/integrations/mcp-server/pyproject.toml
  clients/integrations/mcp-server/tests/unit/test_tools/test_list_files.py
  clients/integrations/nemo-gym/pyproject.toml
  clients/integrations/openai/pyproject.toml
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(go-sdk): add WithEnv and WithWorkingDir to Run (#1849)
  clients/go/README.md
  clients/go/sandbox/commands.go
  clients/go/sandbox/files.go
  clients/go/sandbox/sandboxd_test.go
  clients/go/sandbox/types.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(go-sdk): add ShutdownAfter to expire claims (#1865)
  clients/go/README.md
  clients/go/sandbox/k8s.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandbox_test.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fleet-member: cite #1852 as the fix for the warm-pool status freeze (#1850)
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/fleet_member.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): canonicalize pod IPs and add Sandbox.getPodIP() (#1867)
  clients/typescript/agentic-sandbox-client/src/__tests__/connection.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/connection.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(integrations): skip the openai suite below Python 3.11
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(e2e): wait for HTTPRoute acceptance before gateway-mode tests (#1840) (#1863)
  test/e2e/clients/python/conftest.py
  test/e2e/clients/python/framework/context.py
  test/e2e/clients/python/framework/predicates.py
  test/e2e/clients/python/framework/sdk_helpers.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): allow waiting for current claim generation
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_adoption_lifecycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

multi-cluster-fleet: add multi-cluster warm-pool planner, part 1/4 (#1394)
  dev/tools/test-unit
  examples/multi-cluster-fleet/.gitignore
  examples/multi-cluster-fleet/ARCHITECTURE.md
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/__init__.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/argtypes.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/budget.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/cli.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/fleet_member.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/hubauth.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/hubcheck.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/inventory.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/leaselock.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/objectstore.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/placement.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/planner.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/publisher.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/registry_rewrite.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/resolver.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/sizing.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/trainer.py
  examples/multi-cluster-fleet/python/pyproject.toml
  examples/multi-cluster-fleet/python/tests/__init__.py
  examples/multi-cluster-fleet/python/tests/test_argtypes.py
  examples/multi-cluster-fleet/python/tests/test_budget.py
  examples/multi-cluster-fleet/python/tests/test_cli.py
  examples/multi-cluster-fleet/python/tests/test_fleet_member.py
  examples/multi-cluster-fleet/python/tests/test_hubauth.py
  examples/multi-cluster-fleet/python/tests/test_inventory.py
  examples/multi-cluster-fleet/python/tests/test_leaselock.py
  examples/multi-cluster-fleet/python/tests/test_objectstore.py
  examples/multi-cluster-fleet/python/tests/test_placement.py
  examples/multi-cluster-fleet/python/tests/test_planner.py
  examples/multi-cluster-fleet/python/tests/test_publisher.py
  examples/multi-cluster-fleet/python/tests/test_registry_rewrite.py
  examples/multi-cluster-fleet/python/tests/test_resolver.py
  examples/multi-cluster-fleet/python/tests/test_trainer.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(sandboxd): correct the /v1/metadata credential markers
  packages/sandboxd/USER_GUIDE.md
Due: none

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
