Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

olm: remove allow-metrics-traffic.yaml
  olm/config/network-policy/allow-metrics-traffic.yaml
  olm/config/network-policy/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): stop error-logging status errors in async connector (#1604)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): support automatic sandbox expiration (#1605)
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): preserve spaces in sandbox file paths
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: cleanup
  examples/sandbox-tilt-demo/README.md
  examples/sandbox-tilt-demo/Tiltfile
  examples/sandbox-tilt-demo/demo/app.py
  examples/sandbox-tilt-demo/manifests/app.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-runtime): preserve literal percent escapes
  examples/python-runtime-sandbox/README.md
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/test_main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): add label selectors to listAllSandboxes
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(clients/ts): use explicit strict list request assertions
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: derive claim TTL deadline at reconcile time instead of writing spec
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sdks): avoid buffering large file downloads
  clients/go/README.md
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
  clients/go/sandbox/integration_test.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandboxd_test.go
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/async_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sdks): close cancelled streaming responses
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sdks): address streaming review feedback
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sdks): handle streaming download edge cases
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sdks): preserve streaming error responses
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sdks): harden streaming download failures
  clients/go/sandbox/files.go
  clients/go/sandbox/files_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/async_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(go-sdk): regenerate reference for streaming downloads
  docs/go_sdk_reference.md
Due: none

fix(sdks): preserve auth across streaming retries
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sdks): preserve main connector error handling
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: label sandbox plugin list columns
  examples/sandbox-headlamp-plugin/src/pages.tsx
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(headlamp): add template views and split resource pages
  examples/sandbox-headlamp-plugin/README.md
  examples/sandbox-headlamp-plugin/src/index.tsx
  examples/sandbox-headlamp-plugin/src/pages.tsx
  examples/sandbox-headlamp-plugin/src/pages/claim.tsx
  examples/sandbox-headlamp-plugin/src/pages/common.tsx
  examples/sandbox-headlamp-plugin/src/pages/index.ts
  examples/sandbox-headlamp-plugin/src/pages/sandbox.tsx
  examples/sandbox-headlamp-plugin/src/pages/template.tsx
  examples/sandbox-headlamp-plugin/src/pages/warmpool.tsx
  examples/sandbox-headlamp-plugin/src/resources.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor(headlamp): narrow CRD projections
  examples/sandbox-headlamp-plugin/src/resources.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(headlamp): document temporary resource projections
  examples/sandbox-headlamp-plugin/README.md
Due: none

refactor(headlamp): centralize resource defaults and translations
  examples/sandbox-headlamp-plugin/locales/en/translation.json
  examples/sandbox-headlamp-plugin/locales/zh-Hans/translation.json
  examples/sandbox-headlamp-plugin/package.json
  examples/sandbox-headlamp-plugin/src/pages/claim.tsx
  examples/sandbox-headlamp-plugin/src/pages/sandbox.tsx
  examples/sandbox-headlamp-plugin/src/pages/template.tsx
  examples/sandbox-headlamp-plugin/src/pages/warmpool.tsx
  examples/sandbox-headlamp-plugin/src/resources.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: add Agent Sandbox Headlamp plugin prototype
  .gitignore
  examples/sandbox-headlamp-plugin/README.md
  examples/sandbox-headlamp-plugin/package-lock.json
  examples/sandbox-headlamp-plugin/package.json
  examples/sandbox-headlamp-plugin/src/index.tsx
  examples/sandbox-headlamp-plugin/src/pages.tsx
  examples/sandbox-headlamp-plugin/src/resources.ts
  examples/sandbox-headlamp-plugin/tsconfig.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: keep sandbox plugin views read-only
  examples/sandbox-headlamp-plugin/src/pages.tsx
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(headlamp): translate sidebar labels on language changes
  examples/sandbox-headlamp-plugin/src/index.tsx
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: clarify LangChain example navigation steps
  examples/langchain/README.md
Due: none

docs: review and synchronize roadmap statuses with the current implementation
  roadmap.md
Due: none

feat(helm): add namespace-scoped RBAC for --watch-namespaces
  cmd/agent-sandbox-controller/main.go
  helm/templates/_controller-args.tpl
  helm/templates/clusterrolebinding-extensions.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/namespaced-rbac.yaml
  helm/templates/rbac.generated.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): move generated RBAC to helm/files and fix lint
  cmd/agent-sandbox-controller/cacheoptions.go
  codegen.go
  helm/files/extensions-rbac.generated.yaml
  helm/files/rbac.generated.yaml
  helm/templates/extensions-rbac.generated.yaml
  helm/templates/rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(controller): add --watch-namespaces flag for namespace-scoped RBAC
  cmd/agent-sandbox-controller/cacheoptions.go
  cmd/agent-sandbox-controller/cacheoptions_test.go
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): reject whitespace-padded and duplicate watchNamespaces entries
  helm/templates/_helpers.tpl
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore(helm): bump chart version for RBAC template changes
  helm/Chart.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(helm): add automated RBAC scope filtering pipeline
  codegen.go
  dev/tools/generate-namespaced-rbac
  dev/tools/shared/rbac_scopes.py
  dev/tools/shared/rbac_scopes_test.py
  helm/files/extensions-rbac.namespaced.generated.yaml
  helm/files/rbac.namespaced.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(helm): use generated rules and add NOTES.txt for cross-namespace RBAC
  helm/templates/NOTES.txt
  helm/templates/leader-election-rbac.yaml
  helm/templates/namespaced-rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(controller): support WATCH_NAMESPACE env var fallback
  cmd/agent-sandbox-controller/cacheoptions.go
  cmd/agent-sandbox-controller/cacheoptions_test.go
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): validate watchNamespaces entries are non-blank
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(helm): add leader-election RBAC for namespace-scoped mode
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
  helm/templates/leader-election-rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(e2e): add namespaced mode scope test
  test/e2e/README.md
  test/e2e/namespaced_mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: add namespace scoping documentation
  docs/configuration.md
  helm/README.md
Due: none
