Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

fix lint
  test/e2e/extensions/warmpool_rollout_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update docs/api.md
  docs/api.md
Due: none

add api documentation
  api-reference.md
  config.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add api documentation to hugo
  docs/api.md
  site/content/docs/docs_api/_index.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date

fix conflict
  api/v1alpha1/doc.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fixes for comment resolution
  docs/api.md
  site/content/docs/api/_index.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date

resolve comments
  site/content/docs/api/_index.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date

chore: add pretest script to build agentic-sandbox-client before running tests
  test/e2e/clients/typescript/package.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: add prepare script to build before running tests
  clients/typescript/agentic-sandbox-client/package.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: add tests for server port handling and error scenarios in SandboxClient
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor: rename close() to closeLocal() and update documentation to clarify behavior
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor: replace encodeURIComponent with encodePathSegment for consistent path encoding
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add SandboxTimeoutError class to handle timeout scenarios
  clients/typescript/agentic-sandbox-client/src/exceptions.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor domain checks, sort keys, and sync KEP
  controllers/sandbox_controller.go
  docs/keps/174-metadata-propagation/README.md
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

recreate Pod on Sandbox PodTemplate spec drift
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

make gofmt
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

hash only PodTemplate.Spec to avoid false drift on metadata changes
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add maxRetries option to RequestFn for command execution
  clients/typescript/agentic-sandbox-client/src/commands/command-executor.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: update MAX_RETRIES to 6 and add constants for connection handling
  clients/typescript/agentic-sandbox-client/src/constants.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: extend SandboxRequestError to include body and operation properties
  clients/typescript/agentic-sandbox-client/src/exceptions.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: preserve SandboxClaim on connect failure by releasing local resources
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: set maxRetries to 1 for non-idempotent agent invocation and file uploads
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: implement fetchWithRetry with response body drain and overall timeout handling
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: preserve serverPort 8888 in ComputerUseSandbox constructor
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add validation for SandboxClient constructor options
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: enhance response handling with bounded reading and parsing utilities
  clients/typescript/agentic-sandbox-client/src/commands/command-executor.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add test for rejecting content exceeding MAX_UPLOAD_SIZE
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add response utility functions for bounded reading and parsing
  clients/typescript/agentic-sandbox-client/src/__tests__/response-utils.test.ts
  clients/typescript/agentic-sandbox-client/src/exceptions.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/response-utils.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Implement auto cleanup on user set boolean flag.
  clients/python/agentic-sandbox-client/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Remove the exception file.
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Initial PR for gRPC proto file and conformance doc.
  clients/CONFORMANCE.md
  clients/proto/agent_sandbox.proto
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Remove the template changes.
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add template changes.
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add template changes.
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix test_client method name.
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fixed unit test
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: prevent cross-claim race during warm pool sandbox adoption
  api/v1alpha1/sandbox_types.go
  extensions/controllers/sandboxclaim_controller.go
  internal/metrics/metrics.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: add unit and e2e tests for cross-claim adoption race
  extensions/controllers/sandboxclaim_adoption_race_test.go
  extensions/controllers/sandboxclaim_controller_test.go
  test/e2e/extensions/adoption_race_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

versionbump: golang to 1.26.2
  Dockerfile
  clients/go/README.md
  dev/tools/go.mod
  examples/chrome-sandbox/Dockerfile
  examples/chrome-sandbox/go.mod
  go.mod
  site/go.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
