Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

reconcilePod: clear stale pod annotation and recreate on 404 (#613)
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add action label for resolving reviews (#664)
  README.md
  dev/tools/ai-label
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: create script to run benchmark on GCP cluster with kOps (#663)
  dev/tools/push-images
  dev/tools/shared/utils.py
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/e2e/chromesandbox_claim_test.go
  test/e2e/chromesandbox_test.go
  test/e2e/framework/client.go
  test/e2e/framework/context.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

optimization: added a sandbox queue to retrieve warm sandboxes (#536)
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/queue/simple_sandbox_queue.go
  extensions/controllers/queue/simple_sandbox_queue_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxclaim_pod_exclusivity_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Highlight extensions in architecture diagram (#665)
  README.md
Due: none

Docs - Introduction (#648)
  site/content/docs/_index.md
Due: none

Docs agent sandbox shutdown time (#653)
  site/content/docs/sandbox/_index.md
  site/content/docs/sandbox/lifecycle/_index.md
  site/content/docs/sandbox/lifecycle/source/Dockerfile
  site/content/docs/sandbox/lifecycle/source/server.py
  site/content/docs/sandbox/lifecycle/source/template.yaml
Due: presubmit-test-autogen-up-to-date

enable-go-race-detector (#575)
  Makefile
  dev/tools/test-e2e
  dev/tools/test-unit
  docs/testing.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: support getting a project from boskos (#673)
  dev/tools/resourcectl/main.go
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add agent-sandbox verison and metrics (#674)
  Dockerfile
  Makefile
  cmd/agent-sandbox-controller/main.go
  dev/tools/push-images
  dev/tools/shared/utils.py
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/version/version.go
  internal/version/version_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add SandboxInClusterConnectionConfig to bypass router (#489)
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Document our Slack channel (#667)
  README.md
Due: none

Docs agent sandbox metrics (#655)
  site/content/docs/sandbox/metrics/_index.md
Due: none

fix: correct warm pool sandbox deletion when policy is retain and update tests (#645)
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update diagram for new Warmpool -> Sandbox mapping (#671)
  README.md
Due: none

docs: add Go sandbox client documentation to docsite (#675)
  site/content/docs/_index.md
  site/content/docs/go-client/_index.md
  site/data/link_replacements.yaml
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date

Docs create sandbox in kind (#650)
  site/content/docs/getting_started/_index.md
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

Release script fix (#672)
  .gitignore
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Docs agents sandbox custom env (#657)
  site/content/docs/sandbox/custom_sandbox/custom_environment/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/source/Dockerfile
  site/content/docs/sandbox/custom_sandbox/custom_environment/source/template.yaml
Due: presubmit-test-autogen-up-to-date

Docs agent sandbox image (#656)
  site/content/docs/sandbox/custom_sandbox/_index.md
  site/content/docs/sandbox/custom_sandbox/image/_index.md
Due: none

Docs filesystem (#658)
  site/assets/scss/_styles_project.scss
  site/content/docs/filesystem/_index.md
  site/content/docs/filesystem/list-files/_index.md
  site/content/docs/filesystem/read-write/_index.md
  site/content/docs/filesystem/upload-download/_index.md
Due: presubmit-test-autogen-up-to-date

Docs agent sandbox snapshot (#654)
  site/content/docs/sandbox/snapshots/_index.md
  site/content/docs/sandbox/snapshots/source/Dockerfile
  site/content/docs/sandbox/snapshots/source/server.py
  site/content/docs/sandbox/snapshots/source/template.yaml
Due: presubmit-test-autogen-up-to-date

Docs feature use cases (#652)
  site/assets/scss/_styles_project.scss
  site/content/_index.html
  site/content/docs/use-cases/_index.md
  site/content/docs/use-cases/ci-cd/_index.md
  site/content/docs/use-cases/code-execution/_index.md
  site/content/docs/use-cases/coding-agents/_index.md
  site/content/docs/use-cases/computer-use/_index.md
  site/content/docs/use-cases/examples/_index.md
  site/content/docs/use-cases/examples/aio-sandbox/_index.md
  site/content/docs/use-cases/examples/analytics-tool/_index.md
  site/content/docs/use-cases/examples/chrome-sandbox/_index.md
  site/content/docs/use-cases/examples/code-interpreter-agent-on-adk/_index.md
  site/content/docs/use-cases/examples/composing-sandbox-nw-policies/_index.md
  site/content/docs/use-cases/examples/gemini-cu-sandbox/_index.md
  site/content/docs/use-cases/examples/gvisor/_index.md
  site/content/docs/use-cases/examples/hello-world-sandbox/_index.md
  site/content/docs/use-cases/examples/isolated-ml-workspaces/_index.md
  site/content/docs/use-cases/examples/jupyterlab/_index.md
  site/content/docs/use-cases/examples/kata-containers/_index.md
  site/content/docs/use-cases/examples/kata-gke-sandbox/_index.md
  site/content/docs/use-cases/examples/langchain/_index.md
  site/content/docs/use-cases/examples/manual-pdb/_index.md
  site/content/docs/use-cases/examples/network-policies/_index.md
  site/content/docs/use-cases/examples/opa-gatekeeper/_index.md
  site/content/docs/use-cases/examples/openclaw-sandbox/_index.md
  site/content/docs/use-cases/examples/python-runtime-sandbox/_index.md
  site/content/docs/use-cases/examples/python-sdk-quickstart/_index.md
  site/content/docs/use-cases/examples/sandbox-ksa/_index.md
  site/content/docs/use-cases/examples/secure-sandbox-vap/_index.md
  site/content/docs/use-cases/examples/vscode-sandbox/_index.md
  site/content/docs/use-cases/gvisor-isolation/_index.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
  site/content/docs/use-cases/openclaw/_index.md
  site/data/link_replacements.yaml
Due: presubmit-test-autogen-up-to-date

extensions: propagate claim UID label to Sandboxes and backing Pods (#455)
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Docs agent sandbox references (#651)
  site/content/docs/getting_started/sdk_reference/_index.md
Due: none

Fix stale observedTimes entries for ControllerStartupLatency (#546)
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Docs python sdk quickstart (#649)
  examples/python-sdk-quickstart/README.md
  getting_started/_index.md
  getting_started/python-sdk-quickstart/_index.md
  site/content/docs/getting_started/python-sdk-quickstart/_index.md
  site/data/link_replacements.yaml
Due: presubmit-test-autogen-up-to-date

Fix for prerequisites design in Filesystem docs (#680)
  site/content/docs/filesystem/list-files/_index.md
  site/content/docs/filesystem/read-write/_index.md
  site/content/docs/filesystem/upload-download/_index.md
Due: none

feat: introduce TTL-based cleanups for SandboxClaims (#583)
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/lifecycle/expiry.go
  internal/lifecycle/expiry_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  test/e2e/extensions/shutdown_policy_test.go
  test/e2e/framework/predicates/conditions.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Updating author reference for newer hugo versions (#681)
  site/layouts/partials/seo_schema.html
Due: presubmit-test-autogen-up-to-date

remove temp content (#708)
  site/content/docs/sandbox/custom_sandbox/image/_index.md
Due: none

Add volumeClaimTemplates support to SandboxTemplate (#240)
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  extensions/examples/sandboxtemplate.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/extensions-rbac.generated.yaml
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Only run workflow on file changes related to toc-update check (#687)
  .github/workflows/check.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Prevent duplicate sandbox adoptions during cache lag by using optimistic locking on claim labels and proactively completing interrupted adoptions. (#559)
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: cross namespace check when verifying sandbox candidate from queue (#700)
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add Kueue integration example for Agent Sandbox (#662) (#684)
  examples/kueue-agent-sandbox/README.md
Due: none

Fix SandboxClaim stuck in TemplateNotFound status (#609)
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Docs volumes (#659)
  site/content/docs/volumes/_index.md
Due: none

Update SDK client to accept the warmpool policy (#699)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add helm chart for agent sandbox (#618)
  codegen.go
  helm/Chart.yaml
  helm/README.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
  helm/templates/clusterrolebinding-extensions.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/deployment.yaml
  helm/templates/extensions-rbac.generated.yaml
  helm/templates/namespace.yaml
  helm/templates/rbac.generated.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
