Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

docs(kata-ci-proposal): address aditya review comments
  docs/kata-ci-proposal.md
Due: none

fix(olm): bump golang.org/x/net to v0.55.0 (CVE-2026-25681)
  olm/go.mod
  olm/go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(kep-1306): address aditya review comments (round 2)
  docs/keps/1306-warm-pool-claim-defaults/README.md
  docs/keps/1306-warm-pool-claim-defaults/kep.yaml
Due: none

olm: drop webhook Service from the bundle
  olm/bundle/manifests/agent-sandbox-webhook-service_v1_service.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: update operator version to 1.0.0
  olm/Makefile
  olm/config/manager/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: regenerate bundle for 1.0.0 Run make -C olm bundle to regenerate the bundle manifests and CSV for v1.0.0, reflecting the removal of v1alpha1 CRDs and webhook definitions.
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(dev/tools): append missing image blocks in tag-promote-images
  dev/tools/tag-promote-images
  dev/tools/tag_promote_images_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(dev/tools): address review feedback on empty images list and missing dmap
  dev/tools/tag-promote-images
  dev/tools/tag_promote_images_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add OpenHands agent-SDK workspace integration (AgentSandboxWorkspace)
  clients/integrations/README.md
  clients/integrations/openhands/README.md
  clients/integrations/openhands/configs/agent-server-template.yaml
  clients/integrations/openhands/configs/agent-server-warmpool.yaml
  clients/integrations/openhands/openhands_k8s_agent_sandbox/__init__.py
  clients/integrations/openhands/openhands_k8s_agent_sandbox/workspace.py
  clients/integrations/openhands/pyproject.toml
  clients/integrations/openhands/tests/unit/test_workspace.py
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(dev/tools): exact image name matching and flow-style images list support
  dev/tools/tag-promote-images
  dev/tools/tag_promote_images_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(api): validate Sandbox names for Services
  api/v1beta1/sandbox_types.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  test/e2e/basic_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(api): validate RFC 1035 Sandbox Service names
  api/v1beta1/sandbox_types.go
  api/v1beta1/sandbox_validation_test.go
  go.mod
  go.sum
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  test/e2e/basic_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: full deploy/quickstart README + runnable example for the OpenHands integration
  clients/integrations/openhands/README.md
  clients/integrations/openhands/example.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: SandboxWarmPool field is sandboxTemplateRef, not templateRef
  clients/integrations/openhands/configs/agent-server-warmpool.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: gVisor port-forward caveat in troubleshooting (netstack loopback)
  clients/integrations/openhands/README.md
Due: none

feat: first-class sandbox-router mode (router_url / router_auth_token)
  clients/integrations/openhands/README.md
  clients/integrations/openhands/openhands_k8s_agent_sandbox/workspace.py
  clients/integrations/openhands/tests/unit/test_workspace.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(api): simplify Sandbox Service name validation
  api/v1beta1/sandbox_types.go
  api/v1beta1/sandbox_validation_test.go
  go.mod
  go.sum
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  test/e2e/basic_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: capture claim name before terminate for the release log
  clients/integrations/openhands/openhands_k8s_agent_sandbox/workspace.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(burst): address review feedback, add cluster metadata and roadmap
  test/e2e/extensions/README.md
  test/e2e/extensions/runtime_class_burst_test.go
  test/e2e/extensions/runtime_class_helpers_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: add commit message guidance to AGENTS.md
  AGENTS.md
Due: none

docs: add CLAUDE.md importing AGENTS.md
  CLAUDE.md
Due: none

chore: track site npm dependencies with Dependabot
  .github/dependabot.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(burst): fail on pod list error instead of silently skipping
  test/e2e/extensions/runtime_class_burst_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: handle admitted resources during resize
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: use strategic pod resize patches
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address remaining resource resize review feedback
  controllers/pod_cache_transform_test.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address in-place resize review feedback
  Makefile
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: regenerate resize API artifacts
  docs/api.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: address follow-up resource resize review
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  dev/tools/create-kind-cluster
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add opt-in in-place sandbox resource resize
  Makefile
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/pod_cache_transform_test.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  dev/tools/create-kind-cluster
  helm/templates/rbac.generated.yaml
  k8s/rbac.generated.yaml
  olm/config/rbac/role.yaml
  test/e2e/resource_resize_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: reject unsupported in-place resource removal
  controllers/pod_cache_transform_test.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: regenerate apply configurations after rebase
  clients/k8s/applyconfiguration/api/v1beta1/lifecycle.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxspec.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplatespec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpoolspec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpoolstatus.go
  clients/k8s/extensions/applyconfiguration/internal/internal.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: wire OpenAPI schema into applyconfig generation
  api/v1beta1/doc.go
  clients/k8s/applyconfiguration/api/v1beta1/sandbox.go
  clients/k8s/applyconfiguration/internal/internal.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaim.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplate.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpool.go
  clients/k8s/extensions/applyconfiguration/internal/internal.go
  dev/tools/client-gen-go.sh
  extensions/api/v1beta1/doc.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: regenerate applyconfigs for sandbox blueprint
  clients/k8s/applyconfiguration/api/v1beta1/sandboxblueprint.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxspec.go
  clients/k8s/applyconfiguration/utils.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaimspec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplatespec.go
  dev/tools/client-gen-go.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: update generated module metadata
  go.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: regenerate clients after v1alpha1 removal
  clients/k8s/applyconfiguration/internal/internal.go
  clients/k8s/applyconfiguration/utils.go
  clients/k8s/extensions/applyconfiguration/internal/internal.go
  clients/k8s/extensions/applyconfiguration/utils.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: map shared apply configuration types
  clients/k8s/applyconfiguration/api/v1beta1/sandboxblueprint.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxspec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaimspec.go
  dev/tools/client-gen-go.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add applyconfig generation and NewClientset for fake clientsets
  clients/k8s/applyconfiguration/api/v1beta1/embeddedobjectmetadata.go
  clients/k8s/applyconfiguration/api/v1beta1/lifecycle.go
  clients/k8s/applyconfiguration/api/v1beta1/persistentvolumeclaimtemplate.go
  clients/k8s/applyconfiguration/api/v1beta1/podmetadata.go
  clients/k8s/applyconfiguration/api/v1beta1/podtemplate.go
  clients/k8s/applyconfiguration/api/v1beta1/sandbox.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxspec.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxstatus.go
  clients/k8s/applyconfiguration/internal/internal.go
  clients/k8s/applyconfiguration/utils.go
  clients/k8s/clientset/versioned/fake/clientset_generated.go
  clients/k8s/clientset/versioned/typed/api/v1beta1/fake/fake_sandbox.go
  clients/k8s/clientset/versioned/typed/api/v1beta1/sandbox.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/envvar.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/lifecycle.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/networkpolicyspec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaim.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaimspec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaimstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplate.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplateref.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplatespec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpool.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpoolref.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpoolspec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpoolstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpoolupdatestrategy.go
  clients/k8s/extensions/applyconfiguration/internal/internal.go
  clients/k8s/extensions/applyconfiguration/utils.go
  clients/k8s/extensions/clientset/versioned/fake/clientset_generated.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/fake/fake_sandboxclaim.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/fake/fake_sandboxtemplate.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/fake/fake_sandboxwarmpool.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/sandboxclaim.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/sandboxtemplate.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/sandboxwarmpool.go
  dev/tools/client-gen-go.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: surface OpenAPI generator violations
  dev/tools/client-gen-go.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: submit newer pending resize targets
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
