Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

refactor: add explicit type hints and null safety checks across sandbox components
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/snapshot_engine.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/trace_manager.py
  clients/python/agentic-sandbox-client/pyproject.toml
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci: declare contents: read on check-api-docs and check
  .github/workflows/check-api-docs.yml
  .github/workflows/check.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add applyconfig generation and NewClientset for fake clientsets
  clients/k8s/applyconfiguration/api/v1alpha1/embeddedobjectmetadata.go
  clients/k8s/applyconfiguration/api/v1alpha1/lifecycle.go
  clients/k8s/applyconfiguration/api/v1alpha1/persistentvolumeclaimtemplate.go
  clients/k8s/applyconfiguration/api/v1alpha1/podmetadata.go
  clients/k8s/applyconfiguration/api/v1alpha1/podtemplate.go
  clients/k8s/applyconfiguration/api/v1alpha1/sandbox.go
  clients/k8s/applyconfiguration/api/v1alpha1/sandboxspec.go
  clients/k8s/applyconfiguration/api/v1alpha1/sandboxstatus.go
  clients/k8s/applyconfiguration/internal/internal.go
  clients/k8s/applyconfiguration/utils.go
  clients/k8s/clientset/versioned/fake/clientset_generated.go
  clients/k8s/clientset/versioned/typed/api/v1alpha1/fake/fake_sandbox.go
  clients/k8s/clientset/versioned/typed/api/v1alpha1/sandbox.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/envvar.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/lifecycle.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/networkpolicyspec.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxclaim.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxclaimspec.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxclaimstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxtemplate.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxtemplateref.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxtemplatespec.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxwarmpool.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxwarmpoolspec.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxwarmpoolstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1alpha1/sandboxwarmpoolupdatestrategy.go
  clients/k8s/extensions/applyconfiguration/internal/internal.go
  clients/k8s/extensions/applyconfiguration/utils.go
  clients/k8s/extensions/clientset/versioned/fake/clientset_generated.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1alpha1/fake/fake_sandboxclaim.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1alpha1/fake/fake_sandboxtemplate.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1alpha1/fake/fake_sandboxwarmpool.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1alpha1/sandboxclaim.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1alpha1/sandboxtemplate.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1alpha1/sandboxwarmpool.go
  dev/tools/client-gen-go.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

support automatic service creation opt-in
  api/v1alpha1/sandbox_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  test/e2e/basic_test.go
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: catch memory leaks and reduce per-scrape allocations
  clients/go/sandbox/client_test.go
  clients/go/sandbox/files_test.go
  clients/go/sandbox/sandbox_test.go
  clients/go/sandbox/testmain_test.go
  clients/go/sandbox/tracing_test.go
  controllers/sandbox_controller_test.go
  controllers/testmain_test.go
  internal/metrics/metrics_test.go
  internal/metrics/sandbox_collector.go
  internal/metrics/testmain_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address remaining PR review comments: preserve SandboxPodTemplateHashLabel tracking and patch labels on existing PVCs
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: remove extra newlines in AGENTS.md
  AGENTS.md
Due: none

Address PR review: use ${IMAGE} placeholder in simple canary example
  examples/argocd-simple-canary/README.md
  examples/argocd-simple-canary/templates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Support assigned sandbox lookup from both annotations and legacy labels with automatic migration to ensure backwards compatibility.
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update logs and validate adoption metadata propagation in standard adoption workflows
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Clarify warm launch type label semantics
  api/v1alpha1/sandbox_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Ignore local editor and AI tool folders
  .gitignore
Due: none

Backfill launch type for existing claim sandboxes
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Ensure warm pool sandboxes keep launch type label
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Avoid inferring launch type from pod tracking annotation
  api/v1alpha1/sandbox_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix shadowing the controller-runtime log package
  controllers/sandbox_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: service creationg opt-in follow-up
  api/v1alpha1/sandbox_types.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
  docs/api.md
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: shadowing the controller-runtime log package
  controllers/sandbox_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: confusing label handling with package shadowing
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

PR comment
  site/content/docs/guides/performance-assessment/_index.md
Due: none

PR Commetns
  site/content/docs/guides/performance-assessment/_index.md
Due: none

PR comments
  site/content/docs/guides/performance-assessment/_index.md
Due: none

gofmt and fix typo
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/utils.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add extensions/controllers/utils_test.go
  extensions/controllers/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test results more robustly
  extensions/controllers/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add CLUSTER_DOMAIN environment variable to the agent sandbox router
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor test assertions to use require and update logging
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

api: remove empty SandboxTemplate status and strip protobuf tags
  Makefile
  api/v1alpha1/sandbox_types.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1alpha1/sandboxtemplate.go
  docs/api.md
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

controllers: remove stale sandboxtemplates/status RBAC marker
  extensions/controllers/sandboxtemplate_controller.go
  helm/templates/extensions-rbac.generated.yaml
  k8s/extensions-rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(controllers): add structured Kubernetes Events to SandboxReconciler
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  helm/templates/rbac.generated.yaml
  k8s/rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

skills: update k8s-api-conventions reference to full upstream spec
  .agents/skills/k8s-api-conventions/references/api-conventions.md
Due: none

skills: optimize k8s-api-conventions with prompting bridge and expanded gotchas
  .agents/skills/k8s-api-conventions/SKILL.md
Due: none

Check Orphaned Sandbox Stale Check
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Refactor the Sandbox Template hash generation to include the namespace
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  extensions/controllers/utils.go
  extensions/controllers/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tweaks after review
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

expand tests
  extensions/controllers/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: add HPA and CapacityBuffer scaling to rapid burst load test
  dev/load-test/test-recipes/README-rapid-burst.md
  dev/load-test/test-recipes/rapid-burst-test.yaml
  dev/load-test/test-recipes/run_rapid_burst.sh
  dev/load-test/test-recipes/templates/cluster-loader-capacity-buffer.yaml
  dev/load-test/test-recipes/templates/cluster-loader-hpa.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: cover warm pool secure defaults
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address all comments
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
