Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

docs(sandbox-router): split tokenreview RBAC + fix README links
  sandbox-router/README.md
  sandbox-router/deploy/README.md
  sandbox-router/deploy/rbac-tokenreview.yaml
  sandbox-router/deploy/rbac.yaml
  sandbox-router/dev/smoke-test/run.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): strip Origin on upgrade + set X-Forwarded-*
  sandbox-router/README.md
  sandbox-router/proxy/proxy.go
  sandbox-router/proxy/websocket_integration_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): add TokenReview authorizer
  clients/go/sandbox-router/README.md
  clients/go/sandbox-router/authz/tokenreview.go
  clients/go/sandbox-router/authz/tokenreview_test.go
  clients/go/sandbox-router/config/config.go
  clients/go/sandbox-router/config/config_test.go
  clients/go/sandbox-router/config/flags.go
  clients/go/sandbox-router/deploy/README.md
  clients/go/sandbox-router/deploy/rbac.yaml
  clients/go/sandbox-router/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): exempt protocol upgrades from --proxy-timeout
  sandbox-router/README.md
  sandbox-router/proxy/proxy.go
  sandbox-router/proxy/websocket_integration_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): add KEP-NNNN Pod-IP cache fast path
  clients/go/sandbox-router/README.md
  clients/go/sandbox-router/cache/cache.go
  clients/go/sandbox-router/cache/cache_test.go
  clients/go/sandbox-router/cache/testmain_test.go
  clients/go/sandbox-router/config/config.go
  clients/go/sandbox-router/config/flags.go
  clients/go/sandbox-router/deploy/README.md
  clients/go/sandbox-router/deploy/deployment.yaml
  clients/go/sandbox-router/deploy/rbac.yaml
  clients/go/sandbox-router/main.go
  clients/go/sandbox-router/observability/metrics.go
  clients/go/sandbox-router/proxy/headers.go
  clients/go/sandbox-router/proxy/headers_test.go
  clients/go/sandbox-router/proxy/proxy.go
  clients/go/sandbox-router/proxy/proxy_integration_test.go
  clients/go/sandbox-router/proxy/resolve.go
  clients/go/sandbox-router/proxy/resolve_test.go
  clients/go/sandbox-router/proxy/target.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): bracket IPv6 PodIPs in upstream URL
  sandbox-router/proxy/resolve.go
  sandbox-router/proxy/resolve_test.go
  sandbox-router/proxy/target.go
  sandbox-router/proxy/target_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): log identity once on cache insert, not per request
  sandbox-router/authz/tokenreview.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): reject ports outside [1, 65535]
  sandbox-router/proxy/headers.go
  sandbox-router/proxy/headers_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(sandbox-router): explain why Pod RBAC is cluster-wide
  clients/go/sandbox-router/README.md
  clients/go/sandbox-router/deploy/README.md
  clients/go/sandbox-router/deploy/rbac.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): address PR review nits
  clients/go/sandbox-router/README.md
  clients/go/sandbox-router/config/config_test.go
  clients/go/sandbox-router/config/file.go
  clients/go/sandbox-router/config/file_test.go
  clients/go/sandbox-router/config/flags.go
  clients/go/sandbox-router/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): operational fixes from CodeRabbit review
  dev/load-test/router/main.go
  sandbox-router/cmd/main.go
  sandbox-router/deploy/networkpolicy.yaml
  sandbox-router/dev/smoke-test/run.sh
  sandbox-router/tlsutil/config.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): add Authorizer extension point
  clients/go/sandbox-router/README.md
  clients/go/sandbox-router/authz/authorizer.go
  clients/go/sandbox-router/authz/authorizer_test.go
  clients/go/sandbox-router/authz/identity.go
  clients/go/sandbox-router/authz/identity_test.go
  clients/go/sandbox-router/authz/testmain_test.go
  clients/go/sandbox-router/observability/metrics.go
  clients/go/sandbox-router/proxy/authz_test.go
  clients/go/sandbox-router/proxy/proxy.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(sandbox-router): kind smoke test + reuse controller-runtime kubeconfig flag
  clients/go/sandbox-router/config/flags.go
  clients/go/sandbox-router/dev/smoke-test/README.md
  clients/go/sandbox-router/dev/smoke-test/run.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore(sandbox-router): tidy go.mod after WebSocket dep promotion
  go.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): pre-bind listeners and parallelize shutdown
  clients/go/sandbox-router/server/server.go
  clients/go/sandbox-router/server/server_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): correctness fixes from CodeRabbit review
  sandbox-router/config/flags.go
  sandbox-router/observability/access_log.go
  sandbox-router/observability/metrics.go
  sandbox-router/proxy/authz_test.go
  sandbox-router/proxy/proxy.go
  sandbox-router/proxy/proxy_integration_test.go
  sandbox-router/proxy/websocket_integration_test.go
  sandbox-router/tlsutil/loader.go
  sandbox-router/tlsutil/loader_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore(sandbox-router): tidy go.mod after upstream k8s 1.36 / controller-runtime 0.24 bump
  go.mod
  go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(push-images): use Dockerfile path relative to build context
  dev/tools/push-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sandbox-router-extproc): close validation gaps + lock down dst-host trust
  sandbox-router/README.md
  sandbox-router/deploy/envoy/configmap.yaml
  sandbox-router/internal/extproc/server.go
  sandbox-router/internal/extproc/server_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(sandbox-router-extproc): mirror README tidies from #838
  sandbox-router/README.md
Due: none

fix(sandbox-router-extproc): reject ports outside [1, 65535]
  sandbox-router/internal/extproc/server.go
  sandbox-router/internal/extproc/server_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router-extproc): keep liveness SERVING during informer sync
  sandbox-router/cmd/ext-proc/main.go
  sandbox-router/cmd/ext-proc/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): add Envoy + ext_proc prototype (KEP-NNNN)
  Makefile
  sandbox-router/Dockerfile
  sandbox-router/README.md
  sandbox-router/cmd/ext-proc/main.go
  sandbox-router/cmd/load-test/main.go
  sandbox-router/deploy/envoy/configmap.yaml
  sandbox-router/deploy/envoy/deployment.yaml
  sandbox-router/deploy/envoy/service.yaml
  sandbox-router/deploy/ext-proc/deployment.yaml
  sandbox-router/deploy/ext-proc/pdb.yaml
  sandbox-router/deploy/ext-proc/rbac.yaml
  sandbox-router/deploy/ext-proc/service.yaml
  sandbox-router/deploy/ext-proc/serviceaccount.yaml
  sandbox-router/internal/cache/cache.go
  sandbox-router/internal/cache/cache_test.go
  sandbox-router/internal/extproc/server.go
  sandbox-router/internal/extproc/server_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router-extproc): phase-match the off-mode CONTINUE reply
  sandbox-router/internal/extproc/server.go
  sandbox-router/internal/extproc/server_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router-extproc): bracket IPv6 PodIPs in x-envoy-original-dst-host
  sandbox-router/internal/extproc/server.go
  sandbox-router/internal/extproc/server_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox-router-extproc): strip Origin on upgrade + X-Forwarded-Host
  sandbox-router/README.md
  sandbox-router/deploy/envoy/configmap.yaml
  sandbox-router/internal/extproc/server.go
  sandbox-router/internal/extproc/server_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore(sandbox-router-extproc): tidy go.mod after upstream k8s 1.36 / controller-runtime 0.24 bump
  go.mod
  go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: send X-Sandbox-Timeout header in TypeScript client request()
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

update deps
  go.mod
  go.sum
  tools.mod
  tools.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: redact command args from OTel spans in TypeScript client
  clients/typescript/agentic-sandbox-client/src/__tests__/command-executor.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/commands/command-executor.ts
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

remove deprecated package
  clients/go/sandbox/tunnel.go
  go.mod
  tools.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): CodeRabbit round 3 — security + correctness
  dev/load-test/router/main.go
  sandbox-router/cmd/main.go
  sandbox-router/config/config_test.go
  sandbox-router/proxy/authz_test.go
  sandbox-router/proxy/helpers_test.go
  sandbox-router/proxy/proxy.go
  sandbox-router/proxy/proxy_integration_test.go
  sandbox-router/proxy/retry_integration_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix:test
  test/e2e/extensions/sandboxclaim_vct_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Simple stress test
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add collision-free all-in-one install.yaml for kustomize/GitOps
  README.md
  dev/tools/release
  k8s/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add topologySpreadConstraints support to helm chart
  helm/README.md
  helm/templates/deployment.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: harden redirect blocking and fix span/header edge cases
  clients/typescript/agentic-sandbox-client/src/__tests__/command-executor.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/commands/command-executor.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: improve JSON decode error body truncation
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/filesystem.test.ts
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
