Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

feat(sandboxd): add FileWatcherService for real-time filesystem event streaming
  Makefile
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/watcher.go
  clients/go/sandbox/watcher_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/watcher/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/watcher/v1/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/watcher/v1/watcher_pb2.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/watcher/v1/watcher_pb2.pyi
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/watcher/v1/watcher_pb2_grpc.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_file_watcher.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/watcher/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/watcher/_watcher_stubs.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/watcher/async_file_watcher.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/watcher/file_watcher.py
  clients/typescript/agentic-sandbox-client/src/_proto/watcher/v1/watcher_pb.ts
  docs/go_sdk_reference.md
  docs/python_sdk_reference.md
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/pkg/server/server.go
  packages/sandboxd/pkg/server/watcher.go
  packages/sandboxd/pkg/server/watcher_test.go
  packages/sandboxd/spec/watcher/v1/watcher.pb.go
  packages/sandboxd/spec/watcher/v1/watcher.proto
  packages/sandboxd/spec/watcher/v1/watcher_grpc.pb.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): add byte transfer and size distribution metrics
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.py
  sandbox-router/observability/access_log.go
  sandbox-router/observability/metrics.go
  sandbox-router/observability/metrics_test.go
  sandbox-router/proxy/proxy.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(examples): route traffic across claimed Sandboxes
  examples/README.md
  examples/claimed-sandbox-service/README.md
  examples/claimed-sandbox-service/callers.yaml
  examples/claimed-sandbox-service/claims.yaml
  examples/claimed-sandbox-service/kustomization.yaml
  examples/claimed-sandbox-service/namespace.yaml
  examples/claimed-sandbox-service/service.yaml
  examples/claimed-sandbox-service/template.yaml
  examples/claimed-sandbox-service/verify.sh
  examples/claimed-sandbox-service/warmpool.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(examples): bound claimed Sandbox verification requests
  examples/claimed-sandbox-service/verify.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(examples): wait for claimed Service endpoint convergence
  examples/claimed-sandbox-service/verify.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add ConfigMap-based controller config override package
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/rbac.generated.yaml
  helm/values.yaml
  internal/config/config.go
  internal/config/config_test.go
  k8s/controller.yaml
  k8s/extensions.controller.yaml
  k8s/rbac.generated.yaml
  olm/config/manager/configmap.yaml
  olm/config/manager/kustomization.yaml
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/rbac/role.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

run make bundle
  olm/bundle/manifests/agent-sandbox-config_v1_configmap.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/manager/manager.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(api): validate volumeClaimTemplates with CEL
  api/v1beta1/sandbox_types.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxblueprint.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaimspec.go
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  helm/Chart.yaml
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  test/e2e/extensions/sandboxclaim_vct_test.go
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

apply review
  cmd/agent-sandbox-controller/main.go
  docs/configuration.md
  helm/Chart.yaml
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
  internal/config/config.go
  internal/config/config_test.go
  olm/bundle/manifests/agent-sandbox-config_v1_configmap.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/manager/configmap.yaml
  olm/config/manager/kustomization.yaml
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(examples): avoid wrong-cluster and transient routing failures
  examples/claimed-sandbox-service/README.md
  examples/claimed-sandbox-service/test_verify.py
  examples/claimed-sandbox-service/verify.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(examples): prevent stalled exec from blocking verification
  examples/claimed-sandbox-service/README.md
  examples/claimed-sandbox-service/exec_with_timeout.py
  examples/claimed-sandbox-service/test_verify.py
  examples/claimed-sandbox-service/verify.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(examples): keep claimed Sandbox routing example declarative
  examples/claimed-sandbox-service/README.md
  examples/claimed-sandbox-service/exec_with_timeout.py
  examples/claimed-sandbox-service/test_verify.py
  examples/claimed-sandbox-service/verify.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(clients/ts): stop deep-importing client-node's WebSocketHandler
  clients/typescript/agentic-sandbox-client/biome.json
  clients/typescript/agentic-sandbox-client/src/__tests__/tunnel.test.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/tunnel.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): add byte transfer and size distribution metrics (#1502)
  sandbox-router/observability/access_log.go
  sandbox-router/observability/metrics.go
  sandbox-router/observability/metrics_test.go
  sandbox-router/proxy/proxy.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(examples): add KubeRay RayJob for RLlib SandboxEnv (#1868)
  dev/tools/test-unit
  examples/agent-sandbox-gymnasium/README.md
  examples/agent-sandbox-gymnasium/rllib/README.md
  examples/agent-sandbox-gymnasium/rllib/file_task_env.py
  examples/agent-sandbox-gymnasium/rllib/kuberay/Dockerfile.rllib
  examples/agent-sandbox-gymnasium/rllib/kuberay/checkpoint-pvc.yaml
  examples/agent-sandbox-gymnasium/rllib/kuberay/namespace.yaml
  examples/agent-sandbox-gymnasium/rllib/kuberay/rayjob.yaml
  examples/agent-sandbox-gymnasium/rllib/kuberay/rbac.yaml
  examples/agent-sandbox-gymnasium/rllib/kuberay/requirements.lock
  examples/agent-sandbox-gymnasium/rllib/kuberay/sandbox.yaml
  examples/agent-sandbox-gymnasium/rllib/test_file_task_env.py
  examples/agent-sandbox-gymnasium/rllib/test_kuberay.py
  examples/agent-sandbox-gymnasium/rllib/test_run_verification.py
  examples/agent-sandbox-gymnasium/rllib/train.py
  examples/agent-sandbox-gymnasium/rllib/verify_sandbox_task.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

flake-report: stop filing recovered breakage as flakes (#1884)
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(examples): route traffic across claimed Sandboxes with a Service (#1887)
  examples/README.md
  examples/claimed-sandbox-service/README.md
  examples/claimed-sandbox-service/callers.yaml
  examples/claimed-sandbox-service/claims.yaml
  examples/claimed-sandbox-service/kustomization.yaml
  examples/claimed-sandbox-service/namespace.yaml
  examples/claimed-sandbox-service/service.yaml
  examples/claimed-sandbox-service/template.yaml
  examples/claimed-sandbox-service/warmpool.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(clients/ts): stop deep-importing client-node's WebSocketHandler (#1888)
  clients/typescript/agentic-sandbox-client/biome.json
  clients/typescript/agentic-sandbox-client/src/__tests__/tunnel.test.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/tunnel.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(api): raise volumeClaimTemplates cap to 128
  api/v1beta1/sandbox_types.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxblueprint.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaimspec.go
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  test/e2e/extensions/sandboxclaim_vct_test.go
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(warmpool): pools sharing a template stay independent
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: upgrade controller-runtime to v0.25.2 and add OpenMetrics support
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/manageroptions_test.go
  docs/configuration.md
  go.mod
  go.sum
  helm/templates/_controller-args.tpl
  helm/values.yaml
  internal/metrics/handler_options.go
  internal/metrics/handler_options_test.go
  internal/metricsdocs/extract.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: state the minimum supported Kubernetes version
  README.md
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

feat(python-sdk): add env and cwd to commands.run
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/async_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_command_executor.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(python-sdk): put env/cwd example in the sync example
  clients/python/agentic-sandbox-client/README.md
Due: none

test: cover concurrent warm pool blockers
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(warmpool): mirror PodScheduled in combined blocker case
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Retained Sandboxes need first-ready history
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(python-sdk): make SandboxClient a context manager
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
