Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

address comments
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/manageroptions.go
  helm/templates/deployment.yaml
  helm/values.yaml
  k8s/controller.yaml
  k8s/extensions.controller.yaml
  sandbox-router/cmd/main.go
  sandbox-router/config/configmap.go
  sandbox-router/config/configmap_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add ConfigMap-based controller config override package
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/manageroptions.go
  controllers/sandbox_controller.go
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/rbac.generated.yaml
  helm/values.yaml
  internal/config/config.go
  internal/config/config_test.go
  k8s/controller.yaml
  k8s/rbac.generated.yaml
  olm/config/manager/configmap.yaml
  olm/config/manager/kustomization.yaml
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/rbac/role.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandbox-router: add ConfigMap-based configuration source
  sandbox-router/cmd/main.go
  sandbox-router/config/config.go
  sandbox-router/config/configmap.go
  sandbox-router/config/configmap_test.go
  sandbox-router/config/flags.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: use separate port_forward_start to preserve readiness timeout budget
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bench: set nodeCIDRMaskSize=23
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bench: raise etcd backend quota to 8GiB
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test/e2e: stop the async concurrency check flaking at warm-pool speeds
  test/e2e/clients/python/test_async_client_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agents: add detect-flaky-tests skill
  .agents/skills/detect-flaky-tests/SKILL.md
Due: none

fleet: address review feedback on ClusterProfile hub tooling" "
  fleet/demo/cp-registry.py
  fleet/demo/publish-clusterprofile.py
  fleet/demo/watch-clusterprofile-drift.py
  fleet/deploy/auth-probe.sh
  fleet/deploy/hub-probe.sh
  fleet/deploy/hubcheck-job.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fleet: fix gvisor guard, --drop reporting, and fail-mode recovery
  fleet/demo/observe.sh
  fleet/demo/preflight-cp-plan.py
  fleet/demo/run-xs-e2e.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fleet: report the metadata token request in hub-probe
  fleet/deploy/hub-probe.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test/e2e: assert in-flight overlap instead of a fast-path wall-clock bound
  test/e2e/clients/python/test_async_client_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(benchmarks): capture control-plane serial logs on failure and parameterize validation wait
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bench: set nodeCIDRMaskSize=23 (#1552)
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

rl-sdk: allow adopting warm pools provisioned by the fleet layer
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/exceptions.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_adopt.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test/e2e: stop the async concurrency check flaking at warm-pool speeds (#1553)
  test/e2e/clients/python/test_async_client_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(benchmarks): capture control-plane serial logs on failure and parameterize validation wait (#1555)
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

rbac: trim over-granted controller verbs and guard with an e2e RBAC-denial scan
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  helm/templates/extensions-rbac.generated.yaml
  helm/templates/rbac.generated.yaml
  k8s/extensions-rbac.generated.yaml
  k8s/rbac.generated.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/rbac/extensions_role.yaml
  olm/config/rbac/role.yaml
  test/e2e/extensions/testmain_test.go
  test/e2e/framework/rbacdenials.go
  test/e2e/testmain_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(ci): retry Node.js download to reduce presubmit-test-unit infra flakes
  dev/tools/shared/node.py
  dev/tools/shared/node_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci: shallow-fetch clusterloader2 source in kwok scalability presubmit
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

cleanup: remove dead code left behind by earlier refactors
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/metrics.go
  packages/sandboxd/pkg/processmanager/managed_process.go
  packages/sandboxd/pkg/processmanager/manager_test.go
  sandbox-router/README.md
  sandbox-router/authz/authorizer.go
  sandbox-router/authz/authorizer_test.go
  sandbox-router/authz/identity.go
  sandbox-router/authz/identity_test.go
  sandbox-router/cache/cache.go
  sandbox-router/config/flags.go
  sandbox-router/proxy/target.go
  sandbox-router/proxy/target_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

restore sandboxd ExitCode/IsCompleted accessors per review
  packages/sandboxd/pkg/processmanager/managed_process.go
  packages/sandboxd/pkg/processmanager/manager_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

ci: validate CL2_COMMIT is a full 40-char SHA before use
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(dev/tools): only retry network-shaped download errors in install_node
  dev/tools/shared/node.py
  dev/tools/shared/node_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

cleanup: remove dead code left behind by earlier refactors (#1472)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/metrics.go
  sandbox-router/README.md
  sandbox-router/authz/authorizer.go
  sandbox-router/authz/authorizer_test.go
  sandbox-router/authz/identity.go
  sandbox-router/authz/identity_test.go
  sandbox-router/cache/cache.go
  sandbox-router/config/flags.go
  sandbox-router/proxy/target.go
  sandbox-router/proxy/target_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(dev/tools): don't retry deterministic HTTP errors in install_node
  dev/tools/shared/node.py
  dev/tools/shared/node_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(mcp-server): add agent skill for the MCP server (#1534)
  clients/integrations/mcp-server/skill/README.md
  clients/integrations/mcp-server/skill/SKILL.md
  clients/integrations/mcp-server/skill/mcp-config.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: upgrade controller-runtime to v0.25.0 and enable REST client metrics (#1547)
  clients/k8s/clientset/versioned/clientset.go
  clients/k8s/clientset/versioned/fake/clientset_generated.go
  clients/k8s/extensions/clientset/versioned/clientset.go
  clients/k8s/extensions/clientset/versioned/fake/clientset_generated.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/interface.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/sandboxclaim.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/sandboxtemplate.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/sandboxwarmpool.go
  clients/k8s/extensions/informers/externalversions/factory.go
  clients/k8s/informers/externalversions/api/v1beta1/interface.go
  clients/k8s/informers/externalversions/api/v1beta1/sandbox.go
  clients/k8s/informers/externalversions/factory.go
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/rest_client_metrics_test.go
  dev/tools/go.mod
  dev/tools/go.sum
  go.mod
  go.sum
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  tools.mod
  tools.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: use the same namespace throughout
  examples/agent-sandbox-rl/README.md
Due: none

examples/agent-sandbox-rl: reword the namespace step, update reaper docstring
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/reaper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/agent-sandbox-rl: update remaining namespace references
  examples/agent-sandbox-rl/examples/rl_integration.md
  examples/agent-sandbox-rl/examples/run_swebench_recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: strengthen REST client metrics tests with explicit metric family assertions
  cmd/agent-sandbox-controller/rest_client_metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: add tests for new podTemplate fields on older clusters
  controllers/sandbox_podtemplate_fields_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

style: apply gofmt formatting to podTemplate field tests
  controllers/sandbox_podtemplate_fields_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add --enable-rest-client-metrics CLI flag (default true)
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: verify rejected field exists on Pod and assert Ready condition details
  controllers/sandbox_podtemplate_fields_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

ci(helm): drop GHA workflow, quoted versions, PULL_BASE_SHA
  .github/workflows/chart-version.yml
  dev/tools/bump-chart-version
  dev/tools/verify-chart-version
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci(helm): Clear PULL_BASE_SHA in chart-version tests
  dev/tools/verify_chart_version_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(deepagents): refresh current compatibility pins
  .github/workflows/pypi-publish.yml
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(ci): disable persisted validation credentials
  .github/workflows/pypi-publish.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
