Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

Add exception for label propagation to pod
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fmt
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add unit test for existing pod label propagation
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

style(go-sdk): format files_test.go with gofmt
  clients/go/sandbox/files_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

versionbump: go 1.26.4
  Dockerfile
  dev/tools/go.mod
  examples/chrome-sandbox/Dockerfile
  examples/chrome-sandbox/go.mod
  go.mod
  tools.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: propagate sandbox-template-ref-hash label to SandboxTemplate and adopted Sandboxes
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/sandboxed-tools: persist sessions across invocations
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/main.go
  examples/sandboxed-tools/pkg/sessions/id.go
  examples/sandboxed-tools/pkg/sessions/store.go
  examples/sandboxed-tools/pkg/sessions/store_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Propagate warmpool label from sandbox to pod
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(go-client): add DisablePodIPRouting option
  clients/go/sandbox/connector.go
  clients/go/sandbox/files_test.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address review: rename disablePodIP and drop redundant setDefaults call
  clients/go/sandbox/connector.go
  clients/go/sandbox/files_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comments
  examples/kata-gke-sandbox/setup.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: use SemVer tag example for Go SDK release
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update RELEASE.md
  RELEASE.md
Due: none

yaml: set sandbox router namespace to default
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: remove standalone Go SDK release flow
  Makefile
  RELEASE.md
  clients/go/README.md
  dev/tools/release-go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(release): remove standalone Go client release workflow
  .github/workflows/go-client-release.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix concurrency race condition in resourcectl local state management
  dev/tools/resourcectl/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix Algorithm Complexity (ReDoS) in File Matching Exclusions
  dev/tools/shared/headers.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

resourcectl: bound state-lock hold time and fix flock go.mod entry
  dev/tools/go.mod
  dev/tools/resourcectl/main.go
  dev/tools/resourcectl/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address PR review comments
  dev/tools/resourcectl/main.go
  dev/tools/resourcectl/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix formatting issue
  dev/tools/resourcectl/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(controller): use strings.SplitSeq for modernize linter compliance
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add CodeRabbit AI review configuration
  .coderabbit.yaml
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(client/go): disable HTTP redirects in SandboxConnector to prevent SSRF
  clients/go/sandbox/connector.go
  clients/go/sandbox/connector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(client/go): address review feedback on redirect check tests
  clients/go/sandbox/connector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(examples/chrome-sandbox): use native building and cross-compilation for arm64 target
  examples/chrome-sandbox/Dockerfile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix e2e test
  test/e2e/extensions/shutdown_policy_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update the site to reflect v1beta1 API changes.
  site/content/docs/filesystem/_index.md
  site/content/docs/filesystem/list-files/_index.md
  site/content/docs/filesystem/read-write/_index.md
  site/content/docs/filesystem/upload-download/_index.md
  site/content/docs/getting_started/sdk_reference/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/source/template.yaml
  site/content/docs/sandbox/custom_sandbox/image/_index.md
  site/content/docs/sandbox/lifecycle/_index.md
  site/content/docs/sandbox/lifecycle/source/template.yaml
  site/content/docs/sandbox/metrics/_index.md
  site/content/docs/sandbox/snapshots/_index.md
  site/content/docs/sandbox/snapshots/source/template.yaml
  site/content/docs/use-cases/gvisor-isolation/_index.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
  site/content/docs/volumes/gcsfuse-csi/_index.md
  site/content/docs/volumes/volume-claim-template/_index.md
  site/content/docs/volumes/volume-claim-template/source/template.yaml
Due: presubmit-test-autogen-up-to-date

feat: warmpool selection strategy
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  extensions/controllers/queue/simple_sandbox_queue.go
  extensions/controllers/queue/simple_sandbox_queue_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  test/e2e/framework/predicates/sandbox.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add an example to run MCP server inside a sandbox.
  examples/mcp-server-sandbox/Dockerfile
  examples/mcp-server-sandbox/README.md
  examples/mcp-server-sandbox/client.py
  examples/mcp-server-sandbox/mcp_server.py
  examples/mcp-server-sandbox/requirements.txt
  examples/mcp-server-sandbox/returned-random.bin
  examples/mcp-server-sandbox/sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

remove bin file.
  examples/mcp-server-sandbox/returned-random.bin
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add an example in main folder.
  examples/README.md
Due: none

Add an example in main folder.
  examples/mcp-server-sandbox/README.md
Due: none

fix readme.
  examples/mcp-server-sandbox/README.md
Due: none

Address coderabbit comments.
  site/content/docs/sandbox/custom_sandbox/custom_environment/_index.md
  site/content/docs/sandbox/metrics/_index.md
  site/content/docs/sandbox/snapshots/_index.md
Due: none

Add swp label after scrubbing user-supplied labels
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(python-sdk): support snapshot restoration and dedicated restore
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

address comments
  dev/tools/test-e2e
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
