Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

fix: detect resume from intermediate suspended state
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

resolve formating issues
  docs/keps/539.3-sandboxd-portable-backend/README.md
Due: none

tests: split stress into fill, probe, and throughput phases
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/main.go
  test/stress/phases.go
  test/stress/tracker.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(openclaw-gvisor-sandbox): harden template (non-root uid 1000, HOME-redirected workspace)
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/openclaw-template.yaml
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: use https for raw.githubusercontent.com curl command
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

docs: fix broken Analytics Tool link in code-execution use case page
  site/content/docs/use-cases/code-execution/_index.md
Due: none

docs: clarify Alpha to Beta API Versioning roadmap status
  roadmap.md
Due: none

Address comment and unit tests
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  test/e2e/basic_test.go
  test/e2e/mode_test.go
  test/e2e/shutdown_test.go
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: remove nonexistent v0.0.1 tag reference in roadmap
  roadmap.md
Due: none

docs: remove unrelated Go prerequisite from langchain example
  examples/langchain/README.md
Due: none

docs: fix missing 'to' in install prerequisites guide
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

docs: remove stray extra parenthesis in analytics-tool prerequisites
  examples/analytics-tool/README.md
Due: none

docs: fix wrong step description before gcloud builds submit
  examples/analytics-tool/README.md
Due: none

tests: key stress sandbox records by PhaseNumber
  test/stress/main.go
  test/stress/phases.go
  test/stress/tracker.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: collect Prometheus metrics during stress runs
  go.mod
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/main.go
  test/stress/promscrape.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(openclaw-gvisor-sandbox): match tester's default cluster name to README; drop debug patches from kind-config
  examples/openclaw-gvisor-sandbox/kind-config.yaml
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add more e2e tests
  api/v1beta1/sandbox_types.go
  test/e2e/mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(client/go): make WarmPoolName optional on Client Options
  clients/go/sandbox/client.go
  clients/go/sandbox/client_test.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandbox_test.go
  examples/code-interpreter-agent-on-adk/README.md
  site/content/docs/filesystem/list-files/_index.md
  site/content/docs/filesystem/read-write/_index.md
  site/content/docs/filesystem/upload-download/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/_index.md
  site/content/docs/sandbox/lifecycle/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Handle legacy SandboxClaim owner references
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: fix chrome-sandbox example to match Sandbox CRD schema
  examples/chrome-sandbox/README.md
Due: none

docs: fix pod count mismatch for gke-swap in examples index
  examples/README.md
Due: none

docs: fix invalid kubectl port-forward target in chrome-sandbox example
  examples/chrome-sandbox/README.md
Due: none

docs: remove invalid trailing comma in kubectl patch json example
  docs/configuration.md
Due: none

docs: fix wrong sandbox_router path, should be sandbox-router
  examples/vscode-sandbox/README.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
Due: none

fix(sandbox-router): replace time.After with reusable time.NewTimer in retry loop
  sandbox-router/proxy/retry.go
  sandbox-router/proxy/retry_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

metric: fold first-ready backfill into early patch, clarify launch_type docs
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  examples/keda-scale-to-zero/README.md
  internal/metrics/metrics.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(api): mark Sandbox.spec.volumeClaimTemplates immutable via CEL
  api/v1beta1/sandbox_types.go
  docs/api.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): clarify misleading comment in timer drain test
  sandbox-router/proxy/retry_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

ci: threshold flaky tests on cross-tab totals in flake-report
  dev/tools/flake-report
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: analyze data and report known problems
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/generate-report/download_results.py
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/static/report.css
  test/stress/generate-report/static/report.js
  test/stress/generate-report/templates/agent-sandbox-controller.html
  test/stress/generate-report/templates/apiserver.html
  test/stress/generate-report/templates/base.html
  test/stress/generate-report/templates/capacity.html
  test/stress/generate-report/templates/cri.html
  test/stress/generate-report/templates/etcd.html
  test/stress/generate-report/templates/index.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

kep(539.2): update kep to add sandboxd hybrid gRPC/REST implementation details and SDK migration plan
  docs/keps/539.2-runtime-standardization/README.md
  docs/keps/539.2-runtime-standardization/kep.yaml
  docs/keps/539.3-sandboxd-portable-backend/README.md
  docs/keps/539.3-sandboxd-portable-backend/kep.yaml
Due: none

stress-report: fall back to summary.json.gz like the other artifacts
  test/stress/generate-report/generate_report.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

kep(539.2): address CodeRabbit review feedback on HEAD, path sanitization, and probe rationale
  docs/keps/539.2-runtime-standardization/README.md
Due: none

stress-test: fail when the test exceeds spare cluster pod capacity
  test/stress/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: size the fill phase per worker node
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
