Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

docs: address CodeRabbit review feedback on KEP-1306
  docs/keps/1306-warm-pool-claim-defaults/README.md
Due: none

docs(examples): add command-governance example under examples/policy
  examples/policy/command-governance/README.md
Due: none

fix: word-boundary-anchor the rm -rf/-fr deny pattern
  examples/policy/command-governance/README.md
Due: none

fix: cover mixed-case, split-flag, and long-option rm -rf forms
  examples/policy/command-governance/README.md
Due: none

fix: parse command via shlex instead of raw-string regex
  examples/policy/command-governance/README.md
Due: none

fix: token-aware, basename-matched deny checks for rm/mkfs/dd
  examples/policy/command-governance/README.md
Due: none

docs(warmpool): note the version-skew dependency on the mirrored condition
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

minor fix for scenarios with missing command
  packages/sandboxd/USER_GUIDE.md
Due: none

feat(sandbox-router): bootstrap a browser-session cookie, guard it against CSWSH
  sandbox-router/cmd/main.go
  sandbox-router/proxy/authz_test.go
  sandbox-router/proxy/browsersession.go
  sandbox-router/proxy/browsersession_test.go
  sandbox-router/proxy/proxy.go
  sandbox-router/proxy/websocket_integration_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): address review — Origin scheme, bootstrap gate, cookie stripping
  sandbox-router/authz/identity.go
  sandbox-router/proxy/browsersession.go
  sandbox-router/proxy/browsersession_test.go
  sandbox-router/proxy/proxy.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): let authz find a credential in a query param or cookie
  sandbox-router/authz/identity.go
  sandbox-router/authz/identity_test.go
  sandbox-router/authz/scopedtoken.go
  sandbox-router/authz/scopedtoken_test.go
  sandbox-router/authz/tokenreview.go
  sandbox-router/authz/tokenreview_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(sandbox-router): fix stale references, add shared-origin warning
  sandbox-router/README.md
  sandbox-router/config/flags.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): add --authz-cookie-* config for browser sessions
  sandbox-router/config/config.go
  sandbox-router/config/config_test.go
  sandbox-router/config/flags.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): fix lint-go failures from CI
  sandbox-router/proxy/authz_test.go
  sandbox-router/proxy/browsersession.go
  sandbox-router/proxy/browsersession_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(sandbox-router): document browser-session credentials
  sandbox-router/README.md
Due: none

fix(sandbox-router): fix unparam lint failure in bootstrapServer
  sandbox-router/proxy/browsersession_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): trust X-Forwarded-Proto for same-origin check behind a TLS-terminating proxy
  sandbox-router/README.md
  sandbox-router/config/config.go
  sandbox-router/config/config_test.go
  sandbox-router/config/flags.go
  sandbox-router/proxy/browsersession.go
  sandbox-router/proxy/browsersession_test.go
  sandbox-router/proxy/proxy.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): address review — cookie-allowed-origins validation, cookie-value safety
  sandbox-router/config/config.go
  sandbox-router/config/config_test.go
  sandbox-router/proxy/browsersession.go
  sandbox-router/proxy/browsersession_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix dd destructive-operand check: key on of= not if=
  examples/policy/command-governance/README.md
Due: none

updated readme
  docs/keps/1434-multi-cluster-fleet/README.md
Due: none

fix(deps): bump starlette to 1.1.0 in sandbox-router requirements.txt
  clients/python/agentic-sandbox-client/sandbox-router/requirements.txt
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(site): bump transitive picomatch to patch ReDoS (GHSA-c2c7-rcm5-vvqj)
  site/package-lock.json
Due: presubmit-test-autogen-up-to-date

ci(helm): lint the chart and verify rendered resources
  .github/workflows/ci.yml
  Makefile
  dev/ci/presubmits/lint-helm
  dev/tools/lint-helm
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci(helm): require a chart version bump for generated content
  .github/workflows/ci.yml
  Makefile
  dev/ci/presubmits/test-autogen-up-to-date
  dev/tools/bump-chart-version
  dev/tools/verify-chart-version
  dev/tools/verify_chart_version_test.py
  helm/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(e2e): probe GET reachability before POST /execute
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add workspace resource overrides to sandbox claims
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address workspace resource review comments
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: allow zero workspace resource overrides
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: regenerate workspace resource artifacts
  docs/api.md
  extensions/api/v1beta1/zz_generated.deepcopy.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: cover workspace resource partial overrides
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: clarify workspace resource cold starts
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: use Kubernetes-native workspace resource overrides
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix workspace resource review feedback
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix workspace resource claims clearing
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address workspace resource review feedback
  docs/api.md
  extensions/api/v1alpha1/sandboxclaim_conversion.go
  extensions/api/v1alpha1/sandboxclaim_conversion_test.go
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: cover claim conversion with alpha state
  extensions/api/v1alpha1/sandboxclaim_conversion_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor: isolate workspace override helpers
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: cover workspace override limit below inherited request
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

remove podname label from type and sandbox controller
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Remove PodNameAnnotation from Go SDK and docs
  clients/go/sandbox/k8s.go
  clients/go/sandbox/sandbox_test.go
  clients/go/sandbox/tracing_test.go
  clients/go/sandbox/types.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
