Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

fix: only hint router_namespace on not-found tunnel crash
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bench: raise etcd backend quota to 8GiB (#1551)
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf(sandbox): requeue without error when namespace is terminating (#1617)
  controllers/errors.go
  controllers/errors_test.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: simplify installation in README with latest release downloads (#1622)
  README.md
Due: none

fix(controller): stop hot-looping on Sandboxes whose derived Service name is too long
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(api): document shutdown defaults and podIPs suspend semantics
  api/v1beta1/sandbox_types.go
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  site/content/docs/sandbox/lifecycle/_index.md
  site/content/docs/sandbox/snapshots/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(api): document claim podIPs resume semantics and soften expiry godoc wording
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(lifecycle): cover SandboxClaim defaults in the Default Behavior section
  site/content/docs/sandbox/lifecycle/_index.md
Due: none

Fix toc-verify false positives on Windows CRLF checkouts
  .gitattributes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: execution-scoped credentials for a reused Sandbox
  examples/README.md
  examples/containarium-execution-scoped-token/Dockerfile
  examples/containarium-execution-scoped-token/README.md
  examples/containarium-execution-scoped-token/gateway.yaml
  examples/containarium-execution-scoped-token/kind-config.yaml
  examples/containarium-execution-scoped-token/networkpolicy.yaml
  examples/containarium-execution-scoped-token/run-test-kind.sh
  examples/containarium-execution-scoped-token/runner/gateway.go
  examples/containarium-execution-scoped-token/runner/main.go
  examples/containarium-execution-scoped-token/runner/probe.go
  examples/containarium-execution-scoped-token/runner/token.go
  examples/containarium-execution-scoped-token/sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: add openclaw-fleet-gke enterprise fleet blueprint
  examples/README.md
  examples/openclaw-fleet-gke/00-prereqs.yaml
  examples/openclaw-fleet-gke/10-storage.yaml
  examples/openclaw-fleet-gke/20-openclaw-template.yaml
  examples/openclaw-fleet-gke/30-warmpool.yaml
  examples/openclaw-fleet-gke/40-fleet-portal/Dockerfile
  examples/openclaw-fleet-gke/40-fleet-portal/portal.py
  examples/openclaw-fleet-gke/40-fleet-portal/portal.yaml
  examples/openclaw-fleet-gke/40-fleet-portal/requirements.txt
  examples/openclaw-fleet-gke/50-router/10-router.yaml
  examples/openclaw-fleet-gke/50-router/20-gateway.yaml
  examples/openclaw-fleet-gke/50-router/30-iap-optional.yaml
  examples/openclaw-fleet-gke/50-router/README.md
  examples/openclaw-fleet-gke/60-snapshots/00-storageconfig.yaml
  examples/openclaw-fleet-gke/60-snapshots/10-policy.yaml
  examples/openclaw-fleet-gke/60-snapshots/20-suspend-resume.md
  examples/openclaw-fleet-gke/60-snapshots/30-snapshot-hibernate.md
  examples/openclaw-fleet-gke/70-rolling-update.sh
  examples/openclaw-fleet-gke/README.md
  examples/openclaw-fleet-gke/run-test-gke.sh
  examples/openclaw-fleet-gke/setup/provision-gke.sh
  examples/openclaw-fleet-gke/setup/teardown-gke.sh
  examples/openclaw-fleet-gke/tools/fio-workspace-job.yaml
  examples/openclaw-fleet-gke/tools/measure-claim-latency.sh
  site/content/docs/use-cases/examples/openclaw-fleet-gke/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add configurable TLS version and cipher suites for controller and router (#1595)
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/tlsconfig.go
  cmd/agent-sandbox-controller/tlsconfig_test.go
  docs/configuration.md
  internal/tlsutil/tls.go
  internal/tlsutil/tls_test.go
  k8s/controller.yaml
  k8s/extensions.controller.yaml
  sandbox-router/README.md
  sandbox-router/config/config.go
  sandbox-router/config/config_test.go
  sandbox-router/config/flags.go
  sandbox-router/tlsutil/config.go
  sandbox-router/tlsutil/tls_profile_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples(openclaw-fleet-gke): fixes and measured results from live GKE validation
  examples/openclaw-fleet-gke/40-fleet-portal/portal.py
  examples/openclaw-fleet-gke/40-fleet-portal/portal.yaml
  examples/openclaw-fleet-gke/50-router/10-router.yaml
  examples/openclaw-fleet-gke/README.md
  examples/openclaw-fleet-gke/run-test-gke.sh
  examples/openclaw-fleet-gke/setup/provision-gke.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples(openclaw-fleet-gke): document teardown ordering rules from live validation
  examples/openclaw-fleet-gke/README.md
Due: none

metrics: persist sandbox stage-latency state in status.lifecycle
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  test/e2e/framework/predicates/sandbox.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandbox-router: improve the network policy to work with OLM
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

verify-olm-bundle: minor fixes
  AGENTS.md
  dev/tools/verify-olm-bundle
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: fix unit tests
  olm/hack/sync-k8s-manifests/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

olm: add networkpolicy
  olm/README.md
  olm/config/sandbox-router/kustomization.yaml
  olm/config/sandbox-router/networkpolicy.yaml
  olm/hack/sync-k8s-manifests/main.go
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

controller: add networkpolicy
  dev/tools/release
  k8s/networkpolicy.yaml
  olm/Makefile
  olm/config/default/kustomization.yaml
  olm/config/network-policy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: remove allow-metrics-traffic.yaml
  olm/config/network-policy/allow-metrics-traffic.yaml
  olm/config/network-policy/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bundle: add networkpolicy
  olm/bundle/manifests/sandbox-router_networking.k8s.io_v1_networkpolicy.yaml
  olm/config/sandbox-router/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: address code review findings and CI failures for idle lifecycle
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address round-2 review findings -- races, conversion gap, retain semantics
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  docs/api.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: use annotation to track idle-triggered suspensions and surface errors
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add idle lifecycle policy for automatic sandbox suspend/delete (#849)
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  internal/lifecycle/expiry.go
  internal/lifecycle/expiry_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address code review findings for idle lifecycle
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: preserve sandbox status when resuming idle workloads
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  packages/sandboxd/spec/process/v1/process.pb.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

bump helm chart version
  helm/Chart.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: align generated protobuf formatting with CI
  packages/sandboxd/spec/process/v1/process.pb.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: bump chart version for generated CRD changes
  helm/Chart.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

address CodeRabbit review
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  helm/Chart.yaml
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/gemini-cu-sandbox: move to python 3.14 and recompile requirements (#1628)
  examples/gemini-cu-sandbox/Dockerfile
  examples/gemini-cu-sandbox/requirements.in
  examples/gemini-cu-sandbox/requirements.txt
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bench: disable kindnet network policies in the kops-gcp benchmarks
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bench: disable kindnet network policies in the kops-gcp benchmarks (#1546)
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: cluster-wide egress control with the Network Policy API
  examples/README.md
  examples/network-policy-api-sandbox/README.md
  examples/network-policy-api-sandbox/env.sh
  examples/network-policy-api-sandbox/manifests/00-namespaces.yaml
  examples/network-policy-api-sandbox/manifests/10-shared-tools.yaml
  examples/network-policy-api-sandbox/manifests/20-sandbox-templates.yaml
  examples/network-policy-api-sandbox/manifests/30-cnp-admin-default-deny.yaml
  examples/network-policy-api-sandbox/manifests/40-cnp-admin-allow-dns.yaml
  examples/network-policy-api-sandbox/manifests/50-cnp-admin-allow-github.yaml
  examples/network-policy-api-sandbox/manifests/60-cnp-admin-team-b-allow-pypi.yaml
  examples/network-policy-api-sandbox/manifests/70-cnp-admin-pass-shared-tools.yaml
  examples/network-policy-api-sandbox/manifests/80-cnp-baseline-default-deny.yaml
  examples/network-policy-api-sandbox/manifests/90-raw-sandbox.yaml
  examples/network-policy-api-sandbox/scripts/01-create-cluster.sh
  examples/network-policy-api-sandbox/scripts/02-install-network-policies.sh
  examples/network-policy-api-sandbox/scripts/03-install-agent-sandbox.sh
  examples/network-policy-api-sandbox/scripts/04-deploy-demo.sh
  examples/network-policy-api-sandbox/scripts/setup-all.sh
  examples/network-policy-api-sandbox/scripts/teardown.sh
  examples/network-policy-api-sandbox/scripts/test.sh
  examples/policy/network-policy-management/README.md
  site/content/docs/use-cases/examples/network-policy-api-sandbox/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add comprehensive type annotations to Python client package (#794)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/async_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/commands/command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/async_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/snapshot_engine.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/py.typed
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_metrics.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/trace_manager.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
  clients/python/agentic-sandbox-client/pyproject.toml
  clients/python/agentic-sandbox-client/test_client.py
  clients/python/agentic-sandbox-client/test_computer_use_extension.py
  dev/tools/test-unit
  docs/python_sdk_reference.md
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: default deploy-kind to not build examples
  dev/tools/deploy-kind
  dev/tools/deploy_kind_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

address copilot review
  examples/network-policy-api-sandbox/README.md
Due: none

Fix relative link
  examples/network-policy-api-sandbox/README.md
Due: none
