Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

build: pin mypy to 1.x so the unit-test gate cannot float to 2.x
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): support automatic sandbox expiration
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): add label selectors to listAllSandboxes
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: add performance tuning guide for high-throughput deployments
  docs/configuration.md
  docs/performance-tuning.md
  site/content/docs/performance-assessment/_index.md
Due: none

review: spell out the full lifecycle field paths for shutdownAfterSeconds
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(mcp): add /healthz and /readyz probe endpoints (#1339)
  clients/integrations/mcp-server/README.md
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/probes.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/server.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/settings.py
  clients/integrations/mcp-server/pyproject.toml
  clients/integrations/mcp-server/tests/unit/test_probes.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(clients/ts): use explicit strict list request assertions
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: fix inaccurate API field references in lifecycle page
  site/content/docs/sandbox/lifecycle/_index.md
Due: none

run make bundle
  olm/bundle/manifests/agent-sandbox-config_v1_configmap.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/manager/manager.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add ConfigMap-based controller config override package
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/rbac.generated.yaml
  helm/values.yaml
  internal/config/config.go
  internal/config/config_test.go
  k8s/controller.yaml
  k8s/extensions.controller.yaml
  k8s/rbac.generated.yaml
  olm/config/manager/configmap.yaml
  olm/config/manager/kustomization.yaml
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/rbac/role.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

apply review
  cmd/agent-sandbox-controller/main.go
  helm/Chart.yaml
  helm/values.yaml
  olm/bundle/manifests/agent-sandbox-config_v1_configmap.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/manager/configmap.yaml
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test/fleet: multi-cluster benchmark for launching a million sandboxes a minute
  go.mod
  test/benchmarks/scenarios/fleet-kops-gcp/README.md
  test/benchmarks/scenarios/fleet-kops-gcp/down
  test/benchmarks/scenarios/fleet-kops-gcp/run
  test/benchmarks/scenarios/fleet-kops-gcp/up
  test/fleet/clusters.go
  test/fleet/creator.go
  test/fleet/distribution_test.go
  test/fleet/generate-report/generate_report.py
  test/fleet/generate-report/template.html.j2
  test/fleet/main.go
  test/fleet/recorder.go
  test/fleet/waitready.go
  test/fleet/watcher.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

perf(sandbox): one status write per launch behind --sandbox-transitional-status-window
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/status_writes.go
  controllers/status_writes_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fleet: tolerate an existing namespace when the driver connects
  test/fleet/clusters.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: clarify restartPolicy interaction with claim lifecycle cleanup (#1587)
  examples/aider-sandbox/template.yaml
  examples/gemini-cu-sandbox/sandbox-gemini-computer-use.yaml
  examples/hermes-agents-as-a-service/10-sandboxtemplate.yaml
  examples/kata-aks-sandbox/sandbox-kata-aks.yaml
  examples/kata-aks/sandboxtemplate.yaml
  examples/kata-gke-sandbox/sandbox-kata-gke.yaml
  examples/latebind-storage-gke-sandbox/sandbox-warmpool.yaml
  examples/sandboxd-sandbox/deploy/a-runtime-image.yaml
  examples/sandboxd-sandbox/deploy/b-inject-binary.yaml
  examples/sandboxd-sandbox/sandbox-template.yaml
  examples/warmpool-quickstart/llm.yaml
  examples/warmpool-quickstart/sandboxtemplate.yaml
  examples/warmpool-quickstart/secure-sandboxtemplate.yaml
  site/content/docs/sandbox/lifecycle/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): fail fast when the async connector cannot resolve a base URL
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci: enable ginkgolinter in shared golangci-lint config
  dev/tools/.golangci.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Handle transient HTTP disconnects in watch streams.
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/sandboxed-tools: pluggable toolsets + gemini-cli toolset in Go
  dev/tools/push-images
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/cmd/geminicli-toolbox/main.go
  examples/sandboxed-tools/cmd/sandboxed-tools-cli/main.go
  examples/sandboxed-tools/images/geminicli-toolbox/Dockerfile
  examples/sandboxed-tools/pkg/agent/agent.go
  examples/sandboxed-tools/pkg/tools/limited_writer.go
  examples/sandboxed-tools/pkg/tools/limited_writer_test.go
  examples/sandboxed-tools/pkg/toolsets/basic/basic.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/prompt.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/shell.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/glob.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/glob_match.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/glob_match_test.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/grep.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/list_directory.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/read_file.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/read_many_files.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/replace.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/toolbox.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/toolbox_test.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/write_file.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/tools.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/tools_test.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolset.go
  examples/sandboxed-tools/pkg/toolsets/toolsets.go
  examples/sandboxed-tools/pkg/toolsets/toolsets_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add optional TTL for pools and claims
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  helm/Chart.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  internal/lifecycle/expiry.go
  internal/lifecycle/expiry_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandboxd): kill process group on context cancellation to prevent orphan leaks (#1379)
  packages/sandboxd/pkg/server/process.go
  packages/sandboxd/pkg/server/process_test.go
  packages/sandboxd/pkg/server/server.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(dev): publish sandbox router deployment manifest in release assets
  dev/tools/generate-release-notes
  dev/tools/release
  dev/tools/release_test.py
  sandbox-router/deploy/README.md
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add unit tests for seven examples with untested security/state logic
  dev/tools/test-unit
  examples/firecracker-sandbox/test_main.py
  examples/gke-swap/python-density/test_parse_telemetry.py
  examples/hermes-agents-as-a-service/gateway/test_gateway.py
  examples/kata-aks/agent/test_agent.py
  examples/kata-aks/client/main_test.go
  examples/n8n-mcp/source/test_server.py
  examples/sandboxed-tools/pkg/agent/agent_test.go
  examples/webhook-inject-timestamp/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

build: normalize line endings via .gitattributes to fix Windows TOC false positives
  .gitattributes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandbox-router: improve the network policy to work with OLM
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: add networkpolicy
  olm/README.md
  olm/config/sandbox-router/kustomization.yaml
  olm/config/sandbox-router/networkpolicy.yaml
  olm/hack/sync-k8s-manifests/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

verify-olm-bundle: minor fixes
  AGENTS.md
  dev/tools/verify-olm-bundle
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: fix unit tests
  olm/hack/sync-k8s-manifests/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

controller: add networkpolicy
  k8s/networkpolicy.yaml
  olm/Makefile
  olm/config/manager/kustomization.yaml
  olm/config/manager/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bundle: add networkpolicy
  olm/bundle/manifests/agent-sandbox-controller_networking.k8s.io_v1_networkpolicy.yaml
  olm/bundle/manifests/sandbox-router_networking.k8s.io_v1_networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add configurable TLS version and cipher suites for controller and router
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/tlsconfig.go
  cmd/agent-sandbox-controller/tlsconfig_test.go
  docs/configuration.md
  internal/tlsutil/tls.go
  internal/tlsutil/tls_test.go
  k8s/controller.yaml
  k8s/extensions.controller.yaml
  sandbox-router/README.md
  sandbox-router/config/config.go
  sandbox-router/config/config_test.go
  sandbox-router/config/flags.go
  sandbox-router/tlsutil/config.go
  sandbox-router/tlsutil/tls_profile_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test-unit: include cluster-free e2e framework tests
  dev/tools/test-unit
  dev/tools/test_unit_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test-unit: document package selection regression test
  dev/tools/test_unit_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

resolve comments
  examples/README.md
  examples/nemoclaw-sandbox/README.md
  examples/nemoclaw-sandbox/nemoclaw-in-sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

kep: remove obsolete v1alpha1 conversion design
  docs/keps/1348-observe-sandboxclaim-startup-from-status/README.md
Due: none

docs: add performance tuning guide for high-throughput deployments (#1359)
  docs/configuration.md
  docs/performance-tuning.md
  site/content/docs/performance-assessment/_index.md
Due: none

test/fleet: tune HTTP transport idle connections to avoid ephemeral port exhaustion
  test/fleet/clusters.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

rbac: trim over-granted controller verbs and guard with an e2e RBAC-denial scan
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  helm/templates/extensions-rbac.generated.yaml
  helm/templates/rbac.generated.yaml
  k8s/extensions-rbac.generated.yaml
  k8s/rbac.generated.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/rbac/extensions_role.yaml
  olm/config/rbac/role.yaml
  test/e2e/extensions/testmain_test.go
  test/e2e/framework/rbacdenials.go
  test/e2e/testmain_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(deploy): add kustomization for sandbox router core components
  dev/tools/generate-release-notes
  sandbox-router/deploy/README.md
  sandbox-router/deploy/kustomization.yaml
  site/content/docs/getting_started/install_prerequisites/_index.md
  site/content/docs/use-cases/gvisor-isolation/_index.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/envd-sandbox: repin envd after upstream repo rename broke e2e
  examples/envd-sandbox/Dockerfile
  examples/envd-sandbox/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
