Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

update read me
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot.md
Due: none

Address comment on dynamic variable for namespaces.
  dev/load-test/agent-sandbox-load-test.yaml
  dev/load-test/cluster-loader-sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Also customise qps value.
  dev/load-test/agent-sandbox-load-test.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Apply gofmt fixes to sandbox_types.go
  api/v1alpha1/sandbox_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: default network policy
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: use watchset abstraction to avoid setting up watches every time
  test/e2e/chromesandbox_test.go
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/framework/predicates/conditions.go
  test/e2e/framework/predicates/sandbox.go
  test/e2e/framework/watchset.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: update to use exported SandboxNameHashLabel (#216)
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix go formatting
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix go formatting hello
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: implement non-blocking watch
  test/e2e/framework/client.go
  test/e2e/framework/watchset.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: sync labels and annotations from Sandbox to underlying Pod
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add comprehensive type annotations to Python client package
  clients/python/agentic-sandbox-client/agentic_sandbox/__init__.py
  clients/python/agentic-sandbox-client/agentic_sandbox/extensions/__init__.py
  clients/python/agentic-sandbox-client/agentic_sandbox/extensions/computer_use.py
  clients/python/agentic-sandbox-client/agentic_sandbox/py.typed
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/agentic_sandbox/trace_manager.py
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(langchain): filter ./ and ../ entries in ls_info
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/backend.py
  clients/python/langchain-agent-sandbox/tests/test_backend.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Transfer PVC ownership after Sandbox creation to eliminate orphan window
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Replace conflicting pod template volumes with volumeClaimTemplate volumes
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comments on validation checks for field types.
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/pyproject.toml
  clients/python/agentic-sandbox-client/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments on validation checks for field types.
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/tester.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update python sdk package name
  clients/python/agentic-sandbox-client/.gitignore
  clients/python/agentic-sandbox-client/GCP.md
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/extensions/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/extensions/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/extensions/computer_use.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/trace_manager.py
  clients/python/agentic-sandbox-client/pyproject.toml
  clients/python/agentic-sandbox-client/test_client.py
  clients/python/agentic-sandbox-client/test_computer_use_extension.py
  examples/code-interpreter-agent-on-adk/README.md
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Use a Deployment instead of a StatefulSet for the controller
  Makefile
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  examples/jupyterlab/README.md
  examples/python-runtime-sandbox/run-test-kind.sh
  extensions/controllers/sandboxclaim_controller.go
  k8s/controller.yaml
  k8s/extensions-rbac.generated.yaml
  k8s/extensions.controller.yaml
  k8s/rbac.generated.yaml
  test/e2e/framework/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update dynamic version to use setuptools-scm
  .github/workflows/pypi-publish.yml
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: gather kubelet/containerd logs in artifacts
  dev/tools/create-kind-cluster
  test/e2e/chromesandbox_test.go
  test/e2e/framework/client.go
  test/e2e/framework/componentlogs.go
  test/e2e/framework/testlogs.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Measure PR metrics
  .github/workflows/pr-analytics.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add logic to interrupt and drain and check kernel liveness.
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/tester.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Remove egg info folder from the commit.
  clients/python/agentic-sandbox-client/agentic_sandbox.egg-info/PKG-INFO
  clients/python/agentic-sandbox-client/agentic_sandbox.egg-info/SOURCES.txt
  clients/python/agentic-sandbox-client/agentic_sandbox.egg-info/dependency_links.txt
  clients/python/agentic-sandbox-client/agentic_sandbox.egg-info/requires.txt
  clients/python/agentic-sandbox-client/agentic_sandbox.egg-info/top_level.txt
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add live check of the kernel during the start process.
  examples/python-runtime-sandbox/main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix permission for PR analytics
  .github/workflows/pr-analytics.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update is_restored and error catch
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Create a sandbox kernel manager for handling the stateful execution.
  examples/python-runtime-sandbox/Dockerfile
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/sandbox_kernel_manager.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Expose timeout in client.
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix comments.
  examples/python-runtime-sandbox/sandbox_kernel_manager.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix comments in main.
  examples/python-runtime-sandbox/main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix folder structure.
  dev/load-test/README.md
  dev/load-test/agent-sandbox-load-test.yaml
  dev/load-test/test-recipes/high-volume-test.yaml
  dev/load-test/test-recipes/medium-scale-concurrent-load-test.yaml
  dev/load-test/test-recipes/throughput-test.yaml
  dev/load-test/test-recipes/warmpool-test/cluster-loader-sandbox-claim.yaml
  dev/load-test/test-recipes/warmpool-test/cluster-loader-sandbox-template.yaml
  dev/load-test/test-recipes/warmpool-test/cluster-loader-warmpool.yaml
  dev/load-test/test-recipes/warmpool-test/warmpool-burst-test.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix readme.
  dev/load-test/README.md
Due: none

tests: able to use particular version of kube
  dev/tools/create-kind-cluster
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Move Roadmap to it's own md file.
  README.md
  Roadmap.md
Due: none

changed to lowercase
  README.md
Due: none

Lowercase
  Roadmap.md
Due: none
