Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

examples: address review feedback
  examples/chrome-sandbox/README.md
  examples/composing-sandbox-nw-policies/README.md
  examples/kata-gke-sandbox/README.md
  examples/python-sdk-quickstart/README.md
Due: none

examples: resolve pod name via annotation with fallback; fix null image placeholder
  examples/quickstart/README.md
  examples/quickstart/gvisor.md
  examples/quickstart/kata-containers.md
  examples/ray-integration/direct-proxy/manifest.yaml
  examples/ray-integration/ray-autopilot-setup.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: adapt to post-#1417/#1470 main after rebase
  examples/quickstart/README.md
  examples/quickstart/gvisor.md
  examples/quickstart/kata-containers.md
  examples/vscode-sandbox/scripts/apply.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: fix stale commands, manifests, and docs across 18 examples
  examples/README.md
  examples/agent-sandbox-rl/README.md
  examples/aio-sandbox/README.md
  examples/chrome-sandbox/README.md
  examples/code-interpreter-agent-on-adk/README.md
  examples/composing-sandbox-nw-policies/README.md
  examples/composing-sandbox-nw-policies/rgd.yaml
  examples/envd-sandbox/README.md
  examples/gemini-cu-sandbox/run-test-kind.sh
  examples/gemini-cu-sandbox/sandbox-gemini-computer-use.yaml
  examples/jupyterlab/README.md
  examples/kata-gke-sandbox/README.md
  examples/langchain/README.md
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-kata-aks-sandbox/README.md
  examples/policy/network-policy-management/dns_poc_walkthrough.md
  examples/policy/opa-gatekeeper/README.md
  examples/policy/policy-controller/README.md
  examples/python-sdk-quickstart/README.md
  examples/quickstart/README.md
  examples/ray-integration/README.md
  examples/ray-integration/direct-proxy/README.md
  examples/ray-integration/direct-proxy/manifest.yaml
  examples/ray-integration/direct-proxy/rl_production_loop.py
  examples/vscode-sandbox/scripts/apply.sh
  examples/warmpool-quickstart/sandbox-claim.yaml
  examples/warmpool-quickstart/sandboxtemplate.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(examples): preserve POSIX paths in sandbox file writes
  examples/sandboxed-tools/pkg/tools/write_file.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

apply janet comments
  clients/go/examples/gateway/main.go
  clients/python/agentic-sandbox-client/sandbox-router/gateway.yaml
  examples/vscode-sandbox/README.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

run fix-go-generate
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.py
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): bump typescript devDependency to 7.x
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/package.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): reduce TypeScript SDK to the Kubernetes resource layer
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/__tests__/command-executor.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/filesystem.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/response-utils.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/commands/command-executor.ts
  clients/typescript/agentic-sandbox-client/src/commands/index.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/exceptions.ts
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
  clients/typescript/agentic-sandbox-client/src/extensions/index.ts
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
  clients/typescript/agentic-sandbox-client/src/files/index.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/response-utils.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/framework/predicates.ts
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): move OpenTelemetry tracing onto SDK 2.x
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/__tests__/trace-manager.test.ts
  clients/typescript/agentic-sandbox-client/src/trace-manager.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): bump @kubernetes/client-node to 2.x
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/package.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

run fix-go-generate (#1520)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.py
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/sandboxed-tools: extract agent loop into pkg/agent
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/cmd/sandboxed-tools-cli/main.go
  examples/sandboxed-tools/pkg/agent/agent.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/agentclientprotocol: address review follow-ups
  examples/agentclientprotocol/README.md
  examples/agentclientprotocol/go.mod
  examples/agentclientprotocol/main.go
  examples/agentclientprotocol/main_test.go
  examples/agentclientprotocol/pkg/acp/jsonrpc.go
  examples/agentclientprotocol/pkg/acp/jsonrpc_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/agentclientprotocol: add -addr to connect over TCP
  examples/agentclientprotocol/README.md
  examples/agentclientprotocol/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/sandboxed-tools: add in-cluster ACP server
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/cmd/acp-server/Dockerfile
  examples/sandboxed-tools/cmd/acp-server/k8s/acp-server.yaml
  examples/sandboxed-tools/cmd/acp-server/main.go
  go.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: apply ok-to-test label to Dependabot PRs from config
  .github/dependabot.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(metric): correct help strings and label docs to match implementation
  internal/metrics/metrics.go
  internal/metrics/tracing.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: add golden-snapshot warm pool example (GKE Pod Snapshots)
  examples/README.md
  examples/podsnapshot-golden-warmpool/00-storageconfig.yaml
  examples/podsnapshot-golden-warmpool/05-podsnapshotpolicy.yaml
  examples/podsnapshot-golden-warmpool/10-sandboxtemplate.yaml
  examples/podsnapshot-golden-warmpool/20-sandboxwarmpool.yaml
  examples/podsnapshot-golden-warmpool/25-primer-claim.yaml
  examples/podsnapshot-golden-warmpool/30-snapshot-trigger.yaml
  examples/podsnapshot-golden-warmpool/40-worker-claims.yaml
  examples/podsnapshot-golden-warmpool/50-refresh-claim.yaml
  examples/podsnapshot-golden-warmpool/README.md
  examples/podsnapshot-golden-warmpool/image/Dockerfile
  examples/podsnapshot-golden-warmpool/image/server.py
  examples/podsnapshot-golden-warmpool/run-test-gke.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(rl): handle-bound OpenHands workspaces + fleet fan-out example
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/openhands.py
  examples/agent-sandbox-rl/examples/run_openhands_fleet.py
  examples/agent-sandbox-rl/tests/test_openhands_adapter.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(rl): OpenHands fleet adapter — workspaces on fleet-acquired pods
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/openhands.py
  examples/agent-sandbox-rl/tests/test_openhands_adapter.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(rl): document the OpenHands adapter across README, architecture, and rl_integration
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/docs/architecture.md
  examples/agent-sandbox-rl/examples/rl_integration.md
Due: none

feat: advisory server-version skew check on attach
  clients/integrations/openhands/openhands_k8s_agent_sandbox/workspace.py
  clients/integrations/openhands/tests/unit/test_workspace.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: address #1503 review round 1
  clients/integrations/openhands/configs/agent-server-template.yaml
  clients/integrations/openhands/openhands_k8s_agent_sandbox/workspace.py
  clients/integrations/openhands/pyproject.toml
  clients/integrations/openhands/tests/unit/test_workspace.py
  examples/agent-sandbox-rl/examples/run_openhands_fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: address self-review — pool depth follows concurrency, realistic probe budget, helper ordering
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/openhands.py
  examples/agent-sandbox-rl/examples/run_openhands_fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: address #1503 review round 2 — conversation guard in snippet, Python 3.12 floor noted
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/examples/rl_integration.md
  examples/agent-sandbox-rl/examples/run_openhands_fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

site: link the golden-snapshot warm pool example from the Snapshots page
  site/content/docs/sandbox/snapshots/_index.md
Due: none

examples: address review feedback from igooch
  examples/gemini-cu-sandbox/run-test-kind.sh
  examples/gemini-cu-sandbox/sandbox-gemini-computer-use.yaml
  examples/python-sdk-quickstart/README.md
  examples/vscode-sandbox/scripts/apply.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: address #1503 review round 3 — narrow version-check errors, honest detach log, pool-cap override notice
  clients/integrations/openhands/openhands_k8s_agent_sandbox/workspace.py
  clients/integrations/openhands/pyproject.toml
  clients/integrations/openhands/tests/unit/test_workspace.py
  examples/agent-sandbox-rl/agent_sandbox_rl/adapters/openhands.py
  examples/agent-sandbox-rl/examples/run_openhands_fleet.py
  examples/agent-sandbox-rl/tests/test_openhands_adapter.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/podsnapshot-golden-warmpool: address review feedback
  examples/podsnapshot-golden-warmpool/05-podsnapshotpolicy.yaml
  examples/podsnapshot-golden-warmpool/image/Dockerfile
  examples/podsnapshot-golden-warmpool/run-test-gke.sh
  site/content/docs/sandbox/snapshots/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/podsnapshot-golden-warmpool: fix stale comment, prereqs, step numbering
  examples/podsnapshot-golden-warmpool/00-storageconfig.yaml
  examples/podsnapshot-golden-warmpool/README.md
  examples/podsnapshot-golden-warmpool/run-test-gke.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: apply ok-to-test label to Dependabot PRs from config (#1521)
  .github/dependabot.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/sandboxed-tools: extract agent loop into pkg/agent (#1482)
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/cmd/sandboxed-tools-cli/main.go
  examples/sandboxed-tools/pkg/agent/agent.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

spec(sandboxd): pin remote Buf Python plugins to avoid unpinned codegen drift
  packages/sandboxd/spec/buf.gen.python.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): add TypeScript SDK for the Sandbox resource layer (#976)
  .gitignore
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/biome.json
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/trace-manager.test.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/exceptions.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/logger.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  clients/typescript/agentic-sandbox-client/src/trace-manager.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
  clients/typescript/agentic-sandbox-client/tsconfig.json
  clients/typescript/agentic-sandbox-client/tsconfig.test.json
  clients/typescript/agentic-sandbox-client/vitest.config.ts
  dev/tools/shared/node.py
  dev/tools/test-e2e
  dev/tools/test-unit
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/framework/predicates.ts
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/package.json
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
  test/e2e/clients/typescript/test-manifests/sandbox-coldpool.yaml
  test/e2e/clients/typescript/test-manifests/sandbox-template.yaml
  test/e2e/clients/typescript/test-manifests/sandbox-warmpool.yaml
  test/e2e/clients/typescript/tsconfig.json
  test/e2e/clients/typescript/vitest.config.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

spec(sandboxd): pin remote Buf Python plugins to avoid unpinned codegen drift (#1527)
  packages/sandboxd/spec/buf.gen.python.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: address #1503 review round 4 — always derive host from the claimed sandbox; drop redundant test import
  clients/integrations/openhands/openhands_k8s_agent_sandbox/workspace.py
  clients/integrations/openhands/tests/unit/test_workspace.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
