Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

stress-report: attribute counter deltas to phases by window midpoint
  test/stress/generate-report/generate_report.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: only apply cilium settings when cilium is the CNI
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: include namespace in LocalTunnel router-not-found errors
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

nitpick fixes
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: surface kubelet pod-start pipeline congestion
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/templates/cri.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: add bpftrace node profiler
  images/bpftrace/Dockerfile
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/profiler/analyze-fsync.py
  test/stress/profiler/profiler.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: add Node Kernel page from the bpftrace profiler
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/templates/base.html
  test/stress/generate-report/templates/node.html
  test/stress/profiler/analyze-fsync.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: run /var/lib/containerd on local NVMe SSD nodes
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: default /var/lib/containerd to tmpfs
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: surface a stress-report link on the prow job page
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add sandbox PVC retention policy
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: satisfy lint for sandbox claim retention test
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: lower steady-state PVC retention log verbosity
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: compare PVC retention policy in warmpool blueprint staleness
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: raise kube-controller-manager client QPS
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: surface sandbox controller workqueue queueing
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/templates/agent-sandbox-controller.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: frame pod-start vs run_podsandbox as an approximation
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/templates/cri.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

metric: make observed-time cleanup UID-safe in claim tests
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  internal/metrics/metrics.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: add sandbox recycling (reset-and-reuse)
  .gitignore
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/observability.py
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/docs/design.md
  examples/agent-sandbox-rl/docs/strategies.md
  examples/agent-sandbox-rl/tests/test_recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: persistent exec session + git-only reset for recycling
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/tests/test_recycle.py
  examples/agent-sandbox-rl/tests/test_session.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: add performance report template
  examples/agent-sandbox-rl/performance_reports/.gitignore
  examples/agent-sandbox-rl/performance_reports/REPORT_TEMPLATE.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: harden recycling for non-git images and exec failures
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/tests/test_recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: fix recycle config/hooks fingerprint false-positive
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: sync recycling docs with shipped behavior
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/docs/design.md
  examples/agent-sandbox-rl/docs/strategies.md
Due: none

agent-sandbox-rl: add `reuse` mode to loadtest strategy comparison
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/tests/loadtest.py
  examples/agent-sandbox-rl/tests/test_loadtest.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/containarium-ssh-sandbox: address janetkuo's review
  examples/containarium-ssh-sandbox/README.md
  examples/containarium-ssh-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/containarium-ssh-sandbox: add a build-from-source Dockerfile
  examples/containarium-ssh-sandbox/Dockerfile
  examples/containarium-ssh-sandbox/README.md
  examples/containarium-ssh-sandbox/containarium-sandbox.yaml
  examples/containarium-ssh-sandbox/gateway-demo.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: add containarium-ssh-sandbox (SSH-native, MCP-in-the-box access)
  examples/README.md
  examples/containarium-ssh-sandbox/README.md
  examples/containarium-ssh-sandbox/containarium-sandbox.yaml
  examples/containarium-ssh-sandbox/gateway-demo.yaml
  examples/containarium-ssh-sandbox/run-test-kind.sh
  examples/containarium-ssh-sandbox/sshpiper.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/containarium-ssh-sandbox: address remaining review nits
  examples/containarium-ssh-sandbox/run-test-kind.sh
  examples/containarium-ssh-sandbox/sshpiper.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: README — planning multi-cluster/multi-pool deployments
  examples/agent-sandbox-rl/README.md
Due: none

feat(extensions): Add per-sandbox generated secrets
  extensions/api/v1alpha1/sandboxtemplate_conversion.go
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/generated_secrets.go
  extensions/controllers/generated_secrets_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/templates/extensions-rbac.generated.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/extensions-rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

operator: apply coderabbit minor fixes
  olm/README.md
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/network-policy/allow-metrics-traffic.yaml
  olm/config/prometheus/monitor.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: simplify makefile
  olm/.devcontainer/post-install.sh
  olm/Makefile
  olm/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: run dev/tools/fix-boilerplate dev/tools/fix-gomod
  olm/.devcontainer/post-install.sh
  olm/go.mod
  olm/hack/sync-k8s-manifests/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

operator: fix the standard operator-sdk README
  olm/README.md
Due: none

olm: add doc to maintain operator manifests
  olm/README.md
Due: none

operator: automatically copy files from k8s/ into operator/
  olm/Makefile
  olm/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: fix tests
  olm/Makefile
  olm/test/e2e/e2e_suite_test.go
  olm/test/e2e/e2e_test.go
  olm/test/utils/utils.go
  olm/test/utils/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
