Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

fix(site): stop homepage Quickstart code rendering at 20px
  site/assets/scss/_styles_project.scss
Due: presubmit-test-autogen-up-to-date

feat(ts-sdk): let getSandbox bound claim resolution and skip the Ready wait
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add --enable-rest-client-metrics flag and strengthen related tests
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/rest_client_metrics_test.go
  controllers/sandbox_podtemplate_fields_test.go
  docs/configuration.md
  helm/README.md
  helm/templates/_controller-args.tpl
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(ts-sdk): replace a getSandbox handle attached before its address existed
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor: define sandbox-name-hash label once in api/v1beta1
  api/v1beta1/sandbox_types.go
  cmd/agent-sandbox-controller/cacheoptions.go
  cmd/agent-sandbox-controller/cacheoptions_test.go
  cmd/agent-sandbox-controller/main.go
  controllers/pod_cache_transform_test.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/writebehind_coalesce_test.go
  sandbox-router/cache/authz_conformance_test.go
  sandbox-router/cache/cache.go
  sandbox-router/cache/cache_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update bundle to 1.0.5
  olm/Makefile
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/default/kustomization.yaml
  olm/config/manager/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bundle: add networkpolicy
  olm/bundle/manifests/sandbox-router_networking.k8s.io_v1_networkpolicy.yaml
  olm/config/sandbox-router/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

verify-olm-bundle: minor fixes
  dev/tools/verify-olm-bundle
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandbox-router: improve the network policy to work with OLM
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controller: add networkpolicy
  dev/tools/release
  k8s/networkpolicy.yaml
  olm/Makefile
  olm/config/default/kustomization.yaml
  olm/config/network-policy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: remove allow-metrics-traffic.yaml
  olm/config/network-policy/allow-metrics-traffic.yaml
  olm/config/network-policy/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: fix unit tests
  olm/hack/sync-k8s-manifests/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

networkpolicy: document port change when enabling secure metrics
  k8s/networkpolicy.yaml
  olm/config/network-policy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: add networkpolicy
  olm/README.md
  olm/config/sandbox-router/kustomization.yaml
  olm/config/sandbox-router/networkpolicy.yaml
  olm/hack/sync-k8s-manifests/main.go
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

apply barney-s comments
  dev/tools/release
  dev/tools/verify-olm-bundle
  k8s/hardening/networkpolicy.yaml
  olm/Makefile
  olm/README.md
  olm/config/default/kustomization.yaml
  olm/config/network-policy/networkpolicy.yaml
  olm/config/sandbox-router/networkpolicy.yaml
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

apply janet comments
  dev/tools/release
  dev/tools/release_test.py
  docs/configuration.md
  helm/Chart.yaml
  k8s/hardening/networkpolicy.yaml
  olm/README.md
  olm/bundle/manifests/sandbox-router_networking.k8s.io_v1_networkpolicy.yaml
  olm/config/network-policy/networkpolicy.yaml
  olm/config/sandbox-router/networkpolicy.yaml
  sandbox-router/deploy/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: regenerate SDK reference docs for Kata/gVisor note
  docs/go_sdk_reference.md
  docs/python_sdk_reference.md
Due: none

Make sandboxd reachable through sandbox-router over native gRPC
  dev/ci/presubmits/test-e2e
  examples/sandbox-router-grpc/README.md
  examples/sandbox-router-grpc/gateway.yaml
  examples/sandbox-router-grpc/main.go
  examples/sandbox-router-grpc/main_test.go
  examples/sandbox-router-grpc/verify-gateway.sh
  examples/sandbox-router-grpc/workload.yaml
  sandbox-router/README.md
  sandbox-router/cmd/main.go
  sandbox-router/config/config.go
  sandbox-router/config/file_test.go
  sandbox-router/config/flags.go
  sandbox-router/deploy/README.md
  sandbox-router/deploy/networkpolicy.yaml
  sandbox-router/observability/access_log.go
  sandbox-router/observability/access_log_test.go
  sandbox-router/observability/context.go
  sandbox-router/observability/tracing.go
  sandbox-router/observability/tracing_test.go
  sandbox-router/proxy/grpc.go
  sandbox-router/proxy/grpc_integration_test.go
  sandbox-router/proxy/grpc_sandboxd_test.go
  sandbox-router/proxy/headers.go
  sandbox-router/proxy/proxy.go
  sandbox-router/server/server.go
  sandbox-router/server/server_test.go
  test/e2e/extensions/sandboxd_router_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): reclaim gRPC connections after forced shutdown
  sandbox-router/cmd/main.go
  sandbox-router/proxy/grpc_connections.go
  sandbox-router/proxy/grpc_integration_test.go
  sandbox-router/proxy/proxy.go
  sandbox-router/server/grpc_lifecycle_test.go
  sandbox-router/server/server_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Preserve terminal metadata and verify gRPC shutdown
  examples/sandbox-router-grpc/main.go
  examples/sandbox-router-grpc/main_test.go
  sandbox-router/proxy/grpc.go
  sandbox-router/proxy/grpc_integration_test.go
  sandbox-router/server/grpc_lifecycle_test.go
  sandbox-router/server/server_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

multi-cluster-fleet: add README, part 3/4 (#1542)
  examples/multi-cluster-fleet/README.md
Due: none

multi-cluster-fleet: add deployment manifests and demo specs, part 2/4 (#1541)
  examples/multi-cluster-fleet/demo/claim-bench.py
  examples/multi-cluster-fleet/demo/fleet-spec-drain.yaml
  examples/multi-cluster-fleet/demo/fleet-spec.yaml
  examples/multi-cluster-fleet/deploy/Dockerfile
  examples/multi-cluster-fleet/deploy/build-push.sh
  examples/multi-cluster-fleet/deploy/clusterprofile-crd.yaml
  examples/multi-cluster-fleet/deploy/fleet-member-clusterprofile-patch.yaml
  examples/multi-cluster-fleet/deploy/fleet-member-deployment-wi.yaml
  examples/multi-cluster-fleet/deploy/gen-hub-kubeconfig.sh
  examples/multi-cluster-fleet/deploy/gen-hub-rbac.py
  examples/multi-cluster-fleet/deploy/planner-clusterprofile-patch.yaml
  examples/multi-cluster-fleet/deploy/planner-deployment.yaml
  examples/multi-cluster-fleet/deploy/rbac.yaml
  examples/multi-cluster-fleet/deploy/render.sh
  examples/multi-cluster-fleet/deploy/setup-hub.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

multi-cluster-fleet: add e2e test tooling and testing guide, part 4/4 (#1544)
  examples/multi-cluster-fleet/TESTING.md
  examples/multi-cluster-fleet/demo/fleet-spec-xs.yaml
  examples/multi-cluster-fleet/demo/observe.sh
  examples/multi-cluster-fleet/demo/preflight-cp-plan.py
  examples/multi-cluster-fleet/demo/run-xs-e2e.sh
  examples/multi-cluster-fleet/demo/stress-e2e.py
  examples/multi-cluster-fleet/deploy/create-gke-standard-fleet.sh
  examples/multi-cluster-fleet/deploy/example-templates-xs.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

multi-cluster-fleet: add ClusterProfile hub verification tooling (#1545)
  examples/multi-cluster-fleet/demo/cp-registry.py
  examples/multi-cluster-fleet/demo/fleet-spec-clusterprofile-e2e.yaml
  examples/multi-cluster-fleet/demo/publish-clusterprofile.py
  examples/multi-cluster-fleet/demo/seed-clusterprofiles.sh
  examples/multi-cluster-fleet/demo/watch-clusterprofile-drift.py
  examples/multi-cluster-fleet/deploy/auth-probe.sh
  examples/multi-cluster-fleet/deploy/hub-probe.sh
  examples/multi-cluster-fleet/deploy/hubcheck-job.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: port-forward does not work with Kata and gVisor (#1864)
  clients/go/sandbox/options.go
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/connection.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
  docs/go_sdk_reference.md
  docs/python_sdk_reference.md
  examples/sandboxd-sandbox/client/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add --enable-rest-client-metrics flag and strengthen related tests (#1571)
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/rest_client_metrics_test.go
  controllers/sandbox_podtemplate_fields_test.go
  docs/configuration.md
  helm/README.md
  helm/templates/_controller-args.tpl
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update bundle to 1.0.5 (#1879)
  olm/Makefile
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/default/kustomization.yaml
  olm/config/manager/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(sandboxd): correct the /v1/metadata credential markers (#1873)
  packages/sandboxd/USER_GUIDE.md
Due: none

fix(site): stop homepage Quickstart code rendering at 20px (#1875)
  site/assets/scss/_styles_project.scss
Due: presubmit-test-autogen-up-to-date

feat(clients/ts): add resolveTimeout and waitForReady options to getSandbox (#1877)
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(integrations): support SDK 1.x in mcp-server, nemo-gym, openai (#1871)
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/list_files.py
  clients/integrations/mcp-server/pyproject.toml
  clients/integrations/mcp-server/tests/unit/test_tools/test_list_files.py
  clients/integrations/nemo-gym/pyproject.toml
  clients/integrations/openai/pyproject.toml
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): restore sync/async parity for lifecycle and tunnel errors
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/claim_adoption.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  clients/python/agentic-sandbox-client/pyproject.toml
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(go-sdk): add SandboxClaim pod metadata, PVC templates, deterministic claim name, and per-call CreateOptions
  clients/go/sandbox/client.go
  clients/go/sandbox/client_test.go
  clients/go/sandbox/k8s.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox.go
  clients/go/sandbox/sandbox_test.go
  clients/go/sandbox/types.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(sdk): sync sandboxd Python connectivity, Python reference docs, and Go SDK guides
  Makefile
  clients/go/README.md
  docs/python_sdk_reference.md
  packages/sandboxd/USER_GUIDE.md
  site/content/docs/getting_started/go-sdk-quickstart/_index.md
  site/content/docs/use-cases/ci-cd/_index.md
  site/content/docs/use-cases/computer-use/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

flake-report: stop filing recovered breakage as a flake
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

flake-report: recover after one pass, ignore pass majority
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(examples): add KubeRay RayJob for RLlib SandboxEnv
  dev/tools/test-unit
  examples/agent-sandbox-gymnasium/README.md
  examples/agent-sandbox-gymnasium/rllib/README.md
  examples/agent-sandbox-gymnasium/rllib/file_task_env.py
  examples/agent-sandbox-gymnasium/rllib/kuberay/Dockerfile.rllib
  examples/agent-sandbox-gymnasium/rllib/kuberay/checkpoint-pvc.yaml
  examples/agent-sandbox-gymnasium/rllib/kuberay/namespace.yaml
  examples/agent-sandbox-gymnasium/rllib/kuberay/rayjob.yaml
  examples/agent-sandbox-gymnasium/rllib/kuberay/rbac.yaml
  examples/agent-sandbox-gymnasium/rllib/kuberay/requirements.lock
  examples/agent-sandbox-gymnasium/rllib/kuberay/sandbox.yaml
  examples/agent-sandbox-gymnasium/rllib/test_file_task_env.py
  examples/agent-sandbox-gymnasium/rllib/test_kuberay.py
  examples/agent-sandbox-gymnasium/rllib/test_run_verification.py
  examples/agent-sandbox-gymnasium/rllib/train.py
  examples/agent-sandbox-gymnasium/rllib/verify_sandbox_task.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(examples): keep RayJob sources and connections aligned
  examples/agent-sandbox-gymnasium/rllib/README.md
  examples/agent-sandbox-gymnasium/rllib/file_task_env.py
  examples/agent-sandbox-gymnasium/rllib/kuberay/Dockerfile.rllib
  examples/agent-sandbox-gymnasium/rllib/kuberay/requirements.lock
  examples/agent-sandbox-gymnasium/rllib/test_file_task_env.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): sync OLM policy for sandboxd gRPC egress
  olm/config/sandbox-router/networkpolicy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(examples): use the canonical sandboxd Service connection mode
  examples/agent-sandbox-gymnasium/rllib/file_task_env.py
  examples/agent-sandbox-gymnasium/rllib/test_file_task_env.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
